{
  "title": "Google Meet API",
  "rootUrl": "https://meet.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v2",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/meetings.space.created": {
          "description": "Create, edit, and see information about your Google Meet conferences created by the app."
        },
        "https://www.googleapis.com/auth/meetings.space.readonly": {
          "description": "Read information about any of your Google Meet conferences"
        },
        "https://www.googleapis.com/auth/meetings.space.settings": {
          "description": "Edit, and see settings for all of your Google Meet calls."
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://meet.googleapis.com/",
  "kind": "discovery#restDescription",
  "version_module": true,
  "protocol": "rest",
  "schemas": {
    "SmartNote": {
      "id": "SmartNote",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default, never used.",
            "An active smart notes session has started.",
            "This smart notes session has ended, but the smart notes file hasn't been generated yet.",
            "Smart notes file is generated and ready to download."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "description": "Output only. Current state.",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Timestamp when the smart notes started.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Resource name of the smart notes. Format: `conferenceRecords/{conference_record}/smartNotes/{smart_note}`, where `{smart_note}` is a 1:1 mapping to each unique smart notes session of the conference.",
          "type": "string"
        },
        "docsDestination": {
          "description": "Output only. The Google Doc destination where the smart notes are saved.",
          "readOnly": true,
          "$ref": "DocsDestination"
        },
        "endTime": {
          "description": "Output only. Timestamp when the smart notes stopped.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "Metadata for a smart note generated from a conference. It refers to the notes generated from Take Notes with Gemini during the conference.",
      "type": "object"
    },
    "ListParticipantSessionsResponse": {
      "id": "ListParticipantSessionsResponse",
      "properties": {
        "participantSessions": {
          "description": "List of participants in one page.",
          "type": "array",
          "items": {
            "$ref": "ParticipantSession"
          }
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
          "type": "string"
        }
      },
      "description": "Response of ListParticipants method.",
      "type": "object"
    },
    "RecordingConfig": {
      "id": "RecordingConfig",
      "properties": {
        "autoRecordingGeneration": {
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "description": "Defines whether a meeting space is automatically recorded when someone with the privilege to record joins the meeting.",
          "type": "string"
        }
      },
      "description": "Configuration related to recording in a meeting space.",
      "type": "object"
    },
    "ListTranscriptEntriesResponse": {
      "description": "Response for ListTranscriptEntries method.",
      "type": "object",
      "id": "ListTranscriptEntriesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcript entries. Unset if all entries are returned.",
          "type": "string"
        },
        "transcriptEntries": {
          "description": "List of TranscriptEntries in one page.",
          "type": "array",
          "items": {
            "$ref": "TranscriptEntry"
          }
        }
      }
    },
    "ParticipantSession": {
      "description": "Refers to each unique join or leave session when a user joins a conference from a device. Note that any time a user joins the conference a new unique ID is assigned. That means if a user joins a space multiple times from the same device, they're assigned different IDs, and are also be treated as different participant sessions.",
      "type": "object",
      "id": "ParticipantSession",
      "properties": {
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the user session starts.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Session id.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. Timestamp when the user session ends. Unset if the user session hasn’t ended.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "ActiveConference": {
      "id": "ActiveConference",
      "properties": {
        "conferenceRecord": {
          "readOnly": true,
          "description": "Output only. Reference to 'ConferenceRecord' resource. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space.",
          "type": "string"
        }
      },
      "description": "Active conference.",
      "type": "object"
    },
    "PhoneAccess": {
      "id": "PhoneAccess",
      "properties": {
        "pin": {
          "description": "The PIN that users must enter after dialing the given number. The PIN consists of only decimal digits and the length may vary.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The phone number to dial for this meeting space in E.164 format. Full phone number with a leading '+' character.",
          "type": "string"
        },
        "regionCode": {
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. To be parsed by the i18n RegionCode utility. Example: \"SE\" for Sweden.",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP 47/LDML language code for the language associated with this phone access. To be parsed by the i18n LanguageCode utility. Examples: \"es-419\" for Latin American Spanish, \"fr-CA\" for Canadian French.",
          "type": "string"
        }
      },
      "description": "Phone access contains information required to dial into a conference using a regional phone number and a PIN that is specific to that phone number.",
      "type": "object"
    },
    "ListTranscriptsResponse": {
      "description": "Response for ListTranscripts method.",
      "type": "object",
      "id": "ListTranscriptsResponse",
      "properties": {
        "transcripts": {
          "description": "List of transcripts in one page.",
          "type": "array",
          "items": {
            "$ref": "Transcript"
          }
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcripts. Unset if all transcripts are returned.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ListParticipantsResponse": {
      "description": "Response of ListParticipants method.",
      "type": "object",
      "id": "ListParticipantsResponse",
      "properties": {
        "participants": {
          "description": "List of participants in one page.",
          "type": "array",
          "items": {
            "$ref": "Participant"
          }
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "description": "Total, exact number of `participants`. By default, this field isn't included in the response. Set the field mask in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters) to receive this field in the response.",
          "type": "integer"
        }
      }
    },
    "Participant": {
      "description": "User who attended or is attending a conference.",
      "type": "object",
      "id": "Participant",
      "properties": {
        "earliestStartTime": {
          "description": "Output only. Time when the participant first joined the meeting.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the participant. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
          "type": "string"
        },
        "signedinUser": {
          "description": "Signed-in user.",
          "$ref": "SignedinUser"
        },
        "phoneUser": {
          "$ref": "PhoneUser",
          "description": "User calling from their phone."
        },
        "anonymousUser": {
          "description": "Anonymous user.",
          "$ref": "AnonymousUser"
        },
        "latestEndTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the participant left the meeting for the last time. This can be null if it's an active meeting.",
          "type": "string"
        }
      }
    },
    "ListConferenceRecordsResponse": {
      "description": "Response of ListConferenceRecords method.",
      "type": "object",
      "id": "ListConferenceRecordsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List does NOT include all the Conferences. Unset if all conferences have been returned.",
          "type": "string"
        },
        "conferenceRecords": {
          "description": "List of conferences in one page.",
          "type": "array",
          "items": {
            "$ref": "ConferenceRecord"
          }
        }
      }
    },
    "Recording": {
      "description": "Metadata about a recording created during a conference.",
      "type": "object",
      "id": "Recording",
      "properties": {
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the recording ended.",
          "type": "string"
        },
        "driveDestination": {
          "readOnly": true,
          "$ref": "DriveDestination",
          "description": "Output only. Recording is saved to Google Drive as an MP4 file. The `drive_destination` includes the Drive `fileId` that can be used to download the file using the `files.get` method of the Drive API."
        },
        "state": {
          "enumDescriptions": [
            "Default, never used.",
            "An active recording session has started.",
            "This recording session has ended, but the recording file hasn't been generated yet.",
            "Recording file is generated and ready to download."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "readOnly": true,
          "description": "Output only. Current state.",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Timestamp when the recording started.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the recording. Format: `conferenceRecords/{conference_record}/recordings/{recording}` where `{recording}` is a 1:1 mapping to each unique recording session during the conference.",
          "type": "string"
        }
      }
    },
    "GatewaySipAccess": {
      "description": "Details how to join the conference through a SIP gateway.",
      "type": "object",
      "id": "GatewaySipAccess",
      "properties": {
        "uri": {
          "description": "The Session Initiation Protocol (SIP) URI the conference can be reached through. The string is in one of these formats: * \"sip:USER_ID@GATEWAY_ADDRESS\" * \"sips:USER_ID@GATEWAY_ADDRESS\" where USER_ID is the 13-digit universal pin (with the future option to support using a Meet meeting code as well), and GATEWAY_ADDRESS is a valid address to be resolved using a DNS SRV lookup, or a dotted quad.",
          "type": "string"
        },
        "sipAccessCode": {
          "description": "The permanent numeric code for manual entry on specially configured devices.",
          "type": "string"
        }
      }
    },
    "ModerationRestrictions": {
      "description": "Defines restrictions for features when the meeting is moderated.",
      "type": "object",
      "id": "ModerationRestrictions",
      "properties": {
        "reactionRestriction": {
          "description": "Defines who has permission to send reactions in the meeting space.",
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ]
        },
        "presentRestriction": {
          "description": "Defines who has permission to share their screen in the meeting space.",
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ]
        },
        "defaultJoinAsViewerType": {
          "description": "Defines whether to restrict the default role assigned to users as viewer.",
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Users will by default join as viewers.",
            "Users will by default join as contributors."
          ],
          "enum": [
            "DEFAULT_JOIN_AS_VIEWER_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ]
        },
        "chatRestriction": {
          "description": "Defines who has permission to send chat messages in the meeting space.",
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ]
        }
      }
    },
    "SignedinUser": {
      "description": "A signed-in user can be: a) An individual joining from a personal computer, mobile device, or through companion mode. b) A robot account used by conference room devices.",
      "type": "object",
      "id": "SignedinUser",
      "properties": {
        "user": {
          "description": "Output only. Unique ID for the user. Interoperable with Admin SDK API and People API. Format: `users/{user}`",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. For a personal device, it's the user's first name and last name. For a robot account, it's the administrator-specified device name. For example, \"Altostrat Room\".",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SmartNotesConfig": {
      "description": "Configuration related to smart notes in a meeting space. For more information about smart notes, see [\"Take notes for me\" in Google Meet](https://support.google.com/meet/answer/14754931).",
      "type": "object",
      "id": "SmartNotesConfig",
      "properties": {
        "autoSmartNotesGeneration": {
          "description": "Defines whether to automatically generate a summary and recap of the meeting for all invitees in the organization when someone with the privilege to enable smart notes joins the meeting.",
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ]
        }
      }
    },
    "Transcript": {
      "description": "Metadata for a transcript generated from a conference. It refers to the ASR (Automatic Speech Recognition) result of user's speech during the conference.",
      "type": "object",
      "id": "Transcript",
      "properties": {
        "docsDestination": {
          "description": "Output only. Where the Google Docs transcript is saved.",
          "$ref": "DocsDestination",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. Timestamp when the transcript stopped.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Resource name of the transcript. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`, where `{transcript}` is a 1:1 mapping to each unique transcription session of the conference.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Default, never used.",
            "An active transcript session has started.",
            "This transcript session has ended, but the transcript file hasn't been generated yet.",
            "Transcript file is generated and ready to download."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "readOnly": true,
          "description": "Output only. Current state.",
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the transcript started.",
          "type": "string"
        }
      }
    },
    "DocsDestination": {
      "id": "DocsDestination",
      "properties": {
        "document": {
          "description": "Output only. The document ID for the underlying Google Docs transcript file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use the `documents.get` method of the Google Docs API (https://developers.google.com/docs/api/reference/rest/v1/documents/get) to fetch the content.",
          "type": "string",
          "readOnly": true
        },
        "exportUri": {
          "description": "Output only. URI for the Google Docs transcript file. Use `https://docs.google.com/document/d/{$DocumentId}/view` to browse the transcript in the browser.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Google Docs location where the transcript file is saved.",
      "type": "object"
    },
    "TranscriptionConfig": {
      "id": "TranscriptionConfig",
      "properties": {
        "autoTranscriptionGeneration": {
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "description": "Defines whether the content of a meeting is automatically transcribed when someone with the privilege to transcribe joins the meeting.",
          "type": "string"
        }
      },
      "description": "Configuration related to transcription in a meeting space.",
      "type": "object"
    },
    "PhoneUser": {
      "description": "User dialing in from a phone where the user's identity is unknown because they haven't signed in with a Google Account.",
      "type": "object",
      "id": "PhoneUser",
      "properties": {
        "displayName": {
          "description": "Output only. Partially redacted user's phone number when calling.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DriveDestination": {
      "description": "Export location where a recording file is saved in Google Drive.",
      "type": "object",
      "id": "DriveDestination",
      "properties": {
        "file": {
          "readOnly": true,
          "description": "Output only. The `fileId` for the underlying MP4 file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use `$ GET https://www.googleapis.com/drive/v3/files/{$fileId}?alt=media` to download the blob. For more information, see https://developers.google.com/drive/api/v3/reference/files/get.",
          "type": "string"
        },
        "exportUri": {
          "readOnly": true,
          "description": "Output only. Link used to play back the recording file in the browser. For example, `https://drive.google.com/file/d/{$fileId}/view`.",
          "type": "string"
        }
      }
    },
    "ConferenceRecord": {
      "description": "Single instance of a meeting held in a space.",
      "type": "object",
      "id": "ConferenceRecord",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of the conference record. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space.",
          "type": "string"
        },
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Server enforced expiration time for when this conference record resource is deleted. The resource is deleted 30 days after the conference ends.",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Timestamp when the conference started. Always set.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. Timestamp when the conference ended. Set for past conferences. Unset if the conference is ongoing.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "space": {
          "readOnly": true,
          "description": "Output only. The space where the conference was held.",
          "type": "string"
        }
      }
    },
    "AnonymousUser": {
      "id": "AnonymousUser",
      "properties": {
        "displayName": {
          "description": "Output only. User provided name when they join a conference anonymously.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "User who joins anonymously (meaning not signed into a Google Account).",
      "type": "object"
    },
    "SpaceConfig": {
      "description": "The configuration pertaining to a meeting space.",
      "type": "object",
      "id": "SpaceConfig",
      "properties": {
        "attendanceReportGenerationType": {
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Attendance report will be generated and sent to drive/email.",
            "Attendance report will not be generated."
          ],
          "enum": [
            "ATTENDANCE_REPORT_GENERATION_TYPE_UNSPECIFIED",
            "GENERATE_REPORT",
            "DO_NOT_GENERATE"
          ],
          "description": "Whether attendance report is enabled for the meeting space.",
          "type": "string"
        },
        "accessType": {
          "description": "Access type of the meeting space that determines who can join without knocking. Default: The user's default access settings. Controlled by the user's admin for enterprise users or RESTRICTED.",
          "type": "string",
          "enumDescriptions": [
            "Default value specified by the user's organization. Note: This is never returned, as the configured access type is returned instead.",
            "Anyone with the join information (for example, the URL or phone access information) can join without knocking.",
            "Members of the host's organization, invited external users, and dial-in users can join without knocking. Everyone else must knock.",
            "Only invitees can join without knocking. Everyone else must knock."
          ],
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "OPEN",
            "TRUSTED",
            "RESTRICTED"
          ]
        },
        "artifactConfig": {
          "$ref": "ArtifactConfig",
          "description": "Configuration pertaining to the auto-generated artifacts that the meeting supports."
        },
        "entryPointAccess": {
          "enumDescriptions": [
            "Unused.",
            "All entry points are allowed.",
            "Only entry points owned by the Google Cloud project that created the space can be used to join meetings in this space. Apps can use the Meet Embed SDK Web or mobile Meet SDKs to create owned entry points."
          ],
          "enum": [
            "ENTRY_POINT_ACCESS_UNSPECIFIED",
            "ALL",
            "CREATOR_APP_ONLY"
          ],
          "description": "Defines the entry points that can be used to join meetings hosted in this meeting space. Default: EntryPointAccess.ALL",
          "type": "string"
        },
        "moderation": {
          "description": "The pre-configured moderation mode for the Meeting. Default: Controlled by the user's policies.",
          "type": "string",
          "enumDescriptions": [
            "Moderation type is not specified. This is used to indicate the user hasn't specified any value as the user does not intend to update the state. Users are not allowed to set the value as unspecified.",
            "Moderation is off.",
            "Moderation is on."
          ],
          "enum": [
            "MODERATION_UNSPECIFIED",
            "OFF",
            "ON"
          ]
        },
        "moderationRestrictions": {
          "$ref": "ModerationRestrictions",
          "description": "When moderation.ON, these restrictions go into effect for the meeting. When moderation.OFF, will be reset to default ModerationRestrictions."
        }
      }
    },
    "Space": {
      "description": "Virtual place where conferences are held. Only one active conference can be held in one space at any given time.",
      "type": "object",
      "id": "Space",
      "properties": {
        "config": {
          "$ref": "SpaceConfig",
          "description": "Configuration pertaining to the meeting space."
        },
        "activeConference": {
          "$ref": "ActiveConference",
          "description": "Active conference, if it exists."
        },
        "name": {
          "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
          "type": "string"
        },
        "phoneAccess": {
          "description": "Output only. All regional phone access methods for this meeting space. Can be empty.",
          "type": "array",
          "items": {
            "$ref": "PhoneAccess"
          },
          "readOnly": true
        },
        "gatewaySipAccess": {
          "readOnly": true,
          "description": "Output only. The SIP-based access methods that can be used to join the conference. Can be empty.",
          "type": "array",
          "items": {
            "$ref": "GatewaySipAccess"
          }
        },
        "meetingUri": {
          "description": "Output only. URI used to join meetings consisting of `https://meet.google.com/` followed by the `meeting_code`. For example, `https://meet.google.com/abc-mnop-xyz`.",
          "type": "string",
          "readOnly": true
        },
        "meetingCode": {
          "readOnly": true,
          "description": "Output only. Type friendly unique string used to join the meeting. Format: `[a-z]+-[a-z]+-[a-z]+`. For example, `abc-mnop-xyz`. The maximum length is 128 characters. Can only be used as an alias of the space name to get the space.",
          "type": "string"
        }
      }
    },
    "ListSmartNotesResponse": {
      "id": "ListSmartNotesResponse",
      "properties": {
        "smartNotes": {
          "description": "List of smart notes in one page.",
          "type": "array",
          "items": {
            "$ref": "SmartNote"
          }
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the smart notes. Unset if all smart notes are returned.",
          "type": "string"
        }
      },
      "description": "Response for ListSmartNotes method.",
      "type": "object"
    },
    "TranscriptEntry": {
      "id": "TranscriptEntry",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the entry. Format: \"conferenceRecords/{conference_record}/transcripts/{transcript}/entries/{entry}\"",
          "type": "string"
        },
        "participant": {
          "readOnly": true,
          "description": "Output only. Refers to the participant who speaks.",
          "type": "string"
        },
        "text": {
          "description": "Output only. The transcribed text of the participant's voice, at maximum 10K words. Note that the limit is subject to change.",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the transcript entry started.",
          "type": "string"
        },
        "languageCode": {
          "description": "Output only. Language of spoken text, such as \"en-US\". IETF BCP 47 syntax (https://tools.ietf.org/html/bcp47)",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the transcript entry ended.",
          "type": "string"
        }
      },
      "description": "Single entry for one user’s speech during a transcript session.",
      "type": "object"
    },
    "ArtifactConfig": {
      "description": "Configuration related to meeting artifacts potentially generated by this meeting space.",
      "type": "object",
      "id": "ArtifactConfig",
      "properties": {
        "recordingConfig": {
          "$ref": "RecordingConfig",
          "description": "Configuration for recording."
        },
        "transcriptionConfig": {
          "$ref": "TranscriptionConfig",
          "description": "Configuration for auto-transcript."
        },
        "smartNotesConfig": {
          "$ref": "SmartNotesConfig",
          "description": "Configuration for auto-smart-notes."
        }
      }
    },
    "EndActiveConferenceRequest": {
      "description": "Request to end an ongoing conference of a space.",
      "type": "object",
      "id": "EndActiveConferenceRequest",
      "properties": {}
    },
    "ListRecordingsResponse": {
      "description": "Response for ListRecordings method.",
      "type": "object",
      "id": "ListRecordingsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the recordings. Unset if all recordings are returned.",
          "type": "string"
        },
        "recordings": {
          "description": "List of recordings in one page.",
          "type": "array",
          "items": {
            "$ref": "Recording"
          }
        }
      }
    }
  },
  "id": "meet:v2",
  "batchPath": "batch",
  "mtlsRootUrl": "https://meet.mtls.googleapis.com/",
  "canonicalName": "Meet",
  "documentationLink": "https://developers.google.com/workspace/meet/api",
  "revision": "20260702",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "description": "Create and manage meetings in Google Meet.",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "conferenceRecords": {
      "resources": {
        "recordings": {
          "methods": {
            "get": {
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings/{recordingsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Gets a recording by recording ID.",
              "id": "meet.conferenceRecords.recordings.get",
              "response": {
                "$ref": "Recording"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the recording.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+/recordings/[^/]+$"
                }
              }
            },
            "list": {
              "path": "v2/{+parent}/recordings",
              "parameters": {
                "parent": {
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum number of recordings to return. The service might return fewer than this value. If unspecified, at most 10 recordings are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Page token returned from previous List Call.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "response": {
                "$ref": "ListRecordingsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists the recording resources from the conference record. By default, ordered by start time and in ascending order.",
              "id": "meet.conferenceRecords.recordings.list",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "smartNotes": {
          "methods": {
            "get": {
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the smart note. Format: conferenceRecords/{conference_record}/smartNotes/{smart_note}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+/smartNotes/[^/]+$"
                }
              },
              "response": {
                "$ref": "SmartNote"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes/{smartNotesId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Gets smart notes by smart note ID.",
              "id": "meet.conferenceRecords.smartNotes.get"
            },
            "list": {
              "response": {
                "$ref": "ListSmartNotesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes",
              "parameterOrder": [
                "parent"
              ],
              "id": "meet.conferenceRecords.smartNotes.list",
              "httpMethod": "GET",
              "description": "Lists the set of smart notes from the conference record. By default, ordered by start time and in ascending order.",
              "path": "v2/{+parent}/smartNotes",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+$"
                },
                "pageSize": {
                  "description": "Optional. Maximum number of smart notes to return. The service might return fewer than this value. If unspecified, at most 10 smart notes are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. Page token returned from previous List Call.",
                  "location": "query",
                  "type": "string"
                }
              }
            }
          }
        },
        "transcripts": {
          "methods": {
            "get": {
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                  "description": "Required. Resource name of the transcript.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Transcript"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Gets a transcript by transcript ID.",
              "id": "meet.conferenceRecords.transcripts.get"
            },
            "list": {
              "response": {
                "$ref": "ListTranscriptsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts",
              "parameterOrder": [
                "parent"
              ],
              "id": "meet.conferenceRecords.transcripts.list",
              "httpMethod": "GET",
              "description": "Lists the set of transcripts from the conference record. By default, ordered by start time and in ascending order.",
              "path": "v2/{+parent}/transcripts",
              "parameters": {
                "pageToken": {
                  "description": "Page token returned from previous List Call.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^conferenceRecords/[^/]+$",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of transcripts to return. The service might return fewer than this value. If unspecified, at most 10 transcripts are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "resources": {
            "entries": {
              "methods": {
                "get": {
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Resource name of the `TranscriptEntry`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+/entries/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets a `TranscriptEntry` resource by entry ID. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
                  "id": "meet.conferenceRecords.transcripts.entries.get",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries/{entriesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "response": {
                    "$ref": "TranscriptEntry"
                  }
                },
                "list": {
                  "path": "v2/{+parent}/entries",
                  "parameters": {
                    "pageToken": {
                      "description": "Page token returned from previous List Call.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                      "description": "Required. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Maximum number of entries to return. The service might return fewer than this value. If unspecified, at most 10 entries are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "meet.conferenceRecords.transcripts.entries.list",
                  "httpMethod": "GET",
                  "description": "Lists the structured transcript entries per transcript. By default, ordered by start time and in ascending order. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
                  "response": {
                    "$ref": "ListTranscriptEntriesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ]
                }
              }
            }
          }
        },
        "participants": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "response": {
                "$ref": "Participant"
              },
              "id": "meet.conferenceRecords.participants.get",
              "httpMethod": "GET",
              "description": "Gets a participant by participant ID.",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the participant.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$"
                }
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "response": {
                "$ref": "ListParticipantsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists the participants in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted, this API defaults to `'participants/*, next_page_token'`.",
              "id": "meet.conferenceRecords.participants.list",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/participants",
              "parameters": {
                "pageToken": {
                  "description": "Page token returned from previous List Call.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `earliest_start_time` * `latest_end_time` For example, `latest_end_time IS NULL` returns active participants in the conference.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^conferenceRecords/[^/]+$",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of participants to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "resources": {
            "participantSessions": {
              "methods": {
                "get": {
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+/participantSessions/[^/]+$",
                      "description": "Required. Resource name of the participant.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "meet.conferenceRecords.participants.participantSessions.get",
                  "httpMethod": "GET",
                  "description": "Gets a participant session by participant session ID.",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions/{participantSessionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "response": {
                    "$ref": "ParticipantSession"
                  }
                },
                "list": {
                  "path": "v2/{+parent}/participantSessions",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. Page token returned from previous List Call.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `start_time` * `end_time` For example, `end_time IS NULL` returns active participant sessions in the conference record.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                      "description": "Required. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Maximum number of participant sessions to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "response": {
                    "$ref": "ListParticipantSessionsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists the participant sessions of a participant in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted this API defaults to `'participantsessions/*, next_page_token'`.",
                  "id": "meet.conferenceRecords.participants.participantSessions.list",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "path": "v2/{+name}",
          "parameters": {
            "name": {
              "description": "Required. Resource name of the conference.",
              "location": "path",
              "type": "string",
              "pattern": "^conferenceRecords/[^/]+$",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "response": {
            "$ref": "ConferenceRecord"
          },
          "id": "meet.conferenceRecords.get",
          "httpMethod": "GET",
          "description": "Gets a conference record by conference ID.",
          "flatPath": "v2/conferenceRecords/{conferenceRecordsId}",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "path": "v2/conferenceRecords",
          "parameters": {
            "pageToken": {
              "description": "Optional. Page token returned from previous List Call.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `space.meeting_code` * `space.name` * `start_time` * `end_time` For example, consider the following filters: * `space.name = \"spaces/NAME\"` * `space.meeting_code = \"abc-mnop-xyz\"` * `start_time>=\"2024-01-01T00:00:00.000Z\" AND start_time<=\"2024-01-02T00:00:00.000Z\"` * `end_time IS NULL`",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. Maximum number of conference records to return. The service might return fewer than this value. If unspecified, at most 25 conference records are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "flatPath": "v2/conferenceRecords",
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Lists the conference records. By default, ordered by start time and in descending order.",
          "id": "meet.conferenceRecords.list",
          "response": {
            "$ref": "ListConferenceRecordsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ]
        }
      }
    },
    "spaces": {
      "methods": {
        "get": {
          "path": "v2/{+name}",
          "parameters": {
            "name": {
              "description": "Required. Resource name of the space. Format: `spaces/{space}` or `spaces/{meetingCode}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. `{meetingCode}` is an alias for the space. It's a typeable, unique character string and is non-case sensitive. For example, `abc-mnop-xyz`. The maximum length is 128 characters. A `meetingCode` shouldn't be stored long term as it can become dissociated from a meeting space and can be reused for different meeting spaces in the future. Generally, a `meetingCode` expires 365 days after last use. For more information, see [Learn about meeting codes in Google Meet](https://support.google.com/meet/answer/10710509). For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "location": "path",
              "type": "string",
              "pattern": "^spaces/[^/]+$",
              "required": true
            }
          },
          "response": {
            "$ref": "Space"
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "flatPath": "v2/spaces/{spacesId}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "description": "Gets details about a meeting space. For an example, see [Get a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#get-meeting-space).",
          "id": "meet.spaces.get"
        },
        "endActiveConference": {
          "request": {
            "$ref": "EndActiveConferenceRequest"
          },
          "path": "v2/{+name}:endActiveConference",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^spaces/[^/]+$",
              "description": "Required. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v2/spaces/{spacesId}:endActiveConference",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "description": "Ends an active conference (if there's one). For an example, see [End active conference](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#end-active-conference).",
          "id": "meet.spaces.endActiveConference",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ]
        },
        "create": {
          "request": {
            "$ref": "Space"
          },
          "path": "v2/spaces",
          "parameters": {},
          "response": {
            "$ref": "Space"
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ],
          "flatPath": "v2/spaces",
          "parameterOrder": [],
          "id": "meet.spaces.create",
          "httpMethod": "POST",
          "description": "Creates a space."
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "response": {
            "$ref": "Space"
          },
          "id": "meet.spaces.patch",
          "httpMethod": "PATCH",
          "description": "Updates details about a meeting space. For an example, see [Update a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#update-meeting-space).",
          "flatPath": "v2/spaces/{spacesId}",
          "parameterOrder": [
            "name"
          ],
          "path": "v2/{+name}",
          "parameters": {
            "name": {
              "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "location": "path",
              "type": "string",
              "pattern": "^spaces/[^/]+$",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Optional. Field mask used to specify the fields to be updated in the space. If update_mask isn't provided(not set, set with empty paths, or only has \"\" as paths), it defaults to update all fields provided with values in the request. Using \"*\" as update_mask will update all fields, including deleting fields not set in the request.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Space"
          }
        }
      }
    }
  },
  "name": "meet"
}