{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "baseUrl": "https://meet.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/meet/api",
  "version_module": true,
  "kind": "discovery#restDescription",
  "rootUrl": "https://meet.googleapis.com/",
  "revision": "20260616",
  "servicePath": "",
  "description": "Create and manage meetings in Google Meet.",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "title": "Google Meet API",
  "discoveryVersion": "v1",
  "version": "v2",
  "mtlsRootUrl": "https://meet.mtls.googleapis.com/",
  "name": "meet",
  "canonicalName": "Meet",
  "ownerName": "Google",
  "id": "meet:v2",
  "protocol": "rest",
  "basePath": "",
  "resources": {
    "conferenceRecords": {
      "methods": {
        "get": {
          "id": "meet.conferenceRecords.get",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "path": "v2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets a conference record by conference ID.",
          "parameters": {
            "name": {
              "pattern": "^conferenceRecords/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Resource name of the conference."
            }
          },
          "flatPath": "v2/conferenceRecords/{conferenceRecordsId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "ConferenceRecord"
          }
        },
        "list": {
          "parameters": {
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `space.meeting_code` * `space.name` * `start_time` * `end_time` For example, consider the following filters: * `space.name = \"spaces/NAME\"` * `space.meeting_code = \"abc-mnop-xyz\"` * `start_time>=\"2024-01-01T00:00:00.000Z\" AND start_time<=\"2024-01-02T00:00:00.000Z\"` * `end_time IS NULL`"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Optional. Maximum number of conference records to return. The service might return fewer than this value. If unspecified, at most 25 conference records are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future."
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. Page token returned from previous List Call.",
              "location": "query"
            }
          },
          "flatPath": "v2/conferenceRecords",
          "response": {
            "$ref": "ListConferenceRecordsResponse"
          },
          "httpMethod": "GET",
          "id": "meet.conferenceRecords.list",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "parameterOrder": [],
          "description": "Lists the conference records. By default, ordered by start time and in descending order.",
          "path": "v2/conferenceRecords"
        }
      },
      "resources": {
        "participants": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListParticipantsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants",
              "parameters": {
                "parent": {
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^conferenceRecords/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Maximum number of participants to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token returned from previous List Call.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `earliest_start_time` * `latest_end_time` For example, `latest_end_time IS NULL` returns active participants in the conference.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the participants in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted, this API defaults to `'participants/*, next_page_token'`.",
              "path": "v2/{+parent}/participants",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "id": "meet.conferenceRecords.participants.list"
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Resource name of the participant.",
                  "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Participant"
              },
              "id": "meet.conferenceRecords.participants.get",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a participant by participant ID."
            }
          },
          "resources": {
            "participantSessions": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the participant sessions of a participant in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted this API defaults to `'participantsessions/*, next_page_token'`.",
                  "path": "v2/{+parent}/participantSessions",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "id": "meet.conferenceRecords.participants.participantSessions.list",
                  "response": {
                    "$ref": "ListParticipantSessionsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions",
                  "parameters": {
                    "filter": {
                      "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `start_time` * `end_time` For example, `end_time IS NULL` returns active participant sessions in the conference record.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                      "description": "Required. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of participant sessions to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Page token returned from previous List Call.",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "id": "meet.conferenceRecords.participants.participantSessions.get",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a participant session by participant session ID.",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions/{participantSessionsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Resource name of the participant.",
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+/participantSessions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ParticipantSession"
                  }
                }
              }
            }
          }
        },
        "transcripts": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                  "description": "Required. Resource name of the transcript.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Transcript"
              },
              "id": "meet.conferenceRecords.transcripts.get",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a transcript by transcript ID."
            },
            "list": {
              "id": "meet.conferenceRecords.transcripts.list",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the set of transcripts from the conference record. By default, ordered by start time and in ascending order.",
              "path": "v2/{+parent}/transcripts",
              "parameters": {
                "parent": {
                  "pattern": "^conferenceRecords/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Maximum number of transcripts to return. The service might return fewer than this value. If unspecified, at most 10 transcripts are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token returned from previous List Call.",
                  "location": "query"
                }
              },
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts",
              "response": {
                "$ref": "ListTranscriptsResponse"
              },
              "httpMethod": "GET"
            }
          },
          "resources": {
            "entries": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListTranscriptEntriesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`",
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Maximum number of entries to return. The service might return fewer than this value. If unspecified, at most 10 entries are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Page token returned from previous List Call.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "path": "v2/{+parent}/entries",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the structured transcript entries per transcript. By default, ordered by start time and in ascending order. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
                  "id": "meet.conferenceRecords.transcripts.entries.list"
                },
                "get": {
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries/{entriesId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+/entries/[^/]+$",
                      "description": "Required. Resource name of the `TranscriptEntry`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "TranscriptEntry"
                  },
                  "httpMethod": "GET",
                  "id": "meet.conferenceRecords.transcripts.entries.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a `TranscriptEntry` resource by entry ID. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ]
                }
              }
            }
          }
        },
        "recordings": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListRecordingsResponse"
              },
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "pattern": "^conferenceRecords/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of recordings to return. The service might return fewer than this value. If unspecified, at most 10 recordings are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token returned from previous List Call.",
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/recordings",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the recording resources from the conference record. By default, ordered by start time and in ascending order.",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "id": "meet.conferenceRecords.recordings.list"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a recording by recording ID.",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "id": "meet.conferenceRecords.recordings.get",
              "response": {
                "$ref": "Recording"
              },
              "httpMethod": "GET",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings/{recordingsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^conferenceRecords/[^/]+/recordings/[^/]+$",
                  "description": "Required. Resource name of the recording.",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "smartNotes": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListSmartNotesResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^conferenceRecords/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`"
                },
                "pageSize": {
                  "description": "Optional. Maximum number of smart notes to return. The service might return fewer than this value. If unspecified, at most 10 smart notes are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Page token returned from previous List Call."
                }
              },
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "path": "v2/{+parent}/smartNotes",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the set of smart notes from the conference record. By default, ordered by start time and in ascending order.",
              "id": "meet.conferenceRecords.smartNotes.list"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Gets smart notes by smart note ID.",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "id": "meet.conferenceRecords.smartNotes.get",
              "response": {
                "$ref": "SmartNote"
              },
              "httpMethod": "GET",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes/{smartNotesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^conferenceRecords/[^/]+/smartNotes/[^/]+$",
                  "description": "Required. Resource name of the smart note. Format: conferenceRecords/{conference_record}/smartNotes/{smart_note}",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "spaces": {
      "methods": {
        "create": {
          "flatPath": "v2/spaces",
          "parameters": {},
          "httpMethod": "POST",
          "response": {
            "$ref": "Space"
          },
          "id": "meet.spaces.create",
          "path": "v2/spaces",
          "parameterOrder": [],
          "description": "Creates a space.",
          "request": {
            "$ref": "Space"
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ]
        },
        "get": {
          "id": "meet.spaces.get",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Gets details about a meeting space. For an example, see [Get a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#get-meeting-space).",
          "path": "v2/{+name}",
          "parameters": {
            "name": {
              "description": "Required. Resource name of the space. Format: `spaces/{space}` or `spaces/{meetingCode}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. `{meetingCode}` is an alias for the space. It's a typeable, unique character string and is non-case sensitive. For example, `abc-mnop-xyz`. The maximum length is 128 characters. A `meetingCode` shouldn't be stored long term as it can become dissociated from a meeting space and can be reused for different meeting spaces in the future. Generally, a `meetingCode` expires 365 days after last use. For more information, see [Learn about meeting codes in Google Meet](https://support.google.com/meet/answer/10710509). For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^spaces/[^/]+$"
            }
          },
          "flatPath": "v2/spaces/{spacesId}",
          "response": {
            "$ref": "Space"
          },
          "httpMethod": "GET"
        },
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "description": "Updates details about a meeting space. For an example, see [Update a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#update-meeting-space).",
          "path": "v2/{+name}",
          "request": {
            "$ref": "Space"
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "id": "meet.spaces.patch",
          "response": {
            "$ref": "Space"
          },
          "httpMethod": "PATCH",
          "flatPath": "v2/spaces/{spacesId}",
          "parameters": {
            "name": {
              "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^spaces/[^/]+$"
            },
            "updateMask": {
              "location": "query",
              "description": "Optional. Field mask used to specify the fields to be updated in the space. If update_mask isn't provided(not set, set with empty paths, or only has \"\" as paths), it defaults to update all fields provided with values in the request. Using \"*\" as update_mask will update all fields, including deleting fields not set in the request.",
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        },
        "endActiveConference": {
          "id": "meet.spaces.endActiveConference",
          "path": "v2/{+name}:endActiveConference",
          "parameterOrder": [
            "name"
          ],
          "description": "Ends an active conference (if there's one). For an example, see [End active conference](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#end-active-conference).",
          "request": {
            "$ref": "EndActiveConferenceRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ],
          "flatPath": "v2/spaces/{spacesId}:endActiveConference",
          "parameters": {
            "name": {
              "pattern": "^spaces/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space)."
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Empty"
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/meetings.space.created": {
          "description": "Create, edit, and see information about your Google Meet conferences created by the app."
        },
        "https://www.googleapis.com/auth/meetings.space.readonly": {
          "description": "Read information about any of your Google Meet conferences"
        },
        "https://www.googleapis.com/auth/meetings.space.settings": {
          "description": "Edit, and see settings for all of your Google Meet calls."
        }
      }
    }
  },
  "schemas": {
    "SmartNotesConfig": {
      "id": "SmartNotesConfig",
      "type": "object",
      "description": "Configuration related to smart notes in a meeting space. For more information about smart notes, see [\"Take notes for me\" in Google Meet](https://support.google.com/meet/answer/14754931).",
      "properties": {
        "autoSmartNotesGeneration": {
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "type": "string",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "description": "Defines whether to automatically generate a summary and recap of the meeting for all invitees in the organization when someone with the privilege to enable smart notes joins the meeting."
        }
      }
    },
    "Transcript": {
      "description": "Metadata for a transcript generated from a conference. It refers to the ASR (Automatic Speech Recognition) result of user's speech during the conference.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the transcript. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`, where `{transcript}` is a 1:1 mapping to each unique transcription session of the conference."
        },
        "docsDestination": {
          "description": "Output only. Where the Google Docs transcript is saved.",
          "readOnly": true,
          "$ref": "DocsDestination"
        },
        "startTime": {
          "description": "Output only. Timestamp when the transcript started.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. Current state.",
          "enumDescriptions": [
            "Default, never used.",
            "An active transcript session has started.",
            "This transcript session has ended, but the transcript file hasn't been generated yet.",
            "Transcript file is generated and ready to download."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ]
        },
        "endTime": {
          "description": "Output only. Timestamp when the transcript stopped.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Transcript",
      "type": "object"
    },
    "ParticipantSession": {
      "id": "ParticipantSession",
      "type": "object",
      "description": "Refers to each unique join or leave session when a user joins a conference from a device. Note that any time a user joins the conference a new unique ID is assigned. That means if a user joins a space multiple times from the same device, they're assigned different IDs, and are also be treated as different participant sessions.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Session id."
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the user session ends. Unset if the user session hasn’t ended."
        },
        "startTime": {
          "description": "Output only. Timestamp when the user session starts.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "TranscriptEntry": {
      "id": "TranscriptEntry",
      "type": "object",
      "description": "Single entry for one user’s speech during a transcript session.",
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the transcript entry ended."
        },
        "participant": {
          "description": "Output only. Refers to the participant who speaks.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the transcript entry started."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the entry. Format: \"conferenceRecords/{conference_record}/transcripts/{transcript}/entries/{entry}\""
        },
        "languageCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Language of spoken text, such as \"en-US\". IETF BCP 47 syntax (https://tools.ietf.org/html/bcp47)"
        },
        "text": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The transcribed text of the participant's voice, at maximum 10K words. Note that the limit is subject to change."
        }
      }
    },
    "RecordingConfig": {
      "description": "Configuration related to recording in a meeting space.",
      "properties": {
        "autoRecordingGeneration": {
          "description": "Defines whether a meeting space is automatically recorded when someone with the privilege to record joins the meeting.",
          "type": "string",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ]
        }
      },
      "id": "RecordingConfig",
      "type": "object"
    },
    "DocsDestination": {
      "description": "Google Docs location where the transcript file is saved.",
      "properties": {
        "document": {
          "description": "Output only. The document ID for the underlying Google Docs transcript file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use the `documents.get` method of the Google Docs API (https://developers.google.com/docs/api/reference/rest/v1/documents/get) to fetch the content.",
          "readOnly": true,
          "type": "string"
        },
        "exportUri": {
          "description": "Output only. URI for the Google Docs transcript file. Use `https://docs.google.com/document/d/{$DocumentId}/view` to browse the transcript in the browser.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "DocsDestination",
      "type": "object"
    },
    "ListTranscriptsResponse": {
      "id": "ListTranscriptsResponse",
      "type": "object",
      "description": "Response for ListTranscripts method.",
      "properties": {
        "transcripts": {
          "type": "array",
          "items": {
            "$ref": "Transcript"
          },
          "description": "List of transcripts in one page."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcripts. Unset if all transcripts are returned."
        }
      }
    },
    "SpaceConfig": {
      "id": "SpaceConfig",
      "type": "object",
      "description": "The configuration pertaining to a meeting space.",
      "properties": {
        "moderationRestrictions": {
          "$ref": "ModerationRestrictions",
          "description": "When moderation.ON, these restrictions go into effect for the meeting. When moderation.OFF, will be reset to default ModerationRestrictions."
        },
        "artifactConfig": {
          "description": "Configuration pertaining to the auto-generated artifacts that the meeting supports.",
          "$ref": "ArtifactConfig"
        },
        "entryPointAccess": {
          "description": "Defines the entry points that can be used to join meetings hosted in this meeting space. Default: EntryPointAccess.ALL",
          "enumDescriptions": [
            "Unused.",
            "All entry points are allowed.",
            "Only entry points owned by the Google Cloud project that created the space can be used to join meetings in this space. Apps can use the Meet Embed SDK Web or mobile Meet SDKs to create owned entry points."
          ],
          "type": "string",
          "enum": [
            "ENTRY_POINT_ACCESS_UNSPECIFIED",
            "ALL",
            "CREATOR_APP_ONLY"
          ]
        },
        "moderation": {
          "type": "string",
          "enum": [
            "MODERATION_UNSPECIFIED",
            "OFF",
            "ON"
          ],
          "enumDescriptions": [
            "Moderation type is not specified. This is used to indicate the user hasn't specified any value as the user does not intend to update the state. Users are not allowed to set the value as unspecified.",
            "Moderation is off.",
            "Moderation is on."
          ],
          "description": "The pre-configured moderation mode for the Meeting. Default: Controlled by the user's policies."
        },
        "attendanceReportGenerationType": {
          "description": "Whether attendance report is enabled for the meeting space.",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Attendance report will be generated and sent to drive/email.",
            "Attendance report will not be generated."
          ],
          "type": "string",
          "enum": [
            "ATTENDANCE_REPORT_GENERATION_TYPE_UNSPECIFIED",
            "GENERATE_REPORT",
            "DO_NOT_GENERATE"
          ]
        },
        "accessType": {
          "description": "Access type of the meeting space that determines who can join without knocking. Default: The user's default access settings. Controlled by the user's admin for enterprise users or RESTRICTED.",
          "type": "string",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "OPEN",
            "TRUSTED",
            "RESTRICTED"
          ],
          "enumDescriptions": [
            "Default value specified by the user's organization. Note: This is never returned, as the configured access type is returned instead.",
            "Anyone with the join information (for example, the URL or phone access information) can join without knocking.",
            "Members of the host's organization, invited external users, and dial-in users can join without knocking. Everyone else must knock.",
            "Only invitees can join without knocking. Everyone else must knock."
          ]
        }
      }
    },
    "SmartNote": {
      "id": "SmartNote",
      "type": "object",
      "description": "Metadata for a smart note generated from a conference. It refers to the notes generated from Take Notes with Gemini during the conference.",
      "properties": {
        "startTime": {
          "description": "Output only. Timestamp when the smart notes started.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. Current state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "enumDescriptions": [
            "Default, never used.",
            "An active smart notes session has started.",
            "This smart notes session has ended, but the smart notes file hasn't been generated yet.",
            "Smart notes file is generated and ready to download."
          ]
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the smart notes stopped."
        },
        "name": {
          "description": "Output only. Identifier. Resource name of the smart notes. Format: `conferenceRecords/{conference_record}/smartNotes/{smart_note}`, where `{smart_note}` is a 1:1 mapping to each unique smart notes session of the conference.",
          "readOnly": true,
          "type": "string"
        },
        "docsDestination": {
          "readOnly": true,
          "$ref": "DocsDestination",
          "description": "Output only. The Google Doc destination where the smart notes are saved."
        }
      }
    },
    "ArtifactConfig": {
      "description": "Configuration related to meeting artifacts potentially generated by this meeting space.",
      "properties": {
        "smartNotesConfig": {
          "$ref": "SmartNotesConfig",
          "description": "Configuration for auto-smart-notes."
        },
        "recordingConfig": {
          "description": "Configuration for recording.",
          "$ref": "RecordingConfig"
        },
        "transcriptionConfig": {
          "$ref": "TranscriptionConfig",
          "description": "Configuration for auto-transcript."
        }
      },
      "id": "ArtifactConfig",
      "type": "object"
    },
    "TranscriptionConfig": {
      "id": "TranscriptionConfig",
      "type": "object",
      "description": "Configuration related to transcription in a meeting space.",
      "properties": {
        "autoTranscriptionGeneration": {
          "description": "Defines whether the content of a meeting is automatically transcribed when someone with the privilege to transcribe joins the meeting.",
          "type": "string",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ]
        }
      }
    },
    "Participant": {
      "description": "User who attended or is attending a conference.",
      "properties": {
        "signedinUser": {
          "$ref": "SignedinUser",
          "description": "Signed-in user."
        },
        "latestEndTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the participant left the meeting for the last time. This can be null if it's an active meeting."
        },
        "phoneUser": {
          "$ref": "PhoneUser",
          "description": "User calling from their phone."
        },
        "anonymousUser": {
          "$ref": "AnonymousUser",
          "description": "Anonymous user."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the participant. Format: `conferenceRecords/{conference_record}/participants/{participant}`"
        },
        "earliestStartTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the participant first joined the meeting."
        }
      },
      "id": "Participant",
      "type": "object"
    },
    "ActiveConference": {
      "id": "ActiveConference",
      "type": "object",
      "description": "Active conference.",
      "properties": {
        "conferenceRecord": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Reference to 'ConferenceRecord' resource. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space."
        }
      }
    },
    "AnonymousUser": {
      "description": "User who joins anonymously (meaning not signed into a Google Account).",
      "properties": {
        "displayName": {
          "description": "Output only. User provided name when they join a conference anonymously.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "AnonymousUser",
      "type": "object"
    },
    "Recording": {
      "id": "Recording",
      "type": "object",
      "description": "Metadata about a recording created during a conference.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the recording. Format: `conferenceRecords/{conference_record}/recordings/{recording}` where `{recording}` is a 1:1 mapping to each unique recording session during the conference."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the recording started."
        },
        "state": {
          "description": "Output only. Current state.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "enumDescriptions": [
            "Default, never used.",
            "An active recording session has started.",
            "This recording session has ended, but the recording file hasn't been generated yet.",
            "Recording file is generated and ready to download."
          ]
        },
        "endTime": {
          "description": "Output only. Timestamp when the recording ended.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "driveDestination": {
          "description": "Output only. Recording is saved to Google Drive as an MP4 file. The `drive_destination` includes the Drive `fileId` that can be used to download the file using the `files.get` method of the Drive API.",
          "readOnly": true,
          "$ref": "DriveDestination"
        }
      }
    },
    "ListParticipantsResponse": {
      "id": "ListParticipantsResponse",
      "type": "object",
      "description": "Response of ListParticipants method.",
      "properties": {
        "totalSize": {
          "description": "Total, exact number of `participants`. By default, this field isn't included in the response. Set the field mask in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters) to receive this field in the response.",
          "type": "integer",
          "format": "int32"
        },
        "participants": {
          "type": "array",
          "items": {
            "$ref": "Participant"
          },
          "description": "List of participants in one page."
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
          "type": "string"
        }
      }
    },
    "DriveDestination": {
      "description": "Export location where a recording file is saved in Google Drive.",
      "properties": {
        "file": {
          "description": "Output only. The `fileId` for the underlying MP4 file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use `$ GET https://www.googleapis.com/drive/v3/files/{$fileId}?alt=media` to download the blob. For more information, see https://developers.google.com/drive/api/v3/reference/files/get.",
          "readOnly": true,
          "type": "string"
        },
        "exportUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Link used to play back the recording file in the browser. For example, `https://drive.google.com/file/d/{$fileId}/view`."
        }
      },
      "id": "DriveDestination",
      "type": "object"
    },
    "ListConferenceRecordsResponse": {
      "description": "Response of ListConferenceRecords method.",
      "properties": {
        "conferenceRecords": {
          "type": "array",
          "items": {
            "$ref": "ConferenceRecord"
          },
          "description": "List of conferences in one page."
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List does NOT include all the Conferences. Unset if all conferences have been returned.",
          "type": "string"
        }
      },
      "id": "ListConferenceRecordsResponse",
      "type": "object"
    },
    "PhoneAccess": {
      "description": "Phone access contains information required to dial into a conference using a regional phone number and a PIN that is specific to that phone number.",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to dial for this meeting space in E.164 format. Full phone number with a leading '+' character."
        },
        "pin": {
          "type": "string",
          "description": "The PIN that users must enter after dialing the given number. The PIN consists of only decimal digits and the length may vary."
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP 47/LDML language code for the language associated with this phone access. To be parsed by the i18n LanguageCode utility. Examples: \"es-419\" for Latin American Spanish, \"fr-CA\" for Canadian French."
        },
        "regionCode": {
          "type": "string",
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. To be parsed by the i18n RegionCode utility. Example: \"SE\" for Sweden."
        }
      },
      "id": "PhoneAccess",
      "type": "object"
    },
    "GatewaySipAccess": {
      "id": "GatewaySipAccess",
      "type": "object",
      "description": "Details how to join the conference through a SIP gateway.",
      "properties": {
        "sipAccessCode": {
          "description": "The permanent numeric code for manual entry on specially configured devices.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "The Session Initiation Protocol (SIP) URI the conference can be reached through. The string is in one of these formats: * \"sip:USER_ID@GATEWAY_ADDRESS\" * \"sips:USER_ID@GATEWAY_ADDRESS\" where USER_ID is the 13-digit universal pin (with the future option to support using a Meet meeting code as well), and GATEWAY_ADDRESS is a valid address to be resolved using a DNS SRV lookup, or a dotted quad."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ListRecordingsResponse": {
      "id": "ListRecordingsResponse",
      "type": "object",
      "description": "Response for ListRecordings method.",
      "properties": {
        "recordings": {
          "type": "array",
          "items": {
            "$ref": "Recording"
          },
          "description": "List of recordings in one page."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the recordings. Unset if all recordings are returned."
        }
      }
    },
    "PhoneUser": {
      "id": "PhoneUser",
      "type": "object",
      "description": "User dialing in from a phone where the user's identity is unknown because they haven't signed in with a Google Account.",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Partially redacted user's phone number when calling."
        }
      }
    },
    "ModerationRestrictions": {
      "id": "ModerationRestrictions",
      "type": "object",
      "description": "Defines restrictions for features when the meeting is moderated.",
      "properties": {
        "chatRestriction": {
          "description": "Defines who has permission to send chat messages in the meeting space.",
          "type": "string",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ]
        },
        "reactionRestriction": {
          "type": "string",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "description": "Defines who has permission to send reactions in the meeting space."
        },
        "presentRestriction": {
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "type": "string",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "description": "Defines who has permission to share their screen in the meeting space."
        },
        "defaultJoinAsViewerType": {
          "description": "Defines whether to restrict the default role assigned to users as viewer.",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Users will by default join as viewers.",
            "Users will by default join as contributors."
          ],
          "type": "string",
          "enum": [
            "DEFAULT_JOIN_AS_VIEWER_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ]
        }
      }
    },
    "ListParticipantSessionsResponse": {
      "description": "Response of ListParticipants method.",
      "properties": {
        "participantSessions": {
          "description": "List of participants in one page.",
          "type": "array",
          "items": {
            "$ref": "ParticipantSession"
          }
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
          "type": "string"
        }
      },
      "id": "ListParticipantSessionsResponse",
      "type": "object"
    },
    "ConferenceRecord": {
      "description": "Single instance of a meeting held in a space.",
      "properties": {
        "space": {
          "description": "Output only. The space where the conference was held.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the conference record. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space."
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the conference ended. Set for past conferences. Unset if the conference is ongoing."
        },
        "startTime": {
          "description": "Output only. Timestamp when the conference started. Always set.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "expireTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server enforced expiration time for when this conference record resource is deleted. The resource is deleted 30 days after the conference ends."
        }
      },
      "id": "ConferenceRecord",
      "type": "object"
    },
    "ListSmartNotesResponse": {
      "description": "Response for ListSmartNotes method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the smart notes. Unset if all smart notes are returned."
        },
        "smartNotes": {
          "description": "List of smart notes in one page.",
          "type": "array",
          "items": {
            "$ref": "SmartNote"
          }
        }
      },
      "id": "ListSmartNotesResponse",
      "type": "object"
    },
    "Space": {
      "id": "Space",
      "type": "object",
      "description": "Virtual place where conferences are held. Only one active conference can be held in one space at any given time.",
      "properties": {
        "meetingCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type friendly unique string used to join the meeting. Format: `[a-z]+-[a-z]+-[a-z]+`. For example, `abc-mnop-xyz`. The maximum length is 128 characters. Can only be used as an alias of the space name to get the space."
        },
        "activeConference": {
          "$ref": "ActiveConference",
          "description": "Active conference, if it exists."
        },
        "config": {
          "$ref": "SpaceConfig",
          "description": "Configuration pertaining to the meeting space."
        },
        "phoneAccess": {
          "description": "Output only. All regional phone access methods for this meeting space. Can be empty.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "PhoneAccess"
          }
        },
        "gatewaySipAccess": {
          "description": "Output only. The SIP-based access methods that can be used to join the conference. Can be empty.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GatewaySipAccess"
          }
        },
        "name": {
          "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
          "type": "string"
        },
        "meetingUri": {
          "description": "Output only. URI used to join meetings consisting of `https://meet.google.com/` followed by the `meeting_code`. For example, `https://meet.google.com/abc-mnop-xyz`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListTranscriptEntriesResponse": {
      "id": "ListTranscriptEntriesResponse",
      "type": "object",
      "description": "Response for ListTranscriptEntries method.",
      "properties": {
        "transcriptEntries": {
          "type": "array",
          "items": {
            "$ref": "TranscriptEntry"
          },
          "description": "List of TranscriptEntries in one page."
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcript entries. Unset if all entries are returned.",
          "type": "string"
        }
      }
    },
    "EndActiveConferenceRequest": {
      "description": "Request to end an ongoing conference of a space.",
      "properties": {},
      "id": "EndActiveConferenceRequest",
      "type": "object"
    },
    "SignedinUser": {
      "id": "SignedinUser",
      "type": "object",
      "description": "A signed-in user can be: a) An individual joining from a personal computer, mobile device, or through companion mode. b) A robot account used by conference room devices.",
      "properties": {
        "displayName": {
          "description": "Output only. For a personal device, it's the user's first name and last name. For a robot account, it's the administrator-specified device name. For example, \"Altostrat Room\".",
          "readOnly": true,
          "type": "string"
        },
        "user": {
          "description": "Output only. Unique ID for the user. Interoperable with Admin SDK API and People API. Format: `users/{user}`",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  }
}