{
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "batchPath": "batch",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://meet.mtls.googleapis.com/",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/meetings.space.settings": {
          "description": "Edit, and see settings for all of your Google Meet calls."
        },
        "https://www.googleapis.com/auth/meetings.space.readonly": {
          "description": "Read information about any of your Google Meet conferences"
        },
        "https://www.googleapis.com/auth/meetings.space.created": {
          "description": "Create, edit, and see information about your Google Meet conferences created by the app."
        }
      }
    }
  },
  "canonicalName": "Meet",
  "version": "v2",
  "id": "meet:v2",
  "revision": "20260908",
  "version_module": true,
  "title": "Google Meet API",
  "baseUrl": "https://meet.googleapis.com/",
  "resources": {
    "spaces": {
      "methods": {
        "patch": {
          "id": "meet.spaces.patch",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. Field mask used to specify the fields to be updated in the space. If update_mask isn't provided(not set, set with empty paths, or only has \"\" as paths), it defaults to update all fields provided with values in the request. Using \"*\" as update_mask will update all fields, including deleting fields not set in the request."
            },
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "pattern": "^spaces/[^/]+$"
            }
          },
          "httpMethod": "PATCH",
          "description": "Updates details about a meeting space. For an example, see [Update a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#update-meeting-space).",
          "flatPath": "v2/spaces/{spacesId}",
          "request": {
            "$ref": "Space"
          },
          "response": {
            "$ref": "Space"
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "path": "v2/{+name}"
        },
        "create": {
          "httpMethod": "POST",
          "description": "Creates a space.",
          "response": {
            "$ref": "Space"
          },
          "flatPath": "v2/spaces",
          "id": "meet.spaces.create",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "Space"
          },
          "parameters": {},
          "path": "v2/spaces"
        },
        "get": {
          "description": "Gets details about a meeting space. For an example, see [Get a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#get-meeting-space).",
          "id": "meet.spaces.get",
          "parameters": {
            "name": {
              "description": "Required. Resource name of the space. Format: `spaces/{space}` or `spaces/{meetingCode}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. `{meetingCode}` is an alias for the space. It's a typeable, unique character string and is non-case sensitive. For example, `abc-mnop-xyz`. The maximum length is 128 characters. A `meetingCode` shouldn't be stored long term as it can become dissociated from a meeting space and can be reused for different meeting spaces in the future. Generally, a `meetingCode` expires 365 days after last use. For more information, see [Learn about meeting codes in Google Meet](https://support.google.com/meet/answer/10710509). For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^spaces/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v2/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Space"
          },
          "flatPath": "v2/spaces/{spacesId}"
        },
        "endActiveConference": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^spaces/[^/]+$",
              "required": true,
              "description": "Required. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space)."
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "request": {
            "$ref": "EndActiveConferenceRequest"
          },
          "flatPath": "v2/spaces/{spacesId}:endActiveConference",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ],
          "path": "v2/{+name}:endActiveConference",
          "description": "Ends an active conference (if there's one). For an example, see [End active conference](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#end-active-conference).",
          "id": "meet.spaces.endActiveConference",
          "httpMethod": "POST"
        }
      }
    },
    "conferenceRecords": {
      "methods": {
        "list": {
          "parameters": {
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `space.meeting_code` * `space.name` * `start_time` * `end_time` For example, consider the following filters: * `space.name = \"spaces/NAME\"` * `space.meeting_code = \"abc-mnop-xyz\"` * `start_time>=\"2024-01-01T00:00:00.000Z\" AND start_time<=\"2024-01-02T00:00:00.000Z\"` * `end_time IS NULL`"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. Page token returned from previous List Call.",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Optional. Maximum number of conference records to return. The service might return fewer than this value. If unspecified, at most 25 conference records are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future."
            }
          },
          "parameterOrder": [],
          "flatPath": "v2/conferenceRecords",
          "response": {
            "$ref": "ListConferenceRecordsResponse"
          },
          "description": "Lists the conference records. By default, ordered by start time and in descending order.",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "id": "meet.conferenceRecords.list",
          "path": "v2/conferenceRecords",
          "httpMethod": "GET"
        },
        "get": {
          "parameters": {
            "name": {
              "pattern": "^conferenceRecords/[^/]+$",
              "required": true,
              "description": "Required. Resource name of the conference.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "v2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "id": "meet.conferenceRecords.get",
          "flatPath": "v2/conferenceRecords/{conferenceRecordsId}",
          "response": {
            "$ref": "ConferenceRecord"
          },
          "description": "Gets a conference record by conference ID.",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET"
        }
      },
      "resources": {
        "recordings": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Resource name of the recording.",
                  "pattern": "^conferenceRecords/[^/]+/recordings/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Gets a recording by recording ID.",
              "path": "v2/{+name}",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings/{recordingsId}",
              "id": "meet.conferenceRecords.recordings.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Recording"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "path": "v2/{+parent}/recordings",
              "parameters": {
                "parent": {
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "required": true,
                  "location": "path",
                  "pattern": "^conferenceRecords/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum number of recordings to return. The service might return fewer than this value. If unspecified, at most 10 recordings are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token returned from previous List Call.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListRecordingsResponse"
              },
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings",
              "id": "meet.conferenceRecords.recordings.list",
              "description": "Lists the recording resources from the conference record. By default, ordered by start time and in ascending order."
            }
          }
        },
        "smartNotes": {
          "methods": {
            "get": {
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes/{smartNotesId}",
              "description": "Gets smart notes by smart note ID.",
              "response": {
                "$ref": "SmartNote"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+/smartNotes/[^/]+$",
                  "description": "Required. Resource name of the smart note. Format: conferenceRecords/{conference_record}/smartNotes/{smart_note}",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "meet.conferenceRecords.smartNotes.get",
              "httpMethod": "GET"
            },
            "list": {
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListSmartNotesResponse"
              },
              "description": "Lists the set of smart notes from the conference record. By default, ordered by start time and in ascending order.",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token returned from previous List Call."
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "required": true,
                  "pattern": "^conferenceRecords/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Maximum number of smart notes to return. The service might return fewer than this value. If unspecified, at most 10 smart notes are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "path": "v2/{+parent}/smartNotes",
              "id": "meet.conferenceRecords.smartNotes.list",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ]
            }
          }
        },
        "transcripts": {
          "resources": {
            "entries": {
              "methods": {
                "get": {
                  "description": "Gets a `TranscriptEntry` resource by entry ID. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries/{entriesId}",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "TranscriptEntry"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "meet.conferenceRecords.transcripts.entries.get",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the `TranscriptEntry`.",
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+/entries/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "meet.conferenceRecords.transcripts.entries.list",
                  "description": "Lists the structured transcript entries per transcript. By default, ordered by start time and in ascending order. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
                  "path": "v2/{+parent}/entries",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "response": {
                    "$ref": "ListTranscriptEntriesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                      "location": "path",
                      "description": "Required. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Page token returned from previous List Call.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Maximum number of entries to return. The service might return fewer than this value. If unspecified, at most 10 entries are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries"
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "meet.conferenceRecords.transcripts.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts",
              "response": {
                "$ref": "ListTranscriptsResponse"
              },
              "path": "v2/{+parent}/transcripts",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^conferenceRecords/[^/]+$",
                  "location": "path",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token returned from previous List Call.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of transcripts to return. The service might return fewer than this value. If unspecified, at most 10 transcripts are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "type": "integer"
                }
              },
              "description": "Lists the set of transcripts from the conference record. By default, ordered by start time and in ascending order."
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "Transcript"
              },
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "meet.conferenceRecords.transcripts.get",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Resource name of the transcript.",
                  "location": "path",
                  "required": true,
                  "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$"
                }
              },
              "description": "Gets a transcript by transcript ID."
            }
          }
        },
        "participants": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Participant"
              },
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                  "description": "Required. Resource name of the participant.",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a participant by participant ID.",
              "id": "meet.conferenceRecords.participants.get"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "httpMethod": "GET",
              "id": "meet.conferenceRecords.participants.list",
              "description": "Lists the participants in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted, this API defaults to `'participants/*, next_page_token'`.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListParticipantsResponse"
              },
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants",
              "path": "v2/{+parent}/participants",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^conferenceRecords/[^/]+$",
                  "location": "path",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token returned from previous List Call."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of participants to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future."
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `earliest_start_time` * `latest_end_time` For example, `latest_end_time IS NULL` returns active participants in the conference.",
                  "location": "query"
                }
              }
            }
          },
          "resources": {
            "participantSessions": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "id": "meet.conferenceRecords.participants.participantSessions.get",
                  "description": "Gets a participant session by participant session ID.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Resource name of the participant.",
                      "type": "string",
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+/participantSessions/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "ParticipantSession"
                  },
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions/{participantSessionsId}"
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "meet.conferenceRecords.participants.participantSessions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/participantSessions",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions",
                  "response": {
                    "$ref": "ListParticipantSessionsResponse"
                  },
                  "description": "Lists the participant sessions of a participant in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted this API defaults to `'participantsessions/*, next_page_token'`.",
                  "parameters": {
                    "filter": {
                      "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `start_time` * `end_time` For example, `end_time IS NULL` returns active participant sessions in the conference record.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of participant sessions to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Page token returned from previous List Call."
                    },
                    "parent": {
                      "description": "Required. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/workspace/meet/api",
  "protocol": "rest",
  "name": "meet",
  "rootUrl": "https://meet.googleapis.com/",
  "description": "Create and manage meetings in Google Meet.",
  "ownerDomain": "google.com",
  "schemas": {
    "Recording": {
      "properties": {
        "driveDestination": {
          "readOnly": true,
          "$ref": "DriveDestination",
          "description": "Output only. Recording is saved to Google Drive as an MP4 file. The `drive_destination` includes the Drive `fileId` that can be used to download the file using the `files.get` method of the Drive API."
        },
        "endTime": {
          "description": "Output only. Timestamp when the recording ended.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the recording. Format: `conferenceRecords/{conference_record}/recordings/{recording}` where `{recording}` is a 1:1 mapping to each unique recording session during the conference.",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Timestamp when the recording started.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "readOnly": true,
          "description": "Output only. Current state.",
          "enumDescriptions": [
            "Default, never used.",
            "An active recording session has started.",
            "This recording session has ended, but the recording file hasn't been generated yet.",
            "Recording file is generated and ready to download."
          ]
        }
      },
      "description": "Metadata about a recording created during a conference.",
      "type": "object",
      "id": "Recording"
    },
    "ParticipantSession": {
      "id": "ParticipantSession",
      "description": "Refers to each unique join or leave session when a user joins a conference from a device. Note that any time a user joins the conference a new unique ID is assigned. That means if a user joins a space multiple times from the same device, they're assigned different IDs, and are also be treated as different participant sessions.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Session id."
        },
        "endTime": {
          "description": "Output only. Timestamp when the user session ends. Unset if the user session hasn’t ended.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Timestamp when the user session starts.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListTranscriptEntriesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcript entries. Unset if all entries are returned.",
          "type": "string"
        },
        "transcriptEntries": {
          "items": {
            "$ref": "TranscriptEntry"
          },
          "description": "List of TranscriptEntries in one page.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for ListTranscriptEntries method.",
      "id": "ListTranscriptEntriesResponse"
    },
    "ArtifactConfig": {
      "id": "ArtifactConfig",
      "type": "object",
      "description": "Configuration related to meeting artifacts potentially generated by this meeting space.",
      "properties": {
        "recordingConfig": {
          "description": "Configuration for recording.",
          "$ref": "RecordingConfig"
        },
        "smartNotesConfig": {
          "$ref": "SmartNotesConfig",
          "description": "Configuration for auto-smart-notes."
        },
        "transcriptionConfig": {
          "$ref": "TranscriptionConfig",
          "description": "Configuration for auto-transcript."
        }
      }
    },
    "ConferenceRecord": {
      "properties": {
        "expireTime": {
          "readOnly": true,
          "description": "Output only. Server enforced expiration time for when this conference record resource is deleted. The resource is deleted 30 days after the conference ends.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. Resource name of the conference record. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conference ended. Set for past conferences. Unset if the conference is ongoing.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conference started. Always set."
        },
        "space": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The space where the conference was held."
        }
      },
      "type": "object",
      "id": "ConferenceRecord",
      "description": "Single instance of a meeting held in a space."
    },
    "ModerationRestrictions": {
      "description": "Defines restrictions for features when the meeting is moderated.",
      "id": "ModerationRestrictions",
      "properties": {
        "presentRestriction": {
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "type": "string",
          "description": "Defines who has permission to share their screen in the meeting space.",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ]
        },
        "chatRestriction": {
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "description": "Defines who has permission to send chat messages in the meeting space."
        },
        "reactionRestriction": {
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "description": "Defines who has permission to send reactions in the meeting space.",
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ]
        },
        "defaultJoinAsViewerType": {
          "enum": [
            "DEFAULT_JOIN_AS_VIEWER_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Users will by default join as viewers.",
            "Users will by default join as contributors."
          ],
          "description": "Defines whether to restrict the default role assigned to users as viewer."
        }
      },
      "type": "object"
    },
    "EndActiveConferenceRequest": {
      "properties": {},
      "id": "EndActiveConferenceRequest",
      "type": "object",
      "description": "Request to end an ongoing conference of a space."
    },
    "ListTranscriptsResponse": {
      "id": "ListTranscriptsResponse",
      "description": "Response for ListTranscripts method.",
      "type": "object",
      "properties": {
        "transcripts": {
          "items": {
            "$ref": "Transcript"
          },
          "type": "array",
          "description": "List of transcripts in one page."
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcripts. Unset if all transcripts are returned.",
          "type": "string"
        }
      }
    },
    "TranscriptEntry": {
      "type": "object",
      "description": "Single entry for one user’s speech during a transcript session.",
      "id": "TranscriptEntry",
      "properties": {
        "languageCode": {
          "readOnly": true,
          "description": "Output only. Language of spoken text, such as \"en-US\". IETF BCP 47 syntax (https://tools.ietf.org/html/bcp47)",
          "type": "string"
        },
        "participant": {
          "description": "Output only. Refers to the participant who speaks.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the entry. Format: \"conferenceRecords/{conference_record}/transcripts/{transcript}/entries/{entry}\"",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the transcript entry started."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the transcript entry ended."
        },
        "text": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The transcribed text of the participant's voice, at maximum 10K words. Note that the limit is subject to change."
        }
      }
    },
    "RecordingConfig": {
      "id": "RecordingConfig",
      "type": "object",
      "properties": {
        "autoRecordingGeneration": {
          "description": "Defines whether a meeting space is automatically recorded when someone with the privilege to record joins the meeting.",
          "type": "string",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ]
        }
      },
      "description": "Configuration related to recording in a meeting space."
    },
    "DocsDestination": {
      "description": "Google Docs location where the transcript file is saved.",
      "id": "DocsDestination",
      "properties": {
        "document": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The document ID for the underlying Google Docs transcript file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use the `documents.get` method of the Google Docs API (https://developers.google.com/docs/api/reference/rest/v1/documents/get) to fetch the content."
        },
        "exportUri": {
          "type": "string",
          "description": "Output only. URI for the Google Docs transcript file. Use `https://docs.google.com/document/d/{$DocumentId}/view` to browse the transcript in the browser.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListParticipantSessionsResponse": {
      "id": "ListParticipantSessionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned."
        },
        "participantSessions": {
          "items": {
            "$ref": "ParticipantSession"
          },
          "type": "array",
          "description": "List of participants in one page."
        }
      },
      "description": "Response of ListParticipants method."
    },
    "Space": {
      "id": "Space",
      "properties": {
        "config": {
          "description": "Configuration pertaining to the meeting space.",
          "$ref": "SpaceConfig"
        },
        "activeConference": {
          "$ref": "ActiveConference",
          "description": "Active conference, if it exists."
        },
        "meetingUri": {
          "readOnly": true,
          "description": "Output only. URI used to join meetings consisting of `https://meet.google.com/` followed by the `meeting_code`. For example, `https://meet.google.com/abc-mnop-xyz`.",
          "type": "string"
        },
        "gatewaySipAccess": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The SIP-based access methods that can be used to join the conference. Can be empty.",
          "items": {
            "$ref": "GatewaySipAccess"
          }
        },
        "name": {
          "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
          "type": "string"
        },
        "meetingCode": {
          "description": "Output only. Type friendly unique string used to join the meeting. Format: `[a-z]+-[a-z]+-[a-z]+`. For example, `abc-mnop-xyz`. The maximum length is 128 characters. Can only be used as an alias of the space name to get the space.",
          "type": "string",
          "readOnly": true
        },
        "phoneAccess": {
          "type": "array",
          "items": {
            "$ref": "PhoneAccess"
          },
          "description": "Output only. All regional phone access methods for this meeting space. Can be empty.",
          "readOnly": true
        }
      },
      "description": "Virtual place where conferences are held. Only one active conference can be held in one space at any given time.",
      "type": "object"
    },
    "PhoneUser": {
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. Partially redacted user's phone number when calling.",
          "type": "string"
        }
      },
      "id": "PhoneUser",
      "description": "User dialing in from a phone where the user's identity is unknown because they haven't signed in with a Google Account.",
      "type": "object"
    },
    "SmartNote": {
      "id": "SmartNote",
      "properties": {
        "docsDestination": {
          "description": "Output only. The Google Doc destination where the smart notes are saved.",
          "readOnly": true,
          "$ref": "DocsDestination"
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the smart notes started."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. Resource name of the smart notes. Format: `conferenceRecords/{conference_record}/smartNotes/{smart_note}`, where `{smart_note}` is a 1:1 mapping to each unique smart notes session of the conference."
        },
        "endTime": {
          "description": "Output only. Timestamp when the smart notes stopped.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default, never used.",
            "An active smart notes session has started.",
            "This smart notes session has ended, but the smart notes file hasn't been generated yet.",
            "Smart notes file is generated and ready to download."
          ],
          "description": "Output only. Current state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "type": "string"
        }
      },
      "description": "Metadata for a smart note generated from a conference. It refers to the notes generated from Take Notes with Gemini during the conference.",
      "type": "object"
    },
    "ListSmartNotesResponse": {
      "properties": {
        "smartNotes": {
          "description": "List of smart notes in one page.",
          "items": {
            "$ref": "SmartNote"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the smart notes. Unset if all smart notes are returned.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response for ListSmartNotes method.",
      "id": "ListSmartNotesResponse"
    },
    "ActiveConference": {
      "type": "object",
      "properties": {
        "conferenceRecord": {
          "description": "Output only. Reference to 'ConferenceRecord' resource. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Active conference.",
      "id": "ActiveConference"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "GatewaySipAccess": {
      "description": "Details how to join the conference through a SIP gateway.",
      "type": "object",
      "id": "GatewaySipAccess",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The Session Initiation Protocol (SIP) URI the conference can be reached through. The string is in one of these formats: * \"sip:USER_ID@GATEWAY_ADDRESS\" * \"sips:USER_ID@GATEWAY_ADDRESS\" where USER_ID is the 13-digit universal pin (with the future option to support using a Meet meeting code as well), and GATEWAY_ADDRESS is a valid address to be resolved using a DNS SRV lookup, or a dotted quad."
        },
        "sipAccessCode": {
          "description": "The permanent numeric code for manual entry on specially configured devices.",
          "type": "string"
        }
      }
    },
    "Participant": {
      "type": "object",
      "properties": {
        "earliestStartTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the participant first joined the meeting."
        },
        "phoneUser": {
          "description": "User calling from their phone.",
          "$ref": "PhoneUser"
        },
        "anonymousUser": {
          "description": "Anonymous user.",
          "$ref": "AnonymousUser"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the participant. Format: `conferenceRecords/{conference_record}/participants/{participant}`"
        },
        "latestEndTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the participant left the meeting for the last time. This can be null if it's an active meeting."
        },
        "signedinUser": {
          "$ref": "SignedinUser",
          "description": "Signed-in user."
        }
      },
      "description": "User who attended or is attending a conference.",
      "id": "Participant"
    },
    "Transcript": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the transcript stopped.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of the transcript. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`, where `{transcript}` is a 1:1 mapping to each unique transcription session of the conference.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default, never used.",
            "An active transcript session has started.",
            "This transcript session has ended, but the transcript file hasn't been generated yet.",
            "Transcript file is generated and ready to download."
          ],
          "description": "Output only. Current state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the transcript started."
        },
        "docsDestination": {
          "description": "Output only. Where the Google Docs transcript is saved.",
          "$ref": "DocsDestination",
          "readOnly": true
        }
      },
      "description": "Metadata for a transcript generated from a conference. It refers to the ASR (Automatic Speech Recognition) result of user's speech during the conference.",
      "id": "Transcript",
      "type": "object"
    },
    "ListRecordingsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the recordings. Unset if all recordings are returned.",
          "type": "string"
        },
        "recordings": {
          "items": {
            "$ref": "Recording"
          },
          "description": "List of recordings in one page.",
          "type": "array"
        }
      },
      "id": "ListRecordingsResponse",
      "type": "object",
      "description": "Response for ListRecordings method."
    },
    "TranscriptionConfig": {
      "type": "object",
      "id": "TranscriptionConfig",
      "description": "Configuration related to transcription in a meeting space.",
      "properties": {
        "autoTranscriptionGeneration": {
          "description": "Defines whether the content of a meeting is automatically transcribed when someone with the privilege to transcribe joins the meeting.",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "type": "string"
        }
      }
    },
    "AnonymousUser": {
      "type": "object",
      "description": "User who joins anonymously (meaning not signed into a Google Account).",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Output only. User provided name when they join a conference anonymously.",
          "readOnly": true
        }
      },
      "id": "AnonymousUser"
    },
    "SignedinUser": {
      "id": "SignedinUser",
      "description": "A signed-in user can be: a) An individual joining from a personal computer, mobile device, or through companion mode. b) A robot account used by conference room devices.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. For a personal device, it's the user's first name and last name. For a robot account, it's the administrator-specified device name. For example, \"Altostrat Room\"."
        },
        "user": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique ID for the user. Interoperable with Admin SDK API and People API. Format: `users/{user}`"
        }
      }
    },
    "SpaceConfig": {
      "type": "object",
      "properties": {
        "artifactConfig": {
          "description": "Configuration pertaining to the auto-generated artifacts that the meeting supports.",
          "$ref": "ArtifactConfig"
        },
        "accessType": {
          "description": "Access type of the meeting space that determines who can join without knocking. Default: The user's default access settings. Controlled by the user's admin for enterprise users or RESTRICTED.",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "OPEN",
            "TRUSTED",
            "RESTRICTED"
          ],
          "enumDescriptions": [
            "Default value specified by the user's organization. Note: This is never returned, as the configured access type is returned instead.",
            "Anyone with the join information (for example, the URL or phone access information) can join without knocking.",
            "Members of the host's organization, invited external users, and dial-in users can join without knocking. Everyone else must knock.",
            "Only invitees can join without knocking. Everyone else must knock."
          ],
          "type": "string"
        },
        "moderationRestrictions": {
          "description": "When moderation.ON, these restrictions go into effect for the meeting. When moderation.OFF, will be reset to default ModerationRestrictions.",
          "$ref": "ModerationRestrictions"
        },
        "entryPointAccess": {
          "enumDescriptions": [
            "Unused.",
            "All entry points are allowed.",
            "Only entry points owned by the Google Cloud project that created the space can be used to join meetings in this space. Apps can use the Meet Embed SDK Web or mobile Meet SDKs to create owned entry points."
          ],
          "type": "string",
          "description": "Defines the entry points that can be used to join meetings hosted in this meeting space. Default: EntryPointAccess.ALL",
          "enum": [
            "ENTRY_POINT_ACCESS_UNSPECIFIED",
            "ALL",
            "CREATOR_APP_ONLY"
          ]
        },
        "moderation": {
          "enum": [
            "MODERATION_UNSPECIFIED",
            "OFF",
            "ON"
          ],
          "description": "The pre-configured moderation mode for the Meeting. Default: Controlled by the user's policies.",
          "type": "string",
          "enumDescriptions": [
            "Moderation type is not specified. This is used to indicate the user hasn't specified any value as the user does not intend to update the state. Users are not allowed to set the value as unspecified.",
            "Moderation is off.",
            "Moderation is on."
          ]
        },
        "attendanceReportGenerationType": {
          "description": "Whether attendance report is enabled for the meeting space.",
          "enum": [
            "ATTENDANCE_REPORT_GENERATION_TYPE_UNSPECIFIED",
            "GENERATE_REPORT",
            "DO_NOT_GENERATE"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Attendance report will be generated and sent to drive/email.",
            "Attendance report will not be generated."
          ],
          "type": "string"
        }
      },
      "id": "SpaceConfig",
      "description": "The configuration pertaining to a meeting space."
    },
    "SmartNotesConfig": {
      "description": "Configuration related to smart notes in a meeting space. For more information about smart notes, see [\"Take notes for me\" in Google Meet](https://support.google.com/meet/answer/14754931).",
      "properties": {
        "autoSmartNotesGeneration": {
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "type": "string",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "description": "Defines whether to automatically generate a summary and recap of the meeting for all invitees in the organization when someone with the privilege to enable smart notes joins the meeting."
        }
      },
      "type": "object",
      "id": "SmartNotesConfig"
    },
    "DriveDestination": {
      "type": "object",
      "properties": {
        "file": {
          "description": "Output only. The `fileId` for the underlying MP4 file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use `$ GET https://www.googleapis.com/drive/v3/files/{$fileId}?alt=media` to download the blob. For more information, see https://developers.google.com/drive/api/v3/reference/files/get.",
          "type": "string",
          "readOnly": true
        },
        "exportUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Link used to play back the recording file in the browser. For example, `https://drive.google.com/file/d/{$fileId}/view`."
        }
      },
      "description": "Export location where a recording file is saved in Google Drive.",
      "id": "DriveDestination"
    },
    "ListConferenceRecordsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List does NOT include all the Conferences. Unset if all conferences have been returned.",
          "type": "string"
        },
        "conferenceRecords": {
          "type": "array",
          "items": {
            "$ref": "ConferenceRecord"
          },
          "description": "List of conferences in one page."
        }
      },
      "id": "ListConferenceRecordsResponse",
      "description": "Response of ListConferenceRecords method.",
      "type": "object"
    },
    "PhoneAccess": {
      "description": "Phone access contains information required to dial into a conference using a regional phone number and a PIN that is specific to that phone number.",
      "id": "PhoneAccess",
      "properties": {
        "regionCode": {
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. To be parsed by the i18n RegionCode utility. Example: \"SE\" for Sweden.",
          "type": "string"
        },
        "pin": {
          "description": "The PIN that users must enter after dialing the given number. The PIN consists of only decimal digits and the length may vary.",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP 47/LDML language code for the language associated with this phone access. To be parsed by the i18n LanguageCode utility. Examples: \"es-419\" for Latin American Spanish, \"fr-CA\" for Canadian French.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to dial for this meeting space in E.164 format. Full phone number with a leading '+' character."
        }
      },
      "type": "object"
    },
    "ListParticipantsResponse": {
      "type": "object",
      "description": "Response of ListParticipants method.",
      "id": "ListParticipantsResponse",
      "properties": {
        "totalSize": {
          "type": "integer",
          "description": "Total, exact number of `participants`. By default, this field isn't included in the response. Set the field mask in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters) to receive this field in the response.",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
          "type": "string"
        },
        "participants": {
          "items": {
            "$ref": "Participant"
          },
          "type": "array",
          "description": "List of participants in one page."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription"
}