{
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "revision": "20260804",
  "version_module": true,
  "ownerDomain": "google.com",
  "servicePath": "",
  "batchPath": "batch",
  "baseUrl": "https://meet.googleapis.com/",
  "protocol": "rest",
  "basePath": "",
  "id": "meet:v2",
  "discoveryVersion": "v1",
  "title": "Google Meet API",
  "schemas": {
    "AnonymousUser": {
      "type": "object",
      "id": "AnonymousUser",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. User provided name when they join a conference anonymously."
        }
      },
      "description": "User who joins anonymously (meaning not signed into a Google Account)."
    },
    "Transcript": {
      "description": "Metadata for a transcript generated from a conference. It refers to the ASR (Automatic Speech Recognition) result of user's speech during the conference.",
      "id": "Transcript",
      "properties": {
        "state": {
          "description": "Output only. Current state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default, never used.",
            "An active transcript session has started.",
            "This transcript session has ended, but the transcript file hasn't been generated yet.",
            "Transcript file is generated and ready to download."
          ],
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the transcript started."
        },
        "endTime": {
          "description": "Output only. Timestamp when the transcript stopped.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "docsDestination": {
          "$ref": "DocsDestination",
          "description": "Output only. Where the Google Docs transcript is saved.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the transcript. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`, where `{transcript}` is a 1:1 mapping to each unique transcription session of the conference."
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ModerationRestrictions": {
      "type": "object",
      "description": "Defines restrictions for features when the meeting is moderated.",
      "id": "ModerationRestrictions",
      "properties": {
        "chatRestriction": {
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "type": "string",
          "description": "Defines who has permission to send chat messages in the meeting space."
        },
        "reactionRestriction": {
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "description": "Defines who has permission to send reactions in the meeting space."
        },
        "defaultJoinAsViewerType": {
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Users will by default join as viewers.",
            "Users will by default join as contributors."
          ],
          "enum": [
            "DEFAULT_JOIN_AS_VIEWER_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "description": "Defines whether to restrict the default role assigned to users as viewer."
        },
        "presentRestriction": {
          "description": "Defines who has permission to share their screen in the meeting space.",
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ]
        }
      }
    },
    "ListParticipantSessionsResponse": {
      "description": "Response of ListParticipants method.",
      "id": "ListParticipantSessionsResponse",
      "properties": {
        "participantSessions": {
          "type": "array",
          "description": "List of participants in one page.",
          "items": {
            "$ref": "ParticipantSession"
          }
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GatewaySipAccess": {
      "type": "object",
      "description": "Details how to join the conference through a SIP gateway.",
      "id": "GatewaySipAccess",
      "properties": {
        "uri": {
          "description": "The Session Initiation Protocol (SIP) URI the conference can be reached through. The string is in one of these formats: * \"sip:USER_ID@GATEWAY_ADDRESS\" * \"sips:USER_ID@GATEWAY_ADDRESS\" where USER_ID is the 13-digit universal pin (with the future option to support using a Meet meeting code as well), and GATEWAY_ADDRESS is a valid address to be resolved using a DNS SRV lookup, or a dotted quad.",
          "type": "string"
        },
        "sipAccessCode": {
          "description": "The permanent numeric code for manual entry on specially configured devices.",
          "type": "string"
        }
      }
    },
    "ListRecordingsResponse": {
      "description": "Response for ListRecordings method.",
      "id": "ListRecordingsResponse",
      "properties": {
        "recordings": {
          "description": "List of recordings in one page.",
          "items": {
            "$ref": "Recording"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the recordings. Unset if all recordings are returned.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListTranscriptEntriesResponse": {
      "type": "object",
      "description": "Response for ListTranscriptEntries method.",
      "id": "ListTranscriptEntriesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcript entries. Unset if all entries are returned.",
          "type": "string"
        },
        "transcriptEntries": {
          "description": "List of TranscriptEntries in one page.",
          "items": {
            "$ref": "TranscriptEntry"
          },
          "type": "array"
        }
      }
    },
    "SmartNote": {
      "type": "object",
      "description": "Metadata for a smart note generated from a conference. It refers to the notes generated from Take Notes with Gemini during the conference.",
      "id": "SmartNote",
      "properties": {
        "docsDestination": {
          "$ref": "DocsDestination",
          "description": "Output only. The Google Doc destination where the smart notes are saved.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. Resource name of the smart notes. Format: `conferenceRecords/{conference_record}/smartNotes/{smart_note}`, where `{smart_note}` is a 1:1 mapping to each unique smart notes session of the conference."
        },
        "state": {
          "description": "Output only. Current state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default, never used.",
            "An active smart notes session has started.",
            "This smart notes session has ended, but the smart notes file hasn't been generated yet.",
            "Smart notes file is generated and ready to download."
          ],
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Timestamp when the smart notes started.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the smart notes stopped."
        }
      }
    },
    "ListSmartNotesResponse": {
      "type": "object",
      "id": "ListSmartNotesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the smart notes. Unset if all smart notes are returned.",
          "type": "string"
        },
        "smartNotes": {
          "type": "array",
          "description": "List of smart notes in one page.",
          "items": {
            "$ref": "SmartNote"
          }
        }
      },
      "description": "Response for ListSmartNotes method."
    },
    "ListTranscriptsResponse": {
      "description": "Response for ListTranscripts method.",
      "id": "ListTranscriptsResponse",
      "properties": {
        "transcripts": {
          "description": "List of transcripts in one page.",
          "items": {
            "$ref": "Transcript"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcripts. Unset if all transcripts are returned.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ParticipantSession": {
      "type": "object",
      "id": "ParticipantSession",
      "properties": {
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the user session starts."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the user session ends. Unset if the user session hasn’t ended."
        },
        "name": {
          "description": "Identifier. Session id.",
          "type": "string"
        }
      },
      "description": "Refers to each unique join or leave session when a user joins a conference from a device. Note that any time a user joins the conference a new unique ID is assigned. That means if a user joins a space multiple times from the same device, they're assigned different IDs, and are also be treated as different participant sessions."
    },
    "ActiveConference": {
      "type": "object",
      "description": "Active conference.",
      "id": "ActiveConference",
      "properties": {
        "conferenceRecord": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Reference to 'ConferenceRecord' resource. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space."
        }
      }
    },
    "PhoneAccess": {
      "type": "object",
      "id": "PhoneAccess",
      "properties": {
        "pin": {
          "description": "The PIN that users must enter after dialing the given number. The PIN consists of only decimal digits and the length may vary.",
          "type": "string"
        },
        "regionCode": {
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. To be parsed by the i18n RegionCode utility. Example: \"SE\" for Sweden.",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP 47/LDML language code for the language associated with this phone access. To be parsed by the i18n LanguageCode utility. Examples: \"es-419\" for Latin American Spanish, \"fr-CA\" for Canadian French.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The phone number to dial for this meeting space in E.164 format. Full phone number with a leading '+' character.",
          "type": "string"
        }
      },
      "description": "Phone access contains information required to dial into a conference using a regional phone number and a PIN that is specific to that phone number."
    },
    "ListParticipantsResponse": {
      "id": "ListParticipantsResponse",
      "properties": {
        "participants": {
          "description": "List of participants in one page.",
          "items": {
            "$ref": "Participant"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total, exact number of `participants`. By default, this field isn't included in the response. Set the field mask in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters) to receive this field in the response.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Response of ListParticipants method.",
      "type": "object"
    },
    "Recording": {
      "description": "Metadata about a recording created during a conference.",
      "id": "Recording",
      "properties": {
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the recording started."
        },
        "endTime": {
          "description": "Output only. Timestamp when the recording ended.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. Current state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default, never used.",
            "An active recording session has started.",
            "This recording session has ended, but the recording file hasn't been generated yet.",
            "Recording file is generated and ready to download."
          ]
        },
        "driveDestination": {
          "description": "Output only. Recording is saved to Google Drive as an MP4 file. The `drive_destination` includes the Drive `fileId` that can be used to download the file using the `files.get` method of the Drive API.",
          "$ref": "DriveDestination",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of the recording. Format: `conferenceRecords/{conference_record}/recordings/{recording}` where `{recording}` is a 1:1 mapping to each unique recording session during the conference.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListConferenceRecordsResponse": {
      "type": "object",
      "description": "Response of ListConferenceRecords method.",
      "id": "ListConferenceRecordsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List does NOT include all the Conferences. Unset if all conferences have been returned.",
          "type": "string"
        },
        "conferenceRecords": {
          "description": "List of conferences in one page.",
          "items": {
            "$ref": "ConferenceRecord"
          },
          "type": "array"
        }
      }
    },
    "DocsDestination": {
      "type": "object",
      "description": "Google Docs location where the transcript file is saved.",
      "id": "DocsDestination",
      "properties": {
        "document": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The document ID for the underlying Google Docs transcript file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use the `documents.get` method of the Google Docs API (https://developers.google.com/docs/api/reference/rest/v1/documents/get) to fetch the content."
        },
        "exportUri": {
          "description": "Output only. URI for the Google Docs transcript file. Use `https://docs.google.com/document/d/{$DocumentId}/view` to browse the transcript in the browser.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Space": {
      "description": "Virtual place where conferences are held. Only one active conference can be held in one space at any given time.",
      "id": "Space",
      "properties": {
        "meetingUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI used to join meetings consisting of `https://meet.google.com/` followed by the `meeting_code`. For example, `https://meet.google.com/abc-mnop-xyz`."
        },
        "activeConference": {
          "description": "Active conference, if it exists.",
          "$ref": "ActiveConference"
        },
        "gatewaySipAccess": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The SIP-based access methods that can be used to join the conference. Can be empty.",
          "items": {
            "$ref": "GatewaySipAccess"
          }
        },
        "name": {
          "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
          "type": "string"
        },
        "meetingCode": {
          "description": "Output only. Type friendly unique string used to join the meeting. Format: `[a-z]+-[a-z]+-[a-z]+`. For example, `abc-mnop-xyz`. The maximum length is 128 characters. Can only be used as an alias of the space name to get the space.",
          "type": "string",
          "readOnly": true
        },
        "config": {
          "description": "Configuration pertaining to the meeting space.",
          "$ref": "SpaceConfig"
        },
        "phoneAccess": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. All regional phone access methods for this meeting space. Can be empty.",
          "items": {
            "$ref": "PhoneAccess"
          }
        }
      },
      "type": "object"
    },
    "PhoneUser": {
      "description": "User dialing in from a phone where the user's identity is unknown because they haven't signed in with a Google Account.",
      "id": "PhoneUser",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Partially redacted user's phone number when calling."
        }
      },
      "type": "object"
    },
    "ArtifactConfig": {
      "description": "Configuration related to meeting artifacts potentially generated by this meeting space.",
      "id": "ArtifactConfig",
      "properties": {
        "recordingConfig": {
          "$ref": "RecordingConfig",
          "description": "Configuration for recording."
        },
        "transcriptionConfig": {
          "$ref": "TranscriptionConfig",
          "description": "Configuration for auto-transcript."
        },
        "smartNotesConfig": {
          "description": "Configuration for auto-smart-notes.",
          "$ref": "SmartNotesConfig"
        }
      },
      "type": "object"
    },
    "TranscriptionConfig": {
      "type": "object",
      "description": "Configuration related to transcription in a meeting space.",
      "id": "TranscriptionConfig",
      "properties": {
        "autoTranscriptionGeneration": {
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "type": "string",
          "description": "Defines whether the content of a meeting is automatically transcribed when someone with the privilege to transcribe joins the meeting."
        }
      }
    },
    "RecordingConfig": {
      "id": "RecordingConfig",
      "properties": {
        "autoRecordingGeneration": {
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "description": "Defines whether a meeting space is automatically recorded when someone with the privilege to record joins the meeting."
        }
      },
      "description": "Configuration related to recording in a meeting space.",
      "type": "object"
    },
    "SmartNotesConfig": {
      "type": "object",
      "id": "SmartNotesConfig",
      "properties": {
        "autoSmartNotesGeneration": {
          "description": "Defines whether to automatically generate a summary and recap of the meeting for all invitees in the organization when someone with the privilege to enable smart notes joins the meeting.",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "type": "string"
        }
      },
      "description": "Configuration related to smart notes in a meeting space. For more information about smart notes, see [\"Take notes for me\" in Google Meet](https://support.google.com/meet/answer/14754931)."
    },
    "SignedinUser": {
      "type": "object",
      "id": "SignedinUser",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. For a personal device, it's the user's first name and last name. For a robot account, it's the administrator-specified device name. For example, \"Altostrat Room\"."
        },
        "user": {
          "description": "Output only. Unique ID for the user. Interoperable with Admin SDK API and People API. Format: `users/{user}`",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A signed-in user can be: a) An individual joining from a personal computer, mobile device, or through companion mode. b) A robot account used by conference room devices."
    },
    "TranscriptEntry": {
      "description": "Single entry for one user’s speech during a transcript session.",
      "id": "TranscriptEntry",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the entry. Format: \"conferenceRecords/{conference_record}/transcripts/{transcript}/entries/{entry}\""
        },
        "text": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The transcribed text of the participant's voice, at maximum 10K words. Note that the limit is subject to change."
        },
        "participant": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Refers to the participant who speaks."
        },
        "languageCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Language of spoken text, such as \"en-US\". IETF BCP 47 syntax (https://tools.ietf.org/html/bcp47)"
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the transcript entry started."
        },
        "endTime": {
          "description": "Output only. Timestamp when the transcript entry ended.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DriveDestination": {
      "id": "DriveDestination",
      "properties": {
        "exportUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Link used to play back the recording file in the browser. For example, `https://drive.google.com/file/d/{$fileId}/view`."
        },
        "file": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The `fileId` for the underlying MP4 file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use `$ GET https://www.googleapis.com/drive/v3/files/{$fileId}?alt=media` to download the blob. For more information, see https://developers.google.com/drive/api/v3/reference/files/get."
        }
      },
      "description": "Export location where a recording file is saved in Google Drive.",
      "type": "object"
    },
    "SpaceConfig": {
      "type": "object",
      "description": "The configuration pertaining to a meeting space.",
      "id": "SpaceConfig",
      "properties": {
        "entryPointAccess": {
          "enumDescriptions": [
            "Unused.",
            "All entry points are allowed.",
            "Only entry points owned by the Google Cloud project that created the space can be used to join meetings in this space. Apps can use the Meet Embed SDK Web or mobile Meet SDKs to create owned entry points."
          ],
          "enum": [
            "ENTRY_POINT_ACCESS_UNSPECIFIED",
            "ALL",
            "CREATOR_APP_ONLY"
          ],
          "type": "string",
          "description": "Defines the entry points that can be used to join meetings hosted in this meeting space. Default: EntryPointAccess.ALL"
        },
        "moderationRestrictions": {
          "description": "When moderation.ON, these restrictions go into effect for the meeting. When moderation.OFF, will be reset to default ModerationRestrictions.",
          "$ref": "ModerationRestrictions"
        },
        "moderation": {
          "description": "The pre-configured moderation mode for the Meeting. Default: Controlled by the user's policies.",
          "enumDescriptions": [
            "Moderation type is not specified. This is used to indicate the user hasn't specified any value as the user does not intend to update the state. Users are not allowed to set the value as unspecified.",
            "Moderation is off.",
            "Moderation is on."
          ],
          "enum": [
            "MODERATION_UNSPECIFIED",
            "OFF",
            "ON"
          ],
          "type": "string"
        },
        "accessType": {
          "enumDescriptions": [
            "Default value specified by the user's organization. Note: This is never returned, as the configured access type is returned instead.",
            "Anyone with the join information (for example, the URL or phone access information) can join without knocking.",
            "Members of the host's organization, invited external users, and dial-in users can join without knocking. Everyone else must knock.",
            "Only invitees can join without knocking. Everyone else must knock."
          ],
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "OPEN",
            "TRUSTED",
            "RESTRICTED"
          ],
          "type": "string",
          "description": "Access type of the meeting space that determines who can join without knocking. Default: The user's default access settings. Controlled by the user's admin for enterprise users or RESTRICTED."
        },
        "attendanceReportGenerationType": {
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Attendance report will be generated and sent to drive/email.",
            "Attendance report will not be generated."
          ],
          "enum": [
            "ATTENDANCE_REPORT_GENERATION_TYPE_UNSPECIFIED",
            "GENERATE_REPORT",
            "DO_NOT_GENERATE"
          ],
          "description": "Whether attendance report is enabled for the meeting space."
        },
        "artifactConfig": {
          "$ref": "ArtifactConfig",
          "description": "Configuration pertaining to the auto-generated artifacts that the meeting supports."
        }
      }
    },
    "EndActiveConferenceRequest": {
      "type": "object",
      "id": "EndActiveConferenceRequest",
      "properties": {},
      "description": "Request to end an ongoing conference of a space."
    },
    "ConferenceRecord": {
      "id": "ConferenceRecord",
      "properties": {
        "startTime": {
          "description": "Output only. Timestamp when the conference started. Always set.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the conference ended. Set for past conferences. Unset if the conference is ongoing."
        },
        "expireTime": {
          "description": "Output only. Server enforced expiration time for when this conference record resource is deleted. The resource is deleted 30 days after the conference ends.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "space": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The space where the conference was held."
        },
        "name": {
          "description": "Identifier. Resource name of the conference record. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space.",
          "type": "string"
        }
      },
      "description": "Single instance of a meeting held in a space.",
      "type": "object"
    },
    "Participant": {
      "id": "Participant",
      "properties": {
        "phoneUser": {
          "description": "User calling from their phone.",
          "$ref": "PhoneUser"
        },
        "anonymousUser": {
          "description": "Anonymous user.",
          "$ref": "AnonymousUser"
        },
        "earliestStartTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the participant first joined the meeting."
        },
        "name": {
          "description": "Output only. Resource name of the participant. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
          "type": "string",
          "readOnly": true
        },
        "latestEndTime": {
          "description": "Output only. Time when the participant left the meeting for the last time. This can be null if it's an active meeting.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "signedinUser": {
          "description": "Signed-in user.",
          "$ref": "SignedinUser"
        }
      },
      "description": "User who attended or is attending a conference.",
      "type": "object"
    }
  },
  "mtlsRootUrl": "https://meet.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/meetings.space.created": {
          "description": "Create, edit, and see information about your Google Meet conferences created by the app."
        },
        "https://www.googleapis.com/auth/meetings.space.readonly": {
          "description": "Read information about any of your Google Meet conferences"
        },
        "https://www.googleapis.com/auth/meetings.space.settings": {
          "description": "Edit, and see settings for all of your Google Meet calls."
        }
      }
    }
  },
  "canonicalName": "Meet",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://meet.googleapis.com/",
  "resources": {
    "spaces": {
      "methods": {
        "create": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "v2/spaces",
          "parameters": {},
          "request": {
            "$ref": "Space"
          },
          "response": {
            "$ref": "Space"
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ],
          "description": "Creates a space.",
          "id": "meet.spaces.create",
          "path": "v2/spaces"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "description": "Gets details about a meeting space. For an example, see [Get a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#get-meeting-space).",
          "id": "meet.spaces.get",
          "response": {
            "$ref": "Space"
          },
          "path": "v2/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^spaces/[^/]+$",
              "description": "Required. Resource name of the space. Format: `spaces/{space}` or `spaces/{meetingCode}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. `{meetingCode}` is an alias for the space. It's a typeable, unique character string and is non-case sensitive. For example, `abc-mnop-xyz`. The maximum length is 128 characters. A `meetingCode` shouldn't be stored long term as it can become dissociated from a meeting space and can be reused for different meeting spaces in the future. Generally, a `meetingCode` expires 365 days after last use. For more information, see [Learn about meeting codes in Google Meet](https://support.google.com/meet/answer/10710509). For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/spaces/{spacesId}"
        },
        "patch": {
          "flatPath": "v2/spaces/{spacesId}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^spaces/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space)."
            },
            "updateMask": {
              "description": "Optional. Field mask used to specify the fields to be updated in the space. If update_mask isn't provided(not set, set with empty paths, or only has \"\" as paths), it defaults to update all fields provided with values in the request. Using \"*\" as update_mask will update all fields, including deleting fields not set in the request.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "request": {
            "$ref": "Space"
          },
          "response": {
            "$ref": "Space"
          },
          "id": "meet.spaces.patch",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "description": "Updates details about a meeting space. For an example, see [Update a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#update-meeting-space).",
          "path": "v2/{+name}"
        },
        "endActiveConference": {
          "request": {
            "$ref": "EndActiveConferenceRequest"
          },
          "flatPath": "v2/spaces/{spacesId}:endActiveConference",
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "type": "string",
              "pattern": "^spaces/[^/]+$",
              "location": "path"
            }
          },
          "path": "v2/{+name}:endActiveConference",
          "response": {
            "$ref": "Empty"
          },
          "id": "meet.spaces.endActiveConference",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ],
          "description": "Ends an active conference (if there's one). For an example, see [End active conference](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#end-active-conference)."
        }
      }
    },
    "conferenceRecords": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "description": "Lists the conference records. By default, ordered by start time and in descending order.",
          "id": "meet.conferenceRecords.list",
          "response": {
            "$ref": "ListConferenceRecordsResponse"
          },
          "path": "v2/conferenceRecords",
          "parameters": {
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `space.meeting_code` * `space.name` * `start_time` * `end_time` For example, consider the following filters: * `space.name = \"spaces/NAME\"` * `space.meeting_code = \"abc-mnop-xyz\"` * `start_time>=\"2024-01-01T00:00:00.000Z\" AND start_time<=\"2024-01-02T00:00:00.000Z\"` * `end_time IS NULL`"
            },
            "pageToken": {
              "description": "Optional. Page token returned from previous List Call.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. Maximum number of conference records to return. The service might return fewer than this value. If unspecified, at most 25 conference records are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "v2/conferenceRecords"
        },
        "get": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^conferenceRecords/[^/]+$",
              "description": "Required. Resource name of the conference.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/conferenceRecords/{conferenceRecordsId}",
          "path": "v2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "description": "Gets a conference record by conference ID.",
          "id": "meet.conferenceRecords.get",
          "response": {
            "$ref": "ConferenceRecord"
          }
        }
      },
      "resources": {
        "recordings": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListRecordingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "description": "Lists the recording resources from the conference record. By default, ordered by start time and in ascending order.",
              "id": "meet.conferenceRecords.recordings.list",
              "path": "v2/{+parent}/recordings",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Page token returned from previous List Call.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+$"
                },
                "pageSize": {
                  "description": "Maximum number of recordings to return. The service might return fewer than this value. If unspecified, at most 10 recordings are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "get": {
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings/{recordingsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the recording.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+/recordings/[^/]+$"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "Recording"
              },
              "id": "meet.conferenceRecords.recordings.get",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "description": "Gets a recording by recording ID."
            }
          }
        },
        "transcripts": {
          "resources": {
            "entries": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Page token returned from previous List Call.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Maximum number of entries to return. The service might return fewer than this value. If unspecified, at most 10 entries are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future."
                    },
                    "parent": {
                      "description": "Required. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$"
                    }
                  },
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/entries",
                  "id": "meet.conferenceRecords.transcripts.entries.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "description": "Lists the structured transcript entries per transcript. By default, ordered by start time and in ascending order. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
                  "response": {
                    "$ref": "ListTranscriptEntriesResponse"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "description": "Gets a `TranscriptEntry` resource by entry ID. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
                  "id": "meet.conferenceRecords.transcripts.entries.get",
                  "response": {
                    "$ref": "TranscriptEntry"
                  },
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+/entries/[^/]+$",
                      "type": "string",
                      "description": "Required. Resource name of the `TranscriptEntry`.",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries/{entriesId}"
                }
              }
            }
          },
          "methods": {
            "list": {
              "path": "v2/{+parent}/transcripts",
              "response": {
                "$ref": "ListTranscriptsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "description": "Lists the set of transcripts from the conference record. By default, ordered by start time and in ascending order.",
              "id": "meet.conferenceRecords.transcripts.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token returned from previous List Call."
                },
                "parent": {
                  "pattern": "^conferenceRecords/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Format: `conferenceRecords/{conference_record}`"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of transcripts to return. The service might return fewer than this value. If unspecified, at most 10 transcripts are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "description": "Gets a transcript by transcript ID.",
              "id": "meet.conferenceRecords.transcripts.get",
              "response": {
                "$ref": "Transcript"
              },
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                  "type": "string",
                  "description": "Required. Resource name of the transcript.",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}"
            }
          }
        },
        "smartNotes": {
          "methods": {
            "list": {
              "path": "v2/{+parent}/smartNotes",
              "id": "meet.conferenceRecords.smartNotes.list",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "description": "Lists the set of smart notes from the conference record. By default, ordered by start time and in ascending order.",
              "response": {
                "$ref": "ListSmartNotesResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "Optional. Page token returned from previous List Call.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+$",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. Maximum number of smart notes to return. The service might return fewer than this value. If unspecified, at most 10 smart notes are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "id": "meet.conferenceRecords.smartNotes.get",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "description": "Gets smart notes by smart note ID.",
              "response": {
                "$ref": "SmartNote"
              },
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^conferenceRecords/[^/]+/smartNotes/[^/]+$",
                  "type": "string",
                  "description": "Required. Resource name of the smart note. Format: conferenceRecords/{conference_record}/smartNotes/{smart_note}",
                  "required": true
                }
              },
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes/{smartNotesId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "participants": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListParticipantsResponse"
              },
              "id": "meet.conferenceRecords.participants.list",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "description": "Lists the participants in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted, this API defaults to `'participants/*, next_page_token'`.",
              "path": "v2/{+parent}/participants",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Page token returned from previous List Call.",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `earliest_start_time` * `latest_end_time` For example, `latest_end_time IS NULL` returns active participants in the conference.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+$"
                },
                "pageSize": {
                  "description": "Maximum number of participants to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the participant.",
                  "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Participant"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "description": "Gets a participant by participant ID.",
              "id": "meet.conferenceRecords.participants.get",
              "path": "v2/{+name}"
            }
          },
          "resources": {
            "participantSessions": {
              "methods": {
                "list": {
                  "path": "v2/{+parent}/participantSessions",
                  "response": {
                    "$ref": "ListParticipantSessionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "description": "Lists the participant sessions of a participant in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted this API defaults to `'participantsessions/*, next_page_token'`.",
                  "id": "meet.conferenceRecords.participants.participantSessions.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Format: `conferenceRecords/{conference_record}/participants/{participant}`"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Maximum number of participant sessions to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Page token returned from previous List Call."
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `start_time` * `end_time` For example, `end_time IS NULL` returns active participant sessions in the conference record.",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions/{participantSessionsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+/participantSessions/[^/]+$",
                      "type": "string",
                      "description": "Required. Resource name of the participant.",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "ParticipantSession"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "description": "Gets a participant session by participant session ID.",
                  "id": "meet.conferenceRecords.participants.participantSessions.get"
                }
              }
            }
          }
        }
      }
    }
  },
  "description": "Create and manage meetings in Google Meet.",
  "version": "v2",
  "documentationLink": "https://developers.google.com/workspace/meet/api",
  "name": "meet",
  "fullyEncodeReservedExpansion": true
}