{
  "title": "Google Meet API",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://meet.mtls.googleapis.com/",
  "version": "v2",
  "name": "meet",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/workspace/meet/api",
  "resources": {
    "spaces": {
      "methods": {
        "create": {
          "httpMethod": "POST",
          "request": {
            "$ref": "Space"
          },
          "response": {
            "$ref": "Space"
          },
          "description": "Creates a space.",
          "id": "meet.spaces.create",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ],
          "path": "v2/spaces",
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "v2/spaces"
        },
        "patch": {
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Space"
          },
          "response": {
            "$ref": "Space"
          },
          "description": "Updates details about a meeting space. For an example, see [Update a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#update-meeting-space).",
          "id": "meet.spaces.patch",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "path": "v2/{+name}",
          "parameters": {
            "name": {
              "pattern": "^spaces/[^/]+$",
              "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. Field mask used to specify the fields to be updated in the space. If update_mask isn't provided(not set, set with empty paths, or only has \"\" as paths), it defaults to update all fields provided with values in the request. Using \"*\" as update_mask will update all fields, including deleting fields not set in the request.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/spaces/{spacesId}"
        },
        "get": {
          "description": "Gets details about a meeting space. For an example, see [Get a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#get-meeting-space).",
          "path": "v2/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^spaces/[^/]+$",
              "description": "Required. Resource name of the space. Format: `spaces/{space}` or `spaces/{meetingCode}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. `{meetingCode}` is an alias for the space. It's a typeable, unique character string and is non-case sensitive. For example, `abc-mnop-xyz`. The maximum length is 128 characters. A `meetingCode` shouldn't be stored long term as it can become dissociated from a meeting space and can be reused for different meeting spaces in the future. Generally, a `meetingCode` expires 365 days after last use. For more information, see [Learn about meeting codes in Google Meet](https://support.google.com/meet/answer/10710509). For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space)."
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "meet.spaces.get",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "flatPath": "v2/spaces/{spacesId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Space"
          }
        },
        "endActiveConference": {
          "flatPath": "v2/spaces/{spacesId}:endActiveConference",
          "description": "Ends an active conference (if there's one). For an example, see [End active conference](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#end-active-conference).",
          "id": "meet.spaces.endActiveConference",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ],
          "path": "v2/{+name}:endActiveConference",
          "parameters": {
            "name": {
              "pattern": "^spaces/[^/]+$",
              "description": "Required. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "EndActiveConferenceRequest"
          }
        }
      }
    },
    "conferenceRecords": {
      "methods": {
        "list": {
          "description": "Lists the conference records. By default, ordered by start time and in descending order.",
          "id": "meet.conferenceRecords.list",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "path": "v2/conferenceRecords",
          "parameters": {
            "pageSize": {
              "description": "Optional. Maximum number of conference records to return. The service might return fewer than this value. If unspecified, at most 25 conference records are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "filter": {
              "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `space.meeting_code` * `space.name` * `start_time` * `end_time` For example, consider the following filters: * `space.name = \"spaces/NAME\"` * `space.meeting_code = \"abc-mnop-xyz\"` * `start_time>=\"2024-01-01T00:00:00.000Z\" AND start_time<=\"2024-01-02T00:00:00.000Z\"` * `end_time IS NULL`",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. Page token returned from previous List Call.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "flatPath": "v2/conferenceRecords",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListConferenceRecordsResponse"
          }
        },
        "get": {
          "description": "Gets a conference record by conference ID.",
          "id": "meet.conferenceRecords.get",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "path": "v2/{+name}",
          "parameters": {
            "name": {
              "pattern": "^conferenceRecords/[^/]+$",
              "description": "Required. Resource name of the conference.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/conferenceRecords/{conferenceRecordsId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "ConferenceRecord"
          }
        }
      },
      "resources": {
        "smartNotes": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListSmartNotesResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes",
              "description": "Lists the set of smart notes from the conference record. By default, ordered by start time and in ascending order.",
              "path": "v2/{+parent}/smartNotes",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Maximum number of smart notes to return. The service might return fewer than this value. If unspecified, at most 10 smart notes are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^conferenceRecords/[^/]+$",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Optional. Page token returned from previous List Call.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "meet.conferenceRecords.smartNotes.list",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ]
            },
            "get": {
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes/{smartNotesId}",
              "description": "Gets smart notes by smart note ID.",
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^conferenceRecords/[^/]+/smartNotes/[^/]+$",
                  "description": "Required. Resource name of the smart note. Format: conferenceRecords/{conference_record}/smartNotes/{smart_note}"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "meet.conferenceRecords.smartNotes.get",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "response": {
                "$ref": "SmartNote"
              },
              "httpMethod": "GET"
            }
          }
        },
        "participants": {
          "methods": {
            "list": {
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants",
              "path": "v2/{+parent}/participants",
              "parameters": {
                "parent": {
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "pattern": "^conferenceRecords/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "description": "Page token returned from previous List Call.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of participants to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future.",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `earliest_start_time` * `latest_end_time` For example, `latest_end_time IS NULL` returns active participants in the conference.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "meet.conferenceRecords.participants.list",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "description": "Lists the participants in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted, this API defaults to `'participants/*, next_page_token'`.",
              "response": {
                "$ref": "ListParticipantsResponse"
              },
              "httpMethod": "GET"
            },
            "get": {
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}",
              "description": "Gets a participant by participant ID.",
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                  "description": "Required. Resource name of the participant.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "meet.conferenceRecords.participants.get",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "response": {
                "$ref": "Participant"
              },
              "httpMethod": "GET"
            }
          },
          "resources": {
            "participantSessions": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListParticipantSessionsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions",
                  "description": "Lists the participant sessions of a participant in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted this API defaults to `'participantsessions/*, next_page_token'`.",
                  "path": "v2/{+parent}/participantSessions",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Page token returned from previous List Call.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of participant sessions to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `start_time` * `end_time` For example, `end_time IS NULL` returns active participant sessions in the conference record.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "meet.conferenceRecords.participants.participantSessions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ]
                },
                "get": {
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions/{participantSessionsId}",
                  "description": "Gets a participant session by participant session ID.",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the participant.",
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+/participantSessions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "meet.conferenceRecords.participants.participantSessions.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "response": {
                    "$ref": "ParticipantSession"
                  },
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "recordings": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListRecordingsResponse"
              },
              "id": "meet.conferenceRecords.recordings.list",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "path": "v2/{+parent}/recordings",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of recordings to return. The service might return fewer than this value. If unspecified, at most 10 recordings are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "pattern": "^conferenceRecords/[^/]+$"
                },
                "pageToken": {
                  "description": "Page token returned from previous List Call.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the recording resources from the conference record. By default, ordered by start time and in ascending order.",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings"
            },
            "get": {
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings/{recordingsId}",
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^conferenceRecords/[^/]+/recordings/[^/]+$",
                  "description": "Required. Resource name of the recording.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "meet.conferenceRecords.recordings.get",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "description": "Gets a recording by recording ID.",
              "response": {
                "$ref": "Recording"
              },
              "httpMethod": "GET"
            }
          }
        },
        "transcripts": {
          "resources": {
            "entries": {
              "methods": {
                "get": {
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries/{entriesId}",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Resource name of the `TranscriptEntry`.",
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+/entries/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "meet.conferenceRecords.transcripts.entries.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "description": "Gets a `TranscriptEntry` resource by entry ID. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
                  "response": {
                    "$ref": "TranscriptEntry"
                  },
                  "httpMethod": "GET"
                },
                "list": {
                  "id": "meet.conferenceRecords.transcripts.entries.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "path": "v2/{+parent}/entries",
                  "parameters": {
                    "parent": {
                      "description": "Required. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`",
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Page token returned from previous List Call.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum number of entries to return. The service might return fewer than this value. If unspecified, at most 10 entries are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the structured transcript entries per transcript. By default, ordered by start time and in ascending order. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListTranscriptEntriesResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "response": {
                "$ref": "Transcript"
              },
              "httpMethod": "GET",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}",
              "id": "meet.conferenceRecords.transcripts.get",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                  "description": "Required. Resource name of the transcript.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a transcript by transcript ID."
            },
            "list": {
              "response": {
                "$ref": "ListTranscriptsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts",
              "id": "meet.conferenceRecords.transcripts.list",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "path": "v2/{+parent}/transcripts",
              "parameters": {
                "parent": {
                  "pattern": "^conferenceRecords/[^/]+$",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token returned from previous List Call.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Maximum number of transcripts to return. The service might return fewer than this value. If unspecified, at most 10 transcripts are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the set of transcripts from the conference record. By default, ordered by start time and in ascending order."
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://meet.googleapis.com/",
  "description": "Create and manage meetings in Google Meet.",
  "revision": "20260611",
  "protocol": "rest",
  "servicePath": "",
  "version_module": true,
  "batchPath": "batch",
  "canonicalName": "Meet",
  "id": "meet:v2",
  "parameters": {
    "alt": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "schemas": {
    "SmartNote": {
      "id": "SmartNote",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. Timestamp when the smart notes stopped.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Output only. Timestamp when the smart notes started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "docsDestination": {
          "readOnly": true,
          "description": "Output only. The Google Doc destination where the smart notes are saved.",
          "$ref": "DocsDestination"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default, never used.",
            "An active smart notes session has started.",
            "This smart notes session has ended, but the smart notes file hasn't been generated yet.",
            "Smart notes file is generated and ready to download."
          ],
          "description": "Output only. Current state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. Resource name of the smart notes. Format: `conferenceRecords/{conference_record}/smartNotes/{smart_note}`, where `{smart_note}` is a 1:1 mapping to each unique smart notes session of the conference."
        }
      },
      "description": "Metadata for a smart note generated from a conference. It refers to the notes generated from Take Notes with Gemini during the conference."
    },
    "DriveDestination": {
      "description": "Export location where a recording file is saved in Google Drive.",
      "id": "DriveDestination",
      "type": "object",
      "properties": {
        "exportUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Link used to play back the recording file in the browser. For example, `https://drive.google.com/file/d/{$fileId}/view`."
        },
        "file": {
          "description": "Output only. The `fileId` for the underlying MP4 file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use `$ GET https://www.googleapis.com/drive/v3/files/{$fileId}?alt=media` to download the blob. For more information, see https://developers.google.com/drive/api/v3/reference/files/get.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Transcript": {
      "description": "Metadata for a transcript generated from a conference. It refers to the ASR (Automatic Speech Recognition) result of user's speech during the conference.",
      "id": "Transcript",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. Timestamp when the transcript stopped.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the transcript started.",
          "readOnly": true
        },
        "docsDestination": {
          "readOnly": true,
          "description": "Output only. Where the Google Docs transcript is saved.",
          "$ref": "DocsDestination"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default, never used.",
            "An active transcript session has started.",
            "This transcript session has ended, but the transcript file hasn't been generated yet.",
            "Transcript file is generated and ready to download."
          ],
          "description": "Output only. Current state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ]
        },
        "name": {
          "description": "Output only. Resource name of the transcript. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`, where `{transcript}` is a 1:1 mapping to each unique transcription session of the conference.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListSmartNotesResponse": {
      "id": "ListSmartNotesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the smart notes. Unset if all smart notes are returned."
        },
        "smartNotes": {
          "items": {
            "$ref": "SmartNote"
          },
          "type": "array",
          "description": "List of smart notes in one page."
        }
      },
      "description": "Response for ListSmartNotes method."
    },
    "GatewaySipAccess": {
      "description": "Details how to join the conference through a SIP gateway.",
      "id": "GatewaySipAccess",
      "type": "object",
      "properties": {
        "uri": {
          "description": "The Session Initiation Protocol (SIP) URI the conference can be reached through. The string is in one of these formats: * \"sip:USER_ID@GATEWAY_ADDRESS\" * \"sips:USER_ID@GATEWAY_ADDRESS\" where USER_ID is the 13-digit universal pin (with the future option to support using a Meet meeting code as well), and GATEWAY_ADDRESS is a valid address to be resolved using a DNS SRV lookup, or a dotted quad.",
          "type": "string"
        },
        "sipAccessCode": {
          "description": "The permanent numeric code for manual entry on specially configured devices.",
          "type": "string"
        }
      }
    },
    "DocsDestination": {
      "id": "DocsDestination",
      "type": "object",
      "properties": {
        "document": {
          "description": "Output only. The document ID for the underlying Google Docs transcript file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use the `documents.get` method of the Google Docs API (https://developers.google.com/docs/api/reference/rest/v1/documents/get) to fetch the content.",
          "readOnly": true,
          "type": "string"
        },
        "exportUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URI for the Google Docs transcript file. Use `https://docs.google.com/document/d/{$DocumentId}/view` to browse the transcript in the browser."
        }
      },
      "description": "Google Docs location where the transcript file is saved."
    },
    "TranscriptEntry": {
      "description": "Single entry for one user’s speech during a transcript session.",
      "id": "TranscriptEntry",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the transcript entry started."
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the transcript entry ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the entry. Format: \"conferenceRecords/{conference_record}/transcripts/{transcript}/entries/{entry}\""
        },
        "languageCode": {
          "readOnly": true,
          "description": "Output only. Language of spoken text, such as \"en-US\". IETF BCP 47 syntax (https://tools.ietf.org/html/bcp47)",
          "type": "string"
        },
        "text": {
          "description": "Output only. The transcribed text of the participant's voice, at maximum 10K words. Note that the limit is subject to change.",
          "readOnly": true,
          "type": "string"
        },
        "participant": {
          "type": "string",
          "description": "Output only. Refers to the participant who speaks.",
          "readOnly": true
        }
      }
    },
    "RecordingConfig": {
      "id": "RecordingConfig",
      "type": "object",
      "properties": {
        "autoRecordingGeneration": {
          "type": "string",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "description": "Defines whether a meeting space is automatically recorded when someone with the privilege to record joins the meeting."
        }
      },
      "description": "Configuration related to recording in a meeting space."
    },
    "EndActiveConferenceRequest": {
      "id": "EndActiveConferenceRequest",
      "type": "object",
      "properties": {},
      "description": "Request to end an ongoing conference of a space."
    },
    "AnonymousUser": {
      "description": "User who joins anonymously (meaning not signed into a Google Account).",
      "id": "AnonymousUser",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Output only. User provided name when they join a conference anonymously.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SignedinUser": {
      "id": "SignedinUser",
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. For a personal device, it's the user's first name and last name. For a robot account, it's the administrator-specified device name. For example, \"Altostrat Room\".",
          "type": "string"
        },
        "user": {
          "readOnly": true,
          "description": "Output only. Unique ID for the user. Interoperable with Admin SDK API and People API. Format: `users/{user}`",
          "type": "string"
        }
      },
      "description": "A signed-in user can be: a) An individual joining from a personal computer, mobile device, or through companion mode. b) A robot account used by conference room devices."
    },
    "PhoneUser": {
      "description": "User dialing in from a phone where the user's identity is unknown because they haven't signed in with a Google Account.",
      "id": "PhoneUser",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Partially redacted user's phone number when calling."
        }
      }
    },
    "ConferenceRecord": {
      "id": "ConferenceRecord",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of the conference record. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space.",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Server enforced expiration time for when this conference record resource is deleted. The resource is deleted 30 days after the conference ends.",
          "readOnly": true
        },
        "space": {
          "readOnly": true,
          "description": "Output only. The space where the conference was held.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the conference started. Always set."
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the conference ended. Set for past conferences. Unset if the conference is ongoing.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Single instance of a meeting held in a space."
    },
    "ListRecordingsResponse": {
      "description": "Response for ListRecordings method.",
      "id": "ListRecordingsResponse",
      "type": "object",
      "properties": {
        "recordings": {
          "description": "List of recordings in one page.",
          "items": {
            "$ref": "Recording"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the recordings. Unset if all recordings are returned."
        }
      }
    },
    "TranscriptionConfig": {
      "id": "TranscriptionConfig",
      "type": "object",
      "properties": {
        "autoTranscriptionGeneration": {
          "type": "string",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "description": "Defines whether the content of a meeting is automatically transcribed when someone with the privilege to transcribe joins the meeting."
        }
      },
      "description": "Configuration related to transcription in a meeting space."
    },
    "PhoneAccess": {
      "id": "PhoneAccess",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. To be parsed by the i18n RegionCode utility. Example: \"SE\" for Sweden.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to dial for this meeting space in E.164 format. Full phone number with a leading '+' character."
        },
        "languageCode": {
          "description": "The BCP 47/LDML language code for the language associated with this phone access. To be parsed by the i18n LanguageCode utility. Examples: \"es-419\" for Latin American Spanish, \"fr-CA\" for Canadian French.",
          "type": "string"
        },
        "pin": {
          "description": "The PIN that users must enter after dialing the given number. The PIN consists of only decimal digits and the length may vary.",
          "type": "string"
        }
      },
      "description": "Phone access contains information required to dial into a conference using a regional phone number and a PIN that is specific to that phone number."
    },
    "SpaceConfig": {
      "id": "SpaceConfig",
      "type": "object",
      "properties": {
        "entryPointAccess": {
          "type": "string",
          "enum": [
            "ENTRY_POINT_ACCESS_UNSPECIFIED",
            "ALL",
            "CREATOR_APP_ONLY"
          ],
          "enumDescriptions": [
            "Unused.",
            "All entry points are allowed.",
            "Only entry points owned by the Google Cloud project that created the space can be used to join meetings in this space. Apps can use the Meet Embed SDK Web or mobile Meet SDKs to create owned entry points."
          ],
          "description": "Defines the entry points that can be used to join meetings hosted in this meeting space. Default: EntryPointAccess.ALL"
        },
        "moderation": {
          "description": "The pre-configured moderation mode for the Meeting. Default: Controlled by the user's policies.",
          "enumDescriptions": [
            "Moderation type is not specified. This is used to indicate the user hasn't specified any value as the user does not intend to update the state. Users are not allowed to set the value as unspecified.",
            "Moderation is off.",
            "Moderation is on."
          ],
          "type": "string",
          "enum": [
            "MODERATION_UNSPECIFIED",
            "OFF",
            "ON"
          ]
        },
        "moderationRestrictions": {
          "$ref": "ModerationRestrictions",
          "description": "When moderation.ON, these restrictions go into effect for the meeting. When moderation.OFF, will be reset to default ModerationRestrictions."
        },
        "attendanceReportGenerationType": {
          "type": "string",
          "enum": [
            "ATTENDANCE_REPORT_GENERATION_TYPE_UNSPECIFIED",
            "GENERATE_REPORT",
            "DO_NOT_GENERATE"
          ],
          "description": "Whether attendance report is enabled for the meeting space.",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Attendance report will be generated and sent to drive/email.",
            "Attendance report will not be generated."
          ]
        },
        "accessType": {
          "enumDescriptions": [
            "Default value specified by the user's organization. Note: This is never returned, as the configured access type is returned instead.",
            "Anyone with the join information (for example, the URL or phone access information) can join without knocking.",
            "Members of the host's organization, invited external users, and dial-in users can join without knocking. Everyone else must knock.",
            "Only invitees can join without knocking. Everyone else must knock."
          ],
          "description": "Access type of the meeting space that determines who can join without knocking. Default: The user's default access settings. Controlled by the user's admin for enterprise users or RESTRICTED.",
          "type": "string",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "OPEN",
            "TRUSTED",
            "RESTRICTED"
          ]
        },
        "artifactConfig": {
          "$ref": "ArtifactConfig",
          "description": "Configuration pertaining to the auto-generated artifacts that the meeting supports."
        }
      },
      "description": "The configuration pertaining to a meeting space."
    },
    "ListConferenceRecordsResponse": {
      "id": "ListConferenceRecordsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List does NOT include all the Conferences. Unset if all conferences have been returned."
        },
        "conferenceRecords": {
          "type": "array",
          "items": {
            "$ref": "ConferenceRecord"
          },
          "description": "List of conferences in one page."
        }
      },
      "description": "Response of ListConferenceRecords method."
    },
    "ListParticipantsResponse": {
      "description": "Response of ListParticipants method.",
      "id": "ListParticipantsResponse",
      "type": "object",
      "properties": {
        "participants": {
          "description": "List of participants in one page.",
          "type": "array",
          "items": {
            "$ref": "Participant"
          }
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "Total, exact number of `participants`. By default, this field isn't included in the response. Set the field mask in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters) to receive this field in the response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned."
        }
      }
    },
    "Space": {
      "description": "Virtual place where conferences are held. Only one active conference can be held in one space at any given time.",
      "id": "Space",
      "type": "object",
      "properties": {
        "meetingCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Type friendly unique string used to join the meeting. Format: `[a-z]+-[a-z]+-[a-z]+`. For example, `abc-mnop-xyz`. The maximum length is 128 characters. Can only be used as an alias of the space name to get the space."
        },
        "gatewaySipAccess": {
          "description": "Output only. The SIP-based access methods that can be used to join the conference. Can be empty.",
          "readOnly": true,
          "items": {
            "$ref": "GatewaySipAccess"
          },
          "type": "array"
        },
        "name": {
          "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
          "type": "string"
        },
        "config": {
          "$ref": "SpaceConfig",
          "description": "Configuration pertaining to the meeting space."
        },
        "meetingUri": {
          "type": "string",
          "description": "Output only. URI used to join meetings consisting of `https://meet.google.com/` followed by the `meeting_code`. For example, `https://meet.google.com/abc-mnop-xyz`.",
          "readOnly": true
        },
        "activeConference": {
          "description": "Active conference, if it exists.",
          "$ref": "ActiveConference"
        },
        "phoneAccess": {
          "type": "array",
          "items": {
            "$ref": "PhoneAccess"
          },
          "readOnly": true,
          "description": "Output only. All regional phone access methods for this meeting space. Can be empty."
        }
      }
    },
    "ListParticipantSessionsResponse": {
      "description": "Response of ListParticipants method.",
      "id": "ListParticipantSessionsResponse",
      "type": "object",
      "properties": {
        "participantSessions": {
          "type": "array",
          "items": {
            "$ref": "ParticipantSession"
          },
          "description": "List of participants in one page."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned."
        }
      }
    },
    "ModerationRestrictions": {
      "id": "ModerationRestrictions",
      "type": "object",
      "properties": {
        "defaultJoinAsViewerType": {
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Users will by default join as viewers.",
            "Users will by default join as contributors."
          ],
          "description": "Defines whether to restrict the default role assigned to users as viewer.",
          "type": "string",
          "enum": [
            "DEFAULT_JOIN_AS_VIEWER_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ]
        },
        "reactionRestriction": {
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "description": "Defines who has permission to send reactions in the meeting space.",
          "type": "string",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ]
        },
        "presentRestriction": {
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "description": "Defines who has permission to share their screen in the meeting space.",
          "type": "string",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ]
        },
        "chatRestriction": {
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "description": "Defines who has permission to send chat messages in the meeting space.",
          "type": "string",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ]
        }
      },
      "description": "Defines restrictions for features when the meeting is moderated."
    },
    "Participant": {
      "description": "User who attended or is attending a conference.",
      "id": "Participant",
      "type": "object",
      "properties": {
        "signedinUser": {
          "description": "Signed-in user.",
          "$ref": "SignedinUser"
        },
        "anonymousUser": {
          "description": "Anonymous user.",
          "$ref": "AnonymousUser"
        },
        "phoneUser": {
          "description": "User calling from their phone.",
          "$ref": "PhoneUser"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the participant. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
          "type": "string"
        },
        "latestEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the participant left the meeting for the last time. This can be null if it's an active meeting.",
          "readOnly": true
        },
        "earliestStartTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when the participant first joined the meeting."
        }
      }
    },
    "ArtifactConfig": {
      "description": "Configuration related to meeting artifacts potentially generated by this meeting space.",
      "id": "ArtifactConfig",
      "type": "object",
      "properties": {
        "transcriptionConfig": {
          "description": "Configuration for auto-transcript.",
          "$ref": "TranscriptionConfig"
        },
        "smartNotesConfig": {
          "description": "Configuration for auto-smart-notes.",
          "$ref": "SmartNotesConfig"
        },
        "recordingConfig": {
          "$ref": "RecordingConfig",
          "description": "Configuration for recording."
        }
      }
    },
    "ActiveConference": {
      "id": "ActiveConference",
      "type": "object",
      "properties": {
        "conferenceRecord": {
          "type": "string",
          "description": "Output only. Reference to 'ConferenceRecord' resource. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space.",
          "readOnly": true
        }
      },
      "description": "Active conference."
    },
    "SmartNotesConfig": {
      "id": "SmartNotesConfig",
      "type": "object",
      "properties": {
        "autoSmartNotesGeneration": {
          "type": "string",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "description": "Defines whether to automatically generate a summary and recap of the meeting for all invitees in the organization when someone with the privilege to enable smart notes joins the meeting."
        }
      },
      "description": "Configuration related to smart notes in a meeting space. For more information about smart notes, see [\"Take notes for me\" in Google Meet](https://support.google.com/meet/answer/14754931)."
    },
    "ListTranscriptsResponse": {
      "id": "ListTranscriptsResponse",
      "type": "object",
      "properties": {
        "transcripts": {
          "description": "List of transcripts in one page.",
          "type": "array",
          "items": {
            "$ref": "Transcript"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcripts. Unset if all transcripts are returned."
        }
      },
      "description": "Response for ListTranscripts method."
    },
    "ParticipantSession": {
      "id": "ParticipantSession",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the user session starts.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Session id.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the user session ends. Unset if the user session hasn’t ended.",
          "readOnly": true
        }
      },
      "description": "Refers to each unique join or leave session when a user joins a conference from a device. Note that any time a user joins the conference a new unique ID is assigned. That means if a user joins a space multiple times from the same device, they're assigned different IDs, and are also be treated as different participant sessions."
    },
    "Recording": {
      "description": "Metadata about a recording created during a conference.",
      "id": "Recording",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the recording ended."
        },
        "startTime": {
          "description": "Output only. Timestamp when the recording started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "driveDestination": {
          "readOnly": true,
          "description": "Output only. Recording is saved to Google Drive as an MP4 file. The `drive_destination` includes the Drive `fileId` that can be used to download the file using the `files.get` method of the Drive API.",
          "$ref": "DriveDestination"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the recording. Format: `conferenceRecords/{conference_record}/recordings/{recording}` where `{recording}` is a 1:1 mapping to each unique recording session during the conference.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default, never used.",
            "An active recording session has started.",
            "This recording session has ended, but the recording file hasn't been generated yet.",
            "Recording file is generated and ready to download."
          ],
          "description": "Output only. Current state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ]
        }
      }
    },
    "ListTranscriptEntriesResponse": {
      "id": "ListTranscriptEntriesResponse",
      "type": "object",
      "properties": {
        "transcriptEntries": {
          "description": "List of TranscriptEntries in one page.",
          "type": "array",
          "items": {
            "$ref": "TranscriptEntry"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcript entries. Unset if all entries are returned."
        }
      },
      "description": "Response for ListTranscriptEntries method."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    }
  },
  "basePath": "",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/meetings.space.created": {
          "description": "Create, edit, and see information about your Google Meet conferences created by the app."
        },
        "https://www.googleapis.com/auth/meetings.space.readonly": {
          "description": "Read information about any of your Google Meet conferences"
        },
        "https://www.googleapis.com/auth/meetings.space.settings": {
          "description": "Edit, and see settings for all of your Google Meet calls."
        }
      }
    }
  },
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://meet.googleapis.com/"
}