{
  "basePath": "",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "protocol": "rest",
  "id": "merchantapi:products_v1beta",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/merchant/api",
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "ownerName": "Google",
  "version": "products_v1beta",
  "canonicalName": "Merchant",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "schemas": {
    "ProductSustainabilityIncentive": {
      "id": "ProductSustainabilityIncentive",
      "properties": {
        "amount": {
          "$ref": "Price",
          "description": "The fixed amount of the incentive."
        },
        "type": {
          "description": "Sustainability incentive program.",
          "enumDescriptions": [
            "Unspecified or unknown sustainability incentive type.",
            "Program offering tax liability reductions for electric vehicles and, in some countries, plug-in hybrids. These reductions can be based on a specific amount or a percentage of the sale price.",
            "A subsidy program, often called an environmental bonus, provides a purchase grant for electric vehicles and, in some countries, plug-in hybrids. The grant amount may be a fixed sum or a percentage of the sale price."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EV_TAX_CREDIT",
            "EV_PRICE_DISCOUNT"
          ]
        },
        "percentage": {
          "description": "The percentage of the sale price that the incentive is applied to.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Information regarding sustainability-related incentive programs such as rebates or tax relief."
    },
    "ProductDetail": {
      "description": "The product details.",
      "type": "object",
      "properties": {
        "sectionName": {
          "description": "The section header used to group a set of product details.",
          "type": "string"
        },
        "attributeValue": {
          "type": "string",
          "description": "The value of the product detail."
        },
        "attributeName": {
          "description": "The name of the product detail.",
          "type": "string"
        }
      },
      "id": "ProductDetail"
    },
    "FreeShippingThreshold": {
      "id": "FreeShippingThreshold",
      "description": "Conditions to be met for a product to have free shipping.",
      "properties": {
        "priceThreshold": {
          "description": "The minimum product price for the shipping cost to become free. Represented as a number.",
          "$ref": "Price"
        },
        "country": {
          "description": "The [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the country to which an item will ship.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LoyaltyProgram": {
      "id": "LoyaltyProgram",
      "type": "object",
      "description": "A message that represents loyalty program. For more information on loyalty programs, see [Overview of loyalty programs](/merchant/api/guides/loyalty/loyalty-programs).",
      "properties": {
        "programLabel": {
          "description": "The label of the loyalty program. This is an internal label that uniquely identifies the relationship between a business entity and a loyalty program entity. The label must be provided so that the system can associate the assets below (for example, price and points) with a business. The corresponding program must be linked to the Merchant Center account.",
          "type": "string"
        },
        "cashbackForFutureUse": {
          "description": "The cashback that can be used for future purchases.",
          "$ref": "Price"
        },
        "shippingLabel": {
          "type": "string",
          "description": "The label of the shipping benefit. If the field has value, this offer has loyalty shipping benefit. If the field value isn't provided, the item is not eligible for loyalty shipping for the given loyalty tier."
        },
        "memberPriceEffectiveDate": {
          "description": "A date range during which the item is eligible for member price. If not specified, the member price is always applicable. The date range is represented by a pair of ISO 8601 dates separated by a space, comma, or slash.",
          "$ref": "Interval"
        },
        "price": {
          "$ref": "Price",
          "description": "The price for members of the given tier, that is, the instant discount price. Must be smaller or equal to the regular price."
        },
        "loyaltyPoints": {
          "description": "The amount of loyalty points earned on a purchase.",
          "format": "int64",
          "type": "string"
        },
        "tierLabel": {
          "description": "The label of the tier within the loyalty program. Must match one of the labels within the program.",
          "type": "string"
        }
      }
    },
    "AutomatedDiscounts": {
      "type": "object",
      "id": "AutomatedDiscounts",
      "description": "Information regarding Automated Discounts.",
      "properties": {
        "priorPrice": {
          "$ref": "Price",
          "description": "The price prior to the application of the first price reduction. Absent if the information about the prior price of the product is not available."
        },
        "priorPriceProgressive": {
          "$ref": "Price",
          "description": "The price prior to the application of consecutive price reductions. Absent if the information about the prior price of the product is not available."
        },
        "gadPrice": {
          "description": "The current sale price for products with a price optimized using Google Automated Discounts (GAD). Absent if the information about the GAD_price of the product is not available.",
          "$ref": "Price"
        }
      }
    },
    "ProductStatusChangeMessage": {
      "description": "The message that the merchant will receive to notify about product status change event",
      "id": "ProductStatusChangeMessage",
      "type": "object",
      "properties": {
        "eventTime": {
          "type": "string",
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications.",
          "format": "google-datetime"
        },
        "resource": {
          "type": "string",
          "description": "The product name. Format: `accounts/{account}/products/{product}`"
        },
        "resourceType": {
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product",
            "Account service"
          ],
          "type": "string",
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT",
            "ACCOUNT_SERVICE"
          ],
          "description": "The resource that changed, in this case it will always be `Product`."
        },
        "resourceId": {
          "type": "string",
          "description": "The product id."
        },
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event."
        },
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        },
        "attribute": {
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "description": "The attribute in the resource that changed, in this case it will be always `Status`.",
          "type": "string"
        },
        "changes": {
          "description": "A message to describe the change that happened to the product",
          "type": "array",
          "items": {
            "$ref": "ProductChange"
          }
        },
        "managingAccount": {
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`",
          "type": "string"
        }
      }
    },
    "Tax": {
      "properties": {
        "rate": {
          "description": "The percentage of tax rate that applies to the item price.",
          "type": "number",
          "format": "double"
        },
        "country": {
          "description": "The country within which the item is taxed, specified as a [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml).",
          "type": "string"
        },
        "taxShip": {
          "description": "Set to true if tax is charged on shipping.",
          "type": "boolean"
        },
        "region": {
          "description": "The geographic region to which the tax rate applies.",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The numeric ID of a location that the tax rate applies to as defined in the [AdWords API](https://developers.google.com/adwords/api/docs/appendix/geotargeting).",
          "format": "int64"
        },
        "postalCode": {
          "description": "The postal code range that the tax rate applies to, represented by a ZIP code, a ZIP code prefix using * wildcard, a range between two ZIP codes or two ZIP code prefixes of equal length. Examples: 94114, 94*, 94002-95460, 94*-95*.",
          "type": "string"
        }
      },
      "description": "The Tax of the product.",
      "id": "Tax",
      "type": "object"
    },
    "Shipping": {
      "id": "Shipping",
      "type": "object",
      "description": "The Shipping of the product.",
      "properties": {
        "country": {
          "type": "string",
          "description": "The [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the country to which an item will ship."
        },
        "handlingCutoffTimezone": {
          "description": "[Timezone identifier](https://developers.google.com/adwords/api/docs/appendix/codes-formats#timezone-ids) For example `Europe/Zurich`. This field only applies if `handling_cutoff_time` is set. If `handling_cutoff_time` is set but this field is not set, the shipping destination timezone will be used. If both fields are not set, the handling cutoff time will default to 8AM PST.",
          "type": "string"
        },
        "price": {
          "$ref": "Price",
          "description": "Fixed shipping price, represented as a number."
        },
        "region": {
          "type": "string",
          "description": "The geographic region to which a shipping rate applies. See [region](https://support.google.com/merchants/answer/6324484) for more information."
        },
        "locationId": {
          "type": "string",
          "format": "int64",
          "description": "The numeric ID of a location that the shipping rate applies to as defined in the [AdWords API](https://developers.google.com/adwords/api/docs/appendix/geotargeting)."
        },
        "service": {
          "description": "A free-form description of the service class or delivery speed.",
          "type": "string"
        },
        "locationGroupName": {
          "type": "string",
          "description": "The location where the shipping is applicable, represented by a location group name."
        },
        "postalCode": {
          "description": "The postal code range that the shipping rate applies to, represented by a postal code, a postal code prefix followed by a * wildcard, a range between two postal codes or two postal code prefixes of equal length.",
          "type": "string"
        },
        "maxHandlingTime": {
          "format": "int64",
          "description": "Maximum handling time (inclusive) between when the order is received and shipped in business days. 0 means that the order is shipped on the same day as it is received if it happens before the cut-off time. Both maxHandlingTime and maxTransitTime are required if providing shipping speeds. minHandlingTime is optional if maxHandlingTime is present.",
          "type": "string"
        },
        "handlingCutoffTime": {
          "description": "The handling cutoff time until which an order has to be placed to be processed in the same day. This is a string in format of HHMM (e.g. `1530`) for 3:30 PM. If not configured, the cutoff time will be defaulted to 8AM PST and `handling_cutoff_timezone` will be ignored.",
          "type": "string"
        },
        "loyaltyTierLabel": {
          "type": "string",
          "description": "Optional. The label of the [loyalty tier](https://support.google.com/merchants/answer/6324484) within the loyalty program. Must match one of the tiers set in the loyalty_programs. When set (in combination with [loyalty_program_label](https://support.google.com/merchants/answer/6324484)), this shipping option is only applicable to loyalty program members of the specified tier."
        },
        "minHandlingTime": {
          "format": "int64",
          "description": "Minimum handling time (inclusive) between when the order is received and shipped in business days. 0 means that the order is shipped on the same day as it is received if it happens before the cut-off time. minHandlingTime can only be present together with maxHandlingTime; but it is not required if maxHandlingTime is present.",
          "type": "string"
        },
        "maxTransitTime": {
          "format": "int64",
          "type": "string",
          "description": "Maximum transit time (inclusive) between when the order has shipped and when it is delivered in business days. 0 means that the order is delivered on the same day as it ships. Both maxHandlingTime and maxTransitTime are required if providing shipping speeds. minTransitTime is optional if maxTransitTime is present."
        },
        "minTransitTime": {
          "description": "Minimum transit time (inclusive) between when the order has shipped and when it is delivered in business days. 0 means that the order is delivered on the same day as it ships. minTransitTime can only be present together with maxTransitTime; but it is not required if maxTransitTime is present.",
          "type": "string",
          "format": "int64"
        },
        "loyaltyProgramLabel": {
          "description": "Optional. The label of the [loyalty program](https://support.google.com/merchants/answer/6324484). Must match one of the program labels set in loyalty_programs. When set (in combination with [loyalty_tier_label](https://support.google.com/merchants/answer/6324484)), this shipping option is only applicable to loyalty program members of the specified tier.",
          "type": "string"
        }
      }
    },
    "LoyaltyPoints": {
      "properties": {
        "ratio": {
          "format": "double",
          "type": "number",
          "description": "The ratio of a point when converted to currency. Google assumes currency based on Merchant Center settings. If ratio is left out, it defaults to 1.0."
        },
        "pointsValue": {
          "format": "int64",
          "type": "string",
          "description": "The retailer's loyalty points in absolute value."
        },
        "name": {
          "description": "Name of loyalty points program. It is recommended to limit the name to 12 full-width characters or 24 Roman characters.",
          "type": "string"
        }
      },
      "description": "A message that represents loyalty points.",
      "id": "LoyaltyPoints",
      "type": "object"
    },
    "UnitPricingMeasure": {
      "id": "UnitPricingMeasure",
      "type": "object",
      "description": "The UnitPricingMeasure of the product.",
      "properties": {
        "value": {
          "description": "The measure of an item.",
          "format": "double",
          "type": "number"
        },
        "unit": {
          "description": "The unit of the measure.",
          "type": "string"
        }
      }
    },
    "Certification": {
      "description": "Product [certification](https://support.google.com/merchants/answer/13528839), initially introduced for EU energy efficiency labeling compliance using the EU EPREL database.",
      "type": "object",
      "id": "Certification",
      "properties": {
        "certificationCode": {
          "description": "The certification code. Maximum length is 2000 characters.",
          "type": "string"
        },
        "certificationLabelLink": {
          "type": "string",
          "description": "Optional. URL to the certification label (eg. `https://www.example.com/label`), for example, the energy efficiency label required by UK's DESNZ or EU's EPREL. Maximum length is 2000 characters. For more information, see [Certification](https://support.google.com/merchants/answer/13528839)."
        },
        "certificationDocumentLink": {
          "description": "Optional. URL to the certification document (eg. `https://www.example.com/document`), for example, the product data sheet or fiche required by UK's DESNZ or EU's EPREL. Maximum length is 2000 characters. For more information, see [Certification](https://support.google.com/merchants/answer/13528839).",
          "type": "string"
        },
        "certificationName": {
          "description": "The name of the certification, for example \"EPREL\". Maximum length is 2000 characters.",
          "type": "string"
        },
        "certificationValue": {
          "description": "The certification value (also known as class, level or grade), for example \"A+\", \"C\", \"gold\". Maximum length is 2000 characters.",
          "type": "string"
        },
        "certificationAuthority": {
          "description": "The certification authority, for example \"European_Commission\". Maximum length is 2000 characters.",
          "type": "string"
        }
      }
    },
    "ProductChange": {
      "type": "object",
      "id": "ProductChange",
      "properties": {
        "oldValue": {
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "regionCode": {
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format.",
          "type": "string"
        },
        "reportingContext": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT",
            "RENTAL_ADS"
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout .",
            "Real Estate Rental Ads. ."
          ],
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)"
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        }
      },
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context."
    },
    "ProductStructuredDescription": {
      "properties": {
        "digitalSourceType": {
          "type": "string",
          "description": "The digital source type, for example \"trained_algorithmic_media\". Following [IPTC](https://cv.iptc.org/newscodes/digitalsourcetype). Maximum length is 40 characters."
        },
        "content": {
          "description": "The description text Maximum length is 5000 characters",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Structured description, for algorithmically (AI)-generated descriptions.",
      "id": "ProductStructuredDescription"
    },
    "CloudExportAdditionalProperties": {
      "description": "Product property for the Cloud Retail API. For example, properties for a TV product could be \"Screen-Resolution\" or \"Screen-Size\".",
      "properties": {
        "boolValue": {
          "type": "boolean",
          "description": "Boolean value of the given property. For example for a TV product, \"True\" or \"False\" if the screen is UHD."
        },
        "floatValue": {
          "description": "Float values of the given property. For example for a TV product 1.2345. Maximum repeatedness of this value is 400. Values are stored in an arbitrary but consistent order.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "textValue": {
          "description": "Text value of the given property. For example, \"8K(UHD)\" could be a text value for a TV product. Maximum repeatedness of this value is 400. Values are stored in an arbitrary but consistent order. Maximum string size is 256 characters.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "maxValue": {
          "format": "float",
          "type": "number",
          "description": "Maximum float value of the given property. For example for a TV product 100.00."
        },
        "intValue": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Integer values of the given property. For example, 1080 for a TV product's Screen Resolution. Maximum repeatedness of this value is 400. Values are stored in an arbitrary but consistent order."
        },
        "unitCode": {
          "type": "string",
          "description": "Unit of the given property. For example, \"Pixels\" for a TV product. Maximum string size is 256B."
        },
        "minValue": {
          "description": "Minimum float value of the given property. For example for a TV product 1.00.",
          "type": "number",
          "format": "float"
        },
        "propertyName": {
          "description": "Name of the given property. For example, \"Screen-Resolution\" for a TV product. Maximum string size is 256 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudExportAdditionalProperties"
    },
    "Price": {
      "description": "The price represented as a number and currency.",
      "type": "object",
      "id": "Price",
      "properties": {
        "amountMicros": {
          "type": "string",
          "format": "int64",
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros)."
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217)."
        }
      }
    },
    "Interval": {
      "type": "object",
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string"
        }
      }
    },
    "ProductDimension": {
      "properties": {
        "unit": {
          "description": "Required. The dimension units. Acceptable values are: * \"`in`\" * \"`cm`\"",
          "type": "string"
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "Required. The dimension value represented as a number. The value can have a maximum precision of four decimal places."
        }
      },
      "description": "The dimension of the product.",
      "type": "object",
      "id": "ProductDimension"
    },
    "UnitPricingBaseMeasure": {
      "id": "UnitPricingBaseMeasure",
      "description": "The UnitPricingBaseMeasure of the product.",
      "type": "object",
      "properties": {
        "value": {
          "format": "int64",
          "description": "The denominator of the unit price.",
          "type": "string"
        },
        "unit": {
          "description": "The unit of the denominator.",
          "type": "string"
        }
      }
    },
    "ProductStructuredTitle": {
      "type": "object",
      "description": "Structured title, for algorithmically (AI)-generated titles.",
      "properties": {
        "digitalSourceType": {
          "description": "The digital source type, for example \"trained_algorithmic_media\". Following [IPTC](https://cv.iptc.org/newscodes/digitalsourcetype). Maximum length is 40 characters.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "The title text Maximum length is 150 characters"
        }
      },
      "id": "ProductStructuredTitle"
    },
    "DestinationStatus": {
      "properties": {
        "disapprovedCountries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved."
        },
        "approvedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "reportingContext": {
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT",
            "RENTAL_ADS"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The name of the reporting context.",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout .",
            "Real Estate Rental Ads. ."
          ]
        },
        "pendingCountries": {
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "DestinationStatus",
      "description": "The destination status of the product status. Equivalent to `StatusPerReportingContext` in Reports API."
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "Product": {
      "id": "Product",
      "properties": {
        "offerId": {
          "type": "string",
          "description": "Output only. Your unique identifier for the product. This is the same for the product input and processed product. Leading and trailing whitespaces are stripped and multiple whitespaces are replaced by a single whitespace upon submission. See the [product data specification](https://support.google.com/merchants/answer/188494#id) for details.",
          "readOnly": true
        },
        "customAttributes": {
          "readOnly": true,
          "description": "Output only. A list of custom (merchant-provided) attributes. It can also be used to submit any attribute of the data specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "channel": {
          "description": "Output only. The [channel](https://support.google.com/merchants/answer/7361332) of the product.",
          "type": "string",
          "enum": [
            "CHANNEL_ENUM_UNSPECIFIED",
            "ONLINE",
            "LOCAL"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Online product.",
            "Local product."
          ]
        },
        "contentLanguage": {
          "description": "Output only. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product.",
          "type": "string",
          "readOnly": true
        },
        "feedLabel": {
          "readOnly": true,
          "description": "Output only. The feed label lets you categorize and identify your products. The maximum allowed characters is 20 and the supported characters are`A-Z`, `0-9`, hyphen and underscore. The feed label must not include any spaces. For more information, see [Using feed labels](//support.google.com/merchants/answer/14994087)",
          "type": "string"
        },
        "archived": {
          "description": "Output only. Determines whether the product is [archived](https://support.google.com/merchants/answer/11909930). To archive or restore your product, visit Merchant Center products page. Learn also more about [offer visibility](https://support.google.com/merchants/answer/12488713).",
          "type": "boolean",
          "readOnly": true
        },
        "productStatus": {
          "description": "Output only. The status of a product, data validation issues, that is, information about a product computed asynchronously.",
          "$ref": "ProductStatus",
          "readOnly": true
        },
        "attributes": {
          "description": "Output only. A list of product attributes.",
          "readOnly": true,
          "$ref": "Attributes"
        },
        "dataSource": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The primary data source of the product."
        },
        "automatedDiscounts": {
          "readOnly": true,
          "$ref": "AutomatedDiscounts",
          "description": "Output only. The automated discounts information for the product."
        },
        "base64EncodedName": {
          "type": "string",
          "description": "Output only. The **unpadded base64url encoded name** of the product. Format: `accounts/{account}/products/{product}` where the last section `product` is the unpadded base64url encoding of the `content_language~feed_label~offer_id` name. Example: `accounts/123/products/ZW5-VVN-c2t1LzEyMw` for the decoded product name `accounts/123/products/en~US~sku/123`. This field can be used directly as input to the API methods that require the product name to be encoded if it contains special characters, for example [`GetProduct`](https://developers.google.com/merchant/api/reference/rest/products_v1beta/accounts.products/get).",
          "readOnly": true
        },
        "versionNumber": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Represents the existing version (freshness) of the product, which can be used to preserve the right order when multiple updates are done at the same time. If set, the insertion is prevented when version number is lower than the current version number of the existing product. Re-insertion (for example, product refresh after 30 days) can be performed with the current `version_number`. Only supported for insertions into primary data sources. If the operation is prevented, the aborted exception will be thrown.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the product. Format: `accounts/{account}/products/{product}` where the last section `product` consists of: `content_language~feed_label~offer_id` example for product name is `accounts/123/products/en~US~sku123`. A legacy local product name would be `accounts/123/products/local~en~US~sku123`. Note: For calls to the v1beta version, the `product` section consists of: `channel~content_language~feed_label~offer_id`, for example: `accounts/123/products/online~en~US~sku123`."
        }
      },
      "type": "object",
      "description": "The processed product, built from multiple product inputs after applying rules and supplemental data sources. This processed product matches what is shown in your Merchant Center account. Each product is built from exactly one primary data source product input, and multiple supplemental data source inputs. After inserting, updating, or deleting a product input, it may take several minutes before the updated processed product can be retrieved. All fields in the processed product and its sub-messages match the name of their corresponding attribute in the [Product data specification](https://support.google.com/merchants/answer/7052112) with some exceptions."
    },
    "ProductWeight": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places.",
          "format": "double",
          "type": "number"
        },
        "unit": {
          "description": "Required. The weight unit. Acceptable values are: * \"`g`\" * \"`kg`\" * \"`oz`\" * \"`lb`\"",
          "type": "string"
        }
      },
      "description": "The weight of the product.",
      "id": "ProductWeight"
    },
    "ShippingWeight": {
      "type": "object",
      "description": "The ShippingWeight of the product.",
      "id": "ShippingWeight",
      "properties": {
        "value": {
          "format": "double",
          "type": "number",
          "description": "The weight of the product used to calculate the shipping cost of the item."
        },
        "unit": {
          "description": "The unit of value.",
          "type": "string"
        }
      }
    },
    "ListProductsResponse": {
      "type": "object",
      "id": "ListProductsResponse",
      "description": "Response message for the ListProducts method.",
      "properties": {
        "products": {
          "items": {
            "$ref": "Product"
          },
          "type": "array",
          "description": "The processed products from the specified account. These are your processed products after applying rules and supplemental data sources."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ProductStatus": {
      "description": "The status of a product, data validation issues, that is, information about a product computed asynchronously.",
      "id": "ProductStatus",
      "properties": {
        "googleExpirationDate": {
          "description": "Date on which the item expires, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime",
          "type": "string"
        },
        "itemLevelIssues": {
          "description": "A list of all issues associated with the product.",
          "type": "array",
          "items": {
            "$ref": "ItemLevelIssue"
          }
        },
        "creationDate": {
          "description": "Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime",
          "type": "string"
        },
        "lastUpdateDate": {
          "format": "google-datetime",
          "type": "string",
          "description": "Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        },
        "destinationStatuses": {
          "type": "array",
          "items": {
            "$ref": "DestinationStatus"
          },
          "description": "The intended destinations for the product."
        }
      },
      "type": "object"
    },
    "SubscriptionCost": {
      "id": "SubscriptionCost",
      "properties": {
        "periodLength": {
          "type": "string",
          "format": "int64",
          "description": "The number of subscription periods the buyer has to pay."
        },
        "period": {
          "type": "string",
          "enumDescriptions": [
            "Indicates that the subscription period is unspecified.",
            "Indicates that the subscription period is month.",
            "Indicates that the subscription period is year.",
            "Indicates that the subscription period is week."
          ],
          "enum": [
            "SUBSCRIPTION_PERIOD_UNSPECIFIED",
            "MONTH",
            "YEAR",
            "WEEK"
          ],
          "description": "The type of subscription period. Supported values are: * \"`month`\" * \"`year`\" * \"`week`\""
        },
        "amount": {
          "$ref": "Price",
          "description": "The amount the buyer has to pay per subscription period."
        }
      },
      "description": "The SubscriptionCost of the product.",
      "type": "object"
    },
    "CustomAttribute": {
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the attribute."
        },
        "value": {
          "type": "string",
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty."
        },
        "groupValues": {
          "type": "array",
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty.",
          "items": {
            "$ref": "CustomAttribute"
          }
        }
      },
      "id": "CustomAttribute"
    },
    "ItemLevelIssue": {
      "type": "object",
      "id": "ItemLevelIssue",
      "properties": {
        "resolution": {
          "description": "Whether the issue can be resolved by the business.",
          "type": "string"
        },
        "reportingContext": {
          "description": "The reporting context the issue applies to.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout .",
            "Real Estate Rental Ads. ."
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT",
            "RENTAL_ADS"
          ]
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "This issue represents a warning and does not have a direct affect on the product.",
            "The product is demoted and most likely have limited performance in search results",
            "Issue disapproves the product."
          ],
          "description": "How this issue affects serving of the offer.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOT_IMPACTED",
            "DEMOTED",
            "DISAPPROVED"
          ]
        },
        "code": {
          "type": "string",
          "description": "The error code of the issue."
        },
        "detail": {
          "type": "string",
          "description": "A detailed issue description in English."
        },
        "description": {
          "type": "string",
          "description": "A short issue description in English."
        },
        "applicableCountries": {
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the offer.",
          "items": {
            "type": "string"
          }
        },
        "attribute": {
          "type": "string",
          "description": "The attribute's name, if the issue is caused by a single attribute."
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        }
      },
      "description": "The ItemLevelIssue of the product status."
    },
    "Installment": {
      "properties": {
        "creditType": {
          "description": "Type of installment payments. Supported values are: * \"`finance`\" * \"`lease`\"",
          "type": "string"
        },
        "months": {
          "type": "string",
          "format": "int64",
          "description": "The number of installments the buyer has to pay."
        },
        "downpayment": {
          "$ref": "Price",
          "description": "The up-front down payment amount the buyer has to pay."
        },
        "amount": {
          "description": "The amount the buyer has to pay per month.",
          "$ref": "Price"
        }
      },
      "description": "A message that represents installment.",
      "id": "Installment",
      "type": "object"
    },
    "Attributes": {
      "id": "Attributes",
      "description": "Attributes.",
      "type": "object",
      "properties": {
        "price": {
          "$ref": "Price",
          "description": "Price of the item."
        },
        "pause": {
          "description": "Publication of this item will be temporarily [paused](https://support.google.com/merchants/answer/11909930).",
          "type": "string"
        },
        "installment": {
          "$ref": "Installment",
          "description": "Number and amount of installments to pay for an item."
        },
        "cloudExportAdditionalProperties": {
          "items": {
            "$ref": "CloudExportAdditionalProperties"
          },
          "type": "array",
          "description": "Extra fields to export to the Cloud Retail program."
        },
        "energyEfficiencyClass": {
          "type": "string",
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU."
        },
        "productHighlights": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Bullet points describing the most relevant [product highlights](https://support.google.com/merchants/answer/9216100)."
        },
        "minEnergyEfficiencyClass": {
          "type": "string",
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU."
        },
        "shipping": {
          "items": {
            "$ref": "Shipping"
          },
          "description": "Shipping rules.",
          "type": "array"
        },
        "mpn": {
          "description": "Manufacturer Part Number ([MPN](https://support.google.com/merchants/answer/6324482)) of the item.",
          "type": "string"
        },
        "maxEnergyEfficiencyClass": {
          "type": "string",
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU."
        },
        "availabilityDate": {
          "format": "google-datetime",
          "type": "string",
          "description": "The day a pre-ordered product becomes available for delivery, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        },
        "certifications": {
          "type": "array",
          "description": "Product Certifications, for example for energy efficiency labeling of products recorded in the [EU EPREL](https://eprel.ec.europa.eu/screen/home) database. For more information, see [Certification](https://support.google.com/merchants/answer/13528839).",
          "items": {
            "$ref": "Certification"
          }
        },
        "loyaltyPrograms": {
          "description": "A list of loyalty program information that is used to surface loyalty benefits (for example, better pricing, points, etc) to the user of this item.",
          "items": {
            "$ref": "LoyaltyProgram"
          },
          "type": "array"
        },
        "condition": {
          "type": "string",
          "description": "[Condition](https://support.google.com/merchants/answer/6324469) or state of the item. For example, \"new\" or \"used\"."
        },
        "description": {
          "type": "string",
          "description": "Description of the item."
        },
        "customLabel0": {
          "description": "[Custom label 0](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "taxCategory": {
          "description": "The [tax category](https://support.google.com/merchants/answer/7569847) of the product.",
          "type": "string",
          "deprecated": true
        },
        "displayAdsId": {
          "description": "An identifier for an item for dynamic remarketing campaigns.",
          "type": "string"
        },
        "customLabel1": {
          "description": "[Custom label 1](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "googleProductCategory": {
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API.",
          "type": "string"
        },
        "productHeight": {
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "displayAdsLink": {
          "description": "URL directly to your item's landing page for dynamic remarketing campaigns.",
          "type": "string"
        },
        "linkTemplate": {
          "description": "[Link template](https://support.google.com/merchants/answer/13871172) for business hosted local storefront.",
          "type": "string"
        },
        "productTypes": {
          "type": "array",
          "description": "Categories of the item (formatted as in [product data specification](https://support.google.com/merchants/answer/7052112#product_category)).",
          "items": {
            "type": "string"
          }
        },
        "excludedDestinations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Destinations also known as [Marketing methods](https://support.google.com/merchants/answer/15130232) selections. The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center). For more information, see [Excluded destination](https://support.google.com/merchants/answer/6324486). Note: We recommend setting destinations on datasources level for most use cases. Use this field within products to only setup exceptions."
        },
        "pickupMethod": {
          "description": "The [pickup](https://support.google.com/merchants/answer/14634021) option for the item.",
          "type": "string"
        },
        "sellOnGoogleQuantity": {
          "type": "string",
          "format": "int64",
          "description": "The quantity of the product that is available for selling on Google. Supported only for online products."
        },
        "unitPricingBaseMeasure": {
          "description": "The preference of the denominator of the unit price.",
          "$ref": "UnitPricingBaseMeasure"
        },
        "expirationDate": {
          "description": "Date on which the item should expire, as specified upon insertion, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. The actual expiration date is exposed in `productstatuses` as [googleExpirationDate](https://support.google.com/merchants/answer/6324499) and might be earlier if `expirationDate` is too far in the future.",
          "format": "google-datetime",
          "type": "string"
        },
        "adsLabels": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Similar to ads_grouping, but only works on CPC."
        },
        "sizeSystem": {
          "description": "System in which the size is specified. Recommended for apparel items. For example, \"US\", \"UK\", \"DE\". For more information, see [Size system](https://support.google.com/merchants/answer/6324502).",
          "type": "string"
        },
        "adsRedirect": {
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product ads.",
          "type": "string"
        },
        "mobileLinkTemplate": {
          "description": "[Link template](https://support.google.com/merchants/answer/13870216) for business hosted local storefront optimized for mobile devices.",
          "type": "string"
        },
        "ageGroup": {
          "type": "string",
          "description": "Target [age group](https://support.google.com/merchants/answer/6324463) of the item."
        },
        "displayAdsValue": {
          "type": "number",
          "format": "double",
          "description": "Offer margin for dynamic remarketing campaigns. For more information, see [Display ads attribute](https://support.google.com/merchants/answer/6069387)."
        },
        "material": {
          "type": "string",
          "description": "The [material](https://support.google.com/merchants/answer/6324410) of which the item is made. For example, \"Leather\" or \"Cotton\"."
        },
        "lifestyleImageLinks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional URLs of lifestyle images of the item, used to explicitly identify images that showcase your item in a real-world context. See the [Help Center article](https://support.google.com/merchants/answer/9103186) for more information."
        },
        "customLabel2": {
          "type": "string",
          "description": "[Custom label 2](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign."
        },
        "sizeTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The cut of the item. It can be used to represent combined size types for apparel items. Maximum two of size types can be provided, see [Size type](https://support.google.com/merchants/answer/6324497). For example, \"petite\", \"plus size\"."
        },
        "size": {
          "type": "string",
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value, see [Size](https://support.google.com/merchants/answer/6324492)."
        },
        "taxes": {
          "description": "Tax information.",
          "type": "array",
          "items": {
            "$ref": "Tax"
          },
          "deprecated": true
        },
        "virtualModelLink": {
          "description": "URL of the 3D image of the item. See the [Help Center article](https://support.google.com/merchants/answer/13674896) for more information.",
          "type": "string"
        },
        "customLabel3": {
          "description": "[Custom label 3](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "loyaltyPoints": {
          "$ref": "LoyaltyPoints",
          "description": "Loyalty points that users receive after purchasing the item. Japan only."
        },
        "shippingLength": {
          "description": "Length of the item for shipping.",
          "$ref": "ShippingDimension"
        },
        "link": {
          "description": "URL directly linking to your item's page on your online store.",
          "type": "string"
        },
        "maximumRetailPrice": {
          "$ref": "Price",
          "description": "Maximum retail price (MRP) of the item. Applicable to India only."
        },
        "includedDestinations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Destinations also known as [Marketing methods](https://support.google.com/merchants/answer/15130232) selections. The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`. For more information, see [Included destination](https://support.google.com/merchants/answer/7501026). Note: We recommend setting destinations on datasources level for most use cases. Use this field within products to only setup exceptions."
        },
        "shippingWeight": {
          "description": "Weight of the item for shipping.",
          "$ref": "ShippingWeight"
        },
        "transitTimeLabel": {
          "description": "The transit time label of the product, used to group product in account-level transit time tables.",
          "type": "string"
        },
        "itemGroupId": {
          "description": "Shared identifier for all variants of the same product.",
          "type": "string"
        },
        "structuredDescription": {
          "$ref": "ProductStructuredDescription",
          "description": "Structured description, for algorithmically (AI)-generated descriptions."
        },
        "costOfGoodsSold": {
          "$ref": "Price",
          "description": "Cost of goods sold. Used for gross profit reporting."
        },
        "pattern": {
          "type": "string",
          "description": "The item's [pattern](https://support.google.com/merchants/answer/6324483). For example, polka dots."
        },
        "productWeight": {
          "$ref": "ProductWeight",
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive)."
        },
        "mobileLink": {
          "description": "URL for the mobile-optimized version of your item's landing page.",
          "type": "string"
        },
        "canonicalLink": {
          "type": "string",
          "description": "URL for the canonical version of your item's landing page."
        },
        "externalSellerId": {
          "type": "string",
          "description": "Required for multi-seller accounts. Use this attribute if you're a marketplace uploading products for various sellers to your multi-seller account."
        },
        "shippingWidth": {
          "$ref": "ShippingDimension",
          "description": "Width of the item for shipping."
        },
        "disclosureDate": {
          "description": "The date time when an offer becomes visible in search results across Google’s YouTube surfaces, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. See [Disclosure date](https://support.google.com/merchants/answer/13034208) for more information.",
          "type": "string",
          "format": "google-datetime"
        },
        "productLength": {
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "productDetails": {
          "description": "Technical specification or additional product details.",
          "items": {
            "$ref": "ProductDetail"
          },
          "type": "array"
        },
        "sustainabilityIncentives": {
          "type": "array",
          "items": {
            "$ref": "ProductSustainabilityIncentive"
          },
          "description": "The list of sustainability incentive programs."
        },
        "salePrice": {
          "description": "Advertised sale price of the item.",
          "$ref": "Price"
        },
        "shoppingAdsExcludedCountries": {
          "description": "List of country codes [(ISO 3166-1 alpha-2)](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) to exclude the offer from Shopping Ads destination. Countries from this list are removed from countries configured in data source settings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "type": "string",
          "description": "Title of the item."
        },
        "color": {
          "type": "string",
          "description": "[Color](https://support.google.com/merchants/answer/6324487) of the item. For example, \"red\"."
        },
        "availability": {
          "description": "[Availability](https://support.google.com/merchants/answer/6324448) status of the item. For example, \"in_stock\" or \"out_of_stock\".",
          "type": "string"
        },
        "freeShippingThreshold": {
          "items": {
            "$ref": "FreeShippingThreshold"
          },
          "type": "array",
          "description": "Conditions to be met for a product to have free shipping."
        },
        "brand": {
          "type": "string",
          "description": "[Brand](https://support.google.com/merchants/answer/6324351) of the item. For example, \"Google\"."
        },
        "unitPricingMeasure": {
          "$ref": "UnitPricingMeasure",
          "description": "The measure and dimension of an item."
        },
        "additionalImageLinks": {
          "description": "Additional URLs of images of the item.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customLabel4": {
          "type": "string",
          "description": "[Custom label 4](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign."
        },
        "shippingLabel": {
          "type": "string",
          "description": "The shipping label of the product, used to group product in account-level shipping rules."
        },
        "gtins": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of Global Trade Item Numbers ([GTIN](https://support.google.com/merchants/answer/6324461)) of the item. You can provide up to 10 GTINs."
        },
        "multipack": {
          "description": "The number of identical products in a business-defined multipack.",
          "type": "string",
          "format": "int64"
        },
        "salePriceEffectiveDate": {
          "description": "Date range during which the item is on sale, see [product data specification](https://support.google.com/merchants/answer/7052112#price_and_availability).",
          "$ref": "Interval"
        },
        "promotionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The unique ID of a promotion."
        },
        "imageLink": {
          "type": "string",
          "description": "URL of an image of the item."
        },
        "identifierExists": {
          "type": "boolean",
          "description": "Set this value to false when the item does not have unique product identifiers appropriate to its category, such as GTIN, MPN, and brand. Defaults to true, if not provided."
        },
        "autoPricingMinPrice": {
          "description": "A safeguard in the [automated discounts] (https://support.google.com/merchants/answer/10295759) and [\"dynamic promotions\"](https://support.google.com/merchants/answer/13949249) projects, ensuring that discounts on business offers do not fall below this value, thereby preserving the offer's value and profitability.",
          "$ref": "Price"
        },
        "displayAdsSimilarIds": {
          "type": "array",
          "description": "Advertiser-specified recommendations. For more information, see [Display ads attribute specification](https://support.google.com/merchants/answer/6069387).",
          "items": {
            "type": "string"
          }
        },
        "shippingHeight": {
          "description": "Height of the item for shipping.",
          "$ref": "ShippingDimension"
        },
        "productWidth": {
          "$ref": "ProductDimension",
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "displayAdsTitle": {
          "description": "Title of an item for dynamic remarketing campaigns.",
          "type": "string"
        },
        "gtin": {
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Global Trade Item Numbers ([GTIN](https://support.google.com/merchants/answer/6324461)) of the item. You can provide up to 10 GTINs. Deprecated: Use `gtins` instead."
        },
        "gender": {
          "description": "Target [gender](https://support.google.com/merchants/answer/6324479) of the item. For example, \"male\" or \"female\".",
          "type": "string"
        },
        "adult": {
          "type": "boolean",
          "description": "Set to true if the item is targeted towards adults."
        },
        "isBundle": {
          "description": "Whether the item is a business-defined sub-API. A [sub-API] (https://support.google.com/merchants/answer/6324449) is a custom grouping of different products sold by a business for a single price.",
          "type": "boolean"
        },
        "subscriptionCost": {
          "description": "Number of periods (weeks, months or years) and amount of payment per period for an item with an associated subscription contract.",
          "$ref": "SubscriptionCost"
        },
        "maxHandlingTime": {
          "format": "int64",
          "type": "string",
          "description": "Maximal product handling time (in business days)."
        },
        "structuredTitle": {
          "description": "Structured title, for algorithmically (AI)-generated titles.",
          "$ref": "ProductStructuredTitle"
        },
        "minHandlingTime": {
          "description": "Minimal product handling time (in business days).",
          "type": "string",
          "format": "int64"
        },
        "adsGrouping": {
          "description": "Used to group items in an arbitrary way. Only for CPA, discouraged otherwise. For more information, see [Display ads attribute](https://support.google.com/merchants/answer/6069387).",
          "type": "string"
        },
        "pickupSla": {
          "description": "Item store pickup timeline. For more information, see [Pickup SLA](https://support.google.com/merchants/answer/14635400).",
          "type": "string"
        }
      }
    },
    "ShippingDimension": {
      "type": "object",
      "properties": {
        "unit": {
          "description": "The unit of value.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "The dimension of the product used to calculate the shipping cost of the item."
        }
      },
      "id": "ShippingDimension",
      "description": "The ShippingDimension of the product."
    },
    "ProductInput": {
      "description": "This resource represents input data you submit for a product, not the processed product that you see in Merchant Center, in Shopping ads, or across Google surfaces. Product inputs, rules and supplemental data source data are combined to create the processed Product. For more information, see [Manage products](/merchant/api/guides/products/overview). Required product input attributes to pass data validation checks are primarily defined in the [Products Data Specification](https://support.google.com/merchants/answer/188494). The following attributes are required: feedLabel, contentLanguage and offerId. After inserting, updating, or deleting a product input, it may take several minutes before the processed product can be retrieved. All fields in the product input and its sub-messages match the English name of their corresponding attribute in the [Products Data Specification](https://support.google.com/merchants/answer/188494) with [some exceptions](https://support.google.com/merchants/answer/7052112). The following reference documentation lists the field names in the **camelCase** casing style while the Products Data Specification lists the names in the **snake_case** casing style.",
      "id": "ProductInput",
      "type": "object",
      "properties": {
        "customAttributes": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "Optional. A list of custom (merchant-provided) attributes. It can also be used for submitting any attribute of the data specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API. Maximum allowed number of characters for each custom attribute is 10240 (represents sum of characters for name and value). Maximum 2500 custom attributes can be set per product, with total size of 102.4kB. Underscores in custom attribute names are replaced by spaces upon insertion.",
          "type": "array"
        },
        "product": {
          "type": "string",
          "description": "Output only. The name of the processed product. Format: `accounts/{account}/products/{product}`",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the product. Format: `accounts/{account}/productInputs/{productinput}` The {productinput} segment is a unique identifier for the product. This identifier must be unique within a merchant account and generally follows the structure: `content_language~feed_label~offer_id`. Example: `en~US~sku123` For legacy local products, the structure is: `local~content_language~feed_label~offer_id`. Example: `local~en~US~sku123` The format of the {productinput} segment in the URL is automatically detected by the server, supporting two options: 1. **Encoded Format**: The `{productinput}` segment is an unpadded base64url encoded string (RFC 4648 Section 5). The decoded string must result in the `content_language~feed_label~offer_id` structure. This encoding MUST be used if any part of the product identifier (like `offer_id`) contains characters such as `/`, `%`, or `~`. * Example: To represent the product ID `en~US~sku/123`, the `{productinput}` segment must be the unpadded base64url encoding of this string, which is `ZW5-VVN-c2t1LzEyMw`. The full resource name for the product would be `accounts/123/productInputs/ZW5-VVN-c2t1LzEyMw`. 2. **Plain Format**: The `{productinput}` segment is the tilde-separated string `content_language~feed_label~offer_id`. This format is suitable only when `content_language`, `feed_label`, and `offer_id` do not contain URL-problematic characters like `/`, `%`, or `~`. We recommend using the **Encoded Format** for all product IDs to ensure correct parsing, especially those containing special characters. The presence of tilde (`~`) characters in the `{productinput}` segment is used to differentiate between the two formats."
        },
        "base64EncodedProduct": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The **unpadded base64url encoded name** of the processed product. Format: `accounts/{account}/products/{product}` where the last section `product` is the unpadded base64url encoding of the `content_language~feed_label~offer_id` name. Example: `accounts/123/products/ZW5-VVN-c2t1LzEyMw` for the decoded product name `accounts/123/products/en~US~sku/123`. This field can be used directly as input to the API methods that require the product name to be encoded if it contains special characters, for example [`GetProduct`](https://developers.google.com/merchant/api/reference/rest/products_v1beta/accounts.products/get)."
        },
        "feedLabel": {
          "description": "Required. Immutable. The feed label that lets you categorize and identify your products. The maximum allowed characters are 20, and the supported characters are `A-Z`, `0-9`, hyphen, and underscore. The feed label must not include any spaces. For more information, see [Using feed labels](//support.google.com/merchants/answer/14994087).",
          "type": "string"
        },
        "contentLanguage": {
          "description": "Required. Immutable. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product.",
          "type": "string"
        },
        "channel": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Online product.",
            "Local product."
          ],
          "description": "Immutable. The [channel](https://support.google.com/merchants/answer/7361332) of the product.",
          "enum": [
            "CHANNEL_ENUM_UNSPECIFIED",
            "ONLINE",
            "LOCAL"
          ]
        },
        "base64EncodedName": {
          "description": "Output only. The **unpadded base64url encoded name** of the product input. Format: `accounts/{account}/productInputs/{productinput}` where the last section `productinput` is the unpadded base64url encoding of the `content_language~feed_label~offer_id` name. Example: `accounts/123/productInputs/ZW5-VVN-c2t1LzEyMw` for the decoded product input name `accounts/123/productInputs/en~US~sku/123`. This field can be used directly as input to the API methods that require the product input name to be encoded if it contains special characters, for example [`GetProductInput`](https://developers.google.com/merchant/api/reference/rest/products_v1beta/accounts.productInputs/get).",
          "readOnly": true,
          "type": "string"
        },
        "attributes": {
          "description": "Optional. A list of product attributes.",
          "$ref": "Attributes"
        },
        "offerId": {
          "description": "Required. Immutable. Your unique identifier for the product. This is the same for the product input and processed product. Leading and trailing whitespaces are stripped and multiple whitespaces are replaced by a single whitespace upon submission. See the [products data specification](https://support.google.com/merchants/answer/188494#id) for details.",
          "type": "string"
        },
        "versionNumber": {
          "description": "Optional. Immutable. Represents the existing version (freshness) of the product, which can be used to preserve the right order when multiple updates are done at the same time. If set, the insertion is prevented when version number is lower than the current version number of the existing product. Re-insertion (for example, product refresh after 30 days) can be performed with the current `version_number`. Only supported for insertions into primary data sources. Do not set this field for updates. Do not set this field for insertions into supplemental data sources. If the operation is prevented, the aborted exception will be thrown.",
          "type": "string",
          "format": "int64"
        }
      }
    }
  },
  "resources": {
    "accounts": {
      "resources": {
        "productInputs": {
          "methods": {
            "delete": {
              "description": "Deletes a product input from your Merchant Center account. After inserting, updating, or deleting a product input, it may take several minutes before the processed product can be retrieved.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "products/v1beta/accounts/{accountsId}/productInputs/{productInputsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the product input to delete. Format: `accounts/{account}/productInputs/{productInput}` The {productInput} segment is a unique identifier for the product. This identifier must be unique within a merchant account and generally follows the structure: `content_language~feed_label~offer_id`. Example: `en~US~sku123` For legacy local products, the structure is: `local~content_language~feed_label~offer_id`. Example: `local~en~US~sku123` The format of the {productInput} segment in the URL is automatically detected by the server, supporting two options: 1. **Encoded Format**: The `{productInput}` segment is an unpadded base64url encoded string (RFC 4648 Section 5). The decoded string must result in the `content_language~feed_label~offer_id` structure. This encoding MUST be used if any part of the product identifier (like `offer_id`) contains characters such as `/`, `%`, or `~`. * Example: To represent the product ID `en~US~sku/123`, the `{productInput}` segment must be the unpadded base64url encoding of this string, which is `ZW5-VVN-c2t1LzEyMw`. The full resource name for the product would be `accounts/123/productInputs/ZW5-VVN-c2t1LzEyMw`. 2. **Plain Format**: The `{productInput}` segment is the tilde-separated string `content_language~feed_label~offer_id`. This format is suitable only when `content_language`, `feed_label`, and `offer_id` do not contain URL-problematic characters like `/`, `%`, or `~`. We recommend using the **Encoded Format** for all product IDs to ensure correct parsing, especially those containing special characters. The presence of tilde (`~`) characters in the `{productInput}` segment is used to differentiate between the two formats.",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/productInputs/[^/]+$",
                  "type": "string"
                },
                "dataSource": {
                  "location": "query",
                  "description": "Required. The primary or supplemental data source from which the product input should be deleted. Format: `accounts/{account}/dataSources/{datasource}`. For example, `accounts/123456/dataSources/104628`.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "DELETE",
              "path": "products/v1beta/{+name}",
              "id": "merchantapi.accounts.productInputs.delete",
              "response": {
                "$ref": "Empty"
              }
            },
            "insert": {
              "request": {
                "$ref": "ProductInput"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "ProductInput"
              },
              "parameters": {
                "dataSource": {
                  "description": "Required. The primary or supplemental product data source name. If the product already exists and data source provided is different, then the product will be moved to a new data source. For more information, see [Create a primary data source](/merchant/api/guides/data-sources/api-sources#create-primary-data-source). Only API data sources are supported. Format: `accounts/{account}/dataSources/{datasource}`. For example, `accounts/123456/dataSources/104628`.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account where this product will be inserted. Format: `accounts/{account}`",
                  "location": "path",
                  "required": true
                }
              },
              "description": "[Uploads a product input to your Merchant Center account](/merchant/api/guides/products/add-manage#add_a_product). You must have a products [data source](/merchant/api/guides/data-sources/api-sources#create-primary-data-source) to be able to insert a product. The unique identifier of the data source is passed as a query parameter in the request URL. If a product input with the same contentLanguage, offerId, and dataSource already exists, then the product input inserted by this method replaces that entry. After inserting, updating, or deleting a product input, it may take several minutes before the processed product can be retrieved.",
              "flatPath": "products/v1beta/accounts/{accountsId}/productInputs:insert",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.productInputs.insert",
              "path": "products/v1beta/{+parent}/productInputs:insert"
            },
            "patch": {
              "id": "merchantapi.accounts.productInputs.patch",
              "flatPath": "products/v1beta/accounts/{accountsId}/productInputs/{productInputsId}",
              "request": {
                "$ref": "ProductInput"
              },
              "description": "Updates the existing product input in your Merchant Center account. The name of the product input to update is taken from the `name` field within the `ProductInput` resource. After inserting, updating, or deleting a product input, it may take several minutes before the processed product can be retrieved.",
              "path": "products/v1beta/{+name}",
              "response": {
                "$ref": "ProductInput"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Optional. The list of product attributes to be updated. If the update mask is omitted, then it is treated as implied field mask equivalent to all fields that are populated (have a non-empty value). Attributes specified in the update mask without a value specified in the body will be deleted from the product. Update mask can only be specified for top level fields in attributes and custom attributes. To specify the update mask for custom attributes you need to add the `custom_attribute.` prefix. Providing special \"*\" value for full product replacement is not supported.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "dataSource": {
                  "type": "string",
                  "description": "Required. The primary or supplemental product data source where `data_source` name identifies the product input to be updated. Only API data sources are supported. Format: `accounts/{account}/dataSources/{datasource}`. For example, `accounts/123456/dataSources/104628`.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/productInputs/[^/]+$",
                  "description": "Identifier. The name of the product. Format: `accounts/{account}/productInputs/{productinput}` The {productinput} segment is a unique identifier for the product. This identifier must be unique within a merchant account and generally follows the structure: `content_language~feed_label~offer_id`. Example: `en~US~sku123` For legacy local products, the structure is: `local~content_language~feed_label~offer_id`. Example: `local~en~US~sku123` The format of the {productinput} segment in the URL is automatically detected by the server, supporting two options: 1. **Encoded Format**: The `{productinput}` segment is an unpadded base64url encoded string (RFC 4648 Section 5). The decoded string must result in the `content_language~feed_label~offer_id` structure. This encoding MUST be used if any part of the product identifier (like `offer_id`) contains characters such as `/`, `%`, or `~`. * Example: To represent the product ID `en~US~sku/123`, the `{productinput}` segment must be the unpadded base64url encoding of this string, which is `ZW5-VVN-c2t1LzEyMw`. The full resource name for the product would be `accounts/123/productInputs/ZW5-VVN-c2t1LzEyMw`. 2. **Plain Format**: The `{productinput}` segment is the tilde-separated string `content_language~feed_label~offer_id`. This format is suitable only when `content_language`, `feed_label`, and `offer_id` do not contain URL-problematic characters like `/`, `%`, or `~`. We recommend using the **Encoded Format** for all product IDs to ensure correct parsing, especially those containing special characters. The presence of tilde (`~`) characters in the `{productinput}` segment is used to differentiate between the two formats.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "products": {
          "methods": {
            "get": {
              "id": "merchantapi.accounts.products.get",
              "flatPath": "products/v1beta/accounts/{accountsId}/products/{productsId}",
              "httpMethod": "GET",
              "description": "Retrieves the processed product from your Merchant Center account. After inserting, updating, or deleting a product input, it may take several minutes before the updated final product can be retrieved.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/products/[^/]+$",
                  "description": "Required. The name of the product. Format: `accounts/{account}/products/{product}` The `{product}` segment is a unique identifier for the product. This identifier must be unique within a merchant account and generally follows the structure: `content_language~feed_label~offer_id`. Example: `en~US~sku123` For legacy local products, the structure is: `local~content_language~feed_label~offer_id`. Example: `local~en~US~sku123` The format of the `{product}` segment in the URL is automatically detected by the server, supporting two options: 1. **Encoded Format**: The `{product}` segment is an unpadded base64url encoded string (RFC 4648 Section 5). The decoded string must result in the `content_language~feed_label~offer_id` structure. This encoding MUST be used if any part of the product identifier (like `offer_id`) contains characters such as `/`, `%`, or `~`. * Example: To represent the product ID `en~US~sku/123`, the `{product}` segment must be the unpadded base64url encoding of this string, which is `ZW5-VVN-c2t1LzEyMw`. The full resource name for the product would be `accounts/123/products/ZW5-VVN-c2t1LzEyMw`. 2. **Plain Format**: The `{product}` segment is the tilde-separated string `content_language~feed_label~offer_id`. This format is suitable only when `content_language`, `feed_label`, and `offer_id` do not contain URL-problematic characters like `/`, `%`, or `~`. We recommend using the **Encoded Format** for all product IDs to ensure correct parsing, especially those containing special characters. The presence of tilde (`~`) characters in the `{product}` segment is used to differentiate between the two formats. Note: For calls to the v1beta version, the plain format is `channel~content_language~feed_label~offer_id`, for example: `accounts/123/products/online~en~US~sku123`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "products/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "Product"
              }
            },
            "list": {
              "flatPath": "products/v1beta/accounts/{accountsId}/products",
              "description": "Lists the processed products in your Merchant Center account. The response might contain fewer items than specified by `pageSize`. Rely on `pageToken` to determine if there are more items to be requested. After inserting, updating, or deleting a product input, it may take several minutes before the updated processed product can be retrieved.",
              "path": "products/v1beta/{+parent}/products",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "ListProductsResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The account to list processed products for. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of products to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000. If unspecified, the default page size of 25 products will be returned."
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProducts` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "merchantapi.accounts.products.list",
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "title": "Merchant API",
  "revision": "20260924",
  "version_module": true,
  "name": "merchantapi"
}