{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "documentationLink": "https://developers.google.com/merchant/api",
  "fullyEncodeReservedExpansion": true,
  "title": "Merchant API",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "protocol": "rest",
  "basePath": "",
  "version_module": true,
  "discoveryVersion": "v1",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "canonicalName": "Merchant",
  "id": "merchantapi:reviews_v1beta",
  "revision": "20260713",
  "kind": "discovery#restDescription",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "resources": {
    "accounts": {
      "resources": {
        "merchantReviews": {
          "methods": {
            "list": {
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of merchant reviews to return. The service can return fewer than this value. The maximum value is 1000; values above 1000 are coerced to 1000. If unspecified, the maximum number of reviews is returned.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListMerchantReviews` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMerchantReviews` must match the call that provided the page token."
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The account to list merchant reviews for. Format: accounts/{account}"
                }
              },
              "httpMethod": "GET",
              "id": "merchantapi.accounts.merchantReviews.list",
              "response": {
                "$ref": "ListMerchantReviewsResponse"
              },
              "description": "Lists merchant reviews.",
              "path": "reviews/v1beta/{+parent}/merchantReviews",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "insert": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "reviews/v1beta/{+parent}/merchantReviews:insert",
              "description": "Inserts a review for your Merchant Center account. If the review already exists, then the review is replaced with the new instance.",
              "id": "merchantapi.accounts.merchantReviews.insert",
              "request": {
                "$ref": "MerchantReview"
              },
              "response": {
                "$ref": "MerchantReview"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account where the merchant review will be inserted. Format: accounts/{account}"
                },
                "dataSource": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The data source of the [merchantreview](https://support.google.com/merchants/answer/7045996?sjid=5253581244217581976-EU) Format: `accounts/{account}/dataSources/{datasource}`."
                }
              },
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews:insert"
            },
            "delete": {
              "path": "reviews/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The ID of the merchant review. Format: accounts/{account}/merchantReviews/{merchantReview}",
                  "pattern": "^accounts/[^/]+/merchantReviews/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews/{merchantReviewsId}",
              "description": "Deletes merchant review.",
              "httpMethod": "DELETE",
              "id": "merchantapi.accounts.merchantReviews.delete",
              "response": {
                "$ref": "Empty"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/merchantReviews/[^/]+$",
                  "description": "Required. The ID of the merchant review. Format: accounts/{account}/merchantReviews/{merchantReview}"
                }
              },
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews/{merchantReviewsId}",
              "description": "Gets a merchant review.",
              "httpMethod": "GET",
              "id": "merchantapi.accounts.merchantReviews.get",
              "response": {
                "$ref": "MerchantReview"
              },
              "path": "reviews/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "productReviews": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "reviews/v1beta/{+name}",
              "id": "merchantapi.accounts.productReviews.get",
              "response": {
                "$ref": "ProductReview"
              },
              "httpMethod": "GET",
              "description": "Gets a product review.",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews/{productReviewsId}",
              "parameters": {
                "name": {
                  "description": "Required. The ID of the merchant review. Format: accounts/{account}/productReviews/{productReview}",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/productReviews/[^/]+$"
                }
              }
            },
            "insert": {
              "path": "reviews/v1beta/{+parent}/productReviews:insert",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews:insert",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account where the product review will be inserted. Format: accounts/{account}"
                },
                "dataSource": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Format: `accounts/{account}/dataSources/{datasource}`."
                }
              },
              "id": "merchantapi.accounts.productReviews.insert",
              "request": {
                "$ref": "ProductReview"
              },
              "response": {
                "$ref": "ProductReview"
              },
              "httpMethod": "POST",
              "description": "Inserts a product review."
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "merchantapi.accounts.productReviews.delete",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a product review.",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews/{productReviewsId}",
              "parameters": {
                "name": {
                  "description": "Required. The ID of the Product review. Format: accounts/{account}/productReviews/{productReview}",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/productReviews/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "reviews/v1beta/{+name}"
            },
            "list": {
              "description": "Lists product reviews.",
              "httpMethod": "GET",
              "id": "merchantapi.accounts.productReviews.list",
              "response": {
                "$ref": "ListProductReviewsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListProductReviews` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductReviews` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account to list product reviews for. Format: accounts/{account}"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of products to return. The service may return fewer than this value.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "reviews/v1beta/{+parent}/productReviews"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "MerchantReviewStatus": {
      "properties": {
        "itemLevelIssues": {
          "type": "array",
          "items": {
            "$ref": "MerchantReviewItemLevelIssue"
          },
          "readOnly": true,
          "description": "Output only. A list of all issues associated with the merchant review."
        },
        "createTime": {
          "description": "Output only. Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "destinationStatuses": {
          "readOnly": true,
          "description": "Output only. The intended destinations for the merchant review.",
          "type": "array",
          "items": {
            "$ref": "MerchantReviewDestinationStatus"
          }
        },
        "lastUpdateTime": {
          "description": "Output only. Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The status of a merchant review, data validation issues, that is, information about a merchant review computed asynchronously.",
      "id": "MerchantReviewStatus",
      "type": "object"
    },
    "ProductChange": {
      "properties": {
        "oldValue": {
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "regionCode": {
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format.",
          "type": "string"
        },
        "reportingContext": {
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ]
        },
        "newValue": {
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        }
      },
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context.",
      "id": "ProductChange",
      "type": "object"
    },
    "ListMerchantReviewsResponse": {
      "id": "ListMerchantReviewsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of results.",
          "type": "string"
        },
        "merchantReviews": {
          "description": "The merchant review.",
          "type": "array",
          "items": {
            "$ref": "MerchantReview"
          }
        }
      },
      "description": "Response message for the `ListMerchantsReview` method."
    },
    "CustomAttribute": {
      "properties": {
        "groupValues": {
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty.",
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "value": {
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty.",
          "type": "string"
        },
        "name": {
          "description": "The name of the attribute.",
          "type": "string"
        }
      },
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty.",
      "id": "CustomAttribute",
      "type": "object"
    },
    "MerchantReview": {
      "type": "object",
      "id": "MerchantReview",
      "description": "A review for a merchant. For more information, see [Introduction to Merchant Review Feeds](https://developers.google.com/merchant-review-feeds)",
      "properties": {
        "name": {
          "description": "Identifier. The name of the merchant review. Format: `\"{merchantreview.name=accounts/{account}/merchantReviews/{merchantReview}}\"`",
          "type": "string"
        },
        "merchantReviewId": {
          "description": "Required. The user provided merchant review ID to uniquely identify the merchant review.",
          "type": "string"
        },
        "customAttributes": {
          "description": "Optional. A list of custom (merchant-provided) attributes. It can also be used for submitting any attribute of the data specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as experimental attributes. Maximum allowed number of characters for each custom attribute is 10240 (represents sum of characters for name and value). Maximum 2500 custom attributes can be set per product, with total size of 102.4kB. Underscores in custom attribute names are replaced by spaces upon insertion.",
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "merchantReviewAttributes": {
          "description": "Optional. A list of merchant review attributes.",
          "$ref": "MerchantReviewAttributes"
        },
        "dataSource": {
          "type": "string",
          "description": "Output only. The primary data source of the merchant review.",
          "readOnly": true
        },
        "merchantReviewStatus": {
          "readOnly": true,
          "description": "Output only. The status of a merchant review, data validation issues, that is, information about a merchant review computed asynchronously.",
          "$ref": "MerchantReviewStatus"
        }
      }
    },
    "MerchantReviewItemLevelIssue": {
      "properties": {
        "resolution": {
          "description": "Output only. Whether the issue can be resolved by the merchant.",
          "readOnly": true,
          "type": "string"
        },
        "documentation": {
          "type": "string",
          "description": "Output only. The URL of a web page to help with resolving this issue.",
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "description": "Output only. A short issue description in English.",
          "type": "string"
        },
        "attribute": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The attribute's name, if the issue is caused by a single attribute."
        },
        "reportingContext": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "description": "Output only. The reporting context the issue applies to.",
          "readOnly": true,
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ]
        },
        "detail": {
          "type": "string",
          "description": "Output only. A detailed issue description in English.",
          "readOnly": true
        },
        "code": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The error code of the issue."
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "This issue represents a warning and does not have a direct affect on the merchant review.",
            "Issue disapproves the merchant review."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOT_IMPACTED",
            "DISAPPROVED"
          ],
          "description": "Output only. How this issue affects serving of the merchant review.",
          "readOnly": true
        }
      },
      "description": "The ItemLevelIssue of the merchant review status.",
      "id": "MerchantReviewItemLevelIssue",
      "type": "object"
    },
    "ListProductReviewsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "productReviews": {
          "description": "The product review.",
          "type": "array",
          "items": {
            "$ref": "ProductReview"
          }
        }
      },
      "description": "response message for the ListProductReviews method.",
      "id": "ListProductReviewsResponse",
      "type": "object"
    },
    "MerchantReviewAttributes": {
      "type": "object",
      "id": "MerchantReviewAttributes",
      "description": "Attributes.",
      "properties": {
        "reviewCountry": {
          "description": "Optional. The country where the reviewer made the order defined by ISO 3166-1 Alpha-2 Country Code.",
          "type": "string"
        },
        "merchantLink": {
          "description": "Optional. URL to the merchant's main website. Do not use a redirect URL for this value. In other words, the value should point directly to the merchant's site.",
          "type": "string"
        },
        "reviewerUsername": {
          "description": "Optional. Display name of the review author.",
          "type": "string"
        },
        "minRating": {
          "type": "string",
          "description": "Optional. The minimum possible number for the rating. This should be the worst possible rating and should not be a value for no rating.",
          "format": "int64"
        },
        "isAnonymous": {
          "description": "Optional. Set to true if the reviewer should remain anonymous.",
          "type": "boolean"
        },
        "reviewLanguage": {
          "description": "Optional. The language of the review defined by BCP-47 language code.",
          "type": "string"
        },
        "maxRating": {
          "type": "string",
          "description": "Optional. The maximum possible number for the rating. The value of the max rating must be greater than the value of the min rating.",
          "format": "int64"
        },
        "reviewerId": {
          "description": "Optional. A permanent, unique identifier for the author of the review in the publisher's system.",
          "type": "string"
        },
        "collectionMethod": {
          "description": "Optional. The method used to collect the review.",
          "type": "string",
          "enumDescriptions": [
            "Collection method unspecified.",
            "The user was not responding to a specific solicitation when they submitted the review.",
            "The user submitted the review in response to a solicitation when the user placed an order.",
            "The user submitted the review in response to a solicitation after fulfillment of the user's order."
          ],
          "enum": [
            "COLLECTION_METHOD_UNSPECIFIED",
            "MERCHANT_UNSOLICITED",
            "POINT_OF_SALE",
            "AFTER_FULFILLMENT"
          ]
        },
        "reviewTime": {
          "description": "Required. The timestamp indicating when the review was written.",
          "format": "google-datetime",
          "type": "string"
        },
        "merchantDisplayName": {
          "description": "Optional. Human-readable display name for the merchant.",
          "type": "string"
        },
        "content": {
          "description": "Required. This should be any freeform text provided by the user and should not be truncated. If multiple responses to different questions are provided, all responses should be included, with the minimal context for the responses to make sense. Context should not be provided if questions were left unanswered.",
          "type": "string"
        },
        "merchantId": {
          "description": "Required. Must be unique and stable across all requests. In other words, if a request today and another 90 days ago refer to the same merchant, they must have the same id.",
          "type": "string"
        },
        "rating": {
          "type": "number",
          "description": "Optional. The reviewer's overall rating of the merchant.",
          "format": "double"
        },
        "title": {
          "description": "Optional. The title of the review.",
          "type": "string"
        },
        "merchantRatingLink": {
          "description": "Optional. URL to the landing page that hosts the reviews for this merchant. Do not use a redirect URL.",
          "type": "string"
        }
      }
    },
    "MerchantReviewDestinationStatus": {
      "description": "The destination status of the merchant review status.",
      "properties": {
        "reportingContext": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "readOnly": true,
          "description": "Output only. The name of the reporting context."
        }
      },
      "type": "object",
      "id": "MerchantReviewDestinationStatus"
    },
    "ReviewLink": {
      "description": "The URI of the review landing page.",
      "properties": {
        "link": {
          "description": "Optional. The URI of the review landing page. For example: `http://www.example.com/review_5.html`.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type unspecified.",
            "The review page contains only this single review.",
            "The review page contains a group of reviews including this review."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SINGLETON",
            "GROUP"
          ],
          "description": "Optional. Type of the review URI."
        }
      },
      "type": "object",
      "id": "ReviewLink"
    },
    "ProductReview": {
      "type": "object",
      "id": "ProductReview",
      "description": "A review for a product. For more information, see [Introduction to Product Review Feeds](https://developers.google.com/product-review-feeds)",
      "properties": {
        "dataSource": {
          "description": "Output only. The primary data source of the product review.",
          "readOnly": true,
          "type": "string"
        },
        "customAttributes": {
          "description": "Optional. A list of custom (merchant-provided) attributes.",
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "productReviewStatus": {
          "description": "Output only. The status of a product review, data validation issues, that is, information about a product review computed asynchronously.",
          "$ref": "ProductReviewStatus",
          "readOnly": true
        },
        "productReviewAttributes": {
          "description": "Optional. A list of product review attributes.",
          "$ref": "ProductReviewAttributes"
        },
        "name": {
          "description": "Identifier. The name of the product review. Format: `\"{productreview.name=accounts/{account}/productReviews/{productReview}}\"`",
          "type": "string"
        },
        "productReviewId": {
          "description": "Required. The permanent, unique identifier for the product review in the publisher’s system.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ProductReviewStatus": {
      "id": "ProductReviewStatus",
      "type": "object",
      "properties": {
        "itemLevelIssues": {
          "readOnly": true,
          "description": "Output only. A list of all issues associated with the product review.",
          "type": "array",
          "items": {
            "$ref": "ProductReviewItemLevelIssue"
          }
        },
        "createTime": {
          "description": "Output only. Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "destinationStatuses": {
          "type": "array",
          "items": {
            "$ref": "ProductReviewDestinationStatus"
          },
          "description": "Output only. The intended destinations for the product review.",
          "readOnly": true
        },
        "lastUpdateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime"
        }
      },
      "description": "Product review status."
    },
    "ProductStatusChangeMessage": {
      "id": "ProductStatusChangeMessage",
      "type": "object",
      "properties": {
        "managingAccount": {
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`",
          "type": "string"
        },
        "resource": {
          "description": "The product name. Format: `accounts/{account}/products/{product}`",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "format": "google-datetime"
        },
        "attribute": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "description": "The attribute in the resource that changed, in this case it will be always `Status`."
        },
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        },
        "resourceId": {
          "description": "The product id.",
          "type": "string"
        },
        "changes": {
          "description": "A message to describe the change that happened to the product",
          "type": "array",
          "items": {
            "$ref": "ProductChange"
          }
        },
        "resourceType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product",
            "Account service"
          ],
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT",
            "ACCOUNT_SERVICE"
          ],
          "description": "The resource that changed, in this case it will always be `Product`."
        },
        "eventTime": {
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The message that the merchant will receive to notify about product status change event"
    },
    "ProductReviewAttributes": {
      "description": "Attributes.",
      "properties": {
        "collectionMethod": {
          "type": "string",
          "enumDescriptions": [
            "Collection method unspecified.",
            "The user was not responding to a specific solicitation when they submitted the review.",
            "The user submitted the review in response to a solicitation after fulfillment of the user's order."
          ],
          "enum": [
            "COLLECTION_METHOD_UNSPECIFIED",
            "UNSOLICITED",
            "POST_FULFILLMENT"
          ],
          "description": "Optional. The method used to collect the review."
        },
        "pros": {
          "description": "Optional. Contains the advantages based on the opinion of the reviewer. Omit boilerplate text like \"pro:\" unless it was written by the reviewer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "content": {
          "description": "Optional. The content of the review. If empty, the content might still get populated from pros and cons.",
          "type": "string"
        },
        "cons": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains the disadvantages based on the opinion of the reviewer. Omit boilerplate text like \"con:\" unless it was written by the reviewer."
        },
        "title": {
          "description": "Optional. The title of the review.",
          "type": "string"
        },
        "transactionId": {
          "description": "Optional. A permanent, unique identifier for the transaction associated with the review in the publisher's system. This ID can be used to indicate that multiple reviews are associated with the same transaction.",
          "type": "string"
        },
        "aggregatorName": {
          "description": "Optional. The name of the aggregator of the product reviews. A publisher may use a reviews aggregator to manage reviews and provide the feeds. This element indicates the use of an aggregator and contains information about the aggregator.",
          "type": "string"
        },
        "reviewLink": {
          "description": "Optional. The URI of the review landing page.",
          "$ref": "ReviewLink"
        },
        "rating": {
          "description": "Optional. The reviewer's overall rating of the product.",
          "format": "double",
          "type": "number"
        },
        "brands": {
          "description": "Optional. Contains brand names associated with a product.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isIncentivizedReview": {
          "description": "Optional. Indicates whether the review is incentivized.",
          "type": "boolean"
        },
        "minRating": {
          "description": "Optional. Contains the ratings associated with the review. The minimum possible number for the rating. This should be the worst possible rating and should not be a value for no rating.",
          "format": "int64",
          "type": "string"
        },
        "gtins": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains GTINs (global trade item numbers) associated with a product. Sub-types of GTINs (e.g. UPC, EAN, ISBN, JAN) are supported."
        },
        "isSpam": {
          "description": "Optional. Indicates whether the review is marked as spam in the publisher's system.",
          "type": "boolean"
        },
        "isVerifiedPurchase": {
          "description": "Optional. Indicates whether the reviewer's purchase is verified.",
          "type": "boolean"
        },
        "asins": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains ASINs (Amazon Standard Identification Numbers) associated with a product."
        },
        "reviewTime": {
          "type": "string",
          "description": "Required. The timestamp indicating when the review was written.",
          "format": "google-datetime"
        },
        "reviewerIsAnonymous": {
          "description": "Optional. Set to true if the reviewer should remain anonymous.",
          "type": "boolean"
        },
        "subclientName": {
          "description": "Optional. The name of the subclient of the product reviews. The subclient is an identifier of the product review source. It should be equivalent to the directory provided in the file data source path.",
          "type": "string"
        },
        "mpns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains MPNs (manufacturer part numbers) associated with a product."
        },
        "reviewCountry": {
          "description": "Optional. The country of the review defined by ISO 3166-1 Alpha-2 Country Code.",
          "type": "string"
        },
        "publisherFavicon": {
          "description": "Optional. A link to the company favicon of the publisher. The image dimensions should be favicon size: 16x16 pixels. The image format should be GIF, JPG or PNG.",
          "type": "string"
        },
        "reviewerUsername": {
          "description": "Optional. The name of the reviewer of the product review.",
          "type": "string"
        },
        "reviewerImageLinks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A URI to an image of the reviewed product created by the review author. The URI does not have to end with an image file extension."
        },
        "productNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Descriptive name of a product."
        },
        "publisherName": {
          "description": "Optional. The name of the publisher of the product reviews. The information about the publisher, which may be a retailer, manufacturer, reviews service company, or any entity that publishes product reviews.",
          "type": "string"
        },
        "maxRating": {
          "description": "Optional. The maximum possible number for the rating. The value of the max rating must be greater than the value of the min attribute.",
          "format": "int64",
          "type": "string"
        },
        "reviewLanguage": {
          "description": "Optional. The language of the review defined by BCP-47 language code.",
          "type": "string"
        },
        "productLinks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The URI of the product. This URI can have the same value as the `review_link` element, if the review URI and the product URI are the same."
        },
        "reviewerId": {
          "description": "Optional. The author of the product review. A permanent, unique identifier for the author of the review in the publisher's system.",
          "type": "string"
        },
        "skus": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains SKUs (stock keeping units) associated with a product. Often this matches the product Offer Id in the product feed."
        }
      },
      "type": "object",
      "id": "ProductReviewAttributes"
    },
    "ProductReviewDestinationStatus": {
      "description": "The destination status of the product review status.",
      "properties": {
        "reportingContext": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "readOnly": true,
          "description": "Output only. The name of the reporting context.",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ]
        }
      },
      "type": "object",
      "id": "ProductReviewDestinationStatus"
    },
    "ProductReviewItemLevelIssue": {
      "type": "object",
      "id": "ProductReviewItemLevelIssue",
      "description": "The ItemLevelIssue of the product review status.",
      "properties": {
        "detail": {
          "readOnly": true,
          "description": "Output only. A detailed issue description in English.",
          "type": "string"
        },
        "code": {
          "readOnly": true,
          "description": "Output only. The error code of the issue.",
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOT_IMPACTED",
            "DISAPPROVED"
          ],
          "readOnly": true,
          "description": "Output only. How this issue affects serving of the product review.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "This issue represents a warning and does not have a direct affect on the product review.",
            "Issue disapproves the product review."
          ]
        },
        "attribute": {
          "readOnly": true,
          "description": "Output only. The attribute's name, if the issue is caused by a single attribute.",
          "type": "string"
        },
        "reportingContext": {
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "readOnly": true,
          "description": "Output only. The reporting context the issue applies to.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "documentation": {
          "description": "Output only. The URL of a web page to help with resolving this issue.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Output only. A short issue description in English.",
          "readOnly": true,
          "type": "string"
        },
        "resolution": {
          "type": "string",
          "description": "Output only. Whether the issue can be resolved by the merchant.",
          "readOnly": true
        }
      }
    }
  },
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "name": "merchantapi",
  "version": "reviews_v1beta",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "ownerName": "Google",
  "servicePath": ""
}