{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "name": "merchantapi",
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "canonicalName": "Merchant",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260910",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "title": "Merchant API",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "discoveryVersion": "v1",
  "version_module": true,
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "batchPath": "batch",
  "resources": {
    "accounts": {
      "methods": {
        "createTestAccount": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Account"
          },
          "path": "accounts/v1beta/{+parent}:createTestAccount",
          "flatPath": "accounts/v1beta/accounts/{accountsId}:createTestAccount",
          "id": "merchantapi.accounts.createTestAccount",
          "parameters": {
            "parent": {
              "description": "Required. The account resource name to create the test account under. Format: accounts/{account}",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^accounts/[^/]+$"
            }
          },
          "request": {
            "$ref": "Account"
          },
          "description": "Creates a Merchant Center test account. Test accounts are intended for development and testing purposes, such as validating API integrations or new feature behavior. Key characteristics and limitations of test accounts: - Immutable Type: A test account cannot be converted into a regular (live) Merchant Center account. Likewise, a regular account cannot be converted into a test account. - Non-Serving Products: Any products, offers, or data created within a test account will not be published or made visible to end-users on any Google surfaces. They are strictly for testing environments. - Separate Environment: Test accounts operate in a sandbox-like manner, isolated from live serving and real user traffic.",
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "POST"
        },
        "delete": {
          "path": "accounts/v1beta/{+name}",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "id": "merchantapi.accounts.delete",
          "flatPath": "accounts/v1beta/accounts/{accountsId}",
          "description": "Deletes the specified account regardless of its type: standalone, advanced account or sub-account. Deleting an advanced account leads to the deletion of all of its sub-accounts. This also deletes the account's [developer registration entity](/merchant/api/reference/rest/accounts_v1beta/accounts.developerRegistration) and any associated GCP project to the account. Executing this method requires admin access. The deletion succeeds only if the account does not provide services to any other account and has no processed offers. You can use the `force` parameter to override this.",
          "parameters": {
            "force": {
              "description": "Optional. If set to `true`, the account is deleted even if it provides services to other accounts or has processed offers.",
              "location": "query",
              "type": "boolean"
            },
            "name": {
              "type": "string",
              "description": "Required. The name of the account to delete. Format: `accounts/{account}`",
              "required": true,
              "location": "path",
              "pattern": "^accounts/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "listSubaccounts": {
          "id": "merchantapi.accounts.listSubaccounts",
          "parameterOrder": [
            "provider"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "accounts/v1beta/accounts/{accountsId}:listSubaccounts",
          "parameters": {
            "provider": {
              "type": "string",
              "location": "path",
              "description": "Required. The aggregation service provider. Format: `accounts/{accountId}`",
              "pattern": "^accounts/[^/]+$",
              "required": true
            },
            "pageSize": {
              "format": "int32",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 250 accounts are returned. The maximum value is 500; values above 500 are coerced to 500.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `accounts.list` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided in the `accounts.list` request must match the call that provided the page token.",
              "location": "query"
            }
          },
          "path": "accounts/v1beta/{+provider}:listSubaccounts",
          "description": "List all sub-accounts for a given advanced account. This is a convenience wrapper for the more powerful `accounts.list` method. This method will produce the same results as calling `ListsAccounts` with the following filter: `relationship(providerId={parent} AND service(type=\"ACCOUNT_AGGREGATION\"))`",
          "response": {
            "$ref": "ListSubAccountsResponse"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Updates an account regardless of its type: standalone, advanced account or sub-account. Executing this method requires admin access.",
          "id": "merchantapi.accounts.patch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "description": "Identifier. The resource name of the account. Format: `accounts/{account}`",
              "type": "string",
              "required": true
            },
            "updateMask": {
              "type": "string",
              "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `account_name` - `adult_content` - `language_code` - `time_zone`",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "path": "accounts/v1beta/{+name}",
          "flatPath": "accounts/v1beta/accounts/{accountsId}",
          "response": {
            "$ref": "Account"
          }
        },
        "createAndConfigure": {
          "id": "merchantapi.accounts.createAndConfigure",
          "path": "accounts/v1beta/accounts:createAndConfigure",
          "parameters": {},
          "request": {
            "$ref": "CreateAndConfigureAccountRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "Account"
          },
          "description": "Creates a Merchant Center account with additional configuration. Adds the user that makes the request as an admin for the new account.",
          "flatPath": "accounts/v1beta/accounts:createAndConfigure",
          "httpMethod": "POST"
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "description": "Note: For the `accounts.list` method, quota and limits usage are charged for each user, and not for the Merchant Center ID or the advanced account ID. To list several sub-accounts, you should use the `accounts.listSubaccounts` method, which is more suitable for advanced accounts use case.",
          "path": "accounts/v1beta/accounts",
          "flatPath": "accounts/v1beta/accounts",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 250 accounts are returned. The maximum value is 500; values above 500 are coerced to 500."
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. Returns only accounts that match the [filter](https://developers.google.com/merchant/api/guides/accounts/filter). For more details, see the [filter syntax reference](https://developers.google.com/merchant/api/guides/accounts/filter-syntax)."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `accounts.list` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided in the `accounts.list` request must match the call that provided the page token."
            }
          },
          "id": "merchantapi.accounts.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Retrieves an account from your Merchant Center account. After inserting, updating, or deleting an account, it may take several minutes before changes take effect.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The name of the account to retrieve. Format: `accounts/{account}`",
              "required": true
            }
          },
          "path": "accounts/v1beta/{+name}",
          "flatPath": "accounts/v1beta/accounts/{accountsId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Account"
          },
          "id": "merchantapi.accounts.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      },
      "resources": {
        "automaticImprovements": {
          "methods": {
            "getAutomaticImprovements": {
              "description": "Retrieves the automatic improvements of an account.",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+/automaticImprovements$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/automaticImprovements",
              "response": {
                "$ref": "AutomaticImprovements"
              },
              "id": "merchantapi.accounts.automaticImprovements.getAutomaticImprovements",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "updateAutomaticImprovements": {
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}",
              "request": {
                "$ref": "AutomaticImprovements"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/automaticImprovements$",
                  "required": true,
                  "type": "string",
                  "description": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`."
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `item_updates` - `item_updates.account_level_settings` - `image_improvements` - `image_improvements.account_level_settings` - `shipping_improvements` - `shipping_improvements.allow_shipping_improvements`",
                  "location": "query"
                }
              },
              "id": "merchantapi.accounts.automaticImprovements.updateAutomaticImprovements",
              "response": {
                "$ref": "AutomaticImprovements"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/automaticImprovements",
              "description": "Updates the automatic improvements of an account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "PATCH"
            }
          }
        },
        "services": {
          "methods": {
            "reject": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.services.reject",
              "path": "accounts/v1beta/{+name}:reject",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the account service to reject. Format: `accounts/{account}/services/{service}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}:reject",
              "description": "Reject an account service (both proposed and approve services can be rejected).",
              "request": {
                "$ref": "RejectAccountServiceRequest"
              },
              "response": {
                "$ref": "Empty"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "accounts/v1beta/{+parent}/services",
              "response": {
                "$ref": "ListAccountServicesResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Required. The parent account of the account service to filter by. Format: `accounts/{account}`"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of elements to return in the response. Use for paging. If no `page_size` is specified, `100` is used as the default value. The maximum allowed value is `1000`."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The token returned by the previous `list` request."
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services",
              "id": "merchantapi.accounts.services.list",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "List account services for the specified accounts. Supports filtering."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Retrieve an account service.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.services.get",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the account service to get. Format: `accounts/{account}/services/{service}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "required": true
                }
              },
              "path": "accounts/v1beta/{+name}",
              "response": {
                "$ref": "AccountService"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}"
            },
            "approve": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the account service to approve. Format: `accounts/{account}/services/{service}`",
                  "location": "path"
                }
              },
              "id": "merchantapi.accounts.services.approve",
              "description": "Approve an account service proposal.",
              "request": {
                "$ref": "ApproveAccountServiceRequest"
              },
              "response": {
                "$ref": "AccountService"
              },
              "httpMethod": "POST",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}:approve",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}:approve"
            },
            "propose": {
              "description": "Propose an account service.",
              "id": "merchantapi.accounts.services.propose",
              "httpMethod": "POST",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services:propose",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "AccountService"
              },
              "path": "accounts/v1beta/{+parent}/services:propose",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the parent account for the service. Format: `accounts/{account}`"
                }
              },
              "request": {
                "$ref": "ProposeAccountServiceRequest"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "regions": {
          "methods": {
            "list": {
              "id": "merchantapi.accounts.regions.list",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListRegionsResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The account to list regions for. Format: `accounts/{account}`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListRegions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRegions` must match the call that provided the page token."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of regions to return. The service may return fewer than this value. If unspecified, at most 50 regions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the regions in your Merchant Center account.",
              "path": "accounts/v1beta/{+parent}/regions"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.regions.patch",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Identifier. The resource name of the region. Format: `accounts/{account}/regions/{region}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+/regions/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The comma-separated field mask indicating the fields to update. Example: `\"displayName,postalCodeArea.regionCode\"`."
                }
              },
              "description": "Updates a region definition in your Merchant Center account. Executing this method requires admin access.",
              "response": {
                "$ref": "Region"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "Region"
              },
              "httpMethod": "PATCH"
            },
            "delete": {
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Deletes a region definition from your Merchant Center account. Executing this method requires admin access.",
              "id": "merchantapi.accounts.regions.delete",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "description": "Required. The name of the region to delete. Format: `accounts/{account}/regions/{region}`",
                  "location": "path"
                }
              }
            },
            "get": {
              "id": "merchantapi.accounts.regions.get",
              "path": "accounts/v1beta/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the region to retrieve. Format: `accounts/{account}/regions/{region}`"
                }
              },
              "response": {
                "$ref": "Region"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves a region defined in your Merchant Center account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The account to create a region for. Format: `accounts/{account}`",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "regionId": {
                  "description": "Required. The identifier for the region, unique over all regions of the same account.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions",
              "response": {
                "$ref": "Region"
              },
              "request": {
                "$ref": "Region"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "path": "accounts/v1beta/{+parent}/regions",
              "id": "merchantapi.accounts.regions.create",
              "description": "Creates a region definition in your Merchant Center account. Executing this method requires admin access."
            }
          }
        },
        "businessIdentity": {
          "methods": {
            "updateBusinessIdentity": {
              "description": "Updates the business identity of an account. Executing this method requires admin access.",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `black_owned` - `latino_owned` - `promotions_consent` - `small_business` - `veteran_owned` - `women_owned`"
                },
                "name": {
                  "pattern": "^accounts/[^/]+/businessIdentity$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.businessIdentity.updateBusinessIdentity",
              "path": "accounts/v1beta/{+name}",
              "response": {
                "$ref": "BusinessIdentity"
              },
              "httpMethod": "PATCH",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessIdentity",
              "request": {
                "$ref": "BusinessIdentity"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "getBusinessIdentity": {
              "response": {
                "$ref": "BusinessIdentity"
              },
              "id": "merchantapi.accounts.businessIdentity.getBusinessIdentity",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessIdentity",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves the business identity of an account.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "accounts/v1beta/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/businessIdentity$",
                  "required": true,
                  "description": "Required. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`. For example, `accounts/123456/businessIdentity`."
                }
              }
            }
          }
        },
        "shippingSettings": {
          "methods": {
            "getShippingSettings": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ShippingSettings"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/shippingSettings",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/shippingSettings$",
                  "description": "Required. The name of the shipping setting to retrieve. Format: `accounts/{account}/shippingsettings`",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieve shipping setting information.",
              "id": "merchantapi.accounts.shippingSettings.getShippingSettings",
              "parameterOrder": [
                "name"
              ]
            },
            "insert": {
              "path": "accounts/v1beta/{+parent}/shippingSettings:insert",
              "httpMethod": "POST",
              "response": {
                "$ref": "ShippingSettings"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/shippingSettings:insert",
              "request": {
                "$ref": "ShippingSettings"
              },
              "description": "Replace the shipping setting of a business with the request shipping setting. Executing this method requires admin access.",
              "id": "merchantapi.accounts.shippingSettings.insert",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account for which this shipping setting will be inserted. If you are using an advanced account, you must specify the unique identifier of the sub-account for which you want to insert the shipping setting. Format: `accounts/{ACCOUNT_ID}`",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "issues": {
          "methods": {
            "list": {
              "id": "merchantapi.accounts.issues.list",
              "httpMethod": "GET",
              "description": "Lists all account issues of a Merchant Center account. When called on a multi-client account, this method only returns issues belonging to that account, not its sub-accounts. To retrieve issues for sub-accounts, you must first call the accounts.listSubaccounts method to obtain a list of sub-accounts, and then call `accounts.issues.list` for each sub-account individually.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/issues",
              "response": {
                "$ref": "ListAccountIssuesResponse"
              },
              "path": "accounts/v1beta/{+parent}/issues",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of issues to return. The service may return fewer than this value. If unspecified, at most 50 issues will be returned. The maximum value is 100; values above 100 will be coerced to 100"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListAccountIssues` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountIssues` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent, which owns this collection of issues. Format: `accounts/{account}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                },
                "timeZone": {
                  "location": "query",
                  "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in human-readable fields. For example 'America/Los_Angeles'. If not set, 'America/Los_Angeles' will be used.",
                  "type": "string"
                },
                "languageCode": {
                  "type": "string",
                  "description": "Optional. The issues in the response will have human-readable fields in the given language. The format is [BCP-47](https://tools.ietf.org/html/bcp47), such as `en-US` or `sr-Latn`. If not value is provided, `en-US` will be used.",
                  "location": "query"
                }
              }
            }
          }
        },
        "onlineReturnPolicies": {
          "methods": {
            "list": {
              "path": "accounts/v1beta/{+parent}/onlineReturnPolicies",
              "id": "merchantapi.accounts.onlineReturnPolicies.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListOnlineReturnPoliciesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies",
              "description": "Lists all existing return policies for a given business.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of `OnlineReturnPolicy` resources to return. The service returns fewer than this value if the number of return policies for the given business is less that than the `pageSize`. The default value is 10. The maximum value is 100; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListOnlineReturnPolicies` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListOnlineReturnPolicies` must match the call that provided the page token. The token returned as nextPageToken in the response to the previous request.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The Merchant Center account for which to list return policies. Format: `accounts/{account}`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$"
                }
              }
            },
            "patch": {
              "id": "merchantapi.accounts.onlineReturnPolicies.patch",
              "request": {
                "$ref": "OnlineReturnPolicy"
              },
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. The name of the `OnlineReturnPolicy` resource. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Optional. Only support updating the entire OnlineReturnPolicy message. For update_mask, always use `*`."
                }
              },
              "description": "Updates an existing return policy for a given business."
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the return policy to delete. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "description": "Deletes an existing return policy.",
              "httpMethod": "DELETE",
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.onlineReturnPolicies.delete"
            },
            "create": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies",
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Creates a new return policy for a given business.",
              "path": "accounts/v1beta/{+parent}/onlineReturnPolicies",
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.onlineReturnPolicies.create",
              "request": {
                "$ref": "OnlineReturnPolicy"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The Merchant Center account for which the return policy will be created. Format: `accounts/{account}`"
                }
              }
            },
            "get": {
              "description": "Gets an existing return policy for a given business.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the return policy to retrieve. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "id": "merchantapi.accounts.onlineReturnPolicies.get",
              "httpMethod": "GET"
            }
          }
        },
        "businessInfo": {
          "methods": {
            "updateBusinessInfo": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+/businessInfo$",
                  "location": "path",
                  "description": "Identifier. The resource name of the business info. Format: `accounts/{account}/businessInfo`"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `address` - `customer_service` - `korean_business_registration_number`",
                  "format": "google-fieldmask"
                }
              },
              "response": {
                "$ref": "BusinessInfo"
              },
              "request": {
                "$ref": "BusinessInfo"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessInfo",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates the business info of an account. Executing this method requires admin access.",
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.businessInfo.updateBusinessInfo",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ]
            },
            "getBusinessInfo": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.businessInfo.getBusinessInfo",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the business info. Format: `accounts/{account}/businessInfo`. For example, `accounts/123456/businessInfo`.",
                  "pattern": "^accounts/[^/]+/businessInfo$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Retrieves the business info of an account.",
              "path": "accounts/v1beta/{+name}",
              "response": {
                "$ref": "BusinessInfo"
              },
              "httpMethod": "GET",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessInfo"
            }
          }
        },
        "programs": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the program to retrieve. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/programs/[^/]+$"
                }
              },
              "response": {
                "$ref": "Program"
              },
              "description": "Retrieves the specified program for the account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}",
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.programs.get",
              "httpMethod": "GET"
            },
            "disable": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}:disable",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the program for which to disable participation for the given account. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "Program"
              },
              "path": "accounts/v1beta/{+name}:disable",
              "id": "merchantapi.accounts.programs.disable",
              "httpMethod": "POST",
              "description": "Disable participation in the specified program for the account.",
              "request": {
                "$ref": "DisableProgramRequest"
              }
            },
            "enable": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}:enable",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the program for which to enable participation for the given account. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`."
                }
              },
              "description": "Enable participation in the specified program for the account.",
              "id": "merchantapi.accounts.programs.enable",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Program"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}:enable",
              "httpMethod": "POST",
              "request": {
                "$ref": "EnableProgramRequest"
              }
            },
            "list": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs",
              "response": {
                "$ref": "ListProgramsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "Retrieves all programs for the account.",
              "id": "merchantapi.accounts.programs.list",
              "path": "accounts/v1beta/{+parent}/programs",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the account for which to retrieve all programs. Format: `accounts/{account}`",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of programs to return in a single response. If unspecified (or 0), a default size of 1000 is used. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A continuation token, received from a previous `ListPrograms` call. Provide this to retrieve the next page.",
                  "location": "query"
                }
              }
            }
          },
          "resources": {
            "checkoutSettings": {
              "methods": {
                "deleteCheckoutSettings": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "path": "accounts/v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "location": "path",
                      "description": "Required. The name/identifier of the merchant account. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "merchantapi.accounts.programs.checkoutSettings.deleteCheckoutSettings",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "description": "Deletes `CheckoutSettings` and unenrolls merchant from `Checkout` program.",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "getCheckoutSettings": {
                  "path": "accounts/v1beta/{+name}",
                  "description": "Gets `CheckoutSettings` for the given merchant. This includes information about review state, enrollment state and URL settings.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name/identifier of the merchant account. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "id": "merchantapi.accounts.programs.checkoutSettings.getCheckoutSettings",
                  "httpMethod": "GET"
                },
                "updateCheckoutSettings": {
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "description": "Updates `CheckoutSettings` for the given merchant.",
                  "path": "accounts/v1beta/{+name}",
                  "id": "merchantapi.accounts.programs.checkoutSettings.updateCheckoutSettings",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `eligible_destinations` - `uri_settings`"
                    },
                    "name": {
                      "description": "Identifier. The resource name of the program configuration settings. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "request": {
                    "$ref": "CheckoutSettings"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "path": "accounts/v1beta/{+parent}/checkoutSettings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/programs/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The merchant account for which the `CheckoutSettings` will be created."
                    }
                  },
                  "request": {
                    "$ref": "CheckoutSettings"
                  },
                  "id": "merchantapi.accounts.programs.checkoutSettings.create",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "description": "Creates `CheckoutSettings` for the given merchant."
                }
              }
            }
          }
        },
        "termsOfServiceAgreementStates": {
          "methods": {
            "retrieveForApplication": {
              "path": "accounts/v1beta/{+parent}/termsOfServiceAgreementStates:retrieveForApplication",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account for which to get a TermsOfServiceAgreementState Format: `accounts/{account}`",
                  "required": true
                }
              },
              "response": {
                "$ref": "TermsOfServiceAgreementState"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/termsOfServiceAgreementStates:retrieveForApplication",
              "id": "merchantapi.accounts.termsOfServiceAgreementStates.retrieveForApplication",
              "httpMethod": "GET",
              "description": "Retrieves the state of the agreement for the application terms of service. Application terms of service covers permissions related to the usage of data provided through Merchant Center, CSS Center, Manufacturer Center, and more."
            },
            "get": {
              "id": "merchantapi.accounts.termsOfServiceAgreementStates.get",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/termsOfServiceAgreementStates/{termsOfServiceAgreementStatesId}",
              "httpMethod": "GET",
              "description": "Returns the state of a terms of service agreement.",
              "path": "accounts/v1beta/{+name}",
              "response": {
                "$ref": "TermsOfServiceAgreementState"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/termsOfServiceAgreementStates/[^/]+$",
                  "description": "Required. The resource name of the terms of service version. Format: `accounts/{account}/termsOfServiceAgreementStates/{identifier}` The identifier format is: `{TermsOfServiceKind}-{country}`",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "relationships": {
          "methods": {
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "AccountRelationship"
              },
              "description": "Updates the account relationship. Executing this method requires admin access.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships/{relationshipsId}",
              "path": "accounts/v1beta/{+name}",
              "response": {
                "$ref": "AccountRelationship"
              },
              "httpMethod": "PATCH",
              "id": "merchantapi.accounts.relationships.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/relationships/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. The resource name of the account relationship. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`."
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `account_id_alias`",
                  "location": "query"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the account relationship to get. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/relationships/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "id": "merchantapi.accounts.relationships.get",
              "httpMethod": "GET",
              "description": "Retrieve an account relationship.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships/{relationshipsId}",
              "response": {
                "$ref": "AccountRelationship"
              }
            },
            "list": {
              "response": {
                "$ref": "ListAccountRelationshipsResponse"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships",
              "httpMethod": "GET",
              "id": "merchantapi.accounts.relationships.list",
              "description": "List account relationships for the specified account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of elements to return in the response. Use for paging. If no `page_size` is specified, `100` is used as the default value. The maximum allowed value is `1000`.",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The parent account of the account relationship to filter by. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The token returned by the previous `list` request."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "accounts/v1beta/{+parent}/relationships"
            }
          }
        },
        "autofeedSettings": {
          "methods": {
            "getAutofeedSettings": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves the autofeed settings of an account.",
              "response": {
                "$ref": "AutofeedSettings"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/autofeedSettings",
              "id": "merchantapi.accounts.autofeedSettings.getAutofeedSettings",
              "path": "accounts/v1beta/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`",
                  "pattern": "^accounts/[^/]+/autofeedSettings$",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "updateAutofeedSettings": {
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the autofeed settings of an account.",
              "httpMethod": "PATCH",
              "path": "accounts/v1beta/{+name}",
              "response": {
                "$ref": "AutofeedSettings"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/autofeedSettings",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. List of fields being updated."
                },
                "name": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/autofeedSettings$",
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`."
                }
              },
              "id": "merchantapi.accounts.autofeedSettings.updateAutofeedSettings",
              "request": {
                "$ref": "AutofeedSettings"
              }
            }
          }
        },
        "omnichannelSettings": {
          "methods": {
            "list": {
              "id": "merchantapi.accounts.omnichannelSettings.list",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of omnichannel settings to return. The service may return fewer than this value. If unspecified, at most 50 omnichannel settings will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListOmnichannelSettings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOmnichannelSettings` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent, which owns this collection of omnichannel settings. Format: `accounts/{account}`",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListOmnichannelSettingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "List all the omnichannel settings for a given merchant.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings",
              "httpMethod": "GET",
              "path": "accounts/v1beta/{+parent}/omnichannelSettings"
            },
            "get": {
              "description": "Get the omnichannel settings for a given merchant.",
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "httpMethod": "GET",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.omnichannelSettings.get",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "description": "Required. The name of the omnichannel setting to retrieve. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "create": {
              "request": {
                "$ref": "OmnichannelSetting"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings",
              "id": "merchantapi.accounts.omnichannelSettings.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+parent}/omnichannelSettings",
              "description": "Create the omnichannel settings for a given merchant.",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this omnichannel setting will be created. Format: `accounts/{account}`",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "requestInventoryVerification": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}:requestInventoryVerification",
              "request": {
                "$ref": "RequestInventoryVerificationRequest"
              },
              "response": {
                "$ref": "RequestInventoryVerificationResponse"
              },
              "description": "Requests inventory verification for a given merchant in a given country.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}:requestInventoryVerification",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the omnichannel setting to request inventory verification. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "merchantapi.accounts.omnichannelSettings.requestInventoryVerification",
              "httpMethod": "POST"
            },
            "patch": {
              "path": "accounts/v1beta/{+name}",
              "request": {
                "$ref": "OmnichannelSetting"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.omnichannelSettings.patch",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Update the omnichannel setting for a given merchant in a given country.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}",
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. The following fields are supported in snake_case only: - `lsf_type` - `in_stock` - `pickup` - `odo` - `about` - `inventory_verification` Full replacement with wildcard `*`is supported, while empty/implied update mask is not.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. The resource name of the omnichannel setting. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "OmnichannelSetting"
              }
            }
          },
          "resources": {
            "lfpProviders": {
              "methods": {
                "find": {
                  "id": "merchantapi.accounts.omnichannelSettings.lfpProviders.find",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "description": "Find the LFP provider candidates in a given country.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `FindLfpProviders` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `FindLfpProviders` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                      "description": "Required. The name of the parent resource under which the LFP providers are found. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`.",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of `LfpProvider` resources to return. The service returns fewer than this value if the number of lfp providers is less that than the `pageSize`. The default value is 50. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum."
                    }
                  },
                  "path": "accounts/v1beta/{+parent}/lfpProviders:find",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}/lfpProviders:find",
                  "response": {
                    "$ref": "FindLfpProvidersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "linkLfpProvider": {
                  "request": {
                    "$ref": "LinkLfpProviderRequest"
                  },
                  "path": "accounts/v1beta/{+name}:linkLfpProvider",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "LinkLfpProviderResponse"
                  },
                  "id": "merchantapi.accounts.omnichannelSettings.lfpProviders.linkLfpProvider",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}/lfpProviders/{lfpProvidersId}:linkLfpProvider",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the LFP provider resource to link. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}/lfpProviders/{lfp_provider}`. The `lfp_provider` is the LFP provider ID.",
                      "required": true,
                      "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+/lfpProviders/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "description": "Link the specified merchant to a LFP provider for the specified country."
                }
              }
            }
          }
        },
        "developerRegistration": {
          "methods": {
            "registerGcp": {
              "id": "merchantapi.accounts.developerRegistration.registerGcp",
              "response": {
                "$ref": "DeveloperRegistration"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration:registerGcp",
              "parameters": {
                "name": {
                  "description": "Required. The name of the developer registration to be created for the merchant account that the GCP will be registered with. Format: `accounts/{account}/developerRegistration` The {account} used must be the same account where user calling this API method is directly added to. Note: The account used must be a production account (can't be a [test account](https://developers.google.com/merchant/api/guides/accounts/test-accounts) ) and must have a [verified website](https://support.google.com/merchants/answer/11586344) in Merchant Center.",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}:registerGcp",
              "description": "Registers the GCP used for the API call to the shopping account passed in the request. Will create a user with an \"API developer\" and add the \"developer_email\" as a contact with \"API notifications\" email preference on. Restrictions: * The caller account must be authenticated and must not impersonate another account at registration time. Registering for subaccounts is not supported if the caller account is authenticated with the parent or the managing advanced account. * The caller account must have a [verified website](https://support.google.com/merchants/answer/11586344) in Merchant Center. * [Test accounts](https://developers.google.com/merchant/api/guides/accounts/test-accounts) are not eligible for registration.",
              "httpMethod": "POST",
              "request": {
                "$ref": "RegisterGcpRequest"
              }
            },
            "getAccountForGcpRegistration": {
              "parameters": {},
              "id": "merchantapi.accounts.developerRegistration.getAccountForGcpRegistration",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/accounts:getAccountForGcpRegistration",
              "flatPath": "accounts/v1beta/accounts:getAccountForGcpRegistration",
              "response": {
                "$ref": "GetAccountForGcpRegistrationResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [],
              "description": "Retrieves the merchant account that the calling GCP is registered with."
            },
            "getDeveloperRegistration": {
              "httpMethod": "GET",
              "description": "Retrieves a developer registration for a merchant.",
              "response": {
                "$ref": "DeveloperRegistration"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration",
              "parameters": {
                "name": {
                  "description": "Required. The `name` (ID) of the developer registration.",
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.developerRegistration.getDeveloperRegistration",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "unregisterGcp": {
              "path": "accounts/v1beta/{+name}:unregisterGcp",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "Unregister the calling GCP from the calling shopping account. Note that the GCP will still be able to access the API for at most 1 day from the unregister succussful call.",
              "request": {
                "$ref": "UnregisterGcpRequest"
              },
              "id": "merchantapi.accounts.developerRegistration.unregisterGcp",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration:unregisterGcp",
              "parameters": {
                "name": {
                  "description": "Required. The name of the developer registration to be created for the merchant account that the GCP will be registered with. Format: `accounts/{account}/developerRegistration`",
                  "required": true,
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "emailPreferences": {
          "methods": {
            "getEmailPreferences": {
              "description": "Returns the email preferences for a Merchant Center account user. This service only permits retrieving and updating email preferences for the authenticated user. Use the name=accounts/*/users/me/emailPreferences alias to get preferences for the authenticated user.",
              "id": "merchantapi.accounts.emailPreferences.getEmailPreferences",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/users/[^/]+/emailPreferences$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the `EmailPreferences` resource. Format: `accounts/{account}/users/{email}/emailPreferences`",
                  "location": "path"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}/emailPreferences",
              "response": {
                "$ref": "EmailPreferences"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "updateEmailPreferences": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "EmailPreferences"
              },
              "path": "accounts/v1beta/{+name}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `news_and_tips`"
                },
                "name": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/users/[^/]+/emailPreferences$",
                  "type": "string",
                  "description": "Identifier. The name of the EmailPreferences. The endpoint is only supported for the authenticated user.",
                  "location": "path"
                }
              },
              "description": "Updates the email preferences for a Merchant Center account user. Advanced account users should specify the advanced account rather than a sub-account of the advanced account. Preferences which are not explicitly selected in the update mask will not be updated. It is invalid for updates to specify an UNCONFIRMED opt-in status value. Use the name=accounts/*/users/me/emailPreferences alias to update preferences for the authenticated user.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.emailPreferences.updateEmailPreferences",
              "response": {
                "$ref": "EmailPreferences"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}/emailPreferences"
            }
          }
        },
        "homepage": {
          "methods": {
            "getHomepage": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+/homepage$",
                  "location": "path",
                  "description": "Required. The name of the homepage to retrieve. Format: `accounts/{account}/homepage`"
                }
              },
              "id": "merchantapi.accounts.homepage.getHomepage",
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves a store's homepage.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage",
              "path": "accounts/v1beta/{+name}",
              "response": {
                "$ref": "Homepage"
              }
            },
            "unclaim": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the homepage to unclaim. Format: `accounts/{account}/homepage`",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+/homepage$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}:unclaim",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Unclaims a store's homepage. Executing this method requires admin access.",
              "request": {
                "$ref": "UnclaimHomepageRequest"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage:unclaim",
              "id": "merchantapi.accounts.homepage.unclaim",
              "response": {
                "$ref": "Homepage"
              },
              "httpMethod": "POST"
            },
            "updateHomepage": {
              "parameters": {
                "updateMask": {
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `uri`",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/homepage$",
                  "description": "Identifier. The resource name of the store's homepage. Format: `accounts/{account}/homepage`",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Updates a store's homepage. Executing this method requires admin access.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage",
              "response": {
                "$ref": "Homepage"
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Homepage"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.homepage.updateHomepage"
            },
            "claim": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage:claim",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "Homepage"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/homepage$",
                  "location": "path",
                  "description": "Required. The name of the homepage to claim. Format: `accounts/{account}/homepage`",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Claims a store's homepage. Executing this method requires admin access. If the homepage is already claimed, this will recheck the verification (unless the business is exempted from claiming, which also exempts from verification) and return a successful response. If ownership can no longer be verified, it will return an error, but it won't clear the claim. In case of failure, a canonical error message is returned: * PERMISSION_DENIED: User doesn't have the necessary permissions on this Merchant Center account. * FAILED_PRECONDITION: - The account is not a Merchant Center account. - Merchant Center account doesn't have a homepage. - Claiming failed (in this case the error message contains more details).",
              "path": "accounts/v1beta/{+name}:claim",
              "request": {
                "$ref": "ClaimHomepageRequest"
              },
              "id": "merchantapi.accounts.homepage.claim",
              "httpMethod": "POST"
            }
          }
        },
        "users": {
          "methods": {
            "patch": {
              "id": "merchantapi.accounts.users.patch",
              "request": {
                "$ref": "User"
              },
              "httpMethod": "PATCH",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "User"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a Merchant Center account user. Executing this method requires admin access.",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `access_rights`",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier. The resource name of the user. Format: `accounts/{account}/user/{email}` Use `me` to refer to your own email address, for example `accounts/{account}/users/me`.",
                  "pattern": "^accounts/[^/]+/users/[^/]+$"
                }
              },
              "path": "accounts/v1beta/{+name}"
            },
            "create": {
              "request": {
                "$ref": "User"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "id": "merchantapi.accounts.users.create",
              "path": "accounts/v1beta/{+parent}/users",
              "description": "Creates a Merchant Center account user. Executing this method requires admin access.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the account for which a user will be created. Format: `accounts/{account}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                },
                "userId": {
                  "type": "string",
                  "description": "Required. The email address of the user (for example, `john.doe@gmail.com`).",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "User"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "response": {
                "$ref": "User"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "path": "accounts/v1beta/{+name}",
              "description": "Retrieves a Merchant Center account user.",
              "id": "merchantapi.accounts.users.get",
              "parameters": {
                "name": {
                  "description": "Required. The name of the user to retrieve. Format: `accounts/{account}/users/{email}` It is also possible to retrieve the user corresponding to the caller by using `me` rather than an email address as in `accounts/{account}/users/me`.",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the user to delete. Format: `accounts/{account}/users/{email}` It is also possible to delete the user corresponding to the caller by using `me` rather than an email address as in `accounts/{account}/users/me`.",
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "path": "accounts/v1beta/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "description": "Deletes a Merchant Center account user. Executing this method requires admin access. The user to be deleted can't be the last admin user of that account.",
              "id": "merchantapi.accounts.users.delete"
            },
            "list": {
              "path": "accounts/v1beta/{+parent}/users",
              "description": "Lists all users of a Merchant Center account.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListUsersResponse"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.users.list",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUsers` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent, which owns this collection of users. Format: `accounts/{account}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of users to return. The service may return fewer than this value. If unspecified, at most 50 users will be returned. The maximum value is 100; values above 100 will be coerced to 100",
                  "location": "query",
                  "format": "int32"
                }
              }
            }
          },
          "resources": {
            "me": {
              "methods": {
                "verifySelf": {
                  "request": {
                    "$ref": "VerifySelfRequest"
                  },
                  "parameterOrder": [
                    "account"
                  ],
                  "path": "accounts/v1beta/{+account}/users/me:verifySelf",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/users/me:verifySelf",
                  "response": {
                    "$ref": "User"
                  },
                  "parameters": {
                    "account": {
                      "location": "path",
                      "description": "Required. The name of the account under which the caller is a user. Format: `accounts/{account}`",
                      "pattern": "^accounts/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Updates the user that is represented by the caller from pending to verified.",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "httpMethod": "PATCH",
                  "id": "merchantapi.accounts.users.me.verifySelf"
                }
              }
            }
          }
        },
        "gbpAccounts": {
          "methods": {
            "linkGbpAccount": {
              "request": {
                "$ref": "LinkGbpAccountRequest"
              },
              "httpMethod": "POST",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/gbpAccounts:linkGbpAccount",
              "response": {
                "$ref": "LinkGbpAccountResponse"
              },
              "path": "accounts/v1beta/{+parent}/gbpAccounts:linkGbpAccount",
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.gbpAccounts.linkGbpAccount",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the parent resource to which the GBP account is linked. Format: `accounts/{account}`.",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "description": "Link the specified merchant to a GBP account for all countries. To run this method, you must have admin access to the Merchant Center account. If you don't have admin access, the request fails with the error message `User is not an administrator of account {ACCOUNT_ID}`."
            },
            "list": {
[...]
