{
  "discoveryVersion": "v1",
  "name": "merchantapi",
  "ownerName": "Google",
  "id": "merchantapi:accounts_v1",
  "basePath": "",
  "schemas": {
    "LocalListingManagement": {
      "id": "LocalListingManagement",
      "properties": {},
      "description": "`LocalListingManagement` payload.",
      "type": "object"
    },
    "Handshake": {
      "type": "object",
      "description": "The current status of establishing of the service. (for example, pending approval, approved, established).",
      "id": "Handshake",
      "properties": {
        "approvalState": {
          "description": "Output only. The approval state of this handshake.",
          "enumDescriptions": [
            "Unspecified approval status.",
            "The service was proposed and is waiting to be confirmed.",
            "Indicates that the service proposal has been accepted and will be established after a fixed delay set by the service provider.",
            "Both parties have confirmed the service.",
            "The service proposal was rejected."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "WAITING",
            "ESTABLISHED",
            "REJECTED"
          ]
        },
        "actor": {
          "description": "Output only. The most recent account to modify the account service's `approval_status`.",
          "enumDescriptions": [
            "Unspecified actor.",
            "The last change was done by the account who has this service.",
            "The last change was done by the other party who this service points to."
          ],
          "readOnly": true,
          "enum": [
            "ACTOR_UNSPECIFIED",
            "ACCOUNT",
            "OTHER_PARTY"
          ],
          "type": "string"
        }
      }
    },
    "RadiusArea": {
      "description": "A radius area that defines the region area.",
      "type": "object",
      "id": "RadiusArea",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Required. [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) or the country the radius area applies to."
        },
        "latLng": {
          "description": "Required. The center of the radius area. It represents a latitude/longitude pair in decimal degrees format.",
          "$ref": "LatLng"
        },
        "radius": {
          "type": "number",
          "description": "Required. The radius distance of the area.",
          "format": "double"
        },
        "radiusUnits": {
          "enum": [
            "RADIUS_UNITS_UNSPECIFIED",
            "MILES",
            "KILOMETERS"
          ],
          "type": "string",
          "description": "Optional. The unit of the radius.",
          "enumDescriptions": [
            "Unused default value",
            "The distance is measured in miles.",
            "The distance is measured in kilometers."
          ]
        }
      }
    },
    "AddUser": {
      "id": "AddUser",
      "properties": {
        "user": {
          "description": "Optional. Details about the user to be added. At the moment, only access rights may be specified.",
          "$ref": "User"
        },
        "userId": {
          "type": "string",
          "description": "Required. The email address of the user (for example, `john.doe@gmail.com`)."
        },
        "verificationMailSettings": {
          "description": "Optional. Settings related to configuring the verification email that is sent after adding a user.",
          "$ref": "VerificationMailSettings"
        }
      },
      "description": "Instruction for adding a user to the account during creation.",
      "type": "object"
    },
    "Date": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "IdentityAttribute": {
      "description": "All information related to an identity attribute.",
      "type": "object",
      "id": "IdentityAttribute",
      "properties": {
        "identityDeclaration": {
          "description": "Required. The declaration of identity for this attribute.",
          "enumDescriptions": [
            "Default value indicating that no selection was made.",
            "Indicates that the account identifies with the attribute.",
            "Indicates that the account does not identify with the attribute."
          ],
          "type": "string",
          "enum": [
            "IDENTITY_DECLARATION_UNSPECIFIED",
            "SELF_IDENTIFIES_AS",
            "DOES_NOT_SELF_IDENTIFY_AS"
          ]
        }
      }
    },
    "UnclaimHomepageRequest": {
      "description": "Request message for the `UnclaimHomepage` method.",
      "type": "object",
      "id": "UnclaimHomepageRequest",
      "properties": {}
    },
    "RequestInventoryVerificationRequest": {
      "id": "RequestInventoryVerificationRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for the RequestInventoryVerification method."
    },
    "ListRegionsResponse": {
      "description": "Response message for the `ListRegions` method.",
      "type": "object",
      "id": "ListRegionsResponse",
      "properties": {
        "regions": {
          "type": "array",
          "items": {
            "$ref": "Region"
          },
          "description": "The regions from the specified business."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListAccountRelationshipsResponse": {
      "id": "ListAccountRelationshipsResponse",
      "properties": {
        "accountRelationships": {
          "description": "The account relationships that match your filter.",
          "type": "array",
          "items": {
            "$ref": "AccountRelationship"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A page token. You can send the `page_token` to get the next page. Only included in the `list` response if there are more pages."
        }
      },
      "description": "Response after trying to list account relationships.",
      "type": "object"
    },
    "ShippingSettings": {
      "type": "object",
      "description": "The Merchant Center account's [shipping settings](https://support.google.com/merchants/answer/6069284). The `ShippingSettings` resource lets you retrieve and update the shipping settings of your advanced account and all its associated sub-accounts.",
      "id": "ShippingSettings",
      "properties": {
        "services": {
          "type": "array",
          "items": {
            "$ref": "Service"
          },
          "description": "Optional. The target account's list of services."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the shipping settings. Format: `accounts/{account}/shippingSettings`. For example, `accounts/123456/shippingSettings`."
        },
        "warehouses": {
          "type": "array",
          "items": {
            "$ref": "Warehouse"
          },
          "description": "Optional. A list of warehouses which can be referred to in `services`."
        },
        "etag": {
          "description": "Required. This field helps avoid async issues. It ensures that the shipping setting data doesn't change between the `get` call and the `insert` call. The user should follow these steps: 1. Set the etag field as an empty string for the initial shipping setting creation. 2. After the initial creation, call the `get` method to obtain an etag and the current shipping setting data before calling `insert`. 3. Modify the shipping setting information. 4. Call the `insert` method with the shipping setting information and the etag obtained in step 2. 5. If the shipping setting data changes between step 2 and step 4, the insert request will fail because the etag changes every time the shipping setting data changes. In this case, the user should repeat steps 2-4 with the new etag.",
          "type": "string"
        }
      }
    },
    "ShortCode": {
      "description": "An object representing a short code, which is a phone number that is typically much shorter than regular phone numbers and can be used to address messages in MMS and SMS systems, as well as for abbreviated dialing (For example \"Text 611 to see how many minutes you have remaining on your plan.\"). Short codes are restricted to a region and are not internationally dialable, which means the same short code can exist in different regions, with different usage and pricing, even if those regions share the same country calling code (For example: US and CA).",
      "type": "object",
      "id": "ShortCode",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Required. The BCP-47 region code of the location where calls to this short code can be made, such as \"US\" and \"BB\". Reference(s): - http://www.unicode.org/reports/tr35/#unicode_region_subtag"
        },
        "number": {
          "type": "string",
          "description": "Required. The short code digits, without a leading plus ('+') or country calling code. For example \"611\"."
        }
      }
    },
    "DeveloperRegistration": {
      "id": "DeveloperRegistration",
      "properties": {
        "name": {
          "description": "Identifier. The `name` (ID) of the developer registration. Generated upon creation of a new `DeveloperRegistration`. The `account` represents the merchant ID of the merchant that owns the registration.",
          "type": "string"
        },
        "gcpIds": {
          "description": "Output only. The GCP ids attached to this developer registration",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "description": "Represents a developer registration owned by a Merchant account.",
      "type": "object"
    },
    "Warehouse": {
      "id": "Warehouse",
      "properties": {
        "handlingDays": {
          "type": "string",
          "description": "Required. The number of days it takes for this warehouse to pack up and ship an item. This is on the warehouse level, but can be overridden on the offer level based on the attributes of an item.",
          "format": "int64"
        },
        "businessDayConfig": {
          "description": "Business days of the warehouse. If not set, will be Monday to Friday by default.",
          "$ref": "BusinessDayConfig"
        },
        "cutoffTime": {
          "description": "Required. The latest time of day that an order can be accepted and begin processing. Later orders will be processed in the next day. The time is based on the warehouse postal code.",
          "$ref": "WarehouseCutoffTime"
        },
        "name": {
          "description": "Required. The name of the warehouse. Must be unique within account.",
          "type": "string"
        },
        "shippingAddress": {
          "description": "Required. Shipping address of the warehouse.",
          "$ref": "Address"
        }
      },
      "type": "object",
      "description": "A fulfillment warehouse, which stores and handles inventory."
    },
    "TransitTable": {
      "id": "TransitTable",
      "properties": {
        "postalCodeGroupNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of region names Region.name . The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service."
        },
        "transitTimeLabels": {
          "description": "Required. A list of transit time labels. The last value can be `\"all other labels\"`. Example: `[\"food\", \"electronics\", \"all other labels\"]`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "TransitTimeRow"
          },
          "description": "Required. If there's only one dimension set of `postal_code_group_names` or `transit_time_labels`, there are multiple rows each with one value for that dimension. If there are two dimensions, each row corresponds to a `postal_code_group_names`, and columns (values) to a `transit_time_labels`."
        }
      },
      "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `min_transit_days`, `max_transit_days` or `transit_time_table` can be set, but not both.",
      "type": "object"
    },
    "WarehouseBasedDeliveryTime": {
      "type": "object",
      "description": "Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in `delivery_time` should be set.",
      "id": "WarehouseBasedDeliveryTime",
      "properties": {
        "carrierService": {
          "type": "string",
          "description": "Required. Carrier service, such as `\"ground\"` or `\"2 days\"`. The name of the service must be in the eddSupportedServices list."
        },
        "warehouse": {
          "type": "string",
          "description": "Required. Warehouse name. This should match warehouse."
        },
        "carrier": {
          "type": "string",
          "description": "Required. Carrier, such as `\"UPS\"` or `\"Fedex\"`. [supported carriers](https://support.google.com/merchants/answer/7050921#zippy=%2Ccarrier-rates-au-de-uk-and-us-only)"
        }
      }
    },
    "Row": {
      "id": "Row",
      "properties": {
        "cells": {
          "description": "Required. The list of cells that constitute the row. Must have the same length as `columnHeaders` for two-dimensional tables, a length of 1 for one-dimensional tables.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      },
      "type": "object",
      "description": "Include a list of cells."
    },
    "ProductStatusChangeMessage": {
      "type": "object",
      "description": "The message that the merchant will receive to notify about product status change event",
      "id": "ProductStatusChangeMessage",
      "properties": {
        "resource": {
          "description": "The product name. Format: `accounts/{account}/products/{product}`",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "format": "google-datetime"
        },
        "resourceType": {
          "description": "The resource that changed, in this case it will always be `Product`.",
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product",
            "Account service"
          ],
          "type": "string",
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT",
            "ACCOUNT_SERVICE"
          ]
        },
        "account": {
          "type": "string",
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`"
        },
        "managingAccount": {
          "type": "string",
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`"
        },
        "changes": {
          "type": "array",
          "items": {
            "$ref": "ProductChange"
          },
          "description": "A message to describe the change that happened to the product"
        },
        "eventTime": {
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications.",
          "format": "google-datetime",
          "type": "string"
        },
        "resourceId": {
          "description": "The product id.",
          "type": "string"
        },
        "attribute": {
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "type": "string",
          "description": "The attribute in the resource that changed, in this case it will be always `Status`.",
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ]
        }
      }
    },
    "Policy": {
      "description": "The available policies.",
      "type": "object",
      "id": "Policy",
      "properties": {
        "type": {
          "description": "Policy type.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The number of days within which a return is valid after delivery.",
            "No returns.",
            "Life time returns."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NUMBER_OF_DAYS_AFTER_DELIVERY",
            "NO_RETURNS",
            "LIFETIME_RETURNS"
          ]
        },
        "days": {
          "description": "The number of days items can be returned after delivery, where one day is defined as 24 hours after the delivery timestamp. Required for `NUMBER_OF_DAYS_AFTER_DELIVERY` returns.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Homepage": {
      "id": "Homepage",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the store's homepage. Format: `accounts/{account}/homepage`",
          "type": "string"
        },
        "uri": {
          "description": "Required. The URI (typically a URL) of the store's homepage.",
          "type": "string"
        },
        "claimed": {
          "readOnly": true,
          "description": "Output only. Whether the homepage is claimed. See https://support.google.com/merchants/answer/176793.",
          "type": "boolean"
        }
      },
      "description": "The `Homepage` message represents a business's store homepage within the system. A business's homepage is the primary domain where customers interact with their store. The homepage can be claimed and verified as a proof of ownership and allows the business to unlock features that require a verified website. For more information, see [Understanding online store URL verification](//support.google.com/merchants/answer/176793).",
      "type": "object"
    },
    "Impact": {
      "id": "Impact",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "ERROR",
            "SUGGESTION"
          ],
          "description": "The severity of the issue on the destination and region.",
          "enumDescriptions": [
            "The severity is unknown.",
            "The issue causes offers to not serve.",
            "The issue might affect offers (in the future) or might be an indicator of issues with offers.",
            "The issue is a suggestion for improvement."
          ],
          "type": "string"
        },
        "regionCode": {
          "description": "The [CLDR region code](https://cldr.unicode.org/) where this issue applies.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The impact of the issue on a region."
    },
    "ListUsersResponse": {
      "type": "object",
      "description": "Response message for the `ListUsers` method.",
      "id": "ListUsersResponse",
      "properties": {
        "users": {
          "description": "The users from the specified account.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Region": {
      "type": "object",
      "description": "Represents a geographic region that you can use as a target with both the `RegionalInventory` and `ShippingSettings` services. You can define regions as collections of either postal codes, radius areas or, in some countries, using predefined geotargets. A region must be defined by specifying exactly one of `postal_code_area`, `geotarget_area`, or `radius_area`. For more information, see [Set up regions ](https://support.google.com/merchants/answer/7410946#zippy=%2Ccreate-a-new-region) for more information.",
      "id": "Region",
      "properties": {
        "geotargetArea": {
          "description": "Optional. A list of geotargets that defines the region area.",
          "$ref": "GeoTargetArea"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the region. Format: `accounts/{account}/regions/{region}`"
        },
        "postalCodeArea": {
          "description": "Optional. A list of postal codes that defines the region area.",
          "$ref": "PostalCodeArea"
        },
        "regionalInventoryEligible": {
          "description": "Output only. Indicates if the region is eligible for use in the Regional Inventory configuration.",
          "type": "boolean",
          "readOnly": true
        },
        "shippingEligible": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates if the region is eligible for use in the Shipping Services configuration."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the region."
        },
        "radiusArea": {
          "description": "Optional. A radius area that defines the region area.",
          "$ref": "RadiusArea"
        }
      }
    },
    "ItemUpdatesAccountLevelSettings": {
      "description": "Settings for the Automatic Item Updates.",
      "type": "object",
      "id": "ItemUpdatesAccountLevelSettings",
      "properties": {
        "allowPriceUpdates": {
          "type": "boolean",
          "description": "If price updates are enabled, Google always updates the active price with the crawled information."
        },
        "allowAvailabilityUpdates": {
          "type": "boolean",
          "description": "If availability updates are enabled, any previous availability values get overwritten if Google finds an out-of-stock annotation on the offer's page. If additionally `allow_strict_availability_updates` field is set to true, values get overwritten if Google finds an in-stock annotation on the offer’s page."
        },
        "allowStrictAvailabilityUpdates": {
          "type": "boolean",
          "description": "If `allow_availability_updates` is enabled, items are automatically updated in all your Shopping target countries. By default, availability updates will only be applied to items that are 'out of stock' on your website but 'in stock' on Shopping. Set this to true to also update items that are 'in stock' on your website, but 'out of stock' on Google Shopping. In order for this field to have an effect, you must also set `allow_availability_updates`."
        },
        "allowConditionUpdates": {
          "type": "boolean",
          "description": "If condition updates are enabled, Google always updates item condition with the condition detected from the details of your product."
        }
      }
    },
    "PostalCodeArea": {
      "type": "object",
      "description": "A list of postal codes that defines the region area. Note: All regions defined using postal codes are accessible through the account's `ShippingSettings.postalCodeGroups` resource.",
      "id": "PostalCodeArea",
      "properties": {
        "postalCodes": {
          "type": "array",
          "items": {
            "$ref": "PostalCodeRange"
          },
          "description": "Required. A range of postal codes."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) or the country the postal code group applies to."
        }
      }
    },
    "LoyaltyProgramTiers": {
      "type": "object",
      "description": "Subset of a business's loyalty program.",
      "id": "LoyaltyProgramTiers",
      "properties": {
        "tierLabel": {
          "type": "string",
          "description": "The tier label [tier_label] sub-attribute differentiates offer level benefits between each tier. This value is also set in your program settings in Merchant Center, and is required for data source changes even if your loyalty program only has 1 tier."
        }
      }
    },
    "Required": {
      "id": "Required",
      "properties": {
        "termsOfService": {
          "type": "string",
          "description": "Required. The `TermsOfService` that need to be accepted."
        },
        "tosFileUri": {
          "type": "string",
          "description": "Required. Full URL to the terms of service file. This field is the same as `TermsOfService.file_uri`, it is added here for convenience only."
        }
      },
      "description": "Describes the terms of service which are required to be accepted.",
      "type": "object"
    },
    "About": {
      "id": "About",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The about page URI."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the URI.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ]
        }
      },
      "type": "object",
      "description": "Collection of information related to the about page ([impressum](https://support.google.com/merchants/answer/14675634?ref_topic=15145634&sjid=6892280366904591178-NC))."
    },
    "StoreCodeSetWithMov": {
      "type": "object",
      "description": "A list of store code sets sharing the same minimum order value. At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency.",
      "id": "StoreCodeSetWithMov",
      "properties": {
        "storeCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of unique store codes or empty for the catch all."
        },
        "value": {
          "description": "The minimum order value for the given stores.",
          "$ref": "Price"
        }
      }
    },
    "CutoffTime": {
      "id": "CutoffTime",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Required. [Timezone identifier](https://developers.google.com/adwords/api/docs/appendix/codes-formats#timezone-ids) For example \"Europe/Zurich\"."
        },
        "minute": {
          "type": "integer",
          "description": "Required. Minute of the cutoff time until which an order has to be placed to be processed in the same day.",
          "format": "int32"
        },
        "hour": {
          "description": "Required. Hour of the cutoff time until which an order has to be placed to be processed in the same day.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Business days cutoff time definition.",
      "type": "object"
    },
    "LocationIdSet": {
      "description": "A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set.",
      "type": "object",
      "id": "LocationIdSet",
      "properties": {
        "locationIds": {
          "description": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (For example, state).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EmailPreferences": {
      "type": "object",
      "description": "The categories of notifications the user opted into / opted out of. The email preferences do not include mandatory announcements as users can't opt out of them.",
      "id": "EmailPreferences",
      "properties": {
        "name": {
          "description": "Identifier. The name of the EmailPreferences. The endpoint is only supported for the authenticated user.",
          "type": "string"
        },
        "newsAndTips": {
          "description": "Optional. Updates on new features, tips and best practices.",
          "enumDescriptions": [
            "Opt-in status is not specified.",
            "User has opted out of receiving this type of email.",
            "User has opted in to receiving this type of email.",
            "User has opted in to receiving this type of email and the confirmation email has been sent, but user has not yet confirmed the opt in (applies only to certain countries)."
          ],
          "type": "string",
          "enum": [
            "OPT_IN_STATE_UNSPECIFIED",
            "OPTED_OUT",
            "OPTED_IN",
            "UNCONFIRMED"
          ]
        }
      }
    },
    "FindLfpProvidersResponse": {
      "id": "FindLfpProvidersResponse",
      "properties": {
        "lfpProviders": {
          "description": "The LFP providers from the specified merchant in the specified country.",
          "type": "array",
          "items": {
            "$ref": "LfpProvider"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the FindLfpProviders method."
    },
    "BatchCreateRegionsRequest": {
      "id": "BatchCreateRegionsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreateRegionRequest"
          },
          "description": "Required. The region(s) to create. The maximum number of regions that can be created in a batch is 100."
        }
      },
      "description": "Request message for the `BatchCreateRegions` method.",
      "type": "object"
    },
    "UpdateRegionRequest": {
      "description": "Request message for the `UpdateRegion` method.",
      "type": "object",
      "id": "UpdateRegionRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Optional. The comma-separated field mask indicating the fields to update. Example: `\"displayName,postalCodeArea.regionCode\"`.",
          "format": "google-fieldmask"
        },
        "region": {
          "description": "Required. The updated region.",
          "$ref": "Region"
        }
      }
    },
    "GetAccountForGcpRegistrationResponse": {
      "id": "GetAccountForGcpRegistrationResponse",
      "properties": {
        "name": {
          "description": "The name of the merchant account id that the GCP is registered with.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the GetAccountForGcpRegistration method."
    },
    "RateGroup": {
      "type": "object",
      "description": "Shipping rate group definitions. Only the last one is allowed to have an empty `applicable_shipping_labels`, which means \"everything else\". The other `applicable_shipping_labels` must not overlap.",
      "id": "RateGroup",
      "properties": {
        "applicableShippingLabels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of [shipping labels](https://support.google.com/merchants/answer/6324504) defining the products to which this rate group applies to. This is a disjunction: only one of the labels has to match for the rate group to apply. May only be empty for the last rate group of a service."
        },
        "carrierRates": {
          "description": "Optional. A list of carrier rates that can be referred to by `main_table` or `single_value`.",
          "type": "array",
          "items": {
            "$ref": "CarrierRate"
          }
        },
        "name": {
          "description": "Optional. Name of the rate group. If set has to be unique within shipping service.",
          "type": "string"
        },
        "subtables": {
          "type": "array",
          "items": {
            "$ref": "Table"
          },
          "description": "Optional. A list of subtables referred to by `main_table`. Can only be set if `main_table` is set."
        },
        "mainTable": {
          "description": "A table defining the rate group, when `single_value` is not expressive enough. Can only be set if `single_value` is not set.",
          "$ref": "Table"
        },
        "singleValue": {
          "description": "The value of the rate group (For example flat rate $10). Can only be set if `main_table` and `subtables` are not set.",
          "$ref": "Value"
        }
      }
    },
    "AccountManagement": {
      "description": "`AccountManagement` payload.",
      "type": "object",
      "id": "AccountManagement",
      "properties": {}
    },
    "VerifySelfRequest": {
      "description": "Request message for the `VerifySelf` method.",
      "type": "object",
      "id": "VerifySelfRequest",
      "properties": {}
    },
    "ReturnShippingFee": {
      "description": "The return shipping fee. This can either be a fixed fee or a boolean to indicate that the customer pays the actual shipping cost.",
      "type": "object",
      "id": "ReturnShippingFee",
      "properties": {
        "type": {
          "description": "Required. Type of return shipping fee.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The return shipping fee is a fixed value.",
            "Customers will pay the actual return shipping fee."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED",
            "CUSTOMER_PAYING_ACTUAL_FEE"
          ]
        },
        "fixedFee": {
          "description": "Fixed return shipping fee amount. This value is only applicable when type is `FIXED`. We will treat the return shipping fee as free if type is `FIXED` and this value is not set.",
          "$ref": "Price"
        }
      }
    },
    "ComparisonShopping": {
      "type": "object",
      "description": "`ComparisonShopping` payload.",
      "id": "ComparisonShopping",
      "properties": {}
    },
    "Service": {
      "id": "Service",
      "properties": {
        "minimumOrderValueTable": {
          "description": "Optional. Table of per store minimum order values for the pickup fulfillment type. Cannot be set together with `minimum_order_value`.",
          "$ref": "MinimumOrderValueTable"
        },
        "loyaltyPrograms": {
          "type": "array",
          "items": {
            "$ref": "LoyaltyProgram"
          },
          "description": "Optional. Loyalty programs that this shipping service is limited to."
        },
        "rateGroups": {
          "description": "Optional. Shipping rate group definitions. Only the last one is allowed to have an empty `applicable_shipping_labels`, which means \"everything else\". The other `applicable_shipping_labels` must not overlap.",
          "type": "array",
          "items": {
            "$ref": "RateGroup"
          }
        },
        "deliveryTime": {
          "description": "Required. Time spent in various aspects from order to the delivery of the product.",
          "$ref": "DeliveryTime"
        },
        "storeConfig": {
          "description": "A list of stores your products are delivered from. This is only valid for the local delivery shipment type.",
          "$ref": "StoreConfig"
        },
        "deliveryCountries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The CLDR territory code of the countries to which the service applies."
        },
        "currencyCode": {
          "description": "Required. The CLDR code of the currency to which this service applies. Must match that of the prices in rate groups.",
          "type": "string"
        },
        "serviceName": {
          "type": "string",
          "description": "Required. Free-form name of the service. Must be unique within target account."
        },
        "active": {
          "type": "boolean",
          "description": "Required. A boolean exposing the active status of the shipping service."
        },
        "shipmentType": {
          "type": "string",
          "description": "Optional. Type of locations this service ships orders to.",
          "enumDescriptions": [
            "This service did not specify shipment type.",
            "This service ships orders to an address chosen by the customer.",
            "This service ships orders to an address chosen by the customer. The order is shipped from a local store near by.",
            "This service ships orders to an address chosen by the customer. The order is shipped from a collection point."
          ],
          "enum": [
            "SHIPMENT_TYPE_UNSPECIFIED",
            "DELIVERY",
            "LOCAL_DELIVERY",
            "COLLECTION_POINT"
          ]
        },
        "minimumOrderValue": {
          "description": "Optional. Minimum order value for this service. If set, indicates that customers will have to spend at least this amount. All prices within a service must have the same currency. Cannot be set together with `minimum_order_value_table`.",
          "$ref": "Price"
        }
      },
      "type": "object",
      "description": "Shipping service."
    },
    "TransitTimeRow": {
      "id": "TransitTimeRow",
      "properties": {
        "values": {
          "description": "Required. Transit time range (min-max) in business days.",
          "type": "array",
          "items": {
            "$ref": "TransitTimeValue"
          }
        }
      },
      "description": "If there's only one dimension set of `postal_code_group_names` or `transit_time_labels`, there are multiple rows each with one value for that dimension. If there are two dimensions, each row corresponds to a `postal_code_group_names`, and columns (values) to a `transit_time_labels`.",
      "type": "object"
    },
    "ProductsManagement": {
      "id": "ProductsManagement",
      "properties": {},
      "type": "object",
      "description": "`ProductsManagement` payload."
    },
    "LfpLink": {
      "description": "Collection of information related to the LFP link.",
      "type": "object",
      "id": "LfpLink",
      "properties": {
        "lfpProvider": {
          "type": "string",
          "description": "Required. The resource name of the LFP provider. Format: `lfpProviders/{lfp_provider}`"
        },
        "state": {
          "description": "Output only. The state of the LFP link.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "type": "string"
        },
        "externalAccountId": {
          "description": "Required. The account ID by which this merchant is known to the LFP provider.",
          "type": "string"
        }
      }
    },
    "SetAliasForRelationship": {
      "description": "Set an alias for a relationship between a provider and the account to be created.",
      "type": "object",
      "id": "SetAliasForRelationship",
      "properties": {
        "provider": {
          "description": "Required. The provider of the service. This is a reference to an account such as `providers/123` or `accounts/123`. The same provider must be specified in at least one of the `service` fields.",
          "type": "string"
        },
        "accountIdAlias": {
          "description": "Required. The unique ID of this account in the provider's system. The value must be unique across all accounts on the platform for this provider.",
          "type": "string"
        }
      }
    },
    "CarrierRate": {
      "id": "CarrierRate",
      "properties": {
        "carrier": {
          "description": "Required. Carrier service, such as `\"UPS\"` or `\"Fedex\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the carrier rate. Must be unique per rate group."
        },
        "carrierService": {
          "description": "Required. Carrier service, such as `\"ground\"` or `\"2 days\"`.",
          "type": "string"
        },
        "originPostalCode": {
          "type": "string",
          "description": "Required. Shipping origin for this carrier rate."
        },
        "percentageAdjustment": {
          "type": "string",
          "description": "Optional. Multiplicative shipping rate modifier as a number in decimal notation. Can be negative. For example `\"5.4\"` increases the rate by 5.4%, `\"-3\"` decreases the rate by 3%."
        },
        "flatAdjustment": {
          "description": "Optional. Additive shipping rate modifier. Can be negative. For example `{ \"amount_micros\": 1, \"currency_code\" : \"USD\" }` adds $1 to the rate, `{ \"amount_micros\": -3, \"currency_code\" : \"USD\" }` removes $3 from the rate.",
          "$ref": "Price"
        }
      },
      "type": "object",
      "description": "A list of carrier rates that can be referred to by `main_table` or `single_value`. Supported carrier services are defined in https://support.google.com/merchants/answer/12577710?ref_topic=12570808&sjid=10662598224319463032-NC#zippy=%2Cdelivery-cost-rate-type%2Ccarrier-rate-au-de-uk-and-us-only."
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "AutofeedSettings": {
      "type": "object",
      "description": "Collection of information related to the [autofeed](https://support.google.com/merchants/answer/7538732) settings.",
      "id": "AutofeedSettings",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`.",
          "type": "string"
        },
        "enableProducts": {
          "description": "Required. Enables or disables product crawling through the autofeed for the given account. Autofeed accounts must meet [certain conditions](https://support.google.com/merchants/answer/7538732#Configure_automated_feeds_Standard_Experience), which can be checked through the `eligible` field. The account must **not** be a marketplace. When the autofeed is enabled for the first time, the products usually appear instantly. When re-enabling, it might take up to 24 hours for products to appear.",
          "type": "boolean"
        },
        "eligible": {
          "type": "boolean",
          "description": "Output only. Determines whether the business is eligible for being enrolled into an autofeed.",
          "readOnly": true
        }
      }
    },
    "TermsOfServiceAgreementState": {
      "type": "object",
      "description": "This resource represents the agreement state for a given account and terms of service kind. The state is as follows: * If the business has accepted a terms of service, `accepted` will be populated, otherwise it will be empty * If the business must sign a terms of service, `required` will be populated, otherwise it will be empty. Note that both `required` and `accepted` can be present. In this case the `accepted` terms of services will have an expiration date set in the `valid_until` field. The `required` terms of services need to be accepted before `valid_until` in order for the account to continue having a valid agreement. When accepting new terms of services we expect third-party providers to display the text associated with the given terms of service agreement (the url to the file containing the text is added in the Required message below as `tos_file_uri`). The actual acceptance of the terms of service is done by calling accept on the `TermsOfService` resource. `valid_until` field.",
      "id": "TermsOfServiceAgreementState",
      "properties": {
        "accepted": {
          "description": "Optional. The accepted terms of service of this kind and for the associated region_code",
          "$ref": "Accepted"
        },
        "regionCode": {
          "description": "Required. Region code as defined by https://cldr.unicode.org/. This is the country the current state applies to.",
          "type": "string"
        },
        "termsOfServiceKind": {
          "enum": [
            "TERMS_OF_SERVICE_KIND_UNSPECIFIED",
            "MERCHANT_CENTER"
          ],
          "type": "string",
          "description": "Required. Terms of Service kind associated with the particular version.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Terms of service for the Merchant Center application."
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the terms of service version. Format: `accounts/{account}/termsOfServiceAgreementState/{identifier}` The identifier format is: `{TermsOfServiceKind}-{country}` For example, an identifier could be: `MERCHANT_CENTER-EU` or `MERCHANT_CENTER-US`.",
          "type": "string"
        },
        "required": {
          "description": "Optional. The required terms of service",
          "$ref": "Required"
        }
      }
    },
    "UriSettings": {
      "type": "object",
      "description": "URL settings for cart or checkout URL.",
      "id": "UriSettings",
      "properties": {
        "checkoutUriTemplate": {
          "type": "string",
          "description": "Checkout URL template. When the placeholders are expanded will redirect the buyer to the merchant checkout page with the item in the cart. For more details, check the [help center doc](https://support.google.com/merchants/answer/13945960#method1&zippy=%2Cproduct-level-url-formatting%2Caccount-level-url-formatting)"
        },
        "cartUriTemplate": {
          "description": "Cart URL template. When the placeholders are expanded will redirect the buyer to the cart page on the merchant website with the selected item in cart. For more details, check the [help center doc](https://support.google.com/merchants/answer/13945960#method1&zippy=%2Cproduct-level-url-formatting%2Caccount-level-url-formatting)",
          "type": "string"
        }
      }
    },
    "ImageImprovementsAccountLevelSettings": {
      "id": "ImageImprovementsAccountLevelSettings",
      "properties": {
        "allowAutomaticImageImprovements": {
          "type": "boolean",
          "description": "Enables automatic image improvements."
        }
      },
      "description": "Settings for the Automatic Image Improvements.",
      "type": "object"
    },
    "Account": {
      "id": "Account",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the account. Format: `accounts/{account}`"
        },
        "testAccount": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this is a test account."
        },
        "accountName": {
          "type": "string",
          "description": "Required. A human-readable name of the account. Don't use punctuation, capitalization, or non-alphanumeric symbols such as the \"/\" or \"_\" symbols. See [Adding a business name](https://support.google.com/merchants/answer/12159159) for more information."
        },
        "languageCode": {
          "type": "string",
          "description": "Required. The account's [BCP-47 language code](https://tools.ietf.org/html/bcp47), such as `en-US` or `sr-Latn`."
        },
        "timeZone": {
          "description": "Required. The time zone of the account. On writes, `time_zone` sets both the `reporting_time_zone` and the `display_time_zone`. For reads, `time_zone` always returns the `display_time_zone`. If `display_time_zone` doesn't exist for your account, `time_zone` is empty. The `version` field is not supported, won't be set in responses and will be silently ignored if specified in requests.",
          "$ref": "TimeZone"
        },
        "adultContent": {
          "type": "boolean",
          "description": "Optional. Whether this account contains adult content."
        },
        "accountId": {
          "readOnly": true,
          "description": "Output only. The ID of the account.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The `Account` message represents a business's account within Merchant Center. It's the primary entity for managing product data, settings, and interactions with Google's services and external providers. Accounts can operate as standalone entities or be part of a advanced account structure. In an advanced account setup the parent account manages multiple sub-accounts. Establishing an account involves configuring attributes like the account name, time zone, and language preferences. The `Account` message is the parent entity for many other resources, for example, `AccountRelationship`, `Homepage`, `BusinessInfo` and so on."
    },
    "ListOnlineReturnPoliciesResponse": {
      "id": "ListOnlineReturnPoliciesResponse",
      "properties": {
        "onlineReturnPolicies": {
          "description": "The retrieved return policies.",
          "type": "array",
          "items": {
            "$ref": "OnlineReturnPolicy"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the `ListOnlineReturnPolicies` method."
    },
    "BatchDeleteRegionsRequest": {
      "id": "BatchDeleteRegionsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "DeleteRegionRequest"
          },
          "description": "Required. The names of the regions to delete. A maximum of 100 regions can be deleted in a batch."
        }
      },
      "description": "Request message for the `BatchDeleteRegions` method.",
      "type": "object"
    },
    "AccountRelationship": {
      "type": "object",
      "description": "The `AccountRelationship` message defines a formal connection between a merchant's account and a service provider's account. This relationship enables the provider to offer specific services to the business, such as product management or campaign management. It specifies the access rights and permissions to the business's data relevant to those services. Establishing an account relationship involves linking the merchant's account with a provider's account. The provider could be another Google account (like Google Ads or Google My Business) or a third-party platform (such as Shopify or WooCommerce).",
      "id": "AccountRelationship",
      "properties": {
        "providerDisplayName": {
          "type": "string",
          "description": "Output only. The human-readable display name of the provider account.",
          "readOnly": true
        },
        "accountIdAlias": {
          "description": "Optional. An optional alias you can assign to this account relationship. This alias acts as a convenient identifier for your own reference and management. It must be unique among all your account relationships with the same provider. For example, you might use `account_id_alias` to assign a friendly name to this relationship for easier identification in your systems.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the account relationship. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
          "type": "string"
        },
        "provider": {
          "description": "Immutable. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "type": "string"
        }
      }
    },
    "CreateAndConfigureAccountRequest": {
      "type": "object",
      "description": "Request message for the `CreateAndConfigureAccount` method.",
      "id": "CreateAndConfigureAccountRequest",
      "properties": {
        "setAlias": {
          "type": "array",
          "items": {
            "$ref": "SetAliasForRelationship"
          },
          "description": "Optional. If a relationship is created with a provider, you can set an alias for it with this field. The calling user must be an admin on the provider to be able to set an alias."
        },
        "account": {
          "description": "Required. The account to be created.",
          "$ref": "Account"
        },
        "user": {
          "description": "Optional. Users to be added to the account.",
          "type": "array",
          "items": {
            "$ref": "AddUser"
          }
        },
        "service": {
          "type": "array",
          "items": {
            "$ref": "AddAccountService"
          },
          "description": "Required. An account service between the account to be created and the provider account is initialized as part of the creation. At least one such service needs to be provided. Currently exactly one of these needs to be `account_aggregation` and `accounts.createAndConfigure` method can be used to create a sub-account under an existing advanced account through this method. Additional `account_management` or `products_management` services may be provided."
        }
      }
    },
    "Table": {
      "description": "A table defining the rate group, when `single_value` is not expressive enough.",
      "type": "object",
      "id": "Table",
      "properties": {
        "columnHeaders": {
          "description": "Headers of the table's columns. Optional: if not set then the table has only one dimension.",
          "$ref": "Headers"
        },
        "rowHeaders": {
          "description": "Required. Headers of the table's rows.",
          "$ref": "Headers"
        },
        "rows": {
          "description": "Required. The list of rows that constitute the table. Must have the same length as `row_headers`.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        },
        "name": {
          "description": "Name of the table. Required for subtables, ignored for the main table.",
          "type": "string"
        }
      }
    },
    "UnregisterGcpRequest": {
      "description": "Request message for the UnregisterGCP method.",
      "type": "object",
      "id": "UnregisterGcpRequest",
      "properties": {}
    },
    "ListSubAccountsResponse": {
      "description": "Response message for the `ListSubAccounts` method.",
      "type": "object",
      "id": "ListSubAccountsResponse",
      "properties": {
        "accounts": {
          "description": "The accounts for which the given parent account is an aggregator.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ClaimHomepageRequest": {
      "description": "Request message for the `ClaimHomepage` method.",
      "type": "object",
      "id": "ClaimHomepageRequest",
      "properties": {
        "overwrite": {
          "type": "boolean",
          "description": "Optional. When set to `true`, this option removes any existing claim on the requested website from any other account to the account making the request, effectively replacing the previous claim."
        }
      }
    },
    "InStock": {
      "description": "Collection of information related to InStock.",
      "type": "object",
      "id": "InStock",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. Product landing page URI. It is only used for the review of MHLSF in-stock serving. This URI domain should match with the business's homepage. Required to be empty if the lsf_type is GHLSF, and required when the lsf_type is MHLSF_FULL or MHLSF_BASIC."
        },
        "state": {
          "description": "Output only. The state of the in-stock serving.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "readOnly": true
        }
      }
    },
    "User": {
      "id": "User",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user. Format: `accounts/{account}/user/{email}` Use `me` to refer to your own email address, for example `accounts/{account}/users/me`."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "VERIFIED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the user.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The user is pending confirmation. In this state, the user first needs to accept the invitation before performing other actions.",
            "The user is verified."
          ]
        },
        "accessRights": {
          "type": "array",
          "items": {
            "enum": [
              "ACCESS_RIGHT_UNSPECIFIED",
              "STANDARD",
              "READ_ONLY",
              "ADMIN",
              "PERFORMANCE_REPORTING",
              "API_DEVELOPER"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Standard access rights.",
              "Has access to the same read-only methods as STANDARD, but no access to any mutating methods.",
              "Admin access rights.",
              "Users with this right have access to performance and insights.",
              "Users with this right have access to Merchant API and its notifications. This role is only accessible to accounts that have a developer registration."
            ],
            "type": "string"
          },
          "description": "Required. The [access rights](https://support.google.com/merchants/answer/12160472?sjid=6789834943175119429-EU#accesstypes) the user has."
        }
      },
      "description": "The `User` resource represents a user associated with a Merchant Center account. It is used to manage user permissions and access rights within the account. For more information, see [Frequently asked questions about people and access levels](//support.google.com/merchants/answer/12160472).",
      "type": "object"
    },
    "PostalCodeRange": {
      "id": "PostalCodeRange",
      "properties": {
        "begin": {
          "type": "string",
          "description": "Required. A postal code or a pattern of the form prefix* denoting the inclusive lower bound of the range defining the area. Examples values: `94108`, `9410*`, `9*`."
        },
        "end": {
          "type": "string",
          "description": "Optional. A postal code or a pattern of the form `prefix*` denoting the inclusive upper bound of the range defining the area. It must have the same length as postalCodeRangeBegin: if postalCodeRangeBegin is a postal code then postalCodeRangeEnd must be a postal code too; if postalCodeRangeBegin is a pattern then postalCodeRangeEnd must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching postalCodeRangeBegin."
        }
      },
      "description": "A range of postal codes that defines the region area.",
      "type": "object"
    },
    "PhoneNumber": {
      "type": "object",
      "description": "An object representing a phone number, suitable as an API wire format. This representation: - should not be used for locale-specific formatting of a phone number, such as \"+1 (650) 253-0000 ext. 123\" - is not designed for efficient storage - may not be suitable for dialing - specialized libraries (see references) should be used to parse the number for that purpose To do something meaningful with this number, such as format it for various use-cases, convert it to an `i18n.phonenumbers.PhoneNumber` object first. For instance, in Java this would be: com.google.type.PhoneNumber wireProto = com.google.type.PhoneNumber.newBuilder().build(); com.google.i18n.phonenumbers.Phonenumber.PhoneNumber phoneNumber = PhoneNumberUtil.getInstance().parse(wireProto.getE164Number(), \"ZZ\"); if (!wireProto.getExtension().isEmpty()) { phoneNumber.setExtension(wireProto.getExtension()); } Reference(s): - https://github.com/google/libphonenumber",
      "id": "PhoneNumber",
      "properties": {
        "e164Number": {
          "description": "The phone number, represented as a leading plus sign ('+'), followed by a phone number that uses a relaxed ITU E.164 format consisting of the country calling code (1 to 3 digits) and the subscriber number, with no additional spaces or formatting. For example: - correct: \"+15552220123\" - incorrect: \"+1 (555) 222-01234 x123\" The ITU E.164 format limits the latter to 12 digits, but in practice not all countries respect that, so we relax that restriction here. National-only numbers are not allowed. References: - https://www.itu.int/rec/T-REC-E.164-201011-I - https://en.wikipedia.org/wiki/E.164. - https://en.wikipedia.org/wiki/List_of_country_calling_codes",
          "type": "string"
        },
        "extension": {
          "description": "The phone number's extension. The extension is not standardized in ITU recommendations, except for being defined as a series of numbers with a maximum length of 40 digits. Other than digits, some other dialing characters such as ',' (indicating a wait) or '#' may be stored here. Note that no regions currently use extensions with short codes, so this field is normally only set in conjunction with an E.164 number. It is held separately from the E.164 number to allow for short code extensions in the future.",
          "type": "string"
        },
        "shortCode": {
          "description": "A short code. Reference(s): - https://wikipedia.org/wiki/Short_code",
          "$ref": "ShortCode"
        }
      }
    },
    "CutoffConfig": {
      "id": "CutoffConfig",
      "properties": {
        "localCutoffTime": {
          "description": "Time that local delivery ends for the day.",
          "$ref": "LocalCutoffTime"
        },
        "storeCloseOffsetHours": {
          "description": "Only valid with local delivery fulfillment. Represents cutoff time as the number of hours before store closing. Mutually exclusive with `local_cutoff_time`.",
          "format": "int64",
          "type": "string"
        },
        "noDeliveryPostCutoff": {
          "description": "Businesses can opt-out of showing n+1 day local delivery when they have a shipping service configured to n day local delivery. For example, if the shipping service defines same-day delivery, and it's past the cut-off, setting this field to `true` results in the calculated shipping service rate returning `NO_DELIVERY_POST_CUTOFF`. In the same example, setting this field to `false` results in the calculated shipping time being one day. This is only for local delivery.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Configs related to local delivery ends for the day."
    },
    "BatchCreateRegionsResponse": {
      "type": "object",
      "description": "Response message for the `BatchCreateRegions` method.",
      "id": "BatchCreateRegionsResponse",
      "properties": {
        "regions": {
          "type": "array",
          "items": {
            "$ref": "Region"
          },
          "description": "The created region(s)."
        }
      }
    },
    "Value": {
      "id": "Value",
      "properties": {
        "pricePercentage": {
          "description": "A percentage of the price represented as a number in decimal notation (For example, `\"5.4\"`). Can only be set if all other fields are not set.",
          "type": "string"
        },
        "carrierRate": {
          "description": "The name of a carrier rate referring to a carrier rate defined in the same rate group. Can only be set if all other fields are not set.",
          "type": "string"
        },
        "subtable": {
          "type": "string",
          "description": "The name of a subtable. Can only be set in table cells (For example, not for single values), and only if all other fields are not set."
        },
        "flatRate": {
          "description": "A flat rate. Can only be set if all other fields are not set.",
          "$ref": "Price"
        },
        "noShipping": {
          "description": "If true, then the product can't be shipped. Must be true when set, can only be set if all other fields are not set.",
          "type": "boolean"
        }
      },
      "description": "The single value of a rate group or the value of a rate group table's cell. Exactly one of `no_shipping`, `flat_rate`, `price_percentage`, `carrier_rateName`, `subtable_name` must be set.",
      "type": "object"
    },
    "ProductChange": {
      "id": "ProductChange",
      "properties": {
        "newValue": {
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format."
        },
        "reportingContext": {
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "type": "string",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "oldValue": {
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context."
    },
    "LinkLfpProviderRequest": {
      "type": "object",
      "description": "Request message for the LinkLfpProvider method.",
      "id": "LinkLfpProviderRequest",
      "properties": {
        "externalAccountId": {
          "description": "Required. The external account ID by which this merchant is known to the LFP provider.",
          "type": "string"
        }
      }
    },
    "Pickup": {
      "id": "Pickup",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. Pickup product page URI. It is only used for the review of pickup serving. This URI domain should match with the business's homepage."
        },
        "state": {
          "description": "Output only. The state of the pickup serving.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "readOnly": true
        }
      },
      "description": "Collection of information related to Pickup.",
      "type": "object"
    },
    "ListAccountIssuesResponse": {
      "id": "ListAccountIssuesResponse",
      "properties": {
        "accountIssues": {
          "description": "The issues from the specified account.",
          "type": "array",
          "items": {
            "$ref": "AccountIssue"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for the `ListAccountIssues` method.",
      "type": "object"
    },
    "DisableProgramRequest": {
      "id": "DisableProgramRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for the DisableProgram method."
    },
    "CreateRegionRequest": {
      "type": "object",
      "description": "Request message for the `CreateRegion` method.",
      "id": "CreateRegionRequest",
      "properties": {
        "regionId": {
          "description": "Required. The identifier for the region, unique over all regions of the same account.",
          "type": "string"
        },
        "region": {
          "description": "Required. The region to create.",
          "$ref": "Region"
        },
        "parent": {
          "type": "string",
          "description": "Required. The account to create a region for. Format: `accounts/{account}`"
        }
      }
    },
    "RequestInventoryVerificationResponse": {
      "id": "RequestInventoryVerificationResponse",
      "properties": {
        "omnichannelSetting": {
          "description": "The omnichannel setting that was updated.",
          "$ref": "OmnichannelSetting"
        }
      },
      "type": "object",
      "description": "Response message for the RequestInventoryVerification method."
    },
    "AutomaticItemUpdates": {
      "id": "AutomaticItemUpdates",
      "properties": {
        "accountItemUpdatesSettings": {
          "description": "Optional. Determines which attributes of the items should be automatically updated. If this field is not present and provided in the update mask, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator.",
          "$ref": "ItemUpdatesAccountLevelSettings"
        },
        "effectiveAllowPriceUpdates": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The effective value of allow_price_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only."
        },
        "effectiveAllowAvailabilityUpdates": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The effective value of allow_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only."
        },
        "effectiveAllowStrictAvailabilityUpdates": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The effective value of allow_strict_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only."
        },
        "effectiveAllowConditionUpdates": {
          "type": "boolean",
          "description": "Output only. The effective value of allow_condition_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "readOnly": true
        }
      },
      "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown.",
      "type": "object"
    },
    "LinkGbpAccountResponse": {
      "id": "LinkGbpAccountResponse",
      "properties": {
        "response": {
          "description": "Empty response.",
          "$ref": "Empty"
        }
      },
      "type": "object",
      "description": "Response message for the LinkGbpAccount method."
    },
    "LatLng": {
      "type": "object",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "id": "LatLng",
      "properties": {
        "longitude": {
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double"
        },
        "latitude": {
          "type": "number",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double"
        }
      }
    },
    "AccountIssue": {
      "id": "AccountIssue",
      "properties": {
        "documentationUri": {
          "type": "string",
          "description": "Link to Merchant Center Help Center providing further information about the issue and how to fix it."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the account issue. Format: `accounts/{account}/issues/{id}`. For example, `accounts/123456/issues/misrepresentation-of-self-or-products-unacceptable-business-practice-policy`."
        },
        "impactedDestinations": {
          "type": "array",
          "items": {
            "$ref": "ImpactedDestination"
          },
          "description": "The impact this issue has on various destinations."
        },
        "detail": {
          "description": "Further localized details about the issue.",
          "type": "string"
        },
        "title": {
          "description": "The localized title of the issue.",
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "ERROR",
            "SUGGESTION"
          ],
          "description": "The overall severity of the issue.",
          "enumDescriptions": [
            "The severity is unknown.",
            "The issue causes offers to not serve.",
            "The issue might affect offers (in the future) or might be an indicator of issues with offers.",
            "The issue is a suggestion for improvement."
          ],
          "type": "string"
        }
      },
      "description": "Issues with your Merchant Center account that can impact all your products. For more information, see [Account-level issues in Merchant Center](https://support.google.com/merchants/answer/12153802?sjid=17798438912526418908-EU#account).",
      "type": "object"
    },
    "BatchUpdateRegionsRequest": {
      "id": "BatchUpdateRegionsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "UpdateRegionRequest"
          },
          "description": "Required. The region(s) to update. The maximum number of regions that can be updated in a batch is 100."
        }
      },
      "description": "Request message for the `BatchUpdateRegions` method.",
      "type": "object"
    },
    "BatchUpdateRegionsResponse": {
      "id": "BatchUpdateRegionsResponse",
      "properties": {
        "regions": {
          "description": "The updated region(s).",
          "type": "array",
          "items": {
            "$ref": "Region"
          }
        }
      },
      "type": "object",
      "description": "Response message for the `BatchUpdateRegions` method."
    },
    "LinkLfpProviderResponse": {
      "type": "object",
      "description": "Response message for the LinkLfpProvider method.",
      "id": "LinkLfpProviderResponse",
      "properties": {
        "response": {
          "description": "Empty response.",
          "$ref": "Empty"
        }
      }
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "id": "TimeZone",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      }
    },
    "AutomaticImprovements": {
      "id": "AutomaticImprovements",
      "properties": {
        "itemUpdates": {
          "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown. This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticItemUpdates"
        },
        "shippingImprovements": {
          "description": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticShippingImprovements"
        },
        "name": {
          "description": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`.",
          "type": "string"
        },
        "imageImprovements": {
          "description": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973) This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticImageImprovements"
        }
      },
      "type": "object",
      "description": "Collection of information related to the [automatic improvements](https://developers.google.com/shopping-content/guides/automatic-improvements) of an account."
    },
    "MinimumOrderValueTable": {
      "type": "object",
      "description": "Table of per store minimum order values for the pickup fulfillment type.",
      "id": "MinimumOrderValueTable",
      "properties": {
        "storeCodeSetWithMovs": {
          "type": "array",
          "items": {
            "$ref": "StoreCodeSetWithMov"
          },
          "description": "Required. A list of store code sets sharing the same minimum order value (MOV). At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency."
        }
      }
    },
    "OmnichannelSetting": {
      "description": "Collection of information related to the omnichannel settings of a merchant.",
      "type": "object",
      "id": "OmnichannelSetting",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the omnichannel setting. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
          "type": "string"
        },
        "lsfType": {
          "enum": [
            "LSF_TYPE_UNSPECIFIED",
            "GHLSF",
            "MHLSF_BASIC",
            "MHLSF_FULL"
          ],
          "description": "Required. The Local Store Front type for this country.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Google-Hosted Local Store Front. Check the [HC article](https://support.google.com/merchants/answer/14869424) for more details.",
            "Merchant-Hosted Local Store Front Basic. Check the [HC article](https://support.google.com/merchants/answer/14615867) for more details.",
            "Merchant-Hosted Local Store Front Full. Check the [HC article](https://support.google.com/merchants/answer/14617076) for more details."
          ],
          "type": "string"
        },
        "inventoryVerification": {
          "description": "Optional. The inventory verification contact and state for this country.",
          "$ref": "InventoryVerification"
        },
        "inStock": {
          "description": "Optional. The InStock URI and state for this country.",
          "$ref": "InStock"
        },
        "regionCode": {
          "description": "Required. Immutable. Region code defined by [CLDR](https://cldr.unicode.org/). Must be provided in the Create method, and is immutable.",
          "type": "string"
        },
        "lfpLink": {
          "readOnly": true,
          "description": "Output only. The established link to a LFP provider.",
          "$ref": "LfpLink"
        },
        "about": {
          "description": "Optional. The about page URI and state for this country.",
          "$ref": "About"
        },
        "odo": {
          "description": "Optional. The On Display to Order (ODO) policy URI and state for this country.",
          "$ref": "OnDisplayToOrder"
        },
        "pickup": {
          "description": "Optional. The Pickup URI and state for this country.",
          "$ref": "Pickup"
        }
      }
    },
    "ImpactedDestination": {
      "id": "ImpactedDestination",
      "properties": {
        "reportingContext": {
          "description": "The impacted reporting context.",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "type": "string"
        },
        "impacts": {
          "type": "array",
          "items": {
            "$ref": "Impact"
          },
          "description": "The (negative) impact for various regions on the given destination."
        }
      },
      "type": "object",
      "description": "The impact of the issue on a destination."
    },
    "LocalCutoffTime": {
      "type": "object",
      "description": "Time that local delivery ends for the day.",
      "id": "LocalCutoffTime",
      "properties": {
        "hour": {
          "type": "string",
          "description": "Hour local delivery orders must be placed by to process the same day.",
          "format": "int64"
        },
        "minute": {
          "description": "Minute local delivery orders must be placed by to process the same day.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "AutomaticShippingImprovements": {
      "type": "object",
      "description": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data",
      "id": "AutomaticShippingImprovements",
      "properties": {
        "allowShippingImprovements": {
          "type": "boolean",
          "description": "Enables automatic shipping improvements."
        }
      }
    },
    "ListOmnichannelSettingsResponse": {
      "type": "object",
      "description": "Response message for the ListOmnichannelSettings method.",
      "id": "ListOmnichannelSettingsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "omnichannelSettings": {
          "type": "array",
          "items": {
            "$ref": "OmnichannelSetting"
          },
          "description": "The omnichannel settings from the specified merchant."
        }
      }
    },
    "CampaignsManagement": {
      "id": "CampaignsManagement",
      "properties": {},
      "description": "`CampaignManagement` payload.",
      "type": "object"
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "The accounts matching the `ListAccountsRequest`."
        }
      },
      "description": "Response message for the `accounts.list` method.",
      "type": "object"
    },
    "BusinessInfo": {
      "id": "BusinessInfo",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the business info. Format: `accounts/{account}/businessInfo`",
          "type": "string"
        },
        "phoneVerificationState": {
          "description": "Output only. The phone verification state of the business.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The phone is verified.",
            "The phone is unverified."
          ],
          "type": "string",
          "enum": [
            "PHONE_VERIFICATION_STATE_UNSPECIFIED",
            "PHONE_VERIFICATION_STATE_VERIFIED",
            "PHONE_VERIFICATION_STATE_UNVERIFIED"
          ],
          "readOnly": true
        },
        "customerService": {
          "description": "Optional. The customer service of the business.",
          "$ref": "CustomerService"
        },
        "koreanBusinessRegistrationNumber": {
          "type": "string",
          "description": "Optional. The 10-digit [Korean business registration number](https://support.google.com/merchants/answer/9037766) separated with dashes in the format: XXX-XX-XXXXX."
        },
        "phone": {
          "readOnly": true,
          "description": "Output only. The phone number of the business.",
          "$ref": "PhoneNumber"
        },
        "address": {
          "description": "Optional. The address of the business. Only `region_code`, `address_lines`, `postal_code`, `administrative_area` and `locality` fields are supported. All other fields are ignored.",
          "$ref": "PostalAddress"
        }
      },
      "type": "object",
      "description": "The `BusinessInfo` message contains essential information about a business. This message captures key business details such as physical address, customer service contacts, and region-specific identifiers."
    },
    "AddAccountService": {
      "id": "AddAccountService",
      "properties": {
        "accountManagement": {
          "description": "The provider manages this account. Payload for service type Account Management.",
          "$ref": "AccountManagement"
        },
        "campaignsManagement": {
          "description": "The provider manages campaigns for this account. Payload for service type campaigns management.",
          "$ref": "CampaignsManagement"
        },
        "externalAccountId": {
          "type": "string",
          "description": "Immutable. An optional, immutable identifier that Google uses to refer to this account when communicating with the provider. This should be the unique account ID within the provider's system (for example, your shop ID in Shopify). If you have multiple accounts with the same provider - for instance, different accounts for various regions — the `external_account_id` differentiates between them, ensuring accurate linking and integration between Google and the provider. The external account ID must be specified for the campaigns management service type. The external account ID must not be specified for the account aggregation service type. The external account ID is optional / may be specified for all other service types."
        },
        "provider": {
          "type": "string",
          "description": "Required. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`)."
        },
        "comparisonShopping": {
[...]
