{
  "ownerDomain": "google.com",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "documentationLink": "https://developers.google.com/merchant/api",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "canonicalName": "Merchant",
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version": "lfp_v1",
  "basePath": "",
  "title": "Merchant API",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "batchPath": "batch",
  "schemas": {
    "LfpStoreState": {
      "description": "The state of a specific merchant's store.",
      "type": "object",
      "id": "LfpStoreState",
      "properties": {
        "storeCode": {
          "type": "string",
          "description": "Required. Immutable. The identifier of this store."
        },
        "matchingState": {
          "type": "string",
          "enum": [
            "STORE_MATCHING_STATE_UNSPECIFIED",
            "STORE_MATCHING_STATE_MATCHED",
            "STORE_MATCHING_STATE_FAILED"
          ],
          "enumDescriptions": [
            "Store matching state unspecified.",
            "The `LfpStore` is successfully matched with a Google Business Profile store.",
            "The `LfpStore` is not matched with a Google Business Profile store."
          ],
          "description": "Output only. The store matching state.",
          "readOnly": true
        },
        "matchingStateHint": {
          "type": "string",
          "description": "The hint of why the matching has failed (only set if matching_state is FAILED)."
        }
      }
    },
    "InventoryStats": {
      "id": "InventoryStats",
      "properties": {
        "submittedInStockEntries": {
          "type": "string",
          "format": "int64",
          "description": "Number of submitted in stock entries."
        },
        "submittedProducts": {
          "type": "string",
          "format": "int64",
          "description": "Number of products from provided inventories/sales that were created from matches to existing online products provided by the merchant or to the Google catalog."
        },
        "submittedEntries": {
          "description": "Number of entries (understanding entry as a pair of product and store) that were built based on provided inventories/sales and submitted to Google.",
          "type": "string",
          "format": "int64"
        },
        "unsubmittedEntries": {
          "description": "Number of entries that were built based on provided inventories/sales and couldn't be submitted to Google due to errors like missing product.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The inventory statistics for a merchant."
    },
    "ProductChange": {
      "id": "ProductChange",
      "properties": {
        "newValue": {
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "oldValue": {
          "type": "string",
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        },
        "regionCode": {
          "type": "string",
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format."
        },
        "reportingContext": {
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        }
      },
      "type": "object",
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context."
    },
    "ProductStatusChangeMessage": {
      "description": "The message that the merchant will receive to notify about product status change event",
      "id": "ProductStatusChangeMessage",
      "properties": {
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        },
        "attribute": {
          "description": "The attribute in the resource that changed, in this case it will be always `Status`.",
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "type": "string"
        },
        "resourceType": {
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT",
            "ACCOUNT_SERVICE"
          ],
          "type": "string",
          "description": "The resource that changed, in this case it will always be `Product`.",
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product",
            "Account service"
          ]
        },
        "changes": {
          "type": "array",
          "description": "A message to describe the change that happened to the product",
          "items": {
            "$ref": "ProductChange"
          }
        },
        "expirationTime": {
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceId": {
          "description": "The product id.",
          "type": "string"
        },
        "managingAccount": {
          "type": "string",
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications."
        },
        "resource": {
          "description": "The product name. Format: `accounts/{account}/products/{product}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LfpSale": {
      "id": "LfpSale",
      "properties": {
        "name": {
          "description": "Output only. Identifier. The name of the `LfpSale` resource. Format: `accounts/{account}/lfpSales/{sale}`",
          "readOnly": true,
          "type": "string"
        },
        "offerId": {
          "type": "string",
          "description": "Required. A unique identifier for the product. If both inventories and sales are submitted for a merchant, this id should match for the same product. **Note**: if the merchant sells the same product new and used, they should have different IDs."
        },
        "price": {
          "description": "Required. The unit price of the product.",
          "$ref": "Price"
        },
        "storeCode": {
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in the Business Profile.",
          "type": "string"
        },
        "saleTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The timestamp for the sale."
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "quantity": {
          "description": "Required. The relative change of the available quantity. Negative for items returned.",
          "format": "int64",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. System generated globally unique ID for the `LfpSale`.",
          "readOnly": true
        },
        "gtin": {
          "type": "string",
          "description": "Required. The Global Trade Item Number of the sold product."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. The [CLDR territory code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml) for the country where the product is sold."
        },
        "feedLabel": {
          "description": "Optional. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the product. If this is not set, it will default to `regionCode`.",
          "type": "string"
        },
        "targetAccount": {
          "format": "int64",
          "type": "string",
          "description": "Required. The Merchant Center ID of the merchant to submit the sale for."
        }
      },
      "type": "object",
      "description": "A sale for the merchant."
    },
    "Price": {
      "description": "The price represented as a number and currency.",
      "id": "Price",
      "properties": {
        "amountMicros": {
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "format": "int64",
          "type": "string"
        },
        "currencyCode": {
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListLfpStoresResponse": {
      "type": "object",
      "id": "ListLfpStoresResponse",
      "properties": {
        "lfpStores": {
          "items": {
            "$ref": "LfpStore"
          },
          "description": "The stores from the specified merchant.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for the ListLfpStores method."
    },
    "LfpInventory": {
      "description": "Local Inventory for the merchant.",
      "id": "LfpInventory",
      "properties": {
        "targetAccount": {
          "format": "int64",
          "type": "string",
          "description": "Required. The Merchant Center ID of the merchant to submit the inventory for."
        },
        "regionCode": {
          "description": "Required. The [CLDR territory code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml) for the country where the product is sold.",
          "type": "string"
        },
        "feedLabel": {
          "type": "string",
          "description": "Optional. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the product. If this is not set, it will default to `regionCode`."
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The name for the `LfpInventory` resource. Format: `accounts/{account}/lfpInventories/{target_merchant}~{store_code}~{offer}`",
          "readOnly": true
        },
        "pickupMethod": {
          "description": "Optional. Supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the [local product inventory data specification](https://support.google.com/merchants/answer/3061342).",
          "type": "string"
        },
        "gtin": {
          "type": "string",
          "description": "Optional. The Global Trade Item Number of the product."
        },
        "availability": {
          "description": "Required. Availability of the product at this store. For accepted attribute values, see the [local product inventory data specification](https://support.google.com/merchants/answer/3061342)",
          "type": "string"
        },
        "quantity": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Quantity of the product available at this store. Must be greater than or equal to zero."
        },
        "collectionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time when the inventory is collected. If not set, it will be set to the time when the inventory is submitted."
        },
        "storeCode": {
          "type": "string",
          "description": "Required. The identifier of the merchant's store. Either the store code inserted through `InsertLfpStore` or the store code in the Business Profile."
        },
        "offerId": {
          "type": "string",
          "description": "Required. Immutable. A unique identifier for the product. If both inventories and sales are submitted for a merchant, this id should match for the same product. **Note**: if the merchant sells the same product new and used, they should have different IDs."
        },
        "price": {
          "description": "Optional. The current price of the product.",
          "$ref": "Price"
        },
        "pickupSla": {
          "type": "string",
          "description": "Optional. Expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the [local product inventory data specification](https://support.google.com/merchants/answer/3061342)."
        }
      },
      "type": "object"
    },
    "CountrySettings": {
      "id": "CountrySettings",
      "properties": {
        "regionCode": {
          "description": "Required. The [CLDR territory code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml) for the country for which these settings are defined.",
          "type": "string"
        },
        "freeLocalListingsEnabled": {
          "type": "boolean",
          "description": "True if this merchant has enabled free local listings in MC."
        },
        "instockServingVerificationState": {
          "enumDescriptions": [
            "Verification state unspecified.",
            "Verification state not approved.",
            "Verification state in progress.",
            "Verification state approved."
          ],
          "description": "Output only. The verification state of this merchant's instock serving feature.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "VERIFICATION_STATE_NOT_APPROVED",
            "VERIFICATION_STATE_IN_PROGRESS",
            "VERIFICATION_STATE_APPROVED"
          ]
        },
        "productPageType": {
          "description": "Output only. The product page type selected by this merchant.",
          "readOnly": true,
          "enumDescriptions": [
            "Product page type unspecified.",
            "Google hosted product page.",
            "Merchant hosted product page.",
            "Merchant hosted store specific product page."
          ],
          "enum": [
            "PRODUCT_PAGE_TYPE_UNSPECIFIED",
            "GOOGLE_HOSTED",
            "MERCHANT_HOSTED",
            "MERCHANT_HOSTED_STORE_SPECIFIC"
          ],
          "type": "string"
        },
        "pickupServingVerificationState": {
          "description": "Output only. The verification state of this merchant's pickup serving feature.",
          "readOnly": true,
          "enumDescriptions": [
            "Verification state unspecified.",
            "Verification state not approved.",
            "Verification state in progress.",
            "Verification state approved."
          ],
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "VERIFICATION_STATE_NOT_APPROVED",
            "VERIFICATION_STATE_IN_PROGRESS",
            "VERIFICATION_STATE_APPROVED"
          ],
          "type": "string"
        },
        "localInventoryAdsEnabled": {
          "description": "True if this merchant has enabled local inventory ads in MC.",
          "type": "boolean"
        },
        "inventoryVerificationState": {
          "description": "Output only. The verification state of this merchant's inventory check.",
          "readOnly": true,
          "enumDescriptions": [
            "Verification state unspecified.",
            "Verification state not approved.",
            "Verification state in progress.",
            "Verification state approved."
          ],
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "VERIFICATION_STATE_NOT_APPROVED",
            "VERIFICATION_STATE_IN_PROGRESS",
            "VERIFICATION_STATE_APPROVED"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Country-specific settings for the merchant."
    },
    "LfpMerchantState": {
      "description": "The LFP state of a merchant.",
      "type": "object",
      "id": "LfpMerchantState",
      "properties": {
        "countrySettings": {
          "description": "Country-specific settings for the merchant.",
          "items": {
            "$ref": "CountrySettings"
          },
          "type": "array"
        },
        "linkedGbps": {
          "description": "Number of [GBPs](https://www.google.com/business/) this merchant has access to.",
          "type": "string",
          "format": "int64"
        },
        "storeStates": {
          "description": "Output only. The state per store from the specified merchant. The field will be absent if the merchant has no stores submitted through LFP.",
          "readOnly": true,
          "items": {
            "$ref": "LfpStoreState"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the `LfpMerchantState` resource. Format: `accounts/{account}/lfpMerchantStates/{target_merchant}`. For example, `accounts/123456/lfpMerchantStates/567890`."
        },
        "inventoryStats": {
          "description": "The inventory statistics for the merchant. The field will be absent if the merchant has no inventory submitted through LFP.",
          "$ref": "InventoryStats"
        }
      }
    },
    "LfpStore": {
      "type": "object",
      "id": "LfpStore",
      "properties": {
        "targetAccount": {
          "format": "int64",
          "type": "string",
          "description": "Required. The Merchant Center id of the merchant to submit the store for."
        },
        "storeAddress": {
          "description": "Required. The street address of the store. Example: 1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA.",
          "type": "string"
        },
        "placeId": {
          "description": "Optional. The [Google Place Id](https://developers.google.com/maps/documentation/places/web-service/place-id#id-overview) of the store location.",
          "type": "string"
        },
        "matchingState": {
          "enum": [
            "STORE_MATCHING_STATE_UNSPECIFIED",
            "STORE_MATCHING_STATE_MATCHED",
            "STORE_MATCHING_STATE_FAILED"
          ],
          "type": "string",
          "description": "Optional. Output only. The state of matching to a Google Business Profile. See matchingStateHint for further details if no match is found.",
          "readOnly": true,
          "enumDescriptions": [
            "Store matching state unspecified.",
            "The `LfpStore` is successfully matched with a Google Business Profile store.",
            "The `LfpStore` is not matched with a Google Business Profile store."
          ]
        },
        "phoneNumber": {
          "description": "Optional. The store phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format. Example: `+15556767888`",
          "type": "string"
        },
        "websiteUri": {
          "description": "Optional. The website URL for the store or merchant.",
          "type": "string"
        },
        "storeName": {
          "type": "string",
          "description": "Optional. The merchant or store name."
        },
        "gcidCategory": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. [Google My Business category id](https://support.google.com/business/answer/7249669)."
        },
        "name": {
          "description": "Output only. Identifier. The name of the `LfpStore` resource. Format: `accounts/{account}/lfpStores/{target_merchant}~{store_code}`",
          "readOnly": true,
          "type": "string"
        },
        "matchingStateHint": {
          "description": "Optional. Output only. The hint of why the matching has failed. This is only set when matchingState=`STORE_MATCHING_STATE_FAILED`. Possible values are: - \"`linked-store-not-found`\": There aren't any Google Business Profile stores available for matching. - \"`store-match-not-found`\": The provided `LfpStore` couldn't be matched to any of the connected Google Business Profile stores. Merchant Center account is connected correctly and stores are available on Google Business Profile, but the `LfpStore` location address does not match with Google Business Profile stores' addresses. Update the `LfpStore` address or Google Business Profile store address to match correctly. - \"`store-match-unverified`\": The provided `LfpStore` couldn't be matched to any of the connected Google Business Profile stores, as the matched Google Business Profile store is unverified. Go through the Google Business Profile verification process to match correctly.",
          "readOnly": true,
          "type": "string"
        },
        "storeCode": {
          "type": "string",
          "description": "Required. Immutable. A store identifier that is unique for the target merchant."
        }
      },
      "description": "A store for the merchant. This will be used to match to a store under the Google Business Profile of the target merchant. If a matching store can't be found, the inventories or sales submitted with the store code will not be used."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    }
  },
  "version_module": true,
  "baseUrl": "https://merchantapi.googleapis.com/",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    }
  },
  "id": "merchantapi:lfp_v1",
  "revision": "20260617",
  "servicePath": "",
  "name": "merchantapi",
  "resources": {
    "accounts": {
      "resources": {
        "lfpInventories": {
          "methods": {
            "insert": {
              "id": "merchantapi.accounts.lfpInventories.insert",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "LfpInventory"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "lfp/v1/accounts/{accountsId}/lfpInventories:insert",
              "request": {
                "$ref": "LfpInventory"
              },
              "description": "Inserts a `LfpInventory` resource for the given target merchant account. If the resource already exists, it will be replaced. The inventory automatically expires after 30 days.",
              "path": "lfp/v1/{+parent}/lfpInventories:insert",
              "parameters": {
                "parent": {
                  "description": "Required. The LFP provider account. Format: `accounts/{account}`",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        },
        "lfpStores": {
          "methods": {
            "get": {
              "path": "lfp/v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the store to retrieve. Format: `accounts/{account}/lfpStores/{target_merchant}~{store_code}`",
                  "required": true,
                  "pattern": "^accounts/[^/]+/lfpStores/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Retrieves information about a store.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "lfp/v1/accounts/{accountsId}/lfpStores/{lfpStoresId}",
              "id": "merchantapi.accounts.lfpStores.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "LfpStore"
              }
            },
            "insert": {
              "path": "lfp/v1/{+parent}/lfpStores:insert",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The LFP provider account Format: `accounts/{account}`",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "LfpStore"
              },
              "description": "Inserts a store for the target merchant. If the store with the same store code already exists, it will be replaced.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "lfp/v1/accounts/{accountsId}/lfpStores:insert",
              "id": "merchantapi.accounts.lfpStores.insert",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "LfpStore"
              }
            },
            "list": {
              "flatPath": "lfp/v1/accounts/{accountsId}/lfpStores",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.lfpStores.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLfpStoresResponse"
              },
              "path": "lfp/v1/{+parent}/lfpStores",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of `LfpStore` resources for the given account to return. The service returns fewer than this value if the number of stores for the given account is less than the `pageSize`. The default value is 250. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "targetAccount": {
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The Merchant Center id of the merchant to list stores for.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListLfpStoresRequest` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListLfpStoresRequest` must match the call that provided the page token. The token returned as nextPageToken in the response to the previous request.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The LFP partner. Format: `accounts/{account}`",
                  "type": "string"
                }
              },
              "description": "Lists the stores of the target merchant, specified by the filter in `ListLfpStoresRequest`."
            },
            "delete": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the store to delete for the target merchant account. Format: `accounts/{account}/lfpStores/{target_merchant}~{store_code}`",
                  "required": true,
                  "pattern": "^accounts/[^/]+/lfpStores/[^/]+$",
                  "location": "path"
                }
              },
              "path": "lfp/v1/{+name}",
              "description": "Deletes a store for a target merchant.",
              "flatPath": "lfp/v1/accounts/{accountsId}/lfpStores/{lfpStoresId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.lfpStores.delete",
              "httpMethod": "DELETE"
            }
          }
        },
        "lfpSales": {
          "methods": {
            "insert": {
              "request": {
                "$ref": "LfpSale"
              },
              "description": "Inserts a `LfpSale` for the given merchant.",
              "path": "lfp/v1/{+parent}/lfpSales:insert",
              "parameters": {
                "parent": {
                  "description": "Required. The LFP provider account. Format: `accounts/{lfp_partner}`",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.lfpSales.insert",
              "httpMethod": "POST",
              "response": {
                "$ref": "LfpSale"
              },
              "flatPath": "lfp/v1/accounts/{accountsId}/lfpSales:insert",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "lfpMerchantStates": {
          "methods": {
            "get": {
              "response": {
                "$ref": "LfpMerchantState"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.lfpMerchantStates.get",
              "httpMethod": "GET",
              "flatPath": "lfp/v1/accounts/{accountsId}/lfpMerchantStates/{lfpMerchantStatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Gets the LFP state of a merchant",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/lfpMerchantStates/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the state to retrieve. Format: `accounts/{account}/lfpMerchantStates/{target_merchant}`. For example, `accounts/123456/lfpMerchantStates/567890`.",
                  "type": "string"
                }
              },
              "path": "lfp/v1/{+name}"
            }
          }
        }
      }
    }
  }
}