{
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "version_module": true,
  "discoveryVersion": "v1",
  "resources": {
    "accounts": {
      "methods": {
        "createTestAccount": {
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. The account resource name to create the test account under. Format: accounts/{account}",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "accounts/v1/accounts/{accountsId}:createTestAccount",
          "id": "merchantapi.accounts.createTestAccount",
          "path": "accounts/v1/{+parent}:createTestAccount",
          "request": {
            "$ref": "Account"
          },
          "description": "Creates a Merchant Center test account. Test accounts are intended for development and testing purposes, such as validating API integrations or new feature behavior. Key characteristics and limitations of test accounts: - Immutable Type: A test account cannot be converted into a regular (live) Merchant Center account. Likewise, a regular account cannot be converted into a test account. - Non-Serving Products: Any products, offers, or data created within a test account will not be published or made visible to end-users on any Google surfaces. They are strictly for testing environments. - Separate Environment: Test accounts operate in a sandbox-like manner, isolated from live serving and real user traffic.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "parent"
          ]
        },
        "patch": {
          "path": "accounts/v1/{+name}",
          "description": "Updates an account regardless of its type: standalone, advanced account or sub-account. Executing this method requires admin access.",
          "request": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Account"
          },
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `account_name` - `adult_content` - `language_code` - `time_zone`",
              "format": "google-fieldmask"
            },
            "name": {
              "required": true,
              "location": "path",
              "description": "Identifier. The resource name of the account. Format: `accounts/{account}`",
              "pattern": "^accounts/[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "merchantapi.accounts.patch",
          "flatPath": "accounts/v1/accounts/{accountsId}"
        },
        "createAndConfigure": {
          "request": {
            "$ref": "CreateAndConfigureAccountRequest"
          },
          "description": "Creates a Merchant Center account with additional configuration. Adds the user that makes the request as an admin for the new account.",
          "path": "accounts/v1/accounts:createAndConfigure",
          "httpMethod": "POST",
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [],
          "flatPath": "accounts/v1/accounts:createAndConfigure",
          "id": "merchantapi.accounts.createAndConfigure",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 250 accounts are returned. The maximum value is 500; values above 500 are coerced to 500.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous `accounts.list` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided in the `accounts.list` request must match the call that provided the page token."
            },
            "filter": {
              "type": "string",
              "description": "Optional. Returns only accounts that match the [filter](https://developers.google.com/merchant/api/guides/accounts/filter). For more details, see the [filter syntax reference](https://developers.google.com/merchant/api/guides/accounts/filter-syntax).",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "merchantapi.accounts.list",
          "flatPath": "accounts/v1/accounts",
          "path": "accounts/v1/accounts",
          "description": "Note: For the `accounts.list` method, quota and limits usage are charged for each user, and not for the Merchant Center ID or the advanced account ID. To list several sub-accounts, you should use the `accounts.listSubaccounts` method, which is more suitable for advanced accounts use case.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "ListAccountsResponse"
          }
        },
        "listSubaccounts": {
          "flatPath": "accounts/v1/accounts/{accountsId}:listSubaccounts",
          "id": "merchantapi.accounts.listSubaccounts",
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 250 accounts are returned. The maximum value is 500; values above 500 are coerced to 500.",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `accounts.list` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided in the `accounts.list` request must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "provider": {
              "location": "path",
              "type": "string",
              "description": "Required. The aggregation service provider. Format: `accounts/{accountId}`",
              "pattern": "^accounts/[^/]+$",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ListSubAccountsResponse"
          },
          "parameterOrder": [
            "provider"
          ],
          "description": "List all sub-accounts for a given advanced account. This is a convenience wrapper for the more powerful `accounts.list` method. This method will produce the same results as calling `ListsAccounts` with the following filter: `relationship(providerId={parent} AND service(type=\"ACCOUNT_AGGREGATION\"))`",
          "path": "accounts/v1/{+provider}:listSubaccounts"
        },
        "delete": {
          "id": "merchantapi.accounts.delete",
          "flatPath": "accounts/v1/accounts/{accountsId}",
          "parameters": {
            "force": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. If set to `true`, the account is deleted even if it provides services to other accounts or has processed offers."
            },
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. The name of the account to delete. Format: `accounts/{account}`",
              "pattern": "^accounts/[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "description": "Deletes the specified account regardless of its type: standalone, advanced account or sub-account. Deleting an advanced account leads to the deletion of all of its sub-accounts. This also deletes the account's [developer registration entity](/merchant/api/reference/rest/accounts_v1/accounts.developerRegistration) and any associated GCP project to the account. Executing this method requires admin access. The deletion succeeds only if the account does not provide services to any other account and has no processed offers. You can use the `force` parameter to override this.",
          "path": "accounts/v1/{+name}"
        },
        "get": {
          "id": "merchantapi.accounts.get",
          "flatPath": "accounts/v1/accounts/{accountsId}",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the account to retrieve. Format: `accounts/{account}`",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Account"
          },
          "description": "Retrieves an account from your Merchant Center account. After inserting, updating, or deleting an account, it may take several minutes before changes take effect.",
          "path": "accounts/v1/{+name}"
        }
      },
      "resources": {
        "emailPreferences": {
          "methods": {
            "getEmailPreferences": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the `EmailPreferences` resource. Format: `accounts/{account}/users/{email}/emailPreferences`",
                  "pattern": "^accounts/[^/]+/users/[^/]+/emailPreferences$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.emailPreferences.getEmailPreferences",
              "flatPath": "accounts/v1/accounts/{accountsId}/users/{usersId}/emailPreferences",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "EmailPreferences"
              },
              "path": "accounts/v1/{+name}",
              "description": "Returns the email preferences for a Merchant Center account user. This service only permits retrieving and updating email preferences for the authenticated user. Use the name=accounts/*/users/me/emailPreferences alias to get preferences for the authenticated user."
            },
            "updateEmailPreferences": {
              "path": "accounts/v1/{+name}",
              "description": "Updates the email preferences for a Merchant Center account user. Advanced account users should specify the advanced account rather than a sub-account of the advanced account. Preferences which are not explicitly selected in the update mask will not be updated. It is invalid for updates to specify an UNCONFIRMED opt-in status value. Use the name=accounts/*/users/me/emailPreferences alias to update preferences for the authenticated user.",
              "request": {
                "$ref": "EmailPreferences"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "EmailPreferences"
              },
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `news_and_tips`",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "description": "Identifier. The name of the EmailPreferences. The endpoint is only supported for the authenticated user.",
                  "pattern": "^accounts/[^/]+/users/[^/]+/emailPreferences$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.emailPreferences.updateEmailPreferences",
              "flatPath": "accounts/v1/accounts/{accountsId}/users/{usersId}/emailPreferences"
            }
          }
        },
        "users": {
          "methods": {
            "list": {
              "description": "Lists all users of a Merchant Center account.",
              "path": "accounts/v1/{+parent}/users",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListUsersResponse"
              },
              "id": "merchantapi.accounts.users.list",
              "flatPath": "accounts/v1/accounts/{accountsId}/users",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of users to return. The service may return fewer than this value. If unspecified, at most 50 users will be returned. The maximum value is 100; values above 100 will be coerced to 100",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUsers` must match the call that provided the page token."
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The parent, which owns this collection of users. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "get": {
              "id": "merchantapi.accounts.users.get",
              "flatPath": "accounts/v1/accounts/{accountsId}/users/{usersId}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the user to retrieve. Format: `accounts/{account}/users/{email}` It is also possible to retrieve the user corresponding to the caller by using `me` rather than an email address as in `accounts/{account}/users/me`.",
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves a Merchant Center account user.",
              "path": "accounts/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "User"
              }
            },
            "create": {
              "path": "accounts/v1/{+parent}/users",
              "request": {
                "$ref": "User"
              },
              "description": "Creates a Merchant Center account user. Executing this method requires admin access.",
              "httpMethod": "POST",
              "response": {
                "$ref": "User"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "userId": {
                  "location": "query",
                  "description": "Required. The email address of the user (for example, `john.doe@gmail.com`).",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the account for which a user will be created. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/users",
              "id": "merchantapi.accounts.users.create"
            },
            "delete": {
              "id": "merchantapi.accounts.users.delete",
              "flatPath": "accounts/v1/accounts/{accountsId}/users/{usersId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the user to delete. Format: `accounts/{account}/users/{email}` It is also possible to delete the user corresponding to the caller by using `me` rather than an email address as in `accounts/{account}/users/me`.",
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a Merchant Center account user. Executing this method requires admin access. The user to be deleted can't be the last admin user of that account.",
              "path": "accounts/v1/{+name}"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "User"
              },
              "path": "accounts/v1/{+name}",
              "description": "Updates a Merchant Center account user. Executing this method requires admin access.",
              "request": {
                "$ref": "User"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `access_rights`",
                  "format": "google-fieldmask"
                },
                "name": {
                  "description": "Identifier. The resource name of the user. Format: `accounts/{account}/user/{email}` Use `me` to refer to your own email address, for example `accounts/{account}/users/me`.",
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.users.patch",
              "flatPath": "accounts/v1/accounts/{accountsId}/users/{usersId}"
            }
          },
          "resources": {
            "me": {
              "methods": {
                "verifySelf": {
                  "parameterOrder": [
                    "account"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "User"
                  },
                  "path": "accounts/v1/{+account}/users/me:verifySelf",
                  "description": "Updates the user that is represented by the caller from pending to verified.",
                  "request": {
                    "$ref": "VerifySelfRequest"
                  },
                  "parameters": {
                    "account": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the account under which the caller is a user. Format: `accounts/{account}`",
                      "pattern": "^accounts/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "id": "merchantapi.accounts.users.me.verifySelf",
                  "flatPath": "accounts/v1/accounts/{accountsId}/users/me:verifySelf"
                }
              }
            }
          }
        },
        "autofeedSettings": {
          "methods": {
            "getAutofeedSettings": {
              "path": "accounts/v1/{+name}",
              "description": "Retrieves the autofeed settings of an account.",
              "httpMethod": "GET",
              "response": {
                "$ref": "AutofeedSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`",
                  "pattern": "^accounts/[^/]+/autofeedSettings$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/autofeedSettings",
              "id": "merchantapi.accounts.autofeedSettings.getAutofeedSettings"
            },
            "updateAutofeedSettings": {
              "path": "accounts/v1/{+name}",
              "request": {
                "$ref": "AutofeedSettings"
              },
              "description": "Updates the autofeed settings of an account.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "AutofeedSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. List of fields being updated.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "description": "Identifier. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`.",
                  "pattern": "^accounts/[^/]+/autofeedSettings$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/autofeedSettings",
              "id": "merchantapi.accounts.autofeedSettings.updateAutofeedSettings"
            }
          }
        },
        "issues": {
          "methods": {
            "list": {
              "description": "Lists all account issues of a Merchant Center account. When called on a multi-client account, this method only returns issues belonging to that account, not its sub-accounts. To retrieve issues for sub-accounts, you must first call the accounts.listSubaccounts method to obtain a list of sub-accounts, and then call `accounts.issues.list` for each sub-account individually.",
              "path": "accounts/v1/{+parent}/issues",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAccountIssuesResponse"
              },
              "id": "merchantapi.accounts.issues.list",
              "flatPath": "accounts/v1/accounts/{accountsId}/issues",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of issues to return. The service may return fewer than this value. If unspecified, at most 50 issues will be returned. The maximum value is 100; values above 100 will be coerced to 100",
                  "format": "int32"
                },
                "timeZone": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in human-readable fields. For example 'America/Los_Angeles'. If not set, 'America/Los_Angeles' will be used."
                },
                "parent": {
                  "required": true,
                  "description": "Required. The parent, which owns this collection of issues. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListAccountIssues` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountIssues` must match the call that provided the page token.",
                  "type": "string"
                },
                "languageCode": {
                  "description": "Optional. The issues in the response will have human-readable fields in the given language. The format is [BCP-47](https://tools.ietf.org/html/bcp47), such as `en-US` or `sr-Latn`. If not value is provided, `en-US` will be used.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "programs": {
          "methods": {
            "get": {
              "id": "merchantapi.accounts.programs.get",
              "flatPath": "accounts/v1/accounts/{accountsId}/programs/{programsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the program to retrieve. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Program"
              },
              "description": "Retrieves the specified program for the account.",
              "path": "accounts/v1/{+name}"
            },
            "list": {
              "path": "accounts/v1/{+parent}/programs",
              "description": "Retrieves all programs for the account.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListProgramsResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A continuation token, received from a previous `ListPrograms` call. Provide this to retrieve the next page.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the account for which to retrieve all programs. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of programs to return in a single response. If unspecified (or 0), a default size of 1000 is used. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.programs.list",
              "flatPath": "accounts/v1/accounts/{accountsId}/programs"
            },
            "enable": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Program"
              },
              "path": "accounts/v1/{+name}:enable",
              "description": "Enable participation in the specified program for the account.",
              "request": {
                "$ref": "EnableProgramRequest"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the program for which to enable participation for the given account. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.programs.enable",
              "flatPath": "accounts/v1/accounts/{accountsId}/programs/{programsId}:enable"
            },
            "disable": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Program"
              },
              "description": "Disable participation in the specified program for the account.",
              "request": {
                "$ref": "DisableProgramRequest"
              },
              "path": "accounts/v1/{+name}:disable",
              "id": "merchantapi.accounts.programs.disable",
              "flatPath": "accounts/v1/accounts/{accountsId}/programs/{programsId}:disable",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the program for which to disable participation for the given account. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "pattern": "^accounts/[^/]+/programs/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          },
          "resources": {
            "checkoutSettings": {
              "methods": {
                "updateCheckoutSettings": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier. The resource name of the program configuration settings. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `eligible_destinations` - `uri_settings`",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "id": "merchantapi.accounts.programs.checkoutSettings.updateCheckoutSettings",
                  "flatPath": "accounts/v1/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "path": "accounts/v1/{+name}",
                  "description": "Updates `CheckoutSettings` for the given merchant.",
                  "request": {
                    "$ref": "CheckoutSettings"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "CheckoutSettings"
                  }
                },
                "deleteCheckoutSettings": {
                  "id": "merchantapi.accounts.programs.checkoutSettings.deleteCheckoutSettings",
                  "flatPath": "accounts/v1/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name/identifier of the merchant account. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "description": "Deletes `CheckoutSettings` and unenrolls merchant from `Checkout` program.",
                  "path": "accounts/v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "CheckoutSettings"
                  },
                  "description": "Creates `CheckoutSettings` for the given merchant.",
                  "path": "accounts/v1/{+parent}/checkoutSettings",
                  "flatPath": "accounts/v1/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "id": "merchantapi.accounts.programs.checkoutSettings.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The merchant account for which the `CheckoutSettings` will be created.",
                      "pattern": "^accounts/[^/]+/programs/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ]
                },
                "getCheckoutSettings": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name/identifier of the merchant account. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "flatPath": "accounts/v1/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "id": "merchantapi.accounts.programs.checkoutSettings.getCheckoutSettings",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "accounts/v1/{+name}",
                  "description": "Gets `CheckoutSettings` for the given merchant. This includes information about review state, enrollment state and URL settings."
                }
              }
            }
          }
        },
        "developerRegistration": {
          "methods": {
            "unregisterGcp": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the developer registration to be created for the merchant account that the GCP will be registered with. Format: `accounts/{account}/developerRegistration`",
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.developerRegistration.unregisterGcp",
              "flatPath": "accounts/v1/accounts/{accountsId}/developerRegistration:unregisterGcp",
              "path": "accounts/v1/{+name}:unregisterGcp",
              "description": "Unregister the calling GCP from the calling shopping account. Note that the GCP will still be able to access the API for at most 1 day from the unregister succussful call.",
              "request": {
                "$ref": "UnregisterGcpRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              }
            },
            "registerGcp": {
              "id": "merchantapi.accounts.developerRegistration.registerGcp",
              "flatPath": "accounts/v1/accounts/{accountsId}/developerRegistration:registerGcp",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the developer registration to be created for the merchant account that the GCP will be registered with. Format: `accounts/{account}/developerRegistration` The {account} used must be the same account where user calling this API method is directly added to. Note: The account used must be a production account (can't be a [test account](https://developers.google.com/merchant/api/guides/accounts/test-accounts) ) and must have a [verified website](https://support.google.com/merchants/answer/11586344) in Merchant Center.",
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Registers the GCP used for the API call to the shopping account passed in the request. Will create a user with an \"API developer\" and add the \"developer_email\" as a contact with \"API notifications\" email preference on. Restrictions: * The caller account must be authenticated and must not impersonate another account at registration time. Registering for subaccounts is not supported if the caller account is authenticated with the parent or the managing advanced account. * The caller account must have a [verified website](https://support.google.com/merchants/answer/11586344) in Merchant Center. * [Test accounts](https://developers.google.com/merchant/api/guides/accounts/test-accounts) are not eligible for registration.",
              "request": {
                "$ref": "RegisterGcpRequest"
              },
              "path": "accounts/v1/{+name}:registerGcp",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "DeveloperRegistration"
              }
            },
            "getDeveloperRegistration": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "DeveloperRegistration"
              },
              "description": "Retrieves a developer registration for a merchant.",
              "path": "accounts/v1/{+name}",
              "id": "merchantapi.accounts.developerRegistration.getDeveloperRegistration",
              "flatPath": "accounts/v1/accounts/{accountsId}/developerRegistration",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The `name` (ID) of the developer registration.",
                  "pattern": "^accounts/[^/]+/developerRegistration$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "getAccountForGcpRegistration": {
              "parameterOrder": [],
              "httpMethod": "GET",
              "response": {
                "$ref": "GetAccountForGcpRegistrationResponse"
              },
              "description": "Retrieves the merchant account that the calling GCP is registered with.",
              "path": "accounts/v1/accounts:getAccountForGcpRegistration",
              "id": "merchantapi.accounts.developerRegistration.getAccountForGcpRegistration",
              "flatPath": "accounts/v1/accounts:getAccountForGcpRegistration",
              "parameters": {},
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "onlineReturnPolicies": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListOnlineReturnPoliciesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "accounts/v1/{+parent}/onlineReturnPolicies",
              "description": "Lists all existing return policies for a given business.",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of `OnlineReturnPolicy` resources to return. The service returns fewer than this value if the number of return policies for the given business is less that than the `pageSize`. The default value is 10. The maximum value is 100; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The Merchant Center account for which to list return policies. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListOnlineReturnPolicies` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListOnlineReturnPolicies` must match the call that provided the page token. The token returned as nextPageToken in the response to the previous request.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/onlineReturnPolicies",
              "id": "merchantapi.accounts.onlineReturnPolicies.list"
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets an existing return policy for a given business.",
              "path": "accounts/v1/{+name}",
              "flatPath": "accounts/v1/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "id": "merchantapi.accounts.onlineReturnPolicies.get",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the return policy to retrieve. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "create": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The Merchant Center account for which the return policy will be created. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.onlineReturnPolicies.create",
              "flatPath": "accounts/v1/accounts/{accountsId}/onlineReturnPolicies",
              "path": "accounts/v1/{+parent}/onlineReturnPolicies",
              "description": "Creates a new return policy for a given business.",
              "request": {
                "$ref": "OnlineReturnPolicy"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "OnlineReturnPolicy"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1/{+name}",
              "description": "Deletes an existing return policy.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the return policy to delete. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "id": "merchantapi.accounts.onlineReturnPolicies.delete"
            }
          }
        },
        "termsOfServiceAgreementStates": {
          "methods": {
            "get": {
              "id": "merchantapi.accounts.termsOfServiceAgreementStates.get",
              "flatPath": "accounts/v1/accounts/{accountsId}/termsOfServiceAgreementStates/{termsOfServiceAgreementStatesId}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the terms of service version. Format: `accounts/{account}/termsOfServiceAgreementStates/{identifier}` The identifier format is: `{TermsOfServiceKind}-{country}`",
                  "pattern": "^accounts/[^/]+/termsOfServiceAgreementStates/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "TermsOfServiceAgreementState"
              },
              "description": "Returns the state of a terms of service agreement.",
              "path": "accounts/v1/{+name}"
            },
            "retrieveForApplication": {
              "httpMethod": "GET",
              "response": {
                "$ref": "TermsOfServiceAgreementState"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Retrieves the state of the agreement for the application terms of service. Application terms of service covers permissions related to the usage of data provided through Merchant Center, CSS Center, Manufacturer Center, and more.",
              "path": "accounts/v1/{+parent}/termsOfServiceAgreementStates:retrieveForApplication",
              "flatPath": "accounts/v1/accounts/{accountsId}/termsOfServiceAgreementStates:retrieveForApplication",
              "id": "merchantapi.accounts.termsOfServiceAgreementStates.retrieveForApplication",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The account for which to get a TermsOfServiceAgreementState Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "gbpAccounts": {
          "methods": {
            "list": {
              "flatPath": "accounts/v1/accounts/{accountsId}/gbpAccounts",
              "id": "merchantapi.accounts.gbpAccounts.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the parent resource under which the GBP accounts are listed. Format: `accounts/{account}`.",
                  "pattern": "^accounts/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListGbpAccounts` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListGbpAccounts` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of `GbpAccount` resources to return. The service returns fewer than this value if the number of gbp accounts is less that than the `pageSize`. The default value is 50. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListGbpAccountsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "List the GBP accounts for a given merchant.",
              "path": "accounts/v1/{+parent}/gbpAccounts"
            },
            "linkGbpAccount": {
              "httpMethod": "POST",
              "response": {
                "$ref": "LinkGbpAccountResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "accounts/v1/{+parent}/gbpAccounts:linkGbpAccount",
              "request": {
                "$ref": "LinkGbpAccountRequest"
              },
              "description": "Link the specified merchant to a GBP account for all countries. To run this method, you must have admin access to the Merchant Center account. If you don't have admin access, the request fails with the error message `User is not an administrator of account {ACCOUNT_ID}`.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the parent resource to which the GBP account is linked. Format: `accounts/{account}`.",
                  "pattern": "^accounts/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/gbpAccounts:linkGbpAccount",
              "id": "merchantapi.accounts.gbpAccounts.linkGbpAccount"
            }
          }
        },
        "businessInfo": {
          "methods": {
            "getBusinessInfo": {
              "path": "accounts/v1/{+name}",
              "description": "Retrieves the business info of an account.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "BusinessInfo"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the business info. Format: `accounts/{account}/businessInfo`. For example, `accounts/123456/businessInfo`.",
                  "pattern": "^accounts/[^/]+/businessInfo$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.businessInfo.getBusinessInfo",
              "flatPath": "accounts/v1/accounts/{accountsId}/businessInfo"
            },
            "updateBusinessInfo": {
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `address` - `customer_service` - `korean_business_registration_number`",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "description": "Identifier. The resource name of the business info. Format: `accounts/{account}/businessInfo`",
                  "pattern": "^accounts/[^/]+/businessInfo$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.businessInfo.updateBusinessInfo",
              "flatPath": "accounts/v1/accounts/{accountsId}/businessInfo",
              "path": "accounts/v1/{+name}",
              "description": "Updates the business info of an account. Executing this method requires admin access.",
              "request": {
                "$ref": "BusinessInfo"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "BusinessInfo"
              }
            }
          }
        },
        "regions": {
          "methods": {
            "list": {
              "id": "merchantapi.accounts.regions.list",
              "flatPath": "accounts/v1/accounts/{accountsId}/regions",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListRegions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRegions` must match the call that provided the page token."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The account to list regions for. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of regions to return. The service may return fewer than this value. If unspecified, at most 50 regions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListRegionsResponse"
              },
              "description": "Lists the regions in your Merchant Center account.",
              "path": "accounts/v1/{+parent}/regions"
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the region to retrieve. Format: `accounts/{account}/regions/{region}`",
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.regions.get",
              "flatPath": "accounts/v1/accounts/{accountsId}/regions/{regionsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Region"
              },
              "path": "accounts/v1/{+name}",
              "description": "Retrieves a region defined in your Merchant Center account."
            },
            "create": {
              "id": "merchantapi.accounts.regions.create",
              "flatPath": "accounts/v1/accounts/{accountsId}/regions",
              "parameters": {
                "regionId": {
                  "description": "Required. The identifier for the region, unique over all regions of the same account.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The account to create a region for. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Region"
              },
              "description": "Creates a region definition in your Merchant Center account. Executing this method requires admin access.",
              "request": {
                "$ref": "Region"
              },
              "path": "accounts/v1/{+parent}/regions"
            },
            "batchUpdate": {
              "id": "merchantapi.accounts.regions.batchUpdate",
              "flatPath": "accounts/v1/accounts/{accountsId}/regions:batchUpdate",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The account to update one or more regions for. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates one or more regions in your Merchant Center account. Executing this method requires admin access.",
              "request": {
                "$ref": "BatchUpdateRegionsRequest"
              },
              "path": "accounts/v1/{+parent}/regions:batchUpdate",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "BatchUpdateRegionsResponse"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1/{+name}",
              "description": "Deletes a region definition from your Merchant Center account. Executing this method requires admin access.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the region to delete. Format: `accounts/{account}/regions/{region}`",
                  "pattern": "^accounts/[^/]+/regions/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/regions/{regionsId}",
              "id": "merchantapi.accounts.regions.delete"
            },
            "batchDelete": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The account to delete one or more regions from. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/regions:batchDelete",
              "id": "merchantapi.accounts.regions.batchDelete",
              "path": "accounts/v1/{+parent}/regions:batchDelete",
              "request": {
                "$ref": "BatchDeleteRegionsRequest"
              },
              "description": "Deletes multiple regions by name from your Merchant Center account. Executing this method requires admin access.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "batchCreate": {
              "path": "accounts/v1/{+parent}/regions:batchCreate",
              "description": "Creates one or more regions in your Merchant Center account. Executing this method requires admin access.",
              "request": {
                "$ref": "BatchCreateRegionsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "BatchCreateRegionsResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The account to create one or more regions for. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.regions.batchCreate",
              "flatPath": "accounts/v1/accounts/{accountsId}/regions:batchCreate"
            },
            "patch": {
              "description": "Updates a region definition in your Merchant Center account. Executing this method requires admin access.",
              "request": {
                "$ref": "Region"
              },
              "path": "accounts/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Region"
              },
              "id": "merchantapi.accounts.regions.patch",
              "flatPath": "accounts/v1/accounts/{accountsId}/regions/{regionsId}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Optional. The comma-separated field mask indicating the fields to update. Example: `\"displayName,postalCodeArea.regionCode\"`.",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "description": "Identifier. The resource name of the region. Format: `accounts/{account}/regions/{region}`",
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "businessIdentity": {
          "methods": {
            "getBusinessIdentity": {
              "path": "accounts/v1/{+name}",
              "description": "Retrieves the business identity of an account.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "BusinessIdentity"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`. For example, `accounts/123456/businessIdentity`.",
                  "pattern": "^accounts/[^/]+/businessIdentity$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.businessIdentity.getBusinessIdentity",
              "flatPath": "accounts/v1/accounts/{accountsId}/businessIdentity"
            },
            "updateBusinessIdentity": {
              "path": "accounts/v1/{+name}",
              "request": {
                "$ref": "BusinessIdentity"
              },
              "description": "Updates the business identity of an account. Executing this method requires admin access.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "BusinessIdentity"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`",
                  "pattern": "^accounts/[^/]+/businessIdentity$",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `black_owned` - `latino_owned` - `promotions_consent` - `small_business` - `veteran_owned` - `women_owned`",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/businessIdentity",
              "id": "merchantapi.accounts.businessIdentity.updateBusinessIdentity"
            }
          }
        },
        "shippingSettings": {
          "methods": {
            "getShippingSettings": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the shipping setting to retrieve. Format: `accounts/{account}/shippingsettings`",
                  "pattern": "^accounts/[^/]+/shippingSettings$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/shippingSettings",
              "id": "merchantapi.accounts.shippingSettings.getShippingSettings",
              "httpMethod": "GET",
              "response": {
                "$ref": "ShippingSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1/{+name}",
              "description": "Retrieve shipping setting information."
            },
            "insert": {
              "description": "Replace the shipping setting of a business with the request shipping setting. Executing this method requires admin access.",
              "request": {
                "$ref": "ShippingSettings"
              },
              "path": "accounts/v1/{+parent}/shippingSettings:insert",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "ShippingSettings"
              },
              "id": "merchantapi.accounts.shippingSettings.insert",
              "flatPath": "accounts/v1/accounts/{accountsId}/shippingSettings:insert",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The account for which this shipping setting will be inserted. If you are using an advanced account, you must specify the unique identifier of the sub-account for which you want to insert the shipping setting. Format: `accounts/{ACCOUNT_ID}`",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "relationships": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAccountRelationshipsResponse"
              },
              "path": "accounts/v1/{+parent}/relationships",
              "description": "List account relationships for the specified account.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. The token returned by the previous `list` request.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent account of the account relationship to filter by. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of elements to return in the response. Use for paging. If no `page_size` is specified, `100` is used as the default value. The maximum allowed value is `1000`.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.relationships.list",
              "flatPath": "accounts/v1/accounts/{accountsId}/relationships"
            },
            "get": {
              "description": "Retrieve an account relationship.",
              "path": "accounts/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "AccountRelationship"
              },
              "id": "merchantapi.accounts.relationships.get",
              "flatPath": "accounts/v1/accounts/{accountsId}/relationships/{relationshipsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the account relationship to get. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
                  "pattern": "^accounts/[^/]+/relationships/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "AccountRelationship"
              },
              "description": "Updates the account relationship. Executing this method requires admin access.",
              "request": {
                "$ref": "AccountRelationship"
              },
              "path": "accounts/v1/{+name}",
              "id": "merchantapi.accounts.relationships.patch",
              "flatPath": "accounts/v1/accounts/{accountsId}/relationships/{relationshipsId}",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `account_id_alias`",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier. The resource name of the account relationship. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
                  "pattern": "^accounts/[^/]+/relationships/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "services": {
          "methods": {
            "reject": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "description": "Reject an account service (both proposed and approve services can be rejected).",
              "request": {
                "$ref": "RejectAccountServiceRequest"
              },
              "path": "accounts/v1/{+name}:reject",
              "id": "merchantapi.accounts.services.reject",
              "flatPath": "accounts/v1/accounts/{accountsId}/services/{servicesId}:reject",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the account service to reject. Format: `accounts/{account}/services/{service}`",
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "list": {
              "path": "accounts/v1/{+parent}/services",
              "description": "List account services for the specified accounts. Supports filtering.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAccountServicesResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent account of the account service to filter by. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The token returned by the previous `list` request."
                },
                "pageSize": {
                  "description": "Optional. The maximum number of elements to return in the response. Use for paging. If no `page_size` is specified, `100` is used as the default value. The maximum allowed value is `1000`.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.services.list",
              "flatPath": "accounts/v1/accounts/{accountsId}/services"
            },
            "approve": {
              "path": "accounts/v1/{+name}:approve",
              "request": {
                "$ref": "ApproveAccountServiceRequest"
              },
              "description": "Approve an account service proposal.",
              "httpMethod": "POST",
              "response": {
                "$ref": "AccountService"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the account service to approve. Format: `accounts/{account}/services/{service}`",
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/services/{servicesId}:approve",
              "id": "merchantapi.accounts.services.approve"
            },
            "get": {
              "description": "Retrieve an account service.",
              "path": "accounts/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "AccountService"
              },
              "id": "merchantapi.accounts.services.get",
              "flatPath": "accounts/v1/accounts/{accountsId}/services/{servicesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the account service to get. Format: `accounts/{account}/services/{service}`",
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "propose": {
              "description": "Propose an account service.",
              "request": {
                "$ref": "ProposeAccountServiceRequest"
              },
              "path": "accounts/v1/{+parent}/services:propose",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "AccountService"
              },
              "id": "merchantapi.accounts.services.propose",
              "flatPath": "accounts/v1/accounts/{accountsId}/services:propose",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The resource name of the parent account for the service. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "homepage": {
          "methods": {
            "updateHomepage": {
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `uri`",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier. The resource name of the store's homepage. Format: `accounts/{account}/homepage`",
                  "pattern": "^accounts/[^/]+/homepage$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/homepage",
              "id": "merchantapi.accounts.homepage.updateHomepage",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Homepage"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1/{+name}",
              "request": {
                "$ref": "Homepage"
              },
              "description": "Updates a store's homepage. Executing this method requires admin access."
            },
            "getHomepage": {
              "flatPath": "accounts/v1/accounts/{accountsId}/homepage",
              "id": "merchantapi.accounts.homepage.getHomepage",
              "parameters": {
                "name": {
                  "description": "Required. The name of the homepage to retrieve. Format: `accounts/{account}/homepage`",
                  "pattern": "^accounts/[^/]+/homepage$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves a store's homepage.",
              "path": "accounts/v1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Homepage"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "claim": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the homepage to claim. Format: `accounts/{account}/homepage`",
                  "pattern": "^accounts/[^/]+/homepage$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.homepage.claim",
              "flatPath": "accounts/v1/accounts/{accountsId}/homepage:claim",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Homepage"
              },
              "path": "accounts/v1/{+name}:claim",
              "description": "Claims a store's homepage. Executing this method requires admin access. If the homepage is already claimed, this will recheck the verification (unless the business is exempted from claiming, which also exempts from verification) and return a successful response. If ownership can no longer be verified, it will return an error, but it won't clear the claim. In case of failure, a canonical error message is returned: * PERMISSION_DENIED: User doesn't have the necessary permissions on this Merchant Center account. * FAILED_PRECONDITION: - The account is not a Merchant Center account. - Merchant Center account doesn't have a homepage. - Claiming failed (in this case the error message contains more details).",
              "request": {
                "$ref": "ClaimHomepageRequest"
              }
            },
            "unclaim": {
              "httpMethod": "POST",
              "response": {
                "$ref": "Homepage"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1/{+name}:unclaim",
              "request": {
                "$ref": "UnclaimHomepageRequest"
              },
              "description": "Unclaims a store's homepage. Executing this method requires admin access.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the homepage to unclaim. Format: `accounts/{account}/homepage`",
                  "pattern": "^accounts/[^/]+/homepage$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/homepage:unclaim",
              "id": "merchantapi.accounts.homepage.unclaim"
            }
          }
        },
        "omnichannelSettings": {
          "methods": {
            "list": {
              "id": "merchantapi.accounts.omnichannelSettings.list",
              "flatPath": "accounts/v1/accounts/{accountsId}/omnichannelSettings",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of omnichannel settings to return. The service may return fewer than this value. If unspecified, at most 50 omnichannel settings will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent, which owns this collection of omnichannel settings. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListOmnichannelSettings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOmnichannelSettings` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "List all the omnichannel settings for a given merchant.",
              "path": "accounts/v1/{+parent}/omnichannelSettings",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListOmnichannelSettingsResponse"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the omnichannel setting to retrieve. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.omnichannelSettings.get",
              "flatPath": "accounts/v1/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}",
              "path": "accounts/v1/{+name}",
              "description": "Get the omnichannel settings for a given merchant.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "OmnichannelSetting"
              }
            },
            "create": {
              "httpMethod": "POST",
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "accounts/v1/{+parent}/omnichannelSettings",
              "request": {
                "$ref": "OmnichannelSetting"
              },
              "description": "Create the omnichannel settings for a given merchant.",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent resource where this omnichannel setting will be created. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/omnichannelSettings",
              "id": "merchantapi.accounts.omnichannelSettings.create"
            },
            "requestInventoryVerification": {
              "id": "merchantapi.accounts.omnichannelSettings.requestInventoryVerification",
              "flatPath": "accounts/v1/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}:requestInventoryVerification",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the omnichannel setting to request inventory verification. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Requests inventory verification for a given merchant in a given country.",
              "request": {
                "$ref": "RequestInventoryVerificationRequest"
              },
              "path": "accounts/v1/{+name}:requestInventoryVerification",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "RequestInventoryVerificationResponse"
              }
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "path": "accounts/v1/{+name}",
              "description": "Update the omnichannel setting for a given merchant in a given country.",
              "request": {
                "$ref": "OmnichannelSetting"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. The resource name of the omnichannel setting. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "description": "Required. The list of fields to be updated. The following fields are supported in snake_case only: - `lsf_type` - `in_stock` - `pickup` - `odo` - `about` - `inventory_verification` Full replacement with wildcard `*`is supported, while empty/implied update mask is not.",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.omnichannelSettings.patch",
              "flatPath": "accounts/v1/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}"
            }
          },
          "resources": {
            "lfpProviders": {
              "methods": {
                "linkLfpProvider": {
                  "flatPath": "accounts/v1/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}/lfpProviders/{lfpProvidersId}:linkLfpProvider",
                  "id": "merchantapi.accounts.omnichannelSettings.lfpProviders.linkLfpProvider",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the LFP provider resource to link. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}/lfpProviders/{lfp_provider}`. The `lfp_provider` is the LFP provider ID.",
                      "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+/lfpProviders/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "LinkLfpProviderResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "LinkLfpProviderRequest"
                  },
                  "description": "Link the specified merchant to a LFP provider for the specified country.",
                  "path": "accounts/v1/{+name}:linkLfpProvider"
                },
                "find": {
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `FindLfpProviders` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `FindLfpProviders` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the parent resource under which the LFP providers are found. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`.",
                      "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of `LfpProvider` resources to return. The service returns fewer than this value if the number of lfp providers is less that than the `pageSize`. The default value is 50. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum.",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "id": "merchantapi.accounts.omnichannelSettings.lfpProviders.find",
                  "flatPath": "accounts/v1/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}/lfpProviders:find",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "FindLfpProvidersResponse"
                  },
                  "path": "accounts/v1/{+parent}/lfpProviders:find",
                  "description": "Find the LFP provider candidates in a given country."
                }
              }
            }
          }
        },
        "automaticImprovements": {
          "methods": {
            "getAutomaticImprovements": {
[...]
