{
  "batchPath": "batch",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "canonicalName": "Merchant",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "version_module": true,
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "title": "Merchant API",
  "revision": "20260910",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "servicePath": "",
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "version": "quota_v1",
  "basePath": "",
  "documentationLink": "https://developers.google.com/merchant/api",
  "id": "merchantapi:quota_v1",
  "resources": {
    "accounts": {
      "resources": {
        "limits": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListAccountLimitsResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent account. Format: `accounts/{account}`"
                },
                "filter": {
                  "type": "string",
                  "description": "Required. A filter on the limit `type` is required, for example, `type = \"products\"`.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of limits to return. The service may return fewer than this value. If unspecified, at most 100 limits will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListAccountLimits` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLimits` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Lists the limits of an account.",
              "path": "quota/v1/{+parent}/limits",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.limits.list",
              "flatPath": "quota/v1/accounts/{accountsId}/limits"
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/limits/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the limit to retrieve. Format: `accounts/{account}/limits/{limit}` For example: `accounts/123/limits/products~ADS_NON_EEA`",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "AccountLimit"
              },
              "description": "Retrieves an account limit.",
              "flatPath": "quota/v1/accounts/{accountsId}/limits/{limitsId}",
              "path": "quota/v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.limits.get"
            }
          }
        },
        "quotas": {
          "methods": {
            "list": {
              "path": "quota/v1/{+parent}/quotas",
              "response": {
                "$ref": "ListQuotaGroupsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "quota/v1/accounts/{accountsId}/quotas",
              "description": "Lists the daily call quota and usage per group for your Merchant Center account.",
              "httpMethod": "GET",
              "id": "merchantapi.accounts.quotas.list",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The merchant account who owns the collection of method quotas Format: accounts/{account}"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of quotas to return in the response, used for paging. Defaults to 500; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "description": "Optional. Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        }
      }
    }
  },
  "name": "merchantapi",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://merchantapi.googleapis.com/",
  "schemas": {
    "ListAccountLimitsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "accountLimits": {
          "type": "array",
          "items": {
            "$ref": "AccountLimit"
          },
          "description": "The limits for the given account."
        }
      },
      "description": "Response message for the `ListAccountLimits` method.",
      "id": "ListAccountLimitsResponse"
    },
    "QuotaGroup": {
      "description": "The group information for methods in the Merchant API. The quota is shared between all methods in the group. Even if none of the methods within the group have usage the information for the group is returned.",
      "id": "QuotaGroup",
      "type": "object",
      "properties": {
        "methodDetails": {
          "description": "Output only. List of all methods group quota applies to.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "MethodDetails"
          }
        },
        "quotaUsage": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The current quota usage, meaning the number of calls already made on a given day to the methods in the group. The daily quota limits reset at 12:00 PM midday UTC."
        },
        "quotaLimit": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The maximum number of calls allowed per day for the group.",
          "readOnly": true
        },
        "quotaMinuteLimit": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The maximum number of calls allowed per minute for the group."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the quota group. Format: accounts/{account}/quotas/{group} Note: There is no guarantee on the format of {group}"
        }
      }
    },
    "MethodDetails": {
      "type": "object",
      "id": "MethodDetails",
      "description": "The method details per method in the Merchant API.",
      "properties": {
        "subapi": {
          "description": "Output only. The sub-API that the method belongs to.",
          "type": "string",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The API version that the method belongs to."
        },
        "method": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the method for example `products.list`."
        },
        "path": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The path for the method such as `products/v1/productInputs.insert`"
        }
      }
    },
    "ListQuotaGroupsResponse": {
      "description": "Response message for the ListMethodGroups method.",
      "id": "ListQuotaGroupsResponse",
      "type": "object",
      "properties": {
        "quotaGroups": {
          "type": "array",
          "items": {
            "$ref": "QuotaGroup"
          },
          "description": "The methods, current quota usage and limits per each group. The quota is shared between all methods in the group. The groups are sorted in descending order based on quota_usage."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "AccountLimit": {
      "id": "AccountLimit",
      "type": "object",
      "description": "A limit of a certain type that is applied to an account.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The limit part of the name will be a combination of the type and the scope. For example: `accounts/123/limits/products~ADS_NON_EEA` Format: `accounts/{account}/limits/{limit}`"
        },
        "products": {
          "$ref": "ProductLimit",
          "description": "The limit for products."
        }
      }
    },
    "ProductChange": {
      "type": "object",
      "properties": {
        "oldValue": {
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "reportingContext": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout .",
            "Real Estate Rental Ads. ."
          ],
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "type": "string",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT",
            "RENTAL_ADS"
          ]
        },
        "regionCode": {
          "type": "string",
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format."
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        }
      },
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context.",
      "id": "ProductChange"
    },
    "ProductStatusChangeMessage": {
      "properties": {
        "resourceType": {
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product",
            "Account service"
          ],
          "description": "The resource that changed, in this case it will always be `Product`.",
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT",
            "ACCOUNT_SERVICE"
          ],
          "type": "string"
        },
        "eventTime": {
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications.",
          "type": "string",
          "format": "google-datetime"
        },
        "managingAccount": {
          "type": "string",
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`"
        },
        "expirationTime": {
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "format": "google-datetime",
          "type": "string"
        },
        "changes": {
          "type": "array",
          "description": "A message to describe the change that happened to the product",
          "items": {
            "$ref": "ProductChange"
          }
        },
        "resourceId": {
          "type": "string",
          "description": "The product id."
        },
        "attribute": {
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "type": "string",
          "description": "The attribute in the resource that changed, in this case it will be always `Status`."
        },
        "account": {
          "type": "string",
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`"
        },
        "resource": {
          "description": "The product name. Format: `accounts/{account}/products/{product}`",
          "type": "string"
        }
      },
      "id": "ProductStatusChangeMessage",
      "description": "The message that the merchant will receive to notify about product status change event",
      "type": "object"
    },
    "ProductLimit": {
      "id": "ProductLimit",
      "description": "The limit for products.",
      "properties": {
        "scope": {
          "description": "Required. The scope of the product limit.",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "ADS_NON_EEA",
            "ADS_EEA"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "Limit for products in non-EEA countries.",
            "Limit for products in EEA countries."
          ]
        },
        "limit": {
          "description": "Required. The maximum number of products that are allowed in the account in the given scope.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    }
  }
}