{
  "name": "merchantapi",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "baseUrl": "https://merchantapi.googleapis.com/",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "basePath": "",
  "batchPath": "batch",
  "version": "reviews_v1beta",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "title": "Merchant API",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "id": "merchantapi:reviews_v1beta",
  "discoveryVersion": "v1",
  "revision": "20260817",
  "canonicalName": "Merchant",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "ProductChange": {
      "properties": {
        "reportingContext": {
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ]
        },
        "oldValue": {
          "type": "string",
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        },
        "newValue": {
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "regionCode": {
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format.",
          "type": "string"
        }
      },
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context.",
      "type": "object",
      "id": "ProductChange"
    },
    "CustomAttribute": {
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty.",
      "properties": {
        "groupValues": {
          "type": "array",
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty.",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "value": {
          "type": "string",
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty."
        },
        "name": {
          "type": "string",
          "description": "The name of the attribute."
        }
      },
      "type": "object",
      "id": "CustomAttribute"
    },
    "ProductReview": {
      "description": "A review for a product. For more information, see [Introduction to Product Review Feeds](https://developers.google.com/product-review-feeds)",
      "id": "ProductReview",
      "properties": {
        "productReviewAttributes": {
          "description": "Optional. A list of product review attributes.",
          "$ref": "ProductReviewAttributes"
        },
        "productReviewId": {
          "type": "string",
          "description": "Required. The permanent, unique identifier for the product review in the publisher’s system."
        },
        "customAttributes": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array",
          "description": "Optional. A list of custom (merchant-provided) attributes."
        },
        "dataSource": {
          "description": "Output only. The primary data source of the product review.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the product review. Format: `\"{productreview.name=accounts/{account}/productReviews/{productReview}}\"`",
          "type": "string"
        },
        "productReviewStatus": {
          "$ref": "ProductReviewStatus",
          "description": "Output only. The status of a product review, data validation issues, that is, information about a product review computed asynchronously.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListMerchantReviewsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of results.",
          "type": "string"
        },
        "merchantReviews": {
          "type": "array",
          "description": "The merchant review.",
          "items": {
            "$ref": "MerchantReview"
          }
        }
      },
      "type": "object",
      "description": "Response message for the `ListMerchantsReview` method.",
      "id": "ListMerchantReviewsResponse"
    },
    "ProductReviewItemLevelIssue": {
      "properties": {
        "detail": {
          "readOnly": true,
          "description": "Output only. A detailed issue description in English.",
          "type": "string"
        },
        "documentation": {
          "description": "Output only. The URL of a web page to help with resolving this issue.",
          "readOnly": true,
          "type": "string"
        },
        "attribute": {
          "description": "Output only. The attribute's name, if the issue is caused by a single attribute.",
          "readOnly": true,
          "type": "string"
        },
        "reportingContext": {
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "readOnly": true,
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Output only. The reporting context the issue applies to.",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ]
        },
        "resolution": {
          "type": "string",
          "description": "Output only. Whether the issue can be resolved by the merchant.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A short issue description in English."
        },
        "code": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The error code of the issue."
        },
        "severity": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. How this issue affects serving of the product review.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOT_IMPACTED",
            "DISAPPROVED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "This issue represents a warning and does not have a direct affect on the product review.",
            "Issue disapproves the product review."
          ]
        }
      },
      "type": "object",
      "id": "ProductReviewItemLevelIssue",
      "description": "The ItemLevelIssue of the product review status."
    },
    "ProductReviewAttributes": {
      "id": "ProductReviewAttributes",
      "type": "object",
      "properties": {
        "title": {
          "description": "Optional. The title of the review.",
          "type": "string"
        },
        "gtins": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains GTINs (global trade item numbers) associated with a product. Sub-types of GTINs (e.g. UPC, EAN, ISBN, JAN) are supported."
        },
        "isIncentivizedReview": {
          "description": "Optional. Indicates whether the review is incentivized.",
          "type": "boolean"
        },
        "reviewerUsername": {
          "type": "string",
          "description": "Optional. The name of the reviewer of the product review."
        },
        "rating": {
          "description": "Optional. The reviewer's overall rating of the product.",
          "type": "number",
          "format": "double"
        },
        "reviewTime": {
          "description": "Required. The timestamp indicating when the review was written.",
          "type": "string",
          "format": "google-datetime"
        },
        "content": {
          "description": "Optional. The content of the review. If empty, the content might still get populated from pros and cons.",
          "type": "string"
        },
        "maxRating": {
          "type": "string",
          "description": "Optional. The maximum possible number for the rating. The value of the max rating must be greater than the value of the min attribute.",
          "format": "int64"
        },
        "transactionId": {
          "type": "string",
          "description": "Optional. A permanent, unique identifier for the transaction associated with the review in the publisher's system. This ID can be used to indicate that multiple reviews are associated with the same transaction."
        },
        "reviewCountry": {
          "type": "string",
          "description": "Optional. The country of the review defined by ISO 3166-1 Alpha-2 Country Code."
        },
        "isSpam": {
          "description": "Optional. Indicates whether the review is marked as spam in the publisher's system.",
          "type": "boolean"
        },
        "brands": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains brand names associated with a product.",
          "type": "array"
        },
        "aggregatorName": {
          "type": "string",
          "description": "Optional. The name of the aggregator of the product reviews. A publisher may use a reviews aggregator to manage reviews and provide the feeds. This element indicates the use of an aggregator and contains information about the aggregator."
        },
        "minRating": {
          "type": "string",
          "description": "Optional. Contains the ratings associated with the review. The minimum possible number for the rating. This should be the worst possible rating and should not be a value for no rating.",
          "format": "int64"
        },
        "isVerifiedPurchase": {
          "description": "Optional. Indicates whether the reviewer's purchase is verified.",
          "type": "boolean"
        },
        "subclientName": {
          "type": "string",
          "description": "Optional. The name of the subclient of the product reviews. The subclient is an identifier of the product review source. It should be equivalent to the directory provided in the file data source path."
        },
        "pros": {
          "description": "Optional. Contains the advantages based on the opinion of the reviewer. Omit boilerplate text like \"pro:\" unless it was written by the reviewer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "reviewLink": {
          "$ref": "ReviewLink",
          "description": "Optional. The URI of the review landing page."
        },
        "productNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Descriptive name of a product.",
          "type": "array"
        },
        "skus": {
          "description": "Optional. Contains SKUs (stock keeping units) associated with a product. Often this matches the product Offer Id in the product feed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cons": {
          "description": "Optional. Contains the disadvantages based on the opinion of the reviewer. Omit boilerplate text like \"con:\" unless it was written by the reviewer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mpns": {
          "description": "Optional. Contains MPNs (manufacturer part numbers) associated with a product.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "asins": {
          "description": "Optional. Contains ASINs (Amazon Standard Identification Numbers) associated with a product.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "publisherFavicon": {
          "description": "Optional. A link to the company favicon of the publisher. The image dimensions should be favicon size: 16x16 pixels. The image format should be GIF, JPG or PNG.",
          "type": "string"
        },
        "reviewerIsAnonymous": {
          "description": "Optional. Set to true if the reviewer should remain anonymous.",
          "type": "boolean"
        },
        "publisherName": {
          "description": "Optional. The name of the publisher of the product reviews. The information about the publisher, which may be a retailer, manufacturer, reviews service company, or any entity that publishes product reviews.",
          "type": "string"
        },
        "reviewerImageLinks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A URI to an image of the reviewed product created by the review author. The URI does not have to end with an image file extension."
        },
        "collectionMethod": {
          "description": "Optional. The method used to collect the review.",
          "enumDescriptions": [
            "Collection method unspecified.",
            "The user was not responding to a specific solicitation when they submitted the review.",
            "The user submitted the review in response to a solicitation after fulfillment of the user's order."
          ],
          "type": "string",
          "enum": [
            "COLLECTION_METHOD_UNSPECIFIED",
            "UNSOLICITED",
            "POST_FULFILLMENT"
          ]
        },
        "productLinks": {
          "description": "Optional. The URI of the product. This URI can have the same value as the `review_link` element, if the review URI and the product URI are the same.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "reviewerId": {
          "type": "string",
          "description": "Optional. The author of the product review. A permanent, unique identifier for the author of the review in the publisher's system."
        },
        "reviewLanguage": {
          "description": "Optional. The language of the review defined by BCP-47 language code.",
          "type": "string"
        }
      },
      "description": "Attributes."
    },
    "MerchantReviewAttributes": {
      "type": "object",
      "description": "Attributes.",
      "properties": {
        "minRating": {
          "format": "int64",
          "description": "Optional. The minimum possible number for the rating. This should be the worst possible rating and should not be a value for no rating.",
          "type": "string"
        },
        "reviewerUsername": {
          "description": "Optional. Display name of the review author.",
          "type": "string"
        },
        "reviewerId": {
          "description": "Optional. A permanent, unique identifier for the author of the review in the publisher's system.",
          "type": "string"
        },
        "content": {
          "description": "Required. This should be any freeform text provided by the user and should not be truncated. If multiple responses to different questions are provided, all responses should be included, with the minimal context for the responses to make sense. Context should not be provided if questions were left unanswered.",
          "type": "string"
        },
        "maxRating": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The maximum possible number for the rating. The value of the max rating must be greater than the value of the min rating."
        },
        "merchantRatingLink": {
          "type": "string",
          "description": "Optional. URL to the landing page that hosts the reviews for this merchant. Do not use a redirect URL."
        },
        "rating": {
          "description": "Optional. The reviewer's overall rating of the merchant.",
          "format": "double",
          "type": "number"
        },
        "merchantLink": {
          "description": "Optional. URL to the merchant's main website. Do not use a redirect URL for this value. In other words, the value should point directly to the merchant's site.",
          "type": "string"
        },
        "reviewLanguage": {
          "description": "Optional. The language of the review defined by BCP-47 language code.",
          "type": "string"
        },
        "merchantId": {
          "description": "Required. Must be unique and stable across all requests. In other words, if a request today and another 90 days ago refer to the same merchant, they must have the same id.",
          "type": "string"
        },
        "reviewTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The timestamp indicating when the review was written."
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the review."
        },
        "merchantDisplayName": {
          "description": "Optional. Human-readable display name for the merchant.",
          "type": "string"
        },
        "reviewCountry": {
          "type": "string",
          "description": "Optional. The country where the reviewer made the order defined by ISO 3166-1 Alpha-2 Country Code."
        },
        "collectionMethod": {
          "type": "string",
          "enum": [
            "COLLECTION_METHOD_UNSPECIFIED",
            "MERCHANT_UNSOLICITED",
            "POINT_OF_SALE",
            "AFTER_FULFILLMENT"
          ],
          "enumDescriptions": [
            "Collection method unspecified.",
            "The user was not responding to a specific solicitation when they submitted the review.",
            "The user submitted the review in response to a solicitation when the user placed an order.",
            "The user submitted the review in response to a solicitation after fulfillment of the user's order."
          ],
          "description": "Optional. The method used to collect the review."
        },
        "isAnonymous": {
          "description": "Optional. Set to true if the reviewer should remain anonymous.",
          "type": "boolean"
        }
      },
      "id": "MerchantReviewAttributes"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "MerchantReviewDestinationStatus": {
      "id": "MerchantReviewDestinationStatus",
      "type": "object",
      "description": "The destination status of the merchant review status.",
      "properties": {
        "reportingContext": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Output only. The name of the reporting context.",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ]
        }
      }
    },
    "ListProductReviewsResponse": {
      "description": "response message for the ListProductReviews method.",
      "properties": {
        "productReviews": {
          "items": {
            "$ref": "ProductReview"
          },
          "description": "The product review.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListProductReviewsResponse"
    },
    "MerchantReview": {
      "description": "A review for a merchant. For more information, see [Introduction to Merchant Review Feeds](https://developers.google.com/merchant-review-feeds)",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the merchant review. Format: `\"{merchantreview.name=accounts/{account}/merchantReviews/{merchantReview}}\"`",
          "type": "string"
        },
        "merchantReviewAttributes": {
          "description": "Optional. A list of merchant review attributes.",
          "$ref": "MerchantReviewAttributes"
        },
        "customAttributes": {
          "description": "Optional. A list of custom (merchant-provided) attributes. It can also be used for submitting any attribute of the data specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as experimental attributes. Maximum allowed number of characters for each custom attribute is 10240 (represents sum of characters for name and value). Maximum 2500 custom attributes can be set per product, with total size of 102.4kB. Underscores in custom attribute names are replaced by spaces upon insertion.",
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "merchantReviewStatus": {
          "description": "Output only. The status of a merchant review, data validation issues, that is, information about a merchant review computed asynchronously.",
          "readOnly": true,
          "$ref": "MerchantReviewStatus"
        },
        "merchantReviewId": {
          "type": "string",
          "description": "Required. The user provided merchant review ID to uniquely identify the merchant review."
        },
        "dataSource": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The primary data source of the merchant review."
        }
      },
      "id": "MerchantReview"
    },
    "MerchantReviewItemLevelIssue": {
      "description": "The ItemLevelIssue of the merchant review status.",
      "id": "MerchantReviewItemLevelIssue",
      "type": "object",
      "properties": {
        "documentation": {
          "description": "Output only. The URL of a web page to help with resolving this issue.",
          "readOnly": true,
          "type": "string"
        },
        "resolution": {
          "type": "string",
          "description": "Output only. Whether the issue can be resolved by the merchant.",
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A short issue description in English."
        },
        "detail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A detailed issue description in English."
        },
        "reportingContext": {
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Output only. The reporting context the issue applies to.",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ]
        },
        "code": {
          "description": "Output only. The error code of the issue.",
          "type": "string",
          "readOnly": true
        },
        "severity": {
          "description": "Output only. How this issue affects serving of the merchant review.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "This issue represents a warning and does not have a direct affect on the merchant review.",
            "Issue disapproves the merchant review."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOT_IMPACTED",
            "DISAPPROVED"
          ],
          "readOnly": true
        },
        "attribute": {
          "type": "string",
          "description": "Output only. The attribute's name, if the issue is caused by a single attribute.",
          "readOnly": true
        }
      }
    },
    "MerchantReviewStatus": {
      "description": "The status of a merchant review, data validation issues, that is, information about a merchant review computed asynchronously.",
      "type": "object",
      "id": "MerchantReviewStatus",
      "properties": {
        "itemLevelIssues": {
          "description": "Output only. A list of all issues associated with the merchant review.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "MerchantReviewItemLevelIssue"
          }
        },
        "createTime": {
          "description": "Output only. Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "destinationStatuses": {
          "description": "Output only. The intended destinations for the merchant review.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "MerchantReviewDestinationStatus"
          }
        },
        "lastUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        }
      }
    },
    "ProductStatusChangeMessage": {
      "id": "ProductStatusChangeMessage",
      "description": "The message that the merchant will receive to notify about product status change event",
      "type": "object",
      "properties": {
        "resource": {
          "type": "string",
          "description": "The product name. Format: `accounts/{account}/products/{product}`"
        },
        "eventTime": {
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceType": {
          "type": "string",
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT",
            "ACCOUNT_SERVICE"
          ],
          "description": "The resource that changed, in this case it will always be `Product`.",
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product",
            "Account service"
          ]
        },
        "attribute": {
          "description": "The attribute in the resource that changed, in this case it will be always `Status`.",
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "type": "string",
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ]
        },
        "changes": {
          "description": "A message to describe the change that happened to the product",
          "type": "array",
          "items": {
            "$ref": "ProductChange"
          }
        },
        "resourceId": {
          "description": "The product id.",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "format": "google-datetime"
        },
        "account": {
          "type": "string",
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`"
        },
        "managingAccount": {
          "type": "string",
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`"
        }
      }
    },
    "ProductReviewDestinationStatus": {
      "type": "object",
      "id": "ProductReviewDestinationStatus",
      "description": "The destination status of the product review status.",
      "properties": {
        "reportingContext": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Output only. The name of the reporting context.",
          "readOnly": true
        }
      }
    },
    "ProductReviewStatus": {
      "properties": {
        "itemLevelIssues": {
          "readOnly": true,
          "items": {
            "$ref": "ProductReviewItemLevelIssue"
          },
          "type": "array",
          "description": "Output only. A list of all issues associated with the product review."
        },
        "destinationStatuses": {
          "readOnly": true,
          "items": {
            "$ref": "ProductReviewDestinationStatus"
          },
          "description": "Output only. The intended destinations for the product review.",
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "readOnly": true,
          "type": "string"
        },
        "lastUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "type": "string"
        }
      },
      "description": "Product review status.",
      "id": "ProductReviewStatus",
      "type": "object"
    },
    "ReviewLink": {
      "id": "ReviewLink",
      "type": "object",
      "description": "The URI of the review landing page.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Type unspecified.",
            "The review page contains only this single review.",
            "The review page contains a group of reviews including this review."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SINGLETON",
            "GROUP"
          ],
          "description": "Optional. Type of the review URI."
        },
        "link": {
          "type": "string",
          "description": "Optional. The URI of the review landing page. For example: `http://www.example.com/review_5.html`."
        }
      }
    }
  },
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/merchant/api",
  "resources": {
    "accounts": {
      "resources": {
        "productReviews": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The ID of the merchant review. Format: accounts/{account}/productReviews/{productReview}",
                  "pattern": "^accounts/[^/]+/productReviews/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "reviews/v1beta/{+name}",
              "httpMethod": "GET",
              "id": "merchantapi.accounts.productReviews.get",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "ProductReview"
              },
              "description": "Gets a product review.",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews/{productReviewsId}"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/productReviews/[^/]+$",
                  "description": "Required. The ID of the Product review. Format: accounts/{account}/productReviews/{productReview}",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Deletes a product review.",
              "parameterOrder": [
                "name"
              ],
              "path": "reviews/v1beta/{+name}",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews/{productReviewsId}",
              "response": {
                "$ref": "Empty"
              },
              "id": "merchantapi.accounts.productReviews.delete",
              "httpMethod": "DELETE"
            },
            "insert": {
              "parameters": {
                "parent": {
                  "description": "Required. The account where the product review will be inserted. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "dataSource": {
                  "type": "string",
                  "description": "Required. Format: `accounts/{account}/dataSources/{datasource}`.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ProductReview"
              },
              "request": {
                "$ref": "ProductReview"
              },
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews:insert",
              "description": "Inserts a product review.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "id": "merchantapi.accounts.productReviews.insert",
              "path": "reviews/v1beta/{+parent}/productReviews:insert"
            },
            "list": {
              "description": "Lists product reviews.",
              "response": {
                "$ref": "ListProductReviewsResponse"
              },
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews",
              "id": "merchantapi.accounts.productReviews.list",
              "parameters": {
                "parent": {
                  "description": "Required. The account to list product reviews for. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of products to return. The service may return fewer than this value.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListProductReviews` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductReviews` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "reviews/v1beta/{+parent}/productReviews",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "merchantReviews": {
          "methods": {
            "delete": {
              "path": "reviews/v1beta/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews/{merchantReviewsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the merchant review. Format: accounts/{account}/merchantReviews/{merchantReview}",
                  "pattern": "^accounts/[^/]+/merchantReviews/[^/]+$"
                }
              },
              "id": "merchantapi.accounts.merchantReviews.delete",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Deletes merchant review."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the merchant review. Format: accounts/{account}/merchantReviews/{merchantReview}",
                  "pattern": "^accounts/[^/]+/merchantReviews/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "reviews/v1beta/{+name}",
              "response": {
                "$ref": "MerchantReview"
              },
              "id": "merchantapi.accounts.merchantReviews.get",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews/{merchantReviewsId}",
              "httpMethod": "GET",
              "description": "Gets a merchant review."
            },
            "insert": {
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.merchantReviews.insert",
              "path": "reviews/v1beta/{+parent}/merchantReviews:insert",
              "request": {
                "$ref": "MerchantReview"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "dataSource": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The data source of the [merchantreview](https://support.google.com/merchants/answer/7045996?sjid=5253581244217581976-EU) Format: `accounts/{account}/dataSources/{datasource}`."
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The account where the merchant review will be inserted. Format: accounts/{account}",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "MerchantReview"
              },
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews:insert",
              "description": "Inserts a review for your Merchant Center account. If the review already exists, then the review is replaced with the new instance.",
              "httpMethod": "POST"
            },
            "list": {
              "path": "reviews/v1beta/{+parent}/merchantReviews",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListMerchantReviews` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMerchantReviews` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of merchant reviews to return. The service can return fewer than this value. The maximum value is 1000; values above 1000 are coerced to 1000. If unspecified, the maximum number of reviews is returned.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. The account to list merchant reviews for. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "description": "Lists merchant reviews.",
              "response": {
                "$ref": "ListMerchantReviewsResponse"
              },
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews",
              "id": "merchantapi.accounts.merchantReviews.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/"
}