{
  "baseUrl": "https://merchantapi.googleapis.com/",
  "id": "merchantapi:reviews_v1beta",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "schemas": {
    "ProductReviewStatus": {
      "description": "Product review status.",
      "id": "ProductReviewStatus",
      "type": "object",
      "properties": {
        "destinationStatuses": {
          "items": {
            "$ref": "ProductReviewDestinationStatus"
          },
          "description": "Output only. The intended destinations for the product review.",
          "readOnly": true,
          "type": "array"
        },
        "itemLevelIssues": {
          "type": "array",
          "items": {
            "$ref": "ProductReviewItemLevelIssue"
          },
          "description": "Output only. A list of all issues associated with the product review.",
          "readOnly": true
        },
        "lastUpdateTime": {
          "description": "Output only. Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "MerchantReviewDestinationStatus": {
      "id": "MerchantReviewDestinationStatus",
      "type": "object",
      "properties": {
        "reportingContext": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "readOnly": true,
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "description": "Output only. The name of the reporting context."
        }
      },
      "description": "The destination status of the merchant review status."
    },
    "MerchantReviewAttributes": {
      "description": "Attributes.",
      "id": "MerchantReviewAttributes",
      "type": "object",
      "properties": {
        "reviewerId": {
          "description": "Optional. A permanent, unique identifier for the author of the review in the publisher's system.",
          "type": "string"
        },
        "maxRating": {
          "description": "Optional. The maximum possible number for the rating. The value of the max rating must be greater than the value of the min rating.",
          "type": "string",
          "format": "int64"
        },
        "reviewCountry": {
          "description": "Optional. The country where the reviewer made the order defined by ISO 3166-1 Alpha-2 Country Code.",
          "type": "string"
        },
        "merchantId": {
          "description": "Required. Must be unique and stable across all requests. In other words, if a request today and another 90 days ago refer to the same merchant, they must have the same id.",
          "type": "string"
        },
        "content": {
          "description": "Required. This should be any freeform text provided by the user and should not be truncated. If multiple responses to different questions are provided, all responses should be included, with the minimal context for the responses to make sense. Context should not be provided if questions were left unanswered.",
          "type": "string"
        },
        "rating": {
          "description": "Optional. The reviewer's overall rating of the merchant.",
          "type": "number",
          "format": "double"
        },
        "isAnonymous": {
          "description": "Optional. Set to true if the reviewer should remain anonymous.",
          "type": "boolean"
        },
        "reviewerUsername": {
          "description": "Optional. Display name of the review author.",
          "type": "string"
        },
        "collectionMethod": {
          "description": "Optional. The method used to collect the review.",
          "type": "string",
          "enumDescriptions": [
            "Collection method unspecified.",
            "The user was not responding to a specific solicitation when they submitted the review.",
            "The user submitted the review in response to a solicitation when the user placed an order.",
            "The user submitted the review in response to a solicitation after fulfillment of the user's order."
          ],
          "enum": [
            "COLLECTION_METHOD_UNSPECIFIED",
            "MERCHANT_UNSOLICITED",
            "POINT_OF_SALE",
            "AFTER_FULFILLMENT"
          ]
        },
        "minRating": {
          "description": "Optional. The minimum possible number for the rating. This should be the worst possible rating and should not be a value for no rating.",
          "type": "string",
          "format": "int64"
        },
        "merchantLink": {
          "description": "Optional. URL to the merchant's main website. Do not use a redirect URL for this value. In other words, the value should point directly to the merchant's site.",
          "type": "string"
        },
        "merchantRatingLink": {
          "description": "Optional. URL to the landing page that hosts the reviews for this merchant. Do not use a redirect URL.",
          "type": "string"
        },
        "reviewTime": {
          "description": "Required. The timestamp indicating when the review was written.",
          "type": "string",
          "format": "google-datetime"
        },
        "title": {
          "description": "Optional. The title of the review.",
          "type": "string"
        },
        "reviewLanguage": {
          "description": "Optional. The language of the review defined by BCP-47 language code.",
          "type": "string"
        },
        "merchantDisplayName": {
          "description": "Optional. Human-readable display name for the merchant.",
          "type": "string"
        }
      }
    },
    "MerchantReview": {
      "description": "A review for a merchant. For more information, see [Introduction to Merchant Review Feeds](https://developers.google.com/merchant-review-feeds)",
      "id": "MerchantReview",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the merchant review. Format: `\"{merchantreview.name=accounts/{account}/merchantReviews/{merchantReview}}\"`",
          "type": "string"
        },
        "dataSource": {
          "description": "Output only. The primary data source of the merchant review.",
          "readOnly": true,
          "type": "string"
        },
        "merchantReviewAttributes": {
          "description": "Optional. A list of merchant review attributes.",
          "$ref": "MerchantReviewAttributes"
        },
        "merchantReviewStatus": {
          "$ref": "MerchantReviewStatus",
          "description": "Output only. The status of a merchant review, data validation issues, that is, information about a merchant review computed asynchronously.",
          "readOnly": true
        },
        "merchantReviewId": {
          "description": "Required. The user provided merchant review ID to uniquely identify the merchant review.",
          "type": "string"
        },
        "customAttributes": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "Optional. A list of custom (merchant-provided) attributes. It can also be used for submitting any attribute of the data specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as experimental attributes. Maximum allowed number of characters for each custom attribute is 10240 (represents sum of characters for name and value). Maximum 2500 custom attributes can be set per product, with total size of 102.4kB. Underscores in custom attribute names are replaced by spaces upon insertion.",
          "type": "array"
        }
      }
    },
    "ProductStatusChangeMessage": {
      "description": "The message that the merchant will receive to notify about product status change event",
      "id": "ProductStatusChangeMessage",
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product",
            "Account service"
          ],
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT",
            "ACCOUNT_SERVICE"
          ],
          "description": "The resource that changed, in this case it will always be `Product`."
        },
        "attribute": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "description": "The attribute in the resource that changed, in this case it will be always `Status`."
        },
        "changes": {
          "description": "A message to describe the change that happened to the product",
          "items": {
            "$ref": "ProductChange"
          },
          "type": "array"
        },
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        },
        "eventTime": {
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceId": {
          "description": "The product id.",
          "type": "string"
        },
        "resource": {
          "description": "The product name. Format: `accounts/{account}/products/{product}`",
          "type": "string"
        },
        "managingAccount": {
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event."
        }
      }
    },
    "ProductReviewItemLevelIssue": {
      "description": "The ItemLevelIssue of the product review status.",
      "id": "ProductReviewItemLevelIssue",
      "type": "object",
      "properties": {
        "attribute": {
          "type": "string",
          "description": "Output only. The attribute's name, if the issue is caused by a single attribute.",
          "readOnly": true
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOT_IMPACTED",
            "DISAPPROVED"
          ],
          "description": "Output only. How this issue affects serving of the product review.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "This issue represents a warning and does not have a direct affect on the product review.",
            "Issue disapproves the product review."
          ],
          "readOnly": true
        },
        "reportingContext": {
          "description": "Output only. The reporting context the issue applies to.",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "documentation": {
          "description": "Output only. The URL of a web page to help with resolving this issue.",
          "readOnly": true,
          "type": "string"
        },
        "detail": {
          "description": "Output only. A detailed issue description in English.",
          "readOnly": true,
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Output only. The error code of the issue.",
          "readOnly": true
        },
        "resolution": {
          "type": "string",
          "description": "Output only. Whether the issue can be resolved by the merchant.",
          "readOnly": true
        },
        "description": {
          "description": "Output only. A short issue description in English.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListMerchantReviewsResponse": {
      "id": "ListMerchantReviewsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of results.",
          "type": "string"
        },
        "merchantReviews": {
          "items": {
            "$ref": "MerchantReview"
          },
          "description": "The merchant review.",
          "type": "array"
        }
      },
      "description": "Response message for the `ListMerchantsReview` method."
    },
    "ProductReview": {
      "description": "A review for a product. For more information, see [Introduction to Product Review Feeds](https://developers.google.com/product-review-feeds)",
      "id": "ProductReview",
      "type": "object",
      "properties": {
        "productReviewAttributes": {
          "description": "Optional. A list of product review attributes.",
          "$ref": "ProductReviewAttributes"
        },
        "dataSource": {
          "type": "string",
          "description": "Output only. The primary data source of the product review.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The name of the product review. Format: `\"{productreview.name=accounts/{account}/productReviews/{productReview}}\"`",
          "type": "string"
        },
        "productReviewId": {
          "description": "Required. The permanent, unique identifier for the product review in the publisher’s system.",
          "type": "string"
        },
        "customAttributes": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "Optional. A list of custom (merchant-provided) attributes.",
          "type": "array"
        },
        "productReviewStatus": {
          "$ref": "ProductReviewStatus",
          "description": "Output only. The status of a product review, data validation issues, that is, information about a product review computed asynchronously.",
          "readOnly": true
        }
      }
    },
    "ReviewLink": {
      "description": "The URI of the review landing page.",
      "id": "ReviewLink",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type unspecified.",
            "The review page contains only this single review.",
            "The review page contains a group of reviews including this review."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SINGLETON",
            "GROUP"
          ],
          "description": "Optional. Type of the review URI."
        },
        "link": {
          "description": "Optional. The URI of the review landing page. For example: `http://www.example.com/review_5.html`.",
          "type": "string"
        }
      }
    },
    "MerchantReviewItemLevelIssue": {
      "description": "The ItemLevelIssue of the merchant review status.",
      "id": "MerchantReviewItemLevelIssue",
      "type": "object",
      "properties": {
        "code": {
          "description": "Output only. The error code of the issue.",
          "readOnly": true,
          "type": "string"
        },
        "resolution": {
          "type": "string",
          "description": "Output only. Whether the issue can be resolved by the merchant.",
          "readOnly": true
        },
        "description": {
          "description": "Output only. A short issue description in English.",
          "readOnly": true,
          "type": "string"
        },
        "attribute": {
          "description": "Output only. The attribute's name, if the issue is caused by a single attribute.",
          "readOnly": true,
          "type": "string"
        },
        "severity": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "This issue represents a warning and does not have a direct affect on the merchant review.",
            "Issue disapproves the merchant review."
          ],
          "description": "Output only. How this issue affects serving of the merchant review.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOT_IMPACTED",
            "DISAPPROVED"
          ]
        },
        "reportingContext": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Output only. The reporting context the issue applies to.",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ]
        },
        "documentation": {
          "type": "string",
          "description": "Output only. The URL of a web page to help with resolving this issue.",
          "readOnly": true
        },
        "detail": {
          "type": "string",
          "description": "Output only. A detailed issue description in English.",
          "readOnly": true
        }
      }
    },
    "ListProductReviewsResponse": {
      "description": "response message for the ListProductReviews method.",
      "id": "ListProductReviewsResponse",
      "type": "object",
      "properties": {
        "productReviews": {
          "type": "array",
          "description": "The product review.",
          "items": {
            "$ref": "ProductReview"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "CustomAttribute": {
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty.",
      "id": "CustomAttribute",
      "type": "object",
      "properties": {
        "groupValues": {
          "type": "array",
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty.",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "name": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "value": {
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty.",
          "type": "string"
        }
      }
    },
    "ProductReviewAttributes": {
      "description": "Attributes.",
      "id": "ProductReviewAttributes",
      "type": "object",
      "properties": {
        "brands": {
          "description": "Optional. Contains brand names associated with a product.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "collectionMethod": {
          "description": "Optional. The method used to collect the review.",
          "type": "string",
          "enumDescriptions": [
            "Collection method unspecified.",
            "The user was not responding to a specific solicitation when they submitted the review.",
            "The user submitted the review in response to a solicitation after fulfillment of the user's order."
          ],
          "enum": [
            "COLLECTION_METHOD_UNSPECIFIED",
            "UNSOLICITED",
            "POST_FULFILLMENT"
          ]
        },
        "asins": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains ASINs (Amazon Standard Identification Numbers) associated with a product.",
          "type": "array"
        },
        "maxRating": {
          "description": "Optional. The maximum possible number for the rating. The value of the max rating must be greater than the value of the min attribute.",
          "type": "string",
          "format": "int64"
        },
        "reviewerId": {
          "description": "Optional. The author of the product review. A permanent, unique identifier for the author of the review in the publisher's system.",
          "type": "string"
        },
        "reviewerImageLinks": {
          "description": "Optional. A URI to an image of the reviewed product created by the review author. The URI does not have to end with an image file extension.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "reviewerIsAnonymous": {
          "description": "Optional. Set to true if the reviewer should remain anonymous.",
          "type": "boolean"
        },
        "reviewLanguage": {
          "description": "Optional. The language of the review defined by BCP-47 language code.",
          "type": "string"
        },
        "title": {
          "description": "Optional. The title of the review.",
          "type": "string"
        },
        "reviewTime": {
          "description": "Required. The timestamp indicating when the review was written.",
          "type": "string",
          "format": "google-datetime"
        },
        "reviewLink": {
          "description": "Optional. The URI of the review landing page.",
          "$ref": "ReviewLink"
        },
        "skus": {
          "type": "array",
          "description": "Optional. Contains SKUs (stock keeping units) associated with a product. Often this matches the product Offer Id in the product feed.",
          "items": {
            "type": "string"
          }
        },
        "pros": {
          "description": "Optional. Contains the advantages based on the opinion of the reviewer. Omit boilerplate text like \"pro:\" unless it was written by the reviewer.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cons": {
          "description": "Optional. Contains the disadvantages based on the opinion of the reviewer. Omit boilerplate text like \"con:\" unless it was written by the reviewer.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "minRating": {
          "description": "Optional. Contains the ratings associated with the review. The minimum possible number for the rating. This should be the worst possible rating and should not be a value for no rating.",
          "type": "string",
          "format": "int64"
        },
        "rating": {
          "description": "Optional. The reviewer's overall rating of the product.",
          "type": "number",
          "format": "double"
        },
        "publisherFavicon": {
          "description": "Optional. A link to the company favicon of the publisher. The image dimensions should be favicon size: 16x16 pixels. The image format should be GIF, JPG or PNG.",
          "type": "string"
        },
        "content": {
          "description": "Optional. The content of the review. If empty, the content might still get populated from pros and cons.",
          "type": "string"
        },
        "reviewCountry": {
          "description": "Optional. The country of the review defined by ISO 3166-1 Alpha-2 Country Code.",
          "type": "string"
        },
        "reviewerUsername": {
          "description": "Optional. The name of the reviewer of the product review.",
          "type": "string"
        },
        "productNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Descriptive name of a product.",
          "type": "array"
        },
        "isIncentivizedReview": {
          "description": "Optional. Indicates whether the review is incentivized.",
          "type": "boolean"
        },
        "gtins": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains GTINs (global trade item numbers) associated with a product. Sub-types of GTINs (e.g. UPC, EAN, ISBN, JAN) are supported.",
          "type": "array"
        },
        "publisherName": {
          "description": "Optional. The name of the publisher of the product reviews. The information about the publisher, which may be a retailer, manufacturer, reviews service company, or any entity that publishes product reviews.",
          "type": "string"
        },
        "productLinks": {
          "description": "Optional. The URI of the product. This URI can have the same value as the `review_link` element, if the review URI and the product URI are the same.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "subclientName": {
          "description": "Optional. The name of the subclient of the product reviews. The subclient is an identifier of the product review source. It should be equivalent to the directory provided in the file data source path.",
          "type": "string"
        },
        "transactionId": {
          "description": "Optional. A permanent, unique identifier for the transaction associated with the review in the publisher's system. This ID can be used to indicate that multiple reviews are associated with the same transaction.",
          "type": "string"
        },
        "isVerifiedPurchase": {
          "description": "Optional. Indicates whether the reviewer's purchase is verified.",
          "type": "boolean"
        },
        "aggregatorName": {
          "description": "Optional. The name of the aggregator of the product reviews. A publisher may use a reviews aggregator to manage reviews and provide the feeds. This element indicates the use of an aggregator and contains information about the aggregator.",
          "type": "string"
        },
        "mpns": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains MPNs (manufacturer part numbers) associated with a product.",
          "type": "array"
        },
        "isSpam": {
          "description": "Optional. Indicates whether the review is marked as spam in the publisher's system.",
          "type": "boolean"
        }
      }
    },
    "MerchantReviewStatus": {
      "description": "The status of a merchant review, data validation issues, that is, information about a merchant review computed asynchronously.",
      "id": "MerchantReviewStatus",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "lastUpdateTime": {
          "description": "Output only. Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "destinationStatuses": {
          "items": {
            "$ref": "MerchantReviewDestinationStatus"
          },
          "description": "Output only. The intended destinations for the merchant review.",
          "readOnly": true,
          "type": "array"
        },
        "itemLevelIssues": {
          "type": "array",
          "description": "Output only. A list of all issues associated with the merchant review.",
          "readOnly": true,
          "items": {
            "$ref": "MerchantReviewItemLevelIssue"
          }
        }
      }
    },
    "ProductChange": {
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context.",
      "id": "ProductChange",
      "type": "object",
      "properties": {
        "oldValue": {
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "newValue": {
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "regionCode": {
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format.",
          "type": "string"
        },
        "reportingContext": {
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ProductReviewDestinationStatus": {
      "description": "The destination status of the product review status.",
      "id": "ProductReviewDestinationStatus",
      "type": "object",
      "properties": {
        "reportingContext": {
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "description": "Output only. The name of the reporting context.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "readOnly": true
        }
      }
    }
  },
  "revision": "20260617",
  "version_module": true,
  "ownerName": "Google",
  "protocol": "rest",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "basePath": "",
  "batchPath": "batch",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "accounts": {
      "resources": {
        "productReviews": {
          "methods": {
            "list": {
              "id": "merchantapi.accounts.productReviews.list",
              "description": "Lists product reviews.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListProductReviews` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductReviews` must match the call that provided the page token."
                },
                "pageSize": {
                  "description": "Optional. The maximum number of products to return. The service may return fewer than this value.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The account to list product reviews for. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "reviews/v1beta/{+parent}/productReviews",
              "response": {
                "$ref": "ListProductReviewsResponse"
              },
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews",
              "httpMethod": "GET"
            },
            "insert": {
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews:insert",
              "request": {
                "$ref": "ProductReview"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "ProductReview"
              },
              "description": "Inserts a product review.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.productReviews.insert",
              "path": "reviews/v1beta/{+parent}/productReviews:insert",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account where the product review will be inserted. Format: accounts/{account}"
                },
                "dataSource": {
                  "description": "Required. Format: `accounts/{account}/dataSources/{datasource}`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "path": "reviews/v1beta/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the merchant review. Format: accounts/{account}/productReviews/{productReview}",
                  "pattern": "^accounts/[^/]+/productReviews/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Gets a product review.",
              "id": "merchantapi.accounts.productReviews.get",
              "httpMethod": "GET",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews/{productReviewsId}",
              "response": {
                "$ref": "ProductReview"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Deletes a product review.",
              "id": "merchantapi.accounts.productReviews.delete",
              "path": "reviews/v1beta/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/productReviews/[^/]+$",
                  "description": "Required. The ID of the Product review. Format: accounts/{account}/productReviews/{productReview}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews/{productReviewsId}",
              "response": {
                "$ref": "Empty"
              }
            }
          }
        },
        "merchantReviews": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews/{merchantReviewsId}",
              "response": {
                "$ref": "MerchantReview"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Gets a merchant review.",
              "id": "merchantapi.accounts.merchantReviews.get",
              "path": "reviews/v1beta/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/merchantReviews/[^/]+$",
                  "description": "Required. The ID of the merchant review. Format: accounts/{account}/merchantReviews/{merchantReview}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "id": "merchantapi.accounts.merchantReviews.delete",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Deletes merchant review.",
              "parameters": {
                "name": {
                  "description": "Required. The ID of the merchant review. Format: accounts/{account}/merchantReviews/{merchantReview}",
                  "pattern": "^accounts/[^/]+/merchantReviews/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "reviews/v1beta/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews/{merchantReviewsId}"
            },
            "insert": {
              "id": "merchantapi.accounts.merchantReviews.insert",
              "description": "Inserts a review for your Merchant Center account. If the review already exists, then the review is replaced with the new instance.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account where the merchant review will be inserted. Format: accounts/{account}"
                },
                "dataSource": {
                  "description": "Required. The data source of the [merchantreview](https://support.google.com/merchants/answer/7045996?sjid=5253581244217581976-EU) Format: `accounts/{account}/dataSources/{datasource}`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "reviews/v1beta/{+parent}/merchantReviews:insert",
              "response": {
                "$ref": "MerchantReview"
              },
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews:insert",
              "request": {
                "$ref": "MerchantReview"
              },
              "httpMethod": "POST"
            },
            "list": {
              "httpMethod": "GET",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews",
              "response": {
                "$ref": "ListMerchantReviewsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Lists merchant reviews.",
              "id": "merchantapi.accounts.merchantReviews.list",
              "path": "reviews/v1beta/{+parent}/merchantReviews",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListMerchantReviews` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMerchantReviews` must match the call that provided the page token."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of merchant reviews to return. The service can return fewer than this value. The maximum value is 1000; values above 1000 are coerced to 1000. If unspecified, the maximum number of reviews is returned."
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account to list merchant reviews for. Format: accounts/{account}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/merchant/api",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Merchant API",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "version": "reviews_v1beta",
  "name": "merchantapi",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "canonicalName": "Merchant"
}