{
  "baseUrl": "https://merchantapi.googleapis.com/",
  "revision": "20260617",
  "servicePath": "",
  "title": "Merchant API",
  "version_module": true,
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "id": "merchantapi:conversions_v1",
  "discoveryVersion": "v1",
  "canonicalName": "Merchant",
  "schemas": {
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "ProductStatusChangeMessage": {
      "description": "The message that the merchant will receive to notify about product status change event",
      "type": "object",
      "properties": {
        "expirationTime": {
          "format": "google-datetime",
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "type": "string"
        },
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        },
        "resourceType": {
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product",
            "Account service"
          ],
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT",
            "ACCOUNT_SERVICE"
          ],
          "description": "The resource that changed, in this case it will always be `Product`.",
          "type": "string"
        },
        "resource": {
          "description": "The product name. Format: `accounts/{account}/products/{product}`",
          "type": "string"
        },
        "attribute": {
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "description": "The attribute in the resource that changed, in this case it will be always `Status`.",
          "type": "string"
        },
        "managingAccount": {
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`",
          "type": "string"
        },
        "eventTime": {
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceId": {
          "description": "The product id.",
          "type": "string"
        },
        "changes": {
          "description": "A message to describe the change that happened to the product",
          "type": "array",
          "items": {
            "$ref": "ProductChange"
          }
        }
      },
      "id": "ProductStatusChangeMessage"
    },
    "GoogleAnalyticsLink": {
      "description": "\"Google Analytics Link\" sources can be used to get conversion data from an existing Google Analytics property into the linked Merchant Center account.",
      "type": "object",
      "properties": {
        "propertyId": {
          "format": "int64",
          "description": "Required. Immutable. ID of the Google Analytics property the merchant is linked to.",
          "type": "string"
        },
        "attributionSettings": {
          "$ref": "AttributionSettings",
          "description": "Output only. Attribution settings for the linked Google Analytics property.",
          "readOnly": true
        },
        "property": {
          "readOnly": true,
          "description": "Output only. Name of the Google Analytics property the merchant is linked to.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsLink"
    },
    "MerchantCenterDestination": {
      "description": "\"Merchant Center Destination\" sources can be used to send conversion events from an online store using a Google tag directly to a Merchant Center account where the source is created.",
      "type": "object",
      "properties": {
        "attributionSettings": {
          "description": "Required. Attribution settings used for the Merchant Center Destination.",
          "$ref": "AttributionSettings"
        },
        "destination": {
          "description": "Output only. Merchant Center Destination ID.",
          "type": "string",
          "readOnly": true
        },
        "currencyCode": {
          "description": "Required. Three-letter currency code (ISO 4217). The currency code defines in which currency the conversions sent to this destination will be reported in Merchant Center.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Merchant-specified display name for the destination. This is the name that identifies the conversion source within the Merchant Center UI. The maximum length is 64 characters.",
          "type": "string"
        }
      },
      "id": "MerchantCenterDestination"
    },
    "ConversionSource": {
      "id": "ConversionSource",
      "description": "Represents a conversion source owned by a Merchant account. A merchant account can have up to 200 conversion sources.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. Current state of this conversion source. Can't be edited through the API.",
          "enumDescriptions": [
            "Conversion source has unspecified state.",
            "Conversion source is fully functional.",
            "Conversion source has been archived in the last 30 days and is currently not functional. Can be restored using the undelete method.",
            "Conversion source creation has started but not fully finished yet."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED",
            "PENDING"
          ],
          "readOnly": true,
          "type": "string"
        },
        "merchantCenterDestination": {
          "description": "Conversion Source of type \"Merchant Center Tag Destination\".",
          "$ref": "MerchantCenterDestination"
        },
        "googleAnalyticsLink": {
          "description": "Immutable. Conversion Source of type \"Link to Google Analytics Property\".",
          "$ref": "GoogleAnalyticsLink"
        },
        "controller": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Controlled by the Merchant who owns the Conversion Source.",
            "Controlled by the Youtube Affiliates program."
          ],
          "enum": [
            "CONTROLLER_UNSPECIFIED",
            "MERCHANT",
            "YOUTUBE_AFFILIATES"
          ],
          "description": "Output only. Controller of the conversion source."
        },
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when an archived conversion source becomes permanently deleted and is no longer available to undelete.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. Generated by the Content API upon creation of a new `ConversionSource`. Format: `[a-z]{4}:.+` The four characters before the colon represent the type of conversion source. Content after the colon represents the ID of the conversion source within that type. The ID of two different conversion sources might be the same across different types. The following type prefixes are supported: * `galk`: For GoogleAnalyticsLink sources. * `mcdn`: For MerchantCenterDestination sources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ProductChange": {
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context.",
      "type": "object",
      "properties": {
        "reportingContext": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)"
        },
        "oldValue": {
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "newValue": {
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "regionCode": {
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format.",
          "type": "string"
        }
      },
      "id": "ProductChange"
    },
    "ConversionType": {
      "description": "Message representing the type of a conversion event.",
      "type": "object",
      "properties": {
        "report": {
          "readOnly": true,
          "description": "Output only. Option indicating if the type should be included in Merchant Center reporting.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Conversion event name, as it'll be reported by the client.",
          "type": "string"
        }
      },
      "id": "ConversionType"
    },
    "UndeleteConversionSourceRequest": {
      "description": "Request message for the UndeleteConversionSource method.",
      "type": "object",
      "properties": {},
      "id": "UndeleteConversionSourceRequest"
    },
    "AttributionSettings": {
      "id": "AttributionSettings",
      "description": "Represents attribution settings for conversion sources receiving pre-attribution data.",
      "type": "object",
      "properties": {
        "attributionLookbackWindowDays": {
          "format": "int32",
          "description": "Required. Lookback window (in days) used for attribution in this source. Supported values are `7`, `30` & `40`.",
          "type": "integer"
        },
        "attributionModel": {
          "enumDescriptions": [
            "Unspecified model.",
            "Cross-channel Last Click model.",
            "Ads-preferred Last Click model.",
            "Cross-channel Data Driven model.",
            "Cross-channel First Click model.",
            "Cross-channel Linear model.",
            "Cross-channel Position Based model.",
            "Cross-channel Time Decay model."
          ],
          "enum": [
            "ATTRIBUTION_MODEL_UNSPECIFIED",
            "CROSS_CHANNEL_LAST_CLICK",
            "ADS_PREFERRED_LAST_CLICK",
            "CROSS_CHANNEL_DATA_DRIVEN",
            "CROSS_CHANNEL_FIRST_CLICK",
            "CROSS_CHANNEL_LINEAR",
            "CROSS_CHANNEL_POSITION_BASED",
            "CROSS_CHANNEL_TIME_DECAY"
          ],
          "description": "Required. Attribution model.",
          "type": "string"
        },
        "conversionType": {
          "description": "Immutable. Unordered list. List of different conversion types a conversion event can be classified as. A standard \"purchase\" type will be automatically created if this list is empty at creation time.",
          "type": "array",
          "items": {
            "$ref": "ConversionType"
          }
        }
      }
    },
    "ListConversionSourcesResponse": {
      "description": "Response message for the ListConversionSources method.",
      "type": "object",
      "properties": {
        "conversionSources": {
          "description": "List of conversion sources.",
          "type": "array",
          "items": {
            "$ref": "ConversionSource"
          }
        },
        "nextPageToken": {
          "description": "Token to be used to fetch the next results page.",
          "type": "string"
        }
      },
      "id": "ListConversionSourcesResponse"
    }
  },
  "version": "conversions_v1",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "name": "merchantapi",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "resources": {
    "accounts": {
      "resources": {
        "conversionSources": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/conversionSources/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the conversion source to be fetched. Format: `accounts/{account}/conversionSources/{conversion_source}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "conversions/v1/{+name}",
              "description": "Fetches a conversion source.",
              "id": "merchantapi.accounts.conversionSources.get",
              "flatPath": "conversions/v1/accounts/{accountsId}/conversionSources/{conversionSourcesId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ConversionSource"
              }
            },
            "delete": {
              "path": "conversions/v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/conversionSources/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the conversion source to be deleted. Format: `accounts/{account}/conversionSources/{conversion_source}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Archives an existing conversion source. If the conversion source is a Merchant Center Destination, it will be recoverable for 30 days. If the conversion source is a Google Analytics Link, it will be deleted immediately and can be restored by creating a new one.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "merchantapi.accounts.conversionSources.delete",
              "flatPath": "conversions/v1/accounts/{accountsId}/conversionSources/{conversionSourcesId}",
              "httpMethod": "DELETE"
            },
            "patch": {
              "path": "conversions/v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "description": "Output only. Identifier. Generated by the Content API upon creation of a new `ConversionSource`. Format: `[a-z]{4}:.+` The four characters before the colon represent the type of conversion source. Content after the colon represents the ID of the conversion source within that type. The ID of two different conversion sources might be the same across different types. The following type prefixes are supported: * `galk`: For GoogleAnalyticsLink sources. * `mcdn`: For MerchantCenterDestination sources.",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/conversionSources/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Optional. List of fields being updated.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "ConversionSource"
              },
              "description": "Updates information of an existing conversion source. Available only for Merchant Center Destination conversion sources.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ConversionSource"
              },
              "id": "merchantapi.accounts.conversionSources.patch",
              "flatPath": "conversions/v1/accounts/{accountsId}/conversionSources/{conversionSourcesId}",
              "httpMethod": "PATCH"
            },
            "undelete": {
              "path": "conversions/v1/{+name}:undelete",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the conversion source to be undeleted. Format: `accounts/{account}/conversionSources/{conversion_source}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/conversionSources/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ConversionSource"
              },
              "id": "merchantapi.accounts.conversionSources.undelete",
              "flatPath": "conversions/v1/accounts/{accountsId}/conversionSources/{conversionSourcesId}:undelete",
              "httpMethod": "POST",
              "request": {
                "$ref": "UndeleteConversionSourceRequest"
              },
              "description": "Re-enables an archived conversion source. Only Available for Merchant Center Destination conversion sources."
            },
            "create": {
              "path": "conversions/v1/{+parent}/conversionSources",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The merchant account that will own the new conversion source. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "ConversionSource"
              },
              "description": "Creates a new conversion source.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ConversionSource"
              },
              "id": "merchantapi.accounts.conversionSources.create",
              "flatPath": "conversions/v1/accounts/{accountsId}/conversionSources",
              "httpMethod": "POST"
            },
            "list": {
              "path": "conversions/v1/{+parent}/conversionSources",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of conversion sources to return in a page. If no `page_size` is specified, `100` is used as the default value. The maximum value is `200`. Values above `200` will be coerced to `200`. Regardless of pagination, at most `200` conversion sources are returned in total.",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The merchant account who owns the collection of conversion sources. Format: `accounts/{account}`"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "type": "string",
                  "location": "query"
                },
                "showDeleted": {
                  "description": "Optional. Show deleted (archived) conversion sources. By default, deleted conversion sources are not returned.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves the list of conversion sources the caller has access to.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListConversionSourcesResponse"
              },
              "id": "merchantapi.accounts.conversionSources.list",
              "flatPath": "conversions/v1/accounts/{accountsId}/conversionSources",
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/merchant/api",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest"
}