{
  "ownerDomain": "google.com",
  "id": "migrationcenter:v1alpha1",
  "name": "migrationcenter",
  "servicePath": "",
  "protocol": "rest",
  "title": "Migration Center API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/migration-center",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "version": "v1alpha1",
  "batchPath": "batch",
  "schemas": {
    "ListGroupsResponse": {
      "id": "ListGroupsResponse",
      "type": "object",
      "description": "A response for listing groups.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "type": "array",
          "description": "The list of Group"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "DatabaseDetails": {
      "description": "Details of a logical database.",
      "type": "object",
      "id": "DatabaseDetails",
      "properties": {
        "allocatedStorageBytes": {
          "format": "int64",
          "type": "string",
          "description": "The allocated storage for the database in bytes."
        },
        "parentDatabaseDeployment": {
          "$ref": "DatabaseDetailsParentDatabaseDeployment",
          "description": "The parent database deployment that contains the logical database."
        },
        "schemas": {
          "items": {
            "$ref": "DatabaseSchema"
          },
          "description": "The database schemas.",
          "type": "array"
        },
        "databaseName": {
          "type": "string",
          "description": "The name of the database."
        }
      }
    },
    "MachineSeries": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Code to identify a machine series. Consult this for more details on the available series for Compute Engine: https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison Consult this for more details on the available series for Google Cloud VMware Engine: https://cloud.google.com/vmware-engine/pricing",
          "type": "string"
        }
      },
      "id": "MachineSeries",
      "description": "A machine series, for a target product (e.g. Compute Engine, Google Cloud VMware Engine)."
    },
    "RemoveAssetsFromGroupRequest": {
      "type": "object",
      "description": "A request to remove assets from a group.",
      "id": "RemoveAssetsFromGroupRequest",
      "properties": {
        "assets": {
          "$ref": "AssetList",
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "ValidationReport": {
      "properties": {
        "fileValidations": {
          "type": "array",
          "items": {
            "$ref": "FileValidationReport"
          },
          "description": "List of errors found in files."
        },
        "jobErrors": {
          "type": "array",
          "items": {
            "$ref": "ImportError"
          },
          "description": "List of job level errors."
        }
      },
      "id": "ValidationReport",
      "type": "object",
      "description": "A resource that aggregates errors across import job files."
    },
    "Selinux": {
      "description": "SELinux details.",
      "properties": {
        "mode": {
          "description": "SELinux mode disabled / enforcing / permissive.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Is SELinux enabled."
        }
      },
      "type": "object",
      "id": "Selinux"
    },
    "RuntimeNetworkInfo": {
      "description": "Runtime networking information.",
      "type": "object",
      "id": "RuntimeNetworkInfo",
      "properties": {
        "rawScanResult": {
          "description": "Raw network scan result. This field is intended for human inspection. The format of this field may be netstat output or any another raw output. The exact format may change without notice and should not be relied upon.",
          "type": "string"
        },
        "netstat": {
          "description": "Netstat (raw, OS-agnostic).",
          "type": "string"
        },
        "netstatTime": {
          "description": "Netstat time collected.",
          "$ref": "DateTime"
        },
        "scanTime": {
          "format": "google-datetime",
          "description": "Time of the last network scan.",
          "type": "string"
        },
        "connections": {
          "$ref": "NetworkConnectionList",
          "description": "Network connections."
        }
      }
    },
    "DailyResourceUsageAggregation": {
      "properties": {
        "date": {
          "description": "Aggregation date. Day boundaries are at midnight UTC.",
          "$ref": "Date"
        },
        "cpu": {
          "description": "CPU usage.",
          "$ref": "DailyResourceUsageAggregationCPU"
        },
        "network": {
          "$ref": "DailyResourceUsageAggregationNetwork",
          "description": "Network usage."
        },
        "disk": {
          "$ref": "DailyResourceUsageAggregationDisk",
          "description": "Disk usage."
        },
        "memory": {
          "description": "Memory usage.",
          "$ref": "DailyResourceUsageAggregationMemory"
        }
      },
      "description": "Usage data aggregation for a single day.",
      "id": "DailyResourceUsageAggregation",
      "type": "object"
    },
    "AggregationResult": {
      "id": "AggregationResult",
      "properties": {
        "frequency": {
          "$ref": "AggregationResultFrequency"
        },
        "field": {
          "type": "string"
        },
        "sum": {
          "$ref": "AggregationResultSum"
        },
        "count": {
          "$ref": "AggregationResultCount"
        },
        "histogram": {
          "$ref": "AggregationResultHistogram"
        }
      },
      "type": "object",
      "description": "Message describing a result of an aggregation."
    },
    "DetectedSoftware": {
      "description": "Information about software detected on an asset.",
      "id": "DetectedSoftware",
      "type": "object",
      "properties": {
        "softwareName": {
          "description": "Output only. Software's name.",
          "readOnly": true,
          "type": "string"
        },
        "softwareFamily": {
          "description": "Output only. Software family of the detected software, e.g. Database, SAP family.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListPreferenceSetsResponse": {
      "id": "ListPreferenceSetsResponse",
      "description": "Response message for listing preference sets.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "preferenceSets": {
          "description": "The list of PreferenceSets",
          "type": "array",
          "items": {
            "$ref": "PreferenceSet"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MySqlSchemaDetails": {
      "description": "Specific details for a Mysql database.",
      "id": "MySqlSchemaDetails",
      "type": "object",
      "properties": {
        "storageEngines": {
          "items": {
            "$ref": "MySqlStorageEngineDetails"
          },
          "description": "Optional. Mysql storage engine tables.",
          "type": "array"
        }
      }
    },
    "ReportSummaryGroupPreferenceSetFinding": {
      "properties": {
        "monthlyCostCompute": {
          "$ref": "Money",
          "readOnly": true,
          "description": "Output only. Compute monthly cost for this preference set."
        },
        "soleTenantFinding": {
          "description": "A set of findings that applies to Stole-Tenant machines in the input. Only present for virtual machines.",
          "$ref": "ReportSummarySoleTenantFinding"
        },
        "monthlyCostStorage": {
          "description": "Output only. Storage monthly cost for this preference set.",
          "readOnly": true,
          "$ref": "Money"
        },
        "monthlyCostOsLicense": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. All operating systems licensing monthly cost for this preference set. Only present for virtual machines."
        },
        "monthlyCostPortableVmwareLicense": {
          "description": "Output only. VMware portable license monthly cost for this preference set. Only present for VMware target with portable license service type. This cost is not paid to google, but is an estimate of license costs paid to VMware.",
          "readOnly": true,
          "$ref": "Money"
        },
        "vmwareEngineFinding": {
          "description": "A set of findings that applies to VMWare machines in the input. Only present for virtual machines.",
          "$ref": "ReportSummaryVMWareEngineFinding"
        },
        "displayName": {
          "description": "Display Name of the Preference Set",
          "type": "string"
        },
        "monthlyCostDatabaseBackup": {
          "$ref": "Money",
          "readOnly": true,
          "description": "Output only. Backup monthly cost for this preference set. Only present for databases."
        },
        "monthlyCostGcveProtected": {
          "readOnly": true,
          "description": "Output only. GCVE Protected nodes cost for this preference set.",
          "$ref": "Money"
        },
        "machinePreferences": {
          "$ref": "VirtualMachinePreferences",
          "description": "A set of preferences that applies to all machines in the context."
        },
        "description": {
          "description": "Description for the Preference Set.",
          "type": "string"
        },
        "pricingTrack": {
          "deprecated": true,
          "description": "Text describing the pricing track specified for this Preference Set",
          "type": "string"
        },
        "machineFinding": {
          "readOnly": true,
          "description": "Output only. A set of findings that applies to all virtual machines in the input. Only present for virtual machines.",
          "$ref": "ReportSummaryMachineFinding"
        },
        "preferenceSet": {
          "$ref": "PreferenceSet",
          "description": "Output only. A copy of the preference set used for this finding.",
          "readOnly": true
        },
        "monthlyCostTotal": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. Total monthly cost for this preference set."
        },
        "databaseFinding": {
          "readOnly": true,
          "$ref": "ReportSummaryDatabaseFinding",
          "description": "Output only. Details about databases in this finding. Only present for databases."
        },
        "topPriority": {
          "description": "Text describing the business priority specified for this Preference Set",
          "deprecated": true,
          "type": "string"
        },
        "preferredRegion": {
          "type": "string",
          "deprecated": true,
          "description": "Target region for this Preference Set"
        },
        "monthlyCostOther": {
          "$ref": "Money",
          "description": "Output only. Miscellaneous monthly cost for this preference set.",
          "readOnly": true
        },
        "monthlyCostDatabaseLicensing": {
          "readOnly": true,
          "description": "Output only. Database licensing monthly cost for this preference set. Only present for databases.",
          "$ref": "Money"
        },
        "monthlyCostNetworkEgress": {
          "description": "Output only. Network Egress monthly cost for this preference set. Only present for virtual machines.",
          "$ref": "Money",
          "readOnly": true
        }
      },
      "id": "ReportSummaryGroupPreferenceSetFinding",
      "description": "Summary Findings for a specific Group/PreferenceSet combination.",
      "type": "object"
    },
    "VirtualMachinePreferences": {
      "description": "VirtualMachinePreferences enables you to create sets of preferences, for example, a geographical location and pricing track, for your migrated virtual machines. The set of preferences influence recommendations for migrating virtual machine assets.",
      "id": "VirtualMachinePreferences",
      "properties": {
        "sizingOptimizationStrategy": {
          "enumDescriptions": [
            "Unspecified (default value).",
            "No optimization applied. Virtual machine sizing matches as closely as possible the machine shape on the source site, not considering any actual performance data.",
            "Virtual machine sizing will match the reported usage and shape, with some slack. This a good value to start with.",
            "Virtual machine sizing will match the reported usage, with little slack. Using this option can help reduce costs.",
            "Virtual machine sizing will be determined by custom parameters. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "description": "Sizing optimization strategy specifies the preferred strategy used when extrapolating usage data to calculate insights and recommendations for a virtual machine. If you are unsure which value to set, a moderate sizing optimization strategy is often a good value to start with.",
          "type": "string",
          "enum": [
            "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE",
            "SIZING_OPTIMIZATION_STRATEGY_MODERATE",
            "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE",
            "SIZING_OPTIMIZATION_STRATEGY_CUSTOM"
          ]
        },
        "commitmentPlan": {
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_NONE",
            "COMMITMENT_PLAN_ONE_YEAR",
            "COMMITMENT_PLAN_THREE_YEARS",
            "COMMITMENT_PLAN_FLEXIBLE_ONE_YEAR",
            "COMMITMENT_PLAN_FLEXIBLE_THREE_YEARS"
          ],
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "type": "string",
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with."
        },
        "soleTenancyPreferences": {
          "description": "Preferences concerning Sole Tenant nodes and virtual machines.",
          "$ref": "SoleTenancyPreferences"
        },
        "sizingOptimizationCustomParameters": {
          "description": "Optional. Custom data to use for sizing optimizations. Relevant when SizingOptimizationStrategy is set to \"custom\".",
          "$ref": "VirtualMachinePreferencesSizingOptimizationCustomParameters"
        },
        "estimatedUsage": {
          "$ref": "EstimatedUsage",
          "description": "Optional. Estimated usage data for missing usage data. If performance data is available, it overrides this field. If not set, default values will be used for the usage data."
        },
        "computeEnginePreferences": {
          "description": "Optional. Compute Engine preferences concern insights and recommendations for Compute Engine target.",
          "$ref": "ComputeEnginePreferences"
        },
        "networkCostParameters": {
          "description": "Optional. Parameters that affect network cost estimations. If not set, default values will be used for the parameters.",
          "$ref": "VirtualMachinePreferencesNetworkCostParameters"
        },
        "targetProduct": {
          "description": "Target product for assets using this preference set. Specify either target product or business goal, but not both.",
          "enum": [
            "COMPUTE_MIGRATION_TARGET_PRODUCT_UNSPECIFIED",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_COMPUTE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_VMWARE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_SOLE_TENANCY"
          ],
          "enumDescriptions": [
            "Unspecified (default value).",
            "Prefer to migrate to Google Cloud Compute Engine.",
            "Prefer to migrate to Google Cloud VMware Engine.",
            "Prefer to migrate to Google Cloud Sole Tenant Nodes."
          ],
          "type": "string"
        },
        "vmwareEnginePreferences": {
          "description": "Preferences concerning insights and recommendations for Google Cloud VMware Engine.",
          "$ref": "VmwareEnginePreferences"
        },
        "regionPreferences": {
          "$ref": "RegionPreferences",
          "description": "Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If PreferenceSet.RegionPreferences is specified, it overrides this field."
        }
      },
      "type": "object"
    },
    "BiosDetails": {
      "type": "object",
      "description": "Details about the BIOS.",
      "id": "BiosDetails",
      "properties": {
        "biosName": {
          "description": "BIOS name.",
          "type": "string"
        },
        "releaseTime": {
          "description": "BIOS release date.",
          "format": "google-datetime",
          "type": "string"
        },
        "manufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        },
        "biosReleaseDate": {
          "type": "string",
          "description": "BIOS release date."
        },
        "id": {
          "type": "string",
          "description": "BIOS ID."
        },
        "biosVersion": {
          "type": "string",
          "description": "BIOS version."
        },
        "biosManufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        },
        "smbiosUuid": {
          "description": "SMBIOS UUID.",
          "type": "string"
        },
        "version": {
          "description": "BIOS version.",
          "type": "string"
        }
      }
    },
    "VirtualMachinePreferencesNetworkCostParameters": {
      "type": "object",
      "properties": {
        "estimatedEgressTrafficPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. An estimated percentage of priced outbound traffic (egress traffic) from the measured outbound traffic. Must be in the interval [0, 100]."
        }
      },
      "id": "VirtualMachinePreferencesNetworkCostParameters",
      "description": "Parameters that affect network cost estimations."
    },
    "PostgreSqlSchemaDetails": {
      "id": "PostgreSqlSchemaDetails",
      "type": "object",
      "description": "Specific details for a PostgreSql schema.",
      "properties": {
        "postgresqlExtensions": {
          "type": "array",
          "description": "Optional. PostgreSql extensions.",
          "items": {
            "$ref": "PostgreSqlExtension"
          }
        },
        "foreignTablesCount": {
          "description": "Optional. PostgreSql foreign tables.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ImportRowErrorCsvErrorDetails": {
      "type": "object",
      "id": "ImportRowErrorCsvErrorDetails",
      "description": "Error details for a CSV file.",
      "properties": {
        "rowNumber": {
          "type": "integer",
          "description": "The row number where the error was detected.",
          "format": "int32"
        }
      }
    },
    "AwsS3BucketDetailsVersioning": {
      "description": "Versioning configuration of the bucket.",
      "properties": {
        "enabled": {
          "description": "Optional. Whether versioning is enabled.",
          "type": "boolean"
        }
      },
      "id": "AwsS3BucketDetailsVersioning",
      "type": "object"
    },
    "PostgreSqlSetting": {
      "properties": {
        "unit": {
          "description": "Optional. The setting unit.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Required. The setting source."
        },
        "setting": {
          "type": "string",
          "description": "Required. The setting name."
        },
        "boolValue": {
          "description": "Required. The setting boolean value.",
          "type": "boolean"
        },
        "realValue": {
          "format": "float",
          "description": "Required. The setting real value.",
          "type": "number"
        },
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "Required. The setting int value."
        },
        "stringValue": {
          "description": "Required. The setting string value. Notice that enum values are stored as strings.",
          "type": "string"
        }
      },
      "description": "PostgreSql setting.",
      "id": "PostgreSqlSetting",
      "type": "object"
    },
    "RunningServiceList": {
      "id": "RunningServiceList",
      "description": "List of running guest OS services.",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "RunningService"
          },
          "description": "Running service entries."
        },
        "services": {
          "description": "Running service entries.",
          "items": {
            "$ref": "RunningService"
          },
          "type": "array"
        }
      }
    },
    "AwsRedshiftDetails": {
      "type": "object",
      "properties": {},
      "description": "Details of an AWS Redshift cluster.",
      "id": "AwsRedshiftDetails"
    },
    "ReportSummaryAssetAggregateStats": {
      "properties": {
        "totalCores": {
          "format": "int64",
          "type": "string",
          "description": "Sum of the CPU core count of all the assets in this collection."
        },
        "totalStorageBytes": {
          "description": "Sum of persistent storage in bytes of all the assets in this collection.",
          "format": "int64",
          "type": "string"
        },
        "memoryUtilization": {
          "description": "Total memory split into Used/Free buckets.",
          "deprecated": true,
          "$ref": "ReportSummaryChartData"
        },
        "databaseTypes": {
          "description": "Output only. Count of assets grouped by database type. Keys here are taken from DatabaseType enum. Only present for databases.",
          "readOnly": true,
          "$ref": "ReportSummaryChartData"
        },
        "totalMemoryBytes": {
          "description": "Sum of the memory in bytes of all the assets in this collection.",
          "type": "string",
          "format": "int64"
        },
        "totalAssets": {
          "description": "Count of the number of unique assets in this collection.",
          "type": "string",
          "format": "int64"
        },
        "assetAge": {
          "deprecated": true,
          "description": "Count of assets grouped by age.",
          "$ref": "ReportSummaryChartData"
        },
        "softwareInstances": {
          "$ref": "ReportSummaryChartData",
          "description": "Output only. Count of assets grouped by software name. Only present for virtual machines.",
          "readOnly": true
        },
        "storageUtilization": {
          "$ref": "ReportSummaryChartData",
          "description": "Total storage split into Used/Free buckets.",
          "deprecated": true
        },
        "storageUtilizationChart": {
          "$ref": "ReportSummaryUtilizationChartData",
          "description": "Total memory split into Used/Free buckets."
        },
        "estimatedUsageStats": {
          "readOnly": true,
          "description": "Output only. Estimated usage stats for the assets in this collection.",
          "$ref": "ReportSummaryAssetAggregateStatsEstimatedUsageStats"
        },
        "storageBytesHistogram": {
          "description": "Histogram showing a distribution of storage sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "memoryUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "operatingSystem": {
          "$ref": "ReportSummaryChartData",
          "description": "Count of assets grouped by Operating System families. Only present for virtual machines."
        },
        "coreCountHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of logical CPU core counts."
        },
        "memoryBytesHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of memory sizes."
        }
      },
      "id": "ReportSummaryAssetAggregateStats",
      "type": "object",
      "description": "Aggregate statistics for a collection of assets."
    },
    "ListDiscoveryClientsResponse": {
      "id": "ListDiscoveryClientsResponse",
      "type": "object",
      "description": "Response message for listing discovery clients.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "discoveryClients": {
          "type": "array",
          "items": {
            "$ref": "DiscoveryClient"
          },
          "description": "List of discovery clients."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ComputeStorageDescriptor": {
      "description": "Compute Engine storage option descriptor.",
      "id": "ComputeStorageDescriptor",
      "properties": {
        "sizeGb": {
          "description": "Disk size in GiB.",
          "format": "int32",
          "type": "integer"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "readOnly": true,
          "description": "Output only. Disk type backing the storage.",
          "type": "string",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ]
        }
      },
      "type": "object"
    },
    "MySqlStorageEngineDetails": {
      "description": "Mysql storage engine tables.",
      "type": "object",
      "properties": {
        "engine": {
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ],
          "description": "Required. The storage engine.",
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ],
          "type": "string"
        },
        "tableCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of tables."
        },
        "encryptedTableCount": {
          "description": "Optional. The number of encrypted tables.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "MySqlStorageEngineDetails"
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "description": "Response message for listing Reports.",
      "type": "object",
      "properties": {
        "reports": {
          "type": "array",
          "items": {
            "$ref": "Report"
          },
          "description": "The list of Reports."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "AwsInternetGatewayDetails": {
      "properties": {},
      "id": "AwsInternetGatewayDetails",
      "description": "Asset information specific for AWS Internet Gateways.",
      "type": "object"
    },
    "AwsRoute53HostedZoneDetails": {
      "type": "object",
      "id": "AwsRoute53HostedZoneDetails",
      "description": "Details of an AWS Route 53 Hosted Zone.",
      "properties": {}
    },
    "BatchDeleteAssetsRequest": {
      "description": "A request to delete a list of asset.",
      "id": "BatchDeleteAssetsRequest",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}.",
          "type": "array"
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`."
        },
        "cascadingRules": {
          "type": "array",
          "items": {
            "$ref": "CascadingRule"
          },
          "description": "Optional. Optional cascading rules for deleting related assets."
        }
      },
      "type": "object"
    },
    "ReportConfigGroupPreferenceSetAssignment": {
      "properties": {
        "preferenceSet": {
          "type": "string",
          "description": "Required. Name of the Preference Set."
        },
        "group": {
          "type": "string",
          "description": "Required. Name of the group."
        }
      },
      "type": "object",
      "id": "ReportConfigGroupPreferenceSetAssignment",
      "description": "Represents a combination of a group with a preference set."
    },
    "SendDiscoveryClientHeartbeatRequest": {
      "id": "SendDiscoveryClientHeartbeatRequest",
      "description": "A request to send a discovery client heartbeat.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. Client application version."
        },
        "errors": {
          "description": "Optional. Errors affecting client functionality.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      },
      "type": "object"
    },
    "ComputeEngineShapeDescriptor": {
      "description": "Compute Engine target shape descriptor.",
      "type": "object",
      "id": "ComputeEngineShapeDescriptor",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Output only. Compute Engine machine type.",
          "readOnly": true
        },
        "storage": {
          "description": "Output only. Compute Engine storage. Never empty.",
          "type": "array",
          "items": {
            "$ref": "ComputeStorageDescriptor"
          },
          "readOnly": true
        },
        "physicalCoreCount": {
          "description": "Output only. Number of physical cores.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "series": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Compute Engine machine series."
        },
        "logicalCoreCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of logical cores."
        },
        "smtEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether simultaneous multithreading is enabled. See https://cloud.google.com/compute/docs/instances/set-threads-per-core."
        },
        "memoryMb": {
          "type": "integer",
          "description": "Output only. Memory in mebibytes.",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "RunAssetsExportJobResponse": {
      "id": "RunAssetsExportJobResponse",
      "type": "object",
      "properties": {
        "assetsExportJobExecution": {
          "readOnly": true,
          "$ref": "AssetsExportJobExecution",
          "description": "Output only. Execution status of the assets export operation."
        }
      },
      "description": "Response message for running an assets export job."
    },
    "AssetsExportJobInventory": {
      "id": "AssetsExportJobInventory",
      "description": "Configuration for asset inventory details exports.",
      "properties": {},
      "type": "object"
    },
    "OutputFile": {
      "type": "object",
      "properties": {
        "fileSizeBytes": {
          "description": "Output only. File size in bytes.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "csvOutputFile": {
          "$ref": "CsvOutputFile",
          "readOnly": true,
          "description": "Output only. CSV output file."
        },
        "xlsxOutputFile": {
          "description": "Output only. XLSX output file.",
          "$ref": "XlsxOutputFile",
          "readOnly": true
        }
      },
      "description": "Contains a single output file.",
      "id": "OutputFile"
    },
    "DiskEntryList": {
      "properties": {
        "entries": {
          "type": "array",
          "description": "Disk entries.",
          "items": {
            "$ref": "DiskEntry"
          }
        }
      },
      "description": "VM disks.",
      "id": "DiskEntryList",
      "type": "object"
    },
    "AwsEcrRepositoryDetails": {
      "type": "object",
      "id": "AwsEcrRepositoryDetails",
      "properties": {},
      "description": "Asset information specific for AWS ECR Repository."
    },
    "MachineDiskDetails": {
      "id": "MachineDiskDetails",
      "description": "Details of machine disks.",
      "properties": {
        "totalCapacityBytes": {
          "description": "Disk total Capacity.",
          "format": "int64",
          "type": "string"
        },
        "disks": {
          "description": "List of disks.",
          "$ref": "DiskEntryList"
        },
        "totalFreeBytes": {
          "type": "string",
          "description": "Total disk free space.",
          "format": "int64"
        },
        "rawScanResult": {
          "type": "string",
          "description": "Raw disk scan result. This field is intended for human inspection. The format of this field may be lsblk output or any another raw output. The exact format may change without notice and should not be relied upon."
        }
      },
      "type": "object"
    },
    "DiscoveryClient": {
      "properties": {
        "displayName": {
          "description": "Optional. Free text display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Required. Service account used by the discovery client for various operation.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "expireTime": {
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time.",
          "type": "string",
          "format": "google-datetime"
        },
        "source": {
          "description": "Required. Full name of the source object associated with this discovery client.",
          "type": "string"
        },
        "errors": {
          "description": "Output only. Errors affecting client functionality.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when the discovery client was first created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "version": {
          "description": "Output only. Client version, as reported in recent heartbeat.",
          "type": "string",
          "readOnly": true
        },
        "heartbeatTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes)."
        },
        "ttl": {
          "type": "string",
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field.",
          "format": "google-duration"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Full name of this discovery client.",
          "type": "string"
        },
        "signalsEndpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This field is intended for internal use."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ],
          "description": "Output only. Current state of the discovery client.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ],
          "type": "string"
        },
        "recommendedVersions": {
          "items": {
            "$ref": "DiscoveryClientDiscoveryClientRecommendedVersion"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The recommended versions of the discovery client."
        },
        "description": {
          "type": "string",
          "description": "Optional. Free text description. Maximum length is 1000 characters."
        }
      },
      "description": "Represents an installed Migration Center Discovery Client instance.",
      "type": "object",
      "id": "DiscoveryClient"
    },
    "CloudSqlForPostgreSqlShape": {
      "properties": {
        "zoneAvailability": {
          "readOnly": true,
          "description": "Output only. Cloud SQL zone availability.",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ]
        },
        "version": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified PostgreSQL version.",
            "PostgreSQL 9.6.",
            "PostgreSQL 10",
            "PostgreSQL 11",
            "PostgreSQL 12",
            "PostgreSQL 13",
            "PostgreSQL 14",
            "PostgreSQL 15"
          ],
          "description": "Output only. PostgreSql version to be used on the Cloud SQL for PostgreSql instance.",
          "readOnly": true,
          "enum": [
            "POSTGRESQL_VERSION_UNSPECIFIED",
            "POSTGRESQL_VERSION_9_6",
            "POSTGRESQL_VERSION_10",
            "POSTGRESQL_VERSION_11",
            "POSTGRESQL_VERSION_12",
            "POSTGRESQL_VERSION_13",
            "POSTGRESQL_VERSION_14",
            "POSTGRESQL_VERSION_15"
          ]
        },
        "backupStorageGb": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Predicted backup storage size in GiB."
        },
        "memoryMb": {
          "description": "Output only. Predicted amount of memory in MiB.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "storage": {
          "$ref": "ComputeStorageDescriptor",
          "description": "Output only. Predicted storage shape.",
          "readOnly": true
        },
        "edition": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Cloud SQL edition.",
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ]
        },
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "egressGbPerMonth": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Cloud SQL for PostgreSQL database shape.",
      "id": "CloudSqlForPostgreSqlShape"
    },
    "AssetList": {
      "type": "object",
      "properties": {
        "assetIds": {
          "description": "Required. A list of asset IDs",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Lists the asset IDs of all assets.",
      "id": "AssetList"
    },
    "AssetsExportJobExecutionResult": {
      "description": "Contains the result of the assets export.",
      "properties": {
        "outputFiles": {
          "$ref": "OutputFileList",
          "description": "Output only. List of output files.",
          "readOnly": true
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Error encountered during export.",
          "readOnly": true
        },
        "signedUris": {
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "$ref": "SignedUris",
          "readOnly": true
        }
      },
      "id": "AssetsExportJobExecutionResult",
      "type": "object"
    },
    "ListReportConfigsResponse": {
      "type": "object",
      "properties": {
        "reportConfigs": {
          "type": "array",
          "description": "A list of report configs.",
          "items": {
            "$ref": "ReportConfig"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response message for listing report configs.",
      "id": "ListReportConfigsResponse"
    },
    "ListImportDataFilesResponse": {
      "description": "Response for listing payload files of an import job.",
      "properties": {
        "importDataFiles": {
          "description": "The list of import data files.",
          "type": "array",
          "items": {
            "$ref": "ImportDataFile"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListImportDataFilesResponse",
      "type": "object"
    },
    "AggregationResultHistogram": {
      "description": "The result of a bucketed histogram aggregation.",
      "type": "object",
      "id": "AggregationResultHistogram",
      "properties": {
        "buckets": {
          "type": "array",
          "items": {
            "$ref": "AggregationResultHistogramBucket"
          },
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity."
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListRelationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "relations": {
          "items": {
            "$ref": "Relation"
          },
          "type": "array",
          "description": "A list of relations."
        }
      },
      "id": "ListRelationsResponse",
      "type": "object",
      "description": "Response message for listing relations."
    },
    "SoftwareInsight": {
      "id": "SoftwareInsight",
      "type": "object",
      "description": "An insight regarding software detected on an asset.",
      "properties": {
        "detectedSoftware": {
          "readOnly": true,
          "description": "Output only. Information about the detected software.",
          "$ref": "DetectedSoftware"
        }
      }
    },
    "HostsEntryList": {
      "id": "HostsEntryList",
      "type": "object",
      "description": "Hosts content.",
      "properties": {
        "entries": {
          "readOnly": true,
          "items": {
            "$ref": "HostsEntry"
          },
          "type": "array",
          "description": "Output only. Hosts entries."
        }
      }
    },
    "AggregateAssetsValuesRequest": {
      "id": "AggregateAssetsValuesRequest",
      "properties": {
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "aggregations": {
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined.",
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          }
        },
        "filter": {
          "description": "Optional. The aggregation will be performed on assets that match the provided filter.",
          "type": "string"
        }
      },
      "description": "A request to aggregate one or more values.",
      "type": "object"
    },
    "Relation": {
      "id": "Relation",
      "properties": {
        "dstAsset": {
          "description": "Output only. The destination asset name in the relation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the relation was created.",
          "readOnly": true
        },
        "srcAsset": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The source asset name in the relation."
        },
        "name": {
          "description": "Output only. Identifier. The identifier of the relation.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Default value.",
            "DBDeployment -> Database",
            "A relation between a machine/VM and the database deployment it hosts."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "LOGICAL_DATABASE",
            "DATABASE_DEPLOYMENT_HOSTING_SERVER"
          ],
          "type": "string",
          "description": "Optional. The type of the relation."
        }
      },
      "description": "Message representing a relation between 2 resource.",
      "type": "object"
    },
    "DatabasePreferencesCloudSqlSqlServer": {
      "id": "DatabasePreferencesCloudSqlSqlServer",
      "description": "Preferences for SQL Server on Cloud SQL.",
      "properties": {
        "versionType": {
          "description": "Optional. Edition of Microsoft SQL version that is used on a Cloud SQL for SQL server instance.",
          "enumDescriptions": [
            "Unspecified SQL Server version type.",
            "Version will be deduced from the source asset.",
            "Version will be one of \"Express\" versions.",
            "Version will be one of \"Web\" versions.",
            "Version will be one of \"Standard\" versions.",
            "Version will be one of \"Enterprise\" versions."
          ],
          "type": "string",
          "enum": [
            "VERSION_TYPE_UNSPECIFIED",
            "VERSION_TYPE_AUTO",
            "VERSION_TYPE_EXPRESS",
            "VERSION_TYPE_WEB",
            "VERSION_TYPE_STANDARD",
            "VERSION_TYPE_ENTERPRISE"
          ]
        },
        "multithreading": {
          "enum": [
            "MULTITHREADING_UNSPECIFIED",
            "MULTITHREADING_DISABLED",
            "MULTITHREADING_ENABLED",
            "MULTITHREADING_DISABLED_WITH_COMPENSATION"
          ],
          "description": "Optional. Preferences for multithreading support.",
          "enumDescriptions": [
            "Same as MULTITHREADING_AUTO.",
            "Disable simultaneous multithreading.",
            "Enable simultaneous multithreading.",
            "Disable simultaneous multithreading and increase number of VCPUs to compensate."
          ],
          "type": "string"
        },
        "common": {
          "description": "Optional. Preferences to Cloud SQL databases.",
          "$ref": "DatabasePreferencesCloudSqlCommon"
        }
      },
      "type": "object"
    },
    "CsvOutputFile": {
      "type": "object",
      "id": "CsvOutputFile",
      "properties": {
        "rowCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of rows in the file."
        },
        "columnsCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of columns in the file."
        },
        "signedUri": {
          "readOnly": true,
          "$ref": "SignedUri",
          "description": "Output only. Signed URI destination."
        }
      },
      "description": "Contains a single output file of type CSV."
    },
    "CpuUsageSample": {
      "id": "CpuUsageSample",
      "description": "CPU usage sample.",
      "properties": {
        "utilizedPercentage": {
          "description": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "VmwarePlatformDetails": {
      "type": "object",
      "id": "VmwarePlatformDetails",
      "description": "VMware specific details.",
      "properties": {
        "osid": {
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html.",
          "type": "string"
        },
        "vcenterVmId": {
          "description": "vCenter VM ID.",
          "type": "string"
        },
        "esxVersion": {
          "description": "ESX version.",
          "type": "string"
        },
        "vcenterFolder": {
          "description": "Folder name in vCenter where asset resides.",
          "type": "string"
        },
        "vcenterVersion": {
          "description": "vCenter version.",
          "type": "string"
        },
        "esxHyperthreading": {
          "type": "string",
          "description": "Whether the ESX is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "vcenterUri": {
          "description": "vCenter URI used in collection.",
          "type": "string"
        }
      }
    },
    "AwsDynamoDBTableDetails": {
      "properties": {},
      "id": "AwsDynamoDBTableDetails",
      "type": "object",
      "description": "Details of an AWS DynamoDB table."
    },
    "DatabaseSchema": {
      "properties": {
        "mysql": {
          "description": "Details of a Mysql schema.",
          "$ref": "MySqlSchemaDetails"
        },
        "schemaName": {
          "type": "string",
          "description": "The name of the schema."
        },
        "objects": {
          "description": "List of details of objects by category.",
          "type": "array",
          "items": {
            "$ref": "DatabaseObjects"
          }
        },
        "tablesSizeBytes": {
          "type": "string",
          "description": "The total size of tables in bytes.",
          "format": "int64"
        },
        "postgresql": {
          "$ref": "PostgreSqlSchemaDetails",
          "description": "Details of a PostgreSql schema."
        },
        "sqlServer": {
          "$ref": "SqlServerSchemaDetails",
          "description": "Details of a SqlServer schema."
        }
      },
      "description": "Details of a database schema.",
      "id": "DatabaseSchema",
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "SqlServerDatabaseDeployment": {
      "id": "SqlServerDatabaseDeployment",
      "properties": {
        "traceFlags": {
          "type": "array",
          "items": {
            "$ref": "SqlServerTraceFlag"
          },
          "description": "Optional. List of SQL Server trace flags."
        },
        "serverFlags": {
          "description": "Optional. List of SQL Server server flags.",
          "items": {
            "$ref": "SqlServerServerFlag"
          },
          "type": "array"
        },
        "features": {
          "description": "Optional. List of SQL Server features.",
          "type": "array",
          "items": {
            "$ref": "SqlServerFeature"
          }
        }
      },
      "description": "Specific details for a Microsoft SQL Server database deployment.",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata"
    },
    "ResourceLocation": {
      "properties": {
        "region": {
          "type": "string",
          "description": "Optional. The name of the region."
        }
      },
      "description": "Location of a resource.",
      "type": "object",
      "id": "ResourceLocation"
    },
    "AwsEcsClusterDetails": {
      "properties": {},
      "description": "Details of an AWS ECS cluster.",
      "id": "AwsEcsClusterDetails",
      "type": "object"
    },
    "ReportAssetFramesResponse": {
      "type": "object",
      "id": "ReportAssetFramesResponse",
      "properties": {},
      "description": "A response to a call to `ReportAssetFrame`."
    },
    "DiscoveryClientDiscoveryClientRecommendedVersion": {
      "type": "object",
      "id": "DiscoveryClientDiscoveryClientRecommendedVersion",
      "description": "Discovery client recommended version.",
      "properties": {
        "uri": {
          "description": "Output only. The URI of the discovery client version.",
          "readOnly": true,
          "type": "string"
        },
        "version": {
          "description": "Output only. The version of the discovery client.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "PreferenceSet": {
      "properties": {
        "virtualMachinePreferences": {
          "description": "A set of preferences that applies to all virtual machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the preference set was created.",
          "format": "google-datetime"
        },
        "databasePreferences": {
          "$ref": "DatabasePreferences",
          "description": "Optional. A set of preferences that applies to all databases in the context."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the preference set was last updated."
        },
        "regionPreferences": {
          "description": "Optional. Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If unspecified, VirtualMachinePreferences.RegionPreferences is used.",
          "$ref": "RegionPreferences"
        },
        "description": {
          "type": "string",
          "description": "A description of the preference set."
        },
        "name": {
          "description": "Output only. Name of the PreferenceSet.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The preferences that apply to all assets in a given context.",
      "id": "PreferenceSet",
      "type": "object"
    },
    "XlsxOutputFile": {
      "properties": {
        "signedUri": {
          "description": "Output only. Signed URI destination.",
          "readOnly": true,
          "$ref": "SignedUri"
        }
      },
      "type": "object",
      "id": "XlsxOutputFile",
      "description": "Contains a single output file of type XLSX."
    },
    "OpenFileDetails": {
      "id": "OpenFileDetails",
      "type": "object",
      "description": "Open file Information.",
      "properties": {
        "filePath": {
          "description": "Opened file file path.",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "Opened file user."
        },
        "fileType": {
          "type": "string",
          "description": "Opened file file type."
        },
        "command": {
          "description": "Opened file command.",
          "type": "string"
        }
      }
    },
    "NetworkAddress": {
      "id": "NetworkAddress",
      "properties": {
        "subnetMask": {
          "type": "string",
          "description": "Subnet mask."
        },
        "ipAddress": {
          "description": "Assigned or configured IP Address.",
          "type": "string"
        },
        "assignment": {
          "enumDescriptions": [
            "Unknown (default value).",
            "Statically assigned IP.",
            "Dynamically assigned IP (DHCP)."
          ],
          "enum": [
            "ADDRESS_ASSIGNMENT_UNSPECIFIED",
            "ADDRESS_ASSIGNMENT_STATIC",
            "ADDRESS_ASSIGNMENT_DHCP"
          ],
          "description": "Whether DHCP is used to assign addresses.",
          "type": "string"
        },
        "bcast": {
          "type": "string",
          "description": "Broadcast address."
        },
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name."
        }
      },
      "type": "object",
      "description": "Details of network address."
    },
    "DatabasePreferencesCloudSqlPostgreSql": {
      "properties": {
        "common": {
          "$ref": "DatabasePreferencesCloudSqlCommon",
          "description": "Optional. Preferences to Cloud SQL databases."
        }
      },
      "id": "DatabasePreferencesCloudSqlPostgreSql",
      "description": "Preferences for PostgreSQL on Cloud SQL.",
      "type": "object"
    },
    "VirtualMachineDetails": {
      "type": "object",
      "description": "Details of a VirtualMachine.",
      "id": "VirtualMachineDetails",
      "properties": {
        "osVersion": {
          "type": "string",
          "description": "The version of the operating system running on the virtual machine."
        },
        "vcenterVmId": {
          "type": "string",
          "description": "vCenter VM ID."
        },
        "coreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of logical CPU cores in the VirtualMachine. Must be non-negative."
        },
        "vcenterFolder": {
          "description": "Folder name in vCenter where asset resides.",
          "type": "string"
        },
        "vmNetwork": {
          "description": "VM network details.",
          "$ref": "VirtualMachineNetworkDetails"
        },
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        },
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "VM creation timestamp."
        },
        "powerState": {
          "description": "Power state of VM (poweredOn or poweredOff).",
          "type": "string"
        },
        "vmDisks": {
          "$ref": "VirtualMachineDiskDetails",
          "description": "VM disk details."
        },
        "osFamily": {
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ],
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ],
          "description": "What family the OS belong to, if known.",
          "type": "string"
        },
        "vcenterUrl": {
          "type": "string",
          "description": "vCenter URL used in collection."
        },
        "vmUuid": {
          "description": "Virtual Machine unique identifier.",
          "type": "string"
        },
        "platform": {
          "$ref": "PlatformDetails",
          "description": "Platform information."
        },
        "vmName": {
          "description": "Virtual Machine display name.",
          "type": "string"
        },
        "memoryMb": {
          "description": "The amount of memory in the VirtualMachine. Must be non-negative.",
          "format": "int32",
          "type": "integer"
        },
        "osName": {
          "description": "The name of the operating system running on the VirtualMachine.",
          "type": "string"
        },
        "vmArchitecture": {
          "$ref": "VirtualMachineArchitectureDetails",
          "description": "VM architecture details (vendor, cpu arch)."
        }
      }
    },
    "Issue": {
      "properties": {
        "compatibilityIssue": {
          "$ref": "IssueCompatibilityIssue",
          "readOnly": true,
          "description": "Output only. Details about a compatibility issue."
        },
        "issueCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique identifier for this issue type."
        },
        "description": {
          "type": "string",
          "description": "Output only. English description of the issue.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Issue",
      "description": "An issue associated with a migration."
    },
    "ComputeEngineSoleTenantMigrationTarget": {
      "description": "Compute engine sole tenant migration target.",
      "properties": {},
      "type": "object",
      "id": "ComputeEngineSoleTenantMigrationTarget"
    },
    "VmwareEngineMigrationTarget": {
      "type": "object",
      "description": "VMWare engine migration target.",
      "id": "VmwareEngineMigrationTarget",
      "properties": {}
    },
    "Insight": {
      "properties": {
        "genericInsight": {
          "readOnly": true,
          "description": "Output only. A generic insight about an asset.",
          "$ref": "GenericInsight"
        },
        "softwareInsight": {
          "description": "Output only. An insight regarding software detected on an asset.",
          "readOnly": true,
          "$ref": "SoftwareInsight"
        },
        "migrationInsight": {
          "$ref": "MigrationInsight",
          "readOnly": true,
          "description": "Output only. An insight about potential migrations for an asset."
        }
      },
      "type": "object",
      "description": "An insight about an asset.",
      "id": "Insight"
    },
    "SqlServerFeature": {
      "properties": {
        "featureName": {
          "description": "Required. The feature name.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. Field enabled is set when a feature is used on the source deployment.",
          "type": "boolean"
        }
      },
      "id": "SqlServerFeature",
      "type": "object",
      "description": "SQL Server feature details."
    },
    "AwsBatchComputeEnvironmentDetails": {
      "type": "object",
      "properties": {},
      "description": "Asset information specific for AWS Batch Compute Environments.",
      "id": "AwsBatchComputeEnvironmentDetails"
    },
    "PayloadFile": {
      "id": "PayloadFile",
      "properties": {
        "name": {
          "description": "The file name.",
          "type": "string"
        },
        "data": {
          "description": "The file data.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "Payload file for inline import job payload."
    },
    "ValidateImportJobRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ValidateImportJobRequest",
      "description": "A request to validate an import job."
    },
    "ReportSummaryHistogramChartData": {
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket.",
      "properties": {
        "buckets": {
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          },
          "type": "array",
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity."
        }
      },
      "type": "object",
      "id": "ReportSummaryHistogramChartData"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "ErrorFrame": {
      "description": "Message representing a frame which failed to be processed due to an error.",
      "id": "ErrorFrame",
      "type": "object",
      "properties": {
        "ingestionTime": {
          "type": "string",
          "description": "Output only. Frame ingestion time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The identifier of the ErrorFrame.",
          "readOnly": true
        },
        "originalFrame": {
          "$ref": "AssetFrame",
          "description": "Output only. The frame that was originally reported.",
          "readOnly": true
        },
        "violations": {
          "items": {
            "$ref": "FrameViolationEntry"
          },
          "readOnly": true,
          "description": "Output only. All the violations that were detected for the frame.",
          "type": "array"
        }
      }
    },
    "Report": {
      "id": "Report",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation timestamp."
        },
        "description": {
          "type": "string",
          "description": "Free-text description."
        },
        "state": {
          "type": "string",
          "description": "Report creation state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last update timestamp.",
          "readOnly": true
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "summary": {
          "description": "Output only. Summary view of the Report.",
          "readOnly": true,
          "$ref": "ReportSummary"
        },
        "name": {
          "description": "Output only. Name of resource.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ],
          "enumDescriptions": [
            "Default report type.",
            "Total cost of ownership report type."
          ],
          "description": "Report type."
        }
      },
      "description": "Report represents a point-in-time rendering of the ReportConfig results."
    },
    "GCSPayloadInfo": {
      "id": "GCSPayloadInfo",
      "type": "object",
      "description": "A resource that represents a payload hosted on Google Cloud Storage.",
      "properties": {
        "path": {
          "description": "The payload path in Google Cloud Storage.",
          "type": "string"
        },
        "format": {
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "description": "The import job format.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ]
        }
      }
    },
    "AwsElasticIpAddressDetails": {
      "type": "object",
      "properties": {},
      "id": "AwsElasticIpAddressDetails",
      "description": "Asset information specific for AWS Elastic IP Addresses."
    },
    "Money": {
      "properties": {
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      },
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "type": "object"
    },
    "AwsS3BucketDetailsStorageClass": {
      "description": "Details about storage class.",
      "id": "AwsS3BucketDetailsStorageClass",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. Type of the storage class.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage class type.",
            "General Purpose",
            "Represents Intelligent-Tiering's auto-tiering",
            "Standard-Infrequent Access",
            "One Zone-Infrequent Access",
            "S3 Glacier Flexible Retrieval",
            "S3 Glacier Deep Archive",
            "S3 Glacier Instant Retrieval",
            "S3 Reduced Redundancy Storage (Legacy)",
            "S3 Express One Zone"
          ],
          "enum": [
            "STORAGE_CLASS_TYPE_UNSPECIFIED",
            "STANDARD",
            "INTELLIGENT_TIERING",
            "STANDARD_IA",
            "ONE_ZONE_IA",
            "GLACIER",
            "DEEP_ARCHIVE",
            "GLACIER_IR",
            "REDUCED_REDUNDANCY",
            "EXPRESS_ONEZONE"
          ]
        },
        "totalBytes": {
          "description": "Optional. The total size of the storage class in bytes.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Group": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. The description of the group."
        },
        "createTime": {
          "description": "Output only. The timestamp when the group was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the group.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels as key value pairs."
        },
        "displayName": {
          "description": "Optional. User-friendly display name.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the group was last updated.",
          "format": "google-datetime"
        }
      },
      "id": "Group",
      "type": "object",
      "description": "A resource that represents an asset group. The purpose of an asset group is to bundle a set of assets that have something in common, while allowing users to add annotations to the group. An asset can belong to multiple groups."
    },
    "ImportError": {
      "description": "A resource that reports the errors encountered while processing an import job.",
      "type": "object",
      "id": "ImportError",
      "properties": {
        "errorDetails": {
          "type": "string",
          "description": "The error information."
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The severity of the error.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        }
      }
    },
    "MachineArchitectureDetails": {
      "properties": {
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "cpuName": {
          "type": "string",
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc."
        },
        "hyperthreading": {
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ],
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "CPU hyper-threading support.",
          "type": "string"
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        },
        "firmwareType": {
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ],
          "description": "Firmware type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ]
        },
        "cpuSocketCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of processor sockets allocated to the machine."
        },
        "cpuManufacturer": {
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MachineArchitectureDetails",
      "description": "Details of the machine architecture."
    },
    "DatabaseInstanceNetwork": {
      "type": "object",
      "properties": {
        "primaryMacAddress": {
          "type": "string",
          "description": "Optional. The instance's primary MAC address."
        },
        "ipAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The instance's IP addresses."
        },
        "hostNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The instance's host names.",
          "type": "array"
        }
      },
      "id": "DatabaseInstanceNetwork",
      "description": "Network details of a database instance."
    },
    "ListAssetsExportJobsResponse": {
      "description": "Response message for listing assets export jobs.",
      "properties": {
        "assetsExportJobs": {
          "items": {
            "$ref": "AssetsExportJob"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of assets export jobs."
        },
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ListAssetsExportJobsResponse",
      "type": "object"
    },
    "DatabasePreferences": {
      "type": "object",
      "properties": {
        "mssqlToCloudSqlForSqlServerPreferences": {
          "$ref": "DatabasePreferencesCloudSqlSqlServer",
          "description": "Optional. Preferences for target SQL Server on Cloud SQL when migrating from source Microsoft SQL server."
        },
        "mysqlToCloudSqlForMysqlPreferences": {
          "description": "Optional. Preferences for target MySQL on Cloud SQL when migrating from source MySQL.",
          "$ref": "DatabasePreferencesCloudSqlMySql"
        },
        "postgresqlToCloudSqlForPostgresqlPreferences": {
          "description": "Optional. Preferences for target PostgreSQL on Cloud SQL when migrating from source PostgreSQL.",
          "$ref": "DatabasePreferencesCloudSqlPostgreSql"
        }
      },
      "id": "DatabasePreferences",
      "description": "DatabasePreferences enables you to create sets of preferences for your migrated databases."
    },
    "RegionPreferences": {
      "properties": {
        "preferredRegions": {
          "type": "array",
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "RegionPreferences",
      "type": "object",
      "description": "The user preferences relating to target regions."
    },
    "OperatingSystemPricingPreferences": {
      "id": "OperatingSystemPricingPreferences",
      "description": "Pricing options for OS images.",
      "type": "object",
      "properties": {
        "windows": {
          "description": "Optional. Pricing options for Windows images. No commitment plans are available, set it to unspecified.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "slesForSap": {
          "description": "Optional. Pricing options for SLES for SAP images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "sles": {
          "description": "Optional. Pricing options for SLES images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "rhel": {
          "description": "Optional. Pricing options for RHEL images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        }
      }
    },
    "HostingProviderDetailsAws": {
      "description": "Details for AWS platform.",
      "type": "object",
      "id": "HostingProviderDetailsAws",
      "properties": {
        "owningAccountId": {
          "type": "string",
          "description": "Optional. The AWS account ID owning the resource represented by this asset."
        }
      }
    },
    "OutputFileList": {
      "description": "Contains a list of output files.",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "OutputFile"
          },
          "type": "array",
          "description": "List of output files."
        }
      },
      "id": "OutputFileList"
    },
    "ReportSummaryMachineSeriesAllocation": {
      "properties": {
        "allocatedAssetCount": {
          "type": "string",
          "description": "Count of assets allocated to this machine series.",
          "format": "int64"
        },
        "machineSeries": {
          "$ref": "MachineSeries",
          "description": "The Machine Series (e.g. \"E2\", \"N2\")"
        }
      },
      "type": "object",
      "id": "ReportSummaryMachineSeriesAllocation",
      "description": "Represents a data point tracking the count of assets allocated for a specific Machine Series."
    },
    "AssetsExportJobPerformanceData": {
      "type": "object",
      "id": "AssetsExportJobPerformanceData",
      "description": "Configuration for performance data exports.",
      "properties": {
        "maxDays": {
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "UploadFileInfo": {
      "type": "object",
      "properties": {
        "headers": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The headers that were used to sign the URL.",
          "type": "object",
          "readOnly": true
        },
        "signedUri": {
          "description": "Output only. Upload URI for the file.",
          "type": "string",
          "readOnly": true
        },
        "uriExpirationTime": {
          "format": "google-datetime",
          "description": "Output only. Expiration time of the upload URI.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A resource that contains a URI to which a data file can be uploaded.",
      "id": "UploadFileInfo"
    },
    "AwsAthenaWorkGroupDetails": {
      "id": "AwsAthenaWorkGroupDetails",
      "properties": {},
      "description": "Contains details for an AWS Athena Work Group asset.",
      "type": "object"
    },
    "DiskPartition": {
      "description": "Disk Partition details.",
      "id": "DiskPartition",
      "type": "object",
      "properties": {
        "uuid": {
          "type": "string",
          "description": "Partition UUID."
        },
        "freeBytes": {
          "type": "string",
          "description": "Partition free space.",
          "format": "int64"
        },
        "capacityBytes": {
          "description": "Partition capacity.",
          "type": "string",
          "format": "int64"
        },
        "mountPoint": {
          "description": "Mount point (Linux/Windows) or drive letter (Windows).",
          "type": "string"
        },
        "subPartitions": {
          "description": "Sub-partitions.",
          "$ref": "DiskPartitionList"
        },
        "type": {
          "description": "Partition type (e.g. BIOS boot).",
          "type": "string"
        },
        "fileSystem": {
          "description": "Partition file system.",
          "type": "string"
        }
      }
    },
    "HostingProviderDetails": {
      "id": "HostingProviderDetails",
      "description": "Details about the hosting platform of the asset.",
      "type": "object",
      "properties": {
        "location": {
          "$ref": "ResourceLocation",
          "description": "Optional. Location of the asset."
        },
        "aws": {
          "$ref": "HostingProviderDetailsAws",
          "description": "Optional. The AWS platform details."
        },
        "displayName": {
          "description": "Optional. Display name of the asset.",
          "type": "string"
        },
        "originalId": {
          "type": "string",
          "description": "Optional. Unique identifier for the asset in the hosting provider."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The timestamp when resource was created in the hosting provider."
        }
      }
    },
    "MachineNetworkDetails": {
      "id": "MachineNetworkDetails",
      "type": "object",
      "properties": {
        "publicIpAddress": {
          "type": "string",
          "description": "The public IP address of the machine."
        },
        "defaultGateway": {
          "type": "string",
          "description": "Default gateway address."
        },
        "primaryMacAddress": {
          "description": "MAC address of the machine. This property is used to uniqly identify the machine.",
          "type": "string"
        },
        "primaryIpAddress": {
          "description": "The primary IP address of the machine.",
          "type": "string"
        },
        "networkAdapters": {
          "$ref": "NetworkAdapterList",
          "description": "List of network adapters."
        }
      },
      "description": "Details of network adapters and settings."
    },
    "ListErrorFramesResponse": {
      "properties": {
        "errorFrames": {
          "description": "The list of error frames.",
          "items": {
            "$ref": "ErrorFrame"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A response for listing error frames.",
      "id": "ListErrorFramesResponse",
      "type": "object"
    },
    "ReportSummaryUtilizationChartData": {
      "id": "ReportSummaryUtilizationChartData",
      "type": "object",
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets.",
      "properties": {
        "used": {
          "format": "int64",
          "description": "Aggregate value which falls into the \"Used\" bucket.",
          "type": "string"
        },
        "free": {
          "type": "string",
          "format": "int64",
          "description": "Aggregate value which falls into the \"Free\" bucket."
        }
      }
    },
    "VMwareEngineMachinePreferences": {
      "properties": {
        "protectedNodes": {
          "type": "string",
          "enum": [
            "PROTECTED_NODES_UNSPECIFIED",
            "PROTECTED_NODES_ENABLED",
            "PROTECTED_NODES_DISABLED"
          ],
          "description": "Optional. Whether to use VMware Engine Protected offering.",
          "enumDescriptions": [
            "Unspecified protected nodes preference.",
            "Use only protected nodes for the selected allowed_machine_series.",
            "Do not use protected nodes."
          ]
        },
        "allowedMachineSeries": {
          "items": {
            "$ref": "MachineSeries"
          },
          "description": "Optional. VMware Engine on Google Cloud machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "type": "array"
        },
        "storageOnlyNodes": {
          "enumDescriptions": [
            "Unspecified storage-only nodes preference.",
            "Use storage-only nodes for selected allowed_machine_series, if available.",
            "Do not use storage-only nodes."
          ],
          "enum": [
            "STORAGE_ONLY_NODES_UNSPECIFIED",
            "STORAGE_ONLY_NODES_ENABLED",
            "STORAGE_ONLY_NODES_DISABLED"
          ],
          "type": "string",
          "description": "Optional. Whether to use storage-only nodes, if those are available."
        }
      },
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations for VMware Engine. Not all machine types are available in all zones and regions.",
      "type": "object",
      "id": "VMwareEngineMachinePreferences"
    },
[...]
