{
  "name": "migrationcenter",
  "version": "v1alpha1",
  "batchPath": "batch",
  "mtlsRootUrl": "https://migrationcenter.mtls.googleapis.com/",
  "title": "Migration Center API",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "protocol": "rest",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "discoveryVersion": "v1",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "schemas": {
    "AssetsExportJob": {
      "description": "Assets export job message.",
      "properties": {
        "name": {
          "description": "Output only. Identifier. Resource name.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Resource creation time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "inventory": {
          "$ref": "AssetsExportJobInventory",
          "description": "Export asset inventory details."
        },
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        },
        "recentExecutions": {
          "description": "Output only. Recent non expired executions of the job.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AssetsExportJobExecution"
          }
        },
        "performanceData": {
          "description": "Export asset with performance data.",
          "$ref": "AssetsExportJobPerformanceData"
        },
        "networkDependencies": {
          "$ref": "AssetsExportJobNetworkDependencies",
          "description": "Export data regarding asset network dependencies."
        },
        "signedUriDestination": {
          "$ref": "SignedUriDestination",
          "description": "Export to Cloud Storage files downloadable using signed URIs."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource update time.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes."
        },
        "condition": {
          "description": "Optional. Conditions for selecting assets to export.",
          "$ref": "AssetsExportJobExportCondition"
        }
      },
      "type": "object",
      "id": "AssetsExportJob"
    },
    "VirtualMachineNetworkDetails": {
      "id": "VirtualMachineNetworkDetails",
      "type": "object",
      "description": "Details of network adapters and settings.",
      "properties": {
        "primaryIpAddress": {
          "description": "IP address of the machine.",
          "type": "string"
        },
        "networkAdapters": {
          "$ref": "NetworkAdapterList",
          "description": "List of network adapters."
        },
        "primaryMacAddress": {
          "type": "string",
          "description": "MAC address of the machine. This property is used to uniqly identify the machine."
        },
        "defaultGw": {
          "description": "Default gateway address.",
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string",
          "description": "Public IP address of the machine."
        }
      }
    },
    "PostgreSqlSetting": {
      "description": "PostgreSql setting.",
      "properties": {
        "unit": {
          "description": "Optional. The setting unit.",
          "type": "string"
        },
        "boolValue": {
          "description": "Required. The setting boolean value.",
          "type": "boolean"
        },
        "intValue": {
          "description": "Required. The setting int value.",
          "format": "int64",
          "type": "string"
        },
        "setting": {
          "type": "string",
          "description": "Required. The setting name."
        },
        "stringValue": {
          "description": "Required. The setting string value. Notice that enum values are stored as strings.",
          "type": "string"
        },
        "realValue": {
          "type": "number",
          "description": "Required. The setting real value.",
          "format": "float"
        },
        "source": {
          "type": "string",
          "description": "Required. The setting source."
        }
      },
      "type": "object",
      "id": "PostgreSqlSetting"
    },
    "XlsxOutputFile": {
      "id": "XlsxOutputFile",
      "description": "Contains a single output file of type XLSX.",
      "properties": {
        "signedUri": {
          "$ref": "SignedUri",
          "description": "Output only. Signed URI destination.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "description": "Response message for listing Reports.",
      "properties": {
        "reports": {
          "description": "The list of Reports.",
          "type": "array",
          "items": {
            "$ref": "Report"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DiskEntry": {
      "id": "DiskEntry",
      "description": "Single disk entry.",
      "properties": {
        "freeSpaceBytes": {
          "description": "Disk free space.",
          "format": "int64",
          "type": "string"
        },
        "totalFreeBytes": {
          "type": "string",
          "description": "Disk free space.",
          "format": "int64"
        },
        "interfaceType": {
          "description": "Disks interface type (e.g. SATA/SCSI)",
          "type": "string"
        },
        "hwAddress": {
          "description": "Disk hardware address (e.g. 0:1 for SCSI).",
          "type": "string"
        },
        "capacityBytes": {
          "description": "Disk capacity.",
          "format": "int64",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Disk status (e.g. online)."
        },
        "partitions": {
          "$ref": "DiskPartitionList",
          "description": "Partition layout."
        },
        "diskLabel": {
          "type": "string",
          "description": "Disk label."
        },
        "diskLabelType": {
          "description": "Disk label type (e.g. BIOS/GPT)",
          "type": "string"
        },
        "totalCapacityBytes": {
          "description": "Disk capacity.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AggregateAssetsValuesResponse": {
      "description": "A response to a request to aggregated assets values.",
      "properties": {
        "results": {
          "items": {
            "$ref": "AggregationResult"
          },
          "type": "array",
          "description": "The aggregation results."
        }
      },
      "type": "object",
      "id": "AggregateAssetsValuesResponse"
    },
    "ExecutionReport": {
      "id": "ExecutionReport",
      "type": "object",
      "description": "A resource that reports result of the import job execution.",
      "properties": {
        "framesReported": {
          "description": "Total number of asset frames reported for the import job.",
          "format": "int32",
          "type": "integer"
        },
        "jobErrors": {
          "deprecated": true,
          "items": {
            "$ref": "ImportError"
          },
          "type": "array",
          "description": "List of job-level errors. Deprecated, use the job errors under execution_errors instead."
        },
        "totalRowsCount": {
          "description": "Total number of rows in the import job.",
          "format": "int32",
          "type": "integer"
        },
        "executionErrors": {
          "description": "Validation errors encountered during the execution of the import job.",
          "$ref": "ValidationReport"
        }
      }
    },
    "RunImportJobRequest": {
      "type": "object",
      "description": "A request to run an import job.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RunImportJobRequest"
    },
    "GuestInstalledApplication": {
      "id": "GuestInstalledApplication",
      "description": "Guest installed application information.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Installed application name."
        },
        "applicationName": {
          "type": "string",
          "description": "Installed application name."
        },
        "vendor": {
          "description": "Installed application vendor.",
          "type": "string"
        },
        "time": {
          "type": "string",
          "description": "Date application was installed."
        },
        "path": {
          "description": "Source path.",
          "type": "string"
        },
        "licenses": {
          "description": "License strings associated with the installed application.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "description": "Installed application version.",
          "type": "string"
        },
        "installTime": {
          "type": "string",
          "description": "The time when the application was installed.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "FrameViolationEntry": {
      "id": "FrameViolationEntry",
      "type": "object",
      "description": "A resource that contains a single violation of a reported `AssetFrame` resource.",
      "properties": {
        "violation": {
          "description": "A message describing the violation.",
          "type": "string"
        },
        "field": {
          "type": "string",
          "description": "The field of the original frame where the violation occurred."
        }
      }
    },
    "MachineSeries": {
      "id": "MachineSeries",
      "description": "A machine series, for a target product (e.g. Compute Engine, Google Cloud VMware Engine).",
      "properties": {
        "code": {
          "type": "string",
          "description": "Code to identify a machine series. Consult this for more details on the available series for Compute Engine: https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison Consult this for more details on the available series for Google Cloud VMware Engine: https://cloud.google.com/vmware-engine/pricing"
        }
      },
      "type": "object"
    },
    "AggregationResult": {
      "description": "Message describing a result of an aggregation.",
      "properties": {
        "frequency": {
          "$ref": "AggregationResultFrequency"
        },
        "count": {
          "$ref": "AggregationResultCount"
        },
        "sum": {
          "$ref": "AggregationResultSum"
        },
        "field": {
          "type": "string"
        },
        "histogram": {
          "$ref": "AggregationResultHistogram"
        }
      },
      "type": "object",
      "id": "AggregationResult"
    },
    "ReportSummaryMachineFinding": {
      "id": "ReportSummaryMachineFinding",
      "description": "A set of findings that applies to assets of type Virtual/Physical Machine.",
      "properties": {
        "allocatedAssetCount": {
          "description": "Count of assets which were allocated.",
          "format": "int64",
          "type": "string"
        },
        "allocatedDiskTypes": {
          "type": "array",
          "description": "@deprecated. Use storage_allocations instead. Set of disk types allocated to assets.",
          "deprecated": true,
          "items": {
            "enum": [
              "PERSISTENT_DISK_TYPE_UNSPECIFIED",
              "PERSISTENT_DISK_TYPE_STANDARD",
              "PERSISTENT_DISK_TYPE_BALANCED",
              "PERSISTENT_DISK_TYPE_SSD"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified. Fallback to default value based on context.",
              "Standard HDD Persistent Disk.",
              "Balanced Persistent Disk.",
              "SSD Persistent Disk."
            ]
          }
        },
        "allocatedRegions": {
          "type": "array",
          "description": "Set of regions in which the assets were allocated.",
          "items": {
            "type": "string"
          }
        },
        "machineSeriesAllocations": {
          "items": {
            "$ref": "ReportSummaryMachineSeriesAllocation"
          },
          "description": "Distribution of assets based on the Machine Series.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "BatchUpdateAssetsRequest": {
      "id": "BatchUpdateAssetsRequest",
      "description": "A request to update a list of assets.",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.",
          "type": "array",
          "items": {
            "$ref": "UpdateAssetRequest"
          }
        }
      },
      "type": "object"
    },
    "OpenFileList": {
      "description": "Open file list.",
      "properties": {
        "entries": {
          "items": {
            "$ref": "OpenFileDetails"
          },
          "type": "array",
          "description": "Open file details entries."
        }
      },
      "type": "object",
      "id": "OpenFileList"
    },
    "SignedUri": {
      "id": "SignedUri",
      "type": "object",
      "description": "Contains a signed URI.",
      "properties": {
        "file": {
          "description": "Output only. Name of the file the Signed URI references.",
          "type": "string",
          "readOnly": true
        },
        "uri": {
          "description": "Output only. Download URI for the file.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Frames": {
      "id": "Frames",
      "description": "Collection of frame data.",
      "properties": {
        "framesData": {
          "type": "array",
          "description": "A repeated field of asset data.",
          "items": {
            "$ref": "AssetFrame"
          }
        }
      },
      "type": "object"
    },
    "ImportJob": {
      "id": "ImportJob",
      "type": "object",
      "description": "A resource that represents the background job that imports asset frames.",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ],
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ],
          "description": "Output only. The state of the import job."
        },
        "inlinePayload": {
          "$ref": "InlinePayloadInfo",
          "description": "The payload is included in the request, mainly used for small import jobs."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the import job was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs."
        },
        "completeTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the import job was completed.",
          "format": "google-datetime"
        },
        "gcsPayload": {
          "deprecated": true,
          "description": "The payload is in Google Cloud Storage.",
          "$ref": "GCSPayloadInfo"
        },
        "validationReport": {
          "readOnly": true,
          "$ref": "ValidationReport",
          "description": "Output only. The report with the validation results of the import job."
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the import job was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "executionReport": {
          "$ref": "ExecutionReport",
          "description": "Output only. The report with the results of running the import job.",
          "readOnly": true
        },
        "assetSource": {
          "type": "string",
          "description": "Required. Reference to a source."
        },
        "name": {
          "description": "Output only. The full name of the import job.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OutputFile": {
      "type": "object",
      "description": "Contains a single output file.",
      "properties": {
        "xlsxOutputFile": {
          "readOnly": true,
          "$ref": "XlsxOutputFile",
          "description": "Output only. XLSX output file."
        },
        "fileSizeBytes": {
          "description": "Output only. File size in bytes.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "csvOutputFile": {
          "$ref": "CsvOutputFile",
          "description": "Output only. CSV output file.",
          "readOnly": true
        }
      },
      "id": "OutputFile"
    },
    "DiskPartitionDetails": {
      "id": "DiskPartitionDetails",
      "description": "Disk partition details.",
      "properties": {
        "totalCapacityBytes": {
          "readOnly": true,
          "description": "Output only. Total capacity of all partitions.",
          "format": "int64",
          "type": "string"
        },
        "freeSpaceBytes": {
          "readOnly": true,
          "description": "Output only. Total free space of all partitions.",
          "format": "int64",
          "type": "string"
        },
        "partitions": {
          "description": "Optional. List of partitions.",
          "$ref": "DiskPartitionList"
        }
      },
      "type": "object"
    },
    "SqlServerTraceFlag": {
      "description": "SQL Server trace flag details.",
      "properties": {
        "traceFlagName": {
          "description": "Required. The trace flag name.",
          "type": "string"
        },
        "scope": {
          "description": "Required. The trace flag scope.",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "OFF",
            "GLOBAL",
            "SESSION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Off.",
            "Global.",
            "Session."
          ]
        }
      },
      "type": "object",
      "id": "SqlServerTraceFlag"
    },
    "MySqlStorageEngineDetails": {
      "id": "MySqlStorageEngineDetails",
      "type": "object",
      "description": "Mysql storage engine tables.",
      "properties": {
        "encryptedTableCount": {
          "description": "Optional. The number of encrypted tables.",
          "format": "int32",
          "type": "integer"
        },
        "engine": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ],
          "description": "Required. The storage engine.",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ]
        },
        "tableCount": {
          "type": "integer",
          "description": "Optional. The number of tables.",
          "format": "int32"
        }
      }
    },
    "ListImportJobsResponse": {
      "id": "ListImportJobsResponse",
      "type": "object",
      "description": "A response for listing import jobs.",
      "properties": {
        "importJobs": {
          "items": {
            "$ref": "ImportJob"
          },
          "type": "array",
          "description": "The list of import jobs."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "AwsGlueJobDetails": {
      "id": "AwsGlueJobDetails",
      "description": "Contains details for an AWS Glue Job asset.",
      "properties": {},
      "type": "object"
    },
    "AwsEmrClusterDetails": {
      "id": "AwsEmrClusterDetails",
      "type": "object",
      "description": "Contains details for an AWS EMR Cluster asset.",
      "properties": {}
    },
    "AddAssetsToGroupRequest": {
      "id": "AddAssetsToGroupRequest",
      "type": "object",
      "description": "A request to add assets to a group.",
      "properties": {
        "assets": {
          "description": "Required. List of assets to be added. The maximum number of assets that can be added in a single request is 2000.",
          "$ref": "AssetList"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "allowExisting": {
          "type": "boolean",
          "description": "Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`."
        }
      }
    },
    "MachineDiskDetails": {
      "id": "MachineDiskDetails",
      "description": "Details of machine disks.",
      "properties": {
        "totalFreeBytes": {
          "description": "Total disk free space.",
          "format": "int64",
          "type": "string"
        },
        "totalCapacityBytes": {
          "description": "Disk total Capacity.",
          "format": "int64",
          "type": "string"
        },
        "disks": {
          "description": "List of disks.",
          "$ref": "DiskEntryList"
        },
        "rawScanResult": {
          "type": "string",
          "description": "Raw disk scan result. This field is intended for human inspection. The format of this field may be lsblk output or any another raw output. The exact format may change without notice and should not be relied upon."
        }
      },
      "type": "object"
    },
    "ReportExportJob": {
      "id": "ReportExportJob",
      "description": "Report export job message.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Resource name.",
          "readOnly": true
        },
        "signedUriDestination": {
          "$ref": "SignedUriDestination",
          "description": "Export with a SignedUri."
        },
        "recentExecutions": {
          "readOnly": true,
          "items": {
            "$ref": "ReportExportExecution"
          },
          "type": "array",
          "description": "Output only. Recent not expired executions of the export report job."
        }
      },
      "type": "object"
    },
    "AggregationResultFrequency": {
      "description": "The result of a frequency distribution aggregation.",
      "properties": {
        "values": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object",
      "id": "AggregationResultFrequency"
    },
    "ReportSummaryChartDataDataPoint": {
      "description": "Describes a single data point in the Chart.",
      "properties": {
        "label": {
          "type": "string",
          "description": "The X-axis label for this data point."
        },
        "value": {
          "type": "number",
          "description": "The Y-axis value for this data point.",
          "format": "double"
        }
      },
      "type": "object",
      "id": "ReportSummaryChartDataDataPoint"
    },
    "DiscoveryClient": {
      "id": "DiscoveryClient",
      "description": "Represents an installed Migration Center Discovery Client instance.",
      "properties": {
        "expireTime": {
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time.",
          "format": "google-datetime",
          "type": "string"
        },
        "recommendedVersions": {
          "readOnly": true,
          "items": {
            "$ref": "DiscoveryClientDiscoveryClientRecommendedVersion"
          },
          "description": "Output only. The recommended versions of the discovery client.",
          "type": "array"
        },
        "signalsEndpoint": {
          "type": "string",
          "description": "Output only. This field is intended for internal use.",
          "readOnly": true
        },
        "heartbeatTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes).",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Identifier. Full name of this discovery client.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. Free text display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Required. Full name of the source object associated with this discovery client."
        },
        "version": {
          "readOnly": true,
          "description": "Output only. Client version, as reported in recent heartbeat.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Current state of the discovery client.",
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ]
        },
        "errors": {
          "readOnly": true,
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Errors affecting client functionality.",
          "type": "array"
        },
        "createTime": {
          "description": "Output only. Time when the discovery client was first created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "serviceAccount": {
          "description": "Required. Service account used by the discovery client for various operation.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Free text description. Maximum length is 1000 characters."
        },
        "ttl": {
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SqlServerSchemaDetails": {
      "id": "SqlServerSchemaDetails",
      "description": "Specific details for a SqlServer database.",
      "properties": {
        "clrObjectCount": {
          "type": "integer",
          "description": "Optional. SqlServer number of CLR objects.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "MigrationInsight": {
      "description": "An insight about potential migrations for an asset.",
      "properties": {
        "computeEngineTarget": {
          "readOnly": true,
          "description": "Output only. A Google Compute Engine target.",
          "$ref": "ComputeEngineMigrationTarget"
        },
        "vmwareEngineTarget": {
          "$ref": "VmwareEngineMigrationTarget",
          "description": "Output only. A VMWare Engine target.",
          "readOnly": true
        },
        "gkeTarget": {
          "readOnly": true,
          "$ref": "GoogleKubernetesEngineMigrationTarget",
          "description": "Output only. A Google Kubernetes Engine target."
        },
        "cloudDatabaseTarget": {
          "description": "Output only. A Cloud database migration target.",
          "$ref": "CloudDatabaseMigrationTarget",
          "readOnly": true
        },
        "fit": {
          "$ref": "FitDescriptor",
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration.",
          "readOnly": true
        },
        "issues": {
          "readOnly": true,
          "items": {
            "$ref": "Issue"
          },
          "type": "array",
          "description": "Output only. Issues associated with this migration."
        },
        "computeEngineSoleTenantTarget": {
          "$ref": "ComputeEngineSoleTenantMigrationTarget",
          "description": "Output only. A Google Compute Engine Sole Tenant target.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "MigrationInsight"
    },
    "SendDiscoveryClientHeartbeatRequest": {
      "id": "SendDiscoveryClientHeartbeatRequest",
      "type": "object",
      "description": "A request to send a discovery client heartbeat.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. Client application version."
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "description": "Optional. Errors affecting client functionality."
        }
      }
    },
    "NfsExport": {
      "type": "object",
      "description": "NFS export.",
      "properties": {
        "hosts": {
          "items": {
            "type": "string"
          },
          "description": "The hosts or networks to which the export is being shared.",
          "type": "array"
        },
        "exportDirectory": {
          "type": "string",
          "description": "The directory being exported."
        }
      },
      "id": "NfsExport"
    },
    "ListSourcesResponse": {
      "id": "ListSourcesResponse",
      "description": "Response message for listing sources.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array",
          "description": "The list of sources."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DatabasePreferencesCloudSqlPostgreSql": {
      "type": "object",
      "description": "Preferences for PostgreSQL on Cloud SQL.",
      "properties": {
        "common": {
          "$ref": "DatabasePreferencesCloudSqlCommon",
          "description": "Optional. Preferences to Cloud SQL databases."
        }
      },
      "id": "DatabasePreferencesCloudSqlPostgreSql"
    },
    "NetworkUsageSample": {
      "type": "object",
      "description": "Network usage sample. Values are across all network interfaces.",
      "properties": {
        "averageIngressBps": {
          "type": "number",
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative.",
          "format": "float"
        },
        "averageEgressBps": {
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "NetworkUsageSample"
    },
    "ReportSummaryVMWareEngineFinding": {
      "description": "A set of findings that applies to assets destined for VMWare Engine.",
      "properties": {
        "allocatedAssetCount": {
          "description": "Count of assets which are allocated",
          "format": "int64",
          "type": "string"
        },
        "nodeAllocations": {
          "type": "array",
          "description": "Set of per-nodetype allocation records",
          "items": {
            "$ref": "ReportSummaryVMWareNodeAllocation"
          }
        },
        "allocatedRegions": {
          "description": "Set of regions in which the assets were allocated",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ReportSummaryVMWareEngineFinding"
    },
    "ReportSummaryAssetAggregateStatsEstimatedUsageStats": {
      "description": "Estimated usage stats for the assets in this collection.",
      "properties": {
        "totalAssetsUsingEstimatedUsage": {
          "type": "string",
          "description": "Output only. The number of assets that are using at least one estimated usage metric for rightsizing.",
          "format": "int64",
          "readOnly": true
        },
        "totalVirtualMachinesUsingEstimatedUsage": {
          "type": "string",
          "description": "Output only. The number of virtual machines in this finding that are using at least one estimated usage metric for rightsizing.",
          "format": "int64",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ReportSummaryAssetAggregateStatsEstimatedUsageStats"
    },
    "ReportSummaryAssetAggregateStats": {
      "description": "Aggregate statistics for a collection of assets.",
      "properties": {
        "memoryUtilization": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryChartData",
          "deprecated": true
        },
        "coreCountHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of logical CPU core counts."
        },
        "totalCores": {
          "description": "Sum of the CPU core count of all the assets in this collection.",
          "format": "int64",
          "type": "string"
        },
        "operatingSystem": {
          "description": "Count of assets grouped by Operating System families. Only present for virtual machines.",
          "$ref": "ReportSummaryChartData"
        },
        "assetAge": {
          "deprecated": true,
          "$ref": "ReportSummaryChartData",
          "description": "Count of assets grouped by age."
        },
        "memoryBytesHistogram": {
          "description": "Histogram showing a distribution of memory sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "databaseTypes": {
          "$ref": "ReportSummaryChartData",
          "description": "Output only. Count of assets grouped by database type. Keys here are taken from DatabaseType enum. Only present for databases.",
          "readOnly": true
        },
        "storageUtilizationChart": {
          "$ref": "ReportSummaryUtilizationChartData",
          "description": "Total memory split into Used/Free buckets."
        },
        "memoryUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "softwareInstances": {
          "$ref": "ReportSummaryChartData",
          "description": "Output only. Count of assets grouped by software name. Only present for virtual machines.",
          "readOnly": true
        },
        "totalAssets": {
          "type": "string",
          "description": "Count of the number of unique assets in this collection.",
          "format": "int64"
        },
        "estimatedUsageStats": {
          "$ref": "ReportSummaryAssetAggregateStatsEstimatedUsageStats",
          "description": "Output only. Estimated usage stats for the assets in this collection.",
          "readOnly": true
        },
        "totalMemoryBytes": {
          "type": "string",
          "description": "Sum of the memory in bytes of all the assets in this collection.",
          "format": "int64"
        },
        "storageBytesHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of storage sizes."
        },
        "storageUtilization": {
          "$ref": "ReportSummaryChartData",
          "description": "Total storage split into Used/Free buckets.",
          "deprecated": true
        },
        "totalStorageBytes": {
          "type": "string",
          "description": "Sum of persistent storage in bytes of all the assets in this collection.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "ReportSummaryAssetAggregateStats"
    },
    "MySqlProperty": {
      "description": "MySql property.",
      "properties": {
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The property is enabled."
        },
        "numericValue": {
          "type": "string",
          "description": "Required. The property numeric value.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "MySqlProperty"
    },
    "AwsDynamoDBTableDetails": {
      "id": "AwsDynamoDBTableDetails",
      "type": "object",
      "description": "Details of an AWS DynamoDB table.",
      "properties": {}
    },
    "ComputeEngineMigrationTarget": {
      "id": "ComputeEngineMigrationTarget",
      "description": "Compute engine migration target.",
      "properties": {
        "shape": {
          "description": "Description of the suggested shape for the migration target.",
          "$ref": "ComputeEngineShapeDescriptor"
        }
      },
      "type": "object"
    },
    "ReportAssetFramesResponse": {
      "type": "object",
      "description": "A response to a call to `ReportAssetFrame`.",
      "properties": {},
      "id": "ReportAssetFramesResponse"
    },
    "PayloadFile": {
      "type": "object",
      "description": "Payload file for inline import job payload.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The file name."
        },
        "data": {
          "description": "The file data.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "PayloadFile"
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        }
      },
      "id": "OperationMetadata"
    },
    "AwsRedshiftDetails": {
      "type": "object",
      "description": "Details of an AWS Redshift cluster.",
      "properties": {},
      "id": "AwsRedshiftDetails"
    },
    "AwsEksClusterDetails": {
      "id": "AwsEksClusterDetails",
      "type": "object",
      "description": "Asset information specific for AWS EKS clusters.",
      "properties": {}
    },
    "VmwareEnginePreferences": {
      "id": "VmwareEnginePreferences",
      "description": "The user preferences relating to Google Cloud VMware Engine target platform.",
      "properties": {
        "machinePreferences": {
          "$ref": "VMwareEngineMachinePreferences",
          "description": "Optional. Preferences concerning the machine types to consider on Google Cloud VMware Engine."
        },
        "serviceType": {
          "type": "string",
          "enumDescriptions": [
            "Same as SERVICE_TYPE_FULLY_LICENSED.",
            "Google provided VCF license.",
            "Bring Your Own License."
          ],
          "description": "Optional. GCVE service type (fully licensed or portable license).",
          "enum": [
            "SERVICE_TYPE_UNSPECIFIED",
            "SERVICE_TYPE_FULLY_LICENSED",
            "SERVICE_TYPE_PORTABLE_LICENSE"
          ]
        },
        "licenseDiscountPercentage": {
          "description": "Optional. Discount percentage for the license offered to you by Broadcom. Must be between 0 and 100. Only valid when service_type is set to SERVICE_TYPE_PORTABLE_LICENSE.",
          "format": "float",
          "type": "number"
        },
        "memoryOvercommitRatio": {
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0.",
          "format": "double",
          "type": "number"
        },
        "cpuOvercommitRatio": {
          "type": "number",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment.",
          "format": "double"
        },
        "storageDeduplicationCompressionRatio": {
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0.",
          "format": "double",
          "type": "number"
        },
        "commitmentPlan": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment).",
            "3-year flexible commitment (monthly payments). While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible commitment (upfront payment). While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_FLEXIBLE_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_FLEXIBLE_3_YEAR_UPFRONT_PAYMENT"
          ]
        }
      },
      "type": "object"
    },
    "AggregationResultSum": {
      "id": "AggregationResultSum",
      "type": "object",
      "description": "The result of a sum aggregation.",
      "properties": {
        "value": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "ReportSummaryGroupFinding": {
      "id": "ReportSummaryGroupFinding",
      "description": "Summary Findings for a specific Group.",
      "properties": {
        "databaseType": {
          "description": "Output only. Source asset database type for the group finding. Only present for databases.",
          "enumDescriptions": [
            "Unknown database type.",
            "SQL Server database.",
            "MySQL database.",
            "PostgreSQL database."
          ],
          "readOnly": true,
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "SQL_SERVER",
            "MYSQL",
            "POSTGRES"
          ],
          "type": "string"
        },
        "description": {
          "description": "Description for this group finding.",
          "type": "string"
        },
        "assetAggregateStats": {
          "description": "Summary statistics for all the assets in this group.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "group": {
          "type": "string",
          "description": "Output only. Full name of the group.",
          "readOnly": true
        },
        "assetType": {
          "description": "Output only. Asset type for the group finding.",
          "enumDescriptions": [
            "Unknown asset type.",
            "Virtual Machine asset type",
            "Database asset type"
          ],
          "enum": [
            "ASSET_TYPE_UNSPECIFIED",
            "VIRTUAL_MACHINE",
            "DATABASE"
          ],
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Display Name for this group finding.",
          "type": "string"
        },
        "overlappingAssetCount": {
          "deprecated": true,
          "type": "string",
          "description": "This field is deprecated, do not rely on it having a value.",
          "format": "int64"
        },
        "preferenceSetFindings": {
          "items": {
            "$ref": "ReportSummaryGroupPreferenceSetFinding"
          },
          "type": "array",
          "description": "Findings for each of the PreferenceSets for this group."
        }
      },
      "type": "object"
    },
    "GuestOsDetails": {
      "type": "object",
      "description": "Information from Guest-level collections.",
      "properties": {
        "osName": {
          "type": "string",
          "description": "The name of the operating system."
        },
        "config": {
          "$ref": "GuestConfigDetails",
          "description": "OS and app configuration."
        },
        "runtime": {
          "description": "Runtime information.",
          "$ref": "GuestRuntimeDetails"
        },
        "family": {
          "description": "What family the OS belong to, if known.",
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ]
        },
        "version": {
          "type": "string",
          "description": "The version of the operating system."
        }
      },
      "id": "GuestOsDetails"
    },
    "ListDiscoveryClientsResponse": {
      "id": "ListDiscoveryClientsResponse",
      "type": "object",
      "description": "Response message for listing discovery clients.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "discoveryClients": {
          "items": {
            "$ref": "DiscoveryClient"
          },
          "description": "List of discovery clients.",
          "type": "array"
        }
      }
    },
    "AwsAutoscalingGroupDetails": {
      "type": "object",
      "description": "Asset information specific for AWS Autoscaling Group.",
      "properties": {},
      "id": "AwsAutoscalingGroupDetails"
    },
    "AwsAppSyncGraphqlApiDetails": {
      "id": "AwsAppSyncGraphqlApiDetails",
      "description": "Asset information specific for AWS AppSync GraphQL APIs.",
      "properties": {},
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      }
    },
    "CpuUsageSample": {
      "id": "CpuUsageSample",
      "description": "CPU usage sample.",
      "properties": {
        "utilizedPercentage": {
          "type": "number",
          "description": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage.",
          "format": "float"
        }
      },
      "type": "object"
    },
    "AwsEcsClusterDetails": {
      "description": "Details of an AWS ECS cluster.",
      "properties": {},
      "type": "object",
      "id": "AwsEcsClusterDetails"
    },
    "ReportSummaryVMWareNodeAllocation": {
      "id": "ReportSummaryVMWareNodeAllocation",
      "type": "object",
      "description": "Represents assets allocated to a specific VMWare Node type.",
      "properties": {
        "nodeCount": {
          "type": "string",
          "description": "Count of this node type to be provisioned",
          "format": "int64"
        },
        "vmwareNode": {
          "$ref": "ReportSummaryVMWareNode",
          "description": "VMWare node type, e.g. \"ve1-standard-72\""
        },
        "allocatedAssetCount": {
          "type": "string",
          "description": "Count of assets allocated to these nodes",
          "format": "int64"
        }
      }
    },
    "DiscoveryClientDiscoveryClientRecommendedVersion": {
      "type": "object",
      "description": "Discovery client recommended version.",
      "properties": {
        "version": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The version of the discovery client."
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the discovery client version."
        }
      },
      "id": "DiscoveryClientDiscoveryClientRecommendedVersion"
    },
    "AwsApiGatewayRestApiDetails": {
      "id": "AwsApiGatewayRestApiDetails",
      "description": "Asset information specific for AWS API Gateway REST APIs.",
      "properties": {},
      "type": "object"
    },
    "AggregationResultCount": {
      "type": "object",
      "description": "The result of a count aggregation.",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "AggregationResultCount"
    },
    "AggregateAssetsValuesRequest": {
      "id": "AggregateAssetsValuesRequest",
      "description": "A request to aggregate one or more values.",
      "properties": {
        "aggregations": {
          "items": {
            "$ref": "Aggregation"
          },
          "type": "array",
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined."
        },
        "filter": {
          "type": "string",
          "description": "Optional. The aggregation will be performed on assets that match the provided filter."
        },
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "MySqlSchemaDetails": {
      "id": "MySqlSchemaDetails",
      "type": "object",
      "description": "Specific details for a Mysql database.",
      "properties": {
        "storageEngines": {
          "items": {
            "$ref": "MySqlStorageEngineDetails"
          },
          "description": "Optional. Mysql storage engine tables.",
          "type": "array"
        }
      }
    },
    "RegionPreferences": {
      "type": "object",
      "description": "The user preferences relating to target regions.",
      "properties": {
        "preferredRegions": {
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "RegionPreferences"
    },
    "VirtualMachinePreferencesSizingOptimizationCustomParameters": {
      "id": "VirtualMachinePreferencesSizingOptimizationCustomParameters",
      "type": "object",
      "description": "Custom data to use for sizing optimizations.",
      "properties": {
        "aggregationMethod": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified aggregation method. Can be used for default value.",
            "Average of utilization data.",
            "Median of utilization data.",
            "95th percentile of utilization data.",
            "Peak of utilization data."
          ],
          "description": "Optional. Type of statistical aggregation of a resource utilization data, on which to base the sizing metrics.",
          "enum": [
            "AGGREGATION_METHOD_UNSPECIFIED",
            "AGGREGATION_METHOD_AVERAGE",
            "AGGREGATION_METHOD_MEDIAN",
            "AGGREGATION_METHOD_NINETY_FIFTH_PERCENTILE",
            "AGGREGATION_METHOD_PEAK"
          ]
        },
        "storageMultiplier": {
          "description": "Optional. Desired increase factor of storage, relative to currently used storage. Must be in the interval [1.0, 2.0] (or 0 for default value).",
          "format": "double",
          "type": "number"
        },
        "memoryUsagePercentage": {
          "type": "integer",
          "description": "Optional. Desired percentage of memory usage. Must be in the interval [1, 100] (or 0 for default value).",
          "format": "int32"
        },
        "cpuUsagePercentage": {
          "type": "integer",
          "description": "Optional. Desired percentage of CPU usage. Must be in the interval [1, 100] (or 0 for default value).",
          "format": "int32"
        }
      }
    },
    "HostingProviderDetails": {
      "id": "HostingProviderDetails",
      "description": "Details about the hosting platform of the asset.",
      "properties": {
        "originalId": {
          "description": "Optional. Unique identifier for the asset in the hosting provider.",
          "type": "string"
        },
        "aws": {
          "$ref": "HostingProviderDetailsAws",
          "description": "Optional. The AWS platform details."
        },
        "createTime": {
          "description": "Optional. The timestamp when resource was created in the hosting provider.",
          "format": "google-datetime",
          "type": "string"
        },
        "location": {
          "description": "Optional. Location of the asset.",
          "$ref": "ResourceLocation"
        },
        "displayName": {
          "description": "Optional. Display name of the asset.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RunningServiceList": {
      "id": "RunningServiceList",
      "description": "List of running guest OS services.",
      "properties": {
        "services": {
          "items": {
            "$ref": "RunningService"
          },
          "description": "Running service entries.",
          "type": "array"
        },
        "entries": {
          "items": {
            "$ref": "RunningService"
          },
          "type": "array",
          "description": "Running service entries."
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "ListLocationsResponse"
    },
    "ImportRowErrorCsvErrorDetails": {
      "id": "ImportRowErrorCsvErrorDetails",
      "description": "Error details for a CSV file.",
      "properties": {
        "rowNumber": {
          "type": "integer",
          "description": "The row number where the error was detected.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "FstabEntry": {
      "description": "Single fstab entry.",
      "properties": {
        "mntops": {
          "type": "string",
          "description": "Mount options associated with the filesystem."
        },
        "vfstype": {
          "type": "string",
          "description": "The type of the filesystem."
        },
        "freq": {
          "type": "integer",
          "description": "Used by dump to determine which filesystems need to be dumped.",
          "format": "int32"
        },
        "file": {
          "description": "The mount point for the filesystem.",
          "type": "string"
        },
        "passno": {
          "description": "Used by the fsck(8) program to determine the order in which filesystem checks are done at reboot time.",
          "format": "int32",
          "type": "integer"
        },
        "spec": {
          "description": "The block special device or remote filesystem to be mounted.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FstabEntry"
    },
    "CascadeLogicalDBsRule": {
      "id": "CascadeLogicalDBsRule",
      "description": "Cascading rule for related logical DBs.",
      "properties": {},
      "type": "object"
    },
    "NetworkAddress": {
      "type": "object",
      "description": "Details of network address.",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Assigned or configured IP Address."
        },
        "bcast": {
          "description": "Broadcast address.",
          "type": "string"
        },
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name."
        },
        "assignment": {
          "description": "Whether DHCP is used to assign addresses.",
          "enum": [
            "ADDRESS_ASSIGNMENT_UNSPECIFIED",
            "ADDRESS_ASSIGNMENT_STATIC",
            "ADDRESS_ASSIGNMENT_DHCP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown (default value).",
            "Statically assigned IP.",
            "Dynamically assigned IP (DHCP)."
          ]
        },
        "subnetMask": {
          "type": "string",
          "description": "Subnet mask."
        }
      },
      "id": "NetworkAddress"
    },
    "MachineDetails": {
      "id": "MachineDetails",
      "description": "Details of a machine.",
      "properties": {
        "network": {
          "$ref": "MachineNetworkDetails",
          "description": "Network details."
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "platform": {
          "description": "Platform specific information.",
          "$ref": "PlatformDetails"
        },
        "coreCount": {
          "type": "integer",
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "format": "int32"
        },
        "guestOs": {
          "$ref": "GuestOsDetails",
          "description": "Guest OS information."
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "architecture": {
          "description": "Architecture details (vendor, CPU architecture).",
          "$ref": "MachineArchitectureDetails"
        },
        "diskPartitions": {
          "$ref": "DiskPartitionDetails",
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks."
        },
        "machineName": {
          "type": "string",
          "description": "Machine name."
        },
        "createTime": {
          "type": "string",
          "description": "Machine creation time.",
          "format": "google-datetime"
        },
        "memoryMb": {
          "type": "integer",
          "description": "The amount of memory in the machine. Must be non-negative.",
          "format": "int32"
        },
        "powerState": {
          "type": "string",
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "description": "Power state of the machine.",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ]
        }
      },
      "type": "object"
    },
    "DatabaseInstance": {
      "type": "object",
      "description": "Details of a database instance.",
      "properties": {
        "instanceName": {
          "description": "The instance's name.",
          "type": "string"
        },
        "role": {
          "description": "The instance role in the database engine.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "ARBITER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Primary.",
            "Secondary.",
            "Arbiter."
          ]
        },
        "network": {
          "$ref": "DatabaseInstanceNetwork",
          "description": "Optional. Networking details."
        }
      },
      "id": "DatabaseInstance"
    },
    "OutputFileList": {
      "description": "Contains a list of output files.",
      "properties": {
        "entries": {
          "type": "array",
          "description": "List of output files.",
          "items": {
            "$ref": "OutputFile"
          }
        }
      },
      "type": "object",
      "id": "OutputFileList"
    },
    "Selinux": {
      "id": "Selinux",
      "description": "SELinux details.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Is SELinux enabled."
        },
        "mode": {
          "description": "SELinux mode disabled / enforcing / permissive.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AwsElbLoadBalancerDetails": {
      "id": "AwsElbLoadBalancerDetails",
      "description": "Asset information specific for AWS Load Balancers.",
      "properties": {},
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "SqlServerFeature": {
      "id": "SqlServerFeature",
      "description": "SQL Server feature details.",
      "properties": {
        "featureName": {
          "description": "Required. The feature name.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. Field enabled is set when a feature is used on the source deployment."
        }
      },
      "type": "object"
    },
    "DatabaseObjects": {
      "id": "DatabaseObjects",
      "type": "object",
      "description": "Details of a group of database objects.",
      "properties": {
        "category": {
          "description": "The category of the objects.",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "TABLE",
            "INDEX",
            "CONSTRAINTS",
            "VIEWS",
            "SOURCE_CODE",
            "OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Table.",
            "Index.",
            "Constraints.",
            "Views.",
            "Source code, e.g. procedures.",
            "Uncategorized objects."
          ]
        },
        "count": {
          "description": "The number of objects.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "DatabasePreferences": {
      "description": "DatabasePreferences enables you to create sets of preferences for your migrated databases.",
      "properties": {
        "postgresqlToCloudSqlForPostgresqlPreferences": {
          "$ref": "DatabasePreferencesCloudSqlPostgreSql",
          "description": "Optional. Preferences for target PostgreSQL on Cloud SQL when migrating from source PostgreSQL."
        },
        "mysqlToCloudSqlForMysqlPreferences": {
          "description": "Optional. Preferences for target MySQL on Cloud SQL when migrating from source MySQL.",
          "$ref": "DatabasePreferencesCloudSqlMySql"
        },
        "mssqlToCloudSqlForSqlServerPreferences": {
          "$ref": "DatabasePreferencesCloudSqlSqlServer",
          "description": "Optional. Preferences for target SQL Server on Cloud SQL when migrating from source Microsoft SQL server."
        }
      },
      "type": "object",
      "id": "DatabasePreferences"
    },
    "ListReportConfigsResponse": {
      "description": "Response message for listing report configs.",
      "properties": {
        "reportConfigs": {
          "description": "A list of report configs.",
          "type": "array",
          "items": {
            "$ref": "ReportConfig"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListReportConfigsResponse"
    },
    "ReportSummaryGroupPreferenceSetFinding": {
      "id": "ReportSummaryGroupPreferenceSetFinding",
      "type": "object",
      "description": "Summary Findings for a specific Group/PreferenceSet combination.",
      "properties": {
        "preferredRegion": {
          "description": "Target region for this Preference Set",
          "type": "string",
          "deprecated": true
        },
        "monthlyCostOther": {
          "readOnly": true,
          "description": "Output only. Miscellaneous monthly cost for this preference set.",
          "$ref": "Money"
        },
        "pricingTrack": {
          "description": "Text describing the pricing track specified for this Preference Set",
          "type": "string",
          "deprecated": true
        },
        "monthlyCostTotal": {
          "description": "Output only. Total monthly cost for this preference set.",
          "$ref": "Money",
          "readOnly": true
        },
        "monthlyCostOsLicense": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. All operating systems licensing monthly cost for this preference set. Only present for virtual machines."
        },
        "monthlyCostGcveProtected": {
          "readOnly": true,
          "description": "Output only. GCVE Protected nodes cost for this preference set.",
          "$ref": "Money"
        },
        "preferenceSet": {
          "readOnly": true,
          "description": "Output only. A copy of the preference set used for this finding.",
          "$ref": "PreferenceSet"
        },
        "monthlyCostPortableVmwareLicense": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. VMware portable license monthly cost for this preference set. Only present for VMware target with portable license service type. This cost is not paid to google, but is an estimate of license costs paid to VMware."
        },
        "monthlyCostNetworkEgress": {
          "$ref": "Money",
          "description": "Output only. Network Egress monthly cost for this preference set. Only present for virtual machines.",
          "readOnly": true
        },
        "description": {
          "description": "Description for the Preference Set.",
          "type": "string"
        },
        "monthlyCostCompute": {
          "description": "Output only. Compute monthly cost for this preference set.",
          "$ref": "Money",
          "readOnly": true
        },
        "soleTenantFinding": {
          "$ref": "ReportSummarySoleTenantFinding",
          "description": "A set of findings that applies to Stole-Tenant machines in the input. Only present for virtual machines."
        },
        "databaseFinding": {
          "description": "Output only. Details about databases in this finding. Only present for databases.",
          "$ref": "ReportSummaryDatabaseFinding",
          "readOnly": true
        },
        "topPriority": {
          "deprecated": true,
          "type": "string",
          "description": "Text describing the business priority specified for this Preference Set"
        },
        "monthlyCostDatabaseBackup": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. Backup monthly cost for this preference set. Only present for databases."
        },
        "machineFinding": {
          "readOnly": true,
          "description": "Output only. A set of findings that applies to all virtual machines in the input. Only present for virtual machines.",
          "$ref": "ReportSummaryMachineFinding"
        },
        "monthlyCostDatabaseLicensing": {
          "readOnly": true,
          "description": "Output only. Database licensing monthly cost for this preference set. Only present for databases.",
          "$ref": "Money"
        },
        "machinePreferences": {
          "$ref": "VirtualMachinePreferences",
          "description": "A set of preferences that applies to all machines in the context."
        },
        "vmwareEngineFinding": {
          "$ref": "ReportSummaryVMWareEngineFinding",
          "description": "A set of findings that applies to VMWare machines in the input. Only present for virtual machines."
        },
        "monthlyCostStorage": {
          "description": "Output only. Storage monthly cost for this preference set.",
          "$ref": "Money",
          "readOnly": true
        },
        "displayName": {
          "description": "Display Name of the Preference Set",
          "type": "string"
        }
      }
    },
    "VmwareEngineMigrationTarget": {
      "type": "object",
      "description": "VMWare engine migration target.",
      "properties": {},
      "id": "VmwareEngineMigrationTarget"
    },
    "DatabasePreferencesCloudSqlCommonBackup": {
      "description": "Preferences for database backups.",
      "properties": {
        "backupMode": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified database backup mode.",
            "Automatic backups disabled, no additional charges for storage.",
            "Automatic backups enabled, there will be additional charges for storage."
          ],
          "description": "Optional. Automated backup mode.",
          "enum": [
            "BACKUP_MODE_UNSPECIFIED",
            "BACKUP_MODE_DISABLED",
            "BACKUP_MODE_ENABLED"
          ]
        }
      },
      "type": "object",
      "id": "DatabasePreferencesCloudSqlCommonBackup"
    },
    "NetworkAddressList": {
      "description": "List of allocated/assigned network addresses.",
      "properties": {
        "addresses": {
          "items": {
            "$ref": "NetworkAddress"
          },
          "type": "array",
          "description": "Network address entries."
        },
        "entries": {
          "description": "Network address entries.",
          "type": "array",
          "items": {
            "$ref": "NetworkAddress"
          }
        }
      },
      "type": "object",
      "id": "NetworkAddressList"
    },
    "GuestConfigDetails": {
      "id": "GuestConfigDetails",
      "type": "object",
      "description": "Guest OS config information.",
      "properties": {
        "fstab": {
          "$ref": "FstabEntryList",
          "description": "Mount list (Linux fstab)."
        },
        "nfsExports": {
          "$ref": "NfsExportList",
          "description": "NFS exports."
        },
        "selinux": {
          "$ref": "Selinux",
          "description": "SELinux details."
        },
        "hosts": {
          "$ref": "HostsEntryList",
          "description": "Output only. Hosts file (/etc/hosts).",
          "readOnly": true
        },
        "selinuxMode": {
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ],
          "type": "string",
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ]
        },
        "issue": {
          "description": "OS issue (typically /etc/issue in Linux).",
          "type": "string"
        }
      }
    },
    "CloudSqlForMySqlShape": {
      "type": "object",
      "description": "Cloud SQL for MySQL database shape.",
      "properties": {
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "zoneAvailability": {
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "description": "Output only. Cloud SQL zone availability.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ]
        },
        "version": {
          "enum": [
            "MY_SQL_VERSION_UNSPECIFIED",
            "MY_SQL_VERSION_5_6",
            "MY_SQL_VERSION_5_7",
            "MY_SQL_VERSION_8_0"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. MySQL version to be used on the Cloud SQL for MySQL instance.",
          "enumDescriptions": [
            "Unspecified MySQL version.",
            "MySQL 5.6.",
            "MySQL 5.7.",
            "MySQL 8.0."
          ]
        },
        "egressGbPerMonth": {
          "type": "string",
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "format": "int64",
          "readOnly": true
        },
        "edition": {
          "description": "Output only. Cloud SQL edition.",
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "readOnly": true,
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "type": "string"
        },
        "backupStorageGb": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Predicted backup storage size in GiB.",
          "format": "int32"
        },
        "memoryMb": {
          "readOnly": true,
          "description": "Output only. Predicted amount of memory in MiB.",
          "format": "int32",
          "type": "integer"
        },
        "storage": {
          "readOnly": true,
          "$ref": "ComputeStorageDescriptor",
          "description": "Output only. Predicted storage shape."
        }
      },
      "id": "CloudSqlForMySqlShape"
    },
    "ReportSummaryHistogramChartDataBucket": {
      "type": "object",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "properties": {
        "count": {
          "description": "Count of items in the bucket.",
          "format": "int64",
          "type": "string"
        },
        "lowerBound": {
          "description": "Lower bound - inclusive.",
          "format": "int64",
          "type": "string"
        },
        "upperBound": {
          "type": "string",
          "description": "Upper bound - exclusive.",
          "format": "int64"
        }
      },
      "id": "ReportSummaryHistogramChartDataBucket"
    },
    "TimeZone": {
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "id": "TimeZone"
    },
    "AssetPerformanceData": {
      "description": "Performance data for an asset.",
      "properties": {
        "dailyResourceUsageAggregations": {
          "type": "array",
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent.",
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          }
        }
      },
      "type": "object",
      "id": "AssetPerformanceData"
    },
    "ReportExportExecution": {
      "id": "ReportExportExecution",
      "type": "object",
      "description": "Execution status of report export operation.",
      "properties": {
        "executionId": {
          "readOnly": true,
          "description": "Output only. Globally unique identifier of the execution.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. Execution start timestamp.",
          "format": "google-datetime",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Completion time of the export.",
          "format": "google-datetime",
          "readOnly": true
        },
        "result": {
          "readOnly": true,
          "description": "Output only. Result of the export execution.",
          "$ref": "ReportExportExecutionResult"
        },
        "progressPercentage": {
          "type": "integer",
          "description": "Output only. Represents the progress of the execution. It reaches 100 when the execution is successfully completed. When the execution finishes with a failure, the progress is set to 0.",
          "format": "int32",
          "readOnly": true
        },
        "expireTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Expiration time for the export and artifacts.",
          "format": "google-datetime"
        }
      }
    },
    "ImportDataFile": {
      "description": "A resource that represents a payload file in an import job.",
      "properties": {
        "name": {
          "description": "Output only. The name of the file.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-friendly display name. Maximum length is 256 characters."
        },
        "uploadFileInfo": {
          "description": "Information about a file that is uploaded to a storage service.",
          "$ref": "UploadFileInfo"
        },
        "createTime": {
          "description": "Output only. The timestamp when the file was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "format": {
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "type": "string",
          "description": "Required. The payload format.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ]
        },
        "state": {
          "description": "Output only. The state of the import data file.",
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ImportDataFile"
    },
    "VmwarePlatformDetails": {
      "type": "object",
      "description": "VMware specific details.",
      "properties": {
        "osid": {
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html.",
          "type": "string"
        },
        "esxVersion": {
          "type": "string",
          "description": "ESX version."
        },
        "vcenterVersion": {
          "type": "string",
          "description": "vCenter version."
        },
        "vcenterFolder": {
          "type": "string",
          "description": "Folder name in vCenter where asset resides."
        },
        "vcenterVmId": {
          "type": "string",
          "description": "vCenter VM ID."
        },
        "vcenterUri": {
          "type": "string",
          "description": "vCenter URI used in collection."
        },
        "esxHyperthreading": {
          "description": "Whether the ESX is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        }
      },
      "id": "VmwarePlatformDetails"
    },
    "ReportConfig": {
      "description": "The groups and associated preference sets on which we can generate reports.",
      "properties": {
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "groupPreferencesetAssignments": {
          "type": "array",
          "description": "Required. Collection of combinations of groups and preference sets.",
          "items": {
            "$ref": "ReportConfigGroupPreferenceSetAssignment"
          }
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of resource.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ReportConfig"
    },
    "AssetFrame": {
      "id": "AssetFrame",
      "type": "object",
      "description": "Contains data reported from an inventory source on an asset.",
      "properties": {
        "collectionType": {
          "description": "Optional. Frame collection type, if not specified the collection type will be based on the source type of the source the frame was reported on.",
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ]
        },
        "awsEcsClusterDetails": {
          "$ref": "AwsEcsClusterDetails",
          "description": "Asset information specific for AWS ECS clusters."
        },
        "awsDynamodbTableDetails": {
          "$ref": "AwsDynamoDBTableDetails",
          "description": "Asset information specific for AWS DynamoDB tables."
        },
        "awsGlueJobDetails": {
          "description": "Optional. Asset information specific for AwsGlueJobDetails",
          "$ref": "AwsGlueJobDetails"
        },
        "awsApplicationLoadBalancerDetails": {
          "$ref": "AwsApplicationLoadBalancerDetails",
          "description": "Optional. Asset information specific for AWS Application Load Balancers."
        },
        "performanceSamples": {
          "items": {
            "$ref": "PerformanceSample"
          },
          "description": "Asset performance data samples. Samples that are from more than 40 days ago or after tomorrow are ignored.",
          "type": "array"
        },
        "awsElbLoadBalancerDetails": {
          "description": "Asset information specific for AWS Load Balancers.",
          "$ref": "AwsElbLoadBalancerDetails"
        },
        "awsRedshiftDetails": {
          "$ref": "AwsRedshiftDetails",
          "description": "Asset information specific for AWS Redshift clusters."
        },
        "awsS3BucketDetails": {
          "$ref": "AwsS3BucketDetails",
          "description": "Asset information specific for AWS S3 buckets."
        },
        "awsVpcDetails": {
          "description": "Asset information specific for AWS VPCs.",
          "$ref": "AwsVpcDetails"
        },
        "awsEbsVolumeDetails": {
          "description": "Optional. Asset information specific for AWS EBS Volumes.",
          "$ref": "AwsEbsVolumeDetails"
        },
        "awsAppSyncGraphqlApiDetails": {
          "description": "Optional. Asset information specific for AWS AppSync GraphQL APIs.",
          "$ref": "AwsAppSyncGraphqlApiDetails"
        },
        "awsElasticacheClusterDetails": {
          "$ref": "AwsElastiCacheClusterDetails",
          "description": "Optional. Asset information specific for AWS ElastiCache Clusters."
        },
        "awsRoute53HostedZoneDetails": {
          "$ref": "AwsRoute53HostedZoneDetails",
          "description": "Asset information specific for AwsRoute53HostedZoneDetails"
        },
        "traceToken": {
          "description": "Optional. Trace token is optionally provided to assist with debugging and traceability.",
          "type": "string"
        },
        "structuredAttributes": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Generic structured asset attributes."
        },
        "databaseDeploymentDetails": {
          "$ref": "DatabaseDeploymentDetails",
[...]
