{
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "documentationLink": "https://cloud.google.com/migration-center",
  "name": "migrationcenter",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "version_module": true,
  "revision": "20260621",
  "mtlsRootUrl": "https://migrationcenter.mtls.googleapis.com/",
  "version": "v1alpha1",
  "basePath": "",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "servicePath": "",
  "canonicalName": "Migration Center API",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "id": "migrationcenter:v1alpha1",
  "title": "Migration Center API",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "schemas": {
    "DatabaseObjects": {
      "id": "DatabaseObjects",
      "description": "Details of a group of database objects.",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Table.",
            "Index.",
            "Constraints.",
            "Views.",
            "Source code, e.g. procedures.",
            "Uncategorized objects."
          ],
          "description": "The category of the objects.",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "TABLE",
            "INDEX",
            "CONSTRAINTS",
            "VIEWS",
            "SOURCE_CODE",
            "OTHER"
          ]
        },
        "count": {
          "description": "The number of objects.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GuestConfigDetails": {
      "id": "GuestConfigDetails",
      "description": "Guest OS config information.",
      "type": "object",
      "properties": {
        "issue": {
          "description": "OS issue (typically /etc/issue in Linux).",
          "type": "string"
        },
        "fstab": {
          "$ref": "FstabEntryList",
          "description": "Mount list (Linux fstab)."
        },
        "selinux": {
          "$ref": "Selinux",
          "description": "SELinux details."
        },
        "nfsExports": {
          "description": "NFS exports.",
          "$ref": "NfsExportList"
        },
        "hosts": {
          "$ref": "HostsEntryList",
          "readOnly": true,
          "description": "Output only. Hosts file (/etc/hosts)."
        },
        "selinuxMode": {
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ],
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ],
          "type": "string"
        }
      }
    },
    "TimeZone": {
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "ComputeStorageDescriptor": {
      "type": "object",
      "properties": {
        "sizeGb": {
          "description": "Disk size in GiB.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "description": "Output only. Disk type backing the storage.",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ComputeStorageDescriptor",
      "description": "Compute Engine storage option descriptor."
    },
    "ReportExportExecutionResult": {
      "id": "ReportExportExecutionResult",
      "description": "Contains the result of the report export.",
      "properties": {
        "signedUris": {
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "readOnly": true,
          "$ref": "SignedUris"
        },
        "outputFiles": {
          "readOnly": true,
          "$ref": "OutputFileList",
          "description": "Output only. List of output files."
        },
        "error": {
          "description": "Output only. Error encountered during export.",
          "readOnly": true,
          "$ref": "Status"
        }
      },
      "type": "object"
    },
    "Group": {
      "id": "Group",
      "description": "A resource that represents an asset group. The purpose of an asset group is to bundle a set of assets that have something in common, while allowing users to add annotations to the group. An asset can belong to multiple groups.",
      "properties": {
        "name": {
          "description": "Output only. The name of the group.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User-friendly display name.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the group was last updated."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs.",
          "type": "object"
        },
        "description": {
          "description": "Optional. The description of the group.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the group was created."
        }
      },
      "type": "object"
    },
    "GuestOsDetails": {
      "type": "object",
      "properties": {
        "osName": {
          "description": "The name of the operating system.",
          "type": "string"
        },
        "config": {
          "$ref": "GuestConfigDetails",
          "description": "OS and app configuration."
        },
        "version": {
          "description": "The version of the operating system.",
          "type": "string"
        },
        "runtime": {
          "description": "Runtime information.",
          "$ref": "GuestRuntimeDetails"
        },
        "family": {
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ],
          "description": "What family the OS belong to, if known.",
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ],
          "type": "string"
        }
      },
      "id": "GuestOsDetails",
      "description": "Information from Guest-level collections."
    },
    "MysqlDatabaseDeployment": {
      "properties": {
        "resourceGroupsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Number of resource groups."
        },
        "variables": {
          "description": "Optional. List of MySql variables.",
          "items": {
            "$ref": "MySqlVariable"
          },
          "type": "array"
        },
        "properties": {
          "description": "Optional. List of MySql properties.",
          "items": {
            "$ref": "MySqlProperty"
          },
          "type": "array"
        },
        "plugins": {
          "description": "Optional. List of MySql plugins.",
          "items": {
            "$ref": "MySqlPlugin"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "MysqlDatabaseDeployment",
      "description": "Specific details for a Mysql database deployment."
    },
    "DatabasePreferences": {
      "type": "object",
      "properties": {
        "mssqlToCloudSqlForSqlServerPreferences": {
          "description": "Optional. Preferences for target SQL Server on Cloud SQL when migrating from source Microsoft SQL server.",
          "$ref": "DatabasePreferencesCloudSqlSqlServer"
        },
        "postgresqlToCloudSqlForPostgresqlPreferences": {
          "$ref": "DatabasePreferencesCloudSqlPostgreSql",
          "description": "Optional. Preferences for target PostgreSQL on Cloud SQL when migrating from source PostgreSQL."
        },
        "mysqlToCloudSqlForMysqlPreferences": {
          "description": "Optional. Preferences for target MySQL on Cloud SQL when migrating from source MySQL.",
          "$ref": "DatabasePreferencesCloudSqlMySql"
        }
      },
      "id": "DatabasePreferences",
      "description": "DatabasePreferences enables you to create sets of preferences for your migrated databases."
    },
    "DiskPartition": {
      "type": "object",
      "properties": {
        "uuid": {
          "description": "Partition UUID.",
          "type": "string"
        },
        "subPartitions": {
          "description": "Sub-partitions.",
          "$ref": "DiskPartitionList"
        },
        "type": {
          "description": "Partition type (e.g. BIOS boot).",
          "type": "string"
        },
        "capacityBytes": {
          "description": "Partition capacity.",
          "type": "string",
          "format": "int64"
        },
        "fileSystem": {
          "description": "Partition file system.",
          "type": "string"
        },
        "mountPoint": {
          "description": "Mount point (Linux/Windows) or drive letter (Windows).",
          "type": "string"
        },
        "freeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Partition free space."
        }
      },
      "id": "DiskPartition",
      "description": "Disk Partition details."
    },
    "AggregationResultHistogramBucket": {
      "properties": {
        "count": {
          "description": "Count of items in the bucket.",
          "type": "string",
          "format": "int64"
        },
        "lowerBound": {
          "description": "Lower bound - inclusive.",
          "type": "number",
          "format": "double"
        },
        "upperBound": {
          "type": "number",
          "format": "double",
          "description": "Upper bound - exclusive."
        }
      },
      "type": "object",
      "id": "AggregationResultHistogramBucket",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity."
    },
    "AwsS3BucketDetailsStorageClass": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage class type.",
            "General Purpose",
            "Represents Intelligent-Tiering's auto-tiering",
            "Standard-Infrequent Access",
            "One Zone-Infrequent Access",
            "S3 Glacier Flexible Retrieval",
            "S3 Glacier Deep Archive",
            "S3 Glacier Instant Retrieval",
            "S3 Reduced Redundancy Storage (Legacy)",
            "S3 Express One Zone"
          ],
          "description": "Required. Type of the storage class.",
          "enum": [
            "STORAGE_CLASS_TYPE_UNSPECIFIED",
            "STANDARD",
            "INTELLIGENT_TIERING",
            "STANDARD_IA",
            "ONE_ZONE_IA",
            "GLACIER",
            "DEEP_ARCHIVE",
            "GLACIER_IR",
            "REDUCED_REDUNDANCY",
            "EXPRESS_ONEZONE"
          ]
        },
        "totalBytes": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The total size of the storage class in bytes."
        }
      },
      "id": "AwsS3BucketDetailsStorageClass",
      "description": "Details about storage class."
    },
    "RunReportExportJobResponse": {
      "id": "RunReportExportJobResponse",
      "description": "Response message for running a report export job.",
      "type": "object",
      "properties": {
        "reportExportExecution": {
          "$ref": "ReportExportExecution",
          "readOnly": true,
          "description": "Output only. Execution status of the export operation."
        }
      }
    },
    "SqlServerDatabaseDeployment": {
      "id": "SqlServerDatabaseDeployment",
      "description": "Specific details for a Microsoft SQL Server database deployment.",
      "properties": {
        "serverFlags": {
          "type": "array",
          "description": "Optional. List of SQL Server server flags.",
          "items": {
            "$ref": "SqlServerServerFlag"
          }
        },
        "traceFlags": {
          "description": "Optional. List of SQL Server trace flags.",
          "items": {
            "$ref": "SqlServerTraceFlag"
          },
          "type": "array"
        },
        "features": {
          "type": "array",
          "description": "Optional. List of SQL Server features.",
          "items": {
            "$ref": "SqlServerFeature"
          }
        }
      },
      "type": "object"
    },
    "MachineArchitectureDetails": {
      "properties": {
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "hyperthreading": {
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ],
          "description": "CPU hyper-threading support.",
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string"
        },
        "firmwareType": {
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ],
          "description": "Firmware type.",
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ],
          "type": "string"
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "cpuManufacturer": {
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "cpuSocketCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of processor sockets allocated to the machine."
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        }
      },
      "type": "object",
      "id": "MachineArchitectureDetails",
      "description": "Details of the machine architecture."
    },
    "MachineSeries": {
      "properties": {
        "code": {
          "description": "Code to identify a machine series. Consult this for more details on the available series for Compute Engine: https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison Consult this for more details on the available series for Google Cloud VMware Engine: https://cloud.google.com/vmware-engine/pricing",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MachineSeries",
      "description": "A machine series, for a target product (e.g. Compute Engine, Google Cloud VMware Engine)."
    },
    "MachineDetails": {
      "properties": {
        "coreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of logical CPU cores in the machine. Must be non-negative."
        },
        "powerState": {
          "type": "string",
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "description": "Power state of the machine.",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ]
        },
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        },
        "diskPartitions": {
          "$ref": "DiskPartitionDetails",
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks."
        },
        "memoryMb": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of memory in the machine. Must be non-negative."
        },
        "architecture": {
          "description": "Architecture details (vendor, CPU architecture).",
          "$ref": "MachineArchitectureDetails"
        },
        "network": {
          "description": "Network details.",
          "$ref": "MachineNetworkDetails"
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "platform": {
          "$ref": "PlatformDetails",
          "description": "Platform specific information."
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Machine creation time."
        }
      },
      "type": "object",
      "id": "MachineDetails",
      "description": "Details of a machine."
    },
    "AssetFrame": {
      "id": "AssetFrame",
      "description": "Contains data reported from an inventory source on an asset.",
      "properties": {
        "awsEcrRepositoryDetails": {
          "$ref": "AwsEcrRepositoryDetails",
          "description": "Asset information specific for AwsEcrRepositoryDetails"
        },
        "databaseDetails": {
          "description": "Asset information specific for logical databases.",
          "$ref": "DatabaseDetails"
        },
        "awsEksClusterDetails": {
          "$ref": "AwsEksClusterDetails",
          "description": "Asset information specific for AWS EKS clusters."
        },
        "awsRoute53HostedZoneDetails": {
          "description": "Asset information specific for AwsRoute53HostedZoneDetails",
          "$ref": "AwsRoute53HostedZoneDetails"
        },
        "awsEbsVolumeDetails": {
          "$ref": "AwsEbsVolumeDetails",
          "description": "Optional. Asset information specific for AWS EBS Volumes."
        },
        "awsApiGatewayRestApiDetails": {
          "description": "Optional. Asset information specific for AWS API Gateway REST APIs.",
          "$ref": "AwsApiGatewayRestApiDetails"
        },
        "awsEcsClusterDetails": {
          "$ref": "AwsEcsClusterDetails",
          "description": "Asset information specific for AWS ECS clusters."
        },
        "awsGlueJobDetails": {
          "description": "Optional. Asset information specific for AwsGlueJobDetails",
          "$ref": "AwsGlueJobDetails"
        },
        "performanceSamples": {
          "description": "Asset performance data samples. Samples that are from more than 40 days ago or after tomorrow are ignored.",
          "items": {
            "$ref": "PerformanceSample"
          },
          "type": "array"
        },
        "awsCloudFrontDistributionDetails": {
          "$ref": "AwsCloudFrontDistributionDetails",
          "description": "Asset information specific for AWS CloudFront distributions."
        },
        "machineDetails": {
          "description": "Asset information specific for virtual and physical machines.",
          "$ref": "MachineDetails"
        },
        "awsRedshiftDetails": {
          "$ref": "AwsRedshiftDetails",
          "description": "Asset information specific for AWS Redshift clusters."
        },
        "awsLambdaFunctionDetails": {
          "description": "Asset information specific for AWS Lambda functions.",
          "$ref": "AwsLambdaFunctionDetails"
        },
        "awsAppSyncGraphqlApiDetails": {
          "description": "Optional. Asset information specific for AWS AppSync GraphQL APIs.",
          "$ref": "AwsAppSyncGraphqlApiDetails"
        },
        "awsS3BucketDetails": {
          "$ref": "AwsS3BucketDetails",
          "description": "Asset information specific for AWS S3 buckets."
        },
        "traceToken": {
          "description": "Optional. Trace token is optionally provided to assist with debugging and traceability.",
          "type": "string"
        },
        "hostingProviderDetails": {
          "description": "Optional. Details about the hosting provider of the asset.",
          "$ref": "HostingProviderDetails"
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the data was reported."
        },
        "awsElasticacheClusterDetails": {
          "$ref": "AwsElastiCacheClusterDetails",
          "description": "Optional. Asset information specific for AWS ElastiCache Clusters."
        },
        "virtualMachineDetails": {
          "description": "Asset information specific for virtual machines.",
          "$ref": "VirtualMachineDetails"
        },
        "awsFirehoseDetails": {
          "description": "Optional. Asset information specific for AwsFirehoseDetails",
          "$ref": "AwsFirehoseDetails"
        },
        "awsApplicationLoadBalancerDetails": {
          "$ref": "AwsApplicationLoadBalancerDetails",
          "description": "Optional. Asset information specific for AWS Application Load Balancers."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs.",
          "type": "object"
        },
        "awsVpcDetails": {
          "$ref": "AwsVpcDetails",
          "description": "Asset information specific for AWS VPCs."
        },
        "awsInternetGatewayDetails": {
          "$ref": "AwsInternetGatewayDetails",
          "description": "Optional. Asset information specific for AWS Internet Gateways."
        },
        "awsEmrClusterDetails": {
          "$ref": "AwsEmrClusterDetails",
          "description": "Optional. Asset information specific for AwsEmrClusterDetails"
        },
        "awsNatGatewayDetails": {
          "description": "Asset information specific for AwsNatGatewayDetails",
          "$ref": "AwsNatGatewayDetails"
        },
        "awsElasticNetworkInterfaceDetails": {
          "description": "Optional. Asset information specific for AWS Elastic Network Interfaces.",
          "$ref": "AwsElasticNetworkInterfaceDetails"
        },
        "awsElasticIpAddressDetails": {
          "$ref": "AwsElasticIpAddressDetails",
          "description": "Optional. Asset information specific for AWS Elastic IP Addresses."
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Generic asset attributes.",
          "type": "object"
        },
        "awsSnsTopicDetails": {
          "description": "Optional. Asset information specific for AWS SNS Topics.",
          "$ref": "AwsSnsTopicDetails"
        },
        "awsEfsFileSystemDetails": {
          "description": "Asset information specific for AWS EFS file systems.",
          "$ref": "AwsEfsFileSystemDetails"
        },
        "databaseDeploymentDetails": {
          "$ref": "DatabaseDeploymentDetails",
          "description": "Asset information specific for database deployments."
        },
        "awsAthenaWorkGroupDetails": {
          "description": "Optional. Asset information specific for AwsAthenaWorkGroupDetails",
          "$ref": "AwsAthenaWorkGroupDetails"
        },
        "collectionType": {
          "description": "Optional. Frame collection type, if not specified the collection type will be based on the source type of the source the frame was reported on.",
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "type": "string"
        },
        "awsElbLoadBalancerDetails": {
          "description": "Asset information specific for AWS Load Balancers.",
          "$ref": "AwsElbLoadBalancerDetails"
        },
        "awsDynamodbTableDetails": {
          "description": "Asset information specific for AWS DynamoDB tables.",
          "$ref": "AwsDynamoDBTableDetails"
        },
        "structuredAttributes": {
          "type": "object",
          "description": "Optional. Generic structured asset attributes.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "awsKinesisStreamDetails": {
          "description": "Optional. Asset information specific for AwsKinesisStreamDetails",
          "$ref": "AwsKinesisStreamDetails"
        },
        "awsBatchComputeEnvironmentDetails": {
          "$ref": "AwsBatchComputeEnvironmentDetails",
          "description": "Optional. Asset information specific for AWS Batch Compute Environments."
        },
        "awsAutoscalingGroupDetails": {
          "description": "Optional. Asset information specific for AwsAutoscalingGroupDetails",
          "$ref": "AwsAutoscalingGroupDetails"
        }
      },
      "type": "object"
    },
    "RegionPreferences": {
      "id": "RegionPreferences",
      "description": "The user preferences relating to target regions.",
      "properties": {
        "preferredRegions": {
          "type": "array",
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "AwsInternetGatewayDetails": {
      "type": "object",
      "properties": {},
      "id": "AwsInternetGatewayDetails",
      "description": "Asset information specific for AWS Internet Gateways."
    },
    "ReportSummaryHistogramChartData": {
      "type": "object",
      "properties": {
        "buckets": {
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          },
          "type": "array"
        }
      },
      "id": "ReportSummaryHistogramChartData",
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket."
    },
    "PayloadFile": {
      "id": "PayloadFile",
      "description": "Payload file for inline import job payload.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The file name.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The file data."
        }
      }
    },
    "DatabasePreferencesCloudSqlCommon": {
      "type": "object",
      "properties": {
        "backup": {
          "$ref": "DatabasePreferencesCloudSqlCommonBackup",
          "description": "Optional. Preferences for database backups."
        },
        "edition": {
          "type": "string",
          "description": "Optional. Preferred Cloud SQL edition.",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ]
        },
        "zoneAvailability": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "description": "Optional. Preferred zone availability.",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ]
        },
        "sizingOptimizationStrategy": {
          "enumDescriptions": [
            "Unspecified (default value).",
            "No optimization applied. Virtual machine sizing matches as closely as possible the machine shape on the source site, not considering any actual performance data.",
            "Virtual machine sizing will match the reported usage and shape, with some slack. This a good value to start with.",
            "Virtual machine sizing will match the reported usage, with little slack. Using this option can help reduce costs.",
            "Virtual machine sizing will be determined by custom parameters. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "description": "Optional. Sizing optimization strategy of the database. Currently supported for Cloud SQL are just two values: SIZING_OPTIMIZATION_STRATEGY_MODERATE and SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE. SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED will behave like SIZING_OPTIMIZATION_STRATEGY_MODERATE.",
          "enum": [
            "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE",
            "SIZING_OPTIMIZATION_STRATEGY_MODERATE",
            "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE",
            "SIZING_OPTIMIZATION_STRATEGY_CUSTOM"
          ],
          "type": "string"
        },
        "commitmentPlan": {
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "description": "Optional. Commitment plan to consider when calculating costs. Only regular CUDs (not flexible) are currently available.",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_NONE",
            "COMMITMENT_PLAN_ONE_YEAR",
            "COMMITMENT_PLAN_THREE_YEARS",
            "COMMITMENT_PLAN_FLEXIBLE_ONE_YEAR",
            "COMMITMENT_PLAN_FLEXIBLE_THREE_YEARS"
          ],
          "type": "string"
        },
        "persistentDiskType": {
          "description": "Optional. Persistent disk type to use. If unspecified, a disk type is recommended based on available usage data. For SQL Server, only SSD is available. For MySQL and PostgreSQL, only STANDARD (HDD) and SSD types are available.",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "type": "string"
        }
      },
      "id": "DatabasePreferencesCloudSqlCommon",
      "description": "Preferences common to Cloud SQL databases."
    },
    "AggregationResultHistogram": {
      "id": "AggregationResultHistogram",
      "description": "The result of a bucketed histogram aggregation.",
      "type": "object",
      "properties": {
        "buckets": {
          "type": "array",
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "items": {
            "$ref": "AggregationResultHistogramBucket"
          }
        }
      }
    },
    "MachinePreferences": {
      "type": "object",
      "properties": {
        "allowedMachineSeries": {
          "type": "array",
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "items": {
            "$ref": "MachineSeries"
          }
        }
      },
      "id": "MachinePreferences",
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations for Compute Engine. Not all machine types are available in all zones and regions."
    },
    "SoleTenancyPreferences": {
      "properties": {
        "hostMaintenancePolicy": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified host maintenance policy.",
            "Default host maintenance policy.",
            "Restart in place host maintenance policy.",
            "Migrate within node group host maintenance policy."
          ],
          "description": "Sole Tenancy nodes maintenance policy.",
          "enum": [
            "HOST_MAINTENANCE_POLICY_UNSPECIFIED",
            "HOST_MAINTENANCE_POLICY_DEFAULT",
            "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE",
            "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          ]
        },
        "nodeTypes": {
          "type": "array",
          "description": "A list of sole tenant node types. An empty list means that all possible node types will be considered.",
          "items": {
            "$ref": "SoleTenantNodeType"
          }
        },
        "commitmentPlan": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR",
            "COMMITMENT_3_YEAR",
            "COMMITMENT_FLEXIBLE_1_YEAR",
            "COMMITMENT_FLEXIBLE_3_YEAR"
          ]
        },
        "osPricingPreferences": {
          "description": "Optional. Pricing options for OS images.",
          "$ref": "OperatingSystemPricingPreferences"
        },
        "cpuOvercommitRatio": {
          "type": "number",
          "format": "double",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 2.0 inclusive."
        }
      },
      "type": "object",
      "id": "SoleTenancyPreferences",
      "description": "Preferences concerning Sole Tenancy nodes and VMs."
    },
    "SignedUris": {
      "type": "object",
      "properties": {
        "signedUris": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of signed URIs.",
          "items": {
            "$ref": "SignedUri"
          }
        }
      },
      "id": "SignedUris",
      "description": "Contains a list of Signed URIs."
    },
    "AwsRoute53HostedZoneDetails": {
      "id": "AwsRoute53HostedZoneDetails",
      "description": "Details of an AWS Route 53 Hosted Zone.",
      "properties": {},
      "type": "object"
    },
    "AwsSnsTopicDetails": {
      "id": "AwsSnsTopicDetails",
      "description": "Asset information specific for AWS SNS Topics.",
      "type": "object",
      "properties": {}
    },
    "AwsAthenaWorkGroupDetails": {
      "id": "AwsAthenaWorkGroupDetails",
      "description": "Contains details for an AWS Athena Work Group asset.",
      "properties": {},
      "type": "object"
    },
    "PhysicalPlatformDetails": {
      "properties": {
        "hyperthreading": {
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "description": "Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PhysicalPlatformDetails",
      "description": "Platform specific details for Physical Machines."
    },
    "ImportRowErrorCsvErrorDetails": {
      "type": "object",
      "properties": {
        "rowNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The row number where the error was detected."
        }
      },
      "id": "ImportRowErrorCsvErrorDetails",
      "description": "Error details for a CSV file."
    },
    "OutputFileList": {
      "id": "OutputFileList",
      "description": "Contains a list of output files.",
      "properties": {
        "entries": {
          "type": "array",
          "description": "List of output files.",
          "items": {
            "$ref": "OutputFile"
          }
        }
      },
      "type": "object"
    },
    "CloudSqlForSqlServerShape": {
      "id": "CloudSqlForSqlServerShape",
      "description": "Cloud SQL for SQL Server database shape.",
      "type": "object",
      "properties": {
        "edition": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Cloud SQL edition.",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ]
        },
        "version": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Microsoft SQL Server version to be used on the Cloud SQL for SQL server instance.",
          "enum": [
            "SQL_SERVER_VERSION_UNSPECIFIED",
            "SQL_SERVER_VERSION_2017_EXPRESS",
            "SQL_SERVER_VERSION_2017_WEB",
            "SQL_SERVER_VERSION_2017_STANDARD",
            "SQL_SERVER_VERSION_2017_ENTERPRISE",
            "SQL_SERVER_VERSION_2019_EXPRESS",
            "SQL_SERVER_VERSION_2019_WEB",
            "SQL_SERVER_VERSION_2019_STANDARD",
            "SQL_SERVER_VERSION_2019_ENTERPRISE",
            "SQL_SERVER_VERSION_2022_EXPRESS",
            "SQL_SERVER_VERSION_2022_WEB",
            "SQL_SERVER_VERSION_2022_STANDARD",
            "SQL_SERVER_VERSION_2022_ENTERPRISE"
          ],
          "enumDescriptions": [
            "Unspecified SQL Server version.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise."
          ]
        },
        "backupStorageGb": {
          "description": "Output only. Predicted backup storage size in GiB.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "memoryMb": {
          "description": "Output only. Predicted amount of memory in MiB.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "zoneAvailability": {
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Cloud SQL zone availability.",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ]
        },
        "storage": {
          "description": "Output only. Predicted storage shape.",
          "readOnly": true,
          "$ref": "ComputeStorageDescriptor"
        },
        "smtEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether simultaneous multithreading is enabled (see https://cloud.google.com/sql/docs/sqlserver/create-instance#smt-create-instance)."
        },
        "egressGbPerMonth": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Predicted Network Out traffic GiB per month."
        },
        "logicalCoreCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of logical cores."
        }
      }
    },
    "InsightList": {
      "type": "object",
      "properties": {
        "insights": {
          "description": "Output only. Insights of the list.",
          "items": {
            "$ref": "Insight"
          },
          "readOnly": true,
          "type": "array"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Update timestamp."
        }
      },
      "id": "InsightList",
      "description": "Message containing insights list."
    },
    "DiskUsageSample": {
      "id": "DiskUsageSample",
      "description": "Disk usage sample. Values are across all disks.",
      "properties": {
        "averageReadIops": {
          "description": "Average read IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "type": "number",
          "format": "float"
        },
        "averageWriteIops": {
          "type": "number",
          "format": "float",
          "description": "Average write IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored."
        },
        "averageIops": {
          "description": "Average IOPS sampled over a short window. Must be non-negative. If read or write are set, the sum of read and write will override the value of the average_iops.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GuestInstalledApplicationList": {
      "properties": {
        "entries": {
          "type": "array",
          "description": "Application entries.",
          "items": {
            "$ref": "GuestInstalledApplication"
          }
        }
      },
      "type": "object",
      "id": "GuestInstalledApplicationList",
      "description": "Guest installed application list."
    },
    "ReportSummaryUtilizationChartData": {
      "type": "object",
      "properties": {
        "used": {
          "type": "string",
          "format": "int64",
          "description": "Aggregate value which falls into the \"Used\" bucket."
        },
        "free": {
          "description": "Aggregate value which falls into the \"Free\" bucket.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ReportSummaryUtilizationChartData",
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets."
    },
    "XlsxOutputFile": {
      "id": "XlsxOutputFile",
      "description": "Contains a single output file of type XLSX.",
      "properties": {
        "signedUri": {
          "readOnly": true,
          "$ref": "SignedUri",
          "description": "Output only. Signed URI destination."
        }
      },
      "type": "object"
    },
    "VirtualMachineArchitectureDetails": {
      "id": "VirtualMachineArchitectureDetails",
      "description": "Details of the VM architecture.",
      "properties": {
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "CPU hyperthreading support.",
          "enum": [
            "HYPER_THREADING_UNSPECIFIED",
            "HYPER_THREADING_DISABLED",
            "HYPER_THREADING_ENABLED"
          ],
          "enumDescriptions": [
            "Unknown (default value).",
            "Hyperthreading is disabled.",
            "Hyperthreading is enabled."
          ],
          "type": "string"
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "cpuThreadCount": {
          "deprecated": true,
          "type": "integer",
          "format": "int32",
          "description": "Deprecated: use VirtualMachineDetails.core_count instead. Number of CPU threads allocated to the machine."
        },
        "cpuManufacturer": {
          "description": "CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "firmware": {
          "description": "Firmware (BIOS/efi).",
          "type": "string"
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        },
        "cpuSocketCount": {
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "RuntimeNetworkInfo": {
      "type": "object",
      "properties": {
        "netstat": {
          "description": "Netstat (raw, OS-agnostic).",
          "type": "string"
        },
        "connections": {
          "description": "Network connections.",
          "$ref": "NetworkConnectionList"
        },
        "netstatTime": {
          "$ref": "DateTime",
          "description": "Netstat time collected."
        },
        "rawScanResult": {
          "description": "Raw network scan result. This field is intended for human inspection. The format of this field may be netstat output or any another raw output. The exact format may change without notice and should not be relied upon.",
          "type": "string"
        },
        "scanTime": {
          "description": "Time of the last network scan.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "RuntimeNetworkInfo",
      "description": "Runtime networking information."
    },
    "ReportAssetFramesResponse": {
      "id": "ReportAssetFramesResponse",
      "description": "A response to a call to `ReportAssetFrame`.",
      "type": "object",
      "properties": {}
    },
    "ReportSummaryChartData": {
      "properties": {
        "dataPoints": {
          "type": "array",
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value.",
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          }
        }
      },
      "type": "object",
      "id": "ReportSummaryChartData",
      "description": "Describes a collection of data points rendered as a Chart."
    },
    "NetworkConnectionList": {
      "properties": {
        "entries": {
          "description": "Network connection entries.",
          "items": {
            "$ref": "NetworkConnection"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "NetworkConnectionList",
      "description": "Network connection list."
    },
    "Source": {
      "id": "Source",
      "description": "Source represents an object from which asset information is streamed to Migration Center.",
      "properties": {
        "displayName": {
          "description": "User-friendly display name.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the source was created."
        },
        "errorFrameCount": {
          "description": "Output only. The number of frames that were reported by the source and contained errors.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the source.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING",
            "INVALID"
          ]
        },
        "type": {
          "type": "string",
          "description": "Data source type.",
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ]
        },
        "updateTime": {
          "description": "Output only. The timestamp when the source was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The full name of the source.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "pendingFrameCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of frames that are still being processed."
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The information confidence of the source. The higher the value, the higher the confidence."
        },
        "isManaged": {
          "description": "If `true`, the source is managed by other service(s).",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DatabaseInstance": {
      "id": "DatabaseInstance",
      "description": "Details of a database instance.",
      "type": "object",
      "properties": {
        "instanceName": {
          "description": "The instance's name.",
          "type": "string"
        },
        "network": {
          "$ref": "DatabaseInstanceNetwork",
          "description": "Optional. Networking details."
        },
        "role": {
          "description": "The instance role in the database engine.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "ARBITER"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Primary.",
            "Secondary.",
            "Arbiter."
          ],
          "type": "string"
        }
      }
    },
    "AwsEmrClusterDetails": {
      "type": "object",
      "properties": {},
      "id": "AwsEmrClusterDetails",
      "description": "Contains details for an AWS EMR Cluster asset."
    },
    "Issue": {
      "properties": {
        "compatibilityIssue": {
          "readOnly": true,
          "$ref": "IssueCompatibilityIssue",
          "description": "Output only. Details about a compatibility issue."
        },
        "issueCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier for this issue type."
        },
        "description": {
          "description": "Output only. English description of the issue.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "Issue",
      "description": "An issue associated with a migration."
    },
    "OperatingSystemPricingPreferences": {
      "id": "OperatingSystemPricingPreferences",
      "description": "Pricing options for OS images.",
      "properties": {
        "windows": {
          "description": "Optional. Pricing options for Windows images. No commitment plans are available, set it to unspecified.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "sles": {
          "description": "Optional. Pricing options for SLES images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "slesForSap": {
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing",
          "description": "Optional. Pricing options for SLES for SAP images."
        },
        "rhel": {
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing",
          "description": "Optional. Pricing options for RHEL images."
        }
      },
      "type": "object"
    },
    "CloudSqlForMySqlShape": {
      "id": "CloudSqlForMySqlShape",
      "description": "Cloud SQL for MySQL database shape.",
      "properties": {
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "backupStorageGb": {
          "description": "Output only. Predicted backup storage size in GiB.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "version": {
          "enumDescriptions": [
            "Unspecified MySQL version.",
            "MySQL 5.6.",
            "MySQL 5.7.",
            "MySQL 8.0."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. MySQL version to be used on the Cloud SQL for MySQL instance.",
          "enum": [
            "MY_SQL_VERSION_UNSPECIFIED",
            "MY_SQL_VERSION_5_6",
            "MY_SQL_VERSION_5_7",
            "MY_SQL_VERSION_8_0"
          ]
        },
        "egressGbPerMonth": {
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "storage": {
          "readOnly": true,
          "$ref": "ComputeStorageDescriptor",
          "description": "Output only. Predicted storage shape."
        },
        "edition": {
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "description": "Output only. Cloud SQL edition.",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "readOnly": true,
          "type": "string"
        },
        "memoryMb": {
          "description": "Output only. Predicted amount of memory in MiB.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "zoneAvailability": {
          "description": "Output only. Cloud SQL zone availability.",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ]
        }
      },
      "type": "object"
    },
    "ImportRowErrorArchiveErrorDetails": {
      "properties": {
        "filePath": {
          "description": "The file path inside the archive where the error was detected.",
          "type": "string"
        },
        "csvError": {
          "$ref": "ImportRowErrorCsvErrorDetails",
          "description": "Error details for a CSV file."
        }
      },
      "type": "object",
      "id": "ImportRowErrorArchiveErrorDetails",
      "description": "Error details for an archive file."
    },
    "FitDescriptor": {
      "type": "object",
      "properties": {
        "fitLevel": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Fit level.",
          "enum": [
            "FIT_LEVEL_UNSPECIFIED",
            "FIT",
            "NO_FIT",
            "REQUIRES_EFFORT"
          ],
          "enumDescriptions": [
            "Not enough information.",
            "Fit.",
            "No Fit.",
            "Fit with effort."
          ]
        }
      },
      "id": "FitDescriptor",
      "description": "Describes the fit level of an asset for migration to a specific target."
    },
    "PerformanceSample": {
      "properties": {
        "cpu": {
          "$ref": "CpuUsageSample",
          "description": "CPU usage sample."
        },
        "disk": {
          "description": "Disk usage sample.",
          "$ref": "DiskUsageSample"
        },
        "network": {
          "$ref": "NetworkUsageSample",
          "description": "Network usage sample."
        },
        "memory": {
          "$ref": "MemoryUsageSample",
          "description": "Memory usage sample."
        },
        "sampleTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the sample was collected. If omitted, the frame report time will be used."
        }
      },
      "type": "object",
      "id": "PerformanceSample",
      "description": "Performance data sample."
    },
    "ReportSummaryVMWareEngineFinding": {
      "properties": {
        "nodeAllocations": {
          "type": "array",
          "description": "Set of per-nodetype allocation records",
          "items": {
            "$ref": "ReportSummaryVMWareNodeAllocation"
          }
        },
        "allocatedRegions": {
          "type": "array",
          "description": "Set of regions in which the assets were allocated",
          "items": {
            "type": "string"
          }
        },
        "allocatedAssetCount": {
          "description": "Count of assets which are allocated",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "ReportSummaryVMWareEngineFinding",
      "description": "A set of findings that applies to assets destined for VMWare Engine."
    },
    "SignedUriDestination": {
      "properties": {
        "fileFormat": {
          "description": "Required. The file format to export.",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
            "XLSX file format which used in Excel."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "SignedUriDestination",
      "description": "Signed URI destination configuration."
    },
    "VirtualMachineNetworkDetails": {
      "id": "VirtualMachineNetworkDetails",
      "description": "Details of network adapters and settings.",
      "type": "object",
      "properties": {
        "defaultGw": {
          "description": "Default gateway address.",
          "type": "string"
        },
        "networkAdapters": {
          "$ref": "NetworkAdapterList",
          "description": "List of network adapters."
        },
        "primaryIpAddress": {
          "description": "IP address of the machine.",
          "type": "string"
        },
        "primaryMacAddress": {
          "description": "MAC address of the machine. This property is used to uniqly identify the machine.",
          "type": "string"
        },
        "publicIpAddress": {
          "description": "Public IP address of the machine.",
          "type": "string"
        }
      }
    },
    "NetworkAdapterDetails": {
      "id": "NetworkAdapterDetails",
      "description": "Details of network adapter.",
      "properties": {
        "adapterType": {
          "description": "Network adapter type (e.g. VMXNET3).",
          "type": "string"
        },
        "addresses": {
          "description": "NetworkAddressList",
          "$ref": "NetworkAddressList"
        },
        "macAddress": {
          "description": "MAC address.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AwsAppSyncGraphqlApiDetails": {
      "type": "object",
      "properties": {},
      "id": "AwsAppSyncGraphqlApiDetails",
      "description": "Asset information specific for AWS AppSync GraphQL APIs."
    },
    "AwsCloudFrontDistributionDetails": {
      "properties": {},
      "type": "object",
      "id": "AwsCloudFrontDistributionDetails",
      "description": "Details of an AWS CloudFront distribution."
    },
    "DiskPartitionList": {
      "id": "DiskPartitionList",
      "description": "Disk partition list.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Partition entries.",
          "items": {
            "$ref": "DiskPartition"
          },
          "type": "array"
        }
      }
    },
    "AwsNatGatewayDetails": {
      "id": "AwsNatGatewayDetails",
      "description": "Details of an AWS NAT Gateway.",
      "type": "object",
      "properties": {}
    },
    "DatabasePreferencesCloudSqlCommonBackup": {
      "id": "DatabasePreferencesCloudSqlCommonBackup",
      "description": "Preferences for database backups.",
      "type": "object",
      "properties": {
        "backupMode": {
          "description": "Optional. Automated backup mode.",
          "enum": [
            "BACKUP_MODE_UNSPECIFIED",
            "BACKUP_MODE_DISABLED",
            "BACKUP_MODE_ENABLED"
          ],
          "enumDescriptions": [
            "An unspecified database backup mode.",
            "Automatic backups disabled, no additional charges for storage.",
            "Automatic backups enabled, there will be additional charges for storage."
          ],
          "type": "string"
        }
      }
    },
    "PlatformDetails": {
      "id": "PlatformDetails",
      "description": "Information about the platform.",
      "type": "object",
      "properties": {
        "azureVmDetails": {
          "$ref": "AzureVmPlatformDetails",
          "description": "Azure VM specific details."
        },
        "awsEc2Details": {
          "$ref": "AwsEc2PlatformDetails",
          "description": "AWS EC2 specific details."
        },
        "vmwareDetails": {
          "$ref": "VmwarePlatformDetails",
          "description": "VMware specific details."
        },
        "genericDetails": {
          "description": "Generic platform details.",
          "$ref": "GenericPlatformDetails"
        },
        "physicalDetails": {
          "$ref": "PhysicalPlatformDetails",
          "description": "Physical machines platform details."
        }
      }
    },
    "DatabaseDetails": {
      "id": "DatabaseDetails",
      "description": "Details of a logical database.",
      "properties": {
        "schemas": {
          "type": "array",
          "description": "The database schemas.",
          "items": {
            "$ref": "DatabaseSchema"
          }
        },
        "parentDatabaseDeployment": {
          "description": "The parent database deployment that contains the logical database.",
          "$ref": "DatabaseDetailsParentDatabaseDeployment"
        },
        "databaseName": {
          "description": "The name of the database.",
          "type": "string"
        },
        "allocatedStorageBytes": {
          "type": "string",
          "format": "int64",
          "description": "The allocated storage for the database in bytes."
        }
      },
      "type": "object"
    },
    "RunReportExportJobRequest": {
      "id": "RunReportExportJobRequest",
      "description": "A request to run a report export job.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "ListDiscoveryClientsResponse": {
      "id": "ListDiscoveryClientsResponse",
      "description": "Response message for listing discovery clients.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "discoveryClients": {
          "description": "List of discovery clients.",
          "items": {
            "$ref": "DiscoveryClient"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "EstimatedUsage": {
      "properties": {
        "estimatedDiskPercentage": {
          "description": "Optional. Estimated disk utilization percentage. Must be in the range [1, 100].",
          "type": "number",
          "format": "float"
        },
        "estimatedMemoryPercentage": {
          "type": "number",
          "format": "float",
          "description": "Optional. Estimated memory utilization percentage. Must be in the range [1, 100]."
        },
        "estimatedCpuPercentage": {
          "type": "number",
          "format": "float",
          "description": "Optional. Estimated CPU utilization percentage. Must be in the range [1, 100]."
        }
      },
      "type": "object",
      "id": "EstimatedUsage",
      "description": "Estimated usage data."
    },
    "ComputeEngineShapeDescriptor": {
      "properties": {
        "storage": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Compute Engine storage. Never empty.",
          "items": {
            "$ref": "ComputeStorageDescriptor"
          }
        },
        "smtEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether simultaneous multithreading is enabled (see https://cloud.google.com/compute/docs/instances/set-threads-per-core)."
        },
        "memoryMb": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Memory in mebibytes."
        },
        "physicalCoreCount": {
          "description": "Output only. Number of physical cores.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "series": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Compute Engine machine series."
        },
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "machineType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Compute Engine machine type."
        }
      },
      "type": "object",
      "id": "ComputeEngineShapeDescriptor",
      "description": "Compute Engine target shape descriptor."
    },
    "InlinePayloadInfo": {
      "type": "object",
      "properties": {
        "payload": {
          "type": "array",
          "description": "List of payload files.",
          "items": {
            "$ref": "PayloadFile"
          }
        },
        "format": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "type": "string",
          "description": "The import job format.",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ]
        }
      },
      "id": "InlinePayloadInfo",
      "description": "A resource that represents the inline import job payload."
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      }
    },
    "ListGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "groups": {
          "description": "The list of Group",
          "items": {
            "$ref": "Group"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListGroupsResponse",
      "description": "A response for listing groups."
    },
    "ListReportExportJobsResponse": {
      "type": "object",
      "properties": {
        "reportExportJobs": {
          "description": "Output only. The list of report export jobs.",
          "items": {
            "$ref": "ReportExportJob"
          },
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token identifying a page of results the server should return."
        }
      },
      "id": "ListReportExportJobsResponse",
      "description": "Response message for listing report export jobs."
    },
    "MySqlPlugin": {
      "type": "object",
      "properties": {
        "version": {
          "description": "Required. The plugin version.",
          "type": "string"
        },
        "plugin": {
          "description": "Required. The plugin name.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. The plugin is active.",
          "type": "boolean"
        }
      },
      "id": "MySqlPlugin",
      "description": "MySql plugin."
    },
    "ReportSummaryVMWareNodeAllocation": {
      "id": "ReportSummaryVMWareNodeAllocation",
      "description": "Represents assets allocated to a specific VMWare Node type.",
      "type": "object",
      "properties": {
        "nodeCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of this node type to be provisioned"
        },
        "allocatedAssetCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of assets allocated to these nodes"
        },
        "vmwareNode": {
          "$ref": "ReportSummaryVMWareNode",
          "description": "VMWare node type, e.g. \"ve1-standard-72\""
        }
      }
    },
    "ResourceLocation": {
      "id": "ResourceLocation",
      "description": "Location of a resource.",
      "type": "object",
      "properties": {
        "region": {
          "description": "Optional. The name of the region.",
          "type": "string"
        }
      }
    },
    "VirtualMachinePreferencesNetworkCostParameters": {
      "id": "VirtualMachinePreferencesNetworkCostParameters",
      "description": "Parameters that affect network cost estimations.",
      "properties": {
        "estimatedEgressTrafficPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. An estimated percentage of priced outbound traffic (egress traffic) from the measured outbound traffic. Must be in the interval [0, 100]."
        }
      },
      "type": "object"
    },
    "GenericInsight": {
      "id": "GenericInsight",
      "description": "A generic insight about an asset.",
      "type": "object",
      "properties": {
        "messageId": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Represents a globally unique message id for this insight, can be used for localization purposes, in case message_code is not yet known by the client use default_message instead."
        },
        "additionalInformation": {
          "description": "Output only. Additional information about the insight, each entry can be a logical entry and must make sense if it is displayed with line breaks between each entry. Text can contain md style links.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "defaultMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. In case message_code is not yet known by the client default_message will be the message to be used instead. Text can contain md file style links."
        }
      }
    },
    "Report": {
      "properties": {
        "state": {
          "description": "Report creation state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ],
          "type": "string"
        },
        "type": {
          "description": "Report type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ],
          "enumDescriptions": [
            "Default report type.",
            "Total cost of ownership report type."
          ],
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation timestamp."
        },
        "summary": {
          "$ref": "ReportSummary",
          "readOnly": true,
          "description": "Output only. Summary view of the Report."
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last update timestamp."
        },
        "name": {
          "description": "Output only. Name of resource.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Report",
      "description": "Report represents a point-in-time rendering of the ReportConfig results."
    },
    "ReportSummaryDatabaseFinding": {
      "id": "ReportSummaryDatabaseFinding",
      "description": "DatabaseFinding contains an aggregate costs and shapes for a single database type.",
      "type": "object",
      "properties": {
        "totalAssets": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of database assets in this finding."
        },
        "allocatedAssetCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of database assets which were successfully assigned in this finding."
        }
      }
    },
    "NfsExportList": {
      "type": "object",
      "properties": {
        "entries": {
          "description": "NFS export entries.",
          "items": {
            "$ref": "NfsExport"
          },
          "type": "array"
        }
      },
      "id": "NfsExportList",
      "description": "NFS exports."
    },
    "ImportError": {
      "id": "ImportError",
      "description": "A resource that reports the errors encountered while processing an import job.",
      "type": "object",
      "properties": {
        "errorDetails": {
          "description": "The error information.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "description": "The severity of the error.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "AggregationResultFrequency": {
      "id": "AggregationResultFrequency",
      "description": "The result of a frequency distribution aggregation.",
      "type": "object",
      "properties": {
        "values": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        }
      }
    },
    "CsvOutputFile": {
      "id": "CsvOutputFile",
      "description": "Contains a single output file of type CSV.",
      "type": "object",
      "properties": {
        "signedUri": {
          "description": "Output only. Signed URI destination.",
          "readOnly": true,
          "$ref": "SignedUri"
        },
        "columnsCount": {
          "description": "Output only. Number of columns in the file.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "rowCount": {
          "description": "Output only. Number of rows in the file.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BiosDetails": {
      "id": "BiosDetails",
      "description": "Details about the BIOS.",
      "properties": {
        "id": {
          "description": "BIOS ID.",
          "type": "string"
        },
        "biosManufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        },
        "releaseTime": {
          "description": "BIOS release date.",
          "type": "string",
          "format": "google-datetime"
        },
        "biosVersion": {
          "description": "BIOS version.",
          "type": "string"
        },
        "version": {
          "description": "BIOS version.",
          "type": "string"
        },
        "manufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        },
        "smbiosUuid": {
          "description": "SMBIOS UUID.",
          "type": "string"
        },
        "biosReleaseDate": {
          "description": "BIOS release date.",
          "type": "string"
        },
        "biosName": {
          "description": "BIOS name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "NetworkAddress": {
      "id": "NetworkAddress",
      "description": "Details of network address.",
      "properties": {
        "subnetMask": {
          "description": "Subnet mask.",
          "type": "string"
        },
        "assignment": {
          "enumDescriptions": [
            "Unknown (default value).",
            "Statically assigned IP.",
            "Dynamically assigned IP (DHCP)."
          ],
          "description": "Whether DHCP is used to assign addresses.",
          "enum": [
            "ADDRESS_ASSIGNMENT_UNSPECIFIED",
            "ADDRESS_ASSIGNMENT_STATIC",
            "ADDRESS_ASSIGNMENT_DHCP"
          ],
          "type": "string"
        },
        "fqdn": {
          "description": "Fully qualified domain name.",
          "type": "string"
        },
        "ipAddress": {
          "description": "Assigned or configured IP Address.",
          "type": "string"
        },
        "bcast": {
          "description": "Broadcast address.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RunAssetsExportJobResponse": {
      "type": "object",
      "properties": {
        "assetsExportJobExecution": {
          "readOnly": true,
          "$ref": "AssetsExportJobExecution",
          "description": "Output only. Execution status of the assets export operation."
        }
      },
      "id": "RunAssetsExportJobResponse",
      "description": "Response message for running an assets export job."
    },
    "AwsAutoscalingGroupDetails": {
      "id": "AwsAutoscalingGroupDetails",
      "description": "Asset information specific for AWS Autoscaling Group.",
      "properties": {},
      "type": "object"
    },
    "Frames": {
      "type": "object",
      "properties": {
        "framesData": {
          "type": "array",
          "description": "A repeated field of asset data.",
          "items": {
            "$ref": "AssetFrame"
          }
        }
      },
      "id": "Frames",
      "description": "Collection of frame data."
    },
    "AggregationResultSum": {
      "properties": {
        "value": {
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "AggregationResultSum",
      "description": "The result of a sum aggregation."
    },
    "AwsRedshiftDetails": {
      "id": "AwsRedshiftDetails",
      "description": "Details of an AWS Redshift cluster.",
      "type": "object",
      "properties": {}
    },
    "SqlServerFeature": {
      "id": "SqlServerFeature",
      "description": "SQL Server feature details.",
      "properties": {
        "featureName": {
          "description": "Required. The feature name.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. Field enabled is set when a feature is used on the source deployment.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "IssueCompatibilityIssue": {
      "id": "IssueCompatibilityIssue",
      "description": "Details about a compatibility issue.",
      "type": "object",
      "properties": {
        "category": {
          "enumDescriptions": [
            "An unspecified compatibility category.",
            "Database flag compatibility category.",
            "Database feature compatibility category."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Category of this compatibility issue.",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "DATABASE_FLAG",
            "DATABASE_FEATURE"
          ]
        },
        "associatedObject": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the object associated with this compatibility issue relative to the relevant asset. Does not represent a fully qualified resource name and is not intended for programmatic use."
        },
        "associatedObjectType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of object associated with this migration compatibility issue.",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "DATABASE_DEPLOYMENT",
            "DATABASE",
            "SCHEMA"
          ],
          "enumDescriptions": [
            "An unspecified object type.",
            "A database deployment object type.",
            "A logical database object type.",
            "A schema object type."
          ]
        },
        "associatedValue": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A string representation of actual value associated with this issue. Some values may contain aggregated information, such as a flag name and the actual value assigned to it."
        }
      }
    },
    "HostingProviderDetails": {
      "id": "HostingProviderDetails",
      "description": "Details about the hosting platform of the asset.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The timestamp when resource was created in the hosting provider."
        },
        "originalId": {
          "description": "Optional. Unique identifier for the asset in the hosting provider.",
          "type": "string"
        },
        "location": {
          "description": "Optional. Location of the asset.",
          "$ref": "ResourceLocation"
        },
        "aws": {
          "$ref": "HostingProviderDetailsAws",
          "description": "Optional. The AWS platform details."
        },
        "displayName": {
          "description": "Optional. Display name of the asset.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DatabasePreferencesCloudSqlPostgreSql": {
      "properties": {
        "common": {
          "description": "Optional. Preferences to Cloud SQL databases.",
          "$ref": "DatabasePreferencesCloudSqlCommon"
        }
      },
      "type": "object",
      "id": "DatabasePreferencesCloudSqlPostgreSql",
      "description": "Preferences for PostgreSQL on Cloud SQL."
    },
    "ListAssetsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "assets": {
          "type": "array",
          "description": "A list of assets.",
          "items": {
            "$ref": "Asset"
          }
        }
      },
      "type": "object",
      "id": "ListAssetsResponse",
      "description": "Response message for listing assets."
    },
    "DiscoveryClientDiscoveryClientRecommendedVersion": {
      "id": "DiscoveryClientDiscoveryClientRecommendedVersion",
      "description": "Discovery client recommended version.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Output only. The version of the discovery client.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "description": "Output only. The URI of the discovery client version.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SignedUri": {
      "id": "SignedUri",
      "description": "Contains a signed URI.",
      "type": "object",
      "properties": {
        "file": {
          "description": "Output only. Name of the file the Signed URI references.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "description": "Output only. Download URI for the file.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "VirtualMachinePreferences": {
      "type": "object",
      "properties": {
        "soleTenancyPreferences": {
          "$ref": "SoleTenancyPreferences",
          "description": "Preferences concerning Sole Tenant nodes and virtual machines."
        },
        "vmwareEnginePreferences": {
          "description": "Preferences concerning insights and recommendations for Google Cloud VMware Engine.",
          "$ref": "VmwareEnginePreferences"
        },
        "commitmentPlan": {
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
[...]
