{
  "revision": "20260907",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "documentationLink": "https://cloud.google.com/migration-center",
  "canonicalName": "Migration Center API",
  "id": "migrationcenter:v1",
  "schemas": {
    "NetworkAddress": {
      "id": "NetworkAddress",
      "type": "object",
      "description": "Details of network address.",
      "properties": {
        "subnetMask": {
          "type": "string",
          "description": "Subnet mask."
        },
        "assignment": {
          "enum": [
            "ADDRESS_ASSIGNMENT_UNSPECIFIED",
            "ADDRESS_ASSIGNMENT_STATIC",
            "ADDRESS_ASSIGNMENT_DHCP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown (default value).",
            "Statically assigned IP.",
            "Dynamically assigned IP (DHCP)."
          ],
          "description": "Whether DHCP is used to assign addresses."
        },
        "ipAddress": {
          "description": "Assigned or configured IP Address.",
          "type": "string"
        },
        "fqdn": {
          "description": "Fully qualified domain name.",
          "type": "string"
        },
        "bcast": {
          "type": "string",
          "description": "Broadcast address."
        }
      }
    },
    "MySqlPlugin": {
      "type": "object",
      "id": "MySqlPlugin",
      "properties": {
        "version": {
          "description": "Required. The plugin version.",
          "type": "string"
        },
        "plugin": {
          "type": "string",
          "description": "Required. The plugin name."
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The plugin is active."
        }
      },
      "description": "MySql plugin."
    },
    "ImportJob": {
      "id": "ImportJob",
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was last updated.",
          "type": "string",
          "readOnly": true
        },
        "assetSource": {
          "description": "Required. Reference to a source.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full name of the import job."
        },
        "createTime": {
          "description": "Output only. The timestamp when the import job was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 256 characters.",
          "type": "string"
        },
        "validationReport": {
          "description": "Output only. The report with the validation results of the import job.",
          "readOnly": true,
          "$ref": "ValidationReport"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "completeTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the import job was completed.",
          "format": "google-datetime"
        },
        "executionReport": {
          "description": "Output only. The report with the results of running the import job.",
          "$ref": "ExecutionReport",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ],
          "description": "Output only. The state of the import job.",
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A resource that represents the background job that imports asset frames."
    },
    "NetworkAddressList": {
      "description": "List of allocated/assigned network addresses.",
      "type": "object",
      "id": "NetworkAddressList",
      "properties": {
        "entries": {
          "description": "Network address entries.",
          "items": {
            "$ref": "NetworkAddress"
          },
          "type": "array"
        }
      }
    },
    "PostgreSqlDatabaseDeployment": {
      "description": "Specific details for a PostgreSQL database deployment.",
      "properties": {
        "settings": {
          "type": "array",
          "items": {
            "$ref": "PostgreSqlSetting"
          },
          "description": "Optional. List of PostgreSql settings."
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "PostgreSqlProperty"
          },
          "description": "Optional. List of PostgreSql properties."
        }
      },
      "type": "object",
      "id": "PostgreSqlDatabaseDeployment"
    },
    "RunImportJobRequest": {
      "type": "object",
      "description": "A request to run an import job.",
      "id": "RunImportJobRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "ReportSummaryAssetAggregateStats": {
      "description": "Aggregate statistics for a collection of assets.",
      "id": "ReportSummaryAssetAggregateStats",
      "properties": {
        "coreCountHistogram": {
          "description": "Histogram showing a distribution of logical CPU core counts.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "memoryUtilizationChart": {
          "$ref": "ReportSummaryUtilizationChartData",
          "description": "Total memory split into Used/Free buckets."
        },
        "totalMemoryBytes": {
          "type": "string",
          "description": "Sum of the memory in bytes of all the assets in this collection.",
          "format": "int64"
        },
        "totalCores": {
          "format": "int64",
          "description": "Sum of the CPU core count of all the assets in this collection.",
          "type": "string"
        },
        "storageUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "totalAssets": {
          "format": "int64",
          "description": "Count of the number of unique assets in this collection.",
          "type": "string"
        },
        "memoryBytesHistogram": {
          "description": "Histogram showing a distribution of memory sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "operatingSystem": {
          "description": "Count of assets grouped by Operating System families.",
          "$ref": "ReportSummaryChartData"
        },
        "totalStorageBytes": {
          "description": "Sum of persistent storage in bytes of all the assets in this collection.",
          "format": "int64",
          "type": "string"
        },
        "storageBytesHistogram": {
          "description": "Histogram showing a distribution of storage sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "softwareInstances": {
          "$ref": "ReportSummaryChartData",
          "description": "Output only. Count of assets grouped by software name. Only present for virtual machines.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "DiskUsageSample": {
      "id": "DiskUsageSample",
      "properties": {
        "averageReadIops": {
          "format": "float",
          "type": "number",
          "description": "Optional. Average read IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored."
        },
        "averageIops": {
          "type": "number",
          "format": "float",
          "description": "Optional. Average IOPS sampled over a short window. Must be non-negative. If read or write are set, the sum of read and write will override the value of the average_iops."
        },
        "averageWriteIops": {
          "format": "float",
          "description": "Optional. Average write IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Disk usage sample. Values are across all disks."
    },
    "DatabaseInstanceNetwork": {
      "properties": {
        "ipAddresses": {
          "description": "Optional. The instance's IP addresses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hostNames": {
          "type": "array",
          "description": "Optional. The instance's host names.",
          "items": {
            "type": "string"
          }
        },
        "primaryMacAddress": {
          "type": "string",
          "description": "Optional. The instance's primary MAC address."
        }
      },
      "type": "object",
      "id": "DatabaseInstanceNetwork",
      "description": "Network details of a database instance."
    },
    "ImportRowErrorXlsxErrorDetails": {
      "properties": {
        "rowNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The row number where the error was detected."
        },
        "sheet": {
          "type": "string",
          "description": "The name of the sheet where the error was detected."
        }
      },
      "type": "object",
      "description": "Error details for an XLSX file.",
      "id": "ImportRowErrorXlsxErrorDetails"
    },
    "SendDiscoveryClientHeartbeatRequest": {
      "id": "SendDiscoveryClientHeartbeatRequest",
      "properties": {
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "description": "Optional. Errors affecting client functionality.",
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "Optional. Client application version."
        }
      },
      "description": "A request to send a discovery client heartbeat.",
      "type": "object"
    },
    "MachineDetails": {
      "type": "object",
      "properties": {
        "network": {
          "$ref": "MachineNetworkDetails",
          "description": "Network details."
        },
        "disks": {
          "$ref": "MachineDiskDetails",
          "description": "Disk details."
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "platform": {
          "description": "Platform specific information.",
          "$ref": "PlatformDetails"
        },
        "powerState": {
          "description": "Power state of the machine.",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ]
        },
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        },
        "coreCount": {
          "type": "integer",
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "format": "int32"
        },
        "guestOs": {
          "$ref": "GuestOsDetails",
          "description": "Guest OS information."
        },
        "createTime": {
          "description": "Machine creation time.",
          "type": "string",
          "format": "google-datetime"
        },
        "memoryMb": {
          "description": "The amount of memory in the machine. Must be non-negative.",
          "type": "integer",
          "format": "int32"
        },
        "machineName": {
          "type": "string",
          "description": "Machine name."
        },
        "architecture": {
          "$ref": "MachineArchitectureDetails",
          "description": "Architecture details (vendor, CPU architecture)."
        }
      },
      "id": "MachineDetails",
      "description": "Details of a machine."
    },
    "NetworkAdapterDetails": {
      "type": "object",
      "properties": {
        "adapterType": {
          "description": "Network adapter type (e.g. VMXNET3).",
          "type": "string"
        },
        "addresses": {
          "description": "NetworkAddressList",
          "$ref": "NetworkAddressList"
        },
        "macAddress": {
          "type": "string",
          "description": "MAC address."
        }
      },
      "description": "Details of network adapter.",
      "id": "NetworkAdapterDetails"
    },
    "MySqlVariable": {
      "id": "MySqlVariable",
      "description": "MySql variable.",
      "properties": {
        "value": {
          "description": "Required. The variable value.",
          "type": "string"
        },
        "variable": {
          "description": "Required. The variable name.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "Required. The variable category."
        }
      },
      "type": "object"
    },
    "NfsExportList": {
      "type": "object",
      "description": "NFS exports.",
      "properties": {
        "entries": {
          "items": {
            "$ref": "NfsExport"
          },
          "description": "NFS export entries.",
          "type": "array"
        }
      },
      "id": "NfsExportList"
    },
    "ErrorFrame": {
      "description": "Message representing a frame which failed to be processed due to an error.",
      "properties": {
        "originalFrame": {
          "readOnly": true,
          "$ref": "AssetFrame",
          "description": "Output only. The frame that was originally reported."
        },
        "ingestionTime": {
          "format": "google-datetime",
          "description": "Output only. Frame ingestion time.",
          "type": "string",
          "readOnly": true
        },
        "violations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "FrameViolationEntry"
          },
          "description": "Output only. All the violations that were detected for the frame."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The identifier of the ErrorFrame.",
          "type": "string"
        }
      },
      "id": "ErrorFrame",
      "type": "object"
    },
    "SignedUris": {
      "type": "object",
      "id": "SignedUris",
      "properties": {
        "signedUris": {
          "description": "Output only. List of signed URIs.",
          "items": {
            "$ref": "SignedUri"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "description": "Contains a list of Signed URIs."
    },
    "ComputeStorageDescriptor": {
      "description": "Compute Engine storage option descriptor.",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "description": "Output only. Disk type backing the storage."
        },
        "sizeGb": {
          "format": "int32",
          "description": "Output only. Disk size in GiB.",
          "type": "integer",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ComputeStorageDescriptor"
    },
    "AssetsExportJobExecutionResult": {
      "id": "AssetsExportJobExecutionResult",
      "properties": {
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Error encountered during export."
        },
        "signedUris": {
          "readOnly": true,
          "$ref": "SignedUris",
          "description": "Output only. Signed URLs for downloading export artifacts."
        },
        "outputFiles": {
          "$ref": "OutputFileList",
          "readOnly": true,
          "description": "Output only. List of output files."
        }
      },
      "description": "Contains the result of the assets export.",
      "type": "object"
    },
    "RegionPreferences": {
      "properties": {
        "preferredRegions": {
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The user preferences relating to target regions.",
      "id": "RegionPreferences"
    },
    "MysqlDatabaseDeployment": {
      "type": "object",
      "properties": {
        "variables": {
          "items": {
            "$ref": "MySqlVariable"
          },
          "description": "Optional. List of MySql variables.",
          "type": "array"
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "MySqlProperty"
          },
          "description": "Optional. List of MySql properties."
        },
        "resourceGroupsCount": {
          "description": "Optional. Number of resource groups.",
          "type": "integer",
          "format": "int32"
        },
        "plugins": {
          "description": "Optional. List of MySql plugins.",
          "items": {
            "$ref": "MySqlPlugin"
          },
          "type": "array"
        }
      },
      "id": "MysqlDatabaseDeployment",
      "description": "Specific details for a Mysql database deployment."
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "SqlServerServerFlag": {
      "id": "SqlServerServerFlag",
      "type": "object",
      "properties": {
        "serverFlagName": {
          "description": "Required. The server flag name.",
          "type": "string"
        },
        "value": {
          "description": "Required. The server flag value set by the user.",
          "type": "string"
        },
        "valueInUse": {
          "type": "string",
          "description": "Required. The server flag actual value. If `value_in_use` is different from `value` it means that either the configuration change was not applied or it is an expected behavior. See SQL Server documentation for more details."
        }
      },
      "description": "SQL Server server flag details."
    },
    "ListAssetsExportJobsResponse": {
      "id": "ListAssetsExportJobsResponse",
      "description": "Response message for listing assets export jobs.",
      "properties": {
        "assetsExportJobs": {
          "description": "Output only. The list of assets export jobs.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AssetsExportJob"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "RunningServiceList": {
      "description": "List of running guest OS services.",
      "properties": {
        "entries": {
          "description": "Running service entries.",
          "items": {
            "$ref": "RunningService"
          },
          "type": "array"
        }
      },
      "id": "RunningServiceList",
      "type": "object"
    },
    "PostgreSqlExtension": {
      "id": "PostgreSqlExtension",
      "type": "object",
      "description": "PostgreSql extension.",
      "properties": {
        "version": {
          "description": "Required. The extension version.",
          "type": "string"
        },
        "extension": {
          "type": "string",
          "description": "Required. The extension name."
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "AggregationCount": {
      "type": "object",
      "description": "Object count.",
      "id": "AggregationCount",
      "properties": {}
    },
    "RuntimeNetworkInfo": {
      "type": "object",
      "description": "Runtime networking information.",
      "properties": {
        "scanTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time of the last network scan."
        },
        "connections": {
          "description": "Network connections.",
          "$ref": "NetworkConnectionList"
        }
      },
      "id": "RuntimeNetworkInfo"
    },
    "ReportSummaryUtilizationChartData": {
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets.",
      "id": "ReportSummaryUtilizationChartData",
      "type": "object",
      "properties": {
        "used": {
          "format": "int64",
          "description": "Aggregate value which falls into the \"Used\" bucket.",
          "type": "string"
        },
        "free": {
          "description": "Aggregate value which falls into the \"Free\" bucket.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "properties": {
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      },
      "id": "Money"
    },
    "XlsxOutputFile": {
      "properties": {
        "signedUri": {
          "readOnly": true,
          "$ref": "SignedUri",
          "description": "Output only. Signed URI destination."
        }
      },
      "description": "Contains a single output file of type XLSX.",
      "id": "XlsxOutputFile",
      "type": "object"
    },
    "ImportRowError": {
      "description": "A resource that reports the import job errors at row level.",
      "properties": {
        "xlsxError": {
          "$ref": "ImportRowErrorXlsxErrorDetails",
          "description": "Error details for an XLSX file."
        },
        "assetTitle": {
          "description": "Output only. The asset title.",
          "type": "string",
          "readOnly": true
        },
        "archiveError": {
          "$ref": "ImportRowErrorArchiveErrorDetails",
          "description": "Error details for an archive file."
        },
        "vmName": {
          "type": "string",
          "description": "The name of the VM in the row."
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        },
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "vmUuid": {
          "description": "The VM UUID.",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ImportError"
          },
          "description": "The list of errors detected in the row."
        }
      },
      "id": "ImportRowError",
      "type": "object"
    },
    "AssetFrame": {
      "description": "Contains data reported from an inventory source on an asset.",
      "properties": {
        "machineDetails": {
          "description": "Asset information specific for virtual machines.",
          "$ref": "MachineDetails"
        },
        "databaseDetails": {
          "$ref": "DatabaseDetails",
          "description": "Asset information specific for logical databases."
        },
        "collectionType": {
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "type": "string",
          "description": "Optional. Frame collection type, if not specified the collection type will be based on the source type of the source the frame was reported on."
        },
        "databaseDeploymentDetails": {
          "description": "Asset information specific for database deployments.",
          "$ref": "DatabaseDeploymentDetails"
        },
        "traceToken": {
          "type": "string",
          "description": "Optional. Trace token is optionally provided to assist with debugging and traceability."
        },
        "performanceSamples": {
          "type": "array",
          "items": {
            "$ref": "PerformanceSample"
          },
          "description": "Asset performance data samples. Samples that are from more than 40 days ago or after tomorrow are ignored."
        },
        "reportTime": {
          "type": "string",
          "description": "The time the data was reported.",
          "format": "google-datetime"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Generic asset attributes."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs.",
          "type": "object"
        }
      },
      "id": "AssetFrame",
      "type": "object"
    },
    "ReportAssetFramesResponse": {
      "description": "A response to a call to `ReportAssetFrame`.",
      "type": "object",
      "properties": {},
      "id": "ReportAssetFramesResponse"
    },
    "DailyResourceUsageAggregationNetwork": {
      "type": "object",
      "description": "Statistical aggregation of network usage.",
      "properties": {
        "egressBps": {
          "description": "Network egress in B/s.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "ingressBps": {
          "description": "Network ingress in B/s.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "id": "DailyResourceUsageAggregationNetwork"
    },
    "AssetList": {
      "description": "Lists the asset IDs of all assets.",
      "type": "object",
      "properties": {
        "assetIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of asset IDs",
          "type": "array"
        }
      },
      "id": "AssetList"
    },
    "PostgreSqlSchemaDetails": {
      "description": "Specific details for a PostgreSql schema.",
      "type": "object",
      "properties": {
        "postgresqlExtensions": {
          "items": {
            "$ref": "PostgreSqlExtension"
          },
          "type": "array",
          "description": "Optional. PostgreSql extensions."
        },
        "foreignTablesCount": {
          "type": "integer",
          "description": "Optional. PostgreSql foreign tables.",
          "format": "int32"
        }
      },
      "id": "PostgreSqlSchemaDetails"
    },
    "GuestRuntimeDetails": {
      "id": "GuestRuntimeDetails",
      "description": "Guest OS runtime information.",
      "type": "object",
      "properties": {
        "services": {
          "description": "Running background services.",
          "$ref": "RunningServiceList"
        },
        "processes": {
          "description": "Running processes.",
          "$ref": "RunningProcessList"
        },
        "domain": {
          "description": "Domain, e.g. c.stratozone-development.internal.",
          "type": "string"
        },
        "installedApps": {
          "description": "Installed applications information.",
          "$ref": "GuestInstalledApplicationList"
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "lastBootTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last time the OS was booted."
        },
        "openFileList": {
          "$ref": "OpenFileList",
          "description": "Open files information."
        },
        "network": {
          "description": "Runtime network information (connections, ports).",
          "$ref": "RuntimeNetworkInfo"
        }
      }
    },
    "ValidationReport": {
      "description": "A resource that aggregates errors across import job files.",
      "properties": {
        "fileValidations": {
          "description": "List of errors found in files.",
          "items": {
            "$ref": "FileValidationReport"
          },
          "type": "array"
        },
        "jobErrors": {
          "description": "List of job level errors.",
          "items": {
            "$ref": "ImportError"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ValidationReport"
    },
    "RunAssetsExportJobRequest": {
      "description": "A request to run an assets export job.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RunAssetsExportJobRequest"
    },
    "DatabaseInstance": {
      "description": "Details of a database instance.",
      "id": "DatabaseInstance",
      "properties": {
        "network": {
          "$ref": "DatabaseInstanceNetwork",
          "description": "Optional. Networking details."
        },
        "role": {
          "type": "string",
          "description": "Optional. The instance role in the database engine.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "ARBITER"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Primary.",
            "Secondary.",
            "Arbiter."
          ]
        },
        "instanceName": {
          "description": "Optional. The instance's name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MigrationInsight": {
      "id": "MigrationInsight",
      "properties": {
        "computeEngineTarget": {
          "readOnly": true,
          "$ref": "ComputeEngineMigrationTarget",
          "description": "Output only. A Google Compute Engine target."
        },
        "fit": {
          "$ref": "FitDescriptor",
          "readOnly": true,
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration."
        }
      },
      "type": "object",
      "description": "An insight about potential migrations for an asset."
    },
    "AssetPerformanceData": {
      "id": "AssetPerformanceData",
      "description": "Performance data for an asset.",
      "type": "object",
      "properties": {
        "dailyResourceUsageAggregations": {
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          },
          "type": "array",
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent."
        }
      }
    },
    "CpuUsageSample": {
      "id": "CpuUsageSample",
      "properties": {
        "utilizedPercentage": {
          "type": "number",
          "description": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage.",
          "format": "float"
        }
      },
      "description": "CPU usage sample.",
      "type": "object"
    },
    "MySqlSchemaDetails": {
      "id": "MySqlSchemaDetails",
      "properties": {
        "storageEngines": {
          "type": "array",
          "description": "Optional. Mysql storage engine tables.",
          "items": {
            "$ref": "MySqlStorageEngineDetails"
          }
        }
      },
      "description": "Specific details for a Mysql database.",
      "type": "object"
    },
    "DiskPartition": {
      "description": "Disk Partition details.",
      "properties": {
        "subPartitions": {
          "description": "Sub-partitions.",
          "$ref": "DiskPartitionList"
        },
        "capacityBytes": {
          "format": "int64",
          "type": "string",
          "description": "Partition capacity."
        },
        "type": {
          "description": "Partition type.",
          "type": "string"
        },
        "fileSystem": {
          "description": "Partition file system.",
          "type": "string"
        },
        "freeBytes": {
          "description": "Partition free space.",
          "type": "string",
          "format": "int64"
        },
        "mountPoint": {
          "type": "string",
          "description": "Mount point (Linux/Windows) or drive letter (Windows)."
        },
        "uuid": {
          "type": "string",
          "description": "Partition UUID."
        }
      },
      "id": "DiskPartition",
      "type": "object"
    },
    "PlatformDetails": {
      "type": "object",
      "id": "PlatformDetails",
      "properties": {
        "vmwareDetails": {
          "$ref": "VmwarePlatformDetails",
          "description": "VMware specific details."
        },
        "azureVmDetails": {
          "$ref": "AzureVmPlatformDetails",
          "description": "Azure VM specific details."
        },
        "awsEc2Details": {
          "$ref": "AwsEc2PlatformDetails",
          "description": "AWS EC2 specific details."
        },
        "genericDetails": {
          "$ref": "GenericPlatformDetails",
          "description": "Generic platform details."
        },
        "physicalDetails": {
          "description": "Physical machines platform details.",
          "$ref": "PhysicalPlatformDetails"
        }
      },
      "description": "Information about the platform."
    },
    "SqlServerDatabaseDeployment": {
      "type": "object",
      "description": "Specific details for a Microsoft SQL Server database deployment.",
      "properties": {
        "features": {
          "type": "array",
          "description": "Optional. List of SQL Server features.",
          "items": {
            "$ref": "SqlServerFeature"
          }
        },
        "traceFlags": {
          "items": {
            "$ref": "SqlServerTraceFlag"
          },
          "description": "Optional. List of SQL Server trace flags.",
          "type": "array"
        },
        "serverFlags": {
          "items": {
            "$ref": "SqlServerServerFlag"
          },
          "description": "Optional. List of SQL Server server flags.",
          "type": "array"
        }
      },
      "id": "SqlServerDatabaseDeployment"
    },
    "ListPreferenceSetsResponse": {
      "description": "Response message for listing preference sets.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "preferenceSets": {
          "description": "The list of PreferenceSets",
          "type": "array",
          "items": {
            "$ref": "PreferenceSet"
          }
        }
      },
      "id": "ListPreferenceSetsResponse",
      "type": "object"
    },
    "AggregationResultSum": {
      "type": "object",
      "id": "AggregationResultSum",
      "description": "The result of a sum aggregation.",
      "properties": {
        "value": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "AggregationResultCount": {
      "type": "object",
      "description": "The result of a count aggregation.",
      "id": "AggregationResultCount",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DiskPartitionDetails": {
      "description": "Disk partition details.",
      "properties": {
        "freeSpaceBytes": {
          "description": "Output only. Total free space of all partitions.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "partitions": {
          "$ref": "DiskPartitionList",
          "description": "Optional. List of partitions."
        },
        "totalCapacityBytes": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total capacity of all partitions."
        }
      },
      "type": "object",
      "id": "DiskPartitionDetails"
    },
    "ReportSummaryChartDataDataPoint": {
      "id": "ReportSummaryChartDataDataPoint",
      "description": "Describes a single data point in the Chart.",
      "properties": {
        "label": {
          "description": "The X-axis label for this data point.",
          "type": "string"
        },
        "value": {
          "description": "The Y-axis value for this data point.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "VmwareDiskConfig": {
      "type": "object",
      "description": "VMware disk config details.",
      "properties": {
        "rdmCompatibility": {
          "enum": [
            "RDM_COMPATIBILITY_UNSPECIFIED",
            "PHYSICAL_COMPATIBILITY",
            "VIRTUAL_COMPATIBILITY"
          ],
          "type": "string",
          "description": "RDM compatibility mode.",
          "enumDescriptions": [
            "Compatibility mode unspecified or unknown.",
            "Physical compatibility mode.",
            "Virtual compatibility mode."
          ]
        },
        "backingType": {
          "type": "string",
          "description": "VMDK backing type.",
          "enumDescriptions": [
            "Default value.",
            "Flat v1.",
            "Flat v2.",
            "Persistent memory, also known as Non-Volatile Memory (NVM).",
            "Raw Disk Memory v1.",
            "Raw Disk Memory v2.",
            "SEsparse is a snapshot format introduced in vSphere 5.5 for large disks.",
            "SEsparse v1.",
            "SEsparse v1."
          ],
          "enum": [
            "BACKING_TYPE_UNSPECIFIED",
            "BACKING_TYPE_FLAT_V1",
            "BACKING_TYPE_FLAT_V2",
            "BACKING_TYPE_PMEM",
            "BACKING_TYPE_RDM_V1",
            "BACKING_TYPE_RDM_V2",
            "BACKING_TYPE_SESPARSE",
            "BACKING_TYPE_SESPARSE_V1",
            "BACKING_TYPE_SESPARSE_V2"
          ]
        },
        "shared": {
          "description": "Is VMDK shared with other VMs.",
          "type": "boolean"
        },
        "vmdkMode": {
          "description": "VMDK disk mode.",
          "type": "string",
          "enum": [
            "VMDK_MODE_UNSPECIFIED",
            "DEPENDENT",
            "INDEPENDENT_PERSISTENT",
            "INDEPENDENT_NONPERSISTENT"
          ],
          "enumDescriptions": [
            "VMDK disk mode unspecified or unknown.",
            "Dependent disk mode.",
            "Independent - Persistent disk mode.",
            "Independent - Nonpersistent disk mode."
          ]
        }
      },
      "id": "VmwareDiskConfig"
    },
    "AwsEc2PlatformDetails": {
      "properties": {
        "location": {
          "description": "The location of the machine in the AWS format.",
          "type": "string"
        },
        "machineTypeLabel": {
          "type": "string",
          "description": "AWS platform's machine type label."
        },
        "hyperthreading": {
          "description": "Optional. Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        }
      },
      "id": "AwsEc2PlatformDetails",
      "description": "AWS EC2 specific details.",
      "type": "object"
    },
    "MachineArchitectureDetails": {
      "id": "MachineArchitectureDetails",
      "type": "object",
      "properties": {
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "hyperthreading": {
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ],
          "description": "CPU hyper-threading support.",
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string"
        },
        "cpuSocketCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of processor sockets allocated to the machine."
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "cpuManufacturer": {
          "type": "string",
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\"."
        },
        "firmwareType": {
          "type": "string",
          "description": "Firmware type.",
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ],
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ]
        },
        "cpuThreadCount": {
          "deprecated": true,
          "description": "Deprecated: use MachineDetails.core_count instead. Number of CPU threads allocated to the machine.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Details of the machine architecture."
    },
    "HostsEntryList": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "HostsEntry"
          },
          "description": "Hosts entries.",
          "type": "array"
        }
      },
      "id": "HostsEntryList",
      "type": "object",
      "description": "Hosts content."
    },
    "DatabaseDetailsParentDatabaseDeployment": {
      "properties": {
        "generatedId": {
          "description": "Optional. The parent database deployment generated ID.",
          "type": "string"
        },
        "manualUniqueId": {
          "description": "Optional. The parent database deployment optional manual unique ID set by the user.",
          "type": "string"
        }
      },
      "description": "The identifiers of the parent database deployment.",
      "type": "object",
      "id": "DatabaseDetailsParentDatabaseDeployment"
    },
    "AzureVmPlatformDetails": {
      "properties": {
        "location": {
          "description": "The location of the machine in the Azure format.",
          "type": "string"
        },
        "hyperthreading": {
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "type": "string"
        },
        "provisioningState": {
          "type": "string",
          "description": "Azure platform's provisioning state."
        },
        "machineTypeLabel": {
          "description": "Azure platform's machine type label.",
          "type": "string"
        }
      },
      "id": "AzureVmPlatformDetails",
      "description": "Azure VM specific details.",
      "type": "object"
    },
    "ReportSummaryVmwareNodeAllocation": {
      "type": "object",
      "id": "ReportSummaryVmwareNodeAllocation",
      "description": "Represents assets allocated to a specific VMWare Node type.",
      "properties": {
        "vmwareNode": {
          "$ref": "ReportSummaryVmwareNode",
          "description": "VMWare node type, e.g. \"ve1-standard-72\""
        },
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Count of assets allocated to these nodes",
          "type": "string"
        },
        "nodeCount": {
          "format": "int64",
          "description": "Count of this node type to be provisioned",
          "type": "string"
        }
      }
    },
    "AssetsExportJobInventory": {
      "id": "AssetsExportJobInventory",
      "description": "Configuration for asset inventory details exports.",
      "properties": {},
      "type": "object"
    },
    "UploadFileInfo": {
      "properties": {
        "signedUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Upload URI for the file."
        },
        "headers": {
          "description": "Output only. The headers that were used to sign the URI.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uriExpirationTime": {
          "description": "Output only. Expiration time of the upload URI.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "UploadFileInfo",
      "type": "object",
      "description": "A resource that contains a URI to which a data file can be uploaded."
    },
    "GuestConfigDetails": {
      "type": "object",
      "id": "GuestConfigDetails",
      "properties": {
        "fstab": {
          "description": "Mount list (Linux fstab).",
          "$ref": "FstabEntryList"
        },
        "selinuxMode": {
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ],
          "type": "string",
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ]
        },
        "issue": {
          "type": "string",
          "description": "OS issue (typically /etc/issue in Linux)."
        },
        "hosts": {
          "$ref": "HostsEntryList",
          "description": "Hosts file (/etc/hosts)."
        },
        "nfsExports": {
          "$ref": "NfsExportList",
          "description": "NFS exports."
        }
      },
      "description": "Guest OS config information."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object"
    },
    "AwsRds": {
      "type": "object",
      "properties": {},
      "description": "Specific details for an AWS RDS database deployment.",
      "id": "AwsRds"
    },
    "AggregationResultFrequency": {
      "description": "The result of a frequency distribution aggregation.",
      "type": "object",
      "properties": {
        "values": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "id": "AggregationResultFrequency"
    },
    "MachineDiskDetails": {
      "properties": {
        "disks": {
          "$ref": "DiskEntryList",
          "description": "List of disks."
        },
        "totalFreeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total disk free space."
        },
        "totalCapacityBytes": {
          "format": "int64",
          "type": "string",
          "description": "Disk total Capacity."
        }
      },
      "id": "MachineDiskDetails",
      "description": "Details of machine disks.",
      "type": "object"
    },
    "BatchUpdateAssetsResponse": {
      "id": "BatchUpdateAssetsResponse",
      "description": "Response for updating a list of assets.",
      "properties": {
        "assets": {
          "items": {
            "$ref": "Asset"
          },
          "type": "array",
          "description": "Update asset content. The content only includes values after field mask being applied."
        }
      },
      "type": "object"
    },
    "AssetsExportJobExecution": {
      "id": "AssetsExportJobExecution",
      "description": "Execution status of assets export job.",
      "type": "object",
      "properties": {
        "requestedAssetCount": {
          "format": "int32",
          "description": "Output only. Number of assets requested for export after resolving the requested filters.",
          "readOnly": true,
          "type": "integer"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. Execution timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "result": {
          "readOnly": true,
          "$ref": "AssetsExportJobExecutionResult",
          "description": "Output only. Result of the export execution."
        },
        "expireTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Expiration time for the export and artifacts."
        },
        "executionId": {
          "type": "string",
          "description": "Output only. Globally unique identifier of the execution.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. Completion time of the export.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "DatabaseDeploymentDetails": {
      "description": "The details of a database deployment asset.",
      "type": "object",
      "properties": {
        "sqlServer": {
          "description": "Optional. Details of a Microsoft SQL Server database deployment.",
          "$ref": "SqlServerDatabaseDeployment"
        },
        "manualUniqueId": {
          "description": "Optional. A manual unique ID set by the user.",
          "type": "string"
        },
        "topology": {
          "$ref": "DatabaseDeploymentTopology",
          "description": "Optional. Details of the database deployment topology."
        },
        "version": {
          "description": "Optional. The database deployment version.",
          "type": "string"
        },
        "postgresql": {
          "$ref": "PostgreSqlDatabaseDeployment",
          "description": "Optional. Details of a PostgreSQL database deployment."
        },
        "generatedId": {
          "description": "Optional. The database deployment generated ID.",
          "type": "string"
        },
        "mysql": {
          "$ref": "MysqlDatabaseDeployment",
          "description": "Optional. Details of a MYSQL database deployment."
        },
        "awsRds": {
          "description": "Optional. Details of an AWS RDS instance.",
          "$ref": "AwsRds"
        },
        "aggregatedStats": {
          "readOnly": true,
          "$ref": "DatabaseDeploymentDetailsAggregatedStats",
          "description": "Output only. Aggregated stats for the database deployment."
        },
        "edition": {
          "type": "string",
          "description": "Optional. The database deployment edition."
        }
      },
      "id": "DatabaseDeploymentDetails"
    },
    "FstabEntryList": {
      "id": "FstabEntryList",
      "properties": {
        "entries": {
          "description": "Fstab entries.",
          "type": "array",
          "items": {
            "$ref": "FstabEntry"
          }
        }
      },
      "description": "Fstab content.",
      "type": "object"
    },
    "NfsExport": {
      "properties": {
        "hosts": {
          "items": {
            "type": "string"
          },
          "description": "The hosts or networks to which the export is being shared.",
          "type": "array"
        },
        "exportDirectory": {
          "description": "The directory being exported.",
          "type": "string"
        }
      },
      "description": "NFS export.",
      "id": "NfsExport",
      "type": "object"
    },
    "ReportSummaryGroupFinding": {
      "id": "ReportSummaryGroupFinding",
      "type": "object",
      "description": "Summary Findings for a specific Group.",
      "properties": {
        "displayName": {
          "description": "Display Name for the Group.",
          "type": "string"
        },
        "description": {
          "description": "Description for the Group.",
          "type": "string"
        },
        "assetAggregateStats": {
          "description": "Summary statistics for all the assets in this group.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "preferenceSetFindings": {
          "items": {
            "$ref": "ReportSummaryGroupPreferenceSetFinding"
          },
          "type": "array",
          "description": "Findings for each of the PreferenceSets for this group."
        },
        "overlappingAssetCount": {
          "deprecated": true,
          "type": "string",
          "format": "int64",
          "description": "This field is deprecated, do not rely on it having a value."
        }
      }
    },
    "Aggregation": {
      "type": "object",
      "id": "Aggregation",
      "properties": {
        "field": {
          "description": "The name of the field on which to aggregate.",
          "type": "string"
        },
        "histogram": {
          "description": "Creates a bucketed histogram of field values.",
          "$ref": "AggregationHistogram"
        },
        "sum": {
          "description": "Sum over a numeric field.",
          "$ref": "AggregationSum"
        },
        "count": {
          "description": "Count the number of matching objects.",
          "$ref": "AggregationCount"
        },
        "frequency": {
          "$ref": "AggregationFrequency",
          "description": "Creates a frequency distribution of all field values."
        }
      },
      "description": "Message describing an aggregation. The message includes the aggregation type, parameters, and the field on which to perform the aggregation."
    },
    "AggregationSum": {
      "properties": {},
      "id": "AggregationSum",
      "type": "object",
      "description": "Sum of field values."
    },
    "SqlServerSchemaDetails": {
      "id": "SqlServerSchemaDetails",
      "description": "Specific details for a SqlServer database.",
      "type": "object",
      "properties": {
        "clrObjectCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. SqlServer number of CLR objects."
        }
      }
    },
    "ReportSummaryChartData": {
      "type": "object",
      "description": "Describes a collection of data points rendered as a Chart.",
      "id": "ReportSummaryChartData",
      "properties": {
        "dataPoints": {
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          },
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value.",
          "type": "array"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      }
    },
    "Operation": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "MachinePreferences": {
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations. Not all machine types are available in all zones and regions.",
      "type": "object",
      "properties": {
        "allowedMachineSeries": {
          "type": "array",
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "items": {
            "$ref": "MachineSeries"
          }
        }
      },
      "id": "MachinePreferences"
    },
    "RemoveAssetsFromGroupRequest": {
      "description": "A request to remove assets from a group.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "assets": {
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000.",
          "$ref": "AssetList"
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`."
        }
      },
      "type": "object",
      "id": "RemoveAssetsFromGroupRequest"
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "FileValidationReport": {
      "description": "A resource that aggregates the validation errors found in an import job file.",
      "type": "object",
      "properties": {
        "partialReport": {
          "description": "Flag indicating that processing was aborted due to maximum number of errors.",
          "type": "boolean"
        },
        "rowErrors": {
          "items": {
            "$ref": "ImportRowError"
          },
          "description": "Partial list of rows that encountered validation error.",
          "type": "array"
        },
        "fileName": {
          "type": "string",
          "description": "The name of the file."
        },
        "fileErrors": {
          "type": "array",
          "description": "List of file level errors.",
          "items": {
            "$ref": "ImportError"
          }
        }
      },
      "id": "FileValidationReport"
    },
    "RunningProcess": {
      "properties": {
        "exePath": {
          "description": "Process binary path.",
          "type": "string"
        },
        "cmdline": {
          "description": "Process full command line.",
          "type": "string"
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Process extended attributes."
        },
        "user": {
          "description": "User running the process.",
          "type": "string"
        },
        "pid": {
          "format": "int64",
          "description": "Process ID.",
          "type": "string"
        }
      },
      "id": "RunningProcess",
      "description": "Guest OS running process details.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "AssetsExportJobPerformanceData": {
      "type": "object",
      "description": "Configuration for performance data exports.",
      "properties": {
        "maxDays": {
          "format": "int32",
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used.",
          "type": "integer"
        }
      },
      "id": "AssetsExportJobPerformanceData"
    },
    "ListImportDataFilesResponse": {
      "id": "ListImportDataFilesResponse",
      "description": "Response for listing payload files of an import job.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "importDataFiles": {
          "type": "array",
          "items": {
            "$ref": "ImportDataFile"
          },
          "description": "The list of import data files."
        }
      }
    },
    "ListAssetsResponse": {
      "id": "ListAssetsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "assets": {
          "type": "array",
          "items": {
            "$ref": "Asset"
          },
          "description": "A list of assets."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for listing assets."
    },
    "BiosDetails": {
      "description": "Details about the BIOS.",
      "id": "BiosDetails",
      "type": "object",
      "properties": {
        "manufacturer": {
          "type": "string",
          "description": "BIOS manufacturer."
        },
        "version": {
          "type": "string",
          "description": "BIOS version."
        },
        "releaseDate": {
          "description": "BIOS release date.",
          "$ref": "Date"
        },
        "smbiosUuid": {
          "description": "SMBIOS UUID.",
          "type": "string"
        },
        "id": {
          "description": "BIOS ID.",
          "type": "string"
        },
        "biosName": {
          "description": "BIOS name. This fields is deprecated. Please use the `id` field instead.",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "InsightList": {
      "description": "Message containing insights list.",
      "properties": {
        "insights": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Insights of the list.",
          "items": {
            "$ref": "Insight"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Update timestamp.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "InsightList"
    },
    "ListRelationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "relations": {
          "items": {
            "$ref": "Relation"
          },
          "description": "A list of relations.",
          "type": "array"
        }
      },
      "id": "ListRelationsResponse",
      "description": "Response message for listing relations.",
      "type": "object"
    },
    "DailyResourceUsageAggregation": {
      "properties": {
        "disk": {
          "$ref": "DailyResourceUsageAggregationDisk",
          "description": "Disk usage."
        },
        "network": {
          "description": "Network usage.",
          "$ref": "DailyResourceUsageAggregationNetwork"
        },
        "date": {
          "description": "Aggregation date. Day boundaries are at midnight UTC.",
          "$ref": "Date"
        },
        "cpu": {
          "description": "CPU usage.",
          "$ref": "DailyResourceUsageAggregationCPU"
        },
        "memory": {
          "$ref": "DailyResourceUsageAggregationMemory",
          "description": "Memory usage."
        }
      },
      "type": "object",
      "id": "DailyResourceUsageAggregation",
      "description": "Usage data aggregation for a single day."
    },
    "ReportConfigGroupPreferenceSetAssignment": {
      "id": "ReportConfigGroupPreferenceSetAssignment",
      "type": "object",
      "description": "Represents a combination of a group with a preference set.",
      "properties": {
        "preferenceSet": {
          "type": "string",
          "description": "Required. Name of the Preference Set."
        },
        "group": {
          "description": "Required. Name of the group.",
          "type": "string"
        }
      }
    },
    "PreferenceSet": {
      "description": "The preferences that apply to all assets in a given context.",
      "id": "PreferenceSet",
      "properties": {
        "virtualMachinePreferences": {
          "description": "Optional. A set of preferences that applies to all virtual machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the preference set was created."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the preference set was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of the preference set."
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the preference set.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListReportConfigsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "reportConfigs": {
          "description": "A list of report configs.",
          "type": "array",
          "items": {
            "$ref": "ReportConfig"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListReportConfigsResponse",
      "description": "Response message for listing report configs."
    },
    "Settings": {
      "properties": {
        "disableCloudLogging": {
          "description": "Disable Cloud Logging for the Migration Center API. Users are billed for the logs.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "preferenceSet": {
          "description": "The preference set used by default for a project.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes the Migration Center settings related to the project.",
      "id": "Settings"
    },
    "ListReportsResponse": {
      "type": "object",
      "id": "ListReportsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "reports": {
          "items": {
            "$ref": "Report"
          },
          "type": "array",
          "description": "The list of Reports."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response message for listing Reports."
    },
    "SignedUriDestination": {
      "properties": {
        "fileFormat": {
          "type": "string",
          "description": "Required. The file format to export.",
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
            "XLSX file format which used in Excel."
          ],
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        }
      },
      "description": "Signed URI destination configuration.",
      "id": "SignedUriDestination",
      "type": "object"
    },
    "VmwareEnginePreferences": {
      "description": "The user preferences relating to Google Cloud VMware Engine target platform.",
      "type": "object",
      "id": "VmwareEnginePreferences",
      "properties": {
        "memoryOvercommitRatio": {
          "type": "number",
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0.",
          "format": "double"
        },
        "cpuOvercommitRatio": {
          "type": "number",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment.",
          "format": "double"
        },
        "storageDeduplicationCompressionRatio": {
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0.",
          "type": "number",
          "format": "double"
        },
        "commitmentPlan": {
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT"
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment)."
          ],
          "type": "string"
        }
      }
    },
    "OutputFile": {
      "id": "OutputFile",
      "description": "Contains a single output file.",
      "type": "object",
      "properties": {
        "fileSizeBytes": {
          "format": "int64",
          "description": "Output only. File size in bytes.",
          "type": "string",
          "readOnly": true
        },
        "xlsxOutputFile": {
          "$ref": "XlsxOutputFile",
          "description": "Output only. XLSX output file.",
          "readOnly": true
        },
        "csvOutputFile": {
          "$ref": "CsvOutputFile",
          "readOnly": true,
          "description": "Output only. CSV output file."
        }
      }
    },
    "GenericPlatformDetails": {
      "description": "Generic platform details.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different VMs in the same location may have different string values for this field.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        }
      },
      "id": "GenericPlatformDetails"
    },
    "NetworkConnectionList": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "NetworkConnection"
          },
          "type": "array",
          "description": "Network connection entries."
        }
      },
      "id": "NetworkConnectionList",
      "description": "Network connection list.",
      "type": "object"
    },
    "AggregateAssetsValuesResponse": {
      "id": "AggregateAssetsValuesResponse",
      "description": "A response to a request to aggregated assets values.",
      "type": "object",
      "properties": {
        "results": {
          "items": {
            "$ref": "AggregationResult"
          },
          "type": "array",
          "description": "The aggregation results."
        }
      }
    },
    "Report": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ],
          "enumDescriptions": [
            "Default Report type.",
            "Total cost of ownership Report type."
          ],
          "description": "Report type.",
          "type": "string"
        },
        "summary": {
          "description": "Output only. Summary view of the Report.",
          "$ref": "ReportSummary",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Creation timestamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Free-text description."
        },
        "state": {
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Report creation state.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of resource.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last update timestamp."
        }
      },
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "id": "Report",
      "type": "object"
    },
    "AggregateAssetsValuesRequest": {
      "type": "object",
      "description": "A request to aggregate one or more values.",
      "id": "AggregateAssetsValuesRequest",
      "properties": {
        "aggregations": {
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          },
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined."
        },
        "filter": {
          "description": "Optional. The aggregation will be performed on assets that match the provided filter.",
          "type": "string"
        },
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        }
      }
    },
    "VmwarePlatformDetails": {
      "description": "VMware specific details.",
      "id": "VmwarePlatformDetails",
      "type": "object",
      "properties": {
        "esxVersion": {
          "description": "ESX version.",
          "type": "string"
        },
        "vcenterVmId": {
          "description": "vCenter VM ID.",
          "type": "string"
        },
        "vcenterVersion": {
          "description": "vCenter version.",
          "type": "string"
        },
        "vcenterFolder": {
          "type": "string",
          "description": "Folder name in vCenter where asset resides."
        },
        "osid": {
          "type": "string",
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html."
        },
        "esxHyperthreading": {
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Whether the ESX is hyperthreaded.",
          "type": "string"
        },
        "vcenterUri": {
          "description": "vCenter URI used in collection.",
          "type": "string"
        }
      }
    },
    "ComputeEnginePreferences": {
      "type": "object",
      "id": "ComputeEnginePreferences",
      "properties": {
        "persistentDiskType": {
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "description": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data.",
          "type": "string"
        },
        "machinePreferences": {
          "$ref": "MachinePreferences",
          "description": "Preferences concerning the machine types to consider on Compute Engine."
        },
        "licenseType": {
          "description": "License type to consider when calculating costs for virtual machine insights and recommendations. If unspecified, costs are calculated based on the default licensing plan.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the OS license."
          ],
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ]
        }
      },
      "description": "The user preferences relating to Compute Engine target platform."
    },
    "NetworkUsageSample": {
      "description": "Network usage sample. Values are across all network interfaces.",
      "type": "object",
      "properties": {
        "averageIngressBps": {
          "format": "float",
          "type": "number",
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative."
        },
        "averageEgressBps": {
          "type": "number",
          "format": "float",
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative."
        }
      },
      "id": "NetworkUsageSample"
    },
    "PostgreSqlSetting": {
      "id": "PostgreSqlSetting",
      "type": "object",
      "description": "PostgreSql setting.",
      "properties": {
        "source": {
          "description": "Required. The setting source.",
          "type": "string"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Required. The setting boolean value."
        },
        "setting": {
          "description": "Required. The setting name.",
          "type": "string"
        },
        "realValue": {
          "description": "Required. The setting real value.",
          "format": "float",
          "type": "number"
        },
        "unit": {
          "description": "Optional. The setting unit.",
          "type": "string"
        },
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "Required. The setting int value."
        },
        "stringValue": {
          "type": "string",
          "description": "Required. The setting string value. Notice that enum values are stored as strings."
        }
      }
    },
    "ComputeEngineShapeDescriptor": {
      "id": "ComputeEngineShapeDescriptor",
      "type": "object",
      "properties": {
        "physicalCoreCount": {
          "description": "Number of physical cores.",
          "format": "int32",
          "type": "integer"
        },
        "storage": {
          "items": {
            "$ref": "ComputeStorageDescriptor"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Compute Engine storage. Never empty."
        },
        "machineType": {
          "readOnly": true,
          "description": "Output only. Compute Engine machine type.",
          "type": "string"
        },
        "memoryMb": {
          "description": "Memory in mebibytes.",
          "type": "integer",
          "format": "int32"
        },
        "series": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Compute Engine machine series."
        },
        "logicalCoreCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of logical cores."
        }
      },
      "description": "Compute Engine target shape descriptor."
    },
    "Relation": {
      "id": "Relation",
      "properties": {
        "name": {
          "description": "Output only. Identifier. The identifier of the relation.",
          "type": "string",
          "readOnly": true
        },
        "srcAsset": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The source asset name in the relation."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the relation was created."
        },
        "dstAsset": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The destination asset name in the relation."
        },
        "type": {
          "description": "Optional. The type of the relation.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "LOGICAL_DATABASE",
            "DATABASE_DEPLOYMENT_HOSTING_SERVER"
          ],
          "enumDescriptions": [
            "Default value.",
            "DBDeployment -> Database",
            "A relation between a machine/VM and the database deployment it hosts."
          ]
        }
      },
      "type": "object",
      "description": "Message representing a relation between 2 resource."
    },
    "ListSourcesResponse": {
      "description": "Response message for listing sources.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "sources": {
          "description": "The list of sources.",
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        }
      },
      "id": "ListSourcesResponse"
    },
    "RunningService": {
      "description": "Guest OS running service details.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "STOPPED"
          ],
          "type": "string",
          "description": "Service state (OS-agnostic).",
          "enumDescriptions": [
            "Service state unspecified.",
            "Service is active.",
            "Service is paused.",
            "Service is stopped."
          ]
[...]
