{
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/migration-center",
  "title": "Migration Center API",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1alpha1",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "discoveryVersion": "v1",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "ownerName": "Google",
  "id": "migrationcenter:v1alpha1",
  "schemas": {
    "DatabaseDeploymentTopology": {
      "properties": {
        "coreLimit": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Number of total logical cores limited by db deployment."
        },
        "instances": {
          "description": "Optional. List of database instances.",
          "type": "array",
          "items": {
            "$ref": "DatabaseInstance"
          }
        },
        "memoryLimitBytes": {
          "format": "int64",
          "description": "Optional. Total memory in bytes limited by db deployment.",
          "type": "string"
        },
        "coreCount": {
          "description": "Optional. Number of total logical cores.",
          "type": "integer",
          "format": "int32"
        },
        "physicalCoreLimit": {
          "format": "int32",
          "description": "Optional. Number of total physical cores limited by db deployment.",
          "type": "integer"
        },
        "physicalCoreCount": {
          "type": "integer",
          "description": "Optional. Number of total physical cores.",
          "format": "int32"
        },
        "memoryBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Total memory in bytes."
        },
        "diskUsedBytes": {
          "description": "Optional. Disk used in bytes.",
          "type": "string",
          "format": "int64"
        },
        "diskAllocatedBytes": {
          "description": "Optional. Disk allocated in bytes.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "DatabaseDeploymentTopology",
      "description": "Details of database deployment's topology.",
      "type": "object"
    },
    "ImportJob": {
      "type": "object",
      "id": "ImportJob",
      "description": "A resource that represents the background job that imports asset frames.",
      "properties": {
        "validationReport": {
          "$ref": "ValidationReport",
          "description": "Output only. The report with the validation results of the import job.",
          "readOnly": true
        },
        "inlinePayload": {
          "$ref": "InlinePayloadInfo",
          "description": "The payload is included in the request, mainly used for small import jobs."
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "createTime": {
          "description": "Output only. The timestamp when the import job was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "executionReport": {
          "$ref": "ExecutionReport",
          "description": "Output only. The report with the results of running the import job.",
          "readOnly": true
        },
        "gcsPayload": {
          "deprecated": true,
          "$ref": "GCSPayloadInfo",
          "description": "The payload is in Google Cloud Storage."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The full name of the import job.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "assetSource": {
          "description": "Required. Reference to a source.",
          "type": "string"
        },
        "completeTime": {
          "type": "string",
          "description": "Output only. The timestamp when the import job was completed.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the import job.",
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ],
          "type": "string",
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ]
        }
      }
    },
    "ListAssetsResponse": {
      "id": "ListAssetsResponse",
      "description": "Response message for listing assets.",
      "type": "object",
      "properties": {
        "assets": {
          "items": {
            "$ref": "Asset"
          },
          "type": "array",
          "description": "A list of assets."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "MySqlPlugin": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Required. The plugin is active."
        },
        "plugin": {
          "description": "Required. The plugin name.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Required. The plugin version."
        }
      },
      "type": "object",
      "id": "MySqlPlugin",
      "description": "MySql plugin."
    },
    "AggregateAssetsValuesRequest": {
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. The aggregation will be performed on assets that match the provided filter."
        },
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        },
        "aggregations": {
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined.",
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          }
        }
      },
      "id": "AggregateAssetsValuesRequest",
      "description": "A request to aggregate one or more values.",
      "type": "object"
    },
    "ImportRowErrorArchiveErrorDetails": {
      "id": "ImportRowErrorArchiveErrorDetails",
      "description": "Error details for an archive file.",
      "type": "object",
      "properties": {
        "filePath": {
          "type": "string",
          "description": "The file path inside the archive where the error was detected."
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        }
      }
    },
    "DatabasePreferencesCloudSqlSqlServer": {
      "type": "object",
      "id": "DatabasePreferencesCloudSqlSqlServer",
      "description": "Preferences for SQL Server on Cloud SQL.",
      "properties": {
        "common": {
          "$ref": "DatabasePreferencesCloudSqlCommon",
          "description": "Optional. Preferences to Cloud SQL databases."
        },
        "versionType": {
          "description": "Optional. Edition of Microsoft SQL version that is used on a Cloud SQL for SQL server instance.",
          "enumDescriptions": [
            "Unspecified SQL Server version type.",
            "Version will be deduced from the source asset.",
            "Version will be one of \"Express\" versions.",
            "Version will be one of \"Web\" versions.",
            "Version will be one of \"Standard\" versions.",
            "Version will be one of \"Enterprise\" versions."
          ],
          "type": "string",
          "enum": [
            "VERSION_TYPE_UNSPECIFIED",
            "VERSION_TYPE_AUTO",
            "VERSION_TYPE_EXPRESS",
            "VERSION_TYPE_WEB",
            "VERSION_TYPE_STANDARD",
            "VERSION_TYPE_ENTERPRISE"
          ]
        },
        "multithreading": {
          "type": "string",
          "enum": [
            "MULTITHREADING_UNSPECIFIED",
            "MULTITHREADING_DISABLED",
            "MULTITHREADING_ENABLED",
            "MULTITHREADING_DISABLED_WITH_COMPENSATION"
          ],
          "description": "Optional. Preferences for multithreading support.",
          "enumDescriptions": [
            "Same as MULTITHREADING_AUTO.",
            "Disable simultaneous multithreading.",
            "Enable simultaneous multithreading.",
            "Disable simultaneous multithreading and increase number of VCPUs to compensate."
          ]
        }
      }
    },
    "AssetsExportJobExecution": {
      "properties": {
        "result": {
          "description": "Output only. Result of the export execution.",
          "readOnly": true,
          "$ref": "AssetsExportJobExecutionResult"
        },
        "executionId": {
          "description": "Output only. Globally unique identifier of the execution.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. Execution timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Completion time of the export.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "requestedAssetCount": {
          "type": "integer",
          "description": "Output only. Number of assets requested for export after resolving the requested filters.",
          "readOnly": true,
          "format": "int32"
        },
        "expireTime": {
          "type": "string",
          "description": "Output only. Expiration time for the export and artifacts.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "AssetsExportJobExecution",
      "description": "Execution status of assets export job."
    },
    "MachineSeries": {
      "type": "object",
      "id": "MachineSeries",
      "description": "A machine series, for a target product (e.g. Compute Engine, Google Cloud VMware Engine).",
      "properties": {
        "code": {
          "description": "Code to identify a machine series. Consult this for more details on the available series for Compute Engine: https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison Consult this for more details on the available series for Google Cloud VMware Engine: https://cloud.google.com/vmware-engine/pricing",
          "type": "string"
        }
      }
    },
    "RemoveAssetsFromGroupRequest": {
      "id": "RemoveAssetsFromGroupRequest",
      "description": "A request to remove assets from a group.",
      "type": "object",
      "properties": {
        "assets": {
          "$ref": "AssetList",
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000."
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "AwsFirehoseDetails": {
      "type": "object",
      "id": "AwsFirehoseDetails",
      "description": "Contains details for an AWS Firehose asset.",
      "properties": {}
    },
    "ReportAssetFramesResponse": {
      "properties": {},
      "type": "object",
      "id": "ReportAssetFramesResponse",
      "description": "A response to a call to `ReportAssetFrame`."
    },
    "CloudDatabaseMigrationTarget": {
      "id": "CloudDatabaseMigrationTarget",
      "description": "Cloud database migration target.",
      "type": "object",
      "properties": {
        "cloudSqlShape": {
          "description": "Cloud SQL for SQL Server database shape.",
          "$ref": "CloudSqlForSqlServerShape"
        },
        "cloudSqlForMysqlShape": {
          "description": "Cloud SQL for MySQL database shape.",
          "$ref": "CloudSqlForMySqlShape"
        },
        "cloudSqlForPostgresqlShape": {
          "description": "Cloud SQL for PostgreSQL database shape.",
          "$ref": "CloudSqlForPostgreSqlShape"
        }
      }
    },
    "FstabEntry": {
      "properties": {
        "passno": {
          "format": "int32",
          "description": "Used by the fsck(8) program to determine the order in which filesystem checks are done at reboot time.",
          "type": "integer"
        },
        "spec": {
          "type": "string",
          "description": "The block special device or remote filesystem to be mounted."
        },
        "freq": {
          "type": "integer",
          "description": "Used by dump to determine which filesystems need to be dumped.",
          "format": "int32"
        },
        "file": {
          "type": "string",
          "description": "The mount point for the filesystem."
        },
        "vfstype": {
          "type": "string",
          "description": "The type of the filesystem."
        },
        "mntops": {
          "type": "string",
          "description": "Mount options associated with the filesystem."
        }
      },
      "type": "object",
      "id": "FstabEntry",
      "description": "Single fstab entry."
    },
    "ListImportDataFilesResponse": {
      "properties": {
        "importDataFiles": {
          "description": "The list of import data files.",
          "type": "array",
          "items": {
            "$ref": "ImportDataFile"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListImportDataFilesResponse",
      "description": "Response for listing payload files of an import job.",
      "type": "object"
    },
    "ValidationReport": {
      "type": "object",
      "id": "ValidationReport",
      "description": "A resource that aggregates errors across import job files.",
      "properties": {
        "fileValidations": {
          "description": "List of errors found in files.",
          "type": "array",
          "items": {
            "$ref": "FileValidationReport"
          }
        },
        "jobErrors": {
          "description": "List of job level errors.",
          "type": "array",
          "items": {
            "$ref": "ImportError"
          }
        }
      }
    },
    "OutputFileList": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "OutputFile"
          },
          "description": "List of output files.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "OutputFileList",
      "description": "Contains a list of output files."
    },
    "AssetsExportJobNetworkDependencies": {
      "properties": {},
      "type": "object",
      "id": "AssetsExportJobNetworkDependencies",
      "description": "Configuration for network dependencies exports."
    },
    "ImportRowErrorCsvErrorDetails": {
      "properties": {
        "rowNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The row number where the error was detected."
        }
      },
      "id": "ImportRowErrorCsvErrorDetails",
      "description": "Error details for a CSV file.",
      "type": "object"
    },
    "NetworkUsageSample": {
      "properties": {
        "averageIngressBps": {
          "format": "float",
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative.",
          "type": "number"
        },
        "averageEgressBps": {
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "NetworkUsageSample",
      "description": "Network usage sample. Values are across all network interfaces.",
      "type": "object"
    },
    "MachineDiskDetails": {
      "properties": {
        "totalCapacityBytes": {
          "description": "Disk total Capacity.",
          "type": "string",
          "format": "int64"
        },
        "disks": {
          "$ref": "DiskEntryList",
          "description": "List of disks."
        },
        "rawScanResult": {
          "description": "Raw disk scan result. This field is intended for human inspection. The format of this field may be lsblk output or any another raw output. The exact format may change without notice and should not be relied upon.",
          "type": "string"
        },
        "totalFreeBytes": {
          "type": "string",
          "description": "Total disk free space.",
          "format": "int64"
        }
      },
      "id": "MachineDiskDetails",
      "description": "Details of machine disks.",
      "type": "object"
    },
    "AwsNatGatewayDetails": {
      "properties": {},
      "type": "object",
      "id": "AwsNatGatewayDetails",
      "description": "Details of an AWS NAT Gateway."
    },
    "AssetsExportJobExportCondition": {
      "type": "object",
      "id": "AssetsExportJobExportCondition",
      "description": "Conditions for selecting assets to export.",
      "properties": {
        "filter": {
          "description": "Optional. Assets filter, supports the same syntax as asset listing.",
          "type": "string"
        }
      }
    },
    "ReportSummaryVMWareEngineFinding": {
      "id": "ReportSummaryVMWareEngineFinding",
      "description": "A set of findings that applies to assets destined for VMWare Engine.",
      "type": "object",
      "properties": {
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Count of assets which are allocated",
          "type": "string"
        },
        "allocatedRegions": {
          "description": "Set of regions in which the assets were allocated",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nodeAllocations": {
          "items": {
            "$ref": "ReportSummaryVMWareNodeAllocation"
          },
          "description": "Set of per-nodetype allocation records",
          "type": "array"
        }
      }
    },
    "NetworkConnection": {
      "type": "object",
      "id": "NetworkConnection",
      "properties": {
        "localPort": {
          "format": "int32",
          "description": "Local port.",
          "type": "integer"
        },
        "state": {
          "type": "string",
          "description": "Connection state (e.g. CONNECTED)."
        },
        "localIpAddress": {
          "description": "Local IP address.",
          "type": "string"
        },
        "remoteIpAddress": {
          "type": "string",
          "description": "Remote IP address."
        },
        "remotePort": {
          "description": "Remote port.",
          "type": "integer",
          "format": "int32"
        },
        "processName": {
          "type": "string",
          "description": "Process or service name."
        },
        "pid": {
          "format": "int64",
          "type": "string",
          "description": "Process ID."
        },
        "protocol": {
          "description": "Connection protocol (e.g. TCP/UDP).",
          "type": "string"
        }
      }
    },
    "OperatingSystemPricingPreferences": {
      "id": "OperatingSystemPricingPreferences",
      "description": "Pricing options for OS images.",
      "type": "object",
      "properties": {
        "sles": {
          "description": "Optional. Pricing options for SLES images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "slesForSap": {
          "description": "Optional. Pricing options for SLES for SAP images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "windows": {
          "description": "Optional. Pricing options for Windows images. No commitment plans are available, set it to unspecified.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "rhel": {
          "description": "Optional. Pricing options for RHEL images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        }
      }
    },
    "RunningProcess": {
      "type": "object",
      "id": "RunningProcess",
      "description": "Guest OS running process details.",
      "properties": {
        "cmdline": {
          "description": "Process full command line.",
          "type": "string"
        },
        "pid": {
          "type": "string",
          "description": "Process ID.",
          "format": "int64"
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Process extended attributes."
        },
        "user": {
          "description": "User running the process.",
          "type": "string"
        },
        "exePath": {
          "description": "Process binary path.",
          "type": "string"
        }
      }
    },
    "SoleTenancyPreferences": {
      "properties": {
        "nodeTypes": {
          "items": {
            "$ref": "SoleTenantNodeType"
          },
          "type": "array",
          "description": "A list of sole tenant node types. An empty list means that all possible node types will be considered."
        },
        "cpuOvercommitRatio": {
          "type": "number",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 2.0 inclusive.",
          "format": "double"
        },
        "hostMaintenancePolicy": {
          "type": "string",
          "enum": [
            "HOST_MAINTENANCE_POLICY_UNSPECIFIED",
            "HOST_MAINTENANCE_POLICY_DEFAULT",
            "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE",
            "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          ],
          "description": "Sole Tenancy nodes maintenance policy.",
          "enumDescriptions": [
            "Unspecified host maintenance policy.",
            "Default host maintenance policy.",
            "Restart in place host maintenance policy.",
            "Migrate within node group host maintenance policy."
          ]
        },
        "osPricingPreferences": {
          "$ref": "OperatingSystemPricingPreferences",
          "description": "Optional. Pricing options for OS images."
        },
        "commitmentPlan": {
          "type": "string",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR",
            "COMMITMENT_3_YEAR",
            "COMMITMENT_FLEXIBLE_1_YEAR",
            "COMMITMENT_FLEXIBLE_3_YEAR"
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ]
        }
      },
      "id": "SoleTenancyPreferences",
      "description": "Preferences concerning Sole Tenancy nodes and VMs.",
      "type": "object"
    },
    "VirtualMachinePreferences": {
      "id": "VirtualMachinePreferences",
      "description": "VirtualMachinePreferences enables you to create sets of preferences, for example, a geographical location and pricing track, for your migrated virtual machines. The set of preferences influence recommendations for migrating virtual machine assets.",
      "type": "object",
      "properties": {
        "sizingOptimizationCustomParameters": {
          "$ref": "VirtualMachinePreferencesSizingOptimizationCustomParameters",
          "description": "Optional. Custom data to use for sizing optimizations. Relevant when SizingOptimizationStrategy is set to \"custom\"."
        },
        "computeEnginePreferences": {
          "description": "Optional. Compute Engine preferences concern insights and recommendations for Compute Engine target.",
          "$ref": "ComputeEnginePreferences"
        },
        "vmwareEnginePreferences": {
          "description": "Preferences concerning insights and recommendations for Google Cloud VMware Engine.",
          "$ref": "VmwareEnginePreferences"
        },
        "regionPreferences": {
          "description": "Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If PreferenceSet.RegionPreferences is specified, it overrides this field.",
          "$ref": "RegionPreferences"
        },
        "soleTenancyPreferences": {
          "description": "Preferences concerning Sole Tenant nodes and virtual machines.",
          "$ref": "SoleTenancyPreferences"
        },
        "estimatedUsage": {
          "$ref": "EstimatedUsage",
          "description": "Optional. Estimated usage data for missing usage data. If performance data is available, it overrides this field. If not set, default values will be used for the usage data."
        },
        "sizingOptimizationStrategy": {
          "description": "Sizing optimization strategy specifies the preferred strategy used when extrapolating usage data to calculate insights and recommendations for a virtual machine. If you are unsure which value to set, a moderate sizing optimization strategy is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified (default value).",
            "No optimization applied. Virtual machine sizing matches as closely as possible the machine shape on the source site, not considering any actual performance data.",
            "Virtual machine sizing will match the reported usage and shape, with some slack. This a good value to start with.",
            "Virtual machine sizing will match the reported usage, with little slack. Using this option can help reduce costs.",
            "Virtual machine sizing will be determined by custom parameters. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "type": "string",
          "enum": [
            "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE",
            "SIZING_OPTIMIZATION_STRATEGY_MODERATE",
            "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE",
            "SIZING_OPTIMIZATION_STRATEGY_CUSTOM"
          ]
        },
        "networkCostParameters": {
          "$ref": "VirtualMachinePreferencesNetworkCostParameters",
          "description": "Optional. Parameters that affect network cost estimations. If not set, default values will be used for the parameters."
        },
        "targetProduct": {
          "type": "string",
          "enum": [
            "COMPUTE_MIGRATION_TARGET_PRODUCT_UNSPECIFIED",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_COMPUTE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_VMWARE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_SOLE_TENANCY"
          ],
          "description": "Target product for assets using this preference set. Specify either target product or business goal, but not both.",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Prefer to migrate to Google Cloud Compute Engine.",
            "Prefer to migrate to Google Cloud VMware Engine.",
            "Prefer to migrate to Google Cloud Sole Tenant Nodes."
          ]
        },
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "type": "string",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_NONE",
            "COMMITMENT_PLAN_ONE_YEAR",
            "COMMITMENT_PLAN_THREE_YEARS",
            "COMMITMENT_PLAN_FLEXIBLE_ONE_YEAR",
            "COMMITMENT_PLAN_FLEXIBLE_THREE_YEARS"
          ]
        }
      }
    },
    "Frames": {
      "properties": {
        "framesData": {
          "items": {
            "$ref": "AssetFrame"
          },
          "description": "A repeated field of asset data.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "Frames",
      "description": "Collection of frame data."
    },
    "ExecutionReport": {
      "properties": {
        "executionErrors": {
          "description": "Validation errors encountered during the execution of the import job.",
          "$ref": "ValidationReport"
        },
        "jobErrors": {
          "description": "List of job-level errors. Deprecated, use the job errors under execution_errors instead.",
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "ImportError"
          }
        },
        "framesReported": {
          "type": "integer",
          "description": "Total number of asset frames reported for the import job.",
          "format": "int32"
        },
        "totalRowsCount": {
          "description": "Total number of rows in the import job.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ExecutionReport",
      "description": "A resource that reports result of the import job execution.",
      "type": "object"
    },
    "MachineDetails": {
      "properties": {
        "network": {
          "description": "Network details.",
          "$ref": "MachineNetworkDetails"
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "architecture": {
          "$ref": "MachineArchitectureDetails",
          "description": "Architecture details (vendor, CPU architecture)."
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Machine creation time.",
          "type": "string"
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "platform": {
          "description": "Platform specific information.",
          "$ref": "PlatformDetails"
        },
        "powerState": {
          "type": "string",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ],
          "description": "Power state of the machine.",
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ]
        },
        "guestOs": {
          "$ref": "GuestOsDetails",
          "description": "Guest OS information."
        },
        "diskPartitions": {
          "$ref": "DiskPartitionDetails",
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks."
        },
        "coreCount": {
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "type": "integer",
          "format": "int32"
        },
        "memoryMb": {
          "format": "int32",
          "description": "The amount of memory in the machine. Must be non-negative.",
          "type": "integer"
        }
      },
      "id": "MachineDetails",
      "description": "Details of a machine.",
      "type": "object"
    },
    "ReportSummarySoleTenantFinding": {
      "type": "object",
      "id": "ReportSummarySoleTenantFinding",
      "description": "A set of findings that applies to assets destined for Sole-Tenant nodes.",
      "properties": {
        "allocatedAssetCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of assets which are allocated"
        },
        "allocatedRegions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Set of regions in which the assets are allocated"
        },
        "nodeAllocations": {
          "items": {
            "$ref": "ReportSummarySoleTenantNodeAllocation"
          },
          "type": "array",
          "description": "Set of per-nodetype allocation records"
        }
      }
    },
    "DatabasePreferencesCloudSqlMySql": {
      "properties": {
        "common": {
          "$ref": "DatabasePreferencesCloudSqlCommon",
          "description": "Optional. Preferences to Cloud SQL databases."
        }
      },
      "type": "object",
      "id": "DatabasePreferencesCloudSqlMySql",
      "description": "Preferences for MySQL on Cloud SQL."
    },
    "AwsEbsVolumeDetails": {
      "properties": {},
      "id": "AwsEbsVolumeDetails",
      "description": "Asset information specific for AWS EBS Volumes.",
      "type": "object"
    },
    "ImportError": {
      "properties": {
        "errorDetails": {
          "type": "string",
          "description": "The error information."
        },
        "severity": {
          "description": "The severity of the error.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        }
      },
      "type": "object",
      "id": "ImportError",
      "description": "A resource that reports the errors encountered while processing an import job."
    },
    "ReportSummaryDatabaseFinding": {
      "type": "object",
      "id": "ReportSummaryDatabaseFinding",
      "description": "DatabaseFinding contains an aggregate costs and shapes for a single database type.",
      "properties": {
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Output only. Number of database assets which were successfully assigned in this finding.",
          "readOnly": true,
          "type": "string"
        },
        "totalAssets": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Number of database assets in this finding.",
          "readOnly": true
        }
      }
    },
    "ImportRowErrorXlsxErrorDetails": {
      "properties": {
        "sheet": {
          "description": "The name of the sheet where the error was detected.",
          "type": "string"
        },
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "ImportRowErrorXlsxErrorDetails",
      "description": "Error details for an XLSX file."
    },
    "AwsEksClusterDetails": {
      "id": "AwsEksClusterDetails",
      "description": "Asset information specific for AWS EKS clusters.",
      "type": "object",
      "properties": {}
    },
    "PayloadFile": {
      "properties": {
        "data": {
          "description": "The file data.",
          "type": "string",
          "format": "byte"
        },
        "name": {
          "type": "string",
          "description": "The file name."
        }
      },
      "type": "object",
      "id": "PayloadFile",
      "description": "Payload file for inline import job payload."
    },
    "DailyResourceUsageAggregationStats": {
      "properties": {
        "median": {
          "format": "float",
          "type": "number",
          "description": "Median usage value."
        },
        "peak": {
          "format": "float",
          "type": "number",
          "description": "Peak usage value."
        },
        "average": {
          "format": "float",
          "description": "Average usage value.",
          "type": "number"
        },
        "ninteyFifthPercentile": {
          "format": "float",
          "description": "95th percentile usage value.",
          "type": "number"
        }
      },
      "id": "DailyResourceUsageAggregationStats",
      "description": "Statistical aggregation of samples for a single resource usage.",
      "type": "object"
    },
    "AwsElasticIpAddressDetails": {
      "properties": {},
      "type": "object",
      "id": "AwsElasticIpAddressDetails",
      "description": "Asset information specific for AWS Elastic IP Addresses."
    },
    "ReportConfig": {
      "id": "ReportConfig",
      "description": "The groups and associated preference sets on which we can generate reports.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Free-text description."
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of resource.",
          "readOnly": true,
          "type": "string"
        },
        "groupPreferencesetAssignments": {
          "type": "array",
          "description": "Required. Collection of combinations of groups and preference sets.",
          "items": {
            "$ref": "ReportConfigGroupPreferenceSetAssignment"
          }
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "MysqlDatabaseDeployment": {
      "id": "MysqlDatabaseDeployment",
      "description": "Specific details for a Mysql database deployment.",
      "type": "object",
      "properties": {
        "plugins": {
          "items": {
            "$ref": "MySqlPlugin"
          },
          "description": "Optional. List of MySql plugins.",
          "type": "array"
        },
        "resourceGroupsCount": {
          "description": "Optional. Number of resource groups.",
          "type": "integer",
          "format": "int32"
        },
        "variables": {
          "description": "Optional. List of MySql variables.",
          "type": "array",
          "items": {
            "$ref": "MySqlVariable"
          }
        },
        "properties": {
          "type": "array",
          "description": "Optional. List of MySql properties.",
          "items": {
            "$ref": "MySqlProperty"
          }
        }
      }
    },
    "ReportSummaryVMWareNodeAllocation": {
      "properties": {
        "vmwareNode": {
          "description": "VMWare node type, e.g. \"ve1-standard-72\"",
          "$ref": "ReportSummaryVMWareNode"
        },
        "nodeCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of this node type to be provisioned"
        },
        "allocatedAssetCount": {
          "description": "Count of assets allocated to these nodes",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ReportSummaryVMWareNodeAllocation",
      "description": "Represents assets allocated to a specific VMWare Node type.",
      "type": "object"
    },
    "PostgreSqlExtension": {
      "id": "PostgreSqlExtension",
      "description": "PostgreSql extension.",
      "type": "object",
      "properties": {
        "extension": {
          "type": "string",
          "description": "Required. The extension name."
        },
        "version": {
          "type": "string",
          "description": "Required. The extension version."
        }
      }
    },
    "AwsSnsTopicDetails": {
      "properties": {},
      "id": "AwsSnsTopicDetails",
      "description": "Asset information specific for AWS SNS Topics.",
      "type": "object"
    },
    "AwsLambdaFunctionDetails": {
      "id": "AwsLambdaFunctionDetails",
      "description": "Asset information specific for AWS Lambda functions.",
      "type": "object",
      "properties": {}
    },
    "DatabaseInstanceNetwork": {
      "type": "object",
      "id": "DatabaseInstanceNetwork",
      "description": "Network details of a database instance.",
      "properties": {
        "ipAddresses": {
          "type": "array",
          "description": "Optional. The instance's IP addresses.",
          "items": {
            "type": "string"
          }
        },
        "hostNames": {
          "description": "Optional. The instance's host names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "primaryMacAddress": {
          "description": "Optional. The instance's primary MAC address.",
          "type": "string"
        }
      }
    },
    "NfsExportList": {
      "properties": {
        "entries": {
          "type": "array",
          "description": "NFS export entries.",
          "items": {
            "$ref": "NfsExport"
          }
        }
      },
      "id": "NfsExportList",
      "description": "NFS exports.",
      "type": "object"
    },
    "AwsEcsClusterDetails": {
      "id": "AwsEcsClusterDetails",
      "description": "Details of an AWS ECS cluster.",
      "type": "object",
      "properties": {}
    },
    "AwsRds": {
      "id": "AwsRds",
      "description": "Specific details for an AWS RDS database deployment.",
      "type": "object",
      "properties": {}
    },
    "OutputFile": {
      "properties": {
        "fileSizeBytes": {
          "format": "int64",
          "description": "Output only. File size in bytes.",
          "readOnly": true,
          "type": "string"
        },
        "csvOutputFile": {
          "description": "Output only. CSV output file.",
          "readOnly": true,
          "$ref": "CsvOutputFile"
        },
        "xlsxOutputFile": {
          "description": "Output only. XLSX output file.",
          "readOnly": true,
          "$ref": "XlsxOutputFile"
        }
      },
      "type": "object",
      "id": "OutputFile",
      "description": "Contains a single output file."
    },
    "Issue": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Output only. English description of the issue.",
          "readOnly": true
        },
        "compatibilityIssue": {
          "$ref": "IssueCompatibilityIssue",
          "description": "Output only. Details about a compatibility issue.",
          "readOnly": true
        },
        "issueCode": {
          "description": "Output only. Unique identifier for this issue type.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Issue",
      "description": "An issue associated with a migration.",
      "type": "object"
    },
    "ReportExportJob": {
      "id": "ReportExportJob",
      "description": "Report export job message.",
      "type": "object",
      "properties": {
        "recentExecutions": {
          "description": "Output only. Recent not expired executions of the export report job.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ReportExportExecution"
          }
        },
        "name": {
          "description": "Output only. Identifier. Resource name.",
          "readOnly": true,
          "type": "string"
        },
        "signedUriDestination": {
          "description": "Export with a SignedUri.",
          "$ref": "SignedUriDestination"
        }
      }
    },
    "ReportSummaryGroupFinding": {
      "id": "ReportSummaryGroupFinding",
      "description": "Summary Findings for a specific Group.",
      "type": "object",
      "properties": {
        "assetAggregateStats": {
          "description": "Summary statistics for all the assets in this group.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "preferenceSetFindings": {
          "description": "Findings for each of the PreferenceSets for this group.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryGroupPreferenceSetFinding"
          }
        },
        "displayName": {
          "description": "Display Name for this group finding.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description for this group finding."
        },
        "databaseType": {
          "description": "Output only. Source asset database type for the group finding. Only present for databases.",
          "enumDescriptions": [
            "Unknown database type.",
            "SQL Server database.",
            "MySQL database.",
            "PostgreSQL database."
          ],
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "SQL_SERVER",
            "MYSQL",
            "POSTGRES"
          ],
          "readOnly": true
        },
        "overlappingAssetCount": {
          "format": "int64",
          "description": "This field is deprecated, do not rely on it having a value.",
          "deprecated": true,
          "type": "string"
        },
        "group": {
          "description": "Output only. Full name of the group.",
          "readOnly": true,
          "type": "string"
        },
        "assetType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "ASSET_TYPE_UNSPECIFIED",
            "VIRTUAL_MACHINE",
            "DATABASE"
          ],
          "description": "Output only. Asset type for the group finding.",
          "enumDescriptions": [
            "Unknown asset type.",
            "Virtual Machine asset type",
            "Database asset type"
          ]
        }
      }
    },
    "RunImportJobRequest": {
      "id": "RunImportJobRequest",
      "description": "A request to run an import job.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "ReportExportExecutionResult": {
      "id": "ReportExportExecutionResult",
      "description": "Contains the result of the report export.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "Output only. Error encountered during export.",
          "readOnly": true
        },
        "signedUris": {
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "readOnly": true,
          "$ref": "SignedUris"
        },
        "outputFiles": {
          "description": "Output only. List of output files.",
          "readOnly": true,
          "$ref": "OutputFileList"
        }
      }
    },
    "ComputeEngineSoleTenantMigrationTarget": {
      "type": "object",
      "id": "ComputeEngineSoleTenantMigrationTarget",
      "description": "Compute engine sole tenant migration target.",
      "properties": {}
    },
    "DiskPartitionDetails": {
      "properties": {
        "freeSpaceBytes": {
          "type": "string",
          "description": "Output only. Total free space of all partitions.",
          "readOnly": true,
          "format": "int64"
        },
        "totalCapacityBytes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Total capacity of all partitions.",
          "readOnly": true
        },
        "partitions": {
          "description": "Optional. List of partitions.",
          "$ref": "DiskPartitionList"
        }
      },
      "id": "DiskPartitionDetails",
      "description": "Disk partition details.",
      "type": "object"
    },
    "DetectedSoftware": {
      "id": "DetectedSoftware",
      "description": "Information about software detected on an asset.",
      "type": "object",
      "properties": {
        "softwareName": {
          "description": "Output only. Software's name.",
          "readOnly": true,
          "type": "string"
        },
        "softwareFamily": {
          "description": "Output only. Software family of the detected software, e.g. Database, SAP family.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AssetsExportJobPerformanceData": {
      "properties": {
        "maxDays": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used."
        }
      },
      "id": "AssetsExportJobPerformanceData",
      "description": "Configuration for performance data exports.",
      "type": "object"
    },
    "DateTime": {
      "properties": {
        "month": {
          "format": "int32",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "type": "integer"
        },
        "nanos": {
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "type": "integer",
          "format": "int32"
        },
        "utcOffset": {
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "type": "string",
          "format": "google-duration"
        },
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
        },
        "year": {
          "format": "int32",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "type": "integer"
        },
        "seconds": {
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "TimeZone"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
        },
        "hours": {
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "DateTime",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations."
    },
    "AddAssetsToGroupRequest": {
      "id": "AddAssetsToGroupRequest",
      "description": "A request to add assets to a group.",
      "type": "object",
      "properties": {
        "assets": {
          "$ref": "AssetList",
          "description": "Required. List of assets to be added. The maximum number of assets that can be added in a single request is 2000."
        },
        "allowExisting": {
          "description": "Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "RunningProcessList": {
      "properties": {
        "processes": {
          "items": {
            "$ref": "RunningProcess"
          },
          "type": "array",
          "description": "Running process entries."
        },
        "entries": {
          "items": {
            "$ref": "RunningProcess"
          },
          "type": "array",
          "description": "Running process entries."
        }
      },
      "type": "object",
      "id": "RunningProcessList",
      "description": "List of running guest OS processes."
    },
    "AssetPerformanceData": {
      "properties": {
        "dailyResourceUsageAggregations": {
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          },
          "type": "array",
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent."
        }
      },
      "type": "object",
      "id": "AssetPerformanceData",
      "description": "Performance data for an asset."
    },
    "ReportSummaryHistogramChartDataBucket": {
      "properties": {
        "count": {
          "format": "int64",
          "description": "Count of items in the bucket.",
          "type": "string"
        },
        "upperBound": {
          "format": "int64",
          "description": "Upper bound - exclusive.",
          "type": "string"
        },
        "lowerBound": {
          "type": "string",
          "description": "Lower bound - inclusive.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "ReportSummaryHistogramChartDataBucket",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity."
    },
    "CsvOutputFile": {
      "properties": {
        "columnsCount": {
          "format": "int32",
          "description": "Output only. Number of columns in the file.",
          "readOnly": true,
          "type": "integer"
        },
        "rowCount": {
          "type": "integer",
          "description": "Output only. Number of rows in the file.",
          "readOnly": true,
          "format": "int32"
        },
        "signedUri": {
          "$ref": "SignedUri",
          "description": "Output only. Signed URI destination.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "CsvOutputFile",
      "description": "Contains a single output file of type CSV."
    },
    "SendDiscoveryClientHeartbeatRequest": {
      "type": "object",
      "id": "SendDiscoveryClientHeartbeatRequest",
      "description": "A request to send a discovery client heartbeat.",
      "properties": {
        "version": {
          "description": "Optional. Client application version.",
          "type": "string"
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "description": "Optional. Errors affecting client functionality.",
          "type": "array"
        }
      }
    },
    "PostgreSqlDatabaseDeployment": {
      "properties": {
        "properties": {
          "items": {
            "$ref": "PostgreSqlProperty"
          },
          "description": "Optional. List of PostgreSql properties.",
          "type": "array"
        },
        "settings": {
          "type": "array",
          "description": "Optional. List of PostgreSql settings.",
          "items": {
            "$ref": "PostgreSqlSetting"
          }
        }
      },
      "type": "object",
      "id": "PostgreSqlDatabaseDeployment",
      "description": "Specific details for a PostgreSQL database deployment."
    },
    "ErrorFrame": {
      "type": "object",
      "id": "ErrorFrame",
      "description": "Message representing a frame which failed to be processed due to an error.",
      "properties": {
        "violations": {
          "items": {
            "$ref": "FrameViolationEntry"
          },
          "type": "array",
          "description": "Output only. All the violations that were detected for the frame.",
          "readOnly": true
        },
        "ingestionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Frame ingestion time.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The identifier of the ErrorFrame.",
          "readOnly": true
        },
        "originalFrame": {
          "description": "Output only. The frame that was originally reported.",
          "readOnly": true,
          "$ref": "AssetFrame"
        }
      }
    },
    "NetworkAdapterDetails": {
      "type": "object",
      "id": "NetworkAdapterDetails",
      "description": "Details of network adapter.",
      "properties": {
        "adapterType": {
          "type": "string",
          "description": "Network adapter type (e.g. VMXNET3)."
        },
        "macAddress": {
          "type": "string",
          "description": "MAC address."
        },
        "addresses": {
          "description": "NetworkAddressList",
          "$ref": "NetworkAddressList"
        }
      }
    },
    "CascadingRule": {
      "properties": {
        "cascadeLogicalDbs": {
          "description": "Cascading rule for related logical DBs.",
          "$ref": "CascadeLogicalDBsRule"
        }
      },
      "id": "CascadingRule",
      "description": "Specifies cascading rules for traversing relations.",
      "type": "object"
    },
    "MachineArchitectureDetails": {
      "properties": {
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "cpuSocketCount": {
          "format": "int32",
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer"
        },
        "bios": {
          "$ref": "BiosDetails",
          "description": "BIOS Details."
        },
        "firmwareType": {
          "type": "string",
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ],
          "description": "Firmware type.",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ]
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "CPU hyper-threading support.",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ],
          "type": "string",
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "cpuManufacturer": {
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        }
      },
      "id": "MachineArchitectureDetails",
      "description": "Details of the machine architecture.",
      "type": "object"
    },
    "DatabaseDeploymentDetailsAggregatedStats": {
      "properties": {
        "databaseCount": {
          "format": "int32",
          "description": "Output only. The number of databases in the deployment.",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "DatabaseDeploymentDetailsAggregatedStats",
      "description": "Aggregated stats for the database deployment.",
      "type": "object"
    },
    "InlinePayloadInfo": {
      "properties": {
        "payload": {
          "description": "List of payload files.",
          "type": "array",
          "items": {
            "$ref": "PayloadFile"
          }
        },
        "format": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "description": "The import job format.",
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ]
        }
      },
      "type": "object",
      "id": "InlinePayloadInfo",
      "description": "A resource that represents the inline import job payload."
    },
    "Report": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. Last update timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "summary": {
          "$ref": "ReportSummary",
          "description": "Output only. Summary view of the Report.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of resource.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Report creation state.",
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ]
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ],
          "description": "Report type.",
          "enumDescriptions": [
            "Default report type.",
            "Total cost of ownership report type."
          ]
        }
      },
      "id": "Report",
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "type": "object"
    },
    "ReportSummarySoleTenantNodeAllocation": {
      "properties": {
        "node": {
          "$ref": "SoleTenantNodeType",
          "description": "Sole Tenant node type, e.g. \"m3-node-128-3904\""
        },
        "nodeCount": {
          "format": "int64",
          "description": "Count of this node type to be provisioned",
          "type": "string"
        },
        "allocatedAssetCount": {
          "description": "Count of assets allocated to these nodes",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ReportSummarySoleTenantNodeAllocation",
      "description": "Represents the assets allocated to a specific Sole-Tenant node type.",
      "type": "object"
    },
    "FrameViolationEntry": {
      "properties": {
        "field": {
          "description": "The field of the original frame where the violation occurred.",
          "type": "string"
        },
        "violation": {
          "type": "string",
          "description": "A message describing the violation."
        }
      },
      "id": "FrameViolationEntry",
      "description": "A resource that contains a single violation of a reported `AssetFrame` resource.",
      "type": "object"
    },
    "Relation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The identifier of the relation.",
          "readOnly": true
        },
        "dstAsset": {
          "type": "string",
          "description": "Output only. The destination asset name in the relation.",
          "readOnly": true
        },
        "srcAsset": {
          "description": "Output only. The source asset name in the relation.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "LOGICAL_DATABASE",
            "DATABASE_DEPLOYMENT_HOSTING_SERVER"
          ],
          "description": "Optional. The type of the relation.",
          "enumDescriptions": [
            "Default value.",
            "DBDeployment -> Database",
            "A relation between a machine/VM and the database deployment it hosts."
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the relation was created.",
          "readOnly": true
        }
      },
      "id": "Relation",
      "description": "Message representing a relation between 2 resource.",
      "type": "object"
    },
    "AggregateAssetsValuesResponse": {
      "properties": {
        "results": {
          "description": "The aggregation results.",
          "type": "array",
          "items": {
            "$ref": "AggregationResult"
          }
        }
      },
      "type": "object",
      "id": "AggregateAssetsValuesResponse",
      "description": "A response to a request to aggregated assets values."
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "AssetList": {
      "type": "object",
      "id": "AssetList",
      "description": "Lists the asset IDs of all assets.",
      "properties": {
        "assetIds": {
          "description": "Required. A list of asset IDs",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ReportConfigGroupPreferenceSetAssignment": {
      "type": "object",
      "id": "ReportConfigGroupPreferenceSetAssignment",
      "description": "Represents a combination of a group with a preference set.",
      "properties": {
        "group": {
          "description": "Required. Name of the group.",
          "type": "string"
        },
        "preferenceSet": {
          "description": "Required. Name of the Preference Set.",
          "type": "string"
        }
      }
    },
    "SignedUri": {
      "properties": {
        "file": {
          "description": "Output only. Name of the file the Signed URI references.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Output only. Download URI for the file.",
          "readOnly": true
        }
      },
      "id": "SignedUri",
      "description": "Contains a signed URI.",
      "type": "object"
    },
    "MachinePreferences": {
      "id": "MachinePreferences",
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations for Compute Engine. Not all machine types are available in all zones and regions.",
      "type": "object",
      "properties": {
        "allowedMachineSeries": {
          "items": {
            "$ref": "MachineSeries"
          },
          "type": "array",
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series."
        }
      }
    },
    "ValidateImportJobRequest": {
      "id": "ValidateImportJobRequest",
      "description": "A request to validate an import job.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "ComputeEnginePreferences": {
      "properties": {
        "persistentDiskType": {
          "type": "string",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "description": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data.",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ]
        },
        "machinePreferences": {
          "$ref": "MachinePreferences",
          "description": "Preferences concerning the machine types to consider on Compute Engine."
        },
        "multithreading": {
          "type": "string",
          "enum": [
            "MULTITHREADING_UNSPECIFIED",
            "MULTITHREADING_DISABLED",
            "MULTITHREADING_ENABLED",
            "MULTITHREADING_DISABLED_WITH_COMPENSATION"
          ],
          "description": "Optional. Preferences for multithreading support on Windows Server.",
          "enumDescriptions": [
            "Same as MULTITHREADING_AUTO.",
            "Disable simultaneous multithreading.",
            "Enable simultaneous multithreading.",
            "Disable simultaneous multithreading and increase number of VCPUs to compensate."
          ]
        },
        "licenseType": {
          "type": "string",
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ],
          "description": "License type to consider when calculating costs for operating systems. If unspecified, costs are calculated based on the default licensing plan. If os_pricing_preferences is specified, it overrides this field.",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the license."
          ]
        },
        "osPricingPreferences": {
          "description": "Optional. Pricing options for OS images.",
          "$ref": "OperatingSystemPricingPreferences"
        }
      },
      "id": "ComputeEnginePreferences",
      "description": "The user preferences relating to Compute Engine target platform.",
      "type": "object"
    },
    "Asset": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the asset was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "awsApiGatewayRestApiDetails": {
          "description": "Output only. Asset information specific for AWS API Gateway REST APIs.",
          "readOnly": true,
          "$ref": "AwsApiGatewayRestApiDetails"
        },
        "insightList": {
          "description": "Output only. The list of insights associated with the asset.",
          "readOnly": true,
          "$ref": "InsightList"
        },
        "structuredAttributes": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Generic structured asset attributes.",
          "type": "object"
        },
        "awsDynamodbTableDetails": {
          "$ref": "AwsDynamoDBTableDetails",
          "description": "Output only. Asset information specific for AWS DynamoDB tables.",
          "readOnly": true
        },
        "awsAppSyncGraphqlApiDetails": {
          "$ref": "AwsAppSyncGraphqlApiDetails",
          "description": "Output only. Asset information specific for AWS AppSync GraphQL APIs.",
          "readOnly": true
        },
        "awsInternetGatewayDetails": {
          "$ref": "AwsInternetGatewayDetails",
          "description": "Output only. Asset information specific for AWS Internet Gateways.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The full name of the asset.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sources": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of sources contributing to the asset.",
          "readOnly": true
        },
        "awsElasticacheClusterDetails": {
          "$ref": "AwsElastiCacheClusterDetails",
          "description": "Output only. Asset information specific for AWS ElastiCache Clusters.",
          "readOnly": true
        },
        "awsEfsFileSystemDetails": {
          "$ref": "AwsEfsFileSystemDetails",
          "description": "Output only. Asset information specific for AWS EFS file systems.",
          "readOnly": true
        },
        "awsS3BucketDetails": {
          "description": "Output only. Asset information specific for AWS S3 buckets.",
          "readOnly": true,
          "$ref": "AwsS3BucketDetails"
        },
        "virtualMachineDetails": {
          "description": "Output only. Asset information specific for virtual machines.",
          "readOnly": true,
          "$ref": "VirtualMachineDetails"
        },
        "awsElbLoadBalancerDetails": {
          "$ref": "AwsElbLoadBalancerDetails",
          "description": "Output only. Asset information specific for AWS Load Balancers.",
          "readOnly": true
        },
        "awsEbsVolumeDetails": {
          "description": "Output only. Asset information specific for AWS EBS Volumes.",
          "readOnly": true,
          "$ref": "AwsEbsVolumeDetails"
        },
        "attributes": {
          "type": "object",
          "description": "Generic asset attributes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "awsVpcDetails": {
          "description": "Output only. Asset information specific for AWS VPCs.",
          "readOnly": true,
          "$ref": "AwsVpcDetails"
        },
        "awsBatchComputeEnvironmentDetails": {
          "description": "Output only. Asset information specific for AWS Batch Compute Environments.",
          "readOnly": true,
          "$ref": "AwsBatchComputeEnvironmentDetails"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the asset was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "awsEcrRepositoryDetails": {
          "$ref": "AwsEcrRepositoryDetails",
          "description": "Output only. Asset information specific for AwsEcrRepositoryDetails",
          "readOnly": true
        },
        "awsLambdaFunctionDetails": {
          "description": "Output only. Asset information specific for AWS Lambda functions.",
          "readOnly": true,
          "$ref": "AwsLambdaFunctionDetails"
        },
        "awsKinesisStreamDetails": {
          "$ref": "AwsKinesisStreamDetails",
          "description": "Output only. Asset information specific for AwsKinesisStreamDetails",
          "readOnly": true
        },
        "awsElasticNetworkInterfaceDetails": {
          "$ref": "AwsElasticNetworkInterfaceDetails",
          "description": "Output only. Asset information specific for AWS Elastic Network Interfaces.",
          "readOnly": true
        },
        "performanceData": {
          "$ref": "AssetPerformanceData",
          "description": "Performance data for the asset."
        },
        "hideReason": {
          "description": "Optional. An optional reason for marking this asset as hidden.",
          "type": "string"
        },
        "hideTime": {
          "type": "string",
          "description": "Output only. The timestamp when the asset was marked as hidden.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "awsRoute53HostedZoneDetails": {
          "description": "Output only. Asset information specific for AwsRoute53HostedZoneDetails",
          "readOnly": true,
          "$ref": "AwsRoute53HostedZoneDetails"
        },
        "awsGlueJobDetails": {
          "description": "Output only. Asset information specific for AwsGlueJobDetails",
          "readOnly": true,
          "$ref": "AwsGlueJobDetails"
        },
        "title": {
          "type": "string",
          "description": "Output only. Server generated human readable name of the asset.",
          "readOnly": true
        },
        "awsAthenaWorkGroupDetails": {
          "description": "Output only. Asset information specific for AwsAthenaWorkGroupDetails",
          "readOnly": true,
          "$ref": "AwsAthenaWorkGroupDetails"
        },
        "awsAutoscalingGroupDetails": {
          "$ref": "AwsAutoscalingGroupDetails",
          "description": "Output only. Asset information specific for AwsAutoscalingGroupDetails",
          "readOnly": true
        },
        "awsApplicationLoadBalancerDetails": {
          "$ref": "AwsApplicationLoadBalancerDetails",
          "description": "Output only. Asset information specific for AWS Application Load Balancers.",
          "readOnly": true
        },
        "databaseDeploymentDetails": {
          "description": "Output only. Asset information specific for database deployments.",
          "readOnly": true,
          "$ref": "DatabaseDeploymentDetails"
        },
        "awsFirehoseDetails": {
          "description": "Output only. Asset information specific for AwsFirehoseDetails",
          "readOnly": true,
          "$ref": "AwsFirehoseDetails"
        },
        "hidden": {
          "type": "boolean",
          "description": "Optional. Indicates if the asset is hidden."
        },
        "awsEmrClusterDetails": {
          "description": "Output only. Asset information specific for AwsEmrClusterDetails",
          "readOnly": true,
          "$ref": "AwsEmrClusterDetails"
        },
        "hostingProviderDetails": {
          "description": "Output only. Details about the hosting provider of the asset.",
          "readOnly": true,
          "$ref": "HostingProviderDetails"
        },
        "machineDetails": {
          "$ref": "MachineDetails",
          "description": "Output only. Asset information specific for virtual machines.",
          "readOnly": true
        },
        "assignedGroups": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of groups that the asset is assigned to.",
          "readOnly": true
        },
        "awsCloudFrontDistributionDetails": {
          "$ref": "AwsCloudFrontDistributionDetails",
          "description": "Output only. Asset information specific for AWS CloudFront distributions.",
          "readOnly": true
        },
        "awsRedshiftDetails": {
          "$ref": "AwsRedshiftDetails",
          "description": "Output only. Asset information specific for AWS Redshift",
          "readOnly": true
        },
        "awsEksClusterDetails": {
          "$ref": "AwsEksClusterDetails",
          "description": "Output only. Asset information specific for AWS EKS clusters.",
          "readOnly": true
        },
        "awsSnsTopicDetails": {
          "$ref": "AwsSnsTopicDetails",
          "description": "Output only. Asset information specific for AWS SNS Topics.",
          "readOnly": true
        },
        "awsNatGatewayDetails": {
          "description": "Output only. Asset information specific for AwsNatGatewayDetails",
          "readOnly": true,
          "$ref": "AwsNatGatewayDetails"
        },
        "awsElasticIpAddressDetails": {
          "description": "Output only. Asset information specific for AWS Elastic IP Addresses.",
          "readOnly": true,
          "$ref": "AwsElasticIpAddressDetails"
        },
        "databaseDetails": {
          "description": "Output only. Asset information specific for logical databases.",
          "readOnly": true,
          "$ref": "DatabaseDetails"
        },
        "awsEcsClusterDetails": {
          "description": "Output only. Asset information specific for AWS ECS clusters.",
          "readOnly": true,
          "$ref": "AwsEcsClusterDetails"
        }
      },
      "id": "Asset",
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases.",
      "type": "object"
    },
    "SqlServerServerFlag": {
      "type": "object",
      "id": "SqlServerServerFlag",
      "description": "SQL Server server flag details.",
      "properties": {
        "serverFlagName": {
          "description": "Required. The server flag name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. The server flag value set by the user."
        },
        "valueInUse": {
          "description": "Required. The server flag actual value. If `value_in_use` is different from `value` it means that either the configuration change was not applied or it is an expected behavior. See SQL Server documentation for more details.",
          "type": "string"
        }
      }
    },
    "AssetsExportJob": {
      "id": "AssetsExportJob",
      "description": "Assets export job message.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Resource creation time.",
          "readOnly": true
        },
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "networkDependencies": {
          "description": "Export data regarding asset network dependencies.",
          "$ref": "AssetsExportJobNetworkDependencies"
        },
        "recentExecutions": {
          "items": {
            "$ref": "AssetsExportJobExecution"
          },
          "description": "Output only. Recent non expired executions of the job.",
          "readOnly": true,
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Resource update time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "signedUriDestination": {
          "$ref": "SignedUriDestination",
          "description": "Export to Cloud Storage files downloadable using signed URIs."
        },
        "name": {
          "description": "Output only. Identifier. Resource name.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object"
        },
        "inventory": {
          "description": "Export asset inventory details.",
          "$ref": "AssetsExportJobInventory"
        },
        "condition": {
          "$ref": "AssetsExportJobExportCondition",
          "description": "Optional. Conditions for selecting assets to export."
        },
        "performanceData": {
          "description": "Export asset with performance data.",
          "$ref": "AssetsExportJobPerformanceData"
        }
      }
    },
    "MySqlStorageEngineDetails": {
      "type": "object",
      "id": "MySqlStorageEngineDetails",
      "description": "Mysql storage engine tables.",
      "properties": {
        "engine": {
          "type": "string",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ],
          "description": "Required. The storage engine.",
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ]
        },
        "encryptedTableCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of encrypted tables."
        },
        "tableCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of tables."
        }
      }
    },
    "SoleTenantNodeType": {
      "id": "SoleTenantNodeType",
      "description": "A Sole Tenant node type.",
      "type": "object",
      "properties": {
        "nodeName": {
          "description": "Name of the Sole Tenant node. Consult https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "ComputeEngineMigrationTarget": {
      "type": "object",
      "id": "ComputeEngineMigrationTarget",
      "description": "Compute engine migration target.",
      "properties": {
        "shape": {
          "description": "Description of the suggested shape for the migration target.",
          "$ref": "ComputeEngineShapeDescriptor"
        }
      }
    },
    "IssueCompatibilityIssue": {
      "properties": {
        "associatedValue": {
          "description": "Output only. A string representation of actual value associated with this issue. Some values may contain aggregated information, such as a flag name and the actual value assigned to it.",
          "readOnly": true,
          "type": "string"
        },
        "category": {
          "type": "string",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "DATABASE_FLAG",
            "DATABASE_FEATURE"
          ],
          "description": "Output only. Category of this compatibility issue.",
          "enumDescriptions": [
            "An unspecified compatibility category.",
            "Database flag compatibility category.",
            "Database feature compatibility category."
          ],
          "readOnly": true
        },
        "associatedObjectType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "DATABASE_DEPLOYMENT",
            "DATABASE",
            "SCHEMA"
          ],
          "description": "Output only. Type of object associated with this migration compatibility issue.",
          "enumDescriptions": [
            "An unspecified object type.",
            "A database deployment object type.",
            "A logical database object type.",
            "A schema object type."
          ]
        },
        "associatedObject": {
          "type": "string",
          "description": "Output only. Name of the object associated with this compatibility issue relative to the relevant asset. Does not represent a fully qualified resource name and is not intended for programmatic use.",
          "readOnly": true
        }
      },
      "id": "IssueCompatibilityIssue",
      "description": "Details about a compatibility issue.",
      "type": "object"
    },
    "Source": {
      "type": "object",
      "id": "Source",
      "description": "Source represents an object from which asset information is streamed to Migration Center.",
      "properties": {
        "state": {
          "description": "Output only. The state of the source.",
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ],
          "type": "string",
          "enum": [
[...]
