{
  "discoveryVersion": "v1",
  "version": "v1",
  "batchPath": "batch",
  "title": "Migration Center API",
  "schemas": {
    "ReportSummaryUtilizationChartData": {
      "id": "ReportSummaryUtilizationChartData",
      "type": "object",
      "properties": {
        "used": {
          "format": "int64",
          "type": "string",
          "description": "Aggregate value which falls into the \"Used\" bucket."
        },
        "free": {
          "description": "Aggregate value which falls into the \"Free\" bucket.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets."
    },
    "NetworkAdapterDetails": {
      "description": "Details of network adapter.",
      "id": "NetworkAdapterDetails",
      "type": "object",
      "properties": {
        "adapterType": {
          "description": "Network adapter type (e.g. VMXNET3).",
          "type": "string"
        },
        "macAddress": {
          "type": "string",
          "description": "MAC address."
        },
        "addresses": {
          "description": "NetworkAddressList",
          "$ref": "NetworkAddressList"
        }
      }
    },
    "Relation": {
      "id": "Relation",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The identifier of the relation.",
          "readOnly": true
        },
        "srcAsset": {
          "readOnly": true,
          "description": "Output only. The source asset name in the relation.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the relation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "dstAsset": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The destination asset name in the relation."
        },
        "type": {
          "type": "string",
          "description": "Optional. The type of the relation.",
          "enumDescriptions": [
            "Default value.",
            "DBDeployment -> Database",
            "A relation between a machine/VM and the database deployment it hosts."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "LOGICAL_DATABASE",
            "DATABASE_DEPLOYMENT_HOSTING_SERVER"
          ]
        }
      },
      "description": "Message representing a relation between 2 resource."
    },
    "DiskEntryList": {
      "description": "VM disks.",
      "id": "DiskEntryList",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "DiskEntry"
          },
          "description": "Disk entries."
        }
      }
    },
    "ComputeEnginePreferences": {
      "description": "The user preferences relating to Compute Engine target platform.",
      "id": "ComputeEnginePreferences",
      "type": "object",
      "properties": {
        "machinePreferences": {
          "description": "Preferences concerning the machine types to consider on Compute Engine.",
          "$ref": "MachinePreferences"
        },
        "persistentDiskType": {
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "description": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data.",
          "type": "string"
        },
        "licenseType": {
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the OS license."
          ],
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ],
          "description": "License type to consider when calculating costs for virtual machine insights and recommendations. If unspecified, costs are calculated based on the default licensing plan.",
          "type": "string"
        }
      }
    },
    "DiskPartitionList": {
      "description": "Disk partition list.",
      "id": "DiskPartitionList",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "DiskPartition"
          },
          "description": "Partition entries."
        }
      }
    },
    "Report": {
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "id": "Report",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Report creation state.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of resource.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation timestamp."
        },
        "description": {
          "type": "string",
          "description": "Free-text description."
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Last update timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "type": {
          "description": "Report type.",
          "type": "string",
          "enumDescriptions": [
            "Default Report type.",
            "Total cost of ownership Report type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ]
        },
        "summary": {
          "description": "Output only. Summary view of the Report.",
          "$ref": "ReportSummary",
          "readOnly": true
        }
      }
    },
    "ReportSummaryHistogramChartDataBucket": {
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "id": "ReportSummaryHistogramChartDataBucket",
      "type": "object",
      "properties": {
        "lowerBound": {
          "format": "int64",
          "description": "Lower bound - inclusive.",
          "type": "string"
        },
        "upperBound": {
          "type": "string",
          "description": "Upper bound - exclusive.",
          "format": "int64"
        },
        "count": {
          "description": "Count of items in the bucket.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ListAssetsExportJobsResponse": {
      "id": "ListAssetsExportJobsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token identifying a page of results the server should return.",
          "type": "string"
        },
        "assetsExportJobs": {
          "readOnly": true,
          "description": "Output only. The list of assets export jobs.",
          "type": "array",
          "items": {
            "$ref": "AssetsExportJob"
          }
        }
      },
      "description": "Response message for listing assets export jobs."
    },
    "PostgreSqlDatabaseDeployment": {
      "id": "PostgreSqlDatabaseDeployment",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Optional. List of PostgreSql properties.",
          "type": "array",
          "items": {
            "$ref": "PostgreSqlProperty"
          }
        },
        "settings": {
          "type": "array",
          "items": {
            "$ref": "PostgreSqlSetting"
          },
          "description": "Optional. List of PostgreSql settings."
        }
      },
      "description": "Specific details for a PostgreSQL database deployment."
    },
    "OutputFileList": {
      "id": "OutputFileList",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "OutputFile"
          },
          "description": "Output only. List of output files.",
          "readOnly": true
        }
      },
      "description": "Contains a list of output files."
    },
    "ComputeEngineMigrationTarget": {
      "id": "ComputeEngineMigrationTarget",
      "type": "object",
      "properties": {
        "shape": {
          "description": "Description of the suggested shape for the migration target.",
          "$ref": "ComputeEngineShapeDescriptor"
        }
      },
      "description": "Compute engine migration target."
    },
    "VmwareEnginePreferences": {
      "id": "VmwareEnginePreferences",
      "type": "object",
      "properties": {
        "cpuOvercommitRatio": {
          "format": "double",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment.",
          "type": "number"
        },
        "commitmentPlan": {
          "type": "string",
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment)."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT"
          ]
        },
        "memoryOvercommitRatio": {
          "format": "double",
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0.",
          "type": "number"
        },
        "storageDeduplicationCompressionRatio": {
          "type": "number",
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0.",
          "format": "double"
        }
      },
      "description": "The user preferences relating to Google Cloud VMware Engine target platform."
    },
    "DatabaseSchema": {
      "description": "Details of a database schema.",
      "id": "DatabaseSchema",
      "type": "object",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "DatabaseObjects"
          },
          "description": "Optional. List of details of objects by category."
        },
        "schemaName": {
          "type": "string",
          "description": "Required. The name of the schema."
        },
        "tablesSizeBytes": {
          "format": "int64",
          "description": "Optional. The total size of tables in bytes.",
          "type": "string"
        },
        "postgresql": {
          "description": "Optional. Details of a PostgreSql schema.",
          "$ref": "PostgreSqlSchemaDetails"
        },
        "mysql": {
          "description": "Optional. Details of a Mysql schema.",
          "$ref": "MySqlSchemaDetails"
        },
        "sqlServer": {
          "description": "Optional. Details of a SqlServer schema.",
          "$ref": "SqlServerSchemaDetails"
        }
      }
    },
    "FstabEntry": {
      "id": "FstabEntry",
      "type": "object",
      "properties": {
        "freq": {
          "description": "Used by dump to determine which filesystems need to be dumped.",
          "type": "integer",
          "format": "int32"
        },
        "passno": {
          "format": "int32",
          "description": "Used by the fsck(8) program to determine the order in which filesystem checks are done at reboot time.",
          "type": "integer"
        },
        "file": {
          "type": "string",
          "description": "The mount point for the filesystem."
        },
        "spec": {
          "type": "string",
          "description": "The block special device or remote filesystem to be mounted."
        },
        "vfstype": {
          "type": "string",
          "description": "The type of the filesystem."
        },
        "mntops": {
          "description": "Mount options associated with the filesystem.",
          "type": "string"
        }
      },
      "description": "Single fstab entry."
    },
    "NetworkAdapterList": {
      "id": "NetworkAdapterList",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "NetworkAdapterDetails"
          },
          "description": "Network adapter entries."
        }
      },
      "description": "List of network adapters."
    },
    "AwsEc2PlatformDetails": {
      "id": "AwsEc2PlatformDetails",
      "type": "object",
      "properties": {
        "machineTypeLabel": {
          "type": "string",
          "description": "AWS platform's machine type label."
        },
        "location": {
          "description": "The location of the machine in the AWS format.",
          "type": "string"
        },
        "hyperthreading": {
          "type": "string",
          "description": "Optional. Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        }
      },
      "description": "AWS EC2 specific details."
    },
    "PostgreSqlSchemaDetails": {
      "id": "PostgreSqlSchemaDetails",
      "type": "object",
      "properties": {
        "postgresqlExtensions": {
          "description": "Optional. PostgreSql extensions.",
          "type": "array",
          "items": {
            "$ref": "PostgreSqlExtension"
          }
        },
        "foreignTablesCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. PostgreSql foreign tables."
        }
      },
      "description": "Specific details for a PostgreSql schema."
    },
    "BatchUpdateAssetsResponse": {
      "id": "BatchUpdateAssetsResponse",
      "type": "object",
      "properties": {
        "assets": {
          "type": "array",
          "items": {
            "$ref": "Asset"
          },
          "description": "Update asset content. The content only includes values after field mask being applied."
        }
      },
      "description": "Response for updating a list of assets."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "DatabaseInstanceNetwork": {
      "id": "DatabaseInstanceNetwork",
      "type": "object",
      "properties": {
        "primaryMacAddress": {
          "description": "Optional. The instance's primary MAC address.",
          "type": "string"
        },
        "hostNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The instance's host names."
        },
        "ipAddresses": {
          "description": "Optional. The instance's IP addresses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Network details of a database instance."
    },
    "CsvOutputFile": {
      "id": "CsvOutputFile",
      "type": "object",
      "properties": {
        "signedUri": {
          "description": "Output only. Signed URI destination.",
          "$ref": "SignedUri",
          "readOnly": true
        },
        "columnsCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of columns in the file."
        },
        "rowCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of rows in the file."
        }
      },
      "description": "Contains a single output file of type CSV."
    },
    "ComputeStorageDescriptor": {
      "id": "ComputeStorageDescriptor",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "readOnly": true,
          "description": "Output only. Disk type backing the storage.",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ]
        },
        "sizeGb": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Disk size in GiB.",
          "type": "integer"
        }
      },
      "description": "Compute Engine storage option descriptor."
    },
    "ListRelationsResponse": {
      "id": "ListRelationsResponse",
      "type": "object",
      "properties": {
        "relations": {
          "description": "A list of relations.",
          "type": "array",
          "items": {
            "$ref": "Relation"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Response message for listing relations."
    },
    "Settings": {
      "id": "Settings",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the resource."
        },
        "disableCloudLogging": {
          "type": "boolean",
          "description": "Disable Cloud Logging for the Migration Center API. Users are billed for the logs."
        },
        "preferenceSet": {
          "type": "string",
          "description": "The preference set used by default for a project."
        }
      },
      "description": "Describes the Migration Center settings related to the project."
    },
    "ReportSummary": {
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report.",
      "id": "ReportSummary",
      "type": "object",
      "properties": {
        "allAssetsStats": {
          "description": "Aggregate statistics for all the assets across all the groups.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "groupFindings": {
          "description": "Findings for each Group included in this report.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          }
        }
      }
    },
    "GuestInstalledApplicationList": {
      "description": "Guest installed application list.",
      "id": "GuestInstalledApplicationList",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "GuestInstalledApplication"
          },
          "description": "Application entries."
        }
      }
    },
    "MemoryUsageSample": {
      "description": "Memory usage sample.",
      "id": "MemoryUsageSample",
      "type": "object",
      "properties": {
        "utilizedPercentage": {
          "type": "number",
          "description": "Percentage of system memory utilized. Must be in the interval [0, 100].",
          "format": "float"
        }
      }
    },
    "GuestConfigDetails": {
      "description": "Guest OS config information.",
      "id": "GuestConfigDetails",
      "type": "object",
      "properties": {
        "fstab": {
          "description": "Mount list (Linux fstab).",
          "$ref": "FstabEntryList"
        },
        "issue": {
          "type": "string",
          "description": "OS issue (typically /etc/issue in Linux)."
        },
        "selinuxMode": {
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ],
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ],
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "type": "string"
        },
        "hosts": {
          "description": "Hosts file (/etc/hosts).",
          "$ref": "HostsEntryList"
        },
        "nfsExports": {
          "description": "NFS exports.",
          "$ref": "NfsExportList"
        }
      }
    },
    "RunningService": {
      "description": "Guest OS running service details.",
      "id": "RunningService",
      "type": "object",
      "properties": {
        "serviceName": {
          "type": "string",
          "description": "Service name."
        },
        "cmdline": {
          "type": "string",
          "description": "Service command line."
        },
        "state": {
          "type": "string",
          "description": "Service state (OS-agnostic).",
          "enumDescriptions": [
            "Service state unspecified.",
            "Service is active.",
            "Service is paused.",
            "Service is stopped."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "STOPPED"
          ]
        },
        "startMode": {
          "enumDescriptions": [
            "Start mode unspecified.",
            "The service is a device driver started by the system loader.",
            "The service is a device driver started by the IOInitSystem function.",
            "The service is started by the operating system, at system start-up",
            "The service is started only manually, by a user.",
            "The service is disabled."
          ],
          "enum": [
            "START_MODE_UNSPECIFIED",
            "BOOT",
            "SYSTEM",
            "AUTO",
            "MANUAL",
            "DISABLED"
          ],
          "description": "Service start mode (OS-agnostic).",
          "type": "string"
        },
        "exePath": {
          "type": "string",
          "description": "Service binary path."
        },
        "pid": {
          "type": "string",
          "description": "Service pid.",
          "format": "int64"
        }
      }
    },
    "ReportSummarySoleTenantNodeAllocation": {
      "description": "Represents the assets allocated to a specific Sole-Tenant node type.",
      "id": "ReportSummarySoleTenantNodeAllocation",
      "type": "object",
      "properties": {
        "nodeCount": {
          "type": "string",
          "description": "Count of this node type to be provisioned",
          "format": "int64"
        },
        "node": {
          "description": "Sole Tenant node type, e.g. \"m3-node-128-3904\"",
          "$ref": "SoleTenantNodeType"
        },
        "allocatedAssetCount": {
          "description": "Count of assets allocated to these nodes",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ListDiscoveryClientsResponse": {
      "description": "Response message for listing discovery clients.",
      "id": "ListDiscoveryClientsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "discoveryClients": {
          "type": "array",
          "items": {
            "$ref": "DiscoveryClient"
          },
          "description": "List of discovery clients."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "UpdateAssetRequest": {
      "id": "UpdateAssetRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. Field mask is used to specify the fields to be overwritten in the `Asset` resource by the update. The values specified in the `update_mask` field are relative to the resource, not the full request. A field will be overwritten if it is in the mask. A single * value in the mask lets you to overwrite all fields.",
          "type": "string"
        },
        "asset": {
          "description": "Required. The resource being updated.",
          "$ref": "Asset"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "A request to update an asset."
    },
    "ReportSummaryChartData": {
      "id": "ReportSummaryChartData",
      "type": "object",
      "properties": {
        "dataPoints": {
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          }
        }
      },
      "description": "Describes a collection of data points rendered as a Chart."
    },
    "AssetsExportJobNetworkDependencies": {
      "description": "Configuration for network dependencies exports.",
      "id": "AssetsExportJobNetworkDependencies",
      "type": "object",
      "properties": {}
    },
    "SignedUriDestination": {
      "description": "Signed URI destination configuration.",
      "id": "SignedUriDestination",
      "type": "object",
      "properties": {
        "fileFormat": {
          "description": "Required. The file format to export.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
            "XLSX file format which used in Excel."
          ],
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        }
      }
    },
    "MachineDetails": {
      "description": "Details of a machine.",
      "id": "MachineDetails",
      "type": "object",
      "properties": {
        "architecture": {
          "description": "Architecture details (vendor, CPU architecture).",
          "$ref": "MachineArchitectureDetails"
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "memoryMb": {
          "description": "The amount of memory in the machine. Must be non-negative.",
          "type": "integer",
          "format": "int32"
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ],
          "type": "string",
          "description": "Power state of the machine."
        },
        "network": {
          "description": "Network details.",
          "$ref": "MachineNetworkDetails"
        },
        "createTime": {
          "type": "string",
          "description": "Machine creation time.",
          "format": "google-datetime"
        },
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "coreCount": {
          "format": "int32",
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "type": "integer"
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        },
        "platform": {
          "description": "Platform specific information.",
          "$ref": "PlatformDetails"
        }
      }
    },
    "MySqlVariable": {
      "description": "MySql variable.",
      "id": "MySqlVariable",
      "type": "object",
      "properties": {
        "variable": {
          "description": "Required. The variable name.",
          "type": "string"
        },
        "category": {
          "description": "Required. The variable category.",
          "type": "string"
        },
        "value": {
          "description": "Required. The variable value.",
          "type": "string"
        }
      }
    },
    "DiskUsageSample": {
      "id": "DiskUsageSample",
      "type": "object",
      "properties": {
        "averageIops": {
          "format": "float",
          "type": "number",
          "description": "Optional. Average IOPS sampled over a short window. Must be non-negative. If read or write are set, the sum of read and write will override the value of the average_iops."
        },
        "averageReadIops": {
          "format": "float",
          "description": "Optional. Average read IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "type": "number"
        },
        "averageWriteIops": {
          "type": "number",
          "description": "Optional. Average write IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "format": "float"
        }
      },
      "description": "Disk usage sample. Values are across all disks."
    },
    "InsightList": {
      "description": "Message containing insights list.",
      "id": "InsightList",
      "type": "object",
      "properties": {
        "insights": {
          "description": "Output only. Insights of the list.",
          "type": "array",
          "items": {
            "$ref": "Insight"
          },
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Update timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "AggregateAssetsValuesRequest": {
      "id": "AggregateAssetsValuesRequest",
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. The aggregation will be performed on assets that match the provided filter."
        },
        "aggregations": {
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          },
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined."
        },
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        }
      },
      "description": "A request to aggregate one or more values."
    },
    "DatabaseDeploymentDetails": {
      "id": "DatabaseDeploymentDetails",
      "type": "object",
      "properties": {
        "topology": {
          "description": "Optional. Details of the database deployment topology.",
          "$ref": "DatabaseDeploymentTopology"
        },
        "edition": {
          "description": "Optional. The database deployment edition.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. The database deployment version."
        },
        "mysql": {
          "description": "Optional. Details of a MYSQL database deployment.",
          "$ref": "MysqlDatabaseDeployment"
        },
        "aggregatedStats": {
          "description": "Output only. Aggregated stats for the database deployment.",
          "$ref": "DatabaseDeploymentDetailsAggregatedStats",
          "readOnly": true
        },
        "postgresql": {
          "description": "Optional. Details of a PostgreSQL database deployment.",
          "$ref": "PostgreSqlDatabaseDeployment"
        },
        "sqlServer": {
          "description": "Optional. Details of a Microsoft SQL Server database deployment.",
          "$ref": "SqlServerDatabaseDeployment"
        },
        "generatedId": {
          "description": "Optional. The database deployment generated ID.",
          "type": "string"
        },
        "awsRds": {
          "description": "Optional. Details of an AWS RDS instance.",
          "$ref": "AwsRds"
        },
        "manualUniqueId": {
          "type": "string",
          "description": "Optional. A manual unique ID set by the user."
        }
      },
      "description": "The details of a database deployment asset."
    },
    "MysqlDatabaseDeployment": {
      "id": "MysqlDatabaseDeployment",
      "type": "object",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "MySqlProperty"
          },
          "description": "Optional. List of MySql properties."
        },
        "plugins": {
          "type": "array",
          "items": {
            "$ref": "MySqlPlugin"
          },
          "description": "Optional. List of MySql plugins."
        },
        "resourceGroupsCount": {
          "type": "integer",
          "description": "Optional. Number of resource groups.",
          "format": "int32"
        },
        "variables": {
          "type": "array",
          "items": {
            "$ref": "MySqlVariable"
          },
          "description": "Optional. List of MySql variables."
        }
      },
      "description": "Specific details for a Mysql database deployment."
    },
    "ValidateImportJobRequest": {
      "description": "A request to validate an import job.",
      "id": "ValidateImportJobRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "SqlServerDatabaseDeployment": {
      "id": "SqlServerDatabaseDeployment",
      "type": "object",
      "properties": {
        "serverFlags": {
          "description": "Optional. List of SQL Server server flags.",
          "type": "array",
          "items": {
            "$ref": "SqlServerServerFlag"
          }
        },
        "features": {
          "type": "array",
          "items": {
            "$ref": "SqlServerFeature"
          },
          "description": "Optional. List of SQL Server features."
        },
        "traceFlags": {
          "description": "Optional. List of SQL Server trace flags.",
          "type": "array",
          "items": {
            "$ref": "SqlServerTraceFlag"
          }
        }
      },
      "description": "Specific details for a Microsoft SQL Server database deployment."
    },
    "DailyResourceUsageAggregationDisk": {
      "description": "Statistical aggregation of disk usage.",
      "id": "DailyResourceUsageAggregationDisk",
      "type": "object",
      "properties": {
        "iops": {
          "description": "Optional. Disk I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "writeIops": {
          "description": "Optional. Disk write I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "readIops": {
          "description": "Optional. Disk read I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      }
    },
    "MySqlStorageEngineDetails": {
      "id": "MySqlStorageEngineDetails",
      "type": "object",
      "properties": {
        "tableCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of tables."
        },
        "encryptedTableCount": {
          "description": "Optional. The number of encrypted tables.",
          "type": "integer",
          "format": "int32"
        },
        "engine": {
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ],
          "description": "Required. The storage engine.",
          "type": "string"
        }
      },
      "description": "Mysql storage engine tables."
    },
    "MySqlPlugin": {
      "id": "MySqlPlugin",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Required. The plugin version."
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The plugin is active."
        },
        "plugin": {
          "type": "string",
          "description": "Required. The plugin name."
        }
      },
      "description": "MySql plugin."
    },
    "AggregationResultSum": {
      "id": "AggregationResultSum",
      "type": "object",
      "properties": {
        "value": {
          "type": "number",
          "format": "double"
        }
      },
      "description": "The result of a sum aggregation."
    },
    "GenericPlatformDetails": {
      "description": "Generic platform details.",
      "id": "GenericPlatformDetails",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different VMs in the same location may have different string values for this field."
        },
        "hyperthreading": {
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string",
          "description": "Whether the machine is hyperthreaded."
        }
      }
    },
    "MachinePreferences": {
      "id": "MachinePreferences",
      "type": "object",
      "properties": {
        "allowedMachineSeries": {
          "type": "array",
          "items": {
            "$ref": "MachineSeries"
          },
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series."
        }
      },
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations. Not all machine types are available in all zones and regions."
    },
    "FrameViolationEntry": {
      "description": "A resource that contains a single violation of a reported `AssetFrame` resource.",
      "id": "FrameViolationEntry",
      "type": "object",
      "properties": {
        "field": {
          "type": "string",
          "description": "The field of the original frame where the violation occurred."
        },
        "violation": {
          "type": "string",
          "description": "A message describing the violation."
        }
      }
    },
    "Insight": {
      "description": "An insight about an asset.",
      "id": "Insight",
      "type": "object",
      "properties": {
        "genericInsight": {
          "readOnly": true,
          "description": "Output only. A generic insight about an asset.",
          "$ref": "GenericInsight"
        },
        "migrationInsight": {
          "description": "Output only. An insight about potential migrations for an asset.",
          "$ref": "MigrationInsight",
          "readOnly": true
        }
      }
    },
    "PreferenceSet": {
      "description": "The preferences that apply to all assets in a given context.",
      "id": "PreferenceSet",
      "type": "object",
      "properties": {
        "virtualMachinePreferences": {
          "description": "Optional. A set of preferences that applies to all virtual machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the preference set was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the preference set.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the preference set was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "A description of the preference set."
        }
      }
    },
    "ReportSummarySoleTenantFinding": {
      "id": "ReportSummarySoleTenantFinding",
      "type": "object",
      "properties": {
        "allocatedAssetCount": {
          "description": "Count of assets which are allocated",
          "type": "string",
          "format": "int64"
        },
        "nodeAllocations": {
          "type": "array",
          "items": {
            "$ref": "ReportSummarySoleTenantNodeAllocation"
          },
          "description": "Set of per-nodetype allocation records"
        },
        "allocatedRegions": {
          "description": "Set of regions in which the assets are allocated",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A set of findings that applies to assets destined for Sole-Tenant nodes."
    },
    "GuestOsDetails": {
      "id": "GuestOsDetails",
      "type": "object",
      "properties": {
        "family": {
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ],
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ],
          "description": "What family the OS belong to, if known.",
          "type": "string"
        },
        "version": {
          "description": "The version of the operating system.",
          "type": "string"
        },
        "runtime": {
          "description": "Runtime information.",
          "$ref": "GuestRuntimeDetails"
        },
        "config": {
          "description": "OS and app configuration.",
          "$ref": "GuestConfigDetails"
        },
        "osName": {
          "type": "string",
          "description": "The name of the operating system."
        }
      },
      "description": "Information from Guest-level collections."
    },
    "PerformanceSample": {
      "id": "PerformanceSample",
      "type": "object",
      "properties": {
        "network": {
          "description": "Network usage sample.",
          "$ref": "NetworkUsageSample"
        },
        "sampleTime": {
          "format": "google-datetime",
          "description": "Time the sample was collected. If omitted, the frame report time will be used.",
          "type": "string"
        },
        "disk": {
          "description": "Disk usage sample.",
          "$ref": "DiskUsageSample"
        },
        "cpu": {
          "description": "CPU usage sample.",
          "$ref": "CpuUsageSample"
        },
        "memory": {
          "description": "Memory usage sample.",
          "$ref": "MemoryUsageSample"
        }
      },
      "description": "Performance data sample."
    },
    "RunAssetsExportJobResponse": {
      "description": "Response message for running an assets export job.",
      "id": "RunAssetsExportJobResponse",
      "type": "object",
      "properties": {
        "assetsExportJobExecution": {
          "readOnly": true,
          "description": "Output only. Execution status of the assets export operation.",
          "$ref": "AssetsExportJobExecution"
        }
      }
    },
    "AzureVmPlatformDetails": {
      "description": "Azure VM specific details.",
      "id": "AzureVmPlatformDetails",
      "type": "object",
      "properties": {
        "machineTypeLabel": {
          "type": "string",
          "description": "Azure platform's machine type label."
        },
        "provisioningState": {
          "description": "Azure platform's provisioning state.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The location of the machine in the Azure format."
        },
        "hyperthreading": {
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Whether the machine is hyperthreaded.",
          "type": "string"
        }
      }
    },
    "AssetList": {
      "id": "AssetList",
      "type": "object",
      "properties": {
        "assetIds": {
          "description": "Required. A list of asset IDs",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Lists the asset IDs of all assets."
    },
    "MigrationInsight": {
      "id": "MigrationInsight",
      "type": "object",
      "properties": {
        "fit": {
          "readOnly": true,
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration.",
          "$ref": "FitDescriptor"
        },
        "computeEngineTarget": {
          "description": "Output only. A Google Compute Engine target.",
          "$ref": "ComputeEngineMigrationTarget",
          "readOnly": true
        }
      },
      "description": "An insight about potential migrations for an asset."
    },
    "AssetsExportJobInventory": {
      "description": "Configuration for asset inventory details exports.",
      "id": "AssetsExportJobInventory",
      "type": "object",
      "properties": {}
    },
    "AssetPerformanceData": {
      "id": "AssetPerformanceData",
      "type": "object",
      "properties": {
        "dailyResourceUsageAggregations": {
          "type": "array",
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          },
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent."
        }
      },
      "description": "Performance data for an asset."
    },
    "ListErrorFramesResponse": {
      "description": "A response for listing error frames.",
      "id": "ListErrorFramesResponse",
      "type": "object",
      "properties": {
        "errorFrames": {
          "type": "array",
          "items": {
            "$ref": "ErrorFrame"
          },
          "description": "The list of error frames."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "ImportRowError": {
      "description": "A resource that reports the import job errors at row level.",
      "id": "ImportRowError",
      "type": "object",
      "properties": {
        "xlsxError": {
          "description": "Error details for an XLSX file.",
          "$ref": "ImportRowErrorXlsxErrorDetails"
        },
        "rowNumber": {
          "format": "int32",
          "deprecated": true,
          "type": "integer",
          "description": "The row number where the error was detected."
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        },
        "vmUuid": {
          "type": "string",
          "description": "The VM UUID."
        },
        "assetTitle": {
          "type": "string",
          "description": "Output only. The asset title.",
          "readOnly": true
        },
        "archiveError": {
          "description": "Error details for an archive file.",
          "$ref": "ImportRowErrorArchiveErrorDetails"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ImportError"
          },
          "description": "The list of errors detected in the row."
        },
        "vmName": {
          "description": "The name of the VM in the row.",
          "type": "string"
        }
      }
    },
    "ReportSummaryGroupPreferenceSetFinding": {
      "id": "ReportSummaryGroupPreferenceSetFinding",
      "type": "object",
      "properties": {
        "monthlyCostCompute": {
          "description": "Compute monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostOsLicense": {
          "description": "Licensing monthly cost for this preference set.",
          "$ref": "Money"
        },
        "machinePreferences": {
          "description": "A set of preferences that applies to all machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "monthlyCostOther": {
          "description": "Miscellaneous monthly cost for this preference set.",
          "$ref": "Money"
        },
        "description": {
          "description": "Description for the Preference Set.",
          "type": "string"
        },
        "monthlyCostTotal": {
          "description": "Total monthly cost for this preference set.",
          "$ref": "Money"
        },
        "computeEngineFinding": {
          "description": "A set of findings that applies to Compute Engine machines in the input.",
          "$ref": "ReportSummaryComputeEngineFinding"
        },
        "displayName": {
          "type": "string",
          "description": "Display Name of the Preference Set"
        },
        "soleTenantFinding": {
          "description": "A set of findings that applies to Sole-Tenant machines in the input.",
          "$ref": "ReportSummarySoleTenantFinding"
        },
        "monthlyCostNetworkEgress": {
          "description": "Network Egress monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostStorage": {
          "description": "Storage monthly cost for this preference set.",
          "$ref": "Money"
        },
        "vmwareEngineFinding": {
          "description": "A set of findings that applies to VMWare machines in the input.",
          "$ref": "ReportSummaryVmwareEngineFinding"
        }
      },
      "description": "Summary Findings for a specific Group/PreferenceSet combination."
    },
    "ComputeEngineShapeDescriptor": {
      "description": "Compute Engine target shape descriptor.",
      "id": "ComputeEngineShapeDescriptor",
      "type": "object",
      "properties": {
        "logicalCoreCount": {
          "type": "integer",
          "description": "Output only. Number of logical cores.",
          "readOnly": true,
          "format": "int32"
        },
        "memoryMb": {
          "description": "Memory in mebibytes.",
          "type": "integer",
          "format": "int32"
        },
        "physicalCoreCount": {
          "format": "int32",
          "description": "Number of physical cores.",
          "type": "integer"
        },
        "machineType": {
          "readOnly": true,
          "description": "Output only. Compute Engine machine type.",
          "type": "string"
        },
        "series": {
          "readOnly": true,
          "description": "Output only. Compute Engine machine series.",
          "type": "string"
        },
        "storage": {
          "description": "Output only. Compute Engine storage. Never empty.",
          "type": "array",
          "items": {
            "$ref": "ComputeStorageDescriptor"
          },
          "readOnly": true
        }
      }
    },
    "AggregationResultFrequency": {
      "description": "The result of a frequency distribution aggregation.",
      "id": "AggregationResultFrequency",
      "type": "object",
      "properties": {
        "values": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "BatchUpdateAssetsRequest": {
      "description": "A request to update a list of assets.",
      "id": "BatchUpdateAssetsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.",
          "type": "array",
          "items": {
            "$ref": "UpdateAssetRequest"
          }
        }
      }
    },
    "MySqlProperty": {
      "description": "MySql property.",
      "id": "MySqlProperty",
      "type": "object",
      "properties": {
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "numericValue": {
          "format": "int64",
          "type": "string",
          "description": "Required. The property numeric value."
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The property is enabled."
        }
      }
    },
    "AssetsExportJobPerformanceData": {
      "description": "Configuration for performance data exports.",
      "id": "AssetsExportJobPerformanceData",
      "type": "object",
      "properties": {
        "maxDays": {
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DatabaseObjects": {
      "id": "DatabaseObjects",
      "type": "object",
      "properties": {
        "category": {
          "enumDescriptions": [
            "Unspecified type.",
            "Table.",
            "Index.",
            "Constraints.",
            "Views.",
            "Source code, e.g. procedures.",
            "Uncategorized objects."
          ],
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "TABLE",
            "INDEX",
            "CONSTRAINTS",
            "VIEWS",
            "SOURCE_CODE",
            "OTHER"
          ],
          "description": "Optional. The category of the objects.",
          "type": "string"
        },
        "count": {
          "type": "string",
          "description": "Optional. The number of objects.",
          "format": "int64"
        }
      },
      "description": "Details of a group of database objects."
    },
    "ImportRowErrorArchiveErrorDetails": {
      "description": "Error details for an archive file.",
      "id": "ImportRowErrorArchiveErrorDetails",
      "type": "object",
      "properties": {
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        },
        "filePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The file path inside the archive where the error was detected."
        }
      }
    },
    "DiskPartitionDetails": {
      "description": "Disk partition details.",
      "id": "DiskPartitionDetails",
      "type": "object",
      "properties": {
        "partitions": {
          "description": "Optional. List of partitions.",
          "$ref": "DiskPartitionList"
        },
        "totalCapacityBytes": {
          "type": "string",
          "description": "Output only. Total capacity of all partitions.",
          "readOnly": true,
          "format": "int64"
        },
        "freeSpaceBytes": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Total free space of all partitions.",
          "type": "string"
        }
      }
    },
    "VirtualMachinePreferences": {
      "description": "VirtualMachinePreferences enables you to create sets of assumptions, for example, a geographical location and pricing track, for your migrated virtual machines. The set of preferences influence recommendations for migrating virtual machine assets.",
      "id": "VirtualMachinePreferences",
      "type": "object",
      "properties": {
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1 year commitment.",
            "3 years commitment."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_NONE",
            "COMMITMENT_PLAN_ONE_YEAR",
            "COMMITMENT_PLAN_THREE_YEARS"
          ]
        },
        "sizingOptimizationStrategy": {
          "type": "string",
          "description": "Sizing optimization strategy specifies the preferred strategy used when extrapolating usage data to calculate insights and recommendations for a virtual machine. If you are unsure which value to set, a moderate sizing optimization strategy is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified (default value).",
            "No optimization applied. Virtual machine sizing matches as closely as possible the machine shape on the source site, not considering any actual performance data.",
            "Virtual machine sizing will match the reported usage and shape, with some slack. This a good value to start with.",
            "Virtual machine sizing will match the reported usage, with little slack. Using this option can help reduce costs."
          ],
          "enum": [
            "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE",
            "SIZING_OPTIMIZATION_STRATEGY_MODERATE",
            "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE"
          ]
        },
        "targetProduct": {
          "type": "string",
          "description": "Target product for assets using this preference set. Specify either target product or business goal, but not both.",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Prefer to migrate to Google Cloud Compute Engine.",
            "Prefer to migrate to Google Cloud VMware Engine.6278",
            "Prefer to migrate to Google Cloud Sole Tenant Nodes."
          ],
          "enum": [
            "COMPUTE_MIGRATION_TARGET_PRODUCT_UNSPECIFIED",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_COMPUTE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_VMWARE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_SOLE_TENANCY"
          ]
        },
        "soleTenancyPreferences": {
          "description": "Preferences concerning Sole Tenant nodes and virtual machines.",
          "$ref": "SoleTenancyPreferences"
        },
        "regionPreferences": {
          "description": "Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with.",
          "$ref": "RegionPreferences"
        },
        "vmwareEnginePreferences": {
          "description": "Preferences concerning insights and recommendations for Google Cloud VMware Engine.",
          "$ref": "VmwareEnginePreferences"
        },
        "computeEnginePreferences": {
          "description": "Compute Engine preferences concern insights and recommendations for Compute Engine target.",
          "$ref": "ComputeEnginePreferences"
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ImportJob": {
      "description": "A resource that represents the background job that imports asset frames.",
      "id": "ImportJob",
      "type": "object",
      "properties": {
        "validationReport": {
          "description": "Output only. The report with the validation results of the import job.",
          "$ref": "ValidationReport",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The timestamp when the import job was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "executionReport": {
          "description": "Output only. The report with the results of running the import job.",
          "$ref": "ExecutionReport",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp when the import job was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ],
          "readOnly": true,
          "description": "Output only. The state of the import job.",
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ]
        },
        "completeTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the import job was completed."
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 256 characters.",
          "type": "string"
        },
        "assetSource": {
          "description": "Required. Reference to a source.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The full name of the import job.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GenericInsight": {
      "description": "A generic insight about an asset.",
      "id": "GenericInsight",
      "type": "object",
      "properties": {
        "additionalInformation": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Additional information about the insight, each entry can be a logical entry and must make sense if it is displayed with line breaks between each entry. Text can contain md style links.",
          "readOnly": true
        },
        "messageId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Represents a globally unique message id for this insight, can be used for localization purposes, in case message_code is not yet known by the client use default_message instead."
        },
        "defaultMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. In case message_code is not yet known by the client default_message will be the message to be used instead."
        }
      }
    },
    "ReportConfig": {
      "description": "The groups and associated preference sets on which we can generate reports.",
      "id": "ReportConfig",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Name of resource.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        },
        "description": {
          "type": "string",
          "description": "Free-text description."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated."
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "groupPreferencesetAssignments": {
          "description": "Required. Collection of combinations of groups and preference sets.",
          "type": "array",
          "items": {
            "$ref": "ReportConfigGroupPreferenceSetAssignment"
          }
        }
      }
    },
    "MachineDiskDetails": {
      "id": "MachineDiskDetails",
      "type": "object",
      "properties": {
        "totalCapacityBytes": {
          "format": "int64",
          "type": "string",
          "description": "Disk total Capacity."
        },
        "totalFreeBytes": {
          "description": "Total disk free space.",
          "type": "string",
          "format": "int64"
        },
        "disks": {
          "description": "List of disks.",
          "$ref": "DiskEntryList"
        }
      },
      "description": "Details of machine disks."
    },
    "HostsEntryList": {
      "description": "Hosts content.",
      "id": "HostsEntryList",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Hosts entries.",
          "type": "array",
          "items": {
            "$ref": "HostsEntry"
          }
        }
      }
    },
    "FstabEntryList": {
      "id": "FstabEntryList",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Fstab entries.",
          "type": "array",
          "items": {
            "$ref": "FstabEntry"
          }
        }
      },
      "description": "Fstab content."
    },
    "NetworkUsageSample": {
      "description": "Network usage sample. Values are across all network interfaces.",
      "id": "NetworkUsageSample",
      "type": "object",
      "properties": {
        "averageIngressBps": {
          "type": "number",
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative.",
          "format": "float"
        },
        "averageEgressBps": {
          "type": "number",
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative.",
          "format": "float"
        }
      }
    },
    "AssetsExportJobExecutionResult": {
      "description": "Contains the result of the assets export.",
      "id": "AssetsExportJobExecutionResult",
      "type": "object",
      "properties": {
        "signedUris": {
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "$ref": "SignedUris",
          "readOnly": true
        },
        "outputFiles": {
          "description": "Output only. List of output files.",
          "$ref": "OutputFileList",
          "readOnly": true
        },
        "error": {
          "description": "Output only. Error encountered during export.",
          "$ref": "Status",
          "readOnly": true
        }
      }
    },
    "OpenFileDetails": {
      "id": "OpenFileDetails",
      "type": "object",
      "properties": {
        "command": {
          "type": "string",
          "description": "Opened file command."
        },
        "user": {
          "type": "string",
          "description": "Opened file user."
        },
        "filePath": {
          "description": "Opened file file path.",
          "type": "string"
        },
        "fileType": {
          "description": "Opened file file type.",
          "type": "string"
        }
      },
      "description": "Open file Information."
    },
    "CascadingRule": {
      "description": "Specifies cascading rules for traversing relations.",
      "id": "CascadingRule",
      "type": "object",
      "properties": {
        "cascadeLogicalDbs": {
          "description": "Cascading rule for related logical DBs.",
          "$ref": "CascadeLogicalDBsRule"
        }
      }
    },
    "RunningServiceList": {
      "description": "List of running guest OS services.",
      "id": "RunningServiceList",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Running service entries.",
          "type": "array",
          "items": {
            "$ref": "RunningService"
          }
        }
      }
    },
    "NetworkConnectionList": {
      "description": "Network connection list.",
      "id": "NetworkConnectionList",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Network connection entries.",
          "type": "array",
          "items": {
            "$ref": "NetworkConnection"
          }
        }
      }
    },
    "ReportSummaryAssetAggregateStats": {
      "description": "Aggregate statistics for a collection of assets.",
      "id": "ReportSummaryAssetAggregateStats",
      "type": "object",
      "properties": {
        "softwareInstances": {
          "description": "Output only. Count of assets grouped by software name. Only present for virtual machines.",
          "$ref": "ReportSummaryChartData",
          "readOnly": true
        },
        "coreCountHistogram": {
          "description": "Histogram showing a distribution of logical CPU core counts.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "memoryUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "storageBytesHistogram": {
          "description": "Histogram showing a distribution of storage sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "totalMemoryBytes": {
          "format": "int64",
          "type": "string",
          "description": "Sum of the memory in bytes of all the assets in this collection."
        },
        "totalAssets": {
          "format": "int64",
          "type": "string",
          "description": "Count of the number of unique assets in this collection."
        },
        "storageUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "operatingSystem": {
          "description": "Count of assets grouped by Operating System families.",
          "$ref": "ReportSummaryChartData"
        },
        "totalCores": {
          "description": "Sum of the CPU core count of all the assets in this collection.",
          "type": "string",
          "format": "int64"
        },
        "totalStorageBytes": {
          "description": "Sum of persistent storage in bytes of all the assets in this collection.",
          "type": "string",
          "format": "int64"
        },
        "memoryBytesHistogram": {
          "description": "Histogram showing a distribution of memory sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        }
      }
    },
    "ImportRowErrorXlsxErrorDetails": {
      "description": "Error details for an XLSX file.",
      "id": "ImportRowErrorXlsxErrorDetails",
      "type": "object",
      "properties": {
        "sheet": {
          "description": "The name of the sheet where the error was detected.",
          "type": "string"
        },
        "rowNumber": {
          "format": "int32",
          "description": "The row number where the error was detected.",
          "type": "integer"
        }
      }
    },
    "AwsRds": {
      "description": "Specific details for an AWS RDS database deployment.",
      "id": "AwsRds",
      "type": "object",
      "properties": {}
    },
    "XlsxOutputFile": {
      "id": "XlsxOutputFile",
      "type": "object",
      "properties": {
        "signedUri": {
          "description": "Output only. Signed URI destination.",
          "$ref": "SignedUri",
          "readOnly": true
        }
      },
      "description": "Contains a single output file of type XLSX."
    },
    "RegionPreferences": {
      "description": "The user preferences relating to target regions.",
      "id": "RegionPreferences",
      "type": "object",
      "properties": {
        "preferredRegions": {
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PostgreSqlExtension": {
      "id": "PostgreSqlExtension",
      "type": "object",
      "properties": {
        "extension": {
          "type": "string",
          "description": "Required. The extension name."
        },
        "version": {
          "description": "Required. The extension version.",
          "type": "string"
        }
      },
      "description": "PostgreSql extension."
    },
    "DiskPartition": {
      "id": "DiskPartition",
      "type": "object",
      "properties": {
        "fileSystem": {
          "description": "Partition file system.",
          "type": "string"
        },
        "type": {
          "description": "Partition type.",
          "type": "string"
        },
        "mountPoint": {
          "description": "Mount point (Linux/Windows) or drive letter (Windows).",
          "type": "string"
        },
        "subPartitions": {
          "description": "Sub-partitions.",
          "$ref": "DiskPartitionList"
        },
        "uuid": {
          "description": "Partition UUID.",
          "type": "string"
        },
        "capacityBytes": {
          "description": "Partition capacity.",
          "type": "string",
          "format": "int64"
        },
        "freeBytes": {
          "description": "Partition free space.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Disk Partition details."
    },
    "VmwareDiskConfig": {
      "id": "VmwareDiskConfig",
      "type": "object",
      "properties": {
        "backingType": {
          "description": "VMDK backing type.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Flat v1.",
            "Flat v2.",
            "Persistent memory, also known as Non-Volatile Memory (NVM).",
            "Raw Disk Memory v1.",
            "Raw Disk Memory v2.",
            "SEsparse is a snapshot format introduced in vSphere 5.5 for large disks.",
            "SEsparse v1.",
            "SEsparse v1."
          ],
          "enum": [
            "BACKING_TYPE_UNSPECIFIED",
            "BACKING_TYPE_FLAT_V1",
            "BACKING_TYPE_FLAT_V2",
            "BACKING_TYPE_PMEM",
            "BACKING_TYPE_RDM_V1",
            "BACKING_TYPE_RDM_V2",
            "BACKING_TYPE_SESPARSE",
            "BACKING_TYPE_SESPARSE_V1",
            "BACKING_TYPE_SESPARSE_V2"
          ]
        },
        "rdmCompatibility": {
          "enumDescriptions": [
            "Compatibility mode unspecified or unknown.",
            "Physical compatibility mode.",
            "Virtual compatibility mode."
          ],
          "enum": [
            "RDM_COMPATIBILITY_UNSPECIFIED",
            "PHYSICAL_COMPATIBILITY",
            "VIRTUAL_COMPATIBILITY"
          ],
          "type": "string",
          "description": "RDM compatibility mode."
        },
        "shared": {
          "type": "boolean",
          "description": "Is VMDK shared with other VMs."
        },
        "vmdkMode": {
          "enumDescriptions": [
            "VMDK disk mode unspecified or unknown.",
            "Dependent disk mode.",
            "Independent - Persistent disk mode.",
            "Independent - Nonpersistent disk mode."
          ],
          "enum": [
            "VMDK_MODE_UNSPECIFIED",
            "DEPENDENT",
            "INDEPENDENT_PERSISTENT",
            "INDEPENDENT_NONPERSISTENT"
          ],
          "type": "string",
          "description": "VMDK disk mode."
        }
      },
      "description": "VMware disk config details."
    },
    "GuestInstalledApplication": {
      "description": "Guest installed application information.",
      "id": "GuestInstalledApplication",
      "type": "object",
      "properties": {
        "licenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "License strings associated with the installed application."
        },
        "vendor": {
          "description": "Installed application vendor.",
          "type": "string"
        },
        "path": {
          "description": "Source path.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Installed application version."
        },
        "applicationName": {
          "description": "Installed application name.",
          "type": "string"
        },
        "installTime": {
          "type": "string",
          "description": "The time when the application was installed.",
          "format": "google-datetime"
        }
      }
    },
    "DatabaseDetails": {
      "id": "DatabaseDetails",
      "type": "object",
      "properties": {
        "databaseName": {
          "type": "string",
          "description": "Required. The name of the database."
        },
        "parentDatabaseDeployment": {
          "description": "Required. The parent database deployment that contains the logical database.",
          "$ref": "DatabaseDetailsParentDatabaseDeployment"
        },
        "schemas": {
          "type": "array",
          "items": {
            "$ref": "DatabaseSchema"
          },
          "description": "Optional. The database schemas."
        },
        "allocatedStorageBytes": {
          "format": "int64",
          "description": "Optional. The allocated storage for the database in bytes.",
          "type": "string"
        }
      },
      "description": "Details of a logical database."
    },
    "ReportSummaryMachineSeriesAllocation": {
      "id": "ReportSummaryMachineSeriesAllocation",
      "type": "object",
      "properties": {
        "machineSeries": {
          "description": "The Machine Series (e.g. \"E2\", \"N2\")",
          "$ref": "MachineSeries"
        },
        "allocatedAssetCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of assets allocated to this machine series."
        }
      },
      "description": "Represents a data point tracking the count of assets allocated for a specific Machine Series."
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "type": "object",
      "properties": {
        "nanos": {
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64"
        }
      }
    },
    "ImportError": {
      "id": "ImportError",
      "type": "object",
      "properties": {
        "severity": {
          "description": "The severity of the error.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        },
        "errorDetails": {
          "type": "string",
          "description": "The error information."
        }
      },
      "description": "A resource that reports the errors encountered while processing an import job."
    },
    "ListPreferenceSetsResponse": {
      "description": "Response message for listing preference sets.",
      "id": "ListPreferenceSetsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "preferenceSets": {
          "type": "array",
          "items": {
            "$ref": "PreferenceSet"
          },
          "description": "The list of PreferenceSets"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "NetworkAddress": {
      "description": "Details of network address.",
      "id": "NetworkAddress",
      "type": "object",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Assigned or configured IP Address."
        },
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name."
        },
        "subnetMask": {
          "type": "string",
          "description": "Subnet mask."
        },
        "bcast": {
          "description": "Broadcast address.",
          "type": "string"
        },
        "assignment": {
          "enumDescriptions": [
            "Unknown (default value).",
            "Statically assigned IP.",
            "Dynamically assigned IP (DHCP)."
          ],
          "enum": [
            "ADDRESS_ASSIGNMENT_UNSPECIFIED",
            "ADDRESS_ASSIGNMENT_STATIC",
            "ADDRESS_ASSIGNMENT_DHCP"
          ],
          "type": "string",
          "description": "Whether DHCP is used to assign addresses."
        }
      }
    },
    "ImportRowErrorCsvErrorDetails": {
      "description": "Error details for a CSV file.",
      "id": "ImportRowErrorCsvErrorDetails",
      "type": "object",
      "properties": {
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "AggregationHistogram": {
      "id": "AggregationHistogram",
      "type": "object",
      "properties": {
        "lowerBounds": {
          "description": "Lower bounds of buckets. The response will contain `n+1` buckets for `n` bounds. The first bucket will count all assets for which the field value is smaller than the first bound. Subsequent buckets will count assets for which the field value is greater or equal to a lower bound and smaller than the next one. The last bucket will count assets for which the field value is greater or equal to the final lower bound. You can define up to 20 lower bounds.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "description": "Histogram of bucketed assets counts by field value."
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object",
      "properties": {
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        }
      }
    },
    "AggregationResultHistogram": {
      "id": "AggregationResultHistogram",
      "type": "object",
      "properties": {
        "buckets": {
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "type": "array",
          "items": {
            "$ref": "AggregationResultHistogramBucket"
          }
        }
      },
      "description": "The result of a bucketed histogram aggregation."
    },
    "SendDiscoveryClientHeartbeatRequest": {
      "id": "SendDiscoveryClientHeartbeatRequest",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. Client application version.",
          "type": "string"
        },
        "errors": {
          "description": "Optional. Errors affecting client functionality.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      },
      "description": "A request to send a discovery client heartbeat."
    },
    "ValidationReport": {
      "id": "ValidationReport",
      "type": "object",
      "properties": {
        "fileValidations": {
          "type": "array",
          "items": {
            "$ref": "FileValidationReport"
          },
          "description": "List of errors found in files."
        },
        "jobErrors": {
          "type": "array",
          "items": {
            "$ref": "ImportError"
          },
          "description": "List of job level errors."
        }
      },
      "description": "A resource that aggregates errors across import job files."
    },
    "HostsEntry": {
      "id": "HostsEntry",
      "type": "object",
      "properties": {
        "ip": {
          "description": "IP (raw, IPv4/6 agnostic).",
          "type": "string"
        },
        "hostNames": {
          "description": "List of host names / aliases.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Single /etc/hosts entry."
    },
    "ErrorFrame": {
      "id": "ErrorFrame",
      "type": "object",
      "properties": {
        "ingestionTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Frame ingestion time."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The identifier of the ErrorFrame.",
          "type": "string"
        },
        "violations": {
          "description": "Output only. All the violations that were detected for the frame.",
          "type": "array",
          "items": {
            "$ref": "FrameViolationEntry"
          },
          "readOnly": true
        },
        "originalFrame": {
          "description": "Output only. The frame that was originally reported.",
          "$ref": "AssetFrame",
          "readOnly": true
        }
      },
      "description": "Message representing a frame which failed to be processed due to an error."
    },
    "NetworkConnection": {
      "id": "NetworkConnection",
      "type": "object",
      "properties": {
        "remotePort": {
          "format": "int32",
          "description": "Remote port.",
          "type": "integer"
        },
        "state": {
          "description": "Network connection state.",
          "type": "string",
          "enumDescriptions": [
            "Connection state is unknown or unspecified.",
            "The connection is being opened.",
            "The connection is open.",
            "Listening for incoming connections.",
            "The connection is being closed.",
            "The connection is closed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "OPENING",
            "OPEN",
            "LISTEN",
            "CLOSING",
            "CLOSED"
          ]
        },
        "processName": {
          "type": "string",
          "description": "Process or service name."
        },
        "protocol": {
          "description": "Connection protocol (e.g. TCP/UDP).",
          "type": "string"
        },
        "localPort": {
          "format": "int32",
          "description": "Local port.",
          "type": "integer"
        },
        "pid": {
          "description": "Process ID.",
          "type": "string",
          "format": "int64"
        },
        "localIpAddress": {
          "description": "Local IP address.",
          "type": "string"
        },
        "remoteIpAddress": {
          "description": "Remote IP address.",
          "type": "string"
        }
      }
    },
    "NfsExportList": {
      "id": "NfsExportList",
      "type": "object",
      "properties": {
        "entries": {
          "description": "NFS export entries.",
          "type": "array",
          "items": {
            "$ref": "NfsExport"
          }
        }
      },
      "description": "NFS exports."
    },
    "SignedUris": {
      "id": "SignedUris",
      "type": "object",
      "properties": {
        "signedUris": {
          "description": "Output only. List of signed URIs.",
          "type": "array",
          "items": {
            "$ref": "SignedUri"
          },
          "readOnly": true
        }
      },
      "description": "Contains a list of Signed URIs."
    },
    "DiscoveryClient": {
      "id": "DiscoveryClient",
      "type": "object",
      "properties": {
        "errors": {
          "readOnly": true,
          "description": "Output only. Errors affecting client functionality.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
[...]
