{
  "discoveryVersion": "v1",
  "title": "Migration Center API",
  "mtlsRootUrl": "https://migrationcenter.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "schemas": {
    "AzureVmPlatformDetails": {
      "id": "AzureVmPlatformDetails",
      "properties": {
        "machineTypeLabel": {
          "type": "string",
          "description": "Azure platform's machine type label."
        },
        "location": {
          "type": "string",
          "description": "The location of the machine in the Azure format."
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string"
        },
        "provisioningState": {
          "description": "Azure platform's provisioning state.",
          "type": "string"
        }
      },
      "description": "Azure VM specific details.",
      "type": "object"
    },
    "SqlServerDatabaseDeployment": {
      "description": "Specific details for a Microsoft SQL Server database deployment.",
      "id": "SqlServerDatabaseDeployment",
      "properties": {
        "traceFlags": {
          "description": "Optional. List of SQL Server trace flags.",
          "type": "array",
          "items": {
            "$ref": "SqlServerTraceFlag"
          }
        },
        "features": {
          "description": "Optional. List of SQL Server features.",
          "type": "array",
          "items": {
            "$ref": "SqlServerFeature"
          }
        },
        "serverFlags": {
          "type": "array",
          "items": {
            "$ref": "SqlServerServerFlag"
          },
          "description": "Optional. List of SQL Server server flags."
        }
      },
      "type": "object"
    },
    "Relation": {
      "description": "Message representing a relation between 2 resource.",
      "id": "Relation",
      "properties": {
        "type": {
          "description": "Optional. The type of the relation.",
          "enumDescriptions": [
            "Default value.",
            "DBDeployment -> Database",
            "A relation between a machine/VM and the database deployment it hosts."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "LOGICAL_DATABASE",
            "DATABASE_DEPLOYMENT_HOSTING_SERVER"
          ],
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the relation was created.",
          "readOnly": true,
          "type": "string"
        },
        "dstAsset": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The destination asset name in the relation."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The identifier of the relation."
        },
        "srcAsset": {
          "description": "Output only. The source asset name in the relation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "Aggregation": {
      "type": "object",
      "id": "Aggregation",
      "properties": {
        "histogram": {
          "description": "Creates a bucketed histogram of field values.",
          "$ref": "AggregationHistogram"
        },
        "count": {
          "$ref": "AggregationCount",
          "description": "Count the number of matching objects."
        },
        "sum": {
          "$ref": "AggregationSum",
          "description": "Sum over a numeric field."
        },
        "frequency": {
          "$ref": "AggregationFrequency",
          "description": "Creates a frequency distribution of all field values."
        },
        "field": {
          "description": "The name of the field on which to aggregate.",
          "type": "string"
        }
      },
      "description": "Message describing an aggregation. The message includes the aggregation type, parameters, and the field on which to perform the aggregation."
    },
    "MemoryUsageSample": {
      "id": "MemoryUsageSample",
      "properties": {
        "utilizedPercentage": {
          "type": "number",
          "format": "float",
          "description": "Percentage of system memory utilized. Must be in the interval [0, 100]."
        }
      },
      "description": "Memory usage sample.",
      "type": "object"
    },
    "AssetPerformanceData": {
      "description": "Performance data for an asset.",
      "id": "AssetPerformanceData",
      "properties": {
        "dailyResourceUsageAggregations": {
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent.",
          "type": "array",
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          }
        }
      },
      "type": "object"
    },
    "DiscoveryClient": {
      "description": "Represents an installed Migration Center Discovery Client instance.",
      "id": "DiscoveryClient",
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. Current state of the discovery client.",
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ],
          "type": "string"
        },
        "ttl": {
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field.",
          "format": "google-duration",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the discovery client was first created."
        },
        "version": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Client version, as reported in recent heartbeat."
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Free text display name. Maximum length is 63 characters."
        },
        "description": {
          "type": "string",
          "description": "Optional. Free text description. Maximum length is 1000 characters."
        },
        "serviceAccount": {
          "description": "Required. Service account used by the discovery client for various operation.",
          "type": "string"
        },
        "signalsEndpoint": {
          "description": "Output only. This field is intended for internal use.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. Full name of this discovery client.",
          "readOnly": true,
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Required. Immutable. Full name of the source object associated with this discovery client."
        },
        "errors": {
          "description": "Output only. Errors affecting client functionality.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs."
        },
        "heartbeatTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes).",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "CsvOutputFile": {
      "type": "object",
      "description": "Contains a single output file of type CSV.",
      "id": "CsvOutputFile",
      "properties": {
        "signedUri": {
          "description": "Output only. Signed URI destination.",
          "readOnly": true,
          "$ref": "SignedUri"
        },
        "columnsCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of columns in the file."
        },
        "rowCount": {
          "description": "Output only. Number of rows in the file.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      }
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "properties": {
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "ListAssetsExportJobsResponse": {
      "id": "ListAssetsExportJobsResponse",
      "properties": {
        "assetsExportJobs": {
          "description": "Output only. The list of assets export jobs.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AssetsExportJob"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token identifying a page of results the server should return."
        }
      },
      "description": "Response message for listing assets export jobs.",
      "type": "object"
    },
    "ValidateImportJobRequest": {
      "description": "A request to validate an import job.",
      "id": "ValidateImportJobRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "type": "object"
    },
    "AggregationResultCount": {
      "id": "AggregationResultCount",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The result of a count aggregation.",
      "type": "object"
    },
    "VmwareEnginePreferences": {
      "description": "The user preferences relating to Google Cloud VMware Engine target platform.",
      "id": "VmwareEnginePreferences",
      "properties": {
        "memoryOvercommitRatio": {
          "type": "number",
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0.",
          "format": "double"
        },
        "storageDeduplicationCompressionRatio": {
          "type": "number",
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0.",
          "format": "double"
        },
        "cpuOvercommitRatio": {
          "format": "double",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment.",
          "type": "number"
        },
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment)."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "DailyResourceUsageAggregationCPU": {
      "description": "Statistical aggregation of CPU usage.",
      "id": "DailyResourceUsageAggregationCPU",
      "properties": {
        "utilizationPercentage": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "CPU utilization percentage."
        }
      },
      "type": "object"
    },
    "MySqlPlugin": {
      "id": "MySqlPlugin",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Required. The plugin is active."
        },
        "version": {
          "type": "string",
          "description": "Required. The plugin version."
        },
        "plugin": {
          "description": "Required. The plugin name.",
          "type": "string"
        }
      },
      "description": "MySql plugin.",
      "type": "object"
    },
    "MySqlStorageEngineDetails": {
      "id": "MySqlStorageEngineDetails",
      "properties": {
        "engine": {
          "description": "Required. The storage engine.",
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ],
          "type": "string"
        },
        "tableCount": {
          "type": "integer",
          "description": "Optional. The number of tables.",
          "format": "int32"
        },
        "encryptedTableCount": {
          "description": "Optional. The number of encrypted tables.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Mysql storage engine tables.",
      "type": "object"
    },
    "ReportSummaryComputeEngineFinding": {
      "type": "object",
      "id": "ReportSummaryComputeEngineFinding",
      "properties": {
        "allocatedDiskTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified. Fallback to default value based on context.",
              "Standard HDD Persistent Disk.",
              "Balanced Persistent Disk.",
              "SSD Persistent Disk."
            ],
            "enum": [
              "PERSISTENT_DISK_TYPE_UNSPECIFIED",
              "PERSISTENT_DISK_TYPE_STANDARD",
              "PERSISTENT_DISK_TYPE_BALANCED",
              "PERSISTENT_DISK_TYPE_SSD"
            ]
          },
          "description": "Set of disk types allocated to assets."
        },
        "allocatedRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Set of regions in which the assets were allocated."
        },
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Count of assets which were allocated.",
          "type": "string"
        },
        "machineSeriesAllocations": {
          "type": "array",
          "items": {
            "$ref": "ReportSummaryMachineSeriesAllocation"
          },
          "description": "Distribution of assets based on the Machine Series."
        }
      },
      "description": "A set of findings that applies to assets destined for Compute Engine."
    },
    "AggregationResult": {
      "type": "object",
      "id": "AggregationResult",
      "properties": {
        "frequency": {
          "$ref": "AggregationResultFrequency"
        },
        "field": {
          "type": "string"
        },
        "histogram": {
          "$ref": "AggregationResultHistogram"
        },
        "count": {
          "$ref": "AggregationResultCount"
        },
        "sum": {
          "$ref": "AggregationResultSum"
        }
      },
      "description": "Message describing a result of an aggregation."
    },
    "ImportRowErrorCsvErrorDetails": {
      "type": "object",
      "description": "Error details for a CSV file.",
      "id": "ImportRowErrorCsvErrorDetails",
      "properties": {
        "rowNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The row number where the error was detected."
        }
      }
    },
    "ListDiscoveryClientsResponse": {
      "id": "ListDiscoveryClientsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "discoveryClients": {
          "type": "array",
          "items": {
            "$ref": "DiscoveryClient"
          },
          "description": "List of discovery clients."
        }
      },
      "description": "Response message for listing discovery clients.",
      "type": "object"
    },
    "DatabaseDeploymentTopology": {
      "id": "DatabaseDeploymentTopology",
      "properties": {
        "physicalCoreCount": {
          "type": "integer",
          "description": "Optional. Number of total physical cores.",
          "format": "int32"
        },
        "physicalCoreLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Number of total physical cores limited by db deployment."
        },
        "diskUsedBytes": {
          "format": "int64",
          "description": "Optional. Disk used in bytes.",
          "type": "string"
        },
        "coreLimit": {
          "type": "integer",
          "description": "Optional. Number of total logical cores limited by db deployment.",
          "format": "int32"
        },
        "diskAllocatedBytes": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Disk allocated in bytes."
        },
        "instances": {
          "type": "array",
          "items": {
            "$ref": "DatabaseInstance"
          },
          "description": "Optional. List of database instances."
        },
        "memoryBytes": {
          "format": "int64",
          "description": "Optional. Total memory in bytes.",
          "type": "string"
        },
        "memoryLimitBytes": {
          "description": "Optional. Total memory in bytes limited by db deployment.",
          "format": "int64",
          "type": "string"
        },
        "coreCount": {
          "description": "Optional. Number of total logical cores.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Details of database deployment's topology.",
      "type": "object"
    },
    "DiskPartitionList": {
      "type": "object",
      "id": "DiskPartitionList",
      "properties": {
        "entries": {
          "description": "Partition entries.",
          "type": "array",
          "items": {
            "$ref": "DiskPartition"
          }
        }
      },
      "description": "Disk partition list."
    },
    "DailyResourceUsageAggregationStats": {
      "type": "object",
      "id": "DailyResourceUsageAggregationStats",
      "properties": {
        "average": {
          "type": "number",
          "description": "Average usage value.",
          "format": "float"
        },
        "ninteyFifthPercentile": {
          "format": "float",
          "description": "95th percentile usage value.",
          "type": "number"
        },
        "peak": {
          "description": "Peak usage value.",
          "format": "float",
          "type": "number"
        },
        "median": {
          "type": "number",
          "description": "Median usage value.",
          "format": "float"
        }
      },
      "description": "Statistical aggregation of samples for a single resource usage."
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "properties": {
        "reports": {
          "type": "array",
          "items": {
            "$ref": "Report"
          },
          "description": "The list of Reports."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response message for listing Reports.",
      "type": "object"
    },
    "BatchUpdateAssetsResponse": {
      "id": "BatchUpdateAssetsResponse",
      "properties": {
        "assets": {
          "description": "Update asset content. The content only includes values after field mask being applied.",
          "type": "array",
          "items": {
            "$ref": "Asset"
          }
        }
      },
      "description": "Response for updating a list of assets.",
      "type": "object"
    },
    "PostgreSqlProperty": {
      "id": "PostgreSqlProperty",
      "properties": {
        "numericValue": {
          "description": "Required. The property numeric value.",
          "format": "int64",
          "type": "string"
        },
        "property": {
          "type": "string",
          "description": "Required. The property name."
        },
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        }
      },
      "description": "PostgreSql property.",
      "type": "object"
    },
    "ReportSummaryUtilizationChartData": {
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets.",
      "id": "ReportSummaryUtilizationChartData",
      "properties": {
        "used": {
          "description": "Aggregate value which falls into the \"Used\" bucket.",
          "format": "int64",
          "type": "string"
        },
        "free": {
          "type": "string",
          "description": "Aggregate value which falls into the \"Free\" bucket.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "AggregateAssetsValuesResponse": {
      "description": "A response to a request to aggregated assets values.",
      "id": "AggregateAssetsValuesResponse",
      "properties": {
        "results": {
          "description": "The aggregation results.",
          "type": "array",
          "items": {
            "$ref": "AggregationResult"
          }
        }
      },
      "type": "object"
    },
    "SqlServerServerFlag": {
      "id": "SqlServerServerFlag",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The server flag value set by the user."
        },
        "valueInUse": {
          "description": "Required. The server flag actual value. If `value_in_use` is different from `value` it means that either the configuration change was not applied or it is an expected behavior. See SQL Server documentation for more details.",
          "type": "string"
        },
        "serverFlagName": {
          "description": "Required. The server flag name.",
          "type": "string"
        }
      },
      "description": "SQL Server server flag details.",
      "type": "object"
    },
    "DatabaseSchema": {
      "description": "Details of a database schema.",
      "id": "DatabaseSchema",
      "properties": {
        "tablesSizeBytes": {
          "description": "Optional. The total size of tables in bytes.",
          "format": "int64",
          "type": "string"
        },
        "mysql": {
          "description": "Optional. Details of a Mysql schema.",
          "$ref": "MySqlSchemaDetails"
        },
        "postgresql": {
          "description": "Optional. Details of a PostgreSql schema.",
          "$ref": "PostgreSqlSchemaDetails"
        },
        "sqlServer": {
          "$ref": "SqlServerSchemaDetails",
          "description": "Optional. Details of a SqlServer schema."
        },
        "objects": {
          "description": "Optional. List of details of objects by category.",
          "type": "array",
          "items": {
            "$ref": "DatabaseObjects"
          }
        },
        "schemaName": {
          "description": "Required. The name of the schema.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListGroupsResponse": {
      "description": "A response for listing groups.",
      "id": "ListGroupsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "groups": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "The list of Group"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "HostsEntry": {
      "description": "Single /etc/hosts entry.",
      "id": "HostsEntry",
      "properties": {
        "ip": {
          "type": "string",
          "description": "IP (raw, IPv4/6 agnostic)."
        },
        "hostNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of host names / aliases."
        }
      },
      "type": "object"
    },
    "RunningProcessList": {
      "type": "object",
      "description": "List of running guest OS processes.",
      "id": "RunningProcessList",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "RunningProcess"
          },
          "description": "Running process entries."
        }
      }
    },
    "Asset": {
      "type": "object",
      "id": "Asset",
      "properties": {
        "attributes": {
          "description": "Generic asset attributes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "databaseDetails": {
          "readOnly": true,
          "$ref": "DatabaseDetails",
          "description": "Output only. Asset information specific for logical databases."
        },
        "hideTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the asset was marked as hidden.",
          "format": "google-datetime"
        },
        "sources": {
          "description": "Output only. The list of sources contributing to the asset.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server generated human readable name of the asset."
        },
        "databaseDeploymentDetails": {
          "readOnly": true,
          "$ref": "DatabaseDeploymentDetails",
          "description": "Output only. Asset information specific for database deployments."
        },
        "machineDetails": {
          "description": "Output only. Asset information specific for virtual and physical machines.",
          "readOnly": true,
          "$ref": "MachineDetails"
        },
        "hideReason": {
          "description": "Optional. An optional reason for marking this asset as hidden.",
          "type": "string"
        },
        "assignedGroups": {
          "description": "Output only. The list of groups that the asset is assigned to.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "performanceData": {
          "readOnly": true,
          "$ref": "AssetPerformanceData",
          "description": "Output only. Performance data for the asset."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the asset was created."
        },
        "hidden": {
          "type": "boolean",
          "description": "Optional. Indicates if the asset is hidden."
        },
        "name": {
          "description": "Output only. The full name of the asset.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the asset was last updated.",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "insightList": {
          "description": "Output only. The list of insights associated with the asset.",
          "readOnly": true,
          "$ref": "InsightList"
        }
      },
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases."
    },
    "MigrationInsight": {
      "type": "object",
      "description": "An insight about potential migrations for an asset.",
      "id": "MigrationInsight",
      "properties": {
        "fit": {
          "readOnly": true,
          "$ref": "FitDescriptor",
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration."
        },
        "computeEngineTarget": {
          "readOnly": true,
          "$ref": "ComputeEngineMigrationTarget",
          "description": "Output only. A Google Compute Engine target."
        }
      }
    },
    "RunningServiceList": {
      "type": "object",
      "description": "List of running guest OS services.",
      "id": "RunningServiceList",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "RunningService"
          },
          "description": "Running service entries."
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "DailyResourceUsageAggregationDisk": {
      "type": "object",
      "id": "DailyResourceUsageAggregationDisk",
      "properties": {
        "writeIops": {
          "description": "Optional. Disk write I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "iops": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Optional. Disk I/O operations per second."
        },
        "readIops": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Optional. Disk read I/O operations per second."
        }
      },
      "description": "Statistical aggregation of disk usage."
    },
    "AggregationResultHistogram": {
      "type": "object",
      "id": "AggregationResultHistogram",
      "properties": {
        "buckets": {
          "type": "array",
          "items": {
            "$ref": "AggregationResultHistogramBucket"
          },
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity."
        }
      },
      "description": "The result of a bucketed histogram aggregation."
    },
    "ComputeEngineShapeDescriptor": {
      "type": "object",
      "description": "Compute Engine target shape descriptor.",
      "id": "ComputeEngineShapeDescriptor",
      "properties": {
        "machineType": {
          "description": "Output only. Compute Engine machine type.",
          "readOnly": true,
          "type": "string"
        },
        "storage": {
          "description": "Output only. Compute Engine storage. Never empty.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ComputeStorageDescriptor"
          }
        },
        "physicalCoreCount": {
          "description": "Number of physical cores.",
          "format": "int32",
          "type": "integer"
        },
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "series": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Compute Engine machine series."
        },
        "memoryMb": {
          "type": "integer",
          "format": "int32",
          "description": "Memory in mebibytes."
        }
      }
    },
    "ReportSummaryHistogramChartDataBucket": {
      "id": "ReportSummaryHistogramChartDataBucket",
      "properties": {
        "lowerBound": {
          "type": "string",
          "format": "int64",
          "description": "Lower bound - inclusive."
        },
        "upperBound": {
          "type": "string",
          "format": "int64",
          "description": "Upper bound - exclusive."
        },
        "count": {
          "format": "int64",
          "description": "Count of items in the bucket.",
          "type": "string"
        }
      },
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "type": "object"
    },
    "MachineDiskDetails": {
      "id": "MachineDiskDetails",
      "properties": {
        "totalCapacityBytes": {
          "description": "Disk total Capacity.",
          "format": "int64",
          "type": "string"
        },
        "disks": {
          "$ref": "DiskEntryList",
          "description": "List of disks."
        },
        "totalFreeBytes": {
          "description": "Total disk free space.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Details of machine disks.",
      "type": "object"
    },
    "NetworkUsageSample": {
      "id": "NetworkUsageSample",
      "properties": {
        "averageEgressBps": {
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative.",
          "format": "float",
          "type": "number"
        },
        "averageIngressBps": {
          "type": "number",
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative.",
          "format": "float"
        }
      },
      "description": "Network usage sample. Values are across all network interfaces.",
      "type": "object"
    },
    "GuestInstalledApplicationList": {
      "id": "GuestInstalledApplicationList",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "GuestInstalledApplication"
          },
          "description": "Application entries."
        }
      },
      "description": "Guest installed application list.",
      "type": "object"
    },
    "CascadeLogicalDBsRule": {
      "type": "object",
      "description": "Cascading rule for related logical DBs.",
      "id": "CascadeLogicalDBsRule",
      "properties": {}
    },
    "OutputFileList": {
      "description": "Contains a list of output files.",
      "id": "OutputFileList",
      "properties": {
        "entries": {
          "description": "Output only. List of output files.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "OutputFile"
          }
        }
      },
      "type": "object"
    },
    "AssetsExportJobExecutionResult": {
      "type": "object",
      "id": "AssetsExportJobExecutionResult",
      "properties": {
        "outputFiles": {
          "readOnly": true,
          "$ref": "OutputFileList",
          "description": "Output only. List of output files."
        },
        "signedUris": {
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "readOnly": true,
          "$ref": "SignedUris"
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Error encountered during export."
        }
      },
      "description": "Contains the result of the assets export."
    },
    "ExecutionReport": {
      "description": "A resource that reports result of the import job execution.",
      "id": "ExecutionReport",
      "properties": {
        "executionErrors": {
          "$ref": "ValidationReport",
          "description": "Validation errors encountered during the execution of the import job."
        },
        "framesReported": {
          "type": "integer",
          "description": "Total number of asset frames reported for the import job.",
          "format": "int32"
        },
        "totalRowsCount": {
          "description": "Output only. Total number of rows in the import job.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Source": {
      "type": "object",
      "description": "Source represents an object from which asset information is streamed to Migration Center.",
      "id": "Source",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the source was created."
        },
        "type": {
          "description": "Data source type.",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the source was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "errorFrameCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of frames that were reported by the source and contained errors."
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The information confidence of the source. The higher the value, the higher the confidence."
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the source.",
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING",
            "INVALID"
          ],
          "readOnly": true
        },
        "name": {
          "description": "Output only. The full name of the source.",
          "readOnly": true,
          "type": "string"
        },
        "pendingFrameCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of frames that are still being processed."
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name."
        },
        "managed": {
          "type": "boolean",
          "description": "If `true`, the source is managed by other service(s)."
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        }
      }
    },
    "Money": {
      "id": "Money",
      "properties": {
        "nanos": {
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "type": "object"
    },
    "AggregateAssetsValuesRequest": {
      "type": "object",
      "id": "AggregateAssetsValuesRequest",
      "properties": {
        "filter": {
          "description": "Optional. The aggregation will be performed on assets that match the provided filter.",
          "type": "string"
        },
        "aggregations": {
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          },
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined."
        },
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        }
      },
      "description": "A request to aggregate one or more values."
    },
    "OpenFileDetails": {
      "description": "Open file Information.",
      "id": "OpenFileDetails",
      "properties": {
        "user": {
          "description": "Opened file user.",
          "type": "string"
        },
        "filePath": {
          "type": "string",
          "description": "Opened file file path."
        },
        "command": {
          "type": "string",
          "description": "Opened file command."
        },
        "fileType": {
          "type": "string",
          "description": "Opened file file type."
        }
      },
      "type": "object"
    },
    "OpenFileList": {
      "description": "Open file list.",
      "id": "OpenFileList",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "OpenFileDetails"
          },
          "description": "Open file details entries."
        }
      },
      "type": "object"
    },
    "Report": {
      "id": "Report",
      "properties": {
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of resource.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Free-text description."
        },
        "state": {
          "description": "Report creation state.",
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last update timestamp.",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation timestamp."
        },
        "type": {
          "description": "Report type.",
          "enumDescriptions": [
            "Default Report type.",
            "Total cost of ownership Report type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ],
          "type": "string"
        },
        "summary": {
          "description": "Output only. Summary view of the Report.",
          "readOnly": true,
          "$ref": "ReportSummary"
        }
      },
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "type": "object"
    },
    "ImportJob": {
      "description": "A resource that represents the background job that imports asset frames.",
      "id": "ImportJob",
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the import job.",
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ],
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ],
          "type": "string"
        },
        "name": {
          "description": "Output only. The full name of the import job.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was created.",
          "readOnly": true,
          "type": "string"
        },
        "completeTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was completed."
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was last updated."
        },
        "assetSource": {
          "description": "Required. Reference to a source.",
          "type": "string"
        },
        "executionReport": {
          "readOnly": true,
          "$ref": "ExecutionReport",
          "description": "Output only. The report with the results of running the import job."
        },
        "validationReport": {
          "readOnly": true,
          "$ref": "ValidationReport",
          "description": "Output only. The report with the validation results of the import job."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-friendly display name. Maximum length is 256 characters."
        }
      },
      "type": "object"
    },
    "ReportSummaryChartDataDataPoint": {
      "type": "object",
      "description": "Describes a single data point in the Chart.",
      "id": "ReportSummaryChartDataDataPoint",
      "properties": {
        "label": {
          "description": "The X-axis label for this data point.",
          "type": "string"
        },
        "value": {
          "description": "The Y-axis value for this data point.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "FstabEntry": {
      "description": "Single fstab entry.",
      "id": "FstabEntry",
      "properties": {
        "freq": {
          "type": "integer",
          "format": "int32",
          "description": "Used by dump to determine which filesystems need to be dumped."
        },
        "passno": {
          "description": "Used by the fsck(8) program to determine the order in which filesystem checks are done at reboot time.",
          "format": "int32",
          "type": "integer"
        },
        "spec": {
          "type": "string",
          "description": "The block special device or remote filesystem to be mounted."
        },
        "vfstype": {
          "description": "The type of the filesystem.",
          "type": "string"
        },
        "file": {
          "description": "The mount point for the filesystem.",
          "type": "string"
        },
        "mntops": {
          "type": "string",
          "description": "Mount options associated with the filesystem."
        }
      },
      "type": "object"
    },
    "ImportRowError": {
      "type": "object",
      "id": "ImportRowError",
      "properties": {
        "vmName": {
          "description": "The name of the VM in the row.",
          "type": "string"
        },
        "xlsxError": {
          "description": "Error details for an XLSX file.",
          "$ref": "ImportRowErrorXlsxErrorDetails"
        },
        "assetTitle": {
          "description": "Output only. The asset title.",
          "readOnly": true,
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ImportError"
          },
          "description": "The list of errors detected in the row."
        },
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "vmUuid": {
          "type": "string",
          "description": "The VM UUID."
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        },
        "archiveError": {
          "$ref": "ImportRowErrorArchiveErrorDetails",
          "description": "Error details for an archive file."
        }
      },
      "description": "A resource that reports the import job errors at row level."
    },
    "AssetsExportJobExportCondition": {
      "description": "Conditions for selecting assets to export.",
      "id": "AssetsExportJobExportCondition",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Assets filter, supports the same syntax as asset listing."
        }
      },
      "type": "object"
    },
    "FitDescriptor": {
      "type": "object",
      "id": "FitDescriptor",
      "properties": {
        "fitLevel": {
          "description": "Output only. Fit level.",
          "enumDescriptions": [
            "Not enough information.",
            "Fit.",
            "No Fit.",
            "Fit with effort."
          ],
          "enum": [
            "FIT_LEVEL_UNSPECIFIED",
            "FIT",
            "NO_FIT",
            "REQUIRES_EFFORT"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Describes the fit level of an asset for migration to a specific target."
    },
    "ListSourcesResponse": {
      "type": "object",
      "description": "Response message for listing sources.",
      "id": "ListSourcesResponse",
      "properties": {
        "sources": {
          "description": "The list of sources.",
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "ReportSummaryGroupPreferenceSetFinding": {
      "id": "ReportSummaryGroupPreferenceSetFinding",
      "properties": {
        "monthlyCostTotal": {
          "$ref": "Money",
          "description": "Total monthly cost for this preference set."
        },
        "machinePreferences": {
          "description": "A set of preferences that applies to all machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "computeEngineFinding": {
          "$ref": "ReportSummaryComputeEngineFinding",
          "description": "A set of findings that applies to Compute Engine machines in the input."
        },
        "monthlyCostCompute": {
          "$ref": "Money",
          "description": "Compute monthly cost for this preference set."
        },
        "vmwareEngineFinding": {
          "$ref": "ReportSummaryVmwareEngineFinding",
          "description": "A set of findings that applies to VMWare machines in the input."
        },
        "monthlyCostStorage": {
          "$ref": "Money",
          "description": "Storage monthly cost for this preference set."
        },
        "monthlyCostOther": {
          "$ref": "Money",
          "description": "Miscellaneous monthly cost for this preference set."
        },
        "monthlyCostOsLicense": {
          "description": "Licensing monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostNetworkEgress": {
          "description": "Network Egress monthly cost for this preference set.",
          "$ref": "Money"
        },
        "description": {
          "description": "Description for the Preference Set.",
          "type": "string"
        },
        "displayName": {
          "description": "Display Name of the Preference Set",
          "type": "string"
        },
        "soleTenantFinding": {
          "$ref": "ReportSummarySoleTenantFinding",
          "description": "A set of findings that applies to Sole-Tenant machines in the input."
        }
      },
      "description": "Summary Findings for a specific Group/PreferenceSet combination.",
      "type": "object"
    },
    "ReportConfig": {
      "id": "ReportConfig",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "groupPreferencesetAssignments": {
          "description": "Required. Collection of combinations of groups and preference sets.",
          "type": "array",
          "items": {
            "$ref": "ReportConfigGroupPreferenceSetAssignment"
          }
        },
        "name": {
          "description": "Output only. Name of resource.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Free-text description."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was last updated."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        }
      },
      "description": "The groups and associated preference sets on which we can generate reports.",
      "type": "object"
    },
    "UploadFileInfo": {
      "type": "object",
      "description": "A resource that contains a URI to which a data file can be uploaded.",
      "id": "UploadFileInfo",
      "properties": {
        "headers": {
          "description": "Output only. The headers that were used to sign the URI.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uriExpirationTime": {
          "format": "google-datetime",
          "description": "Output only. Expiration time of the upload URI.",
          "readOnly": true,
          "type": "string"
        },
        "signedUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Upload URI for the file."
        }
      }
    },
    "SqlServerTraceFlag": {
      "type": "object",
      "id": "SqlServerTraceFlag",
      "properties": {
        "traceFlagName": {
          "description": "Required. The trace flag name.",
          "type": "string"
        },
        "scope": {
          "description": "Required. The trace flag scope.",
          "enumDescriptions": [
            "Unspecified.",
            "Off.",
            "Global.",
            "Session."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "OFF",
            "GLOBAL",
            "SESSION"
          ],
          "type": "string"
        }
      },
      "description": "SQL Server trace flag details."
    },
    "AggregationFrequency": {
      "type": "object",
      "id": "AggregationFrequency",
      "properties": {},
      "description": "Frequency distribution of all field values."
    },
    "XlsxOutputFile": {
      "description": "Contains a single output file of type XLSX.",
      "id": "XlsxOutputFile",
      "properties": {
        "signedUri": {
          "description": "Output only. Signed URI destination.",
          "readOnly": true,
          "$ref": "SignedUri"
        }
      },
      "type": "object"
    },
    "Group": {
      "description": "A resource that represents an asset group. The purpose of an asset group is to bundle a set of assets that have something in common, while allowing users to add annotations to the group. An asset can belong to multiple groups.",
      "id": "Group",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the group was created.",
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels as key value pairs."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the group was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the group.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the group.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User-friendly display name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportSummaryVmwareEngineFinding": {
      "description": "A set of findings that applies to assets destined for VMWare Engine.",
      "id": "ReportSummaryVmwareEngineFinding",
      "properties": {
        "nodeAllocations": {
          "description": "Set of per-nodetype allocation records",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryVmwareNodeAllocation"
          }
        },
        "allocatedRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Set of regions in which the assets were allocated"
        },
        "allocatedAssetCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of assets which are allocated"
        }
      },
      "type": "object"
    },
    "SendDiscoveryClientHeartbeatRequest": {
      "type": "object",
      "id": "SendDiscoveryClientHeartbeatRequest",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. Client application version."
        },
        "errors": {
          "description": "Optional. Errors affecting client functionality.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      },
      "description": "A request to send a discovery client heartbeat."
    },
    "RegionPreferences": {
      "type": "object",
      "id": "RegionPreferences",
      "properties": {
        "preferredRegions": {
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The user preferences relating to target regions."
    },
    "ReportSummarySoleTenantFinding": {
      "type": "object",
      "id": "ReportSummarySoleTenantFinding",
      "properties": {
        "nodeAllocations": {
          "type": "array",
          "items": {
            "$ref": "ReportSummarySoleTenantNodeAllocation"
          },
          "description": "Set of per-nodetype allocation records"
        },
        "allocatedRegions": {
          "description": "Set of regions in which the assets are allocated",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allocatedAssetCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of assets which are allocated"
        }
      },
      "description": "A set of findings that applies to assets destined for Sole-Tenant nodes."
    },
    "NetworkConnectionList": {
      "description": "Network connection list.",
      "id": "NetworkConnectionList",
      "properties": {
        "entries": {
          "description": "Network connection entries.",
          "type": "array",
          "items": {
            "$ref": "NetworkConnection"
          }
        }
      },
      "type": "object"
    },
    "AggregationHistogram": {
      "id": "AggregationHistogram",
      "properties": {
        "lowerBounds": {
          "description": "Lower bounds of buckets. The response will contain `n+1` buckets for `n` bounds. The first bucket will count all assets for which the field value is smaller than the first bound. Subsequent buckets will count assets for which the field value is greater or equal to a lower bound and smaller than the next one. The last bucket will count assets for which the field value is greater or equal to the final lower bound. You can define up to 20 lower bounds.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "description": "Histogram of bucketed assets counts by field value.",
      "type": "object"
    },
    "BatchUpdateAssetsRequest": {
      "type": "object",
      "id": "BatchUpdateAssetsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "UpdateAssetRequest"
          },
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch."
        }
      },
      "description": "A request to update a list of assets."
    },
    "MachineArchitectureDetails": {
      "type": "object",
      "id": "MachineArchitectureDetails",
      "properties": {
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "vendor": {
          "type": "string",
          "description": "Hardware vendor."
        },
        "firmwareType": {
          "description": "Firmware type.",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ],
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ],
          "type": "string"
        },
        "hyperthreading": {
          "description": "CPU hyper-threading support.",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ],
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string"
        },
        "cpuThreadCount": {
          "type": "integer",
          "deprecated": true,
          "format": "int32",
          "description": "Deprecated: use MachineDetails.core_count instead. Number of CPU threads allocated to the machine."
        },
        "cpuSocketCount": {
          "description": "Number of processor sockets allocated to the machine.",
          "format": "int32",
          "type": "integer"
        },
        "bios": {
          "$ref": "BiosDetails",
          "description": "BIOS Details."
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "cpuManufacturer": {
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        }
      },
      "description": "Details of the machine architecture."
    },
    "DailyResourceUsageAggregationNetwork": {
      "type": "object",
      "id": "DailyResourceUsageAggregationNetwork",
      "properties": {
        "ingressBps": {
          "description": "Network ingress in B/s.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "egressBps": {
          "description": "Network egress in B/s.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "description": "Statistical aggregation of network usage."
    },
    "AggregationResultHistogramBucket": {
      "type": "object",
      "id": "AggregationResultHistogramBucket",
      "properties": {
        "lowerBound": {
          "type": "number",
          "description": "Lower bound - inclusive.",
          "format": "double"
        },
        "upperBound": {
          "description": "Upper bound - exclusive.",
          "format": "double",
          "type": "number"
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Count of items in the bucket."
        }
      },
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity."
    },
    "InsightList": {
      "type": "object",
      "description": "Message containing insights list.",
      "id": "InsightList",
      "properties": {
        "insights": {
          "description": "Output only. Insights of the list.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Insight"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Update timestamp.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "ErrorFrame": {
      "description": "Message representing a frame which failed to be processed due to an error.",
      "id": "ErrorFrame",
      "properties": {
        "violations": {
          "description": "Output only. All the violations that were detected for the frame.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "FrameViolationEntry"
          }
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The identifier of the ErrorFrame."
        },
        "originalFrame": {
          "readOnly": true,
          "$ref": "AssetFrame",
          "description": "Output only. The frame that was originally reported."
        },
        "ingestionTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Frame ingestion time.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "RuntimeNetworkInfo": {
      "description": "Runtime networking information.",
      "id": "RuntimeNetworkInfo",
      "properties": {
        "scanTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time of the last network scan."
        },
        "connections": {
          "description": "Network connections.",
          "$ref": "NetworkConnectionList"
        }
      },
      "type": "object"
    },
    "CascadingRule": {
      "type": "object",
      "id": "CascadingRule",
      "properties": {
        "cascadeLogicalDbs": {
          "description": "Cascading rule for related logical DBs.",
          "$ref": "CascadeLogicalDBsRule"
        }
      },
      "description": "Specifies cascading rules for traversing relations."
    },
    "PreferenceSet": {
      "id": "PreferenceSet",
      "properties": {
        "virtualMachinePreferences": {
          "description": "Optional. A set of preferences that applies to all virtual machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the preference set was created."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the preference set was last updated.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Name of the preference set.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "A description of the preference set.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        }
      },
      "description": "The preferences that apply to all assets in a given context.",
      "type": "object"
    },
    "OutputFile": {
      "description": "Contains a single output file.",
      "id": "OutputFile",
      "properties": {
        "csvOutputFile": {
          "description": "Output only. CSV output file.",
          "readOnly": true,
          "$ref": "CsvOutputFile"
        },
        "xlsxOutputFile": {
          "description": "Output only. XLSX output file.",
          "readOnly": true,
          "$ref": "XlsxOutputFile"
        },
        "fileSizeBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. File size in bytes.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "DailyResourceUsageAggregationMemory": {
      "description": "Statistical aggregation of memory usage.",
      "id": "DailyResourceUsageAggregationMemory",
      "properties": {
        "utilizationPercentage": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Memory utilization percentage."
        }
      },
      "type": "object"
    },
    "ReportSummarySoleTenantNodeAllocation": {
      "type": "object",
      "id": "ReportSummarySoleTenantNodeAllocation",
      "properties": {
        "node": {
          "$ref": "SoleTenantNodeType",
          "description": "Sole Tenant node type, e.g. \"m3-node-128-3904\""
        },
        "nodeCount": {
          "type": "string",
          "description": "Count of this node type to be provisioned",
          "format": "int64"
        },
        "allocatedAssetCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of assets allocated to these nodes"
        }
      },
      "description": "Represents the assets allocated to a specific Sole-Tenant node type."
    },
    "NfsExport": {
      "type": "object",
      "id": "NfsExport",
      "properties": {
        "exportDirectory": {
          "type": "string",
          "description": "The directory being exported."
        },
        "hosts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The hosts or networks to which the export is being shared."
        }
      },
      "description": "NFS export."
    },
    "ImportRowErrorArchiveErrorDetails": {
      "type": "object",
      "id": "ImportRowErrorArchiveErrorDetails",
      "properties": {
        "filePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The file path inside the archive where the error was detected."
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        }
      },
      "description": "Error details for an archive file."
    },
    "DiskEntryList": {
      "id": "DiskEntryList",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "DiskEntry"
          },
          "description": "Disk entries."
        }
      },
      "description": "VM disks.",
      "type": "object"
    },
    "AwsEc2PlatformDetails": {
      "id": "AwsEc2PlatformDetails",
      "properties": {
        "location": {
          "description": "The location of the machine in the AWS format.",
          "type": "string"
        },
        "hyperthreading": {
          "type": "string",
          "description": "Optional. Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "machineTypeLabel": {
          "description": "AWS platform's machine type label.",
          "type": "string"
        }
      },
      "description": "AWS EC2 specific details.",
      "type": "object"
    },
    "PostgreSqlSetting": {
      "id": "PostgreSqlSetting",
      "properties": {
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "Required. The setting int value."
        },
        "realValue": {
          "description": "Required. The setting real value.",
          "format": "float",
          "type": "number"
        },
        "source": {
          "type": "string",
          "description": "Required. The setting source."
        },
        "unit": {
          "type": "string",
          "description": "Optional. The setting unit."
        },
        "boolValue": {
          "type": "boolean",
          "description": "Required. The setting boolean value."
        },
        "setting": {
          "description": "Required. The setting name.",
          "type": "string"
        },
        "stringValue": {
          "description": "Required. The setting string value. Notice that enum values are stored as strings.",
          "type": "string"
        }
      },
      "description": "PostgreSql setting.",
      "type": "object"
    },
    "VirtualMachinePreferences": {
      "type": "object",
      "id": "VirtualMachinePreferences",
      "properties": {
        "targetProduct": {
          "description": "Target product for assets using this preference set. Specify either target product or business goal, but not both.",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Prefer to migrate to Google Cloud Compute Engine.",
            "Prefer to migrate to Google Cloud VMware Engine.6278",
            "Prefer to migrate to Google Cloud Sole Tenant Nodes."
          ],
          "enum": [
            "COMPUTE_MIGRATION_TARGET_PRODUCT_UNSPECIFIED",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_COMPUTE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_VMWARE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_SOLE_TENANCY"
          ],
          "type": "string"
        },
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1 year commitment.",
            "3 years commitment."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_NONE",
            "COMMITMENT_PLAN_ONE_YEAR",
            "COMMITMENT_PLAN_THREE_YEARS"
          ],
          "type": "string"
        },
        "computeEnginePreferences": {
          "$ref": "ComputeEnginePreferences",
          "description": "Compute Engine preferences concern insights and recommendations for Compute Engine target."
        },
        "regionPreferences": {
          "description": "Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with.",
          "$ref": "RegionPreferences"
        },
        "sizingOptimizationStrategy": {
          "description": "Sizing optimization strategy specifies the preferred strategy used when extrapolating usage data to calculate insights and recommendations for a virtual machine. If you are unsure which value to set, a moderate sizing optimization strategy is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified (default value).",
            "No optimization applied. Virtual machine sizing matches as closely as possible the machine shape on the source site, not considering any actual performance data.",
            "Virtual machine sizing will match the reported usage and shape, with some slack. This a good value to start with.",
            "Virtual machine sizing will match the reported usage, with little slack. Using this option can help reduce costs."
          ],
          "enum": [
            "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE",
            "SIZING_OPTIMIZATION_STRATEGY_MODERATE",
            "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE"
          ],
          "type": "string"
        },
        "soleTenancyPreferences": {
          "$ref": "SoleTenancyPreferences",
          "description": "Preferences concerning Sole Tenant nodes and virtual machines."
        },
        "vmwareEnginePreferences": {
          "description": "Preferences concerning insights and recommendations for Google Cloud VMware Engine.",
          "$ref": "VmwareEnginePreferences"
        }
      },
      "description": "VirtualMachinePreferences enables you to create sets of assumptions, for example, a geographical location and pricing track, for your migrated virtual machines. The set of preferences influence recommendations for migrating virtual machine assets."
    },
    "DatabaseDetailsParentDatabaseDeployment": {
      "description": "The identifiers of the parent database deployment.",
      "id": "DatabaseDetailsParentDatabaseDeployment",
      "properties": {
        "generatedId": {
          "description": "Optional. The parent database deployment generated ID.",
          "type": "string"
        },
        "manualUniqueId": {
          "type": "string",
          "description": "Optional. The parent database deployment optional manual unique ID set by the user."
        }
      },
      "type": "object"
    },
    "ListErrorFramesResponse": {
      "description": "A response for listing error frames.",
      "id": "ListErrorFramesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "errorFrames": {
          "description": "The list of error frames.",
          "type": "array",
          "items": {
            "$ref": "ErrorFrame"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "AssetsExportJob": {
      "type": "object",
      "description": "Assets export job message.",
      "id": "AssetsExportJob",
      "properties": {
        "inventory": {
          "$ref": "AssetsExportJobInventory",
          "description": "Export asset inventory details."
        },
        "condition": {
          "$ref": "AssetsExportJobExportCondition",
          "description": "Optional. Conditions for selecting assets to export."
        },
        "performanceData": {
          "description": "Export asset with performance data.",
          "$ref": "AssetsExportJobPerformanceData"
        },
        "signedUriDestination": {
          "$ref": "SignedUriDestination",
          "description": "Export to Cloud Storage files downloadable using signed URIs."
        },
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        },
        "name": {
          "description": "Output only. Identifier. Resource name.",
          "readOnly": true,
          "type": "string"
        },
        "recentExecutions": {
          "description": "Output only. Recent non expired executions of the job.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AssetsExportJobExecution"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Resource creation time.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes."
        },
        "networkDependencies": {
          "$ref": "AssetsExportJobNetworkDependencies",
          "description": "Export data regarding asset network dependencies."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource update time.",
          "format": "google-datetime"
        }
      }
    },
    "DatabaseInstance": {
      "type": "object",
      "id": "DatabaseInstance",
      "properties": {
        "instanceName": {
          "description": "Optional. The instance's name.",
          "type": "string"
        },
        "role": {
          "description": "Optional. The instance role in the database engine.",
          "enumDescriptions": [
            "Unspecified.",
            "Primary.",
            "Secondary.",
            "Arbiter."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "ARBITER"
          ],
          "type": "string"
        },
        "network": {
          "$ref": "DatabaseInstanceNetwork",
          "description": "Optional. Networking details."
        }
      },
      "description": "Details of a database instance."
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "GenericInsight": {
      "id": "GenericInsight",
      "properties": {
        "defaultMessage": {
          "description": "Output only. In case message_code is not yet known by the client default_message will be the message to be used instead.",
          "readOnly": true,
          "type": "string"
        },
        "messageId": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Represents a globally unique message id for this insight, can be used for localization purposes, in case message_code is not yet known by the client use default_message instead."
        },
        "additionalInformation": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Additional information about the insight, each entry can be a logical entry and must make sense if it is displayed with line breaks between each entry. Text can contain md style links."
        }
      },
      "description": "A generic insight about an asset.",
      "type": "object"
    },
    "BiosDetails": {
      "description": "Details about the BIOS.",
      "id": "BiosDetails",
      "properties": {
        "version": {
          "type": "string",
          "description": "BIOS version."
        },
        "manufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        },
        "releaseDate": {
          "description": "BIOS release date.",
          "$ref": "Date"
        },
        "biosName": {
          "deprecated": true,
          "type": "string",
          "description": "BIOS name. This fields is deprecated. Please use the `id` field instead."
        },
        "id": {
          "description": "BIOS ID.",
          "type": "string"
        },
        "smbiosUuid": {
          "type": "string",
          "description": "SMBIOS UUID."
        }
      },
      "type": "object"
    },
    "VmwareDiskConfig": {
      "type": "object",
      "description": "VMware disk config details.",
      "id": "VmwareDiskConfig",
      "properties": {
        "rdmCompatibility": {
          "type": "string",
          "description": "RDM compatibility mode.",
          "enumDescriptions": [
            "Compatibility mode unspecified or unknown.",
            "Physical compatibility mode.",
            "Virtual compatibility mode."
          ],
          "enum": [
            "RDM_COMPATIBILITY_UNSPECIFIED",
            "PHYSICAL_COMPATIBILITY",
            "VIRTUAL_COMPATIBILITY"
          ]
        },
        "backingType": {
          "description": "VMDK backing type.",
          "enumDescriptions": [
            "Default value.",
            "Flat v1.",
            "Flat v2.",
            "Persistent memory, also known as Non-Volatile Memory (NVM).",
            "Raw Disk Memory v1.",
            "Raw Disk Memory v2.",
            "SEsparse is a snapshot format introduced in vSphere 5.5 for large disks.",
            "SEsparse v1.",
            "SEsparse v1."
          ],
          "enum": [
            "BACKING_TYPE_UNSPECIFIED",
            "BACKING_TYPE_FLAT_V1",
            "BACKING_TYPE_FLAT_V2",
            "BACKING_TYPE_PMEM",
            "BACKING_TYPE_RDM_V1",
            "BACKING_TYPE_RDM_V2",
            "BACKING_TYPE_SESPARSE",
            "BACKING_TYPE_SESPARSE_V1",
            "BACKING_TYPE_SESPARSE_V2"
          ],
          "type": "string"
        },
        "shared": {
          "type": "boolean",
          "description": "Is VMDK shared with other VMs."
        },
        "vmdkMode": {
          "description": "VMDK disk mode.",
          "enumDescriptions": [
            "VMDK disk mode unspecified or unknown.",
            "Dependent disk mode.",
            "Independent - Persistent disk mode.",
            "Independent - Nonpersistent disk mode."
          ],
          "enum": [
            "VMDK_MODE_UNSPECIFIED",
            "DEPENDENT",
            "INDEPENDENT_PERSISTENT",
            "INDEPENDENT_NONPERSISTENT"
          ],
          "type": "string"
        }
      }
    },
    "GuestConfigDetails": {
      "type": "object",
      "description": "Guest OS config information.",
      "id": "GuestConfigDetails",
      "properties": {
        "selinuxMode": {
          "type": "string",
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ],
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ]
        },
        "issue": {
          "description": "OS issue (typically /etc/issue in Linux).",
          "type": "string"
        },
        "hosts": {
          "description": "Hosts file (/etc/hosts).",
          "$ref": "HostsEntryList"
        },
        "nfsExports": {
          "description": "NFS exports.",
          "$ref": "NfsExportList"
        },
        "fstab": {
          "description": "Mount list (Linux fstab).",
          "$ref": "FstabEntryList"
        }
      }
    },
    "DiskUsageSample": {
      "description": "Disk usage sample. Values are across all disks.",
      "id": "DiskUsageSample",
      "properties": {
        "averageIops": {
          "description": "Optional. Average IOPS sampled over a short window. Must be non-negative. If read or write are set, the sum of read and write will override the value of the average_iops.",
          "format": "float",
          "type": "number"
        },
        "averageReadIops": {
          "type": "number",
          "format": "float",
          "description": "Optional. Average read IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored."
        },
        "averageWriteIops": {
          "type": "number",
          "description": "Optional. Average write IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "format": "float"
        }
      },
      "type": "object"
    },
    "SignedUriDestination": {
      "type": "object",
      "id": "SignedUriDestination",
      "properties": {
        "fileFormat": {
          "description": "Required. The file format to export.",
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
[...]
