{
  "ownerName": "Google",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "version": "v1alpha1",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "migrationcenter",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "title": "Migration Center API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "version_module": true,
  "revision": "20260813",
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "canonicalName": "Migration Center API",
  "id": "migrationcenter:v1alpha1",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "basePath": "",
  "protocol": "rest",
  "mtlsRootUrl": "https://migrationcenter.mtls.googleapis.com/",
  "batchPath": "batch",
  "schemas": {
    "AwsAutoscalingGroupDetails": {
      "description": "Asset information specific for AWS Autoscaling Group.",
      "id": "AwsAutoscalingGroupDetails",
      "type": "object",
      "properties": {}
    },
    "RunningService": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Service name."
        },
        "status": {
          "type": "string",
          "description": "Service status."
        },
        "startMode": {
          "type": "string",
          "description": "Service start mode (raw, OS-agnostic)."
        },
        "pid": {
          "description": "Service pid.",
          "type": "string",
          "format": "int64"
        },
        "state": {
          "type": "string",
          "description": "Service state (raw, OS-agnostic)."
        },
        "serviceName": {
          "type": "string",
          "description": "Service name."
        },
        "cmdline": {
          "type": "string",
          "description": "Service command line."
        },
        "exePath": {
          "description": "Service binary path.",
          "type": "string"
        }
      },
      "id": "RunningService",
      "description": "Guest OS running service details."
    },
    "ReportSummaryGroupPreferenceSetFinding": {
      "type": "object",
      "id": "ReportSummaryGroupPreferenceSetFinding",
      "description": "Summary Findings for a specific Group/PreferenceSet combination.",
      "properties": {
        "machineFinding": {
          "description": "Output only. A set of findings that applies to all virtual machines in the input. Only present for virtual machines.",
          "readOnly": true,
          "$ref": "ReportSummaryMachineFinding"
        },
        "topPriority": {
          "type": "string",
          "description": "Text describing the business priority specified for this Preference Set",
          "deprecated": true
        },
        "preferredRegion": {
          "type": "string",
          "description": "Target region for this Preference Set",
          "deprecated": true
        },
        "preferenceSet": {
          "description": "Output only. A copy of the preference set used for this finding.",
          "readOnly": true,
          "$ref": "PreferenceSet"
        },
        "databaseFinding": {
          "description": "Output only. Details about databases in this finding. Only present for databases.",
          "readOnly": true,
          "$ref": "ReportSummaryDatabaseFinding"
        },
        "monthlyCostPortableVmwareLicense": {
          "$ref": "Money",
          "description": "Output only. VMware portable license monthly cost for this preference set. Only present for VMware target with portable license service type. This cost is not paid to google, but is an estimate of license costs paid to VMware.",
          "readOnly": true
        },
        "monthlyCostDatabaseBackup": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. Backup monthly cost for this preference set. Only present for databases."
        },
        "monthlyCostOther": {
          "description": "Output only. Miscellaneous monthly cost for this preference set.",
          "$ref": "Money",
          "readOnly": true
        },
        "soleTenantFinding": {
          "$ref": "ReportSummarySoleTenantFinding",
          "description": "A set of findings that applies to Stole-Tenant machines in the input. Only present for virtual machines."
        },
        "machinePreferences": {
          "description": "A set of preferences that applies to all machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "vmwareEngineFinding": {
          "description": "A set of findings that applies to VMWare machines in the input. Only present for virtual machines.",
          "$ref": "ReportSummaryVMWareEngineFinding"
        },
        "monthlyCostGcveProtected": {
          "$ref": "Money",
          "readOnly": true,
          "description": "Output only. GCVE Protected nodes cost for this preference set."
        },
        "monthlyCostDatabaseLicensing": {
          "description": "Output only. Database licensing monthly cost for this preference set. Only present for databases.",
          "$ref": "Money",
          "readOnly": true
        },
        "monthlyCostOsLicense": {
          "description": "Output only. All operating systems licensing monthly cost for this preference set. Only present for virtual machines.",
          "$ref": "Money",
          "readOnly": true
        },
        "monthlyCostNetworkEgress": {
          "$ref": "Money",
          "readOnly": true,
          "description": "Output only. Network Egress monthly cost for this preference set. Only present for virtual machines."
        },
        "description": {
          "description": "Description for the Preference Set.",
          "type": "string"
        },
        "monthlyCostTotal": {
          "readOnly": true,
          "description": "Output only. Total monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostCompute": {
          "$ref": "Money",
          "description": "Output only. Compute monthly cost for this preference set.",
          "readOnly": true
        },
        "pricingTrack": {
          "type": "string",
          "deprecated": true,
          "description": "Text describing the pricing track specified for this Preference Set"
        },
        "displayName": {
          "description": "Display Name of the Preference Set",
          "type": "string"
        },
        "monthlyCostStorage": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. Storage monthly cost for this preference set."
        }
      }
    },
    "VirtualMachineArchitectureDetails": {
      "description": "Details of the VM architecture.",
      "id": "VirtualMachineArchitectureDetails",
      "type": "object",
      "properties": {
        "cpuSocketCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of processor sockets allocated to the machine."
        },
        "cpuManufacturer": {
          "description": "CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "bios": {
          "$ref": "BiosDetails",
          "description": "BIOS Details."
        },
        "cpuArchitecture": {
          "type": "string",
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc."
        },
        "firmware": {
          "type": "string",
          "description": "Firmware (BIOS/efi)."
        },
        "cpuThreadCount": {
          "type": "integer",
          "deprecated": true,
          "format": "int32",
          "description": "Deprecated: use VirtualMachineDetails.core_count instead. Number of CPU threads allocated to the machine."
        },
        "hyperthreading": {
          "type": "string",
          "description": "CPU hyperthreading support.",
          "enum": [
            "HYPER_THREADING_UNSPECIFIED",
            "HYPER_THREADING_DISABLED",
            "HYPER_THREADING_ENABLED"
          ],
          "enumDescriptions": [
            "Unknown (default value).",
            "Hyperthreading is disabled.",
            "Hyperthreading is enabled."
          ]
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "vendor": {
          "type": "string",
          "description": "Hardware vendor."
        }
      }
    },
    "DatabaseInstance": {
      "id": "DatabaseInstance",
      "type": "object",
      "description": "Details of a database instance.",
      "properties": {
        "role": {
          "description": "The instance role in the database engine.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "ARBITER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Primary.",
            "Secondary.",
            "Arbiter."
          ]
        },
        "network": {
          "description": "Optional. Networking details.",
          "$ref": "DatabaseInstanceNetwork"
        },
        "instanceName": {
          "description": "The instance's name.",
          "type": "string"
        }
      }
    },
    "FitDescriptor": {
      "description": "Describes the fit level of an asset for migration to a specific target.",
      "type": "object",
      "properties": {
        "fitLevel": {
          "type": "string",
          "enum": [
            "FIT_LEVEL_UNSPECIFIED",
            "FIT",
            "NO_FIT",
            "REQUIRES_EFFORT"
          ],
          "enumDescriptions": [
            "Not enough information.",
            "Fit.",
            "No Fit.",
            "Fit with effort."
          ],
          "description": "Output only. Fit level.",
          "readOnly": true
        }
      },
      "id": "FitDescriptor"
    },
    "AggregateAssetsValuesResponse": {
      "properties": {
        "results": {
          "description": "The aggregation results.",
          "items": {
            "$ref": "AggregationResult"
          },
          "type": "array"
        }
      },
      "id": "AggregateAssetsValuesResponse",
      "type": "object",
      "description": "A response to a request to aggregated assets values."
    },
    "SoleTenantNodeType": {
      "type": "object",
      "id": "SoleTenantNodeType",
      "properties": {
        "nodeName": {
          "type": "string",
          "description": "Name of the Sole Tenant node. Consult https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes"
        }
      },
      "description": "A Sole Tenant node type."
    },
    "PostgreSqlProperty": {
      "id": "PostgreSqlProperty",
      "description": "PostgreSql property.",
      "properties": {
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        },
        "numericValue": {
          "description": "Required. The property numeric value.",
          "format": "int64",
          "type": "string"
        },
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DatabaseDeploymentDetailsAggregatedStats": {
      "description": "Aggregated stats for the database deployment.",
      "type": "object",
      "id": "DatabaseDeploymentDetailsAggregatedStats",
      "properties": {
        "databaseCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of databases in the deployment."
        }
      }
    },
    "NetworkConnectionList": {
      "description": "Network connection list.",
      "id": "NetworkConnectionList",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Network connection entries.",
          "items": {
            "$ref": "NetworkConnection"
          }
        }
      }
    },
    "SqlServerFeature": {
      "id": "SqlServerFeature",
      "description": "SQL Server feature details.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Required. Field enabled is set when a feature is used on the source deployment."
        },
        "featureName": {
          "description": "Required. The feature name.",
          "type": "string"
        }
      }
    },
    "FstabEntry": {
      "properties": {
        "spec": {
          "type": "string",
          "description": "The block special device or remote filesystem to be mounted."
        },
        "file": {
          "description": "The mount point for the filesystem.",
          "type": "string"
        },
        "passno": {
          "type": "integer",
          "format": "int32",
          "description": "Used by the fsck(8) program to determine the order in which filesystem checks are done at reboot time."
        },
        "freq": {
          "description": "Used by dump to determine which filesystems need to be dumped.",
          "type": "integer",
          "format": "int32"
        },
        "vfstype": {
          "description": "The type of the filesystem.",
          "type": "string"
        },
        "mntops": {
          "type": "string",
          "description": "Mount options associated with the filesystem."
        }
      },
      "id": "FstabEntry",
      "type": "object",
      "description": "Single fstab entry."
    },
    "Insight": {
      "description": "An insight about an asset.",
      "type": "object",
      "id": "Insight",
      "properties": {
        "genericInsight": {
          "description": "Output only. A generic insight about an asset.",
          "$ref": "GenericInsight",
          "readOnly": true
        },
        "migrationInsight": {
          "$ref": "MigrationInsight",
          "description": "Output only. An insight about potential migrations for an asset.",
          "readOnly": true
        },
        "softwareInsight": {
          "readOnly": true,
          "description": "Output only. An insight regarding software detected on an asset.",
          "$ref": "SoftwareInsight"
        }
      }
    },
    "ReportSummaryChartDataDataPoint": {
      "type": "object",
      "id": "ReportSummaryChartDataDataPoint",
      "properties": {
        "value": {
          "description": "The Y-axis value for this data point.",
          "format": "double",
          "type": "number"
        },
        "label": {
          "description": "The X-axis label for this data point.",
          "type": "string"
        }
      },
      "description": "Describes a single data point in the Chart."
    },
    "AwsS3BucketDetailsObjectsMetadata": {
      "type": "object",
      "properties": {
        "totalObjects": {
          "$ref": "AwsS3BucketDetailsObjectsMetadataTotalObjects",
          "description": "Optional. The total number of objects in the bucket."
        }
      },
      "description": "The metadata of the objects in the bucket.",
      "id": "AwsS3BucketDetailsObjectsMetadata"
    },
    "ListRelationsResponse": {
      "id": "ListRelationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "relations": {
          "description": "A list of relations.",
          "type": "array",
          "items": {
            "$ref": "Relation"
          }
        }
      },
      "description": "Response message for listing relations.",
      "type": "object"
    },
    "ReportConfigGroupPreferenceSetAssignment": {
      "properties": {
        "group": {
          "type": "string",
          "description": "Required. Name of the group."
        },
        "preferenceSet": {
          "type": "string",
          "description": "Required. Name of the Preference Set."
        }
      },
      "description": "Represents a combination of a group with a preference set.",
      "type": "object",
      "id": "ReportConfigGroupPreferenceSetAssignment"
    },
    "ReportSummaryVMWareEngineFinding": {
      "id": "ReportSummaryVMWareEngineFinding",
      "properties": {
        "nodeAllocations": {
          "description": "Set of per-nodetype allocation records",
          "items": {
            "$ref": "ReportSummaryVMWareNodeAllocation"
          },
          "type": "array"
        },
        "allocatedRegions": {
          "description": "Set of regions in which the assets were allocated",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allocatedAssetCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of assets which are allocated"
        }
      },
      "description": "A set of findings that applies to assets destined for VMWare Engine.",
      "type": "object"
    },
    "DatabaseSchema": {
      "description": "Details of a database schema.",
      "id": "DatabaseSchema",
      "type": "object",
      "properties": {
        "tablesSizeBytes": {
          "type": "string",
          "description": "The total size of tables in bytes.",
          "format": "int64"
        },
        "schemaName": {
          "description": "The name of the schema.",
          "type": "string"
        },
        "postgresql": {
          "$ref": "PostgreSqlSchemaDetails",
          "description": "Details of a PostgreSql schema."
        },
        "objects": {
          "type": "array",
          "description": "List of details of objects by category.",
          "items": {
            "$ref": "DatabaseObjects"
          }
        },
        "mysql": {
          "description": "Details of a Mysql schema.",
          "$ref": "MySqlSchemaDetails"
        },
        "sqlServer": {
          "description": "Details of a SqlServer schema.",
          "$ref": "SqlServerSchemaDetails"
        }
      }
    },
    "AzureVmPlatformDetails": {
      "description": "Azure VM specific details.",
      "type": "object",
      "properties": {
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        },
        "location": {
          "type": "string",
          "description": "The location of the machine in the Azure format."
        },
        "provisioningState": {
          "type": "string",
          "description": "Azure platform's provisioning state."
        },
        "machineTypeLabel": {
          "type": "string",
          "description": "Azure platform's machine type label."
        }
      },
      "id": "AzureVmPlatformDetails"
    },
    "DiskPartitionDetails": {
      "type": "object",
      "properties": {
        "totalCapacityBytes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Total capacity of all partitions.",
          "readOnly": true
        },
        "freeSpaceBytes": {
          "type": "string",
          "description": "Output only. Total free space of all partitions.",
          "readOnly": true,
          "format": "int64"
        },
        "partitions": {
          "description": "Optional. List of partitions.",
          "$ref": "DiskPartitionList"
        }
      },
      "description": "Disk partition details.",
      "id": "DiskPartitionDetails"
    },
    "ReportSummaryHistogramChartData": {
      "properties": {
        "buckets": {
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          },
          "type": "array",
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity."
        }
      },
      "type": "object",
      "id": "ReportSummaryHistogramChartData",
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket."
    },
    "OpenFileDetails": {
      "id": "OpenFileDetails",
      "description": "Open file Information.",
      "type": "object",
      "properties": {
        "user": {
          "type": "string",
          "description": "Opened file user."
        },
        "filePath": {
          "description": "Opened file file path.",
          "type": "string"
        },
        "command": {
          "type": "string",
          "description": "Opened file command."
        },
        "fileType": {
          "type": "string",
          "description": "Opened file file type."
        }
      }
    },
    "DatabasePreferencesCloudSqlSqlServer": {
      "id": "DatabasePreferencesCloudSqlSqlServer",
      "description": "Preferences for SQL Server on Cloud SQL.",
      "properties": {
        "versionType": {
          "enumDescriptions": [
            "Unspecified SQL Server version type.",
            "Version will be deduced from the source asset.",
            "Version will be one of \"Express\" versions.",
            "Version will be one of \"Web\" versions.",
            "Version will be one of \"Standard\" versions.",
            "Version will be one of \"Enterprise\" versions."
          ],
          "type": "string",
          "description": "Optional. Edition of Microsoft SQL version that is used on a Cloud SQL for SQL server instance.",
          "enum": [
            "VERSION_TYPE_UNSPECIFIED",
            "VERSION_TYPE_AUTO",
            "VERSION_TYPE_EXPRESS",
            "VERSION_TYPE_WEB",
            "VERSION_TYPE_STANDARD",
            "VERSION_TYPE_ENTERPRISE"
          ]
        },
        "common": {
          "description": "Optional. Preferences to Cloud SQL databases.",
          "$ref": "DatabasePreferencesCloudSqlCommon"
        },
        "multithreading": {
          "type": "string",
          "enum": [
            "MULTITHREADING_UNSPECIFIED",
            "MULTITHREADING_DISABLED",
            "MULTITHREADING_ENABLED",
            "MULTITHREADING_DISABLED_WITH_COMPENSATION"
          ],
          "description": "Optional. Preferences for multithreading support.",
          "enumDescriptions": [
            "Same as MULTITHREADING_AUTO.",
            "Disable simultaneous multithreading.",
            "Enable simultaneous multithreading.",
            "Disable simultaneous multithreading and increase number of VCPUs to compensate."
          ]
        }
      },
      "type": "object"
    },
    "Issue": {
      "id": "Issue",
      "type": "object",
      "description": "An issue associated with a migration.",
      "properties": {
        "issueCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier for this issue type."
        },
        "compatibilityIssue": {
          "$ref": "IssueCompatibilityIssue",
          "description": "Output only. Details about a compatibility issue.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. English description of the issue."
        }
      }
    },
    "AwsElasticNetworkInterfaceDetails": {
      "type": "object",
      "description": "Asset information specific for AWS Elastic Network Interfaces.",
      "properties": {},
      "id": "AwsElasticNetworkInterfaceDetails"
    },
    "ReportSummaryHistogramChartDataBucket": {
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "id": "ReportSummaryHistogramChartDataBucket",
      "type": "object",
      "properties": {
        "lowerBound": {
          "format": "int64",
          "description": "Lower bound - inclusive.",
          "type": "string"
        },
        "upperBound": {
          "description": "Upper bound - exclusive.",
          "type": "string",
          "format": "int64"
        },
        "count": {
          "format": "int64",
          "description": "Count of items in the bucket.",
          "type": "string"
        }
      }
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        }
      },
      "id": "TimeZone",
      "type": "object"
    },
    "CloudSqlForMySqlShape": {
      "properties": {
        "egressGbPerMonth": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Predicted Network Out traffic GiB per month."
        },
        "memoryMb": {
          "description": "Output only. Predicted amount of memory in MiB.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "enum": [
            "MY_SQL_VERSION_UNSPECIFIED",
            "MY_SQL_VERSION_5_6",
            "MY_SQL_VERSION_5_7",
            "MY_SQL_VERSION_8_0"
          ],
          "description": "Output only. MySQL version to be used on the Cloud SQL for MySQL instance.",
          "enumDescriptions": [
            "Unspecified MySQL version.",
            "MySQL 5.6.",
            "MySQL 5.7.",
            "MySQL 8.0."
          ],
          "readOnly": true
        },
        "backupStorageGb": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Predicted backup storage size in GiB.",
          "readOnly": true
        },
        "edition": {
          "description": "Output only. Cloud SQL edition.",
          "type": "string",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ]
        },
        "storage": {
          "readOnly": true,
          "description": "Output only. Predicted storage shape.",
          "$ref": "ComputeStorageDescriptor"
        },
        "zoneAvailability": {
          "type": "string",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "description": "Output only. Cloud SQL zone availability.",
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "readOnly": true
        }
      },
      "id": "CloudSqlForMySqlShape",
      "type": "object",
      "description": "Cloud SQL for MySQL database shape."
    },
    "ReportSummaryUtilizationChartData": {
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets.",
      "properties": {
        "used": {
          "format": "int64",
          "description": "Aggregate value which falls into the \"Used\" bucket.",
          "type": "string"
        },
        "free": {
          "format": "int64",
          "type": "string",
          "description": "Aggregate value which falls into the \"Free\" bucket."
        }
      },
      "type": "object",
      "id": "ReportSummaryUtilizationChartData"
    },
    "FileValidationReport": {
      "description": "A resource that aggregates the validation errors found in an import job file.",
      "id": "FileValidationReport",
      "type": "object",
      "properties": {
        "rowErrors": {
          "items": {
            "$ref": "ImportRowError"
          },
          "type": "array",
          "description": "Partial list of rows that encountered validation error."
        },
        "fileErrors": {
          "description": "List of file level errors.",
          "type": "array",
          "items": {
            "$ref": "ImportError"
          }
        },
        "fileName": {
          "description": "The name of the file.",
          "type": "string"
        },
        "partialReport": {
          "description": "Flag indicating that processing was aborted due to maximum number of errors.",
          "type": "boolean"
        }
      }
    },
    "ReportSummaryVMWareNodeAllocation": {
      "properties": {
        "allocatedAssetCount": {
          "description": "Count of assets allocated to these nodes",
          "format": "int64",
          "type": "string"
        },
        "nodeCount": {
          "format": "int64",
          "description": "Count of this node type to be provisioned",
          "type": "string"
        },
        "vmwareNode": {
          "$ref": "ReportSummaryVMWareNode",
          "description": "VMWare node type, e.g. \"ve1-standard-72\""
        }
      },
      "id": "ReportSummaryVMWareNodeAllocation",
      "description": "Represents assets allocated to a specific VMWare Node type.",
      "type": "object"
    },
    "InlinePayloadInfo": {
      "type": "object",
      "description": "A resource that represents the inline import job payload.",
      "id": "InlinePayloadInfo",
      "properties": {
        "payload": {
          "type": "array",
          "description": "List of payload files.",
          "items": {
            "$ref": "PayloadFile"
          }
        },
        "format": {
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "description": "The import job format.",
          "type": "string"
        }
      }
    },
    "SqlServerTraceFlag": {
      "type": "object",
      "properties": {
        "scope": {
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "OFF",
            "GLOBAL",
            "SESSION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Off.",
            "Global.",
            "Session."
          ],
          "description": "Required. The trace flag scope."
        },
        "traceFlagName": {
          "description": "Required. The trace flag name.",
          "type": "string"
        }
      },
      "id": "SqlServerTraceFlag",
      "description": "SQL Server trace flag details."
    },
    "ValidateImportJobRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "A request to validate an import job.",
      "id": "ValidateImportJobRequest"
    },
    "ReportSummarySoleTenantFinding": {
      "id": "ReportSummarySoleTenantFinding",
      "description": "A set of findings that applies to assets destined for Sole-Tenant nodes.",
      "type": "object",
      "properties": {
        "allocatedRegions": {
          "description": "Set of regions in which the assets are allocated",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allocatedAssetCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of assets which are allocated"
        },
        "nodeAllocations": {
          "description": "Set of per-nodetype allocation records",
          "type": "array",
          "items": {
            "$ref": "ReportSummarySoleTenantNodeAllocation"
          }
        }
      }
    },
    "DiskEntry": {
      "description": "Single disk entry.",
      "type": "object",
      "properties": {
        "diskLabel": {
          "description": "Disk label.",
          "type": "string"
        },
        "diskLabelType": {
          "description": "Disk label type (e.g. BIOS/GPT)",
          "type": "string"
        },
        "freeSpaceBytes": {
          "type": "string",
          "description": "Disk free space.",
          "format": "int64"
        },
        "partitions": {
          "description": "Partition layout.",
          "$ref": "DiskPartitionList"
        },
        "totalFreeBytes": {
          "description": "Disk free space.",
          "format": "int64",
          "type": "string"
        },
        "interfaceType": {
          "type": "string",
          "description": "Disks interface type (e.g. SATA/SCSI)"
        },
        "status": {
          "type": "string",
          "description": "Disk status (e.g. online)."
        },
        "capacityBytes": {
          "type": "string",
          "format": "int64",
          "description": "Disk capacity."
        },
        "hwAddress": {
          "type": "string",
          "description": "Disk hardware address (e.g. 0:1 for SCSI)."
        },
        "totalCapacityBytes": {
          "type": "string",
          "format": "int64",
          "description": "Disk capacity."
        }
      },
      "id": "DiskEntry"
    },
    "AwsS3BucketDetailsVersioning": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether versioning is enabled."
        }
      },
      "id": "AwsS3BucketDetailsVersioning",
      "description": "Versioning configuration of the bucket."
    },
    "BatchUpdateAssetsRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.",
          "items": {
            "$ref": "UpdateAssetRequest"
          }
        }
      },
      "id": "BatchUpdateAssetsRequest",
      "description": "A request to update a list of assets."
    },
    "OperationMetadata": {
      "properties": {
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "VirtualMachineDiskDetails": {
      "properties": {
        "hddTotalFreeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Total Disk Free Space."
        },
        "hddTotalCapacityBytes": {
          "description": "Disk total Capacity.",
          "format": "int64",
          "type": "string"
        },
        "disks": {
          "$ref": "DiskEntryList",
          "description": "List of disks."
        },
        "lsblkJson": {
          "type": "string",
          "description": "Raw lsblk output in json."
        }
      },
      "description": "Details of VM disks.",
      "id": "VirtualMachineDiskDetails",
      "type": "object"
    },
    "ReportSummaryMachineFinding": {
      "id": "ReportSummaryMachineFinding",
      "description": "A set of findings that applies to assets of type Virtual/Physical Machine.",
      "properties": {
        "machineSeriesAllocations": {
          "description": "Distribution of assets based on the Machine Series.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryMachineSeriesAllocation"
          }
        },
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Count of assets which were allocated.",
          "type": "string"
        },
        "allocatedRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Set of regions in which the assets were allocated."
        },
        "allocatedDiskTypes": {
          "deprecated": true,
          "description": "@deprecated. Use storage_allocations instead. Set of disk types allocated to assets.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified. Fallback to default value based on context.",
              "Standard HDD Persistent Disk.",
              "Balanced Persistent Disk.",
              "SSD Persistent Disk."
            ],
            "enum": [
              "PERSISTENT_DISK_TYPE_UNSPECIFIED",
              "PERSISTENT_DISK_TYPE_STANDARD",
              "PERSISTENT_DISK_TYPE_BALANCED",
              "PERSISTENT_DISK_TYPE_SSD"
            ]
          }
        }
      },
      "type": "object"
    },
    "DatabaseInstanceNetwork": {
      "properties": {
        "primaryMacAddress": {
          "type": "string",
          "description": "Optional. The instance's primary MAC address."
        },
        "hostNames": {
          "type": "array",
          "description": "Optional. The instance's host names.",
          "items": {
            "type": "string"
          }
        },
        "ipAddresses": {
          "description": "Optional. The instance's IP addresses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Network details of a database instance.",
      "id": "DatabaseInstanceNetwork"
    },
    "PostgreSqlSchemaDetails": {
      "description": "Specific details for a PostgreSql schema.",
      "type": "object",
      "properties": {
        "foreignTablesCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. PostgreSql foreign tables."
        },
        "postgresqlExtensions": {
          "items": {
            "$ref": "PostgreSqlExtension"
          },
          "description": "Optional. PostgreSql extensions.",
          "type": "array"
        }
      },
      "id": "PostgreSqlSchemaDetails"
    },
    "HostsEntry": {
      "description": "Single /etc/hosts entry.",
      "type": "object",
      "id": "HostsEntry",
      "properties": {
        "hostNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of host names / aliases."
        },
        "ip": {
          "type": "string",
          "description": "IP (raw, IPv4/6 agnostic)."
        }
      }
    },
    "CsvOutputFile": {
      "properties": {
        "signedUri": {
          "description": "Output only. Signed URI destination.",
          "readOnly": true,
          "$ref": "SignedUri"
        },
        "rowCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of rows in the file."
        },
        "columnsCount": {
          "description": "Output only. Number of columns in the file.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Contains a single output file of type CSV.",
      "id": "CsvOutputFile",
      "type": "object"
    },
    "IssueCompatibilityIssue": {
      "id": "IssueCompatibilityIssue",
      "properties": {
        "associatedObject": {
          "readOnly": true,
          "description": "Output only. Name of the object associated with this compatibility issue relative to the relevant asset. Does not represent a fully qualified resource name and is not intended for programmatic use.",
          "type": "string"
        },
        "associatedObjectType": {
          "enumDescriptions": [
            "An unspecified object type.",
            "A database deployment object type.",
            "A logical database object type.",
            "A schema object type."
          ],
          "description": "Output only. Type of object associated with this migration compatibility issue.",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "DATABASE_DEPLOYMENT",
            "DATABASE",
            "SCHEMA"
          ],
          "type": "string",
          "readOnly": true
        },
        "associatedValue": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A string representation of actual value associated with this issue. Some values may contain aggregated information, such as a flag name and the actual value assigned to it."
        },
        "category": {
          "enumDescriptions": [
            "An unspecified compatibility category.",
            "Database flag compatibility category.",
            "Database feature compatibility category."
          ],
          "readOnly": true,
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "DATABASE_FLAG",
            "DATABASE_FEATURE"
          ],
          "type": "string",
          "description": "Output only. Category of this compatibility issue."
        }
      },
      "type": "object",
      "description": "Details about a compatibility issue."
    },
    "SignedUriDestination": {
      "id": "SignedUriDestination",
      "properties": {
        "fileFormat": {
          "description": "Required. The file format to export.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
            "XLSX file format which used in Excel."
          ],
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        }
      },
      "type": "object",
      "description": "Signed URI destination configuration."
    },
    "MachineNetworkDetails": {
      "properties": {
        "publicIpAddress": {
          "type": "string",
          "description": "The public IP address of the machine."
        },
        "primaryIpAddress": {
          "type": "string",
          "description": "The primary IP address of the machine."
        },
        "defaultGateway": {
          "type": "string",
          "description": "Default gateway address."
        },
        "networkAdapters": {
          "$ref": "NetworkAdapterList",
          "description": "List of network adapters."
        },
        "primaryMacAddress": {
          "type": "string",
          "description": "MAC address of the machine. This property is used to uniqly identify the machine."
        }
      },
      "description": "Details of network adapters and settings.",
      "type": "object",
      "id": "MachineNetworkDetails"
    },
    "AggregationHistogram": {
      "properties": {
        "lowerBounds": {
          "description": "Lower bounds of buckets. The response will contain `n+1` buckets for `n` bounds. The first bucket will count all assets for which the field value is smaller than the first bound. Subsequent buckets will count assets for which the field value is greater or equal to a lower bound and smaller than the next one. The last bucket will count assets for which the field value is greater or equal to the final lower bound. You can define up to 20 lower bounds.",
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      },
      "description": "Histogram of bucketed assets counts by field value.",
      "type": "object",
      "id": "AggregationHistogram"
    },
    "DailyResourceUsageAggregationStats": {
      "id": "DailyResourceUsageAggregationStats",
      "description": "Statistical aggregation of samples for a single resource usage.",
      "type": "object",
      "properties": {
        "ninteyFifthPercentile": {
          "type": "number",
          "description": "95th percentile usage value.",
          "format": "float"
        },
        "peak": {
          "description": "Peak usage value.",
          "type": "number",
          "format": "float"
        },
        "median": {
          "format": "float",
          "type": "number",
          "description": "Median usage value."
        },
        "average": {
          "type": "number",
          "format": "float",
          "description": "Average usage value."
        }
      }
    },
    "OutputFileList": {
      "id": "OutputFileList",
      "properties": {
        "entries": {
          "type": "array",
          "description": "List of output files.",
          "items": {
            "$ref": "OutputFile"
          }
        }
      },
      "description": "Contains a list of output files.",
      "type": "object"
    },
    "ComputeStorageDescriptor": {
      "id": "ComputeStorageDescriptor",
      "type": "object",
      "description": "Compute Engine storage option descriptor.",
      "properties": {
        "sizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Disk size in GiB."
        },
        "type": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "type": "string",
          "description": "Output only. Disk type backing the storage."
        }
      }
    },
    "AwsNatGatewayDetails": {
      "description": "Details of an AWS NAT Gateway.",
      "id": "AwsNatGatewayDetails",
      "properties": {},
      "type": "object"
    },
    "DiscoveryClientDiscoveryClientRecommendedVersion": {
      "description": "Discovery client recommended version.",
      "id": "DiscoveryClientDiscoveryClientRecommendedVersion",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Output only. The URI of the discovery client version.",
          "type": "string",
          "readOnly": true
        },
        "version": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The version of the discovery client."
        }
      }
    },
    "OutputFile": {
      "id": "OutputFile",
      "properties": {
        "xlsxOutputFile": {
          "description": "Output only. XLSX output file.",
          "$ref": "XlsxOutputFile",
          "readOnly": true
        },
        "csvOutputFile": {
          "readOnly": true,
          "$ref": "CsvOutputFile",
          "description": "Output only. CSV output file."
        },
        "fileSizeBytes": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. File size in bytes.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains a single output file."
    },
    "ListReportExportJobsResponse": {
      "type": "object",
      "description": "Response message for listing report export jobs.",
      "id": "ListReportExportJobsResponse",
      "properties": {
        "reportExportJobs": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of report export jobs.",
          "items": {
            "$ref": "ReportExportJob"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ReportExportJob": {
      "id": "ReportExportJob",
      "properties": {
        "recentExecutions": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Recent not expired executions of the export report job.",
          "items": {
            "$ref": "ReportExportExecution"
          }
        },
        "signedUriDestination": {
          "description": "Export with a SignedUri.",
          "$ref": "SignedUriDestination"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Resource name.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Report export job message."
    },
    "Report": {
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "id": "Report",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Creation timestamp.",
          "type": "string"
        },
        "summary": {
          "readOnly": true,
          "$ref": "ReportSummary",
          "description": "Output only. Summary view of the Report."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Last update timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Free-text description."
        },
        "type": {
          "enumDescriptions": [
            "Default report type.",
            "Total cost of ownership report type."
          ],
          "description": "Report type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ],
          "type": "string"
        },
        "state": {
          "description": "Report creation state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of resource."
        }
      }
    },
    "NetworkConnection": {
      "id": "NetworkConnection",
      "properties": {
        "protocol": {
          "description": "Connection protocol (e.g. TCP/UDP).",
          "type": "string"
        },
        "remoteIpAddress": {
          "type": "string",
          "description": "Remote IP address."
        },
        "remotePort": {
          "type": "integer",
          "description": "Remote port.",
          "format": "int32"
        },
        "localIpAddress": {
          "description": "Local IP address.",
          "type": "string"
        },
        "pid": {
          "type": "string",
          "description": "Process ID.",
          "format": "int64"
        },
        "localPort": {
          "format": "int32",
          "type": "integer",
          "description": "Local port."
        },
        "processName": {
          "description": "Process or service name.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Connection state (e.g. CONNECTED)."
        }
      },
      "type": "object"
    },
    "DiskEntryList": {
      "id": "DiskEntryList",
      "description": "VM disks.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Disk entries.",
          "items": {
            "$ref": "DiskEntry"
          },
          "type": "array"
        }
      }
    },
    "AggregationResultSum": {
      "properties": {
        "value": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "description": "The result of a sum aggregation.",
      "id": "AggregationResultSum"
    },
    "AssetsExportJobPerformanceData": {
      "type": "object",
      "properties": {
        "maxDays": {
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Configuration for performance data exports.",
      "id": "AssetsExportJobPerformanceData"
    },
    "AwsInternetGatewayDetails": {
      "properties": {},
      "description": "Asset information specific for AWS Internet Gateways.",
      "id": "AwsInternetGatewayDetails",
      "type": "object"
    },
    "DatabasePreferences": {
      "id": "DatabasePreferences",
      "description": "DatabasePreferences enables you to create sets of preferences for your migrated databases.",
      "properties": {
        "postgresqlToCloudSqlForPostgresqlPreferences": {
          "$ref": "DatabasePreferencesCloudSqlPostgreSql",
          "description": "Optional. Preferences for target PostgreSQL on Cloud SQL when migrating from source PostgreSQL."
        },
        "mysqlToCloudSqlForMysqlPreferences": {
          "description": "Optional. Preferences for target MySQL on Cloud SQL when migrating from source MySQL.",
          "$ref": "DatabasePreferencesCloudSqlMySql"
        },
        "mssqlToCloudSqlForSqlServerPreferences": {
          "$ref": "DatabasePreferencesCloudSqlSqlServer",
          "description": "Optional. Preferences for target SQL Server on Cloud SQL when migrating from source Microsoft SQL server."
        }
      },
      "type": "object"
    },
    "SqlServerSchemaDetails": {
      "description": "Specific details for a SqlServer database.",
      "properties": {
        "clrObjectCount": {
          "description": "Optional. SqlServer number of CLR objects.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "SqlServerSchemaDetails",
      "type": "object"
    },
    "Source": {
      "description": "Source represents an object from which asset information is streamed to Migration Center.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The full name of the source.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the source was last updated."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ],
          "description": "Output only. The state of the source.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING",
            "INVALID"
          ],
          "type": "string",
          "readOnly": true
        },
        "type": {
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "description": "Data source type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ]
        },
        "description": {
          "type": "string",
          "description": "Free-text description."
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name."
        },
        "isManaged": {
          "type": "boolean",
          "description": "If `true`, the source is managed by other service(s)."
        },
        "priority": {
          "format": "int32",
          "type": "integer",
          "description": "The information confidence of the source. The higher the value, the higher the confidence."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the source was created.",
          "format": "google-datetime"
        },
        "errorFrameCount": {
          "description": "Output only. The number of frames that were reported by the source and contained errors.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "pendingFrameCount": {
          "type": "integer",
          "description": "Output only. Number of frames that are still being processed.",
          "readOnly": true,
          "format": "int32"
        }
      },
      "id": "Source"
    },
    "ReportSummaryAssetAggregateStatsEstimatedUsageStats": {
      "properties": {
        "totalVirtualMachinesUsingEstimatedUsage": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of virtual machines in this finding that are using at least one estimated usage metric for rightsizing."
        },
        "totalAssetsUsingEstimatedUsage": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The number of assets that are using at least one estimated usage metric for rightsizing.",
          "type": "string"
        }
      },
      "id": "ReportSummaryAssetAggregateStatsEstimatedUsageStats",
      "type": "object",
      "description": "Estimated usage stats for the assets in this collection."
    },
    "ListImportDataFilesResponse": {
      "description": "Response for listing payload files of an import job.",
      "type": "object",
      "id": "ListImportDataFilesResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "importDataFiles": {
          "items": {
            "$ref": "ImportDataFile"
          },
          "description": "The list of import data files.",
          "type": "array"
        }
      }
    },
    "XlsxOutputFile": {
      "properties": {
        "signedUri": {
          "$ref": "SignedUri",
          "description": "Output only. Signed URI destination.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "XlsxOutputFile",
      "description": "Contains a single output file of type XLSX."
    },
    "VirtualMachineDetails": {
      "properties": {
        "vcenterFolder": {
          "type": "string",
          "description": "Folder name in vCenter where asset resides."
        },
        "osFamily": {
          "type": "string",
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ],
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ],
          "description": "What family the OS belong to, if known."
        },
        "powerState": {
          "description": "Power state of VM (poweredOn or poweredOff).",
          "type": "string"
        },
        "vmDisks": {
          "description": "VM disk details.",
          "$ref": "VirtualMachineDiskDetails"
        },
        "osName": {
          "description": "The name of the operating system running on the VirtualMachine.",
          "type": "string"
        },
        "vcenterVmId": {
          "type": "string",
          "description": "vCenter VM ID."
        },
        "memoryMb": {
          "format": "int32",
          "description": "The amount of memory in the VirtualMachine. Must be non-negative.",
          "type": "integer"
        },
        "osVersion": {
          "type": "string",
          "description": "The version of the operating system running on the virtual machine."
        },
        "coreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of logical CPU cores in the VirtualMachine. Must be non-negative."
        },
        "vmName": {
          "type": "string",
          "description": "Virtual Machine display name."
        },
        "createTime": {
          "description": "VM creation timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "vmNetwork": {
          "description": "VM network details.",
          "$ref": "VirtualMachineNetworkDetails"
        },
        "guestOs": {
          "$ref": "GuestOsDetails",
          "description": "Guest OS information."
        },
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        },
        "vmArchitecture": {
          "description": "VM architecture details (vendor, cpu arch).",
          "$ref": "VirtualMachineArchitectureDetails"
        },
        "platform": {
          "$ref": "PlatformDetails",
          "description": "Platform information."
        },
        "vcenterUrl": {
          "description": "vCenter URL used in collection.",
          "type": "string"
        },
        "vmUuid": {
          "type": "string",
          "description": "Virtual Machine unique identifier."
        }
      },
      "id": "VirtualMachineDetails",
      "type": "object",
      "description": "Details of a VirtualMachine."
    },
    "VMwareEngineMachinePreferences": {
      "id": "VMwareEngineMachinePreferences",
      "type": "object",
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations for VMware Engine. Not all machine types are available in all zones and regions.",
      "properties": {
        "storageOnlyNodes": {
          "enumDescriptions": [
            "Unspecified storage-only nodes preference.",
            "Use storage-only nodes for selected allowed_machine_series, if available.",
            "Do not use storage-only nodes."
          ],
          "type": "string",
          "enum": [
            "STORAGE_ONLY_NODES_UNSPECIFIED",
            "STORAGE_ONLY_NODES_ENABLED",
            "STORAGE_ONLY_NODES_DISABLED"
          ],
          "description": "Optional. Whether to use storage-only nodes, if those are available."
        },
        "protectedNodes": {
          "type": "string",
          "enum": [
            "PROTECTED_NODES_UNSPECIFIED",
            "PROTECTED_NODES_ENABLED",
            "PROTECTED_NODES_DISABLED"
          ],
          "enumDescriptions": [
            "Unspecified protected nodes preference.",
            "Use only protected nodes for the selected allowed_machine_series.",
            "Do not use protected nodes."
          ],
          "description": "Optional. Whether to use VMware Engine Protected offering."
        },
        "allowedMachineSeries": {
          "description": "Optional. VMware Engine on Google Cloud machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "type": "array",
          "items": {
            "$ref": "MachineSeries"
          }
        }
      }
    },
    "AggregationFrequency": {
      "properties": {},
      "type": "object",
      "id": "AggregationFrequency",
      "description": "Frequency distribution of all field values."
    },
    "VmwareEngineMigrationTarget": {
      "id": "VmwareEngineMigrationTarget",
      "type": "object",
      "description": "VMWare engine migration target.",
      "properties": {}
    },
    "DatabaseDetails": {
      "description": "Details of a logical database.",
      "type": "object",
      "id": "DatabaseDetails",
      "properties": {
        "databaseName": {
          "description": "The name of the database.",
          "type": "string"
        },
        "schemas": {
          "items": {
            "$ref": "DatabaseSchema"
          },
          "description": "The database schemas.",
          "type": "array"
        },
        "allocatedStorageBytes": {
          "description": "The allocated storage for the database in bytes.",
          "format": "int64",
          "type": "string"
        },
        "parentDatabaseDeployment": {
          "description": "The parent database deployment that contains the logical database.",
          "$ref": "DatabaseDetailsParentDatabaseDeployment"
        }
      }
    },
    "ImportJob": {
      "properties": {
        "inlinePayload": {
          "description": "The payload is included in the request, mainly used for small import jobs.",
          "$ref": "InlinePayloadInfo"
        },
        "validationReport": {
          "$ref": "ValidationReport",
          "description": "Output only. The report with the validation results of the import job.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was last updated.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ],
          "readOnly": true,
          "description": "Output only. The state of the import job."
        },
        "assetSource": {
          "description": "Required. Reference to a source.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full name of the import job."
        },
        "executionReport": {
          "$ref": "ExecutionReport",
          "description": "Output only. The report with the results of running the import job.",
          "readOnly": true
        },
        "gcsPayload": {
          "description": "The payload is in Google Cloud Storage.",
          "deprecated": true,
          "$ref": "GCSPayloadInfo"
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "completeTime": {
          "description": "Output only. The timestamp when the import job was completed.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the import job was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A resource that represents the background job that imports asset frames.",
      "id": "ImportJob"
    },
    "ComputeEngineSoleTenantMigrationTarget": {
      "properties": {},
      "description": "Compute engine sole tenant migration target.",
      "id": "ComputeEngineSoleTenantMigrationTarget",
      "type": "object"
    },
    "HostingProviderDetailsAws": {
      "id": "HostingProviderDetailsAws",
      "properties": {
        "owningAccountId": {
          "type": "string",
          "description": "Optional. The AWS account ID owning the resource represented by this asset."
        }
      },
      "description": "Details for AWS platform.",
      "type": "object"
    },
    "AwsEksClusterDetails": {
      "id": "AwsEksClusterDetails",
      "properties": {},
      "description": "Asset information specific for AWS EKS clusters.",
      "type": "object"
    },
    "SendDiscoveryClientHeartbeatRequest": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. Client application version."
        },
        "errors": {
          "description": "Optional. Errors affecting client functionality.",
          "items": {
            "$ref": "Status"
          },
          "type": "array"
        }
      },
      "id": "SendDiscoveryClientHeartbeatRequest",
      "description": "A request to send a discovery client heartbeat."
    },
    "AwsGlueJobDetails": {
      "properties": {},
      "id": "AwsGlueJobDetails",
      "type": "object",
      "description": "Contains details for an AWS Glue Job asset."
    },
    "AwsFirehoseDetails": {
      "description": "Contains details for an AWS Firehose asset.",
      "type": "object",
      "id": "AwsFirehoseDetails",
      "properties": {}
    },
    "ListSourcesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "Source"
          },
          "description": "The list of sources."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListSourcesResponse",
      "type": "object",
      "description": "Response message for listing sources."
    },
    "DiskUsageSample": {
      "description": "Disk usage sample. Values are across all disks.",
      "id": "DiskUsageSample",
      "properties": {
        "averageIops": {
          "format": "float",
          "description": "Average IOPS sampled over a short window. Must be non-negative. If read or write are set, the sum of read and write will override the value of the average_iops.",
          "type": "number"
        },
        "averageReadIops": {
          "description": "Average read IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "type": "number",
          "format": "float"
        },
        "averageWriteIops": {
          "description": "Average write IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "AssetPerformanceData": {
      "type": "object",
      "id": "AssetPerformanceData",
      "description": "Performance data for an asset.",
      "properties": {
        "dailyResourceUsageAggregations": {
          "type": "array",
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          },
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent."
        }
      }
    },
    "HostingProviderDetails": {
      "type": "object",
      "description": "Details about the hosting platform of the asset.",
      "properties": {
        "originalId": {
          "description": "Optional. Unique identifier for the asset in the hosting provider.",
          "type": "string"
        },
        "aws": {
          "description": "Optional. The AWS platform details.",
          "$ref": "HostingProviderDetailsAws"
        },
        "displayName": {
          "description": "Optional. Display name of the asset.",
          "type": "string"
        },
        "createTime": {
          "description": "Optional. The timestamp when resource was created in the hosting provider.",
          "format": "google-datetime",
          "type": "string"
        },
        "location": {
          "$ref": "ResourceLocation",
          "description": "Optional. Location of the asset."
        }
      },
      "id": "HostingProviderDetails"
    },
    "DatabaseDetailsParentDatabaseDeployment": {
      "id": "DatabaseDetailsParentDatabaseDeployment",
      "description": "The identifiers of the parent database deployment.",
      "properties": {
        "manualUniqueId": {
          "description": "The parent database deployment optional manual unique ID set by the user.",
          "type": "string"
        },
        "generatedId": {
          "description": "The parent database deployment generated ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RunAssetsExportJobRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RunAssetsExportJobRequest",
      "description": "A request to run an assets export job."
    },
    "AwsSnsTopicDetails": {
      "id": "AwsSnsTopicDetails",
      "properties": {},
      "description": "Asset information specific for AWS SNS Topics.",
      "type": "object"
    },
    "AwsRoute53HostedZoneDetails": {
      "id": "AwsRoute53HostedZoneDetails",
      "properties": {},
      "description": "Details of an AWS Route 53 Hosted Zone.",
      "type": "object"
    },
    "AwsApplicationLoadBalancerDetails": {
      "properties": {},
      "id": "AwsApplicationLoadBalancerDetails",
      "description": "Asset information specific for AWS Application Load Balancers.",
      "type": "object"
    },
    "SqlServerServerFlag": {
      "description": "SQL Server server flag details.",
      "id": "SqlServerServerFlag",
      "properties": {
        "serverFlagName": {
          "type": "string",
          "description": "Required. The server flag name."
        },
        "value": {
          "description": "Required. The server flag value set by the user.",
          "type": "string"
        },
        "valueInUse": {
          "description": "Required. The server flag actual value. If `value_in_use` is different from `value` it means that either the configuration change was not applied or it is an expected behavior. See SQL Server documentation for more details.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResourceLocation": {
      "properties": {
        "region": {
          "type": "string",
          "description": "Optional. The name of the region."
        }
      },
      "type": "object",
      "description": "Location of a resource.",
      "id": "ResourceLocation"
    },
    "ListReportConfigsResponse": {
      "type": "object",
      "id": "ListReportConfigsResponse",
      "description": "Response message for listing report configs.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "reportConfigs": {
          "description": "A list of report configs.",
          "type": "array",
          "items": {
            "$ref": "ReportConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "MySqlStorageEngineDetails": {
      "properties": {
        "tableCount": {
          "description": "Optional. The number of tables.",
          "type": "integer",
          "format": "int32"
        },
        "encryptedTableCount": {
          "description": "Optional. The number of encrypted tables.",
          "format": "int32",
          "type": "integer"
        },
        "engine": {
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ],
          "type": "string",
          "description": "Required. The storage engine.",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ]
        }
      },
      "description": "Mysql storage engine tables.",
      "id": "MySqlStorageEngineDetails",
      "type": "object"
    },
    "DatabasePreferencesCloudSqlCommon": {
      "description": "Preferences common to Cloud SQL databases.",
      "type": "object",
      "properties": {
        "sizingOptimizationStrategy": {
          "enum": [
            "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE",
            "SIZING_OPTIMIZATION_STRATEGY_MODERATE",
            "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE",
            "SIZING_OPTIMIZATION_STRATEGY_CUSTOM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "No optimization applied. Virtual machine sizing matches as closely as possible the machine shape on the source site, not considering any actual performance data.",
            "Virtual machine sizing will match the reported usage and shape, with some slack. This a good value to start with.",
            "Virtual machine sizing will match the reported usage, with little slack. Using this option can help reduce costs.",
            "Virtual machine sizing will be determined by custom parameters. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "description": "Optional. Sizing optimization strategy of the database. Currently supported for Cloud SQL are just two values: SIZING_OPTIMIZATION_STRATEGY_MODERATE and SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE. SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED will behave like SIZING_OPTIMIZATION_STRATEGY_MODERATE."
        },
        "persistentDiskType": {
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "type": "string",
          "description": "Optional. Persistent disk type to use. If unspecified, a disk type is recommended based on available usage data. For SQL Server, only SSD is available. For MySQL and PostgreSQL, only STANDARD (HDD) and SSD types are available."
        },
        "zoneAvailability": {
          "description": "Optional. Preferred zone availability.",
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "type": "string"
        },
        "commitmentPlan": {
          "type": "string",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_NONE",
            "COMMITMENT_PLAN_ONE_YEAR",
            "COMMITMENT_PLAN_THREE_YEARS",
            "COMMITMENT_PLAN_FLEXIBLE_ONE_YEAR",
            "COMMITMENT_PLAN_FLEXIBLE_THREE_YEARS"
          ],
          "description": "Optional. Commitment plan to consider when calculating costs. Only regular CUDs (not flexible) are currently available.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ]
        },
        "edition": {
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "description": "Optional. Preferred Cloud SQL edition.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ]
        },
        "backup": {
          "description": "Optional. Preferences for database backups.",
          "$ref": "DatabasePreferencesCloudSqlCommonBackup"
        }
      },
      "id": "DatabasePreferencesCloudSqlCommon"
    },
    "DatabasePreferencesCloudSqlCommonBackup": {
      "type": "object",
      "properties": {
        "backupMode": {
          "enum": [
            "BACKUP_MODE_UNSPECIFIED",
            "BACKUP_MODE_DISABLED",
            "BACKUP_MODE_ENABLED"
          ],
          "enumDescriptions": [
            "An unspecified database backup mode.",
            "Automatic backups disabled, no additional charges for storage.",
            "Automatic backups enabled, there will be additional charges for storage."
          ],
          "type": "string",
          "description": "Optional. Automated backup mode."
        }
      },
      "description": "Preferences for database backups.",
      "id": "DatabasePreferencesCloudSqlCommonBackup"
    },
    "VirtualMachinePreferencesSizingOptimizationCustomParameters": {
      "description": "Custom data to use for sizing optimizations.",
      "properties": {
        "memoryUsagePercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Desired percentage of memory usage. Must be in the interval [1, 100] (or 0 for default value)."
        },
        "storageMultiplier": {
          "format": "double",
          "type": "number",
          "description": "Optional. Desired increase factor of storage, relative to currently used storage. Must be in the interval [1.0, 2.0] (or 0 for default value)."
        },
        "aggregationMethod": {
          "description": "Optional. Type of statistical aggregation of a resource utilization data, on which to base the sizing metrics.",
          "enumDescriptions": [
            "Unspecified aggregation method. Can be used for default value.",
            "Average of utilization data.",
            "Median of utilization data.",
            "95th percentile of utilization data.",
            "Peak of utilization data."
          ],
          "enum": [
            "AGGREGATION_METHOD_UNSPECIFIED",
            "AGGREGATION_METHOD_AVERAGE",
            "AGGREGATION_METHOD_MEDIAN",
            "AGGREGATION_METHOD_NINETY_FIFTH_PERCENTILE",
            "AGGREGATION_METHOD_PEAK"
          ],
          "type": "string"
        },
        "cpuUsagePercentage": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Desired percentage of CPU usage. Must be in the interval [1, 100] (or 0 for default value)."
        }
      },
      "id": "VirtualMachinePreferencesSizingOptimizationCustomParameters",
      "type": "object"
    },
    "CloudDatabaseMigrationTarget": {
      "id": "CloudDatabaseMigrationTarget",
      "description": "Cloud database migration target.",
      "properties": {
        "cloudSqlShape": {
          "$ref": "CloudSqlForSqlServerShape",
          "description": "Cloud SQL for SQL Server database shape."
        },
        "cloudSqlForMysqlShape": {
          "$ref": "CloudSqlForMySqlShape",
          "description": "Cloud SQL for MySQL database shape."
        },
        "cloudSqlForPostgresqlShape": {
          "$ref": "CloudSqlForPostgreSqlShape",
          "description": "Cloud SQL for PostgreSQL database shape."
        }
      },
      "type": "object"
    },
    "AwsApiGatewayRestApiDetails": {
      "id": "AwsApiGatewayRestApiDetails",
      "type": "object",
      "properties": {},
      "description": "Asset information specific for AWS API Gateway REST APIs."
    },
    "CloudSqlForSqlServerShape": {
      "properties": {
        "egressGbPerMonth": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Predicted Network Out traffic GiB per month."
        },
        "memoryMb": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Predicted amount of memory in MiB."
        },
        "logicalCoreCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of logical cores.",
          "type": "integer"
        },
        "version": {
          "enumDescriptions": [
            "Unspecified SQL Server version.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise."
          ],
          "readOnly": true,
          "enum": [
            "SQL_SERVER_VERSION_UNSPECIFIED",
            "SQL_SERVER_VERSION_2017_EXPRESS",
            "SQL_SERVER_VERSION_2017_WEB",
            "SQL_SERVER_VERSION_2017_STANDARD",
            "SQL_SERVER_VERSION_2017_ENTERPRISE",
            "SQL_SERVER_VERSION_2019_EXPRESS",
            "SQL_SERVER_VERSION_2019_WEB",
            "SQL_SERVER_VERSION_2019_STANDARD",
            "SQL_SERVER_VERSION_2019_ENTERPRISE",
            "SQL_SERVER_VERSION_2022_EXPRESS",
            "SQL_SERVER_VERSION_2022_WEB",
            "SQL_SERVER_VERSION_2022_STANDARD",
            "SQL_SERVER_VERSION_2022_ENTERPRISE"
          ],
          "type": "string",
          "description": "Output only. Microsoft SQL Server version to be used on the Cloud SQL for SQL server instance."
        },
        "edition": {
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "type": "string",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "description": "Output only. Cloud SQL edition.",
          "readOnly": true
        },
        "backupStorageGb": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Predicted backup storage size in GiB.",
          "type": "integer"
        },
        "smtEnabled": {
          "description": "Output only. Whether simultaneous multithreading is enabled (see https://cloud.google.com/sql/docs/sqlserver/create-instance#smt-create-instance).",
          "readOnly": true,
          "type": "boolean"
        },
        "zoneAvailability": {
          "description": "Output only. Cloud SQL zone availability.",
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "type": "string"
        },
        "storage": {
          "$ref": "ComputeStorageDescriptor",
          "readOnly": true,
          "description": "Output only. Predicted storage shape."
        }
      },
      "id": "CloudSqlForSqlServerShape",
      "description": "Cloud SQL for SQL Server database shape.",
      "type": "object"
    },
    "ImportError": {
      "id": "ImportError",
[...]
