{
  "name": "migrationcenter",
  "title": "Migration Center API",
  "canonicalName": "Migration Center API",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://migrationcenter.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/migration-center",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "schemas": {
    "PostgreSqlExtension": {
      "type": "object",
      "id": "PostgreSqlExtension",
      "properties": {
        "extension": {
          "description": "Required. The extension name.",
          "type": "string"
        },
        "version": {
          "description": "Required. The extension version.",
          "type": "string"
        }
      },
      "description": "PostgreSql extension."
    },
    "ExecutionReport": {
      "id": "ExecutionReport",
      "properties": {
        "framesReported": {
          "type": "integer",
          "description": "Total number of asset frames reported for the import job.",
          "format": "int32"
        },
        "totalRowsCount": {
          "readOnly": true,
          "description": "Output only. Total number of rows in the import job.",
          "format": "int32",
          "type": "integer"
        },
        "executionErrors": {
          "description": "Validation errors encountered during the execution of the import job.",
          "$ref": "ValidationReport"
        }
      },
      "description": "A resource that reports result of the import job execution.",
      "type": "object"
    },
    "UpdateAssetRequest": {
      "type": "object",
      "description": "A request to update an asset.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "asset": {
          "$ref": "Asset",
          "description": "Required. The resource being updated."
        },
        "updateMask": {
          "description": "Required. Field mask is used to specify the fields to be overwritten in the `Asset` resource by the update. The values specified in the `update_mask` field are relative to the resource, not the full request. A field will be overwritten if it is in the mask. A single * value in the mask lets you to overwrite all fields.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "UpdateAssetRequest"
    },
    "AzureVmPlatformDetails": {
      "description": "Azure VM specific details.",
      "properties": {
        "machineTypeLabel": {
          "description": "Azure platform's machine type label.",
          "type": "string"
        },
        "hyperthreading": {
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        },
        "location": {
          "description": "The location of the machine in the Azure format.",
          "type": "string"
        },
        "provisioningState": {
          "description": "Azure platform's provisioning state.",
          "type": "string"
        }
      },
      "id": "AzureVmPlatformDetails",
      "type": "object"
    },
    "ReportSummaryChartData": {
      "properties": {
        "dataPoints": {
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          },
          "type": "array",
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value."
        }
      },
      "type": "object",
      "description": "Describes a collection of data points rendered as a Chart.",
      "id": "ReportSummaryChartData"
    },
    "AssetPerformanceData": {
      "description": "Performance data for an asset.",
      "properties": {
        "dailyResourceUsageAggregations": {
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          },
          "type": "array",
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent."
        }
      },
      "type": "object",
      "id": "AssetPerformanceData"
    },
    "OutputFile": {
      "properties": {
        "csvOutputFile": {
          "readOnly": true,
          "description": "Output only. CSV output file.",
          "$ref": "CsvOutputFile"
        },
        "xlsxOutputFile": {
          "description": "Output only. XLSX output file.",
          "readOnly": true,
          "$ref": "XlsxOutputFile"
        },
        "fileSizeBytes": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. File size in bytes."
        }
      },
      "description": "Contains a single output file.",
      "id": "OutputFile",
      "type": "object"
    },
    "ListReportsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "reports": {
          "description": "The list of Reports.",
          "type": "array",
          "items": {
            "$ref": "Report"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "Response message for listing Reports.",
      "id": "ListReportsResponse",
      "type": "object"
    },
    "RunningService": {
      "id": "RunningService",
      "description": "Guest OS running service details.",
      "properties": {
        "serviceName": {
          "description": "Service name.",
          "type": "string"
        },
        "startMode": {
          "enumDescriptions": [
            "Start mode unspecified.",
            "The service is a device driver started by the system loader.",
            "The service is a device driver started by the IOInitSystem function.",
            "The service is started by the operating system, at system start-up",
            "The service is started only manually, by a user.",
            "The service is disabled."
          ],
          "enum": [
            "START_MODE_UNSPECIFIED",
            "BOOT",
            "SYSTEM",
            "AUTO",
            "MANUAL",
            "DISABLED"
          ],
          "description": "Service start mode (OS-agnostic).",
          "type": "string"
        },
        "cmdline": {
          "description": "Service command line.",
          "type": "string"
        },
        "exePath": {
          "type": "string",
          "description": "Service binary path."
        },
        "state": {
          "description": "Service state (OS-agnostic).",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "STOPPED"
          ],
          "enumDescriptions": [
            "Service state unspecified.",
            "Service is active.",
            "Service is paused.",
            "Service is stopped."
          ]
        },
        "pid": {
          "description": "Service pid.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DatabaseSchema": {
      "properties": {
        "objects": {
          "description": "Optional. List of details of objects by category.",
          "items": {
            "$ref": "DatabaseObjects"
          },
          "type": "array"
        },
        "postgresql": {
          "description": "Optional. Details of a PostgreSql schema.",
          "$ref": "PostgreSqlSchemaDetails"
        },
        "sqlServer": {
          "description": "Optional. Details of a SqlServer schema.",
          "$ref": "SqlServerSchemaDetails"
        },
        "mysql": {
          "description": "Optional. Details of a Mysql schema.",
          "$ref": "MySqlSchemaDetails"
        },
        "schemaName": {
          "description": "Required. The name of the schema.",
          "type": "string"
        },
        "tablesSizeBytes": {
          "format": "int64",
          "description": "Optional. The total size of tables in bytes.",
          "type": "string"
        }
      },
      "description": "Details of a database schema.",
      "id": "DatabaseSchema",
      "type": "object"
    },
    "DailyResourceUsageAggregation": {
      "id": "DailyResourceUsageAggregation",
      "properties": {
        "network": {
          "description": "Network usage.",
          "$ref": "DailyResourceUsageAggregationNetwork"
        },
        "cpu": {
          "$ref": "DailyResourceUsageAggregationCPU",
          "description": "CPU usage."
        },
        "date": {
          "$ref": "Date",
          "description": "Aggregation date. Day boundaries are at midnight UTC."
        },
        "memory": {
          "$ref": "DailyResourceUsageAggregationMemory",
          "description": "Memory usage."
        },
        "disk": {
          "description": "Disk usage.",
          "$ref": "DailyResourceUsageAggregationDisk"
        }
      },
      "description": "Usage data aggregation for a single day.",
      "type": "object"
    },
    "MySqlProperty": {
      "description": "MySql property.",
      "id": "MySqlProperty",
      "type": "object",
      "properties": {
        "property": {
          "type": "string",
          "description": "Required. The property name."
        },
        "numericValue": {
          "description": "Required. The property numeric value.",
          "format": "int64",
          "type": "string"
        },
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        }
      }
    },
    "NfsExportList": {
      "description": "NFS exports.",
      "properties": {
        "entries": {
          "type": "array",
          "description": "NFS export entries.",
          "items": {
            "$ref": "NfsExport"
          }
        }
      },
      "type": "object",
      "id": "NfsExportList"
    },
    "AssetFrame": {
      "type": "object",
      "properties": {
        "collectionType": {
          "type": "string",
          "description": "Optional. Frame collection type, if not specified the collection type will be based on the source type of the source the frame was reported on.",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ]
        },
        "performanceSamples": {
          "items": {
            "$ref": "PerformanceSample"
          },
          "description": "Asset performance data samples. Samples that are from more than 40 days ago or after tomorrow are ignored.",
          "type": "array"
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Generic asset attributes.",
          "type": "object"
        },
        "databaseDeploymentDetails": {
          "description": "Asset information specific for database deployments.",
          "$ref": "DatabaseDeploymentDetails"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "databaseDetails": {
          "$ref": "DatabaseDetails",
          "description": "Asset information specific for logical databases."
        },
        "reportTime": {
          "type": "string",
          "description": "The time the data was reported.",
          "format": "google-datetime"
        },
        "machineDetails": {
          "description": "Asset information specific for virtual machines.",
          "$ref": "MachineDetails"
        },
        "traceToken": {
          "type": "string",
          "description": "Optional. Trace token is optionally provided to assist with debugging and traceability."
        }
      },
      "id": "AssetFrame",
      "description": "Contains data reported from an inventory source on an asset."
    },
    "PhysicalPlatformDetails": {
      "properties": {
        "hyperthreading": {
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string",
          "description": "Whether the machine is hyperthreaded."
        },
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PhysicalPlatformDetails",
      "description": "Platform specific details for Physical Machines."
    },
    "ListImportDataFilesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "importDataFiles": {
          "items": {
            "$ref": "ImportDataFile"
          },
          "description": "The list of import data files.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListImportDataFilesResponse",
      "description": "Response for listing payload files of an import job.",
      "type": "object"
    },
    "NetworkAddress": {
      "id": "NetworkAddress",
      "type": "object",
      "description": "Details of network address.",
      "properties": {
        "ipAddress": {
          "description": "Assigned or configured IP Address.",
          "type": "string"
        },
        "fqdn": {
          "description": "Fully qualified domain name.",
          "type": "string"
        },
        "assignment": {
          "type": "string",
          "enumDescriptions": [
            "Unknown (default value).",
            "Statically assigned IP.",
            "Dynamically assigned IP (DHCP)."
          ],
          "description": "Whether DHCP is used to assign addresses.",
          "enum": [
            "ADDRESS_ASSIGNMENT_UNSPECIFIED",
            "ADDRESS_ASSIGNMENT_STATIC",
            "ADDRESS_ASSIGNMENT_DHCP"
          ]
        },
        "bcast": {
          "type": "string",
          "description": "Broadcast address."
        },
        "subnetMask": {
          "description": "Subnet mask.",
          "type": "string"
        }
      }
    },
    "ValidationReport": {
      "description": "A resource that aggregates errors across import job files.",
      "id": "ValidationReport",
      "properties": {
        "fileValidations": {
          "type": "array",
          "description": "List of errors found in files.",
          "items": {
            "$ref": "FileValidationReport"
          }
        },
        "jobErrors": {
          "type": "array",
          "items": {
            "$ref": "ImportError"
          },
          "description": "List of job level errors."
        }
      },
      "type": "object"
    },
    "Report": {
      "type": "object",
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "id": "Report",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ],
          "description": "Report type.",
          "enumDescriptions": [
            "Default Report type.",
            "Total cost of ownership Report type."
          ],
          "type": "string"
        },
        "state": {
          "description": "Report creation state.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ]
        },
        "description": {
          "type": "string",
          "description": "Free-text description."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation timestamp."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last update timestamp.",
          "readOnly": true
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of resource."
        },
        "summary": {
          "readOnly": true,
          "$ref": "ReportSummary",
          "description": "Output only. Summary view of the Report."
        }
      }
    },
    "SqlServerDatabaseDeployment": {
      "description": "Specific details for a Microsoft SQL Server database deployment.",
      "properties": {
        "features": {
          "items": {
            "$ref": "SqlServerFeature"
          },
          "type": "array",
          "description": "Optional. List of SQL Server features."
        },
        "serverFlags": {
          "description": "Optional. List of SQL Server server flags.",
          "items": {
            "$ref": "SqlServerServerFlag"
          },
          "type": "array"
        },
        "traceFlags": {
          "description": "Optional. List of SQL Server trace flags.",
          "type": "array",
          "items": {
            "$ref": "SqlServerTraceFlag"
          }
        }
      },
      "type": "object",
      "id": "SqlServerDatabaseDeployment"
    },
    "Money": {
      "type": "object",
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      }
    },
    "AggregationResultHistogram": {
      "properties": {
        "buckets": {
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "items": {
            "$ref": "AggregationResultHistogramBucket"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AggregationResultHistogram",
      "description": "The result of a bucketed histogram aggregation."
    },
    "InsightList": {
      "id": "InsightList",
      "properties": {
        "updateTime": {
          "description": "Output only. Update timestamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "insights": {
          "type": "array",
          "description": "Output only. Insights of the list.",
          "readOnly": true,
          "items": {
            "$ref": "Insight"
          }
        }
      },
      "type": "object",
      "description": "Message containing insights list."
    },
    "ImportJob": {
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ],
          "readOnly": true,
          "description": "Output only. The state of the import job.",
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ],
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 256 characters.",
          "type": "string"
        },
        "assetSource": {
          "type": "string",
          "description": "Required. Reference to a source."
        },
        "validationReport": {
          "$ref": "ValidationReport",
          "description": "Output only. The report with the validation results of the import job.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the import job was created.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the import job was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels as key value pairs."
        },
        "name": {
          "description": "Output only. The full name of the import job.",
          "type": "string",
          "readOnly": true
        },
        "executionReport": {
          "description": "Output only. The report with the results of running the import job.",
          "$ref": "ExecutionReport",
          "readOnly": true
        },
        "completeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the import job was completed.",
          "readOnly": true
        }
      },
      "id": "ImportJob",
      "description": "A resource that represents the background job that imports asset frames."
    },
    "ComputeEngineMigrationTarget": {
      "description": "Compute engine migration target.",
      "type": "object",
      "id": "ComputeEngineMigrationTarget",
      "properties": {
        "shape": {
          "description": "Description of the suggested shape for the migration target.",
          "$ref": "ComputeEngineShapeDescriptor"
        }
      }
    },
    "RunImportJobRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RunImportJobRequest",
      "type": "object",
      "description": "A request to run an import job."
    },
    "DailyResourceUsageAggregationNetwork": {
      "description": "Statistical aggregation of network usage.",
      "properties": {
        "egressBps": {
          "description": "Network egress in B/s.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "ingressBps": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Network ingress in B/s."
        }
      },
      "type": "object",
      "id": "DailyResourceUsageAggregationNetwork"
    },
    "BatchUpdateAssetsRequest": {
      "id": "BatchUpdateAssetsRequest",
      "description": "A request to update a list of assets.",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateAssetRequest"
          },
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.",
          "type": "array"
        }
      }
    },
    "AddAssetsToGroupRequest": {
      "description": "A request to add assets to a group.",
      "id": "AddAssetsToGroupRequest",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "allowExisting": {
          "description": "Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        },
        "assets": {
          "description": "Required. List of assets to be added. The maximum number of assets that can be added in a single request is 2000.",
          "$ref": "AssetList"
        }
      },
      "type": "object"
    },
    "DiskPartitionList": {
      "type": "object",
      "id": "DiskPartitionList",
      "properties": {
        "entries": {
          "description": "Partition entries.",
          "type": "array",
          "items": {
            "$ref": "DiskPartition"
          }
        }
      },
      "description": "Disk partition list."
    },
    "AggregationCount": {
      "type": "object",
      "id": "AggregationCount",
      "description": "Object count.",
      "properties": {}
    },
    "ErrorFrame": {
      "type": "object",
      "properties": {
        "violations": {
          "items": {
            "$ref": "FrameViolationEntry"
          },
          "readOnly": true,
          "description": "Output only. All the violations that were detected for the frame.",
          "type": "array"
        },
        "name": {
          "description": "Output only. The identifier of the ErrorFrame.",
          "readOnly": true,
          "type": "string"
        },
        "originalFrame": {
          "readOnly": true,
          "description": "Output only. The frame that was originally reported.",
          "$ref": "AssetFrame"
        },
        "ingestionTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Frame ingestion time."
        }
      },
      "description": "Message representing a frame which failed to be processed due to an error.",
      "id": "ErrorFrame"
    },
    "MachineDetails": {
      "properties": {
        "machineName": {
          "type": "string",
          "description": "Machine name."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Machine creation time."
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "powerState": {
          "type": "string",
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ],
          "description": "Power state of the machine."
        },
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        },
        "platform": {
          "$ref": "PlatformDetails",
          "description": "Platform specific information."
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "diskPartitions": {
          "$ref": "DiskPartitionDetails",
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks."
        },
        "memoryMb": {
          "format": "int32",
          "type": "integer",
          "description": "The amount of memory in the machine. Must be non-negative."
        },
        "architecture": {
          "$ref": "MachineArchitectureDetails",
          "description": "Architecture details (vendor, CPU architecture)."
        },
        "coreCount": {
          "type": "integer",
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "format": "int32"
        },
        "network": {
          "description": "Network details.",
          "$ref": "MachineNetworkDetails"
        }
      },
      "id": "MachineDetails",
      "type": "object",
      "description": "Details of a machine."
    },
    "RemoveAssetsFromGroupRequest": {
      "description": "A request to remove assets from a group.",
      "id": "RemoveAssetsFromGroupRequest",
      "properties": {
        "allowMissing": {
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "assets": {
          "$ref": "AssetList",
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000."
        }
      },
      "type": "object"
    },
    "PreferenceSet": {
      "description": "The preferences that apply to all assets in a given context.",
      "type": "object",
      "id": "PreferenceSet",
      "properties": {
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the preference set was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "virtualMachinePreferences": {
          "description": "Optional. A set of preferences that applies to all virtual machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the preference set was created.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the preference set."
        },
        "description": {
          "description": "A description of the preference set.",
          "type": "string"
        }
      }
    },
    "ReportSummarySoleTenantFinding": {
      "properties": {
        "allocatedRegions": {
          "type": "array",
          "description": "Set of regions in which the assets are allocated",
          "items": {
            "type": "string"
          }
        },
        "nodeAllocations": {
          "items": {
            "$ref": "ReportSummarySoleTenantNodeAllocation"
          },
          "description": "Set of per-nodetype allocation records",
          "type": "array"
        },
        "allocatedAssetCount": {
          "description": "Count of assets which are allocated",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A set of findings that applies to assets destined for Sole-Tenant nodes.",
      "id": "ReportSummarySoleTenantFinding",
      "type": "object"
    },
    "Group": {
      "type": "object",
      "id": "Group",
      "properties": {
        "description": {
          "description": "Optional. The description of the group.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the group was last updated."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the group."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels as key value pairs."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the group was created.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User-friendly display name.",
          "type": "string"
        }
      },
      "description": "A resource that represents an asset group. The purpose of an asset group is to bundle a set of assets that have something in common, while allowing users to add annotations to the group. An asset can belong to multiple groups."
    },
    "AggregateAssetsValuesResponse": {
      "properties": {
        "results": {
          "description": "The aggregation results.",
          "items": {
            "$ref": "AggregationResult"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A response to a request to aggregated assets values.",
      "id": "AggregateAssetsValuesResponse"
    },
    "AssetsExportJobExportCondition": {
      "description": "Conditions for selecting assets to export.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Optional. Assets filter, supports the same syntax as asset listing.",
          "type": "string"
        }
      },
      "id": "AssetsExportJobExportCondition"
    },
    "ImportRowError": {
      "description": "A resource that reports the import job errors at row level.",
      "type": "object",
      "id": "ImportRowError",
      "properties": {
        "archiveError": {
          "description": "Error details for an archive file.",
          "$ref": "ImportRowErrorArchiveErrorDetails"
        },
        "assetTitle": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The asset title."
        },
        "vmName": {
          "type": "string",
          "description": "The name of the VM in the row."
        },
        "xlsxError": {
          "description": "Error details for an XLSX file.",
          "$ref": "ImportRowErrorXlsxErrorDetails"
        },
        "vmUuid": {
          "description": "The VM UUID.",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "description": "The list of errors detected in the row.",
          "items": {
            "$ref": "ImportError"
          }
        },
        "csvError": {
          "$ref": "ImportRowErrorCsvErrorDetails",
          "description": "Error details for a CSV file."
        },
        "rowNumber": {
          "type": "integer",
          "deprecated": true,
          "format": "int32",
          "description": "The row number where the error was detected."
        }
      }
    },
    "NetworkAdapterList": {
      "id": "NetworkAdapterList",
      "description": "List of network adapters.",
      "properties": {
        "entries": {
          "items": {
            "$ref": "NetworkAdapterDetails"
          },
          "description": "Network adapter entries.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "BatchDeleteAssetsRequest": {
      "id": "BatchDeleteAssetsRequest",
      "type": "object",
      "description": "A request to delete a list of asset.",
      "properties": {
        "allowMissing": {
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`.",
          "type": "boolean"
        },
        "names": {
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cascadingRules": {
          "type": "array",
          "items": {
            "$ref": "CascadingRule"
          },
          "description": "Optional. Optional cascading rules for deleting related assets."
        }
      }
    },
    "DailyResourceUsageAggregationCPU": {
      "id": "DailyResourceUsageAggregationCPU",
      "type": "object",
      "properties": {
        "utilizationPercentage": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "CPU utilization percentage."
        }
      },
      "description": "Statistical aggregation of CPU usage."
    },
    "AssetsExportJobNetworkDependencies": {
      "id": "AssetsExportJobNetworkDependencies",
      "properties": {},
      "type": "object",
      "description": "Configuration for network dependencies exports."
    },
    "XlsxOutputFile": {
      "description": "Contains a single output file of type XLSX.",
      "id": "XlsxOutputFile",
      "properties": {
        "signedUri": {
          "$ref": "SignedUri",
          "description": "Output only. Signed URI destination.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "DatabaseDetailsParentDatabaseDeployment": {
      "id": "DatabaseDetailsParentDatabaseDeployment",
      "properties": {
        "generatedId": {
          "type": "string",
          "description": "Optional. The parent database deployment generated ID."
        },
        "manualUniqueId": {
          "type": "string",
          "description": "Optional. The parent database deployment optional manual unique ID set by the user."
        }
      },
      "type": "object",
      "description": "The identifiers of the parent database deployment."
    },
    "ImportRowErrorArchiveErrorDetails": {
      "type": "object",
      "description": "Error details for an archive file.",
      "id": "ImportRowErrorArchiveErrorDetails",
      "properties": {
        "filePath": {
          "type": "string",
          "description": "Output only. The file path inside the archive where the error was detected.",
          "readOnly": true
        },
        "csvError": {
          "$ref": "ImportRowErrorCsvErrorDetails",
          "description": "Error details for a CSV file."
        }
      }
    },
    "GenericInsight": {
      "properties": {
        "messageId": {
          "format": "int64",
          "description": "Output only. Represents a globally unique message id for this insight, can be used for localization purposes, in case message_code is not yet known by the client use default_message instead.",
          "type": "string",
          "readOnly": true
        },
        "additionalInformation": {
          "readOnly": true,
          "description": "Output only. Additional information about the insight, each entry can be a logical entry and must make sense if it is displayed with line breaks between each entry. Text can contain md style links.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "defaultMessage": {
          "description": "Output only. In case message_code is not yet known by the client default_message will be the message to be used instead.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GenericInsight",
      "type": "object",
      "description": "A generic insight about an asset."
    },
    "ReportSummaryUtilizationChartData": {
      "properties": {
        "used": {
          "type": "string",
          "format": "int64",
          "description": "Aggregate value which falls into the \"Used\" bucket."
        },
        "free": {
          "description": "Aggregate value which falls into the \"Free\" bucket.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets.",
      "id": "ReportSummaryUtilizationChartData",
      "type": "object"
    },
    "ReportSummaryHistogramChartDataBucket": {
      "type": "object",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "id": "ReportSummaryHistogramChartDataBucket",
      "properties": {
        "lowerBound": {
          "description": "Lower bound - inclusive.",
          "type": "string",
          "format": "int64"
        },
        "upperBound": {
          "description": "Upper bound - exclusive.",
          "format": "int64",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Count of items in the bucket."
        }
      }
    },
    "OpenFileDetails": {
      "type": "object",
      "description": "Open file Information.",
      "id": "OpenFileDetails",
      "properties": {
        "user": {
          "description": "Opened file user.",
          "type": "string"
        },
        "filePath": {
          "type": "string",
          "description": "Opened file file path."
        },
        "command": {
          "description": "Opened file command.",
          "type": "string"
        },
        "fileType": {
          "description": "Opened file file type.",
          "type": "string"
        }
      }
    },
    "RunningProcess": {
      "type": "object",
      "properties": {
        "exePath": {
          "description": "Process binary path.",
          "type": "string"
        },
        "pid": {
          "format": "int64",
          "type": "string",
          "description": "Process ID."
        },
        "cmdline": {
          "type": "string",
          "description": "Process full command line."
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Process extended attributes."
        },
        "user": {
          "description": "User running the process.",
          "type": "string"
        }
      },
      "description": "Guest OS running process details.",
      "id": "RunningProcess"
    },
    "SqlServerTraceFlag": {
      "id": "SqlServerTraceFlag",
      "description": "SQL Server trace flag details.",
      "type": "object",
      "properties": {
        "traceFlagName": {
          "description": "Required. The trace flag name.",
          "type": "string"
        },
        "scope": {
          "type": "string",
          "description": "Required. The trace flag scope.",
          "enumDescriptions": [
            "Unspecified.",
            "Off.",
            "Global.",
            "Session."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "OFF",
            "GLOBAL",
            "SESSION"
          ]
        }
      }
    },
    "FrameViolationEntry": {
      "id": "FrameViolationEntry",
      "properties": {
        "field": {
          "description": "The field of the original frame where the violation occurred.",
          "type": "string"
        },
        "violation": {
          "description": "A message describing the violation.",
          "type": "string"
        }
      },
      "description": "A resource that contains a single violation of a reported `AssetFrame` resource.",
      "type": "object"
    },
    "CascadeLogicalDBsRule": {
      "type": "object",
      "properties": {},
      "id": "CascadeLogicalDBsRule",
      "description": "Cascading rule for related logical DBs."
    },
    "MySqlStorageEngineDetails": {
      "type": "object",
      "description": "Mysql storage engine tables.",
      "properties": {
        "tableCount": {
          "format": "int32",
          "description": "Optional. The number of tables.",
          "type": "integer"
        },
        "engine": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ],
          "description": "Required. The storage engine.",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ]
        },
        "encryptedTableCount": {
          "description": "Optional. The number of encrypted tables.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "MySqlStorageEngineDetails"
    },
    "AssetsExportJobInventory": {
      "id": "AssetsExportJobInventory",
      "type": "object",
      "description": "Configuration for asset inventory details exports.",
      "properties": {}
    },
    "Aggregation": {
      "description": "Message describing an aggregation. The message includes the aggregation type, parameters, and the field on which to perform the aggregation.",
      "id": "Aggregation",
      "properties": {
        "frequency": {
          "description": "Creates a frequency distribution of all field values.",
          "$ref": "AggregationFrequency"
        },
        "histogram": {
          "$ref": "AggregationHistogram",
          "description": "Creates a bucketed histogram of field values."
        },
        "field": {
          "description": "The name of the field on which to aggregate.",
          "type": "string"
        },
        "count": {
          "description": "Count the number of matching objects.",
          "$ref": "AggregationCount"
        },
        "sum": {
          "$ref": "AggregationSum",
          "description": "Sum over a numeric field."
        }
      },
      "type": "object"
    },
    "MachineSeries": {
      "description": "A machine series, for a target product (e.g. Compute Engine, Google Cloud VMware Engine).",
      "properties": {
        "code": {
          "description": "Code to identify a machine series. Consult this for more details on the available series for Compute Engine: https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison Consult this for more details on the available series for Google Cloud VMware Engine: https://cloud.google.com/vmware-engine/pricing",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MachineSeries"
    },
    "AwsEc2PlatformDetails": {
      "id": "AwsEc2PlatformDetails",
      "description": "AWS EC2 specific details.",
      "type": "object",
      "properties": {
        "machineTypeLabel": {
          "type": "string",
          "description": "AWS platform's machine type label."
        },
        "location": {
          "type": "string",
          "description": "The location of the machine in the AWS format."
        },
        "hyperthreading": {
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Optional. Whether the machine is hyperthreaded."
        }
      }
    },
    "MySqlPlugin": {
      "id": "MySqlPlugin",
      "type": "object",
      "description": "MySql plugin.",
      "properties": {
        "enabled": {
          "description": "Required. The plugin is active.",
          "type": "boolean"
        },
        "version": {
          "description": "Required. The plugin version.",
          "type": "string"
        },
        "plugin": {
          "description": "Required. The plugin name.",
          "type": "string"
        }
      }
    },
    "NetworkConnection": {
      "properties": {
        "pid": {
          "type": "string",
          "format": "int64",
          "description": "Process ID."
        },
        "state": {
          "description": "Network connection state.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "OPENING",
            "OPEN",
            "LISTEN",
            "CLOSING",
            "CLOSED"
          ],
          "enumDescriptions": [
            "Connection state is unknown or unspecified.",
            "The connection is being opened.",
            "The connection is open.",
            "Listening for incoming connections.",
            "The connection is being closed.",
            "The connection is closed."
          ]
        },
        "localPort": {
          "format": "int32",
          "type": "integer",
          "description": "Local port."
        },
        "localIpAddress": {
          "description": "Local IP address.",
          "type": "string"
        },
        "protocol": {
          "description": "Connection protocol (e.g. TCP/UDP).",
          "type": "string"
        },
        "remoteIpAddress": {
          "description": "Remote IP address.",
          "type": "string"
        },
        "processName": {
          "type": "string",
          "description": "Process or service name."
        },
        "remotePort": {
          "type": "integer",
          "format": "int32",
          "description": "Remote port."
        }
      },
      "id": "NetworkConnection",
      "type": "object"
    },
    "Source": {
      "type": "object",
      "description": "Source represents an object from which asset information is streamed to Migration Center.",
      "id": "Source",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The full name of the source.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name."
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "errorFrameCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of frames that were reported by the source and contained errors.",
          "type": "integer"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ],
          "readOnly": true,
          "description": "Output only. The state of the source.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING",
            "INVALID"
          ],
          "type": "string"
        },
        "pendingFrameCount": {
          "description": "Output only. Number of frames that are still being processed.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the source was last updated."
        },
        "priority": {
          "description": "The information confidence of the source. The higher the value, the higher the confidence.",
          "format": "int32",
          "type": "integer"
        },
        "managed": {
          "description": "If `true`, the source is managed by other service(s).",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the source was created."
        },
        "type": {
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "description": "Data source type.",
          "type": "string"
        }
      }
    },
    "ReportSummaryGroupFinding": {
      "id": "ReportSummaryGroupFinding",
      "properties": {
        "assetAggregateStats": {
          "$ref": "ReportSummaryAssetAggregateStats",
          "description": "Summary statistics for all the assets in this group."
        },
        "displayName": {
          "description": "Display Name for the Group.",
          "type": "string"
        },
        "overlappingAssetCount": {
          "deprecated": true,
          "type": "string",
          "description": "This field is deprecated, do not rely on it having a value.",
          "format": "int64"
        },
        "description": {
          "description": "Description for the Group.",
          "type": "string"
        },
        "preferenceSetFindings": {
          "type": "array",
          "description": "Findings for each of the PreferenceSets for this group.",
          "items": {
            "$ref": "ReportSummaryGroupPreferenceSetFinding"
          }
        }
      },
      "type": "object",
      "description": "Summary Findings for a specific Group."
    },
    "ReportSummaryComputeEngineFinding": {
      "properties": {
        "allocatedRegions": {
          "description": "Set of regions in which the assets were allocated.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "machineSeriesAllocations": {
          "type": "array",
          "description": "Distribution of assets based on the Machine Series.",
          "items": {
            "$ref": "ReportSummaryMachineSeriesAllocation"
          }
        },
        "allocatedAssetCount": {
          "type": "string",
          "description": "Count of assets which were allocated.",
          "format": "int64"
        },
        "allocatedDiskTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified. Fallback to default value based on context.",
              "Standard HDD Persistent Disk.",
              "Balanced Persistent Disk.",
              "SSD Persistent Disk."
            ],
            "type": "string",
            "enum": [
              "PERSISTENT_DISK_TYPE_UNSPECIFIED",
              "PERSISTENT_DISK_TYPE_STANDARD",
              "PERSISTENT_DISK_TYPE_BALANCED",
              "PERSISTENT_DISK_TYPE_SSD"
            ]
          },
          "description": "Set of disk types allocated to assets."
        }
      },
      "id": "ReportSummaryComputeEngineFinding",
      "description": "A set of findings that applies to assets destined for Compute Engine.",
      "type": "object"
    },
    "RunningProcessList": {
      "type": "object",
      "id": "RunningProcessList",
      "properties": {
        "entries": {
          "items": {
            "$ref": "RunningProcess"
          },
          "type": "array",
          "description": "Running process entries."
        }
      },
      "description": "List of running guest OS processes."
    },
    "DatabaseInstanceNetwork": {
      "properties": {
        "hostNames": {
          "description": "Optional. The instance's host names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "primaryMacAddress": {
          "description": "Optional. The instance's primary MAC address.",
          "type": "string"
        },
        "ipAddresses": {
          "description": "Optional. The instance's IP addresses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DatabaseInstanceNetwork",
      "description": "Network details of a database instance.",
      "type": "object"
    },
    "ListImportJobsResponse": {
      "type": "object",
      "properties": {
        "importJobs": {
          "type": "array",
          "items": {
            "$ref": "ImportJob"
          },
          "description": "The list of import jobs."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "A response for listing import jobs.",
      "id": "ListImportJobsResponse"
    },
    "MigrationInsight": {
      "description": "An insight about potential migrations for an asset.",
      "type": "object",
      "properties": {
        "fit": {
          "readOnly": true,
          "$ref": "FitDescriptor",
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration."
        },
        "computeEngineTarget": {
          "description": "Output only. A Google Compute Engine target.",
          "readOnly": true,
          "$ref": "ComputeEngineMigrationTarget"
        }
      },
      "id": "MigrationInsight"
    },
    "NfsExport": {
      "properties": {
        "exportDirectory": {
          "description": "The directory being exported.",
          "type": "string"
        },
        "hosts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The hosts or networks to which the export is being shared."
        }
      },
      "id": "NfsExport",
      "type": "object",
      "description": "NFS export."
    },
    "RunAssetsExportJobResponse": {
      "id": "RunAssetsExportJobResponse",
      "type": "object",
      "properties": {
        "assetsExportJobExecution": {
          "readOnly": true,
          "$ref": "AssetsExportJobExecution",
          "description": "Output only. Execution status of the assets export operation."
        }
      },
      "description": "Response message for running an assets export job."
    },
    "ReportSummaryVmwareNodeAllocation": {
      "type": "object",
      "id": "ReportSummaryVmwareNodeAllocation",
      "properties": {
        "vmwareNode": {
          "$ref": "ReportSummaryVmwareNode",
          "description": "VMWare node type, e.g. \"ve1-standard-72\""
        },
        "allocatedAssetCount": {
          "description": "Count of assets allocated to these nodes",
          "type": "string",
          "format": "int64"
        },
        "nodeCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of this node type to be provisioned"
        }
      },
      "description": "Represents assets allocated to a specific VMWare Node type."
    },
    "Frames": {
      "description": "Collection of frame data.",
      "properties": {
        "framesData": {
          "description": "A repeated field of asset data.",
          "items": {
            "$ref": "AssetFrame"
          },
          "type": "array"
        }
      },
      "id": "Frames",
      "type": "object"
    },
    "DatabaseDeploymentDetailsAggregatedStats": {
      "id": "DatabaseDeploymentDetailsAggregatedStats",
      "description": "Aggregated stats for the database deployment.",
      "type": "object",
      "properties": {
        "databaseCount": {
          "description": "Output only. The number of databases in the deployment.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DiscoveryClient": {
      "description": "Represents an installed Migration Center Discovery Client instance.",
      "properties": {
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field."
        },
        "signalsEndpoint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This field is intended for internal use."
        },
        "heartbeatTime": {
          "format": "google-datetime",
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes).",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Free text description. Maximum length is 1000 characters."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account used by the discovery client for various operation."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field.",
          "readOnly": true
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Errors affecting client functionality.",
          "readOnly": true,
          "type": "array"
        },
        "state": {
          "description": "Output only. Current state of the discovery client.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ],
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ],
          "readOnly": true,
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time.",
          "type": "string"
        },
        "source": {
          "description": "Required. Immutable. Full name of the source object associated with this discovery client.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "version": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Client version, as reported in recent heartbeat."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the discovery client was first created.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Full name of this discovery client.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Free text display name. Maximum length is 63 characters."
        }
      },
      "id": "DiscoveryClient",
      "type": "object"
    },
    "GuestRuntimeDetails": {
      "id": "GuestRuntimeDetails",
      "type": "object",
      "description": "Guest OS runtime information.",
      "properties": {
        "domain": {
          "description": "Domain, e.g. c.stratozone-development.internal.",
          "type": "string"
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "lastBootTime": {
          "description": "Last time the OS was booted.",
          "format": "google-datetime",
          "type": "string"
        },
        "installedApps": {
          "description": "Installed applications information.",
          "$ref": "GuestInstalledApplicationList"
        },
        "network": {
          "description": "Runtime network information (connections, ports).",
          "$ref": "RuntimeNetworkInfo"
        },
        "processes": {
          "description": "Running processes.",
          "$ref": "RunningProcessList"
        },
        "openFileList": {
          "$ref": "OpenFileList",
          "description": "Open files information."
        },
        "services": {
          "description": "Running background services.",
          "$ref": "RunningServiceList"
        }
      }
    },
    "RuntimeNetworkInfo": {
      "properties": {
        "connections": {
          "$ref": "NetworkConnectionList",
          "description": "Network connections."
        },
        "scanTime": {
          "description": "Time of the last network scan.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "RuntimeNetworkInfo",
      "description": "Runtime networking information."
    },
    "PostgreSqlSetting": {
      "type": "object",
      "id": "PostgreSqlSetting",
      "properties": {
        "stringValue": {
          "description": "Required. The setting string value. Notice that enum values are stored as strings.",
          "type": "string"
        },
        "realValue": {
          "format": "float",
          "type": "number",
          "description": "Required. The setting real value."
        },
        "source": {
          "type": "string",
          "description": "Required. The setting source."
        },
        "boolValue": {
          "description": "Required. The setting boolean value.",
          "type": "boolean"
        },
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "Required. The setting int value."
        },
        "unit": {
          "type": "string",
          "description": "Optional. The setting unit."
        },
        "setting": {
          "type": "string",
          "description": "Required. The setting name."
        }
      },
      "description": "PostgreSql setting."
    },
    "ReportSummary": {
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report.",
      "id": "ReportSummary",
      "properties": {
        "allAssetsStats": {
          "$ref": "ReportSummaryAssetAggregateStats",
          "description": "Aggregate statistics for all the assets across all the groups."
        },
        "groupFindings": {
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          },
          "type": "array",
          "description": "Findings for each Group included in this report."
        }
      },
      "type": "object"
    },
    "DailyResourceUsageAggregationDisk": {
      "id": "DailyResourceUsageAggregationDisk",
      "type": "object",
      "properties": {
        "readIops": {
          "description": "Optional. Disk read I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "writeIops": {
          "description": "Optional. Disk write I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "iops": {
          "description": "Optional. Disk I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "description": "Statistical aggregation of disk usage."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "BiosDetails": {
      "type": "object",
      "description": "Details about the BIOS.",
      "id": "BiosDetails",
      "properties": {
        "biosName": {
          "description": "BIOS name. This fields is deprecated. Please use the `id` field instead.",
          "type": "string",
          "deprecated": true
        },
        "releaseDate": {
          "description": "BIOS release date.",
          "$ref": "Date"
        },
        "manufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        },
        "smbiosUuid": {
          "description": "SMBIOS UUID.",
          "type": "string"
        },
        "id": {
          "description": "BIOS ID.",
          "type": "string"
        },
        "version": {
          "description": "BIOS version.",
          "type": "string"
        }
      }
    },
    "ReportSummaryVmwareNode": {
      "type": "object",
      "description": "A VMWare Engine Node",
      "properties": {
        "code": {
          "type": "string",
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes"
        }
      },
      "id": "ReportSummaryVmwareNode"
    },
    "RunningServiceList": {
      "description": "List of running guest OS services.",
      "type": "object",
      "id": "RunningServiceList",
      "properties": {
        "entries": {
          "items": {
            "$ref": "RunningService"
          },
          "type": "array",
          "description": "Running service entries."
        }
      }
    },
    "NetworkAdapterDetails": {
      "type": "object",
      "properties": {
        "adapterType": {
          "description": "Network adapter type (e.g. VMXNET3).",
          "type": "string"
        },
        "addresses": {
          "description": "NetworkAddressList",
          "$ref": "NetworkAddressList"
        },
        "macAddress": {
          "description": "MAC address.",
          "type": "string"
        }
      },
      "description": "Details of network adapter.",
      "id": "NetworkAdapterDetails"
    },
    "SqlServerSchemaDetails": {
      "id": "SqlServerSchemaDetails",
      "properties": {
        "clrObjectCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. SqlServer number of CLR objects."
        }
      },
      "description": "Specific details for a SqlServer database.",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      }
    },
    "MachinePreferences": {
      "properties": {
        "allowedMachineSeries": {
          "items": {
            "$ref": "MachineSeries"
          },
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "type": "array"
        }
      },
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations. Not all machine types are available in all zones and regions.",
      "id": "MachinePreferences",
      "type": "object"
    },
    "ListPreferenceSetsResponse": {
      "description": "Response message for listing preference sets.",
      "id": "ListPreferenceSetsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "preferenceSets": {
          "items": {
            "$ref": "PreferenceSet"
          },
          "type": "array",
          "description": "The list of PreferenceSets"
        }
      }
    },
    "DailyResourceUsageAggregationMemory": {
      "description": "Statistical aggregation of memory usage.",
      "type": "object",
      "properties": {
        "utilizationPercentage": {
          "description": "Memory utilization percentage.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "id": "DailyResourceUsageAggregationMemory"
    },
    "ReportAssetFramesResponse": {
      "id": "ReportAssetFramesResponse",
      "properties": {},
      "description": "A response to a call to `ReportAssetFrame`.",
      "type": "object"
    },
    "AggregationFrequency": {
      "id": "AggregationFrequency",
      "description": "Frequency distribution of all field values.",
      "properties": {},
      "type": "object"
    },
    "AssetsExportJobPerformanceData": {
      "id": "AssetsExportJobPerformanceData",
      "type": "object",
      "properties": {
        "maxDays": {
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Configuration for performance data exports."
    },
    "ComputeStorageDescriptor": {
      "description": "Compute Engine storage option descriptor.",
      "id": "ComputeStorageDescriptor",
      "properties": {
        "sizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Disk size in GiB.",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "description": "Output only. Disk type backing the storage."
        }
      },
      "type": "object"
    },
    "ListSourcesResponse": {
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "Source"
          },
          "description": "The list of sources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for listing sources.",
      "id": "ListSourcesResponse",
      "type": "object"
    },
    "DatabaseDeploymentDetails": {
      "type": "object",
      "id": "DatabaseDeploymentDetails",
      "properties": {
        "manualUniqueId": {
          "description": "Optional. A manual unique ID set by the user.",
          "type": "string"
        },
        "mysql": {
          "$ref": "MysqlDatabaseDeployment",
          "description": "Optional. Details of a MYSQL database deployment."
        },
        "sqlServer": {
          "$ref": "SqlServerDatabaseDeployment",
          "description": "Optional. Details of a Microsoft SQL Server database deployment."
        },
        "edition": {
          "description": "Optional. The database deployment edition.",
          "type": "string"
        },
        "topology": {
          "$ref": "DatabaseDeploymentTopology",
          "description": "Optional. Details of the database deployment topology."
        },
        "awsRds": {
          "description": "Optional. Details of an AWS RDS instance.",
          "$ref": "AwsRds"
        },
        "generatedId": {
          "description": "Optional. The database deployment generated ID.",
          "type": "string"
        },
        "postgresql": {
          "description": "Optional. Details of a PostgreSQL database deployment.",
          "$ref": "PostgreSqlDatabaseDeployment"
        },
        "version": {
          "description": "Optional. The database deployment version.",
          "type": "string"
        },
        "aggregatedStats": {
          "$ref": "DatabaseDeploymentDetailsAggregatedStats",
          "readOnly": true,
          "description": "Output only. Aggregated stats for the database deployment."
        }
      },
      "description": "The details of a database deployment asset."
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "properties": {
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "DiskPartition": {
      "type": "object",
      "id": "DiskPartition",
      "properties": {
        "uuid": {
          "type": "string",
          "description": "Partition UUID."
        },
        "type": {
          "description": "Partition type.",
          "type": "string"
        },
        "capacityBytes": {
          "type": "string",
          "format": "int64",
          "description": "Partition capacity."
        },
        "fileSystem": {
          "description": "Partition file system.",
          "type": "string"
        },
        "mountPoint": {
          "description": "Mount point (Linux/Windows) or drive letter (Windows).",
          "type": "string"
        },
        "freeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Partition free space."
        },
        "subPartitions": {
          "description": "Sub-partitions.",
          "$ref": "DiskPartitionList"
        }
      },
      "description": "Disk Partition details."
    },
    "GuestConfigDetails": {
      "properties": {
        "selinuxMode": {
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ],
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ],
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "type": "string"
        },
        "hosts": {
          "description": "Hosts file (/etc/hosts).",
          "$ref": "HostsEntryList"
        },
        "nfsExports": {
          "description": "NFS exports.",
          "$ref": "NfsExportList"
        },
        "issue": {
          "description": "OS issue (typically /etc/issue in Linux).",
          "type": "string"
        },
        "fstab": {
          "description": "Mount list (Linux fstab).",
          "$ref": "FstabEntryList"
        }
      },
      "description": "Guest OS config information.",
      "id": "GuestConfigDetails",
      "type": "object"
    },
    "MachineArchitectureDetails": {
      "type": "object",
      "properties": {
        "firmwareType": {
          "description": "Firmware type.",
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ],
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ],
          "type": "string"
        },
        "cpuManufacturer": {
          "type": "string",
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\"."
        },
        "cpuSocketCount": {
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer",
          "format": "int32"
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "cpuThreadCount": {
          "type": "integer",
          "deprecated": true,
          "description": "Deprecated: use MachineDetails.core_count instead. Number of CPU threads allocated to the machine.",
          "format": "int32"
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        },
        "hyperthreading": {
          "description": "CPU hyper-threading support.",
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ]
        },
        "vendor": {
          "type": "string",
          "description": "Hardware vendor."
        }
      },
      "description": "Details of the machine architecture.",
      "id": "MachineArchitectureDetails"
    },
    "ListAssetsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "assets": {
          "items": {
            "$ref": "Asset"
          },
          "type": "array",
          "description": "A list of assets."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListAssetsResponse",
      "description": "Response message for listing assets."
    },
    "AggregationResultHistogramBucket": {
      "type": "object",
      "properties": {
        "count": {
          "description": "Count of items in the bucket.",
          "type": "string",
          "format": "int64"
        },
        "lowerBound": {
          "format": "double",
          "type": "number",
          "description": "Lower bound - inclusive."
        },
        "upperBound": {
          "type": "number",
          "description": "Upper bound - exclusive.",
          "format": "double"
        }
      },
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "id": "AggregationResultHistogramBucket"
    },
    "AssetsExportJob": {
      "id": "AssetsExportJob",
      "description": "Assets export job message.",
      "properties": {
        "inventory": {
          "$ref": "AssetsExportJobInventory",
          "description": "Export asset inventory details."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. Resource name."
        },
        "signedUriDestination": {
          "$ref": "SignedUriDestination",
          "description": "Export to Cloud Storage files downloadable using signed URIs."
        },
        "createTime": {
          "description": "Output only. Resource creation time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        },
        "performanceData": {
          "description": "Export asset with performance data.",
          "$ref": "AssetsExportJobPerformanceData"
        },
        "networkDependencies": {
          "$ref": "AssetsExportJobNetworkDependencies",
          "description": "Export data regarding asset network dependencies."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes."
        },
        "recentExecutions": {
          "items": {
            "$ref": "AssetsExportJobExecution"
          },
          "description": "Output only. Recent non expired executions of the job.",
          "readOnly": true,
          "type": "array"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Resource update time.",
          "type": "string"
        },
        "condition": {
          "$ref": "AssetsExportJobExportCondition",
          "description": "Optional. Conditions for selecting assets to export."
        }
      },
      "type": "object"
    },
    "GuestInstalledApplication": {
      "id": "GuestInstalledApplication",
      "properties": {
        "path": {
          "description": "Source path.",
          "type": "string"
        },
        "installTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the application was installed."
        },
        "vendor": {
          "type": "string",
          "description": "Installed application vendor."
        },
        "version": {
          "description": "Installed application version.",
          "type": "string"
        },
        "applicationName": {
          "type": "string",
          "description": "Installed application name."
        },
        "licenses": {
          "description": "License strings associated with the installed application.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Guest installed application information."
    },
    "AssetsExportJobExecution": {
      "description": "Execution status of assets export job.",
      "id": "AssetsExportJobExecution",
      "properties": {
        "executionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Globally unique identifier of the execution."
        },
        "requestedAssetCount": {
          "format": "int32",
          "description": "Output only. Number of assets requested for export after resolving the requested filters.",
          "type": "integer",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Execution timestamp.",
          "format": "google-datetime"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Expiration time for the export and artifacts.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. Completion time of the export.",
          "format": "google-datetime",
          "type": "string"
        },
        "result": {
          "readOnly": true,
[...]
