{
  "discoveryVersion": "v1",
  "title": "Migration Center API",
  "protocol": "rest",
  "ownerName": "Google",
  "version_module": true,
  "basePath": "",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "schemas": {
    "InlinePayloadInfo": {
      "type": "object",
      "description": "A resource that represents the inline import job payload.",
      "properties": {
        "payload": {
          "items": {
            "$ref": "PayloadFile"
          },
          "type": "array",
          "description": "List of payload files."
        },
        "format": {
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "type": "string",
          "description": "The import job format.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        }
      },
      "id": "InlinePayloadInfo"
    },
    "ImportRowErrorCsvErrorDetails": {
      "type": "object",
      "id": "ImportRowErrorCsvErrorDetails",
      "description": "Error details for a CSV file.",
      "properties": {
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "OutputFileList": {
      "type": "object",
      "properties": {
        "entries": {
          "description": "List of output files.",
          "type": "array",
          "items": {
            "$ref": "OutputFile"
          }
        }
      },
      "id": "OutputFileList",
      "description": "Contains a list of output files."
    },
    "DatabaseDeploymentDetailsAggregatedStats": {
      "type": "object",
      "description": "Aggregated stats for the database deployment.",
      "id": "DatabaseDeploymentDetailsAggregatedStats",
      "properties": {
        "databaseCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of databases in the deployment."
        }
      }
    },
    "AssetsExportJobNetworkDependencies": {
      "properties": {},
      "id": "AssetsExportJobNetworkDependencies",
      "description": "Configuration for network dependencies exports.",
      "type": "object"
    },
    "AggregationResultSum": {
      "description": "The result of a sum aggregation.",
      "id": "AggregationResultSum",
      "properties": {
        "value": {
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "MysqlDatabaseDeployment": {
      "description": "Specific details for a Mysql database deployment.",
      "type": "object",
      "id": "MysqlDatabaseDeployment",
      "properties": {
        "resourceGroupsCount": {
          "format": "int32",
          "description": "Optional. Number of resource groups.",
          "type": "integer"
        },
        "variables": {
          "type": "array",
          "description": "Optional. List of MySql variables.",
          "items": {
            "$ref": "MySqlVariable"
          }
        },
        "plugins": {
          "description": "Optional. List of MySql plugins.",
          "type": "array",
          "items": {
            "$ref": "MySqlPlugin"
          }
        },
        "properties": {
          "items": {
            "$ref": "MySqlProperty"
          },
          "type": "array",
          "description": "Optional. List of MySql properties."
        }
      }
    },
    "PostgreSqlProperty": {
      "id": "PostgreSqlProperty",
      "properties": {
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        },
        "numericValue": {
          "description": "Required. The property numeric value.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "PostgreSql property.",
      "type": "object"
    },
    "BatchUpdateAssetsRequest": {
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.",
          "type": "array",
          "items": {
            "$ref": "UpdateAssetRequest"
          }
        }
      },
      "description": "A request to update a list of assets.",
      "id": "BatchUpdateAssetsRequest",
      "type": "object"
    },
    "EstimatedUsage": {
      "properties": {
        "estimatedDiskPercentage": {
          "description": "Optional. Estimated disk utilization percentage. Must be in the range [1, 100].",
          "type": "number",
          "format": "float"
        },
        "estimatedCpuPercentage": {
          "type": "number",
          "description": "Optional. Estimated CPU utilization percentage. Must be in the range [1, 100].",
          "format": "float"
        },
        "estimatedMemoryPercentage": {
          "description": "Optional. Estimated memory utilization percentage. Must be in the range [1, 100].",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Estimated usage data.",
      "id": "EstimatedUsage",
      "type": "object"
    },
    "ReportSummaryAssetAggregateStatsEstimatedUsageStats": {
      "id": "ReportSummaryAssetAggregateStatsEstimatedUsageStats",
      "description": "Estimated usage stats for the assets in this collection.",
      "properties": {
        "totalAssetsUsingEstimatedUsage": {
          "readOnly": true,
          "description": "Output only. The number of assets that are using at least one estimated usage metric for rightsizing.",
          "format": "int64",
          "type": "string"
        },
        "totalVirtualMachinesUsingEstimatedUsage": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of virtual machines in this finding that are using at least one estimated usage metric for rightsizing.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "BiosDetails": {
      "properties": {
        "id": {
          "description": "BIOS ID.",
          "type": "string"
        },
        "biosVersion": {
          "type": "string",
          "description": "BIOS version."
        },
        "biosReleaseDate": {
          "description": "BIOS release date.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "BIOS version."
        },
        "smbiosUuid": {
          "description": "SMBIOS UUID.",
          "type": "string"
        },
        "biosManufacturer": {
          "type": "string",
          "description": "BIOS manufacturer."
        },
        "manufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        },
        "biosName": {
          "type": "string",
          "description": "BIOS name."
        },
        "releaseTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "BIOS release date."
        }
      },
      "type": "object",
      "description": "Details about the BIOS.",
      "id": "BiosDetails"
    },
    "DatabaseObjects": {
      "id": "DatabaseObjects",
      "type": "object",
      "description": "Details of a group of database objects.",
      "properties": {
        "category": {
          "type": "string",
          "description": "The category of the objects.",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "TABLE",
            "INDEX",
            "CONSTRAINTS",
            "VIEWS",
            "SOURCE_CODE",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Table.",
            "Index.",
            "Constraints.",
            "Views.",
            "Source code, e.g. procedures.",
            "Uncategorized objects."
          ]
        },
        "count": {
          "type": "string",
          "description": "The number of objects.",
          "format": "int64"
        }
      }
    },
    "ReportSummarySoleTenantFinding": {
      "id": "ReportSummarySoleTenantFinding",
      "type": "object",
      "properties": {
        "allocatedAssetCount": {
          "type": "string",
          "description": "Count of assets which are allocated",
          "format": "int64"
        },
        "nodeAllocations": {
          "description": "Set of per-nodetype allocation records",
          "type": "array",
          "items": {
            "$ref": "ReportSummarySoleTenantNodeAllocation"
          }
        },
        "allocatedRegions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Set of regions in which the assets are allocated"
        }
      },
      "description": "A set of findings that applies to assets destined for Sole-Tenant nodes."
    },
    "AwsNatGatewayDetails": {
      "id": "AwsNatGatewayDetails",
      "description": "Details of an AWS NAT Gateway.",
      "type": "object",
      "properties": {}
    },
    "ReportSummarySoleTenantNodeAllocation": {
      "id": "ReportSummarySoleTenantNodeAllocation",
      "description": "Represents the assets allocated to a specific Sole-Tenant node type.",
      "properties": {
        "node": {
          "description": "Sole Tenant node type, e.g. \"m3-node-128-3904\"",
          "$ref": "SoleTenantNodeType"
        },
        "nodeCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of this node type to be provisioned"
        },
        "allocatedAssetCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of assets allocated to these nodes"
        }
      },
      "type": "object"
    },
    "CascadingRule": {
      "id": "CascadingRule",
      "properties": {
        "cascadeLogicalDbs": {
          "description": "Cascading rule for related logical DBs.",
          "$ref": "CascadeLogicalDBsRule"
        }
      },
      "type": "object",
      "description": "Specifies cascading rules for traversing relations."
    },
    "AwsElasticNetworkInterfaceDetails": {
      "properties": {},
      "description": "Asset information specific for AWS Elastic Network Interfaces.",
      "type": "object",
      "id": "AwsElasticNetworkInterfaceDetails"
    },
    "AwsEcsClusterDetails": {
      "id": "AwsEcsClusterDetails",
      "properties": {},
      "description": "Details of an AWS ECS cluster.",
      "type": "object"
    },
    "CloudDatabaseMigrationTarget": {
      "id": "CloudDatabaseMigrationTarget",
      "properties": {
        "cloudSqlForMysqlShape": {
          "description": "Cloud SQL for MySQL database shape.",
          "$ref": "CloudSqlForMySqlShape"
        },
        "cloudSqlShape": {
          "description": "Cloud SQL for SQL Server database shape.",
          "$ref": "CloudSqlForSqlServerShape"
        },
        "cloudSqlForPostgresqlShape": {
          "description": "Cloud SQL for PostgreSQL database shape.",
          "$ref": "CloudSqlForPostgreSqlShape"
        }
      },
      "type": "object",
      "description": "Cloud database migration target."
    },
    "CloudSqlForMySqlShape": {
      "description": "Cloud SQL for MySQL database shape.",
      "properties": {
        "memoryMb": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Predicted amount of memory in MiB."
        },
        "backupStorageGb": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Predicted backup storage size in GiB."
        },
        "edition": {
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "type": "string",
          "description": "Output only. Cloud SQL edition.",
          "readOnly": true,
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ]
        },
        "version": {
          "description": "Output only. MySQL version to be used on the Cloud SQL for MySQL instance.",
          "type": "string",
          "enum": [
            "MY_SQL_VERSION_UNSPECIFIED",
            "MY_SQL_VERSION_5_6",
            "MY_SQL_VERSION_5_7",
            "MY_SQL_VERSION_8_0"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified MySQL version.",
            "MySQL 5.6.",
            "MySQL 5.7.",
            "MySQL 8.0."
          ]
        },
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "storage": {
          "readOnly": true,
          "description": "Output only. Predicted storage shape.",
          "$ref": "ComputeStorageDescriptor"
        },
        "egressGbPerMonth": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Predicted Network Out traffic GiB per month."
        },
        "zoneAvailability": {
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "description": "Output only. Cloud SQL zone availability.",
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudSqlForMySqlShape"
    },
    "DatabaseDetails": {
      "type": "object",
      "properties": {
        "parentDatabaseDeployment": {
          "$ref": "DatabaseDetailsParentDatabaseDeployment",
          "description": "The parent database deployment that contains the logical database."
        },
        "allocatedStorageBytes": {
          "format": "int64",
          "description": "The allocated storage for the database in bytes.",
          "type": "string"
        },
        "databaseName": {
          "type": "string",
          "description": "The name of the database."
        },
        "schemas": {
          "items": {
            "$ref": "DatabaseSchema"
          },
          "description": "The database schemas.",
          "type": "array"
        }
      },
      "id": "DatabaseDetails",
      "description": "Details of a logical database."
    },
    "SqlServerFeature": {
      "id": "SqlServerFeature",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Required. Field enabled is set when a feature is used on the source deployment."
        },
        "featureName": {
          "description": "Required. The feature name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "SQL Server feature details."
    },
    "UpdateAssetRequest": {
      "id": "UpdateAssetRequest",
      "description": "A request to update an asset.",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "Required. Field mask is used to specify the fields to be overwritten in the `Asset` resource by the update. The values specified in the `update_mask` field are relative to the resource, not the full request. A field will be overwritten if it is in the mask. A single * value in the mask lets you to overwrite all fields.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "asset": {
          "description": "Required. The resource being updated.",
          "$ref": "Asset"
        }
      }
    },
    "ImportDataFile": {
      "id": "ImportDataFile",
      "properties": {
        "format": {
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "type": "string",
          "description": "Required. The payload format.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 256 characters.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the file."
        },
        "uploadFileInfo": {
          "description": "Information about a file that is uploaded to a storage service.",
          "$ref": "UploadFileInfo"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "type": "string",
          "description": "Output only. The state of the import data file."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the file was created.",
          "readOnly": true
        }
      },
      "description": "A resource that represents a payload file in an import job.",
      "type": "object"
    },
    "HostingProviderDetails": {
      "description": "Details about the hosting platform of the asset.",
      "type": "object",
      "id": "HostingProviderDetails",
      "properties": {
        "location": {
          "$ref": "ResourceLocation",
          "description": "Optional. Location of the asset."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the asset."
        },
        "aws": {
          "$ref": "HostingProviderDetailsAws",
          "description": "Optional. The AWS platform details."
        },
        "createTime": {
          "type": "string",
          "description": "Optional. The timestamp when resource was created in the hosting provider.",
          "format": "google-datetime"
        },
        "originalId": {
          "type": "string",
          "description": "Optional. Unique identifier for the asset in the hosting provider."
        }
      }
    },
    "NfsExportList": {
      "type": "object",
      "description": "NFS exports.",
      "properties": {
        "entries": {
          "items": {
            "$ref": "NfsExport"
          },
          "type": "array",
          "description": "NFS export entries."
        }
      },
      "id": "NfsExportList"
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "type": "object",
      "id": "TimeZone"
    },
    "AggregationCount": {
      "properties": {},
      "id": "AggregationCount",
      "description": "Object count.",
      "type": "object"
    },
    "ReportConfigGroupPreferenceSetAssignment": {
      "properties": {
        "group": {
          "type": "string",
          "description": "Required. Name of the group."
        },
        "preferenceSet": {
          "description": "Required. Name of the Preference Set.",
          "type": "string"
        }
      },
      "description": "Represents a combination of a group with a preference set.",
      "type": "object",
      "id": "ReportConfigGroupPreferenceSetAssignment"
    },
    "AggregationResultHistogram": {
      "properties": {
        "buckets": {
          "items": {
            "$ref": "AggregationResultHistogramBucket"
          },
          "type": "array",
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity."
        }
      },
      "description": "The result of a bucketed histogram aggregation.",
      "type": "object",
      "id": "AggregationResultHistogram"
    },
    "OperatingSystemPricingPreferences": {
      "description": "Pricing options for OS images.",
      "type": "object",
      "id": "OperatingSystemPricingPreferences",
      "properties": {
        "slesForSap": {
          "description": "Optional. Pricing options for SLES for SAP images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "rhel": {
          "description": "Optional. Pricing options for RHEL images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "sles": {
          "description": "Optional. Pricing options for SLES images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "windows": {
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing",
          "description": "Optional. Pricing options for Windows images. No commitment plans are available, set it to unspecified."
        }
      }
    },
    "AssetsExportJobPerformanceData": {
      "type": "object",
      "id": "AssetsExportJobPerformanceData",
      "description": "Configuration for performance data exports.",
      "properties": {
        "maxDays": {
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ImportJob": {
      "description": "A resource that represents the background job that imports asset frames.",
      "id": "ImportJob",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the import job.",
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ],
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ],
          "type": "string"
        },
        "executionReport": {
          "description": "Output only. The report with the results of running the import job.",
          "$ref": "ExecutionReport",
          "readOnly": true
        },
        "completeTime": {
          "description": "Output only. The timestamp when the import job was completed.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the import job was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "gcsPayload": {
          "$ref": "GCSPayloadInfo",
          "deprecated": true,
          "description": "The payload is in Google Cloud Storage."
        },
        "inlinePayload": {
          "description": "The payload is included in the request, mainly used for small import jobs.",
          "$ref": "InlinePayloadInfo"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The full name of the import job.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the import job was created."
        },
        "validationReport": {
          "description": "Output only. The report with the validation results of the import job.",
          "readOnly": true,
          "$ref": "ValidationReport"
        },
        "assetSource": {
          "description": "Required. Reference to a source.",
          "type": "string"
        }
      }
    },
    "AwsElastiCacheClusterDetails": {
      "id": "AwsElastiCacheClusterDetails",
      "type": "object",
      "description": "Details of an AWS ElastiCache Cluster.",
      "properties": {}
    },
    "GuestRuntimeDetails": {
      "description": "Guest OS runtime information.",
      "type": "object",
      "id": "GuestRuntimeDetails",
      "properties": {
        "processes": {
          "description": "Running processes.",
          "$ref": "RunningProcessList"
        },
        "machineName": {
          "type": "string",
          "description": "Machine name."
        },
        "openFileList": {
          "$ref": "OpenFileList",
          "description": "Open files information."
        },
        "networkInfo": {
          "$ref": "RuntimeNetworkInfo",
          "description": "Runtime network information (connections, ports)."
        },
        "domain": {
          "type": "string",
          "description": "Domain, e.g. c.stratozone-development.internal."
        },
        "installedApps": {
          "$ref": "GuestInstalledApplicationList",
          "description": "Installed applications information."
        },
        "lastUptime": {
          "description": "Date since last booted (last uptime date).",
          "$ref": "Date"
        },
        "lastBootTime": {
          "description": "Last time the OS was booted.",
          "type": "string",
          "format": "google-datetime"
        },
        "services": {
          "$ref": "RunningServiceList",
          "description": "Running background services."
        }
      }
    },
    "CpuUsageSample": {
      "properties": {
        "utilizedPercentage": {
          "description": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "CpuUsageSample",
      "type": "object",
      "description": "CPU usage sample."
    },
    "ReportSummaryChartData": {
      "type": "object",
      "description": "Describes a collection of data points rendered as a Chart.",
      "id": "ReportSummaryChartData",
      "properties": {
        "dataPoints": {
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          }
        }
      }
    },
    "ImportRowErrorArchiveErrorDetails": {
      "properties": {
        "filePath": {
          "type": "string",
          "description": "The file path inside the archive where the error was detected."
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        }
      },
      "type": "object",
      "id": "ImportRowErrorArchiveErrorDetails",
      "description": "Error details for an archive file."
    },
    "AggregateAssetsValuesResponse": {
      "description": "A response to a request to aggregated assets values.",
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "AggregationResult"
          },
          "description": "The aggregation results."
        }
      },
      "id": "AggregateAssetsValuesResponse"
    },
    "VmwareEngineMigrationTarget": {
      "id": "VmwareEngineMigrationTarget",
      "properties": {},
      "description": "VMWare engine migration target.",
      "type": "object"
    },
    "VmwareEnginePreferences": {
      "id": "VmwareEnginePreferences",
      "properties": {
        "commitmentPlan": {
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_FLEXIBLE_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_FLEXIBLE_3_YEAR_UPFRONT_PAYMENT"
          ],
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment).",
            "3-year flexible commitment (monthly payments). While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible commitment (upfront payment). While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "type": "string"
        },
        "memoryOvercommitRatio": {
          "type": "number",
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0.",
          "format": "double"
        },
        "storageDeduplicationCompressionRatio": {
          "type": "number",
          "format": "double",
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0."
        },
        "licenseDiscountPercentage": {
          "type": "number",
          "format": "float",
          "description": "Optional. Discount percentage for the license offered to you by Broadcom. Must be between 0 and 100. Only valid when service_type is set to SERVICE_TYPE_PORTABLE_LICENSE."
        },
        "serviceType": {
          "type": "string",
          "description": "Optional. GCVE service type (fully licensed or portable license).",
          "enumDescriptions": [
            "Same as SERVICE_TYPE_FULLY_LICENSED.",
            "Google provided VCF license.",
            "Bring Your Own License."
          ],
          "enum": [
            "SERVICE_TYPE_UNSPECIFIED",
            "SERVICE_TYPE_FULLY_LICENSED",
            "SERVICE_TYPE_PORTABLE_LICENSE"
          ]
        },
        "cpuOvercommitRatio": {
          "format": "double",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment.",
          "type": "number"
        },
        "machinePreferences": {
          "description": "Optional. Preferences concerning the machine types to consider on Google Cloud VMware Engine.",
          "$ref": "VMwareEngineMachinePreferences"
        }
      },
      "description": "The user preferences relating to Google Cloud VMware Engine target platform.",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      }
    },
    "AggregationResultCount": {
      "properties": {
        "value": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AggregationResultCount",
      "description": "The result of a count aggregation."
    },
    "AwsDynamoDBTableDetails": {
      "properties": {},
      "description": "Details of an AWS DynamoDB table.",
      "id": "AwsDynamoDBTableDetails",
      "type": "object"
    },
    "DatabaseDeploymentDetails": {
      "description": "The details of a database deployment asset.",
      "type": "object",
      "id": "DatabaseDeploymentDetails",
      "properties": {
        "manualUniqueId": {
          "description": "A manual unique ID set by the user.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The database deployment version."
        },
        "generatedId": {
          "description": "The database deployment generated ID.",
          "type": "string"
        },
        "postgresql": {
          "description": "Details of a PostgreSQL database deployment.",
          "$ref": "PostgreSqlDatabaseDeployment"
        },
        "awsRds": {
          "description": "Optional. Details of an AWS RDS instance.",
          "$ref": "AwsRds"
        },
        "aggregatedStats": {
          "readOnly": true,
          "$ref": "DatabaseDeploymentDetailsAggregatedStats",
          "description": "Output only. Aggregated stats for the database deployment."
        },
        "mysql": {
          "$ref": "MysqlDatabaseDeployment",
          "description": "Details of a MYSQL database deployment."
        },
        "edition": {
          "type": "string",
          "description": "The database deployment edition."
        },
        "sqlServer": {
          "$ref": "SqlServerDatabaseDeployment",
          "description": "Details of a Microsoft SQL Server database deployment."
        },
        "topology": {
          "description": "Details of the database deployment topology.",
          "$ref": "DatabaseDeploymentTopology"
        }
      }
    },
    "SoleTenancyPreferences": {
      "type": "object",
      "properties": {
        "cpuOvercommitRatio": {
          "format": "double",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 2.0 inclusive.",
          "type": "number"
        },
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR",
            "COMMITMENT_3_YEAR",
            "COMMITMENT_FLEXIBLE_1_YEAR",
            "COMMITMENT_FLEXIBLE_3_YEAR"
          ],
          "type": "string"
        },
        "osPricingPreferences": {
          "$ref": "OperatingSystemPricingPreferences",
          "description": "Optional. Pricing options for OS images."
        },
        "nodeTypes": {
          "description": "A list of sole tenant node types. An empty list means that all possible node types will be considered.",
          "type": "array",
          "items": {
            "$ref": "SoleTenantNodeType"
          }
        },
        "hostMaintenancePolicy": {
          "enum": [
            "HOST_MAINTENANCE_POLICY_UNSPECIFIED",
            "HOST_MAINTENANCE_POLICY_DEFAULT",
            "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE",
            "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          ],
          "description": "Sole Tenancy nodes maintenance policy.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified host maintenance policy.",
            "Default host maintenance policy.",
            "Restart in place host maintenance policy.",
            "Migrate within node group host maintenance policy."
          ]
        }
      },
      "id": "SoleTenancyPreferences",
      "description": "Preferences concerning Sole Tenancy nodes and VMs."
    },
    "RunningService": {
      "properties": {
        "pid": {
          "format": "int64",
          "description": "Service pid.",
          "type": "string"
        },
        "cmdline": {
          "description": "Service command line.",
          "type": "string"
        },
        "name": {
          "description": "Service name.",
          "type": "string"
        },
        "state": {
          "description": "Service state (raw, OS-agnostic).",
          "type": "string"
        },
        "exePath": {
          "description": "Service binary path.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Service status."
        },
        "serviceName": {
          "type": "string",
          "description": "Service name."
        },
        "startMode": {
          "description": "Service start mode (raw, OS-agnostic).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Guest OS running service details.",
      "id": "RunningService"
    },
    "AwsKinesisStreamDetails": {
      "type": "object",
      "properties": {},
      "description": "Contains details for an AWS Kinesis Stream asset.",
      "id": "AwsKinesisStreamDetails"
    },
    "ListErrorFramesResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "errorFrames": {
          "type": "array",
          "description": "The list of error frames.",
          "items": {
            "$ref": "ErrorFrame"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "ListErrorFramesResponse",
      "description": "A response for listing error frames.",
      "type": "object"
    },
    "ListImportDataFilesResponse": {
      "type": "object",
      "properties": {
        "importDataFiles": {
          "items": {
            "$ref": "ImportDataFile"
          },
          "type": "array",
          "description": "The list of import data files."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response for listing payload files of an import job.",
      "id": "ListImportDataFilesResponse"
    },
    "Asset": {
      "properties": {
        "title": {
          "description": "Output only. Server generated human readable name of the asset.",
          "readOnly": true,
          "type": "string"
        },
        "hideReason": {
          "type": "string",
          "description": "Optional. An optional reason for marking this asset as hidden."
        },
        "assignedGroups": {
          "description": "Output only. The list of groups that the asset is assigned to.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "awsRedshiftDetails": {
          "readOnly": true,
          "$ref": "AwsRedshiftDetails",
          "description": "Output only. Asset information specific for AWS Redshift"
        },
        "awsBatchComputeEnvironmentDetails": {
          "readOnly": true,
          "$ref": "AwsBatchComputeEnvironmentDetails",
          "description": "Output only. Asset information specific for AWS Batch Compute Environments."
        },
        "awsApplicationLoadBalancerDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS Application Load Balancers.",
          "$ref": "AwsApplicationLoadBalancerDetails"
        },
        "insightList": {
          "readOnly": true,
          "description": "Output only. The list of insights associated with the asset.",
          "$ref": "InsightList"
        },
        "awsAppSyncGraphqlApiDetails": {
          "description": "Output only. Asset information specific for AWS AppSync GraphQL APIs.",
          "$ref": "AwsAppSyncGraphqlApiDetails",
          "readOnly": true
        },
        "awsCloudFrontDistributionDetails": {
          "readOnly": true,
          "$ref": "AwsCloudFrontDistributionDetails",
          "description": "Output only. Asset information specific for AWS CloudFront distributions."
        },
        "databaseDetails": {
          "$ref": "DatabaseDetails",
          "description": "Output only. Asset information specific for logical databases.",
          "readOnly": true
        },
        "awsVpcDetails": {
          "description": "Output only. Asset information specific for AWS VPCs.",
          "$ref": "AwsVpcDetails",
          "readOnly": true
        },
        "awsEbsVolumeDetails": {
          "description": "Output only. Asset information specific for AWS EBS Volumes.",
          "$ref": "AwsEbsVolumeDetails",
          "readOnly": true
        },
        "hostingProviderDetails": {
          "description": "Output only. Details about the hosting provider of the asset.",
          "readOnly": true,
          "$ref": "HostingProviderDetails"
        },
        "name": {
          "description": "Output only. The full name of the asset.",
          "type": "string",
          "readOnly": true
        },
        "awsEksClusterDetails": {
          "description": "Output only. Asset information specific for AWS EKS clusters.",
          "readOnly": true,
          "$ref": "AwsEksClusterDetails"
        },
        "structuredAttributes": {
          "description": "Optional. Generic structured asset attributes.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "sources": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of sources contributing to the asset.",
          "readOnly": true
        },
        "machineDetails": {
          "$ref": "MachineDetails",
          "description": "Output only. Asset information specific for virtual machines.",
          "readOnly": true
        },
        "awsEfsFileSystemDetails": {
          "description": "Output only. Asset information specific for AWS EFS file systems.",
          "$ref": "AwsEfsFileSystemDetails",
          "readOnly": true
        },
        "awsLambdaFunctionDetails": {
          "readOnly": true,
          "$ref": "AwsLambdaFunctionDetails",
          "description": "Output only. Asset information specific for AWS Lambda functions."
        },
        "awsEmrClusterDetails": {
          "readOnly": true,
          "$ref": "AwsEmrClusterDetails",
          "description": "Output only. Asset information specific for AwsEmrClusterDetails"
        },
        "awsApiGatewayRestApiDetails": {
          "description": "Output only. Asset information specific for AWS API Gateway REST APIs.",
          "$ref": "AwsApiGatewayRestApiDetails",
          "readOnly": true
        },
        "databaseDeploymentDetails": {
          "description": "Output only. Asset information specific for database deployments.",
          "$ref": "DatabaseDeploymentDetails",
          "readOnly": true
        },
        "hidden": {
          "type": "boolean",
          "description": "Optional. Indicates if the asset is hidden."
        },
        "awsDynamodbTableDetails": {
          "readOnly": true,
          "$ref": "AwsDynamoDBTableDetails",
          "description": "Output only. Asset information specific for AWS DynamoDB tables."
        },
        "awsNatGatewayDetails": {
          "$ref": "AwsNatGatewayDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AwsNatGatewayDetails"
        },
        "virtualMachineDetails": {
          "description": "Output only. Asset information specific for virtual machines.",
          "readOnly": true,
          "$ref": "VirtualMachineDetails"
        },
        "awsGlueJobDetails": {
          "$ref": "AwsGlueJobDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AwsGlueJobDetails"
        },
        "awsAthenaWorkGroupDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AwsAthenaWorkGroupDetails",
          "$ref": "AwsAthenaWorkGroupDetails"
        },
        "awsElasticacheClusterDetails": {
          "$ref": "AwsElastiCacheClusterDetails",
          "description": "Output only. Asset information specific for AWS ElastiCache Clusters.",
          "readOnly": true
        },
        "awsS3BucketDetails": {
          "description": "Output only. Asset information specific for AWS S3 buckets.",
          "$ref": "AwsS3BucketDetails",
          "readOnly": true
        },
        "awsElbLoadBalancerDetails": {
          "description": "Output only. Asset information specific for AWS Load Balancers.",
          "readOnly": true,
          "$ref": "AwsElbLoadBalancerDetails"
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "hideTime": {
          "description": "Output only. The timestamp when the asset was marked as hidden.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "awsInternetGatewayDetails": {
          "description": "Output only. Asset information specific for AWS Internet Gateways.",
          "$ref": "AwsInternetGatewayDetails",
          "readOnly": true
        },
        "awsRoute53HostedZoneDetails": {
          "readOnly": true,
          "$ref": "AwsRoute53HostedZoneDetails",
          "description": "Output only. Asset information specific for AwsRoute53HostedZoneDetails"
        },
        "awsElasticIpAddressDetails": {
          "$ref": "AwsElasticIpAddressDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS Elastic IP Addresses."
        },
        "awsFirehoseDetails": {
          "description": "Output only. Asset information specific for AwsFirehoseDetails",
          "readOnly": true,
          "$ref": "AwsFirehoseDetails"
        },
        "attributes": {
          "type": "object",
          "description": "Generic asset attributes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "performanceData": {
          "$ref": "AssetPerformanceData",
          "description": "Performance data for the asset."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the asset was last updated."
        },
        "createTime": {
          "description": "Output only. The timestamp when the asset was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "awsSnsTopicDetails": {
          "$ref": "AwsSnsTopicDetails",
          "description": "Output only. Asset information specific for AWS SNS Topics.",
          "readOnly": true
        },
        "awsEcrRepositoryDetails": {
          "$ref": "AwsEcrRepositoryDetails",
          "description": "Output only. Asset information specific for AwsEcrRepositoryDetails",
          "readOnly": true
        },
        "awsEcsClusterDetails": {
          "description": "Output only. Asset information specific for AWS ECS clusters.",
          "readOnly": true,
          "$ref": "AwsEcsClusterDetails"
        },
        "awsAutoscalingGroupDetails": {
          "$ref": "AwsAutoscalingGroupDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AwsAutoscalingGroupDetails"
        },
        "awsElasticNetworkInterfaceDetails": {
          "$ref": "AwsElasticNetworkInterfaceDetails",
          "description": "Output only. Asset information specific for AWS Elastic Network Interfaces.",
          "readOnly": true
        },
        "awsKinesisStreamDetails": {
          "description": "Output only. Asset information specific for AwsKinesisStreamDetails",
          "$ref": "AwsKinesisStreamDetails",
          "readOnly": true
        }
      },
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases.",
      "type": "object",
      "id": "Asset"
    },
    "OpenFileDetails": {
      "id": "OpenFileDetails",
      "type": "object",
      "properties": {
        "fileType": {
          "type": "string",
          "description": "Opened file file type."
        },
        "command": {
          "description": "Opened file command.",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "Opened file user."
        },
        "filePath": {
          "description": "Opened file file path.",
          "type": "string"
        }
      },
      "description": "Open file Information."
    },
    "MachinePreferences": {
      "id": "MachinePreferences",
      "properties": {
        "allowedMachineSeries": {
          "type": "array",
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "items": {
            "$ref": "MachineSeries"
          }
        }
      },
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations for Compute Engine. Not all machine types are available in all zones and regions.",
      "type": "object"
    },
    "DatabasePreferencesCloudSqlPostgreSql": {
      "id": "DatabasePreferencesCloudSqlPostgreSql",
      "properties": {
        "common": {
          "description": "Optional. Preferences to Cloud SQL databases.",
          "$ref": "DatabasePreferencesCloudSqlCommon"
        }
      },
      "type": "object",
      "description": "Preferences for PostgreSQL on Cloud SQL."
    },
    "AggregateAssetsValuesRequest": {
      "description": "A request to aggregate one or more values.",
      "id": "AggregateAssetsValuesRequest",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Optional. The aggregation will be performed on assets that match the provided filter.",
          "type": "string"
        },
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        },
        "aggregations": {
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined.",
          "items": {
            "$ref": "Aggregation"
          },
          "type": "array"
        }
      }
    },
    "NetworkAdapterList": {
      "description": "List of network adapters.",
      "id": "NetworkAdapterList",
      "type": "object",
      "properties": {
        "networkAdapters": {
          "description": "Network adapter descriptions.",
          "type": "array",
          "items": {
            "$ref": "NetworkAdapterDetails"
          }
        },
        "entries": {
          "description": "Network adapter entries.",
          "type": "array",
          "items": {
            "$ref": "NetworkAdapterDetails"
          }
        }
      }
    },
    "AssetsExportJobExportCondition": {
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Assets filter, supports the same syntax as asset listing."
        }
      },
      "description": "Conditions for selecting assets to export.",
      "type": "object",
      "id": "AssetsExportJobExportCondition"
    },
    "AggregationResult": {
      "id": "AggregationResult",
      "type": "object",
      "properties": {
        "sum": {
          "$ref": "AggregationResultSum"
        },
        "frequency": {
          "$ref": "AggregationResultFrequency"
        },
        "histogram": {
          "$ref": "AggregationResultHistogram"
        },
        "field": {
          "type": "string"
        },
        "count": {
          "$ref": "AggregationResultCount"
        }
      },
      "description": "Message describing a result of an aggregation."
    },
    "AwsApiGatewayRestApiDetails": {
      "type": "object",
      "properties": {},
      "id": "AwsApiGatewayRestApiDetails",
      "description": "Asset information specific for AWS API Gateway REST APIs."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "ListReportExportJobsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return.",
          "type": "string",
          "readOnly": true
        },
        "reportExportJobs": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of report export jobs.",
          "items": {
            "$ref": "ReportExportJob"
          }
        }
      },
      "id": "ListReportExportJobsResponse",
      "description": "Response message for listing report export jobs.",
      "type": "object"
    },
    "ListAssetsResponse": {
      "id": "ListAssetsResponse",
      "description": "Response message for listing assets.",
      "type": "object",
      "properties": {
        "assets": {
          "items": {
            "$ref": "Asset"
          },
          "description": "A list of assets.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "GCSPayloadInfo": {
      "id": "GCSPayloadInfo",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "The payload path in Google Cloud Storage."
        },
        "format": {
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "type": "string",
          "description": "The import job format."
        }
      },
      "description": "A resource that represents a payload hosted on Google Cloud Storage."
    },
    "Issue": {
      "properties": {
        "description": {
          "description": "Output only. English description of the issue.",
          "readOnly": true,
          "type": "string"
        },
        "issueCode": {
          "type": "string",
          "description": "Output only. Unique identifier for this issue type.",
          "readOnly": true
        },
        "compatibilityIssue": {
          "description": "Output only. Details about a compatibility issue.",
          "$ref": "IssueCompatibilityIssue",
          "readOnly": true
        }
      },
      "id": "Issue",
      "type": "object",
      "description": "An issue associated with a migration."
    },
    "RunningServiceList": {
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "RunningService"
          },
          "description": "Running service entries.",
          "type": "array"
        },
        "services": {
          "type": "array",
          "items": {
            "$ref": "RunningService"
          },
          "description": "Running service entries."
        }
      },
      "description": "List of running guest OS services.",
      "id": "RunningServiceList"
    },
    "OperatingSystemPricingPreferencesOperatingSystemPricing": {
      "id": "OperatingSystemPricingPreferencesOperatingSystemPricing",
      "properties": {
        "licenseType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the license."
          ],
          "description": "Optional. License type for premium images (RHEL, RHEL for SAP, SLES, SLES for SAP, Windows Server).",
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ]
        },
        "commitmentPlan": {
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1-year committed use discount.",
            "3-year committed use discount."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_ON_DEMAND",
            "COMMITMENT_PLAN_1_YEAR",
            "COMMITMENT_PLAN_3_YEAR"
          ],
          "description": "Optional. The plan of commitments for committed use discounts (CUD).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Pricing options of an OS image."
    },
    "MigrationInsight": {
      "id": "MigrationInsight",
      "description": "An insight about potential migrations for an asset.",
      "type": "object",
      "properties": {
        "vmwareEngineTarget": {
          "description": "Output only. A VMWare Engine target.",
          "readOnly": true,
          "$ref": "VmwareEngineMigrationTarget"
        },
        "computeEngineTarget": {
          "$ref": "ComputeEngineMigrationTarget",
          "description": "Output only. A Google Compute Engine target.",
          "readOnly": true
        },
        "computeEngineSoleTenantTarget": {
          "readOnly": true,
          "$ref": "ComputeEngineSoleTenantMigrationTarget",
          "description": "Output only. A Google Compute Engine Sole Tenant target."
        },
        "cloudDatabaseTarget": {
          "$ref": "CloudDatabaseMigrationTarget",
          "readOnly": true,
          "description": "Output only. A Cloud database migration target."
        },
        "gkeTarget": {
          "description": "Output only. A Google Kubernetes Engine target.",
          "readOnly": true,
          "$ref": "GoogleKubernetesEngineMigrationTarget"
        },
        "fit": {
          "$ref": "FitDescriptor",
          "readOnly": true,
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration."
        },
        "issues": {
          "readOnly": true,
          "items": {
            "$ref": "Issue"
          },
          "description": "Output only. Issues associated with this migration.",
          "type": "array"
        }
      }
    },
    "MySqlStorageEngineDetails": {
      "type": "object",
      "description": "Mysql storage engine tables.",
      "properties": {
        "encryptedTableCount": {
          "type": "integer",
          "description": "Optional. The number of encrypted tables.",
          "format": "int32"
        },
        "tableCount": {
          "type": "integer",
          "description": "Optional. The number of tables.",
          "format": "int32"
        },
        "engine": {
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ],
          "description": "Required. The storage engine.",
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ],
          "type": "string"
        }
      },
      "id": "MySqlStorageEngineDetails"
    },
    "ReportSummaryHistogramChartDataBucket": {
      "properties": {
        "upperBound": {
          "format": "int64",
          "type": "string",
          "description": "Upper bound - exclusive."
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Count of items in the bucket."
        },
        "lowerBound": {
          "type": "string",
          "description": "Lower bound - inclusive.",
          "format": "int64"
        }
      },
      "id": "ReportSummaryHistogramChartDataBucket",
      "type": "object",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity."
    },
    "DailyResourceUsageAggregation": {
      "id": "DailyResourceUsageAggregation",
      "description": "Usage data aggregation for a single day.",
      "properties": {
        "cpu": {
          "description": "CPU usage.",
          "$ref": "DailyResourceUsageAggregationCPU"
        },
        "memory": {
          "$ref": "DailyResourceUsageAggregationMemory",
          "description": "Memory usage."
        },
        "network": {
          "description": "Network usage.",
          "$ref": "DailyResourceUsageAggregationNetwork"
        },
        "date": {
          "$ref": "Date",
          "description": "Aggregation date. Day boundaries are at midnight UTC."
        },
        "disk": {
          "$ref": "DailyResourceUsageAggregationDisk",
          "description": "Disk usage."
        }
      },
      "type": "object"
    },
    "GuestInstalledApplication": {
      "properties": {
        "vendor": {
          "description": "Installed application vendor.",
          "type": "string"
        },
        "time": {
          "type": "string",
          "description": "Date application was installed."
        },
        "licenses": {
          "description": "License strings associated with the installed application.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "applicationName": {
          "type": "string",
          "description": "Installed application name."
        },
        "version": {
          "description": "Installed application version.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Installed application name."
        },
        "path": {
          "description": "Source path.",
          "type": "string"
        },
        "installTime": {
          "type": "string",
          "description": "The time when the application was installed.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GuestInstalledApplication",
      "description": "Guest installed application information."
    },
    "SqlServerServerFlag": {
      "properties": {
        "serverFlagName": {
          "description": "Required. The server flag name.",
          "type": "string"
        },
        "valueInUse": {
          "type": "string",
          "description": "Required. The server flag actual value. If `value_in_use` is different from `value` it means that either the configuration change was not applied or it is an expected behavior. See SQL Server documentation for more details."
        },
        "value": {
          "description": "Required. The server flag value set by the user.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SqlServerServerFlag",
      "description": "SQL Server server flag details."
    },
    "AwsEc2PlatformDetails": {
      "type": "object",
      "properties": {
        "hyperthreading": {
          "type": "string",
          "description": "Optional. Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "machineTypeLabel": {
          "type": "string",
          "description": "AWS platform's machine type label."
        },
        "location": {
          "description": "The location of the machine in the AWS format.",
          "type": "string"
        }
      },
      "description": "AWS EC2 specific details.",
      "id": "AwsEc2PlatformDetails"
    },
    "ComputeEngineShapeDescriptor": {
      "type": "object",
      "id": "ComputeEngineShapeDescriptor",
      "description": "Compute Engine target shape descriptor.",
      "properties": {
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "storage": {
          "type": "array",
          "items": {
            "$ref": "ComputeStorageDescriptor"
          },
          "description": "Output only. Compute Engine storage. Never empty.",
          "readOnly": true
        },
        "series": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Compute Engine machine series."
        },
        "memoryMb": {
          "type": "integer",
          "description": "Output only. Memory in mebibytes.",
          "format": "int32",
          "readOnly": true
        },
        "physicalCoreCount": {
          "description": "Output only. Number of physical cores.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "smtEnabled": {
          "description": "Output only. Whether simultaneous multithreading is enabled. See https://cloud.google.com/compute/docs/instances/set-threads-per-core.",
          "readOnly": true,
          "type": "boolean"
        },
        "machineType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Compute Engine machine type."
        }
      }
    },
    "AwsElasticIpAddressDetails": {
      "type": "object",
      "properties": {},
      "id": "AwsElasticIpAddressDetails",
      "description": "Asset information specific for AWS Elastic IP Addresses."
    },
    "ListPreferenceSetsResponse": {
      "description": "Response message for listing preference sets.",
      "id": "ListPreferenceSetsResponse",
      "type": "object",
      "properties": {
        "preferenceSets": {
          "items": {
            "$ref": "PreferenceSet"
          },
          "type": "array",
          "description": "The list of PreferenceSets"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "SignedUris": {
      "description": "Contains a list of Signed URIs.",
      "id": "SignedUris",
      "type": "object",
      "properties": {
        "signedUris": {
          "type": "array",
          "items": {
            "$ref": "SignedUri"
          },
          "readOnly": true,
          "description": "Output only. List of signed URIs."
        }
      }
    },
    "DiskPartitionDetails": {
      "type": "object",
      "properties": {
        "totalCapacityBytes": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Total capacity of all partitions.",
          "type": "string"
        },
        "freeSpaceBytes": {
          "description": "Output only. Total free space of all partitions.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "partitions": {
          "description": "Optional. List of partitions.",
          "$ref": "DiskPartitionList"
        }
      },
      "id": "DiskPartitionDetails",
      "description": "Disk partition details."
    },
    "UploadFileInfo": {
      "id": "UploadFileInfo",
      "description": "A resource that contains a URI to which a data file can be uploaded.",
      "type": "object",
      "properties": {
        "uriExpirationTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Expiration time of the upload URI.",
          "type": "string"
        },
        "headers": {
          "description": "Output only. The headers that were used to sign the URL.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "signedUri": {
          "type": "string",
          "description": "Output only. Upload URI for the file.",
          "readOnly": true
        }
      }
    },
    "RunReportExportJobResponse": {
      "id": "RunReportExportJobResponse",
      "description": "Response message for running a report export job.",
      "type": "object",
      "properties": {
        "reportExportExecution": {
          "$ref": "ReportExportExecution",
          "readOnly": true,
          "description": "Output only. Execution status of the export operation."
        }
      }
    },
    "AssetPerformanceData": {
      "properties": {
        "dailyResourceUsageAggregations": {
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent.",
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          },
          "type": "array"
        }
      },
      "id": "AssetPerformanceData",
      "type": "object",
      "description": "Performance data for an asset."
    },
    "FitDescriptor": {
      "type": "object",
      "description": "Describes the fit level of an asset for migration to a specific target.",
      "properties": {
        "fitLevel": {
          "type": "string",
          "enum": [
            "FIT_LEVEL_UNSPECIFIED",
            "FIT",
            "NO_FIT",
            "REQUIRES_EFFORT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not enough information.",
            "Fit.",
            "No Fit.",
            "Fit with effort."
          ],
          "description": "Output only. Fit level."
        }
      },
      "id": "FitDescriptor"
    },
    "IssueCompatibilityIssue": {
      "type": "object",
      "id": "IssueCompatibilityIssue",
      "description": "Details about a compatibility issue.",
      "properties": {
        "associatedObject": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the object associated with this compatibility issue relative to the relevant asset. Does not represent a fully qualified resource name and is not intended for programmatic use."
        },
        "associatedObjectType": {
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "DATABASE_DEPLOYMENT",
            "DATABASE",
            "SCHEMA"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified object type.",
            "A database deployment object type.",
            "A logical database object type.",
            "A schema object type."
          ],
          "description": "Output only. Type of object associated with this migration compatibility issue.",
          "type": "string"
        },
        "category": {
          "readOnly": true,
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "DATABASE_FLAG",
            "DATABASE_FEATURE"
          ],
          "enumDescriptions": [
            "An unspecified compatibility category.",
            "Database flag compatibility category.",
            "Database feature compatibility category."
          ],
          "description": "Output only. Category of this compatibility issue.",
          "type": "string"
        },
        "associatedValue": {
          "description": "Output only. A string representation of actual value associated with this issue. Some values may contain aggregated information, such as a flag name and the actual value assigned to it.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "VirtualMachineArchitectureDetails": {
      "properties": {
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "firmware": {
          "type": "string",
          "description": "Firmware (BIOS/efi)."
        },
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "hyperthreading": {
          "type": "string",
          "enum": [
            "HYPER_THREADING_UNSPECIFIED",
            "HYPER_THREADING_DISABLED",
            "HYPER_THREADING_ENABLED"
          ],
          "enumDescriptions": [
            "Unknown (default value).",
            "Hyperthreading is disabled.",
            "Hyperthreading is enabled."
          ],
          "description": "CPU hyperthreading support."
        },
        "cpuManufacturer": {
          "description": "CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "cpuSocketCount": {
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer",
          "format": "int32"
        },
        "cpuThreadCount": {
          "description": "Deprecated: use VirtualMachineDetails.core_count instead. Number of CPU threads allocated to the machine.",
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "cpuName": {
          "type": "string",
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc."
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        }
      },
      "description": "Details of the VM architecture.",
      "id": "VirtualMachineArchitectureDetails",
      "type": "object"
    },
    "ReportSummary": {
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report.",
      "id": "ReportSummary",
      "type": "object",
      "properties": {
        "groupFindings": {
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          },
          "description": "Findings for each Group included in this report.",
          "type": "array"
        },
        "databaseStats": {
          "$ref": "ReportSummaryAssetAggregateStats",
          "description": "Output only. Aggregate statistics for unique database assets across all the groups.",
          "readOnly": true
        },
        "allAssetsStats": {
          "description": "Aggregate statistics for unique assets across all the groups.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "virtualMachineStats": {
          "$ref": "ReportSummaryAssetAggregateStats",
          "readOnly": true,
          "description": "Output only. Aggregate statistics for unique virtual machine assets across all the groups."
        }
      }
    },
    "HostsEntry": {
      "description": "Single /etc/hosts entry.",
      "type": "object",
      "id": "HostsEntry",
      "properties": {
        "hostNames": {
          "type": "array",
          "description": "List of host names / aliases.",
          "items": {
            "type": "string"
          }
        },
        "ip": {
          "type": "string",
          "description": "IP (raw, IPv4/6 agnostic)."
        }
      }
    },
    "DatabasePreferencesCloudSqlMySql": {
      "description": "Preferences for MySQL on Cloud SQL.",
      "type": "object",
      "properties": {
        "common": {
          "$ref": "DatabasePreferencesCloudSqlCommon",
          "description": "Optional. Preferences to Cloud SQL databases."
        }
      },
      "id": "DatabasePreferencesCloudSqlMySql"
    },
    "DailyResourceUsageAggregationMemory": {
      "description": "Statistical aggregation of memory usage.",
      "id": "DailyResourceUsageAggregationMemory",
      "type": "object",
      "properties": {
        "utilizationPercentage": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Memory utilization percentage."
        }
      }
    },
    "MemoryUsageSample": {
      "description": "Memory usage sample.",
      "type": "object",
      "id": "MemoryUsageSample",
      "properties": {
        "utilizedPercentage": {
          "description": "Percentage of system memory utilized. Must be in the interval [0, 100].",
          "format": "float",
          "type": "number"
        }
      }
    },
    "PreferenceSet": {
      "description": "The preferences that apply to all assets in a given context.",
      "properties": {
        "regionPreferences": {
          "description": "Optional. Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If unspecified, VirtualMachinePreferences.RegionPreferences is used.",
          "$ref": "RegionPreferences"
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the preference set was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "databasePreferences": {
          "$ref": "DatabasePreferences",
          "description": "Optional. A set of preferences that applies to all databases in the context."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the preference set was created.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the PreferenceSet."
        },
        "virtualMachinePreferences": {
          "description": "A set of preferences that applies to all virtual machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "description": {
          "description": "A description of the preference set.",
          "type": "string"
        }
      },
      "id": "PreferenceSet",
      "type": "object"
    },
    "RunReportExportJobRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A request to run a report export job.",
      "id": "RunReportExportJobRequest"
    },
    "RunningProcessList": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "RunningProcess"
          },
          "description": "Running process entries."
        },
        "processes": {
          "type": "array",
          "description": "Running process entries.",
          "items": {
            "$ref": "RunningProcess"
          }
        }
      },
      "id": "RunningProcessList",
      "description": "List of running guest OS processes."
    },
    "PayloadFile": {
      "type": "object",
      "properties": {
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The file data."
        },
        "name": {
          "type": "string",
          "description": "The file name."
        }
      },
      "description": "Payload file for inline import job payload.",
      "id": "PayloadFile"
    },
    "AwsCloudFrontDistributionDetails": {
      "id": "AwsCloudFrontDistributionDetails",
      "type": "object",
      "description": "Details of an AWS CloudFront distribution.",
      "properties": {}
    },
    "OutputFile": {
      "id": "OutputFile",
      "properties": {
        "fileSizeBytes": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. File size in bytes."
        },
        "xlsxOutputFile": {
          "readOnly": true,
          "description": "Output only. XLSX output file.",
          "$ref": "XlsxOutputFile"
        },
        "csvOutputFile": {
          "$ref": "CsvOutputFile",
          "description": "Output only. CSV output file.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Contains a single output file."
    },
    "PhysicalPlatformDetails": {
      "id": "PhysicalPlatformDetails",
      "description": "Platform specific details for Physical Machines.",
      "properties": {
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field.",
          "type": "string"
        },
        "hyperthreading": {
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Whether the machine is hyperthreaded."
        }
      },
      "type": "object"
    },
    "AwsS3BucketDetailsObjectsMetadataTotalObjects": {
      "description": "Information about the total number of objects in the bucket.",
      "id": "AwsS3BucketDetailsObjectsMetadataTotalObjects",
      "type": "object",
      "properties": {
        "value": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The total number of objects in the bucket."
        }
      }
    },
    "AwsBatchComputeEnvironmentDetails": {
      "type": "object",
      "description": "Asset information specific for AWS Batch Compute Environments.",
      "properties": {},
      "id": "AwsBatchComputeEnvironmentDetails"
    },
    "ListRelationsResponse": {
      "type": "object",
      "id": "ListRelationsResponse",
      "description": "Response message for listing relations.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "relations": {
          "items": {
            "$ref": "Relation"
          },
          "type": "array",
          "description": "A list of relations."
        }
      }
    },
    "ReportSummaryVMWareEngineFinding": {
      "description": "A set of findings that applies to assets destined for VMWare Engine.",
      "properties": {
        "allocatedAssetCount": {
          "type": "string",
          "description": "Count of assets which are allocated",
          "format": "int64"
        },
        "allocatedRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Set of regions in which the assets were allocated"
        },
        "nodeAllocations": {
          "type": "array",
          "description": "Set of per-nodetype allocation records",
          "items": {
            "$ref": "ReportSummaryVMWareNodeAllocation"
          }
        }
      },
      "type": "object",
      "id": "ReportSummaryVMWareEngineFinding"
    },
    "BatchDeleteAssetsRequest": {
      "properties": {
        "cascadingRules": {
          "description": "Optional. Optional cascading rules for deleting related assets.",
          "type": "array",
          "items": {
            "$ref": "CascadingRule"
          }
        },
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}."
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`."
        }
      },
      "description": "A request to delete a list of asset.",
      "id": "BatchDeleteAssetsRequest",
      "type": "object"
    },
    "AggregationResultHistogramBucket": {
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "id": "AggregationResultHistogramBucket",
      "properties": {
        "lowerBound": {
          "type": "number",
          "format": "double",
          "description": "Lower bound - inclusive."
        },
        "count": {
          "format": "int64",
          "description": "Count of items in the bucket.",
          "type": "string"
        },
        "upperBound": {
          "description": "Upper bound - exclusive.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "GuestConfigDetails": {
      "description": "Guest OS config information.",
      "type": "object",
      "id": "GuestConfigDetails",
      "properties": {
        "selinuxMode": {
          "type": "string",
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ],
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ],
          "description": "Security-Enhanced Linux (SELinux) mode."
        },
        "selinux": {
          "description": "SELinux details.",
          "$ref": "Selinux"
        },
        "issue": {
          "description": "OS issue (typically /etc/issue in Linux).",
          "type": "string"
        },
        "hosts": {
          "$ref": "HostsEntryList",
          "description": "Output only. Hosts file (/etc/hosts).",
          "readOnly": true
        },
        "fstab": {
          "description": "Mount list (Linux fstab).",
          "$ref": "FstabEntryList"
        },
        "nfsExports": {
          "description": "NFS exports.",
          "$ref": "NfsExportList"
        }
      }
    },
    "MachineSeries": {
      "id": "MachineSeries",
      "description": "A machine series, for a target product (e.g. Compute Engine, Google Cloud VMware Engine).",
      "type": "object",
      "properties": {
        "code": {
          "description": "Code to identify a machine series. Consult this for more details on the available series for Compute Engine: https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison Consult this for more details on the available series for Google Cloud VMware Engine: https://cloud.google.com/vmware-engine/pricing",
          "type": "string"
        }
      }
    },
    "RemoveAssetsFromGroupRequest": {
      "properties": {
        "assets": {
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000.",
          "$ref": "AssetList"
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        },
        "requestId": {
          "type": "string",
[...]
