{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "discoveryVersion": "v1",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "revision": "20260715",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "id": "migrationcenter:v1",
  "schemas": {
    "MachineArchitectureDetails": {
      "id": "MachineArchitectureDetails",
      "properties": {
        "cpuManufacturer": {
          "type": "string",
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\"."
        },
        "cpuSocketCount": {
          "type": "integer",
          "description": "Number of processor sockets allocated to the machine.",
          "format": "int32"
        },
        "hyperthreading": {
          "description": "CPU hyper-threading support.",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ],
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string"
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        },
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "cpuThreadCount": {
          "deprecated": true,
          "type": "integer",
          "description": "Deprecated: use MachineDetails.core_count instead. Number of CPU threads allocated to the machine.",
          "format": "int32"
        },
        "firmwareType": {
          "type": "string",
          "description": "Firmware type.",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ],
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ]
        },
        "cpuName": {
          "type": "string",
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc."
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details of the machine architecture."
    },
    "HostsEntry": {
      "type": "object",
      "description": "Single /etc/hosts entry.",
      "id": "HostsEntry",
      "properties": {
        "ip": {
          "description": "IP (raw, IPv4/6 agnostic).",
          "type": "string"
        },
        "hostNames": {
          "type": "array",
          "description": "List of host names / aliases.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DatabaseDeploymentDetails": {
      "description": "The details of a database deployment asset.",
      "type": "object",
      "properties": {
        "edition": {
          "type": "string",
          "description": "Optional. The database deployment edition."
        },
        "postgresql": {
          "description": "Optional. Details of a PostgreSQL database deployment.",
          "$ref": "PostgreSqlDatabaseDeployment"
        },
        "awsRds": {
          "$ref": "AwsRds",
          "description": "Optional. Details of an AWS RDS instance."
        },
        "version": {
          "description": "Optional. The database deployment version.",
          "type": "string"
        },
        "mysql": {
          "$ref": "MysqlDatabaseDeployment",
          "description": "Optional. Details of a MYSQL database deployment."
        },
        "manualUniqueId": {
          "type": "string",
          "description": "Optional. A manual unique ID set by the user."
        },
        "generatedId": {
          "description": "Optional. The database deployment generated ID.",
          "type": "string"
        },
        "sqlServer": {
          "description": "Optional. Details of a Microsoft SQL Server database deployment.",
          "$ref": "SqlServerDatabaseDeployment"
        },
        "topology": {
          "description": "Optional. Details of the database deployment topology.",
          "$ref": "DatabaseDeploymentTopology"
        },
        "aggregatedStats": {
          "description": "Output only. Aggregated stats for the database deployment.",
          "readOnly": true,
          "$ref": "DatabaseDeploymentDetailsAggregatedStats"
        }
      },
      "id": "DatabaseDeploymentDetails"
    },
    "AwsEc2PlatformDetails": {
      "id": "AwsEc2PlatformDetails",
      "properties": {
        "location": {
          "description": "The location of the machine in the AWS format.",
          "type": "string"
        },
        "machineTypeLabel": {
          "description": "AWS platform's machine type label.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Optional. Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "AWS EC2 specific details."
    },
    "DailyResourceUsageAggregationNetwork": {
      "properties": {
        "ingressBps": {
          "description": "Network ingress in B/s.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "egressBps": {
          "description": "Network egress in B/s.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "id": "DailyResourceUsageAggregationNetwork",
      "description": "Statistical aggregation of network usage.",
      "type": "object"
    },
    "ImportRowErrorArchiveErrorDetails": {
      "properties": {
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        },
        "filePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The file path inside the archive where the error was detected."
        }
      },
      "id": "ImportRowErrorArchiveErrorDetails",
      "description": "Error details for an archive file.",
      "type": "object"
    },
    "Asset": {
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases.",
      "type": "object",
      "properties": {
        "hideTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the asset was marked as hidden.",
          "format": "google-datetime"
        },
        "databaseDeploymentDetails": {
          "description": "Output only. Asset information specific for database deployments.",
          "readOnly": true,
          "$ref": "DatabaseDeploymentDetails"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the asset was last updated.",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "insightList": {
          "description": "Output only. The list of insights associated with the asset.",
          "readOnly": true,
          "$ref": "InsightList"
        },
        "createTime": {
          "description": "Output only. The timestamp when the asset was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server generated human readable name of the asset."
        },
        "hideReason": {
          "description": "Optional. An optional reason for marking this asset as hidden.",
          "type": "string"
        },
        "machineDetails": {
          "description": "Output only. Asset information specific for virtual and physical machines.",
          "readOnly": true,
          "$ref": "MachineDetails"
        },
        "name": {
          "description": "Output only. The full name of the asset.",
          "readOnly": true,
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "description": "Generic asset attributes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "performanceData": {
          "readOnly": true,
          "$ref": "AssetPerformanceData",
          "description": "Output only. Performance data for the asset."
        },
        "sources": {
          "description": "Output only. The list of sources contributing to the asset.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "assignedGroups": {
          "description": "Output only. The list of groups that the asset is assigned to.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "databaseDetails": {
          "description": "Output only. Asset information specific for logical databases.",
          "readOnly": true,
          "$ref": "DatabaseDetails"
        },
        "hidden": {
          "description": "Optional. Indicates if the asset is hidden.",
          "type": "boolean"
        }
      },
      "id": "Asset"
    },
    "BatchUpdateAssetsRequest": {
      "type": "object",
      "description": "A request to update a list of assets.",
      "id": "BatchUpdateAssetsRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateAssetRequest"
          },
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.",
          "type": "array"
        }
      }
    },
    "ImportDataFile": {
      "description": "A resource that represents a payload file in an import job.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "format": {
          "description": "Required. The payload format.",
          "enumDescriptions": [
            "Default value.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the AWS collection script.",
            "CSV format exported from Azure using the Azure collection script.",
            "CSV format created manually and following the StratoZone format. For more information, see Manually create and upload data tables.",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_STRATOZONE_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the file was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the file."
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the import data file.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ]
        },
        "uploadFileInfo": {
          "$ref": "UploadFileInfo",
          "description": "Information about a file that is uploaded to a storage service."
        }
      },
      "id": "ImportDataFile"
    },
    "ReportSummaryMachineSeriesAllocation": {
      "id": "ReportSummaryMachineSeriesAllocation",
      "properties": {
        "machineSeries": {
          "description": "The Machine Series (e.g. \"E2\", \"N2\")",
          "$ref": "MachineSeries"
        },
        "allocatedAssetCount": {
          "type": "string",
          "description": "Count of assets allocated to this machine series.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Represents a data point tracking the count of assets allocated for a specific Machine Series."
    },
    "PostgreSqlExtension": {
      "id": "PostgreSqlExtension",
      "properties": {
        "extension": {
          "type": "string",
          "description": "Required. The extension name."
        },
        "version": {
          "type": "string",
          "description": "Required. The extension version."
        }
      },
      "type": "object",
      "description": "PostgreSql extension."
    },
    "ReportSummary": {
      "type": "object",
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report.",
      "id": "ReportSummary",
      "properties": {
        "groupFindings": {
          "description": "Findings for each Group included in this report.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          }
        },
        "allAssetsStats": {
          "$ref": "ReportSummaryAssetAggregateStats",
          "description": "Aggregate statistics for all the assets across all the groups."
        }
      }
    },
    "SqlServerDatabaseDeployment": {
      "type": "object",
      "description": "Specific details for a Microsoft SQL Server database deployment.",
      "id": "SqlServerDatabaseDeployment",
      "properties": {
        "traceFlags": {
          "type": "array",
          "description": "Optional. List of SQL Server trace flags.",
          "items": {
            "$ref": "SqlServerTraceFlag"
          }
        },
        "features": {
          "type": "array",
          "description": "Optional. List of SQL Server features.",
          "items": {
            "$ref": "SqlServerFeature"
          }
        },
        "serverFlags": {
          "items": {
            "$ref": "SqlServerServerFlag"
          },
          "description": "Optional. List of SQL Server server flags.",
          "type": "array"
        }
      }
    },
    "GuestInstalledApplicationList": {
      "id": "GuestInstalledApplicationList",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Application entries.",
          "items": {
            "$ref": "GuestInstalledApplication"
          }
        }
      },
      "type": "object",
      "description": "Guest installed application list."
    },
    "FstabEntryList": {
      "id": "FstabEntryList",
      "properties": {
        "entries": {
          "items": {
            "$ref": "FstabEntry"
          },
          "description": "Fstab entries.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Fstab content."
    },
    "ComputeEngineMigrationTarget": {
      "id": "ComputeEngineMigrationTarget",
      "properties": {
        "shape": {
          "$ref": "ComputeEngineShapeDescriptor",
          "description": "Description of the suggested shape for the migration target."
        }
      },
      "type": "object",
      "description": "Compute engine migration target."
    },
    "ImportRowErrorCsvErrorDetails": {
      "properties": {
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ImportRowErrorCsvErrorDetails",
      "description": "Error details for a CSV file.",
      "type": "object"
    },
    "AssetFrame": {
      "description": "Contains data reported from an inventory source on an asset.",
      "type": "object",
      "properties": {
        "reportTime": {
          "type": "string",
          "description": "The time the data was reported.",
          "format": "google-datetime"
        },
        "traceToken": {
          "description": "Optional. Trace token is optionally provided to assist with debugging and traceability.",
          "type": "string"
        },
        "databaseDetails": {
          "$ref": "DatabaseDetails",
          "description": "Asset information specific for logical databases."
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "attributes": {
          "description": "Generic asset attributes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "collectionType": {
          "type": "string",
          "description": "Optional. Frame collection type, if not specified the collection type will be based on the source type of the source the frame was reported on.",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ]
        },
        "machineDetails": {
          "description": "Asset information specific for virtual machines.",
          "$ref": "MachineDetails"
        },
        "databaseDeploymentDetails": {
          "$ref": "DatabaseDeploymentDetails",
          "description": "Asset information specific for database deployments."
        },
        "performanceSamples": {
          "type": "array",
          "description": "Asset performance data samples. Samples that are from more than 40 days ago or after tomorrow are ignored.",
          "items": {
            "$ref": "PerformanceSample"
          }
        }
      },
      "id": "AssetFrame"
    },
    "ReportSummaryComputeEngineFinding": {
      "id": "ReportSummaryComputeEngineFinding",
      "properties": {
        "allocatedAssetCount": {
          "description": "Count of assets which were allocated.",
          "format": "int64",
          "type": "string"
        },
        "allocatedRegions": {
          "items": {
            "type": "string"
          },
          "description": "Set of regions in which the assets were allocated.",
          "type": "array"
        },
        "allocatedDiskTypes": {
          "type": "array",
          "description": "Set of disk types allocated to assets.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified. Fallback to default value based on context.",
              "Standard HDD Persistent Disk.",
              "Balanced Persistent Disk.",
              "SSD Persistent Disk."
            ],
            "enum": [
              "PERSISTENT_DISK_TYPE_UNSPECIFIED",
              "PERSISTENT_DISK_TYPE_STANDARD",
              "PERSISTENT_DISK_TYPE_BALANCED",
              "PERSISTENT_DISK_TYPE_SSD"
            ]
          }
        },
        "machineSeriesAllocations": {
          "description": "Distribution of assets based on the Machine Series.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryMachineSeriesAllocation"
          }
        }
      },
      "type": "object",
      "description": "A set of findings that applies to assets destined for Compute Engine."
    },
    "RunningService": {
      "type": "object",
      "description": "Guest OS running service details.",
      "id": "RunningService",
      "properties": {
        "exePath": {
          "description": "Service binary path.",
          "type": "string"
        },
        "serviceName": {
          "type": "string",
          "description": "Service name."
        },
        "startMode": {
          "description": "Service start mode (OS-agnostic).",
          "enumDescriptions": [
            "Start mode unspecified.",
            "The service is a device driver started by the system loader.",
            "The service is a device driver started by the IOInitSystem function.",
            "The service is started by the operating system, at system start-up",
            "The service is started only manually, by a user.",
            "The service is disabled."
          ],
          "enum": [
            "START_MODE_UNSPECIFIED",
            "BOOT",
            "SYSTEM",
            "AUTO",
            "MANUAL",
            "DISABLED"
          ],
          "type": "string"
        },
        "state": {
          "description": "Service state (OS-agnostic).",
          "enumDescriptions": [
            "Service state unspecified.",
            "Service is active.",
            "Service is paused.",
            "Service is stopped."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "STOPPED"
          ],
          "type": "string"
        },
        "cmdline": {
          "type": "string",
          "description": "Service command line."
        },
        "pid": {
          "description": "Service pid.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Date": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "properties": {
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      }
    },
    "SignedUris": {
      "id": "SignedUris",
      "properties": {
        "signedUris": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of signed URIs.",
          "items": {
            "$ref": "SignedUri"
          }
        }
      },
      "type": "object",
      "description": "Contains a list of Signed URIs."
    },
    "RunAssetsExportJobResponse": {
      "properties": {
        "assetsExportJobExecution": {
          "readOnly": true,
          "$ref": "AssetsExportJobExecution",
          "description": "Output only. Execution status of the assets export operation."
        }
      },
      "id": "RunAssetsExportJobResponse",
      "description": "Response message for running an assets export job.",
      "type": "object"
    },
    "Money": {
      "properties": {
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      },
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "type": "object"
    },
    "PerformanceSample": {
      "type": "object",
      "description": "Performance data sample.",
      "id": "PerformanceSample",
      "properties": {
        "network": {
          "description": "Network usage sample.",
          "$ref": "NetworkUsageSample"
        },
        "disk": {
          "$ref": "DiskUsageSample",
          "description": "Disk usage sample."
        },
        "memory": {
          "$ref": "MemoryUsageSample",
          "description": "Memory usage sample."
        },
        "cpu": {
          "$ref": "CpuUsageSample",
          "description": "CPU usage sample."
        },
        "sampleTime": {
          "type": "string",
          "description": "Time the sample was collected. If omitted, the frame report time will be used.",
          "format": "google-datetime"
        }
      }
    },
    "AssetsExportJobPerformanceData": {
      "description": "Configuration for performance data exports.",
      "type": "object",
      "properties": {
        "maxDays": {
          "type": "integer",
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used.",
          "format": "int32"
        }
      },
      "id": "AssetsExportJobPerformanceData"
    },
    "Report": {
      "id": "Report",
      "properties": {
        "description": {
          "type": "string",
          "description": "Free-text description."
        },
        "summary": {
          "readOnly": true,
          "$ref": "ReportSummary",
          "description": "Output only. Summary view of the Report."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of resource."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last update timestamp.",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "description": "Report creation state.",
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation timestamp.",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "type": {
          "type": "string",
          "description": "Report type.",
          "enumDescriptions": [
            "Default Report type.",
            "Total cost of ownership Report type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ]
        }
      },
      "type": "object",
      "description": "Report represents a point-in-time rendering of the ReportConfig results."
    },
    "ListAssetsExportJobsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return.",
          "readOnly": true,
          "type": "string"
        },
        "assetsExportJobs": {
          "items": {
            "$ref": "AssetsExportJob"
          },
          "description": "Output only. The list of assets export jobs.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "ListAssetsExportJobsResponse",
      "description": "Response message for listing assets export jobs.",
      "type": "object"
    },
    "Source": {
      "type": "object",
      "description": "Source represents an object from which asset information is streamed to Migration Center.",
      "id": "Source",
      "properties": {
        "type": {
          "type": "string",
          "description": "Data source type.",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full name of the source."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the source was last updated.",
          "format": "google-datetime"
        },
        "errorFrameCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of frames that were reported by the source and contained errors.",
          "format": "int32"
        },
        "state": {
          "description": "Output only. The state of the source.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING",
            "INVALID"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ]
        },
        "description": {
          "type": "string",
          "description": "Free-text description."
        },
        "pendingFrameCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of frames that are still being processed.",
          "format": "int32"
        },
        "createTime": {
          "description": "Output only. The timestamp when the source was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "User-friendly display name.",
          "type": "string"
        },
        "priority": {
          "description": "The information confidence of the source. The higher the value, the higher the confidence.",
          "format": "int32",
          "type": "integer"
        },
        "managed": {
          "type": "boolean",
          "description": "If `true`, the source is managed by other service(s)."
        }
      }
    },
    "ComputeStorageDescriptor": {
      "properties": {
        "type": {
          "description": "Output only. Disk type backing the storage.",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ]
        },
        "sizeGb": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Disk size in GiB.",
          "format": "int32"
        }
      },
      "id": "ComputeStorageDescriptor",
      "description": "Compute Engine storage option descriptor.",
      "type": "object"
    },
    "DatabaseInstanceNetwork": {
      "properties": {
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The instance's IP addresses."
        },
        "primaryMacAddress": {
          "type": "string",
          "description": "Optional. The instance's primary MAC address."
        },
        "hostNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The instance's host names."
        }
      },
      "id": "DatabaseInstanceNetwork",
      "description": "Network details of a database instance.",
      "type": "object"
    },
    "UpdateAssetRequest": {
      "properties": {
        "asset": {
          "$ref": "Asset",
          "description": "Required. The resource being updated."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "updateMask": {
          "type": "string",
          "description": "Required. Field mask is used to specify the fields to be overwritten in the `Asset` resource by the update. The values specified in the `update_mask` field are relative to the resource, not the full request. A field will be overwritten if it is in the mask. A single * value in the mask lets you to overwrite all fields.",
          "format": "google-fieldmask"
        }
      },
      "id": "UpdateAssetRequest",
      "description": "A request to update an asset.",
      "type": "object"
    },
    "ReportSummaryChartData": {
      "properties": {
        "dataPoints": {
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          }
        }
      },
      "id": "ReportSummaryChartData",
      "description": "Describes a collection of data points rendered as a Chart.",
      "type": "object"
    },
    "ReportSummaryVmwareNodeAllocation": {
      "properties": {
        "vmwareNode": {
          "$ref": "ReportSummaryVmwareNode",
          "description": "VMWare node type, e.g. \"ve1-standard-72\""
        },
        "nodeCount": {
          "description": "Count of this node type to be provisioned",
          "format": "int64",
          "type": "string"
        },
        "allocatedAssetCount": {
          "description": "Count of assets allocated to these nodes",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "ReportSummaryVmwareNodeAllocation",
      "description": "Represents assets allocated to a specific VMWare Node type.",
      "type": "object"
    },
    "ImportRowErrorXlsxErrorDetails": {
      "id": "ImportRowErrorXlsxErrorDetails",
      "properties": {
        "sheet": {
          "description": "The name of the sheet where the error was detected.",
          "type": "string"
        },
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Error details for an XLSX file."
    },
    "AssetsExportJobExportCondition": {
      "type": "object",
      "description": "Conditions for selecting assets to export.",
      "id": "AssetsExportJobExportCondition",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Assets filter, supports the same syntax as asset listing."
        }
      }
    },
    "AggregationResultHistogramBucket": {
      "type": "object",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "id": "AggregationResultHistogramBucket",
      "properties": {
        "upperBound": {
          "type": "number",
          "description": "Upper bound - exclusive.",
          "format": "double"
        },
        "lowerBound": {
          "description": "Lower bound - inclusive.",
          "format": "double",
          "type": "number"
        },
        "count": {
          "type": "string",
          "description": "Count of items in the bucket.",
          "format": "int64"
        }
      }
    },
    "MachineDetails": {
      "id": "MachineDetails",
      "properties": {
        "architecture": {
          "$ref": "MachineArchitectureDetails",
          "description": "Architecture details (vendor, CPU architecture)."
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "createTime": {
          "type": "string",
          "description": "Machine creation time.",
          "format": "google-datetime"
        },
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        },
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        },
        "platform": {
          "$ref": "PlatformDetails",
          "description": "Platform specific information."
        },
        "coreCount": {
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "format": "int32",
          "type": "integer"
        },
        "powerState": {
          "type": "string",
          "description": "Power state of the machine.",
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ]
        },
        "network": {
          "description": "Network details.",
          "$ref": "MachineNetworkDetails"
        },
        "memoryMb": {
          "type": "integer",
          "description": "The amount of memory in the machine. Must be non-negative.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Details of a machine."
    },
    "NetworkConnectionList": {
      "id": "NetworkConnectionList",
      "properties": {
        "entries": {
          "items": {
            "$ref": "NetworkConnection"
          },
          "description": "Network connection entries.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Network connection list."
    },
    "AggregationResultHistogram": {
      "id": "AggregationResultHistogram",
      "properties": {
        "buckets": {
          "items": {
            "$ref": "AggregationResultHistogramBucket"
          },
          "type": "array",
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity."
        }
      },
      "type": "object",
      "description": "The result of a bucketed histogram aggregation."
    },
    "AssetPerformanceData": {
      "id": "AssetPerformanceData",
      "properties": {
        "dailyResourceUsageAggregations": {
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent.",
          "type": "array",
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          }
        }
      },
      "type": "object",
      "description": "Performance data for an asset."
    },
    "FileValidationReport": {
      "properties": {
        "partialReport": {
          "type": "boolean",
          "description": "Flag indicating that processing was aborted due to maximum number of errors."
        },
        "rowErrors": {
          "description": "Partial list of rows that encountered validation error.",
          "type": "array",
          "items": {
            "$ref": "ImportRowError"
          }
        },
        "fileName": {
          "description": "The name of the file.",
          "type": "string"
        },
        "fileErrors": {
          "type": "array",
          "description": "List of file level errors.",
          "items": {
            "$ref": "ImportError"
          }
        }
      },
      "id": "FileValidationReport",
      "description": "A resource that aggregates the validation errors found in an import job file.",
      "type": "object"
    },
    "DailyResourceUsageAggregationCPU": {
      "id": "DailyResourceUsageAggregationCPU",
      "properties": {
        "utilizationPercentage": {
          "description": "CPU utilization percentage.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "type": "object",
      "description": "Statistical aggregation of CPU usage."
    },
    "ReportSummaryAssetAggregateStats": {
      "id": "ReportSummaryAssetAggregateStats",
      "properties": {
        "memoryUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "storageBytesHistogram": {
          "description": "Histogram showing a distribution of storage sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "totalAssets": {
          "type": "string",
          "description": "Count of the number of unique assets in this collection.",
          "format": "int64"
        },
        "operatingSystem": {
          "$ref": "ReportSummaryChartData",
          "description": "Count of assets grouped by Operating System families."
        },
        "totalMemoryBytes": {
          "description": "Sum of the memory in bytes of all the assets in this collection.",
          "format": "int64",
          "type": "string"
        },
        "memoryBytesHistogram": {
          "description": "Histogram showing a distribution of memory sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "totalStorageBytes": {
          "type": "string",
          "description": "Sum of persistent storage in bytes of all the assets in this collection.",
          "format": "int64"
        },
        "storageUtilizationChart": {
          "$ref": "ReportSummaryUtilizationChartData",
          "description": "Total memory split into Used/Free buckets."
        },
        "softwareInstances": {
          "readOnly": true,
          "$ref": "ReportSummaryChartData",
          "description": "Output only. Count of assets grouped by software name. Only present for virtual machines."
        },
        "totalCores": {
          "type": "string",
          "description": "Sum of the CPU core count of all the assets in this collection.",
          "format": "int64"
        },
        "coreCountHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of logical CPU core counts."
        }
      },
      "type": "object",
      "description": "Aggregate statistics for a collection of assets."
    },
    "AggregationCount": {
      "description": "Object count.",
      "type": "object",
      "properties": {},
      "id": "AggregationCount"
    },
    "Group": {
      "properties": {
        "description": {
          "description": "Optional. The description of the group.",
          "type": "string"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "description": "Output only. The timestamp when the group was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-friendly display name."
        },
        "name": {
          "description": "Output only. The name of the group.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the group was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Group",
      "description": "A resource that represents an asset group. The purpose of an asset group is to bundle a set of assets that have something in common, while allowing users to add annotations to the group. An asset can belong to multiple groups.",
      "type": "object"
    },
    "VmwareDiskConfig": {
      "id": "VmwareDiskConfig",
      "properties": {
        "rdmCompatibility": {
          "type": "string",
          "description": "RDM compatibility mode.",
          "enumDescriptions": [
            "Compatibility mode unspecified or unknown.",
            "Physical compatibility mode.",
            "Virtual compatibility mode."
          ],
          "enum": [
            "RDM_COMPATIBILITY_UNSPECIFIED",
            "PHYSICAL_COMPATIBILITY",
            "VIRTUAL_COMPATIBILITY"
          ]
        },
        "backingType": {
          "description": "VMDK backing type.",
          "enumDescriptions": [
            "Default value.",
            "Flat v1.",
            "Flat v2.",
            "Persistent memory, also known as Non-Volatile Memory (NVM).",
            "Raw Disk Memory v1.",
            "Raw Disk Memory v2.",
            "SEsparse is a snapshot format introduced in vSphere 5.5 for large disks.",
            "SEsparse v1.",
            "SEsparse v1."
          ],
          "enum": [
            "BACKING_TYPE_UNSPECIFIED",
            "BACKING_TYPE_FLAT_V1",
            "BACKING_TYPE_FLAT_V2",
            "BACKING_TYPE_PMEM",
            "BACKING_TYPE_RDM_V1",
            "BACKING_TYPE_RDM_V2",
            "BACKING_TYPE_SESPARSE",
            "BACKING_TYPE_SESPARSE_V1",
            "BACKING_TYPE_SESPARSE_V2"
          ],
          "type": "string"
        },
        "shared": {
          "type": "boolean",
          "description": "Is VMDK shared with other VMs."
        },
        "vmdkMode": {
          "type": "string",
          "description": "VMDK disk mode.",
          "enumDescriptions": [
            "VMDK disk mode unspecified or unknown.",
            "Dependent disk mode.",
            "Independent - Persistent disk mode.",
            "Independent - Nonpersistent disk mode."
          ],
          "enum": [
            "VMDK_MODE_UNSPECIFIED",
            "DEPENDENT",
            "INDEPENDENT_PERSISTENT",
            "INDEPENDENT_NONPERSISTENT"
          ]
        }
      },
      "type": "object",
      "description": "VMware disk config details."
    },
    "AssetsExportJobExecutionResult": {
      "id": "AssetsExportJobExecutionResult",
      "properties": {
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Error encountered during export."
        },
        "signedUris": {
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "readOnly": true,
          "$ref": "SignedUris"
        },
        "outputFiles": {
          "readOnly": true,
          "$ref": "OutputFileList",
          "description": "Output only. List of output files."
        }
      },
      "type": "object",
      "description": "Contains the result of the assets export."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "ListOperationsResponse"
    },
    "AzureVmPlatformDetails": {
      "type": "object",
      "description": "Azure VM specific details.",
      "id": "AzureVmPlatformDetails",
      "properties": {
        "machineTypeLabel": {
          "type": "string",
          "description": "Azure platform's machine type label."
        },
        "provisioningState": {
          "description": "Azure platform's provisioning state.",
          "type": "string"
        },
        "hyperthreading": {
          "type": "string",
          "description": "Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "location": {
          "description": "The location of the machine in the Azure format.",
          "type": "string"
        }
      }
    },
    "ReportSummaryHistogramChartData": {
      "id": "ReportSummaryHistogramChartData",
      "properties": {
        "buckets": {
          "type": "array",
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          }
        }
      },
      "type": "object",
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket."
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "properties": {
        "reports": {
          "items": {
            "$ref": "Report"
          },
          "type": "array",
          "description": "The list of Reports."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "type": "object",
      "description": "Response message for listing Reports."
    },
    "RegionPreferences": {
      "type": "object",
      "description": "The user preferences relating to target regions.",
      "id": "RegionPreferences",
      "properties": {
        "preferredRegions": {
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListAssetsResponse": {
      "properties": {
        "assets": {
          "items": {
            "$ref": "Asset"
          },
          "type": "array",
          "description": "A list of assets."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListAssetsResponse",
      "description": "Response message for listing assets.",
      "type": "object"
    },
    "MySqlVariable": {
      "id": "MySqlVariable",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The variable value."
        },
        "category": {
          "type": "string",
          "description": "Required. The variable category."
        },
        "variable": {
          "type": "string",
          "description": "Required. The variable name."
        }
      },
      "type": "object",
      "description": "MySql variable."
    },
    "CascadingRule": {
      "properties": {
        "cascadeLogicalDbs": {
          "$ref": "CascadeLogicalDBsRule",
          "description": "Cascading rule for related logical DBs."
        }
      },
      "id": "CascadingRule",
      "description": "Specifies cascading rules for traversing relations.",
      "type": "object"
    },
    "MachineDiskDetails": {
      "description": "Details of machine disks.",
      "type": "object",
      "properties": {
        "totalCapacityBytes": {
          "description": "Disk total Capacity.",
          "format": "int64",
          "type": "string"
        },
        "disks": {
          "$ref": "DiskEntryList",
          "description": "List of disks."
        },
        "totalFreeBytes": {
          "description": "Total disk free space.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "MachineDiskDetails"
    },
    "GuestConfigDetails": {
      "properties": {
        "fstab": {
          "description": "Mount list (Linux fstab).",
          "$ref": "FstabEntryList"
        },
        "nfsExports": {
          "description": "NFS exports.",
          "$ref": "NfsExportList"
        },
        "hosts": {
          "description": "Hosts file (/etc/hosts).",
          "$ref": "HostsEntryList"
        },
        "issue": {
          "description": "OS issue (typically /etc/issue in Linux).",
          "type": "string"
        },
        "selinuxMode": {
          "type": "string",
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ],
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ]
        }
      },
      "id": "GuestConfigDetails",
      "description": "Guest OS config information.",
      "type": "object"
    },
    "BatchUpdateAssetsResponse": {
      "type": "object",
      "description": "Response for updating a list of assets.",
      "id": "BatchUpdateAssetsResponse",
      "properties": {
        "assets": {
          "items": {
            "$ref": "Asset"
          },
          "type": "array",
          "description": "Update asset content. The content only includes values after field mask being applied."
        }
      }
    },
    "ListImportDataFilesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "importDataFiles": {
          "items": {
            "$ref": "ImportDataFile"
          },
          "description": "The list of import data files.",
          "type": "array"
        }
      },
      "id": "ListImportDataFilesResponse",
      "description": "Response for listing payload files of an import job.",
      "type": "object"
    },
    "ReportSummaryVmwareEngineFinding": {
      "description": "A set of findings that applies to assets destined for VMWare Engine.",
      "type": "object",
      "properties": {
        "nodeAllocations": {
          "description": "Set of per-nodetype allocation records",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryVmwareNodeAllocation"
          }
        },
        "allocatedRegions": {
          "type": "array",
          "description": "Set of regions in which the assets were allocated",
          "items": {
            "type": "string"
          }
        },
        "allocatedAssetCount": {
          "type": "string",
          "description": "Count of assets which are allocated",
          "format": "int64"
        }
      },
      "id": "ReportSummaryVmwareEngineFinding"
    },
    "VmwareEnginePreferences": {
      "properties": {
        "cpuOvercommitRatio": {
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment.",
          "format": "double",
          "type": "number"
        },
        "memoryOvercommitRatio": {
          "type": "number",
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0.",
          "format": "double"
        },
        "storageDeduplicationCompressionRatio": {
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0.",
          "format": "double",
          "type": "number"
        },
        "commitmentPlan": {
          "type": "string",
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment)."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT"
          ]
        }
      },
      "id": "VmwareEnginePreferences",
      "description": "The user preferences relating to Google Cloud VMware Engine target platform.",
      "type": "object"
    },
    "DiskEntryList": {
      "type": "object",
      "description": "VM disks.",
      "id": "DiskEntryList",
      "properties": {
        "entries": {
          "items": {
            "$ref": "DiskEntry"
          },
          "description": "Disk entries.",
          "type": "array"
        }
      }
    },
    "DatabaseDetailsParentDatabaseDeployment": {
      "properties": {
        "generatedId": {
          "description": "Optional. The parent database deployment generated ID.",
          "type": "string"
        },
        "manualUniqueId": {
          "type": "string",
          "description": "Optional. The parent database deployment optional manual unique ID set by the user."
        }
      },
      "id": "DatabaseDetailsParentDatabaseDeployment",
      "description": "The identifiers of the parent database deployment.",
      "type": "object"
    },
    "GuestOsDetails": {
      "description": "Information from Guest-level collections.",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version of the operating system."
        },
        "osName": {
          "description": "The name of the operating system.",
          "type": "string"
        },
        "runtime": {
          "description": "Runtime information.",
          "$ref": "GuestRuntimeDetails"
        },
        "config": {
          "description": "OS and app configuration.",
          "$ref": "GuestConfigDetails"
        },
        "family": {
          "type": "string",
          "description": "What family the OS belong to, if known.",
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ],
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ]
        }
      },
      "id": "GuestOsDetails"
    },
    "AggregationResultFrequency": {
      "description": "The result of a frequency distribution aggregation.",
      "type": "object",
      "properties": {
        "values": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "id": "AggregationResultFrequency"
    },
    "DiskUsageSample": {
      "description": "Disk usage sample. Values are across all disks.",
      "type": "object",
      "properties": {
        "averageReadIops": {
          "description": "Optional. Average read IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "format": "float",
          "type": "number"
        },
        "averageWriteIops": {
          "description": "Optional. Average write IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "format": "float",
          "type": "number"
        },
        "averageIops": {
          "type": "number",
          "description": "Optional. Average IOPS sampled over a short window. Must be non-negative. If read or write are set, the sum of read and write will override the value of the average_iops.",
          "format": "float"
        }
      },
      "id": "DiskUsageSample"
    },
    "RunImportJobRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RunImportJobRequest",
      "description": "A request to run an import job.",
      "type": "object"
    },
    "ListPreferenceSetsResponse": {
      "description": "Response message for listing preference sets.",
      "type": "object",
      "properties": {
        "preferenceSets": {
          "items": {
            "$ref": "PreferenceSet"
          },
          "type": "array",
          "description": "The list of PreferenceSets"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListPreferenceSetsResponse"
    },
    "RunningProcessList": {
      "properties": {
        "entries": {
          "description": "Running process entries.",
          "type": "array",
          "items": {
            "$ref": "RunningProcess"
          }
        }
      },
      "id": "RunningProcessList",
      "description": "List of running guest OS processes.",
      "type": "object"
    },
    "MySqlPlugin": {
      "type": "object",
      "description": "MySql plugin.",
      "id": "MySqlPlugin",
      "properties": {
        "plugin": {
          "type": "string",
          "description": "Required. The plugin name."
        },
        "enabled": {
          "description": "Required. The plugin is active.",
          "type": "boolean"
        },
        "version": {
          "description": "Required. The plugin version.",
          "type": "string"
        }
      }
    },
    "FstabEntry": {
      "type": "object",
      "description": "Single fstab entry.",
      "id": "FstabEntry",
      "properties": {
        "passno": {
          "type": "integer",
          "description": "Used by the fsck(8) program to determine the order in which filesystem checks are done at reboot time.",
          "format": "int32"
        },
        "vfstype": {
          "type": "string",
          "description": "The type of the filesystem."
        },
        "spec": {
          "description": "The block special device or remote filesystem to be mounted.",
          "type": "string"
        },
        "file": {
          "type": "string",
          "description": "The mount point for the filesystem."
        },
        "mntops": {
          "description": "Mount options associated with the filesystem.",
          "type": "string"
        },
        "freq": {
          "type": "integer",
          "description": "Used by dump to determine which filesystems need to be dumped.",
          "format": "int32"
        }
      }
    },
    "ListImportJobsResponse": {
      "description": "A response for listing import jobs.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "importJobs": {
          "items": {
            "$ref": "ImportJob"
          },
          "description": "The list of import jobs.",
          "type": "array"
        }
      },
      "id": "ListImportJobsResponse"
    },
    "OutputFile": {
      "id": "OutputFile",
      "properties": {
        "csvOutputFile": {
          "readOnly": true,
          "$ref": "CsvOutputFile",
          "description": "Output only. CSV output file."
        },
        "xlsxOutputFile": {
          "description": "Output only. XLSX output file.",
          "readOnly": true,
          "$ref": "XlsxOutputFile"
        },
        "fileSizeBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. File size in bytes.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Contains a single output file."
    },
    "SoleTenantNodeType": {
      "id": "SoleTenantNodeType",
      "properties": {
        "nodeName": {
          "description": "Name of the Sole Tenant node. Consult https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A Sole Tenant node type."
    },
    "ReportConfig": {
      "id": "ReportConfig",
      "properties": {
        "description": {
          "type": "string",
          "description": "Free-text description."
        },
        "groupPreferencesetAssignments": {
          "description": "Required. Collection of combinations of groups and preference sets.",
          "type": "array",
          "items": {
            "$ref": "ReportConfigGroupPreferenceSetAssignment"
          }
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of resource."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        }
      },
      "type": "object",
      "description": "The groups and associated preference sets on which we can generate reports."
    },
    "ReportSummaryGroupFinding": {
      "id": "ReportSummaryGroupFinding",
      "properties": {
        "preferenceSetFindings": {
          "items": {
            "$ref": "ReportSummaryGroupPreferenceSetFinding"
          },
          "type": "array",
          "description": "Findings for each of the PreferenceSets for this group."
        },
        "overlappingAssetCount": {
          "deprecated": true,
          "type": "string",
          "description": "This field is deprecated, do not rely on it having a value.",
          "format": "int64"
        },
        "displayName": {
          "type": "string",
          "description": "Display Name for the Group."
        },
        "assetAggregateStats": {
          "description": "Summary statistics for all the assets in this group.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "description": {
          "type": "string",
          "description": "Description for the Group."
        }
      },
      "type": "object",
      "description": "Summary Findings for a specific Group."
    },
    "GenericInsight": {
      "properties": {
        "messageId": {
          "description": "Output only. Represents a globally unique message id for this insight, can be used for localization purposes, in case message_code is not yet known by the client use default_message instead.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "defaultMessage": {
          "description": "Output only. In case message_code is not yet known by the client default_message will be the message to be used instead.",
          "readOnly": true,
          "type": "string"
        },
        "additionalInformation": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Additional information about the insight, each entry can be a logical entry and must make sense if it is displayed with line breaks between each entry. Text can contain md style links.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "GenericInsight",
      "description": "A generic insight about an asset.",
      "type": "object"
    },
    "NetworkAddress": {
      "type": "object",
      "description": "Details of network address.",
      "id": "NetworkAddress",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Assigned or configured IP Address."
        },
        "bcast": {
          "description": "Broadcast address.",
          "type": "string"
        },
        "subnetMask": {
          "type": "string",
          "description": "Subnet mask."
        },
        "fqdn": {
          "description": "Fully qualified domain name.",
          "type": "string"
        },
        "assignment": {
          "description": "Whether DHCP is used to assign addresses.",
          "enumDescriptions": [
            "Unknown (default value).",
            "Statically assigned IP.",
            "Dynamically assigned IP (DHCP)."
          ],
          "enum": [
            "ADDRESS_ASSIGNMENT_UNSPECIFIED",
            "ADDRESS_ASSIGNMENT_STATIC",
            "ADDRESS_ASSIGNMENT_DHCP"
          ],
          "type": "string"
        }
      }
    },
    "HostsEntryList": {
      "type": "object",
      "description": "Hosts content.",
      "id": "HostsEntryList",
      "properties": {
        "entries": {
          "items": {
            "$ref": "HostsEntry"
          },
          "type": "array",
          "description": "Hosts entries."
        }
      }
    },
    "DatabaseDetails": {
      "description": "Details of a logical database.",
      "type": "object",
      "properties": {
        "parentDatabaseDeployment": {
          "description": "Required. The parent database deployment that contains the logical database.",
          "$ref": "DatabaseDetailsParentDatabaseDeployment"
        },
        "databaseName": {
          "type": "string",
          "description": "Required. The name of the database."
        },
        "allocatedStorageBytes": {
          "description": "Optional. The allocated storage for the database in bytes.",
          "format": "int64",
          "type": "string"
        },
        "schemas": {
          "items": {
            "$ref": "DatabaseSchema"
          },
          "description": "Optional. The database schemas.",
          "type": "array"
        }
      },
      "id": "DatabaseDetails"
    },
    "PostgreSqlSetting": {
      "description": "PostgreSql setting.",
      "type": "object",
      "properties": {
        "setting": {
          "description": "Required. The setting name.",
          "type": "string"
        },
        "boolValue": {
          "description": "Required. The setting boolean value.",
          "type": "boolean"
        },
        "realValue": {
          "type": "number",
          "description": "Required. The setting real value.",
          "format": "float"
        },
        "intValue": {
          "type": "string",
          "description": "Required. The setting int value.",
          "format": "int64"
        },
        "source": {
          "type": "string",
          "description": "Required. The setting source."
        },
        "unit": {
          "description": "Optional. The setting unit.",
          "type": "string"
        },
        "stringValue": {
          "type": "string",
          "description": "Required. The setting string value. Notice that enum values are stored as strings."
        }
      },
      "id": "PostgreSqlSetting"
    },
    "ValidateImportJobRequest": {
      "type": "object",
      "description": "A request to validate an import job.",
      "id": "ValidateImportJobRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "ValidationReport": {
      "type": "object",
      "description": "A resource that aggregates errors across import job files.",
      "id": "ValidationReport",
      "properties": {
        "fileValidations": {
          "items": {
            "$ref": "FileValidationReport"
          },
          "description": "List of errors found in files.",
          "type": "array"
        },
        "jobErrors": {
          "description": "List of job level errors.",
          "type": "array",
          "items": {
            "$ref": "ImportError"
          }
        }
      }
    },
    "FitDescriptor": {
      "properties": {
        "fitLevel": {
          "enumDescriptions": [
            "Not enough information.",
            "Fit.",
            "No Fit.",
            "Fit with effort."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Fit level.",
          "enum": [
            "FIT_LEVEL_UNSPECIFIED",
            "FIT",
            "NO_FIT",
            "REQUIRES_EFFORT"
          ]
        }
      },
      "id": "FitDescriptor",
      "description": "Describes the fit level of an asset for migration to a specific target.",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "AggregationResult": {
      "id": "AggregationResult",
      "properties": {
        "field": {
          "type": "string"
        },
        "count": {
          "$ref": "AggregationResultCount"
        },
        "frequency": {
          "$ref": "AggregationResultFrequency"
        },
        "sum": {
          "$ref": "AggregationResultSum"
        },
        "histogram": {
          "$ref": "AggregationResultHistogram"
        }
      },
      "type": "object",
      "description": "Message describing a result of an aggregation."
    },
    "AwsRds": {
      "description": "Specific details for an AWS RDS database deployment.",
      "type": "object",
      "properties": {},
      "id": "AwsRds"
    },
    "AssetsExportJobNetworkDependencies": {
      "id": "AssetsExportJobNetworkDependencies",
      "properties": {},
      "type": "object",
      "description": "Configuration for network dependencies exports."
    },
    "MachineSeries": {
      "description": "A machine series, for a target product (e.g. Compute Engine, Google Cloud VMware Engine).",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Code to identify a machine series. Consult this for more details on the available series for Compute Engine: https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison Consult this for more details on the available series for Google Cloud VMware Engine: https://cloud.google.com/vmware-engine/pricing"
        }
      },
      "id": "MachineSeries"
    },
    "DiskEntry": {
      "type": "object",
      "description": "Single disk entry.",
      "id": "DiskEntry",
      "properties": {
        "diskLabelType": {
          "description": "Disk label type (e.g. BIOS/GPT)",
          "type": "string"
        },
        "capacityBytes": {
          "type": "string",
          "description": "Disk capacity.",
          "format": "int64"
        },
        "hwAddress": {
          "description": "Disk hardware address (e.g. 0:1 for SCSI).",
          "type": "string"
        },
        "freeBytes": {
          "type": "string",
          "description": "Disk free space.",
          "format": "int64"
        },
        "vmware": {
          "$ref": "VmwareDiskConfig",
          "description": "VMware disk details."
        },
        "partitions": {
          "description": "Partition layout.",
          "$ref": "DiskPartitionList"
        },
        "interfaceType": {
          "description": "Disks interface type.",
          "enumDescriptions": [
            "Interface type unknown or unspecified.",
            "IDE interface type.",
            "SATA interface type.",
            "SAS interface type.",
            "SCSI interface type.",
            "NVME interface type.",
            "FC interface type.",
            "iSCSI interface type."
          ],
          "enum": [
            "INTERFACE_TYPE_UNSPECIFIED",
            "IDE",
            "SATA",
            "SAS",
            "SCSI",
            "NVME",
            "FC",
            "ISCSI"
          ],
          "type": "string"
        },
        "diskLabel": {
          "description": "Disk label.",
          "type": "string"
        }
      }
    },
    "DailyResourceUsageAggregationDisk": {
      "type": "object",
      "description": "Statistical aggregation of disk usage.",
      "id": "DailyResourceUsageAggregationDisk",
      "properties": {
        "writeIops": {
          "description": "Optional. Disk write I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "iops": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Optional. Disk I/O operations per second."
        },
        "readIops": {
          "description": "Optional. Disk read I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      }
    },
    "NetworkUsageSample": {
      "description": "Network usage sample. Values are across all network interfaces.",
      "type": "object",
      "properties": {
        "averageIngressBps": {
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative.",
          "format": "float",
          "type": "number"
        },
        "averageEgressBps": {
          "type": "number",
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative.",
          "format": "float"
        }
      },
      "id": "NetworkUsageSample"
    },
    "SendDiscoveryClientHeartbeatRequest": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. Client application version."
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "description": "Optional. Errors affecting client functionality."
        }
      },
      "id": "SendDiscoveryClientHeartbeatRequest",
      "description": "A request to send a discovery client heartbeat.",
      "type": "object"
    },
    "AssetsExportJobExecution": {
      "type": "object",
      "description": "Execution status of assets export job.",
      "id": "AssetsExportJobExecution",
      "properties": {
        "executionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Globally unique identifier of the execution."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Execution timestamp.",
          "format": "google-datetime"
        },
        "expireTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Expiration time for the export and artifacts.",
          "format": "google-datetime"
        },
        "result": {
          "description": "Output only. Result of the export execution.",
          "readOnly": true,
          "$ref": "AssetsExportJobExecutionResult"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Completion time of the export.",
          "format": "google-datetime"
        },
        "requestedAssetCount": {
          "description": "Output only. Number of assets requested for export after resolving the requested filters.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      }
    },
    "PhysicalPlatformDetails": {
      "type": "object",
      "description": "Platform specific details for Physical Machines.",
      "id": "PhysicalPlatformDetails",
      "properties": {
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string"
        }
      }
    },
    "ReportSummaryVmwareNode": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes"
        }
      },
      "id": "ReportSummaryVmwareNode",
      "description": "A VMWare Engine Node",
      "type": "object"
    },
    "PostgreSqlProperty": {
      "id": "PostgreSqlProperty",
      "properties": {
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        },
        "numericValue": {
          "type": "string",
          "description": "Required. The property numeric value.",
          "format": "int64"
        },
        "property": {
          "type": "string",
          "description": "Required. The property name."
        }
      },
      "type": "object",
      "description": "PostgreSql property."
    },
    "NetworkAdapterDetails": {
      "properties": {
        "macAddress": {
          "type": "string",
          "description": "MAC address."
        },
        "adapterType": {
          "type": "string",
          "description": "Network adapter type (e.g. VMXNET3)."
        },
        "addresses": {
          "$ref": "NetworkAddressList",
          "description": "NetworkAddressList"
        }
      },
      "id": "NetworkAdapterDetails",
      "description": "Details of network adapter.",
      "type": "object"
    },
    "NfsExport": {
      "id": "NfsExport",
      "properties": {
        "exportDirectory": {
          "type": "string",
          "description": "The directory being exported."
        },
        "hosts": {
          "items": {
            "type": "string"
          },
          "description": "The hosts or networks to which the export is being shared.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "NFS export."
    },
    "ReportAssetFramesResponse": {
      "type": "object",
      "description": "A response to a call to `ReportAssetFrame`.",
      "id": "ReportAssetFramesResponse",
      "properties": {}
    },
    "AssetsExportJob": {
      "description": "Assets export job message.",
      "type": "object",
      "properties": {
        "signedUriDestination": {
          "description": "Export to Cloud Storage files downloadable using signed URIs.",
          "$ref": "SignedUriDestination"
        },
        "inventory": {
          "description": "Export asset inventory details.",
          "$ref": "AssetsExportJobInventory"
        },
        "networkDependencies": {
          "$ref": "AssetsExportJobNetworkDependencies",
          "description": "Export data regarding asset network dependencies."
        },
        "recentExecutions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Recent non expired executions of the job.",
          "items": {
            "$ref": "AssetsExportJobExecution"
          }
        },
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. Resource name."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource update time.",
          "format": "google-datetime"
        },
        "performanceData": {
          "description": "Export asset with performance data.",
          "$ref": "AssetsExportJobPerformanceData"
        },
        "condition": {
          "$ref": "AssetsExportJobExportCondition",
          "description": "Optional. Conditions for selecting assets to export."
        },
        "labels": {
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "description": "Output only. Resource creation time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "AssetsExportJob"
    },
    "PostgreSqlDatabaseDeployment": {
      "type": "object",
      "description": "Specific details for a PostgreSQL database deployment.",
      "id": "PostgreSqlDatabaseDeployment",
      "properties": {
        "properties": {
          "items": {
            "$ref": "PostgreSqlProperty"
          },
          "description": "Optional. List of PostgreSql properties.",
          "type": "array"
        },
        "settings": {
          "items": {
            "$ref": "PostgreSqlSetting"
          },
          "description": "Optional. List of PostgreSql settings.",
          "type": "array"
        }
      }
    },
    "ErrorFrame": {
      "id": "ErrorFrame",
      "properties": {
        "name": {
          "description": "Output only. The identifier of the ErrorFrame.",
          "readOnly": true,
          "type": "string"
        },
        "originalFrame": {
          "description": "Output only. The frame that was originally reported.",
          "readOnly": true,
          "$ref": "AssetFrame"
        },
        "violations": {
          "items": {
            "$ref": "FrameViolationEntry"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. All the violations that were detected for the frame."
        },
        "ingestionTime": {
          "description": "Output only. Frame ingestion time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message representing a frame which failed to be processed due to an error."
    },
    "ListRelationsResponse": {
      "id": "ListRelationsResponse",
      "properties": {
        "relations": {
          "items": {
            "$ref": "Relation"
          },
          "description": "A list of relations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for listing relations."
    },
    "PostgreSqlSchemaDetails": {
      "id": "PostgreSqlSchemaDetails",
      "properties": {
        "postgresqlExtensions": {
          "description": "Optional. PostgreSql extensions.",
          "type": "array",
          "items": {
            "$ref": "PostgreSqlExtension"
          }
        },
        "foreignTablesCount": {
          "type": "integer",
          "description": "Optional. PostgreSql foreign tables.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Specific details for a PostgreSql schema."
    },
    "SignedUri": {
      "id": "SignedUri",
      "properties": {
        "file": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the file the Signed URI references."
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Download URI for the file."
        }
      },
      "type": "object",
      "description": "Contains a signed URI."
    },
    "FrameViolationEntry": {
      "description": "A resource that contains a single violation of a reported `AssetFrame` resource.",
      "type": "object",
      "properties": {
        "field": {
          "description": "The field of the original frame where the violation occurred.",
          "type": "string"
        },
        "violation": {
          "type": "string",
          "description": "A message describing the violation."
        }
      },
      "id": "FrameViolationEntry"
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "DatabaseDeploymentDetailsAggregatedStats": {
      "properties": {
        "databaseCount": {
          "description": "Output only. The number of databases in the deployment.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "DatabaseDeploymentDetailsAggregatedStats",
      "description": "Aggregated stats for the database deployment.",
      "type": "object"
    },
    "ImportJob": {
      "id": "ImportJob",
      "properties": {
        "completeTime": {
          "description": "Output only. The timestamp when the import job was completed.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
[...]
