{
  "documentationLink": "https://cloud.google.com/migration-center",
  "title": "Migration Center API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "version_module": true,
  "revision": "20260621",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "discoveryVersion": "v1",
  "schemas": {
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "AssetFrame": {
      "properties": {
        "machineDetails": {
          "description": "Asset information specific for virtual machines.",
          "$ref": "MachineDetails"
        },
        "attributes": {
          "description": "Generic asset attributes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "traceToken": {
          "description": "Optional. Trace token is optionally provided to assist with debugging and traceability.",
          "type": "string"
        },
        "collectionType": {
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "description": "Optional. Frame collection type, if not specified the collection type will be based on the source type of the source the frame was reported on.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ]
        },
        "databaseDeploymentDetails": {
          "description": "Asset information specific for database deployments.",
          "$ref": "DatabaseDeploymentDetails"
        },
        "databaseDetails": {
          "description": "Asset information specific for logical databases.",
          "$ref": "DatabaseDetails"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "reportTime": {
          "format": "google-datetime",
          "description": "The time the data was reported.",
          "type": "string"
        },
        "performanceSamples": {
          "description": "Asset performance data samples. Samples that are from more than 40 days ago or after tomorrow are ignored.",
          "type": "array",
          "items": {
            "$ref": "PerformanceSample"
          }
        }
      },
      "id": "AssetFrame",
      "description": "Contains data reported from an inventory source on an asset.",
      "type": "object"
    },
    "DailyResourceUsageAggregationDisk": {
      "properties": {
        "iops": {
          "description": "Optional. Disk I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "readIops": {
          "description": "Optional. Disk read I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "writeIops": {
          "description": "Optional. Disk write I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "description": "Statistical aggregation of disk usage.",
      "type": "object",
      "id": "DailyResourceUsageAggregationDisk"
    },
    "ReportSummaryHistogramChartData": {
      "properties": {
        "buckets": {
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          }
        }
      },
      "id": "ReportSummaryHistogramChartData",
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket.",
      "type": "object"
    },
    "DailyResourceUsageAggregationCPU": {
      "id": "DailyResourceUsageAggregationCPU",
      "description": "Statistical aggregation of CPU usage.",
      "type": "object",
      "properties": {
        "utilizationPercentage": {
          "description": "CPU utilization percentage.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      }
    },
    "ListImportDataFilesResponse": {
      "description": "Response for listing payload files of an import job.",
      "type": "object",
      "id": "ListImportDataFilesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "importDataFiles": {
          "description": "The list of import data files.",
          "type": "array",
          "items": {
            "$ref": "ImportDataFile"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ImportDataFile": {
      "id": "ImportDataFile",
      "description": "A resource that represents a payload file in an import job.",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ],
          "description": "Output only. The state of the import data file.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ]
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the file.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the file was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uploadFileInfo": {
          "description": "Information about a file that is uploaded to a storage service.",
          "$ref": "UploadFileInfo"
        },
        "format": {
          "enumDescriptions": [
            "Default value.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the AWS collection script.",
            "CSV format exported from Azure using the Azure collection script.",
            "CSV format created manually and following the StratoZone format. For more information, see Manually create and upload data tables.",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "description": "Required. The payload format.",
          "type": "string",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_STRATOZONE_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ]
        }
      }
    },
    "MachineArchitectureDetails": {
      "description": "Details of the machine architecture.",
      "type": "object",
      "id": "MachineArchitectureDetails",
      "properties": {
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        },
        "cpuManufacturer": {
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "cpuThreadCount": {
          "description": "Deprecated: use MachineDetails.core_count instead. Number of CPU threads allocated to the machine.",
          "type": "integer",
          "deprecated": true,
          "format": "int32"
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "hyperthreading": {
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ],
          "description": "CPU hyper-threading support.",
          "type": "string",
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "firmwareType": {
          "description": "Firmware type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ],
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ]
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "cpuSocketCount": {
          "format": "int32",
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer"
        }
      }
    },
    "ListAssetsExportJobsResponse": {
      "id": "ListAssetsExportJobsResponse",
      "description": "Response message for listing assets export jobs.",
      "type": "object",
      "properties": {
        "assetsExportJobs": {
          "readOnly": true,
          "description": "Output only. The list of assets export jobs.",
          "type": "array",
          "items": {
            "$ref": "AssetsExportJob"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ImportRowErrorArchiveErrorDetails": {
      "description": "Error details for an archive file.",
      "type": "object",
      "id": "ImportRowErrorArchiveErrorDetails",
      "properties": {
        "filePath": {
          "readOnly": true,
          "description": "Output only. The file path inside the archive where the error was detected.",
          "type": "string"
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        }
      }
    },
    "FstabEntryList": {
      "properties": {
        "entries": {
          "description": "Fstab entries.",
          "type": "array",
          "items": {
            "$ref": "FstabEntry"
          }
        }
      },
      "id": "FstabEntryList",
      "description": "Fstab content.",
      "type": "object"
    },
    "ComputeEnginePreferences": {
      "id": "ComputeEnginePreferences",
      "description": "The user preferences relating to Compute Engine target platform.",
      "type": "object",
      "properties": {
        "persistentDiskType": {
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "description": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ]
        },
        "machinePreferences": {
          "description": "Preferences concerning the machine types to consider on Compute Engine.",
          "$ref": "MachinePreferences"
        },
        "licenseType": {
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ],
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the OS license."
          ],
          "description": "License type to consider when calculating costs for virtual machine insights and recommendations. If unspecified, costs are calculated based on the default licensing plan.",
          "type": "string"
        }
      }
    },
    "DatabaseDetailsParentDatabaseDeployment": {
      "description": "The identifiers of the parent database deployment.",
      "type": "object",
      "id": "DatabaseDetailsParentDatabaseDeployment",
      "properties": {
        "manualUniqueId": {
          "description": "Optional. The parent database deployment optional manual unique ID set by the user.",
          "type": "string"
        },
        "generatedId": {
          "description": "Optional. The parent database deployment generated ID.",
          "type": "string"
        }
      }
    },
    "ReportSummaryGroupPreferenceSetFinding": {
      "properties": {
        "monthlyCostNetworkEgress": {
          "description": "Network Egress monthly cost for this preference set.",
          "$ref": "Money"
        },
        "description": {
          "description": "Description for the Preference Set.",
          "type": "string"
        },
        "computeEngineFinding": {
          "description": "A set of findings that applies to Compute Engine machines in the input.",
          "$ref": "ReportSummaryComputeEngineFinding"
        },
        "vmwareEngineFinding": {
          "description": "A set of findings that applies to VMWare machines in the input.",
          "$ref": "ReportSummaryVmwareEngineFinding"
        },
        "soleTenantFinding": {
          "description": "A set of findings that applies to Sole-Tenant machines in the input.",
          "$ref": "ReportSummarySoleTenantFinding"
        },
        "machinePreferences": {
          "description": "A set of preferences that applies to all machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "monthlyCostOther": {
          "description": "Miscellaneous monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostCompute": {
          "description": "Compute monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostOsLicense": {
          "description": "Licensing monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostTotal": {
          "description": "Total monthly cost for this preference set.",
          "$ref": "Money"
        },
        "displayName": {
          "description": "Display Name of the Preference Set",
          "type": "string"
        },
        "monthlyCostStorage": {
          "description": "Storage monthly cost for this preference set.",
          "$ref": "Money"
        }
      },
      "id": "ReportSummaryGroupPreferenceSetFinding",
      "description": "Summary Findings for a specific Group/PreferenceSet combination.",
      "type": "object"
    },
    "VmwareEnginePreferences": {
      "description": "The user preferences relating to Google Cloud VMware Engine target platform.",
      "type": "object",
      "id": "VmwareEnginePreferences",
      "properties": {
        "storageDeduplicationCompressionRatio": {
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0.",
          "type": "number",
          "format": "double"
        },
        "commitmentPlan": {
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT"
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment)."
          ]
        },
        "cpuOvercommitRatio": {
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment.",
          "type": "number",
          "format": "double"
        },
        "memoryOvercommitRatio": {
          "format": "double",
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0.",
          "type": "number"
        }
      }
    },
    "ErrorFrame": {
      "id": "ErrorFrame",
      "description": "Message representing a frame which failed to be processed due to an error.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The identifier of the ErrorFrame.",
          "type": "string"
        },
        "originalFrame": {
          "description": "Output only. The frame that was originally reported.",
          "readOnly": true,
          "$ref": "AssetFrame"
        },
        "violations": {
          "readOnly": true,
          "description": "Output only. All the violations that were detected for the frame.",
          "type": "array",
          "items": {
            "$ref": "FrameViolationEntry"
          }
        },
        "ingestionTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Frame ingestion time.",
          "type": "string"
        }
      }
    },
    "PostgreSqlProperty": {
      "properties": {
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "numericValue": {
          "description": "Required. The property numeric value.",
          "type": "string",
          "format": "int64"
        },
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        }
      },
      "id": "PostgreSqlProperty",
      "description": "PostgreSql property.",
      "type": "object"
    },
    "BatchUpdateAssetsResponse": {
      "description": "Response for updating a list of assets.",
      "type": "object",
      "id": "BatchUpdateAssetsResponse",
      "properties": {
        "assets": {
          "description": "Update asset content. The content only includes values after field mask being applied.",
          "type": "array",
          "items": {
            "$ref": "Asset"
          }
        }
      }
    },
    "RunningProcess": {
      "description": "Guest OS running process details.",
      "type": "object",
      "id": "RunningProcess",
      "properties": {
        "pid": {
          "format": "int64",
          "description": "Process ID.",
          "type": "string"
        },
        "attributes": {
          "description": "Process extended attributes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "exePath": {
          "description": "Process binary path.",
          "type": "string"
        },
        "cmdline": {
          "description": "Process full command line.",
          "type": "string"
        },
        "user": {
          "description": "User running the process.",
          "type": "string"
        }
      }
    },
    "DatabaseDeploymentTopology": {
      "description": "Details of database deployment's topology.",
      "type": "object",
      "id": "DatabaseDeploymentTopology",
      "properties": {
        "diskAllocatedBytes": {
          "description": "Optional. Disk allocated in bytes.",
          "type": "string",
          "format": "int64"
        },
        "coreCount": {
          "format": "int32",
          "description": "Optional. Number of total logical cores.",
          "type": "integer"
        },
        "physicalCoreCount": {
          "description": "Optional. Number of total physical cores.",
          "type": "integer",
          "format": "int32"
        },
        "diskUsedBytes": {
          "format": "int64",
          "description": "Optional. Disk used in bytes.",
          "type": "string"
        },
        "memoryLimitBytes": {
          "description": "Optional. Total memory in bytes limited by db deployment.",
          "type": "string",
          "format": "int64"
        },
        "memoryBytes": {
          "format": "int64",
          "description": "Optional. Total memory in bytes.",
          "type": "string"
        },
        "physicalCoreLimit": {
          "description": "Optional. Number of total physical cores limited by db deployment.",
          "type": "integer",
          "format": "int32"
        },
        "instances": {
          "description": "Optional. List of database instances.",
          "type": "array",
          "items": {
            "$ref": "DatabaseInstance"
          }
        },
        "coreLimit": {
          "format": "int32",
          "description": "Optional. Number of total logical cores limited by db deployment.",
          "type": "integer"
        }
      }
    },
    "AssetsExportJobExecution": {
      "description": "Execution status of assets export job.",
      "type": "object",
      "id": "AssetsExportJobExecution",
      "properties": {
        "expireTime": {
          "description": "Output only. Expiration time for the export and artifacts.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "requestedAssetCount": {
          "description": "Output only. Number of assets requested for export after resolving the requested filters.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "endTime": {
          "description": "Output only. Completion time of the export.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "executionId": {
          "description": "Output only. Globally unique identifier of the execution.",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. Execution timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "result": {
          "readOnly": true,
          "$ref": "AssetsExportJobExecutionResult",
          "description": "Output only. Result of the export execution."
        }
      }
    },
    "ListImportJobsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "importJobs": {
          "description": "The list of import jobs.",
          "type": "array",
          "items": {
            "$ref": "ImportJob"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "A response for listing import jobs.",
      "type": "object",
      "id": "ListImportJobsResponse"
    },
    "SignedUriDestination": {
      "id": "SignedUriDestination",
      "description": "Signed URI destination configuration.",
      "type": "object",
      "properties": {
        "fileFormat": {
          "description": "Required. The file format to export.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
            "XLSX file format which used in Excel."
          ],
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        }
      }
    },
    "VmwarePlatformDetails": {
      "description": "VMware specific details.",
      "type": "object",
      "id": "VmwarePlatformDetails",
      "properties": {
        "vcenterVersion": {
          "description": "vCenter version.",
          "type": "string"
        },
        "vcenterFolder": {
          "description": "Folder name in vCenter where asset resides.",
          "type": "string"
        },
        "esxVersion": {
          "description": "ESX version.",
          "type": "string"
        },
        "vcenterVmId": {
          "description": "vCenter VM ID.",
          "type": "string"
        },
        "esxHyperthreading": {
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "description": "Whether the ESX is hyperthreaded.",
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "vcenterUri": {
          "description": "vCenter URI used in collection.",
          "type": "string"
        },
        "osid": {
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html.",
          "type": "string"
        }
      }
    },
    "PostgreSqlSchemaDetails": {
      "properties": {
        "foreignTablesCount": {
          "format": "int32",
          "description": "Optional. PostgreSql foreign tables.",
          "type": "integer"
        },
        "postgresqlExtensions": {
          "description": "Optional. PostgreSql extensions.",
          "type": "array",
          "items": {
            "$ref": "PostgreSqlExtension"
          }
        }
      },
      "description": "Specific details for a PostgreSql schema.",
      "type": "object",
      "id": "PostgreSqlSchemaDetails"
    },
    "DatabaseInstance": {
      "description": "Details of a database instance.",
      "type": "object",
      "id": "DatabaseInstance",
      "properties": {
        "instanceName": {
          "description": "Optional. The instance's name.",
          "type": "string"
        },
        "role": {
          "enumDescriptions": [
            "Unspecified.",
            "Primary.",
            "Secondary.",
            "Arbiter."
          ],
          "description": "Optional. The instance role in the database engine.",
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "ARBITER"
          ]
        },
        "network": {
          "description": "Optional. Networking details.",
          "$ref": "DatabaseInstanceNetwork"
        }
      }
    },
    "ReportSummarySoleTenantFinding": {
      "id": "ReportSummarySoleTenantFinding",
      "description": "A set of findings that applies to assets destined for Sole-Tenant nodes.",
      "type": "object",
      "properties": {
        "allocatedRegions": {
          "description": "Set of regions in which the assets are allocated",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Count of assets which are allocated",
          "type": "string"
        },
        "nodeAllocations": {
          "description": "Set of per-nodetype allocation records",
          "type": "array",
          "items": {
            "$ref": "ReportSummarySoleTenantNodeAllocation"
          }
        }
      }
    },
    "AzureVmPlatformDetails": {
      "description": "Azure VM specific details.",
      "type": "object",
      "id": "AzureVmPlatformDetails",
      "properties": {
        "provisioningState": {
          "description": "Azure platform's provisioning state.",
          "type": "string"
        },
        "machineTypeLabel": {
          "description": "Azure platform's machine type label.",
          "type": "string"
        },
        "location": {
          "description": "The location of the machine in the Azure format.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        }
      }
    },
    "PostgreSqlDatabaseDeployment": {
      "description": "Specific details for a PostgreSQL database deployment.",
      "type": "object",
      "id": "PostgreSqlDatabaseDeployment",
      "properties": {
        "properties": {
          "description": "Optional. List of PostgreSql properties.",
          "type": "array",
          "items": {
            "$ref": "PostgreSqlProperty"
          }
        },
        "settings": {
          "description": "Optional. List of PostgreSql settings.",
          "type": "array",
          "items": {
            "$ref": "PostgreSqlSetting"
          }
        }
      }
    },
    "HostsEntry": {
      "properties": {
        "hostNames": {
          "description": "List of host names / aliases.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ip": {
          "description": "IP (raw, IPv4/6 agnostic).",
          "type": "string"
        }
      },
      "id": "HostsEntry",
      "description": "Single /etc/hosts entry.",
      "type": "object"
    },
    "AssetsExportJobExportCondition": {
      "properties": {
        "filter": {
          "description": "Optional. Assets filter, supports the same syntax as asset listing.",
          "type": "string"
        }
      },
      "description": "Conditions for selecting assets to export.",
      "type": "object",
      "id": "AssetsExportJobExportCondition"
    },
    "MySqlPlugin": {
      "properties": {
        "plugin": {
          "description": "Required. The plugin name.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. The plugin is active.",
          "type": "boolean"
        },
        "version": {
          "description": "Required. The plugin version.",
          "type": "string"
        }
      },
      "description": "MySql plugin.",
      "type": "object",
      "id": "MySqlPlugin"
    },
    "GenericInsight": {
      "properties": {
        "additionalInformation": {
          "description": "Output only. Additional information about the insight, each entry can be a logical entry and must make sense if it is displayed with line breaks between each entry. Text can contain md style links.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "defaultMessage": {
          "readOnly": true,
          "description": "Output only. In case message_code is not yet known by the client default_message will be the message to be used instead.",
          "type": "string"
        },
        "messageId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Represents a globally unique message id for this insight, can be used for localization purposes, in case message_code is not yet known by the client use default_message instead.",
          "type": "string"
        }
      },
      "id": "GenericInsight",
      "description": "A generic insight about an asset.",
      "type": "object"
    },
    "BatchDeleteAssetsRequest": {
      "description": "A request to delete a list of asset.",
      "type": "object",
      "id": "BatchDeleteAssetsRequest",
      "properties": {
        "names": {
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`.",
          "type": "boolean"
        },
        "cascadingRules": {
          "description": "Optional. Optional cascading rules for deleting related assets.",
          "type": "array",
          "items": {
            "$ref": "CascadingRule"
          }
        }
      }
    },
    "RunningProcessList": {
      "description": "List of running guest OS processes.",
      "type": "object",
      "id": "RunningProcessList",
      "properties": {
        "entries": {
          "description": "Running process entries.",
          "type": "array",
          "items": {
            "$ref": "RunningProcess"
          }
        }
      }
    },
    "OpenFileDetails": {
      "properties": {
        "user": {
          "description": "Opened file user.",
          "type": "string"
        },
        "fileType": {
          "description": "Opened file file type.",
          "type": "string"
        },
        "filePath": {
          "description": "Opened file file path.",
          "type": "string"
        },
        "command": {
          "description": "Opened file command.",
          "type": "string"
        }
      },
      "description": "Open file Information.",
      "type": "object",
      "id": "OpenFileDetails"
    },
    "DatabaseSchema": {
      "properties": {
        "sqlServer": {
          "description": "Optional. Details of a SqlServer schema.",
          "$ref": "SqlServerSchemaDetails"
        },
        "objects": {
          "description": "Optional. List of details of objects by category.",
          "type": "array",
          "items": {
            "$ref": "DatabaseObjects"
          }
        },
        "postgresql": {
          "description": "Optional. Details of a PostgreSql schema.",
          "$ref": "PostgreSqlSchemaDetails"
        },
        "schemaName": {
          "description": "Required. The name of the schema.",
          "type": "string"
        },
        "tablesSizeBytes": {
          "description": "Optional. The total size of tables in bytes.",
          "type": "string",
          "format": "int64"
        },
        "mysql": {
          "description": "Optional. Details of a Mysql schema.",
          "$ref": "MySqlSchemaDetails"
        }
      },
      "id": "DatabaseSchema",
      "description": "Details of a database schema.",
      "type": "object"
    },
    "MySqlStorageEngineDetails": {
      "id": "MySqlStorageEngineDetails",
      "description": "Mysql storage engine tables.",
      "type": "object",
      "properties": {
        "encryptedTableCount": {
          "description": "Optional. The number of encrypted tables.",
          "type": "integer",
          "format": "int32"
        },
        "engine": {
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ],
          "description": "Required. The storage engine.",
          "type": "string"
        },
        "tableCount": {
          "description": "Optional. The number of tables.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AddAssetsToGroupRequest": {
      "id": "AddAssetsToGroupRequest",
      "description": "A request to add assets to a group.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "assets": {
          "description": "Required. List of assets to be added. The maximum number of assets that can be added in a single request is 2000.",
          "$ref": "AssetList"
        },
        "allowExisting": {
          "description": "Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "XlsxOutputFile": {
      "id": "XlsxOutputFile",
      "description": "Contains a single output file of type XLSX.",
      "type": "object",
      "properties": {
        "signedUri": {
          "readOnly": true,
          "$ref": "SignedUri",
          "description": "Output only. Signed URI destination."
        }
      }
    },
    "ListErrorFramesResponse": {
      "id": "ListErrorFramesResponse",
      "description": "A response for listing error frames.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "errorFrames": {
          "description": "The list of error frames.",
          "type": "array",
          "items": {
            "$ref": "ErrorFrame"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PostgreSqlExtension": {
      "properties": {
        "extension": {
          "description": "Required. The extension name.",
          "type": "string"
        },
        "version": {
          "description": "Required. The extension version.",
          "type": "string"
        }
      },
      "id": "PostgreSqlExtension",
      "description": "PostgreSql extension.",
      "type": "object"
    },
    "SqlServerTraceFlag": {
      "properties": {
        "traceFlagName": {
          "description": "Required. The trace flag name.",
          "type": "string"
        },
        "scope": {
          "enumDescriptions": [
            "Unspecified.",
            "Off.",
            "Global.",
            "Session."
          ],
          "description": "Required. The trace flag scope.",
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "OFF",
            "GLOBAL",
            "SESSION"
          ]
        }
      },
      "description": "SQL Server trace flag details.",
      "type": "object",
      "id": "SqlServerTraceFlag"
    },
    "MysqlDatabaseDeployment": {
      "properties": {
        "variables": {
          "description": "Optional. List of MySql variables.",
          "type": "array",
          "items": {
            "$ref": "MySqlVariable"
          }
        },
        "properties": {
          "description": "Optional. List of MySql properties.",
          "type": "array",
          "items": {
            "$ref": "MySqlProperty"
          }
        },
        "plugins": {
          "description": "Optional. List of MySql plugins.",
          "type": "array",
          "items": {
            "$ref": "MySqlPlugin"
          }
        },
        "resourceGroupsCount": {
          "description": "Optional. Number of resource groups.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Specific details for a Mysql database deployment.",
      "type": "object",
      "id": "MysqlDatabaseDeployment"
    },
    "VmwareDiskConfig": {
      "id": "VmwareDiskConfig",
      "description": "VMware disk config details.",
      "type": "object",
      "properties": {
        "shared": {
          "description": "Is VMDK shared with other VMs.",
          "type": "boolean"
        },
        "vmdkMode": {
          "enumDescriptions": [
            "VMDK disk mode unspecified or unknown.",
            "Dependent disk mode.",
            "Independent - Persistent disk mode.",
            "Independent - Nonpersistent disk mode."
          ],
          "description": "VMDK disk mode.",
          "type": "string",
          "enum": [
            "VMDK_MODE_UNSPECIFIED",
            "DEPENDENT",
            "INDEPENDENT_PERSISTENT",
            "INDEPENDENT_NONPERSISTENT"
          ]
        },
        "backingType": {
          "enumDescriptions": [
            "Default value.",
            "Flat v1.",
            "Flat v2.",
            "Persistent memory, also known as Non-Volatile Memory (NVM).",
            "Raw Disk Memory v1.",
            "Raw Disk Memory v2.",
            "SEsparse is a snapshot format introduced in vSphere 5.5 for large disks.",
            "SEsparse v1.",
            "SEsparse v1."
          ],
          "description": "VMDK backing type.",
          "type": "string",
          "enum": [
            "BACKING_TYPE_UNSPECIFIED",
            "BACKING_TYPE_FLAT_V1",
            "BACKING_TYPE_FLAT_V2",
            "BACKING_TYPE_PMEM",
            "BACKING_TYPE_RDM_V1",
            "BACKING_TYPE_RDM_V2",
            "BACKING_TYPE_SESPARSE",
            "BACKING_TYPE_SESPARSE_V1",
            "BACKING_TYPE_SESPARSE_V2"
          ]
        },
        "rdmCompatibility": {
          "enum": [
            "RDM_COMPATIBILITY_UNSPECIFIED",
            "PHYSICAL_COMPATIBILITY",
            "VIRTUAL_COMPATIBILITY"
          ],
          "enumDescriptions": [
            "Compatibility mode unspecified or unknown.",
            "Physical compatibility mode.",
            "Virtual compatibility mode."
          ],
          "description": "RDM compatibility mode.",
          "type": "string"
        }
      }
    },
    "BiosDetails": {
      "description": "Details about the BIOS.",
      "type": "object",
      "id": "BiosDetails",
      "properties": {
        "id": {
          "description": "BIOS ID.",
          "type": "string"
        },
        "releaseDate": {
          "description": "BIOS release date.",
          "$ref": "Date"
        },
        "biosName": {
          "description": "BIOS name. This fields is deprecated. Please use the `id` field instead.",
          "type": "string",
          "deprecated": true
        },
        "version": {
          "description": "BIOS version.",
          "type": "string"
        },
        "manufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        },
        "smbiosUuid": {
          "description": "SMBIOS UUID.",
          "type": "string"
        }
      }
    },
    "ReportSummaryVmwareEngineFinding": {
      "id": "ReportSummaryVmwareEngineFinding",
      "description": "A set of findings that applies to assets destined for VMWare Engine.",
      "type": "object",
      "properties": {
        "allocatedRegions": {
          "description": "Set of regions in which the assets were allocated",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Count of assets which are allocated",
          "type": "string"
        },
        "nodeAllocations": {
          "description": "Set of per-nodetype allocation records",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryVmwareNodeAllocation"
          }
        }
      }
    },
    "DiskEntryList": {
      "id": "DiskEntryList",
      "description": "VM disks.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Disk entries.",
          "type": "array",
          "items": {
            "$ref": "DiskEntry"
          }
        }
      }
    },
    "CascadeLogicalDBsRule": {
      "description": "Cascading rule for related logical DBs.",
      "type": "object",
      "id": "CascadeLogicalDBsRule",
      "properties": {}
    },
    "CpuUsageSample": {
      "properties": {
        "utilizedPercentage": {
          "description": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "CPU usage sample.",
      "type": "object",
      "id": "CpuUsageSample"
    },
    "SqlServerFeature": {
      "properties": {
        "featureName": {
          "description": "Required. The feature name.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. Field enabled is set when a feature is used on the source deployment.",
          "type": "boolean"
        }
      },
      "id": "SqlServerFeature",
      "description": "SQL Server feature details.",
      "type": "object"
    },
    "DiskPartition": {
      "properties": {
        "fileSystem": {
          "description": "Partition file system.",
          "type": "string"
        },
        "mountPoint": {
          "description": "Mount point (Linux/Windows) or drive letter (Windows).",
          "type": "string"
        },
        "freeBytes": {
          "description": "Partition free space.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "description": "Partition type.",
          "type": "string"
        },
        "uuid": {
          "description": "Partition UUID.",
          "type": "string"
        },
        "capacityBytes": {
          "description": "Partition capacity.",
          "type": "string",
          "format": "int64"
        },
        "subPartitions": {
          "description": "Sub-partitions.",
          "$ref": "DiskPartitionList"
        }
      },
      "description": "Disk Partition details.",
      "type": "object",
      "id": "DiskPartition"
    },
    "SqlServerSchemaDetails": {
      "id": "SqlServerSchemaDetails",
      "description": "Specific details for a SqlServer database.",
      "type": "object",
      "properties": {
        "clrObjectCount": {
          "format": "int32",
          "description": "Optional. SqlServer number of CLR objects.",
          "type": "integer"
        }
      }
    },
    "FileValidationReport": {
      "properties": {
        "fileName": {
          "description": "The name of the file.",
          "type": "string"
        },
        "rowErrors": {
          "description": "Partial list of rows that encountered validation error.",
          "type": "array",
          "items": {
            "$ref": "ImportRowError"
          }
        },
        "fileErrors": {
          "description": "List of file level errors.",
          "type": "array",
          "items": {
            "$ref": "ImportError"
          }
        },
        "partialReport": {
          "description": "Flag indicating that processing was aborted due to maximum number of errors.",
          "type": "boolean"
        }
      },
      "description": "A resource that aggregates the validation errors found in an import job file.",
      "type": "object",
      "id": "FileValidationReport"
    },
    "ReportConfig": {
      "properties": {
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of resource.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string"
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "groupPreferencesetAssignments": {
          "description": "Required. Collection of combinations of groups and preference sets.",
          "type": "array",
          "items": {
            "$ref": "ReportConfigGroupPreferenceSetAssignment"
          }
        }
      },
      "description": "The groups and associated preference sets on which we can generate reports.",
      "type": "object",
      "id": "ReportConfig"
    },
    "ListDiscoveryClientsResponse": {
      "properties": {
        "discoveryClients": {
          "description": "List of discovery clients.",
          "type": "array",
          "items": {
            "$ref": "DiscoveryClient"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListDiscoveryClientsResponse",
      "description": "Response message for listing discovery clients.",
      "type": "object"
    },
    "SqlServerDatabaseDeployment": {
      "properties": {
        "serverFlags": {
          "description": "Optional. List of SQL Server server flags.",
          "type": "array",
          "items": {
            "$ref": "SqlServerServerFlag"
          }
        },
        "features": {
          "description": "Optional. List of SQL Server features.",
          "type": "array",
          "items": {
            "$ref": "SqlServerFeature"
          }
        },
        "traceFlags": {
          "description": "Optional. List of SQL Server trace flags.",
          "type": "array",
          "items": {
            "$ref": "SqlServerTraceFlag"
          }
        }
      },
      "description": "Specific details for a Microsoft SQL Server database deployment.",
      "type": "object",
      "id": "SqlServerDatabaseDeployment"
    },
    "ListRelationsResponse": {
      "id": "ListRelationsResponse",
      "description": "Response message for listing relations.",
      "type": "object",
      "properties": {
        "relations": {
          "description": "A list of relations.",
          "type": "array",
          "items": {
            "$ref": "Relation"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "NetworkUsageSample": {
      "properties": {
        "averageIngressBps": {
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative.",
          "type": "number",
          "format": "float"
        },
        "averageEgressBps": {
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Network usage sample. Values are across all network interfaces.",
      "type": "object",
      "id": "NetworkUsageSample"
    },
    "PostgreSqlSetting": {
      "properties": {
        "realValue": {
          "format": "float",
          "description": "Required. The setting real value.",
          "type": "number"
        },
        "intValue": {
          "description": "Required. The setting int value.",
          "type": "string",
          "format": "int64"
        },
        "unit": {
          "description": "Optional. The setting unit.",
          "type": "string"
        },
        "source": {
          "description": "Required. The setting source.",
          "type": "string"
        },
        "stringValue": {
          "description": "Required. The setting string value. Notice that enum values are stored as strings.",
          "type": "string"
        },
        "setting": {
          "description": "Required. The setting name.",
          "type": "string"
        },
        "boolValue": {
          "description": "Required. The setting boolean value.",
          "type": "boolean"
        }
      },
      "description": "PostgreSql setting.",
      "type": "object",
      "id": "PostgreSqlSetting"
    },
    "Insight": {
      "properties": {
        "genericInsight": {
          "readOnly": true,
          "$ref": "GenericInsight",
          "description": "Output only. A generic insight about an asset."
        },
        "migrationInsight": {
          "$ref": "MigrationInsight",
          "readOnly": true,
          "description": "Output only. An insight about potential migrations for an asset."
        }
      },
      "description": "An insight about an asset.",
      "type": "object",
      "id": "Insight"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "AggregationSum": {
      "description": "Sum of field values.",
      "type": "object",
      "id": "AggregationSum",
      "properties": {}
    },
    "AggregationResultSum": {
      "properties": {
        "value": {
          "format": "double",
          "type": "number"
        }
      },
      "id": "AggregationResultSum",
      "description": "The result of a sum aggregation.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "DiscoveryClient": {
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ],
          "description": "Output only. Current state of the discovery client."
        },
        "errors": {
          "readOnly": true,
          "description": "Output only. Errors affecting client functionality.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "displayName": {
          "description": "Optional. Free text display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the discovery client was first created.",
          "type": "string"
        },
        "signalsEndpoint": {
          "readOnly": true,
          "description": "Output only. This field is intended for internal use.",
          "type": "string"
        },
        "version": {
          "description": "Output only. Client version, as reported in recent heartbeat.",
          "type": "string",
          "readOnly": true
        },
        "ttl": {
          "format": "google-duration",
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field.",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Full name of this discovery client.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "heartbeatTime": {
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Free text description. Maximum length is 1000 characters.",
          "type": "string"
        },
        "source": {
          "description": "Required. Immutable. Full name of the source object associated with this discovery client.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Required. Service account used by the discovery client for various operation.",
          "type": "string"
        }
      },
      "description": "Represents an installed Migration Center Discovery Client instance.",
      "type": "object",
      "id": "DiscoveryClient"
    },
    "ValidateImportJobRequest": {
      "description": "A request to validate an import job.",
      "type": "object",
      "id": "ValidateImportJobRequest",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "ReportSummaryChartData": {
      "properties": {
        "dataPoints": {
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          }
        }
      },
      "id": "ReportSummaryChartData",
      "description": "Describes a collection of data points rendered as a Chart.",
      "type": "object"
    },
    "ReportSummaryUtilizationChartData": {
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets.",
      "type": "object",
      "id": "ReportSummaryUtilizationChartData",
      "properties": {
        "used": {
          "description": "Aggregate value which falls into the \"Used\" bucket.",
          "type": "string",
          "format": "int64"
        },
        "free": {
          "format": "int64",
          "description": "Aggregate value which falls into the \"Free\" bucket.",
          "type": "string"
        }
      }
    },
    "DiskPartitionDetails": {
      "description": "Disk partition details.",
      "type": "object",
      "id": "DiskPartitionDetails",
      "properties": {
        "partitions": {
          "description": "Optional. List of partitions.",
          "$ref": "DiskPartitionList"
        },
        "totalCapacityBytes": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Total capacity of all partitions.",
          "type": "string"
        },
        "freeSpaceBytes": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Total free space of all partitions.",
          "type": "string"
        }
      }
    },
    "MachineNetworkDetails": {
      "properties": {
        "publicIpAddress": {
          "description": "The public IP address of the machine.",
          "type": "string"
        },
        "primaryMacAddress": {
          "description": "MAC address of the machine. This property is used to uniqly identify the machine.",
          "type": "string"
        },
        "adapters": {
          "description": "List of network adapters.",
          "$ref": "NetworkAdapterList"
        },
        "defaultGateway": {
          "description": "Optional. Default gateway address.",
          "type": "string"
        },
        "primaryIpAddress": {
          "description": "The primary IP address of the machine.",
          "type": "string"
        }
      },
      "description": "Details of network adapters and settings.",
      "type": "object",
      "id": "MachineNetworkDetails"
    },
    "RemoveAssetsFromGroupRequest": {
      "description": "A request to remove assets from a group.",
      "type": "object",
      "id": "RemoveAssetsFromGroupRequest",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        },
        "assets": {
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000.",
          "$ref": "AssetList"
        }
      }
    },
    "Report": {
      "properties": {
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "summary": {
          "description": "Output only. Summary view of the Report.",
          "$ref": "ReportSummary",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last update timestamp.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Default Report type.",
            "Total cost of ownership Report type."
          ],
          "description": "Report type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ]
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ],
          "description": "Report creation state.",
          "type": "string"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of resource.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Creation timestamp.",
          "type": "string"
        }
      },
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "type": "object",
      "id": "Report"
    },
    "AssetsExportJobPerformanceData": {
      "properties": {
        "maxDays": {
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AssetsExportJobPerformanceData",
      "description": "Configuration for performance data exports.",
      "type": "object"
    },
    "NetworkAddressList": {
      "description": "List of allocated/assigned network addresses.",
      "type": "object",
      "id": "NetworkAddressList",
      "properties": {
        "entries": {
          "description": "Network address entries.",
          "type": "array",
          "items": {
            "$ref": "NetworkAddress"
          }
        }
      }
    },
    "MachinePreferences": {
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations. Not all machine types are available in all zones and regions.",
      "type": "object",
      "id": "MachinePreferences",
      "properties": {
        "allowedMachineSeries": {
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "type": "array",
          "items": {
            "$ref": "MachineSeries"
          }
        }
      }
    },
    "ComputeEngineShapeDescriptor": {
      "properties": {
        "physicalCoreCount": {
          "format": "int32",
          "description": "Number of physical cores.",
          "type": "integer"
        },
        "series": {
          "readOnly": true,
          "description": "Output only. Compute Engine machine series.",
          "type": "string"
        },
        "memoryMb": {
          "description": "Memory in mebibytes.",
          "type": "integer",
          "format": "int32"
        },
        "storage": {
          "readOnly": true,
          "description": "Output only. Compute Engine storage. Never empty.",
          "type": "array",
          "items": {
            "$ref": "ComputeStorageDescriptor"
          }
        },
        "logicalCoreCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of logical cores.",
          "type": "integer"
        },
        "machineType": {
          "readOnly": true,
          "description": "Output only. Compute Engine machine type.",
          "type": "string"
        }
      },
      "description": "Compute Engine target shape descriptor.",
      "type": "object",
      "id": "ComputeEngineShapeDescriptor"
    },
    "GuestOsDetails": {
      "description": "Information from Guest-level collections.",
      "type": "object",
      "id": "GuestOsDetails",
      "properties": {
        "osName": {
          "description": "The name of the operating system.",
          "type": "string"
        },
        "family": {
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ],
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ],
          "description": "What family the OS belong to, if known.",
          "type": "string"
        },
        "config": {
          "description": "OS and app configuration.",
          "$ref": "GuestConfigDetails"
        },
        "version": {
          "description": "The version of the operating system.",
          "type": "string"
        },
        "runtime": {
          "description": "Runtime information.",
          "$ref": "GuestRuntimeDetails"
        }
      }
    },
    "FrameViolationEntry": {
      "properties": {
        "field": {
          "description": "The field of the original frame where the violation occurred.",
          "type": "string"
        },
        "violation": {
          "description": "A message describing the violation.",
          "type": "string"
        }
      },
      "description": "A resource that contains a single violation of a reported `AssetFrame` resource.",
      "type": "object",
      "id": "FrameViolationEntry"
    },
    "DiskPartitionList": {
      "properties": {
        "entries": {
          "description": "Partition entries.",
          "type": "array",
          "items": {
            "$ref": "DiskPartition"
          }
        }
      },
      "description": "Disk partition list.",
      "type": "object",
      "id": "DiskPartitionList"
    },
    "RunningServiceList": {
      "description": "List of running guest OS services.",
      "type": "object",
      "id": "RunningServiceList",
      "properties": {
        "entries": {
          "description": "Running service entries.",
          "type": "array",
          "items": {
            "$ref": "RunningService"
          }
        }
      }
    },
    "AggregateAssetsValuesResponse": {
      "properties": {
        "results": {
          "description": "The aggregation results.",
          "type": "array",
          "items": {
            "$ref": "AggregationResult"
          }
        }
      },
      "description": "A response to a request to aggregated assets values.",
      "type": "object",
      "id": "AggregateAssetsValuesResponse"
    },
    "MachineDetails": {
      "id": "MachineDetails",
      "description": "Details of a machine.",
      "type": "object",
      "properties": {
        "platform": {
          "description": "Platform specific information.",
          "$ref": "PlatformDetails"
        },
        "coreCount": {
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "type": "integer",
          "format": "int32"
        },
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        },
        "powerState": {
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ],
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "description": "Power state of the machine.",
          "type": "string"
        },
        "network": {
          "description": "Network details.",
          "$ref": "MachineNetworkDetails"
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "architecture": {
          "description": "Architecture details (vendor, CPU architecture).",
          "$ref": "MachineArchitectureDetails"
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "memoryMb": {
          "description": "The amount of memory in the machine. Must be non-negative.",
          "type": "integer",
          "format": "int32"
        },
        "createTime": {
          "description": "Machine creation time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "NetworkAddress": {
      "properties": {
        "subnetMask": {
          "description": "Subnet mask.",
          "type": "string"
        },
        "ipAddress": {
          "description": "Assigned or configured IP Address.",
          "type": "string"
        },
        "bcast": {
          "description": "Broadcast address.",
          "type": "string"
        },
        "assignment": {
          "enumDescriptions": [
            "Unknown (default value).",
            "Statically assigned IP.",
            "Dynamically assigned IP (DHCP)."
          ],
          "description": "Whether DHCP is used to assign addresses.",
          "type": "string",
          "enum": [
            "ADDRESS_ASSIGNMENT_UNSPECIFIED",
            "ADDRESS_ASSIGNMENT_STATIC",
            "ADDRESS_ASSIGNMENT_DHCP"
          ]
        },
        "fqdn": {
          "description": "Fully qualified domain name.",
          "type": "string"
        }
      },
      "id": "NetworkAddress",
      "description": "Details of network address.",
      "type": "object"
    },
    "PlatformDetails": {
      "properties": {
        "genericDetails": {
          "description": "Generic platform details.",
          "$ref": "GenericPlatformDetails"
        },
        "awsEc2Details": {
          "description": "AWS EC2 specific details.",
          "$ref": "AwsEc2PlatformDetails"
        },
        "vmwareDetails": {
          "description": "VMware specific details.",
          "$ref": "VmwarePlatformDetails"
        },
        "azureVmDetails": {
          "description": "Azure VM specific details.",
          "$ref": "AzureVmPlatformDetails"
        },
        "physicalDetails": {
          "description": "Physical machines platform details.",
          "$ref": "PhysicalPlatformDetails"
        }
      },
      "id": "PlatformDetails",
      "description": "Information about the platform.",
      "type": "object"
    },
    "ImportJob": {
      "properties": {
        "validationReport": {
          "description": "Output only. The report with the validation results of the import job.",
          "readOnly": true,
          "$ref": "ValidationReport"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was last updated.",
          "type": "string"
        },
        "completeTime": {
          "description": "Output only. The timestamp when the import job was completed.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "executionReport": {
          "description": "Output only. The report with the results of running the import job.",
          "$ref": "ExecutionReport",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 256 characters.",
          "type": "string"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "assetSource": {
          "description": "Required. Reference to a source.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The full name of the import job.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the import job was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The state of the import job.",
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ],
          "readOnly": true
        }
      },
      "description": "A resource that represents the background job that imports asset frames.",
      "type": "object",
      "id": "ImportJob"
    },
    "AggregationHistogram": {
      "description": "Histogram of bucketed assets counts by field value.",
      "type": "object",
      "id": "AggregationHistogram",
      "properties": {
        "lowerBounds": {
          "description": "Lower bounds of buckets. The response will contain `n+1` buckets for `n` bounds. The first bucket will count all assets for which the field value is smaller than the first bound. Subsequent buckets will count assets for which the field value is greater or equal to a lower bound and smaller than the next one. The last bucket will count assets for which the field value is greater or equal to the final lower bound. You can define up to 20 lower bounds.",
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      }
    },
    "AssetsExportJobInventory": {
      "properties": {},
      "description": "Configuration for asset inventory details exports.",
      "type": "object",
      "id": "AssetsExportJobInventory"
    },
    "BatchUpdateAssetsRequest": {
      "id": "BatchUpdateAssetsRequest",
      "description": "A request to update a list of assets.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.",
          "type": "array",
          "items": {
            "$ref": "UpdateAssetRequest"
          }
        }
      }
    },
    "ReportSummaryAssetAggregateStats": {
      "description": "Aggregate statistics for a collection of assets.",
      "type": "object",
      "id": "ReportSummaryAssetAggregateStats",
      "properties": {
        "totalMemoryBytes": {
          "description": "Sum of the memory in bytes of all the assets in this collection.",
          "type": "string",
          "format": "int64"
        },
        "memoryUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "totalCores": {
          "format": "int64",
          "description": "Sum of the CPU core count of all the assets in this collection.",
          "type": "string"
        },
        "memoryBytesHistogram": {
          "description": "Histogram showing a distribution of memory sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "storageBytesHistogram": {
          "description": "Histogram showing a distribution of storage sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "softwareInstances": {
          "$ref": "ReportSummaryChartData",
          "readOnly": true,
          "description": "Output only. Count of assets grouped by software name. Only present for virtual machines."
        },
        "totalStorageBytes": {
          "description": "Sum of persistent storage in bytes of all the assets in this collection.",
          "type": "string",
          "format": "int64"
        },
        "coreCountHistogram": {
          "description": "Histogram showing a distribution of logical CPU core counts.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "storageUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "operatingSystem": {
          "description": "Count of assets grouped by Operating System families.",
          "$ref": "ReportSummaryChartData"
        },
        "totalAssets": {
          "description": "Count of the number of unique assets in this collection.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "VirtualMachinePreferences": {
      "properties": {
        "targetProduct": {
          "enum": [
            "COMPUTE_MIGRATION_TARGET_PRODUCT_UNSPECIFIED",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_COMPUTE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_VMWARE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_SOLE_TENANCY"
          ],
          "enumDescriptions": [
            "Unspecified (default value).",
            "Prefer to migrate to Google Cloud Compute Engine.",
            "Prefer to migrate to Google Cloud VMware Engine.6278",
            "Prefer to migrate to Google Cloud Sole Tenant Nodes."
          ],
          "description": "Target product for assets using this preference set. Specify either target product or business goal, but not both.",
          "type": "string"
        },
        "sizingOptimizationStrategy": {
          "enum": [
            "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE",
            "SIZING_OPTIMIZATION_STRATEGY_MODERATE",
            "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE"
          ],
          "enumDescriptions": [
            "Unspecified (default value).",
            "No optimization applied. Virtual machine sizing matches as closely as possible the machine shape on the source site, not considering any actual performance data.",
            "Virtual machine sizing will match the reported usage and shape, with some slack. This a good value to start with.",
            "Virtual machine sizing will match the reported usage, with little slack. Using this option can help reduce costs."
          ],
          "description": "Sizing optimization strategy specifies the preferred strategy used when extrapolating usage data to calculate insights and recommendations for a virtual machine. If you are unsure which value to set, a moderate sizing optimization strategy is often a good value to start with.",
          "type": "string"
        },
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1 year commitment.",
            "3 years commitment."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_NONE",
            "COMMITMENT_PLAN_ONE_YEAR",
            "COMMITMENT_PLAN_THREE_YEARS"
          ]
        },
        "vmwareEnginePreferences": {
          "description": "Preferences concerning insights and recommendations for Google Cloud VMware Engine.",
          "$ref": "VmwareEnginePreferences"
        },
        "soleTenancyPreferences": {
          "description": "Preferences concerning Sole Tenant nodes and virtual machines.",
          "$ref": "SoleTenancyPreferences"
        },
        "regionPreferences": {
          "description": "Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with.",
          "$ref": "RegionPreferences"
        },
        "computeEnginePreferences": {
          "description": "Compute Engine preferences concern insights and recommendations for Compute Engine target.",
          "$ref": "ComputeEnginePreferences"
        }
      },
      "id": "VirtualMachinePreferences",
      "description": "VirtualMachinePreferences enables you to create sets of assumptions, for example, a geographical location and pricing track, for your migrated virtual machines. The set of preferences influence recommendations for migrating virtual machine assets.",
      "type": "object"
    },
    "GuestRuntimeDetails": {
      "properties": {
        "domain": {
          "description": "Domain, e.g. c.stratozone-development.internal.",
          "type": "string"
        },
        "services": {
          "description": "Running background services.",
          "$ref": "RunningServiceList"
        },
        "installedApps": {
          "description": "Installed applications information.",
          "$ref": "GuestInstalledApplicationList"
        },
        "lastBootTime": {
          "format": "google-datetime",
          "description": "Last time the OS was booted.",
          "type": "string"
        },
        "openFileList": {
          "description": "Open files information.",
          "$ref": "OpenFileList"
        },
        "processes": {
          "description": "Running processes.",
          "$ref": "RunningProcessList"
        },
        "network": {
          "description": "Runtime network information (connections, ports).",
          "$ref": "RuntimeNetworkInfo"
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        }
      },
      "id": "GuestRuntimeDetails",
      "description": "Guest OS runtime information.",
      "type": "object"
    },
    "AwsEc2PlatformDetails": {
      "properties": {
        "location": {
          "description": "The location of the machine in the AWS format.",
          "type": "string"
        },
        "hyperthreading": {
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "description": "Optional. Whether the machine is hyperthreaded.",
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "machineTypeLabel": {
          "description": "AWS platform's machine type label.",
          "type": "string"
        }
      },
      "id": "AwsEc2PlatformDetails",
      "description": "AWS EC2 specific details.",
      "type": "object"
    },
    "UploadFileInfo": {
      "description": "A resource that contains a URI to which a data file can be uploaded.",
      "type": "object",
      "id": "UploadFileInfo",
      "properties": {
        "uriExpirationTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Expiration time of the upload URI.",
          "type": "string"
        },
        "signedUri": {
          "description": "Output only. Upload URI for the file.",
          "type": "string",
          "readOnly": true
        },
        "headers": {
          "description": "Output only. The headers that were used to sign the URI.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "PreferenceSet": {
      "description": "The preferences that apply to all assets in a given context.",
      "type": "object",
      "id": "PreferenceSet",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the preference set was last updated.",
          "type": "string"
        },
        "description": {
          "description": "A description of the preference set.",
          "type": "string"
        },
        "virtualMachinePreferences": {
          "description": "Optional. A set of preferences that applies to all virtual machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the preference set.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the preference set was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "Asset": {
      "properties": {
        "title": {
          "readOnly": true,
          "description": "Output only. Server generated human readable name of the asset.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the asset was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "databaseDetails": {
          "readOnly": true,
          "$ref": "DatabaseDetails",
          "description": "Output only. Asset information specific for logical databases."
        },
        "hideReason": {
          "description": "Optional. An optional reason for marking this asset as hidden.",
          "type": "string"
        },
        "attributes": {
          "description": "Generic asset attributes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "machineDetails": {
          "readOnly": true,
          "$ref": "MachineDetails",
          "description": "Output only. Asset information specific for virtual and physical machines."
        },
        "performanceData": {
          "description": "Output only. Performance data for the asset.",
          "$ref": "AssetPerformanceData",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The full name of the asset.",
          "type": "string",
          "readOnly": true
        },
        "databaseDeploymentDetails": {
          "readOnly": true,
          "$ref": "DatabaseDeploymentDetails",
          "description": "Output only. Asset information specific for database deployments."
        },
        "insightList": {
          "$ref": "InsightList",
          "readOnly": true,
          "description": "Output only. The list of insights associated with the asset."
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "hidden": {
          "description": "Optional. Indicates if the asset is hidden.",
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the asset was last updated.",
          "type": "string"
        },
        "sources": {
          "readOnly": true,
          "description": "Output only. The list of sources contributing to the asset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hideTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the asset was marked as hidden.",
          "type": "string"
        },
        "assignedGroups": {
          "description": "Output only. The list of groups that the asset is assigned to.",
          "type": "array",
[...]
