{
  "kind": "discovery#restDescription",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v1alpha1",
  "batchPath": "batch",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "canonicalName": "Migration Center API",
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "name": "migrationcenter",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "title": "Migration Center API",
  "version_module": true,
  "id": "migrationcenter:v1alpha1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "RegionPreferences": {
      "description": "The user preferences relating to target regions.",
      "type": "object",
      "properties": {
        "preferredRegions": {
          "items": {
            "type": "string"
          },
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions.",
          "type": "array"
        }
      },
      "id": "RegionPreferences"
    },
    "ListReportConfigsResponse": {
      "id": "ListReportConfigsResponse",
      "description": "Response message for listing report configs.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "reportConfigs": {
          "items": {
            "$ref": "ReportConfig"
          },
          "description": "A list of report configs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "MachineDetails": {
      "description": "Details of a machine.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Machine creation time.",
          "type": "string"
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ],
          "description": "Power state of the machine.",
          "type": "string"
        },
        "architecture": {
          "$ref": "MachineArchitectureDetails",
          "description": "Architecture details (vendor, CPU architecture)."
        },
        "diskPartitions": {
          "$ref": "DiskPartitionDetails",
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks."
        },
        "disks": {
          "$ref": "MachineDiskDetails",
          "description": "Disk details."
        },
        "platform": {
          "$ref": "PlatformDetails",
          "description": "Platform specific information."
        },
        "coreCount": {
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "type": "integer",
          "format": "int32"
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "memoryMb": {
          "description": "The amount of memory in the machine. Must be non-negative.",
          "type": "integer",
          "format": "int32"
        },
        "network": {
          "$ref": "MachineNetworkDetails",
          "description": "Network details."
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        }
      },
      "id": "MachineDetails"
    },
    "GCSPayloadInfo": {
      "description": "A resource that represents a payload hosted on Google Cloud Storage.",
      "type": "object",
      "properties": {
        "format": {
          "description": "The import job format.",
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ]
        },
        "path": {
          "description": "The payload path in Google Cloud Storage.",
          "type": "string"
        }
      },
      "id": "GCSPayloadInfo"
    },
    "AssetsExportJobPerformanceData": {
      "id": "AssetsExportJobPerformanceData",
      "description": "Configuration for performance data exports.",
      "type": "object",
      "properties": {
        "maxDays": {
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AzureVmPlatformDetails": {
      "id": "AzureVmPlatformDetails",
      "description": "Azure VM specific details.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Azure platform's provisioning state.",
          "type": "string"
        },
        "location": {
          "description": "The location of the machine in the Azure format.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        },
        "machineTypeLabel": {
          "description": "Azure platform's machine type label.",
          "type": "string"
        }
      }
    },
    "ListPreferenceSetsResponse": {
      "description": "Response message for listing preference sets.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "preferenceSets": {
          "description": "The list of PreferenceSets",
          "type": "array",
          "items": {
            "$ref": "PreferenceSet"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListPreferenceSetsResponse"
    },
    "FstabEntryList": {
      "id": "FstabEntryList",
      "description": "Fstab content.",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "FstabEntry"
          },
          "description": "Fstab entries.",
          "type": "array"
        }
      }
    },
    "AwsAthenaWorkGroupDetails": {
      "id": "AwsAthenaWorkGroupDetails",
      "description": "Contains details for an AWS Athena Work Group asset.",
      "type": "object",
      "properties": {}
    },
    "FitDescriptor": {
      "id": "FitDescriptor",
      "description": "Describes the fit level of an asset for migration to a specific target.",
      "type": "object",
      "properties": {
        "fitLevel": {
          "enum": [
            "FIT_LEVEL_UNSPECIFIED",
            "FIT",
            "NO_FIT",
            "REQUIRES_EFFORT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not enough information.",
            "Fit.",
            "No Fit.",
            "Fit with effort."
          ],
          "readOnly": true,
          "description": "Output only. Fit level."
        }
      }
    },
    "AggregationResultSum": {
      "id": "AggregationResultSum",
      "description": "The result of a sum aggregation.",
      "type": "object",
      "properties": {
        "value": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "ResourceLocation": {
      "id": "ResourceLocation",
      "description": "Location of a resource.",
      "type": "object",
      "properties": {
        "region": {
          "description": "Optional. The name of the region.",
          "type": "string"
        }
      }
    },
    "AwsElasticNetworkInterfaceDetails": {
      "description": "Asset information specific for AWS Elastic Network Interfaces.",
      "type": "object",
      "properties": {},
      "id": "AwsElasticNetworkInterfaceDetails"
    },
    "OperatingSystemPricingPreferences": {
      "description": "Pricing options for OS images.",
      "type": "object",
      "properties": {
        "rhel": {
          "description": "Optional. Pricing options for RHEL images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "sles": {
          "description": "Optional. Pricing options for SLES images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "slesForSap": {
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing",
          "description": "Optional. Pricing options for SLES for SAP images."
        },
        "windows": {
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing",
          "description": "Optional. Pricing options for Windows images. No commitment plans are available, set it to unspecified."
        }
      },
      "id": "OperatingSystemPricingPreferences"
    },
    "DailyResourceUsageAggregationCPU": {
      "description": "Statistical aggregation of CPU usage.",
      "type": "object",
      "properties": {
        "utilizationPercentage": {
          "description": "CPU utilization percentage.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "id": "DailyResourceUsageAggregationCPU"
    },
    "AwsS3BucketDetails": {
      "id": "AwsS3BucketDetails",
      "description": "Asset information specific for AWS S3 buckets.",
      "type": "object",
      "properties": {
        "objectsMetadata": {
          "description": "Optional. The metadata of the objects in the bucket.",
          "$ref": "AwsS3BucketDetailsObjectsMetadata"
        },
        "storageClasses": {
          "items": {
            "$ref": "AwsS3BucketDetailsStorageClass"
          },
          "description": "Optional. The storage classes in the bucket.",
          "type": "array"
        },
        "versioning": {
          "description": "Optional. Versioning configuration of the bucket.",
          "$ref": "AwsS3BucketDetailsVersioning"
        }
      }
    },
    "AwsEfsFileSystemDetails": {
      "description": "Details of an AWS EFS file system.",
      "type": "object",
      "properties": {},
      "id": "AwsEfsFileSystemDetails"
    },
    "InsightList": {
      "id": "InsightList",
      "description": "Message containing insights list.",
      "type": "object",
      "properties": {
        "insights": {
          "readOnly": true,
          "items": {
            "$ref": "Insight"
          },
          "description": "Output only. Insights of the list.",
          "type": "array"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Update timestamp.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CpuUsageSample": {
      "id": "CpuUsageSample",
      "description": "CPU usage sample.",
      "type": "object",
      "properties": {
        "utilizedPercentage": {
          "format": "float",
          "description": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage.",
          "type": "number"
        }
      }
    },
    "RunReportExportJobResponse": {
      "description": "Response message for running a report export job.",
      "type": "object",
      "properties": {
        "reportExportExecution": {
          "description": "Output only. Execution status of the export operation.",
          "readOnly": true,
          "$ref": "ReportExportExecution"
        }
      },
      "id": "RunReportExportJobResponse"
    },
    "MachineArchitectureDetails": {
      "description": "Details of the machine architecture.",
      "type": "object",
      "properties": {
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "CPU hyper-threading support.",
          "type": "string",
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ]
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "firmwareType": {
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ],
          "description": "Firmware type.",
          "type": "string",
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ]
        },
        "cpuSocketCount": {
          "format": "int32",
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer"
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        },
        "cpuManufacturer": {
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        }
      },
      "id": "MachineArchitectureDetails"
    },
    "VirtualMachineDiskDetails": {
      "id": "VirtualMachineDiskDetails",
      "description": "Details of VM disks.",
      "type": "object",
      "properties": {
        "disks": {
          "$ref": "DiskEntryList",
          "description": "List of disks."
        },
        "lsblkJson": {
          "description": "Raw lsblk output in json.",
          "type": "string"
        },
        "hddTotalCapacityBytes": {
          "description": "Disk total Capacity.",
          "type": "string",
          "format": "int64"
        },
        "hddTotalFreeBytes": {
          "format": "int64",
          "description": "Total Disk Free Space.",
          "type": "string"
        }
      }
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "id": "TimeZone"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "id": "Status"
    },
    "PostgreSqlExtension": {
      "id": "PostgreSqlExtension",
      "description": "PostgreSql extension.",
      "type": "object",
      "properties": {
        "extension": {
          "description": "Required. The extension name.",
          "type": "string"
        },
        "version": {
          "description": "Required. The extension version.",
          "type": "string"
        }
      }
    },
    "FstabEntry": {
      "description": "Single fstab entry.",
      "type": "object",
      "properties": {
        "file": {
          "description": "The mount point for the filesystem.",
          "type": "string"
        },
        "spec": {
          "description": "The block special device or remote filesystem to be mounted.",
          "type": "string"
        },
        "vfstype": {
          "description": "The type of the filesystem.",
          "type": "string"
        },
        "mntops": {
          "description": "Mount options associated with the filesystem.",
          "type": "string"
        },
        "freq": {
          "description": "Used by dump to determine which filesystems need to be dumped.",
          "type": "integer",
          "format": "int32"
        },
        "passno": {
          "format": "int32",
          "description": "Used by the fsck(8) program to determine the order in which filesystem checks are done at reboot time.",
          "type": "integer"
        }
      },
      "id": "FstabEntry"
    },
    "DatabaseDeploymentDetails": {
      "id": "DatabaseDeploymentDetails",
      "description": "The details of a database deployment asset.",
      "type": "object",
      "properties": {
        "version": {
          "description": "The database deployment version.",
          "type": "string"
        },
        "manualUniqueId": {
          "description": "A manual unique ID set by the user.",
          "type": "string"
        },
        "postgresql": {
          "$ref": "PostgreSqlDatabaseDeployment",
          "description": "Details of a PostgreSQL database deployment."
        },
        "aggregatedStats": {
          "$ref": "DatabaseDeploymentDetailsAggregatedStats",
          "description": "Output only. Aggregated stats for the database deployment.",
          "readOnly": true
        },
        "generatedId": {
          "description": "The database deployment generated ID.",
          "type": "string"
        },
        "mysql": {
          "$ref": "MysqlDatabaseDeployment",
          "description": "Details of a MYSQL database deployment."
        },
        "edition": {
          "description": "The database deployment edition.",
          "type": "string"
        },
        "topology": {
          "$ref": "DatabaseDeploymentTopology",
          "description": "Details of the database deployment topology."
        },
        "awsRds": {
          "$ref": "AwsRds",
          "description": "Optional. Details of an AWS RDS instance."
        },
        "sqlServer": {
          "$ref": "SqlServerDatabaseDeployment",
          "description": "Details of a Microsoft SQL Server database deployment."
        }
      }
    },
    "ValidateImportJobRequest": {
      "id": "ValidateImportJobRequest",
      "description": "A request to validate an import job.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "OpenFileDetails": {
      "id": "OpenFileDetails",
      "description": "Open file Information.",
      "type": "object",
      "properties": {
        "command": {
          "description": "Opened file command.",
          "type": "string"
        },
        "user": {
          "description": "Opened file user.",
          "type": "string"
        },
        "fileType": {
          "description": "Opened file file type.",
          "type": "string"
        },
        "filePath": {
          "description": "Opened file file path.",
          "type": "string"
        }
      }
    },
    "ReportSummaryChartDataDataPoint": {
      "id": "ReportSummaryChartDataDataPoint",
      "description": "Describes a single data point in the Chart.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The Y-axis value for this data point.",
          "type": "number",
          "format": "double"
        },
        "label": {
          "description": "The X-axis label for this data point.",
          "type": "string"
        }
      }
    },
    "DatabaseDetails": {
      "description": "Details of a logical database.",
      "type": "object",
      "properties": {
        "databaseName": {
          "description": "The name of the database.",
          "type": "string"
        },
        "allocatedStorageBytes": {
          "description": "The allocated storage for the database in bytes.",
          "type": "string",
          "format": "int64"
        },
        "parentDatabaseDeployment": {
          "$ref": "DatabaseDetailsParentDatabaseDeployment",
          "description": "The parent database deployment that contains the logical database."
        },
        "schemas": {
          "items": {
            "$ref": "DatabaseSchema"
          },
          "description": "The database schemas.",
          "type": "array"
        }
      },
      "id": "DatabaseDetails"
    },
    "AwsFirehoseDetails": {
      "description": "Contains details for an AWS Firehose asset.",
      "type": "object",
      "properties": {},
      "id": "AwsFirehoseDetails"
    },
    "AwsS3BucketDetailsObjectsMetadata": {
      "description": "The metadata of the objects in the bucket.",
      "type": "object",
      "properties": {
        "totalObjects": {
          "$ref": "AwsS3BucketDetailsObjectsMetadataTotalObjects",
          "description": "Optional. The total number of objects in the bucket."
        }
      },
      "id": "AwsS3BucketDetailsObjectsMetadata"
    },
    "MachinePreferences": {
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations for Compute Engine. Not all machine types are available in all zones and regions.",
      "type": "object",
      "properties": {
        "allowedMachineSeries": {
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "type": "array",
          "items": {
            "$ref": "MachineSeries"
          }
        }
      },
      "id": "MachinePreferences"
    },
    "DailyResourceUsageAggregationMemory": {
      "id": "DailyResourceUsageAggregationMemory",
      "description": "Statistical aggregation of memory usage.",
      "type": "object",
      "properties": {
        "utilizationPercentage": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Memory utilization percentage."
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "GoogleKubernetesEngineMigrationTarget": {
      "description": "GKE migration target.",
      "type": "object",
      "properties": {},
      "id": "GoogleKubernetesEngineMigrationTarget"
    },
    "ReportSummaryMachineSeriesAllocation": {
      "id": "ReportSummaryMachineSeriesAllocation",
      "description": "Represents a data point tracking the count of assets allocated for a specific Machine Series.",
      "type": "object",
      "properties": {
        "machineSeries": {
          "$ref": "MachineSeries",
          "description": "The Machine Series (e.g. \"E2\", \"N2\")"
        },
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Count of assets allocated to this machine series.",
          "type": "string"
        }
      }
    },
    "DailyResourceUsageAggregation": {
      "id": "DailyResourceUsageAggregation",
      "description": "Usage data aggregation for a single day.",
      "type": "object",
      "properties": {
        "network": {
          "description": "Network usage.",
          "$ref": "DailyResourceUsageAggregationNetwork"
        },
        "disk": {
          "description": "Disk usage.",
          "$ref": "DailyResourceUsageAggregationDisk"
        },
        "cpu": {
          "description": "CPU usage.",
          "$ref": "DailyResourceUsageAggregationCPU"
        },
        "date": {
          "description": "Aggregation date. Day boundaries are at midnight UTC.",
          "$ref": "Date"
        },
        "memory": {
          "$ref": "DailyResourceUsageAggregationMemory",
          "description": "Memory usage."
        }
      }
    },
    "ReportExportExecution": {
      "id": "ReportExportExecution",
      "description": "Execution status of report export operation.",
      "type": "object",
      "properties": {
        "result": {
          "$ref": "ReportExportExecutionResult",
          "description": "Output only. Result of the export execution.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. Completion time of the export.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "expireTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Expiration time for the export and artifacts.",
          "type": "string"
        },
        "progressPercentage": {
          "format": "int32",
          "description": "Output only. Represents the progress of the execution. It reaches 100 when the execution is successfully completed. When the execution finishes with a failure, the progress is set to 0.",
          "type": "integer",
          "readOnly": true
        },
        "executionId": {
          "readOnly": true,
          "description": "Output only. Globally unique identifier of the execution.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Execution start timestamp.",
          "type": "string"
        }
      }
    },
    "CloudSqlForMySqlShape": {
      "id": "CloudSqlForMySqlShape",
      "description": "Cloud SQL for MySQL database shape.",
      "type": "object",
      "properties": {
        "storage": {
          "$ref": "ComputeStorageDescriptor",
          "readOnly": true,
          "description": "Output only. Predicted storage shape."
        },
        "edition": {
          "readOnly": true,
          "description": "Output only. Cloud SQL edition.",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ]
        },
        "version": {
          "enumDescriptions": [
            "Unspecified MySQL version.",
            "MySQL 5.6.",
            "MySQL 5.7.",
            "MySQL 8.0."
          ],
          "enum": [
            "MY_SQL_VERSION_UNSPECIFIED",
            "MY_SQL_VERSION_5_6",
            "MY_SQL_VERSION_5_7",
            "MY_SQL_VERSION_8_0"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. MySQL version to be used on the Cloud SQL for MySQL instance."
        },
        "backupStorageGb": {
          "description": "Output only. Predicted backup storage size in GiB.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "egressGbPerMonth": {
          "format": "int64",
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "type": "string",
          "readOnly": true
        },
        "zoneAvailability": {
          "description": "Output only. Cloud SQL zone availability.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ]
        },
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "memoryMb": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Predicted amount of memory in MiB.",
          "type": "integer"
        }
      }
    },
    "ListRelationsResponse": {
      "description": "Response message for listing relations.",
      "type": "object",
      "properties": {
        "relations": {
          "description": "A list of relations.",
          "type": "array",
          "items": {
            "$ref": "Relation"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListRelationsResponse"
    },
    "DatabaseObjects": {
      "id": "DatabaseObjects",
      "description": "Details of a group of database objects.",
      "type": "object",
      "properties": {
        "category": {
          "enumDescriptions": [
            "Unspecified type.",
            "Table.",
            "Index.",
            "Constraints.",
            "Views.",
            "Source code, e.g. procedures.",
            "Uncategorized objects."
          ],
          "description": "The category of the objects.",
          "type": "string",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "TABLE",
            "INDEX",
            "CONSTRAINTS",
            "VIEWS",
            "SOURCE_CODE",
            "OTHER"
          ]
        },
        "count": {
          "description": "The number of objects.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "AwsEcsClusterDetails": {
      "id": "AwsEcsClusterDetails",
      "description": "Details of an AWS ECS cluster.",
      "type": "object",
      "properties": {}
    },
    "DiscoveryClient": {
      "id": "DiscoveryClient",
      "description": "Represents an installed Migration Center Discovery Client instance.",
      "type": "object",
      "properties": {
        "ttl": {
          "format": "google-duration",
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field.",
          "type": "string"
        },
        "source": {
          "description": "Required. Full name of the source object associated with this discovery client.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the discovery client was first created.",
          "type": "string",
          "readOnly": true
        },
        "recommendedVersions": {
          "description": "Output only. The recommended versions of the discovery client.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DiscoveryClientDiscoveryClientRecommendedVersion"
          }
        },
        "signalsEndpoint": {
          "readOnly": true,
          "description": "Output only. This field is intended for internal use.",
          "type": "string"
        },
        "version": {
          "description": "Output only. Client version, as reported in recent heartbeat.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Current state of the discovery client.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ]
        },
        "displayName": {
          "description": "Optional. Free text display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "errors": {
          "description": "Output only. Errors affecting client functionality.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Status"
          }
        },
        "updateTime": {
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "heartbeatTime": {
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Identifier. Full name of this discovery client.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Free text description. Maximum length is 1000 characters.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "expireTime": {
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time.",
          "type": "string",
          "format": "google-datetime"
        },
        "serviceAccount": {
          "description": "Required. Service account used by the discovery client for various operation.",
          "type": "string"
        }
      }
    },
    "HostsEntryList": {
      "id": "HostsEntryList",
      "description": "Hosts content.",
      "type": "object",
      "properties": {
        "entries": {
          "readOnly": true,
          "items": {
            "$ref": "HostsEntry"
          },
          "description": "Output only. Hosts entries.",
          "type": "array"
        }
      }
    },
    "RunningService": {
      "description": "Guest OS running service details.",
      "type": "object",
      "properties": {
        "exePath": {
          "description": "Service binary path.",
          "type": "string"
        },
        "serviceName": {
          "description": "Service name.",
          "type": "string"
        },
        "startMode": {
          "description": "Service start mode (raw, OS-agnostic).",
          "type": "string"
        },
        "pid": {
          "description": "Service pid.",
          "type": "string",
          "format": "int64"
        },
        "cmdline": {
          "description": "Service command line.",
          "type": "string"
        },
        "name": {
          "description": "Service name.",
          "type": "string"
        },
        "state": {
          "description": "Service state (raw, OS-agnostic).",
          "type": "string"
        },
        "status": {
          "description": "Service status.",
          "type": "string"
        }
      },
      "id": "RunningService"
    },
    "Settings": {
      "id": "Settings",
      "description": "Describes the Migration Center settings related to the project.",
      "type": "object",
      "properties": {
        "preferenceSet": {
          "description": "The preference set used by default for a project.",
          "type": "string"
        },
        "customerConsentForGoogleSalesToAccessMigrationCenter": {
          "description": "Customer consent for Google sales to access their Cloud Migration Center project.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "disableCloudLogging": {
          "description": "Disable Cloud Logging for the Migration Center API. Users are billed for the logs.",
          "type": "boolean"
        }
      }
    },
    "ReportSummarySoleTenantNodeAllocation": {
      "id": "ReportSummarySoleTenantNodeAllocation",
      "description": "Represents the assets allocated to a specific Sole-Tenant node type.",
      "type": "object",
      "properties": {
        "node": {
          "description": "Sole Tenant node type, e.g. \"m3-node-128-3904\"",
          "$ref": "SoleTenantNodeType"
        },
        "nodeCount": {
          "description": "Count of this node type to be provisioned",
          "type": "string",
          "format": "int64"
        },
        "allocatedAssetCount": {
          "description": "Count of assets allocated to these nodes",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "PerformanceSample": {
      "description": "Performance data sample.",
      "type": "object",
      "properties": {
        "memory": {
          "description": "Memory usage sample.",
          "$ref": "MemoryUsageSample"
        },
        "network": {
          "$ref": "NetworkUsageSample",
          "description": "Network usage sample."
        },
        "disk": {
          "$ref": "DiskUsageSample",
          "description": "Disk usage sample."
        },
        "cpu": {
          "$ref": "CpuUsageSample",
          "description": "CPU usage sample."
        },
        "sampleTime": {
          "description": "Time the sample was collected. If omitted, the frame report time will be used.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "PerformanceSample"
    },
    "DiskPartition": {
      "id": "DiskPartition",
      "description": "Disk Partition details.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Partition type (e.g. BIOS boot).",
          "type": "string"
        },
        "fileSystem": {
          "description": "Partition file system.",
          "type": "string"
        },
        "freeBytes": {
          "format": "int64",
          "description": "Partition free space.",
          "type": "string"
        },
        "mountPoint": {
          "description": "Mount point (Linux/Windows) or drive letter (Windows).",
          "type": "string"
        },
        "capacityBytes": {
          "description": "Partition capacity.",
          "type": "string",
          "format": "int64"
        },
        "uuid": {
          "description": "Partition UUID.",
          "type": "string"
        },
        "subPartitions": {
          "description": "Sub-partitions.",
          "$ref": "DiskPartitionList"
        }
      }
    },
    "VmwareEngineMigrationTarget": {
      "description": "VMWare engine migration target.",
      "type": "object",
      "properties": {},
      "id": "VmwareEngineMigrationTarget"
    },
    "ListDiscoveryClientsResponse": {
      "description": "Response message for listing discovery clients.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "discoveryClients": {
          "items": {
            "$ref": "DiscoveryClient"
          },
          "description": "List of discovery clients.",
          "type": "array"
        }
      },
      "id": "ListDiscoveryClientsResponse"
    },
    "AwsElbLoadBalancerDetails": {
      "description": "Asset information specific for AWS Load Balancers.",
      "type": "object",
      "properties": {},
      "id": "AwsElbLoadBalancerDetails"
    },
    "AwsKinesisStreamDetails": {
      "description": "Contains details for an AWS Kinesis Stream asset.",
      "type": "object",
      "properties": {},
      "id": "AwsKinesisStreamDetails"
    },
    "Money": {
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "properties": {
        "nanos": {
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        }
      }
    },
    "AwsVpcDetails": {
      "description": "Asset information specific for AWS VPCs.",
      "type": "object",
      "properties": {},
      "id": "AwsVpcDetails"
    },
    "DatabasePreferencesCloudSqlSqlServer": {
      "description": "Preferences for SQL Server on Cloud SQL.",
      "type": "object",
      "properties": {
        "common": {
          "description": "Optional. Preferences to Cloud SQL databases.",
          "$ref": "DatabasePreferencesCloudSqlCommon"
        },
        "multithreading": {
          "enum": [
            "MULTITHREADING_UNSPECIFIED",
            "MULTITHREADING_DISABLED",
            "MULTITHREADING_ENABLED",
            "MULTITHREADING_DISABLED_WITH_COMPENSATION"
          ],
          "description": "Optional. Preferences for multithreading support.",
          "type": "string",
          "enumDescriptions": [
            "Same as MULTITHREADING_AUTO.",
            "Disable simultaneous multithreading.",
            "Enable simultaneous multithreading.",
            "Disable simultaneous multithreading and increase number of VCPUs to compensate."
          ]
        },
        "versionType": {
          "enumDescriptions": [
            "Unspecified SQL Server version type.",
            "Version will be deduced from the source asset.",
            "Version will be one of \"Express\" versions.",
            "Version will be one of \"Web\" versions.",
            "Version will be one of \"Standard\" versions.",
            "Version will be one of \"Enterprise\" versions."
          ],
          "description": "Optional. Edition of Microsoft SQL version that is used on a Cloud SQL for SQL server instance.",
          "type": "string",
          "enum": [
            "VERSION_TYPE_UNSPECIFIED",
            "VERSION_TYPE_AUTO",
            "VERSION_TYPE_EXPRESS",
            "VERSION_TYPE_WEB",
            "VERSION_TYPE_STANDARD",
            "VERSION_TYPE_ENTERPRISE"
          ]
        }
      },
      "id": "DatabasePreferencesCloudSqlSqlServer"
    },
    "NfsExport": {
      "id": "NfsExport",
      "description": "NFS export.",
      "type": "object",
      "properties": {
        "hosts": {
          "description": "The hosts or networks to which the export is being shared.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exportDirectory": {
          "description": "The directory being exported.",
          "type": "string"
        }
      }
    },
    "AggregateAssetsValuesRequest": {
      "description": "A request to aggregate one or more values.",
      "type": "object",
      "properties": {
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "filter": {
          "description": "Optional. The aggregation will be performed on assets that match the provided filter.",
          "type": "string"
        },
        "aggregations": {
          "items": {
            "$ref": "Aggregation"
          },
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined.",
          "type": "array"
        }
      },
      "id": "AggregateAssetsValuesRequest"
    },
    "AwsInternetGatewayDetails": {
      "id": "AwsInternetGatewayDetails",
      "description": "Asset information specific for AWS Internet Gateways.",
      "type": "object",
      "properties": {}
    },
    "DatabaseDeploymentDetailsAggregatedStats": {
      "description": "Aggregated stats for the database deployment.",
      "type": "object",
      "properties": {
        "databaseCount": {
          "description": "Output only. The number of databases in the deployment.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      },
      "id": "DatabaseDeploymentDetailsAggregatedStats"
    },
    "CloudDatabaseMigrationTarget": {
      "description": "Cloud database migration target.",
      "type": "object",
      "properties": {
        "cloudSqlShape": {
          "$ref": "CloudSqlForSqlServerShape",
          "description": "Cloud SQL for SQL Server database shape."
        },
        "cloudSqlForMysqlShape": {
          "$ref": "CloudSqlForMySqlShape",
          "description": "Cloud SQL for MySQL database shape."
        },
        "cloudSqlForPostgresqlShape": {
          "$ref": "CloudSqlForPostgreSqlShape",
          "description": "Cloud SQL for PostgreSQL database shape."
        }
      },
      "id": "CloudDatabaseMigrationTarget"
    },
    "AssetFrame": {
      "id": "AssetFrame",
      "description": "Contains data reported from an inventory source on an asset.",
      "type": "object",
      "properties": {
        "awsDynamodbTableDetails": {
          "$ref": "AwsDynamoDBTableDetails",
          "description": "Asset information specific for AWS DynamoDB tables."
        },
        "awsEbsVolumeDetails": {
          "description": "Optional. Asset information specific for AWS EBS Volumes.",
          "$ref": "AwsEbsVolumeDetails"
        },
        "attributes": {
          "description": "Generic asset attributes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "machineDetails": {
          "description": "Asset information specific for virtual and physical machines.",
          "$ref": "MachineDetails"
        },
        "awsBatchComputeEnvironmentDetails": {
          "description": "Optional. Asset information specific for AWS Batch Compute Environments.",
          "$ref": "AwsBatchComputeEnvironmentDetails"
        },
        "awsSnsTopicDetails": {
          "description": "Optional. Asset information specific for AWS SNS Topics.",
          "$ref": "AwsSnsTopicDetails"
        },
        "awsEksClusterDetails": {
          "description": "Asset information specific for AWS EKS clusters.",
          "$ref": "AwsEksClusterDetails"
        },
        "awsAthenaWorkGroupDetails": {
          "$ref": "AwsAthenaWorkGroupDetails",
          "description": "Optional. Asset information specific for AwsAthenaWorkGroupDetails"
        },
        "databaseDetails": {
          "$ref": "DatabaseDetails",
          "description": "Asset information specific for logical databases."
        },
        "traceToken": {
          "description": "Optional. Trace token is optionally provided to assist with debugging and traceability.",
          "type": "string"
        },
        "virtualMachineDetails": {
          "description": "Asset information specific for virtual machines.",
          "$ref": "VirtualMachineDetails"
        },
        "awsEfsFileSystemDetails": {
          "description": "Asset information specific for AWS EFS file systems.",
          "$ref": "AwsEfsFileSystemDetails"
        },
        "awsElasticNetworkInterfaceDetails": {
          "$ref": "AwsElasticNetworkInterfaceDetails",
          "description": "Optional. Asset information specific for AWS Elastic Network Interfaces."
        },
        "awsVpcDetails": {
          "$ref": "AwsVpcDetails",
          "description": "Asset information specific for AWS VPCs."
        },
        "collectionType": {
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "description": "Optional. Frame collection type, if not specified the collection type will be based on the source type of the source the frame was reported on.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ]
        },
        "awsEmrClusterDetails": {
          "$ref": "AwsEmrClusterDetails",
          "description": "Optional. Asset information specific for AwsEmrClusterDetails"
        },
        "awsRedshiftDetails": {
          "description": "Asset information specific for AWS Redshift clusters.",
          "$ref": "AwsRedshiftDetails"
        },
        "awsAppSyncGraphqlApiDetails": {
          "$ref": "AwsAppSyncGraphqlApiDetails",
          "description": "Optional. Asset information specific for AWS AppSync GraphQL APIs."
        },
        "awsGlueJobDetails": {
          "description": "Optional. Asset information specific for AwsGlueJobDetails",
          "$ref": "AwsGlueJobDetails"
        },
        "awsEcrRepositoryDetails": {
          "description": "Asset information specific for AwsEcrRepositoryDetails",
          "$ref": "AwsEcrRepositoryDetails"
        },
        "awsAutoscalingGroupDetails": {
          "description": "Optional. Asset information specific for AwsAutoscalingGroupDetails",
          "$ref": "AwsAutoscalingGroupDetails"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs.",
          "type": "object"
        },
        "awsNatGatewayDetails": {
          "$ref": "AwsNatGatewayDetails",
          "description": "Asset information specific for AwsNatGatewayDetails"
        },
        "awsRoute53HostedZoneDetails": {
          "description": "Asset information specific for AwsRoute53HostedZoneDetails",
          "$ref": "AwsRoute53HostedZoneDetails"
        },
        "awsFirehoseDetails": {
          "$ref": "AwsFirehoseDetails",
          "description": "Optional. Asset information specific for AwsFirehoseDetails"
        },
        "awsApplicationLoadBalancerDetails": {
          "$ref": "AwsApplicationLoadBalancerDetails",
          "description": "Optional. Asset information specific for AWS Application Load Balancers."
        },
        "hostingProviderDetails": {
          "description": "Optional. Details about the hosting provider of the asset.",
          "$ref": "HostingProviderDetails"
        },
        "reportTime": {
          "format": "google-datetime",
          "description": "The time the data was reported.",
          "type": "string"
        },
        "awsElasticIpAddressDetails": {
          "description": "Optional. Asset information specific for AWS Elastic IP Addresses.",
          "$ref": "AwsElasticIpAddressDetails"
        },
        "performanceSamples": {
          "description": "Asset performance data samples. Samples that are from more than 40 days ago or after tomorrow are ignored.",
          "type": "array",
          "items": {
            "$ref": "PerformanceSample"
          }
        },
        "awsS3BucketDetails": {
          "description": "Asset information specific for AWS S3 buckets.",
          "$ref": "AwsS3BucketDetails"
        },
        "awsApiGatewayRestApiDetails": {
          "description": "Optional. Asset information specific for AWS API Gateway REST APIs.",
          "$ref": "AwsApiGatewayRestApiDetails"
        },
        "awsElbLoadBalancerDetails": {
          "description": "Asset information specific for AWS Load Balancers.",
          "$ref": "AwsElbLoadBalancerDetails"
        },
        "awsLambdaFunctionDetails": {
          "description": "Asset information specific for AWS Lambda functions.",
          "$ref": "AwsLambdaFunctionDetails"
        },
        "databaseDeploymentDetails": {
          "$ref": "DatabaseDeploymentDetails",
          "description": "Asset information specific for database deployments."
        },
        "awsCloudFrontDistributionDetails": {
          "$ref": "AwsCloudFrontDistributionDetails",
          "description": "Asset information specific for AWS CloudFront distributions."
        },
        "structuredAttributes": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Generic structured asset attributes.",
          "type": "object"
        },
        "awsEcsClusterDetails": {
          "description": "Asset information specific for AWS ECS clusters.",
          "$ref": "AwsEcsClusterDetails"
        },
        "awsInternetGatewayDetails": {
          "description": "Optional. Asset information specific for AWS Internet Gateways.",
          "$ref": "AwsInternetGatewayDetails"
        },
        "awsKinesisStreamDetails": {
          "$ref": "AwsKinesisStreamDetails",
          "description": "Optional. Asset information specific for AwsKinesisStreamDetails"
        }
      }
    },
    "CascadingRule": {
      "description": "Specifies cascading rules for traversing relations.",
      "type": "object",
      "properties": {
        "cascadeLogicalDbs": {
          "$ref": "CascadeLogicalDBsRule",
          "description": "Cascading rule for related logical DBs."
        }
      },
      "id": "CascadingRule"
    },
    "AssetsExportJobInventory": {
      "description": "Configuration for asset inventory details exports.",
      "type": "object",
      "properties": {},
      "id": "AssetsExportJobInventory"
    },
    "AwsS3BucketDetailsObjectsMetadataTotalObjects": {
      "description": "Information about the total number of objects in the bucket.",
      "type": "object",
      "properties": {
        "value": {
          "format": "int32",
          "description": "Optional. The total number of objects in the bucket.",
          "type": "integer"
        }
      },
      "id": "AwsS3BucketDetailsObjectsMetadataTotalObjects"
    },
    "Frames": {
      "description": "Collection of frame data.",
      "type": "object",
      "properties": {
        "framesData": {
          "description": "A repeated field of asset data.",
          "type": "array",
          "items": {
            "$ref": "AssetFrame"
          }
        }
      },
      "id": "Frames"
    },
    "DatabasePreferencesCloudSqlMySql": {
      "description": "Preferences for MySQL on Cloud SQL.",
      "type": "object",
      "properties": {
        "common": {
          "$ref": "DatabasePreferencesCloudSqlCommon",
          "description": "Optional. Preferences to Cloud SQL databases."
        }
      },
      "id": "DatabasePreferencesCloudSqlMySql"
    },
    "HostsEntry": {
      "id": "HostsEntry",
      "description": "Single /etc/hosts entry.",
      "type": "object",
      "properties": {
        "hostNames": {
          "items": {
            "type": "string"
          },
          "description": "List of host names / aliases.",
          "type": "array"
        },
        "ip": {
          "description": "IP (raw, IPv4/6 agnostic).",
          "type": "string"
        }
      }
    },
    "AwsGlueJobDetails": {
      "id": "AwsGlueJobDetails",
      "description": "Contains details for an AWS Glue Job asset.",
      "type": "object",
      "properties": {}
    },
    "CloudSqlForSqlServerShape": {
      "description": "Cloud SQL for SQL Server database shape.",
      "type": "object",
      "properties": {
        "logicalCoreCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Number of logical cores.",
          "type": "integer"
        },
        "edition": {
          "type": "string",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "description": "Output only. Cloud SQL edition.",
          "readOnly": true
        },
        "backupStorageGb": {
          "description": "Output only. Predicted backup storage size in GiB.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "egressGbPerMonth": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "type": "string"
        },
        "zoneAvailability": {
          "description": "Output only. Cloud SQL zone availability.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ]
        },
        "memoryMb": {
          "description": "Output only. Predicted amount of memory in MiB.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "smtEnabled": {
          "readOnly": true,
          "description": "Output only. Whether simultaneous multithreading is enabled (see https://cloud.google.com/sql/docs/sqlserver/create-instance#smt-create-instance).",
          "type": "boolean"
        },
        "storage": {
          "readOnly": true,
          "description": "Output only. Predicted storage shape.",
          "$ref": "ComputeStorageDescriptor"
        },
        "version": {
          "description": "Output only. Microsoft SQL Server version to be used on the Cloud SQL for SQL server instance.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified SQL Server version.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise."
          ],
          "type": "string",
          "enum": [
            "SQL_SERVER_VERSION_UNSPECIFIED",
            "SQL_SERVER_VERSION_2017_EXPRESS",
            "SQL_SERVER_VERSION_2017_WEB",
            "SQL_SERVER_VERSION_2017_STANDARD",
            "SQL_SERVER_VERSION_2017_ENTERPRISE",
            "SQL_SERVER_VERSION_2019_EXPRESS",
            "SQL_SERVER_VERSION_2019_WEB",
            "SQL_SERVER_VERSION_2019_STANDARD",
            "SQL_SERVER_VERSION_2019_ENTERPRISE",
            "SQL_SERVER_VERSION_2022_EXPRESS",
            "SQL_SERVER_VERSION_2022_WEB",
            "SQL_SERVER_VERSION_2022_STANDARD",
            "SQL_SERVER_VERSION_2022_ENTERPRISE"
          ]
        }
      },
      "id": "CloudSqlForSqlServerShape"
    },
    "VmwareEnginePreferences": {
      "description": "The user preferences relating to Google Cloud VMware Engine target platform.",
      "type": "object",
      "properties": {
        "commitmentPlan": {
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment).",
            "3-year flexible commitment (monthly payments). While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible commitment (upfront payment). While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_FLEXIBLE_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_FLEXIBLE_3_YEAR_UPFRONT_PAYMENT"
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "type": "string"
        },
        "machinePreferences": {
          "$ref": "VMwareEngineMachinePreferences",
          "description": "Optional. Preferences concerning the machine types to consider on Google Cloud VMware Engine."
        },
        "cpuOvercommitRatio": {
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment.",
          "type": "number",
          "format": "double"
        },
        "serviceType": {
          "description": "Optional. GCVE service type (fully licensed or portable license).",
          "type": "string",
          "enum": [
            "SERVICE_TYPE_UNSPECIFIED",
            "SERVICE_TYPE_FULLY_LICENSED",
            "SERVICE_TYPE_PORTABLE_LICENSE"
          ],
          "enumDescriptions": [
            "Same as SERVICE_TYPE_FULLY_LICENSED.",
            "Google provided VCF license.",
            "Bring Your Own License."
          ]
        },
        "memoryOvercommitRatio": {
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0.",
          "type": "number",
          "format": "double"
        },
        "storageDeduplicationCompressionRatio": {
          "format": "double",
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0.",
          "type": "number"
        },
        "licenseDiscountPercentage": {
          "format": "float",
          "description": "Optional. Discount percentage for the license offered to you by Broadcom. Must be between 0 and 100. Only valid when service_type is set to SERVICE_TYPE_PORTABLE_LICENSE.",
          "type": "number"
        }
      },
      "id": "VmwareEnginePreferences"
    },
    "HostingProviderDetails": {
      "id": "HostingProviderDetails",
      "description": "Details about the hosting platform of the asset.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Optional. The timestamp when resource was created in the hosting provider.",
          "type": "string"
        },
        "originalId": {
          "description": "Optional. Unique identifier for the asset in the hosting provider.",
          "type": "string"
        },
        "location": {
          "description": "Optional. Location of the asset.",
          "$ref": "ResourceLocation"
        },
        "aws": {
          "description": "Optional. The AWS platform details.",
          "$ref": "HostingProviderDetailsAws"
        },
        "displayName": {
          "description": "Optional. Display name of the asset.",
          "type": "string"
        }
      }
    },
    "NetworkConnectionList": {
      "id": "NetworkConnectionList",
      "description": "Network connection list.",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "NetworkConnection"
          },
          "description": "Network connection entries.",
          "type": "array"
        }
      }
    },
    "ImportRowErrorCsvErrorDetails": {
      "id": "ImportRowErrorCsvErrorDetails",
      "description": "Error details for a CSV file.",
      "type": "object",
      "properties": {
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "InlinePayloadInfo": {
      "description": "A resource that represents the inline import job payload.",
      "type": "object",
      "properties": {
        "format": {
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "type": "string",
          "description": "The import job format."
        },
        "payload": {
          "description": "List of payload files.",
          "type": "array",
          "items": {
            "$ref": "PayloadFile"
          }
        }
      },
      "id": "InlinePayloadInfo"
    },
    "ReportSummaryVMWareEngineFinding": {
      "description": "A set of findings that applies to assets destined for VMWare Engine.",
      "type": "object",
      "properties": {
        "allocatedRegions": {
          "items": {
            "type": "string"
          },
          "description": "Set of regions in which the assets were allocated",
          "type": "array"
        },
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Count of assets which are allocated",
          "type": "string"
        },
        "nodeAllocations": {
          "items": {
            "$ref": "ReportSummaryVMWareNodeAllocation"
          },
          "description": "Set of per-nodetype allocation records",
          "type": "array"
        }
      },
      "id": "ReportSummaryVMWareEngineFinding"
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AwsEbsVolumeDetails": {
      "description": "Asset information specific for AWS EBS Volumes.",
      "type": "object",
      "properties": {},
      "id": "AwsEbsVolumeDetails"
    },
    "PostgreSqlSetting": {
      "description": "PostgreSql setting.",
      "type": "object",
      "properties": {
        "unit": {
          "description": "Optional. The setting unit.",
          "type": "string"
        },
        "intValue": {
          "description": "Required. The setting int value.",
          "type": "string",
          "format": "int64"
        },
        "realValue": {
          "format": "float",
          "description": "Required. The setting real value.",
          "type": "number"
        },
        "source": {
          "description": "Required. The setting source.",
          "type": "string"
        },
        "setting": {
          "description": "Required. The setting name.",
          "type": "string"
        },
        "boolValue": {
          "description": "Required. The setting boolean value.",
          "type": "boolean"
        },
        "stringValue": {
          "description": "Required. The setting string value. Notice that enum values are stored as strings.",
          "type": "string"
        }
      },
      "id": "PostgreSqlSetting"
    },
    "AwsNatGatewayDetails": {
      "id": "AwsNatGatewayDetails",
      "description": "Details of an AWS NAT Gateway.",
      "type": "object",
      "properties": {}
    },
    "Source": {
      "description": "Source represents an object from which asset information is streamed to Migration Center.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING",
            "INVALID"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the source."
        },
        "errorFrameCount": {
          "readOnly": true,
          "description": "Output only. The number of frames that were reported by the source and contained errors.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "description": "Data source type.",
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ]
        },
        "name": {
          "description": "Output only. The full name of the source.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the source was created.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "isManaged": {
          "description": "If `true`, the source is managed by other service(s).",
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the source was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "pendingFrameCount": {
          "readOnly": true,
          "description": "Output only. Number of frames that are still being processed.",
          "type": "integer",
          "format": "int32"
        },
        "displayName": {
          "description": "User-friendly display name.",
          "type": "string"
        },
        "priority": {
          "description": "The information confidence of the source. The higher the value, the higher the confidence.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Source"
    },
    "AggregationResultCount": {
      "description": "The result of a count aggregation.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "AggregationResultCount"
    },
    "EstimatedUsage": {
      "id": "EstimatedUsage",
      "description": "Estimated usage data.",
      "type": "object",
      "properties": {
        "estimatedCpuPercentage": {
          "format": "float",
          "description": "Optional. Estimated CPU utilization percentage. Must be in the range [1, 100].",
          "type": "number"
        },
        "estimatedDiskPercentage": {
          "description": "Optional. Estimated disk utilization percentage. Must be in the range [1, 100].",
          "type": "number",
          "format": "float"
        },
        "estimatedMemoryPercentage": {
          "description": "Optional. Estimated memory utilization percentage. Must be in the range [1, 100].",
          "type": "number",
          "format": "float"
        }
      }
    },
    "UploadFileInfo": {
      "description": "A resource that contains a URI to which a data file can be uploaded.",
      "type": "object",
      "properties": {
        "uriExpirationTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Expiration time of the upload URI.",
          "type": "string"
        },
        "headers": {
          "readOnly": true,
          "description": "Output only. The headers that were used to sign the URL.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "signedUri": {
          "readOnly": true,
          "description": "Output only. Upload URI for the file.",
          "type": "string"
        }
      },
      "id": "UploadFileInfo"
    },
    "GuestInstalledApplication": {
      "description": "Guest installed application information.",
      "type": "object",
      "properties": {
        "vendor": {
          "description": "Installed application vendor.",
          "type": "string"
        },
        "version": {
          "description": "Installed application version.",
          "type": "string"
        },
        "path": {
          "description": "Source path.",
          "type": "string"
        },
        "applicationName": {
          "description": "Installed application name.",
          "type": "string"
        },
        "installTime": {
          "format": "google-datetime",
          "description": "The time when the application was installed.",
          "type": "string"
        },
        "licenses": {
          "items": {
            "type": "string"
          },
          "description": "License strings associated with the installed application.",
          "type": "array"
        },
        "name": {
          "description": "Installed application name.",
          "type": "string"
        },
        "time": {
          "description": "Date application was installed.",
          "type": "string"
        }
      },
      "id": "GuestInstalledApplication"
    },
    "CascadeLogicalDBsRule": {
      "id": "CascadeLogicalDBsRule",
      "description": "Cascading rule for related logical DBs.",
      "type": "object",
      "properties": {}
    },
    "Selinux": {
      "description": "SELinux details.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Is SELinux enabled.",
          "type": "boolean"
        },
        "mode": {
          "description": "SELinux mode disabled / enforcing / permissive.",
          "type": "string"
        }
      },
      "id": "Selinux"
    },
    "ImportJob": {
      "description": "A resource that represents the background job that imports asset frames.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The state of the import job.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ],
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ]
        },
        "validationReport": {
          "$ref": "ValidationReport",
          "readOnly": true,
          "description": "Output only. The report with the validation results of the import job."
        },
        "assetSource": {
          "description": "Required. Reference to a source.",
          "type": "string"
        },
        "executionReport": {
          "description": "Output only. The report with the results of running the import job.",
          "readOnly": true,
          "$ref": "ExecutionReport"
        },
        "inlinePayload": {
          "$ref": "InlinePayloadInfo",
          "description": "The payload is included in the request, mainly used for small import jobs."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The full name of the import job.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was created.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gcsPayload": {
          "description": "The payload is in Google Cloud Storage.",
          "deprecated": true,
          "$ref": "GCSPayloadInfo"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "completeTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the import job was completed.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the import job was last updated.",
          "type": "string"
        }
      },
      "id": "ImportJob"
    },
    "DatabaseDeploymentTopology": {
      "description": "Details of database deployment's topology.",
      "type": "object",
      "properties": {
        "diskUsedBytes": {
          "description": "Optional. Disk used in bytes.",
          "type": "string",
          "format": "int64"
        },
        "memoryLimitBytes": {
          "description": "Optional. Total memory in bytes limited by db deployment.",
          "type": "string",
          "format": "int64"
        },
        "instances": {
          "description": "Optional. List of database instances.",
          "type": "array",
          "items": {
            "$ref": "DatabaseInstance"
          }
        },
        "coreLimit": {
          "description": "Optional. Number of total logical cores limited by db deployment.",
          "type": "integer",
          "format": "int32"
        },
        "physicalCoreCount": {
          "description": "Optional. Number of total physical cores.",
          "type": "integer",
          "format": "int32"
        },
        "coreCount": {
          "format": "int32",
          "description": "Optional. Number of total logical cores.",
          "type": "integer"
        },
        "diskAllocatedBytes": {
          "description": "Optional. Disk allocated in bytes.",
          "type": "string",
          "format": "int64"
        },
        "physicalCoreLimit": {
          "format": "int32",
          "description": "Optional. Number of total physical cores limited by db deployment.",
          "type": "integer"
        },
        "memoryBytes": {
          "format": "int64",
          "description": "Optional. Total memory in bytes.",
          "type": "string"
        }
      },
      "id": "DatabaseDeploymentTopology"
    },
    "Aggregation": {
      "description": "Message describing an aggregation. The message includes the aggregation type, parameters, and the field on which to perform the aggregation.",
      "type": "object",
      "properties": {
        "histogram": {
          "$ref": "AggregationHistogram",
          "description": "Creates a bucketed histogram of field values."
        },
        "frequency": {
          "description": "Creates a frequency distribution of all field values.",
          "$ref": "AggregationFrequency"
        },
        "count": {
          "description": "Count the number of matching objects.",
          "$ref": "AggregationCount"
        },
        "sum": {
          "$ref": "AggregationSum",
          "description": "Sum over a numeric field."
        },
        "field": {
          "description": "The name of the field on which to aggregate.",
          "type": "string"
        }
      },
      "id": "Aggregation"
    },
    "VMwareEngineMachinePreferences": {
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations for VMware Engine. Not all machine types are available in all zones and regions.",
      "type": "object",
      "properties": {
        "allowedMachineSeries": {
          "items": {
            "$ref": "MachineSeries"
          },
          "description": "Optional. VMware Engine on Google Cloud machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "type": "array"
        },
        "protectedNodes": {
          "enumDescriptions": [
            "Unspecified protected nodes preference.",
            "Use only protected nodes for the selected allowed_machine_series.",
            "Do not use protected nodes."
          ],
          "enum": [
            "PROTECTED_NODES_UNSPECIFIED",
            "PROTECTED_NODES_ENABLED",
            "PROTECTED_NODES_DISABLED"
          ],
          "description": "Optional. Whether to use VMware Engine Protected offering.",
          "type": "string"
        },
        "storageOnlyNodes": {
          "enumDescriptions": [
            "Unspecified storage-only nodes preference.",
            "Use storage-only nodes for selected allowed_machine_series, if available.",
            "Do not use storage-only nodes."
          ],
          "description": "Optional. Whether to use storage-only nodes, if those are available.",
          "type": "string",
          "enum": [
            "STORAGE_ONLY_NODES_UNSPECIFIED",
            "STORAGE_ONLY_NODES_ENABLED",
            "STORAGE_ONLY_NODES_DISABLED"
          ]
        }
      },
      "id": "VMwareEngineMachinePreferences"
    },
    "DatabasePreferencesCloudSqlCommonBackup": {
      "description": "Preferences for database backups.",
      "type": "object",
      "properties": {
        "backupMode": {
          "enumDescriptions": [
            "An unspecified database backup mode.",
            "Automatic backups disabled, no additional charges for storage.",
            "Automatic backups enabled, there will be additional charges for storage."
          ],
          "enum": [
            "BACKUP_MODE_UNSPECIFIED",
            "BACKUP_MODE_DISABLED",
            "BACKUP_MODE_ENABLED"
          ],
          "description": "Optional. Automated backup mode.",
          "type": "string"
        }
      },
      "id": "DatabasePreferencesCloudSqlCommonBackup"
    },
    "VirtualMachinePreferencesNetworkCostParameters": {
      "description": "Parameters that affect network cost estimations.",
      "type": "object",
      "properties": {
        "estimatedEgressTrafficPercentage": {
          "description": "Optional. An estimated percentage of priced outbound traffic (egress traffic) from the measured outbound traffic. Must be in the interval [0, 100].",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "VirtualMachinePreferencesNetworkCostParameters"
    },
    "ImportRowErrorArchiveErrorDetails": {
      "description": "Error details for an archive file.",
      "type": "object",
      "properties": {
        "filePath": {
          "description": "The file path inside the archive where the error was detected.",
          "type": "string"
        },
        "csvError": {
          "$ref": "ImportRowErrorCsvErrorDetails",
          "description": "Error details for a CSV file."
        }
      },
      "id": "ImportRowErrorArchiveErrorDetails"
    },
    "AwsBatchComputeEnvironmentDetails": {
      "description": "Asset information specific for AWS Batch Compute Environments.",
      "type": "object",
      "properties": {},
      "id": "AwsBatchComputeEnvironmentDetails"
    },
    "ReportExportJob": {
      "description": "Report export job message.",
      "type": "object",
      "properties": {
        "recentExecutions": {
          "description": "Output only. Recent not expired executions of the export report job.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ReportExportExecution"
          }
        },
        "signedUriDestination": {
          "description": "Export with a SignedUri.",
          "$ref": "SignedUriDestination"
        },
        "name": {
          "description": "Output only. Identifier. Resource name.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ReportExportJob"
    },
    "AwsApiGatewayRestApiDetails": {
      "id": "AwsApiGatewayRestApiDetails",
      "description": "Asset information specific for AWS API Gateway REST APIs.",
      "type": "object",
      "properties": {}
    },
    "AggregationResult": {
      "description": "Message describing a result of an aggregation.",
      "type": "object",
      "properties": {
        "histogram": {
          "$ref": "AggregationResultHistogram"
        },
        "frequency": {
          "$ref": "AggregationResultFrequency"
        },
        "sum": {
          "$ref": "AggregationResultSum"
        },
        "count": {
          "$ref": "AggregationResultCount"
        },
        "field": {
          "type": "string"
        }
      },
      "id": "AggregationResult"
    },
    "OperatingSystemPricingPreferencesOperatingSystemPricing": {
      "id": "OperatingSystemPricingPreferencesOperatingSystemPricing",
      "description": "Pricing options of an OS image.",
      "type": "object",
      "properties": {
        "licenseType": {
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the license."
          ],
          "description": "Optional. License type for premium images (RHEL, RHEL for SAP, SLES, SLES for SAP, Windows Server).",
          "type": "string",
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ]
        },
        "commitmentPlan": {
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1-year committed use discount.",
            "3-year committed use discount."
          ],
          "description": "Optional. The plan of commitments for committed use discounts (CUD).",
          "type": "string",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_ON_DEMAND",
            "COMMITMENT_PLAN_1_YEAR",
            "COMMITMENT_PLAN_3_YEAR"
          ]
        }
      }
    },
    "ReportSummaryHistogramChartDataBucket": {
      "id": "ReportSummaryHistogramChartDataBucket",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "type": "object",
[...]
