{
  "mtlsRootUrl": "https://migrationcenter.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/migration-center",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "basePath": "",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "revision": "20260921",
  "fullyEncodeReservedExpansion": true,
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "servicePath": "",
  "title": "Migration Center API",
  "name": "migrationcenter",
  "version_module": true,
  "batchPath": "batch",
  "id": "migrationcenter:v1alpha1",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Migration Center API",
  "protocol": "rest",
  "version": "v1alpha1",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "schemas": {
    "TimeZone": {
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "id": "TimeZone"
    },
    "AssetsExportJobInventory": {
      "id": "AssetsExportJobInventory",
      "properties": {},
      "type": "object",
      "description": "Configuration for asset inventory details exports."
    },
    "DatabaseObjects": {
      "description": "Details of a group of database objects.",
      "type": "object",
      "properties": {
        "category": {
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "TABLE",
            "INDEX",
            "CONSTRAINTS",
            "VIEWS",
            "SOURCE_CODE",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Table.",
            "Index.",
            "Constraints.",
            "Views.",
            "Source code, e.g. procedures.",
            "Uncategorized objects."
          ],
          "description": "The category of the objects.",
          "type": "string"
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The number of objects."
        }
      },
      "id": "DatabaseObjects"
    },
    "DailyResourceUsageAggregationMemory": {
      "description": "Statistical aggregation of memory usage.",
      "id": "DailyResourceUsageAggregationMemory",
      "type": "object",
      "properties": {
        "utilizationPercentage": {
          "description": "Memory utilization percentage.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      }
    },
    "CpuUsageSample": {
      "description": "CPU usage sample.",
      "type": "object",
      "properties": {
        "utilizedPercentage": {
          "type": "number",
          "format": "float",
          "description": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage."
        }
      },
      "id": "CpuUsageSample"
    },
    "AwsS3BucketDetails": {
      "description": "Asset information specific for AWS S3 buckets.",
      "properties": {
        "versioning": {
          "description": "Optional. Versioning configuration of the bucket.",
          "$ref": "AwsS3BucketDetailsVersioning"
        },
        "objectsMetadata": {
          "$ref": "AwsS3BucketDetailsObjectsMetadata",
          "description": "Optional. The metadata of the objects in the bucket."
        },
        "storageClasses": {
          "items": {
            "$ref": "AwsS3BucketDetailsStorageClass"
          },
          "description": "Optional. The storage classes in the bucket.",
          "type": "array"
        }
      },
      "id": "AwsS3BucketDetails",
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ComputeEnginePreferences": {
      "type": "object",
      "id": "ComputeEnginePreferences",
      "properties": {
        "persistentDiskType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "description": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data.",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ]
        },
        "osPricingPreferences": {
          "description": "Optional. Pricing options for OS images.",
          "$ref": "OperatingSystemPricingPreferences"
        },
        "licenseType": {
          "description": "License type to consider when calculating costs for operating systems. If unspecified, costs are calculated based on the default licensing plan. If os_pricing_preferences is specified, it overrides this field.",
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ],
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the license."
          ],
          "type": "string"
        },
        "multithreading": {
          "description": "Optional. Preferences for multithreading support on Windows Server.",
          "type": "string",
          "enum": [
            "MULTITHREADING_UNSPECIFIED",
            "MULTITHREADING_DISABLED",
            "MULTITHREADING_ENABLED",
            "MULTITHREADING_DISABLED_WITH_COMPENSATION"
          ],
          "enumDescriptions": [
            "Same as MULTITHREADING_AUTO.",
            "Disable simultaneous multithreading.",
            "Enable simultaneous multithreading.",
            "Disable simultaneous multithreading and increase number of VCPUs to compensate."
          ]
        },
        "machinePreferences": {
          "description": "Preferences concerning the machine types to consider on Compute Engine.",
          "$ref": "MachinePreferences"
        }
      },
      "description": "The user preferences relating to Compute Engine target platform."
    },
    "AggregationSum": {
      "description": "Sum of field values.",
      "id": "AggregationSum",
      "type": "object",
      "properties": {}
    },
    "OperatingSystemPricingPreferences": {
      "id": "OperatingSystemPricingPreferences",
      "type": "object",
      "description": "Pricing options for OS images.",
      "properties": {
        "windows": {
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing",
          "description": "Optional. Pricing options for Windows images. No commitment plans are available, set it to unspecified."
        },
        "slesForSap": {
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing",
          "description": "Optional. Pricing options for SLES for SAP images."
        },
        "rhel": {
          "description": "Optional. Pricing options for RHEL images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "sles": {
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing",
          "description": "Optional. Pricing options for SLES images."
        }
      }
    },
    "Money": {
      "id": "Money",
      "properties": {
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "type": "object"
    },
    "HostingProviderDetailsAws": {
      "description": "Details for AWS platform.",
      "properties": {
        "owningAccountId": {
          "description": "Optional. The AWS account ID owning the resource represented by this asset.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "HostingProviderDetailsAws"
    },
    "VirtualMachinePreferencesSizingOptimizationCustomParameters": {
      "description": "Custom data to use for sizing optimizations.",
      "type": "object",
      "properties": {
        "storageMultiplier": {
          "type": "number",
          "format": "double",
          "description": "Optional. Desired increase factor of storage, relative to currently used storage. Must be in the interval [1.0, 2.0] (or 0 for default value)."
        },
        "cpuUsagePercentage": {
          "description": "Optional. Desired percentage of CPU usage. Must be in the interval [1, 100] (or 0 for default value).",
          "type": "integer",
          "format": "int32"
        },
        "memoryUsagePercentage": {
          "format": "int32",
          "description": "Optional. Desired percentage of memory usage. Must be in the interval [1, 100] (or 0 for default value).",
          "type": "integer"
        },
        "aggregationMethod": {
          "enumDescriptions": [
            "Unspecified aggregation method. Can be used for default value.",
            "Average of utilization data.",
            "Median of utilization data.",
            "95th percentile of utilization data.",
            "Peak of utilization data."
          ],
          "enum": [
            "AGGREGATION_METHOD_UNSPECIFIED",
            "AGGREGATION_METHOD_AVERAGE",
            "AGGREGATION_METHOD_MEDIAN",
            "AGGREGATION_METHOD_NINETY_FIFTH_PERCENTILE",
            "AGGREGATION_METHOD_PEAK"
          ],
          "type": "string",
          "description": "Optional. Type of statistical aggregation of a resource utilization data, on which to base the sizing metrics."
        }
      },
      "id": "VirtualMachinePreferencesSizingOptimizationCustomParameters"
    },
    "ListImportJobsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "importJobs": {
          "items": {
            "$ref": "ImportJob"
          },
          "type": "array",
          "description": "The list of import jobs."
        }
      },
      "description": "A response for listing import jobs.",
      "id": "ListImportJobsResponse"
    },
    "GuestInstalledApplicationList": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "GuestInstalledApplication"
          },
          "description": "Application entries.",
          "type": "array"
        }
      },
      "description": "Guest installed application list.",
      "id": "GuestInstalledApplicationList",
      "type": "object"
    },
    "SqlServerSchemaDetails": {
      "id": "SqlServerSchemaDetails",
      "properties": {
        "clrObjectCount": {
          "format": "int32",
          "description": "Optional. SqlServer number of CLR objects.",
          "type": "integer"
        }
      },
      "description": "Specific details for a SqlServer database.",
      "type": "object"
    },
    "DatabasePreferencesCloudSqlSqlServer": {
      "description": "Preferences for SQL Server on Cloud SQL.",
      "properties": {
        "multithreading": {
          "enumDescriptions": [
            "Same as MULTITHREADING_AUTO.",
            "Disable simultaneous multithreading.",
            "Enable simultaneous multithreading.",
            "Disable simultaneous multithreading and increase number of VCPUs to compensate."
          ],
          "description": "Optional. Preferences for multithreading support.",
          "enum": [
            "MULTITHREADING_UNSPECIFIED",
            "MULTITHREADING_DISABLED",
            "MULTITHREADING_ENABLED",
            "MULTITHREADING_DISABLED_WITH_COMPENSATION"
          ],
          "type": "string"
        },
        "versionType": {
          "description": "Optional. Edition of Microsoft SQL version that is used on a Cloud SQL for SQL server instance.",
          "enum": [
            "VERSION_TYPE_UNSPECIFIED",
            "VERSION_TYPE_AUTO",
            "VERSION_TYPE_EXPRESS",
            "VERSION_TYPE_WEB",
            "VERSION_TYPE_STANDARD",
            "VERSION_TYPE_ENTERPRISE"
          ],
          "enumDescriptions": [
            "Unspecified SQL Server version type.",
            "Version will be deduced from the source asset.",
            "Version will be one of \"Express\" versions.",
            "Version will be one of \"Web\" versions.",
            "Version will be one of \"Standard\" versions.",
            "Version will be one of \"Enterprise\" versions."
          ],
          "type": "string"
        },
        "common": {
          "$ref": "DatabasePreferencesCloudSqlCommon",
          "description": "Optional. Preferences to Cloud SQL databases."
        }
      },
      "type": "object",
      "id": "DatabasePreferencesCloudSqlSqlServer"
    },
    "DateTime": {
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "properties": {
        "utcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }."
        },
        "hours": {
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year."
        },
        "minutes": {
          "type": "integer",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "type": "integer"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0."
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "TimeZone"
        },
        "seconds": {
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "DateTime"
    },
    "DatabasePreferencesCloudSqlPostgreSql": {
      "description": "Preferences for PostgreSQL on Cloud SQL.",
      "id": "DatabasePreferencesCloudSqlPostgreSql",
      "type": "object",
      "properties": {
        "common": {
          "$ref": "DatabasePreferencesCloudSqlCommon",
          "description": "Optional. Preferences to Cloud SQL databases."
        }
      }
    },
    "ListSourcesResponse": {
      "description": "Response message for listing sources.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "description": "The list of sources.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object",
      "id": "ListSourcesResponse"
    },
    "CloudSqlForPostgreSqlShape": {
      "id": "CloudSqlForPostgreSqlShape",
      "type": "object",
      "properties": {
        "memoryMb": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Predicted amount of memory in MiB."
        },
        "zoneAvailability": {
          "type": "string",
          "description": "Output only. Cloud SQL zone availability.",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "readOnly": true
        },
        "storage": {
          "description": "Output only. Predicted storage shape.",
          "readOnly": true,
          "$ref": "ComputeStorageDescriptor"
        },
        "edition": {
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "description": "Output only. Cloud SQL edition.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ]
        },
        "logicalCoreCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of logical cores."
        },
        "backupStorageGb": {
          "description": "Output only. Predicted backup storage size in GiB.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "version": {
          "enumDescriptions": [
            "Unspecified PostgreSQL version.",
            "PostgreSQL 9.6.",
            "PostgreSQL 10",
            "PostgreSQL 11",
            "PostgreSQL 12",
            "PostgreSQL 13",
            "PostgreSQL 14",
            "PostgreSQL 15"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. PostgreSql version to be used on the Cloud SQL for PostgreSql instance.",
          "enum": [
            "POSTGRESQL_VERSION_UNSPECIFIED",
            "POSTGRESQL_VERSION_9_6",
            "POSTGRESQL_VERSION_10",
            "POSTGRESQL_VERSION_11",
            "POSTGRESQL_VERSION_12",
            "POSTGRESQL_VERSION_13",
            "POSTGRESQL_VERSION_14",
            "POSTGRESQL_VERSION_15"
          ]
        },
        "egressGbPerMonth": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Predicted Network Out traffic GiB per month."
        }
      },
      "description": "Cloud SQL for PostgreSQL database shape."
    },
    "PostgreSqlSchemaDetails": {
      "type": "object",
      "properties": {
        "foreignTablesCount": {
          "description": "Optional. PostgreSql foreign tables.",
          "type": "integer",
          "format": "int32"
        },
        "postgresqlExtensions": {
          "type": "array",
          "description": "Optional. PostgreSql extensions.",
          "items": {
            "$ref": "PostgreSqlExtension"
          }
        }
      },
      "description": "Specific details for a PostgreSql schema.",
      "id": "PostgreSqlSchemaDetails"
    },
    "AwsEmrClusterDetails": {
      "type": "object",
      "properties": {},
      "id": "AwsEmrClusterDetails",
      "description": "Contains details for an AWS EMR Cluster asset."
    },
    "SignedUri": {
      "description": "Contains a signed URI.",
      "type": "object",
      "properties": {
        "file": {
          "type": "string",
          "description": "Output only. Name of the file the Signed URI references.",
          "readOnly": true
        },
        "uri": {
          "description": "Output only. Download URI for the file.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "SignedUri"
    },
    "MySqlPlugin": {
      "properties": {
        "version": {
          "description": "Required. The plugin version.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. The plugin is active.",
          "type": "boolean"
        },
        "plugin": {
          "description": "Required. The plugin name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "MySql plugin.",
      "id": "MySqlPlugin"
    },
    "AwsElastiCacheClusterDetails": {
      "type": "object",
      "properties": {},
      "id": "AwsElastiCacheClusterDetails",
      "description": "Details of an AWS ElastiCache Cluster."
    },
    "VmwareEnginePreferences": {
      "description": "The user preferences relating to Google Cloud VMware Engine target platform.",
      "properties": {
        "licenseDiscountPercentage": {
          "type": "number",
          "description": "Optional. Discount percentage for the license offered to you by Broadcom. Must be between 0 and 100. Only valid when service_type is set to SERVICE_TYPE_PORTABLE_LICENSE.",
          "format": "float"
        },
        "storageDeduplicationCompressionRatio": {
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0.",
          "format": "double",
          "type": "number"
        },
        "serviceType": {
          "enum": [
            "SERVICE_TYPE_UNSPECIFIED",
            "SERVICE_TYPE_FULLY_LICENSED",
            "SERVICE_TYPE_PORTABLE_LICENSE"
          ],
          "enumDescriptions": [
            "Same as SERVICE_TYPE_FULLY_LICENSED.",
            "Google provided VCF license.",
            "Bring Your Own License."
          ],
          "type": "string",
          "description": "Optional. GCVE service type (fully licensed or portable license)."
        },
        "machinePreferences": {
          "$ref": "VMwareEngineMachinePreferences",
          "description": "Optional. Preferences concerning the machine types to consider on Google Cloud VMware Engine."
        },
        "commitmentPlan": {
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_FLEXIBLE_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_FLEXIBLE_3_YEAR_UPFRONT_PAYMENT"
          ],
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment).",
            "3-year flexible commitment (monthly payments). While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible commitment (upfront payment). While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "type": "string",
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with."
        },
        "cpuOvercommitRatio": {
          "format": "double",
          "type": "number",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment."
        },
        "memoryOvercommitRatio": {
          "format": "double",
          "type": "number",
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0."
        }
      },
      "id": "VmwareEnginePreferences",
      "type": "object"
    },
    "DiscoveryClient": {
      "description": "Represents an installed Migration Center Discovery Client instance.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Free text description. Maximum length is 1000 characters.",
          "type": "string"
        },
        "version": {
          "readOnly": true,
          "description": "Output only. Client version, as reported in recent heartbeat.",
          "type": "string"
        },
        "source": {
          "description": "Required. Full name of the source object associated with this discovery client.",
          "type": "string"
        },
        "ttl": {
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field.",
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ],
          "description": "Output only. Current state of the discovery client.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ],
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Full name of this discovery client.",
          "readOnly": true
        },
        "serviceAccount": {
          "description": "Required. Service account used by the discovery client for various operation.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Free text display name. Maximum length is 63 characters."
        },
        "heartbeatTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes).",
          "type": "string"
        },
        "errors": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Errors affecting client functionality."
        },
        "signalsEndpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This field is intended for internal use."
        },
        "recommendedVersions": {
          "items": {
            "$ref": "DiscoveryClientDiscoveryClientRecommendedVersion"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The recommended versions of the discovery client."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the discovery client was first created."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key value pairs."
        }
      },
      "type": "object",
      "id": "DiscoveryClient"
    },
    "CloudSqlForSqlServerShape": {
      "id": "CloudSqlForSqlServerShape",
      "type": "object",
      "properties": {
        "smtEnabled": {
          "type": "boolean",
          "description": "Output only. Whether simultaneous multithreading is enabled (see https://cloud.google.com/sql/docs/sqlserver/create-instance#smt-create-instance).",
          "readOnly": true
        },
        "edition": {
          "description": "Output only. Cloud SQL edition.",
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "type": "string",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ]
        },
        "memoryMb": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Predicted amount of memory in MiB."
        },
        "version": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified SQL Server version.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise."
          ],
          "enum": [
            "SQL_SERVER_VERSION_UNSPECIFIED",
            "SQL_SERVER_VERSION_2017_EXPRESS",
            "SQL_SERVER_VERSION_2017_WEB",
            "SQL_SERVER_VERSION_2017_STANDARD",
            "SQL_SERVER_VERSION_2017_ENTERPRISE",
            "SQL_SERVER_VERSION_2019_EXPRESS",
            "SQL_SERVER_VERSION_2019_WEB",
            "SQL_SERVER_VERSION_2019_STANDARD",
            "SQL_SERVER_VERSION_2019_ENTERPRISE",
            "SQL_SERVER_VERSION_2022_EXPRESS",
            "SQL_SERVER_VERSION_2022_WEB",
            "SQL_SERVER_VERSION_2022_STANDARD",
            "SQL_SERVER_VERSION_2022_ENTERPRISE"
          ],
          "description": "Output only. Microsoft SQL Server version to be used on the Cloud SQL for SQL server instance.",
          "type": "string"
        },
        "zoneAvailability": {
          "description": "Output only. Cloud SQL zone availability.",
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ]
        },
        "backupStorageGb": {
          "description": "Output only. Predicted backup storage size in GiB.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "egressGbPerMonth": {
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "storage": {
          "readOnly": true,
          "description": "Output only. Predicted storage shape.",
          "$ref": "ComputeStorageDescriptor"
        }
      },
      "description": "Cloud SQL for SQL Server database shape."
    },
    "ReportSummaryMachineSeriesAllocation": {
      "type": "object",
      "properties": {
        "allocatedAssetCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of assets allocated to this machine series."
        },
        "machineSeries": {
          "$ref": "MachineSeries",
          "description": "The Machine Series (e.g. \"E2\", \"N2\")"
        }
      },
      "id": "ReportSummaryMachineSeriesAllocation",
      "description": "Represents a data point tracking the count of assets allocated for a specific Machine Series."
    },
    "VmwareEngineMigrationTarget": {
      "description": "VMWare engine migration target.",
      "type": "object",
      "id": "VmwareEngineMigrationTarget",
      "properties": {}
    },
    "MachineDiskDetails": {
      "type": "object",
      "description": "Details of machine disks.",
      "id": "MachineDiskDetails",
      "properties": {
        "disks": {
          "description": "List of disks.",
          "$ref": "DiskEntryList"
        },
        "rawScanResult": {
          "type": "string",
          "description": "Raw disk scan result. This field is intended for human inspection. The format of this field may be lsblk output or any another raw output. The exact format may change without notice and should not be relied upon."
        },
        "totalCapacityBytes": {
          "description": "Disk total Capacity.",
          "format": "int64",
          "type": "string"
        },
        "totalFreeBytes": {
          "description": "Total disk free space.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Frames": {
      "type": "object",
      "description": "Collection of frame data.",
      "properties": {
        "framesData": {
          "description": "A repeated field of asset data.",
          "items": {
            "$ref": "AssetFrame"
          },
          "type": "array"
        }
      },
      "id": "Frames"
    },
    "SqlServerDatabaseDeployment": {
      "properties": {
        "features": {
          "items": {
            "$ref": "SqlServerFeature"
          },
          "description": "Optional. List of SQL Server features.",
          "type": "array"
        },
        "serverFlags": {
          "type": "array",
          "items": {
            "$ref": "SqlServerServerFlag"
          },
          "description": "Optional. List of SQL Server server flags."
        },
        "traceFlags": {
          "type": "array",
          "description": "Optional. List of SQL Server trace flags.",
          "items": {
            "$ref": "SqlServerTraceFlag"
          }
        }
      },
      "description": "Specific details for a Microsoft SQL Server database deployment.",
      "type": "object",
      "id": "SqlServerDatabaseDeployment"
    },
    "ReportSummaryChartDataDataPoint": {
      "id": "ReportSummaryChartDataDataPoint",
      "properties": {
        "value": {
          "format": "double",
          "type": "number",
          "description": "The Y-axis value for this data point."
        },
        "label": {
          "description": "The X-axis label for this data point.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes a single data point in the Chart."
    },
    "SqlServerServerFlag": {
      "type": "object",
      "properties": {
        "serverFlagName": {
          "type": "string",
          "description": "Required. The server flag name."
        },
        "valueInUse": {
          "description": "Required. The server flag actual value. If `value_in_use` is different from `value` it means that either the configuration change was not applied or it is an expected behavior. See SQL Server documentation for more details.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. The server flag value set by the user."
        }
      },
      "description": "SQL Server server flag details.",
      "id": "SqlServerServerFlag"
    },
    "ValidateImportJobRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "ValidateImportJobRequest",
      "description": "A request to validate an import job.",
      "type": "object"
    },
    "PostgreSqlDatabaseDeployment": {
      "description": "Specific details for a PostgreSQL database deployment.",
      "type": "object",
      "properties": {
        "settings": {
          "type": "array",
          "description": "Optional. List of PostgreSql settings.",
          "items": {
            "$ref": "PostgreSqlSetting"
          }
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "PostgreSqlProperty"
          },
          "description": "Optional. List of PostgreSql properties."
        }
      },
      "id": "PostgreSqlDatabaseDeployment"
    },
    "ResourceLocation": {
      "id": "ResourceLocation",
      "properties": {
        "region": {
          "type": "string",
          "description": "Optional. The name of the region."
        }
      },
      "description": "Location of a resource.",
      "type": "object"
    },
    "SoleTenantNodeType": {
      "id": "SoleTenantNodeType",
      "properties": {
        "nodeName": {
          "description": "Name of the Sole Tenant node. Consult https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes",
          "type": "string"
        }
      },
      "description": "A Sole Tenant node type.",
      "type": "object"
    },
    "NetworkConnection": {
      "type": "object",
      "id": "NetworkConnection",
      "properties": {
        "localPort": {
          "format": "int32",
          "type": "integer",
          "description": "Local port."
        },
        "remoteIpAddress": {
          "description": "Remote IP address.",
          "type": "string"
        },
        "pid": {
          "type": "string",
          "description": "Process ID.",
          "format": "int64"
        },
        "localIpAddress": {
          "type": "string",
          "description": "Local IP address."
        },
        "state": {
          "type": "string",
          "description": "Connection state (e.g. CONNECTED)."
        },
        "processName": {
          "type": "string",
          "description": "Process or service name."
        },
        "protocol": {
          "type": "string",
          "description": "Connection protocol (e.g. TCP/UDP)."
        },
        "remotePort": {
          "description": "Remote port.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "MySqlSchemaDetails": {
      "properties": {
        "storageEngines": {
          "description": "Optional. Mysql storage engine tables.",
          "type": "array",
          "items": {
            "$ref": "MySqlStorageEngineDetails"
          }
        }
      },
      "type": "object",
      "id": "MySqlSchemaDetails",
      "description": "Specific details for a Mysql database."
    },
    "RunningService": {
      "properties": {
        "state": {
          "description": "Service state (raw, OS-agnostic).",
          "type": "string"
        },
        "status": {
          "description": "Service status.",
          "type": "string"
        },
        "name": {
          "description": "Service name.",
          "type": "string"
        },
        "exePath": {
          "description": "Service binary path.",
          "type": "string"
        },
        "pid": {
          "type": "string",
          "format": "int64",
          "description": "Service pid."
        },
        "cmdline": {
          "description": "Service command line.",
          "type": "string"
        },
        "startMode": {
          "type": "string",
          "description": "Service start mode (raw, OS-agnostic)."
        },
        "serviceName": {
          "type": "string",
          "description": "Service name."
        }
      },
      "type": "object",
      "id": "RunningService",
      "description": "Guest OS running service details."
    },
    "AssetsExportJobPerformanceData": {
      "type": "object",
      "properties": {
        "maxDays": {
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Configuration for performance data exports.",
      "id": "AssetsExportJobPerformanceData"
    },
    "MachineDetails": {
      "description": "Details of a machine.",
      "properties": {
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "type": "string",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ],
          "description": "Power state of the machine."
        },
        "createTime": {
          "type": "string",
          "description": "Machine creation time.",
          "format": "google-datetime"
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "memoryMb": {
          "description": "The amount of memory in the machine. Must be non-negative.",
          "type": "integer",
          "format": "int32"
        },
        "platform": {
          "description": "Platform specific information.",
          "$ref": "PlatformDetails"
        },
        "network": {
          "$ref": "MachineNetworkDetails",
          "description": "Network details."
        },
        "architecture": {
          "description": "Architecture details (vendor, CPU architecture).",
          "$ref": "MachineArchitectureDetails"
        },
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "coreCount": {
          "type": "integer",
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "MachineDetails"
    },
    "PostgreSqlSetting": {
      "type": "object",
      "id": "PostgreSqlSetting",
      "description": "PostgreSql setting.",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "Required. The setting string value. Notice that enum values are stored as strings."
        },
        "source": {
          "type": "string",
          "description": "Required. The setting source."
        },
        "setting": {
          "description": "Required. The setting name.",
          "type": "string"
        },
        "unit": {
          "type": "string",
          "description": "Optional. The setting unit."
        },
        "realValue": {
          "type": "number",
          "format": "float",
          "description": "Required. The setting real value."
        },
        "intValue": {
          "format": "int64",
          "description": "Required. The setting int value.",
          "type": "string"
        },
        "boolValue": {
          "description": "Required. The setting boolean value.",
          "type": "boolean"
        }
      }
    },
    "FrameViolationEntry": {
      "type": "object",
      "description": "A resource that contains a single violation of a reported `AssetFrame` resource.",
      "id": "FrameViolationEntry",
      "properties": {
        "field": {
          "type": "string",
          "description": "The field of the original frame where the violation occurred."
        },
        "violation": {
          "type": "string",
          "description": "A message describing the violation."
        }
      }
    },
    "ImportRowErrorXlsxErrorDetails": {
      "description": "Error details for an XLSX file.",
      "properties": {
        "rowNumber": {
          "format": "int32",
          "description": "The row number where the error was detected.",
          "type": "integer"
        },
        "sheet": {
          "type": "string",
          "description": "The name of the sheet where the error was detected."
        }
      },
      "id": "ImportRowErrorXlsxErrorDetails",
      "type": "object"
    },
    "NetworkAdapterList": {
      "id": "NetworkAdapterList",
      "type": "object",
      "description": "List of network adapters.",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "NetworkAdapterDetails"
          },
          "description": "Network adapter entries."
        },
        "networkAdapters": {
          "description": "Network adapter descriptions.",
          "items": {
            "$ref": "NetworkAdapterDetails"
          },
          "type": "array"
        }
      }
    },
    "DiskPartitionList": {
      "description": "Disk partition list.",
      "id": "DiskPartitionList",
      "properties": {
        "entries": {
          "items": {
            "$ref": "DiskPartition"
          },
          "description": "Partition entries.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ImportDataFile": {
      "properties": {
        "name": {
          "description": "Output only. The name of the file.",
          "type": "string",
          "readOnly": true
        },
        "format": {
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Required. The payload format.",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ]
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the file was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ],
          "description": "Output only. The state of the import data file.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "readOnly": true
        },
        "uploadFileInfo": {
          "description": "Information about a file that is uploaded to a storage service.",
          "$ref": "UploadFileInfo"
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 256 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ImportDataFile",
      "description": "A resource that represents a payload file in an import job."
    },
    "ImportRowErrorArchiveErrorDetails": {
      "id": "ImportRowErrorArchiveErrorDetails",
      "type": "object",
      "properties": {
        "filePath": {
          "type": "string",
          "description": "The file path inside the archive where the error was detected."
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        }
      },
      "description": "Error details for an archive file."
    },
    "SoftwareInsight": {
      "properties": {
        "detectedSoftware": {
          "description": "Output only. Information about the detected software.",
          "readOnly": true,
          "$ref": "DetectedSoftware"
        }
      },
      "type": "object",
      "description": "An insight regarding software detected on an asset.",
      "id": "SoftwareInsight"
    },
    "DatabaseInstance": {
      "properties": {
        "role": {
          "enumDescriptions": [
            "Unspecified.",
            "Primary.",
            "Secondary.",
            "Arbiter."
          ],
          "type": "string",
          "description": "The instance role in the database engine.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "ARBITER"
          ]
        },
        "instanceName": {
          "description": "The instance's name.",
          "type": "string"
        },
        "network": {
          "description": "Optional. Networking details.",
          "$ref": "DatabaseInstanceNetwork"
        }
      },
      "type": "object",
      "description": "Details of a database instance.",
      "id": "DatabaseInstance"
    },
    "DatabaseSchema": {
      "properties": {
        "mysql": {
          "$ref": "MySqlSchemaDetails",
          "description": "Details of a Mysql schema."
        },
        "schemaName": {
          "description": "The name of the schema.",
          "type": "string"
        },
        "tablesSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "The total size of tables in bytes."
        },
        "postgresql": {
          "description": "Details of a PostgreSql schema.",
          "$ref": "PostgreSqlSchemaDetails"
        },
        "objects": {
          "type": "array",
          "description": "List of details of objects by category.",
          "items": {
            "$ref": "DatabaseObjects"
          }
        },
        "sqlServer": {
          "$ref": "SqlServerSchemaDetails",
          "description": "Details of a SqlServer schema."
        }
      },
      "type": "object",
      "description": "Details of a database schema.",
      "id": "DatabaseSchema"
    },
    "AssetsExportJobExecutionResult": {
      "id": "AssetsExportJobExecutionResult",
      "type": "object",
      "properties": {
        "outputFiles": {
          "readOnly": true,
          "$ref": "OutputFileList",
          "description": "Output only. List of output files."
        },
        "signedUris": {
          "readOnly": true,
          "$ref": "SignedUris",
          "description": "Output only. Signed URLs for downloading export artifacts."
        },
        "error": {
          "description": "Output only. Error encountered during export.",
          "readOnly": true,
          "$ref": "Status"
        }
      },
      "description": "Contains the result of the assets export."
    },
    "ListPreferenceSetsResponse": {
      "id": "ListPreferenceSetsResponse",
      "description": "Response message for listing preference sets.",
      "type": "object",
      "properties": {
        "preferenceSets": {
          "items": {
            "$ref": "PreferenceSet"
          },
          "type": "array",
          "description": "The list of PreferenceSets"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "DiskEntry": {
      "type": "object",
      "id": "DiskEntry",
      "properties": {
        "partitions": {
          "description": "Partition layout.",
          "$ref": "DiskPartitionList"
        },
        "diskLabel": {
          "description": "Disk label.",
          "type": "string"
        },
        "capacityBytes": {
          "type": "string",
          "format": "int64",
          "description": "Disk capacity."
        },
        "diskLabelType": {
          "type": "string",
          "description": "Disk label type (e.g. BIOS/GPT)"
        },
        "totalFreeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Disk free space."
        },
        "status": {
          "description": "Disk status (e.g. online).",
          "type": "string"
        },
        "hwAddress": {
          "description": "Disk hardware address (e.g. 0:1 for SCSI).",
          "type": "string"
        },
        "interfaceType": {
          "type": "string",
          "description": "Disks interface type (e.g. SATA/SCSI)"
        },
        "totalCapacityBytes": {
          "description": "Disk capacity.",
          "format": "int64",
          "type": "string"
        },
        "freeSpaceBytes": {
          "description": "Disk free space.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Single disk entry."
    },
    "OperatingSystemPricingPreferencesOperatingSystemPricing": {
      "type": "object",
      "properties": {
        "licenseType": {
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ],
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the license."
          ],
          "description": "Optional. License type for premium images (RHEL, RHEL for SAP, SLES, SLES for SAP, Windows Server).",
          "type": "string"
        },
        "commitmentPlan": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1-year committed use discount.",
            "3-year committed use discount."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_ON_DEMAND",
            "COMMITMENT_PLAN_1_YEAR",
            "COMMITMENT_PLAN_3_YEAR"
          ],
          "description": "Optional. The plan of commitments for committed use discounts (CUD)."
        }
      },
      "description": "Pricing options of an OS image.",
      "id": "OperatingSystemPricingPreferencesOperatingSystemPricing"
    },
    "ReportSummarySoleTenantFinding": {
      "id": "ReportSummarySoleTenantFinding",
      "type": "object",
      "description": "A set of findings that applies to assets destined for Sole-Tenant nodes.",
      "properties": {
        "nodeAllocations": {
          "type": "array",
          "items": {
            "$ref": "ReportSummarySoleTenantNodeAllocation"
          },
          "description": "Set of per-nodetype allocation records"
        },
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Count of assets which are allocated",
          "type": "string"
        },
        "allocatedRegions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Set of regions in which the assets are allocated"
        }
      }
    },
    "MemoryUsageSample": {
      "id": "MemoryUsageSample",
      "description": "Memory usage sample.",
      "type": "object",
      "properties": {
        "utilizedPercentage": {
          "format": "float",
          "description": "Percentage of system memory utilized. Must be in the interval [0, 100].",
          "type": "number"
        }
      }
    },
    "AwsElasticNetworkInterfaceDetails": {
      "id": "AwsElasticNetworkInterfaceDetails",
      "type": "object",
      "properties": {},
      "description": "Asset information specific for AWS Elastic Network Interfaces."
    },
    "DatabasePreferences": {
      "id": "DatabasePreferences",
      "properties": {
        "postgresqlToCloudSqlForPostgresqlPreferences": {
          "$ref": "DatabasePreferencesCloudSqlPostgreSql",
          "description": "Optional. Preferences for target PostgreSQL on Cloud SQL when migrating from source PostgreSQL."
        },
        "mysqlToCloudSqlForMysqlPreferences": {
          "$ref": "DatabasePreferencesCloudSqlMySql",
          "description": "Optional. Preferences for target MySQL on Cloud SQL when migrating from source MySQL."
        },
        "mssqlToCloudSqlForSqlServerPreferences": {
          "description": "Optional. Preferences for target SQL Server on Cloud SQL when migrating from source Microsoft SQL server.",
          "$ref": "DatabasePreferencesCloudSqlSqlServer"
        }
      },
      "type": "object",
      "description": "DatabasePreferences enables you to create sets of preferences for your migrated databases."
    },
    "BatchDeleteAssetsRequest": {
      "description": "A request to delete a list of asset.",
      "properties": {
        "cascadingRules": {
          "type": "array",
          "description": "Optional. Optional cascading rules for deleting related assets.",
          "items": {
            "$ref": "CascadingRule"
          }
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`.",
          "type": "boolean"
        },
        "names": {
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "BatchDeleteAssetsRequest"
    },
    "ReportSummaryGroupPreferenceSetFinding": {
      "description": "Summary Findings for a specific Group/PreferenceSet combination.",
      "properties": {
        "monthlyCostNetworkEgress": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. Network Egress monthly cost for this preference set. Only present for virtual machines."
        },
        "preferredRegion": {
          "deprecated": true,
          "description": "Target region for this Preference Set",
          "type": "string"
        },
        "databaseFinding": {
          "readOnly": true,
          "description": "Output only. Details about databases in this finding. Only present for databases.",
          "$ref": "ReportSummaryDatabaseFinding"
        },
        "monthlyCostOther": {
          "readOnly": true,
          "description": "Output only. Miscellaneous monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostOsLicense": {
          "$ref": "Money",
          "readOnly": true,
          "description": "Output only. All operating systems licensing monthly cost for this preference set. Only present for virtual machines."
        },
        "monthlyCostStorage": {
          "$ref": "Money",
          "readOnly": true,
          "description": "Output only. Storage monthly cost for this preference set."
        },
        "monthlyCostTotal": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. Total monthly cost for this preference set."
        },
        "pricingTrack": {
          "description": "Text describing the pricing track specified for this Preference Set",
          "deprecated": true,
          "type": "string"
        },
        "monthlyCostDatabaseBackup": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. Backup monthly cost for this preference set. Only present for databases."
        },
        "displayName": {
          "description": "Display Name of the Preference Set",
          "type": "string"
        },
        "machineFinding": {
          "readOnly": true,
          "$ref": "ReportSummaryMachineFinding",
          "description": "Output only. A set of findings that applies to all virtual machines in the input. Only present for virtual machines."
        },
        "monthlyCostDatabaseLicensing": {
          "description": "Output only. Database licensing monthly cost for this preference set. Only present for databases.",
          "readOnly": true,
          "$ref": "Money"
        },
        "machinePreferences": {
          "$ref": "VirtualMachinePreferences",
          "description": "A set of preferences that applies to all machines in the context."
        },
        "topPriority": {
          "type": "string",
          "description": "Text describing the business priority specified for this Preference Set",
          "deprecated": true
        },
        "monthlyCostGcveProtected": {
          "$ref": "Money",
          "description": "Output only. GCVE Protected nodes cost for this preference set.",
          "readOnly": true
        },
        "soleTenantFinding": {
          "$ref": "ReportSummarySoleTenantFinding",
          "description": "A set of findings that applies to Stole-Tenant machines in the input. Only present for virtual machines."
        },
        "preferenceSet": {
          "description": "Output only. A copy of the preference set used for this finding.",
          "readOnly": true,
          "$ref": "PreferenceSet"
        },
        "description": {
          "description": "Description for the Preference Set.",
          "type": "string"
        },
        "monthlyCostPortableVmwareLicense": {
          "description": "Output only. VMware portable license monthly cost for this preference set. Only present for VMware target with portable license service type. This cost is not paid to google, but is an estimate of license costs paid to VMware.",
          "readOnly": true,
          "$ref": "Money"
        },
        "monthlyCostCompute": {
          "description": "Output only. Compute monthly cost for this preference set.",
          "readOnly": true,
          "$ref": "Money"
        },
        "vmwareEngineFinding": {
          "description": "A set of findings that applies to VMWare machines in the input. Only present for virtual machines.",
          "$ref": "ReportSummaryVMWareEngineFinding"
        }
      },
      "id": "ReportSummaryGroupPreferenceSetFinding",
      "type": "object"
    },
    "NetworkAdapterDetails": {
      "description": "Details of network adapter.",
      "type": "object",
      "properties": {
        "macAddress": {
          "type": "string",
          "description": "MAC address."
        },
        "adapterType": {
          "type": "string",
          "description": "Network adapter type (e.g. VMXNET3)."
        },
        "addresses": {
          "description": "NetworkAddressList",
          "$ref": "NetworkAddressList"
        }
      },
      "id": "NetworkAdapterDetails"
    },
    "ImportError": {
      "id": "ImportError",
      "type": "object",
      "description": "A resource that reports the errors encountered while processing an import job.",
      "properties": {
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "The severity of the error.",
          "type": "string"
        },
        "errorDetails": {
          "description": "The error information.",
          "type": "string"
        }
      }
    },
    "PreferenceSet": {
      "type": "object",
      "description": "The preferences that apply to all assets in a given context.",
      "id": "PreferenceSet",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the preference set."
        },
        "regionPreferences": {
          "$ref": "RegionPreferences",
          "description": "Optional. Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If unspecified, VirtualMachinePreferences.RegionPreferences is used."
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the PreferenceSet.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp when the preference set was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the preference set was last updated.",
          "type": "string"
        },
        "databasePreferences": {
          "description": "Optional. A set of preferences that applies to all databases in the context.",
          "$ref": "DatabasePreferences"
        },
        "virtualMachinePreferences": {
          "description": "A set of preferences that applies to all virtual machines in the context.",
          "$ref": "VirtualMachinePreferences"
        }
      }
    },
    "AggregationResultSum": {
      "description": "The result of a sum aggregation.",
      "type": "object",
      "id": "AggregationResultSum",
      "properties": {
        "value": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "AddAssetsToGroupRequest": {
      "id": "AddAssetsToGroupRequest",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "allowExisting": {
          "type": "boolean",
          "description": "Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`."
        },
        "assets": {
          "description": "Required. List of assets to be added. The maximum number of assets that can be added in a single request is 2000.",
          "$ref": "AssetList"
        }
      },
      "type": "object",
      "description": "A request to add assets to a group."
    },
    "ImportRowError": {
      "type": "object",
      "description": "A resource that reports the import job errors at row level.",
      "properties": {
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        },
        "vmName": {
          "description": "The name of the VM in the row.",
          "type": "string"
        },
        "vmUuid": {
          "description": "The VM UUID.",
          "type": "string"
        },
        "assetTitle": {
          "description": "The asset title.",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ImportError"
          },
          "description": "The list of errors detected in the row."
        },
        "xlsxError": {
          "$ref": "ImportRowErrorXlsxErrorDetails",
          "description": "Error details for an XLSX file."
        },
        "archiveError": {
          "description": "Error details for an archive file.",
          "$ref": "ImportRowErrorArchiveErrorDetails"
        },
        "rowNumber": {
          "deprecated": true,
          "type": "integer",
          "format": "int32",
          "description": "The row number where the error was detected."
        }
      },
      "id": "ImportRowError"
    },
    "ReportSummaryUtilizationChartData": {
      "properties": {
        "used": {
          "description": "Aggregate value which falls into the \"Used\" bucket.",
          "format": "int64",
          "type": "string"
        },
        "free": {
          "type": "string",
          "description": "Aggregate value which falls into the \"Free\" bucket.",
          "format": "int64"
        }
      },
      "id": "ReportSummaryUtilizationChartData",
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets.",
      "type": "object"
    },
    "AggregateAssetsValuesResponse": {
      "properties": {
        "results": {
          "type": "array",
          "description": "The aggregation results.",
          "items": {
            "$ref": "AggregationResult"
          }
        }
      },
      "description": "A response to a request to aggregated assets values.",
      "type": "object",
      "id": "AggregateAssetsValuesResponse"
    },
    "MySqlProperty": {
      "description": "MySql property.",
      "properties": {
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "numericValue": {
          "type": "string",
          "description": "Required. The property numeric value.",
          "format": "int64"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The property is enabled."
        }
      },
      "id": "MySqlProperty",
      "type": "object"
    },
    "ReportAssetFramesResponse": {
      "description": "A response to a call to `ReportAssetFrame`.",
      "properties": {},
      "type": "object",
      "id": "ReportAssetFramesResponse"
    },
    "AssetsExportJob": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource update time."
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Resource name.",
          "readOnly": true
        },
        "inventory": {
          "$ref": "AssetsExportJobInventory",
          "description": "Export asset inventory details."
        },
        "recentExecutions": {
          "description": "Output only. Recent non expired executions of the job.",
          "type": "array",
          "items": {
            "$ref": "AssetsExportJobExecution"
          },
          "readOnly": true
        },
        "signedUriDestination": {
          "$ref": "SignedUriDestination",
          "description": "Export to Cloud Storage files downloadable using signed URIs."
        },
        "networkDependencies": {
          "$ref": "AssetsExportJobNetworkDependencies",
          "description": "Export data regarding asset network dependencies."
        },
        "labels": {
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "performanceData": {
          "description": "Export asset with performance data.",
          "$ref": "AssetsExportJobPerformanceData"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Resource creation time.",
          "type": "string"
        },
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "condition": {
          "description": "Optional. Conditions for selecting assets to export.",
          "$ref": "AssetsExportJobExportCondition"
        }
      },
      "type": "object",
      "id": "AssetsExportJob",
      "description": "Assets export job message."
    },
    "SqlServerFeature": {
      "properties": {
        "featureName": {
          "description": "Required. The feature name.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. Field enabled is set when a feature is used on the source deployment.",
          "type": "boolean"
        }
      },
      "description": "SQL Server feature details.",
      "id": "SqlServerFeature",
      "type": "object"
    },
    "RunAssetsExportJobRequest": {
      "description": "A request to run an assets export job.",
      "type": "object",
      "id": "RunAssetsExportJobRequest",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "Group": {
      "description": "A resource that represents an asset group. The purpose of an asset group is to bundle a set of assets that have something in common, while allowing users to add annotations to the group. An asset can belong to multiple groups.",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels as key value pairs."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the group."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the group was created."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the group was last updated.",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. User-friendly display name.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the group."
        }
      },
      "id": "Group"
    },
    "AwsS3BucketDetailsObjectsMetadataTotalObjects": {
      "description": "Information about the total number of objects in the bucket.",
      "id": "AwsS3BucketDetailsObjectsMetadataTotalObjects",
      "properties": {
        "value": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The total number of objects in the bucket."
        }
      },
      "type": "object"
    },
    "HostsEntryList": {
      "description": "Hosts content.",
      "properties": {
        "entries": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "HostsEntry"
          },
          "description": "Output only. Hosts entries."
        }
      },
      "id": "HostsEntryList",
      "type": "object"
    },
    "InsightList": {
      "id": "InsightList",
      "type": "object",
      "description": "Message containing insights list.",
      "properties": {
        "insights": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Insights of the list.",
          "items": {
            "$ref": "Insight"
          }
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Update timestamp.",
          "format": "google-datetime"
        }
      }
    },
    "AwsS3BucketDetailsStorageClass": {
      "id": "AwsS3BucketDetailsStorageClass",
      "description": "Details about storage class.",
      "properties": {
        "totalBytes": {
          "type": "string",
          "description": "Optional. The total size of the storage class in bytes.",
          "format": "int64"
        },
        "type": {
          "description": "Required. Type of the storage class.",
          "enum": [
            "STORAGE_CLASS_TYPE_UNSPECIFIED",
            "STANDARD",
            "INTELLIGENT_TIERING",
            "STANDARD_IA",
            "ONE_ZONE_IA",
            "GLACIER",
            "DEEP_ARCHIVE",
            "GLACIER_IR",
            "REDUCED_REDUNDANCY",
            "EXPRESS_ONEZONE"
          ],
          "enumDescriptions": [
            "Unspecified storage class type.",
            "General Purpose",
            "Represents Intelligent-Tiering's auto-tiering",
            "Standard-Infrequent Access",
            "One Zone-Infrequent Access",
            "S3 Glacier Flexible Retrieval",
            "S3 Glacier Deep Archive",
            "S3 Glacier Instant Retrieval",
            "S3 Reduced Redundancy Storage (Legacy)",
            "S3 Express One Zone"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "SignedUriDestination": {
      "description": "Signed URI destination configuration.",
      "type": "object",
      "properties": {
        "fileFormat": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
            "XLSX file format which used in Excel."
          ],
          "description": "Required. The file format to export.",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        }
      },
      "id": "SignedUriDestination"
    },
    "ComputeEngineSoleTenantMigrationTarget": {
      "properties": {},
      "description": "Compute engine sole tenant migration target.",
      "type": "object",
      "id": "ComputeEngineSoleTenantMigrationTarget"
    },
    "AwsLambdaFunctionDetails": {
      "id": "AwsLambdaFunctionDetails",
      "description": "Asset information specific for AWS Lambda functions.",
      "type": "object",
      "properties": {}
    },
    "RemoveAssetsFromGroupRequest": {
      "properties": {
        "assets": {
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000.",
          "$ref": "AssetList"
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RemoveAssetsFromGroupRequest",
      "type": "object",
      "description": "A request to remove assets from a group."
    },
    "AwsAthenaWorkGroupDetails": {
      "description": "Contains details for an AWS Athena Work Group asset.",
      "properties": {},
      "id": "AwsAthenaWorkGroupDetails",
      "type": "object"
    },
    "ListImportDataFilesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "importDataFiles": {
          "items": {
            "$ref": "ImportDataFile"
          },
          "description": "The list of import data files.",
          "type": "array"
        }
      },
      "description": "Response for listing payload files of an import job.",
      "id": "ListImportDataFilesResponse"
    },
    "AwsEbsVolumeDetails": {
      "id": "AwsEbsVolumeDetails",
      "properties": {},
      "type": "object",
      "description": "Asset information specific for AWS EBS Volumes."
    },
    "VMwareEngineMachinePreferences": {
      "type": "object",
      "properties": {
        "allowedMachineSeries": {
          "type": "array",
          "description": "Optional. VMware Engine on Google Cloud machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "items": {
            "$ref": "MachineSeries"
          }
        },
        "protectedNodes": {
          "type": "string",
          "description": "Optional. Whether to use VMware Engine Protected offering.",
          "enumDescriptions": [
            "Unspecified protected nodes preference.",
            "Use only protected nodes for the selected allowed_machine_series.",
            "Do not use protected nodes."
          ],
          "enum": [
            "PROTECTED_NODES_UNSPECIFIED",
            "PROTECTED_NODES_ENABLED",
            "PROTECTED_NODES_DISABLED"
          ]
        },
        "storageOnlyNodes": {
          "enumDescriptions": [
            "Unspecified storage-only nodes preference.",
            "Use storage-only nodes for selected allowed_machine_series, if available.",
            "Do not use storage-only nodes."
          ],
          "enum": [
            "STORAGE_ONLY_NODES_UNSPECIFIED",
            "STORAGE_ONLY_NODES_ENABLED",
            "STORAGE_ONLY_NODES_DISABLED"
          ],
          "type": "string",
          "description": "Optional. Whether to use storage-only nodes, if those are available."
        }
      },
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations for VMware Engine. Not all machine types are available in all zones and regions.",
      "id": "VMwareEngineMachinePreferences"
    },
    "ListReportsResponse": {
      "description": "Response message for listing Reports.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "reports": {
          "items": {
            "$ref": "Report"
          },
          "description": "The list of Reports.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "ListReportsResponse",
      "type": "object"
    },
    "ReportSummaryDatabaseFinding": {
      "id": "ReportSummaryDatabaseFinding",
      "type": "object",
      "properties": {
        "totalAssets": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Number of database assets in this finding.",
          "format": "int64"
        },
        "allocatedAssetCount": {
          "type": "string",
          "description": "Output only. Number of database assets which were successfully assigned in this finding.",
          "format": "int64",
          "readOnly": true
        }
      },
      "description": "DatabaseFinding contains an aggregate costs and shapes for a single database type."
    },
    "RunReportExportJobRequest": {
      "id": "RunReportExportJobRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "description": "A request to run a report export job."
    },
    "AwsAutoscalingGroupDetails": {
      "properties": {},
      "type": "object",
      "id": "AwsAutoscalingGroupDetails",
      "description": "Asset information specific for AWS Autoscaling Group."
    },
    "DailyResourceUsageAggregationCPU": {
      "type": "object",
      "properties": {
        "utilizationPercentage": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "CPU utilization percentage."
        }
      },
      "description": "Statistical aggregation of CPU usage.",
      "id": "DailyResourceUsageAggregationCPU"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        }
      }
    },
    "DiskPartitionDetails": {
      "properties": {
        "partitions": {
          "$ref": "DiskPartitionList",
          "description": "Optional. List of partitions."
        },
        "totalCapacityBytes": {
          "type": "string",
          "description": "Output only. Total capacity of all partitions.",
          "format": "int64",
          "readOnly": true
        },
        "freeSpaceBytes": {
          "description": "Output only. Total free space of all partitions.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        }
      },
      "description": "Disk partition details.",
      "id": "DiskPartitionDetails",
      "type": "object"
    },
    "AwsDynamoDBTableDetails": {
      "type": "object",
      "properties": {},
      "id": "AwsDynamoDBTableDetails",
      "description": "Details of an AWS DynamoDB table."
    },
    "BiosDetails": {
      "description": "Details about the BIOS.",
      "id": "BiosDetails",
      "properties": {
        "id": {
          "type": "string",
          "description": "BIOS ID."
        },
        "biosManufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        },
        "biosReleaseDate": {
          "type": "string",
          "description": "BIOS release date."
        },
        "manufacturer": {
          "type": "string",
          "description": "BIOS manufacturer."
        },
        "releaseTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "BIOS release date."
        },
        "biosName": {
          "description": "BIOS name.",
          "type": "string"
        },
        "version": {
          "description": "BIOS version.",
          "type": "string"
        },
        "smbiosUuid": {
          "description": "SMBIOS UUID.",
          "type": "string"
        },
        "biosVersion": {
          "description": "BIOS version.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VirtualMachineDiskDetails": {
      "properties": {
        "lsblkJson": {
          "description": "Raw lsblk output in json.",
          "type": "string"
        },
        "hddTotalFreeBytes": {
[...]
