{
  "discoveryVersion": "v1",
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "title": "Migration Center API",
  "schemas": {
    "AzureVmPlatformDetails": {
      "id": "AzureVmPlatformDetails",
      "properties": {
        "machineTypeLabel": {
          "type": "string",
          "description": "Azure platform's machine type label."
        },
        "location": {
          "type": "string",
          "description": "The location of the machine in the Azure format."
        },
        "provisioningState": {
          "description": "Azure platform's provisioning state.",
          "type": "string"
        },
        "hyperthreading": {
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "description": "Whether the machine is hyperthreaded.",
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        }
      },
      "type": "object",
      "description": "Azure VM specific details."
    },
    "Group": {
      "id": "Group",
      "properties": {
        "description": {
          "description": "Optional. The description of the group.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the group was created.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The timestamp when the group was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. User-friendly display name.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the group.",
          "readOnly": true
        }
      },
      "description": "A resource that represents an asset group. The purpose of an asset group is to bundle a set of assets that have something in common, while allowing users to add annotations to the group. An asset can belong to multiple groups.",
      "type": "object"
    },
    "DiskEntryList": {
      "id": "DiskEntryList",
      "description": "VM disks.",
      "properties": {
        "entries": {
          "description": "Disk entries.",
          "type": "array",
          "items": {
            "$ref": "DiskEntry"
          }
        }
      },
      "type": "object"
    },
    "ListGroupsResponse": {
      "description": "A response for listing groups.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "type": "array",
          "description": "The list of Group"
        }
      },
      "type": "object",
      "id": "ListGroupsResponse"
    },
    "MySqlProperty": {
      "type": "object",
      "id": "MySqlProperty",
      "properties": {
        "property": {
          "type": "string",
          "description": "Required. The property name."
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The property is enabled."
        },
        "numericValue": {
          "type": "string",
          "description": "Required. The property numeric value.",
          "format": "int64"
        }
      },
      "description": "MySql property."
    },
    "InlinePayloadInfo": {
      "properties": {
        "format": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "description": "The import job format."
        },
        "payload": {
          "description": "List of payload files.",
          "type": "array",
          "items": {
            "$ref": "PayloadFile"
          }
        }
      },
      "type": "object",
      "description": "A resource that represents the inline import job payload.",
      "id": "InlinePayloadInfo"
    },
    "PerformanceSample": {
      "id": "PerformanceSample",
      "description": "Performance data sample.",
      "properties": {
        "cpu": {
          "$ref": "CpuUsageSample",
          "description": "CPU usage sample."
        },
        "memory": {
          "description": "Memory usage sample.",
          "$ref": "MemoryUsageSample"
        },
        "network": {
          "$ref": "NetworkUsageSample",
          "description": "Network usage sample."
        },
        "disk": {
          "$ref": "DiskUsageSample",
          "description": "Disk usage sample."
        },
        "sampleTime": {
          "description": "Time the sample was collected. If omitted, the frame report time will be used.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "AwsAutoscalingGroupDetails": {
      "type": "object",
      "description": "Asset information specific for AWS Autoscaling Group.",
      "id": "AwsAutoscalingGroupDetails",
      "properties": {}
    },
    "Money": {
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64"
        },
        "nanos": {
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Represents an amount of money with its currency type.",
      "id": "Money"
    },
    "AwsInternetGatewayDetails": {
      "id": "AwsInternetGatewayDetails",
      "type": "object",
      "properties": {},
      "description": "Asset information specific for AWS Internet Gateways."
    },
    "AwsS3BucketDetailsObjectsMetadata": {
      "id": "AwsS3BucketDetailsObjectsMetadata",
      "description": "The metadata of the objects in the bucket.",
      "properties": {
        "totalObjects": {
          "description": "Optional. The total number of objects in the bucket.",
          "$ref": "AwsS3BucketDetailsObjectsMetadataTotalObjects"
        }
      },
      "type": "object"
    },
    "FrameViolationEntry": {
      "properties": {
        "field": {
          "type": "string",
          "description": "The field of the original frame where the violation occurred."
        },
        "violation": {
          "type": "string",
          "description": "A message describing the violation."
        }
      },
      "id": "FrameViolationEntry",
      "description": "A resource that contains a single violation of a reported `AssetFrame` resource.",
      "type": "object"
    },
    "ReportSummaryHistogramChartDataBucket": {
      "type": "object",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "id": "ReportSummaryHistogramChartDataBucket",
      "properties": {
        "lowerBound": {
          "type": "string",
          "format": "int64",
          "description": "Lower bound - inclusive."
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Count of items in the bucket."
        },
        "upperBound": {
          "format": "int64",
          "type": "string",
          "description": "Upper bound - exclusive."
        }
      }
    },
    "ImportError": {
      "type": "object",
      "description": "A resource that reports the errors encountered while processing an import job.",
      "id": "ImportError",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "type": "string",
          "description": "The severity of the error.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "errorDetails": {
          "description": "The error information.",
          "type": "string"
        }
      }
    },
    "SignedUri": {
      "description": "Contains a signed URI.",
      "properties": {
        "file": {
          "description": "Output only. Name of the file the Signed URI references.",
          "type": "string",
          "readOnly": true
        },
        "uri": {
          "description": "Output only. Download URI for the file.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "SignedUri"
    },
    "DatabasePreferences": {
      "description": "DatabasePreferences enables you to create sets of preferences for your migrated databases.",
      "type": "object",
      "properties": {
        "postgresqlToCloudSqlForPostgresqlPreferences": {
          "$ref": "DatabasePreferencesCloudSqlPostgreSql",
          "description": "Optional. Preferences for target PostgreSQL on Cloud SQL when migrating from source PostgreSQL."
        },
        "mssqlToCloudSqlForSqlServerPreferences": {
          "description": "Optional. Preferences for target SQL Server on Cloud SQL when migrating from source Microsoft SQL server.",
          "$ref": "DatabasePreferencesCloudSqlSqlServer"
        },
        "mysqlToCloudSqlForMysqlPreferences": {
          "description": "Optional. Preferences for target MySQL on Cloud SQL when migrating from source MySQL.",
          "$ref": "DatabasePreferencesCloudSqlMySql"
        }
      },
      "id": "DatabasePreferences"
    },
    "OperatingSystemPricingPreferencesOperatingSystemPricing": {
      "description": "Pricing options of an OS image.",
      "properties": {
        "commitmentPlan": {
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1-year committed use discount.",
            "3-year committed use discount."
          ],
          "description": "Optional. The plan of commitments for committed use discounts (CUD).",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_ON_DEMAND",
            "COMMITMENT_PLAN_1_YEAR",
            "COMMITMENT_PLAN_3_YEAR"
          ],
          "type": "string"
        },
        "licenseType": {
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ],
          "description": "Optional. License type for premium images (RHEL, RHEL for SAP, SLES, SLES for SAP, Windows Server).",
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the license."
          ]
        }
      },
      "id": "OperatingSystemPricingPreferencesOperatingSystemPricing",
      "type": "object"
    },
    "GuestRuntimeDetails": {
      "description": "Guest OS runtime information.",
      "properties": {
        "services": {
          "description": "Running background services.",
          "$ref": "RunningServiceList"
        },
        "domain": {
          "type": "string",
          "description": "Domain, e.g. c.stratozone-development.internal."
        },
        "openFileList": {
          "$ref": "OpenFileList",
          "description": "Open files information."
        },
        "lastBootTime": {
          "type": "string",
          "description": "Last time the OS was booted.",
          "format": "google-datetime"
        },
        "processes": {
          "description": "Running processes.",
          "$ref": "RunningProcessList"
        },
        "lastUptime": {
          "description": "Date since last booted (last uptime date).",
          "$ref": "Date"
        },
        "machineName": {
          "type": "string",
          "description": "Machine name."
        },
        "networkInfo": {
          "$ref": "RuntimeNetworkInfo",
          "description": "Runtime network information (connections, ports)."
        },
        "installedApps": {
          "description": "Installed applications information.",
          "$ref": "GuestInstalledApplicationList"
        }
      },
      "id": "GuestRuntimeDetails",
      "type": "object"
    },
    "AwsEksClusterDetails": {
      "type": "object",
      "properties": {},
      "id": "AwsEksClusterDetails",
      "description": "Asset information specific for AWS EKS clusters."
    },
    "AwsAthenaWorkGroupDetails": {
      "type": "object",
      "description": "Contains details for an AWS Athena Work Group asset.",
      "properties": {},
      "id": "AwsAthenaWorkGroupDetails"
    },
    "GCSPayloadInfo": {
      "description": "A resource that represents a payload hosted on Google Cloud Storage.",
      "id": "GCSPayloadInfo",
      "properties": {
        "format": {
          "description": "The import job format.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ]
        },
        "path": {
          "type": "string",
          "description": "The payload path in Google Cloud Storage."
        }
      },
      "type": "object"
    },
    "TimeZone": {
      "id": "TimeZone",
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "BiosDetails": {
      "type": "object",
      "id": "BiosDetails",
      "description": "Details about the BIOS.",
      "properties": {
        "biosVersion": {
          "description": "BIOS version.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "BIOS version."
        },
        "biosManufacturer": {
          "type": "string",
          "description": "BIOS manufacturer."
        },
        "biosName": {
          "type": "string",
          "description": "BIOS name."
        },
        "releaseTime": {
          "format": "google-datetime",
          "description": "BIOS release date.",
          "type": "string"
        },
        "id": {
          "description": "BIOS ID.",
          "type": "string"
        },
        "manufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        },
        "biosReleaseDate": {
          "type": "string",
          "description": "BIOS release date."
        },
        "smbiosUuid": {
          "type": "string",
          "description": "SMBIOS UUID."
        }
      }
    },
    "CascadingRule": {
      "description": "Specifies cascading rules for traversing relations.",
      "id": "CascadingRule",
      "properties": {
        "cascadeLogicalDbs": {
          "description": "Cascading rule for related logical DBs.",
          "$ref": "CascadeLogicalDBsRule"
        }
      },
      "type": "object"
    },
    "DatabaseSchema": {
      "type": "object",
      "description": "Details of a database schema.",
      "id": "DatabaseSchema",
      "properties": {
        "tablesSizeBytes": {
          "format": "int64",
          "description": "The total size of tables in bytes.",
          "type": "string"
        },
        "postgresql": {
          "$ref": "PostgreSqlSchemaDetails",
          "description": "Details of a PostgreSql schema."
        },
        "mysql": {
          "description": "Details of a Mysql schema.",
          "$ref": "MySqlSchemaDetails"
        },
        "schemaName": {
          "type": "string",
          "description": "The name of the schema."
        },
        "sqlServer": {
          "description": "Details of a SqlServer schema.",
          "$ref": "SqlServerSchemaDetails"
        },
        "objects": {
          "items": {
            "$ref": "DatabaseObjects"
          },
          "description": "List of details of objects by category.",
          "type": "array"
        }
      }
    },
    "AddAssetsToGroupRequest": {
      "description": "A request to add assets to a group.",
      "properties": {
        "allowExisting": {
          "type": "boolean",
          "description": "Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`."
        },
        "assets": {
          "$ref": "AssetList",
          "description": "Required. List of assets to be added. The maximum number of assets that can be added in a single request is 2000."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "type": "object",
      "id": "AddAssetsToGroupRequest"
    },
    "HostsEntryList": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "HostsEntry"
          },
          "description": "Output only. Hosts entries."
        }
      },
      "description": "Hosts content.",
      "id": "HostsEntryList"
    },
    "RunningServiceList": {
      "properties": {
        "services": {
          "description": "Running service entries.",
          "type": "array",
          "items": {
            "$ref": "RunningService"
          }
        },
        "entries": {
          "items": {
            "$ref": "RunningService"
          },
          "type": "array",
          "description": "Running service entries."
        }
      },
      "description": "List of running guest OS services.",
      "id": "RunningServiceList",
      "type": "object"
    },
    "MachineNetworkDetails": {
      "type": "object",
      "properties": {
        "defaultGateway": {
          "description": "Default gateway address.",
          "type": "string"
        },
        "networkAdapters": {
          "description": "List of network adapters.",
          "$ref": "NetworkAdapterList"
        },
        "primaryIpAddress": {
          "type": "string",
          "description": "The primary IP address of the machine."
        },
        "primaryMacAddress": {
          "type": "string",
          "description": "MAC address of the machine. This property is used to uniqly identify the machine."
        },
        "publicIpAddress": {
          "type": "string",
          "description": "The public IP address of the machine."
        }
      },
      "id": "MachineNetworkDetails",
      "description": "Details of network adapters and settings."
    },
    "ReportSummaryGroupFinding": {
      "description": "Summary Findings for a specific Group.",
      "properties": {
        "assetAggregateStats": {
          "description": "Summary statistics for all the assets in this group.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "preferenceSetFindings": {
          "type": "array",
          "description": "Findings for each of the PreferenceSets for this group.",
          "items": {
            "$ref": "ReportSummaryGroupPreferenceSetFinding"
          }
        },
        "databaseType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Source asset database type for the group finding. Only present for databases.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "SQL_SERVER",
            "MYSQL",
            "POSTGRES"
          ],
          "enumDescriptions": [
            "Unknown database type.",
            "SQL Server database.",
            "MySQL database.",
            "PostgreSQL database."
          ]
        },
        "description": {
          "type": "string",
          "description": "Description for this group finding."
        },
        "assetType": {
          "enumDescriptions": [
            "Unknown asset type.",
            "Virtual Machine asset type",
            "Database asset type"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Asset type for the group finding.",
          "enum": [
            "ASSET_TYPE_UNSPECIFIED",
            "VIRTUAL_MACHINE",
            "DATABASE"
          ]
        },
        "group": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full name of the group."
        },
        "overlappingAssetCount": {
          "format": "int64",
          "type": "string",
          "description": "This field is deprecated, do not rely on it having a value.",
          "deprecated": true
        },
        "displayName": {
          "description": "Display Name for this group finding.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ReportSummaryGroupFinding"
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "SoleTenancyPreferences": {
      "type": "object",
      "description": "Preferences concerning Sole Tenancy nodes and VMs.",
      "id": "SoleTenancyPreferences",
      "properties": {
        "commitmentPlan": {
          "type": "string",
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR",
            "COMMITMENT_3_YEAR",
            "COMMITMENT_FLEXIBLE_1_YEAR",
            "COMMITMENT_FLEXIBLE_3_YEAR"
          ],
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ]
        },
        "nodeTypes": {
          "type": "array",
          "items": {
            "$ref": "SoleTenantNodeType"
          },
          "description": "A list of sole tenant node types. An empty list means that all possible node types will be considered."
        },
        "cpuOvercommitRatio": {
          "format": "double",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 2.0 inclusive.",
          "type": "number"
        },
        "hostMaintenancePolicy": {
          "type": "string",
          "enum": [
            "HOST_MAINTENANCE_POLICY_UNSPECIFIED",
            "HOST_MAINTENANCE_POLICY_DEFAULT",
            "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE",
            "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          ],
          "enumDescriptions": [
            "Unspecified host maintenance policy.",
            "Default host maintenance policy.",
            "Restart in place host maintenance policy.",
            "Migrate within node group host maintenance policy."
          ],
          "description": "Sole Tenancy nodes maintenance policy."
        },
        "osPricingPreferences": {
          "$ref": "OperatingSystemPricingPreferences",
          "description": "Optional. Pricing options for OS images."
        }
      }
    },
    "ImportRowErrorXlsxErrorDetails": {
      "properties": {
        "rowNumber": {
          "type": "integer",
          "description": "The row number where the error was detected.",
          "format": "int32"
        },
        "sheet": {
          "description": "The name of the sheet where the error was detected.",
          "type": "string"
        }
      },
      "description": "Error details for an XLSX file.",
      "id": "ImportRowErrorXlsxErrorDetails",
      "type": "object"
    },
    "AwsLambdaFunctionDetails": {
      "properties": {},
      "id": "AwsLambdaFunctionDetails",
      "description": "Asset information specific for AWS Lambda functions.",
      "type": "object"
    },
    "ReportExportExecutionResult": {
      "description": "Contains the result of the report export.",
      "type": "object",
      "properties": {
        "error": {
          "readOnly": true,
          "description": "Output only. Error encountered during export.",
          "$ref": "Status"
        },
        "signedUris": {
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "readOnly": true,
          "$ref": "SignedUris"
        },
        "outputFiles": {
          "$ref": "OutputFileList",
          "readOnly": true,
          "description": "Output only. List of output files."
        }
      },
      "id": "ReportExportExecutionResult"
    },
    "AwsEbsVolumeDetails": {
      "description": "Asset information specific for AWS EBS Volumes.",
      "properties": {},
      "id": "AwsEbsVolumeDetails",
      "type": "object"
    },
    "ImportDataFile": {
      "id": "ImportDataFile",
      "properties": {
        "uploadFileInfo": {
          "$ref": "UploadFileInfo",
          "description": "Information about a file that is uploaded to a storage service."
        },
        "name": {
          "description": "Output only. The name of the file.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "description": "Output only. The state of the import data file.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ]
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the file was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "format": {
          "description": "Required. The payload format.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ]
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 256 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A resource that represents a payload file in an import job."
    },
    "ListReportsResponse": {
      "description": "Response message for listing Reports.",
      "type": "object",
      "id": "ListReportsResponse",
      "properties": {
        "reports": {
          "type": "array",
          "items": {
            "$ref": "Report"
          },
          "description": "The list of Reports."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "PhysicalPlatformDetails": {
      "type": "object",
      "properties": {
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        },
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field.",
          "type": "string"
        }
      },
      "id": "PhysicalPlatformDetails",
      "description": "Platform specific details for Physical Machines."
    },
    "DiskPartition": {
      "properties": {
        "mountPoint": {
          "description": "Mount point (Linux/Windows) or drive letter (Windows).",
          "type": "string"
        },
        "uuid": {
          "description": "Partition UUID.",
          "type": "string"
        },
        "freeBytes": {
          "description": "Partition free space.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "Partition type (e.g. BIOS boot)."
        },
        "capacityBytes": {
          "format": "int64",
          "type": "string",
          "description": "Partition capacity."
        },
        "fileSystem": {
          "description": "Partition file system.",
          "type": "string"
        },
        "subPartitions": {
          "$ref": "DiskPartitionList",
          "description": "Sub-partitions."
        }
      },
      "description": "Disk Partition details.",
      "id": "DiskPartition",
      "type": "object"
    },
    "ImportRowError": {
      "type": "object",
      "id": "ImportRowError",
      "properties": {
        "archiveError": {
          "description": "Error details for an archive file.",
          "$ref": "ImportRowErrorArchiveErrorDetails"
        },
        "csvError": {
          "$ref": "ImportRowErrorCsvErrorDetails",
          "description": "Error details for a CSV file."
        },
        "errors": {
          "description": "The list of errors detected in the row.",
          "items": {
            "$ref": "ImportError"
          },
          "type": "array"
        },
        "xlsxError": {
          "description": "Error details for an XLSX file.",
          "$ref": "ImportRowErrorXlsxErrorDetails"
        },
        "vmName": {
          "type": "string",
          "description": "The name of the VM in the row."
        },
        "vmUuid": {
          "description": "The VM UUID.",
          "type": "string"
        },
        "rowNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The row number where the error was detected.",
          "deprecated": true
        },
        "assetTitle": {
          "description": "The asset title.",
          "type": "string"
        }
      },
      "description": "A resource that reports the import job errors at row level."
    },
    "ReportSummaryVMWareEngineFinding": {
      "description": "A set of findings that applies to assets destined for VMWare Engine.",
      "properties": {
        "allocatedAssetCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of assets which are allocated"
        },
        "nodeAllocations": {
          "description": "Set of per-nodetype allocation records",
          "items": {
            "$ref": "ReportSummaryVMWareNodeAllocation"
          },
          "type": "array"
        },
        "allocatedRegions": {
          "description": "Set of regions in which the assets were allocated",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ReportSummaryVMWareEngineFinding"
    },
    "UploadFileInfo": {
      "type": "object",
      "properties": {
        "headers": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. The headers that were used to sign the URL.",
          "readOnly": true
        },
        "signedUri": {
          "description": "Output only. Upload URI for the file.",
          "type": "string",
          "readOnly": true
        },
        "uriExpirationTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Expiration time of the upload URI."
        }
      },
      "id": "UploadFileInfo",
      "description": "A resource that contains a URI to which a data file can be uploaded."
    },
    "ListSourcesResponse": {
      "type": "object",
      "id": "ListSourcesResponse",
      "description": "Response message for listing sources.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "description": "The list of sources.",
          "type": "array"
        }
      }
    },
    "DatabaseInstanceNetwork": {
      "type": "object",
      "id": "DatabaseInstanceNetwork",
      "description": "Network details of a database instance.",
      "properties": {
        "hostNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The instance's host names.",
          "type": "array"
        },
        "primaryMacAddress": {
          "type": "string",
          "description": "Optional. The instance's primary MAC address."
        },
        "ipAddresses": {
          "type": "array",
          "description": "Optional. The instance's IP addresses.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AwsGlueJobDetails": {
      "type": "object",
      "properties": {},
      "description": "Contains details for an AWS Glue Job asset.",
      "id": "AwsGlueJobDetails"
    },
    "CloudSqlForSqlServerShape": {
      "type": "object",
      "id": "CloudSqlForSqlServerShape",
      "description": "Cloud SQL for SQL Server database shape.",
      "properties": {
        "egressGbPerMonth": {
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "smtEnabled": {
          "description": "Output only. Whether simultaneous multithreading is enabled (see https://cloud.google.com/sql/docs/sqlserver/create-instance#smt-create-instance).",
          "type": "boolean",
          "readOnly": true
        },
        "storage": {
          "description": "Output only. Predicted storage shape.",
          "$ref": "ComputeStorageDescriptor",
          "readOnly": true
        },
        "edition": {
          "description": "Output only. Cloud SQL edition.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ]
        },
        "logicalCoreCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of logical cores.",
          "format": "int32"
        },
        "backupStorageGb": {
          "format": "int32",
          "description": "Output only. Predicted backup storage size in GiB.",
          "type": "integer",
          "readOnly": true
        },
        "zoneAvailability": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "description": "Output only. Cloud SQL zone availability."
        },
        "memoryMb": {
          "format": "int32",
          "description": "Output only. Predicted amount of memory in MiB.",
          "type": "integer",
          "readOnly": true
        },
        "version": {
          "enum": [
            "SQL_SERVER_VERSION_UNSPECIFIED",
            "SQL_SERVER_VERSION_2017_EXPRESS",
            "SQL_SERVER_VERSION_2017_WEB",
            "SQL_SERVER_VERSION_2017_STANDARD",
            "SQL_SERVER_VERSION_2017_ENTERPRISE",
            "SQL_SERVER_VERSION_2019_EXPRESS",
            "SQL_SERVER_VERSION_2019_WEB",
            "SQL_SERVER_VERSION_2019_STANDARD",
            "SQL_SERVER_VERSION_2019_ENTERPRISE",
            "SQL_SERVER_VERSION_2022_EXPRESS",
            "SQL_SERVER_VERSION_2022_WEB",
            "SQL_SERVER_VERSION_2022_STANDARD",
            "SQL_SERVER_VERSION_2022_ENTERPRISE"
          ],
          "enumDescriptions": [
            "Unspecified SQL Server version.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Microsoft SQL Server version to be used on the Cloud SQL for SQL server instance."
        }
      }
    },
    "AssetsExportJobExecutionResult": {
      "description": "Contains the result of the assets export.",
      "properties": {
        "outputFiles": {
          "readOnly": true,
          "$ref": "OutputFileList",
          "description": "Output only. List of output files."
        },
        "signedUris": {
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "readOnly": true,
          "$ref": "SignedUris"
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Error encountered during export."
        }
      },
      "type": "object",
      "id": "AssetsExportJobExecutionResult"
    },
    "AggregationResultFrequency": {
      "id": "AggregationResultFrequency",
      "properties": {
        "values": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object",
      "description": "The result of a frequency distribution aggregation."
    },
    "AggregationResultCount": {
      "type": "object",
      "id": "AggregationResultCount",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The result of a count aggregation."
    },
    "CascadeLogicalDBsRule": {
      "type": "object",
      "description": "Cascading rule for related logical DBs.",
      "properties": {},
      "id": "CascadeLogicalDBsRule"
    },
    "VmwareEngineMigrationTarget": {
      "id": "VmwareEngineMigrationTarget",
      "type": "object",
      "properties": {},
      "description": "VMWare engine migration target."
    },
    "AssetsExportJobNetworkDependencies": {
      "description": "Configuration for network dependencies exports.",
      "id": "AssetsExportJobNetworkDependencies",
      "type": "object",
      "properties": {}
    },
    "VirtualMachinePreferences": {
      "properties": {
        "estimatedUsage": {
          "description": "Optional. Estimated usage data for missing usage data. If performance data is available, it overrides this field. If not set, default values will be used for the usage data.",
          "$ref": "EstimatedUsage"
        },
        "vmwareEnginePreferences": {
          "$ref": "VmwareEnginePreferences",
          "description": "Preferences concerning insights and recommendations for Google Cloud VMware Engine."
        },
        "targetProduct": {
          "type": "string",
          "enum": [
            "COMPUTE_MIGRATION_TARGET_PRODUCT_UNSPECIFIED",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_COMPUTE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_VMWARE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_SOLE_TENANCY"
          ],
          "description": "Target product for assets using this preference set. Specify either target product or business goal, but not both.",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Prefer to migrate to Google Cloud Compute Engine.",
            "Prefer to migrate to Google Cloud VMware Engine.",
            "Prefer to migrate to Google Cloud Sole Tenant Nodes."
          ]
        },
        "soleTenancyPreferences": {
          "description": "Preferences concerning Sole Tenant nodes and virtual machines.",
          "$ref": "SoleTenancyPreferences"
        },
        "commitmentPlan": {
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_NONE",
            "COMMITMENT_PLAN_ONE_YEAR",
            "COMMITMENT_PLAN_THREE_YEARS",
            "COMMITMENT_PLAN_FLEXIBLE_ONE_YEAR",
            "COMMITMENT_PLAN_FLEXIBLE_THREE_YEARS"
          ],
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "type": "string",
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with."
        },
        "networkCostParameters": {
          "description": "Optional. Parameters that affect network cost estimations. If not set, default values will be used for the parameters.",
          "$ref": "VirtualMachinePreferencesNetworkCostParameters"
        },
        "regionPreferences": {
          "$ref": "RegionPreferences",
          "description": "Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If PreferenceSet.RegionPreferences is specified, it overrides this field."
        },
        "computeEnginePreferences": {
          "$ref": "ComputeEnginePreferences",
          "description": "Optional. Compute Engine preferences concern insights and recommendations for Compute Engine target."
        },
        "sizingOptimizationCustomParameters": {
          "$ref": "VirtualMachinePreferencesSizingOptimizationCustomParameters",
          "description": "Optional. Custom data to use for sizing optimizations. Relevant when SizingOptimizationStrategy is set to \"custom\"."
        },
        "sizingOptimizationStrategy": {
          "type": "string",
          "enum": [
            "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE",
            "SIZING_OPTIMIZATION_STRATEGY_MODERATE",
            "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE",
            "SIZING_OPTIMIZATION_STRATEGY_CUSTOM"
          ],
          "description": "Sizing optimization strategy specifies the preferred strategy used when extrapolating usage data to calculate insights and recommendations for a virtual machine. If you are unsure which value to set, a moderate sizing optimization strategy is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified (default value).",
            "No optimization applied. Virtual machine sizing matches as closely as possible the machine shape on the source site, not considering any actual performance data.",
            "Virtual machine sizing will match the reported usage and shape, with some slack. This a good value to start with.",
            "Virtual machine sizing will match the reported usage, with little slack. Using this option can help reduce costs.",
            "Virtual machine sizing will be determined by custom parameters. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ]
        }
      },
      "id": "VirtualMachinePreferences",
      "type": "object",
      "description": "VirtualMachinePreferences enables you to create sets of preferences, for example, a geographical location and pricing track, for your migrated virtual machines. The set of preferences influence recommendations for migrating virtual machine assets."
    },
    "GuestConfigDetails": {
      "description": "Guest OS config information.",
      "type": "object",
      "id": "GuestConfigDetails",
      "properties": {
        "fstab": {
          "$ref": "FstabEntryList",
          "description": "Mount list (Linux fstab)."
        },
        "selinux": {
          "$ref": "Selinux",
          "description": "SELinux details."
        },
        "selinuxMode": {
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ],
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ],
          "type": "string",
          "description": "Security-Enhanced Linux (SELinux) mode."
        },
        "hosts": {
          "description": "Output only. Hosts file (/etc/hosts).",
          "$ref": "HostsEntryList",
          "readOnly": true
        },
        "nfsExports": {
          "description": "NFS exports.",
          "$ref": "NfsExportList"
        },
        "issue": {
          "description": "OS issue (typically /etc/issue in Linux).",
          "type": "string"
        }
      }
    },
    "GuestInstalledApplicationList": {
      "id": "GuestInstalledApplicationList",
      "type": "object",
      "description": "Guest installed application list.",
      "properties": {
        "entries": {
          "description": "Application entries.",
          "type": "array",
          "items": {
            "$ref": "GuestInstalledApplication"
          }
        }
      }
    },
    "AggregationHistogram": {
      "id": "AggregationHistogram",
      "type": "object",
      "properties": {
        "lowerBounds": {
          "description": "Lower bounds of buckets. The response will contain `n+1` buckets for `n` bounds. The first bucket will count all assets for which the field value is smaller than the first bound. Subsequent buckets will count assets for which the field value is greater or equal to a lower bound and smaller than the next one. The last bucket will count assets for which the field value is greater or equal to the final lower bound. You can define up to 20 lower bounds.",
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      },
      "description": "Histogram of bucketed assets counts by field value."
    },
    "CloudSqlForPostgreSqlShape": {
      "id": "CloudSqlForPostgreSqlShape",
      "description": "Cloud SQL for PostgreSQL database shape.",
      "properties": {
        "memoryMb": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Predicted amount of memory in MiB."
        },
        "version": {
          "readOnly": true,
          "enum": [
            "POSTGRESQL_VERSION_UNSPECIFIED",
            "POSTGRESQL_VERSION_9_6",
            "POSTGRESQL_VERSION_10",
            "POSTGRESQL_VERSION_11",
            "POSTGRESQL_VERSION_12",
            "POSTGRESQL_VERSION_13",
            "POSTGRESQL_VERSION_14",
            "POSTGRESQL_VERSION_15"
          ],
          "enumDescriptions": [
            "Unspecified PostgreSQL version.",
            "PostgreSQL 9.6.",
            "PostgreSQL 10",
            "PostgreSQL 11",
            "PostgreSQL 12",
            "PostgreSQL 13",
            "PostgreSQL 14",
            "PostgreSQL 15"
          ],
          "type": "string",
          "description": "Output only. PostgreSql version to be used on the Cloud SQL for PostgreSql instance."
        },
        "backupStorageGb": {
          "description": "Output only. Predicted backup storage size in GiB.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "egressGbPerMonth": {
          "format": "int64",
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "readOnly": true,
          "type": "string"
        },
        "storage": {
          "readOnly": true,
          "description": "Output only. Predicted storage shape.",
          "$ref": "ComputeStorageDescriptor"
        },
        "edition": {
          "type": "string",
          "description": "Output only. Cloud SQL edition.",
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "readOnly": true
        },
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "zoneAvailability": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Cloud SQL zone availability.",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ]
        }
      },
      "type": "object"
    },
    "AggregateAssetsValuesRequest": {
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. The aggregation will be performed on assets that match the provided filter."
        },
        "aggregations": {
          "type": "array",
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined.",
          "items": {
            "$ref": "Aggregation"
          }
        },
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        }
      },
      "id": "AggregateAssetsValuesRequest",
      "type": "object",
      "description": "A request to aggregate one or more values."
    },
    "DetectedSoftware": {
      "type": "object",
      "properties": {
        "softwareName": {
          "description": "Output only. Software's name.",
          "readOnly": true,
          "type": "string"
        },
        "softwareFamily": {
          "description": "Output only. Software family of the detected software, e.g. Database, SAP family.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Information about software detected on an asset.",
      "id": "DetectedSoftware"
    },
    "DatabasePreferencesCloudSqlCommonBackup": {
      "id": "DatabasePreferencesCloudSqlCommonBackup",
      "description": "Preferences for database backups.",
      "properties": {
        "backupMode": {
          "enum": [
            "BACKUP_MODE_UNSPECIFIED",
            "BACKUP_MODE_DISABLED",
            "BACKUP_MODE_ENABLED"
          ],
          "enumDescriptions": [
            "An unspecified database backup mode.",
            "Automatic backups disabled, no additional charges for storage.",
            "Automatic backups enabled, there will be additional charges for storage."
          ],
          "type": "string",
          "description": "Optional. Automated backup mode."
        }
      },
      "type": "object"
    },
    "Asset": {
      "type": "object",
      "properties": {
        "awsAthenaWorkGroupDetails": {
          "description": "Output only. Asset information specific for AwsAthenaWorkGroupDetails",
          "readOnly": true,
          "$ref": "AwsAthenaWorkGroupDetails"
        },
        "awsElasticIpAddressDetails": {
          "description": "Output only. Asset information specific for AWS Elastic IP Addresses.",
          "$ref": "AwsElasticIpAddressDetails",
          "readOnly": true
        },
        "awsGlueJobDetails": {
          "$ref": "AwsGlueJobDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AwsGlueJobDetails"
        },
        "awsInternetGatewayDetails": {
          "$ref": "AwsInternetGatewayDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS Internet Gateways."
        },
        "structuredAttributes": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Generic structured asset attributes."
        },
        "awsDynamodbTableDetails": {
          "$ref": "AwsDynamoDBTableDetails",
          "description": "Output only. Asset information specific for AWS DynamoDB tables.",
          "readOnly": true
        },
        "awsEcrRepositoryDetails": {
          "readOnly": true,
          "$ref": "AwsEcrRepositoryDetails",
          "description": "Output only. Asset information specific for AwsEcrRepositoryDetails"
        },
        "databaseDetails": {
          "readOnly": true,
          "$ref": "DatabaseDetails",
          "description": "Output only. Asset information specific for logical databases."
        },
        "awsEcsClusterDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS ECS clusters.",
          "$ref": "AwsEcsClusterDetails"
        },
        "awsElasticNetworkInterfaceDetails": {
          "description": "Output only. Asset information specific for AWS Elastic Network Interfaces.",
          "readOnly": true,
          "$ref": "AwsElasticNetworkInterfaceDetails"
        },
        "awsCloudFrontDistributionDetails": {
          "$ref": "AwsCloudFrontDistributionDetails",
          "description": "Output only. Asset information specific for AWS CloudFront distributions.",
          "readOnly": true
        },
        "awsNatGatewayDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AwsNatGatewayDetails",
          "$ref": "AwsNatGatewayDetails"
        },
        "hideReason": {
          "description": "Optional. An optional reason for marking this asset as hidden.",
          "type": "string"
        },
        "insightList": {
          "$ref": "InsightList",
          "description": "Output only. The list of insights associated with the asset.",
          "readOnly": true
        },
        "awsS3BucketDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS S3 buckets.",
          "$ref": "AwsS3BucketDetails"
        },
        "awsSnsTopicDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS SNS Topics.",
          "$ref": "AwsSnsTopicDetails"
        },
        "awsLambdaFunctionDetails": {
          "readOnly": true,
          "$ref": "AwsLambdaFunctionDetails",
          "description": "Output only. Asset information specific for AWS Lambda functions."
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Generic asset attributes."
        },
        "machineDetails": {
          "$ref": "MachineDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for virtual machines."
        },
        "awsEksClusterDetails": {
          "description": "Output only. Asset information specific for AWS EKS clusters.",
          "readOnly": true,
          "$ref": "AwsEksClusterDetails"
        },
        "awsApiGatewayRestApiDetails": {
          "$ref": "AwsApiGatewayRestApiDetails",
          "description": "Output only. Asset information specific for AWS API Gateway REST APIs.",
          "readOnly": true
        },
        "awsAutoscalingGroupDetails": {
          "description": "Output only. Asset information specific for AwsAutoscalingGroupDetails",
          "$ref": "AwsAutoscalingGroupDetails",
          "readOnly": true
        },
        "databaseDeploymentDetails": {
          "$ref": "DatabaseDeploymentDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for database deployments."
        },
        "sources": {
          "readOnly": true,
          "description": "Output only. The list of sources contributing to the asset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "awsApplicationLoadBalancerDetails": {
          "$ref": "AwsApplicationLoadBalancerDetails",
          "description": "Output only. Asset information specific for AWS Application Load Balancers.",
          "readOnly": true
        },
        "awsFirehoseDetails": {
          "readOnly": true,
          "$ref": "AwsFirehoseDetails",
          "description": "Output only. Asset information specific for AwsFirehoseDetails"
        },
        "title": {
          "type": "string",
          "description": "Output only. Server generated human readable name of the asset.",
          "readOnly": true
        },
        "awsEfsFileSystemDetails": {
          "description": "Output only. Asset information specific for AWS EFS file systems.",
          "readOnly": true,
          "$ref": "AwsEfsFileSystemDetails"
        },
        "awsRedshiftDetails": {
          "readOnly": true,
          "$ref": "AwsRedshiftDetails",
          "description": "Output only. Asset information specific for AWS Redshift"
        },
        "name": {
          "description": "Output only. The full name of the asset.",
          "readOnly": true,
          "type": "string"
        },
        "hideTime": {
          "description": "Output only. The timestamp when the asset was marked as hidden.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "assignedGroups": {
          "description": "Output only. The list of groups that the asset is assigned to.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "awsElbLoadBalancerDetails": {
          "$ref": "AwsElbLoadBalancerDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS Load Balancers."
        },
        "awsBatchComputeEnvironmentDetails": {
          "description": "Output only. Asset information specific for AWS Batch Compute Environments.",
          "$ref": "AwsBatchComputeEnvironmentDetails",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the asset was created.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the asset was last updated."
        },
        "virtualMachineDetails": {
          "$ref": "VirtualMachineDetails",
          "description": "Output only. Asset information specific for virtual machines.",
          "readOnly": true
        },
        "awsVpcDetails": {
          "$ref": "AwsVpcDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS VPCs."
        },
        "awsEbsVolumeDetails": {
          "description": "Output only. Asset information specific for AWS EBS Volumes.",
          "readOnly": true,
          "$ref": "AwsEbsVolumeDetails"
        },
        "performanceData": {
          "$ref": "AssetPerformanceData",
          "description": "Performance data for the asset."
        },
        "hidden": {
          "type": "boolean",
          "description": "Optional. Indicates if the asset is hidden."
        },
        "awsAppSyncGraphqlApiDetails": {
          "$ref": "AwsAppSyncGraphqlApiDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS AppSync GraphQL APIs."
        },
        "hostingProviderDetails": {
          "$ref": "HostingProviderDetails",
          "readOnly": true,
          "description": "Output only. Details about the hosting provider of the asset."
        },
        "awsRoute53HostedZoneDetails": {
          "readOnly": true,
          "$ref": "AwsRoute53HostedZoneDetails",
          "description": "Output only. Asset information specific for AwsRoute53HostedZoneDetails"
        },
        "awsKinesisStreamDetails": {
          "description": "Output only. Asset information specific for AwsKinesisStreamDetails",
          "readOnly": true,
          "$ref": "AwsKinesisStreamDetails"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "awsElasticacheClusterDetails": {
          "description": "Output only. Asset information specific for AWS ElastiCache Clusters.",
          "$ref": "AwsElastiCacheClusterDetails",
          "readOnly": true
        },
        "awsEmrClusterDetails": {
          "description": "Output only. Asset information specific for AwsEmrClusterDetails",
          "readOnly": true,
          "$ref": "AwsEmrClusterDetails"
        }
      },
      "id": "Asset",
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases."
    },
    "AssetList": {
      "description": "Lists the asset IDs of all assets.",
      "type": "object",
      "properties": {
        "assetIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of asset IDs"
        }
      },
      "id": "AssetList"
    },
    "VmwareEnginePreferences": {
      "description": "The user preferences relating to Google Cloud VMware Engine target platform.",
      "id": "VmwareEnginePreferences",
      "properties": {
        "machinePreferences": {
          "description": "Optional. Preferences concerning the machine types to consider on Google Cloud VMware Engine.",
          "$ref": "VMwareEngineMachinePreferences"
        },
        "serviceType": {
          "type": "string",
          "enum": [
            "SERVICE_TYPE_UNSPECIFIED",
            "SERVICE_TYPE_FULLY_LICENSED",
            "SERVICE_TYPE_PORTABLE_LICENSE"
          ],
          "description": "Optional. GCVE service type (fully licensed or portable license).",
          "enumDescriptions": [
            "Same as SERVICE_TYPE_FULLY_LICENSED.",
            "Google provided VCF license.",
            "Bring Your Own License."
          ]
        },
        "storageDeduplicationCompressionRatio": {
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0.",
          "format": "double",
          "type": "number"
        },
        "commitmentPlan": {
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_FLEXIBLE_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_FLEXIBLE_3_YEAR_UPFRONT_PAYMENT"
          ],
          "type": "string",
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment).",
            "3-year flexible commitment (monthly payments). While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible commitment (upfront payment). While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ]
        },
        "licenseDiscountPercentage": {
          "description": "Optional. Discount percentage for the license offered to you by Broadcom. Must be between 0 and 100. Only valid when service_type is set to SERVICE_TYPE_PORTABLE_LICENSE.",
          "type": "number",
          "format": "float"
        },
        "cpuOvercommitRatio": {
          "type": "number",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment.",
          "format": "double"
        },
        "memoryOvercommitRatio": {
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "ListReportExportJobsResponse": {
      "description": "Response message for listing report export jobs.",
      "properties": {
        "reportExportJobs": {
          "readOnly": true,
          "description": "Output only. The list of report export jobs.",
          "type": "array",
          "items": {
            "$ref": "ReportExportJob"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token identifying a page of results the server should return.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ListReportExportJobsResponse"
    },
    "NetworkAdapterList": {
      "type": "object",
      "id": "NetworkAdapterList",
      "description": "List of network adapters.",
      "properties": {
        "networkAdapters": {
          "description": "Network adapter descriptions.",
          "type": "array",
          "items": {
            "$ref": "NetworkAdapterDetails"
          }
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "NetworkAdapterDetails"
          },
          "description": "Network adapter entries."
        }
      }
    },
    "XlsxOutputFile": {
      "id": "XlsxOutputFile",
      "properties": {
        "signedUri": {
          "$ref": "SignedUri",
          "description": "Output only. Signed URI destination.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Contains a single output file of type XLSX."
    },
    "ComputeEnginePreferences": {
      "type": "object",
      "id": "ComputeEnginePreferences",
      "description": "The user preferences relating to Compute Engine target platform.",
      "properties": {
        "multithreading": {
          "description": "Optional. Preferences for multithreading support on Windows Server.",
          "enum": [
            "MULTITHREADING_UNSPECIFIED",
            "MULTITHREADING_DISABLED",
            "MULTITHREADING_ENABLED",
            "MULTITHREADING_DISABLED_WITH_COMPENSATION"
          ],
          "enumDescriptions": [
            "Same as MULTITHREADING_AUTO.",
            "Disable simultaneous multithreading.",
            "Enable simultaneous multithreading.",
            "Disable simultaneous multithreading and increase number of VCPUs to compensate."
          ],
          "type": "string"
        },
        "osPricingPreferences": {
          "description": "Optional. Pricing options for OS images.",
          "$ref": "OperatingSystemPricingPreferences"
        },
        "persistentDiskType": {
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "type": "string",
          "description": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data."
        },
        "machinePreferences": {
          "description": "Preferences concerning the machine types to consider on Compute Engine.",
          "$ref": "MachinePreferences"
        },
        "licenseType": {
          "type": "string",
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ],
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the license."
          ],
          "description": "License type to consider when calculating costs for operating systems. If unspecified, costs are calculated based on the default licensing plan. If os_pricing_preferences is specified, it overrides this field."
        }
      }
    },
    "ReportExportExecution": {
      "description": "Execution status of report export operation.",
      "properties": {
        "progressPercentage": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Represents the progress of the execution. It reaches 100 when the execution is successfully completed. When the execution finishes with a failure, the progress is set to 0.",
          "type": "integer"
        },
        "result": {
          "readOnly": true,
          "$ref": "ReportExportExecutionResult",
          "description": "Output only. Result of the export execution."
        },
        "startTime": {
          "description": "Output only. Execution start timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Expiration time for the export and artifacts."
        },
        "executionId": {
          "readOnly": true,
          "description": "Output only. Globally unique identifier of the execution.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Completion time of the export.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ReportExportExecution"
    },
    "PostgreSqlProperty": {
      "id": "PostgreSqlProperty",
      "description": "PostgreSql property.",
      "properties": {
        "numericValue": {
          "description": "Required. The property numeric value.",
          "format": "int64",
          "type": "string"
        },
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ReportSummaryHistogramChartData": {
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket.",
      "properties": {
        "buckets": {
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          }
        }
      },
      "id": "ReportSummaryHistogramChartData",
      "type": "object"
    },
    "SignedUris": {
      "properties": {
        "signedUris": {
          "items": {
            "$ref": "SignedUri"
          },
          "description": "Output only. List of signed URIs.",
          "type": "array",
          "readOnly": true
        }
      },
      "id": "SignedUris",
      "type": "object",
      "description": "Contains a list of Signed URIs."
    },
    "AwsElbLoadBalancerDetails": {
      "id": "AwsElbLoadBalancerDetails",
      "type": "object",
      "description": "Asset information specific for AWS Load Balancers.",
      "properties": {}
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "ReportExportJob": {
      "description": "Report export job message.",
      "properties": {
        "name": {
          "description": "Output only. Identifier. Resource name.",
          "type": "string",
          "readOnly": true
        },
        "recentExecutions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Recent not expired executions of the export report job.",
          "items": {
            "$ref": "ReportExportExecution"
          }
        },
        "signedUriDestination": {
          "description": "Export with a SignedUri.",
          "$ref": "SignedUriDestination"
        }
      },
      "id": "ReportExportJob",
      "type": "object"
    },
    "ReportSummaryChartData": {
      "id": "ReportSummaryChartData",
      "type": "object",
      "description": "Describes a collection of data points rendered as a Chart.",
      "properties": {
        "dataPoints": {
          "type": "array",
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          },
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value."
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "AggregationResultHistogramBucket": {
      "id": "AggregationResultHistogramBucket",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "type": "object",
      "properties": {
        "upperBound": {
          "format": "double",
          "description": "Upper bound - exclusive.",
          "type": "number"
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Count of items in the bucket."
        },
        "lowerBound": {
          "type": "number",
          "format": "double",
          "description": "Lower bound - inclusive."
        }
      }
    },
    "RuntimeNetworkInfo": {
      "id": "RuntimeNetworkInfo",
      "type": "object",
      "description": "Runtime networking information.",
      "properties": {
        "scanTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time of the last network scan."
        },
        "rawScanResult": {
          "description": "Raw network scan result. This field is intended for human inspection. The format of this field may be netstat output or any another raw output. The exact format may change without notice and should not be relied upon.",
          "type": "string"
        },
        "netstat": {
          "type": "string",
          "description": "Netstat (raw, OS-agnostic)."
        },
        "connections": {
          "description": "Network connections.",
          "$ref": "NetworkConnectionList"
        },
        "netstatTime": {
          "$ref": "DateTime",
          "description": "Netstat time collected."
        }
      }
    },
    "MachinePreferences": {
      "type": "object",
      "properties": {
        "allowedMachineSeries": {
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "items": {
            "$ref": "MachineSeries"
          },
          "type": "array"
        }
      },
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations for Compute Engine. Not all machine types are available in all zones and regions.",
      "id": "MachinePreferences"
    },
    "ListErrorFramesResponse": {
      "description": "A response for listing error frames.",
      "id": "ListErrorFramesResponse",
      "type": "object",
      "properties": {
        "errorFrames": {
          "type": "array",
          "description": "The list of error frames.",
          "items": {
            "$ref": "ErrorFrame"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "AwsDynamoDBTableDetails": {
      "type": "object",
      "properties": {},
      "description": "Details of an AWS DynamoDB table.",
      "id": "AwsDynamoDBTableDetails"
    },
    "ReportSummaryVMWareNode": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes"
        }
      },
      "description": "A VMWare Engine Node",
      "id": "ReportSummaryVMWareNode"
    },
    "AwsKinesisStreamDetails": {
      "description": "Contains details for an AWS Kinesis Stream asset.",
      "properties": {},
      "type": "object",
      "id": "AwsKinesisStreamDetails"
    },
    "SqlServerDatabaseDeployment": {
      "id": "SqlServerDatabaseDeployment",
      "description": "Specific details for a Microsoft SQL Server database deployment.",
      "type": "object",
      "properties": {
        "features": {
          "description": "Optional. List of SQL Server features.",
          "type": "array",
          "items": {
            "$ref": "SqlServerFeature"
          }
        },
        "traceFlags": {
          "items": {
            "$ref": "SqlServerTraceFlag"
          },
          "type": "array",
          "description": "Optional. List of SQL Server trace flags."
        },
        "serverFlags": {
          "items": {
            "$ref": "SqlServerServerFlag"
          },
          "type": "array",
          "description": "Optional. List of SQL Server server flags."
        }
      }
    },
    "OutputFileList": {
      "description": "Contains a list of output files.",
      "id": "OutputFileList",
      "properties": {
        "entries": {
          "description": "List of output files.",
          "items": {
            "$ref": "OutputFile"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GuestInstalledApplication": {
      "properties": {
        "time": {
          "description": "Date application was installed.",
          "type": "string"
        },
        "vendor": {
          "description": "Installed application vendor.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Installed application name."
        },
        "licenses": {
          "items": {
            "type": "string"
          },
          "description": "License strings associated with the installed application.",
          "type": "array"
        },
        "installTime": {
          "description": "The time when the application was installed.",
          "format": "google-datetime",
          "type": "string"
        },
        "applicationName": {
          "description": "Installed application name.",
          "type": "string"
        },
        "version": {
          "description": "Installed application version.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Source path."
        }
      },
      "type": "object",
      "id": "GuestInstalledApplication",
      "description": "Guest installed application information."
    },
    "Settings": {
      "id": "Settings",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the resource."
        },
        "preferenceSet": {
          "description": "The preference set used by default for a project.",
          "type": "string"
        },
        "customerConsentForGoogleSalesToAccessMigrationCenter": {
          "description": "Customer consent for Google sales to access their Cloud Migration Center project.",
          "type": "boolean"
        },
        "disableCloudLogging": {
          "type": "boolean",
          "description": "Disable Cloud Logging for the Migration Center API. Users are billed for the logs."
        }
      },
      "description": "Describes the Migration Center settings related to the project."
    },
    "Issue": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Output only. English description of the issue.",
          "readOnly": true
        },
        "compatibilityIssue": {
          "readOnly": true,
          "description": "Output only. Details about a compatibility issue.",
          "$ref": "IssueCompatibilityIssue"
        },
        "issueCode": {
          "description": "Output only. Unique identifier for this issue type.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "An issue associated with a migration.",
      "type": "object",
      "id": "Issue"
    },
    "AwsCloudFrontDistributionDetails": {
      "properties": {},
      "id": "AwsCloudFrontDistributionDetails",
      "type": "object",
      "description": "Details of an AWS CloudFront distribution."
    },
    "PostgreSqlSchemaDetails": {
      "description": "Specific details for a PostgreSql schema.",
      "properties": {
        "foreignTablesCount": {
          "type": "integer",
          "description": "Optional. PostgreSql foreign tables.",
          "format": "int32"
        },
        "postgresqlExtensions": {
          "description": "Optional. PostgreSql extensions.",
          "items": {
            "$ref": "PostgreSqlExtension"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "PostgreSqlSchemaDetails"
    },
    "MemoryUsageSample": {
      "type": "object",
      "description": "Memory usage sample.",
      "properties": {
        "utilizedPercentage": {
          "type": "number",
          "description": "Percentage of system memory utilized. Must be in the interval [0, 100].",
          "format": "float"
        }
      },
      "id": "MemoryUsageSample"
    },
    "AggregationSum": {
      "properties": {},
      "description": "Sum of field values.",
      "id": "AggregationSum",
      "type": "object"
    },
    "RunAssetsExportJobResponse": {
      "id": "RunAssetsExportJobResponse",
      "description": "Response message for running an assets export job.",
      "type": "object",
      "properties": {
        "assetsExportJobExecution": {
          "readOnly": true,
          "description": "Output only. Execution status of the assets export operation.",
          "$ref": "AssetsExportJobExecution"
        }
      }
    },
    "MachineDiskDetails": {
      "type": "object",
      "id": "MachineDiskDetails",
      "description": "Details of machine disks.",
      "properties": {
        "rawScanResult": {
          "type": "string",
          "description": "Raw disk scan result. This field is intended for human inspection. The format of this field may be lsblk output or any another raw output. The exact format may change without notice and should not be relied upon."
        },
        "totalCapacityBytes": {
          "format": "int64",
          "description": "Disk total Capacity.",
          "type": "string"
        },
        "disks": {
          "$ref": "DiskEntryList",
          "description": "List of disks."
        },
        "totalFreeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total disk free space."
        }
      }
    },
    "DatabasePreferencesCloudSqlSqlServer": {
      "id": "DatabasePreferencesCloudSqlSqlServer",
      "type": "object",
      "properties": {
        "versionType": {
          "enum": [
            "VERSION_TYPE_UNSPECIFIED",
            "VERSION_TYPE_AUTO",
            "VERSION_TYPE_EXPRESS",
            "VERSION_TYPE_WEB",
            "VERSION_TYPE_STANDARD",
            "VERSION_TYPE_ENTERPRISE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified SQL Server version type.",
            "Version will be deduced from the source asset.",
            "Version will be one of \"Express\" versions.",
            "Version will be one of \"Web\" versions.",
            "Version will be one of \"Standard\" versions.",
            "Version will be one of \"Enterprise\" versions."
          ],
          "description": "Optional. Edition of Microsoft SQL version that is used on a Cloud SQL for SQL server instance."
        },
        "common": {
[...]
