{
  "id": "migrationcenter:v1alpha1",
  "canonicalName": "Migration Center API",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/migration-center",
  "batchPath": "batch",
  "protocol": "rest",
  "schemas": {
    "AwsApplicationLoadBalancerDetails": {
      "description": "Asset information specific for AWS Application Load Balancers.",
      "id": "AwsApplicationLoadBalancerDetails",
      "type": "object",
      "properties": {}
    },
    "ReportSummaryHistogramChartDataBucket": {
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "id": "ReportSummaryHistogramChartDataBucket",
      "type": "object",
      "properties": {
        "upperBound": {
          "description": "Upper bound - exclusive.",
          "type": "string",
          "format": "int64"
        },
        "lowerBound": {
          "format": "int64",
          "description": "Lower bound - inclusive.",
          "type": "string"
        },
        "count": {
          "type": "string",
          "description": "Count of items in the bucket.",
          "format": "int64"
        }
      }
    },
    "RunningProcess": {
      "id": "RunningProcess",
      "type": "object",
      "properties": {
        "pid": {
          "format": "int64",
          "type": "string",
          "description": "Process ID."
        },
        "user": {
          "type": "string",
          "description": "User running the process."
        },
        "exePath": {
          "description": "Process binary path.",
          "type": "string"
        },
        "cmdline": {
          "type": "string",
          "description": "Process full command line."
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Process extended attributes."
        }
      },
      "description": "Guest OS running process details."
    },
    "Settings": {
      "id": "Settings",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the resource."
        },
        "customerConsentForGoogleSalesToAccessMigrationCenter": {
          "description": "Customer consent for Google sales to access their Cloud Migration Center project.",
          "type": "boolean"
        },
        "preferenceSet": {
          "description": "The preference set used by default for a project.",
          "type": "string"
        },
        "disableCloudLogging": {
          "type": "boolean",
          "description": "Disable Cloud Logging for the Migration Center API. Users are billed for the logs."
        }
      },
      "description": "Describes the Migration Center settings related to the project."
    },
    "ExecutionReport": {
      "id": "ExecutionReport",
      "type": "object",
      "properties": {
        "executionErrors": {
          "$ref": "ValidationReport",
          "description": "Validation errors encountered during the execution of the import job."
        },
        "jobErrors": {
          "type": "array",
          "items": {
            "$ref": "ImportError"
          },
          "description": "List of job-level errors. Deprecated, use the job errors under execution_errors instead.",
          "deprecated": true
        },
        "framesReported": {
          "type": "integer",
          "description": "Total number of asset frames reported for the import job.",
          "format": "int32"
        },
        "totalRowsCount": {
          "type": "integer",
          "description": "Total number of rows in the import job.",
          "format": "int32"
        }
      },
      "description": "A resource that reports result of the import job execution."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "ComputeEngineShapeDescriptor": {
      "description": "Compute Engine target shape descriptor.",
      "id": "ComputeEngineShapeDescriptor",
      "type": "object",
      "properties": {
        "series": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Compute Engine machine series."
        },
        "machineType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Compute Engine machine type."
        },
        "memoryMb": {
          "description": "Output only. Memory in mebibytes.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "smtEnabled": {
          "description": "Output only. Whether simultaneous multithreading is enabled. See https://cloud.google.com/compute/docs/instances/set-threads-per-core.",
          "readOnly": true,
          "type": "boolean"
        },
        "physicalCoreCount": {
          "description": "Output only. Number of physical cores.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "storage": {
          "description": "Output only. Compute Engine storage. Never empty.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ComputeStorageDescriptor"
          }
        }
      }
    },
    "NfsExport": {
      "description": "NFS export.",
      "id": "NfsExport",
      "type": "object",
      "properties": {
        "exportDirectory": {
          "description": "The directory being exported.",
          "type": "string"
        },
        "hosts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The hosts or networks to which the export is being shared."
        }
      }
    },
    "BatchUpdateAssetsRequest": {
      "description": "A request to update a list of assets.",
      "id": "BatchUpdateAssetsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "UpdateAssetRequest"
          },
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch."
        }
      }
    },
    "DailyResourceUsageAggregationCPU": {
      "description": "Statistical aggregation of CPU usage.",
      "id": "DailyResourceUsageAggregationCPU",
      "type": "object",
      "properties": {
        "utilizationPercentage": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "CPU utilization percentage."
        }
      }
    },
    "AwsRds": {
      "description": "Specific details for an AWS RDS database deployment.",
      "id": "AwsRds",
      "type": "object",
      "properties": {}
    },
    "AwsS3BucketDetails": {
      "id": "AwsS3BucketDetails",
      "type": "object",
      "properties": {
        "objectsMetadata": {
          "$ref": "AwsS3BucketDetailsObjectsMetadata",
          "description": "Optional. The metadata of the objects in the bucket."
        },
        "versioning": {
          "$ref": "AwsS3BucketDetailsVersioning",
          "description": "Optional. Versioning configuration of the bucket."
        },
        "storageClasses": {
          "type": "array",
          "items": {
            "$ref": "AwsS3BucketDetailsStorageClass"
          },
          "description": "Optional. The storage classes in the bucket."
        }
      },
      "description": "Asset information specific for AWS S3 buckets."
    },
    "ReportConfig": {
      "id": "ReportConfig",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated.",
          "format": "google-datetime"
        },
        "groupPreferencesetAssignments": {
          "type": "array",
          "items": {
            "$ref": "ReportConfigGroupPreferenceSetAssignment"
          },
          "description": "Required. Collection of combinations of groups and preference sets."
        },
        "name": {
          "description": "Output only. Name of resource.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        }
      },
      "description": "The groups and associated preference sets on which we can generate reports."
    },
    "DatabaseInstance": {
      "description": "Details of a database instance.",
      "id": "DatabaseInstance",
      "type": "object",
      "properties": {
        "network": {
          "$ref": "DatabaseInstanceNetwork",
          "description": "Optional. Networking details."
        },
        "instanceName": {
          "description": "The instance's name.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Primary.",
            "Secondary.",
            "Arbiter."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "ARBITER"
          ],
          "description": "The instance role in the database engine."
        }
      }
    },
    "ListReportExportJobsResponse": {
      "description": "Response message for listing report export jobs.",
      "id": "ListReportExportJobsResponse",
      "type": "object",
      "properties": {
        "reportExportJobs": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ReportExportJob"
          },
          "description": "Output only. The list of report export jobs."
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token identifying a page of results the server should return."
        }
      }
    },
    "PayloadFile": {
      "id": "PayloadFile",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The file name."
        },
        "data": {
          "type": "string",
          "description": "The file data.",
          "format": "byte"
        }
      },
      "description": "Payload file for inline import job payload."
    },
    "ReportSummary": {
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report.",
      "id": "ReportSummary",
      "type": "object",
      "properties": {
        "allAssetsStats": {
          "description": "Aggregate statistics for unique assets across all the groups.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "databaseStats": {
          "description": "Output only. Aggregate statistics for unique database assets across all the groups.",
          "readOnly": true,
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "virtualMachineStats": {
          "readOnly": true,
          "$ref": "ReportSummaryAssetAggregateStats",
          "description": "Output only. Aggregate statistics for unique virtual machine assets across all the groups."
        },
        "groupFindings": {
          "description": "Findings for each Group included in this report.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          }
        }
      }
    },
    "ReportSummaryUtilizationChartData": {
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets.",
      "id": "ReportSummaryUtilizationChartData",
      "type": "object",
      "properties": {
        "used": {
          "format": "int64",
          "type": "string",
          "description": "Aggregate value which falls into the \"Used\" bucket."
        },
        "free": {
          "format": "int64",
          "type": "string",
          "description": "Aggregate value which falls into the \"Free\" bucket."
        }
      }
    },
    "PreferenceSet": {
      "description": "The preferences that apply to all assets in a given context.",
      "id": "PreferenceSet",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the preference set."
        },
        "regionPreferences": {
          "$ref": "RegionPreferences",
          "description": "Optional. Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If unspecified, VirtualMachinePreferences.RegionPreferences is used."
        },
        "name": {
          "description": "Output only. Name of the PreferenceSet.",
          "readOnly": true,
          "type": "string"
        },
        "databasePreferences": {
          "description": "Optional. A set of preferences that applies to all databases in the context.",
          "$ref": "DatabasePreferences"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the preference set was last updated.",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the preference set was created.",
          "format": "google-datetime"
        },
        "virtualMachinePreferences": {
          "description": "A set of preferences that applies to all virtual machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        }
      }
    },
    "VirtualMachineArchitectureDetails": {
      "description": "Details of the VM architecture.",
      "id": "VirtualMachineArchitectureDetails",
      "type": "object",
      "properties": {
        "bios": {
          "$ref": "BiosDetails",
          "description": "BIOS Details."
        },
        "cpuSocketCount": {
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer",
          "format": "int32"
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "cpuThreadCount": {
          "description": "Deprecated: use VirtualMachineDetails.core_count instead. Number of CPU threads allocated to the machine.",
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "cpuManufacturer": {
          "description": "CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "hyperthreading": {
          "type": "string",
          "enumDescriptions": [
            "Unknown (default value).",
            "Hyperthreading is disabled.",
            "Hyperthreading is enabled."
          ],
          "enum": [
            "HYPER_THREADING_UNSPECIFIED",
            "HYPER_THREADING_DISABLED",
            "HYPER_THREADING_ENABLED"
          ],
          "description": "CPU hyperthreading support."
        },
        "vendor": {
          "type": "string",
          "description": "Hardware vendor."
        },
        "firmware": {
          "type": "string",
          "description": "Firmware (BIOS/efi)."
        },
        "cpuArchitecture": {
          "type": "string",
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc."
        }
      }
    },
    "MysqlDatabaseDeployment": {
      "id": "MysqlDatabaseDeployment",
      "type": "object",
      "properties": {
        "plugins": {
          "description": "Optional. List of MySql plugins.",
          "type": "array",
          "items": {
            "$ref": "MySqlPlugin"
          }
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "MySqlProperty"
          },
          "description": "Optional. List of MySql properties."
        },
        "variables": {
          "description": "Optional. List of MySql variables.",
          "type": "array",
          "items": {
            "$ref": "MySqlVariable"
          }
        },
        "resourceGroupsCount": {
          "type": "integer",
          "description": "Optional. Number of resource groups.",
          "format": "int32"
        }
      },
      "description": "Specific details for a Mysql database deployment."
    },
    "SqlServerTraceFlag": {
      "id": "SqlServerTraceFlag",
      "type": "object",
      "properties": {
        "scope": {
          "description": "Required. The trace flag scope.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Off.",
            "Global.",
            "Session."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "OFF",
            "GLOBAL",
            "SESSION"
          ]
        },
        "traceFlagName": {
          "description": "Required. The trace flag name.",
          "type": "string"
        }
      },
      "description": "SQL Server trace flag details."
    },
    "ImportJob": {
      "description": "A resource that represents the background job that imports asset frames.",
      "id": "ImportJob",
      "type": "object",
      "properties": {
        "completeTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the import job was completed.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the import job was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "inlinePayload": {
          "$ref": "InlinePayloadInfo",
          "description": "The payload is included in the request, mainly used for small import jobs."
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "validationReport": {
          "description": "Output only. The report with the validation results of the import job.",
          "readOnly": true,
          "$ref": "ValidationReport"
        },
        "assetSource": {
          "description": "Required. Reference to a source.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The full name of the import job.",
          "readOnly": true,
          "type": "string"
        },
        "executionReport": {
          "description": "Output only. The report with the results of running the import job.",
          "readOnly": true,
          "$ref": "ExecutionReport"
        },
        "state": {
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ],
          "description": "Output only. The state of the import job.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the import job was created.",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "gcsPayload": {
          "deprecated": true,
          "$ref": "GCSPayloadInfo",
          "description": "The payload is in Google Cloud Storage."
        }
      }
    },
    "AwsSnsTopicDetails": {
      "description": "Asset information specific for AWS SNS Topics.",
      "id": "AwsSnsTopicDetails",
      "type": "object",
      "properties": {}
    },
    "ReportConfigGroupPreferenceSetAssignment": {
      "description": "Represents a combination of a group with a preference set.",
      "id": "ReportConfigGroupPreferenceSetAssignment",
      "type": "object",
      "properties": {
        "group": {
          "type": "string",
          "description": "Required. Name of the group."
        },
        "preferenceSet": {
          "type": "string",
          "description": "Required. Name of the Preference Set."
        }
      }
    },
    "AssetFrame": {
      "id": "AssetFrame",
      "type": "object",
      "properties": {
        "awsBatchComputeEnvironmentDetails": {
          "$ref": "AwsBatchComputeEnvironmentDetails",
          "description": "Optional. Asset information specific for AWS Batch Compute Environments."
        },
        "awsApiGatewayRestApiDetails": {
          "$ref": "AwsApiGatewayRestApiDetails",
          "description": "Optional. Asset information specific for AWS API Gateway REST APIs."
        },
        "awsElasticacheClusterDetails": {
          "description": "Optional. Asset information specific for AWS ElastiCache Clusters.",
          "$ref": "AwsElastiCacheClusterDetails"
        },
        "awsEbsVolumeDetails": {
          "description": "Optional. Asset information specific for AWS EBS Volumes.",
          "$ref": "AwsEbsVolumeDetails"
        },
        "virtualMachineDetails": {
          "description": "Asset information specific for virtual machines.",
          "$ref": "VirtualMachineDetails"
        },
        "reportTime": {
          "description": "The time the data was reported.",
          "type": "string",
          "format": "google-datetime"
        },
        "awsGlueJobDetails": {
          "description": "Optional. Asset information specific for AwsGlueJobDetails",
          "$ref": "AwsGlueJobDetails"
        },
        "performanceSamples": {
          "type": "array",
          "items": {
            "$ref": "PerformanceSample"
          },
          "description": "Asset performance data samples. Samples that are from more than 40 days ago or after tomorrow are ignored."
        },
        "awsSnsTopicDetails": {
          "description": "Optional. Asset information specific for AWS SNS Topics.",
          "$ref": "AwsSnsTopicDetails"
        },
        "awsEksClusterDetails": {
          "$ref": "AwsEksClusterDetails",
          "description": "Asset information specific for AWS EKS clusters."
        },
        "awsElasticIpAddressDetails": {
          "$ref": "AwsElasticIpAddressDetails",
          "description": "Optional. Asset information specific for AWS Elastic IP Addresses."
        },
        "awsAutoscalingGroupDetails": {
          "$ref": "AwsAutoscalingGroupDetails",
          "description": "Optional. Asset information specific for AwsAutoscalingGroupDetails"
        },
        "awsS3BucketDetails": {
          "$ref": "AwsS3BucketDetails",
          "description": "Asset information specific for AWS S3 buckets."
        },
        "awsRoute53HostedZoneDetails": {
          "description": "Asset information specific for AwsRoute53HostedZoneDetails",
          "$ref": "AwsRoute53HostedZoneDetails"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "databaseDeploymentDetails": {
          "description": "Asset information specific for database deployments.",
          "$ref": "DatabaseDeploymentDetails"
        },
        "awsKinesisStreamDetails": {
          "description": "Optional. Asset information specific for AwsKinesisStreamDetails",
          "$ref": "AwsKinesisStreamDetails"
        },
        "awsInternetGatewayDetails": {
          "$ref": "AwsInternetGatewayDetails",
          "description": "Optional. Asset information specific for AWS Internet Gateways."
        },
        "collectionType": {
          "description": "Optional. Frame collection type, if not specified the collection type will be based on the source type of the source the frame was reported on.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ]
        },
        "machineDetails": {
          "description": "Asset information specific for virtual and physical machines.",
          "$ref": "MachineDetails"
        },
        "awsLambdaFunctionDetails": {
          "description": "Asset information specific for AWS Lambda functions.",
          "$ref": "AwsLambdaFunctionDetails"
        },
        "awsElasticNetworkInterfaceDetails": {
          "$ref": "AwsElasticNetworkInterfaceDetails",
          "description": "Optional. Asset information specific for AWS Elastic Network Interfaces."
        },
        "structuredAttributes": {
          "description": "Optional. Generic structured asset attributes.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "traceToken": {
          "description": "Optional. Trace token is optionally provided to assist with debugging and traceability.",
          "type": "string"
        },
        "awsVpcDetails": {
          "$ref": "AwsVpcDetails",
          "description": "Asset information specific for AWS VPCs."
        },
        "awsDynamodbTableDetails": {
          "$ref": "AwsDynamoDBTableDetails",
          "description": "Asset information specific for AWS DynamoDB tables."
        },
        "awsCloudFrontDistributionDetails": {
          "description": "Asset information specific for AWS CloudFront distributions.",
          "$ref": "AwsCloudFrontDistributionDetails"
        },
        "awsNatGatewayDetails": {
          "$ref": "AwsNatGatewayDetails",
          "description": "Asset information specific for AwsNatGatewayDetails"
        },
        "databaseDetails": {
          "description": "Asset information specific for logical databases.",
          "$ref": "DatabaseDetails"
        },
        "awsEcrRepositoryDetails": {
          "$ref": "AwsEcrRepositoryDetails",
          "description": "Asset information specific for AwsEcrRepositoryDetails"
        },
        "hostingProviderDetails": {
          "$ref": "HostingProviderDetails",
          "description": "Optional. Details about the hosting provider of the asset."
        },
        "awsElbLoadBalancerDetails": {
          "$ref": "AwsElbLoadBalancerDetails",
          "description": "Asset information specific for AWS Load Balancers."
        },
        "awsAthenaWorkGroupDetails": {
          "$ref": "AwsAthenaWorkGroupDetails",
          "description": "Optional. Asset information specific for AwsAthenaWorkGroupDetails"
        },
        "awsFirehoseDetails": {
          "$ref": "AwsFirehoseDetails",
          "description": "Optional. Asset information specific for AwsFirehoseDetails"
        },
        "awsEcsClusterDetails": {
          "$ref": "AwsEcsClusterDetails",
          "description": "Asset information specific for AWS ECS clusters."
        },
        "awsRedshiftDetails": {
          "$ref": "AwsRedshiftDetails",
          "description": "Asset information specific for AWS Redshift clusters."
        },
        "awsEfsFileSystemDetails": {
          "$ref": "AwsEfsFileSystemDetails",
          "description": "Asset information specific for AWS EFS file systems."
        },
        "attributes": {
          "description": "Generic asset attributes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "awsEmrClusterDetails": {
          "$ref": "AwsEmrClusterDetails",
          "description": "Optional. Asset information specific for AwsEmrClusterDetails"
        },
        "awsApplicationLoadBalancerDetails": {
          "$ref": "AwsApplicationLoadBalancerDetails",
          "description": "Optional. Asset information specific for AWS Application Load Balancers."
        },
        "awsAppSyncGraphqlApiDetails": {
          "$ref": "AwsAppSyncGraphqlApiDetails",
          "description": "Optional. Asset information specific for AWS AppSync GraphQL APIs."
        }
      },
      "description": "Contains data reported from an inventory source on an asset."
    },
    "VirtualMachinePreferencesNetworkCostParameters": {
      "description": "Parameters that affect network cost estimations.",
      "id": "VirtualMachinePreferencesNetworkCostParameters",
      "type": "object",
      "properties": {
        "estimatedEgressTrafficPercentage": {
          "description": "Optional. An estimated percentage of priced outbound traffic (egress traffic) from the measured outbound traffic. Must be in the interval [0, 100].",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "NetworkAddressList": {
      "id": "NetworkAddressList",
      "type": "object",
      "properties": {
        "addresses": {
          "description": "Network address entries.",
          "type": "array",
          "items": {
            "$ref": "NetworkAddress"
          }
        },
        "entries": {
          "description": "Network address entries.",
          "type": "array",
          "items": {
            "$ref": "NetworkAddress"
          }
        }
      },
      "description": "List of allocated/assigned network addresses."
    },
    "VmwareEnginePreferences": {
      "id": "VmwareEnginePreferences",
      "type": "object",
      "properties": {
        "serviceType": {
          "description": "Optional. GCVE service type (fully licensed or portable license).",
          "type": "string",
          "enumDescriptions": [
            "Same as SERVICE_TYPE_FULLY_LICENSED.",
            "Google provided VCF license.",
            "Bring Your Own License."
          ],
          "enum": [
            "SERVICE_TYPE_UNSPECIFIED",
            "SERVICE_TYPE_FULLY_LICENSED",
            "SERVICE_TYPE_PORTABLE_LICENSE"
          ]
        },
        "cpuOvercommitRatio": {
          "format": "double",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment.",
          "type": "number"
        },
        "storageDeduplicationCompressionRatio": {
          "type": "number",
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0.",
          "format": "double"
        },
        "machinePreferences": {
          "description": "Optional. Preferences concerning the machine types to consider on Google Cloud VMware Engine.",
          "$ref": "VMwareEngineMachinePreferences"
        },
        "licenseDiscountPercentage": {
          "description": "Optional. Discount percentage for the license offered to you by Broadcom. Must be between 0 and 100. Only valid when service_type is set to SERVICE_TYPE_PORTABLE_LICENSE.",
          "type": "number",
          "format": "float"
        },
        "memoryOvercommitRatio": {
          "format": "double",
          "type": "number",
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0."
        },
        "commitmentPlan": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment).",
            "3-year flexible commitment (monthly payments). While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible commitment (upfront payment). While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_FLEXIBLE_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_FLEXIBLE_3_YEAR_UPFRONT_PAYMENT"
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with."
        }
      },
      "description": "The user preferences relating to Google Cloud VMware Engine target platform."
    },
    "VmwarePlatformDetails": {
      "description": "VMware specific details.",
      "id": "VmwarePlatformDetails",
      "type": "object",
      "properties": {
        "esxVersion": {
          "type": "string",
          "description": "ESX version."
        },
        "osid": {
          "type": "string",
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html."
        },
        "vcenterFolder": {
          "description": "Folder name in vCenter where asset resides.",
          "type": "string"
        },
        "esxHyperthreading": {
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Whether the ESX is hyperthreaded."
        },
        "vcenterVmId": {
          "type": "string",
          "description": "vCenter VM ID."
        },
        "vcenterVersion": {
          "type": "string",
          "description": "vCenter version."
        },
        "vcenterUri": {
          "description": "vCenter URI used in collection.",
          "type": "string"
        }
      }
    },
    "InsightList": {
      "description": "Message containing insights list.",
      "id": "InsightList",
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Update timestamp.",
          "readOnly": true,
          "type": "string"
        },
        "insights": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Insight"
          },
          "description": "Output only. Insights of the list."
        }
      }
    },
    "DatabaseDetails": {
      "description": "Details of a logical database.",
      "id": "DatabaseDetails",
      "type": "object",
      "properties": {
        "allocatedStorageBytes": {
          "format": "int64",
          "description": "The allocated storage for the database in bytes.",
          "type": "string"
        },
        "databaseName": {
          "type": "string",
          "description": "The name of the database."
        },
        "parentDatabaseDeployment": {
          "$ref": "DatabaseDetailsParentDatabaseDeployment",
          "description": "The parent database deployment that contains the logical database."
        },
        "schemas": {
          "description": "The database schemas.",
          "type": "array",
          "items": {
            "$ref": "DatabaseSchema"
          }
        }
      }
    },
    "AwsAppSyncGraphqlApiDetails": {
      "description": "Asset information specific for AWS AppSync GraphQL APIs.",
      "id": "AwsAppSyncGraphqlApiDetails",
      "type": "object",
      "properties": {}
    },
    "ReportExportExecutionResult": {
      "id": "ReportExportExecutionResult",
      "type": "object",
      "properties": {
        "signedUris": {
          "readOnly": true,
          "$ref": "SignedUris",
          "description": "Output only. Signed URLs for downloading export artifacts."
        },
        "error": {
          "description": "Output only. Error encountered during export.",
          "readOnly": true,
          "$ref": "Status"
        },
        "outputFiles": {
          "readOnly": true,
          "$ref": "OutputFileList",
          "description": "Output only. List of output files."
        }
      },
      "description": "Contains the result of the report export."
    },
    "NetworkConnection": {
      "id": "NetworkConnection",
      "type": "object",
      "properties": {
        "protocol": {
          "type": "string",
          "description": "Connection protocol (e.g. TCP/UDP)."
        },
        "remotePort": {
          "description": "Remote port.",
          "type": "integer",
          "format": "int32"
        },
        "pid": {
          "description": "Process ID.",
          "type": "string",
          "format": "int64"
        },
        "localIpAddress": {
          "type": "string",
          "description": "Local IP address."
        },
        "localPort": {
          "type": "integer",
          "description": "Local port.",
          "format": "int32"
        },
        "processName": {
          "type": "string",
          "description": "Process or service name."
        },
        "remoteIpAddress": {
          "type": "string",
          "description": "Remote IP address."
        },
        "state": {
          "description": "Connection state (e.g. CONNECTED).",
          "type": "string"
        }
      }
    },
    "XlsxOutputFile": {
      "id": "XlsxOutputFile",
      "type": "object",
      "properties": {
        "signedUri": {
          "readOnly": true,
          "$ref": "SignedUri",
          "description": "Output only. Signed URI destination."
        }
      },
      "description": "Contains a single output file of type XLSX."
    },
    "AwsLambdaFunctionDetails": {
      "description": "Asset information specific for AWS Lambda functions.",
      "id": "AwsLambdaFunctionDetails",
      "type": "object",
      "properties": {}
    },
    "ListDiscoveryClientsResponse": {
      "description": "Response message for listing discovery clients.",
      "id": "ListDiscoveryClientsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "discoveryClients": {
          "description": "List of discovery clients.",
          "type": "array",
          "items": {
            "$ref": "DiscoveryClient"
          }
        }
      }
    },
    "RuntimeNetworkInfo": {
      "description": "Runtime networking information.",
      "id": "RuntimeNetworkInfo",
      "type": "object",
      "properties": {
        "scanTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time of the last network scan."
        },
        "netstat": {
          "description": "Netstat (raw, OS-agnostic).",
          "type": "string"
        },
        "rawScanResult": {
          "description": "Raw network scan result. This field is intended for human inspection. The format of this field may be netstat output or any another raw output. The exact format may change without notice and should not be relied upon.",
          "type": "string"
        },
        "connections": {
          "description": "Network connections.",
          "$ref": "NetworkConnectionList"
        },
        "netstatTime": {
          "$ref": "DateTime",
          "description": "Netstat time collected."
        }
      }
    },
    "ListImportJobsResponse": {
      "description": "A response for listing import jobs.",
      "id": "ListImportJobsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "importJobs": {
          "description": "The list of import jobs.",
          "type": "array",
          "items": {
            "$ref": "ImportJob"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "GuestInstalledApplication": {
      "description": "Guest installed application information.",
      "id": "GuestInstalledApplication",
      "type": "object",
      "properties": {
        "applicationName": {
          "description": "Installed application name.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Installed application name."
        },
        "installTime": {
          "format": "google-datetime",
          "description": "The time when the application was installed.",
          "type": "string"
        },
        "time": {
          "type": "string",
          "description": "Date application was installed."
        },
        "vendor": {
          "type": "string",
          "description": "Installed application vendor."
        },
        "path": {
          "description": "Source path.",
          "type": "string"
        },
        "licenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "License strings associated with the installed application."
        },
        "version": {
          "type": "string",
          "description": "Installed application version."
        }
      }
    },
    "HostingProviderDetails": {
      "id": "HostingProviderDetails",
      "type": "object",
      "properties": {
        "aws": {
          "description": "Optional. The AWS platform details.",
          "$ref": "HostingProviderDetailsAws"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the asset."
        },
        "location": {
          "$ref": "ResourceLocation",
          "description": "Optional. Location of the asset."
        },
        "createTime": {
          "type": "string",
          "description": "Optional. The timestamp when resource was created in the hosting provider.",
          "format": "google-datetime"
        },
        "originalId": {
          "description": "Optional. Unique identifier for the asset in the hosting provider.",
          "type": "string"
        }
      },
      "description": "Details about the hosting platform of the asset."
    },
    "ReportSummaryChartData": {
      "id": "ReportSummaryChartData",
      "type": "object",
      "properties": {
        "dataPoints": {
          "type": "array",
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          },
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value."
        }
      },
      "description": "Describes a collection of data points rendered as a Chart."
    },
    "AwsEc2PlatformDetails": {
      "description": "AWS EC2 specific details.",
      "id": "AwsEc2PlatformDetails",
      "type": "object",
      "properties": {
        "location": {
          "description": "The location of the machine in the AWS format.",
          "type": "string"
        },
        "machineTypeLabel": {
          "type": "string",
          "description": "AWS platform's machine type label."
        },
        "hyperthreading": {
          "description": "Optional. Whether the machine is hyperthreaded.",
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        }
      }
    },
    "NetworkAddress": {
      "id": "NetworkAddress",
      "type": "object",
      "properties": {
        "bcast": {
          "type": "string",
          "description": "Broadcast address."
        },
        "subnetMask": {
          "description": "Subnet mask.",
          "type": "string"
        },
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name."
        },
        "ipAddress": {
          "description": "Assigned or configured IP Address.",
          "type": "string"
        },
        "assignment": {
          "type": "string",
          "enumDescriptions": [
            "Unknown (default value).",
            "Statically assigned IP.",
            "Dynamically assigned IP (DHCP)."
          ],
          "enum": [
            "ADDRESS_ASSIGNMENT_UNSPECIFIED",
            "ADDRESS_ASSIGNMENT_STATIC",
            "ADDRESS_ASSIGNMENT_DHCP"
          ],
          "description": "Whether DHCP is used to assign addresses."
        }
      },
      "description": "Details of network address."
    },
    "AwsBatchComputeEnvironmentDetails": {
      "description": "Asset information specific for AWS Batch Compute Environments.",
      "id": "AwsBatchComputeEnvironmentDetails",
      "type": "object",
      "properties": {}
    },
    "ReportSummarySoleTenantNodeAllocation": {
      "id": "ReportSummarySoleTenantNodeAllocation",
      "type": "object",
      "properties": {
        "node": {
          "$ref": "SoleTenantNodeType",
          "description": "Sole Tenant node type, e.g. \"m3-node-128-3904\""
        },
        "allocatedAssetCount": {
          "type": "string",
          "description": "Count of assets allocated to these nodes",
          "format": "int64"
        },
        "nodeCount": {
          "type": "string",
          "description": "Count of this node type to be provisioned",
          "format": "int64"
        }
      },
      "description": "Represents the assets allocated to a specific Sole-Tenant node type."
    },
    "Group": {
      "description": "A resource that represents an asset group. The purpose of an asset group is to bundle a set of assets that have something in common, while allowing users to add annotations to the group. An asset can belong to multiple groups.",
      "id": "Group",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The description of the group.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the group.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the group was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-friendly display name."
        },
        "createTime": {
          "description": "Output only. The timestamp when the group was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GuestRuntimeDetails": {
      "description": "Guest OS runtime information.",
      "id": "GuestRuntimeDetails",
      "type": "object",
      "properties": {
        "openFileList": {
          "description": "Open files information.",
          "$ref": "OpenFileList"
        },
        "networkInfo": {
          "$ref": "RuntimeNetworkInfo",
          "description": "Runtime network information (connections, ports)."
        },
        "services": {
          "$ref": "RunningServiceList",
          "description": "Running background services."
        },
        "domain": {
          "type": "string",
          "description": "Domain, e.g. c.stratozone-development.internal."
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "lastUptime": {
          "$ref": "Date",
          "description": "Date since last booted (last uptime date)."
        },
        "lastBootTime": {
          "description": "Last time the OS was booted.",
          "type": "string",
          "format": "google-datetime"
        },
        "processes": {
          "description": "Running processes.",
          "$ref": "RunningProcessList"
        },
        "installedApps": {
          "$ref": "GuestInstalledApplicationList",
          "description": "Installed applications information."
        }
      }
    },
    "GuestConfigDetails": {
      "id": "GuestConfigDetails",
      "type": "object",
      "properties": {
        "issue": {
          "type": "string",
          "description": "OS issue (typically /etc/issue in Linux)."
        },
        "fstab": {
          "$ref": "FstabEntryList",
          "description": "Mount list (Linux fstab)."
        },
        "hosts": {
          "readOnly": true,
          "$ref": "HostsEntryList",
          "description": "Output only. Hosts file (/etc/hosts)."
        },
        "selinux": {
          "description": "SELinux details.",
          "$ref": "Selinux"
        },
        "selinuxMode": {
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "type": "string",
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ],
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ]
        },
        "nfsExports": {
          "$ref": "NfsExportList",
          "description": "NFS exports."
        }
      },
      "description": "Guest OS config information."
    },
    "AwsApiGatewayRestApiDetails": {
      "id": "AwsApiGatewayRestApiDetails",
      "type": "object",
      "properties": {},
      "description": "Asset information specific for AWS API Gateway REST APIs."
    },
    "AwsVpcDetails": {
      "id": "AwsVpcDetails",
      "type": "object",
      "properties": {},
      "description": "Asset information specific for AWS VPCs."
    },
    "AggregationSum": {
      "description": "Sum of field values.",
      "id": "AggregationSum",
      "type": "object",
      "properties": {}
    },
    "ListAssetsExportJobsResponse": {
      "description": "Response message for listing assets export jobs.",
      "id": "ListAssetsExportJobsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return.",
          "readOnly": true,
          "type": "string"
        },
        "assetsExportJobs": {
          "description": "Output only. The list of assets export jobs.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AssetsExportJob"
          }
        }
      }
    },
    "RunReportExportJobResponse": {
      "id": "RunReportExportJobResponse",
      "type": "object",
      "properties": {
        "reportExportExecution": {
          "description": "Output only. Execution status of the export operation.",
          "readOnly": true,
          "$ref": "ReportExportExecution"
        }
      },
      "description": "Response message for running a report export job."
    },
    "ReportSummaryVMWareNodeAllocation": {
      "id": "ReportSummaryVMWareNodeAllocation",
      "type": "object",
      "properties": {
        "nodeCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of this node type to be provisioned"
        },
        "vmwareNode": {
          "description": "VMWare node type, e.g. \"ve1-standard-72\"",
          "$ref": "ReportSummaryVMWareNode"
        },
        "allocatedAssetCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of assets allocated to these nodes"
        }
      },
      "description": "Represents assets allocated to a specific VMWare Node type."
    },
    "OpenFileDetails": {
      "id": "OpenFileDetails",
      "type": "object",
      "properties": {
        "fileType": {
          "description": "Opened file file type.",
          "type": "string"
        },
        "filePath": {
          "type": "string",
          "description": "Opened file file path."
        },
        "command": {
          "type": "string",
          "description": "Opened file command."
        },
        "user": {
          "type": "string",
          "description": "Opened file user."
        }
      },
      "description": "Open file Information."
    },
    "PhysicalPlatformDetails": {
      "id": "PhysicalPlatformDetails",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field."
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        }
      },
      "description": "Platform specific details for Physical Machines."
    },
    "MachineDiskDetails": {
      "id": "MachineDiskDetails",
      "type": "object",
      "properties": {
        "rawScanResult": {
          "type": "string",
          "description": "Raw disk scan result. This field is intended for human inspection. The format of this field may be lsblk output or any another raw output. The exact format may change without notice and should not be relied upon."
        },
        "totalCapacityBytes": {
          "format": "int64",
          "type": "string",
          "description": "Disk total Capacity."
        },
        "totalFreeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Total disk free space."
        },
        "disks": {
          "$ref": "DiskEntryList",
          "description": "List of disks."
        }
      },
      "description": "Details of machine disks."
    },
    "AwsDynamoDBTableDetails": {
      "id": "AwsDynamoDBTableDetails",
      "type": "object",
      "properties": {},
      "description": "Details of an AWS DynamoDB table."
    },
    "Report": {
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "id": "Report",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. Last update timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation timestamp.",
          "format": "google-datetime"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default report type.",
            "Total cost of ownership report type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ],
          "description": "Report type."
        },
        "summary": {
          "readOnly": true,
          "$ref": "ReportSummary",
          "description": "Output only. Summary view of the Report."
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "state": {
          "description": "Report creation state.",
          "type": "string",
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "name": {
          "description": "Output only. Name of resource.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AssetsExportJob": {
      "id": "AssetsExportJob",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Resource update time.",
          "readOnly": true,
          "type": "string"
        },
        "recentExecutions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AssetsExportJobExecution"
          },
          "description": "Output only. Recent non expired executions of the job."
        },
        "signedUriDestination": {
          "$ref": "SignedUriDestination",
          "description": "Export to Cloud Storage files downloadable using signed URIs."
        },
        "performanceData": {
          "$ref": "AssetsExportJobPerformanceData",
          "description": "Export asset with performance data."
        },
        "networkDependencies": {
          "description": "Export data regarding asset network dependencies.",
          "$ref": "AssetsExportJobNetworkDependencies"
        },
        "createTime": {
          "description": "Output only. Resource creation time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "inventory": {
          "description": "Export asset inventory details.",
          "$ref": "AssetsExportJobInventory"
        },
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "condition": {
          "$ref": "AssetsExportJobExportCondition",
          "description": "Optional. Conditions for selecting assets to export."
        },
        "name": {
          "description": "Output only. Identifier. Resource name.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Assets export job message."
    },
    "NetworkConnectionList": {
      "description": "Network connection list.",
      "id": "NetworkConnectionList",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Network connection entries.",
          "type": "array",
          "items": {
            "$ref": "NetworkConnection"
          }
        }
      }
    },
    "MachineArchitectureDetails": {
      "description": "Details of the machine architecture.",
      "id": "MachineArchitectureDetails",
      "type": "object",
      "properties": {
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "cpuSocketCount": {
          "format": "int32",
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer"
        },
        "hyperthreading": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ],
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "CPU hyper-threading support."
        },
        "cpuManufacturer": {
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "bios": {
          "$ref": "BiosDetails",
          "description": "BIOS Details."
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "firmwareType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ],
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ],
          "description": "Firmware type."
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        }
      }
    },
    "SignedUriDestination": {
      "id": "SignedUriDestination",
      "type": "object",
      "properties": {
        "fileFormat": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
            "XLSX file format which used in Excel."
          ],
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "description": "Required. The file format to export."
        }
      },
      "description": "Signed URI destination configuration."
    },
    "ReportExportJob": {
      "id": "ReportExportJob",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. Resource name."
        },
        "signedUriDestination": {
          "$ref": "SignedUriDestination",
          "description": "Export with a SignedUri."
        },
        "recentExecutions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ReportExportExecution"
          },
          "description": "Output only. Recent not expired executions of the export report job."
        }
      },
      "description": "Report export job message."
    },
    "DatabaseSchema": {
      "description": "Details of a database schema.",
      "id": "DatabaseSchema",
      "type": "object",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "DatabaseObjects"
          },
          "description": "List of details of objects by category."
        },
        "mysql": {
          "$ref": "MySqlSchemaDetails",
          "description": "Details of a Mysql schema."
        },
        "postgresql": {
          "$ref": "PostgreSqlSchemaDetails",
          "description": "Details of a PostgreSql schema."
        },
        "schemaName": {
          "description": "The name of the schema.",
          "type": "string"
        },
        "tablesSizeBytes": {
          "type": "string",
          "description": "The total size of tables in bytes.",
          "format": "int64"
        },
        "sqlServer": {
          "description": "Details of a SqlServer schema.",
          "$ref": "SqlServerSchemaDetails"
        }
      }
    },
    "AggregationResult": {
      "description": "Message describing a result of an aggregation.",
      "id": "AggregationResult",
      "type": "object",
      "properties": {
        "count": {
          "$ref": "AggregationResultCount"
        },
        "histogram": {
          "$ref": "AggregationResultHistogram"
        },
        "sum": {
          "$ref": "AggregationResultSum"
        },
        "field": {
          "type": "string"
        },
        "frequency": {
          "$ref": "AggregationResultFrequency"
        }
      }
    },
    "PlatformDetails": {
      "id": "PlatformDetails",
      "type": "object",
      "properties": {
        "vmwareDetails": {
          "description": "VMware specific details.",
          "$ref": "VmwarePlatformDetails"
        },
        "azureVmDetails": {
          "$ref": "AzureVmPlatformDetails",
          "description": "Azure VM specific details."
        },
        "genericDetails": {
          "description": "Generic platform details.",
          "$ref": "GenericPlatformDetails"
        },
        "physicalDetails": {
          "description": "Physical machines platform details.",
          "$ref": "PhysicalPlatformDetails"
        },
        "awsEc2Details": {
          "description": "AWS EC2 specific details.",
          "$ref": "AwsEc2PlatformDetails"
        }
      },
      "description": "Information about the platform."
    },
    "ListReportConfigsResponse": {
      "description": "Response message for listing report configs.",
      "id": "ListReportConfigsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "reportConfigs": {
          "type": "array",
          "items": {
            "$ref": "ReportConfig"
          },
          "description": "A list of report configs."
        }
      }
    },
    "MySqlStorageEngineDetails": {
      "id": "MySqlStorageEngineDetails",
      "type": "object",
      "properties": {
        "engine": {
          "description": "Required. The storage engine.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ]
        },
        "tableCount": {
          "description": "Optional. The number of tables.",
          "type": "integer",
          "format": "int32"
        },
        "encryptedTableCount": {
          "description": "Optional. The number of encrypted tables.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Mysql storage engine tables."
    },
    "CloudSqlForPostgreSqlShape": {
      "id": "CloudSqlForPostgreSqlShape",
      "type": "object",
      "properties": {
        "zoneAvailability": {
          "description": "Output only. Cloud SQL zone availability.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ]
        },
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "storage": {
          "description": "Output only. Predicted storage shape.",
          "readOnly": true,
          "$ref": "ComputeStorageDescriptor"
        },
        "memoryMb": {
          "format": "int32",
          "description": "Output only. Predicted amount of memory in MiB.",
          "readOnly": true,
          "type": "integer"
        },
        "edition": {
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "description": "Output only. Cloud SQL edition."
        },
        "egressGbPerMonth": {
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "version": {
          "enum": [
            "POSTGRESQL_VERSION_UNSPECIFIED",
            "POSTGRESQL_VERSION_9_6",
            "POSTGRESQL_VERSION_10",
            "POSTGRESQL_VERSION_11",
            "POSTGRESQL_VERSION_12",
            "POSTGRESQL_VERSION_13",
            "POSTGRESQL_VERSION_14",
            "POSTGRESQL_VERSION_15"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified PostgreSQL version.",
            "PostgreSQL 9.6.",
            "PostgreSQL 10",
            "PostgreSQL 11",
            "PostgreSQL 12",
            "PostgreSQL 13",
            "PostgreSQL 14",
            "PostgreSQL 15"
          ],
          "description": "Output only. PostgreSql version to be used on the Cloud SQL for PostgreSql instance."
        },
        "backupStorageGb": {
          "format": "int32",
          "description": "Output only. Predicted backup storage size in GiB.",
          "readOnly": true,
          "type": "integer"
        }
      },
      "description": "Cloud SQL for PostgreSQL database shape."
    },
    "AggregationCount": {
      "description": "Object count.",
      "id": "AggregationCount",
      "type": "object",
      "properties": {}
    },
    "ReportSummaryAssetAggregateStatsEstimatedUsageStats": {
      "description": "Estimated usage stats for the assets in this collection.",
      "id": "ReportSummaryAssetAggregateStatsEstimatedUsageStats",
      "type": "object",
      "properties": {
        "totalAssetsUsingEstimatedUsage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of assets that are using at least one estimated usage metric for rightsizing.",
          "format": "int64"
        },
        "totalVirtualMachinesUsingEstimatedUsage": {
          "description": "Output only. The number of virtual machines in this finding that are using at least one estimated usage metric for rightsizing.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      }
    },
    "OutputFile": {
      "description": "Contains a single output file.",
      "id": "OutputFile",
      "type": "object",
      "properties": {
        "xlsxOutputFile": {
          "readOnly": true,
          "$ref": "XlsxOutputFile",
          "description": "Output only. XLSX output file."
        },
        "csvOutputFile": {
          "readOnly": true,
          "$ref": "CsvOutputFile",
          "description": "Output only. CSV output file."
        },
        "fileSizeBytes": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. File size in bytes."
        }
      }
    },
    "ReportSummaryVMWareNode": {
      "id": "ReportSummaryVMWareNode",
      "type": "object",
      "properties": {
        "code": {
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes",
          "type": "string"
        }
      },
      "description": "A VMWare Engine Node"
    },
    "DatabaseDeploymentDetailsAggregatedStats": {
      "description": "Aggregated stats for the database deployment.",
      "id": "DatabaseDeploymentDetailsAggregatedStats",
      "type": "object",
      "properties": {
        "databaseCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of databases in the deployment.",
          "format": "int32"
        }
      }
    },
    "DailyResourceUsageAggregationDisk": {
      "id": "DailyResourceUsageAggregationDisk",
      "type": "object",
      "properties": {
        "iops": {
          "description": "Disk I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "writeIops": {
          "description": "Disk write I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "readIops": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Disk read I/O operations per second."
        }
      },
      "description": "Statistical aggregation of disk usage."
    },
    "ListImportDataFilesResponse": {
      "id": "ListImportDataFilesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "importDataFiles": {
          "type": "array",
          "items": {
            "$ref": "ImportDataFile"
          },
          "description": "The list of import data files."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response for listing payload files of an import job."
    },
    "ImportError": {
      "id": "ImportError",
      "type": "object",
      "properties": {
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "The severity of the error."
        },
        "errorDetails": {
          "description": "The error information.",
          "type": "string"
        }
      },
      "description": "A resource that reports the errors encountered while processing an import job."
    },
    "ErrorFrame": {
      "id": "ErrorFrame",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The identifier of the ErrorFrame.",
          "readOnly": true,
          "type": "string"
        },
        "originalFrame": {
          "readOnly": true,
          "$ref": "AssetFrame",
          "description": "Output only. The frame that was originally reported."
        },
        "violations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "FrameViolationEntry"
          },
          "description": "Output only. All the violations that were detected for the frame."
        },
        "ingestionTime": {
          "format": "google-datetime",
          "description": "Output only. Frame ingestion time.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Message representing a frame which failed to be processed due to an error."
    },
    "SqlServerDatabaseDeployment": {
      "id": "SqlServerDatabaseDeployment",
      "type": "object",
      "properties": {
        "traceFlags": {
          "type": "array",
          "items": {
            "$ref": "SqlServerTraceFlag"
          },
          "description": "Optional. List of SQL Server trace flags."
        },
        "serverFlags": {
          "type": "array",
          "items": {
            "$ref": "SqlServerServerFlag"
          },
          "description": "Optional. List of SQL Server server flags."
        },
        "features": {
          "type": "array",
          "items": {
            "$ref": "SqlServerFeature"
          },
          "description": "Optional. List of SQL Server features."
        }
      },
      "description": "Specific details for a Microsoft SQL Server database deployment."
    },
    "PostgreSqlDatabaseDeployment": {
      "description": "Specific details for a PostgreSQL database deployment.",
      "id": "PostgreSqlDatabaseDeployment",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Optional. List of PostgreSql properties.",
          "type": "array",
          "items": {
            "$ref": "PostgreSqlProperty"
          }
        },
        "settings": {
          "type": "array",
          "items": {
            "$ref": "PostgreSqlSetting"
          },
          "description": "Optional. List of PostgreSql settings."
        }
      }
    },
    "ListRelationsResponse": {
      "id": "ListRelationsResponse",
      "type": "object",
      "properties": {
        "relations": {
          "description": "A list of relations.",
          "type": "array",
          "items": {
            "$ref": "Relation"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Response message for listing relations."
    },
    "AwsAutoscalingGroupDetails": {
      "id": "AwsAutoscalingGroupDetails",
      "type": "object",
      "properties": {},
      "description": "Asset information specific for AWS Autoscaling Group."
    },
    "VirtualMachinePreferencesSizingOptimizationCustomParameters": {
      "id": "VirtualMachinePreferencesSizingOptimizationCustomParameters",
      "type": "object",
      "properties": {
        "aggregationMethod": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified aggregation method. Can be used for default value.",
            "Average of utilization data.",
            "Median of utilization data.",
            "95th percentile of utilization data.",
            "Peak of utilization data."
          ],
          "enum": [
            "AGGREGATION_METHOD_UNSPECIFIED",
            "AGGREGATION_METHOD_AVERAGE",
            "AGGREGATION_METHOD_MEDIAN",
            "AGGREGATION_METHOD_NINETY_FIFTH_PERCENTILE",
            "AGGREGATION_METHOD_PEAK"
          ],
          "description": "Optional. Type of statistical aggregation of a resource utilization data, on which to base the sizing metrics."
        },
        "cpuUsagePercentage": {
          "type": "integer",
          "description": "Optional. Desired percentage of CPU usage. Must be in the interval [1, 100] (or 0 for default value).",
          "format": "int32"
        },
        "storageMultiplier": {
          "type": "number",
          "description": "Optional. Desired increase factor of storage, relative to currently used storage. Must be in the interval [1.0, 2.0] (or 0 for default value).",
          "format": "double"
        },
        "memoryUsagePercentage": {
          "description": "Optional. Desired percentage of memory usage. Must be in the interval [1, 100] (or 0 for default value).",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Custom data to use for sizing optimizations."
    },
    "CloudSqlForSqlServerShape": {
      "description": "Cloud SQL for SQL Server database shape.",
      "id": "CloudSqlForSqlServerShape",
      "type": "object",
      "properties": {
        "smtEnabled": {
          "description": "Output only. Whether simultaneous multithreading is enabled (see https://cloud.google.com/sql/docs/sqlserver/create-instance#smt-create-instance).",
          "readOnly": true,
          "type": "boolean"
        },
        "version": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified SQL Server version.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise."
          ],
          "description": "Output only. Microsoft SQL Server version to be used on the Cloud SQL for SQL server instance.",
          "enum": [
            "SQL_SERVER_VERSION_UNSPECIFIED",
            "SQL_SERVER_VERSION_2017_EXPRESS",
            "SQL_SERVER_VERSION_2017_WEB",
            "SQL_SERVER_VERSION_2017_STANDARD",
            "SQL_SERVER_VERSION_2017_ENTERPRISE",
            "SQL_SERVER_VERSION_2019_EXPRESS",
            "SQL_SERVER_VERSION_2019_WEB",
            "SQL_SERVER_VERSION_2019_STANDARD",
            "SQL_SERVER_VERSION_2019_ENTERPRISE",
            "SQL_SERVER_VERSION_2022_EXPRESS",
            "SQL_SERVER_VERSION_2022_WEB",
            "SQL_SERVER_VERSION_2022_STANDARD",
            "SQL_SERVER_VERSION_2022_ENTERPRISE"
          ]
        },
        "memoryMb": {
          "format": "int32",
          "description": "Output only. Predicted amount of memory in MiB.",
          "readOnly": true,
          "type": "integer"
        },
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "storage": {
          "description": "Output only. Predicted storage shape.",
          "readOnly": true,
          "$ref": "ComputeStorageDescriptor"
        },
        "zoneAvailability": {
          "description": "Output only. Cloud SQL zone availability.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ]
        },
        "backupStorageGb": {
          "description": "Output only. Predicted backup storage size in GiB.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "egressGbPerMonth": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "format": "int64"
        },
        "edition": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "description": "Output only. Cloud SQL edition.",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ]
        }
      }
    },
    "DatabasePreferencesCloudSqlCommon": {
      "id": "DatabasePreferencesCloudSqlCommon",
      "type": "object",
      "properties": {
        "commitmentPlan": {
          "description": "Optional. Commitment plan to consider when calculating costs. Only regular CUDs (not flexible) are currently available.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_NONE",
            "COMMITMENT_PLAN_ONE_YEAR",
            "COMMITMENT_PLAN_THREE_YEARS",
            "COMMITMENT_PLAN_FLEXIBLE_ONE_YEAR",
            "COMMITMENT_PLAN_FLEXIBLE_THREE_YEARS"
          ]
        },
        "zoneAvailability": {
          "description": "Optional. Preferred zone availability.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ]
        },
        "backup": {
          "description": "Optional. Preferences for database backups.",
          "$ref": "DatabasePreferencesCloudSqlCommonBackup"
        },
        "sizingOptimizationStrategy": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "No optimization applied. Virtual machine sizing matches as closely as possible the machine shape on the source site, not considering any actual performance data.",
            "Virtual machine sizing will match the reported usage and shape, with some slack. This a good value to start with.",
            "Virtual machine sizing will match the reported usage, with little slack. Using this option can help reduce costs.",
            "Virtual machine sizing will be determined by custom parameters. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "enum": [
            "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE",
            "SIZING_OPTIMIZATION_STRATEGY_MODERATE",
            "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE",
            "SIZING_OPTIMIZATION_STRATEGY_CUSTOM"
          ],
          "description": "Optional. Sizing optimization strategy of the database. Currently supported for Cloud SQL are just two values: SIZING_OPTIMIZATION_STRATEGY_MODERATE and SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE. SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED will behave like SIZING_OPTIMIZATION_STRATEGY_MODERATE."
        },
        "persistentDiskType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "description": "Optional. Persistent disk type to use. If unspecified, a disk type is recommended based on available usage data. For SQL Server, only SSD is available. For MySQL and PostgreSQL, only STANDARD (HDD) and SSD types are available."
        },
        "edition": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "description": "Optional. Preferred Cloud SQL edition."
        }
      },
      "description": "Preferences common to Cloud SQL databases."
    },
    "Money": {
      "id": "Money",
      "type": "object",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "units": {
          "format": "int64",
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        }
      },
      "description": "Represents an amount of money with its currency type."
    },
    "ComputeStorageDescriptor": {
      "description": "Compute Engine storage option descriptor.",
      "id": "ComputeStorageDescriptor",
      "type": "object",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "description": "Output only. Disk type backing the storage.",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ]
        },
        "sizeGb": {
          "description": "Disk size in GiB.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Relation": {
      "description": "Message representing a relation between 2 resource.",
      "id": "Relation",
      "type": "object",
      "properties": {
        "srcAsset": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The source asset name in the relation."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the relation was created."
        },
        "dstAsset": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The destination asset name in the relation."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "DBDeployment -> Database",
            "A relation between a machine/VM and the database deployment it hosts."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "LOGICAL_DATABASE",
            "DATABASE_DEPLOYMENT_HOSTING_SERVER"
          ],
          "description": "Optional. The type of the relation."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The identifier of the relation."
        }
      }
    },
    "OperatingSystemPricingPreferences": {
      "id": "OperatingSystemPricingPreferences",
      "type": "object",
      "properties": {
        "rhel": {
          "description": "Optional. Pricing options for RHEL images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "sles": {
          "description": "Optional. Pricing options for SLES images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "windows": {
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing",
[...]
