{
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260921",
  "version_module": true,
  "protocol": "rest",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "batchPath": "batch",
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "ownerName": "Google",
  "canonicalName": "Migration Center API",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://migrationcenter.mtls.googleapis.com/",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "id": "migrationcenter:v1",
  "documentationLink": "https://cloud.google.com/migration-center",
  "schemas": {
    "DiskPartition": {
      "type": "object",
      "properties": {
        "mountPoint": {
          "type": "string",
          "description": "Mount point (Linux/Windows) or drive letter (Windows)."
        },
        "subPartitions": {
          "description": "Sub-partitions.",
          "$ref": "DiskPartitionList"
        },
        "freeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Partition free space."
        },
        "capacityBytes": {
          "format": "int64",
          "type": "string",
          "description": "Partition capacity."
        },
        "uuid": {
          "description": "Partition UUID.",
          "type": "string"
        },
        "type": {
          "description": "Partition type.",
          "type": "string"
        },
        "fileSystem": {
          "description": "Partition file system.",
          "type": "string"
        }
      },
      "id": "DiskPartition",
      "description": "Disk Partition details."
    },
    "SoleTenantNodeType": {
      "type": "object",
      "properties": {
        "nodeName": {
          "description": "Name of the Sole Tenant node. Consult https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes",
          "type": "string"
        }
      },
      "description": "A Sole Tenant node type.",
      "id": "SoleTenantNodeType"
    },
    "DatabaseDeploymentDetails": {
      "type": "object",
      "properties": {
        "topology": {
          "description": "Optional. Details of the database deployment topology.",
          "$ref": "DatabaseDeploymentTopology"
        },
        "postgresql": {
          "description": "Optional. Details of a PostgreSQL database deployment.",
          "$ref": "PostgreSqlDatabaseDeployment"
        },
        "generatedId": {
          "description": "Optional. The database deployment generated ID.",
          "type": "string"
        },
        "sqlServer": {
          "description": "Optional. Details of a Microsoft SQL Server database deployment.",
          "$ref": "SqlServerDatabaseDeployment"
        },
        "mysql": {
          "description": "Optional. Details of a MYSQL database deployment.",
          "$ref": "MysqlDatabaseDeployment"
        },
        "manualUniqueId": {
          "description": "Optional. A manual unique ID set by the user.",
          "type": "string"
        },
        "version": {
          "description": "Optional. The database deployment version.",
          "type": "string"
        },
        "aggregatedStats": {
          "description": "Output only. Aggregated stats for the database deployment.",
          "readOnly": true,
          "$ref": "DatabaseDeploymentDetailsAggregatedStats"
        },
        "edition": {
          "type": "string",
          "description": "Optional. The database deployment edition."
        },
        "awsRds": {
          "$ref": "AwsRds",
          "description": "Optional. Details of an AWS RDS instance."
        }
      },
      "description": "The details of a database deployment asset.",
      "id": "DatabaseDeploymentDetails"
    },
    "AggregationSum": {
      "type": "object",
      "id": "AggregationSum",
      "description": "Sum of field values.",
      "properties": {}
    },
    "SignedUris": {
      "id": "SignedUris",
      "type": "object",
      "description": "Contains a list of Signed URIs.",
      "properties": {
        "signedUris": {
          "items": {
            "$ref": "SignedUri"
          },
          "description": "Output only. List of signed URIs.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "DailyResourceUsageAggregationDisk": {
      "id": "DailyResourceUsageAggregationDisk",
      "type": "object",
      "properties": {
        "writeIops": {
          "description": "Optional. Disk write I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "readIops": {
          "description": "Optional. Disk read I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "iops": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Optional. Disk I/O operations per second."
        }
      },
      "description": "Statistical aggregation of disk usage."
    },
    "ComputeEngineShapeDescriptor": {
      "properties": {
        "memoryMb": {
          "type": "integer",
          "format": "int32",
          "description": "Memory in mebibytes."
        },
        "machineType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Compute Engine machine type."
        },
        "storage": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ComputeStorageDescriptor"
          },
          "description": "Output only. Compute Engine storage. Never empty."
        },
        "series": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Compute Engine machine series."
        },
        "physicalCoreCount": {
          "description": "Number of physical cores.",
          "type": "integer",
          "format": "int32"
        },
        "logicalCoreCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of logical cores."
        }
      },
      "description": "Compute Engine target shape descriptor.",
      "type": "object",
      "id": "ComputeEngineShapeDescriptor"
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "reports": {
          "description": "The list of Reports.",
          "items": {
            "$ref": "Report"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for listing Reports.",
      "type": "object"
    },
    "ReportSummaryHistogramChartData": {
      "type": "object",
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket.",
      "id": "ReportSummaryHistogramChartData",
      "properties": {
        "buckets": {
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          },
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "type": "array"
        }
      }
    },
    "ListRelationsResponse": {
      "type": "object",
      "id": "ListRelationsResponse",
      "description": "Response message for listing relations.",
      "properties": {
        "relations": {
          "type": "array",
          "items": {
            "$ref": "Relation"
          },
          "description": "A list of relations."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "DatabaseObjects": {
      "type": "object",
      "id": "DatabaseObjects",
      "description": "Details of a group of database objects.",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The number of objects."
        },
        "category": {
          "enumDescriptions": [
            "Unspecified type.",
            "Table.",
            "Index.",
            "Constraints.",
            "Views.",
            "Source code, e.g. procedures.",
            "Uncategorized objects."
          ],
          "description": "Optional. The category of the objects.",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "TABLE",
            "INDEX",
            "CONSTRAINTS",
            "VIEWS",
            "SOURCE_CODE",
            "OTHER"
          ],
          "type": "string"
        }
      }
    },
    "AggregationResult": {
      "properties": {
        "field": {
          "type": "string"
        },
        "count": {
          "$ref": "AggregationResultCount"
        },
        "frequency": {
          "$ref": "AggregationResultFrequency"
        },
        "sum": {
          "$ref": "AggregationResultSum"
        },
        "histogram": {
          "$ref": "AggregationResultHistogram"
        }
      },
      "description": "Message describing a result of an aggregation.",
      "type": "object",
      "id": "AggregationResult"
    },
    "Operation": {
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    },
    "Group": {
      "id": "Group",
      "type": "object",
      "description": "A resource that represents an asset group. The purpose of an asset group is to bundle a set of assets that have something in common, while allowing users to add annotations to the group. An asset can belong to multiple groups.",
      "properties": {
        "description": {
          "description": "Optional. The description of the group.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the group was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the group was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Output only. The name of the group.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User-friendly display name.",
          "type": "string"
        }
      }
    },
    "ReportSummaryHistogramChartDataBucket": {
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "type": "object",
      "id": "ReportSummaryHistogramChartDataBucket",
      "properties": {
        "upperBound": {
          "format": "int64",
          "description": "Upper bound - exclusive.",
          "type": "string"
        },
        "lowerBound": {
          "description": "Lower bound - inclusive.",
          "format": "int64",
          "type": "string"
        },
        "count": {
          "description": "Count of items in the bucket.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "PostgreSqlProperty": {
      "type": "object",
      "id": "PostgreSqlProperty",
      "description": "PostgreSql property.",
      "properties": {
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        },
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "numericValue": {
          "description": "Required. The property numeric value.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ListGroupsResponse": {
      "description": "A response for listing groups.",
      "id": "ListGroupsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "type": "array",
          "description": "The list of Group"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "VmwareEnginePreferences": {
      "type": "object",
      "properties": {
        "storageDeduplicationCompressionRatio": {
          "format": "double",
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0.",
          "type": "number"
        },
        "cpuOvercommitRatio": {
          "type": "number",
          "format": "double",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment."
        },
        "memoryOvercommitRatio": {
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0.",
          "format": "double",
          "type": "number"
        },
        "commitmentPlan": {
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment)."
          ],
          "type": "string",
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT"
          ]
        }
      },
      "description": "The user preferences relating to Google Cloud VMware Engine target platform.",
      "id": "VmwareEnginePreferences"
    },
    "ReportSummaryVmwareEngineFinding": {
      "id": "ReportSummaryVmwareEngineFinding",
      "type": "object",
      "properties": {
        "allocatedRegions": {
          "type": "array",
          "description": "Set of regions in which the assets were allocated",
          "items": {
            "type": "string"
          }
        },
        "allocatedAssetCount": {
          "description": "Count of assets which are allocated",
          "format": "int64",
          "type": "string"
        },
        "nodeAllocations": {
          "type": "array",
          "description": "Set of per-nodetype allocation records",
          "items": {
            "$ref": "ReportSummaryVmwareNodeAllocation"
          }
        }
      },
      "description": "A set of findings that applies to assets destined for VMWare Engine."
    },
    "DatabaseInstanceNetwork": {
      "type": "object",
      "id": "DatabaseInstanceNetwork",
      "description": "Network details of a database instance.",
      "properties": {
        "primaryMacAddress": {
          "type": "string",
          "description": "Optional. The instance's primary MAC address."
        },
        "hostNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The instance's host names.",
          "type": "array"
        },
        "ipAddresses": {
          "type": "array",
          "description": "Optional. The instance's IP addresses.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SqlServerTraceFlag": {
      "description": "SQL Server trace flag details.",
      "properties": {
        "traceFlagName": {
          "type": "string",
          "description": "Required. The trace flag name."
        },
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "OFF",
            "GLOBAL",
            "SESSION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Off.",
            "Global.",
            "Session."
          ],
          "type": "string",
          "description": "Required. The trace flag scope."
        }
      },
      "id": "SqlServerTraceFlag",
      "type": "object"
    },
    "BiosDetails": {
      "properties": {
        "version": {
          "description": "BIOS version.",
          "type": "string"
        },
        "manufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        },
        "releaseDate": {
          "$ref": "Date",
          "description": "BIOS release date."
        },
        "smbiosUuid": {
          "type": "string",
          "description": "SMBIOS UUID."
        },
        "id": {
          "description": "BIOS ID.",
          "type": "string"
        },
        "biosName": {
          "description": "BIOS name. This fields is deprecated. Please use the `id` field instead.",
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details about the BIOS.",
      "id": "BiosDetails"
    },
    "AggregationResultHistogramBucket": {
      "id": "AggregationResultHistogramBucket",
      "type": "object",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "properties": {
        "upperBound": {
          "type": "number",
          "format": "double",
          "description": "Upper bound - exclusive."
        },
        "count": {
          "type": "string",
          "description": "Count of items in the bucket.",
          "format": "int64"
        },
        "lowerBound": {
          "format": "double",
          "description": "Lower bound - inclusive.",
          "type": "number"
        }
      }
    },
    "PhysicalPlatformDetails": {
      "id": "PhysicalPlatformDetails",
      "properties": {
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Platform specific details for Physical Machines."
    },
    "ReportSummarySoleTenantNodeAllocation": {
      "type": "object",
      "id": "ReportSummarySoleTenantNodeAllocation",
      "properties": {
        "node": {
          "description": "Sole Tenant node type, e.g. \"m3-node-128-3904\"",
          "$ref": "SoleTenantNodeType"
        },
        "nodeCount": {
          "description": "Count of this node type to be provisioned",
          "format": "int64",
          "type": "string"
        },
        "allocatedAssetCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of assets allocated to these nodes"
        }
      },
      "description": "Represents the assets allocated to a specific Sole-Tenant node type."
    },
    "NetworkAddressList": {
      "id": "NetworkAddressList",
      "properties": {
        "entries": {
          "items": {
            "$ref": "NetworkAddress"
          },
          "description": "Network address entries.",
          "type": "array"
        }
      },
      "description": "List of allocated/assigned network addresses.",
      "type": "object"
    },
    "AssetPerformanceData": {
      "properties": {
        "dailyResourceUsageAggregations": {
          "type": "array",
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent.",
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          }
        }
      },
      "id": "AssetPerformanceData",
      "type": "object",
      "description": "Performance data for an asset."
    },
    "MySqlProperty": {
      "id": "MySqlProperty",
      "description": "MySql property.",
      "properties": {
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "numericValue": {
          "type": "string",
          "format": "int64",
          "description": "Required. The property numeric value."
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The property is enabled."
        }
      },
      "type": "object"
    },
    "DiscoveryClient": {
      "type": "object",
      "properties": {
        "ttl": {
          "type": "string",
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field.",
          "format": "google-duration"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. Full name of this discovery client."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key value pairs."
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account used by the discovery client for various operation."
        },
        "errors": {
          "description": "Output only. Errors affecting client functionality.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Status"
          }
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field.",
          "type": "string",
          "format": "google-datetime"
        },
        "heartbeatTime": {
          "format": "google-datetime",
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes).",
          "readOnly": true,
          "type": "string"
        },
        "version": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Client version, as reported in recent heartbeat."
        },
        "createTime": {
          "description": "Output only. Time when the discovery client was first created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "signalsEndpoint": {
          "readOnly": true,
          "description": "Output only. This field is intended for internal use.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Free text display name. Maximum length is 63 characters."
        },
        "source": {
          "description": "Required. Immutable. Full name of the source object associated with this discovery client.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ],
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ],
          "readOnly": true,
          "description": "Output only. Current state of the discovery client."
        },
        "description": {
          "description": "Optional. Free text description. Maximum length is 1000 characters.",
          "type": "string"
        }
      },
      "description": "Represents an installed Migration Center Discovery Client instance.",
      "id": "DiscoveryClient"
    },
    "UpdateAssetRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Required. Field mask is used to specify the fields to be overwritten in the `Asset` resource by the update. The values specified in the `update_mask` field are relative to the resource, not the full request. A field will be overwritten if it is in the mask. A single * value in the mask lets you to overwrite all fields.",
          "format": "google-fieldmask"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "asset": {
          "description": "Required. The resource being updated.",
          "$ref": "Asset"
        }
      },
      "description": "A request to update an asset.",
      "id": "UpdateAssetRequest"
    },
    "RunAssetsExportJobRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "RunAssetsExportJobRequest",
      "description": "A request to run an assets export job.",
      "type": "object"
    },
    "ReportSummaryUtilizationChartData": {
      "properties": {
        "used": {
          "format": "int64",
          "description": "Aggregate value which falls into the \"Used\" bucket.",
          "type": "string"
        },
        "free": {
          "description": "Aggregate value which falls into the \"Free\" bucket.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ReportSummaryUtilizationChartData",
      "type": "object",
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets."
    },
    "DiskEntryList": {
      "type": "object",
      "id": "DiskEntryList",
      "properties": {
        "entries": {
          "description": "Disk entries.",
          "type": "array",
          "items": {
            "$ref": "DiskEntry"
          }
        }
      },
      "description": "VM disks."
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "AssetsExportJobExecution": {
      "id": "AssetsExportJobExecution",
      "type": "object",
      "properties": {
        "result": {
          "$ref": "AssetsExportJobExecutionResult",
          "readOnly": true,
          "description": "Output only. Result of the export execution."
        },
        "executionId": {
          "description": "Output only. Globally unique identifier of the execution.",
          "readOnly": true,
          "type": "string"
        },
        "requestedAssetCount": {
          "description": "Output only. Number of assets requested for export after resolving the requested filters.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "expireTime": {
          "description": "Output only. Expiration time for the export and artifacts.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Completion time of the export.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Execution timestamp."
        }
      },
      "description": "Execution status of assets export job."
    },
    "MigrationInsight": {
      "type": "object",
      "properties": {
        "fit": {
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration.",
          "readOnly": true,
          "$ref": "FitDescriptor"
        },
        "computeEngineTarget": {
          "readOnly": true,
          "description": "Output only. A Google Compute Engine target.",
          "$ref": "ComputeEngineMigrationTarget"
        }
      },
      "description": "An insight about potential migrations for an asset.",
      "id": "MigrationInsight"
    },
    "AggregationCount": {
      "type": "object",
      "id": "AggregationCount",
      "description": "Object count.",
      "properties": {}
    },
    "Insight": {
      "id": "Insight",
      "type": "object",
      "description": "An insight about an asset.",
      "properties": {
        "migrationInsight": {
          "$ref": "MigrationInsight",
          "description": "Output only. An insight about potential migrations for an asset.",
          "readOnly": true
        },
        "genericInsight": {
          "readOnly": true,
          "$ref": "GenericInsight",
          "description": "Output only. A generic insight about an asset."
        }
      }
    },
    "PostgreSqlExtension": {
      "id": "PostgreSqlExtension",
      "description": "PostgreSql extension.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Required. The extension version.",
          "type": "string"
        },
        "extension": {
          "description": "Required. The extension name.",
          "type": "string"
        }
      }
    },
    "ImportError": {
      "id": "ImportError",
      "type": "object",
      "description": "A resource that reports the errors encountered while processing an import job.",
      "properties": {
        "errorDetails": {
          "type": "string",
          "description": "The error information."
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The severity of the error."
        }
      }
    },
    "PerformanceSample": {
      "id": "PerformanceSample",
      "description": "Performance data sample.",
      "properties": {
        "sampleTime": {
          "format": "google-datetime",
          "description": "Time the sample was collected. If omitted, the frame report time will be used.",
          "type": "string"
        },
        "network": {
          "$ref": "NetworkUsageSample",
          "description": "Network usage sample."
        },
        "cpu": {
          "$ref": "CpuUsageSample",
          "description": "CPU usage sample."
        },
        "memory": {
          "description": "Memory usage sample.",
          "$ref": "MemoryUsageSample"
        },
        "disk": {
          "description": "Disk usage sample.",
          "$ref": "DiskUsageSample"
        }
      },
      "type": "object"
    },
    "MySqlVariable": {
      "id": "MySqlVariable",
      "description": "MySql variable.",
      "properties": {
        "category": {
          "type": "string",
          "description": "Required. The variable category."
        },
        "variable": {
          "type": "string",
          "description": "Required. The variable name."
        },
        "value": {
          "description": "Required. The variable value.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UploadFileInfo": {
      "type": "object",
      "id": "UploadFileInfo",
      "properties": {
        "headers": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The headers that were used to sign the URI.",
          "type": "object",
          "readOnly": true
        },
        "uriExpirationTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Expiration time of the upload URI.",
          "type": "string"
        },
        "signedUri": {
          "type": "string",
          "description": "Output only. Upload URI for the file.",
          "readOnly": true
        }
      },
      "description": "A resource that contains a URI to which a data file can be uploaded."
    },
    "AggregationResultSum": {
      "type": "object",
      "id": "AggregationResultSum",
      "properties": {
        "value": {
          "format": "double",
          "type": "number"
        }
      },
      "description": "The result of a sum aggregation."
    },
    "SendDiscoveryClientHeartbeatRequest": {
      "id": "SendDiscoveryClientHeartbeatRequest",
      "properties": {
        "errors": {
          "description": "Optional. Errors affecting client functionality.",
          "items": {
            "$ref": "Status"
          },
          "type": "array"
        },
        "version": {
          "description": "Optional. Client application version.",
          "type": "string"
        }
      },
      "description": "A request to send a discovery client heartbeat.",
      "type": "object"
    },
    "MySqlPlugin": {
      "type": "object",
      "description": "MySql plugin.",
      "id": "MySqlPlugin",
      "properties": {
        "version": {
          "type": "string",
          "description": "Required. The plugin version."
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The plugin is active."
        },
        "plugin": {
          "type": "string",
          "description": "Required. The plugin name."
        }
      }
    },
    "AssetsExportJobExportCondition": {
      "id": "AssetsExportJobExportCondition",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Optional. Assets filter, supports the same syntax as asset listing.",
          "type": "string"
        }
      },
      "description": "Conditions for selecting assets to export."
    },
    "SignedUri": {
      "type": "object",
      "properties": {
        "file": {
          "readOnly": true,
          "description": "Output only. Name of the file the Signed URI references.",
          "type": "string"
        },
        "uri": {
          "description": "Output only. Download URI for the file.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Contains a signed URI.",
      "id": "SignedUri"
    },
    "ComputeEnginePreferences": {
      "properties": {
        "machinePreferences": {
          "description": "Preferences concerning the machine types to consider on Compute Engine.",
          "$ref": "MachinePreferences"
        },
        "persistentDiskType": {
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "type": "string",
          "description": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data.",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ]
        },
        "licenseType": {
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the OS license."
          ],
          "description": "License type to consider when calculating costs for virtual machine insights and recommendations. If unspecified, costs are calculated based on the default licensing plan.",
          "type": "string",
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ]
        }
      },
      "description": "The user preferences relating to Compute Engine target platform.",
      "id": "ComputeEnginePreferences",
      "type": "object"
    },
    "SqlServerFeature": {
      "description": "SQL Server feature details.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Required. Field enabled is set when a feature is used on the source deployment."
        },
        "featureName": {
          "description": "Required. The feature name.",
          "type": "string"
        }
      },
      "id": "SqlServerFeature",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "RunningServiceList": {
      "id": "RunningServiceList",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Running service entries.",
          "items": {
            "$ref": "RunningService"
          }
        }
      },
      "description": "List of running guest OS services."
    },
    "AggregationResultHistogram": {
      "type": "object",
      "properties": {
        "buckets": {
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "type": "array",
          "items": {
            "$ref": "AggregationResultHistogramBucket"
          }
        }
      },
      "id": "AggregationResultHistogram",
      "description": "The result of a bucketed histogram aggregation."
    },
    "ImportRowErrorXlsxErrorDetails": {
      "type": "object",
      "description": "Error details for an XLSX file.",
      "id": "ImportRowErrorXlsxErrorDetails",
      "properties": {
        "rowNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The row number where the error was detected."
        },
        "sheet": {
          "description": "The name of the sheet where the error was detected.",
          "type": "string"
        }
      }
    },
    "NfsExport": {
      "type": "object",
      "id": "NfsExport",
      "properties": {
        "hosts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The hosts or networks to which the export is being shared."
        },
        "exportDirectory": {
          "description": "The directory being exported.",
          "type": "string"
        }
      },
      "description": "NFS export."
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "type": "object"
    },
    "MachineNetworkDetails": {
      "id": "MachineNetworkDetails",
      "properties": {
        "defaultGateway": {
          "description": "Optional. Default gateway address.",
          "type": "string"
        },
        "primaryIpAddress": {
          "description": "The primary IP address of the machine.",
          "type": "string"
        },
        "primaryMacAddress": {
          "type": "string",
          "description": "MAC address of the machine. This property is used to uniqly identify the machine."
        },
        "publicIpAddress": {
          "description": "The public IP address of the machine.",
          "type": "string"
        },
        "adapters": {
          "description": "List of network adapters.",
          "$ref": "NetworkAdapterList"
        }
      },
      "type": "object",
      "description": "Details of network adapters and settings."
    },
    "MysqlDatabaseDeployment": {
      "id": "MysqlDatabaseDeployment",
      "description": "Specific details for a Mysql database deployment.",
      "properties": {
        "properties": {
          "items": {
            "$ref": "MySqlProperty"
          },
          "type": "array",
          "description": "Optional. List of MySql properties."
        },
        "resourceGroupsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Number of resource groups."
        },
        "plugins": {
          "type": "array",
          "items": {
            "$ref": "MySqlPlugin"
          },
          "description": "Optional. List of MySql plugins."
        },
        "variables": {
          "items": {
            "$ref": "MySqlVariable"
          },
          "description": "Optional. List of MySql variables.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "OpenFileList": {
      "description": "Open file list.",
      "properties": {
        "entries": {
          "description": "Open file details entries.",
          "type": "array",
          "items": {
            "$ref": "OpenFileDetails"
          }
        }
      },
      "type": "object",
      "id": "OpenFileList"
    },
    "ExecutionReport": {
      "description": "A resource that reports result of the import job execution.",
      "properties": {
        "totalRowsCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Total number of rows in the import job."
        },
        "executionErrors": {
          "description": "Validation errors encountered during the execution of the import job.",
          "$ref": "ValidationReport"
        },
        "framesReported": {
          "description": "Total number of asset frames reported for the import job.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ExecutionReport",
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "AssetsExportJobNetworkDependencies": {
      "type": "object",
      "properties": {},
      "id": "AssetsExportJobNetworkDependencies",
      "description": "Configuration for network dependencies exports."
    },
    "NetworkConnection": {
      "id": "NetworkConnection",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Connection state is unknown or unspecified.",
            "The connection is being opened.",
            "The connection is open.",
            "Listening for incoming connections.",
            "The connection is being closed.",
            "The connection is closed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "OPENING",
            "OPEN",
            "LISTEN",
            "CLOSING",
            "CLOSED"
          ],
          "description": "Network connection state.",
          "type": "string"
        },
        "processName": {
          "type": "string",
          "description": "Process or service name."
        },
        "localIpAddress": {
          "description": "Local IP address.",
          "type": "string"
        },
        "remoteIpAddress": {
          "type": "string",
          "description": "Remote IP address."
        },
        "protocol": {
          "description": "Connection protocol (e.g. TCP/UDP).",
          "type": "string"
        },
        "localPort": {
          "type": "integer",
          "format": "int32",
          "description": "Local port."
        },
        "pid": {
          "type": "string",
          "description": "Process ID.",
          "format": "int64"
        },
        "remotePort": {
          "type": "integer",
          "description": "Remote port.",
          "format": "int32"
        }
      }
    },
    "GenericPlatformDetails": {
      "description": "Generic platform details.",
      "properties": {
        "location": {
          "type": "string",
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different VMs in the same location may have different string values for this field."
        },
        "hyperthreading": {
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Whether the machine is hyperthreaded.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GenericPlatformDetails"
    },
    "GuestConfigDetails": {
      "id": "GuestConfigDetails",
      "type": "object",
      "properties": {
        "nfsExports": {
          "$ref": "NfsExportList",
          "description": "NFS exports."
        },
        "selinuxMode": {
          "type": "string",
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ],
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ]
        },
        "issue": {
          "description": "OS issue (typically /etc/issue in Linux).",
          "type": "string"
        },
        "hosts": {
          "description": "Hosts file (/etc/hosts).",
          "$ref": "HostsEntryList"
        },
        "fstab": {
          "description": "Mount list (Linux fstab).",
          "$ref": "FstabEntryList"
        }
      },
      "description": "Guest OS config information."
    },
    "VmwarePlatformDetails": {
      "type": "object",
      "properties": {
        "vcenterVersion": {
          "type": "string",
          "description": "vCenter version."
        },
        "esxHyperthreading": {
          "description": "Whether the ESX is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        },
        "vcenterUri": {
          "type": "string",
          "description": "vCenter URI used in collection."
        },
        "vcenterVmId": {
          "description": "vCenter VM ID.",
          "type": "string"
        },
        "vcenterFolder": {
          "type": "string",
          "description": "Folder name in vCenter where asset resides."
        },
        "osid": {
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html.",
          "type": "string"
        },
        "esxVersion": {
          "description": "ESX version.",
          "type": "string"
        }
      },
      "id": "VmwarePlatformDetails",
      "description": "VMware specific details."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "ListImportDataFilesResponse": {
      "properties": {
        "importDataFiles": {
          "type": "array",
          "items": {
            "$ref": "ImportDataFile"
          },
          "description": "The list of import data files."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response for listing payload files of an import job.",
      "id": "ListImportDataFilesResponse"
    },
    "GuestInstalledApplicationList": {
      "id": "GuestInstalledApplicationList",
      "description": "Guest installed application list.",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "GuestInstalledApplication"
          },
          "type": "array",
          "description": "Application entries."
        }
      }
    },
    "FstabEntryList": {
      "description": "Fstab content.",
      "properties": {
        "entries": {
          "items": {
            "$ref": "FstabEntry"
          },
          "description": "Fstab entries.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "FstabEntryList"
    },
    "MachinePreferences": {
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations. Not all machine types are available in all zones and regions.",
      "properties": {
        "allowedMachineSeries": {
          "type": "array",
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "items": {
            "$ref": "MachineSeries"
          }
        }
      },
      "type": "object",
      "id": "MachinePreferences"
    },
    "HostsEntry": {
      "type": "object",
      "properties": {
        "ip": {
          "type": "string",
          "description": "IP (raw, IPv4/6 agnostic)."
        },
        "hostNames": {
          "items": {
            "type": "string"
          },
          "description": "List of host names / aliases.",
          "type": "array"
        }
      },
      "description": "Single /etc/hosts entry.",
      "id": "HostsEntry"
    },
    "DailyResourceUsageAggregationMemory": {
      "id": "DailyResourceUsageAggregationMemory",
      "description": "Statistical aggregation of memory usage.",
      "properties": {
        "utilizationPercentage": {
          "description": "Memory utilization percentage.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "type": "object"
    },
    "OutputFileList": {
      "description": "Contains a list of output files.",
      "type": "object",
      "properties": {
        "entries": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of output files.",
          "items": {
            "$ref": "OutputFile"
          }
        }
      },
      "id": "OutputFileList"
    },
    "ReportSummaryGroupPreferenceSetFinding": {
      "type": "object",
      "id": "ReportSummaryGroupPreferenceSetFinding",
      "properties": {
        "monthlyCostStorage": {
          "$ref": "Money",
          "description": "Storage monthly cost for this preference set."
        },
        "vmwareEngineFinding": {
          "$ref": "ReportSummaryVmwareEngineFinding",
          "description": "A set of findings that applies to VMWare machines in the input."
        },
        "monthlyCostOther": {
          "description": "Miscellaneous monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostOsLicense": {
          "$ref": "Money",
          "description": "Licensing monthly cost for this preference set."
        },
        "monthlyCostTotal": {
          "$ref": "Money",
          "description": "Total monthly cost for this preference set."
        },
        "displayName": {
          "description": "Display Name of the Preference Set",
          "type": "string"
        },
        "machinePreferences": {
          "description": "A set of preferences that applies to all machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "soleTenantFinding": {
          "$ref": "ReportSummarySoleTenantFinding",
          "description": "A set of findings that applies to Sole-Tenant machines in the input."
        },
        "monthlyCostNetworkEgress": {
          "description": "Network Egress monthly cost for this preference set.",
          "$ref": "Money"
        },
        "computeEngineFinding": {
          "$ref": "ReportSummaryComputeEngineFinding",
          "description": "A set of findings that applies to Compute Engine machines in the input."
        },
        "monthlyCostCompute": {
          "description": "Compute monthly cost for this preference set.",
          "$ref": "Money"
        },
        "description": {
          "description": "Description for the Preference Set.",
          "type": "string"
        }
      },
      "description": "Summary Findings for a specific Group/PreferenceSet combination."
    },
    "DailyResourceUsageAggregation": {
      "type": "object",
      "description": "Usage data aggregation for a single day.",
      "id": "DailyResourceUsageAggregation",
      "properties": {
        "cpu": {
          "$ref": "DailyResourceUsageAggregationCPU",
          "description": "CPU usage."
        },
        "network": {
          "description": "Network usage.",
          "$ref": "DailyResourceUsageAggregationNetwork"
        },
        "memory": {
          "$ref": "DailyResourceUsageAggregationMemory",
          "description": "Memory usage."
        },
        "disk": {
          "description": "Disk usage.",
          "$ref": "DailyResourceUsageAggregationDisk"
        },
        "date": {
          "$ref": "Date",
          "description": "Aggregation date. Day boundaries are at midnight UTC."
        }
      }
    },
    "RuntimeNetworkInfo": {
      "type": "object",
      "id": "RuntimeNetworkInfo",
      "properties": {
        "scanTime": {
          "type": "string",
          "description": "Time of the last network scan.",
          "format": "google-datetime"
        },
        "connections": {
          "description": "Network connections.",
          "$ref": "NetworkConnectionList"
        }
      },
      "description": "Runtime networking information."
    },
    "DatabaseDeploymentTopology": {
      "description": "Details of database deployment's topology.",
      "properties": {
        "coreCount": {
          "description": "Optional. Number of total logical cores.",
          "format": "int32",
          "type": "integer"
        },
        "diskUsedBytes": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Disk used in bytes."
        },
        "diskAllocatedBytes": {
          "description": "Optional. Disk allocated in bytes.",
          "type": "string",
          "format": "int64"
        },
        "instances": {
          "items": {
            "$ref": "DatabaseInstance"
          },
          "description": "Optional. List of database instances.",
          "type": "array"
        },
        "memoryLimitBytes": {
          "description": "Optional. Total memory in bytes limited by db deployment.",
          "type": "string",
          "format": "int64"
        },
        "coreLimit": {
          "description": "Optional. Number of total logical cores limited by db deployment.",
          "format": "int32",
          "type": "integer"
        },
        "physicalCoreLimit": {
          "format": "int32",
          "description": "Optional. Number of total physical cores limited by db deployment.",
          "type": "integer"
        },
        "memoryBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Total memory in bytes."
        },
        "physicalCoreCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Number of total physical cores."
        }
      },
      "id": "DatabaseDeploymentTopology",
      "type": "object"
    },
    "ListAssetsExportJobsResponse": {
      "id": "ListAssetsExportJobsResponse",
      "properties": {
        "assetsExportJobs": {
          "items": {
            "$ref": "AssetsExportJob"
          },
          "description": "Output only. The list of assets export jobs.",
          "type": "array",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token identifying a page of results the server should return."
        }
      },
      "description": "Response message for listing assets export jobs.",
      "type": "object"
    },
    "XlsxOutputFile": {
      "id": "XlsxOutputFile",
      "type": "object",
      "description": "Contains a single output file of type XLSX.",
      "properties": {
        "signedUri": {
          "$ref": "SignedUri",
          "readOnly": true,
          "description": "Output only. Signed URI destination."
        }
      }
    },
    "ListErrorFramesResponse": {
      "properties": {
        "errorFrames": {
          "description": "The list of error frames.",
          "items": {
            "$ref": "ErrorFrame"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListErrorFramesResponse",
      "description": "A response for listing error frames.",
      "type": "object"
    },
    "DailyResourceUsageAggregationNetwork": {
      "id": "DailyResourceUsageAggregationNetwork",
      "properties": {
        "ingressBps": {
          "description": "Network ingress in B/s.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "egressBps": {
          "description": "Network egress in B/s.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "description": "Statistical aggregation of network usage.",
      "type": "object"
    },
    "OutputFile": {
      "description": "Contains a single output file.",
      "id": "OutputFile",
      "type": "object",
      "properties": {
        "fileSizeBytes": {
          "readOnly": true,
          "description": "Output only. File size in bytes.",
          "type": "string",
          "format": "int64"
        },
        "csvOutputFile": {
          "$ref": "CsvOutputFile",
          "description": "Output only. CSV output file.",
          "readOnly": true
        },
        "xlsxOutputFile": {
          "readOnly": true,
          "$ref": "XlsxOutputFile",
          "description": "Output only. XLSX output file."
        }
      }
    },
    "DiskUsageSample": {
      "properties": {
        "averageReadIops": {
          "format": "float",
          "description": "Optional. Average read IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "type": "number"
        },
        "averageWriteIops": {
          "description": "Optional. Average write IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "type": "number",
          "format": "float"
        },
        "averageIops": {
          "type": "number",
          "format": "float",
          "description": "Optional. Average IOPS sampled over a short window. Must be non-negative. If read or write are set, the sum of read and write will override the value of the average_iops."
        }
      },
      "id": "DiskUsageSample",
      "description": "Disk usage sample. Values are across all disks.",
      "type": "object"
    },
    "ImportRowError": {
      "description": "A resource that reports the import job errors at row level.",
      "id": "ImportRowError",
      "properties": {
        "xlsxError": {
          "description": "Error details for an XLSX file.",
          "$ref": "ImportRowErrorXlsxErrorDetails"
        },
        "vmName": {
          "type": "string",
          "description": "The name of the VM in the row."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ImportError"
          },
          "description": "The list of errors detected in the row."
        },
        "rowNumber": {
          "type": "integer",
          "format": "int32",
          "deprecated": true,
          "description": "The row number where the error was detected."
        },
        "archiveError": {
          "$ref": "ImportRowErrorArchiveErrorDetails",
          "description": "Error details for an archive file."
        },
        "assetTitle": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The asset title."
        },
        "vmUuid": {
          "description": "The VM UUID.",
          "type": "string"
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        }
      },
      "type": "object"
    },
    "ComputeEngineMigrationTarget": {
      "properties": {
        "shape": {
          "description": "Description of the suggested shape for the migration target.",
          "$ref": "ComputeEngineShapeDescriptor"
        }
      },
      "description": "Compute engine migration target.",
      "id": "ComputeEngineMigrationTarget",
      "type": "object"
    },
    "AddAssetsToGroupRequest": {
      "properties": {
        "assets": {
          "description": "Required. List of assets to be added. The maximum number of assets that can be added in a single request is 2000.",
          "$ref": "AssetList"
        },
        "allowExisting": {
          "description": "Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A request to add assets to a group.",
      "id": "AddAssetsToGroupRequest"
    },
    "HostsEntryList": {
      "description": "Hosts content.",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Hosts entries.",
          "items": {
            "$ref": "HostsEntry"
          }
        }
      },
      "type": "object",
      "id": "HostsEntryList"
    },
    "AssetsExportJob": {
      "description": "Assets export job message.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Resource creation time.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes."
        },
        "networkDependencies": {
          "$ref": "AssetsExportJobNetworkDependencies",
          "description": "Export data regarding asset network dependencies."
        },
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "signedUriDestination": {
          "description": "Export to Cloud Storage files downloadable using signed URIs.",
          "$ref": "SignedUriDestination"
        },
        "condition": {
          "$ref": "AssetsExportJobExportCondition",
          "description": "Optional. Conditions for selecting assets to export."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. Resource name."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Resource update time."
        },
        "inventory": {
          "description": "Export asset inventory details.",
          "$ref": "AssetsExportJobInventory"
        },
        "recentExecutions": {
          "type": "array",
          "description": "Output only. Recent non expired executions of the job.",
          "readOnly": true,
          "items": {
            "$ref": "AssetsExportJobExecution"
          }
        },
        "performanceData": {
          "description": "Export asset with performance data.",
          "$ref": "AssetsExportJobPerformanceData"
        }
      },
      "id": "AssetsExportJob",
      "type": "object"
    },
    "CascadeLogicalDBsRule": {
      "properties": {},
      "description": "Cascading rule for related logical DBs.",
      "id": "CascadeLogicalDBsRule",
      "type": "object"
    },
    "ReportSummary": {
      "type": "object",
      "properties": {
        "allAssetsStats": {
          "$ref": "ReportSummaryAssetAggregateStats",
          "description": "Aggregate statistics for all the assets across all the groups."
        },
        "groupFindings": {
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          },
          "description": "Findings for each Group included in this report.",
          "type": "array"
        }
      },
      "id": "ReportSummary",
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report."
    },
    "ListAssetsResponse": {
      "id": "ListAssetsResponse",
      "description": "Response message for listing assets.",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "assets": {
          "description": "A list of assets.",
          "type": "array",
          "items": {
            "$ref": "Asset"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "Asset": {
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases.",
      "id": "Asset",
      "properties": {
        "machineDetails": {
          "$ref": "MachineDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for virtual and physical machines."
        },
        "attributes": {
          "type": "object",
          "description": "Generic asset attributes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "databaseDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for logical databases.",
          "$ref": "DatabaseDetails"
        },
        "hideReason": {
          "type": "string",
          "description": "Optional. An optional reason for marking this asset as hidden."
        },
        "performanceData": {
          "description": "Output only. Performance data for the asset.",
          "$ref": "AssetPerformanceData",
          "readOnly": true
        },
        "title": {
          "description": "Output only. Server generated human readable name of the asset.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the asset was last updated.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The full name of the asset.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "hidden": {
          "type": "boolean",
          "description": "Optional. Indicates if the asset is hidden."
        },
        "sources": {
          "readOnly": true,
          "description": "Output only. The list of sources contributing to the asset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The timestamp when the asset was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "assignedGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The list of groups that the asset is assigned to."
        },
        "hideTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the asset was marked as hidden.",
          "type": "string"
        },
        "insightList": {
          "$ref": "InsightList",
          "readOnly": true,
          "description": "Output only. The list of insights associated with the asset."
        },
        "databaseDeploymentDetails": {
          "$ref": "DatabaseDeploymentDetails",
          "description": "Output only. Asset information specific for database deployments.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "DatabaseInstance": {
      "description": "Details of a database instance.",
      "properties": {
        "instanceName": {
          "type": "string",
          "description": "Optional. The instance's name."
        },
        "network": {
          "$ref": "DatabaseInstanceNetwork",
          "description": "Optional. Networking details."
        },
        "role": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "ARBITER"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Primary.",
            "Secondary.",
            "Arbiter."
          ],
          "description": "Optional. The instance role in the database engine."
        }
      },
      "id": "DatabaseInstance",
      "type": "object"
    },
    "ErrorFrame": {
      "description": "Message representing a frame which failed to be processed due to an error.",
      "properties": {
        "originalFrame": {
          "$ref": "AssetFrame",
          "readOnly": true,
          "description": "Output only. The frame that was originally reported."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The identifier of the ErrorFrame.",
          "type": "string"
        },
        "ingestionTime": {
          "description": "Output only. Frame ingestion time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "violations": {
          "description": "Output only. All the violations that were detected for the frame.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "FrameViolationEntry"
          }
        }
      },
      "id": "ErrorFrame",
      "type": "object"
    },
    "RunImportJobRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "type": "object",
      "description": "A request to run an import job.",
      "id": "RunImportJobRequest"
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        }
      }
    },
    "RemoveAssetsFromGroupRequest": {
      "id": "RemoveAssetsFromGroupRequest",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        },
        "assets": {
          "$ref": "AssetList",
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000."
        }
      },
      "description": "A request to remove assets from a group.",
      "type": "object"
    },
    "NfsExportList": {
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "NfsExport"
          },
          "description": "NFS export entries.",
          "type": "array"
        }
      },
      "id": "NfsExportList",
      "description": "NFS exports."
    },
    "AssetsExportJobExecutionResult": {
      "type": "object",
      "properties": {
        "signedUris": {
          "readOnly": true,
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "$ref": "SignedUris"
        },
        "outputFiles": {
          "readOnly": true,
          "description": "Output only. List of output files.",
          "$ref": "OutputFileList"
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Error encountered during export.",
          "readOnly": true
        }
      },
      "id": "AssetsExportJobExecutionResult",
      "description": "Contains the result of the assets export."
    },
    "DatabaseDetails": {
      "type": "object",
      "id": "DatabaseDetails",
      "properties": {
        "parentDatabaseDeployment": {
          "$ref": "DatabaseDetailsParentDatabaseDeployment",
          "description": "Required. The parent database deployment that contains the logical database."
        },
        "databaseName": {
          "type": "string",
          "description": "Required. The name of the database."
        },
        "schemas": {
          "items": {
            "$ref": "DatabaseSchema"
          },
          "description": "Optional. The database schemas.",
          "type": "array"
        },
        "allocatedStorageBytes": {
          "description": "Optional. The allocated storage for the database in bytes.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Details of a logical database."
    },
    "ReportSummaryVmwareNode": {
      "id": "ReportSummaryVmwareNode",
      "description": "A VMWare Engine Node",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes"
        }
      }
    },
    "Aggregation": {
      "properties": {
        "field": {
          "type": "string",
          "description": "The name of the field on which to aggregate."
        },
        "count": {
          "$ref": "AggregationCount",
          "description": "Count the number of matching objects."
        },
        "histogram": {
          "description": "Creates a bucketed histogram of field values.",
          "$ref": "AggregationHistogram"
        },
        "sum": {
          "description": "Sum over a numeric field.",
          "$ref": "AggregationSum"
        },
        "frequency": {
          "$ref": "AggregationFrequency",
          "description": "Creates a frequency distribution of all field values."
        }
      },
      "id": "Aggregation",
      "description": "Message describing an aggregation. The message includes the aggregation type, parameters, and the field on which to perform the aggregation.",
      "type": "object"
    },
    "Report": {
      "id": "Report",
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "properties": {
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "description": "Report creation state."
        },
        "summary": {
          "readOnly": true,
          "$ref": "ReportSummary",
          "description": "Output only. Summary view of the Report."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of resource."
        },
        "type": {
          "description": "Report type.",
          "type": "string",
          "enumDescriptions": [
            "Default Report type.",
            "Total cost of ownership Report type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Creation timestamp.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last update timestamp.",
          "readOnly": true
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListDiscoveryClientsResponse": {
      "type": "object",
      "description": "Response message for listing discovery clients.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "discoveryClients": {
          "type": "array",
          "description": "List of discovery clients.",
          "items": {
            "$ref": "DiscoveryClient"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListDiscoveryClientsResponse"
    },
    "ReportAssetFramesResponse": {
      "description": "A response to a call to `ReportAssetFrame`.",
      "id": "ReportAssetFramesResponse",
      "properties": {},
      "type": "object"
    },
    "AwsEc2PlatformDetails": {
      "type": "object",
      "description": "AWS EC2 specific details.",
      "id": "AwsEc2PlatformDetails",
      "properties": {
        "location": {
          "type": "string",
          "description": "The location of the machine in the AWS format."
        },
        "hyperthreading": {
          "description": "Optional. Whether the machine is hyperthreaded.",
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "machineTypeLabel": {
          "description": "AWS platform's machine type label.",
          "type": "string"
        }
      }
    },
    "ListReportConfigsResponse": {
      "description": "Response message for listing report configs.",
      "id": "ListReportConfigsResponse",
      "properties": {
        "reportConfigs": {
          "type": "array",
          "items": {
            "$ref": "ReportConfig"
          },
          "description": "A list of report configs."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object"
    },
    "ReportSummaryChartData": {
      "id": "ReportSummaryChartData",
      "type": "object",
      "properties": {
        "dataPoints": {
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value.",
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          },
          "type": "array"
        }
      },
      "description": "Describes a collection of data points rendered as a Chart."
    },
    "Frames": {
      "type": "object",
      "description": "Collection of frame data.",
      "id": "Frames",
      "properties": {
        "framesData": {
          "description": "A repeated field of asset data.",
          "type": "array",
          "items": {
            "$ref": "AssetFrame"
          }
        }
      }
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "type": "object",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
[...]
