{
  "discoveryVersion": "v1",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "basePath": "",
  "version": "v1",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "DailyResourceUsageAggregationCPU": {
      "id": "DailyResourceUsageAggregationCPU",
      "description": "Statistical aggregation of CPU usage.",
      "type": "object",
      "properties": {
        "utilizationPercentage": {
          "description": "CPU utilization percentage.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      }
    },
    "AddAssetsToGroupRequest": {
      "id": "AddAssetsToGroupRequest",
      "description": "A request to add assets to a group.",
      "type": "object",
      "properties": {
        "assets": {
          "description": "Required. List of assets to be added. The maximum number of assets that can be added in a single request is 2000.",
          "$ref": "AssetList"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "allowExisting": {
          "description": "Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "NetworkConnectionList": {
      "id": "NetworkConnectionList",
      "description": "Network connection list.",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "NetworkConnection"
          },
          "description": "Network connection entries.",
          "type": "array"
        }
      }
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "description": "Response message for listing Reports.",
      "type": "object",
      "properties": {
        "reports": {
          "description": "The list of Reports.",
          "type": "array",
          "items": {
            "$ref": "Report"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "RunImportJobRequest": {
      "description": "A request to run an import job.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RunImportJobRequest"
    },
    "AggregationCount": {
      "description": "Object count.",
      "type": "object",
      "properties": {},
      "id": "AggregationCount"
    },
    "ListReportConfigsResponse": {
      "id": "ListReportConfigsResponse",
      "description": "Response message for listing report configs.",
      "type": "object",
      "properties": {
        "reportConfigs": {
          "description": "A list of report configs.",
          "type": "array",
          "items": {
            "$ref": "ReportConfig"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "ImportRowErrorCsvErrorDetails": {
      "id": "ImportRowErrorCsvErrorDetails",
      "description": "Error details for a CSV file.",
      "type": "object",
      "properties": {
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RegionPreferences": {
      "description": "The user preferences relating to target regions.",
      "type": "object",
      "properties": {
        "preferredRegions": {
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "RegionPreferences"
    },
    "ValidationReport": {
      "description": "A resource that aggregates errors across import job files.",
      "type": "object",
      "properties": {
        "jobErrors": {
          "items": {
            "$ref": "ImportError"
          },
          "description": "List of job level errors.",
          "type": "array"
        },
        "fileValidations": {
          "description": "List of errors found in files.",
          "type": "array",
          "items": {
            "$ref": "FileValidationReport"
          }
        }
      },
      "id": "ValidationReport"
    },
    "RunAssetsExportJobRequest": {
      "id": "RunAssetsExportJobRequest",
      "description": "A request to run an assets export job.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status"
    },
    "AggregationFrequency": {
      "description": "Frequency distribution of all field values.",
      "type": "object",
      "properties": {},
      "id": "AggregationFrequency"
    },
    "Source": {
      "description": "Source represents an object from which asset information is streamed to Migration Center.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. The timestamp when the source was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING",
            "INVALID"
          ],
          "description": "Output only. The state of the source.",
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ]
        },
        "errorFrameCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of frames that were reported by the source and contained errors.",
          "type": "integer"
        },
        "createTime": {
          "description": "Output only. The timestamp when the source was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The full name of the source.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "User-friendly display name.",
          "type": "string"
        },
        "type": {
          "description": "Data source type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ]
        },
        "managed": {
          "description": "If `true`, the source is managed by other service(s).",
          "type": "boolean"
        },
        "pendingFrameCount": {
          "description": "Output only. Number of frames that are still being processed.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "priority": {
          "description": "The information confidence of the source. The higher the value, the higher the confidence.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Source"
    },
    "ListErrorFramesResponse": {
      "id": "ListErrorFramesResponse",
      "description": "A response for listing error frames.",
      "type": "object",
      "properties": {
        "errorFrames": {
          "description": "The list of error frames.",
          "type": "array",
          "items": {
            "$ref": "ErrorFrame"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "ReportSummaryComputeEngineFinding": {
      "description": "A set of findings that applies to assets destined for Compute Engine.",
      "type": "object",
      "properties": {
        "allocatedAssetCount": {
          "description": "Count of assets which were allocated.",
          "type": "string",
          "format": "int64"
        },
        "allocatedRegions": {
          "description": "Set of regions in which the assets were allocated.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "machineSeriesAllocations": {
          "description": "Distribution of assets based on the Machine Series.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryMachineSeriesAllocation"
          }
        },
        "allocatedDiskTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified. Fallback to default value based on context.",
              "Standard HDD Persistent Disk.",
              "Balanced Persistent Disk.",
              "SSD Persistent Disk."
            ],
            "enum": [
              "PERSISTENT_DISK_TYPE_UNSPECIFIED",
              "PERSISTENT_DISK_TYPE_STANDARD",
              "PERSISTENT_DISK_TYPE_BALANCED",
              "PERSISTENT_DISK_TYPE_SSD"
            ]
          },
          "description": "Set of disk types allocated to assets.",
          "type": "array"
        }
      },
      "id": "ReportSummaryComputeEngineFinding"
    },
    "ImportRowErrorXlsxErrorDetails": {
      "id": "ImportRowErrorXlsxErrorDetails",
      "description": "Error details for an XLSX file.",
      "type": "object",
      "properties": {
        "sheet": {
          "description": "The name of the sheet where the error was detected.",
          "type": "string"
        },
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Asset": {
      "id": "Asset",
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases.",
      "type": "object",
      "properties": {
        "performanceData": {
          "readOnly": true,
          "description": "Output only. Performance data for the asset.",
          "$ref": "AssetPerformanceData"
        },
        "hideTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the asset was marked as hidden.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The full name of the asset.",
          "type": "string"
        },
        "title": {
          "description": "Output only. Server generated human readable name of the asset.",
          "type": "string",
          "readOnly": true
        },
        "assignedGroups": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of groups that the asset is assigned to.",
          "type": "array"
        },
        "hideReason": {
          "description": "Optional. An optional reason for marking this asset as hidden.",
          "type": "string"
        },
        "sources": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of sources contributing to the asset.",
          "type": "array"
        },
        "insightList": {
          "readOnly": true,
          "description": "Output only. The list of insights associated with the asset.",
          "$ref": "InsightList"
        },
        "machineDetails": {
          "description": "Output only. Asset information specific for virtual and physical machines.",
          "$ref": "MachineDetails",
          "readOnly": true
        },
        "databaseDetails": {
          "description": "Output only. Asset information specific for logical databases.",
          "$ref": "DatabaseDetails",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp when the asset was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "hidden": {
          "description": "Optional. Indicates if the asset is hidden.",
          "type": "boolean"
        },
        "attributes": {
          "description": "Generic asset attributes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. The timestamp when the asset was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "databaseDeploymentDetails": {
          "description": "Output only. Asset information specific for database deployments.",
          "$ref": "DatabaseDeploymentDetails",
          "readOnly": true
        }
      }
    },
    "SqlServerServerFlag": {
      "id": "SqlServerServerFlag",
      "description": "SQL Server server flag details.",
      "type": "object",
      "properties": {
        "serverFlagName": {
          "description": "Required. The server flag name.",
          "type": "string"
        },
        "value": {
          "description": "Required. The server flag value set by the user.",
          "type": "string"
        },
        "valueInUse": {
          "description": "Required. The server flag actual value. If `value_in_use` is different from `value` it means that either the configuration change was not applied or it is an expected behavior. See SQL Server documentation for more details.",
          "type": "string"
        }
      }
    },
    "AggregationResultSum": {
      "description": "The result of a sum aggregation.",
      "type": "object",
      "properties": {
        "value": {
          "type": "number",
          "format": "double"
        }
      },
      "id": "AggregationResultSum"
    },
    "DatabaseDetails": {
      "description": "Details of a logical database.",
      "type": "object",
      "properties": {
        "parentDatabaseDeployment": {
          "description": "Required. The parent database deployment that contains the logical database.",
          "$ref": "DatabaseDetailsParentDatabaseDeployment"
        },
        "schemas": {
          "items": {
            "$ref": "DatabaseSchema"
          },
          "description": "Optional. The database schemas.",
          "type": "array"
        },
        "databaseName": {
          "description": "Required. The name of the database.",
          "type": "string"
        },
        "allocatedStorageBytes": {
          "format": "int64",
          "description": "Optional. The allocated storage for the database in bytes.",
          "type": "string"
        }
      },
      "id": "DatabaseDetails"
    },
    "AggregateAssetsValuesResponse": {
      "id": "AggregateAssetsValuesResponse",
      "description": "A response to a request to aggregated assets values.",
      "type": "object",
      "properties": {
        "results": {
          "items": {
            "$ref": "AggregationResult"
          },
          "description": "The aggregation results.",
          "type": "array"
        }
      }
    },
    "AggregationResultHistogramBucket": {
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "type": "object",
      "properties": {
        "upperBound": {
          "format": "double",
          "description": "Upper bound - exclusive.",
          "type": "number"
        },
        "count": {
          "description": "Count of items in the bucket.",
          "type": "string",
          "format": "int64"
        },
        "lowerBound": {
          "description": "Lower bound - inclusive.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "AggregationResultHistogramBucket"
    },
    "SqlServerSchemaDetails": {
      "description": "Specific details for a SqlServer database.",
      "type": "object",
      "properties": {
        "clrObjectCount": {
          "format": "int32",
          "description": "Optional. SqlServer number of CLR objects.",
          "type": "integer"
        }
      },
      "id": "SqlServerSchemaDetails"
    },
    "ReportAssetFramesResponse": {
      "description": "A response to a call to `ReportAssetFrame`.",
      "type": "object",
      "properties": {},
      "id": "ReportAssetFramesResponse"
    },
    "ReportSummarySoleTenantFinding": {
      "description": "A set of findings that applies to assets destined for Sole-Tenant nodes.",
      "type": "object",
      "properties": {
        "allocatedRegions": {
          "items": {
            "type": "string"
          },
          "description": "Set of regions in which the assets are allocated",
          "type": "array"
        },
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Count of assets which are allocated",
          "type": "string"
        },
        "nodeAllocations": {
          "items": {
            "$ref": "ReportSummarySoleTenantNodeAllocation"
          },
          "description": "Set of per-nodetype allocation records",
          "type": "array"
        }
      },
      "id": "ReportSummarySoleTenantFinding"
    },
    "Aggregation": {
      "description": "Message describing an aggregation. The message includes the aggregation type, parameters, and the field on which to perform the aggregation.",
      "type": "object",
      "properties": {
        "sum": {
          "description": "Sum over a numeric field.",
          "$ref": "AggregationSum"
        },
        "histogram": {
          "description": "Creates a bucketed histogram of field values.",
          "$ref": "AggregationHistogram"
        },
        "frequency": {
          "description": "Creates a frequency distribution of all field values.",
          "$ref": "AggregationFrequency"
        },
        "count": {
          "description": "Count the number of matching objects.",
          "$ref": "AggregationCount"
        },
        "field": {
          "description": "The name of the field on which to aggregate.",
          "type": "string"
        }
      },
      "id": "Aggregation"
    },
    "PreferenceSet": {
      "id": "PreferenceSet",
      "description": "The preferences that apply to all assets in a given context.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp when the preference set was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "virtualMachinePreferences": {
          "description": "Optional. A set of preferences that applies to all virtual machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the preference set was last updated.",
          "type": "string"
        },
        "description": {
          "description": "A description of the preference set.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the preference set.",
          "type": "string"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        }
      }
    },
    "ReportSummaryAssetAggregateStats": {
      "id": "ReportSummaryAssetAggregateStats",
      "description": "Aggregate statistics for a collection of assets.",
      "type": "object",
      "properties": {
        "memoryUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "totalAssets": {
          "format": "int64",
          "description": "Count of the number of unique assets in this collection.",
          "type": "string"
        },
        "operatingSystem": {
          "description": "Count of assets grouped by Operating System families.",
          "$ref": "ReportSummaryChartData"
        },
        "coreCountHistogram": {
          "description": "Histogram showing a distribution of logical CPU core counts.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "storageUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "totalCores": {
          "format": "int64",
          "description": "Sum of the CPU core count of all the assets in this collection.",
          "type": "string"
        },
        "storageBytesHistogram": {
          "description": "Histogram showing a distribution of storage sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "memoryBytesHistogram": {
          "description": "Histogram showing a distribution of memory sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "softwareInstances": {
          "readOnly": true,
          "description": "Output only. Count of assets grouped by software name. Only present for virtual machines.",
          "$ref": "ReportSummaryChartData"
        },
        "totalStorageBytes": {
          "format": "int64",
          "description": "Sum of persistent storage in bytes of all the assets in this collection.",
          "type": "string"
        },
        "totalMemoryBytes": {
          "format": "int64",
          "description": "Sum of the memory in bytes of all the assets in this collection.",
          "type": "string"
        }
      }
    },
    "DiskPartitionList": {
      "id": "DiskPartitionList",
      "description": "Disk partition list.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Partition entries.",
          "type": "array",
          "items": {
            "$ref": "DiskPartition"
          }
        }
      }
    },
    "AggregationResultHistogram": {
      "description": "The result of a bucketed histogram aggregation.",
      "type": "object",
      "properties": {
        "buckets": {
          "items": {
            "$ref": "AggregationResultHistogramBucket"
          },
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "type": "array"
        }
      },
      "id": "AggregationResultHistogram"
    },
    "BatchDeleteAssetsRequest": {
      "id": "BatchDeleteAssetsRequest",
      "description": "A request to delete a list of asset.",
      "type": "object",
      "properties": {
        "allowMissing": {
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`.",
          "type": "boolean"
        },
        "cascadingRules": {
          "items": {
            "$ref": "CascadingRule"
          },
          "description": "Optional. Optional cascading rules for deleting related assets.",
          "type": "array"
        },
        "names": {
          "items": {
            "type": "string"
          },
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}.",
          "type": "array"
        }
      }
    },
    "MachineDetails": {
      "id": "MachineDetails",
      "description": "Details of a machine.",
      "type": "object",
      "properties": {
        "network": {
          "description": "Network details.",
          "$ref": "MachineNetworkDetails"
        },
        "platform": {
          "description": "Platform specific information.",
          "$ref": "PlatformDetails"
        },
        "powerState": {
          "description": "Power state of the machine.",
          "type": "string",
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ]
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Machine creation time.",
          "type": "string"
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "coreCount": {
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "type": "integer",
          "format": "int32"
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "architecture": {
          "description": "Architecture details (vendor, CPU architecture).",
          "$ref": "MachineArchitectureDetails"
        },
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        },
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        },
        "memoryMb": {
          "format": "int32",
          "description": "The amount of memory in the machine. Must be non-negative.",
          "type": "integer"
        }
      }
    },
    "DatabaseInstance": {
      "description": "Details of a database instance.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Optional. The instance role in the database engine.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Primary.",
            "Secondary.",
            "Arbiter."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "ARBITER"
          ]
        },
        "instanceName": {
          "description": "Optional. The instance's name.",
          "type": "string"
        },
        "network": {
          "description": "Optional. Networking details.",
          "$ref": "DatabaseInstanceNetwork"
        }
      },
      "id": "DatabaseInstance"
    },
    "MySqlProperty": {
      "id": "MySqlProperty",
      "description": "MySql property.",
      "type": "object",
      "properties": {
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "numericValue": {
          "description": "Required. The property numeric value.",
          "type": "string",
          "format": "int64"
        },
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        }
      }
    },
    "RunningServiceList": {
      "description": "List of running guest OS services.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Running service entries.",
          "type": "array",
          "items": {
            "$ref": "RunningService"
          }
        }
      },
      "id": "RunningServiceList"
    },
    "PostgreSqlExtension": {
      "description": "PostgreSql extension.",
      "type": "object",
      "properties": {
        "extension": {
          "description": "Required. The extension name.",
          "type": "string"
        },
        "version": {
          "description": "Required. The extension version.",
          "type": "string"
        }
      },
      "id": "PostgreSqlExtension"
    },
    "CpuUsageSample": {
      "description": "CPU usage sample.",
      "type": "object",
      "properties": {
        "utilizedPercentage": {
          "format": "float",
          "description": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage.",
          "type": "number"
        }
      },
      "id": "CpuUsageSample"
    },
    "DiskEntryList": {
      "description": "VM disks.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Disk entries.",
          "type": "array",
          "items": {
            "$ref": "DiskEntry"
          }
        }
      },
      "id": "DiskEntryList"
    },
    "MySqlStorageEngineDetails": {
      "id": "MySqlStorageEngineDetails",
      "description": "Mysql storage engine tables.",
      "type": "object",
      "properties": {
        "tableCount": {
          "description": "Optional. The number of tables.",
          "type": "integer",
          "format": "int32"
        },
        "engine": {
          "description": "Required. The storage engine.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ]
        },
        "encryptedTableCount": {
          "format": "int32",
          "description": "Optional. The number of encrypted tables.",
          "type": "integer"
        }
      }
    },
    "ReportConfig": {
      "id": "ReportConfig",
      "description": "The groups and associated preference sets on which we can generate reports.",
      "type": "object",
      "properties": {
        "groupPreferencesetAssignments": {
          "description": "Required. Collection of combinations of groups and preference sets.",
          "type": "array",
          "items": {
            "$ref": "ReportConfigGroupPreferenceSetAssignment"
          }
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of resource.",
          "type": "string"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        }
      }
    },
    "ReportSummaryMachineSeriesAllocation": {
      "description": "Represents a data point tracking the count of assets allocated for a specific Machine Series.",
      "type": "object",
      "properties": {
        "machineSeries": {
          "description": "The Machine Series (e.g. \"E2\", \"N2\")",
          "$ref": "MachineSeries"
        },
        "allocatedAssetCount": {
          "description": "Count of assets allocated to this machine series.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ReportSummaryMachineSeriesAllocation"
    },
    "GenericPlatformDetails": {
      "id": "GenericPlatformDetails",
      "description": "Generic platform details.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different VMs in the same location may have different string values for this field.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        }
      }
    },
    "Frames": {
      "id": "Frames",
      "description": "Collection of frame data.",
      "type": "object",
      "properties": {
        "framesData": {
          "items": {
            "$ref": "AssetFrame"
          },
          "description": "A repeated field of asset data.",
          "type": "array"
        }
      }
    },
    "NetworkAddressList": {
      "id": "NetworkAddressList",
      "description": "List of allocated/assigned network addresses.",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "NetworkAddress"
          },
          "description": "Network address entries.",
          "type": "array"
        }
      }
    },
    "SignedUris": {
      "id": "SignedUris",
      "description": "Contains a list of Signed URIs.",
      "type": "object",
      "properties": {
        "signedUris": {
          "readOnly": true,
          "items": {
            "$ref": "SignedUri"
          },
          "description": "Output only. List of signed URIs.",
          "type": "array"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "CascadingRule": {
      "id": "CascadingRule",
      "description": "Specifies cascading rules for traversing relations.",
      "type": "object",
      "properties": {
        "cascadeLogicalDbs": {
          "description": "Cascading rule for related logical DBs.",
          "$ref": "CascadeLogicalDBsRule"
        }
      }
    },
    "ComputeEngineMigrationTarget": {
      "id": "ComputeEngineMigrationTarget",
      "description": "Compute engine migration target.",
      "type": "object",
      "properties": {
        "shape": {
          "description": "Description of the suggested shape for the migration target.",
          "$ref": "ComputeEngineShapeDescriptor"
        }
      }
    },
    "DailyResourceUsageAggregationDisk": {
      "id": "DailyResourceUsageAggregationDisk",
      "description": "Statistical aggregation of disk usage.",
      "type": "object",
      "properties": {
        "readIops": {
          "description": "Optional. Disk read I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "writeIops": {
          "description": "Optional. Disk write I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "iops": {
          "description": "Optional. Disk I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      }
    },
    "OutputFile": {
      "id": "OutputFile",
      "description": "Contains a single output file.",
      "type": "object",
      "properties": {
        "csvOutputFile": {
          "description": "Output only. CSV output file.",
          "$ref": "CsvOutputFile",
          "readOnly": true
        },
        "xlsxOutputFile": {
          "description": "Output only. XLSX output file.",
          "$ref": "XlsxOutputFile",
          "readOnly": true
        },
        "fileSizeBytes": {
          "description": "Output only. File size in bytes.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      }
    },
    "SendDiscoveryClientHeartbeatRequest": {
      "description": "A request to send a discovery client heartbeat.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. Client application version.",
          "type": "string"
        },
        "errors": {
          "description": "Optional. Errors affecting client functionality.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      },
      "id": "SendDiscoveryClientHeartbeatRequest"
    },
    "ListGroupsResponse": {
      "description": "A response for listing groups.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "groups": {
          "description": "The list of Group",
          "type": "array",
          "items": {
            "$ref": "Group"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListGroupsResponse"
    },
    "RunningService": {
      "description": "Guest OS running service details.",
      "type": "object",
      "properties": {
        "serviceName": {
          "description": "Service name.",
          "type": "string"
        },
        "startMode": {
          "description": "Service start mode (OS-agnostic).",
          "type": "string",
          "enumDescriptions": [
            "Start mode unspecified.",
            "The service is a device driver started by the system loader.",
            "The service is a device driver started by the IOInitSystem function.",
            "The service is started by the operating system, at system start-up",
            "The service is started only manually, by a user.",
            "The service is disabled."
          ],
          "enum": [
            "START_MODE_UNSPECIFIED",
            "BOOT",
            "SYSTEM",
            "AUTO",
            "MANUAL",
            "DISABLED"
          ]
        },
        "exePath": {
          "description": "Service binary path.",
          "type": "string"
        },
        "pid": {
          "description": "Service pid.",
          "type": "string",
          "format": "int64"
        },
        "cmdline": {
          "description": "Service command line.",
          "type": "string"
        },
        "state": {
          "description": "Service state (OS-agnostic).",
          "type": "string",
          "enumDescriptions": [
            "Service state unspecified.",
            "Service is active.",
            "Service is paused.",
            "Service is stopped."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "STOPPED"
          ]
        }
      },
      "id": "RunningService"
    },
    "OpenFileDetails": {
      "id": "OpenFileDetails",
      "description": "Open file Information.",
      "type": "object",
      "properties": {
        "command": {
          "description": "Opened file command.",
          "type": "string"
        },
        "fileType": {
          "description": "Opened file file type.",
          "type": "string"
        },
        "user": {
          "description": "Opened file user.",
          "type": "string"
        },
        "filePath": {
          "description": "Opened file file path.",
          "type": "string"
        }
      }
    },
    "ReportSummaryChartData": {
      "id": "ReportSummaryChartData",
      "description": "Describes a collection of data points rendered as a Chart.",
      "type": "object",
      "properties": {
        "dataPoints": {
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          }
        }
      }
    },
    "OutputFileList": {
      "description": "Contains a list of output files.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Output only. List of output files.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "OutputFile"
          }
        }
      },
      "id": "OutputFileList"
    },
    "ImportJob": {
      "id": "ImportJob",
      "description": "A resource that represents the background job that imports asset frames.",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was last updated.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the import job.",
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ]
        },
        "executionReport": {
          "description": "Output only. The report with the results of running the import job.",
          "$ref": "ExecutionReport",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The full name of the import job.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 256 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the import job was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "validationReport": {
          "readOnly": true,
          "description": "Output only. The report with the validation results of the import job.",
          "$ref": "ValidationReport"
        },
        "assetSource": {
          "description": "Required. Reference to a source.",
          "type": "string"
        },
        "completeTime": {
          "description": "Output only. The timestamp when the import job was completed.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "MachineDiskDetails": {
      "id": "MachineDiskDetails",
      "description": "Details of machine disks.",
      "type": "object",
      "properties": {
        "totalCapacityBytes": {
          "format": "int64",
          "description": "Disk total Capacity.",
          "type": "string"
        },
        "totalFreeBytes": {
          "description": "Total disk free space.",
          "type": "string",
          "format": "int64"
        },
        "disks": {
          "description": "List of disks.",
          "$ref": "DiskEntryList"
        }
      }
    },
    "ImportDataFile": {
      "description": "A resource that represents a payload file in an import job.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp when the file was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ],
          "description": "Output only. The state of the import data file.",
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ]
        },
        "name": {
          "description": "Output only. The name of the file.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "format": {
          "description": "Required. The payload format.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the AWS collection script.",
            "CSV format exported from Azure using the Azure collection script.",
            "CSV format created manually and following the StratoZone format. For more information, see Manually create and upload data tables.",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_STRATOZONE_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ]
        },
        "uploadFileInfo": {
          "description": "Information about a file that is uploaded to a storage service.",
          "$ref": "UploadFileInfo"
        }
      },
      "id": "ImportDataFile"
    },
    "AssetsExportJobInventory": {
      "id": "AssetsExportJobInventory",
      "description": "Configuration for asset inventory details exports.",
      "type": "object",
      "properties": {}
    },
    "SqlServerDatabaseDeployment": {
      "description": "Specific details for a Microsoft SQL Server database deployment.",
      "type": "object",
      "properties": {
        "features": {
          "items": {
            "$ref": "SqlServerFeature"
          },
          "description": "Optional. List of SQL Server features.",
          "type": "array"
        },
        "traceFlags": {
          "items": {
            "$ref": "SqlServerTraceFlag"
          },
          "description": "Optional. List of SQL Server trace flags.",
          "type": "array"
        },
        "serverFlags": {
          "items": {
            "$ref": "SqlServerServerFlag"
          },
          "description": "Optional. List of SQL Server server flags.",
          "type": "array"
        }
      },
      "id": "SqlServerDatabaseDeployment"
    },
    "MachineNetworkDetails": {
      "description": "Details of network adapters and settings.",
      "type": "object",
      "properties": {
        "primaryMacAddress": {
          "description": "MAC address of the machine. This property is used to uniqly identify the machine.",
          "type": "string"
        },
        "primaryIpAddress": {
          "description": "The primary IP address of the machine.",
          "type": "string"
        },
        "defaultGateway": {
          "description": "Optional. Default gateway address.",
          "type": "string"
        },
        "adapters": {
          "description": "List of network adapters.",
          "$ref": "NetworkAdapterList"
        },
        "publicIpAddress": {
          "description": "The public IP address of the machine.",
          "type": "string"
        }
      },
      "id": "MachineNetworkDetails"
    },
    "BatchUpdateAssetsRequest": {
      "description": "A request to update a list of assets.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.",
          "type": "array",
          "items": {
            "$ref": "UpdateAssetRequest"
          }
        }
      },
      "id": "BatchUpdateAssetsRequest"
    },
    "RunningProcess": {
      "description": "Guest OS running process details.",
      "type": "object",
      "properties": {
        "cmdline": {
          "description": "Process full command line.",
          "type": "string"
        },
        "attributes": {
          "description": "Process extended attributes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "user": {
          "description": "User running the process.",
          "type": "string"
        },
        "pid": {
          "format": "int64",
          "description": "Process ID.",
          "type": "string"
        },
        "exePath": {
          "description": "Process binary path.",
          "type": "string"
        }
      },
      "id": "RunningProcess"
    },
    "GenericInsight": {
      "description": "A generic insight about an asset.",
      "type": "object",
      "properties": {
        "defaultMessage": {
          "description": "Output only. In case message_code is not yet known by the client default_message will be the message to be used instead.",
          "type": "string",
          "readOnly": true
        },
        "additionalInformation": {
          "description": "Output only. Additional information about the insight, each entry can be a logical entry and must make sense if it is displayed with line breaks between each entry. Text can contain md style links.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "messageId": {
          "description": "Output only. Represents a globally unique message id for this insight, can be used for localization purposes, in case message_code is not yet known by the client use default_message instead.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      },
      "id": "GenericInsight"
    },
    "FstabEntryList": {
      "description": "Fstab content.",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "FstabEntry"
          },
          "description": "Fstab entries.",
          "type": "array"
        }
      },
      "id": "FstabEntryList"
    },
    "NetworkConnection": {
      "type": "object",
      "properties": {
        "pid": {
          "description": "Process ID.",
          "type": "string",
          "format": "int64"
        },
        "processName": {
          "description": "Process or service name.",
          "type": "string"
        },
        "localIpAddress": {
          "description": "Local IP address.",
          "type": "string"
        },
        "remoteIpAddress": {
          "description": "Remote IP address.",
          "type": "string"
        },
        "protocol": {
          "description": "Connection protocol (e.g. TCP/UDP).",
          "type": "string"
        },
        "localPort": {
          "description": "Local port.",
          "type": "integer",
          "format": "int32"
        },
        "remotePort": {
          "format": "int32",
          "description": "Remote port.",
          "type": "integer"
        },
        "state": {
          "description": "Network connection state.",
          "type": "string",
          "enumDescriptions": [
            "Connection state is unknown or unspecified.",
            "The connection is being opened.",
            "The connection is open.",
            "Listening for incoming connections.",
            "The connection is being closed.",
            "The connection is closed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "OPENING",
            "OPEN",
            "LISTEN",
            "CLOSING",
            "CLOSED"
          ]
        }
      },
      "id": "NetworkConnection"
    },
    "DatabaseSchema": {
      "description": "Details of a database schema.",
      "type": "object",
      "properties": {
        "schemaName": {
          "description": "Required. The name of the schema.",
          "type": "string"
        },
        "postgresql": {
          "description": "Optional. Details of a PostgreSql schema.",
          "$ref": "PostgreSqlSchemaDetails"
        },
        "objects": {
          "description": "Optional. List of details of objects by category.",
          "type": "array",
          "items": {
            "$ref": "DatabaseObjects"
          }
        },
        "sqlServer": {
          "description": "Optional. Details of a SqlServer schema.",
          "$ref": "SqlServerSchemaDetails"
        },
        "tablesSizeBytes": {
          "description": "Optional. The total size of tables in bytes.",
          "type": "string",
          "format": "int64"
        },
        "mysql": {
          "description": "Optional. Details of a Mysql schema.",
          "$ref": "MySqlSchemaDetails"
        }
      },
      "id": "DatabaseSchema"
    },
    "PostgreSqlSchemaDetails": {
      "description": "Specific details for a PostgreSql schema.",
      "type": "object",
      "properties": {
        "foreignTablesCount": {
          "format": "int32",
          "description": "Optional. PostgreSql foreign tables.",
          "type": "integer"
        },
        "postgresqlExtensions": {
          "description": "Optional. PostgreSql extensions.",
          "type": "array",
          "items": {
            "$ref": "PostgreSqlExtension"
          }
        }
      },
      "id": "PostgreSqlSchemaDetails"
    },
    "AssetPerformanceData": {
      "description": "Performance data for an asset.",
      "type": "object",
      "properties": {
        "dailyResourceUsageAggregations": {
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent.",
          "type": "array",
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          }
        }
      },
      "id": "AssetPerformanceData"
    },
    "Money": {
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer"
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        }
      }
    },
    "DiscoveryClient": {
      "description": "Represents an installed Migration Center Discovery Client instance.",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Free text description. Maximum length is 1000 characters.",
          "type": "string"
        },
        "state": {
          "description": "Output only. Current state of the discovery client.",
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ]
        },
        "source": {
          "description": "Required. Immutable. Full name of the source object associated with this discovery client.",
          "type": "string"
        },
        "heartbeatTime": {
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "expireTime": {
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. Time when the discovery client was first created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. Free text display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Required. Service account used by the discovery client for various operation.",
          "type": "string"
        },
        "errors": {
          "readOnly": true,
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Errors affecting client functionality.",
          "type": "array"
        },
        "ttl": {
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field.",
          "type": "string",
          "format": "google-duration"
        },
        "version": {
          "readOnly": true,
          "description": "Output only. Client version, as reported in recent heartbeat.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. Full name of this discovery client.",
          "type": "string",
          "readOnly": true
        },
        "signalsEndpoint": {
          "readOnly": true,
          "description": "Output only. This field is intended for internal use.",
          "type": "string"
        }
      },
      "id": "DiscoveryClient"
    },
    "AggregationSum": {
      "description": "Sum of field values.",
      "type": "object",
      "properties": {},
      "id": "AggregationSum"
    },
    "MachineArchitectureDetails": {
      "id": "MachineArchitectureDetails",
      "description": "Details of the machine architecture.",
      "type": "object",
      "properties": {
        "firmwareType": {
          "description": "Firmware type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ],
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ]
        },
        "cpuManufacturer": {
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "cpuSocketCount": {
          "format": "int32",
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer"
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "cpuThreadCount": {
          "description": "Deprecated: use MachineDetails.core_count instead. Number of CPU threads allocated to the machine.",
          "type": "integer",
          "deprecated": true,
          "format": "int32"
        },
        "hyperthreading": {
          "description": "CPU hyper-threading support.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ],
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        }
      }
    },
    "ReportConfigGroupPreferenceSetAssignment": {
      "id": "ReportConfigGroupPreferenceSetAssignment",
      "description": "Represents a combination of a group with a preference set.",
      "type": "object",
      "properties": {
        "group": {
          "description": "Required. Name of the group.",
          "type": "string"
        },
        "preferenceSet": {
          "description": "Required. Name of the Preference Set.",
          "type": "string"
        }
      }
    },
    "MySqlSchemaDetails": {
      "description": "Specific details for a Mysql database.",
      "type": "object",
      "properties": {
        "storageEngines": {
          "items": {
            "$ref": "MySqlStorageEngineDetails"
          },
          "description": "Optional. Mysql storage engine tables.",
          "type": "array"
        }
      },
      "id": "MySqlSchemaDetails"
    },
    "ListImportJobsResponse": {
      "id": "ListImportJobsResponse",
      "description": "A response for listing import jobs.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "importJobs": {
          "items": {
            "$ref": "ImportJob"
          },
          "description": "The list of import jobs.",
          "type": "array"
        }
      }
    },
    "PhysicalPlatformDetails": {
      "id": "PhysicalPlatformDetails",
      "description": "Platform specific details for Physical Machines.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        }
      }
    },
    "ListRelationsResponse": {
      "id": "ListRelationsResponse",
      "description": "Response message for listing relations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "relations": {
          "description": "A list of relations.",
          "type": "array",
          "items": {
            "$ref": "Relation"
          }
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "AwsRds": {
      "id": "AwsRds",
      "description": "Specific details for an AWS RDS database deployment.",
      "type": "object",
      "properties": {}
    },
    "ReportSummaryGroupPreferenceSetFinding": {
      "description": "Summary Findings for a specific Group/PreferenceSet combination.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display Name of the Preference Set",
          "type": "string"
        },
        "vmwareEngineFinding": {
          "description": "A set of findings that applies to VMWare machines in the input.",
          "$ref": "ReportSummaryVmwareEngineFinding"
        },
        "computeEngineFinding": {
          "description": "A set of findings that applies to Compute Engine machines in the input.",
          "$ref": "ReportSummaryComputeEngineFinding"
        },
        "monthlyCostOther": {
          "description": "Miscellaneous monthly cost for this preference set.",
          "$ref": "Money"
        },
        "description": {
          "description": "Description for the Preference Set.",
          "type": "string"
        },
        "monthlyCostOsLicense": {
          "description": "Licensing monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostNetworkEgress": {
          "description": "Network Egress monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostStorage": {
          "description": "Storage monthly cost for this preference set.",
          "$ref": "Money"
        },
        "soleTenantFinding": {
          "description": "A set of findings that applies to Sole-Tenant machines in the input.",
          "$ref": "ReportSummarySoleTenantFinding"
        },
        "monthlyCostTotal": {
          "description": "Total monthly cost for this preference set.",
          "$ref": "Money"
        },
        "machinePreferences": {
          "description": "A set of preferences that applies to all machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "monthlyCostCompute": {
          "description": "Compute monthly cost for this preference set.",
          "$ref": "Money"
        }
      },
      "id": "ReportSummaryGroupPreferenceSetFinding"
    },
    "UploadFileInfo": {
      "description": "A resource that contains a URI to which a data file can be uploaded.",
      "type": "object",
      "properties": {
        "headers": {
          "readOnly": true,
          "description": "Output only. The headers that were used to sign the URI.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uriExpirationTime": {
          "description": "Output only. Expiration time of the upload URI.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "signedUri": {
          "readOnly": true,
          "description": "Output only. Upload URI for the file.",
          "type": "string"
        }
      },
      "id": "UploadFileInfo"
    },
    "DatabaseObjects": {
      "description": "Details of a group of database objects.",
      "type": "object",
      "properties": {
        "category": {
          "description": "Optional. The category of the objects.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Table.",
            "Index.",
            "Constraints.",
            "Views.",
            "Source code, e.g. procedures.",
            "Uncategorized objects."
          ],
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "TABLE",
            "INDEX",
            "CONSTRAINTS",
            "VIEWS",
            "SOURCE_CODE",
            "OTHER"
          ]
        },
        "count": {
          "format": "int64",
          "description": "Optional. The number of objects.",
          "type": "string"
        }
      },
      "id": "DatabaseObjects"
    },
    "ImportRowErrorArchiveErrorDetails": {
      "description": "Error details for an archive file.",
      "type": "object",
      "properties": {
        "filePath": {
          "description": "Output only. The file path inside the archive where the error was detected.",
          "type": "string",
          "readOnly": true
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        }
      },
      "id": "ImportRowErrorArchiveErrorDetails"
    },
    "AssetFrame": {
      "id": "AssetFrame",
      "description": "Contains data reported from an inventory source on an asset.",
      "type": "object",
      "properties": {
        "collectionType": {
          "description": "Optional. Frame collection type, if not specified the collection type will be based on the source type of the source the frame was reported on.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ]
        },
        "databaseDetails": {
          "description": "Asset information specific for logical databases.",
          "$ref": "DatabaseDetails"
        },
        "reportTime": {
          "description": "The time the data was reported.",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "performanceSamples": {
          "items": {
            "$ref": "PerformanceSample"
          },
          "description": "Asset performance data samples. Samples that are from more than 40 days ago or after tomorrow are ignored.",
          "type": "array"
        },
        "machineDetails": {
          "description": "Asset information specific for virtual machines.",
          "$ref": "MachineDetails"
        },
        "attributes": {
          "description": "Generic asset attributes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "databaseDeploymentDetails": {
          "description": "Asset information specific for database deployments.",
          "$ref": "DatabaseDeploymentDetails"
        },
        "traceToken": {
          "description": "Optional. Trace token is optionally provided to assist with debugging and traceability.",
          "type": "string"
        }
      }
    },
    "XlsxOutputFile": {
      "description": "Contains a single output file of type XLSX.",
      "type": "object",
      "properties": {
        "signedUri": {
          "description": "Output only. Signed URI destination.",
          "$ref": "SignedUri",
          "readOnly": true
        }
      },
      "id": "XlsxOutputFile"
    },
    "ImportError": {
      "id": "ImportError",
      "description": "A resource that reports the errors encountered while processing an import job.",
      "type": "object",
      "properties": {
        "errorDetails": {
          "description": "The error information.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the error.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        }
      }
    },
    "DiskPartition": {
      "id": "DiskPartition",
      "description": "Disk Partition details.",
      "type": "object",
      "properties": {
        "mountPoint": {
          "description": "Mount point (Linux/Windows) or drive letter (Windows).",
          "type": "string"
        },
        "subPartitions": {
          "description": "Sub-partitions.",
          "$ref": "DiskPartitionList"
        },
        "type": {
          "description": "Partition type.",
          "type": "string"
        },
        "capacityBytes": {
          "format": "int64",
          "description": "Partition capacity.",
          "type": "string"
        },
        "uuid": {
          "description": "Partition UUID.",
          "type": "string"
        },
        "freeBytes": {
          "format": "int64",
          "description": "Partition free space.",
          "type": "string"
        },
        "fileSystem": {
          "description": "Partition file system.",
          "type": "string"
        }
      }
    },
    "AwsEc2PlatformDetails": {
      "description": "AWS EC2 specific details.",
      "type": "object",
      "properties": {
        "location": {
          "description": "The location of the machine in the AWS format.",
          "type": "string"
        },
        "machineTypeLabel": {
          "description": "AWS platform's machine type label.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Optional. Whether the machine is hyperthreaded.",
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        }
      },
      "id": "AwsEc2PlatformDetails"
    },
    "MySqlVariable": {
      "id": "MySqlVariable",
      "description": "MySql variable.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The variable value.",
          "type": "string"
        },
        "variable": {
          "description": "Required. The variable name.",
          "type": "string"
        },
        "category": {
          "description": "Required. The variable category.",
          "type": "string"
        }
      }
    },
    "VmwarePlatformDetails": {
      "description": "VMware specific details.",
      "type": "object",
      "properties": {
        "vcenterVersion": {
          "description": "vCenter version.",
          "type": "string"
        },
        "osid": {
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html.",
          "type": "string"
        },
        "esxVersion": {
          "description": "ESX version.",
          "type": "string"
        },
        "vcenterFolder": {
          "description": "Folder name in vCenter where asset resides.",
          "type": "string"
        },
        "vcenterUri": {
          "description": "vCenter URI used in collection.",
          "type": "string"
        },
        "vcenterVmId": {
          "description": "vCenter VM ID.",
          "type": "string"
        },
        "esxHyperthreading": {
          "description": "Whether the ESX is hyperthreaded.",
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        }
      },
      "id": "VmwarePlatformDetails"
    },
    "MemoryUsageSample": {
      "id": "MemoryUsageSample",
      "description": "Memory usage sample.",
      "type": "object",
      "properties": {
        "utilizedPercentage": {
          "format": "float",
          "description": "Percentage of system memory utilized. Must be in the interval [0, 100].",
          "type": "number"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "GuestInstalledApplicationList": {
      "id": "GuestInstalledApplicationList",
      "description": "Guest installed application list.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Application entries.",
          "type": "array",
          "items": {
            "$ref": "GuestInstalledApplication"
          }
        }
      }
    },
    "RemoveAssetsFromGroupRequest": {
      "description": "A request to remove assets from a group.",
      "type": "object",
      "properties": {
        "assets": {
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000.",
          "$ref": "AssetList"
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RemoveAssetsFromGroupRequest"
    },
    "ListImportDataFilesResponse": {
      "id": "ListImportDataFilesResponse",
      "description": "Response for listing payload files of an import job.",
      "type": "object",
      "properties": {
        "importDataFiles": {
          "items": {
            "$ref": "ImportDataFile"
          },
          "description": "The list of import data files.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "AssetsExportJobExecution": {
      "id": "AssetsExportJobExecution",
      "description": "Execution status of assets export job.",
      "type": "object",
      "properties": {
        "requestedAssetCount": {
          "description": "Output only. Number of assets requested for export after resolving the requested filters.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "executionId": {
          "description": "Output only. Globally unique identifier of the execution.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. Completion time of the export.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Execution timestamp.",
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. Expiration time for the export and artifacts.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "result": {
          "description": "Output only. Result of the export execution.",
          "$ref": "AssetsExportJobExecutionResult",
          "readOnly": true
        }
      }
    },
    "UpdateAssetRequest": {
      "id": "UpdateAssetRequest",
      "description": "A request to update an asset.",
      "type": "object",
      "properties": {
        "asset": {
          "description": "Required. The resource being updated.",
          "$ref": "Asset"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. Field mask is used to specify the fields to be overwritten in the `Asset` resource by the update. The values specified in the `update_mask` field are relative to the resource, not the full request. A field will be overwritten if it is in the mask. A single * value in the mask lets you to overwrite all fields.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "AggregationResultFrequency": {
      "id": "AggregationResultFrequency",
      "description": "The result of a frequency distribution aggregation.",
      "type": "object",
      "properties": {
        "values": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "SignedUriDestination": {
      "description": "Signed URI destination configuration.",
      "type": "object",
      "properties": {
        "fileFormat": {
          "description": "Required. The file format to export.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
            "XLSX file format which used in Excel."
          ],
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        }
      },
      "id": "SignedUriDestination"
    },
    "ReportSummaryVmwareNode": {
      "description": "A VMWare Engine Node",
      "type": "object",
      "properties": {
        "code": {
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes",
          "type": "string"
        }
      },
      "id": "ReportSummaryVmwareNode"
    },
    "InsightList": {
      "id": "InsightList",
      "description": "Message containing insights list.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. Update timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "insights": {
          "readOnly": true,
          "items": {
            "$ref": "Insight"
          },
          "description": "Output only. Insights of the list.",
          "type": "array"
        }
      }
    },
    "NetworkAdapterList": {
      "id": "NetworkAdapterList",
      "description": "List of network adapters.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Network adapter entries.",
          "type": "array",
          "items": {
            "$ref": "NetworkAdapterDetails"
          }
        }
      }
    },
    "ReportSummary": {
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report.",
      "type": "object",
      "properties": {
        "allAssetsStats": {
          "description": "Aggregate statistics for all the assets across all the groups.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "groupFindings": {
          "description": "Findings for each Group included in this report.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          }
        }
      },
      "id": "ReportSummary"
    },
    "PostgreSqlSetting": {
      "description": "PostgreSql setting.",
      "type": "object",
      "properties": {
        "setting": {
          "description": "Required. The setting name.",
          "type": "string"
        },
        "unit": {
          "description": "Optional. The setting unit.",
          "type": "string"
        },
        "realValue": {
          "description": "Required. The setting real value.",
          "type": "number",
          "format": "float"
        },
        "source": {
          "description": "Required. The setting source.",
          "type": "string"
        },
        "boolValue": {
          "description": "Required. The setting boolean value.",
          "type": "boolean"
        },
        "stringValue": {
          "description": "Required. The setting string value. Notice that enum values are stored as strings.",
          "type": "string"
        },
        "intValue": {
          "format": "int64",
          "description": "Required. The setting int value.",
          "type": "string"
        }
      },
      "id": "PostgreSqlSetting"
    },
    "CsvOutputFile": {
      "id": "CsvOutputFile",
      "description": "Contains a single output file of type CSV.",
      "type": "object",
      "properties": {
        "signedUri": {
          "description": "Output only. Signed URI destination.",
          "$ref": "SignedUri",
          "readOnly": true
        },
        "columnsCount": {
          "description": "Output only. Number of columns in the file.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "rowCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of rows in the file.",
          "type": "integer"
        }
      }
    },
    "PerformanceSample": {
      "description": "Performance data sample.",
      "type": "object",
      "properties": {
        "network": {
          "description": "Network usage sample.",
          "$ref": "NetworkUsageSample"
        },
        "memory": {
          "description": "Memory usage sample.",
          "$ref": "MemoryUsageSample"
        },
        "cpu": {
          "description": "CPU usage sample.",
          "$ref": "CpuUsageSample"
        },
        "disk": {
          "description": "Disk usage sample.",
          "$ref": "DiskUsageSample"
        },
        "sampleTime": {
          "format": "google-datetime",
          "description": "Time the sample was collected. If omitted, the frame report time will be used.",
          "type": "string"
        }
      },
      "id": "PerformanceSample"
    },
    "AssetsExportJob": {
      "id": "AssetsExportJob",
      "description": "Assets export job message.",
      "type": "object",
      "properties": {
        "performanceData": {
          "description": "Export asset with performance data.",
          "$ref": "AssetsExportJobPerformanceData"
        },
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "condition": {
          "description": "Optional. Conditions for selecting assets to export.",
          "$ref": "AssetsExportJobExportCondition"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Resource creation time.",
          "type": "string"
        },
        "name": {
[...]
