{
  "revision": "20260820",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "canonicalName": "Migration Center API",
  "title": "Migration Center API",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "version": "v1alpha1",
  "discoveryVersion": "v1",
  "name": "migrationcenter",
  "ownerDomain": "google.com",
  "id": "migrationcenter:v1alpha1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "AggregationResultHistogramBucket": {
      "id": "AggregationResultHistogramBucket",
      "properties": {
        "count": {
          "type": "string",
          "description": "Count of items in the bucket.",
          "format": "int64"
        },
        "lowerBound": {
          "type": "number",
          "format": "double",
          "description": "Lower bound - inclusive."
        },
        "upperBound": {
          "type": "number",
          "description": "Upper bound - exclusive.",
          "format": "double"
        }
      },
      "type": "object",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity."
    },
    "ImportDataFile": {
      "properties": {
        "uploadFileInfo": {
          "description": "Information about a file that is uploaded to a storage service.",
          "$ref": "UploadFileInfo"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "description": "Output only. The state of the import data file."
        },
        "format": {
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "description": "Required. The payload format.",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ]
        },
        "createTime": {
          "description": "Output only. The timestamp when the file was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the file.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-friendly display name. Maximum length is 256 characters."
        }
      },
      "type": "object",
      "description": "A resource that represents a payload file in an import job.",
      "id": "ImportDataFile"
    },
    "MachineDetails": {
      "id": "MachineDetails",
      "properties": {
        "architecture": {
          "description": "Architecture details (vendor, CPU architecture).",
          "$ref": "MachineArchitectureDetails"
        },
        "platform": {
          "description": "Platform specific information.",
          "$ref": "PlatformDetails"
        },
        "coreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of logical CPU cores in the machine. Must be non-negative."
        },
        "memoryMb": {
          "type": "integer",
          "description": "The amount of memory in the machine. Must be non-negative.",
          "format": "int32"
        },
        "network": {
          "description": "Network details.",
          "$ref": "MachineNetworkDetails"
        },
        "powerState": {
          "type": "string",
          "description": "Power state of the machine.",
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ]
        },
        "createTime": {
          "description": "Machine creation time.",
          "format": "google-datetime",
          "type": "string"
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        },
        "guestOs": {
          "$ref": "GuestOsDetails",
          "description": "Guest OS information."
        },
        "uuid": {
          "type": "string",
          "description": "Machine unique identifier."
        },
        "machineName": {
          "type": "string",
          "description": "Machine name."
        }
      },
      "description": "Details of a machine.",
      "type": "object"
    },
    "DailyResourceUsageAggregationDisk": {
      "properties": {
        "iops": {
          "description": "Disk I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "readIops": {
          "description": "Disk read I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "writeIops": {
          "description": "Disk write I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "description": "Statistical aggregation of disk usage.",
      "type": "object",
      "id": "DailyResourceUsageAggregationDisk"
    },
    "NfsExportList": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "NfsExport"
          },
          "description": "NFS export entries.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "NfsExportList",
      "description": "NFS exports."
    },
    "AwsAppSyncGraphqlApiDetails": {
      "description": "Asset information specific for AWS AppSync GraphQL APIs.",
      "type": "object",
      "properties": {},
      "id": "AwsAppSyncGraphqlApiDetails"
    },
    "ReportSummaryVMWareNode": {
      "properties": {
        "code": {
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ReportSummaryVMWareNode",
      "description": "A VMWare Engine Node"
    },
    "ReportSummaryMachineSeriesAllocation": {
      "description": "Represents a data point tracking the count of assets allocated for a specific Machine Series.",
      "properties": {
        "allocatedAssetCount": {
          "description": "Count of assets allocated to this machine series.",
          "format": "int64",
          "type": "string"
        },
        "machineSeries": {
          "description": "The Machine Series (e.g. \"E2\", \"N2\")",
          "$ref": "MachineSeries"
        }
      },
      "id": "ReportSummaryMachineSeriesAllocation",
      "type": "object"
    },
    "MySqlProperty": {
      "properties": {
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        },
        "numericValue": {
          "format": "int64",
          "description": "Required. The property numeric value.",
          "type": "string"
        },
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "MySql property.",
      "id": "MySqlProperty"
    },
    "BatchUpdateAssetsRequest": {
      "id": "BatchUpdateAssetsRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateAssetRequest"
          },
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.",
          "type": "array"
        }
      },
      "description": "A request to update a list of assets.",
      "type": "object"
    },
    "ComputeEngineMigrationTarget": {
      "id": "ComputeEngineMigrationTarget",
      "properties": {
        "shape": {
          "$ref": "ComputeEngineShapeDescriptor",
          "description": "Description of the suggested shape for the migration target."
        }
      },
      "type": "object",
      "description": "Compute engine migration target."
    },
    "DatabasePreferencesCloudSqlPostgreSql": {
      "type": "object",
      "description": "Preferences for PostgreSQL on Cloud SQL.",
      "properties": {
        "common": {
          "$ref": "DatabasePreferencesCloudSqlCommon",
          "description": "Optional. Preferences to Cloud SQL databases."
        }
      },
      "id": "DatabasePreferencesCloudSqlPostgreSql"
    },
    "ReportSummaryChartDataDataPoint": {
      "type": "object",
      "description": "Describes a single data point in the Chart.",
      "id": "ReportSummaryChartDataDataPoint",
      "properties": {
        "label": {
          "description": "The X-axis label for this data point.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "description": "The Y-axis value for this data point.",
          "format": "double"
        }
      }
    },
    "Relation": {
      "description": "Message representing a relation between 2 resource.",
      "id": "Relation",
      "type": "object",
      "properties": {
        "srcAsset": {
          "type": "string",
          "description": "Output only. The source asset name in the relation.",
          "readOnly": true
        },
        "dstAsset": {
          "readOnly": true,
          "description": "Output only. The destination asset name in the relation.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the relation was created.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The identifier of the relation."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "DBDeployment -> Database",
            "A relation between a machine/VM and the database deployment it hosts."
          ],
          "description": "Optional. The type of the relation.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "LOGICAL_DATABASE",
            "DATABASE_DEPLOYMENT_HOSTING_SERVER"
          ]
        }
      }
    },
    "CloudSqlForPostgreSqlShape": {
      "description": "Cloud SQL for PostgreSQL database shape.",
      "type": "object",
      "properties": {
        "zoneAvailability": {
          "description": "Output only. Cloud SQL zone availability.",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ]
        },
        "backupStorageGb": {
          "description": "Output only. Predicted backup storage size in GiB.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "memoryMb": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Predicted amount of memory in MiB.",
          "type": "integer"
        },
        "logicalCoreCount": {
          "type": "integer",
          "description": "Output only. Number of logical cores.",
          "readOnly": true,
          "format": "int32"
        },
        "egressGbPerMonth": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Predicted Network Out traffic GiB per month."
        },
        "edition": {
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "description": "Output only. Cloud SQL edition."
        },
        "storage": {
          "readOnly": true,
          "description": "Output only. Predicted storage shape.",
          "$ref": "ComputeStorageDescriptor"
        },
        "version": {
          "enum": [
            "POSTGRESQL_VERSION_UNSPECIFIED",
            "POSTGRESQL_VERSION_9_6",
            "POSTGRESQL_VERSION_10",
            "POSTGRESQL_VERSION_11",
            "POSTGRESQL_VERSION_12",
            "POSTGRESQL_VERSION_13",
            "POSTGRESQL_VERSION_14",
            "POSTGRESQL_VERSION_15"
          ],
          "description": "Output only. PostgreSql version to be used on the Cloud SQL for PostgreSql instance.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified PostgreSQL version.",
            "PostgreSQL 9.6.",
            "PostgreSQL 10",
            "PostgreSQL 11",
            "PostgreSQL 12",
            "PostgreSQL 13",
            "PostgreSQL 14",
            "PostgreSQL 15"
          ]
        }
      },
      "id": "CloudSqlForPostgreSqlShape"
    },
    "AwsS3BucketDetailsObjectsMetadataTotalObjects": {
      "id": "AwsS3BucketDetailsObjectsMetadataTotalObjects",
      "properties": {
        "value": {
          "format": "int32",
          "description": "Optional. The total number of objects in the bucket.",
          "type": "integer"
        }
      },
      "description": "Information about the total number of objects in the bucket.",
      "type": "object"
    },
    "SqlServerTraceFlag": {
      "id": "SqlServerTraceFlag",
      "description": "SQL Server trace flag details.",
      "type": "object",
      "properties": {
        "scope": {
          "enumDescriptions": [
            "Unspecified.",
            "Off.",
            "Global.",
            "Session."
          ],
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "OFF",
            "GLOBAL",
            "SESSION"
          ],
          "description": "Required. The trace flag scope."
        },
        "traceFlagName": {
          "description": "Required. The trace flag name.",
          "type": "string"
        }
      }
    },
    "ReportSummaryAssetAggregateStatsEstimatedUsageStats": {
      "properties": {
        "totalVirtualMachinesUsingEstimatedUsage": {
          "type": "string",
          "description": "Output only. The number of virtual machines in this finding that are using at least one estimated usage metric for rightsizing.",
          "readOnly": true,
          "format": "int64"
        },
        "totalAssetsUsingEstimatedUsage": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The number of assets that are using at least one estimated usage metric for rightsizing."
        }
      },
      "description": "Estimated usage stats for the assets in this collection.",
      "id": "ReportSummaryAssetAggregateStatsEstimatedUsageStats",
      "type": "object"
    },
    "ListPreferenceSetsResponse": {
      "description": "Response message for listing preference sets.",
      "id": "ListPreferenceSetsResponse",
      "properties": {
        "preferenceSets": {
          "type": "array",
          "description": "The list of PreferenceSets",
          "items": {
            "$ref": "PreferenceSet"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object"
    },
    "DatabasePreferences": {
      "type": "object",
      "description": "DatabasePreferences enables you to create sets of preferences for your migrated databases.",
      "id": "DatabasePreferences",
      "properties": {
        "postgresqlToCloudSqlForPostgresqlPreferences": {
          "$ref": "DatabasePreferencesCloudSqlPostgreSql",
          "description": "Optional. Preferences for target PostgreSQL on Cloud SQL when migrating from source PostgreSQL."
        },
        "mysqlToCloudSqlForMysqlPreferences": {
          "description": "Optional. Preferences for target MySQL on Cloud SQL when migrating from source MySQL.",
          "$ref": "DatabasePreferencesCloudSqlMySql"
        },
        "mssqlToCloudSqlForSqlServerPreferences": {
          "$ref": "DatabasePreferencesCloudSqlSqlServer",
          "description": "Optional. Preferences for target SQL Server on Cloud SQL when migrating from source Microsoft SQL server."
        }
      }
    },
    "DatabaseDeploymentDetailsAggregatedStats": {
      "description": "Aggregated stats for the database deployment.",
      "id": "DatabaseDeploymentDetailsAggregatedStats",
      "properties": {
        "databaseCount": {
          "description": "Output only. The number of databases in the deployment.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "AwsGlueJobDetails": {
      "description": "Contains details for an AWS Glue Job asset.",
      "id": "AwsGlueJobDetails",
      "type": "object",
      "properties": {}
    },
    "VirtualMachineArchitectureDetails": {
      "description": "Details of the VM architecture.",
      "id": "VirtualMachineArchitectureDetails",
      "type": "object",
      "properties": {
        "cpuSocketCount": {
          "format": "int32",
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer"
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "cpuThreadCount": {
          "format": "int32",
          "type": "integer",
          "description": "Deprecated: use VirtualMachineDetails.core_count instead. Number of CPU threads allocated to the machine.",
          "deprecated": true
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "hyperthreading": {
          "type": "string",
          "description": "CPU hyperthreading support.",
          "enumDescriptions": [
            "Unknown (default value).",
            "Hyperthreading is disabled.",
            "Hyperthreading is enabled."
          ],
          "enum": [
            "HYPER_THREADING_UNSPECIFIED",
            "HYPER_THREADING_DISABLED",
            "HYPER_THREADING_ENABLED"
          ]
        },
        "cpuManufacturer": {
          "description": "CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "bios": {
          "$ref": "BiosDetails",
          "description": "BIOS Details."
        },
        "vendor": {
          "type": "string",
          "description": "Hardware vendor."
        },
        "firmware": {
          "description": "Firmware (BIOS/efi).",
          "type": "string"
        }
      }
    },
    "ReportSummaryUtilizationChartData": {
      "properties": {
        "used": {
          "type": "string",
          "description": "Aggregate value which falls into the \"Used\" bucket.",
          "format": "int64"
        },
        "free": {
          "format": "int64",
          "description": "Aggregate value which falls into the \"Free\" bucket.",
          "type": "string"
        }
      },
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets.",
      "type": "object",
      "id": "ReportSummaryUtilizationChartData"
    },
    "ExecutionReport": {
      "id": "ExecutionReport",
      "properties": {
        "framesReported": {
          "description": "Total number of asset frames reported for the import job.",
          "format": "int32",
          "type": "integer"
        },
        "totalRowsCount": {
          "format": "int32",
          "description": "Total number of rows in the import job.",
          "type": "integer"
        },
        "executionErrors": {
          "description": "Validation errors encountered during the execution of the import job.",
          "$ref": "ValidationReport"
        },
        "jobErrors": {
          "deprecated": true,
          "type": "array",
          "description": "List of job-level errors. Deprecated, use the job errors under execution_errors instead.",
          "items": {
            "$ref": "ImportError"
          }
        }
      },
      "type": "object",
      "description": "A resource that reports result of the import job execution."
    },
    "AssetsExportJobPerformanceData": {
      "description": "Configuration for performance data exports.",
      "id": "AssetsExportJobPerformanceData",
      "type": "object",
      "properties": {
        "maxDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used."
        }
      }
    },
    "AssetsExportJobNetworkDependencies": {
      "description": "Configuration for network dependencies exports.",
      "id": "AssetsExportJobNetworkDependencies",
      "properties": {},
      "type": "object"
    },
    "ReportSummaryMachineFinding": {
      "description": "A set of findings that applies to assets of type Virtual/Physical Machine.",
      "id": "ReportSummaryMachineFinding",
      "properties": {
        "machineSeriesAllocations": {
          "type": "array",
          "description": "Distribution of assets based on the Machine Series.",
          "items": {
            "$ref": "ReportSummaryMachineSeriesAllocation"
          }
        },
        "allocatedRegions": {
          "items": {
            "type": "string"
          },
          "description": "Set of regions in which the assets were allocated.",
          "type": "array"
        },
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Count of assets which were allocated.",
          "type": "string"
        },
        "allocatedDiskTypes": {
          "description": "@deprecated. Use storage_allocations instead. Set of disk types allocated to assets.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified. Fallback to default value based on context.",
              "Standard HDD Persistent Disk.",
              "Balanced Persistent Disk.",
              "SSD Persistent Disk."
            ],
            "enum": [
              "PERSISTENT_DISK_TYPE_UNSPECIFIED",
              "PERSISTENT_DISK_TYPE_STANDARD",
              "PERSISTENT_DISK_TYPE_BALANCED",
              "PERSISTENT_DISK_TYPE_SSD"
            ]
          },
          "deprecated": true
        }
      },
      "type": "object"
    },
    "GenericInsight": {
      "properties": {
        "messageId": {
          "type": "string",
          "description": "Output only. Represents a globally unique message id for this insight, can be used for localization purposes, in case message_code is not yet known by the client use default_message instead.",
          "readOnly": true,
          "format": "int64"
        },
        "defaultMessage": {
          "readOnly": true,
          "description": "Output only. In case message_code is not yet known by the client default_message will be the message to be used instead. Text can contain md file style links.",
          "type": "string"
        },
        "additionalInformation": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Additional information about the insight, each entry can be a logical entry and must make sense if it is displayed with line breaks between each entry. Text can contain md style links."
        }
      },
      "type": "object",
      "id": "GenericInsight",
      "description": "A generic insight about an asset."
    },
    "RunAssetsExportJobRequest": {
      "type": "object",
      "description": "A request to run an assets export job.",
      "id": "RunAssetsExportJobRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "ReportSummaryGroupPreferenceSetFinding": {
      "type": "object",
      "description": "Summary Findings for a specific Group/PreferenceSet combination.",
      "id": "ReportSummaryGroupPreferenceSetFinding",
      "properties": {
        "monthlyCostDatabaseBackup": {
          "$ref": "Money",
          "description": "Output only. Backup monthly cost for this preference set. Only present for databases.",
          "readOnly": true
        },
        "databaseFinding": {
          "$ref": "ReportSummaryDatabaseFinding",
          "readOnly": true,
          "description": "Output only. Details about databases in this finding. Only present for databases."
        },
        "description": {
          "type": "string",
          "description": "Description for the Preference Set."
        },
        "soleTenantFinding": {
          "description": "A set of findings that applies to Stole-Tenant machines in the input. Only present for virtual machines.",
          "$ref": "ReportSummarySoleTenantFinding"
        },
        "topPriority": {
          "type": "string",
          "description": "Text describing the business priority specified for this Preference Set",
          "deprecated": true
        },
        "preferredRegion": {
          "deprecated": true,
          "description": "Target region for this Preference Set",
          "type": "string"
        },
        "monthlyCostCompute": {
          "description": "Output only. Compute monthly cost for this preference set.",
          "readOnly": true,
          "$ref": "Money"
        },
        "monthlyCostOther": {
          "$ref": "Money",
          "description": "Output only. Miscellaneous monthly cost for this preference set.",
          "readOnly": true
        },
        "monthlyCostNetworkEgress": {
          "description": "Output only. Network Egress monthly cost for this preference set. Only present for virtual machines.",
          "readOnly": true,
          "$ref": "Money"
        },
        "monthlyCostGcveProtected": {
          "$ref": "Money",
          "readOnly": true,
          "description": "Output only. GCVE Protected nodes cost for this preference set."
        },
        "monthlyCostPortableVmwareLicense": {
          "readOnly": true,
          "description": "Output only. VMware portable license monthly cost for this preference set. Only present for VMware target with portable license service type. This cost is not paid to google, but is an estimate of license costs paid to VMware.",
          "$ref": "Money"
        },
        "monthlyCostDatabaseLicensing": {
          "$ref": "Money",
          "description": "Output only. Database licensing monthly cost for this preference set. Only present for databases.",
          "readOnly": true
        },
        "machinePreferences": {
          "description": "A set of preferences that applies to all machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "monthlyCostTotal": {
          "$ref": "Money",
          "description": "Output only. Total monthly cost for this preference set.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Display Name of the Preference Set"
        },
        "vmwareEngineFinding": {
          "description": "A set of findings that applies to VMWare machines in the input. Only present for virtual machines.",
          "$ref": "ReportSummaryVMWareEngineFinding"
        },
        "pricingTrack": {
          "type": "string",
          "description": "Text describing the pricing track specified for this Preference Set",
          "deprecated": true
        },
        "monthlyCostStorage": {
          "readOnly": true,
          "description": "Output only. Storage monthly cost for this preference set.",
          "$ref": "Money"
        },
        "preferenceSet": {
          "readOnly": true,
          "$ref": "PreferenceSet",
          "description": "Output only. A copy of the preference set used for this finding."
        },
        "machineFinding": {
          "description": "Output only. A set of findings that applies to all virtual machines in the input. Only present for virtual machines.",
          "$ref": "ReportSummaryMachineFinding",
          "readOnly": true
        },
        "monthlyCostOsLicense": {
          "readOnly": true,
          "description": "Output only. All operating systems licensing monthly cost for this preference set. Only present for virtual machines.",
          "$ref": "Money"
        }
      }
    },
    "BiosDetails": {
      "properties": {
        "id": {
          "type": "string",
          "description": "BIOS ID."
        },
        "biosReleaseDate": {
          "type": "string",
          "description": "BIOS release date."
        },
        "manufacturer": {
          "type": "string",
          "description": "BIOS manufacturer."
        },
        "biosVersion": {
          "type": "string",
          "description": "BIOS version."
        },
        "biosManufacturer": {
          "type": "string",
          "description": "BIOS manufacturer."
        },
        "biosName": {
          "description": "BIOS name.",
          "type": "string"
        },
        "smbiosUuid": {
          "description": "SMBIOS UUID.",
          "type": "string"
        },
        "releaseTime": {
          "description": "BIOS release date.",
          "format": "google-datetime",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "BIOS version."
        }
      },
      "id": "BiosDetails",
      "type": "object",
      "description": "Details about the BIOS."
    },
    "NfsExport": {
      "properties": {
        "exportDirectory": {
          "description": "The directory being exported.",
          "type": "string"
        },
        "hosts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The hosts or networks to which the export is being shared."
        }
      },
      "description": "NFS export.",
      "type": "object",
      "id": "NfsExport"
    },
    "ImportRowErrorXlsxErrorDetails": {
      "id": "ImportRowErrorXlsxErrorDetails",
      "type": "object",
      "properties": {
        "sheet": {
          "type": "string",
          "description": "The name of the sheet where the error was detected."
        },
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Error details for an XLSX file."
    },
    "CloudSqlForMySqlShape": {
      "description": "Cloud SQL for MySQL database shape.",
      "type": "object",
      "id": "CloudSqlForMySqlShape",
      "properties": {
        "edition": {
          "description": "Output only. Cloud SQL edition.",
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "type": "string",
          "readOnly": true
        },
        "storage": {
          "description": "Output only. Predicted storage shape.",
          "readOnly": true,
          "$ref": "ComputeStorageDescriptor"
        },
        "version": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified MySQL version.",
            "MySQL 5.6.",
            "MySQL 5.7.",
            "MySQL 8.0."
          ],
          "description": "Output only. MySQL version to be used on the Cloud SQL for MySQL instance.",
          "enum": [
            "MY_SQL_VERSION_UNSPECIFIED",
            "MY_SQL_VERSION_5_6",
            "MY_SQL_VERSION_5_7",
            "MY_SQL_VERSION_8_0"
          ]
        },
        "memoryMb": {
          "description": "Output only. Predicted amount of memory in MiB.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "backupStorageGb": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Predicted backup storage size in GiB.",
          "format": "int32"
        },
        "logicalCoreCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of logical cores.",
          "type": "integer"
        },
        "egressGbPerMonth": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "format": "int64"
        },
        "zoneAvailability": {
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "type": "string",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "description": "Output only. Cloud SQL zone availability.",
          "readOnly": true
        }
      }
    },
    "DailyResourceUsageAggregation": {
      "description": "Usage data aggregation for a single day.",
      "type": "object",
      "id": "DailyResourceUsageAggregation",
      "properties": {
        "disk": {
          "description": "Disk usage.",
          "$ref": "DailyResourceUsageAggregationDisk"
        },
        "network": {
          "description": "Network usage.",
          "$ref": "DailyResourceUsageAggregationNetwork"
        },
        "memory": {
          "description": "Memory usage.",
          "$ref": "DailyResourceUsageAggregationMemory"
        },
        "cpu": {
          "$ref": "DailyResourceUsageAggregationCPU",
          "description": "CPU usage."
        },
        "date": {
          "description": "Aggregation date. Day boundaries are at midnight UTC.",
          "$ref": "Date"
        }
      }
    },
    "DiscoveryClientDiscoveryClientRecommendedVersion": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Output only. The version of the discovery client.",
          "readOnly": true
        },
        "uri": {
          "description": "Output only. The URI of the discovery client version.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "DiscoveryClientDiscoveryClientRecommendedVersion",
      "type": "object",
      "description": "Discovery client recommended version."
    },
    "GuestOsDetails": {
      "description": "Information from Guest-level collections.",
      "properties": {
        "runtime": {
          "description": "Runtime information.",
          "$ref": "GuestRuntimeDetails"
        },
        "config": {
          "description": "OS and app configuration.",
          "$ref": "GuestConfigDetails"
        },
        "osName": {
          "description": "The name of the operating system.",
          "type": "string"
        },
        "version": {
          "description": "The version of the operating system.",
          "type": "string"
        },
        "family": {
          "description": "What family the OS belong to, if known.",
          "type": "string",
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ],
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ]
        }
      },
      "type": "object",
      "id": "GuestOsDetails"
    },
    "DatabasePreferencesCloudSqlSqlServer": {
      "description": "Preferences for SQL Server on Cloud SQL.",
      "properties": {
        "multithreading": {
          "enum": [
            "MULTITHREADING_UNSPECIFIED",
            "MULTITHREADING_DISABLED",
            "MULTITHREADING_ENABLED",
            "MULTITHREADING_DISABLED_WITH_COMPENSATION"
          ],
          "description": "Optional. Preferences for multithreading support.",
          "type": "string",
          "enumDescriptions": [
            "Same as MULTITHREADING_AUTO.",
            "Disable simultaneous multithreading.",
            "Enable simultaneous multithreading.",
            "Disable simultaneous multithreading and increase number of VCPUs to compensate."
          ]
        },
        "common": {
          "description": "Optional. Preferences to Cloud SQL databases.",
          "$ref": "DatabasePreferencesCloudSqlCommon"
        },
        "versionType": {
          "description": "Optional. Edition of Microsoft SQL version that is used on a Cloud SQL for SQL server instance.",
          "enum": [
            "VERSION_TYPE_UNSPECIFIED",
            "VERSION_TYPE_AUTO",
            "VERSION_TYPE_EXPRESS",
            "VERSION_TYPE_WEB",
            "VERSION_TYPE_STANDARD",
            "VERSION_TYPE_ENTERPRISE"
          ],
          "enumDescriptions": [
            "Unspecified SQL Server version type.",
            "Version will be deduced from the source asset.",
            "Version will be one of \"Express\" versions.",
            "Version will be one of \"Web\" versions.",
            "Version will be one of \"Standard\" versions.",
            "Version will be one of \"Enterprise\" versions."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "DatabasePreferencesCloudSqlSqlServer"
    },
    "AggregationSum": {
      "id": "AggregationSum",
      "type": "object",
      "description": "Sum of field values.",
      "properties": {}
    },
    "NetworkAdapterList": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "NetworkAdapterDetails"
          },
          "description": "Network adapter entries.",
          "type": "array"
        },
        "networkAdapters": {
          "description": "Network adapter descriptions.",
          "type": "array",
          "items": {
            "$ref": "NetworkAdapterDetails"
          }
        }
      },
      "type": "object",
      "id": "NetworkAdapterList",
      "description": "List of network adapters."
    },
    "VirtualMachinePreferencesNetworkCostParameters": {
      "id": "VirtualMachinePreferencesNetworkCostParameters",
      "type": "object",
      "properties": {
        "estimatedEgressTrafficPercentage": {
          "format": "int32",
          "description": "Optional. An estimated percentage of priced outbound traffic (egress traffic) from the measured outbound traffic. Must be in the interval [0, 100].",
          "type": "integer"
        }
      },
      "description": "Parameters that affect network cost estimations."
    },
    "DatabaseInstance": {
      "description": "Details of a database instance.",
      "type": "object",
      "properties": {
        "network": {
          "$ref": "DatabaseInstanceNetwork",
          "description": "Optional. Networking details."
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "ARBITER"
          ],
          "description": "The instance role in the database engine.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Primary.",
            "Secondary.",
            "Arbiter."
          ]
        },
        "instanceName": {
          "type": "string",
          "description": "The instance's name."
        }
      },
      "id": "DatabaseInstance"
    },
    "BatchDeleteAssetsRequest": {
      "properties": {
        "names": {
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`."
        },
        "cascadingRules": {
          "type": "array",
          "description": "Optional. Optional cascading rules for deleting related assets.",
          "items": {
            "$ref": "CascadingRule"
          }
        }
      },
      "description": "A request to delete a list of asset.",
      "type": "object",
      "id": "BatchDeleteAssetsRequest"
    },
    "DailyResourceUsageAggregationCPU": {
      "description": "Statistical aggregation of CPU usage.",
      "id": "DailyResourceUsageAggregationCPU",
      "type": "object",
      "properties": {
        "utilizationPercentage": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "CPU utilization percentage."
        }
      }
    },
    "SoleTenantNodeType": {
      "type": "object",
      "description": "A Sole Tenant node type.",
      "id": "SoleTenantNodeType",
      "properties": {
        "nodeName": {
          "description": "Name of the Sole Tenant node. Consult https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes",
          "type": "string"
        }
      }
    },
    "DiskEntryList": {
      "description": "VM disks.",
      "id": "DiskEntryList",
      "properties": {
        "entries": {
          "items": {
            "$ref": "DiskEntry"
          },
          "description": "Disk entries.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GuestRuntimeDetails": {
      "type": "object",
      "id": "GuestRuntimeDetails",
      "properties": {
        "lastUptime": {
          "$ref": "Date",
          "description": "Date since last booted (last uptime date)."
        },
        "openFileList": {
          "$ref": "OpenFileList",
          "description": "Open files information."
        },
        "domain": {
          "type": "string",
          "description": "Domain, e.g. c.stratozone-development.internal."
        },
        "processes": {
          "description": "Running processes.",
          "$ref": "RunningProcessList"
        },
        "installedApps": {
          "description": "Installed applications information.",
          "$ref": "GuestInstalledApplicationList"
        },
        "networkInfo": {
          "$ref": "RuntimeNetworkInfo",
          "description": "Runtime network information (connections, ports)."
        },
        "machineName": {
          "type": "string",
          "description": "Machine name."
        },
        "lastBootTime": {
          "description": "Last time the OS was booted.",
          "type": "string",
          "format": "google-datetime"
        },
        "services": {
          "description": "Running background services.",
          "$ref": "RunningServiceList"
        }
      },
      "description": "Guest OS runtime information."
    },
    "AssetsExportJob": {
      "id": "AssetsExportJob",
      "properties": {
        "signedUriDestination": {
          "$ref": "SignedUriDestination",
          "description": "Export to Cloud Storage files downloadable using signed URIs."
        },
        "condition": {
          "description": "Optional. Conditions for selecting assets to export.",
          "$ref": "AssetsExportJobExportCondition"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. Resource name."
        },
        "recentExecutions": {
          "description": "Output only. Recent non expired executions of the job.",
          "readOnly": true,
          "items": {
            "$ref": "AssetsExportJobExecution"
          },
          "type": "array"
        },
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "inventory": {
          "description": "Export asset inventory details.",
          "$ref": "AssetsExportJobInventory"
        },
        "performanceData": {
          "description": "Export asset with performance data.",
          "$ref": "AssetsExportJobPerformanceData"
        },
        "networkDependencies": {
          "description": "Export data regarding asset network dependencies.",
          "$ref": "AssetsExportJobNetworkDependencies"
        },
        "updateTime": {
          "description": "Output only. Resource update time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource creation time."
        }
      },
      "description": "Assets export job message.",
      "type": "object"
    },
    "HostsEntryList": {
      "id": "HostsEntryList",
      "type": "object",
      "description": "Hosts content.",
      "properties": {
        "entries": {
          "readOnly": true,
          "description": "Output only. Hosts entries.",
          "items": {
            "$ref": "HostsEntry"
          },
          "type": "array"
        }
      }
    },
    "AggregateAssetsValuesRequest": {
      "id": "AggregateAssetsValuesRequest",
      "properties": {
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "aggregations": {
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined.",
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          }
        },
        "filter": {
          "type": "string",
          "description": "Optional. The aggregation will be performed on assets that match the provided filter."
        }
      },
      "description": "A request to aggregate one or more values.",
      "type": "object"
    },
    "VMwareEngineMachinePreferences": {
      "id": "VMwareEngineMachinePreferences",
      "type": "object",
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations for VMware Engine. Not all machine types are available in all zones and regions.",
      "properties": {
        "allowedMachineSeries": {
          "type": "array",
          "items": {
            "$ref": "MachineSeries"
          },
          "description": "Optional. VMware Engine on Google Cloud machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series."
        },
        "protectedNodes": {
          "description": "Optional. Whether to use VMware Engine Protected offering.",
          "enumDescriptions": [
            "Unspecified protected nodes preference.",
            "Use only protected nodes for the selected allowed_machine_series.",
            "Do not use protected nodes."
          ],
          "type": "string",
          "enum": [
            "PROTECTED_NODES_UNSPECIFIED",
            "PROTECTED_NODES_ENABLED",
            "PROTECTED_NODES_DISABLED"
          ]
        },
        "storageOnlyNodes": {
          "description": "Optional. Whether to use storage-only nodes, if those are available.",
          "enum": [
            "STORAGE_ONLY_NODES_UNSPECIFIED",
            "STORAGE_ONLY_NODES_ENABLED",
            "STORAGE_ONLY_NODES_DISABLED"
          ],
          "enumDescriptions": [
            "Unspecified storage-only nodes preference.",
            "Use storage-only nodes for selected allowed_machine_series, if available.",
            "Do not use storage-only nodes."
          ],
          "type": "string"
        }
      }
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      },
      "id": "Location"
    },
    "ListSourcesResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "sources": {
          "description": "The list of sources.",
          "items": {
            "$ref": "Source"
          },
          "type": "array"
        }
      },
      "id": "ListSourcesResponse",
      "type": "object",
      "description": "Response message for listing sources."
    },
    "GCSPayloadInfo": {
      "type": "object",
      "id": "GCSPayloadInfo",
      "properties": {
        "format": {
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "description": "The import job format.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ]
        },
        "path": {
          "description": "The payload path in Google Cloud Storage.",
          "type": "string"
        }
      },
      "description": "A resource that represents a payload hosted on Google Cloud Storage."
    },
    "ResourceLocation": {
      "id": "ResourceLocation",
      "properties": {
        "region": {
          "type": "string",
          "description": "Optional. The name of the region."
        }
      },
      "type": "object",
      "description": "Location of a resource."
    },
    "AwsEcrRepositoryDetails": {
      "properties": {},
      "type": "object",
      "description": "Asset information specific for AWS ECR Repository.",
      "id": "AwsEcrRepositoryDetails"
    },
    "DiskPartitionDetails": {
      "type": "object",
      "id": "DiskPartitionDetails",
      "properties": {
        "partitions": {
          "$ref": "DiskPartitionList",
          "description": "Optional. List of partitions."
        },
        "totalCapacityBytes": {
          "description": "Output only. Total capacity of all partitions.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "freeSpaceBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total free space of all partitions.",
          "format": "int64"
        }
      },
      "description": "Disk partition details."
    },
    "DatabaseDeploymentTopology": {
      "description": "Details of database deployment's topology.",
      "id": "DatabaseDeploymentTopology",
      "type": "object",
      "properties": {
        "instances": {
          "description": "Optional. List of database instances.",
          "items": {
            "$ref": "DatabaseInstance"
          },
          "type": "array"
        },
        "memoryLimitBytes": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Total memory in bytes limited by db deployment."
        },
        "physicalCoreLimit": {
          "type": "integer",
          "description": "Optional. Number of total physical cores limited by db deployment.",
          "format": "int32"
        },
        "coreCount": {
          "type": "integer",
          "description": "Optional. Number of total logical cores.",
          "format": "int32"
        },
        "diskUsedBytes": {
          "type": "string",
          "description": "Optional. Disk used in bytes.",
          "format": "int64"
        },
        "diskAllocatedBytes": {
          "format": "int64",
          "description": "Optional. Disk allocated in bytes.",
          "type": "string"
        },
        "physicalCoreCount": {
          "description": "Optional. Number of total physical cores.",
          "format": "int32",
          "type": "integer"
        },
        "memoryBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Total memory in bytes."
        },
        "coreLimit": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Number of total logical cores limited by db deployment."
        }
      }
    },
    "AwsS3BucketDetailsObjectsMetadata": {
      "properties": {
        "totalObjects": {
          "description": "Optional. The total number of objects in the bucket.",
          "$ref": "AwsS3BucketDetailsObjectsMetadataTotalObjects"
        }
      },
      "id": "AwsS3BucketDetailsObjectsMetadata",
      "type": "object",
      "description": "The metadata of the objects in the bucket."
    },
    "VmwarePlatformDetails": {
      "properties": {
        "osid": {
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html.",
          "type": "string"
        },
        "vcenterVersion": {
          "description": "vCenter version.",
          "type": "string"
        },
        "vcenterVmId": {
          "type": "string",
          "description": "vCenter VM ID."
        },
        "esxHyperthreading": {
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Whether the ESX is hyperthreaded."
        },
        "vcenterUri": {
          "description": "vCenter URI used in collection.",
          "type": "string"
        },
        "esxVersion": {
          "description": "ESX version.",
          "type": "string"
        },
        "vcenterFolder": {
          "description": "Folder name in vCenter where asset resides.",
          "type": "string"
        }
      },
      "id": "VmwarePlatformDetails",
      "type": "object",
      "description": "VMware specific details."
    },
    "SoleTenancyPreferences": {
      "properties": {
        "nodeTypes": {
          "type": "array",
          "description": "A list of sole tenant node types. An empty list means that all possible node types will be considered.",
          "items": {
            "$ref": "SoleTenantNodeType"
          }
        },
        "hostMaintenancePolicy": {
          "type": "string",
          "enum": [
            "HOST_MAINTENANCE_POLICY_UNSPECIFIED",
            "HOST_MAINTENANCE_POLICY_DEFAULT",
            "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE",
            "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          ],
          "description": "Sole Tenancy nodes maintenance policy.",
          "enumDescriptions": [
            "Unspecified host maintenance policy.",
            "Default host maintenance policy.",
            "Restart in place host maintenance policy.",
            "Migrate within node group host maintenance policy."
          ]
        },
        "commitmentPlan": {
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR",
            "COMMITMENT_3_YEAR",
            "COMMITMENT_FLEXIBLE_1_YEAR",
            "COMMITMENT_FLEXIBLE_3_YEAR"
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "type": "string"
        },
        "cpuOvercommitRatio": {
          "type": "number",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 2.0 inclusive.",
          "format": "double"
        },
        "osPricingPreferences": {
          "$ref": "OperatingSystemPricingPreferences",
          "description": "Optional. Pricing options for OS images."
        }
      },
      "id": "SoleTenancyPreferences",
      "type": "object",
      "description": "Preferences concerning Sole Tenancy nodes and VMs."
    },
    "Aggregation": {
      "properties": {
        "count": {
          "description": "Count the number of matching objects.",
          "$ref": "AggregationCount"
        },
        "field": {
          "description": "The name of the field on which to aggregate.",
          "type": "string"
        },
        "histogram": {
          "description": "Creates a bucketed histogram of field values.",
          "$ref": "AggregationHistogram"
        },
        "frequency": {
          "$ref": "AggregationFrequency",
          "description": "Creates a frequency distribution of all field values."
        },
        "sum": {
          "$ref": "AggregationSum",
          "description": "Sum over a numeric field."
        }
      },
      "id": "Aggregation",
      "description": "Message describing an aggregation. The message includes the aggregation type, parameters, and the field on which to perform the aggregation.",
      "type": "object"
    },
    "AwsEfsFileSystemDetails": {
      "id": "AwsEfsFileSystemDetails",
      "type": "object",
      "properties": {},
      "description": "Details of an AWS EFS file system."
    },
    "MigrationInsight": {
      "properties": {
        "computeEngineSoleTenantTarget": {
          "readOnly": true,
          "description": "Output only. A Google Compute Engine Sole Tenant target.",
          "$ref": "ComputeEngineSoleTenantMigrationTarget"
        },
        "computeEngineTarget": {
          "$ref": "ComputeEngineMigrationTarget",
          "readOnly": true,
          "description": "Output only. A Google Compute Engine target."
        },
        "gkeTarget": {
          "readOnly": true,
          "$ref": "GoogleKubernetesEngineMigrationTarget",
          "description": "Output only. A Google Kubernetes Engine target."
        },
        "cloudDatabaseTarget": {
          "description": "Output only. A Cloud database migration target.",
          "$ref": "CloudDatabaseMigrationTarget",
          "readOnly": true
        },
        "issues": {
          "description": "Output only. Issues associated with this migration.",
          "items": {
            "$ref": "Issue"
          },
          "type": "array",
          "readOnly": true
        },
        "fit": {
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration.",
          "$ref": "FitDescriptor",
          "readOnly": true
        },
        "vmwareEngineTarget": {
          "description": "Output only. A VMWare Engine target.",
          "readOnly": true,
          "$ref": "VmwareEngineMigrationTarget"
        }
      },
      "description": "An insight about potential migrations for an asset.",
      "type": "object",
      "id": "MigrationInsight"
    },
    "MySqlPlugin": {
      "description": "MySql plugin.",
      "type": "object",
      "id": "MySqlPlugin",
      "properties": {
        "version": {
          "description": "Required. The plugin version.",
          "type": "string"
        },
        "plugin": {
          "description": "Required. The plugin name.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The plugin is active."
        }
      }
    },
    "PreferenceSet": {
      "description": "The preferences that apply to all assets in a given context.",
      "type": "object",
      "id": "PreferenceSet",
      "properties": {
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the preference set was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the preference set was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "databasePreferences": {
          "description": "Optional. A set of preferences that applies to all databases in the context.",
          "$ref": "DatabasePreferences"
        },
        "description": {
          "description": "A description of the preference set.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the PreferenceSet."
        },
        "virtualMachinePreferences": {
          "$ref": "VirtualMachinePreferences",
          "description": "A set of preferences that applies to all virtual machines in the context."
        },
        "regionPreferences": {
          "description": "Optional. Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If unspecified, VirtualMachinePreferences.RegionPreferences is used.",
          "$ref": "RegionPreferences"
        }
      }
    },
    "Report": {
      "properties": {
        "summary": {
          "$ref": "ReportSummary",
          "readOnly": true,
          "description": "Output only. Summary view of the Report."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation timestamp.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Last update timestamp.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "name": {
          "description": "Output only. Name of resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ],
          "description": "Report type.",
          "enumDescriptions": [
            "Default report type.",
            "Total cost of ownership report type."
          ]
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Report creation state.",
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ]
        },
        "description": {
          "type": "string",
          "description": "Free-text description."
        }
      },
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "type": "object",
      "id": "Report"
    },
    "ListImportDataFilesResponse": {
      "id": "ListImportDataFilesResponse",
      "type": "object",
      "description": "Response for listing payload files of an import job.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "importDataFiles": {
          "description": "The list of import data files.",
          "items": {
            "$ref": "ImportDataFile"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        }
      },
      "id": "OperationMetadata"
    },
    "DiskEntry": {
      "description": "Single disk entry.",
      "id": "DiskEntry",
      "type": "object",
      "properties": {
        "interfaceType": {
          "description": "Disks interface type (e.g. SATA/SCSI)",
          "type": "string"
        },
        "totalCapacityBytes": {
          "description": "Disk capacity.",
          "format": "int64",
          "type": "string"
        },
        "totalFreeBytes": {
          "format": "int64",
          "description": "Disk free space.",
          "type": "string"
        },
        "freeSpaceBytes": {
          "description": "Disk free space.",
          "type": "string",
          "format": "int64"
        },
        "diskLabelType": {
          "description": "Disk label type (e.g. BIOS/GPT)",
          "type": "string"
        },
        "diskLabel": {
          "type": "string",
          "description": "Disk label."
        },
        "hwAddress": {
          "type": "string",
          "description": "Disk hardware address (e.g. 0:1 for SCSI)."
        },
        "status": {
          "description": "Disk status (e.g. online).",
          "type": "string"
        },
        "capacityBytes": {
          "format": "int64",
          "type": "string",
          "description": "Disk capacity."
        },
        "partitions": {
          "$ref": "DiskPartitionList",
          "description": "Partition layout."
        }
      }
    },
    "DatabaseDetails": {
      "id": "DatabaseDetails",
      "properties": {
        "databaseName": {
          "description": "The name of the database.",
          "type": "string"
        },
        "allocatedStorageBytes": {
          "description": "The allocated storage for the database in bytes.",
          "type": "string",
          "format": "int64"
        },
        "parentDatabaseDeployment": {
          "description": "The parent database deployment that contains the logical database.",
          "$ref": "DatabaseDetailsParentDatabaseDeployment"
        },
        "schemas": {
          "type": "array",
          "description": "The database schemas.",
          "items": {
            "$ref": "DatabaseSchema"
          }
        }
      },
      "description": "Details of a logical database.",
      "type": "object"
    },
    "ReportSummaryChartData": {
      "description": "Describes a collection of data points rendered as a Chart.",
      "properties": {
        "dataPoints": {
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value.",
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          },
          "type": "array"
        }
      },
      "id": "ReportSummaryChartData",
      "type": "object"
    },
    "ValidateImportJobRequest": {
      "id": "ValidateImportJobRequest",
      "description": "A request to validate an import job.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "DatabaseDeploymentDetails": {
      "description": "The details of a database deployment asset.",
      "type": "object",
      "properties": {
        "awsRds": {
          "$ref": "AwsRds",
          "description": "Optional. Details of an AWS RDS instance."
        },
        "mysql": {
          "$ref": "MysqlDatabaseDeployment",
          "description": "Details of a MYSQL database deployment."
        },
        "aggregatedStats": {
          "readOnly": true,
          "$ref": "DatabaseDeploymentDetailsAggregatedStats",
          "description": "Output only. Aggregated stats for the database deployment."
        },
        "sqlServer": {
          "$ref": "SqlServerDatabaseDeployment",
          "description": "Details of a Microsoft SQL Server database deployment."
        },
        "edition": {
          "description": "The database deployment edition.",
          "type": "string"
        },
        "manualUniqueId": {
          "type": "string",
          "description": "A manual unique ID set by the user."
        },
        "postgresql": {
          "description": "Details of a PostgreSQL database deployment.",
          "$ref": "PostgreSqlDatabaseDeployment"
        },
        "topology": {
          "$ref": "DatabaseDeploymentTopology",
          "description": "Details of the database deployment topology."
        },
        "generatedId": {
          "description": "The database deployment generated ID.",
          "type": "string"
        },
        "version": {
          "description": "The database deployment version.",
          "type": "string"
        }
      },
      "id": "DatabaseDeploymentDetails"
    },
    "AwsRds": {
      "description": "Specific details for an AWS RDS database deployment.",
      "properties": {},
      "type": "object",
      "id": "AwsRds"
    },
    "ListGroupsResponse": {
      "type": "object",
      "description": "A response for listing groups.",
      "id": "ListGroupsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "type": "array",
          "description": "The list of Group"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "AwsBatchComputeEnvironmentDetails": {
      "properties": {},
      "type": "object",
      "id": "AwsBatchComputeEnvironmentDetails",
      "description": "Asset information specific for AWS Batch Compute Environments."
    },
    "RemoveAssetsFromGroupRequest": {
      "properties": {
        "assets": {
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000.",
          "$ref": "AssetList"
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "type": "object",
      "id": "RemoveAssetsFromGroupRequest",
      "description": "A request to remove assets from a group."
    },
    "ListRelationsResponse": {
      "id": "ListRelationsResponse",
      "type": "object",
      "description": "Response message for listing relations.",
      "properties": {
        "relations": {
          "description": "A list of relations.",
          "items": {
            "$ref": "Relation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "AwsEc2PlatformDetails": {
      "type": "object",
      "description": "AWS EC2 specific details.",
      "id": "AwsEc2PlatformDetails",
      "properties": {
        "machineTypeLabel": {
          "type": "string",
          "description": "AWS platform's machine type label."
        },
        "location": {
          "description": "The location of the machine in the AWS format.",
          "type": "string"
        },
        "hyperthreading": {
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Optional. Whether the machine is hyperthreaded."
        }
      }
    },
    "HostingProviderDetails": {
      "id": "HostingProviderDetails",
      "properties": {
        "location": {
          "$ref": "ResourceLocation",
          "description": "Optional. Location of the asset."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The timestamp when resource was created in the hosting provider."
        },
        "originalId": {
          "description": "Optional. Unique identifier for the asset in the hosting provider.",
          "type": "string"
        },
        "aws": {
          "description": "Optional. The AWS platform details.",
          "$ref": "HostingProviderDetailsAws"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the asset."
        }
      },
      "description": "Details about the hosting platform of the asset.",
      "type": "object"
    },
    "DateTime": {
      "type": "object",
      "properties": {
        "utcOffset": {
          "format": "google-duration",
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "type": "string"
        },
        "month": {
          "type": "integer",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "format": "int32"
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Time zone."
        },
        "minutes": {
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
        },
        "year": {
          "format": "int32",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "type": "integer"
        },
        "nanos": {
          "format": "int32",
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "type": "integer"
        }
      },
      "id": "DateTime",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations."
    },
    "FstabEntryList": {
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "FstabEntry"
          },
          "description": "Fstab entries."
        }
      },
      "description": "Fstab content.",
      "id": "FstabEntryList",
      "type": "object"
    },
    "MysqlDatabaseDeployment": {
      "id": "MysqlDatabaseDeployment",
      "type": "object",
      "properties": {
        "variables": {
          "type": "array",
          "description": "Optional. List of MySql variables.",
          "items": {
            "$ref": "MySqlVariable"
          }
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "MySqlProperty"
          },
          "description": "Optional. List of MySql properties."
        },
        "plugins": {
          "type": "array",
          "description": "Optional. List of MySql plugins.",
          "items": {
            "$ref": "MySqlPlugin"
          }
        },
        "resourceGroupsCount": {
          "description": "Optional. Number of resource groups.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Specific details for a Mysql database deployment."
    },
    "SqlServerSchemaDetails": {
      "properties": {
        "clrObjectCount": {
          "type": "integer",
          "description": "Optional. SqlServer number of CLR objects.",
          "format": "int32"
        }
      },
      "id": "SqlServerSchemaDetails",
      "type": "object",
      "description": "Specific details for a SqlServer database."
    },
    "AggregationCount": {
      "type": "object",
      "description": "Object count.",
      "id": "AggregationCount",
      "properties": {}
    },
    "AssetPerformanceData": {
      "properties": {
        "dailyResourceUsageAggregations": {
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          },
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent.",
          "type": "array"
        }
      },
      "description": "Performance data for an asset.",
      "id": "AssetPerformanceData",
      "type": "object"
    },
    "SqlServerDatabaseDeployment": {
      "type": "object",
      "properties": {
        "features": {
          "description": "Optional. List of SQL Server features.",
          "type": "array",
          "items": {
            "$ref": "SqlServerFeature"
          }
        },
        "traceFlags": {
          "description": "Optional. List of SQL Server trace flags.",
          "type": "array",
          "items": {
            "$ref": "SqlServerTraceFlag"
          }
        },
        "serverFlags": {
          "description": "Optional. List of SQL Server server flags.",
          "type": "array",
          "items": {
            "$ref": "SqlServerServerFlag"
          }
        }
      },
      "id": "SqlServerDatabaseDeployment",
      "description": "Specific details for a Microsoft SQL Server database deployment."
    },
    "ReportConfig": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "groupPreferencesetAssignments": {
          "type": "array",
          "description": "Required. Collection of combinations of groups and preference sets.",
          "items": {
            "$ref": "ReportConfigGroupPreferenceSetAssignment"
          }
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of resource.",
          "readOnly": true
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Free-text description."
        }
      },
      "description": "The groups and associated preference sets on which we can generate reports.",
      "type": "object",
      "id": "ReportConfig"
    },
    "SendDiscoveryClientHeartbeatRequest": {
      "id": "SendDiscoveryClientHeartbeatRequest",
      "description": "A request to send a discovery client heartbeat.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. Client application version."
        },
        "errors": {
          "description": "Optional. Errors affecting client functionality.",
          "items": {
            "$ref": "Status"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "FileValidationReport": {
      "id": "FileValidationReport",
      "type": "object",
      "properties": {
        "rowErrors": {
          "description": "Partial list of rows that encountered validation error.",
          "type": "array",
          "items": {
            "$ref": "ImportRowError"
          }
        },
        "fileErrors": {
          "items": {
            "$ref": "ImportError"
          },
          "description": "List of file level errors.",
          "type": "array"
        },
        "partialReport": {
          "type": "boolean",
          "description": "Flag indicating that processing was aborted due to maximum number of errors."
        },
        "fileName": {
          "type": "string",
          "description": "The name of the file."
        }
      },
      "description": "A resource that aggregates the validation errors found in an import job file."
    },
    "VirtualMachineDiskDetails": {
      "description": "Details of VM disks.",
      "id": "VirtualMachineDiskDetails",
      "properties": {
        "hddTotalCapacityBytes": {
          "format": "int64",
          "type": "string",
          "description": "Disk total Capacity."
        },
        "hddTotalFreeBytes": {
          "description": "Total Disk Free Space.",
          "format": "int64",
          "type": "string"
        },
        "lsblkJson": {
          "type": "string",
          "description": "Raw lsblk output in json."
        },
        "disks": {
          "$ref": "DiskEntryList",
          "description": "List of disks."
        }
      },
      "type": "object"
    },
    "MySqlVariable": {
      "id": "MySqlVariable",
      "description": "MySql variable.",
      "type": "object",
      "properties": {
        "variable": {
          "description": "Required. The variable name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. The variable value."
        },
        "category": {
          "description": "Required. The variable category.",
          "type": "string"
        }
      }
    },
    "PayloadFile": {
      "description": "Payload file for inline import job payload.",
      "type": "object",
      "id": "PayloadFile",
      "properties": {
        "name": {
          "type": "string",
          "description": "The file name."
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The file data."
        }
      }
    },
    "VmwareEnginePreferences": {
      "type": "object",
      "description": "The user preferences relating to Google Cloud VMware Engine target platform.",
      "id": "VmwareEnginePreferences",
      "properties": {
        "memoryOvercommitRatio": {
          "format": "double",
          "type": "number",
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0."
        },
        "cpuOvercommitRatio": {
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment.",
          "format": "double",
          "type": "number"
        },
        "serviceType": {
          "description": "Optional. GCVE service type (fully licensed or portable license).",
          "enumDescriptions": [
            "Same as SERVICE_TYPE_FULLY_LICENSED.",
            "Google provided VCF license.",
            "Bring Your Own License."
          ],
          "enum": [
            "SERVICE_TYPE_UNSPECIFIED",
            "SERVICE_TYPE_FULLY_LICENSED",
            "SERVICE_TYPE_PORTABLE_LICENSE"
          ],
          "type": "string"
        },
        "machinePreferences": {
          "description": "Optional. Preferences concerning the machine types to consider on Google Cloud VMware Engine.",
          "$ref": "VMwareEngineMachinePreferences"
        },
        "storageDeduplicationCompressionRatio": {
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0.",
          "type": "number",
          "format": "double"
        },
        "licenseDiscountPercentage": {
          "type": "number",
          "format": "float",
          "description": "Optional. Discount percentage for the license offered to you by Broadcom. Must be between 0 and 100. Only valid when service_type is set to SERVICE_TYPE_PORTABLE_LICENSE."
        },
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "type": "string",
[...]
