{
  "batchPath": "batch",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "schemas": {
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "GuestOsDetails": {
      "id": "GuestOsDetails",
      "description": "Information from Guest-level collections.",
      "type": "object",
      "properties": {
        "version": {
          "description": "The version of the operating system.",
          "type": "string"
        },
        "config": {
          "description": "OS and app configuration.",
          "$ref": "GuestConfigDetails"
        },
        "runtime": {
          "description": "Runtime information.",
          "$ref": "GuestRuntimeDetails"
        },
        "family": {
          "type": "string",
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ],
          "description": "What family the OS belong to, if known.",
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ]
        },
        "osName": {
          "type": "string",
          "description": "The name of the operating system."
        }
      }
    },
    "DiskPartitionList": {
      "description": "Disk partition list.",
      "type": "object",
      "id": "DiskPartitionList",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Partition entries.",
          "items": {
            "$ref": "DiskPartition"
          }
        }
      }
    },
    "GuestConfigDetails": {
      "description": "Guest OS config information.",
      "type": "object",
      "properties": {
        "selinuxMode": {
          "type": "string",
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ],
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ]
        },
        "nfsExports": {
          "description": "NFS exports.",
          "$ref": "NfsExportList"
        },
        "selinux": {
          "$ref": "Selinux",
          "description": "SELinux details."
        },
        "fstab": {
          "description": "Mount list (Linux fstab).",
          "$ref": "FstabEntryList"
        },
        "hosts": {
          "readOnly": true,
          "description": "Output only. Hosts file (/etc/hosts).",
          "$ref": "HostsEntryList"
        },
        "issue": {
          "description": "OS issue (typically /etc/issue in Linux).",
          "type": "string"
        }
      },
      "id": "GuestConfigDetails"
    },
    "HostingProviderDetails": {
      "properties": {
        "aws": {
          "description": "Optional. The AWS platform details.",
          "$ref": "HostingProviderDetailsAws"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Optional. The timestamp when resource was created in the hosting provider.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the asset."
        },
        "location": {
          "description": "Optional. Location of the asset.",
          "$ref": "ResourceLocation"
        },
        "originalId": {
          "description": "Optional. Unique identifier for the asset in the hosting provider.",
          "type": "string"
        }
      },
      "description": "Details about the hosting platform of the asset.",
      "id": "HostingProviderDetails",
      "type": "object"
    },
    "DatabaseDeploymentTopology": {
      "id": "DatabaseDeploymentTopology",
      "description": "Details of database deployment's topology.",
      "properties": {
        "diskAllocatedBytes": {
          "description": "Optional. Disk allocated in bytes.",
          "format": "int64",
          "type": "string"
        },
        "coreLimit": {
          "type": "integer",
          "description": "Optional. Number of total logical cores limited by db deployment.",
          "format": "int32"
        },
        "instances": {
          "description": "Optional. List of database instances.",
          "type": "array",
          "items": {
            "$ref": "DatabaseInstance"
          }
        },
        "physicalCoreLimit": {
          "type": "integer",
          "description": "Optional. Number of total physical cores limited by db deployment.",
          "format": "int32"
        },
        "memoryBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Total memory in bytes."
        },
        "memoryLimitBytes": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Total memory in bytes limited by db deployment."
        },
        "diskUsedBytes": {
          "description": "Optional. Disk used in bytes.",
          "format": "int64",
          "type": "string"
        },
        "physicalCoreCount": {
          "format": "int32",
          "description": "Optional. Number of total physical cores.",
          "type": "integer"
        },
        "coreCount": {
          "description": "Optional. Number of total logical cores.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "PostgreSqlProperty": {
      "type": "object",
      "properties": {
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "numericValue": {
          "description": "Required. The property numeric value.",
          "format": "int64",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The property is enabled."
        }
      },
      "description": "PostgreSql property.",
      "id": "PostgreSqlProperty"
    },
    "ReportSummaryVMWareNode": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes"
        }
      },
      "id": "ReportSummaryVMWareNode",
      "description": "A VMWare Engine Node"
    },
    "VirtualMachinePreferences": {
      "id": "VirtualMachinePreferences",
      "type": "object",
      "description": "VirtualMachinePreferences enables you to create sets of preferences, for example, a geographical location and pricing track, for your migrated virtual machines. The set of preferences influence recommendations for migrating virtual machine assets.",
      "properties": {
        "computeEnginePreferences": {
          "description": "Optional. Compute Engine preferences concern insights and recommendations for Compute Engine target.",
          "$ref": "ComputeEnginePreferences"
        },
        "targetProduct": {
          "enumDescriptions": [
            "Unspecified (default value).",
            "Prefer to migrate to Google Cloud Compute Engine.",
            "Prefer to migrate to Google Cloud VMware Engine.",
            "Prefer to migrate to Google Cloud Sole Tenant Nodes."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_MIGRATION_TARGET_PRODUCT_UNSPECIFIED",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_COMPUTE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_VMWARE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_SOLE_TENANCY"
          ],
          "description": "Target product for assets using this preference set. Specify either target product or business goal, but not both."
        },
        "sizingOptimizationStrategy": {
          "type": "string",
          "enum": [
            "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE",
            "SIZING_OPTIMIZATION_STRATEGY_MODERATE",
            "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE",
            "SIZING_OPTIMIZATION_STRATEGY_CUSTOM"
          ],
          "enumDescriptions": [
            "Unspecified (default value).",
            "No optimization applied. Virtual machine sizing matches as closely as possible the machine shape on the source site, not considering any actual performance data.",
            "Virtual machine sizing will match the reported usage and shape, with some slack. This a good value to start with.",
            "Virtual machine sizing will match the reported usage, with little slack. Using this option can help reduce costs.",
            "Virtual machine sizing will be determined by custom parameters. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "description": "Sizing optimization strategy specifies the preferred strategy used when extrapolating usage data to calculate insights and recommendations for a virtual machine. If you are unsure which value to set, a moderate sizing optimization strategy is often a good value to start with."
        },
        "commitmentPlan": {
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "type": "string",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_NONE",
            "COMMITMENT_PLAN_ONE_YEAR",
            "COMMITMENT_PLAN_THREE_YEARS",
            "COMMITMENT_PLAN_FLEXIBLE_ONE_YEAR",
            "COMMITMENT_PLAN_FLEXIBLE_THREE_YEARS"
          ]
        },
        "vmwareEnginePreferences": {
          "description": "Preferences concerning insights and recommendations for Google Cloud VMware Engine.",
          "$ref": "VmwareEnginePreferences"
        },
        "soleTenancyPreferences": {
          "description": "Preferences concerning Sole Tenant nodes and virtual machines.",
          "$ref": "SoleTenancyPreferences"
        },
        "estimatedUsage": {
          "description": "Optional. Estimated usage data for missing usage data. If performance data is available, it overrides this field. If not set, default values will be used for the usage data.",
          "$ref": "EstimatedUsage"
        },
        "regionPreferences": {
          "$ref": "RegionPreferences",
          "description": "Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If PreferenceSet.RegionPreferences is specified, it overrides this field."
        },
        "sizingOptimizationCustomParameters": {
          "description": "Optional. Custom data to use for sizing optimizations. Relevant when SizingOptimizationStrategy is set to \"custom\".",
          "$ref": "VirtualMachinePreferencesSizingOptimizationCustomParameters"
        },
        "networkCostParameters": {
          "$ref": "VirtualMachinePreferencesNetworkCostParameters",
          "description": "Optional. Parameters that affect network cost estimations. If not set, default values will be used for the parameters."
        }
      }
    },
    "SoftwareInsight": {
      "properties": {
        "detectedSoftware": {
          "readOnly": true,
          "$ref": "DetectedSoftware",
          "description": "Output only. Information about the detected software."
        }
      },
      "type": "object",
      "description": "An insight regarding software detected on an asset.",
      "id": "SoftwareInsight"
    },
    "PreferenceSet": {
      "description": "The preferences that apply to all assets in a given context.",
      "id": "PreferenceSet",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the preference set."
        },
        "createTime": {
          "description": "Output only. The timestamp when the preference set was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the preference set was last updated.",
          "type": "string"
        },
        "databasePreferences": {
          "description": "Optional. A set of preferences that applies to all databases in the context.",
          "$ref": "DatabasePreferences"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "virtualMachinePreferences": {
          "description": "A set of preferences that applies to all virtual machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the PreferenceSet."
        },
        "regionPreferences": {
          "description": "Optional. Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If unspecified, VirtualMachinePreferences.RegionPreferences is used.",
          "$ref": "RegionPreferences"
        }
      },
      "type": "object"
    },
    "AssetsExportJobNetworkDependencies": {
      "type": "object",
      "id": "AssetsExportJobNetworkDependencies",
      "description": "Configuration for network dependencies exports.",
      "properties": {}
    },
    "ReportSummaryAssetAggregateStatsEstimatedUsageStats": {
      "id": "ReportSummaryAssetAggregateStatsEstimatedUsageStats",
      "description": "Estimated usage stats for the assets in this collection.",
      "type": "object",
      "properties": {
        "totalVirtualMachinesUsingEstimatedUsage": {
          "format": "int64",
          "description": "Output only. The number of virtual machines in this finding that are using at least one estimated usage metric for rightsizing.",
          "readOnly": true,
          "type": "string"
        },
        "totalAssetsUsingEstimatedUsage": {
          "readOnly": true,
          "description": "Output only. The number of assets that are using at least one estimated usage metric for rightsizing.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "DatabasePreferences": {
      "description": "DatabasePreferences enables you to create sets of preferences for your migrated databases.",
      "id": "DatabasePreferences",
      "properties": {
        "mysqlToCloudSqlForMysqlPreferences": {
          "description": "Optional. Preferences for target MySQL on Cloud SQL when migrating from source MySQL.",
          "$ref": "DatabasePreferencesCloudSqlMySql"
        },
        "mssqlToCloudSqlForSqlServerPreferences": {
          "description": "Optional. Preferences for target SQL Server on Cloud SQL when migrating from source Microsoft SQL server.",
          "$ref": "DatabasePreferencesCloudSqlSqlServer"
        },
        "postgresqlToCloudSqlForPostgresqlPreferences": {
          "description": "Optional. Preferences for target PostgreSQL on Cloud SQL when migrating from source PostgreSQL.",
          "$ref": "DatabasePreferencesCloudSqlPostgreSql"
        }
      },
      "type": "object"
    },
    "AwsEksClusterDetails": {
      "id": "AwsEksClusterDetails",
      "type": "object",
      "description": "Asset information specific for AWS EKS clusters.",
      "properties": {}
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "AggregateAssetsValuesResponse": {
      "description": "A response to a request to aggregated assets values.",
      "properties": {
        "results": {
          "items": {
            "$ref": "AggregationResult"
          },
          "description": "The aggregation results.",
          "type": "array"
        }
      },
      "id": "AggregateAssetsValuesResponse",
      "type": "object"
    },
    "AggregateAssetsValuesRequest": {
      "description": "A request to aggregate one or more values.",
      "id": "AggregateAssetsValuesRequest",
      "properties": {
        "aggregations": {
          "items": {
            "$ref": "Aggregation"
          },
          "type": "array",
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined."
        },
        "filter": {
          "description": "Optional. The aggregation will be performed on assets that match the provided filter.",
          "type": "string"
        },
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        }
      },
      "type": "object"
    },
    "DiscoveryClientDiscoveryClientRecommendedVersion": {
      "type": "object",
      "id": "DiscoveryClientDiscoveryClientRecommendedVersion",
      "description": "Discovery client recommended version.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Output only. The URI of the discovery client version.",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "Output only. The version of the discovery client.",
          "readOnly": true
        }
      }
    },
    "InsightList": {
      "description": "Message containing insights list.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Update timestamp.",
          "type": "string",
          "readOnly": true
        },
        "insights": {
          "type": "array",
          "items": {
            "$ref": "Insight"
          },
          "readOnly": true,
          "description": "Output only. Insights of the list."
        }
      },
      "id": "InsightList",
      "type": "object"
    },
    "AwsAutoscalingGroupDetails": {
      "type": "object",
      "properties": {},
      "id": "AwsAutoscalingGroupDetails",
      "description": "Asset information specific for AWS Autoscaling Group."
    },
    "ReportSummary": {
      "id": "ReportSummary",
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report.",
      "type": "object",
      "properties": {
        "allAssetsStats": {
          "$ref": "ReportSummaryAssetAggregateStats",
          "description": "Aggregate statistics for unique assets across all the groups."
        },
        "virtualMachineStats": {
          "readOnly": true,
          "description": "Output only. Aggregate statistics for unique virtual machine assets across all the groups.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "databaseStats": {
          "readOnly": true,
          "description": "Output only. Aggregate statistics for unique database assets across all the groups.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "groupFindings": {
          "type": "array",
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          },
          "description": "Findings for each Group included in this report."
        }
      }
    },
    "GCSPayloadInfo": {
      "description": "A resource that represents a payload hosted on Google Cloud Storage.",
      "properties": {
        "format": {
          "description": "The import job format.",
          "type": "string",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "path": {
          "type": "string",
          "description": "The payload path in Google Cloud Storage."
        }
      },
      "type": "object",
      "id": "GCSPayloadInfo"
    },
    "ImportDataFile": {
      "description": "A resource that represents a payload file in an import job.",
      "type": "object",
      "id": "ImportDataFile",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ],
          "description": "Output only. The state of the import data file.",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 256 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the file."
        },
        "format": {
          "description": "Required. The payload format.",
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "type": "string",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "createTime": {
          "description": "Output only. The timestamp when the file was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "uploadFileInfo": {
          "$ref": "UploadFileInfo",
          "description": "Information about a file that is uploaded to a storage service."
        }
      }
    },
    "RunAssetsExportJobRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "type": "object",
      "description": "A request to run an assets export job.",
      "id": "RunAssetsExportJobRequest"
    },
    "GuestInstalledApplication": {
      "id": "GuestInstalledApplication",
      "description": "Guest installed application information.",
      "type": "object",
      "properties": {
        "applicationName": {
          "description": "Installed application name.",
          "type": "string"
        },
        "vendor": {
          "description": "Installed application vendor.",
          "type": "string"
        },
        "version": {
          "description": "Installed application version.",
          "type": "string"
        },
        "installTime": {
          "format": "google-datetime",
          "description": "The time when the application was installed.",
          "type": "string"
        },
        "time": {
          "description": "Date application was installed.",
          "type": "string"
        },
        "name": {
          "description": "Installed application name.",
          "type": "string"
        },
        "licenses": {
          "items": {
            "type": "string"
          },
          "description": "License strings associated with the installed application.",
          "type": "array"
        },
        "path": {
          "description": "Source path.",
          "type": "string"
        }
      }
    },
    "AwsNatGatewayDetails": {
      "id": "AwsNatGatewayDetails",
      "properties": {},
      "type": "object",
      "description": "Details of an AWS NAT Gateway."
    },
    "SoleTenancyPreferences": {
      "properties": {
        "nodeTypes": {
          "description": "A list of sole tenant node types. An empty list means that all possible node types will be considered.",
          "type": "array",
          "items": {
            "$ref": "SoleTenantNodeType"
          }
        },
        "hostMaintenancePolicy": {
          "type": "string",
          "enum": [
            "HOST_MAINTENANCE_POLICY_UNSPECIFIED",
            "HOST_MAINTENANCE_POLICY_DEFAULT",
            "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE",
            "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          ],
          "description": "Sole Tenancy nodes maintenance policy.",
          "enumDescriptions": [
            "Unspecified host maintenance policy.",
            "Default host maintenance policy.",
            "Restart in place host maintenance policy.",
            "Migrate within node group host maintenance policy."
          ]
        },
        "cpuOvercommitRatio": {
          "format": "double",
          "type": "number",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 2.0 inclusive."
        },
        "osPricingPreferences": {
          "$ref": "OperatingSystemPricingPreferences",
          "description": "Optional. Pricing options for OS images."
        },
        "commitmentPlan": {
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "type": "string",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR",
            "COMMITMENT_3_YEAR",
            "COMMITMENT_FLEXIBLE_1_YEAR",
            "COMMITMENT_FLEXIBLE_3_YEAR"
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with."
        }
      },
      "id": "SoleTenancyPreferences",
      "description": "Preferences concerning Sole Tenancy nodes and VMs.",
      "type": "object"
    },
    "AwsS3BucketDetails": {
      "properties": {
        "objectsMetadata": {
          "$ref": "AwsS3BucketDetailsObjectsMetadata",
          "description": "Optional. The metadata of the objects in the bucket."
        },
        "storageClasses": {
          "type": "array",
          "description": "Optional. The storage classes in the bucket.",
          "items": {
            "$ref": "AwsS3BucketDetailsStorageClass"
          }
        },
        "versioning": {
          "description": "Optional. Versioning configuration of the bucket.",
          "$ref": "AwsS3BucketDetailsVersioning"
        }
      },
      "type": "object",
      "description": "Asset information specific for AWS S3 buckets.",
      "id": "AwsS3BucketDetails"
    },
    "AwsFirehoseDetails": {
      "type": "object",
      "id": "AwsFirehoseDetails",
      "description": "Contains details for an AWS Firehose asset.",
      "properties": {}
    },
    "ReportSummaryHistogramChartDataBucket": {
      "properties": {
        "lowerBound": {
          "type": "string",
          "description": "Lower bound - inclusive.",
          "format": "int64"
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Count of items in the bucket."
        },
        "upperBound": {
          "type": "string",
          "format": "int64",
          "description": "Upper bound - exclusive."
        }
      },
      "type": "object",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "id": "ReportSummaryHistogramChartDataBucket"
    },
    "Operation": {
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ImportRowErrorCsvErrorDetails": {
      "description": "Error details for a CSV file.",
      "type": "object",
      "id": "ImportRowErrorCsvErrorDetails",
      "properties": {
        "rowNumber": {
          "type": "integer",
          "description": "The row number where the error was detected.",
          "format": "int32"
        }
      }
    },
    "AwsEc2PlatformDetails": {
      "description": "AWS EC2 specific details.",
      "id": "AwsEc2PlatformDetails",
      "properties": {
        "location": {
          "type": "string",
          "description": "The location of the machine in the AWS format."
        },
        "machineTypeLabel": {
          "type": "string",
          "description": "AWS platform's machine type label."
        },
        "hyperthreading": {
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Optional. Whether the machine is hyperthreaded."
        }
      },
      "type": "object"
    },
    "MysqlDatabaseDeployment": {
      "id": "MysqlDatabaseDeployment",
      "properties": {
        "properties": {
          "description": "Optional. List of MySql properties.",
          "items": {
            "$ref": "MySqlProperty"
          },
          "type": "array"
        },
        "resourceGroupsCount": {
          "format": "int32",
          "description": "Optional. Number of resource groups.",
          "type": "integer"
        },
        "plugins": {
          "type": "array",
          "items": {
            "$ref": "MySqlPlugin"
          },
          "description": "Optional. List of MySql plugins."
        },
        "variables": {
          "items": {
            "$ref": "MySqlVariable"
          },
          "description": "Optional. List of MySql variables.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Specific details for a Mysql database deployment."
    },
    "ReportSummaryDatabaseFinding": {
      "id": "ReportSummaryDatabaseFinding",
      "properties": {
        "allocatedAssetCount": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Number of database assets which were successfully assigned in this finding.",
          "type": "string"
        },
        "totalAssets": {
          "readOnly": true,
          "description": "Output only. Number of database assets in this finding.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "DatabaseFinding contains an aggregate costs and shapes for a single database type."
    },
    "UpdateAssetRequest": {
      "properties": {
        "asset": {
          "$ref": "Asset",
          "description": "Required. The resource being updated."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. Field mask is used to specify the fields to be overwritten in the `Asset` resource by the update. The values specified in the `update_mask` field are relative to the resource, not the full request. A field will be overwritten if it is in the mask. A single * value in the mask lets you to overwrite all fields."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "description": "A request to update an asset.",
      "id": "UpdateAssetRequest",
      "type": "object"
    },
    "ReportExportJob": {
      "id": "ReportExportJob",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Resource name.",
          "type": "string"
        },
        "signedUriDestination": {
          "$ref": "SignedUriDestination",
          "description": "Export with a SignedUri."
        },
        "recentExecutions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ReportExportExecution"
          },
          "description": "Output only. Recent not expired executions of the export report job."
        }
      },
      "description": "Report export job message."
    },
    "Insight": {
      "id": "Insight",
      "type": "object",
      "properties": {
        "migrationInsight": {
          "readOnly": true,
          "$ref": "MigrationInsight",
          "description": "Output only. An insight about potential migrations for an asset."
        },
        "genericInsight": {
          "readOnly": true,
          "$ref": "GenericInsight",
          "description": "Output only. A generic insight about an asset."
        },
        "softwareInsight": {
          "description": "Output only. An insight regarding software detected on an asset.",
          "readOnly": true,
          "$ref": "SoftwareInsight"
        }
      },
      "description": "An insight about an asset."
    },
    "AssetPerformanceData": {
      "type": "object",
      "description": "Performance data for an asset.",
      "properties": {
        "dailyResourceUsageAggregations": {
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          },
          "type": "array",
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent."
        }
      },
      "id": "AssetPerformanceData"
    },
    "AggregationResultCount": {
      "properties": {
        "value": {
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The result of a count aggregation.",
      "type": "object",
      "id": "AggregationResultCount"
    },
    "PlatformDetails": {
      "properties": {
        "vmwareDetails": {
          "description": "VMware specific details.",
          "$ref": "VmwarePlatformDetails"
        },
        "awsEc2Details": {
          "description": "AWS EC2 specific details.",
          "$ref": "AwsEc2PlatformDetails"
        },
        "genericDetails": {
          "$ref": "GenericPlatformDetails",
          "description": "Generic platform details."
        },
        "physicalDetails": {
          "description": "Physical machines platform details.",
          "$ref": "PhysicalPlatformDetails"
        },
        "azureVmDetails": {
          "description": "Azure VM specific details.",
          "$ref": "AzureVmPlatformDetails"
        }
      },
      "type": "object",
      "description": "Information about the platform.",
      "id": "PlatformDetails"
    },
    "VmwareEngineMigrationTarget": {
      "description": "VMWare engine migration target.",
      "id": "VmwareEngineMigrationTarget",
      "type": "object",
      "properties": {}
    },
    "ReportSummaryChartData": {
      "id": "ReportSummaryChartData",
      "properties": {
        "dataPoints": {
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          },
          "type": "array",
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value."
        }
      },
      "description": "Describes a collection of data points rendered as a Chart.",
      "type": "object"
    },
    "DateTime": {
      "properties": {
        "month": {
          "format": "int32",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "type": "integer"
        },
        "year": {
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "type": "integer",
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "hours": {
          "type": "integer",
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0."
        },
        "utcOffset": {
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "type": "string",
          "format": "google-duration"
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "TimeZone"
        },
        "minutes": {
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DateTime",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "type": "object"
    },
    "NetworkConnection": {
      "id": "NetworkConnection",
      "type": "object",
      "properties": {
        "remotePort": {
          "format": "int32",
          "description": "Remote port.",
          "type": "integer"
        },
        "remoteIpAddress": {
          "description": "Remote IP address.",
          "type": "string"
        },
        "localPort": {
          "description": "Local port.",
          "format": "int32",
          "type": "integer"
        },
        "state": {
          "type": "string",
          "description": "Connection state (e.g. CONNECTED)."
        },
        "pid": {
          "format": "int64",
          "description": "Process ID.",
          "type": "string"
        },
        "processName": {
          "description": "Process or service name.",
          "type": "string"
        },
        "protocol": {
          "description": "Connection protocol (e.g. TCP/UDP).",
          "type": "string"
        },
        "localIpAddress": {
          "type": "string",
          "description": "Local IP address."
        }
      }
    },
    "NetworkAddress": {
      "type": "object",
      "properties": {
        "assignment": {
          "description": "Whether DHCP is used to assign addresses.",
          "enumDescriptions": [
            "Unknown (default value).",
            "Statically assigned IP.",
            "Dynamically assigned IP (DHCP)."
          ],
          "type": "string",
          "enum": [
            "ADDRESS_ASSIGNMENT_UNSPECIFIED",
            "ADDRESS_ASSIGNMENT_STATIC",
            "ADDRESS_ASSIGNMENT_DHCP"
          ]
        },
        "bcast": {
          "description": "Broadcast address.",
          "type": "string"
        },
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name."
        },
        "subnetMask": {
          "type": "string",
          "description": "Subnet mask."
        },
        "ipAddress": {
          "description": "Assigned or configured IP Address.",
          "type": "string"
        }
      },
      "id": "NetworkAddress",
      "description": "Details of network address."
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "properties": {
        "reports": {
          "type": "array",
          "items": {
            "$ref": "Report"
          },
          "description": "The list of Reports."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Response message for listing Reports.",
      "type": "object"
    },
    "ListReportConfigsResponse": {
      "description": "Response message for listing report configs.",
      "properties": {
        "reportConfigs": {
          "type": "array",
          "description": "A list of report configs.",
          "items": {
            "$ref": "ReportConfig"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListReportConfigsResponse",
      "type": "object"
    },
    "AwsElasticIpAddressDetails": {
      "id": "AwsElasticIpAddressDetails",
      "properties": {},
      "description": "Asset information specific for AWS Elastic IP Addresses.",
      "type": "object"
    },
    "RemoveAssetsFromGroupRequest": {
      "description": "A request to remove assets from a group.",
      "type": "object",
      "id": "RemoveAssetsFromGroupRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "assets": {
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000.",
          "$ref": "AssetList"
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "Source": {
      "description": "Source represents an object from which asset information is streamed to Migration Center.",
      "id": "Source",
      "type": "object",
      "properties": {
        "pendingFrameCount": {
          "description": "Output only. Number of frames that are still being processed.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the source was last updated.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the source was created."
        },
        "isManaged": {
          "description": "If `true`, the source is managed by other service(s).",
          "type": "boolean"
        },
        "type": {
          "description": "Data source type.",
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ]
        },
        "displayName": {
          "description": "User-friendly display name.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ],
          "readOnly": true,
          "description": "Output only. The state of the source.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING",
            "INVALID"
          ]
        },
        "priority": {
          "format": "int32",
          "description": "The information confidence of the source. The higher the value, the higher the confidence.",
          "type": "integer"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full name of the source."
        },
        "errorFrameCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of frames that were reported by the source and contained errors."
        },
        "description": {
          "type": "string",
          "description": "Free-text description."
        }
      }
    },
    "PostgreSqlSetting": {
      "properties": {
        "intValue": {
          "description": "Required. The setting int value.",
          "format": "int64",
          "type": "string"
        },
        "source": {
          "description": "Required. The setting source.",
          "type": "string"
        },
        "stringValue": {
          "description": "Required. The setting string value. Notice that enum values are stored as strings.",
          "type": "string"
        },
        "unit": {
          "description": "Optional. The setting unit.",
          "type": "string"
        },
        "realValue": {
          "format": "float",
          "description": "Required. The setting real value.",
          "type": "number"
        },
        "setting": {
          "description": "Required. The setting name.",
          "type": "string"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Required. The setting boolean value."
        }
      },
      "description": "PostgreSql setting.",
      "type": "object",
      "id": "PostgreSqlSetting"
    },
    "Frames": {
      "description": "Collection of frame data.",
      "id": "Frames",
      "properties": {
        "framesData": {
          "description": "A repeated field of asset data.",
          "type": "array",
          "items": {
            "$ref": "AssetFrame"
          }
        }
      },
      "type": "object"
    },
    "AwsInternetGatewayDetails": {
      "type": "object",
      "properties": {},
      "id": "AwsInternetGatewayDetails",
      "description": "Asset information specific for AWS Internet Gateways."
    },
    "SignedUris": {
      "properties": {
        "signedUris": {
          "description": "Output only. List of signed URIs.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "SignedUri"
          }
        }
      },
      "id": "SignedUris",
      "description": "Contains a list of Signed URIs.",
      "type": "object"
    },
    "MySqlPlugin": {
      "description": "MySql plugin.",
      "id": "MySqlPlugin",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Required. The plugin version."
        },
        "enabled": {
          "description": "Required. The plugin is active.",
          "type": "boolean"
        },
        "plugin": {
          "description": "Required. The plugin name.",
          "type": "string"
        }
      }
    },
    "AwsS3BucketDetailsStorageClass": {
      "id": "AwsS3BucketDetailsStorageClass",
      "description": "Details about storage class.",
      "properties": {
        "type": {
          "description": "Required. Type of the storage class.",
          "enumDescriptions": [
            "Unspecified storage class type.",
            "General Purpose",
            "Represents Intelligent-Tiering's auto-tiering",
            "Standard-Infrequent Access",
            "One Zone-Infrequent Access",
            "S3 Glacier Flexible Retrieval",
            "S3 Glacier Deep Archive",
            "S3 Glacier Instant Retrieval",
            "S3 Reduced Redundancy Storage (Legacy)",
            "S3 Express One Zone"
          ],
          "type": "string",
          "enum": [
            "STORAGE_CLASS_TYPE_UNSPECIFIED",
            "STANDARD",
            "INTELLIGENT_TIERING",
            "STANDARD_IA",
            "ONE_ZONE_IA",
            "GLACIER",
            "DEEP_ARCHIVE",
            "GLACIER_IR",
            "REDUCED_REDUNDANCY",
            "EXPRESS_ONEZONE"
          ]
        },
        "totalBytes": {
          "format": "int64",
          "description": "Optional. The total size of the storage class in bytes.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "id": "ListLocationsResponse"
    },
    "RuntimeNetworkInfo": {
      "properties": {
        "netstat": {
          "description": "Netstat (raw, OS-agnostic).",
          "type": "string"
        },
        "rawScanResult": {
          "description": "Raw network scan result. This field is intended for human inspection. The format of this field may be netstat output or any another raw output. The exact format may change without notice and should not be relied upon.",
          "type": "string"
        },
        "connections": {
          "$ref": "NetworkConnectionList",
          "description": "Network connections."
        },
        "netstatTime": {
          "$ref": "DateTime",
          "description": "Netstat time collected."
        },
        "scanTime": {
          "type": "string",
          "description": "Time of the last network scan.",
          "format": "google-datetime"
        }
      },
      "id": "RuntimeNetworkInfo",
      "type": "object",
      "description": "Runtime networking information."
    },
    "AwsBatchComputeEnvironmentDetails": {
      "properties": {},
      "description": "Asset information specific for AWS Batch Compute Environments.",
      "type": "object",
      "id": "AwsBatchComputeEnvironmentDetails"
    },
    "AwsElbLoadBalancerDetails": {
      "description": "Asset information specific for AWS Load Balancers.",
      "properties": {},
      "id": "AwsElbLoadBalancerDetails",
      "type": "object"
    },
    "SqlServerFeature": {
      "type": "object",
      "id": "SqlServerFeature",
      "properties": {
        "featureName": {
          "type": "string",
          "description": "Required. The feature name."
        },
        "enabled": {
          "description": "Required. Field enabled is set when a feature is used on the source deployment.",
          "type": "boolean"
        }
      },
      "description": "SQL Server feature details."
    },
    "DailyResourceUsageAggregationCPU": {
      "type": "object",
      "description": "Statistical aggregation of CPU usage.",
      "id": "DailyResourceUsageAggregationCPU",
      "properties": {
        "utilizationPercentage": {
          "description": "CPU utilization percentage.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      }
    },
    "HostsEntry": {
      "properties": {
        "ip": {
          "type": "string",
          "description": "IP (raw, IPv4/6 agnostic)."
        },
        "hostNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of host names / aliases."
        }
      },
      "description": "Single /etc/hosts entry.",
      "id": "HostsEntry",
      "type": "object"
    },
    "MachineSeries": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Code to identify a machine series. Consult this for more details on the available series for Compute Engine: https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison Consult this for more details on the available series for Google Cloud VMware Engine: https://cloud.google.com/vmware-engine/pricing"
        }
      },
      "type": "object",
      "description": "A machine series, for a target product (e.g. Compute Engine, Google Cloud VMware Engine).",
      "id": "MachineSeries"
    },
    "SqlServerSchemaDetails": {
      "properties": {
        "clrObjectCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. SqlServer number of CLR objects."
        }
      },
      "type": "object",
      "description": "Specific details for a SqlServer database.",
      "id": "SqlServerSchemaDetails"
    },
    "UploadFileInfo": {
      "description": "A resource that contains a URI to which a data file can be uploaded.",
      "id": "UploadFileInfo",
      "properties": {
        "headers": {
          "description": "Output only. The headers that were used to sign the URL.",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "uriExpirationTime": {
          "description": "Output only. Expiration time of the upload URI.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "signedUri": {
          "description": "Output only. Upload URI for the file.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportSummaryMachineSeriesAllocation": {
      "id": "ReportSummaryMachineSeriesAllocation",
      "properties": {
        "machineSeries": {
          "description": "The Machine Series (e.g. \"E2\", \"N2\")",
          "$ref": "MachineSeries"
        },
        "allocatedAssetCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of assets allocated to this machine series."
        }
      },
      "type": "object",
      "description": "Represents a data point tracking the count of assets allocated for a specific Machine Series."
    },
    "ListAssetsResponse": {
      "description": "Response message for listing assets.",
      "properties": {
        "assets": {
          "type": "array",
          "items": {
            "$ref": "Asset"
          },
          "description": "A list of assets."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "ListAssetsResponse",
      "type": "object"
    },
    "Settings": {
      "properties": {
        "name": {
          "description": "Output only. The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "preferenceSet": {
          "type": "string",
          "description": "The preference set used by default for a project."
        },
        "disableCloudLogging": {
          "description": "Disable Cloud Logging for the Migration Center API. Users are billed for the logs.",
          "type": "boolean"
        },
        "customerConsentForGoogleSalesToAccessMigrationCenter": {
          "description": "Customer consent for Google sales to access their Cloud Migration Center project.",
          "type": "boolean"
        }
      },
      "description": "Describes the Migration Center settings related to the project.",
      "id": "Settings",
      "type": "object"
    },
    "CsvOutputFile": {
      "id": "CsvOutputFile",
      "type": "object",
      "properties": {
        "columnsCount": {
          "description": "Output only. Number of columns in the file.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "rowCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of rows in the file.",
          "readOnly": true
        },
        "signedUri": {
          "$ref": "SignedUri",
          "readOnly": true,
          "description": "Output only. Signed URI destination."
        }
      },
      "description": "Contains a single output file of type CSV."
    },
    "FitDescriptor": {
      "id": "FitDescriptor",
      "description": "Describes the fit level of an asset for migration to a specific target.",
      "type": "object",
      "properties": {
        "fitLevel": {
          "enumDescriptions": [
            "Not enough information.",
            "Fit.",
            "No Fit.",
            "Fit with effort."
          ],
          "type": "string",
          "enum": [
            "FIT_LEVEL_UNSPECIFIED",
            "FIT",
            "NO_FIT",
            "REQUIRES_EFFORT"
          ],
          "readOnly": true,
          "description": "Output only. Fit level."
        }
      }
    },
    "AssetsExportJobExecution": {
      "properties": {
        "executionId": {
          "description": "Output only. Globally unique identifier of the execution.",
          "type": "string",
          "readOnly": true
        },
        "result": {
          "description": "Output only. Result of the export execution.",
          "$ref": "AssetsExportJobExecutionResult",
          "readOnly": true
        },
        "expireTime": {
          "type": "string",
          "description": "Output only. Expiration time for the export and artifacts.",
          "format": "google-datetime",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Completion time of the export."
        },
        "requestedAssetCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of assets requested for export after resolving the requested filters.",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. Execution timestamp.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Execution status of assets export job.",
      "type": "object",
      "id": "AssetsExportJobExecution"
    },
    "NfsExport": {
      "type": "object",
      "properties": {
        "exportDirectory": {
          "type": "string",
          "description": "The directory being exported."
        },
        "hosts": {
          "description": "The hosts or networks to which the export is being shared.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "NFS export.",
      "id": "NfsExport"
    },
    "ReportSummarySoleTenantNodeAllocation": {
      "description": "Represents the assets allocated to a specific Sole-Tenant node type.",
      "id": "ReportSummarySoleTenantNodeAllocation",
      "type": "object",
      "properties": {
        "node": {
          "description": "Sole Tenant node type, e.g. \"m3-node-128-3904\"",
          "$ref": "SoleTenantNodeType"
        },
        "nodeCount": {
          "description": "Count of this node type to be provisioned",
          "type": "string",
          "format": "int64"
        },
        "allocatedAssetCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of assets allocated to these nodes"
        }
      }
    },
    "MySqlSchemaDetails": {
      "type": "object",
      "description": "Specific details for a Mysql database.",
      "properties": {
        "storageEngines": {
          "description": "Optional. Mysql storage engine tables.",
          "type": "array",
          "items": {
            "$ref": "MySqlStorageEngineDetails"
          }
        }
      },
      "id": "MySqlSchemaDetails"
    },
    "BiosDetails": {
      "id": "BiosDetails",
      "properties": {
        "biosName": {
          "description": "BIOS name.",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "BIOS manufacturer."
        },
        "biosVersion": {
          "type": "string",
          "description": "BIOS version."
        },
        "releaseTime": {
          "description": "BIOS release date.",
          "type": "string",
          "format": "google-datetime"
        },
        "version": {
          "description": "BIOS version.",
          "type": "string"
        },
        "biosReleaseDate": {
          "type": "string",
          "description": "BIOS release date."
        },
        "id": {
          "type": "string",
          "description": "BIOS ID."
        },
        "smbiosUuid": {
          "type": "string",
          "description": "SMBIOS UUID."
        },
        "biosManufacturer": {
          "type": "string",
          "description": "BIOS manufacturer."
        }
      },
      "type": "object",
      "description": "Details about the BIOS."
    },
    "ImportRowErrorXlsxErrorDetails": {
      "description": "Error details for an XLSX file.",
      "type": "object",
      "properties": {
        "sheet": {
          "type": "string",
          "description": "The name of the sheet where the error was detected."
        },
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ImportRowErrorXlsxErrorDetails"
    },
    "HostingProviderDetailsAws": {
      "id": "HostingProviderDetailsAws",
      "type": "object",
      "properties": {
        "owningAccountId": {
          "type": "string",
          "description": "Optional. The AWS account ID owning the resource represented by this asset."
        }
      },
      "description": "Details for AWS platform."
    },
    "AssetList": {
      "description": "Lists the asset IDs of all assets.",
      "type": "object",
      "id": "AssetList",
      "properties": {
        "assetIds": {
          "type": "array",
          "description": "Required. A list of asset IDs",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DiskEntryList": {
      "properties": {
        "entries": {
          "type": "array",
          "description": "Disk entries.",
          "items": {
            "$ref": "DiskEntry"
          }
        }
      },
      "id": "DiskEntryList",
      "description": "VM disks.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "ListSourcesResponse": {
      "type": "object",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "Source"
          },
          "description": "The list of sources."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "ListSourcesResponse",
      "description": "Response message for listing sources."
    },
    "OperatingSystemPricingPreferences": {
      "description": "Pricing options for OS images.",
      "type": "object",
      "id": "OperatingSystemPricingPreferences",
      "properties": {
        "windows": {
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing",
          "description": "Optional. Pricing options for Windows images. No commitment plans are available, set it to unspecified."
        },
        "slesForSap": {
          "description": "Optional. Pricing options for SLES for SAP images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "rhel": {
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing",
          "description": "Optional. Pricing options for RHEL images."
        },
        "sles": {
          "description": "Optional. Pricing options for SLES images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        }
      }
    },
    "NetworkConnectionList": {
      "type": "object",
      "description": "Network connection list.",
      "id": "NetworkConnectionList",
      "properties": {
        "entries": {
          "items": {
            "$ref": "NetworkConnection"
          },
          "description": "Network connection entries.",
          "type": "array"
        }
      }
    },
    "ListReportExportJobsResponse": {
      "description": "Response message for listing report export jobs.",
      "type": "object",
      "id": "ListReportExportJobsResponse",
      "properties": {
        "reportExportJobs": {
          "readOnly": true,
          "items": {
            "$ref": "ReportExportJob"
          },
          "description": "Output only. The list of report export jobs.",
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "AggregationResultSum": {
      "description": "The result of a sum aggregation.",
      "id": "AggregationResultSum",
      "properties": {
        "value": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "ListDiscoveryClientsResponse": {
      "type": "object",
      "description": "Response message for listing discovery clients.",
      "properties": {
        "discoveryClients": {
          "type": "array",
          "description": "List of discovery clients.",
          "items": {
            "$ref": "DiscoveryClient"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListDiscoveryClientsResponse"
    },
    "VirtualMachineArchitectureDetails": {
      "description": "Details of the VM architecture.",
      "id": "VirtualMachineArchitectureDetails",
      "type": "object",
      "properties": {
        "cpuManufacturer": {
          "type": "string",
          "description": "CPU manufacturer, e.g., \"Intel\", \"AMD\"."
        },
        "cpuThreadCount": {
          "type": "integer",
          "description": "Deprecated: use VirtualMachineDetails.core_count instead. Number of CPU threads allocated to the machine.",
          "deprecated": true,
          "format": "int32"
        },
        "vendor": {
          "type": "string",
          "description": "Hardware vendor."
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        },
        "hyperthreading": {
          "description": "CPU hyperthreading support.",
          "enumDescriptions": [
            "Unknown (default value).",
            "Hyperthreading is disabled.",
            "Hyperthreading is enabled."
          ],
          "type": "string",
          "enum": [
            "HYPER_THREADING_UNSPECIFIED",
            "HYPER_THREADING_DISABLED",
            "HYPER_THREADING_ENABLED"
          ]
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "firmware": {
          "type": "string",
          "description": "Firmware (BIOS/efi)."
        },
        "cpuSocketCount": {
          "format": "int32",
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer"
        }
      }
    },
    "AggregationHistogram": {
      "description": "Histogram of bucketed assets counts by field value.",
      "properties": {
        "lowerBounds": {
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          },
          "description": "Lower bounds of buckets. The response will contain `n+1` buckets for `n` bounds. The first bucket will count all assets for which the field value is smaller than the first bound. Subsequent buckets will count assets for which the field value is greater or equal to a lower bound and smaller than the next one. The last bucket will count assets for which the field value is greater or equal to the final lower bound. You can define up to 20 lower bounds."
        }
      },
      "id": "AggregationHistogram",
      "type": "object"
    },
    "Selinux": {
      "id": "Selinux",
      "properties": {
        "enabled": {
          "description": "Is SELinux enabled.",
          "type": "boolean"
        },
        "mode": {
          "type": "string",
          "description": "SELinux mode disabled / enforcing / permissive."
        }
      },
      "description": "SELinux details.",
      "type": "object"
    },
    "GenericInsight": {
      "type": "object",
      "id": "GenericInsight",
      "properties": {
        "messageId": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Represents a globally unique message id for this insight, can be used for localization purposes, in case message_code is not yet known by the client use default_message instead."
        },
        "defaultMessage": {
          "type": "string",
          "description": "Output only. In case message_code is not yet known by the client default_message will be the message to be used instead. Text can contain md file style links.",
          "readOnly": true
        },
        "additionalInformation": {
          "description": "Output only. Additional information about the insight, each entry can be a logical entry and must make sense if it is displayed with line breaks between each entry. Text can contain md style links.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "description": "A generic insight about an asset."
    },
    "ListImportJobsResponse": {
      "type": "object",
      "properties": {
        "importJobs": {
          "description": "The list of import jobs.",
          "items": {
            "$ref": "ImportJob"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListImportJobsResponse",
      "description": "A response for listing import jobs."
    },
    "AwsApplicationLoadBalancerDetails": {
      "id": "AwsApplicationLoadBalancerDetails",
      "properties": {},
      "description": "Asset information specific for AWS Application Load Balancers.",
      "type": "object"
    },
    "AwsEcrRepositoryDetails": {
      "type": "object",
      "description": "Asset information specific for AWS ECR Repository.",
      "id": "AwsEcrRepositoryDetails",
      "properties": {}
    },
    "RunAssetsExportJobResponse": {
      "type": "object",
      "properties": {
        "assetsExportJobExecution": {
          "$ref": "AssetsExportJobExecution",
          "description": "Output only. Execution status of the assets export operation.",
          "readOnly": true
        }
      },
      "description": "Response message for running an assets export job.",
      "id": "RunAssetsExportJobResponse"
    },
    "CloudDatabaseMigrationTarget": {
      "properties": {
        "cloudSqlForPostgresqlShape": {
          "$ref": "CloudSqlForPostgreSqlShape",
          "description": "Cloud SQL for PostgreSQL database shape."
        },
        "cloudSqlForMysqlShape": {
          "description": "Cloud SQL for MySQL database shape.",
          "$ref": "CloudSqlForMySqlShape"
        },
        "cloudSqlShape": {
          "description": "Cloud SQL for SQL Server database shape.",
          "$ref": "CloudSqlForSqlServerShape"
        }
      },
      "id": "CloudDatabaseMigrationTarget",
      "type": "object",
      "description": "Cloud database migration target."
    },
    "NetworkAdapterDetails": {
      "description": "Details of network adapter.",
      "type": "object",
      "properties": {
        "adapterType": {
          "description": "Network adapter type (e.g. VMXNET3).",
          "type": "string"
        },
        "addresses": {
          "$ref": "NetworkAddressList",
          "description": "NetworkAddressList"
        },
        "macAddress": {
          "description": "MAC address.",
          "type": "string"
        }
      },
      "id": "NetworkAdapterDetails"
    },
    "MachinePreferences": {
      "type": "object",
      "properties": {
        "allowedMachineSeries": {
          "items": {
            "$ref": "MachineSeries"
          },
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "type": "array"
        }
      },
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations for Compute Engine. Not all machine types are available in all zones and regions.",
      "id": "MachinePreferences"
    },
    "AwsLambdaFunctionDetails": {
      "description": "Asset information specific for AWS Lambda functions.",
      "properties": {},
      "type": "object",
      "id": "AwsLambdaFunctionDetails"
    },
    "EstimatedUsage": {
      "properties": {
        "estimatedDiskPercentage": {
          "format": "float",
          "description": "Optional. Estimated disk utilization percentage. Must be in the range [1, 100].",
          "type": "number"
        },
        "estimatedMemoryPercentage": {
          "type": "number",
          "format": "float",
          "description": "Optional. Estimated memory utilization percentage. Must be in the range [1, 100]."
        },
        "estimatedCpuPercentage": {
          "description": "Optional. Estimated CPU utilization percentage. Must be in the range [1, 100].",
          "format": "float",
          "type": "number"
        }
      },
      "id": "EstimatedUsage",
      "description": "Estimated usage data.",
      "type": "object"
    },
    "DiskEntry": {
      "id": "DiskEntry",
      "properties": {
        "interfaceType": {
          "type": "string",
          "description": "Disks interface type (e.g. SATA/SCSI)"
        },
        "hwAddress": {
          "description": "Disk hardware address (e.g. 0:1 for SCSI).",
          "type": "string"
        },
        "diskLabel": {
          "description": "Disk label.",
          "type": "string"
        },
        "freeSpaceBytes": {
          "description": "Disk free space.",
          "format": "int64",
          "type": "string"
        },
        "totalCapacityBytes": {
          "format": "int64",
          "description": "Disk capacity.",
          "type": "string"
        },
        "capacityBytes": {
          "type": "string",
          "description": "Disk capacity.",
          "format": "int64"
        },
        "partitions": {
          "$ref": "DiskPartitionList",
          "description": "Partition layout."
        },
        "status": {
          "description": "Disk status (e.g. online).",
          "type": "string"
        },
        "diskLabelType": {
          "description": "Disk label type (e.g. BIOS/GPT)",
          "type": "string"
        },
        "totalFreeBytes": {
          "description": "Disk free space.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Single disk entry.",
      "type": "object"
    },
    "ErrorFrame": {
      "id": "ErrorFrame",
      "description": "Message representing a frame which failed to be processed due to an error.",
      "type": "object",
      "properties": {
        "originalFrame": {
          "description": "Output only. The frame that was originally reported.",
          "readOnly": true,
          "$ref": "AssetFrame"
        },
        "name": {
          "description": "Output only. The identifier of the ErrorFrame.",
          "readOnly": true,
          "type": "string"
        },
        "ingestionTime": {
          "description": "Output only. Frame ingestion time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "violations": {
          "items": {
            "$ref": "FrameViolationEntry"
          },
          "readOnly": true,
          "description": "Output only. All the violations that were detected for the frame.",
          "type": "array"
        }
      }
    },
    "PostgreSqlExtension": {
      "type": "object",
      "description": "PostgreSql extension.",
      "id": "PostgreSqlExtension",
      "properties": {
        "version": {
          "description": "Required. The extension version.",
          "type": "string"
        },
        "extension": {
          "type": "string",
          "description": "Required. The extension name."
        }
      }
    },
    "AwsElastiCacheClusterDetails": {
      "id": "AwsElastiCacheClusterDetails",
      "properties": {},
      "type": "object",
      "description": "Details of an AWS ElastiCache Cluster."
    },
    "AwsS3BucketDetailsVersioning": {
      "properties": {
        "enabled": {
          "description": "Optional. Whether versioning is enabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Versioning configuration of the bucket.",
      "id": "AwsS3BucketDetailsVersioning"
    },
    "ResourceLocation": {
      "id": "ResourceLocation",
      "properties": {
        "region": {
          "description": "Optional. The name of the region.",
          "type": "string"
        }
      },
      "description": "Location of a resource.",
      "type": "object"
    },
    "AggregationResultHistogram": {
      "properties": {
        "buckets": {
          "items": {
            "$ref": "AggregationResultHistogramBucket"
          },
          "type": "array",
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity."
        }
      },
      "type": "object",
      "id": "AggregationResultHistogram",
      "description": "The result of a bucketed histogram aggregation."
    },
    "VmwarePlatformDetails": {
      "description": "VMware specific details.",
      "type": "object",
      "id": "VmwarePlatformDetails",
      "properties": {
        "vcenterFolder": {
          "description": "Folder name in vCenter where asset resides.",
          "type": "string"
        },
        "osid": {
          "type": "string",
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html."
        },
        "vcenterVmId": {
          "description": "vCenter VM ID.",
          "type": "string"
        },
        "esxHyperthreading": {
          "description": "Whether the ESX is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "esxVersion": {
          "description": "ESX version.",
          "type": "string"
        },
        "vcenterVersion": {
          "description": "vCenter version.",
          "type": "string"
        },
        "vcenterUri": {
          "description": "vCenter URI used in collection.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        }
      }
    },
    "Issue": {
      "properties": {
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. English description of the issue."
        },
        "issueCode": {
          "readOnly": true,
          "description": "Output only. Unique identifier for this issue type.",
          "type": "string"
        },
        "compatibilityIssue": {
          "readOnly": true,
          "description": "Output only. Details about a compatibility issue.",
          "$ref": "IssueCompatibilityIssue"
        }
      },
      "type": "object",
      "id": "Issue",
      "description": "An issue associated with a migration."
    },
    "IssueCompatibilityIssue": {
      "type": "object",
      "id": "IssueCompatibilityIssue",
      "properties": {
        "category": {
          "description": "Output only. Category of this compatibility issue.",
          "enumDescriptions": [
            "An unspecified compatibility category.",
            "Database flag compatibility category.",
            "Database feature compatibility category."
          ],
          "type": "string",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "DATABASE_FLAG",
            "DATABASE_FEATURE"
          ],
          "readOnly": true
        },
        "associatedObjectType": {
          "type": "string",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "DATABASE_DEPLOYMENT",
            "DATABASE",
            "SCHEMA"
          ],
          "enumDescriptions": [
            "An unspecified object type.",
            "A database deployment object type.",
            "A logical database object type.",
            "A schema object type."
          ],
          "readOnly": true,
          "description": "Output only. Type of object associated with this migration compatibility issue."
        },
        "associatedValue": {
          "readOnly": true,
          "description": "Output only. A string representation of actual value associated with this issue. Some values may contain aggregated information, such as a flag name and the actual value assigned to it.",
          "type": "string"
        },
        "associatedObject": {
          "readOnly": true,
          "description": "Output only. Name of the object associated with this compatibility issue relative to the relevant asset. Does not represent a fully qualified resource name and is not intended for programmatic use.",
          "type": "string"
        }
      },
      "description": "Details about a compatibility issue."
    },
    "MachineArchitectureDetails": {
      "id": "MachineArchitectureDetails",
      "description": "Details of the machine architecture.",
      "properties": {
        "cpuArchitecture": {
          "type": "string",
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc."
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        },
        "cpuSocketCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of processor sockets allocated to the machine."
        },
        "hyperthreading": {
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ],
          "description": "CPU hyper-threading support.",
          "type": "string",
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "firmwareType": {
          "type": "string",
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ],
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ],
          "description": "Firmware type."
        },
        "cpuName": {
          "type": "string",
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc."
        },
        "cpuManufacturer": {
          "type": "string",
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\"."
        },
        "vendor": {
          "type": "string",
          "description": "Hardware vendor."
        }
      },
      "type": "object"
    },
    "DailyResourceUsageAggregationStats": {
      "id": "DailyResourceUsageAggregationStats",
      "properties": {
        "average": {
          "format": "float",
          "type": "number",
          "description": "Average usage value."
        },
        "peak": {
          "description": "Peak usage value.",
          "type": "number",
          "format": "float"
        },
        "ninteyFifthPercentile": {
          "format": "float",
          "description": "95th percentile usage value.",
          "type": "number"
        },
        "median": {
          "format": "float",
          "description": "Median usage value.",
          "type": "number"
        }
      },
      "description": "Statistical aggregation of samples for a single resource usage.",
      "type": "object"
    },
    "DatabaseDeploymentDetailsAggregatedStats": {
      "description": "Aggregated stats for the database deployment.",
      "type": "object",
      "id": "DatabaseDeploymentDetailsAggregatedStats",
      "properties": {
        "databaseCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of databases in the deployment."
        }
      }
    },
    "HostsEntryList": {
      "properties": {
        "entries": {
          "readOnly": true,
          "description": "Output only. Hosts entries.",
          "type": "array",
          "items": {
            "$ref": "HostsEntry"
          }
        }
      },
      "description": "Hosts content.",
      "type": "object",
      "id": "HostsEntryList"
    },
    "VirtualMachineDetails": {
      "properties": {
        "vmName": {
          "description": "Virtual Machine display name.",
          "type": "string"
        },
        "osFamily": {
          "type": "string",
          "enum": [
            "OS_FAMILY_UNKNOWN",
[...]
