{
  "version_module": true,
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "canonicalName": "Migration Center API",
  "version": "v1",
  "name": "migrationcenter",
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "id": "migrationcenter:v1",
  "schemas": {
    "OutputFile": {
      "type": "object",
      "properties": {
        "xlsxOutputFile": {
          "description": "Output only. XLSX output file.",
          "$ref": "XlsxOutputFile",
          "readOnly": true
        },
        "fileSizeBytes": {
          "type": "string",
          "description": "Output only. File size in bytes.",
          "format": "int64",
          "readOnly": true
        },
        "csvOutputFile": {
          "readOnly": true,
          "description": "Output only. CSV output file.",
          "$ref": "CsvOutputFile"
        }
      },
      "id": "OutputFile",
      "description": "Contains a single output file."
    },
    "ReportSummaryVmwareNode": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes"
        }
      },
      "type": "object",
      "description": "A VMWare Engine Node",
      "id": "ReportSummaryVmwareNode"
    },
    "PostgreSqlSetting": {
      "properties": {
        "realValue": {
          "type": "number",
          "description": "Required. The setting real value.",
          "format": "float"
        },
        "stringValue": {
          "description": "Required. The setting string value. Notice that enum values are stored as strings.",
          "type": "string"
        },
        "intValue": {
          "type": "string",
          "description": "Required. The setting int value.",
          "format": "int64"
        },
        "setting": {
          "type": "string",
          "description": "Required. The setting name."
        },
        "unit": {
          "type": "string",
          "description": "Optional. The setting unit."
        },
        "boolValue": {
          "description": "Required. The setting boolean value.",
          "type": "boolean"
        },
        "source": {
          "type": "string",
          "description": "Required. The setting source."
        }
      },
      "type": "object",
      "description": "PostgreSql setting.",
      "id": "PostgreSqlSetting"
    },
    "ReportSummary": {
      "properties": {
        "allAssetsStats": {
          "description": "Aggregate statistics for all the assets across all the groups.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "groupFindings": {
          "description": "Findings for each Group included in this report.",
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report.",
      "id": "ReportSummary"
    },
    "AggregationResultCount": {
      "properties": {
        "value": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The result of a count aggregation.",
      "id": "AggregationResultCount"
    },
    "ListSourcesResponse": {
      "id": "ListSourcesResponse",
      "description": "Response message for listing sources.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "sources": {
          "description": "The list of sources.",
          "items": {
            "$ref": "Source"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AssetsExportJob": {
      "type": "object",
      "properties": {
        "condition": {
          "description": "Optional. Conditions for selecting assets to export.",
          "$ref": "AssetsExportJobExportCondition"
        },
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        },
        "performanceData": {
          "description": "Export asset with performance data.",
          "$ref": "AssetsExportJobPerformanceData"
        },
        "recentExecutions": {
          "readOnly": true,
          "description": "Output only. Recent non expired executions of the job.",
          "items": {
            "$ref": "AssetsExportJobExecution"
          },
          "type": "array"
        },
        "signedUriDestination": {
          "description": "Export to Cloud Storage files downloadable using signed URIs.",
          "$ref": "SignedUriDestination"
        },
        "inventory": {
          "description": "Export asset inventory details.",
          "$ref": "AssetsExportJobInventory"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. Resource name."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Resource update time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Resource creation time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "networkDependencies": {
          "description": "Export data regarding asset network dependencies.",
          "$ref": "AssetsExportJobNetworkDependencies"
        }
      },
      "id": "AssetsExportJob",
      "description": "Assets export job message."
    },
    "SqlServerSchemaDetails": {
      "type": "object",
      "properties": {
        "clrObjectCount": {
          "description": "Optional. SqlServer number of CLR objects.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "SqlServerSchemaDetails",
      "description": "Specific details for a SqlServer database."
    },
    "ReportSummarySoleTenantNodeAllocation": {
      "properties": {
        "nodeCount": {
          "description": "Count of this node type to be provisioned",
          "format": "int64",
          "type": "string"
        },
        "allocatedAssetCount": {
          "type": "string",
          "description": "Count of assets allocated to these nodes",
          "format": "int64"
        },
        "node": {
          "description": "Sole Tenant node type, e.g. \"m3-node-128-3904\"",
          "$ref": "SoleTenantNodeType"
        }
      },
      "type": "object",
      "description": "Represents the assets allocated to a specific Sole-Tenant node type.",
      "id": "ReportSummarySoleTenantNodeAllocation"
    },
    "RunImportJobRequest": {
      "id": "RunImportJobRequest",
      "description": "A request to run an import job.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "AssetsExportJobInventory": {
      "description": "Configuration for asset inventory details exports.",
      "id": "AssetsExportJobInventory",
      "properties": {},
      "type": "object"
    },
    "MigrationInsight": {
      "id": "MigrationInsight",
      "description": "An insight about potential migrations for an asset.",
      "type": "object",
      "properties": {
        "fit": {
          "readOnly": true,
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration.",
          "$ref": "FitDescriptor"
        },
        "computeEngineTarget": {
          "readOnly": true,
          "description": "Output only. A Google Compute Engine target.",
          "$ref": "ComputeEngineMigrationTarget"
        }
      }
    },
    "MysqlDatabaseDeployment": {
      "id": "MysqlDatabaseDeployment",
      "description": "Specific details for a Mysql database deployment.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Optional. List of MySql properties.",
          "items": {
            "$ref": "MySqlProperty"
          },
          "type": "array"
        },
        "plugins": {
          "description": "Optional. List of MySql plugins.",
          "items": {
            "$ref": "MySqlPlugin"
          },
          "type": "array"
        },
        "resourceGroupsCount": {
          "type": "integer",
          "description": "Optional. Number of resource groups.",
          "format": "int32"
        },
        "variables": {
          "type": "array",
          "description": "Optional. List of MySql variables.",
          "items": {
            "$ref": "MySqlVariable"
          }
        }
      }
    },
    "AggregationResultHistogramBucket": {
      "id": "AggregationResultHistogramBucket",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "type": "object",
      "properties": {
        "lowerBound": {
          "description": "Lower bound - inclusive.",
          "format": "double",
          "type": "number"
        },
        "upperBound": {
          "type": "number",
          "description": "Upper bound - exclusive.",
          "format": "double"
        },
        "count": {
          "description": "Count of items in the bucket.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Operation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "SqlServerFeature": {
      "properties": {
        "featureName": {
          "description": "Required. The feature name.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. Field enabled is set when a feature is used on the source deployment.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "SQL Server feature details.",
      "id": "SqlServerFeature"
    },
    "MySqlPlugin": {
      "id": "MySqlPlugin",
      "description": "MySql plugin.",
      "type": "object",
      "properties": {
        "plugin": {
          "type": "string",
          "description": "Required. The plugin name."
        },
        "version": {
          "description": "Required. The plugin version.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The plugin is active."
        }
      }
    },
    "DatabaseDeploymentTopology": {
      "id": "DatabaseDeploymentTopology",
      "description": "Details of database deployment's topology.",
      "type": "object",
      "properties": {
        "memoryLimitBytes": {
          "type": "string",
          "description": "Optional. Total memory in bytes limited by db deployment.",
          "format": "int64"
        },
        "physicalCoreLimit": {
          "type": "integer",
          "description": "Optional. Number of total physical cores limited by db deployment.",
          "format": "int32"
        },
        "diskAllocatedBytes": {
          "type": "string",
          "description": "Optional. Disk allocated in bytes.",
          "format": "int64"
        },
        "instances": {
          "description": "Optional. List of database instances.",
          "items": {
            "$ref": "DatabaseInstance"
          },
          "type": "array"
        },
        "coreCount": {
          "type": "integer",
          "description": "Optional. Number of total logical cores.",
          "format": "int32"
        },
        "physicalCoreCount": {
          "type": "integer",
          "description": "Optional. Number of total physical cores.",
          "format": "int32"
        },
        "memoryBytes": {
          "description": "Optional. Total memory in bytes.",
          "format": "int64",
          "type": "string"
        },
        "diskUsedBytes": {
          "type": "string",
          "description": "Optional. Disk used in bytes.",
          "format": "int64"
        },
        "coreLimit": {
          "type": "integer",
          "description": "Optional. Number of total logical cores limited by db deployment.",
          "format": "int32"
        }
      }
    },
    "ImportRowError": {
      "id": "ImportRowError",
      "description": "A resource that reports the import job errors at row level.",
      "type": "object",
      "properties": {
        "vmUuid": {
          "type": "string",
          "description": "The VM UUID."
        },
        "errors": {
          "type": "array",
          "description": "The list of errors detected in the row.",
          "items": {
            "$ref": "ImportError"
          }
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        },
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "archiveError": {
          "description": "Error details for an archive file.",
          "$ref": "ImportRowErrorArchiveErrorDetails"
        },
        "xlsxError": {
          "description": "Error details for an XLSX file.",
          "$ref": "ImportRowErrorXlsxErrorDetails"
        },
        "vmName": {
          "type": "string",
          "description": "The name of the VM in the row."
        },
        "assetTitle": {
          "type": "string",
          "description": "Output only. The asset title.",
          "readOnly": true
        }
      }
    },
    "OutputFileList": {
      "id": "OutputFileList",
      "description": "Contains a list of output files.",
      "type": "object",
      "properties": {
        "entries": {
          "readOnly": true,
          "description": "Output only. List of output files.",
          "items": {
            "$ref": "OutputFile"
          },
          "type": "array"
        }
      }
    },
    "ListGroupsResponse": {
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "description": "The list of Group",
          "items": {
            "$ref": "Group"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListGroupsResponse",
      "description": "A response for listing groups."
    },
    "VirtualMachinePreferences": {
      "description": "VirtualMachinePreferences enables you to create sets of assumptions, for example, a geographical location and pricing track, for your migrated virtual machines. The set of preferences influence recommendations for migrating virtual machine assets.",
      "id": "VirtualMachinePreferences",
      "properties": {
        "regionPreferences": {
          "description": "Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with.",
          "$ref": "RegionPreferences"
        },
        "targetProduct": {
          "description": "Target product for assets using this preference set. Specify either target product or business goal, but not both.",
          "enum": [
            "COMPUTE_MIGRATION_TARGET_PRODUCT_UNSPECIFIED",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_COMPUTE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_VMWARE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_SOLE_TENANCY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Prefer to migrate to Google Cloud Compute Engine.",
            "Prefer to migrate to Google Cloud VMware Engine.6278",
            "Prefer to migrate to Google Cloud Sole Tenant Nodes."
          ]
        },
        "soleTenancyPreferences": {
          "description": "Preferences concerning Sole Tenant nodes and virtual machines.",
          "$ref": "SoleTenancyPreferences"
        },
        "sizingOptimizationStrategy": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "No optimization applied. Virtual machine sizing matches as closely as possible the machine shape on the source site, not considering any actual performance data.",
            "Virtual machine sizing will match the reported usage and shape, with some slack. This a good value to start with.",
            "Virtual machine sizing will match the reported usage, with little slack. Using this option can help reduce costs."
          ],
          "enum": [
            "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE",
            "SIZING_OPTIMIZATION_STRATEGY_MODERATE",
            "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE"
          ],
          "description": "Sizing optimization strategy specifies the preferred strategy used when extrapolating usage data to calculate insights and recommendations for a virtual machine. If you are unsure which value to set, a moderate sizing optimization strategy is often a good value to start with."
        },
        "vmwareEnginePreferences": {
          "description": "Preferences concerning insights and recommendations for Google Cloud VMware Engine.",
          "$ref": "VmwareEnginePreferences"
        },
        "commitmentPlan": {
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_NONE",
            "COMMITMENT_PLAN_ONE_YEAR",
            "COMMITMENT_PLAN_THREE_YEARS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1 year commitment.",
            "3 years commitment."
          ]
        },
        "computeEnginePreferences": {
          "description": "Compute Engine preferences concern insights and recommendations for Compute Engine target.",
          "$ref": "ComputeEnginePreferences"
        }
      },
      "type": "object"
    },
    "CascadeLogicalDBsRule": {
      "description": "Cascading rule for related logical DBs.",
      "id": "CascadeLogicalDBsRule",
      "properties": {},
      "type": "object"
    },
    "DatabaseInstance": {
      "type": "object",
      "properties": {
        "role": {
          "description": "Optional. The instance role in the database engine.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Primary.",
            "Secondary.",
            "Arbiter."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "ARBITER"
          ]
        },
        "instanceName": {
          "type": "string",
          "description": "Optional. The instance's name."
        },
        "network": {
          "description": "Optional. Networking details.",
          "$ref": "DatabaseInstanceNetwork"
        }
      },
      "id": "DatabaseInstance",
      "description": "Details of a database instance."
    },
    "PostgreSqlDatabaseDeployment": {
      "description": "Specific details for a PostgreSQL database deployment.",
      "id": "PostgreSqlDatabaseDeployment",
      "properties": {
        "settings": {
          "description": "Optional. List of PostgreSql settings.",
          "items": {
            "$ref": "PostgreSqlSetting"
          },
          "type": "array"
        },
        "properties": {
          "description": "Optional. List of PostgreSql properties.",
          "items": {
            "$ref": "PostgreSqlProperty"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SqlServerTraceFlag": {
      "description": "SQL Server trace flag details.",
      "id": "SqlServerTraceFlag",
      "properties": {
        "traceFlagName": {
          "type": "string",
          "description": "Required. The trace flag name."
        },
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "OFF",
            "GLOBAL",
            "SESSION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Off.",
            "Global.",
            "Session."
          ],
          "description": "Required. The trace flag scope."
        }
      },
      "type": "object"
    },
    "AssetPerformanceData": {
      "description": "Performance data for an asset.",
      "id": "AssetPerformanceData",
      "properties": {
        "dailyResourceUsageAggregations": {
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent.",
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SignedUriDestination": {
      "id": "SignedUriDestination",
      "description": "Signed URI destination configuration.",
      "type": "object",
      "properties": {
        "fileFormat": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
            "XLSX file format which used in Excel."
          ],
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "description": "Required. The file format to export."
        }
      }
    },
    "AzureVmPlatformDetails": {
      "id": "AzureVmPlatformDetails",
      "description": "Azure VM specific details.",
      "type": "object",
      "properties": {
        "machineTypeLabel": {
          "description": "Azure platform's machine type label.",
          "type": "string"
        },
        "location": {
          "description": "The location of the machine in the Azure format.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        },
        "provisioningState": {
          "description": "Azure platform's provisioning state.",
          "type": "string"
        }
      }
    },
    "PostgreSqlProperty": {
      "id": "PostgreSqlProperty",
      "description": "PostgreSql property.",
      "type": "object",
      "properties": {
        "numericValue": {
          "type": "string",
          "description": "Required. The property numeric value.",
          "format": "int64"
        },
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        },
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        }
      }
    },
    "RunningProcess": {
      "type": "object",
      "properties": {
        "attributes": {
          "description": "Process extended attributes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "pid": {
          "type": "string",
          "description": "Process ID.",
          "format": "int64"
        },
        "cmdline": {
          "description": "Process full command line.",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "User running the process."
        },
        "exePath": {
          "type": "string",
          "description": "Process binary path."
        }
      },
      "id": "RunningProcess",
      "description": "Guest OS running process details."
    },
    "AwsRds": {
      "properties": {},
      "type": "object",
      "description": "Specific details for an AWS RDS database deployment.",
      "id": "AwsRds"
    },
    "XlsxOutputFile": {
      "description": "Contains a single output file of type XLSX.",
      "id": "XlsxOutputFile",
      "properties": {
        "signedUri": {
          "readOnly": true,
          "description": "Output only. Signed URI destination.",
          "$ref": "SignedUri"
        }
      },
      "type": "object"
    },
    "HostsEntry": {
      "id": "HostsEntry",
      "description": "Single /etc/hosts entry.",
      "type": "object",
      "properties": {
        "ip": {
          "description": "IP (raw, IPv4/6 agnostic).",
          "type": "string"
        },
        "hostNames": {
          "description": "List of host names / aliases.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AssetsExportJobExecution": {
      "properties": {
        "executionId": {
          "readOnly": true,
          "description": "Output only. Globally unique identifier of the execution.",
          "type": "string"
        },
        "result": {
          "description": "Output only. Result of the export execution.",
          "$ref": "AssetsExportJobExecutionResult",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Execution timestamp.",
          "format": "google-datetime"
        },
        "requestedAssetCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of assets requested for export after resolving the requested filters.",
          "format": "int32"
        },
        "expireTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Expiration time for the export and artifacts.",
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. Completion time of the export.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Execution status of assets export job.",
      "id": "AssetsExportJobExecution"
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      }
    },
    "SqlServerServerFlag": {
      "id": "SqlServerServerFlag",
      "description": "SQL Server server flag details.",
      "type": "object",
      "properties": {
        "valueInUse": {
          "description": "Required. The server flag actual value. If `value_in_use` is different from `value` it means that either the configuration change was not applied or it is an expected behavior. See SQL Server documentation for more details.",
          "type": "string"
        },
        "serverFlagName": {
          "description": "Required. The server flag name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. The server flag value set by the user."
        }
      }
    },
    "AggregateAssetsValuesRequest": {
      "id": "AggregateAssetsValuesRequest",
      "description": "A request to aggregate one or more values.",
      "type": "object",
      "properties": {
        "aggregations": {
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined.",
          "items": {
            "$ref": "Aggregation"
          },
          "type": "array"
        },
        "filter": {
          "type": "string",
          "description": "Optional. The aggregation will be performed on assets that match the provided filter."
        },
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        }
      }
    },
    "GenericPlatformDetails": {
      "id": "GenericPlatformDetails",
      "description": "Generic platform details.",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different VMs in the same location may have different string values for this field."
        },
        "hyperthreading": {
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "description": "Whether the machine is hyperthreaded."
        }
      }
    },
    "ComputeEngineMigrationTarget": {
      "description": "Compute engine migration target.",
      "id": "ComputeEngineMigrationTarget",
      "properties": {
        "shape": {
          "description": "Description of the suggested shape for the migration target.",
          "$ref": "ComputeEngineShapeDescriptor"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "MachineDiskDetails": {
      "description": "Details of machine disks.",
      "id": "MachineDiskDetails",
      "properties": {
        "totalFreeBytes": {
          "description": "Total disk free space.",
          "format": "int64",
          "type": "string"
        },
        "disks": {
          "description": "List of disks.",
          "$ref": "DiskEntryList"
        },
        "totalCapacityBytes": {
          "description": "Disk total Capacity.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportSummaryAssetAggregateStats": {
      "type": "object",
      "properties": {
        "totalStorageBytes": {
          "description": "Sum of persistent storage in bytes of all the assets in this collection.",
          "format": "int64",
          "type": "string"
        },
        "storageUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "coreCountHistogram": {
          "description": "Histogram showing a distribution of logical CPU core counts.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "storageBytesHistogram": {
          "description": "Histogram showing a distribution of storage sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "memoryUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "totalMemoryBytes": {
          "type": "string",
          "description": "Sum of the memory in bytes of all the assets in this collection.",
          "format": "int64"
        },
        "softwareInstances": {
          "description": "Output only. Count of assets grouped by software name. Only present for virtual machines.",
          "$ref": "ReportSummaryChartData",
          "readOnly": true
        },
        "totalCores": {
          "type": "string",
          "description": "Sum of the CPU core count of all the assets in this collection.",
          "format": "int64"
        },
        "operatingSystem": {
          "description": "Count of assets grouped by Operating System families.",
          "$ref": "ReportSummaryChartData"
        },
        "memoryBytesHistogram": {
          "description": "Histogram showing a distribution of memory sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "totalAssets": {
          "description": "Count of the number of unique assets in this collection.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "ReportSummaryAssetAggregateStats",
      "description": "Aggregate statistics for a collection of assets."
    },
    "DatabaseSchema": {
      "description": "Details of a database schema.",
      "id": "DatabaseSchema",
      "properties": {
        "sqlServer": {
          "description": "Optional. Details of a SqlServer schema.",
          "$ref": "SqlServerSchemaDetails"
        },
        "postgresql": {
          "description": "Optional. Details of a PostgreSql schema.",
          "$ref": "PostgreSqlSchemaDetails"
        },
        "objects": {
          "description": "Optional. List of details of objects by category.",
          "items": {
            "$ref": "DatabaseObjects"
          },
          "type": "array"
        },
        "tablesSizeBytes": {
          "description": "Optional. The total size of tables in bytes.",
          "format": "int64",
          "type": "string"
        },
        "schemaName": {
          "type": "string",
          "description": "Required. The name of the schema."
        },
        "mysql": {
          "description": "Optional. Details of a Mysql schema.",
          "$ref": "MySqlSchemaDetails"
        }
      },
      "type": "object"
    },
    "AggregationCount": {
      "type": "object",
      "properties": {},
      "id": "AggregationCount",
      "description": "Object count."
    },
    "ExecutionReport": {
      "type": "object",
      "properties": {
        "executionErrors": {
          "description": "Validation errors encountered during the execution of the import job.",
          "$ref": "ValidationReport"
        },
        "totalRowsCount": {
          "readOnly": true,
          "description": "Output only. Total number of rows in the import job.",
          "format": "int32",
          "type": "integer"
        },
        "framesReported": {
          "description": "Total number of asset frames reported for the import job.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ExecutionReport",
      "description": "A resource that reports result of the import job execution."
    },
    "BatchUpdateAssetsRequest": {
      "id": "BatchUpdateAssetsRequest",
      "description": "A request to update a list of assets.",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.",
          "items": {
            "$ref": "UpdateAssetRequest"
          }
        }
      }
    },
    "AssetsExportJobExportCondition": {
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Assets filter, supports the same syntax as asset listing."
        }
      },
      "type": "object",
      "description": "Conditions for selecting assets to export.",
      "id": "AssetsExportJobExportCondition"
    },
    "ValidateImportJobRequest": {
      "id": "ValidateImportJobRequest",
      "description": "A request to validate an import job.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "DiscoveryClient": {
      "properties": {
        "signalsEndpoint": {
          "readOnly": true,
          "description": "Output only. This field is intended for internal use.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the discovery client was first created.",
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs.",
          "type": "object"
        },
        "heartbeatTime": {
          "readOnly": true,
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes).",
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Free text display name. Maximum length is 63 characters."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current state of the discovery client.",
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ]
        },
        "errors": {
          "type": "array",
          "description": "Output only. Errors affecting client functionality.",
          "items": {
            "$ref": "Status"
          },
          "readOnly": true
        },
        "source": {
          "description": "Required. Immutable. Full name of the source object associated with this discovery client.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "serviceAccount": {
          "description": "Required. Service account used by the discovery client for various operation.",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field.",
          "format": "google-duration"
        },
        "description": {
          "type": "string",
          "description": "Optional. Free text description. Maximum length is 1000 characters."
        },
        "version": {
          "description": "Output only. Client version, as reported in recent heartbeat.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Full name of this discovery client.",
          "readOnly": true
        },
        "expireTime": {
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents an installed Migration Center Discovery Client instance.",
      "id": "DiscoveryClient"
    },
    "RunningService": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "STOPPED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Service state unspecified.",
            "Service is active.",
            "Service is paused.",
            "Service is stopped."
          ],
          "description": "Service state (OS-agnostic)."
        },
        "pid": {
          "description": "Service pid.",
          "format": "int64",
          "type": "string"
        },
        "cmdline": {
          "type": "string",
          "description": "Service command line."
        },
        "serviceName": {
          "type": "string",
          "description": "Service name."
        },
        "exePath": {
          "description": "Service binary path.",
          "type": "string"
        },
        "startMode": {
          "type": "string",
          "enumDescriptions": [
            "Start mode unspecified.",
            "The service is a device driver started by the system loader.",
            "The service is a device driver started by the IOInitSystem function.",
            "The service is started by the operating system, at system start-up",
            "The service is started only manually, by a user.",
            "The service is disabled."
          ],
          "enum": [
            "START_MODE_UNSPECIFIED",
            "BOOT",
            "SYSTEM",
            "AUTO",
            "MANUAL",
            "DISABLED"
          ],
          "description": "Service start mode (OS-agnostic)."
        }
      },
      "type": "object",
      "description": "Guest OS running service details.",
      "id": "RunningService"
    },
    "ImportJob": {
      "id": "ImportJob",
      "description": "A resource that represents the background job that imports asset frames.",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the import job was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs."
        },
        "createTime": {
          "description": "Output only. The timestamp when the import job was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "completeTime": {
          "description": "Output only. The timestamp when the import job was completed.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "validationReport": {
          "description": "Output only. The report with the validation results of the import job.",
          "$ref": "ValidationReport",
          "readOnly": true
        },
        "executionReport": {
          "description": "Output only. The report with the results of running the import job.",
          "$ref": "ExecutionReport",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 256 characters.",
          "type": "string"
        },
        "assetSource": {
          "description": "Required. Reference to a source.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The full name of the import job.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the import job.",
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ],
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ]
        }
      }
    },
    "DiskEntryList": {
      "id": "DiskEntryList",
      "description": "VM disks.",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Disk entries.",
          "items": {
            "$ref": "DiskEntry"
          }
        }
      }
    },
    "MySqlVariable": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The variable value.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "Required. The variable category."
        },
        "variable": {
          "type": "string",
          "description": "Required. The variable name."
        }
      },
      "id": "MySqlVariable",
      "description": "MySql variable."
    },
    "ComputeEnginePreferences": {
      "id": "ComputeEnginePreferences",
      "description": "The user preferences relating to Compute Engine target platform.",
      "type": "object",
      "properties": {
        "persistentDiskType": {
          "description": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ]
        },
        "machinePreferences": {
          "description": "Preferences concerning the machine types to consider on Compute Engine.",
          "$ref": "MachinePreferences"
        },
        "licenseType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the OS license."
          ],
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ],
          "description": "License type to consider when calculating costs for virtual machine insights and recommendations. If unspecified, costs are calculated based on the default licensing plan."
        }
      }
    },
    "FrameViolationEntry": {
      "type": "object",
      "properties": {
        "violation": {
          "type": "string",
          "description": "A message describing the violation."
        },
        "field": {
          "description": "The field of the original frame where the violation occurred.",
          "type": "string"
        }
      },
      "id": "FrameViolationEntry",
      "description": "A resource that contains a single violation of a reported `AssetFrame` resource."
    },
    "ReportSummaryVmwareEngineFinding": {
      "properties": {
        "allocatedRegions": {
          "type": "array",
          "description": "Set of regions in which the assets were allocated",
          "items": {
            "type": "string"
          }
        },
        "nodeAllocations": {
          "description": "Set of per-nodetype allocation records",
          "items": {
            "$ref": "ReportSummaryVmwareNodeAllocation"
          },
          "type": "array"
        },
        "allocatedAssetCount": {
          "type": "string",
          "description": "Count of assets which are allocated",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "A set of findings that applies to assets destined for VMWare Engine.",
      "id": "ReportSummaryVmwareEngineFinding"
    },
    "ImportRowErrorArchiveErrorDetails": {
      "description": "Error details for an archive file.",
      "id": "ImportRowErrorArchiveErrorDetails",
      "properties": {
        "filePath": {
          "readOnly": true,
          "description": "Output only. The file path inside the archive where the error was detected.",
          "type": "string"
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        }
      },
      "type": "object"
    },
    "NfsExport": {
      "type": "object",
      "properties": {
        "hosts": {
          "description": "The hosts or networks to which the export is being shared.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exportDirectory": {
          "description": "The directory being exported.",
          "type": "string"
        }
      },
      "id": "NfsExport",
      "description": "NFS export."
    },
    "NetworkAdapterList": {
      "description": "List of network adapters.",
      "id": "NetworkAdapterList",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Network adapter entries.",
          "items": {
            "$ref": "NetworkAdapterDetails"
          }
        }
      },
      "type": "object"
    },
    "NetworkConnectionList": {
      "id": "NetworkConnectionList",
      "description": "Network connection list.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Network connection entries.",
          "items": {
            "$ref": "NetworkConnection"
          },
          "type": "array"
        }
      }
    },
    "DailyResourceUsageAggregation": {
      "description": "Usage data aggregation for a single day.",
      "id": "DailyResourceUsageAggregation",
      "properties": {
        "date": {
          "description": "Aggregation date. Day boundaries are at midnight UTC.",
          "$ref": "Date"
        },
        "disk": {
          "description": "Disk usage.",
          "$ref": "DailyResourceUsageAggregationDisk"
        },
        "cpu": {
          "description": "CPU usage.",
          "$ref": "DailyResourceUsageAggregationCPU"
        },
        "memory": {
          "description": "Memory usage.",
          "$ref": "DailyResourceUsageAggregationMemory"
        },
        "network": {
          "description": "Network usage.",
          "$ref": "DailyResourceUsageAggregationNetwork"
        }
      },
      "type": "object"
    },
    "GuestInstalledApplicationList": {
      "description": "Guest installed application list.",
      "id": "GuestInstalledApplicationList",
      "properties": {
        "entries": {
          "description": "Application entries.",
          "items": {
            "$ref": "GuestInstalledApplication"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SoleTenancyPreferences": {
      "properties": {
        "hostMaintenancePolicy": {
          "enum": [
            "HOST_MAINTENANCE_POLICY_UNSPECIFIED",
            "HOST_MAINTENANCE_POLICY_DEFAULT",
            "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE",
            "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified host maintenance policy.",
            "Default host maintenance policy.",
            "Restart in place host maintenance policy.",
            "Migrate within node group host maintenance policy."
          ],
          "description": "Sole Tenancy nodes maintenance policy."
        },
        "nodeTypes": {
          "description": "A list of sole tenant node types. An empty list means that all possible node types will be considered.",
          "items": {
            "$ref": "SoleTenantNodeType"
          },
          "type": "array"
        },
        "cpuOvercommitRatio": {
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 2.0 inclusive.",
          "format": "double",
          "type": "number"
        },
        "commitmentPlan": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment.",
            "3 years commitment."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR",
            "COMMITMENT_3_YEAR"
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with."
        }
      },
      "type": "object",
      "description": "Preferences concerning Sole Tenancy nodes and VMs.",
      "id": "SoleTenancyPreferences"
    },
    "Report": {
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. Creation timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "Report creation state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ]
        },
        "summary": {
          "description": "Output only. Summary view of the Report.",
          "$ref": "ReportSummary",
          "readOnly": true
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default Report type.",
            "Total cost of ownership Report type."
          ],
          "description": "Report type."
        },
        "name": {
          "description": "Output only. Name of resource.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Last update timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Free-text description."
        }
      },
      "id": "Report",
      "description": "Report represents a point-in-time rendering of the ReportConfig results."
    },
    "SendDiscoveryClientHeartbeatRequest": {
      "description": "A request to send a discovery client heartbeat.",
      "id": "SendDiscoveryClientHeartbeatRequest",
      "properties": {
        "errors": {
          "description": "Optional. Errors affecting client functionality.",
          "items": {
            "$ref": "Status"
          },
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "Optional. Client application version."
        }
      },
      "type": "object"
    },
    "Insight": {
      "description": "An insight about an asset.",
      "id": "Insight",
      "properties": {
        "migrationInsight": {
          "description": "Output only. An insight about potential migrations for an asset.",
          "$ref": "MigrationInsight",
          "readOnly": true
        },
        "genericInsight": {
          "description": "Output only. A generic insight about an asset.",
          "$ref": "GenericInsight",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "CpuUsageSample": {
      "properties": {
        "utilizedPercentage": {
          "type": "number",
          "description": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage.",
          "format": "float"
        }
      },
      "type": "object",
      "description": "CPU usage sample.",
      "id": "CpuUsageSample"
    },
    "SignedUri": {
      "id": "SignedUri",
      "description": "Contains a signed URI.",
      "type": "object",
      "properties": {
        "file": {
          "type": "string",
          "description": "Output only. Name of the file the Signed URI references.",
          "readOnly": true
        },
        "uri": {
          "type": "string",
          "description": "Output only. Download URI for the file.",
          "readOnly": true
        }
      }
    },
    "NetworkAddressList": {
      "id": "NetworkAddressList",
      "description": "List of allocated/assigned network addresses.",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Network address entries.",
          "items": {
            "$ref": "NetworkAddress"
          }
        }
      }
    },
    "ImportError": {
      "type": "object",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The severity of the error."
        },
        "errorDetails": {
          "type": "string",
          "description": "The error information."
        }
      },
      "id": "ImportError",
      "description": "A resource that reports the errors encountered while processing an import job."
    },
    "GuestOsDetails": {
      "type": "object",
      "properties": {
        "family": {
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ],
          "description": "What family the OS belong to, if known."
        },
        "runtime": {
          "description": "Runtime information.",
          "$ref": "GuestRuntimeDetails"
        },
        "osName": {
          "description": "The name of the operating system.",
          "type": "string"
        },
        "version": {
          "description": "The version of the operating system.",
          "type": "string"
        },
        "config": {
          "description": "OS and app configuration.",
          "$ref": "GuestConfigDetails"
        }
      },
      "id": "GuestOsDetails",
      "description": "Information from Guest-level collections."
    },
    "RunAssetsExportJobResponse": {
      "type": "object",
      "properties": {
        "assetsExportJobExecution": {
          "description": "Output only. Execution status of the assets export operation.",
          "$ref": "AssetsExportJobExecution",
          "readOnly": true
        }
      },
      "id": "RunAssetsExportJobResponse",
      "description": "Response message for running an assets export job."
    },
    "InsightList": {
      "description": "Message containing insights list.",
      "id": "InsightList",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Update timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "insights": {
          "description": "Output only. Insights of the list.",
          "items": {
            "$ref": "Insight"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "Source": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the source was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the source was last updated.",
          "format": "google-datetime"
        },
        "priority": {
          "type": "integer",
          "description": "The information confidence of the source. The higher the value, the higher the confidence.",
          "format": "int32"
        },
        "type": {
          "description": "Data source type.",
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ]
        },
        "managed": {
          "description": "If `true`, the source is managed by other service(s).",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The full name of the source.",
          "type": "string"
        },
        "pendingFrameCount": {
          "type": "integer",
          "description": "Output only. Number of frames that are still being processed.",
          "format": "int32",
          "readOnly": true
        },
        "errorFrameCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of frames that were reported by the source and contained errors.",
          "format": "int32"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING",
            "INVALID"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ],
          "description": "Output only. The state of the source.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "User-friendly display name.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Free-text description."
        }
      },
      "id": "Source",
      "description": "Source represents an object from which asset information is streamed to Migration Center."
    },
    "ReportSummaryGroupPreferenceSetFinding": {
      "description": "Summary Findings for a specific Group/PreferenceSet combination.",
      "id": "ReportSummaryGroupPreferenceSetFinding",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display Name of the Preference Set"
        },
        "description": {
          "description": "Description for the Preference Set.",
          "type": "string"
        },
        "monthlyCostStorage": {
          "description": "Storage monthly cost for this preference set.",
          "$ref": "Money"
        },
        "machinePreferences": {
          "description": "A set of preferences that applies to all machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "monthlyCostOsLicense": {
          "description": "Licensing monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostOther": {
          "description": "Miscellaneous monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostNetworkEgress": {
          "description": "Network Egress monthly cost for this preference set.",
          "$ref": "Money"
        },
        "vmwareEngineFinding": {
          "description": "A set of findings that applies to VMWare machines in the input.",
          "$ref": "ReportSummaryVmwareEngineFinding"
        },
        "monthlyCostCompute": {
          "description": "Compute monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostTotal": {
          "description": "Total monthly cost for this preference set.",
          "$ref": "Money"
        },
        "computeEngineFinding": {
          "description": "A set of findings that applies to Compute Engine machines in the input.",
          "$ref": "ReportSummaryComputeEngineFinding"
        },
        "soleTenantFinding": {
          "description": "A set of findings that applies to Sole-Tenant machines in the input.",
          "$ref": "ReportSummarySoleTenantFinding"
        }
      },
      "type": "object"
    },
    "ReportSummaryChartDataDataPoint": {
      "properties": {
        "value": {
          "type": "number",
          "description": "The Y-axis value for this data point.",
          "format": "double"
        },
        "label": {
          "type": "string",
          "description": "The X-axis label for this data point."
        }
      },
      "type": "object",
      "description": "Describes a single data point in the Chart.",
      "id": "ReportSummaryChartDataDataPoint"
    },
    "Asset": {
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases.",
      "id": "Asset",
      "properties": {
        "title": {
          "description": "Output only. Server generated human readable name of the asset.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The full name of the asset.",
          "readOnly": true,
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Generic asset attributes."
        },
        "performanceData": {
          "readOnly": true,
          "description": "Output only. Performance data for the asset.",
          "$ref": "AssetPerformanceData"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the asset was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "databaseDetails": {
          "description": "Output only. Asset information specific for logical databases.",
          "$ref": "DatabaseDetails",
          "readOnly": true
        },
        "sources": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of sources contributing to the asset.",
          "items": {
            "type": "string"
          }
        },
        "databaseDeploymentDetails": {
          "description": "Output only. Asset information specific for database deployments.",
          "$ref": "DatabaseDeploymentDetails",
          "readOnly": true
        },
        "hideTime": {
          "type": "string",
          "description": "Output only. The timestamp when the asset was marked as hidden.",
          "format": "google-datetime",
          "readOnly": true
        },
        "hidden": {
          "description": "Optional. Indicates if the asset is hidden.",
          "type": "boolean"
        },
        "insightList": {
          "description": "Output only. The list of insights associated with the asset.",
          "$ref": "InsightList",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs.",
          "type": "object"
        },
        "machineDetails": {
          "description": "Output only. Asset information specific for virtual and physical machines.",
          "$ref": "MachineDetails",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the asset was created.",
          "format": "google-datetime"
        },
        "assignedGroups": {
          "description": "Output only. The list of groups that the asset is assigned to.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "hideReason": {
          "description": "Optional. An optional reason for marking this asset as hidden.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "NetworkUsageSample": {
      "description": "Network usage sample. Values are across all network interfaces.",
      "id": "NetworkUsageSample",
      "properties": {
        "averageIngressBps": {
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative.",
          "format": "float",
          "type": "number"
        },
        "averageEgressBps": {
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "PlatformDetails": {
      "description": "Information about the platform.",
      "id": "PlatformDetails",
      "properties": {
        "physicalDetails": {
          "description": "Physical machines platform details.",
          "$ref": "PhysicalPlatformDetails"
        },
        "awsEc2Details": {
          "description": "AWS EC2 specific details.",
          "$ref": "AwsEc2PlatformDetails"
        },
        "vmwareDetails": {
          "description": "VMware specific details.",
          "$ref": "VmwarePlatformDetails"
        },
        "azureVmDetails": {
          "description": "Azure VM specific details.",
          "$ref": "AzureVmPlatformDetails"
        },
        "genericDetails": {
          "description": "Generic platform details.",
          "$ref": "GenericPlatformDetails"
        }
      },
      "type": "object"
    },
    "PostgreSqlSchemaDetails": {
      "properties": {
        "foreignTablesCount": {
          "description": "Optional. PostgreSql foreign tables.",
          "format": "int32",
          "type": "integer"
        },
        "postgresqlExtensions": {
          "type": "array",
          "description": "Optional. PostgreSql extensions.",
          "items": {
            "$ref": "PostgreSqlExtension"
          }
        }
      },
      "type": "object",
      "description": "Specific details for a PostgreSql schema.",
      "id": "PostgreSqlSchemaDetails"
    },
    "DailyResourceUsageAggregationDisk": {
      "description": "Statistical aggregation of disk usage.",
      "id": "DailyResourceUsageAggregationDisk",
      "properties": {
        "readIops": {
          "description": "Optional. Disk read I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "writeIops": {
          "description": "Optional. Disk write I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "iops": {
          "description": "Optional. Disk I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "type": "object"
    },
    "VmwarePlatformDetails": {
      "id": "VmwarePlatformDetails",
      "description": "VMware specific details.",
      "type": "object",
      "properties": {
        "osid": {
          "type": "string",
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html."
        },
        "vcenterFolder": {
          "type": "string",
          "description": "Folder name in vCenter where asset resides."
        },
        "esxVersion": {
          "description": "ESX version.",
          "type": "string"
        },
        "vcenterUri": {
          "type": "string",
          "description": "vCenter URI used in collection."
        },
        "esxHyperthreading": {
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Whether the ESX is hyperthreaded."
        },
        "vcenterVmId": {
          "description": "vCenter VM ID.",
          "type": "string"
        },
        "vcenterVersion": {
          "type": "string",
          "description": "vCenter version."
        }
      }
    },
    "ImportRowErrorXlsxErrorDetails": {
      "type": "object",
      "properties": {
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "format": "int32",
          "type": "integer"
        },
        "sheet": {
          "type": "string",
          "description": "The name of the sheet where the error was detected."
        }
      },
      "id": "ImportRowErrorXlsxErrorDetails",
      "description": "Error details for an XLSX file."
    },
    "ImportDataFile": {
      "id": "ImportDataFile",
      "description": "A resource that represents a payload file in an import job.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. User-friendly display name. Maximum length is 63 characters."
        },
        "createTime": {
          "description": "Output only. The timestamp when the file was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "description": "Output only. The state of the import data file."
        },
        "format": {
          "description": "Required. The payload format.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the AWS collection script.",
            "CSV format exported from Azure using the Azure collection script.",
            "CSV format created manually and following the StratoZone format. For more information, see Manually create and upload data tables.",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_STRATOZONE_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the file."
        },
        "uploadFileInfo": {
          "description": "Information about a file that is uploaded to a storage service.",
          "$ref": "UploadFileInfo"
        }
      }
    },
    "PostgreSqlExtension": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Required. The extension version."
        },
        "extension": {
          "type": "string",
          "description": "Required. The extension name."
        }
      },
      "type": "object",
      "description": "PostgreSql extension.",
      "id": "PostgreSqlExtension"
    },
    "ReportAssetFramesResponse": {
      "type": "object",
      "properties": {},
      "id": "ReportAssetFramesResponse",
      "description": "A response to a call to `ReportAssetFrame`."
    },
    "AssetsExportJobPerformanceData": {
      "type": "object",
      "properties": {
        "maxDays": {
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "AssetsExportJobPerformanceData",
      "description": "Configuration for performance data exports."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        }
      }
    },
    "DatabaseDetailsParentDatabaseDeployment": {
      "description": "The identifiers of the parent database deployment.",
      "id": "DatabaseDetailsParentDatabaseDeployment",
      "properties": {
        "generatedId": {
          "type": "string",
          "description": "Optional. The parent database deployment generated ID."
        },
        "manualUniqueId": {
          "type": "string",
          "description": "Optional. The parent database deployment optional manual unique ID set by the user."
        }
      },
      "type": "object"
    },
    "ListImportJobsResponse": {
      "description": "A response for listing import jobs.",
      "id": "ListImportJobsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "importJobs": {
          "description": "The list of import jobs.",
          "items": {
            "$ref": "ImportJob"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GuestInstalledApplication": {
      "type": "object",
      "properties": {
        "applicationName": {
          "description": "Installed application name.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Source path."
        },
        "licenses": {
          "description": "License strings associated with the installed application.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "vendor": {
          "type": "string",
          "description": "Installed application vendor."
        },
        "version": {
          "description": "Installed application version.",
          "type": "string"
        },
        "installTime": {
          "type": "string",
          "description": "The time when the application was installed.",
          "format": "google-datetime"
        }
      },
      "id": "GuestInstalledApplication",
      "description": "Guest installed application information."
    },
    "NetworkAdapterDetails": {
      "id": "NetworkAdapterDetails",
      "description": "Details of network adapter.",
      "type": "object",
      "properties": {
        "addresses": {
          "description": "NetworkAddressList",
          "$ref": "NetworkAddressList"
        },
        "macAddress": {
          "type": "string",
          "description": "MAC address."
        },
        "adapterType": {
          "type": "string",
          "description": "Network adapter type (e.g. VMXNET3)."
        }
      }
    },
    "AggregateAssetsValuesResponse": {
      "type": "object",
      "properties": {
        "results": {
          "description": "The aggregation results.",
          "items": {
            "$ref": "AggregationResult"
          },
          "type": "array"
        }
      },
      "id": "AggregateAssetsValuesResponse",
      "description": "A response to a request to aggregated assets values."
    },
    "DatabaseInstanceNetwork": {
      "id": "DatabaseInstanceNetwork",
      "description": "Network details of a database instance.",
      "type": "object",
      "properties": {
        "hostNames": {
          "description": "Optional. The instance's host names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "primaryMacAddress": {
          "description": "Optional. The instance's primary MAC address.",
          "type": "string"
        },
        "ipAddresses": {
          "description": "Optional. The instance's IP addresses.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "UploadFileInfo": {
      "type": "object",
      "properties": {
        "headers": {
          "type": "object",
          "description": "Output only. The headers that were used to sign the URI.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "uriExpirationTime": {
          "description": "Output only. Expiration time of the upload URI.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "signedUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Upload URI for the file."
        }
      },
      "id": "UploadFileInfo",
      "description": "A resource that contains a URI to which a data file can be uploaded."
    },
    "PerformanceSample": {
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Time the sample was collected. If omitted, the frame report time will be used.",
          "format": "google-datetime",
          "type": "string"
        },
        "memory": {
          "description": "Memory usage sample.",
          "$ref": "MemoryUsageSample"
        },
        "network": {
          "description": "Network usage sample.",
          "$ref": "NetworkUsageSample"
        },
        "cpu": {
          "description": "CPU usage sample.",
          "$ref": "CpuUsageSample"
        },
        "disk": {
          "description": "Disk usage sample.",
          "$ref": "DiskUsageSample"
        }
      },
      "id": "PerformanceSample",
      "description": "Performance data sample."
    },
    "ReportSummaryUtilizationChartData": {
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets.",
      "id": "ReportSummaryUtilizationChartData",
      "properties": {
        "free": {
          "description": "Aggregate value which falls into the \"Free\" bucket.",
          "format": "int64",
          "type": "string"
        },
        "used": {
          "description": "Aggregate value which falls into the \"Used\" bucket.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FstabEntry": {
      "properties": {
        "file": {
          "type": "string",
          "description": "The mount point for the filesystem."
        },
        "vfstype": {
          "type": "string",
          "description": "The type of the filesystem."
        },
        "freq": {
          "type": "integer",
          "description": "Used by dump to determine which filesystems need to be dumped.",
          "format": "int32"
        },
        "passno": {
          "type": "integer",
          "description": "Used by the fsck(8) program to determine the order in which filesystem checks are done at reboot time.",
          "format": "int32"
        },
        "spec": {
          "type": "string",
          "description": "The block special device or remote filesystem to be mounted."
        },
        "mntops": {
          "type": "string",
          "description": "Mount options associated with the filesystem."
        }
      },
      "type": "object",
      "description": "Single fstab entry.",
      "id": "FstabEntry"
    },
    "BatchDeleteAssetsRequest": {
      "description": "A request to delete a list of asset.",
      "id": "BatchDeleteAssetsRequest",
      "properties": {
        "names": {
          "type": "array",
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}.",
          "items": {
            "type": "string"
          }
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`.",
          "type": "boolean"
        },
        "cascadingRules": {
          "type": "array",
          "description": "Optional. Optional cascading rules for deleting related assets.",
          "items": {
            "$ref": "CascadingRule"
          }
        }
      },
      "type": "object"
    },
    "FstabEntryList": {
      "description": "Fstab content.",
      "id": "FstabEntryList",
      "properties": {
        "entries": {
          "description": "Fstab entries.",
          "items": {
            "$ref": "FstabEntry"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DailyResourceUsageAggregationNetwork": {
      "description": "Statistical aggregation of network usage.",
      "id": "DailyResourceUsageAggregationNetwork",
      "properties": {
        "egressBps": {
          "description": "Network egress in B/s.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "ingressBps": {
          "description": "Network ingress in B/s.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "type": "object"
    },
    "RegionPreferences": {
      "type": "object",
      "properties": {
        "preferredRegions": {
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "RegionPreferences",
      "description": "The user preferences relating to target regions."
    },
    "ListAssetsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "assets": {
          "description": "A list of assets.",
          "items": {
            "$ref": "Asset"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object",
      "description": "Response message for listing assets.",
      "id": "ListAssetsResponse"
    },
    "MachineDetails": {
      "properties": {
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "memoryMb": {
          "description": "The amount of memory in the machine. Must be non-negative.",
          "format": "int32",
          "type": "integer"
        },
        "platform": {
          "description": "Platform specific information.",
          "$ref": "PlatformDetails"
        },
        "coreCount": {
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "format": "int32",
          "type": "integer"
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        },
        "architecture": {
          "description": "Architecture details (vendor, CPU architecture).",
          "$ref": "MachineArchitectureDetails"
        },
        "network": {
          "description": "Network details.",
          "$ref": "MachineNetworkDetails"
        },
        "createTime": {
          "description": "Machine creation time.",
          "format": "google-datetime",
          "type": "string"
        },
        "machineName": {
          "type": "string",
          "description": "Machine name."
        },
        "powerState": {
          "type": "string",
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ],
          "description": "Power state of the machine."
        }
      },
      "type": "object",
      "description": "Details of a machine.",
      "id": "MachineDetails"
    },
    "RuntimeNetworkInfo": {
      "id": "RuntimeNetworkInfo",
      "description": "Runtime networking information.",
      "type": "object",
      "properties": {
        "scanTime": {
          "type": "string",
          "description": "Time of the last network scan.",
          "format": "google-datetime"
        },
        "connections": {
          "description": "Network connections.",
          "$ref": "NetworkConnectionList"
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "displayName": {
          "type": "string",
[...]
