{
  "ownerDomain": "google.com",
  "basePath": "",
  "version": "v1",
  "documentationLink": "https://developers.google.com/my-business/",
  "ownerName": "Google",
  "revision": "20260817",
  "kind": "discovery#restDescription",
  "title": "My Business Place Actions API",
  "protocol": "rest",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "canonicalName": "My Business Place Actions",
  "description": "The My Business Place Actions API provides an interface for managing place action links of a location on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://mybusinessplaceactions.mtls.googleapis.com/",
  "name": "mybusinessplaceactions",
  "schemas": {
    "ListPlaceActionLinksResponse": {
      "type": "object",
      "description": "Response message for PlaceActions.ListPlaceActionLinks.",
      "properties": {
        "placeActionLinks": {
          "items": {
            "$ref": "PlaceActionLink"
          },
          "type": "array",
          "description": "The returned list of place action links."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more place action links than the requested page size, then this field is populated with a token to fetch the next page of results."
        }
      },
      "id": "ListPlaceActionLinksResponse"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "ListPlaceActionTypeMetadataResponse": {
      "type": "object",
      "id": "ListPlaceActionTypeMetadataResponse",
      "description": "Response message for PlaceActions.ListPlaceActionTypeMetadata.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the number of action types exceeded the requested page size, this field will be populated with a token to fetch the next page on a subsequent call to `placeActionTypeMetadata.list`. If there are no more results, this field will not be present in the response."
        },
        "placeActionTypeMetadata": {
          "description": "A collection of metadata for the available place action types.",
          "items": {
            "$ref": "PlaceActionTypeMetadata"
          },
          "type": "array"
        }
      }
    },
    "PlaceActionLink": {
      "description": "Represents a place action link and its attributes.",
      "id": "PlaceActionLink",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The link uri. The same uri can be reused for different action types across different locations. However, only one place action link is allowed for each unique combination of (uri, place action type, location)."
        },
        "isPreferred": {
          "description": "Optional. Whether this link is preferred by the merchant. Only one link can be marked as preferred per place action type at a location. If a future request marks a different link as preferred for the same place action type, then the current preferred link (if any exists) will lose its preference.",
          "type": "boolean"
        },
        "name": {
          "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response.",
          "type": "string"
        },
        "placeActionType": {
          "type": "string",
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ],
          "description": "Required. The type of place action that can be performed using this link."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the place action link was last modified.",
          "type": "string"
        },
        "isEditable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether this link can be edited by the client."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the place action link was created.",
          "format": "google-datetime"
        },
        "providerType": {
          "description": "Output only. Specifies the provider type.",
          "enumDescriptions": [
            "Not specified.",
            "A 1P provider such as a merchant, or an agency on behalf of a merchant.",
            "A 3P aggregator, such as a `Reserve with Google` partner."
          ],
          "type": "string",
          "enum": [
            "PROVIDER_TYPE_UNSPECIFIED",
            "MERCHANT",
            "AGGREGATOR_3P"
          ],
          "readOnly": true
        }
      }
    },
    "PlaceActionTypeMetadata": {
      "properties": {
        "displayName": {
          "description": "The localized display name for the attribute, if available; otherwise, the English display name.",
          "type": "string"
        },
        "placeActionType": {
          "description": "The place action type.",
          "type": "string",
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ]
        }
      },
      "description": "Metadata for supported place action types.",
      "id": "PlaceActionTypeMetadata",
      "type": "object"
    }
  },
  "rootUrl": "https://mybusinessplaceactions.googleapis.com/",
  "version_module": true,
  "baseUrl": "https://mybusinessplaceactions.googleapis.com/",
  "resources": {
    "placeActionTypeMetadata": {
      "methods": {
        "list": {
          "path": "v1/placeActionTypeMetadata",
          "flatPath": "v1/placeActionTypeMetadata",
          "description": "Returns the list of available place action types for a location or country.",
          "parameters": {
            "languageCode": {
              "type": "string",
              "location": "query",
              "description": "Optional. The IETF BCP-47 code of language to get display names in. If this language is not available, they will be provided in English."
            },
            "pageSize": {
              "description": "Optional. How many action types to include per page. Default is 10, minimum is 1.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "filter": {
              "type": "string",
              "description": "Optional. A filter constraining the place action types to return metadata for. The response includes entries that match the filter. We support only the following filters: 1. location=XYZ where XYZ is a string indicating the resource name of a location, in the format `locations/{location_id}`. 2. region_code=XYZ where XYZ is a Unicode CLDR region code to find available action types. If no filter is provided, all place action types are returned.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. If specified, the next page of place action type metadata is retrieved. The `pageToken` is returned when a call to `placeActionTypeMetadata.list` returns more results than can fit into the requested page size."
            }
          },
          "id": "mybusinessplaceactions.placeActionTypeMetadata.list",
          "response": {
            "$ref": "ListPlaceActionTypeMetadataResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": []
        }
      }
    },
    "locations": {
      "resources": {
        "placeActionLinks": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "description": "Deletes a place action link from the specified location.",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the place action link to remove from the location.",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "required": true
                }
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.delete"
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The specific fields to update. The only editable fields are `uri`, `place_action_type` and `is_preferred`. If the updated link already exists at the same location with the same `place_action_type` and `uri`, fails with an `ALREADY_EXISTS` error."
                },
                "name": {
                  "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response.",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "PlaceActionLink"
              },
              "description": "Updates the specified place action link and returns it.",
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.patch"
            },
            "create": {
              "flatPath": "v1/locations/{locationsId}/placeActionLinks",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "path": "v1/{+parent}/placeActionLinks",
              "httpMethod": "POST",
              "request": {
                "$ref": "PlaceActionLink"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^locations/[^/]+$",
                  "description": "Required. The resource name of the location where to create this place action link. `locations/{location_id}`.",
                  "type": "string",
                  "required": true
                }
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.create",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a place action link associated with the specified location, and returns it. The request is considered duplicate if the `parent`, `place_action_link.uri` and `place_action_link.place_action_type` are the same as a previous request."
            },
            "list": {
              "description": "Lists the place action links for the specified location.",
              "parameters": {
                "parent": {
                  "pattern": "^locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the location whose place action links will be listed. `locations/{location_id}`."
                },
                "filter": {
                  "description": "Optional. A filter constraining the place action links to return. The response includes entries that match the filter. We support only the following filter: 1. place_action_type=XYZ where XYZ is a valid PlaceActionType.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. If specified, returns the next page of place action links.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. How many place action links to return per page. Default of 10. The minimum is 1.",
                  "location": "query"
                }
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.list",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListPlaceActionLinksResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/placeActionLinks"
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the place action link to fetch.",
                  "location": "path",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "PlaceActionLink"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "description": "Gets the specified place action link.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "id": "mybusinessplaceactions.locations.placeActionLinks.get"
            }
          }
        }
      }
    }
  },
  "id": "mybusinessplaceactions:v1"
}