{
  "name": "mybusinessqanda",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "id": "mybusinessqanda:v1",
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "methods": {
            "patch": {
              "id": "mybusinessqanda.locations.questions.patch",
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Required. The specific fields to update. Only question text can be updated.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "type": "string",
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Question"
              },
              "httpMethod": "PATCH",
              "description": "Updates a specific question written by the current user.",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "request": {
                "$ref": "Question"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListQuestionsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1/locations/{locationsId}/questions",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the location to fetch questions for.",
                  "pattern": "^locations/[^/]+/questions$"
                },
                "orderBy": {
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10.",
                  "type": "integer",
                  "format": "int32"
                },
                "answersPerQuestion": {
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. If specified, the next page of questions is retrieved.",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\"",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "mybusinessqanda.locations.questions.list",
              "path": "v1/{+parent}",
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified."
            },
            "create": {
              "id": "mybusinessqanda.locations.questions.create",
              "path": "v1/{+parent}",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Question"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^locations/[^/]+/questions$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the location to write a question for."
                }
              },
              "description": "Adds a question for the specified location.",
              "request": {
                "$ref": "Question"
              },
              "flatPath": "v1/locations/{locationsId}/questions"
            },
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the question to delete.",
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions/[^/]+$"
                }
              },
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a specific question written by the current user.",
              "id": "mybusinessqanda.locations.questions.delete",
              "path": "v1/{+name}"
            }
          },
          "resources": {
            "answers": {
              "methods": {
                "list": {
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "path": "v1/{+parent}/answers",
                  "description": "Returns the paginated list of answers for a specified question.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListAnswersResponse"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The name of the question to fetch answers for.",
                      "location": "path",
                      "required": true,
                      "pattern": "^locations/[^/]+/questions/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. If specified, the next page of answers is retrieved.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers"
                },
                "upsert": {
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert",
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.",
                  "parameters": {
                    "parent": {
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "description": "Required. The name of the question to write an answer for.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Answer"
                  },
                  "httpMethod": "POST",
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "path": "v1/{+parent}/answers:upsert"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "description": "Required. The name of the question to delete an answer for.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes the answer written by the current user to a question.",
                  "id": "mybusinessqanda.locations.questions.answers.delete",
                  "path": "v1/{+name}/answers:delete"
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "Author": {
      "id": "Author",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The display name of the user",
          "type": "string"
        },
        "type": {
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ],
          "description": "The type of user the author is.",
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ],
          "type": "string"
        },
        "profilePhotoUri": {
          "description": "The profile photo URI of the user.",
          "type": "string"
        }
      },
      "description": "Represents the author of a question or answer"
    },
    "UpsertAnswerRequest": {
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer",
      "id": "UpsertAnswerRequest",
      "type": "object",
      "properties": {
        "answer": {
          "$ref": "Answer",
          "description": "Required. The new answer."
        }
      }
    },
    "Question": {
      "id": "Question",
      "type": "object",
      "properties": {
        "topAnswers": {
          "readOnly": true,
          "items": {
            "$ref": "Answer"
          },
          "type": "array",
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)"
        },
        "author": {
          "readOnly": true,
          "description": "Output only. The author of the question.",
          "$ref": "Author"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the question was last modified."
        },
        "name": {
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
          "type": "string"
        },
        "upvoteCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of upvotes for the question."
        },
        "totalAnswerCount": {
          "description": "Output only. The total number of answers posted for this question.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "text": {
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the question was written."
        }
      },
      "description": "Represents a single question and some of its answers."
    },
    "ListQuestionsResponse": {
      "id": "ListQuestionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of questions posted for this location across all pages."
        },
        "questions": {
          "items": {
            "$ref": "Question"
          },
          "type": "array",
          "description": "The requested questions,"
        }
      },
      "description": "Response message for QuestionsAndAnswers.ListQuestions"
    },
    "Answer": {
      "description": "Represents an answer to a question",
      "id": "Answer",
      "type": "object",
      "properties": {
        "author": {
          "readOnly": true,
          "description": "Output only. The author of the answer. Will only be set during list operations.",
          "$ref": "Author"
        },
        "updateTime": {
          "description": "Output only. The timestamp for when the answer was last modified.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*"
        },
        "upvoteCount": {
          "description": "Output only. The number of upvotes for the answer.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "text": {
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching."
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "ListAnswersResponse": {
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "id": "ListAnswersResponse",
      "type": "object",
      "properties": {
        "totalSize": {
          "description": "The total number of answers posted for this question across all pages.",
          "type": "integer",
          "format": "int32"
        },
        "answers": {
          "description": "The requested answers.",
          "items": {
            "$ref": "Answer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response.",
          "type": "string"
        }
      }
    }
  },
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "canonicalName": "My Business Q&A",
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "version_module": true,
  "documentationLink": "https://developers.google.com/my-business/",
  "ownerDomain": "google.com",
  "basePath": "",
  "ownerName": "Google",
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "title": "My Business Q&A API",
  "revision": "20260802"
}