{
  "title": "My Business Lodging API",
  "name": "mybusinesslodging",
  "revision": "20260802",
  "rootUrl": "https://mybusinesslodging.googleapis.com/",
  "mtlsRootUrl": "https://mybusinesslodging.mtls.googleapis.com/",
  "baseUrl": "https://mybusinesslodging.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "servicePath": "",
  "id": "mybusinesslodging:v1",
  "schemas": {
    "LanguageSpoken": {
      "properties": {
        "spoken": {
          "type": "boolean",
          "description": "At least one member of the staff can speak the language."
        },
        "languageCode": {
          "type": "string",
          "description": "Required. The BCP-47 language code for the spoken language. Currently accepted codes: ar, de, en, es, fil, fr, hi, id, it, ja, ko, nl, pt, ru, vi, yue, zh."
        },
        "spokenException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Spoken exception."
        }
      },
      "id": "LanguageSpoken",
      "type": "object",
      "description": "Language spoken by at least one staff member."
    },
    "Families": {
      "description": "Services and amenities for families and young guests.",
      "properties": {
        "kidsFriendly": {
          "type": "boolean",
          "description": "Kids friendly. The hotel has one or more special features for families with children, such as reduced rates, child-sized beds, kids' club, babysitting service, or suitable place to play on premises."
        },
        "kidsClub": {
          "description": "Kids club. An organized program of group activities held at the hotel and designed for the enjoyment of children. Facilitated by hotel staff (or staff procured by the hotel) in an area(s) designated for the purpose of entertaining children without their parents. May include games, outings, water sports, team sports, arts and crafts, and films. Usually has set hours. Can be free or for a fee. Also known as Kids Camp or Kids program.",
          "type": "boolean"
        },
        "babysitting": {
          "description": "Babysitting. Child care that is offered by hotel staffers or coordinated by hotel staffers with local child care professionals. Can be free or for a fee.",
          "type": "boolean"
        },
        "kidsActivities": {
          "type": "boolean",
          "description": "Kids activities. Recreational options such as sports, films, crafts and games designed for the enjoyment of children and offered at the hotel. May or may not be supervised. May or may not be at a designated time or place. Cab be free or for a fee."
        },
        "kidsFriendlyException": {
          "description": "Kids friendly exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "kidsClubException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Kids club exception."
        },
        "babysittingException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Babysitting exception."
        },
        "kidsActivitiesException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Kids activities exception."
        }
      },
      "id": "Families",
      "type": "object"
    },
    "HealthAndSafety": {
      "properties": {
        "enhancedCleaning": {
          "description": "Enhanced cleaning measures implemented by the hotel during COVID-19.",
          "$ref": "EnhancedCleaning"
        },
        "increasedFoodSafety": {
          "description": "Increased food safety measures implemented by the hotel during COVID-19.",
          "$ref": "IncreasedFoodSafety"
        },
        "minimizedContact": {
          "description": "Minimized contact measures implemented by the hotel during COVID-19.",
          "$ref": "MinimizedContact"
        },
        "personalProtection": {
          "description": "Personal protection measures implemented by the hotel during COVID-19.",
          "$ref": "PersonalProtection"
        },
        "physicalDistancing": {
          "description": "Physical distancing measures implemented by the hotel during COVID-19.",
          "$ref": "PhysicalDistancing"
        }
      },
      "id": "HealthAndSafety",
      "type": "object",
      "description": "Health and safety measures implemented by the hotel during COVID-19."
    },
    "Pets": {
      "id": "Pets",
      "type": "object",
      "properties": {
        "petsAllowed": {
          "type": "boolean",
          "description": "Pets allowed. Household animals are allowed at the property and in the specific guest room of their owner. May or may not include dogs, cats, reptiles and/or fish. May or may not require a fee. Service animals are not considered to be pets, so not governed by this policy."
        },
        "petsAllowedException": {
          "description": "Pets allowed exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "catsAllowed": {
          "description": "Cats allowed. Domesticated felines are permitted at the property and allowed to stay in the guest room of their owner. May or may not require a fee.",
          "type": "boolean"
        },
        "petsAllowedFree": {
          "description": "Pets allowed free. Household animals are allowed at the property and in the specific guest room of their owner for free. May or may not include dogs, cats, reptiles, and/or fish.",
          "type": "boolean"
        },
        "dogsAllowed": {
          "type": "boolean",
          "description": "Dogs allowed. Domesticated canines are permitted at the property and allowed to stay in the guest room of their owner. May or may not require a fee."
        },
        "catsAllowedException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Cats allowed exception."
        },
        "dogsAllowedException": {
          "description": "Dogs allowed exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "petsAllowedFreeException": {
          "description": "Pets allowed free exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        }
      },
      "description": "Policies regarding guest-owned animals."
    },
    "EnergyEfficiency": {
      "id": "EnergyEfficiency",
      "type": "object",
      "properties": {
        "energySavingThermostatsException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Energy saving thermostats exception."
        },
        "energyEfficientLighting": {
          "description": "Energy efficient lighting. At least 75% of the property's lighting is energy efficient, using lighting that is more than 45 lumens per watt – typically LED or CFL lightbulbs.",
          "type": "boolean"
        },
        "independentOrganizationAuditsEnergyUse": {
          "description": "Independent organization audits energy use. The property conducts an energy audit at least every 5 years, the results of which are either verified by a third-party and/or published in external communications. An energy audit is a detailed assessment of the facility which provides recommendations to existing operations and procedures to improve energy efficiency, available incentives or rebates,and opportunities for improvements through renovations or upgrades. Examples of organizations that conduct credible third party audits include: Engie Impact, DNV GL (EU), Dexma, and local utility providers (they often provide energy and water audits).",
          "type": "boolean"
        },
        "independentOrganizationAuditsEnergyUseException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Independent organization audits energy use exception."
        },
        "carbonFreeEnergySources": {
          "type": "boolean",
          "description": "Carbon free energy sources. Property sources carbon-free electricity via at least one of the following methods: on-site clean energy generation, power purchase agreement(s) with clean energy generators, green power provided by electricity supplier, or purchases of Energy Attribute Certificates (such as Renewable Energy Certificates or Guarantees of Origin)."
        },
        "greenBuildingDesignException": {
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Output only. Green building design exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "readOnly": true
        },
        "energyEfficientHeatingAndCoolingSystems": {
          "description": "Energy efficient heating and cooling systems. The property doesn't use chlorofluorocarbon (CFC)-based refrigerants in heating, ventilating, and air-conditioning systems unless a third-party audit shows it's not economically feasible. The CFC-based refrigerants which are used should have a Global Warming Potential (GWP) ≤ 10. The property uses occupancy sensors on HVAC systems in back-of-house spaces, meeting rooms, and other low-traffic areas.",
          "type": "boolean"
        },
        "energySavingThermostats": {
          "type": "boolean",
          "description": "Energy saving thermostats. The property installed energy-saving thermostats throughout the building to conserve energy when rooms or areas are not in use. Energy-saving thermostats are devices that control heating/cooling in the building by learning temperature preferences and automatically adjusting to energy-saving temperatures as the default. The thermostats are automatically set to a temperature between 68-78 degrees F (20-26 °C), depending on seasonality. In the winter, set the thermostat to 68°F (20°C) when the room is occupied, lowering room temperature when unoccupied. In the summer, set the thermostat to 78°F (26°C) when the room is occupied."
        },
        "greenBuildingDesign": {
          "description": "Output only. Green building design. True if the property has been awarded a relevant certification.",
          "readOnly": true,
          "type": "boolean"
        },
        "energyEfficientLightingException": {
          "description": "Energy efficient lighting exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "energyEfficientHeatingAndCoolingSystemsException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Energy efficient heating and cooling systems exception."
        },
        "energyConservationProgramException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Energy conservation program exception."
        },
        "carbonFreeEnergySourcesException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Carbon free energy sources exception."
        },
        "energyConservationProgram": {
          "description": "Energy conservation program. The property tracks corporate-level Scope 1 and 2 GHG emissions, and Scope 3 emissions if available. The property has a commitment to implement initiatives that reduce GHG emissions year over year. The property has shown an absolute reduction in emissions for at least 2 years. Emissions are either verfied by a third-party and/or published in external communications.",
          "type": "boolean"
        }
      },
      "description": "Energy efficiency practices implemented at the hotel."
    },
    "WasteReduction": {
      "id": "WasteReduction",
      "type": "object",
      "properties": {
        "donatesExcessFoodException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Donates excess food exception."
        },
        "noSingleUsePlasticWaterBottlesException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "No single use plastic water bottles exception."
        },
        "toiletryDonationProgram": {
          "type": "boolean",
          "description": "Toiletry donation program. The property participates in a toiletry donation program such as Clean the World or something similar."
        },
        "safelyDisposesElectronics": {
          "description": "Safely disposes electronics. The property has a reputable recycling program that keeps hazardous electronic parts and chemical compounds out of landfills, dumps and other unauthorized abandonment sites, and recycles/reuses applicable materials. (e.g. certified electronics recyclers).",
          "type": "boolean"
        },
        "refillableToiletryContainers": {
          "description": "Refillable toiletry containers. The property has replaced miniature individual containers with refillable amenity dispensers for shampoo, conditioner, soap, and lotion.",
          "type": "boolean"
        },
        "waterBottleFillingStationsException": {
          "description": "Water bottle filling stations exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "recyclingProgramException": {
          "description": "Recycling program exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "safelyDisposesLightbulbsException": {
          "description": "Safely disposes lightbulbs exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "toiletryDonationProgramException": {
          "description": "Toiletry donation program exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "safelyDisposesElectronicsException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Safely disposes electronics exception."
        },
        "safelyDisposesBatteriesException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Safely disposes batteries exception."
        },
        "safelyDisposesBatteries": {
          "description": "Safely disposes batteries. The property safely stores and disposes batteries.",
          "type": "boolean"
        },
        "compostableFoodContainersAndCutlery": {
          "type": "boolean",
          "description": "Compostable food containers and cutlery. 100% of food service containers and to-go cutlery are compostable, and reusable utensils are offered wherever possible. Compostable materials are capable of undergoing biological decomposition in a compost site, such that material is not visually distinguishable and breaks down into carbon dioxide, water, inorganic compounds, and biomass."
        },
        "safelyHandlesHazardousSubstances": {
          "type": "boolean",
          "description": "Safely handles hazardous substances. The property has a hazardous waste management program aligned wit GreenSeal and LEED requirements, and meets all regulatory requirements for hazardous waste disposal and recycling. Hazardous means substances that are classified as \"hazardous\" by an authoritative body (such as OSHA or DOT), are labeled with signal words such as \"Danger,\" \"Caution,\" \"Warning,\" or are flammable, corrosive, or ignitable. Requirements include: - The property shall maintain records of the efforts it has made to replace the hazardous substances it uses with less hazardous alternatives. - An inventory of the hazardous materials stored on-site. - Products intended for cleaning, dishwashing, laundry, and pool maintenance shall be stored in clearly labeled containers. These containers shall be checked regularly for leaks, and replaced a necessary. - Spill containment devices shall be installed to collect spills, drips, or leaching of chemicals."
        },
        "noStyrofoamFoodContainersException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "No styrofoam food containers exception."
        },
        "noSingleUsePlasticStraws": {
          "description": "No single use plastic straws. The property bans single-use plastic straws.",
          "type": "boolean"
        },
        "safelyHandlesHazardousSubstancesException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Safely handles hazardous substances exception."
        },
        "compostableFoodContainersAndCutleryException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Compostable food containers and cutlery exception."
        },
        "foodWasteReductionProgramException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Food waste reduction program exception."
        },
        "compostsExcessFoodException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Composts excess food exception."
        },
        "waterBottleFillingStations": {
          "type": "boolean",
          "description": "Water bottle filling stations. The property offers water stations throughout the building for guest use."
        },
        "refillableToiletryContainersException": {
          "description": "Refillable toiletry containers exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "soapDonationProgramException": {
          "description": "Soap donation program exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "donatesExcessFood": {
          "type": "boolean",
          "description": "Donates excess food. The property has a program and/or policy for diverting waste from landfill that may include efforts to donate for human consumption or divert food for animal feed."
        },
        "noSingleUsePlasticStrawsException": {
          "description": "No single use plastic straws exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "compostsExcessFood": {
          "type": "boolean",
          "description": "Composts excess food. The property has a program and/or policy for diverting waste from landfill by composting food and yard waste, either through compost collection and off-site processing or on-site compost processing."
        },
        "noSingleUsePlasticWaterBottles": {
          "type": "boolean",
          "description": "No single use plastic water bottles. The property bans single-use plastic water bottles."
        },
        "foodWasteReductionProgram": {
          "description": "Food waste reduction program. The property has established a food waste reduction and donation program, aiming to reduce food waste by half. These programs typically use tools such as the Hotel Kitchen Toolkit and others to track waste and measure progress.",
          "type": "boolean"
        },
        "noStyrofoamFoodContainers": {
          "description": "No styrofoam food containers. The property eliminates the use of Styrofoam in disposable food service items.",
          "type": "boolean"
        },
        "soapDonationProgram": {
          "type": "boolean",
          "description": "Soap donation program. The property participates in a soap donation program such as Clean the World or something similar."
        },
        "safelyDisposesLightbulbs": {
          "description": "Safely disposes lightbulbs. The property safely stores and disposes lightbulbs.",
          "type": "boolean"
        },
        "recyclingProgram": {
          "type": "boolean",
          "description": "Recycling program. The property has a recycling program, aligned with LEED waste requirements, and a policy outlining efforts to send less than 50% of waste to landfill. The recycling program includes storage locations for recyclable materials, including mixed paper, corrugated cardboard, glass, plastics, and metals."
        }
      },
      "description": "Waste reduction practices implemented at the hotel."
    },
    "GuestUnitType": {
      "id": "GuestUnitType",
      "type": "object",
      "properties": {
        "features": {
          "description": "Features and available amenities of the GuestUnitType.",
          "$ref": "GuestUnitFeatures"
        },
        "codes": {
          "description": "Required. Unit or room code identifiers for a single GuestUnitType. Each code must be unique within a Lodging instance.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "label": {
          "type": "string",
          "description": "Required. Short, English label or name of the GuestUnitType. Target <50 chars."
        }
      },
      "description": "A specific type of unit primarily defined by its features."
    },
    "Parking": {
      "id": "Parking",
      "type": "object",
      "properties": {
        "selfParkingAvailableException": {
          "description": "Self parking available exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "freeParkingException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Free parking exception."
        },
        "selfParkingAvailable": {
          "type": "boolean",
          "description": "Self parking available. Guests park their own cars. Parking facility may be an outdoor lot or an indoor garage, but must be onsite. Nearby parking does not apply. Can be free or for a fee."
        },
        "freeSelfParkingException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Free self parking exception."
        },
        "valetParkingAvailable": {
          "type": "boolean",
          "description": "Valet parking available. Hotel staff member parks the cars of guests. Parking with this service can be free or for a fee."
        },
        "parkingAvailable": {
          "description": "Parking available. The hotel allows the cars of guests to be parked. Can be free or for a fee. Parking facility may be an outdoor lot or an indoor garage, but must be onsite. Nearby parking does not apply. Parking may be performed by the guest or by hotel staff.",
          "type": "boolean"
        },
        "electricCarChargingStationsException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Electric car charging stations exception."
        },
        "freeSelfParking": {
          "description": "Free self parking. Guests park their own cars for free. Parking facility may be an outdoor lot or an indoor garage, but must be onsite. Nearby parking does not apply.",
          "type": "boolean"
        },
        "parkingAvailableException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Parking available exception."
        },
        "freeValetParkingException": {
          "description": "Free valet parking exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "electricCarChargingStations": {
          "description": "Electric car charging stations. Electric power stations, usually located outdoors, into which guests plug their electric cars to receive a charge.",
          "type": "boolean"
        },
        "freeParking": {
          "type": "boolean",
          "description": "Free parking. The hotel allows the cars of guests to be parked for free. Parking facility may be an outdoor lot or an indoor garage, but must be onsite. Nearby parking does not apply. Parking may be performed by the guest or by hotel staff. Free parking must be available to all guests (limited conditions does not apply)."
        },
        "freeValetParking": {
          "type": "boolean",
          "description": "Free valet parking. Hotel staff member parks the cars of guests. Parking with this service is free."
        },
        "valetParkingAvailableException": {
          "description": "Valet parking available exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        }
      },
      "description": "Parking options at the property."
    },
    "IncreasedFoodSafety": {
      "id": "IncreasedFoodSafety",
      "type": "object",
      "properties": {
        "individualPackagedMeals": {
          "type": "boolean",
          "description": "Individually-packaged meals."
        },
        "singleUseFoodMenusException": {
          "description": "Single use food menus exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "foodPreparationAndServingAdditionalSafety": {
          "type": "boolean",
          "description": "Additional safety measures during food prep and serving."
        },
        "diningAreasAdditionalSanitationException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Dining areas additional sanitation exception."
        },
        "disposableFlatwareException": {
          "description": "Disposable flatware exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "disposableFlatware": {
          "type": "boolean",
          "description": "Disposable flatware."
        },
        "singleUseFoodMenus": {
          "description": "Single-use menus.",
          "type": "boolean"
        },
        "diningAreasAdditionalSanitation": {
          "description": "Additional sanitation in dining areas.",
          "type": "boolean"
        },
        "individualPackagedMealsException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Individual packaged meals exception."
        },
        "foodPreparationAndServingAdditionalSafetyException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Food preparation and serving additional safety exception."
        }
      },
      "description": "Increased food safety measures implemented by the hotel during COVID-19."
    },
    "Sustainability": {
      "description": "Sustainability practices implemented at the hotel.",
      "properties": {
        "waterConservation": {
          "description": "Water conservation practices implemented at the hotel.",
          "$ref": "WaterConservation"
        },
        "wasteReduction": {
          "description": "Waste reduction practices implemented at the hotel.",
          "$ref": "WasteReduction"
        },
        "energyEfficiency": {
          "description": "Energy efficiency practices implemented at the hotel.",
          "$ref": "EnergyEfficiency"
        },
        "sustainableSourcing": {
          "description": "Sustainable sourcing practices implemented at the hotel.",
          "$ref": "SustainableSourcing"
        },
        "sustainabilityCertifications": {
          "description": "Sustainability certifications the hotel has been awarded. Deprecated: this field is no longer populated. All certification data is now provided by BeCause.",
          "deprecated": true,
          "$ref": "SustainabilityCertifications"
        }
      },
      "id": "Sustainability",
      "type": "object"
    },
    "Connectivity": {
      "id": "Connectivity",
      "type": "object",
      "properties": {
        "publicAreaWifiAvailable": {
          "description": "Public area wifi available. Guests have the ability to wirelessly connect to the internet in the areas of the hotel accessible to anyone. Can be free or for a fee.",
          "type": "boolean"
        },
        "publicInternetTerminal": {
          "description": "Public internet terminal. An area of the hotel supplied with computers and designated for the purpose of providing guests with the ability to access the internet.",
          "type": "boolean"
        },
        "publicInternetTerminalException": {
          "description": "Public internet terminal exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "wifiAvailable": {
          "description": "Wifi available. The hotel provides the ability for guests to wirelessly connect to the internet. Can be in the public areas of the hotel and/or in the guest rooms. Can be free or for a fee.",
          "type": "boolean"
        },
        "publicAreaWifiAvailableException": {
          "description": "Public area wifi available exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "wifiAvailableException": {
          "description": "Wifi available exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "freeWifi": {
          "description": "Free wifi. The hotel offers guests wifi for free.",
          "type": "boolean"
        },
        "freeWifiException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Free wifi exception."
        }
      },
      "description": "The ways in which the property provides guests with the ability to access the internet."
    },
    "PhysicalDistancing": {
      "description": "Physical distancing measures implemented by the hotel during COVID-19.",
      "properties": {
        "wellnessAreasHavePrivateSpaces": {
          "type": "boolean",
          "description": "Private spaces designated in spa and wellness areas."
        },
        "commonAreasPhysicalDistancingArrangedException": {
          "description": "Common areas physical distancing arranged exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "wellnessAreasHavePrivateSpacesException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Wellness areas have private spaces exception."
        },
        "commonAreasPhysicalDistancingArranged": {
          "description": "Common areas arranged to maintain physical distancing.",
          "type": "boolean"
        },
        "safetyDividers": {
          "type": "boolean",
          "description": "Safety dividers at front desk and other locations."
        },
        "sharedAreasLimitedOccupancy": {
          "type": "boolean",
          "description": "Guest occupancy limited within shared facilities."
        },
        "safetyDividersException": {
          "description": "Safety dividers exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "physicalDistancingRequired": {
          "type": "boolean",
          "description": "Physical distancing required."
        },
        "physicalDistancingRequiredException": {
          "description": "Physical distancing required exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "sharedAreasLimitedOccupancyException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Shared areas limited occupancy exception."
        }
      },
      "id": "PhysicalDistancing",
      "type": "object"
    },
    "Lodging": {
      "description": "Lodging of a location that provides accomodations.",
      "properties": {
        "guestUnits": {
          "type": "array",
          "description": "Individual GuestUnitTypes that are available in this Lodging.",
          "items": {
            "$ref": "GuestUnitType"
          }
        },
        "sustainability": {
          "description": "Sustainability practices implemented at the hotel.",
          "$ref": "Sustainability"
        },
        "accessibility": {
          "description": "Physical adaptations made to the property in consideration of varying levels of human physical ability.",
          "$ref": "Accessibility"
        },
        "name": {
          "description": "Required. Google identifier for this location in the form: `locations/{location_id}/lodging`",
          "type": "string"
        },
        "property": {
          "description": "General factual information about the property's physical structure and important dates.",
          "$ref": "Property"
        },
        "services": {
          "description": "Conveniences or help provided by the property to facilitate an easier, more comfortable stay.",
          "$ref": "Services"
        },
        "activities": {
          "description": "Amenities and features related to leisure and play.",
          "$ref": "Activities"
        },
        "transportation": {
          "description": "Vehicles or vehicular services facilitated or owned by the property.",
          "$ref": "Transportation"
        },
        "metadata": {
          "description": "Required. Metadata for the lodging.",
          "$ref": "LodgingMetadata"
        },
        "commonLivingArea": {
          "description": "Features of the shared living areas available in this Lodging.",
          "$ref": "LivingArea"
        },
        "policies": {
          "description": "Property rules that impact guests.",
          "$ref": "Policies"
        },
        "pets": {
          "description": "Policies regarding guest-owned animals.",
          "$ref": "Pets"
        },
        "families": {
          "description": "Services and amenities for families and young guests.",
          "$ref": "Families"
        },
        "business": {
          "description": "Features of the property of specific interest to the business traveler.",
          "$ref": "Business"
        },
        "foodAndDrink": {
          "description": "Meals, snacks, and beverages available at the property.",
          "$ref": "FoodAndDrink"
        },
        "someUnits": {
          "description": "Output only. Some units on the property have as much as these attributes.",
          "readOnly": true,
          "$ref": "GuestUnitFeatures"
        },
        "healthAndSafety": {
          "description": "Health and safety measures implemented by the hotel during COVID-19.",
          "$ref": "HealthAndSafety"
        },
        "pools": {
          "description": "Swimming pool or recreational water facilities available at the hotel.",
          "$ref": "Pools"
        },
        "wellness": {
          "description": "Guest facilities at the property to promote or maintain health, beauty, and fitness.",
          "$ref": "Wellness"
        },
        "housekeeping": {
          "description": "Conveniences provided in guest units to facilitate an easier, more comfortable stay.",
          "$ref": "Housekeeping"
        },
        "connectivity": {
          "description": "The ways in which the property provides guests with the ability to access the internet.",
          "$ref": "Connectivity"
        },
        "parking": {
          "description": "Parking options at the property.",
          "$ref": "Parking"
        },
        "allUnits": {
          "description": "Output only. All units on the property have at least these attributes.",
          "readOnly": true,
          "$ref": "GuestUnitFeatures"
        }
      },
      "id": "Lodging",
      "type": "object"
    },
    "Pools": {
      "id": "Pools",
      "type": "object",
      "properties": {
        "outdoorPoolsCountException": {
          "description": "Outdoor pools count exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "lazyRiver": {
          "description": "Lazy river. A man-made pool or several interconnected recreational pools built to mimic the shape and current of a winding river where guests float in the water on inflated rubber tubes. Can be indoors or outdoors.",
          "type": "boolean"
        },
        "pool": {
          "description": "Pool. The presence of a pool, either indoors or outdoors, for guests to use for swimming and/or soaking. Use may or may not be restricted to adults and/or children.",
          "type": "boolean"
        },
        "outdoorPoolException": {
          "description": "Outdoor pool exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "wavePoolException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Wave pool exception."
        },
        "indoorPoolsCount": {
          "description": "Indoor pools count. The sum of all indoor pools at the hotel.",
          "format": "int32",
          "type": "integer"
        },
        "indoorPool": {
          "description": "Indoor pool. A pool located inside the hotel and available for guests to use for swimming and/or soaking. Use may or may not be restricted to adults and/or children.",
          "type": "boolean"
        },
        "indoorPoolException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Indoor pool exception."
        },
        "outdoorPoolsCount": {
          "description": "Outdoor pools count. The sum of all outdoor pools at the hotel.",
          "format": "int32",
          "type": "integer"
        },
        "adultPool": {
          "description": "Adult pool. A pool restricted for use by adults only. Can be indoors or outdoors.",
          "type": "boolean"
        },
        "wadingPool": {
          "type": "boolean",
          "description": "Wading pool. A shallow pool designed for small children to play in. Can be indoors or outdoors. Also known as kiddie pool."
        },
        "outdoorPool": {
          "description": "Outdoor pool. A pool located outside on the grounds of the hotel and available for guests to use for swimming, soaking or recreation. Use may or may not be restricted to adults and/or children.",
          "type": "boolean"
        },
        "lifeguardException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Lifeguard exception."
        },
        "waterPark": {
          "type": "boolean",
          "description": "Water park. An aquatic recreation area with a large pool or series of pools that has features such as a water slide or tube, wavepool, fountains, rope swings, and/or obstacle course. Can be indoors or outdoors. Also known as adventure pool."
        },
        "hotTubException": {
          "description": "Hot tub exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "adultPoolException": {
          "description": "Adult pool exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "lifeguard": {
          "description": "Lifeguard. A trained member of the hotel staff stationed by the hotel's indoor or outdoor swimming area and responsible for the safety of swimming guests.",
          "type": "boolean"
        },
        "indoorPoolsCountException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Indoor pools count exception."
        },
        "poolException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Pool exception."
        },
        "waterslide": {
          "type": "boolean",
          "description": "Waterslide. A continuously wetted chute positioned by an indoor or outdoor pool which people slide down into the water."
        },
        "lazyRiverException": {
          "description": "Lazy river exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "wadingPoolException": {
          "description": "Wading pool exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "hotTub": {
          "type": "boolean",
          "description": "Hot tub. A man-made pool containing bubbling water maintained at a higher temperature and circulated by aerating jets for the purpose of soaking, relaxation and hydrotherapy. Can be indoors or outdoors. Not used for active swimming. Also known as Jacuzzi. Hot tub must be in a common area where all guests can access it. Does not apply to room-specific hot tubs that are only accessible to guest occupying that room."
        },
        "poolsCountException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Pools count exception."
        },
        "waterParkException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Water park exception."
        },
        "poolsCount": {
          "type": "integer",
          "description": "Pools count. The sum of all pools at the hotel.",
          "format": "int32"
        },
        "waterslideException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Waterslide exception."
        },
        "wavePool": {
          "type": "boolean",
          "description": "Wave pool. A large indoor or outdoor pool with a machine that produces water currents to mimic the ocean's crests."
        }
      },
      "description": "Swimming pool or recreational water facilities available at the hotel."
    },
    "Services": {
      "id": "Services",
      "type": "object",
      "properties": {
        "conciergeException": {
          "description": "Concierge exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "wakeUpCalls": {
          "type": "boolean",
          "description": "Wake up calls. By direction of the guest, a hotel staff member will phone the guest unit at the requested hour. Also known as morning call."
        },
        "baggageStorageException": {
          "description": "Baggage storage exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "selfServiceLaundryException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Self service laundry exception."
        },
        "giftShop": {
          "type": "boolean",
          "description": "Gift shop. An on-site store primarily selling souvenirs, mementos and other gift items. May or may not also sell sundries, magazines and newspapers, clothing, or snacks."
        },
        "currencyExchangeException": {
          "description": "Currency exchange exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "twentyFourHourFrontDesk": {
          "description": "24hr front desk. Front desk is staffed 24 hours a day.",
          "type": "boolean"
        },
        "frontDeskException": {
          "description": "Front desk exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "twentyFourHourFrontDeskException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "24hr front desk exception."
        },
        "elevatorException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Elevator exception."
        },
        "fullServiceLaundryException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Full service laundry exception."
        },
        "elevator": {
          "type": "boolean",
          "description": "Elevator. A passenger elevator that transports guests from one story to another. Also known as lift."
        },
        "convenienceStoreException": {
          "description": "Convenience store exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "socialHour": {
          "description": "Social hour. A reception with complimentary soft drinks, tea, coffee, wine and/or cocktails in the afternoon or evening. Can be hosted by hotel staff or guests may serve themselves. Also known as wine hour. The availability of coffee/tea in the lobby throughout the day does not constitute a social or wine hour.",
          "type": "boolean"
        },
        "currencyExchange": {
          "type": "boolean",
          "description": "Currency exchange. A staff member or automated machine tasked with the transaction of providing the native currency of the hotel's locale in exchange for the foreign currency provided by a guest."
        },
        "wakeUpCallsException": {
          "description": "Wake up calls exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "concierge": {
          "type": "boolean",
          "description": "Concierge. Hotel staff member(s) responsible for facilitating an easy, comfortable stay through making reservations for meals, sourcing theater tickets, arranging tours, finding a doctor, making recommendations, and answering questions."
        },
        "selfServiceLaundry": {
          "description": "Self service laundry. On-site clothes washers and dryers accessible to guests for the purpose of washing and drying their own clothes. May or may not require payment to use the machines.",
          "type": "boolean"
        },
        "fullServiceLaundry": {
          "type": "boolean",
          "description": "Full service laundry. Laundry and dry cleaning facilitated and handled by the hotel on behalf of the guest. Does not include the provision for guests to do their own laundry in on-site machines."
        },
        "giftShopException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Gift shop exception."
        },
        "socialHourException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Social hour exception."
        },
        "frontDesk": {
          "type": "boolean",
          "description": "Front desk. A counter or desk in the lobby or the immediate interior of the hotel where a member of the staff greets guests and processes the information related to their stay (including check-in and check-out). May or may not be manned and open 24/7."
        },
        "convenienceStore": {
          "description": "Convenience store. A shop at the hotel primarily selling snacks, drinks, non-prescription medicines, health and beauty aids, magazines and newspapers.",
          "type": "boolean"
        },
        "languagesSpoken": {
          "type": "array",
          "description": "Languages spoken by at least one staff member.",
          "items": {
            "$ref": "LanguageSpoken"
          }
        },
        "baggageStorage": {
          "type": "boolean",
          "description": "Baggage storage. A provision for guests to leave their bags at the hotel when they arrive for their stay before the official check-in time. May or may not apply for guests who wish to leave their bags after check-out and before departing the locale. Also known as bag dropoff."
        }
      },
      "description": "Conveniences or help provided by the property to facilitate an easier, more comfortable stay."
    },
    "GetGoogleUpdatedLodgingResponse": {
      "description": "Response message for LodgingService.GetGoogleUpdatedLodging",
      "properties": {
        "lodging": {
          "description": "Required. The Google updated Lodging.",
          "$ref": "Lodging"
        },
        "diffMask": {
          "type": "string",
          "description": "Required. The fields in the Lodging that have been updated by Google. Repeated field items are not individually specified.",
          "format": "google-fieldmask"
        }
      },
      "id": "GetGoogleUpdatedLodgingResponse",
      "type": "object"
    },
    "Transportation": {
      "description": "Vehicles or vehicular services facilitated or owned by the property.",
      "properties": {
        "transferException": {
          "description": "Transfer exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "privateCarService": {
          "type": "boolean",
          "description": "Private car service. Hotel provides a private chauffeured car to transport guests to destinations. Passengers in the car are either alone or are known to one another and have requested the car together. Service can be free or for a fee and travel distance is usually limited to a specific range. Not a taxi."
        },
        "carRentalOnPropertyException": {
          "description": "Car rental on property exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "freePrivateCarService": {
          "type": "boolean",
          "description": "Free private car service. Private chauffeured car service is free to guests."
        },
        "airportShuttleException": {
          "description": "Airport shuttle exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "carRentalOnProperty": {
          "type": "boolean",
          "description": "Car rental on property. A branch of a rental car company with a processing desk in the hotel. Available cars for rent may be awaiting at the hotel or in a nearby lot."
        },
        "privateCarServiceException": {
          "description": "Private car service exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "localShuttleException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Local shuttle exception."
        },
        "airportShuttle": {
          "description": "Airport shuttle. The hotel provides guests with a chauffeured van or bus to and from the airport. Can be free or for a fee. Guests may share the vehicle with other guests unknown to them. Applies if the hotel has a third-party shuttle service (office/desk etc.) within the hotel. As long as hotel provides this service, it doesn't matter if it's directly with them or a third party they work with. Does not apply if guest has to coordinate with an entity outside/other than the hotel.",
          "type": "boolean"
        },
        "freePrivateCarServiceException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Free private car service exception."
        },
        "freeAirportShuttleException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Free airport shuttle exception."
        },
        "localShuttle": {
          "description": "Local shuttle. A car, van or bus provided by the hotel to transport guests to destinations within a specified range of distance around the hotel. Usually shopping and/or convention centers, downtown districts, or beaches. Can be free or for a fee.",
          "type": "boolean"
        },
        "transfer": {
          "type": "boolean",
          "description": "Transfer. Hotel provides a shuttle service or car service to take guests to and from the nearest airport or train station. Can be free or for a fee. Guests may share the vehicle with other guests unknown to them."
        },
        "freeAirportShuttle": {
          "description": "Free airport shuttle. Airport shuttle is free to guests. Must be free to all guests without any conditions.",
          "type": "boolean"
        }
      },
      "id": "Transportation",
      "type": "object"
    },
    "EcoCertification": {
      "deprecated": true,
      "description": "An eco certificate awarded to the hotel. Deprecated: this message is no longer populated. All certification data is now provided by BeCause.",
      "id": "EcoCertification",
      "type": "object",
      "properties": {
        "awardedException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Awarded exception."
        },
        "ecoCertificate": {
          "type": "string",
          "enumDescriptions": [
            "Default EcoCertificate. Do not use.",
            "ISO14001.",
            "ISO50001.",
            "Asian Ecotourism Standard for Accommodations (AESA).",
            "Biosphere Responsible Tourism Standard.",
            "Bureau Veritas.",
            "Control Union.",
            "EarthCheck.",
            "Eco-Certification Malta Standard.",
            "Ecotourism Australia's ECO Certification Standard.",
            "GREAT Green Deal Certification.",
            "Green Globe.",
            "Green Growth 2050 Standard.",
            "Green Key.",
            "Geen Key Eco Rating.",
            "Green Seal.",
            "Green Star Hotel Standard.",
            "Green Tourism Active Standard.",
            "Hilton LightStay.",
            "Hostelling International's Quality and Sustainability Standard.",
            "Hoteles más Verdes (AHT) Standard.",
            "Nordic Swan Ecolabel.",
            "Preferred by Nature Sustainable Tourism Standard for Accommodation.",
            "Sustainable Travel Ireland – GSTC Industry Criteria.",
            "TOFTigers Initiative's Pug Standard.",
            "Travelife Standard for Hotels & Accommodations.",
            "United Certification Systems Limited.",
            "Vireo Srl."
          ],
          "enum": [
            "ECO_CERTIFICATE_UNSPECIFIED",
            "ISO14001",
            "ISO50001",
            "ASIAN_ECOTOURISM",
            "BIOSPHERE_RESPOSNIBLE_TOURISM",
            "BUREAU_VERITAS",
            "CONTROL_UNION",
            "EARTHCHECK",
            "ECO_CERTIFICATION_MALTA",
            "ECOTOURISM_AUSTRALIAS_ECO",
            "GREAT_GREEN_DEAL",
            "GREEN_GLOBE",
            "GREEN_GROWTH2050",
            "GREEN_KEY",
            "GREEN_KEY_ECO_RATING",
            "GREEN_SEAL",
            "GREEN_STAR",
            "GREEN_TOURISM_ACTIVE",
            "HILTON_LIGHTSTAY",
            "HOSTELLING_INTERNATIONALS_QUALITY_AND_SUSTAINABILITY",
            "HOTELES_MAS_VERDES",
            "NORDIC_SWAN_ECOLABEL",
            "PREFERRED_BY_NATURE_SUSTAINABLE_TOURISM",
            "SUSTAINABLE_TRAVEL_IRELAND",
            "TOF_TIGERS_INITITIVES_PUG",
            "TRAVELIFE",
            "UNITED_CERTIFICATION_SYSTEMS_LIMITED",
            "VIREO_SRL"
          ],
          "description": "Required. The eco certificate."
        },
        "awarded": {
          "type": "boolean",
          "description": "Whether the eco certificate was awarded or not."
        }
      }
    },
    "Wellness": {
      "description": "Guest facilities at the property to promote or maintain health, beauty, and fitness.",
      "properties": {
        "fitnessCenter": {
          "type": "boolean",
          "description": "Fitness center. A room or building at the hotel containing equipment to promote physical activity, such as treadmills, elliptical machines, stationary bikes, weight machines, free weights, and/or stretching mats. Use of the fitness center can be free or for a fee. May or may not be staffed. May or may not offer instructor-led classes in various styles of physical conditioning. May or may not be open 24/7. May or may not include locker rooms and showers. Also known as health club, gym, fitness room, health center."
        },
        "sauna": {
          "type": "boolean",
          "description": "Sauna. A wood-paneled room heated to a high temperature where guests sit on built-in wood benches for the purpose of perspiring and relaxing their muscles. Can be dry or slightly wet heat. Not a steam room."
        },
        "doctorOnCall": {
          "type": "boolean",
          "description": "Doctor on call. The hotel has a contract with a medical professional who provides services to hotel guests should they fall ill during their stay. The doctor may or may not have an on-site office or be at the hotel at all times."
        },
        "treadmillException": {
          "description": "Treadmill exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
[...]
