{
  "basePath": "",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "resources": {
    "locations": {
      "methods": {
        "updateLodging": {
          "request": {
            "$ref": "Lodging"
          },
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Google identifier for this location in the form: `locations/{location_id}/lodging`",
              "pattern": "^locations/[^/]+/lodging$"
            },
            "updateMask": {
              "description": "Required. The specific fields to update. Use \"*\" to update all fields, which may include unsetting empty fields in the request. Repeated field items cannot be individually updated.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/locations/{locationsId}/lodging",
          "response": {
            "$ref": "Lodging"
          },
          "httpMethod": "PATCH",
          "id": "mybusinesslodging.locations.updateLodging",
          "description": "Updates the Lodging of a specific location.",
          "path": "v1/{+name}"
        },
        "getLodging": {
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "id": "mybusinesslodging.locations.getLodging",
          "flatPath": "v1/locations/{locationsId}/lodging",
          "response": {
            "$ref": "Lodging"
          },
          "description": "Returns the Lodging of a specific location.",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^locations/[^/]+/lodging$",
              "description": "Required. Google identifier for this location in the form: `locations/{location_id}/lodging`",
              "type": "string"
            },
            "readMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "Required. The specific fields to return. Use \"*\" to include all fields. Repeated field items cannot be individually specified."
            }
          },
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "lodging": {
          "methods": {
            "getGoogleUpdated": {
              "parameters": {
                "readMask": {
                  "description": "Required. The specific fields to return. Use \"*\" to include all fields. Repeated field items cannot be individually specified.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "Required. Google identifier for this location in the form: `locations/{location_id}/lodging`",
                  "pattern": "^locations/[^/]+/lodging$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GetGoogleUpdatedLodgingResponse"
              },
              "description": "Returns the Google updated Lodging of a specific location.",
              "id": "mybusinesslodging.locations.lodging.getGoogleUpdated",
              "flatPath": "v1/locations/{locationsId}/lodging:getGoogleUpdated",
              "path": "v1/{+name}:getGoogleUpdated",
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://mybusinesslodging.googleapis.com/",
  "description": "The My Business Lodging API enables managing lodging business information on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "id": "mybusinesslodging:v1",
  "version_module": true,
  "title": "My Business Lodging API",
  "servicePath": "",
  "ownerDomain": "google.com",
  "revision": "20260715",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/my-business/",
  "protocol": "rest",
  "schemas": {
    "GetGoogleUpdatedLodgingResponse": {
      "id": "GetGoogleUpdatedLodgingResponse",
      "properties": {
        "diffMask": {
          "description": "Required. The fields in the Lodging that have been updated by Google. Repeated field items are not individually specified.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "lodging": {
          "description": "Required. The Google updated Lodging.",
          "$ref": "Lodging"
        }
      },
      "description": "Response message for LodgingService.GetGoogleUpdatedLodging",
      "type": "object"
    },
    "LivingArea": {
      "id": "LivingArea",
      "properties": {
        "sleeping": {
          "description": "Information about sleeping features in the living area.",
          "$ref": "LivingAreaSleeping"
        },
        "features": {
          "description": "Features in the living area.",
          "$ref": "LivingAreaFeatures"
        },
        "accessibility": {
          "description": "Accessibility features of the living area.",
          "$ref": "LivingAreaAccessibility"
        },
        "layout": {
          "description": "Information about the layout of the living area.",
          "$ref": "LivingAreaLayout"
        },
        "eating": {
          "description": "Information about eating features in the living area.",
          "$ref": "LivingAreaEating"
        }
      },
      "description": "An individual room, such as kitchen, bathroom, bedroom, within a bookable guest unit.",
      "type": "object"
    },
    "GuestUnitFeatures": {
      "type": "object",
      "id": "GuestUnitFeatures",
      "properties": {
        "tierException": {
          "description": "Tier exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "maxAdultOccupantsCountException": {
          "description": "Max adult occupants count exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "tier": {
          "enumDescriptions": [
            "Default tier. Equivalent to STANDARD. Prefer using STANDARD directly.",
            "Standard unit. The predominant and most basic guestroom type available at the hotel. All other guestroom types include the features/amenities of this room, as well as additional features/amenities.",
            "Deluxe unit. A guestroom type that builds on the features of the standard guestroom by offering additional amenities and/or more space, and/or views. The room rate is higher than that of the standard room type. Also known as Superior. Only allowed if another unit type is a standard tier."
          ],
          "type": "string",
          "description": "Tier. Classification of the unit based on available features/amenities. A non-standard tier is only permitted if at least one other unit type falls under the standard tier.",
          "enum": [
            "UNIT_TIER_UNSPECIFIED",
            "STANDARD_UNIT",
            "DELUXE_UNIT"
          ]
        },
        "maxChildOccupantsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Max child occupants count. The total number of children allowed to stay overnight in the room."
        },
        "views": {
          "description": "Views available from the guest unit itself.",
          "$ref": "ViewsFromUnit"
        },
        "suiteException": {
          "description": "Suite exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "executiveFloor": {
          "type": "boolean",
          "description": "Executive floor. A floor of the hotel where the guestrooms are only bookable by members of the hotel's frequent guest membership program. Benefits of this room class include access to a designated lounge which may or may not feature free breakfast, cocktails or other perks specific to members of the program."
        },
        "totalLivingAreas": {
          "description": "Features available in the living areas in the guest unit.",
          "$ref": "LivingArea"
        },
        "suite": {
          "type": "boolean",
          "description": "Suite. A guestroom category that implies both a bedroom area and a separate living area. There may or may not be full walls and doors separating the two areas, but regardless, they are very distinct. Does not mean a couch or chair in a bedroom."
        },
        "maxAdultOccupantsCount": {
          "description": "Max adult occupants count. The total number of adult guests allowed to stay overnight in the guestroom.",
          "format": "int32",
          "type": "integer"
        },
        "privateHomeException": {
          "description": "Private home exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "connectingUnitAvailable": {
          "description": "Connecting unit available. A guestroom type that features access to an adjacent guestroom for the purpose of booking both rooms. Most often used by families who need more than one room to accommodate the number of people in their group.",
          "type": "boolean"
        },
        "maxOccupantsCountException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Max occupants count exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "connectingUnitAvailableException": {
          "description": "Connecting unit available exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "executiveFloorException": {
          "description": "Executive floor exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "privateHome": {
          "type": "boolean",
          "description": "Private home. A privately owned home (house, townhouse, apartment, cabin, bungalow etc) that may or not serve as the owner's residence, but is rented out in its entirety or by the room(s) to paying guest(s) for vacation stays. Not for lease-based, long-term residency."
        },
        "bungalowOrVilla": {
          "type": "boolean",
          "description": "Bungalow or villa. An independent structure that is part of a hotel or resort that is rented to one party for a vacation stay. The hotel or resort may be completely comprised of bungalows or villas, or they may be one of several guestroom options. Guests in the bungalows or villas most often have the same, if not more, amenities and services offered to guests in other guestroom types."
        },
        "bungalowOrVillaException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Bungalow or villa exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "maxOccupantsCount": {
          "description": "Max occupants count. The total number of guests allowed to stay overnight in the guestroom.",
          "format": "int32",
          "type": "integer"
        },
        "maxChildOccupantsCountException": {
          "description": "Max child occupants count exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        }
      },
      "description": "Features and available amenities in the guest unit."
    },
    "PaymentOptions": {
      "description": "Forms of payment accepted at the property.",
      "id": "PaymentOptions",
      "properties": {
        "debitCardException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Debit card exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "cashException": {
          "description": "Cash exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "creditCardException": {
          "description": "Credit card exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "debitCard": {
          "description": "Debit card. The hotel accepts a bank-issued card that immediately deducts the charged funds from the guest's bank account upon processing.",
          "type": "boolean"
        },
        "creditCard": {
          "description": "Credit card. The hotel accepts payment by a card issued by a bank or credit card company. Also known as charge card, debit card, bank card, or charge plate.",
          "type": "boolean"
        },
        "mobileNfcException": {
          "description": "Mobile nfc exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "chequeException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Cheque exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "cash": {
          "type": "boolean",
          "description": "Cash. The hotel accepts payment by paper/coin currency."
        },
        "cheque": {
          "type": "boolean",
          "description": "Cheque. The hotel accepts a printed document issued by the guest's bank in the guest's name as a form of payment."
        },
        "mobileNfc": {
          "description": "Mobile nfc. The hotel has the compatible computer hardware terminal that reads and charges a payment app on the guest's smartphone without requiring the two devices to make physical contact. Also known as Apple Pay, Google Pay, Samsung Pay.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "EnhancedCleaning": {
      "id": "EnhancedCleaning",
      "properties": {
        "commonAreasEnhancedCleaningException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Common areas enhanced cleaning exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "commercialGradeDisinfectantCleaning": {
          "description": "Commercial-grade disinfectant used to clean the property.",
          "type": "boolean"
        },
        "employeesTrainedCleaningProceduresException": {
          "description": "Employees trained cleaning procedures exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "employeesTrainedThoroughHandWashing": {
          "description": "Employees trained in thorough hand-washing.",
          "type": "boolean"
        },
        "employeesWearProtectiveEquipmentException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Employees wear protective equipment exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "employeesTrainedThoroughHandWashingException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Employees trained thorough hand washing exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "employeesWearProtectiveEquipment": {
          "type": "boolean",
          "description": "Employees wear masks, face shields, and/or gloves."
        },
        "guestRoomsEnhancedCleaning": {
          "type": "boolean",
          "description": "Enhanced cleaning of guest rooms."
        },
        "employeesTrainedCleaningProcedures": {
          "description": "Employees trained in COVID-19 cleaning procedures.",
          "type": "boolean"
        },
        "commonAreasEnhancedCleaning": {
          "description": "Enhanced cleaning of common areas.",
          "type": "boolean"
        },
        "guestRoomsEnhancedCleaningException": {
          "description": "Guest rooms enhanced cleaning exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "commercialGradeDisinfectantCleaningException": {
          "description": "Commercial grade disinfectant cleaning exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        }
      },
      "description": "Enhanced cleaning measures implemented by the hotel during COVID-19.",
      "type": "object"
    },
    "LivingAreaEating": {
      "type": "object",
      "id": "LivingAreaEating",
      "properties": {
        "coffeeMaker": {
          "type": "boolean",
          "description": "Coffee maker. An electric appliance that brews coffee by heating and forcing water through ground coffee."
        },
        "oven": {
          "description": "Oven. A temperature controlled, heated metal cabinet powered by gas or electricity in which food is placed for the purpose of cooking or reheating.",
          "type": "boolean"
        },
        "sinkException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Sink exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "snackbar": {
          "type": "boolean",
          "description": "Snackbar. A small cabinet in the guestroom containing snacks. The items are most commonly available for a fee."
        },
        "microwave": {
          "type": "boolean",
          "description": "Microwave. An electric oven that quickly cooks and heats food by microwave energy. Smaller than a standing or wall mounted oven. Usually placed on a kitchen counter, a shelf or tabletop or mounted above a cooktop."
        },
        "refrigerator": {
          "description": "Refrigerator. A large, climate-controlled electrical cabinet with vertical doors. Built for the purpose of chilling and storing perishable foods.",
          "type": "boolean"
        },
        "toaster": {
          "type": "boolean",
          "description": "Toaster. A small, temperature controlled electric appliance with rectangular slots at the top that are lined with heated coils for the purpose of browning slices of bread products."
        },
        "minibar": {
          "type": "boolean",
          "description": "Minibar. A small refrigerated cabinet in the guestroom containing bottles/cans of soft drinks, mini bottles of alcohol, and snacks. The items are most commonly available for a fee."
        },
        "refrigeratorException": {
          "description": "Refrigerator exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "cookware": {
          "type": "boolean",
          "description": "Cookware. Kitchen pots, pans and utensils used in connection with the preparation of food."
        },
        "kitchenAvailableException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Kitchen available exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "outdoorGrill": {
          "description": "Outdoor grill. Metal grates on which food is cooked over an open flame or electric heat source. Part of an outdoor apparatus that supports the grates. Also known as barbecue grill or barbecue.",
          "type": "boolean"
        },
        "minibarException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Minibar exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "outdoorGrillException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Outdoor grill exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "teaStationException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Tea station exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "indoorGrill": {
          "description": "Indoor grill. Metal grates built into an indoor cooktop on which food is cooked over an open flame or electric heat source.",
          "type": "boolean"
        },
        "microwaveException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Microwave exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "dishwasherException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Dishwasher exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "toasterException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Toaster exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "teaStation": {
          "type": "boolean",
          "description": "Tea station. A small area with the supplies needed to heat water and make tea."
        },
        "kettle": {
          "description": "Kettle. A covered container with a handle and a spout used for boiling water.",
          "type": "boolean"
        },
        "ovenException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Oven exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "snackbarException": {
          "description": "Snackbar exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "coffeeMakerException": {
          "description": "Coffee maker exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "kettleException": {
          "description": "Kettle exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "cookwareException": {
          "description": "Cookware exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "indoorGrillException": {
          "description": "Indoor grill exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "stoveException": {
          "description": "Stove exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "kitchenAvailable": {
          "description": "Kitchen available. An area of the guestroom designated for the preparation and storage of food via the presence of a refrigerator, cook top, oven and sink, as well as cutlery, dishes and cookware. Usually includes small appliances such a coffee maker and a microwave. May or may not include an automatic dishwasher.",
          "type": "boolean"
        },
        "dishwasher": {
          "type": "boolean",
          "description": "Dishwasher. A counter-height electrical cabinet containing racks for dirty dishware, cookware and cutlery, and a dispenser for soap built into the pull-down door. The cabinet is attached to the plumbing system to facilitate the automatic cleaning of its contents."
        },
        "sink": {
          "description": "Sink. A basin with a faucet attached to a water source and used for the purpose of washing and rinsing.",
          "type": "boolean"
        },
        "stove": {
          "type": "boolean",
          "description": "Stove. A kitchen appliance powered by gas or electricity for the purpose of creating a flame or hot surface on which pots of food can be cooked. Also known as cooktop or hob."
        }
      },
      "description": "Information about eating features in the living area."
    },
    "Connectivity": {
      "type": "object",
      "description": "The ways in which the property provides guests with the ability to access the internet.",
      "id": "Connectivity",
      "properties": {
        "freeWifi": {
          "type": "boolean",
          "description": "Free wifi. The hotel offers guests wifi for free."
        },
        "wifiAvailableException": {
          "description": "Wifi available exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "freeWifiException": {
          "description": "Free wifi exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "publicAreaWifiAvailable": {
          "type": "boolean",
          "description": "Public area wifi available. Guests have the ability to wirelessly connect to the internet in the areas of the hotel accessible to anyone. Can be free or for a fee."
        },
        "publicAreaWifiAvailableException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Public area wifi available exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "publicInternetTerminalException": {
          "description": "Public internet terminal exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "wifiAvailable": {
          "description": "Wifi available. The hotel provides the ability for guests to wirelessly connect to the internet. Can be in the public areas of the hotel and/or in the guest rooms. Can be free or for a fee.",
          "type": "boolean"
        },
        "publicInternetTerminal": {
          "description": "Public internet terminal. An area of the hotel supplied with computers and designated for the purpose of providing guests with the ability to access the internet.",
          "type": "boolean"
        }
      }
    },
    "HealthAndSafety": {
      "id": "HealthAndSafety",
      "properties": {
        "enhancedCleaning": {
          "description": "Enhanced cleaning measures implemented by the hotel during COVID-19.",
          "$ref": "EnhancedCleaning"
        },
        "minimizedContact": {
          "description": "Minimized contact measures implemented by the hotel during COVID-19.",
          "$ref": "MinimizedContact"
        },
        "personalProtection": {
          "description": "Personal protection measures implemented by the hotel during COVID-19.",
          "$ref": "PersonalProtection"
        },
        "physicalDistancing": {
          "description": "Physical distancing measures implemented by the hotel during COVID-19.",
          "$ref": "PhysicalDistancing"
        },
        "increasedFoodSafety": {
          "description": "Increased food safety measures implemented by the hotel during COVID-19.",
          "$ref": "IncreasedFoodSafety"
        }
      },
      "description": "Health and safety measures implemented by the hotel during COVID-19.",
      "type": "object"
    },
    "Activities": {
      "id": "Activities",
      "properties": {
        "snorkeling": {
          "type": "boolean",
          "description": "Snorkeling. The provision for guests to participate in a recreational water activity in which swimmers wear a diving mask, a simple, shaped breathing tube and flippers/swim fins for the purpose of exploring below the surface of an ocean, gulf or lake. Does not usually require user certification or professional supervision. Equipment may or may not be available for rent or purchase. Not scuba diving."
        },
        "watercraftRentalException": {
          "description": "Watercraft rental exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "snorkelingException": {
          "description": "Snorkeling exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "privateBeach": {
          "description": "Private beach. The beach which is in close proximity to the hotel is open only to guests.",
          "type": "boolean"
        },
        "golfException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Golf exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "beachFrontException": {
          "description": "Beach front exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "gameRoom": {
          "type": "boolean",
          "description": "Game room. There is a room at the hotel containing electronic machines for play such as pinball, prize machines, driving simulators, and other items commonly found at a family fun center or arcade. May also include non-electronic games like pool, foosball, darts, and more. May or may not be designed for children. Also known as arcade, fun room, or family fun center."
        },
        "beachAccess": {
          "type": "boolean",
          "description": "Beach access. The hotel property is in close proximity to a beach and offers a way to get to that beach. This can include a route to the beach such as stairs down if hotel is on a bluff, or a short trail. Not the same as beachfront (with beach access, the hotel's proximity is close to but not right on the beach)."
        },
        "beachFront": {
          "type": "boolean",
          "description": "Breach front. The hotel property is physically located on the beach alongside an ocean, sea, gulf, or bay. It is not on a lake, river, stream, or pond. The hotel is not separated from the beach by a public road allowing vehicular, pedestrian, or bicycle traffic."
        },
        "gameRoomException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Game room exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "bicycleRentalException": {
          "description": "Bicycle rental exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "casinoException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Casino exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "scubaException": {
          "description": "Scuba exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "watercraftRental": {
          "description": "Watercraft rental. The hotel owns water vessels that it permits guests to borrow and use. Can be free or for a fee. Watercraft may include boats, pedal boats, rowboats, sailboats, powerboats, canoes, kayaks, or personal watercraft (such as a Jet Ski).",
          "type": "boolean"
        },
        "horsebackRidingException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Horseback riding exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "horsebackRiding": {
          "description": "Horseback riding. The hotel has a horse barn onsite or an affiliation with a nearby barn to allow for guests to sit astride a horse and direct it to walk, trot, cantor, gallop and/or jump. Can be in a riding ring, on designated paths, or in the wilderness. May or may not involve instruction.",
          "type": "boolean"
        },
        "boutiqueStoresException": {
          "description": "Boutique stores exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "tennis": {
          "description": "Tennis. The hotel has the requisite court(s) on site or has an affiliation with a nearby facility for the purpose of providing guests with the opportunity to play a two-sided court-based game in which players use a stringed racquet to hit a ball across a net to the side of the opposing player. The court can be indoors or outdoors. Instructors, racquets and balls may or may not be provided.",
          "type": "boolean"
        },
        "bicycleRental": {
          "description": "Bicycle rental. The hotel owns bicycles that it permits guests to borrow and use. Can be free or for a fee.",
          "type": "boolean"
        },
        "nightclub": {
          "type": "boolean",
          "description": "Nightclub. There is a room at the hotel with a bar, a dance floor, and seating where designated staffers play dance music. There may also be a designated area for the performance of live music, singing and comedy acts."
        },
        "freeWatercraftRentalException": {
          "description": "Free Watercraft rental exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "freeBicycleRentalException": {
          "description": "Free bicycle rental exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "nightclubException": {
          "description": "Nightclub exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "beachAccessException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Beach access exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "privateBeachException": {
          "description": "Private beach exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "scuba": {
          "type": "boolean",
          "description": "Scuba. The provision for guests to dive under naturally occurring water fitted with a self-contained underwater breathing apparatus (SCUBA) for the purpose of exploring underwater life. Apparatus consists of a tank providing oxygen to the diver through a mask. Requires certification of the diver and supervision. The hotel may have the activity at its own waterfront or have an affiliation with a nearby facility. Required equipment is most often supplied to guests. Can be free or for a fee. Not snorkeling. Not done in a swimming pool."
        },
        "tennisException": {
          "description": "Tennis exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "freeWatercraftRental": {
          "description": "Free watercraft rental. The hotel owns watercraft that it permits guests to borrow and use for free.",
          "type": "boolean"
        },
        "golf": {
          "type": "boolean",
          "description": "Golf. There is a golf course on hotel grounds or there is a nearby, independently run golf course that allows use by hotel guests. Can be free or for a fee."
        },
        "freeBicycleRental": {
          "type": "boolean",
          "description": "Free bicycle rental. The hotel owns bicycles that it permits guests to borrow and use for free."
        },
        "casino": {
          "description": "Casino. A space designated for gambling and gaming featuring croupier-run table and card games, as well as electronic slot machines. May be on hotel premises or located nearby.",
          "type": "boolean"
        },
        "boutiqueStores": {
          "type": "boolean",
          "description": "Boutique stores. There are stores selling clothing, jewelry, art and decor either on hotel premises or very close by. Does not refer to the hotel gift shop or convenience store."
        },
        "waterSkiing": {
          "description": "Water skiing. The provision of giving guests the opportunity to be pulled across naturally occurring water while standing on skis and holding a tow rope attached to a motorboat. Can occur on hotel premises or at a nearby waterfront. Most often performed in a lake or ocean.",
          "type": "boolean"
        },
        "waterSkiingException": {
          "description": "Water skiing exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        }
      },
      "description": "Amenities and features related to leisure and play.",
      "type": "object"
    },
    "WasteReduction": {
      "type": "object",
      "description": "Waste reduction practices implemented at the hotel.",
      "id": "WasteReduction",
      "properties": {
        "soapDonationProgram": {
          "description": "Soap donation program. The property participates in a soap donation program such as Clean the World or something similar.",
          "type": "boolean"
        },
        "safelyDisposesBatteries": {
          "description": "Safely disposes batteries. The property safely stores and disposes batteries.",
          "type": "boolean"
        },
        "toiletryDonationProgramException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Toiletry donation program exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "refillableToiletryContainers": {
          "description": "Refillable toiletry containers. The property has replaced miniature individual containers with refillable amenity dispensers for shampoo, conditioner, soap, and lotion.",
          "type": "boolean"
        },
        "waterBottleFillingStations": {
          "description": "Water bottle filling stations. The property offers water stations throughout the building for guest use.",
          "type": "boolean"
        },
        "toiletryDonationProgram": {
          "type": "boolean",
          "description": "Toiletry donation program. The property participates in a toiletry donation program such as Clean the World or something similar."
        },
        "donatesExcessFood": {
          "description": "Donates excess food. The property has a program and/or policy for diverting waste from landfill that may include efforts to donate for human consumption or divert food for animal feed.",
          "type": "boolean"
        },
        "soapDonationProgramException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Soap donation program exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "safelyDisposesElectronics": {
          "description": "Safely disposes electronics. The property has a reputable recycling program that keeps hazardous electronic parts and chemical compounds out of landfills, dumps and other unauthorized abandonment sites, and recycles/reuses applicable materials. (e.g. certified electronics recyclers).",
          "type": "boolean"
        },
        "noStyrofoamFoodContainersException": {
          "description": "No styrofoam food containers exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "noSingleUsePlasticStraws": {
          "description": "No single use plastic straws. The property bans single-use plastic straws.",
          "type": "boolean"
        },
        "noStyrofoamFoodContainers": {
          "description": "No styrofoam food containers. The property eliminates the use of Styrofoam in disposable food service items.",
          "type": "boolean"
        },
        "donatesExcessFoodException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Donates excess food exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "noSingleUsePlasticWaterBottles": {
          "type": "boolean",
          "description": "No single use plastic water bottles. The property bans single-use plastic water bottles."
        },
        "noSingleUsePlasticWaterBottlesException": {
          "description": "No single use plastic water bottles exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "foodWasteReductionProgramException": {
          "description": "Food waste reduction program exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "safelyDisposesElectronicsException": {
          "description": "Safely disposes electronics exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "compostsExcessFood": {
          "type": "boolean",
          "description": "Composts excess food. The property has a program and/or policy for diverting waste from landfill by composting food and yard waste, either through compost collection and off-site processing or on-site compost processing."
        },
        "recyclingProgramException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Recycling program exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "safelyDisposesBatteriesException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Safely disposes batteries exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "foodWasteReductionProgram": {
          "type": "boolean",
          "description": "Food waste reduction program. The property has established a food waste reduction and donation program, aiming to reduce food waste by half. These programs typically use tools such as the Hotel Kitchen Toolkit and others to track waste and measure progress."
        },
        "safelyDisposesLightbulbs": {
          "description": "Safely disposes lightbulbs. The property safely stores and disposes lightbulbs.",
          "type": "boolean"
        },
        "noSingleUsePlasticStrawsException": {
          "description": "No single use plastic straws exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "refillableToiletryContainersException": {
          "description": "Refillable toiletry containers exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "waterBottleFillingStationsException": {
          "description": "Water bottle filling stations exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "safelyDisposesLightbulbsException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Safely disposes lightbulbs exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "safelyHandlesHazardousSubstances": {
          "description": "Safely handles hazardous substances. The property has a hazardous waste management program aligned wit GreenSeal and LEED requirements, and meets all regulatory requirements for hazardous waste disposal and recycling. Hazardous means substances that are classified as \"hazardous\" by an authoritative body (such as OSHA or DOT), are labeled with signal words such as \"Danger,\" \"Caution,\" \"Warning,\" or are flammable, corrosive, or ignitable. Requirements include: - The property shall maintain records of the efforts it has made to replace the hazardous substances it uses with less hazardous alternatives. - An inventory of the hazardous materials stored on-site. - Products intended for cleaning, dishwashing, laundry, and pool maintenance shall be stored in clearly labeled containers. These containers shall be checked regularly for leaks, and replaced a necessary. - Spill containment devices shall be installed to collect spills, drips, or leaching of chemicals.",
          "type": "boolean"
        },
        "compostableFoodContainersAndCutleryException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Compostable food containers and cutlery exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "compostsExcessFoodException": {
          "description": "Composts excess food exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "safelyHandlesHazardousSubstancesException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Safely handles hazardous substances exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "compostableFoodContainersAndCutlery": {
          "type": "boolean",
          "description": "Compostable food containers and cutlery. 100% of food service containers and to-go cutlery are compostable, and reusable utensils are offered wherever possible. Compostable materials are capable of undergoing biological decomposition in a compost site, such that material is not visually distinguishable and breaks down into carbon dioxide, water, inorganic compounds, and biomass."
        },
        "recyclingProgram": {
          "type": "boolean",
          "description": "Recycling program. The property has a recycling program, aligned with LEED waste requirements, and a policy outlining efforts to send less than 50% of waste to landfill. The recycling program includes storage locations for recyclable materials, including mixed paper, corrugated cardboard, glass, plastics, and metals."
        }
      }
    },
    "Services": {
      "id": "Services",
      "properties": {
        "twentyFourHourFrontDesk": {
          "type": "boolean",
          "description": "24hr front desk. Front desk is staffed 24 hours a day."
        },
        "selfServiceLaundryException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Self service laundry exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "conciergeException": {
          "description": "Concierge exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "convenienceStoreException": {
          "description": "Convenience store exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "selfServiceLaundry": {
          "description": "Self service laundry. On-site clothes washers and dryers accessible to guests for the purpose of washing and drying their own clothes. May or may not require payment to use the machines.",
          "type": "boolean"
        },
        "languagesSpoken": {
          "type": "array",
          "description": "Languages spoken by at least one staff member.",
          "items": {
            "$ref": "LanguageSpoken"
          }
        },
        "elevatorException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Elevator exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "currencyExchange": {
          "type": "boolean",
          "description": "Currency exchange. A staff member or automated machine tasked with the transaction of providing the native currency of the hotel's locale in exchange for the foreign currency provided by a guest."
        },
        "fullServiceLaundry": {
          "type": "boolean",
          "description": "Full service laundry. Laundry and dry cleaning facilitated and handled by the hotel on behalf of the guest. Does not include the provision for guests to do their own laundry in on-site machines."
        },
        "giftShopException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Gift shop exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "socialHour": {
          "description": "Social hour. A reception with complimentary soft drinks, tea, coffee, wine and/or cocktails in the afternoon or evening. Can be hosted by hotel staff or guests may serve themselves. Also known as wine hour. The availability of coffee/tea in the lobby throughout the day does not constitute a social or wine hour.",
          "type": "boolean"
        },
        "elevator": {
          "description": "Elevator. A passenger elevator that transports guests from one story to another. Also known as lift.",
          "type": "boolean"
        },
        "twentyFourHourFrontDeskException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "24hr front desk exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "frontDesk": {
          "type": "boolean",
          "description": "Front desk. A counter or desk in the lobby or the immediate interior of the hotel where a member of the staff greets guests and processes the information related to their stay (including check-in and check-out). May or may not be manned and open 24/7."
        },
        "wakeUpCalls": {
          "description": "Wake up calls. By direction of the guest, a hotel staff member will phone the guest unit at the requested hour. Also known as morning call.",
          "type": "boolean"
        },
        "fullServiceLaundryException": {
          "description": "Full service laundry exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "currencyExchangeException": {
          "description": "Currency exchange exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "convenienceStore": {
          "description": "Convenience store. A shop at the hotel primarily selling snacks, drinks, non-prescription medicines, health and beauty aids, magazines and newspapers.",
          "type": "boolean"
        },
        "baggageStorageException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Baggage storage exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "socialHourException": {
          "description": "Social hour exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "giftShop": {
          "type": "boolean",
          "description": "Gift shop. An on-site store primarily selling souvenirs, mementos and other gift items. May or may not also sell sundries, magazines and newspapers, clothing, or snacks."
        },
        "frontDeskException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Front desk exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "wakeUpCallsException": {
          "description": "Wake up calls exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "baggageStorage": {
          "description": "Baggage storage. A provision for guests to leave their bags at the hotel when they arrive for their stay before the official check-in time. May or may not apply for guests who wish to leave their bags after check-out and before departing the locale. Also known as bag dropoff.",
          "type": "boolean"
        },
        "concierge": {
          "description": "Concierge. Hotel staff member(s) responsible for facilitating an easy, comfortable stay through making reservations for meals, sourcing theater tickets, arranging tours, finding a doctor, making recommendations, and answering questions.",
          "type": "boolean"
        }
      },
      "description": "Conveniences or help provided by the property to facilitate an easier, more comfortable stay.",
      "type": "object"
    },
    "Lodging": {
      "id": "Lodging",
      "properties": {
        "metadata": {
          "description": "Required. Metadata for the lodging.",
          "$ref": "LodgingMetadata"
        },
        "services": {
          "description": "Conveniences or help provided by the property to facilitate an easier, more comfortable stay.",
          "$ref": "Services"
        },
        "policies": {
          "description": "Property rules that impact guests.",
          "$ref": "Policies"
        },
        "parking": {
          "description": "Parking options at the property.",
          "$ref": "Parking"
        },
        "guestUnits": {
          "type": "array",
          "description": "Individual GuestUnitTypes that are available in this Lodging.",
          "items": {
            "$ref": "GuestUnitType"
          }
        },
        "property": {
          "description": "General factual information about the property's physical structure and important dates.",
          "$ref": "Property"
        },
        "business": {
          "description": "Features of the property of specific interest to the business traveler.",
          "$ref": "Business"
        },
        "allUnits": {
          "readOnly": true,
          "description": "Output only. All units on the property have at least these attributes.",
          "$ref": "GuestUnitFeatures"
        },
        "transportation": {
          "description": "Vehicles or vehicular services facilitated or owned by the property.",
          "$ref": "Transportation"
        },
        "someUnits": {
          "readOnly": true,
          "description": "Output only. Some units on the property have as much as these attributes.",
          "$ref": "GuestUnitFeatures"
        },
        "accessibility": {
          "description": "Physical adaptations made to the property in consideration of varying levels of human physical ability.",
          "$ref": "Accessibility"
        },
        "foodAndDrink": {
          "description": "Meals, snacks, and beverages available at the property.",
          "$ref": "FoodAndDrink"
        },
        "housekeeping": {
          "description": "Conveniences provided in guest units to facilitate an easier, more comfortable stay.",
          "$ref": "Housekeeping"
        },
        "pools": {
          "description": "Swimming pool or recreational water facilities available at the hotel.",
          "$ref": "Pools"
        },
        "sustainability": {
          "description": "Sustainability practices implemented at the hotel.",
          "$ref": "Sustainability"
        },
        "healthAndSafety": {
          "description": "Health and safety measures implemented by the hotel during COVID-19.",
          "$ref": "HealthAndSafety"
        },
        "wellness": {
          "description": "Guest facilities at the property to promote or maintain health, beauty, and fitness.",
          "$ref": "Wellness"
        },
        "connectivity": {
          "description": "The ways in which the property provides guests with the ability to access the internet.",
          "$ref": "Connectivity"
        },
        "families": {
          "description": "Services and amenities for families and young guests.",
          "$ref": "Families"
        },
        "activities": {
          "description": "Amenities and features related to leisure and play.",
          "$ref": "Activities"
        },
        "pets": {
          "description": "Policies regarding guest-owned animals.",
          "$ref": "Pets"
        },
        "commonLivingArea": {
          "description": "Features of the shared living areas available in this Lodging.",
          "$ref": "LivingArea"
        },
        "name": {
          "type": "string",
          "description": "Required. Google identifier for this location in the form: `locations/{location_id}/lodging`"
        }
      },
      "description": "Lodging of a location that provides accomodations.",
      "type": "object"
    },
    "LivingAreaAccessibility": {
      "id": "LivingAreaAccessibility",
      "properties": {
        "mobilityAccessibleToiletException": {
          "description": "Mobility-accessible toilet exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "mobilityAccessibleUnitException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Mobility-accessible unit exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "adaCompliantUnit": {
          "type": "boolean",
          "description": "ADA compliant unit. A guestroom designed to accommodate the physical challenges of a guest with mobility and/or auditory and/or visual issues, as determined by legislative policy. Usually features enlarged doorways, roll-in showers with seats, bathroom grab bars, and communication equipment for the hearing and sight challenged."
        },
        "hearingAccessibleUnit": {
          "type": "boolean",
          "description": "Hearing-accessible unit. A guestroom designed to accommodate the physical challenges of a guest with auditory issues."
        },
        "hearingAccessibleUnitException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Hearing-accessible unit exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "mobilityAccessibleBathtub": {
          "type": "boolean",
          "description": "Mobility-accessible bathtub. A bathtub that accomodates the physically challenged with additional railings or hand grips, a transfer seat or lift, and/or a door to enable walking into the tub."
        },
        "mobilityAccessibleShower": {
          "type": "boolean",
          "description": "Mobility-accessible shower. A shower with an enlarged door or access point to accommodate a wheelchair or a waterproof seat for the physically challenged."
        },
        "mobilityAccessibleUnit": {
          "description": "Mobility-accessible unit. A guestroom designed to accommodate the physical challenges of a guest with mobility and/or auditory and/or visual issues. Usually features enlarged doorways, roll-in showers with seats, bathroom grab bars, and communication equipment for the hearing and sight challenged.",
          "type": "boolean"
        },
        "adaCompliantUnitException": {
          "description": "ADA compliant unit exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
[...]
