{
  "id": "mybusinessqanda:v1",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    }
  },
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "name": "mybusinessqanda",
  "basePath": "",
  "version_module": true,
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "version": "v1",
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "methods": {
            "patch": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "Question"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Question"
              },
              "description": "Updates a specific question written by the current user.",
              "id": "mybusinessqanda.locations.questions.patch",
              "parameters": {
                "updateMask": {
                  "description": "Required. The specific fields to update. Only question text can be updated.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "required": true
                }
              },
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "httpMethod": "PATCH"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "mybusinessqanda.locations.questions.list",
              "path": "v1/{+parent}",
              "parameters": {
                "pageToken": {
                  "description": "Optional. If specified, the next page of questions is retrieved.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\"",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The name of the location to fetch questions for.",
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions$",
                  "location": "path"
                },
                "answersPerQuestion": {
                  "location": "query",
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageSize": {
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'."
                }
              },
              "response": {
                "$ref": "ListQuestionsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1/locations/{locationsId}/questions",
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified."
            },
            "delete": {
              "id": "mybusinessqanda.locations.questions.delete",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the question to delete.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a specific question written by the current user.",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "httpMethod": "DELETE"
            },
            "create": {
              "httpMethod": "POST",
              "flatPath": "v1/locations/{locationsId}/questions",
              "id": "mybusinessqanda.locations.questions.create",
              "parameters": {
                "parent": {
                  "pattern": "^locations/[^/]+/questions$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the location to write a question for.",
                  "required": true
                }
              },
              "description": "Adds a question for the specified location.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Question"
              },
              "path": "v1/{+parent}",
              "response": {
                "$ref": "Question"
              }
            }
          },
          "resources": {
            "answers": {
              "methods": {
                "upsert": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "path": "v1/{+parent}/answers:upsert",
                  "response": {
                    "$ref": "Answer"
                  },
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.",
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the question to write an answer for.",
                      "required": true,
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert"
                },
                "list": {
                  "description": "Returns the paginated list of answers for a specified question.",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "httpMethod": "GET",
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "path": "v1/{+parent}/answers",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the question to fetch answers for.",
                      "required": true,
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. If specified, the next page of answers is retrieved."
                    }
                  },
                  "response": {
                    "$ref": "ListAnswersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "description": "Deletes the answer written by the current user to a question.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "mybusinessqanda.locations.questions.answers.delete",
                  "path": "v1/{+name}/answers:delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the question to delete an answer for."
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260712",
  "fullyEncodeReservedExpansion": true,
  "title": "My Business Q&A API",
  "canonicalName": "My Business Q&A",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "schemas": {
    "ListAnswersResponse": {
      "id": "ListAnswersResponse",
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "type": "object",
      "properties": {
        "totalSize": {
          "type": "integer",
          "description": "The total number of answers posted for this question across all pages.",
          "format": "int32"
        },
        "answers": {
          "description": "The requested answers.",
          "items": {
            "$ref": "Answer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "ListQuestionsResponse": {
      "id": "ListQuestionsResponse",
      "description": "Response message for QuestionsAndAnswers.ListQuestions",
      "type": "object",
      "properties": {
        "questions": {
          "type": "array",
          "description": "The requested questions,",
          "items": {
            "$ref": "Question"
          }
        },
        "totalSize": {
          "description": "The total number of questions posted for this location across all pages.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response.",
          "type": "string"
        }
      }
    },
    "Author": {
      "type": "object",
      "properties": {
        "profilePhotoUri": {
          "description": "The profile photo URI of the user.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the user",
          "type": "string"
        },
        "type": {
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ],
          "description": "The type of user the author is.",
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ],
          "type": "string"
        }
      },
      "id": "Author",
      "description": "Represents the author of a question or answer"
    },
    "UpsertAnswerRequest": {
      "id": "UpsertAnswerRequest",
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer",
      "type": "object",
      "properties": {
        "answer": {
          "description": "Required. The new answer.",
          "$ref": "Answer"
        }
      }
    },
    "Question": {
      "id": "Question",
      "description": "Represents a single question and some of its answers.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp for when the question was written.",
          "format": "google-datetime"
        },
        "totalAnswerCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The total number of answers posted for this question.",
          "format": "int32"
        },
        "upvoteCount": {
          "readOnly": true,
          "description": "Output only. The number of upvotes for the question.",
          "format": "int32",
          "type": "integer"
        },
        "text": {
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp for when the question was last modified.",
          "format": "google-datetime"
        },
        "author": {
          "readOnly": true,
          "description": "Output only. The author of the question.",
          "$ref": "Author"
        },
        "topAnswers": {
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)",
          "items": {
            "$ref": "Answer"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "Answer": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching.",
          "format": "google-datetime",
          "readOnly": true
        },
        "upvoteCount": {
          "description": "Output only. The number of upvotes for the answer.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "text": {
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp for when the answer was last modified.",
          "format": "google-datetime"
        },
        "author": {
          "description": "Output only. The author of the answer. Will only be set during list operations.",
          "readOnly": true,
          "$ref": "Author"
        }
      },
      "id": "Answer",
      "description": "Represents an answer to a question"
    }
  },
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/my-business/"
}