{
  "discoveryVersion": "v1",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    }
  },
  "canonicalName": "My Business Q&A",
  "version": "v1",
  "documentationLink": "https://developers.google.com/my-business/",
  "version_module": true,
  "id": "mybusinessqanda:v1",
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "id": "mybusinessqanda.locations.questions.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the question to delete.",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a specific question written by the current user.",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "path": "v1/{+name}"
            },
            "patch": {
              "description": "Updates a specific question written by the current user.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. The specific fields to update. Only question text can be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "mybusinessqanda.locations.questions.patch",
              "response": {
                "$ref": "Question"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "request": {
                "$ref": "Question"
              }
            },
            "list": {
              "id": "mybusinessqanda.locations.questions.list",
              "parameters": {
                "filter": {
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\"",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the location to fetch questions for.",
                  "pattern": "^locations/[^/]+/questions$"
                },
                "answersPerQuestion": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. If specified, the next page of questions is retrieved.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "ListQuestionsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified.",
              "flatPath": "v1/locations/{locationsId}/questions",
              "path": "v1/{+parent}"
            },
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the location to write a question for.",
                  "pattern": "^locations/[^/]+/questions$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Adds a question for the specified location.",
              "path": "v1/{+parent}",
              "id": "mybusinessqanda.locations.questions.create",
              "response": {
                "$ref": "Question"
              },
              "httpMethod": "POST",
              "flatPath": "v1/locations/{locationsId}/questions",
              "request": {
                "$ref": "Question"
              }
            }
          },
          "resources": {
            "answers": {
              "methods": {
                "list": {
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "path": "v1/{+parent}/answers",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The name of the question to fetch answers for.",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. If specified, the next page of answers is retrieved.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListAnswersResponse"
                  },
                  "description": "Returns the paginated list of answers for a specified question."
                },
                "upsert": {
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert",
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "response": {
                    "$ref": "Answer"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/answers:upsert",
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The name of the question to write an answer for.",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "path": "v1/{+name}/answers:delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "mybusinessqanda.locations.questions.answers.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the question to delete an answer for.",
                      "pattern": "^locations/[^/]+/questions/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes the answer written by the current user to a question."
                }
              }
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "revision": "20260609",
  "schemas": {
    "Question": {
      "description": "Represents a single question and some of its answers.",
      "properties": {
        "text": {
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp for when the question was written.",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
          "type": "string"
        },
        "upvoteCount": {
          "description": "Output only. The number of upvotes for the question.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "topAnswers": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)",
          "items": {
            "$ref": "Answer"
          }
        },
        "author": {
          "readOnly": true,
          "$ref": "Author",
          "description": "Output only. The author of the question."
        },
        "updateTime": {
          "description": "Output only. The timestamp for when the question was last modified.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "totalAnswerCount": {
          "readOnly": true,
          "description": "Output only. The total number of answers posted for this question.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Question",
      "type": "object"
    },
    "Author": {
      "description": "Represents the author of a question or answer",
      "properties": {
        "profilePhotoUri": {
          "description": "The profile photo URI of the user.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ],
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ],
          "description": "The type of user the author is."
        }
      },
      "id": "Author",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ListQuestionsResponse": {
      "id": "ListQuestionsResponse",
      "type": "object",
      "description": "Response message for QuestionsAndAnswers.ListQuestions",
      "properties": {
        "totalSize": {
          "description": "The total number of questions posted for this location across all pages.",
          "format": "int32",
          "type": "integer"
        },
        "questions": {
          "type": "array",
          "description": "The requested questions,",
          "items": {
            "$ref": "Question"
          }
        },
        "nextPageToken": {
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response.",
          "type": "string"
        }
      }
    },
    "Answer": {
      "description": "Represents an answer to a question",
      "properties": {
        "author": {
          "description": "Output only. The author of the answer. Will only be set during list operations.",
          "readOnly": true,
          "$ref": "Author"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp for when the answer was last modified.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching."
        },
        "text": {
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*",
          "type": "string"
        },
        "upvoteCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of upvotes for the answer."
        }
      },
      "id": "Answer",
      "type": "object"
    },
    "ListAnswersResponse": {
      "id": "ListAnswersResponse",
      "type": "object",
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response."
        },
        "answers": {
          "type": "array",
          "description": "The requested answers.",
          "items": {
            "$ref": "Answer"
          }
        },
        "totalSize": {
          "description": "The total number of answers posted for this question across all pages.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "UpsertAnswerRequest": {
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer",
      "properties": {
        "answer": {
          "description": "Required. The new answer.",
          "$ref": "Answer"
        }
      },
      "id": "UpsertAnswerRequest",
      "type": "object"
    }
  },
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "name": "mybusinessqanda",
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "title": "My Business Q&A API",
  "basePath": "",
  "batchPath": "batch",
  "servicePath": ""
}