{
  "servicePath": "",
  "ownerDomain": "google.com",
  "canonicalName": "My Business Q&A",
  "discoveryVersion": "v1",
  "basePath": "",
  "revision": "20260809",
  "protocol": "rest",
  "title": "My Business Q&A API",
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "methods": {
            "delete": {
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "description": "Deletes a specific question written by the current user.",
              "parameterOrder": [
                "name"
              ],
              "id": "mybusinessqanda.locations.questions.delete",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the question to delete.",
                  "location": "path",
                  "pattern": "^locations/[^/]+/questions/[^/]+$"
                }
              }
            },
            "patch": {
              "id": "mybusinessqanda.locations.questions.patch",
              "response": {
                "$ref": "Question"
              },
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "description": "Updates a specific question written by the current user.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "location": "path",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Required. The specific fields to update. Only question text can be updated.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "Question"
              }
            },
            "list": {
              "id": "mybusinessqanda.locations.questions.list",
              "path": "v1/{+parent}",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListQuestionsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "answersPerQuestion": {
                  "format": "int32",
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "type": "integer",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions$",
                  "description": "Required. The name of the location to fetch questions for.",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. If specified, the next page of questions is retrieved.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\"",
                  "type": "string"
                }
              },
              "flatPath": "v1/locations/{locationsId}/questions",
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified.",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/locations/{locationsId}/questions",
              "description": "Adds a question for the specified location.",
              "response": {
                "$ref": "Question"
              },
              "id": "mybusinessqanda.locations.questions.create",
              "request": {
                "$ref": "Question"
              },
              "path": "v1/{+parent}",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^locations/[^/]+/questions$",
                  "location": "path",
                  "description": "Required. The name of the location to write a question for.",
                  "required": true,
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "answers": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. If specified, the next page of answers is retrieved.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the question to fetch answers for.",
                      "location": "path",
                      "pattern": "^locations/[^/]+/questions/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "orderBy": {
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "path": "v1/{+parent}/answers",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListAnswersResponse"
                  },
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "description": "Returns the paginated list of answers for a specified question.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "upsert": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert",
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.",
                  "response": {
                    "$ref": "Answer"
                  },
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "path": "v1/{+parent}/answers:upsert",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the question to write an answer for.",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "description": "Deletes the answer written by the current user to a question.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "mybusinessqanda.locations.questions.answers.delete",
                  "path": "v1/{+name}/answers:delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the question to delete an answer for.",
                      "pattern": "^locations/[^/]+/questions/[^/]+$"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "id": "mybusinessqanda:v1",
  "version": "v1",
  "kind": "discovery#restDescription",
  "parameters": {
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "documentationLink": "https://developers.google.com/my-business/",
  "batchPath": "batch",
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "version_module": true,
  "schemas": {
    "ListQuestionsResponse": {
      "description": "Response message for QuestionsAndAnswers.ListQuestions",
      "type": "object",
      "id": "ListQuestionsResponse",
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "The total number of questions posted for this location across all pages.",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response.",
          "type": "string"
        },
        "questions": {
          "items": {
            "$ref": "Question"
          },
          "description": "The requested questions,",
          "type": "array"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "Answer": {
      "description": "Represents an answer to a question",
      "type": "object",
      "id": "Answer",
      "properties": {
        "upvoteCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of upvotes for the answer.",
          "type": "integer"
        },
        "createTime": {
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the answer was last modified.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*",
          "type": "string"
        },
        "author": {
          "description": "Output only. The author of the answer. Will only be set during list operations.",
          "$ref": "Author",
          "readOnly": true
        },
        "text": {
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters.",
          "type": "string"
        }
      }
    },
    "ListAnswersResponse": {
      "id": "ListAnswersResponse",
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "The total number of answers posted for this question across all pages.",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response.",
          "type": "string"
        },
        "answers": {
          "description": "The requested answers.",
          "type": "array",
          "items": {
            "$ref": "Answer"
          }
        }
      },
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "type": "object"
    },
    "Question": {
      "description": "Represents a single question and some of its answers.",
      "type": "object",
      "id": "Question",
      "properties": {
        "totalAnswerCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The total number of answers posted for this question.",
          "type": "integer"
        },
        "name": {
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
          "type": "string"
        },
        "upvoteCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of upvotes for the question.",
          "type": "integer"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the question was written.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp for when the question was last modified.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "topAnswers": {
          "readOnly": true,
          "items": {
            "$ref": "Answer"
          },
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)",
          "type": "array"
        },
        "text": {
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters.",
          "type": "string"
        },
        "author": {
          "description": "Output only. The author of the question.",
          "$ref": "Author",
          "readOnly": true
        }
      }
    },
    "UpsertAnswerRequest": {
      "id": "UpsertAnswerRequest",
      "properties": {
        "answer": {
          "description": "Required. The new answer.",
          "$ref": "Answer"
        }
      },
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer",
      "type": "object"
    },
    "Author": {
      "id": "Author",
      "properties": {
        "displayName": {
          "description": "The display name of the user",
          "type": "string"
        },
        "type": {
          "description": "The type of user the author is.",
          "type": "string",
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ],
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ]
        },
        "profilePhotoUri": {
          "description": "The profile photo URI of the user.",
          "type": "string"
        }
      },
      "description": "Represents the author of a question or answer",
      "type": "object"
    }
  },
  "ownerName": "Google",
  "name": "mybusinessqanda",
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}