{
  "ownerName": "Google",
  "revision": "20260805",
  "documentationLink": "https://developers.google.com/my-business/",
  "version_module": true,
  "discoveryVersion": "v1",
  "title": "My Business Q&A API",
  "schemas": {
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "Question": {
      "properties": {
        "updateTime": {
          "description": "Output only. The timestamp for when the question was last modified.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation."
        },
        "author": {
          "description": "Output only. The author of the question.",
          "readOnly": true,
          "$ref": "Author"
        },
        "topAnswers": {
          "readOnly": true,
          "items": {
            "$ref": "Answer"
          },
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)",
          "type": "array"
        },
        "upvoteCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of upvotes for the question.",
          "readOnly": true
        },
        "text": {
          "type": "string",
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the question was written.",
          "readOnly": true
        },
        "totalAnswerCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The total number of answers posted for this question."
        }
      },
      "id": "Question",
      "type": "object",
      "description": "Represents a single question and some of its answers."
    },
    "UpsertAnswerRequest": {
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer",
      "type": "object",
      "id": "UpsertAnswerRequest",
      "properties": {
        "answer": {
          "description": "Required. The new answer.",
          "$ref": "Answer"
        }
      }
    },
    "ListQuestionsResponse": {
      "type": "object",
      "description": "Response message for QuestionsAndAnswers.ListQuestions",
      "properties": {
        "questions": {
          "description": "The requested questions,",
          "type": "array",
          "items": {
            "$ref": "Question"
          }
        },
        "nextPageToken": {
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of questions posted for this location across all pages."
        }
      },
      "id": "ListQuestionsResponse"
    },
    "Author": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the user"
        },
        "profilePhotoUri": {
          "type": "string",
          "description": "The profile photo URI of the user."
        },
        "type": {
          "type": "string",
          "description": "The type of user the author is.",
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ],
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ]
        }
      },
      "id": "Author",
      "type": "object",
      "description": "Represents the author of a question or answer"
    },
    "ListAnswersResponse": {
      "id": "ListAnswersResponse",
      "properties": {
        "answers": {
          "description": "The requested answers.",
          "type": "array",
          "items": {
            "$ref": "Answer"
          }
        },
        "totalSize": {
          "description": "The total number of answers posted for this question across all pages.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response."
        }
      },
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "type": "object"
    },
    "Answer": {
      "properties": {
        "updateTime": {
          "description": "Output only. The timestamp for when the answer was last modified.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*",
          "readOnly": true
        },
        "author": {
          "description": "Output only. The author of the answer. Will only be set during list operations.",
          "readOnly": true,
          "$ref": "Author"
        },
        "upvoteCount": {
          "readOnly": true,
          "description": "Output only. The number of upvotes for the answer.",
          "type": "integer",
          "format": "int32"
        },
        "text": {
          "type": "string",
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Answer",
      "type": "object",
      "description": "Represents an answer to a question"
    }
  },
  "version": "v1",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "canonicalName": "My Business Q&A",
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "protocol": "rest",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "servicePath": "",
  "id": "mybusinessqanda:v1",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "methods": {
            "list": {
              "id": "mybusinessqanda.locations.questions.list",
              "path": "v1/{+parent}",
              "parameters": {
                "filter": {
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\"",
                  "location": "query",
                  "type": "string"
                },
                "answersPerQuestion": {
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The name of the location to fetch questions for.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions$"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. If specified, the next page of questions is retrieved.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListQuestionsResponse"
              },
              "flatPath": "v1/locations/{locationsId}/questions",
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "parameters": {
                "name": {
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The specific fields to update. Only question text can be updated.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Question"
              },
              "httpMethod": "PATCH",
              "id": "mybusinessqanda.locations.questions.patch",
              "path": "v1/{+name}",
              "request": {
                "$ref": "Question"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "description": "Updates a specific question written by the current user."
            },
            "delete": {
              "id": "mybusinessqanda.locations.questions.delete",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the question to delete.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions/[^/]+$"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "description": "Deletes a specific question written by the current user."
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/locations/{locationsId}/questions",
              "description": "Adds a question for the specified location.",
              "request": {
                "$ref": "Question"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^locations/[^/]+/questions$",
                  "description": "Required. The name of the location to write a question for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Question"
              },
              "id": "mybusinessqanda.locations.questions.create",
              "path": "v1/{+parent}"
            }
          },
          "resources": {
            "answers": {
              "methods": {
                "upsert": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the question to write an answer for.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Answer"
                  },
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "path": "v1/{+parent}/answers:upsert",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert",
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.",
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  }
                },
                "delete": {
                  "id": "mybusinessqanda.locations.questions.answers.delete",
                  "path": "v1/{+name}/answers:delete",
                  "parameters": {
                    "name": {
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the question to delete an answer for.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "description": "Deletes the answer written by the current user to a question."
                },
                "list": {
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "description": "Returns the paginated list of answers for a specified question.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The name of the question to fetch answers for.",
                      "location": "path",
                      "required": true,
                      "pattern": "^locations/[^/]+/questions/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. If specified, the next page of answers is retrieved.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListAnswersResponse"
                  },
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "path": "v1/{+parent}/answers"
                }
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "name": "mybusinessqanda",
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "ownerDomain": "google.com"
}