{
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "version_module": true,
  "revision": "20260610",
  "version": "v1",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "id": "mybusinessqanda:v1",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "documentationLink": "https://developers.google.com/my-business/",
  "title": "My Business Q&A API",
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "servicePath": "",
  "name": "mybusinessqanda",
  "discoveryVersion": "v1",
  "canonicalName": "My Business Q&A",
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "Question"
              },
              "request": {
                "$ref": "Question"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "parameters": {
                "name": {
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "location": "path",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. The specific fields to update. Only question text can be updated."
                }
              },
              "description": "Updates a specific question written by the current user.",
              "httpMethod": "PATCH",
              "id": "mybusinessqanda.locations.questions.patch"
            },
            "create": {
              "path": "v1/{+parent}",
              "flatPath": "v1/locations/{locationsId}/questions",
              "parameters": {
                "parent": {
                  "pattern": "^locations/[^/]+/questions$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the location to write a question for.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Question"
              },
              "response": {
                "$ref": "Question"
              },
              "description": "Adds a question for the specified location.",
              "id": "mybusinessqanda.locations.questions.create",
              "httpMethod": "POST"
            },
            "delete": {
              "path": "v1/{+name}",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the question to delete.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a specific question written by the current user.",
              "id": "mybusinessqanda.locations.questions.delete",
              "httpMethod": "DELETE"
            },
            "list": {
              "id": "mybusinessqanda.locations.questions.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListQuestionsResponse"
              },
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified.",
              "path": "v1/{+parent}",
              "flatPath": "v1/locations/{locationsId}/questions",
              "parameters": {
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'."
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^locations/[^/]+/questions$",
                  "location": "path",
                  "description": "Required. The name of the location to fetch questions for."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. If specified, the next page of questions is retrieved.",
                  "location": "query"
                },
                "answersPerQuestion": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10."
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10.",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\"",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "answers": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes the answer written by the current user to a question.",
                  "httpMethod": "DELETE",
                  "id": "mybusinessqanda.locations.questions.answers.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/answers:delete",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the question to delete an answer for.",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListAnswersResponse"
                  },
                  "description": "Returns the paginated list of answers for a specified question.",
                  "httpMethod": "GET",
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/answers",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the question to fetch answers for.",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. If specified, the next page of answers is retrieved.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "upsert": {
                  "response": {
                    "$ref": "Answer"
                  },
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/answers:upsert",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the question to write an answer for.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question."
                }
              }
            }
          }
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "schemas": {
    "ListQuestionsResponse": {
      "id": "ListQuestionsResponse",
      "type": "object",
      "properties": {
        "questions": {
          "type": "array",
          "items": {
            "$ref": "Question"
          },
          "description": "The requested questions,"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of questions posted for this location across all pages."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response."
        }
      },
      "description": "Response message for QuestionsAndAnswers.ListQuestions"
    },
    "Answer": {
      "id": "Answer",
      "type": "object",
      "properties": {
        "text": {
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*"
        },
        "upvoteCount": {
          "readOnly": true,
          "description": "Output only. The number of upvotes for the answer.",
          "type": "integer",
          "format": "int32"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp for when the answer was last modified."
        },
        "author": {
          "readOnly": true,
          "$ref": "Author",
          "description": "Output only. The author of the answer. Will only be set during list operations."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching.",
          "readOnly": true
        }
      },
      "description": "Represents an answer to a question"
    },
    "UpsertAnswerRequest": {
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer",
      "id": "UpsertAnswerRequest",
      "type": "object",
      "properties": {
        "answer": {
          "$ref": "Answer",
          "description": "Required. The new answer."
        }
      }
    },
    "Author": {
      "id": "Author",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the user"
        },
        "profilePhotoUri": {
          "type": "string",
          "description": "The profile photo URI of the user."
        },
        "type": {
          "description": "The type of user the author is.",
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ],
          "type": "string",
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ]
        }
      },
      "description": "Represents the author of a question or answer"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListAnswersResponse": {
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "id": "ListAnswersResponse",
      "type": "object",
      "properties": {
        "answers": {
          "type": "array",
          "items": {
            "$ref": "Answer"
          },
          "description": "The requested answers."
        },
        "nextPageToken": {
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of answers posted for this question across all pages."
        }
      }
    },
    "Question": {
      "id": "Question",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp for when the question was written.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "totalAnswerCount": {
          "readOnly": true,
          "description": "Output only. The total number of answers posted for this question.",
          "type": "integer",
          "format": "int32"
        },
        "author": {
          "readOnly": true,
          "$ref": "Author",
          "description": "Output only. The author of the question."
        },
        "topAnswers": {
          "type": "array",
          "items": {
            "$ref": "Answer"
          },
          "readOnly": true,
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)"
        },
        "upvoteCount": {
          "description": "Output only. The number of upvotes for the question.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp for when the question was last modified."
        },
        "text": {
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation."
        }
      },
      "description": "Represents a single question and some of its answers."
    }
  }
}