{
  "servicePath": "",
  "version": "v1",
  "name": "mybusinessqanda",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "methods": {
            "list": {
              "id": "mybusinessqanda.locations.questions.list",
              "flatPath": "v1/locations/{locationsId}/questions",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\"",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. If specified, the next page of questions is retrieved.",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                  "type": "string",
                  "location": "query"
                },
                "answersPerQuestion": {
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The name of the location to fetch questions for.",
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions$",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10.",
                  "format": "int32"
                }
              },
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified.",
              "response": {
                "$ref": "ListQuestionsResponse"
              },
              "path": "v1/{+parent}"
            },
            "create": {
              "path": "v1/{+parent}",
              "response": {
                "$ref": "Question"
              },
              "id": "mybusinessqanda.locations.questions.create",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the location to write a question for.",
                  "required": true,
                  "pattern": "^locations/[^/]+/questions$",
                  "location": "path"
                }
              },
              "description": "Adds a question for the specified location.",
              "flatPath": "v1/locations/{locationsId}/questions",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Question"
              }
            },
            "patch": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "type": "string",
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Required. The specific fields to update. Only question text can be updated.",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "description": "Updates a specific question written by the current user.",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Question"
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Question"
              },
              "id": "mybusinessqanda.locations.questions.patch"
            },
            "delete": {
              "id": "mybusinessqanda.locations.questions.delete",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the question to delete.",
                  "location": "path"
                }
              },
              "description": "Deletes a specific question written by the current user.",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}"
            }
          },
          "resources": {
            "answers": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}/answers:delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the question to delete an answer for.",
                      "type": "string"
                    }
                  },
                  "description": "Deletes the answer written by the current user to a question.",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "mybusinessqanda.locations.questions.answers.delete"
                },
                "list": {
                  "path": "v1/{+parent}/answers",
                  "response": {
                    "$ref": "ListAnswersResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the question to fetch answers for.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. If specified, the next page of answers is retrieved.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                      "location": "query"
                    }
                  },
                  "description": "Returns the paginated list of answers for a specified question.",
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "upsert": {
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the question to write an answer for.",
                      "location": "path"
                    }
                  },
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.",
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "response": {
                    "$ref": "Answer"
                  },
                  "path": "v1/{+parent}/answers:upsert"
                }
              }
            }
          }
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "My Business Q&A API",
  "revision": "20260620",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "id": "mybusinessqanda:v1",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "canonicalName": "My Business Q&A",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/my-business/",
  "schemas": {
    "Author": {
      "id": "Author",
      "type": "object",
      "description": "Represents the author of a question or answer",
      "properties": {
        "displayName": {
          "description": "The display name of the user",
          "type": "string"
        },
        "profilePhotoUri": {
          "type": "string",
          "description": "The profile photo URI of the user."
        },
        "type": {
          "description": "The type of user the author is.",
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ],
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ],
          "type": "string"
        }
      }
    },
    "Question": {
      "id": "Question",
      "description": "Represents a single question and some of its answers.",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp for when the question was written.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters."
        },
        "totalAnswerCount": {
          "type": "integer",
          "description": "Output only. The total number of answers posted for this question.",
          "readOnly": true,
          "format": "int32"
        },
        "author": {
          "$ref": "Author",
          "description": "Output only. The author of the question.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation."
        },
        "updateTime": {
          "description": "Output only. The timestamp for when the question was last modified.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "topAnswers": {
          "type": "array",
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)",
          "readOnly": true,
          "items": {
            "$ref": "Answer"
          }
        },
        "upvoteCount": {
          "type": "integer",
          "description": "Output only. The number of upvotes for the question.",
          "readOnly": true,
          "format": "int32"
        }
      },
      "type": "object"
    },
    "UpsertAnswerRequest": {
      "id": "UpsertAnswerRequest",
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer",
      "properties": {
        "answer": {
          "description": "Required. The new answer.",
          "$ref": "Answer"
        }
      },
      "type": "object"
    },
    "Answer": {
      "id": "Answer",
      "type": "object",
      "description": "Represents an answer to a question",
      "properties": {
        "author": {
          "description": "Output only. The author of the answer. Will only be set during list operations.",
          "readOnly": true,
          "$ref": "Author"
        },
        "name": {
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp for when the answer was last modified.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "upvoteCount": {
          "type": "integer",
          "description": "Output only. The number of upvotes for the answer.",
          "readOnly": true,
          "format": "int32"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "text": {
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "ListAnswersResponse": {
      "id": "ListAnswersResponse",
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "properties": {
        "answers": {
          "type": "array",
          "description": "The requested answers.",
          "items": {
            "$ref": "Answer"
          }
        },
        "totalSize": {
          "description": "The total number of answers posted for this question across all pages.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response."
        }
      },
      "type": "object"
    },
    "ListQuestionsResponse": {
      "type": "object",
      "description": "Response message for QuestionsAndAnswers.ListQuestions",
      "properties": {
        "questions": {
          "items": {
            "$ref": "Question"
          },
          "description": "The requested questions,",
          "type": "array"
        },
        "totalSize": {
          "description": "The total number of questions posted for this location across all pages.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response."
        }
      },
      "id": "ListQuestionsResponse"
    }
  },
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "version_module": true,
  "kind": "discovery#restDescription",
  "basePath": ""
}