{
  "batchPath": "batch",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "version": "v1",
  "kind": "discovery#restDescription",
  "basePath": "",
  "canonicalName": "My Business Q&A",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "id": "mybusinessqanda:v1",
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "protocol": "rest",
  "ownerName": "Google",
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "resources": {
            "answers": {
              "methods": {
                "upsert": {
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.",
                  "response": {
                    "$ref": "Answer"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "description": "Required. The name of the question to write an answer for.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/answers:upsert",
                  "httpMethod": "POST",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert"
                },
                "list": {
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the question to fetch answers for.",
                      "type": "string",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Optional. If specified, the next page of answers is retrieved.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/answers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListAnswersResponse"
                  },
                  "description": "Returns the paginated list of answers for a specified question.",
                  "id": "mybusinessqanda.locations.questions.answers.list"
                },
                "delete": {
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "description": "Required. The name of the question to delete an answer for.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}/answers:delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes the answer written by the current user to a question.",
                  "id": "mybusinessqanda.locations.questions.answers.delete"
                }
              }
            }
          },
          "methods": {
            "list": {
              "flatPath": "v1/locations/{locationsId}/questions",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\"",
                  "type": "string"
                },
                "answersPerQuestion": {
                  "location": "query",
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. If specified, the next page of questions is retrieved.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the location to fetch questions for.",
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions$"
                },
                "pageSize": {
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListQuestionsResponse"
              },
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified.",
              "id": "mybusinessqanda.locations.questions.list"
            },
            "delete": {
              "id": "mybusinessqanda.locations.questions.delete",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a specific question written by the current user.",
              "path": "v1/{+name}",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "description": "Required. The name of the question to delete.",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE"
            },
            "patch": {
              "id": "mybusinessqanda.locations.questions.patch",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Question"
              },
              "description": "Updates a specific question written by the current user.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. The specific fields to update. Only question text can be updated.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "Question"
              }
            },
            "create": {
              "response": {
                "$ref": "Question"
              },
              "description": "Adds a question for the specified location.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the location to write a question for.",
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions$",
                  "required": true
                }
              },
              "request": {
                "$ref": "Question"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "mybusinessqanda.locations.questions.create",
              "flatPath": "v1/locations/{locationsId}/questions",
              "httpMethod": "POST",
              "path": "v1/{+parent}"
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/my-business/",
  "ownerDomain": "google.com",
  "title": "My Business Q&A API",
  "name": "mybusinessqanda",
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "revision": "20260616",
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "schemas": {
    "ListQuestionsResponse": {
      "description": "Response message for QuestionsAndAnswers.ListQuestions",
      "type": "object",
      "id": "ListQuestionsResponse",
      "properties": {
        "questions": {
          "items": {
            "$ref": "Question"
          },
          "description": "The requested questions,",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of questions posted for this location across all pages.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Answer": {
      "description": "Represents an answer to a question",
      "type": "object",
      "id": "Answer",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp for when the answer was last modified.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "text": {
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*",
          "type": "string"
        },
        "author": {
          "$ref": "Author",
          "description": "Output only. The author of the answer. Will only be set during list operations.",
          "readOnly": true
        },
        "upvoteCount": {
          "readOnly": true,
          "description": "Output only. The number of upvotes for the answer.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListAnswersResponse": {
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "type": "object",
      "id": "ListAnswersResponse",
      "properties": {
        "answers": {
          "items": {
            "$ref": "Answer"
          },
          "description": "The requested answers.",
          "type": "array"
        },
        "totalSize": {
          "description": "The total number of answers posted for this question across all pages.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response.",
          "type": "string"
        }
      }
    },
    "Author": {
      "description": "Represents the author of a question or answer",
      "type": "object",
      "id": "Author",
      "properties": {
        "profilePhotoUri": {
          "description": "The profile photo URI of the user.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the user",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ],
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ],
          "description": "The type of user the author is.",
          "type": "string"
        }
      }
    },
    "Question": {
      "id": "Question",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp for when the question was written.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
          "type": "string"
        },
        "author": {
          "description": "Output only. The author of the question.",
          "$ref": "Author",
          "readOnly": true
        },
        "upvoteCount": {
          "description": "Output only. The number of upvotes for the question.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "topAnswers": {
          "readOnly": true,
          "items": {
            "$ref": "Answer"
          },
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)",
          "type": "array"
        },
        "text": {
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters.",
          "type": "string"
        },
        "totalAnswerCount": {
          "description": "Output only. The total number of answers posted for this question.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The timestamp for when the question was last modified.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Represents a single question and some of its answers.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "UpsertAnswerRequest": {
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer",
      "type": "object",
      "id": "UpsertAnswerRequest",
      "properties": {
        "answer": {
          "description": "Required. The new answer.",
          "$ref": "Answer"
        }
      }
    }
  }
}