{
  "batchPath": "batch",
  "name": "mybusinessplaceactions",
  "discoveryVersion": "v1",
  "id": "mybusinessplaceactions:v1",
  "ownerDomain": "google.com",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "version_module": true,
  "revision": "20260614",
  "rootUrl": "https://mybusinessplaceactions.googleapis.com/",
  "resources": {
    "locations": {
      "resources": {
        "placeActionLinks": {
          "methods": {
            "create": {
              "flatPath": "v1/locations/{locationsId}/placeActionLinks",
              "httpMethod": "POST",
              "id": "mybusinessplaceactions.locations.placeActionLinks.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^locations/[^/]+$",
                  "description": "Required. The resource name of the location where to create this place action link. `locations/{location_id}`.",
                  "required": true
                }
              },
              "path": "v1/{+parent}/placeActionLinks",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "description": "Creates a place action link associated with the specified location, and returns it. The request is considered duplicate if the `parent`, `place_action_link.uri` and `place_action_link.place_action_type` are the same as a previous request.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "PlaceActionLink"
              }
            },
            "get": {
              "httpMethod": "GET",
              "description": "Gets the specified place action link.",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the place action link to fetch.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$"
                }
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.get",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "parameters": {
                "name": {
                  "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The specific fields to update. The only editable fields are `uri`, `place_action_type` and `is_preferred`. If the updated link already exists at the same location with the same `place_action_type` and `uri`, fails with an `ALREADY_EXISTS` error.",
                  "format": "google-fieldmask"
                }
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.patch",
              "httpMethod": "PATCH",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "PlaceActionLink"
              },
              "description": "Updates the specified place action link and returns it.",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "path": "v1/{+name}"
            },
            "delete": {
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes a place action link from the specified location.",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "description": "Required. The resource name of the place action link to remove from the location.",
                  "required": true
                }
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.delete",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "path": "v1/{+parent}/placeActionLinks",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks",
              "response": {
                "$ref": "ListPlaceActionLinksResponse"
              },
              "httpMethod": "GET",
              "description": "Lists the place action links for the specified location.",
              "id": "mybusinessplaceactions.locations.placeActionLinks.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The name of the location whose place action links will be listed. `locations/{location_id}`.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^locations/[^/]+$"
                },
                "filter": {
                  "description": "Optional. A filter constraining the place action links to return. The response includes entries that match the filter. We support only the following filter: 1. place_action_type=XYZ where XYZ is a valid PlaceActionType.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. If specified, returns the next page of place action links.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. How many place action links to return per page. Default of 10. The minimum is 1.",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "placeActionTypeMetadata": {
      "methods": {
        "list": {
          "parameters": {
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "Optional. The IETF BCP-47 code of language to get display names in. If this language is not available, they will be provided in English."
            },
            "filter": {
              "description": "Optional. A filter constraining the place action types to return metadata for. The response includes entries that match the filter. We support only the following filters: 1. location=XYZ where XYZ is a string indicating the resource name of a location, in the format `locations/{location_id}`. 2. region_code=XYZ where XYZ is a Unicode CLDR region code to find available action types. If no filter is provided, all place action types are returned.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Optional. If specified, the next page of place action type metadata is retrieved. The `pageToken` is returned when a call to `placeActionTypeMetadata.list` returns more results than can fit into the requested page size.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. How many action types to include per page. Default is 10, minimum is 1.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "id": "mybusinessplaceactions.placeActionTypeMetadata.list",
          "parameterOrder": [],
          "path": "v1/placeActionTypeMetadata",
          "httpMethod": "GET",
          "description": "Returns the list of available place action types for a location or country.",
          "flatPath": "v1/placeActionTypeMetadata",
          "response": {
            "$ref": "ListPlaceActionTypeMetadataResponse"
          }
        }
      }
    }
  },
  "version": "v1",
  "documentationLink": "https://developers.google.com/my-business/",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "description": "The My Business Place Actions API provides an interface for managing place action links of a location on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "schemas": {
    "ListPlaceActionTypeMetadataResponse": {
      "id": "ListPlaceActionTypeMetadataResponse",
      "description": "Response message for PlaceActions.ListPlaceActionTypeMetadata.",
      "type": "object",
      "properties": {
        "placeActionTypeMetadata": {
          "items": {
            "$ref": "PlaceActionTypeMetadata"
          },
          "type": "array",
          "description": "A collection of metadata for the available place action types."
        },
        "nextPageToken": {
          "description": "If the number of action types exceeded the requested page size, this field will be populated with a token to fetch the next page on a subsequent call to `placeActionTypeMetadata.list`. If there are no more results, this field will not be present in the response.",
          "type": "string"
        }
      }
    },
    "PlaceActionTypeMetadata": {
      "id": "PlaceActionTypeMetadata",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The localized display name for the attribute, if available; otherwise, the English display name.",
          "type": "string"
        },
        "placeActionType": {
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ],
          "description": "The place action type.",
          "type": "string"
        }
      },
      "description": "Metadata for supported place action types."
    },
    "PlaceActionLink": {
      "id": "PlaceActionLink",
      "description": "Represents a place action link and its attributes.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response.",
          "type": "string"
        },
        "isEditable": {
          "description": "Output only. Indicates whether this link can be edited by the client.",
          "readOnly": true,
          "type": "boolean"
        },
        "providerType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "PROVIDER_TYPE_UNSPECIFIED",
            "MERCHANT",
            "AGGREGATOR_3P"
          ],
          "enumDescriptions": [
            "Not specified.",
            "A 1P provider such as a merchant, or an agency on behalf of a merchant.",
            "A 3P aggregator, such as a `Reserve with Google` partner."
          ],
          "description": "Output only. Specifies the provider type."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the place action link was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the place action link was last modified.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Required. The link uri. The same uri can be reused for different action types across different locations. However, only one place action link is allowed for each unique combination of (uri, place action type, location)."
        },
        "placeActionType": {
          "type": "string",
          "description": "Required. The type of place action that can be performed using this link.",
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ],
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ]
        },
        "isPreferred": {
          "type": "boolean",
          "description": "Optional. Whether this link is preferred by the merchant. Only one link can be marked as preferred per place action type at a location. If a future request marks a different link as preferred for the same place action type, then the current preferred link (if any exists) will lose its preference."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "ListPlaceActionLinksResponse": {
      "id": "ListPlaceActionLinksResponse",
      "type": "object",
      "properties": {
        "placeActionLinks": {
          "items": {
            "$ref": "PlaceActionLink"
          },
          "description": "The returned list of place action links.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more place action links than the requested page size, then this field is populated with a token to fetch the next page of results."
        }
      },
      "description": "Response message for PlaceActions.ListPlaceActionLinks."
    }
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "baseUrl": "https://mybusinessplaceactions.googleapis.com/",
  "mtlsRootUrl": "https://mybusinessplaceactions.mtls.googleapis.com/",
  "protocol": "rest",
  "basePath": "",
  "canonicalName": "My Business Place Actions",
  "title": "My Business Place Actions API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}