{
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/my-business/",
  "version": "v1",
  "revision": "20260623",
  "servicePath": "",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "name": "mybusinessqanda",
  "version_module": true,
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "methods": {
            "list": {
              "path": "v1/{+parent}",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\"",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                  "type": "string",
                  "location": "query"
                },
                "answersPerQuestion": {
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The name of the location to fetch questions for.",
                  "pattern": "^locations/[^/]+/questions$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. If specified, the next page of questions is retrieved.",
                  "type": "string"
                }
              },
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified.",
              "flatPath": "v1/locations/{locationsId}/questions",
              "parameterOrder": [
                "parent"
              ],
              "id": "mybusinessqanda.locations.questions.list",
              "response": {
                "$ref": "ListQuestionsResponse"
              }
            },
            "patch": {
              "id": "mybusinessqanda.locations.questions.patch",
              "response": {
                "$ref": "Question"
              },
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "description": "Required. The specific fields to update. Only question text can be updated.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "Question"
              },
              "description": "Updates a specific question written by the current user."
            },
            "delete": {
              "id": "mybusinessqanda.locations.questions.delete",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the question to delete.",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Deletes a specific question written by the current user."
            },
            "create": {
              "id": "mybusinessqanda.locations.questions.create",
              "response": {
                "$ref": "Question"
              },
              "path": "v1/{+parent}",
              "httpMethod": "POST",
              "flatPath": "v1/locations/{locationsId}/questions",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the location to write a question for.",
                  "pattern": "^locations/[^/]+/questions$",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "Question"
              },
              "description": "Adds a question for the specified location."
            }
          },
          "resources": {
            "answers": {
              "methods": {
                "upsert": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the question to write an answer for.",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/answers:upsert",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Answer"
                  },
                  "id": "mybusinessqanda.locations.questions.answers.upsert"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the question to delete an answer for.",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Deletes the answer written by the current user to a question.",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/answers:delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "mybusinessqanda.locations.questions.answers.delete"
                },
                "list": {
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "response": {
                    "$ref": "ListAnswersResponse"
                  },
                  "path": "v1/{+parent}/answers",
                  "httpMethod": "GET",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the question to fetch answers for.",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. If specified, the next page of answers is retrieved.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Returns the paginated list of answers for a specified question.",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "title": "My Business Q&A API",
  "id": "mybusinessqanda:v1",
  "canonicalName": "My Business Q&A",
  "schemas": {
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "Question": {
      "id": "Question",
      "description": "Represents a single question and some of its answers.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. The timestamp for when the question was last modified.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "author": {
          "$ref": "Author",
          "description": "Output only. The author of the question.",
          "readOnly": true
        },
        "topAnswers": {
          "readOnly": true,
          "items": {
            "$ref": "Answer"
          },
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)",
          "type": "array"
        },
        "name": {
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
          "type": "string"
        },
        "upvoteCount": {
          "description": "Output only. The number of upvotes for the question.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "text": {
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters.",
          "type": "string"
        },
        "totalAnswerCount": {
          "readOnly": true,
          "description": "Output only. The total number of answers posted for this question.",
          "type": "integer",
          "format": "int32"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp for when the question was written.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Author": {
      "description": "Represents the author of a question or answer",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The display name of the user",
          "type": "string"
        },
        "profilePhotoUri": {
          "description": "The profile photo URI of the user.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ],
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ],
          "description": "The type of user the author is.",
          "type": "string"
        }
      },
      "id": "Author"
    },
    "UpsertAnswerRequest": {
      "id": "UpsertAnswerRequest",
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer",
      "type": "object",
      "properties": {
        "answer": {
          "$ref": "Answer",
          "description": "Required. The new answer."
        }
      }
    },
    "ListQuestionsResponse": {
      "description": "Response message for QuestionsAndAnswers.ListQuestions",
      "type": "object",
      "properties": {
        "totalSize": {
          "description": "The total number of questions posted for this location across all pages.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response.",
          "type": "string"
        },
        "questions": {
          "description": "The requested questions,",
          "type": "array",
          "items": {
            "$ref": "Question"
          }
        }
      },
      "id": "ListQuestionsResponse"
    },
    "ListAnswersResponse": {
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "type": "object",
      "properties": {
        "totalSize": {
          "description": "The total number of answers posted for this question across all pages.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response.",
          "type": "string"
        },
        "answers": {
          "description": "The requested answers.",
          "type": "array",
          "items": {
            "$ref": "Answer"
          }
        }
      },
      "id": "ListAnswersResponse"
    },
    "Answer": {
      "description": "Represents an answer to a question",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching.",
          "type": "string",
          "format": "google-datetime"
        },
        "upvoteCount": {
          "readOnly": true,
          "description": "Output only. The number of upvotes for the answer.",
          "type": "integer",
          "format": "int32"
        },
        "text": {
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*",
          "type": "string",
          "readOnly": true
        },
        "author": {
          "description": "Output only. The author of the answer. Will only be set during list operations.",
          "$ref": "Author",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The timestamp for when the answer was last modified.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "Answer"
    }
  },
  "batchPath": "batch",
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "basePath": ""
}