{
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "revision": "20260701",
  "canonicalName": "My Business Place Actions",
  "servicePath": "",
  "rootUrl": "https://mybusinessplaceactions.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "documentationLink": "https://developers.google.com/my-business/",
  "kind": "discovery#restDescription",
  "name": "mybusinessplaceactions",
  "basePath": "",
  "description": "The My Business Place Actions API provides an interface for managing place action links of a location on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "id": "mybusinessplaceactions:v1",
  "version": "v1",
  "resources": {
    "locations": {
      "resources": {
        "placeActionLinks": {
          "methods": {
            "delete": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "id": "mybusinessplaceactions.locations.placeActionLinks.delete",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a place action link from the specified location.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the place action link to remove from the location.",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the place action link to fetch.",
                  "required": true,
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "id": "mybusinessplaceactions.locations.placeActionLinks.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the specified place action link.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "httpMethod": "GET"
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1/{+parent}/placeActionLinks",
              "response": {
                "$ref": "ListPlaceActionLinksResponse"
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the place action links for the specified location.",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the location whose place action links will be listed. `locations/{location_id}`.",
                  "pattern": "^locations/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. How many place action links to return per page. Default of 10. The minimum is 1."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. If specified, returns the next page of place action links."
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. A filter constraining the place action links to return. The response includes entries that match the filter. We support only the following filter: 1. place_action_type=XYZ where XYZ is a valid PlaceActionType.",
                  "location": "query"
                }
              }
            },
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "PlaceActionLink"
              },
              "flatPath": "v1/locations/{locationsId}/placeActionLinks",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the location where to create this place action link. `locations/{location_id}`.",
                  "pattern": "^locations/[^/]+$"
                }
              },
              "path": "v1/{+parent}/placeActionLinks",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.create",
              "description": "Creates a place action link associated with the specified location, and returns it. The request is considered duplicate if the `parent`, `place_action_link.uri` and `place_action_link.place_action_type` are the same as a previous request."
            },
            "patch": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.patch",
              "description": "Updates the specified place action link and returns it.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response.",
                  "required": true,
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. The specific fields to update. The only editable fields are `uri`, `place_action_type` and `is_preferred`. If the updated link already exists at the same location with the same `place_action_type` and `uri`, fails with an `ALREADY_EXISTS` error."
                }
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "PlaceActionLink"
              },
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "placeActionTypeMetadata": {
      "methods": {
        "list": {
          "parameters": {
            "languageCode": {
              "type": "string",
              "location": "query",
              "description": "Optional. The IETF BCP-47 code of language to get display names in. If this language is not available, they will be provided in English."
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Optional. A filter constraining the place action types to return metadata for. The response includes entries that match the filter. We support only the following filters: 1. location=XYZ where XYZ is a string indicating the resource name of a location, in the format `locations/{location_id}`. 2. region_code=XYZ where XYZ is a Unicode CLDR region code to find available action types. If no filter is provided, all place action types are returned."
            },
            "pageSize": {
              "description": "Optional. How many action types to include per page. Default is 10, minimum is 1.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. If specified, the next page of place action type metadata is retrieved. The `pageToken` is returned when a call to `placeActionTypeMetadata.list` returns more results than can fit into the requested page size.",
              "type": "string"
            }
          },
          "path": "v1/placeActionTypeMetadata",
          "response": {
            "$ref": "ListPlaceActionTypeMetadataResponse"
          },
          "httpMethod": "GET",
          "flatPath": "v1/placeActionTypeMetadata",
          "id": "mybusinessplaceactions.placeActionTypeMetadata.list",
          "parameterOrder": [],
          "description": "Returns the list of available place action types for a location or country."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "batchPath": "batch",
  "title": "My Business Place Actions API",
  "baseUrl": "https://mybusinessplaceactions.googleapis.com/",
  "schemas": {
    "PlaceActionTypeMetadata": {
      "type": "object",
      "id": "PlaceActionTypeMetadata",
      "description": "Metadata for supported place action types.",
      "properties": {
        "displayName": {
          "description": "The localized display name for the attribute, if available; otherwise, the English display name.",
          "type": "string"
        },
        "placeActionType": {
          "type": "string",
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ],
          "description": "The place action type."
        }
      }
    },
    "ListPlaceActionLinksResponse": {
      "id": "ListPlaceActionLinksResponse",
      "description": "Response message for PlaceActions.ListPlaceActionLinks.",
      "properties": {
        "placeActionLinks": {
          "items": {
            "$ref": "PlaceActionLink"
          },
          "description": "The returned list of place action links.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there are more place action links than the requested page size, then this field is populated with a token to fetch the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ListPlaceActionTypeMetadataResponse": {
      "id": "ListPlaceActionTypeMetadataResponse",
      "description": "Response message for PlaceActions.ListPlaceActionTypeMetadata.",
      "properties": {
        "nextPageToken": {
          "description": "If the number of action types exceeded the requested page size, this field will be populated with a token to fetch the next page on a subsequent call to `placeActionTypeMetadata.list`. If there are no more results, this field will not be present in the response.",
          "type": "string"
        },
        "placeActionTypeMetadata": {
          "description": "A collection of metadata for the available place action types.",
          "items": {
            "$ref": "PlaceActionTypeMetadata"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "PlaceActionLink": {
      "id": "PlaceActionLink",
      "description": "Represents a place action link and its attributes.",
      "properties": {
        "providerType": {
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "A 1P provider such as a merchant, or an agency on behalf of a merchant.",
            "A 3P aggregator, such as a `Reserve with Google` partner."
          ],
          "type": "string",
          "enum": [
            "PROVIDER_TYPE_UNSPECIFIED",
            "MERCHANT",
            "AGGREGATOR_3P"
          ],
          "description": "Output only. Specifies the provider type."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the place action link was created."
        },
        "isEditable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether this link can be edited by the client."
        },
        "isPreferred": {
          "description": "Optional. Whether this link is preferred by the merchant. Only one link can be marked as preferred per place action type at a location. If a future request marks a different link as preferred for the same place action type, then the current preferred link (if any exists) will lose its preference.",
          "type": "boolean"
        },
        "uri": {
          "description": "Required. The link uri. The same uri can be reused for different action types across different locations. However, only one place action link is allowed for each unique combination of (uri, place action type, location).",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the place action link was last modified."
        },
        "placeActionType": {
          "description": "Required. The type of place action that can be performed using this link.",
          "type": "string",
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ]
        },
        "name": {
          "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    }
  },
  "mtlsRootUrl": "https://mybusinessplaceactions.mtls.googleapis.com/"
}