{
  "protocol": "rest",
  "rootUrl": "https://mybusinessaccountmanagement.googleapis.com/",
  "batchPath": "batch",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "version": "v1",
  "mtlsRootUrl": "https://mybusinessaccountmanagement.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "servicePath": "",
  "canonicalName": "My Business Account Management",
  "title": "My Business Account Management API",
  "kind": "discovery#restDescription",
  "revision": "20260826",
  "discoveryVersion": "v1",
  "resources": {
    "locations": {
      "resources": {
        "admins": {
          "methods": {
            "patch": {
              "id": "mybusinessaccountmanagement.locations.admins.patch",
              "response": {
                "$ref": "Admin"
              },
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. The specific fields that should be updated. The only editable field is role.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "Immutable. The resource name. For account admins, this is in the form: `accounts/{account_id}/admins/{admin_id}` For location admins, this is in the form: `locations/{location_id}/admins/{admin_id}` This field will be ignored if set during admin creation.",
                  "pattern": "^locations/[^/]+/admins/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates the Admin for the specified location. Only the AdminRole of the Admin can be updated.",
              "flatPath": "v1/locations/{locationsId}/admins/{adminsId}",
              "request": {
                "$ref": "Admin"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "id": "mybusinessaccountmanagement.locations.admins.create",
              "response": {
                "$ref": "Admin"
              },
              "request": {
                "$ref": "Admin"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the location this admin is created for. `locations/{location_id}/admins`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^locations/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1/locations/{locationsId}/admins",
              "description": "Invites the specified user to become an administrator for the specified location. The invitee must accept the invitation in order to be granted access to the location. See AcceptInvitation to programmatically accept an invitation.",
              "path": "v1/{+parent}/admins"
            },
            "delete": {
              "description": "Removes the specified admin as a manager of the specified location.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/locations/{locationsId}/admins/{adminsId}",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^locations/[^/]+/admins/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the admin to remove from the location."
                }
              },
              "id": "mybusinessaccountmanagement.locations.admins.delete"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationAdminsResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the location to list admins of. `locations/{location_id}/admins`.",
                  "pattern": "^locations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "id": "mybusinessaccountmanagement.locations.admins.list",
              "flatPath": "v1/locations/{locationsId}/admins",
              "path": "v1/{+parent}/admins",
              "description": "Lists all of the admins for the specified location.",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      },
      "methods": {
        "transfer": {
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Required. The name of the location to transfer. `locations/{location_id}`.",
              "pattern": "^locations/[^/]+$",
              "required": true
            }
          },
          "httpMethod": "POST",
          "path": "v1/{+name}:transfer",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/locations/{locationsId}:transfer",
          "id": "mybusinessaccountmanagement.locations.transfer",
          "response": {
            "$ref": "Empty"
          },
          "description": "Moves a location from an account that the user owns to another account that the same user administers. The user must be an owner of the account the location is currently associated with and must also be at least a manager of the destination account.",
          "request": {
            "$ref": "TransferLocationRequest"
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "patch": {
          "request": {
            "$ref": "Account"
          },
          "flatPath": "v1/accounts/{accountsId}",
          "parameters": {
            "validateOnly": {
              "location": "query",
              "description": "Optional. If true, the request is validated without actually updating the account.",
              "type": "boolean"
            },
            "name": {
              "description": "Immutable. The resource name, in the format `accounts/{account_id}`.",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "Required. The specific fields that should be updated. The only editable field is `accountName`."
            }
          },
          "httpMethod": "PATCH",
          "description": "Updates the specified business account. Personal accounts cannot be updated using this method.",
          "path": "v1/{+name}",
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "mybusinessaccountmanagement.accounts.patch"
        },
        "get": {
          "id": "mybusinessaccountmanagement.accounts.get",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name of the account to fetch.",
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "required": true
            }
          },
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "flatPath": "v1/accounts/{accountsId}",
          "description": "Gets the specified account. Returns `NOT_FOUND` if the account does not exist or if the caller does not have access rights to it.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Account"
          }
        },
        "create": {
          "parameterOrder": [],
          "path": "v1/accounts",
          "flatPath": "v1/accounts",
          "description": "Creates an account with the specified name and type under the given parent. - Personal accounts and Organizations cannot be created. - User Groups cannot be created with a Personal account as primary owner. - Location Groups cannot be created with a primary owner of a Personal account if the Personal account is in an Organization. - Location Groups cannot own Location Groups.",
          "request": {
            "$ref": "Account"
          },
          "response": {
            "$ref": "Account"
          },
          "id": "mybusinessaccountmanagement.accounts.create",
          "httpMethod": "POST",
          "parameters": {}
        },
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. If specified, the next page of accounts is retrieved. The `pageToken` is returned when a call to `accounts.list` returns more results than can fit into the requested page size."
            },
            "parentAccount": {
              "description": "Optional. The resource name of the account for which the list of directly accessible accounts is to be retrieved. This only makes sense for Organizations and User Groups. If empty, will return `ListAccounts` for the authenticated user. `accounts/{account_id}`.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "Optional. How many accounts to fetch per page. The default and maximum is 20.",
              "type": "integer"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. A filter constraining the accounts to return. The response includes only entries that match the filter. If `filter` is empty, then no constraints are applied and all accounts (paginated) are retrieved for the requested account. For example, a request with the filter `type=USER_GROUP` will only return user groups. The `type` field is the only supported filter."
            }
          },
          "httpMethod": "GET",
          "description": "Lists all of the accounts for the authenticated user. This includes all accounts that the user owns, as well as any accounts for which the user has management rights.",
          "id": "mybusinessaccountmanagement.accounts.list",
          "flatPath": "v1/accounts",
          "path": "v1/accounts"
        }
      },
      "resources": {
        "invitations": {
          "methods": {
            "decline": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the account invitation that is being declined. `accounts/{account_id}/invitations/{invitation_id}`",
                  "pattern": "^accounts/[^/]+/invitations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Declines the specified invitation.",
              "httpMethod": "POST",
              "flatPath": "v1/accounts/{accountsId}/invitations/{invitationsId}:decline",
              "parameterOrder": [
                "name"
              ],
              "id": "mybusinessaccountmanagement.accounts.invitations.decline",
              "request": {
                "$ref": "DeclineInvitationRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}:decline"
            },
            "list": {
              "description": "Lists pending invitations for the specified account.",
              "parameterOrder": [
                "parent"
              ],
              "id": "mybusinessaccountmanagement.accounts.invitations.list",
              "response": {
                "$ref": "ListInvitationsResponse"
              },
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "Optional. Filtering the response is supported via the Invitation.target_type field.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The name of the account from which the list of invitations is being retrieved. `accounts/{account_id}/invitations`",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/accounts/{accountsId}/invitations",
              "path": "v1/{+parent}/invitations",
              "httpMethod": "GET"
            },
            "accept": {
              "flatPath": "v1/accounts/{accountsId}/invitations/{invitationsId}:accept",
              "id": "mybusinessaccountmanagement.accounts.invitations.accept",
              "path": "v1/{+name}:accept",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the invitation that is being accepted. `accounts/{account_id}/invitations/{invitation_id}`",
                  "pattern": "^accounts/[^/]+/invitations/[^/]+$"
                }
              },
              "request": {
                "$ref": "AcceptInvitationRequest"
              },
              "description": "Accepts the specified invitation.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              }
            }
          }
        },
        "admins": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Immutable. The resource name. For account admins, this is in the form: `accounts/{account_id}/admins/{admin_id}` For location admins, this is in the form: `locations/{location_id}/admins/{admin_id}` This field will be ignored if set during admin creation.",
                  "pattern": "^accounts/[^/]+/admins/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Required. The specific fields that should be updated. The only editable field is role."
                }
              },
              "httpMethod": "PATCH",
              "id": "mybusinessaccountmanagement.accounts.admins.patch",
              "request": {
                "$ref": "Admin"
              },
              "response": {
                "$ref": "Admin"
              },
              "description": "Updates the Admin for the specified Account Admin.",
              "path": "v1/{+name}",
              "flatPath": "v1/accounts/{accountsId}/admins/{adminsId}"
            },
            "create": {
              "request": {
                "$ref": "Admin"
              },
              "flatPath": "v1/accounts/{accountsId}/admins",
              "path": "v1/{+parent}/admins",
              "httpMethod": "POST",
              "id": "mybusinessaccountmanagement.accounts.admins.create",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The resource name of the account this admin is created for. `accounts/{account_id}`."
                }
              },
              "response": {
                "$ref": "Admin"
              },
              "description": "Invites the specified user to become an administrator for the specified account. The invitee must accept the invitation in order to be granted access to the account. See AcceptInvitation to programmatically accept an invitation.",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "id": "mybusinessaccountmanagement.accounts.admins.delete",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/admins/[^/]+$",
                  "description": "Required. The resource name of the admin to remove from the account. `accounts/{account_id}/admins/{admin_id}`."
                }
              },
              "description": "Removes the specified admin from the specified account.",
              "flatPath": "v1/accounts/{accountsId}/admins/{adminsId}",
              "httpMethod": "DELETE"
            },
            "list": {
              "description": "Lists the admins for the specified account.",
              "id": "mybusinessaccountmanagement.accounts.admins.list",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the account from which to retrieve a list of admins. `accounts/{account_id}/admins`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/admins",
              "path": "v1/{+parent}/admins",
              "response": {
                "$ref": "ListAccountAdminsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "schemas": {
    "Invitation": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource name for the invitation. `accounts/{account_id}/invitations/{invitation_id}`."
        },
        "targetAccount": {
          "description": "The sparsely populated account this invitation is for.",
          "$ref": "Account"
        },
        "targetLocation": {
          "$ref": "TargetLocation",
          "description": "The target location this invitation is for."
        },
        "role": {
          "enumDescriptions": [
            "Not specified.",
            "The admin has owner-level access and is the primary owner. (Displays as 'Primary Owner' in UI).",
            "The admin has owner-level access. (Displays as 'Owner' in UI).",
            "The admin has managerial access.",
            "The admin can manage social (Google+) pages. (Displays as 'Site Manager' in UI). This API doesn't allow creating an account admin with a SITE_MANAGER role."
          ],
          "description": "Output only. The invited role on the account.",
          "enum": [
            "ADMIN_ROLE_UNSPECIFIED",
            "PRIMARY_OWNER",
            "OWNER",
            "MANAGER",
            "SITE_MANAGER"
          ],
          "readOnly": true,
          "type": "string"
        },
        "targetType": {
          "description": "Output only. Specifies which target types should appear in the response.",
          "type": "string",
          "enum": [
            "TARGET_TYPE_UNSPECIFIED",
            "ACCOUNTS_ONLY",
            "LOCATIONS_ONLY"
          ],
          "enumDescriptions": [
            "Set when target type is unspecified.",
            "List invitations only for targets of type Account.",
            "List invitations only for targets of type Location."
          ],
          "readOnly": true
        }
      },
      "id": "Invitation",
      "description": "Represents a pending invitation."
    },
    "Admin": {
      "description": "An administrator of an Account or a location.",
      "id": "Admin",
      "properties": {
        "account": {
          "description": "Immutable. The name of the Account resource that this Admin refers to. Used when calling locations.admins.create to invite a LocationGroup as an admin. If both this field and `admin` are set on `CREATE` requests, this field takes precedence and the email address in `admin` will be ignored. Format: `accounts/{account}`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name. For account admins, this is in the form: `accounts/{account_id}/admins/{admin_id}` For location admins, this is in the form: `locations/{location_id}/admins/{admin_id}` This field will be ignored if set during admin creation."
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The admin has owner-level access and is the primary owner. (Displays as 'Primary Owner' in UI).",
            "The admin has owner-level access. (Displays as 'Owner' in UI).",
            "The admin has managerial access.",
            "The admin can manage social (Google+) pages. (Displays as 'Site Manager' in UI). This API doesn't allow creating an account admin with a SITE_MANAGER role."
          ],
          "description": "Required. Specifies the role that this admin uses with the specified Account or Location.",
          "enum": [
            "ADMIN_ROLE_UNSPECIFIED",
            "PRIMARY_OWNER",
            "OWNER",
            "MANAGER",
            "SITE_MANAGER"
          ]
        },
        "pendingInvitation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether this admin has a pending invitation for the specified resource."
        },
        "admin": {
          "type": "string",
          "description": "Optional. The name of the admin. When making the initial invitation, this is the invitee's email address. On `GET` calls, the user's email address is returned if the invitation is still pending. Otherwise, it contains the user's first and last names. This field is only needed to be set during admin creation."
        }
      },
      "type": "object"
    },
    "OrganizationInfo": {
      "id": "OrganizationInfo",
      "description": "Additional information stored for an organization.",
      "properties": {
        "registeredDomain": {
          "readOnly": true,
          "description": "Output only. The registered domain for the account.",
          "type": "string"
        },
        "address": {
          "$ref": "PostalAddress",
          "description": "Output only. The postal address for the account.",
          "readOnly": true
        },
        "phoneNumber": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The contact number for the organization."
        }
      },
      "type": "object"
    },
    "ListAccountAdminsResponse": {
      "description": "Response message for AccessControl.ListAccountAdmins.",
      "id": "ListAccountAdminsResponse",
      "properties": {
        "accountAdmins": {
          "description": "A collection of Admin instances.",
          "items": {
            "$ref": "Admin"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Account": {
      "type": "object",
      "description": "An account is a container for your location. If you are the only user who manages locations for your business, you can use your personal Google Account. To share management of locations with multiple users, [create a business account] (https://support.google.com/business/answer/6085339?ref_topic=6085325).",
      "properties": {
        "accountNumber": {
          "type": "string",
          "description": "Output only. Account reference number if provisioned.",
          "readOnly": true
        },
        "primaryOwner": {
          "description": "Required. Input only. The resource name of the account which will be the primary owner of the account being created. It should be of the form `accounts/{account_id}`.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "An end-user account.",
            "A group of Locations. For more information, see the [help center article] (https://support.google.com/business/answer/6085326)",
            "A User Group for segregating organization staff in groups. For more information, see the [help center article](https://support.google.com/business/answer/7655731)",
            "An organization representing a company. For more information, see the [help center article](https://support.google.com/business/answer/7663063)"
          ],
          "description": "Required. Contains the type of account. Accounts of type PERSONAL and ORGANIZATION cannot be created using this API.",
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "PERSONAL",
            "LOCATION_GROUP",
            "USER_GROUP",
            "ORGANIZATION"
          ]
        },
        "accountName": {
          "description": "Required. The name of the account. For an account of type `PERSONAL`, this is the first and last name of the user account.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The resource name, in the format `accounts/{account_id}`.",
          "type": "string"
        },
        "role": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the AccountRole of this account.",
          "enumDescriptions": [
            "Not specified.",
            "The user is the primary owner this account.",
            "The user owner of the account.",
            "The user can manage this account.",
            "The user can manage a limited set of features for the account."
          ],
          "enum": [
            "ACCOUNT_ROLE_UNSPECIFIED",
            "PRIMARY_OWNER",
            "OWNER",
            "MANAGER",
            "SITE_MANAGER"
          ]
        },
        "permissionLevel": {
          "enumDescriptions": [
            "Not specified.",
            "The user has owner level permission.",
            "The user has member level permission."
          ],
          "readOnly": true,
          "enum": [
            "PERMISSION_LEVEL_UNSPECIFIED",
            "OWNER_LEVEL",
            "MEMBER_LEVEL"
          ],
          "type": "string",
          "description": "Output only. Specifies the permission level the user has for this account."
        },
        "verificationState": {
          "description": "Output only. If verified, future locations that are created are automatically connected to Google Maps, and have Google+ pages created, without requiring moderation.",
          "enumDescriptions": [
            "Not specified.",
            "Verified account.",
            "Account that is not verified, and verification has not been requested.",
            "Account that is not verified, but verification has been requested."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "VERIFIED",
            "UNVERIFIED",
            "VERIFICATION_REQUESTED"
          ]
        },
        "organizationInfo": {
          "description": "Output only. Additional info for an organization. This is populated only for an organization account.",
          "$ref": "OrganizationInfo",
          "readOnly": true
        },
        "vettedState": {
          "description": "Output only. Indicates whether the account is vetted by Google. A vetted account is able to verify locations via the VETTED_PARTNER method.",
          "enum": [
            "VETTED_STATE_UNSPECIFIED",
            "NOT_VETTED",
            "VETTED",
            "INVALID"
          ],
          "enumDescriptions": [
            "Not Specified",
            "The account is not vetted by Google.",
            "The account is vetted by Google and in a valid state. An account is automatically vetted if it has direct access to a vetted group account.",
            "The account is vetted but in an invalid state. The account will behave like an unvetted account."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Account"
    },
    "AcceptInvitationRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for AccessControl.AcceptInvitation.",
      "id": "AcceptInvitationRequest"
    },
    "ListInvitationsResponse": {
      "description": "Response message for AccessControl.ListInvitations.",
      "type": "object",
      "properties": {
        "invitations": {
          "type": "array",
          "description": "A collection of invitations that are pending for the account. The number of invitations listed here cannot exceed 1000.",
          "items": {
            "$ref": "Invitation"
          }
        }
      },
      "id": "ListInvitationsResponse"
    },
    "TransferLocationRequest": {
      "properties": {
        "destinationAccount": {
          "description": "Required. Name of the account resource to transfer the location to (for example, \"accounts/{account}\").",
          "type": "string"
        }
      },
      "description": "Request message for AccessControl.TransferLocation.",
      "type": "object",
      "id": "TransferLocationRequest"
    },
    "PostalAddress": {
      "type": "object",
      "id": "PostalAddress",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
        },
        "recipients": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
        },
        "organization": {
          "description": "Optional. The name of the organization at the address.",
          "type": "string"
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire).",
          "type": "string"
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        },
        "addressLines": {
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "locality": {
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`.",
          "type": "string"
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States).",
          "type": "string"
        },
        "revision": {
          "format": "int32",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "type": "integer"
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated."
        }
      },
      "description": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "TargetLocation": {
      "id": "TargetLocation",
      "properties": {
        "locationName": {
          "type": "string",
          "description": "The name of the location to which the user is invited."
        },
        "address": {
          "description": "The address of the location to which the user is invited. Not always populated.",
          "type": "string"
        },
        "placeId": {
          "description": "Output only. The Place ID of the location to which the user is invited. Not always populated.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a target location for a pending invitation."
    },
    "DeclineInvitationRequest": {
      "id": "DeclineInvitationRequest",
      "properties": {},
      "description": "Request message for AccessControl.DeclineInvitation.",
      "type": "object"
    },
    "ListAccountsResponse": {
      "description": "Response message for Accounts.ListAccounts.",
      "id": "ListAccountsResponse",
      "properties": {
        "accounts": {
          "description": "A collection of accounts to which the user has access. The personal account of the user doing the query will always be the first item of the result, unless it is filtered out.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "If the number of accounts exceeds the requested page size, this field is populated with a token to fetch the next page of accounts on a subsequent call to `accounts.list`. If there are no more accounts, this field is not present in the response.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListLocationAdminsResponse": {
      "type": "object",
      "properties": {
        "admins": {
          "items": {
            "$ref": "Admin"
          },
          "type": "array",
          "description": "A collection of Admins."
        }
      },
      "id": "ListLocationAdminsResponse",
      "description": "Response message for AccessControl.ListLocationAdmins."
    }
  },
  "name": "mybusinessaccountmanagement",
  "version_module": true,
  "id": "mybusinessaccountmanagement:v1",
  "documentationLink": "https://developers.google.com/my-business/",
  "description": "The My Business Account Management API provides an interface for managing access to a location on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "baseUrl": "https://mybusinessaccountmanagement.googleapis.com/"
}