{
  "id": "mybusinessqanda:v1",
  "version": "v1",
  "protocol": "rest",
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "version_module": true,
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "revision": "20260623",
  "documentationLink": "https://developers.google.com/my-business/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "name": "mybusinessqanda",
  "servicePath": "",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "title": "My Business Q&A API",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "canonicalName": "My Business Q&A",
  "schemas": {
    "ListAnswersResponse": {
      "description": "Response message for QuestionsAndAnswers.ListAnswers",
      "id": "ListAnswersResponse",
      "type": "object",
      "properties": {
        "answers": {
          "type": "array",
          "description": "The requested answers.",
          "items": {
            "$ref": "Answer"
          }
        },
        "totalSize": {
          "description": "The total number of answers posted for this question across all pages.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response."
        }
      }
    },
    "UpsertAnswerRequest": {
      "id": "UpsertAnswerRequest",
      "type": "object",
      "properties": {
        "answer": {
          "description": "Required. The new answer.",
          "$ref": "Answer"
        }
      },
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer"
    },
    "Answer": {
      "description": "Represents an answer to a question",
      "id": "Answer",
      "type": "object",
      "properties": {
        "author": {
          "readOnly": true,
          "description": "Output only. The author of the answer. Will only be set during list operations.",
          "$ref": "Author"
        },
        "text": {
          "type": "string",
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*"
        },
        "upvoteCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of upvotes for the answer.",
          "type": "integer"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp for when the answer was last modified.",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "ListQuestionsResponse": {
      "id": "ListQuestionsResponse",
      "type": "object",
      "properties": {
        "questions": {
          "items": {
            "$ref": "Question"
          },
          "description": "The requested questions,",
          "type": "array"
        },
        "totalSize": {
          "format": "int32",
          "description": "The total number of questions posted for this location across all pages.",
          "type": "integer"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response."
        }
      },
      "description": "Response message for QuestionsAndAnswers.ListQuestions"
    },
    "Question": {
      "id": "Question",
      "type": "object",
      "properties": {
        "topAnswers": {
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Answer"
          }
        },
        "text": {
          "type": "string",
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters."
        },
        "author": {
          "readOnly": true,
          "$ref": "Author",
          "description": "Output only. The author of the question."
        },
        "totalAnswerCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The total number of answers posted for this question."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp for when the question was last modified.",
          "format": "google-datetime",
          "readOnly": true
        },
        "upvoteCount": {
          "type": "integer",
          "description": "Output only. The number of upvotes for the question.",
          "format": "int32",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp for when the question was written."
        }
      },
      "description": "Represents a single question and some of its answers."
    },
    "Author": {
      "description": "Represents the author of a question or answer",
      "id": "Author",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of user the author is.",
          "enum": [
            "AUTHOR_TYPE_UNSPECIFIED",
            "REGULAR_USER",
            "LOCAL_GUIDE",
            "MERCHANT"
          ],
          "type": "string",
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user"
        },
        "profilePhotoUri": {
          "description": "The profile photo URI of the user.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    }
  },
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "methods": {
            "list": {
              "id": "mybusinessqanda.locations.questions.list",
              "flatPath": "v1/locations/{locationsId}/questions",
              "response": {
                "$ref": "ListQuestionsResponse"
              },
              "parameters": {
                "orderBy": {
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. If specified, the next page of questions is retrieved."
                },
                "parent": {
                  "pattern": "^locations/[^/]+/questions$",
                  "description": "Required. The name of the location to fetch questions for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "answersPerQuestion": {
                  "type": "integer",
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "format": "int32",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\"",
                  "location": "query"
                }
              },
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified.",
              "path": "v1/{+parent}",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            },
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the location to write a question for.",
                  "pattern": "^locations/[^/]+/questions$"
                }
              },
              "id": "mybusinessqanda.locations.questions.create",
              "flatPath": "v1/locations/{locationsId}/questions",
              "path": "v1/{+parent}",
              "parameterOrder": [
                "parent"
              ],
              "description": "Adds a question for the specified location.",
              "response": {
                "$ref": "Question"
              },
              "request": {
                "$ref": "Question"
              },
              "httpMethod": "POST"
            },
            "patch": {
              "response": {
                "$ref": "Question"
              },
              "description": "Updates a specific question written by the current user.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Question"
              },
              "id": "mybusinessqanda.locations.questions.patch",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "pattern": "^locations/[^/]+/questions/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "description": "Required. The specific fields to update. Only question text can be updated.",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "id": "mybusinessqanda.locations.questions.delete",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "description": "Required. The name of the question to delete."
                }
              },
              "description": "Deletes a specific question written by the current user."
            }
          },
          "resources": {
            "answers": {
              "methods": {
                "upsert": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "response": {
                    "$ref": "Answer"
                  },
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.",
                  "path": "v1/{+parent}/answers:upsert",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the question to write an answer for.",
                      "pattern": "^locations/[^/]+/questions/[^/]+$"
                    }
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/answers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "response": {
                    "$ref": "ListAnswersResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. If specified, the next page of answers is retrieved."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "description": "Required. The name of the question to fetch answers for."
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                      "type": "string"
                    }
                  },
                  "description": "Returns the paginated list of answers for a specified question."
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the question to delete an answer for.",
                      "pattern": "^locations/[^/]+/questions/[^/]+$"
                    }
                  },
                  "description": "Deletes the answer written by the current user to a question.",
                  "id": "mybusinessqanda.locations.questions.answers.delete",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}/answers:delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                }
              }
            }
          }
        }
      }
    }
  }
}