{
  "rootUrl": "https://netapp.googleapis.com/",
  "canonicalName": "NetApp Files",
  "id": "netapp:v1",
  "documentationLink": "https://cloud.google.com/netapp/",
  "discoveryVersion": "v1",
  "version_module": true,
  "servicePath": "",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://netapp.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://netapp.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://netapp.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://netapp.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://netapp.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://netapp.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://netapp.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://netapp.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://netapp.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://netapp.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://netapp.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://netapp.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://netapp.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://netapp.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://netapp.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://netapp.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://netapp.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://netapp.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://netapp.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://netapp.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://netapp.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://netapp.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://netapp.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://netapp.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://netapp.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://netapp.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://netapp.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://netapp.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://netapp.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://netapp.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://netapp.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://netapp.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://netapp.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://netapp.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://netapp.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://netapp.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://netapp.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "parameters": {
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "protocol": "rest",
  "mtlsRootUrl": "https://netapp.mtls.googleapis.com/",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "NetApp API",
  "description": "Google Cloud NetApp Volumes is a fully-managed, cloud-based data storage service that provides advanced data management capabilities and highly scalable performance with global availability.",
  "batchPath": "batch",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "backupPolicies": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "netapp.projects.locations.backupPolicies.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupPolicies",
                  "path": "v1/{+parent}/backupPolicies",
                  "description": "Returns list of all available backup policies.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Filtering results",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Hint for how to order the results",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Parent value for ListBackupPoliciesRequest"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListBackupPoliciesResponse"
                  }
                },
                "create": {
                  "description": "Creates new backup policy",
                  "path": "v1/{+parent}/backupPolicies",
                  "id": "netapp.projects.locations.backupPolicies.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupPolicies",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "BackupPolicy"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The location to create the backup policies of, in the format `projects/{project_id}/locations/{location}`",
                      "location": "path"
                    },
                    "backupPolicyId": {
                      "type": "string",
                      "description": "Required. The ID to use for the backup policy. The ID must be unique within the specified location. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The backupPolicy resource name, in the format `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupPolicies/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "BackupPolicy"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Returns the description of the specified backup policy by backup_policy_id.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "netapp.projects.locations.backupPolicies.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupPolicies/{backupPoliciesId}"
                },
                "delete": {
                  "id": "netapp.projects.locations.backupPolicies.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupPolicies/{backupPoliciesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Warning! This operation will permanently delete the backup policy.",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The backup policy resource name, in the format `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupPolicies/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupPolicies/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Identifier. The resource name of the backup policy. Format: `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`.",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Backup Policy resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.backupPolicies.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupPolicies/{backupPoliciesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "BackupPolicy"
                  },
                  "description": "Updates settings of a specific backup policy.",
                  "path": "v1/{+name}"
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "netapp.projects.locations.operations.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "netapp.projects.locations.operations.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "netapp.projects.locations.operations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "cancel": {
                  "id": "netapp.projects.locations.operations.cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "activeDirectories": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/activeDirectories/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Active Directory resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.activeDirectories.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories/{activeDirectoriesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ActiveDirectory"
                  },
                  "description": "Update the parameters of an active directories.",
                  "path": "v1/{+name}"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/activeDirectories/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the active directory."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.activeDirectories.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories/{activeDirectoriesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete the active directory specified in the request.",
                  "path": "v1/{+name}"
                },
                "get": {
                  "path": "v1/{+name}",
                  "description": "Describes a specified active directory.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "netapp.projects.locations.activeDirectories.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories/{activeDirectoriesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the active directory.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/activeDirectories/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ActiveDirectory"
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ActiveDirectory"
                  },
                  "id": "netapp.projects.locations.activeDirectories.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories",
                  "path": "v1/{+parent}/activeDirectories",
                  "description": "CreateActiveDirectory Creates the active directory specified in the request.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Value for parent.",
                      "location": "path"
                    },
                    "activeDirectoryId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the active directory to create. Must be unique within the parent resource. Must contain only letters, numbers and hyphen, with the first character a letter , the last a letter or a number, and a 63 character maximum."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "netapp.projects.locations.activeDirectories.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories",
                  "path": "v1/{+parent}/activeDirectories",
                  "description": "Lists active directories.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, the server will pick an appropriate default."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filtering results",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Hint for how to order the results",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListActiveDirectoriesRequest",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListActiveDirectoriesResponse"
                  }
                }
              }
            },
            "storagePools": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the storage pool"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.storagePools.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Warning! This operation will permanently delete the storage pool.",
                  "path": "v1/{+name}"
                },
                "updateBackupConfig": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the StoragePool, in the format: projects/{projectNumber}/locations/{locationId}/storagePools/{poolId}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.storagePools.updateBackupConfig",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}:updateBackupConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "UpdateBackupConfigRequest"
                  },
                  "description": "Updates the backup configuration for an ONTAP-mode volume.",
                  "path": "v1/{+name}:updateBackupConfig"
                },
                "validateDirectoryService": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ValidateDirectoryServiceRequest"
                  },
                  "id": "netapp.projects.locations.storagePools.validateDirectoryService",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}:validateDirectoryService",
                  "path": "v1/{+name}:validateDirectoryService",
                  "description": "ValidateDirectoryService does a connectivity check for a directory service policy attached to the storage pool.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the storage pool",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "create": {
                  "path": "v1/{+parent}/storagePools",
                  "description": "Creates a new storage pool.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "StoragePool"
                  },
                  "id": "netapp.projects.locations.storagePools.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Value for parent."
                    },
                    "storagePoolId": {
                      "type": "string",
                      "description": "Required. Id of the requesting storage pool. Must be unique within the parent resource. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. List filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Parent value",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The next_page_token value to use if there are additional results to retrieve for this list request."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListStoragePoolsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/storagePools",
                  "description": "Returns descriptions of all storage pools owned by the caller.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "netapp.projects.locations.storagePools.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools"
                },
                "switch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SwitchActiveReplicaZoneRequest"
                  },
                  "id": "netapp.projects.locations.storagePools.switch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}:switch",
                  "path": "v1/{+name}:switch",
                  "description": "This operation will switch the active/replica zone for a regional storagePool.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the storage pool",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. Name of the storage pool"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the StoragePool resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "StoragePool"
                  },
                  "id": "netapp.projects.locations.storagePools.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}",
                  "path": "v1/{+name}",
                  "description": "Updates the storage pool properties with the full spec"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the storage pool"
                    }
                  },
                  "response": {
                    "$ref": "StoragePool"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.storagePools.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns the description of the specified storage pool by poolId.",
                  "path": "v1/{+name}"
                },
                "restoreVolume": {
                  "description": "Restores a backup to an ONTAP-mode volume.",
                  "path": "v1/{+name}:restoreVolume",
                  "id": "netapp.projects.locations.storagePools.restoreVolume",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}:restoreVolume",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "RestoreVolumeRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the ONTAP mode storage pool, in the format of `projects/{project}/locations/{location}/storagePools/{storage_pool}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "ontap": {
                  "methods": {
                    "executeOntapDelete": {
                      "parameterOrder": [
                        "ontapPath"
                      ],
                      "id": "netapp.projects.locations.storagePools.ontap.executeOntapDelete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}/ontap/{ontapId}",
                      "path": "v1/{+ontapPath}",
                      "description": "`ExecuteOntapDelete` sends the ONTAP `DELETE` request to the `StoragePool` cluster.",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "ontapPath": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+/ontap/.*$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource path of the ONTAP resource. Format: `projects/{project_number}/locations/{location_id}/storagePools/{storage_pool_id}/ontap/{ontap_resource_path}`. For example: `projects/123456789/locations/us-central1/storagePools/my-storage-pool/ontap/api/storage/volumes`."
                        }
                      },
                      "response": {
                        "$ref": "ExecuteOntapDeleteResponse"
                      }
                    },
                    "executeOntapGet": {
                      "httpMethod": "GET",
                      "parameters": {
                        "ontapPath": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+/ontap/.*$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource path of the ONTAP resource. Format: `projects/{project_number}/locations/{location_id}/storagePools/{storage_pool_id}/ontap/{ontap_resource_path}`. For example: `projects/123456789/locations/us-central1/storagePools/my-storage-pool/ontap/api/storage/volumes`."
                        }
                      },
                      "response": {
                        "$ref": "ExecuteOntapGetResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.storagePools.ontap.executeOntapGet",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}/ontap/{ontapId}",
                      "parameterOrder": [
                        "ontapPath"
                      ],
                      "description": "`ExecuteOntapGet` sends the ONTAP `GET` request to the `StoragePool` cluster.",
                      "path": "v1/{+ontapPath}"
                    },
                    "executeOntapPatch": {
                      "httpMethod": "PATCH",
                      "parameters": {
                        "ontapPath": {
                          "location": "path",
                          "description": "Required. The resource path of the ONTAP resource. Format: `projects/{project_number}/locations/{location_id}/storagePools/{storage_pool_id}/ontap/{ontap_resource_path}`. For example: `projects/123456789/locations/us-central1/storagePools/my-storage-pool/ontap/api/storage/volumes`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+/ontap/.*$",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ExecuteOntapPatchResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.storagePools.ontap.executeOntapPatch",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}/ontap/{ontapId}",
                      "parameterOrder": [
                        "ontapPath"
                      ],
                      "request": {
                        "$ref": "ExecuteOntapPatchRequest"
                      },
                      "description": "`ExecuteOntapPatch` sends the ONTAP `PATCH` request to the `StoragePool` cluster.",
                      "path": "v1/{+ontapPath}"
                    },
                    "executeOntapPost": {
                      "description": "`ExecuteOntapPost` sends the ONTAP `POST` request to the `StoragePool` cluster.",
                      "path": "v1/{+ontapPath}",
                      "id": "netapp.projects.locations.storagePools.ontap.executeOntapPost",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}/ontap/{ontapId}",
                      "parameterOrder": [
                        "ontapPath"
                      ],
                      "request": {
                        "$ref": "ExecuteOntapPostRequest"
                      },
                      "parameters": {
                        "ontapPath": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+/ontap/.*$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The path of the ONTAP resource. Format: `projects/{project_number}/locations/{location_id}/storagePools/{storage_pool_id}/ontap/{ontap_resource_path}`. For example: `projects/123456789/locations/us-central1/storagePools/my-storage-pool/ontap/api/storage/volumes`.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "ExecuteOntapPostResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST"
                    }
                  }
                },
                "backupConfigs": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The standard list filter."
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Sort results. Supported values are \"volume_id\" or \"\""
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The ONTAP StoragePool for which to retrieve backup configuration information, in the format `projects/{project}/locations/{location}/storagePools/{storage_pool}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+$",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value to use if there are additional results to retrieve for this list request.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of items to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000. If unspecified or set to 0, a default of 50 will be used.",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "response": {
                        "$ref": "ListBackupConfigsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "netapp.projects.locations.storagePools.backupConfigs.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}/backupConfigs",
                      "path": "v1/{+parent}/backupConfigs",
                      "description": "Lists backup configurations for all volumes in an ONTAP-mode Storage Pool."
                    }
                  }
                }
              }
            },
            "volumes": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the volume",
                      "location": "path"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "If this field is set as true, CCFE will not block the volume resource deletion even if it has any snapshots resource. (Otherwise, the request will only work if the volume has no snapshots.)",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "netapp.projects.locations.volumes.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}",
                  "path": "v1/{+name}",
                  "description": "Deletes a single Volume."
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Volume"
                  },
                  "id": "netapp.projects.locations.volumes.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}",
                  "path": "v1/{+name}",
                  "description": "Updates the parameters of a single Volume.",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Identifier. Name of the volume",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Volume resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the volume",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Volume"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.volumes.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single Volume.",
                  "path": "v1/{+name}"
                },
                "establishPeering": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The volume resource name, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "EstablishVolumePeeringRequest"
                  },
                  "id": "netapp.projects.locations.volumes.establishPeering",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:establishPeering",
                  "path": "v1/{+name}:establishPeering",
                  "description": "Establish volume peering. This is used to establish cluster and svm peerings between the GCNV and OnPrem clusters."
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Value for parent.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "volumeId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Id of the requesting volume. Must be unique within the parent resource. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.volumes.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Volume"
                  },
                  "description": "Creates a new Volume in a given project and location.",
                  "path": "v1/{+parent}/volumes"
                },
                "revert": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the volume, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "RevertVolumeRequest"
                  },
                  "id": "netapp.projects.locations.volumes.revert",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:revert",
                  "path": "v1/{+name}:revert",
                  "description": "Revert an existing volume to a specified snapshot. Warning! This operation will permanently revert all changes made after the snapshot was created."
                },
                "list": {
                  "path": "v1/{+parent}/volumes",
                  "description": "Lists Volumes in a given project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "netapp.projects.locations.volumes.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Filtering results"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Hint for how to order the results",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListVolumesRequest",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return."
                    }
                  },
                  "response": {
                    "$ref": "ListVolumesResponse"
                  },
                  "httpMethod": "GET"
                },
                "restore": {
                  "description": "Restore files from a backup to a volume.",
                  "path": "v1/{+name}:restore",
                  "id": "netapp.projects.locations.volumes.restore",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:restore",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "RestoreBackupFilesRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The volume resource name, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "replications": {
                  "methods": {
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Replication"
                      },
                      "id": "netapp.projects.locations.volumes.replications.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications",
                      "path": "v1/{+parent}/replications",
                      "description": "Create a new replication for a volume.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "replicationId": {
                          "description": "Required. ID of the replication to create. Must be unique within the parent resource. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The NetApp volume to create the replications of, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The volume for which to retrieve replication information, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`.",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "List filter.",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of items to return.",
                          "type": "integer"
                        }
                      },
                      "response": {
                        "$ref": "ListReplicationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "description": "Returns descriptions of all replications for a volume.",
                      "path": "v1/{+parent}/replications",
                      "id": "netapp.projects.locations.volumes.replications.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "path": "v1/{+name}",
                      "description": "Deletes a replication.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "netapp.projects.locations.volumes.replications.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The replication resource name, in the format `projects/*/locations/*/volumes/*/replications/{replication_id}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE"
                    },
                    "resume": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "ResumeReplicationRequest"
                      },
                      "id": "netapp.projects.locations.volumes.replications.resume",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:resume",
                      "path": "v1/{+name}:resume",
                      "description": "Resume Cross Region Replication.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "sync": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}."
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+name}:sync",
                      "description": "Syncs the replication. This will invoke one time volume data transfer from source to destination.",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "SyncReplicationRequest"
                      },
                      "id": "netapp.projects.locations.volumes.replications.sync",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:sync"
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`."
                        },
                        "updateMask": {
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field.",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "description": "Updates the settings of a specific replication.",
                      "path": "v1/{+name}",
                      "id": "netapp.projects.locations.volumes.replications.patch",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Replication"
                      }
                    },
                    "reverseDirection": {
                      "path": "v1/{+name}:reverseDirection",
                      "description": "Reverses direction of replication. Source becomes destination and destination becomes source.",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "ReverseReplicationDirectionRequest"
                      },
                      "id": "netapp.projects.locations.volumes.replications.reverseDirection",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:reverseDirection",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}."
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST"
                    },
                    "stop": {
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}."
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "StopReplicationRequest"
                      },
                      "id": "netapp.projects.locations.volumes.replications.stop",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:stop",
                      "path": "v1/{+name}:stop",
                      "description": "Stop Cross Region Replication."
                    },
                    "get": {
                      "id": "netapp.projects.locations.volumes.replications.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Describe a replication for a volume.",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. The replication resource name, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Replication"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "establishPeering": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+name}:establishPeering",
                      "description": "Establish replication peering.",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "EstablishPeeringRequest"
                      },
                      "id": "netapp.projects.locations.volumes.replications.establishPeering",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:establishPeering"
                    }
                  }
                },
                "quotaRules": {
                  "methods": {
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. Parent value for CreateQuotaRuleRequest",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "type": "string"
                        },
                        "quotaRuleId": {
                          "location": "query",
                          "description": "Required. ID of the quota rule to create. Must be unique within the parent resource. Must contain only letters, numbers, underscore and hyphen, with the first character a letter or underscore, the last a letter or underscore or a number, and a 63 character maximum.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/quotaRules",
                      "description": "Creates a new quota rule.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "QuotaRule"
                      },
                      "id": "netapp.projects.locations.volumes.quotaRules.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules"
                    },
                    "list": {
                      "id": "netapp.projects.locations.volumes.quotaRules.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Returns list of all quota rules in a location.",
                      "path": "v1/{+parent}/quotaRules",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "type": "integer"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Hint for how to order the results",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filtering results",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. Parent value for ListQuotaRulesRequest",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListQuotaRulesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "description": "Updates a quota rule.",
                      "path": "v1/{+name}",
                      "id": "netapp.projects.locations.volumes.quotaRules.patch",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules/{quotaRulesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "QuotaRule"
                      },
                      "parameters": {
                        "name": {
                          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/quotaRules/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Quota Rule resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH"
                    },
                    "delete": {
                      "description": "Deletes a quota rule.",
                      "path": "v1/{+name}",
                      "id": "netapp.projects.locations.volumes.quotaRules.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules/{quotaRulesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. Name of the quota rule.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/quotaRules/[^/]+$",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE"
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "description": "Returns details of the specified quota rule.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "netapp.projects.locations.volumes.quotaRules.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules/{quotaRulesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. Name of the quota rule",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/quotaRules/[^/]+$",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "QuotaRule"
                      },
                      "httpMethod": "GET"
                    }
                  }
                },
                "snapshots": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/snapshots/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The snapshot resource name, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`"
                        }
                      },
                      "response": {
                        "$ref": "Snapshot"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.snapshots.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots/{snapshotsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Describe a snapshot for a volume.",
                      "path": "v1/{+name}"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/snapshots/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Identifier. The resource name of the snapshot. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`."
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field.",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.snapshots.patch",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots/{snapshotsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Snapshot"
                      },
                      "description": "Updates the settings of a specific snapshot.",
                      "path": "v1/{+name}"
                    },
                    "delete": {
                      "description": "Deletes a snapshot.",
                      "path": "v1/{+name}",
                      "id": "netapp.projects.locations.volumes.snapshots.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots/{snapshotsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/snapshots/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The snapshot resource name, in the format `projects/*/locations/*/volumes/*/snapshots/{snapshot_id}`"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "The maximum number of items to return."
                        },
                        "filter": {
                          "location": "query",
                          "description": "List filter.",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The volume for which to retrieve snapshot information, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`.",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/snapshots",
                      "description": "Returns descriptions of all snapshots for a volume.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "netapp.projects.locations.volumes.snapshots.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The NetApp volume to create the snapshots of, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "type": "string"
                        },
                        "snapshotId": {
[...]
