{
  "rootUrl": "https://netapp.googleapis.com/",
  "description": "Google Cloud NetApp Volumes is a fully-managed, cloud-based data storage service that provides advanced data management capabilities and highly scalable performance with global availability.",
  "servicePath": "",
  "mtlsRootUrl": "https://netapp.mtls.googleapis.com/",
  "baseUrl": "https://netapp.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v1",
  "version_module": true,
  "canonicalName": "NetApp Files",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "netapp.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "id": "netapp.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            }
          },
          "resources": {
            "activeDirectories": {
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "ActiveDirectory"
                  },
                  "description": "Update the parameters of an active directories.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories/{activeDirectoriesId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/activeDirectories/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Active Directory resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "netapp.projects.locations.activeDirectories.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories/{activeDirectoriesId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the active directory.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/activeDirectories/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ActiveDirectory"
                  },
                  "path": "v1/{+name}",
                  "description": "Describes a specified active directory.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.activeDirectories.get"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.activeDirectories.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "Filtering results",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent value for ListActiveDirectoriesRequest",
                      "location": "path"
                    },
                    "orderBy": {
                      "description": "Hint for how to order the results",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListActiveDirectoriesResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories",
                  "path": "v1/{+parent}/activeDirectories",
                  "description": "Lists active directories."
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Value for parent.",
                      "location": "path",
                      "type": "string"
                    },
                    "activeDirectoryId": {
                      "location": "query",
                      "description": "Required. ID of the active directory to create. Must be unique within the parent resource. Must contain only letters, numbers and hyphen, with the first character a letter , the last a letter or a number, and a 63 character maximum.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ActiveDirectory"
                  },
                  "description": "CreateActiveDirectory Creates the active directory specified in the request.",
                  "path": "v1/{+parent}/activeDirectories",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.activeDirectories.create"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/activeDirectories/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the active directory."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories/{activeDirectoriesId}",
                  "description": "Delete the active directory specified in the request.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.activeDirectories.delete"
                }
              }
            },
            "kmsConfigs": {
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "KmsConfig"
                  },
                  "description": "Updates the Kms config properties with the full spec",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Identifier. Name of the `KmsConfig`. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/kmsConfigs/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the KmsConfig resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs/{kmsConfigsId}",
                  "id": "netapp.projects.locations.kmsConfigs.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v1/{+name}",
                  "description": "Returns the description of the specified KMS config by kms_config_id.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the KmsConfig",
                      "pattern": "^projects/[^/]+/locations/[^/]+/kmsConfigs/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "KmsConfig"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs/{kmsConfigsId}",
                  "id": "netapp.projects.locations.kmsConfigs.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Value for parent.",
                      "type": "string"
                    },
                    "kmsConfigId": {
                      "description": "Required. Id of the requesting KmsConfig. Must be unique within the parent resource. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs",
                  "path": "v1/{+parent}/kmsConfigs",
                  "request": {
                    "$ref": "KmsConfig"
                  },
                  "description": "Creates a new KMS config.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.kmsConfigs.create"
                },
                "verify": {
                  "request": {
                    "$ref": "VerifyKmsConfigRequest"
                  },
                  "description": "Verifies KMS config reachability.",
                  "path": "v1/{+name}:verify",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs/{kmsConfigsId}:verify",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/kmsConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the KMS Config to be verified."
                    }
                  },
                  "response": {
                    "$ref": "VerifyKmsConfigResponse"
                  },
                  "httpMethod": "POST",
                  "id": "netapp.projects.locations.kmsConfigs.verify",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.kmsConfigs.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Parent value",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of items to return."
                    },
                    "filter": {
                      "location": "query",
                      "description": "List filter.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListKmsConfigsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs",
                  "path": "v1/{+parent}/kmsConfigs",
                  "description": "Returns descriptions of all KMS configs owned by the caller."
                },
                "encrypt": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs/{kmsConfigsId}:encrypt",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the KmsConfig.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/kmsConfigs/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:encrypt",
                  "request": {
                    "$ref": "EncryptVolumesRequest"
                  },
                  "description": "Encrypt the existing volumes without CMEK encryption with the desired the KMS config for the whole region.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.kmsConfigs.encrypt"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs/{kmsConfigsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/kmsConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the KmsConfig."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "description": "Warning! This operation will permanently delete the Kms config.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.kmsConfigs.delete"
                }
              }
            },
            "hostGroups": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/hostGroups",
                  "description": "Returns a list of host groups in a `location`. Use `-` as location to list host groups across all locations.",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter to apply to the request.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Parent value for ListHostGroupsRequest"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListHostGroupsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/hostGroups",
                  "id": "netapp.projects.locations.hostGroups.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.hostGroups.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/hostGroups",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Parent value for CreateHostGroupRequest",
                      "type": "string"
                    },
                    "hostGroupId": {
                      "description": "Required. ID of the host group to create. Must be unique within the parent resource. Must contain only letters, numbers, and hyphen, with the first character a letter or underscore, the last a letter or underscore or a number, and a 63 character maximum.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/hostGroups",
                  "request": {
                    "$ref": "HostGroup"
                  },
                  "description": "Creates a new host group."
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/hostGroups/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/hostGroups/{hostGroupsId}",
                  "description": "Deletes a host group.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.hostGroups.delete"
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "description": "Identifier. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/hostGroups/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. The list of fields to update.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/hostGroups/{hostGroupsId}",
                  "request": {
                    "$ref": "HostGroup"
                  },
                  "description": "Updates an existing host group.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.hostGroups.patch"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/hostGroups/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "HostGroup"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/hostGroups/{hostGroupsId}",
                  "path": "v1/{+name}",
                  "description": "Returns details of the specified host group.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.hostGroups.get"
                }
              }
            },
            "storagePools": {
              "methods": {
                "restoreVolume": {
                  "id": "netapp.projects.locations.storagePools.restoreVolume",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "RestoreVolumeRequest"
                  },
                  "description": "Restores a backup to an ONTAP-mode volume.",
                  "path": "v1/{+name}:restoreVolume",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}:restoreVolume",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the ONTAP mode storage pool, in the format of `projects/{project}/locations/{location}/storagePools/{storage_pool}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.storagePools.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the storage pool"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "description": "Warning! This operation will permanently delete the storage pool.",
                  "path": "v1/{+name}"
                },
                "validateDirectoryService": {
                  "request": {
                    "$ref": "ValidateDirectoryServiceRequest"
                  },
                  "description": "ValidateDirectoryService does a connectivity check for a directory service policy attached to the storage pool.",
                  "path": "v1/{+name}:validateDirectoryService",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the storage pool",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}:validateDirectoryService",
                  "id": "netapp.projects.locations.storagePools.validateDirectoryService",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "updateBackupConfig": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.storagePools.updateBackupConfig",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}:updateBackupConfig",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the StoragePool, in the format: projects/{projectNumber}/locations/{locationId}/storagePools/{poolId}"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "UpdateBackupConfigRequest"
                  },
                  "description": "Updates the backup configuration for an ONTAP-mode volume.",
                  "path": "v1/{+name}:updateBackupConfig"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the storage pool",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "StoragePool"
                  },
                  "httpMethod": "GET",
                  "description": "Returns the description of the specified storage pool by poolId.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.storagePools.get"
                },
                "patch": {
                  "request": {
                    "$ref": "StoragePool"
                  },
                  "description": "Updates the storage pool properties with the full spec",
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the StoragePool resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. Name of the storage pool",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}",
                  "id": "netapp.projects.locations.storagePools.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "id": "netapp.projects.locations.storagePools.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/storagePools",
                  "description": "Returns descriptions of all storage pools owned by the caller.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. Parent value",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return.",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. List filter."
                    }
                  },
                  "response": {
                    "$ref": "ListStoragePoolsResponse"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Value for parent.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "storagePoolId": {
                      "type": "string",
                      "description": "Required. Id of the requesting storage pool. Must be unique within the parent resource. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools",
                  "path": "v1/{+parent}/storagePools",
                  "request": {
                    "$ref": "StoragePool"
                  },
                  "description": "Creates a new storage pool.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.storagePools.create"
                },
                "switch": {
                  "id": "netapp.projects.locations.storagePools.switch",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "SwitchActiveReplicaZoneRequest"
                  },
                  "description": "This operation will switch the active/replica zone for a regional storagePool.",
                  "path": "v1/{+name}:switch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}:switch",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the storage pool",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "backupConfigs": {
                  "methods": {
                    "list": {
                      "id": "netapp.projects.locations.storagePools.backupConfigs.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists backup configurations for all volumes in an ONTAP-mode Storage Pool.",
                      "path": "v1/{+parent}/backupConfigs",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The next_page_token value to use if there are additional results to retrieve for this list request.",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The ONTAP StoragePool for which to retrieve backup configuration information, in the format `projects/{project}/locations/{location}/storagePools/{storage_pool}`.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+$",
                          "required": true
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Sort results. Supported values are \"volume_id\" or \"\""
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of items to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000. If unspecified or set to 0, a default of 50 will be used.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The standard list filter."
                        }
                      },
                      "response": {
                        "$ref": "ListBackupConfigsResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}/backupConfigs"
                    }
                  }
                },
                "ontap": {
                  "methods": {
                    "executeOntapPost": {
                      "request": {
                        "$ref": "ExecuteOntapPostRequest"
                      },
                      "description": "`ExecuteOntapPost` sends the ONTAP `POST` request to the `StoragePool` cluster.",
                      "path": "v1/{+ontapPath}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}/ontap/{ontapId}",
                      "parameters": {
                        "ontapPath": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+/ontap/.*$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The path of the ONTAP resource. Format: `projects/{project_number}/locations/{location_id}/storagePools/{storage_pool_id}/ontap/{ontap_resource_path}`. For example: `projects/123456789/locations/us-central1/storagePools/my-storage-pool/ontap/api/storage/volumes`.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ExecuteOntapPostResponse"
                      },
                      "httpMethod": "POST",
                      "id": "netapp.projects.locations.storagePools.ontap.executeOntapPost",
                      "parameterOrder": [
                        "ontapPath"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "executeOntapDelete": {
                      "description": "`ExecuteOntapDelete` sends the ONTAP `DELETE` request to the `StoragePool` cluster.",
                      "path": "v1/{+ontapPath}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}/ontap/{ontapId}",
                      "parameters": {
                        "ontapPath": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+/ontap/.*$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource path of the ONTAP resource. Format: `projects/{project_number}/locations/{location_id}/storagePools/{storage_pool_id}/ontap/{ontap_resource_path}`. For example: `projects/123456789/locations/us-central1/storagePools/my-storage-pool/ontap/api/storage/volumes`.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "ExecuteOntapDeleteResponse"
                      },
                      "httpMethod": "DELETE",
                      "id": "netapp.projects.locations.storagePools.ontap.executeOntapDelete",
                      "parameterOrder": [
                        "ontapPath"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "executeOntapGet": {
                      "parameters": {
                        "ontapPath": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+/ontap/.*$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource path of the ONTAP resource. Format: `projects/{project_number}/locations/{location_id}/storagePools/{storage_pool_id}/ontap/{ontap_resource_path}`. For example: `projects/123456789/locations/us-central1/storagePools/my-storage-pool/ontap/api/storage/volumes`."
                        }
                      },
                      "response": {
                        "$ref": "ExecuteOntapGetResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}/ontap/{ontapId}",
                      "description": "`ExecuteOntapGet` sends the ONTAP `GET` request to the `StoragePool` cluster.",
                      "path": "v1/{+ontapPath}",
                      "parameterOrder": [
                        "ontapPath"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.storagePools.ontap.executeOntapGet"
                    },
                    "executeOntapPatch": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/storagePools/{storagePoolsId}/ontap/{ontapId}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "ontapPath": {
                          "description": "Required. The resource path of the ONTAP resource. Format: `projects/{project_number}/locations/{location_id}/storagePools/{storage_pool_id}/ontap/{ontap_resource_path}`. For example: `projects/123456789/locations/us-central1/storagePools/my-storage-pool/ontap/api/storage/volumes`.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/storagePools/[^/]+/ontap/.*$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "ExecuteOntapPatchResponse"
                      },
                      "path": "v1/{+ontapPath}",
                      "request": {
                        "$ref": "ExecuteOntapPatchRequest"
                      },
                      "description": "`ExecuteOntapPatch` sends the ONTAP `PATCH` request to the `StoragePool` cluster.",
                      "parameterOrder": [
                        "ontapPath"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.storagePools.ontap.executeOntapPatch"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "netapp.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "netapp.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1/{+name}:cancel"
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "netapp.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "volumes": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.volumes.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Value for parent.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "volumeId": {
                      "description": "Required. Id of the requesting volume. Must be unique within the parent resource. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes",
                  "path": "v1/{+parent}/volumes",
                  "request": {
                    "$ref": "Volume"
                  },
                  "description": "Creates a new Volume in a given project and location."
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.volumes.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Parent value for ListVolumesRequest",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Hint for how to order the results"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Filtering results",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListVolumesResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists Volumes in a given project.",
                  "path": "v1/{+parent}/volumes"
                },
                "delete": {
                  "id": "netapp.projects.locations.volumes.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single Volume.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the volume",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "required": true
                    },
                    "force": {
                      "description": "If this field is set as true, CCFE will not block the volume resource deletion even if it has any snapshots resource. (Otherwise, the request will only work if the volume has no snapshots.)",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE"
                },
                "revert": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the volume, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:revert",
                  "path": "v1/{+name}:revert",
                  "request": {
                    "$ref": "RevertVolumeRequest"
                  },
                  "description": "Revert an existing volume to a specified snapshot. Warning! This operation will permanently revert all changes made after the snapshot was created.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.volumes.revert"
                },
                "establishPeering": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The volume resource name, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:establishPeering",
                  "path": "v1/{+name}:establishPeering",
                  "request": {
                    "$ref": "EstablishVolumePeeringRequest"
                  },
                  "description": "Establish volume peering. This is used to establish cluster and svm peerings between the GCNV and OnPrem clusters.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.volumes.establishPeering"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.volumes.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Identifier. Name of the volume",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Volume resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Volume"
                  },
                  "description": "Updates the parameters of a single Volume.",
                  "path": "v1/{+name}"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.volumes.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the volume",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Volume"
                  },
                  "path": "v1/{+name}",
                  "description": "Gets details of a single Volume."
                },
                "restore": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.volumes.restore",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:restore",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The volume resource name, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:restore",
                  "request": {
                    "$ref": "RestoreBackupFilesRequest"
                  },
                  "description": "Restore files from a backup to a volume."
                }
              },
              "resources": {
                "replications": {
                  "methods": {
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.replications.delete",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The replication resource name, in the format `projects/*/locations/*/volumes/*/replications/{replication_id}`",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}",
                      "path": "v1/{+name}",
                      "description": "Deletes a replication."
                    },
                    "establishPeering": {
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:establishPeering",
                      "path": "v1/{+name}:establishPeering",
                      "request": {
                        "$ref": "EstablishPeeringRequest"
                      },
                      "description": "Establish replication peering.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.replications.establishPeering"
                    },
                    "sync": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.replications.sync",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:sync",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "SyncReplicationRequest"
                      },
                      "description": "Syncs the replication. This will invoke one time volume data transfer from source to destination.",
                      "path": "v1/{+name}:sync"
                    },
                    "reverseDirection": {
                      "id": "netapp.projects.locations.volumes.replications.reverseDirection",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:reverseDirection",
                      "request": {
                        "$ref": "ReverseReplicationDirectionRequest"
                      },
                      "description": "Reverses direction of replication. Source becomes destination and destination becomes source.",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:reverseDirection"
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.replications.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The NetApp volume to create the replications of, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`",
                          "type": "string"
                        },
                        "replicationId": {
                          "description": "Required. ID of the replication to create. Must be unique within the parent resource. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Replication"
                      },
                      "description": "Create a new replication for a volume.",
                      "path": "v1/{+parent}/replications"
                    },
                    "list": {
                      "description": "Returns descriptions of all replications for a volume.",
                      "path": "v1/{+parent}/replications",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of items to return.",
                          "type": "integer"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "List filter."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The next_page_token value to use if there are additional results to retrieve for this list request."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The volume for which to retrieve replication information, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`."
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListReplicationsResponse"
                      },
                      "httpMethod": "GET",
                      "id": "netapp.projects.locations.volumes.replications.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "stop": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.replications.stop",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:stop",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}:stop",
                      "request": {
                        "$ref": "StopReplicationRequest"
                      },
                      "description": "Stop Cross Region Replication."
                    },
                    "resume": {
                      "request": {
                        "$ref": "ResumeReplicationRequest"
                      },
                      "description": "Resume Cross Region Replication.",
                      "path": "v1/{+name}:resume",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:resume",
                      "id": "netapp.projects.locations.volumes.replications.resume",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field.",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "PATCH",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}",
                      "request": {
                        "$ref": "Replication"
                      },
                      "description": "Updates the settings of a specific replication.",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.replications.patch"
                    },
                    "get": {
                      "id": "netapp.projects.locations.volumes.replications.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "description": "Describe a replication for a volume.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The replication resource name, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Replication"
                      }
                    }
                  }
                },
                "quotaRules": {
                  "methods": {
                    "list": {
                      "path": "v1/{+parent}/quotaRules",
                      "description": "Returns list of all quota rules in a location.",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. Parent value for ListQuotaRulesRequest",
                          "type": "string"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Hint for how to order the results",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filtering results",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListQuotaRulesResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules",
                      "id": "netapp.projects.locations.volumes.quotaRules.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "required": true,
                          "description": "Required. Parent value for CreateQuotaRuleRequest",
                          "location": "path",
                          "type": "string"
                        },
                        "quotaRuleId": {
                          "description": "Required. ID of the quota rule to create. Must be unique within the parent resource. Must contain only letters, numbers, underscore and hyphen, with the first character a letter or underscore, the last a letter or underscore or a number, and a 63 character maximum.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+parent}/quotaRules",
                      "request": {
                        "$ref": "QuotaRule"
                      },
                      "description": "Creates a new quota rule.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.quotaRules.create"
                    },
                    "delete": {
                      "path": "v1/{+name}",
                      "description": "Deletes a quota rule.",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/quotaRules/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the quota rule.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules/{quotaRulesId}",
                      "id": "netapp.projects.locations.volumes.quotaRules.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.quotaRules.patch",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Quota Rule resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/quotaRules/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "PATCH",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules/{quotaRulesId}",
                      "request": {
                        "$ref": "QuotaRule"
                      },
                      "description": "Updates a quota rule.",
                      "path": "v1/{+name}"
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules/{quotaRulesId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the quota rule",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/quotaRules/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "QuotaRule"
                      },
                      "path": "v1/{+name}",
                      "description": "Returns details of the specified quota rule.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.quotaRules.get"
                    }
                  }
                },
                "snapshots": {
                  "methods": {
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots/{snapshotsId}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/snapshots/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Identifier. The resource name of the snapshot. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`.",
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field."
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "Snapshot"
                      },
                      "description": "Updates the settings of a specific snapshot.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.snapshots.patch"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/snapshots/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The snapshot resource name, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Snapshot"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots/{snapshotsId}",
                      "description": "Describe a snapshot for a volume.",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.snapshots.get"
                    },
                    "create": {
                      "id": "netapp.projects.locations.volumes.snapshots.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/snapshots",
                      "request": {
                        "$ref": "Snapshot"
                      },
                      "description": "Create a new snapshot for a volume.",
[...]
