{
  "version_module": true,
  "basePath": "",
  "revision": "20260802",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/netapp/",
  "baseUrl": "https://netapp.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "endpoints": [
    {
      "location": "africa-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.africa-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://netapp.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.asia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://netapp.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://netapp.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-southwest1.rep.googleapis.com/"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://netapp.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west2.rep.googleapis.com/"
    },
    {
      "location": "europe-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west3.rep.googleapis.com/"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west4.rep.googleapis.com/"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west6.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://netapp.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.me-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://netapp.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "location": "northamerica-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.northamerica-south1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.southamerica-east1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.southamerica-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://netapp.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-east4.rep.googleapis.com/"
    },
    {
      "location": "us-east5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-east5.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://netapp.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-south1.rep.googleapis.com/"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://netapp.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    }
  ],
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "netapp.projects.locations.list",
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+name}/locations"
            },
            "get": {
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "netapp.projects.locations.get",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "kmsConfigs": {
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "KmsConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.kmsConfigs.patch",
                  "parameters": {
                    "name": {
                      "description": "Identifier. Name of the `KmsConfig`. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/kmsConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the KmsConfig resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs/{kmsConfigsId}",
                  "description": "Updates the Kms config properties with the full spec"
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs/{kmsConfigsId}",
                  "description": "Returns the description of the specified KMS config by kms_config_id.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.kmsConfigs.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/kmsConfigs/[^/]+$",
                      "description": "Required. Name of the KmsConfig",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "KmsConfig"
                  }
                },
                "create": {
                  "description": "Creates a new KMS config.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "netapp.projects.locations.kmsConfigs.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. Value for parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "kmsConfigId": {
                      "description": "Required. Id of the requesting KmsConfig. Must be unique within the parent resource. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "KmsConfig"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/kmsConfigs"
                },
                "encrypt": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.kmsConfigs.encrypt",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the KmsConfig.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/kmsConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Encrypt the existing volumes without CMEK encryption with the desired the KMS config for the whole region.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs/{kmsConfigsId}:encrypt",
                  "path": "v1/{+name}:encrypt",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "EncryptVolumesRequest"
                  }
                },
                "verify": {
                  "id": "netapp.projects.locations.kmsConfigs.verify",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/kmsConfigs/[^/]+$",
                      "description": "Required. Name of the KMS Config to be verified."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "VerifyKmsConfigResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs/{kmsConfigsId}:verify",
                  "description": "Verifies KMS config reachability.",
                  "path": "v1/{+name}:verify",
                  "request": {
                    "$ref": "VerifyKmsConfigRequest"
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "path": "v1/{+parent}/kmsConfigs",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.kmsConfigs.list",
                  "parameters": {
                    "pageToken": {
                      "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "List filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListKmsConfigsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs",
                  "description": "Returns descriptions of all KMS configs owned by the caller."
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs/{kmsConfigsId}",
                  "description": "Warning! This operation will permanently delete the Kms config.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.kmsConfigs.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the KmsConfig.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/kmsConfigs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}"
                }
              }
            },
            "backupPolicies": {
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "BackupPolicy"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "netapp.projects.locations.backupPolicies.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupPolicies/[^/]+$",
                      "description": "Identifier. The resource name of the backup policy. Format: `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`."
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Backup Policy resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates settings of a specific backup policy.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupPolicies/{backupPoliciesId}"
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupPolicies/{backupPoliciesId}",
                  "description": "Returns the description of the specified backup policy by backup_policy_id.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.backupPolicies.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupPolicies/[^/]+$",
                      "description": "Required. The backupPolicy resource name, in the format `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "BackupPolicy"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.backupPolicies.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The location to create the backup policies of, in the format `projects/{project_id}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "backupPolicyId": {
                      "description": "Required. The ID to use for the backup policy. The ID must be unique within the specified location. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Creates new backup policy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupPolicies",
                  "path": "v1/{+parent}/backupPolicies",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BackupPolicy"
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupPolicies",
                  "description": "Returns list of all available backup policies.",
                  "id": "netapp.projects.locations.backupPolicies.list",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filtering results",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Hint for how to order the results",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for ListBackupPoliciesRequest"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListBackupPoliciesResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/backupPolicies"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.backupPolicies.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The backup policy resource name, in the format `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupPolicies/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupPolicies/{backupPoliciesId}",
                  "description": "Warning! This operation will permanently delete the backup policy."
                }
              }
            },
            "volumes": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Volume"
                  },
                  "id": "netapp.projects.locations.volumes.get",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the volume",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single Volume.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}"
                },
                "startSplit": {
                  "path": "v1/{+name}:startSplit",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "StartSplitRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.volumes.startSplit",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "description": "Required. The full name of the clone volume to be split from its source. Format: projects/{project_number}/locations/{location}/volumes/{volume_id}"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:startSplit",
                  "description": "Splits a clone volume from its source volume. This operation will only work for volumes which have clone_details set(clones). For volumes that are not clones, this operation will return an error."
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "description": "Deletes a single Volume.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.volumes.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the volume",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$"
                    },
                    "force": {
                      "description": "If this field is set as true, CCFE will not block the volume resource deletion even if it has any snapshots resource. (Otherwise, the request will only work if the volume has no snapshots.)",
                      "location": "query",
                      "type": "boolean"
                    }
                  }
                },
                "revert": {
                  "description": "Revert an existing volume to a specified snapshot. Warning! This operation will permanently revert all changes made after the snapshot was created.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:revert",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.volumes.revert",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "description": "Required. The resource name of the volume, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}."
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RevertVolumeRequest"
                  },
                  "path": "v1/{+name}:revert"
                },
                "establishPeering": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:establishPeering",
                  "description": "Establish volume peering. This is used to establish cluster and svm peerings between the GCNV and OnPrem clusters.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.volumes.establishPeering",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "description": "Required. The volume resource name, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "EstablishVolumePeeringRequest"
                  },
                  "path": "v1/{+name}:establishPeering"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Volume"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.volumes.patch",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "description": "Identifier. Name of the volume",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Volume resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Updates the parameters of a single Volume.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}"
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/volumes",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes",
                  "description": "Lists Volumes in a given project.",
                  "id": "netapp.projects.locations.volumes.list",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for ListVolumesRequest"
                    },
                    "filter": {
                      "description": "Filtering results",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Hint for how to order the results",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListVolumesResponse"
                  }
                },
                "getSplitStatus": {
                  "path": "v1/{+name}:getSplitStatus",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.volumes.getSplitStatus",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The full name of the volume. Format: projects/{project_number}/locations/{location}/volumes/{volume_id}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "SplitStatus"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:getSplitStatus",
                  "description": "Retrieves the current state, progress, and details of a split operation for a volume. This method is relevant when the volume is a clone. For volumes that are not clones, this method will return an error."
                },
                "restore": {
                  "path": "v1/{+name}:restore",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RestoreBackupFilesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.volumes.restore",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "description": "Required. The volume resource name, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:restore",
                  "description": "Restore files from a backup to a volume."
                },
                "create": {
                  "path": "v1/{+parent}/volumes",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Volume"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.volumes.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Value for parent.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "volumeId": {
                      "description": "Required. Id of the requesting volume. Must be unique within the parent resource. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new Volume in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes"
                }
              },
              "resources": {
                "replications": {
                  "methods": {
                    "create": {
                      "request": {
                        "$ref": "Replication"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/replications",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications",
                      "description": "Create a new replication for a volume.",
                      "id": "netapp.projects.locations.volumes.replications.create",
                      "parameters": {
                        "replicationId": {
                          "type": "string",
                          "description": "Required. ID of the replication to create. Must be unique within the parent resource. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "description": "Required. The NetApp volume to create the replications of, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications",
                      "description": "Returns descriptions of all replications for a volume.",
                      "id": "netapp.projects.locations.volumes.replications.list",
                      "parameters": {
                        "pageSize": {
                          "description": "The maximum number of items to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "orderBy": {
                          "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "List filter.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The volume for which to retrieve replication information, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListReplicationsResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/replications"
                    },
                    "reverseDirection": {
                      "id": "netapp.projects.locations.volumes.replications.reverseDirection",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:reverseDirection",
                      "description": "Reverses direction of replication. Source becomes destination and destination becomes source.",
                      "path": "v1/{+name}:reverseDirection",
                      "request": {
                        "$ref": "ReverseReplicationDirectionRequest"
                      },
                      "httpMethod": "POST"
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.replications.patch",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}",
                      "description": "Updates the settings of a specific replication.",
                      "path": "v1/{+name}",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "Replication"
                      }
                    },
                    "stop": {
                      "description": "Stop Cross Region Replication.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:stop",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.replications.stop",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "StopReplicationRequest"
                      },
                      "path": "v1/{+name}:stop"
                    },
                    "resume": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "netapp.projects.locations.volumes.replications.resume",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Resume Cross Region Replication.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:resume",
                      "path": "v1/{+name}:resume",
                      "request": {
                        "$ref": "ResumeReplicationRequest"
                      },
                      "httpMethod": "POST"
                    },
                    "establishPeering": {
                      "description": "Establish replication peering.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:establishPeering",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "netapp.projects.locations.volumes.replications.establishPeering",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "EstablishPeeringRequest"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+name}:establishPeering"
                    },
                    "delete": {
                      "description": "Deletes a replication.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "netapp.projects.locations.volumes.replications.delete",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "description": "Required. The replication resource name, in the format `projects/*/locations/*/volumes/*/replications/{replication_id}`"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}"
                    },
                    "sync": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.replications.sync",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Syncs the replication. This will invoke one time volume data transfer from source to destination.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:sync",
                      "path": "v1/{+name}:sync",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "SyncReplicationRequest"
                      }
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "id": "netapp.projects.locations.volumes.replications.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "description": "Required. The replication resource name, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Replication"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}",
                      "description": "Describe a replication for a volume."
                    }
                  }
                },
                "snapshots": {
                  "methods": {
                    "list": {
                      "path": "v1/{+parent}/snapshots",
                      "httpMethod": "GET",
                      "id": "netapp.projects.locations.volumes.snapshots.list",
                      "parameters": {
                        "pageToken": {
                          "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The volume for which to retrieve snapshot information, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "orderBy": {
                          "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "List filter.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The maximum number of items to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots",
                      "description": "Returns descriptions of all snapshots for a volume."
                    },
                    "delete": {
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "netapp.projects.locations.volumes.snapshots.delete",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The snapshot resource name, in the format `projects/*/locations/*/volumes/*/snapshots/{snapshot_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/snapshots/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a snapshot.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots/{snapshotsId}"
                    },
                    "create": {
                      "path": "v1/{+parent}/snapshots",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Snapshot"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.snapshots.create",
                      "parameters": {
                        "parent": {
                          "description": "Required. The NetApp volume to create the snapshots of, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "snapshotId": {
                          "type": "string",
                          "description": "Required. ID of the snapshot to create. Must be unique within the parent resource. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                          "location": "query"
                        }
                      },
                      "description": "Create a new snapshot for a volume.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Snapshot"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.snapshots.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/snapshots/[^/]+$",
                          "description": "Required. The snapshot resource name, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`"
                        }
                      },
                      "description": "Describe a snapshot for a volume.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots/{snapshotsId}",
                      "path": "v1/{+name}",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.snapshots.patch",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/snapshots/[^/]+$",
                          "description": "Identifier. The resource name of the snapshot. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`."
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots/{snapshotsId}",
                      "description": "Updates the settings of a specific snapshot.",
                      "path": "v1/{+name}",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "Snapshot"
                      }
                    }
                  }
                },
                "quotaRules": {
                  "methods": {
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules/{quotaRulesId}",
                      "description": "Updates a quota rule.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.quotaRules.patch",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/quotaRules/[^/]+$",
                          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`."
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Quota Rule resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "QuotaRule"
                      },
                      "path": "v1/{+name}"
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules/{quotaRulesId}",
                      "description": "Returns details of the specified quota rule.",
                      "id": "netapp.projects.locations.volumes.quotaRules.get",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the quota rule",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/quotaRules/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "QuotaRule"
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+name}"
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules",
                      "description": "Creates a new quota rule.",
                      "id": "netapp.projects.locations.volumes.quotaRules.create",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "description": "Required. Parent value for CreateQuotaRuleRequest",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "quotaRuleId": {
                          "description": "Required. ID of the quota rule to create. Must be unique within the parent resource. Must contain only letters, numbers, underscore and hyphen, with the first character a letter or underscore, the last a letter or underscore or a number, and a 63 character maximum.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "QuotaRule"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/quotaRules"
                    },
                    "list": {
                      "path": "v1/{+parent}/quotaRules",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListQuotaRulesResponse"
                      },
                      "id": "netapp.projects.locations.volumes.quotaRules.list",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Parent value for ListQuotaRulesRequest",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. Filtering results",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns list of all quota rules in a location.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules"
                    },
                    "delete": {
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.quotaRules.delete",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/quotaRules/[^/]+$",
                          "description": "Required. Name of the quota rule."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules/{quotaRulesId}",
                      "description": "Deletes a quota rule."
                    }
                  }
                }
              }
            },
            "activeDirectories": {
              "methods": {
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.activeDirectories.patch",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/activeDirectories/[^/]+$",
                      "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`."
                    },
                    "updateMask": {
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Active Directory resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Update the parameters of an active directories.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories/{activeDirectoriesId}",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "ActiveDirectory"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories/{activeDirectoriesId}",
                  "description": "Describes a specified active directory.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.activeDirectories.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/activeDirectories/[^/]+$",
                      "description": "Required. Name of the active directory.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ActiveDirectory"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "netapp.projects.locations.activeDirectories.create",
                  "parameters": {
                    "activeDirectoryId": {
                      "description": "Required. ID of the active directory to create. Must be unique within the parent resource. Must contain only letters, numbers and hyphen, with the first character a letter , the last a letter or a number, and a 63 character maximum.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Value for parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "CreateActiveDirectory Creates the active directory specified in the request.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories",
                  "path": "v1/{+parent}/activeDirectories",
                  "request": {
                    "$ref": "ActiveDirectory"
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "path": "v1/{+parent}/activeDirectories",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.activeDirectories.list",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Filtering results",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Hint for how to order the results",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for ListActiveDirectoriesRequest",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListActiveDirectoriesResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories",
                  "description": "Lists active directories."
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "description": "Delete the active directory specified in the request.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories/{activeDirectoriesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "netapp.projects.locations.activeDirectories.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the active directory.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/activeDirectories/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.operations.list",
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "id": "netapp.projects.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  }
                },
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1/{+name}:cancel"
                }
              }
            },
            "backupVaults": {
              "methods": {
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}",
                  "description": "Updates the settings of a specific backup vault.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.backupVaults.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. The resource name of the backup vault. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$"
                    },
                    "updateMask": {
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Backup resource to be updated. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "BackupVault"
                  },
                  "path": "v1/{+name}"
                },
                "get": {
                  "id": "netapp.projects.locations.backupVaults.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$",
                      "description": "Required. The backupVault resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "BackupVault"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}",
                  "description": "Returns the description of the specified backup vault",
                  "path": "v1/{+name}",
                  "httpMethod": "GET"
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults",
                  "description": "Creates new backup vault",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.backupVaults.create",
                  "parameters": {
                    "backupVaultId": {
                      "type": "string",
                      "description": "Required. The ID to use for the backupVault. The ID must be unique within the specified location. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The location to create the backup vaults, in the format `projects/{project_id}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BackupVault"
                  },
                  "path": "v1/{+parent}/backupVaults"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListBackupVaultsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.backupVaults.list",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The location for which to retrieve backupVault information, in the format `projects/{project_id}/locations/{location}`."
                    },
                    "pageToken": {
                      "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                      "location": "query"
                    },
                    "filter": {
                      "description": "List filter.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Returns list of all available backup vaults.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults",
                  "path": "v1/{+parent}/backupVaults",
                  "httpMethod": "GET"
                },
                "delete": {
                  "description": "Warning! This operation will permanently delete the backup vault.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}",
[...]
