{
  "version_module": true,
  "servicePath": "",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://netapp.googleapis.com/",
  "id": "netapp:v1",
  "discoveryVersion": "v1",
  "canonicalName": "NetApp Files",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "title": "NetApp API",
  "name": "netapp",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://netapp.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://netapp.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://netapp.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://netapp.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://netapp.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://netapp.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://netapp.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://netapp.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://netapp.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://netapp.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://netapp.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://netapp.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://netapp.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://netapp.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://netapp.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://netapp.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://netapp.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://netapp.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://netapp.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://netapp.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://netapp.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://netapp.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://netapp.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://netapp.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://netapp.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://netapp.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://netapp.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://netapp.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://netapp.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://netapp.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://netapp.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    }
  ],
  "parameters": {
    "alt": {
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "ListVolumesResponse": {
      "id": "ListVolumesResponse",
      "type": "object",
      "properties": {
        "volumes": {
          "description": "The list of Volume",
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Message for response to listing Volumes"
    },
    "ListBackupsResponse": {
      "type": "object",
      "id": "ListBackupsResponse",
      "description": "ListBackupsResponse is the result of ListBackupsRequest.",
      "properties": {
        "backups": {
          "description": "A list of backups in the project.",
          "items": {
            "$ref": "Backup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "Snapshot": {
      "id": "Snapshot",
      "description": "Snapshot is a point-in-time version of a Volume's content.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata.",
          "type": "object"
        },
        "name": {
          "description": "Identifier. The resource name of the snapshot. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "DISABLED",
            "ERROR"
          ],
          "type": "string",
          "description": "Output only. The snapshot state.",
          "enumDescriptions": [
            "Unspecified Snapshot State",
            "Snapshot State is Ready",
            "Snapshot State is Creating",
            "Snapshot State is Deleting",
            "Snapshot State is Updating",
            "Snapshot State is Disabled",
            "Snapshot State is Error"
          ],
          "readOnly": true
        },
        "stateDetails": {
          "description": "Output only. State details of the storage pool",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "A description of the snapshot with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "usedBytes": {
          "readOnly": true,
          "description": "Output only. Current storage usage for the snapshot in bytes.",
          "type": "number",
          "format": "double"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the snapshot was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "MonthlySchedule": {
      "description": "Make a snapshot once a month e.g. at 2nd 04:00, 7th 05:20, 24th 23:50",
      "type": "object",
      "id": "MonthlySchedule",
      "properties": {
        "snapshotsToKeep": {
          "type": "number",
          "format": "double",
          "description": "The maximum number of Snapshots to keep for the hourly schedule"
        },
        "minute": {
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number"
        },
        "daysOfMonth": {
          "type": "string",
          "description": "Set the day or days of the month to make a snapshot (1-31). Accepts a comma separated number of days. Defaults to '1'."
        },
        "hour": {
          "type": "number",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "format": "double"
        }
      }
    },
    "SimpleExportPolicyRule": {
      "properties": {
        "nfsv3": {
          "description": "NFS V3 protocol.",
          "type": "boolean"
        },
        "squashMode": {
          "enumDescriptions": [
            "Defaults to `NO_ROOT_SQUASH`.",
            "The root user (UID 0) retains full access. Other users are unaffected.",
            "The root user (UID 0) is squashed to anonymous user ID. Other users are unaffected.",
            "All users are squashed to anonymous user ID."
          ],
          "type": "string",
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH",
            "ALL_SQUASH"
          ],
          "description": "Optional. Defines how user identity squashing is applied for this export rule. This field is the preferred way to configure squashing behavior and takes precedence over `has_root_access` if both are provided."
        },
        "accessType": {
          "description": "Access type (ReadWrite, ReadOnly, None)",
          "enumDescriptions": [
            "Unspecified Access Type",
            "Read Only",
            "Read Write",
            "None"
          ],
          "type": "string",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "READ_NONE"
          ]
        },
        "kerberos5iReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode."
        },
        "kerberos5pReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode."
        },
        "kerberos5ReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode. The 'kerberos5ReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "kerberos5iReadWrite": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode. The 'kerberos5iReadOnly' value be ignored if this is enabled."
        },
        "hasRootAccess": {
          "description": "Whether Unix root access will be granted.",
          "type": "string"
        },
        "allowedClients": {
          "description": "Comma separated list of allowed clients IP addresses",
          "type": "string"
        },
        "anonUid": {
          "type": "string",
          "description": "Optional. An integer representing the anonymous user ID. Range is 0 to `4294967295`. Required when `squash_mode` is `ROOT_SQUASH` or `ALL_SQUASH`.",
          "format": "int64"
        },
        "nfsv4": {
          "description": "NFS V4 protocol.",
          "type": "boolean"
        },
        "kerberos5pReadWrite": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode. The 'kerberos5pReadOnly' value be ignored if this is enabled."
        },
        "kerberos5ReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode."
        }
      },
      "type": "object",
      "id": "SimpleExportPolicyRule",
      "description": "An export policy rule describing various export options."
    },
    "LargeCapacityConfig": {
      "description": "Configuration for a Large Capacity Volume. A Large Capacity Volume supports sizes ranging from 4.8 TiB to 20 PiB; it is composed of multiple internal constituents, and must be created in a large capacity pool.",
      "id": "LargeCapacityConfig",
      "type": "object",
      "properties": {
        "constituentCount": {
          "description": "Optional. The number of internal constituents (e.g., FlexVols) for this large volume. The minimum number of constituents is 2.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SplitStatus": {
      "type": "object",
      "properties": {
        "stateDetails": {
          "description": "Output only. Human-readable details about the current state. Mostly used for displaying error messages during split failure Examples: \"Split in progress\", \"Error: insufficient capacity\".",
          "type": "string",
          "readOnly": true
        },
        "progressPercent": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The estimated progress percentage of the split operation (0-100). This is meaningful primarily when split_state is IN_PROGRESS."
        },
        "splitState": {
          "type": "string",
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "readOnly": true,
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ],
          "description": "Output only. The current state of the clone split operation."
        }
      },
      "description": "Message for SplitStatus.",
      "id": "SplitStatus"
    },
    "WeeklySchedule": {
      "id": "WeeklySchedule",
      "properties": {
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number",
          "format": "double"
        },
        "minute": {
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "format": "double",
          "type": "number"
        },
        "hour": {
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number",
          "format": "double"
        },
        "day": {
          "type": "string",
          "description": "Set the day or days of the week to make a snapshot. Accepts a comma separated days of the week. Defaults to 'Sunday'."
        }
      },
      "type": "object",
      "description": "Make a snapshot every week e.g. at Monday 04:00, Wednesday 05:20, Sunday 23:50"
    },
    "StopReplicationRequest": {
      "id": "StopReplicationRequest",
      "properties": {
        "force": {
          "description": "Indicates whether to stop replication forcefully while data transfer is in progress. Warning! if force is true, this will abort any current transfers and can lead to data loss due to partial transfer. If force is false, stop replication will fail while data transfer is in progress and you will need to retry later.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "StopReplicationRequest stops a replication until resumed."
    },
    "Replication": {
      "properties": {
        "sourceVolume": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Full name of source volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\""
        },
        "clusterLocation": {
          "type": "string",
          "description": "Optional. Location of the user cluster."
        },
        "mirrorState": {
          "type": "string",
          "description": "Output only. Indicates the state of mirroring.",
          "readOnly": true,
          "enum": [
            "MIRROR_STATE_UNSPECIFIED",
            "PREPARING",
            "MIRRORED",
            "STOPPED",
            "TRANSFERRING",
            "BASELINE_TRANSFERRING",
            "ABORTED",
            "EXTERNALLY_MANAGED",
            "PENDING_PEERING"
          ],
          "enumDescriptions": [
            "Unspecified MirrorState",
            "Destination volume is being prepared.",
            "Destination volume has been initialized and is ready to receive replication transfers.",
            "Destination volume is not receiving replication transfers.",
            "Incremental replication is in progress.",
            "Baseline replication is in progress.",
            "Replication is aborted.",
            "Replication is being managed from Onprem ONTAP.",
            "Peering is yet to be established."
          ]
        },
        "replicationSchedule": {
          "description": "Required. Indicates the schedule for replication.",
          "type": "string",
          "enum": [
            "REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "Unspecified ReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ]
        },
        "stateDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State details of the replication."
        },
        "destinationVolume": {
          "readOnly": true,
          "description": "Output only. Full name of destination volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the replication.",
          "enumDescriptions": [
            "Unspecified replication State",
            "Replication is creating.",
            "Replication is ready.",
            "Replication is updating.",
            "Replication is deleting.",
            "Replication is in error state.",
            "Replication is waiting for cluster peering to be established.",
            "Replication is waiting for SVM peering to be established.",
            "Replication is waiting for Commands to be executed on Onprem ONTAP.",
            "Onprem ONTAP is destination and Replication can only be managed from Onprem."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "ERROR",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PENDING_REMOTE_RESYNC",
            "EXTERNALLY_MANAGED_REPLICATION"
          ]
        },
        "destinationVolumeParameters": {
          "description": "Required. Input only. Destination volume parameters",
          "$ref": "DestinationVolumeParameters"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "role": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Indicates whether this points to source or destination.",
          "enumDescriptions": [
            "Unspecified replication role",
            "Indicates Source volume.",
            "Indicates Destination volume."
          ],
          "enum": [
            "REPLICATION_ROLE_UNSPECIFIED",
            "SOURCE",
            "DESTINATION"
          ]
        },
        "hybridPeeringDetails": {
          "readOnly": true,
          "description": "Output only. Hybrid peering details.",
          "$ref": "HybridPeeringDetails"
        },
        "description": {
          "description": "A description about this replication relationship.",
          "type": "string"
        },
        "hybridReplicationUserCommands": {
          "$ref": "UserCommands",
          "readOnly": true,
          "description": "Output only. Copy pastable snapmirror commands to be executed on onprem cluster by the customer."
        },
        "transferStats": {
          "readOnly": true,
          "$ref": "TransferStats",
          "description": "Output only. Replication transfer statistics."
        },
        "createTime": {
          "description": "Output only. Replication create time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "hybridReplicationType": {
          "type": "string",
          "description": "Output only. Type of the hybrid replication.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "Hybrid replication type for incremental Transfer in the reverse direction (GCNV is source and Onprem is destination)"
          ],
          "enum": [
            "HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ]
        },
        "healthy": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Condition of the relationship. Can be one of the following: - true: The replication relationship is healthy. It has not missed the most recent scheduled transfer. - false: The replication relationship is not healthy. It has missed the most recent scheduled transfer."
        }
      },
      "type": "object",
      "description": "Replication is a nested resource under Volume, that describes a cross-region replication relationship between 2 volumes in different regions.",
      "id": "Replication"
    },
    "SyncReplicationRequest": {
      "properties": {},
      "type": "object",
      "id": "SyncReplicationRequest",
      "description": "SyncReplicationRequest syncs the replication from source to destination."
    },
    "ActiveDirectory": {
      "id": "ActiveDirectory",
      "type": "object",
      "properties": {
        "stateDetails": {
          "readOnly": true,
          "description": "Output only. The state details of the Active Directory.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`.",
          "type": "string"
        },
        "nfsUsersWithLdap": {
          "type": "boolean",
          "description": "If enabled, will allow access to local users and LDAP users. If access is needed for only LDAP users, it has to be disabled."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the AD.",
          "enumDescriptions": [
            "Unspecified Active Directory State",
            "Active Directory State is Creating",
            "Active Directory State is Ready",
            "Active Directory State is Updating",
            "Active Directory State is In use",
            "Active Directory State is Deleting",
            "Active Directory State is Error",
            "Active Directory State is Diagnosing."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "IN_USE",
            "DELETING",
            "ERROR",
            "DIAGNOSING"
          ]
        },
        "dns": {
          "type": "string",
          "description": "Required. Comma separated list of DNS server IP addresses for the Active Directory domain."
        },
        "password": {
          "description": "Required. Password of the Active Directory domain administrator.",
          "type": "string"
        },
        "organizationalUnit": {
          "description": "The Organizational Unit (OU) within the Windows Active Directory the user belongs to.",
          "type": "string"
        },
        "kdcIp": {
          "description": "KDC server IP address for the active directory machine.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Required. Username of the Active Directory domain administrator."
        },
        "encryptDcConnections": {
          "type": "boolean",
          "description": "If enabled, traffic between the SMB server to Domain Controller (DC) will be encrypted."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create time of the active directory.",
          "type": "string"
        },
        "administrators": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Users to be added to the Built-in Admininstrators group."
        },
        "backupOperators": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Users to be added to the Built-in Backup Operator active directory group."
        },
        "kdcHostname": {
          "description": "Name of the active directory machine. This optional parameter is used only while creating kerberos volume",
          "type": "string"
        },
        "securityOperators": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Domain users to be given the SeSecurityPrivilege.",
          "type": "array"
        },
        "ldapSigning": {
          "type": "boolean",
          "description": "Specifies whether or not the LDAP traffic needs to be signed."
        },
        "description": {
          "type": "string",
          "description": "Description of the active directory."
        },
        "netBiosPrefix": {
          "type": "string",
          "description": "Required. NetBIOSPrefix is used as a prefix for SMB server name."
        },
        "labels": {
          "description": "Labels for the active directory.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "aesEncryption": {
          "type": "boolean",
          "description": "If enabled, AES encryption will be enabled for SMB communication."
        },
        "domain": {
          "description": "Required. Name of the Active Directory domain",
          "type": "string"
        },
        "site": {
          "type": "string",
          "description": "The Active Directory site the service will limit Domain Controller discovery too."
        }
      },
      "description": "ActiveDirectory is the public representation of the active directory config."
    },
    "ExecuteOntapPostRequest": {
      "properties": {
        "body": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```"
        }
      },
      "id": "ExecuteOntapPostRequest",
      "type": "object",
      "description": "Request message for `ExecuteOntapPost` API."
    },
    "UpdateBackupConfigRequest": {
      "properties": {
        "volumeUuid": {
          "description": "Required. The UUID of the ONTAP-mode volume.",
          "type": "string"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. Field mask is used to specify the fields to be overwritten in the BackupConfig for the Volume. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
          "type": "string"
        },
        "backupConfig": {
          "description": "Required. Backup configuration to apply.",
          "$ref": "BackupConfig"
        }
      },
      "description": "Request message for UpdateBackupConfig",
      "id": "UpdateBackupConfigRequest",
      "type": "object"
    },
    "SnapshotPolicy": {
      "properties": {
        "enabled": {
          "description": "If enabled, make snapshots automatically according to the schedules. Default is false.",
          "type": "boolean"
        },
        "weeklySchedule": {
          "description": "Weekly schedule policy.",
          "$ref": "WeeklySchedule"
        },
        "monthlySchedule": {
          "description": "Monthly schedule policy.",
          "$ref": "MonthlySchedule"
        },
        "hourlySchedule": {
          "description": "Hourly schedule policy.",
          "$ref": "HourlySchedule"
        },
        "dailySchedule": {
          "$ref": "DailySchedule",
          "description": "Daily schedule policy."
        }
      },
      "id": "SnapshotPolicy",
      "type": "object",
      "description": "Snapshot Policy for a volume."
    },
    "UserCommands": {
      "type": "object",
      "description": "UserCommands contains the commands to be executed by the customer.",
      "properties": {
        "commands": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. List of commands to be executed by the customer."
        }
      },
      "id": "UserCommands"
    },
    "Backup": {
      "description": "A NetApp Backup.",
      "type": "object",
      "id": "Backup",
      "properties": {
        "backupRegion": {
          "description": "Output only. Region in which backup is stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string",
          "readOnly": true
        },
        "ontapSource": {
          "description": "Optional. Represents source details for ONTAP backups. Either source_volume or ontap_source should be provided.",
          "$ref": "OntapSource"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backup. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`."
        },
        "sourceSnapshot": {
          "description": "If specified, backup will be created from the given snapshot. If not specified, there will be a new snapshot taken to initiate the backup creation. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`",
          "type": "string"
        },
        "sourceVolume": {
          "description": "The resource name of the volume that this backup belongs to. You must provide either `source_volume` or `ontap_source`. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}`",
          "type": "string"
        },
        "volumeRegion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Region of the volume from which the backup was created. Format: `projects/{project_id}/locations/{location}`"
        },
        "chainStorageBytes": {
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the backup was created.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The backup state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPLOADING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "enumDescriptions": [
            "State not set.",
            "Backup is being created. While in this state, the snapshot for the backup point-in-time may not have been created yet, and so the point-in-time may not have been fixed.",
            "Backup is being uploaded. While in this state, none of the writes to the volume will be included in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new volumes or restoring existing volumes.",
            "Backup is being updated."
          ]
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use",
          "readOnly": true
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use"
        },
        "enforcedRetentionEndTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time until which the backup is not deletable."
        },
        "backupType": {
          "type": "string",
          "description": "Output only. Type of backup, manually created or created by a backup policy.",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "MANUAL",
            "SCHEDULED"
          ],
          "enumDescriptions": [
            "Unspecified backup type.",
            "Manual backup type.",
            "Scheduled backup type."
          ]
        },
        "volumeUsageBytes": {
          "description": "Output only. Size of the file system when the backup was created. When creating a new volume from the backup, the volume capacity will have to be at least as big.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "LocationMetadata": {
      "properties": {
        "supportedServiceLevels": {
          "items": {
            "type": "string",
            "enum": [
              "SERVICE_LEVEL_UNSPECIFIED",
              "PREMIUM",
              "EXTREME",
              "STANDARD",
              "FLEX"
            ],
            "enumDescriptions": [
              "Unspecified service level.",
              "Premium service level.",
              "Extreme service level.",
              "Standard service level.",
              "Flex service level."
            ]
          },
          "description": "Output only. Supported service levels in a location.",
          "readOnly": true,
          "type": "array"
        },
        "flexPerformanceTier": {
          "readOnly": true,
          "description": "Output only. Indicates the flex performance tier of this location.",
          "enum": [
            "FLEX_PERFORMANCE_TIER_UNSPECIFIED",
            "LIMITED"
          ],
          "enumDescriptions": [
            "Unspecified flex performance tier.",
            "Flex performance tier is limited."
          ],
          "type": "string"
        },
        "supportedFlexPerformance": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Supported flex performance in a location.",
          "items": {
            "type": "string",
            "enum": [
              "FLEX_PERFORMANCE_UNSPECIFIED",
              "FLEX_PERFORMANCE_DEFAULT",
              "FLEX_PERFORMANCE_CUSTOM"
            ],
            "enumDescriptions": [
              "Unspecified flex performance.",
              "Flex Storage Pool with default performance.",
              "Flex Storage Pool with custom performance."
            ]
          }
        },
        "hasOntapProxy": {
          "type": "boolean",
          "description": "Output only. Indicates if the location has ONTAP Proxy support.",
          "readOnly": true
        },
        "hasVcp": {
          "description": "Output only. Indicates if the location has VCP support.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "LocationMetadata",
      "type": "object",
      "description": "Metadata for a given google.cloud.location.Location."
    },
    "Status": {
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      }
    },
    "ListBackupConfigsResponse": {
      "id": "ListBackupConfigsResponse",
      "type": "object",
      "description": "Message for response to listing BackupConfigs in an ONTAP StoragePool.",
      "properties": {
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "volumeBackupConfigs": {
          "description": "A list of backup configurations for volumes in the pool.",
          "items": {
            "$ref": "VolumeBackupConfig"
          },
          "type": "array"
        }
      }
    },
    "ListSnapshotsResponse": {
      "description": "ListSnapshotsResponse is the result of ListSnapshotsRequest.",
      "id": "ListSnapshotsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "snapshots": {
          "items": {
            "$ref": "Snapshot"
          },
          "description": "A list of snapshots in the project for the specified volume.",
          "type": "array"
        }
      }
    },
    "HostGroup": {
      "type": "object",
      "id": "HostGroup",
      "description": "Host group is a collection of hosts that can be used for accessing a Block Volume.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels of the host group.",
          "type": "object"
        },
        "createTime": {
          "description": "Output only. Create time of the host group.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "osType": {
          "type": "string",
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ],
          "description": "Required. The OS type of the host group. It indicates the type of operating system used by all of the hosts in the HostGroup. All hosts in a HostGroup must be of the same OS type. This can be set only when creating a HostGroup.",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ]
        },
        "description": {
          "description": "Optional. Description of the host group.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DISABLED"
          ],
          "readOnly": true,
          "description": "Output only. State of the host group.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state for host group.",
            "Host group is creating.",
            "Host group is ready.",
            "Host group is updating.",
            "Host group is deleting.",
            "Host group is disabled."
          ]
        },
        "hosts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of hosts associated with the host group."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified type for host group.",
            "iSCSI initiator host group."
          ],
          "description": "Required. Type of the host group.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ISCSI_INITIATOR"
          ]
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "QuotaRule": {
      "type": "object",
      "description": "QuotaRule specifies the maximum disk space a user or group can use within a volume. They can be used for creating default and individual quota rules.",
      "id": "QuotaRule",
      "properties": {
        "state": {
          "description": "Output only. State of the quota rule",
          "enumDescriptions": [
            "Unspecified state for quota rule",
            "Quota rule is creating",
            "Quota rule is updating",
            "Quota rule is deleting",
            "Quota rule is ready",
            "Quota rule is in error state."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "READY",
            "ERROR"
          ]
        },
        "target": {
          "description": "Optional. The quota rule applies to the specified user or group, identified by a Unix UID/GID, Windows SID, or null for default.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create time of the quota rule",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the quota rule"
        },
        "stateDetails": {
          "description": "Output only. State details of the quota rule",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels of the quota rule"
        },
        "name": {
          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified type for quota rule",
            "Individual user quota rule",
            "Individual group quota rule",
            "Default user quota rule",
            "Default group quota rule"
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INDIVIDUAL_USER_QUOTA",
            "INDIVIDUAL_GROUP_QUOTA",
            "DEFAULT_USER_QUOTA",
            "DEFAULT_GROUP_QUOTA"
          ],
          "description": "Required. The type of quota rule."
        },
        "diskLimitMib": {
          "description": "Required. The maximum allowed disk space in MiB.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListStoragePoolsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "storagePools": {
          "items": {
            "$ref": "StoragePool"
          },
          "description": "The list of StoragePools",
          "type": "array"
        }
      },
      "id": "ListStoragePoolsResponse",
      "description": "ListStoragePoolsResponse is the response to a ListStoragePoolsRequest."
    },
    "ValidateDirectoryServiceRequest": {
      "type": "object",
      "description": "ValidateDirectoryServiceRequest validates the directory service policy attached to the storage pool.",
      "properties": {
        "directoryServiceType": {
          "enumDescriptions": [
            "Directory service type is not specified.",
            "Active directory policy attached to the storage pool."
          ],
          "type": "string",
          "enum": [
            "DIRECTORY_SERVICE_TYPE_UNSPECIFIED",
            "ACTIVE_DIRECTORY"
          ],
          "description": "Type of directory service policy attached to the storage pool."
        }
      },
      "id": "ValidateDirectoryServiceRequest"
    },
    "EncryptVolumesRequest": {
      "id": "EncryptVolumesRequest",
      "properties": {},
      "type": "object",
      "description": "EncryptVolumesRequest specifies the KMS config to encrypt existing volumes."
    },
    "ListActiveDirectoriesResponse": {
      "properties": {
        "activeDirectories": {
          "type": "array",
          "description": "The list of active directories.",
          "items": {
            "$ref": "ActiveDirectory"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListActiveDirectoriesResponse",
      "type": "object",
      "description": "ListActiveDirectoriesResponse contains all the active directories requested."
    },
    "OntapVolumeTarget": {
      "id": "OntapVolumeTarget",
      "type": "object",
      "description": "Represents the ONTAP volume target of the restore operation.",
      "properties": {
        "volumeUuid": {
          "description": "Required. The UUID of the ONTAP volume to restore to.",
          "type": "string"
        },
        "restoreDestinationPath": {
          "description": "Optional. Absolute directory path in the destination volume.",
          "type": "string"
        }
      }
    },
    "StartSplitRequest": {
      "description": "Request message for splitting a volume.",
      "type": "object",
      "id": "StartSplitRequest",
      "properties": {}
    },
    "KmsConfig": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the KmsConfig.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the KmsConfig.",
          "enumDescriptions": [
            "Unspecified KmsConfig State",
            "KmsConfig State is Ready",
            "KmsConfig State is Creating",
            "KmsConfig State is Deleting",
            "KmsConfig State is Updating",
            "KmsConfig State is In Use.",
            "KmsConfig State is Error",
            "KmsConfig State is Pending to verify crypto key access.",
            "KmsConfig State is Not accessbile by the SDE service account to the crypto key.",
            "KmsConfig State is Disabling.",
            "KmsConfig State is Disabled.",
            "KmsConfig State is Migrating. The existing volumes are migrating from SMEK to CMEK."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "IN_USE",
            "ERROR",
            "KEY_CHECK_PENDING",
            "KEY_NOT_REACHABLE",
            "DISABLING",
            "DISABLED",
            "MIGRATING"
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs",
          "type": "object"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Create time of the KmsConfig.",
          "format": "google-datetime",
          "readOnly": true
        },
        "serviceAccount": {
          "description": "Output only. The Service account which will have access to the customer provided encryption key.",
          "type": "string",
          "readOnly": true
        },
        "cryptoKeyName": {
          "description": "Required. Customer-managed crypto key resource full name. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`",
          "type": "string"
        },
        "stateDetails": {
          "readOnly": true,
          "description": "Output only. State details of the KmsConfig.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of the `KmsConfig`. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
          "type": "string"
        },
        "instructions": {
          "description": "Output only. Instructions to provide the access to the customer provided encryption key.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "KmsConfig is the customer-managed encryption key(CMEK) configuration.",
      "id": "KmsConfig"
    },
    "HybridPeeringDetails": {
      "type": "object",
      "description": "HybridPeeringDetails contains details about the hybrid peering.",
      "id": "HybridPeeringDetails",
      "properties": {
        "commandExpiryTime": {
          "type": "string",
          "description": "Output only. Expiration time for the peering command to be executed on user's ONTAP.",
          "format": "google-datetime",
          "readOnly": true
        },
        "subnetIp": {
          "readOnly": true,
          "description": "Output only. IP address of the subnet.",
          "type": "string"
        },
        "command": {
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "type": "string",
          "readOnly": true
        },
        "peerSvmName": {
          "description": "Output only. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string",
          "readOnly": true
        },
        "passphrase": {
          "description": "Output only. Temporary passphrase generated to accept cluster peering command.",
          "readOnly": true,
          "type": "string"
        },
        "peerVolumeName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the user's local source volume to be peered with the destination volume."
        },
        "peerClusterName": {
          "description": "Output only. Name of the user's local source cluster to be peered with the destination cluster.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DailySchedule": {
      "id": "DailySchedule",
      "properties": {
        "minute": {
          "type": "number",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "format": "double"
        },
        "snapshotsToKeep": {
          "type": "number",
          "format": "double",
          "description": "The maximum number of Snapshots to keep for the hourly schedule"
        },
        "hour": {
          "format": "double",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Make a snapshot every day e.g. at 04:00, 05:20, 23:50"
    },
    "ExecuteOntapDeleteResponse": {
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "ExecuteOntapDeleteResponse",
      "type": "object",
      "description": "Response message for `ExecuteOntapDelete` API."
    },
    "ExecuteOntapPatchRequest": {
      "id": "ExecuteOntapPatchRequest",
      "properties": {
        "body": {
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "description": "Request message for `ExecuteOntapPatch` API.",
      "type": "object"
    },
    "MountOption": {
      "properties": {
        "export": {
          "type": "string",
          "description": "Export string"
        },
        "protocol": {
          "enumDescriptions": [
            "Unspecified protocol",
            "NFS V3 protocol",
            "NFS V4 protocol",
            "SMB protocol",
            "ISCSI protocol",
            "NVMe protocol"
          ],
          "description": "Protocol to mount with.",
          "type": "string",
          "enum": [
            "PROTOCOLS_UNSPECIFIED",
            "NFSV3",
            "NFSV4",
            "SMB",
            "ISCSI",
            "NVME"
          ]
        },
        "ipAddress": {
          "description": "Output only. IP Address.",
          "type": "string",
          "readOnly": true
        },
        "exportFull": {
          "type": "string",
          "description": "Full export string"
        },
        "instructions": {
          "type": "string",
          "description": "Instructions for mounting"
        }
      },
      "type": "object",
      "description": "View only mount options for a volume.",
      "id": "MountOption"
    },
    "ListHostGroupsResponse": {
      "type": "object",
      "id": "ListHostGroupsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "hostGroups": {
          "items": {
            "$ref": "HostGroup"
          },
          "type": "array",
          "description": "The list of host groups."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "ListHostGroupsResponse is the response to a ListHostGroupsRequest."
    },
    "DestinationVolumeParameters": {
      "description": "DestinationVolumeParameters specify input parameters used for creating destination volume.",
      "id": "DestinationVolumeParameters",
      "type": "object",
      "properties": {
        "tieringPolicy": {
          "description": "Optional. Tiering policy for the volume.",
          "$ref": "TieringPolicy"
        },
        "storagePool": {
          "description": "Required. Existing destination StoragePool name.",
          "type": "string"
        },
        "shareName": {
          "description": "Destination volume's share name. If not specified, source volume's share name will be used.",
          "type": "string"
        },
        "volumeId": {
          "type": "string",
          "description": "Desired destination volume resource id. If not specified, source volume's resource id will be used. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen."
        },
        "description": {
          "description": "Description for the destination volume.",
          "type": "string"
        }
      }
    },
    "RestoreParameters": {
      "type": "object",
      "description": "The RestoreParameters if volume is created from a snapshot or backup.",
      "properties": {
        "sourceBackup": {
          "type": "string",
          "description": "Full name of the backup resource. Format for standard backup: projects/{project}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}. Format for BackupDR backup: projects/{project}/locations/{location}/backupVaults/{backup_vault}/dataSources/{data_source}/backups/{backup}"
        },
        "sourceSnapshot": {
          "description": "Full name of the snapshot resource. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "type": "string"
        }
      },
      "id": "RestoreParameters"
    },
    "CacheParameters": {
      "description": "Cache Parameters for the volume.",
      "type": "object",
      "id": "CacheParameters",
      "properties": {
        "command": {
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "type": "string",
          "readOnly": true
        },
        "peerIpAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. List of IC LIF addresses of the origin volume's ONTAP cluster."
        },
        "stateDetails": {
          "readOnly": true,
          "description": "Output only. Detailed description of the current cache state.",
          "type": "string"
        },
        "peerClusterName": {
          "type": "string",
          "description": "Required. Name of the origin volume's ONTAP cluster."
        },
        "passphrase": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Temporary passphrase generated to accept cluster peering command."
        },
        "enableGlobalFileLock": {
          "description": "Optional. Indicates whether the cache volume has global file lock enabled.",
          "type": "boolean"
        },
        "peeringCommandExpiryTime": {
          "format": "google-datetime",
          "description": "Optional. Expiration time for the peering command to be executed on user's ONTAP.",
          "type": "string"
        },
        "peerSvmName": {
          "description": "Required. Name of the origin volume's SVM.",
          "type": "string"
        },
        "cacheConfig": {
          "description": "Optional. Configuration of the cache volume.",
          "$ref": "CacheConfig"
        },
        "cacheState": {
          "type": "string",
          "description": "Output only. State of the cache volume indicating the peering status.",
          "enum": [
            "CACHE_STATE_UNSPECIFIED",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PEERED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Default unspecified state.",
            "State indicating waiting for cluster peering to be established.",
            "State indicating waiting for SVM peering to be established.",
            "State indicating successful establishment of peering with origin volumes's ONTAP cluster.",
            "Terminal state wherein peering with origin volume's ONTAP cluster has failed."
          ],
          "readOnly": true
        },
        "peerVolumeName": {
          "type": "string",
          "description": "Required. Name of the origin volume for the cache volume."
        }
      }
    },
    "ListBackupVaultsResponse": {
      "id": "ListBackupVaultsResponse",
      "description": "ListBackupVaultsResponse is the result of ListBackupVaultsRequest.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        },
        "backupVaults": {
          "type": "array",
          "description": "A list of backupVaults in the project for the specified location.",
          "items": {
            "$ref": "BackupVault"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object"
    },
    "EstablishVolumePeeringRequest": {
      "description": "EstablishVolumePeeringRequest establishes cluster and svm peerings between the source and destination clusters.",
      "type": "object",
      "properties": {
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "peerIpAddresses": {
          "type": "array",
          "description": "Optional. List of IPv4 IP addresses to be used for peering.",
          "items": {
            "type": "string"
          }
        },
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        }
      },
      "id": "EstablishVolumePeeringRequest"
    },
    "CloneDetails": {
      "id": "CloneDetails",
      "description": "Details about a clone volume.",
      "type": "object",
      "properties": {
        "sourceSnapshot": {
          "readOnly": true,
          "description": "Output only. Specifies the full resource name of the source snapshot from which this volume was cloned. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "type": "string"
        },
        "sharedSpaceGib": {
          "format": "int64",
          "description": "Output only. Shared space in GiB. Determined at volume creation time based on size of source snapshot.",
          "type": "string",
          "readOnly": true
        },
        "sourceVolume": {
          "description": "Output only. Full name of the source volume resource. Format: projects/{project}/locations/{location}/volumes/{volume}",
          "type": "string",
          "readOnly": true
        },
        "splitState": {
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the clone split operation.",
          "type": "string"
        }
      }
    },
    "CachePrePopulate": {
      "id": "CachePrePopulate",
      "type": "object",
      "description": "Pre-populate cache volume with data from the origin volume.",
      "properties": {
        "excludePathList": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of directory-paths to be excluded for pre-population for the FlexCache volume.",
          "type": "array"
        },
        "pathList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of directory-paths to be pre-populated for the FlexCache volume."
        },
        "recursion": {
          "type": "boolean",
          "description": "Optional. Flag indicating whether the directories listed with the `path_list` need to be recursively pre-populated."
        }
      }
    },
    "RestoreVolumeRequest": {
      "id": "RestoreVolumeRequest",
      "properties": {
        "ontapVolumeTarget": {
          "$ref": "OntapVolumeTarget",
          "description": "The ONTAP volume target of the restore operation."
        },
        "backupSource": {
          "description": "The backup source of the restore operation.",
          "$ref": "BackupSource"
        }
      },
      "description": "Request message for `RestoreVolume` API.",
      "type": "object"
    },
    "BackupPolicy": {
      "id": "BackupPolicy",
      "type": "object",
      "description": "Backup Policy.",
      "properties": {
        "assignedVolumeCount": {
          "format": "int32",
          "description": "Output only. The total number of volumes assigned by this backup policy.",
          "type": "integer",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata.",
          "type": "object"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "description": "Output only. The backup policy state.",
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "BackupPolicy is being created.",
            "BackupPolicy is available for use.",
            "BackupPolicy is being deleted.",
            "BackupPolicy is not valid and cannot be used.",
            "BackupPolicy is being updated."
          ],
          "readOnly": true
        },
        "weeklyBackupLimit": {
          "format": "int32",
          "description": "Number of weekly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "type": "integer"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the backup policy was created.",
          "format": "google-datetime"
        },
        "monthlyBackupLimit": {
          "description": "Number of monthly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "description": "Description of the backup policy.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the backup policy. Format: `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "If enabled, make backups automatically according to the schedules. This will be applied to all volumes that have this policy attached and enforced on volume level. If not specified, default is true."
        },
        "dailyBackupLimit": {
          "type": "integer",
          "description": "Number of daily backups to keep. Note that the minimum daily backup limit is 2.",
          "format": "int32"
        }
      }
    },
    "ExecuteOntapPostResponse": {
      "type": "object",
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "ExecuteOntapPostResponse",
      "description": "Response message for `ExecuteOntapPost` API."
    },
    "ReverseReplicationDirectionRequest": {
      "id": "ReverseReplicationDirectionRequest",
      "type": "object",
      "description": "ReverseReplicationDirectionRequest reverses direction of replication. Source becomes destination and destination becomes source.",
      "properties": {}
    },
    "StoragePool": {
      "properties": {
        "stateDetails": {
          "readOnly": true,
          "description": "Output only. State details of the storage pool",
          "type": "string"
        },
        "qosType": {
          "description": "Optional. QoS (Quality of Service) Type of the storage pool",
          "enumDescriptions": [
            "Unspecified QoS Type",
            "QoS Type is Auto",
            "QoS Type is Manual"
          ],
          "type": "string",
          "enum": [
            "QOS_TYPE_UNSPECIFIED",
            "AUTO",
            "MANUAL"
          ]
        },
        "globalAccessAllowed": {
          "deprecated": true,
          "type": "boolean",
          "description": "Deprecated. Used to allow SO pool to access AD or DNS server from other regions."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time of the storage pool"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs",
          "type": "object"
        },
        "serviceLevel": {
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ],
          "description": "Required. Service level of the storage pool",
          "type": "string",
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ]
        },
        "network": {
          "description": "Required. VPC Network name. Format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the storage pool"
        },
        "type": {
          "enumDescriptions": [
            "Storage pool type is not specified.",
            "Storage pool type is file.",
            "Storage pool type is unified."
          ],
          "type": "string",
          "enum": [
            "STORAGE_POOL_TYPE_UNSPECIFIED",
            "FILE",
            "UNIFIED"
          ],
          "description": "Optional. Type of the storage pool. This field is used to control whether the pool supports `FILE` based volumes only or `UNIFIED` (both `FILE` and `BLOCK`) volumes. If not specified during creation, it defaults to `FILE`."
        },
        "zone": {
          "description": "Optional. Specifies the active zone for regional storagePool.",
          "type": "string"
        },
        "availableThroughputMibps": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Output only. Available throughput of the storage pool (in MiB/s)."
        },
        "mode": {
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "DEFAULT",
            "ONTAP"
          ],
          "description": "Optional. Mode of the storage pool. This field is used to control whether the user can perform ONTAP operations on the storage pool using the GCNV ONTAP Mode APIs. If not specified during creation, it defaults to `DEFAULT`.",
          "enumDescriptions": [
            "The `Mode` is not specified.",
            "The resource is managed by the GCNV APIs.",
            "The resource is managed by the GCNV ONTAP Mode APIs."
          ]
        },
        "encryptionType": {
          "description": "Output only. Specifies the current pool encryption key source.",
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ],
          "readOnly": true,
          "type": "string"
        },
        "hotTierSizeGib": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Total hot tier capacity for the Storage Pool. It is applicable only to Flex service level. It should be less than the minimum storage pool size and cannot be more than the current storage pool size. It cannot be decreased once set."
        },
        "psaRange": {
          "description": "Optional. This field is not implemented. The values provided in this field are ignored.",
          "type": "string"
        },
        "totalThroughputMibps": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Custom Performance Total Throughput of the pool (in MiBps)"
        },
        "kmsConfig": {
          "type": "string",
          "description": "Optional. Specifies the KMS config to be used for volume encryption."
        },
        "ldapEnabled": {
          "description": "Optional. Flag indicating if the pool is NFS LDAP enabled or not.",
          "type": "boolean"
        },
        "activeDirectory": {
          "description": "Optional. Specifies the Active Directory to be used for creating a SMB volume.",
          "type": "string"
        },
        "capacityGib": {
          "type": "string",
          "description": "Required. Capacity in GIB of the pool",
          "format": "int64"
        },
        "enableHotTierAutoResize": {
          "description": "Optional. Flag indicating that the hot-tier threshold will be auto-increased by 10% of the hot-tier when it hits 100%. Default is true. The increment will kick in only if the new size after increment is still less than or equal to storage pool size.",
          "type": "boolean"
        },
        "volumeCapacityGib": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Allocated size of all volumes in GIB in the storage pool"
        },
        "coldTierSizeUsedGib": {
          "format": "int64",
          "description": "Output only. Total cold tier data rounded down to the nearest GiB used by the storage pool.",
          "readOnly": true,
          "type": "string"
        },
        "customPerformanceEnabled": {
          "description": "Optional. True if using Independent Scaling of capacity and performance (Hyperdisk) By default set to false",
          "type": "boolean"
        },
        "replicaZone": {
          "description": "Optional. Specifies the replica zone for regional storagePool.",
          "type": "string"
        },
        "hotTierSizeUsedGib": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the storage pool.",
          "type": "string"
        },
        "totalIops": {
          "description": "Optional. Custom Performance Total IOPS of the pool if not provided, it will be calculated based on the total_throughput_mibps",
          "format": "int64",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the storage pool",
          "type": "string"
        },
        "scaleType": {
          "enumDescriptions": [
            "Unspecified scale type.",
            "Represents standard capacity and performance scale-type. Suitable for general purpose workloads.",
            "Represents higher capacity and performance scale-type. Suitable for more demanding workloads."
          ],
          "type": "string",
          "enum": [
            "SCALE_TYPE_UNSPECIFIED",
            "SCALE_TYPE_DEFAULT",
            "SCALE_TYPE_SCALEOUT"
          ],
          "description": "Optional. The scale type of the storage pool. Defaults to `SCALE_TYPE_DEFAULT` if not specified."
        },
        "volumeCount": {
          "readOnly": true,
          "description": "Output only. Volume count of the storage pool",
          "type": "integer",
          "format": "int32"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use",
          "readOnly": true,
          "type": "boolean"
        },
        "allowAutoTiering": {
          "description": "Optional. True if the storage pool supports Auto Tiering enabled volumes. Default is false. Auto-tiering can be enabled after storage pool creation but it can't be disabled once enabled.",
          "type": "boolean"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use",
          "type": "boolean"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified Storage Pool State",
            "Storage Pool State is Ready",
            "Storage Pool State is Creating",
            "Storage Pool State is Deleting",
            "Storage Pool State is Updating",
            "Storage Pool State is Restoring",
            "Storage Pool State is Disabled",
            "Storage Pool State is Error"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the storage pool"
        }
      },
      "type": "object",
      "description": "StoragePool is a container for volumes with a service level and capacity. Volumes can be created in a pool of sufficient available capacity. StoragePool capacity is what you are billed for.",
      "id": "StoragePool"
    },
    "CacheConfig": {
      "type": "object",
      "properties": {
        "cachePrePopulate": {
          "$ref": "CachePrePopulate",
          "description": "Optional. Pre-populate cache volume with data from the origin volume."
        },
        "writebackEnabled": {
          "description": "Optional. Flag indicating whether writeback is enabled for the FlexCache volume.",
          "type": "boolean"
        },
        "cachePrePopulateState": {
          "description": "Output only. State of the prepopulation job indicating how the prepopulation is progressing.",
          "readOnly": true,
          "enum": [
            "CACHE_PRE_POPULATE_STATE_UNSPECIFIED",
            "NOT_NEEDED",
            "IN_PROGRESS",
            "COMPLETE",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified state.",
            "State representing when the most recent create or update request did not require a prepopulation job.",
            "State representing when the most recent update request requested a prepopulation job but it has not yet completed.",
            "State representing when the most recent update request requested a prepopulation job and it has completed successfully.",
            "State representing when the most recent update request requested a prepopulation job but the prepopulate job failed."
          ]
        },
        "cifsChangeNotifyEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating whether a CIFS change notification is enabled for the FlexCache volume."
        }
      },
      "description": "Configuration of the cache volume.",
      "id": "CacheConfig"
    },
    "OntapSource": {
      "id": "OntapSource",
      "description": "Represents ONTAP source details.",
      "properties": {
        "volumeUuid": {
          "type": "string",
          "description": "Required. The UUID of the ONTAP source volume."
        },
        "storagePool": {
          "description": "Required. Name of the storage pool. This must be specified for creating backups for ONTAP mode volumes. Format: `projects/{projects_id}/locations/{location}/storagePools/{storage_pool_id}`",
          "type": "string"
        },
        "snapshotUuid": {
          "description": "Optional. The UUID of the ONTAP source snapshot.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RestoreBackupFilesRequest": {
      "type": "object",
      "properties": {
        "backup": {
          "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`",
          "type": "string"
        },
        "restoreDestinationPath": {
          "description": "Optional. Absolute directory path in the destination volume. This is required if the `file_list` is provided.",
          "type": "string"
        },
        "fileList": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of files to be restored, specified by their absolute path in the source volume.",
          "type": "array"
        }
      },
      "id": "RestoreBackupFilesRequest",
      "description": "RestoreBackupFilesRequest restores files from a backup to a volume."
    },
    "BackupRetentionPolicy": {
      "type": "object",
      "description": "Retention policy for backups in the backup vault",
      "id": "BackupRetentionPolicy",
      "properties": {
        "manualBackupImmutable": {
          "description": "Optional. Indicates if the manual backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "weeklyBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the weekly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        },
        "dailyBackupImmutable": {
          "description": "Optional. Indicates if the daily backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "monthlyBackupImmutable": {
          "description": "Optional. Indicates if the monthly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "backupMinimumEnforcedRetentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Minimum retention duration in days for backups in the backup vault."
        }
      }
    },
    "ListKmsConfigsResponse": {
      "description": "ListKmsConfigsResponse is the response to a ListKmsConfigsRequest.",
      "id": "ListKmsConfigsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "kmsConfigs": {
          "items": {
            "$ref": "KmsConfig"
          },
          "description": "The list of KmsConfigs",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "VerifyKmsConfigRequest": {
      "id": "VerifyKmsConfigRequest",
      "properties": {},
      "description": "VerifyKmsConfigRequest specifies the KMS config to be validated.",
      "type": "object"
    },
    "ResumeReplicationRequest": {
      "id": "ResumeReplicationRequest",
      "description": "ResumeReplicationRequest resumes a stopped replication.",
      "type": "object",
      "properties": {}
    },
    "ListReplicationsResponse": {
      "properties": {
        "replications": {
          "type": "array",
          "description": "A list of replications in the project for the specified volume.",
          "items": {
            "$ref": "Replication"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListReplicationsResponse",
      "description": "ListReplicationsResponse is the result of ListReplicationsRequest."
    },
    "ExecuteOntapGetResponse": {
      "description": "Response message for `ExecuteOntapGet` API.",
      "properties": {
        "body": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The raw `JSON` body of the response."
        }
      },
      "id": "ExecuteOntapGetResponse",
      "type": "object"
    },
    "ExecuteOntapPatchResponse": {
      "type": "object",
      "id": "ExecuteOntapPatchResponse",
      "description": "Response message for `ExecuteOntapPatch` API.",
      "properties": {
        "body": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The raw `JSON` body of the response."
        }
      }
    },
    "EstablishPeeringRequest": {
      "properties": {
        "peerIpAddresses": {
          "description": "Optional. List of IPv4 ip addresses to be used for peering.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "peerVolumeName": {
          "type": "string",
          "description": "Required. Name of the user's local source volume to be peered with the destination volume."
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        }
      },
      "id": "EstablishPeeringRequest",
      "description": "EstablishPeeringRequest establishes cluster and svm peerings between the source and the destination replications.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "RevertVolumeRequest": {
      "properties": {
        "snapshotId": {
          "description": "Required. The snapshot resource ID, in the format 'my-snapshot', where the specified ID is the {snapshot_id} of the fully qualified name like projects/{project_id}/locations/{location_id}/volumes/{volume_id}/snapshots/{snapshot_id}",
          "type": "string"
        }
      },
      "description": "RevertVolumeRequest reverts the given volume to the specified snapshot.",
      "id": "RevertVolumeRequest",
      "type": "object"
    },
    "Volume": {
      "id": "Volume",
      "description": "Volume provides a filesystem that you can mount.",
      "type": "object",
      "properties": {
        "cacheParameters": {
          "description": "Optional. Cache parameters for the volume.",
          "$ref": "CacheParameters"
        },
[...]
