{
  "documentationLink": "https://cloud.google.com/netapp/",
  "mtlsRootUrl": "https://netapp.mtls.googleapis.com/",
  "ownerName": "Google",
  "description": "Google Cloud NetApp Volumes is a fully-managed, cloud-based data storage service that provides advanced data management capabilities and highly scalable performance with global availability.",
  "protocol": "rest",
  "name": "netapp",
  "ownerDomain": "google.com",
  "id": "netapp:v1",
  "discoveryVersion": "v1",
  "schemas": {
    "ExecuteOntapGetResponse": {
      "id": "ExecuteOntapGetResponse",
      "description": "Response message for `ExecuteOntapGet` API.",
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "HourlySchedule": {
      "type": "object",
      "id": "HourlySchedule",
      "description": "Make a snapshot every hour e.g. at 04:00, 05:00, 06:00.",
      "properties": {
        "snapshotsToKeep": {
          "type": "number",
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "format": "double"
        },
        "minute": {
          "type": "number",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "format": "double"
        }
      }
    },
    "SyncReplicationRequest": {
      "id": "SyncReplicationRequest",
      "description": "SyncReplicationRequest syncs the replication from source to destination.",
      "properties": {},
      "type": "object"
    },
    "Replication": {
      "type": "object",
      "id": "Replication",
      "description": "Replication is a nested resource under Volume, that describes a cross-region replication relationship between 2 volumes in different regions.",
      "properties": {
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State details of the replication."
        },
        "description": {
          "description": "A description about this replication relationship.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`.",
          "type": "string"
        },
        "destinationVolumeParameters": {
          "description": "Required. Input only. Destination volume parameters",
          "$ref": "DestinationVolumeParameters"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Replication create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "hybridReplicationType": {
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "Hybrid replication type for incremental Transfer in the reverse direction (GCNV is source and Onprem is destination)"
          ],
          "description": "Output only. Type of the hybrid replication.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ]
        },
        "healthy": {
          "readOnly": true,
          "description": "Output only. Condition of the relationship. Can be one of the following: - true: The replication relationship is healthy. It has not missed the most recent scheduled transfer. - false: The replication relationship is not healthy. It has missed the most recent scheduled transfer.",
          "type": "boolean"
        },
        "hybridPeeringDetails": {
          "description": "Output only. Hybrid peering details.",
          "$ref": "HybridPeeringDetails",
          "readOnly": true
        },
        "destinationVolume": {
          "type": "string",
          "description": "Output only. Full name of destination volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "readOnly": true
        },
        "hybridReplicationUserCommands": {
          "readOnly": true,
          "description": "Output only. Copy pastable snapmirror commands to be executed on onprem cluster by the customer.",
          "$ref": "UserCommands"
        },
        "mirrorState": {
          "enumDescriptions": [
            "Unspecified MirrorState",
            "Destination volume is being prepared.",
            "Destination volume has been initialized and is ready to receive replication transfers.",
            "Destination volume is not receiving replication transfers.",
            "Incremental replication is in progress.",
            "Baseline replication is in progress.",
            "Replication is aborted.",
            "Replication is being managed from Onprem ONTAP.",
            "Peering is yet to be established."
          ],
          "readOnly": true,
          "description": "Output only. Indicates the state of mirroring.",
          "type": "string",
          "enum": [
            "MIRROR_STATE_UNSPECIFIED",
            "PREPARING",
            "MIRRORED",
            "STOPPED",
            "TRANSFERRING",
            "BASELINE_TRANSFERRING",
            "ABORTED",
            "EXTERNALLY_MANAGED",
            "PENDING_PEERING"
          ]
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "clusterLocation": {
          "type": "string",
          "description": "Optional. Location of the user cluster."
        },
        "state": {
          "description": "Output only. State of the replication.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified replication State",
            "Replication is creating.",
            "Replication is ready.",
            "Replication is updating.",
            "Replication is deleting.",
            "Replication is in error state.",
            "Replication is waiting for cluster peering to be established.",
            "Replication is waiting for SVM peering to be established.",
            "Replication is waiting for Commands to be executed on Onprem ONTAP.",
            "Onprem ONTAP is destination and Replication can only be managed from Onprem."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "ERROR",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PENDING_REMOTE_RESYNC",
            "EXTERNALLY_MANAGED_REPLICATION"
          ],
          "type": "string"
        },
        "transferStats": {
          "readOnly": true,
          "description": "Output only. Replication transfer statistics.",
          "$ref": "TransferStats"
        },
        "role": {
          "type": "string",
          "enum": [
            "REPLICATION_ROLE_UNSPECIFIED",
            "SOURCE",
            "DESTINATION"
          ],
          "enumDescriptions": [
            "Unspecified replication role",
            "Indicates Source volume.",
            "Indicates Destination volume."
          ],
          "readOnly": true,
          "description": "Output only. Indicates whether this points to source or destination."
        },
        "replicationSchedule": {
          "description": "Required. Indicates the schedule for replication.",
          "enum": [
            "REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "Unspecified ReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ],
          "type": "string"
        },
        "sourceVolume": {
          "readOnly": true,
          "description": "Output only. Full name of source volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "type": "string"
        }
      }
    },
    "StopReplicationRequest": {
      "id": "StopReplicationRequest",
      "description": "StopReplicationRequest stops a replication until resumed.",
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Indicates whether to stop replication forcefully while data transfer is in progress. Warning! if force is true, this will abort any current transfers and can lead to data loss due to partial transfer. If force is false, stop replication will fail while data transfer is in progress and you will need to retry later."
        }
      },
      "type": "object"
    },
    "OntapVolumeTarget": {
      "type": "object",
      "id": "OntapVolumeTarget",
      "description": "Represents the ONTAP volume target of the restore operation.",
      "properties": {
        "volumeUuid": {
          "description": "Required. The UUID of the ONTAP volume to restore to.",
          "type": "string"
        },
        "restoreDestinationPath": {
          "description": "Optional. Absolute directory path in the destination volume.",
          "type": "string"
        }
      }
    },
    "ListBackupVaultsResponse": {
      "type": "object",
      "id": "ListBackupVaultsResponse",
      "description": "ListBackupVaultsResponse is the result of ListBackupVaultsRequest.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "backupVaults": {
          "description": "A list of backupVaults in the project for the specified location.",
          "items": {
            "$ref": "BackupVault"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "ExportPolicy": {
      "id": "ExportPolicy",
      "description": "Defines the export policy for the volume.",
      "properties": {
        "rules": {
          "description": "Required. List of export policy rules",
          "items": {
            "$ref": "SimpleExportPolicyRule"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "type": "object"
    },
    "StoragePool": {
      "type": "object",
      "id": "StoragePool",
      "description": "StoragePool is a container for volumes with a service level and capacity. Volumes can be created in a pool of sufficient available capacity. StoragePool capacity is what you are billed for.",
      "properties": {
        "capacityGib": {
          "type": "string",
          "description": "Required. Capacity in GIB of the pool",
          "format": "int64"
        },
        "totalThroughputMibps": {
          "type": "string",
          "description": "Optional. Custom Performance Total Throughput of the pool (in MiBps)",
          "format": "int64"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Create time of the storage pool",
          "format": "google-datetime",
          "readOnly": true
        },
        "ldapEnabled": {
          "description": "Optional. Flag indicating if the pool is NFS LDAP enabled or not.",
          "type": "boolean"
        },
        "hotTierSizeUsedGib": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the storage pool.",
          "format": "int64"
        },
        "volumeCount": {
          "type": "integer",
          "description": "Output only. Volume count of the storage pool",
          "format": "int32",
          "readOnly": true
        },
        "globalAccessAllowed": {
          "type": "boolean",
          "description": "Deprecated. Used to allow SO pool to access AD or DNS server from other regions.",
          "deprecated": true
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Storage pool type is not specified.",
            "Storage pool type is file.",
            "Storage pool type is unified."
          ],
          "description": "Optional. Type of the storage pool. This field is used to control whether the pool supports `FILE` based volumes only or `UNIFIED` (both `FILE` and `BLOCK`) volumes. If not specified during creation, it defaults to `FILE`.",
          "enum": [
            "STORAGE_POOL_TYPE_UNSPECIFIED",
            "FILE",
            "UNIFIED"
          ]
        },
        "serviceLevel": {
          "description": "Required. Service level of the storage pool",
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ],
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ],
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Optional. Specifies the active zone for regional storagePool."
        },
        "state": {
          "description": "Output only. State of the storage pool",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified Storage Pool State",
            "Storage Pool State is Ready",
            "Storage Pool State is Creating",
            "Storage Pool State is Deleting",
            "Storage Pool State is Updating",
            "Storage Pool State is Restoring",
            "Storage Pool State is Disabled",
            "Storage Pool State is Error"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR"
          ],
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use",
          "readOnly": true,
          "type": "boolean"
        },
        "mode": {
          "description": "Optional. Mode of the storage pool. This field is used to control whether the user can perform ONTAP operations on the storage pool using the GCNV ONTAP Mode APIs. If not specified during creation, it defaults to `DEFAULT`.",
          "enum": [
            "MODE_UNSPECIFIED",
            "DEFAULT",
            "ONTAP"
          ],
          "enumDescriptions": [
            "The `Mode` is not specified.",
            "The resource is managed by the GCNV APIs.",
            "The resource is managed by the GCNV ONTAP Mode APIs."
          ],
          "type": "string"
        },
        "kmsConfig": {
          "type": "string",
          "description": "Optional. Specifies the KMS config to be used for volume encryption."
        },
        "activeDirectory": {
          "description": "Optional. Specifies the Active Directory to be used for creating a SMB volume.",
          "type": "string"
        },
        "replicaZone": {
          "description": "Optional. Specifies the replica zone for regional storagePool.",
          "type": "string"
        },
        "availableThroughputMibps": {
          "type": "number",
          "description": "Output only. Available throughput of the storage pool (in MiB/s).",
          "format": "double",
          "readOnly": true
        },
        "totalIops": {
          "description": "Optional. Custom Performance Total IOPS of the pool if not provided, it will be calculated based on the total_throughput_mibps",
          "format": "int64",
          "type": "string"
        },
        "encryptionType": {
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ],
          "type": "string",
          "description": "Output only. Specifies the current pool encryption key source.",
          "readOnly": true,
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ]
        },
        "enableHotTierAutoResize": {
          "type": "boolean",
          "description": "Optional. Flag indicating that the hot-tier threshold will be auto-increased by 10% of the hot-tier when it hits 100%. Default is true. The increment will kick in only if the new size after increment is still less than or equal to storage pool size."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the storage pool"
        },
        "qosType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified QoS Type",
            "QoS Type is Auto",
            "QoS Type is Manual"
          ],
          "description": "Optional. QoS (Quality of Service) Type of the storage pool",
          "enum": [
            "QOS_TYPE_UNSPECIFIED",
            "AUTO",
            "MANUAL"
          ]
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. State details of the storage pool",
          "readOnly": true
        },
        "volumeCapacityGib": {
          "type": "string",
          "description": "Output only. Allocated size of all volumes in GIB in the storage pool",
          "format": "int64",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Description of the storage pool",
          "type": "string"
        },
        "psaRange": {
          "description": "Optional. This field is not implemented. The values provided in this field are ignored.",
          "type": "string"
        },
        "hotTierSizeGib": {
          "type": "string",
          "description": "Optional. Total hot tier capacity for the Storage Pool. It is applicable only to Flex service level. It should be less than the minimum storage pool size and cannot be more than the current storage pool size. It cannot be decreased once set.",
          "format": "int64"
        },
        "allowAutoTiering": {
          "type": "boolean",
          "description": "Optional. True if the storage pool supports Auto Tiering enabled volumes. Default is false. Auto-tiering can be enabled after storage pool creation but it can't be disabled once enabled."
        },
        "network": {
          "description": "Required. VPC Network name. Format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "scaleType": {
          "description": "Optional. The scale type of the storage pool. Defaults to `SCALE_TYPE_DEFAULT` if not specified.",
          "enum": [
            "SCALE_TYPE_UNSPECIFIED",
            "SCALE_TYPE_DEFAULT",
            "SCALE_TYPE_SCALEOUT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified scale type.",
            "Represents standard capacity and performance scale-type. Suitable for general purpose workloads.",
            "Represents higher capacity and performance scale-type. Suitable for more demanding workloads."
          ]
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use",
          "type": "boolean"
        },
        "coldTierSizeUsedGib": {
          "type": "string",
          "description": "Output only. Total cold tier data rounded down to the nearest GiB used by the storage pool.",
          "format": "int64",
          "readOnly": true
        },
        "customPerformanceEnabled": {
          "type": "boolean",
          "description": "Optional. True if using Independent Scaling of capacity and performance (Hyperdisk) By default set to false"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ListVolumesResponse": {
      "type": "object",
      "id": "ListVolumesResponse",
      "description": "Message for response to listing Volumes",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "volumes": {
          "description": "The list of Volume",
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        }
      }
    },
    "Snapshot": {
      "type": "object",
      "id": "Snapshot",
      "description": "Snapshot is a point-in-time version of a Volume's content.",
      "properties": {
        "usedBytes": {
          "type": "number",
          "description": "Output only. Current storage usage for the snapshot in bytes.",
          "format": "double",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "DISABLED",
            "ERROR"
          ],
          "type": "string",
          "description": "Output only. The snapshot state.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified Snapshot State",
            "Snapshot State is Ready",
            "Snapshot State is Creating",
            "Snapshot State is Deleting",
            "Snapshot State is Updating",
            "Snapshot State is Disabled",
            "Snapshot State is Error"
          ]
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the snapshot. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of the snapshot with 2048 characters or less. Requests with longer descriptions will be rejected."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the snapshot was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. State details of the storage pool",
          "readOnly": true
        }
      }
    },
    "CacheConfig": {
      "type": "object",
      "id": "CacheConfig",
      "description": "Configuration of the cache volume.",
      "properties": {
        "writebackEnabled": {
          "description": "Optional. Flag indicating whether writeback is enabled for the FlexCache volume.",
          "type": "boolean"
        },
        "cifsChangeNotifyEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating whether a CIFS change notification is enabled for the FlexCache volume."
        },
        "cachePrePopulate": {
          "description": "Optional. Pre-populate cache volume with data from the origin volume.",
          "$ref": "CachePrePopulate"
        },
        "cachePrePopulateState": {
          "enum": [
            "CACHE_PRE_POPULATE_STATE_UNSPECIFIED",
            "NOT_NEEDED",
            "IN_PROGRESS",
            "COMPLETE",
            "ERROR"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the prepopulation job indicating how the prepopulation is progressing.",
          "enumDescriptions": [
            "Default unspecified state.",
            "State representing when the most recent create or update request did not require a prepopulation job.",
            "State representing when the most recent update request requested a prepopulation job but it has not yet completed.",
            "State representing when the most recent update request requested a prepopulation job and it has completed successfully.",
            "State representing when the most recent update request requested a prepopulation job but the prepopulate job failed."
          ]
        }
      }
    },
    "LocationMetadata": {
      "type": "object",
      "id": "LocationMetadata",
      "description": "Metadata for a given google.cloud.location.Location.",
      "properties": {
        "supportedServiceLevels": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Supported service levels in a location.",
          "items": {
            "enumDescriptions": [
              "Unspecified service level.",
              "Premium service level.",
              "Extreme service level.",
              "Standard service level.",
              "Flex service level."
            ],
            "type": "string",
            "enum": [
              "SERVICE_LEVEL_UNSPECIFIED",
              "PREMIUM",
              "EXTREME",
              "STANDARD",
              "FLEX"
            ]
          }
        },
        "hasOntapProxy": {
          "type": "boolean",
          "description": "Output only. Indicates if the location has ONTAP Proxy support.",
          "readOnly": true
        },
        "supportedFlexPerformance": {
          "type": "array",
          "description": "Output only. Supported flex performance in a location.",
          "items": {
            "enum": [
              "FLEX_PERFORMANCE_UNSPECIFIED",
              "FLEX_PERFORMANCE_DEFAULT",
              "FLEX_PERFORMANCE_CUSTOM"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified flex performance.",
              "Flex Storage Pool with default performance.",
              "Flex Storage Pool with custom performance."
            ]
          },
          "readOnly": true
        },
        "hasVcp": {
          "type": "boolean",
          "description": "Output only. Indicates if the location has VCP support.",
          "readOnly": true
        },
        "flexPerformanceTier": {
          "enum": [
            "FLEX_PERFORMANCE_TIER_UNSPECIFIED",
            "LIMITED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Indicates the flex performance tier of this location.",
          "enumDescriptions": [
            "Unspecified flex performance tier.",
            "Flex performance tier is limited."
          ]
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "DailySchedule": {
      "id": "DailySchedule",
      "description": "Make a snapshot every day e.g. at 04:00, 05:20, 23:50",
      "properties": {
        "snapshotsToKeep": {
          "type": "number",
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "format": "double"
        },
        "hour": {
          "type": "number",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "format": "double"
        },
        "minute": {
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "CachePrePopulate": {
      "type": "object",
      "id": "CachePrePopulate",
      "description": "Pre-populate cache volume with data from the origin volume.",
      "properties": {
        "pathList": {
          "type": "array",
          "description": "Optional. List of directory-paths to be pre-populated for the FlexCache volume.",
          "items": {
            "type": "string"
          }
        },
        "recursion": {
          "description": "Optional. Flag indicating whether the directories listed with the `path_list` need to be recursively pre-populated.",
          "type": "boolean"
        },
        "excludePathList": {
          "description": "Optional. List of directory-paths to be excluded for pre-population for the FlexCache volume.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "UserCommands": {
      "id": "UserCommands",
      "description": "UserCommands contains the commands to be executed by the customer.",
      "properties": {
        "commands": {
          "readOnly": true,
          "description": "Output only. List of commands to be executed by the customer.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BackupRetentionPolicy": {
      "type": "object",
      "id": "BackupRetentionPolicy",
      "description": "Retention policy for backups in the backup vault",
      "properties": {
        "manualBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the manual backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        },
        "backupMinimumEnforcedRetentionDays": {
          "type": "integer",
          "description": "Required. Minimum retention duration in days for backups in the backup vault.",
          "format": "int32"
        },
        "weeklyBackupImmutable": {
          "description": "Optional. Indicates if the weekly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "monthlyBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the monthly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        },
        "dailyBackupImmutable": {
          "description": "Optional. Indicates if the daily backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        }
      }
    },
    "MountOption": {
      "id": "MountOption",
      "description": "View only mount options for a volume.",
      "properties": {
        "exportFull": {
          "type": "string",
          "description": "Full export string"
        },
        "export": {
          "type": "string",
          "description": "Export string"
        },
        "protocol": {
          "enumDescriptions": [
            "Unspecified protocol",
            "NFS V3 protocol",
            "NFS V4 protocol",
            "SMB protocol",
            "ISCSI protocol",
            "NVMe protocol"
          ],
          "type": "string",
          "description": "Protocol to mount with.",
          "enum": [
            "PROTOCOLS_UNSPECIFIED",
            "NFSV3",
            "NFSV4",
            "SMB",
            "ISCSI",
            "NVME"
          ]
        },
        "instructions": {
          "description": "Instructions for mounting",
          "type": "string"
        },
        "ipAddress": {
          "readOnly": true,
          "description": "Output only. IP Address.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ActiveDirectory": {
      "type": "object",
      "id": "ActiveDirectory",
      "description": "ActiveDirectory is the public representation of the active directory config.",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. Name of the Active Directory domain"
        },
        "aesEncryption": {
          "type": "boolean",
          "description": "If enabled, AES encryption will be enabled for SMB communication."
        },
        "encryptDcConnections": {
          "type": "boolean",
          "description": "If enabled, traffic between the SMB server to Domain Controller (DC) will be encrypted."
        },
        "kdcHostname": {
          "description": "Name of the active directory machine. This optional parameter is used only while creating kerberos volume",
          "type": "string"
        },
        "backupOperators": {
          "type": "array",
          "description": "Optional. Users to be added to the Built-in Backup Operator active directory group.",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels for the active directory."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified Active Directory State",
            "Active Directory State is Creating",
            "Active Directory State is Ready",
            "Active Directory State is Updating",
            "Active Directory State is In use",
            "Active Directory State is Deleting",
            "Active Directory State is Error",
            "Active Directory State is Diagnosing."
          ],
          "readOnly": true,
          "description": "Output only. The state of the AD.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "IN_USE",
            "DELETING",
            "ERROR",
            "DIAGNOSING"
          ]
        },
        "organizationalUnit": {
          "description": "The Organizational Unit (OU) within the Windows Active Directory the user belongs to.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Required. Username of the Active Directory domain administrator."
        },
        "ldapSigning": {
          "type": "boolean",
          "description": "Specifies whether or not the LDAP traffic needs to be signed."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Create time of the active directory.",
          "format": "google-datetime"
        },
        "dns": {
          "description": "Required. Comma separated list of DNS server IP addresses for the Active Directory domain.",
          "type": "string"
        },
        "administrators": {
          "description": "Optional. Users to be added to the Built-in Admininstrators group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "securityOperators": {
          "type": "array",
          "description": "Optional. Domain users to be given the SeSecurityPrivilege.",
          "items": {
            "type": "string"
          }
        },
        "site": {
          "type": "string",
          "description": "The Active Directory site the service will limit Domain Controller discovery too."
        },
        "netBiosPrefix": {
          "type": "string",
          "description": "Required. NetBIOSPrefix is used as a prefix for SMB server name."
        },
        "description": {
          "description": "Description of the active directory.",
          "type": "string"
        },
        "kdcIp": {
          "type": "string",
          "description": "KDC server IP address for the active directory machine."
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state details of the Active Directory."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`."
        },
        "password": {
          "description": "Required. Password of the Active Directory domain administrator.",
          "type": "string"
        },
        "nfsUsersWithLdap": {
          "description": "If enabled, will allow access to local users and LDAP users. If access is needed for only LDAP users, it has to be disabled.",
          "type": "boolean"
        }
      }
    },
    "KmsConfig": {
      "type": "object",
      "id": "KmsConfig",
      "description": "KmsConfig is the customer-managed encryption key(CMEK) configuration.",
      "properties": {
        "serviceAccount": {
          "description": "Output only. The Service account which will have access to the customer provided encryption key.",
          "readOnly": true,
          "type": "string"
        },
        "cryptoKeyName": {
          "description": "Required. Customer-managed crypto key resource full name. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Create time of the KmsConfig.",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified KmsConfig State",
            "KmsConfig State is Ready",
            "KmsConfig State is Creating",
            "KmsConfig State is Deleting",
            "KmsConfig State is Updating",
            "KmsConfig State is In Use.",
            "KmsConfig State is Error",
            "KmsConfig State is Pending to verify crypto key access.",
            "KmsConfig State is Not accessbile by the SDE service account to the crypto key.",
            "KmsConfig State is Disabling.",
            "KmsConfig State is Disabled.",
            "KmsConfig State is Migrating. The existing volumes are migrating from SMEK to CMEK."
          ],
          "description": "Output only. State of the KmsConfig.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "IN_USE",
            "ERROR",
            "KEY_CHECK_PENDING",
            "KEY_NOT_REACHABLE",
            "DISABLING",
            "DISABLED",
            "MIGRATING"
          ]
        },
        "description": {
          "type": "string",
          "description": "Description of the KmsConfig."
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State details of the KmsConfig."
        },
        "instructions": {
          "description": "Output only. Instructions to provide the access to the customer provided encryption key.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of the `KmsConfig`. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
          "type": "string"
        }
      }
    },
    "HybridPeeringDetails": {
      "id": "HybridPeeringDetails",
      "description": "HybridPeeringDetails contains details about the hybrid peering.",
      "properties": {
        "subnetIp": {
          "type": "string",
          "description": "Output only. IP address of the subnet.",
          "readOnly": true
        },
        "passphrase": {
          "type": "string",
          "description": "Output only. Temporary passphrase generated to accept cluster peering command.",
          "readOnly": true
        },
        "peerClusterName": {
          "type": "string",
          "description": "Output only. Name of the user's local source cluster to be peered with the destination cluster.",
          "readOnly": true
        },
        "peerSvmName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the user's local source vserver svm to be peered with the destination vserver svm."
        },
        "command": {
          "readOnly": true,
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "type": "string"
        },
        "commandExpiryTime": {
          "readOnly": true,
          "description": "Output only. Expiration time for the peering command to be executed on user's ONTAP.",
          "format": "google-datetime",
          "type": "string"
        },
        "peerVolumeName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the user's local source volume to be peered with the destination volume."
        }
      },
      "type": "object"
    },
    "HostGroup": {
      "id": "HostGroup",
      "description": "Host group is a collection of hosts that can be used for accessing a Block Volume.",
      "properties": {
        "type": {
          "description": "Required. Type of the host group.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ISCSI_INITIATOR"
          ],
          "enumDescriptions": [
            "Unspecified type for host group.",
            "iSCSI initiator host group."
          ],
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Unspecified state for host group.",
            "Host group is creating.",
            "Host group is ready.",
            "Host group is updating.",
            "Host group is deleting.",
            "Host group is disabled."
          ],
          "description": "Output only. State of the host group.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels of the host group."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Create time of the host group.",
          "format": "google-datetime"
        },
        "hosts": {
          "description": "Required. The list of hosts associated with the host group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "osType": {
          "description": "Required. The OS type of the host group. It indicates the type of operating system used by all of the hosts in the HostGroup. All hosts in a HostGroup must be of the same OS type. This can be set only when creating a HostGroup.",
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the host group."
        }
      },
      "type": "object"
    },
    "ListHostGroupsResponse": {
      "type": "object",
      "id": "ListHostGroupsResponse",
      "description": "ListHostGroupsResponse is the response to a ListHostGroupsRequest.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "hostGroups": {
          "type": "array",
          "description": "The list of host groups.",
          "items": {
            "$ref": "HostGroup"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListBackupPoliciesResponse": {
      "id": "ListBackupPoliciesResponse",
      "description": "ListBackupPoliciesResponse contains all the backup policies requested.",
      "properties": {
        "backupPolicies": {
          "description": "The list of backup policies.",
          "items": {
            "$ref": "BackupPolicy"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object"
    },
    "SwitchActiveReplicaZoneRequest": {
      "id": "SwitchActiveReplicaZoneRequest",
      "description": "SwitchActiveReplicaZoneRequest switch the active/replica zone for a regional storagePool.",
      "properties": {},
      "type": "object"
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been canceled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ValidateDirectoryServiceRequest": {
      "id": "ValidateDirectoryServiceRequest",
      "description": "ValidateDirectoryServiceRequest validates the directory service policy attached to the storage pool.",
      "properties": {
        "directoryServiceType": {
          "enumDescriptions": [
            "Directory service type is not specified.",
            "Active directory policy attached to the storage pool."
          ],
          "type": "string",
          "description": "Type of directory service policy attached to the storage pool.",
          "enum": [
            "DIRECTORY_SERVICE_TYPE_UNSPECIFIED",
            "ACTIVE_DIRECTORY"
          ]
        }
      },
      "type": "object"
    },
    "LargeCapacityConfig": {
      "type": "object",
      "id": "LargeCapacityConfig",
      "description": "Configuration for a Large Capacity Volume. A Large Capacity Volume supports sizes ranging from 4.8 TiB to 20 PiB; it is composed of multiple internal constituents, and must be created in a large capacity pool.",
      "properties": {
        "constituentCount": {
          "type": "integer",
          "description": "Optional. The number of internal constituents (e.g., FlexVols) for this large volume. The minimum number of constituents is 2.",
          "format": "int32"
        }
      }
    },
    "ListActiveDirectoriesResponse": {
      "id": "ListActiveDirectoriesResponse",
      "description": "ListActiveDirectoriesResponse contains all the active directories requested.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "activeDirectories": {
          "description": "The list of active directories.",
          "items": {
            "$ref": "ActiveDirectory"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "VolumeBackupConfig": {
      "id": "VolumeBackupConfig",
      "description": "Backup configuration for a volume in a pool.",
      "properties": {
        "volumeUuid": {
          "type": "string",
          "description": "Provides the Ontap UUID of the volume within the pool."
        },
        "backupConfig": {
          "description": "Backup configuration for the volume.",
          "$ref": "BackupConfig"
        }
      },
      "type": "object"
    },
    "ListQuotaRulesResponse": {
      "id": "ListQuotaRulesResponse",
      "description": "ListQuotaRulesResponse is the response to a ListQuotaRulesRequest.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "quotaRules": {
          "description": "List of quota rules",
          "items": {
            "$ref": "QuotaRule"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EncryptVolumesRequest": {
      "type": "object",
      "id": "EncryptVolumesRequest",
      "description": "EncryptVolumesRequest specifies the KMS config to encrypt existing volumes.",
      "properties": {}
    },
    "DestinationVolumeParameters": {
      "id": "DestinationVolumeParameters",
      "description": "DestinationVolumeParameters specify input parameters used for creating destination volume.",
      "properties": {
        "shareName": {
          "description": "Destination volume's share name. If not specified, source volume's share name will be used.",
          "type": "string"
        },
        "volumeId": {
          "type": "string",
          "description": "Desired destination volume resource id. If not specified, source volume's resource id will be used. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen."
        },
        "tieringPolicy": {
          "description": "Optional. Tiering policy for the volume.",
          "$ref": "TieringPolicy"
        },
        "storagePool": {
          "description": "Required. Existing destination StoragePool name.",
          "type": "string"
        },
        "description": {
          "description": "Description for the destination volume.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExecuteOntapPostRequest": {
      "id": "ExecuteOntapPostRequest",
      "description": "Request message for `ExecuteOntapPost` API.",
      "properties": {
        "body": {
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "SplitStatus": {
      "id": "SplitStatus",
      "description": "Message for SplitStatus.",
      "properties": {
        "splitState": {
          "type": "string",
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ],
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "description": "Output only. The current state of the clone split operation.",
          "readOnly": true
        },
        "progressPercent": {
          "description": "Output only. The estimated progress percentage of the split operation (0-100). This is meaningful primarily when split_state is IN_PROGRESS.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. Human-readable details about the current state. Mostly used for displaying error messages during split failure Examples: \"Split in progress\", \"Error: insufficient capacity\".",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListKmsConfigsResponse": {
      "type": "object",
      "id": "ListKmsConfigsResponse",
      "description": "ListKmsConfigsResponse is the response to a ListKmsConfigsRequest.",
      "properties": {
        "kmsConfigs": {
          "type": "array",
          "description": "The list of KmsConfigs",
          "items": {
            "$ref": "KmsConfig"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "ListStoragePoolsResponse": {
      "type": "object",
      "id": "ListStoragePoolsResponse",
      "description": "ListStoragePoolsResponse is the response to a ListStoragePoolsRequest.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "storagePools": {
          "type": "array",
          "description": "The list of StoragePools",
          "items": {
            "$ref": "StoragePool"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "EstablishVolumePeeringRequest": {
      "id": "EstablishVolumePeeringRequest",
      "description": "EstablishVolumePeeringRequest establishes cluster and svm peerings between the source and destination clusters.",
      "properties": {
        "peerSvmName": {
          "type": "string",
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm."
        },
        "peerClusterName": {
          "type": "string",
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster."
        },
        "peerIpAddresses": {
          "type": "array",
          "description": "Optional. List of IPv4 IP addresses to be used for peering.",
          "items": {
            "type": "string"
          }
        },
        "peerVolumeName": {
          "type": "string",
          "description": "Required. Name of the user's local source volume to be peered with the destination volume."
        }
      },
      "type": "object"
    },
    "CloneDetails": {
      "id": "CloneDetails",
      "description": "Details about a clone volume.",
      "properties": {
        "sourceVolume": {
          "readOnly": true,
          "description": "Output only. Full name of the source volume resource. Format: projects/{project}/locations/{location}/volumes/{volume}",
          "type": "string"
        },
        "splitState": {
          "readOnly": true,
          "description": "Output only. The current state of the clone split operation.",
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ],
          "type": "string"
        },
        "sourceSnapshot": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the full resource name of the source snapshot from which this volume was cloned. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}"
        },
        "sharedSpaceGib": {
          "type": "string",
          "description": "Output only. Shared space in GiB. Determined at volume creation time based on size of source snapshot.",
          "format": "int64",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "EstablishPeeringRequest": {
      "type": "object",
      "id": "EstablishPeeringRequest",
      "description": "EstablishPeeringRequest establishes cluster and svm peerings between the source and the destination replications.",
      "properties": {
        "peerClusterName": {
          "type": "string",
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster."
        },
        "peerIpAddresses": {
          "type": "array",
          "description": "Optional. List of IPv4 ip addresses to be used for peering.",
          "items": {
            "type": "string"
          }
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object"
    },
    "BackupSource": {
      "type": "object",
      "id": "BackupSource",
      "description": "Represents the backup source of the restore operation.",
      "properties": {
        "fileList": {
          "description": "Optional. List of files to be restored in the form of their absolute path as in source volume. If provided, only these files will be restored. If not provided, the entire backup will be restored (Full Backup Restore)",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "backup": {
          "type": "string",
          "description": "Required. The backup resource name."
        }
      }
    },
    "BackupPolicy": {
      "type": "object",
      "id": "BackupPolicy",
      "description": "Backup Policy.",
      "properties": {
        "dailyBackupLimit": {
          "description": "Number of daily backups to keep. Note that the minimum daily backup limit is 2.",
          "format": "int32",
          "type": "integer"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "type": "string",
          "description": "Output only. The backup policy state.",
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "BackupPolicy is being created.",
            "BackupPolicy is available for use.",
            "BackupPolicy is being deleted.",
            "BackupPolicy is not valid and cannot be used.",
            "BackupPolicy is being updated."
          ]
        },
        "assignedVolumeCount": {
          "readOnly": true,
          "description": "Output only. The total number of volumes assigned by this backup policy.",
          "format": "int32",
          "type": "integer"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backup policy. Format: `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`."
        },
        "description": {
          "description": "Description of the backup policy.",
          "type": "string"
        },
        "weeklyBackupLimit": {
          "description": "Number of weekly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "format": "int32",
          "type": "integer"
        },
        "monthlyBackupLimit": {
          "description": "Number of monthly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "format": "int32",
          "type": "integer"
        },
        "enabled": {
          "description": "If enabled, make backups automatically according to the schedules. This will be applied to all volumes that have this policy attached and enforced on volume level. If not specified, default is true.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the backup policy was created.",
          "format": "google-datetime"
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "ReverseReplicationDirectionRequest": {
      "type": "object",
      "id": "ReverseReplicationDirectionRequest",
      "description": "ReverseReplicationDirectionRequest reverses direction of replication. Source becomes destination and destination becomes source.",
      "properties": {}
    },
    "SimpleExportPolicyRule": {
      "type": "object",
      "id": "SimpleExportPolicyRule",
      "description": "An export policy rule describing various export options.",
      "properties": {
        "nfsv4": {
          "description": "NFS V4 protocol.",
          "type": "boolean"
        },
        "kerberos5pReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode. The 'kerberos5pReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "accessType": {
          "enumDescriptions": [
            "Unspecified Access Type",
            "Read Only",
            "Read Write",
            "None"
          ],
          "type": "string",
          "description": "Access type (ReadWrite, ReadOnly, None)",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "READ_NONE"
          ]
        },
        "nfsv3": {
          "description": "NFS V3 protocol.",
          "type": "boolean"
        },
        "kerberos5iReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode. The 'kerberos5iReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "kerberos5pReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode.",
          "type": "boolean"
        },
        "allowedClients": {
          "description": "Comma separated list of allowed clients IP addresses",
          "type": "string"
        },
        "squashMode": {
          "enumDescriptions": [
            "Defaults to `NO_ROOT_SQUASH`.",
            "The root user (UID 0) retains full access. Other users are unaffected.",
            "The root user (UID 0) is squashed to anonymous user ID. Other users are unaffected.",
            "All users are squashed to anonymous user ID."
          ],
          "type": "string",
          "description": "Optional. Defines how user identity squashing is applied for this export rule. This field is the preferred way to configure squashing behavior and takes precedence over `has_root_access` if both are provided.",
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH",
            "ALL_SQUASH"
          ]
        },
        "kerberos5iReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode."
        },
        "anonUid": {
          "description": "Optional. An integer representing the anonymous user ID. Range is 0 to `4294967295`. Required when `squash_mode` is `ROOT_SQUASH` or `ALL_SQUASH`.",
          "format": "int64",
          "type": "string"
        },
        "kerberos5ReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode."
        },
        "hasRootAccess": {
          "description": "Whether Unix root access will be granted.",
          "type": "string"
        },
        "kerberos5ReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode. The 'kerberos5ReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        }
      }
    },
    "Backup": {
      "type": "object",
      "id": "Backup",
      "description": "A NetApp Backup.",
      "properties": {
        "backupType": {
          "enumDescriptions": [
            "Unspecified backup type.",
            "Manual backup type.",
            "Scheduled backup type."
          ],
          "description": "Output only. Type of backup, manually created or created by a backup policy.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MANUAL",
            "SCHEDULED"
          ]
        },
        "sourceVolume": {
          "type": "string",
          "description": "The resource name of the volume that this backup belongs to. You must provide either `source_volume` or `ontap_source`. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}`"
        },
        "ontapSource": {
          "description": "Optional. Represents source details for ONTAP backups. Either source_volume or ontap_source should be provided.",
          "$ref": "OntapSource"
        },
        "backupRegion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Region in which backup is stored. Format: `projects/{project_id}/locations/{location}`"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use",
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The backup state.",
          "enumDescriptions": [
            "State not set.",
            "Backup is being created. While in this state, the snapshot for the backup point-in-time may not have been created yet, and so the point-in-time may not have been fixed.",
            "Backup is being uploaded. While in this state, none of the writes to the volume will be included in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new volumes or restoring existing volumes.",
            "Backup is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPLOADING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "chainStorageBytes": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)",
          "format": "int64"
        },
        "volumeRegion": {
          "description": "Output only. Region of the volume from which the backup was created. Format: `projects/{project_id}/locations/{location}`",
          "readOnly": true,
          "type": "string"
        },
        "sourceSnapshot": {
          "type": "string",
          "description": "If specified, backup will be created from the given snapshot. If not specified, there will be a new snapshot taken to initiate the backup creation. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`"
        },
        "volumeUsageBytes": {
          "type": "string",
          "description": "Output only. Size of the file system when the backup was created. When creating a new volume from the backup, the volume capacity will have to be at least as big.",
          "format": "int64",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the backup was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "enforcedRetentionEndTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time until which the backup is not deletable.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backup. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`."
        },
        "description": {
          "type": "string",
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected."
        }
      }
    },
    "QuotaRule": {
      "type": "object",
      "id": "QuotaRule",
      "description": "QuotaRule specifies the maximum disk space a user or group can use within a volume. They can be used for creating default and individual quota rules.",
      "properties": {
        "diskLimitMib": {
          "description": "Required. The maximum allowed disk space in MiB.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`."
        },
        "target": {
          "type": "string",
          "description": "Optional. The quota rule applies to the specified user or group, identified by a Unix UID/GID, Windows SID, or null for default."
        },
        "stateDetails": {
          "description": "Output only. State details of the quota rule",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the quota rule",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "READY",
            "ERROR"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the quota rule",
          "enumDescriptions": [
            "Unspecified state for quota rule",
            "Quota rule is creating",
            "Quota rule is updating",
            "Quota rule is deleting",
            "Quota rule is ready",
            "Quota rule is in error state."
          ]
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels of the quota rule"
        },
        "createTime": {
          "description": "Output only. Create time of the quota rule",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Required. The type of quota rule.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INDIVIDUAL_USER_QUOTA",
            "INDIVIDUAL_GROUP_QUOTA",
            "DEFAULT_USER_QUOTA",
            "DEFAULT_GROUP_QUOTA"
          ],
          "enumDescriptions": [
            "Unspecified type for quota rule",
            "Individual user quota rule",
            "Individual group quota rule",
            "Default user quota rule",
            "Default group quota rule"
          ],
          "type": "string"
        }
      }
    },
    "BackupVault": {
      "id": "BackupVault",
      "description": "A NetApp BackupVault.",
      "properties": {
        "backupRegion": {
          "description": "Optional. Region where the backups are stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "type": "string",
          "description": "Output only. The backup vault state.",
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "BackupVault is being created.",
            "BackupVault is available for use.",
            "BackupVault is being deleted.",
            "BackupVault is not valid and cannot be used.",
            "BackupVault is being updated."
          ]
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata."
        },
        "kmsConfig": {
          "type": "string",
          "description": "Optional. Specifies the Key Management System (KMS) configuration to be used for backup encryption. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`"
        },
        "encryptionState": {
          "enumDescriptions": [
            "Encryption state not set.",
            "Encryption state is pending.",
            "Encryption is complete.",
            "Encryption is in progress.",
            "Encryption has failed."
          ],
          "description": "Output only. Field indicating encryption state of CMEK backups.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "ENCRYPTION_STATE_PENDING",
            "ENCRYPTION_STATE_COMPLETED",
            "ENCRYPTION_STATE_IN_PROGRESS",
            "ENCRYPTION_STATE_FAILED"
          ]
        },
        "sourceBackupVault": {
          "type": "string",
          "description": "Output only. Name of the Backup vault created in source region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "readOnly": true
        },
        "backupVaultType": {
          "description": "Optional. Type of backup vault to be created. Default is IN_REGION.",
          "enum": [
            "BACKUP_VAULT_TYPE_UNSPECIFIED",
            "IN_REGION",
            "CROSS_REGION"
          ],
          "enumDescriptions": [
            "BackupVault type not set.",
            "BackupVault type is IN_REGION.",
            "BackupVault type is CROSS_REGION."
          ],
          "type": "string"
        },
        "backupRetentionPolicy": {
          "description": "Optional. Backup retention policy defining the retention of backups.",
          "$ref": "BackupRetentionPolicy"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Create time of the backup vault.",
          "format": "google-datetime"
        },
        "destinationBackupVault": {
          "readOnly": true,
          "description": "Output only. Name of the Backup vault created in backup region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "type": "string"
        },
        "sourceRegion": {
          "description": "Optional. Region in which the backup vault is created. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "backupsCryptoKeyVersion": {
          "readOnly": true,
          "description": "Output only. The crypto key version used to encrypt the backup vault. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the backup vault. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`.",
          "type": "string"
        },
        "description": {
          "description": "Description of the backup vault.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExecuteOntapDeleteResponse": {
      "type": "object",
      "id": "ExecuteOntapDeleteResponse",
      "description": "Response message for `ExecuteOntapDelete` API.",
      "properties": {
        "body": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The raw `JSON` body of the response."
        }
      }
    },
    "SnapshotPolicy": {
      "type": "object",
      "id": "SnapshotPolicy",
      "description": "Snapshot Policy for a volume.",
      "properties": {
        "hourlySchedule": {
          "description": "Hourly schedule policy.",
          "$ref": "HourlySchedule"
        },
        "weeklySchedule": {
          "description": "Weekly schedule policy.",
          "$ref": "WeeklySchedule"
        },
        "monthlySchedule": {
          "description": "Monthly schedule policy.",
          "$ref": "MonthlySchedule"
        },
        "dailySchedule": {
          "description": "Daily schedule policy.",
          "$ref": "DailySchedule"
        },
        "enabled": {
          "type": "boolean",
          "description": "If enabled, make snapshots automatically according to the schedules. Default is false."
        }
      }
    },
    "HybridReplicationParameters": {
      "id": "HybridReplicationParameters",
      "description": "The Hybrid Replication parameters for the volume.",
      "properties": {
        "replication": {
          "type": "string",
          "description": "Required. Desired name for the replication of this volume."
        },
        "description": {
          "description": "Optional. Description of the replication.",
          "type": "string"
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "peerIpAddresses": {
          "type": "array",
          "description": "Required. List of node ip addresses to be peered with.",
          "items": {
            "type": "string"
          }
        },
        "clusterLocation": {
          "description": "Optional. Name of source cluster location associated with the Hybrid replication. This is a free-form field for the display purpose only.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels to be added to the replication as the key value pairs."
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "hybridReplicationType": {
          "description": "Optional. Type of the hybrid replication.",
          "enum": [
            "VOLUME_HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "New field for reversible OnPrem replication, to be used for data protection."
          ]
        },
        "peerSvmName": {
          "type": "string",
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm."
        },
        "largeVolumeConstituentCount": {
          "type": "integer",
          "description": "Optional. Constituent volume count for large volume.",
          "format": "int32"
        },
        "replicationSchedule": {
          "description": "Optional. Replication Schedule for the replication created.",
          "enum": [
            "HYBRID_REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified HybridReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ]
        }
      },
      "type": "object"
    },
    "BackupConfig": {
      "id": "BackupConfig",
      "description": "BackupConfig contains backup related config on a volume.",
      "properties": {
        "scheduledBackupEnabled": {
          "type": "boolean",
          "description": "Optional. When set to true, scheduled backup is enabled on the volume. This field should be nil when there's no backup policy attached."
        },
        "backupChainBytes": {
          "type": "string",
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size).",
          "format": "int64",
          "readOnly": true
        },
        "backupPolicies": {
          "type": "array",
          "description": "Optional. When specified, schedule backups will be created based on the policy configuration.",
          "items": {
            "type": "string"
          }
        },
        "backupVault": {
          "type": "string",
          "description": "Optional. Name of backup vault. Format: projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}"
        }
      },
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      }
    },
    "ResumeReplicationRequest": {
      "type": "object",
      "id": "ResumeReplicationRequest",
      "description": "ResumeReplicationRequest resumes a stopped replication.",
      "properties": {}
    },
    "RestoreBackupFilesRequest": {
      "id": "RestoreBackupFilesRequest",
      "description": "RestoreBackupFilesRequest restores files from a backup to a volume.",
      "properties": {
        "backup": {
          "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`",
          "type": "string"
        },
        "fileList": {
          "type": "array",
          "description": "Required. List of files to be restored, specified by their absolute path in the source volume.",
          "items": {
            "type": "string"
          }
        },
        "restoreDestinationPath": {
          "description": "Optional. Absolute directory path in the destination volume. This is required if the `file_list` is provided.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TieringPolicy": {
      "type": "object",
      "id": "TieringPolicy",
      "description": "Defines tiering policy for the volume.",
      "properties": {
        "tierAction": {
          "description": "Optional. Flag indicating if the volume has tiering policy enable/pause. Default is PAUSED.",
          "enum": [
            "TIER_ACTION_UNSPECIFIED",
            "ENABLED",
            "PAUSED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "When tiering is enabled, new cold data will be tiered.",
            "When paused, tiering won't be performed on new data. Existing data stays tiered until accessed."
          ],
          "type": "string"
        },
        "hotTierBypassModeEnabled": {
          "description": "Optional. Flag indicating that the hot tier bypass mode is enabled. Default is false. This is only applicable to Flex service level.",
          "type": "boolean"
        },
        "coolingThresholdDays": {
          "type": "integer",
          "description": "Optional. Time in days to mark the volume's data block as cold and make it eligible for tiering, can be range from 2-183. Default is 31.",
          "format": "int32"
        }
      }
    },
    "VerifyKmsConfigResponse": {
      "type": "object",
      "id": "VerifyKmsConfigResponse",
      "description": "VerifyKmsConfigResponse contains the information if the config is correctly and error message.",
      "properties": {
        "healthy": {
          "readOnly": true,
          "description": "Output only. If the customer key configured correctly to the encrypt volume.",
          "type": "boolean"
        },
        "healthError": {
          "type": "string",
          "description": "Output only. Error message if config is not healthy.",
          "readOnly": true
        },
        "instructions": {
          "readOnly": true,
          "description": "Output only. Instructions for the customers to provide the access to the encryption key.",
          "type": "string"
        }
      }
    },
    "Volume": {
      "id": "Volume",
      "description": "Volume provides a filesystem that you can mount.",
      "properties": {
        "usedGib": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Used capacity in GIB of the volume. This is computed periodically and it does not represent the realtime usage.",
          "format": "int64"
        },
        "multipleEndpoints": {
          "description": "Optional. Flag indicating if the volume will have an IP address per node for volumes supporting multiple IP endpoints. Only the volume with large_capacity will be allowed to have multiple endpoints.",
          "type": "boolean"
        },
        "coldTierSizeGib": {
          "type": "string",
          "description": "Output only. Size of the volume cold tier data rounded down to the nearest GiB.",
          "format": "int64",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Create time of the volume",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "unixPermissions": {
          "description": "Optional. Default unix style permission (e.g. 777) the mount point will be created with. Applicable for NFS protocol types only.",
          "type": "string"
        },
        "snapshotDirectory": {
          "type": "boolean",
          "description": "Optional. Snapshot_directory if enabled (true) the volume will contain a read-only .snapshot directory which provides access to each of the volume's snapshots."
        },
        "shareName": {
          "type": "string",
          "description": "Required. Share name of the volume"
        },
        "capacityGib": {
          "type": "string",
          "description": "Required. Capacity in GIB of the volume",
          "format": "int64"
        },
        "hotTierSizeUsedGib": {
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the Volume. This field is only used for flex Service Level",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "ldapEnabled": {
          "type": "boolean",
          "description": "Output only. Flag indicating if the volume is NFS LDAP enabled or not.",
          "readOnly": true
        },
        "serviceLevel": {
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ],
          "description": "Output only. Service level of the volume",
          "readOnly": true,
          "type": "string",
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ]
        },
        "protocols": {
          "description": "Required. Protocols required for the volume",
          "items": {
            "enumDescriptions": [
              "Unspecified protocol",
              "NFS V3 protocol",
              "NFS V4 protocol",
              "SMB protocol",
              "ISCSI protocol",
              "NVMe protocol"
            ],
            "type": "string",
            "enum": [
              "PROTOCOLS_UNSPECIFIED",
              "NFSV3",
              "NFSV4",
              "SMB",
              "ISCSI",
              "NVME"
            ]
          },
          "type": "array"
        },
        "zone": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the active zone for regional volume."
        },
        "smbSettings": {
          "type": "array",
          "description": "Optional. SMB share settings for the volume.",
          "items": {
            "enumDescriptions": [
              "Unspecified default option",
              "SMB setting encrypt data",
              "SMB setting browsable",
              "SMB setting notify change",
[...]
