{
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://netapp.mtls.googleapis.com/",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "rootUrl": "https://netapp.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "Google Cloud NetApp Volumes is a fully-managed, cloud-based data storage service that provides advanced data management capabilities and highly scalable performance with global availability.",
  "schemas": {
    "ActiveDirectory": {
      "description": "ActiveDirectory is the public representation of the active directory config.",
      "type": "object",
      "id": "ActiveDirectory",
      "properties": {
        "netBiosPrefix": {
          "type": "string",
          "description": "Required. NetBIOSPrefix is used as a prefix for SMB server name."
        },
        "password": {
          "description": "Required. Password of the Active Directory domain administrator.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the active directory."
        },
        "dns": {
          "description": "Required. Comma separated list of DNS server IP addresses for the Active Directory domain.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Required. Name of the Active Directory domain"
        },
        "encryptDcConnections": {
          "description": "If enabled, traffic between the SMB server to Domain Controller (DC) will be encrypted.",
          "type": "boolean"
        },
        "site": {
          "type": "string",
          "description": "The Active Directory site the service will limit Domain Controller discovery too."
        },
        "securityOperators": {
          "type": "array",
          "description": "Optional. Domain users to be given the SeSecurityPrivilege.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`.",
          "type": "string"
        },
        "administrators": {
          "description": "Optional. Users to be added to the Built-in Admininstrators group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the AD.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "IN_USE",
            "DELETING",
            "ERROR",
            "DIAGNOSING"
          ],
          "enumDescriptions": [
            "Unspecified Active Directory State",
            "Active Directory State is Creating",
            "Active Directory State is Ready",
            "Active Directory State is Updating",
            "Active Directory State is In use",
            "Active Directory State is Deleting",
            "Active Directory State is Error",
            "Active Directory State is Diagnosing."
          ]
        },
        "nfsUsersWithLdap": {
          "type": "boolean",
          "description": "If enabled, will allow access to local users and LDAP users. If access is needed for only LDAP users, it has to be disabled."
        },
        "aesEncryption": {
          "description": "If enabled, AES encryption will be enabled for SMB communication.",
          "type": "boolean"
        },
        "backupOperators": {
          "type": "array",
          "description": "Optional. Users to be added to the Built-in Backup Operator active directory group.",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "type": "object",
          "description": "Labels for the active directory.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. The state details of the Active Directory.",
          "readOnly": true
        },
        "ldapSigning": {
          "description": "Specifies whether or not the LDAP traffic needs to be signed.",
          "type": "boolean"
        },
        "organizationalUnit": {
          "type": "string",
          "description": "The Organizational Unit (OU) within the Windows Active Directory the user belongs to."
        },
        "username": {
          "description": "Required. Username of the Active Directory domain administrator.",
          "type": "string"
        },
        "kdcIp": {
          "type": "string",
          "description": "KDC server IP address for the active directory machine."
        },
        "createTime": {
          "description": "Output only. Create time of the active directory.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "kdcHostname": {
          "description": "Name of the active directory machine. This optional parameter is used only while creating kerberos volume",
          "type": "string"
        }
      }
    },
    "EncryptVolumesRequest": {
      "type": "object",
      "id": "EncryptVolumesRequest",
      "properties": {},
      "description": "EncryptVolumesRequest specifies the KMS config to encrypt existing volumes."
    },
    "ListBackupConfigsResponse": {
      "id": "ListBackupConfigsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "volumeBackupConfigs": {
          "type": "array",
          "description": "A list of backup configurations for volumes in the pool.",
          "items": {
            "$ref": "VolumeBackupConfig"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message for response to listing BackupConfigs in an ONTAP StoragePool."
    },
    "ListBackupsResponse": {
      "description": "ListBackupsResponse is the result of ListBackupsRequest.",
      "type": "object",
      "id": "ListBackupsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "backups": {
          "description": "A list of backups in the project.",
          "items": {
            "$ref": "Backup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        }
      }
    },
    "Snapshot": {
      "description": "Snapshot is a point-in-time version of a Volume's content.",
      "type": "object",
      "id": "Snapshot",
      "properties": {
        "usedBytes": {
          "type": "number",
          "format": "double",
          "description": "Output only. Current storage usage for the snapshot in bytes.",
          "readOnly": true
        },
        "description": {
          "description": "A description of the snapshot with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "stateDetails": {
          "description": "Output only. State details of the storage pool",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the snapshot. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified Snapshot State",
            "Snapshot State is Ready",
            "Snapshot State is Creating",
            "Snapshot State is Deleting",
            "Snapshot State is Updating",
            "Snapshot State is Disabled",
            "Snapshot State is Error"
          ],
          "description": "Output only. The snapshot state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "DISABLED",
            "ERROR"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the snapshot was created.",
          "readOnly": true
        }
      }
    },
    "KmsConfig": {
      "description": "KmsConfig is the customer-managed encryption key(CMEK) configuration.",
      "id": "KmsConfig",
      "properties": {
        "stateDetails": {
          "type": "string",
          "description": "Output only. State details of the KmsConfig.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Description of the KmsConfig."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Output only. The Service account which will have access to the customer provided encryption key.",
          "readOnly": true
        },
        "instructions": {
          "type": "string",
          "description": "Output only. Instructions to provide the access to the customer provided encryption key.",
          "readOnly": true
        },
        "cryptoKeyName": {
          "description": "Required. Customer-managed crypto key resource full name. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the KmsConfig.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "IN_USE",
            "ERROR",
            "KEY_CHECK_PENDING",
            "KEY_NOT_REACHABLE",
            "DISABLING",
            "DISABLED",
            "MIGRATING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified KmsConfig State",
            "KmsConfig State is Ready",
            "KmsConfig State is Creating",
            "KmsConfig State is Deleting",
            "KmsConfig State is Updating",
            "KmsConfig State is In Use.",
            "KmsConfig State is Error",
            "KmsConfig State is Pending to verify crypto key access.",
            "KmsConfig State is Not accessbile by the SDE service account to the crypto key.",
            "KmsConfig State is Disabling.",
            "KmsConfig State is Disabled.",
            "KmsConfig State is Migrating. The existing volumes are migrating from SMEK to CMEK."
          ]
        },
        "createTime": {
          "description": "Output only. Create time of the KmsConfig.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. Name of the `KmsConfig`. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExecuteOntapGetResponse": {
      "id": "ExecuteOntapGetResponse",
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "Response message for `ExecuteOntapGet` API."
    },
    "ListBackupPoliciesResponse": {
      "type": "object",
      "id": "ListBackupPoliciesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "backupPolicies": {
          "description": "The list of backup policies.",
          "items": {
            "$ref": "BackupPolicy"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "ListBackupPoliciesResponse contains all the backup policies requested."
    },
    "ListQuotaRulesResponse": {
      "description": "ListQuotaRulesResponse is the response to a ListQuotaRulesRequest.",
      "id": "ListQuotaRulesResponse",
      "properties": {
        "quotaRules": {
          "description": "List of quota rules",
          "items": {
            "$ref": "QuotaRule"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "UserCommands": {
      "id": "UserCommands",
      "properties": {
        "commands": {
          "type": "array",
          "description": "Output only. List of commands to be executed by the customer.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "UserCommands contains the commands to be executed by the customer."
    },
    "ReverseReplicationDirectionRequest": {
      "id": "ReverseReplicationDirectionRequest",
      "properties": {},
      "type": "object",
      "description": "ReverseReplicationDirectionRequest reverses direction of replication. Source becomes destination and destination becomes source."
    },
    "Backup": {
      "type": "object",
      "id": "Backup",
      "properties": {
        "sourceSnapshot": {
          "description": "If specified, backup will be created from the given snapshot. If not specified, there will be a new snapshot taken to initiate the backup creation. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`",
          "type": "string"
        },
        "volumeUsageBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Size of the file system when the backup was created. When creating a new volume from the backup, the volume capacity will have to be at least as big.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "volumeRegion": {
          "type": "string",
          "description": "Output only. Region of the volume from which the backup was created. Format: `projects/{project_id}/locations/{location}`",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the backup was created.",
          "readOnly": true
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use",
          "readOnly": true
        },
        "chainStorageBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)",
          "readOnly": true
        },
        "backupRegion": {
          "description": "Output only. Region in which backup is stored. Format: `projects/{project_id}/locations/{location}`",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected."
        },
        "sourceVolume": {
          "type": "string",
          "description": "The resource name of the volume that this backup belongs to. You must provide either `source_volume` or `ontap_source`. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}`"
        },
        "ontapSource": {
          "description": "Optional. Represents source details for ONTAP backups. Either source_volume or ontap_source should be provided.",
          "$ref": "OntapSource"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backup. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`."
        },
        "backupType": {
          "type": "string",
          "description": "Output only. Type of backup, manually created or created by a backup policy.",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "MANUAL",
            "SCHEDULED"
          ],
          "enumDescriptions": [
            "Unspecified backup type.",
            "Manual backup type.",
            "Scheduled backup type."
          ]
        },
        "state": {
          "description": "Output only. The backup state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPLOADING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "Backup is being created. While in this state, the snapshot for the backup point-in-time may not have been created yet, and so the point-in-time may not have been fixed.",
            "Backup is being uploaded. While in this state, none of the writes to the volume will be included in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new volumes or restoring existing volumes.",
            "Backup is being updated."
          ]
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use",
          "readOnly": true
        },
        "enforcedRetentionEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time until which the backup is not deletable.",
          "readOnly": true
        }
      },
      "description": "A NetApp Backup."
    },
    "HourlySchedule": {
      "id": "HourlySchedule",
      "properties": {
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number",
          "format": "double"
        },
        "minute": {
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Make a snapshot every hour e.g. at 04:00, 05:00, 06:00."
    },
    "ExecuteOntapPostResponse": {
      "id": "ExecuteOntapPostResponse",
      "properties": {
        "body": {
          "type": "object",
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object",
      "description": "Response message for `ExecuteOntapPost` API."
    },
    "ListStoragePoolsResponse": {
      "description": "ListStoragePoolsResponse is the response to a ListStoragePoolsRequest.",
      "type": "object",
      "id": "ListStoragePoolsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "storagePools": {
          "type": "array",
          "description": "The list of StoragePools",
          "items": {
            "$ref": "StoragePool"
          }
        }
      }
    },
    "TransferStats": {
      "id": "TransferStats",
      "properties": {
        "lagDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Lag duration indicates the duration by which Destination region volume content lags behind the primary region volume content."
        },
        "lastTransferEndTime": {
          "description": "Time when last transfer completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "transferBytes": {
          "description": "Cumulative bytes transferred so far for the replication relationship.",
          "type": "string",
          "format": "int64"
        },
        "lastTransferDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Time taken during last transfer."
        },
        "lastTransferBytes": {
          "description": "Last transfer size in bytes.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "description": "Time when progress was updated last.",
          "type": "string",
          "format": "google-datetime"
        },
        "totalTransferDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Cumulative time taken across all transfers for the replication relationship."
        },
        "lastTransferError": {
          "type": "string",
          "description": "A message describing the cause of the last transfer failure."
        }
      },
      "type": "object",
      "description": "TransferStats reports all statistics related to replication transfer."
    },
    "VolumeBackupConfig": {
      "description": "Backup configuration for a volume in a pool.",
      "type": "object",
      "id": "VolumeBackupConfig",
      "properties": {
        "volumeUuid": {
          "description": "Provides the Ontap UUID of the volume within the pool.",
          "type": "string"
        },
        "backupConfig": {
          "description": "Backup configuration for the volume.",
          "$ref": "BackupConfig"
        }
      }
    },
    "ListActiveDirectoriesResponse": {
      "type": "object",
      "id": "ListActiveDirectoriesResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "activeDirectories": {
          "description": "The list of active directories.",
          "items": {
            "$ref": "ActiveDirectory"
          },
          "type": "array"
        }
      },
      "description": "ListActiveDirectoriesResponse contains all the active directories requested."
    },
    "UpdateBackupConfigRequest": {
      "id": "UpdateBackupConfigRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. Field mask is used to specify the fields to be overwritten in the BackupConfig for the Volume. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask."
        },
        "backupConfig": {
          "$ref": "BackupConfig",
          "description": "Required. Backup configuration to apply."
        },
        "volumeUuid": {
          "description": "Required. The UUID of the ONTAP-mode volume.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for UpdateBackupConfig"
    },
    "WeeklySchedule": {
      "type": "object",
      "id": "WeeklySchedule",
      "properties": {
        "day": {
          "type": "string",
          "description": "Set the day or days of the week to make a snapshot. Accepts a comma separated days of the week. Defaults to 'Sunday'."
        },
        "hour": {
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number",
          "format": "double"
        },
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number",
          "format": "double"
        },
        "minute": {
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Make a snapshot every week e.g. at Monday 04:00, Wednesday 05:20, Sunday 23:50"
    },
    "BackupPolicy": {
      "id": "BackupPolicy",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the backup policy."
        },
        "labels": {
          "type": "object",
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dailyBackupLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Number of daily backups to keep. Note that the minimum daily backup limit is 2."
        },
        "assignedVolumeCount": {
          "description": "Output only. The total number of volumes assigned by this backup policy.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "weeklyBackupLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Number of weekly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1."
        },
        "monthlyBackupLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Number of monthly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1."
        },
        "enabled": {
          "description": "If enabled, make backups automatically according to the schedules. This will be applied to all volumes that have this policy attached and enforced on volume level. If not specified, default is true.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the backup policy was created.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Output only. The backup policy state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "enumDescriptions": [
            "State not set.",
            "BackupPolicy is being created.",
            "BackupPolicy is available for use.",
            "BackupPolicy is being deleted.",
            "BackupPolicy is not valid and cannot be used.",
            "BackupPolicy is being updated."
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the backup policy. Format: `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Backup Policy."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "EstablishVolumePeeringRequest": {
      "description": "EstablishVolumePeeringRequest establishes cluster and svm peerings between the source and destination clusters.",
      "type": "object",
      "id": "EstablishVolumePeeringRequest",
      "properties": {
        "peerSvmName": {
          "type": "string",
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm."
        },
        "peerIpAddresses": {
          "description": "Optional. List of IPv4 IP addresses to be used for peering.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        }
      }
    },
    "ResumeReplicationRequest": {
      "description": "ResumeReplicationRequest resumes a stopped replication.",
      "type": "object",
      "id": "ResumeReplicationRequest",
      "properties": {}
    },
    "ListHostGroupsResponse": {
      "description": "ListHostGroupsResponse is the response to a ListHostGroupsRequest.",
      "type": "object",
      "id": "ListHostGroupsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "hostGroups": {
          "description": "The list of host groups.",
          "items": {
            "$ref": "HostGroup"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BackupRetentionPolicy": {
      "description": "Retention policy for backups in the backup vault",
      "type": "object",
      "id": "BackupRetentionPolicy",
      "properties": {
        "weeklyBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the weekly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        },
        "backupMinimumEnforcedRetentionDays": {
          "description": "Required. Minimum retention duration in days for backups in the backup vault.",
          "type": "integer",
          "format": "int32"
        },
        "dailyBackupImmutable": {
          "description": "Optional. Indicates if the daily backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "monthlyBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the monthly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        },
        "manualBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the manual backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        }
      }
    },
    "RevertVolumeRequest": {
      "description": "RevertVolumeRequest reverts the given volume to the specified snapshot.",
      "id": "RevertVolumeRequest",
      "properties": {
        "snapshotId": {
          "type": "string",
          "description": "Required. The snapshot resource ID, in the format 'my-snapshot', where the specified ID is the {snapshot_id} of the fully qualified name like projects/{project_id}/locations/{location_id}/volumes/{volume_id}/snapshots/{snapshot_id}"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object"
    },
    "CacheParameters": {
      "description": "Cache Parameters for the volume.",
      "id": "CacheParameters",
      "properties": {
        "cacheConfig": {
          "$ref": "CacheConfig",
          "description": "Optional. Configuration of the cache volume."
        },
        "peeringCommandExpiryTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Expiration time for the peering command to be executed on user's ONTAP."
        },
        "passphrase": {
          "type": "string",
          "description": "Output only. Temporary passphrase generated to accept cluster peering command.",
          "readOnly": true
        },
        "peerClusterName": {
          "type": "string",
          "description": "Required. Name of the origin volume's ONTAP cluster."
        },
        "enableGlobalFileLock": {
          "type": "boolean",
          "description": "Optional. Indicates whether the cache volume has global file lock enabled."
        },
        "peerSvmName": {
          "type": "string",
          "description": "Required. Name of the origin volume's SVM."
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. Detailed description of the current cache state.",
          "readOnly": true
        },
        "cacheState": {
          "enumDescriptions": [
            "Default unspecified state.",
            "State indicating waiting for cluster peering to be established.",
            "State indicating waiting for SVM peering to be established.",
            "State indicating successful establishment of peering with origin volumes's ONTAP cluster.",
            "Terminal state wherein peering with origin volume's ONTAP cluster has failed."
          ],
          "type": "string",
          "description": "Output only. State of the cache volume indicating the peering status.",
          "readOnly": true,
          "enum": [
            "CACHE_STATE_UNSPECIFIED",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PEERED",
            "ERROR"
          ]
        },
        "peerVolumeName": {
          "type": "string",
          "description": "Required. Name of the origin volume for the cache volume."
        },
        "peerIpAddresses": {
          "description": "Required. List of IC LIF addresses of the origin volume's ONTAP cluster.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "command": {
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "properties": {
        "hasVcp": {
          "type": "boolean",
          "description": "Output only. Indicates if the location has VCP support.",
          "readOnly": true
        },
        "hasOntapProxy": {
          "description": "Output only. Indicates if the location has ONTAP Proxy support.",
          "readOnly": true,
          "type": "boolean"
        },
        "flexPerformanceTier": {
          "enumDescriptions": [
            "Unspecified flex performance tier.",
            "Flex performance tier is limited."
          ],
          "description": "Output only. Indicates the flex performance tier of this location.",
          "readOnly": true,
          "enum": [
            "FLEX_PERFORMANCE_TIER_UNSPECIFIED",
            "LIMITED"
          ],
          "type": "string"
        },
        "supportedFlexPerformance": {
          "description": "Output only. Supported flex performance in a location.",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "Unspecified flex performance.",
              "Flex Storage Pool with default performance.",
              "Flex Storage Pool with custom performance."
            ],
            "enum": [
              "FLEX_PERFORMANCE_UNSPECIFIED",
              "FLEX_PERFORMANCE_DEFAULT",
              "FLEX_PERFORMANCE_CUSTOM"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "supportedServiceLevels": {
          "description": "Output only. Supported service levels in a location.",
          "readOnly": true,
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified service level.",
              "Premium service level.",
              "Extreme service level.",
              "Standard service level.",
              "Flex service level."
            ],
            "enum": [
              "SERVICE_LEVEL_UNSPECIFIED",
              "PREMIUM",
              "EXTREME",
              "STANDARD",
              "FLEX"
            ]
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Metadata for a given google.cloud.location.Location."
    },
    "QuotaRule": {
      "id": "QuotaRule",
      "properties": {
        "state": {
          "description": "Output only. State of the quota rule",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "READY",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state for quota rule",
            "Quota rule is creating",
            "Quota rule is updating",
            "Quota rule is deleting",
            "Quota rule is ready",
            "Quota rule is in error state."
          ]
        },
        "createTime": {
          "description": "Output only. Create time of the quota rule",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`.",
          "type": "string"
        },
        "target": {
          "description": "Optional. The quota rule applies to the specified user or group, identified by a Unix UID/GID, Windows SID, or null for default.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the quota rule"
        },
        "stateDetails": {
          "description": "Output only. State details of the quota rule",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels of the quota rule",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "type": {
          "type": "string",
          "description": "Required. The type of quota rule.",
          "enumDescriptions": [
            "Unspecified type for quota rule",
            "Individual user quota rule",
            "Individual group quota rule",
            "Default user quota rule",
            "Default group quota rule"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INDIVIDUAL_USER_QUOTA",
            "INDIVIDUAL_GROUP_QUOTA",
            "DEFAULT_USER_QUOTA",
            "DEFAULT_GROUP_QUOTA"
          ]
        },
        "diskLimitMib": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The maximum allowed disk space in MiB."
        }
      },
      "type": "object",
      "description": "QuotaRule specifies the maximum disk space a user or group can use within a volume. They can be used for creating default and individual quota rules."
    },
    "RestoreBackupFilesRequest": {
      "id": "RestoreBackupFilesRequest",
      "properties": {
        "fileList": {
          "type": "array",
          "description": "Required. List of files to be restored, specified by their absolute path in the source volume.",
          "items": {
            "type": "string"
          }
        },
        "restoreDestinationPath": {
          "type": "string",
          "description": "Optional. Absolute directory path in the destination volume. This is required if the `file_list` is provided."
        },
        "backup": {
          "type": "string",
          "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`"
        }
      },
      "type": "object",
      "description": "RestoreBackupFilesRequest restores files from a backup to a volume."
    },
    "TieringPolicy": {
      "type": "object",
      "id": "TieringPolicy",
      "properties": {
        "tierAction": {
          "description": "Optional. Flag indicating if the volume has tiering policy enable/pause. Default is PAUSED.",
          "enumDescriptions": [
            "Unspecified.",
            "When tiering is enabled, new cold data will be tiered.",
            "When paused, tiering won't be performed on new data. Existing data stays tiered until accessed."
          ],
          "enum": [
            "TIER_ACTION_UNSPECIFIED",
            "ENABLED",
            "PAUSED"
          ],
          "type": "string"
        },
        "coolingThresholdDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Time in days to mark the volume's data block as cold and make it eligible for tiering, can be range from 2-183. Default is 31."
        },
        "hotTierBypassModeEnabled": {
          "description": "Optional. Flag indicating that the hot tier bypass mode is enabled. Default is false. This is only applicable to Flex service level.",
          "type": "boolean"
        }
      },
      "description": "Defines tiering policy for the volume."
    },
    "ListReplicationsResponse": {
      "description": "ListReplicationsResponse is the result of ListReplicationsRequest.",
      "type": "object",
      "id": "ListReplicationsResponse",
      "properties": {
        "replications": {
          "description": "A list of replications in the project for the specified volume.",
          "items": {
            "$ref": "Replication"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "ExecuteOntapDeleteResponse": {
      "description": "Response message for `ExecuteOntapDelete` API.",
      "id": "ExecuteOntapDeleteResponse",
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "BackupConfig": {
      "description": "BackupConfig contains backup related config on a volume.",
      "id": "BackupConfig",
      "properties": {
        "backupChainBytes": {
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size).",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "backupPolicies": {
          "type": "array",
          "description": "Optional. When specified, schedule backups will be created based on the policy configuration.",
          "items": {
            "type": "string"
          }
        },
        "backupVault": {
          "description": "Optional. Name of backup vault. Format: projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}",
          "type": "string"
        },
        "scheduledBackupEnabled": {
          "description": "Optional. When set to true, scheduled backup is enabled on the volume. This field should be nil when there's no backup policy attached.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Replication": {
      "id": "Replication",
      "properties": {
        "healthy": {
          "type": "boolean",
          "description": "Output only. Condition of the relationship. Can be one of the following: - true: The replication relationship is healthy. It has not missed the most recent scheduled transfer. - false: The replication relationship is not healthy. It has missed the most recent scheduled transfer.",
          "readOnly": true
        },
        "stateDetails": {
          "description": "Output only. State details of the replication.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "clusterLocation": {
          "description": "Optional. Location of the user cluster.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Replication create time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "destinationVolume": {
          "type": "string",
          "description": "Output only. Full name of destination volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "readOnly": true
        },
        "role": {
          "description": "Output only. Indicates whether this points to source or destination.",
          "readOnly": true,
          "enum": [
            "REPLICATION_ROLE_UNSPECIFIED",
            "SOURCE",
            "DESTINATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified replication role",
            "Indicates Source volume.",
            "Indicates Destination volume."
          ]
        },
        "transferStats": {
          "$ref": "TransferStats",
          "description": "Output only. Replication transfer statistics.",
          "readOnly": true
        },
        "destinationVolumeParameters": {
          "description": "Required. Input only. Destination volume parameters",
          "$ref": "DestinationVolumeParameters"
        },
        "sourceVolume": {
          "description": "Output only. Full name of source volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "readOnly": true,
          "type": "string"
        },
        "hybridReplicationType": {
          "description": "Output only. Type of the hybrid replication.",
          "readOnly": true,
          "enum": [
            "HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "Hybrid replication type for incremental Transfer in the reverse direction (GCNV is source and Onprem is destination)"
          ]
        },
        "replicationSchedule": {
          "type": "string",
          "description": "Required. Indicates the schedule for replication.",
          "enumDescriptions": [
            "Unspecified ReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ],
          "enum": [
            "REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ]
        },
        "description": {
          "description": "A description about this replication relationship.",
          "type": "string"
        },
        "mirrorState": {
          "enumDescriptions": [
            "Unspecified MirrorState",
            "Destination volume is being prepared.",
            "Destination volume has been initialized and is ready to receive replication transfers.",
            "Destination volume is not receiving replication transfers.",
            "Incremental replication is in progress.",
            "Baseline replication is in progress.",
            "Replication is aborted.",
            "Replication is being managed from Onprem ONTAP.",
            "Peering is yet to be established."
          ],
          "description": "Output only. Indicates the state of mirroring.",
          "readOnly": true,
          "enum": [
            "MIRROR_STATE_UNSPECIFIED",
            "PREPARING",
            "MIRRORED",
            "STOPPED",
            "TRANSFERRING",
            "BASELINE_TRANSFERRING",
            "ABORTED",
            "EXTERNALLY_MANAGED",
            "PENDING_PEERING"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified replication State",
            "Replication is creating.",
            "Replication is ready.",
            "Replication is updating.",
            "Replication is deleting.",
            "Replication is in error state.",
            "Replication is waiting for cluster peering to be established.",
            "Replication is waiting for SVM peering to be established.",
            "Replication is waiting for Commands to be executed on Onprem ONTAP.",
            "Onprem ONTAP is destination and Replication can only be managed from Onprem."
          ],
          "description": "Output only. State of the replication.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "ERROR",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PENDING_REMOTE_RESYNC",
            "EXTERNALLY_MANAGED_REPLICATION"
          ],
          "type": "string"
        },
        "hybridReplicationUserCommands": {
          "$ref": "UserCommands",
          "description": "Output only. Copy pastable snapmirror commands to be executed on onprem cluster by the customer.",
          "readOnly": true
        },
        "hybridPeeringDetails": {
          "description": "Output only. Hybrid peering details.",
          "readOnly": true,
          "$ref": "HybridPeeringDetails"
        }
      },
      "type": "object",
      "description": "Replication is a nested resource under Volume, that describes a cross-region replication relationship between 2 volumes in different regions."
    },
    "SwitchActiveReplicaZoneRequest": {
      "description": "SwitchActiveReplicaZoneRequest switch the active/replica zone for a regional storagePool.",
      "type": "object",
      "id": "SwitchActiveReplicaZoneRequest",
      "properties": {}
    },
    "HybridPeeringDetails": {
      "description": "HybridPeeringDetails contains details about the hybrid peering.",
      "type": "object",
      "id": "HybridPeeringDetails",
      "properties": {
        "peerClusterName": {
          "type": "string",
          "description": "Output only. Name of the user's local source cluster to be peered with the destination cluster.",
          "readOnly": true
        },
        "peerSvmName": {
          "description": "Output only. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "readOnly": true,
          "type": "string"
        },
        "subnetIp": {
          "description": "Output only. IP address of the subnet.",
          "readOnly": true,
          "type": "string"
        },
        "commandExpiryTime": {
          "description": "Output only. Expiration time for the peering command to be executed on user's ONTAP.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "passphrase": {
          "description": "Output only. Temporary passphrase generated to accept cluster peering command.",
          "readOnly": true,
          "type": "string"
        },
        "command": {
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "readOnly": true,
          "type": "string"
        },
        "peerVolumeName": {
          "description": "Output only. Name of the user's local source volume to be peered with the destination volume.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListBackupVaultsResponse": {
      "description": "ListBackupVaultsResponse is the result of ListBackupVaultsRequest.",
      "type": "object",
      "id": "ListBackupVaultsResponse",
      "properties": {
        "backupVaults": {
          "type": "array",
          "description": "A list of backupVaults in the project for the specified location.",
          "items": {
            "$ref": "BackupVault"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CachePrePopulate": {
      "description": "Pre-populate cache volume with data from the origin volume.",
      "id": "CachePrePopulate",
      "properties": {
        "pathList": {
          "description": "Optional. List of directory-paths to be pre-populated for the FlexCache volume.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "excludePathList": {
          "description": "Optional. List of directory-paths to be excluded for pre-population for the FlexCache volume.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "recursion": {
          "description": "Optional. Flag indicating whether the directories listed with the `path_list` need to be recursively pre-populated.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "BackupVault": {
      "description": "A NetApp BackupVault.",
      "id": "BackupVault",
      "properties": {
        "destinationBackupVault": {
          "type": "string",
          "description": "Output only. Name of the Backup vault created in backup region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the backup vault. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "BackupVault is being created.",
            "BackupVault is available for use.",
            "BackupVault is being deleted.",
            "BackupVault is not valid and cannot be used.",
            "BackupVault is being updated."
          ],
          "description": "Output only. The backup vault state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "type": "string"
        },
        "description": {
          "description": "Description of the backup vault.",
          "type": "string"
        },
        "encryptionState": {
          "enumDescriptions": [
            "Encryption state not set.",
            "Encryption state is pending.",
            "Encryption is complete.",
            "Encryption is in progress.",
            "Encryption has failed."
          ],
          "type": "string",
          "description": "Output only. Field indicating encryption state of CMEK backups.",
          "readOnly": true,
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "ENCRYPTION_STATE_PENDING",
            "ENCRYPTION_STATE_COMPLETED",
            "ENCRYPTION_STATE_IN_PROGRESS",
            "ENCRYPTION_STATE_FAILED"
          ]
        },
        "sourceBackupVault": {
          "type": "string",
          "description": "Output only. Name of the Backup vault created in source region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "readOnly": true
        },
        "backupRetentionPolicy": {
          "$ref": "BackupRetentionPolicy",
          "description": "Optional. Backup retention policy defining the retention of backups."
        },
        "sourceRegion": {
          "description": "Output only. Region in which the backup vault is created. Format: `projects/{project_id}/locations/{location}`",
          "readOnly": true,
          "type": "string"
        },
        "backupRegion": {
          "description": "Optional. Region where the backups are stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "kmsConfig": {
          "type": "string",
          "description": "Optional. Specifies the Key Management System (KMS) configuration to be used for backup encryption. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`"
        },
        "createTime": {
          "description": "Output only. Create time of the backup vault.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "backupsCryptoKeyVersion": {
          "description": "Output only. The crypto key version used to encrypt the backup vault. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "backupVaultType": {
          "type": "string",
          "description": "Optional. Type of backup vault to be created. Default is IN_REGION.",
          "enumDescriptions": [
            "BackupVault type not set.",
            "BackupVault type is IN_REGION.",
            "BackupVault type is CROSS_REGION."
          ],
          "enum": [
            "BACKUP_VAULT_TYPE_UNSPECIFIED",
            "IN_REGION",
            "CROSS_REGION"
          ]
        }
      },
      "type": "object"
    },
    "StoragePool": {
      "description": "StoragePool is a container for volumes with a service level and capacity. Volumes can be created in a pool of sufficient available capacity. StoragePool capacity is what you are billed for.",
      "type": "object",
      "id": "StoragePool",
      "properties": {
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use",
          "readOnly": true
        },
        "kmsConfig": {
          "type": "string",
          "description": "Optional. Specifies the KMS config to be used for volume encryption."
        },
        "createTime": {
          "description": "Output only. Create time of the storage pool",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "qosType": {
          "description": "Optional. QoS (Quality of Service) Type of the storage pool",
          "enumDescriptions": [
            "Unspecified QoS Type",
            "QoS Type is Auto",
            "QoS Type is Manual"
          ],
          "enum": [
            "QOS_TYPE_UNSPECIFIED",
            "AUTO",
            "MANUAL"
          ],
          "type": "string"
        },
        "availableThroughputMibps": {
          "description": "Output only. Available throughput of the storage pool (in MiB/s).",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "replicaZone": {
          "type": "string",
          "description": "Optional. Specifies the replica zone for regional storagePool."
        },
        "stateDetails": {
          "description": "Output only. State details of the storage pool",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "coldTierSizeUsedGib": {
          "description": "Output only. Total cold tier data rounded down to the nearest GiB used by the storage pool.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "mode": {
          "type": "string",
          "description": "Optional. Mode of the storage pool. This field is used to control whether the user can perform ONTAP operations on the storage pool using the GCNV ONTAP Mode APIs. If not specified during creation, it defaults to `DEFAULT`.",
          "enumDescriptions": [
            "The `Mode` is not specified.",
            "The resource is managed by the GCNV APIs.",
            "The resource is managed by the GCNV ONTAP Mode APIs."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "DEFAULT",
            "ONTAP"
          ]
        },
        "hotTierSizeUsedGib": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the storage pool.",
          "readOnly": true
        },
        "serviceLevel": {
          "type": "string",
          "description": "Required. Service level of the storage pool",
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ],
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ]
        },
        "volumeCapacityGib": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Allocated size of all volumes in GIB in the storage pool",
          "readOnly": true
        },
        "ldapEnabled": {
          "description": "Optional. Flag indicating if the pool is NFS LDAP enabled or not.",
          "type": "boolean"
        },
        "totalIops": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Custom Performance Total IOPS of the pool if not provided, it will be calculated based on the total_throughput_mibps"
        },
        "description": {
          "description": "Optional. Description of the storage pool",
          "type": "string"
        },
        "type": {
          "description": "Optional. Type of the storage pool. This field is used to control whether the pool supports `FILE` based volumes only or `UNIFIED` (both `FILE` and `BLOCK`) volumes. If not specified during creation, it defaults to `FILE`.",
          "enumDescriptions": [
            "Storage pool type is not specified.",
            "Storage pool type is file.",
            "Storage pool type is unified."
          ],
          "enum": [
            "STORAGE_POOL_TYPE_UNSPECIFIED",
            "FILE",
            "UNIFIED"
          ],
          "type": "string"
        },
        "psaRange": {
          "description": "Optional. This field is not implemented. The values provided in this field are ignored.",
          "type": "string"
        },
        "capacityGib": {
          "description": "Required. Capacity in GIB of the pool",
          "type": "string",
          "format": "int64"
        },
        "enableHotTierAutoResize": {
          "description": "Optional. Flag indicating that the hot-tier threshold will be auto-increased by 10% of the hot-tier when it hits 100%. Default is true. The increment will kick in only if the new size after increment is still less than or equal to storage pool size.",
          "type": "boolean"
        },
        "scaleType": {
          "type": "string",
          "description": "Optional. The scale type of the storage pool. Defaults to `SCALE_TYPE_DEFAULT` if not specified.",
          "enumDescriptions": [
            "Unspecified scale type.",
            "Represents standard capacity and performance scale-type. Suitable for general purpose workloads.",
            "Represents higher capacity and performance scale-type. Suitable for more demanding workloads."
          ],
          "enum": [
            "SCALE_TYPE_UNSPECIFIED",
            "SCALE_TYPE_DEFAULT",
            "SCALE_TYPE_SCALEOUT"
          ]
        },
        "allowAutoTiering": {
          "description": "Optional. True if the storage pool supports Auto Tiering enabled volumes. Default is false. Auto-tiering can be enabled after storage pool creation but it can't be disabled once enabled.",
          "type": "boolean"
        },
        "zone": {
          "description": "Optional. Specifies the active zone for regional storagePool.",
          "type": "string"
        },
        "encryptionType": {
          "description": "Output only. Specifies the current pool encryption key source.",
          "readOnly": true,
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ]
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the storage pool"
        },
        "state": {
          "description": "Output only. State of the storage pool",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified Storage Pool State",
            "Storage Pool State is Ready",
            "Storage Pool State is Creating",
            "Storage Pool State is Deleting",
            "Storage Pool State is Updating",
            "Storage Pool State is Restoring",
            "Storage Pool State is Disabled",
            "Storage Pool State is Error"
          ]
        },
        "activeDirectory": {
          "type": "string",
          "description": "Optional. Specifies the Active Directory to be used for creating a SMB volume."
        },
        "totalThroughputMibps": {
          "description": "Optional. Custom Performance Total Throughput of the pool (in MiBps)",
          "type": "string",
          "format": "int64"
        },
        "volumeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Volume count of the storage pool",
          "readOnly": true
        },
        "network": {
          "description": "Required. VPC Network name. Format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "globalAccessAllowed": {
          "type": "boolean",
          "deprecated": true,
          "description": "Deprecated. Used to allow SO pool to access AD or DNS server from other regions."
        },
        "customPerformanceEnabled": {
          "type": "boolean",
          "description": "Optional. True if using Independent Scaling of capacity and performance (Hyperdisk) By default set to false"
        },
        "hotTierSizeGib": {
          "description": "Optional. Total hot tier capacity for the Storage Pool. It is applicable only to Flex service level. It should be less than the minimum storage pool size and cannot be more than the current storage pool size. It cannot be decreased once set.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "VerifyKmsConfigResponse": {
      "id": "VerifyKmsConfigResponse",
      "properties": {
        "healthy": {
          "description": "Output only. If the customer key configured correctly to the encrypt volume.",
          "readOnly": true,
          "type": "boolean"
        },
        "healthError": {
          "description": "Output only. Error message if config is not healthy.",
          "readOnly": true,
          "type": "string"
        },
        "instructions": {
          "description": "Output only. Instructions for the customers to provide the access to the encryption key.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "VerifyKmsConfigResponse contains the information if the config is correctly and error message."
    },
    "LargeCapacityConfig": {
      "description": "Configuration for a Large Capacity Volume. A Large Capacity Volume supports sizes ranging from 4.8 TiB to 20 PiB; it is composed of multiple internal constituents, and must be created in a large capacity pool.",
      "id": "LargeCapacityConfig",
      "properties": {
        "constituentCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of internal constituents (e.g., FlexVols) for this large volume. The minimum number of constituents is 2."
        }
      },
      "type": "object"
    },
    "HostGroup": {
      "id": "HostGroup",
      "properties": {
        "description": {
          "description": "Optional. Description of the host group.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Required. Type of the host group.",
          "enumDescriptions": [
            "Unspecified type for host group.",
            "iSCSI initiator host group."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ISCSI_INITIATOR"
          ]
        },
        "hosts": {
          "type": "array",
          "description": "Required. The list of hosts associated with the host group.",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Optional. Labels of the host group.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`."
        },
        "state": {
          "description": "Output only. State of the host group.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state for host group.",
            "Host group is creating.",
            "Host group is ready.",
            "Host group is updating.",
            "Host group is deleting.",
            "Host group is disabled."
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time of the host group.",
          "readOnly": true
        },
        "osType": {
          "description": "Required. The OS type of the host group. It indicates the type of operating system used by all of the hosts in the HostGroup. All hosts in a HostGroup must be of the same OS type. This can be set only when creating a HostGroup.",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Host group is a collection of hosts that can be used for accessing a Block Volume."
    },
    "MountOption": {
      "id": "MountOption",
      "properties": {
        "ipAddress": {
          "description": "Output only. IP Address.",
          "readOnly": true,
          "type": "string"
        },
        "protocol": {
          "description": "Protocol to mount with.",
          "enumDescriptions": [
            "Unspecified protocol",
            "NFS V3 protocol",
            "NFS V4 protocol",
            "SMB protocol",
            "ISCSI protocol",
            "NVMe protocol"
          ],
          "enum": [
            "PROTOCOLS_UNSPECIFIED",
            "NFSV3",
            "NFSV4",
            "SMB",
            "ISCSI",
            "NVME"
          ],
          "type": "string"
        },
        "export": {
          "description": "Export string",
          "type": "string"
        },
        "exportFull": {
          "description": "Full export string",
          "type": "string"
        },
        "instructions": {
          "description": "Instructions for mounting",
          "type": "string"
        }
      },
      "type": "object",
      "description": "View only mount options for a volume."
    },
    "ExecuteOntapPostRequest": {
      "id": "ExecuteOntapPostRequest",
      "properties": {
        "body": {
          "type": "object",
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "description": "Request message for `ExecuteOntapPost` API."
    },
    "ListSnapshotsResponse": {
      "description": "ListSnapshotsResponse is the result of ListSnapshotsRequest.",
      "type": "object",
      "id": "ListSnapshotsResponse",
      "properties": {
        "snapshots": {
          "type": "array",
          "description": "A list of snapshots in the project for the specified volume.",
          "items": {
            "$ref": "Snapshot"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        }
      }
    },
    "StopReplicationRequest": {
      "id": "StopReplicationRequest",
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Indicates whether to stop replication forcefully while data transfer is in progress. Warning! if force is true, this will abort any current transfers and can lead to data loss due to partial transfer. If force is false, stop replication will fail while data transfer is in progress and you will need to retry later."
        }
      },
      "type": "object",
      "description": "StopReplicationRequest stops a replication until resumed."
    },
    "ListKmsConfigsResponse": {
      "type": "object",
      "id": "ListKmsConfigsResponse",
      "properties": {
        "kmsConfigs": {
          "type": "array",
          "description": "The list of KmsConfigs",
          "items": {
            "$ref": "KmsConfig"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "ListKmsConfigsResponse is the response to a ListKmsConfigsRequest."
    },
    "DailySchedule": {
      "id": "DailySchedule",
      "properties": {
        "hour": {
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number",
          "format": "double"
        },
        "snapshotsToKeep": {
          "type": "number",
          "format": "double",
          "description": "The maximum number of Snapshots to keep for the hourly schedule"
        },
        "minute": {
          "type": "number",
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
        }
      },
      "type": "object",
      "description": "Make a snapshot every day e.g. at 04:00, 05:20, 23:50"
    },
    "ExecuteOntapPatchRequest": {
      "type": "object",
      "id": "ExecuteOntapPatchRequest",
      "properties": {
        "body": {
          "type": "object",
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "description": "Request message for `ExecuteOntapPatch` API."
    },
    "SyncReplicationRequest": {
      "type": "object",
      "id": "SyncReplicationRequest",
      "properties": {},
      "description": "SyncReplicationRequest syncs the replication from source to destination."
    },
    "ValidateDirectoryServiceRequest": {
      "id": "ValidateDirectoryServiceRequest",
      "properties": {
        "directoryServiceType": {
          "description": "Type of directory service policy attached to the storage pool.",
          "enumDescriptions": [
            "Directory service type is not specified.",
            "Active directory policy attached to the storage pool."
          ],
          "enum": [
            "DIRECTORY_SERVICE_TYPE_UNSPECIFIED",
            "ACTIVE_DIRECTORY"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "ValidateDirectoryServiceRequest validates the directory service policy attached to the storage pool."
    },
    "RestoreVolumeRequest": {
      "type": "object",
      "id": "RestoreVolumeRequest",
      "properties": {
        "ontapVolumeTarget": {
          "description": "The ONTAP volume target of the restore operation.",
          "$ref": "OntapVolumeTarget"
        },
        "backupSource": {
          "$ref": "BackupSource",
          "description": "The backup source of the restore operation."
        }
      },
      "description": "Request message for `RestoreVolume` API."
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been canceled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "CloneDetails": {
      "description": "Details about a clone volume.",
      "id": "CloneDetails",
      "properties": {
        "sourceSnapshot": {
          "type": "string",
          "description": "Output only. Specifies the full resource name of the source snapshot from which this volume was cloned. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "readOnly": true
        },
        "sharedSpaceGib": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Shared space in GiB. Determined at volume creation time based on size of source snapshot.",
          "readOnly": true
        },
        "sourceVolume": {
          "description": "Output only. Full name of the source volume resource. Format: projects/{project}/locations/{location}/volumes/{volume}",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "OntapVolumeTarget": {
      "type": "object",
      "id": "OntapVolumeTarget",
      "properties": {
        "volumeUuid": {
          "type": "string",
          "description": "Required. The UUID of the ONTAP volume to restore to."
        },
        "restoreDestinationPath": {
          "description": "Optional. Absolute directory path in the destination volume.",
          "type": "string"
        }
      },
      "description": "Represents the ONTAP volume target of the restore operation."
    },
    "BlockDevice": {
      "description": "Block device represents the device(s) which are stored in the block volume.",
      "type": "object",
      "id": "BlockDevice",
      "properties": {
        "sizeGib": {
          "description": "Optional. The size of the block device in GiB. Any value provided for the `size_gib` field during volume creation is ignored. The block device's size is system-managed and will be set to match the parent Volume's `capacity_gib`.",
          "type": "string",
          "format": "int64"
        },
        "osType": {
          "type": "string",
          "description": "Required. Immutable. The OS type of the volume. This field can't be changed after the block device is created.",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ]
        },
        "identifier": {
          "description": "Output only. Device identifier of the block volume. This represents `lun_serial_number` for iSCSI volumes.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Optional. User-defined name for the block device, unique within the volume. In case no user input is provided, name will be auto-generated in the backend. The name must meet the following requirements: * Be between 1 and 255 characters long. * Contain only uppercase or lowercase letters (A-Z, a-z), numbers (0-9), and the following special characters: \"-\", \"_\", \"}\", \"{\", \".\". * Spaces are not allowed.",
          "type": "string"
        },
        "hostGroups": {
          "type": "array",
          "description": "Optional. A list of host groups that identify hosts that can mount the block volume. Format: `projects/{project_id}/locations/{location}/hostGroups/{host_group_id}` This field can be updated after the block device is created.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Volume": {
      "id": "Volume",
      "properties": {
        "shareName": {
          "description": "Required. Share name of the volume",
          "type": "string"
        },
        "restrictedActions": {
          "type": "array",
          "description": "Optional. List of actions that are restricted on this volume.",
          "items": {
            "enumDescriptions": [
              "Unspecified restricted action",
              "Prevent volume from being deleted when mounted."
            ],
            "enum": [
              "RESTRICTED_ACTION_UNSPECIFIED",
              "DELETE"
            ],
            "type": "string"
          }
        },
        "securityStyle": {
          "description": "Optional. Security Style of the Volume",
          "enumDescriptions": [
            "SecurityStyle is unspecified",
            "SecurityStyle uses NTFS",
            "SecurityStyle uses UNIX"
          ],
          "enum": [
            "SECURITY_STYLE_UNSPECIFIED",
            "NTFS",
            "UNIX"
          ],
          "type": "string"
        },
        "network": {
          "description": "Output only. VPC Network name. Format: projects/{project}/global/networks/{network}",
          "readOnly": true,
          "type": "string"
        },
        "largeCapacityConfig": {
          "$ref": "LargeCapacityConfig",
          "description": "Optional. Large capacity config for the volume. Enables and configures large capacity for volumes in Unified pools with File protocols. Not applicable for Block protocols in Unified pools. This field and the legacy `large_capacity` boolean field are mutually exclusive."
        },
        "cloneDetails": {
          "description": "Output only. If this volume is a clone, this field contains details about the clone.",
          "readOnly": true,
          "$ref": "CloneDetails"
        },
        "state": {
          "description": "Output only. State of the volume",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR",
            "PREPARING",
            "READ_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified Volume State",
            "Volume State is Ready",
            "Volume State is Creating",
            "Volume State is Deleting",
            "Volume State is Updating",
            "Volume State is Restoring",
            "Volume State is Disabled",
            "Volume State is Error",
            "Volume State is Preparing. Note that this is different from CREATING where CREATING means the volume is being created, while PREPARING means the volume is created and now being prepared for the replication.",
            "Volume State is Read Only"
          ]
        },
        "kerberosEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating if the volume is a kerberos volume or not, export policy rules control kerberos security modes (krb5, krb5i, krb5p)."
        },
        "activeDirectory": {
          "description": "Output only. Specifies the ActiveDirectory name of a SMB volume.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the volume"
        },
        "coldTierSizeGib": {
          "description": "Output only. Size of the volume cold tier data rounded down to the nearest GiB.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "storagePool": {
          "type": "string",
          "description": "Required. StoragePool name of the volume"
        },
        "encryptionType": {
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "type": "string",
          "description": "Output only. Specified the current volume encryption key source.",
          "readOnly": true,
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ]
        },
        "largeCapacity": {
          "type": "boolean",
          "description": "Optional. Flag indicating if the volume will be a large capacity volume or a regular volume. This field is used for legacy FILE pools. For Unified pools, use the `large_capacity_config` field instead. This field and `large_capacity_config` are mutually exclusive."
        },
        "unixPermissions": {
          "type": "string",
          "description": "Optional. Default unix style permission (e.g. 777) the mount point will be created with. Applicable for NFS protocol types only."
        },
        "snapReserve": {
          "type": "number",
          "format": "double",
          "description": "Optional. Snap_reserve specifies percentage of volume storage reserved for snapshot storage. Default is 0 percent."
        },
        "cacheParameters": {
          "description": "Optional. Cache parameters for the volume.",
          "$ref": "CacheParameters"
        },
        "smbSettings": {
          "description": "Optional. SMB share settings for the volume.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified default option",
              "SMB setting encrypt data",
              "SMB setting browsable",
              "SMB setting notify change",
              "SMB setting not to notify change",
              "SMB setting oplocks",
              "SMB setting to show snapshots",
              "SMB setting to show previous versions",
              "SMB setting to access volume based on enumerartion",
              "Continuously available enumeration"
            ],
            "enum": [
              "SMB_SETTINGS_UNSPECIFIED",
              "ENCRYPT_DATA",
              "BROWSABLE",
              "CHANGE_NOTIFY",
              "NON_BROWSABLE",
              "OPLOCKS",
              "SHOW_SNAPSHOT",
              "SHOW_PREVIOUS_VERSIONS",
              "ACCESS_BASED_ENUMERATION",
              "CONTINUOUSLY_AVAILABLE"
            ]
          },
          "type": "array"
        },
        "throughputMibps": {
          "description": "Optional. Throughput of the volume (in MiB/s)",
          "type": "number",
          "format": "double"
        },
        "zone": {
          "type": "string",
          "description": "Output only. Specifies the active zone for regional volume.",
          "readOnly": true
        },
        "psaRange": {
          "description": "Output only. This field is not implemented. The values provided in this field are ignored.",
          "readOnly": true,
          "type": "string"
        },
        "capacityGib": {
          "type": "string",
          "format": "int64",
          "description": "Required. Capacity in GIB of the volume"
        },
        "snapshotDirectory": {
          "type": "boolean",
          "description": "Optional. Snapshot_directory if enabled (true) the volume will contain a read-only .snapshot directory which provides access to each of the volume's snapshots."
        },
        "tieringPolicy": {
          "$ref": "TieringPolicy",
          "description": "Tiering policy for the volume."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the volume"
        },
        "hybridReplicationParameters": {
          "$ref": "HybridReplicationParameters",
          "description": "Optional. The Hybrid Replication parameters for the volume."
        },
        "snapshotPolicy": {
          "description": "Optional. SnapshotPolicy for a volume.",
          "$ref": "SnapshotPolicy"
        },
        "exportPolicy": {
          "description": "Optional. Export policy of the volume",
          "$ref": "ExportPolicy"
        },
        "ldapEnabled": {
          "description": "Output only. Flag indicating if the volume is NFS LDAP enabled or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "serviceLevel": {
          "type": "string",
          "description": "Output only. Service level of the volume",
          "readOnly": true,
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ],
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ]
        },
        "hasReplication": {
          "type": "boolean",
          "description": "Output only. Indicates whether the volume is part of a replication relationship.",
          "readOnly": true
        },
        "hotTierSizeUsedGib": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the Volume. This field is only used for flex Service Level",
          "readOnly": true
        },
        "replicaZone": {
[...]
