{
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    }
  },
  "discoveryVersion": "v1",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "Google Cloud NetApp Volumes is a fully-managed, cloud-based data storage service that provides advanced data management capabilities and highly scalable performance with global availability.",
  "canonicalName": "NetApp Files",
  "servicePath": "",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/netapp/",
  "protocol": "rest",
  "version": "v1",
  "schemas": {
    "EstablishPeeringRequest": {
      "description": "EstablishPeeringRequest establishes cluster and svm peerings between the source and the destination replications.",
      "properties": {
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "peerIpAddresses": {
          "description": "Optional. List of IPv4 ip addresses to be used for peering.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EstablishPeeringRequest"
    },
    "MountOption": {
      "properties": {
        "ipAddress": {
          "description": "Output only. IP Address.",
          "type": "string",
          "readOnly": true
        },
        "exportFull": {
          "description": "Full export string",
          "type": "string"
        },
        "protocol": {
          "enum": [
            "PROTOCOLS_UNSPECIFIED",
            "NFSV3",
            "NFSV4",
            "SMB",
            "ISCSI",
            "NVME"
          ],
          "enumDescriptions": [
            "Unspecified protocol",
            "NFS V3 protocol",
            "NFS V4 protocol",
            "SMB protocol",
            "ISCSI protocol",
            "NVMe protocol"
          ],
          "type": "string",
          "description": "Protocol to mount with."
        },
        "export": {
          "type": "string",
          "description": "Export string"
        },
        "instructions": {
          "type": "string",
          "description": "Instructions for mounting"
        }
      },
      "id": "MountOption",
      "type": "object",
      "description": "View only mount options for a volume."
    },
    "QuotaRule": {
      "type": "object",
      "id": "QuotaRule",
      "properties": {
        "diskLimitMib": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The maximum allowed disk space in MiB."
        },
        "name": {
          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the quota rule",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of quota rule.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type for quota rule",
            "Individual user quota rule",
            "Individual group quota rule",
            "Default user quota rule",
            "Default group quota rule"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INDIVIDUAL_USER_QUOTA",
            "INDIVIDUAL_GROUP_QUOTA",
            "DEFAULT_USER_QUOTA",
            "DEFAULT_GROUP_QUOTA"
          ]
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state for quota rule",
            "Quota rule is creating",
            "Quota rule is updating",
            "Quota rule is deleting",
            "Quota rule is ready",
            "Quota rule is in error state."
          ],
          "description": "Output only. State of the quota rule",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "READY",
            "ERROR"
          ]
        },
        "createTime": {
          "description": "Output only. Create time of the quota rule",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Optional. The quota rule applies to the specified user or group, identified by a Unix UID/GID, Windows SID, or null for default.",
          "type": "string"
        },
        "stateDetails": {
          "description": "Output only. State details of the quota rule",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Labels of the quota rule",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "QuotaRule specifies the maximum disk space a user or group can use within a volume. They can be used for creating default and individual quota rules."
    },
    "ExportPolicy": {
      "properties": {
        "rules": {
          "items": {
            "$ref": "SimpleExportPolicyRule"
          },
          "description": "Required. List of export policy rules",
          "type": "array"
        }
      },
      "description": "Defines the export policy for the volume.",
      "type": "object",
      "id": "ExportPolicy"
    },
    "ListReplicationsResponse": {
      "id": "ListReplicationsResponse",
      "description": "ListReplicationsResponse is the result of ListReplicationsRequest.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "replications": {
          "items": {
            "$ref": "Replication"
          },
          "description": "A list of replications in the project for the specified volume.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Backup": {
      "id": "Backup",
      "description": "A NetApp Backup.",
      "type": "object",
      "properties": {
        "volumeUsageBytes": {
          "type": "string",
          "description": "Output only. Size of the file system when the backup was created. When creating a new volume from the backup, the volume capacity will have to be at least as big.",
          "readOnly": true,
          "format": "int64"
        },
        "chainStorageBytes": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)"
        },
        "volumeRegion": {
          "readOnly": true,
          "description": "Output only. Region of the volume from which the backup was created. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPLOADING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "Backup is being created. While in this state, the snapshot for the backup point-in-time may not have been created yet, and so the point-in-time may not have been fixed.",
            "Backup is being uploaded. While in this state, none of the writes to the volume will be included in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new volumes or restoring existing volumes.",
            "Backup is being updated."
          ],
          "description": "Output only. The backup state.",
          "type": "string"
        },
        "backupType": {
          "enumDescriptions": [
            "Unspecified backup type.",
            "Manual backup type.",
            "Scheduled backup type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MANUAL",
            "SCHEDULED"
          ],
          "readOnly": true,
          "description": "Output only. Type of backup, manually created or created by a backup policy.",
          "type": "string"
        },
        "backupRegion": {
          "readOnly": true,
          "description": "Output only. Region in which backup is stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "sourceSnapshot": {
          "description": "If specified, backup will be created from the given snapshot. If not specified, there will be a new snapshot taken to initiate the backup creation. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`",
          "type": "string"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use",
          "type": "boolean",
          "readOnly": true
        },
        "ontapSource": {
          "$ref": "OntapSource",
          "description": "Optional. Represents source details for ONTAP backups. Either source_volume or ontap_source should be provided."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the backup was created.",
          "readOnly": true
        },
        "enforcedRetentionEndTime": {
          "description": "Output only. The time until which the backup is not deletable.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "sourceVolume": {
          "description": "The resource name of the volume that this backup belongs to. You must provide either `source_volume` or `ontap_source`. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata."
        },
        "description": {
          "type": "string",
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name of the backup. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`.",
          "type": "string"
        }
      }
    },
    "LargeCapacityConfig": {
      "properties": {
        "constituentCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of internal constituents (e.g., FlexVols) for this large volume. The minimum number of constituents is 2."
        }
      },
      "id": "LargeCapacityConfig",
      "type": "object",
      "description": "Configuration for a Large Capacity Volume. A Large Capacity Volume supports sizes ranging from 4.8 TiB to 20 PiB; it is composed of multiple internal constituents, and must be created in a large capacity pool."
    },
    "ReverseReplicationDirectionRequest": {
      "properties": {},
      "id": "ReverseReplicationDirectionRequest",
      "type": "object",
      "description": "ReverseReplicationDirectionRequest reverses direction of replication. Source becomes destination and destination becomes source."
    },
    "ResumeReplicationRequest": {
      "description": "ResumeReplicationRequest resumes a stopped replication.",
      "id": "ResumeReplicationRequest",
      "properties": {},
      "type": "object"
    },
    "CloneDetails": {
      "type": "object",
      "properties": {
        "sharedSpaceGib": {
          "description": "Output only. Shared space in GiB. Determined at volume creation time based on size of source snapshot.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "sourceSnapshot": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the full resource name of the source snapshot from which this volume was cloned. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}"
        },
        "sourceVolume": {
          "type": "string",
          "description": "Output only. Full name of the source volume resource. Format: projects/{project}/locations/{location}/volumes/{volume}",
          "readOnly": true
        },
        "splitState": {
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "type": "string",
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ],
          "description": "Output only. The current state of the clone split operation.",
          "readOnly": true
        }
      },
      "description": "Details about a clone volume.",
      "id": "CloneDetails"
    },
    "ExecuteOntapPatchRequest": {
      "type": "object",
      "id": "ExecuteOntapPatchRequest",
      "properties": {
        "body": {
          "type": "object",
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "description": "Request message for `ExecuteOntapPatch` API."
    },
    "HourlySchedule": {
      "properties": {
        "snapshotsToKeep": {
          "format": "double",
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number"
        },
        "minute": {
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Make a snapshot every hour e.g. at 04:00, 05:00, 06:00.",
      "id": "HourlySchedule"
    },
    "EstablishVolumePeeringRequest": {
      "id": "EstablishVolumePeeringRequest",
      "type": "object",
      "properties": {
        "peerSvmName": {
          "type": "string",
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm."
        },
        "peerClusterName": {
          "type": "string",
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster."
        },
        "peerIpAddresses": {
          "description": "Optional. List of IPv4 IP addresses to be used for peering.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        }
      },
      "description": "EstablishVolumePeeringRequest establishes cluster and svm peerings between the source and destination clusters."
    },
    "ListHostGroupsResponse": {
      "description": "ListHostGroupsResponse is the response to a ListHostGroupsRequest.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "hostGroups": {
          "type": "array",
          "items": {
            "$ref": "HostGroup"
          },
          "description": "The list of host groups."
        }
      },
      "type": "object",
      "id": "ListHostGroupsResponse"
    },
    "CachePrePopulate": {
      "id": "CachePrePopulate",
      "type": "object",
      "description": "Pre-populate cache volume with data from the origin volume.",
      "properties": {
        "recursion": {
          "type": "boolean",
          "description": "Optional. Flag indicating whether the directories listed with the `path_list` need to be recursively pre-populated."
        },
        "pathList": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of directory-paths to be pre-populated for the FlexCache volume.",
          "type": "array"
        },
        "excludePathList": {
          "description": "Optional. List of directory-paths to be excluded for pre-population for the FlexCache volume.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SyncReplicationRequest": {
      "id": "SyncReplicationRequest",
      "type": "object",
      "description": "SyncReplicationRequest syncs the replication from source to destination.",
      "properties": {}
    },
    "ExecuteOntapDeleteResponse": {
      "properties": {
        "body": {
          "type": "object",
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "ExecuteOntapDeleteResponse",
      "type": "object",
      "description": "Response message for `ExecuteOntapDelete` API."
    },
    "RevertVolumeRequest": {
      "type": "object",
      "id": "RevertVolumeRequest",
      "properties": {
        "snapshotId": {
          "type": "string",
          "description": "Required. The snapshot resource ID, in the format 'my-snapshot', where the specified ID is the {snapshot_id} of the fully qualified name like projects/{project_id}/locations/{location_id}/volumes/{volume_id}/snapshots/{snapshot_id}"
        }
      },
      "description": "RevertVolumeRequest reverts the given volume to the specified snapshot."
    },
    "BackupVault": {
      "description": "A NetApp BackupVault.",
      "type": "object",
      "id": "BackupVault",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Resource labels to represent user provided metadata."
        },
        "destinationBackupVault": {
          "type": "string",
          "description": "Output only. Name of the Backup vault created in backup region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "readOnly": true
        },
        "encryptionState": {
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "ENCRYPTION_STATE_PENDING",
            "ENCRYPTION_STATE_COMPLETED",
            "ENCRYPTION_STATE_IN_PROGRESS",
            "ENCRYPTION_STATE_FAILED"
          ],
          "readOnly": true,
          "description": "Output only. Field indicating encryption state of CMEK backups.",
          "enumDescriptions": [
            "Encryption state not set.",
            "Encryption state is pending.",
            "Encryption is complete.",
            "Encryption is in progress.",
            "Encryption has failed."
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the backup vault. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`.",
          "type": "string"
        },
        "backupVaultType": {
          "description": "Optional. Type of backup vault to be created. Default is IN_REGION.",
          "type": "string",
          "enum": [
            "BACKUP_VAULT_TYPE_UNSPECIFIED",
            "IN_REGION",
            "CROSS_REGION"
          ],
          "enumDescriptions": [
            "BackupVault type not set.",
            "BackupVault type is IN_REGION.",
            "BackupVault type is CROSS_REGION."
          ]
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "description": "Output only. The backup vault state.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "BackupVault is being created.",
            "BackupVault is available for use.",
            "BackupVault is being deleted.",
            "BackupVault is not valid and cannot be used.",
            "BackupVault is being updated."
          ]
        },
        "sourceRegion": {
          "description": "Optional. Region in which the backup vault is created. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "backupRegion": {
          "description": "Optional. Region where the backups are stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "sourceBackupVault": {
          "description": "Output only. Name of the Backup vault created in source region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "readOnly": true,
          "type": "string"
        },
        "backupRetentionPolicy": {
          "description": "Optional. Backup retention policy defining the retention of backups.",
          "$ref": "BackupRetentionPolicy"
        },
        "kmsConfig": {
          "type": "string",
          "description": "Optional. Specifies the Key Management System (KMS) configuration to be used for backup encryption. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`"
        },
        "backupsCryptoKeyVersion": {
          "readOnly": true,
          "description": "Output only. The crypto key version used to encrypt the backup vault. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time of the backup vault.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Description of the backup vault.",
          "type": "string"
        }
      }
    },
    "ListBackupPoliciesResponse": {
      "description": "ListBackupPoliciesResponse contains all the backup policies requested.",
      "type": "object",
      "id": "ListBackupPoliciesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "backupPolicies": {
          "type": "array",
          "items": {
            "$ref": "BackupPolicy"
          },
          "description": "The list of backup policies."
        }
      }
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      }
    },
    "ActiveDirectory": {
      "properties": {
        "kdcHostname": {
          "description": "Name of the active directory machine. This optional parameter is used only while creating kerberos volume",
          "type": "string"
        },
        "password": {
          "description": "Required. Password of the Active Directory domain administrator.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create time of the active directory.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Labels for the active directory.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "enumDescriptions": [
            "Unspecified Active Directory State",
            "Active Directory State is Creating",
            "Active Directory State is Ready",
            "Active Directory State is Updating",
            "Active Directory State is In use",
            "Active Directory State is Deleting",
            "Active Directory State is Error",
            "Active Directory State is Diagnosing."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "IN_USE",
            "DELETING",
            "ERROR",
            "DIAGNOSING"
          ],
          "description": "Output only. The state of the AD.",
          "readOnly": true
        },
        "ldapSigning": {
          "description": "Specifies whether or not the LDAP traffic needs to be signed.",
          "type": "boolean"
        },
        "dns": {
          "type": "string",
          "description": "Required. Comma separated list of DNS server IP addresses for the Active Directory domain."
        },
        "username": {
          "description": "Required. Username of the Active Directory domain administrator.",
          "type": "string"
        },
        "organizationalUnit": {
          "description": "The Organizational Unit (OU) within the Windows Active Directory the user belongs to.",
          "type": "string"
        },
        "description": {
          "description": "Description of the active directory.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`.",
          "type": "string"
        },
        "kdcIp": {
          "type": "string",
          "description": "KDC server IP address for the active directory machine."
        },
        "administrators": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Users to be added to the Built-in Admininstrators group."
        },
        "site": {
          "type": "string",
          "description": "The Active Directory site the service will limit Domain Controller discovery too."
        },
        "aesEncryption": {
          "description": "If enabled, AES encryption will be enabled for SMB communication.",
          "type": "boolean"
        },
        "securityOperators": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Domain users to be given the SeSecurityPrivilege.",
          "type": "array"
        },
        "netBiosPrefix": {
          "type": "string",
          "description": "Required. NetBIOSPrefix is used as a prefix for SMB server name."
        },
        "backupOperators": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Users to be added to the Built-in Backup Operator active directory group."
        },
        "encryptDcConnections": {
          "type": "boolean",
          "description": "If enabled, traffic between the SMB server to Domain Controller (DC) will be encrypted."
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. The state details of the Active Directory.",
          "readOnly": true
        },
        "domain": {
          "type": "string",
          "description": "Required. Name of the Active Directory domain"
        },
        "nfsUsersWithLdap": {
          "type": "boolean",
          "description": "If enabled, will allow access to local users and LDAP users. If access is needed for only LDAP users, it has to be disabled."
        }
      },
      "description": "ActiveDirectory is the public representation of the active directory config.",
      "id": "ActiveDirectory",
      "type": "object"
    },
    "SwitchActiveReplicaZoneRequest": {
      "description": "SwitchActiveReplicaZoneRequest switch the active/replica zone for a regional storagePool.",
      "id": "SwitchActiveReplicaZoneRequest",
      "type": "object",
      "properties": {}
    },
    "CacheParameters": {
      "properties": {
        "enableGlobalFileLock": {
          "description": "Optional. Indicates whether the cache volume has global file lock enabled.",
          "type": "boolean"
        },
        "cacheState": {
          "enum": [
            "CACHE_STATE_UNSPECIFIED",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PEERED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Default unspecified state.",
            "State indicating waiting for cluster peering to be established.",
            "State indicating waiting for SVM peering to be established.",
            "State indicating successful establishment of peering with origin volumes's ONTAP cluster.",
            "Terminal state wherein peering with origin volume's ONTAP cluster has failed."
          ],
          "description": "Output only. State of the cache volume indicating the peering status.",
          "type": "string",
          "readOnly": true
        },
        "cacheConfig": {
          "description": "Optional. Configuration of the cache volume.",
          "$ref": "CacheConfig"
        },
        "peerClusterName": {
          "description": "Required. Name of the origin volume's ONTAP cluster.",
          "type": "string"
        },
        "peerSvmName": {
          "type": "string",
          "description": "Required. Name of the origin volume's SVM."
        },
        "passphrase": {
          "description": "Output only. Temporary passphrase generated to accept cluster peering command.",
          "readOnly": true,
          "type": "string"
        },
        "command": {
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "type": "string",
          "readOnly": true
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Detailed description of the current cache state."
        },
        "peeringCommandExpiryTime": {
          "description": "Optional. Expiration time for the peering command to be executed on user's ONTAP.",
          "format": "google-datetime",
          "type": "string"
        },
        "peerVolumeName": {
          "description": "Required. Name of the origin volume for the cache volume.",
          "type": "string"
        },
        "peerIpAddresses": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of IC LIF addresses of the origin volume's ONTAP cluster.",
          "type": "array"
        }
      },
      "id": "CacheParameters",
      "description": "Cache Parameters for the volume.",
      "type": "object"
    },
    "RestoreBackupFilesRequest": {
      "description": "RestoreBackupFilesRequest restores files from a backup to a volume.",
      "id": "RestoreBackupFilesRequest",
      "type": "object",
      "properties": {
        "backup": {
          "type": "string",
          "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`"
        },
        "restoreDestinationPath": {
          "type": "string",
          "description": "Optional. Absolute directory path in the destination volume. This is required if the `file_list` is provided."
        },
        "fileList": {
          "type": "array",
          "description": "Required. List of files to be restored, specified by their absolute path in the source volume.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DailySchedule": {
      "id": "DailySchedule",
      "properties": {
        "minute": {
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number"
        },
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "format": "double",
          "type": "number"
        },
        "hour": {
          "format": "double",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Make a snapshot every day e.g. at 04:00, 05:20, 23:50"
    },
    "Replication": {
      "properties": {
        "role": {
          "enumDescriptions": [
            "Unspecified replication role",
            "Indicates Source volume.",
            "Indicates Destination volume."
          ],
          "description": "Output only. Indicates whether this points to source or destination.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "REPLICATION_ROLE_UNSPECIFIED",
            "SOURCE",
            "DESTINATION"
          ]
        },
        "hybridReplicationType": {
          "enum": [
            "HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "readOnly": true,
          "description": "Output only. Type of the hybrid replication.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "Hybrid replication type for incremental Transfer in the reverse direction (GCNV is source and Onprem is destination)"
          ]
        },
        "mirrorState": {
          "enum": [
            "MIRROR_STATE_UNSPECIFIED",
            "PREPARING",
            "MIRRORED",
            "STOPPED",
            "TRANSFERRING",
            "BASELINE_TRANSFERRING",
            "ABORTED",
            "EXTERNALLY_MANAGED",
            "PENDING_PEERING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified MirrorState",
            "Destination volume is being prepared.",
            "Destination volume has been initialized and is ready to receive replication transfers.",
            "Destination volume is not receiving replication transfers.",
            "Incremental replication is in progress.",
            "Baseline replication is in progress.",
            "Replication is aborted.",
            "Replication is being managed from Onprem ONTAP.",
            "Peering is yet to be established."
          ],
          "description": "Output only. Indicates the state of mirroring.",
          "type": "string"
        },
        "replicationSchedule": {
          "enum": [
            "REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ],
          "type": "string",
          "description": "Required. Indicates the schedule for replication.",
          "enumDescriptions": [
            "Unspecified ReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ]
        },
        "transferStats": {
          "$ref": "TransferStats",
          "readOnly": true,
          "description": "Output only. Replication transfer statistics."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Replication create time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "A description about this replication relationship.",
          "type": "string"
        },
        "destinationVolume": {
          "description": "Output only. Full name of destination volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "readOnly": true,
          "type": "string"
        },
        "clusterLocation": {
          "description": "Optional. Location of the user cluster.",
          "type": "string"
        },
        "destinationVolumeParameters": {
          "description": "Required. Input only. Destination volume parameters",
          "$ref": "DestinationVolumeParameters"
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State details of the replication."
        },
        "hybridReplicationUserCommands": {
          "$ref": "UserCommands",
          "readOnly": true,
          "description": "Output only. Copy pastable snapmirror commands to be executed on onprem cluster by the customer."
        },
        "name": {
          "description": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`.",
          "type": "string"
        },
        "hybridPeeringDetails": {
          "$ref": "HybridPeeringDetails",
          "readOnly": true,
          "description": "Output only. Hybrid peering details."
        },
        "sourceVolume": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full name of source volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\""
        },
        "healthy": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Condition of the relationship. Can be one of the following: - true: The replication relationship is healthy. It has not missed the most recent scheduled transfer. - false: The replication relationship is not healthy. It has missed the most recent scheduled transfer."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "ERROR",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PENDING_REMOTE_RESYNC",
            "EXTERNALLY_MANAGED_REPLICATION"
          ],
          "type": "string",
          "description": "Output only. State of the replication.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified replication State",
            "Replication is creating.",
            "Replication is ready.",
            "Replication is updating.",
            "Replication is deleting.",
            "Replication is in error state.",
            "Replication is waiting for cluster peering to be established.",
            "Replication is waiting for SVM peering to be established.",
            "Replication is waiting for Commands to be executed on Onprem ONTAP.",
            "Onprem ONTAP is destination and Replication can only be managed from Onprem."
          ]
        },
        "labels": {
          "type": "object",
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Replication",
      "type": "object",
      "description": "Replication is a nested resource under Volume, that describes a cross-region replication relationship between 2 volumes in different regions."
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse"
    },
    "HybridReplicationParameters": {
      "properties": {
        "replication": {
          "type": "string",
          "description": "Required. Desired name for the replication of this volume."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels to be added to the replication as the key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "clusterLocation": {
          "type": "string",
          "description": "Optional. Name of source cluster location associated with the Hybrid replication. This is a free-form field for the display purpose only."
        },
        "replicationSchedule": {
          "enumDescriptions": [
            "Unspecified HybridReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ],
          "type": "string",
          "enum": [
            "HYBRID_REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ],
          "description": "Optional. Replication Schedule for the replication created."
        },
        "peerSvmName": {
          "type": "string",
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm."
        },
        "description": {
          "description": "Optional. Description of the replication.",
          "type": "string"
        },
        "hybridReplicationType": {
          "description": "Optional. Type of the hybrid replication.",
          "type": "string",
          "enum": [
            "VOLUME_HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "New field for reversible OnPrem replication, to be used for data protection."
          ]
        },
        "peerClusterName": {
          "type": "string",
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster."
        },
        "largeVolumeConstituentCount": {
          "format": "int32",
          "description": "Optional. Constituent volume count for large volume.",
          "type": "integer"
        },
        "peerIpAddresses": {
          "description": "Required. List of node ip addresses to be peered with.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "peerVolumeName": {
          "type": "string",
          "description": "Required. Name of the user's local source volume to be peered with the destination volume."
        }
      },
      "type": "object",
      "id": "HybridReplicationParameters",
      "description": "The Hybrid Replication parameters for the volume."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been canceled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "HostGroup": {
      "description": "Host group is a collection of hosts that can be used for accessing a Block Volume.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. Labels of the host group.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state for host group.",
            "Host group is creating.",
            "Host group is ready.",
            "Host group is updating.",
            "Host group is deleting.",
            "Host group is disabled."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DISABLED"
          ],
          "description": "Output only. State of the host group."
        },
        "osType": {
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "description": "Required. The OS type of the host group. It indicates the type of operating system used by all of the hosts in the HostGroup. All hosts in a HostGroup must be of the same OS type. This can be set only when creating a HostGroup."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ISCSI_INITIATOR"
          ],
          "enumDescriptions": [
            "Unspecified type for host group.",
            "iSCSI initiator host group."
          ],
          "description": "Required. Type of the host group."
        },
        "createTime": {
          "description": "Output only. Create time of the host group.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the host group.",
          "type": "string"
        },
        "hosts": {
          "type": "array",
          "description": "Required. The list of hosts associated with the host group.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "HostGroup",
      "type": "object"
    },
    "ListKmsConfigsResponse": {
      "properties": {
        "kmsConfigs": {
          "description": "The list of KmsConfigs",
          "items": {
            "$ref": "KmsConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListKmsConfigsResponse",
      "description": "ListKmsConfigsResponse is the response to a ListKmsConfigsRequest.",
      "type": "object"
    },
    "StopReplicationRequest": {
      "type": "object",
      "properties": {
        "force": {
          "description": "Indicates whether to stop replication forcefully while data transfer is in progress. Warning! if force is true, this will abort any current transfers and can lead to data loss due to partial transfer. If force is false, stop replication will fail while data transfer is in progress and you will need to retry later.",
          "type": "boolean"
        }
      },
      "id": "StopReplicationRequest",
      "description": "StopReplicationRequest stops a replication until resumed."
    },
    "HybridPeeringDetails": {
      "id": "HybridPeeringDetails",
      "description": "HybridPeeringDetails contains details about the hybrid peering.",
      "type": "object",
      "properties": {
        "subnetIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. IP address of the subnet."
        },
        "passphrase": {
          "type": "string",
          "description": "Output only. Temporary passphrase generated to accept cluster peering command.",
          "readOnly": true
        },
        "peerClusterName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the user's local source cluster to be peered with the destination cluster."
        },
        "peerSvmName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the user's local source vserver svm to be peered with the destination vserver svm."
        },
        "peerVolumeName": {
          "type": "string",
          "description": "Output only. Name of the user's local source volume to be peered with the destination volume.",
          "readOnly": true
        },
        "command": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests."
        },
        "commandExpiryTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Expiration time for the peering command to be executed on user's ONTAP."
        }
      }
    },
    "ExecuteOntapPostResponse": {
      "properties": {
        "body": {
          "type": "object",
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "ExecuteOntapPostResponse",
      "type": "object",
      "description": "Response message for `ExecuteOntapPost` API."
    },
    "LocationMetadata": {
      "properties": {
        "supportedFlexPerformance": {
          "description": "Output only. Supported flex performance in a location.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified flex performance.",
              "Flex Storage Pool with default performance.",
              "Flex Storage Pool with custom performance."
            ],
            "enum": [
              "FLEX_PERFORMANCE_UNSPECIFIED",
              "FLEX_PERFORMANCE_DEFAULT",
              "FLEX_PERFORMANCE_CUSTOM"
            ]
          }
        },
        "hasOntapProxy": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates if the location has ONTAP Proxy support."
        },
        "hasVcp": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates if the location has VCP support."
        },
        "supportedServiceLevels": {
          "items": {
            "enumDescriptions": [
              "Unspecified service level.",
              "Premium service level.",
              "Extreme service level.",
              "Standard service level.",
              "Flex service level."
            ],
            "enum": [
              "SERVICE_LEVEL_UNSPECIFIED",
              "PREMIUM",
              "EXTREME",
              "STANDARD",
              "FLEX"
            ],
            "type": "string"
          },
          "description": "Output only. Supported service levels in a location.",
          "readOnly": true,
          "type": "array"
        },
        "flexPerformanceTier": {
          "enumDescriptions": [
            "Unspecified flex performance tier.",
            "Flex performance tier is limited."
          ],
          "description": "Output only. Indicates the flex performance tier of this location.",
          "enum": [
            "FLEX_PERFORMANCE_TIER_UNSPECIFIED",
            "LIMITED"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Metadata for a given google.cloud.location.Location.",
      "id": "LocationMetadata"
    },
    "VolumeBackupConfig": {
      "description": "Backup configuration for a volume in a pool.",
      "id": "VolumeBackupConfig",
      "properties": {
        "volumeUuid": {
          "description": "Provides the Ontap UUID of the volume within the pool.",
          "type": "string"
        },
        "backupConfig": {
          "description": "Backup configuration for the volume.",
          "$ref": "BackupConfig"
        }
      },
      "type": "object"
    },
    "VerifyKmsConfigRequest": {
      "id": "VerifyKmsConfigRequest",
      "properties": {},
      "description": "VerifyKmsConfigRequest specifies the KMS config to be validated.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "BackupSource": {
      "type": "object",
      "id": "BackupSource",
      "properties": {
        "backup": {
          "description": "Required. The backup resource name.",
          "type": "string"
        },
        "fileList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of files to be restored in the form of their absolute path as in source volume. If provided, only these files will be restored. If not provided, the entire backup will be restored (Full Backup Restore)"
        }
      },
      "description": "Represents the backup source of the restore operation."
    },
    "StoragePool": {
      "id": "StoragePool",
      "type": "object",
      "properties": {
        "globalAccessAllowed": {
          "description": "Deprecated. Used to allow SO pool to access AD or DNS server from other regions.",
          "type": "boolean",
          "deprecated": true
        },
        "psaRange": {
          "type": "string",
          "description": "Optional. This field is not implemented. The values provided in this field are ignored."
        },
        "allowAutoTiering": {
          "type": "boolean",
          "description": "Optional. True if the storage pool supports Auto Tiering enabled volumes. Default is false. Auto-tiering can be enabled after storage pool creation but it can't be disabled once enabled."
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. State details of the storage pool",
          "readOnly": true
        },
        "volumeCapacityGib": {
          "description": "Output only. Allocated size of all volumes in GIB in the storage pool",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "availableThroughputMibps": {
          "description": "Output only. Available throughput of the storage pool (in MiB/s).",
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "volumeCount": {
          "readOnly": true,
          "description": "Output only. Volume count of the storage pool",
          "type": "integer",
          "format": "int32"
        },
        "scaleType": {
          "description": "Optional. The scale type of the storage pool. Defaults to `SCALE_TYPE_DEFAULT` if not specified.",
          "enumDescriptions": [
            "Unspecified scale type.",
            "Represents standard capacity and performance scale-type. Suitable for general purpose workloads.",
            "Represents higher capacity and performance scale-type. Suitable for more demanding workloads."
          ],
          "type": "string",
          "enum": [
            "SCALE_TYPE_UNSPECIFIED",
            "SCALE_TYPE_DEFAULT",
            "SCALE_TYPE_SCALEOUT"
          ]
        },
        "network": {
          "type": "string",
          "description": "Required. VPC Network name. Format: projects/{project}/global/networks/{network}"
        },
        "mode": {
          "enumDescriptions": [
            "The `Mode` is not specified.",
            "The resource is managed by the GCNV APIs.",
            "The resource is managed by the GCNV ONTAP Mode APIs."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "DEFAULT",
            "ONTAP"
          ],
          "type": "string",
          "description": "Optional. Mode of the storage pool. This field is used to control whether the user can perform ONTAP operations on the storage pool using the GCNV ONTAP Mode APIs. If not specified during creation, it defaults to `DEFAULT`."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Storage pool type is not specified.",
            "Storage pool type is file.",
            "Storage pool type is unified."
          ],
          "enum": [
            "STORAGE_POOL_TYPE_UNSPECIFIED",
            "FILE",
            "UNIFIED"
          ],
          "description": "Optional. Type of the storage pool. This field is used to control whether the pool supports `FILE` based volumes only or `UNIFIED` (both `FILE` and `BLOCK`) volumes. If not specified during creation, it defaults to `FILE`."
        },
        "coldTierSizeUsedGib": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Total cold tier data rounded down to the nearest GiB used by the storage pool."
        },
        "serviceLevel": {
          "description": "Required. Service level of the storage pool",
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ],
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ],
          "type": "string"
        },
        "capacityGib": {
          "description": "Required. Capacity in GIB of the pool",
          "type": "string",
          "format": "int64"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. Description of the storage pool",
          "type": "string"
        },
        "customPerformanceEnabled": {
          "description": "Optional. True if using Independent Scaling of capacity and performance (Hyperdisk) By default set to false",
          "type": "boolean"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use"
        },
        "enableHotTierAutoResize": {
          "description": "Optional. Flag indicating that the hot-tier threshold will be auto-increased by 10% of the hot-tier when it hits 100%. Default is true. The increment will kick in only if the new size after increment is still less than or equal to storage pool size.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. Name of the storage pool",
          "type": "string"
        },
        "replicaZone": {
          "type": "string",
          "description": "Optional. Specifies the replica zone for regional storagePool."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create time of the storage pool",
          "format": "google-datetime"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use",
          "readOnly": true
        },
        "totalThroughputMibps": {
          "type": "string",
          "description": "Optional. Custom Performance Total Throughput of the pool (in MiBps)",
          "format": "int64"
        },
        "hotTierSizeGib": {
          "format": "int64",
          "description": "Optional. Total hot tier capacity for the Storage Pool. It is applicable only to Flex service level. It should be less than the minimum storage pool size and cannot be more than the current storage pool size. It cannot be decreased once set.",
          "type": "string"
        },
        "totalIops": {
          "type": "string",
          "description": "Optional. Custom Performance Total IOPS of the pool if not provided, it will be calculated based on the total_throughput_mibps",
          "format": "int64"
        },
        "ldapEnabled": {
          "description": "Optional. Flag indicating if the pool is NFS LDAP enabled or not.",
          "type": "boolean"
        },
        "encryptionType": {
          "readOnly": true,
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ],
          "description": "Output only. Specifies the current pool encryption key source.",
          "type": "string",
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ]
        },
        "hotTierSizeUsedGib": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the storage pool."
        },
        "qosType": {
          "enumDescriptions": [
            "Unspecified QoS Type",
            "QoS Type is Auto",
            "QoS Type is Manual"
          ],
          "description": "Optional. QoS (Quality of Service) Type of the storage pool",
          "enum": [
            "QOS_TYPE_UNSPECIFIED",
            "AUTO",
            "MANUAL"
          ],
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified Storage Pool State",
            "Storage Pool State is Ready",
            "Storage Pool State is Creating",
            "Storage Pool State is Deleting",
            "Storage Pool State is Updating",
            "Storage Pool State is Restoring",
            "Storage Pool State is Disabled",
            "Storage Pool State is Error"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR"
          ],
          "description": "Output only. State of the storage pool",
          "type": "string",
          "readOnly": true
        },
        "activeDirectory": {
          "type": "string",
          "description": "Optional. Specifies the Active Directory to be used for creating a SMB volume."
        },
        "zone": {
          "description": "Optional. Specifies the active zone for regional storagePool.",
          "type": "string"
        },
        "kmsConfig": {
          "type": "string",
          "description": "Optional. Specifies the KMS config to be used for volume encryption."
        }
      },
      "description": "StoragePool is a container for volumes with a service level and capacity. Volumes can be created in a pool of sufficient available capacity. StoragePool capacity is what you are billed for."
    },
    "OntapVolumeTarget": {
      "description": "Represents the ONTAP volume target of the restore operation.",
      "id": "OntapVolumeTarget",
      "properties": {
        "volumeUuid": {
          "description": "Required. The UUID of the ONTAP volume to restore to.",
          "type": "string"
        },
        "restoreDestinationPath": {
          "description": "Optional. Absolute directory path in the destination volume.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TransferStats": {
      "id": "TransferStats",
      "properties": {
        "lastTransferDuration": {
          "description": "Time taken during last transfer.",
          "type": "string",
          "format": "google-duration"
        },
        "transferBytes": {
          "description": "Cumulative bytes transferred so far for the replication relationship.",
          "type": "string",
          "format": "int64"
        },
        "lagDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Lag duration indicates the duration by which Destination region volume content lags behind the primary region volume content."
        },
        "lastTransferBytes": {
          "format": "int64",
          "description": "Last transfer size in bytes.",
          "type": "string"
        },
        "lastTransferEndTime": {
          "format": "google-datetime",
          "description": "Time when last transfer completed.",
          "type": "string"
        },
        "updateTime": {
          "description": "Time when progress was updated last.",
          "type": "string",
          "format": "google-datetime"
        },
        "totalTransferDuration": {
          "description": "Cumulative time taken across all transfers for the replication relationship.",
          "format": "google-duration",
          "type": "string"
        },
        "lastTransferError": {
          "description": "A message describing the cause of the last transfer failure.",
          "type": "string"
        }
      },
      "description": "TransferStats reports all statistics related to replication transfer.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "BackupRetentionPolicy": {
      "id": "BackupRetentionPolicy",
      "properties": {
        "monthlyBackupImmutable": {
          "description": "Optional. Indicates if the monthly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "dailyBackupImmutable": {
          "description": "Optional. Indicates if the daily backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "weeklyBackupImmutable": {
          "description": "Optional. Indicates if the weekly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "manualBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the manual backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        },
        "backupMinimumEnforcedRetentionDays": {
          "format": "int32",
          "description": "Required. Minimum retention duration in days for backups in the backup vault.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Retention policy for backups in the backup vault"
    },
    "ExecuteOntapPostRequest": {
      "properties": {
        "body": {
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "ExecuteOntapPostRequest",
      "description": "Request message for `ExecuteOntapPost` API."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ExecuteOntapPatchResponse": {
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "ExecuteOntapPatchResponse",
      "description": "Response message for `ExecuteOntapPatch` API."
    },
    "ExecuteOntapGetResponse": {
      "description": "Response message for `ExecuteOntapGet` API.",
      "properties": {
        "body": {
          "type": "object",
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "ExecuteOntapGetResponse",
      "type": "object"
    },
    "ValidateDirectoryServiceRequest": {
      "properties": {
        "directoryServiceType": {
          "enumDescriptions": [
            "Directory service type is not specified.",
            "Active directory policy attached to the storage pool."
          ],
          "type": "string",
          "description": "Type of directory service policy attached to the storage pool.",
          "enum": [
            "DIRECTORY_SERVICE_TYPE_UNSPECIFIED",
            "ACTIVE_DIRECTORY"
          ]
        }
      },
      "description": "ValidateDirectoryServiceRequest validates the directory service policy attached to the storage pool.",
      "type": "object",
      "id": "ValidateDirectoryServiceRequest"
    },
    "BackupConfig": {
      "description": "BackupConfig contains backup related config on a volume.",
      "id": "BackupConfig",
      "properties": {
        "backupChainBytes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size).",
          "readOnly": true
        },
        "backupPolicies": {
          "description": "Optional. When specified, schedule backups will be created based on the policy configuration.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "backupVault": {
          "description": "Optional. Name of backup vault. Format: projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}",
          "type": "string"
        },
        "scheduledBackupEnabled": {
          "description": "Optional. When set to true, scheduled backup is enabled on the volume. This field should be nil when there's no backup policy attached.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "UpdateBackupConfigRequest": {
      "type": "object",
      "properties": {
        "volumeUuid": {
          "type": "string",
          "description": "Required. The UUID of the ONTAP-mode volume."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. Field mask is used to specify the fields to be overwritten in the BackupConfig for the Volume. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
          "type": "string"
        },
        "backupConfig": {
          "description": "Required. Backup configuration to apply.",
          "$ref": "BackupConfig"
        }
      },
      "id": "UpdateBackupConfigRequest",
      "description": "Request message for UpdateBackupConfig"
    },
    "ListBackupsResponse": {
      "properties": {
        "backups": {
          "type": "array",
          "description": "A list of backups in the project.",
          "items": {
            "$ref": "Backup"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListBackupsResponse",
      "type": "object",
      "description": "ListBackupsResponse is the result of ListBackupsRequest."
    },
    "SimpleExportPolicyRule": {
      "description": "An export policy rule describing various export options.",
      "type": "object",
      "properties": {
        "allowedClients": {
          "description": "Comma separated list of allowed clients IP addresses",
          "type": "string"
        },
        "kerberos5iReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode. The 'kerberos5iReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "hasRootAccess": {
          "type": "string",
          "description": "Whether Unix root access will be granted."
        },
        "squashMode": {
          "description": "Optional. Defines how user identity squashing is applied for this export rule. This field is the preferred way to configure squashing behavior and takes precedence over `has_root_access` if both are provided.",
          "enumDescriptions": [
            "Defaults to `NO_ROOT_SQUASH`.",
            "The root user (UID 0) retains full access. Other users are unaffected.",
            "The root user (UID 0) is squashed to anonymous user ID. Other users are unaffected.",
            "All users are squashed to anonymous user ID."
          ],
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH",
            "ALL_SQUASH"
          ],
          "type": "string"
        },
        "kerberos5pReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode. The 'kerberos5pReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "nfsv3": {
          "type": "boolean",
          "description": "NFS V3 protocol."
        },
        "kerberos5ReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode. The 'kerberos5ReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "accessType": {
          "type": "string",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "READ_NONE"
          ],
          "description": "Access type (ReadWrite, ReadOnly, None)",
          "enumDescriptions": [
            "Unspecified Access Type",
            "Read Only",
            "Read Write",
            "None"
          ]
        },
        "anonUid": {
          "type": "string",
          "format": "int64",
          "description": "Optional. An integer representing the anonymous user ID. Range is 0 to `4294967295`. Required when `squash_mode` is `ROOT_SQUASH` or `ALL_SQUASH`."
        },
        "kerberos5iReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode.",
          "type": "boolean"
        },
        "kerberos5ReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode."
        },
        "nfsv4": {
          "description": "NFS V4 protocol.",
          "type": "boolean"
        },
        "kerberos5pReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode.",
          "type": "boolean"
        }
      },
      "id": "SimpleExportPolicyRule"
    },
    "ListBackupConfigsResponse": {
      "id": "ListBackupConfigsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        },
        "volumeBackupConfigs": {
          "type": "array",
          "items": {
            "$ref": "VolumeBackupConfig"
          },
          "description": "A list of backup configurations for volumes in the pool."
        }
      },
      "description": "Message for response to listing BackupConfigs in an ONTAP StoragePool."
    },
    "DestinationVolumeParameters": {
      "properties": {
        "volumeId": {
          "type": "string",
          "description": "Desired destination volume resource id. If not specified, source volume's resource id will be used. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen."
        },
        "description": {
          "description": "Description for the destination volume.",
          "type": "string"
        },
        "tieringPolicy": {
          "$ref": "TieringPolicy",
          "description": "Optional. Tiering policy for the volume."
        },
        "shareName": {
          "type": "string",
          "description": "Destination volume's share name. If not specified, source volume's share name will be used."
        },
        "storagePool": {
          "description": "Required. Existing destination StoragePool name.",
          "type": "string"
        }
      },
      "id": "DestinationVolumeParameters",
      "type": "object",
      "description": "DestinationVolumeParameters specify input parameters used for creating destination volume."
    },
    "StartSplitRequest": {
      "id": "StartSplitRequest",
      "description": "Request message for splitting a volume.",
      "properties": {},
      "type": "object"
    },
    "MonthlySchedule": {
      "description": "Make a snapshot once a month e.g. at 2nd 04:00, 7th 05:20, 24th 23:50",
      "id": "MonthlySchedule",
      "type": "object",
      "properties": {
        "minute": {
          "format": "double",
          "type": "number",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
        },
        "snapshotsToKeep": {
          "format": "double",
          "type": "number",
          "description": "The maximum number of Snapshots to keep for the hourly schedule"
        },
        "hour": {
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "format": "double",
          "type": "number"
        },
        "daysOfMonth": {
          "description": "Set the day or days of the month to make a snapshot (1-31). Accepts a comma separated number of days. Defaults to '1'.",
          "type": "string"
        }
      }
    },
    "OntapSource": {
      "type": "object",
      "properties": {
        "storagePool": {
          "description": "Required. Name of the storage pool. This must be specified for creating backups for ONTAP mode volumes. Format: `projects/{projects_id}/locations/{location}/storagePools/{storage_pool_id}`",
          "type": "string"
        },
        "volumeUuid": {
          "type": "string",
          "description": "Required. The UUID of the ONTAP source volume."
        },
        "snapshotUuid": {
          "description": "Optional. The UUID of the ONTAP source snapshot.",
          "type": "string"
        }
      },
      "description": "Represents ONTAP source details.",
      "id": "OntapSource"
    },
    "ListSnapshotsResponse": {
      "id": "ListSnapshotsResponse",
      "description": "ListSnapshotsResponse is the result of ListSnapshotsRequest.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "snapshots": {
          "items": {
            "$ref": "Snapshot"
          },
          "description": "A list of snapshots in the project for the specified volume.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        }
      },
      "type": "object"
    },
    "BlockDevice": {
      "type": "object",
      "description": "Block device represents the device(s) which are stored in the block volume.",
      "id": "BlockDevice",
      "properties": {
        "osType": {
          "description": "Required. Immutable. The OS type of the volume. This field can't be changed after the block device is created.",
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ],
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. User-defined name for the block device, unique within the volume. In case no user input is provided, name will be auto-generated in the backend. The name must meet the following requirements: * Be between 1 and 255 characters long. * Contain only uppercase or lowercase letters (A-Z, a-z), numbers (0-9), and the following special characters: \"-\", \"_\", \"}\", \"{\", \".\". * Spaces are not allowed."
        },
        "hostGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of host groups that identify hosts that can mount the block volume. Format: `projects/{project_id}/locations/{location}/hostGroups/{host_group_id}` This field can be updated after the block device is created."
        },
        "sizeGib": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The size of the block device in GiB. Any value provided for the `size_gib` field during volume creation is ignored. The block device's size is system-managed and will be set to match the parent Volume's `capacity_gib`."
        },
        "identifier": {
          "type": "string",
          "description": "Output only. Device identifier of the block volume. This represents `lun_serial_number` for iSCSI volumes.",
          "readOnly": true
        }
      }
    },
    "SplitStatus": {
      "type": "object",
      "id": "SplitStatus",
      "description": "Message for SplitStatus.",
      "properties": {
        "stateDetails": {
          "description": "Output only. Human-readable details about the current state. Mostly used for displaying error messages during split failure Examples: \"Split in progress\", \"Error: insufficient capacity\".",
          "readOnly": true,
          "type": "string"
        },
        "splitState": {
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ],
          "description": "Output only. The current state of the clone split operation.",
          "readOnly": true,
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "type": "string"
        },
        "progressPercent": {
          "format": "int32",
          "description": "Output only. The estimated progress percentage of the split operation (0-100). This is meaningful primarily when split_state is IN_PROGRESS.",
          "readOnly": true,
          "type": "integer"
        }
      }
    },
    "EncryptVolumesRequest": {
      "description": "EncryptVolumesRequest specifies the KMS config to encrypt existing volumes.",
      "type": "object",
      "id": "EncryptVolumesRequest",
      "properties": {}
    },
    "ListBackupVaultsResponse": {
      "description": "ListBackupVaultsResponse is the result of ListBackupVaultsRequest.",
      "properties": {
        "backupVaults": {
          "description": "A list of backupVaults in the project for the specified location.",
          "type": "array",
          "items": {
            "$ref": "BackupVault"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListBackupVaultsResponse",
      "type": "object"
    },
    "ListActiveDirectoriesResponse": {
      "description": "ListActiveDirectoriesResponse contains all the active directories requested.",
      "id": "ListActiveDirectoriesResponse",
      "type": "object",
      "properties": {
        "activeDirectories": {
          "description": "The list of active directories.",
          "type": "array",
          "items": {
            "$ref": "ActiveDirectory"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "Snapshot": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the snapshot. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata."
        },
        "description": {
          "type": "string",
          "description": "A description of the snapshot with 2048 characters or less. Requests with longer descriptions will be rejected."
        },
        "usedBytes": {
          "format": "double",
          "type": "number",
          "readOnly": true,
          "description": "Output only. Current storage usage for the snapshot in bytes."
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. State details of the storage pool",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Unspecified Snapshot State",
            "Snapshot State is Ready",
            "Snapshot State is Creating",
            "Snapshot State is Deleting",
            "Snapshot State is Updating",
            "Snapshot State is Disabled",
            "Snapshot State is Error"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The snapshot state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
[...]
