{
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/netapp/",
  "mtlsRootUrl": "https://netapp.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "canonicalName": "NetApp Files",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "discoveryVersion": "v1",
  "revision": "20260918",
  "basePath": "",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://netapp.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://netapp.asia-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://netapp.asia-east2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://netapp.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.asia-northeast3.rep.googleapis.com/"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://netapp.asia-south2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://netapp.asia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast2",
      "endpointUrl": "https://netapp.asia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://netapp.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://netapp.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north1",
      "endpointUrl": "https://netapp.europe-north1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://netapp.europe-north2.rep.googleapis.com/"
    },
    {
      "location": "europe-southwest1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-southwest1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west1",
      "endpointUrl": "https://netapp.europe-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://netapp.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west12.rep.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://netapp.europe-west3.rep.googleapis.com/"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.europe-west4.rep.googleapis.com/"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://netapp.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://netapp.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://netapp.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "location": "me-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.me-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://netapp.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://netapp.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://netapp.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://netapp.southamerica-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://netapp.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://netapp.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://netapp.us-east4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://netapp.us-east5.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://netapp.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://netapp.us-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://netapp.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://netapp.us-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://netapp.us-west3.rep.googleapis.com/"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://netapp.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "protocol": "rest",
  "ownerName": "Google",
  "rootUrl": "https://netapp.googleapis.com/",
  "batchPath": "batch",
  "description": "Google Cloud NetApp Volumes is a fully-managed, cloud-based data storage service that provides advanced data management capabilities and highly scalable performance with global availability.",
  "title": "NetApp API",
  "schemas": {
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "DestinationVolumeParameters": {
      "id": "DestinationVolumeParameters",
      "description": "DestinationVolumeParameters specify input parameters used for creating destination volume.",
      "properties": {
        "volumeId": {
          "description": "Desired destination volume resource id. If not specified, source volume's resource id will be used. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
          "type": "string"
        },
        "storagePool": {
          "description": "Required. Existing destination StoragePool name.",
          "type": "string"
        },
        "shareName": {
          "description": "Destination volume's share name. If not specified, source volume's share name will be used.",
          "type": "string"
        },
        "tieringPolicy": {
          "description": "Optional. Tiering policy for the volume.",
          "$ref": "TieringPolicy"
        },
        "description": {
          "description": "Description for the destination volume.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "HostGroup": {
      "properties": {
        "hosts": {
          "type": "array",
          "description": "Required. The list of hosts associated with the host group.",
          "items": {
            "type": "string"
          }
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the host group.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DISABLED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state for host group.",
            "Host group is creating.",
            "Host group is ready.",
            "Host group is updating.",
            "Host group is deleting.",
            "Host group is disabled."
          ]
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Create time of the host group.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`."
        },
        "osType": {
          "description": "Required. The OS type of the host group. It indicates the type of operating system used by all of the hosts in the HostGroup. All hosts in a HostGroup must be of the same OS type. This can be set only when creating a HostGroup.",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ],
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels of the host group.",
          "type": "object"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ISCSI_INITIATOR"
          ],
          "type": "string",
          "description": "Required. Type of the host group.",
          "enumDescriptions": [
            "Unspecified type for host group.",
            "iSCSI initiator host group."
          ]
        },
        "description": {
          "description": "Optional. Description of the host group.",
          "type": "string"
        }
      },
      "description": "Host group is a collection of hosts that can be used for accessing a Block Volume.",
      "id": "HostGroup",
      "type": "object"
    },
    "OntapSource": {
      "type": "object",
      "properties": {
        "snapshotUuid": {
          "description": "Optional. The UUID of the ONTAP source snapshot.",
          "type": "string"
        },
        "storagePool": {
          "type": "string",
          "description": "Required. Name of the storage pool. This must be specified for creating backups for ONTAP mode volumes. Format: `projects/{projects_id}/locations/{location}/storagePools/{storage_pool_id}`"
        },
        "volumeUuid": {
          "type": "string",
          "description": "Required. The UUID of the ONTAP source volume."
        }
      },
      "id": "OntapSource",
      "description": "Represents ONTAP source details."
    },
    "EncryptVolumesRequest": {
      "type": "object",
      "id": "EncryptVolumesRequest",
      "description": "EncryptVolumesRequest specifies the KMS config to encrypt existing volumes.",
      "properties": {}
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "ListQuotaRulesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "quotaRules": {
          "type": "array",
          "description": "List of quota rules",
          "items": {
            "$ref": "QuotaRule"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "ListQuotaRulesResponse is the response to a ListQuotaRulesRequest.",
      "id": "ListQuotaRulesResponse"
    },
    "Operation": {
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "Volume": {
      "id": "Volume",
      "type": "object",
      "description": "Volume provides a filesystem that you can mount.",
      "properties": {
        "shareName": {
          "type": "string",
          "description": "Required. Share name of the volume"
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. State details of the volume",
          "readOnly": true
        },
        "throughputMibps": {
          "format": "double",
          "type": "number",
          "description": "Optional. Throughput of the volume (in MiB/s)"
        },
        "replicaZone": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the replica zone for regional volume."
        },
        "serviceLevel": {
          "description": "Output only. Service level of the volume",
          "type": "string",
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ]
        },
        "snapshotPolicy": {
          "$ref": "SnapshotPolicy",
          "description": "Optional. SnapshotPolicy for a volume."
        },
        "hybridReplicationParameters": {
          "$ref": "HybridReplicationParameters",
          "description": "Optional. The Hybrid Replication parameters for the volume."
        },
        "cloneDetails": {
          "description": "Output only. If this volume is a clone, this field contains details about the clone.",
          "$ref": "CloneDetails",
          "readOnly": true
        },
        "psaRange": {
          "readOnly": true,
          "description": "Output only. This field is not implemented. The values provided in this field are ignored.",
          "type": "string"
        },
        "hasReplication": {
          "type": "boolean",
          "description": "Output only. Indicates whether the volume is part of a replication relationship.",
          "readOnly": true
        },
        "cacheParameters": {
          "$ref": "CacheParameters",
          "description": "Optional. Cache parameters for the volume."
        },
        "network": {
          "description": "Output only. VPC Network name. Format: projects/{project}/global/networks/{network}",
          "type": "string",
          "readOnly": true
        },
        "protocols": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified protocol",
              "NFS V3 protocol",
              "NFS V4 protocol",
              "SMB protocol",
              "ISCSI protocol",
              "NVMe protocol"
            ],
            "enum": [
              "PROTOCOLS_UNSPECIFIED",
              "NFSV3",
              "NFSV4",
              "SMB",
              "ISCSI",
              "NVME"
            ]
          },
          "description": "Required. Protocols required for the volume"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the volume"
        },
        "largeCapacity": {
          "description": "Optional. Flag indicating if the volume will be a large capacity volume or a regular volume. This field is used for legacy FILE pools. For Unified pools, use the `large_capacity_config` field instead. This field and `large_capacity_config` are mutually exclusive.",
          "type": "boolean"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR",
            "PREPARING",
            "READ_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified Volume State",
            "Volume State is Ready",
            "Volume State is Creating",
            "Volume State is Deleting",
            "Volume State is Updating",
            "Volume State is Restoring",
            "Volume State is Disabled",
            "Volume State is Error",
            "Volume State is Preparing. Note that this is different from CREATING where CREATING means the volume is being created, while PREPARING means the volume is created and now being prepared for the replication.",
            "Volume State is Read Only"
          ],
          "description": "Output only. State of the volume",
          "readOnly": true
        },
        "usedGib": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Used capacity in GIB of the volume. This is computed periodically and it does not represent the realtime usage.",
          "format": "int64"
        },
        "activeDirectory": {
          "description": "Output only. Specifies the ActiveDirectory name of a SMB volume.",
          "readOnly": true,
          "type": "string"
        },
        "kerberosEnabled": {
          "description": "Optional. Flag indicating if the volume is a kerberos volume or not, export policy rules control kerberos security modes (krb5, krb5i, krb5p).",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Create time of the volume",
          "readOnly": true,
          "format": "google-datetime"
        },
        "exportPolicy": {
          "description": "Optional. Export policy of the volume",
          "$ref": "ExportPolicy"
        },
        "snapReserve": {
          "description": "Optional. Snap_reserve specifies percentage of volume storage reserved for snapshot storage. Default is 0 percent.",
          "type": "number",
          "format": "double"
        },
        "storagePool": {
          "type": "string",
          "description": "Required. StoragePool name of the volume"
        },
        "hotTierSizeUsedGib": {
          "readOnly": true,
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the Volume. This field is only used for flex Service Level",
          "format": "int64",
          "type": "string"
        },
        "coldTierSizeGib": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Size of the volume cold tier data rounded down to the nearest GiB.",
          "type": "string"
        },
        "securityStyle": {
          "description": "Optional. Security Style of the Volume",
          "enumDescriptions": [
            "SecurityStyle is unspecified",
            "SecurityStyle uses NTFS",
            "SecurityStyle uses UNIX"
          ],
          "enum": [
            "SECURITY_STYLE_UNSPECIFIED",
            "NTFS",
            "UNIX"
          ],
          "type": "string"
        },
        "blockDevices": {
          "type": "array",
          "items": {
            "$ref": "BlockDevice"
          },
          "description": "Optional. Block devices for the volume. Currently, only one block device is permitted per Volume."
        },
        "largeCapacityConfig": {
          "$ref": "LargeCapacityConfig",
          "description": "Optional. Large capacity config for the volume. Enables and configures large capacity for volumes in Unified pools with File protocols. Not applicable for Block protocols in Unified pools. This field and the legacy `large_capacity` boolean field are mutually exclusive."
        },
        "zone": {
          "description": "Output only. Specifies the active zone for regional volume.",
          "type": "string",
          "readOnly": true
        },
        "ldapEnabled": {
          "readOnly": true,
          "description": "Output only. Flag indicating if the volume is NFS LDAP enabled or not.",
          "type": "boolean"
        },
        "multipleEndpoints": {
          "description": "Optional. Flag indicating if the volume will have an IP address per node for volumes supporting multiple IP endpoints. Only the volume with large_capacity will be allowed to have multiple endpoints.",
          "type": "boolean"
        },
        "encryptionType": {
          "description": "Output only. Specified the current volume encryption key source.",
          "type": "string",
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ],
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the volume"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key value pairs"
        },
        "kmsConfig": {
          "description": "Output only. Specifies the KMS config to be used for volume encryption.",
          "type": "string",
          "readOnly": true
        },
        "unixPermissions": {
          "description": "Optional. Default unix style permission (e.g. 777) the mount point will be created with. Applicable for NFS protocol types only.",
          "type": "string"
        },
        "tieringPolicy": {
          "description": "Tiering policy for the volume.",
          "$ref": "TieringPolicy"
        },
        "capacityGib": {
          "type": "string",
          "description": "Required. Capacity in GIB of the volume",
          "format": "int64"
        },
        "restoreParameters": {
          "$ref": "RestoreParameters",
          "description": "Optional. Specifies the source of the volume to be created from."
        },
        "restrictedActions": {
          "type": "array",
          "description": "Optional. List of actions that are restricted on this volume.",
          "items": {
            "type": "string",
            "enum": [
              "RESTRICTED_ACTION_UNSPECIFIED",
              "DELETE"
            ],
            "enumDescriptions": [
              "Unspecified restricted action",
              "Prevent volume from being deleted when mounted."
            ]
          }
        },
        "snapshotDirectory": {
          "type": "boolean",
          "description": "Optional. Snapshot_directory if enabled (true) the volume will contain a read-only .snapshot directory which provides access to each of the volume's snapshots."
        },
        "smbSettings": {
          "description": "Optional. SMB share settings for the volume.",
          "items": {
            "type": "string",
            "enum": [
              "SMB_SETTINGS_UNSPECIFIED",
              "ENCRYPT_DATA",
              "BROWSABLE",
              "CHANGE_NOTIFY",
              "NON_BROWSABLE",
              "OPLOCKS",
              "SHOW_SNAPSHOT",
              "SHOW_PREVIOUS_VERSIONS",
              "ACCESS_BASED_ENUMERATION",
              "CONTINUOUSLY_AVAILABLE"
            ],
            "enumDescriptions": [
              "Unspecified default option",
              "SMB setting encrypt data",
              "SMB setting browsable",
              "SMB setting notify change",
              "SMB setting not to notify change",
              "SMB setting oplocks",
              "SMB setting to show snapshots",
              "SMB setting to show previous versions",
              "SMB setting to access volume based on enumerartion",
              "Continuously available enumeration"
            ]
          },
          "type": "array"
        },
        "backupConfig": {
          "description": "BackupConfig of the volume.",
          "$ref": "BackupConfig"
        },
        "mountOptions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "MountOption"
          },
          "description": "Output only. Mount options of this volume"
        }
      }
    },
    "ExecuteOntapPatchRequest": {
      "type": "object",
      "id": "ExecuteOntapPatchRequest",
      "description": "Request message for `ExecuteOntapPatch` API.",
      "properties": {
        "body": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```"
        }
      }
    },
    "ListKmsConfigsResponse": {
      "description": "ListKmsConfigsResponse is the response to a ListKmsConfigsRequest.",
      "properties": {
        "kmsConfigs": {
          "items": {
            "$ref": "KmsConfig"
          },
          "description": "The list of KmsConfigs",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListKmsConfigsResponse",
      "type": "object"
    },
    "Snapshot": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the snapshot. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified Snapshot State",
            "Snapshot State is Ready",
            "Snapshot State is Creating",
            "Snapshot State is Deleting",
            "Snapshot State is Updating",
            "Snapshot State is Disabled",
            "Snapshot State is Error"
          ],
          "description": "Output only. The snapshot state.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "DISABLED",
            "ERROR"
          ],
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata."
        },
        "stateDetails": {
          "readOnly": true,
          "description": "Output only. State details of the storage pool",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the snapshot was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "usedBytes": {
          "readOnly": true,
          "description": "Output only. Current storage usage for the snapshot in bytes.",
          "type": "number",
          "format": "double"
        },
        "description": {
          "description": "A description of the snapshot with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Snapshot",
      "description": "Snapshot is a point-in-time version of a Volume's content."
    },
    "SplitStatus": {
      "description": "Message for SplitStatus.",
      "type": "object",
      "id": "SplitStatus",
      "properties": {
        "progressPercent": {
          "description": "Output only. The estimated progress percentage of the split operation (0-100). This is meaningful primarily when split_state is IN_PROGRESS.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. Human-readable details about the current state. Mostly used for displaying error messages during split failure Examples: \"Split in progress\", \"Error: insufficient capacity\".",
          "readOnly": true
        },
        "splitState": {
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "description": "Output only. The current state of the clone split operation."
        }
      }
    },
    "RestoreVolumeRequest": {
      "description": "Request message for `RestoreVolume` API.",
      "type": "object",
      "properties": {
        "backupSource": {
          "description": "The backup source of the restore operation.",
          "$ref": "BackupSource"
        },
        "ontapVolumeTarget": {
          "description": "The ONTAP volume target of the restore operation.",
          "$ref": "OntapVolumeTarget"
        }
      },
      "id": "RestoreVolumeRequest"
    },
    "MonthlySchedule": {
      "properties": {
        "daysOfMonth": {
          "type": "string",
          "description": "Set the day or days of the month to make a snapshot (1-31). Accepts a comma separated number of days. Defaults to '1'."
        },
        "hour": {
          "format": "double",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number"
        },
        "snapshotsToKeep": {
          "format": "double",
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number"
        },
        "minute": {
          "type": "number",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Make a snapshot once a month e.g. at 2nd 04:00, 7th 05:20, 24th 23:50",
      "id": "MonthlySchedule"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      }
    },
    "MountOption": {
      "properties": {
        "protocol": {
          "enumDescriptions": [
            "Unspecified protocol",
            "NFS V3 protocol",
            "NFS V4 protocol",
            "SMB protocol",
            "ISCSI protocol",
            "NVMe protocol"
          ],
          "type": "string",
          "enum": [
            "PROTOCOLS_UNSPECIFIED",
            "NFSV3",
            "NFSV4",
            "SMB",
            "ISCSI",
            "NVME"
          ],
          "description": "Protocol to mount with."
        },
        "instructions": {
          "description": "Instructions for mounting",
          "type": "string"
        },
        "ipAddress": {
          "description": "Output only. IP Address.",
          "type": "string",
          "readOnly": true
        },
        "exportFull": {
          "type": "string",
          "description": "Full export string"
        },
        "export": {
          "description": "Export string",
          "type": "string"
        }
      },
      "type": "object",
      "description": "View only mount options for a volume.",
      "id": "MountOption"
    },
    "VolumeBackupConfig": {
      "type": "object",
      "description": "Backup configuration for a volume in a pool.",
      "id": "VolumeBackupConfig",
      "properties": {
        "volumeUuid": {
          "type": "string",
          "description": "Provides the Ontap UUID of the volume within the pool."
        },
        "backupConfig": {
          "description": "Backup configuration for the volume.",
          "$ref": "BackupConfig"
        }
      }
    },
    "HourlySchedule": {
      "description": "Make a snapshot every hour e.g. at 04:00, 05:00, 06:00.",
      "id": "HourlySchedule",
      "type": "object",
      "properties": {
        "minute": {
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number",
          "format": "double"
        },
        "snapshotsToKeep": {
          "format": "double",
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number"
        }
      }
    },
    "BlockDevice": {
      "properties": {
        "osType": {
          "description": "Required. Immutable. The OS type of the volume. This field can't be changed after the block device is created.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ]
        },
        "sizeGib": {
          "description": "Optional. The size of the block device in GiB. Any value provided for the `size_gib` field during volume creation is ignored. The block device's size is system-managed and will be set to match the parent Volume's `capacity_gib`.",
          "type": "string",
          "format": "int64"
        },
        "hostGroups": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of host groups that identify hosts that can mount the block volume. Format: `projects/{project_id}/locations/{location}/hostGroups/{host_group_id}` This field can be updated after the block device is created.",
          "type": "array"
        },
        "name": {
          "description": "Optional. User-defined name for the block device, unique within the volume. In case no user input is provided, name will be auto-generated in the backend. The name must meet the following requirements: * Be between 1 and 255 characters long. * Contain only uppercase or lowercase letters (A-Z, a-z), numbers (0-9), and the following special characters: \"-\", \"_\", \"}\", \"{\", \".\". * Spaces are not allowed.",
          "type": "string"
        },
        "identifier": {
          "type": "string",
          "description": "Output only. Device identifier of the block volume. This represents `lun_serial_number` for iSCSI volumes.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Block device represents the device(s) which are stored in the block volume.",
      "id": "BlockDevice"
    },
    "RestoreBackupFilesRequest": {
      "properties": {
        "restoreDestinationPath": {
          "type": "string",
          "description": "Optional. Absolute directory path in the destination volume. This is required if the `file_list` is provided."
        },
        "fileList": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of files to be restored, specified by their absolute path in the source volume.",
          "type": "array"
        },
        "backup": {
          "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`",
          "type": "string"
        }
      },
      "description": "RestoreBackupFilesRequest restores files from a backup to a volume.",
      "type": "object",
      "id": "RestoreBackupFilesRequest"
    },
    "SnapshotPolicy": {
      "type": "object",
      "id": "SnapshotPolicy",
      "description": "Snapshot Policy for a volume.",
      "properties": {
        "dailySchedule": {
          "description": "Daily schedule policy.",
          "$ref": "DailySchedule"
        },
        "hourlySchedule": {
          "$ref": "HourlySchedule",
          "description": "Hourly schedule policy."
        },
        "monthlySchedule": {
          "$ref": "MonthlySchedule",
          "description": "Monthly schedule policy."
        },
        "enabled": {
          "type": "boolean",
          "description": "If enabled, make snapshots automatically according to the schedules. Default is false."
        },
        "weeklySchedule": {
          "description": "Weekly schedule policy.",
          "$ref": "WeeklySchedule"
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "id": "ListLocationsResponse"
    },
    "ListSnapshotsResponse": {
      "description": "ListSnapshotsResponse is the result of ListSnapshotsRequest.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "snapshots": {
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array",
          "description": "A list of snapshots in the project for the specified volume."
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListSnapshotsResponse"
    },
    "BackupSource": {
      "description": "Represents the backup source of the restore operation.",
      "type": "object",
      "properties": {
        "fileList": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of files to be restored in the form of their absolute path as in source volume. If provided, only these files will be restored. If not provided, the entire backup will be restored (Full Backup Restore)",
          "type": "array"
        },
        "backup": {
          "description": "Required. The backup resource name.",
          "type": "string"
        }
      },
      "id": "BackupSource"
    },
    "StoragePool": {
      "description": "StoragePool is a container for volumes with a service level and capacity. Volumes can be created in a pool of sufficient available capacity. StoragePool capacity is what you are billed for.",
      "type": "object",
      "properties": {
        "zone": {
          "type": "string",
          "description": "Optional. Specifies the active zone for regional storagePool."
        },
        "replicaZone": {
          "description": "Optional. Specifies the replica zone for regional storagePool.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR"
          ],
          "type": "string",
          "description": "Output only. State of the storage pool",
          "enumDescriptions": [
            "Unspecified Storage Pool State",
            "Storage Pool State is Ready",
            "Storage Pool State is Creating",
            "Storage Pool State is Deleting",
            "Storage Pool State is Updating",
            "Storage Pool State is Restoring",
            "Storage Pool State is Disabled",
            "Storage Pool State is Error"
          ]
        },
        "qosType": {
          "description": "Optional. QoS (Quality of Service) Type of the storage pool",
          "enum": [
            "QOS_TYPE_UNSPECIFIED",
            "AUTO",
            "MANUAL"
          ],
          "enumDescriptions": [
            "Unspecified QoS Type",
            "QoS Type is Auto",
            "QoS Type is Manual"
          ],
          "type": "string"
        },
        "encryptionType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ],
          "description": "Output only. Specifies the current pool encryption key source.",
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ]
        },
        "type": {
          "enumDescriptions": [
            "Storage pool type is not specified.",
            "Storage pool type is file.",
            "Storage pool type is unified."
          ],
          "description": "Optional. Type of the storage pool. This field is used to control whether the pool supports `FILE` based volumes only or `UNIFIED` (both `FILE` and `BLOCK`) volumes. If not specified during creation, it defaults to `FILE`.",
          "type": "string",
          "enum": [
            "STORAGE_POOL_TYPE_UNSPECIFIED",
            "FILE",
            "UNIFIED"
          ]
        },
        "mode": {
          "description": "Optional. Mode of the storage pool. This field is used to control whether the user can perform ONTAP operations on the storage pool using the GCNV ONTAP Mode APIs. If not specified during creation, it defaults to `DEFAULT`.",
          "enum": [
            "MODE_UNSPECIFIED",
            "DEFAULT",
            "ONTAP"
          ],
          "enumDescriptions": [
            "The `Mode` is not specified.",
            "The resource is managed by the GCNV APIs.",
            "The resource is managed by the GCNV ONTAP Mode APIs."
          ],
          "type": "string"
        },
        "stateDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State details of the storage pool"
        },
        "createTime": {
          "description": "Output only. Create time of the storage pool",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "serviceLevel": {
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ],
          "description": "Required. Service level of the storage pool",
          "type": "string",
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ]
        },
        "globalAccessAllowed": {
          "description": "Deprecated. Used to allow SO pool to access AD or DNS server from other regions.",
          "deprecated": true,
          "type": "boolean"
        },
        "network": {
          "type": "string",
          "description": "Required. VPC Network name. Format: projects/{project}/global/networks/{network}"
        },
        "availableThroughputMibps": {
          "description": "Output only. Available throughput of the storage pool (in MiB/s).",
          "type": "number",
          "readOnly": true,
          "format": "double"
        },
        "coldTierSizeUsedGib": {
          "description": "Output only. Total cold tier data rounded down to the nearest GiB used by the storage pool.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "scaleType": {
          "description": "Optional. The scale type of the storage pool. Defaults to `SCALE_TYPE_DEFAULT` if not specified.",
          "enum": [
            "SCALE_TYPE_UNSPECIFIED",
            "SCALE_TYPE_DEFAULT",
            "SCALE_TYPE_SCALEOUT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified scale type.",
            "Represents standard capacity and performance scale-type. Suitable for general purpose workloads.",
            "Represents higher capacity and performance scale-type. Suitable for more demanding workloads."
          ]
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use",
          "type": "boolean",
          "readOnly": true
        },
        "totalIops": {
          "description": "Optional. Custom Performance Total IOPS of the pool if not provided, it will be calculated based on the total_throughput_mibps",
          "type": "string",
          "format": "int64"
        },
        "kmsConfig": {
          "type": "string",
          "description": "Optional. Specifies the KMS config to be used for volume encryption."
        },
        "volumeCapacityGib": {
          "type": "string",
          "description": "Output only. Allocated size of all volumes in GIB in the storage pool",
          "format": "int64",
          "readOnly": true
        },
        "ldapEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating if the pool is NFS LDAP enabled or not."
        },
        "enableHotTierAutoResize": {
          "type": "boolean",
          "description": "Optional. Flag indicating that the hot-tier threshold will be auto-increased by 10% of the hot-tier when it hits 100%. Default is true. The increment will kick in only if the new size after increment is still less than or equal to storage pool size."
        },
        "volumeCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Volume count of the storage pool"
        },
        "allowAutoTiering": {
          "type": "boolean",
          "description": "Optional. True if the storage pool supports Auto Tiering enabled volumes. Default is false. Auto-tiering can be enabled after storage pool creation but it can't be disabled once enabled."
        },
        "customPerformanceEnabled": {
          "description": "Optional. True if using Independent Scaling of capacity and performance (Hyperdisk) By default set to false",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. Description of the storage pool",
          "type": "string"
        },
        "hotTierSizeGib": {
          "description": "Optional. Total hot tier capacity for the Storage Pool. It is applicable only to Flex service level. It should be less than the minimum storage pool size and cannot be more than the current storage pool size. It cannot be decreased once set.",
          "type": "string",
          "format": "int64"
        },
        "hotTierSizeUsedGib": {
          "format": "int64",
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the storage pool.",
          "readOnly": true,
          "type": "string"
        },
        "capacityGib": {
          "description": "Required. Capacity in GIB of the pool",
          "type": "string",
          "format": "int64"
        },
        "activeDirectory": {
          "description": "Optional. Specifies the Active Directory to be used for creating a SMB volume.",
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use"
        },
        "totalThroughputMibps": {
          "description": "Optional. Custom Performance Total Throughput of the pool (in MiBps)",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the storage pool"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        },
        "psaRange": {
          "type": "string",
          "description": "Optional. This field is not implemented. The values provided in this field are ignored."
        }
      },
      "id": "StoragePool"
    },
    "ListBackupVaultsResponse": {
      "id": "ListBackupVaultsResponse",
      "description": "ListBackupVaultsResponse is the result of ListBackupVaultsRequest.",
      "properties": {
        "backupVaults": {
          "type": "array",
          "description": "A list of backupVaults in the project for the specified location.",
          "items": {
            "$ref": "BackupVault"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        }
      },
      "type": "object"
    },
    "SwitchActiveReplicaZoneRequest": {
      "type": "object",
      "properties": {},
      "id": "SwitchActiveReplicaZoneRequest",
      "description": "SwitchActiveReplicaZoneRequest switch the active/replica zone for a regional storagePool."
    },
    "WeeklySchedule": {
      "description": "Make a snapshot every week e.g. at Monday 04:00, Wednesday 05:20, Sunday 23:50",
      "properties": {
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number",
          "format": "double"
        },
        "hour": {
          "format": "double",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number"
        },
        "minute": {
          "type": "number",
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
        },
        "day": {
          "type": "string",
          "description": "Set the day or days of the week to make a snapshot. Accepts a comma separated days of the week. Defaults to 'Sunday'."
        }
      },
      "type": "object",
      "id": "WeeklySchedule"
    },
    "EstablishPeeringRequest": {
      "properties": {
        "peerSvmName": {
          "type": "string",
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm."
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "peerIpAddresses": {
          "description": "Optional. List of IPv4 ip addresses to be used for peering.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        }
      },
      "description": "EstablishPeeringRequest establishes cluster and svm peerings between the source and the destination replications.",
      "type": "object",
      "id": "EstablishPeeringRequest"
    },
    "ListStoragePoolsResponse": {
      "id": "ListStoragePoolsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "storagePools": {
          "type": "array",
          "description": "The list of StoragePools",
          "items": {
            "$ref": "StoragePool"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "description": "ListStoragePoolsResponse is the response to a ListStoragePoolsRequest.",
      "type": "object"
    },
    "ListHostGroupsResponse": {
      "description": "ListHostGroupsResponse is the response to a ListHostGroupsRequest.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "hostGroups": {
          "description": "The list of host groups.",
          "type": "array",
          "items": {
            "$ref": "HostGroup"
          }
        }
      },
      "id": "ListHostGroupsResponse"
    },
    "Backup": {
      "properties": {
        "backupType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified backup type.",
            "Manual backup type.",
            "Scheduled backup type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MANUAL",
            "SCHEDULED"
          ],
          "type": "string",
          "description": "Output only. Type of backup, manually created or created by a backup policy."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backup. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`."
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "chainStorageBytes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)",
          "readOnly": true
        },
        "volumeRegion": {
          "description": "Output only. Region of the volume from which the backup was created. Format: `projects/{project_id}/locations/{location}`",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "volumeUsageBytes": {
          "readOnly": true,
          "description": "Output only. Size of the file system when the backup was created. When creating a new volume from the backup, the volume capacity will have to be at least as big.",
          "format": "int64",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the backup was created."
        },
        "enforcedRetentionEndTime": {
          "description": "Output only. The time until which the backup is not deletable.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "backupRegion": {
          "description": "Output only. Region in which backup is stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string",
          "readOnly": true
        },
        "ontapSource": {
          "description": "Optional. Represents source details for ONTAP backups. Either source_volume or ontap_source should be provided.",
          "$ref": "OntapSource"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPLOADING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "enumDescriptions": [
            "State not set.",
            "Backup is being created. While in this state, the snapshot for the backup point-in-time may not have been created yet, and so the point-in-time may not have been fixed.",
            "Backup is being uploaded. While in this state, none of the writes to the volume will be included in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new volumes or restoring existing volumes.",
            "Backup is being updated."
          ],
          "description": "Output only. The backup state.",
          "readOnly": true
        },
        "sourceVolume": {
          "description": "The resource name of the volume that this backup belongs to. You must provide either `source_volume` or `ontap_source`. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}`",
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use",
          "type": "boolean"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use"
        },
        "sourceSnapshot": {
          "description": "If specified, backup will be created from the given snapshot. If not specified, there will be a new snapshot taken to initiate the backup creation. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`",
          "type": "string"
        }
      },
      "description": "A NetApp Backup.",
      "id": "Backup",
      "type": "object"
    },
    "StartSplitRequest": {
      "type": "object",
      "description": "Request message for splitting a volume.",
      "properties": {},
      "id": "StartSplitRequest"
    },
    "CacheConfig": {
      "description": "Configuration of the cache volume.",
      "properties": {
        "cifsChangeNotifyEnabled": {
          "description": "Optional. Flag indicating whether a CIFS change notification is enabled for the FlexCache volume.",
          "type": "boolean"
        },
        "cachePrePopulate": {
          "description": "Optional. Pre-populate cache volume with data from the origin volume.",
          "$ref": "CachePrePopulate"
        },
        "writebackEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating whether writeback is enabled for the FlexCache volume."
        },
        "cachePrePopulateState": {
          "enumDescriptions": [
            "Default unspecified state.",
            "State representing when the most recent create or update request did not require a prepopulation job.",
            "State representing when the most recent update request requested a prepopulation job but it has not yet completed.",
            "State representing when the most recent update request requested a prepopulation job and it has completed successfully.",
            "State representing when the most recent update request requested a prepopulation job but the prepopulate job failed."
          ],
          "readOnly": true,
          "enum": [
            "CACHE_PRE_POPULATE_STATE_UNSPECIFIED",
            "NOT_NEEDED",
            "IN_PROGRESS",
            "COMPLETE",
            "ERROR"
          ],
          "type": "string",
          "description": "Output only. State of the prepopulation job indicating how the prepopulation is progressing."
        }
      },
      "id": "CacheConfig",
      "type": "object"
    },
    "CloneDetails": {
      "description": "Details about a clone volume.",
      "id": "CloneDetails",
      "type": "object",
      "properties": {
        "sourceVolume": {
          "description": "Output only. Full name of the source volume resource. Format: projects/{project}/locations/{location}/volumes/{volume}",
          "readOnly": true,
          "type": "string"
        },
        "sourceSnapshot": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the full resource name of the source snapshot from which this volume was cloned. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}"
        },
        "sharedSpaceGib": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Shared space in GiB. Determined at volume creation time based on size of source snapshot.",
          "type": "string"
        },
        "splitState": {
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of the clone split operation.",
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ]
        }
      }
    },
    "DailySchedule": {
      "properties": {
        "minute": {
          "type": "number",
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
        },
        "snapshotsToKeep": {
          "format": "double",
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number"
        },
        "hour": {
          "type": "number",
          "format": "double",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0)."
        }
      },
      "type": "object",
      "id": "DailySchedule",
      "description": "Make a snapshot every day e.g. at 04:00, 05:20, 23:50"
    },
    "BackupConfig": {
      "description": "BackupConfig contains backup related config on a volume.",
      "type": "object",
      "properties": {
        "backupVault": {
          "description": "Optional. Name of backup vault. Format: projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}",
          "type": "string"
        },
        "scheduledBackupEnabled": {
          "description": "Optional. When set to true, scheduled backup is enabled on the volume. This field should be nil when there's no backup policy attached.",
          "type": "boolean"
        },
        "backupChainBytes": {
          "readOnly": true,
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size).",
          "type": "string",
          "format": "int64"
        },
        "backupPolicies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. When specified, schedule backups will be created based on the policy configuration."
        }
      },
      "id": "BackupConfig"
    },
    "SyncReplicationRequest": {
      "description": "SyncReplicationRequest syncs the replication from source to destination.",
      "type": "object",
      "properties": {},
      "id": "SyncReplicationRequest"
    },
    "EstablishVolumePeeringRequest": {
      "type": "object",
      "properties": {
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "peerSvmName": {
          "type": "string",
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm."
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "peerIpAddresses": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of IPv4 IP addresses to be used for peering.",
          "type": "array"
        }
      },
      "id": "EstablishVolumePeeringRequest",
      "description": "EstablishVolumePeeringRequest establishes cluster and svm peerings between the source and destination clusters."
    },
    "ListReplicationsResponse": {
      "description": "ListReplicationsResponse is the result of ListReplicationsRequest.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "replications": {
          "description": "A list of replications in the project for the specified volume.",
          "items": {
            "$ref": "Replication"
          },
          "type": "array"
        }
      },
      "id": "ListReplicationsResponse"
    },
    "BackupRetentionPolicy": {
      "description": "Retention policy for backups in the backup vault",
      "type": "object",
      "properties": {
        "manualBackupImmutable": {
          "description": "Optional. Indicates if the manual backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "monthlyBackupImmutable": {
          "description": "Optional. Indicates if the monthly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "weeklyBackupImmutable": {
          "description": "Optional. Indicates if the weekly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "dailyBackupImmutable": {
          "description": "Optional. Indicates if the daily backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "backupMinimumEnforcedRetentionDays": {
          "description": "Required. Minimum retention duration in days for backups in the backup vault.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "BackupRetentionPolicy"
    },
    "RevertVolumeRequest": {
      "type": "object",
      "properties": {
        "snapshotId": {
          "description": "Required. The snapshot resource ID, in the format 'my-snapshot', where the specified ID is the {snapshot_id} of the fully qualified name like projects/{project_id}/locations/{location_id}/volumes/{volume_id}/snapshots/{snapshot_id}",
          "type": "string"
        }
      },
      "id": "RevertVolumeRequest",
      "description": "RevertVolumeRequest reverts the given volume to the specified snapshot."
    },
    "KmsConfig": {
      "description": "KmsConfig is the customer-managed encryption key(CMEK) configuration.",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time of the KmsConfig."
        },
        "name": {
          "description": "Identifier. Name of the `KmsConfig`. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
          "type": "string"
        },
        "instructions": {
          "description": "Output only. Instructions to provide the access to the customer provided encryption key.",
          "readOnly": true,
          "type": "string"
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Service account which will have access to the customer provided encryption key."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs",
          "type": "object"
        },
        "cryptoKeyName": {
          "description": "Required. Customer-managed crypto key resource full name. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`",
          "type": "string"
        },
        "stateDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State details of the KmsConfig."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "IN_USE",
            "ERROR",
            "KEY_CHECK_PENDING",
            "KEY_NOT_REACHABLE",
            "DISABLING",
            "DISABLED",
            "MIGRATING"
          ],
          "enumDescriptions": [
            "Unspecified KmsConfig State",
            "KmsConfig State is Ready",
            "KmsConfig State is Creating",
            "KmsConfig State is Deleting",
            "KmsConfig State is Updating",
            "KmsConfig State is In Use.",
            "KmsConfig State is Error",
            "KmsConfig State is Pending to verify crypto key access.",
            "KmsConfig State is Not accessbile by the SDE service account to the crypto key.",
            "KmsConfig State is Disabling.",
            "KmsConfig State is Disabled.",
            "KmsConfig State is Migrating. The existing volumes are migrating from SMEK to CMEK."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the KmsConfig."
        },
        "description": {
          "type": "string",
          "description": "Description of the KmsConfig."
        }
      },
      "id": "KmsConfig"
    },
    "RestoreParameters": {
      "properties": {
        "sourceSnapshot": {
          "description": "Full name of the snapshot resource. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "type": "string"
        },
        "sourceBackup": {
          "type": "string",
          "description": "Full name of the backup resource. Format for standard backup: projects/{project}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}. Format for BackupDR backup: projects/{project}/locations/{location}/backupVaults/{backup_vault}/dataSources/{data_source}/backups/{backup}"
        }
      },
      "type": "object",
      "description": "The RestoreParameters if volume is created from a snapshot or backup.",
      "id": "RestoreParameters"
    },
    "UserCommands": {
      "properties": {
        "commands": {
          "description": "Output only. List of commands to be executed by the customer.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "description": "UserCommands contains the commands to be executed by the customer.",
      "id": "UserCommands",
      "type": "object"
    },
    "QuotaRule": {
      "id": "QuotaRule",
      "description": "QuotaRule specifies the maximum disk space a user or group can use within a volume. They can be used for creating default and individual quota rules.",
      "properties": {
        "stateDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State details of the quota rule"
        },
        "state": {
          "description": "Output only. State of the quota rule",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "READY",
            "ERROR"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state for quota rule",
            "Quota rule is creating",
            "Quota rule is updating",
            "Quota rule is deleting",
            "Quota rule is ready",
            "Quota rule is in error state."
          ]
        },
        "diskLimitMib": {
          "type": "integer",
          "description": "Required. The maximum allowed disk space in MiB.",
          "format": "int32"
        },
        "target": {
          "type": "string",
          "description": "Optional. The quota rule applies to the specified user or group, identified by a Unix UID/GID, Windows SID, or null for default."
        },
        "name": {
          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the quota rule",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Create time of the quota rule",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels of the quota rule",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "enumDescriptions": [
            "Unspecified type for quota rule",
            "Individual user quota rule",
            "Individual group quota rule",
            "Default user quota rule",
            "Default group quota rule"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INDIVIDUAL_USER_QUOTA",
            "INDIVIDUAL_GROUP_QUOTA",
            "DEFAULT_USER_QUOTA",
            "DEFAULT_GROUP_QUOTA"
          ],
          "description": "Required. The type of quota rule.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExecuteOntapDeleteResponse": {
      "description": "Response message for `ExecuteOntapDelete` API.",
      "id": "ExecuteOntapDeleteResponse",
      "properties": {
        "body": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The raw `JSON` body of the response."
        }
      },
      "type": "object"
    },
    "HybridPeeringDetails": {
      "id": "HybridPeeringDetails",
      "type": "object",
      "description": "HybridPeeringDetails contains details about the hybrid peering.",
      "properties": {
        "command": {
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "readOnly": true,
          "type": "string"
        },
        "peerClusterName": {
          "description": "Output only. Name of the user's local source cluster to be peered with the destination cluster.",
          "readOnly": true,
          "type": "string"
        },
        "passphrase": {
          "description": "Output only. Temporary passphrase generated to accept cluster peering command.",
          "type": "string",
          "readOnly": true
        },
        "commandExpiryTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Expiration time for the peering command to be executed on user's ONTAP.",
          "format": "google-datetime"
        },
        "peerVolumeName": {
          "readOnly": true,
          "description": "Output only. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "peerSvmName": {
          "type": "string",
          "description": "Output only. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "readOnly": true
        },
        "subnetIp": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. IP address of the subnet."
        }
      }
    },
    "ListBackupPoliciesResponse": {
      "id": "ListBackupPoliciesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "backupPolicies": {
          "description": "The list of backup policies.",
          "type": "array",
          "items": {
            "$ref": "BackupPolicy"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "ListBackupPoliciesResponse contains all the backup policies requested.",
      "type": "object"
    },
    "OntapVolumeTarget": {
      "properties": {
        "volumeUuid": {
          "description": "Required. The UUID of the ONTAP volume to restore to.",
          "type": "string"
        },
        "restoreDestinationPath": {
          "type": "string",
          "description": "Optional. Absolute directory path in the destination volume."
        }
      },
      "description": "Represents the ONTAP volume target of the restore operation.",
      "id": "OntapVolumeTarget",
      "type": "object"
    },
    "ExecuteOntapPostRequest": {
      "properties": {
        "body": {
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "description": "Request message for `ExecuteOntapPost` API.",
      "type": "object",
      "id": "ExecuteOntapPostRequest"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been canceled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        }
      },
      "id": "OperationMetadata"
    },
    "UpdateBackupConfigRequest": {
      "id": "UpdateBackupConfigRequest",
      "properties": {
        "volumeUuid": {
          "description": "Required. The UUID of the ONTAP-mode volume.",
          "type": "string"
        },
        "backupConfig": {
          "description": "Required. Backup configuration to apply.",
          "$ref": "BackupConfig"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. Field mask is used to specify the fields to be overwritten in the BackupConfig for the Volume. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for UpdateBackupConfig"
    },
    "LocationMetadata": {
      "type": "object",
      "id": "LocationMetadata",
      "description": "Metadata for a given google.cloud.location.Location.",
      "properties": {
        "flexPerformanceTier": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "FLEX_PERFORMANCE_TIER_UNSPECIFIED",
            "LIMITED"
          ],
          "description": "Output only. Indicates the flex performance tier of this location.",
          "enumDescriptions": [
            "Unspecified flex performance tier.",
            "Flex performance tier is limited."
          ]
        },
        "supportedFlexPerformance": {
          "type": "array",
          "description": "Output only. Supported flex performance in a location.",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "Unspecified flex performance.",
              "Flex Storage Pool with default performance.",
              "Flex Storage Pool with custom performance."
            ],
            "type": "string",
            "enum": [
              "FLEX_PERFORMANCE_UNSPECIFIED",
              "FLEX_PERFORMANCE_DEFAULT",
              "FLEX_PERFORMANCE_CUSTOM"
            ]
          }
        },
        "hasOntapProxy": {
          "readOnly": true,
          "description": "Output only. Indicates if the location has ONTAP Proxy support.",
          "type": "boolean"
        },
        "hasVcp": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates if the location has VCP support."
        },
        "supportedServiceLevels": {
          "description": "Output only. Supported service levels in a location.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified service level.",
              "Premium service level.",
              "Extreme service level.",
              "Standard service level.",
              "Flex service level."
            ],
            "enum": [
              "SERVICE_LEVEL_UNSPECIFIED",
              "PREMIUM",
              "EXTREME",
              "STANDARD",
              "FLEX"
            ]
          }
        }
      }
    },
    "ActiveDirectory": {
      "id": "ActiveDirectory",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the active directory."
        },
        "username": {
          "description": "Required. Username of the Active Directory domain administrator.",
          "type": "string"
        },
        "nfsUsersWithLdap": {
          "type": "boolean",
          "description": "If enabled, will allow access to local users and LDAP users. If access is needed for only LDAP users, it has to be disabled."
        },
        "stateDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state details of the Active Directory."
        },
        "domain": {
          "description": "Required. Name of the Active Directory domain",
          "type": "string"
        },
        "backupOperators": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Users to be added to the Built-in Backup Operator active directory group."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create time of the active directory."
        },
        "site": {
          "type": "string",
          "description": "The Active Directory site the service will limit Domain Controller discovery too."
        },
        "administrators": {
          "type": "array",
          "description": "Optional. Users to be added to the Built-in Admininstrators group.",
          "items": {
            "type": "string"
          }
        },
        "aesEncryption": {
          "description": "If enabled, AES encryption will be enabled for SMB communication.",
          "type": "boolean"
        },
        "password": {
          "type": "string",
          "description": "Required. Password of the Active Directory domain administrator."
        },
        "encryptDcConnections": {
          "description": "If enabled, traffic between the SMB server to Domain Controller (DC) will be encrypted.",
          "type": "boolean"
        },
        "dns": {
          "type": "string",
          "description": "Required. Comma separated list of DNS server IP addresses for the Active Directory domain."
        },
        "netBiosPrefix": {
          "description": "Required. NetBIOSPrefix is used as a prefix for SMB server name.",
          "type": "string"
        },
        "kdcIp": {
          "type": "string",
          "description": "KDC server IP address for the active directory machine."
        },
        "ldapSigning": {
          "description": "Specifies whether or not the LDAP traffic needs to be signed.",
          "type": "boolean"
        },
        "organizationalUnit": {
          "description": "The Organizational Unit (OU) within the Windows Active Directory the user belongs to.",
          "type": "string"
        },
        "securityOperators": {
          "type": "array",
          "description": "Optional. Domain users to be given the SeSecurityPrivilege.",
          "items": {
            "type": "string"
          }
        },
        "state": {
          "description": "Output only. The state of the AD.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified Active Directory State",
            "Active Directory State is Creating",
            "Active Directory State is Ready",
            "Active Directory State is Updating",
            "Active Directory State is In use",
            "Active Directory State is Deleting",
            "Active Directory State is Error",
            "Active Directory State is Diagnosing."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "IN_USE",
            "DELETING",
            "ERROR",
            "DIAGNOSING"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`."
        },
        "labels": {
          "description": "Labels for the active directory.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "kdcHostname": {
          "type": "string",
          "description": "Name of the active directory machine. This optional parameter is used only while creating kerberos volume"
        }
      },
      "description": "ActiveDirectory is the public representation of the active directory config."
    },
    "ReverseReplicationDirectionRequest": {
      "description": "ReverseReplicationDirectionRequest reverses direction of replication. Source becomes destination and destination becomes source.",
      "properties": {},
      "id": "ReverseReplicationDirectionRequest",
      "type": "object"
    },
    "LargeCapacityConfig": {
      "properties": {
        "constituentCount": {
          "format": "int32",
          "description": "Optional. The number of internal constituents (e.g., FlexVols) for this large volume. The minimum number of constituents is 2.",
          "type": "integer"
        }
      },
      "id": "LargeCapacityConfig",
      "description": "Configuration for a Large Capacity Volume. A Large Capacity Volume supports sizes ranging from 4.8 TiB to 20 PiB; it is composed of multiple internal constituents, and must be created in a large capacity pool.",
      "type": "object"
    },
    "ListVolumesResponse": {
      "description": "Message for response to listing Volumes",
      "id": "ListVolumesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "volumes": {
          "items": {
            "$ref": "Volume"
          },
          "description": "The list of Volume",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "BackupPolicy": {
      "type": "object",
      "id": "BackupPolicy",
      "properties": {
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "monthlyBackupLimit": {
          "description": "Number of monthly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "type": "string",
          "description": "Description of the backup policy."
        },
        "name": {
          "description": "Identifier. The resource name of the backup policy. Format: `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`.",
          "type": "string"
        },
        "weeklyBackupLimit": {
          "format": "int32",
          "description": "Number of weekly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "type": "integer"
        },
        "dailyBackupLimit": {
          "description": "Number of daily backups to keep. Note that the minimum daily backup limit is 2.",
          "format": "int32",
          "type": "integer"
        },
        "enabled": {
          "description": "If enabled, make backups automatically according to the schedules. This will be applied to all volumes that have this policy attached and enforced on volume level. If not specified, default is true.",
          "type": "boolean"
        },
        "assignedVolumeCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The total number of volumes assigned by this backup policy."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the backup policy was created.",
[...]
