{
  "version_module": true,
  "title": "NetApp API",
  "canonicalName": "NetApp Files",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/netapp/",
  "description": "Google Cloud NetApp Volumes is a fully-managed, cloud-based data storage service that provides advanced data management capabilities and highly scalable performance with global availability.",
  "servicePath": "",
  "id": "netapp:v1beta1",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-netapp": {
          "description": "See, edit, configure, and delete your Google Cloud NetApp data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://netapp.mtls.googleapis.com/",
  "version": "v1beta1",
  "schemas": {
    "TieringPolicy": {
      "properties": {
        "tierAction": {
          "enumDescriptions": [
            "Unspecified.",
            "When tiering is enabled, new cold data will be tiered.",
            "When paused, tiering won't be performed on new data. Existing data stays tiered until accessed."
          ],
          "type": "string",
          "enum": [
            "TIER_ACTION_UNSPECIFIED",
            "ENABLED",
            "PAUSED"
          ],
          "description": "Optional. Flag indicating if the volume has tiering policy enable/pause. Default is PAUSED."
        },
        "coolingThresholdDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Time in days to mark the volume's data block as cold and make it eligible for tiering, can be range from 2-183. Default is 31."
        },
        "hotTierBypassModeEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating that the hot tier bypass mode is enabled. Default is false. This is only applicable to Flex service level."
        }
      },
      "description": "Defines tiering policy for the volume.",
      "type": "object",
      "id": "TieringPolicy"
    },
    "Location": {
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location"
    },
    "ListQuotaRulesResponse": {
      "id": "ListQuotaRulesResponse",
      "type": "object",
      "properties": {
        "quotaRules": {
          "type": "array",
          "description": "List of quota rules",
          "items": {
            "$ref": "QuotaRule"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "ListQuotaRulesResponse is the response to a ListQuotaRulesRequest."
    },
    "BackupVault": {
      "description": "A NetApp BackupVault.",
      "id": "BackupVault",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the backup vault. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "enumDescriptions": [
            "State not set.",
            "BackupVault is being created.",
            "BackupVault is available for use.",
            "BackupVault is being deleted.",
            "BackupVault is not valid and cannot be used.",
            "BackupVault is being updated."
          ],
          "readOnly": true,
          "description": "Output only. The backup vault state."
        },
        "description": {
          "type": "string",
          "description": "Description of the backup vault."
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sourceRegion": {
          "description": "Optional. Region in which the backup vault is created. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "backupsCryptoKeyVersion": {
          "description": "Output only. The crypto key version used to encrypt the backup vault. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`",
          "readOnly": true,
          "type": "string"
        },
        "sourceBackupVault": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Backup vault created in source region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`"
        },
        "backupVaultType": {
          "type": "string",
          "enum": [
            "BACKUP_VAULT_TYPE_UNSPECIFIED",
            "IN_REGION",
            "CROSS_REGION"
          ],
          "enumDescriptions": [
            "BackupVault type not set.",
            "BackupVault type is IN_REGION.",
            "BackupVault type is CROSS_REGION."
          ],
          "description": "Optional. Type of backup vault to be created. Default is IN_REGION."
        },
        "destinationBackupVault": {
          "type": "string",
          "description": "Output only. Name of the Backup vault created in backup region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "readOnly": true
        },
        "backupRetentionPolicy": {
          "$ref": "BackupRetentionPolicy",
          "description": "Optional. Backup retention policy defining the retention of backups."
        },
        "kmsConfig": {
          "type": "string",
          "description": "Optional. Specifies the Key Management System (KMS) configuration to be used for backup encryption. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`"
        },
        "crossProjectVault": {
          "type": "boolean",
          "description": "Optional. Indicates if the backup vault is a cross project vault."
        },
        "backupRegion": {
          "description": "Optional. Region where the backups are stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "encryptionState": {
          "description": "Output only. Field indicating encryption state of CMEK backups.",
          "enumDescriptions": [
            "Encryption state not set.",
            "Encryption state is pending.",
            "Encryption is complete.",
            "Encryption is in progress.",
            "Encryption has failed."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "ENCRYPTION_STATE_PENDING",
            "ENCRYPTION_STATE_COMPLETED",
            "ENCRYPTION_STATE_IN_PROGRESS",
            "ENCRYPTION_STATE_FAILED"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create time of the backup vault.",
          "type": "string"
        }
      }
    },
    "OntapSource": {
      "id": "OntapSource",
      "description": "Represents ONTAP source details.",
      "type": "object",
      "properties": {
        "volumeUuid": {
          "type": "string",
          "description": "Required. The UUID of the ONTAP source volume."
        },
        "storagePool": {
          "description": "Required. Name of the storage pool. This must be specified for creating backups for ONTAP mode volumes. Format: `projects/{projects_id}/locations/{location}/storagePools/{storage_pool_id}`",
          "type": "string"
        },
        "snapshotUuid": {
          "description": "Optional. The UUID of the ONTAP source snapshot.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Operation"
    },
    "HostGroup": {
      "description": "Host group is a collection of hosts that can be used for accessing a Block Volume.",
      "properties": {
        "osType": {
          "description": "Required. The OS type of the host group. It indicates the type of operating system used by all of the hosts in the HostGroup. All hosts in a HostGroup must be of the same OS type. This can be set only when creating a HostGroup.",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "type": "string",
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ]
        },
        "labels": {
          "description": "Optional. Labels of the host group.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "type": {
          "description": "Required. Type of the host group.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ISCSI_INITIATOR"
          ],
          "enumDescriptions": [
            "Unspecified type for host group.",
            "iSCSI initiator host group."
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create time of the host group."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the host group.",
          "enumDescriptions": [
            "Unspecified state for host group.",
            "Host group is creating.",
            "Host group is ready.",
            "Host group is updating.",
            "Host group is deleting.",
            "Host group is disabled."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DISABLED"
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`.",
          "type": "string"
        },
        "hosts": {
          "description": "Required. The list of hosts associated with the host group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "description": "Optional. Description of the host group.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "HostGroup"
    },
    "VerifyKmsConfigRequest": {
      "type": "object",
      "properties": {},
      "id": "VerifyKmsConfigRequest",
      "description": "VerifyKmsConfigRequest specifies the KMS config to be validated."
    },
    "ListKmsConfigsResponse": {
      "description": "ListKmsConfigsResponse is the response to a ListKmsConfigsRequest.",
      "type": "object",
      "id": "ListKmsConfigsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kmsConfigs": {
          "type": "array",
          "description": "The list of KmsConfigs",
          "items": {
            "$ref": "KmsConfig"
          }
        }
      }
    },
    "MonthlySchedule": {
      "properties": {
        "snapshotsToKeep": {
          "format": "double",
          "type": "number",
          "description": "The maximum number of Snapshots to keep for the hourly schedule"
        },
        "daysOfMonth": {
          "type": "string",
          "description": "Set the day or days of the month to make a snapshot (1-31). Accepts a comma separated number of days. Defaults to '1'."
        },
        "minute": {
          "type": "number",
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
        },
        "hour": {
          "format": "double",
          "type": "number",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0)."
        }
      },
      "type": "object",
      "id": "MonthlySchedule",
      "description": "Make a snapshot once a month e.g. at 2nd 04:00, 7th 05:20, 24th 23:50"
    },
    "BackupRetentionPolicy": {
      "description": "Retention policy for backups in the backup vault",
      "type": "object",
      "id": "BackupRetentionPolicy",
      "properties": {
        "weeklyBackupImmutable": {
          "description": "Optional. Indicates if the weekly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "backupMinimumEnforcedRetentionDays": {
          "type": "integer",
          "description": "Required. Minimum retention duration in days for backups in the backup vault.",
          "format": "int32"
        },
        "dailyBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the daily backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        },
        "monthlyBackupImmutable": {
          "description": "Optional. Indicates if the monthly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "manualBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the manual backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        }
      }
    },
    "EstablishPeeringRequest": {
      "properties": {
        "peerClusterName": {
          "type": "string",
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster."
        },
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        },
        "peerIpAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of IPv4 ip addresses to be used for peering."
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        }
      },
      "id": "EstablishPeeringRequest",
      "description": "EstablishPeeringRequest establishes cluster and svm peerings between the source and the destination replications.",
      "type": "object"
    },
    "ListStoragePoolsResponse": {
      "description": "ListStoragePoolsResponse is the response to a ListStoragePoolsRequest.",
      "type": "object",
      "id": "ListStoragePoolsResponse",
      "properties": {
        "storagePools": {
          "description": "The list of StoragePools",
          "items": {
            "$ref": "StoragePool"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListVolumesResponse": {
      "description": "Message for response to listing Volumes",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "volumes": {
          "type": "array",
          "description": "The list of Volume",
          "items": {
            "$ref": "Volume"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListVolumesResponse"
    },
    "Volume": {
      "id": "Volume",
      "type": "object",
      "description": "Volume provides a filesystem that you can mount.",
      "properties": {
        "throughputMibps": {
          "type": "number",
          "format": "double",
          "description": "Optional. Throughput of the volume (in MiB/s)"
        },
        "cloneDetails": {
          "readOnly": true,
          "description": "Output only. If this volume is a clone, this field contains details about the clone.",
          "$ref": "CloneDetails"
        },
        "multipleEndpoints": {
          "type": "boolean",
          "description": "Optional. Flag indicating if the volume will have an IP address per node for volumes supporting multiple IP endpoints. Only the volume with large_capacity will be allowed to have multiple endpoints."
        },
        "largeCapacity": {
          "description": "Optional. Flag indicating if the volume will be a large capacity volume or a regular volume. This field is used for legacy FILE pools. For Unified pools, use the `large_capacity_config` field instead. This field and `large_capacity_config` are mutually exclusive.",
          "type": "boolean"
        },
        "encryptionType": {
          "type": "string",
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ],
          "description": "Output only. Specified the current volume encryption key source.",
          "readOnly": true,
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ]
        },
        "snapshotPolicy": {
          "$ref": "SnapshotPolicy",
          "description": "Optional. SnapshotPolicy for a volume."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time of the volume",
          "type": "string",
          "format": "google-datetime"
        },
        "snapReserve": {
          "format": "double",
          "type": "number",
          "description": "Optional. Snap_reserve specifies percentage of volume storage reserved for snapshot storage. Default is 0 percent."
        },
        "hotTierSizeUsedGib": {
          "format": "int64",
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the Volume. This field is only used for flex Service Level",
          "readOnly": true,
          "type": "string"
        },
        "blockDevices": {
          "type": "array",
          "description": "Optional. Block devices for the volume. Currently, only one block device is permitted per Volume.",
          "items": {
            "$ref": "BlockDevice"
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the volume"
        },
        "securityStyle": {
          "enumDescriptions": [
            "SecurityStyle is unspecified",
            "SecurityStyle uses NTFS",
            "SecurityStyle uses UNIX"
          ],
          "type": "string",
          "enum": [
            "SECURITY_STYLE_UNSPECIFIED",
            "NTFS",
            "UNIX"
          ],
          "description": "Optional. Security Style of the Volume"
        },
        "ldapEnabled": {
          "type": "boolean",
          "description": "Output only. Flag indicating if the volume is NFS LDAP enabled or not.",
          "readOnly": true
        },
        "kerberosEnabled": {
          "description": "Optional. Flag indicating if the volume is a kerberos volume or not, export policy rules control kerberos security modes (krb5, krb5i, krb5p).",
          "type": "boolean"
        },
        "largeCapacityConfig": {
          "description": "Optional. Large capacity config for the volume. Enables and configures large capacity for volumes in Unified pools with File protocols. Not applicable for Block protocols in Unified pools. This field and the legacy `large_capacity` boolean field are mutually exclusive.",
          "$ref": "LargeCapacityConfig"
        },
        "hybridReplicationParameters": {
          "description": "Optional. The Hybrid Replication parameters for the volume.",
          "$ref": "HybridReplicationParameters"
        },
        "psaRange": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This field is not implemented. The values provided in this field are ignored."
        },
        "protocols": {
          "description": "Required. Protocols required for the volume",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified protocol",
              "NFS V3 protocol",
              "NFS V4 protocol",
              "SMB protocol",
              "ISCSI protocol",
              "NVMe protocol"
            ],
            "type": "string",
            "enum": [
              "PROTOCOLS_UNSPECIFIED",
              "NFSV3",
              "NFSV4",
              "SMB",
              "ISCSI",
              "NVME"
            ]
          }
        },
        "hasReplication": {
          "description": "Output only. Indicates whether the volume is part of a replication relationship.",
          "type": "boolean",
          "readOnly": true
        },
        "coldTierSizeGib": {
          "type": "string",
          "description": "Output only. Size of the volume cold tier data rounded down to the nearest GiB.",
          "format": "int64",
          "readOnly": true
        },
        "tieringPolicy": {
          "$ref": "TieringPolicy",
          "description": "Tiering policy for the volume."
        },
        "name": {
          "description": "Identifier. Name of the volume",
          "type": "string"
        },
        "capacityGib": {
          "description": "Required. Capacity in GIB of the volume",
          "type": "string",
          "format": "int64"
        },
        "snapshotDirectory": {
          "description": "Optional. Snapshot_directory if enabled (true) the volume will contain a read-only .snapshot directory which provides access to each of the volume's snapshots.",
          "type": "boolean"
        },
        "smbSettings": {
          "description": "Optional. SMB share settings for the volume.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SMB_SETTINGS_UNSPECIFIED",
              "ENCRYPT_DATA",
              "BROWSABLE",
              "CHANGE_NOTIFY",
              "NON_BROWSABLE",
              "OPLOCKS",
              "SHOW_SNAPSHOT",
              "SHOW_PREVIOUS_VERSIONS",
              "ACCESS_BASED_ENUMERATION",
              "CONTINUOUSLY_AVAILABLE"
            ],
            "enumDescriptions": [
              "Unspecified default option",
              "SMB setting encrypt data",
              "SMB setting browsable",
              "SMB setting notify change",
              "SMB setting not to notify change",
              "SMB setting oplocks",
              "SMB setting to show snapshots",
              "SMB setting to show previous versions",
              "SMB setting to access volume based on enumerartion",
              "Continuously available enumeration"
            ]
          }
        },
        "exportPolicy": {
          "$ref": "ExportPolicy",
          "description": "Optional. Export policy of the volume"
        },
        "storagePool": {
          "type": "string",
          "description": "Required. StoragePool name of the volume"
        },
        "unixPermissions": {
          "type": "string",
          "description": "Optional. Default unix style permission (e.g. 777) the mount point will be created with. Applicable for NFS protocol types only."
        },
        "cacheParameters": {
          "description": "Optional. Cache parameters for the volume.",
          "$ref": "CacheParameters"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified Volume State",
            "Volume State is Ready",
            "Volume State is Creating",
            "Volume State is Deleting",
            "Volume State is Updating",
            "Volume State is Restoring",
            "Volume State is Disabled",
            "Volume State is Error",
            "Volume State is Preparing. Note that this is different from CREATING where CREATING means the volume is being created, while PREPARING means the volume is created and now being prepared for the replication.",
            "Volume State is Read Only"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR",
            "PREPARING",
            "READ_ONLY"
          ],
          "description": "Output only. State of the volume"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs",
          "type": "object"
        },
        "network": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. VPC Network name. Format: projects/{project}/global/networks/{network}"
        },
        "activeDirectory": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the ActiveDirectory name of a SMB volume."
        },
        "usedGib": {
          "format": "int64",
          "description": "Output only. Used capacity in GIB of the volume. This is computed periodically and it does not represent the realtime usage.",
          "readOnly": true,
          "type": "string"
        },
        "restrictedActions": {
          "type": "array",
          "description": "Optional. List of actions that are restricted on this volume.",
          "items": {
            "type": "string",
            "enum": [
              "RESTRICTED_ACTION_UNSPECIFIED",
              "DELETE"
            ],
            "enumDescriptions": [
              "Unspecified restricted action",
              "Prevent volume from being deleted when mounted."
            ]
          }
        },
        "replicaZone": {
          "description": "Output only. Specifies the replica zone for regional volume.",
          "type": "string",
          "readOnly": true
        },
        "serviceLevel": {
          "type": "string",
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ],
          "description": "Output only. Service level of the volume",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ]
        },
        "shareName": {
          "description": "Required. Share name of the volume",
          "type": "string"
        },
        "mountOptions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Mount options of this volume",
          "items": {
            "$ref": "MountOption"
          }
        },
        "restoreParameters": {
          "description": "Optional. Specifies the source of the volume to be created from.",
          "$ref": "RestoreParameters"
        },
        "kmsConfig": {
          "description": "Output only. Specifies the KMS config to be used for volume encryption.",
          "type": "string",
          "readOnly": true
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State details of the volume"
        },
        "backupConfig": {
          "description": "BackupConfig of the volume.",
          "$ref": "BackupConfig"
        },
        "zone": {
          "type": "string",
          "description": "Output only. Specifies the active zone for regional volume.",
          "readOnly": true
        }
      }
    },
    "Replication": {
      "type": "object",
      "description": "Replication is a nested resource under Volume, that describes a cross-region replication relationship between 2 volumes in different regions.",
      "id": "Replication",
      "properties": {
        "hybridReplicationType": {
          "description": "Output only. Type of the hybrid replication.",
          "type": "string",
          "enum": [
            "HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "Hybrid replication type for incremental Transfer in the reverse direction (GCNV is source and Onprem is destination)"
          ],
          "readOnly": true
        },
        "description": {
          "description": "A description about this replication relationship.",
          "type": "string"
        },
        "destinationVolume": {
          "type": "string",
          "description": "Output only. Full name of destination volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "readOnly": true
        },
        "role": {
          "enumDescriptions": [
            "Unspecified replication role",
            "Indicates Source volume.",
            "Indicates Destination volume."
          ],
          "readOnly": true,
          "description": "Output only. Indicates whether this points to source or destination.",
          "type": "string",
          "enum": [
            "REPLICATION_ROLE_UNSPECIFIED",
            "SOURCE",
            "DESTINATION"
          ]
        },
        "healthy": {
          "description": "Output only. Condition of the relationship. Can be one of the following: - true: The replication relationship is healthy. It has not missed the most recent scheduled transfer. - false: The replication relationship is not healthy. It has missed the most recent scheduled transfer.",
          "readOnly": true,
          "type": "boolean"
        },
        "hybridReplicationUserCommands": {
          "readOnly": true,
          "description": "Output only. Copy pastable snapmirror commands to be executed on onprem cluster by the customer.",
          "$ref": "UserCommands"
        },
        "destinationVolumeParameters": {
          "description": "Required. Input only. Destination volume parameters",
          "$ref": "DestinationVolumeParameters"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`."
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State details of the replication."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "ERROR",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PENDING_REMOTE_RESYNC",
            "EXTERNALLY_MANAGED_REPLICATION"
          ],
          "enumDescriptions": [
            "Unspecified replication State",
            "Replication is creating.",
            "Replication is ready.",
            "Replication is updating.",
            "Replication is deleting.",
            "Replication is in error state.",
            "Replication is waiting for cluster peering to be established.",
            "Replication is waiting for SVM peering to be established.",
            "Replication is waiting for Commands to be executed on Onprem ONTAP.",
            "Onprem ONTAP is destination and Replication can only be managed from Onprem."
          ],
          "readOnly": true,
          "description": "Output only. State of the replication."
        },
        "mirrorState": {
          "readOnly": true,
          "description": "Output only. Indicates the state of mirroring.",
          "enumDescriptions": [
            "Unspecified MirrorState",
            "Destination volume is being prepared.",
            "Destination volume has been initialized and is ready to receive replication transfers.",
            "Destination volume is not receiving replication transfers.",
            "Incremental replication is in progress.",
            "Baseline replication is in progress.",
            "Replication is aborted.",
            "Replication is being managed from Onprem ONTAP.",
            "Peering is yet to be established."
          ],
          "type": "string",
          "enum": [
            "MIRROR_STATE_UNSPECIFIED",
            "PREPARING",
            "MIRRORED",
            "STOPPED",
            "TRANSFERRING",
            "BASELINE_TRANSFERRING",
            "ABORTED",
            "EXTERNALLY_MANAGED",
            "PENDING_PEERING"
          ]
        },
        "replicationSchedule": {
          "description": "Required. Indicates the schedule for replication.",
          "type": "string",
          "enum": [
            "REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "Unspecified ReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ]
        },
        "clusterLocation": {
          "description": "Optional. Location of the user cluster.",
          "type": "string"
        },
        "hybridPeeringDetails": {
          "description": "Output only. Hybrid peering details.",
          "$ref": "HybridPeeringDetails",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Replication create time.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Resource labels to represent user provided metadata."
        },
        "transferStats": {
          "readOnly": true,
          "$ref": "TransferStats",
          "description": "Output only. Replication transfer statistics."
        },
        "sourceVolume": {
          "description": "Output only. Full name of source volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "StartSplitRequest": {
      "id": "StartSplitRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for splitting a volume."
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "StopReplicationRequest": {
      "type": "object",
      "properties": {
        "force": {
          "description": "Indicates whether to stop replication forcefully while data transfer is in progress. Warning! if force is true, this will abort any current transfers and can lead to data loss due to partial transfer. If force is false, stop replication will fail while data transfer is in progress and you will need to retry later.",
          "type": "boolean"
        }
      },
      "id": "StopReplicationRequest",
      "description": "StopReplicationRequest stops a replication until resumed."
    },
    "OntapVolumeTarget": {
      "type": "object",
      "properties": {
        "volumeUuid": {
          "description": "Required. The UUID of the ONTAP volume to restore to.",
          "type": "string"
        },
        "restoreDestinationPath": {
          "description": "Optional. Absolute directory path in the destination volume.",
          "type": "string"
        }
      },
      "id": "OntapVolumeTarget",
      "description": "Represents the ONTAP volume target of the restore operation."
    },
    "SyncReplicationRequest": {
      "type": "object",
      "properties": {},
      "id": "SyncReplicationRequest",
      "description": "SyncReplicationRequest syncs the replication from source to destination."
    },
    "ExecuteOntapPostResponse": {
      "type": "object",
      "description": "Response message for `ExecuteOntapPost` API.",
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "ExecuteOntapPostResponse"
    },
    "ListBackupsResponse": {
      "type": "object",
      "id": "ListBackupsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        },
        "backups": {
          "description": "A list of backups in the project.",
          "items": {
            "$ref": "Backup"
          },
          "type": "array"
        }
      },
      "description": "ListBackupsResponse is the result of ListBackupsRequest."
    },
    "SimpleExportPolicyRule": {
      "type": "object",
      "id": "SimpleExportPolicyRule",
      "properties": {
        "kerberos5pReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode."
        },
        "nfsv3": {
          "type": "boolean",
          "description": "NFS V3 protocol."
        },
        "kerberos5iReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode. The 'kerberos5iReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "kerberos5ReadWrite": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode. The 'kerberos5ReadOnly' value be ignored if this is enabled."
        },
        "nfsv4": {
          "description": "NFS V4 protocol.",
          "type": "boolean"
        },
        "allowedClients": {
          "type": "string",
          "description": "Comma separated list of allowed clients IP addresses"
        },
        "squashMode": {
          "enumDescriptions": [
            "Defaults to `NO_ROOT_SQUASH`.",
            "The root user (UID 0) retains full access. Other users are unaffected.",
            "The root user (UID 0) is squashed to anonymous user ID. Other users are unaffected.",
            "All users are squashed to anonymous user ID."
          ],
          "description": "Optional. Defines how user identity squashing is applied for this export rule. This field is the preferred way to configure squashing behavior and takes precedence over `has_root_access` if both are provided.",
          "type": "string",
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH",
            "ALL_SQUASH"
          ]
        },
        "accessType": {
          "type": "string",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "READ_NONE"
          ],
          "enumDescriptions": [
            "Unspecified Access Type",
            "Read Only",
            "Read Write",
            "None"
          ],
          "description": "Access type (ReadWrite, ReadOnly, None)"
        },
        "kerberos5ReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode."
        },
        "anonUid": {
          "description": "Optional. An integer representing the anonymous user ID. Range is 0 to `4294967295`. Required when `squash_mode` is `ROOT_SQUASH` or `ALL_SQUASH`.",
          "type": "string",
          "format": "int64"
        },
        "hasRootAccess": {
          "description": "Whether Unix root access will be granted.",
          "type": "string"
        },
        "kerberos5iReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode.",
          "type": "boolean"
        },
        "kerberos5pReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode. The 'kerberos5pReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        }
      },
      "description": "An export policy rule describing various export options."
    },
    "RestoreVolumeRequest": {
      "description": "Request message for `RestoreVolume` API.",
      "id": "RestoreVolumeRequest",
      "type": "object",
      "properties": {
        "ontapVolumeTarget": {
          "$ref": "OntapVolumeTarget",
          "description": "The ONTAP volume target of the restore operation."
        },
        "backupSource": {
          "description": "The backup source of the restore operation.",
          "$ref": "BackupSource"
        }
      }
    },
    "RestoreParameters": {
      "id": "RestoreParameters",
      "type": "object",
      "description": "The RestoreParameters if volume is created from a snapshot or backup.",
      "properties": {
        "sourceSnapshot": {
          "description": "Full name of the snapshot resource. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "type": "string"
        },
        "sourceBackup": {
          "type": "string",
          "description": "Full name of the backup resource. Format for standard backup: projects/{project}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}. Format for BackupDR backup: projects/{project}/locations/{location}/backupVaults/{backup_vault}/dataSources/{data_source}/backups/{backup}"
        }
      }
    },
    "HybridReplicationParameters": {
      "properties": {
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        },
        "replicationSchedule": {
          "description": "Optional. Replication Schedule for the replication created.",
          "enumDescriptions": [
            "Unspecified HybridReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ],
          "type": "string",
          "enum": [
            "HYBRID_REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ]
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "largeVolumeConstituentCount": {
          "type": "integer",
          "description": "Optional. Constituent volume count for large volume.",
          "format": "int32"
        },
        "clusterLocation": {
          "description": "Optional. Name of source cluster location associated with the Hybrid replication. This is a free-form field for the display purpose only.",
          "type": "string"
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "hybridReplicationType": {
          "type": "string",
          "enum": [
            "VOLUME_HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "New field for reversible OnPrem replication, to be used for data protection."
          ],
          "description": "Optional. Type of the hybrid replication."
        },
        "peerIpAddresses": {
          "description": "Required. List of node ip addresses to be peered with.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "replication": {
          "type": "string",
          "description": "Required. Desired name for the replication of this volume."
        },
        "description": {
          "description": "Optional. Description of the replication.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels to be added to the replication as the key value pairs.",
          "type": "object"
        }
      },
      "id": "HybridReplicationParameters",
      "description": "The Hybrid Replication parameters for the volume.",
      "type": "object"
    },
    "ActiveDirectory": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "description": "Required. Username of the Active Directory domain administrator."
        },
        "dns": {
          "description": "Required. Comma separated list of DNS server IP addresses for the Active Directory domain.",
          "type": "string"
        },
        "description": {
          "description": "Description of the active directory.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`.",
          "type": "string"
        },
        "site": {
          "description": "The Active Directory site the service will limit Domain Controller discovery too.",
          "type": "string"
        },
        "organizationalUnit": {
          "description": "The Organizational Unit (OU) within the Windows Active Directory the user belongs to.",
          "type": "string"
        },
        "aesEncryption": {
          "description": "If enabled, AES encryption will be enabled for SMB communication.",
          "type": "boolean"
        },
        "administrators": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Users to be added to the Built-in Admininstrators group."
        },
        "domain": {
          "type": "string",
          "description": "Required. Name of the Active Directory domain"
        },
        "password": {
          "description": "Required. Password of the Active Directory domain administrator.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the AD.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified Active Directory State",
            "Active Directory State is Creating",
            "Active Directory State is Ready",
            "Active Directory State is Updating",
            "Active Directory State is In use",
            "Active Directory State is Deleting",
            "Active Directory State is Error",
            "Active Directory State is Diagnosing."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "IN_USE",
            "DELETING",
            "ERROR",
            "DIAGNOSING"
          ]
        },
        "stateDetails": {
          "description": "Output only. The state details of the Active Directory.",
          "type": "string",
          "readOnly": true
        },
        "securityOperators": {
          "description": "Optional. Domain users to be given the SeSecurityPrivilege.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "encryptDcConnections": {
          "type": "boolean",
          "description": "If enabled, traffic between the SMB server to Domain Controller (DC) will be encrypted."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time of the active directory."
        },
        "netBiosPrefix": {
          "description": "Required. NetBIOSPrefix is used as a prefix for SMB server name.",
          "type": "string"
        },
        "ldapSigning": {
          "description": "Specifies whether or not the LDAP traffic needs to be signed.",
          "type": "boolean"
        },
        "backupOperators": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Users to be added to the Built-in Backup Operator active directory group.",
          "type": "array"
        },
        "nfsUsersWithLdap": {
          "description": "If enabled, will allow access to local users and LDAP users. If access is needed for only LDAP users, it has to be disabled.",
          "type": "boolean"
        },
        "kdcIp": {
          "type": "string",
          "description": "KDC server IP address for the active directory machine."
        },
        "kdcHostname": {
          "type": "string",
          "description": "Name of the active directory machine. This optional parameter is used only while creating kerberos volume"
        },
        "labels": {
          "description": "Labels for the active directory.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "ActiveDirectory",
      "description": "ActiveDirectory is the public representation of the active directory config."
    },
    "DestinationVolumeParameters": {
      "type": "object",
      "id": "DestinationVolumeParameters",
      "description": "DestinationVolumeParameters specify input parameters used for creating destination volume.",
      "properties": {
        "storagePool": {
          "type": "string",
          "description": "Required. Existing destination StoragePool name."
        },
        "tieringPolicy": {
          "$ref": "TieringPolicy",
          "description": "Optional. Tiering policy for the volume."
        },
        "shareName": {
          "type": "string",
          "description": "Destination volume's share name. If not specified, source volume's share name will be used."
        },
        "volumeId": {
          "description": "Desired destination volume resource id. If not specified, source volume's resource id will be used. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description for the destination volume."
        }
      }
    },
    "ExportPolicy": {
      "description": "Defines the export policy for the volume.",
      "properties": {
        "rules": {
          "items": {
            "$ref": "SimpleExportPolicyRule"
          },
          "description": "Required. List of export policy rules",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ExportPolicy"
    },
    "ExecuteOntapPostRequest": {
      "id": "ExecuteOntapPostRequest",
      "description": "Request message for `ExecuteOntapPost` API.",
      "properties": {
        "body": {
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "DailySchedule": {
      "properties": {
        "minute": {
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "format": "double",
          "type": "number"
        },
        "snapshotsToKeep": {
          "format": "double",
          "type": "number",
          "description": "The maximum number of Snapshots to keep for the hourly schedule"
        },
        "hour": {
          "type": "number",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Make a snapshot every day e.g. at 04:00, 05:20, 23:50",
      "id": "DailySchedule"
    },
    "ExecuteOntapDeleteResponse": {
      "description": "Response message for `ExecuteOntapDelete` API.",
      "type": "object",
      "id": "ExecuteOntapDeleteResponse",
      "properties": {
        "body": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The raw `JSON` body of the response."
        }
      }
    },
    "VolumeBackupConfig": {
      "properties": {
        "backupConfig": {
          "description": "Backup configuration for the volume.",
          "$ref": "BackupConfig"
        },
        "volumeUuid": {
          "description": "Provides the Ontap UUID of the volume within the pool.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VolumeBackupConfig",
      "description": "Backup configuration for a volume in a pool."
    },
    "HourlySchedule": {
      "properties": {
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number",
          "format": "double"
        },
        "minute": {
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number"
        }
      },
      "description": "Make a snapshot every hour e.g. at 04:00, 05:00, 06:00.",
      "type": "object",
      "id": "HourlySchedule"
    },
    "EstablishVolumePeeringRequest": {
      "description": "EstablishVolumePeeringRequest establishes cluster and svm peerings between the source and destination clusters.",
      "type": "object",
      "properties": {
        "peerClusterName": {
          "type": "string",
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster."
        },
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        },
        "peerIpAddresses": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of IPv4 IP addresses to be used for peering.",
          "type": "array"
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        }
      },
      "id": "EstablishVolumePeeringRequest"
    },
    "Snapshot": {
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the snapshot with 2048 characters or less. Requests with longer descriptions will be rejected."
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified Snapshot State",
            "Snapshot State is Ready",
            "Snapshot State is Creating",
            "Snapshot State is Deleting",
            "Snapshot State is Updating",
            "Snapshot State is Disabled",
            "Snapshot State is Error"
          ],
          "description": "Output only. The snapshot state.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "DISABLED",
            "ERROR"
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the snapshot. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the snapshot was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "usedBytes": {
          "readOnly": true,
          "description": "Output only. Current storage usage for the snapshot in bytes.",
          "type": "number",
          "format": "double"
        },
        "stateDetails": {
          "readOnly": true,
          "description": "Output only. State details of the storage pool",
          "type": "string"
        }
      },
      "description": "Snapshot is a point-in-time version of a Volume's content.",
      "id": "Snapshot",
      "type": "object"
    },
    "ExecuteOntapGetResponse": {
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "description": "Response message for `ExecuteOntapGet` API.",
      "type": "object",
      "id": "ExecuteOntapGetResponse"
    },
    "LocationMetadata": {
      "properties": {
        "hasOntapProxy": {
          "type": "boolean",
          "description": "Output only. Indicates if the location has ONTAP Proxy support.",
          "readOnly": true
        },
        "hasVcp": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates if the location has VCP support."
        },
        "flexPerformanceTier": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "FLEX_PERFORMANCE_TIER_UNSPECIFIED",
            "LIMITED"
          ],
          "description": "Output only. Indicates the flex performance tier of this location.",
          "enumDescriptions": [
            "Unspecified flex performance tier.",
            "Flex performance tier is limited."
          ]
        },
        "supportedServiceLevels": {
          "description": "Output only. Supported service levels in a location.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "enum": [
              "SERVICE_LEVEL_UNSPECIFIED",
              "PREMIUM",
              "EXTREME",
              "STANDARD",
              "FLEX"
            ],
            "enumDescriptions": [
              "Unspecified service level.",
              "Premium service level.",
              "Extreme service level.",
              "Standard service level.",
              "Flex service level."
            ]
          }
        },
        "supportedFlexPerformance": {
          "type": "array",
          "description": "Output only. Supported flex performance in a location.",
          "items": {
            "enumDescriptions": [
              "Unspecified flex performance.",
              "Flex Storage Pool with default performance.",
              "Flex Storage Pool with custom performance."
            ],
            "type": "string",
            "enum": [
              "FLEX_PERFORMANCE_UNSPECIFIED",
              "FLEX_PERFORMANCE_DEFAULT",
              "FLEX_PERFORMANCE_CUSTOM"
            ]
          },
          "readOnly": true
        }
      },
      "id": "LocationMetadata",
      "description": "Metadata for a given google.cloud.location.Location.",
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been canceled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        }
      }
    },
    "CacheConfig": {
      "description": "Configuration of the cache volume.",
      "properties": {
        "cachePrePopulate": {
          "description": "Optional. Pre-populate cache volume with data from the origin volume.",
          "$ref": "CachePrePopulate"
        },
        "cachePrePopulateState": {
          "readOnly": true,
          "description": "Output only. State of the prepopulation job indicating how the prepopulation is progressing.",
          "type": "string",
          "enum": [
            "CACHE_PRE_POPULATE_STATE_UNSPECIFIED",
            "NOT_NEEDED",
            "IN_PROGRESS",
            "COMPLETE",
            "ERROR"
          ],
          "enumDescriptions": [
            "Default unspecified state.",
            "State representing when the most recent create or update request did not require a prepopulation job.",
            "State representing when the most recent update request requested a prepopulation job but it has not yet completed.",
            "State representing when the most recent update request requested a prepopulation job and it has completed successfully.",
            "State representing when the most recent update request requested a prepopulation job but the prepopulate job failed."
          ]
        },
        "writebackEnabled": {
          "description": "Optional. Flag indicating whether writeback is enabled for the FlexCache volume.",
          "type": "boolean"
        },
        "cifsChangeNotifyEnabled": {
          "description": "Optional. Flag indicating whether a CIFS change notification is enabled for the FlexCache volume.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "CacheConfig"
    },
    "Backup": {
      "properties": {
        "chainStorageBytes": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "Backup is being created. While in this state, the snapshot for the backup point-in-time may not have been created yet, and so the point-in-time may not have been fixed.",
            "Backup is being uploaded. While in this state, none of the writes to the volume will be included in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new volumes or restoring existing volumes.",
            "Backup is being updated."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPLOADING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "description": "Output only. The backup state."
        },
        "sourceVolume": {
          "description": "The resource name of the volume that this backup belongs to. You must provide either `source_volume` or `ontap_source`. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}`",
          "type": "string"
        },
        "volumeRegion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Region of the volume from which the backup was created. Format: `projects/{project_id}/locations/{location}`"
        },
        "backupRegion": {
          "description": "Output only. Region in which backup is stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the backup was created.",
          "type": "string",
          "readOnly": true
        },
        "enforcedRetentionEndTime": {
          "format": "google-datetime",
          "description": "Output only. The time until which the backup is not deletable.",
          "type": "string",
          "readOnly": true
        },
        "sourceSnapshot": {
          "description": "If specified, backup will be created from the given snapshot. If not specified, there will be a new snapshot taken to initiate the backup creation. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the backup. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`.",
          "type": "string"
        },
        "volumeUsageBytes": {
          "description": "Output only. Size of the file system when the backup was created. When creating a new volume from the backup, the volume capacity will have to be at least as big.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "backupType": {
          "description": "Output only. Type of backup, manually created or created by a backup policy.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MANUAL",
            "SCHEDULED"
          ],
          "enumDescriptions": [
            "Unspecified backup type.",
            "Manual backup type.",
            "Scheduled backup type."
          ],
          "readOnly": true
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use",
          "type": "boolean",
          "readOnly": true
        },
        "ontapSource": {
          "description": "Optional. Represents source details for ONTAP backups. Either source_volume or ontap_source should be provided.",
          "$ref": "OntapSource"
        },
        "description": {
          "type": "string",
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected."
        }
      },
      "id": "Backup",
      "description": "A NetApp Backup.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "RestoreBackupFilesRequest": {
      "id": "RestoreBackupFilesRequest",
      "description": "RestoreBackupFilesRequest restores files from a backup to a volume.",
      "type": "object",
      "properties": {
        "backup": {
          "type": "string",
          "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`"
        },
        "fileList": {
          "type": "array",
          "description": "Required. List of files to be restored, specified by their absolute path in the source volume.",
          "items": {
            "type": "string"
          }
        },
        "restoreDestinationPath": {
          "type": "string",
          "description": "Optional. Absolute directory path in the destination volume. This is required if the `file_list` is provided."
        }
      }
    },
    "ResumeReplicationRequest": {
      "properties": {},
      "id": "ResumeReplicationRequest",
      "description": "ResumeReplicationRequest resumes a stopped replication.",
      "type": "object"
    },
    "SwitchActiveReplicaZoneRequest": {
      "type": "object",
      "id": "SwitchActiveReplicaZoneRequest",
      "properties": {},
      "description": "SwitchActiveReplicaZoneRequest switch the active/replica zone for a regional storagePool."
    },
    "ListHostGroupsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "hostGroups": {
          "items": {
            "$ref": "HostGroup"
          },
          "type": "array",
          "description": "The list of host groups."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListHostGroupsResponse",
      "description": "ListHostGroupsResponse is the response to a ListHostGroupsRequest."
    },
    "ListActiveDirectoriesResponse": {
      "id": "ListActiveDirectoriesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "activeDirectories": {
          "description": "The list of active directories.",
          "type": "array",
          "items": {
            "$ref": "ActiveDirectory"
          }
        }
      },
      "type": "object",
      "description": "ListActiveDirectoriesResponse contains all the active directories requested."
    },
    "KmsConfig": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs",
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "Description of the KmsConfig."
        },
        "cryptoKeyName": {
          "type": "string",
          "description": "Required. Customer-managed crypto key resource full name. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`"
        },
        "state": {
          "description": "Output only. State of the KmsConfig.",
          "enumDescriptions": [
            "Unspecified KmsConfig State",
            "KmsConfig State is Ready",
            "KmsConfig State is Creating",
            "KmsConfig State is Deleting",
            "KmsConfig State is Updating",
            "KmsConfig State is In Use.",
            "KmsConfig State is Error",
            "KmsConfig State is Pending to verify crypto key access.",
            "KmsConfig State is Not accessbile by the SDE service account to the crypto key.",
            "KmsConfig State is Disabling.",
            "KmsConfig State is Disabled.",
            "KmsConfig State is Migrating. The existing volumes are migrating from SMEK to CMEK."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "IN_USE",
            "ERROR",
            "KEY_CHECK_PENDING",
            "KEY_NOT_REACHABLE",
            "DISABLING",
            "DISABLED",
            "MIGRATING"
          ]
        },
        "createTime": {
          "description": "Output only. Create time of the KmsConfig.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. Name of the `KmsConfig`. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Output only. The Service account which will have access to the customer provided encryption key.",
          "readOnly": true,
          "type": "string"
        },
        "stateDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State details of the KmsConfig."
        },
        "instructions": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Instructions to provide the access to the customer provided encryption key."
        }
      },
      "description": "KmsConfig is the customer-managed encryption key(CMEK) configuration.",
      "type": "object",
      "id": "KmsConfig"
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "VerifyKmsConfigResponse": {
      "description": "VerifyKmsConfigResponse contains the information if the config is correctly and error message.",
      "id": "VerifyKmsConfigResponse",
      "type": "object",
      "properties": {
        "healthy": {
          "type": "boolean",
          "description": "Output only. If the customer key configured correctly to the encrypt volume.",
          "readOnly": true
        },
        "healthError": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Error message if config is not healthy."
        },
        "instructions": {
          "readOnly": true,
          "description": "Output only. Instructions for the customers to provide the access to the encryption key.",
          "type": "string"
        }
      }
    },
    "ListReplicationsResponse": {
      "type": "object",
      "description": "ListReplicationsResponse is the result of ListReplicationsRequest.",
      "properties": {
        "replications": {
          "items": {
            "$ref": "Replication"
          },
          "description": "A list of replications in the project for the specified volume.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListReplicationsResponse"
    },
    "ExecuteOntapPatchResponse": {
      "description": "Response message for `ExecuteOntapPatch` API.",
      "type": "object",
      "properties": {
        "body": {
          "type": "object",
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "ExecuteOntapPatchResponse"
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "QuotaRule": {
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional. Labels of the quota rule",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "READY",
            "ERROR"
          ],
          "readOnly": true,
          "description": "Output only. State of the quota rule",
          "enumDescriptions": [
            "Unspecified state for quota rule",
            "Quota rule is creating",
            "Quota rule is updating",
            "Quota rule is deleting",
            "Quota rule is ready",
            "Quota rule is in error state."
          ]
        },
        "stateDetails": {
          "description": "Output only. State details of the quota rule",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Required. The type of quota rule.",
          "enumDescriptions": [
            "Unspecified type for quota rule",
            "Individual user quota rule",
            "Individual group quota rule",
            "Default user quota rule",
            "Default group quota rule"
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INDIVIDUAL_USER_QUOTA",
            "INDIVIDUAL_GROUP_QUOTA",
            "DEFAULT_USER_QUOTA",
            "DEFAULT_GROUP_QUOTA"
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Create time of the quota rule"
        },
        "description": {
          "description": "Optional. Description of the quota rule",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Optional. The quota rule applies to the specified user or group, identified by a Unix UID/GID, Windows SID, or null for default."
        },
        "diskLimitMib": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The maximum allowed disk space in MiB."
        }
      },
      "id": "QuotaRule",
      "description": "QuotaRule specifies the maximum disk space a user or group can use within a volume. They can be used for creating default and individual quota rules."
    },
    "SplitStatus": {
      "type": "object",
      "description": "Message for SplitStatus.",
      "id": "SplitStatus",
      "properties": {
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable details about the current state. Mostly used for displaying error messages during split failure Examples: \"Split in progress\", \"Error: insufficient capacity\"."
        },
        "splitState": {
          "description": "Output only. The current state of the clone split operation.",
          "readOnly": true,
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "type": "string",
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ]
        },
        "progressPercent": {
          "readOnly": true,
          "description": "Output only. The estimated progress percentage of the split operation (0-100). This is meaningful primarily when split_state is IN_PROGRESS.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListBackupVaultsResponse": {
      "type": "object",
      "properties": {
        "backupVaults": {
          "items": {
            "$ref": "BackupVault"
          },
          "type": "array",
          "description": "A list of backupVaults in the project for the specified location."
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListBackupVaultsResponse",
      "description": "ListBackupVaultsResponse is the result of ListBackupVaultsRequest."
    },
    "ExecuteOntapPatchRequest": {
      "id": "ExecuteOntapPatchRequest",
      "description": "Request message for `ExecuteOntapPatch` API.",
      "properties": {
        "body": {
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "TransferStats": {
      "properties": {
        "lastTransferBytes": {
          "type": "string",
          "format": "int64",
          "description": "Last transfer size in bytes."
        },
        "lagDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Lag duration indicates the duration by which Destination region volume content lags behind the primary region volume content."
        },
        "lastTransferEndTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when last transfer completed."
        },
        "lastTransferDuration": {
          "type": "string",
          "description": "Time taken during last transfer.",
          "format": "google-duration"
        },
        "lastTransferError": {
          "description": "A message describing the cause of the last transfer failure.",
          "type": "string"
        },
        "transferBytes": {
          "format": "int64",
          "description": "Cumulative bytes transferred so far for the replication relationship.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Time when progress was updated last.",
          "format": "google-datetime"
        },
        "totalTransferDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Cumulative time taken across all transfers for the replication relationship."
        }
      },
      "description": "TransferStats reports all statistics related to replication transfer.",
      "id": "TransferStats",
      "type": "object"
    },
    "LargeCapacityConfig": {
      "type": "object",
      "properties": {
        "constituentCount": {
          "format": "int32",
          "description": "Optional. The number of internal constituents (e.g., FlexVols) for this large volume. The minimum number of constituents is 2.",
          "type": "integer"
        }
      },
      "id": "LargeCapacityConfig",
      "description": "Configuration for a Large Capacity Volume. A Large Capacity Volume supports sizes ranging from 4.8 TiB to 20 PiB; it is composed of multiple internal constituents, and must be created in a large capacity pool."
    },
    "CloneDetails": {
      "description": "Details about a clone volume.",
      "id": "CloneDetails",
      "type": "object",
      "properties": {
        "splitState": {
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "readOnly": true,
          "description": "Output only. The current state of the clone split operation.",
          "type": "string",
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ]
        },
        "sourceSnapshot": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the full resource name of the source snapshot from which this volume was cloned. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}"
        },
        "sharedSpaceGib": {
          "format": "int64",
          "description": "Output only. Shared space in GiB. Determined at volume creation time based on size of source snapshot.",
          "readOnly": true,
          "type": "string"
        },
        "sourceVolume": {
          "description": "Output only. Full name of the source volume resource. Format: projects/{project}/locations/{location}/volumes/{volume}",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CachePrePopulate": {
      "description": "Pre-populate cache volume with data from the origin volume.",
      "id": "CachePrePopulate",
      "properties": {
        "pathList": {
          "description": "Optional. List of directory-paths to be pre-populated for the FlexCache volume.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "excludePathList": {
          "description": "Optional. List of directory-paths to be excluded for pre-population for the FlexCache volume.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "recursion": {
          "description": "Optional. Flag indicating whether the directories listed with the `path_list` need to be recursively pre-populated.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "CacheParameters": {
      "properties": {
        "cacheConfig": {
          "$ref": "CacheConfig",
          "description": "Optional. Configuration of the cache volume."
        },
        "peerClusterName": {
          "description": "Required. Name of the origin volume's ONTAP cluster.",
          "type": "string"
        },
        "enableGlobalFileLock": {
          "type": "boolean",
          "description": "Optional. Indicates whether the cache volume has global file lock enabled."
        },
        "peerSvmName": {
          "type": "string",
          "description": "Required. Name of the origin volume's SVM."
        },
        "peerIpAddresses": {
          "type": "array",
          "description": "Required. List of IC LIF addresses of the origin volume's ONTAP cluster.",
          "items": {
            "type": "string"
          }
        },
        "peeringCommandExpiryTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Expiration time for the peering command to be executed on user's ONTAP."
        },
        "peerVolumeName": {
          "description": "Required. Name of the origin volume for the cache volume.",
          "type": "string"
        },
        "cacheState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "CACHE_STATE_UNSPECIFIED",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PEERED",
            "ERROR"
          ],
          "description": "Output only. State of the cache volume indicating the peering status.",
          "enumDescriptions": [
            "Default unspecified state.",
            "State indicating waiting for cluster peering to be established.",
            "State indicating waiting for SVM peering to be established.",
            "State indicating successful establishment of peering with origin volumes's ONTAP cluster.",
            "Terminal state wherein peering with origin volume's ONTAP cluster has failed."
          ]
        },
        "passphrase": {
          "description": "Output only. Temporary passphrase generated to accept cluster peering command.",
          "type": "string",
          "readOnly": true
        },
        "command": {
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "readOnly": true,
          "type": "string"
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. Detailed description of the current cache state.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "CacheParameters",
      "description": "Cache Parameters for the volume."
    },
    "ValidateDirectoryServiceRequest": {
      "description": "ValidateDirectoryServiceRequest validates the directory service policy attached to the storage pool.",
      "properties": {
        "directoryServiceType": {
          "type": "string",
          "enum": [
            "DIRECTORY_SERVICE_TYPE_UNSPECIFIED",
            "ACTIVE_DIRECTORY"
          ],
          "description": "Type of directory service policy attached to the storage pool.",
          "enumDescriptions": [
            "Directory service type is not specified.",
            "Active directory policy attached to the storage pool."
          ]
        }
      },
      "type": "object",
      "id": "ValidateDirectoryServiceRequest"
    },
    "BackupConfig": {
      "properties": {
        "backupChainBytes": {
          "readOnly": true,
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size).",
          "type": "string",
          "format": "int64"
        },
        "backupPolicies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. When specified, schedule backups will be created based on the policy configuration."
        },
        "backupVault": {
          "type": "string",
          "description": "Optional. Name of backup vault. Format: projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}"
        },
        "scheduledBackupEnabled": {
          "type": "boolean",
[...]
