{
  "baseUrl": "https://netapp.googleapis.com/",
  "ownerName": "Google",
  "revision": "20260823",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "description": "Google Cloud NetApp Volumes is a fully-managed, cloud-based data storage service that provides advanced data management capabilities and highly scalable performance with global availability.",
  "title": "NetApp API",
  "name": "netapp",
  "schemas": {
    "EstablishVolumePeeringRequest": {
      "properties": {
        "peerVolumeName": {
          "type": "string",
          "description": "Required. Name of the user's local source volume to be peered with the destination volume."
        },
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        },
        "peerIpAddresses": {
          "type": "array",
          "description": "Optional. List of IPv4 IP addresses to be used for peering.",
          "items": {
            "type": "string"
          }
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "EstablishVolumePeeringRequest establishes cluster and svm peerings between the source and destination clusters.",
      "id": "EstablishVolumePeeringRequest"
    },
    "RestoreBackupFilesRequest": {
      "properties": {
        "backup": {
          "type": "string",
          "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`"
        },
        "fileList": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of files to be restored, specified by their absolute path in the source volume."
        },
        "restoreDestinationPath": {
          "type": "string",
          "description": "Optional. Absolute directory path in the destination volume. This is required if the `file_list` is provided."
        }
      },
      "description": "RestoreBackupFilesRequest restores files from a backup to a volume.",
      "type": "object",
      "id": "RestoreBackupFilesRequest"
    },
    "ReverseReplicationDirectionRequest": {
      "id": "ReverseReplicationDirectionRequest",
      "description": "ReverseReplicationDirectionRequest reverses direction of replication. Source becomes destination and destination becomes source.",
      "properties": {},
      "type": "object"
    },
    "BackupSource": {
      "properties": {
        "backup": {
          "description": "Required. The backup resource name.",
          "type": "string"
        },
        "fileList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of files to be restored in the form of their absolute path as in source volume. If provided, only these files will be restored. If not provided, the entire backup will be restored (Full Backup Restore)"
        }
      },
      "type": "object",
      "id": "BackupSource",
      "description": "Represents the backup source of the restore operation."
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "description": "Metadata for a given google.cloud.location.Location.",
      "properties": {
        "hasVcp": {
          "type": "boolean",
          "description": "Output only. Indicates if the location has VCP support.",
          "readOnly": true
        },
        "flexPerformanceTier": {
          "enum": [
            "FLEX_PERFORMANCE_TIER_UNSPECIFIED",
            "LIMITED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Indicates the flex performance tier of this location.",
          "enumDescriptions": [
            "Unspecified flex performance tier.",
            "Flex performance tier is limited."
          ]
        },
        "hasOntapProxy": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates if the location has ONTAP Proxy support."
        },
        "supportedFlexPerformance": {
          "readOnly": true,
          "items": {
            "type": "string",
            "enum": [
              "FLEX_PERFORMANCE_UNSPECIFIED",
              "FLEX_PERFORMANCE_DEFAULT",
              "FLEX_PERFORMANCE_CUSTOM"
            ],
            "enumDescriptions": [
              "Unspecified flex performance.",
              "Flex Storage Pool with default performance.",
              "Flex Storage Pool with custom performance."
            ]
          },
          "type": "array",
          "description": "Output only. Supported flex performance in a location."
        },
        "supportedServiceLevels": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SERVICE_LEVEL_UNSPECIFIED",
              "PREMIUM",
              "EXTREME",
              "STANDARD",
              "FLEX"
            ],
            "enumDescriptions": [
              "Unspecified service level.",
              "Premium service level.",
              "Extreme service level.",
              "Standard service level.",
              "Flex service level."
            ]
          },
          "readOnly": true,
          "description": "Output only. Supported service levels in a location."
        }
      },
      "type": "object"
    },
    "EncryptVolumesRequest": {
      "type": "object",
      "description": "EncryptVolumesRequest specifies the KMS config to encrypt existing volumes.",
      "id": "EncryptVolumesRequest",
      "properties": {}
    },
    "ExportPolicy": {
      "description": "Defines the export policy for the volume.",
      "id": "ExportPolicy",
      "type": "object",
      "properties": {
        "rules": {
          "items": {
            "$ref": "SimpleExportPolicyRule"
          },
          "type": "array",
          "description": "Required. List of export policy rules"
        }
      }
    },
    "ListHostGroupsResponse": {
      "type": "object",
      "properties": {
        "hostGroups": {
          "items": {
            "$ref": "HostGroup"
          },
          "type": "array",
          "description": "The list of host groups."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "ListHostGroupsResponse is the response to a ListHostGroupsRequest.",
      "id": "ListHostGroupsResponse"
    },
    "StopReplicationRequest": {
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Indicates whether to stop replication forcefully while data transfer is in progress. Warning! if force is true, this will abort any current transfers and can lead to data loss due to partial transfer. If force is false, stop replication will fail while data transfer is in progress and you will need to retry later."
        }
      },
      "id": "StopReplicationRequest",
      "description": "StopReplicationRequest stops a replication until resumed.",
      "type": "object"
    },
    "SyncReplicationRequest": {
      "properties": {},
      "type": "object",
      "description": "SyncReplicationRequest syncs the replication from source to destination.",
      "id": "SyncReplicationRequest"
    },
    "BackupRetentionPolicy": {
      "id": "BackupRetentionPolicy",
      "description": "Retention policy for backups in the backup vault",
      "properties": {
        "monthlyBackupImmutable": {
          "description": "Optional. Indicates if the monthly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "manualBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the manual backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        },
        "weeklyBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the weekly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        },
        "backupMinimumEnforcedRetentionDays": {
          "description": "Required. Minimum retention duration in days for backups in the backup vault.",
          "type": "integer",
          "format": "int32"
        },
        "dailyBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the daily backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        }
      },
      "type": "object"
    },
    "WeeklySchedule": {
      "type": "object",
      "id": "WeeklySchedule",
      "description": "Make a snapshot every week e.g. at Monday 04:00, Wednesday 05:20, Sunday 23:50",
      "properties": {
        "minute": {
          "type": "number",
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
        },
        "hour": {
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number",
          "format": "double"
        },
        "day": {
          "description": "Set the day or days of the week to make a snapshot. Accepts a comma separated days of the week. Defaults to 'Sunday'.",
          "type": "string"
        },
        "snapshotsToKeep": {
          "type": "number",
          "format": "double",
          "description": "The maximum number of Snapshots to keep for the hourly schedule"
        }
      }
    },
    "RevertVolumeRequest": {
      "description": "RevertVolumeRequest reverts the given volume to the specified snapshot.",
      "id": "RevertVolumeRequest",
      "type": "object",
      "properties": {
        "snapshotId": {
          "type": "string",
          "description": "Required. The snapshot resource ID, in the format 'my-snapshot', where the specified ID is the {snapshot_id} of the fully qualified name like projects/{project_id}/locations/{location_id}/volumes/{volume_id}/snapshots/{snapshot_id}"
        }
      }
    },
    "ListActiveDirectoriesResponse": {
      "id": "ListActiveDirectoriesResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "activeDirectories": {
          "items": {
            "$ref": "ActiveDirectory"
          },
          "type": "array",
          "description": "The list of active directories."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "ListActiveDirectoriesResponse contains all the active directories requested."
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      }
    },
    "MountOption": {
      "type": "object",
      "description": "View only mount options for a volume.",
      "id": "MountOption",
      "properties": {
        "ipAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. IP Address."
        },
        "protocol": {
          "description": "Protocol to mount with.",
          "type": "string",
          "enum": [
            "PROTOCOLS_UNSPECIFIED",
            "NFSV3",
            "NFSV4",
            "SMB",
            "ISCSI",
            "NVME"
          ],
          "enumDescriptions": [
            "Unspecified protocol",
            "NFS V3 protocol",
            "NFS V4 protocol",
            "SMB protocol",
            "ISCSI protocol",
            "NVMe protocol"
          ]
        },
        "export": {
          "description": "Export string",
          "type": "string"
        },
        "exportFull": {
          "description": "Full export string",
          "type": "string"
        },
        "instructions": {
          "type": "string",
          "description": "Instructions for mounting"
        }
      }
    },
    "CachePrePopulate": {
      "type": "object",
      "description": "Pre-populate cache volume with data from the origin volume.",
      "id": "CachePrePopulate",
      "properties": {
        "recursion": {
          "description": "Optional. Flag indicating whether the directories listed with the `path_list` need to be recursively pre-populated.",
          "type": "boolean"
        },
        "excludePathList": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of directory-paths to be excluded for pre-population for the FlexCache volume."
        },
        "pathList": {
          "description": "Optional. List of directory-paths to be pre-populated for the FlexCache volume.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Backup": {
      "type": "object",
      "id": "Backup",
      "description": "A NetApp Backup.",
      "properties": {
        "enforcedRetentionEndTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time until which the backup is not deletable."
        },
        "backupType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MANUAL",
            "SCHEDULED"
          ],
          "description": "Output only. Type of backup, manually created or created by a backup policy.",
          "enumDescriptions": [
            "Unspecified backup type.",
            "Manual backup type.",
            "Scheduled backup type."
          ],
          "readOnly": true,
          "type": "string"
        },
        "backupRegion": {
          "type": "string",
          "description": "Output only. Region in which backup is stored. Format: `projects/{project_id}/locations/{location}`",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "Backup is being created. While in this state, the snapshot for the backup point-in-time may not have been created yet, and so the point-in-time may not have been fixed.",
            "Backup is being uploaded. While in this state, none of the writes to the volume will be included in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new volumes or restoring existing volumes.",
            "Backup is being updated."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPLOADING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "description": "Output only. The backup state."
        },
        "sourceSnapshot": {
          "type": "string",
          "description": "If specified, backup will be created from the given snapshot. If not specified, there will be a new snapshot taken to initiate the backup creation. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`"
        },
        "description": {
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "chainStorageBytes": {
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backup. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`."
        },
        "sourceVolume": {
          "description": "The resource name of the volume that this backup belongs to. You must provide either `source_volume` or `ontap_source`. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}`",
          "type": "string"
        },
        "ontapSource": {
          "$ref": "OntapSource",
          "description": "Optional. Represents source details for ONTAP backups. Either source_volume or ontap_source should be provided."
        },
        "volumeUsageBytes": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Size of the file system when the backup was created. When creating a new volume from the backup, the volume capacity will have to be at least as big."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the backup was created."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use",
          "readOnly": true
        },
        "volumeRegion": {
          "description": "Output only. Region of the volume from which the backup was created. Format: `projects/{project_id}/locations/{location}`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ActiveDirectory": {
      "type": "object",
      "properties": {
        "aesEncryption": {
          "type": "boolean",
          "description": "If enabled, AES encryption will be enabled for SMB communication."
        },
        "backupOperators": {
          "type": "array",
          "description": "Optional. Users to be added to the Built-in Backup Operator active directory group.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Description of the active directory.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "IN_USE",
            "DELETING",
            "ERROR",
            "DIAGNOSING"
          ],
          "description": "Output only. The state of the AD.",
          "enumDescriptions": [
            "Unspecified Active Directory State",
            "Active Directory State is Creating",
            "Active Directory State is Ready",
            "Active Directory State is Updating",
            "Active Directory State is In use",
            "Active Directory State is Deleting",
            "Active Directory State is Error",
            "Active Directory State is Diagnosing."
          ],
          "type": "string"
        },
        "encryptDcConnections": {
          "type": "boolean",
          "description": "If enabled, traffic between the SMB server to Domain Controller (DC) will be encrypted."
        },
        "securityOperators": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Domain users to be given the SeSecurityPrivilege.",
          "type": "array"
        },
        "nfsUsersWithLdap": {
          "description": "If enabled, will allow access to local users and LDAP users. If access is needed for only LDAP users, it has to be disabled.",
          "type": "boolean"
        },
        "dns": {
          "type": "string",
          "description": "Required. Comma separated list of DNS server IP addresses for the Active Directory domain."
        },
        "labels": {
          "description": "Labels for the active directory.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "kdcHostname": {
          "description": "Name of the active directory machine. This optional parameter is used only while creating kerberos volume",
          "type": "string"
        },
        "domain": {
          "description": "Required. Name of the Active Directory domain",
          "type": "string"
        },
        "ldapSigning": {
          "type": "boolean",
          "description": "Specifies whether or not the LDAP traffic needs to be signed."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create time of the active directory.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Required. Username of the Active Directory domain administrator."
        },
        "netBiosPrefix": {
          "type": "string",
          "description": "Required. NetBIOSPrefix is used as a prefix for SMB server name."
        },
        "site": {
          "description": "The Active Directory site the service will limit Domain Controller discovery too.",
          "type": "string"
        },
        "kdcIp": {
          "description": "KDC server IP address for the active directory machine.",
          "type": "string"
        },
        "organizationalUnit": {
          "description": "The Organizational Unit (OU) within the Windows Active Directory the user belongs to.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`."
        },
        "password": {
          "description": "Required. Password of the Active Directory domain administrator.",
          "type": "string"
        },
        "stateDetails": {
          "description": "Output only. The state details of the Active Directory.",
          "type": "string",
          "readOnly": true
        },
        "administrators": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Users to be added to the Built-in Admininstrators group."
        }
      },
      "description": "ActiveDirectory is the public representation of the active directory config.",
      "id": "ActiveDirectory"
    },
    "ExecuteOntapGetResponse": {
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "ExecuteOntapGetResponse",
      "type": "object",
      "description": "Response message for `ExecuteOntapGet` API."
    },
    "ExecuteOntapPostRequest": {
      "id": "ExecuteOntapPostRequest",
      "properties": {
        "body": {
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "Request message for `ExecuteOntapPost` API."
    },
    "QuotaRule": {
      "description": "QuotaRule specifies the maximum disk space a user or group can use within a volume. They can be used for creating default and individual quota rules.",
      "type": "object",
      "id": "QuotaRule",
      "properties": {
        "description": {
          "description": "Optional. Description of the quota rule",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified type for quota rule",
            "Individual user quota rule",
            "Individual group quota rule",
            "Default user quota rule",
            "Default group quota rule"
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INDIVIDUAL_USER_QUOTA",
            "INDIVIDUAL_GROUP_QUOTA",
            "DEFAULT_USER_QUOTA",
            "DEFAULT_GROUP_QUOTA"
          ],
          "description": "Required. The type of quota rule."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time of the quota rule",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Labels of the quota rule",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "state": {
          "description": "Output only. State of the quota rule",
          "enumDescriptions": [
            "Unspecified state for quota rule",
            "Quota rule is creating",
            "Quota rule is updating",
            "Quota rule is deleting",
            "Quota rule is ready",
            "Quota rule is in error state."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "READY",
            "ERROR"
          ],
          "readOnly": true
        },
        "diskLimitMib": {
          "description": "Required. The maximum allowed disk space in MiB.",
          "type": "integer",
          "format": "int32"
        },
        "stateDetails": {
          "readOnly": true,
          "description": "Output only. State details of the quota rule",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`."
        },
        "target": {
          "description": "Optional. The quota rule applies to the specified user or group, identified by a Unix UID/GID, Windows SID, or null for default.",
          "type": "string"
        }
      }
    },
    "ListStoragePoolsResponse": {
      "type": "object",
      "id": "ListStoragePoolsResponse",
      "description": "ListStoragePoolsResponse is the response to a ListStoragePoolsRequest.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "storagePools": {
          "items": {
            "$ref": "StoragePool"
          },
          "description": "The list of StoragePools",
          "type": "array"
        }
      }
    },
    "ExecuteOntapPatchResponse": {
      "type": "object",
      "properties": {
        "body": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The raw `JSON` body of the response."
        }
      },
      "id": "ExecuteOntapPatchResponse",
      "description": "Response message for `ExecuteOntapPatch` API."
    },
    "SimpleExportPolicyRule": {
      "properties": {
        "kerberos5pReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode."
        },
        "nfsv4": {
          "type": "boolean",
          "description": "NFS V4 protocol."
        },
        "kerberos5ReadWrite": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode. The 'kerberos5ReadOnly' value be ignored if this is enabled."
        },
        "anonUid": {
          "type": "string",
          "description": "Optional. An integer representing the anonymous user ID. Range is 0 to `4294967295`. Required when `squash_mode` is `ROOT_SQUASH` or `ALL_SQUASH`.",
          "format": "int64"
        },
        "squashMode": {
          "description": "Optional. Defines how user identity squashing is applied for this export rule. This field is the preferred way to configure squashing behavior and takes precedence over `has_root_access` if both are provided.",
          "type": "string",
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH",
            "ALL_SQUASH"
          ],
          "enumDescriptions": [
            "Defaults to `NO_ROOT_SQUASH`.",
            "The root user (UID 0) retains full access. Other users are unaffected.",
            "The root user (UID 0) is squashed to anonymous user ID. Other users are unaffected.",
            "All users are squashed to anonymous user ID."
          ]
        },
        "nfsv3": {
          "description": "NFS V3 protocol.",
          "type": "boolean"
        },
        "allowedClients": {
          "description": "Comma separated list of allowed clients IP addresses",
          "type": "string"
        },
        "kerberos5ReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode.",
          "type": "boolean"
        },
        "kerberos5pReadWrite": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode. The 'kerberos5pReadOnly' value be ignored if this is enabled."
        },
        "hasRootAccess": {
          "description": "Whether Unix root access will be granted.",
          "type": "string"
        },
        "kerberos5iReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode."
        },
        "accessType": {
          "description": "Access type (ReadWrite, ReadOnly, None)",
          "enumDescriptions": [
            "Unspecified Access Type",
            "Read Only",
            "Read Write",
            "None"
          ],
          "type": "string",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "READ_NONE"
          ]
        },
        "kerberos5iReadWrite": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode. The 'kerberos5iReadOnly' value be ignored if this is enabled."
        }
      },
      "id": "SimpleExportPolicyRule",
      "type": "object",
      "description": "An export policy rule describing various export options."
    },
    "ListReplicationsResponse": {
      "id": "ListReplicationsResponse",
      "type": "object",
      "description": "ListReplicationsResponse is the result of ListReplicationsRequest.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        },
        "replications": {
          "description": "A list of replications in the project for the specified volume.",
          "items": {
            "$ref": "Replication"
          },
          "type": "array"
        }
      }
    },
    "BackupConfig": {
      "properties": {
        "backupChainBytes": {
          "type": "string",
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size).",
          "format": "int64",
          "readOnly": true
        },
        "scheduledBackupEnabled": {
          "description": "Optional. When set to true, scheduled backup is enabled on the volume. This field should be nil when there's no backup policy attached.",
          "type": "boolean"
        },
        "backupPolicies": {
          "description": "Optional. When specified, schedule backups will be created based on the policy configuration.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupVault": {
          "description": "Optional. Name of backup vault. Format: projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}",
          "type": "string"
        }
      },
      "id": "BackupConfig",
      "description": "BackupConfig contains backup related config on a volume.",
      "type": "object"
    },
    "BackupVault": {
      "id": "BackupVault",
      "properties": {
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "backupVaultType": {
          "description": "Optional. Type of backup vault to be created. Default is IN_REGION.",
          "type": "string",
          "enum": [
            "BACKUP_VAULT_TYPE_UNSPECIFIED",
            "IN_REGION",
            "CROSS_REGION"
          ],
          "enumDescriptions": [
            "BackupVault type not set.",
            "BackupVault type is IN_REGION.",
            "BackupVault type is CROSS_REGION."
          ]
        },
        "description": {
          "description": "Description of the backup vault.",
          "type": "string"
        },
        "kmsConfig": {
          "type": "string",
          "description": "Optional. Specifies the Key Management System (KMS) configuration to be used for backup encryption. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`"
        },
        "destinationBackupVault": {
          "description": "Output only. Name of the Backup vault created in backup region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backup vault. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`."
        },
        "sourceBackupVault": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Backup vault created in source region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`"
        },
        "backupRetentionPolicy": {
          "$ref": "BackupRetentionPolicy",
          "description": "Optional. Backup retention policy defining the retention of backups."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "description": "Output only. The backup vault state.",
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "BackupVault is being created.",
            "BackupVault is available for use.",
            "BackupVault is being deleted.",
            "BackupVault is not valid and cannot be used.",
            "BackupVault is being updated."
          ]
        },
        "sourceRegion": {
          "description": "Optional. Region in which the backup vault is created. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create time of the backup vault."
        },
        "backupsCryptoKeyVersion": {
          "type": "string",
          "description": "Output only. The crypto key version used to encrypt the backup vault. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`",
          "readOnly": true
        },
        "encryptionState": {
          "type": "string",
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "ENCRYPTION_STATE_PENDING",
            "ENCRYPTION_STATE_COMPLETED",
            "ENCRYPTION_STATE_IN_PROGRESS",
            "ENCRYPTION_STATE_FAILED"
          ],
          "readOnly": true,
          "description": "Output only. Field indicating encryption state of CMEK backups.",
          "enumDescriptions": [
            "Encryption state not set.",
            "Encryption state is pending.",
            "Encryption is complete.",
            "Encryption is in progress.",
            "Encryption has failed."
          ]
        },
        "backupRegion": {
          "description": "Optional. Region where the backups are stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A NetApp BackupVault."
    },
    "Replication": {
      "id": "Replication",
      "type": "object",
      "properties": {
        "destinationVolumeParameters": {
          "description": "Required. Input only. Destination volume parameters",
          "$ref": "DestinationVolumeParameters"
        },
        "transferStats": {
          "readOnly": true,
          "$ref": "TransferStats",
          "description": "Output only. Replication transfer statistics."
        },
        "hybridReplicationType": {
          "description": "Output only. Type of the hybrid replication.",
          "enum": [
            "HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "Hybrid replication type for incremental Transfer in the reverse direction (GCNV is source and Onprem is destination)"
          ]
        },
        "replicationSchedule": {
          "enumDescriptions": [
            "Unspecified ReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ],
          "description": "Required. Indicates the schedule for replication.",
          "type": "string",
          "enum": [
            "REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ]
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Replication create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`.",
          "type": "string"
        },
        "description": {
          "description": "A description about this replication relationship.",
          "type": "string"
        },
        "destinationVolume": {
          "description": "Output only. Full name of destination volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified replication State",
            "Replication is creating.",
            "Replication is ready.",
            "Replication is updating.",
            "Replication is deleting.",
            "Replication is in error state.",
            "Replication is waiting for cluster peering to be established.",
            "Replication is waiting for SVM peering to be established.",
            "Replication is waiting for Commands to be executed on Onprem ONTAP.",
            "Onprem ONTAP is destination and Replication can only be managed from Onprem."
          ],
          "description": "Output only. State of the replication.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "ERROR",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PENDING_REMOTE_RESYNC",
            "EXTERNALLY_MANAGED_REPLICATION"
          ]
        },
        "hybridPeeringDetails": {
          "description": "Output only. Hybrid peering details.",
          "readOnly": true,
          "$ref": "HybridPeeringDetails"
        },
        "sourceVolume": {
          "description": "Output only. Full name of source volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "readOnly": true,
          "type": "string"
        },
        "role": {
          "readOnly": true,
          "enum": [
            "REPLICATION_ROLE_UNSPECIFIED",
            "SOURCE",
            "DESTINATION"
          ],
          "description": "Output only. Indicates whether this points to source or destination.",
          "enumDescriptions": [
            "Unspecified replication role",
            "Indicates Source volume.",
            "Indicates Destination volume."
          ],
          "type": "string"
        },
        "healthy": {
          "description": "Output only. Condition of the relationship. Can be one of the following: - true: The replication relationship is healthy. It has not missed the most recent scheduled transfer. - false: The replication relationship is not healthy. It has missed the most recent scheduled transfer.",
          "type": "boolean",
          "readOnly": true
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State details of the replication."
        },
        "clusterLocation": {
          "description": "Optional. Location of the user cluster.",
          "type": "string"
        },
        "hybridReplicationUserCommands": {
          "$ref": "UserCommands",
          "readOnly": true,
          "description": "Output only. Copy pastable snapmirror commands to be executed on onprem cluster by the customer."
        },
        "mirrorState": {
          "enumDescriptions": [
            "Unspecified MirrorState",
            "Destination volume is being prepared.",
            "Destination volume has been initialized and is ready to receive replication transfers.",
            "Destination volume is not receiving replication transfers.",
            "Incremental replication is in progress.",
            "Baseline replication is in progress.",
            "Replication is aborted.",
            "Replication is being managed from Onprem ONTAP.",
            "Peering is yet to be established."
          ],
          "description": "Output only. Indicates the state of mirroring.",
          "enum": [
            "MIRROR_STATE_UNSPECIFIED",
            "PREPARING",
            "MIRRORED",
            "STOPPED",
            "TRANSFERRING",
            "BASELINE_TRANSFERRING",
            "ABORTED",
            "EXTERNALLY_MANAGED",
            "PENDING_PEERING"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Replication is a nested resource under Volume, that describes a cross-region replication relationship between 2 volumes in different regions."
    },
    "ListBackupConfigsResponse": {
      "type": "object",
      "description": "Message for response to listing BackupConfigs in an ONTAP StoragePool.",
      "id": "ListBackupConfigsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "volumeBackupConfigs": {
          "items": {
            "$ref": "VolumeBackupConfig"
          },
          "description": "A list of backup configurations for volumes in the pool.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached."
        }
      }
    },
    "OntapSource": {
      "properties": {
        "volumeUuid": {
          "type": "string",
          "description": "Required. The UUID of the ONTAP source volume."
        },
        "snapshotUuid": {
          "description": "Optional. The UUID of the ONTAP source snapshot.",
          "type": "string"
        },
        "storagePool": {
          "description": "Required. Name of the storage pool. This must be specified for creating backups for ONTAP mode volumes. Format: `projects/{projects_id}/locations/{location}/storagePools/{storage_pool_id}`",
          "type": "string"
        }
      },
      "id": "OntapSource",
      "description": "Represents ONTAP source details.",
      "type": "object"
    },
    "HourlySchedule": {
      "id": "HourlySchedule",
      "type": "object",
      "properties": {
        "snapshotsToKeep": {
          "format": "double",
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number"
        },
        "minute": {
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Make a snapshot every hour e.g. at 04:00, 05:00, 06:00."
    },
    "VerifyKmsConfigResponse": {
      "properties": {
        "healthy": {
          "description": "Output only. If the customer key configured correctly to the encrypt volume.",
          "readOnly": true,
          "type": "boolean"
        },
        "healthError": {
          "description": "Output only. Error message if config is not healthy.",
          "readOnly": true,
          "type": "string"
        },
        "instructions": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Instructions for the customers to provide the access to the encryption key."
        }
      },
      "description": "VerifyKmsConfigResponse contains the information if the config is correctly and error message.",
      "type": "object",
      "id": "VerifyKmsConfigResponse"
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest"
    },
    "StartSplitRequest": {
      "description": "Request message for splitting a volume.",
      "properties": {},
      "type": "object",
      "id": "StartSplitRequest"
    },
    "ListBackupVaultsResponse": {
      "id": "ListBackupVaultsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        },
        "backupVaults": {
          "items": {
            "$ref": "BackupVault"
          },
          "type": "array",
          "description": "A list of backupVaults in the project for the specified location."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object",
      "description": "ListBackupVaultsResponse is the result of ListBackupVaultsRequest."
    },
    "UpdateBackupConfigRequest": {
      "description": "Request message for UpdateBackupConfig",
      "properties": {
        "volumeUuid": {
          "description": "Required. The UUID of the ONTAP-mode volume.",
          "type": "string"
        },
        "backupConfig": {
          "$ref": "BackupConfig",
          "description": "Required. Backup configuration to apply."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. Field mask is used to specify the fields to be overwritten in the BackupConfig for the Volume. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
          "type": "string"
        }
      },
      "id": "UpdateBackupConfigRequest",
      "type": "object"
    },
    "BlockDevice": {
      "properties": {
        "sizeGib": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The size of the block device in GiB. Any value provided for the `size_gib` field during volume creation is ignored. The block device's size is system-managed and will be set to match the parent Volume's `capacity_gib`."
        },
        "hostGroups": {
          "description": "Optional. A list of host groups that identify hosts that can mount the block volume. Format: `projects/{project_id}/locations/{location}/hostGroups/{host_group_id}` This field can be updated after the block device is created.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Optional. User-defined name for the block device, unique within the volume. In case no user input is provided, name will be auto-generated in the backend. The name must meet the following requirements: * Be between 1 and 255 characters long. * Contain only uppercase or lowercase letters (A-Z, a-z), numbers (0-9), and the following special characters: \"-\", \"_\", \"}\", \"{\", \".\". * Spaces are not allowed."
        },
        "identifier": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Device identifier of the block volume. This represents `lun_serial_number` for iSCSI volumes."
        },
        "osType": {
          "description": "Required. Immutable. The OS type of the volume. This field can't be changed after the block device is created.",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "type": "string",
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ]
        }
      },
      "description": "Block device represents the device(s) which are stored in the block volume.",
      "id": "BlockDevice",
      "type": "object"
    },
    "ListKmsConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "kmsConfigs": {
          "type": "array",
          "description": "The list of KmsConfigs",
          "items": {
            "$ref": "KmsConfig"
          }
        }
      },
      "id": "ListKmsConfigsResponse",
      "type": "object",
      "description": "ListKmsConfigsResponse is the response to a ListKmsConfigsRequest."
    },
    "MonthlySchedule": {
      "type": "object",
      "description": "Make a snapshot once a month e.g. at 2nd 04:00, 7th 05:20, 24th 23:50",
      "id": "MonthlySchedule",
      "properties": {
        "hour": {
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number",
          "format": "double"
        },
        "minute": {
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "format": "double",
          "type": "number"
        },
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number",
          "format": "double"
        },
        "daysOfMonth": {
          "description": "Set the day or days of the month to make a snapshot (1-31). Accepts a comma separated number of days. Defaults to '1'.",
          "type": "string"
        }
      }
    },
    "HybridReplicationParameters": {
      "properties": {
        "largeVolumeConstituentCount": {
          "description": "Optional. Constituent volume count for large volume.",
          "format": "int32",
          "type": "integer"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels to be added to the replication as the key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        },
        "peerVolumeName": {
          "type": "string",
          "description": "Required. Name of the user's local source volume to be peered with the destination volume."
        },
        "replicationSchedule": {
          "type": "string",
          "enum": [
            "HYBRID_REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ],
          "description": "Optional. Replication Schedule for the replication created.",
          "enumDescriptions": [
            "Unspecified HybridReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ]
        },
        "hybridReplicationType": {
          "type": "string",
          "enum": [
            "VOLUME_HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "description": "Optional. Type of the hybrid replication.",
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "New field for reversible OnPrem replication, to be used for data protection."
          ]
        },
        "description": {
          "description": "Optional. Description of the replication.",
          "type": "string"
        },
        "peerIpAddresses": {
          "type": "array",
          "description": "Required. List of node ip addresses to be peered with.",
          "items": {
            "type": "string"
          }
        },
        "replication": {
          "description": "Required. Desired name for the replication of this volume.",
          "type": "string"
        },
        "clusterLocation": {
          "type": "string",
          "description": "Optional. Name of source cluster location associated with the Hybrid replication. This is a free-form field for the display purpose only."
        }
      },
      "description": "The Hybrid Replication parameters for the volume.",
      "type": "object",
      "id": "HybridReplicationParameters"
    },
    "LargeCapacityConfig": {
      "type": "object",
      "id": "LargeCapacityConfig",
      "description": "Configuration for a Large Capacity Volume. A Large Capacity Volume supports sizes ranging from 4.8 TiB to 20 PiB; it is composed of multiple internal constituents, and must be created in a large capacity pool.",
      "properties": {
        "constituentCount": {
          "type": "integer",
          "description": "Optional. The number of internal constituents (e.g., FlexVols) for this large volume. The minimum number of constituents is 2.",
          "format": "int32"
        }
      }
    },
    "ExecuteOntapDeleteResponse": {
      "properties": {
        "body": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The raw `JSON` body of the response.",
          "type": "object"
        }
      },
      "type": "object",
      "description": "Response message for `ExecuteOntapDelete` API.",
      "id": "ExecuteOntapDeleteResponse"
    },
    "TransferStats": {
      "properties": {
        "totalTransferDuration": {
          "type": "string",
          "description": "Cumulative time taken across all transfers for the replication relationship.",
          "format": "google-duration"
        },
        "transferBytes": {
          "format": "int64",
          "type": "string",
          "description": "Cumulative bytes transferred so far for the replication relationship."
        },
        "updateTime": {
          "description": "Time when progress was updated last.",
          "format": "google-datetime",
          "type": "string"
        },
        "lastTransferError": {
          "type": "string",
          "description": "A message describing the cause of the last transfer failure."
        },
        "lastTransferEndTime": {
          "description": "Time when last transfer completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastTransferDuration": {
          "format": "google-duration",
          "description": "Time taken during last transfer.",
          "type": "string"
        },
        "lastTransferBytes": {
          "format": "int64",
          "type": "string",
          "description": "Last transfer size in bytes."
        },
        "lagDuration": {
          "type": "string",
          "description": "Lag duration indicates the duration by which Destination region volume content lags behind the primary region volume content.",
          "format": "google-duration"
        }
      },
      "id": "TransferStats",
      "type": "object",
      "description": "TransferStats reports all statistics related to replication transfer."
    },
    "Snapshot": {
      "id": "Snapshot",
      "type": "object",
      "description": "Snapshot is a point-in-time version of a Volume's content.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the snapshot. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`.",
          "type": "string"
        },
        "stateDetails": {
          "description": "Output only. State details of the storage pool",
          "readOnly": true,
          "type": "string"
        },
        "usedBytes": {
          "format": "double",
          "readOnly": true,
          "description": "Output only. Current storage usage for the snapshot in bytes.",
          "type": "number"
        },
        "description": {
          "type": "string",
          "description": "A description of the snapshot with 2048 characters or less. Requests with longer descriptions will be rejected."
        },
        "createTime": {
          "description": "Output only. The time when the snapshot was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata.",
          "type": "object"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified Snapshot State",
            "Snapshot State is Ready",
            "Snapshot State is Creating",
            "Snapshot State is Deleting",
            "Snapshot State is Updating",
            "Snapshot State is Disabled",
            "Snapshot State is Error"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "DISABLED",
            "ERROR"
          ],
          "description": "Output only. The snapshot state.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Location": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been canceled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      }
    },
    "DestinationVolumeParameters": {
      "description": "DestinationVolumeParameters specify input parameters used for creating destination volume.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description for the destination volume.",
          "type": "string"
        },
        "tieringPolicy": {
          "description": "Optional. Tiering policy for the volume.",
          "$ref": "TieringPolicy"
        },
        "volumeId": {
          "description": "Desired destination volume resource id. If not specified, source volume's resource id will be used. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
          "type": "string"
        },
        "shareName": {
          "type": "string",
          "description": "Destination volume's share name. If not specified, source volume's share name will be used."
        },
        "storagePool": {
          "description": "Required. Existing destination StoragePool name.",
          "type": "string"
        }
      },
      "id": "DestinationVolumeParameters"
    },
    "SnapshotPolicy": {
      "id": "SnapshotPolicy",
      "properties": {
        "dailySchedule": {
          "$ref": "DailySchedule",
          "description": "Daily schedule policy."
        },
        "hourlySchedule": {
          "$ref": "HourlySchedule",
          "description": "Hourly schedule policy."
        },
        "monthlySchedule": {
          "description": "Monthly schedule policy.",
          "$ref": "MonthlySchedule"
        },
        "enabled": {
          "type": "boolean",
          "description": "If enabled, make snapshots automatically according to the schedules. Default is false."
        },
        "weeklySchedule": {
          "description": "Weekly schedule policy.",
          "$ref": "WeeklySchedule"
        }
      },
      "description": "Snapshot Policy for a volume.",
      "type": "object"
    },
    "RestoreParameters": {
      "description": "The RestoreParameters if volume is created from a snapshot or backup.",
      "properties": {
        "sourceSnapshot": {
          "description": "Full name of the snapshot resource. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "type": "string"
        },
        "sourceBackup": {
          "description": "Full name of the backup resource. Format for standard backup: projects/{project}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}. Format for BackupDR backup: projects/{project}/locations/{location}/backupVaults/{backup_vault}/dataSources/{data_source}/backups/{backup}",
          "type": "string"
        }
      },
      "id": "RestoreParameters",
      "type": "object"
    },
    "ValidateDirectoryServiceRequest": {
      "description": "ValidateDirectoryServiceRequest validates the directory service policy attached to the storage pool.",
      "type": "object",
      "properties": {
        "directoryServiceType": {
          "enumDescriptions": [
            "Directory service type is not specified.",
            "Active directory policy attached to the storage pool."
          ],
          "description": "Type of directory service policy attached to the storage pool.",
          "type": "string",
          "enum": [
            "DIRECTORY_SERVICE_TYPE_UNSPECIFIED",
            "ACTIVE_DIRECTORY"
          ]
        }
      },
      "id": "ValidateDirectoryServiceRequest"
    },
    "ListSnapshotsResponse": {
      "description": "ListSnapshotsResponse is the result of ListSnapshotsRequest.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "snapshots": {
          "description": "A list of snapshots in the project for the specified volume.",
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListSnapshotsResponse",
      "type": "object"
    },
    "SplitStatus": {
      "description": "Message for SplitStatus.",
      "id": "SplitStatus",
      "type": "object",
      "properties": {
        "splitState": {
          "description": "Output only. The current state of the clone split operation.",
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ],
          "type": "string",
          "readOnly": true
        },
        "progressPercent": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The estimated progress percentage of the split operation (0-100). This is meaningful primarily when split_state is IN_PROGRESS."
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. Human-readable details about the current state. Mostly used for displaying error messages during split failure Examples: \"Split in progress\", \"Error: insufficient capacity\".",
          "readOnly": true
        }
      }
    },
    "KmsConfig": {
      "type": "object",
      "description": "KmsConfig is the customer-managed encryption key(CMEK) configuration.",
      "id": "KmsConfig",
      "properties": {
        "createTime": {
          "description": "Output only. Create time of the KmsConfig.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the KmsConfig."
        },
        "instructions": {
          "description": "Output only. Instructions to provide the access to the customer provided encryption key.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels as key value pairs"
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State details of the KmsConfig."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `KmsConfig`. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Output only. The Service account which will have access to the customer provided encryption key.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified KmsConfig State",
            "KmsConfig State is Ready",
            "KmsConfig State is Creating",
            "KmsConfig State is Deleting",
            "KmsConfig State is Updating",
            "KmsConfig State is In Use.",
            "KmsConfig State is Error",
            "KmsConfig State is Pending to verify crypto key access.",
            "KmsConfig State is Not accessbile by the SDE service account to the crypto key.",
            "KmsConfig State is Disabling.",
            "KmsConfig State is Disabled.",
            "KmsConfig State is Migrating. The existing volumes are migrating from SMEK to CMEK."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "IN_USE",
            "ERROR",
            "KEY_CHECK_PENDING",
            "KEY_NOT_REACHABLE",
            "DISABLING",
            "DISABLED",
            "MIGRATING"
          ],
          "description": "Output only. State of the KmsConfig."
        },
        "cryptoKeyName": {
          "type": "string",
          "description": "Required. Customer-managed crypto key resource full name. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`"
        }
      }
    },
    "Volume": {
      "description": "Volume provides a filesystem that you can mount.",
      "id": "Volume",
      "type": "object",
      "properties": {
        "serviceLevel": {
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ],
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Service level of the volume"
        },
        "restoreParameters": {
          "$ref": "RestoreParameters",
          "description": "Optional. Specifies the source of the volume to be created from."
        },
        "mountOptions": {
          "readOnly": true,
          "description": "Output only. Mount options of this volume",
          "type": "array",
          "items": {
            "$ref": "MountOption"
          }
        },
        "activeDirectory": {
          "readOnly": true,
          "description": "Output only. Specifies the ActiveDirectory name of a SMB volume.",
          "type": "string"
        },
        "tieringPolicy": {
          "description": "Tiering policy for the volume.",
          "$ref": "TieringPolicy"
        },
        "smbSettings": {
          "items": {
            "type": "string",
            "enum": [
              "SMB_SETTINGS_UNSPECIFIED",
              "ENCRYPT_DATA",
              "BROWSABLE",
              "CHANGE_NOTIFY",
              "NON_BROWSABLE",
              "OPLOCKS",
              "SHOW_SNAPSHOT",
              "SHOW_PREVIOUS_VERSIONS",
              "ACCESS_BASED_ENUMERATION",
              "CONTINUOUSLY_AVAILABLE"
            ],
            "enumDescriptions": [
              "Unspecified default option",
              "SMB setting encrypt data",
              "SMB setting browsable",
              "SMB setting notify change",
              "SMB setting not to notify change",
              "SMB setting oplocks",
              "SMB setting to show snapshots",
              "SMB setting to show previous versions",
              "SMB setting to access volume based on enumerartion",
              "Continuously available enumeration"
            ]
          },
          "description": "Optional. SMB share settings for the volume.",
          "type": "array"
        },
        "cloneDetails": {
          "readOnly": true,
          "$ref": "CloneDetails",
          "description": "Output only. If this volume is a clone, this field contains details about the clone."
        },
        "encryptionType": {
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ],
          "description": "Output only. Specified the current volume encryption key source.",
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "type": "string",
          "readOnly": true
        },
        "storagePool": {
          "type": "string",
          "description": "Required. StoragePool name of the volume"
        },
        "largeCapacityConfig": {
          "description": "Optional. Large capacity config for the volume. Enables and configures large capacity for volumes in Unified pools with File protocols. Not applicable for Block protocols in Unified pools. This field and the legacy `large_capacity` boolean field are mutually exclusive.",
          "$ref": "LargeCapacityConfig"
        },
        "throughputMibps": {
          "type": "number",
          "format": "double",
          "description": "Optional. Throughput of the volume (in MiB/s)"
        },
        "exportPolicy": {
          "description": "Optional. Export policy of the volume",
          "$ref": "ExportPolicy"
        },
        "backupConfig": {
          "$ref": "BackupConfig",
          "description": "BackupConfig of the volume."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR",
            "PREPARING",
            "READ_ONLY"
          ],
          "enumDescriptions": [
            "Unspecified Volume State",
            "Volume State is Ready",
            "Volume State is Creating",
            "Volume State is Deleting",
            "Volume State is Updating",
            "Volume State is Restoring",
            "Volume State is Disabled",
            "Volume State is Error",
            "Volume State is Preparing. Note that this is different from CREATING where CREATING means the volume is being created, while PREPARING means the volume is created and now being prepared for the replication.",
            "Volume State is Read Only"
          ],
          "type": "string",
          "description": "Output only. State of the volume"
        },
        "replicaZone": {
          "readOnly": true,
          "description": "Output only. Specifies the replica zone for regional volume.",
          "type": "string"
        },
        "hybridReplicationParameters": {
          "description": "Optional. The Hybrid Replication parameters for the volume.",
          "$ref": "HybridReplicationParameters"
        },
        "kerberosEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating if the volume is a kerberos volume or not, export policy rules control kerberos security modes (krb5, krb5i, krb5p)."
        },
        "restrictedActions": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified restricted action",
              "Prevent volume from being deleted when mounted."
            ],
            "type": "string",
            "enum": [
              "RESTRICTED_ACTION_UNSPECIFIED",
              "DELETE"
            ]
          },
          "description": "Optional. List of actions that are restricted on this volume."
        },
        "protocols": {
          "description": "Required. Protocols required for the volume",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "PROTOCOLS_UNSPECIFIED",
              "NFSV3",
              "NFSV4",
              "SMB",
              "ISCSI",
              "NVME"
            ],
            "enumDescriptions": [
              "Unspecified protocol",
              "NFS V3 protocol",
              "NFS V4 protocol",
              "SMB protocol",
              "ISCSI protocol",
              "NVMe protocol"
            ]
          }
        },
        "unixPermissions": {
          "description": "Optional. Default unix style permission (e.g. 777) the mount point will be created with. Applicable for NFS protocol types only.",
          "type": "string"
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. State details of the volume",
          "readOnly": true
        },
        "psaRange": {
          "description": "Output only. This field is not implemented. The values provided in this field are ignored.",
          "readOnly": true,
          "type": "string"
        },
        "snapReserve": {
          "type": "number",
          "format": "double",
          "description": "Optional. Snap_reserve specifies percentage of volume storage reserved for snapshot storage. Default is 0 percent."
        },
        "snapshotPolicy": {
          "$ref": "SnapshotPolicy",
          "description": "Optional. SnapshotPolicy for a volume."
        },
        "ldapEnabled": {
          "readOnly": true,
          "description": "Output only. Flag indicating if the volume is NFS LDAP enabled or not.",
          "type": "boolean"
        },
        "multipleEndpoints": {
          "description": "Optional. Flag indicating if the volume will have an IP address per node for volumes supporting multiple IP endpoints. Only the volume with large_capacity will be allowed to have multiple endpoints.",
          "type": "boolean"
        },
        "capacityGib": {
          "type": "string",
          "format": "int64",
          "description": "Required. Capacity in GIB of the volume"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the volume"
        },
        "blockDevices": {
          "description": "Optional. Block devices for the volume. Currently, only one block device is permitted per Volume.",
          "items": {
            "$ref": "BlockDevice"
          },
          "type": "array"
        },
        "network": {
          "description": "Output only. VPC Network name. Format: projects/{project}/global/networks/{network}",
          "type": "string",
          "readOnly": true
        },
        "shareName": {
          "type": "string",
          "description": "Required. Share name of the volume"
        },
        "cacheParameters": {
          "$ref": "CacheParameters",
          "description": "Optional. Cache parameters for the volume."
        },
        "securityStyle": {
          "description": "Optional. Security Style of the Volume",
          "enumDescriptions": [
            "SecurityStyle is unspecified",
            "SecurityStyle uses NTFS",
            "SecurityStyle uses UNIX"
          ],
          "type": "string",
          "enum": [
            "SECURITY_STYLE_UNSPECIFIED",
            "NTFS",
            "UNIX"
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the volume"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs",
          "type": "object"
        },
        "snapshotDirectory": {
          "type": "boolean",
          "description": "Optional. Snapshot_directory if enabled (true) the volume will contain a read-only .snapshot directory which provides access to each of the volume's snapshots."
        },
        "zone": {
          "description": "Output only. Specifies the active zone for regional volume.",
          "readOnly": true,
          "type": "string"
        },
        "kmsConfig": {
          "readOnly": true,
          "description": "Output only. Specifies the KMS config to be used for volume encryption.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create time of the volume",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "hasReplication": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the volume is part of a replication relationship."
        },
        "largeCapacity": {
          "type": "boolean",
          "description": "Optional. Flag indicating if the volume will be a large capacity volume or a regular volume. This field is used for legacy FILE pools. For Unified pools, use the `large_capacity_config` field instead. This field and `large_capacity_config` are mutually exclusive."
        },
        "hotTierSizeUsedGib": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the Volume. This field is only used for flex Service Level",
          "format": "int64"
        },
        "coldTierSizeGib": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Size of the volume cold tier data rounded down to the nearest GiB.",
          "type": "string"
        },
        "usedGib": {
          "description": "Output only. Used capacity in GIB of the volume. This is computed periodically and it does not represent the realtime usage.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ExecuteOntapPostResponse": {
      "type": "object",
      "description": "Response message for `ExecuteOntapPost` API.",
      "properties": {
        "body": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The raw `JSON` body of the response.",
          "type": "object"
        }
      },
      "id": "ExecuteOntapPostResponse"
    },
    "BackupPolicy": {
      "id": "BackupPolicy",
      "description": "Backup Policy.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the backup policy."
        },
        "state": {
          "description": "Output only. The backup policy state.",
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "BackupPolicy is being created.",
            "BackupPolicy is available for use.",
            "BackupPolicy is being deleted.",
            "BackupPolicy is not valid and cannot be used.",
            "BackupPolicy is being updated."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ]
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the backup policy was created.",
          "format": "google-datetime"
        },
        "dailyBackupLimit": {
          "description": "Number of daily backups to keep. Note that the minimum daily backup limit is 2.",
          "type": "integer",
          "format": "int32"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backup policy. Format: `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`."
        },
        "monthlyBackupLimit": {
          "format": "int32",
          "description": "Number of monthly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "type": "integer"
        },
        "assignedVolumeCount": {
          "description": "Output only. The total number of volumes assigned by this backup policy.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "weeklyBackupLimit": {
          "description": "Number of weekly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "format": "int32",
          "type": "integer"
        },
        "enabled": {
          "description": "If enabled, make backups automatically according to the schedules. This will be applied to all volumes that have this policy attached and enforced on volume level. If not specified, default is true.",
          "type": "boolean"
        }
      }
    },
    "RestoreVolumeRequest": {
      "type": "object",
      "description": "Request message for `RestoreVolume` API.",
      "id": "RestoreVolumeRequest",
      "properties": {
        "ontapVolumeTarget": {
          "description": "The ONTAP volume target of the restore operation.",
          "$ref": "OntapVolumeTarget"
        },
        "backupSource": {
          "$ref": "BackupSource",
          "description": "The backup source of the restore operation."
        }
      }
    },
    "DailySchedule": {
      "type": "object",
      "properties": {
        "snapshotsToKeep": {
          "format": "double",
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number"
        },
        "minute": {
          "type": "number",
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
        },
        "hour": {
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "format": "double",
          "type": "number"
        }
      },
      "id": "DailySchedule",
      "description": "Make a snapshot every day e.g. at 04:00, 05:20, 23:50"
    },
    "VolumeBackupConfig": {
      "description": "Backup configuration for a volume in a pool.",
      "type": "object",
      "properties": {
        "volumeUuid": {
          "type": "string",
          "description": "Provides the Ontap UUID of the volume within the pool."
        },
        "backupConfig": {
          "$ref": "BackupConfig",
          "description": "Backup configuration for the volume."
        }
      },
      "id": "VolumeBackupConfig"
    },
    "UserCommands": {
      "description": "UserCommands contains the commands to be executed by the customer.",
      "id": "UserCommands",
      "type": "object",
      "properties": {
        "commands": {
          "readOnly": true,
          "description": "Output only. List of commands to be executed by the customer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VerifyKmsConfigRequest": {
      "description": "VerifyKmsConfigRequest specifies the KMS config to be validated.",
      "type": "object",
      "id": "VerifyKmsConfigRequest",
      "properties": {}
    },
    "ListQuotaRulesResponse": {
      "id": "ListQuotaRulesResponse",
      "description": "ListQuotaRulesResponse is the response to a ListQuotaRulesRequest.",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
[...]
