{
  "revision": "20260823",
  "id": "netapp:v1",
  "kind": "discovery#restDescription",
  "rootUrl": "https://netapp.googleapis.com/",
  "version_module": true,
  "title": "NetApp API",
  "description": "Google Cloud NetApp Volumes is a fully-managed, cloud-based data storage service that provides advanced data management capabilities and highly scalable performance with global availability.",
  "basePath": "",
  "protocol": "rest",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "schemas": {
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "EncryptVolumesRequest": {
      "type": "object",
      "description": "EncryptVolumesRequest specifies the KMS config to encrypt existing volumes.",
      "properties": {},
      "id": "EncryptVolumesRequest"
    },
    "ListVolumesResponse": {
      "type": "object",
      "description": "Message for response to listing Volumes",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "volumes": {
          "description": "The list of Volume",
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        }
      },
      "id": "ListVolumesResponse"
    },
    "KmsConfig": {
      "id": "KmsConfig",
      "description": "KmsConfig is the customer-managed encryption key(CMEK) configuration.",
      "properties": {
        "labels": {
          "description": "Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "description": "Output only. The Service account which will have access to the customer provided encryption key.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. State of the KmsConfig.",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "IN_USE",
            "ERROR",
            "KEY_CHECK_PENDING",
            "KEY_NOT_REACHABLE",
            "DISABLING",
            "DISABLED",
            "MIGRATING"
          ],
          "enumDescriptions": [
            "Unspecified KmsConfig State",
            "KmsConfig State is Ready",
            "KmsConfig State is Creating",
            "KmsConfig State is Deleting",
            "KmsConfig State is Updating",
            "KmsConfig State is In Use.",
            "KmsConfig State is Error",
            "KmsConfig State is Pending to verify crypto key access.",
            "KmsConfig State is Not accessbile by the SDE service account to the crypto key.",
            "KmsConfig State is Disabling.",
            "KmsConfig State is Disabled.",
            "KmsConfig State is Migrating. The existing volumes are migrating from SMEK to CMEK."
          ],
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `KmsConfig`. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`"
        },
        "description": {
          "description": "Description of the KmsConfig.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time of the KmsConfig.",
          "format": "google-datetime",
          "type": "string"
        },
        "instructions": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Instructions to provide the access to the customer provided encryption key."
        },
        "cryptoKeyName": {
          "description": "Required. Customer-managed crypto key resource full name. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`",
          "type": "string"
        },
        "stateDetails": {
          "description": "Output only. State details of the KmsConfig.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ReverseReplicationDirectionRequest": {
      "id": "ReverseReplicationDirectionRequest",
      "description": "ReverseReplicationDirectionRequest reverses direction of replication. Source becomes destination and destination becomes source.",
      "properties": {},
      "type": "object"
    },
    "ListStoragePoolsResponse": {
      "properties": {
        "storagePools": {
          "description": "The list of StoragePools",
          "type": "array",
          "items": {
            "$ref": "StoragePool"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "ListStoragePoolsResponse is the response to a ListStoragePoolsRequest.",
      "id": "ListStoragePoolsResponse"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "LargeCapacityConfig": {
      "id": "LargeCapacityConfig",
      "properties": {
        "constituentCount": {
          "description": "Optional. The number of internal constituents (e.g., FlexVols) for this large volume. The minimum number of constituents is 2.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Configuration for a Large Capacity Volume. A Large Capacity Volume supports sizes ranging from 4.8 TiB to 20 PiB; it is composed of multiple internal constituents, and must be created in a large capacity pool."
    },
    "ListQuotaRulesResponse": {
      "type": "object",
      "description": "ListQuotaRulesResponse is the response to a ListQuotaRulesRequest.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "quotaRules": {
          "items": {
            "$ref": "QuotaRule"
          },
          "type": "array",
          "description": "List of quota rules"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "ListQuotaRulesResponse"
    },
    "ExportPolicy": {
      "description": "Defines the export policy for the volume.",
      "type": "object",
      "properties": {
        "rules": {
          "description": "Required. List of export policy rules",
          "items": {
            "$ref": "SimpleExportPolicyRule"
          },
          "type": "array"
        }
      },
      "id": "ExportPolicy"
    },
    "BackupVault": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the backup vault."
        },
        "sourceBackupVault": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the Backup vault created in source region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`"
        },
        "encryptionState": {
          "readOnly": true,
          "enumDescriptions": [
            "Encryption state not set.",
            "Encryption state is pending.",
            "Encryption is complete.",
            "Encryption is in progress.",
            "Encryption has failed."
          ],
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "ENCRYPTION_STATE_PENDING",
            "ENCRYPTION_STATE_COMPLETED",
            "ENCRYPTION_STATE_IN_PROGRESS",
            "ENCRYPTION_STATE_FAILED"
          ],
          "description": "Output only. Field indicating encryption state of CMEK backups.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backup vault. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`."
        },
        "backupVaultType": {
          "enumDescriptions": [
            "BackupVault type not set.",
            "BackupVault type is IN_REGION.",
            "BackupVault type is CROSS_REGION."
          ],
          "enum": [
            "BACKUP_VAULT_TYPE_UNSPECIFIED",
            "IN_REGION",
            "CROSS_REGION"
          ],
          "description": "Optional. Type of backup vault to be created. Default is IN_REGION.",
          "type": "string"
        },
        "backupRegion": {
          "description": "Optional. Region where the backups are stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "destinationBackupVault": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Backup vault created in backup region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`"
        },
        "kmsConfig": {
          "type": "string",
          "description": "Optional. Specifies the Key Management System (KMS) configuration to be used for backup encryption. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "enumDescriptions": [
            "State not set.",
            "BackupVault is being created.",
            "BackupVault is available for use.",
            "BackupVault is being deleted.",
            "BackupVault is not valid and cannot be used.",
            "BackupVault is being updated."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The backup vault state."
        },
        "sourceRegion": {
          "type": "string",
          "description": "Optional. Region in which the backup vault is created. Format: `projects/{project_id}/locations/{location}`"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Create time of the backup vault."
        },
        "labels": {
          "type": "object",
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "backupRetentionPolicy": {
          "description": "Optional. Backup retention policy defining the retention of backups.",
          "$ref": "BackupRetentionPolicy"
        },
        "backupsCryptoKeyVersion": {
          "readOnly": true,
          "description": "Output only. The crypto key version used to encrypt the backup vault. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`",
          "type": "string"
        }
      },
      "description": "A NetApp BackupVault.",
      "id": "BackupVault",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "SwitchActiveReplicaZoneRequest": {
      "type": "object",
      "id": "SwitchActiveReplicaZoneRequest",
      "properties": {},
      "description": "SwitchActiveReplicaZoneRequest switch the active/replica zone for a regional storagePool."
    },
    "RestoreBackupFilesRequest": {
      "id": "RestoreBackupFilesRequest",
      "description": "RestoreBackupFilesRequest restores files from a backup to a volume.",
      "properties": {
        "restoreDestinationPath": {
          "type": "string",
          "description": "Optional. Absolute directory path in the destination volume. This is required if the `file_list` is provided."
        },
        "fileList": {
          "type": "array",
          "description": "Required. List of files to be restored, specified by their absolute path in the source volume.",
          "items": {
            "type": "string"
          }
        },
        "backup": {
          "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SplitStatus": {
      "description": "Message for SplitStatus.",
      "properties": {
        "progressPercent": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The estimated progress percentage of the split operation (0-100). This is meaningful primarily when split_state is IN_PROGRESS.",
          "format": "int32"
        },
        "stateDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable details about the current state. Mostly used for displaying error messages during split failure Examples: \"Split in progress\", \"Error: insufficient capacity\"."
        },
        "splitState": {
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the clone split operation.",
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ]
        }
      },
      "id": "SplitStatus",
      "type": "object"
    },
    "MountOption": {
      "type": "object",
      "properties": {
        "export": {
          "description": "Export string",
          "type": "string"
        },
        "exportFull": {
          "description": "Full export string",
          "type": "string"
        },
        "protocol": {
          "type": "string",
          "enum": [
            "PROTOCOLS_UNSPECIFIED",
            "NFSV3",
            "NFSV4",
            "SMB",
            "ISCSI",
            "NVME"
          ],
          "enumDescriptions": [
            "Unspecified protocol",
            "NFS V3 protocol",
            "NFS V4 protocol",
            "SMB protocol",
            "ISCSI protocol",
            "NVMe protocol"
          ],
          "description": "Protocol to mount with."
        },
        "instructions": {
          "description": "Instructions for mounting",
          "type": "string"
        },
        "ipAddress": {
          "readOnly": true,
          "description": "Output only. IP Address.",
          "type": "string"
        }
      },
      "description": "View only mount options for a volume.",
      "id": "MountOption"
    },
    "ListBackupsResponse": {
      "id": "ListBackupsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "backups": {
          "type": "array",
          "items": {
            "$ref": "Backup"
          },
          "description": "A list of backups in the project."
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "ListBackupsResponse is the result of ListBackupsRequest.",
      "type": "object"
    },
    "ListHostGroupsResponse": {
      "type": "object",
      "description": "ListHostGroupsResponse is the response to a ListHostGroupsRequest.",
      "id": "ListHostGroupsResponse",
      "properties": {
        "hostGroups": {
          "description": "The list of host groups.",
          "items": {
            "$ref": "HostGroup"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "CachePrePopulate": {
      "properties": {
        "pathList": {
          "type": "array",
          "description": "Optional. List of directory-paths to be pre-populated for the FlexCache volume.",
          "items": {
            "type": "string"
          }
        },
        "excludePathList": {
          "description": "Optional. List of directory-paths to be excluded for pre-population for the FlexCache volume.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "recursion": {
          "description": "Optional. Flag indicating whether the directories listed with the `path_list` need to be recursively pre-populated.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "CachePrePopulate",
      "description": "Pre-populate cache volume with data from the origin volume."
    },
    "ExecuteOntapPatchResponse": {
      "type": "object",
      "description": "Response message for `ExecuteOntapPatch` API.",
      "id": "ExecuteOntapPatchResponse",
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "QuotaRule": {
      "id": "QuotaRule",
      "description": "QuotaRule specifies the maximum disk space a user or group can use within a volume. They can be used for creating default and individual quota rules.",
      "properties": {
        "target": {
          "description": "Optional. The quota rule applies to the specified user or group, identified by a Unix UID/GID, Windows SID, or null for default.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time of the quota rule",
          "readOnly": true,
          "type": "string"
        },
        "stateDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State details of the quota rule"
        },
        "type": {
          "description": "Required. The type of quota rule.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type for quota rule",
            "Individual user quota rule",
            "Individual group quota rule",
            "Default user quota rule",
            "Default group quota rule"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INDIVIDUAL_USER_QUOTA",
            "INDIVIDUAL_GROUP_QUOTA",
            "DEFAULT_USER_QUOTA",
            "DEFAULT_GROUP_QUOTA"
          ]
        },
        "diskLimitMib": {
          "description": "Required. The maximum allowed disk space in MiB.",
          "format": "int32",
          "type": "integer"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels of the quota rule"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the quota rule"
        },
        "state": {
          "description": "Output only. State of the quota rule",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "READY",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified state for quota rule",
            "Quota rule is creating",
            "Quota rule is updating",
            "Quota rule is deleting",
            "Quota rule is ready",
            "Quota rule is in error state."
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`."
        }
      },
      "type": "object"
    },
    "ListBackupVaultsResponse": {
      "id": "ListBackupVaultsResponse",
      "type": "object",
      "description": "ListBackupVaultsResponse is the result of ListBackupVaultsRequest.",
      "properties": {
        "backupVaults": {
          "type": "array",
          "description": "A list of backupVaults in the project for the specified location.",
          "items": {
            "$ref": "BackupVault"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "Backup": {
      "properties": {
        "state": {
          "description": "Output only. The backup state.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "Backup is being created. While in this state, the snapshot for the backup point-in-time may not have been created yet, and so the point-in-time may not have been fixed.",
            "Backup is being uploaded. While in this state, none of the writes to the volume will be included in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new volumes or restoring existing volumes.",
            "Backup is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPLOADING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ]
        },
        "backupType": {
          "enumDescriptions": [
            "Unspecified backup type.",
            "Manual backup type.",
            "Scheduled backup type."
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "MANUAL",
            "SCHEDULED"
          ],
          "description": "Output only. Type of backup, manually created or created by a backup policy.",
          "type": "string"
        },
        "enforcedRetentionEndTime": {
          "description": "Output only. The time until which the backup is not deletable.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "backupRegion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Region in which backup is stored. Format: `projects/{project_id}/locations/{location}`"
        },
        "chainStorageBytes": {
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "ontapSource": {
          "$ref": "OntapSource",
          "description": "Optional. Represents source details for ONTAP backups. Either source_volume or ontap_source should be provided."
        },
        "sourceSnapshot": {
          "description": "If specified, backup will be created from the given snapshot. If not specified, there will be a new snapshot taken to initiate the backup creation. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`",
          "type": "string"
        },
        "description": {
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "volumeRegion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Region of the volume from which the backup was created. Format: `projects/{project_id}/locations/{location}`"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the backup was created."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Resource labels to represent user provided metadata."
        },
        "volumeUsageBytes": {
          "type": "string",
          "description": "Output only. Size of the file system when the backup was created. When creating a new volume from the backup, the volume capacity will have to be at least as big.",
          "format": "int64",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backup. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use",
          "type": "boolean",
          "readOnly": true
        },
        "sourceVolume": {
          "description": "The resource name of the volume that this backup belongs to. You must provide either `source_volume` or `ontap_source`. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}`",
          "type": "string"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use",
          "readOnly": true
        }
      },
      "description": "A NetApp Backup.",
      "type": "object",
      "id": "Backup"
    },
    "ListKmsConfigsResponse": {
      "description": "ListKmsConfigsResponse is the response to a ListKmsConfigsRequest.",
      "id": "ListKmsConfigsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "kmsConfigs": {
          "description": "The list of KmsConfigs",
          "type": "array",
          "items": {
            "$ref": "KmsConfig"
          }
        }
      }
    },
    "Location": {
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "EstablishVolumePeeringRequest": {
      "type": "object",
      "properties": {
        "peerVolumeName": {
          "type": "string",
          "description": "Required. Name of the user's local source volume to be peered with the destination volume."
        },
        "peerSvmName": {
          "type": "string",
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm."
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "peerIpAddresses": {
          "description": "Optional. List of IPv4 IP addresses to be used for peering.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "EstablishVolumePeeringRequest",
      "description": "EstablishVolumePeeringRequest establishes cluster and svm peerings between the source and destination clusters."
    },
    "SyncReplicationRequest": {
      "description": "SyncReplicationRequest syncs the replication from source to destination.",
      "id": "SyncReplicationRequest",
      "type": "object",
      "properties": {}
    },
    "LocationMetadata": {
      "description": "Metadata for a given google.cloud.location.Location.",
      "id": "LocationMetadata",
      "properties": {
        "supportedFlexPerformance": {
          "description": "Output only. Supported flex performance in a location.",
          "type": "array",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "Unspecified flex performance.",
              "Flex Storage Pool with default performance.",
              "Flex Storage Pool with custom performance."
            ],
            "type": "string",
            "enum": [
              "FLEX_PERFORMANCE_UNSPECIFIED",
              "FLEX_PERFORMANCE_DEFAULT",
              "FLEX_PERFORMANCE_CUSTOM"
            ]
          }
        },
        "hasVcp": {
          "type": "boolean",
          "description": "Output only. Indicates if the location has VCP support.",
          "readOnly": true
        },
        "flexPerformanceTier": {
          "enumDescriptions": [
            "Unspecified flex performance tier.",
            "Flex performance tier is limited."
          ],
          "enum": [
            "FLEX_PERFORMANCE_TIER_UNSPECIFIED",
            "LIMITED"
          ],
          "description": "Output only. Indicates the flex performance tier of this location.",
          "readOnly": true,
          "type": "string"
        },
        "hasOntapProxy": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates if the location has ONTAP Proxy support."
        },
        "supportedServiceLevels": {
          "items": {
            "type": "string",
            "enum": [
              "SERVICE_LEVEL_UNSPECIFIED",
              "PREMIUM",
              "EXTREME",
              "STANDARD",
              "FLEX"
            ],
            "enumDescriptions": [
              "Unspecified service level.",
              "Premium service level.",
              "Extreme service level.",
              "Standard service level.",
              "Flex service level."
            ]
          },
          "type": "array",
          "description": "Output only. Supported service levels in a location.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Replication": {
      "properties": {
        "transferStats": {
          "description": "Output only. Replication transfer statistics.",
          "$ref": "TransferStats",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Unspecified replication State",
            "Replication is creating.",
            "Replication is ready.",
            "Replication is updating.",
            "Replication is deleting.",
            "Replication is in error state.",
            "Replication is waiting for cluster peering to be established.",
            "Replication is waiting for SVM peering to be established.",
            "Replication is waiting for Commands to be executed on Onprem ONTAP.",
            "Onprem ONTAP is destination and Replication can only be managed from Onprem."
          ],
          "description": "Output only. State of the replication.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "ERROR",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PENDING_REMOTE_RESYNC",
            "EXTERNALLY_MANAGED_REPLICATION"
          ]
        },
        "clusterLocation": {
          "type": "string",
          "description": "Optional. Location of the user cluster."
        },
        "stateDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State details of the replication."
        },
        "name": {
          "description": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`.",
          "type": "string"
        },
        "mirrorState": {
          "type": "string",
          "description": "Output only. Indicates the state of mirroring.",
          "enumDescriptions": [
            "Unspecified MirrorState",
            "Destination volume is being prepared.",
            "Destination volume has been initialized and is ready to receive replication transfers.",
            "Destination volume is not receiving replication transfers.",
            "Incremental replication is in progress.",
            "Baseline replication is in progress.",
            "Replication is aborted.",
            "Replication is being managed from Onprem ONTAP.",
            "Peering is yet to be established."
          ],
          "enum": [
            "MIRROR_STATE_UNSPECIFIED",
            "PREPARING",
            "MIRRORED",
            "STOPPED",
            "TRANSFERRING",
            "BASELINE_TRANSFERRING",
            "ABORTED",
            "EXTERNALLY_MANAGED",
            "PENDING_PEERING"
          ],
          "readOnly": true
        },
        "replicationSchedule": {
          "description": "Required. Indicates the schedule for replication.",
          "type": "string",
          "enum": [
            "REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "Unspecified ReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ]
        },
        "hybridPeeringDetails": {
          "$ref": "HybridPeeringDetails",
          "description": "Output only. Hybrid peering details.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "A description about this replication relationship."
        },
        "hybridReplicationType": {
          "description": "Output only. Type of the hybrid replication.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "Hybrid replication type for incremental Transfer in the reverse direction (GCNV is source and Onprem is destination)"
          ]
        },
        "hybridReplicationUserCommands": {
          "readOnly": true,
          "description": "Output only. Copy pastable snapmirror commands to be executed on onprem cluster by the customer.",
          "$ref": "UserCommands"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata."
        },
        "destinationVolumeParameters": {
          "$ref": "DestinationVolumeParameters",
          "description": "Required. Input only. Destination volume parameters"
        },
        "sourceVolume": {
          "description": "Output only. Full name of source volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "readOnly": true,
          "type": "string"
        },
        "destinationVolume": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full name of destination volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\""
        },
        "role": {
          "description": "Output only. Indicates whether this points to source or destination.",
          "enumDescriptions": [
            "Unspecified replication role",
            "Indicates Source volume.",
            "Indicates Destination volume."
          ],
          "enum": [
            "REPLICATION_ROLE_UNSPECIFIED",
            "SOURCE",
            "DESTINATION"
          ],
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Replication create time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "healthy": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Condition of the relationship. Can be one of the following: - true: The replication relationship is healthy. It has not missed the most recent scheduled transfer. - false: The replication relationship is not healthy. It has missed the most recent scheduled transfer."
        }
      },
      "type": "object",
      "id": "Replication",
      "description": "Replication is a nested resource under Volume, that describes a cross-region replication relationship between 2 volumes in different regions."
    },
    "BackupPolicy": {
      "type": "object",
      "properties": {
        "assignedVolumeCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The total number of volumes assigned by this backup policy."
        },
        "enabled": {
          "description": "If enabled, make backups automatically according to the schedules. This will be applied to all volumes that have this policy attached and enforced on volume level. If not specified, default is true.",
          "type": "boolean"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata.",
          "type": "object"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the backup policy was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "description": "Description of the backup policy.",
          "type": "string"
        },
        "dailyBackupLimit": {
          "description": "Number of daily backups to keep. Note that the minimum daily backup limit is 2.",
          "type": "integer",
          "format": "int32"
        },
        "monthlyBackupLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Number of monthly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backup policy. Format: `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "BackupPolicy is being created.",
            "BackupPolicy is available for use.",
            "BackupPolicy is being deleted.",
            "BackupPolicy is not valid and cannot be used.",
            "BackupPolicy is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "description": "Output only. The backup policy state.",
          "readOnly": true
        },
        "weeklyBackupLimit": {
          "type": "integer",
          "description": "Number of weekly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "format": "int32"
        }
      },
      "id": "BackupPolicy",
      "description": "Backup Policy."
    },
    "UpdateBackupConfigRequest": {
      "type": "object",
      "description": "Request message for UpdateBackupConfig",
      "properties": {
        "backupConfig": {
          "$ref": "BackupConfig",
          "description": "Required. Backup configuration to apply."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. Field mask is used to specify the fields to be overwritten in the BackupConfig for the Volume. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask."
        },
        "volumeUuid": {
          "type": "string",
          "description": "Required. The UUID of the ONTAP-mode volume."
        }
      },
      "id": "UpdateBackupConfigRequest"
    },
    "CacheParameters": {
      "type": "object",
      "properties": {
        "peerVolumeName": {
          "type": "string",
          "description": "Required. Name of the origin volume for the cache volume."
        },
        "peerSvmName": {
          "description": "Required. Name of the origin volume's SVM.",
          "type": "string"
        },
        "enableGlobalFileLock": {
          "description": "Optional. Indicates whether the cache volume has global file lock enabled.",
          "type": "boolean"
        },
        "peerClusterName": {
          "type": "string",
          "description": "Required. Name of the origin volume's ONTAP cluster."
        },
        "command": {
          "type": "string",
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "readOnly": true
        },
        "peerIpAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. List of IC LIF addresses of the origin volume's ONTAP cluster."
        },
        "passphrase": {
          "description": "Output only. Temporary passphrase generated to accept cluster peering command.",
          "readOnly": true,
          "type": "string"
        },
        "cacheState": {
          "type": "string",
          "description": "Output only. State of the cache volume indicating the peering status.",
          "enum": [
            "CACHE_STATE_UNSPECIFIED",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PEERED",
            "ERROR"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified state.",
            "State indicating waiting for cluster peering to be established.",
            "State indicating waiting for SVM peering to be established.",
            "State indicating successful establishment of peering with origin volumes's ONTAP cluster.",
            "Terminal state wherein peering with origin volume's ONTAP cluster has failed."
          ]
        },
        "peeringCommandExpiryTime": {
          "format": "google-datetime",
          "description": "Optional. Expiration time for the peering command to be executed on user's ONTAP.",
          "type": "string"
        },
        "stateDetails": {
          "description": "Output only. Detailed description of the current cache state.",
          "readOnly": true,
          "type": "string"
        },
        "cacheConfig": {
          "description": "Optional. Configuration of the cache volume.",
          "$ref": "CacheConfig"
        }
      },
      "id": "CacheParameters",
      "description": "Cache Parameters for the volume."
    },
    "DailySchedule": {
      "properties": {
        "snapshotsToKeep": {
          "format": "double",
          "type": "number",
          "description": "The maximum number of Snapshots to keep for the hourly schedule"
        },
        "minute": {
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number",
          "format": "double"
        },
        "hour": {
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Make a snapshot every day e.g. at 04:00, 05:20, 23:50",
      "type": "object",
      "id": "DailySchedule"
    },
    "BackupRetentionPolicy": {
      "id": "BackupRetentionPolicy",
      "description": "Retention policy for backups in the backup vault",
      "type": "object",
      "properties": {
        "dailyBackupImmutable": {
          "description": "Optional. Indicates if the daily backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "monthlyBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the monthly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        },
        "backupMinimumEnforcedRetentionDays": {
          "description": "Required. Minimum retention duration in days for backups in the backup vault.",
          "format": "int32",
          "type": "integer"
        },
        "manualBackupImmutable": {
          "description": "Optional. Indicates if the manual backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "weeklyBackupImmutable": {
          "description": "Optional. Indicates if the weekly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        }
      }
    },
    "MonthlySchedule": {
      "description": "Make a snapshot once a month e.g. at 2nd 04:00, 7th 05:20, 24th 23:50",
      "type": "object",
      "properties": {
        "snapshotsToKeep": {
          "format": "double",
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number"
        },
        "minute": {
          "format": "double",
          "type": "number",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
        },
        "daysOfMonth": {
          "description": "Set the day or days of the month to make a snapshot (1-31). Accepts a comma separated number of days. Defaults to '1'.",
          "type": "string"
        },
        "hour": {
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "format": "double",
          "type": "number"
        }
      },
      "id": "MonthlySchedule"
    },
    "BlockDevice": {
      "id": "BlockDevice",
      "description": "Block device represents the device(s) which are stored in the block volume.",
      "properties": {
        "hostGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of host groups that identify hosts that can mount the block volume. Format: `projects/{project_id}/locations/{location}/hostGroups/{host_group_id}` This field can be updated after the block device is created."
        },
        "osType": {
          "type": "string",
          "description": "Required. Immutable. The OS type of the volume. This field can't be changed after the block device is created.",
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ],
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ]
        },
        "identifier": {
          "description": "Output only. Device identifier of the block volume. This represents `lun_serial_number` for iSCSI volumes.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Optional. User-defined name for the block device, unique within the volume. In case no user input is provided, name will be auto-generated in the backend. The name must meet the following requirements: * Be between 1 and 255 characters long. * Contain only uppercase or lowercase letters (A-Z, a-z), numbers (0-9), and the following special characters: \"-\", \"_\", \"}\", \"{\", \".\". * Spaces are not allowed.",
          "type": "string"
        },
        "sizeGib": {
          "description": "Optional. The size of the block device in GiB. Any value provided for the `size_gib` field during volume creation is ignored. The block device's size is system-managed and will be set to match the parent Volume's `capacity_gib`.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "VolumeBackupConfig": {
      "description": "Backup configuration for a volume in a pool.",
      "id": "VolumeBackupConfig",
      "type": "object",
      "properties": {
        "volumeUuid": {
          "description": "Provides the Ontap UUID of the volume within the pool.",
          "type": "string"
        },
        "backupConfig": {
          "$ref": "BackupConfig",
          "description": "Backup configuration for the volume."
        }
      }
    },
    "ResumeReplicationRequest": {
      "type": "object",
      "properties": {},
      "description": "ResumeReplicationRequest resumes a stopped replication.",
      "id": "ResumeReplicationRequest"
    },
    "HourlySchedule": {
      "properties": {
        "minute": {
          "type": "number",
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
        },
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "format": "double",
          "type": "number"
        }
      },
      "id": "HourlySchedule",
      "type": "object",
      "description": "Make a snapshot every hour e.g. at 04:00, 05:00, 06:00."
    },
    "HostGroup": {
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Unspecified state for host group.",
            "Host group is creating.",
            "Host group is ready.",
            "Host group is updating.",
            "Host group is deleting.",
            "Host group is disabled."
          ],
          "type": "string",
          "description": "Output only. State of the host group."
        },
        "osType": {
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ],
          "description": "Required. The OS type of the host group. It indicates the type of operating system used by all of the hosts in the HostGroup. All hosts in a HostGroup must be of the same OS type. This can be set only when creating a HostGroup.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time of the host group."
        },
        "type": {
          "description": "Required. Type of the host group.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type for host group.",
            "iSCSI initiator host group."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ISCSI_INITIATOR"
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels of the host group.",
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the host group."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`."
        },
        "hosts": {
          "description": "Required. The list of hosts associated with the host group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "HostGroup",
      "description": "Host group is a collection of hosts that can be used for accessing a Block Volume."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been canceled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "OperationMetadata"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "HybridReplicationParameters": {
      "properties": {
        "replicationSchedule": {
          "enumDescriptions": [
            "Unspecified HybridReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ],
          "enum": [
            "HYBRID_REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ],
          "type": "string",
          "description": "Optional. Replication Schedule for the replication created."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels to be added to the replication as the key value pairs.",
          "type": "object"
        },
        "largeVolumeConstituentCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Constituent volume count for large volume."
        },
        "peerIpAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of node ip addresses to be peered with."
        },
        "peerVolumeName": {
          "type": "string",
          "description": "Required. Name of the user's local source volume to be peered with the destination volume."
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the replication.",
          "type": "string"
        },
        "hybridReplicationType": {
          "enum": [
            "VOLUME_HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "New field for reversible OnPrem replication, to be used for data protection."
          ],
          "type": "string",
          "description": "Optional. Type of the hybrid replication."
        },
        "clusterLocation": {
          "type": "string",
          "description": "Optional. Name of source cluster location associated with the Hybrid replication. This is a free-form field for the display purpose only."
        },
        "peerSvmName": {
          "type": "string",
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm."
        },
        "replication": {
          "description": "Required. Desired name for the replication of this volume.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "HybridReplicationParameters",
      "description": "The Hybrid Replication parameters for the volume."
    },
    "ListBackupConfigsResponse": {
      "description": "Message for response to listing BackupConfigs in an ONTAP StoragePool.",
      "id": "ListBackupConfigsResponse",
      "properties": {
        "volumeBackupConfigs": {
          "items": {
            "$ref": "VolumeBackupConfig"
          },
          "description": "A list of backup configurations for volumes in the pool.",
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TransferStats": {
      "properties": {
        "lastTransferError": {
          "description": "A message describing the cause of the last transfer failure.",
          "type": "string"
        },
        "lagDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Lag duration indicates the duration by which Destination region volume content lags behind the primary region volume content."
        },
        "updateTime": {
          "description": "Time when progress was updated last.",
          "format": "google-datetime",
          "type": "string"
        },
        "lastTransferDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Time taken during last transfer."
        },
        "totalTransferDuration": {
          "description": "Cumulative time taken across all transfers for the replication relationship.",
          "type": "string",
          "format": "google-duration"
        },
        "transferBytes": {
          "format": "int64",
          "type": "string",
          "description": "Cumulative bytes transferred so far for the replication relationship."
        },
        "lastTransferEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when last transfer completed."
        },
        "lastTransferBytes": {
          "description": "Last transfer size in bytes.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "TransferStats",
      "type": "object",
      "description": "TransferStats reports all statistics related to replication transfer."
    },
    "RestoreParameters": {
      "properties": {
        "sourceSnapshot": {
          "type": "string",
          "description": "Full name of the snapshot resource. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}"
        },
        "sourceBackup": {
          "type": "string",
          "description": "Full name of the backup resource. Format for standard backup: projects/{project}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}. Format for BackupDR backup: projects/{project}/locations/{location}/backupVaults/{backup_vault}/dataSources/{data_source}/backups/{backup}"
        }
      },
      "type": "object",
      "id": "RestoreParameters",
      "description": "The RestoreParameters if volume is created from a snapshot or backup."
    },
    "ExecuteOntapPostResponse": {
      "description": "Response message for `ExecuteOntapPost` API.",
      "id": "ExecuteOntapPostResponse",
      "properties": {
        "body": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The raw `JSON` body of the response."
        }
      },
      "type": "object"
    },
    "UserCommands": {
      "description": "UserCommands contains the commands to be executed by the customer.",
      "type": "object",
      "id": "UserCommands",
      "properties": {
        "commands": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of commands to be executed by the customer."
        }
      }
    },
    "StoragePool": {
      "id": "StoragePool",
      "type": "object",
      "description": "StoragePool is a container for volumes with a service level and capacity. Volumes can be created in a pool of sufficient available capacity. StoragePool capacity is what you are billed for.",
      "properties": {
        "totalThroughputMibps": {
          "description": "Optional. Custom Performance Total Throughput of the pool (in MiBps)",
          "format": "int64",
          "type": "string"
        },
        "qosType": {
          "enum": [
            "QOS_TYPE_UNSPECIFIED",
            "AUTO",
            "MANUAL"
          ],
          "type": "string",
          "description": "Optional. QoS (Quality of Service) Type of the storage pool",
          "enumDescriptions": [
            "Unspecified QoS Type",
            "QoS Type is Auto",
            "QoS Type is Manual"
          ]
        },
        "hotTierSizeUsedGib": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the storage pool."
        },
        "encryptionType": {
          "description": "Output only. Specifies the current pool encryption key source.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ]
        },
        "activeDirectory": {
          "type": "string",
          "description": "Optional. Specifies the Active Directory to be used for creating a SMB volume."
        },
        "enableHotTierAutoResize": {
          "description": "Optional. Flag indicating that the hot-tier threshold will be auto-increased by 10% of the hot-tier when it hits 100%. Default is true. The increment will kick in only if the new size after increment is still less than or equal to storage pool size.",
          "type": "boolean"
        },
        "ldapEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating if the pool is NFS LDAP enabled or not."
        },
        "serviceLevel": {
          "type": "string",
          "description": "Required. Service level of the storage pool",
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ],
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ]
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the storage pool",
          "enumDescriptions": [
            "Unspecified Storage Pool State",
            "Storage Pool State is Ready",
            "Storage Pool State is Creating",
            "Storage Pool State is Deleting",
            "Storage Pool State is Updating",
            "Storage Pool State is Restoring",
            "Storage Pool State is Disabled",
            "Storage Pool State is Error"
          ]
        },
        "network": {
          "description": "Required. VPC Network name. Format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "psaRange": {
          "description": "Optional. This field is not implemented. The values provided in this field are ignored.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs"
        },
        "allowAutoTiering": {
          "type": "boolean",
          "description": "Optional. True if the storage pool supports Auto Tiering enabled volumes. Default is false. Auto-tiering can be enabled after storage pool creation but it can't be disabled once enabled."
        },
        "coldTierSizeUsedGib": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Total cold tier data rounded down to the nearest GiB used by the storage pool.",
          "format": "int64"
        },
        "volumeCapacityGib": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Allocated size of all volumes in GIB in the storage pool"
        },
        "zone": {
          "type": "string",
          "description": "Optional. Specifies the active zone for regional storagePool."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use"
        },
        "name": {
          "description": "Identifier. Name of the storage pool",
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use"
        },
        "globalAccessAllowed": {
          "type": "boolean",
          "deprecated": true,
          "description": "Deprecated. Used to allow SO pool to access AD or DNS server from other regions."
        },
        "totalIops": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Custom Performance Total IOPS of the pool if not provided, it will be calculated based on the total_throughput_mibps"
        },
        "type": {
          "enum": [
            "STORAGE_POOL_TYPE_UNSPECIFIED",
            "FILE",
            "UNIFIED"
          ],
          "enumDescriptions": [
            "Storage pool type is not specified.",
            "Storage pool type is file.",
            "Storage pool type is unified."
          ],
          "type": "string",
          "description": "Optional. Type of the storage pool. This field is used to control whether the pool supports `FILE` based volumes only or `UNIFIED` (both `FILE` and `BLOCK`) volumes. If not specified during creation, it defaults to `FILE`."
        },
        "hotTierSizeGib": {
          "format": "int64",
          "description": "Optional. Total hot tier capacity for the Storage Pool. It is applicable only to Flex service level. It should be less than the minimum storage pool size and cannot be more than the current storage pool size. It cannot be decreased once set.",
          "type": "string"
        },
        "replicaZone": {
          "type": "string",
          "description": "Optional. Specifies the replica zone for regional storagePool."
        },
        "capacityGib": {
          "format": "int64",
          "description": "Required. Capacity in GIB of the pool",
          "type": "string"
        },
        "kmsConfig": {
          "type": "string",
          "description": "Optional. Specifies the KMS config to be used for volume encryption."
        },
        "availableThroughputMibps": {
          "format": "double",
          "readOnly": true,
          "description": "Output only. Available throughput of the storage pool (in MiB/s).",
          "type": "number"
        },
        "customPerformanceEnabled": {
          "type": "boolean",
          "description": "Optional. True if using Independent Scaling of capacity and performance (Hyperdisk) By default set to false"
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. State details of the storage pool",
          "readOnly": true
        },
        "mode": {
          "enumDescriptions": [
            "The `Mode` is not specified.",
            "The resource is managed by the GCNV APIs.",
            "The resource is managed by the GCNV ONTAP Mode APIs."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "DEFAULT",
            "ONTAP"
          ],
          "description": "Optional. Mode of the storage pool. This field is used to control whether the user can perform ONTAP operations on the storage pool using the GCNV ONTAP Mode APIs. If not specified during creation, it defaults to `DEFAULT`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the storage pool",
          "type": "string"
        },
        "scaleType": {
          "enum": [
            "SCALE_TYPE_UNSPECIFIED",
            "SCALE_TYPE_DEFAULT",
            "SCALE_TYPE_SCALEOUT"
          ],
          "type": "string",
          "description": "Optional. The scale type of the storage pool. Defaults to `SCALE_TYPE_DEFAULT` if not specified.",
          "enumDescriptions": [
            "Unspecified scale type.",
            "Represents standard capacity and performance scale-type. Suitable for general purpose workloads.",
            "Represents higher capacity and performance scale-type. Suitable for more demanding workloads."
          ]
        },
        "volumeCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Volume count of the storage pool"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time of the storage pool",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BackupSource": {
      "type": "object",
      "id": "BackupSource",
      "description": "Represents the backup source of the restore operation.",
      "properties": {
        "fileList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of files to be restored in the form of their absolute path as in source volume. If provided, only these files will be restored. If not provided, the entire backup will be restored (Full Backup Restore)"
        },
        "backup": {
          "type": "string",
          "description": "Required. The backup resource name."
        }
      }
    },
    "TieringPolicy": {
      "description": "Defines tiering policy for the volume.",
      "id": "TieringPolicy",
      "type": "object",
      "properties": {
        "coolingThresholdDays": {
          "format": "int32",
          "description": "Optional. Time in days to mark the volume's data block as cold and make it eligible for tiering, can be range from 2-183. Default is 31.",
          "type": "integer"
        },
        "tierAction": {
          "description": "Optional. Flag indicating if the volume has tiering policy enable/pause. Default is PAUSED.",
          "enum": [
            "TIER_ACTION_UNSPECIFIED",
            "ENABLED",
            "PAUSED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "When tiering is enabled, new cold data will be tiered.",
            "When paused, tiering won't be performed on new data. Existing data stays tiered until accessed."
          ]
        },
        "hotTierBypassModeEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating that the hot tier bypass mode is enabled. Default is false. This is only applicable to Flex service level."
        }
      }
    },
    "SnapshotPolicy": {
      "properties": {
        "monthlySchedule": {
          "description": "Monthly schedule policy.",
          "$ref": "MonthlySchedule"
        },
        "enabled": {
          "description": "If enabled, make snapshots automatically according to the schedules. Default is false.",
          "type": "boolean"
        },
        "hourlySchedule": {
          "$ref": "HourlySchedule",
          "description": "Hourly schedule policy."
        },
        "weeklySchedule": {
          "description": "Weekly schedule policy.",
          "$ref": "WeeklySchedule"
        },
        "dailySchedule": {
          "$ref": "DailySchedule",
          "description": "Daily schedule policy."
        }
      },
      "id": "SnapshotPolicy",
      "type": "object",
      "description": "Snapshot Policy for a volume."
    },
    "CacheConfig": {
      "properties": {
        "writebackEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating whether writeback is enabled for the FlexCache volume."
        },
        "cifsChangeNotifyEnabled": {
          "description": "Optional. Flag indicating whether a CIFS change notification is enabled for the FlexCache volume.",
          "type": "boolean"
        },
        "cachePrePopulate": {
          "description": "Optional. Pre-populate cache volume with data from the origin volume.",
          "$ref": "CachePrePopulate"
        },
        "cachePrePopulateState": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified state.",
            "State representing when the most recent create or update request did not require a prepopulation job.",
            "State representing when the most recent update request requested a prepopulation job but it has not yet completed.",
            "State representing when the most recent update request requested a prepopulation job and it has completed successfully.",
            "State representing when the most recent update request requested a prepopulation job but the prepopulate job failed."
          ],
          "description": "Output only. State of the prepopulation job indicating how the prepopulation is progressing.",
          "enum": [
            "CACHE_PRE_POPULATE_STATE_UNSPECIFIED",
            "NOT_NEEDED",
            "IN_PROGRESS",
            "COMPLETE",
            "ERROR"
          ],
          "readOnly": true
        }
      },
      "id": "CacheConfig",
      "description": "Configuration of the cache volume.",
      "type": "object"
    },
    "CloneDetails": {
      "type": "object",
      "properties": {
        "sourceVolume": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full name of the source volume resource. Format: projects/{project}/locations/{location}/volumes/{volume}"
        },
        "splitState": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of the clone split operation.",
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ]
        },
        "sharedSpaceGib": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Shared space in GiB. Determined at volume creation time based on size of source snapshot.",
          "format": "int64"
        },
        "sourceSnapshot": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the full resource name of the source snapshot from which this volume was cloned. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}"
        }
      },
      "description": "Details about a clone volume.",
      "id": "CloneDetails"
    },
    "OntapVolumeTarget": {
      "type": "object",
      "properties": {
        "restoreDestinationPath": {
          "type": "string",
          "description": "Optional. Absolute directory path in the destination volume."
        },
        "volumeUuid": {
          "type": "string",
          "description": "Required. The UUID of the ONTAP volume to restore to."
        }
      },
      "id": "OntapVolumeTarget",
      "description": "Represents the ONTAP volume target of the restore operation."
    },
    "ListActiveDirectoriesResponse": {
      "description": "ListActiveDirectoriesResponse contains all the active directories requested.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "activeDirectories": {
          "description": "The list of active directories.",
          "type": "array",
          "items": {
            "$ref": "ActiveDirectory"
          }
        }
      },
      "type": "object",
      "id": "ListActiveDirectoriesResponse"
    },
    "VerifyKmsConfigResponse": {
      "description": "VerifyKmsConfigResponse contains the information if the config is correctly and error message.",
      "type": "object",
      "id": "VerifyKmsConfigResponse",
      "properties": {
        "instructions": {
          "description": "Output only. Instructions for the customers to provide the access to the encryption key.",
          "type": "string",
          "readOnly": true
        },
        "healthy": {
          "readOnly": true,
          "description": "Output only. If the customer key configured correctly to the encrypt volume.",
          "type": "boolean"
        },
        "healthError": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Error message if config is not healthy."
        }
      }
    },
    "ActiveDirectory": {
      "description": "ActiveDirectory is the public representation of the active directory config.",
      "type": "object",
      "properties": {
        "ldapSigning": {
          "type": "boolean",
          "description": "Specifies whether or not the LDAP traffic needs to be signed."
        },
        "site": {
          "type": "string",
          "description": "The Active Directory site the service will limit Domain Controller discovery too."
        },
        "description": {
          "description": "Description of the active directory.",
          "type": "string"
        },
        "stateDetails": {
          "description": "Output only. The state details of the Active Directory.",
          "readOnly": true,
          "type": "string"
        },
        "kdcHostname": {
          "type": "string",
          "description": "Name of the active directory machine. This optional parameter is used only while creating kerberos volume"
        },
        "password": {
          "description": "Required. Password of the Active Directory domain administrator.",
          "type": "string"
        },
        "backupOperators": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Users to be added to the Built-in Backup Operator active directory group."
        },
        "dns": {
          "description": "Required. Comma separated list of DNS server IP addresses for the Active Directory domain.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Required. Name of the Active Directory domain"
        },
        "administrators": {
          "description": "Optional. Users to be added to the Built-in Admininstrators group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "organizationalUnit": {
          "description": "The Organizational Unit (OU) within the Windows Active Directory the user belongs to.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Required. Username of the Active Directory domain administrator."
        },
        "createTime": {
          "description": "Output only. Create time of the active directory.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "encryptDcConnections": {
          "type": "boolean",
          "description": "If enabled, traffic between the SMB server to Domain Controller (DC) will be encrypted."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels for the active directory.",
          "type": "object"
        },
        "netBiosPrefix": {
          "description": "Required. NetBIOSPrefix is used as a prefix for SMB server name.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "IN_USE",
            "DELETING",
            "ERROR",
            "DIAGNOSING"
          ],
          "description": "Output only. The state of the AD.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified Active Directory State",
            "Active Directory State is Creating",
            "Active Directory State is Ready",
            "Active Directory State is Updating",
            "Active Directory State is In use",
            "Active Directory State is Deleting",
            "Active Directory State is Error",
            "Active Directory State is Diagnosing."
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`.",
          "type": "string"
        },
        "securityOperators": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Domain users to be given the SeSecurityPrivilege.",
          "type": "array"
        },
        "kdcIp": {
          "type": "string",
          "description": "KDC server IP address for the active directory machine."
        },
        "nfsUsersWithLdap": {
          "type": "boolean",
          "description": "If enabled, will allow access to local users and LDAP users. If access is needed for only LDAP users, it has to be disabled."
        },
        "aesEncryption": {
          "type": "boolean",
          "description": "If enabled, AES encryption will be enabled for SMB communication."
        }
      },
      "id": "ActiveDirectory"
    },
    "ListSnapshotsResponse": {
      "properties": {
        "snapshots": {
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array",
          "description": "A list of snapshots in the project for the specified volume."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "ListSnapshotsResponse is the result of ListSnapshotsRequest.",
      "type": "object",
      "id": "ListSnapshotsResponse"
    },
    "ExecuteOntapPatchRequest": {
      "type": "object",
      "description": "Request message for `ExecuteOntapPatch` API.",
      "id": "ExecuteOntapPatchRequest",
      "properties": {
        "body": {
          "type": "object",
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "ListReplicationsResponse": {
      "properties": {
        "replications": {
          "description": "A list of replications in the project for the specified volume.",
          "type": "array",
          "items": {
            "$ref": "Replication"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListReplicationsResponse",
      "description": "ListReplicationsResponse is the result of ListReplicationsRequest.",
      "type": "object"
    },
    "ExecuteOntapPostRequest": {
      "properties": {
        "body": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "type": "object"
        }
      },
      "type": "object",
      "description": "Request message for `ExecuteOntapPost` API.",
      "id": "ExecuteOntapPostRequest"
    },
    "OntapSource": {
      "description": "Represents ONTAP source details.",
      "id": "OntapSource",
      "properties": {
        "snapshotUuid": {
          "description": "Optional. The UUID of the ONTAP source snapshot.",
          "type": "string"
        },
        "storagePool": {
          "description": "Required. Name of the storage pool. This must be specified for creating backups for ONTAP mode volumes. Format: `projects/{projects_id}/locations/{location}/storagePools/{storage_pool_id}`",
          "type": "string"
        },
        "volumeUuid": {
          "type": "string",
          "description": "Required. The UUID of the ONTAP source volume."
        }
      },
      "type": "object"
    },
    "ValidateDirectoryServiceRequest": {
      "id": "ValidateDirectoryServiceRequest",
      "type": "object",
      "description": "ValidateDirectoryServiceRequest validates the directory service policy attached to the storage pool.",
      "properties": {
        "directoryServiceType": {
          "enumDescriptions": [
            "Directory service type is not specified.",
            "Active directory policy attached to the storage pool."
          ],
          "enum": [
            "DIRECTORY_SERVICE_TYPE_UNSPECIFIED",
            "ACTIVE_DIRECTORY"
          ],
          "type": "string",
          "description": "Type of directory service policy attached to the storage pool."
        }
      }
    },
    "ListBackupPoliciesResponse": {
      "properties": {
        "backupPolicies": {
          "items": {
            "$ref": "BackupPolicy"
          },
          "description": "The list of backup policies.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListBackupPoliciesResponse",
      "type": "object",
      "description": "ListBackupPoliciesResponse contains all the backup policies requested."
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
[...]
