{
  "ownerName": "Google",
  "basePath": "",
  "id": "netapp:v1",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "canonicalName": "NetApp Files",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/netapp/",
  "baseUrl": "https://netapp.googleapis.com/",
  "schemas": {
    "ExecuteOntapPatchResponse": {
      "id": "ExecuteOntapPatchResponse",
      "description": "Response message for `ExecuteOntapPatch` API.",
      "properties": {
        "body": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The raw `JSON` body of the response."
        }
      },
      "type": "object"
    },
    "Replication": {
      "type": "object",
      "properties": {
        "role": {
          "description": "Output only. Indicates whether this points to source or destination.",
          "enum": [
            "REPLICATION_ROLE_UNSPECIFIED",
            "SOURCE",
            "DESTINATION"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified replication role",
            "Indicates Source volume.",
            "Indicates Destination volume."
          ]
        },
        "transferStats": {
          "$ref": "TransferStats",
          "readOnly": true,
          "description": "Output only. Replication transfer statistics."
        },
        "destinationVolumeParameters": {
          "description": "Required. Input only. Destination volume parameters",
          "$ref": "DestinationVolumeParameters"
        },
        "hybridReplicationUserCommands": {
          "$ref": "UserCommands",
          "description": "Output only. Copy pastable snapmirror commands to be executed on onprem cluster by the customer.",
          "readOnly": true
        },
        "sourceVolume": {
          "type": "string",
          "description": "Output only. Full name of source volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "readOnly": true
        },
        "description": {
          "description": "A description about this replication relationship.",
          "type": "string"
        },
        "clusterLocation": {
          "description": "Optional. Location of the user cluster.",
          "type": "string"
        },
        "healthy": {
          "readOnly": true,
          "description": "Output only. Condition of the relationship. Can be one of the following: - true: The replication relationship is healthy. It has not missed the most recent scheduled transfer. - false: The replication relationship is not healthy. It has missed the most recent scheduled transfer.",
          "type": "boolean"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "ERROR",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PENDING_REMOTE_RESYNC",
            "EXTERNALLY_MANAGED_REPLICATION"
          ],
          "enumDescriptions": [
            "Unspecified replication State",
            "Replication is creating.",
            "Replication is ready.",
            "Replication is updating.",
            "Replication is deleting.",
            "Replication is in error state.",
            "Replication is waiting for cluster peering to be established.",
            "Replication is waiting for SVM peering to be established.",
            "Replication is waiting for Commands to be executed on Onprem ONTAP.",
            "Onprem ONTAP is destination and Replication can only be managed from Onprem."
          ],
          "description": "Output only. State of the replication.",
          "readOnly": true,
          "type": "string"
        },
        "mirrorState": {
          "description": "Output only. Indicates the state of mirroring.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified MirrorState",
            "Destination volume is being prepared.",
            "Destination volume has been initialized and is ready to receive replication transfers.",
            "Destination volume is not receiving replication transfers.",
            "Incremental replication is in progress.",
            "Baseline replication is in progress.",
            "Replication is aborted.",
            "Replication is being managed from Onprem ONTAP.",
            "Peering is yet to be established."
          ],
          "enum": [
            "MIRROR_STATE_UNSPECIFIED",
            "PREPARING",
            "MIRRORED",
            "STOPPED",
            "TRANSFERRING",
            "BASELINE_TRANSFERRING",
            "ABORTED",
            "EXTERNALLY_MANAGED",
            "PENDING_PEERING"
          ]
        },
        "replicationSchedule": {
          "enum": [
            "REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "Unspecified ReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ],
          "description": "Required. Indicates the schedule for replication.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata."
        },
        "hybridReplicationType": {
          "description": "Output only. Type of the hybrid replication.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "Hybrid replication type for incremental Transfer in the reverse direction (GCNV is source and Onprem is destination)"
          ],
          "type": "string",
          "enum": [
            "HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ]
        },
        "hybridPeeringDetails": {
          "description": "Output only. Hybrid peering details.",
          "readOnly": true,
          "$ref": "HybridPeeringDetails"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`."
        },
        "destinationVolume": {
          "readOnly": true,
          "description": "Output only. Full name of destination volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Replication create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State details of the replication."
        }
      },
      "description": "Replication is a nested resource under Volume, that describes a cross-region replication relationship between 2 volumes in different regions.",
      "id": "Replication"
    },
    "SyncReplicationRequest": {
      "properties": {},
      "id": "SyncReplicationRequest",
      "description": "SyncReplicationRequest syncs the replication from source to destination.",
      "type": "object"
    },
    "HostGroup": {
      "type": "object",
      "id": "HostGroup",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels of the host group."
        },
        "type": {
          "description": "Required. Type of the host group.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ISCSI_INITIATOR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type for host group.",
            "iSCSI initiator host group."
          ]
        },
        "state": {
          "description": "Output only. State of the host group.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state for host group.",
            "Host group is creating.",
            "Host group is ready.",
            "Host group is updating.",
            "Host group is deleting.",
            "Host group is disabled."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DISABLED"
          ]
        },
        "hosts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of hosts associated with the host group."
        },
        "osType": {
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "type": "string",
          "description": "Required. The OS type of the host group. It indicates the type of operating system used by all of the hosts in the HostGroup. All hosts in a HostGroup must be of the same OS type. This can be set only when creating a HostGroup.",
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ]
        },
        "description": {
          "description": "Optional. Description of the host group.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create time of the host group.",
          "format": "google-datetime"
        }
      },
      "description": "Host group is a collection of hosts that can be used for accessing a Block Volume."
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "properties": {
        "supportedServiceLevels": {
          "items": {
            "enumDescriptions": [
              "Unspecified service level.",
              "Premium service level.",
              "Extreme service level.",
              "Standard service level.",
              "Flex service level."
            ],
            "enum": [
              "SERVICE_LEVEL_UNSPECIFIED",
              "PREMIUM",
              "EXTREME",
              "STANDARD",
              "FLEX"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Supported service levels in a location.",
          "readOnly": true
        },
        "hasOntapProxy": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates if the location has ONTAP Proxy support."
        },
        "hasVcp": {
          "type": "boolean",
          "description": "Output only. Indicates if the location has VCP support.",
          "readOnly": true
        },
        "flexPerformanceTier": {
          "enum": [
            "FLEX_PERFORMANCE_TIER_UNSPECIFIED",
            "LIMITED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Indicates the flex performance tier of this location.",
          "enumDescriptions": [
            "Unspecified flex performance tier.",
            "Flex performance tier is limited."
          ]
        },
        "supportedFlexPerformance": {
          "readOnly": true,
          "items": {
            "enum": [
              "FLEX_PERFORMANCE_UNSPECIFIED",
              "FLEX_PERFORMANCE_DEFAULT",
              "FLEX_PERFORMANCE_CUSTOM"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified flex performance.",
              "Flex Storage Pool with default performance.",
              "Flex Storage Pool with custom performance."
            ]
          },
          "description": "Output only. Supported flex performance in a location.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Metadata for a given google.cloud.location.Location."
    },
    "WeeklySchedule": {
      "id": "WeeklySchedule",
      "description": "Make a snapshot every week e.g. at Monday 04:00, Wednesday 05:20, Sunday 23:50",
      "properties": {
        "minute": {
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number",
          "format": "double"
        },
        "hour": {
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number",
          "format": "double"
        },
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "format": "double",
          "type": "number"
        },
        "day": {
          "type": "string",
          "description": "Set the day or days of the week to make a snapshot. Accepts a comma separated days of the week. Defaults to 'Sunday'."
        }
      },
      "type": "object"
    },
    "ExecuteOntapPostResponse": {
      "id": "ExecuteOntapPostResponse",
      "properties": {
        "body": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The raw `JSON` body of the response.",
          "type": "object"
        }
      },
      "description": "Response message for `ExecuteOntapPost` API.",
      "type": "object"
    },
    "ListBackupsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backups": {
          "type": "array",
          "items": {
            "$ref": "Backup"
          },
          "description": "A list of backups in the project."
        }
      },
      "id": "ListBackupsResponse",
      "description": "ListBackupsResponse is the result of ListBackupsRequest.",
      "type": "object"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "BackupPolicy": {
      "id": "BackupPolicy",
      "properties": {
        "state": {
          "description": "Output only. The backup policy state.",
          "enumDescriptions": [
            "State not set.",
            "BackupPolicy is being created.",
            "BackupPolicy is available for use.",
            "BackupPolicy is being deleted.",
            "BackupPolicy is not valid and cannot be used.",
            "BackupPolicy is being updated."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ]
        },
        "weeklyBackupLimit": {
          "description": "Number of weekly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "format": "int32",
          "type": "integer"
        },
        "dailyBackupLimit": {
          "format": "int32",
          "description": "Number of daily backups to keep. Note that the minimum daily backup limit is 2.",
          "type": "integer"
        },
        "name": {
          "description": "Identifier. The resource name of the backup policy. Format: `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`.",
          "type": "string"
        },
        "assignedVolumeCount": {
          "readOnly": true,
          "description": "Output only. The total number of volumes assigned by this backup policy.",
          "format": "int32",
          "type": "integer"
        },
        "enabled": {
          "description": "If enabled, make backups automatically according to the schedules. This will be applied to all volumes that have this policy attached and enforced on volume level. If not specified, default is true.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Description of the backup policy."
        },
        "monthlyBackupLimit": {
          "format": "int32",
          "type": "integer",
          "description": "Number of monthly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1."
        },
        "labels": {
          "type": "object",
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the backup policy was created.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Backup Policy."
    },
    "DestinationVolumeParameters": {
      "id": "DestinationVolumeParameters",
      "type": "object",
      "properties": {
        "shareName": {
          "type": "string",
          "description": "Destination volume's share name. If not specified, source volume's share name will be used."
        },
        "storagePool": {
          "type": "string",
          "description": "Required. Existing destination StoragePool name."
        },
        "volumeId": {
          "description": "Desired destination volume resource id. If not specified, source volume's resource id will be used. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
          "type": "string"
        },
        "tieringPolicy": {
          "description": "Optional. Tiering policy for the volume.",
          "$ref": "TieringPolicy"
        },
        "description": {
          "description": "Description for the destination volume.",
          "type": "string"
        }
      },
      "description": "DestinationVolumeParameters specify input parameters used for creating destination volume."
    },
    "ListVolumesResponse": {
      "id": "ListVolumesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "volumes": {
          "type": "array",
          "description": "The list of Volume",
          "items": {
            "$ref": "Volume"
          }
        }
      },
      "description": "Message for response to listing Volumes"
    },
    "MountOption": {
      "type": "object",
      "description": "View only mount options for a volume.",
      "id": "MountOption",
      "properties": {
        "exportFull": {
          "type": "string",
          "description": "Full export string"
        },
        "ipAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. IP Address."
        },
        "protocol": {
          "enum": [
            "PROTOCOLS_UNSPECIFIED",
            "NFSV3",
            "NFSV4",
            "SMB",
            "ISCSI",
            "NVME"
          ],
          "enumDescriptions": [
            "Unspecified protocol",
            "NFS V3 protocol",
            "NFS V4 protocol",
            "SMB protocol",
            "ISCSI protocol",
            "NVMe protocol"
          ],
          "description": "Protocol to mount with.",
          "type": "string"
        },
        "instructions": {
          "type": "string",
          "description": "Instructions for mounting"
        },
        "export": {
          "description": "Export string",
          "type": "string"
        }
      }
    },
    "StartSplitRequest": {
      "type": "object",
      "id": "StartSplitRequest",
      "description": "Request message for splitting a volume.",
      "properties": {}
    },
    "ExportPolicy": {
      "type": "object",
      "description": "Defines the export policy for the volume.",
      "properties": {
        "rules": {
          "items": {
            "$ref": "SimpleExportPolicyRule"
          },
          "description": "Required. List of export policy rules",
          "type": "array"
        }
      },
      "id": "ExportPolicy"
    },
    "ExecuteOntapDeleteResponse": {
      "properties": {
        "body": {
          "type": "object",
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "ExecuteOntapDeleteResponse",
      "description": "Response message for `ExecuteOntapDelete` API.",
      "type": "object"
    },
    "StoragePool": {
      "type": "object",
      "properties": {
        "scaleType": {
          "enumDescriptions": [
            "Unspecified scale type.",
            "Represents standard capacity and performance scale-type. Suitable for general purpose workloads.",
            "Represents higher capacity and performance scale-type. Suitable for more demanding workloads."
          ],
          "type": "string",
          "description": "Optional. The scale type of the storage pool. Defaults to `SCALE_TYPE_DEFAULT` if not specified.",
          "enum": [
            "SCALE_TYPE_UNSPECIFIED",
            "SCALE_TYPE_DEFAULT",
            "SCALE_TYPE_SCALEOUT"
          ]
        },
        "network": {
          "description": "Required. VPC Network name. Format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "availableThroughputMibps": {
          "description": "Output only. Available throughput of the storage pool (in MiB/s).",
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the storage pool"
        },
        "encryptionType": {
          "description": "Output only. Specifies the current pool encryption key source.",
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ],
          "type": "string",
          "readOnly": true
        },
        "kmsConfig": {
          "description": "Optional. Specifies the KMS config to be used for volume encryption.",
          "type": "string"
        },
        "volumeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Volume count of the storage pool",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Create time of the storage pool",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs"
        },
        "hotTierSizeGib": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Total hot tier capacity for the Storage Pool. It is applicable only to Flex service level. It should be less than the minimum storage pool size and cannot be more than the current storage pool size. It cannot be decreased once set."
        },
        "customPerformanceEnabled": {
          "type": "boolean",
          "description": "Optional. True if using Independent Scaling of capacity and performance (Hyperdisk) By default set to false"
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. State details of the storage pool",
          "readOnly": true
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use"
        },
        "state": {
          "description": "Output only. State of the storage pool",
          "type": "string",
          "enumDescriptions": [
            "Unspecified Storage Pool State",
            "Storage Pool State is Ready",
            "Storage Pool State is Creating",
            "Storage Pool State is Deleting",
            "Storage Pool State is Updating",
            "Storage Pool State is Restoring",
            "Storage Pool State is Disabled",
            "Storage Pool State is Error"
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR"
          ]
        },
        "allowAutoTiering": {
          "description": "Optional. True if the storage pool supports Auto Tiering enabled volumes. Default is false. Auto-tiering can be enabled after storage pool creation but it can't be disabled once enabled.",
          "type": "boolean"
        },
        "capacityGib": {
          "type": "string",
          "format": "int64",
          "description": "Required. Capacity in GIB of the pool"
        },
        "enableHotTierAutoResize": {
          "type": "boolean",
          "description": "Optional. Flag indicating that the hot-tier threshold will be auto-increased by 10% of the hot-tier when it hits 100%. Default is true. The increment will kick in only if the new size after increment is still less than or equal to storage pool size."
        },
        "coldTierSizeUsedGib": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Total cold tier data rounded down to the nearest GiB used by the storage pool.",
          "readOnly": true
        },
        "activeDirectory": {
          "description": "Optional. Specifies the Active Directory to be used for creating a SMB volume.",
          "type": "string"
        },
        "qosType": {
          "type": "string",
          "description": "Optional. QoS (Quality of Service) Type of the storage pool",
          "enumDescriptions": [
            "Unspecified QoS Type",
            "QoS Type is Auto",
            "QoS Type is Manual"
          ],
          "enum": [
            "QOS_TYPE_UNSPECIFIED",
            "AUTO",
            "MANUAL"
          ]
        },
        "ldapEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating if the pool is NFS LDAP enabled or not."
        },
        "totalThroughputMibps": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Custom Performance Total Throughput of the pool (in MiBps)"
        },
        "zone": {
          "description": "Optional. Specifies the active zone for regional storagePool.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Optional. Type of the storage pool. This field is used to control whether the pool supports `FILE` based volumes only or `UNIFIED` (both `FILE` and `BLOCK`) volumes. If not specified during creation, it defaults to `FILE`.",
          "enumDescriptions": [
            "Storage pool type is not specified.",
            "Storage pool type is file.",
            "Storage pool type is unified."
          ],
          "enum": [
            "STORAGE_POOL_TYPE_UNSPECIFIED",
            "FILE",
            "UNIFIED"
          ]
        },
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "DEFAULT",
            "ONTAP"
          ],
          "enumDescriptions": [
            "The `Mode` is not specified.",
            "The resource is managed by the GCNV APIs.",
            "The resource is managed by the GCNV ONTAP Mode APIs."
          ],
          "type": "string",
          "description": "Optional. Mode of the storage pool. This field is used to control whether the user can perform ONTAP operations on the storage pool using the GCNV ONTAP Mode APIs. If not specified during creation, it defaults to `DEFAULT`."
        },
        "totalIops": {
          "description": "Optional. Custom Performance Total IOPS of the pool if not provided, it will be calculated based on the total_throughput_mibps",
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the storage pool"
        },
        "volumeCapacityGib": {
          "description": "Output only. Allocated size of all volumes in GIB in the storage pool",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "psaRange": {
          "type": "string",
          "description": "Optional. This field is not implemented. The values provided in this field are ignored."
        },
        "hotTierSizeUsedGib": {
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the storage pool.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "replicaZone": {
          "type": "string",
          "description": "Optional. Specifies the replica zone for regional storagePool."
        },
        "serviceLevel": {
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ],
          "type": "string",
          "description": "Required. Service level of the storage pool",
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ]
        },
        "globalAccessAllowed": {
          "type": "boolean",
          "deprecated": true,
          "description": "Deprecated. Used to allow SO pool to access AD or DNS server from other regions."
        }
      },
      "id": "StoragePool",
      "description": "StoragePool is a container for volumes with a service level and capacity. Volumes can be created in a pool of sufficient available capacity. StoragePool capacity is what you are billed for."
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "type": "object"
    },
    "RestoreBackupFilesRequest": {
      "properties": {
        "fileList": {
          "description": "Required. List of files to be restored, specified by their absolute path in the source volume.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backup": {
          "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`",
          "type": "string"
        },
        "restoreDestinationPath": {
          "type": "string",
          "description": "Optional. Absolute directory path in the destination volume. This is required if the `file_list` is provided."
        }
      },
      "type": "object",
      "id": "RestoreBackupFilesRequest",
      "description": "RestoreBackupFilesRequest restores files from a backup to a volume."
    },
    "CacheConfig": {
      "properties": {
        "cachePrePopulate": {
          "description": "Optional. Pre-populate cache volume with data from the origin volume.",
          "$ref": "CachePrePopulate"
        },
        "writebackEnabled": {
          "description": "Optional. Flag indicating whether writeback is enabled for the FlexCache volume.",
          "type": "boolean"
        },
        "cachePrePopulateState": {
          "enum": [
            "CACHE_PRE_POPULATE_STATE_UNSPECIFIED",
            "NOT_NEEDED",
            "IN_PROGRESS",
            "COMPLETE",
            "ERROR"
          ],
          "type": "string",
          "description": "Output only. State of the prepopulation job indicating how the prepopulation is progressing.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified state.",
            "State representing when the most recent create or update request did not require a prepopulation job.",
            "State representing when the most recent update request requested a prepopulation job but it has not yet completed.",
            "State representing when the most recent update request requested a prepopulation job and it has completed successfully.",
            "State representing when the most recent update request requested a prepopulation job but the prepopulate job failed."
          ]
        },
        "cifsChangeNotifyEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating whether a CIFS change notification is enabled for the FlexCache volume."
        }
      },
      "id": "CacheConfig",
      "description": "Configuration of the cache volume.",
      "type": "object"
    },
    "HybridPeeringDetails": {
      "type": "object",
      "description": "HybridPeeringDetails contains details about the hybrid peering.",
      "properties": {
        "peerSvmName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the user's local source vserver svm to be peered with the destination vserver svm."
        },
        "subnetIp": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. IP address of the subnet."
        },
        "commandExpiryTime": {
          "description": "Output only. Expiration time for the peering command to be executed on user's ONTAP.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "command": {
          "readOnly": true,
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "type": "string"
        },
        "passphrase": {
          "description": "Output only. Temporary passphrase generated to accept cluster peering command.",
          "type": "string",
          "readOnly": true
        },
        "peerVolumeName": {
          "description": "Output only. Name of the user's local source volume to be peered with the destination volume.",
          "readOnly": true,
          "type": "string"
        },
        "peerClusterName": {
          "description": "Output only. Name of the user's local source cluster to be peered with the destination cluster.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "HybridPeeringDetails"
    },
    "TieringPolicy": {
      "description": "Defines tiering policy for the volume.",
      "properties": {
        "hotTierBypassModeEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating that the hot tier bypass mode is enabled. Default is false. This is only applicable to Flex service level."
        },
        "tierAction": {
          "enum": [
            "TIER_ACTION_UNSPECIFIED",
            "ENABLED",
            "PAUSED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "When tiering is enabled, new cold data will be tiered.",
            "When paused, tiering won't be performed on new data. Existing data stays tiered until accessed."
          ],
          "description": "Optional. Flag indicating if the volume has tiering policy enable/pause. Default is PAUSED.",
          "type": "string"
        },
        "coolingThresholdDays": {
          "type": "integer",
          "description": "Optional. Time in days to mark the volume's data block as cold and make it eligible for tiering, can be range from 2-183. Default is 31.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "TieringPolicy"
    },
    "ListActiveDirectoriesResponse": {
      "type": "object",
      "description": "ListActiveDirectoriesResponse contains all the active directories requested.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "activeDirectories": {
          "items": {
            "$ref": "ActiveDirectory"
          },
          "description": "The list of active directories.",
          "type": "array"
        }
      },
      "id": "ListActiveDirectoriesResponse"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "Volume": {
      "description": "Volume provides a filesystem that you can mount.",
      "id": "Volume",
      "type": "object",
      "properties": {
        "snapshotDirectory": {
          "description": "Optional. Snapshot_directory if enabled (true) the volume will contain a read-only .snapshot directory which provides access to each of the volume's snapshots.",
          "type": "boolean"
        },
        "protocols": {
          "description": "Required. Protocols required for the volume",
          "items": {
            "enumDescriptions": [
              "Unspecified protocol",
              "NFS V3 protocol",
              "NFS V4 protocol",
              "SMB protocol",
              "ISCSI protocol",
              "NVMe protocol"
            ],
            "type": "string",
            "enum": [
              "PROTOCOLS_UNSPECIFIED",
              "NFSV3",
              "NFSV4",
              "SMB",
              "ISCSI",
              "NVME"
            ]
          },
          "type": "array"
        },
        "ldapEnabled": {
          "description": "Output only. Flag indicating if the volume is NFS LDAP enabled or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "restrictedActions": {
          "type": "array",
          "description": "Optional. List of actions that are restricted on this volume.",
          "items": {
            "type": "string",
            "enum": [
              "RESTRICTED_ACTION_UNSPECIFIED",
              "DELETE"
            ],
            "enumDescriptions": [
              "Unspecified restricted action",
              "Prevent volume from being deleted when mounted."
            ]
          }
        },
        "hotTierSizeUsedGib": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the Volume. This field is only used for flex Service Level"
        },
        "throughputMibps": {
          "description": "Optional. Throughput of the volume (in MiB/s)",
          "format": "double",
          "type": "number"
        },
        "snapshotPolicy": {
          "description": "Optional. SnapshotPolicy for a volume.",
          "$ref": "SnapshotPolicy"
        },
        "hasReplication": {
          "description": "Output only. Indicates whether the volume is part of a replication relationship.",
          "readOnly": true,
          "type": "boolean"
        },
        "cloneDetails": {
          "description": "Output only. If this volume is a clone, this field contains details about the clone.",
          "readOnly": true,
          "$ref": "CloneDetails"
        },
        "capacityGib": {
          "description": "Required. Capacity in GIB of the volume",
          "format": "int64",
          "type": "string"
        },
        "largeCapacityConfig": {
          "description": "Optional. Large capacity config for the volume. Enables and configures large capacity for volumes in Unified pools with File protocols. Not applicable for Block protocols in Unified pools. This field and the legacy `large_capacity` boolean field are mutually exclusive.",
          "$ref": "LargeCapacityConfig"
        },
        "securityStyle": {
          "enumDescriptions": [
            "SecurityStyle is unspecified",
            "SecurityStyle uses NTFS",
            "SecurityStyle uses UNIX"
          ],
          "type": "string",
          "enum": [
            "SECURITY_STYLE_UNSPECIFIED",
            "NTFS",
            "UNIX"
          ],
          "description": "Optional. Security Style of the Volume"
        },
        "exportPolicy": {
          "description": "Optional. Export policy of the volume",
          "$ref": "ExportPolicy"
        },
        "storagePool": {
          "type": "string",
          "description": "Required. StoragePool name of the volume"
        },
        "tieringPolicy": {
          "description": "Tiering policy for the volume.",
          "$ref": "TieringPolicy"
        },
        "shareName": {
          "type": "string",
          "description": "Required. Share name of the volume"
        },
        "restoreParameters": {
          "$ref": "RestoreParameters",
          "description": "Optional. Specifies the source of the volume to be created from."
        },
        "replicaZone": {
          "description": "Output only. Specifies the replica zone for regional volume.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the volume",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR",
            "PREPARING",
            "READ_ONLY"
          ],
          "enumDescriptions": [
            "Unspecified Volume State",
            "Volume State is Ready",
            "Volume State is Creating",
            "Volume State is Deleting",
            "Volume State is Updating",
            "Volume State is Restoring",
            "Volume State is Disabled",
            "Volume State is Error",
            "Volume State is Preparing. Note that this is different from CREATING where CREATING means the volume is being created, while PREPARING means the volume is created and now being prepared for the replication.",
            "Volume State is Read Only"
          ],
          "type": "string"
        },
        "network": {
          "description": "Output only. VPC Network name. Format: projects/{project}/global/networks/{network}",
          "readOnly": true,
          "type": "string"
        },
        "largeCapacity": {
          "description": "Optional. Flag indicating if the volume will be a large capacity volume or a regular volume. This field is used for legacy FILE pools. For Unified pools, use the `large_capacity_config` field instead. This field and `large_capacity_config` are mutually exclusive.",
          "type": "boolean"
        },
        "activeDirectory": {
          "description": "Output only. Specifies the ActiveDirectory name of a SMB volume.",
          "readOnly": true,
          "type": "string"
        },
        "unixPermissions": {
          "description": "Optional. Default unix style permission (e.g. 777) the mount point will be created with. Applicable for NFS protocol types only.",
          "type": "string"
        },
        "mountOptions": {
          "items": {
            "$ref": "MountOption"
          },
          "readOnly": true,
          "description": "Output only. Mount options of this volume",
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Create time of the volume"
        },
        "zone": {
          "description": "Output only. Specifies the active zone for regional volume.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the volume",
          "type": "string"
        },
        "hybridReplicationParameters": {
          "$ref": "HybridReplicationParameters",
          "description": "Optional. The Hybrid Replication parameters for the volume."
        },
        "kerberosEnabled": {
          "description": "Optional. Flag indicating if the volume is a kerberos volume or not, export policy rules control kerberos security modes (krb5, krb5i, krb5p).",
          "type": "boolean"
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State details of the volume"
        },
        "blockDevices": {
          "description": "Optional. Block devices for the volume. Currently, only one block device is permitted per Volume.",
          "items": {
            "$ref": "BlockDevice"
          },
          "type": "array"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs"
        },
        "usedGib": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Used capacity in GIB of the volume. This is computed periodically and it does not represent the realtime usage."
        },
        "name": {
          "description": "Identifier. Name of the volume",
          "type": "string"
        },
        "multipleEndpoints": {
          "description": "Optional. Flag indicating if the volume will have an IP address per node for volumes supporting multiple IP endpoints. Only the volume with large_capacity will be allowed to have multiple endpoints.",
          "type": "boolean"
        },
        "cacheParameters": {
          "description": "Optional. Cache parameters for the volume.",
          "$ref": "CacheParameters"
        },
        "snapReserve": {
          "description": "Optional. Snap_reserve specifies percentage of volume storage reserved for snapshot storage. Default is 0 percent.",
          "format": "double",
          "type": "number"
        },
        "kmsConfig": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the KMS config to be used for volume encryption."
        },
        "encryptionType": {
          "type": "string",
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ],
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "description": "Output only. Specified the current volume encryption key source.",
          "readOnly": true
        },
        "backupConfig": {
          "description": "BackupConfig of the volume.",
          "$ref": "BackupConfig"
        },
        "coldTierSizeGib": {
          "type": "string",
          "description": "Output only. Size of the volume cold tier data rounded down to the nearest GiB.",
          "readOnly": true,
          "format": "int64"
        },
        "serviceLevel": {
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ],
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ],
          "description": "Output only. Service level of the volume",
          "type": "string",
          "readOnly": true
        },
        "psaRange": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This field is not implemented. The values provided in this field are ignored."
        },
        "smbSettings": {
          "items": {
            "enum": [
              "SMB_SETTINGS_UNSPECIFIED",
              "ENCRYPT_DATA",
              "BROWSABLE",
              "CHANGE_NOTIFY",
              "NON_BROWSABLE",
              "OPLOCKS",
              "SHOW_SNAPSHOT",
              "SHOW_PREVIOUS_VERSIONS",
              "ACCESS_BASED_ENUMERATION",
              "CONTINUOUSLY_AVAILABLE"
            ],
            "enumDescriptions": [
              "Unspecified default option",
              "SMB setting encrypt data",
              "SMB setting browsable",
              "SMB setting notify change",
              "SMB setting not to notify change",
              "SMB setting oplocks",
              "SMB setting to show snapshots",
              "SMB setting to show previous versions",
              "SMB setting to access volume based on enumerartion",
              "Continuously available enumeration"
            ],
            "type": "string"
          },
          "description": "Optional. SMB share settings for the volume.",
          "type": "array"
        }
      }
    },
    "ListHostGroupsResponse": {
      "type": "object",
      "description": "ListHostGroupsResponse is the response to a ListHostGroupsRequest.",
      "id": "ListHostGroupsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "hostGroups": {
          "description": "The list of host groups.",
          "type": "array",
          "items": {
            "$ref": "HostGroup"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "RestoreVolumeRequest": {
      "properties": {
        "ontapVolumeTarget": {
          "description": "The ONTAP volume target of the restore operation.",
          "$ref": "OntapVolumeTarget"
        },
        "backupSource": {
          "$ref": "BackupSource",
          "description": "The backup source of the restore operation."
        }
      },
      "description": "Request message for `RestoreVolume` API.",
      "type": "object",
      "id": "RestoreVolumeRequest"
    },
    "CacheParameters": {
      "description": "Cache Parameters for the volume.",
      "properties": {
        "peerClusterName": {
          "description": "Required. Name of the origin volume's ONTAP cluster.",
          "type": "string"
        },
        "stateDetails": {
          "readOnly": true,
          "description": "Output only. Detailed description of the current cache state.",
          "type": "string"
        },
        "cacheState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "CACHE_STATE_UNSPECIFIED",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PEERED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Default unspecified state.",
            "State indicating waiting for cluster peering to be established.",
            "State indicating waiting for SVM peering to be established.",
            "State indicating successful establishment of peering with origin volumes's ONTAP cluster.",
            "Terminal state wherein peering with origin volume's ONTAP cluster has failed."
          ],
          "description": "Output only. State of the cache volume indicating the peering status."
        },
        "peerSvmName": {
          "description": "Required. Name of the origin volume's SVM.",
          "type": "string"
        },
        "enableGlobalFileLock": {
          "type": "boolean",
          "description": "Optional. Indicates whether the cache volume has global file lock enabled."
        },
        "command": {
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "type": "string",
          "readOnly": true
        },
        "peerVolumeName": {
          "description": "Required. Name of the origin volume for the cache volume.",
          "type": "string"
        },
        "peeringCommandExpiryTime": {
          "description": "Optional. Expiration time for the peering command to be executed on user's ONTAP.",
          "type": "string",
          "format": "google-datetime"
        },
        "cacheConfig": {
          "$ref": "CacheConfig",
          "description": "Optional. Configuration of the cache volume."
        },
        "peerIpAddresses": {
          "description": "Required. List of IC LIF addresses of the origin volume's ONTAP cluster.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "passphrase": {
          "description": "Output only. Temporary passphrase generated to accept cluster peering command.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "CacheParameters"
    },
    "ListStoragePoolsResponse": {
      "description": "ListStoragePoolsResponse is the response to a ListStoragePoolsRequest.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storagePools": {
          "items": {
            "$ref": "StoragePool"
          },
          "description": "The list of StoragePools",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListStoragePoolsResponse"
    },
    "ListQuotaRulesResponse": {
      "type": "object",
      "description": "ListQuotaRulesResponse is the response to a ListQuotaRulesRequest.",
      "id": "ListQuotaRulesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "quotaRules": {
          "description": "List of quota rules",
          "items": {
            "$ref": "QuotaRule"
          },
          "type": "array"
        }
      }
    },
    "ListSnapshotsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "snapshots": {
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array",
          "description": "A list of snapshots in the project for the specified volume."
        }
      },
      "id": "ListSnapshotsResponse",
      "description": "ListSnapshotsResponse is the result of ListSnapshotsRequest.",
      "type": "object"
    },
    "RestoreParameters": {
      "properties": {
        "sourceBackup": {
          "description": "Full name of the backup resource. Format for standard backup: projects/{project}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}. Format for BackupDR backup: projects/{project}/locations/{location}/backupVaults/{backup_vault}/dataSources/{data_source}/backups/{backup}",
          "type": "string"
        },
        "sourceSnapshot": {
          "description": "Full name of the snapshot resource. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The RestoreParameters if volume is created from a snapshot or backup.",
      "id": "RestoreParameters"
    },
    "ListBackupVaultsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "backupVaults": {
          "description": "A list of backupVaults in the project for the specified location.",
          "items": {
            "$ref": "BackupVault"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "ListBackupVaultsResponse is the result of ListBackupVaultsRequest.",
      "id": "ListBackupVaultsResponse"
    },
    "BackupConfig": {
      "type": "object",
      "id": "BackupConfig",
      "description": "BackupConfig contains backup related config on a volume.",
      "properties": {
        "backupPolicies": {
          "type": "array",
          "description": "Optional. When specified, schedule backups will be created based on the policy configuration.",
          "items": {
            "type": "string"
          }
        },
        "backupChainBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)."
        },
        "scheduledBackupEnabled": {
          "description": "Optional. When set to true, scheduled backup is enabled on the volume. This field should be nil when there's no backup policy attached.",
          "type": "boolean"
        },
        "backupVault": {
          "description": "Optional. Name of backup vault. Format: projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}",
          "type": "string"
        }
      }
    },
    "UserCommands": {
      "description": "UserCommands contains the commands to be executed by the customer.",
      "type": "object",
      "properties": {
        "commands": {
          "description": "Output only. List of commands to be executed by the customer.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "UserCommands"
    },
    "EstablishVolumePeeringRequest": {
      "description": "EstablishVolumePeeringRequest establishes cluster and svm peerings between the source and destination clusters.",
      "type": "object",
      "properties": {
        "peerSvmName": {
          "type": "string",
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm."
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "peerIpAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of IPv4 IP addresses to be used for peering."
        }
      },
      "id": "EstablishVolumePeeringRequest"
    },
    "ReverseReplicationDirectionRequest": {
      "id": "ReverseReplicationDirectionRequest",
      "type": "object",
      "properties": {},
      "description": "ReverseReplicationDirectionRequest reverses direction of replication. Source becomes destination and destination becomes source."
    },
    "ExecuteOntapGetResponse": {
      "description": "Response message for `ExecuteOntapGet` API.",
      "properties": {
        "body": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The raw `JSON` body of the response."
        }
      },
      "id": "ExecuteOntapGetResponse",
      "type": "object"
    },
    "ActiveDirectory": {
      "id": "ActiveDirectory",
      "type": "object",
      "description": "ActiveDirectory is the public representation of the active directory config.",
      "properties": {
        "site": {
          "type": "string",
          "description": "The Active Directory site the service will limit Domain Controller discovery too."
        },
        "administrators": {
          "description": "Optional. Users to be added to the Built-in Admininstrators group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kdcIp": {
          "type": "string",
          "description": "KDC server IP address for the active directory machine."
        },
        "dns": {
          "type": "string",
          "description": "Required. Comma separated list of DNS server IP addresses for the Active Directory domain."
        },
        "labels": {
          "description": "Labels for the active directory.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "domain": {
          "type": "string",
          "description": "Required. Name of the Active Directory domain"
        },
        "aesEncryption": {
          "description": "If enabled, AES encryption will be enabled for SMB communication.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`.",
          "type": "string"
        },
        "stateDetails": {
          "readOnly": true,
          "description": "Output only. The state details of the Active Directory.",
          "type": "string"
        },
        "backupOperators": {
          "type": "array",
          "description": "Optional. Users to be added to the Built-in Backup Operator active directory group.",
          "items": {
            "type": "string"
          }
        },
        "password": {
          "type": "string",
          "description": "Required. Password of the Active Directory domain administrator."
        },
        "nfsUsersWithLdap": {
          "type": "boolean",
          "description": "If enabled, will allow access to local users and LDAP users. If access is needed for only LDAP users, it has to be disabled."
        },
        "description": {
          "description": "Description of the active directory.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create time of the active directory.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the AD.",
          "enumDescriptions": [
            "Unspecified Active Directory State",
            "Active Directory State is Creating",
            "Active Directory State is Ready",
            "Active Directory State is Updating",
            "Active Directory State is In use",
            "Active Directory State is Deleting",
            "Active Directory State is Error",
            "Active Directory State is Diagnosing."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "IN_USE",
            "DELETING",
            "ERROR",
            "DIAGNOSING"
          ],
          "type": "string"
        },
        "username": {
          "description": "Required. Username of the Active Directory domain administrator.",
          "type": "string"
        },
        "netBiosPrefix": {
          "type": "string",
          "description": "Required. NetBIOSPrefix is used as a prefix for SMB server name."
        },
        "organizationalUnit": {
          "type": "string",
          "description": "The Organizational Unit (OU) within the Windows Active Directory the user belongs to."
        },
        "kdcHostname": {
          "type": "string",
          "description": "Name of the active directory machine. This optional parameter is used only while creating kerberos volume"
        },
        "ldapSigning": {
          "description": "Specifies whether or not the LDAP traffic needs to be signed.",
          "type": "boolean"
        },
        "securityOperators": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Domain users to be given the SeSecurityPrivilege.",
          "type": "array"
        },
        "encryptDcConnections": {
          "description": "If enabled, traffic between the SMB server to Domain Controller (DC) will be encrypted.",
          "type": "boolean"
        }
      }
    },
    "SimpleExportPolicyRule": {
      "properties": {
        "nfsv4": {
          "description": "NFS V4 protocol.",
          "type": "boolean"
        },
        "nfsv3": {
          "description": "NFS V3 protocol.",
          "type": "boolean"
        },
        "allowedClients": {
          "type": "string",
          "description": "Comma separated list of allowed clients IP addresses"
        },
        "kerberos5ReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode."
        },
        "kerberos5ReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode. The 'kerberos5ReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "anonUid": {
          "type": "string",
          "description": "Optional. An integer representing the anonymous user ID. Range is 0 to `4294967295`. Required when `squash_mode` is `ROOT_SQUASH` or `ALL_SQUASH`.",
          "format": "int64"
        },
        "accessType": {
          "enumDescriptions": [
            "Unspecified Access Type",
            "Read Only",
            "Read Write",
            "None"
          ],
          "type": "string",
          "description": "Access type (ReadWrite, ReadOnly, None)",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "READ_NONE"
          ]
        },
        "kerberos5pReadWrite": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode. The 'kerberos5pReadOnly' value be ignored if this is enabled."
        },
        "kerberos5pReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode.",
          "type": "boolean"
        },
        "kerberos5iReadWrite": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode. The 'kerberos5iReadOnly' value be ignored if this is enabled."
        },
        "kerberos5iReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode."
        },
        "squashMode": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to `NO_ROOT_SQUASH`.",
            "The root user (UID 0) retains full access. Other users are unaffected.",
            "The root user (UID 0) is squashed to anonymous user ID. Other users are unaffected.",
            "All users are squashed to anonymous user ID."
          ],
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH",
            "ALL_SQUASH"
          ],
          "description": "Optional. Defines how user identity squashing is applied for this export rule. This field is the preferred way to configure squashing behavior and takes precedence over `has_root_access` if both are provided."
        },
        "hasRootAccess": {
          "description": "Whether Unix root access will be granted.",
          "type": "string"
        }
      },
      "description": "An export policy rule describing various export options.",
      "type": "object",
      "id": "SimpleExportPolicyRule"
    },
    "SplitStatus": {
      "id": "SplitStatus",
      "type": "object",
      "description": "Message for SplitStatus.",
      "properties": {
        "splitState": {
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "type": "string",
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ],
          "description": "Output only. The current state of the clone split operation.",
          "readOnly": true
        },
        "stateDetails": {
          "description": "Output only. Human-readable details about the current state. Mostly used for displaying error messages during split failure Examples: \"Split in progress\", \"Error: insufficient capacity\".",
          "readOnly": true,
          "type": "string"
        },
        "progressPercent": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The estimated progress percentage of the split operation (0-100). This is meaningful primarily when split_state is IN_PROGRESS.",
          "type": "integer"
        }
      }
    },
    "ListReplicationsResponse": {
      "type": "object",
      "description": "ListReplicationsResponse is the result of ListReplicationsRequest.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        },
        "replications": {
          "items": {
            "$ref": "Replication"
          },
          "type": "array",
          "description": "A list of replications in the project for the specified volume."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListReplicationsResponse"
    },
    "CachePrePopulate": {
      "properties": {
        "excludePathList": {
          "type": "array",
          "description": "Optional. List of directory-paths to be excluded for pre-population for the FlexCache volume.",
          "items": {
            "type": "string"
          }
        },
        "recursion": {
          "description": "Optional. Flag indicating whether the directories listed with the `path_list` need to be recursively pre-populated.",
          "type": "boolean"
        },
        "pathList": {
          "description": "Optional. List of directory-paths to be pre-populated for the FlexCache volume.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CachePrePopulate",
      "description": "Pre-populate cache volume with data from the origin volume.",
      "type": "object"
    },
    "MonthlySchedule": {
      "description": "Make a snapshot once a month e.g. at 2nd 04:00, 7th 05:20, 24th 23:50",
      "properties": {
        "snapshotsToKeep": {
          "type": "number",
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "format": "double"
        },
        "daysOfMonth": {
          "description": "Set the day or days of the month to make a snapshot (1-31). Accepts a comma separated number of days. Defaults to '1'.",
          "type": "string"
        },
        "minute": {
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number"
        },
        "hour": {
          "type": "number",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "format": "double"
        }
      },
      "id": "MonthlySchedule",
      "type": "object"
    },
    "VerifyKmsConfigRequest": {
      "type": "object",
      "properties": {},
      "description": "VerifyKmsConfigRequest specifies the KMS config to be validated.",
      "id": "VerifyKmsConfigRequest"
    },
    "DailySchedule": {
      "type": "object",
      "description": "Make a snapshot every day e.g. at 04:00, 05:20, 23:50",
      "properties": {
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number",
          "format": "double"
        },
        "hour": {
          "format": "double",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number"
        },
        "minute": {
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number",
          "format": "double"
        }
      },
      "id": "DailySchedule"
    },
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest"
    },
    "OntapSource": {
      "id": "OntapSource",
      "type": "object",
      "properties": {
        "snapshotUuid": {
          "description": "Optional. The UUID of the ONTAP source snapshot.",
          "type": "string"
        },
        "storagePool": {
          "type": "string",
          "description": "Required. Name of the storage pool. This must be specified for creating backups for ONTAP mode volumes. Format: `projects/{projects_id}/locations/{location}/storagePools/{storage_pool_id}`"
        },
        "volumeUuid": {
          "type": "string",
          "description": "Required. The UUID of the ONTAP source volume."
        }
      },
      "description": "Represents ONTAP source details."
    },
    "OntapVolumeTarget": {
      "id": "OntapVolumeTarget",
      "type": "object",
      "description": "Represents the ONTAP volume target of the restore operation.",
      "properties": {
        "restoreDestinationPath": {
          "description": "Optional. Absolute directory path in the destination volume.",
          "type": "string"
        },
        "volumeUuid": {
          "description": "Required. The UUID of the ONTAP volume to restore to.",
          "type": "string"
        }
      }
    },
    "Snapshot": {
      "id": "Snapshot",
      "type": "object",
      "properties": {
        "usedBytes": {
          "format": "double",
          "type": "number",
          "description": "Output only. Current storage usage for the snapshot in bytes.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Unspecified Snapshot State",
            "Snapshot State is Ready",
            "Snapshot State is Creating",
            "Snapshot State is Deleting",
            "Snapshot State is Updating",
            "Snapshot State is Disabled",
            "Snapshot State is Error"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "DISABLED",
            "ERROR"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The snapshot state."
        },
        "description": {
          "description": "A description of the snapshot with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State details of the storage pool"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata.",
          "type": "object"
        },
        "createTime": {
          "description": "Output only. The time when the snapshot was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the snapshot. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`.",
          "type": "string"
        }
      },
      "description": "Snapshot is a point-in-time version of a Volume's content."
    },
    "ResumeReplicationRequest": {
      "type": "object",
      "description": "ResumeReplicationRequest resumes a stopped replication.",
      "id": "ResumeReplicationRequest",
      "properties": {}
    },
    "BackupVault": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the backup vault.",
          "type": "string"
        },
        "destinationBackupVault": {
          "description": "Output only. Name of the Backup vault created in backup region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "type": "string",
          "readOnly": true
        },
        "backupRetentionPolicy": {
          "description": "Optional. Backup retention policy defining the retention of backups.",
          "$ref": "BackupRetentionPolicy"
        },
        "sourceBackupVault": {
          "readOnly": true,
          "description": "Output only. Name of the Backup vault created in source region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "type": "string"
        },
        "backupsCryptoKeyVersion": {
          "readOnly": true,
          "description": "Output only. The crypto key version used to encrypt the backup vault. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backup vault. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`."
        },
        "sourceRegion": {
          "type": "string",
          "description": "Optional. Region in which the backup vault is created. Format: `projects/{project_id}/locations/{location}`"
        },
        "kmsConfig": {
          "description": "Optional. Specifies the Key Management System (KMS) configuration to be used for backup encryption. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
          "type": "string"
        },
        "backupVaultType": {
          "type": "string",
          "enumDescriptions": [
            "BackupVault type not set.",
            "BackupVault type is IN_REGION.",
            "BackupVault type is CROSS_REGION."
          ],
          "description": "Optional. Type of backup vault to be created. Default is IN_REGION.",
          "enum": [
            "BACKUP_VAULT_TYPE_UNSPECIFIED",
            "IN_REGION",
            "CROSS_REGION"
          ]
        },
        "encryptionState": {
          "type": "string",
          "description": "Output only. Field indicating encryption state of CMEK backups.",
          "enumDescriptions": [
            "Encryption state not set.",
            "Encryption state is pending.",
            "Encryption is complete.",
            "Encryption is in progress.",
            "Encryption has failed."
          ],
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "ENCRYPTION_STATE_PENDING",
            "ENCRYPTION_STATE_COMPLETED",
            "ENCRYPTION_STATE_IN_PROGRESS",
            "ENCRYPTION_STATE_FAILED"
          ],
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time of the backup vault.",
          "readOnly": true,
          "type": "string"
        },
        "backupRegion": {
          "type": "string",
          "description": "Optional. Region where the backups are stored. Format: `projects/{project_id}/locations/{location}`"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "BackupVault is being created.",
            "BackupVault is available for use.",
            "BackupVault is being deleted.",
            "BackupVault is not valid and cannot be used.",
            "BackupVault is being updated."
          ],
          "type": "string",
          "description": "Output only. The backup vault state."
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A NetApp BackupVault.",
      "id": "BackupVault"
    },
    "HourlySchedule": {
      "type": "object",
      "properties": {
        "snapshotsToKeep": {
          "type": "number",
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "format": "double"
        },
        "minute": {
          "type": "number",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "format": "double"
        }
      },
      "description": "Make a snapshot every hour e.g. at 04:00, 05:00, 06:00.",
      "id": "HourlySchedule"
    },
    "StopReplicationRequest": {
      "description": "StopReplicationRequest stops a replication until resumed.",
      "id": "StopReplicationRequest",
      "type": "object",
      "properties": {
        "force": {
          "description": "Indicates whether to stop replication forcefully while data transfer is in progress. Warning! if force is true, this will abort any current transfers and can lead to data loss due to partial transfer. If force is false, stop replication will fail while data transfer is in progress and you will need to retry later.",
          "type": "boolean"
        }
      }
    },
    "SnapshotPolicy": {
      "properties": {
        "weeklySchedule": {
          "description": "Weekly schedule policy.",
          "$ref": "WeeklySchedule"
        },
        "dailySchedule": {
          "description": "Daily schedule policy.",
          "$ref": "DailySchedule"
        },
        "monthlySchedule": {
          "description": "Monthly schedule policy.",
          "$ref": "MonthlySchedule"
        },
        "hourlySchedule": {
          "description": "Hourly schedule policy.",
          "$ref": "HourlySchedule"
        },
        "enabled": {
          "description": "If enabled, make snapshots automatically according to the schedules. Default is false.",
          "type": "boolean"
        }
      },
      "description": "Snapshot Policy for a volume.",
      "id": "SnapshotPolicy",
      "type": "object"
    },
    "LargeCapacityConfig": {
      "type": "object",
      "id": "LargeCapacityConfig",
      "description": "Configuration for a Large Capacity Volume. A Large Capacity Volume supports sizes ranging from 4.8 TiB to 20 PiB; it is composed of multiple internal constituents, and must be created in a large capacity pool.",
      "properties": {
        "constituentCount": {
          "description": "Optional. The number of internal constituents (e.g., FlexVols) for this large volume. The minimum number of constituents is 2.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ListBackupPoliciesResponse": {
      "description": "ListBackupPoliciesResponse contains all the backup policies requested.",
      "id": "ListBackupPoliciesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "backupPolicies": {
          "description": "The list of backup policies.",
          "type": "array",
          "items": {
            "$ref": "BackupPolicy"
          }
        }
      }
    },
    "BackupRetentionPolicy": {
      "properties": {
        "manualBackupImmutable": {
          "description": "Optional. Indicates if the manual backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "backupMinimumEnforcedRetentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Minimum retention duration in days for backups in the backup vault."
        },
        "dailyBackupImmutable": {
          "description": "Optional. Indicates if the daily backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "monthlyBackupImmutable": {
          "description": "Optional. Indicates if the monthly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "weeklyBackupImmutable": {
          "description": "Optional. Indicates if the weekly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        }
      },
      "description": "Retention policy for backups in the backup vault",
      "id": "BackupRetentionPolicy",
      "type": "object"
    },
    "KmsConfig": {
      "description": "KmsConfig is the customer-managed encryption key(CMEK) configuration.",
      "type": "object",
      "id": "KmsConfig",
      "properties": {
        "name": {
          "description": "Identifier. Name of the `KmsConfig`. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
          "type": "string"
        },
        "description": {
          "description": "Description of the KmsConfig.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the KmsConfig.",
          "enumDescriptions": [
            "Unspecified KmsConfig State",
            "KmsConfig State is Ready",
            "KmsConfig State is Creating",
            "KmsConfig State is Deleting",
            "KmsConfig State is Updating",
            "KmsConfig State is In Use.",
            "KmsConfig State is Error",
            "KmsConfig State is Pending to verify crypto key access.",
            "KmsConfig State is Not accessbile by the SDE service account to the crypto key.",
            "KmsConfig State is Disabling.",
            "KmsConfig State is Disabled.",
            "KmsConfig State is Migrating. The existing volumes are migrating from SMEK to CMEK."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "IN_USE",
            "ERROR",
            "KEY_CHECK_PENDING",
            "KEY_NOT_REACHABLE",
            "DISABLING",
            "DISABLED",
            "MIGRATING"
          ],
          "readOnly": true
        },
        "cryptoKeyName": {
          "type": "string",
          "description": "Required. Customer-managed crypto key resource full name. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create time of the KmsConfig."
        },
        "serviceAccount": {
          "description": "Output only. The Service account which will have access to the customer provided encryption key.",
          "readOnly": true,
          "type": "string"
        },
        "instructions": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Instructions to provide the access to the customer provided encryption key."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs"
        },
        "stateDetails": {
          "description": "Output only. State details of the KmsConfig.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SwitchActiveReplicaZoneRequest": {
      "type": "object",
      "properties": {},
      "id": "SwitchActiveReplicaZoneRequest",
      "description": "SwitchActiveReplicaZoneRequest switch the active/replica zone for a regional storagePool."
    },
    "BlockDevice": {
      "id": "BlockDevice",
      "properties": {
        "sizeGib": {
          "format": "int64",
          "description": "Optional. The size of the block device in GiB. Any value provided for the `size_gib` field during volume creation is ignored. The block device's size is system-managed and will be set to match the parent Volume's `capacity_gib`.",
          "type": "string"
        },
        "osType": {
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ],
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "description": "Required. Immutable. The OS type of the volume. This field can't be changed after the block device is created.",
          "type": "string"
        },
        "hostGroups": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of host groups that identify hosts that can mount the block volume. Format: `projects/{project_id}/locations/{location}/hostGroups/{host_group_id}` This field can be updated after the block device is created."
        },
        "name": {
          "type": "string",
          "description": "Optional. User-defined name for the block device, unique within the volume. In case no user input is provided, name will be auto-generated in the backend. The name must meet the following requirements: * Be between 1 and 255 characters long. * Contain only uppercase or lowercase letters (A-Z, a-z), numbers (0-9), and the following special characters: \"-\", \"_\", \"}\", \"{\", \".\". * Spaces are not allowed."
        },
        "identifier": {
          "readOnly": true,
          "description": "Output only. Device identifier of the block volume. This represents `lun_serial_number` for iSCSI volumes.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Block device represents the device(s) which are stored in the block volume."
    },
    "ExecuteOntapPatchRequest": {
      "type": "object",
      "properties": {
        "body": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
[...]
