{
  "version_module": true,
  "rootUrl": "https://netapp.googleapis.com/",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "name": "netapp",
  "canonicalName": "NetApp Files",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-netapp": {
          "description": "See, edit, configure, and delete your Google Cloud NetApp data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1beta1",
  "description": "Google Cloud NetApp Volumes is a fully-managed, cloud-based data storage service that provides advanced data management capabilities and highly scalable performance with global availability.",
  "basePath": "",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/netapp/",
  "schemas": {
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been canceled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "OntapSource": {
      "description": "Represents ONTAP source details.",
      "properties": {
        "volumeUuid": {
          "type": "string",
          "description": "Required. The UUID of the ONTAP source volume."
        },
        "snapshotUuid": {
          "type": "string",
          "description": "Optional. The UUID of the ONTAP source snapshot."
        },
        "storagePool": {
          "type": "string",
          "description": "Required. Name of the storage pool. This must be specified for creating backups for ONTAP mode volumes. Format: `projects/{projects_id}/locations/{location}/storagePools/{storage_pool_id}`"
        }
      },
      "id": "OntapSource",
      "type": "object"
    },
    "DailySchedule": {
      "description": "Make a snapshot every day e.g. at 04:00, 05:20, 23:50",
      "properties": {
        "hour": {
          "type": "number",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "format": "double"
        },
        "minute": {
          "type": "number",
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
        },
        "snapshotsToKeep": {
          "type": "number",
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "format": "double"
        }
      },
      "id": "DailySchedule",
      "type": "object"
    },
    "StoragePool": {
      "description": "StoragePool is a container for volumes with a service level and capacity. Volumes can be created in a pool of sufficient available capacity. StoragePool capacity is what you are billed for.",
      "properties": {
        "createTime": {
          "description": "Output only. Create time of the storage pool",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Optional. Specifies the active zone for regional storagePool."
        },
        "serviceLevel": {
          "description": "Required. Service level of the storage pool",
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ],
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ],
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        },
        "replicaZone": {
          "description": "Optional. Specifies the replica zone for regional storagePool.",
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use"
        },
        "encryptionType": {
          "description": "Output only. Specifies the current pool encryption key source.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ]
        },
        "customPerformanceEnabled": {
          "type": "boolean",
          "description": "Optional. True if using Independent Scaling of capacity and performance (Hyperdisk) By default set to false"
        },
        "scaleType": {
          "type": "string",
          "description": "Optional. The scale type of the storage pool. Defaults to `SCALE_TYPE_DEFAULT` if not specified.",
          "enumDescriptions": [
            "Unspecified scale type.",
            "Represents standard capacity and performance scale-type. Suitable for general purpose workloads.",
            "Represents higher capacity and performance scale-type. Suitable for more demanding workloads."
          ],
          "enum": [
            "SCALE_TYPE_UNSPECIFIED",
            "SCALE_TYPE_DEFAULT",
            "SCALE_TYPE_SCALEOUT"
          ]
        },
        "scaleTier": {
          "enumDescriptions": [
            "Deprecated: Use ScaleType instead. The default value. This value is unused.",
            "Deprecated: Use ScaleType instead. The standard capacity and performance tier. Suitable for general purpose workloads.",
            "Deprecated: Use ScaleType instead. A higher capacity and performance tier. Suitable for more demanding workloads."
          ],
          "enum": [
            "SCALE_TIER_UNSPECIFIED",
            "SCALE_TIER_STANDARD",
            "SCALE_TIER_ENTERPRISE"
          ],
          "description": "Optional. Deprecated: Use scale_type instead. The effective scale tier of the storage pool. If `scale_tier` is not specified during creation, this defaults to `SCALE_TIER_STANDARD`.",
          "deprecated": true,
          "type": "string"
        },
        "volumeCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Volume count of the storage pool"
        },
        "ldapEnabled": {
          "description": "Optional. Flag indicating if the pool is NFS LDAP enabled or not.",
          "type": "boolean"
        },
        "availableThroughputMibps": {
          "description": "Output only. Available throughput of the storage pool (in MiB/s).",
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "description": {
          "description": "Optional. Description of the storage pool",
          "type": "string"
        },
        "mode": {
          "description": "Optional. Mode of the storage pool. This field is used to control whether the user can perform ONTAP operations on the storage pool using the GCNV ONTAP Mode APIs. If not specified during creation, it defaults to `DEFAULT`.",
          "enumDescriptions": [
            "The `Mode` is not specified.",
            "The resource is managed by the GCNV APIs.",
            "The resource is managed by the GCNV ONTAP Mode APIs."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "DEFAULT",
            "ONTAP"
          ],
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Optional. Type of the storage pool. This field is used to control whether the pool supports `FILE` based volumes only or `UNIFIED` (both `FILE` and `BLOCK`) volumes. If not specified during creation, it defaults to `FILE`.",
          "enumDescriptions": [
            "Storage pool type is not specified.",
            "Storage pool type is file.",
            "Storage pool type is unified."
          ],
          "enum": [
            "STORAGE_POOL_TYPE_UNSPECIFIED",
            "FILE",
            "UNIFIED"
          ]
        },
        "globalAccessAllowed": {
          "description": "Deprecated. Used to allow SO pool to access AD or DNS server from other regions.",
          "deprecated": true,
          "type": "boolean"
        },
        "totalIops": {
          "format": "int64",
          "description": "Optional. Custom Performance Total IOPS of the pool if not provided, it will be calculated based on the total_throughput_mibps",
          "type": "string"
        },
        "hotTierSizeUsedGib": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the storage pool."
        },
        "kmsConfig": {
          "description": "Optional. Specifies the KMS config to be used for volume encryption.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the storage pool"
        },
        "volumeCapacityGib": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Allocated size of all volumes in GIB in the storage pool",
          "format": "int64"
        },
        "enableHotTierAutoResize": {
          "type": "boolean",
          "description": "Optional. Flag indicating that the hot-tier threshold will be auto-increased by 10% of the hot-tier when it hits 100%. Default is true. The increment will kick in only if the new size after increment is still less than or equal to storage pool size."
        },
        "coldTierSizeUsedGib": {
          "description": "Output only. Total cold tier data rounded down to the nearest GiB used by the storage pool.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "network": {
          "description": "Required. VPC Network name. Format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "activeDirectory": {
          "description": "Optional. Specifies the Active Directory to be used for creating a SMB volume.",
          "type": "string"
        },
        "capacityGib": {
          "description": "Required. Capacity in GIB of the pool",
          "format": "int64",
          "type": "string"
        },
        "allowAutoTiering": {
          "description": "Optional. True if the storage pool supports Auto Tiering enabled volumes. Default is false. Auto-tiering can be enabled after storage pool creation but it can't be disabled once enabled.",
          "type": "boolean"
        },
        "hotTierSizeGib": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Total hot tier capacity for the Storage Pool. It is applicable only to Flex service level. It should be less than the minimum storage pool size and cannot be more than the current storage pool size. It cannot be decreased once set."
        },
        "qosType": {
          "type": "string",
          "description": "Optional. QoS (Quality of Service) Type of the storage pool",
          "enumDescriptions": [
            "Unspecified QoS Type",
            "QoS Type is Auto",
            "QoS Type is Manual"
          ],
          "enum": [
            "QOS_TYPE_UNSPECIFIED",
            "AUTO",
            "MANUAL"
          ]
        },
        "stateDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State details of the storage pool"
        },
        "psaRange": {
          "description": "Optional. This field is not implemented. The values provided in this field are ignored.",
          "type": "string"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the storage pool",
          "enumDescriptions": [
            "Unspecified Storage Pool State",
            "Storage Pool State is Ready",
            "Storage Pool State is Creating",
            "Storage Pool State is Deleting",
            "Storage Pool State is Updating",
            "Storage Pool State is Restoring",
            "Storage Pool State is Disabled",
            "Storage Pool State is Error"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR"
          ]
        },
        "totalThroughputMibps": {
          "description": "Optional. Custom Performance Total Throughput of the pool (in MiBps)",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "StoragePool",
      "type": "object"
    },
    "EstablishVolumePeeringRequest": {
      "type": "object",
      "id": "EstablishVolumePeeringRequest",
      "description": "EstablishVolumePeeringRequest establishes cluster and svm peerings between the source and destination clusters.",
      "properties": {
        "peerIpAddresses": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of IPv4 IP addresses to be used for peering.",
          "type": "array"
        },
        "peerVolumeName": {
          "type": "string",
          "description": "Required. Name of the user's local source volume to be peered with the destination volume."
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "peerSvmName": {
          "type": "string",
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm."
        }
      }
    },
    "Replication": {
      "type": "object",
      "id": "Replication",
      "description": "Replication is a nested resource under Volume, that describes a cross-region replication relationship between 2 volumes in different regions.",
      "properties": {
        "hybridReplicationUserCommands": {
          "readOnly": true,
          "$ref": "UserCommands",
          "description": "Output only. Copy pastable snapmirror commands to be executed on onprem cluster by the customer."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Replication create time."
        },
        "sourceVolume": {
          "description": "Output only. Full name of source volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "type": "string",
          "readOnly": true
        },
        "mirrorState": {
          "description": "Output only. Indicates the state of mirroring.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified MirrorState",
            "Destination volume is being prepared.",
            "Destination volume has been initialized and is ready to receive replication transfers.",
            "Destination volume is not receiving replication transfers.",
            "Incremental replication is in progress.",
            "Baseline replication is in progress.",
            "Replication is aborted.",
            "Replication is being managed from Onprem ONTAP.",
            "Peering is yet to be established."
          ],
          "enum": [
            "MIRROR_STATE_UNSPECIFIED",
            "PREPARING",
            "MIRRORED",
            "STOPPED",
            "TRANSFERRING",
            "BASELINE_TRANSFERRING",
            "ABORTED",
            "EXTERNALLY_MANAGED",
            "PENDING_PEERING"
          ]
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "role": {
          "enumDescriptions": [
            "Unspecified replication role",
            "Indicates Source volume.",
            "Indicates Destination volume."
          ],
          "enum": [
            "REPLICATION_ROLE_UNSPECIFIED",
            "SOURCE",
            "DESTINATION"
          ],
          "description": "Output only. Indicates whether this points to source or destination.",
          "type": "string",
          "readOnly": true
        },
        "transferStats": {
          "readOnly": true,
          "$ref": "TransferStats",
          "description": "Output only. Replication transfer statistics."
        },
        "destinationVolumeParameters": {
          "$ref": "DestinationVolumeParameters",
          "description": "Required. Input only. Destination volume parameters"
        },
        "stateDetails": {
          "description": "Output only. State details of the replication.",
          "type": "string",
          "readOnly": true
        },
        "hybridReplicationType": {
          "description": "Output only. Type of the hybrid replication.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "Hybrid replication type for incremental Transfer in the reverse direction (GCNV is source and Onprem is destination)"
          ],
          "enum": [
            "HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ]
        },
        "description": {
          "description": "A description about this replication relationship.",
          "type": "string"
        },
        "clusterLocation": {
          "description": "Optional. Location of the user cluster.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified replication State",
            "Replication is creating.",
            "Replication is ready.",
            "Replication is updating.",
            "Replication is deleting.",
            "Replication is in error state.",
            "Replication is waiting for cluster peering to be established.",
            "Replication is waiting for SVM peering to be established.",
            "Replication is waiting for Commands to be executed on Onprem ONTAP.",
            "Onprem ONTAP is destination and Replication can only be managed from Onprem."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "ERROR",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PENDING_REMOTE_RESYNC",
            "EXTERNALLY_MANAGED_REPLICATION"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the replication."
        },
        "hybridPeeringDetails": {
          "$ref": "HybridPeeringDetails",
          "description": "Output only. Hybrid peering details.",
          "readOnly": true
        },
        "destinationVolume": {
          "description": "Output only. Full name of destination volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "readOnly": true,
          "type": "string"
        },
        "healthy": {
          "description": "Output only. Condition of the relationship. Can be one of the following: - true: The replication relationship is healthy. It has not missed the most recent scheduled transfer. - false: The replication relationship is not healthy. It has missed the most recent scheduled transfer.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`."
        },
        "replicationSchedule": {
          "type": "string",
          "description": "Required. Indicates the schedule for replication.",
          "enumDescriptions": [
            "Unspecified ReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ],
          "enum": [
            "REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ]
        }
      }
    },
    "HybridReplicationParameters": {
      "type": "object",
      "description": "The Hybrid Replication parameters for the volume.",
      "properties": {
        "peerIpAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. List of node ip addresses to be peered with."
        },
        "clusterLocation": {
          "description": "Optional. Name of source cluster location associated with the Hybrid replication. This is a free-form field for the display purpose only.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels to be added to the replication as the key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "replicationSchedule": {
          "type": "string",
          "description": "Optional. Replication Schedule for the replication created.",
          "enumDescriptions": [
            "Unspecified HybridReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ],
          "enum": [
            "HYBRID_REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ]
        },
        "peerClusterName": {
          "type": "string",
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster."
        },
        "largeVolumeConstituentCount": {
          "description": "Optional. Constituent volume count for large volume.",
          "format": "int32",
          "type": "integer"
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the replication.",
          "type": "string"
        },
        "hybridReplicationType": {
          "description": "Optional. Type of the hybrid replication.",
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "New field for reversible OnPrem replication, to be used for data protection."
          ],
          "enum": [
            "VOLUME_HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "type": "string"
        },
        "replication": {
          "description": "Required. Desired name for the replication of this volume.",
          "type": "string"
        },
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        }
      },
      "id": "HybridReplicationParameters"
    },
    "DestinationVolumeParameters": {
      "type": "object",
      "id": "DestinationVolumeParameters",
      "description": "DestinationVolumeParameters specify input parameters used for creating destination volume.",
      "properties": {
        "shareName": {
          "type": "string",
          "description": "Destination volume's share name. If not specified, source volume's share name will be used."
        },
        "storagePool": {
          "description": "Required. Existing destination StoragePool name.",
          "type": "string"
        },
        "volumeId": {
          "type": "string",
          "description": "Desired destination volume resource id. If not specified, source volume's resource id will be used. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen."
        },
        "tieringPolicy": {
          "description": "Optional. Tiering policy for the volume.",
          "$ref": "TieringPolicy"
        },
        "description": {
          "description": "Description for the destination volume.",
          "type": "string"
        }
      }
    },
    "ExecuteOntapPostResponse": {
      "type": "object",
      "description": "Response message for `ExecuteOntapPost` API.",
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "ExecuteOntapPostResponse"
    },
    "CachePrePopulate": {
      "type": "object",
      "id": "CachePrePopulate",
      "description": "Pre-populate cache volume with data from the origin volume.",
      "properties": {
        "excludePathList": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of directory-paths to be excluded for pre-population for the FlexCache volume.",
          "type": "array"
        },
        "pathList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of directory-paths to be pre-populated for the FlexCache volume."
        },
        "recursion": {
          "type": "boolean",
          "description": "Optional. Flag indicating whether the directories listed with the `path_list` need to be recursively pre-populated."
        }
      }
    },
    "SwitchActiveReplicaZoneRequest": {
      "description": "SwitchActiveReplicaZoneRequest switch the active/replica zone for a regional storagePool.",
      "properties": {},
      "id": "SwitchActiveReplicaZoneRequest",
      "type": "object"
    },
    "SplitStatus": {
      "description": "Message for SplitStatus.",
      "properties": {
        "progressPercent": {
          "description": "Output only. The estimated progress percentage of the split operation (0-100). This is meaningful primarily when split_state is IN_PROGRESS.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "splitState": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of the clone split operation.",
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ]
        },
        "stateDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable details about the current state. Mostly used for displaying error messages during split failure Examples: \"Split in progress\", \"Error: insufficient capacity\"."
        }
      },
      "id": "SplitStatus",
      "type": "object"
    },
    "CacheParameters": {
      "type": "object",
      "id": "CacheParameters",
      "description": "Cache Parameters for the volume.",
      "properties": {
        "peerClusterName": {
          "description": "Required. Name of the origin volume's ONTAP cluster.",
          "type": "string"
        },
        "cacheConfig": {
          "description": "Optional. Configuration of the cache volume.",
          "$ref": "CacheConfig"
        },
        "passphrase": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Temporary passphrase generated to accept cluster peering command."
        },
        "cacheState": {
          "description": "Output only. State of the cache volume indicating the peering status.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified state.",
            "State indicating waiting for cluster peering to be established.",
            "State indicating waiting for SVM peering to be established.",
            "State indicating successful establishment of peering with origin volumes's ONTAP cluster.",
            "Terminal state wherein peering with origin volume's ONTAP cluster has failed."
          ],
          "enum": [
            "CACHE_STATE_UNSPECIFIED",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PEERED",
            "ERROR"
          ]
        },
        "peerIpAddresses": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of IC LIF addresses of the origin volume's ONTAP cluster.",
          "type": "array"
        },
        "peerSvmName": {
          "type": "string",
          "description": "Required. Name of the origin volume's SVM."
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Detailed description of the current cache state."
        },
        "peerVolumeName": {
          "description": "Required. Name of the origin volume for the cache volume.",
          "type": "string"
        },
        "enableGlobalFileLock": {
          "type": "boolean",
          "description": "Optional. Indicates whether the cache volume has global file lock enabled."
        },
        "command": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests."
        },
        "peeringCommandExpiryTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Expiration time for the peering command to be executed on user's ONTAP."
        }
      }
    },
    "ListBackupPoliciesResponse": {
      "id": "ListBackupPoliciesResponse",
      "description": "ListBackupPoliciesResponse contains all the backup policies requested.",
      "properties": {
        "backupPolicies": {
          "type": "array",
          "items": {
            "$ref": "BackupPolicy"
          },
          "description": "The list of backup policies."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListBackupsResponse": {
      "type": "object",
      "description": "ListBackupsResponse is the result of ListBackupsRequest.",
      "properties": {
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "description": "A list of backups in the project.",
          "type": "array"
        }
      },
      "id": "ListBackupsResponse"
    },
    "ExecuteOntapPostRequest": {
      "type": "object",
      "id": "ExecuteOntapPostRequest",
      "description": "Request message for `ExecuteOntapPost` API.",
      "properties": {
        "body": {
          "type": "object",
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "RestoreVolumeRequest": {
      "id": "RestoreVolumeRequest",
      "description": "Request message for `RestoreVolume` API.",
      "properties": {
        "backupSource": {
          "description": "The backup source of the restore operation.",
          "$ref": "BackupSource"
        },
        "ontapVolumeTarget": {
          "$ref": "OntapVolumeTarget",
          "description": "The ONTAP volume target of the restore operation."
        }
      },
      "type": "object"
    },
    "OntapVolumeTarget": {
      "type": "object",
      "description": "Represents the ONTAP volume target of the restore operation.",
      "properties": {
        "volumeUuid": {
          "type": "string",
          "description": "Required. The UUID of the ONTAP volume to restore to."
        },
        "restoreDestinationPath": {
          "type": "string",
          "description": "Optional. Absolute directory path in the destination volume."
        }
      },
      "id": "OntapVolumeTarget"
    },
    "ListKmsConfigsResponse": {
      "id": "ListKmsConfigsResponse",
      "description": "ListKmsConfigsResponse is the response to a ListKmsConfigsRequest.",
      "properties": {
        "kmsConfigs": {
          "type": "array",
          "items": {
            "$ref": "KmsConfig"
          },
          "description": "The list of KmsConfigs"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "LargeCapacityConfig": {
      "id": "LargeCapacityConfig",
      "description": "Configuration for a Large Capacity Volume. A Large Capacity Volume supports sizes ranging from 4.8 TiB to 20 PiB; it is composed of multiple internal constituents, and must be created in a large capacity pool.",
      "properties": {
        "constituentCount": {
          "type": "integer",
          "description": "Optional. The number of internal constituents (e.g., FlexVols) for this large volume. The minimum number of constituents is 2.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "VerifyKmsConfigRequest": {
      "type": "object",
      "id": "VerifyKmsConfigRequest",
      "description": "VerifyKmsConfigRequest specifies the KMS config to be validated.",
      "properties": {}
    },
    "MountOption": {
      "description": "View only mount options for a volume.",
      "properties": {
        "ipAddress": {
          "description": "Output only. IP Address.",
          "readOnly": true,
          "type": "string"
        },
        "instructions": {
          "description": "Instructions for mounting",
          "type": "string"
        },
        "exportFull": {
          "description": "Full export string",
          "type": "string"
        },
        "export": {
          "type": "string",
          "description": "Export string"
        },
        "protocol": {
          "type": "string",
          "description": "Protocol to mount with.",
          "enumDescriptions": [
            "Unspecified protocol",
            "NFS V3 protocol",
            "NFS V4 protocol",
            "SMB protocol",
            "ISCSI protocol",
            "NVMe protocol"
          ],
          "enum": [
            "PROTOCOLS_UNSPECIFIED",
            "NFSV3",
            "NFSV4",
            "SMB",
            "ISCSI",
            "NVME"
          ]
        }
      },
      "id": "MountOption",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "id": "Status",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "type": "object"
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "Location"
    },
    "ExecuteOntapGetResponse": {
      "type": "object",
      "description": "Response message for `ExecuteOntapGet` API.",
      "properties": {
        "body": {
          "type": "object",
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "ExecuteOntapGetResponse"
    },
    "ListReplicationsResponse": {
      "type": "object",
      "description": "ListReplicationsResponse is the result of ListReplicationsRequest.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "replications": {
          "type": "array",
          "description": "A list of replications in the project for the specified volume.",
          "items": {
            "$ref": "Replication"
          }
        }
      },
      "id": "ListReplicationsResponse"
    },
    "ListHostGroupsResponse": {
      "id": "ListHostGroupsResponse",
      "description": "ListHostGroupsResponse is the response to a ListHostGroupsRequest.",
      "properties": {
        "hostGroups": {
          "description": "The list of host groups.",
          "items": {
            "$ref": "HostGroup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CloneDetails": {
      "id": "CloneDetails",
      "description": "Details about a clone volume.",
      "properties": {
        "sourceVolume": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Full name of the source volume resource. Format: projects/{project}/locations/{location}/volumes/{volume}"
        },
        "splitState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the clone split operation.",
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ]
        },
        "sourceSnapshot": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the full resource name of the source snapshot from which this volume was cloned. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}"
        },
        "sharedSpaceGib": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Shared space in GiB. Determined at volume creation time based on size of source snapshot."
        }
      },
      "type": "object"
    },
    "HostGroup": {
      "id": "HostGroup",
      "description": "Host group is a collection of hosts that can be used for accessing a Block Volume.",
      "properties": {
        "labels": {
          "description": "Optional. Labels of the host group.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state for host group.",
            "Host group is creating.",
            "Host group is ready.",
            "Host group is updating.",
            "Host group is deleting.",
            "Host group is disabled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DISABLED"
          ],
          "description": "Output only. State of the host group.",
          "type": "string",
          "readOnly": true
        },
        "hosts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of hosts associated with the host group."
        },
        "type": {
          "description": "Required. Type of the host group.",
          "enumDescriptions": [
            "Unspecified type for host group.",
            "iSCSI initiator host group."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ISCSI_INITIATOR"
          ],
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time of the host group.",
          "type": "string",
          "readOnly": true
        },
        "osType": {
          "description": "Required. The OS type of the host group. It indicates the type of operating system used by all of the hosts in the HostGroup. All hosts in a HostGroup must be of the same OS type. This can be set only when creating a HostGroup.",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the host group.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SimpleExportPolicyRule": {
      "type": "object",
      "description": "An export policy rule describing various export options.",
      "properties": {
        "squashMode": {
          "description": "Optional. Defines how user identity squashing is applied for this export rule. This field is the preferred way to configure squashing behavior and takes precedence over `has_root_access` if both are provided.",
          "enumDescriptions": [
            "Defaults to `NO_ROOT_SQUASH`.",
            "The root user (UID 0) retains full access. Other users are unaffected.",
            "The root user (UID 0) is squashed to anonymous user ID. Other users are unaffected.",
            "All users are squashed to anonymous user ID."
          ],
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH",
            "ALL_SQUASH"
          ],
          "type": "string"
        },
        "kerberos5ReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode."
        },
        "kerberos5iReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode."
        },
        "kerberos5iReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode. The 'kerberos5iReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "allowedClients": {
          "description": "Comma separated list of allowed clients IP addresses",
          "type": "string"
        },
        "kerberos5pReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode. The 'kerberos5pReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "accessType": {
          "description": "Access type (ReadWrite, ReadOnly, None)",
          "enumDescriptions": [
            "Unspecified Access Type",
            "Read Only",
            "Read Write",
            "None"
          ],
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "READ_NONE"
          ],
          "type": "string"
        },
        "hasRootAccess": {
          "description": "Whether Unix root access will be granted.",
          "type": "string"
        },
        "nfsv4": {
          "description": "NFS V4 protocol.",
          "type": "boolean"
        },
        "anonUid": {
          "format": "int64",
          "description": "Optional. An integer representing the anonymous user ID. Range is 0 to `4294967295`. Required when `squash_mode` is `ROOT_SQUASH` or `ALL_SQUASH`.",
          "type": "string"
        },
        "kerberos5pReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode."
        },
        "nfsv3": {
          "description": "NFS V3 protocol.",
          "type": "boolean"
        },
        "kerberos5ReadWrite": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode. The 'kerberos5ReadOnly' value be ignored if this is enabled."
        }
      },
      "id": "SimpleExportPolicyRule"
    },
    "ListSnapshotsResponse": {
      "description": "ListSnapshotsResponse is the result of ListSnapshotsRequest.",
      "properties": {
        "snapshots": {
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          },
          "description": "A list of snapshots in the project for the specified volume."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListSnapshotsResponse",
      "type": "object"
    },
    "BackupRetentionPolicy": {
      "description": "Retention policy for backups in the backup vault",
      "properties": {
        "dailyBackupImmutable": {
          "description": "Optional. Indicates if the daily backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "monthlyBackupImmutable": {
          "description": "Optional. Indicates if the monthly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "manualBackupImmutable": {
          "description": "Optional. Indicates if the manual backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "backupMinimumEnforcedRetentionDays": {
          "description": "Required. Minimum retention duration in days for backups in the backup vault.",
          "format": "int32",
          "type": "integer"
        },
        "weeklyBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the weekly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        }
      },
      "id": "BackupRetentionPolicy",
      "type": "object"
    },
    "TieringPolicy": {
      "type": "object",
      "description": "Defines tiering policy for the volume.",
      "properties": {
        "tierAction": {
          "description": "Optional. Flag indicating if the volume has tiering policy enable/pause. Default is PAUSED.",
          "enumDescriptions": [
            "Unspecified.",
            "When tiering is enabled, new cold data will be tiered.",
            "When paused, tiering won't be performed on new data. Existing data stays tiered until accessed."
          ],
          "enum": [
            "TIER_ACTION_UNSPECIFIED",
            "ENABLED",
            "PAUSED"
          ],
          "type": "string"
        },
        "coolingThresholdDays": {
          "description": "Optional. Time in days to mark the volume's data block as cold and make it eligible for tiering, can be range from 2-183. Default is 31.",
          "format": "int32",
          "type": "integer"
        },
        "hotTierBypassModeEnabled": {
          "description": "Optional. Flag indicating that the hot tier bypass mode is enabled. Default is false. This is only applicable to Flex service level.",
          "type": "boolean"
        }
      },
      "id": "TieringPolicy"
    },
    "ReverseReplicationDirectionRequest": {
      "description": "ReverseReplicationDirectionRequest reverses direction of replication. Source becomes destination and destination becomes source.",
      "properties": {},
      "id": "ReverseReplicationDirectionRequest",
      "type": "object"
    },
    "ExecuteOntapPatchResponse": {
      "description": "Response message for `ExecuteOntapPatch` API.",
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "ExecuteOntapPatchResponse",
      "type": "object"
    },
    "RestoreParameters": {
      "id": "RestoreParameters",
      "description": "The RestoreParameters if volume is created from a snapshot or backup.",
      "properties": {
        "sourceSnapshot": {
          "description": "Full name of the snapshot resource. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "type": "string"
        },
        "sourceBackup": {
          "type": "string",
          "description": "Full name of the backup resource. Format for standard backup: projects/{project}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}. Format for BackupDR backup: projects/{project}/locations/{location}/backupVaults/{backup_vault}/dataSources/{data_source}/backups/{backup}"
        }
      },
      "type": "object"
    },
    "ValidateDirectoryServiceRequest": {
      "type": "object",
      "id": "ValidateDirectoryServiceRequest",
      "description": "ValidateDirectoryServiceRequest validates the directory service policy attached to the storage pool.",
      "properties": {
        "directoryServiceType": {
          "description": "Type of directory service policy attached to the storage pool.",
          "enumDescriptions": [
            "Directory service type is not specified.",
            "Active directory policy attached to the storage pool."
          ],
          "enum": [
            "DIRECTORY_SERVICE_TYPE_UNSPECIFIED",
            "ACTIVE_DIRECTORY"
          ],
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "CacheConfig": {
      "id": "CacheConfig",
      "description": "Configuration of the cache volume.",
      "properties": {
        "writebackEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating whether writeback is enabled for the FlexCache volume."
        },
        "cifsChangeNotifyEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating whether a CIFS change notification is enabled for the FlexCache volume."
        },
        "cachePrePopulateState": {
          "enumDescriptions": [
            "Default unspecified state.",
            "State representing when the most recent create or update request did not require a prepopulation job.",
            "State representing when the most recent update request requested a prepopulation job but it has not yet completed.",
            "State representing when the most recent update request requested a prepopulation job and it has completed successfully.",
            "State representing when the most recent update request requested a prepopulation job but the prepopulate job failed."
          ],
          "enum": [
            "CACHE_PRE_POPULATE_STATE_UNSPECIFIED",
            "NOT_NEEDED",
            "IN_PROGRESS",
            "COMPLETE",
            "ERROR"
          ],
          "description": "Output only. State of the prepopulation job indicating how the prepopulation is progressing.",
          "type": "string",
          "readOnly": true
        },
        "cachePrePopulate": {
          "description": "Optional. Pre-populate cache volume with data from the origin volume.",
          "$ref": "CachePrePopulate"
        }
      },
      "type": "object"
    },
    "StopReplicationRequest": {
      "type": "object",
      "id": "StopReplicationRequest",
      "description": "StopReplicationRequest stops a replication until resumed.",
      "properties": {
        "force": {
          "description": "Indicates whether to stop replication forcefully while data transfer is in progress. Warning! if force is true, this will abort any current transfers and can lead to data loss due to partial transfer. If force is false, stop replication will fail while data transfer is in progress and you will need to retry later.",
          "type": "boolean"
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "BlockDevice": {
      "description": "Block device represents the device(s) which are stored in the block volume.",
      "properties": {
        "hostGroups": {
          "description": "Optional. A list of host groups that identify hosts that can mount the block volume. Format: `projects/{project_id}/locations/{location}/hostGroups/{host_group_id}` This field can be updated after the block device is created.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Optional. User-defined name for the block device, unique within the volume. In case no user input is provided, name will be auto-generated in the backend. The name must meet the following requirements: * Be between 1 and 255 characters long. * Contain only uppercase or lowercase letters (A-Z, a-z), numbers (0-9), and the following special characters: \"-\", \"_\", \"}\", \"{\", \".\". * Spaces are not allowed."
        },
        "osType": {
          "type": "string",
          "description": "Required. Immutable. The OS type of the volume. This field can't be changed after the block device is created.",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ]
        },
        "identifier": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device identifier of the block volume. This represents `lun_serial_number` for iSCSI volumes."
        },
        "sizeGib": {
          "format": "int64",
          "description": "Optional. The size of the block device in GiB. Any value provided for the `size_gib` field during volume creation is ignored. The block device's size is system-managed and will be set to match the parent Volume's `capacity_gib`.",
          "type": "string"
        }
      },
      "id": "BlockDevice",
      "type": "object"
    },
    "ActiveDirectory": {
      "type": "object",
      "description": "ActiveDirectory is the public representation of the active directory config.",
      "properties": {
        "securityOperators": {
          "description": "Optional. Domain users to be given the SeSecurityPrivilege.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create time of the active directory.",
          "format": "google-datetime"
        },
        "dns": {
          "description": "Required. Comma separated list of DNS server IP addresses for the Active Directory domain.",
          "type": "string"
        },
        "kdcIp": {
          "description": "KDC server IP address for the active directory machine.",
          "type": "string"
        },
        "nfsUsersWithLdap": {
          "type": "boolean",
          "description": "If enabled, will allow access to local users and LDAP users. If access is needed for only LDAP users, it has to be disabled."
        },
        "labels": {
          "type": "object",
          "description": "Labels for the active directory.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "domain": {
          "type": "string",
          "description": "Required. Name of the Active Directory domain"
        },
        "ldapSigning": {
          "type": "boolean",
          "description": "Specifies whether or not the LDAP traffic needs to be signed."
        },
        "backupOperators": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Users to be added to the Built-in Backup Operator active directory group."
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state details of the Active Directory."
        },
        "netBiosPrefix": {
          "description": "Required. NetBIOSPrefix is used as a prefix for SMB server name.",
          "type": "string"
        },
        "organizationalUnit": {
          "type": "string",
          "description": "The Organizational Unit (OU) within the Windows Active Directory the user belongs to."
        },
        "description": {
          "description": "Description of the active directory.",
          "type": "string"
        },
        "encryptDcConnections": {
          "type": "boolean",
          "description": "If enabled, traffic between the SMB server to Domain Controller (DC) will be encrypted."
        },
        "aesEncryption": {
          "type": "boolean",
          "description": "If enabled, AES encryption will be enabled for SMB communication."
        },
        "password": {
          "description": "Required. Password of the Active Directory domain administrator.",
          "type": "string"
        },
        "administrators": {
          "description": "Optional. Users to be added to the Built-in Admininstrators group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kdcHostname": {
          "description": "Name of the active directory machine. This optional parameter is used only while creating kerberos volume",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`."
        },
        "site": {
          "description": "The Active Directory site the service will limit Domain Controller discovery too.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Required. Username of the Active Directory domain administrator."
        },
        "state": {
          "description": "Output only. The state of the AD.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified Active Directory State",
            "Active Directory State is Creating",
            "Active Directory State is Ready",
            "Active Directory State is Updating",
            "Active Directory State is In use",
            "Active Directory State is Deleting",
            "Active Directory State is Error",
            "Active Directory State is Diagnosing."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "IN_USE",
            "DELETING",
            "ERROR",
            "DIAGNOSING"
          ]
        }
      },
      "id": "ActiveDirectory"
    },
    "EncryptVolumesRequest": {
      "id": "EncryptVolumesRequest",
      "description": "EncryptVolumesRequest specifies the KMS config to encrypt existing volumes.",
      "properties": {},
      "type": "object"
    },
    "Volume": {
      "type": "object",
      "description": "Volume provides a filesystem that you can mount.",
      "properties": {
        "encryptionType": {
          "description": "Output only. Specified the current volume encryption key source.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ]
        },
        "hasReplication": {
          "description": "Output only. Indicates whether the volume is part of a replication relationship.",
          "readOnly": true,
          "type": "boolean"
        },
        "serviceLevel": {
          "description": "Output only. Service level of the volume",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ],
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ]
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        },
        "replicaZone": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the replica zone for regional volume."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time of the volume"
        },
        "zone": {
          "description": "Output only. Specifies the active zone for regional volume.",
          "type": "string",
          "readOnly": true
        },
        "cloneDetails": {
          "readOnly": true,
          "description": "Output only. If this volume is a clone, this field contains details about the clone.",
          "$ref": "CloneDetails"
        },
        "protocols": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified protocol",
              "NFS V3 protocol",
              "NFS V4 protocol",
              "SMB protocol",
              "ISCSI protocol",
              "NVMe protocol"
            ],
            "enum": [
              "PROTOCOLS_UNSPECIFIED",
              "NFSV3",
              "NFSV4",
              "SMB",
              "ISCSI",
              "NVME"
            ]
          },
          "description": "Required. Protocols required for the volume"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the volume"
        },
        "kmsConfig": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the KMS config to be used for volume encryption."
        },
        "restrictedActions": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified restricted action",
              "Prevent volume from being deleted when mounted."
            ],
            "enum": [
              "RESTRICTED_ACTION_UNSPECIFIED",
              "DELETE"
            ],
            "type": "string"
          },
          "description": "Optional. List of actions that are restricted on this volume."
        },
        "shareName": {
          "description": "Required. Share name of the volume",
          "type": "string"
        },
        "hotTierSizeUsedGib": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the Volume. This field is only used for flex Service Level",
          "format": "int64"
        },
        "snapshotDirectory": {
          "description": "Optional. Snapshot_directory if enabled (true) the volume will contain a read-only .snapshot directory which provides access to each of the volume's snapshots.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. Description of the volume",
          "type": "string"
        },
        "ldapEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Flag indicating if the volume is NFS LDAP enabled or not."
        },
        "unixPermissions": {
          "type": "string",
          "description": "Optional. Default unix style permission (e.g. 777) the mount point will be created with. Applicable for NFS protocol types only."
        },
        "snapshotPolicy": {
          "$ref": "SnapshotPolicy",
          "description": "Optional. SnapshotPolicy for a volume."
        },
        "kerberosEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating if the volume is a kerberos volume or not, export policy rules control kerberos security modes (krb5, krb5i, krb5p)."
        },
        "mountOptions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Mount options of this volume",
          "items": {
            "$ref": "MountOption"
          }
        },
        "usedGib": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Used capacity in GIB of the volume. This is computed periodically and it does not represent the realtime usage.",
          "format": "int64"
        },
        "largeCapacity": {
          "type": "boolean",
          "description": "Optional. Flag indicating if the volume will be a large capacity volume or a regular volume. This field is used for legacy FILE pools. For Unified pools, use the `large_capacity_config` field instead. This field and `large_capacity_config` are mutually exclusive."
        },
        "network": {
          "description": "Output only. VPC Network name. Format: projects/{project}/global/networks/{network}",
          "type": "string",
          "readOnly": true
        },
        "activeDirectory": {
          "description": "Output only. Specifies the ActiveDirectory name of a SMB volume.",
          "type": "string",
          "readOnly": true
        },
        "throughputMibps": {
          "type": "number",
          "description": "Optional. Throughput of the volume (in MiB/s)",
          "format": "double"
        },
        "restoreParameters": {
          "description": "Optional. Specifies the source of the volume to be created from.",
          "$ref": "RestoreParameters"
        },
        "exportPolicy": {
          "description": "Optional. Export policy of the volume",
          "$ref": "ExportPolicy"
        },
        "multipleEndpoints": {
          "type": "boolean",
          "description": "Optional. Flag indicating if the volume will have an IP address per node for volumes supporting multiple IP endpoints. Only the volume with large_capacity will be allowed to have multiple endpoints."
        },
        "smbSettings": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified default option",
              "SMB setting encrypt data",
              "SMB setting browsable",
              "SMB setting notify change",
              "SMB setting not to notify change",
              "SMB setting oplocks",
              "SMB setting to show snapshots",
              "SMB setting to show previous versions",
              "SMB setting to access volume based on enumerartion",
              "Continuously available enumeration"
            ],
            "enum": [
              "SMB_SETTINGS_UNSPECIFIED",
              "ENCRYPT_DATA",
              "BROWSABLE",
              "CHANGE_NOTIFY",
              "NON_BROWSABLE",
              "OPLOCKS",
              "SHOW_SNAPSHOT",
              "SHOW_PREVIOUS_VERSIONS",
              "ACCESS_BASED_ENUMERATION",
              "CONTINUOUSLY_AVAILABLE"
            ]
          },
          "description": "Optional. SMB share settings for the volume.",
          "type": "array"
        },
        "coldTierSizeGib": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Size of the volume cold tier data rounded down to the nearest GiB."
        },
        "storagePool": {
          "description": "Required. StoragePool name of the volume",
          "type": "string"
        },
        "backupConfig": {
          "$ref": "BackupConfig",
          "description": "BackupConfig of the volume."
        },
        "snapReserve": {
          "description": "Optional. Snap_reserve specifies percentage of volume storage reserved for snapshot storage. Default is 0 percent.",
          "format": "double",
          "type": "number"
        },
        "tieringPolicy": {
          "$ref": "TieringPolicy",
          "description": "Tiering policy for the volume."
        },
        "hybridReplicationParameters": {
          "$ref": "HybridReplicationParameters",
          "description": "Optional. The Hybrid Replication parameters for the volume."
        },
        "securityStyle": {
          "type": "string",
          "description": "Optional. Security Style of the Volume",
          "enumDescriptions": [
            "SecurityStyle is unspecified",
            "SecurityStyle uses NTFS",
            "SecurityStyle uses UNIX"
          ],
          "enum": [
            "SECURITY_STYLE_UNSPECIFIED",
            "NTFS",
            "UNIX"
          ]
        },
        "blockDevices": {
          "description": "Optional. Block devices for the volume. Currently, only one block device is permitted per Volume.",
          "items": {
            "$ref": "BlockDevice"
          },
          "type": "array"
        },
        "largeCapacityConfig": {
          "$ref": "LargeCapacityConfig",
          "description": "Optional. Large capacity config for the volume. Enables and configures large capacity for volumes in Unified pools with File protocols. Not applicable for Block protocols in Unified pools. This field and the legacy `large_capacity` boolean field are mutually exclusive."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the volume",
          "enumDescriptions": [
            "Unspecified Volume State",
            "Volume State is Ready",
            "Volume State is Creating",
            "Volume State is Deleting",
            "Volume State is Updating",
            "Volume State is Restoring",
            "Volume State is Disabled",
            "Volume State is Error",
            "Volume State is Preparing. Note that this is different from CREATING where CREATING means the volume is being created, while PREPARING means the volume is created and now being prepared for the replication.",
            "Volume State is Read Only"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR",
            "PREPARING",
            "READ_ONLY"
          ]
        },
        "psaRange": {
          "description": "Output only. This field is not implemented. The values provided in this field are ignored.",
          "readOnly": true,
          "type": "string"
        },
        "stateDetails": {
          "description": "Output only. State details of the volume",
          "readOnly": true,
          "type": "string"
        },
        "cacheParameters": {
          "description": "Optional. Cache parameters for the volume.",
          "$ref": "CacheParameters"
        },
        "capacityGib": {
          "format": "int64",
          "description": "Required. Capacity in GIB of the volume",
          "type": "string"
        }
      },
      "id": "Volume"
    },
    "BackupSource": {
      "id": "BackupSource",
      "description": "Represents the backup source of the restore operation.",
      "properties": {
        "backup": {
          "type": "string",
          "description": "Required. The backup resource name."
        },
        "fileList": {
          "description": "Optional. List of files to be restored in the form of their absolute path as in source volume. If provided, only these files will be restored. If not provided, the entire backup will be restored (Full Backup Restore)",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Backup": {
      "type": "object",
      "description": "A NetApp Backup.",
      "properties": {
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use"
        },
        "volumeRegion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Region of the volume from which the backup was created. Format: `projects/{project_id}/locations/{location}`"
        },
        "ontapSource": {
          "description": "Optional. Represents source details for ONTAP backups. Either source_volume or ontap_source should be provided.",
          "$ref": "OntapSource"
        },
        "chainStorageBytes": {
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "enforcedRetentionEndTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time until which the backup is not deletable."
        },
        "volumeUsageBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Size of the file system when the backup was created. When creating a new volume from the backup, the volume capacity will have to be at least as big.",
          "format": "int64"
        },
        "sourceVolume": {
          "type": "string",
          "description": "The resource name of the volume that this backup belongs to. You must provide either `source_volume` or `ontap_source`. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}`"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the backup was created."
        },
        "state": {
          "description": "Output only. The backup state.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "Backup is being created. While in this state, the snapshot for the backup point-in-time may not have been created yet, and so the point-in-time may not have been fixed.",
            "Backup is being uploaded. While in this state, none of the writes to the volume will be included in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new volumes or restoring existing volumes.",
            "Backup is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPLOADING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ]
        },
        "backupRegion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Region in which backup is stored. Format: `projects/{project_id}/locations/{location}`"
        },
        "name": {
          "description": "Identifier. The resource name of the backup. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`.",
          "type": "string"
        },
        "backupType": {
          "enumDescriptions": [
            "Unspecified backup type.",
            "Manual backup type.",
            "Scheduled backup type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MANUAL",
            "SCHEDULED"
          ],
          "description": "Output only. Type of backup, manually created or created by a backup policy.",
          "readOnly": true,
          "type": "string"
        },
        "sourceSnapshot": {
          "description": "If specified, backup will be created from the given snapshot. If not specified, there will be a new snapshot taken to initiate the backup creation. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`",
          "type": "string"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use",
          "type": "boolean",
          "readOnly": true
        },
        "description": {
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        }
      },
      "id": "Backup"
    },
    "SnapshotPolicy": {
      "description": "Snapshot Policy for a volume.",
      "properties": {
        "hourlySchedule": {
          "description": "Hourly schedule policy.",
          "$ref": "HourlySchedule"
        },
        "dailySchedule": {
          "$ref": "DailySchedule",
          "description": "Daily schedule policy."
        },
        "weeklySchedule": {
          "$ref": "WeeklySchedule",
          "description": "Weekly schedule policy."
        },
        "monthlySchedule": {
          "$ref": "MonthlySchedule",
          "description": "Monthly schedule policy."
        },
        "enabled": {
          "description": "If enabled, make snapshots automatically according to the schedules. Default is false.",
          "type": "boolean"
        }
      },
      "id": "SnapshotPolicy",
      "type": "object"
    },
    "ListQuotaRulesResponse": {
      "description": "ListQuotaRulesResponse is the response to a ListQuotaRulesRequest.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "quotaRules": {
          "type": "array",
          "description": "List of quota rules",
          "items": {
            "$ref": "QuotaRule"
          }
        }
      },
      "id": "ListQuotaRulesResponse",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "MonthlySchedule": {
      "id": "MonthlySchedule",
      "description": "Make a snapshot once a month e.g. at 2nd 04:00, 7th 05:20, 24th 23:50",
      "properties": {
        "hour": {
          "format": "double",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number"
        },
        "snapshotsToKeep": {
          "type": "number",
          "format": "double",
          "description": "The maximum number of Snapshots to keep for the hourly schedule"
        },
        "minute": {
          "type": "number",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "format": "double"
        },
        "daysOfMonth": {
          "type": "string",
          "description": "Set the day or days of the month to make a snapshot (1-31). Accepts a comma separated number of days. Defaults to '1'."
        }
      },
      "type": "object"
    },
    "QuotaRule": {
      "id": "QuotaRule",
      "description": "QuotaRule specifies the maximum disk space a user or group can use within a volume. They can be used for creating default and individual quota rules.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. The type of quota rule.",
          "enumDescriptions": [
            "Unspecified type for quota rule",
            "Individual user quota rule",
            "Individual group quota rule",
            "Default user quota rule",
            "Default group quota rule"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INDIVIDUAL_USER_QUOTA",
            "INDIVIDUAL_GROUP_QUOTA",
            "DEFAULT_USER_QUOTA",
            "DEFAULT_GROUP_QUOTA"
          ]
        },
        "stateDetails": {
          "description": "Output only. State details of the quota rule",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time of the quota rule",
          "type": "string",
          "readOnly": true
        },
        "diskLimitMib": {
          "type": "integer",
          "description": "Required. The maximum allowed disk space in MiB.",
          "format": "int32"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the quota rule"
        },
        "target": {
          "description": "Optional. The quota rule applies to the specified user or group, identified by a Unix UID/GID, Windows SID, or null for default.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels of the quota rule",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "description": "Output only. State of the quota rule",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state for quota rule",
            "Quota rule is creating",
            "Quota rule is updating",
            "Quota rule is deleting",
            "Quota rule is ready",
            "Quota rule is in error state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "READY",
            "ERROR"
          ]
        }
      },
      "type": "object"
    },
    "RestoreBackupFilesRequest": {
      "type": "object",
      "description": "RestoreBackupFilesRequest restores files from a backup to a volume.",
      "properties": {
        "restoreDestinationPath": {
          "description": "Optional. Absolute directory path in the destination volume. This is required if the `file_list` is provided.",
          "type": "string"
        },
        "backup": {
          "type": "string",
          "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`"
        },
        "fileList": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of files to be restored, specified by their absolute path in the source volume.",
          "type": "array"
        }
      },
      "id": "RestoreBackupFilesRequest"
    },
    "UserCommands": {
      "id": "UserCommands",
      "description": "UserCommands contains the commands to be executed by the customer.",
      "properties": {
        "commands": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of commands to be executed by the customer.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "BackupPolicy": {
      "id": "BackupPolicy",
      "description": "Backup Policy.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "monthlyBackupLimit": {
          "format": "int32",
          "description": "Number of monthly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
[...]
