{
  "description": "",
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "version_module": true,
  "canonicalName": "NetworkSecurity",
  "title": "Network Security API",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "FirewallEndpointAssociationReference": {
      "id": "FirewallEndpointAssociationReference",
      "type": "object",
      "properties": {
        "network": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The VPC network associated. Format: projects/{project}/global/networks/{name}."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the FirewallEndpointAssociation. Format: projects/{project}/locations/{location}/firewallEndpointAssociations/{id}"
        }
      },
      "description": "This is a subset of the FirewallEndpointAssociation message, containing fields to be used by the consumer."
    },
    "UrlFilter": {
      "properties": {
        "filteringAction": {
          "type": "string",
          "enum": [
            "URL_FILTERING_ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "description": "Required. The action taken when this filter is applied.",
          "enumDescriptions": [
            "Filtering action not specified.",
            "The connection matching this filter will be allowed to transmit.",
            "The connection matching this filter will be dropped."
          ]
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The priority of this filter within the URL Filtering Profile. Lower integers indicate higher priorities. The priority of a filter must be unique within a URL Filtering Profile."
        },
        "urls": {
          "description": "Required. The list of strings that a URL must match with for this filter to be applied.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "UrlFilter",
      "type": "object",
      "description": "A URL filter defines an action to take for some URL match."
    },
    "ListAddressGroupsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "addressGroups": {
          "type": "array",
          "items": {
            "$ref": "AddressGroup"
          },
          "description": "List of AddressGroups resources."
        }
      },
      "id": "ListAddressGroupsResponse",
      "type": "object",
      "description": "Response returned by the ListAddressGroups method."
    },
    "SACRealmPairingKey": {
      "description": "Key to be shared with SSE service provider to establish global handshake.",
      "id": "SACRealmPairingKey",
      "type": "object",
      "properties": {
        "key": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Key value."
        },
        "expireTime": {
          "description": "Output only. Timestamp in UTC of when this resource is considered expired. It expires 7 days after creation.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "BackendAuthenticationConfig": {
      "id": "BackendAuthenticationConfig",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Set of label tags associated with the resource.",
          "type": "object"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Etag of the resource."
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "wellKnownRoots": {
          "description": "Well known roots to use for server certificate validation.",
          "enumDescriptions": [
            "Equivalent to NONE.",
            "The BackendService will only validate server certificates against roots specified in TrustConfig.",
            "The BackendService uses a set of well-known public roots, in addition to any roots specified in the trustConfig field, when validating the server certificates presented by the backend. Validation with these roots is only considered when the TlsSettings.sni field in the BackendService is set. The well-known roots are a set of root CAs managed by Google. CAs in this set can be added or removed without notice."
          ],
          "enum": [
            "WELL_KNOWN_ROOTS_UNSPECIFIED",
            "NONE",
            "PUBLIC_ROOTS"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created."
        },
        "clientCertificate": {
          "type": "string",
          "description": "Optional. A reference to a certificatemanager.googleapis.com.Certificate resource. This is a relative resource path following the form \"projects/{project}/locations/{location}/certificates/{certificate}\". Used by a BackendService to negotiate mTLS when the backend connection uses TLS and the backend requests a client certificate. Must have a CLIENT_AUTH scope."
        },
        "trustConfig": {
          "description": "Optional. A reference to a TrustConfig resource from the certificatemanager.googleapis.com namespace. This is a relative resource path following the form \"projects/{project}/locations/{location}/trustConfigs/{trust_config}\". A BackendService uses the chain of trust represented by this TrustConfig, if specified, to validate the server certificates presented by the backend. Required unless wellKnownRoots is set to PUBLIC_ROOTS.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the BackendAuthenticationConfig resource. It matches the pattern `projects/*/locations/{location}/backendAuthenticationConfigs/{backend_authentication_config}`",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "BackendAuthenticationConfig message groups the TrustConfig together with other settings that control how the load balancer authenticates, and expresses its identity to, the backend: * `trustConfig` is the attached TrustConfig. * `wellKnownRoots` indicates whether the load balance should trust backend server certificates that are issued by public certificate authorities, in addition to certificates trusted by the TrustConfig. * `clientCertificate` is a client certificate that the load balancer uses to express its identity to the backend, if the connection to the backend uses mTLS. You can attach the BackendAuthenticationConfig to the load balancer's BackendService directly determining how that BackendService negotiates TLS."
    },
    "AuthzPolicyCustomProviderAuthzExtension": {
      "description": "Optional. Delegate authorization decision to user authored extension. Only one of cloudIap or authzExtension can be specified.",
      "id": "AuthzPolicyCustomProviderAuthzExtension",
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of references to authorization extensions that will be invoked for requests matching this policy. Limited to 1 custom provider."
        }
      }
    },
    "MirroringDeployment": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. User-provided description of the deployment. Used as additional context for the deployment."
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. linking a new association to the parent group). See https://google.aip.dev/128."
        },
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of the deployment. See https://google.aip.dev/216.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps."
        },
        "mirroringDeploymentGroup": {
          "description": "Required. Immutable. The deployment group that this deployment is a part of, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
        },
        "forwardingRule": {
          "type": "string",
          "description": "Required. Immutable. The regional forwarding rule that fronts the mirroring collectors, for example: `projects/123456789/regions/us-central1/forwardingRules/my-rule`. See https://google.aip.dev/124."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this deployment, for example: `projects/123456789/locations/us-central1-a/mirroringDeployments/my-dep`. See https://google.aip.dev/122 for more details."
        }
      },
      "id": "MirroringDeployment",
      "type": "object",
      "description": "A deployment represents a zonal mirroring backend ready to accept GENEVE-encapsulated replica traffic, e.g. a zonal instance group fronted by an internal passthrough load balancer. Deployments are always part of a global deployment group which represents a global mirroring service."
    },
    "GoogleCloudNetworksecurityV1CertificateProvider": {
      "description": "Specification of certificate provider. Defines the mechanism to obtain the certificate and private key for peer to peer authentication.",
      "id": "GoogleCloudNetworksecurityV1CertificateProvider",
      "type": "object",
      "properties": {
        "grpcEndpoint": {
          "$ref": "GoogleCloudNetworksecurityV1GrpcEndpoint",
          "description": "gRPC specific configuration to access the gRPC server to obtain the cert and private key."
        },
        "certificateProviderInstance": {
          "description": "The certificate provider instance specification that will be passed to the data plane, which will be used to load necessary credential information.",
          "$ref": "CertificateProviderInstance"
        }
      }
    },
    "ListAuthorizationPoliciesResponse": {
      "properties": {
        "authorizationPolicies": {
          "type": "array",
          "items": {
            "$ref": "AuthorizationPolicy"
          },
          "description": "List of AuthorizationPolicies resources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "id": "ListAuthorizationPoliciesResponse",
      "type": "object",
      "description": "Response returned by the ListAuthorizationPolicies method."
    },
    "ListFirewallEndpointsResponse": {
      "id": "ListFirewallEndpointsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "firewallEndpoints": {
          "type": "array",
          "items": {
            "$ref": "FirewallEndpoint"
          },
          "description": "The list of Endpoint"
        }
      },
      "description": "Message for response to listing Endpoints"
    },
    "MirroringEndpointGroupAssociationDetails": {
      "description": "The endpoint group's view of a connected association.",
      "properties": {
        "network": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The associated network, for example: projects/123456789/global/networks/my-network. See https://google.aip.dev/124."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Most recent known state of the association.",
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The connected association's resource name, for example: `projects/123456789/locations/global/mirroringEndpointGroupAssociations/my-ega`. See https://google.aip.dev/124."
        }
      },
      "id": "MirroringEndpointGroupAssociationDetails",
      "type": "object"
    },
    "AuthzPolicyAuthzRuleToRequestOperationMCPMethod": {
      "id": "AuthzPolicyAuthzRuleToRequestOperationMCPMethod",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The MCP method to match against. Allowed values are as follows: 1. `tools`, `prompts`, `resources` - these will match against all sub methods under the respective methods. 2. `prompts/list`, `tools/list`, `resources/list`, `resources/templates/list` 3. `prompts/get`, `tools/call`, `resources/subscribe`, `resources/unsubscribe`, `resources/read` Params cannot be specified for categories 1 and 2."
        },
        "params": {
          "description": "Optional. A list of MCP method parameters to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 MCP method parameters per Authorization Policy.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          }
        }
      },
      "description": "Describes a set of MCP methods to match against."
    },
    "MirroringDeploymentGroupDeployment": {
      "properties": {
        "state": {
          "description": "Output only. Most recent known state of the deployment.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ]
        },
        "name": {
          "description": "Output only. The name of the Mirroring Deployment, in the format: `projects/{project}/locations/{location}/mirroringDeployments/{mirroring_deployment}`.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "MirroringDeploymentGroupDeployment",
      "type": "object",
      "description": "A deployment belonging to this deployment group."
    },
    "SecurityProfileGroup": {
      "description": "SecurityProfileGroup is a resource that defines the behavior for various ProfileTypes.",
      "properties": {
        "dataPathId": {
          "description": "Output only. Identifier used by the data-path. Unique within `{container, location}`.",
          "type": "string",
          "format": "uint64",
          "readOnly": true
        },
        "urlFilteringProfile": {
          "description": "Optional. Reference to a SecurityProfile with the UrlFiltering configuration.",
          "type": "string"
        },
        "description": {
          "description": "Optional. An optional description of the profile group. Max length 2048 characters.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Last resource update timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "customMirroringProfile": {
          "description": "Optional. Reference to a SecurityProfile with the CustomMirroring configuration.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Resource creation timestamp."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. Name of the SecurityProfileGroup resource. It matches pattern `projects|organizations/*/locations/{location}/securityProfileGroups/{security_profile_group}`."
        },
        "customInterceptProfile": {
          "description": "Optional. Reference to a SecurityProfile with the CustomIntercept configuration.",
          "type": "string"
        },
        "threatPreventionProfile": {
          "description": "Optional. Reference to a SecurityProfile with the ThreatPrevention configuration.",
          "type": "string"
        }
      },
      "id": "SecurityProfileGroup",
      "type": "object"
    },
    "MirroringEndpointGroupAssociationLocationDetails": {
      "description": "Contains details about the state of an association in a specific cloud location.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OUT_OF_SYNC"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the association in this location.",
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically."
          ]
        },
        "location": {
          "description": "Output only. The cloud location, e.g. \"us-central1-a\" or \"asia-south1\".",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "MirroringEndpointGroupAssociationLocationDetails",
      "type": "object"
    },
    "ListAuthzPoliciesResponse": {
      "description": "Message for response to listing `AuthzPolicy` resources.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "authzPolicies": {
          "description": "The list of `AuthzPolicy` resources.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicy"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results that the server returns.",
          "type": "string"
        }
      },
      "id": "ListAuthzPoliciesResponse",
      "type": "object"
    },
    "AddAddressGroupItemsRequest": {
      "description": "Request used by the AddAddressGroupItems method.",
      "properties": {
        "items": {
          "description": "Required. List of items to add.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "AddAddressGroupItemsRequest",
      "type": "object"
    },
    "InterceptEndpointGroup": {
      "description": "An endpoint group is a consumer frontend for a deployment group (backend). In order to configure intercept for a network, consumers must create: - An association between their network and the endpoint group. - A security profile that points to the endpoint group. - A firewall rule that references the security profile (group).",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "type": "object"
        },
        "associations": {
          "description": "Output only. List of associations to this endpoint group.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "InterceptEndpointGroupAssociationDetails"
          }
        },
        "connectedDeploymentGroup": {
          "$ref": "InterceptEndpointGroupConnectedDeploymentGroup",
          "description": "Output only. Details about the connected deployment group to this endpoint group.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. User-provided description of the endpoint group. Used as additional context for the endpoint group.",
          "type": "string"
        },
        "interceptDeploymentGroup": {
          "description": "Required. Immutable. The deployment group that this endpoint group is connected to, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new association to the group). See https://google.aip.dev/128.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this endpoint group, for example: `projects/123456789/locations/global/interceptEndpointGroups/my-eg`. See https://google.aip.dev/122 for more details."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CLOSED",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of the endpoint group. See https://google.aip.dev/216.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The endpoint group is ready and in sync with the target deployment group.",
            "The deployment group backing this endpoint group has been force-deleted. This endpoint group cannot be used and interception is effectively disabled.",
            "The endpoint group is being created.",
            "The endpoint group is being deleted.",
            "The endpoint group is out of sync with the backing deployment group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. See the associations field for details per network and location.",
            "An attempt to delete the endpoint group has failed. This is a terminal state and the endpoint group is not expected to recover. The only permitted operation is to retry deleting the endpoint group."
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps."
        }
      },
      "id": "InterceptEndpointGroup",
      "type": "object"
    },
    "FirewallEndpointEndpointSettings": {
      "properties": {
        "jumboFramesEnabled": {
          "description": "Optional. Immutable. Indicates whether Jumbo Frames are enabled. Default value is false.",
          "type": "boolean"
        }
      },
      "id": "FirewallEndpointEndpointSettings",
      "type": "object",
      "description": "Settings for the endpoint."
    },
    "ListInterceptEndpointGroupAssociationsResponse": {
      "description": "Response message for ListInterceptEndpointGroupAssociations.",
      "properties": {
        "interceptEndpointGroupAssociations": {
          "description": "The associations from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "InterceptEndpointGroupAssociation"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        }
      },
      "id": "ListInterceptEndpointGroupAssociationsResponse",
      "type": "object"
    },
    "InterceptEndpointGroupAssociation": {
      "description": "An endpoint group association represents a link between a network and an endpoint group in the organization. Creating an association creates the networking infrastructure linking the network to the endpoint group, but does not enable intercept by itself. To enable intercept, the user must also create a network firewall policy containing intercept rules and associate it with the network.",
      "properties": {
        "locations": {
          "description": "Output only. The list of locations where the association is configured. This information is retrieved from the linked endpoint group.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "InterceptLocation"
          }
        },
        "networkCookie": {
          "type": "integer",
          "format": "uint32",
          "readOnly": true,
          "description": "Output only. Identifier used by the data-path. See the NSI GENEVE format for more details: https://docs.cloud.google.com/network-security-integration/docs/understand-geneve#network_id"
        },
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. adding a new location to the target deployment group). See https://google.aip.dev/128."
        },
        "interceptEndpointGroup": {
          "description": "Required. Immutable. The endpoint group that this association is connected to, for example: `projects/123456789/locations/global/interceptEndpointGroups/my-eg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this endpoint group association, for example: `projects/123456789/locations/global/interceptEndpointGroupAssociations/my-eg-association`. See https://google.aip.dev/122 for more details."
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "network": {
          "type": "string",
          "description": "Required. Immutable. The VPC network that is associated. for example: `projects/123456789/global/networks/my-network`. See https://google.aip.dev/124."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "locationsDetails": {
          "description": "Output only. The list of locations where the association is present. This information is retrieved from the linked endpoint group, and not configured as part of the association itself.",
          "deprecated": true,
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "InterceptEndpointGroupAssociationLocationDetails"
          }
        },
        "state": {
          "description": "Output only. Current state of the endpoint group association.",
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ]
        }
      },
      "id": "InterceptEndpointGroupAssociation",
      "type": "object"
    },
    "CustomInterceptProfile": {
      "description": "CustomInterceptProfile defines in-band integration behavior (intercept). It is used by firewall rules with an APPLY_SECURITY_PROFILE_GROUP action.",
      "properties": {
        "interceptEndpointGroup": {
          "type": "string",
          "description": "Required. The target InterceptEndpointGroup. When a firewall rule with this security profile attached matches a packet, the packet will be intercepted to the location-local target in this group."
        }
      },
      "id": "CustomInterceptProfile",
      "type": "object"
    },
    "ListMirroringDeploymentGroupsResponse": {
      "id": "ListMirroringDeploymentGroupsResponse",
      "type": "object",
      "properties": {
        "mirroringDeploymentGroups": {
          "type": "array",
          "items": {
            "$ref": "MirroringDeploymentGroup"
          },
          "description": "The deployment groups from the specified parent."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        }
      },
      "description": "Response message for ListMirroringDeploymentGroups."
    },
    "InterceptLocation": {
      "description": "Details about intercept in a specific cloud location.",
      "properties": {
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The cloud location, e.g. \"us-central1-a\" or \"asia-south1\"."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of the association in this location.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The resource is ready and in sync in the location.",
            "The resource is out of sync in the location. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OUT_OF_SYNC"
          ]
        }
      },
      "id": "InterceptLocation",
      "type": "object"
    },
    "AuthzPolicyCustomProviderCloudIap": {
      "properties": {},
      "id": "AuthzPolicyCustomProviderCloudIap",
      "type": "object",
      "description": "Optional. Delegates authorization decisions to Cloud IAP. Applicable only for managed load balancers. Enabling Cloud IAP at the AuthzPolicy level is not compatible with Cloud IAP settings in the BackendService. Enabling IAP in both places will result in request failure. Ensure that IAP is enabled in either the AuthzPolicy or the BackendService but not in both places."
    },
    "AuthzPolicyTarget": {
      "description": "Specifies the set of targets to which this policy should be applied to.",
      "properties": {
        "loadBalancingScheme": {
          "description": "Optional. All gateways and forwarding rules referenced by this policy and extensions must share the same load balancing scheme. Required only when targeting forwarding rules. If targeting Secure Web Proxy, this field must be `INTERNAL_MANAGED` or not specified. Must not be specified when targeting Agent Gateway. Supported values: `INTERNAL_MANAGED` and `EXTERNAL_MANAGED`. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service).",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Signifies that this is used for Regional internal or Cross-region internal Application Load Balancing.",
            "Signifies that this is used for Global external or Regional external Application Load Balancing.",
            "Signifies that this is used for Cloud Service Mesh. Meant for use by CSM GKE controller only."
          ],
          "enum": [
            "LOAD_BALANCING_SCHEME_UNSPECIFIED",
            "INTERNAL_MANAGED",
            "EXTERNAL_MANAGED",
            "INTERNAL_SELF_MANAGED"
          ],
          "type": "string"
        },
        "resources": {
          "description": "Required. A list of references to the Forwarding Rules, Secure Web Proxy Gateways, or Agent Gateways on which this policy will be applied.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AuthzPolicyTarget",
      "type": "object"
    },
    "InterceptDeployment": {
      "description": "A deployment represents a zonal intercept backend ready to accept GENEVE-encapsulated traffic, e.g. a zonal instance group fronted by an internal passthrough load balancer. Deployments are always part of a global deployment group which represents a global intercept service.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
        },
        "forwardingRule": {
          "description": "Required. Immutable. The regional forwarding rule that fronts the interceptors, for example: `projects/123456789/regions/us-central1/forwardingRules/my-rule`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this deployment, for example: `projects/123456789/locations/us-central1-a/interceptDeployments/my-dep`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the deployment. See https://google.aip.dev/216.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources."
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description of the deployment. Used as additional context for the deployment."
        },
        "interceptDeploymentGroup": {
          "type": "string",
          "description": "Required. Immutable. The deployment group that this deployment is a part of, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124."
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. linking a new association to the parent group). See https://google.aip.dev/128."
        }
      },
      "id": "InterceptDeployment",
      "type": "object"
    },
    "MirroringDeploymentGroupConnectedEndpointGroup": {
      "description": "An endpoint group connected to this deployment group.",
      "id": "MirroringDeploymentGroupConnectedEndpointGroup",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The connected endpoint group's resource name, for example: `projects/123456789/locations/global/mirroringEndpointGroups/my-eg`. See https://google.aip.dev/124."
        }
      }
    },
    "ListGatewaySecurityPolicyRulesResponse": {
      "description": "Response returned by the ListGatewaySecurityPolicyRules method.",
      "id": "ListGatewaySecurityPolicyRulesResponse",
      "type": "object",
      "properties": {
        "gatewaySecurityPolicyRules": {
          "type": "array",
          "items": {
            "$ref": "GatewaySecurityPolicyRule"
          },
          "description": "List of GatewaySecurityPolicyRule resources."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "SACRealm": {
      "id": "SACRealm",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Resource name, in the form `projects/{project}/locations/global/sacRealms/{sacRealm}`.",
          "type": "string"
        },
        "pairingKey": {
          "$ref": "SACRealmPairingKey",
          "description": "Output only. Key to be shared with SSE service provider during pairing.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Optional list of labels applied to the resource."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the realm was created."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the realm was last updated."
        },
        "securityService": {
          "description": "Immutable. SSE service provider associated with the realm.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "[Palo Alto Networks Prisma Access](https://www.paloaltonetworks.com/sase/access)."
          ],
          "type": "string",
          "enum": [
            "SECURITY_SERVICE_UNSPECIFIED",
            "PALO_ALTO_PRISMA_ACCESS"
          ]
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_PARTNER_ATTACHMENT",
            "PARTNER_ATTACHED",
            "PARTNER_DETACHED",
            "KEY_EXPIRED"
          ],
          "description": "Output only. State of the realm.",
          "enumDescriptions": [
            "No state specified. This should not be used.",
            "Has never been attached to a partner. Used only for Prisma Access.",
            "Currently attached to a partner.",
            "Was once attached to a partner but has been detached.",
            "Is not attached to a partner and has an expired pairing key. Used only for Prisma Access."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents a Secure Access Connect (SAC) realm resource. A Secure Access Connect realm establishes a connection between your Google Cloud project and an SSE service."
    },
    "TlsInspectionPolicy": {
      "description": "The TlsInspectionPolicy resource contains references to CA pools in Certificate Authority Service and associated metadata.",
      "properties": {
        "caPool": {
          "description": "Required. A CA pool resource used to issue interception certificates. The CA pool string has a relative resource path following the form \"projects/{project}/locations/{location}/caPools/{ca_pool}\".",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Free-text description of the resource."
        },
        "customTlsFeatures": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of custom TLS cipher suites selected. This field is valid only if the selected tls_feature_profile is CUSTOM. The compute.SslPoliciesService.ListAvailableFeatures method returns the set of features that can be specified in this list. Note that Secure Web Proxy does not yet honor this field."
        },
        "excludePublicCaSet": {
          "type": "boolean",
          "description": "Optional. If FALSE (the default), use our default set of public CAs in addition to any CAs specified in trust_config. These public CAs are currently based on the Mozilla Root Program and are subject to change over time. If TRUE, do not accept our default set of public CAs. Only CAs specified in trust_config will be accepted. This defaults to FALSE (use public CAs in addition to trust_config) for backwards compatibility, but trusting public root CAs is *not recommended* unless the traffic in question is outbound to public web servers. When possible, prefer setting this to \"false\" and explicitly specifying trusted CAs and certificates in a TrustConfig. Note that Secure Web Proxy does not yet honor this field."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated."
        },
        "trustConfig": {
          "type": "string",
          "description": "Optional. A TrustConfig resource used when making a connection to the TLS server. This is a relative resource path following the form \"projects/{project}/locations/{location}/trustConfigs/{trust_config}\". This is necessary to intercept TLS connections to servers with certificates signed by a private CA or self-signed certificates. Note that Secure Web Proxy does not yet honor this field."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        },
        "tlsFeatureProfile": {
          "description": "Optional. The selected Profile. If this is not set, then the default value is to allow the broadest set of clients and servers (\"PROFILE_COMPATIBLE\"). Setting this to more restrictive values may improve security, but may also prevent the TLS inspection proxy from connecting to some clients or servers. Note that Secure Web Proxy does not yet honor this field.",
          "enumDescriptions": [
            "Indicates no profile was specified.",
            "Compatible profile. Allows the broadest set of clients, even those which support only out-of-date SSL features to negotiate with the TLS inspection proxy.",
            "Modern profile. Supports a wide set of SSL features, allowing modern clients to negotiate SSL with the TLS inspection proxy.",
            "Restricted profile. Supports a reduced set of SSL features, intended to meet stricter compliance requirements.",
            "Custom profile. Allow only the set of allowed SSL features specified in the custom_features field of SslPolicy."
          ],
          "enum": [
            "PROFILE_UNSPECIFIED",
            "PROFILE_COMPATIBLE",
            "PROFILE_MODERN",
            "PROFILE_RESTRICTED",
            "PROFILE_CUSTOM"
          ],
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the resource. Name is of the form projects/{project}/locations/{location}/tlsInspectionPolicies/{tls_inspection_policy} tls_inspection_policy should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "minTlsVersion": {
          "description": "Optional. Minimum TLS version that the firewall should use when negotiating connections with both clients and servers. If this is not set, then the default value is to allow the broadest set of clients and servers (TLS 1.0 or higher). Setting this to more restrictive values may improve security, but may also prevent the firewall from connecting to some clients or servers. Note that Secure Web Proxy does not yet honor this field.",
          "enumDescriptions": [
            "Indicates no TLS version was specified.",
            "TLS 1.0",
            "TLS 1.1",
            "TLS 1.2",
            "TLS 1.3"
          ],
          "type": "string",
          "enum": [
            "TLS_VERSION_UNSPECIFIED",
            "TLS_1_0",
            "TLS_1_1",
            "TLS_1_2",
            "TLS_1_3"
          ]
        }
      },
      "id": "TlsInspectionPolicy",
      "type": "object"
    },
    "Destination": {
      "description": "Specification of traffic destination attributes.",
      "id": "Destination",
      "type": "object",
      "properties": {
        "hosts": {
          "description": "Required. List of host names to match. Matched against the \":authority\" header in http requests. At least one host should match. Each host can be an exact match, or a prefix match (example \"mydomain.*\") or a suffix match (example \"*.myorg.com\") or a presence (any) match \"*\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "methods": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of HTTP methods to match. At least one method should match. Should not be set for gRPC services."
        },
        "httpHeaderMatch": {
          "$ref": "HttpHeaderMatch",
          "description": "Optional. Match against key:value pair in http header. Provides a flexible match based on HTTP headers, for potentially advanced use cases. At least one header should match. Avoid using header matches to make authorization decisions unless there is a strong guarantee that requests arrive through a trusted client or proxy."
        },
        "ports": {
          "description": "Required. List of destination ports to match. At least one port should match.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "uint32"
          }
        }
      }
    },
    "AuthzPolicyAuthzRuleIpBlock": {
      "properties": {
        "prefix": {
          "description": "Required. The address prefix.",
          "type": "string"
        },
        "length": {
          "description": "Required. The length of the address range.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AuthzPolicyAuthzRuleIpBlock",
      "type": "object",
      "description": "Represents a range of IP Addresses."
    },
    "ThreatPreventionProfile": {
      "description": "ThreatPreventionProfile defines an action for specific threat signatures or severity levels.",
      "properties": {
        "severityOverrides": {
          "type": "array",
          "items": {
            "$ref": "SeverityOverride"
          },
          "description": "Optional. Configuration for overriding threats actions by severity match."
        },
        "antivirusOverrides": {
          "description": "Optional. Configuration for overriding antivirus actions per protocol.",
          "type": "array",
          "items": {
            "$ref": "AntivirusOverride"
          }
        },
        "threatOverrides": {
          "type": "array",
          "items": {
            "$ref": "ThreatOverride"
          },
          "description": "Optional. Configuration for overriding threats actions by threat_id match. If a threat is matched both by configuration provided in severity_overrides and threat_overrides, the threat_overrides action is applied."
        }
      },
      "id": "ThreatPreventionProfile",
      "type": "object"
    },
    "MirroringEndpointGroup": {
      "description": "An endpoint group is a consumer frontend for a deployment group (backend). In order to configure mirroring for a network, consumers must create: - An association between their network and the endpoint group. - A security profile that points to the endpoint group. - A mirroring rule that references the security profile (group).",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this endpoint group, for example: `projects/123456789/locations/global/mirroringEndpointGroups/my-eg`. See https://google.aip.dev/122 for more details."
        },
        "mirroringDeploymentGroup": {
          "description": "Immutable. The deployment group that this DIRECT endpoint group is connected to, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps."
        },
        "state": {
          "description": "Output only. The current state of the endpoint group. See https://google.aip.dev/216.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The endpoint group is ready and in sync with the target deployment group.",
            "The deployment group backing this endpoint group has been force-deleted. This endpoint group cannot be used and mirroring is effectively disabled.",
            "The endpoint group is being created.",
            "The endpoint group is being deleted.",
            "The endpoint group is out of sync with the backing deployment group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. See the associations field for details per network and location.",
            "An attempt to delete the endpoint group has failed. This is a terminal state and the endpoint group is not expected to recover. The only permitted operation is to retry deleting the endpoint group."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CLOSED",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "type": "object"
        },
        "connectedDeploymentGroups": {
          "description": "Output only. List of details about the connected deployment groups to this endpoint group.",
          "type": "array",
          "items": {
            "$ref": "MirroringEndpointGroupConnectedDeploymentGroup"
          },
          "readOnly": true
        },
        "associations": {
          "description": "Output only. List of associations to this endpoint group.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "MirroringEndpointGroupAssociationDetails"
          }
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "DIRECT"
          ],
          "type": "string",
          "description": "Immutable. The type of the endpoint group. If left unspecified, defaults to DIRECT.",
          "enumDescriptions": [
            "Not set.",
            "An endpoint group that sends packets to a single deployment group."
          ]
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new association to the group). See https://google.aip.dev/128."
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description of the endpoint group. Used as additional context for the endpoint group."
        }
      },
      "id": "MirroringEndpointGroup",
      "type": "object"
    },
    "InterceptDeploymentGroup": {
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "InterceptLocation"
          },
          "readOnly": true,
          "description": "Output only. The list of locations where the deployment group is present."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources."
        },
        "nestedDeployments": {
          "items": {
            "$ref": "InterceptDeploymentGroupDeployment"
          },
          "deprecated": true,
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of Intercept Deployments that belong to this group."
        },
        "reconciling": {
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new deployment to the group) See https://google.aip.dev/128.",
          "type": "boolean",
          "readOnly": true
        },
        "connectedEndpointGroups": {
          "description": "Output only. The list of endpoint groups that are connected to this resource.",
          "type": "array",
          "items": {
            "$ref": "InterceptDeploymentGroupConnectedEndpointGroup"
          },
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description of the deployment group. Used as additional context for the deployment group."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this deployment group, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/122 for more details."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
        },
        "network": {
          "type": "string",
          "description": "Required. Immutable. The network that will be used for all child deployments, for example: `projects/{project}/global/networks/{network}`. See https://google.aip.dev/124."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the deployment group. See https://google.aip.dev/216.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment group is ready.",
            "The deployment group is being created.",
            "The deployment group is being deleted."
          ]
        }
      },
      "id": "InterceptDeploymentGroup",
      "type": "object",
      "description": "A deployment group aggregates many zonal intercept backends (deployments) into a single global intercept service. Consumers can connect this service using an endpoint group."
    },
    "Expr": {
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "AuthzPolicyCustomProvider": {
      "description": "Allows delegating authorization decisions to Cloud IAP or to Service Extensions.",
      "properties": {
        "cloudIap": {
          "$ref": "AuthzPolicyCustomProviderCloudIap",
          "description": "Optional. Delegates authorization decisions to Cloud IAP. Applicable only for managed load balancers. Enabling Cloud IAP at the AuthzPolicy level is not compatible with Cloud IAP settings in the BackendService. Enabling IAP in both places will result in request failure. Ensure that IAP is enabled in either the AuthzPolicy or the BackendService but not in both places."
        },
        "authzExtension": {
          "$ref": "AuthzPolicyCustomProviderAuthzExtension",
          "description": "Optional. Delegate authorization decision to user authored Service Extension. Only one of cloudIap or authzExtension can be specified."
        }
      },
      "id": "AuthzPolicyCustomProvider",
      "type": "object"
    },
    "AuthzPolicyAuthzRuleToRequestOperationHeaderSet": {
      "properties": {
        "headers": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleHeaderMatch"
          },
          "description": "Required. A list of headers to match against in http header. The match can be one of exact, prefix, suffix, or contains (substring match). The match follows AND semantics which means all the headers must match. Matches are always case sensitive unless the ignoreCase is set. Limited to 10 headers per Authorization Policy."
        }
      },
      "id": "AuthzPolicyAuthzRuleToRequestOperationHeaderSet",
      "type": "object",
      "description": "Describes a set of HTTP headers to match against."
    },
    "ClientTlsPolicy": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated."
        },
        "description": {
          "type": "string",
          "description": "Optional. Free-text description of the resource."
        },
        "serverValidationCa": {
          "description": "Optional. Defines the mechanism to obtain the Certificate Authority certificate to validate the server certificate. If empty, client does not validate the server certificate.",
          "type": "array",
          "items": {
            "$ref": "ValidationCA"
          }
        },
        "sni": {
          "description": "Optional. Server Name Indication string to present to the server during TLS handshake. E.g: \"secure.example.com\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the ClientTlsPolicy resource. It matches the pattern `projects/{project}/locations/{location}/clientTlsPolicies/{client_tls_policy}`"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "clientCertificate": {
          "description": "Optional. Defines a mechanism to provision client identity (public and private keys) for peer to peer authentication. The presence of this dictates mTLS.",
          "$ref": "GoogleCloudNetworksecurityV1CertificateProvider"
        }
      },
      "id": "ClientTlsPolicy",
      "type": "object",
      "description": "ClientTlsPolicy is a resource that specifies how a client should authenticate connections to backends of a service. This resource itself does not affect configuration unless it is attached to a backend service resource."
    },
    "AuthzPolicyAuthzRuleToRequestOperation": {
      "description": "Describes properties of one or more targets of a request.",
      "properties": {
        "methods": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of HTTP methods to match against. Each entry must be a valid HTTP method name (GET, PUT, POST, HEAD, PATCH, DELETE, OPTIONS). It only allows exact match and is always case sensitive. Limited to 10 methods per Authorization Policy."
        },
        "mcp": {
          "$ref": "AuthzPolicyAuthzRuleToRequestOperationMCP",
          "description": "Optional. Defines the MCP protocol attributes to match on. If the MCP payload in the request body cannot be successfully parsed, the request will be denied. This field can be set only for AuthzPolicies targeting AgentGateway resources."
        },
        "headerSet": {
          "$ref": "AuthzPolicyAuthzRuleToRequestOperationHeaderSet",
          "description": "Optional. A list of headers to match against in http header."
        },
        "snis": {
          "description": "Optional. A list of SNIs to match against. The match can be one of exact, prefix, suffix, or contains (substring match). If there is no SNI (i.e. plaintext HTTP traffic), the request will be denied. Matches are always case sensitive unless the ignoreCase is set. Limited to 10 SNIs per Authorization Policy.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          }
        },
        "hosts": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          },
          "description": "Optional. A list of HTTP Hosts to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 hosts per Authorization Policy."
        },
        "paths": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          },
          "description": "Optional. A list of paths to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 paths per Authorization Policy. Note that this path match includes the query parameters. For gRPC services, this should be a fully-qualified name of the form /package.service/method."
        }
      },
      "id": "AuthzPolicyAuthzRuleToRequestOperation",
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "CertificateProviderInstance": {
      "id": "CertificateProviderInstance",
      "type": "object",
      "properties": {
        "pluginInstance": {
          "type": "string",
          "description": "Required. Plugin instance name, used to locate and load CertificateProvider instance configuration. Set to \"google_cloud_private_spiffe\" to use Certificate Authority Service certificate provider instance."
        }
      },
      "description": "Specification of a TLS certificate provider instance. Workloads may have one or more CertificateProvider instances (plugins) and one of them is enabled and configured by specifying this message. Workloads use the values from this message to locate and load the CertificateProvider instance configuration."
    },
    "UrlList": {
      "description": "UrlList proto helps users to set reusable, independently manageable lists of hosts, host patterns, URLs, URL patterns.",
      "id": "UrlList",
      "type": "object",
      "properties": {
        "values": {
          "description": "Required. FQDNs and URLs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. Free-text description of the resource."
        },
        "updateTime": {
          "description": "Output only. Time when the security policy was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the security policy was created."
        },
        "name": {
          "description": "Required. Name of the resource provided by the user. Name is of the form projects/{project}/locations/{location}/urlLists/{url_list} url_list should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        }
      }
    },
    "MirroringEndpointGroupConnectedDeploymentGroup": {
      "description": "The endpoint group's view of a connected deployment group.",
      "id": "MirroringEndpointGroupConnectedDeploymentGroup",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The connected deployment group's resource name, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124."
        },
        "locations": {
          "description": "Output only. The list of locations where the deployment group is present.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "MirroringLocation"
          }
        }
      }
    },
    "SeverityOverride": {
      "id": "SeverityOverride",
      "type": "object",
      "properties": {
        "action": {
          "description": "Required. Threat action override.",
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "type": "string",
          "enum": [
            "THREAT_ACTION_UNSPECIFIED",
            "DEFAULT_ACTION",
            "ALLOW",
            "ALERT",
            "DENY"
          ]
        },
        "severity": {
          "description": "Required. Severity level to match.",
          "enumDescriptions": [
            "Severity level not specified.",
            "Suspicious events that do not pose an immediate threat, but that are reported to call attention to deeper problems that could possibly exist.",
            "Warning-level threats that have very little impact on an organization's infrastructure. They usually require local or physical system access and may often result in victim privacy issues and information leakage.",
            "Minor threats in which impact is minimized, that do not compromise the target or exploits that require an attacker to reside on the same local network as the victim, affect only non-standard configurations or obscure applications, or provide very limited access.",
            "Threats that have the ability to become critical but have mitigating factors; for example, they may be difficult to exploit, do not result in elevated privileges, or do not have a large victim pool.",
            "Serious threats, such as those that affect default installations of widely deployed software, result in root compromise of servers, and the exploit code is widely available to attackers. The attacker usually does not need any special authentication credentials or knowledge about the individual victims and the target does not need to be manipulated into performing any special functions."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFORMATIONAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string"
        }
      },
      "description": "Defines what action to take for a specific severity match."
    },
    "GoogleIamV1AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        }
      },
      "id": "GoogleIamV1AuditConfig",
      "type": "object"
    },
    "ListTlsInspectionPoliciesResponse": {
      "description": "Response returned by the ListTlsInspectionPolicies method.",
      "properties": {
        "tlsInspectionPolicies": {
          "type": "array",
          "items": {
            "$ref": "TlsInspectionPolicy"
          },
          "description": "List of TlsInspectionPolicies resources."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListTlsInspectionPoliciesResponse",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "AuthzPolicyAuthzRuleToRequestOperationMCP": {
      "properties": {
        "baseProtocolMethodsOption": {
          "description": "Optional. If specified, matches on the MCP protocol’s non-access specific methods namely: * initialize * completion/ * logging/ * notifications/ * ping Defaults to SKIP_BASE_PROTOCOL_METHODS if not specified.",
          "enumDescriptions": [
            "Unspecified option. Defaults to SKIP_BASE_PROTOCOL_METHODS.",
            "Skip matching on the base MCP protocol methods.",
            "Match on the base MCP protocol methods."
          ],
          "enum": [
            "BASE_PROTOCOL_METHODS_OPTION_UNSPECIFIED",
            "SKIP_BASE_PROTOCOL_METHODS",
            "MATCH_BASE_PROTOCOL_METHODS"
          ],
          "type": "string"
        },
        "methods": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleToRequestOperationMCPMethod"
          },
          "description": "Optional. A list of MCP methods and associated parameters to match on. It is recommended to use this field to match on tools, prompts and resource accesses while setting the baseProtocolMethodsOption to MATCH_BASE_PROTOCOL_METHODS to match on all the other MCP protocol methods. Limited to 10 MCP methods per Authorization Policy."
        }
      },
      "id": "AuthzPolicyAuthzRuleToRequestOperationMCP",
      "type": "object",
      "description": "Describes a set of MCP protocol attributes to match against for a given MCP request."
    },
    "InterceptEndpointGroupAssociationLocationDetails": {
      "description": "Contains details about the state of an association in a specific cloud location.",
      "properties": {
        "state": {
          "description": "Output only. The current state of the association in this location.",
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OUT_OF_SYNC"
          ]
        },
        "location": {
          "description": "Output only. The cloud location, e.g. \"us-central1-a\" or \"asia-south1\".",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "InterceptEndpointGroupAssociationLocationDetails",
      "type": "object"
    },
    "DnsThreatDetector": {
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Update time stamp."
        },
        "excludedNetworks": {
          "description": "Optional. A list of network resource names which aren't monitored by this DnsThreatDetector. Example: `projects/PROJECT_ID/global/networks/NETWORK_NAME`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Immutable. Identifier. Name of the DnsThreatDetector resource.",
          "type": "string"
        },
        "provider": {
          "description": "Required. The provider used for DNS threat analysis.",
          "enumDescriptions": [
            "An unspecified provider.",
            "The Infoblox DNS threat detector provider."
          ],
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "INFOBLOX"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time stamp."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Any labels associated with the DnsThreatDetector, listed as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "DnsThreatDetector",
      "type": "object",
      "description": "A DNS threat detector sends DNS query logs to a _provider_ that then analyzes the logs to identify threat events in the DNS queries. By default, all VPC networks in your projects are included. You can exclude specific networks by supplying `excluded_networks`."
    },
    "AuthzPolicyAuthzRule": {
      "description": "Conditions to match against the incoming request.",
      "properties": {
        "to": {
          "$ref": "AuthzPolicyAuthzRuleTo",
          "description": "Optional. Describes properties of a target of a request."
        },
        "from": {
          "$ref": "AuthzPolicyAuthzRuleFrom",
          "description": "Optional. Describes properties of a source of a request."
        },
        "when": {
          "description": "Optional. CEL expression that describes the conditions to be satisfied for the action. The result of the CEL expression is ANDed with the from and to. Refer to the CEL language reference for a list of available attributes.",
          "type": "string"
        }
      },
      "id": "AuthzPolicyAuthzRule",
      "type": "object"
    },
    "CloneAddressGroupItemsRequest": {
      "properties": {
        "sourceAddressGroup": {
          "type": "string",
          "description": "Required. Source address group to clone items from."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "CloneAddressGroupItemsRequest",
      "type": "object",
      "description": "Request used by the CloneAddressGroupItems method."
    },
    "MirroringDeploymentGroup": {
      "properties": {
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new deployment to the group) See https://google.aip.dev/128."
        },
        "connectedEndpointGroups": {
          "description": "Output only. The list of endpoint groups that are connected to this resource.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "MirroringDeploymentGroupConnectedEndpointGroup"
          }
        },
        "description": {
          "description": "Optional. User-provided description of the deployment group. Used as additional context for the deployment group.",
          "type": "string"
        },
        "locations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "MirroringLocation"
          },
          "description": "Output only. The list of locations where the deployment group is present."
        },
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "nestedDeployments": {
          "readOnly": true,
          "deprecated": true,
          "type": "array",
          "description": "Output only. The list of Mirroring Deployments that belong to this group.",
          "items": {
            "$ref": "MirroringDeploymentGroupDeployment"
          }
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The current state of the deployment group. See https://google.aip.dev/216.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment group is ready.",
            "The deployment group is being created.",
            "The deployment group is being deleted.",
            "The deployment group is being wiped out (project deleted)."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this deployment group, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/122 for more details."
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "network": {
          "description": "Required. Immutable. The network that will be used for all child deployments, for example: `projects/{project}/global/networks/{network}`. See https://google.aip.dev/124.",
          "type": "string"
        }
      },
      "id": "MirroringDeploymentGroup",
      "type": "object",
      "description": "A deployment group aggregates many zonal mirroring backends (deployments) into a single global mirroring service. Consumers can connect this service using an endpoint group."
    },
    "AuthzPolicyAuthzRuleStringMatch": {
      "properties": {
        "exact": {
          "type": "string",
          "description": "The input string must match exactly the string specified here. Examples: * ``abc`` only matches the value ``abc``."
        },
        "ignoreCase": {
          "description": "If true, indicates the exact/prefix/suffix/contains matching should be case insensitive. For example, the matcher ``data`` will match both input string ``Data`` and ``data`` if set to true.",
          "type": "boolean"
        },
        "prefix": {
          "type": "string",
          "description": "The input string must have the prefix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``abc.xyz``"
        },
        "suffix": {
          "type": "string",
          "description": "The input string must have the suffix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc``"
        },
        "contains": {
          "type": "string",
          "description": "The input string must have the substring specified here. Note: empty contains match is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc.def``"
        }
      },
      "id": "AuthzPolicyAuthzRuleStringMatch",
      "type": "object",
      "description": "Determines how a string value should be matched."
    },
    "ListAddressGroupReferencesResponse": {
      "description": "Response of the ListAddressGroupReferences method.",
      "properties": {
        "addressGroupReferences": {
          "description": "A list of references that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "ListAddressGroupReferencesResponseAddressGroupReference"
          }
        },
        "nextPageToken": {
[...]
