{
  "title": "Network Security API",
  "rootUrl": "https://networksecurity.googleapis.com/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "name": "networksecurity",
  "kind": "discovery#restDescription",
  "id": "networksecurity:v1beta1",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "revision": "20260707",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://networksecurity.googleapis.com/",
  "documentationLink": "https://cloud.google.com/networking",
  "servicePath": "",
  "discoveryVersion": "v1",
  "basePath": "",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "schemas": {
    "AuthorizationPolicy": {
      "id": "AuthorizationPolicy",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. Set of label tags associated with the AuthorizationPolicy resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "action": {
          "description": "Required. The action to take when a rule match is found. Possible values are \"ALLOW\" or \"DENY\".",
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "Default value.",
            "Grant access.",
            "Deny access. Deny rules should be avoided unless they are used to provide a default \"deny all\" fallback."
          ]
        },
        "name": {
          "description": "Required. Name of the AuthorizationPolicy resource. It matches pattern `projects/{project}/locations/{location}/authorizationPolicies/`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "Rule"
          },
          "description": "Optional. List of rules to match. Note that at least one of the rules must match in order for the action specified in the 'action' field to be taken. A rule is a match if there is a matching source and destination. If left blank, the action specified in the `action` field will be applied on every request."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime"
        }
      },
      "description": "AuthorizationPolicy is a resource that specifies how a server should authorize incoming connections. This resource in itself does not change the configuration unless it's attached to a target https proxy or endpoint config selector resource.",
      "type": "object"
    },
    "WildfireThreatOverride": {
      "type": "object",
      "description": "Defines what action to take for a specific WildFire threat_id match.",
      "id": "WildfireThreatOverride",
      "properties": {
        "threatId": {
          "description": "Required. Threat ID to match.",
          "type": "string"
        },
        "action": {
          "description": "Required. Threat action override.",
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "type": "string",
          "enum": [
            "WILDFIRE_THREAT_ACTION_UNSPECIFIED",
            "WILDFIRE_DEFAULT_ACTION",
            "WILDFIRE_ALLOW",
            "WILDFIRE_ALERT",
            "WILDFIRE_DENY"
          ]
        }
      }
    },
    "CloneAddressGroupItemsRequest": {
      "id": "CloneAddressGroupItemsRequest",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "sourceAddressGroup": {
          "description": "Required. Source address group to clone items from.",
          "type": "string"
        }
      },
      "description": "Request used by the CloneAddressGroupItems method.",
      "type": "object"
    },
    "InterceptEndpointGroupAssociationDetails": {
      "description": "The endpoint group's view of a connected association.",
      "id": "InterceptEndpointGroupAssociationDetails",
      "properties": {
        "network": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The associated network, for example: projects/123456789/global/networks/my-network. See https://google.aip.dev/124."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ],
          "description": "Output only. Most recent known state of the association.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The connected association's resource name, for example: `projects/123456789/locations/global/interceptEndpointGroupAssociations/my-ega`. See https://google.aip.dev/124."
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "GoogleIamV1AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GatewaySecurityPolicyRule": {
      "description": "The GatewaySecurityPolicyRule resource is in a nested collection within a GatewaySecurityPolicy and represents a traffic matching condition and associated action to perform.",
      "id": "GatewaySecurityPolicyRule",
      "properties": {
        "applicationMatcher": {
          "description": "Optional. CEL expression for matching on L7/application level criteria.",
          "type": "string"
        },
        "sessionMatcher": {
          "description": "Required. CEL expression for matching on session criteria.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the rule was updated.",
          "format": "google-datetime"
        },
        "basicProfile": {
          "type": "string",
          "enum": [
            "BASIC_PROFILE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "If there is not a mentioned action for the target.",
            "Allow the matched traffic.",
            "Deny the matched traffic."
          ],
          "description": "Required. Profile which tells what the primitive action should be."
        },
        "name": {
          "description": "Required. Immutable. Name of the resource. ame is the full resource name so projects/{project}/locations/{location}/gatewaySecurityPolicies/{gateway_security_policy}/rules/{rule} rule should match the pattern: (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "enabled": {
          "description": "Required. Whether the rule is enforced.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the rule was created.",
          "format": "google-datetime"
        },
        "priority": {
          "type": "integer",
          "description": "Required. Priority of the rule. Lower number corresponds to higher precedence.",
          "format": "int32"
        },
        "tlsInspectionEnabled": {
          "description": "Optional. Flag to enable TLS inspection of traffic matching on , can only be true if the parent GatewaySecurityPolicy references a TLSInspectionConfig.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MirroringDeploymentGroupConnectedEndpointGroup": {
      "description": "An endpoint group connected to this deployment group.",
      "id": "MirroringDeploymentGroupConnectedEndpointGroup",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The connected endpoint group's resource name, for example: `projects/123456789/locations/global/mirroringEndpointGroups/my-eg`. See https://google.aip.dev/124."
        }
      },
      "type": "object"
    },
    "ListAddressGroupsResponse": {
      "id": "ListAddressGroupsResponse",
      "properties": {
        "addressGroups": {
          "type": "array",
          "items": {
            "$ref": "AddressGroup"
          },
          "description": "List of AddressGroups resources."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response returned by the ListAddressGroups method.",
      "type": "object"
    },
    "ClientTlsPolicy": {
      "type": "object",
      "description": "ClientTlsPolicy is a resource that specifies how a client should authenticate connections to backends of a service. This resource itself does not affect configuration unless it is attached to a backend service resource.",
      "id": "ClientTlsPolicy",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of label tags associated with the resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "clientCertificate": {
          "description": "Optional. Defines a mechanism to provision client identity (public and private keys) for peer to peer authentication. The presence of this dictates mTLS.",
          "$ref": "GoogleCloudNetworksecurityV1beta1CertificateProvider"
        },
        "name": {
          "description": "Required. Name of the ClientTlsPolicy resource. It matches the pattern `projects/{project}/locations/{location}/clientTlsPolicies/{client_tls_policy}`",
          "type": "string"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "sni": {
          "description": "Optional. Server Name Indication string to present to the server during TLS handshake. E.g: \"secure.example.com\".",
          "type": "string"
        },
        "serverValidationCa": {
          "description": "Optional. Defines the mechanism to obtain the Certificate Authority certificate to validate the server certificate. If empty, client does not validate the server certificate.",
          "type": "array",
          "items": {
            "$ref": "ValidationCA"
          }
        }
      }
    },
    "AuthzPolicy": {
      "description": "`AuthzPolicy` is a resource that allows to forward traffic to a callout backend designed to scan the traffic for security purposes.",
      "id": "AuthzPolicy",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with the `AuthzPolicy` resource. The format must comply with [the following requirements](/compute/docs/labeling-resources#requirements)."
        },
        "name": {
          "description": "Required. Identifier. Name of the `AuthzPolicy` resource in the following format: `projects/{project}/locations/{location}/authzPolicies/{authz_policy}`.",
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "Unspecified action.",
            "Allow request to pass through to the backend.",
            "Deny the request and return a HTTP 404 to the client.",
            "Delegate the authorization decision to an external authorization engine."
          ],
          "type": "string",
          "enum": [
            "AUTHZ_ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY",
            "CUSTOM"
          ],
          "description": "Required. Can be one of `ALLOW`, `DENY`, `CUSTOM`. When the action is `CUSTOM`, `customProvider` must be specified. When the action is `ALLOW`, only requests matching the policy will be allowed. When the action is `DENY`, only requests matching the policy will be denied. When a request arrives, the policies are evaluated in the following order: 1. If there is a `CUSTOM` policy that matches the request, the `CUSTOM` policy is evaluated using the custom authorization providers and the request is denied if the provider rejects the request. 2. If there are any `DENY` policies that match the request, the request is denied. 3. If there are no `ALLOW` policies for the resource or if any of the `ALLOW` policies match the request, the request is allowed. 4. Else the request is denied by default if none of the configured AuthzPolicies with `ALLOW` action match the request."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime"
        },
        "target": {
          "description": "Required. Specifies the set of resources to which this policy should be applied to.",
          "$ref": "AuthzPolicyTarget"
        },
        "httpRules": {
          "description": "Optional. A list of authorization HTTP rules to match against the incoming request. A policy match occurs when at least one HTTP rule matches the request or when no HTTP rules are specified in the policy. At least one HTTP Rule is required for Allow or Deny Action. Limited to 5 rules.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRule"
          }
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "customProvider": {
          "description": "Optional. Required if the action is `CUSTOM`. Allows delegating authorization decisions to Cloud IAP or to Service Extensions. One of `cloudIap` or `authzExtension` must be specified.",
          "$ref": "AuthzPolicyCustomProvider"
        },
        "policyProfile": {
          "type": "string",
          "enum": [
            "POLICY_PROFILE_UNSPECIFIED",
            "REQUEST_AUTHZ",
            "CONTENT_AUTHZ"
          ],
          "enumDescriptions": [
            "Unspecified policy profile.",
            "Applies to request authorization. `CUSTOM` authorization policies with Authz extensions will be allowed with `EXT_AUTHZ_GRPC` or `EXT_PROC_GRPC` protocols. Extensions are invoked only for request header events.",
            "Applies to content security, sanitization, etc. Only `CUSTOM` action is allowed in this policy profile. AuthzExtensions in the custom provider must support `EXT_PROC_GRPC` protocol only and be capable of receiving all `EXT_PROC_GRPC` events (REQUEST_HEADERS, REQUEST_BODY, REQUEST_TRAILERS, RESPONSE_HEADERS, RESPONSE_BODY, RESPONSE_TRAILERS) with `FULL_DUPLEX_STREAMED` body send mode."
          ],
          "description": "Optional. Immutable. Defines the type of authorization being performed. If not specified, `REQUEST_AUTHZ` is applied. This field cannot be changed once AuthzPolicy is created."
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "networkRules": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRule"
          },
          "description": "Optional. A list of authorization network rules to match against the incoming request. A policy match occurs when at least one network rule matches the request. At least one network rule is required for Allow or Deny Action if no HTTP rules are provided. Network rules are mutually exclusive with HTTP rules. Limited to 5 rules."
        }
      },
      "type": "object"
    },
    "WildfireSubmissionRule": {
      "type": "object",
      "description": "Defines the file types to be submitted for WildFire analysis and the direction of the traffic.",
      "id": "WildfireSubmissionRule",
      "properties": {
        "customFileTypes": {
          "description": "Submit a custom list of file types for WildFire analysis.",
          "$ref": "WildfireSubmissionRuleCustomFileTypes"
        },
        "fileSelectionMode": {
          "description": "Required. File selection mode for WildFire analysis.",
          "type": "string",
          "enum": [
            "FILE_SELECTION_MODE_UNSPECIFIED",
            "ALL_FILE_TYPES",
            "CUSTOM_FILE_TYPES"
          ],
          "enumDescriptions": [
            "File selection mode not specified.",
            "Submit all the file types for scan.",
            "Submit a custom list of file types for scan."
          ]
        },
        "direction": {
          "enumDescriptions": [
            "Direction not specified.",
            "Upload direction.",
            "Download direction.",
            "Both upload and download directions."
          ],
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "UPLOAD",
            "DOWNLOAD",
            "BOTH"
          ],
          "description": "Required. Direction for the files to be analyzed by WildFire."
        }
      }
    },
    "WildfireInlineMlSettings": {
      "id": "WildfireInlineMlSettings",
      "properties": {
        "inlineMlConfigs": {
          "description": "Optional. List of Inline ML configs to enable in WildFire Inline ML analysis.",
          "type": "array",
          "items": {
            "$ref": "WildfireInlineMlSettingsInlineMlConfig"
          }
        },
        "fileExceptions": {
          "type": "array",
          "items": {
            "$ref": "WildfireInlineMlFileException"
          },
          "description": "Optional. List of files to exclude from WildFire Inline ML analysis."
        }
      },
      "description": "Defines the settings for WildFire Inline ML analysis.",
      "type": "object"
    },
    "ListAddressGroupReferencesResponse": {
      "type": "object",
      "description": "Response of the ListAddressGroupReferences method.",
      "id": "ListAddressGroupReferencesResponse",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "addressGroupReferences": {
          "description": "A list of references that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "ListAddressGroupReferencesResponseAddressGroupReference"
          }
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "id": "GoogleIamV1SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "MirroringDeployment": {
      "id": "MirroringDeployment",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "type": "object"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. linking a new association to the parent group). See https://google.aip.dev/128."
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this deployment, for example: `projects/123456789/locations/us-central1-a/mirroringDeployments/my-dep`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "mirroringDeploymentGroup": {
          "description": "Required. Immutable. The deployment group that this deployment is a part of, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "format": "google-datetime"
        },
        "forwardingRule": {
          "description": "Required. Immutable. The regional forwarding rule that fronts the mirroring collectors, for example: `projects/123456789/regions/us-central1/forwardingRules/my-rule`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "description": {
          "description": "Optional. User-provided description of the deployment. Used as additional context for the deployment.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the deployment. See https://google.aip.dev/216.",
          "readOnly": true,
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ]
        }
      },
      "description": "A deployment represents a zonal mirroring backend ready to accept GENEVE-encapsulated replica traffic, e.g. a zonal instance group fronted by an internal passthrough load balancer. Deployments are always part of a global deployment group which represents a global mirroring service.",
      "type": "object"
    },
    "InterceptEndpointGroupAssociation": {
      "type": "object",
      "description": "An endpoint group association represents a link between a network and an endpoint group in the organization. Creating an association creates the networking infrastructure linking the network to the endpoint group, but does not enable intercept by itself. To enable intercept, the user must also create a network firewall policy containing intercept rules and associate it with the network.",
      "id": "InterceptEndpointGroupAssociation",
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "format": "google-datetime"
        },
        "locationsDetails": {
          "description": "Output only. The list of locations where the association is present. This information is retrieved from the linked endpoint group, and not configured as part of the association itself.",
          "readOnly": true,
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "InterceptEndpointGroupAssociationLocationDetails"
          }
        },
        "locations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "InterceptLocation"
          },
          "description": "Output only. The list of locations where the association is configured. This information is retrieved from the linked endpoint group."
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this endpoint group association, for example: `projects/123456789/locations/global/interceptEndpointGroupAssociations/my-eg-association`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "networkCookie": {
          "description": "Output only. Identifier used by the data-path. See the NSI GENEVE format for more details: https://docs.cloud.google.com/network-security-integration/docs/understand-geneve#network_id",
          "format": "uint32",
          "readOnly": true,
          "type": "integer"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "network": {
          "description": "Required. Immutable. The VPC network that is associated. for example: `projects/123456789/global/networks/my-network`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. adding a new location to the target deployment group). See https://google.aip.dev/128."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ],
          "description": "Output only. Current state of the endpoint group association."
        },
        "interceptEndpointGroup": {
          "description": "Required. Immutable. The endpoint group that this association is connected to, for example: `projects/123456789/locations/global/interceptEndpointGroups/my-eg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AuthzPolicyAuthzRuleToRequestOperationMCPMethod": {
      "type": "object",
      "id": "AuthzPolicyAuthzRuleToRequestOperationMCPMethod",
      "properties": {
        "params": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          },
          "description": "Optional. A list of MCP method parameters to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 MCP method parameters per Authorization Policy."
        },
        "name": {
          "description": "Required. The MCP method to match against. Allowed values are as follows: 1. `tools`, `prompts`, `resources` - these will match against all sub methods under the respective methods. 2. `prompts/list`, `tools/list`, `resources/list`, `resources/templates/list` 3. `prompts/get`, `tools/call`, `resources/subscribe`, `resources/unsubscribe`, `resources/read` Params cannot be specified for categories 1 and 2.",
          "type": "string"
        }
      },
      "description": "Describes a set of MCP methods to match against."
    },
    "MirroringDeploymentGroup": {
      "type": "object",
      "id": "MirroringDeploymentGroup",
      "properties": {
        "locations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "MirroringLocation"
          },
          "description": "Output only. The list of locations where the deployment group is present."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "network": {
          "description": "Required. Immutable. The network that will be used for all child deployments, for example: `projects/{project}/global/networks/{network}`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new deployment to the group) See https://google.aip.dev/128.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this deployment group, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "format": "google-datetime"
        },
        "connectedEndpointGroups": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "MirroringDeploymentGroupConnectedEndpointGroup"
          },
          "description": "Output only. The list of endpoint groups that are connected to this resource."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment group is ready.",
            "The deployment group is being created.",
            "The deployment group is being deleted.",
            "The deployment group is being wiped out (project deleted)."
          ],
          "description": "Output only. The current state of the deployment group. See https://google.aip.dev/216."
        },
        "nestedDeployments": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "MirroringDeploymentGroupDeployment"
          },
          "description": "Output only. The list of Mirroring Deployments that belong to this group.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. User-provided description of the deployment group. Used as additional context for the deployment group.",
          "type": "string"
        }
      },
      "description": "A deployment group aggregates many zonal mirroring backends (deployments) into a single global mirroring service. Consumers can connect this service using an endpoint group."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "ServerTlsPolicy": {
      "type": "object",
      "description": "ServerTlsPolicy is a resource that specifies how a server should authenticate incoming requests. This resource itself does not affect configuration unless it is attached to a target HTTPS proxy or endpoint config selector resource. ServerTlsPolicy in the form accepted by Application Load Balancers can be attached only to TargetHttpsProxy with an `EXTERNAL`, `EXTERNAL_MANAGED` or `INTERNAL_MANAGED` load balancing scheme. Traffic Director compatible ServerTlsPolicies can be attached to EndpointPolicy and TargetHttpsProxy with Traffic Director `INTERNAL_SELF_MANAGED` load balancing scheme.",
      "id": "ServerTlsPolicy",
      "properties": {
        "name": {
          "description": "Required. Name of the ServerTlsPolicy resource. It matches the pattern `projects/*/locations/{location}/serverTlsPolicies/{server_tls_policy}`",
          "type": "string"
        },
        "description": {
          "description": "Free-text description of the resource.",
          "type": "string"
        },
        "allowOpen": {
          "description": "This field applies only for Traffic Director policies. It is must be set to false for Application Load Balancer policies. Determines if server allows plaintext connections. If set to true, server allows plain text connections. By default, it is set to false. This setting is not exclusive of other encryption modes. For example, if `allow_open` and `mtls_policy` are set, server allows both plain text and mTLS connections. See documentation of other encryption modes to confirm compatibility. Consider using it if you wish to upgrade in place your deployment to TLS while having mixed TLS and non-TLS traffic reaching port :80.",
          "type": "boolean"
        },
        "serverCertificate": {
          "description": "Optional if policy is to be used with Traffic Director. For Application Load Balancers must be empty. Defines a mechanism to provision server identity (public and private keys). Cannot be combined with `allow_open` as a permissive mode that allows both plain text and TLS is not supported.",
          "$ref": "GoogleCloudNetworksecurityV1beta1CertificateProvider"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Set of label tags associated with the resource."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "mtlsPolicy": {
          "description": "This field is required if the policy is used with Application Load Balancers. This field can be empty for Traffic Director. Defines a mechanism to provision peer validation certificates for peer to peer authentication (Mutual TLS - mTLS). If not specified, client certificate will not be requested. The connection is treated as TLS and not mTLS. If `allow_open` and `mtls_policy` are set, server allows both plain text and mTLS connections.",
          "$ref": "MTLSPolicy"
        }
      }
    },
    "UrlList": {
      "description": "UrlList proto helps users to set reusable, independently manageable lists of hosts, host patterns, URLs, URL patterns.",
      "id": "UrlList",
      "properties": {
        "createTime": {
          "description": "Output only. Time when the security policy was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time when the security policy was updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. FQDNs and URLs."
        },
        "name": {
          "description": "Required. Name of the resource provided by the user. Name is of the form projects/{project}/locations/{location}/urlLists/{url_list} url_list should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListAuthzPoliciesResponse": {
      "type": "object",
      "id": "ListAuthzPoliciesResponse",
      "properties": {
        "authzPolicies": {
          "description": "The list of `AuthzPolicy` resources.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicy"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results that the server returns.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "Message for response to listing `AuthzPolicy` resources."
    },
    "SACRealm": {
      "id": "SACRealm",
      "properties": {
        "name": {
          "description": "Identifier. Resource name, in the form `projects/{project}/locations/global/sacRealms/{sacRealm}`.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Optional list of labels applied to the resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "pairingKey": {
          "description": "Output only. Key to be shared with SSE service provider during pairing.",
          "$ref": "SACRealmPairingKey",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the realm was last updated.",
          "format": "google-datetime"
        },
        "securityService": {
          "description": "Immutable. SSE service provider associated with the realm.",
          "type": "string",
          "enum": [
            "SECURITY_SERVICE_UNSPECIFIED",
            "PALO_ALTO_PRISMA_ACCESS",
            "SYMANTEC_CLOUD_SWG"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "[Palo Alto Networks Prisma Access](https://www.paloaltonetworks.com/sase/access).",
            "Symantec Cloud SWG."
          ]
        },
        "symantecOptions": {
          "description": "Optional. Configuration required for Symantec realms.",
          "$ref": "SACRealmSACRealmSymantecOptions"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "No state specified. This should not be used.",
            "Has never been attached to a partner. Used only for Prisma Access.",
            "Currently attached to a partner.",
            "Was once attached to a partner but has been detached.",
            "Is not attached to a partner and has an expired pairing key. Used only for Prisma Access."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_PARTNER_ATTACHMENT",
            "PARTNER_ATTACHED",
            "PARTNER_DETACHED",
            "KEY_EXPIRED"
          ],
          "description": "Output only. State of the realm."
        },
        "createTime": {
          "description": "Output only. Timestamp when the realm was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents a Secure Access Connect (SAC) realm resource. A Secure Access Connect realm establishes a connection between your Google Cloud project and an SSE service.",
      "type": "object"
    },
    "InterceptEndpointGroupConnectedDeploymentGroup": {
      "type": "object",
      "description": "The endpoint group's view of a connected deployment group.",
      "id": "InterceptEndpointGroupConnectedDeploymentGroup",
      "properties": {
        "locations": {
          "description": "Output only. The list of locations where the deployment group is present.",
          "type": "array",
          "items": {
            "$ref": "InterceptLocation"
          },
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The connected deployment group's resource name, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124."
        }
      }
    },
    "ListMirroringEndpointGroupsResponse": {
      "description": "Response message for ListMirroringEndpointGroups.",
      "id": "ListMirroringEndpointGroupsResponse",
      "properties": {
        "mirroringEndpointGroups": {
          "description": "The endpoint groups from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "MirroringEndpointGroup"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListMirroringDeploymentGroupsResponse": {
      "type": "object",
      "id": "ListMirroringDeploymentGroupsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        },
        "mirroringDeploymentGroups": {
          "type": "array",
          "items": {
            "$ref": "MirroringDeploymentGroup"
          },
          "description": "The deployment groups from the specified parent."
        }
      },
      "description": "Response message for ListMirroringDeploymentGroups."
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ListMirroringEndpointGroupAssociationsResponse": {
      "id": "ListMirroringEndpointGroupAssociationsResponse",
      "properties": {
        "mirroringEndpointGroupAssociations": {
          "type": "array",
          "items": {
            "$ref": "MirroringEndpointGroupAssociation"
          },
          "description": "The associations from the specified parent."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        }
      },
      "description": "Response message for ListMirroringEndpointGroupAssociations.",
      "type": "object"
    },
    "AddressGroup": {
      "type": "object",
      "description": "AddressGroup is a resource that specifies how a collection of IP/DNS used in Firewall Policy.",
      "id": "AddressGroup",
      "properties": {
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "capacity": {
          "description": "Required. Capacity of the Address Group",
          "format": "int32",
          "type": "integer"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "type": {
          "description": "Required. The type of the Address Group. Possible values are \"IPv4\" or \"IPV6\".",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ],
          "enumDescriptions": [
            "Default value.",
            "IP v4 ranges.",
            "IP v6 ranges."
          ]
        },
        "name": {
          "description": "Required. Name of the AddressGroup resource. It matches pattern `projects/*/locations/{location}/addressGroups/`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of label tags associated with the AddressGroup resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "purpose": {
          "description": "Optional. List of supported purposes of the Address Group.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "PURPOSE_UNSPECIFIED",
              "DEFAULT",
              "CLOUD_ARMOR"
            ],
            "enumDescriptions": [
              "Default value. Should never happen.",
              "Address Group is distributed to VMC, and is usable in Firewall Policies and other systems that rely on VMC.",
              "Address Group is usable in Cloud Armor."
            ]
          }
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "items": {
          "description": "Optional. List of items.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "selfLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined fully-qualified URL for this resource."
        }
      }
    },
    "SACRealmSACRealmSymantecOptions": {
      "type": "object",
      "id": "SACRealmSACRealmSymantecOptions",
      "properties": {
        "availableSymantecSites": {
          "description": "Output only. Symantec site IDs which the user can choose to connect to.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "symantecConnectionState": {
          "readOnly": true,
          "enumDescriptions": [
            "No state specified. This should not be used.",
            "Successfully made a request to Symantec API.",
            "Cannot access the API key in the provided `secret_path`.",
            "Failed to get a successful response from Symantec API due to an invalid API key or Symantec API unavailability.",
            "The connection state is unavailable because live calls to Symantec API are not made for historical requests."
          ],
          "enum": [
            "SYMANTEC_CONNECTION_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "READ_SECRET_FAILED",
            "REQUEST_TO_SYMANTEC_FAILED",
            "UNAVAILABLE_FOR_HISTORICAL_REQUESTS"
          ],
          "description": "Output only. Connection status to Symantec API.",
          "type": "string"
        },
        "secretPath": {
          "description": "Optional. API Key used to call Symantec APIs on the user's behalf. Required if using Symantec Cloud SWG. P4SA account needs permissions granted to read this secret. A secret ID, secret name, or secret URI can be specified, but it will be parsed and stored as a secret URI in the form `projects/{project_number}/secrets/my-secret`.",
          "type": "string"
        }
      },
      "description": "Fields specific to realms using Symantec Cloud SWG."
    },
    "CertificateProviderInstance": {
      "description": "Specification of a TLS certificate provider instance. Workloads may have one or more CertificateProvider instances (plugins) and one of them is enabled and configured by specifying this message. Workloads use the values from this message to locate and load the CertificateProvider instance configuration.",
      "id": "CertificateProviderInstance",
      "properties": {
        "pluginInstance": {
          "description": "Required. Plugin instance name, used to locate and load CertificateProvider instance configuration. Set to \"google_cloud_private_spiffe\" to use Certificate Authority Service certificate provider instance.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WildfireInlineMlSettingsInlineMlConfig": {
      "type": "object",
      "description": "Configuration for WildFire Inline ML analysis per file type.",
      "id": "WildfireInlineMlSettingsInlineMlConfig",
      "properties": {
        "fileType": {
          "description": "Required. File type to configure Inline ML for.",
          "enumDescriptions": [
            "Inline ML config not specified.",
            "Enable machine learning engine to dynamically detect malicious PE files.",
            "Enable machine learning engine to dynamically identify malicious PowerShell scripts with known length.",
            "Enable machine learning engine to dynamically identify malicious PowerShell script without known length.",
            "Enable machine learning engine to dynamically detect malicious ELF files.",
            "Enable machine learning engine to dynamically detect malicious MSOffice (97-03) files.",
            "Enable machine learning engine to dynamically detect malicious Shell files.",
            "Enable machine learning engine to dynamically detect malicious Open Office XML files.",
            "Enable machine learning engine to dynamically detect malicious Mach-O files."
          ],
          "type": "string",
          "enum": [
            "INLINE_ML_CONFIG_UNSPECIFIED",
            "WINDOWS_EXECUTABLE",
            "POWERSHELL_SCRIPT1",
            "POWERSHELL_SCRIPT2",
            "ELF",
            "MS_OFFICE",
            "SHELL",
            "OOXML",
            "MACHO"
          ]
        },
        "action": {
          "enumDescriptions": [
            "Inline ML threat action not specified.",
            "Disable WildFire Inline ML for the associated file type.",
            "Enable WildFire Inline ML for the associated file type. Overrides any protocol level settings with action stricter than ALERT to ALERT so that the malicious files detected generate a threat log to the consumer project but are not blocked.",
            "Enable WildFire Inline ML for the associated file type, malicious files detected will be blocked."
          ],
          "type": "string",
          "enum": [
            "INLINE_ML_ACTION_UNSPECIFIED",
            "DISABLE",
            "ALERT",
            "ENABLE"
          ],
          "description": "Required. Action to take when a threat is detected using Inline ML."
        }
      }
    },
    "InterceptDeployment": {
      "type": "object",
      "description": "A deployment represents a zonal intercept backend ready to accept GENEVE-encapsulated traffic, e.g. a zonal instance group fronted by an internal passthrough load balancer. Deployments are always part of a global deployment group which represents a global intercept service.",
      "id": "InterceptDeployment",
      "properties": {
        "name": {
          "description": "Immutable. Identifier. The resource name of this deployment, for example: `projects/123456789/locations/us-central1-a/interceptDeployments/my-dep`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "reconciling": {
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. linking a new association to the parent group). See https://google.aip.dev/128.",
          "type": "boolean",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "format": "google-datetime"
        },
        "interceptDeploymentGroup": {
          "description": "Required. Immutable. The deployment group that this deployment is a part of, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "description": {
          "description": "Optional. User-provided description of the deployment. Used as additional context for the deployment.",
          "type": "string"
        },
        "forwardingRule": {
          "description": "Required. Immutable. The regional forwarding rule that fronts the interceptors, for example: `projects/123456789/regions/us-central1/forwardingRules/my-rule`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the deployment. See https://google.aip.dev/216.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "format": "google-datetime"
        }
      }
    },
    "Location": {
      "id": "Location",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "MirroringEndpointGroupAssociationDetails": {
      "type": "object",
      "id": "MirroringEndpointGroupAssociationDetails",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The connected association's resource name, for example: `projects/123456789/locations/global/mirroringEndpointGroupAssociations/my-ega`. See https://google.aip.dev/124."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ],
          "description": "Output only. Most recent known state of the association."
        },
        "network": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The associated network, for example: projects/123456789/global/networks/my-network. See https://google.aip.dev/124."
        }
      },
      "description": "The endpoint group's view of a connected association."
    },
    "SACAttachment": {
      "type": "object",
      "id": "SACAttachment",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the attachment was created.",
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "No state specified. This should not be used.",
            "Has never been attached to a partner.",
            "Currently attached to a partner.",
            "Was once attached to a partner but has been detached."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_PARTNER_ATTACHMENT",
            "PARTNER_ATTACHED",
            "PARTNER_DETACHED"
          ],
          "description": "Output only. State of the attachment.",
          "type": "string"
        },
        "symantecOptions": {
          "description": "Optional. Configuration required for Symantec attachments.",
          "$ref": "SACAttachmentSACAttachmentSymantecOptions"
        },
        "nccGateway": {
          "description": "Required. NCC Gateway associated with the attachment. This can be input as an ID or a full resource name. The output always has the form `projects/{project_number}/locations/{location}/spokes/{ncc_gateway}`.",
          "type": "string"
        },
        "sacRealm": {
          "description": "Required. SAC Realm which owns the attachment. This can be input as an ID or a full resource name. The output always has the form `projects/{project_number}/locations/{location}/sacRealms/{sac_realm}`.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the attachment was last updated.",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Optional list of labels applied to the resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "country": {
          "description": "Optional. Case-insensitive ISO-3166 alpha-2 country code used for localization. Only valid for Symantec attachments.",
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. Case-sensitive tzinfo identifier used for localization. Only valid for Symantec attachments.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name, in the form `projects/{project}/locations/{location}/sacAttachments/{sac_attachment}`.",
          "type": "string"
        }
      },
      "description": "Represents a Secure Access Connect (SAC) attachment resource. A Secure Access Connect attachment enables NCC Gateway to process traffic with an SSE product."
    },
    "Destination": {
      "type": "object",
      "description": "Specification of traffic destination attributes.",
      "id": "Destination",
      "properties": {
        "hosts": {
          "description": "Required. List of host names to match. Matched against the \":authority\" header in http requests. At least one host should match. Each host can be an exact match, or a prefix match (example \"mydomain.*\") or a suffix match (example \"*.myorg.com\") or a presence (any) match \"*\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "methods": {
          "description": "Optional. A list of HTTP methods to match. At least one method should match. Should not be set for gRPC services.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "httpHeaderMatch": {
          "description": "Optional. Match against key:value pair in http header. Provides a flexible match based on HTTP headers, for potentially advanced use cases. At least one header should match. Avoid using header matches to make authorization decisions unless there is a strong guarantee that requests arrive through a trusted client or proxy.",
          "$ref": "HttpHeaderMatch"
        },
        "ports": {
          "description": "Required. List of destination ports to match. At least one port should match.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "uint32"
          }
        }
      }
    },
    "WildfireInlineCloudAnalysisRuleCustomFileTypes": {
      "type": "object",
      "description": "The options to submit a custom list of file types for scan.",
      "id": "WildfireInlineCloudAnalysisRuleCustomFileTypes",
      "properties": {
        "fileTypes": {
          "description": "Required. File types to be submitted for WildFire inline cloud analysis.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "File type not specified.",
              "Portable Executable (PE) files."
            ],
            "type": "string",
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "PE"
            ]
          }
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "WildfireInlineMlOverride": {
      "id": "WildfireInlineMlOverride",
      "properties": {
        "protocol": {
          "description": "Required. Protocol to match for WildFire Inline ML override.",
          "enumDescriptions": [
            "Protocol not specified.",
            "SMTP protocol",
            "SMB protocol",
            "POP3 protocol",
            "IMAP protocol",
            "HTTP2 protocol",
            "HTTP protocol",
            "FTP protocol"
          ],
          "type": "string",
          "enum": [
            "WILDFIRE_PROTOCOL_UNSPECIFIED",
            "WILDFIRE_SMTP",
            "WILDFIRE_SMB",
            "WILDFIRE_POP3",
            "WILDFIRE_IMAP",
            "WILDFIRE_HTTP2",
            "WILDFIRE_HTTP",
            "WILDFIRE_FTP"
          ]
        },
        "action": {
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "type": "string",
          "enum": [
            "WILDFIRE_THREAT_ACTION_UNSPECIFIED",
            "WILDFIRE_DEFAULT_ACTION",
            "WILDFIRE_ALLOW",
            "WILDFIRE_ALERT",
            "WILDFIRE_DENY"
          ],
          "description": "Required. The action to take for WildFire Inline ML override."
        }
      },
      "description": "Defines what action to take for WildFire Inline ML threats per protocol.",
      "type": "object"
    },
    "Rule": {
      "type": "object",
      "id": "Rule",
      "properties": {
        "sources": {
          "description": "Optional. List of attributes for the traffic source. All of the sources must match. A source is a match if both principals and ip_blocks match. If not set, the action specified in the 'action' field will be applied without any rule checks for the source.",
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        },
        "destinations": {
          "type": "array",
          "items": {
            "$ref": "Destination"
          },
          "description": "Optional. List of attributes for the traffic destination. All of the destinations must match. A destination is a match if a request matches all the specified hosts, ports, methods and headers. If not set, the action specified in the 'action' field will be applied without any rule checks for the destination."
        }
      },
      "description": "Specification of rules."
    },
    "ThreatPreventionProfile": {
      "description": "ThreatPreventionProfile defines an action for specific threat signatures or severity levels.",
      "id": "ThreatPreventionProfile",
      "properties": {
        "severityOverrides": {
          "description": "Optional. Configuration for overriding threats actions by severity match.",
          "type": "array",
          "items": {
            "$ref": "SeverityOverride"
          }
        },
        "threatOverrides": {
          "description": "Optional. Configuration for overriding threats actions by threat_id match. If a threat is matched both by configuration provided in severity_overrides and threat_overrides, the threat_overrides action is applied.",
          "type": "array",
          "items": {
            "$ref": "ThreatOverride"
          }
        },
        "antivirusOverrides": {
          "type": "array",
          "items": {
            "$ref": "AntivirusOverride"
          },
          "description": "Optional. Configuration for overriding antivirus actions per protocol."
        }
      },
      "type": "object"
    },
    "AntivirusOverride": {
      "type": "object",
      "description": "Defines what action to take for antivirus threats per protocol.",
      "id": "AntivirusOverride",
      "properties": {
        "protocol": {
          "enumDescriptions": [
            "Protocol not specified.",
            "SMTP protocol",
            "SMB protocol",
            "POP3 protocol",
            "IMAP protocol",
            "HTTP2 protocol",
            "HTTP protocol",
            "FTP protocol"
          ],
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "SMTP",
            "SMB",
            "POP3",
            "IMAP",
            "HTTP2",
            "HTTP",
            "FTP"
          ],
          "description": "Required. Protocol to match."
        },
        "action": {
          "description": "Required. Threat action override. For some threat types, only a subset of actions applies.",
          "type": "string",
          "enum": [
            "THREAT_ACTION_UNSPECIFIED",
            "DEFAULT_ACTION",
            "ALLOW",
            "ALERT",
            "DENY"
          ],
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ]
        }
      }
    },
    "AuthzPolicyAuthzRuleFromRequestSource": {
      "type": "object",
      "id": "AuthzPolicyAuthzRuleFromRequestSource",
      "properties": {
        "principals": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRulePrincipal"
          },
          "description": "Optional. A list of identities derived from the client's certificate. This field will not match on a request unless frontend mutual TLS is enabled for the forwarding rule or Gateway and the client certificate has been successfully validated by mTLS. Each identity is a string whose value is matched against a list of URI SANs, DNS Name SANs, or the common name in the client's certificate. A match happens when any principal matches with the rule. Limited to 50 principals per Authorization Policy for regional internal Application Load Balancers, regional external Application Load Balancers, cross-region internal Application Load Balancers, and Cloud Service Mesh while 25 principals per Authorization Policy for global external Application Load Balancers."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleRequestResource"
          },
          "description": "Optional. A list of resources to match against the resource of the source VM of a request. Limited to 10 resources per Authorization Policy."
        },
        "ipBlocks": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleIpBlock"
          },
          "description": "Optional. A list of IP addresses or IP address ranges to match against the source IP address of the request. Limited to 10 ip_blocks per Authorization Policy"
        }
      },
      "description": "Describes the properties of a single source."
    },
    "UrlFilteringProfile": {
      "type": "object",
      "id": "UrlFilteringProfile",
      "properties": {
        "urlFilters": {
          "description": "Optional. The list of filtering configs in which each config defines an action to take for some URL match.",
          "type": "array",
          "items": {
            "$ref": "UrlFilter"
          }
        }
      },
      "description": "UrlFilteringProfile defines filters based on URL."
    },
    "FirewallEndpointAssociationReference": {
      "type": "object",
      "description": "This is a subset of the FirewallEndpointAssociation message, containing fields to be used by the consumer.",
      "id": "FirewallEndpointAssociationReference",
      "properties": {
        "network": {
          "description": "Output only. The VPC network associated. Format: projects/{project}/global/networks/{name}.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the FirewallEndpointAssociation. Format: projects/{project}/locations/{location}/firewallEndpointAssociations/{id}"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "ListFirewallEndpointAssociationsResponse": {
      "description": "Message for response to listing Associations",
      "id": "ListFirewallEndpointAssociationsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "firewallEndpointAssociations": {
          "type": "array",
          "items": {
            "$ref": "FirewallEndpointAssociation"
          },
          "description": "The list of Association"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleIamV1AuditLogConfig": {
      "type": "object",
      "id": "GoogleIamV1AuditLogConfig",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "ListMirroringDeploymentsResponse": {
      "id": "ListMirroringDeploymentsResponse",
      "properties": {
        "mirroringDeployments": {
          "description": "The deployments from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "MirroringDeployment"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached. See https://google.aip.dev/217 for more details."
        }
      },
      "description": "Response message for ListMirroringDeployments.",
      "type": "object"
    },
    "FirewallEndpointEndpointSettings": {
      "description": "Settings for the endpoint.",
      "id": "FirewallEndpointEndpointSettings",
      "properties": {
        "jumboFramesEnabled": {
          "description": "Optional. Immutable. Indicates whether Jumbo Frames are enabled. Default value is false.",
          "type": "boolean"
        },
        "httpPartialResponseBlocked": {
          "description": "Optional. Whether to block HTTP partial responses for the endpoint. When this is true, resumption of blocked malicious HTTP file downloads will be blocked by the firewall. False provides maximum availability, true provides maximum security.",
          "type": "boolean"
        },
        "contentCloudRegion": {
          "description": "Optional. The content cloud region of the endpoint.",
          "enumDescriptions": [
            "PAN content cloud region not specified.",
            "us.hawkeye.services-edge.paloaltonetworks.com",
            "APAC content cloud portal: apac.hawkeye.services-edge.paloaltonetworks.com",
            "India content cloud portal: in.hawkeye.services-edge.paloaltonetworks.com",
            "UK content cloud portal: uk.hawkeye.services-edge.paloaltonetworks.com",
            "France content cloud portal: fr.hawkeye.services-edge.paloaltonetworks.com",
            "Japan content cloud portal: jp.hawkeye.services-edge.paloaltonetworks.com",
            "Australia content cloud portal: au.hawkeye.services-edge.paloaltonetworks.com",
            "Canada content cloud portal: ca.hawkeye.services-edge.paloaltonetworks.com",
            "Switzerland content cloud portal: ch.hawkeye.services-edge.paloaltonetworks.com",
            "Netherlands content cloud portal: nl.hawkeye.services-edge.paloaltonetworks.com",
            "Indonesia content cloud portal: id.hawkeye.services-edge.paloaltonetworks.com",
            "Qatar content cloud portal: qa.hawkeye.services-edge.paloaltonetworks.com",
            "Taiwan content cloud portal: tw.hawkeye.services-edge.paloaltonetworks.com",
            "Poland content cloud portal: pl.hawkeye.services-edge.paloaltonetworks.com",
            "South Korea content cloud portal: kr.hawkeye.services-edge.paloaltonetworks.com",
            "Saudi Arabia content cloud portal: sa.hawkeye.services-edge.paloaltonetworks.com",
            "Italy content cloud portal: it.hawkeye.services-edge.paloaltonetworks.com"
          ],
          "type": "string",
          "enum": [
            "CONTENT_CLOUD_REGION_UNSPECIFIED",
            "US_CENTRAL",
            "APAC",
            "INDIA",
            "UK",
            "FRANCE",
            "JAPAN",
            "AUSTRALIA",
            "CANADA",
            "SWITZERLAND",
            "NETHERLANDS",
            "INDONESIA",
            "QATAR",
            "TAIWAN",
            "POLAND",
            "SOUTH_KOREA",
            "SAUDI_ARABIA",
            "ITALY"
          ]
        }
      },
      "type": "object"
    },
    "InterceptDeploymentGroup": {
      "description": "A deployment group aggregates many zonal intercept backends (deployments) into a single global intercept service. Consumers can connect this service using an endpoint group.",
      "id": "InterceptDeploymentGroup",
      "properties": {
        "nestedDeployments": {
          "description": "Output only. The list of Intercept Deployments that belong to this group.",
          "readOnly": true,
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "InterceptDeploymentGroupDeployment"
          }
        },
        "description": {
          "description": "Optional. User-provided description of the deployment group. Used as additional context for the deployment group.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment group is ready.",
            "The deployment group is being created.",
            "The deployment group is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING"
          ],
          "description": "Output only. The current state of the deployment group. See https://google.aip.dev/216."
        },
        "connectedEndpointGroups": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "InterceptDeploymentGroupConnectedEndpointGroup"
          },
          "description": "Output only. The list of endpoint groups that are connected to this resource."
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this deployment group, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "network": {
          "description": "Required. Immutable. The network that will be used for all child deployments, for example: `projects/{project}/global/networks/{network}`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new deployment to the group) See https://google.aip.dev/128."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "format": "google-datetime"
        },
        "locations": {
          "description": "Output only. The list of locations where the deployment group is present.",
          "type": "array",
          "items": {
            "$ref": "InterceptLocation"
          },
          "readOnly": true
        }
      },
      "type": "object"
    },
    "HttpHeaderMatch": {
      "id": "HttpHeaderMatch",
      "properties": {
        "regexMatch": {
          "description": "Required. The value of the header must match the regular expression specified in regexMatch. For regular expression grammar, please see: en.cppreference.com/w/cpp/regex/ecmascript For matching against a port specified in the HTTP request, use a headerMatch with headerName set to Host and a regular expression that satisfies the RFC2616 Host header's port specifier.",
          "type": "string"
        },
        "headerName": {
          "description": "Required. The name of the HTTP header to match. For matching against the HTTP request's authority, use a headerMatch with the header name \":authority\". For matching a request's method, use the headerName \":method\".",
          "type": "string"
        }
      },
      "description": "Specification of HTTP header match attributes.",
[...]
