{
  "mtlsRootUrl": "https://networksecurity.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/networking",
  "rootUrl": "https://networksecurity.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "batchPath": "batch",
  "baseUrl": "https://networksecurity.googleapis.com/",
  "basePath": "",
  "version": "v1",
  "canonicalName": "NetworkSecurity",
  "title": "Network Security API",
  "id": "networksecurity:v1",
  "description": "",
  "ownerName": "Google",
  "schemas": {
    "CustomInterceptProfile": {
      "type": "object",
      "id": "CustomInterceptProfile",
      "description": "CustomInterceptProfile defines in-band integration behavior (intercept). It is used by firewall rules with an APPLY_SECURITY_PROFILE_GROUP action.",
      "properties": {
        "interceptEndpointGroup": {
          "description": "Required. The target InterceptEndpointGroup. When a firewall rule with this security profile attached matches a packet, the packet will be intercepted to the location-local target in this group.",
          "type": "string"
        }
      }
    },
    "UrlFilter": {
      "properties": {
        "urls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of strings that a URL must match with for this filter to be applied."
        },
        "filteringAction": {
          "enumDescriptions": [
            "Filtering action not specified.",
            "The connection matching this filter will be allowed to transmit.",
            "The connection matching this filter will be dropped."
          ],
          "enum": [
            "URL_FILTERING_ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "type": "string",
          "description": "Required. The action taken when this filter is applied."
        },
        "priority": {
          "description": "Required. The priority of this filter within the URL Filtering Profile. Lower integers indicate higher priorities. The priority of a filter must be unique within a URL Filtering Profile.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "UrlFilter",
      "description": "A URL filter defines an action to take for some URL match."
    },
    "SecurityProfileGroup": {
      "type": "object",
      "id": "SecurityProfileGroup",
      "description": "SecurityProfileGroup is a resource that defines the behavior for various ProfileTypes.",
      "properties": {
        "urlFilteringProfile": {
          "description": "Optional. Reference to a SecurityProfile with the UrlFiltering configuration.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last resource update timestamp.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true
        },
        "customMirroringProfile": {
          "type": "string",
          "description": "Optional. Reference to a SecurityProfile with the CustomMirroring configuration."
        },
        "threatPreventionProfile": {
          "type": "string",
          "description": "Optional. Reference to a SecurityProfile with the ThreatPrevention configuration."
        },
        "customInterceptProfile": {
          "type": "string",
          "description": "Optional. Reference to a SecurityProfile with the CustomIntercept configuration."
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional description of the profile group. Max length 2048 characters."
        },
        "createTime": {
          "description": "Output only. Resource creation timestamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dataPathId": {
          "description": "Output only. Identifier used by the data-path. Unique within `{container, location}`.",
          "type": "string",
          "format": "uint64",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Identifier. Name of the SecurityProfileGroup resource. It matches pattern `projects|organizations/*/locations/{location}/securityProfileGroups/{security_profile_group}`.",
          "type": "string"
        }
      }
    },
    "AuthzPolicyAuthzRuleIpBlock": {
      "id": "AuthzPolicyAuthzRuleIpBlock",
      "description": "Represents a range of IP Addresses.",
      "type": "object",
      "properties": {
        "prefix": {
          "type": "string",
          "description": "Required. The address prefix."
        },
        "length": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The length of the address range."
        }
      }
    },
    "AuthzPolicyAuthzRuleToRequestOperation": {
      "id": "AuthzPolicyAuthzRuleToRequestOperation",
      "description": "Describes properties of one or more targets of a request.",
      "type": "object",
      "properties": {
        "headerSet": {
          "description": "Optional. A list of headers to match against in http header.",
          "$ref": "AuthzPolicyAuthzRuleToRequestOperationHeaderSet"
        },
        "methods": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of HTTP methods to match against. Each entry must be a valid HTTP method name (GET, PUT, POST, HEAD, PATCH, DELETE, OPTIONS). It only allows exact match and is always case sensitive. Limited to 10 methods per Authorization Policy."
        },
        "mcp": {
          "description": "Optional. Defines the MCP protocol attributes to match on. If the MCP payload in the request body cannot be successfully parsed, the request will be denied. This field can be set only for AuthzPolicies targeting AgentGateway resources.",
          "$ref": "AuthzPolicyAuthzRuleToRequestOperationMCP"
        },
        "hosts": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          },
          "description": "Optional. A list of HTTP Hosts to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 hosts per Authorization Policy."
        },
        "snis": {
          "description": "Optional. A list of SNIs to match against. The match can be one of exact, prefix, suffix, or contains (substring match). If there is no SNI (i.e. plaintext HTTP traffic), the request will be denied. Matches are always case sensitive unless the ignoreCase is set. Limited to 10 SNIs per Authorization Policy.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          }
        },
        "paths": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          },
          "description": "Optional. A list of paths to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 paths per Authorization Policy. Note that this path match includes the query parameters. For gRPC services, this should be a fully-qualified name of the form /package.service/method."
        }
      }
    },
    "MirroringEndpointGroupConnectedDeploymentGroup": {
      "id": "MirroringEndpointGroupConnectedDeploymentGroup",
      "description": "The endpoint group's view of a connected deployment group.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The connected deployment group's resource name, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string",
          "readOnly": true
        },
        "locations": {
          "readOnly": true,
          "description": "Output only. The list of locations where the deployment group is present.",
          "type": "array",
          "items": {
            "$ref": "MirroringLocation"
          }
        }
      }
    },
    "ListBackendAuthenticationConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "backendAuthenticationConfigs": {
          "type": "array",
          "items": {
            "$ref": "BackendAuthenticationConfig"
          },
          "description": "List of BackendAuthenticationConfig resources."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListBackendAuthenticationConfigsResponse",
      "description": "Response returned by the ListBackendAuthenticationConfigs method."
    },
    "MirroringLocation": {
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The current state of the association in this location.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The resource is ready and in sync in the location.",
            "The resource is out of sync in the location. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OUT_OF_SYNC"
          ]
        },
        "location": {
          "description": "Output only. The cloud location, e.g. \"us-central1-a\" or \"asia-south1\".",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "MirroringLocation",
      "description": "Details about mirroring in a specific cloud location."
    },
    "ListSecurityProfileGroupsResponse": {
      "type": "object",
      "id": "ListSecurityProfileGroupsResponse",
      "description": "Response returned by the ListSecurityProfileGroups method.",
      "properties": {
        "securityProfileGroups": {
          "type": "array",
          "items": {
            "$ref": "SecurityProfileGroup"
          },
          "description": "List of SecurityProfileGroups resources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      }
    },
    "AuthzPolicyAuthzRuleToRequestOperationHeaderSet": {
      "properties": {
        "headers": {
          "description": "Required. A list of headers to match against in http header. The match can be one of exact, prefix, suffix, or contains (substring match). The match follows AND semantics which means all the headers must match. Matches are always case sensitive unless the ignoreCase is set. Limited to 10 headers per Authorization Policy.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleHeaderMatch"
          }
        }
      },
      "type": "object",
      "id": "AuthzPolicyAuthzRuleToRequestOperationHeaderSet",
      "description": "Describes a set of HTTP headers to match against."
    },
    "ListInterceptDeploymentGroupsResponse": {
      "properties": {
        "interceptDeploymentGroups": {
          "description": "The deployment groups from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "InterceptDeploymentGroup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
        }
      },
      "id": "ListInterceptDeploymentGroupsResponse",
      "description": "Response message for ListInterceptDeploymentGroups.",
      "type": "object"
    },
    "SACAttachment": {
      "type": "object",
      "id": "SACAttachment",
      "description": "Represents a Secure Access Connect (SAC) attachment resource. A Secure Access Connect attachment enables NCC Gateway to process traffic with an SSE product.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the attachment was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "sacRealm": {
          "type": "string",
          "description": "Required. SAC Realm which owns the attachment. This can be input as an ID or a full resource name. The output always has the form `projects/{project_number}/locations/{location}/sacRealms/{sac_realm}`."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name, in the form `projects/{project}/locations/{location}/sacAttachments/{sac_attachment}`."
        },
        "state": {
          "enumDescriptions": [
            "No state specified. This should not be used.",
            "Has never been attached to a partner.",
            "Currently attached to a partner.",
            "Was once attached to a partner but has been detached."
          ],
          "type": "string",
          "description": "Output only. State of the attachment.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_PARTNER_ATTACHMENT",
            "PARTNER_ATTACHED",
            "PARTNER_DETACHED"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the attachment was created."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Optional list of labels applied to the resource."
        },
        "nccGateway": {
          "type": "string",
          "description": "Required. NCC Gateway associated with the attachment. This can be input as an ID or a full resource name. The output always has the form `projects/{project_number}/locations/{location}/spokes/{ncc_gateway}`."
        }
      }
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "RemoveAddressGroupItemsRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "items": {
          "description": "Required. List of items to remove.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "RemoveAddressGroupItemsRequest",
      "description": "Request used by the RemoveAddressGroupItems method."
    },
    "ListTlsInspectionPoliciesResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "tlsInspectionPolicies": {
          "type": "array",
          "items": {
            "$ref": "TlsInspectionPolicy"
          },
          "description": "List of TlsInspectionPolicies resources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'."
        }
      },
      "type": "object",
      "id": "ListTlsInspectionPoliciesResponse",
      "description": "Response returned by the ListTlsInspectionPolicies method."
    },
    "ListGatewaySecurityPolicyRulesResponse": {
      "id": "ListGatewaySecurityPolicyRulesResponse",
      "description": "Response returned by the ListGatewaySecurityPolicyRules method.",
      "type": "object",
      "properties": {
        "gatewaySecurityPolicyRules": {
          "description": "List of GatewaySecurityPolicyRule resources.",
          "type": "array",
          "items": {
            "$ref": "GatewaySecurityPolicyRule"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'."
        }
      }
    },
    "ListMirroringDeploymentGroupsResponse": {
      "id": "ListMirroringDeploymentGroupsResponse",
      "description": "Response message for ListMirroringDeploymentGroups.",
      "type": "object",
      "properties": {
        "mirroringDeploymentGroups": {
          "type": "array",
          "items": {
            "$ref": "MirroringDeploymentGroup"
          },
          "description": "The deployment groups from the specified parent."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        }
      }
    },
    "ListSecurityProfilesResponse": {
      "properties": {
        "securityProfiles": {
          "type": "array",
          "items": {
            "$ref": "SecurityProfile"
          },
          "description": "List of SecurityProfile resources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "id": "ListSecurityProfilesResponse",
      "description": "Response returned by the ListSecurityProfiles method.",
      "type": "object"
    },
    "ListFirewallEndpointAssociationsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "firewallEndpointAssociations": {
          "type": "array",
          "items": {
            "$ref": "FirewallEndpointAssociation"
          },
          "description": "The list of Association"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListFirewallEndpointAssociationsResponse",
      "description": "Message for response to listing Associations"
    },
    "MTLSPolicy": {
      "properties": {
        "clientValidationCa": {
          "type": "array",
          "items": {
            "$ref": "ValidationCA"
          },
          "description": "Required if the policy is to be used with Traffic Director. For Application Load Balancers it must be empty. Defines the mechanism to obtain the Certificate Authority certificate to validate the client certificate."
        },
        "clientValidationMode": {
          "enum": [
            "CLIENT_VALIDATION_MODE_UNSPECIFIED",
            "ALLOW_INVALID_OR_MISSING_CLIENT_CERT",
            "REJECT_INVALID"
          ],
          "enumDescriptions": [
            "Not allowed.",
            "Allow connection even if certificate chain validation of the client certificate failed or no client certificate was presented. The proof of possession of the private key is always checked if client certificate was presented. This mode requires the backend to implement processing of data extracted from a client certificate to authenticate the peer, or to reject connections if the client certificate fingerprint is missing.",
            "Require a client certificate and allow connection to the backend only if validation of the client certificate passed. If set, requires a reference to non-empty TrustConfig specified in `client_validation_trust_config`."
          ],
          "description": "When the client presents an invalid certificate or no certificate to the load balancer, the `client_validation_mode` specifies how the client connection is handled. Required if the policy is to be used with the Application Load Balancers. For Traffic Director it must be empty.",
          "type": "string"
        },
        "clientValidationTrustConfig": {
          "type": "string",
          "description": "Reference to the TrustConfig from certificatemanager.googleapis.com namespace. If specified, the chain validation will be performed against certificates configured in the given TrustConfig. Allowed only if the policy is to be used with Application Load Balancers."
        }
      },
      "type": "object",
      "id": "MTLSPolicy",
      "description": "Specification of the MTLSPolicy."
    },
    "GoogleIamV1Policy": {
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "MirroringEndpointGroupAssociationLocationDetails": {
      "properties": {
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The cloud location, e.g. \"us-central1-a\" or \"asia-south1\"."
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically."
          ],
          "type": "string",
          "description": "Output only. The current state of the association in this location.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OUT_OF_SYNC"
          ]
        }
      },
      "type": "object",
      "id": "MirroringEndpointGroupAssociationLocationDetails",
      "description": "Contains details about the state of an association in a specific cloud location."
    },
    "AuthzPolicyTarget": {
      "type": "object",
      "id": "AuthzPolicyTarget",
      "description": "Specifies the set of targets to which this policy should be applied to.",
      "properties": {
        "loadBalancingScheme": {
          "enum": [
            "LOAD_BALANCING_SCHEME_UNSPECIFIED",
            "INTERNAL_MANAGED",
            "EXTERNAL_MANAGED",
            "INTERNAL_SELF_MANAGED"
          ],
          "enumDescriptions": [
            "Default value. Do not use.",
            "Signifies that this is used for Regional internal or Cross-region internal Application Load Balancing.",
            "Signifies that this is used for Global external or Regional external Application Load Balancing.",
            "Signifies that this is used for Cloud Service Mesh. Meant for use by CSM GKE controller only."
          ],
          "description": "Optional. All gateways and forwarding rules referenced by this policy and extensions must share the same load balancing scheme. Required only when targeting forwarding rules. If targeting Secure Web Proxy, this field must be `INTERNAL_MANAGED` or not specified. Must not be specified when targeting Agent Gateway. Supported values: `INTERNAL_MANAGED` and `EXTERNAL_MANAGED`. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service).",
          "type": "string"
        },
        "resources": {
          "description": "Required. A list of references to the Forwarding Rules, Secure Web Proxy Gateways, or Agent Gateways on which this policy will be applied.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InterceptEndpointGroupAssociation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this endpoint group association, for example: `projects/123456789/locations/global/interceptEndpointGroupAssociations/my-eg-association`. See https://google.aip.dev/122 for more details."
        },
        "network": {
          "description": "Required. Immutable. The VPC network that is associated. for example: `projects/123456789/global/networks/my-network`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "interceptEndpointGroup": {
          "description": "Required. Immutable. The endpoint group that this association is connected to, for example: `projects/123456789/locations/global/interceptEndpointGroups/my-eg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. Current state of the endpoint group association.",
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ]
        },
        "locationsDetails": {
          "readOnly": true,
          "deprecated": true,
          "items": {
            "$ref": "InterceptEndpointGroupAssociationLocationDetails"
          },
          "description": "Output only. The list of locations where the association is present. This information is retrieved from the linked endpoint group, and not configured as part of the association itself.",
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "InterceptLocation"
          },
          "description": "Output only. The list of locations where the association is configured. This information is retrieved from the linked endpoint group.",
          "readOnly": true
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. adding a new location to the target deployment group). See https://google.aip.dev/128."
        },
        "networkCookie": {
          "readOnly": true,
          "description": "Output only. Identifier used by the data-path. See the NSI GENEVE format for more details: https://docs.cloud.google.com/network-security-integration/docs/understand-geneve#network_id",
          "type": "integer",
          "format": "uint32"
        }
      },
      "id": "InterceptEndpointGroupAssociation",
      "description": "An endpoint group association represents a link between a network and an endpoint group in the organization. Creating an association creates the networking infrastructure linking the network to the endpoint group, but does not enable intercept by itself. To enable intercept, the user must also create a network firewall policy containing intercept rules and associate it with the network.",
      "type": "object"
    },
    "GatewaySecurityPolicyRule": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the rule was created."
        },
        "basicProfile": {
          "description": "Required. Profile which tells what the primitive action should be.",
          "type": "string",
          "enum": [
            "BASIC_PROFILE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "If there is not a mentioned action for the target.",
            "Allow the matched traffic.",
            "Deny the matched traffic."
          ]
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "name": {
          "description": "Required. Immutable. Name of the resource. ame is the full resource name so projects/{project}/locations/{location}/gatewaySecurityPolicies/{gateway_security_policy}/rules/{rule} rule should match the pattern: (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. Whether the rule is enforced."
        },
        "tlsInspectionEnabled": {
          "type": "boolean",
          "description": "Optional. Flag to enable TLS inspection of traffic matching on , can only be true if the parent GatewaySecurityPolicy references a TLSInspectionConfig."
        },
        "sessionMatcher": {
          "description": "Required. CEL expression for matching on session criteria.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the rule was updated."
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Priority of the rule. Lower number corresponds to higher precedence."
        },
        "applicationMatcher": {
          "description": "Optional. CEL expression for matching on L7/application level criteria.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GatewaySecurityPolicyRule",
      "description": "The GatewaySecurityPolicyRule resource is in a nested collection within a GatewaySecurityPolicy and represents a traffic matching condition and associated action to perform."
    },
    "Expr": {
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "ListServerTlsPoliciesResponse": {
      "type": "object",
      "id": "ListServerTlsPoliciesResponse",
      "description": "Response returned by the ListServerTlsPolicies method.",
      "properties": {
        "serverTlsPolicies": {
          "type": "array",
          "items": {
            "$ref": "ServerTlsPolicy"
          },
          "description": "List of ServerTlsPolicy resources."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unreachable resources. Populated when the request opts into `return_partial_success` and reading across collections e.g. when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AuthzPolicyAuthzRulePrincipal": {
      "properties": {
        "principal": {
          "description": "Required. A non-empty string whose value is matched against the principal value based on the principal_selector. Only exact match can be applied for CLIENT_CERT_URI_SAN, CLIENT_CERT_DNS_NAME_SAN, CLIENT_CERT_COMMON_NAME selectors.",
          "$ref": "AuthzPolicyAuthzRuleStringMatch"
        },
        "principalSelector": {
          "enum": [
            "PRINCIPAL_SELECTOR_UNSPECIFIED",
            "CLIENT_CERT_URI_SAN",
            "CLIENT_CERT_DNS_NAME_SAN",
            "CLIENT_CERT_COMMON_NAME"
          ],
          "enumDescriptions": [
            "Unspecified principal selector. It will be treated as CLIENT_CERT_URI_SAN by default.",
            "The principal rule is matched against a list of URI SANs in the validated client's certificate. A match happens when there is any exact URI SAN value match. This is the default principal selector.",
            "The principal rule is matched against a list of DNS Name SANs in the validated client's certificate. A match happens when there is any exact DNS Name SAN value match. This is only applicable for Application Load Balancers except for classic Global External Application load balancer. CLIENT_CERT_DNS_NAME_SAN is not supported for INTERNAL_SELF_MANAGED load balancing scheme.",
            "The principal rule is matched against the common name in the client's certificate. Authorization against multiple common names in the client certificate is not supported. Requests with multiple common names in the client certificate will be rejected if CLIENT_CERT_COMMON_NAME is set as the principal selector. A match happens when there is an exact common name value match. This is only applicable for Application Load Balancers and not for Classic Application Load Balancer. CLIENT_CERT_COMMON_NAME is not supported for INTERNAL_SELF_MANAGED load balancing scheme."
          ],
          "description": "Optional. An enum to decide what principal value the principal rule will match against. If not specified, the PrincipalSelector is CLIENT_CERT_URI_SAN.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AuthzPolicyAuthzRulePrincipal",
      "description": "Describes the properties of a principal to be matched against."
    },
    "AuthzPolicyAuthzRuleFrom": {
      "type": "object",
      "id": "AuthzPolicyAuthzRuleFrom",
      "description": "Describes properties of one or more sources of a request.",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleFromRequestSource"
          },
          "description": "Optional. Describes the properties of a request's sources. At least one of sources or notSources must be specified. Limited to 1 source. A match occurs when ANY source (in sources or notSources) matches the request. Within a single source, the match follows AND semantics across fields and OR semantics within a single field, i.e. a match occurs when ANY principal matches AND ANY ipBlocks match."
        },
        "notSources": {
          "description": "Optional. Describes the negated properties of request sources. Matches requests from sources that do not match the criteria specified in this field. At least one of sources or notSources must be specified.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleFromRequestSource"
          }
        }
      }
    },
    "AuthzPolicyAuthzRuleRequestResourceTagValueIdSet": {
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Required. A list of resource tag value permanent IDs to match against the resource manager tags value associated with the source VM of a request. The match follows AND semantics which means all the ids must match. Limited to 5 ids in the Tag value id set."
        }
      },
      "id": "AuthzPolicyAuthzRuleRequestResourceTagValueIdSet",
      "description": "Describes a set of resource tag value permanent IDs to match against the resource manager tags value associated with the source VM of a request.",
      "type": "object"
    },
    "ListFirewallEndpointsResponse": {
      "id": "ListFirewallEndpointsResponse",
      "description": "Message for response to listing Endpoints",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "firewallEndpoints": {
          "type": "array",
          "items": {
            "$ref": "FirewallEndpoint"
          },
          "description": "The list of Endpoint"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListUrlListsResponse": {
      "properties": {
        "urlLists": {
          "description": "List of UrlList resources.",
          "type": "array",
          "items": {
            "$ref": "UrlList"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListUrlListsResponse",
      "description": "Response returned by the ListUrlLists method."
    },
    "UrlFilteringProfile": {
      "type": "object",
      "id": "UrlFilteringProfile",
      "description": "UrlFilteringProfile defines filters based on URL.",
      "properties": {
        "urlFilters": {
          "type": "array",
          "items": {
            "$ref": "UrlFilter"
          },
          "description": "Optional. The list of filtering configs in which each config defines an action to take for some URL match."
        }
      }
    },
    "ThreatPreventionProfile": {
      "type": "object",
      "id": "ThreatPreventionProfile",
      "description": "ThreatPreventionProfile defines an action for specific threat signatures or severity levels.",
      "properties": {
        "severityOverrides": {
          "type": "array",
          "items": {
            "$ref": "SeverityOverride"
          },
          "description": "Optional. Configuration for overriding threats actions by severity match."
        },
        "antivirusOverrides": {
          "description": "Optional. Configuration for overriding antivirus actions per protocol.",
          "type": "array",
          "items": {
            "$ref": "AntivirusOverride"
          }
        },
        "threatOverrides": {
          "type": "array",
          "items": {
            "$ref": "ThreatOverride"
          },
          "description": "Optional. Configuration for overriding threats actions by threat_id match. If a threat is matched both by configuration provided in severity_overrides and threat_overrides, the threat_overrides action is applied."
        }
      }
    },
    "ListAuthorizationPoliciesResponse": {
      "id": "ListAuthorizationPoliciesResponse",
      "description": "Response returned by the ListAuthorizationPolicies method.",
      "type": "object",
      "properties": {
        "authorizationPolicies": {
          "type": "array",
          "items": {
            "$ref": "AuthorizationPolicy"
          },
          "description": "List of AuthorizationPolicies resources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      }
    },
    "BackendAuthenticationConfig": {
      "type": "object",
      "id": "BackendAuthenticationConfig",
      "description": "BackendAuthenticationConfig message groups the TrustConfig together with other settings that control how the load balancer authenticates, and expresses its identity to, the backend: * `trustConfig` is the attached TrustConfig. * `wellKnownRoots` indicates whether the load balance should trust backend server certificates that are issued by public certificate authorities, in addition to certificates trusted by the TrustConfig. * `clientCertificate` is a client certificate that the load balancer uses to express its identity to the backend, if the connection to the backend uses mTLS. You can attach the BackendAuthenticationConfig to the load balancer's BackendService directly determining how that BackendService negotiates TLS.",
      "properties": {
        "etag": {
          "readOnly": true,
          "description": "Output only. Etag of the resource.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated."
        },
        "wellKnownRoots": {
          "type": "string",
          "description": "Well known roots to use for server certificate validation.",
          "enumDescriptions": [
            "Equivalent to NONE.",
            "The BackendService will only validate server certificates against roots specified in TrustConfig.",
            "The BackendService uses a set of well-known public roots, in addition to any roots specified in the trustConfig field, when validating the server certificates presented by the backend. Validation with these roots is only considered when the TlsSettings.sni field in the BackendService is set. The well-known roots are a set of root CAs managed by Google. CAs in this set can be added or removed without notice."
          ],
          "enum": [
            "WELL_KNOWN_ROOTS_UNSPECIFIED",
            "NONE",
            "PUBLIC_ROOTS"
          ]
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the BackendAuthenticationConfig resource. It matches the pattern `projects/*/locations/{location}/backendAuthenticationConfigs/{backend_authentication_config}`"
        },
        "trustConfig": {
          "description": "Optional. A reference to a TrustConfig resource from the certificatemanager.googleapis.com namespace. This is a relative resource path following the form \"projects/{project}/locations/{location}/trustConfigs/{trust_config}\". A BackendService uses the chain of trust represented by this TrustConfig, if specified, to validate the server certificates presented by the backend. Required unless wellKnownRoots is set to PUBLIC_ROOTS.",
          "type": "string"
        },
        "labels": {
          "description": "Set of label tags associated with the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "clientCertificate": {
          "type": "string",
          "description": "Optional. A reference to a certificatemanager.googleapis.com.Certificate resource. This is a relative resource path following the form \"projects/{project}/locations/{location}/certificates/{certificate}\". Used by a BackendService to negotiate mTLS when the backend connection uses TLS and the backend requests a client certificate. Must have a CLIENT_AUTH scope."
        }
      }
    },
    "InterceptEndpointGroupAssociationDetails": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The connected association's resource name, for example: `projects/123456789/locations/global/interceptEndpointGroupAssociations/my-ega`. See https://google.aip.dev/124."
        },
        "network": {
          "readOnly": true,
          "description": "Output only. The associated network, for example: projects/123456789/global/networks/my-network. See https://google.aip.dev/124.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. Most recent known state of the association.",
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ]
        }
      },
      "type": "object",
      "id": "InterceptEndpointGroupAssociationDetails",
      "description": "The endpoint group's view of a connected association."
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "MirroringEndpointGroupAssociationDetails": {
      "id": "MirroringEndpointGroupAssociationDetails",
      "description": "The endpoint group's view of a connected association.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The connected association's resource name, for example: `projects/123456789/locations/global/mirroringEndpointGroupAssociations/my-ega`. See https://google.aip.dev/124.",
          "readOnly": true
        },
        "network": {
          "description": "Output only. The associated network, for example: projects/123456789/global/networks/my-network. See https://google.aip.dev/124.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "type": "string",
          "description": "Output only. Most recent known state of the association.",
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ]
        }
      }
    },
    "FirewallEndpointAssociation": {
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "ORPHAN"
          ],
          "description": "Output only. Current state of the association.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Being created.",
            "Active and ready for traffic.",
            "Being deleted.",
            "Down or in an error state.",
            "The project that housed the association has been deleted."
          ]
        },
        "disabled": {
          "description": "Optional. Whether the association is disabled. True indicates that traffic won't be intercepted",
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Update time stamp"
        },
        "reconciling": {
          "description": "Output only. Whether reconciling is in progress, recommended per https://google.aip.dev/128.",
          "type": "boolean",
          "readOnly": true
        },
        "firewallEndpoint": {
          "type": "string",
          "description": "Required. The URL of the FirewallEndpoint that is being associated."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. name of resource"
        },
        "network": {
          "description": "Required. The URL of the network that is being associated.",
          "type": "string"
        },
        "tlsInspectionPolicy": {
          "type": "string",
          "description": "Optional. The URL of the TlsInspectionPolicy that is being associated."
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time stamp",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "FirewallEndpointAssociation",
      "description": "Message describing Association object",
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "ListSACRealmsResponse": {
      "type": "object",
      "id": "ListSACRealmsResponse",
      "description": "Response for `ListSACRealms` method.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "sacRealms": {
          "description": "The list of SACRealms.",
          "type": "array",
          "items": {
            "$ref": "SACRealm"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Destination": {
      "properties": {
        "hosts": {
          "description": "Required. List of host names to match. Matched against the \":authority\" header in http requests. At least one host should match. Each host can be an exact match, or a prefix match (example \"mydomain.*\") or a suffix match (example \"*.myorg.com\") or a presence (any) match \"*\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "methods": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of HTTP methods to match. At least one method should match. Should not be set for gRPC services."
        },
        "ports": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "description": "Required. List of destination ports to match. At least one port should match."
        },
        "httpHeaderMatch": {
          "description": "Optional. Match against key:value pair in http header. Provides a flexible match based on HTTP headers, for potentially advanced use cases. At least one header should match. Avoid using header matches to make authorization decisions unless there is a strong guarantee that requests arrive through a trusted client or proxy.",
          "$ref": "HttpHeaderMatch"
        }
      },
      "id": "Destination",
      "description": "Specification of traffic destination attributes.",
      "type": "object"
    },
    "ThreatOverride": {
      "properties": {
        "threatId": {
          "description": "Required. Vendor-specific ID of a threat to override.",
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "UNKNOWN",
            "VULNERABILITY",
            "ANTIVIRUS",
            "SPYWARE",
            "DNS"
          ],
          "enumDescriptions": [
            "Type of threat not specified.",
            "Type of threat is not derivable from threat ID. An override will be created for all types. Firewall will ignore overridden signature ID's that don't exist in the specific type.",
            "Threats related to system flaws that an attacker might otherwise attempt to exploit.",
            "Threats related to viruses and malware found in executables and file types.",
            "Threats related to command-and-control (C2) activity, where spyware on an infected client is collecting data without the user's consent and/or communicating with a remote attacker.",
            "Threats related to DNS."
          ],
          "type": "string",
          "description": "Output only. Type of the threat (read only)."
        },
        "action": {
          "description": "Required. Threat action override. For some threat types, only a subset of actions applies.",
          "type": "string",
          "enum": [
            "THREAT_ACTION_UNSPECIFIED",
            "DEFAULT_ACTION",
            "ALLOW",
            "ALERT",
            "DENY"
          ],
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ]
        }
      },
      "id": "ThreatOverride",
      "description": "Defines what action to take for a specific threat_id match.",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "AntivirusOverride": {
      "properties": {
        "protocol": {
          "type": "string",
          "description": "Required. Protocol to match.",
          "enumDescriptions": [
            "Protocol not specified.",
            "SMTP protocol",
            "SMB protocol",
            "POP3 protocol",
            "IMAP protocol",
            "HTTP2 protocol",
            "HTTP protocol",
            "FTP protocol"
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "SMTP",
            "SMB",
            "POP3",
            "IMAP",
            "HTTP2",
            "HTTP",
            "FTP"
          ]
        },
        "action": {
          "type": "string",
          "description": "Required. Threat action override. For some threat types, only a subset of actions applies.",
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "enum": [
            "THREAT_ACTION_UNSPECIFIED",
            "DEFAULT_ACTION",
            "ALLOW",
            "ALERT",
            "DENY"
          ]
        }
      },
      "id": "AntivirusOverride",
      "description": "Defines what action to take for antivirus threats per protocol.",
      "type": "object"
    },
    "MirroringDeployment": {
      "id": "MirroringDeployment",
      "description": "A deployment represents a zonal mirroring backend ready to accept GENEVE-encapsulated replica traffic, e.g. a zonal instance group fronted by an internal passthrough load balancer. Deployments are always part of a global deployment group which represents a global mirroring service.",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "description": "Output only. The current state of the deployment. See https://google.aip.dev/216.",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. linking a new association to the parent group). See https://google.aip.dev/128.",
          "type": "boolean"
        },
        "mirroringDeploymentGroup": {
          "type": "string",
          "description": "Required. Immutable. The deployment group that this deployment is a part of, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124."
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this deployment, for example: `projects/123456789/locations/us-central1-a/mirroringDeployments/my-dep`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description of the deployment. Used as additional context for the deployment."
        },
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "forwardingRule": {
          "description": "Required. Immutable. The regional forwarding rule that fronts the mirroring collectors, for example: `projects/123456789/regions/us-central1/forwardingRules/my-rule`. See https://google.aip.dev/124.",
          "type": "string"
        }
      }
    },
    "InterceptLocation": {
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OUT_OF_SYNC"
          ],
          "type": "string",
          "description": "Output only. The current state of the association in this location.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The resource is ready and in sync in the location.",
            "The resource is out of sync in the location. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically."
          ]
        },
        "location": {
          "type": "string",
          "description": "Output only. The cloud location, e.g. \"us-central1-a\" or \"asia-south1\".",
          "readOnly": true
        }
      },
      "id": "InterceptLocation",
      "description": "Details about intercept in a specific cloud location.",
      "type": "object"
    },
    "ListClientTlsPoliciesResponse": {
      "type": "object",
      "id": "ListClientTlsPoliciesResponse",
      "description": "Response returned by the ListClientTlsPolicies method.",
      "properties": {
        "clientTlsPolicies": {
          "description": "List of ClientTlsPolicy resources.",
          "type": "array",
          "items": {
            "$ref": "ClientTlsPolicy"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "type": "string",
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      }
    },
    "ClientTlsPolicy": {
      "type": "object",
      "id": "ClientTlsPolicy",
      "description": "ClientTlsPolicy is a resource that specifies how a client should authenticate connections to backends of a service. This resource itself does not affect configuration unless it is attached to a backend service resource.",
      "properties": {
        "serverValidationCa": {
          "description": "Optional. Defines the mechanism to obtain the Certificate Authority certificate to validate the server certificate. If empty, client does not validate the server certificate.",
          "type": "array",
          "items": {
            "$ref": "ValidationCA"
          }
        },
        "name": {
          "description": "Required. Name of the ClientTlsPolicy resource. It matches the pattern `projects/{project}/locations/{location}/clientTlsPolicies/{client_tls_policy}`",
          "type": "string"
        },
        "sni": {
          "type": "string",
          "description": "Optional. Server Name Indication string to present to the server during TLS handshake. E.g: \"secure.example.com\"."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the resource."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Free-text description of the resource."
        },
        "clientCertificate": {
          "description": "Optional. Defines a mechanism to provision client identity (public and private keys) for peer to peer authentication. The presence of this dictates mTLS.",
          "$ref": "GoogleCloudNetworksecurityV1CertificateProvider"
        }
      }
    },
    "Rule": {
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "Source"
          },
          "description": "Optional. List of attributes for the traffic source. All of the sources must match. A source is a match if both principals and ip_blocks match. If not set, the action specified in the 'action' field will be applied without any rule checks for the source."
        },
        "destinations": {
          "description": "Optional. List of attributes for the traffic destination. All of the destinations must match. A destination is a match if a request matches all the specified hosts, ports, methods and headers. If not set, the action specified in the 'action' field will be applied without any rule checks for the destination.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        }
      },
      "id": "Rule",
      "description": "Specification of rules.",
      "type": "object"
    },
    "AuthzPolicy": {
      "type": "object",
      "id": "AuthzPolicy",
      "description": "`AuthzPolicy` is a resource that allows to forward traffic to a callout backend designed to scan the traffic for security purposes.",
      "properties": {
        "customProvider": {
          "description": "Optional. Required if the action is `CUSTOM`. Allows delegating authorization decisions to Cloud IAP or to Service Extensions. One of `cloudIap` or `authzExtension` must be specified.",
          "$ref": "AuthzPolicyCustomProvider"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "action": {
          "enum": [
            "AUTHZ_ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "Unspecified action.",
            "Allow request to pass through to the backend.",
            "Deny the request and return a HTTP 404 to the client.",
            "Delegate the authorization decision to an external authorization engine."
          ],
          "description": "Required. Can be one of `ALLOW`, `DENY`, `CUSTOM`. When the action is `CUSTOM`, `customProvider` must be specified. When the action is `ALLOW`, only requests matching the policy will be allowed. When the action is `DENY`, only requests matching the policy will be denied. When a request arrives, the policies are evaluated in the following order: 1. If there is a `CUSTOM` policy that matches the request, the `CUSTOM` policy is evaluated using the custom authorization providers and the request is denied if the provider rejects the request. 2. If there are any `DENY` policies that match the request, the request is denied. 3. If there are no `ALLOW` policies for the resource or if any of the `ALLOW` policies match the request, the request is allowed. 4. Else the request is denied by default if none of the configured AuthzPolicies with `ALLOW` action match the request.",
          "type": "string"
        },
        "policyProfile": {
          "enum": [
            "POLICY_PROFILE_UNSPECIFIED",
            "REQUEST_AUTHZ",
            "CONTENT_AUTHZ"
          ],
          "enumDescriptions": [
            "Unspecified policy profile.",
            "Applies to request authorization. `CUSTOM` authorization policies with Authz extensions will be allowed with `EXT_AUTHZ_GRPC` or `EXT_PROC_GRPC` protocols. Extensions are invoked only for request header events.",
            "Applies to content security, sanitization, etc. Only `CUSTOM` action is allowed in this policy profile. AuthzExtensions in the custom provider must support `EXT_PROC_GRPC` protocol only and be capable of receiving all `EXT_PROC_GRPC` events (REQUEST_HEADERS, REQUEST_BODY, REQUEST_TRAILERS, RESPONSE_HEADERS, RESPONSE_BODY, RESPONSE_TRAILERS) with `FULL_DUPLEX_STREAMED` body send mode."
          ],
          "description": "Optional. Immutable. Defines the type of authorization being performed. If not specified, `REQUEST_AUTHZ` is applied. This field cannot be changed once AuthzPolicy is created.",
          "type": "string"
        },
        "networkRules": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRule"
          },
          "description": "Optional. A list of authorization network rules to match against the incoming request. A policy match occurs when at least one network rule matches the request. At least one network rule is required for Allow or Deny Action if no HTTP rules are provided. Network rules are mutually exclusive with HTTP rules. Limited to 5 rules."
        },
        "name": {
          "description": "Required. Identifier. Name of the `AuthzPolicy` resource in the following format: `projects/{project}/locations/{location}/authzPolicies/{authz_policy}`.",
          "type": "string"
        },
        "httpRules": {
          "description": "Optional. A list of authorization HTTP rules to match against the incoming request. A policy match occurs when at least one HTTP rule matches the request or when no HTTP rules are specified in the policy. At least one HTTP Rule is required for Allow or Deny Action. Limited to 5 rules.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRule"
          }
        },
        "labels": {
          "description": "Optional. Set of labels associated with the `AuthzPolicy` resource. The format must comply with [the following requirements](/compute/docs/labeling-resources#requirements).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true
        },
        "target": {
          "description": "Required. Specifies the set of resources to which this policy should be applied to.",
          "$ref": "AuthzPolicyTarget"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        }
      }
    },
    "InterceptEndpointGroupAssociationLocationDetails": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically."
          ],
          "description": "Output only. The current state of the association in this location.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OUT_OF_SYNC"
          ]
        },
        "location": {
          "readOnly": true,
          "description": "Output only. The cloud location, e.g. \"us-central1-a\" or \"asia-south1\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "InterceptEndpointGroupAssociationLocationDetails",
      "description": "Contains details about the state of an association in a specific cloud location."
    },
    "AuthzPolicyAuthzRuleStringMatch": {
      "type": "object",
      "id": "AuthzPolicyAuthzRuleStringMatch",
      "description": "Determines how a string value should be matched.",
      "properties": {
        "suffix": {
          "description": "The input string must have the suffix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc``",
          "type": "string"
        },
        "exact": {
          "description": "The input string must match exactly the string specified here. Examples: * ``abc`` only matches the value ``abc``.",
          "type": "string"
        },
        "ignoreCase": {
          "type": "boolean",
          "description": "If true, indicates the exact/prefix/suffix/contains matching should be case insensitive. For example, the matcher ``data`` will match both input string ``Data`` and ``data`` if set to true."
        },
        "contains": {
          "type": "string",
          "description": "The input string must have the substring specified here. Note: empty contains match is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc.def``"
        },
        "prefix": {
          "type": "string",
          "description": "The input string must have the prefix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``abc.xyz``"
        }
      }
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "MirroringDeploymentGroupConnectedEndpointGroup": {
      "type": "object",
      "id": "MirroringDeploymentGroupConnectedEndpointGroup",
      "description": "An endpoint group connected to this deployment group.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The connected endpoint group's resource name, for example: `projects/123456789/locations/global/mirroringEndpointGroups/my-eg`. See https://google.aip.dev/124.",
          "readOnly": true
        }
      }
    },
    "TlsInspectionPolicy": {
      "properties": {
        "excludePublicCaSet": {
          "description": "Optional. If FALSE (the default), use our default set of public CAs in addition to any CAs specified in trust_config. These public CAs are currently based on the Mozilla Root Program and are subject to change over time. If TRUE, do not accept our default set of public CAs. Only CAs specified in trust_config will be accepted. This defaults to FALSE (use public CAs in addition to trust_config) for backwards compatibility, but trusting public root CAs is *not recommended* unless the traffic in question is outbound to public web servers. When possible, prefer setting this to \"false\" and explicitly specifying trusted CAs and certificates in a TrustConfig. Note that Secure Web Proxy does not yet honor this field.",
          "type": "boolean"
        },
        "tlsFeatureProfile": {
          "type": "string",
          "description": "Optional. The selected Profile. If this is not set, then the default value is to allow the broadest set of clients and servers (\"PROFILE_COMPATIBLE\"). Setting this to more restrictive values may improve security, but may also prevent the TLS inspection proxy from connecting to some clients or servers. Note that Secure Web Proxy does not yet honor this field.",
          "enumDescriptions": [
            "Indicates no profile was specified.",
            "Compatible profile. Allows the broadest set of clients, even those which support only out-of-date SSL features to negotiate with the TLS inspection proxy.",
            "Modern profile. Supports a wide set of SSL features, allowing modern clients to negotiate SSL with the TLS inspection proxy.",
            "Restricted profile. Supports a reduced set of SSL features, intended to meet stricter compliance requirements.",
            "Custom profile. Allow only the set of allowed SSL features specified in the custom_features field of SslPolicy."
          ],
          "enum": [
            "PROFILE_UNSPECIFIED",
            "PROFILE_COMPATIBLE",
            "PROFILE_MODERN",
            "PROFILE_RESTRICTED",
            "PROFILE_CUSTOM"
          ]
        },
        "customTlsFeatures": {
[...]
