{
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "title": "Network Security API",
  "version": "v1beta1",
  "kind": "discovery#restDescription",
  "id": "networksecurity:v1beta1",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "name": "networksecurity",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "baseUrl": "https://networksecurity.googleapis.com/",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/networking",
  "description": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "rootUrl": "https://networksecurity.googleapis.com/",
  "mtlsRootUrl": "https://networksecurity.mtls.googleapis.com/",
  "revision": "20260625",
  "canonicalName": "NetworkSecurity",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "ListAuthorizationPoliciesResponse": {
      "type": "object",
      "id": "ListAuthorizationPoliciesResponse",
      "description": "Response returned by the ListAuthorizationPolicies method.",
      "properties": {
        "authorizationPolicies": {
          "type": "array",
          "description": "List of AuthorizationPolicies resources.",
          "items": {
            "$ref": "AuthorizationPolicy"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "ThreatOverride": {
      "id": "ThreatOverride",
      "description": "Defines what action to take for a specific threat_id match.",
      "properties": {
        "threatId": {
          "type": "string",
          "description": "Required. Vendor-specific ID of a threat to override."
        },
        "type": {
          "enumDescriptions": [
            "Type of threat not specified.",
            "Type of threat is not derivable from threat ID. An override will be created for all types. Firewall will ignore overridden signature ID's that don't exist in the specific type.",
            "Threats related to system flaws that an attacker might otherwise attempt to exploit.",
            "Threats related to viruses and malware found in executables and file types.",
            "Threats related to command-and-control (C2) activity, where spyware on an infected client is collecting data without the user's consent and/or communicating with a remote attacker.",
            "Threats related to DNS."
          ],
          "type": "string",
          "description": "Output only. Type of the threat (read only).",
          "readOnly": true,
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "UNKNOWN",
            "VULNERABILITY",
            "ANTIVIRUS",
            "SPYWARE",
            "DNS"
          ]
        },
        "action": {
          "enum": [
            "THREAT_ACTION_UNSPECIFIED",
            "DEFAULT_ACTION",
            "ALLOW",
            "ALERT",
            "DENY"
          ],
          "type": "string",
          "description": "Required. Threat action override. For some threat types, only a subset of actions applies.",
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ]
        }
      },
      "type": "object"
    },
    "ListAddressGroupReferencesResponseAddressGroupReference": {
      "id": "ListAddressGroupReferencesResponseAddressGroupReference",
      "description": "The Reference of AddressGroup.",
      "properties": {
        "firewallPolicy": {
          "type": "string",
          "description": "FirewallPolicy that is using the Address Group."
        },
        "securityPolicy": {
          "type": "string",
          "description": "Cloud Armor SecurityPolicy that is using the Address Group."
        },
        "rulePriority": {
          "format": "int32",
          "description": "Rule priority of the FirewallPolicy that is using the Address Group.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ListInterceptDeploymentsResponse": {
      "type": "object",
      "id": "ListInterceptDeploymentsResponse",
      "description": "Response message for ListInterceptDeployments.",
      "properties": {
        "interceptDeployments": {
          "type": "array",
          "description": "The deployments from the specified parent.",
          "items": {
            "$ref": "InterceptDeployment"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        }
      }
    },
    "AuthzPolicyAuthzRuleRequestResourceTagValueIdSet": {
      "id": "AuthzPolicyAuthzRuleRequestResourceTagValueIdSet",
      "description": "Describes a set of resource tag value permanent IDs to match against the resource manager tags value associated with the source VM of a request.",
      "properties": {
        "ids": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Required. A list of resource tag value permanent IDs to match against the resource manager tags value associated with the source VM of a request. The match follows AND semantics which means all the ids must match. Limited to 5 ids in the Tag value id set.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "WildfireSubmissionRule": {
      "id": "WildfireSubmissionRule",
      "description": "Defines the file types to be submitted for WildFire analysis and the direction of the traffic.",
      "properties": {
        "customFileTypes": {
          "$ref": "WildfireSubmissionRuleCustomFileTypes",
          "description": "Submit a custom list of file types for WildFire analysis."
        },
        "fileSelectionMode": {
          "type": "string",
          "description": "Required. File selection mode for WildFire analysis.",
          "enumDescriptions": [
            "File selection mode not specified.",
            "Submit all the file types for scan.",
            "Submit a custom list of file types for scan."
          ],
          "enum": [
            "FILE_SELECTION_MODE_UNSPECIFIED",
            "ALL_FILE_TYPES",
            "CUSTOM_FILE_TYPES"
          ]
        },
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "UPLOAD",
            "DOWNLOAD",
            "BOTH"
          ],
          "type": "string",
          "description": "Required. Direction for the files to be analyzed by WildFire.",
          "enumDescriptions": [
            "Direction not specified.",
            "Upload direction.",
            "Download direction.",
            "Both upload and download directions."
          ]
        }
      },
      "type": "object"
    },
    "ValidationCA": {
      "id": "ValidationCA",
      "description": "Specification of ValidationCA. Defines the mechanism to obtain the Certificate Authority certificate to validate the peer certificate.",
      "properties": {
        "grpcEndpoint": {
          "$ref": "GoogleCloudNetworksecurityV1beta1GrpcEndpoint",
          "description": "gRPC specific configuration to access the gRPC server to obtain the CA certificate."
        },
        "certificateProviderInstance": {
          "$ref": "CertificateProviderInstance",
          "description": "The certificate provider instance specification that will be passed to the data plane, which will be used to load necessary credential information."
        }
      },
      "type": "object"
    },
    "AuthzPolicyAuthzRuleFrom": {
      "type": "object",
      "id": "AuthzPolicyAuthzRuleFrom",
      "description": "Describes properties of one or more sources of a request.",
      "properties": {
        "sources": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleFromRequestSource"
          },
          "type": "array",
          "description": "Optional. Describes the properties of a request's sources. At least one of sources or notSources must be specified. Limited to 1 source. A match occurs when ANY source (in sources or notSources) matches the request. Within a single source, the match follows AND semantics across fields and OR semantics within a single field, i.e. a match occurs when ANY principal matches AND ANY ipBlocks match."
        },
        "notSources": {
          "type": "array",
          "description": "Optional. Describes the negated properties of request sources. Matches requests from sources that do not match the criteria specified in this field. At least one of sources or notSources must be specified.",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleFromRequestSource"
          }
        }
      }
    },
    "WildfireInlineCloudAnalysisRuleCustomFileTypes": {
      "id": "WildfireInlineCloudAnalysisRuleCustomFileTypes",
      "description": "The options to submit a custom list of file types for scan.",
      "properties": {
        "fileTypes": {
          "description": "Required. File types to be submitted for WildFire inline cloud analysis.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "File type not specified.",
              "Portable Executable (PE) files."
            ],
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "PE"
            ]
          }
        }
      },
      "type": "object"
    },
    "ListInterceptDeploymentGroupsResponse": {
      "type": "object",
      "id": "ListInterceptDeploymentGroupsResponse",
      "description": "Response message for ListInterceptDeploymentGroups.",
      "properties": {
        "interceptDeploymentGroups": {
          "type": "array",
          "description": "The deployment groups from the specified parent.",
          "items": {
            "$ref": "InterceptDeploymentGroup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
        }
      }
    },
    "UrlList": {
      "id": "UrlList",
      "description": "UrlList proto helps users to set reusable, independently manageable lists of hosts, host patterns, URLs, URL patterns.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the resource provided by the user. Name is of the form projects/{project}/locations/{location}/urlLists/{url_list} url_list should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$)."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the security policy was created.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the security policy was updated."
        },
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. FQDNs and URLs."
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuthzPolicyAuthzRuleHeaderMatch": {
      "id": "AuthzPolicyAuthzRuleHeaderMatch",
      "description": "Determines how a HTTP header should be matched.",
      "properties": {
        "value": {
          "$ref": "AuthzPolicyAuthzRuleStringMatch",
          "description": "Optional. Specifies how the header match will be performed."
        },
        "name": {
          "type": "string",
          "description": "Optional. Specifies the name of the header in the request."
        }
      },
      "type": "object"
    },
    "MTLSPolicy": {
      "type": "object",
      "id": "MTLSPolicy",
      "description": "Specification of the MTLSPolicy.",
      "properties": {
        "clientValidationMode": {
          "description": "When the client presents an invalid certificate or no certificate to the load balancer, the `client_validation_mode` specifies how the client connection is handled. Required if the policy is to be used with the Application Load Balancers. For Traffic Director it must be empty.",
          "enumDescriptions": [
            "Not allowed.",
            "Allow connection even if certificate chain validation of the client certificate failed or no client certificate was presented. The proof of possession of the private key is always checked if client certificate was presented. This mode requires the backend to implement processing of data extracted from a client certificate to authenticate the peer, or to reject connections if the client certificate fingerprint is missing.",
            "Require a client certificate and allow connection to the backend only if validation of the client certificate passed. If set, requires a reference to non-empty TrustConfig specified in `client_validation_trust_config`."
          ],
          "type": "string",
          "enum": [
            "CLIENT_VALIDATION_MODE_UNSPECIFIED",
            "ALLOW_INVALID_OR_MISSING_CLIENT_CERT",
            "REJECT_INVALID"
          ]
        },
        "clientValidationCa": {
          "items": {
            "$ref": "ValidationCA"
          },
          "type": "array",
          "description": "Required if the policy is to be used with Traffic Director. For Application Load Balancers it must be empty. Defines the mechanism to obtain the Certificate Authority certificate to validate the client certificate."
        },
        "clientValidationTrustConfig": {
          "description": "Reference to the TrustConfig from certificatemanager.googleapis.com namespace. If specified, the chain validation will be performed against certificates configured in the given TrustConfig. Allowed only if the policy is to be used with Application Load Balancers.",
          "type": "string"
        }
      }
    },
    "FirewallEndpointAssociation": {
      "type": "object",
      "id": "FirewallEndpointAssociation",
      "description": "Message describing Association object",
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "ORPHAN"
          ],
          "description": "Output only. Current state of the association.",
          "enumDescriptions": [
            "Not set.",
            "Being created.",
            "Active and ready for traffic.",
            "Being deleted.",
            "Down or in an error state.",
            "The project that housed the association has been deleted."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. name of resource"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Create time stamp",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Update time stamp",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        },
        "disabled": {
          "description": "Optional. Whether the association is disabled. True indicates that traffic won't be intercepted",
          "type": "boolean"
        },
        "network": {
          "type": "string",
          "description": "Required. The URL of the network that is being associated."
        },
        "firewallEndpoint": {
          "type": "string",
          "description": "Required. The URL of the FirewallEndpoint that is being associated."
        },
        "tlsInspectionPolicy": {
          "description": "Optional. The URL of the TlsInspectionPolicy that is being associated.",
          "type": "string"
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Whether reconciling is in progress, recommended per https://google.aip.dev/128.",
          "readOnly": true
        }
      }
    },
    "MirroringEndpointGroupConnectedDeploymentGroup": {
      "type": "object",
      "id": "MirroringEndpointGroupConnectedDeploymentGroup",
      "description": "The endpoint group's view of a connected deployment group.",
      "properties": {
        "locations": {
          "type": "array",
          "description": "Output only. The list of locations where the deployment group is present.",
          "readOnly": true,
          "items": {
            "$ref": "MirroringLocation"
          }
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The connected deployment group's resource name, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        }
      }
    },
    "ListMirroringEndpointGroupAssociationsResponse": {
      "type": "object",
      "id": "ListMirroringEndpointGroupAssociationsResponse",
      "description": "Response message for ListMirroringEndpointGroupAssociations.",
      "properties": {
        "mirroringEndpointGroupAssociations": {
          "items": {
            "$ref": "MirroringEndpointGroupAssociation"
          },
          "description": "The associations from the specified parent.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
        }
      }
    },
    "WildfireInlineMlOverride": {
      "id": "WildfireInlineMlOverride",
      "description": "Defines what action to take for WildFire Inline ML threats per protocol.",
      "properties": {
        "protocol": {
          "enum": [
            "WILDFIRE_PROTOCOL_UNSPECIFIED",
            "WILDFIRE_SMTP",
            "WILDFIRE_SMB",
            "WILDFIRE_POP3",
            "WILDFIRE_IMAP",
            "WILDFIRE_HTTP2",
            "WILDFIRE_HTTP",
            "WILDFIRE_FTP"
          ],
          "description": "Required. Protocol to match for WildFire Inline ML override.",
          "enumDescriptions": [
            "Protocol not specified.",
            "SMTP protocol",
            "SMB protocol",
            "POP3 protocol",
            "IMAP protocol",
            "HTTP2 protocol",
            "HTTP protocol",
            "FTP protocol"
          ],
          "type": "string"
        },
        "action": {
          "enum": [
            "WILDFIRE_THREAT_ACTION_UNSPECIFIED",
            "WILDFIRE_DEFAULT_ACTION",
            "WILDFIRE_ALLOW",
            "WILDFIRE_ALERT",
            "WILDFIRE_DENY"
          ],
          "description": "Required. The action to take for WildFire Inline ML override.",
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "MirroringDeploymentGroupConnectedEndpointGroup": {
      "id": "MirroringDeploymentGroupConnectedEndpointGroup",
      "description": "An endpoint group connected to this deployment group.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The connected endpoint group's resource name, for example: `projects/123456789/locations/global/mirroringEndpointGroups/my-eg`. See https://google.aip.dev/124."
        }
      },
      "type": "object"
    },
    "ListTlsInspectionPoliciesResponse": {
      "type": "object",
      "id": "ListTlsInspectionPoliciesResponse",
      "description": "Response returned by the ListTlsInspectionPolicies method.",
      "properties": {
        "tlsInspectionPolicies": {
          "description": "List of TlsInspectionPolicies resources.",
          "type": "array",
          "items": {
            "$ref": "TlsInspectionPolicy"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'.",
          "type": "string"
        }
      }
    },
    "AuthzPolicyAuthzRuleToRequestOperationMCPMethod": {
      "id": "AuthzPolicyAuthzRuleToRequestOperationMCPMethod",
      "description": "Describes a set of MCP methods to match against.",
      "properties": {
        "params": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          },
          "type": "array",
          "description": "Optional. A list of MCP method parameters to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 MCP method parameters per Authorization Policy."
        },
        "name": {
          "type": "string",
          "description": "Required. The MCP method to match against. Allowed values are as follows: 1. `tools`, `prompts`, `resources` - these will match against all sub methods under the respective methods. 2. `prompts/list`, `tools/list`, `resources/list`, `resources/templates/list` 3. `prompts/get`, `tools/call`, `resources/subscribe`, `resources/unsubscribe`, `resources/read` Params cannot be specified for categories 1 and 2."
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object"
    },
    "SACRealmPairingKey": {
      "type": "object",
      "id": "SACRealmPairingKey",
      "description": "Key to be shared with SSE service provider to establish global handshake.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Output only. Key value.",
          "readOnly": true
        },
        "expireTime": {
          "description": "Output only. Timestamp in UTC of when this resource is considered expired. It expires 7 days after creation.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "AddressGroup": {
      "id": "AddressGroup",
      "description": "AddressGroup is a resource that specifies how a collection of IP/DNS used in Firewall Policy.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Free-text description of the resource."
        },
        "items": {
          "type": "array",
          "description": "Optional. List of items.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. Name of the AddressGroup resource. It matches pattern `projects/*/locations/{location}/addressGroups/`.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of label tags associated with the AddressGroup resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "Required. The type of the Address Group. Possible values are \"IPv4\" or \"IPV6\".",
          "enumDescriptions": [
            "Default value.",
            "IP v4 ranges.",
            "IP v6 ranges."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ]
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. Server-defined fully-qualified URL for this resource.",
          "readOnly": true
        },
        "purpose": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. Should never happen.",
              "Address Group is distributed to VMC, and is usable in Firewall Policies and other systems that rely on VMC.",
              "Address Group is usable in Cloud Armor."
            ],
            "enum": [
              "PURPOSE_UNSPECIFIED",
              "DEFAULT",
              "CLOUD_ARMOR"
            ]
          },
          "description": "Optional. List of supported purposes of the Address Group.",
          "type": "array"
        },
        "capacity": {
          "description": "Required. Capacity of the Address Group",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "SecurityProfileGroup": {
      "id": "SecurityProfileGroup",
      "description": "SecurityProfileGroup is a resource that defines the behavior for various ProfileTypes.",
      "properties": {
        "dataPathId": {
          "readOnly": true,
          "format": "uint64",
          "description": "Output only. Identifier used by the data-path. Unique within \\{container, location\\}.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. Name of the SecurityProfileGroup resource. It matches pattern `projects|organizations/*/locations/{location}/securityProfileGroups/{security_profile_group}`."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Resource creation timestamp.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Last resource update timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "customMirroringProfile": {
          "type": "string",
          "description": "Optional. Reference to a SecurityProfile with the CustomMirroring configuration."
        },
        "threatPreventionProfile": {
          "description": "Optional. Reference to a SecurityProfile with the ThreatPrevention configuration.",
          "type": "string"
        },
        "description": {
          "description": "Optional. An optional description of the profile group. Max length 2048 characters.",
          "type": "string"
        },
        "urlFilteringProfile": {
          "type": "string",
          "description": "Optional. Reference to a SecurityProfile with the UrlFiltering configuration."
        },
        "wildfireAnalysisProfile": {
          "description": "Optional. Reference to a SecurityProfile with the WildFire configuration.",
          "type": "string"
        },
        "customInterceptProfile": {
          "type": "string",
          "description": "Optional. Reference to a SecurityProfile with the CustomIntercept configuration."
        }
      },
      "type": "object"
    },
    "SeverityOverride": {
      "type": "object",
      "id": "SeverityOverride",
      "description": "Defines what action to take for a specific severity match.",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFORMATIONAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. Severity level to match.",
          "enumDescriptions": [
            "Severity level not specified.",
            "Suspicious events that do not pose an immediate threat, but that are reported to call attention to deeper problems that could possibly exist.",
            "Warning-level threats that have very little impact on an organization's infrastructure. They usually require local or physical system access and may often result in victim privacy issues and information leakage.",
            "Minor threats in which impact is minimized, that do not compromise the target or exploits that require an attacker to reside on the same local network as the victim, affect only non-standard configurations or obscure applications, or provide very limited access.",
            "Threats that have the ability to become critical but have mitigating factors; for example, they may be difficult to exploit, do not result in elevated privileges, or do not have a large victim pool.",
            "Serious threats, such as those that affect default installations of widely deployed software, result in root compromise of servers, and the exploit code is widely available to attackers. The attacker usually does not need any special authentication credentials or knowledge about the individual victims and the target does not need to be manipulated into performing any special functions."
          ],
          "type": "string"
        },
        "action": {
          "enum": [
            "THREAT_ACTION_UNSPECIFIED",
            "DEFAULT_ACTION",
            "ALLOW",
            "ALERT",
            "DENY"
          ],
          "type": "string",
          "description": "Required. Threat action override.",
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ]
        }
      }
    },
    "MirroringEndpointGroup": {
      "type": "object",
      "id": "MirroringEndpointGroup",
      "description": "An endpoint group is a consumer frontend for a deployment group (backend). In order to configure mirroring for a network, consumers must create: - An association between their network and the endpoint group. - A security profile that points to the endpoint group. - A mirroring rule that references the security profile (group).",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this endpoint group, for example: `projects/123456789/locations/global/mirroringEndpointGroups/my-eg`. See https://google.aip.dev/122 for more details."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "DIRECT"
          ],
          "type": "string",
          "description": "Immutable. The type of the endpoint group. If left unspecified, defaults to DIRECT.",
          "enumDescriptions": [
            "Not set.",
            "An endpoint group that sends packets to a single deployment group."
          ]
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CLOSED",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "description": "Output only. The current state of the endpoint group. See https://google.aip.dev/216.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The endpoint group is ready and in sync with the target deployment group.",
            "The deployment group backing this endpoint group has been force-deleted. This endpoint group cannot be used and mirroring is effectively disabled.",
            "The endpoint group is being created.",
            "The endpoint group is being deleted.",
            "The endpoint group is out of sync with the backing deployment group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. See the associations field for details per network and location.",
            "An attempt to delete the endpoint group has failed. This is a terminal state and the endpoint group is not expected to recover. The only permitted operation is to retry deleting the endpoint group."
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description of the endpoint group. Used as additional context for the endpoint group."
        },
        "mirroringDeploymentGroup": {
          "type": "string",
          "description": "Immutable. The deployment group that this DIRECT endpoint group is connected to, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124."
        },
        "connectedDeploymentGroups": {
          "description": "Output only. List of details about the connected deployment groups to this endpoint group.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "MirroringEndpointGroupConnectedDeploymentGroup"
          }
        },
        "associations": {
          "readOnly": true,
          "items": {
            "$ref": "MirroringEndpointGroupAssociationDetails"
          },
          "description": "Output only. List of associations to this endpoint group.",
          "type": "array"
        },
        "reconciling": {
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new association to the group). See https://google.aip.dev/128.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "ListGatewaySecurityPoliciesResponse": {
      "id": "ListGatewaySecurityPoliciesResponse",
      "description": "Response returned by the ListGatewaySecurityPolicies method.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gatewaySecurityPolicies": {
          "items": {
            "$ref": "GatewaySecurityPolicy"
          },
          "description": "List of GatewaySecurityPolicies resources.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'."
        }
      },
      "type": "object"
    },
    "ListSecurityProfileGroupsResponse": {
      "type": "object",
      "id": "ListSecurityProfileGroupsResponse",
      "description": "Response returned by the ListSecurityProfileGroups method.",
      "properties": {
        "securityProfileGroups": {
          "items": {
            "$ref": "SecurityProfileGroup"
          },
          "description": "List of SecurityProfileGroups resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "WildfireInlineMlSettings": {
      "id": "WildfireInlineMlSettings",
      "description": "Defines the settings for WildFire Inline ML analysis.",
      "properties": {
        "inlineMlConfigs": {
          "type": "array",
          "description": "Optional. List of Inline ML configs to enable in WildFire Inline ML analysis.",
          "items": {
            "$ref": "WildfireInlineMlSettingsInlineMlConfig"
          }
        },
        "fileExceptions": {
          "type": "array",
          "description": "Optional. List of files to exclude from WildFire Inline ML analysis.",
          "items": {
            "$ref": "WildfireInlineMlFileException"
          }
        }
      },
      "type": "object"
    },
    "AuthzPolicyCustomProvider": {
      "id": "AuthzPolicyCustomProvider",
      "description": "Allows delegating authorization decisions to Cloud IAP or to Service Extensions.",
      "properties": {
        "authzExtension": {
          "$ref": "AuthzPolicyCustomProviderAuthzExtension",
          "description": "Optional. Delegate authorization decision to user authored Service Extension. Only one of cloudIap or authzExtension can be specified."
        },
        "cloudIap": {
          "description": "Optional. Delegates authorization decisions to Cloud IAP. Applicable only for managed load balancers. Enabling Cloud IAP at the AuthzPolicy level is not compatible with Cloud IAP settings in the BackendService. Enabling IAP in both places will result in request failure. Ensure that IAP is enabled in either the AuthzPolicy or the BackendService but not in both places.",
          "$ref": "AuthzPolicyCustomProviderCloudIap"
        }
      },
      "type": "object"
    },
    "WildfireAnalysisProfile": {
      "id": "WildfireAnalysisProfile",
      "description": "WildfireAnalysisProfile defines Palo Alto Networks WildFire behavior.",
      "properties": {
        "wildfireSubmissionRules": {
          "items": {
            "$ref": "WildfireSubmissionRule"
          },
          "type": "array",
          "description": "Optional. Configurations for WildFire file submissions."
        },
        "wildfireOverrides": {
          "items": {
            "$ref": "WildfireOverride"
          },
          "description": "Optional. Configuration for overriding WildFire actions per protocol.",
          "type": "array"
        },
        "wildfireInlineMlOverrides": {
          "type": "array",
          "description": "Optional. Configuration for overriding inline ML WildFire actions per protocol.",
          "items": {
            "$ref": "WildfireInlineMlOverride"
          }
        },
        "wildfireRealtimeLookup": {
          "description": "Optional. Whether to hold the transfer of a file while the WildFire real-time signature cloud performs a signature lookup. Default value is false.",
          "type": "boolean"
        },
        "wildfireThreatOverrides": {
          "type": "array",
          "description": "Optional. Configuration for overriding WildFire threats action by threat_id match.",
          "items": {
            "$ref": "WildfireThreatOverride"
          }
        },
        "wildfireInlineMlSetting": {
          "description": "Optional. Settings for WildFire Inline ML analysis.",
          "$ref": "WildfireInlineMlSettings"
        },
        "wildfireInlineMlSettings": {
          "type": "array",
          "description": "Optional. Settings for WildFire Inline ML analysis.",
          "deprecated": true,
          "items": {
            "$ref": "WildfireInlineMlSettings"
          }
        },
        "wildfireInlineCloudAnalysisRules": {
          "type": "array",
          "description": "Optional. Configuration for WildFire inline cloud analysis.",
          "items": {
            "$ref": "WildfireInlineCloudAnalysisRule"
          }
        }
      },
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "SACAttachmentSACAttachmentSymantecOptions": {
      "type": "object",
      "id": "SACAttachmentSACAttachmentSymantecOptions",
      "description": "Fields specific to attachments associated with Symantec Cloud SWG.",
      "properties": {
        "symantecSite": {
          "type": "string",
          "description": "Immutable. Symantec data center identifier that this attachment will connect to."
        },
        "symantecLocationName": {
          "description": "Immutable. Name to be used when creating a location on the customer's behalf in Symantec's Location API. Not to be confused with Google Cloud locations.",
          "type": "string"
        }
      }
    },
    "ListClientTlsPoliciesResponse": {
      "id": "ListClientTlsPoliciesResponse",
      "description": "Response returned by the ListClientTlsPolicies method.",
      "properties": {
        "clientTlsPolicies": {
          "items": {
            "$ref": "ClientTlsPolicy"
          },
          "description": "List of ClientTlsPolicy resources.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "type": "object"
    },
    "RemoveAddressGroupItemsRequest": {
      "id": "RemoveAddressGroupItemsRequest",
      "description": "Request used by the RemoveAddressGroupItems method.",
      "properties": {
        "items": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of items to remove."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "type": "object"
    },
    "ListMirroringDeploymentsResponse": {
      "id": "ListMirroringDeploymentsResponse",
      "description": "Response message for ListMirroringDeployments.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
        },
        "mirroringDeployments": {
          "type": "array",
          "description": "The deployments from the specified parent.",
          "items": {
            "$ref": "MirroringDeployment"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached. See https://google.aip.dev/217 for more details.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "InterceptDeploymentGroupConnectedEndpointGroup": {
      "id": "InterceptDeploymentGroupConnectedEndpointGroup",
      "description": "An endpoint group connected to this deployment group.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The connected endpoint group's resource name, for example: `projects/123456789/locations/global/interceptEndpointGroups/my-eg`. See https://google.aip.dev/124.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ServerTlsPolicy": {
      "type": "object",
      "id": "ServerTlsPolicy",
      "description": "ServerTlsPolicy is a resource that specifies how a server should authenticate incoming requests. This resource itself does not affect configuration unless it is attached to a target HTTPS proxy or endpoint config selector resource. ServerTlsPolicy in the form accepted by Application Load Balancers can be attached only to TargetHttpsProxy with an `EXTERNAL`, `EXTERNAL_MANAGED` or `INTERNAL_MANAGED` load balancing scheme. Traffic Director compatible ServerTlsPolicies can be attached to EndpointPolicy and TargetHttpsProxy with Traffic Director `INTERNAL_SELF_MANAGED` load balancing scheme.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the ServerTlsPolicy resource. It matches the pattern `projects/*/locations/{location}/serverTlsPolicies/{server_tls_policy}`"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Set of label tags associated with the resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "mtlsPolicy": {
          "$ref": "MTLSPolicy",
          "description": "This field is required if the policy is used with Application Load Balancers. This field can be empty for Traffic Director. Defines a mechanism to provision peer validation certificates for peer to peer authentication (Mutual TLS - mTLS). If not specified, client certificate will not be requested. The connection is treated as TLS and not mTLS. If `allow_open` and `mtls_policy` are set, server allows both plain text and mTLS connections."
        },
        "description": {
          "description": "Free-text description of the resource.",
          "type": "string"
        },
        "allowOpen": {
          "type": "boolean",
          "description": "This field applies only for Traffic Director policies. It is must be set to false for Application Load Balancer policies. Determines if server allows plaintext connections. If set to true, server allows plain text connections. By default, it is set to false. This setting is not exclusive of other encryption modes. For example, if `allow_open` and `mtls_policy` are set, server allows both plain text and mTLS connections. See documentation of other encryption modes to confirm compatibility. Consider using it if you wish to upgrade in place your deployment to TLS while having mixed TLS and non-TLS traffic reaching port :80."
        },
        "serverCertificate": {
          "description": "Optional if policy is to be used with Traffic Director. For Application Load Balancers must be empty. Defines a mechanism to provision server identity (public and private keys). Cannot be combined with `allow_open` as a permissive mode that allows both plain text and TLS is not supported.",
          "$ref": "GoogleCloudNetworksecurityV1beta1CertificateProvider"
        }
      }
    },
    "MirroringEndpointGroupAssociationLocationDetails": {
      "type": "object",
      "id": "MirroringEndpointGroupAssociationLocationDetails",
      "description": "Contains details about the state of an association in a specific cloud location.",
      "properties": {
        "location": {
          "description": "Output only. The cloud location, e.g. \"us-central1-a\" or \"asia-south1\".",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically."
          ],
          "type": "string",
          "description": "Output only. The current state of the association in this location.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OUT_OF_SYNC"
          ]
        }
      }
    },
    "CertificateProviderInstance": {
      "type": "object",
      "id": "CertificateProviderInstance",
      "description": "Specification of a TLS certificate provider instance. Workloads may have one or more CertificateProvider instances (plugins) and one of them is enabled and configured by specifying this message. Workloads use the values from this message to locate and load the CertificateProvider instance configuration.",
      "properties": {
        "pluginInstance": {
          "description": "Required. Plugin instance name, used to locate and load CertificateProvider instance configuration. Set to \"google_cloud_private_spiffe\" to use Certificate Authority Service certificate provider instance.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InterceptDeploymentGroupDeployment": {
      "type": "object",
      "id": "InterceptDeploymentGroupDeployment",
      "description": "A deployment belonging to this deployment group.",
      "properties": {
        "name": {
          "description": "Output only. The name of the Intercept Deployment, in the format: `projects/{project}/locations/{location}/interceptDeployments/{intercept_deployment}`.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "description": "Output only. Most recent known state of the deployment.",
          "type": "string",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ]
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        }
      },
      "type": "object"
    },
    "FirewallEndpointWildfireSettings": {
      "type": "object",
      "id": "FirewallEndpointWildfireSettings",
      "description": "Settings for WildFire analysis.",
      "properties": {
        "wildfireRegion": {
          "enum": [
            "WILDFIRE_REGION_UNSPECIFIED",
            "CANADA",
            "UNITED_STATES",
            "JAPAN",
            "SINGAPORE",
            "UNITED_KINGDOM",
            "AUSTRALIA",
            "GERMANY",
            "INDIA",
            "SWITZERLAND",
            "POLAND",
            "INDONESIA",
            "TAIWAN",
            "FRANCE",
            "QATAR",
            "SOUTH_KOREA",
            "ISRAEL",
            "SAUDI_ARABIA",
            "SPAIN"
          ],
          "description": "Optional. The region where WildFire analysis will be performed. PAN supports regions: https://docs.paloaltonetworks.com/advanced-wildfire/administration/advanced-wildfire-overview/advanced-wildfire-deployments/advanced-wildfire-global-cloud",
          "enumDescriptions": [
            "WildFire region not specified.",
            "Canada cloud portal: ca.wildfire.paloaltonetworks.com",
            "United States cloud portal: us-native.wildfire.paloaltonetworks.com",
            "Japan cloud portal: jp.wildfire.paloaltonetworks.com",
            "Singapore cloud portal: sg.wildfire.paloaltonetworks.com",
            "United Kingdom cloud portal: uk.wildfire.paloaltonetworks.com",
            "Australia cloud portal: au.wildfire.paloaltonetworks.com",
            "Germany cloud portal: de.wildfire.paloaltonetworks.com",
            "India cloud portal: in.wildfire.paloaltonetworks.com",
            "Switzerland cloud portal: ch.wildfire.paloaltonetworks.com",
            "Poland cloud portal: pl.wildfire.paloaltonetworks.com",
            "Indonesia cloud portal: id.wildfire.paloaltonetworks.com",
            "Taiwan cloud portal: tw.wildfire.paloaltonetworks.com",
            "France cloud portal: fr.wildfire.paloaltonetworks.com",
            "Qatar cloud portal: qatar.wildfire.paloaltonetworks.com",
            "South Korea cloud portal: kr.wildfire.paloaltonetworks.com",
            "Israel cloud portal: il.wildfire.paloaltonetworks.com",
            "Saudi Arabia cloud portal: sa.wildfire.paloaltonetworks.com",
            "Spain cloud portal: es.wildfire.paloaltonetworks.com"
          ],
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Indicates whether WildFire analysis is enabled. Default value is false.",
          "type": "boolean"
        },
        "wildfireRealtimeLookupDuration": {
          "format": "google-duration",
          "description": "Optional. Duration in milliseconds on a file being held while the WildFire real time signature cloud performs a signature lookup. Value between 1 to 5000 is valid. Default value is 1000.",
          "type": "string"
        },
        "wildfireRealtimeLookupTimeoutAction": {
          "enum": [
            "WILDFIRE_REALTIME_SIGNATURE_LOOKUP_TIMEOUT_ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "type": "string",
          "description": "Optional. Action to take on WildFire real time signature lookup timeout. Default value is ALLOW.",
          "enumDescriptions": [
            "WildFire real time signature lookup timeout action not specified.",
            "The files that timed out in the signature lookup will be allowed to transmit.",
            "The files that timed out in the signature lookup will be denied to transmit."
          ]
        },
        "wildfireInlineCloudAnalysisSettings": {
          "description": "Optional. Settings for WildFire inline cloud analysis.",
          "$ref": "FirewallEndpointWildfireSettingsWildfireInlineCloudAnalysisSettings"
        }
      }
    },
    "UrlFilteringProfile": {
      "id": "UrlFilteringProfile",
      "description": "UrlFilteringProfile defines filters based on URL.",
      "properties": {
        "urlFilters": {
          "type": "array",
          "description": "Optional. The list of filtering configs in which each config defines an action to take for some URL match.",
          "items": {
            "$ref": "UrlFilter"
          }
        }
      },
      "type": "object"
    },
    "ListGatewaySecurityPolicyRulesResponse": {
      "type": "object",
      "id": "ListGatewaySecurityPolicyRulesResponse",
      "description": "Response returned by the ListGatewaySecurityPolicyRules method.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gatewaySecurityPolicyRules": {
          "type": "array",
          "description": "List of GatewaySecurityPolicyRule resources.",
          "items": {
            "$ref": "GatewaySecurityPolicyRule"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'."
        }
      }
    },
    "InterceptDeployment": {
      "type": "object",
      "id": "InterceptDeployment",
      "description": "A deployment represents a zonal intercept backend ready to accept GENEVE-encapsulated traffic, e.g. a zonal instance group fronted by an internal passthrough load balancer. Deployments are always part of a global deployment group which represents a global intercept service.",
      "properties": {
        "name": {
          "description": "Immutable. Identifier. The resource name of this deployment, for example: `projects/123456789/locations/us-central1-a/interceptDeployments/my-dep`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "interceptDeploymentGroup": {
          "description": "Required. Immutable. The deployment group that this deployment is a part of, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "forwardingRule": {
          "type": "string",
          "description": "Required. Immutable. The regional forwarding rule that fronts the interceptors, for example: `projects/123456789/regions/us-central1/forwardingRules/my-rule`. See https://google.aip.dev/124."
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description of the deployment. Used as additional context for the deployment."
        },
        "state": {
          "description": "Output only. The current state of the deployment. See https://google.aip.dev/216.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ]
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. linking a new association to the parent group). See https://google.aip.dev/128.",
          "type": "boolean"
        }
      }
    },
    "ListInterceptEndpointGroupAssociationsResponse": {
      "type": "object",
      "id": "ListInterceptEndpointGroupAssociationsResponse",
      "description": "Response message for ListInterceptEndpointGroupAssociations.",
      "properties": {
        "interceptEndpointGroupAssociations": {
          "items": {
            "$ref": "InterceptEndpointGroupAssociation"
          },
          "type": "array",
          "description": "The associations from the specified parent."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
        }
      }
    },
    "ListFirewallEndpointsResponse": {
      "id": "ListFirewallEndpointsResponse",
      "description": "Message for response to listing Endpoints",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "firewallEndpoints": {
          "items": {
            "$ref": "FirewallEndpoint"
          },
          "type": "array",
          "description": "The list of Endpoint"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "SACAttachment": {
      "type": "object",
      "id": "SACAttachment",
      "description": "Represents a Secure Access Connect (SAC) attachment resource. A Secure Access Connect attachment enables NCC Gateway to process traffic with an SSE product.",
      "properties": {
        "nccGateway": {
          "type": "string",
          "description": "Required. NCC Gateway associated with the attachment. This can be input as an ID or a full resource name. The output always has the form `projects/{project_number}/locations/{location}/spokes/{ncc_gateway}`."
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Case-sensitive tzinfo identifier used for localization. Only valid for Symantec attachments."
        },
        "country": {
          "type": "string",
          "description": "Optional. Case-insensitive ISO-3166 alpha-2 country code used for localization. Only valid for Symantec attachments."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name, in the form `projects/{project}/locations/{location}/sacAttachments/{sac_attachment}`."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the attachment was created."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when the attachment was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Optional list of labels applied to the resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "symantecOptions": {
          "$ref": "SACAttachmentSACAttachmentSymantecOptions",
          "description": "Optional. Configuration required for Symantec attachments."
        },
        "sacRealm": {
          "description": "Required. SAC Realm which owns the attachment. This can be input as an ID or a full resource name. The output always has the form `projects/{project_number}/locations/{location}/sacRealms/{sac_realm}`.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_PARTNER_ATTACHMENT",
            "PARTNER_ATTACHED",
            "PARTNER_DETACHED"
          ],
          "description": "Output only. State of the attachment.",
          "enumDescriptions": [
            "No state specified. This should not be used.",
            "Has never been attached to a partner.",
            "Currently attached to a partner.",
            "Was once attached to a partner but has been detached."
          ],
          "type": "string"
        }
      }
    },
    "MirroringLocation": {
      "type": "object",
      "id": "MirroringLocation",
      "description": "Details about mirroring in a specific cloud location.",
      "properties": {
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The cloud location, e.g. \"us-central1-a\" or \"asia-south1\"."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OUT_OF_SYNC"
          ],
          "description": "Output only. The current state of the association in this location.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The resource is ready and in sync in the location.",
            "The resource is out of sync in the location. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically."
          ],
          "type": "string"
        }
      }
    },
    "FirewallEndpoint": {
      "type": "object",
      "id": "FirewallEndpoint",
      "description": "Message describing Endpoint object.",
      "properties": {
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Whether reconciling is in progress, recommended per https://google.aip.dev/128.",
          "type": "boolean"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. [Output Only] Reserved for future use.",
          "type": "boolean"
        },
        "associations": {
          "readOnly": true,
          "items": {
            "$ref": "FirewallEndpointAssociationReference"
          },
          "type": "array",
          "description": "Output only. List of FirewallEndpointAssociations that are associated to this endpoint. An association will only appear in this list after traffic routing is fully configured."
        },
        "wildfireSettings": {
          "description": "Optional. Settings for WildFire analysis.",
          "$ref": "FirewallEndpointWildfireSettings"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the firewall endpoint. Max length 2048 characters."
        },
        "endpointSettings": {
          "$ref": "FirewallEndpointEndpointSettings",
          "description": "Optional. Settings for the endpoint."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. [Output Only] Reserved for future use.",
          "readOnly": true
        },
        "associatedNetworks": {
          "type": "array",
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Deprecated: List of networks that are associated with this endpoint in the local zone. This is a projection of the FirewallEndpointAssociations pointing at this endpoint. A network will only appear in this list after traffic routing is fully configured. Format: projects/{project}/global/networks/{name}.",
          "readOnly": true
        },
        "billingProjectId": {
          "type": "string",
          "description": "Optional. Project to charge for the deployed firewall endpoint. This field must be specified when creating the endpoint in the organization scope, and should be omitted otherwise."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. Name of resource."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Create time stamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Update time stamp",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE"
          ],
          "description": "Output only. Current state of the endpoint.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Being created.",
            "Processing configuration updates.",
            "Being deleted.",
            "Down or in an error state."
          ]
        }
      }
    },
    "InterceptLocation": {
      "id": "InterceptLocation",
      "description": "Details about intercept in a specific cloud location.",
      "properties": {
        "location": {
          "readOnly": true,
          "description": "Output only. The cloud location, e.g. \"us-central1-a\" or \"asia-south1\".",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The resource is ready and in sync in the location.",
            "The resource is out of sync in the location. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically."
          ],
          "type": "string",
          "description": "Output only. The current state of the association in this location.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OUT_OF_SYNC"
          ]
        }
      },
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "type": "object"
    },
    "InterceptEndpointGroupAssociationLocationDetails": {
      "type": "object",
      "id": "InterceptEndpointGroupAssociationLocationDetails",
      "description": "Contains details about the state of an association in a specific cloud location.",
      "properties": {
        "location": {
          "description": "Output only. The cloud location, e.g. \"us-central1-a\" or \"asia-south1\".",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The current state of the association in this location.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OUT_OF_SYNC"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically."
          ]
        }
      }
    },
    "AuthzPolicyAuthzRuleToRequestOperationMCP": {
      "id": "AuthzPolicyAuthzRuleToRequestOperationMCP",
      "description": "Describes a set of MCP protocol attributes to match against for a given MCP request.",
      "properties": {
        "methods": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleToRequestOperationMCPMethod"
          },
          "description": "Optional. A list of MCP methods and associated parameters to match on. It is recommended to use this field to match on tools, prompts and resource accesses while setting the baseProtocolMethodsOption to MATCH_BASE_PROTOCOL_METHODS to match on all the other MCP protocol methods. Limited to 10 MCP methods per Authorization Policy.",
          "type": "array"
        },
        "baseProtocolMethodsOption": {
          "enum": [
            "BASE_PROTOCOL_METHODS_OPTION_UNSPECIFIED",
            "SKIP_BASE_PROTOCOL_METHODS",
            "MATCH_BASE_PROTOCOL_METHODS"
          ],
          "type": "string",
          "description": "Optional. If specified, matches on the MCP protocol’s non-access specific methods namely: * initialize * completion/ * logging/ * notifications/ * ping Defaults to SKIP_BASE_PROTOCOL_METHODS if not specified.",
          "enumDescriptions": [
            "Unspecified option. Defaults to SKIP_BASE_PROTOCOL_METHODS.",
            "Skip matching on the base MCP protocol methods.",
            "Match on the base MCP protocol methods."
          ]
        }
      },
      "type": "object"
    },
    "ThreatPreventionProfile": {
      "type": "object",
      "id": "ThreatPreventionProfile",
      "description": "ThreatPreventionProfile defines an action for specific threat signatures or severity levels.",
      "properties": {
        "severityOverrides": {
          "type": "array",
          "description": "Optional. Configuration for overriding threats actions by severity match.",
          "items": {
            "$ref": "SeverityOverride"
          }
        },
        "antivirusOverrides": {
          "items": {
            "$ref": "AntivirusOverride"
          },
          "type": "array",
          "description": "Optional. Configuration for overriding antivirus actions per protocol."
        },
        "threatOverrides": {
          "items": {
            "$ref": "ThreatOverride"
          },
          "type": "array",
          "description": "Optional. Configuration for overriding threats actions by threat_id match. If a threat is matched both by configuration provided in severity_overrides and threat_overrides, the threat_overrides action is applied."
        }
      }
    },
    "AuthzPolicyAuthzRuleStringMatch": {
      "type": "object",
      "id": "AuthzPolicyAuthzRuleStringMatch",
      "description": "Determines how a string value should be matched.",
      "properties": {
        "contains": {
          "description": "The input string must have the substring specified here. Note: empty contains match is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc.def``",
          "type": "string"
        },
        "suffix": {
          "description": "The input string must have the suffix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc``",
          "type": "string"
        },
        "prefix": {
          "description": "The input string must have the prefix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``abc.xyz``",
          "type": "string"
        },
        "exact": {
          "description": "The input string must match exactly the string specified here. Examples: * ``abc`` only matches the value ``abc``.",
          "type": "string"
        },
        "ignoreCase": {
          "type": "boolean",
          "description": "If true, indicates the exact/prefix/suffix/contains matching should be case insensitive. For example, the matcher ``data`` will match both input string ``Data`` and ``data`` if set to true."
        }
      }
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "GatewaySecurityPolicy": {
      "id": "GatewaySecurityPolicy",
      "description": "The GatewaySecurityPolicy resource contains a collection of GatewaySecurityPolicyRules and associated metadata.",
      "properties": {
        "tlsInspectionPolicy": {
          "type": "string",
          "description": "Optional. Name of a TLS Inspection Policy resource that defines how TLS inspection will be performed for any rule(s) which enables it."
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the resource. Name is of the form projects/{project}/locations/{location}/gatewaySecurityPolicies/{gateway_security_policy} gateway_security_policy should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "AuthzPolicyAuthzRuleToRequestOperation": {
      "type": "object",
      "id": "AuthzPolicyAuthzRuleToRequestOperation",
      "description": "Describes properties of one or more targets of a request.",
      "properties": {
        "mcp": {
          "description": "Optional. Defines the MCP protocol attributes to match on. If the MCP payload in the request body cannot be successfully parsed, the request will be denied. This field can be set only for AuthzPolicies targeting AgentGateway resources.",
          "$ref": "AuthzPolicyAuthzRuleToRequestOperationMCP"
        },
        "hosts": {
          "description": "Optional. A list of HTTP Hosts to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 hosts per Authorization Policy.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          }
        },
        "snis": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          },
          "description": "Optional. A list of SNIs to match against. The match can be one of exact, prefix, suffix, or contains (substring match). If there is no SNI (i.e. plaintext HTTP traffic), the request will be denied. Matches are always case sensitive unless the ignoreCase is set. Limited to 10 SNIs per Authorization Policy.",
          "type": "array"
        },
        "methods": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of HTTP methods to match against. Each entry must be a valid HTTP method name (GET, PUT, POST, HEAD, PATCH, DELETE, OPTIONS). It only allows exact match and is always case sensitive. Limited to 10 methods per Authorization Policy.",
          "type": "array"
        },
        "headerSet": {
          "$ref": "AuthzPolicyAuthzRuleToRequestOperationHeaderSet",
          "description": "Optional. A list of headers to match against in http header."
        },
        "paths": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          },
          "description": "Optional. A list of paths to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 paths per Authorization Policy. Note that this path match includes the query parameters. For gRPC services, this should be a fully-qualified name of the form /package.service/method.",
          "type": "array"
        }
      }
    },
    "FirewallEndpointEndpointSettings": {
      "id": "FirewallEndpointEndpointSettings",
      "description": "Settings for the endpoint.",
      "properties": {
        "jumboFramesEnabled": {
          "type": "boolean",
          "description": "Optional. Immutable. Indicates whether Jumbo Frames are enabled. Default value is false."
        },
        "contentCloudRegion": {
          "type": "string",
          "description": "Optional. The content cloud region of the endpoint.",
          "enumDescriptions": [
            "PAN content cloud region not specified.",
            "us.hawkeye.services-edge.paloaltonetworks.com",
            "APAC content cloud portal: apac.hawkeye.services-edge.paloaltonetworks.com",
            "India content cloud portal: in.hawkeye.services-edge.paloaltonetworks.com",
            "UK content cloud portal: uk.hawkeye.services-edge.paloaltonetworks.com",
            "France content cloud portal: fr.hawkeye.services-edge.paloaltonetworks.com",
            "Japan content cloud portal: jp.hawkeye.services-edge.paloaltonetworks.com",
            "Australia content cloud portal: au.hawkeye.services-edge.paloaltonetworks.com",
            "Canada content cloud portal: ca.hawkeye.services-edge.paloaltonetworks.com",
            "Switzerland content cloud portal: ch.hawkeye.services-edge.paloaltonetworks.com",
            "Netherlands content cloud portal: nl.hawkeye.services-edge.paloaltonetworks.com",
            "Indonesia content cloud portal: id.hawkeye.services-edge.paloaltonetworks.com",
            "Qatar content cloud portal: qa.hawkeye.services-edge.paloaltonetworks.com",
            "Taiwan content cloud portal: tw.hawkeye.services-edge.paloaltonetworks.com",
            "Poland content cloud portal: pl.hawkeye.services-edge.paloaltonetworks.com",
            "South Korea content cloud portal: kr.hawkeye.services-edge.paloaltonetworks.com",
            "Saudi Arabia content cloud portal: sa.hawkeye.services-edge.paloaltonetworks.com",
            "Italy content cloud portal: it.hawkeye.services-edge.paloaltonetworks.com"
          ],
          "enum": [
            "CONTENT_CLOUD_REGION_UNSPECIFIED",
            "US_CENTRAL",
            "APAC",
            "INDIA",
            "UK",
            "FRANCE",
            "JAPAN",
            "AUSTRALIA",
            "CANADA",
            "SWITZERLAND",
            "NETHERLANDS",
            "INDONESIA",
            "QATAR",
            "TAIWAN",
            "POLAND",
            "SOUTH_KOREA",
            "SAUDI_ARABIA",
            "ITALY"
          ]
        },
        "httpPartialResponseBlocked": {
          "type": "boolean",
          "description": "Optional. Whether to block HTTP partial responses for the endpoint. When this is true, resumption of blocked malicious HTTP file downloads will be blocked by the firewall. False provides maximum availability, true provides maximum security."
        }
      },
      "type": "object"
    },
    "HttpHeaderMatch": {
      "id": "HttpHeaderMatch",
      "description": "Specification of HTTP header match attributes.",
      "properties": {
        "regexMatch": {
          "description": "Required. The value of the header must match the regular expression specified in regexMatch. For regular expression grammar, please see: en.cppreference.com/w/cpp/regex/ecmascript For matching against a port specified in the HTTP request, use a headerMatch with headerName set to Host and a regular expression that satisfies the RFC2616 Host header's port specifier.",
          "type": "string"
        },
        "headerName": {
          "type": "string",
          "description": "Required. The name of the HTTP header to match. For matching against the HTTP request's authority, use a headerMatch with the header name \":authority\". For matching a request's method, use the headerName \":method\"."
        }
      },
      "type": "object"
    },
    "WildfireInlineCloudAnalysisRule": {
      "type": "object",
      "id": "WildfireInlineCloudAnalysisRule",
      "description": "The list of file type configurations to be scanned by WildFire Inline Cloud Analysis.",
      "properties": {
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "UPLOAD",
            "DOWNLOAD",
            "BOTH"
          ],
          "description": "Required. Direction for the file to be analyzed by WildFire Inline Cloud Analysis.",
          "enumDescriptions": [
            "Direction not specified.",
            "Upload direction.",
            "Download direction.",
            "Both upload and download directions."
          ],
          "type": "string"
        },
        "customFileTypes": {
          "description": "Submit a custom list of file types for WildFire analysis.",
          "$ref": "WildfireInlineCloudAnalysisRuleCustomFileTypes"
        },
        "fileSelectionMode": {
          "description": "Required. File selection mode for WildFire inline cloud analysis.",
          "enumDescriptions": [
            "File selection mode not specified.",
            "Submit all the file types for scan.",
            "Submit a custom list of file types for scan."
          ],
          "type": "string",
          "enum": [
            "FILE_SELECTION_MODE_UNSPECIFIED",
            "ALL_FILE_TYPES",
            "CUSTOM_FILE_TYPES"
          ]
        },
        "action": {
          "enum": [
            "WILDFIRE_INLINE_CLOUD_ANALYSIS_ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY",
            "ALERT"
          ],
          "description": "Required. Action to take when a threat is detected using WildFire Inline Cloud Analysis. The default Value is DENY.",
          "enumDescriptions": [
            "WildFire Inline Cloud Analysis action not specified.",
            "The files caught by WildFire Inline Cloud Analysis will be allowed to transmit.",
            "The files caught by WildFire Inline Cloud Analysis will be denied to transmit.",
[...]
