{
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://networksecurity.googleapis.com/",
  "canonicalName": "NetworkSecurity",
  "schemas": {
    "GoogleIamV1TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "type": "object"
    },
    "ClientTlsPolicy": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Required. Name of the ClientTlsPolicy resource. It matches the pattern `projects/{project}/locations/{location}/clientTlsPolicies/{client_tls_policy}`",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Free-text description of the resource."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the resource.",
          "type": "object"
        },
        "sni": {
          "type": "string",
          "description": "Optional. Server Name Indication string to present to the server during TLS handshake. E.g: \"secure.example.com\"."
        },
        "serverValidationCa": {
          "items": {
            "$ref": "ValidationCA"
          },
          "type": "array",
          "description": "Optional. Defines the mechanism to obtain the Certificate Authority certificate to validate the server certificate. If empty, client does not validate the server certificate."
        },
        "clientCertificate": {
          "description": "Optional. Defines a mechanism to provision client identity (public and private keys) for peer to peer authentication. The presence of this dictates mTLS.",
          "$ref": "GoogleCloudNetworksecurityV1beta1CertificateProvider"
        }
      },
      "type": "object",
      "id": "ClientTlsPolicy",
      "description": "ClientTlsPolicy is a resource that specifies how a client should authenticate connections to backends of a service. This resource itself does not affect configuration unless it is attached to a backend service resource."
    },
    "ListClientTlsPoliciesResponse": {
      "type": "object",
      "id": "ListClientTlsPoliciesResponse",
      "description": "Response returned by the ListClientTlsPolicies method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "clientTlsPolicies": {
          "type": "array",
          "description": "List of ClientTlsPolicy resources.",
          "items": {
            "$ref": "ClientTlsPolicy"
          }
        }
      }
    },
    "GoogleCloudNetworksecurityV1beta1CertificateProvider": {
      "properties": {
        "grpcEndpoint": {
          "description": "gRPC specific configuration to access the gRPC server to obtain the cert and private key.",
          "$ref": "GoogleCloudNetworksecurityV1beta1GrpcEndpoint"
        },
        "certificateProviderInstance": {
          "description": "The certificate provider instance specification that will be passed to the data plane, which will be used to load necessary credential information.",
          "$ref": "CertificateProviderInstance"
        }
      },
      "id": "GoogleCloudNetworksecurityV1beta1CertificateProvider",
      "description": "Specification of certificate provider. Defines the mechanism to obtain the certificate and private key for peer to peer authentication.",
      "type": "object"
    },
    "ValidationCA": {
      "type": "object",
      "id": "ValidationCA",
      "properties": {
        "certificateProviderInstance": {
          "description": "The certificate provider instance specification that will be passed to the data plane, which will be used to load necessary credential information.",
          "$ref": "CertificateProviderInstance"
        },
        "grpcEndpoint": {
          "description": "gRPC specific configuration to access the gRPC server to obtain the CA certificate.",
          "$ref": "GoogleCloudNetworksecurityV1beta1GrpcEndpoint"
        }
      },
      "description": "Specification of ValidationCA. Defines the mechanism to obtain the Certificate Authority certificate to validate the peer certificate."
    },
    "MirroringLocation": {
      "description": "Details about mirroring in a specific cloud location.",
      "type": "object",
      "properties": {
        "location": {
          "readOnly": true,
          "description": "Output only. The cloud location, e.g. \"us-central1-a\" or \"asia-south1\".",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OUT_OF_SYNC"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The resource is ready and in sync in the location.",
            "The resource is out of sync in the location. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically."
          ],
          "type": "string",
          "description": "Output only. The current state of the association in this location."
        }
      },
      "id": "MirroringLocation"
    },
    "ListWildfireVerdictChangeRequestsResponse": {
      "description": "Message for response to listing WildfireVerdictChangeRequests.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        },
        "wildfireVerdictChangeRequests": {
          "description": "The list of WildfireVerdictChangeRequests",
          "type": "array",
          "items": {
            "$ref": "WildfireVerdictChangeRequest"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListWildfireVerdictChangeRequestsResponse"
    },
    "InterceptDeploymentGroupDeployment": {
      "id": "InterceptDeploymentGroupDeployment",
      "description": "A deployment belonging to this deployment group.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the Intercept Deployment, in the format: `projects/{project}/locations/{location}/interceptDeployments/{intercept_deployment}`."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "description": "Output only. Most recent known state of the deployment.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "readOnly": true
        }
      },
      "type": "object"
    },
    "AuthorizationPolicy": {
      "description": "AuthorizationPolicy is a resource that specifies how a server should authorize incoming connections. This resource in itself does not change the configuration unless it's attached to a target https proxy or endpoint config selector resource.",
      "id": "AuthorizationPolicy",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Required. Name of the AuthorizationPolicy resource. It matches pattern `projects/{project}/locations/{location}/authorizationPolicies/`.",
          "type": "string"
        },
        "rules": {
          "items": {
            "$ref": "Rule"
          },
          "description": "Optional. List of rules to match. Note that at least one of the rules must match in order for the action specified in the 'action' field to be taken. A rule is a match if there is a matching source and destination. If left blank, the action specified in the `action` field will be applied on every request.",
          "type": "array"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the AuthorizationPolicy resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Grant access.",
            "Deny access. Deny rules should be avoided unless they are used to provide a default \"deny all\" fallback."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "description": "Required. The action to take when a rule match is found. Possible values are \"ALLOW\" or \"DENY\"."
        }
      }
    },
    "ListSecurityProfilesResponse": {
      "properties": {
        "securityProfiles": {
          "items": {
            "$ref": "SecurityProfile"
          },
          "description": "List of SecurityProfile resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "id": "ListSecurityProfilesResponse",
      "description": "Response returned by the ListSecurityProfiles method.",
      "type": "object"
    },
    "FirewallEndpointAssociation": {
      "type": "object",
      "description": "Message describing Association object",
      "id": "FirewallEndpointAssociation",
      "properties": {
        "tlsInspectionPolicy": {
          "description": "Optional. The URL of the TlsInspectionPolicy that is being associated.",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Whether reconciling is in progress, recommended per https://google.aip.dev/128.",
          "type": "boolean"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the association is disabled. True indicates that traffic won't be intercepted"
        },
        "firewallEndpoint": {
          "description": "Required. The URL of the FirewallEndpoint that is being associated.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. name of resource"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "network": {
          "description": "Required. The URL of the network that is being associated.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "Being created.",
            "Active and ready for traffic.",
            "Being deleted.",
            "Down or in an error state.",
            "The project that housed the association has been deleted."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Current state of the association.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "ORPHAN"
          ]
        },
        "createTime": {
          "description": "Output only. Create time stamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Update time stamp"
        }
      }
    },
    "CertificateProviderInstance": {
      "type": "object",
      "description": "Specification of a TLS certificate provider instance. Workloads may have one or more CertificateProvider instances (plugins) and one of them is enabled and configured by specifying this message. Workloads use the values from this message to locate and load the CertificateProvider instance configuration.",
      "id": "CertificateProviderInstance",
      "properties": {
        "pluginInstance": {
          "type": "string",
          "description": "Required. Plugin instance name, used to locate and load CertificateProvider instance configuration. Set to \"google_cloud_private_spiffe\" to use Certificate Authority Service certificate provider instance."
        }
      }
    },
    "ListDnsThreatDetectorsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token`, to retrieve the next page."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable `DnsThreatDetector` resources."
        },
        "dnsThreatDetectors": {
          "description": "The list of DnsThreatDetector resources.",
          "items": {
            "$ref": "DnsThreatDetector"
          },
          "type": "array"
        }
      },
      "description": "The response message to requesting a list of DnsThreatDetectors.",
      "id": "ListDnsThreatDetectorsResponse",
      "type": "object"
    },
    "ListGatewaySecurityPolicyRulesResponse": {
      "type": "object",
      "description": "Response returned by the ListGatewaySecurityPolicyRules method.",
      "properties": {
        "gatewaySecurityPolicyRules": {
          "type": "array",
          "description": "List of GatewaySecurityPolicyRule resources.",
          "items": {
            "$ref": "GatewaySecurityPolicyRule"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'.",
          "type": "string"
        }
      },
      "id": "ListGatewaySecurityPolicyRulesResponse"
    },
    "WildfireInlineMlOverride": {
      "id": "WildfireInlineMlOverride",
      "properties": {
        "action": {
          "description": "Required. The action to take for WildFire Inline ML override.",
          "enum": [
            "WILDFIRE_THREAT_ACTION_UNSPECIFIED",
            "WILDFIRE_DEFAULT_ACTION",
            "WILDFIRE_ALLOW",
            "WILDFIRE_ALERT",
            "WILDFIRE_DENY"
          ],
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "type": "string"
        },
        "protocol": {
          "enum": [
            "WILDFIRE_PROTOCOL_UNSPECIFIED",
            "WILDFIRE_SMTP",
            "WILDFIRE_SMB",
            "WILDFIRE_POP3",
            "WILDFIRE_IMAP",
            "WILDFIRE_HTTP2",
            "WILDFIRE_HTTP",
            "WILDFIRE_FTP"
          ],
          "enumDescriptions": [
            "Protocol not specified.",
            "SMTP protocol",
            "SMB protocol",
            "POP3 protocol",
            "IMAP protocol",
            "HTTP2 protocol",
            "HTTP protocol",
            "FTP protocol"
          ],
          "type": "string",
          "description": "Required. Protocol to match for WildFire Inline ML override."
        }
      },
      "description": "Defines what action to take for WildFire Inline ML threats per protocol.",
      "type": "object"
    },
    "FirewallEndpointEndpointSettings": {
      "properties": {
        "jumboFramesEnabled": {
          "type": "boolean",
          "description": "Optional. Immutable. Indicates whether Jumbo Frames are enabled. Default value is false."
        },
        "httpPartialResponseBlocked": {
          "description": "Optional. Whether to block HTTP partial responses for the endpoint. When this is true, resumption of blocked malicious HTTP file downloads will be blocked by the firewall. False provides maximum availability, true provides maximum security.",
          "type": "boolean"
        },
        "contentCloudRegion": {
          "enumDescriptions": [
            "Palo Alto Networks content cloud region not specified.",
            "us.hawkeye.services-edge.paloaltonetworks.com",
            "APAC content cloud portal: apac.hawkeye.services-edge.paloaltonetworks.com",
            "India content cloud portal: in.hawkeye.services-edge.paloaltonetworks.com",
            "UK content cloud portal: uk.hawkeye.services-edge.paloaltonetworks.com",
            "France content cloud portal: fr.hawkeye.services-edge.paloaltonetworks.com",
            "Japan content cloud portal: jp.hawkeye.services-edge.paloaltonetworks.com",
            "Australia content cloud portal: au.hawkeye.services-edge.paloaltonetworks.com",
            "Canada content cloud portal: ca.hawkeye.services-edge.paloaltonetworks.com",
            "Switzerland content cloud portal: ch.hawkeye.services-edge.paloaltonetworks.com",
            "Netherlands content cloud portal: nl.hawkeye.services-edge.paloaltonetworks.com",
            "Indonesia content cloud portal: id.hawkeye.services-edge.paloaltonetworks.com",
            "Qatar content cloud portal: qa.hawkeye.services-edge.paloaltonetworks.com",
            "Taiwan content cloud portal: tw.hawkeye.services-edge.paloaltonetworks.com",
            "Poland content cloud portal: pl.hawkeye.services-edge.paloaltonetworks.com",
            "South Korea content cloud portal: kr.hawkeye.services-edge.paloaltonetworks.com",
            "Saudi Arabia content cloud portal: sa.hawkeye.services-edge.paloaltonetworks.com",
            "Italy content cloud portal: it.hawkeye.services-edge.paloaltonetworks.com"
          ],
          "description": "Optional. The content cloud region of the endpoint.",
          "enum": [
            "CONTENT_CLOUD_REGION_UNSPECIFIED",
            "US_CENTRAL",
            "APAC",
            "INDIA",
            "UK",
            "FRANCE",
            "JAPAN",
            "AUSTRALIA",
            "CANADA",
            "SWITZERLAND",
            "NETHERLANDS",
            "INDONESIA",
            "QATAR",
            "TAIWAN",
            "POLAND",
            "SOUTH_KOREA",
            "SAUDI_ARABIA",
            "ITALY"
          ],
          "type": "string"
        }
      },
      "description": "Settings for the endpoint.",
      "type": "object",
      "id": "FirewallEndpointEndpointSettings"
    },
    "ListAuthzPoliciesResponse": {
      "description": "Message for response to listing `AuthzPolicy` resources.",
      "type": "object",
      "id": "ListAuthzPoliciesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results that the server returns.",
          "type": "string"
        },
        "authzPolicies": {
          "items": {
            "$ref": "AuthzPolicy"
          },
          "description": "The list of `AuthzPolicy` resources.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "MirroringDeployment": {
      "type": "object",
      "properties": {
        "forwardingRule": {
          "type": "string",
          "description": "Required. Immutable. The regional forwarding rule that fronts the mirroring collectors, for example: `projects/123456789/regions/us-central1/forwardingRules/my-rule`. See https://google.aip.dev/124."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "description": "Output only. The current state of the deployment. See https://google.aip.dev/216.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources."
        },
        "mirroringDeploymentGroup": {
          "description": "Required. Immutable. The deployment group that this deployment is a part of, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "description": {
          "description": "Optional. User-provided description of the deployment. Used as additional context for the deployment.",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. linking a new association to the parent group). See https://google.aip.dev/128.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this deployment, for example: `projects/123456789/locations/us-central1-a/mirroringDeployments/my-dep`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        }
      },
      "description": "A deployment represents a zonal mirroring backend ready to accept GENEVE-encapsulated replica traffic, e.g. a zonal instance group fronted by an internal passthrough load balancer. Deployments are always part of a global deployment group which represents a global mirroring service.",
      "id": "MirroringDeployment"
    },
    "AntivirusOverride": {
      "properties": {
        "action": {
          "type": "string",
          "description": "Required. Threat action override. For some threat types, only a subset of actions applies.",
          "enum": [
            "THREAT_ACTION_UNSPECIFIED",
            "DEFAULT_ACTION",
            "ALLOW",
            "ALERT",
            "DENY"
          ],
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ]
        },
        "protocol": {
          "enumDescriptions": [
            "Protocol not specified.",
            "SMTP protocol",
            "SMB protocol",
            "POP3 protocol",
            "IMAP protocol",
            "HTTP2 protocol",
            "HTTP protocol",
            "FTP protocol"
          ],
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "SMTP",
            "SMB",
            "POP3",
            "IMAP",
            "HTTP2",
            "HTTP",
            "FTP"
          ],
          "description": "Required. Protocol to match."
        }
      },
      "type": "object",
      "id": "AntivirusOverride",
      "description": "Defines what action to take for antivirus threats per protocol."
    },
    "ListFirewallEndpointsResponse": {
      "description": "Message for response to listing Endpoints",
      "id": "ListFirewallEndpointsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "firewallEndpoints": {
          "type": "array",
          "items": {
            "$ref": "FirewallEndpoint"
          },
          "description": "The list of Endpoint"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "ListInterceptEndpointGroupsResponse": {
      "description": "Response message for ListInterceptEndpointGroups.",
      "id": "ListInterceptEndpointGroupsResponse",
      "type": "object",
      "properties": {
        "interceptEndpointGroups": {
          "description": "The endpoint groups from the specified parent.",
          "items": {
            "$ref": "InterceptEndpointGroup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
        }
      }
    },
    "Rule": {
      "id": "Rule",
      "description": "Specification of rules.",
      "properties": {
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array",
          "description": "Optional. List of attributes for the traffic source. All of the sources must match. A source is a match if both principals and ip_blocks match. If not set, the action specified in the 'action' field will be applied without any rule checks for the source."
        },
        "destinations": {
          "items": {
            "$ref": "Destination"
          },
          "type": "array",
          "description": "Optional. List of attributes for the traffic destination. All of the destinations must match. A destination is a match if a request matches all the specified hosts, ports, methods and headers. If not set, the action specified in the 'action' field will be applied without any rule checks for the destination."
        }
      },
      "type": "object"
    },
    "MirroringEndpointGroupAssociationLocationDetails": {
      "type": "object",
      "description": "Contains details about the state of an association in a specific cloud location.",
      "properties": {
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The cloud location, e.g. \"us-central1-a\" or \"asia-south1\"."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OUT_OF_SYNC"
          ],
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the association in this location."
        }
      },
      "id": "MirroringEndpointGroupAssociationLocationDetails"
    },
    "ListMirroringDeploymentGroupsResponse": {
      "type": "object",
      "description": "Response message for ListMirroringDeploymentGroups.",
      "properties": {
        "mirroringDeploymentGroups": {
          "description": "The deployment groups from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "MirroringDeploymentGroup"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        }
      },
      "id": "ListMirroringDeploymentGroupsResponse"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      }
    },
    "MirroringDeploymentGroupConnectedEndpointGroup": {
      "id": "MirroringDeploymentGroupConnectedEndpointGroup",
      "description": "An endpoint group connected to this deployment group.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The connected endpoint group's resource name, for example: `projects/123456789/locations/global/mirroringEndpointGroups/my-eg`. See https://google.aip.dev/124."
        }
      },
      "type": "object"
    },
    "InterceptDeploymentGroupConnectedEndpointGroup": {
      "description": "An endpoint group connected to this deployment group.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The connected endpoint group's resource name, for example: `projects/123456789/locations/global/interceptEndpointGroups/my-eg`. See https://google.aip.dev/124."
        }
      },
      "type": "object",
      "id": "InterceptDeploymentGroupConnectedEndpointGroup"
    },
    "RemoveAddressGroupItemsRequest": {
      "properties": {
        "items": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of items to remove.",
          "type": "array"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request used by the RemoveAddressGroupItems method.",
      "type": "object",
      "id": "RemoveAddressGroupItemsRequest"
    },
    "AuthzPolicyAuthzRuleHeaderMatch": {
      "id": "AuthzPolicyAuthzRuleHeaderMatch",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "AuthzPolicyAuthzRuleStringMatch",
          "description": "Optional. Specifies how the header match will be performed."
        },
        "name": {
          "description": "Optional. Specifies the name of the header in the request.",
          "type": "string"
        }
      },
      "description": "Determines how a HTTP header should be matched."
    },
    "AuthzPolicyTarget": {
      "properties": {
        "loadBalancingScheme": {
          "enum": [
            "LOAD_BALANCING_SCHEME_UNSPECIFIED",
            "INTERNAL_MANAGED",
            "EXTERNAL_MANAGED",
            "INTERNAL_SELF_MANAGED"
          ],
          "type": "string",
          "description": "Optional. All gateways and forwarding rules referenced by this policy and extensions must share the same load balancing scheme. Required only when targeting forwarding rules. If targeting Secure Web Proxy, this field must be `INTERNAL_MANAGED` or not specified. Must not be specified when targeting Agent Gateway. Supported values include `INTERNAL_MANAGED` and `EXTERNAL_MANAGED`. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service).",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Signifies that this is used for Regional internal or Cross-region internal Application Load Balancing.",
            "Signifies that this is used for Global external or Regional external Application Load Balancing.",
            "Signifies that this is used for Cloud Service Mesh. Meant for use by CSM GKE controller only."
          ]
        },
        "resources": {
          "type": "array",
          "description": "Required. A list of references to the Forwarding Rules, Secure Web Proxy Gateways, or Agent Gateways on which this policy will be applied.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "AuthzPolicyTarget",
      "description": "Specifies the set of targets to which this policy should be applied to."
    },
    "MirroringEndpointGroupConnectedDeploymentGroup": {
      "description": "The endpoint group's view of a connected deployment group.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The connected deployment group's resource name, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "readOnly": true
        },
        "locations": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "MirroringLocation"
          },
          "description": "Output only. The list of locations where the deployment group is present."
        }
      },
      "id": "MirroringEndpointGroupConnectedDeploymentGroup",
      "type": "object"
    },
    "AuthzPolicyAuthzRuleToRequestOperation": {
      "properties": {
        "paths": {
          "description": "Optional. A list of paths to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 paths per Authorization Policy. Note that this path match includes the query parameters. For gRPC services, this should be a fully-qualified name of the form /package.service/method.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          }
        },
        "hosts": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          },
          "description": "Optional. A list of HTTP Hosts to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 hosts per Authorization Policy."
        },
        "snis": {
          "description": "Optional. A list of SNIs to match against. The match can be one of exact, prefix, suffix, or contains (substring match). If there is no SNI (i.e. plaintext HTTP traffic), the request will be denied. Matches are always case sensitive unless the ignoreCase is set. Limited to 10 SNIs per Authorization Policy.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          }
        },
        "methods": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of HTTP methods to match against. Each entry must be a valid HTTP method name (GET, PUT, POST, HEAD, PATCH, DELETE, OPTIONS). It only allows exact match and is always case sensitive. Limited to 10 methods per Authorization Policy."
        },
        "mcp": {
          "$ref": "AuthzPolicyAuthzRuleToRequestOperationMCP",
          "description": "Optional. Defines the MCP protocol attributes to match on. If the MCP payload in the request body cannot be successfully parsed, the request will be denied. This field can be set only for AuthzPolicies targeting AgentGateway resources."
        },
        "headerSet": {
          "description": "Optional. A list of headers to match against in http header.",
          "$ref": "AuthzPolicyAuthzRuleToRequestOperationHeaderSet"
        }
      },
      "type": "object",
      "id": "AuthzPolicyAuthzRuleToRequestOperation",
      "description": "Describes properties of one or more targets of a request."
    },
    "AuthzPolicyAuthzRule": {
      "id": "AuthzPolicyAuthzRule",
      "description": "Conditions to match against the incoming request.",
      "properties": {
        "to": {
          "$ref": "AuthzPolicyAuthzRuleTo",
          "description": "Optional. Describes properties of a target of a request."
        },
        "from": {
          "description": "Optional. Describes properties of a source of a request.",
          "$ref": "AuthzPolicyAuthzRuleFrom"
        },
        "when": {
          "description": "Optional. CEL expression that describes the conditions to be satisfied for the action. The result of the CEL expression is ANDed with the from and to. Refer to the CEL language reference for a list of available attributes.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuthzPolicyAuthzRuleFrom": {
      "type": "object",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleFromRequestSource"
          },
          "description": "Optional. Describes the properties of a request's sources. At least one of sources or notSources must be specified. Limited to 1 source. A match occurs when ANY source (in sources or notSources) matches the request. Within a single source, the match follows AND semantics across fields and OR semantics within a single field, i.e. a match occurs when ANY principal matches AND ANY ipBlocks match."
        },
        "notSources": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleFromRequestSource"
          },
          "description": "Optional. Describes the negated properties of request sources. Matches requests from sources that do not match the criteria specified in this field. At least one of sources or notSources must be specified."
        }
      },
      "description": "Describes properties of one or more sources of a request.",
      "id": "AuthzPolicyAuthzRuleFrom"
    },
    "SecurityProfile": {
      "properties": {
        "customInterceptProfile": {
          "description": "The custom TPPI configuration for the SecurityProfile.",
          "$ref": "CustomInterceptProfile"
        },
        "description": {
          "description": "Optional. An optional description of the profile. Max length 512 characters.",
          "type": "string"
        },
        "threatPreventionProfile": {
          "description": "The threat prevention configuration for the SecurityProfile.",
          "$ref": "ThreatPreventionProfile"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Resource creation timestamp.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. Last resource update timestamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "customMirroringProfile": {
          "$ref": "CustomMirroringProfile",
          "description": "The custom Packet Mirroring v2 configuration for the SecurityProfile."
        },
        "type": {
          "enum": [
            "PROFILE_TYPE_UNSPECIFIED",
            "THREAT_PREVENTION",
            "CUSTOM_MIRRORING",
            "CUSTOM_INTERCEPT",
            "URL_FILTERING",
            "WILDFIRE_ANALYSIS"
          ],
          "description": "Immutable. The single ProfileType that the SecurityProfile resource configures.",
          "type": "string",
          "enumDescriptions": [
            "Profile type not specified.",
            "Profile type for threat prevention.",
            "Profile type for packet mirroring v2",
            "Profile type for TPPI.",
            "Profile type for URL filtering.",
            "Profile type for WildFire Analysis."
          ]
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "urlFilteringProfile": {
          "description": "The URL filtering configuration for the SecurityProfile.",
          "$ref": "UrlFilteringProfile"
        },
        "name": {
          "description": "Immutable. Identifier. Name of the SecurityProfile resource. It matches pattern `projects|organizations/*/locations/{location}/securityProfiles/{security_profile}`.",
          "type": "string"
        },
        "wildfireAnalysisProfile": {
          "description": "The WildFire Analysis configurations for SecurityProfile.",
          "$ref": "WildfireAnalysisProfile"
        }
      },
      "description": "SecurityProfile is a resource that defines the behavior for one of many ProfileTypes.",
      "id": "SecurityProfile",
      "type": "object"
    },
    "ThreatOverride": {
      "id": "ThreatOverride",
      "properties": {
        "type": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "UNKNOWN",
            "VULNERABILITY",
            "ANTIVIRUS",
            "SPYWARE",
            "DNS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type of threat not specified.",
            "Type of threat is not derivable from threat ID. An override will be created for all types. Firewall will ignore overridden signature ID's that don't exist in the specific type.",
            "Threats related to system flaws that an attacker might otherwise attempt to exploit.",
            "Threats related to viruses and malware found in executables and file types.",
            "Threats related to command-and-control (C2) activity, where spyware on an infected client is collecting data without the user's consent and/or communicating with a remote attacker.",
            "Threats related to DNS."
          ],
          "description": "Output only. Type of the threat (read only).",
          "readOnly": true
        },
        "action": {
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "enum": [
            "THREAT_ACTION_UNSPECIFIED",
            "DEFAULT_ACTION",
            "ALLOW",
            "ALERT",
            "DENY"
          ],
          "type": "string",
          "description": "Required. Threat action override. For some threat types, only a subset of actions applies."
        },
        "threatId": {
          "description": "Required. Vendor-specific ID of a threat to override.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Defines what action to take for a specific threat_id match."
    },
    "InterceptEndpointGroupAssociationLocationDetails": {
      "properties": {
        "location": {
          "readOnly": true,
          "description": "Output only. The cloud location, e.g. \"us-central1-a\" or \"asia-south1\".",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OUT_OF_SYNC"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the association in this location."
        }
      },
      "type": "object",
      "description": "Contains details about the state of an association in a specific cloud location.",
      "id": "InterceptEndpointGroupAssociationLocationDetails"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ListInterceptDeploymentsResponse": {
      "properties": {
        "interceptDeployments": {
          "type": "array",
          "description": "The deployments from the specified parent.",
          "items": {
            "$ref": "InterceptDeployment"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
        }
      },
      "description": "Response message for ListInterceptDeployments.",
      "type": "object",
      "id": "ListInterceptDeploymentsResponse"
    },
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "CustomInterceptProfile": {
      "id": "CustomInterceptProfile",
      "properties": {
        "interceptEndpointGroup": {
          "description": "Required. The target InterceptEndpointGroup. When a firewall rule with this security profile attached matches a packet, the packet will be intercepted to the location-local target in this group.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "CustomInterceptProfile defines in-band integration behavior (intercept). It is used by firewall rules with an APPLY_SECURITY_PROFILE_GROUP action."
    },
    "SecurityProfileGroup": {
      "type": "object",
      "description": "SecurityProfileGroup is a resource that defines the behavior for various ProfileTypes.",
      "properties": {
        "urlFilteringProfile": {
          "description": "Optional. Reference to a SecurityProfile with the UrlFiltering configuration.",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "threatPreventionProfile": {
          "description": "Optional. Reference to a SecurityProfile with the ThreatPrevention configuration.",
          "type": "string"
        },
        "dataPathId": {
          "description": "Output only. Identifier used by the data-path. Unique within `{container, location}`.",
          "readOnly": true,
          "type": "string",
          "format": "uint64"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. Name of the SecurityProfileGroup resource. It matches pattern `projects|organizations/*/locations/{location}/securityProfileGroups/{security_profile_group}`."
        },
        "customMirroringProfile": {
          "type": "string",
          "description": "Optional. Reference to a SecurityProfile with the CustomMirroring configuration."
        },
        "wildfireAnalysisProfile": {
          "description": "Optional. Reference to a SecurityProfile with the WildFire configuration.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Last resource update timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key value pairs."
        },
        "createTime": {
          "description": "Output only. Resource creation timestamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "customInterceptProfile": {
          "type": "string",
          "description": "Optional. Reference to a SecurityProfile with the CustomIntercept configuration."
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional description of the profile group. Max length 2048 characters."
        }
      },
      "id": "SecurityProfileGroup"
    },
    "AuthzPolicyAuthzRuleRequestResourceTagValueIdSet": {
      "type": "object",
      "id": "AuthzPolicyAuthzRuleRequestResourceTagValueIdSet",
      "properties": {
        "ids": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Required. A list of resource tag value permanent IDs to match against the resource manager tags value associated with the source VM of a request. The match follows AND semantics which means all the ids must match. Limited to 5 ids in the Tag value id set."
        }
      },
      "description": "Describes a set of resource tag value permanent IDs to match against the resource manager tags value associated with the source VM of a request."
    },
    "GoogleIamV1AuditLogConfig": {
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object"
    },
    "ListAddressGroupReferencesResponseAddressGroupReference": {
      "type": "object",
      "properties": {
        "rulePriority": {
          "description": "Rule priority of the FirewallPolicy that is using the Address Group.",
          "type": "integer",
          "format": "int32"
        },
        "securityPolicy": {
          "description": "Cloud Armor SecurityPolicy that is using the Address Group.",
          "type": "string"
        },
        "firewallPolicy": {
          "type": "string",
          "description": "FirewallPolicy that is using the Address Group."
        }
      },
      "description": "The Reference of AddressGroup.",
      "id": "ListAddressGroupReferencesResponseAddressGroupReference"
    },
    "ListMirroringDeploymentsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        },
        "mirroringDeployments": {
          "description": "The deployments from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "MirroringDeployment"
          }
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached. See https://google.aip.dev/217 for more details.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListMirroringDeploymentsResponse",
      "description": "Response message for ListMirroringDeployments.",
      "type": "object"
    },
    "AuthzPolicy": {
      "type": "object",
      "id": "AuthzPolicy",
      "description": "`AuthzPolicy` is a resource that allows to forward traffic to a callout backend designed to scan the traffic for security purposes.",
      "properties": {
        "policyProfile": {
          "description": "Optional. Immutable. Defines the type of authorization being performed. If not specified, `REQUEST_AUTHZ` is applied. This field cannot be changed once AuthzPolicy is created.",
          "type": "string",
          "enum": [
            "POLICY_PROFILE_UNSPECIFIED",
            "REQUEST_AUTHZ",
            "CONTENT_AUTHZ"
          ],
          "enumDescriptions": [
            "Unspecified policy profile.",
            "Applies to request authorization. `CUSTOM` authorization policies with Authz extensions will be allowed with `EXT_AUTHZ_GRPC` or `EXT_PROC_GRPC` protocols. Extensions are invoked only for request header events.",
            "Applies to content security, sanitization, etc. Only `CUSTOM` action is allowed in this policy profile. AuthzExtensions in the custom provider must support `EXT_PROC_GRPC` protocol only and be capable of receiving all `EXT_PROC_GRPC` events (REQUEST_HEADERS, REQUEST_BODY, REQUEST_TRAILERS, RESPONSE_HEADERS, RESPONSE_BODY, RESPONSE_TRAILERS) with `FULL_DUPLEX_STREAMED` body send mode."
          ]
        },
        "customProvider": {
          "$ref": "AuthzPolicyCustomProvider",
          "description": "Optional. Required if the action is `CUSTOM`. Allows delegating authorization decisions to Cloud IAP or to Service Extensions. One of `cloudIap` or `authzExtension` must be specified."
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. Name of the `AuthzPolicy` resource in the following format: `projects/{project}/locations/{location}/authzPolicies/{authz_policy}`."
        },
        "httpRules": {
          "type": "array",
          "description": "Optional. A list of authorization HTTP rules to match against the incoming request. A policy match occurs when at least one HTTP rule matches the request or when no HTTP rules are specified in the policy. At least one HTTP Rule is required for Allow or Deny Action. Limited to 5 rules.",
          "items": {
            "$ref": "AuthzPolicyAuthzRule"
          }
        },
        "networkRules": {
          "items": {
            "$ref": "AuthzPolicyAuthzRule"
          },
          "type": "array",
          "description": "Optional. A list of authorization network rules to match against the incoming request. A policy match occurs when at least one network rule matches the request. At least one network rule is required for Allow or Deny Action if no HTTP rules are provided. Network rules are mutually exclusive with HTTP rules. Limited to 5 rules."
        },
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description of the resource."
        },
        "labels": {
          "description": "Optional. Set of labels associated with the `AuthzPolicy` resource. The format must comply with [the following requirements](/compute/docs/labeling-resources#requirements).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "action": {
          "type": "string",
          "description": "Required. Can be one of `ALLOW`, `DENY`, `CUSTOM`, `DENY_BY_DEFAULT`. When the action is `CUSTOM`, `customProvider` must be specified. When the action is `ALLOW`, only requests matching the policy will be allowed. When the action is `DENY`, only requests matching the policy will be denied. When the action is `DENY_BY_DEFAULT`, no `http_rules` or `network_rules` can be specified. When a request arrives, the policies are evaluated in the following order: 1. If there is a `CUSTOM` policy that matches the request, the `CUSTOM` policy is evaluated using the custom authorization providers and the request is denied if the provider rejects the request. 2. If there are any `DENY` policies that match the request, the request is denied. 3. If any of the `ALLOW` policies match the request, the request is allowed. 4. If a `DENY_BY_DEFAULT` policy is applied to the resource, the request is denied (unless it was explicitly allowed by a `CUSTOM` or `ALLOW` policy). 5. Else, the request is allowed by default if no other policies are configured.",
          "enumDescriptions": [
            "Unspecified action.",
            "Allow request to pass through to the backend.",
            "Deny the request and return a HTTP 404 to the client.",
            "Delegate the authorization decision to an external authorization engine.",
            "Establishes a secure-by-default posture by denying any request not explicitly matched by any `ALLOW`, `DENY`, or `CUSTOM` policy. This action serves as a universal fallback: if no other policies match or are configured, the request is denied."
          ],
          "enum": [
            "AUTHZ_ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY",
            "CUSTOM",
            "DENY_BY_DEFAULT"
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "target": {
          "description": "Required. Specifies the set of resources to which this policy should be applied to.",
          "$ref": "AuthzPolicyTarget"
        }
      }
    },
    "WildfireInlineMlSettings": {
      "description": "Defines the settings for WildFire Inline ML analysis.",
      "type": "object",
      "id": "WildfireInlineMlSettings",
      "properties": {
        "fileExceptions": {
          "description": "Optional. List of files to exclude from WildFire Inline ML analysis.",
          "items": {
            "$ref": "WildfireInlineMlFileException"
          },
          "type": "array"
        },
        "inlineMlConfigs": {
          "type": "array",
          "description": "Optional. List of Inline ML configs to enable in WildFire Inline ML analysis.",
          "items": {
            "$ref": "WildfireInlineMlSettingsInlineMlConfig"
          }
        }
      }
    },
    "InterceptEndpointGroupConnectedDeploymentGroup": {
      "description": "The endpoint group's view of a connected deployment group.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "Output only. The list of locations where the deployment group is present.",
          "items": {
            "$ref": "InterceptLocation"
          },
          "type": "array",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The connected deployment group's resource name, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "InterceptEndpointGroupConnectedDeploymentGroup"
    },
    "InterceptDeployment": {
      "description": "A deployment represents a zonal intercept backend ready to accept GENEVE-encapsulated traffic, e.g. a zonal instance group fronted by an internal passthrough load balancer. Deployments are always part of a global deployment group which represents a global intercept service.",
      "id": "InterceptDeployment",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this deployment, for example: `projects/123456789/locations/us-central1-a/interceptDeployments/my-dep`. See https://google.aip.dev/122 for more details."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The current state of the deployment. See https://google.aip.dev/216.",
          "type": "string",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description of the deployment. Used as additional context for the deployment."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "type": "string",
          "format": "google-datetime"
        },
        "reconciling": {
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. linking a new association to the parent group). See https://google.aip.dev/128.",
          "type": "boolean",
          "readOnly": true
        },
        "interceptDeploymentGroup": {
          "description": "Required. Immutable. The deployment group that this deployment is a part of, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "forwardingRule": {
          "type": "string",
          "description": "Required. Immutable. The regional forwarding rule that fronts the interceptors, for example: `projects/123456789/regions/us-central1/forwardingRules/my-rule`. See https://google.aip.dev/124."
        }
      },
      "type": "object"
    },
    "InterceptEndpointGroup": {
      "properties": {
        "connectedDeploymentGroup": {
          "description": "Output only. Details about the connected deployment group to this endpoint group.",
          "$ref": "InterceptEndpointGroupConnectedDeploymentGroup",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this endpoint group, for example: `projects/123456789/locations/global/interceptEndpointGroups/my-eg`. See https://google.aip.dev/122 for more details."
        },
        "associations": {
          "description": "Output only. List of associations to this endpoint group.",
          "items": {
            "$ref": "InterceptEndpointGroupAssociationDetails"
          },
          "readOnly": true,
          "type": "array"
        },
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "reconciling": {
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new association to the group). See https://google.aip.dev/128.",
          "type": "boolean",
          "readOnly": true
        },
        "description": {
          "description": "Optional. User-provided description of the endpoint group. Used as additional context for the endpoint group.",
          "type": "string"
        },
        "interceptDeploymentGroup": {
          "type": "string",
          "description": "Required. Immutable. The deployment group that this endpoint group is connected to, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The endpoint group is ready and in sync with the target deployment group.",
            "The deployment group backing this endpoint group has been force-deleted. This endpoint group cannot be used and interception is effectively disabled.",
            "The endpoint group is being created.",
            "The endpoint group is being deleted.",
            "The endpoint group is out of sync with the backing deployment group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. See the associations field for details per network and location.",
            "An attempt to delete the endpoint group has failed. This is a terminal state and the endpoint group is not expected to recover. The only permitted operation is to retry deleting the endpoint group."
          ],
          "description": "Output only. The current state of the endpoint group. See https://google.aip.dev/216.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CLOSED",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps."
        }
      },
      "id": "InterceptEndpointGroup",
      "type": "object",
      "description": "An endpoint group is a consumer frontend for a deployment group (backend). In order to configure intercept for a network, consumers must create: - An association between their network and the endpoint group. - A security profile that points to the endpoint group. - A firewall rule that references the security profile (group)."
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object"
    },
    "AddressGroup": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the AddressGroup resource. It matches pattern `projects/*/locations/{location}/addressGroups/`."
        },
        "capacity": {
          "format": "int32",
          "description": "Required. Capacity of the Address Group",
          "type": "integer"
        },
        "description": {
          "type": "string",
          "description": "Optional. Free-text description of the resource."
        },
        "items": {
          "description": "Optional. List of items.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ],
          "description": "Required. The type of the Address Group. Possible values are \"IPv4\" or \"IPV6\".",
          "enumDescriptions": [
            "Default value.",
            "IP v4 ranges.",
            "IP v6 ranges."
          ]
        },
        "purpose": {
          "description": "Optional. List of supported purposes of the Address Group.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "PURPOSE_UNSPECIFIED",
              "DEFAULT",
              "CLOUD_ARMOR"
            ],
            "enumDescriptions": [
              "Default value. Should never happen.",
              "Address Group is distributed to VMC, and is usable in Firewall Policies and other systems that rely on VMC.",
              "Address Group is usable in Cloud Armor."
            ]
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the AddressGroup resource."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "selfLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined fully-qualified URL for this resource."
        }
      },
      "id": "AddressGroup",
      "type": "object",
      "description": "AddressGroup is a resource that specifies how a collection of IP/DNS used in Firewall Policy."
    },
    "WildfireVerdictChangeRequest": {
      "id": "WildfireVerdictChangeRequest",
      "type": "object",
      "description": "Message for a WildfireVerdictChangeRequest.",
      "properties": {
        "oldVerdict": {
          "description": "Output only. The original verdict of the Malware Sample.",
          "enum": [
            "WILDFIRE_SAMPLE_VERDICT_UNKNOWN",
            "BENIGN",
            "MALWARE",
            "GRAYWARE",
            "PHISHING"
          ],
          "enumDescriptions": [
            "Default value. Malware is not yet classified.",
            "Sample is safe and does not exhibit malicious behavior.",
            "Sample is malware and poses a security threat.",
            "Sample does not pose a direct security threat, but might display otherwise obtrusive behavior.",
            "Link directs users to a phishing site and poses a security threat."
          ],
          "type": "string",
          "readOnly": true
        },
        "fileName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The file name of the Malware Sample."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the WildfireVerdictChangeRequest was created.",
          "format": "google-datetime"
        },
        "finalVerdict": {
          "enumDescriptions": [
            "Default value. Malware is not yet classified.",
            "Sample is safe and does not exhibit malicious behavior.",
            "Sample is malware and poses a security threat.",
            "Sample does not pose a direct security threat, but might display otherwise obtrusive behavior.",
            "Link directs users to a phishing site and poses a security threat."
          ],
          "description": "Output only. The final verdict of the Malware Sample.",
          "type": "string",
          "enum": [
            "WILDFIRE_SAMPLE_VERDICT_UNKNOWN",
            "BENIGN",
            "MALWARE",
            "GRAYWARE",
            "PHISHING"
          ],
          "readOnly": true
        },
        "comment": {
          "description": "Required. The justification for the verdict change request. Max length 2048 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The relative name of the WildfireVerdictChangeRequest. Output only. This is a unique identifier generated by the third party API. Format: organizations|projects/{project_or_organization}/locations/{location}/firewallEndpoints/{firewall_endpoint}/wildfireVerdictChangeRequests/{wildfire_verdict_change_request_id} Where {wildfire_verdict_change_request_id} is the ID in the format: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
        },
        "resolutionTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the WildfireVerdictChangeRequest was resolved.",
          "readOnly": true,
          "type": "string"
        },
        "fileType": {
          "description": "Output only. The file type of the Malware Sample.",
          "readOnly": true,
          "type": "string"
        },
        "wildfireVerdictChangeRequestId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the WildfireVerdictChangeRequest. This is a unique identifier generated by the third party API. Format: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
        },
        "newVerdict": {
          "description": "Required. The suggested verdict to apply to the Malware Sample.",
          "enumDescriptions": [
            "Default value. Malware is not yet classified.",
            "Sample is safe and does not exhibit malicious behavior.",
            "Sample is malware and poses a security threat.",
            "Sample does not pose a direct security threat, but might display otherwise obtrusive behavior.",
            "Link directs users to a phishing site and poses a security threat."
          ],
          "type": "string",
          "enum": [
            "WILDFIRE_SAMPLE_VERDICT_UNKNOWN",
            "BENIGN",
            "MALWARE",
            "GRAYWARE",
            "PHISHING"
          ]
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the WildfireVerdictChangeRequest was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "sha256": {
          "description": "Required. The SHA256 hash of the Malware Sample to change the verdict of.",
          "type": "string"
        },
        "state": {
          "enum": [
            "VERDICT_CHANGE_REQUEST_STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "PENDING"
          ],
          "enumDescriptions": [
            "Default value. Request does not have a state. This value is unused.",
            "Request has been created and review has not started.",
            "Malware Sample has been reviewed and the final verdict has been updated.",
            "Malware Sample is currently being reviewed."
          ],
          "description": "Output only. The review state of the WildfireVerdictChangeRequest.",
          "readOnly": true,
          "type": "string"
        },
        "sourceRegion": {
          "description": "Output only. The region of the file associated with the Malware Sample.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ListBackendAuthenticationConfigsResponse": {
      "type": "object",
      "id": "ListBackendAuthenticationConfigsResponse",
      "description": "Response returned by the ListBackendAuthenticationConfigs method.",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "backendAuthenticationConfigs": {
          "description": "List of BackendAuthenticationConfig resources.",
          "type": "array",
          "items": {
            "$ref": "BackendAuthenticationConfig"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "UrlFilteringProfile": {
      "id": "UrlFilteringProfile",
      "type": "object",
      "description": "UrlFilteringProfile defines filters based on URL.",
      "properties": {
        "urlFilters": {
          "type": "array",
          "description": "Optional. The list of filtering configs in which each config defines an action to take for some URL match.",
          "items": {
            "$ref": "UrlFilter"
          }
        }
      }
    },
    "WildfireAnalysisProfile": {
      "properties": {
        "wildfireOverrides": {
          "description": "Optional. Configuration for overriding WildFire actions per protocol.",
          "items": {
            "$ref": "WildfireOverride"
          },
          "type": "array"
        },
        "wildfireInlineMlSetting": {
          "description": "Optional. Settings for WildFire Inline ML analysis.",
          "$ref": "WildfireInlineMlSettings"
        },
        "wildfireThreatOverrides": {
          "items": {
            "$ref": "WildfireThreatOverride"
          },
          "type": "array",
          "description": "Optional. Configuration for overriding WildFire threats action by threat_id match."
        },
        "wildfireInlineCloudAnalysisRules": {
          "description": "Optional. Configuration for WildFire inline cloud analysis.",
          "type": "array",
          "items": {
            "$ref": "WildfireInlineCloudAnalysisRule"
          }
        },
        "wildfireInlineMlSettings": {
          "items": {
            "$ref": "WildfireInlineMlSettings"
          },
          "deprecated": true,
          "type": "array",
          "description": "Optional. Settings for WildFire Inline ML analysis."
        },
        "wildfireRealtimeLookup": {
          "type": "boolean",
          "description": "Optional. Whether to hold the transfer of a file while the WildFire real-time signature cloud performs a signature lookup. Default value is false."
        },
        "wildfireInlineMlOverrides": {
          "type": "array",
          "items": {
            "$ref": "WildfireInlineMlOverride"
          },
          "description": "Optional. Configuration for overriding inline ML WildFire actions per protocol."
        },
        "wildfireSubmissionRules": {
          "type": "array",
          "items": {
            "$ref": "WildfireSubmissionRule"
          },
          "description": "Optional. Configurations for WildFire file submissions."
        }
      },
      "type": "object",
      "id": "WildfireAnalysisProfile",
      "description": "WildfireAnalysisProfile defines Palo Alto Networks WildFire behavior."
    },
    "CloneAddressGroupItemsRequest": {
      "type": "object",
      "properties": {
        "sourceAddressGroup": {
          "type": "string",
          "description": "Required. Source address group to clone items from."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "CloneAddressGroupItemsRequest",
      "description": "Request used by the CloneAddressGroupItems method."
    },
    "FirewallEndpointWildfireSettingsWildfireInlineCloudAnalysisSettings": {
      "id": "FirewallEndpointWildfireSettingsWildfireInlineCloudAnalysisSettings",
      "properties": {
        "maxAnalysisDuration": {
          "description": "Optional. Timeout in milliseconds on a file being held while WildFire inline cloud analysis is performed. Value between 1 to 240000 is valid. Default value is 30000.",
          "format": "google-duration",
          "type": "string"
        },
        "timeoutAction": {
          "description": "Optional. Action to take when WildFire inline cloud analysis times out. Default value is ALLOW.",
          "type": "string",
          "enum": [
            "WILDFIRE_INLINE_CLOUD_ANALYSIS_TIMEOUT_ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "WildFire inline cloud analysis timeout action not specified.",
            "The files that timed out will be allowed to transmit.",
            "The files that timed out will be denied to transmit."
          ]
        },
        "submissionTimeoutLoggingDisabled": {
          "description": "Optional. Whether to disable WildFire submission log generation for files that timeout during WildFire inline cloud analysis.",
          "type": "boolean"
        }
      },
      "description": "Settings for WildFire inline cloud analysis.",
      "type": "object"
    },
    "ListGatewaySecurityPoliciesResponse": {
      "description": "Response returned by the ListGatewaySecurityPolicies method.",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'.",
          "type": "string"
        },
        "gatewaySecurityPolicies": {
          "items": {
            "$ref": "GatewaySecurityPolicy"
          },
          "type": "array",
          "description": "List of GatewaySecurityPolicies resources."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListGatewaySecurityPoliciesResponse",
      "type": "object"
    },
    "AuthzPolicyCustomProviderCloudIap": {
      "properties": {},
      "id": "AuthzPolicyCustomProviderCloudIap",
      "type": "object",
      "description": "Optional. Delegates authorization decisions to Cloud IAP. Applicable only for managed load balancers. Enabling Cloud IAP at the AuthzPolicy level is not compatible with Cloud IAP settings in the BackendService. Enabling IAP in both places will result in request failure. Ensure that IAP is enabled in either the AuthzPolicy or the BackendService but not in both places."
    },
    "UrlList": {
      "type": "object",
      "description": "UrlList proto helps users to set reusable, independently manageable lists of hosts, host patterns, URLs, URL patterns.",
      "id": "UrlList",
      "properties": {
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the resource provided by the user. Name is of the form projects/{project}/locations/{location}/urlLists/{url_list} url_list should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the security policy was created."
        },
        "updateTime": {
          "description": "Output only. Time when the security policy was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "values": {
          "description": "Required. FQDNs and URLs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Source": {
      "type": "object",
      "id": "Source",
      "description": "Specification of traffic source attributes.",
      "properties": {
        "ipBlocks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of CIDR ranges to match based on source IP address. At least one IP block should match. Single IP (e.g., \"1.2.3.4\") and CIDR (e.g., \"1.2.3.0/24\") are supported. Authorization based on source IP alone should be avoided. The IP addresses of any load balancers or proxies should be considered untrusted."
        },
        "principals": {
          "type": "array",
          "description": "Optional. List of peer identities to match for authorization. At least one principal should match. Each peer can be an exact match, or a prefix match (example, \"namespace/*\") or a suffix match (example, \"*/service-account\") or a presence match \"*\". Authorization based on the principal name without certificate validation (configured by ServerTlsPolicy resource) is considered insecure.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "WildfireInlineCloudAnalysisRuleCustomFileTypes": {
      "properties": {
        "fileTypes": {
          "description": "Required. File types to be submitted for WildFire inline cloud analysis.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "PE"
            ],
            "enumDescriptions": [
              "File type not specified.",
              "Portable Executable (PE) files."
            ]
          }
        }
      },
      "type": "object",
      "id": "WildfireInlineCloudAnalysisRuleCustomFileTypes",
      "description": "The options to submit a custom list of file types for scan."
    },
    "GoogleIamV1Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "GoogleIamV1Binding",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
[...]
