{
  "rootUrl": "https://networksecurity.googleapis.com/",
  "basePath": "",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "version_module": true,
  "batchPath": "batch",
  "version": "v1",
  "canonicalName": "NetworkSecurity",
  "documentationLink": "https://cloud.google.com/networking",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "id": "networksecurity:v1",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://networksecurity.googleapis.com/",
  "ownerDomain": "google.com",
  "title": "Network Security API",
  "servicePath": "",
  "mtlsRootUrl": "https://networksecurity.mtls.googleapis.com/",
  "description": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "AuthzPolicyAuthzRuleFrom": {
      "id": "AuthzPolicyAuthzRuleFrom",
      "properties": {
        "notSources": {
          "type": "array",
          "description": "Optional. Describes the negated properties of request sources. Matches requests from sources that do not match the criteria specified in this field. At least one of sources or notSources must be specified.",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleFromRequestSource"
          }
        },
        "sources": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleFromRequestSource"
          },
          "type": "array",
          "description": "Optional. Describes the properties of a request's sources. At least one of sources or notSources must be specified. Limited to 1 source. A match occurs when ANY source (in sources or notSources) matches the request. Within a single source, the match follows AND semantics across fields and OR semantics within a single field, i.e. a match occurs when ANY principal matches AND ANY ipBlocks match."
        }
      },
      "type": "object",
      "description": "Describes properties of one or more sources of a request."
    },
    "AuthzPolicyAuthzRuleToRequestOperationMCPMethod": {
      "id": "AuthzPolicyAuthzRuleToRequestOperationMCPMethod",
      "description": "Describes a set of MCP methods to match against.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The MCP method to match against. Allowed values include: 1. `tools`, `prompts`, `resources` - these will match against all sub methods under the respective methods. 2. `prompts/list`, `tools/list`, `resources/list`, `resources/templates/list` 3. `prompts/get`, `tools/call`, `resources/subscribe`, `resources/unsubscribe`, `resources/read` Params cannot be specified for categories 1 and 2."
        },
        "params": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          },
          "description": "Optional. A list of MCP method parameters to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 MCP method parameters per Authorization Policy.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      },
      "id": "GoogleIamV1SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `SetIamPolicy` method."
    },
    "ClientTlsPolicy": {
      "type": "object",
      "id": "ClientTlsPolicy",
      "description": "ClientTlsPolicy is a resource that specifies how a client should authenticate connections to backends of a service. This resource itself does not affect configuration unless it is attached to a backend service resource.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        },
        "sni": {
          "type": "string",
          "description": "Optional. Server Name Indication string to present to the server during TLS handshake. E.g: \"secure.example.com\"."
        },
        "serverValidationCa": {
          "description": "Optional. Defines the mechanism to obtain the Certificate Authority certificate to validate the server certificate. If empty, client does not validate the server certificate.",
          "type": "array",
          "items": {
            "$ref": "ValidationCA"
          }
        },
        "clientCertificate": {
          "$ref": "GoogleCloudNetworksecurityV1CertificateProvider",
          "description": "Optional. Defines a mechanism to provision client identity (public and private keys) for peer to peer authentication. The presence of this dictates mTLS."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the ClientTlsPolicy resource. It matches the pattern `projects/{project}/locations/{location}/clientTlsPolicies/{client_tls_policy}`",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "MirroringDeploymentGroup": {
      "id": "MirroringDeploymentGroup",
      "description": "A deployment group aggregates many zonal mirroring backends (deployments) into a single global mirroring service. Consumers can connect this service using an endpoint group.",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "type": "object"
        },
        "nestedDeployments": {
          "description": "Output only. The list of Mirroring Deployments that belong to this group.",
          "readOnly": true,
          "items": {
            "$ref": "MirroringDeploymentGroupDeployment"
          },
          "type": "array",
          "deprecated": true
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description of the deployment group. Used as additional context for the deployment group."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps."
        },
        "connectedEndpointGroups": {
          "description": "Output only. The list of endpoint groups that are connected to this resource.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "MirroringDeploymentGroupConnectedEndpointGroup"
          }
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new deployment to the group) See https://google.aip.dev/128.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this deployment group, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/122 for more details."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment group is ready.",
            "The deployment group is being created.",
            "The deployment group is being deleted.",
            "The deployment group is being wiped out (project deleted)."
          ],
          "description": "Output only. The current state of the deployment group. See https://google.aip.dev/216.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED"
          ]
        },
        "network": {
          "description": "Required. Immutable. The network that will be used for all child deployments, for example: `projects/{project}/global/networks/{network}`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "locations": {
          "description": "Output only. The list of locations where the deployment group is present.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "MirroringLocation"
          }
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "AuthzPolicyCustomProviderAuthzExtension": {
      "properties": {
        "resources": {
          "description": "Required. A list of references to authorization extensions that will be invoked for requests matching this policy. Limited to 1 custom provider.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "AuthzPolicyCustomProviderAuthzExtension",
      "description": "Optional. Delegate authorization decision to user authored extension. Only one of cloudIap or authzExtension can be specified.",
      "type": "object"
    },
    "Rule": {
      "description": "Specification of rules.",
      "type": "object",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "Source"
          },
          "description": "Optional. List of attributes for the traffic source. All of the sources must match. A source is a match if both principals and ip_blocks match. If not set, the action specified in the 'action' field will be applied without any rule checks for the source."
        },
        "destinations": {
          "items": {
            "$ref": "Destination"
          },
          "description": "Optional. List of attributes for the traffic destination. All of the destinations must match. A destination is a match if a request matches all the specified hosts, ports, methods and headers. If not set, the action specified in the 'action' field will be applied without any rule checks for the destination.",
          "type": "array"
        }
      },
      "id": "Rule"
    },
    "InterceptEndpointGroupAssociationDetails": {
      "id": "InterceptEndpointGroupAssociationDetails",
      "type": "object",
      "description": "The endpoint group's view of a connected association.",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ],
          "description": "Output only. Most recent known state of the association.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. The connected association's resource name, for example: `projects/123456789/locations/global/interceptEndpointGroupAssociations/my-ega`. See https://google.aip.dev/124.",
          "readOnly": true
        },
        "network": {
          "description": "Output only. The associated network, for example: projects/123456789/global/networks/my-network. See https://google.aip.dev/124.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "FirewallEndpoint": {
      "description": "Message describing Endpoint object.",
      "properties": {
        "createTime": {
          "description": "Output only. Create time stamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "associatedNetworks": {
          "deprecated": true,
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Deprecated: List of networks that are associated with this endpoint in the local zone. This is a projection of the FirewallEndpointAssociations pointing at this endpoint. A network will only appear in this list after traffic routing is fully configured. Format: projects/{project}/global/networks/{name}."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. Name of resource."
        },
        "satisfiesPzi": {
          "description": "Output only. [Output Only] Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "state": {
          "description": "Output only. Current state of the endpoint.",
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "Being created.",
            "Processing configuration updates.",
            "Being deleted.",
            "Down or in an error state."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE"
          ]
        },
        "endpointSettings": {
          "description": "Optional. Settings for the endpoint.",
          "$ref": "FirewallEndpointEndpointSettings"
        },
        "satisfiesPzs": {
          "description": "Output only. [Output Only] Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether reconciling is in progress, recommended per https://google.aip.dev/128."
        },
        "description": {
          "description": "Optional. Description of the firewall endpoint. Max length 2048 characters.",
          "type": "string"
        },
        "billingProjectId": {
          "description": "Optional. Project to charge for the deployed firewall endpoint. This field must be specified when creating the endpoint in the organization scope, and should be omitted otherwise.",
          "type": "string"
        },
        "associations": {
          "items": {
            "$ref": "FirewallEndpointAssociationReference"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of FirewallEndpointAssociations that are associated to this endpoint. An association will only appear in this list after traffic routing is fully configured."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. Update time stamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "FirewallEndpoint",
      "type": "object"
    },
    "ListAddressGroupsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "addressGroups": {
          "items": {
            "$ref": "AddressGroup"
          },
          "type": "array",
          "description": "List of AddressGroups resources."
        }
      },
      "id": "ListAddressGroupsResponse",
      "description": "Response returned by the ListAddressGroups method."
    },
    "AuthzPolicyAuthzRuleToRequestOperationHeaderSet": {
      "properties": {
        "headers": {
          "description": "Required. A list of headers to match against in http header. The match can be one of exact, prefix, suffix, or contains (substring match). The match follows AND semantics which means all the headers must match. Matches are always case sensitive unless the ignoreCase is set. Limited to 10 headers per Authorization Policy.",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleHeaderMatch"
          },
          "type": "array"
        }
      },
      "id": "AuthzPolicyAuthzRuleToRequestOperationHeaderSet",
      "description": "Describes a set of HTTP headers to match against.",
      "type": "object"
    },
    "FirewallEndpointEndpointSettings": {
      "properties": {
        "jumboFramesEnabled": {
          "description": "Optional. Immutable. Indicates whether Jumbo Frames are enabled. Default value is false.",
          "type": "boolean"
        }
      },
      "id": "FirewallEndpointEndpointSettings",
      "type": "object",
      "description": "Settings for the endpoint."
    },
    "AuthzPolicyAuthzRule": {
      "type": "object",
      "description": "Conditions to match against the incoming request.",
      "properties": {
        "from": {
          "description": "Optional. Describes properties of a source of a request.",
          "$ref": "AuthzPolicyAuthzRuleFrom"
        },
        "when": {
          "description": "Optional. CEL expression that describes the conditions to be satisfied for the action. The result of the CEL expression is ANDed with the from and to. Refer to the CEL language reference for a list of available attributes.",
          "type": "string"
        },
        "to": {
          "$ref": "AuthzPolicyAuthzRuleTo",
          "description": "Optional. Describes properties of a target of a request."
        }
      },
      "id": "AuthzPolicyAuthzRule"
    },
    "ListTlsInspectionPoliciesResponse": {
      "type": "object",
      "description": "Response returned by the ListTlsInspectionPolicies method.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "tlsInspectionPolicies": {
          "description": "List of TlsInspectionPolicies resources.",
          "items": {
            "$ref": "TlsInspectionPolicy"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'."
        }
      },
      "id": "ListTlsInspectionPoliciesResponse"
    },
    "ListMirroringEndpointGroupsResponse": {
      "description": "Response message for ListMirroringEndpointGroups.",
      "properties": {
        "mirroringEndpointGroups": {
          "type": "array",
          "description": "The endpoint groups from the specified parent.",
          "items": {
            "$ref": "MirroringEndpointGroup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
        }
      },
      "id": "ListMirroringEndpointGroupsResponse",
      "type": "object"
    },
    "ListAddressGroupReferencesResponse": {
      "description": "Response of the ListAddressGroupReferences method.",
      "id": "ListAddressGroupReferencesResponse",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "addressGroupReferences": {
          "description": "A list of references that matches the specified filter in the request.",
          "items": {
            "$ref": "ListAddressGroupReferencesResponseAddressGroupReference"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SACAttachment": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the attachment was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_PARTNER_ATTACHMENT",
            "PARTNER_ATTACHED",
            "PARTNER_DETACHED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the attachment.",
          "enumDescriptions": [
            "No state specified. This should not be used.",
            "Has never been attached to a partner.",
            "Currently attached to a partner.",
            "Was once attached to a partner but has been detached."
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the attachment was created."
        },
        "nccGateway": {
          "description": "Required. NCC Gateway associated with the attachment. This can be input as an ID or a full resource name. The output always has the form `projects/{project_number}/locations/{location}/spokes/{ncc_gateway}`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name, in the form `projects/{project}/locations/{location}/sacAttachments/{sac_attachment}`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Optional list of labels applied to the resource.",
          "type": "object"
        },
        "sacRealm": {
          "type": "string",
          "description": "Required. SAC Realm which owns the attachment. This can be input as an ID or a full resource name. The output always has the form `projects/{project_number}/locations/{location}/sacRealms/{sac_realm}`."
        }
      },
      "id": "SACAttachment",
      "description": "Represents a Secure Access Connect (SAC) attachment resource. A Secure Access Connect attachment enables NCC Gateway to process traffic with an SSE product.",
      "type": "object"
    },
    "ListSecurityProfilesResponse": {
      "description": "Response returned by the ListSecurityProfiles method.",
      "id": "ListSecurityProfilesResponse",
      "properties": {
        "securityProfiles": {
          "items": {
            "$ref": "SecurityProfile"
          },
          "description": "List of SecurityProfile resources.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "type": "object"
    },
    "AuthzPolicyAuthzRuleFromRequestSource": {
      "id": "AuthzPolicyAuthzRuleFromRequestSource",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleRequestResource"
          },
          "description": "Optional. A list of resources to match against the resource of the source VM of a request. Limited to 10 resources per Authorization Policy."
        },
        "principals": {
          "type": "array",
          "description": "Optional. A list of identities derived from the client's certificate. This field will not match on a request unless frontend mutual TLS is enabled for the forwarding rule or Gateway and the client certificate has been successfully validated by mTLS. Each identity is a string whose value is matched against a list of URI SANs, DNS Name SANs, or the common name in the client's certificate. A match happens when any principal matches with the rule. Limited to 50 principals per Authorization Policy for regional internal Application Load Balancers, regional external Application Load Balancers, cross-region internal Application Load Balancers, and Cloud Service Mesh while 25 principals per Authorization Policy for global external Application Load Balancers.",
          "items": {
            "$ref": "AuthzPolicyAuthzRulePrincipal"
          }
        },
        "ipBlocks": {
          "description": "Optional. A list of IP addresses or IP address ranges to match against the source IP address of the request. Limited to 10 ip_blocks per Authorization Policy",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleIpBlock"
          }
        }
      },
      "description": "Describes the properties of a single source.",
      "type": "object"
    },
    "AuthzPolicyCustomProviderCloudIap": {
      "properties": {},
      "description": "Optional. Delegates authorization decisions to Cloud IAP. Applicable only for managed load balancers. Enabling Cloud IAP at the AuthzPolicy level is not compatible with Cloud IAP settings in the BackendService. Enabling IAP in both places will result in request failure. Ensure that IAP is enabled in either the AuthzPolicy or the BackendService but not in both places.",
      "type": "object",
      "id": "AuthzPolicyCustomProviderCloudIap"
    },
    "SecurityProfile": {
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last resource update timestamp.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. Name of the SecurityProfile resource. It matches pattern `projects|organizations/*/locations/{location}/securityProfiles/{security_profile}`."
        },
        "customInterceptProfile": {
          "description": "The custom TPPI configuration for the SecurityProfile.",
          "$ref": "CustomInterceptProfile"
        },
        "type": {
          "type": "string",
          "description": "Immutable. The single ProfileType that the SecurityProfile resource configures.",
          "enumDescriptions": [
            "Profile type not specified.",
            "Profile type for threat prevention.",
            "Profile type for packet mirroring v2",
            "Profile type for TPPI.",
            "Profile type for URL filtering."
          ],
          "enum": [
            "PROFILE_TYPE_UNSPECIFIED",
            "THREAT_PREVENTION",
            "CUSTOM_MIRRORING",
            "CUSTOM_INTERCEPT",
            "URL_FILTERING"
          ]
        },
        "customMirroringProfile": {
          "description": "The custom Packet Mirroring v2 configuration for the SecurityProfile.",
          "$ref": "CustomMirroringProfile"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "urlFilteringProfile": {
          "$ref": "UrlFilteringProfile",
          "description": "The URL filtering configuration for the SecurityProfile."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Resource creation timestamp.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional description of the profile. Max length 512 characters."
        },
        "threatPreventionProfile": {
          "description": "The threat prevention configuration for the SecurityProfile.",
          "$ref": "ThreatPreventionProfile"
        }
      },
      "id": "SecurityProfile",
      "description": "SecurityProfile is a resource that defines the behavior for one of many ProfileTypes."
    },
    "AuthzPolicyAuthzRuleToRequestOperationMCP": {
      "type": "object",
      "properties": {
        "methods": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleToRequestOperationMCPMethod"
          },
          "description": "Optional. A list of MCP methods and associated parameters to match on. It is recommended to use this field to match on tools, prompts and resource accesses while setting the baseProtocolMethodsOption to MATCH_BASE_PROTOCOL_METHODS to match on all the other MCP protocol methods. Limited to 10 MCP methods per Authorization Policy."
        },
        "baseProtocolMethodsOption": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified option. Defaults to SKIP_BASE_PROTOCOL_METHODS.",
            "Skip matching on the base MCP protocol methods.",
            "Match on the base MCP protocol methods."
          ],
          "description": "Optional. If specified, matches on the MCP protocol’s non-access specific methods namely: * initialize * completion/ * logging/ * notifications/ * ping Defaults to SKIP_BASE_PROTOCOL_METHODS if not specified.",
          "enum": [
            "BASE_PROTOCOL_METHODS_OPTION_UNSPECIFIED",
            "SKIP_BASE_PROTOCOL_METHODS",
            "MATCH_BASE_PROTOCOL_METHODS"
          ]
        }
      },
      "description": "Describes a set of MCP protocol attributes to match against for a given MCP request.",
      "id": "AuthzPolicyAuthzRuleToRequestOperationMCP"
    },
    "ListUrlListsResponse": {
      "id": "ListUrlListsResponse",
      "properties": {
        "urlLists": {
          "items": {
            "$ref": "UrlList"
          },
          "type": "array",
          "description": "List of UrlList resources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response returned by the ListUrlLists method.",
      "type": "object"
    },
    "AddressGroup": {
      "description": "AddressGroup is a resource that specifies how a collection of IP/DNS used in Firewall Policy.",
      "type": "object",
      "id": "AddressGroup",
      "properties": {
        "selfLink": {
          "readOnly": true,
          "description": "Output only. Server-defined fully-qualified URL for this resource.",
          "type": "string"
        },
        "items": {
          "description": "Optional. List of items.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Capacity of the Address Group"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime"
        },
        "purpose": {
          "items": {
            "enum": [
              "PURPOSE_UNSPECIFIED",
              "DEFAULT",
              "CLOUD_ARMOR"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. Should never happen.",
              "Address Group is distributed to VMC, and is usable in Firewall Policies and other systems that rely on VMC.",
              "Address Group is usable in Cloud Armor."
            ]
          },
          "type": "array",
          "description": "Optional. List of supported purposes of the Address Group."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ],
          "description": "Required. The type of the Address Group. Possible values are \"IPv4\" or \"IPV6\".",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "IP v4 ranges.",
            "IP v6 ranges."
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of label tags associated with the AddressGroup resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. Name of the AddressGroup resource. It matches pattern `projects/*/locations/{location}/addressGroups/`.",
          "type": "string"
        }
      }
    },
    "CloneAddressGroupItemsRequest": {
      "description": "Request used by the CloneAddressGroupItems method.",
      "id": "CloneAddressGroupItemsRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "sourceAddressGroup": {
          "type": "string",
          "description": "Required. Source address group to clone items from."
        }
      }
    },
    "Status": {
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "ListInterceptEndpointGroupsResponse": {
      "id": "ListInterceptEndpointGroupsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
        },
        "interceptEndpointGroups": {
          "description": "The endpoint groups from the specified parent.",
          "items": {
            "$ref": "InterceptEndpointGroup"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for ListInterceptEndpointGroups."
    },
    "ListAddressGroupReferencesResponseAddressGroupReference": {
      "type": "object",
      "id": "ListAddressGroupReferencesResponseAddressGroupReference",
      "properties": {
        "rulePriority": {
          "type": "integer",
          "format": "int32",
          "description": "Rule priority of the FirewallPolicy that is using the Address Group."
        },
        "firewallPolicy": {
          "description": "FirewallPolicy that is using the Address Group.",
          "type": "string"
        },
        "securityPolicy": {
          "type": "string",
          "description": "Cloud Armor SecurityPolicy that is using the Address Group."
        }
      },
      "description": "The Reference of AddressGroup."
    },
    "AuthzPolicyAuthzRuleRequestResourceTagValueIdSet": {
      "properties": {
        "ids": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Required. A list of resource tag value permanent IDs to match against the resource manager tags value associated with the source VM of a request. The match follows AND semantics which means all the ids must match. Limited to 5 ids in the Tag value id set.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "AuthzPolicyAuthzRuleRequestResourceTagValueIdSet",
      "description": "Describes a set of resource tag value permanent IDs to match against the resource manager tags value associated with the source VM of a request."
    },
    "ListAuthzPoliciesResponse": {
      "properties": {
        "authzPolicies": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicy"
          },
          "description": "The list of `AuthzPolicy` resources."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results that the server returns."
        }
      },
      "description": "Message for response to listing `AuthzPolicy` resources.",
      "type": "object",
      "id": "ListAuthzPoliciesResponse"
    },
    "GoogleIamV1Binding": {
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "GoogleIamV1Binding"
    },
    "ThreatPreventionProfile": {
      "description": "ThreatPreventionProfile defines an action for specific threat signatures or severity levels.",
      "properties": {
        "severityOverrides": {
          "items": {
            "$ref": "SeverityOverride"
          },
          "type": "array",
          "description": "Optional. Configuration for overriding threats actions by severity match."
        },
        "threatOverrides": {
          "type": "array",
          "description": "Optional. Configuration for overriding threats actions by threat_id match. If a threat is matched both by configuration provided in severity_overrides and threat_overrides, the threat_overrides action is applied.",
          "items": {
            "$ref": "ThreatOverride"
          }
        },
        "antivirusOverrides": {
          "items": {
            "$ref": "AntivirusOverride"
          },
          "type": "array",
          "description": "Optional. Configuration for overriding antivirus actions per protocol."
        }
      },
      "type": "object",
      "id": "ThreatPreventionProfile"
    },
    "SACRealmPairingKey": {
      "type": "object",
      "id": "SACRealmPairingKey",
      "properties": {
        "key": {
          "description": "Output only. Key value.",
          "readOnly": true,
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "Output only. Timestamp in UTC of when this resource is considered expired. It expires 7 days after creation.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Key to be shared with SSE service provider to establish global handshake."
    },
    "MirroringEndpointGroup": {
      "type": "object",
      "description": "An endpoint group is a consumer frontend for a deployment group (backend). In order to configure mirroring for a network, consumers must create: - An association between their network and the endpoint group. - A security profile that points to the endpoint group. - A mirroring rule that references the security profile (group).",
      "properties": {
        "name": {
          "description": "Immutable. Identifier. The resource name of this endpoint group, for example: `projects/123456789/locations/global/mirroringEndpointGroups/my-eg`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "mirroringDeploymentGroup": {
          "type": "string",
          "description": "Immutable. The deployment group that this DIRECT endpoint group is connected to, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources."
        },
        "connectedDeploymentGroups": {
          "readOnly": true,
          "items": {
            "$ref": "MirroringEndpointGroupConnectedDeploymentGroup"
          },
          "type": "array",
          "description": "Output only. List of details about the connected deployment groups to this endpoint group."
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new association to the group). See https://google.aip.dev/128."
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description of the endpoint group. Used as additional context for the endpoint group."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "DIRECT"
          ],
          "enumDescriptions": [
            "Not set.",
            "An endpoint group that sends packets to a single deployment group."
          ],
          "description": "Immutable. The type of the endpoint group. If left unspecified, defaults to DIRECT.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps."
        },
        "associations": {
          "type": "array",
          "items": {
            "$ref": "MirroringEndpointGroupAssociationDetails"
          },
          "readOnly": true,
          "description": "Output only. List of associations to this endpoint group."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CLOSED",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The endpoint group is ready and in sync with the target deployment group.",
            "The deployment group backing this endpoint group has been force-deleted. This endpoint group cannot be used and mirroring is effectively disabled.",
            "The endpoint group is being created.",
            "The endpoint group is being deleted.",
            "The endpoint group is out of sync with the backing deployment group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. See the associations field for details per network and location.",
            "An attempt to delete the endpoint group has failed. This is a terminal state and the endpoint group is not expected to recover. The only permitted operation is to retry deleting the endpoint group."
          ],
          "description": "Output only. The current state of the endpoint group. See https://google.aip.dev/216.",
          "type": "string"
        }
      },
      "id": "MirroringEndpointGroup"
    },
    "InterceptDeployment": {
      "id": "InterceptDeployment",
      "description": "A deployment represents a zonal intercept backend ready to accept GENEVE-encapsulated traffic, e.g. a zonal instance group fronted by an internal passthrough load balancer. Deployments are always part of a global deployment group which represents a global intercept service.",
      "properties": {
        "reconciling": {
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. linking a new association to the parent group). See https://google.aip.dev/128.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description of the deployment. Used as additional context for the deployment."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this deployment, for example: `projects/123456789/locations/us-central1-a/interceptDeployments/my-dep`. See https://google.aip.dev/122 for more details."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "format": "google-datetime",
          "type": "string"
        },
        "forwardingRule": {
          "type": "string",
          "description": "Required. Immutable. The regional forwarding rule that fronts the interceptors, for example: `projects/123456789/regions/us-central1/forwardingRules/my-rule`. See https://google.aip.dev/124."
        },
        "interceptDeploymentGroup": {
          "description": "Required. Immutable. The deployment group that this deployment is a part of, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of the deployment. See https://google.aip.dev/216.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ]
        }
      },
      "type": "object"
    },
    "SACRealm": {
      "id": "SACRealm",
      "description": "Represents a Secure Access Connect (SAC) realm resource. A Secure Access Connect realm establishes a connection between your Google Cloud project and an SSE service.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. Timestamp when the realm was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "pairingKey": {
          "readOnly": true,
          "$ref": "SACRealmPairingKey",
          "description": "Output only. Key to be shared with SSE service provider during pairing."
        },
        "securityService": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "[Palo Alto Networks Prisma Access](https://www.paloaltonetworks.com/sase/access)."
          ],
          "description": "Immutable. SSE service provider associated with the realm.",
          "type": "string",
          "enum": [
            "SECURITY_SERVICE_UNSPECIFIED",
            "PALO_ALTO_PRISMA_ACCESS"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the realm was created."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Optional list of labels applied to the resource."
        },
        "name": {
          "description": "Identifier. Resource name, in the form `projects/{project}/locations/global/sacRealms/{sacRealm}`.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the realm.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "No state specified. This should not be used.",
            "Has never been attached to a partner. Used only for Prisma Access.",
            "Currently attached to a partner.",
            "Was once attached to a partner but has been detached.",
            "Is not attached to a partner and has an expired pairing key. Used only for Prisma Access."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_PARTNER_ATTACHMENT",
            "PARTNER_ATTACHED",
            "PARTNER_DETACHED",
            "KEY_EXPIRED"
          ]
        }
      }
    },
    "BackendAuthenticationConfig": {
      "id": "BackendAuthenticationConfig",
      "properties": {
        "wellKnownRoots": {
          "enum": [
            "WELL_KNOWN_ROOTS_UNSPECIFIED",
            "NONE",
            "PUBLIC_ROOTS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Equivalent to NONE.",
            "The BackendService will only validate server certificates against roots specified in TrustConfig.",
            "The BackendService uses a set of well-known public roots, in addition to any roots specified in the trustConfig field, when validating the server certificates presented by the backend. Validation with these roots is only considered when the TlsSettings.sni field in the BackendService is set. The well-known roots are a set of root CAs managed by Google. CAs in this set can be added or removed without notice."
          ],
          "description": "Well known roots to use for server certificate validation."
        },
        "clientCertificate": {
          "description": "Optional. A reference to a certificatemanager.googleapis.com.Certificate resource. This is a relative resource path following the form \"projects/{project}/locations/{location}/certificates/{certificate}\". Used by a BackendService to negotiate mTLS when the backend connection uses TLS and the backend requests a client certificate. Must have a CLIENT_AUTH scope.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. Etag of the resource.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the BackendAuthenticationConfig resource. It matches the pattern `projects/*/locations/{location}/backendAuthenticationConfigs/{backend_authentication_config}`"
        },
        "labels": {
          "description": "Set of label tags associated with the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "trustConfig": {
          "type": "string",
          "description": "Optional. A reference to a TrustConfig resource from the certificatemanager.googleapis.com namespace. This is a relative resource path following the form \"projects/{project}/locations/{location}/trustConfigs/{trust_config}\". A BackendService uses the chain of trust represented by this TrustConfig, if specified, to validate the server certificates presented by the backend. Required unless wellKnownRoots is set to PUBLIC_ROOTS."
        }
      },
      "description": "BackendAuthenticationConfig message groups the TrustConfig together with other settings that control how the load balancer authenticates, and expresses its identity to, the backend: * `trustConfig` is the attached TrustConfig. * `wellKnownRoots` indicates whether the load balance should trust backend server certificates that are issued by public certificate authorities, in addition to certificates trusted by the TrustConfig. * `clientCertificate` is a client certificate that the load balancer uses to express its identity to the backend, if the connection to the backend uses mTLS. You can attach the BackendAuthenticationConfig to the load balancer's BackendService directly determining how that BackendService negotiates TLS.",
      "type": "object"
    },
    "AuthzPolicyAuthzRuleIpBlock": {
      "id": "AuthzPolicyAuthzRuleIpBlock",
      "properties": {
        "prefix": {
          "description": "Required. The address prefix.",
          "type": "string"
        },
        "length": {
          "description": "Required. The length of the address range.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Represents a range of IP Addresses."
    },
    "AuthzPolicyAuthzRuleTo": {
      "properties": {
        "notOperations": {
          "type": "array",
          "description": "Optional. Describes the negated properties of the targets of a request. Matches requests for operations that do not match the criteria specified in this field. At least one of operations or notOperations must be specified.",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleToRequestOperation"
          }
        },
        "operations": {
          "description": "Optional. Describes properties of one or more targets of a request. At least one of operations or notOperations must be specified. Limited to 1 operation. A match occurs when ANY operation (in operations or notOperations) matches. Within an operation, the match follows AND semantics across fields and OR semantics within a field, i.e. a match occurs when ANY path matches AND ANY header matches and ANY method matches.",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleToRequestOperation"
          },
          "type": "array"
        }
      },
      "id": "AuthzPolicyAuthzRuleTo",
      "description": "Describes properties of one or more targets of a request.",
      "type": "object"
    },
    "AuthzPolicyAuthzRuleStringMatch": {
      "properties": {
        "exact": {
          "description": "The input string must match exactly the string specified here. Examples: * ``abc`` only matches the value ``abc``.",
          "type": "string"
        },
        "prefix": {
          "description": "The input string must have the prefix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``abc.xyz``",
          "type": "string"
        },
        "contains": {
          "description": "The input string must have the substring specified here. Note: empty contains match is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc.def``",
          "type": "string"
        },
        "ignoreCase": {
          "type": "boolean",
          "description": "If true, indicates the exact/prefix/suffix/contains matching should be case insensitive. For example, the matcher ``data`` will match both input string ``Data`` and ``data`` if set to true."
        },
        "suffix": {
          "type": "string",
          "description": "The input string must have the suffix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc``"
        }
      },
      "type": "object",
      "id": "AuthzPolicyAuthzRuleStringMatch",
      "description": "Determines how a string value should be matched."
    },
    "UrlList": {
      "description": "UrlList proto helps users to set reusable, independently manageable lists of hosts, host patterns, URLs, URL patterns.",
      "type": "object",
      "id": "UrlList",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Free-text description of the resource."
        },
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. FQDNs and URLs.",
          "type": "array"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the security policy was updated.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the security policy was created."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the resource provided by the user. Name is of the form projects/{project}/locations/{location}/urlLists/{url_list} url_list should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$)."
        }
      }
    },
    "FirewallEndpointAssociation": {
      "type": "object",
      "id": "FirewallEndpointAssociation",
      "description": "Message describing Association object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Update time stamp",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "reconciling": {
          "description": "Output only. Whether reconciling is in progress, recommended per https://google.aip.dev/128.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Identifier. name of resource",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "Being created.",
            "Active and ready for traffic.",
            "Being deleted.",
            "Down or in an error state.",
            "The project that housed the association has been deleted."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "ORPHAN"
          ],
          "description": "Output only. Current state of the association."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time stamp",
          "type": "string"
        },
        "firewallEndpoint": {
          "type": "string",
          "description": "Required. The URL of the FirewallEndpoint that is being associated."
        },
        "tlsInspectionPolicy": {
          "type": "string",
          "description": "Optional. The URL of the TlsInspectionPolicy that is being associated."
        },
        "disabled": {
          "description": "Optional. Whether the association is disabled. True indicates that traffic won't be intercepted",
          "type": "boolean"
        },
        "network": {
          "description": "Required. The URL of the network that is being associated.",
          "type": "string"
        }
      }
    },
    "ListBackendAuthenticationConfigsResponse": {
      "description": "Response returned by the ListBackendAuthenticationConfigs method.",
      "type": "object",
      "properties": {
        "backendAuthenticationConfigs": {
          "type": "array",
          "items": {
            "$ref": "BackendAuthenticationConfig"
          },
          "description": "List of BackendAuthenticationConfig resources."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "id": "ListBackendAuthenticationConfigsResponse"
    },
    "ListDnsThreatDetectorsResponse": {
      "id": "ListDnsThreatDetectorsResponse",
      "type": "object",
      "description": "The response message to requesting a list of DnsThreatDetectors.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable `DnsThreatDetector` resources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token`, to retrieve the next page."
        },
        "dnsThreatDetectors": {
          "items": {
            "$ref": "DnsThreatDetector"
          },
          "type": "array",
          "description": "The list of DnsThreatDetector resources."
        }
      }
    },
    "ListInterceptDeploymentGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        },
        "interceptDeploymentGroups": {
          "type": "array",
          "description": "The deployment groups from the specified parent.",
          "items": {
            "$ref": "InterceptDeploymentGroup"
          }
        }
      },
      "id": "ListInterceptDeploymentGroupsResponse",
      "type": "object",
      "description": "Response message for ListInterceptDeploymentGroups."
    },
    "GoogleIamV1Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "GoogleIamV1Policy",
      "properties": {
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "InterceptLocation": {
      "id": "InterceptLocation",
      "description": "Details about intercept in a specific cloud location.",
      "properties": {
        "location": {
          "description": "Output only. The cloud location, e.g. \"us-central1-a\" or \"asia-south1\".",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the association in this location.",
          "readOnly": true,
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The resource is ready and in sync in the location.",
            "The resource is out of sync in the location. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OUT_OF_SYNC"
          ]
        }
      },
      "type": "object"
    },
    "ListGatewaySecurityPoliciesResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "gatewaySecurityPolicies": {
          "type": "array",
          "description": "List of GatewaySecurityPolicies resources.",
          "items": {
            "$ref": "GatewaySecurityPolicy"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'.",
          "type": "string"
        }
      },
      "description": "Response returned by the ListGatewaySecurityPolicies method.",
      "id": "ListGatewaySecurityPoliciesResponse"
    },
    "InterceptDeploymentGroup": {
      "properties": {
        "description": {
          "description": "Optional. User-provided description of the deployment group. Used as additional context for the deployment group.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this deployment group, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new deployment to the group) See https://google.aip.dev/128."
        },
        "connectedEndpointGroups": {
          "type": "array",
          "description": "Output only. The list of endpoint groups that are connected to this resource.",
          "items": {
            "$ref": "InterceptDeploymentGroupConnectedEndpointGroup"
          },
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment group is ready.",
            "The deployment group is being created.",
            "The deployment group is being deleted."
          ],
          "description": "Output only. The current state of the deployment group. See https://google.aip.dev/216.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "readOnly": true
        },
        "locations": {
          "description": "Output only. The list of locations where the deployment group is present.",
          "items": {
            "$ref": "InterceptLocation"
          },
          "type": "array",
          "readOnly": true
        },
        "nestedDeployments": {
          "description": "Output only. The list of Intercept Deployments that belong to this group.",
          "deprecated": true,
          "items": {
            "$ref": "InterceptDeploymentGroupDeployment"
          },
          "type": "array",
          "readOnly": true
        },
        "network": {
          "description": "Required. Immutable. The network that will be used for all child deployments, for example: `projects/{project}/global/networks/{network}`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "InterceptDeploymentGroup",
      "type": "object",
      "description": "A deployment group aggregates many zonal intercept backends (deployments) into a single global intercept service. Consumers can connect this service using an endpoint group."
    },
    "AuthzPolicyAuthzRuleRequestResource": {
      "properties": {
        "tagValueIdSet": {
          "description": "Optional. A list of resource tag value permanent IDs to match against the resource manager tags value associated with the source VM of a request.",
          "$ref": "AuthzPolicyAuthzRuleRequestResourceTagValueIdSet"
        },
        "iamServiceAccount": {
          "$ref": "AuthzPolicyAuthzRuleStringMatch",
          "description": "Optional. An IAM service account to match against the source service account of the VM sending the request."
        }
      },
      "description": "Describes the properties of a client VM resource accessing the internal application load balancers.",
      "type": "object",
      "id": "AuthzPolicyAuthzRuleRequestResource"
    },
    "GatewaySecurityPolicyRule": {
      "id": "GatewaySecurityPolicyRule",
      "type": "object",
      "description": "The GatewaySecurityPolicyRule resource is in a nested collection within a GatewaySecurityPolicy and represents a traffic matching condition and associated action to perform.",
      "properties": {
        "priority": {
          "description": "Required. Priority of the rule. Lower number corresponds to higher precedence.",
          "format": "int32",
          "type": "integer"
        },
        "tlsInspectionEnabled": {
          "description": "Optional. Flag to enable TLS inspection of traffic matching on , can only be true if the parent GatewaySecurityPolicy references a TLSInspectionConfig.",
          "type": "boolean"
        },
        "applicationMatcher": {
          "type": "string",
          "description": "Optional. CEL expression for matching on L7/application level criteria."
        },
        "basicProfile": {
          "enum": [
            "BASIC_PROFILE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "type": "string",
          "description": "Required. Profile which tells what the primitive action should be.",
          "enumDescriptions": [
            "If there is not a mentioned action for the target.",
            "Allow the matched traffic.",
            "Deny the matched traffic."
          ]
        },
        "sessionMatcher": {
          "description": "Required. CEL expression for matching on session criteria.",
          "type": "string"
        },
        "name": {
          "description": "Required. Immutable. Name of the resource. ame is the full resource name so projects/{project}/locations/{location}/gatewaySecurityPolicies/{gateway_security_policy}/rules/{rule} rule should match the pattern: (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "enabled": {
          "description": "Required. Whether the rule is enforced.",
          "type": "boolean"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the rule was updated."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the rule was created.",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "Optional. Free-text description of the resource."
        }
      }
    },
    "ListFirewallEndpointsResponse": {
      "type": "object",
      "properties": {
        "firewallEndpoints": {
          "description": "The list of Endpoint",
          "items": {
            "$ref": "FirewallEndpoint"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListFirewallEndpointsResponse",
      "description": "Message for response to listing Endpoints"
    },
    "ListSACRealmsResponse": {
      "id": "ListSACRealmsResponse",
      "description": "Response for `ListSACRealms` method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sacRealms": {
          "items": {
            "$ref": "SACRealm"
          },
          "description": "The list of SACRealms.",
          "type": "array"
        }
      }
    },
    "AuthzPolicyAuthzRuleHeaderMatch": {
      "id": "AuthzPolicyAuthzRuleHeaderMatch",
      "description": "Determines how a HTTP header should be matched.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Specifies the name of the header in the request.",
          "type": "string"
        },
        "value": {
          "$ref": "AuthzPolicyAuthzRuleStringMatch",
          "description": "Optional. Specifies how the header match will be performed."
        }
      }
    },
    "HttpHeaderMatch": {
      "type": "object",
      "description": "Specification of HTTP header match attributes.",
      "id": "HttpHeaderMatch",
      "properties": {
        "headerName": {
          "description": "Required. The name of the HTTP header to match. For matching against the HTTP request's authority, use a headerMatch with the header name \":authority\". For matching a request's method, use the headerName \":method\".",
          "type": "string"
        },
        "regexMatch": {
          "description": "Required. The value of the header must match the regular expression specified in regexMatch. For regular expression grammar, please see: en.cppreference.com/w/cpp/regex/ecmascript For matching against a port specified in the HTTP request, use a headerMatch with headerName set to Host and a regular expression that satisfies the RFC2616 Host header's port specifier.",
          "type": "string"
        }
      }
    },
    "FirewallEndpointAssociationReference": {
      "description": "This is a subset of the FirewallEndpointAssociation message, containing fields to be used by the consumer.",
      "id": "FirewallEndpointAssociationReference",
      "type": "object",
      "properties": {
        "network": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The VPC network associated. Format: projects/{project}/global/networks/{name}."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the FirewallEndpointAssociation. Format: projects/{project}/locations/{location}/firewallEndpointAssociations/{id}"
        }
      }
    },
    "MirroringEndpointGroupAssociation": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "type": "object"
        },
        "network": {
          "description": "Immutable. The VPC network that is associated. for example: `projects/123456789/global/networks/my-network`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "description": "Output only. Current state of the endpoint group association."
        },
        "mirroringEndpointGroup": {
          "type": "string",
          "description": "Immutable. The endpoint group that this association is connected to, for example: `projects/123456789/locations/global/mirroringEndpointGroups/my-eg`. See https://google.aip.dev/124."
        },
        "locationsDetails": {
          "type": "array",
          "description": "Output only. The list of locations where the association is present. This information is retrieved from the linked endpoint group, and not configured as part of the association itself.",
          "deprecated": true,
          "readOnly": true,
          "items": {
            "$ref": "MirroringEndpointGroupAssociationLocationDetails"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "type": "string"
        },
        "networkCookie": {
          "type": "integer",
          "readOnly": true,
          "format": "uint32",
          "description": "Output only. Identifier used by the data-path. See the NSI GENEVE format for more details: https://docs.cloud.google.com/network-security-integration/docs/understand-geneve#network_id"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this endpoint group association, for example: `projects/123456789/locations/global/mirroringEndpointGroupAssociations/my-eg-association`. See https://google.aip.dev/122 for more details."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
        },
        "locations": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "MirroringLocation"
          },
          "description": "Output only. The list of locations where the association is configured. This information is retrieved from the linked endpoint group."
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. adding a new location to the target deployment group). See https://google.aip.dev/128."
        }
      },
      "description": "An endpoint group association represents a link between a network and an endpoint group in the organization. Creating an association creates the networking infrastructure linking the network to the endpoint group, but does not enable mirroring by itself. To enable mirroring, the user must also create a network firewall policy containing mirroring rules and associate it with the network.",
      "type": "object",
      "id": "MirroringEndpointGroupAssociation"
    },
    "CustomInterceptProfile": {
      "type": "object",
      "properties": {
        "interceptEndpointGroup": {
          "type": "string",
[...]
