{
  "title": "Network Connectivity API",
  "version": "v1",
  "ownerName": "Google",
  "canonicalName": "networkconnectivity",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "id": "networkconnectivity:v1",
  "kind": "discovery#restDescription",
  "rootUrl": "https://networkconnectivity.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "servicePath": "",
  "name": "networkconnectivity",
  "discoveryVersion": "v1",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "description": "This API enables connectivity with and between Google Cloud resources.",
  "version_module": true,
  "mtlsRootUrl": "https://networkconnectivity.mtls.googleapis.com/",
  "baseUrl": "https://networkconnectivity.googleapis.com/",
  "revision": "20260608",
  "documentationLink": "https://cloud.google.com/network-connectivity/docs/reference/networkconnectivity/rest",
  "schemas": {
    "Transport": {
      "id": "Transport",
      "type": "object",
      "properties": {
        "remoteProfile": {
          "description": "Optional. Immutable. Name of the remoteTransportProfile that this Transport is connecting to.",
          "type": "string"
        },
        "advertisedRoutes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of IP Prefixes that will be advertised to the remote provider. Both IPv4 and IPv6 addresses are supported."
        },
        "description": {
          "description": "Optional. Description of the Transport.",
          "type": "string"
        },
        "generatedActivationKey": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Google-generated activation key. This is only output if the selected profile supports an OUTPUT key flow. Inputting this to the provider is only valid while the resource is in a PENDING_KEY state. Once the provider has accepted the key, the resource will move to the CONFIGURING state."
        },
        "providedActivationKey": {
          "description": "Optional. Immutable. Key used for establishing a connection with the remote transport. This key can only be provided if the profile supports an INPUT key flow and the resource is in the PENDING_KEY state.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "PENDING_CONFIG",
            "PENDING_KEY",
            "ACTIVE",
            "DELETING",
            "DEPROVISIONED"
          ],
          "description": "Output only. State of the underlying connectivity.",
          "enumDescriptions": [
            "Unspecified state.",
            "The resource exists locally and is being created / associated with the resource on the remote provider’s end of the underlying connectivity.",
            "The Transport exists on both sides of the connection, and is waiting for configuration to finalize and be verified as operational.",
            "The Transport was created in GCP. Depending on the profile’s key provisioning flow, this is either waiting for an activation key to be input (the key will be validated that it uses remote resources that match the Transport), or for the generated key to be input to the provider for finalizing. The configured bandwidth is not yet guaranteed.",
            "The Transport is configured and the underlying connectivity is considered operational.",
            "The Transport is being deleted from GCP. The underlying connectivity is no longer operational.",
            "The Transport was deleted on the remote provider's end and is no longer operational. GCP has insufficient information to move the resource back to PENDING_KEY state."
          ]
        },
        "name": {
          "description": "Identifier. Name of the resource.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Update time stamp.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs."
        },
        "remoteAccountId": {
          "description": "Optional. Immutable. The user supplied account id for the CSP associated with the remote profile.",
          "type": "string"
        },
        "peeringNetwork": {
          "description": "Output only. VPC Network URI that was created for the VPC Peering connection to the provided `network`. If VPC Peering is disconnected, this can be used to re-establish.",
          "readOnly": true,
          "type": "string"
        },
        "stackType": {
          "enum": [
            "STACK_TYPE_UNSPECIFIED",
            "IPV4_ONLY",
            "IPV4_IPV6"
          ],
          "description": "Optional. IP version stack for the established connectivity.",
          "enumDescriptions": [
            "Unspecified stack type.",
            "Only IPv4 is supported. (default)",
            "Both IPv4 and IPv6 are supported."
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Create time stamp.",
          "format": "google-datetime"
        },
        "bandwidth": {
          "type": "string",
          "enum": [
            "BANDWIDTH_UNSPECIFIED",
            "BPS_50M",
            "BPS_100M",
            "BPS_200M",
            "BPS_300M",
            "BPS_400M",
            "BPS_500M",
            "BPS_1G",
            "BPS_2G",
            "BPS_5G",
            "BPS_10G",
            "BPS_20G",
            "BPS_50G",
            "BPS_100G"
          ],
          "description": "Optional. Bandwidth of the Transport. This must be one of the supported bandwidths for the remote profile, and must be set when no activation key is being provided.",
          "enumDescriptions": [
            "Unspecified bandwidth.",
            "50 Megabits per second.",
            "100 Megabits per second.",
            "200 Megabits per second.",
            "300 Megabits per second.",
            "400 Megabits per second.",
            "500 Megabits per second.",
            "1 Gigabit per second.",
            "2 Gigabits per second.",
            "5 Gigabits per second.",
            "10 Gigabits per second.",
            "20 Gigabits per second.",
            "50 Gigabits per second.",
            "100 Gigabits per second."
          ]
        },
        "network": {
          "description": "Optional. Immutable. Resource URI of the Network that will be peered with this Transport. This field must be provided during resource creation and cannot be changed.",
          "type": "string"
        },
        "mtuLimit": {
          "description": "Output only. The maximum transmission unit (MTU) of a packet that can be sent over this transport.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "description": "Message describing Transport object."
    },
    "QueryHubStatusResponse": {
      "description": "The response for HubService.QueryHubStatus.",
      "id": "QueryHubStatusResponse",
      "type": "object",
      "properties": {
        "hubStatusEntries": {
          "description": "The list of hub status.",
          "items": {
            "$ref": "HubStatusEntry"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token for the next page of the response. To see more results, use this value as the page_token for your next request. If this value is empty, there are no more results.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "NextHopVpcNetwork": {
      "id": "NextHopVpcNetwork",
      "type": "object",
      "properties": {
        "uri": {
          "description": "The URI of the VPC network resource",
          "type": "string"
        }
      }
    },
    "Expr": {
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "DestinationEndpoint": {
      "description": "The metadata for a `DestinationEndpoint` resource.",
      "properties": {
        "state": {
          "description": "Output only. The state of the `DestinationEndpoint` resource.",
          "enumDescriptions": [
            "An invalid state, which is the default case.",
            "The `DestinationEndpoint` resource is valid.",
            "The `DestinationEndpoint` resource is invalid."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "VALID",
            "INVALID"
          ]
        },
        "csp": {
          "description": "Required. The CSP of the remote IP prefix.",
          "type": "string"
        },
        "asn": {
          "type": "string",
          "description": "Required. The ASN of the remote IP prefix.",
          "format": "int64"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the `DestinationEndpoint` resource was updated.",
          "format": "google-datetime"
        }
      },
      "id": "DestinationEndpoint",
      "type": "object"
    },
    "NextHopSpoke": {
      "id": "NextHopSpoke",
      "type": "object",
      "properties": {
        "uri": {
          "description": "The URI of the spoke resource.",
          "type": "string"
        },
        "siteToSiteDataTransfer": {
          "description": "Indicates whether site-to-site data transfer is allowed for this spoke resource. Data transfer is available only in [supported locations](https://cloud.google.com/network-connectivity/docs/network-connectivity-center/concepts/locations). Whether this route is accessible to other hybrid spokes with site-to-site data transfer enabled. If this is false, the route is only accessible to VPC spokes of the connected Hub.",
          "type": "boolean"
        }
      },
      "description": "A route next hop that leads to a spoke resource."
    },
    "InterconnectAttachment": {
      "id": "InterconnectAttachment",
      "type": "object",
      "properties": {
        "region": {
          "description": "Optional. Cloud region to install this policy-based route on interconnect attachment. Use `all` to install it on all interconnect attachments.",
          "type": "string"
        }
      },
      "description": "InterconnectAttachment that this route applies to."
    },
    "CheckConsumerConfigResponse": {
      "description": "Response for CheckConsumerConfig.",
      "properties": {
        "errors": {
          "items": {
            "enumDescriptions": [
              "An invalid error as the default case.",
              "Invalid Network project.",
              "Network Connectivity APIs not enabled in network project.",
              "Invalid network.",
              "No ServiceConnectionPolicy found for this network and ServiceClass.",
              "IP version not supported in any of the subnetworks.",
              "Service Agent missing for network project.",
              "Invalid endpoint project.",
              "Network Connectivity API is not enabled in the endpoint project.",
              "Endpoint project is not a service project of the network project."
            ],
            "enum": [
              "ERROR_UNSPECIFIED",
              "NETWORK_PROJECT_INVALID",
              "NETWORK_PROJECT_APIS_NOT_ENABLED",
              "NETWORK_INVALID",
              "CONNECTION_POLICY_MISSING",
              "IP_VERSION_NOT_SUPPORTED",
              "NETWORK_PROJECT_SERVICE_AGENT_NOT_FOUND",
              "ENDPOINT_PROJECT_INVALID",
              "ENDPOINT_PROJECT_API_NOT_ENABLED",
              "ENDPOINT_PROJECT_IS_NOT_SERVICE_PROJECT"
            ],
            "type": "string"
          },
          "description": "List of validation errors. If the list is empty, the consumer config is valid.",
          "type": "array"
        }
      },
      "id": "CheckConsumerConfigResponse",
      "type": "object"
    },
    "LinkedVpnTunnels": {
      "id": "LinkedVpnTunnels",
      "type": "object",
      "properties": {
        "uris": {
          "description": "The URIs of linked VPN tunnel resources.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "vpcNetwork": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The VPC network where these VPN tunnels are located."
        },
        "includeExportRanges": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Dynamic routes fully encompassed by include export ranges are included during export to hub."
        },
        "siteToSiteDataTransfer": {
          "description": "A value that controls whether site-to-site data transfer is enabled for these resources. Data transfer is available only in [supported locations](https://cloud.google.com/network-connectivity/docs/network-connectivity-center/concepts/locations).",
          "type": "boolean"
        },
        "includeImportRanges": {
          "type": "array",
          "description": "Optional. Hub routes fully encompassed by include import ranges are included during import from hub.",
          "items": {
            "type": "string"
          }
        },
        "excludeExportRanges": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Dynamic routes overlapped/encompassed by exclude export ranges are excluded during export to hub.",
          "type": "array"
        },
        "excludeImportRanges": {
          "type": "array",
          "description": "Optional. Hub routes overlapped/encompassed by exclude import ranges are excluded during import from hub.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A collection of Cloud VPN tunnel resources. These resources should be redundant HA VPN tunnels that all advertise the same prefixes to Google Cloud. Alternatively, in a passive/active configuration, all tunnels should be capable of advertising the same prefixes."
    },
    "VirtualMachine": {
      "id": "VirtualMachine",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Optional. A list of VM instance tags that this policy-based route applies to. VM instances that have ANY of tags specified here installs this PBR.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "VM instances that this policy-based route applies to."
    },
    "DnsAutomationStatus": {
      "description": "The status of DNS automation for a PSC connection.",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_CREATE",
            "ACTIVE",
            "PENDING_DELETE",
            "CREATE_FAILED",
            "DELETE_FAILED"
          ],
          "description": "Output only. The current state of DNS automation.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "DNS record creation is pending.",
            "DNS record is active.",
            "DNS record deletion is pending.",
            "DNS record creation failed.",
            "DNS record deletion failed."
          ]
        },
        "error": {
          "description": "Output only. The error details if the state is CREATE_FAILED or DELETE_FAILED.",
          "$ref": "GoogleRpcStatus",
          "readOnly": true
        },
        "fqdn": {
          "description": "Output only. The fully qualified domain name of the DNS record.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "DnsAutomationStatus",
      "type": "object"
    },
    "RouterApplianceInstance": {
      "id": "RouterApplianceInstance",
      "type": "object",
      "properties": {
        "virtualMachine": {
          "description": "The URI of the VM.",
          "type": "string"
        },
        "ipAddress": {
          "description": "The IP address on the VM to use for peering.",
          "type": "string"
        }
      },
      "description": "A router appliance instance is a Compute Engine virtual machine (VM) instance that acts as a BGP speaker. A router appliance instance is specified by the URI of the VM and the internal IP address of one of the VM's network interfaces."
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object",
      "properties": {
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      }
    },
    "InternalRange": {
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-defined labels."
        },
        "users": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of resources that refer to this internal range. Resources that use the internal range for their range allocation are referred to as users of the range. Other resources mark themselves as users while doing so by creating a reference to this internal range. Having a user, based on this reference, prevents deletion of the internal range referred to. Can be empty.",
          "readOnly": true,
          "type": "array"
        },
        "network": {
          "description": "Immutable. The URL or resource ID of the network in which to reserve the internal range. The network cannot be deleted if there are any reserved internal ranges referring to it. Legacy networks are not supported. For example: https://www.googleapis.com/compute/v1/projects/{project}/locations/global/networks/{network} projects/{project}/locations/global/networks/{network} {network}",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the internal range was created.",
          "format": "google-datetime"
        },
        "migration": {
          "description": "Optional. Must be present if usage is set to FOR_MIGRATION.",
          "$ref": "Migration"
        },
        "peering": {
          "description": "Optional. The type of peering set for this internal range.",
          "enumDescriptions": [
            "If Peering is left unspecified in CreateInternalRange or UpdateInternalRange, it will be defaulted to FOR_SELF.",
            "This is the default behavior and represents the case that this internal range is intended to be used in the VPC in which it is created and is accessible from its peers. This implies that peers or peers-of-peers cannot use this range.",
            "This behavior can be set when the internal range is being reserved for usage by peers. This means that no resource within the VPC in which it is being created can use this to associate with a VPC resource, but one of the peers can. This represents donating a range for peers to use.",
            "This behavior can be set when the internal range is being reserved for usage by the VPC in which it is created, but not shared with peers. In a sense, it is local to the VPC. This can be used to create internal ranges for various purposes like HTTP_INTERNAL_LOAD_BALANCER or for Interconnect routes that are not shared with peers. This also implies that peers cannot use this range in a way that is visible to this VPC, but can re-use this range as long as it is NOT_SHARED from the peer VPC, too."
          ],
          "enum": [
            "PEERING_UNSPECIFIED",
            "FOR_SELF",
            "FOR_PEER",
            "NOT_SHARED"
          ],
          "type": "string"
        },
        "immutable": {
          "description": "Optional. Immutable ranges cannot have their fields modified, except for labels and description.",
          "type": "boolean"
        },
        "prefixLength": {
          "type": "integer",
          "description": "Optional. An alternate to ip_cidr_range. Can be set when trying to create an IPv4 reservation that automatically finds a free range of the given size. If both ip_cidr_range and prefix_length are set, there is an error if the range sizes do not match. Can also be used during updates to change the range size. NOTE: For IPv6 this field only works if ip_cidr_range is set as well, and both fields must match. In other words, with IPv6 this field only works as a redundant parameter.",
          "format": "int32"
        },
        "overlaps": {
          "type": "array",
          "description": "Optional. Types of resources that are allowed to overlap with the current internal range.",
          "items": {
            "type": "string",
            "enum": [
              "OVERLAP_UNSPECIFIED",
              "OVERLAP_ROUTE_RANGE",
              "OVERLAP_EXISTING_SUBNET_RANGE"
            ],
            "enumDescriptions": [
              "No overlap overrides.",
              "Allow creation of static routes more specific that the current internal range.",
              "Allow creation of internal ranges that overlap with existing subnets."
            ]
          }
        },
        "description": {
          "description": "Optional. A description of this resource.",
          "type": "string"
        },
        "targetCidrRange": {
          "description": "Optional. Can be set to narrow down or pick a different address space while searching for a free range. If not set, defaults to the [\"10.0.0.0/8\", \"172.16.0.0/12\", \"192.168.0.0/16\"] address space (for auto-mode networks, the \"10.0.0.0/9\" range is used instead of \"10.0.0.0/8\"). This can be used to target the search in other rfc-1918 address spaces like \"172.16.0.0/12\" and \"192.168.0.0/16\" or non-rfc-1918 address spaces used in the VPC.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "usage": {
          "description": "Optional. The type of usage set for this InternalRange.",
          "enumDescriptions": [
            "Unspecified usage is allowed in calls which identify the resource by other fields and do not need Usage set to complete. These are, i.e.: GetInternalRange and DeleteInternalRange. Usage needs to be specified explicitly in CreateInternalRange or UpdateInternalRange calls.",
            "A VPC resource can use the reserved CIDR block by associating it with the internal range resource if usage is set to FOR_VPC.",
            "Ranges created with EXTERNAL_TO_VPC cannot be associated with VPC resources and are meant to block out address ranges for various use cases, like for example, usage on-prem, with dynamic route announcements via interconnect.",
            "Ranges created FOR_MIGRATION can be used to lock a CIDR range between a source and target subnet. If usage is set to FOR_MIGRATION, the peering value has to be set to FOR_SELF or default to FOR_SELF when unset."
          ],
          "enum": [
            "USAGE_UNSPECIFIED",
            "FOR_VPC",
            "EXTERNAL_TO_VPC",
            "FOR_MIGRATION"
          ],
          "type": "string"
        },
        "ipCidrRange": {
          "description": "Optional. The IP range that this internal range defines. NOTE: IPv6 ranges are limited to usage=EXTERNAL_TO_VPC and peering=FOR_SELF. NOTE: For IPv6 Ranges this field is compulsory, i.e. the address range must be specified explicitly.",
          "type": "string"
        },
        "excludeCidrRanges": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. ExcludeCidrRanges flag. Specifies a set of CIDR blocks that allows exclusion of particular CIDR ranges from the auto-allocation process, without having to reserve these blocks"
        },
        "name": {
          "description": "Identifier. The name of an internal range. Format: projects/{project}/locations/{location}/internalRanges/{internal_range} See: https://google.aip.dev/122#fields-representing-resource-names",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time when the internal range was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "allocationOptions": {
          "description": "Optional. Range auto-allocation options, may be set only when auto-allocation is selected by not setting ip_cidr_range (and setting prefix_length).",
          "$ref": "AllocationOptions"
        }
      },
      "id": "InternalRange",
      "type": "object",
      "description": "The internal range resource for IPAM operations within a VPC network. Used to represent a private address range along with behavioral characteristics of that range (its usage and peering behavior). Networking resources can link to this range if they are created as belonging to it."
    },
    "CheckConsumerConfigRequest": {
      "description": "Request for CheckConsumerConfig.",
      "properties": {
        "serviceClass": {
          "description": "Required. The service class identifier of the producer.",
          "type": "string"
        },
        "endpointProject": {
          "description": "The project number or ID where the PSC endpoint is to be created.",
          "type": "string"
        },
        "consumerNetwork": {
          "description": "Required. Full resource name of the consumer network. Example: - projects/{project}/global/networks/{network}.",
          "type": "string"
        },
        "requestedIpVersion": {
          "type": "string",
          "enum": [
            "IP_VERSION_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ],
          "description": "The requested IP Version",
          "enumDescriptions": [
            "Default value. We will use IPv4 or IPv6 depending on the IP version of first available subnetwork.",
            "Will use IPv4 only.",
            "Will use IPv6 only."
          ]
        }
      },
      "id": "CheckConsumerConfigRequest",
      "type": "object"
    },
    "ListPolicyBasedRoutesResponse": {
      "description": "Response for PolicyBasedRoutingService.ListPolicyBasedRoutes method.",
      "properties": {
        "policyBasedRoutes": {
          "description": "Policy-based routes to be returned.",
          "items": {
            "$ref": "PolicyBasedRoute"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next pagination token in the List response. It should be used as page_token for the following request. An empty value means no more result.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListPolicyBasedRoutesResponse",
      "type": "object"
    },
    "ListRouteTablesResponse": {
      "description": "Response for HubService.ListRouteTables method.",
      "id": "ListRouteTablesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token for the next page of the response. To see more results, use this value as the page_token for your next request. If this value is empty, there are no more results.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Hubs that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "routeTables": {
          "description": "The requested route tables.",
          "items": {
            "$ref": "RouteTable"
          },
          "type": "array"
        }
      }
    },
    "RouteTable": {
      "properties": {
        "name": {
          "description": "Immutable. The name of the route table. Route table names must be unique. They use the following form: `projects/{project_number}/locations/global/hubs/{hub}/routeTables/{route_table_id}`",
          "type": "string"
        },
        "uid": {
          "description": "Output only. The Google-generated UUID for the route table. This value is unique across all route table resources. If a route table is deleted and another with the same name is created, the new route table is assigned a different `uid`.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the route table was created.",
          "format": "google-datetime"
        },
        "description": {
          "description": "An optional description of the route table.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional labels in key-value pair format. For more information about labels, see [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements)."
        },
        "state": {
          "description": "Output only. The current lifecycle state of this route table.",
          "enumDescriptions": [
            "No state information available",
            "The resource's create operation is in progress.",
            "The resource is active",
            "The resource's delete operation is in progress.",
            "The resource's accept operation is in progress.",
            "The resource's reject operation is in progress.",
            "The resource's update operation is in progress.",
            "The resource is inactive.",
            "The hub associated with this spoke resource has been deleted. This state applies to spoke resources only.",
            "The resource is in an undefined state due to resource creation or deletion failure. You can try to delete the resource later or contact support for help."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ACCEPTING",
            "REJECTING",
            "UPDATING",
            "INACTIVE",
            "OBSOLETE",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time the route table was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "RouteTable",
      "type": "object"
    },
    "AcceptHubSpokeRequest": {
      "properties": {
        "spokeUri": {
          "description": "Required. The URI of the spoke to accept into the hub.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check to see whether the original operation was received. If it was, the server ignores the second request. This behavior prevents clients from mistakenly creating duplicate commitments. The request ID must be a valid UUID, with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "AcceptHubSpokeRequest",
      "type": "object",
      "description": "The request for HubService.AcceptHubSpoke."
    },
    "ListServiceConnectionMapsResponse": {
      "id": "ListServiceConnectionMapsResponse",
      "type": "object",
      "properties": {
        "serviceConnectionMaps": {
          "type": "array",
          "items": {
            "$ref": "ServiceConnectionMap"
          },
          "description": "ServiceConnectionMaps to be returned."
        },
        "nextPageToken": {
          "description": "The next pagination token in the List response. It should be used as page_token for the following request. An empty value means no more result.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response for ListServiceConnectionMaps."
    },
    "ListTransportsResponse": {
      "description": "Message for response to listing Transports.",
      "properties": {
        "transports": {
          "type": "array",
          "items": {
            "$ref": "Transport"
          },
          "description": "The list of Transport."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListTransportsResponse",
      "type": "object"
    },
    "Warnings": {
      "id": "Warnings",
      "type": "object",
      "properties": {
        "code": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "WARNING_UNSPECIFIED",
            "RESOURCE_NOT_ACTIVE",
            "RESOURCE_BEING_MODIFIED"
          ],
          "description": "Output only. A warning code, if applicable.",
          "enumDescriptions": [
            "Default value.",
            "The policy-based route is not active and functioning. Common causes are that the dependent network was deleted or the resource project was turned off.",
            "The policy-based route is being modified (e.g. created/deleted) at this time."
          ]
        },
        "warningMessage": {
          "description": "Output only. A human-readable description of the warning code.",
          "readOnly": true,
          "type": "string"
        },
        "data": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Metadata about this warning in key: value format. The key should provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement."
        }
      },
      "description": "Informational warning message."
    },
    "ListGatewayAdvertisedRoutesResponse": {
      "description": "Response for HubService.ListGatewayAdvertisedRoutes method.",
      "properties": {
        "nextPageToken": {
          "description": "The token for the next page of the response. To see more results, use this value as the page_token for your next request. If this value is empty, there are no more results.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Hubs that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "gatewayAdvertisedRoutes": {
          "items": {
            "$ref": "GatewayAdvertisedRoute"
          },
          "description": "The requested gateway advertised routes.",
          "type": "array"
        }
      },
      "id": "ListGatewayAdvertisedRoutesResponse",
      "type": "object"
    },
    "StateMetadata": {
      "description": "The state and activation time details of the resource state.",
      "properties": {
        "state": {
          "description": "Output only. The state of the resource.",
          "enumDescriptions": [
            "An invalid state, which is the default case.",
            "The resource is being added.",
            "The resource is in use.",
            "The resource is being deleted.",
            "The resource is being suspended.",
            "The resource is suspended and not in use."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ADDING",
            "ACTIVE",
            "DELETING",
            "SUSPENDING",
            "SUSPENDED"
          ]
        },
        "effectiveTime": {
          "description": "Output only. Accompanies only the transient states, which include `ADDING`, `DELETING`, and `SUSPENDING`, to denote the time until which the transient state of the resource will be effective. For instance, if the state is `ADDING`, this field shows the time when the resource state transitions to `ACTIVE`.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "StateMetadata",
      "type": "object"
    },
    "RoutingVPC": {
      "description": "RoutingVPC contains information about the VPC networks associated with the spokes of a Network Connectivity Center hub.",
      "properties": {
        "requiredForNewSiteToSiteDataTransferSpokes": {
          "description": "Output only. If true, indicates that this VPC network is currently associated with spokes that use the data transfer feature (spokes where the site_to_site_data_transfer field is set to true). If you create new spokes that use data transfer, they must be associated with this VPC network. At most, one VPC network will have this field set to true.",
          "readOnly": true,
          "type": "boolean"
        },
        "uri": {
          "description": "The URI of the VPC network.",
          "type": "string"
        }
      },
      "id": "RoutingVPC",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "PolicyBasedRoute": {
      "description": "Policy-based routes route L4 network traffic based on not just destination IP address, but also source IP address, protocol, and more. If a policy-based route conflicts with other types of routes, the policy-based route always takes precedence.",
      "id": "PolicyBasedRoute",
      "type": "object",
      "properties": {
        "selfLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined fully-qualified URL for this resource."
        },
        "warnings": {
          "description": "Output only. If potential misconfigurations are detected for this route, this field will be populated with warning messages.",
          "items": {
            "$ref": "Warnings"
          },
          "type": "array",
          "readOnly": true
        },
        "description": {
          "description": "Optional. An optional description of this resource. Provide this field when you create the resource.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time when the policy-based route was updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "nextHopIlbIp": {
          "description": "Optional. The IP address of a global-access-enabled L4 ILB that is the next hop for matching packets. For this version, only nextHopIlbIp is supported.",
          "type": "string"
        },
        "nextHopOtherRoutes": {
          "description": "Optional. Other routes that will be referenced to determine the next hop of the packet.",
          "enumDescriptions": [
            "Default value.",
            "Use the routes from the default routing tables (system-generated routes, custom routes, peering route) to determine the next hop. This effectively excludes matching packets being applied on other PBRs with a lower priority."
          ],
          "enum": [
            "OTHER_ROUTES_UNSPECIFIED",
            "DEFAULT_ROUTING"
          ],
          "type": "string"
        },
        "name": {
          "description": "Immutable. Identifier. A unique name of the resource in the form of `projects/{project_number}/locations/global/PolicyBasedRoutes/{policy_based_route_id}`",
          "type": "string"
        },
        "priority": {
          "description": "Optional. The priority of this policy-based route. Priority is used to break ties in cases where there are more than one matching policy-based routes found. In cases where multiple policy-based routes are matched, the one with the lowest-numbered priority value wins. The default value is 1000. The priority value must be from 1 to 65535, inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "interconnectAttachment": {
          "description": "Optional. The interconnect attachments that this policy-based route applies to.",
          "$ref": "InterconnectAttachment"
        },
        "virtualMachine": {
          "description": "Optional. VM instances that this policy-based route applies to.",
          "$ref": "VirtualMachine"
        },
        "labels": {
          "description": "User-defined labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "filter": {
          "description": "Required. The filter to match L4 traffic.",
          "$ref": "Filter"
        },
        "network": {
          "description": "Required. Fully-qualified URL of the network that this route applies to, for example: projects/my-project/global/networks/my-network.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. Type of this resource. Always networkconnectivity#policyBasedRoute for policy-based Route resources.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time when the policy-based route was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Binding": {
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "ConsumerPscConfig": {
      "id": "ConsumerPscConfig",
      "type": "object",
      "properties": {
        "network": {
          "description": "The resource path of the consumer network where PSC connections are allowed to be created in. Note, this network does not need be in the ConsumerPscConfig.project in the case of SharedVPC. Example: projects/{projectNumOrId}/global/networks/{networkId}.",
          "type": "string"
        },
        "consumerInstanceProject": {
          "description": "Required. The project ID or project number of the consumer project. This project is the one that the consumer uses to interact with the producer instance. From the perspective of a consumer who's created a producer instance, this is the project of the producer instance. Format: 'projects/' Eg. 'projects/consumer-project' or 'projects/1234'",
          "type": "string"
        },
        "serviceAttachmentIpAddressMap": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map to store mapping between customer vip and target service attachment. This field can be used to specify a static IP address for a PSC connection."
        },
        "producerInstanceId": {
          "description": "Immutable. Deprecated. Use producer_instance_metadata instead. An immutable identifier for the producer instance.",
          "deprecated": true,
          "type": "string"
        },
        "producerInstanceMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Immutable. An immutable map for the producer instance metadata."
        },
        "project": {
          "description": "The consumer project where PSC connections are allowed to be created in.",
          "type": "string"
        },
        "ipVersion": {
          "description": "The requested IP version for the PSC connection.",
          "enumDescriptions": [
            "Default value. We will use IPv4 or IPv6 depending on the IP version of first available subnetwork.",
            "Will use IPv4 only.",
            "Will use IPv6 only."
          ],
          "enum": [
            "IP_VERSION_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ],
          "type": "string"
        },
        "disableGlobalAccess": {
          "description": "This is used in PSC consumer ForwardingRule to control whether the PSC endpoint can be accessed from another region.",
          "type": "boolean"
        },
        "state": {
          "description": "Output only. Overall state of PSC Connections management for this consumer psc config.",
          "enumDescriptions": [
            "Default state, when Connection Map is created initially.",
            "Set when policy and map configuration is valid, and their matching can lead to allowing creation of PSC Connections subject to other constraints like connections limit.",
            "No Service Connection Policy found for this network and Service Class",
            "Service Connection Policy limit reached for this network and Service Class",
            "The consumer instance project is not in AllowedGoogleProducersResourceHierarchyLevels of the matching ServiceConnectionPolicy."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "VALID",
            "CONNECTION_POLICY_MISSING",
            "POLICY_LIMIT_REACHED",
            "CONSUMER_INSTANCE_PROJECT_NOT_ALLOWLISTED"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Allow the producer to specify which consumers can connect to it."
    },
    "StateTimeline": {
      "description": "The timeline of the pending states for a resource.",
      "id": "StateTimeline",
      "type": "object",
      "properties": {
        "states": {
          "description": "Output only. The state and activation time details of the resource state.",
          "items": {
            "$ref": "StateMetadata"
          },
          "type": "array",
          "readOnly": true
        }
      }
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "AcceptHubSpokeResponse": {
      "id": "AcceptHubSpokeResponse",
      "type": "object",
      "properties": {
        "spoke": {
          "description": "The spoke that was operated on.",
          "$ref": "Spoke"
        }
      },
      "description": "The response for HubService.AcceptHubSpoke."
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "NextHopInterconnectAttachment": {
      "description": "A route next hop that leads to an interconnect attachment resource.",
      "properties": {
        "vpcNetwork": {
          "description": "The VPC network where this interconnect attachment is located.",
          "type": "string"
        },
        "siteToSiteDataTransfer": {
          "description": "Indicates whether site-to-site data transfer is allowed for this interconnect attachment resource. Data transfer is available only in [supported locations](https://cloud.google.com/network-connectivity/docs/network-connectivity-center/concepts/locations).",
          "type": "boolean"
        },
        "uri": {
          "description": "The URI of the interconnect attachment resource.",
          "type": "string"
        }
      },
      "id": "NextHopInterconnectAttachment",
      "type": "object"
    },
    "Spoke": {
      "description": "A Network Connectivity Center spoke represents one or more network connectivity resources. When you create a spoke, you associate it with a hub. You must also identify a value for exactly one of the following fields: * linked_vpn_tunnels * linked_interconnect_attachments * linked_router_appliance_instances * linked_vpc_network",
      "id": "Spoke",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional labels in key-value pair format. For more information about labels, see [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "linkedRouterApplianceInstances": {
          "description": "Optional. Router appliance instances that are associated with the spoke.",
          "$ref": "LinkedRouterApplianceInstances"
        },
        "linkedVpcNetwork": {
          "description": "Optional. VPC network that is associated with the spoke.",
          "$ref": "LinkedVpcNetwork"
        },
        "reasons": {
          "items": {
            "$ref": "StateReason"
          },
          "description": "Output only. The reasons for current state of the spoke.",
          "readOnly": true,
          "type": "array"
        },
        "linkedVpnTunnels": {
          "description": "Optional. VPN tunnels that are associated with the spoke.",
          "$ref": "LinkedVpnTunnels"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the spoke was created.",
          "format": "google-datetime"
        },
        "linkedInterconnectAttachments": {
          "description": "Optional. VLAN attachments that are associated with the spoke.",
          "$ref": "LinkedInterconnectAttachments"
        },
        "spokeType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "SPOKE_TYPE_UNSPECIFIED",
            "VPN_TUNNEL",
            "INTERCONNECT_ATTACHMENT",
            "ROUTER_APPLIANCE",
            "VPC_NETWORK",
            "GATEWAY",
            "PRODUCER_VPC_NETWORK"
          ],
          "description": "Output only. The type of resource associated with the spoke.",
          "enumDescriptions": [
            "Unspecified spoke type.",
            "Spokes associated with VPN tunnels.",
            "Spokes associated with VLAN attachments.",
            "Spokes associated with router appliance instances.",
            "Spokes associated with VPC networks.",
            "Spokes that are NCC gateways.",
            "Spokes that are backed by a producer VPC network."
          ]
        },
        "description": {
          "description": "Optional. An optional description of the spoke.",
          "type": "string"
        },
        "linkedProducerVpcNetwork": {
          "description": "Optional. The linked producer VPC that is associated with the spoke.",
          "$ref": "LinkedProducerVpcNetwork"
        },
        "uniqueId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Google-generated UUID for the spoke. This value is unique across all spoke resources. If a spoke is deleted and another with the same name is created, the new spoke is assigned a different `unique_id`."
        },
        "hub": {
          "description": "Immutable. The name of the hub that this spoke is attached to.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current lifecycle state of this spoke.",
          "enumDescriptions": [
            "No state information available",
            "The resource's create operation is in progress.",
            "The resource is active",
            "The resource's delete operation is in progress.",
            "The resource's accept operation is in progress.",
            "The resource's reject operation is in progress.",
            "The resource's update operation is in progress.",
            "The resource is inactive.",
            "The hub associated with this spoke resource has been deleted. This state applies to spoke resources only.",
            "The resource is in an undefined state due to resource creation or deletion failure. You can try to delete the resource later or contact support for help."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ACCEPTING",
            "REJECTING",
            "UPDATING",
            "INACTIVE",
            "OBSOLETE",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true
        },
        "group": {
          "description": "Optional. The name of the group that this spoke is associated with.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The name of the spoke. Spoke names must be unique. They use the following form: `projects/{project_number}/locations/{region}/spokes/{spoke_id}`",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the spoke was last updated.",
          "format": "google-datetime"
        },
        "gateway": {
          "description": "Optional. This is a gateway that can apply specialized processing to traffic going through it.",
          "$ref": "Gateway"
        },
        "fieldPathsPendingUpdate": {
          "type": "array",
          "description": "Optional. The list of fields waiting for hub administrator's approval.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AllocationOptions": {
      "description": "Range auto-allocation options, to be optionally used when CIDR block is not explicitly set.",
      "id": "AllocationOptions",
      "type": "object",
      "properties": {
        "firstAvailableRangesLookupSize": {
          "type": "integer",
          "description": "Optional. This field must be set only when allocation_strategy is set to RANDOM_FIRST_N_AVAILABLE. The value should be the maximum expected parallelism of range creation requests issued to the same space of peered netwroks.",
          "format": "int32"
        },
        "allocationStrategy": {
          "type": "string",
          "enum": [
            "ALLOCATION_STRATEGY_UNSPECIFIED",
            "RANDOM",
            "FIRST_AVAILABLE",
            "RANDOM_FIRST_N_AVAILABLE",
            "FIRST_SMALLEST_FITTING"
          ],
          "description": "Optional. Allocation strategy Not setting this field when the allocation is requested means an implementation defined strategy is used.",
          "enumDescriptions": [
            "Unspecified is the only valid option when the range is specified explicitly by ip_cidr_range field. Otherwise unspefified means using the default strategy.",
            "Random strategy, the legacy algorithm, used for backwards compatibility. This allocation strategy remains efficient in the case of concurrent allocation requests in the same peered network space and doesn't require providing the level of concurrency in an explicit parameter, but it is prone to fragmenting available address space.",
            "Pick the first available address range. This strategy is deterministic and the result is easy to predict.",
            "Pick an arbitrary range out of the first N available ones. The N will be set in the first_available_ranges_lookup_size field. This strategy should be used when concurrent allocation requests are made in the same space of peered networks while the fragmentation of the addrress space is reduced.",
            "Pick the smallest but fitting available range. This deterministic strategy minimizes fragmentation of the address space."
          ]
        }
      }
    },
    "Hub": {
      "description": "A Network Connectivity Center hub is a global management resource to which you attach spokes. A single hub can contain spokes from multiple regions. However, if any of a hub's spokes use the site-to-site data transfer feature, the resources associated with those spokes must all be in the same VPC network. Spokes that do not use site-to-site data transfer can be associated with any VPC network in your project.",
      "id": "Hub",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the hub was created.",
          "format": "google-datetime"
        },
        "exportPsc": {
          "description": "Optional. Whether Private Service Connect connection propagation is enabled for the hub. If true, Private Service Connect endpoints in VPC spokes attached to the hub are made accessible to other VPC spokes attached to the hub. The default value is false.",
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional labels in key-value pair format. For more information about labels, see [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements)."
        },
        "routingVpcs": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The VPC networks associated with this hub's spokes. This field is read-only. Network Connectivity Center automatically populates it based on the set of spokes attached to the hub.",
          "items": {
            "$ref": "RoutingVPC"
          }
        },
        "name": {
          "description": "Immutable. The name of the hub. Hub names must be unique. They use the following form: `projects/{project_number}/locations/global/hubs/{hub_id}`",
          "type": "string"
        },
        "routeTables": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The route tables that belong to this hub. They use the following form: `projects/{project_number}/locations/global/hubs/{hub_id}/routeTables/{route_table_id}` This field is read-only. Network Connectivity Center automatically populates it based on the route tables nested under the hub.",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. The time the hub was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "spokeSummary": {
          "description": "Output only. A summary of the spokes associated with a hub. The summary includes a count of spokes according to type and according to state. If any spokes are inactive, the summary also lists the reasons they are inactive, including a count for each reason.",
          "$ref": "SpokeSummary",
          "readOnly": true
        },
        "description": {
          "description": "Optional. An optional description of the hub.",
          "type": "string"
        },
        "presetTopology": {
          "type": "string",
          "description": "Optional. The topology implemented in this hub. Currently, this field is only used when policy_mode = PRESET. The available preset topologies are MESH and STAR. If preset_topology is unspecified and policy_mode = PRESET, the preset_topology defaults to MESH. When policy_mode = CUSTOM, the preset_topology is set to PRESET_TOPOLOGY_UNSPECIFIED.",
          "enumDescriptions": [
            "Preset topology is unspecified. When policy_mode = PRESET, it defaults to MESH.",
            "Mesh topology is implemented. Group `default` is automatically created. All spokes in the hub are added to group `default`.",
            "Star topology is implemented. Two groups, `center` and `edge`, are automatically created along with hub creation. Spokes have to join one of the groups during creation.",
            "Hybrid inspection has 4 groups ('non-prod', 'prod', 'services', and 'untrusted') that are automatically created along with hub creation."
          ],
          "enum": [
            "PRESET_TOPOLOGY_UNSPECIFIED",
            "MESH",
            "STAR",
            "HYBRID_INSPECTION"
          ]
        },
        "policyMode": {
          "type": "string",
          "description": "Optional. The policy mode of this hub. This field can be either PRESET or CUSTOM. If unspecified, the policy_mode defaults to PRESET.",
          "enumDescriptions": [
            "Policy mode is unspecified. It defaults to PRESET with preset_topology = MESH.",
            "Hub uses one of the preset topologies."
          ],
          "enum": [
            "POLICY_MODE_UNSPECIFIED",
            "PRESET"
          ]
        },
        "state": {
          "description": "Output only. The current lifecycle state of this hub.",
          "enumDescriptions": [
            "No state information available",
            "The resource's create operation is in progress.",
            "The resource is active",
            "The resource's delete operation is in progress.",
            "The resource's accept operation is in progress.",
            "The resource's reject operation is in progress.",
            "The resource's update operation is in progress.",
            "The resource is inactive.",
            "The hub associated with this spoke resource has been deleted. This state applies to spoke resources only.",
            "The resource is in an undefined state due to resource creation or deletion failure. You can try to delete the resource later or contact support for help."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ACCEPTING",
            "REJECTING",
            "UPDATING",
            "INACTIVE",
            "OBSOLETE",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "uniqueId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Google-generated UUID for the hub. This value is unique across all hub resources. If a hub is deleted and another with the same name is created, the new hub is assigned a different unique_id."
        }
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "AcceptSpokeUpdateRequest": {
      "description": "The request for HubService.AcceptSpokeUpdate.",
      "id": "AcceptSpokeUpdateRequest",
      "type": "object",
      "properties": {
        "spokeUri": {
          "description": "Required. The URI of the spoke to accept update.",
          "type": "string"
        },
        "spokeEtag": {
          "description": "Required. The etag of the spoke to accept update.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check to see whether the original operation was received. If it was, the server ignores the second request. This behavior prevents clients from mistakenly creating duplicate commitments. The request ID must be a valid UUID, with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "RegionalEndpoint": {
      "id": "RegionalEndpoint",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the RegionalEndpoint was updated.",
          "format": "google-datetime"
        },
        "targetGoogleApi": {
          "description": "Required. The service endpoint this private regional endpoint connects to. Format: `{apiname}.{region}.p.rep.googleapis.com` Example: \"cloudkms.us-central1.p.rep.googleapis.com\".",
          "type": "string"
        },
        "network": {
          "description": "Optional. The name of the VPC network for this private regional endpoint. Format: `projects/{project}/global/networks/{network}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time when the RegionalEndpoint was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of a RegionalEndpoint. Pattern: `projects/{project}/locations/{location}/regionalEndpoints/^[-a-z0-9](?:[-a-z0-9]{0,44})[a-z0-9]$`."
        },
        "address": {
          "description": "Optional. The IP Address of the Regional Endpoint. When no address is provided, an IP from the subnetwork is allocated. Use one of the following formats: * IPv4 address as in `10.0.0.1` * Address resource URI as in `projects/{project}/regions/{region}/addresses/{address_name}` for an IPv4 or IPv6 address.",
          "type": "string"
        },
        "accessType": {
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "GLOBAL",
            "REGIONAL"
          ],
          "description": "Required. The access type of this regional endpoint. This field is reflected in the PSC Forwarding Rule configuration to enable global access.",
          "enumDescriptions": [
            "An invalid type as the default case.",
            "This regional endpoint is accessible from all regions.",
            "This regional endpoint is only accessible from the same region where it resides."
          ],
          "type": "string"
        },
        "pscForwardingRule": {
          "description": "Output only. The resource reference of the PSC Forwarding Rule created on behalf of the customer. Format: `//compute.googleapis.com/projects/{project}/regions/{region}/forwardingRules/{forwarding_rule_name}`",
          "readOnly": true,
          "type": "string"
        },
        "ipAddress": {
          "readOnly": true,
          "deprecated": true,
          "type": "string",
          "description": "Output only. The literal IP address of the PSC Forwarding Rule created on behalf of the customer. This field is deprecated. Use address instead."
        },
        "labels": {
          "description": "User-defined labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. A description of this resource.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Optional. The name of the subnetwork from which the IP address will be allocated. Format: `projects/{project}/regions/{region}/subnetworks/{subnetwork}`",
          "type": "string"
        }
      },
      "description": "The RegionalEndpoint resource."
    },
    "ListMulticloudDataTransferConfigsResponse": {
      "id": "ListMulticloudDataTransferConfigsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "multicloudDataTransferConfigs": {
          "type": "array",
          "description": "The list of `MulticloudDataTransferConfig` resources to be listed.",
          "items": {
            "$ref": "MulticloudDataTransferConfig"
          }
        }
      },
      "description": "Response message to list `MulticloudDataTransferConfig` resources."
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method."
    },
    "PscPropagationStatus": {
      "description": "The status of one or more propagated Private Service Connect connections in a hub.",
      "properties": {
        "sourceSpoke": {
          "description": "The name of the spoke that the source forwarding rule belongs to.",
          "type": "string"
        },
        "sourceGroup": {
          "description": "The name of the group that the source spoke belongs to.",
          "type": "string"
        },
        "targetGroup": {
          "description": "The name of the group that the target spoke belongs to.",
          "type": "string"
        },
        "sourceForwardingRule": {
          "description": "The name of the forwarding rule exported to the hub.",
          "type": "string"
        },
        "targetSpoke": {
          "description": "The name of the spoke that the source forwarding rule propagates to.",
          "type": "string"
        },
        "message": {
          "description": "The human-readable summary of the Private Service Connect connection propagation status.",
          "type": "string"
        },
        "code": {
          "description": "The propagation status.",
          "enumDescriptions": [
            "The code is unspecified.",
            "The propagated Private Service Connect connection is ready.",
            "The Private Service Connect connection is propagating. This is a transient state.",
            "The Private Service Connect connection propagation failed because the VPC network or the project of the target spoke has exceeded the connection limit set by the producer.",
            "The Private Service Connect connection propagation failed because the NAT IP subnet space has been exhausted. It is equivalent to the `Needs attention` status of the Private Service Connect connection. See https://cloud.google.com/vpc/docs/about-accessing-vpc-hosted-services-endpoints#connection-statuses.",
            "The Private Service Connect connection propagation failed because the `PSC_ILB_CONSUMER_FORWARDING_RULES_PER_PRODUCER_NETWORK` quota in the producer VPC network has been exceeded.",
            "The Private Service Connect connection propagation failed because the `PSC_PROPAGATED_CONNECTIONS_PER_VPC_NETWORK` quota in the consumer VPC network has been exceeded."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "READY",
            "PROPAGATING",
            "ERROR_PRODUCER_PROPAGATED_CONNECTION_LIMIT_EXCEEDED",
            "ERROR_PRODUCER_NAT_IP_SPACE_EXHAUSTED",
            "ERROR_PRODUCER_QUOTA_EXCEEDED",
            "ERROR_CONSUMER_QUOTA_EXCEEDED"
          ],
          "type": "string"
        }
      },
      "id": "PscPropagationStatus",
      "type": "object"
    },
    "SpokeTypeCount": {
      "properties": {
        "spokeType": {
          "enum": [
            "SPOKE_TYPE_UNSPECIFIED",
            "VPN_TUNNEL",
            "INTERCONNECT_ATTACHMENT",
            "ROUTER_APPLIANCE",
            "VPC_NETWORK",
            "GATEWAY",
            "PRODUCER_VPC_NETWORK"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the spokes.",
          "enumDescriptions": [
            "Unspecified spoke type.",
            "Spokes associated with VPN tunnels.",
            "Spokes associated with VLAN attachments.",
            "Spokes associated with router appliance instances.",
            "Spokes associated with VPC networks.",
            "Spokes that are NCC gateways.",
            "Spokes that are backed by a producer VPC network."
          ]
        },
        "count": {
          "description": "Output only. The total number of spokes of this type that are associated with the hub.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "SpokeTypeCount",
      "type": "object",
      "description": "The number of spokes of a given type that are associated with a specific hub. The type indicates what kind of resource is associated with the spoke."
    },
    "Gateway": {
      "id": "Gateway",
      "type": "object",
      "properties": {
        "cloudRouters": {
          "description": "Output only. The list of Cloud Routers that are connected to this gateway. Should be in the form: https://www.googleapis.com/compute/v1/projects/{project}/regions/{region}/routers/{router}",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "sacAttachment": {
          "description": "Output only. The URI of the connected SACAttachment. Should be in the form: projects/{project}/locations/{location}/sacAttachments/{sac_attachment}",
          "readOnly": true,
          "type": "string"
        },
        "ipRangeReservations": {
          "items": {
            "$ref": "IpRangeReservation"
          },
          "description": "Optional. A list of IP ranges that are reserved for this gateway's internal intfrastructure.",
          "type": "array"
        },
        "capacity": {
          "description": "Optional. The aggregate processing capacity of this gateway.",
          "enumDescriptions": [
            "The gateway capacity is unspecified.",
            "The gateway has 1 Gbps of aggregate processing capacity",
            "The gateway has 10 Gbps of aggregate processing capacity"
          ],
          "enum": [
            "GATEWAY_CAPACITY_UNSPECIFIED",
            "CAPACITY_1_GBPS",
            "CAPACITY_10_GBPS"
          ],
          "type": "string"
        }
      },
      "description": "A gateway that can apply specialized traffic processing."
    },
    "AutomatedDnsCreationSpec": {
      "properties": {
        "hostname": {
          "description": "Required. The hostname (the first label of the FQDN) to use for the DNS record. This should be a valid DNS label as per RFC 1035. Generally, this means the hostname can contain letters, digits, and hyphens, and must not start or end with a hyphen. Example: \"my-instance\", \"db-1\"",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "description": "Optional. The Time To Live for the DNS record, in seconds. If not provided, a default of 30 seconds will be used.",
          "format": "google-duration"
        },
        "dnsSuffix": {
          "description": "Required. The DNS suffix to use for the DNS record. Must end with a dot. This should be a valid DNS domain name as per RFC 1035. Each label (between dots) can contain letters, digits, and hyphens, and must not start or end with a hyphen. Example: \"my-service.example.com.\", \"internal.\"",
          "type": "string"
        }
      },
      "id": "AutomatedDnsCreationSpec",
      "type": "object",
      "description": "The specification for automatically creating a DNS record."
    },
    "ListInternalRangesResponse": {
      "description": "Response for InternalRange.ListInternalRanges",
      "id": "ListInternalRangesResponse",
      "type": "object",
      "properties": {
        "internalRanges": {
          "type": "array",
          "items": {
            "$ref": "InternalRange"
          },
          "description": "Internal ranges to be returned."
        },
        "nextPageToken": {
          "description": "The next pagination token in the List response. It should be used as page_token for the following request. An empty value means no more result.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListRegionalEndpointsResponse": {
      "description": "Response for ListRegionalEndpoints.",
      "properties": {
        "regionalEndpoints": {
          "items": {
            "$ref": "RegionalEndpoint"
          },
          "description": "Regional endpoints to be returned.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next pagination token in the List response. It should be used as page_token for the following request. An empty value means no more result.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListRegionalEndpointsResponse",
      "type": "object"
    },
    "LinkedProducerVpcNetwork": {
      "id": "LinkedProducerVpcNetwork",
      "type": "object",
      "properties": {
        "serviceConsumerVpcSpoke": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Service Consumer Network spoke."
        },
        "producerNetwork": {
          "description": "Output only. The URI of the Producer VPC.",
          "type": "string",
          "readOnly": true
        },
        "proposedIncludeExportRanges": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The proposed include export IP ranges waiting for hub administrator's approval."
        },
        "includeExportRanges": {
          "type": "array",
          "description": "Optional. IP ranges allowed to be included from peering.",
          "items": {
            "type": "string"
          }
        },
        "network": {
          "description": "Immutable. The URI of the Service Consumer VPC that the Producer VPC is peered with.",
          "type": "string"
        },
        "proposedExcludeExportRanges": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The proposed exclude export IP ranges waiting for hub administrator's approval."
        },
        "peering": {
          "description": "Immutable. The name of the VPC peering between the Service Consumer VPC and the Producer VPC (defined in the Tenant project) which is added to the NCC hub. This peering must be in ACTIVE state.",
          "type": "string"
        },
        "excludeExportRanges": {
          "type": "array",
          "description": "Optional. IP ranges encompassing the subnets to be excluded from peering.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ServiceConnectionToken": {
      "properties": {
        "network": {
[...]
