{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "id": "networksecurity:v1beta1",
  "title": "Network Security API",
  "canonicalName": "NetworkSecurity",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "mtlsRootUrl": "https://networksecurity.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "",
  "schemas": {
    "AuthzPolicyAuthzRuleToRequestOperationHeaderSet": {
      "id": "AuthzPolicyAuthzRuleToRequestOperationHeaderSet",
      "description": "Describes a set of HTTP headers to match against.",
      "properties": {
        "headers": {
          "type": "array",
          "description": "Required. A list of headers to match against in http header. The match can be one of exact, prefix, suffix, or contains (substring match). The match follows AND semantics which means all the headers must match. Matches are always case sensitive unless the ignoreCase is set. Limited to 10 headers per Authorization Policy.",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleHeaderMatch"
          }
        }
      },
      "type": "object"
    },
    "ListServerTlsPoliciesResponse": {
      "id": "ListServerTlsPoliciesResponse",
      "description": "Response returned by the ListServerTlsPolicies method.",
      "properties": {
        "serverTlsPolicies": {
          "type": "array",
          "description": "List of ServerTlsPolicy resources.",
          "items": {
            "$ref": "ServerTlsPolicy"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources. Populated when the request opts into `return_partial_success` and reading across collections e.g. when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "MirroringDeploymentGroup": {
      "id": "MirroringDeploymentGroup",
      "description": "A deployment group aggregates many zonal mirroring backends (deployments) into a single global mirroring service. Consumers can connect this service using an endpoint group.",
      "properties": {
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
        },
        "network": {
          "description": "Required. Immutable. The network that will be used for all child deployments, for example: `projects/{project}/global/networks/{network}`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new deployment to the group) See https://google.aip.dev/128."
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description of the deployment group. Used as additional context for the deployment group."
        },
        "nestedDeployments": {
          "deprecated": true,
          "description": "Output only. The list of Mirroring Deployments that belong to this group.",
          "readOnly": true,
          "items": {
            "$ref": "MirroringDeploymentGroupDeployment"
          },
          "type": "array"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment group is ready.",
            "The deployment group is being created.",
            "The deployment group is being deleted.",
            "The deployment group is being wiped out (project deleted)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED"
          ],
          "description": "Output only. The current state of the deployment group. See https://google.aip.dev/216."
        },
        "locations": {
          "type": "array",
          "description": "Output only. The list of locations where the deployment group is present.",
          "readOnly": true,
          "items": {
            "$ref": "MirroringLocation"
          }
        },
        "connectedEndpointGroups": {
          "readOnly": true,
          "items": {
            "$ref": "MirroringDeploymentGroupConnectedEndpointGroup"
          },
          "description": "Output only. The list of endpoint groups that are connected to this resource.",
          "type": "array"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this deployment group, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MTLSPolicy": {
      "type": "object",
      "id": "MTLSPolicy",
      "description": "Specification of the MTLSPolicy.",
      "properties": {
        "clientValidationCa": {
          "items": {
            "$ref": "ValidationCA"
          },
          "description": "Required if the policy is to be used with Traffic Director. For Application Load Balancers it must be empty. Defines the mechanism to obtain the Certificate Authority certificate to validate the client certificate.",
          "type": "array"
        },
        "clientValidationTrustConfig": {
          "description": "Reference to the TrustConfig from certificatemanager.googleapis.com namespace. If specified, the chain validation will be performed against certificates configured in the given TrustConfig. Allowed only if the policy is to be used with Application Load Balancers.",
          "type": "string"
        },
        "clientValidationMode": {
          "type": "string",
          "enumDescriptions": [
            "Not allowed.",
            "Allow connection even if certificate chain validation of the client certificate failed or no client certificate was presented. The proof of possession of the private key is always checked if client certificate was presented. This mode requires the backend to implement processing of data extracted from a client certificate to authenticate the peer, or to reject connections if the client certificate fingerprint is missing.",
            "Require a client certificate and allow connection to the backend only if validation of the client certificate passed. If set, requires a reference to non-empty TrustConfig specified in `client_validation_trust_config`."
          ],
          "enum": [
            "CLIENT_VALIDATION_MODE_UNSPECIFIED",
            "ALLOW_INVALID_OR_MISSING_CLIENT_CERT",
            "REJECT_INVALID"
          ],
          "description": "When the client presents an invalid certificate or no certificate to the load balancer, the `client_validation_mode` specifies how the client connection is handled. Required if the policy is to be used with the Application Load Balancers. For Traffic Director it must be empty."
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      },
      "type": "object"
    },
    "WildfireInlineMlSettings": {
      "id": "WildfireInlineMlSettings",
      "description": "Defines the settings for WildFire Inline ML analysis.",
      "properties": {
        "inlineMlConfigs": {
          "items": {
            "$ref": "WildfireInlineMlSettingsInlineMlConfig"
          },
          "description": "Optional. List of Inline ML configs to enable in WildFire Inline ML analysis.",
          "type": "array"
        },
        "fileExceptions": {
          "type": "array",
          "description": "Optional. List of files to exclude from WildFire Inline ML analysis.",
          "items": {
            "$ref": "WildfireInlineMlFileException"
          }
        }
      },
      "type": "object"
    },
    "AuthzPolicyAuthzRuleIpBlock": {
      "type": "object",
      "id": "AuthzPolicyAuthzRuleIpBlock",
      "description": "Represents a range of IP Addresses.",
      "properties": {
        "prefix": {
          "type": "string",
          "description": "Required. The address prefix."
        },
        "length": {
          "description": "Required. The length of the address range.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AuthzPolicyAuthzRuleRequestResource": {
      "type": "object",
      "id": "AuthzPolicyAuthzRuleRequestResource",
      "description": "Describes the properties of a client VM resource accessing the internal application load balancers.",
      "properties": {
        "tagValueIdSet": {
          "description": "Optional. A list of resource tag value permanent IDs to match against the resource manager tags value associated with the source VM of a request.",
          "$ref": "AuthzPolicyAuthzRuleRequestResourceTagValueIdSet"
        },
        "iamServiceAccount": {
          "description": "Optional. An IAM service account to match against the source service account of the VM sending the request.",
          "$ref": "AuthzPolicyAuthzRuleStringMatch"
        }
      }
    },
    "WildfireInlineMlSettingsInlineMlConfig": {
      "type": "object",
      "id": "WildfireInlineMlSettingsInlineMlConfig",
      "description": "Configuration for WildFire Inline ML analysis per file type.",
      "properties": {
        "fileType": {
          "type": "string",
          "enumDescriptions": [
            "Inline ML config not specified.",
            "Enable machine learning engine to dynamically detect malicious PE files.",
            "Enable machine learning engine to dynamically identify malicious PowerShell scripts with known length.",
            "Enable machine learning engine to dynamically identify malicious PowerShell script without known length.",
            "Enable machine learning engine to dynamically detect malicious ELF files.",
            "Enable machine learning engine to dynamically detect malicious MSOffice (97-03) files.",
            "Enable machine learning engine to dynamically detect malicious Shell files.",
            "Enable machine learning engine to dynamically detect malicious Open Office XML files.",
            "Enable machine learning engine to dynamically detect malicious Mach-O files."
          ],
          "enum": [
            "INLINE_ML_CONFIG_UNSPECIFIED",
            "WINDOWS_EXECUTABLE",
            "POWERSHELL_SCRIPT1",
            "POWERSHELL_SCRIPT2",
            "ELF",
            "MS_OFFICE",
            "SHELL",
            "OOXML",
            "MACHO"
          ],
          "description": "Required. File type to configure Inline ML for."
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "Inline ML threat action not specified.",
            "Disable WildFire Inline ML for the associated file type.",
            "Enable WildFire Inline ML for the associated file type. Overrides any protocol level settings with action stricter than ALERT to ALERT so that the malicious files detected generate a threat log to the consumer project but are not blocked.",
            "Enable WildFire Inline ML for the associated file type, malicious files detected will be blocked."
          ],
          "enum": [
            "INLINE_ML_ACTION_UNSPECIFIED",
            "DISABLE",
            "ALERT",
            "ENABLE"
          ],
          "description": "Required. Action to take when a threat is detected using Inline ML."
        }
      }
    },
    "AuthzPolicyCustomProvider": {
      "id": "AuthzPolicyCustomProvider",
      "description": "Allows delegating authorization decisions to Cloud IAP or to Service Extensions.",
      "properties": {
        "cloudIap": {
          "description": "Optional. Delegates authorization decisions to Cloud IAP. Applicable only for managed load balancers. Enabling Cloud IAP at the AuthzPolicy level is not compatible with Cloud IAP settings in the BackendService. Enabling IAP in both places will result in request failure. Ensure that IAP is enabled in either the AuthzPolicy or the BackendService but not in both places.",
          "$ref": "AuthzPolicyCustomProviderCloudIap"
        },
        "authzExtension": {
          "description": "Optional. Delegate authorization decision to user authored Service Extension. Only one of cloudIap or authzExtension can be specified.",
          "$ref": "AuthzPolicyCustomProviderAuthzExtension"
        }
      },
      "type": "object"
    },
    "AuthzPolicyAuthzRuleToRequestOperation": {
      "id": "AuthzPolicyAuthzRuleToRequestOperation",
      "description": "Describes properties of one or more targets of a request.",
      "properties": {
        "mcp": {
          "description": "Optional. Defines the MCP protocol attributes to match on. If the MCP payload in the request body cannot be successfully parsed, the request will be denied. This field can be set only for AuthzPolicies targeting AgentGateway resources.",
          "$ref": "AuthzPolicyAuthzRuleToRequestOperationMCP"
        },
        "snis": {
          "description": "Optional. A list of SNIs to match against. The match can be one of exact, prefix, suffix, or contains (substring match). If there is no SNI (i.e. plaintext HTTP traffic), the request will be denied. Matches are always case sensitive unless the ignoreCase is set. Limited to 10 SNIs per Authorization Policy.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          }
        },
        "headerSet": {
          "description": "Optional. A list of headers to match against in http header.",
          "$ref": "AuthzPolicyAuthzRuleToRequestOperationHeaderSet"
        },
        "hosts": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          },
          "description": "Optional. A list of HTTP Hosts to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 hosts per Authorization Policy.",
          "type": "array"
        },
        "paths": {
          "type": "array",
          "description": "Optional. A list of paths to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 paths per Authorization Policy. Note that this path match includes the query parameters. For gRPC services, this should be a fully-qualified name of the form /package.service/method.",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          }
        },
        "methods": {
          "description": "Optional. A list of HTTP methods to match against. Each entry must be a valid HTTP method name (GET, PUT, POST, HEAD, PATCH, DELETE, OPTIONS). It only allows exact match and is always case sensitive. Limited to 10 methods per Authorization Policy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "DnsThreatDetector": {
      "id": "DnsThreatDetector",
      "description": "A DNS threat detector sends DNS query logs to a _provider_ that then analyzes the logs to identify threat events in the DNS queries. By default, all VPC networks in your projects are included. You can exclude specific networks by supplying `excluded_networks`.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. Name of the DnsThreatDetector resource."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Any labels associated with the DnsThreatDetector, listed as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "excludedNetworks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of network resource names which aren't monitored by this DnsThreatDetector. Example: `projects/PROJECT_ID/global/networks/NETWORK_NAME`."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create time stamp."
        },
        "provider": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified provider.",
            "The Infoblox DNS threat detector provider."
          ],
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "INFOBLOX"
          ],
          "description": "Required. The provider used for DNS threat analysis."
        },
        "updateTime": {
          "description": "Output only. Update time stamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ListMirroringEndpointGroupsResponse": {
      "id": "ListMirroringEndpointGroupsResponse",
      "description": "Response message for ListMirroringEndpointGroups.",
      "properties": {
        "mirroringEndpointGroups": {
          "items": {
            "$ref": "MirroringEndpointGroup"
          },
          "type": "array",
          "description": "The endpoint groups from the specified parent."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
        }
      },
      "type": "object"
    },
    "CertificateProviderInstance": {
      "id": "CertificateProviderInstance",
      "description": "Specification of a TLS certificate provider instance. Workloads may have one or more CertificateProvider instances (plugins) and one of them is enabled and configured by specifying this message. Workloads use the values from this message to locate and load the CertificateProvider instance configuration.",
      "properties": {
        "pluginInstance": {
          "description": "Required. Plugin instance name, used to locate and load CertificateProvider instance configuration. Set to \"google_cloud_private_spiffe\" to use Certificate Authority Service certificate provider instance.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MirroringDeployment": {
      "type": "object",
      "id": "MirroringDeployment",
      "description": "A deployment represents a zonal mirroring backend ready to accept GENEVE-encapsulated replica traffic, e.g. a zonal instance group fronted by an internal passthrough load balancer. Deployments are always part of a global deployment group which represents a global mirroring service.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "description": "Output only. The current state of the deployment. See https://google.aip.dev/216.",
          "readOnly": true,
          "type": "string"
        },
        "forwardingRule": {
          "type": "string",
          "description": "Required. Immutable. The regional forwarding rule that fronts the mirroring collectors, for example: `projects/123456789/regions/us-central1/forwardingRules/my-rule`. See https://google.aip.dev/124."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources."
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. linking a new association to the parent group). See https://google.aip.dev/128."
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description of the deployment. Used as additional context for the deployment."
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this deployment, for example: `projects/123456789/locations/us-central1-a/mirroringDeployments/my-dep`. See https://google.aip.dev/122 for more details."
        },
        "mirroringDeploymentGroup": {
          "type": "string",
          "description": "Required. Immutable. The deployment group that this deployment is a part of, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "ListSecurityProfilesResponse": {
      "id": "ListSecurityProfilesResponse",
      "description": "Response returned by the ListSecurityProfiles method.",
      "properties": {
        "securityProfiles": {
          "items": {
            "$ref": "SecurityProfile"
          },
          "type": "array",
          "description": "List of SecurityProfile resources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "type": "object"
    },
    "CustomInterceptProfile": {
      "id": "CustomInterceptProfile",
      "description": "CustomInterceptProfile defines in-band integration behavior (intercept). It is used by firewall rules with an APPLY_SECURITY_PROFILE_GROUP action.",
      "properties": {
        "interceptEndpointGroup": {
          "type": "string",
          "description": "Required. The target InterceptEndpointGroup. When a firewall rule with this security profile attached matches a packet, the packet will be intercepted to the location-local target in this group."
        }
      },
      "type": "object"
    },
    "ListClientTlsPoliciesResponse": {
      "type": "object",
      "id": "ListClientTlsPoliciesResponse",
      "description": "Response returned by the ListClientTlsPolicies method.",
      "properties": {
        "clientTlsPolicies": {
          "items": {
            "$ref": "ClientTlsPolicy"
          },
          "description": "List of ClientTlsPolicy resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "ListGatewaySecurityPolicyRulesResponse": {
      "type": "object",
      "id": "ListGatewaySecurityPolicyRulesResponse",
      "description": "Response returned by the ListGatewaySecurityPolicyRules method.",
      "properties": {
        "gatewaySecurityPolicyRules": {
          "items": {
            "$ref": "GatewaySecurityPolicyRule"
          },
          "type": "array",
          "description": "List of GatewaySecurityPolicyRule resources."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AuthzPolicy": {
      "type": "object",
      "id": "AuthzPolicy",
      "description": "`AuthzPolicy` is a resource that allows to forward traffic to a callout backend designed to scan the traffic for security purposes.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Identifier. Name of the `AuthzPolicy` resource in the following format: `projects/{project}/locations/{location}/authzPolicies/{authz_policy}`."
        },
        "target": {
          "description": "Required. Specifies the set of resources to which this policy should be applied to.",
          "$ref": "AuthzPolicyTarget"
        },
        "httpRules": {
          "items": {
            "$ref": "AuthzPolicyAuthzRule"
          },
          "description": "Optional. A list of authorization HTTP rules to match against the incoming request. A policy match occurs when at least one HTTP rule matches the request or when no HTTP rules are specified in the policy. At least one HTTP Rule is required for Allow or Deny Action. Limited to 5 rules.",
          "type": "array"
        },
        "policyProfile": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified policy profile.",
            "Applies to request authorization. `CUSTOM` authorization policies with Authz extensions will be allowed with `EXT_AUTHZ_GRPC` or `EXT_PROC_GRPC` protocols. Extensions are invoked only for request header events.",
            "Applies to content security, sanitization, etc. Only `CUSTOM` action is allowed in this policy profile. AuthzExtensions in the custom provider must support `EXT_PROC_GRPC` protocol only and be capable of receiving all `EXT_PROC_GRPC` events (REQUEST_HEADERS, REQUEST_BODY, REQUEST_TRAILERS, RESPONSE_HEADERS, RESPONSE_BODY, RESPONSE_TRAILERS) with `FULL_DUPLEX_STREAMED` body send mode."
          ],
          "enum": [
            "POLICY_PROFILE_UNSPECIFIED",
            "REQUEST_AUTHZ",
            "CONTENT_AUTHZ"
          ],
          "description": "Optional. Immutable. Defines the type of authorization being performed. If not specified, `REQUEST_AUTHZ` is applied. This field cannot be changed once AuthzPolicy is created."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "customProvider": {
          "description": "Optional. Required if the action is `CUSTOM`. Allows delegating authorization decisions to Cloud IAP or to Service Extensions. One of `cloudIap` or `authzExtension` must be specified.",
          "$ref": "AuthzPolicyCustomProvider"
        },
        "action": {
          "description": "Required. Can be one of `ALLOW`, `DENY`, `CUSTOM`. When the action is `CUSTOM`, `customProvider` must be specified. When the action is `ALLOW`, only requests matching the policy will be allowed. When the action is `DENY`, only requests matching the policy will be denied. When a request arrives, the policies are evaluated in the following order: 1. If there is a `CUSTOM` policy that matches the request, the `CUSTOM` policy is evaluated using the custom authorization providers and the request is denied if the provider rejects the request. 2. If there are any `DENY` policies that match the request, the request is denied. 3. If there are no `ALLOW` policies for the resource or if any of the `ALLOW` policies match the request, the request is allowed. 4. Else the request is denied by default if none of the configured AuthzPolicies with `ALLOW` action match the request.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified action.",
            "Allow request to pass through to the backend.",
            "Deny the request and return a HTTP 404 to the client.",
            "Delegate the authorization decision to an external authorization engine."
          ],
          "enum": [
            "AUTHZ_ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY",
            "CUSTOM"
          ]
        },
        "networkRules": {
          "items": {
            "$ref": "AuthzPolicyAuthzRule"
          },
          "type": "array",
          "description": "Optional. A list of authorization network rules to match against the incoming request. A policy match occurs when at least one network rule matches the request. At least one network rule is required for Allow or Deny Action if no HTTP rules are provided. Network rules are mutually exclusive with HTTP rules. Limited to 5 rules."
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of labels associated with the `AuthzPolicy` resource. The format must comply with [the following requirements](/compute/docs/labeling-resources#requirements)."
        }
      }
    },
    "GoogleIamV1Binding": {
      "type": "object",
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "ListMirroringDeploymentGroupsResponse": {
      "id": "ListMirroringDeploymentGroupsResponse",
      "description": "Response message for ListMirroringDeploymentGroups.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        },
        "mirroringDeploymentGroups": {
          "description": "The deployment groups from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "MirroringDeploymentGroup"
          }
        }
      },
      "type": "object"
    },
    "ClientTlsPolicy": {
      "id": "ClientTlsPolicy",
      "description": "ClientTlsPolicy is a resource that specifies how a client should authenticate connections to backends of a service. This resource itself does not affect configuration unless it is attached to a backend service resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the ClientTlsPolicy resource. It matches the pattern `projects/{project}/locations/{location}/clientTlsPolicies/{client_tls_policy}`"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of label tags associated with the resource."
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "clientCertificate": {
          "description": "Optional. Defines a mechanism to provision client identity (public and private keys) for peer to peer authentication. The presence of this dictates mTLS.",
          "$ref": "GoogleCloudNetworksecurityV1beta1CertificateProvider"
        },
        "serverValidationCa": {
          "type": "array",
          "description": "Optional. Defines the mechanism to obtain the Certificate Authority certificate to validate the server certificate. If empty, client does not validate the server certificate.",
          "items": {
            "$ref": "ValidationCA"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "sni": {
          "type": "string",
          "description": "Optional. Server Name Indication string to present to the server during TLS handshake. E.g: \"secure.example.com\"."
        }
      },
      "type": "object"
    },
    "ListBackendAuthenticationConfigsResponse": {
      "id": "ListBackendAuthenticationConfigsResponse",
      "description": "Response returned by the ListBackendAuthenticationConfigs method.",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "backendAuthenticationConfigs": {
          "description": "List of BackendAuthenticationConfig resources.",
          "type": "array",
          "items": {
            "$ref": "BackendAuthenticationConfig"
          }
        }
      },
      "type": "object"
    },
    "ListTlsInspectionPoliciesResponse": {
      "id": "ListTlsInspectionPoliciesResponse",
      "description": "Response returned by the ListTlsInspectionPolicies method.",
      "properties": {
        "tlsInspectionPolicies": {
          "description": "List of TlsInspectionPolicies resources.",
          "type": "array",
          "items": {
            "$ref": "TlsInspectionPolicy"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "SecurityProfile": {
      "type": "object",
      "id": "SecurityProfile",
      "description": "SecurityProfile is a resource that defines the behavior for one of many ProfileTypes.",
      "properties": {
        "customMirroringProfile": {
          "description": "The custom Packet Mirroring v2 configuration for the SecurityProfile.",
          "$ref": "CustomMirroringProfile"
        },
        "urlFilteringProfile": {
          "description": "The URL filtering configuration for the SecurityProfile.",
          "$ref": "UrlFilteringProfile"
        },
        "updateTime": {
          "description": "Output only. Last resource update timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "type": {
          "description": "Immutable. The single ProfileType that the SecurityProfile resource configures.",
          "type": "string",
          "enumDescriptions": [
            "Profile type not specified.",
            "Profile type for threat prevention.",
            "Profile type for packet mirroring v2",
            "Profile type for TPPI.",
            "Profile type for URL filtering.",
            "Profile type for WildFire Analysis."
          ],
          "enum": [
            "PROFILE_TYPE_UNSPECIFIED",
            "THREAT_PREVENTION",
            "CUSTOM_MIRRORING",
            "CUSTOM_INTERCEPT",
            "URL_FILTERING",
            "WILDFIRE_ANALYSIS"
          ]
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. Name of the SecurityProfile resource. It matches pattern `projects|organizations/*/locations/{location}/securityProfiles/{security_profile}`."
        },
        "description": {
          "description": "Optional. An optional description of the profile. Max length 512 characters.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource creation timestamp."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "customInterceptProfile": {
          "description": "The custom TPPI configuration for the SecurityProfile.",
          "$ref": "CustomInterceptProfile"
        },
        "threatPreventionProfile": {
          "description": "The threat prevention configuration for the SecurityProfile.",
          "$ref": "ThreatPreventionProfile"
        },
        "wildfireAnalysisProfile": {
          "description": "The WildFire Analysis configurations for SecurityProfile.",
          "$ref": "WildfireAnalysisProfile"
        }
      }
    },
    "ListDnsThreatDetectorsResponse": {
      "type": "object",
      "id": "ListDnsThreatDetectorsResponse",
      "description": "The response message to requesting a list of DnsThreatDetectors.",
      "properties": {
        "dnsThreatDetectors": {
          "type": "array",
          "description": "The list of DnsThreatDetector resources.",
          "items": {
            "$ref": "DnsThreatDetector"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token`, to retrieve the next page.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable `DnsThreatDetector` resources.",
          "type": "array"
        }
      }
    },
    "MirroringEndpointGroupConnectedDeploymentGroup": {
      "type": "object",
      "id": "MirroringEndpointGroupConnectedDeploymentGroup",
      "description": "The endpoint group's view of a connected deployment group.",
      "properties": {
        "locations": {
          "readOnly": true,
          "items": {
            "$ref": "MirroringLocation"
          },
          "description": "Output only. The list of locations where the deployment group is present.",
          "type": "array"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The connected deployment group's resource name, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        }
      }
    },
    "ListInterceptEndpointGroupsResponse": {
      "id": "ListInterceptEndpointGroupsResponse",
      "description": "Response message for ListInterceptEndpointGroups.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
        },
        "interceptEndpointGroups": {
          "items": {
            "$ref": "InterceptEndpointGroup"
          },
          "description": "The endpoint groups from the specified parent.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "FirewallEndpointAssociation": {
      "id": "FirewallEndpointAssociation",
      "description": "Message describing Association object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Not set.",
            "Being created.",
            "Active and ready for traffic.",
            "Being deleted.",
            "Down or in an error state.",
            "The project that housed the association has been deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "ORPHAN"
          ],
          "description": "Output only. Current state of the association.",
          "type": "string",
          "readOnly": true
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the association is disabled. True indicates that traffic won't be intercepted"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key value pairs"
        },
        "tlsInspectionPolicy": {
          "type": "string",
          "description": "Optional. The URL of the TlsInspectionPolicy that is being associated."
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Whether reconciling is in progress, recommended per https://google.aip.dev/128.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Create time stamp",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "network": {
          "description": "Required. The URL of the network that is being associated.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. name of resource"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Update time stamp"
        },
        "firewallEndpoint": {
          "type": "string",
          "description": "Required. The URL of the FirewallEndpoint that is being associated."
        }
      },
      "type": "object"
    },
    "InterceptEndpointGroupAssociationDetails": {
      "id": "InterceptEndpointGroupAssociationDetails",
      "description": "The endpoint group's view of a connected association.",
      "properties": {
        "network": {
          "readOnly": true,
          "description": "Output only. The associated network, for example: projects/123456789/global/networks/my-network. See https://google.aip.dev/124.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Most recent known state of the association.",
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ]
        },
        "name": {
          "description": "Output only. The connected association's resource name, for example: `projects/123456789/locations/global/interceptEndpointGroupAssociations/my-ega`. See https://google.aip.dev/124.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "CloneAddressGroupItemsRequest": {
      "type": "object",
      "id": "CloneAddressGroupItemsRequest",
      "description": "Request used by the CloneAddressGroupItems method.",
      "properties": {
        "sourceAddressGroup": {
          "description": "Required. Source address group to clone items from.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "ListFirewallEndpointAssociationsResponse": {
      "type": "object",
      "id": "ListFirewallEndpointAssociationsResponse",
      "description": "Message for response to listing Associations",
      "properties": {
        "firewallEndpointAssociations": {
          "description": "The list of Association",
          "type": "array",
          "items": {
            "$ref": "FirewallEndpointAssociation"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InterceptDeploymentGroupDeployment": {
      "type": "object",
      "id": "InterceptDeploymentGroupDeployment",
      "description": "A deployment belonging to this deployment group.",
      "properties": {
        "name": {
          "description": "Output only. The name of the Intercept Deployment, in the format: `projects/{project}/locations/{location}/interceptDeployments/{intercept_deployment}`.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. Most recent known state of the deployment.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListMirroringDeploymentsResponse": {
      "type": "object",
      "id": "ListMirroringDeploymentsResponse",
      "description": "Response message for ListMirroringDeployments.",
      "properties": {
        "mirroringDeployments": {
          "description": "The deployments from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "MirroringDeployment"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Locations that could not be reached. See https://google.aip.dev/217 for more details."
        }
      }
    },
    "AddressGroup": {
      "id": "AddressGroup",
      "description": "AddressGroup is a resource that specifies how a collection of IP/DNS used in Firewall Policy.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the AddressGroup resource. It matches pattern `projects/*/locations/{location}/addressGroups/`."
        },
        "items": {
          "type": "array",
          "description": "Optional. List of items.",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "IP v4 ranges.",
            "IP v6 ranges."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ],
          "description": "Required. The type of the Address Group. Possible values are \"IPv4\" or \"IPV6\"."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the AddressGroup resource.",
          "type": "object"
        },
        "capacity": {
          "description": "Required. Capacity of the Address Group",
          "type": "integer",
          "format": "int32"
        },
        "selfLink": {
          "readOnly": true,
          "description": "Output only. Server-defined fully-qualified URL for this resource.",
          "type": "string"
        },
        "purpose": {
          "description": "Optional. List of supported purposes of the Address Group.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. Should never happen.",
              "Address Group is distributed to VMC, and is usable in Firewall Policies and other systems that rely on VMC.",
              "Address Group is usable in Cloud Armor."
            ],
            "enum": [
              "PURPOSE_UNSPECIFIED",
              "DEFAULT",
              "CLOUD_ARMOR"
            ]
          }
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WildfireThreatOverride": {
      "id": "WildfireThreatOverride",
      "description": "Defines what action to take for a specific WildFire threat_id match.",
      "properties": {
        "action": {
          "type": "string",
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "enum": [
            "WILDFIRE_THREAT_ACTION_UNSPECIFIED",
            "WILDFIRE_DEFAULT_ACTION",
            "WILDFIRE_ALLOW",
            "WILDFIRE_ALERT",
            "WILDFIRE_DENY"
          ],
          "description": "Required. Threat action override."
        },
        "threatId": {
          "description": "Required. Threat ID to match.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuthzPolicyTarget": {
      "type": "object",
      "id": "AuthzPolicyTarget",
      "description": "Specifies the set of targets to which this policy should be applied to.",
      "properties": {
        "loadBalancingScheme": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Signifies that this is used for Regional internal or Cross-region internal Application Load Balancing.",
            "Signifies that this is used for Global external or Regional external Application Load Balancing.",
            "Signifies that this is used for Cloud Service Mesh. Meant for use by CSM GKE controller only."
          ],
          "enum": [
            "LOAD_BALANCING_SCHEME_UNSPECIFIED",
            "INTERNAL_MANAGED",
            "EXTERNAL_MANAGED",
            "INTERNAL_SELF_MANAGED"
          ],
          "description": "Optional. All gateways and forwarding rules referenced by this policy and extensions must share the same load balancing scheme. Required only when targeting forwarding rules. If targeting Secure Web Proxy, this field must be `INTERNAL_MANAGED` or not specified. Must not be specified when targeting Agent Gateway. Supported values: `INTERNAL_MANAGED` and `EXTERNAL_MANAGED`. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service)."
        },
        "resources": {
          "type": "array",
          "description": "Required. A list of references to the Forwarding Rules, Secure Web Proxy Gateways, or Agent Gateways on which this policy will be applied.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListInterceptEndpointGroupAssociationsResponse": {
      "id": "ListInterceptEndpointGroupAssociationsResponse",
      "description": "Response message for ListInterceptEndpointGroupAssociations.",
      "properties": {
        "interceptEndpointGroupAssociations": {
          "type": "array",
          "description": "The associations from the specified parent.",
          "items": {
            "$ref": "InterceptEndpointGroupAssociation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "MirroringEndpointGroupAssociation": {
      "type": "object",
      "id": "MirroringEndpointGroupAssociation",
      "description": "An endpoint group association represents a link between a network and an endpoint group in the organization. Creating an association creates the networking infrastructure linking the network to the endpoint group, but does not enable mirroring by itself. To enable mirroring, the user must also create a network firewall policy containing mirroring rules and associate it with the network.",
      "properties": {
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Immutable. The VPC network that is associated. for example: `projects/123456789/global/networks/my-network`. See https://google.aip.dev/124."
        },
        "locationsDetails": {
          "readOnly": true,
          "items": {
            "$ref": "MirroringEndpointGroupAssociationLocationDetails"
          },
          "type": "array",
          "deprecated": true,
          "description": "Output only. The list of locations where the association is present. This information is retrieved from the linked endpoint group, and not configured as part of the association itself."
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. adding a new location to the target deployment group). See https://google.aip.dev/128.",
          "type": "boolean"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "description": "Output only. Current state of the endpoint group association."
        },
        "locations": {
          "description": "Output only. The list of locations where the association is configured. This information is retrieved from the linked endpoint group.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "MirroringLocation"
          }
        },
        "mirroringEndpointGroup": {
          "description": "Immutable. The endpoint group that this association is connected to, for example: `projects/123456789/locations/global/mirroringEndpointGroups/my-eg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "networkCookie": {
          "readOnly": true,
          "format": "uint32",
          "description": "Output only. Identifier used by the data-path. See the NSI GENEVE format for more details: https://docs.cloud.google.com/network-security-integration/docs/understand-geneve#network_id",
          "type": "integer"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this endpoint group association, for example: `projects/123456789/locations/global/mirroringEndpointGroupAssociations/my-eg-association`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        }
      }
    },
    "MirroringEndpointGroupAssociationDetails": {
      "id": "MirroringEndpointGroupAssociationDetails",
      "description": "The endpoint group's view of a connected association.",
      "properties": {
        "network": {
          "description": "Output only. The associated network, for example: projects/123456789/global/networks/my-network. See https://google.aip.dev/124.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. Most recent known state of the association.",
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The connected association's resource name, for example: `projects/123456789/locations/global/mirroringEndpointGroupAssociations/my-ega`. See https://google.aip.dev/124.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables."
        }
      },
      "type": "object"
    },
    "AuthzPolicyCustomProviderCloudIap": {
      "id": "AuthzPolicyCustomProviderCloudIap",
      "description": "Optional. Delegates authorization decisions to Cloud IAP. Applicable only for managed load balancers. Enabling Cloud IAP at the AuthzPolicy level is not compatible with Cloud IAP settings in the BackendService. Enabling IAP in both places will result in request failure. Ensure that IAP is enabled in either the AuthzPolicy or the BackendService but not in both places.",
      "properties": {},
      "type": "object"
    },
    "TlsInspectionPolicy": {
      "id": "TlsInspectionPolicy",
      "description": "The TlsInspectionPolicy resource contains references to CA pools in Certificate Authority Service and associated metadata.",
      "properties": {
        "caPool": {
          "type": "string",
          "description": "Required. A CA pool resource used to issue interception certificates. The CA pool string has a relative resource path following the form \"projects/{project}/locations/{location}/caPools/{ca_pool}\"."
        },
        "customTlsFeatures": {
          "type": "array",
          "description": "Optional. List of custom TLS cipher suites selected. This field is valid only if the selected tls_feature_profile is CUSTOM. The compute.SslPoliciesService.ListAvailableFeatures method returns the set of features that can be specified in this list. Note that Secure Web Proxy does not yet honor this field.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "trustConfig": {
          "type": "string",
          "description": "Optional. A TrustConfig resource used when making a connection to the TLS server. This is a relative resource path following the form \"projects/{project}/locations/{location}/trustConfigs/{trust_config}\". This is necessary to intercept TLS connections to servers with certificates signed by a private CA or self-signed certificates. Note that Secure Web Proxy does not yet honor this field."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Required. Name of the resource. Name is of the form projects/{project}/locations/{location}/tlsInspectionPolicies/{tls_inspection_policy} tls_inspection_policy should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "minTlsVersion": {
          "description": "Optional. Minimum TLS version that the firewall should use when negotiating connections with both clients and servers. If this is not set, then the default value is to allow the broadest set of clients and servers (TLS 1.0 or higher). Setting this to more restrictive values may improve security, but may also prevent the firewall from connecting to some clients or servers. Note that Secure Web Proxy does not yet honor this field.",
          "type": "string",
          "enumDescriptions": [
            "Indicates no TLS version was specified.",
            "TLS 1.0",
            "TLS 1.1",
            "TLS 1.2",
            "TLS 1.3"
          ],
          "enum": [
            "TLS_VERSION_UNSPECIFIED",
            "TLS_1_0",
            "TLS_1_1",
            "TLS_1_2",
            "TLS_1_3"
          ]
        },
        "excludePublicCaSet": {
          "type": "boolean",
          "description": "Optional. If FALSE (the default), use our default set of public CAs in addition to any CAs specified in trust_config. These public CAs are currently based on the Mozilla Root Program and are subject to change over time. If TRUE, do not accept our default set of public CAs. Only CAs specified in trust_config will be accepted. This defaults to FALSE (use public CAs in addition to trust_config) for backwards compatibility, but trusting public root CAs is *not recommended* unless the traffic in question is outbound to public web servers. When possible, prefer setting this to \"false\" and explicitly specifying trusted CAs and certificates in a TrustConfig. Note that Secure Web Proxy does not yet honor this field."
        },
        "tlsFeatureProfile": {
          "type": "string",
          "enumDescriptions": [
            "Indicates no profile was specified.",
            "Compatible profile. Allows the broadest set of clients, even those which support only out-of-date SSL features to negotiate with the TLS inspection proxy.",
            "Modern profile. Supports a wide set of SSL features, allowing modern clients to negotiate SSL with the TLS inspection proxy.",
            "Restricted profile. Supports a reduced set of SSL features, intended to meet stricter compliance requirements.",
            "Custom profile. Allow only the set of allowed SSL features specified in the custom_features field of SslPolicy."
          ],
          "enum": [
            "PROFILE_UNSPECIFIED",
            "PROFILE_COMPATIBLE",
            "PROFILE_MODERN",
            "PROFILE_RESTRICTED",
            "PROFILE_CUSTOM"
          ],
          "description": "Optional. The selected Profile. If this is not set, then the default value is to allow the broadest set of clients and servers (\"PROFILE_COMPATIBLE\"). Setting this to more restrictive values may improve security, but may also prevent the TLS inspection proxy from connecting to some clients or servers. Note that Secure Web Proxy does not yet honor this field."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated."
        }
      },
      "type": "object"
    },
    "SACAttachment": {
      "id": "SACAttachment",
      "description": "Represents a Secure Access Connect (SAC) attachment resource. A Secure Access Connect attachment enables NCC Gateway to process traffic with an SSE product.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name, in the form `projects/{project}/locations/{location}/sacAttachments/{sac_attachment}`."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the attachment was last updated."
        },
        "country": {
          "type": "string",
          "description": "Optional. Case-insensitive ISO-3166 alpha-2 country code used for localization. Only valid for Symantec attachments."
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Case-sensitive tzinfo identifier used for localization. Only valid for Symantec attachments."
        },
        "state": {
          "description": "Output only. State of the attachment.",
          "enumDescriptions": [
            "No state specified. This should not be used.",
            "Has never been attached to a partner.",
            "Currently attached to a partner.",
            "Was once attached to a partner but has been detached."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_PARTNER_ATTACHMENT",
            "PARTNER_ATTACHED",
            "PARTNER_DETACHED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "symantecOptions": {
          "description": "Optional. Configuration required for Symantec attachments.",
          "$ref": "SACAttachmentSACAttachmentSymantecOptions"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the attachment was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "sacRealm": {
          "type": "string",
          "description": "Required. SAC Realm which owns the attachment. This can be input as an ID or a full resource name. The output always has the form `projects/{project_number}/locations/{location}/sacRealms/{sac_realm}`."
        },
        "nccGateway": {
          "description": "Required. NCC Gateway associated with the attachment. This can be input as an ID or a full resource name. The output always has the form `projects/{project_number}/locations/{location}/spokes/{ncc_gateway}`.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Optional list of labels applied to the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      }
    },
    "FirewallEndpointWildfireSettingsWildfireInlineCloudAnalysisSettings": {
      "type": "object",
      "id": "FirewallEndpointWildfireSettingsWildfireInlineCloudAnalysisSettings",
      "description": "Settings for WildFire inline cloud analysis.",
      "properties": {
        "timeoutAction": {
          "type": "string",
          "enumDescriptions": [
            "WildFire inline cloud analysis timeout action not specified.",
            "The files that timed out will be allowed to transmit.",
            "The files that timed out will be denied to transmit."
          ],
          "enum": [
            "WILDFIRE_INLINE_CLOUD_ANALYSIS_TIMEOUT_ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "description": "Optional. Action to take when WildFire inline cloud analysis times out. Default value is ALLOW."
        },
        "maxAnalysisDuration": {
          "description": "Optional. Timeout in milliseconds on a file being held while WildFire inline cloud analysis is performed. Value between 1 to 240000 is valid. Default value is 30000.",
          "type": "string",
          "format": "google-duration"
        },
        "submissionTimeoutLoggingDisabled": {
          "type": "boolean",
          "description": "Optional. Whether to disable WildFire submission log generation for files that timeout during WildFire inline cloud analysis."
        }
      }
    },
    "WildfireSubmissionRuleCustomFileTypes": {
      "id": "WildfireSubmissionRuleCustomFileTypes",
      "description": "The options to submit a custom list of file types for scan.",
      "properties": {
        "fileTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "File type not specified.",
              "Android Application Package (APK) files.",
              "Roshal Archive (RAR) and 7-Zip (7z) archive files.",
              "HTTP/HTTPS links contained in SMTP and POP3 email messages.",
              "Adobe Flash applets and Flash content embedded in web pages.",
              "Java applets (JAR/class files types).",
              "Executable and Linkable Format (ELF) files.",
              "Files used by Microsoft Office.",
              "Portable Document Format (PDF) files.",
              "Portable Executable (PE) files.",
              "Various script files. Jscript (JS), VBScript (VBS), PowerShell Scripts (PS1), Batch (BAT), HTML Application (HTA)."
            ],
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "APK",
              "ARCHIVE",
              "EMAIL_LINK",
              "FLASH",
              "JAR",
              "LINUX",
              "MS_OFFICE",
              "PDF",
              "PE",
              "SCRIPT"
            ]
          },
          "description": "Required. File types to be submitted for WildFire analysis.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "FirewallEndpointEndpointSettings": {
      "type": "object",
      "id": "FirewallEndpointEndpointSettings",
      "description": "Settings for the endpoint.",
      "properties": {
        "jumboFramesEnabled": {
          "description": "Optional. Immutable. Indicates whether Jumbo Frames are enabled. Default value is false.",
          "type": "boolean"
        },
        "httpPartialResponseBlocked": {
          "type": "boolean",
          "description": "Optional. Whether to block HTTP partial responses for the endpoint. When this is true, resumption of blocked malicious HTTP file downloads will be blocked by the firewall. False provides maximum availability, true provides maximum security."
        },
        "contentCloudRegion": {
          "description": "Optional. The content cloud region of the endpoint.",
          "type": "string",
          "enumDescriptions": [
            "PAN content cloud region not specified.",
            "us.hawkeye.services-edge.paloaltonetworks.com",
            "APAC content cloud portal: apac.hawkeye.services-edge.paloaltonetworks.com",
            "India content cloud portal: in.hawkeye.services-edge.paloaltonetworks.com",
            "UK content cloud portal: uk.hawkeye.services-edge.paloaltonetworks.com",
            "France content cloud portal: fr.hawkeye.services-edge.paloaltonetworks.com",
            "Japan content cloud portal: jp.hawkeye.services-edge.paloaltonetworks.com",
            "Australia content cloud portal: au.hawkeye.services-edge.paloaltonetworks.com",
            "Canada content cloud portal: ca.hawkeye.services-edge.paloaltonetworks.com",
            "Switzerland content cloud portal: ch.hawkeye.services-edge.paloaltonetworks.com",
            "Netherlands content cloud portal: nl.hawkeye.services-edge.paloaltonetworks.com",
            "Indonesia content cloud portal: id.hawkeye.services-edge.paloaltonetworks.com",
            "Qatar content cloud portal: qa.hawkeye.services-edge.paloaltonetworks.com",
            "Taiwan content cloud portal: tw.hawkeye.services-edge.paloaltonetworks.com",
            "Poland content cloud portal: pl.hawkeye.services-edge.paloaltonetworks.com",
            "South Korea content cloud portal: kr.hawkeye.services-edge.paloaltonetworks.com",
            "Saudi Arabia content cloud portal: sa.hawkeye.services-edge.paloaltonetworks.com",
            "Italy content cloud portal: it.hawkeye.services-edge.paloaltonetworks.com"
          ],
          "enum": [
            "CONTENT_CLOUD_REGION_UNSPECIFIED",
            "US_CENTRAL",
            "APAC",
            "INDIA",
            "UK",
            "FRANCE",
            "JAPAN",
            "AUSTRALIA",
            "CANADA",
            "SWITZERLAND",
            "NETHERLANDS",
            "INDONESIA",
            "QATAR",
            "TAIWAN",
            "POLAND",
            "SOUTH_KOREA",
            "SAUDI_ARABIA",
            "ITALY"
          ]
        }
      }
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ListAddressGroupReferencesResponse": {
      "type": "object",
      "id": "ListAddressGroupReferencesResponse",
      "description": "Response of the ListAddressGroupReferences method.",
      "properties": {
        "addressGroupReferences": {
          "items": {
            "$ref": "ListAddressGroupReferencesResponseAddressGroupReference"
          },
          "description": "A list of references that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      }
    },
    "Rule": {
      "type": "object",
      "id": "Rule",
      "description": "Specification of rules.",
      "properties": {
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array",
          "description": "Optional. List of attributes for the traffic source. All of the sources must match. A source is a match if both principals and ip_blocks match. If not set, the action specified in the 'action' field will be applied without any rule checks for the source."
        },
        "destinations": {
          "description": "Optional. List of attributes for the traffic destination. All of the destinations must match. A destination is a match if a request matches all the specified hosts, ports, methods and headers. If not set, the action specified in the 'action' field will be applied without any rule checks for the destination.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        }
      }
    },
    "WildfireOverride": {
      "type": "object",
      "id": "WildfireOverride",
      "description": "Defines what action to take for WildFire threats per protocol.",
      "properties": {
        "protocol": {
          "type": "string",
          "enumDescriptions": [
            "Protocol not specified.",
            "SMTP protocol",
            "SMB protocol",
            "POP3 protocol",
            "IMAP protocol",
            "HTTP2 protocol",
            "HTTP protocol",
            "FTP protocol"
          ],
          "enum": [
            "WILDFIRE_PROTOCOL_UNSPECIFIED",
            "WILDFIRE_SMTP",
            "WILDFIRE_SMB",
            "WILDFIRE_POP3",
            "WILDFIRE_IMAP",
            "WILDFIRE_HTTP2",
            "WILDFIRE_HTTP",
            "WILDFIRE_FTP"
          ],
          "description": "Required. Protocol to match."
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "enum": [
            "WILDFIRE_THREAT_ACTION_UNSPECIFIED",
            "WILDFIRE_DEFAULT_ACTION",
            "WILDFIRE_ALLOW",
            "WILDFIRE_ALERT",
            "WILDFIRE_DENY"
          ],
          "description": "Required. Threat action override. For some threat types, only a subset of actions applies."
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Destination": {
      "type": "object",
      "id": "Destination",
      "description": "Specification of traffic destination attributes.",
      "properties": {
        "ports": {
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "description": "Required. List of destination ports to match. At least one port should match.",
          "type": "array"
        },
        "httpHeaderMatch": {
          "description": "Optional. Match against key:value pair in http header. Provides a flexible match based on HTTP headers, for potentially advanced use cases. At least one header should match. Avoid using header matches to make authorization decisions unless there is a strong guarantee that requests arrive through a trusted client or proxy.",
          "$ref": "HttpHeaderMatch"
        },
        "hosts": {
          "description": "Required. List of host names to match. Matched against the \":authority\" header in http requests. At least one host should match. Each host can be an exact match, or a prefix match (example \"mydomain.*\") or a suffix match (example \"*.myorg.com\") or a presence (any) match \"*\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "methods": {
          "type": "array",
[...]
