{
  "baseUrl": "https://networksecurity.googleapis.com/",
  "ownerName": "Google",
  "canonicalName": "NetworkSecurity",
  "rootUrl": "https://networksecurity.googleapis.com/",
  "name": "networksecurity",
  "title": "Network Security API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/networking",
  "mtlsRootUrl": "https://networksecurity.mtls.googleapis.com/",
  "version": "v1",
  "batchPath": "batch",
  "schemas": {
    "GoogleIamV1TestIamPermissionsRequest": {
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "MTLSPolicy": {
      "id": "MTLSPolicy",
      "type": "object",
      "properties": {
        "clientValidationTrustConfig": {
          "description": "Reference to the TrustConfig from certificatemanager.googleapis.com namespace. If specified, the chain validation will be performed against certificates configured in the given TrustConfig. Allowed only if the policy is to be used with Application Load Balancers.",
          "type": "string"
        },
        "clientValidationCa": {
          "items": {
            "$ref": "ValidationCA"
          },
          "description": "Required if the policy is to be used with Traffic Director. For Application Load Balancers it must be empty. Defines the mechanism to obtain the Certificate Authority certificate to validate the client certificate.",
          "type": "array"
        },
        "clientValidationMode": {
          "type": "string",
          "enum": [
            "CLIENT_VALIDATION_MODE_UNSPECIFIED",
            "ALLOW_INVALID_OR_MISSING_CLIENT_CERT",
            "REJECT_INVALID"
          ],
          "description": "When the client presents an invalid certificate or no certificate to the load balancer, the `client_validation_mode` specifies how the client connection is handled. Required if the policy is to be used with the Application Load Balancers. For Traffic Director it must be empty.",
          "enumDescriptions": [
            "Not allowed.",
            "Allow connection even if certificate chain validation of the client certificate failed or no client certificate was presented. The proof of possession of the private key is always checked if client certificate was presented. This mode requires the backend to implement processing of data extracted from a client certificate to authenticate the peer, or to reject connections if the client certificate fingerprint is missing.",
            "Require a client certificate and allow connection to the backend only if validation of the client certificate passed. If set, requires a reference to non-empty TrustConfig specified in `client_validation_trust_config`."
          ]
        }
      },
      "description": "Specification of the MTLSPolicy."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "Rule": {
      "properties": {
        "sources": {
          "description": "Optional. List of attributes for the traffic source. All of the sources must match. A source is a match if both principals and ip_blocks match. If not set, the action specified in the 'action' field will be applied without any rule checks for the source.",
          "items": {
            "$ref": "Source"
          },
          "type": "array"
        },
        "destinations": {
          "description": "Optional. List of attributes for the traffic destination. All of the destinations must match. A destination is a match if a request matches all the specified hosts, ports, methods and headers. If not set, the action specified in the 'action' field will be applied without any rule checks for the destination.",
          "items": {
            "$ref": "Destination"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Specification of rules.",
      "id": "Rule"
    },
    "ListDnsThreatDetectorsResponse": {
      "id": "ListDnsThreatDetectorsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable `DnsThreatDetector` resources."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token`, to retrieve the next page.",
          "type": "string"
        },
        "dnsThreatDetectors": {
          "type": "array",
          "items": {
            "$ref": "DnsThreatDetector"
          },
          "description": "The list of DnsThreatDetector resources."
        }
      },
      "description": "The response message to requesting a list of DnsThreatDetectors."
    },
    "Location": {
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "SecurityProfileGroup": {
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Resource creation timestamp."
        },
        "dataPathId": {
          "readOnly": true,
          "type": "string",
          "format": "uint64",
          "description": "Output only. Identifier used by the data-path. Unique within `{container, location}`."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. Name of the SecurityProfileGroup resource. It matches pattern `projects|organizations/*/locations/{location}/securityProfileGroups/{security_profile_group}`."
        },
        "etag": {
          "type": "string",
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true
        },
        "urlFilteringProfile": {
          "type": "string",
          "description": "Optional. Reference to a SecurityProfile with the UrlFiltering configuration."
        },
        "customInterceptProfile": {
          "description": "Optional. Reference to a SecurityProfile with the CustomIntercept configuration.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Last resource update timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key value pairs."
        },
        "threatPreventionProfile": {
          "description": "Optional. Reference to a SecurityProfile with the ThreatPrevention configuration.",
          "type": "string"
        },
        "customMirroringProfile": {
          "description": "Optional. Reference to a SecurityProfile with the CustomMirroring configuration.",
          "type": "string"
        },
        "description": {
          "description": "Optional. An optional description of the profile group. Max length 2048 characters.",
          "type": "string"
        }
      },
      "description": "SecurityProfileGroup is a resource that defines the behavior for various ProfileTypes.",
      "id": "SecurityProfileGroup",
      "type": "object"
    },
    "MirroringLocation": {
      "description": "Details about mirroring in a specific cloud location.",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Output only. The cloud location, e.g. \"us-central1-a\" or \"asia-south1\".",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The resource is ready and in sync in the location.",
            "The resource is out of sync in the location. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OUT_OF_SYNC"
          ],
          "description": "Output only. The current state of the association in this location.",
          "type": "string"
        }
      },
      "id": "MirroringLocation"
    },
    "ListMirroringEndpointGroupsResponse": {
      "id": "ListMirroringEndpointGroupsResponse",
      "description": "Response message for ListMirroringEndpointGroups.",
      "properties": {
        "mirroringEndpointGroups": {
          "type": "array",
          "items": {
            "$ref": "MirroringEndpointGroup"
          },
          "description": "The endpoint groups from the specified parent."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
        }
      },
      "type": "object"
    },
    "ListServerTlsPoliciesResponse": {
      "description": "Response returned by the ListServerTlsPolicies method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable resources. Populated when the request opts into `return_partial_success` and reading across collections e.g. when attempting to list all resources across all supported locations."
        },
        "serverTlsPolicies": {
          "type": "array",
          "description": "List of ServerTlsPolicy resources.",
          "items": {
            "$ref": "ServerTlsPolicy"
          }
        }
      },
      "id": "ListServerTlsPoliciesResponse"
    },
    "InterceptDeploymentGroup": {
      "properties": {
        "description": {
          "description": "Optional. User-provided description of the deployment group. Used as additional context for the deployment group.",
          "type": "string"
        },
        "nestedDeployments": {
          "items": {
            "$ref": "InterceptDeploymentGroupDeployment"
          },
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. The list of Intercept Deployments that belong to this group.",
          "type": "array"
        },
        "network": {
          "type": "string",
          "description": "Required. Immutable. The network that will be used for all child deployments, for example: `projects/{project}/global/networks/{network}`. See https://google.aip.dev/124."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new deployment to the group) See https://google.aip.dev/128.",
          "readOnly": true
        },
        "locations": {
          "items": {
            "$ref": "InterceptLocation"
          },
          "description": "Output only. The list of locations where the deployment group is present.",
          "type": "array",
          "readOnly": true
        },
        "connectedEndpointGroups": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "InterceptDeploymentGroupConnectedEndpointGroup"
          },
          "description": "Output only. The list of endpoint groups that are connected to this resource."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this deployment group, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/122 for more details."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources."
        },
        "state": {
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment group is ready.",
            "The deployment group is being created.",
            "The deployment group is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING"
          ],
          "description": "Output only. The current state of the deployment group. See https://google.aip.dev/216.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "type": "string"
        }
      },
      "description": "A deployment group aggregates many zonal intercept backends (deployments) into a single global intercept service. Consumers can connect this service using an endpoint group.",
      "type": "object",
      "id": "InterceptDeploymentGroup"
    },
    "CloneAddressGroupItemsRequest": {
      "type": "object",
      "description": "Request used by the CloneAddressGroupItems method.",
      "id": "CloneAddressGroupItemsRequest",
      "properties": {
        "sourceAddressGroup": {
          "description": "Required. Source address group to clone items from.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "AuthzPolicyAuthzRuleFrom": {
      "type": "object",
      "description": "Describes properties of one or more sources of a request.",
      "properties": {
        "sources": {
          "type": "array",
          "description": "Optional. Describes the properties of a request's sources. At least one of sources or notSources must be specified. Limited to 1 source. A match occurs when ANY source (in sources or notSources) matches the request. Within a single source, the match follows AND semantics across fields and OR semantics within a single field, i.e. a match occurs when ANY principal matches AND ANY ipBlocks match.",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleFromRequestSource"
          }
        },
        "notSources": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleFromRequestSource"
          },
          "type": "array",
          "description": "Optional. Describes the negated properties of request sources. Matches requests from sources that do not match the criteria specified in this field. At least one of sources or notSources must be specified."
        }
      },
      "id": "AuthzPolicyAuthzRuleFrom"
    },
    "GoogleCloudNetworksecurityV1CertificateProvider": {
      "id": "GoogleCloudNetworksecurityV1CertificateProvider",
      "description": "Specification of certificate provider. Defines the mechanism to obtain the certificate and private key for peer to peer authentication.",
      "properties": {
        "grpcEndpoint": {
          "description": "gRPC specific configuration to access the gRPC server to obtain the cert and private key.",
          "$ref": "GoogleCloudNetworksecurityV1GrpcEndpoint"
        },
        "certificateProviderInstance": {
          "description": "The certificate provider instance specification that will be passed to the data plane, which will be used to load necessary credential information.",
          "$ref": "CertificateProviderInstance"
        }
      },
      "type": "object"
    },
    "InterceptDeployment": {
      "properties": {
        "forwardingRule": {
          "description": "Required. Immutable. The regional forwarding rule that fronts the interceptors, for example: `projects/123456789/regions/us-central1/forwardingRules/my-rule`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "description": {
          "description": "Optional. User-provided description of the deployment. Used as additional context for the deployment.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "readOnly": true
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. linking a new association to the parent group). See https://google.aip.dev/128."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources."
        },
        "interceptDeploymentGroup": {
          "description": "Required. Immutable. The deployment group that this deployment is a part of, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the deployment. See https://google.aip.dev/216."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this deployment, for example: `projects/123456789/locations/us-central1-a/interceptDeployments/my-dep`. See https://google.aip.dev/122 for more details."
        }
      },
      "type": "object",
      "description": "A deployment represents a zonal intercept backend ready to accept GENEVE-encapsulated traffic, e.g. a zonal instance group fronted by an internal passthrough load balancer. Deployments are always part of a global deployment group which represents a global intercept service.",
      "id": "InterceptDeployment"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        }
      },
      "type": "object"
    },
    "UrlList": {
      "description": "UrlList proto helps users to set reusable, independently manageable lists of hosts, host patterns, URLs, URL patterns.",
      "id": "UrlList",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the security policy was created."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the security policy was updated."
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. FQDNs and URLs."
        },
        "name": {
          "description": "Required. Name of the resource provided by the user. Name is of the form projects/{project}/locations/{location}/urlLists/{url_list} url_list should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TlsInspectionPolicy": {
      "properties": {
        "certificateIssuanceMode": {
          "description": "Optional. The mode used to issue certificates (local CA signing vs direct leaf).",
          "enumDescriptions": [
            "Unspecified default mode.",
            "Fallback: Direct Private CA leaf certificate provisioning.",
            "High-speed Local Intermediate CA signing."
          ],
          "enum": [
            "CERTIFICATE_ISSUANCE_MODE_UNSPECIFIED",
            "DIRECT_LEAF_PROVISIONING",
            "LOCAL_INTERMEDIATE_CA_SIGNING"
          ],
          "type": "string"
        },
        "caPool": {
          "type": "string",
          "description": "Required. A CA pool resource used to issue interception certificates. The CA pool string has a relative resource path following the form \"projects/{project}/locations/{location}/caPools/{ca_pool}\"."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated."
        },
        "trustConfig": {
          "type": "string",
          "description": "Optional. A TrustConfig resource used when making a connection to the TLS server. This is a relative resource path following the form \"projects/{project}/locations/{location}/trustConfigs/{trust_config}\". This is necessary to intercept TLS connections to servers with certificates signed by a private CA or self-signed certificates. Note that Secure Web Proxy does not yet honor this field."
        },
        "excludePublicCaSet": {
          "description": "Optional. If FALSE (the default), use our default set of public CAs in addition to any CAs specified in trust_config. These public CAs are currently based on the Mozilla Root Program and are subject to change over time. If TRUE, do not accept our default set of public CAs. Only CAs specified in trust_config will be accepted. This defaults to FALSE (use public CAs in addition to trust_config) for backwards compatibility, but trusting public root CAs is *not recommended* unless the traffic in question is outbound to public web servers. When possible, prefer setting this to \"false\" and explicitly specifying trusted CAs and certificates in a TrustConfig. Note that Secure Web Proxy does not yet honor this field.",
          "type": "boolean"
        },
        "tlsFeatureProfile": {
          "description": "Optional. The selected Profile. If this is not set, then the default value is to allow the broadest set of clients and servers (\"PROFILE_COMPATIBLE\"). Setting this to more restrictive values may improve security, but may also prevent the TLS inspection proxy from connecting to some clients or servers. Note that Secure Web Proxy does not yet honor this field.",
          "enumDescriptions": [
            "Indicates no profile was specified.",
            "Compatible profile. Allows the broadest set of clients, even those which support only out-of-date SSL features to negotiate with the TLS inspection proxy.",
            "Modern profile. Supports a wide set of SSL features, allowing modern clients to negotiate SSL with the TLS inspection proxy.",
            "Restricted profile. Supports a reduced set of SSL features, intended to meet stricter compliance requirements.",
            "Custom profile. Allow only the set of allowed SSL features specified in the custom_features field of SslPolicy."
          ],
          "enum": [
            "PROFILE_UNSPECIFIED",
            "PROFILE_COMPATIBLE",
            "PROFILE_MODERN",
            "PROFILE_RESTRICTED",
            "PROFILE_CUSTOM"
          ],
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the resource. Name is of the form projects/{project}/locations/{location}/tlsInspectionPolicies/{tls_inspection_policy} tls_inspection_policy should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "minTlsVersion": {
          "description": "Optional. Minimum TLS version that the firewall should use when negotiating connections with both clients and servers. If this is not set, then the default value is to allow the broadest set of clients and servers (TLS 1.0 or higher). Setting this to more restrictive values may improve security, but may also prevent the firewall from connecting to some clients or servers. Note that Secure Web Proxy does not yet honor this field.",
          "enumDescriptions": [
            "Indicates no TLS version was specified.",
            "TLS 1.0",
            "TLS 1.1",
            "TLS 1.2",
            "TLS 1.3"
          ],
          "enum": [
            "TLS_VERSION_UNSPECIFIED",
            "TLS_1_0",
            "TLS_1_1",
            "TLS_1_2",
            "TLS_1_3"
          ],
          "type": "string"
        },
        "customTlsFeatures": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of custom TLS cipher suites selected. This field is valid only if the selected tls_feature_profile is CUSTOM. The compute.SslPoliciesService.ListAvailableFeatures method returns the set of features that can be specified in this list. Note that Secure Web Proxy does not yet honor this field."
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        }
      },
      "id": "TlsInspectionPolicy",
      "type": "object",
      "description": "The TlsInspectionPolicy resource contains references to CA pools in Certificate Authority Service and associated metadata."
    },
    "ListInterceptEndpointGroupsResponse": {
      "id": "ListInterceptEndpointGroupsResponse",
      "properties": {
        "interceptEndpointGroups": {
          "type": "array",
          "description": "The endpoint groups from the specified parent.",
          "items": {
            "$ref": "InterceptEndpointGroup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
        }
      },
      "type": "object",
      "description": "Response message for ListInterceptEndpointGroups."
    },
    "ListGatewaySecurityPolicyRulesResponse": {
      "type": "object",
      "description": "Response returned by the ListGatewaySecurityPolicyRules method.",
      "id": "ListGatewaySecurityPolicyRulesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "gatewaySecurityPolicyRules": {
          "type": "array",
          "items": {
            "$ref": "GatewaySecurityPolicyRule"
          },
          "description": "List of GatewaySecurityPolicyRule resources."
        }
      }
    },
    "ValidationCA": {
      "properties": {
        "certificateProviderInstance": {
          "$ref": "CertificateProviderInstance",
          "description": "The certificate provider instance specification that will be passed to the data plane, which will be used to load necessary credential information."
        },
        "grpcEndpoint": {
          "$ref": "GoogleCloudNetworksecurityV1GrpcEndpoint",
          "description": "gRPC specific configuration to access the gRPC server to obtain the CA certificate."
        }
      },
      "type": "object",
      "id": "ValidationCA",
      "description": "Specification of ValidationCA. Defines the mechanism to obtain the Certificate Authority certificate to validate the peer certificate."
    },
    "ThreatPreventionProfile": {
      "description": "ThreatPreventionProfile defines an action for specific threat signatures or severity levels.",
      "properties": {
        "antivirusOverrides": {
          "description": "Optional. Configuration for overriding antivirus actions per protocol.",
          "type": "array",
          "items": {
            "$ref": "AntivirusOverride"
          }
        },
        "threatOverrides": {
          "items": {
            "$ref": "ThreatOverride"
          },
          "description": "Optional. Configuration for overriding threats actions by threat_id match. If a threat is matched both by configuration provided in severity_overrides and threat_overrides, the threat_overrides action is applied.",
          "type": "array"
        },
        "severityOverrides": {
          "type": "array",
          "description": "Optional. Configuration for overriding threats actions by severity match.",
          "items": {
            "$ref": "SeverityOverride"
          }
        }
      },
      "type": "object",
      "id": "ThreatPreventionProfile"
    },
    "UrlFilteringProfile": {
      "id": "UrlFilteringProfile",
      "description": "UrlFilteringProfile defines filters based on URL.",
      "type": "object",
      "properties": {
        "urlFilters": {
          "description": "Optional. The list of filtering configs in which each config defines an action to take for some URL match.",
          "type": "array",
          "items": {
            "$ref": "UrlFilter"
          }
        }
      }
    },
    "AuthzPolicyCustomProvider": {
      "id": "AuthzPolicyCustomProvider",
      "properties": {
        "cloudIap": {
          "$ref": "AuthzPolicyCustomProviderCloudIap",
          "description": "Optional. Delegates authorization decisions to Cloud IAP. Applicable only for managed load balancers. Enabling Cloud IAP at the AuthzPolicy level is not compatible with Cloud IAP settings in the BackendService. Enabling IAP in both places will result in request failure. Ensure that IAP is enabled in either the AuthzPolicy or the BackendService but not in both places."
        },
        "authzExtension": {
          "description": "Optional. Delegate authorization decision to user authored Service Extension. Only one of cloudIap or authzExtension can be specified.",
          "$ref": "AuthzPolicyCustomProviderAuthzExtension"
        }
      },
      "description": "Allows delegating authorization decisions to Cloud IAP or to Service Extensions.",
      "type": "object"
    },
    "AuthzPolicyAuthzRulePrincipal": {
      "id": "AuthzPolicyAuthzRulePrincipal",
      "properties": {
        "principalSelector": {
          "enum": [
            "PRINCIPAL_SELECTOR_UNSPECIFIED",
            "CLIENT_CERT_URI_SAN",
            "CLIENT_CERT_DNS_NAME_SAN",
            "CLIENT_CERT_COMMON_NAME"
          ],
          "enumDescriptions": [
            "Unspecified principal selector. It will be treated as CLIENT_CERT_URI_SAN by default.",
            "The principal rule is matched against a list of URI SANs in the validated client's certificate. A match happens when there is any exact URI SAN value match. This is the default principal selector.",
            "The principal rule is matched against a list of DNS Name SANs in the validated client's certificate. A match happens when there is any exact DNS Name SAN value match. This is only applicable for Application Load Balancers except for classic Global External Application load balancer. CLIENT_CERT_DNS_NAME_SAN is not supported for INTERNAL_SELF_MANAGED load balancing scheme.",
            "The principal rule is matched against the common name in the client's certificate. Authorization against multiple common names in the client certificate is not supported. Requests with multiple common names in the client certificate will be rejected if CLIENT_CERT_COMMON_NAME is set as the principal selector. A match happens when there is an exact common name value match. This is only applicable for Application Load Balancers and not for Classic Application Load Balancer. CLIENT_CERT_COMMON_NAME is not supported for INTERNAL_SELF_MANAGED load balancing scheme."
          ],
          "type": "string",
          "description": "Optional. An enum to decide what principal value the principal rule will match against. If not specified, the PrincipalSelector is CLIENT_CERT_URI_SAN."
        },
        "principal": {
          "description": "Required. A non-empty string whose value is matched against the principal value based on the principal_selector. Only exact match can be applied for CLIENT_CERT_URI_SAN, CLIENT_CERT_DNS_NAME_SAN, CLIENT_CERT_COMMON_NAME selectors.",
          "$ref": "AuthzPolicyAuthzRuleStringMatch"
        }
      },
      "description": "Describes the properties of a principal to be matched against.",
      "type": "object"
    },
    "ListSACRealmsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "sacRealms": {
          "items": {
            "$ref": "SACRealm"
          },
          "description": "The list of SACRealms.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListSACRealmsResponse",
      "description": "Response for `ListSACRealms` method.",
      "type": "object"
    },
    "ListInterceptEndpointGroupAssociationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        },
        "interceptEndpointGroupAssociations": {
          "description": "The associations from the specified parent.",
          "items": {
            "$ref": "InterceptEndpointGroupAssociation"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for ListInterceptEndpointGroupAssociations.",
      "id": "ListInterceptEndpointGroupAssociationsResponse"
    },
    "ListInterceptDeploymentGroupsResponse": {
      "description": "Response message for ListInterceptDeploymentGroups.",
      "id": "ListInterceptDeploymentGroupsResponse",
      "type": "object",
      "properties": {
        "interceptDeploymentGroups": {
          "type": "array",
          "items": {
            "$ref": "InterceptDeploymentGroup"
          },
          "description": "The deployment groups from the specified parent."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "id": "GoogleIamV1AuditConfig"
    },
    "CustomMirroringProfile": {
      "type": "object",
      "properties": {
        "mirroringEndpointGroup": {
          "description": "Required. Immutable. The target MirroringEndpointGroup. When a mirroring rule with this security profile attached matches a packet, a replica will be mirrored to the location-local target in this group.",
          "type": "string"
        }
      },
      "description": "CustomMirroringProfile defines out-of-band integration behavior (mirroring). It is used by mirroring rules with a MIRROR action.",
      "id": "CustomMirroringProfile"
    },
    "UrlFilter": {
      "id": "UrlFilter",
      "properties": {
        "urls": {
          "description": "Required. The list of strings that a URL must match with for this filter to be applied.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "filteringAction": {
          "type": "string",
          "enumDescriptions": [
            "Filtering action not specified.",
            "The connection matching this filter will be allowed to transmit.",
            "The connection matching this filter will be dropped."
          ],
          "enum": [
            "URL_FILTERING_ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "description": "Required. The action taken when this filter is applied."
        },
        "priority": {
          "type": "integer",
          "description": "Required. The priority of this filter within the URL Filtering Profile. Lower integers indicate higher priorities. The priority of a filter must be unique within a URL Filtering Profile.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "A URL filter defines an action to take for some URL match."
    },
    "FirewallEndpointEndpointSettings": {
      "description": "Settings for the endpoint.",
      "properties": {
        "jumboFramesEnabled": {
          "type": "boolean",
          "description": "Optional. Immutable. Indicates whether Jumbo Frames are enabled. Default value is false."
        }
      },
      "type": "object",
      "id": "FirewallEndpointEndpointSettings"
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "SACRealm": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "No state specified. This should not be used.",
            "Has never been attached to a partner. Used only for Prisma Access.",
            "Currently attached to a partner.",
            "Was once attached to a partner but has been detached.",
            "Is not attached to a partner and has an expired pairing key. Used only for Prisma Access."
          ],
          "description": "Output only. State of the realm.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_PARTNER_ATTACHMENT",
            "PARTNER_ATTACHED",
            "PARTNER_DETACHED",
            "KEY_EXPIRED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "pairingKey": {
          "$ref": "SACRealmPairingKey",
          "readOnly": true,
          "description": "Output only. Key to be shared with SSE service provider during pairing."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Optional list of labels applied to the resource."
        },
        "name": {
          "description": "Identifier. Resource name, in the form `projects/{project}/locations/global/sacRealms/{sacRealm}`.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the realm was created."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the realm was last updated.",
          "type": "string"
        },
        "securityService": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "[Palo Alto Networks Prisma Access](https://www.paloaltonetworks.com/sase/access)."
          ],
          "description": "Immutable. SSE service provider associated with the realm.",
          "type": "string",
          "enum": [
            "SECURITY_SERVICE_UNSPECIFIED",
            "PALO_ALTO_PRISMA_ACCESS"
          ]
        }
      },
      "type": "object",
      "description": "Represents a Secure Access Connect (SAC) realm resource. A Secure Access Connect realm establishes a connection between your Google Cloud project and an SSE service.",
      "id": "SACRealm"
    },
    "FirewallEndpoint": {
      "properties": {
        "reconciling": {
          "description": "Output only. Whether reconciling is in progress, recommended per https://google.aip.dev/128.",
          "readOnly": true,
          "type": "boolean"
        },
        "billingProjectId": {
          "type": "string",
          "description": "Optional. Project to charge for the deployed firewall endpoint. This field must be specified when creating the endpoint in the organization scope, and should be omitted otherwise."
        },
        "associations": {
          "items": {
            "$ref": "FirewallEndpointAssociationReference"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of FirewallEndpointAssociations that are associated to this endpoint. An association will only appear in this list after traffic routing is fully configured."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time stamp.",
          "readOnly": true
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. [Output Only] Reserved for future use.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs",
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the firewall endpoint. Max length 2048 characters."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. Name of resource."
        },
        "associatedNetworks": {
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "type": "array",
          "readOnly": true,
          "description": "Output only. Deprecated: List of networks that are associated with this endpoint in the local zone. This is a projection of the FirewallEndpointAssociations pointing at this endpoint. A network will only appear in this list after traffic routing is fully configured. Format: projects/{project}/global/networks/{name}."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Update time stamp",
          "type": "string"
        },
        "state": {
          "description": "Output only. Current state of the endpoint.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "Being created.",
            "Processing configuration updates.",
            "Being deleted.",
            "Down or in an error state."
          ],
          "type": "string"
        },
        "endpointSettings": {
          "description": "Optional. Settings for the endpoint.",
          "$ref": "FirewallEndpointEndpointSettings"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. [Output Only] Reserved for future use."
        }
      },
      "id": "FirewallEndpoint",
      "type": "object",
      "description": "Message describing Endpoint object."
    },
    "InterceptDeploymentGroupConnectedEndpointGroup": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The connected endpoint group's resource name, for example: `projects/123456789/locations/global/interceptEndpointGroups/my-eg`. See https://google.aip.dev/124."
        }
      },
      "type": "object",
      "id": "InterceptDeploymentGroupConnectedEndpointGroup",
      "description": "An endpoint group connected to this deployment group."
    },
    "DnsThreatDetector": {
      "properties": {
        "name": {
          "description": "Immutable. Identifier. Name of the DnsThreatDetector resource.",
          "type": "string"
        },
        "provider": {
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "INFOBLOX"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified provider.",
            "The Infoblox DNS threat detector provider."
          ],
          "description": "Required. The provider used for DNS threat analysis."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time stamp.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Update time stamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "excludedNetworks": {
          "type": "array",
          "description": "Optional. A list of network resource names which aren't monitored by this DnsThreatDetector. Example: `projects/PROJECT_ID/global/networks/NETWORK_NAME`.",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Optional. Any labels associated with the DnsThreatDetector, listed as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "A DNS threat detector sends DNS query logs to a _provider_ that then analyzes the logs to identify threat events in the DNS queries. By default, all VPC networks in your projects are included. You can exclude specific networks by supplying `excluded_networks`.",
      "id": "DnsThreatDetector"
    },
    "SecurityProfile": {
      "properties": {
        "urlFilteringProfile": {
          "$ref": "UrlFilteringProfile",
          "description": "The URL filtering configuration for the SecurityProfile."
        },
        "name": {
          "description": "Immutable. Identifier. Name of the SecurityProfile resource. It matches pattern `projects|organizations/*/locations/{location}/securityProfiles/{security_profile}`.",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "customInterceptProfile": {
          "$ref": "CustomInterceptProfile",
          "description": "The custom TPPI configuration for the SecurityProfile."
        },
        "threatPreventionProfile": {
          "description": "The threat prevention configuration for the SecurityProfile.",
          "$ref": "ThreatPreventionProfile"
        },
        "description": {
          "description": "Optional. An optional description of the profile. Max length 512 characters.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource creation timestamp."
        },
        "type": {
          "enumDescriptions": [
            "Profile type not specified.",
            "Profile type for threat prevention.",
            "Profile type for packet mirroring v2",
            "Profile type for TPPI.",
            "Profile type for URL filtering."
          ],
          "type": "string",
          "enum": [
            "PROFILE_TYPE_UNSPECIFIED",
            "THREAT_PREVENTION",
            "CUSTOM_MIRRORING",
            "CUSTOM_INTERCEPT",
            "URL_FILTERING"
          ],
          "description": "Immutable. The single ProfileType that the SecurityProfile resource configures."
        },
        "customMirroringProfile": {
          "$ref": "CustomMirroringProfile",
          "description": "The custom Packet Mirroring v2 configuration for the SecurityProfile."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last resource update timestamp."
        }
      },
      "type": "object",
      "description": "SecurityProfile is a resource that defines the behavior for one of many ProfileTypes.",
      "id": "SecurityProfile"
    },
    "ThreatOverride": {
      "description": "Defines what action to take for a specific threat_id match.",
      "id": "ThreatOverride",
      "properties": {
        "threatId": {
          "description": "Required. Vendor-specific ID of a threat to override.",
          "type": "string"
        },
        "type": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "UNKNOWN",
            "VULNERABILITY",
            "ANTIVIRUS",
            "SPYWARE",
            "DNS"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the threat (read only).",
          "enumDescriptions": [
            "Type of threat not specified.",
            "Type of threat is not derivable from threat ID. An override will be created for all types. Firewall will ignore overridden signature ID's that don't exist in the specific type.",
            "Threats related to system flaws that an attacker might otherwise attempt to exploit.",
            "Threats related to viruses and malware found in executables and file types.",
            "Threats related to command-and-control (C2) activity, where spyware on an infected client is collecting data without the user's consent and/or communicating with a remote attacker.",
            "Threats related to DNS."
          ]
        },
        "action": {
          "description": "Required. Threat action override. For some threat types, only a subset of actions applies.",
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "enum": [
            "THREAT_ACTION_UNSPECIFIED",
            "DEFAULT_ACTION",
            "ALLOW",
            "ALERT",
            "DENY"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListClientTlsPoliciesResponse": {
      "description": "Response returned by the ListClientTlsPolicies method.",
      "properties": {
        "clientTlsPolicies": {
          "items": {
            "$ref": "ClientTlsPolicy"
          },
          "type": "array",
          "description": "List of ClientTlsPolicy resources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "type": "object",
      "id": "ListClientTlsPoliciesResponse"
    },
    "BackendAuthenticationConfig": {
      "properties": {
        "wellKnownRoots": {
          "enum": [
            "WELL_KNOWN_ROOTS_UNSPECIFIED",
            "NONE",
            "PUBLIC_ROOTS"
          ],
          "type": "string",
          "description": "Well known roots to use for server certificate validation.",
          "enumDescriptions": [
            "Equivalent to NONE.",
            "The BackendService will only validate server certificates against roots specified in TrustConfig.",
            "The BackendService uses a set of well-known public roots, in addition to any roots specified in the trustConfig field, when validating the server certificates presented by the backend. Validation with these roots is only considered when the TlsSettings.sni field in the BackendService is set. The well-known roots are a set of root CAs managed by Google. CAs in this set can be added or removed without notice."
          ]
        },
        "trustConfig": {
          "description": "Optional. A reference to a TrustConfig resource from the certificatemanager.googleapis.com namespace. This is a relative resource path following the form \"projects/{project}/locations/{location}/trustConfigs/{trust_config}\". A BackendService uses the chain of trust represented by this TrustConfig, if specified, to validate the server certificates presented by the backend. Required unless wellKnownRoots is set to PUBLIC_ROOTS.",
          "type": "string"
        },
        "clientCertificate": {
          "type": "string",
          "description": "Optional. A reference to a certificatemanager.googleapis.com.Certificate resource. This is a relative resource path following the form \"projects/{project}/locations/{location}/certificates/{certificate}\". Used by a BackendService to negotiate mTLS when the backend connection uses TLS and the backend requests a client certificate. Must have a CLIENT_AUTH scope."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the BackendAuthenticationConfig resource. It matches the pattern `projects/*/locations/{location}/backendAuthenticationConfigs/{backend_authentication_config}`",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Etag of the resource."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Set of label tags associated with the resource."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "BackendAuthenticationConfig message groups the TrustConfig together with other settings that control how the load balancer authenticates, and expresses its identity to, the backend: * `trustConfig` is the attached TrustConfig. * `wellKnownRoots` indicates whether the load balance should trust backend server certificates that are issued by public certificate authorities, in addition to certificates trusted by the TrustConfig. * `clientCertificate` is a client certificate that the load balancer uses to express its identity to the backend, if the connection to the backend uses mTLS. You can attach the BackendAuthenticationConfig to the load balancer's BackendService directly determining how that BackendService negotiates TLS.",
      "id": "BackendAuthenticationConfig"
    },
    "ListMirroringDeploymentGroupsResponse": {
      "properties": {
        "mirroringDeploymentGroups": {
          "items": {
            "$ref": "MirroringDeploymentGroup"
          },
          "description": "The deployment groups from the specified parent.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ListMirroringDeploymentGroups.",
      "id": "ListMirroringDeploymentGroupsResponse"
    },
    "MirroringEndpointGroupAssociationDetails": {
      "id": "MirroringEndpointGroupAssociationDetails",
      "description": "The endpoint group's view of a connected association.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The connected association's resource name, for example: `projects/123456789/locations/global/mirroringEndpointGroupAssociations/my-ega`. See https://google.aip.dev/124."
        },
        "network": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The associated network, for example: projects/123456789/global/networks/my-network. See https://google.aip.dev/124."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "description": "Output only. Most recent known state of the association."
        }
      },
      "type": "object"
    },
    "ListAddressGroupsResponse": {
      "id": "ListAddressGroupsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "addressGroups": {
          "description": "List of AddressGroups resources.",
          "items": {
            "$ref": "AddressGroup"
          },
          "type": "array"
        }
      },
      "description": "Response returned by the ListAddressGroups method."
    },
    "ListSecurityProfilesResponse": {
      "id": "ListSecurityProfilesResponse",
      "type": "object",
      "description": "Response returned by the ListSecurityProfiles method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "securityProfiles": {
          "items": {
            "$ref": "SecurityProfile"
          },
          "description": "List of SecurityProfile resources.",
          "type": "array"
        }
      }
    },
    "CertificateProviderInstance": {
      "properties": {
        "pluginInstance": {
          "description": "Required. Plugin instance name, used to locate and load CertificateProvider instance configuration. Set to \"google_cloud_private_spiffe\" to use Certificate Authority Service certificate provider instance.",
          "type": "string"
        }
      },
      "id": "CertificateProviderInstance",
      "type": "object",
      "description": "Specification of a TLS certificate provider instance. Workloads may have one or more CertificateProvider instances (plugins) and one of them is enabled and configured by specifying this message. Workloads use the values from this message to locate and load the CertificateProvider instance configuration."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "HttpHeaderMatch": {
      "properties": {
        "regexMatch": {
          "description": "Required. The value of the header must match the regular expression specified in regexMatch. For regular expression grammar, please see: en.cppreference.com/w/cpp/regex/ecmascript For matching against a port specified in the HTTP request, use a headerMatch with headerName set to Host and a regular expression that satisfies the RFC2616 Host header's port specifier.",
          "type": "string"
        },
        "headerName": {
          "description": "Required. The name of the HTTP header to match. For matching against the HTTP request's authority, use a headerMatch with the header name \":authority\". For matching a request's method, use the headerName \":method\".",
          "type": "string"
        }
      },
      "id": "HttpHeaderMatch",
      "description": "Specification of HTTP header match attributes.",
      "type": "object"
    },
    "InterceptEndpointGroupConnectedDeploymentGroup": {
      "properties": {
        "name": {
          "description": "Output only. The connected deployment group's resource name, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string",
          "readOnly": true
        },
        "locations": {
          "description": "Output only. The list of locations where the deployment group is present.",
          "type": "array",
          "items": {
            "$ref": "InterceptLocation"
          },
          "readOnly": true
        }
      },
      "id": "InterceptEndpointGroupConnectedDeploymentGroup",
      "type": "object",
      "description": "The endpoint group's view of a connected deployment group."
    },
    "MirroringDeploymentGroupDeployment": {
      "type": "object",
      "id": "MirroringDeploymentGroupDeployment",
      "description": "A deployment belonging to this deployment group.",
      "properties": {
        "state": {
          "description": "Output only. Most recent known state of the deployment.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the Mirroring Deployment, in the format: `projects/{project}/locations/{location}/mirroringDeployments/{mirroring_deployment}`.",
          "readOnly": true
        }
      }
    },
    "MirroringDeployment": {
      "id": "MirroringDeployment",
      "properties": {
        "name": {
          "description": "Immutable. Identifier. The resource name of this deployment, for example: `projects/123456789/locations/us-central1-a/mirroringDeployments/my-dep`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description of the deployment. Used as additional context for the deployment."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of the deployment. See https://google.aip.dev/216.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "forwardingRule": {
          "type": "string",
          "description": "Required. Immutable. The regional forwarding rule that fronts the mirroring collectors, for example: `projects/123456789/regions/us-central1/forwardingRules/my-rule`. See https://google.aip.dev/124."
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. linking a new association to the parent group). See https://google.aip.dev/128."
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources."
        },
        "mirroringDeploymentGroup": {
          "description": "Required. Immutable. The deployment group that this deployment is a part of, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A deployment represents a zonal mirroring backend ready to accept GENEVE-encapsulated replica traffic, e.g. a zonal instance group fronted by an internal passthrough load balancer. Deployments are always part of a global deployment group which represents a global mirroring service."
    },
    "AuthzPolicyAuthzRuleToRequestOperationMCP": {
      "id": "AuthzPolicyAuthzRuleToRequestOperationMCP",
      "properties": {
        "baseProtocolMethodsOption": {
          "enum": [
            "BASE_PROTOCOL_METHODS_OPTION_UNSPECIFIED",
            "SKIP_BASE_PROTOCOL_METHODS",
            "MATCH_BASE_PROTOCOL_METHODS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified option. Defaults to SKIP_BASE_PROTOCOL_METHODS.",
            "Skip matching on the base MCP protocol methods.",
            "Match on the base MCP protocol methods."
          ],
          "description": "Optional. If specified, matches on the MCP protocol’s non-access specific methods namely: * initialize * completion/ * logging/ * notifications/ * ping Defaults to SKIP_BASE_PROTOCOL_METHODS if not specified."
        },
        "methods": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleToRequestOperationMCPMethod"
          },
          "description": "Optional. A list of MCP methods and associated parameters to match on. It is recommended to use this field to match on tools, prompts and resource accesses while setting the baseProtocolMethodsOption to MATCH_BASE_PROTOCOL_METHODS to match on all the other MCP protocol methods. Limited to 10 MCP methods per Authorization Policy.",
          "type": "array"
        }
      },
      "description": "Describes a set of MCP protocol attributes to match against for a given MCP request.",
      "type": "object"
    },
    "Destination": {
      "type": "object",
      "description": "Specification of traffic destination attributes.",
      "id": "Destination",
      "properties": {
        "hosts": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of host names to match. Matched against the \":authority\" header in http requests. At least one host should match. Each host can be an exact match, or a prefix match (example \"mydomain.*\") or a suffix match (example \"*.myorg.com\") or a presence (any) match \"*\".",
          "type": "array"
        },
        "httpHeaderMatch": {
          "$ref": "HttpHeaderMatch",
          "description": "Optional. Match against key:value pair in http header. Provides a flexible match based on HTTP headers, for potentially advanced use cases. At least one header should match. Avoid using header matches to make authorization decisions unless there is a strong guarantee that requests arrive through a trusted client or proxy."
        },
        "methods": {
          "type": "array",
          "description": "Optional. A list of HTTP methods to match. At least one method should match. Should not be set for gRPC services.",
          "items": {
            "type": "string"
          }
        },
        "ports": {
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "description": "Required. List of destination ports to match. At least one port should match.",
          "type": "array"
        }
      }
    },
    "InterceptEndpointGroupAssociationDetails": {
      "id": "InterceptEndpointGroupAssociationDetails",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The connected association's resource name, for example: `projects/123456789/locations/global/interceptEndpointGroupAssociations/my-ega`. See https://google.aip.dev/124."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ],
          "readOnly": true,
          "description": "Output only. Most recent known state of the association.",
          "type": "string"
        },
        "network": {
          "description": "Output only. The associated network, for example: projects/123456789/global/networks/my-network. See https://google.aip.dev/124.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The endpoint group's view of a connected association.",
      "type": "object"
    },
    "InterceptEndpointGroup": {
      "id": "InterceptEndpointGroup",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new association to the group). See https://google.aip.dev/128."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The endpoint group is ready and in sync with the target deployment group.",
            "The deployment group backing this endpoint group has been force-deleted. This endpoint group cannot be used and interception is effectively disabled.",
            "The endpoint group is being created.",
            "The endpoint group is being deleted.",
            "The endpoint group is out of sync with the backing deployment group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. See the associations field for details per network and location.",
            "An attempt to delete the endpoint group has failed. This is a terminal state and the endpoint group is not expected to recover. The only permitted operation is to retry deleting the endpoint group."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CLOSED",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "description": "Output only. The current state of the endpoint group. See https://google.aip.dev/216."
        },
        "connectedDeploymentGroup": {
          "$ref": "InterceptEndpointGroupConnectedDeploymentGroup",
          "readOnly": true,
          "description": "Output only. Details about the connected deployment group to this endpoint group."
        },
        "interceptDeploymentGroup": {
          "type": "string",
          "description": "Required. Immutable. The deployment group that this endpoint group is connected to, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124."
        },
        "description": {
          "description": "Optional. User-provided description of the endpoint group. Used as additional context for the endpoint group.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this endpoint group, for example: `projects/123456789/locations/global/interceptEndpointGroups/my-eg`. See https://google.aip.dev/122 for more details."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "format": "google-datetime"
        },
        "associations": {
          "description": "Output only. List of associations to this endpoint group.",
          "type": "array",
          "items": {
            "$ref": "InterceptEndpointGroupAssociationDetails"
          },
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources."
        }
      },
      "description": "An endpoint group is a consumer frontend for a deployment group (backend). In order to configure intercept for a network, consumers must create: - An association between their network and the endpoint group. - A security profile that points to the endpoint group. - A firewall rule that references the security profile (group)."
    },
    "MirroringDeploymentGroup": {
      "description": "A deployment group aggregates many zonal mirroring backends (deployments) into a single global mirroring service. Consumers can connect this service using an endpoint group.",
      "properties": {
        "reconciling": {
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new deployment to the group) See https://google.aip.dev/128.",
          "type": "boolean",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "type": "string",
          "readOnly": true
        },
        "connectedEndpointGroups": {
          "description": "Output only. The list of endpoint groups that are connected to this resource.",
          "type": "array",
          "items": {
            "$ref": "MirroringDeploymentGroupConnectedEndpointGroup"
          },
          "readOnly": true
        },
        "nestedDeployments": {
          "type": "array",
          "description": "Output only. The list of Mirroring Deployments that belong to this group.",
          "items": {
            "$ref": "MirroringDeploymentGroupDeployment"
          },
          "readOnly": true,
          "deprecated": true
        },
        "network": {
          "description": "Required. Immutable. The network that will be used for all child deployments, for example: `projects/{project}/global/networks/{network}`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED"
          ],
          "description": "Output only. The current state of the deployment group. See https://google.aip.dev/216.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment group is ready.",
            "The deployment group is being created.",
            "The deployment group is being deleted.",
            "The deployment group is being wiped out (project deleted)."
          ],
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description of the deployment group. Used as additional context for the deployment group."
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this deployment group, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "MirroringLocation"
          },
          "readOnly": true,
          "description": "Output only. The list of locations where the deployment group is present."
        }
      },
      "type": "object",
      "id": "MirroringDeploymentGroup"
    },
    "AuthzPolicyAuthzRuleIpBlock": {
      "description": "Represents a range of IP Addresses.",
      "properties": {
        "prefix": {
          "description": "Required. The address prefix.",
          "type": "string"
        },
        "length": {
          "description": "Required. The length of the address range.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "AuthzPolicyAuthzRuleIpBlock",
      "type": "object"
    },
    "SACRealmPairingKey": {
      "type": "object",
      "id": "SACRealmPairingKey",
      "properties": {
        "key": {
          "description": "Output only. Key value.",
          "readOnly": true,
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp in UTC of when this resource is considered expired. It expires 7 days after creation."
        }
      },
      "description": "Key to be shared with SSE service provider to establish global handshake."
    },
    "InterceptDeploymentGroupDeployment": {
      "description": "A deployment belonging to this deployment group.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "description": "Output only. Most recent known state of the deployment.",
          "type": "string",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "readOnly": true
        },
        "name": {
          "description": "Output only. The name of the Intercept Deployment, in the format: `projects/{project}/locations/{location}/interceptDeployments/{intercept_deployment}`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "InterceptDeploymentGroupDeployment"
    },
    "AuthzPolicyTarget": {
      "id": "AuthzPolicyTarget",
      "properties": {
        "loadBalancingScheme": {
          "enumDescriptions": [
            "Default value. Do not use.",
            "Signifies that this is used for Regional internal or Cross-region internal Application Load Balancing.",
            "Signifies that this is used for Global external or Regional external Application Load Balancing.",
            "Signifies that this is used for Cloud Service Mesh. Meant for use by CSM GKE controller only."
          ],
          "description": "Optional. All gateways and forwarding rules referenced by this policy and extensions must share the same load balancing scheme. Required only when targeting forwarding rules. If targeting Secure Web Proxy, this field must be `INTERNAL_MANAGED` or not specified. Must not be specified when targeting Agent Gateway. Supported values include `INTERNAL_MANAGED` and `EXTERNAL_MANAGED`. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service).",
          "enum": [
            "LOAD_BALANCING_SCHEME_UNSPECIFIED",
            "INTERNAL_MANAGED",
            "EXTERNAL_MANAGED",
            "INTERNAL_SELF_MANAGED"
          ],
          "type": "string"
        },
        "resources": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of references to the Forwarding Rules, Secure Web Proxy Gateways, or Agent Gateways on which this policy will be applied.",
          "type": "array"
        }
      },
      "description": "Specifies the set of targets to which this policy should be applied to.",
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "items": {
            "type": "string"
          },
[...]
