{
  "revision": "20260921",
  "name": "networkservices",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    }
  },
  "ownerDomain": "google.com",
  "version_module": true,
  "id": "networkservices:v1",
  "description": "",
  "documentationLink": "https://cloud.google.com/networking",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "baseUrl": "https://networkservices.googleapis.com/",
  "title": "Network Services API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "id": "networkservices.projects.locations.get",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "path": "v1/{+name}/locations",
              "id": "networkservices.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations"
            }
          },
          "resources": {
            "edgeCacheOrigins": {
              "methods": {
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "path": "v1/{+resource}:testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkservices.projects.locations.edgeCacheOrigins.testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/edgeCacheOrigins/{edgeCacheOriginsId}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/edgeCacheOrigins/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "setIamPolicy": {
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/edgeCacheOrigins/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:setIamPolicy",
                  "id": "networkservices.projects.locations.edgeCacheOrigins.setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/edgeCacheOrigins/{edgeCacheOriginsId}:setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "POST"
                },
                "getIamPolicy": {
                  "response": {
                    "$ref": "Policy"
                  },
                  "id": "networkservices.projects.locations.edgeCacheOrigins.getIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/edgeCacheOrigins/{edgeCacheOriginsId}:getIamPolicy",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "resource": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/edgeCacheOrigins/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+resource}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ]
                }
              }
            },
            "multicastConsumerAssociations": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "MulticastConsumerAssociation"
                  },
                  "id": "networkservices.projects.locations.multicastConsumerAssociations.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/multicastConsumerAssociations",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource of the multicast consumer association. Use the following format: `projects/*/locations/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "multicastConsumerAssociationId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. A unique name for the multicast consumer association. The name is restricted to lower-case letters, numbers, and hyphen, with the first character a lower-case letter, and the last a letter or a number. The name must not exceed 48 characters."
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new multicast consumer association in a given project and location.",
                  "path": "v1/{+parent}/multicastConsumerAssociations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a single multicast consumer association.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "id": "networkservices.projects.locations.multicastConsumerAssociations.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/multicastConsumerAssociations/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the multicast consumer association to delete. Use the following format: `projects/*/locations/*/multicastConsumerAssociations/*`.",
                      "location": "path",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/multicastConsumerAssociations/{multicastConsumerAssociationsId}",
                  "path": "v1/{+name}"
                },
                "get": {
                  "id": "networkservices.projects.locations.multicastConsumerAssociations.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/multicastConsumerAssociations/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the multicast consumer association to get. Use the following format: `projects/*/locations/*/multicastConsumerAssociations/*`.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single multicast consumer association.",
                  "response": {
                    "$ref": "MulticastConsumerAssociation"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/multicastConsumerAssociations/{multicastConsumerAssociationsId}",
                  "httpMethod": "GET"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "id": "networkservices.projects.locations.multicastConsumerAssociations.patch",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/multicastConsumerAssociations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Identifier. The resource name of the multicast consumer association. Use the following format: `projects/*/locations/*/multicastConsumerAssociations/*`."
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the MulticastConsumerAssociation resource by the update. The fields specified in the `update_mask` are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all mutable fields present in the request will be overwritten.",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Updates the parameters of a single multicast consumer association.",
                  "request": {
                    "$ref": "MulticastConsumerAssociation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/multicastConsumerAssociations/{multicastConsumerAssociationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "path": "v1/{+parent}/multicastConsumerAssociations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token from an earlier query, as returned in `next_page_token`."
                    },
                    "orderBy": {
                      "description": "Optional. A field used to sort the results by a certain order.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A filter expression that filters the resources listed in the response. The expression must be of the form ` ` where operators: `<`, `>`, `<=`, `>=`, `!=`, `=`, `:` are supported (colon `:` represents a HAS operator which is roughly synonymous with equality). can refer to a proto or JSON field, or a synthetic field. Field names can be camelCase or snake_case. Examples: * Filter by name: name = \"RESOURCE_NAME\" * Filter by labels: * Resources that have a key named `foo` labels.foo:* * Resources that have a key named `foo` whose value is `bar` labels.foo = bar",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of multicast consumer associations to return per call.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource for which to list multicast consumer associations. Use the following format: `projects/*/locations/*`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ListMulticastConsumerAssociationsResponse"
                  },
                  "id": "networkservices.projects.locations.multicastConsumerAssociations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/multicastConsumerAssociations",
                  "description": "Lists multicast consumer associations in a given project and location."
                }
              }
            },
            "serviceBindings": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serviceBindings/{serviceBindingsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ServiceBinding"
                  },
                  "description": "Gets details of a single ServiceBinding.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/serviceBindings/[^/]+$",
                      "description": "Required. A name of the ServiceBinding to get. Must be in the format `projects/*/locations/*/serviceBindings/*`.",
                      "required": true
                    }
                  },
                  "id": "networkservices.projects.locations.serviceBindings.get"
                },
                "patch": {
                  "id": "networkservices.projects.locations.serviceBindings.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server guarantees this for 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID version 4 with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/serviceBindings/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Identifier. Name of the ServiceBinding resource. It matches pattern `projects/*/locations/*/serviceBindings/`."
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the ServiceBinding resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serviceBindings/{serviceBindingsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the parameters of a single ServiceBinding.",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "ServiceBinding"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "ServiceBinding"
                  },
                  "id": "networkservices.projects.locations.serviceBindings.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serviceBindings",
                  "path": "v1/{+parent}/serviceBindings",
                  "parameters": {
                    "serviceBindingId": {
                      "type": "string",
                      "description": "Required. Short name of the ServiceBinding resource to be created.",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server guarantees this for 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID version 4 with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "parent": {
                      "description": "Required. The parent resource of the ServiceBinding. Must be in the format `projects/*/locations/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new ServiceBinding in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serviceBindings/{serviceBindingsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "id": "networkservices.projects.locations.serviceBindings.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single ServiceBinding.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. A name of the ServiceBinding to delete. Must be in the format `projects/*/locations/*/serviceBindings/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/serviceBindings/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server guarantees this for 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID version 4 with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The project and location from which the ServiceBindings should be listed, specified in the format `projects/*/locations/*`."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The value returned by the last `ListServiceBindingsResponse` Indicates that this is a continuation of a prior `ListRouters` call, and that the system should return the next page of data."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Maximum number of ServiceBindings to return per call.",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListServiceBindingsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists ServiceBinding in a given project and location.",
                  "id": "networkservices.projects.locations.serviceBindings.list",
                  "path": "v1/{+parent}/serviceBindings",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serviceBindings",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "httpRoutes": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListHttpRoutesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If true, allow partial responses for multi-regional Aggregated List requests. Otherwise if one of the locations is down or unreachable, the Aggregated List request will fail."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The value returned by the last `ListHttpRoutesResponse` Indicates that this is a continuation of a prior `ListHttpRoutes` call, and that the system should return the next page of data.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The project and location from which the HttpRoutes should be listed, specified in the format `projects/*/locations/*`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum number of HttpRoutes to return per call.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Filter expression to restrict the list.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Lists HttpRoute in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/httpRoutes",
                  "id": "networkservices.projects.locations.httpRoutes.list",
                  "path": "v1/{+parent}/httpRoutes",
                  "httpMethod": "GET"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the HttpRoute to delete. Must be in the format `projects/*/locations/*/httpRoutes/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/httpRoutes/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "networkservices.projects.locations.httpRoutes.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/httpRoutes/{httpRoutesId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a single HttpRoute.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/httpRoutes",
                  "request": {
                    "$ref": "HttpRoute"
                  },
                  "path": "v1/{+parent}/httpRoutes",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "networkservices.projects.locations.httpRoutes.create",
                  "description": "Creates a new HttpRoute in a given project and location.",
                  "parameters": {
                    "httpRouteId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Short name of the HttpRoute resource to be created."
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource of the HttpRoute. Must be in the format `projects/*/locations/*`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Idempotent request UUID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the parameters of a single HttpRoute.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/httpRoutes/{httpRoutesId}",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the HttpRoute resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/httpRoutes/[^/]+$",
                      "location": "path",
                      "description": "Identifier. Name of the HttpRoute resource. It matches pattern `projects/*/locations/*/httpRoutes/http_route_name>`.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "HttpRoute"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "networkservices.projects.locations.httpRoutes.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/httpRoutes/{httpRoutesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. A name of the HttpRoute to get. Must be in the format `projects/*/locations/*/httpRoutes/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/httpRoutes/[^/]+$"
                    }
                  },
                  "description": "Gets details of a single HttpRoute.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "HttpRoute"
                  },
                  "path": "v1/{+name}",
                  "id": "networkservices.projects.locations.httpRoutes.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "wasmPlugins": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists `WasmPlugin` resources in a given project and location.",
                  "id": "networkservices.projects.locations.wasmPlugins.list",
                  "response": {
                    "$ref": "ListWasmPluginsResponse"
                  },
                  "path": "v1/{+parent}/wasmPlugins",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/wasmPlugins",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The project and location from which the `WasmPlugin` resources are listed, specified in the following format: `projects/{project}/locations/global`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The value returned by the last `ListWasmPluginsResponse` call. Indicates that this is a continuation of a prior `ListWasmPlugins` call, and that the next page of data is to be returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Maximum number of `WasmPlugin` resources to return per call. If not specified, at most 50 `WasmPlugin` resources are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                      "location": "query"
                    }
                  }
                },
                "patch": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/wasmPlugins/{wasmPluginsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/wasmPlugins/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Identifier. Name of the `WasmPlugin` resource in the following format: `projects/{project}/locations/{location}/wasmPlugins/{wasm_plugin}`."
                    },
                    "updateMask": {
                      "description": "Optional. Used to specify the fields to be overwritten in the `WasmPlugin` resource by the update. The fields specified in the `update_mask` field are relative to the resource, not the full request. An omitted `update_mask` field is treated as an implied `update_mask` field equivalent to all fields that are populated (that have a non-empty value). The `update_mask` field supports a special value `*`, which means that each field in the given `WasmPlugin` resource (including the empty ones) replaces the current value.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "WasmPlugin"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the parameters of the specified `WasmPlugin` resource.",
                  "id": "networkservices.projects.locations.wasmPlugins.patch"
                },
                "create": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/wasmPlugins",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "WasmPlugin"
                  },
                  "description": "Creates a new `WasmPlugin` resource in a given project and location.",
                  "id": "networkservices.projects.locations.wasmPlugins.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the `WasmPlugin` resource. Must be in the format `projects/{project}/locations/global`.",
                      "location": "path"
                    },
                    "wasmPluginId": {
                      "location": "query",
                      "description": "Required. User-provided ID of the `WasmPlugin` resource to be created.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/wasmPlugins"
                },
                "get": {
                  "parameters": {
                    "view": {
                      "location": "query",
                      "description": "Determines how much data must be returned in the response. See [AIP-157](https://google.aip.dev/157).",
                      "enumDescriptions": [
                        "Unspecified value. Do not use.",
                        "If specified in the `GET` request for a `WasmPlugin` resource, the server's response includes just the `WasmPlugin` resource.",
                        "If specified in the `GET` request for a `WasmPlugin` resource, the server's response includes the `WasmPlugin` resource with all its versions."
                      ],
                      "type": "string",
                      "enum": [
                        "WASM_PLUGIN_VIEW_UNSPECIFIED",
                        "WASM_PLUGIN_VIEW_BASIC",
                        "WASM_PLUGIN_VIEW_FULL"
                      ]
                    },
                    "name": {
                      "required": true,
                      "description": "Required. A name of the `WasmPlugin` resource to get. Must be in the format `projects/{project}/locations/global/wasmPlugins/{wasm_plugin}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/wasmPlugins/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "networkservices.projects.locations.wasmPlugins.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/wasmPlugins/{wasmPluginsId}",
                  "description": "Gets details of the specified `WasmPlugin` resource.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "WasmPlugin"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "networkservices.projects.locations.wasmPlugins.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the `WasmPlugin` resource to delete. Must be in the format `projects/{project}/locations/global/wasmPlugins/{wasm_plugin}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/wasmPlugins/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Deletes the specified `WasmPlugin` resource.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/wasmPlugins/{wasmPluginsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}"
                }
              },
              "resources": {
                "versions": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "WasmPluginVersion"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "networkservices.projects.locations.wasmPlugins.versions.get",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/wasmPlugins/{wasmPluginsId}/versions/{versionsId}",
                      "description": "Gets details of the specified `WasmPluginVersion` resource.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/wasmPlugins/[^/]+/versions/[^/]+$",
                          "description": "Required. A name of the `WasmPluginVersion` resource to get. Must be in the format `projects/{project}/locations/global/wasmPlugins/{wasm_plugin}/versions/{wasm_plugin_version}`.",
                          "type": "string",
                          "required": true
                        }
                      }
                    },
                    "delete": {
                      "description": "Deletes the specified `WasmPluginVersion` resource.",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "networkservices.projects.locations.wasmPlugins.versions.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. A name of the `WasmPluginVersion` resource to delete. Must be in the format `projects/{project}/locations/global/wasmPlugins/{wasm_plugin}/versions/{wasm_plugin_version}`.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/wasmPlugins/[^/]+/versions/[^/]+$",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/wasmPlugins/{wasmPluginsId}/versions/{versionsId}"
                    },
                    "create": {
                      "description": "Creates a new `WasmPluginVersion` resource in a given project and location.",
                      "request": {
                        "$ref": "WasmPluginVersion"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "wasmPluginVersionId": {
                          "location": "query",
                          "description": "Required. User-provided ID of the `WasmPluginVersion` resource to be created.",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource of the `WasmPluginVersion` resource. Must be in the format `projects/{project}/locations/global/wasmPlugins/{wasm_plugin}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/wasmPlugins/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/wasmPlugins/{wasmPluginsId}/versions",
                      "path": "v1/{+parent}/versions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "networkservices.projects.locations.wasmPlugins.versions.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST"
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Maximum number of `WasmPluginVersion` resources to return per call. If not specified, at most 50 `WasmPluginVersion` resources are returned. The maximum value is 1000; values above 1000 are coerced to 1000."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The value returned by the last `ListWasmPluginVersionsResponse` call. Indicates that this is a continuation of a prior `ListWasmPluginVersions` call, and that the next page of data is to be returned."
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/wasmPlugins/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The `WasmPlugin` resource whose `WasmPluginVersion`s are listed, specified in the following format: `projects/{project}/locations/global/wasmPlugins/{wasm_plugin}`."
                        }
                      },
                      "description": "Lists `WasmPluginVersion` resources in a given project and location.",
                      "id": "networkservices.projects.locations.wasmPlugins.versions.list",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/wasmPlugins/{wasmPluginsId}/versions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/versions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListWasmPluginVersionsResponse"
                      }
                    }
                  }
                }
              }
            },
            "grpcRoutes": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/grpcRoutes",
                  "id": "networkservices.projects.locations.grpcRoutes.list",
                  "parameters": {
                    "pageSize": {
                      "description": "Maximum number of GrpcRoutes to return per call.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "returnPartialSuccess": {
                      "description": "Optional. If true, allow partial responses for multi-regional Aggregated List requests. Otherwise if one of the locations is down or unreachable, the Aggregated List request will fail.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The value returned by the last `ListGrpcRoutesResponse` Indicates that this is a continuation of a prior `ListGrpcRoutes` call, and that the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The project and location from which the GrpcRoutes should be listed, specified in the format `projects/*/locations/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListGrpcRoutesResponse"
                  },
                  "description": "Lists GrpcRoutes in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/grpcRoutes"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/grpcRoutes/{grpcRoutesId}",
                  "request": {
                    "$ref": "GrpcRoute"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the parameters of a single GrpcRoute.",
                  "id": "networkservices.projects.locations.grpcRoutes.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Identifier. Name of the GrpcRoute resource. It matches pattern `projects/*/locations/*/grpcRoutes/`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/grpcRoutes/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the GrpcRoute resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "networkservices.projects.locations.grpcRoutes.create",
                  "description": "Creates a new GrpcRoute in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/grpcRoutes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/grpcRoutes",
                  "request": {
                    "$ref": "GrpcRoute"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the GrpcRoute. Must be in the format `projects/*/locations/*`."
                    },
                    "grpcRouteId": {
                      "location": "query",
                      "description": "Required. Short name of the GrpcRoute resource to be created.",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "description": "Gets details of a single GrpcRoute.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GrpcRoute"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/grpcRoutes/[^/]+$",
                      "type": "string",
                      "description": "Required. A name of the GrpcRoute to get. Must be in the format `projects/*/locations/*/grpcRoutes/*`.",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/grpcRoutes/{grpcRoutesId}",
                  "id": "networkservices.projects.locations.grpcRoutes.get"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "networkservices.projects.locations.grpcRoutes.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/grpcRoutes/{grpcRoutesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/grpcRoutes/[^/]+$",
                      "required": true,
                      "description": "Required. A name of the GrpcRoute to delete. Must be in the format `projects/*/locations/*/grpcRoutes/*`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a single GrpcRoute.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                }
              }
            },
            "gateways": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListGatewaysResponse"
                  },
                  "path": "v1/{+parent}/gateways",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gateways",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "networkservices.projects.locations.gateways.list",
                  "description": "Lists Gateways in a given project and location.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The project and location from which the Gateways should be listed, specified in the format `projects/*/locations/*`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of Gateways to return per call."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The value returned by the last `ListGatewaysResponse` Indicates that this is a continuation of a prior `ListGateways` call, and that the system should return the next page of data.",
                      "location": "query"
                    }
                  }
                },
                "patch": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gateways/{gatewaysId}",
                  "request": {
                    "$ref": "Gateway"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Gateway resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/gateways/[^/]+$",
                      "location": "path",
                      "description": "Identifier. Name of the Gateway resource. It matches pattern `projects/*/locations/*/gateways/`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "networkservices.projects.locations.gateways.patch",
                  "description": "Updates the parameters of a single Gateway.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "networkservices.projects.locations.gateways.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gateways/{gatewaysId}",
                  "description": "Deletes a single Gateway.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. A name of the Gateway to delete. Must be in the format `projects/*/locations/*/gateways/*`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/gateways/[^/]+$"
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkservices.projects.locations.gateways.create",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new Gateway in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/gateways",
                  "parameters": {
                    "gatewayId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Short name of the Gateway resource to be created."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource of the Gateway. Must be in the format `projects/*/locations/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "Gateway"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gateways"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single Gateway.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. A name of the Gateway to get. Must be in the format `projects/*/locations/*/gateways/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gateways/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gateways/{gatewaysId}",
                  "httpMethod": "GET",
                  "id": "networkservices.projects.locations.gateways.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Gateway"
                  }
                }
              },
              "resources": {
                "routeViews": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GatewayRouteView"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gateways/{gatewaysId}/routeViews/{routeViewsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "networkservices.projects.locations.gateways.routeViews.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/gateways/[^/]+/routeViews/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of the GatewayRouteView resource. Formats: projects/{project_number}/locations/{location}/gateways/{gateway}/routeViews/{route_view}",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Get a single RouteView of a Gateway."
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/gateways/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The Gateway to which a Route is associated. Formats: projects/{project_number}/locations/{location}/gateways/{gateway}",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Maximum number of GatewayRouteViews to return per call.",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The value returned by the last `ListGatewayRouteViewsResponse` Indicates that this is a continuation of a prior `ListGatewayRouteViews` call, and that the system should return the next page of data."
                        }
                      },
                      "id": "networkservices.projects.locations.gateways.routeViews.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListGatewayRouteViewsResponse"
                      },
                      "path": "v1/{+parent}/routeViews",
                      "description": "Lists RouteViews",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gateways/{gatewaysId}/routeViews"
                    }
                  }
                }
              }
            },
            "lbRouteExtensions": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "LbRouteExtension"
                  },
                  "id": "networkservices.projects.locations.lbRouteExtensions.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/lbRouteExtensions/{lbRouteExtensionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/lbRouteExtensions/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. A name of the `LbRouteExtension` resource to get. Must be in the format `projects/{project}/locations/{location}/lbRouteExtensions/{lb_route_extension}`."
                    }
                  },
                  "description": "Gets details of the specified `LbRouteExtension` resource."
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new `LbRouteExtension` resource in a given project and location.",
                  "parameters": {
                    "lbRouteExtensionId": {
                      "description": "Required. User-provided ID of the `LbRouteExtension` resource to be created.",
                      "type": "string",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server guarantees that for 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server ignores the second request This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource of the `LbRouteExtension` resource. Must be in the format `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "id": "networkservices.projects.locations.lbRouteExtensions.create",
                  "request": {
                    "$ref": "LbRouteExtension"
                  },
                  "path": "v1/{+parent}/lbRouteExtensions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/lbRouteExtensions",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "description": "Updates the parameters of the specified `LbRouteExtension` resource.",
                  "request": {
                    "$ref": "LbRouteExtension"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/lbRouteExtensions/{lbRouteExtensionsId}",
                  "id": "networkservices.projects.locations.lbRouteExtensions.patch",
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Identifier. Name of the `LbRouteExtension` resource in the following format: `projects/{project}/locations/{location}/lbRouteExtensions/{lb_route_extension}`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/lbRouteExtensions/[^/]+$"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server guarantees that for 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server ignores the second request This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "updateMask": {
                      "description": "Optional. Used to specify the fields to be overwritten in the `LbRouteExtension` resource by the update. The fields specified in the `update_mask` are relative to the resource, not the full request. A field is overwritten if it is in the mask. If the user does not specify a mask, then all fields are overwritten.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "networkservices.projects.locations.lbRouteExtensions.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/lbRouteExtensions/{lbRouteExtensionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes the specified `LbRouteExtension` resource.",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server can ignore the request if it has already been completed. The server guarantees that for 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server ignores the second request This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/lbRouteExtensions/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the `LbRouteExtension` resource to delete. Must be in the format `projects/{project}/locations/{location}/lbRouteExtensions/{lb_route_extension}`."
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "description": "Lists `LbRouteExtension` resources in a given project and location.",
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. Hint about how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results that the server returns.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The project and location from which the `LbRouteExtension` resources are listed. These values are specified in the following format: `projects/{project}/locations/{location}`.",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default."
                    },
                    "filter": {
                      "description": "Optional. Filtering results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListLbRouteExtensionsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/lbRouteExtensions",
                  "id": "networkservices.projects.locations.lbRouteExtensions.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/lbRouteExtensions",
                  "httpMethod": "GET"
                }
              }
            },
            "agentGateways": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "description": "Updates the parameters of a single AgentGateway.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "networkservices.projects.locations.agentGateways.patch",
                  "request": {
                    "$ref": "AgentGateway"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/agentGateways/{agentGatewaysId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. Name of the AgentGateway resource. It matches pattern `projects/*/locations/*/agentGateways/`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agentGateways/[^/]+$"
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the AgentGateway resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "networkservices.projects.locations.agentGateways.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agentGateways/[^/]+$",
                      "description": "Required. A name of the AgentGateway to delete. Must be in the format `projects/*/locations/*/agentGateways/*`.",
                      "type": "string",
                      "location": "path"
                    },
                    "etag": {
                      "location": "query",
                      "description": "Optional. The etag of the AgentGateway to delete.",
                      "type": "string"
                    }
                  },
                  "description": "Deletes a single AgentGateway.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/agentGateways/{agentGatewaysId}"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "AgentGateway"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/agentGateways",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource of the AgentGateway. Must be in the format `projects/*/locations/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "agentGatewayId": {
                      "description": "Required. Short name of the AgentGateway resource to be created.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "networkservices.projects.locations.agentGateways.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new AgentGateway in a given project and location.",
                  "path": "v1/{+parent}/agentGateways",
                  "httpMethod": "POST"
                },
                "list": {
                  "id": "networkservices.projects.locations.agentGateways.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists AgentGateways in a given project and location.",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListAgentGatewaysResponse` Indicates that this is a continuation of a prior `ListAgentGateways` call, and that the system should return the next page of data.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project and location from which the AgentGateways should be listed, specified in the format `projects/*/locations/*`.",
                      "required": true,
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "Optional. If true, allow partial responses for multi-regional Aggregated List requests. Otherwise if one of the locations is down or unreachable, the Aggregated List request will fail.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A filter expression to filter the results listed in the response. The expression must follow the syntax described in [AIP-160](https://google.aip.dev/160).",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Maximum number of AgentGateways to return per call.",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListAgentGatewaysResponse"
                  },
                  "path": "v1/{+parent}/agentGateways",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/agentGateways"
                },
                "get": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agentGateways/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. A name of the AgentGateway to get. Must be in the format `projects/*/locations/*/agentGateways/*`.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "AgentGateway"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "networkservices.projects.locations.agentGateways.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/agentGateways/{agentGatewaysId}",
                  "description": "Gets details of a single AgentGateway."
                }
              }
            },
            "meshes": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "networkservices.projects.locations.meshes.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/meshes",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The value returned by the last `ListMeshesResponse` Indicates that this is a continuation of a prior `ListMeshes` call, and that the system should return the next page of data."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The project and location from which the Meshes should be listed, specified in the format `projects/*/locations/*`."
                    },
                    "returnPartialSuccess": {
                      "description": "Optional. If true, allow partial responses for multi-regional Aggregated List requests. Otherwise if one of the locations is down or unreachable, the Aggregated List request will fail.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum number of Meshes to return per call."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListMeshesResponse"
                  },
                  "path": "v1/{+parent}/meshes",
                  "description": "Lists Meshes in a given project and location."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single Mesh.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/meshes/[^/]+$",
                      "required": true,
                      "description": "Required. A name of the Mesh to get. Must be in the format `projects/*/locations/*/meshes/*`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
[...]
