{
  "mtlsRootUrl": "https://observability.mtls.googleapis.com/",
  "canonicalName": "Cloud Observability",
  "discoveryVersion": "v1",
  "version": "v1",
  "revision": "20260827",
  "version_module": true,
  "batchPath": "batch",
  "basePath": "",
  "description": "Provides functionality for configuring the observability scope, which controls the log, metric, and trace data that you can view.",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://observability.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://observability.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://observability.asia-east2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://observability.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://observability.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://observability.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://observability.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast2",
      "endpointUrl": "https://observability.asia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://observability.asia-southeast3.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://observability.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://observability.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://observability.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://observability.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://observability.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://observability.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://observability.europe-west8.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://observability.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://observability.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://observability.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://observability.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://observability.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://observability.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://observability.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://observability.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://observability.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://observability.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://observability.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://observability.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://observability.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://observability.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://observability.europe-central2.rep.googleapis.com/"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://observability.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://observability.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://observability.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://observability.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://observability.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://observability.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://observability.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://observability.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://observability.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://observability.southamerica-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://observability.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://observability.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://observability.us.rep.googleapis.com/",
      "location": "us"
    },
    {
      "endpointUrl": "https://observability.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "rootUrl": "https://observability.googleapis.com/",
  "id": "observability:v1",
  "name": "observability",
  "resources": {
    "folders": {
      "resources": {
        "locations": {
          "methods": {
            "getSettings": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Get Settings",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^folders/[^/]+/locations/[^/]+/settings$",
                  "description": "Required. Name of the settings to retrieve. Name format: \"projects/[PROJECT_ID]/locations/[LOCATION]/settings\" \"folders/[FOLDER_ID]/locations/[LOCATION]/settings\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION]/settings\"",
                  "location": "path"
                }
              },
              "id": "observability.folders.locations.getSettings",
              "response": {
                "$ref": "Settings"
              },
              "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/settings"
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1/folders/{foldersId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "observability.folders.locations.get",
              "description": "Gets information about a location."
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/locations",
              "id": "observability.folders.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1/folders/{foldersId}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "extraLocationTypes": {
                  "type": "string",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "name": {
                  "pattern": "^folders/[^/]+$",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "required": true
                }
              }
            },
            "updateSettings": {
              "description": "Update Settings",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Optional. The field mask specifying which fields of the settings are to be updated.",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier. The resource name of the settings.",
                  "location": "path",
                  "pattern": "^folders/[^/]+/locations/[^/]+/settings$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "id": "observability.folders.locations.updateSettings",
              "request": {
                "$ref": "Settings"
              },
              "path": "v1/{+name}",
              "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/settings",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "observability.folders.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^folders/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/operations/{operationsId}:cancel"
                },
                "list": {
                  "path": "v1/{+name}/operations",
                  "id": "observability.folders.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^folders/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size."
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/operations"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "observability.folders.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^folders/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "observability.folders.locations.operations.get"
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "scopes": {
              "methods": {
                "patch": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/scopes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. Name of the resource. The format is: projects/{project}/locations/{location}/scopes/{scope} The `{location}` field must be set to `global`. The `{scope}` field must be set to `_Default`."
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Scope resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field is overwritten when it is in the mask. If the user does not provide a mask, then all fields present in the request are overwritten.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates the parameters of a single Scope.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Scope"
                  },
                  "response": {
                    "$ref": "Scope"
                  },
                  "id": "observability.projects.locations.scopes.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/scopes/{scopesId}",
                  "path": "v1/{+name}"
                },
                "get": {
                  "description": "Gets details of a single Scope.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Scope"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/scopes/{scopesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the resource. The format is: projects/{project}/locations/{location}/scopes/{scope} The `{location}` field must be set to `global`. The `{scope}` field must be set to `_Default`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/scopes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "observability.projects.locations.scopes.get"
                }
              }
            },
            "traceScopes": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListTraceScopesResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/traceScopes",
                  "id": "observability.projects.locations.traceScopes.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The full resource name of the location to look for trace scopes: projects/[PROJECT_ID]/locations/[LOCATION_ID] For example: projects/my-project/locations/global"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "path": "v1/{+parent}/traceScopes",
                  "description": "List TraceScopes of a project in a particular location.",
                  "httpMethod": "GET"
                },
                "patch": {
                  "description": "Update a TraceScope.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/traceScopes/{traceScopesId}",
                  "response": {
                    "$ref": "TraceScope"
                  },
                  "request": {
                    "$ref": "TraceScope"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/traceScopes/[^/]+$",
                      "description": "Identifier. The resource name of the trace scope. For example: projects/my-project/locations/global/traceScopes/my-trace-scope",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update."
                    }
                  },
                  "httpMethod": "PATCH",
                  "id": "observability.projects.locations.traceScopes.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "create": {
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/traceScopes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "traceScopeId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. A client-assigned identifier for the trace scope."
                    },
                    "parent": {
                      "description": "Required. The full resource name of the location where the trace scope should be created projects/[PROJECT_ID]/locations/[LOCATION_ID] For example: projects/my-project/locations/global",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Create a new TraceScope.",
                  "request": {
                    "$ref": "TraceScope"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/traceScopes",
                  "response": {
                    "$ref": "TraceScope"
                  },
                  "id": "observability.projects.locations.traceScopes.create"
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Get TraceScope resource.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/traceScopes/[^/]+$",
                      "description": "Required. The resource name of the trace scope: projects/[PROJECT_ID]/locations/[LOCATION_ID]/traceScopes/[TRACE_SCOPE_ID] For example: projects/my-project/locations/global/traceScopes/my-trace-scope",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/traceScopes/{traceScopesId}",
                  "id": "observability.projects.locations.traceScopes.get",
                  "response": {
                    "$ref": "TraceScope"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "id": "observability.projects.locations.traceScopes.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/traceScopes/{traceScopesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Delete a TraceScope.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The full resource name of the trace scope to delete: projects/[PROJECT_ID]/locations/[LOCATION_ID]/traceScopes/[TRACE_SCOPE_ID] For example: projects/my-project/locations/global/traceScopes/my-trace-scope",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/traceScopes/[^/]+$",
                      "required": true
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "id": "observability.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}"
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "observability.projects.locations.operations.list",
                  "parameters": {
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "get": {
                  "id": "observability.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource."
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "observability.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                }
              }
            },
            "buckets": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/buckets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of buckets to return. If unspecified, then at most 100 buckets are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of buckets. The format is: projects/[PROJECT_ID]/locations/[LOCATION]",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListBuckets` call. Provide this to retrieve the subsequent page.",
                      "type": "string",
                      "location": "query"
                    },
                    "showDeleted": {
                      "description": "Optional. If true, then the response will include deleted buckets.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "description": "List buckets of a project in a particular location.",
                  "httpMethod": "GET",
                  "id": "observability.projects.locations.buckets.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/buckets",
                  "response": {
                    "$ref": "ListBucketsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/buckets/{bucketsId}",
                  "id": "observability.projects.locations.buckets.patch",
                  "description": "Update a bucket.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Bucket"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Optional. The list of fields to update.",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/buckets/[^/]+$",
                      "description": "Identifier. Name of the bucket. The format is: projects/[PROJECT_ID]/locations/[LOCATION]/buckets/[BUCKET_ID]",
                      "location": "path"
                    }
                  },
                  "httpMethod": "PATCH"
                },
                "create": {
                  "parameters": {
                    "bucketId": {
                      "description": "Required. Id of the bucket to create.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the project and location for the bucket. The format is: projects/[PROJECT_ID]/locations/[LOCATION]",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/buckets",
                  "httpMethod": "POST",
                  "description": "Create a new bucket.",
                  "request": {
                    "$ref": "Bucket"
                  },
                  "path": "v1/{+parent}/buckets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "observability.projects.locations.buckets.create"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/buckets/[^/]+$",
                      "description": "Required. Name of the bucket to retrieve. The format is: projects/[PROJECT_ID]/locations/[LOCATION]/buckets/[BUCKET_ID]",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "observability.projects.locations.buckets.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/buckets/{bucketsId}",
                  "response": {
                    "$ref": "Bucket"
                  },
                  "description": "Get bucket resource.",
                  "path": "v1/{+name}"
                }
              },
              "resources": {
                "datasets": {
                  "resources": {
                    "links": {
                      "methods": {
                        "list": {
                          "parameters": {
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListLinks` call. Provide this to retrieve the subsequent page.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/buckets/[^/]+/datasets/[^/]+$",
                              "required": true,
                              "location": "path",
                              "description": "Required. The parent dataset that owns this collection of links. The format is: projects/[PROJECT_ID]/locations/[LOCATION]/buckets/[BUCKET_ID]/datasets/[DATASET_ID]"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "description": "Optional. The maximum number of links to return. If unspecified, then at most 100 links are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                              "format": "int32"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/links",
                          "id": "observability.projects.locations.buckets.datasets.links.list",
                          "httpMethod": "GET",
                          "description": "List links of a dataset.",
                          "response": {
                            "$ref": "ListLinksResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/buckets/{bucketsId}/datasets/{datasetsId}/links"
                        },
                        "get": {
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/buckets/[^/]+/datasets/[^/]+/links/[^/]+$",
                              "description": "Required. Name of the link to retrieve. The format is: projects/[PROJECT_ID]/locations/[LOCATION]/buckets/[BUCKET_ID]/datasets/[DATASET_ID]/links/[LINK_ID]",
                              "type": "string",
                              "required": true
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/buckets/{bucketsId}/datasets/{datasetsId}/links/{linksId}",
                          "description": "Get a link.",
                          "httpMethod": "GET",
                          "id": "observability.projects.locations.buckets.datasets.links.get",
                          "response": {
                            "$ref": "Link"
                          }
                        },
                        "delete": {
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "description": "Required. Name of the link to delete. The format is: projects/[PROJECT_ID]/locations/[LOCATION]/buckets/[BUCKET_ID]/datasets/[DATASET_ID]/links/[LINK_ID]",
                              "pattern": "^projects/[^/]+/locations/[^/]+/buckets/[^/]+/datasets/[^/]+/links/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "description": "Delete a link.",
                          "id": "observability.projects.locations.buckets.datasets.links.delete",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/buckets/{bucketsId}/datasets/{datasetsId}/links/{linksId}"
                        },
                        "patch": {
                          "description": "Update a link.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "PATCH",
                          "parameters": {
                            "updateMask": {
                              "type": "string",
                              "format": "google-fieldmask",
                              "description": "Optional. The list of fields to update.",
                              "location": "query"
                            },
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Identifier. Name of the link. The format is: projects/[PROJECT_ID]/locations/[LOCATION]/buckets/[BUCKET_ID]/datasets/[DATASET_ID]/links/[LINK_ID]",
                              "pattern": "^projects/[^/]+/locations/[^/]+/buckets/[^/]+/datasets/[^/]+/links/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "observability.projects.locations.buckets.datasets.links.patch",
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/buckets/{bucketsId}/datasets/{datasetsId}/links/{linksId}",
                          "request": {
                            "$ref": "Link"
                          },
                          "response": {
                            "$ref": "Operation"
                          }
                        },
                        "create": {
                          "description": "Create a new link.",
                          "id": "observability.projects.locations.buckets.datasets.links.create",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Required. Name of the containing dataset for this link. The format is: projects/[PROJECT_ID]/locations/[LOCATION]/buckets/[BUCKET_ID]/datasets/[DATASET_ID]",
                              "pattern": "^projects/[^/]+/locations/[^/]+/buckets/[^/]+/datasets/[^/]+$"
                            },
                            "linkId": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. Id of the link to create."
                            }
                          },
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Operation"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/buckets/{bucketsId}/datasets/{datasetsId}/links",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "Link"
                          },
                          "path": "v1/{+parent}/links",
                          "parameterOrder": [
                            "parent"
                          ]
                        }
                      }
                    },
                    "views": {
                      "methods": {
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/buckets/[^/]+/datasets/[^/]+/views/[^/]+$",
                              "description": "Required. Name of the view to retrieve. The format is: projects/[PROJECT_ID]/locations/[LOCATION]/buckets/[BUCKET_ID]/datasets/[DATASET_ID]/views/[VIEW_ID]"
                            }
                          },
                          "response": {
                            "$ref": "View"
                          },
                          "httpMethod": "GET",
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/buckets/{bucketsId}/datasets/{datasetsId}/views/{viewsId}",
                          "description": "Get a view.",
                          "id": "observability.projects.locations.buckets.datasets.views.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "list": {
                          "id": "observability.projects.locations.buckets.datasets.views.list",
                          "response": {
                            "$ref": "ListViewsResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/buckets/{bucketsId}/datasets/{datasetsId}/views",
                          "path": "v1/{+parent}/views",
                          "description": "List views of a dataset.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "parent": {
                              "description": "Required. Dataset whose views are to be listed. The format is: projects/[PROJECT_ID]/locations/[LOCATION]/buckets/[BUCKET_ID]/datasets/[DATASET_ID]",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/buckets/[^/]+/datasets/[^/]+$"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "Optional. A page token, received from a previous `ListViews` call. Provide this to retrieve the subsequent page.",
                              "type": "string"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "description": "Optional. The maximum number of views to return. If unspecified, then at most 100 views are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                              "format": "int32"
                            }
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/buckets/{bucketsId}/datasets/{datasetsId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/buckets/[^/]+/datasets/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. Name of the dataset to retrieve. The format is: projects/[PROJECT_ID]/locations/[LOCATION]/buckets/[BUCKET_ID]/datasets/[DATASET_ID]"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Dataset"
                      },
                      "id": "observability.projects.locations.buckets.datasets.get",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Get a dataset."
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/datasets",
                      "parameters": {
                        "showDeleted": {
                          "type": "boolean",
                          "description": "Optional. If true, then the response will include deleted datasets.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of datasets to return. If unspecified, then at most 100 datasets are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListDatasets` call. Provide this to retrieve the subsequent page."
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent bucket that owns this collection of datasets. The format is: projects/[PROJECT_ID]/locations/[LOCATION]/buckets/[BUCKET_ID]",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/buckets/[^/]+$",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/buckets/{bucketsId}/datasets",
                      "response": {
                        "$ref": "ListDatasetsResponse"
                      },
                      "id": "observability.projects.locations.buckets.datasets.list",
                      "description": "List datasets of a bucket."
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "getSettings": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Settings"
              },
              "description": "Get Settings",
              "id": "observability.projects.locations.getSettings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the settings to retrieve. Name format: \"projects/[PROJECT_ID]/locations/[LOCATION]/settings\" \"folders/[FOLDER_ID]/locations/[LOCATION]/settings\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION]/settings\"",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET"
            },
            "list": {
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "observability.projects.locations.list",
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                }
              },
              "httpMethod": "GET"
            },
            "updateSettings": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "description": "Update Settings",
              "id": "observability.projects.locations.updateSettings",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The field mask specifying which fields of the settings are to be updated.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "description": "Identifier. The resource name of the settings.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "Settings"
              },
              "path": "v1/{+name}"
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Resource name for the location.",
                  "required": true
                }
              },
              "id": "observability.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location."
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}:cancel",
                  "id": "observability.organizations.locations.operations.cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "observability.organizations.locations.operations.get"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations",
                  "id": "observability.organizations.locations.operations.list",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "observability.organizations.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          },
          "methods": {
            "get": {
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "observability.organizations.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              }
            },
            "list": {
              "id": "observability.organizations.locations.list",
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getSettings": {
              "response": {
                "$ref": "Settings"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings",
              "description": "Get Settings",
              "id": "observability.organizations.locations.getSettings",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$",
                  "description": "Required. Name of the settings to retrieve. Name format: \"projects/[PROJECT_ID]/locations/[LOCATION]/settings\" \"folders/[FOLDER_ID]/locations/[LOCATION]/settings\" \"organizations/[ORGANIZATION_ID]/locations/[LOCATION]/settings\"",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "updateSettings": {
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Update Settings",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. The field mask specifying which fields of the settings are to be updated.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "description": "Identifier. The resource name of the settings.",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "Settings"
              },
              "id": "observability.organizations.locations.updateSettings"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "Dataset": {
      "type": "object",
      "id": "Dataset",
      "properties": {
        "deleteTime": {
          "description": "Output only. Delete timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "purgeTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the dataset in soft-deleted state is purged."
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of the dataset. The format is: projects/[PROJECT_ID]/locations/[LOCATION]/buckets/[BUCKET_ID]/datasets/[DATASET_ID]",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the dataset.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Create timestamp."
        }
      },
      "description": "A dataset is a collection of data that has a specific configuration. A dataset can be backed by multiple tables. One bucket can have multiple datasets."
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "TraceScope": {
      "id": "TraceScope",
      "description": "A trace scope is a collection of resources whose traces are queried together.",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The creation timestamp of the trace scope.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceNames": {
          "description": "Required. Names of the projects that are included in this trace scope. * `projects/[PROJECT_ID]` A trace scope can include a maximum of 20 projects.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the trace scope. For example: projects/my-project/locations/global/traceScopes/my-trace-scope",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last update timestamp of the trace scope."
        },
        "description": {
          "type": "string",
          "description": "Optional. Describes this trace scope. The maximum length of the description is 8000 characters."
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "type": "object"
    },
    "ListDatasetsResponse": {
      "properties": {
        "datasets": {
          "type": "array",
          "description": "The list of datasets.",
          "items": {
            "$ref": "Dataset"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. When this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListDatasetsResponse",
      "description": "Response for listing datasets."
    },
    "ListViewsResponse": {
      "type": "object",
      "id": "ListViewsResponse",
      "description": "Response for listing views.",
      "properties": {
        "views": {
          "type": "array",
          "description": "The list of views.",
          "items": {
            "$ref": "View"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token that can be sent as `page_token` to retrieve the next page. When this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ListBucketsResponse": {
      "type": "object",
      "id": "ListBucketsResponse",
      "description": "Response for listing buckets.",
      "properties": {
        "nextPageToken": {
          "description": "Optional. A token that can be sent as `page_token` to retrieve the next page. When this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "buckets": {
          "type": "array",
          "items": {
            "$ref": "Bucket"
          },
          "description": "Optional. The list of buckets."
        }
      }
    },
    "Scope": {
      "id": "Scope",
      "type": "object",
      "description": "Message describing Scope object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Update timestamp. Note: The Update timestamp for the default scope is initially unset.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the resource. The format is: projects/{project}/locations/{location}/scopes/{scope} The `{location}` field must be set to `global`. The `{scope}` field must be set to `_Default`."
        },
        "traceScope": {
          "type": "string",
          "description": "Required. The resource name of the `TraceScope`. For example: projects/myproject/locations/global/traceScopes/my-trace-scope"
        },
        "logScope": {
          "description": "Required. The full resource name of the `LogScope`. For example: //logging.googleapis.com/projects/myproject/locations/global/logScopes/my-log-scope",
          "type": "string"
        }
      }
    },
    "Settings": {
      "properties": {
        "defaultStorageLocation": {
          "description": "Optional. The location which should be used when any regional resources are provisioned by Google Cloud.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the settings.",
          "type": "string"
        },
        "serviceAccountId": {
          "description": "Output only. The service account for the given resource container, such as project or folder. This will be used by Cloud Observability to perform actions in the container's project like access KMS keys or create Links. Always the same service account per resource container regardless of region.",
          "type": "string",
          "readOnly": true
        },
        "kmsKeyName": {
          "description": "Optional. The resource name for the configured Cloud KMS key. KMS key name format: \"projects/[PROJECT_ID]/locations/[LOCATION]/keyRings/[KEYRING]/cryptoKeys/[KEY]\" For example: `\"projects/my-project/locations/us-central1/keyRings/my-ring/cryptoKeys/my-key\"`",
          "type": "string"
        }
      },
      "id": "Settings",
      "type": "object",
      "description": "Describes the settings associated with a project, organization, or folder."
    },
    "Bucket": {
      "properties": {
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. Delete timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "cmekSettings": {
          "description": "Optional. Settings for configuring CMEK on a bucket.",
          "$ref": "CmekSettings"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the bucket."
        },
        "purgeTime": {
          "type": "string",
          "description": "Output only. Timestamp when the bucket in soft-deleted state is purged.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Update timestamp.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of the bucket. The format is: projects/[PROJECT_ID]/locations/[LOCATION]/buckets/[BUCKET_ID]",
          "type": "string"
        }
      },
      "id": "Bucket",
      "description": "Bucket configuration for storing observability data.",
      "type": "object"
    },
    "Link": {
      "description": "A link lets a dataset be accessible to BigQuery via usage of linked datasets.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the link.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of the link. The format is: projects/[PROJECT_ID]/locations/[LOCATION]/buckets/[BUCKET_ID]/datasets/[DATASET_ID]/links/[LINK_ID]",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. A user friendly display name.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create timestamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Link"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "View": {
      "description": "A view corresponds to a read-only representation of a subset of the data in a dataset.",
      "id": "View",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Update timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create timestamp."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the view."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the view. The format is: projects/[PROJECT_ID]/locations/[LOCATION]/buckets/[BUCKET_ID]/datasets/[DATASET_ID]/views/[VIEW_ID]"
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        }
      }
    },
    "ListLinksResponse": {
      "id": "ListLinksResponse",
      "description": "Response for listing links.",
      "type": "object",
      "properties": {
        "links": {
          "items": {
            "$ref": "Link"
          },
          "description": "The list of links.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token that can be sent as `page_token` to retrieve the next page. When this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "CmekSettings": {
      "description": "Settings for configuring CMEK for a bucket.",
      "id": "CmekSettings",
      "properties": {
        "kmsKeyVersion": {
          "description": "Output only. The CryptoKeyVersion resource name for the configured Cloud KMS key. The format is: projects/[PROJECT_ID]/locations/[LOCATION]/keyRings/[KEYRING]/cryptoKeys/[KEY]/cryptoKeyVersions/[VERSION] For example: projects/my-project/locations/us-central1/keyRings/my-ring/cryptoKeys/my-key/cryptoKeyVersions/1 This read-only field is used to convey the specific configured CryptoKeyVersion of the `kms_key` that has been configured. It is populated when the CMEK settings are bound to a single key version.",
          "readOnly": true,
          "type": "string"
        },
        "kmsKey": {
          "description": "Optional. The resource name for the configured Cloud KMS key. The format is: projects/[PROJECT_ID]/locations/[LOCATION]/keyRings/[KEYRING]/cryptoKeys/[KEY] For example: projects/my-project/locations/us-central1/keyRings/my-ring/cryptoKeys/my-key",
          "type": "string"
        },
        "serviceAccountId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The service account used to access the key."
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
[...]
