{
  "ownerName": "Google",
  "batchPath": "batch",
  "version_module": true,
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/container-analysis/docs/on-demand-scanning/",
  "ownerDomain": "google.com",
  "title": "On-Demand Scanning API",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "mtlsRootUrl": "https://ondemandscanning.mtls.googleapis.com/",
  "canonicalName": "On-Demand Scanning",
  "baseUrl": "https://ondemandscanning.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "id": "ondemandscanning:v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "id": "ondemandscanning.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "ondemandscanning.projects.locations.operations.delete",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "wait": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "ondemandscanning.projects.locations.operations.wait",
                  "path": "v1/{+name}:wait",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait",
                  "httpMethod": "POST",
                  "parameters": {
                    "timeout": {
                      "location": "query",
                      "type": "string",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "format": "google-duration"
                    },
                    "name": {
                      "description": "The name of the operation resource to wait on.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}:cancel",
                  "id": "ondemandscanning.projects.locations.operations.cancel"
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "id": "ondemandscanning.projects.locations.operations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "scans": {
              "methods": {
                "analyzePackages": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/scans:analyzePackages",
                  "id": "ondemandscanning.projects.locations.scans.analyzePackages",
                  "request": {
                    "$ref": "AnalyzePackagesRequestV1"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/scans:analyzePackages",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent of the resource for which analysis is requested. Format: projects/[project_name]/locations/[location]",
                      "type": "string"
                    }
                  },
                  "description": "Initiates an analysis of the provided packages."
                }
              },
              "resources": {
                "vulnerabilities": {
                  "methods": {
                    "list": {
                      "path": "v1/{+parent}/vulnerabilities",
                      "id": "ondemandscanning.projects.locations.scans.vulnerabilities.list",
                      "response": {
                        "$ref": "ListVulnerabilitiesResponseV1"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/scans/{scansId}/vulnerabilities",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "The page token, resulting from a previous call to ListVulnerabilities.",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The number of vulnerabilities to retrieve.",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/scans/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent of the collection of Vulnerabilities being requested. Format: projects/[project_name]/locations/[location]/scans/[scan_id]",
                          "type": "string"
                        }
                      },
                      "description": "Lists vulnerabilities resulting from a successfully completed scan.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "protocol": "rest",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "description": "A service to scan container images for vulnerabilities.",
  "schemas": {
    "RelatedUrl": {
      "description": "Metadata for any related URL information.",
      "type": "object",
      "id": "RelatedUrl",
      "properties": {
        "label": {
          "description": "Label to describe usage of the URL.",
          "type": "string"
        },
        "url": {
          "description": "Specific URL associated with the resource.",
          "type": "string"
        }
      }
    },
    "VexAssessment": {
      "type": "object",
      "description": "VexAssessment provides all publisher provided Vex information that is related to this vulnerability.",
      "properties": {
        "relatedUris": {
          "items": {
            "$ref": "RelatedUrl"
          },
          "description": "Holds a list of references associated with this vulnerability item and assessment.",
          "type": "array"
        },
        "state": {
          "description": "Provides the state of this Vulnerability assessment.",
          "type": "string",
          "enumDescriptions": [
            "No state is specified.",
            "This product is known to be affected by this vulnerability.",
            "This product is known to be not affected by this vulnerability.",
            "This product contains a fix for this vulnerability.",
            "It is not known yet whether these versions are or are not affected by the vulnerability. However, it is still under investigation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "AFFECTED",
            "NOT_AFFECTED",
            "FIXED",
            "UNDER_INVESTIGATION"
          ]
        },
        "remediations": {
          "description": "Specifies details on how to handle (and presumably, fix) a vulnerability.",
          "type": "array",
          "items": {
            "$ref": "Remediation"
          }
        },
        "vulnerabilityId": {
          "type": "string",
          "description": "The vulnerability identifier for this Assessment. Will hold one of common identifiers e.g. CVE, GHSA etc."
        },
        "justification": {
          "description": "Justification provides the justification when the state of the assessment if NOT_AFFECTED.",
          "$ref": "Justification"
        },
        "noteName": {
          "type": "string",
          "description": "The VulnerabilityAssessment note from which this VexAssessment was generated. This will be of the form: `projects/[PROJECT_ID]/notes/[NOTE_ID]`."
        },
        "impacts": {
          "type": "array",
          "description": "Contains information about the impact of this vulnerability, this will change with time.",
          "items": {
            "type": "string"
          }
        },
        "cve": {
          "type": "string",
          "description": "Holds the MITRE standard Common Vulnerabilities and Exposures (CVE) tracking number for the vulnerability. Deprecated: Use vulnerability_id instead to denote CVEs.",
          "deprecated": true
        }
      },
      "id": "VexAssessment"
    },
    "SBOMStatus": {
      "properties": {
        "sbomState": {
          "enum": [
            "SBOM_STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE"
          ],
          "description": "The progress of the SBOM generation.",
          "type": "string",
          "enumDescriptions": [
            "Default unknown state.",
            "SBOM scanning is pending.",
            "SBOM scanning has completed."
          ]
        },
        "error": {
          "description": "If there was an error generating an SBOM, this will indicate what that error was.",
          "type": "string"
        }
      },
      "id": "SBOMStatus",
      "type": "object",
      "description": "The status of an SBOM generation."
    },
    "ListVulnerabilitiesResponseV1": {
      "properties": {
        "occurrences": {
          "items": {
            "$ref": "Occurrence"
          },
          "type": "array",
          "description": "The list of Vulnerability Occurrences resulting from a scan."
        },
        "nextPageToken": {
          "description": "A page token that can be used in a subsequent call to ListVulnerabilities to continue retrieving results.",
          "type": "string"
        }
      },
      "id": "ListVulnerabilitiesResponseV1",
      "type": "object",
      "description": "ListVulnerabilitiesResponse contains a single page of vulnerabilities resulting from a scan."
    },
    "ComplianceVersion": {
      "description": "Describes the CIS benchmark version that is applicable to a given OS and os version.",
      "type": "object",
      "id": "ComplianceVersion",
      "properties": {
        "cpeUri": {
          "type": "string",
          "description": "The CPE URI (https://cpe.mitre.org/specification/) this benchmark is applicable to."
        },
        "version": {
          "description": "The version of the benchmark. This is set to the version of the OS-specific CIS document the benchmark is defined in.",
          "type": "string"
        },
        "benchmarkDocument": {
          "type": "string",
          "description": "The name of the document that defines this benchmark, e.g. \"CIS Container-Optimized OS\"."
        }
      }
    },
    "PackageVersion": {
      "type": "object",
      "id": "PackageVersion",
      "properties": {
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "licenses": {
          "type": "array",
          "description": "The licenses associated with this package. Note that this has to go on the PackageVersion level, because we can have cases with images with the same source having different licences. E.g. in Alpine, musl and musl-utils both have the same origin musl, but have different sets of licenses.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AnalyzePackagesResponse": {
      "properties": {
        "scan": {
          "description": "The name of the scan resource created by this successful scan.",
          "type": "string"
        }
      },
      "id": "AnalyzePackagesResponse",
      "type": "object",
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan."
    },
    "NonCompliantFile": {
      "description": "Details about files that caused a compliance check to fail. display_command is a single command that can be used to display a list of non compliant files. When there is no such command, we can also iterate a list of non compliant file using 'path'.",
      "type": "object",
      "id": "NonCompliantFile",
      "properties": {
        "displayCommand": {
          "description": "Command to display the non-compliant files.",
          "type": "string"
        },
        "path": {
          "description": "Empty if `display_command` is set.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "Explains why a file is non compliant for a CIS check."
        }
      }
    },
    "Envelope": {
      "properties": {
        "payloadType": {
          "type": "string"
        },
        "payload": {
          "format": "byte",
          "type": "string"
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "EnvelopeSignature"
          }
        }
      },
      "id": "Envelope",
      "type": "object",
      "description": "MUST match https://github.com/secure-systems-lab/dsse/blob/master/envelope.proto. An authenticated message of arbitrary type."
    },
    "VulnerabilityOccurrence": {
      "id": "VulnerabilityOccurrence",
      "properties": {
        "risk": {
          "description": "Risk information about the vulnerability, such as CISA, EPSS, etc.",
          "$ref": "Risk"
        },
        "vexAssessment": {
          "$ref": "VexAssessment"
        },
        "fixAvailable": {
          "type": "boolean",
          "description": "Output only. Whether at least one of the affected packages has a fix available."
        },
        "cvssv3": {
          "description": "The cvss v3 score for the vulnerability.",
          "$ref": "CVSS"
        },
        "shortDescription": {
          "type": "string",
          "description": "Output only. A one sentence description of this vulnerability."
        },
        "extraDetails": {
          "description": "Occurrence-specific extra details about the vulnerability.",
          "type": "string"
        },
        "cvssV4": {
          "description": "The cvss v4 score for the vulnerability.",
          "$ref": "CVSS"
        },
        "effectiveSeverity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "The distro assigned severity for this vulnerability when it is available, otherwise this is the note provider assigned severity. When there are multiple PackageIssues for this vulnerability, they can have different effective severities because some might be provided by the distro while others are provided by the language ecosystem for a language pack. For this reason, it is advised to use the effective severity on the PackageIssue level. In the case where multiple PackageIssues have differing effective severities, this field should be the highest severity for any of the PackageIssues.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "cvssV2": {
          "description": "The cvss v2 score for the vulnerability.",
          "$ref": "CVSS"
        },
        "type": {
          "type": "string",
          "description": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.)."
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Output only. The note provider assigned severity of this vulnerability.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "cvssScore": {
          "type": "number",
          "description": "Output only. The CVSS score of this vulnerability. CVSS score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity.",
          "format": "float"
        },
        "packageIssue": {
          "items": {
            "$ref": "PackageIssue"
          },
          "type": "array",
          "description": "Required. The set of affected locations and their fixes (if available) within the associated resource."
        },
        "relatedUrls": {
          "type": "array",
          "description": "Output only. URLs related to this vulnerability.",
          "items": {
            "$ref": "RelatedUrl"
          }
        },
        "longDescription": {
          "description": "Output only. A detailed description of this vulnerability.",
          "type": "string"
        },
        "cvssVersion": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "CVSS v2.",
            "CVSS v3.",
            "CVSS v4."
          ],
          "description": "Output only. CVSS version used to populate cvss_score and severity.",
          "enum": [
            "CVSS_VERSION_UNSPECIFIED",
            "CVSS_VERSION_2",
            "CVSS_VERSION_3",
            "CVSS_VERSION_4"
          ]
        }
      },
      "description": "An occurrence of a severity vulnerability on a resource.",
      "type": "object"
    },
    "PackageOccurrence": {
      "id": "PackageOccurrence",
      "properties": {
        "packageType": {
          "description": "Output only. The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.).",
          "type": "string",
          "readOnly": true
        },
        "version": {
          "description": "Output only. The version of the package.",
          "$ref": "Version",
          "readOnly": true
        },
        "license": {
          "description": "Licenses that have been declared by the authors of the package.",
          "$ref": "License"
        },
        "cpeUri": {
          "description": "Output only. The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package. The cpe_uri will be blank for language packages.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Required. Output only. The name of the installed package.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "type": "array",
          "description": "All of the places within the filesystem versions of this package have been found.",
          "items": {
            "$ref": "Location"
          }
        },
        "architecture": {
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ],
          "description": "Output only. The CPU architecture for which packages in this distribution channel were built. Architecture will be blank for language packages.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown architecture.",
            "X86 architecture.",
            "X64 architecture."
          ]
        }
      },
      "description": "Details on how a particular software package was installed on a system.",
      "type": "object"
    },
    "SecretStatus": {
      "description": "The status of the secret with a timestamp.",
      "type": "object",
      "id": "SecretStatus",
      "properties": {
        "status": {
          "description": "Optional. The status of the secret.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "The status of the secret is unknown.",
            "The secret is valid.",
            "The secret is invalid."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "UNKNOWN",
            "VALID",
            "INVALID"
          ]
        },
        "message": {
          "description": "Optional. Optional message about the status code.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Optional. The time the secret status was last updated.",
          "format": "google-datetime"
        }
      }
    },
    "ExploitPredictionScoringSystem": {
      "id": "ExploitPredictionScoringSystem",
      "properties": {
        "percentile": {
          "type": "number",
          "description": "The percentile of the current score, the proportion of all scored vulnerabilities with the same or a lower EPSS score",
          "format": "double"
        },
        "score": {
          "description": "The EPSS score representing the probability [0-1] of exploitation in the wild in the next 30 days",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "SlsaMetadata": {
      "type": "object",
      "description": "Other properties of the build.",
      "properties": {
        "buildFinishedOn": {
          "description": "The timestamp of when the build completed.",
          "format": "google-datetime",
          "type": "string"
        },
        "reproducible": {
          "type": "boolean",
          "description": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output."
        },
        "buildInvocationId": {
          "type": "string",
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec."
        },
        "buildStartedOn": {
          "type": "string",
          "description": "The timestamp of when the build started.",
          "format": "google-datetime"
        },
        "completeness": {
          "description": "Indicates that the builder claims certain fields in this message to be complete.",
          "$ref": "SlsaCompleteness"
        }
      },
      "id": "SlsaMetadata"
    },
    "AnalyzePackagesResponseV1": {
      "type": "object",
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan.",
      "properties": {
        "scan": {
          "description": "The name of the scan resource created by this successful scan.",
          "type": "string"
        }
      },
      "id": "AnalyzePackagesResponseV1"
    },
    "Source": {
      "id": "Source",
      "properties": {
        "context": {
          "description": "If provided, the source code used for the build came from this location.",
          "$ref": "SourceContext"
        },
        "additionalContexts": {
          "items": {
            "$ref": "SourceContext"
          },
          "type": "array",
          "description": "If provided, some of the source code used for the build may be found in these locations, in the case where the source repository had multiple remotes or submodules. This list will not include the context specified in the context field."
        },
        "fileHashes": {
          "additionalProperties": {
            "$ref": "FileHashes"
          },
          "description": "Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (.tar.gz), the FileHash will be for the single path to that file.",
          "type": "object"
        },
        "artifactStorageSourceUri": {
          "description": "If provided, the input binary artifacts for the build came from this location.",
          "type": "string"
        }
      },
      "description": "Source describes the location of the source used for the build.",
      "type": "object"
    },
    "BaseImage": {
      "type": "object",
      "description": "BaseImage describes a base image of a container image.",
      "properties": {
        "layerCount": {
          "type": "integer",
          "description": "The number of layers that the base image is composed of.",
          "format": "int32"
        },
        "repository": {
          "description": "The repository name in which the base image is from.",
          "type": "string"
        },
        "registry": {
          "type": "string",
          "description": "The registry in which the base image is from."
        },
        "name": {
          "description": "The name of the base image.",
          "type": "string"
        }
      },
      "id": "BaseImage"
    },
    "RepoId": {
      "properties": {
        "projectRepoId": {
          "description": "A combination of a project ID and a repo name.",
          "$ref": "ProjectRepoId"
        },
        "uid": {
          "description": "A server-assigned, globally unique identifier.",
          "type": "string"
        }
      },
      "id": "RepoId",
      "type": "object",
      "description": "A unique identifier for a Cloud Repo."
    },
    "SlsaProvenance": {
      "type": "object",
      "id": "SlsaProvenance",
      "properties": {
        "metadata": {
          "$ref": "SlsaMetadata"
        },
        "recipe": {
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required",
          "$ref": "SlsaRecipe"
        },
        "builder": {
          "description": "required",
          "$ref": "SlsaBuilder"
        },
        "materials": {
          "items": {
            "$ref": "Material"
          },
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty.",
          "type": "array"
        }
      }
    },
    "AnalyzePackagesMetadataV1": {
      "id": "AnalyzePackagesMetadataV1",
      "properties": {
        "resourceUri": {
          "type": "string",
          "description": "The resource URI of the container image being scanned."
        },
        "createTime": {
          "type": "string",
          "description": "When the scan was created.",
          "format": "google-datetime"
        }
      },
      "description": "AnalyzePackagesMetadata contains metadata for an active scan of a container image.",
      "type": "object"
    },
    "Material": {
      "id": "Material",
      "properties": {
        "uri": {
          "type": "string"
        },
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata": {
      "description": "Other properties of the build.",
      "type": "object",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata",
      "properties": {
        "buildInvocationId": {
          "type": "string"
        },
        "buildStartedOn": {
          "format": "google-datetime",
          "type": "string"
        },
        "completeness": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness"
        },
        "buildFinishedOn": {
          "format": "google-datetime",
          "type": "string"
        },
        "reproducible": {
          "type": "boolean"
        }
      }
    },
    "FindingLocation": {
      "description": "Location details with file path and line number.",
      "type": "object",
      "id": "FindingLocation",
      "properties": {
        "filePath": {
          "description": "Relative path of the file containing the finding.",
          "type": "string"
        },
        "lineNumber": {
          "type": "string",
          "description": "Line number (1-based), or 0 if whole File / unknown.",
          "format": "int64"
        }
      }
    },
    "Category": {
      "id": "Category",
      "properties": {
        "categoryId": {
          "description": "The identifier of the category.",
          "type": "string"
        },
        "name": {
          "description": "The localized name of the category.",
          "type": "string"
        }
      },
      "description": "The category to which the update belongs.",
      "type": "object"
    },
    "Version": {
      "id": "Version",
      "properties": {
        "epoch": {
          "description": "Used to correct mistakes in the version numbering scheme.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "enum": [
            "VERSION_KIND_UNSPECIFIED",
            "NORMAL",
            "MINIMUM",
            "MAXIMUM"
          ],
          "description": "Required. Distinguishes between sentinel MIN/MAX versions and normal versions.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "A standard package version.",
            "A special version representing negative infinity.",
            "A special version representing positive infinity."
          ]
        },
        "name": {
          "description": "Required only when version kind is NORMAL. The main part of the version name.",
          "type": "string"
        },
        "revision": {
          "description": "The iteration of the package build from the above version.",
          "type": "string"
        },
        "inclusive": {
          "type": "boolean",
          "description": "Whether this version is specifying part of an inclusive range. Grafeas does not have the capability to specify version ranges; instead we have fields that specify start version and end versions. At times this is insufficient - we also need to specify whether the version is included in the range or is excluded from the range. This boolean is expected to be set to true when the version is included in a range."
        },
        "fullName": {
          "type": "string",
          "description": "Human readable version string. This string is of the form :- and is only set when kind is NORMAL."
        }
      },
      "description": "Version contains structured information about the version of a package.",
      "type": "object"
    },
    "RunDetails": {
      "id": "RunDetails",
      "properties": {
        "metadata": {
          "$ref": "BuildMetadata"
        },
        "byproducts": {
          "items": {
            "$ref": "ResourceDescriptor"
          },
          "type": "array"
        },
        "builder": {
          "$ref": "ProvenanceBuilder"
        }
      },
      "type": "object"
    },
    "BuildOccurrence": {
      "type": "object",
      "description": "Details of a build occurrence.",
      "properties": {
        "provenance": {
          "description": "The actual provenance for the build.",
          "$ref": "BuildProvenance"
        },
        "intotoStatement": {
          "description": "In-toto Statement representation as defined in spec. The intoto_statement can contain any type of provenance. The serialized payload of the statement can be stored and signed in the Occurrence's envelope.",
          "$ref": "InTotoStatement"
        },
        "provenanceBytes": {
          "type": "string",
          "description": "Serialized JSON representation of the provenance, used in generating the build signature in the corresponding build note. After verifying the signature, `provenance_bytes` can be unmarshalled and compared to the provenance to confirm that it is unchanged. A base64-encoded string representation of the provenance bytes is used for the signature in order to interoperate with openssl which expects this format for signature verification. The serialized form is captured both to avoid ambiguity in how the provenance is marshalled to json as well to prevent incompatibilities with future changes."
        },
        "intotoProvenance": {
          "description": "Deprecated. See InTotoStatement for the replacement. In-toto Provenance representation as defined in spec.",
          "$ref": "InTotoProvenance"
        },
        "inTotoSlsaProvenanceV1": {
          "description": "In-Toto Slsa Provenance V1 represents a slsa provenance meeting the slsa spec, wrapped in an in-toto statement. This allows for direct jsonification of a to-spec in-toto slsa statement with a to-spec slsa provenance.",
          "$ref": "InTotoSlsaProvenanceV1"
        }
      },
      "id": "BuildOccurrence"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "Status"
    },
    "Finding": {
      "properties": {
        "category": {
          "type": "string",
          "description": "Category of the finding."
        },
        "location": {
          "description": "Location (path and line) where the finding was detected.",
          "$ref": "FindingLocation"
        },
        "details": {
          "description": "Description of the finding category.",
          "type": "string"
        },
        "scanner": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified scanner.",
            "Static scanner.",
            "LLM scanner."
          ],
          "description": "Scanner determines which engine (e.g. static, llm) emitted the finding.",
          "enum": [
            "SCANNER_UNSPECIFIED",
            "STATIC",
            "LLM"
          ]
        },
        "severity": {
          "description": "Severity of the finding.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ]
        }
      },
      "id": "Finding",
      "type": "object",
      "description": "Finding provides details for a single finding within an AISkillAnalysisOccurrence."
    },
    "Artifact": {
      "properties": {
        "id": {
          "description": "Artifact ID, if any; for container images, this will be a URL by digest like `gcr.io/projectID/imagename@sha256:123456`.",
          "type": "string"
        },
        "checksum": {
          "description": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container.",
          "type": "string"
        },
        "names": {
          "type": "array",
          "description": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Artifact",
      "type": "object",
      "description": "Artifact describes a build product."
    },
    "BuildProvenance": {
      "type": "object",
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion.",
      "properties": {
        "id": {
          "description": "Required. Unique identifier of the build.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Time at which execution of the build was finished.",
          "format": "google-datetime"
        },
        "sourceProvenance": {
          "description": "Details of the Source input to the build.",
          "$ref": "Source"
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project."
        },
        "createTime": {
          "description": "Time at which the build was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "Time at which execution of the build was started.",
          "format": "google-datetime",
          "type": "string"
        },
        "commands": {
          "type": "array",
          "description": "Commands requested by the build.",
          "items": {
            "$ref": "Command"
          }
        },
        "builderVersion": {
          "description": "Version string of the builder at the time this build was executed.",
          "type": "string"
        },
        "creator": {
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time.",
          "type": "string"
        },
        "logsUri": {
          "type": "string",
          "description": "URI where any logs for this provenance were written."
        },
        "builtArtifacts": {
          "items": {
            "$ref": "Artifact"
          },
          "description": "Output of the build.",
          "type": "array"
        },
        "buildOptions": {
          "type": "object",
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "triggerId": {
          "type": "string",
          "description": "Trigger identifier if the build was triggered automatically; empty if not."
        }
      },
      "id": "BuildProvenance"
    },
    "SourceContext": {
      "properties": {
        "git": {
          "description": "A SourceContext referring to any third party Git repo (e.g., GitHub).",
          "$ref": "GitSourceContext"
        },
        "gerrit": {
          "description": "A SourceContext referring to a Gerrit project.",
          "$ref": "GerritSourceContext"
        },
        "cloudRepo": {
          "description": "A SourceContext referring to a revision in a Google Cloud Source Repo.",
          "$ref": "CloudRepoSourceContext"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels with user defined metadata."
        }
      },
      "id": "SourceContext",
      "type": "object",
      "description": "A SourceContext is a reference to a tree of files. A SourceContext together with a path point to a unique revision of a single file or directory."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaInvocation": {
      "type": "object",
      "description": "Identifies the event that kicked off the build.",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "environment": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "configSource": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource"
        }
      },
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaInvocation"
    },
    "FileHashes": {
      "properties": {
        "fileHash": {
          "description": "Required. Collection of file hashes.",
          "type": "array",
          "items": {
            "$ref": "Hash"
          }
        }
      },
      "id": "FileHashes",
      "type": "object",
      "description": "Container message for hashes of byte content of files, used in source messages to verify integrity of source input to the build."
    },
    "PackageData": {
      "type": "object",
      "properties": {
        "osVersion": {
          "description": "The version of the OS Used to generate the cpe_uri for OS packages",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version of the package being analysed"
        },
        "os": {
          "description": "The OS affected by a vulnerability Used to generate the cpe_uri for OS packages",
          "type": "string"
        },
        "packageType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Operating System",
            "Java packages from Maven.",
            "Go third-party packages.",
            "Go toolchain + standard library packages.",
            "Python packages.",
            "NPM packages.",
            "Nuget (C#/.NET) packages.",
            "Ruby packges (from RubyGems package manager).",
            "Rust packages from Cargo (GitHub ecosystem is `RUST`).",
            "PHP packages from Composer package manager.",
            "Swift packages from Swift Package Manager (SwiftPM)."
          ],
          "description": "The type of package: os, maven, go, etc.",
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "OS",
            "MAVEN",
            "GO",
            "GO_STDLIB",
            "PYPI",
            "NPM",
            "NUGET",
            "RUBYGEMS",
            "RUST",
            "COMPOSER",
            "SWIFT"
          ]
        },
        "binarySourceInfo": {
          "items": {
            "$ref": "BinarySourceInfo"
          },
          "type": "array",
          "description": "A bundle containing the binary and source information."
        },
        "binaryVersion": {
          "description": "DEPRECATED",
          "$ref": "PackageVersion"
        },
        "dependencyChain": {
          "items": {
            "$ref": "LanguagePackageDependency"
          },
          "description": "The dependency chain between this package and the user's artifact. List in order from the customer's package under review first, to the current package last. Inclusive of the original package and the current package.",
          "type": "array"
        },
        "architecture": {
          "type": "string",
          "description": "The architecture of the package."
        },
        "fileLocation": {
          "description": "The path to the jar file / go binary file.",
          "type": "array",
          "items": {
            "$ref": "FileLocation"
          }
        },
        "cpeUri": {
          "type": "string",
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) in which the vulnerability may manifest. Examples include distro or storage location for vulnerable jar."
        },
        "unused": {
          "type": "string"
        },
        "licenses": {
          "type": "array",
          "description": "The list of licenses found that are related to a given package. Note that licenses may also be stored on the BinarySourceInfo. If there is no BinarySourceInfo (because there's no concept of source vs binary), then it will be stored here, while if there are BinarySourceInfos, it will be stored there, as one source can have multiple binaries with different licenses.",
          "items": {
            "type": "string"
          }
        },
        "hashDigest": {
          "description": "HashDigest stores the SHA512 hash digest of the jar file if the package is of type Maven. This field will be unset for non Maven packages.",
          "type": "string"
        },
        "sourceVersion": {
          "description": "DEPRECATED",
          "$ref": "PackageVersion"
        },
        "maintainer": {
          "description": "The maintainer of the package.",
          "$ref": "Maintainer"
        },
        "package": {
          "type": "string",
          "description": "The package being analysed for vulnerabilities"
        },
        "patchedCve": {
          "type": "array",
          "description": "CVEs that this package is no longer vulnerable to",
          "items": {
            "type": "string"
          }
        },
        "layerDetails": {
          "$ref": "LayerDetails"
        }
      },
      "id": "PackageData"
    },
    "CVSS": {
      "type": "object",
      "description": "Common Vulnerability Scoring System. For details, see https://www.first.org/cvss/specification-document This is a message we will try to use for storing various versions of CVSS rather than making a separate proto for storing a specific version.",
      "properties": {
        "attackComplexity": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Low attack complexity (AC:L). Defined in CVSS v2, v3, v4.",
            "High attack complexity (AC:H). Defined in CVSS v2, v3, v4.",
            "Medium attack complexity (AC:M). Defined in CVSS v2."
          ],
          "description": "Attack Complexity (AC). Defined in CVSS v2, v3, v4.",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH",
            "ATTACK_COMPLEXITY_MEDIUM"
          ]
        },
        "confidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Confidentiality Impact (C). Defined in CVSS v2, v3.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "scope": {
          "description": "Scope (S). Defined in CVSS v3.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Scope: Unchanged (S:U). Defined in CVSS v3.",
            "Scope: Changed (S:C). Defined in CVSS v3."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "subsequentSystemAvailabilityImpact": {
          "description": "Subsequent System Availability Impact (SA). Defined in CVSS v4.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "impactScore": {
          "type": "number",
          "format": "float"
        },
        "availabilityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Availability Impact (A). Defined in CVSS v2, v3.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "privilegesRequired": {
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "description": "Privileges Required (PR). Defined in CVSS v3, v4.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "No privileges required (PR:N). Defined in CVSS v3, v4.",
            "Low privileges required (PR:L). Defined in CVSS v3, v4.",
            "High privileges required (PR:H). Defined in CVSS v3, v4."
          ]
        },
        "vulnerableSystemAvailabilityImpact": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "description": "Vulnerable System Availability Impact (VA). Defined in CVSS v4.",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "subsequentSystemConfidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "description": "Subsequent System Confidentiality Impact (SC). Defined in CVSS v4."
        },
        "exploitabilityScore": {
          "type": "number",
          "format": "float"
        },
        "attackVector": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Attack Vector: Network (AV:N). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Adjacent (AV:A). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Local (AV:L). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Physical (AV:P). Defined in CVSS v3, v4."
          ],
          "description": "Attack Vector (AV). Defined in CVSS v2, v3, v4.",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        },
        "attackRequirements": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "No attack requirements (AT:N). Defined in CVSS v4.",
            "Attack requirements: Present (AT:P). Defined in CVSS v4."
          ],
          "description": "Attack Requirements (AT). Defined in CVSS v4.",
          "enum": [
            "ATTACK_REQUIREMENTS_UNSPECIFIED",
            "ATTACK_REQUIREMENTS_NONE",
            "ATTACK_REQUIREMENTS_PRESENT"
          ]
        },
        "baseScore": {
          "description": "The base score is a function of the base metric scores.",
          "format": "float",
          "type": "number"
        },
        "userInteraction": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "No user interaction required (UI:N). Defined in CVSS v3, v4.",
            "User interaction required (UI:R). Defined in CVSS v3.",
            "Passive user interaction required (UI:P). Defined in CVSS v4.",
            "Active user interaction required (UI:A). Defined in CVSS v4."
          ],
          "description": "User Interaction (UI). Defined in CVSS v3, v4.",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED",
            "USER_INTERACTION_PASSIVE",
            "USER_INTERACTION_ACTIVE"
          ]
        },
        "vulnerableSystemIntegrityImpact": {
          "description": "Vulnerable System Integrity Impact (VI). Defined in CVSS v4.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "integrityImpact": {
          "description": "Integrity Impact (I). Defined in CVSS v2, v3.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "authentication": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Multiple authentication required (Au:M). Defined in CVSS v2.",
            "Single authentication required (Au:S). Defined in CVSS v2.",
            "No authentication required (Au:N). Defined in CVSS v2."
          ],
          "description": "Authentication (Au). Defined in CVSS v2.",
          "enum": [
            "AUTHENTICATION_UNSPECIFIED",
            "AUTHENTICATION_MULTIPLE",
            "AUTHENTICATION_SINGLE",
            "AUTHENTICATION_NONE"
          ]
        },
        "subsequentSystemIntegrityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "description": "Subsequent System Integrity Impact (SI). Defined in CVSS v4."
        },
        "vulnerableSystemConfidentialityImpact": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "description": "Vulnerable System Confidentiality Impact (VC). Defined in CVSS v4.",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        }
      },
      "id": "CVSS"
    },
    "BuilderConfig": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "id": "BuilderConfig"
    },
    "InTotoSlsaProvenanceV1": {
      "properties": {
        "subject": {
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        },
        "_type": {
          "type": "string",
          "description": "InToto spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement"
        },
        "predicateType": {
          "type": "string"
        },
        "predicate": {
          "$ref": "SlsaProvenanceV1"
        }
      },
      "id": "InTotoSlsaProvenanceV1",
      "type": "object"
    },
    "CISAKnownExploitedVulnerabilities": {
      "id": "CISAKnownExploitedVulnerabilities",
      "properties": {
        "knownRansomwareCampaignUse": {
          "type": "string",
          "description": "Whether the vulnerability is known to have been leveraged as part of a ransomware campaign."
        }
      },
      "type": "object"
    },
    "SlsaBuilder": {
      "type": "object",
      "id": "SlsaBuilder",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "AISkillAnalysisOccurrence": {
      "type": "object",
      "description": "AISkillAnalysisOccurrence provides the results of an AI-based skill analysis.",
      "properties": {
        "findings": {
          "type": "array",
          "description": "Findings produced by the analysis.",
          "items": {
            "$ref": "Finding"
          }
        },
        "maxSeverity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ],
          "description": "Maximum severity found among findings.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ]
        },
        "skillName": {
          "description": "Name of the skill that produced this analysis.",
          "type": "string"
        }
      },
      "id": "AISkillAnalysisOccurrence"
    },
    "UpgradeOccurrence": {
      "type": "object",
      "description": "An Upgrade Occurrence represents that a specific resource_url could install a specific upgrade. This presence is supplied via local sources (i.e. it is present in the mirror and the running system has noticed its availability). For Windows, both distribution and windows_update contain information for the Windows update.",
      "properties": {
        "package": {
          "description": "Required for non-Windows OS. The package this Upgrade is for.",
          "type": "string"
        },
        "parsedVersion": {
          "description": "Required for non-Windows OS. The version of the package in a machine + human readable form.",
          "$ref": "Version"
        },
        "distribution": {
          "description": "Metadata about the upgrade for available for the specific operating system for the resource_url. This allows efficient filtering, as well as making it easier to use the occurrence.",
          "$ref": "UpgradeDistribution"
        },
        "windowsUpdate": {
          "description": "Required for Windows OS. Represents the metadata about the Windows update.",
          "$ref": "WindowsUpdate"
        }
      },
      "id": "UpgradeOccurrence"
    },
    "BuildDefinition": {
      "properties": {
        "internalParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "resolvedDependencies": {
          "items": {
            "$ref": "ResourceDescriptor"
          },
          "type": "array"
        },
        "buildType": {
          "type": "string"
        },
        "externalParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "BuildDefinition",
      "type": "object"
    },
    "Maintainer": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "email": {
          "type": "string"
        }
      },
      "id": "Maintainer"
    },
    "PackageIssue": {
      "description": "A detail for a distro and package this vulnerability occurrence was found in and its associated fix (if one is available).",
      "type": "object",
      "id": "PackageIssue",
      "properties": {
        "affectedCpeUri": {
          "description": "Required. The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was found in.",
          "type": "string"
        },
        "fixedCpeUri": {
          "description": "The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was fixed in. It is possible for this to be different from the affected_cpe_uri.",
          "type": "string"
        },
        "fixAvailable": {
          "description": "Output only. Whether a fix is available for this package.",
          "type": "boolean"
        },
        "packageType": {
          "type": "string",
          "description": "The type of package (e.g. OS, MAVEN, GO)."
        },
        "affectedPackage": {
          "type": "string",
          "description": "Required. The package this vulnerability was found in."
        },
        "affectedVersion": {
          "description": "Required. The version of the package that is installed on the resource affected by this vulnerability.",
          "$ref": "Version"
        },
        "fixedPackage": {
          "description": "The package this vulnerability was fixed in. It is possible for this to be different from the affected_package.",
          "type": "string"
        },
        "fixedVersion": {
          "description": "Required. The version of the package this vulnerability was fixed in. Setting this to VersionKind.MAXIMUM means no fix is yet available.",
          "$ref": "Version"
        },
        "fileLocation": {
          "items": {
            "$ref": "GrafeasV1FileLocation"
          },
          "type": "array",
          "description": "The location at which this package was found."
        },
        "effectiveSeverity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Output only. The distro or language system assigned severity for this vulnerability when that is available and note provider assigned severity when it is not available.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        }
      }
    },
    "SlsaCompleteness": {
      "properties": {
        "materials": {
          "type": "boolean",
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\"."
        },
        "environment": {
          "type": "boolean",
          "description": "If true, the builder claims that recipe.environment is claimed to be complete."
        },
        "arguments": {
          "type": "boolean",
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe."
        }
      },
      "id": "SlsaCompleteness",
      "type": "object",
      "description": "Indicates that the builder claims certain fields in this message to be complete."
    },
    "SlsaProvenanceZeroTwo": {
      "description": "See full explanation of fields at slsa.dev/provenance/v0.2.",
      "type": "object",
      "id": "SlsaProvenanceZeroTwo",
      "properties": {
        "invocation": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaInvocation"
        },
        "buildConfig": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "buildType": {
          "type": "string"
        },
        "metadata": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata"
        },
        "builder": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaBuilder"
        },
        "materials": {
          "type": "array",
          "items": {
            "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial"
          }
        }
      }
    },
    "GerritSourceContext": {
      "description": "A SourceContext referring to a Gerrit project.",
      "type": "object",
      "id": "GerritSourceContext",
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "A revision (commit) ID."
        },
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "AliasContext"
        },
        "gerritProject": {
          "description": "The full project name within the host. Projects may be nested, so \"project/subproject\" is a valid project name. The \"repo name\" is the hostURI/project.",
          "type": "string"
        },
        "hostUri": {
          "type": "string",
          "description": "The URI of a running Gerrit instance."
        }
      }
    },
    "GitSourceContext": {
      "id": "GitSourceContext",
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "Git commit hash."
        },
        "url": {
          "type": "string",
          "description": "Git repository URL."
        }
      },
      "description": "A GitSourceContext denotes a particular revision in a third party Git repository (e.g., GitHub).",
      "type": "object"
    },
    "License": {
      "id": "License",
      "properties": {
        "expression": {
          "description": "Often a single license can be used to represent the licensing terms. Sometimes it is necessary to include a choice of one or more licenses or some combination of license identifiers. Examples: \"LGPL-2.1-only OR MIT\", \"LGPL-2.1-only AND MIT\", \"GPL-2.0-or-later WITH Bison-exception-2.2\".",
          "type": "string"
        },
        "comments": {
          "type": "string",
          "description": "Comments"
        }
      },
      "description": "License information.",
      "type": "object"
    },
    "ProjectRepoId": {
      "description": "Selects a repo using a Google Cloud Platform project ID (e.g., winged-cargo-31) and a repo name within that project.",
      "type": "object",
      "id": "ProjectRepoId",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The ID of the project."
        },
        "repoName": {
          "type": "string",
          "description": "The name of the repo. Leave empty for the default repo."
        }
      }
    },
    "Location": {
      "id": "Location",
      "properties": {
        "path": {
          "type": "string",
          "description": "The path from which we gathered that this package/version is installed."
        },
        "cpeUri": {
          "type": "string",
          "description": "Deprecated. The CPE URI in [CPE format](https://cpe.mitre.org/specification/)"
        },
        "version": {
          "description": "Deprecated. The version installed at this location.",
          "$ref": "Version"
        }
      },
      "description": "An occurrence of a particular package installation found within a system's filesystem. E.g., glibc was found in `/var/lib/dpkg/status`.",
      "type": "object"
    },
    "LanguagePackageDependency": {
      "id": "LanguagePackageDependency",
      "properties": {
        "version": {
          "type": "string"
        },
        "package": {
          "type": "string"
        }
      },
      "description": "Indicates a language package available between this package and the customer's resource artifact.",
      "type": "object"
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource": {
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource",
      "properties": {
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uri": {
          "type": "string"
        },
        "entryPoint": {
          "type": "string"
        }
      },
      "description": "Describes where the config file that kicked off the build came from. This is effectively a pointer to the source where buildConfig came from.",
      "type": "object"
    },
    "File": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "File"
    },
    "SBOMReferenceOccurrence": {
      "type": "object",
      "description": "The occurrence representing an SBOM reference as applied to a specific resource. The occurrence follows the DSSE specification. See https://github.com/secure-systems-lab/dsse/blob/master/envelope.md for more details.",
      "properties": {
        "payloadType": {
          "description": "The kind of payload that SbomReferenceIntotoPayload takes. Since it's in the intoto format, this value is expected to be 'application/vnd.in-toto+json'.",
          "type": "string"
        },
        "payload": {
          "description": "The actual payload that contains the SBOM reference data.",
          "$ref": "SbomReferenceIntotoPayload"
        },
        "signatures": {
          "type": "array",
          "description": "The signatures over the payload.",
          "items": {
            "$ref": "EnvelopeSignature"
          }
        }
      },
      "id": "SBOMReferenceOccurrence"
    },
    "ProvenanceBuilder": {
      "id": "ProvenanceBuilder",
      "properties": {
        "id": {
          "type": "string"
        },
        "version": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "builderDependencies": {
          "type": "array",
          "items": {
            "$ref": "ResourceDescriptor"
          }
        }
      },
      "type": "object"
    },
    "DSSEAttestationOccurrence": {
      "type": "object",
      "description": "Deprecated. Prefer to use a regular Occurrence, and populate the Envelope at the top level of the Occurrence.",
      "properties": {
        "envelope": {
          "description": "If doing something security critical, make sure to verify the signatures in this metadata.",
          "$ref": "Envelope"
        },
        "statement": {
          "$ref": "InTotoStatement"
        }
      },
      "id": "DSSEAttestationOccurrence"
    },
    "SbomReferenceIntotoPredicate": {
      "description": "A predicate which describes the SBOM being referenced.",
      "type": "object",
      "id": "SbomReferenceIntotoPredicate",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "The mime type of the SBOM."
        },
        "referrerId": {
          "description": "The person or system referring this predicate to the consumer.",
          "type": "string"
        },
        "digest": {
          "type": "object",
          "description": "A map of algorithm to digest of the contents of the SBOM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "type": "string",
          "description": "The location of the SBOM."
        }
      }
    },
    "AnalysisCompleted": {
      "properties": {
        "analysisType": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "AnalysisCompleted",
      "type": "object",
      "description": "Indicates which analysis completed successfully. Multiple types of analysis can be performed on a single resource."
    },
    "LayerDetails": {
      "id": "LayerDetails",
      "properties": {
        "command": {
          "type": "string",
          "description": "The layer build command that was used to build the layer. This may not be found in all layers depending on how the container image is built."
        },
        "index": {
          "description": "The index of the layer in the container image.",
          "format": "int32",
          "type": "integer"
        },
        "chainId": {
          "type": "string",
          "description": "The layer chain ID (sha256 hash) of the layer in the container image. https://github.com/opencontainers/image-spec/blob/main/config.md#layer-chainid"
        },
        "baseImages": {
          "items": {
            "$ref": "BaseImage"
          },
          "type": "array",
          "description": "The base images the layer is found within."
        },
        "diffId": {
          "type": "string",
          "description": "The diff ID (sha256 hash) of the layer in the container image."
        }
      },
      "description": "Details about the layer a package was found in.",
      "type": "object"
    },
    "Completeness": {
      "type": "object",
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "properties": {
        "materials": {
          "type": "boolean",
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\"."
        },
        "environment": {
          "type": "boolean",
          "description": "If true, the builder claims that recipe.environment is claimed to be complete."
        },
        "arguments": {
          "type": "boolean",
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe."
        }
      },
      "id": "Completeness"
    },
    "DiscoveryOccurrence": {
      "id": "DiscoveryOccurrence",
      "properties": {
        "analysisStatusError": {
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage is output only and populated by the API.",
          "$ref": "Status"
        },
        "continuousAnalysis": {
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ],
          "description": "Whether the resource is continuously analyzed."
        },
        "cpe": {
          "description": "The CPE of the resource being scanned.",
          "type": "string"
        },
        "archiveTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time occurrences related to this discovery occurrence were archived.",
          "format": "google-datetime"
        },
        "sbomStatus": {
          "description": "The status of an SBOM generation.",
          "$ref": "SBOMStatus"
        },
        "files": {
          "type": "array",
          "description": "Files that make up the resource described by the occurrence.",
          "items": {
            "$ref": "File"
          }
        },
        "lastVulnerabilityUpdateTime": {
          "description": "The last time vulnerability scan results changed.",
          "format": "google-datetime",
          "type": "string"
        },
        "analysisError": {
          "items": {
            "$ref": "Status"
          },
          "description": "Indicates any errors encountered during analysis of a resource. There could be 0 or more of these errors.",
          "type": "array"
        },
        "lastScanTime": {
          "description": "The last time this resource was scanned.",
          "format": "google-datetime",
          "type": "string"
        },
        "analysisStatus": {
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "FINISHED_SUCCESS",
            "COMPLETE",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has finished successfully.",
            "Analysis has completed.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported."
          ],
          "description": "The status of discovery for the resource."
        },
        "analysisCompleted": {
          "$ref": "AnalysisCompleted"
        }
      },
      "description": "Provides information about the analysis status of a discovered resource.",
      "type": "object"
    },
    "AttestationOccurrence": {
      "properties": {
        "jwts": {
          "type": "array",
          "description": "One or more JWTs encoding a self-contained attestation. Each JWT encodes the payload that it verifies within the JWT itself. Verifier implementation SHOULD ignore the `serialized_payload` field when verifying these JWTs. If only JWTs are present on this AttestationOccurrence, then the `serialized_payload` SHOULD be left empty. Each JWT SHOULD encode a claim specific to the `resource_uri` of this Occurrence, but this is not validated by Grafeas metadata API implementations. The JWT itself is opaque to Grafeas.",
          "items": {
            "$ref": "Jwt"
          }
        },
        "serializedPayload": {
          "description": "Required. The serialized payload that is verified by one or more `signatures`.",
          "format": "byte",
          "type": "string"
        },
        "signatures": {
          "items": {
            "$ref": "Signature"
          },
          "type": "array",
          "description": "One or more signatures over `serialized_payload`. Verifier implementations should consider this attestation message verified if at least one `signature` verifies `serialized_payload`. See `Signature` in common.proto for more details on signature structure and verification."
        }
      },
      "id": "AttestationOccurrence",
      "type": "object",
      "description": "Occurrence that represents a single \"attestation\". The authenticity of an attestation can be verified using the attached signature. If the verifier trusts the public key of the signer, then verifying the signature is sufficient to establish trust. In this circumstance, the authority to which this attestation is attached is primarily useful for lookup (how to find this attestation if you already know the authority and artifact to be verified) and intent (for which authority this attestation was intended to sign."
    },
    "AnalyzePackagesMetadata": {
      "properties": {
        "resourceUri": {
          "type": "string",
          "description": "The resource URI of the container image being scanned."
        },
        "createTime": {
          "description": "When the scan was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "AnalyzePackagesMetadata",
      "type": "object",
      "description": "AnalyzePackagesMetadata contains metadata for an active scan of a container image."
    },
    "Hash": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The hash value.",
          "format": "byte"
        },
        "type": {
          "type": "string",
          "description": "Required. The type of hash that was performed, e.g. \"SHA-256\"."
        }
      },
      "id": "Hash",
      "type": "object",
      "description": "Container message for hash values."
    },
    "Layer": {
      "id": "Layer",
      "properties": {
        "arguments": {
          "type": "string",
          "description": "The recovered arguments to the Dockerfile directive."
        },
        "directive": {
          "description": "Required. The recovered Dockerfile directive used to construct this layer. See https://docs.docker.com/engine/reference/builder/ for more information.",
          "type": "string"
        }
      },
      "description": "Layer holds metadata specific to a layer of a Docker image.",
      "type": "object"
    },
    "SlsaRecipe": {
      "properties": {
        "arguments": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Depending on the recipe Type, the structure may be different.",
          "type": "object"
        },
        "type": {
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials.",
          "type": "string"
        },
        "entryPoint": {
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use.",
          "type": "string"
        },
        "environment": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Depending on the recipe Type, the structure may be different."
        },
        "definedInMaterial": {
          "type": "string",
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "format": "int64"
        }
      },
      "id": "SlsaRecipe",
      "type": "object",
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe."
    },
    "WindowsUpdate": {
      "properties": {
        "identity": {
          "description": "Required - The unique identifier for the update.",
          "$ref": "Identity"
        },
        "kbArticleIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Microsoft Knowledge Base article IDs that are associated with the update."
        },
        "categories": {
          "type": "array",
          "description": "The list of categories to which the update belongs.",
          "items": {
            "$ref": "Category"
          }
        },
        "description": {
          "type": "string",
          "description": "The localized description of the update."
        },
        "title": {
          "description": "The localized title of the update.",
          "type": "string"
        },
        "supportUrl": {
          "type": "string",
          "description": "The hyperlink to the support information for the update."
        },
        "lastPublishedTimestamp": {
          "type": "string",
          "description": "The last published timestamp of the update.",
          "format": "google-datetime"
        }
      },
      "id": "WindowsUpdate",
      "type": "object",
      "description": "Windows Update represents the metadata about the update for the Windows operating system. The fields in this message come from the Windows Update API documented at https://docs.microsoft.com/en-us/windows/win32/api/wuapi/nn-wuapi-iupdate."
    },
    "InTotoProvenance": {
      "id": "InTotoProvenance",
      "properties": {
        "recipe": {
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required",
          "$ref": "Recipe"
        },
        "materials": {
          "items": {
            "type": "string"
          },
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty.",
          "type": "array"
        },
        "builderConfig": {
          "description": "required",
          "$ref": "BuilderConfig"
        },
        "metadata": {
          "$ref": "Metadata"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "Command": {
      "id": "Command",
      "properties": {
        "id": {
          "description": "Optional unique identifier for this command, used in wait_for to reference this command as a dependency.",
          "type": "string"
        },
        "waitFor": {
          "type": "array",
          "description": "The ID(s) of the command(s) that this command depends on.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`."
        },
        "env": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Environment variables set before running this command."
        },
        "args": {
[...]
