{
  "batchPath": "batch",
  "version_module": true,
  "revision": "20260904",
  "documentationLink": "https://cloud.google.com/container-analysis/docs/on-demand-scanning/",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "baseUrl": "https://ondemandscanning.googleapis.com/",
  "schemas": {
    "PackageVersion": {
      "properties": {
        "licenses": {
          "description": "The licenses associated with this package. Note that this has to go on the PackageVersion level, because we can have cases with images with the same source having different licences. E.g. in Alpine, musl and musl-utils both have the same origin musl, but have different sets of licenses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "PackageVersion"
    },
    "FileHashes": {
      "type": "object",
      "description": "Container message for hashes of byte content of files, used in source messages to verify integrity of source input to the build.",
      "id": "FileHashes",
      "properties": {
        "fileHash": {
          "items": {
            "$ref": "Hash"
          },
          "description": "Required. Collection of file hashes.",
          "type": "array"
        }
      }
    },
    "BaseImage": {
      "description": "BaseImage describes a base image of a container image.",
      "properties": {
        "repository": {
          "type": "string",
          "description": "The repository name in which the base image is from."
        },
        "layerCount": {
          "type": "integer",
          "description": "The number of layers that the base image is composed of.",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "The name of the base image."
        },
        "registry": {
          "description": "The registry in which the base image is from.",
          "type": "string"
        }
      },
      "id": "BaseImage",
      "type": "object"
    },
    "Signature": {
      "description": "Verifiers (e.g. Kritis implementations) MUST verify signatures with respect to the trust anchors defined in policy (e.g. a Kritis policy). Typically this means that the verifier has been configured with a map from `public_key_id` to public key material (and any required parameters, e.g. signing algorithm). In particular, verification implementations MUST NOT treat the signature `public_key_id` as anything more than a key lookup hint. The `public_key_id` DOES NOT validate or authenticate a public key; it only provides a mechanism for quickly selecting a public key ALREADY CONFIGURED on the verifier through a trusted channel. Verification implementations MUST reject signatures in any of the following circumstances: * The `public_key_id` is not recognized by the verifier. * The public key that `public_key_id` refers to does not verify the signature with respect to the payload. The `signature` contents SHOULD NOT be \"attached\" (where the payload is included with the serialized `signature` bytes). Verifiers MUST ignore any \"attached\" payload and only verify signatures with respect to explicitly provided payload (e.g. a `payload` field on the proto message that holds this Signature, or the canonical serialization of the proto message that holds this signature).",
      "type": "object",
      "id": "Signature",
      "properties": {
        "publicKeyId": {
          "type": "string",
          "description": "The identifier for the public key that verifies this signature. * The `public_key_id` is required. * The `public_key_id` SHOULD be an RFC3986 conformant URI. * When possible, the `public_key_id` SHOULD be an immutable reference, such as a cryptographic digest. Examples of valid `public_key_id`s: OpenPGP V4 public key fingerprint: * \"openpgp4fpr:74FAF3B861BDA0870C7B6DEF607E48D2A663AEEA\" See https://www.iana.org/assignments/uri-schemes/prov/openpgp4fpr for more details on this scheme. RFC6920 digest-named SubjectPublicKeyInfo (digest of the DER serialization): * \"ni:///sha-256;cD9o9Cq6LG3jD0iKXqEi_vdjJGecm_iXkbqVoScViaU\" * \"nih:///sha-256;703f68f42aba2c6de30f488a5ea122fef76324679c9bf89791ba95a1271589a5\""
        },
        "signature": {
          "format": "byte",
          "description": "The content of the signature, an opaque bytestring. The payload that this signature verifies MUST be unambiguously provided with the Signature during verification. A wrapper message might provide the payload explicitly. Alternatively, a message might have a canonical serialization that can always be unambiguously computed to derive the payload.",
          "type": "string"
        }
      }
    },
    "ExploitPredictionScoringSystem": {
      "type": "object",
      "properties": {
        "score": {
          "description": "The EPSS score representing the probability [0-1] of exploitation in the wild in the next 30 days",
          "type": "number",
          "format": "double"
        },
        "percentile": {
          "description": "The percentile of the current score, the proportion of all scored vulnerabilities with the same or a lower EPSS score",
          "format": "double",
          "type": "number"
        }
      },
      "id": "ExploitPredictionScoringSystem"
    },
    "Completeness": {
      "properties": {
        "environment": {
          "description": "If true, the builder claims that recipe.environment is claimed to be complete.",
          "type": "boolean"
        },
        "materials": {
          "type": "boolean",
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\"."
        },
        "arguments": {
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe.",
          "type": "boolean"
        }
      },
      "id": "Completeness",
      "type": "object",
      "description": "Indicates that the builder claims certain fields in this message to be complete."
    },
    "EnvelopeSignature": {
      "properties": {
        "keyid": {
          "type": "string"
        },
        "sig": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "EnvelopeSignature"
    },
    "MalwareScanResult": {
      "type": "object",
      "id": "MalwareScanResult",
      "description": "Result of Malware scan.",
      "properties": {
        "scanStatus": {
          "description": "Status of the scan.",
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "type": "string",
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ]
        },
        "verdict": {
          "description": "Verdict of the scan.",
          "enumDescriptions": [
            "Unspecified verdict.",
            "Scanner passed.",
            "Scanner failed."
          ],
          "type": "string",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        }
      }
    },
    "SecretLocation": {
      "type": "object",
      "id": "SecretLocation",
      "properties": {
        "fileLocation": {
          "description": "The secret is found from a file.",
          "$ref": "GrafeasV1FileLocation"
        }
      },
      "description": "The location of the secret."
    },
    "UpgradeOccurrence": {
      "properties": {
        "windowsUpdate": {
          "$ref": "WindowsUpdate",
          "description": "Required for Windows OS. Represents the metadata about the Windows update."
        },
        "package": {
          "description": "Required for non-Windows OS. The package this Upgrade is for.",
          "type": "string"
        },
        "parsedVersion": {
          "$ref": "Version",
          "description": "Required for non-Windows OS. The version of the package in a machine + human readable form."
        },
        "distribution": {
          "description": "Metadata about the upgrade for available for the specific operating system for the resource_url. This allows efficient filtering, as well as making it easier to use the occurrence.",
          "$ref": "UpgradeDistribution"
        }
      },
      "description": "An Upgrade Occurrence represents that a specific resource_url could install a specific upgrade. This presence is supplied via local sources (i.e. it is present in the mirror and the running system has noticed its availability). For Windows, both distribution and windows_update contain information for the Windows update.",
      "id": "UpgradeOccurrence",
      "type": "object"
    },
    "WindowsUpdate": {
      "id": "WindowsUpdate",
      "description": "Windows Update represents the metadata about the update for the Windows operating system. The fields in this message come from the Windows Update API documented at https://docs.microsoft.com/en-us/windows/win32/api/wuapi/nn-wuapi-iupdate.",
      "properties": {
        "categories": {
          "type": "array",
          "items": {
            "$ref": "Category"
          },
          "description": "The list of categories to which the update belongs."
        },
        "kbArticleIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Microsoft Knowledge Base article IDs that are associated with the update."
        },
        "description": {
          "type": "string",
          "description": "The localized description of the update."
        },
        "lastPublishedTimestamp": {
          "description": "The last published timestamp of the update.",
          "type": "string",
          "format": "google-datetime"
        },
        "supportUrl": {
          "description": "The hyperlink to the support information for the update.",
          "type": "string"
        },
        "identity": {
          "$ref": "Identity",
          "description": "Required - The unique identifier for the update."
        },
        "title": {
          "description": "The localized title of the update.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PackageIssue": {
      "properties": {
        "packageType": {
          "description": "The type of package (e.g. OS, MAVEN, GO).",
          "type": "string"
        },
        "fixedCpeUri": {
          "type": "string",
          "description": "The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was fixed in. It is possible for this to be different from the affected_cpe_uri."
        },
        "fixedVersion": {
          "$ref": "Version",
          "description": "Required. The version of the package this vulnerability was fixed in. Setting this to VersionKind.MAXIMUM means no fix is yet available."
        },
        "fileLocation": {
          "items": {
            "$ref": "GrafeasV1FileLocation"
          },
          "description": "The location at which this package was found.",
          "type": "array"
        },
        "effectiveSeverity": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Output only. The distro or language system assigned severity for this vulnerability when that is available and note provider assigned severity when it is not available.",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "affectedPackage": {
          "type": "string",
          "description": "Required. The package this vulnerability was found in."
        },
        "affectedCpeUri": {
          "description": "Required. The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was found in.",
          "type": "string"
        },
        "affectedVersion": {
          "description": "Required. The version of the package that is installed on the resource affected by this vulnerability.",
          "$ref": "Version"
        },
        "fixAvailable": {
          "description": "Output only. Whether a fix is available for this package.",
          "type": "boolean"
        },
        "fixedPackage": {
          "description": "The package this vulnerability was fixed in. It is possible for this to be different from the affected_package.",
          "type": "string"
        }
      },
      "description": "A detail for a distro and package this vulnerability occurrence was found in and its associated fix (if one is available).",
      "type": "object",
      "id": "PackageIssue"
    },
    "SlsaMetadata": {
      "id": "SlsaMetadata",
      "properties": {
        "completeness": {
          "description": "Indicates that the builder claims certain fields in this message to be complete.",
          "$ref": "SlsaCompleteness"
        },
        "buildStartedOn": {
          "description": "The timestamp of when the build started.",
          "format": "google-datetime",
          "type": "string"
        },
        "buildInvocationId": {
          "type": "string",
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec."
        },
        "reproducible": {
          "description": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output.",
          "type": "boolean"
        },
        "buildFinishedOn": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp of when the build completed."
        }
      },
      "description": "Other properties of the build.",
      "type": "object"
    },
    "DeploymentOccurrence": {
      "properties": {
        "config": {
          "description": "Configuration used to create this deployment.",
          "type": "string"
        },
        "address": {
          "description": "Address of the runtime element hosting this deployment.",
          "type": "string"
        },
        "deployTime": {
          "format": "google-datetime",
          "description": "Required. Beginning of the lifetime of this deployment.",
          "type": "string"
        },
        "undeployTime": {
          "format": "google-datetime",
          "description": "End of the lifetime of this deployment.",
          "type": "string"
        },
        "platform": {
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "GKE",
            "FLEX",
            "CUSTOM"
          ],
          "description": "Platform hosting this deployment.",
          "enumDescriptions": [
            "Unknown.",
            "Google Container Engine.",
            "Google App Engine: Flexible Environment.",
            "Custom user-defined platform."
          ]
        },
        "userEmail": {
          "type": "string",
          "description": "Identity of the user that triggered this deployment."
        },
        "resourceUri": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Resource URI for the artifact being deployed taken from the deployable field with the same name."
        }
      },
      "description": "The period during which some deployable was active in a runtime.",
      "type": "object",
      "id": "DeploymentOccurrence"
    },
    "WorkspacePolicyResult": {
      "properties": {
        "scanStatus": {
          "description": "Status of the scan.",
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "type": "string",
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ]
        },
        "verdict": {
          "type": "string",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Unspecified verdict.",
            "Scanner passed.",
            "Scanner failed."
          ],
          "description": "Verdict of the scan."
        }
      },
      "description": "Result of Workspace Policy scan.",
      "id": "WorkspacePolicyResult",
      "type": "object"
    },
    "IngestionSource": {
      "properties": {
        "resourceUrl": {
          "type": "string",
          "description": "The resource URL of the resource that was scanned to find this package."
        },
        "source": {
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "DOCKER_IMAGE",
            "SBOM_ATTACHMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "attachmentUri": {
          "description": "The attachment URI that this package was extracted from.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Indicates where an extracted package originates from.",
      "id": "IngestionSource"
    },
    "Fingerprint": {
      "description": "A set of properties that uniquely identify a given Docker image.",
      "id": "Fingerprint",
      "type": "object",
      "properties": {
        "v1Name": {
          "type": "string",
          "description": "Required. The layer ID of the final layer in the Docker image's v1 representation."
        },
        "v2Name": {
          "type": "string",
          "description": "Output only. The name of the image's v2 blobs computed via: [bottom] := v2_blobbottom := sha256(v2_blob[N] + \" \" + v2_name[N+1]) Only the name of the final blob is kept."
        },
        "v2Blob": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The ordered list of v2 blobs that represent a given image."
        }
      }
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial": {
      "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on.",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial",
      "properties": {
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "CISAKnownExploitedVulnerabilities": {
      "properties": {
        "knownRansomwareCampaignUse": {
          "type": "string",
          "description": "Whether the vulnerability is known to have been leveraged as part of a ransomware campaign."
        }
      },
      "type": "object",
      "id": "CISAKnownExploitedVulnerabilities"
    },
    "Category": {
      "description": "The category to which the update belongs.",
      "id": "Category",
      "properties": {
        "categoryId": {
          "description": "The identifier of the category.",
          "type": "string"
        },
        "name": {
          "description": "The localized name of the category.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AttestationOccurrence": {
      "id": "AttestationOccurrence",
      "properties": {
        "serializedPayload": {
          "type": "string",
          "format": "byte",
          "description": "Required. The serialized payload that is verified by one or more `signatures`."
        },
        "jwts": {
          "description": "One or more JWTs encoding a self-contained attestation. Each JWT encodes the payload that it verifies within the JWT itself. Verifier implementation SHOULD ignore the `serialized_payload` field when verifying these JWTs. If only JWTs are present on this AttestationOccurrence, then the `serialized_payload` SHOULD be left empty. Each JWT SHOULD encode a claim specific to the `resource_uri` of this Occurrence, but this is not validated by Grafeas metadata API implementations. The JWT itself is opaque to Grafeas.",
          "items": {
            "$ref": "Jwt"
          },
          "type": "array"
        },
        "signatures": {
          "items": {
            "$ref": "Signature"
          },
          "description": "One or more signatures over `serialized_payload`. Verifier implementations should consider this attestation message verified if at least one `signature` verifies `serialized_payload`. See `Signature` in common.proto for more details on signature structure and verification.",
          "type": "array"
        }
      },
      "description": "Occurrence that represents a single \"attestation\". The authenticity of an attestation can be verified using the attached signature. If the verifier trusts the public key of the signer, then verifying the signature is sufficient to establish trust. In this circumstance, the authority to which this attestation is attached is primarily useful for lookup (how to find this attestation if you already know the authority and artifact to be verified) and intent (for which authority this attestation was intended to sign.",
      "type": "object"
    },
    "TokenUsage": {
      "type": "object",
      "description": "Token usage associated with an AI scan.",
      "id": "TokenUsage",
      "properties": {
        "thinkingCount": {
          "type": "string",
          "description": "Tokens in the thinking output.",
          "format": "int64"
        },
        "promptCount": {
          "format": "int64",
          "description": "Tokens in the user request.",
          "type": "string"
        },
        "candidateCount": {
          "type": "string",
          "description": "Tokens in the model response.",
          "format": "int64"
        },
        "toolUsePromptCount": {
          "description": "Prompt tokens for using tools.",
          "format": "int64",
          "type": "string"
        },
        "cacheCount": {
          "format": "int64",
          "type": "string",
          "description": "Cache matched tokens for implicit cache."
        }
      }
    },
    "Remediation": {
      "properties": {
        "details": {
          "type": "string",
          "description": "Contains a comprehensive human-readable discussion of the remediation."
        },
        "remediationType": {
          "enumDescriptions": [
            "No remediation type specified.",
            "A MITIGATION is available.",
            "No fix is planned.",
            "Not available.",
            "A vendor fix is available.",
            "A workaround is available."
          ],
          "description": "The type of remediation that can be applied.",
          "type": "string",
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "MITIGATION",
            "NO_FIX_PLANNED",
            "NONE_AVAILABLE",
            "VENDOR_FIX",
            "WORKAROUND"
          ]
        },
        "remediationUri": {
          "description": "Contains the URL where to obtain the remediation.",
          "$ref": "RelatedUrl"
        }
      },
      "description": "Specifies details on how to handle (and presumably, fix) a vulnerability.",
      "type": "object",
      "id": "Remediation"
    },
    "LanguagePackageDependency": {
      "properties": {
        "package": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "description": "Indicates a language package available between this package and the customer's resource artifact.",
      "type": "object",
      "id": "LanguagePackageDependency"
    },
    "Layer": {
      "description": "Layer holds metadata specific to a layer of a Docker image.",
      "type": "object",
      "properties": {
        "directive": {
          "description": "Required. The recovered Dockerfile directive used to construct this layer. See https://docs.docker.com/engine/reference/builder/ for more information.",
          "type": "string"
        },
        "arguments": {
          "type": "string",
          "description": "The recovered arguments to the Dockerfile directive."
        }
      },
      "id": "Layer"
    },
    "SbomReferenceIntotoPayload": {
      "properties": {
        "predicateType": {
          "description": "URI identifying the type of the Predicate.",
          "type": "string"
        },
        "subject": {
          "items": {
            "$ref": "Subject"
          },
          "type": "array",
          "description": "Set of software artifacts that the attestation applies to. Each element represents a single software artifact."
        },
        "predicate": {
          "$ref": "SbomReferenceIntotoPredicate",
          "description": "Additional parameters of the Predicate. Includes the actual data about the SBOM."
        },
        "_type": {
          "type": "string",
          "description": "Identifier for the schema of the Statement."
        }
      },
      "id": "SbomReferenceIntotoPayload",
      "type": "object",
      "description": "The actual payload that contains the SBOM Reference data. The payload follows the intoto statement specification. See https://github.com/in-toto/attestation/blob/main/spec/v1.0/statement.md for more details."
    },
    "AnalyzePackagesResponse": {
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan.",
      "properties": {
        "scan": {
          "type": "string",
          "description": "The name of the scan resource created by this successful scan."
        }
      },
      "type": "object",
      "id": "AnalyzePackagesResponse"
    },
    "Jwt": {
      "properties": {
        "compactJwt": {
          "type": "string",
          "description": "The compact encoding of a JWS, which is always three base64 encoded strings joined by periods. For details, see: https://tools.ietf.org/html/rfc7515.html#section-3.1"
        }
      },
      "id": "Jwt",
      "type": "object"
    },
    "Command": {
      "properties": {
        "id": {
          "description": "Optional unique identifier for this command, used in wait_for to reference this command as a dependency.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`.",
          "type": "string"
        },
        "dir": {
          "type": "string",
          "description": "Working directory (relative to project source root) used when running this command."
        },
        "waitFor": {
          "items": {
            "type": "string"
          },
          "description": "The ID(s) of the command(s) that this command depends on.",
          "type": "array"
        },
        "env": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Environment variables set before running this command."
        },
        "args": {
          "description": "Command-line arguments used when executing this command.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Command",
      "description": "Command describes a step performed as part of the build pipeline.",
      "type": "object"
    },
    "ResourceDescriptor": {
      "id": "ResourceDescriptor",
      "properties": {
        "mediaType": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        },
        "annotations": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "downloadLocation": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GrafeasV1LayerDetails": {
      "description": "Details about the layer a package was found in.",
      "id": "GrafeasV1LayerDetails",
      "type": "object",
      "properties": {
        "index": {
          "description": "The index of the layer in the container image.",
          "type": "integer",
          "format": "int32"
        },
        "command": {
          "type": "string",
          "description": "The layer build command that was used to build the layer. This may not be found in all layers depending on how the container image is built."
        },
        "baseImages": {
          "type": "array",
          "description": "The base images the layer is found within.",
          "items": {
            "$ref": "GrafeasV1BaseImage"
          }
        },
        "chainId": {
          "type": "string",
          "description": "The layer chain ID (sha256 hash) of the layer in the container image. https://github.com/opencontainers/image-spec/blob/main/config.md#layer-chainid"
        },
        "diffId": {
          "type": "string",
          "description": "The diff ID (typically a sha256 hash) of the layer in the container image."
        }
      }
    },
    "PerScannerVerdict": {
      "type": "object",
      "id": "PerScannerVerdict",
      "properties": {
        "maliciousContentLlmResult": {
          "$ref": "MaliciousContentLLMResult",
          "description": "Malicious Content LLM scan result."
        },
        "maliciousContentStaticResult": {
          "$ref": "MaliciousContentStaticResult",
          "description": "Malicious Content Static scan result."
        },
        "malwareScan": {
          "description": "Malware scan result.",
          "$ref": "MalwareScanResult"
        },
        "workspacePolicy": {
          "description": "Workspace Policy scan result.",
          "$ref": "WorkspacePolicyResult"
        }
      }
    },
    "VulnerabilityOccurrence": {
      "properties": {
        "vexAssessment": {
          "$ref": "VexAssessment"
        },
        "cvssV2": {
          "$ref": "CVSS",
          "description": "The cvss v2 score for the vulnerability."
        },
        "cvssV4": {
          "$ref": "CVSS",
          "description": "The cvss v4 score for the vulnerability."
        },
        "cvssv3": {
          "description": "The cvss v3 score for the vulnerability.",
          "$ref": "CVSS"
        },
        "effectiveSeverity": {
          "description": "The distro assigned severity for this vulnerability when it is available, otherwise this is the note provider assigned severity. When there are multiple PackageIssues for this vulnerability, they can have different effective severities because some might be provided by the distro while others are provided by the language ecosystem for a language pack. For this reason, it is advised to use the effective severity on the PackageIssue level. In the case where multiple PackageIssues have differing effective severities, this field should be the highest severity for any of the PackageIssues.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "cvssScore": {
          "description": "Output only. The CVSS score of this vulnerability. CVSS score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity.",
          "type": "number",
          "format": "float"
        },
        "relatedUrls": {
          "description": "Output only. URLs related to this vulnerability.",
          "items": {
            "$ref": "RelatedUrl"
          },
          "type": "array"
        },
        "extraDetails": {
          "description": "Occurrence-specific extra details about the vulnerability.",
          "type": "string"
        },
        "risk": {
          "description": "Risk information about the vulnerability, such as CISA, EPSS, etc.",
          "$ref": "Risk"
        },
        "shortDescription": {
          "description": "Output only. A one sentence description of this vulnerability.",
          "type": "string"
        },
        "cvssVersion": {
          "enumDescriptions": [
            "Unspecified.",
            "CVSS v2.",
            "CVSS v3.",
            "CVSS v4."
          ],
          "description": "Output only. CVSS version used to populate cvss_score and severity.",
          "type": "string",
          "enum": [
            "CVSS_VERSION_UNSPECIFIED",
            "CVSS_VERSION_2",
            "CVSS_VERSION_3",
            "CVSS_VERSION_4"
          ]
        },
        "fixAvailable": {
          "description": "Output only. Whether at least one of the affected packages has a fix available.",
          "type": "boolean"
        },
        "longDescription": {
          "type": "string",
          "description": "Output only. A detailed description of this vulnerability."
        },
        "type": {
          "description": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.).",
          "type": "string"
        },
        "severity": {
          "description": "Output only. The note provider assigned severity of this vulnerability.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "packageIssue": {
          "description": "Required. The set of affected locations and their fixes (if available) within the associated resource.",
          "items": {
            "$ref": "PackageIssue"
          },
          "type": "array"
        }
      },
      "id": "VulnerabilityOccurrence",
      "description": "An occurrence of a severity vulnerability on a resource.",
      "type": "object"
    },
    "PackageData": {
      "properties": {
        "binarySourceInfo": {
          "type": "array",
          "items": {
            "$ref": "BinarySourceInfo"
          },
          "description": "A bundle containing the binary and source information."
        },
        "maintainer": {
          "$ref": "Maintainer",
          "description": "The maintainer of the package."
        },
        "dependencyChain": {
          "description": "The dependency chain between this package and the user's artifact. List in order from the customer's package under review first, to the current package last. Inclusive of the original package and the current package.",
          "type": "array",
          "items": {
            "$ref": "LanguagePackageDependency"
          }
        },
        "unused": {
          "type": "string"
        },
        "sourceVersion": {
          "description": "DEPRECATED",
          "$ref": "PackageVersion"
        },
        "architecture": {
          "description": "The architecture of the package.",
          "type": "string"
        },
        "packageType": {
          "enumDescriptions": [
            "",
            "Operating System",
            "Java packages from Maven.",
            "Go third-party packages.",
            "Go toolchain + standard library packages.",
            "Python packages.",
            "NPM packages.",
            "Nuget (C#/.NET) packages.",
            "Ruby packges (from RubyGems package manager).",
            "Rust packages from Cargo (GitHub ecosystem is `RUST`).",
            "PHP packages from Composer package manager.",
            "Swift packages from Swift Package Manager (SwiftPM)."
          ],
          "description": "The type of package: os, maven, go, etc.",
          "type": "string",
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "OS",
            "MAVEN",
            "GO",
            "GO_STDLIB",
            "PYPI",
            "NPM",
            "NUGET",
            "RUBYGEMS",
            "RUST",
            "COMPOSER",
            "SWIFT"
          ]
        },
        "patchedCve": {
          "description": "CVEs that this package is no longer vulnerable to",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cpeUri": {
          "type": "string",
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) in which the vulnerability may manifest. Examples include distro or storage location for vulnerable jar."
        },
        "hashDigest": {
          "type": "string",
          "description": "HashDigest stores the SHA512 hash digest of the jar file if the package is of type Maven. This field will be unset for non Maven packages."
        },
        "os": {
          "description": "The OS affected by a vulnerability Used to generate the cpe_uri for OS packages",
          "type": "string"
        },
        "layerDetails": {
          "$ref": "LayerDetails"
        },
        "ingestionSources": {
          "items": {
            "$ref": "IngestionSource"
          },
          "type": "array",
          "description": "The list of sources that were scanned to find this package. This can be a Docker image, an SBOM attachment, or both, for example."
        },
        "package": {
          "type": "string",
          "description": "The package being analysed for vulnerabilities"
        },
        "version": {
          "description": "The version of the package being analysed",
          "type": "string"
        },
        "fileLocation": {
          "type": "array",
          "description": "The path to the jar file / go binary file.",
          "items": {
            "$ref": "FileLocation"
          }
        },
        "licenses": {
          "type": "array",
          "description": "The list of licenses found that are related to a given package. Note that licenses may also be stored on the BinarySourceInfo. If there is no BinarySourceInfo (because there's no concept of source vs binary), then it will be stored here, while if there are BinarySourceInfos, it will be stored there, as one source can have multiple binaries with different licenses.",
          "items": {
            "type": "string"
          }
        },
        "osVersion": {
          "description": "The version of the OS Used to generate the cpe_uri for OS packages",
          "type": "string"
        },
        "binaryVersion": {
          "description": "DEPRECATED",
          "$ref": "PackageVersion"
        }
      },
      "id": "PackageData",
      "type": "object"
    },
    "FileLocation": {
      "id": "FileLocation",
      "properties": {
        "layerDetails": {
          "$ref": "LayerDetails"
        },
        "lineNumber": {
          "description": "Line number in the file where the package is found. Applies only to source repository scanning. Note: this field is marked as `optional` in other corresponding protos, but in edition 2023, the \"optional\" keyword is redundant.",
          "type": "integer",
          "format": "int32"
        },
        "filePath": {
          "type": "string",
          "description": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file."
        }
      },
      "description": "Indicates the location at which a package was found.",
      "type": "object"
    },
    "Artifact": {
      "id": "Artifact",
      "properties": {
        "checksum": {
          "description": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container.",
          "type": "string"
        },
        "names": {
          "description": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "description": "Artifact ID, if any; for container images, this will be a URL by digest like `gcr.io/projectID/imagename@sha256:123456`.",
          "type": "string"
        }
      },
      "description": "Artifact describes a build product.",
      "type": "object"
    },
    "GerritSourceContext": {
      "description": "A SourceContext referring to a Gerrit project.",
      "type": "object",
      "properties": {
        "gerritProject": {
          "description": "The full project name within the host. Projects may be nested, so \"project/subproject\" is a valid project name. The \"repo name\" is the hostURI/project.",
          "type": "string"
        },
        "hostUri": {
          "type": "string",
          "description": "The URI of a running Gerrit instance."
        },
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "AliasContext"
        },
        "revisionId": {
          "type": "string",
          "description": "A revision (commit) ID."
        }
      },
      "id": "GerritSourceContext"
    },
    "Risk": {
      "type": "object",
      "id": "Risk",
      "properties": {
        "cisaKev": {
          "description": "CISA maintains the authoritative source of vulnerabilities that have been exploited in the wild.",
          "$ref": "CISAKnownExploitedVulnerabilities"
        },
        "epss": {
          "$ref": "ExploitPredictionScoringSystem",
          "description": "The Exploit Prediction Scoring System (EPSS) estimates the likelihood (probability) that a software vulnerability will be exploited in the wild."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "GrafeasV1FileLocation": {
      "description": "Indicates the location at which a package was found.",
      "type": "object",
      "properties": {
        "filePath": {
          "type": "string",
          "description": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file."
        },
        "lineNumber": {
          "format": "int32",
          "description": "Line number in the file where the package was found. Optional field that only applies to source repository scanning.",
          "type": "integer"
        },
        "layerDetails": {
          "description": "Each package found in a file should have its own layer metadata (that is, information from the origin layer of the package).",
          "$ref": "GrafeasV1LayerDetails"
        }
      },
      "id": "GrafeasV1FileLocation"
    },
    "Recipe": {
      "properties": {
        "type": {
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials.",
          "type": "string"
        },
        "definedInMaterial": {
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "format": "int64",
          "type": "string"
        },
        "arguments": {
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Since the arguments field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\".",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "entryPoint": {
          "type": "string",
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use."
        },
        "environment": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Since the environment field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\"."
        }
      },
      "type": "object",
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "id": "Recipe"
    },
    "AnalyzePackagesResponseV1": {
      "id": "AnalyzePackagesResponseV1",
      "properties": {
        "scan": {
          "description": "The name of the scan resource created by this successful scan.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan."
    },
    "BuilderConfig": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "id": "BuilderConfig"
    },
    "BuildMetadata": {
      "id": "BuildMetadata",
      "type": "object",
      "properties": {
        "startedOn": {
          "format": "google-datetime",
          "type": "string"
        },
        "finishedOn": {
          "type": "string",
          "format": "google-datetime"
        },
        "invocationId": {
          "type": "string"
        }
      }
    },
    "BuildProvenance": {
      "id": "BuildProvenance",
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion.",
      "properties": {
        "triggerId": {
          "description": "Trigger identifier if the build was triggered automatically; empty if not.",
          "type": "string"
        },
        "logsUri": {
          "description": "URI where any logs for this provenance were written.",
          "type": "string"
        },
        "commands": {
          "description": "Commands requested by the build.",
          "type": "array",
          "items": {
            "$ref": "Command"
          }
        },
        "sourceProvenance": {
          "description": "Details of the Source input to the build.",
          "$ref": "Source"
        },
        "builderVersion": {
          "type": "string",
          "description": "Version string of the builder at the time this build was executed."
        },
        "startTime": {
          "description": "Time at which execution of the build was started.",
          "type": "string",
          "format": "google-datetime"
        },
        "buildOptions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details."
        },
        "projectId": {
          "description": "ID of the project.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time at which execution of the build was finished."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Time at which the build was created.",
          "type": "string"
        },
        "id": {
          "description": "Required. Unique identifier of the build.",
          "type": "string"
        },
        "builtArtifacts": {
          "type": "array",
          "description": "Output of the build.",
          "items": {
            "$ref": "Artifact"
          }
        },
        "creator": {
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FindingLocation": {
      "properties": {
        "lineNumber": {
          "description": "Line number (1-based), or 0 if whole File / unknown.",
          "format": "int64",
          "type": "string"
        },
        "filePath": {
          "description": "Relative path of the file containing the finding.",
          "type": "string"
        }
      },
      "id": "FindingLocation",
      "description": "Location details with file path and line number.",
      "type": "object"
    },
    "SlsaCompleteness": {
      "type": "object",
      "properties": {
        "environment": {
          "type": "boolean",
          "description": "If true, the builder claims that recipe.environment is claimed to be complete."
        },
        "arguments": {
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe.",
          "type": "boolean"
        },
        "materials": {
          "type": "boolean",
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\"."
        }
      },
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "id": "SlsaCompleteness"
    },
    "SbomReferenceIntotoPredicate": {
      "id": "SbomReferenceIntotoPredicate",
      "properties": {
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of algorithm to digest of the contents of the SBOM.",
          "type": "object"
        },
        "referrerId": {
          "description": "The person or system referring this predicate to the consumer.",
          "type": "string"
        },
        "location": {
          "description": "The location of the SBOM.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "The mime type of the SBOM."
        }
      },
      "type": "object",
      "description": "A predicate which describes the SBOM being referenced."
    },
    "RunDetails": {
      "properties": {
        "byproducts": {
          "items": {
            "$ref": "ResourceDescriptor"
          },
          "type": "array"
        },
        "builder": {
          "$ref": "ProvenanceBuilder"
        },
        "metadata": {
          "$ref": "BuildMetadata"
        }
      },
      "id": "RunDetails",
      "type": "object"
    },
    "Subject": {
      "type": "object",
      "id": "Subject",
      "properties": {
        "name": {
          "type": "string"
        },
        "digest": {
          "description": "`\"\": \"\"` Algorithms can be e.g. sha256, sha512 See https://github.com/in-toto/attestation/blob/main/spec/field_types.md#DigestSet",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaBuilder": {
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaBuilder",
      "type": "object",
      "description": "Identifies the entity that executed the recipe, which is trusted to have correctly performed the operation and populated this provenance."
    },
    "DiscoveryOccurrence": {
      "properties": {
        "analysisCompleted": {
          "$ref": "AnalysisCompleted"
        },
        "analysisError": {
          "type": "array",
          "description": "Indicates any errors encountered during analysis of a resource. There could be 0 or more of these errors.",
          "items": {
            "$ref": "Status"
          }
        },
        "continuousAnalysis": {
          "enumDescriptions": [
            "Unknown.",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ],
          "type": "string",
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "Whether the resource is continuously analyzed."
        },
        "files": {
          "description": "Files that make up the resource described by the occurrence.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "sbomStatus": {
          "$ref": "SBOMStatus",
          "description": "The status of an SBOM generation."
        },
        "archiveTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time occurrences related to this discovery occurrence were archived.",
          "type": "string"
        },
        "analysisStatusError": {
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage is output only and populated by the API.",
          "$ref": "Status"
        },
        "lastScanTime": {
          "description": "The last time this resource was scanned.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastVulnerabilityUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last time vulnerability scan results changed."
        },
        "cpe": {
          "description": "The CPE of the resource being scanned.",
          "type": "string"
        },
        "analysisStatus": {
          "description": "The status of discovery for the resource.",
          "type": "string",
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "FINISHED_SUCCESS",
            "COMPLETE",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has finished successfully.",
            "Analysis has completed.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported."
          ]
        }
      },
      "id": "DiscoveryOccurrence",
      "type": "object",
      "description": "Provides information about the analysis status of a discovered resource."
    },
    "Material": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "Material"
    },
    "PackageOccurrence": {
      "id": "PackageOccurrence",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Required. Output only. The name of the installed package."
        },
        "license": {
          "description": "Licenses that have been declared by the authors of the package.",
          "$ref": "License"
        },
        "packageType": {
          "readOnly": true,
          "description": "Output only. The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.).",
          "type": "string"
        },
        "location": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "All of the places within the filesystem versions of this package have been found."
        },
        "version": {
          "$ref": "Version",
          "description": "Output only. The version of the package.",
          "readOnly": true
        },
        "cpeUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package. The cpe_uri will be blank for language packages."
        },
        "architecture": {
          "enumDescriptions": [
            "Unknown architecture.",
            "X86 architecture.",
            "X64 architecture."
          ],
          "description": "Output only. The CPU architecture for which packages in this distribution channel were built. Architecture will be blank for language packages.",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Details on how a particular software package was installed on a system.",
      "type": "object"
    },
    "GitSourceContext": {
      "description": "A GitSourceContext denotes a particular revision in a third party Git repository (e.g., GitHub).",
      "properties": {
        "url": {
          "description": "Git repository URL.",
          "type": "string"
        },
        "revisionId": {
          "description": "Git commit hash.",
          "type": "string"
        }
      },
      "id": "GitSourceContext",
      "type": "object"
    },
    "SlsaBuilder": {
      "id": "SlsaBuilder",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "Version": {
      "description": "Version contains structured information about the version of a package.",
      "type": "object",
      "id": "Version",
      "properties": {
        "fullName": {
          "type": "string",
          "description": "Human readable version string. This string is of the form :- and is only set when kind is NORMAL."
        },
        "revision": {
          "description": "The iteration of the package build from the above version.",
          "type": "string"
        },
        "inclusive": {
          "description": "Whether this version is specifying part of an inclusive range. Grafeas does not have the capability to specify version ranges; instead we have fields that specify start version and end versions. At times this is insufficient - we also need to specify whether the version is included in the range or is excluded from the range. This boolean is expected to be set to true when the version is included in a range.",
          "type": "boolean"
        },
        "epoch": {
          "description": "Used to correct mistakes in the version numbering scheme.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "Required only when version kind is NORMAL. The main part of the version name."
        },
        "kind": {
          "enumDescriptions": [
            "Unknown.",
            "A standard package version.",
            "A special version representing negative infinity.",
            "A special version representing positive infinity."
          ],
          "type": "string",
          "enum": [
            "VERSION_KIND_UNSPECIFIED",
            "NORMAL",
            "MINIMUM",
            "MAXIMUM"
          ],
          "description": "Required. Distinguishes between sentinel MIN/MAX versions and normal versions."
        }
      }
    },
    "RepoId": {
      "id": "RepoId",
      "properties": {
        "uid": {
          "type": "string",
          "description": "A server-assigned, globally unique identifier."
        },
        "projectRepoId": {
          "description": "A combination of a project ID and a repo name.",
          "$ref": "ProjectRepoId"
        }
      },
      "description": "A unique identifier for a Cloud Repo.",
      "type": "object"
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness": {
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness",
      "type": "object",
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "properties": {
        "environment": {
          "type": "boolean"
        },
        "materials": {
          "type": "boolean"
        },
        "parameters": {
          "type": "boolean"
        }
      }
    },
    "MaliciousContentStaticResult": {
      "description": "Result of Malicious Content Static scan.",
      "id": "MaliciousContentStaticResult",
      "type": "object",
      "properties": {
        "scanStatus": {
          "type": "string",
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ],
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "description": "Status of the scan."
        },
        "maxSeverity": {
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "description": "Tracks max severity found.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ]
        }
      }
    },
    "ProvenanceBuilder": {
      "type": "object",
      "id": "ProvenanceBuilder",
      "properties": {
        "builderDependencies": {
          "type": "array",
          "items": {
            "$ref": "ResourceDescriptor"
          }
        },
        "version": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "type": "string"
        }
      }
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata": {
      "description": "Other properties of the build.",
      "properties": {
        "buildFinishedOn": {
          "type": "string",
          "format": "google-datetime"
        },
        "buildInvocationId": {
          "type": "string"
        },
        "buildStartedOn": {
          "format": "google-datetime",
          "type": "string"
        },
        "reproducible": {
          "type": "boolean"
        },
        "completeness": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness"
        }
      },
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata",
      "type": "object"
    },
    "Source": {
      "id": "Source",
      "properties": {
        "context": {
          "$ref": "SourceContext",
          "description": "If provided, the source code used for the build came from this location."
        },
        "fileHashes": {
          "additionalProperties": {
            "$ref": "FileHashes"
          },
          "description": "Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (.tar.gz), the FileHash will be for the single path to that file.",
          "type": "object"
        },
        "artifactStorageSourceUri": {
          "type": "string",
          "description": "If provided, the input binary artifacts for the build came from this location."
        },
        "additionalContexts": {
          "items": {
            "$ref": "SourceContext"
          },
          "description": "If provided, some of the source code used for the build may be found in these locations, in the case where the source repository had multiple remotes or submodules. This list will not include the context specified in the context field.",
          "type": "array"
        }
      },
      "description": "Source describes the location of the source used for the build.",
      "type": "object"
    },
    "AnalyzePackagesMetadataV1": {
      "description": "AnalyzePackagesMetadata contains metadata for an active scan of a container image.",
      "type": "object",
      "id": "AnalyzePackagesMetadataV1",
      "properties": {
        "resourceUri": {
          "type": "string",
          "description": "The resource URI of the container image being scanned."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "When the scan was created.",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource": {
      "description": "Describes where the config file that kicked off the build came from. This is effectively a pointer to the source where buildConfig came from.",
      "type": "object",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource",
      "properties": {
        "uri": {
          "type": "string"
        },
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "entryPoint": {
          "type": "string"
        }
      }
    },
    "SlsaProvenanceV1": {
      "type": "object",
      "properties": {
        "runDetails": {
          "$ref": "RunDetails"
        },
        "buildDefinition": {
          "$ref": "BuildDefinition"
        }
      },
      "description": "Keep in sync with schema at https://github.com/slsa-framework/slsa/blob/main/docs/provenance/schema/v1/provenance.proto Builder renamed to ProvenanceBuilder because of Java conflicts.",
      "id": "SlsaProvenanceV1"
    },
    "GrafeasV1BaseImage": {
      "description": "BaseImage describes a base image of a container image.",
      "type": "object",
      "id": "GrafeasV1BaseImage",
      "properties": {
        "registry": {
          "description": "The registry in which the base image is from.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the base image."
        },
        "repository": {
          "description": "The repository name in which the base image is from.",
          "type": "string"
        },
        "layerCount": {
          "format": "int32",
          "description": "The number of layers that the base image is composed of.",
          "type": "integer"
        }
      }
    },
    "AISkillAnalysisOccurrence": {
      "description": "AISkillAnalysisOccurrence provides the results of an AI-based skill analysis.",
      "id": "AISkillAnalysisOccurrence",
      "type": "object",
      "properties": {
        "perScannerVerdict": {
          "description": "Per scanner verdict.",
          "$ref": "PerScannerVerdict"
        },
        "maxSeverity": {
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ],
          "description": "Maximum severity found among findings. Per scanner verdict details."
        },
        "findings": {
          "type": "array",
          "items": {
            "$ref": "Finding"
          },
          "description": "Findings produced by the analysis."
        },
        "skillName": {
          "type": "string",
          "description": "Name of the skill that produced this analysis."
        }
      }
    },
    "ComplianceOccurrence": {
      "description": "An indication that the compliance checks in the associated ComplianceNote were not satisfied for particular resources or a specified reason.",
      "id": "ComplianceOccurrence",
      "type": "object",
      "properties": {
        "version": {
          "description": "The OS and config version the benchmark was run on.",
          "$ref": "ComplianceVersion"
        },
        "nonCompliantFiles": {
          "type": "array",
          "items": {
            "$ref": "NonCompliantFile"
          }
        },
        "nonComplianceReason": {
          "type": "string"
        }
      }
    },
    "BuildDefinition": {
      "type": "object",
      "id": "BuildDefinition",
      "properties": {
        "buildType": {
          "type": "string"
        },
        "externalParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "internalParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "resolvedDependencies": {
          "type": "array",
          "items": {
            "$ref": "ResourceDescriptor"
          }
        }
      }
    },
    "ProjectRepoId": {
      "id": "ProjectRepoId",
      "type": "object",
      "description": "Selects a repo using a Google Cloud Platform project ID (e.g., winged-cargo-31) and a repo name within that project.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The ID of the project."
        },
        "repoName": {
          "description": "The name of the repo. Leave empty for the default repo.",
          "type": "string"
        }
      }
    },
    "InTotoStatement": {
      "description": "Spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement The serialized InTotoStatement will be stored as Envelope.payload. Envelope.payloadType is always \"application/vnd.in-toto+json\".",
      "type": "object",
      "id": "InTotoStatement",
      "properties": {
        "slsaProvenance": {
          "$ref": "SlsaProvenance"
        },
        "provenance": {
          "$ref": "InTotoProvenance"
        },
        "predicateType": {
          "description": "`https://slsa.dev/provenance/v0.1` for SlsaProvenance.",
          "type": "string"
        },
        "_type": {
          "description": "Always `https://in-toto.io/Statement/v0.1`.",
          "type": "string"
        },
        "slsaProvenanceZeroTwo": {
          "$ref": "SlsaProvenanceZeroTwo"
        },
        "subject": {
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        }
      }
    },
    "SBOMReferenceOccurrence": {
      "properties": {
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "EnvelopeSignature"
          },
          "description": "The signatures over the payload."
        },
        "payload": {
          "description": "The actual payload that contains the SBOM reference data.",
          "$ref": "SbomReferenceIntotoPayload"
        },
        "payloadType": {
          "type": "string",
          "description": "The kind of payload that SbomReferenceIntotoPayload takes. Since it's in the intoto format, this value is expected to be 'application/vnd.in-toto+json'."
        }
      },
      "type": "object",
      "description": "The occurrence representing an SBOM reference as applied to a specific resource. The occurrence follows the DSSE specification. See https://github.com/secure-systems-lab/dsse/blob/master/envelope.md for more details.",
      "id": "SBOMReferenceOccurrence"
    },
    "ComplianceVersion": {
      "id": "ComplianceVersion",
      "properties": {
        "cpeUri": {
          "description": "The CPE URI (https://cpe.mitre.org/specification/) this benchmark is applicable to.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version of the benchmark. This is set to the version of the OS-specific CIS document the benchmark is defined in."
        },
        "benchmarkDocument": {
          "description": "The name of the document that defines this benchmark, e.g. \"CIS Container-Optimized OS\".",
          "type": "string"
        }
      },
      "description": "Describes the CIS benchmark version that is applicable to a given OS and os version.",
      "type": "object"
    },
    "CVSS": {
      "properties": {
        "subsequentSystemConfidentialityImpact": {
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Subsequent System Confidentiality Impact (SC). Defined in CVSS v4."
        },
        "exploitMaturity": {
          "enumDescriptions": [
            "Unspecified.",
            "Exploit maturity: Not defined (E:X). Defined in CVSS v4.",
            "Exploit maturity: Attacked (E:A). Defined in CVSS v4.",
            "Exploit maturity: Proof-of-concept (E:P). Defined in CVSS v4.",
            "Exploit maturity: Unreported (E:U). Defined in CVSS v4."
          ],
          "type": "string",
          "enum": [
            "EXPLOIT_MATURITY_UNSPECIFIED",
            "EXPLOIT_MATURITY_NOT_DEFINED",
            "EXPLOIT_MATURITY_ATTACKED",
            "EXPLOIT_MATURITY_POC",
            "EXPLOIT_MATURITY_UNREPORTED"
          ],
          "description": "Exploit Maturity (E). Defined in CVSS v4."
        },
        "exploitabilityScore": {
          "format": "float",
          "type": "number"
        },
        "baseScore": {
          "description": "The base score is a function of the base metric scores.",
          "type": "number",
          "format": "float"
        },
        "attackComplexity": {
          "enumDescriptions": [
            "Unspecified.",
            "Low attack complexity (AC:L). Defined in CVSS v2, v3, v4.",
            "High attack complexity (AC:H). Defined in CVSS v2, v3, v4.",
            "Medium attack complexity (AC:M). Defined in CVSS v2."
          ],
          "description": "Attack Complexity (AC). Defined in CVSS v2, v3, v4.",
          "type": "string",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH",
            "ATTACK_COMPLEXITY_MEDIUM"
          ]
        },
        "privilegesRequired": {
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "description": "Privileges Required (PR). Defined in CVSS v3, v4.",
          "enumDescriptions": [
            "Unspecified.",
            "No privileges required (PR:N). Defined in CVSS v3, v4.",
            "Low privileges required (PR:L). Defined in CVSS v3, v4.",
            "High privileges required (PR:H). Defined in CVSS v3, v4."
          ]
        },
        "availabilityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Availability Impact (A). Defined in CVSS v2, v3.",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "vulnerableSystemIntegrityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "description": "Vulnerable System Integrity Impact (VI). Defined in CVSS v4."
        },
        "confidentialityImpact": {
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Confidentiality Impact (C). Defined in CVSS v2, v3."
        },
        "authentication": {
          "description": "Authentication (Au). Defined in CVSS v2.",
          "enumDescriptions": [
            "Unspecified.",
            "Multiple authentication required (Au:M). Defined in CVSS v2.",
            "Single authentication required (Au:S). Defined in CVSS v2.",
            "No authentication required (Au:N). Defined in CVSS v2."
          ],
          "type": "string",
          "enum": [
            "AUTHENTICATION_UNSPECIFIED",
            "AUTHENTICATION_MULTIPLE",
            "AUTHENTICATION_SINGLE",
            "AUTHENTICATION_NONE"
          ]
        },
        "vulnerableSystemConfidentialityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "description": "Vulnerable System Confidentiality Impact (VC). Defined in CVSS v4."
        },
        "subsequentSystemAvailabilityImpact": {
          "description": "Subsequent System Availability Impact (SA). Defined in CVSS v4.",
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "attackVector": {
          "description": "Attack Vector (AV). Defined in CVSS v2, v3, v4.",
          "enumDescriptions": [
            "Unspecified.",
            "Attack Vector: Network (AV:N). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Adjacent (AV:A). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Local (AV:L). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Physical (AV:P). Defined in CVSS v3, v4."
          ],
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        },
        "userInteraction": {
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED",
            "USER_INTERACTION_PASSIVE",
            "USER_INTERACTION_ACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "No user interaction required (UI:N). Defined in CVSS v3, v4.",
            "User interaction required (UI:R). Defined in CVSS v3.",
            "Passive user interaction required (UI:P). Defined in CVSS v4.",
            "Active user interaction required (UI:A). Defined in CVSS v4."
          ],
          "description": "User Interaction (UI). Defined in CVSS v3, v4."
        },
        "vulnerableSystemAvailabilityImpact": {
          "description": "Vulnerable System Availability Impact (VA). Defined in CVSS v4.",
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "attackRequirements": {
          "description": "Attack Requirements (AT). Defined in CVSS v4.",
          "type": "string",
          "enum": [
            "ATTACK_REQUIREMENTS_UNSPECIFIED",
            "ATTACK_REQUIREMENTS_NONE",
            "ATTACK_REQUIREMENTS_PRESENT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "No attack requirements (AT:N). Defined in CVSS v4.",
            "Attack requirements: Present (AT:P). Defined in CVSS v4."
          ]
        },
        "impactScore": {
          "type": "number",
          "format": "float"
        },
        "subsequentSystemIntegrityImpact": {
          "description": "Subsequent System Integrity Impact (SI). Defined in CVSS v4.",
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "scope": {
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "description": "Scope (S). Defined in CVSS v3.",
          "enumDescriptions": [
            "Unspecified.",
            "Scope: Unchanged (S:U). Defined in CVSS v3.",
            "Scope: Changed (S:C). Defined in CVSS v3."
          ]
        },
        "integrityImpact": {
          "description": "Integrity Impact (I). Defined in CVSS v2, v3.",
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        }
      },
      "description": "Common Vulnerability Scoring System. For details, see https://www.first.org/cvss/specification-document This is a message we will try to use for storing various versions of CVSS rather than making a separate proto for storing a specific version.",
      "type": "object",
      "id": "CVSS"
    },
    "RelatedUrl": {
      "properties": {
        "url": {
          "type": "string",
          "description": "Specific URL associated with the resource."
        },
        "label": {
          "description": "Label to describe usage of the URL.",
          "type": "string"
        }
      },
      "description": "Metadata for any related URL information.",
      "type": "object",
      "id": "RelatedUrl"
    },
    "AnalyzePackagesRequestV1": {
      "type": "object",
      "id": "AnalyzePackagesRequestV1",
      "properties": {
        "resourceUri": {
          "description": "Required. The resource URI of the container image being scanned.",
          "type": "string"
        },
        "packages": {
          "items": {
            "$ref": "PackageData"
          },
          "description": "The packages to analyze.",
          "type": "array"
        },
        "includeOsvData": {
          "description": "[DEPRECATED] Whether to include OSV data in the scan. For backwards compatibility reasons, this field can be neither removed nor renamed.",
          "type": "boolean",
          "deprecated": true
        }
      },
      "description": "AnalyzePackagesRequest is the request to analyze a list of packages and create Vulnerability Occurrences for it."
    },
    "File": {
      "properties": {
        "name": {
          "type": "string"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "File"
    },
    "SlsaRecipe": {
      "properties": {
        "definedInMaterial": {
          "format": "int64",
          "type": "string",
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64."
        },
        "arguments": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Depending on the recipe Type, the structure may be different.",
          "type": "object"
        },
        "environment": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Depending on the recipe Type, the structure may be different.",
          "type": "object"
        },
        "type": {
          "type": "string",
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials."
        },
        "entryPoint": {
          "type": "string",
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use."
        }
      },
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "id": "SlsaRecipe",
      "type": "object"
    },
    "Identity": {
      "description": "The unique identifier of the update.",
      "type": "object",
      "id": "Identity",
      "properties": {
        "updateId": {
          "type": "string",
          "description": "The revision independent identifier of the update."
        },
        "revision": {
          "description": "The revision number of the update.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Envelope": {
      "type": "object",
      "id": "Envelope",
      "description": "MUST match https://github.com/secure-systems-lab/dsse/blob/master/envelope.proto. An authenticated message of arbitrary type.",
      "properties": {
        "payload": {
          "type": "string",
          "format": "byte"
        },
        "payloadType": {
          "type": "string"
        },
        "signatures": {
          "items": {
            "$ref": "EnvelopeSignature"
          },
          "type": "array"
        }
      }
    },
    "SecretOccurrence": {
      "properties": {
        "kind": {
          "enumDescriptions": [
            "Unspecified",
            "The secret kind is unknown.",
            "A Google Cloud service account key per: https://cloud.google.com/iam/docs/creating-managing-service-account-keys",
            "A Google Cloud API key per: https://cloud.google.com/docs/authentication/api-keys",
            "A Google Cloud OAuth2 client credentials per: https://developers.google.com/identity/protocols/oauth2",
            "A Google Cloud OAuth2 access token per: https://cloud.google.com/docs/authentication/token-types#access",
            "An Anthropic Admin API key.",
            "An Anthropic API key.",
            "An Azure access token.",
            "An Azure Identity Platform ID token.",
            "A Docker Hub personal access token.",
            "A GitHub App refresh token.",
            "A GitHub App server-to-server token.",
            "A GitHub App user-to-server token.",
            "A GitHub personal access token (classic).",
            "A GitHub fine-grained personal access token.",
            "A GitHub OAuth token.",
            "A Hugging Face API key.",
            "An OpenAI API key.",
            "A Perplexity API key.",
            "A Stripe secret key.",
            "A Stripe restricted key.",
            "A Stripe webhook secret."
          ],
          "description": "Required. Type of secret.",
          "type": "string",
          "enum": [
            "SECRET_KIND_UNSPECIFIED",
            "SECRET_KIND_UNKNOWN",
            "SECRET_KIND_GCP_SERVICE_ACCOUNT_KEY",
            "SECRET_KIND_GCP_API_KEY",
            "SECRET_KIND_GCP_OAUTH2_CLIENT_CREDENTIALS",
            "SECRET_KIND_GCP_OAUTH2_ACCESS_TOKEN",
            "SECRET_KIND_ANTHROPIC_ADMIN_API_KEY",
            "SECRET_KIND_ANTHROPIC_API_KEY",
            "SECRET_KIND_AZURE_ACCESS_TOKEN",
            "SECRET_KIND_AZURE_IDENTITY_TOKEN",
            "SECRET_KIND_DOCKER_HUB_PERSONAL_ACCESS_TOKEN",
            "SECRET_KIND_GITHUB_APP_REFRESH_TOKEN",
            "SECRET_KIND_GITHUB_APP_SERVER_TO_SERVER_TOKEN",
            "SECRET_KIND_GITHUB_APP_USER_TO_SERVER_TOKEN",
            "SECRET_KIND_GITHUB_CLASSIC_PERSONAL_ACCESS_TOKEN",
            "SECRET_KIND_GITHUB_FINE_GRAINED_PERSONAL_ACCESS_TOKEN",
            "SECRET_KIND_GITHUB_OAUTH_TOKEN",
            "SECRET_KIND_HUGGINGFACE_API_KEY",
            "SECRET_KIND_OPENAI_API_KEY",
            "SECRET_KIND_PERPLEXITY_API_KEY",
            "SECRET_KIND_STRIPE_SECRET_KEY",
            "SECRET_KIND_STRIPE_RESTRICTED_KEY",
            "SECRET_KIND_STRIPE_WEBHOOK_SECRET"
          ]
        },
        "locations": {
          "description": "Optional. Locations where the secret is detected.",
          "items": {
            "$ref": "SecretLocation"
          },
          "type": "array"
        },
        "statuses": {
          "type": "array",
          "items": {
            "$ref": "SecretStatus"
          },
          "description": "Optional. Status of the secret."
        }
      },
      "description": "The occurrence provides details of a secret.",
      "id": "SecretOccurrence",
      "type": "object"
    },
    "InTotoSlsaProvenanceV1": {
      "id": "InTotoSlsaProvenanceV1",
      "properties": {
        "predicate": {
          "$ref": "SlsaProvenanceV1"
        },
        "predicateType": {
          "type": "string"
        },
        "_type": {
          "description": "InToto spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement",
          "type": "string"
        },
        "subject": {
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        }
      },
      "type": "object"
    },
    "InTotoProvenance": {
      "type": "object",
      "properties": {
        "materials": {
          "type": "array",
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty.",
          "items": {
            "type": "string"
          }
        },
        "recipe": {
          "$ref": "Recipe",
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required"
        },
        "metadata": {
          "$ref": "Metadata"
        },
        "builderConfig": {
          "description": "required",
          "$ref": "BuilderConfig"
        }
      },
      "id": "InTotoProvenance"
    },
    "Maintainer": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "email": {
          "type": "string"
        }
      },
      "id": "Maintainer"
    },
    "MaliciousContentLLMResult": {
      "id": "MaliciousContentLLMResult",
      "properties": {
        "tokenUsage": {
          "description": "Telemetry metrics tracking token usage for the AI scan.",
          "$ref": "TokenUsage"
        },
        "modelId": {
          "type": "string",
          "description": "The base name of the model that performed the scan."
        },
        "scanStatus": {
          "description": "Status of the scan.",
          "type": "string",
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ],
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ]
        },
        "maxSeverity": {
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "description": "Tracks max severity found.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ]
        }
      },
      "type": "object",
[...]
