{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    }
  },
  "title": "On-Demand Scanning API",
  "discoveryVersion": "v1",
  "name": "ondemandscanning",
  "baseUrl": "https://ondemandscanning.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation's parent resource."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    }
                  },
                  "httpMethod": "GET",
                  "id": "ondemandscanning.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1beta1/{+name}/operations"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "ondemandscanning.projects.locations.operations.get"
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1beta1/{+name}:cancel",
                  "id": "ondemandscanning.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "id": "ondemandscanning.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1beta1/{+name}"
                },
                "wait": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "path": "v1beta1/{+name}:wait",
                  "id": "ondemandscanning.projects.locations.operations.wait",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to wait on.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    },
                    "timeout": {
                      "type": "string",
                      "location": "query",
                      "format": "google-duration",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "scans": {
              "resources": {
                "vulnerabilities": {
                  "methods": {
                    "list": {
                      "path": "v1beta1/{+parent}/vulnerabilities",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists vulnerabilities resulting from a successfully completed scan.",
                      "id": "ondemandscanning.projects.locations.scans.vulnerabilities.list",
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/scans/{scansId}/vulnerabilities",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The page token, resulting from a previous call to ListVulnerabilities."
                        },
                        "parent": {
                          "description": "Required. The parent of the collection of Vulnerabilities being requested. Format: projects/[project_name]/locations/[location]/scans/[scan_id]",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/scans/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The number of vulnerabilities to retrieve.",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListVulnerabilitiesResponse"
                      }
                    }
                  }
                }
              },
              "methods": {
                "analyzePackages": {
                  "path": "v1beta1/{+parent}/scans:analyzePackages",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Initiates an analysis of the provided packages.",
                  "id": "ondemandscanning.projects.locations.scans.analyzePackages",
                  "request": {
                    "$ref": "AnalyzePackagesRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent of the resource for which analysis is requested. Format: projects/[project_name]/locations/[location]",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/scans:analyzePackages",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "description": "A service to scan container images for vulnerabilities.",
  "revision": "20260807",
  "rootUrl": "https://ondemandscanning.googleapis.com/",
  "version_module": true,
  "schemas": {
    "BaseImage": {
      "description": "BaseImage describes a base image of a container image.",
      "type": "object",
      "properties": {
        "layerCount": {
          "format": "int32",
          "description": "The number of layers that the base image is composed of.",
          "type": "integer"
        },
        "registry": {
          "description": "The registry in which the base image is from.",
          "type": "string"
        },
        "repository": {
          "description": "The repository name in which the base image is from.",
          "type": "string"
        },
        "name": {
          "description": "The name of the base image.",
          "type": "string"
        }
      },
      "id": "BaseImage"
    },
    "Artifact": {
      "description": "Artifact describes a build product.",
      "type": "object",
      "properties": {
        "names": {
          "type": "array",
          "description": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image.",
          "items": {
            "type": "string"
          }
        },
        "checksum": {
          "type": "string",
          "description": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container."
        },
        "id": {
          "type": "string",
          "description": "Artifact ID, if any; for container images, this will be a URL by digest like `gcr.io/projectID/imagename@sha256:123456`."
        }
      },
      "id": "Artifact"
    },
    "SourceContext": {
      "description": "A SourceContext is a reference to a tree of files. A SourceContext together with a path point to a unique revision of a single file or directory.",
      "id": "SourceContext",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Labels with user defined metadata.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "cloudRepo": {
          "$ref": "CloudRepoSourceContext",
          "description": "A SourceContext referring to a revision in a Google Cloud Source Repo."
        },
        "gerrit": {
          "description": "A SourceContext referring to a Gerrit project.",
          "$ref": "GerritSourceContext"
        },
        "git": {
          "$ref": "GitSourceContext",
          "description": "A SourceContext referring to any third party Git repo (e.g., GitHub)."
        }
      }
    },
    "ComplianceVersion": {
      "type": "object",
      "properties": {
        "cpeUri": {
          "description": "The CPE URI (https://cpe.mitre.org/specification/) this benchmark is applicable to.",
          "type": "string"
        },
        "version": {
          "description": "The version of the benchmark. This is set to the version of the OS-specific CIS document the benchmark is defined in.",
          "type": "string"
        },
        "benchmarkDocument": {
          "type": "string",
          "description": "The name of the document that defines this benchmark, e.g. \"CIS Container-Optimized OS\"."
        }
      },
      "id": "ComplianceVersion",
      "description": "Describes the CIS benchmark version that is applicable to a given OS and os version."
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaBuilder": {
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaBuilder",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "description": "Identifies the entity that executed the recipe, which is trusted to have correctly performed the operation and populated this provenance."
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource": {
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource",
      "type": "object",
      "properties": {
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uri": {
          "type": "string"
        },
        "entryPoint": {
          "type": "string"
        }
      },
      "description": "Describes where the config file that kicked off the build came from. This is effectively a pointer to the source where buildConfig came from."
    },
    "Category": {
      "type": "object",
      "properties": {
        "categoryId": {
          "type": "string",
          "description": "The identifier of the category."
        },
        "name": {
          "type": "string",
          "description": "The localized name of the category."
        }
      },
      "id": "Category",
      "description": "The category to which the update belongs."
    },
    "Fingerprint": {
      "id": "Fingerprint",
      "type": "object",
      "properties": {
        "v1Name": {
          "description": "Required. The layer ID of the final layer in the Docker image's v1 representation.",
          "type": "string"
        },
        "v2Blob": {
          "type": "array",
          "description": "Required. The ordered list of v2 blobs that represent a given image.",
          "items": {
            "type": "string"
          }
        },
        "v2Name": {
          "type": "string",
          "description": "Output only. The name of the image's v2 blobs computed via: [bottom] := v2_blobbottom := sha256(v2_blob[N] + \" \" + v2_name[N+1]) Only the name of the final blob is kept."
        }
      },
      "description": "A set of properties that uniquely identify a given Docker image."
    },
    "AnalysisCompleted": {
      "description": "Indicates which analysis completed successfully. Multiple types of analysis can be performed on a single resource.",
      "type": "object",
      "properties": {
        "analysisType": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AnalysisCompleted"
    },
    "PackageOccurrence": {
      "description": "Details on how a particular software package was installed on a system.",
      "type": "object",
      "properties": {
        "license": {
          "$ref": "License",
          "description": "Licenses that have been declared by the authors of the package."
        },
        "architecture": {
          "enumDescriptions": [
            "Unknown architecture.",
            "X86 architecture.",
            "X64 architecture."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ],
          "description": "Output only. The CPU architecture for which packages in this distribution channel were built. Architecture will be blank for language packages."
        },
        "packageType": {
          "description": "Output only. The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.).",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Required. Output only. The name of the installed package.",
          "readOnly": true,
          "type": "string"
        },
        "version": {
          "description": "Output only. The version of the package.",
          "readOnly": true,
          "$ref": "Version"
        },
        "cpeUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package. The cpe_uri will be blank for language packages."
        },
        "location": {
          "type": "array",
          "description": "All of the places within the filesystem versions of this package have been found.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "id": "PackageOccurrence"
    },
    "SBOMStatus": {
      "type": "object",
      "properties": {
        "sbomState": {
          "description": "The progress of the SBOM generation.",
          "enumDescriptions": [
            "Default unknown state.",
            "SBOM scanning is pending.",
            "SBOM scanning has completed."
          ],
          "type": "string",
          "enum": [
            "SBOM_STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE"
          ]
        },
        "error": {
          "description": "If there was an error generating an SBOM, this will indicate what that error was.",
          "type": "string"
        }
      },
      "id": "SBOMStatus",
      "description": "The status of an SBOM generation."
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata": {
      "description": "Other properties of the build.",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata",
      "type": "object",
      "properties": {
        "reproducible": {
          "type": "boolean"
        },
        "buildStartedOn": {
          "type": "string",
          "format": "google-datetime"
        },
        "completeness": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness"
        },
        "buildFinishedOn": {
          "type": "string",
          "format": "google-datetime"
        },
        "buildInvocationId": {
          "type": "string"
        }
      }
    },
    "Layer": {
      "description": "Layer holds metadata specific to a layer of a Docker image.",
      "id": "Layer",
      "type": "object",
      "properties": {
        "directive": {
          "type": "string",
          "description": "Required. The recovered Dockerfile directive used to construct this layer. See https://docs.docker.com/engine/reference/builder/ for more information."
        },
        "arguments": {
          "type": "string",
          "description": "The recovered arguments to the Dockerfile directive."
        }
      }
    },
    "Risk": {
      "type": "object",
      "properties": {
        "cisaKev": {
          "description": "CISA maintains the authoritative source of vulnerabilities that have been exploited in the wild.",
          "$ref": "CISAKnownExploitedVulnerabilities"
        },
        "epss": {
          "$ref": "ExploitPredictionScoringSystem",
          "description": "The Exploit Prediction Scoring System (EPSS) estimates the likelihood (probability) that a software vulnerability will be exploited in the wild."
        }
      },
      "id": "Risk"
    },
    "BuildDefinition": {
      "id": "BuildDefinition",
      "type": "object",
      "properties": {
        "buildType": {
          "type": "string"
        },
        "externalParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "internalParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "resolvedDependencies": {
          "type": "array",
          "items": {
            "$ref": "ResourceDescriptor"
          }
        }
      }
    },
    "Completeness": {
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "id": "Completeness",
      "type": "object",
      "properties": {
        "arguments": {
          "type": "boolean",
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe."
        },
        "environment": {
          "description": "If true, the builder claims that recipe.environment is claimed to be complete.",
          "type": "boolean"
        },
        "materials": {
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\".",
          "type": "boolean"
        }
      }
    },
    "LanguagePackageDependency": {
      "id": "LanguagePackageDependency",
      "type": "object",
      "properties": {
        "package": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "description": "Indicates a language package available between this package and the customer's resource artifact."
    },
    "SecretStatus": {
      "description": "The status of the secret with a timestamp.",
      "id": "SecretStatus",
      "type": "object",
      "properties": {
        "message": {
          "description": "Optional. Optional message about the status code.",
          "type": "string"
        },
        "status": {
          "description": "Optional. The status of the secret.",
          "enumDescriptions": [
            "Unspecified",
            "The status of the secret is unknown.",
            "The secret is valid.",
            "The secret is invalid."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "UNKNOWN",
            "VALID",
            "INVALID"
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Optional. The time the secret status was last updated.",
          "format": "google-datetime"
        }
      }
    },
    "WorkspacePolicyResult": {
      "type": "object",
      "properties": {
        "scanStatus": {
          "description": "Status of the scan.",
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "type": "string",
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ]
        },
        "verdict": {
          "description": "Verdict of the scan.",
          "enumDescriptions": [
            "Unspecified verdict.",
            "Scanner passed.",
            "Scanner failed."
          ],
          "type": "string",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        }
      },
      "id": "WorkspacePolicyResult",
      "description": "Result of Workspace Policy scan."
    },
    "WindowsUpdate": {
      "type": "object",
      "properties": {
        "kbArticleIds": {
          "type": "array",
          "description": "The Microsoft Knowledge Base article IDs that are associated with the update.",
          "items": {
            "type": "string"
          }
        },
        "lastPublishedTimestamp": {
          "format": "google-datetime",
          "description": "The last published timestamp of the update.",
          "type": "string"
        },
        "title": {
          "description": "The localized title of the update.",
          "type": "string"
        },
        "identity": {
          "$ref": "Identity",
          "description": "Required - The unique identifier for the update."
        },
        "description": {
          "description": "The localized description of the update.",
          "type": "string"
        },
        "categories": {
          "description": "The list of categories to which the update belongs.",
          "items": {
            "$ref": "Category"
          },
          "type": "array"
        },
        "supportUrl": {
          "description": "The hyperlink to the support information for the update.",
          "type": "string"
        }
      },
      "id": "WindowsUpdate",
      "description": "Windows Update represents the metadata about the update for the Windows operating system. The fields in this message come from the Windows Update API documented at https://docs.microsoft.com/en-us/windows/win32/api/wuapi/nn-wuapi-iupdate."
    },
    "AliasContext": {
      "description": "An alias to a repo revision.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The alias name.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "FIXED",
            "MOVABLE",
            "OTHER"
          ],
          "description": "The alias kind.",
          "enumDescriptions": [
            "Unknown.",
            "Git tag.",
            "Git branch.",
            "Used to specify non-standard aliases. For example, if a Git repo has a ref named \"refs/foo/bar\"."
          ]
        }
      },
      "id": "AliasContext"
    },
    "Recipe": {
      "id": "Recipe",
      "type": "object",
      "properties": {
        "definedInMaterial": {
          "type": "string",
          "format": "int64",
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64."
        },
        "arguments": {
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Since the arguments field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\".",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "environment": {
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Since the environment field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\".",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "type": {
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials.",
          "type": "string"
        },
        "entryPoint": {
          "type": "string",
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use."
        }
      },
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe."
    },
    "CVSS": {
      "type": "object",
      "properties": {
        "exploitMaturity": {
          "type": "string",
          "enum": [
            "EXPLOIT_MATURITY_UNSPECIFIED",
            "EXPLOIT_MATURITY_NOT_DEFINED",
            "EXPLOIT_MATURITY_ATTACKED",
            "EXPLOIT_MATURITY_POC",
            "EXPLOIT_MATURITY_UNREPORTED"
          ],
          "description": "Exploit Maturity (E). Defined in CVSS v4.",
          "enumDescriptions": [
            "Unspecified.",
            "Exploit maturity: Not defined (E:X). Defined in CVSS v4.",
            "Exploit maturity: Attacked (E:A). Defined in CVSS v4.",
            "Exploit maturity: Proof-of-concept (E:P). Defined in CVSS v4.",
            "Exploit maturity: Unreported (E:U). Defined in CVSS v4."
          ]
        },
        "attackComplexity": {
          "type": "string",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH",
            "ATTACK_COMPLEXITY_MEDIUM"
          ],
          "description": "Attack Complexity (AC). Defined in CVSS v2, v3, v4.",
          "enumDescriptions": [
            "Unspecified.",
            "Low attack complexity (AC:L). Defined in CVSS v2, v3, v4.",
            "High attack complexity (AC:H). Defined in CVSS v2, v3, v4.",
            "Medium attack complexity (AC:M). Defined in CVSS v2."
          ]
        },
        "userInteraction": {
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED",
            "USER_INTERACTION_PASSIVE",
            "USER_INTERACTION_ACTIVE"
          ],
          "description": "User Interaction (UI). Defined in CVSS v3, v4.",
          "enumDescriptions": [
            "Unspecified.",
            "No user interaction required (UI:N). Defined in CVSS v3, v4.",
            "User interaction required (UI:R). Defined in CVSS v3.",
            "Passive user interaction required (UI:P). Defined in CVSS v4.",
            "Active user interaction required (UI:A). Defined in CVSS v4."
          ]
        },
        "attackVector": {
          "description": "Attack Vector (AV). Defined in CVSS v2, v3, v4.",
          "enumDescriptions": [
            "Unspecified.",
            "Attack Vector: Network (AV:N). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Adjacent (AV:A). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Local (AV:L). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Physical (AV:P). Defined in CVSS v3, v4."
          ],
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        },
        "confidentialityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Confidentiality Impact (C). Defined in CVSS v2, v3.",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "availabilityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Availability Impact (A). Defined in CVSS v2, v3.",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "vulnerableSystemConfidentialityImpact": {
          "description": "Vulnerable System Confidentiality Impact (VC). Defined in CVSS v4.",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "vulnerableSystemIntegrityImpact": {
          "description": "Vulnerable System Integrity Impact (VI). Defined in CVSS v4.",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "exploitabilityScore": {
          "type": "number",
          "format": "float"
        },
        "privilegesRequired": {
          "description": "Privileges Required (PR). Defined in CVSS v3, v4.",
          "enumDescriptions": [
            "Unspecified.",
            "No privileges required (PR:N). Defined in CVSS v3, v4.",
            "Low privileges required (PR:L). Defined in CVSS v3, v4.",
            "High privileges required (PR:H). Defined in CVSS v3, v4."
          ],
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "attackRequirements": {
          "type": "string",
          "enum": [
            "ATTACK_REQUIREMENTS_UNSPECIFIED",
            "ATTACK_REQUIREMENTS_NONE",
            "ATTACK_REQUIREMENTS_PRESENT"
          ],
          "description": "Attack Requirements (AT). Defined in CVSS v4.",
          "enumDescriptions": [
            "Unspecified.",
            "No attack requirements (AT:N). Defined in CVSS v4.",
            "Attack requirements: Present (AT:P). Defined in CVSS v4."
          ]
        },
        "integrityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Integrity Impact (I). Defined in CVSS v2, v3.",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "vulnerableSystemAvailabilityImpact": {
          "description": "Vulnerable System Availability Impact (VA). Defined in CVSS v4.",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "impactScore": {
          "type": "number",
          "format": "float"
        },
        "baseScore": {
          "description": "The base score is a function of the base metric scores.",
          "format": "float",
          "type": "number"
        },
        "scope": {
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "description": "Scope (S). Defined in CVSS v3.",
          "enumDescriptions": [
            "Unspecified.",
            "Scope: Unchanged (S:U). Defined in CVSS v3.",
            "Scope: Changed (S:C). Defined in CVSS v3."
          ]
        },
        "subsequentSystemAvailabilityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Subsequent System Availability Impact (SA). Defined in CVSS v4.",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "subsequentSystemConfidentialityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Subsequent System Confidentiality Impact (SC). Defined in CVSS v4.",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "authentication": {
          "description": "Authentication (Au). Defined in CVSS v2.",
          "enumDescriptions": [
            "Unspecified.",
            "Multiple authentication required (Au:M). Defined in CVSS v2.",
            "Single authentication required (Au:S). Defined in CVSS v2.",
            "No authentication required (Au:N). Defined in CVSS v2."
          ],
          "type": "string",
          "enum": [
            "AUTHENTICATION_UNSPECIFIED",
            "AUTHENTICATION_MULTIPLE",
            "AUTHENTICATION_SINGLE",
            "AUTHENTICATION_NONE"
          ]
        },
        "subsequentSystemIntegrityImpact": {
          "description": "Subsequent System Integrity Impact (SI). Defined in CVSS v4.",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        }
      },
      "id": "CVSS",
      "description": "Common Vulnerability Scoring System. For details, see https://www.first.org/cvss/specification-document This is a message we will try to use for storing various versions of CVSS rather than making a separate proto for storing a specific version."
    },
    "BinarySourceInfo": {
      "id": "BinarySourceInfo",
      "type": "object",
      "properties": {
        "binaryVersion": {
          "$ref": "PackageVersion",
          "description": "The binary package. This is significant when the source is different than the binary itself. Historically if they've differed, we've stored the name of the source and its version in the package/version fields, but we should also store the binary package info, as that's what's actually installed."
        },
        "sourceVersion": {
          "description": "The source package. Similar to the above, this is significant when the source is different than the binary itself. Since the top-level package/version fields are based on an if/else, we need a separate field for both binary and source if we want to know definitively where the data is coming from.",
          "$ref": "PackageVersion"
        }
      }
    },
    "SecretLocation": {
      "id": "SecretLocation",
      "type": "object",
      "properties": {
        "fileLocation": {
          "description": "The secret is found from a file.",
          "$ref": "GrafeasV1FileLocation"
        }
      },
      "description": "The location of the secret."
    },
    "SlsaProvenanceZeroTwo": {
      "description": "See full explanation of fields at slsa.dev/provenance/v0.2.",
      "id": "SlsaProvenanceZeroTwo",
      "type": "object",
      "properties": {
        "materials": {
          "items": {
            "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial"
          },
          "type": "array"
        },
        "buildType": {
          "type": "string"
        },
        "invocation": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaInvocation"
        },
        "metadata": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata"
        },
        "builder": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaBuilder"
        },
        "buildConfig": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "VexAssessment": {
      "id": "VexAssessment",
      "type": "object",
      "properties": {
        "cve": {
          "description": "Holds the MITRE standard Common Vulnerabilities and Exposures (CVE) tracking number for the vulnerability. Deprecated: Use vulnerability_id instead to denote CVEs.",
          "deprecated": true,
          "type": "string"
        },
        "impacts": {
          "description": "Contains information about the impact of this vulnerability, this will change with time.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "justification": {
          "$ref": "Justification",
          "description": "Justification provides the justification when the state of the assessment if NOT_AFFECTED."
        },
        "relatedUris": {
          "description": "Holds a list of references associated with this vulnerability item and assessment.",
          "items": {
            "$ref": "RelatedUrl"
          },
          "type": "array"
        },
        "noteName": {
          "type": "string",
          "description": "The VulnerabilityAssessment note from which this VexAssessment was generated. This will be of the form: `projects/[PROJECT_ID]/notes/[NOTE_ID]`."
        },
        "vulnerabilityId": {
          "description": "The vulnerability identifier for this Assessment. Will hold one of common identifiers e.g. CVE, GHSA etc.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "AFFECTED",
            "NOT_AFFECTED",
            "FIXED",
            "UNDER_INVESTIGATION"
          ],
          "description": "Provides the state of this Vulnerability assessment.",
          "enumDescriptions": [
            "No state is specified.",
            "This product is known to be affected by this vulnerability.",
            "This product is known to be not affected by this vulnerability.",
            "This product contains a fix for this vulnerability.",
            "It is not known yet whether these versions are or are not affected by the vulnerability. However, it is still under investigation."
          ]
        },
        "remediations": {
          "description": "Specifies details on how to handle (and presumably, fix) a vulnerability.",
          "items": {
            "$ref": "Remediation"
          },
          "type": "array"
        }
      },
      "description": "VexAssessment provides all publisher provided Vex information that is related to this vulnerability."
    },
    "SecretOccurrence": {
      "id": "SecretOccurrence",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Required. Type of secret.",
          "enumDescriptions": [
            "Unspecified",
            "The secret kind is unknown.",
            "A Google Cloud service account key per: https://cloud.google.com/iam/docs/creating-managing-service-account-keys",
            "A Google Cloud API key per: https://cloud.google.com/docs/authentication/api-keys",
            "A Google Cloud OAuth2 client credentials per: https://developers.google.com/identity/protocols/oauth2",
            "A Google Cloud OAuth2 access token per: https://cloud.google.com/docs/authentication/token-types#access",
            "An Anthropic Admin API key.",
            "An Anthropic API key.",
            "An Azure access token.",
            "An Azure Identity Platform ID token.",
            "A Docker Hub personal access token.",
            "A GitHub App refresh token.",
            "A GitHub App server-to-server token.",
            "A GitHub App user-to-server token.",
            "A GitHub personal access token (classic).",
            "A GitHub fine-grained personal access token.",
            "A GitHub OAuth token.",
            "A Hugging Face API key.",
            "An OpenAI API key.",
            "A Perplexity API key.",
            "A Stripe secret key.",
            "A Stripe restricted key.",
            "A Stripe webhook secret."
          ],
          "type": "string",
          "enum": [
            "SECRET_KIND_UNSPECIFIED",
            "SECRET_KIND_UNKNOWN",
            "SECRET_KIND_GCP_SERVICE_ACCOUNT_KEY",
            "SECRET_KIND_GCP_API_KEY",
            "SECRET_KIND_GCP_OAUTH2_CLIENT_CREDENTIALS",
            "SECRET_KIND_GCP_OAUTH2_ACCESS_TOKEN",
            "SECRET_KIND_ANTHROPIC_ADMIN_API_KEY",
            "SECRET_KIND_ANTHROPIC_API_KEY",
            "SECRET_KIND_AZURE_ACCESS_TOKEN",
            "SECRET_KIND_AZURE_IDENTITY_TOKEN",
            "SECRET_KIND_DOCKER_HUB_PERSONAL_ACCESS_TOKEN",
            "SECRET_KIND_GITHUB_APP_REFRESH_TOKEN",
            "SECRET_KIND_GITHUB_APP_SERVER_TO_SERVER_TOKEN",
            "SECRET_KIND_GITHUB_APP_USER_TO_SERVER_TOKEN",
            "SECRET_KIND_GITHUB_CLASSIC_PERSONAL_ACCESS_TOKEN",
            "SECRET_KIND_GITHUB_FINE_GRAINED_PERSONAL_ACCESS_TOKEN",
            "SECRET_KIND_GITHUB_OAUTH_TOKEN",
            "SECRET_KIND_HUGGINGFACE_API_KEY",
            "SECRET_KIND_OPENAI_API_KEY",
            "SECRET_KIND_PERPLEXITY_API_KEY",
            "SECRET_KIND_STRIPE_SECRET_KEY",
            "SECRET_KIND_STRIPE_RESTRICTED_KEY",
            "SECRET_KIND_STRIPE_WEBHOOK_SECRET"
          ]
        },
        "locations": {
          "type": "array",
          "description": "Optional. Locations where the secret is detected.",
          "items": {
            "$ref": "SecretLocation"
          }
        },
        "statuses": {
          "description": "Optional. Status of the secret.",
          "items": {
            "$ref": "SecretStatus"
          },
          "type": "array"
        }
      },
      "description": "The occurrence provides details of a secret."
    },
    "BuildProvenance": {
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion.",
      "type": "object",
      "properties": {
        "creator": {
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time.",
          "type": "string"
        },
        "commands": {
          "description": "Commands requested by the build.",
          "items": {
            "$ref": "Command"
          },
          "type": "array"
        },
        "createTime": {
          "description": "Time at which the build was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which execution of the build was finished."
        },
        "triggerId": {
          "description": "Trigger identifier if the build was triggered automatically; empty if not.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project."
        },
        "id": {
          "type": "string",
          "description": "Required. Unique identifier of the build."
        },
        "builderVersion": {
          "description": "Version string of the builder at the time this build was executed.",
          "type": "string"
        },
        "buildOptions": {
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "logsUri": {
          "description": "URI where any logs for this provenance were written.",
          "type": "string"
        },
        "builtArtifacts": {
          "description": "Output of the build.",
          "items": {
            "$ref": "Artifact"
          },
          "type": "array"
        },
        "sourceProvenance": {
          "$ref": "Source",
          "description": "Details of the Source input to the build."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which execution of the build was started."
        }
      },
      "id": "BuildProvenance"
    },
    "MalwareScanResult": {
      "description": "Result of Malware scan.",
      "id": "MalwareScanResult",
      "type": "object",
      "properties": {
        "scanStatus": {
          "description": "Status of the scan.",
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "type": "string",
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ]
        },
        "verdict": {
          "type": "string",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "description": "Verdict of the scan.",
          "enumDescriptions": [
            "Unspecified verdict.",
            "Scanner passed.",
            "Scanner failed."
          ]
        }
      }
    },
    "AnalyzePackagesMetadata": {
      "id": "AnalyzePackagesMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the scan was created."
        },
        "resourceUri": {
          "description": "The resource URI of the container image being scanned.",
          "type": "string"
        }
      },
      "description": "AnalyzePackagesMetadata contains metadata for an active scan of a container image."
    },
    "CloudRepoSourceContext": {
      "id": "CloudRepoSourceContext",
      "type": "object",
      "properties": {
        "revisionId": {
          "description": "A revision ID.",
          "type": "string"
        },
        "repoId": {
          "$ref": "RepoId",
          "description": "The ID of the repo."
        },
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "AliasContext"
        }
      },
      "description": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo."
    },
    "MaliciousContentStaticResult": {
      "id": "MaliciousContentStaticResult",
      "type": "object",
      "properties": {
        "maxSeverity": {
          "description": "Tracks max severity found.",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ]
        },
        "scanStatus": {
          "description": "Status of the scan.",
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "type": "string",
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ]
        }
      },
      "description": "Result of Malicious Content Static scan."
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial": {
      "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on.",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "Signature": {
      "description": "Verifiers (e.g. Kritis implementations) MUST verify signatures with respect to the trust anchors defined in policy (e.g. a Kritis policy). Typically this means that the verifier has been configured with a map from `public_key_id` to public key material (and any required parameters, e.g. signing algorithm). In particular, verification implementations MUST NOT treat the signature `public_key_id` as anything more than a key lookup hint. The `public_key_id` DOES NOT validate or authenticate a public key; it only provides a mechanism for quickly selecting a public key ALREADY CONFIGURED on the verifier through a trusted channel. Verification implementations MUST reject signatures in any of the following circumstances: * The `public_key_id` is not recognized by the verifier. * The public key that `public_key_id` refers to does not verify the signature with respect to the payload. The `signature` contents SHOULD NOT be \"attached\" (where the payload is included with the serialized `signature` bytes). Verifiers MUST ignore any \"attached\" payload and only verify signatures with respect to explicitly provided payload (e.g. a `payload` field on the proto message that holds this Signature, or the canonical serialization of the proto message that holds this signature).",
      "id": "Signature",
      "type": "object",
      "properties": {
        "publicKeyId": {
          "type": "string",
          "description": "The identifier for the public key that verifies this signature. * The `public_key_id` is required. * The `public_key_id` SHOULD be an RFC3986 conformant URI. * When possible, the `public_key_id` SHOULD be an immutable reference, such as a cryptographic digest. Examples of valid `public_key_id`s: OpenPGP V4 public key fingerprint: * \"openpgp4fpr:74FAF3B861BDA0870C7B6DEF607E48D2A663AEEA\" See https://www.iana.org/assignments/uri-schemes/prov/openpgp4fpr for more details on this scheme. RFC6920 digest-named SubjectPublicKeyInfo (digest of the DER serialization): * \"ni:///sha-256;cD9o9Cq6LG3jD0iKXqEi_vdjJGecm_iXkbqVoScViaU\" * \"nih:///sha-256;703f68f42aba2c6de30f488a5ea122fef76324679c9bf89791ba95a1271589a5\""
        },
        "signature": {
          "description": "The content of the signature, an opaque bytestring. The payload that this signature verifies MUST be unambiguously provided with the Signature during verification. A wrapper message might provide the payload explicitly. Alternatively, a message might have a canonical serialization that can always be unambiguously computed to derive the payload.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "SlsaProvenance": {
      "id": "SlsaProvenance",
      "type": "object",
      "properties": {
        "builder": {
          "$ref": "SlsaBuilder",
          "description": "required"
        },
        "recipe": {
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required",
          "$ref": "SlsaRecipe"
        },
        "metadata": {
          "$ref": "SlsaMetadata"
        },
        "materials": {
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty.",
          "items": {
            "$ref": "Material"
          },
          "type": "array"
        }
      }
    },
    "AnalyzePackagesResponse": {
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan.",
      "type": "object",
      "properties": {
        "scan": {
          "description": "The name of the scan resource created by this successful scan.",
          "type": "string"
        }
      },
      "id": "AnalyzePackagesResponse"
    },
    "BuildOccurrence": {
      "id": "BuildOccurrence",
      "type": "object",
      "properties": {
        "provenanceBytes": {
          "type": "string",
          "description": "Serialized JSON representation of the provenance, used in generating the build signature in the corresponding build note. After verifying the signature, `provenance_bytes` can be unmarshalled and compared to the provenance to confirm that it is unchanged. A base64-encoded string representation of the provenance bytes is used for the signature in order to interoperate with openssl which expects this format for signature verification. The serialized form is captured both to avoid ambiguity in how the provenance is marshalled to json as well to prevent incompatibilities with future changes."
        },
        "intotoProvenance": {
          "description": "Deprecated. See InTotoStatement for the replacement. In-toto Provenance representation as defined in spec.",
          "$ref": "InTotoProvenance"
        },
        "provenance": {
          "$ref": "BuildProvenance",
          "description": "The actual provenance for the build."
        },
        "intotoStatement": {
          "description": "In-toto Statement representation as defined in spec. The intoto_statement can contain any type of provenance. The serialized payload of the statement can be stored and signed in the Occurrence's envelope.",
          "$ref": "InTotoStatement"
        },
        "inTotoSlsaProvenanceV1": {
          "description": "In-Toto Slsa Provenance V1 represents a slsa provenance meeting the slsa spec, wrapped in an in-toto statement. This allows for direct jsonification of a to-spec in-toto slsa statement with a to-spec slsa provenance.",
          "$ref": "InTotoSlsaProvenanceV1"
        }
      },
      "description": "Details of a build occurrence."
    },
    "GerritSourceContext": {
      "description": "A SourceContext referring to a Gerrit project.",
      "type": "object",
      "properties": {
        "hostUri": {
          "description": "The URI of a running Gerrit instance.",
          "type": "string"
        },
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "AliasContext"
        },
        "revisionId": {
          "description": "A revision (commit) ID.",
          "type": "string"
        },
        "gerritProject": {
          "type": "string",
          "description": "The full project name within the host. Projects may be nested, so \"project/subproject\" is a valid project name. The \"repo name\" is the hostURI/project."
        }
      },
      "id": "GerritSourceContext"
    },
    "EnvelopeSignature": {
      "type": "object",
      "properties": {
        "sig": {
          "type": "string",
          "format": "byte"
        },
        "keyid": {
          "type": "string"
        }
      },
      "id": "EnvelopeSignature"
    },
    "GrafeasV1FileLocation": {
      "description": "Indicates the location at which a package was found.",
      "type": "object",
      "properties": {
        "filePath": {
          "description": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file.",
          "type": "string"
        },
        "layerDetails": {
          "description": "Each package found in a file should have its own layer metadata (that is, information from the origin layer of the package).",
          "$ref": "GrafeasV1LayerDetails"
        },
        "lineNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Line number in the file where the package was found. Optional field that only applies to source repository scanning."
        }
      },
      "id": "GrafeasV1FileLocation"
    },
    "Occurrence": {
      "id": "Occurrence",
      "type": "object",
      "properties": {
        "upgrade": {
          "description": "Describes an available package upgrade on the linked resource.",
          "$ref": "UpgradeOccurrence"
        },
        "dsseAttestation": {
          "description": "Describes an attestation of an artifact using dsse.",
          "$ref": "DSSEAttestationOccurrence"
        },
        "deployment": {
          "description": "Describes the deployment of an artifact on a runtime.",
          "$ref": "DeploymentOccurrence"
        },
        "sbomReference": {
          "description": "Describes a specific SBOM reference occurrences.",
          "$ref": "SBOMReferenceOccurrence"
        },
        "vulnerability": {
          "$ref": "VulnerabilityOccurrence",
          "description": "Describes a security vulnerability."
        },
        "remediation": {
          "description": "A description of actions that can be taken to remedy the note.",
          "type": "string"
        },
        "compliance": {
          "$ref": "ComplianceOccurrence",
          "description": "Describes a compliance violation on a linked resource."
        },
        "secret": {
          "$ref": "SecretOccurrence",
          "description": "Describes a secret."
        },
        "advisoryPublishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this advisory was published by the source."
        },
        "noteName": {
          "description": "Required. Immutable. The analysis note associated with this occurrence, in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. This field can be used as a filter in list requests.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time this occurrence was created.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time this occurrence was last updated.",
          "type": "string"
        },
        "package": {
          "$ref": "PackageOccurrence",
          "description": "Describes the installation of a package on the linked resource."
        },
        "discovery": {
          "description": "Describes when a resource was discovered.",
          "$ref": "DiscoveryOccurrence"
        },
        "aiSkillAnalysis": {
          "$ref": "AISkillAnalysisOccurrence",
          "description": "Describes an AI skill analysis."
        },
        "kind": {
          "description": "Output only. This explicitly denotes which of the occurrence details are specified. This field can be used as a filter in list requests.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available package upgrade.",
            "This represents a Compliance Note",
            "This represents a DSSE attestation Note",
            "This represents a Vulnerability Assessment.",
            "This represents an SBOM Reference.",
            "This represents a secret.",
            "This represents an AI skill analysis."
          ],
          "type": "string",
          "enum": [
            "NOTE_KIND_UNSPECIFIED",
            "VULNERABILITY",
            "BUILD",
            "IMAGE",
            "PACKAGE",
            "DEPLOYMENT",
            "DISCOVERY",
            "ATTESTATION",
            "UPGRADE",
            "COMPLIANCE",
            "DSSE_ATTESTATION",
            "VULNERABILITY_ASSESSMENT",
            "SBOM_REFERENCE",
            "SECRET",
            "AI_SKILL_ANALYSIS"
          ]
        },
        "attestation": {
          "$ref": "AttestationOccurrence",
          "description": "Describes an attestation of an artifact."
        },
        "build": {
          "description": "Describes a verifiable build.",
          "$ref": "BuildOccurrence"
        },
        "envelope": {
          "description": "https://github.com/secure-systems-lab/dsse",
          "$ref": "Envelope"
        },
        "resourceUri": {
          "description": "Required. Immutable. A URI that represents the resource for which the occurrence applies. For example, `https://gcr.io/project/image@sha256:123abc` for a Docker image.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
          "type": "string"
        },
        "image": {
          "$ref": "ImageOccurrence",
          "description": "Describes how this resource derives from the basis in the associated note."
        }
      },
      "description": "An instance of an analysis type that has been found on a resource."
    },
    "File": {
      "type": "object",
      "properties": {
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "File"
    },
    "SlsaBuilder": {
      "id": "SlsaBuilder",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "BuildMetadata": {
      "type": "object",
      "properties": {
        "startedOn": {
          "type": "string",
          "format": "google-datetime"
        },
        "finishedOn": {
          "type": "string",
          "format": "google-datetime"
        },
        "invocationId": {
          "type": "string"
        }
      },
      "id": "BuildMetadata"
    },
    "AnalyzePackagesRequest": {
      "id": "AnalyzePackagesRequest",
      "type": "object",
      "properties": {
        "packages": {
          "description": "The packages to analyze.",
          "items": {
            "$ref": "PackageData"
          },
          "type": "array"
        },
        "resourceUri": {
          "description": "Required. The resource URI of the container image being scanned.",
          "type": "string"
        }
      },
      "description": "AnalyzePackagesRequest is the request to analyze a list of packages and create Vulnerability Occurrences for it."
    },
    "DiscoveryOccurrence": {
      "id": "DiscoveryOccurrence",
      "type": "object",
      "properties": {
        "analysisStatusError": {
          "$ref": "Status",
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage is output only and populated by the API."
        },
        "analysisStatus": {
          "description": "The status of discovery for the resource.",
          "enumDescriptions": [
            "Unknown.",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has finished successfully.",
            "Analysis has completed.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported."
          ],
          "type": "string",
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "FINISHED_SUCCESS",
            "COMPLETE",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ]
        },
        "archiveTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time occurrences related to this discovery occurrence were archived."
        },
        "cpe": {
          "type": "string",
          "description": "The CPE of the resource being scanned."
        },
        "lastScanTime": {
          "format": "google-datetime",
          "description": "The last time this resource was scanned.",
          "type": "string"
        },
        "sbomStatus": {
          "$ref": "SBOMStatus",
          "description": "The status of an SBOM generation."
        },
        "continuousAnalysis": {
          "description": "Whether the resource is continuously analyzed.",
          "enumDescriptions": [
            "Unknown.",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ],
          "type": "string",
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "files": {
          "description": "Files that make up the resource described by the occurrence.",
          "items": {
            "$ref": "File"
          },
          "type": "array"
        },
        "analysisCompleted": {
          "$ref": "AnalysisCompleted"
        },
        "analysisError": {
          "type": "array",
          "description": "Indicates any errors encountered during analysis of a resource. There could be 0 or more of these errors.",
          "items": {
            "$ref": "Status"
          }
        },
        "lastVulnerabilityUpdateTime": {
          "format": "google-datetime",
          "description": "The last time vulnerability scan results changed.",
          "type": "string"
        }
      },
      "description": "Provides information about the analysis status of a discovered resource."
    },
    "Finding": {
      "description": "Finding provides details for a single finding within an AISkillAnalysisOccurrence.",
      "type": "object",
      "properties": {
        "scanner": {
          "type": "string",
          "enum": [
            "SCANNER_UNSPECIFIED",
            "STATIC",
            "LLM",
            "WS_POLICY",
            "GOOGLE_ANTIVIRUS"
          ],
          "description": "Scanner determines which engine (e.g. static, llm) emitted the finding.",
          "enumDescriptions": [
            "Unspecified scanner.",
            "Static scanner.",
            "LLM scanner.",
            "WS_POLICY scanner.",
            "Google AntiVirus Service scanner."
          ]
        },
        "location": {
          "description": "Location (path and line) where the finding was detected.",
          "$ref": "FindingLocation"
        },
        "severity": {
          "description": "Severity of the finding.",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ]
        },
        "category": {
          "type": "string",
          "description": "Category of the finding."
        },
        "details": {
          "description": "Description of the finding category.",
          "type": "string"
        }
      },
      "id": "Finding"
    },
    "VulnerabilityOccurrence": {
      "description": "An occurrence of a severity vulnerability on a resource.",
      "type": "object",
      "properties": {
        "vexAssessment": {
          "$ref": "VexAssessment"
        },
        "effectiveSeverity": {
          "description": "The distro assigned severity for this vulnerability when it is available, otherwise this is the note provider assigned severity. When there are multiple PackageIssues for this vulnerability, they can have different effective severities because some might be provided by the distro while others are provided by the language ecosystem for a language pack. For this reason, it is advised to use the effective severity on the PackageIssue level. In the case where multiple PackageIssues have differing effective severities, this field should be the highest severity for any of the PackageIssues.",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "longDescription": {
          "description": "Output only. A detailed description of this vulnerability.",
          "type": "string"
        },
        "cvssVersion": {
          "type": "string",
          "enum": [
            "CVSS_VERSION_UNSPECIFIED",
            "CVSS_VERSION_2",
            "CVSS_VERSION_3",
            "CVSS_VERSION_4"
          ],
          "description": "Output only. CVSS version used to populate cvss_score and severity.",
          "enumDescriptions": [
            "Unspecified.",
            "CVSS v2.",
            "CVSS v3.",
            "CVSS v4."
          ]
        },
        "risk": {
          "description": "Risk information about the vulnerability, such as CISA, EPSS, etc.",
          "$ref": "Risk"
        },
        "cvssv3": {
          "description": "The cvss v3 score for the vulnerability.",
          "$ref": "CVSS"
        },
        "relatedUrls": {
          "type": "array",
          "description": "Output only. URLs related to this vulnerability.",
          "items": {
            "$ref": "RelatedUrl"
          }
        },
        "cvssV4": {
          "$ref": "CVSS",
          "description": "The cvss v4 score for the vulnerability."
        },
        "shortDescription": {
          "type": "string",
          "description": "Output only. A one sentence description of this vulnerability."
        },
        "type": {
          "type": "string",
          "description": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.)."
        },
        "fixAvailable": {
          "description": "Output only. Whether at least one of the affected packages has a fix available.",
          "type": "boolean"
        },
        "cvssScore": {
          "type": "number",
          "description": "Output only. The CVSS score of this vulnerability. CVSS score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity.",
          "format": "float"
        },
        "severity": {
          "description": "Output only. The note provider assigned severity of this vulnerability.",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "packageIssue": {
          "description": "Required. The set of affected locations and their fixes (if available) within the associated resource.",
          "items": {
            "$ref": "PackageIssue"
          },
          "type": "array"
        },
        "cvssV2": {
          "description": "The cvss v2 score for the vulnerability.",
          "$ref": "CVSS"
        },
        "extraDetails": {
          "description": "Occurrence-specific extra details about the vulnerability.",
          "type": "string"
        }
      },
      "id": "VulnerabilityOccurrence"
    },
    "MaliciousContentLLMResult": {
      "id": "MaliciousContentLLMResult",
      "type": "object",
      "properties": {
        "maxSeverity": {
          "description": "Tracks max severity found.",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ]
        },
        "scanStatus": {
          "type": "string",
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ],
          "description": "Status of the scan.",
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ]
        }
      },
      "description": "Result of Malicious Content LLM scan."
    },
    "ProvenanceBuilder": {
      "id": "ProvenanceBuilder",
      "type": "object",
      "properties": {
        "builderDependencies": {
          "type": "array",
          "items": {
            "$ref": "ResourceDescriptor"
          }
        },
        "id": {
          "type": "string"
        },
        "version": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SBOMReferenceOccurrence": {
      "description": "The occurrence representing an SBOM reference as applied to a specific resource. The occurrence follows the DSSE specification. See https://github.com/secure-systems-lab/dsse/blob/master/envelope.md for more details.",
      "type": "object",
      "properties": {
        "signatures": {
          "description": "The signatures over the payload.",
          "items": {
            "$ref": "EnvelopeSignature"
          },
          "type": "array"
        },
        "payload": {
          "$ref": "SbomReferenceIntotoPayload",
          "description": "The actual payload that contains the SBOM reference data."
        },
        "payloadType": {
          "type": "string",
          "description": "The kind of payload that SbomReferenceIntotoPayload takes. Since it's in the intoto format, this value is expected to be 'application/vnd.in-toto+json'."
        }
      },
      "id": "SBOMReferenceOccurrence"
    },
    "License": {
      "type": "object",
      "properties": {
        "expression": {
          "description": "Often a single license can be used to represent the licensing terms. Sometimes it is necessary to include a choice of one or more licenses or some combination of license identifiers. Examples: \"LGPL-2.1-only OR MIT\", \"LGPL-2.1-only AND MIT\", \"GPL-2.0-or-later WITH Bison-exception-2.2\".",
          "type": "string"
        },
        "comments": {
          "type": "string",
          "description": "Comments"
        }
      },
      "id": "License",
      "description": "License information."
    },
    "Jwt": {
      "type": "object",
      "properties": {
        "compactJwt": {
          "description": "The compact encoding of a JWS, which is always three base64 encoded strings joined by periods. For details, see: https://tools.ietf.org/html/rfc7515.html#section-3.1",
          "type": "string"
        }
      },
      "id": "Jwt"
    },
    "DeploymentOccurrence": {
      "id": "DeploymentOccurrence",
      "type": "object",
      "properties": {
        "platform": {
          "description": "Platform hosting this deployment.",
          "enumDescriptions": [
            "Unknown.",
            "Google Container Engine.",
            "Google App Engine: Flexible Environment.",
            "Custom user-defined platform."
          ],
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "GKE",
            "FLEX",
            "CUSTOM"
          ]
        },
        "deployTime": {
          "format": "google-datetime",
          "description": "Required. Beginning of the lifetime of this deployment.",
          "type": "string"
        },
        "undeployTime": {
          "type": "string",
          "description": "End of the lifetime of this deployment.",
          "format": "google-datetime"
        },
        "config": {
          "type": "string",
          "description": "Configuration used to create this deployment."
        },
        "userEmail": {
          "type": "string",
          "description": "Identity of the user that triggered this deployment."
        },
        "resourceUri": {
          "type": "array",
          "description": "Output only. Resource URI for the artifact being deployed taken from the deployable field with the same name.",
          "items": {
            "type": "string"
          }
        },
        "address": {
          "description": "Address of the runtime element hosting this deployment.",
          "type": "string"
        }
      },
      "description": "The period during which some deployable was active in a runtime."
    },
    "GrafeasV1BaseImage": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the base image."
        },
        "repository": {
          "type": "string",
          "description": "The repository name in which the base image is from."
        },
        "registry": {
          "description": "The registry in which the base image is from.",
          "type": "string"
        },
        "layerCount": {
          "type": "integer",
          "description": "The number of layers that the base image is composed of.",
          "format": "int32"
        }
      },
      "id": "GrafeasV1BaseImage",
      "description": "BaseImage describes a base image of a container image."
    },
    "PackageIssue": {
      "type": "object",
      "properties": {
        "affectedCpeUri": {
          "type": "string",
          "description": "Required. The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was found in."
        },
        "affectedPackage": {
          "type": "string",
          "description": "Required. The package this vulnerability was found in."
        },
        "fixAvailable": {
          "type": "boolean",
          "description": "Output only. Whether a fix is available for this package."
        },
        "affectedVersion": {
          "$ref": "Version",
          "description": "Required. The version of the package that is installed on the resource affected by this vulnerability."
        },
        "effectiveSeverity": {
          "description": "Output only. The distro or language system assigned severity for this vulnerability when that is available and note provider assigned severity when it is not available.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "packageType": {
          "description": "The type of package (e.g. OS, MAVEN, GO).",
          "type": "string"
        },
        "fixedVersion": {
          "description": "Required. The version of the package this vulnerability was fixed in. Setting this to VersionKind.MAXIMUM means no fix is yet available.",
          "$ref": "Version"
        },
        "fileLocation": {
          "description": "The location at which this package was found.",
          "items": {
            "$ref": "GrafeasV1FileLocation"
          },
          "type": "array"
        },
        "fixedPackage": {
          "description": "The package this vulnerability was fixed in. It is possible for this to be different from the affected_package.",
          "type": "string"
        },
        "fixedCpeUri": {
          "type": "string",
          "description": "The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was fixed in. It is possible for this to be different from the affected_cpe_uri."
        }
      },
      "id": "PackageIssue",
      "description": "A detail for a distro and package this vulnerability occurrence was found in and its associated fix (if one is available)."
    },
    "GrafeasV1LayerDetails": {
      "type": "object",
      "properties": {
        "diffId": {
          "type": "string",
          "description": "The diff ID (typically a sha256 hash) of the layer in the container image."
        },
        "command": {
          "type": "string",
          "description": "The layer build command that was used to build the layer. This may not be found in all layers depending on how the container image is built."
        },
        "index": {
          "format": "int32",
          "description": "The index of the layer in the container image.",
          "type": "integer"
        },
        "baseImages": {
          "type": "array",
          "description": "The base images the layer is found within.",
          "items": {
            "$ref": "GrafeasV1BaseImage"
          }
        },
        "chainId": {
          "type": "string",
          "description": "The layer chain ID (sha256 hash) of the layer in the container image. https://github.com/opencontainers/image-spec/blob/main/config.md#layer-chainid"
        }
      },
      "id": "GrafeasV1LayerDetails",
      "description": "Details about the layer a package was found in."
    },
    "GitSourceContext": {
      "type": "object",
      "properties": {
        "url": {
          "description": "Git repository URL.",
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "description": "Git commit hash."
        }
      },
      "id": "GitSourceContext",
      "description": "A GitSourceContext denotes a particular revision in a third party Git repository (e.g., GitHub)."
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness": {
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "boolean"
        },
        "environment": {
          "type": "boolean"
        },
        "materials": {
          "type": "boolean"
        }
      },
      "description": "Indicates that the builder claims certain fields in this message to be complete."
    },
    "AnalyzePackagesMetadataV1": {
      "id": "AnalyzePackagesMetadataV1",
      "type": "object",
      "properties": {
        "resourceUri": {
          "description": "The resource URI of the container image being scanned.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the scan was created."
        }
      },
      "description": "AnalyzePackagesMetadata contains metadata for an active scan of a container image."
    },
    "Remediation": {
      "description": "Specifies details on how to handle (and presumably, fix) a vulnerability.",
      "type": "object",
      "properties": {
        "remediationType": {
          "type": "string",
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "MITIGATION",
            "NO_FIX_PLANNED",
            "NONE_AVAILABLE",
            "VENDOR_FIX",
            "WORKAROUND"
          ],
          "description": "The type of remediation that can be applied.",
          "enumDescriptions": [
            "No remediation type specified.",
            "A MITIGATION is available.",
            "No fix is planned.",
            "Not available.",
            "A vendor fix is available.",
            "A workaround is available."
          ]
        },
        "details": {
          "type": "string",
          "description": "Contains a comprehensive human-readable discussion of the remediation."
        },
        "remediationUri": {
          "$ref": "RelatedUrl",
          "description": "Contains the URL where to obtain the remediation."
        }
      },
      "id": "Remediation"
    },
    "FileHashes": {
      "description": "Container message for hashes of byte content of files, used in source messages to verify integrity of source input to the build.",
      "type": "object",
      "properties": {
        "fileHash": {
          "description": "Required. Collection of file hashes.",
          "items": {
            "$ref": "Hash"
          },
          "type": "array"
        }
      },
      "id": "FileHashes"
    },
    "Subject": {
      "type": "object",
      "properties": {
        "digest": {
          "type": "object",
          "description": "`\"\": \"\"` Algorithms can be e.g. sha256, sha512 See https://github.com/in-toto/attestation/blob/main/spec/field_types.md#DigestSet",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Subject"
    },
    "Version": {
      "id": "Version",
      "type": "object",
      "properties": {
        "revision": {
          "type": "string",
          "description": "The iteration of the package build from the above version."
        },
        "epoch": {
          "type": "integer",
          "format": "int32",
          "description": "Used to correct mistakes in the version numbering scheme."
        },
        "inclusive": {
          "type": "boolean",
          "description": "Whether this version is specifying part of an inclusive range. Grafeas does not have the capability to specify version ranges; instead we have fields that specify start version and end versions. At times this is insufficient - we also need to specify whether the version is included in the range or is excluded from the range. This boolean is expected to be set to true when the version is included in a range."
        },
        "fullName": {
          "description": "Human readable version string. This string is of the form :- and is only set when kind is NORMAL.",
          "type": "string"
        },
        "kind": {
          "description": "Required. Distinguishes between sentinel MIN/MAX versions and normal versions.",
          "enumDescriptions": [
            "Unknown.",
            "A standard package version.",
            "A special version representing negative infinity.",
[...]
