{
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    }
  },
  "canonicalName": "Oracle Database",
  "baseUrl": "https://oracledatabase.googleapis.com/",
  "title": "Oracle Database@Google Cloud API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "schemas": {
    "GoldengateConnectionAssignmentProperties": {
      "properties": {
        "ocid": {
          "description": "Output only. The [OCID](https://docs.cloud.oracle.com/Content/General/Concepts/identifiers.htm) of the connection assignment being referenced.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Output only. The lifecycle state of the connection assignment.",
          "readOnly": true,
          "enumDescriptions": [
            "Lifecycle state is unspecified.",
            "Connection assignment is being created.",
            "Connection assignment is active.",
            "Connection assignment failed.",
            "Connection assignment is being updated.",
            "Connection assignment is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "UPDATING",
            "DELETING"
          ]
        },
        "goldengateConnection": {
          "description": "Required. The GoldengateConnection resource to be assigned. Format: projects/{project}/locations/{location}/goldengateConnections/{goldengate_connection}",
          "type": "string"
        },
        "goldengateDeployment": {
          "type": "string",
          "description": "Required. The GoldenGateDeployment to assign the connection to. Format: projects/{project}/locations/{location}/goldengateDeployments/{goldengate_deployment}"
        },
        "alias": {
          "type": "string",
          "description": "Output only. Credential store alias.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoldengateConnectionAssignmentProperties",
      "description": "The properties of a GoldengateConnectionAssignment."
    },
    "ExascaleDbStorageVault": {
      "type": "object",
      "description": "ExascaleDbStorageVault represents a storage vault exadb vm cluster resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/ExascaleDbStorageVault/",
      "id": "ExascaleDbStorageVault",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The date and time when the ExascaleDbStorageVault was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "entitlementId": {
          "description": "Output only. The ID of the subscription entitlement associated with the ExascaleDbStorageVault.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels or tags associated with the ExascaleDbStorageVault.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the ExascaleDbStorageVault. Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}"
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle ExascaleDbStorageVault is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name for the ExascaleDbStorageVault. The name does not have to be unique within your project. The name must be 1-255 characters long and can only contain alphanumeric characters.",
          "type": "string"
        },
        "exadataInfrastructure": {
          "type": "string",
          "description": "Optional. The Exadata Infrastructure resource on which ExascaleDbStorageVault resource is created, in the following format: projects/{project}/locations/{region}/cloudExadataInfrastuctures/{cloud_extradata_infrastructure}"
        },
        "properties": {
          "$ref": "ExascaleDbStorageVaultProperties",
          "description": "Required. The properties of the ExascaleDbStorageVault."
        }
      }
    },
    "ListMinorVersionsResponse": {
      "id": "ListMinorVersionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "minorVersions": {
          "items": {
            "$ref": "MinorVersion"
          },
          "type": "array",
          "description": "The list of MinorVersions."
        }
      },
      "description": "The response for `MinorVersion.List`."
    },
    "ListGiVersionsResponse": {
      "description": "The response for `GiVersion.List`.",
      "id": "ListGiVersionsResponse",
      "type": "object",
      "properties": {
        "giVersions": {
          "type": "array",
          "items": {
            "$ref": "GiVersion"
          },
          "description": "The list of Oracle Grid Infrastructure (GI) versions."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "GoldengateGoogleCloudStorageConnectionProperties": {
      "id": "GoldengateGoogleCloudStorageConnectionProperties",
      "type": "object",
      "description": "The properties of GoldengateGoogleCloudStorageConnectionProperties.",
      "properties": {
        "technologyType": {
          "description": "Optional. The technology type.",
          "type": "string"
        },
        "serviceAccountKeyFile": {
          "description": "Optional. The base64 encoded content of the service account key file containing the credentials required to use Google Cloud Storage.",
          "type": "string"
        }
      }
    },
    "ListExadbVmClustersResponse": {
      "id": "ListExadbVmClustersResponse",
      "description": "The response for `ExadbVmCluster.List`.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "exadbVmClusters": {
          "description": "The list of ExadbVmClusters.",
          "type": "array",
          "items": {
            "$ref": "ExadbVmCluster"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array"
        }
      }
    },
    "GiVersion": {
      "id": "GiVersion",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. version"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Oracle Grid Infrastructure (GI) version resource with the format: projects/{project}/locations/{region}/giVersions/{gi_versions}"
        }
      },
      "type": "object",
      "description": "Details of the Oracle Grid Infrastructure (GI) version resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/GiVersionSummary/"
    },
    "GoldengateOracleAIDataPlatformConnectionProperties": {
      "id": "GoldengateOracleAIDataPlatformConnectionProperties",
      "type": "object",
      "properties": {
        "privateKeyPassphraseSecret": {
          "description": "Optional. The passphrase of the private key.",
          "type": "string"
        },
        "tenancyId": {
          "description": "Optional. The OCID of the related OCI tenancy.",
          "type": "string"
        },
        "connectionUrl": {
          "description": "Optional. Connection URL. It must start with 'jdbc:spark://'",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "Optional. The name of the region. e.g.: us-ashburn-1"
        },
        "useResourcePrincipal": {
          "type": "boolean",
          "description": "Optional. Specifies that the user intends to authenticate to the instance using a resource principal."
        },
        "publicKeyFingerprint": {
          "description": "Optional. The fingerprint of the API Key of the user specified by the user_id.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of OracleAiDataPlatformConnection.",
          "type": "string"
        },
        "privateKeyFile": {
          "type": "string",
          "description": "Optional. The content of the private key file (PEM file) corresponding to the API key of the fingerprint."
        },
        "userId": {
          "description": "Optional. The OCID of the OCI user who will access.",
          "type": "string"
        }
      },
      "description": "The properties of GoldengateOracleAIDataPlatformConnection."
    },
    "AutonomousDatabaseApex": {
      "id": "AutonomousDatabaseApex",
      "type": "object",
      "description": "Oracle APEX Application Development. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseApex",
      "properties": {
        "apexVersion": {
          "description": "Output only. The Oracle APEX Application Development version.",
          "type": "string",
          "readOnly": true
        },
        "ordsVersion": {
          "type": "string",
          "description": "Output only. The Oracle REST Data Services (ORDS) version.",
          "readOnly": true
        }
      }
    },
    "GoldengateElasticsearchConnectionProperties": {
      "id": "GoldengateElasticsearchConnectionProperties",
      "description": "The properties of GoldengateElasticsearchConnection.",
      "type": "object",
      "properties": {
        "servers": {
          "description": "Optional. Comma separated list of Elasticsearch server addresses, specified as host:port entries, where :port is optional. If port is not specified, it defaults to 9200. Example: \"server1.example.com:4000,server2.example.com:4000\"",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of ElasticsearchConnection.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Elastic Search connection. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password Oracle Goldengate uses for Elastic Search connection in plain text."
        },
        "authenticationType": {
          "enum": [
            "ELASTICSEARCH_AUTHENTICATION_TYPE_UNSPECIFIED",
            "NONE",
            "BASIC"
          ],
          "description": "Optional. Authentication type for Elasticsearch.",
          "enumDescriptions": [
            "Authentication type not specified.",
            "No authentication.",
            "Basic authentication."
          ],
          "type": "string"
        },
        "fingerprint": {
          "description": "Optional. Fingerprint required by TLS security protocol. Eg.: '6152b2dfbff200f973c5074a5b91d06ab3b472c07c09a1ea57bb7fd406cdce9c'",
          "type": "string"
        },
        "securityProtocol": {
          "enumDescriptions": [
            "Security protocol not specified.",
            "Plain text communication.",
            "Transport Layer Security."
          ],
          "enum": [
            "ELASTICSEARCH_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS"
          ],
          "description": "Optional. Security protocol for Elasticsearch.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology.",
          "type": "string"
        }
      }
    },
    "GlueIcebergCatalog": {
      "description": "The Glue Iceberg catalog.",
      "type": "object",
      "properties": {
        "glueId": {
          "description": "Required. The catalog ID of Glue.",
          "type": "string"
        }
      },
      "id": "GlueIcebergCatalog"
    },
    "CloudVmClusterProperties": {
      "description": "Various properties and settings associated with Exadata VM cluster.",
      "properties": {
        "localBackupEnabled": {
          "description": "Optional. Use local backup.",
          "type": "boolean"
        },
        "diskRedundancy": {
          "enum": [
            "DISK_REDUNDANCY_UNSPECIFIED",
            "HIGH",
            "NORMAL"
          ],
          "description": "Optional. The type of redundancy.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High - 3 way mirror.",
            "Normal - 2 way mirror."
          ]
        },
        "scanIpIds": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. OCIDs of scan IPs.",
          "type": "array"
        },
        "hostname": {
          "readOnly": true,
          "description": "Output only. host name without domain. format: \"-\" with some suffix. ex: sp2-yi0xq where \"sp2\" is the hostname_prefix.",
          "type": "string"
        },
        "diagnosticsDataCollectionOptions": {
          "$ref": "DataCollectionOptions",
          "description": "Optional. Data collection options for diagnostics."
        },
        "computeModel": {
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "COMPUTE_MODEL_ECPU",
            "COMPUTE_MODEL_OCPU"
          ],
          "description": "Output only. The compute model of the VM Cluster.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified compute model.",
            "Abstract measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers.",
            "Physical measure of compute resources. OCPUs are based on the physical core of a processor."
          ]
        },
        "timeZone": {
          "description": "Optional. Time zone of VM Cluster to set. Defaults to UTC if not specified.",
          "$ref": "TimeZone"
        },
        "scanDns": {
          "description": "Output only. SCAN DNS name. ex: sp2-yi0xq-scan.ocispdelegated.ocisp10jvnet.oraclevcn.com",
          "readOnly": true,
          "type": "string"
        },
        "cpuCoreCount": {
          "description": "Required. Number of enabled CPU cores.",
          "type": "integer",
          "format": "int32"
        },
        "nodeCount": {
          "description": "Optional. Number of database servers.",
          "format": "int32",
          "type": "integer"
        },
        "dbServerOcids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. OCID of database servers."
        },
        "dbNodeStorageSizeGb": {
          "type": "integer",
          "description": "Optional. Local storage per VM.",
          "format": "int32"
        },
        "giVersion": {
          "description": "Optional. Grid Infrastructure Version.",
          "type": "string"
        },
        "clusterName": {
          "type": "string",
          "description": "Optional. OCI Cluster name."
        },
        "scanDnsRecordId": {
          "type": "string",
          "description": "Output only. OCID of scan DNS record.",
          "readOnly": true
        },
        "dnsListenerIp": {
          "readOnly": true,
          "description": "Output only. DNS listener IP.",
          "type": "string"
        },
        "memorySizeGb": {
          "description": "Optional. Memory allocated in GBs.",
          "format": "int32",
          "type": "integer"
        },
        "sshPublicKeys": {
          "type": "array",
          "description": "Optional. SSH public keys to be stored with cluster.",
          "items": {
            "type": "string"
          }
        },
        "shape": {
          "description": "Output only. Shape of VM Cluster.",
          "type": "string",
          "readOnly": true
        },
        "vmFileSystemStorageType": {
          "description": "Optional. Specifies whether VM file system storage / VM images are stored on local DB server storage or Exascale storage.",
          "enum": [
            "VM_FILE_SYSTEM_STORAGE_TYPE_UNSPECIFIED",
            "VM_FILE_SYSTEM_STORAGE_TYPE_LOCAL",
            "VM_FILE_SYSTEM_STORAGE_TYPE_EXASCALE"
          ],
          "enumDescriptions": [
            "Unspecified storage type.",
            "Local DB server storage.",
            "Exascale storage."
          ],
          "type": "string"
        },
        "vmBackupStorageType": {
          "description": "Optional. Specifies whether VM backups are stored on local DB server storage or Exascale storage.",
          "enum": [
            "VM_BACKUP_STORAGE_TYPE_UNSPECIFIED",
            "VM_BACKUP_STORAGE_TYPE_LOCAL",
            "VM_BACKUP_STORAGE_TYPE_EXASCALE"
          ],
          "enumDescriptions": [
            "Unspecified storage type.",
            "Local DB server storage.",
            "Exascale storage."
          ],
          "type": "string"
        },
        "scanListenerPortTcp": {
          "type": "integer",
          "description": "Optional. SCAN listener port - TCP",
          "format": "int32"
        },
        "sparseDiskgroupEnabled": {
          "description": "Optional. Use exadata sparse snapshots.",
          "type": "boolean"
        },
        "dataStorageSizeTb": {
          "type": "number",
          "format": "double",
          "description": "Optional. The data disk group size to be allocated in TBs."
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in maintenance in progress state."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ],
          "description": "Output only. State of the cluster."
        },
        "ocid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Oracle Cloud Infrastructure ID of VM Cluster."
        },
        "domain": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Parent DNS domain where SCAN DNS and hosts names are qualified. ex: ocispdelegated.ocisp10jvnet.oraclevcn.com"
        },
        "scanListenerPortTcpSsl": {
          "description": "Optional. SCAN listener port - TLS",
          "format": "int32",
          "type": "integer"
        },
        "storageSizeGb": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The storage allocation for the disk group, in gigabytes (GB)."
        },
        "storageManagementType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage management type.",
            "Automatic Storage Management.",
            "Exascale storage management."
          ],
          "readOnly": true,
          "description": "Output only. The storage management type of the VM Cluster.",
          "enum": [
            "STORAGE_MANAGEMENT_TYPE_UNSPECIFIED",
            "ASM",
            "EXASCALE"
          ]
        },
        "ociUrl": {
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "type": "string",
          "readOnly": true
        },
        "ocpuCount": {
          "description": "Optional. OCPU count per VM. Minimum is 0.1.",
          "format": "float",
          "type": "number"
        },
        "compartmentId": {
          "type": "string",
          "description": "Output only. Compartment ID of cluster.",
          "readOnly": true
        },
        "systemVersion": {
          "description": "Optional. Operating system version of the image.",
          "type": "string"
        },
        "hostnamePrefix": {
          "description": "Optional. Prefix for VM cluster host names.",
          "type": "string"
        },
        "licenseType": {
          "description": "Required. License type of VM Cluster.",
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "enumDescriptions": [
            "Unspecified",
            "License included part of offer",
            "Bring your own license"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudVmClusterProperties"
    },
    "CustomerContact": {
      "properties": {
        "email": {
          "description": "Required. The email address used by Oracle to send notifications regarding databases and infrastructure.",
          "type": "string"
        }
      },
      "description": "The CustomerContact reference as defined by Oracle. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/CustomerContact",
      "id": "CustomerContact",
      "type": "object"
    },
    "KafkaBootstrapServer": {
      "id": "KafkaBootstrapServer",
      "properties": {
        "privateIpAddress": {
          "type": "string",
          "description": "Optional. The private IP address of the connection's endpoint in the customer's VCN, typically a database endpoint or a big data endpoint (e.g. Kafka bootstrap server). In case the privateIp is provided, the subnetId must also be provided. In case the privateIp (and the subnetId) is not provided it is assumed the datasource is publicly accessible. In case the connection is accessible only privately, the lack of privateIp will result in not being able to access the connection."
        },
        "host": {
          "description": "Required. The name or address of a host.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The port of an endpoint usually specified for a connection."
        }
      },
      "description": "Represents a Kafka bootstrap server with host name, optional port defaults to 9092, and an optional private ip.",
      "type": "object"
    },
    "DbNodeProperties": {
      "id": "DbNodeProperties",
      "description": "Various properties and settings associated with Db node.",
      "type": "object",
      "properties": {
        "dbNodeStorageSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Local storage per database node."
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the database node.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in stopping state.",
            "Indicates that the resource is in stopped state.",
            "Indicates that the resource is in starting state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state."
          ],
          "readOnly": true
        },
        "dbServerOcid": {
          "description": "Optional. Database server OCID.",
          "type": "string"
        },
        "totalCpuCoreCount": {
          "description": "Total CPU core count of the database node.",
          "format": "int32",
          "type": "integer"
        },
        "hostname": {
          "type": "string",
          "description": "Optional. DNS"
        },
        "ocpuCount": {
          "description": "Optional. OCPU count per database node.",
          "format": "int32",
          "type": "integer"
        },
        "ocid": {
          "description": "Output only. OCID of database node.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The date and time that the database node was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "memorySizeGb": {
          "description": "Memory allocated in GBs.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListPluggableDatabasesResponse": {
      "id": "ListPluggableDatabasesResponse",
      "description": "The response for `PluggableDatabase.List`.",
      "type": "object",
      "properties": {
        "pluggableDatabases": {
          "description": "The list of PluggableDatabases.",
          "items": {
            "$ref": "PluggableDatabase"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "RestartAutonomousDatabaseRequest": {
      "id": "RestartAutonomousDatabaseRequest",
      "type": "object",
      "description": "The request for `AutonomousDatabase.Restart`.",
      "properties": {}
    },
    "StopGoldengateDeploymentRequest": {
      "type": "object",
      "id": "StopGoldengateDeploymentRequest",
      "properties": {},
      "description": "The request for `GoldengateDeployment.Stop`."
    },
    "Location": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "GoldengateDeploymentProperties": {
      "properties": {
        "deploymentType": {
          "description": "Required. A valid Goldengate Deployment type. For a list of supported types, use the `ListGoldengateDeploymentTypes` operation.",
          "type": "string"
        },
        "category": {
          "enum": [
            "GOLDENGATE_DEPLOYMENT_CATEGORY_UNSPECIFIED",
            "DATA_REPLICATION",
            "DATA_TRANSFORMS"
          ],
          "enumDescriptions": [
            "The category is unspecified.",
            "The deployment is data replication.",
            "The deployment is data transforms."
          ],
          "description": "Output only. The category of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "privateIpAddress": {
          "readOnly": true,
          "description": "Output only. The private ip address of the GoldengateDeployment.",
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string",
          "description": "Output only. The public ip address of the GoldengateDeployment.",
          "readOnly": true
        },
        "deploymentRole": {
          "enum": [
            "GOLDENGATE_DEPLOYMENT_ROLE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "STANDBY"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The deployment role type is unspecified.",
            "The deployment role type is primary.",
            "The deployment role type is standby."
          ],
          "description": "Output only. The deployment role of the GoldengateDeployment."
        },
        "locks": {
          "description": "Output only. The locks of the GoldengateDeployment.",
          "readOnly": true,
          "items": {
            "$ref": "GoldengateDeploymentLock"
          },
          "type": "array"
        },
        "licenseModel": {
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "enumDescriptions": [
            "The license model is unspecified.",
            "The license model is included.",
            "The license model is bring your own license."
          ],
          "description": "Optional. The Oracle license model that applies to a Deployment.",
          "type": "string"
        },
        "deploymentUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The deployment url of the GoldengateDeployment."
        },
        "deploymentBackupId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The deployment backup id of the GoldengateDeployment."
        },
        "upgradeRequiredTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time upgrade required of the GoldengateDeployment.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the GoldengateDeployment."
        },
        "deploymentDiagnosticData": {
          "readOnly": true,
          "$ref": "DeploymentDiagnosticData",
          "description": "Output only. The deployment diagnostic data of the GoldengateDeployment."
        },
        "ocid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. OCID of the GoldengateDeployment."
        },
        "lastBackupScheduleTime": {
          "description": "Output only. The time last backup scheduled of the GoldengateDeployment.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "backupSchedule": {
          "description": "Output only. The backup schedule of the GoldengateDeployment.",
          "$ref": "GoldengateBackupSchedule",
          "readOnly": true
        },
        "maintenanceConfig": {
          "$ref": "GoldengateMaintenanceConfig",
          "description": "Optional. The maintenance configuration of the GoldengateDeployment."
        },
        "ingressIps": {
          "type": "array",
          "description": "Output only. The ingress ips of the GoldengateDeployment.",
          "items": {
            "$ref": "IngressIp"
          },
          "readOnly": true
        },
        "lifecycleSubState": {
          "readOnly": true,
          "description": "Output only. The lifecycle sub-state of the GoldengateDeployment.",
          "enumDescriptions": [
            "The lifecycle sub-state is unspecified.",
            "The deployment is recovering.",
            "The deployment is starting.",
            "The deployment is stopping.",
            "The deployment is moving.",
            "The deployment is upgrading.",
            "The deployment is restoring.",
            "The deployment is backing up.",
            "The deployment is rolling back."
          ],
          "type": "string",
          "enum": [
            "GOLDENGATE_DEPLOYMENT_LIFECYCLE_SUB_STATE_UNSPECIFIED",
            "RECOVERING",
            "STARTING",
            "STOPPING",
            "MOVING",
            "UPGRADING",
            "RESTORING",
            "BACKING_UP",
            "ROLLING_BACK"
          ]
        },
        "nextMaintenanceTime": {
          "description": "Output only. The time of next maintenance of the GoldengateDeployment.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the GoldengateDeployment was updated.",
          "readOnly": true
        },
        "isAutoScalingEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates if auto scaling is enabled for the Deployment's CPU core count."
        },
        "oggVersionSupportEndTime": {
          "format": "google-datetime",
          "description": "Output only. The time ogg version supported until of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "placements": {
          "type": "array",
          "description": "Output only. The placements of the GoldengateDeployment.",
          "readOnly": true,
          "items": {
            "$ref": "GoldengatePlacement"
          }
        },
        "storageUtilizationBytes": {
          "description": "Output only. The storage utilization in bytes of the GoldengateDeployment.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "fqdn": {
          "description": "Output only. The Fully Qualified Domain Name of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "environmentType": {
          "description": "Optional. The environment type of the GoldengateDeployment.",
          "type": "string"
        },
        "isLatestVersion": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the GoldengateDeployment is of the latest version."
        },
        "nextBackupScheduleTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time next backup scheduled of the GoldengateDeployment.",
          "format": "google-datetime"
        },
        "lifecycleDetails": {
          "readOnly": true,
          "description": "Output only. The lifecycle details of the GoldengateDeployment.",
          "type": "string"
        },
        "oggData": {
          "description": "Required. The ogg data of the GoldengateDeployment.",
          "$ref": "GoldengateOggDeployment"
        },
        "maintenanceWindow": {
          "description": "Optional. The maintenance window of the GoldengateDeployment.",
          "$ref": "GoldengateMaintenanceWindow"
        },
        "cpuCoreCount": {
          "type": "integer",
          "description": "Optional. The Minimum number of OCPUs to be made available for this Deployment.",
          "format": "int32"
        },
        "nsgIds": {
          "description": "Output only. The nsg ids of the GoldengateDeployment.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "loadBalancerId": {
          "description": "Output only. The load balancer id of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "roleChangeTime": {
          "description": "Output only. The time when the role of the GoldengateDeployment was changed.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "lifecycleState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "The deployment is being created.",
            "The deployment is being updated.",
            "The deployment is active.",
            "The deployment is inactive.",
            "The deployment is being deleted.",
            "The deployment is deleted.",
            "The deployment failed.",
            "The deployment needs attention.",
            "The deployment is in progress.",
            "The deployment is canceling.",
            "The deployment is canceled.",
            "The deployment succeeded.",
            "The deployment is waiting."
          ],
          "enum": [
            "GOLDENGATE_DEPLOYMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "DELETED",
            "FAILED",
            "NEEDS_ATTENTION",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "WAITING"
          ],
          "description": "Output only. State of the GoldengateDeployment."
        },
        "loadBalancerSubnetId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The load balancer subnet id of the GoldengateDeployment."
        },
        "isPublic": {
          "description": "Output only. Whether the GoldengateDeployment is public.",
          "type": "boolean",
          "readOnly": true
        },
        "nextMaintenanceDescription": {
          "type": "string",
          "description": "Output only. The next maintenance description of the GoldengateDeployment.",
          "readOnly": true
        },
        "healthy": {
          "description": "Output only. Whether the GoldengateDeployment is healthy.",
          "type": "boolean",
          "readOnly": true
        },
        "nextMaintenanceActionType": {
          "enum": [
            "NEXT_MAINTENANCE_ACTION_TYPE_UNSPECIFIED",
            "UPGRADE"
          ],
          "enumDescriptions": [
            "The next maintenance action type is unspecified.",
            "The next maintenance action type is upgrade."
          ],
          "readOnly": true,
          "description": "Output only. The next maintenance action type of the GoldengateDeployment.",
          "type": "string"
        },
        "isStorageUtilizationLimitExceeded": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether storage utilization limit is exceeded of the GoldengateDeployment."
        }
      },
      "type": "object",
      "description": "Properties of GoldengateDeployment.",
      "id": "GoldengateDeploymentProperties"
    },
    "StorageSizeDetails": {
      "description": "The initial storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
      "id": "StorageSizeDetails",
      "type": "object",
      "properties": {
        "dataStorageSizeInGbs": {
          "description": "Output only. The data storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "recoStorageSizeInGbs": {
          "description": "Output only. The RECO/REDO storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DatabaseConnectionStringProfile": {
      "type": "object",
      "description": "The connection string profile to allow clients to group. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/DatabaseConnectionStringProfile",
      "id": "DatabaseConnectionStringProfile",
      "properties": {
        "tlsAuthentication": {
          "readOnly": true,
          "enum": [
            "TLS_AUTHENTICATION_UNSPECIFIED",
            "SERVER",
            "MUTUAL"
          ],
          "description": "Output only. This field indicates the TLS authentication type of the connection.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Server",
            "Mutual"
          ],
          "type": "string"
        },
        "hostFormat": {
          "type": "string",
          "description": "Output only. The host name format being currently used in connection string.",
          "enumDescriptions": [
            "Default unspecified value.",
            "FQDN",
            "IP"
          ],
          "readOnly": true,
          "enum": [
            "HOST_FORMAT_UNSPECIFIED",
            "FQDN",
            "IP"
          ]
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name for the database connection."
        },
        "value": {
          "description": "Output only. The value of the connection string.",
          "type": "string",
          "readOnly": true
        },
        "syntaxFormat": {
          "description": "Output only. The syntax of the connection string.",
          "enum": [
            "SYNTAX_FORMAT_UNSPECIFIED",
            "LONG",
            "EZCONNECT",
            "EZCONNECTPLUS"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Long",
            "Ezconnect",
            "Ezconnectplus"
          ],
          "type": "string",
          "readOnly": true
        },
        "consumerGroup": {
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "High consumer group.",
            "Medium consumer group.",
            "Low consumer group.",
            "TP consumer group.",
            "TPURGENT consumer group."
          ],
          "enum": [
            "CONSUMER_GROUP_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "TP",
            "TPURGENT"
          ],
          "description": "Output only. The current consumer group being used by the connection.",
          "type": "string"
        },
        "isRegional": {
          "description": "Output only. This field indicates if the connection string is regional and is only applicable for cross-region Data Guard.",
          "readOnly": true,
          "type": "boolean"
        },
        "protocol": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Tcp",
            "Tcps"
          ],
          "readOnly": true,
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "TCP",
            "TCPS"
          ],
          "description": "Output only. The protocol being used by the connection.",
          "type": "string"
        },
        "sessionMode": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "SESSION_MODE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Direct",
            "Indirect"
          ],
          "description": "Output only. The current session mode of the connection."
        }
      }
    },
    "ConfigureExascaleCloudExadataInfrastructureRequest": {
      "id": "ConfigureExascaleCloudExadataInfrastructureRequest",
      "properties": {
        "totalStorageSizeGb": {
          "type": "integer",
          "description": "Required. The total storage to be allocated to Exascale in GBs.",
          "format": "int32"
        },
        "requestId": {
          "description": "Optional. An optional ID to identify the request.",
          "type": "string"
        },
        "totalVmStorageSizeGb": {
          "description": "Optional. Storage size needed for VM storage on Exascale in GBs.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "The request for `CloudExadataInfrastructure.ConfigureExascale`."
    },
    "GoldengateRedisConnectionProperties": {
      "description": "The properties of GoldengateRedisConnection.",
      "properties": {
        "trustStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the TrustStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "trustStoreFile": {
          "description": "Optional. The base64 encoded content of the TrustStore file.",
          "type": "string"
        },
        "servers": {
          "description": "Optional. Comma separated list of Redis server addresses, specified as host:port entries, where :port is optional. If port is not specified, it defaults to 6379. Example: \"server1.example.com:6379,server2.example.com:6379\"",
          "type": "string"
        },
        "keyStorePassword": {
          "type": "string",
          "description": "Optional. Input only. The KeyStore password in plain text."
        },
        "username": {
          "type": "string",
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology."
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password Oracle Goldengate uses for Redis connection in plain text."
        },
        "securityProtocol": {
          "type": "string",
          "description": "Optional. Security protocol for Redis.",
          "enumDescriptions": [
            "Security protocol not specified.",
            "Plain text communication.",
            "Transport Layer Security.",
            "Mutual Transport Layer Security."
          ],
          "enum": [
            "REDIS_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS",
            "MTLS"
          ]
        },
        "technologyType": {
          "description": "Optional. The technology type of RedisConnection.",
          "type": "string"
        },
        "authenticationType": {
          "type": "string",
          "enum": [
            "REDIS_AUTHENTICATION_TYPE_UNSPECIFIED",
            "NONE",
            "BASIC"
          ],
          "description": "Optional. Authentication type for Redis.",
          "enumDescriptions": [
            "Authentication type not specified.",
            "No authentication.",
            "Basic authentication."
          ]
        },
        "trustStorePassword": {
          "description": "Optional. Input only. The TrustStore password in plain text.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Redis connection. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "keyStorePasswordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the KeyStore password. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "redisClusterId": {
          "type": "string",
          "description": "Optional. The OCID of the Redis cluster."
        },
        "keyStoreFile": {
          "description": "Optional. The base64 encoded content of the KeyStore file.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoldengateRedisConnectionProperties"
    },
    "AutonomousDbVersion": {
      "description": "Details of the Autonomous Database version. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDbVersionSummary/",
      "properties": {
        "version": {
          "description": "Output only. An Oracle Database version for Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "workloadUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A URL that points to a detailed description of the Autonomous Database version."
        },
        "dbWorkload": {
          "enum": [
            "DB_WORKLOAD_UNSPECIFIED",
            "OLTP",
            "DW",
            "AJD",
            "APEX"
          ],
          "readOnly": true,
          "description": "Output only. The Autonomous Database workload type.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Autonomous Transaction Processing database.",
            "Autonomous Data Warehouse database.",
            "Autonomous JSON Database.",
            "Autonomous Database with the Oracle APEX Application Development workload type."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Autonomous Database Version resource with the format: projects/{project}/locations/{region}/autonomousDbVersions/{autonomous_db_version}"
        }
      },
      "id": "AutonomousDbVersion",
      "type": "object"
    },
    "ListGoldengateDeploymentsResponse": {
      "id": "ListGoldengateDeploymentsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "goldengateDeployments": {
          "type": "array",
          "description": "The list of GoldengateDeployments.",
          "items": {
            "$ref": "GoldengateDeployment"
          }
        },
        "unreachable": {
          "description": "Optional. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The response for `GoldengateDeployment.List`."
    },
    "DbSystemInitialStorageSize": {
      "properties": {
        "properties": {
          "readOnly": true,
          "$ref": "DbSystemInitialStorageSizeProperties",
          "description": "Output only. The properties of the DbSystem initial storage size summary."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the resource."
        }
      },
      "id": "DbSystemInitialStorageSize",
      "description": "Summary of the DbSystem initial storage size.",
      "type": "object"
    },
    "NameValuePair": {
      "id": "NameValuePair",
      "properties": {
        "value": {
          "description": "Required. The value of the property entry.",
          "type": "string"
        },
        "key": {
          "description": "Required. The name of the property entry.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A name-value pair representing an attribute entry usable in a list of attributes."
    },
    "DatabaseManagementConfig": {
      "type": "object",
      "description": "The configuration of the Database Management service.",
      "id": "DatabaseManagementConfig",
      "properties": {
        "managementType": {
          "enum": [
            "MANAGEMENT_TYPE_UNSPECIFIED",
            "BASIC",
            "ADVANCED"
          ],
          "readOnly": true,
          "description": "Output only. The Database Management type.",
          "type": "string",
          "enumDescriptions": [
            "The type is not specified.",
            "Basic Database Management.",
            "Advanced Database Management."
          ]
        },
        "managementState": {
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "DISABLED",
            "UPDATING",
            "FAILED_ENABLING",
            "FAILED_DISABLING",
            "FAILED_UPDATING"
          ],
          "enumDescriptions": [
            "The status is not specified.",
            "The Database Management service is enabling.",
            "The Database Management service is enabled.",
            "The Database Management service is disabling.",
            "The Database Management service is disabled.",
            "The Database Management service is updating.",
            "The Database Management service failed to enable.",
            "The Database Management service failed to disable.",
            "The Database Management service failed to update."
          ],
          "readOnly": true,
          "description": "Output only. The status of the Database Management service.",
          "type": "string"
        }
      }
    },
    "ListDbVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "dbVersions": {
          "type": "array",
          "items": {
            "$ref": "DbVersion"
          },
          "description": "The list of DbVersions."
        }
      },
      "description": "The response for `DbVersions.List`.",
      "id": "ListDbVersionsResponse",
      "type": "object"
    },
    "GoldengateMongodbConnectionProperties": {
      "properties": {
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses to connect the Mongodb connection. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "connectionString": {
          "type": "string",
          "description": "Optional. MongoDB connection string. e.g.: 'mongodb://mongodb0.example.com:27017/recordsrecords'"
        },
        "tlsCaFile": {
          "type": "string",
          "description": "Optional. Database Certificate - The base64 encoded content of a .pem file, containing the server public key (for 1 and 2-way SSL)."
        },
        "tlsCertificateKeyFile": {
          "type": "string",
          "description": "Optional. Client Certificate - The base64 encoded content of a .pem file, containing the client public key (for 2-way SSL)."
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of MongodbConnection."
        },
        "tlsCertificateKeyFilePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the Client Certificate key file password in Secret Manager. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "tlsCertificateKeyFilePassword": {
          "type": "string",
          "description": "Optional. Input only. The Client Certificate key file password in plain text."
        },
        "username": {
          "type": "string",
          "description": "Optional. The username Oracle Goldengate uses to connect to the database."
        },
        "databaseId": {
          "description": "Optional. The OCID of the Oracle Autonomous Json Database.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password Oracle Goldengate uses to connect the Mongodb connection in plain text."
        },
        "securityProtocol": {
          "type": "string",
          "enumDescriptions": [
            "Security type not specified.",
            "Plain text communication.",
            "Transport Layer Security.",
            "Mutual Transport Layer Security."
          ],
          "description": "Optional. Security Type for MongoDB.",
          "enum": [
            "MONGODB_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS",
            "MTLS"
          ]
        }
      },
      "type": "object",
      "description": "The properties of GoldengateMongodbConnection.",
      "id": "GoldengateMongodbConnectionProperties"
    },
    "GoldengateGoldengateConnectionProperties": {
      "properties": {
        "goldengateDeploymentId": {
          "description": "Optional. The name of the GoldengateDeployment associated with the GoldengateConnection. Format: projects/{project}/locations/{location}/goldengateDeployments/{goldengate_deployment}",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password used to connect to the Oracle Goldengate in plain text.",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "Optional. The host of the GoldengateConnection."
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password used to connect to the Oracle Goldengate. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "technologyType": {
          "description": "Optional. The technology type.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username credential.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The port of the GoldengateConnection."
        }
      },
      "id": "GoldengateGoldengateConnectionProperties",
      "description": "The properties of GoldengateGoldengateConnectionProperties.",
      "type": "object"
    },
    "GoldengateMicrosoftFabricConnectionProperties": {
      "type": "object",
      "id": "GoldengateMicrosoftFabricConnectionProperties",
      "properties": {
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of MicrosoftFabricConnection."
        },
        "endpoint": {
          "description": "Optional. Optional Microsoft Fabric service endpoint. Default value: https://onelake.dfs.fabric.microsoft.com",
          "type": "string"
        },
        "clientSecret": {
          "type": "string",
          "description": "Optional. Client secret associated with the client id."
        },
        "clientId": {
          "type": "string",
          "description": "Optional. Azure client ID of the application."
        },
        "tenantId": {
          "description": "Optional. Azure tenant ID of the application.",
          "type": "string"
        }
      },
      "description": "The properties of GoldengateMicrosoftFabricConnection."
    },
    "ListEntitlementsResponse": {
      "id": "ListEntitlementsResponse",
      "description": "The response for `Entitlement.List`.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "entitlements": {
          "description": "The list of Entitlements",
          "items": {
            "$ref": "Entitlement"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoldengateBackupSchedule": {
      "type": "object",
      "description": "The backup schedule of the GoldengateDeployment.",
      "id": "GoldengateBackupSchedule",
      "properties": {
        "compartmentId": {
          "description": "Output only. The compartment id.",
          "type": "string",
          "readOnly": true
        },
        "backupScheduledTime": {
          "type": "string",
          "description": "Output only. The timestamp of when the backup was scheduled.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "bucket": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The bucket name."
        },
        "namespace": {
          "type": "string",
          "description": "Output only. The namespace name.",
          "readOnly": true
        },
        "metadataOnly": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If metadata only."
        },
        "frequencyBackupScheduled": {
          "type": "string",
          "enumDescriptions": [
            "The frequency backup scheduled is unspecified.",
            "The frequency backup scheduled is daily.",
            "The frequency backup scheduled is weekly.",
            "The frequency backup scheduled is monthly."
          ],
          "readOnly": true,
          "enum": [
            "FREQUENCY_BACKUP_SCHEDULED_UNSPECIFIED",
            "DAILY",
            "WEEKLY",
            "MONTHLY"
          ],
          "description": "Output only. The frequency backup scheduled."
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse"
    },
    "GoldengateDeploymentVersion": {
      "properties": {
        "ocid": {
          "readOnly": true,
          "description": "Output only. The deployment version ocid of the Goldengate Deployment Version resource.",
          "type": "string"
        },
        "properties": {
          "$ref": "GoldengateDeploymentVersionProperties",
          "readOnly": true,
          "description": "Output only. The technology type of the Goldengate Deployment Version resource."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Goldengate Deployment Version resource with the format: projects/{project}/locations/{location}/goldengateDeploymentVersions/{goldengate_deployment_version}"
        }
      },
      "id": "GoldengateDeploymentVersion",
      "description": "Details of the Goldengate Deployment Version resource.",
      "type": "object"
    },
    "StartAutonomousDatabaseRequest": {
      "properties": {},
      "id": "StartAutonomousDatabaseRequest",
      "description": "The request for `AutonomousDatabase.Start`.",
      "type": "object"
    },
    "NessieIcebergCatalog": {
      "description": "The Nessie Iceberg catalog.",
      "id": "NessieIcebergCatalog",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The Nessie uri."
        },
        "branch": {
          "type": "string",
          "description": "Required. The Nessie branch."
        }
      }
    },
    "ExascaleDbStorageVaultProperties": {
      "description": "The properties of the ExascaleDbStorageVault. next ID: 12",
      "properties": {
        "description": {
          "description": "Optional. The description of the ExascaleDbStorageVault.",
          "type": "string"
        },
        "attachedShapeAttributes": {
          "readOnly": true,
          "description": "Output only. The shape attributes of the VM clusters attached to the ExascaleDbStorageVault.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default unspecified value.",
              "Indicates that the resource is in smart storage.",
              "Indicates that the resource is in block storage."
            ],
            "enum": [
              "SHAPE_ATTRIBUTE_UNSPECIFIED",
              "SMART_STORAGE",
              "BLOCK_STORAGE"
            ],
            "type": "string"
          }
        },
        "vmClusterCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of VM clusters associated with the ExascaleDbStorageVault."
        },
        "timeZone": {
          "readOnly": true,
          "description": "Output only. The time zone of the ExascaleDbStorageVault.",
          "$ref": "TimeZone"
        },
        "state": {
          "enumDescriptions": [
            "The state of the ExascaleDbStorageVault is unspecified.",
            "The ExascaleDbStorageVault is being provisioned.",
            "The ExascaleDbStorageVault is available.",
            "The ExascaleDbStorageVault is being updated.",
            "The ExascaleDbStorageVault is being deleted.",
            "The ExascaleDbStorageVault has been deleted.",
            "The ExascaleDbStorageVault has failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ],
          "description": "Output only. The state of the ExascaleDbStorageVault.",
          "readOnly": true,
          "type": "string"
        },
        "availableShapeAttributes": {
          "description": "Output only. The shape attributes available for the VM clusters to be attached to the ExascaleDbStorageVault.",
          "type": "array",
          "readOnly": true,
          "items": {
            "enum": [
              "SHAPE_ATTRIBUTE_UNSPECIFIED",
              "SMART_STORAGE",
              "BLOCK_STORAGE"
            ],
            "enumDescriptions": [
              "Default unspecified value.",
              "Indicates that the resource is in smart storage.",
              "Indicates that the resource is in block storage."
            ],
            "type": "string"
          }
        },
        "vmClusterIds": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of VM cluster OCIDs associated with the ExascaleDbStorageVault."
        },
        "exascaleDbStorageDetails": {
          "$ref": "ExascaleDbStorageDetails",
          "description": "Required. The storage details of the ExascaleDbStorageVault."
        },
        "ociUri": {
          "type": "string",
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "readOnly": true
        },
        "additionalFlashCachePercent": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The size of additional flash cache in percentage of high capacity database storage."
        },
        "ocid": {
          "readOnly": true,
          "description": "Output only. The OCID for the ExascaleDbStorageVault.",
          "type": "string"
        }
      },
      "id": "ExascaleDbStorageVaultProperties",
      "type": "object"
    },
    "GoldengateGooglePubsubConnectionProperties": {
      "id": "GoldengateGooglePubsubConnectionProperties",
      "properties": {
        "technologyType": {
          "description": "Optional. The technology type of GooglePubsubConnection.",
          "type": "string"
        },
        "serviceAccountKeyFile": {
          "description": "Optional. The base64 encoded content of the service account key file containing the credentials required to use Google Pub/Sub.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The properties of GoldengateGooglePubsubConnection."
    },
    "PluggableDatabaseNodeLevelDetails": {
      "properties": {
        "pluggableDatabaseId": {
          "description": "Required. The OCID of the Pluggable Database.",
          "type": "string"
        },
        "nodeName": {
          "type": "string",
          "description": "Required. The Node name of the Database home."
        },
        "openMode": {
          "enum": [
            "PLUGGABLE_DATABASE_OPEN_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "MOUNTED",
            "MIGRATE"
          ],
          "description": "Required. The mode that the pluggable database is in to open it.",
          "type": "string",
          "enumDescriptions": [
            "The open mode is unspecified.",
            "The pluggable database is opened in read-only mode.",
            "The pluggable database is opened in read-write mode.",
            "The pluggable database is mounted.",
            "The pluggable database is migrated."
          ]
        }
      },
      "description": "The Pluggable Database Node Level Details.",
      "id": "PluggableDatabaseNodeLevelDetails",
      "type": "object"
    },
    "GoldengateKafkaConnectionProperties": {
      "properties": {
        "producerPropertiesFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the producer.properties file."
        },
        "keyStorePassword": {
          "type": "string",
          "description": "Optional. Input only. The KeyStore password in plain text."
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password for Kafka basic/SASL auth. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "trustStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the TrustStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "trustStorePassword": {
          "description": "Optional. Input only. The TrustStore password in plain text.",
          "type": "string"
        },
        "sslKeyPasswordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password for the cert inside of the KeyStore. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "streamPoolId": {
          "type": "string",
          "description": "Optional. The OCID of the stream pool being referenced."
        },
        "consumerPropertiesFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the consumer.properties file."
        },
        "securityProtocol": {
          "type": "string",
          "enumDescriptions": [
            "Security type not specified.",
            "SSL security protocol.",
            "SASL SSL security protocol.",
            "Plaintext security protocol.",
            "SASL Plaintext security protocol."
          ],
          "enum": [
            "KAFKA_SECURITY_PROTOCOL_UNSPECIFIED",
            "SSL",
            "SASL_SSL",
            "PLAINTEXT",
            "SASL_PLAINTEXT"
          ],
          "description": "Optional. Security Type for Kafka."
        },
        "clusterId": {
          "description": "Optional. The OCID of the Kafka cluster being referenced from OCI Streaming with Apache Kafka.",
          "type": "string"
        },
        "keyStoreFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the KeyStore file."
        },
        "useResourcePrincipal": {
          "type": "boolean",
          "description": "Optional. Specifies that the user intends to authenticate to the instance using a resource principal. Applicable only for OCI Streaming connections."
        },
        "keyStorePasswordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the KeyStore password. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of KafkaConnection."
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password for Kafka basic/SASL auth in plain text."
        },
        "bootstrapServers": {
          "type": "array",
          "items": {
            "$ref": "KafkaBootstrapServer"
          },
          "description": "Optional. Kafka bootstrap. Equivalent of bootstrap.servers configuration property in Kafka: list of KafkaBootstrapServer objects specified by host/port. Used for establishing the initial connection to the Kafka cluster. Example: \"server1.example.com:9092,server2.example.com:9092\""
        },
        "sslKeyPassword": {
          "description": "Optional. Input only. The password for the cert inside of the KeyStore in plain text.",
          "type": "string"
        },
        "trustStoreFile": {
          "description": "Optional. The base64 encoded content of the TrustStore file.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The properties of GoldengateKafkaConnection.",
      "id": "GoldengateKafkaConnectionProperties"
    },
    "DbSystem": {
      "id": "DbSystem",
      "description": "Details of the DbSystem (BaseDB) resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbSystem/",
      "properties": {
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle DbSystem is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "entitlementId": {
          "description": "Output only. The ID of the subscription entitlement associated with the DbSystem",
          "readOnly": true,
          "type": "string"
        },
        "ociUrl": {
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "readOnly": true,
          "type": "string"
        },
        "odbNetwork": {
          "type": "string",
          "description": "Optional. The name of the OdbNetwork associated with the DbSystem. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet."
        },
        "name": {
          "description": "Identifier. The name of the DbSystem resource in the following format: projects/{project}/locations/{region}/dbSystems/{db_system}",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The date and time that the DbSystem was created.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels or tags associated with the DbSystem."
        },
        "odbSubnet": {
          "type": "string",
          "description": "Required. The name of the OdbSubnet associated with the DbSystem for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "properties": {
          "description": "Optional. The properties of the DbSystem.",
          "$ref": "DbSystemProperties"
        },
        "displayName": {
          "description": "Required. The display name for the System db. The name does not have to be unique within your project.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoldengateOggDeployment": {
      "id": "GoldengateOggDeployment",
      "description": "The Ogg data of the GoldengateDeployment.",
      "properties": {
        "passwordSecretId": {
          "type": "string",
          "description": "Output only. The password secret id of the GoldengateDeployment.",
          "readOnly": true
        },
        "credentialStore": {
          "enumDescriptions": [
            "The credential store is unspecified.",
            "The credential store is Goldengate.",
            "The credential store is IAM."
          ],
          "type": "string",
          "description": "Output only. The credential store of the GoldengateDeployment.",
          "readOnly": true,
          "enum": [
            "CREDENTIAL_STORE_UNSPECIFIED",
            "GOLDENGATE",
            "IAM"
          ]
        },
        "oggVersion": {
          "description": "Optional. Version of OGG",
          "type": "string"
        },
        "adminUsername": {
          "type": "string",
          "description": "Required. The Goldengate deployment console username."
        },
        "identityDomainId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The identity domain id of the GoldengateDeployment."
        },
        "deployment": {
          "description": "Required. The name given to the Goldengate service deployment. The name must be 1 to 32 characters long, must contain only alphanumeric characters and must start with a letter.",
          "type": "string"
        },
        "adminPasswordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The Goldengate deployment console password secret version."
        },
        "certificate": {
          "readOnly": true,
          "description": "Output only. The certificate of the GoldengateDeployment.",
          "type": "string"
        },
        "adminPassword": {
          "description": "Optional. The Goldengate deployment console password in plain text.",
          "type": "string"
        },
        "groupRolesMapping": {
          "readOnly": true,
          "description": "Output only. The group to roles mapping of the GoldengateDeployment.",
          "$ref": "GoldengateGroupToRolesMapping"
        }
      },
      "type": "object"
    },
    "GoldengateAzureDataLakeStorageConnectionProperties": {
      "type": "object",
      "id": "GoldengateAzureDataLakeStorageConnectionProperties",
      "description": "The properties of GoldengateAzureDataLakeStorageConnection.",
      "properties": {
        "accountKeySecret": {
          "description": "Optional. Azure storage account key. This property is required when 'authentication_type' is set to 'SHARED_KEY'.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "Optional. Azure client ID of the application. This property is required when 'authentication_type' is set to 'AZURE_ACTIVE_DIRECTORY'."
        },
        "sasTokenSecret": {
          "description": "Optional. Credential that uses a shared access signature (SAS) to authenticate to an Azure Service.",
          "type": "string"
        },
        "azureTenantId": {
          "description": "Optional. Azure tenant ID of the application. This property is required when 'authentication_type' is set to 'AZURE_ACTIVE_DIRECTORY'.",
          "type": "string"
        },
        "account": {
          "description": "Optional. Sets the Azure storage account name.",
          "type": "string"
        },
        "endpoint": {
          "description": "Optional. Azure Storage service endpoint. e.g: https://test.blob.core.windows.net",
          "type": "string"
        },
        "azureAuthorityHost": {
          "description": "Optional. The endpoint used for authentication with Microsoft Entra ID (formerly Azure Active Directory). Default value: https://login.microsoftonline.com",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of AzureDataLakeStorageConnection.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. Azure client secret (aka application password) for authentication.",
          "type": "string"
        },
        "authenticationType": {
          "type": "string",
          "description": "Optional. Authentication mechanism to access Azure Data Lake Storage.",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Shared key authentication.",
            "Shared access signature authentication.",
            "Azure active directory authentication."
          ],
          "enum": [
            "AUTHENTICATION_TYPE_UNSPECIFIED",
            "SHARED_KEY",
            "SHARED_ACCESS_SIGNATURE",
            "AZURE_ACTIVE_DIRECTORY"
          ]
        }
      }
    },
    "ListDbSystemShapesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "dbSystemShapes": {
          "description": "The list of Database System shapes.",
          "items": {
            "$ref": "DbSystemShape"
          },
          "type": "array"
        }
      },
      "id": "ListDbSystemShapesResponse",
      "description": "The response for `DbSystemShape.List`.",
      "type": "object"
    },
    "GoldengateSnowflakeConnectionProperties": {
      "id": "GoldengateSnowflakeConnectionProperties",
      "type": "object",
      "properties": {
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect to Snowflake.",
          "type": "string"
        },
        "privateKeyFile": {
          "description": "Optional. The content of private key file in PEM format.",
          "type": "string"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of SnowflakeConnection."
        },
        "connectionUrl": {
          "type": "string",
          "description": "Optional. JDBC connection URL. e.g.: 'jdbc:snowflake://.snowflakecomputing.com/?warehouse=&db='"
        },
        "privateKeyPassphraseSecret": {
          "description": "Optional. Password if the private key file is encrypted.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses to connect to Snowflake platform in plain text.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses to connect to Snowflake platform. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "authenticationType": {
          "description": "Optional. Used authentication mechanism to access Snowflake.",
          "enum": [
            "AUTHENTICATION_TYPE_UNSPECIFIED",
            "BASIC",
            "KEY_PAIR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Basic authentication.",
            "Key pair authentication."
          ]
        }
      },
      "description": "The properties of GoldengateSnowflakeConnection."
    },
    "GoldengateDatabricksConnectionProperties": {
      "type": "object",
      "description": "The properties of GoldengateDatabricksConnection.",
      "properties": {
        "clientSecret": {
          "description": "Optional. OAuth client secret, only applicable for authentication_type == OAUTH_M2M",
          "type": "string"
        },
        "authenticationType": {
          "type": "string",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Personal access token authentication.",
            "OAuth M2M authentication."
          ],
          "description": "Optional. Authentication type for Databricks.",
          "enum": [
            "DATABRICKS_AUTHENTICATION_TYPE_UNSPECIFIED",
            "PERSONAL_ACCESS_TOKEN",
            "OAUTH_M2M"
          ]
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password used to connect to Databricks. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "clientId": {
          "description": "Optional. OAuth client id, only applicable for authentication_type == OAUTH_M2M",
          "type": "string"
        },
        "storageCredential": {
          "type": "string",
          "description": "Optional. External storage credential name to access files on object storage such as ADLS Gen2, S3 or Cloud Storage."
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of DatabricksConnection."
        },
        "connectionUrl": {
          "type": "string",
          "description": "Optional. Connection URL. e.g.: 'jdbc:databricks://adb-33934.4.azuredatabricks.net:443/default;transportMode=http;ssl=1;httpPath=sql/protocolv1/o/3393########44/0##3-7-hlrb'"
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password used to connect to Databricks in plain text."
        }
      },
      "id": "GoldengateDatabricksConnectionProperties"
    },
    "SourceConfig": {
      "id": "SourceConfig",
      "description": "The source configuration for the standby Autonomous Database.",
      "properties": {
        "useLatestAvailableBackup": {
          "description": "Optional. Clone from latest available backup timestamp. This field is only applicable in case of BACKUP_FROM_TIMESTAMP source type.",
          "type": "boolean"
        },
        "automaticBackupsReplicationEnabled": {
          "description": "Optional. This field specifies if the replication of automatic backups is enabled when creating a Data Guard.",
          "type": "boolean"
        },
        "autonomousDatabase": {
          "description": "Optional. The name of the primary Autonomous Database that is used to create a Peer Autonomous Database from a source.",
          "type": "string"
        },
        "autoRefreshStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The date and time that auto-refreshing will begin for an Autonomous Database refreshable clone. This value controls only the start time for the first refresh operation."
        },
        "autonomousDatabaseBackup": {
          "type": "string",
          "description": "Optional. The name of the Autonomous Database Backup resource with the format: projects/{project}/locations/{region}/autonomousDatabaseBackups/{autonomous_database_backup} Required when source_type is BACKUP_FROM_ID."
        },
        "autoRefreshPointLagSeconds": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The time, in seconds, the data of the automatic refreshable clone lags the primary database at the point of refresh."
        },
        "cloneType": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Creates a new database with the source database's data and metadata.",
            "Creates a new database that includes all the source database schema metadata, but none of the source database data."
          ],
          "type": "string",
          "description": "Optional. The clone type of the Autonomous Database. This field is only applicable in case of cloning",
          "enum": [
            "CLONE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA"
          ]
        },
        "sourceType": {
          "description": "Optional. The source type of the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Clone database from an existing database specified in autonomous_database field.",
            "Create a cross-region disaster recovery peer adb from an existing adb.",
            "Create a refreshable clone from an existing database specified in autonomous_database field.",
            "Create clone from the backup resource.",
            "Create clone from backup specified by backup_time field, or use latest available backup if use_latest_available_backup is true. The autonomous_database field must specify the source database to clone from."
          ],
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "CLONE_DATABASE",
            "CROSS_REGION_DISASTER_RECOVERY",
            "CLONE_TO_REFRESHABLE",
            "BACKUP_FROM_ID",
            "BACKUP_FROM_TIMESTAMP"
          ]
        },
        "refreshableMode": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Automatic refresh.",
            "Manual refresh."
          ],
          "enum": [
            "REFRESHABLE_MODE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "type": "string",
          "description": "Optional. The refresh mode of the clone."
        },
        "backupTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The timestamp specified for the point-in-time clone of the source Autonomous Database. This field is only applicable in case of BACKUP_FROM_TIMESTAMP source type and when use_latest_available_backup is false."
        },
        "autoRefreshFrequencySeconds": {
          "format": "int32",
          "description": "Optional. The frequency in seconds a refreshable clone is refreshed after auto-refresh is enabled.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoldengateMysqlConnectionProperties": {
      "type": "object",
      "description": "Properties of GoldengateMysqlConnection.",
      "properties": {
        "additionalAttributes": {
          "items": {
            "$ref": "NameValuePair"
          },
          "description": "Optional. An array of name-value pair attribute entries. Used as additional parameters in connection string.",
          "type": "array"
        },
        "host": {
          "description": "Optional. The name or address of a host.",
          "type": "string"
        },
        "dbSystemId": {
          "type": "string",
          "description": "Optional. The OCID of the database system being referenced."
        },
        "sslMode": {
          "description": "Optional. SSL modes for MySQL.",
          "enum": [
            "SSL_MODE_UNSPECIFIED",
            "DISABLED",
            "PREFERRED",
            "REQUIRED",
            "VERIFY_CA",
            "VERIFY_IDENTITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "SSL mode not specified.",
            "SSL is disabled.",
            "SSL is preferred.",
            "SSL is required.",
            "SSL is required and certificate is verified.",
            "SSL is required and certificate and hostname are verified."
          ]
        },
        "sslCrlFile": {
          "type": "string",
          "description": "Optional. The base64 encoded list of certificates revoked by the trusted certificate authorities (Trusted CA)."
        },
        "technologyType": {
          "description": "Optional. The technology type of MysqlConnection.",
          "type": "string"
        },
        "sslCaFile": {
          "description": "Optional. Database Certificate - The base64 encoded content of a .pem or .crt file containing the server public key (for 1 and 2-way SSL).",
          "type": "string"
        },
        "sslCertFile": {
          "description": "Optional. Client Certificate - The base64 encoded content of a .pem or .crt file containing the client public key (for 2-way SSL).",
          "type": "string"
        },
        "securityProtocol": {
          "enumDescriptions": [
            "Security type not specified.",
            "Plain text communication.",
            "Transport Layer Security.",
            "Mutual Transport Layer Security."
          ],
          "description": "Optional. Security Type for MySQL.",
          "type": "string",
          "enum": [
            "MYSQL_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS",
            "MTLS"
          ]
        },
        "database": {
          "type": "string",
          "description": "Optional. The name of the database."
        },
        "port": {
          "description": "Optional. The port of an endpoint usually specified for a connection.",
          "format": "int32",
          "type": "integer"
        },
        "sslKeyFile": {
          "description": "Optional. Client Key - The base64 encoded content of a .pem or .crt file containing the client private key (for 2-way SSL).",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password Oracle Goldengate uses to connect to MySQL in plain text."
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses to connect to MySQL. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology.",
          "type": "string"
        }
      },
      "id": "GoldengateMysqlConnectionProperties"
    },
    "AutonomousDatabaseConnectionStrings": {
      "id": "AutonomousDatabaseConnectionStrings",
      "description": "The connection string used to connect to the Autonomous Database. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseConnectionStrings",
      "type": "object",
      "properties": {
        "profiles": {
          "type": "array",
          "description": "Output only. A list of connection string profiles to allow clients to group, filter, and select values based on the structured metadata.",
          "readOnly": true,
          "items": {
            "$ref": "DatabaseConnectionStringProfile"
          }
        },
        "medium": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The database service provides a lower level of resources to each SQL statement."
        },
        "dedicated": {
[...]
