{
  "rootUrl": "https://oracledatabase.googleapis.com/",
  "version": "v1",
  "revision": "20260629",
  "ownerName": "Google",
  "basePath": "",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/oracle/database/docs",
  "ownerDomain": "google.com",
  "endpoints": [
    {
      "endpointUrl": "https://oracledatabase.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://oracledatabase.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://oracledatabase.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://oracledatabase.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://oracledatabase.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://oracledatabase.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    }
  ],
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://oracledatabase.mtls.googleapis.com/",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "servicePath": "",
  "baseUrl": "https://oracledatabase.googleapis.com/",
  "schemas": {
    "ExadbVmClusterProperties": {
      "description": "The properties of an ExadbVmCluster.",
      "id": "ExadbVmClusterProperties",
      "type": "object",
      "properties": {
        "hostnamePrefix": {
          "type": "string",
          "description": "Required. Immutable. Prefix for VM cluster host names."
        },
        "giVersion": {
          "description": "Output only. The Oracle Grid Infrastructure (GI) software version.",
          "readOnly": true,
          "type": "string"
        },
        "shapeAttribute": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in smart storage.",
            "Indicates that the resource is in block storage."
          ],
          "type": "string",
          "description": "Required. Immutable. The shape attribute of the VM cluster. The type of Exascale storage used for Exadata VM cluster. The default is SMART_STORAGE which supports Oracle Database 23ai and later",
          "enum": [
            "SHAPE_ATTRIBUTE_UNSPECIFIED",
            "SMART_STORAGE",
            "BLOCK_STORAGE"
          ]
        },
        "sshPublicKeys": {
          "items": {
            "type": "string"
          },
          "description": "Required. Immutable. The SSH public keys for the ExadbVmCluster.",
          "type": "array"
        },
        "additionalEcpuCountPerNode": {
          "description": "Optional. Immutable. The number of additional ECPUs per node for an Exadata VM cluster on exascale infrastructure.",
          "type": "integer",
          "format": "int32"
        },
        "gridImageId": {
          "type": "string",
          "description": "Required. Immutable. Grid Infrastructure Version."
        },
        "scanListenerPortTcp": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Immutable. SCAN listener port - TCP"
        },
        "nodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The number of nodes/VMs in the ExadbVmCluster."
        },
        "licenseModel": {
          "type": "string",
          "description": "Optional. Immutable. The license type of the ExadbVmCluster.",
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Default is license included.",
            "Bring your own license."
          ]
        },
        "ociUri": {
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "readOnly": true,
          "type": "string"
        },
        "vmFileSystemStorage": {
          "description": "Required. Immutable. Total storage details for the ExadbVmCluster.",
          "$ref": "ExadbVmClusterStorageDetails"
        },
        "timeZone": {
          "description": "Optional. Immutable. The time zone of the ExadbVmCluster.",
          "$ref": "TimeZone"
        },
        "memorySizeGb": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Memory per VM (GB) (Read-only): Shows the amount of memory allocated to each VM. Memory is calculated based on 2.75 GB per Total ECPUs."
        },
        "dataCollectionOptions": {
          "description": "Optional. Immutable. Indicates user preference for data collection options.",
          "$ref": "DataCollectionOptionsCommon"
        },
        "lifecycleState": {
          "description": "Output only. State of the cluster.",
          "enum": [
            "EXADB_VM_CLUSTER_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in maintenance in progress state."
          ]
        },
        "enabledEcpuCountPerNode": {
          "description": "Required. Immutable. The number of ECPUs enabled per node for an exadata vm cluster on exascale infrastructure.",
          "type": "integer",
          "format": "int32"
        },
        "hostname": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The hostname of the ExadbVmCluster."
        },
        "clusterName": {
          "description": "Optional. Immutable. The cluster name for Exascale vm cluster. The cluster name must begin with an alphabetic character and may contain hyphens(-) but can not contain underscores(_). It should be not more than 11 characters and is not case sensitive. OCI Cluster name.",
          "type": "string"
        },
        "exascaleDbStorageVault": {
          "description": "Required. Immutable. The name of ExascaleDbStorageVault associated with the ExadbVmCluster. It can refer to an existing ExascaleDbStorageVault. Or a new one can be created during the ExadbVmCluster creation (requires storage_vault_properties to be set). Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}",
          "type": "string"
        }
      }
    },
    "GoldengateOggDeployment": {
      "id": "GoldengateOggDeployment",
      "type": "object",
      "properties": {
        "adminPasswordSecretVersion": {
          "description": "Optional. Input only. The Goldengate deployment console password secret version.",
          "type": "string"
        },
        "groupRolesMapping": {
          "description": "Output only. The group to roles mapping of the GoldengateDeployment.",
          "$ref": "GoldengateGroupToRolesMapping",
          "readOnly": true
        },
        "adminPassword": {
          "description": "Optional. The Goldengate deployment console password in plain text.",
          "type": "string"
        },
        "deployment": {
          "description": "Required. The name given to the Goldengate service deployment. The name must be 1 to 32 characters long, must contain only alphanumeric characters and must start with a letter.",
          "type": "string"
        },
        "credentialStore": {
          "type": "string",
          "description": "Output only. The credential store of the GoldengateDeployment.",
          "enum": [
            "CREDENTIAL_STORE_UNSPECIFIED",
            "GOLDENGATE",
            "IAM"
          ],
          "enumDescriptions": [
            "The credential store is unspecified.",
            "The credential store is Goldengate.",
            "The credential store is IAM."
          ],
          "readOnly": true
        },
        "oggVersion": {
          "type": "string",
          "description": "Optional. Version of OGG"
        },
        "passwordSecretId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The password secret id of the GoldengateDeployment."
        },
        "adminUsername": {
          "description": "Required. The Goldengate deployment console username.",
          "type": "string"
        },
        "certificate": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The certificate of the GoldengateDeployment."
        },
        "identityDomainId": {
          "description": "Output only. The identity domain id of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The Ogg data of the GoldengateDeployment."
    },
    "ExascaleDbStorageVaultProperties": {
      "id": "ExascaleDbStorageVaultProperties",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of the ExascaleDbStorageVault.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state of the ExascaleDbStorageVault is unspecified.",
            "The ExascaleDbStorageVault is being provisioned.",
            "The ExascaleDbStorageVault is available.",
            "The ExascaleDbStorageVault is being updated.",
            "The ExascaleDbStorageVault is being deleted.",
            "The ExascaleDbStorageVault has been deleted.",
            "The ExascaleDbStorageVault has failed."
          ]
        },
        "vmClusterCount": {
          "description": "Output only. The number of VM clusters associated with the ExascaleDbStorageVault.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "attachedShapeAttributes": {
          "items": {
            "enumDescriptions": [
              "Default unspecified value.",
              "Indicates that the resource is in smart storage.",
              "Indicates that the resource is in block storage."
            ],
            "type": "string",
            "enum": [
              "SHAPE_ATTRIBUTE_UNSPECIFIED",
              "SMART_STORAGE",
              "BLOCK_STORAGE"
            ]
          },
          "description": "Output only. The shape attributes of the VM clusters attached to the ExascaleDbStorageVault.",
          "readOnly": true,
          "type": "array"
        },
        "exascaleDbStorageDetails": {
          "description": "Required. The storage details of the ExascaleDbStorageVault.",
          "$ref": "ExascaleDbStorageDetails"
        },
        "description": {
          "description": "Optional. The description of the ExascaleDbStorageVault.",
          "type": "string"
        },
        "vmClusterIds": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of VM cluster OCIDs associated with the ExascaleDbStorageVault.",
          "items": {
            "type": "string"
          }
        },
        "ociUri": {
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "readOnly": true,
          "type": "string"
        },
        "timeZone": {
          "description": "Output only. The time zone of the ExascaleDbStorageVault.",
          "$ref": "TimeZone",
          "readOnly": true
        },
        "additionalFlashCachePercent": {
          "description": "Optional. The size of additional flash cache in percentage of high capacity database storage.",
          "type": "integer",
          "format": "int32"
        },
        "ocid": {
          "description": "Output only. The OCID for the ExascaleDbStorageVault.",
          "readOnly": true,
          "type": "string"
        },
        "availableShapeAttributes": {
          "items": {
            "type": "string",
            "enum": [
              "SHAPE_ATTRIBUTE_UNSPECIFIED",
              "SMART_STORAGE",
              "BLOCK_STORAGE"
            ],
            "enumDescriptions": [
              "Default unspecified value.",
              "Indicates that the resource is in smart storage.",
              "Indicates that the resource is in block storage."
            ]
          },
          "description": "Output only. The shape attributes available for the VM clusters to be attached to the ExascaleDbStorageVault.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "The properties of the ExascaleDbStorageVault. next ID: 12"
    },
    "ListExascaleDbStorageVaultsResponse": {
      "description": "The response for `ExascaleDbStorageVault.List`.",
      "id": "ListExascaleDbStorageVaultsResponse",
      "type": "object",
      "properties": {
        "exascaleDbStorageVaults": {
          "type": "array",
          "description": "The ExascaleDbStorageVaults.",
          "items": {
            "$ref": "ExascaleDbStorageVault"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If present, the next page token can be provided to a subsequent ListExascaleDbStorageVaults call to list the next page. If empty, there are no more pages."
        }
      }
    },
    "DatabaseCharacterSet": {
      "description": "Details of the Database character set resource.",
      "id": "DatabaseCharacterSet",
      "type": "object",
      "properties": {
        "characterSetType": {
          "type": "string",
          "description": "Output only. The character set type for the Database.",
          "enum": [
            "CHARACTER_SET_TYPE_UNSPECIFIED",
            "DATABASE",
            "NATIONAL"
          ],
          "enumDescriptions": [
            "Character set type is not specified.",
            "Character set type is set to database.",
            "Character set type is set to national."
          ],
          "readOnly": true
        },
        "characterSet": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The character set name for the Database which is the ID in the resource name."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Database Character Set resource in the following format: projects/{project}/locations/{region}/databaseCharacterSets/{database_character_set}"
        }
      }
    },
    "GoldengateMicrosoftFabricConnectionProperties": {
      "description": "The properties of GoldengateMicrosoftFabricConnection.",
      "id": "GoldengateMicrosoftFabricConnectionProperties",
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "Optional. Azure client ID of the application."
        },
        "endpoint": {
          "type": "string",
          "description": "Optional. Optional Microsoft Fabric service endpoint. Default value: https://onelake.dfs.fabric.microsoft.com"
        },
        "clientSecret": {
          "description": "Optional. Client secret associated with the client id.",
          "type": "string"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of MicrosoftFabricConnection."
        },
        "tenantId": {
          "type": "string",
          "description": "Optional. Azure tenant ID of the application."
        }
      }
    },
    "GoldengateRedisConnectionProperties": {
      "description": "The properties of GoldengateRedisConnection.",
      "id": "GoldengateRedisConnectionProperties",
      "type": "object",
      "properties": {
        "servers": {
          "description": "Optional. Comma separated list of Redis server addresses, specified as host:port entries, where :port is optional. If port is not specified, it defaults to 6379. Example: \"server1.example.com:6379,server2.example.com:6379\"",
          "type": "string"
        },
        "keyStoreFile": {
          "description": "Optional. The base64 encoded content of the KeyStore file.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of RedisConnection.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Redis connection. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "keyStorePassword": {
          "description": "Optional. Input only. The KeyStore password in plain text.",
          "type": "string"
        },
        "keyStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the KeyStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "authenticationType": {
          "type": "string",
          "description": "Optional. Authentication type for Redis.",
          "enum": [
            "REDIS_AUTHENTICATION_TYPE_UNSPECIFIED",
            "NONE",
            "BASIC"
          ],
          "enumDescriptions": [
            "Authentication type not specified.",
            "No authentication.",
            "Basic authentication."
          ]
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password Oracle Goldengate uses for Redis connection in plain text."
        },
        "trustStorePassword": {
          "description": "Optional. Input only. The TrustStore password in plain text.",
          "type": "string"
        },
        "trustStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the TrustStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "trustStoreFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the TrustStore file."
        },
        "redisClusterId": {
          "description": "Optional. The OCID of the Redis cluster.",
          "type": "string"
        },
        "securityProtocol": {
          "description": "Optional. Security protocol for Redis.",
          "enum": [
            "REDIS_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS",
            "MTLS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Security protocol not specified.",
            "Plain text communication.",
            "Transport Layer Security.",
            "Mutual Transport Layer Security."
          ]
        }
      }
    },
    "GoldengateDeploymentVersion": {
      "description": "Details of the Goldengate Deployment Version resource.",
      "id": "GoldengateDeploymentVersion",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Output only. The technology type of the Goldengate Deployment Version resource.",
          "$ref": "GoldengateDeploymentVersionProperties",
          "readOnly": true
        },
        "ocid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The deployment version ocid of the Goldengate Deployment Version resource."
        },
        "name": {
          "description": "Identifier. The name of the Goldengate Deployment Version resource with the format: projects/{project}/locations/{location}/goldengateDeploymentVersions/{goldengate_deployment_version}",
          "type": "string"
        }
      }
    },
    "ListEntitlementsResponse": {
      "id": "ListEntitlementsResponse",
      "type": "object",
      "properties": {
        "entitlements": {
          "items": {
            "$ref": "Entitlement"
          },
          "description": "The list of Entitlements",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "The response for `Entitlement.List`."
    },
    "ListGoldengateDeploymentEnvironmentsResponse": {
      "description": "Message for response to listing GoldengateDeploymentEnvironments",
      "id": "ListGoldengateDeploymentEnvironmentsResponse",
      "type": "object",
      "properties": {
        "goldengateDeploymentEnvironments": {
          "description": "The list of GoldengateDeploymentEnvironment",
          "type": "array",
          "items": {
            "$ref": "GoldengateDeploymentEnvironment"
          }
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListGoldengateConnectionAssignmentsResponse": {
      "description": "Response message for listing GoldengateConnectionAssignments.",
      "id": "ListGoldengateConnectionAssignmentsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "goldengateConnectionAssignments": {
          "items": {
            "$ref": "GoldengateConnectionAssignment"
          },
          "description": "The list of GoldengateConnectionAssignments.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "RefreshAutonomousDatabaseRequest": {
      "description": "Request message for RefreshAutonomousDatabase method.",
      "id": "RefreshAutonomousDatabaseRequest",
      "type": "object",
      "properties": {
        "refreshCutoffTime": {
          "description": "Required. The timestamp to which the Autonomous Database refreshable clone will be refreshed. Changes made in the primary database after this timestamp are not part of the data refresh.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoldengateAmazonKinesisConnectionProperties": {
      "id": "GoldengateAmazonKinesisConnectionProperties",
      "type": "object",
      "properties": {
        "accessKeyId": {
          "description": "Optional. Access key ID to access the Amazon Kinesis.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of AmazonKinesisConnection.",
          "type": "string"
        },
        "endpoint": {
          "type": "string",
          "description": "Optional. The endpoint URL of the Amazon Kinesis service. e.g.: 'https://kinesis.us-east-1.amazonaws.com' If not provided, Goldengate will default to 'https://kinesis..amazonaws.com'."
        },
        "secretAccessKeySecret": {
          "description": "Optional. Secret access key to access the Amazon Kinesis.",
          "type": "string"
        },
        "awsRegion": {
          "description": "Optional. The name of the AWS region. If not provided, Goldengate will default to 'us-west-1'.",
          "type": "string"
        }
      },
      "description": "The properties of GoldengateAmazonKinesisConnection."
    },
    "ListDbSystemsResponse": {
      "id": "ListDbSystemsResponse",
      "type": "object",
      "properties": {
        "dbSystems": {
          "items": {
            "$ref": "DbSystem"
          },
          "type": "array",
          "description": "The list of DbSystems."
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "The response for `DbSystem.List`."
    },
    "GoldengatePlacement": {
      "description": "The placement of the GoldengateDeployment.",
      "id": "GoldengatePlacement",
      "type": "object",
      "properties": {
        "availabilityDomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The availability domain."
        },
        "faultDomain": {
          "description": "Output only. The fault domain.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListGoldengateConnectionTypesResponse": {
      "description": "Message for response to listing GoldengateConnectionTypes",
      "id": "ListGoldengateConnectionTypesResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "goldengateConnectionTypes": {
          "description": "The list of GoldengateConnectionType",
          "type": "array",
          "items": {
            "$ref": "GoldengateConnectionType"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "AmazonS3IcebergStorage": {
      "description": "The Amazon S3 Iceberg storage.",
      "id": "AmazonS3IcebergStorage",
      "type": "object",
      "properties": {
        "schemeType": {
          "description": "Required. The scheme type of Amazon S3.",
          "enum": [
            "SCHEME_TYPE_UNSPECIFIED",
            "S3",
            "S3A"
          ],
          "type": "string",
          "enumDescriptions": [
            "Scheme type not specified.",
            "S3 scheme.",
            "S3A scheme."
          ]
        },
        "accessKeyId": {
          "description": "Required. The access key ID of Amazon S3.",
          "type": "string"
        },
        "region": {
          "description": "Required. The region of Amazon S3.",
          "type": "string"
        },
        "endpoint": {
          "type": "string",
          "description": "Optional. The endpoint of Amazon S3."
        },
        "bucket": {
          "description": "Required. The bucket of Amazon S3.",
          "type": "string"
        },
        "secretAccessKeySecret": {
          "description": "Optional. The secret access key of Amazon S3.",
          "type": "string"
        }
      }
    },
    "ListDbNodesResponse": {
      "description": "The response for `DbNode.List`.",
      "id": "ListDbNodesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the node should return.",
          "type": "string"
        },
        "dbNodes": {
          "items": {
            "$ref": "DbNode"
          },
          "type": "array",
          "description": "The list of DB Nodes"
        }
      }
    },
    "GoldengateDb2ConnectionProperties": {
      "id": "GoldengateDb2ConnectionProperties",
      "type": "object",
      "properties": {
        "technologyType": {
          "description": "Optional. The technology type of Db2Connection.",
          "type": "string"
        },
        "host": {
          "description": "Optional. The name or address of a host.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect to the DB2 database.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Db2 connection. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "sslClientKeystashFile": {
          "description": "Optional. The keystash file which contains the encrypted password to the key database file. Not supported for IBM Db2 for i.",
          "type": "string"
        },
        "securityProtocol": {
          "description": "Optional. Security protocol for the DB2 database.",
          "enum": [
            "DB2_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Security protocol not specified.",
            "Plain text communication.",
            "Transport Layer Security."
          ]
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password Oracle Goldengate uses for Db2 connection in plain text."
        },
        "sslClientKeystoredbFile": {
          "type": "string",
          "description": "Optional. The keystore file created at the client containing the server certificate / CA root certificate. Not supported for IBM Db2 for i."
        },
        "sslServerCertificateFile": {
          "type": "string",
          "description": "Optional. The file which contains the self-signed server certificate / Certificate Authority (CA) certificate."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The port of an endpoint usually specified for a connection."
        },
        "database": {
          "description": "Optional. The name of the database.",
          "type": "string"
        },
        "additionalAttributes": {
          "description": "Optional. An array of name-value pair attribute entries. Used as additional parameters in connection string.",
          "type": "array",
          "items": {
            "$ref": "NameValuePair"
          }
        }
      },
      "description": "The properties of GoldengateDb2Connection."
    },
    "ScheduledOperationDetails": {
      "id": "ScheduledOperationDetails",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Output only. Auto start time.",
          "$ref": "TimeOfDay",
          "readOnly": true
        },
        "dayOfWeek": {
          "type": "string",
          "description": "Output only. Day of week.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "readOnly": true
        },
        "stopTime": {
          "readOnly": true,
          "description": "Output only. Auto stop time.",
          "$ref": "TimeOfDay"
        }
      },
      "description": "Details of scheduled operation. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/ScheduledOperationDetails"
    },
    "TestConnectionAssignmentError": {
      "id": "TestConnectionAssignmentError",
      "type": "object",
      "properties": {
        "code": {
          "description": "A short error code that defines the error, meant for programmatic parsing.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "A human-readable error message."
        },
        "action": {
          "description": "The text describing the action required to fix the issue.",
          "type": "string"
        },
        "issue": {
          "type": "string",
          "description": "The text describing the root cause of the reported issue."
        }
      },
      "description": "Error details for TestGoldengateConnectionAssignment."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ListDbSystemInitialStorageSizesResponse": {
      "description": "The response for `DbSystemInitialStorageSizes.List`.",
      "id": "ListDbSystemInitialStorageSizesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "dbSystemInitialStorageSizes": {
          "items": {
            "$ref": "DbSystemInitialStorageSize"
          },
          "type": "array",
          "description": "The list of DbSystemInitialStorageSizes."
        }
      }
    },
    "AutonomousDatabase": {
      "description": "Details of the Autonomous Database resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabase/",
      "id": "AutonomousDatabase",
      "type": "object",
      "properties": {
        "adminPassword": {
          "description": "Optional. Immutable. The password for the default ADMIN user. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "cidr": {
          "type": "string",
          "description": "Optional. Immutable. The subnet CIDR range for the Autonomous Database."
        },
        "odbNetwork": {
          "description": "Optional. Immutable. The name of the OdbNetwork associated with the Autonomous Database. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The date and time that the Autonomous Database was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "adminPasswordSecretVersion": {
          "description": "Optional. Immutable. The resource name of a secret version in Secret Manager which contains the database admin user's password. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "disasterRecoverySupportedLocations": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of supported GCP region to clone the Autonomous Database for disaster recovery. Format: `project/{project}/locations/{location}`.",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "description": "Optional. The properties of the Autonomous Database.",
          "$ref": "AutonomousDatabaseProperties"
        },
        "entitlementId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the subscription entitlement associated with the Autonomous Database."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels or tags associated with the Autonomous Database."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Immutable. The display name for the Autonomous Database. The name does not have to be unique within your project."
        },
        "name": {
          "description": "Identifier. The name of the Autonomous Database resource in the following format: projects/{project}/locations/{region}/autonomousDatabases/{autonomous_database}",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Optional. Immutable. The name of the VPC network used by the Autonomous Database in the following format: projects/{project}/global/networks/{network}"
        },
        "odbSubnet": {
          "description": "Optional. Immutable. The name of the OdbSubnet associated with the Autonomous Database. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "peerAutonomousDatabases": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The peer Autonomous Database names of the given Autonomous Database.",
          "readOnly": true,
          "type": "array"
        },
        "sourceConfig": {
          "description": "Optional. Immutable. The source Autonomous Database configuration for the standby Autonomous Database. The source Autonomous Database is configured while creating the Peer Autonomous Database and can't be updated after creation.",
          "$ref": "SourceConfig"
        },
        "database": {
          "type": "string",
          "description": "Optional. Immutable. The name of the Autonomous Database. The database name must be unique in the project. The name must begin with a letter and can contain a maximum of 30 alphanumeric characters."
        }
      }
    },
    "AutonomousDatabaseConnectionStrings": {
      "id": "AutonomousDatabaseConnectionStrings",
      "type": "object",
      "properties": {
        "medium": {
          "description": "Output only. The database service provides a lower level of resources to each SQL statement.",
          "readOnly": true,
          "type": "string"
        },
        "dedicated": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The database service provides the least level of resources to each SQL statement, but supports the most number of concurrent SQL statements."
        },
        "high": {
          "description": "Output only. The database service provides the highest level of resources to each SQL statement.",
          "readOnly": true,
          "type": "string"
        },
        "low": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The database service provides the least level of resources to each SQL statement."
        },
        "profiles": {
          "description": "Output only. A list of connection string profiles to allow clients to group, filter, and select values based on the structured metadata.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DatabaseConnectionStringProfile"
          }
        },
        "allConnectionStrings": {
          "description": "Output only. Returns all connection strings that can be used to connect to the Autonomous Database.",
          "$ref": "AllConnectionStrings",
          "readOnly": true
        }
      },
      "description": "The connection string used to connect to the Autonomous Database. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseConnectionStrings"
    },
    "ListCloudVmClustersResponse": {
      "id": "ListCloudVmClustersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to fetch the next page of results."
        },
        "cloudVmClusters": {
          "items": {
            "$ref": "CloudVmCluster"
          },
          "type": "array",
          "description": "The list of VM Clusters."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'."
        }
      },
      "description": "The response for `CloudVmCluster.List`."
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "type": "object",
      "properties": {
        "gcpOracleZones": {
          "description": "Output only. Google Cloud Platform Oracle zones in a location.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Metadata for a given Location."
    },
    "GiVersion": {
      "description": "Details of the Oracle Grid Infrastructure (GI) version resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/GiVersionSummary/",
      "id": "GiVersion",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. version",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the Oracle Grid Infrastructure (GI) version resource with the format: projects/{project}/locations/{region}/giVersions/{gi_versions}",
          "type": "string"
        }
      }
    },
    "IcebergStorage": {
      "description": "The Iceberg storage details.",
      "id": "IcebergStorage",
      "type": "object",
      "properties": {
        "amazonS3IcebergStorage": {
          "description": "The Amazon S3 Iceberg storage.",
          "$ref": "AmazonS3IcebergStorage"
        },
        "azureDataLakeStorageIcebergStorage": {
          "description": "The Azure Data Lake Storage Iceberg storage.",
          "$ref": "AzureDataLakeStorageIcebergStorage"
        },
        "storageType": {
          "enumDescriptions": [
            "Storage type not specified.",
            "Amazon S3 storage.",
            "Google Cloud Storage storage.",
            "Azure Data Lake Storage storage."
          ],
          "type": "string",
          "description": "Required. The type of Iceberg storage.",
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "AMAZON_S3",
            "GOOGLE_CLOUD_STORAGE",
            "AZURE_DATA_LAKE_STORAGE"
          ]
        },
        "googleCloudStorageIcebergStorage": {
          "description": "The Google Cloud Storage Iceberg storage.",
          "$ref": "GoogleCloudStorageIcebergStorage"
        }
      }
    },
    "GoldengateMaintenanceConfig": {
      "id": "GoldengateMaintenanceConfig",
      "type": "object",
      "properties": {
        "majorReleaseUpgradePeriodDays": {
          "description": "Optional. Defines auto upgrade period for major releases. Manually configured period cannot be longer than service defined period for major releases. Not passing this field during create will equate to using the service default.",
          "type": "integer",
          "format": "int32"
        },
        "securityPatchUpgradePeriodDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Defines auto upgrade period for releases with security fix. Manually configured period cannot be longer than service defined period for security releases. Not passing this field during create will equate to using the service default."
        },
        "interimReleaseUpgradePeriodDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Defines auto upgrade period for interim releases. This period must be shorter or equal to bundle release upgrade period."
        },
        "bundleReleaseUpgradePeriodDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Defines auto upgrade period for bundle releases. Manually configured period cannot be longer than service defined period for bundle releases. This period must be shorter or equal to major release upgrade period. Not passing this field during create will equate to using the service default."
        },
        "isInterimReleaseAutoUpgradeEnabled": {
          "description": "Optional. By default auto upgrade for interim releases are not enabled. If auto-upgrade is enabled for interim release, you have to specify interim_release_upgrade_period_days too.",
          "type": "boolean"
        }
      },
      "description": "The maintenance configuration of the GoldengateDeployment."
    },
    "RestoreAutonomousDatabaseRequest": {
      "description": "The request for `AutonomousDatabase.Restore`.",
      "id": "RestoreAutonomousDatabaseRequest",
      "type": "object",
      "properties": {
        "restoreTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The time and date to restore the database to."
        }
      }
    },
    "StartAutonomousDatabaseRequest": {
      "id": "StartAutonomousDatabaseRequest",
      "type": "object",
      "properties": {},
      "description": "The request for `AutonomousDatabase.Start`."
    },
    "GoldengateMysqlConnectionProperties": {
      "id": "GoldengateMysqlConnectionProperties",
      "type": "object",
      "properties": {
        "sslCaFile": {
          "description": "Optional. Database Certificate - The base64 encoded content of a .pem or .crt file containing the server public key (for 1 and 2-way SSL).",
          "type": "string"
        },
        "sslMode": {
          "enumDescriptions": [
            "SSL mode not specified.",
            "SSL is disabled.",
            "SSL is preferred.",
            "SSL is required.",
            "SSL is required and certificate is verified.",
            "SSL is required and certificate and hostname are verified."
          ],
          "type": "string",
          "description": "Optional. SSL modes for MySQL.",
          "enum": [
            "SSL_MODE_UNSPECIFIED",
            "DISABLED",
            "PREFERRED",
            "REQUIRED",
            "VERIFY_CA",
            "VERIFY_IDENTITY"
          ]
        },
        "sslCrlFile": {
          "type": "string",
          "description": "Optional. The base64 encoded list of certificates revoked by the trusted certificate authorities (Trusted CA)."
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses to connect to MySQL. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of MysqlConnection."
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology.",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "Optional. The name or address of a host."
        },
        "port": {
          "description": "Optional. The port of an endpoint usually specified for a connection.",
          "type": "integer",
          "format": "int32"
        },
        "database": {
          "type": "string",
          "description": "Optional. The name of the database."
        },
        "additionalAttributes": {
          "type": "array",
          "description": "Optional. An array of name-value pair attribute entries. Used as additional parameters in connection string.",
          "items": {
            "$ref": "NameValuePair"
          }
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses to connect to MySQL in plain text.",
          "type": "string"
        },
        "dbSystemId": {
          "description": "Optional. The OCID of the database system being referenced.",
          "type": "string"
        },
        "securityProtocol": {
          "description": "Optional. Security Type for MySQL.",
          "enum": [
            "MYSQL_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS",
            "MTLS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Security type not specified.",
            "Plain text communication.",
            "Transport Layer Security.",
            "Mutual Transport Layer Security."
          ]
        },
        "sslKeyFile": {
          "type": "string",
          "description": "Optional. Client Key - The base64 encoded content of a .pem or .crt file containing the client private key (for 2-way SSL)."
        },
        "sslCertFile": {
          "type": "string",
          "description": "Optional. Client Certificate - The base64 encoded content of a .pem or .crt file containing the client public key (for 2-way SSL)."
        }
      },
      "description": "Properties of GoldengateMysqlConnection."
    },
    "OdbNetwork": {
      "id": "OdbNetwork",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The date and time that the OdbNetwork was created."
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where OdbNetwork is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels or tags associated with the resource."
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in failed state."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the ODB Network.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "TERMINATING",
            "FAILED"
          ]
        },
        "entitlementId": {
          "description": "Output only. The ID of the subscription entitlement associated with the OdbNetwork.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the OdbNetwork resource in the following format: projects/{project}/locations/{region}/odbNetworks/{odb_network}",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Required. The name of the VPC network in the following format: projects/{project}/global/networks/{network}"
        }
      },
      "description": "Represents OdbNetwork resource."
    },
    "StartGoldengateDeploymentRequest": {
      "description": "The request for `GoldengateDeployment.Start`.",
      "id": "StartGoldengateDeploymentRequest",
      "type": "object",
      "properties": {}
    },
    "GoldengateGoldengateConnectionProperties": {
      "description": "The properties of GoldengateGoldengateConnectionProperties.",
      "id": "GoldengateGoldengateConnectionProperties",
      "type": "object",
      "properties": {
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password used to connect to the Oracle Goldengate. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "port": {
          "description": "Optional. The port of the GoldengateConnection.",
          "type": "integer",
          "format": "int32"
        },
        "host": {
          "description": "Optional. The host of the GoldengateConnection.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Optional. The username credential."
        },
        "goldengateDeploymentId": {
          "type": "string",
          "description": "Optional. The name of the GoldengateDeployment associated with the GoldengateConnection. Format: projects/{project}/locations/{location}/goldengateDeployments/{goldengate_deployment}"
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password used to connect to the Oracle Goldengate in plain text."
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type."
        }
      }
    },
    "DbSystemOptions": {
      "description": "Details of the DbSystem Options.",
      "id": "DbSystemOptions",
      "type": "object",
      "properties": {
        "storageManagement": {
          "enumDescriptions": [
            "The storage management is unspecified.",
            "Automatic storage management. This option is not supported. Only LVM is supported.",
            "Logical Volume management."
          ],
          "type": "string",
          "description": "Optional. The storage option used in DB system.",
          "enum": [
            "STORAGE_MANAGEMENT_UNSPECIFIED",
            "ASM",
            "LVM"
          ]
        }
      }
    },
    "ListGoldengateDeploymentTypesResponse": {
      "id": "ListGoldengateDeploymentTypesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "goldengateDeploymentTypes": {
          "items": {
            "$ref": "GoldengateDeploymentType"
          },
          "description": "The list of GoldengateDeploymentType",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. The resource names of locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message for response to listing GoldengateDeploymentTypes"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ExascaleConfig": {
      "id": "ExascaleConfig",
      "type": "object",
      "properties": {
        "totalStorageSizeGb": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Total storage size needed for Exascale in GBs."
        },
        "availableStorageSizeGb": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Available storage size for Exascale in GBs."
        }
      },
      "description": "Details of the Exascale configuration for the Exadata Infrastructure."
    },
    "DbHome": {
      "id": "DbHome",
      "type": "object",
      "properties": {
        "dbVersion": {
          "description": "Required. A valid Oracle Database version. For a list of supported versions, use the ListDbVersions operation.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The display name for the Database Home. The name does not have to be unique within your project.",
          "type": "string"
        },
        "isUnifiedAuditingEnabled": {
          "type": "boolean",
          "description": "Optional. Whether unified auditing is enabled for the Database Home."
        },
        "database": {
          "description": "Required. The Database resource.",
          "$ref": "Database"
        }
      },
      "description": "Details of the Database Home resource."
    },
    "GoldengateMaintenanceWindow": {
      "description": "The maintenance window of the GoldengateDeployment.",
      "id": "GoldengateMaintenanceWindow",
      "type": "object",
      "properties": {
        "day": {
          "type": "string",
          "description": "Required. Days of the week.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "startHour": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Start hour for maintenance period. Hour is in UTC."
        }
      }
    },
    "StorageSizeDetails": {
      "id": "StorageSizeDetails",
      "type": "object",
      "properties": {
        "recoStorageSizeInGbs": {
          "description": "Output only. The RECO/REDO storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "dataStorageSizeInGbs": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The data storage size, in gigabytes, that is applicable for virtual machine DBSystem."
        }
      },
      "description": "The initial storage size, in gigabytes, that is applicable for virtual machine DBSystem."
    },
    "DbVersion": {
      "id": "DbVersion",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the DbVersion resource in the following format: projects/{project}/locations/{region}/dbVersions/{db_version}"
        },
        "properties": {
          "description": "Output only. The properties of the DbVersion.",
          "$ref": "DbVersionProperties",
          "readOnly": true
        }
      },
      "description": "A valid Oracle Database version."
    },
    "GoldengateMicrosoftSqlserverConnectionProperties": {
      "id": "GoldengateMicrosoftSqlserverConnectionProperties",
      "type": "object",
      "properties": {
        "technologyType": {
          "description": "Optional. The technology type of MicrosoftSqlserverConnection.",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "Optional. The name or address of a host."
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect to the Microsoft SQL Server.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Microsoft SQL Server connection. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "securityProtocol": {
          "enumDescriptions": [
            "Security type not specified.",
            "Plain text communication.",
            "Transport Layer Security."
          ],
          "type": "string",
          "description": "Optional. Security Type for Microsoft SQL Server.",
          "enum": [
            "MICROSOFT_SQLSERVER_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS"
          ]
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses for Microsoft SQL Server connection in plain text.",
          "type": "string"
        },
        "serverCertificateValidationRequired": {
          "description": "Optional. If set to true, the driver validates the certificate that is sent by the database server.",
          "type": "boolean"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The port of an endpoint usually specified for a connection."
        },
        "database": {
          "description": "Optional. The name of the database.",
          "type": "string"
        },
        "additionalAttributes": {
          "items": {
            "$ref": "NameValuePair"
          },
          "description": "Optional. An array of name-value pair attribute entries. Used as additional parameters in connection string.",
          "type": "array"
        },
        "sslCaFile": {
          "type": "string",
          "description": "Optional. Database Certificate - The base64 encoded content of a .pem or .crt file containing the server public key (for 1-way SSL)."
        }
      },
      "description": "The properties of GoldengateMicrosoftSqlserverConnection."
    },
    "AutonomousDatabaseRefreshableClones": {
      "description": "Response message for getting the Autonomous Database refreshable clones.",
      "id": "AutonomousDatabaseRefreshableClones",
      "type": "object",
      "properties": {
        "autonomousDatabaseRefreshableClones": {
          "items": {
            "$ref": "AutonomousDatabaseRefreshableClone"
          },
          "description": "The list of Autonomous Database refreshable clones.",
          "type": "array"
        }
      }
    },
    "RestartAutonomousDatabaseRequest": {
      "id": "RestartAutonomousDatabaseRequest",
      "type": "object",
      "properties": {},
      "description": "The request for `AutonomousDatabase.Restart`."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      }
    },
    "ListCloudExadataInfrastructuresResponse": {
      "description": "The response for `CloudExadataInfrastructures.list`.",
      "id": "ListCloudExadataInfrastructuresResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token for fetching next page of response.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'."
        },
        "cloudExadataInfrastructures": {
          "type": "array",
          "description": "The list of Exadata Infrastructures.",
          "items": {
            "$ref": "CloudExadataInfrastructure"
          }
        }
      }
    },
    "GoldengateDeploymentVersionProperties": {
      "description": "Properties of GoldengateDeploymentVersion.",
      "id": "GoldengateDeploymentVersionProperties",
      "type": "object",
      "properties": {
        "releaseTime": {
          "description": "Output only. The release time of the Goldengate Deployment Version resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "supportEndTime": {
          "description": "Output only. The support end time of the Goldengate Deployment Version resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "releaseType": {
          "description": "Output only. The release type of the Goldengate Deployment Version resource.",
          "enum": [
            "DEPLOYMENT_RELEASE_TYPE_UNSPECIFIED",
            "MAJOR",
            "BUNDLE",
            "MINOR"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Goldengate Deployment Version release type is MAJOR.",
            "Goldengate Deployment Version release type is BUNDLE.",
            "Goldengate Deployment Version release type is MINOR."
          ]
        },
        "deploymentType": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Goldengate Deployment Type category is OGG.",
            "Goldengate Deployment Type category is DATABASE_ORACLE.",
            "Goldengate Deployment Type category is BIGDATA.",
            "Goldengate Deployment Type category is DATABASE_MICROSOFT_SQLSERVER.",
            "Goldengate Deployment Type category is DATABASE_MYSQL.",
            "Goldengate Deployment Type category is DATABASE_POSTGRESQL.",
            "Goldengate Deployment Type category is DATABASE_DB2ZOS.",
            "Goldengate Deployment Type category is DATABASE_DB2I.",
            "Goldengate Deployment Type category is GGSA.",
            "Goldengate Deployment Type category is DATA_TRANSFORMS."
          ],
          "readOnly": true,
          "description": "Output only. The deployment type of the Goldengate Deployment Version resource.",
          "enum": [
            "DEPLOYMENT_TYPE_UNSPECIFIED",
            "OGG",
            "DATABASE_ORACLE",
            "BIGDATA",
            "DATABASE_MICROSOFT_SQLSERVER",
            "DATABASE_MYSQL",
            "DATABASE_POSTGRESQL",
            "DATABASE_DB2ZOS",
            "DATABASE_DB2I",
            "GGSA",
            "DATA_TRANSFORMS"
          ],
          "type": "string"
        },
        "securityFix": {
          "type": "boolean",
          "description": "Optional. Whether the Goldengate Deployment Version resource is a security fix."
        },
        "oggVersion": {
          "description": "Output only. The OGG version of the Goldengate Deployment Version resource.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "CloudExadataInfrastructure": {
      "description": "Represents CloudExadataInfrastructure resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/CloudExadataInfrastructure/",
      "id": "CloudExadataInfrastructure",
      "type": "object",
      "properties": {
        "entitlementId": {
          "description": "Output only. Entitlement ID of the private offer against which this infrastructure resource is provisioned.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels or tags associated with the resource.",
          "type": "object"
        },
        "properties": {
          "description": "Optional. Various properties of the infra.",
          "$ref": "CloudExadataInfrastructureProperties"
        },
        "displayName": {
          "description": "Optional. User friendly name for this resource.",
          "type": "string"
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle Exadata Infrastructure is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The date and time that the Exadata Infrastructure was created."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Exadata Infrastructure resource with the format: projects/{project}/locations/{region}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}"
        }
      }
    },
    "StopGoldengateDeploymentRequest": {
      "id": "StopGoldengateDeploymentRequest",
      "type": "object",
      "properties": {},
      "description": "The request for `GoldengateDeployment.Stop`."
    },
    "AutonomousDatabaseApex": {
      "id": "AutonomousDatabaseApex",
      "type": "object",
      "properties": {
        "apexVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Oracle APEX Application Development version."
        },
        "ordsVersion": {
          "description": "Output only. The Oracle REST Data Services (ORDS) version.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Oracle APEX Application Development. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseApex"
    },
    "AutonomousDatabaseRefreshableClone": {
      "id": "AutonomousDatabaseRefreshableClone",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The GCP resource name of the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "region": {
          "description": "Output only. The Google Cloud region where the refreshable clone exists.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "An Autonomous Database refreshable clone"
    },
    "TestGoldengateConnectionAssignmentResponse": {
      "description": "The result of the connectivity test performed between the Goldengate deployment and the associated database / service.",
      "id": "TestGoldengateConnectionAssignmentResponse",
      "type": "object",
      "properties": {
        "error": {
          "description": "Error details if test connection failed.",
          "$ref": "TestConnectionAssignmentError"
        },
        "resultType": {
          "enumDescriptions": [
            "Result type is unspecified.",
            "Test connection succeeded.",
            "Test connection failed.",
            "Test connection timed out."
          ],
          "type": "string",
          "description": "Type of the result i.e. Success, Failure or Timeout.",
          "enum": [
            "RESULT_TYPE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "TIMED_OUT"
          ]
        },
        "errors": {
          "items": {
            "$ref": "TestConnectionAssignmentError"
          },
          "description": "List of test connection assignment error objects.",
          "type": "array"
        }
      }
    },
    "Database": {
      "id": "Database",
      "type": "object",
      "properties": {
        "dbHomeName": {
          "type": "string",
          "description": "Optional. The name of the DbHome resource associated with the Database."
        },
        "adminPasswordSecretVersion": {
          "type": "string",
          "description": "Optional. The resource name of a secret version in Secret Manager which contains the database admin user's password. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated."
        },
        "tdeWalletPasswordSecretVersion": {
          "description": "Optional. The resource name of a secret version in Secret Manager which contains the TDE wallet password for the database. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `tde_wallet_password_secret_version` or `tde_wallet_password` can be populated.",
          "type": "string"
        },
        "characterSet": {
          "type": "string",
          "description": "Optional. The character set for the database. The default is AL32UTF8."
        },
        "dbName": {
          "type": "string",
          "description": "Optional. The database name. The name must begin with an alphabetic character and can contain a maximum of eight alphanumeric characters. Special characters are not permitted."
        },
        "adminPassword": {
          "description": "Optional. The password for the default ADMIN user. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The date and time that the Database was created."
        },
        "name": {
          "description": "Identifier. The name of the Database resource in the following format: projects/{project}/locations/{region}/databases/{database}",
          "type": "string"
        },
        "properties": {
          "description": "Optional. The properties of the Database.",
          "$ref": "DatabaseProperties"
        },
        "gcpOracleZone": {
          "description": "Output only. The GCP Oracle zone where the Database is created.",
          "readOnly": true,
          "type": "string"
        },
        "ncharacterSet": {
          "description": "Optional. The national character set for the database. The default is AL16UTF16.",
          "type": "string"
        },
        "ociUrl": {
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "readOnly": true,
          "type": "string"
        },
        "dbUniqueName": {
          "description": "Optional. The DB_UNIQUE_NAME of the Oracle Database being backed up.",
          "type": "string"
        },
        "tdeWalletPassword": {
          "type": "string",
          "description": "Optional. The TDE wallet password for the database. Note: Only one of `tde_wallet_password_secret_version` or `tde_wallet_password` can be populated."
        },
        "databaseId": {
          "type": "string",
          "description": "Optional. The database ID of the Database."
        },
        "pluggableDatabaseId": {
          "description": "Optional. The ID of the pluggable database associated with the Database. The ID must be unique within the project and location.",
          "type": "string"
        },
        "opsInsightsStatus": {
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the operations insights are being enabled.",
            "Indicates that the operations insights are enabled.",
            "Indicates that the operations insights are being disabled.",
            "Indicates that the operations insights are not enabled.",
            "Indicates that the operations insights failed to enable.",
            "Indicates that the operations insights failed to disable."
          ],
          "description": "Output only. The Status of Operations Insights for this Database.",
          "enum": [
            "OPERATIONS_INSIGHTS_STATUS_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "type": "string"
        },
        "pluggableDatabaseName": {
          "description": "Optional. The pluggable database associated with the Database. The name must begin with an alphabetic character and can contain a maximum of thirty alphanumeric characters.",
          "type": "string"
        }
      },
      "description": "Details of the Database resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/Database/"
    },
    "GoldengateDeploymentProperties": {
      "description": "Properties of GoldengateDeployment.",
      "id": "GoldengateDeploymentProperties",
      "type": "object",
      "properties": {
        "backupSchedule": {
          "readOnly": true,
          "description": "Output only. The backup schedule of the GoldengateDeployment.",
          "$ref": "GoldengateBackupSchedule"
        },
        "nextMaintenanceDescription": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The next maintenance description of the GoldengateDeployment."
        },
        "healthy": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the GoldengateDeployment is healthy."
        },
        "placements": {
          "description": "Output only. The placements of the GoldengateDeployment.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoldengatePlacement"
          }
        },
        "licenseModel": {
          "enumDescriptions": [
            "The license model is unspecified.",
            "The license model is included.",
            "The license model is bring your own license."
          ],
          "type": "string",
          "description": "Optional. The Oracle license model that applies to a Deployment.",
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ]
        },
        "isLatestVersion": {
          "description": "Output only. Whether the GoldengateDeployment is of the latest version.",
          "readOnly": true,
          "type": "boolean"
        },
        "publicIpAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The public ip address of the GoldengateDeployment."
        },
        "oggData": {
          "description": "Required. The ogg data of the GoldengateDeployment.",
          "$ref": "GoldengateOggDeployment"
        },
        "deploymentUrl": {
          "description": "Output only. The deployment url of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "lastBackupScheduleTime": {
          "description": "Output only. The time last backup scheduled of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. The description of the GoldengateDeployment.",
          "type": "string"
        },
        "deploymentDiagnosticData": {
          "description": "Output only. The deployment diagnostic data of the GoldengateDeployment.",
          "$ref": "DeploymentDiagnosticData",
          "readOnly": true
        },
        "maintenanceConfig": {
          "description": "Optional. The maintenance configuration of the GoldengateDeployment.",
          "$ref": "GoldengateMaintenanceConfig"
        },
        "category": {
          "type": "string",
          "description": "Output only. The category of the GoldengateDeployment.",
          "enum": [
            "GOLDENGATE_DEPLOYMENT_CATEGORY_UNSPECIFIED",
            "DATA_REPLICATION",
            "DATA_TRANSFORMS"
          ],
          "enumDescriptions": [
            "The category is unspecified.",
            "The deployment is data replication.",
            "The deployment is data transforms."
          ],
          "readOnly": true
        },
        "cpuCoreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The Minimum number of OCPUs to be made available for this Deployment."
        },
        "lifecycleDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The lifecycle details of the GoldengateDeployment."
        },
        "loadBalancerId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The load balancer id of the GoldengateDeployment."
        },
        "isAutoScalingEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates if auto scaling is enabled for the Deployment's CPU core count."
        },
        "lifecycleSubState": {
          "description": "Output only. The lifecycle sub-state of the GoldengateDeployment.",
          "enum": [
            "GOLDENGATE_DEPLOYMENT_LIFECYCLE_SUB_STATE_UNSPECIFIED",
            "RECOVERING",
            "STARTING",
            "STOPPING",
            "MOVING",
            "UPGRADING",
            "RESTORING",
            "BACKING_UP",
            "ROLLING_BACK"
          ],
          "type": "string",
          "enumDescriptions": [
            "The lifecycle sub-state is unspecified.",
            "The deployment is recovering.",
            "The deployment is starting.",
            "The deployment is stopping.",
            "The deployment is moving.",
            "The deployment is upgrading.",
            "The deployment is restoring.",
            "The deployment is backing up.",
            "The deployment is rolling back."
          ],
          "readOnly": true
        },
        "privateIpAddress": {
          "description": "Output only. The private ip address of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "isStorageUtilizationLimitExceeded": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether storage utilization limit is exceeded of the GoldengateDeployment."
        },
        "nextMaintenanceTime": {
          "description": "Output only. The time of next maintenance of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "storageUtilizationBytes": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The storage utilization in bytes of the GoldengateDeployment."
        },
        "oggVersionSupportEndTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time ogg version supported until of the GoldengateDeployment."
        },
        "nextBackupScheduleTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time next backup scheduled of the GoldengateDeployment."
        },
        "roleChangeTime": {
          "description": "Output only. The time when the role of the GoldengateDeployment was changed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "ingressIps": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The ingress ips of the GoldengateDeployment.",
          "items": {
            "$ref": "IngressIp"
          }
        },
        "nextMaintenanceActionType": {
          "description": "Output only. The next maintenance action type of the GoldengateDeployment.",
          "enum": [
            "NEXT_MAINTENANCE_ACTION_TYPE_UNSPECIFIED",
            "UPGRADE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The next maintenance action type is unspecified.",
            "The next maintenance action type is upgrade."
          ],
          "readOnly": true
        },
        "environmentType": {
          "description": "Optional. The environment type of the GoldengateDeployment.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the GoldengateDeployment was updated."
        },
        "lifecycleState": {
          "type": "string",
          "description": "Output only. State of the GoldengateDeployment.",
          "enum": [
            "GOLDENGATE_DEPLOYMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "DELETED",
            "FAILED",
            "NEEDS_ATTENTION",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "WAITING"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "The deployment is being created.",
            "The deployment is being updated.",
            "The deployment is active.",
            "The deployment is inactive.",
            "The deployment is being deleted.",
            "The deployment is deleted.",
            "The deployment failed.",
            "The deployment needs attention.",
            "The deployment is in progress.",
            "The deployment is canceling.",
            "The deployment is canceled.",
            "The deployment succeeded.",
            "The deployment is waiting."
          ],
          "readOnly": true
        },
        "fqdn": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Fully Qualified Domain Name of the GoldengateDeployment."
        },
        "loadBalancerSubnetId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The load balancer subnet id of the GoldengateDeployment."
        },
        "nsgIds": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The nsg ids of the GoldengateDeployment."
        },
        "deploymentRole": {
          "readOnly": true,
          "enumDescriptions": [
            "The deployment role type is unspecified.",
            "The deployment role type is primary.",
            "The deployment role type is standby."
          ],
          "description": "Output only. The deployment role of the GoldengateDeployment.",
          "enum": [
            "GOLDENGATE_DEPLOYMENT_ROLE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "STANDBY"
          ],
          "type": "string"
        },
        "upgradeRequiredTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time upgrade required of the GoldengateDeployment."
        },
        "ocid": {
          "description": "Output only. OCID of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "deploymentType": {
          "type": "string",
          "description": "Required. A valid Goldengate Deployment type. For a list of supported types, use the `ListGoldengateDeploymentTypes` operation."
        },
        "isPublic": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the GoldengateDeployment is public."
        },
        "locks": {
          "items": {
            "$ref": "GoldengateDeploymentLock"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The locks of the GoldengateDeployment."
        },
        "maintenanceWindow": {
          "description": "Optional. The maintenance window of the GoldengateDeployment.",
          "$ref": "GoldengateMaintenanceWindow"
        },
        "deploymentBackupId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The deployment backup id of the GoldengateDeployment."
        }
      }
    },
    "ExascaleDbStorageDetails": {
      "id": "ExascaleDbStorageDetails",
      "type": "object",
      "properties": {
        "availableSizeGbs": {
          "description": "Output only. The available storage capacity for the ExascaleDbStorageVault, in gigabytes (GB).",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "totalSizeGbs": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The total storage allocation for the ExascaleDbStorageVault, in gigabytes (GB)."
        }
      },
      "description": "The storage details of the ExascaleDbStorageVault."
    },
    "DbSystem": {
      "id": "DbSystem",
      "type": "object",
      "properties": {
        "ociUrl": {
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "readOnly": true,
          "type": "string"
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle DbSystem is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name for the System db. The name does not have to be unique within your project.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. The properties of the DbSystem.",
          "$ref": "DbSystemProperties"
        },
        "odbSubnet": {
          "type": "string",
          "description": "Required. The name of the OdbSubnet associated with the DbSystem for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels or tags associated with the DbSystem.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "entitlementId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the subscription entitlement associated with the DbSystem"
        },
        "name": {
          "description": "Identifier. The name of the DbSystem resource in the following format: projects/{project}/locations/{region}/dbSystems/{db_system}",
          "type": "string"
        },
        "odbNetwork": {
          "type": "string",
          "description": "Optional. The name of the OdbNetwork associated with the DbSystem. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The date and time that the DbSystem was created."
        }
      },
      "description": "Details of the DbSystem (BaseDB) resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbSystem/"
    },
    "GoldengateOracleNosqlConnectionProperties": {
      "description": "The properties of GoldengateOracleNosqlConnection.",
      "id": "GoldengateOracleNosqlConnectionProperties",
      "type": "object",
      "properties": {
        "useResourcePrincipal": {
          "type": "boolean",
          "description": "Optional. Specifies that the user intends to authenticate to the instance using a resource principal."
        },
        "publicKeyFingerprint": {
          "type": "string",
          "description": "Optional. The fingerprint of the API Key of the user specified by the userId."
        },
        "region": {
          "type": "string",
          "description": "Optional. The name of the region. e.g.: us-ashburn-1"
        },
        "userId": {
          "description": "Optional. The OCID of the OCI user who will access the Oracle NoSQL database.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of OracleNosqlConnection.",
          "type": "string"
        },
        "privateKeyPassphraseSecret": {
          "type": "string",
          "description": "Optional. The passphrase of the private key."
        },
        "privateKeyFile": {
          "type": "string",
          "description": "Optional. The content of the private key file (PEM file) corresponding to the API key of the fingerprint."
        },
        "tenancyId": {
          "description": "Optional. The OCID of the OCI tenancy.",
          "type": "string"
        }
      }
    },
    "DbNode": {
      "id": "DbNode",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Optional. Various properties of the database node.",
          "$ref": "DbNodeProperties"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the database node resource in the following format: projects/{project}/locations/{location}/cloudVmClusters/{cloud_vm_cluster}/dbNodes/{db_node}"
        }
      },
      "description": "Details of the database node resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbNode/"
    },
    "GoldengateAmazonS3ConnectionProperties": {
      "description": "The properties of GoldengateAmazonS3Connection.",
      "id": "GoldengateAmazonS3ConnectionProperties",
      "type": "object",
      "properties": {
        "endpoint": {
          "description": "Optional. The Amazon Endpoint for S3.",
          "type": "string"
        },
        "accessKeyId": {
          "description": "Optional. Access key ID to access the Amazon S3 bucket.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "Optional. The name of the AWS region where the bucket is created."
        },
        "technologyType": {
          "description": "Optional. The technology type of AmazonS3Connection.",
          "type": "string"
        },
[...]
