{
  "batchPath": "batch",
  "servicePath": "",
  "baseUrl": "https://oracledatabase.googleapis.com/",
  "revision": "20260615",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/oracle/database/docs",
  "schemas": {
    "CustomerContact": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email address used by Oracle to send notifications regarding databases and infrastructure."
        }
      },
      "description": "The CustomerContact reference as defined by Oracle. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/CustomerContact",
      "type": "object",
      "id": "CustomerContact"
    },
    "ListGiVersionsResponse": {
      "type": "object",
      "id": "ListGiVersionsResponse",
      "properties": {
        "giVersions": {
          "description": "The list of Oracle Grid Infrastructure (GI) versions.",
          "items": {
            "$ref": "GiVersion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "The response for `GiVersion.List`."
    },
    "GoldengateOciObjectStorageConnectionProperties": {
      "id": "GoldengateOciObjectStorageConnectionProperties",
      "type": "object",
      "description": "The properties of GoldengateOciObjectStorageConnection.",
      "properties": {
        "privateKeyPassphraseSecret": {
          "type": "string",
          "description": "Optional. The passphrase of the private key."
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of OciObjectStorageConnection."
        },
        "tenancyId": {
          "description": "Optional. The OCID of the related OCI tenancy.",
          "type": "string"
        },
        "useResourcePrincipal": {
          "type": "boolean",
          "description": "Optional. Specifies that the user intends to authenticate to the instance using a resource principal."
        },
        "userId": {
          "type": "string",
          "description": "Optional. The OCID of the OCI user who will access the Object Storage. The user must have write access to the bucket they want to connect to."
        },
        "privateKeyFile": {
          "description": "Optional. The content of the private key file (PEM file) corresponding to the API key of the fingerprint.",
          "type": "string"
        },
        "publicKeyFingerprint": {
          "description": "Optional. The fingerprint of the API Key of the user specified by the userId.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "Optional. The name of the region of OCI Object Storage. e.g.: us-ashburn-1 If the region is not provided, backend will default to the default region."
        }
      }
    },
    "DeploymentDiagnosticData": {
      "id": "DeploymentDiagnosticData",
      "type": "object",
      "description": "The deployment diagnostic data.",
      "properties": {
        "diagnosticStartTime": {
          "type": "string",
          "description": "Output only. The time diagnostic start.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "diagnosticEndTime": {
          "format": "google-datetime",
          "description": "Output only. The time diagnostic end.",
          "readOnly": true,
          "type": "string"
        },
        "diagnosticState": {
          "type": "string",
          "enumDescriptions": [
            "The diagnostic state is unspecified.",
            "The diagnostic is in progress.",
            "The diagnostic completed successfully.",
            "The diagnostic failed."
          ],
          "readOnly": true,
          "enum": [
            "DIAGNOSTIC_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The diagnostic state."
        },
        "namespace": {
          "type": "string",
          "description": "Output only. The namespace name.",
          "readOnly": true
        },
        "bucket": {
          "type": "string",
          "description": "Output only. The bucket name.",
          "readOnly": true
        },
        "object": {
          "description": "Output only. The object name.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DbVersionProperties": {
      "id": "DbVersionProperties",
      "type": "object",
      "description": "The properties of a DbVersion.",
      "properties": {
        "version": {
          "description": "Output only. A valid Oracle Database version.",
          "readOnly": true,
          "type": "string"
        },
        "isLatestForMajorVersion": {
          "description": "Output only. True if this version of the Oracle Database software is the latest version for a release.",
          "readOnly": true,
          "type": "boolean"
        },
        "supportsPdb": {
          "type": "boolean",
          "description": "Output only. True if this version of the Oracle Database software supports pluggable databases.",
          "readOnly": true
        },
        "isPreviewDbVersion": {
          "description": "Output only. True if this version of the Oracle Database software is the preview version.",
          "readOnly": true,
          "type": "boolean"
        },
        "isUpgradeSupported": {
          "description": "Output only. True if this version of the Oracle Database software is supported for Upgrade.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "ListAutonomousDbVersionsResponse": {
      "properties": {
        "autonomousDbVersions": {
          "type": "array",
          "description": "The list of Autonomous Database versions.",
          "items": {
            "$ref": "AutonomousDbVersion"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "The response for `AutonomousDbVersion.List`.",
      "type": "object",
      "id": "ListAutonomousDbVersionsResponse"
    },
    "DbServerProperties": {
      "id": "DbServerProperties",
      "type": "object",
      "description": "Various properties and settings associated with Exadata database server.",
      "properties": {
        "maxOcpuCount": {
          "type": "integer",
          "description": "Optional. Maximum OCPU count per database.",
          "format": "int32"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "AVAILABLE",
            "UNAVAILABLE",
            "DELETING",
            "DELETED"
          ],
          "description": "Output only. State of the database server.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in creating state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in unavailable state.",
            "Indicates that the resource is in deleting state.",
            "Indicates that the resource is in deleted state."
          ],
          "readOnly": true
        },
        "memorySizeGb": {
          "format": "int32",
          "description": "Optional. Memory allocated in GBs.",
          "type": "integer"
        },
        "ocpuCount": {
          "type": "integer",
          "description": "Optional. OCPU count per database.",
          "format": "int32"
        },
        "maxDbNodeStorageSizeGb": {
          "description": "Optional. Maximum local storage per VM.",
          "format": "int32",
          "type": "integer"
        },
        "maxMemorySizeGb": {
          "description": "Optional. Maximum memory allocated in GBs.",
          "format": "int32",
          "type": "integer"
        },
        "dbNodeStorageSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Local storage per VM."
        },
        "vmCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Vm count per database."
        },
        "dbNodeIds": {
          "items": {
            "type": "string"
          },
          "description": "Output only. OCID of database nodes associated with the database server.",
          "readOnly": true,
          "type": "array"
        },
        "ocid": {
          "description": "Output only. OCID of database server.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AutonomousDatabaseCharacterSet": {
      "id": "AutonomousDatabaseCharacterSet",
      "type": "object",
      "description": "Details of the Autonomous Database character set resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabaseCharacterSets/",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Autonomous Database Character Set resource in the following format: projects/{project}/locations/{region}/autonomousDatabaseCharacterSets/{autonomous_database_character_set}"
        },
        "characterSetType": {
          "enum": [
            "CHARACTER_SET_TYPE_UNSPECIFIED",
            "DATABASE",
            "NATIONAL"
          ],
          "description": "Output only. The character set type for the Autonomous Database.",
          "type": "string",
          "enumDescriptions": [
            "Character set type is not specified.",
            "Character set type is set to database.",
            "Character set type is set to national."
          ],
          "readOnly": true
        },
        "characterSet": {
          "type": "string",
          "description": "Output only. The character set name for the Autonomous Database which is the ID in the resource name.",
          "readOnly": true
        }
      }
    },
    "NessieIcebergCatalog": {
      "id": "NessieIcebergCatalog",
      "type": "object",
      "description": "The Nessie Iceberg catalog.",
      "properties": {
        "uri": {
          "description": "Required. The Nessie uri.",
          "type": "string"
        },
        "branch": {
          "type": "string",
          "description": "Required. The Nessie branch."
        }
      }
    },
    "GoldengateKafkaSchemaRegistryConnectionProperties": {
      "id": "GoldengateKafkaSchemaRegistryConnectionProperties",
      "type": "object",
      "description": "The properties of GoldengateKafkaSchemaRegistryConnection.",
      "properties": {
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password to access Schema Registry using basic authentication. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "sslKeyPassword": {
          "description": "Optional. Input only. The password for the cert inside the KeyStore in plain text.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password to access Schema Registry in plain text."
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of KafkaSchemaRegistryConnection."
        },
        "keyStoreFile": {
          "description": "Optional. The base64 encoded content of the KeyStore file.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Optional. The username to access Schema Registry using basic authentication. This value is injected into 'schema.registry.basic.auth.user.info=user:password' configuration property."
        },
        "trustStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the TrustStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "keyStorePasswordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the KeyStore password. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "authenticationType": {
          "type": "string",
          "enumDescriptions": [
            "Authentication type not specified.",
            "No authentication.",
            "Basic authentication.",
            "Mutual authentication."
          ],
          "enum": [
            "AUTHENTICATION_TYPE_UNSPECIFIED",
            "NONE",
            "BASIC",
            "MUTUAL"
          ],
          "description": "Optional. Used authentication mechanism to access Schema Registry."
        },
        "trustStoreFile": {
          "description": "Optional. The base64 encoded content of the TrustStore file.",
          "type": "string"
        },
        "keyStorePassword": {
          "description": "Optional. Input only. The KeyStore password in plain text.",
          "type": "string"
        },
        "url": {
          "description": "Optional. Kafka Schema Registry URL. e.g.: 'https://server1.us.oracle.com:8081'",
          "type": "string"
        },
        "trustStorePassword": {
          "type": "string",
          "description": "Optional. Input only. The TrustStore password in plain text."
        },
        "sslKeyPasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password for the cert inside the KeyStore. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        }
      }
    },
    "GenerateAutonomousDatabaseWalletResponse": {
      "description": "The response for `AutonomousDatabase.GenerateWallet`.",
      "properties": {
        "archiveContent": {
          "type": "string",
          "description": "Output only. The base64 encoded wallet files.",
          "readOnly": true,
          "format": "byte"
        }
      },
      "id": "GenerateAutonomousDatabaseWalletResponse",
      "type": "object"
    },
    "ListDbSystemsResponse": {
      "properties": {
        "dbSystems": {
          "description": "The list of DbSystems.",
          "items": {
            "$ref": "DbSystem"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "The response for `DbSystem.List`.",
      "type": "object",
      "id": "ListDbSystemsResponse"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "LocationMetadata": {
      "type": "object",
      "id": "LocationMetadata",
      "properties": {
        "gcpOracleZones": {
          "description": "Output only. Google Cloud Platform Oracle zones in a location.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Metadata for a given Location."
    },
    "GoldengateConnection": {
      "description": "Details of the GoldengateConnection resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the GoldengateConnection resource in the following format: projects/{project}/locations/{region}/goldengateConnections/{goldengate_connection}"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels or tags associated with the GoldengateConnection."
        },
        "odbSubnet": {
          "description": "Optional. The name of the OdbSubnet associated with the GoldengateConnection for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "entitlementId": {
          "type": "string",
          "description": "Output only. The ID of the subscription entitlement associated with the GoldengateConnection.",
          "readOnly": true
        },
        "gcpOracleZone": {
          "type": "string",
          "description": "Optional. The GCP Oracle zone where Oracle GoldengateConnection is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability."
        },
        "odbNetwork": {
          "type": "string",
          "description": "Optional. The name of the OdbNetwork associated with the GoldengateConnection. The format is projects/{project}/locations/{location}/odbNetworks/{odb_network}. It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet."
        },
        "ociUrl": {
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "readOnly": true,
          "type": "string"
        },
        "properties": {
          "description": "Required. The properties of the GoldengateConnection.",
          "$ref": "GoldengateConnectionProperties"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The date and time that the GoldengateConnection was created.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoldengateConnection",
      "type": "object"
    },
    "AutonomousDbVersion": {
      "description": "Details of the Autonomous Database version. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDbVersionSummary/",
      "properties": {
        "dbWorkload": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Autonomous Transaction Processing database.",
            "Autonomous Data Warehouse database.",
            "Autonomous JSON Database.",
            "Autonomous Database with the Oracle APEX Application Development workload type."
          ],
          "readOnly": true,
          "enum": [
            "DB_WORKLOAD_UNSPECIFIED",
            "OLTP",
            "DW",
            "AJD",
            "APEX"
          ],
          "description": "Output only. The Autonomous Database workload type."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Autonomous Database Version resource with the format: projects/{project}/locations/{region}/autonomousDbVersions/{autonomous_db_version}"
        },
        "version": {
          "description": "Output only. An Oracle Database version for Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "workloadUri": {
          "type": "string",
          "description": "Output only. A URL that points to a detailed description of the Autonomous Database version.",
          "readOnly": true
        }
      },
      "id": "AutonomousDbVersion",
      "type": "object"
    },
    "TestConnectionAssignmentError": {
      "description": "Error details for TestGoldengateConnectionAssignment.",
      "properties": {
        "issue": {
          "description": "The text describing the root cause of the reported issue.",
          "type": "string"
        },
        "code": {
          "description": "A short error code that defines the error, meant for programmatic parsing.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "The text describing the action required to fix the issue."
        },
        "message": {
          "type": "string",
          "description": "A human-readable error message."
        }
      },
      "id": "TestConnectionAssignmentError",
      "type": "object"
    },
    "ListDbSystemShapesResponse": {
      "description": "The response for `DbSystemShape.List`.",
      "properties": {
        "dbSystemShapes": {
          "type": "array",
          "description": "The list of Database System shapes.",
          "items": {
            "$ref": "DbSystemShape"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListDbSystemShapesResponse",
      "type": "object"
    },
    "GoldengateAmazonKinesisConnectionProperties": {
      "type": "object",
      "id": "GoldengateAmazonKinesisConnectionProperties",
      "properties": {
        "secretAccessKeySecret": {
          "type": "string",
          "description": "Optional. Secret access key to access the Amazon Kinesis."
        },
        "technologyType": {
          "description": "Optional. The technology type of AmazonKinesisConnection.",
          "type": "string"
        },
        "accessKeyId": {
          "description": "Optional. Access key ID to access the Amazon Kinesis.",
          "type": "string"
        },
        "awsRegion": {
          "type": "string",
          "description": "Optional. The name of the AWS region. If not provided, Goldengate will default to 'us-west-1'."
        },
        "endpoint": {
          "description": "Optional. The endpoint URL of the Amazon Kinesis service. e.g.: 'https://kinesis.us-east-1.amazonaws.com' If not provided, Goldengate will default to 'https://kinesis..amazonaws.com'.",
          "type": "string"
        }
      },
      "description": "The properties of GoldengateAmazonKinesisConnection."
    },
    "ListAutonomousDatabasesResponse": {
      "type": "object",
      "id": "ListAutonomousDatabasesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "autonomousDatabases": {
          "items": {
            "$ref": "AutonomousDatabase"
          },
          "description": "The list of Autonomous Databases.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array"
        }
      },
      "description": "The response for `AutonomousDatabase.List`."
    },
    "DbSystemInitialStorageSizeProperties": {
      "id": "DbSystemInitialStorageSizeProperties",
      "type": "object",
      "description": "The properties of a DbSystem initial storage size summary.",
      "properties": {
        "launchFromBackupStorageSizeDetails": {
          "type": "array",
          "items": {
            "$ref": "StorageSizeDetails"
          },
          "description": "Output only. List of storage disk details available for launches from backup.",
          "readOnly": true
        },
        "storageManagement": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage management.",
            "Automatic Storage Management.",
            "Logical Volume Management."
          ],
          "readOnly": true,
          "enum": [
            "STORAGE_MANAGEMENT_UNSPECIFIED",
            "ASM",
            "LVM"
          ],
          "description": "Output only. The storage option used in DB system."
        },
        "shapeType": {
          "enum": [
            "SHAPE_TYPE_UNSPECIFIED",
            "STANDARD_X86"
          ],
          "description": "Output only. VM shape platform type",
          "type": "string",
          "enumDescriptions": [
            "Unspecified shape type.",
            "Standard X86."
          ],
          "readOnly": true
        },
        "storageSizeDetails": {
          "items": {
            "$ref": "StorageSizeDetails"
          },
          "description": "Output only. List of storage disk details.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoldengateAmazonS3ConnectionProperties": {
      "properties": {
        "endpoint": {
          "description": "Optional. The Amazon Endpoint for S3.",
          "type": "string"
        },
        "accessKeyId": {
          "description": "Optional. Access key ID to access the Amazon S3 bucket.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of AmazonS3Connection.",
          "type": "string"
        },
        "secretAccessKeySecret": {
          "description": "Optional. Secret access key to access the Amazon S3 bucket.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "Optional. The name of the AWS region where the bucket is created."
        }
      },
      "description": "The properties of GoldengateAmazonS3Connection.",
      "type": "object",
      "id": "GoldengateAmazonS3ConnectionProperties"
    },
    "OdbNetwork": {
      "type": "object",
      "id": "OdbNetwork",
      "properties": {
        "network": {
          "type": "string",
          "description": "Required. The name of the VPC network in the following format: projects/{project}/global/networks/{network}"
        },
        "labels": {
          "description": "Optional. Labels or tags associated with the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The date and time that the OdbNetwork was created.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the OdbNetwork resource in the following format: projects/{project}/locations/{region}/odbNetworks/{odb_network}",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "TERMINATING",
            "FAILED"
          ],
          "description": "Output only. State of the ODB Network.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in failed state."
          ],
          "readOnly": true
        },
        "entitlementId": {
          "type": "string",
          "description": "Output only. The ID of the subscription entitlement associated with the OdbNetwork.",
          "readOnly": true
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where OdbNetwork is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        }
      },
      "description": "Represents OdbNetwork resource."
    },
    "DataCollectionOptionsDbSystem": {
      "properties": {
        "isIncidentLogsEnabled": {
          "description": "Optional. Indicates whether to enable incident logs and trace collection.",
          "type": "boolean"
        },
        "isDiagnosticsEventsEnabled": {
          "description": "Optional. Indicates whether to enable data collection for diagnostics.",
          "type": "boolean"
        }
      },
      "description": "Data collection options for DbSystem.",
      "type": "object",
      "id": "DataCollectionOptionsDbSystem"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "IngressIp": {
      "type": "object",
      "id": "IngressIp",
      "properties": {
        "ingressIpAddress": {
          "description": "Output only. The ingress IP.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The ingress IPs of the GoldengateDeployment."
    },
    "GoldengateHdfsConnectionProperties": {
      "description": "The properties of GoldengateHdfsConnection.",
      "properties": {
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of HdfsConnection."
        },
        "coreSiteXml": {
          "type": "string",
          "description": "Optional. The content of the Hadoop Distributed File System configuration file (core-site.xml)."
        }
      },
      "id": "GoldengateHdfsConnectionProperties",
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "ListGoldengateConnectionAssignmentsResponse": {
      "id": "ListGoldengateConnectionAssignmentsResponse",
      "type": "object",
      "description": "Response message for listing GoldengateConnectionAssignments.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "goldengateConnectionAssignments": {
          "description": "The list of GoldengateConnectionAssignments.",
          "items": {
            "$ref": "GoldengateConnectionAssignment"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array"
        }
      }
    },
    "GoldengateDeploymentVersionProperties": {
      "properties": {
        "oggVersion": {
          "description": "Output only. The OGG version of the Goldengate Deployment Version resource.",
          "readOnly": true,
          "type": "string"
        },
        "supportEndTime": {
          "description": "Output only. The support end time of the Goldengate Deployment Version resource.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "releaseType": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Goldengate Deployment Version release type is MAJOR.",
            "Goldengate Deployment Version release type is BUNDLE.",
            "Goldengate Deployment Version release type is MINOR."
          ],
          "readOnly": true,
          "enum": [
            "DEPLOYMENT_RELEASE_TYPE_UNSPECIFIED",
            "MAJOR",
            "BUNDLE",
            "MINOR"
          ],
          "description": "Output only. The release type of the Goldengate Deployment Version resource."
        },
        "securityFix": {
          "description": "Optional. Whether the Goldengate Deployment Version resource is a security fix.",
          "type": "boolean"
        },
        "deploymentType": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Goldengate Deployment Type category is OGG.",
            "Goldengate Deployment Type category is DATABASE_ORACLE.",
            "Goldengate Deployment Type category is BIGDATA.",
            "Goldengate Deployment Type category is DATABASE_MICROSOFT_SQLSERVER.",
            "Goldengate Deployment Type category is DATABASE_MYSQL.",
            "Goldengate Deployment Type category is DATABASE_POSTGRESQL.",
            "Goldengate Deployment Type category is DATABASE_DB2ZOS.",
            "Goldengate Deployment Type category is DATABASE_DB2I.",
            "Goldengate Deployment Type category is GGSA.",
            "Goldengate Deployment Type category is DATA_TRANSFORMS."
          ],
          "description": "Output only. The deployment type of the Goldengate Deployment Version resource.",
          "enum": [
            "DEPLOYMENT_TYPE_UNSPECIFIED",
            "OGG",
            "DATABASE_ORACLE",
            "BIGDATA",
            "DATABASE_MICROSOFT_SQLSERVER",
            "DATABASE_MYSQL",
            "DATABASE_POSTGRESQL",
            "DATABASE_DB2ZOS",
            "DATABASE_DB2I",
            "GGSA",
            "DATA_TRANSFORMS"
          ]
        },
        "releaseTime": {
          "type": "string",
          "description": "Output only. The release time of the Goldengate Deployment Version resource.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "Properties of GoldengateDeploymentVersion.",
      "type": "object",
      "id": "GoldengateDeploymentVersionProperties"
    },
    "ListCloudExadataInfrastructuresResponse": {
      "id": "ListCloudExadataInfrastructuresResponse",
      "type": "object",
      "description": "The response for `CloudExadataInfrastructures.list`.",
      "properties": {
        "cloudExadataInfrastructures": {
          "description": "The list of Exadata Infrastructures.",
          "items": {
            "$ref": "CloudExadataInfrastructure"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token for fetching next page of response."
        }
      }
    },
    "ListDatabasesResponse": {
      "id": "ListDatabasesResponse",
      "type": "object",
      "description": "The response for `Database.List`.",
      "properties": {
        "databases": {
          "items": {
            "$ref": "Database"
          },
          "description": "The list of Databases.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "PolarisIcebergCatalog": {
      "description": "The Polaris Iceberg catalog.",
      "properties": {
        "polarisCatalog": {
          "description": "Required. The catalog name within Polaris.",
          "type": "string"
        },
        "clientSecret": {
          "type": "string",
          "description": "Optional. The Polaris client secret."
        },
        "clientId": {
          "type": "string",
          "description": "Required. The Polaris client ID."
        },
        "uri": {
          "type": "string",
          "description": "Required. The Polaris uri."
        },
        "principalRole": {
          "description": "Required. The Polaris principal role.",
          "type": "string"
        }
      },
      "id": "PolarisIcebergCatalog",
      "type": "object"
    },
    "GoldengateMicrosoftFabricConnectionProperties": {
      "properties": {
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of MicrosoftFabricConnection."
        },
        "clientSecret": {
          "type": "string",
          "description": "Optional. Client secret associated with the client id."
        },
        "endpoint": {
          "type": "string",
          "description": "Optional. Optional Microsoft Fabric service endpoint. Default value: https://onelake.dfs.fabric.microsoft.com"
        },
        "tenantId": {
          "type": "string",
          "description": "Optional. Azure tenant ID of the application."
        },
        "clientId": {
          "type": "string",
          "description": "Optional. Azure client ID of the application."
        }
      },
      "description": "The properties of GoldengateMicrosoftFabricConnection.",
      "type": "object",
      "id": "GoldengateMicrosoftFabricConnectionProperties"
    },
    "GoldengatePostgresqlConnectionProperties": {
      "description": "The properties of GoldengatePostgresqlConnection.",
      "properties": {
        "dbSystemId": {
          "type": "string",
          "description": "Optional. The OCID of the database system being referenced."
        },
        "sslCertFile": {
          "type": "string",
          "description": "Optional. The base64 encoded certificate of the PostgreSQL server."
        },
        "port": {
          "description": "Optional. The port of an endpoint usually specified for a connection.",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology.",
          "type": "string"
        },
        "database": {
          "description": "Optional. The name of the database.",
          "type": "string"
        },
        "additionalAttributes": {
          "type": "array",
          "items": {
            "$ref": "NameValuePair"
          },
          "description": "Optional. An array of name-value pair attribute entries. Used as additional parameters in connection string."
        },
        "sslKeyFile": {
          "type": "string",
          "description": "Optional. The base64 encoded private key of the PostgreSQL server."
        },
        "technologyType": {
          "description": "Optional. The technology type of PostgresqlConnection.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password Oracle Goldengate uses for PostgreSQL connection in plain text."
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for PostgreSQL connection. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "securityProtocol": {
          "type": "string",
          "enumDescriptions": [
            "Security protocol not specified.",
            "Plain text communication.",
            "Transport Layer Security.",
            "Mutual Transport Layer Security."
          ],
          "enum": [
            "POSTGRESQL_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS",
            "MTLS"
          ],
          "description": "Optional. Security protocol for PostgreSQL."
        },
        "sslCaFile": {
          "description": "Optional. The base64 encoded certificate of the trusted certificate authorities (Trusted CA) for PostgreSQL.",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "Optional. The name or address of a host."
        },
        "sslMode": {
          "description": "Optional. SSL modes for PostgreSQL.",
          "type": "string",
          "enumDescriptions": [
            "SSL mode not specified.",
            "Prefer SSL.",
            "Require SSL.",
            "Verify Certificate Authority.",
            "Verify Full."
          ],
          "enum": [
            "POSTGRESQL_SSL_MODE_UNSPECIFIED",
            "PREFER",
            "REQUIRE",
            "VERIFY_CA",
            "VERIFY_FULL"
          ]
        },
        "sslCrlFile": {
          "type": "string",
          "description": "Optional. The base64 encoded list of certificates revoked by the trusted certificate authorities (Trusted CA)."
        }
      },
      "id": "GoldengatePostgresqlConnectionProperties",
      "type": "object"
    },
    "TimeZone": {
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "id": "TimeZone"
    },
    "IdentityConnector": {
      "type": "object",
      "id": "IdentityConnector",
      "properties": {
        "serviceAgentEmail": {
          "type": "string",
          "description": "Output only. A google managed service account on which customers can grant roles to access resources in the customer project. Example: `p176944527254-55-75119d87fd8f@gcp-sa-oci.iam.gserviceaccount.com`",
          "readOnly": true
        },
        "connectionState": {
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "CONNECTED",
            "PARTIALLY_CONNECTED",
            "DISCONNECTED",
            "UNKNOWN"
          ],
          "description": "Output only. The connection state of the identity connector.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "The identity pool connection is connected.",
            "The identity pool connection is partially connected.",
            "The identity pool connection is disconnected.",
            "The identity pool connection is in an unknown state."
          ],
          "readOnly": true
        }
      },
      "description": "The identity connector details which will allow OCI to securely access the resources in the customer project."
    },
    "ListDbSystemInitialStorageSizesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "dbSystemInitialStorageSizes": {
          "type": "array",
          "description": "The list of DbSystemInitialStorageSizes.",
          "items": {
            "$ref": "DbSystemInitialStorageSize"
          }
        }
      },
      "description": "The response for `DbSystemInitialStorageSizes.List`.",
      "type": "object",
      "id": "ListDbSystemInitialStorageSizesResponse"
    },
    "PluggableDatabaseProperties": {
      "description": "The properties of a PluggableDatabase.",
      "properties": {
        "lifecycleDetails": {
          "description": "Output only. Additional information about the current lifecycle state.",
          "readOnly": true,
          "type": "string"
        },
        "freeformTags": {
          "description": "Optional. Free-form tags for this resource. Each tag is a simple key-value pair with no predefined name, type, or namespace.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "containerDatabaseOcid": {
          "description": "Required. The OCID of the CDB.",
          "type": "string"
        },
        "isRestricted": {
          "description": "Optional. The restricted mode of the pluggable database. If a pluggable database is opened in restricted mode, the user needs both create a session and have restricted session privileges to connect to it.",
          "type": "boolean"
        },
        "connectionStrings": {
          "description": "Optional. The Connection strings used to connect to the Oracle Database.",
          "$ref": "PluggableDatabaseConnectionStrings"
        },
        "pdbNodeLevelDetails": {
          "description": "Optional. Pluggable Database Node Level Details",
          "items": {
            "$ref": "PluggableDatabaseNodeLevelDetails"
          },
          "type": "array"
        },
        "definedTags": {
          "type": "object",
          "additionalProperties": {
            "$ref": "DefinedTagValue"
          },
          "description": "Optional. Defined tags for this resource. Each key is predefined and scoped to a namespace."
        },
        "ocid": {
          "description": "Output only. The OCID of the pluggable database.",
          "readOnly": true,
          "type": "string"
        },
        "lifecycleState": {
          "description": "Output only. The current state of the pluggable database.",
          "enum": [
            "PLUGGABLE_DATABASE_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "TERMINATING",
            "TERMINATED",
            "UPDATING",
            "FAILED",
            "RELOCATING",
            "RELOCATED",
            "REFRESHING",
            "RESTORE_IN_PROGRESS",
            "RESTORE_FAILED",
            "BACKUP_IN_PROGRESS",
            "DISABLED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The pluggable database is provisioning.",
            "The pluggable database is available.",
            "The pluggable database is terminating.",
            "The pluggable database is terminated.",
            "The pluggable database is updating.",
            "The pluggable database is in a failed state.",
            "The pluggable database is relocating.",
            "The pluggable database is relocated.",
            "The pluggable database is refreshing.",
            "The pluggable database is restoring.",
            "The pluggable database restore failed.",
            "The pluggable database is backing up.",
            "The pluggable database is disabled."
          ]
        },
        "databaseManagementConfig": {
          "description": "Output only. The configuration of the Database Management service.",
          "readOnly": true,
          "$ref": "DatabaseManagementConfig"
        },
        "pdbName": {
          "description": "Required. The database name.",
          "type": "string"
        },
        "compartmentId": {
          "description": "Required. The OCID of the compartment.",
          "type": "string"
        },
        "operationsInsightsState": {
          "type": "string",
          "enumDescriptions": [
            "The status is not specified.",
            "Operations Insights is enabling.",
            "Operations Insights is enabled.",
            "Operations Insights is disabling.",
            "Operations Insights is not enabled.",
            "Operations Insights failed to enable.",
            "Operations Insights failed to disable."
          ],
          "readOnly": true,
          "enum": [
            "OPERATIONS_INSIGHTS_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "description": "Output only. The status of Operations Insights for this Database."
        }
      },
      "id": "PluggableDatabaseProperties",
      "type": "object"
    },
    "ExascaleConfig": {
      "properties": {
        "totalStorageSizeGb": {
          "description": "Output only. Total storage size needed for Exascale in GBs.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "availableStorageSizeGb": {
          "format": "int32",
          "description": "Output only. Available storage size for Exascale in GBs.",
          "readOnly": true,
          "type": "integer"
        }
      },
      "description": "Details of the Exascale configuration for the Exadata Infrastructure.",
      "type": "object",
      "id": "ExascaleConfig"
    },
    "AutonomousDatabaseBackup": {
      "id": "AutonomousDatabaseBackup",
      "type": "object",
      "description": "Details of the Autonomous Database Backup resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabaseBackup/",
      "properties": {
        "labels": {
          "description": "Optional. labels or tags associated with the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "description": "Optional. Various properties of the backup.",
          "$ref": "AutonomousDatabaseBackupProperties"
        },
        "displayName": {
          "description": "Optional. User friendly name for the Backup. The name does not have to be unique.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Autonomous Database Backup resource with the format: projects/{project}/locations/{region}/autonomousDatabaseBackups/{autonomous_database_backup}"
        },
        "autonomousDatabase": {
          "description": "Required. The name of the Autonomous Database resource for which the backup is being created. Format: projects/{project}/locations/{region}/autonomousDatabases/{autonomous_database}",
          "type": "string"
        }
      }
    },
    "IcebergStorage": {
      "id": "IcebergStorage",
      "type": "object",
      "description": "The Iceberg storage details.",
      "properties": {
        "azureDataLakeStorageIcebergStorage": {
          "description": "The Azure Data Lake Storage Iceberg storage.",
          "$ref": "AzureDataLakeStorageIcebergStorage"
        },
        "storageType": {
          "description": "Required. The type of Iceberg storage.",
          "type": "string",
          "enumDescriptions": [
            "Storage type not specified.",
            "Amazon S3 storage.",
            "Google Cloud Storage storage.",
            "Azure Data Lake Storage storage."
          ],
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "AMAZON_S3",
            "GOOGLE_CLOUD_STORAGE",
            "AZURE_DATA_LAKE_STORAGE"
          ]
        },
        "amazonS3IcebergStorage": {
          "description": "The Amazon S3 Iceberg storage.",
          "$ref": "AmazonS3IcebergStorage"
        },
        "googleCloudStorageIcebergStorage": {
          "description": "The Google Cloud Storage Iceberg storage.",
          "$ref": "GoogleCloudStorageIcebergStorage"
        }
      }
    },
    "CloudExadataInfrastructureProperties": {
      "type": "object",
      "id": "CloudExadataInfrastructureProperties",
      "properties": {
        "ociUrl": {
          "type": "string",
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "readOnly": true
        },
        "nextSecurityMaintenanceRunTime": {
          "description": "Output only. The time when the next security maintenance run will occur.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "maxCpuCount": {
          "format": "int32",
          "description": "Output only. The total number of CPU cores available.",
          "readOnly": true,
          "type": "integer"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "The Exadata Infrastructure is being provisioned.",
            "The Exadata Infrastructure is available for use.",
            "The Exadata Infrastructure is being updated.",
            "The Exadata Infrastructure is being terminated.",
            "The Exadata Infrastructure is terminated.",
            "The Exadata Infrastructure is in failed state.",
            "The Exadata Infrastructure is in maintenance."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ],
          "description": "Output only. The current lifecycle state of the Exadata Infrastructure."
        },
        "storageServerType": {
          "description": "Output only. The storage server type of the Exadata Infrastructure.",
          "readOnly": true,
          "type": "string"
        },
        "nextMaintenanceRunTime": {
          "description": "Output only. The time when the next maintenance run will occur.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "maxMemoryGb": {
          "format": "int32",
          "description": "Output only. The total memory available in GBs.",
          "readOnly": true,
          "type": "integer"
        },
        "maxDbNodeStorageSizeGb": {
          "format": "int32",
          "description": "Output only. The total local node storage available in GBs.",
          "readOnly": true,
          "type": "integer"
        },
        "monthlyDbServerVersion": {
          "type": "string",
          "description": "Output only. The monthly software version of the database servers (dom0) in the Exadata Infrastructure. Example: 20.1.15",
          "readOnly": true
        },
        "memorySizeGb": {
          "description": "Output only. The memory allocated in GBs.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "computeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of compute servers for the Exadata Infrastructure."
        },
        "monthlyStorageServerVersion": {
          "type": "string",
          "description": "Output only. The monthly software version of the storage servers (cells) in the Exadata Infrastructure. Example: 20.1.15",
          "readOnly": true
        },
        "computeModel": {
          "description": "Output only. The compute model of the Exadata Infrastructure.",
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "COMPUTE_MODEL_ECPU",
            "COMPUTE_MODEL_OCPU"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified compute model.",
            "Abstract measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers.",
            "Physical measure of compute resources. OCPUs are based on the physical core of a processor."
          ]
        },
        "cpuCount": {
          "description": "Output only. The number of enabled CPU cores.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "nextMaintenanceRunId": {
          "description": "Output only. The OCID of the next maintenance run.",
          "readOnly": true,
          "type": "string"
        },
        "dbServerVersion": {
          "description": "Output only. The software version of the database servers (dom0) in the Exadata Infrastructure.",
          "readOnly": true,
          "type": "string"
        },
        "maxDataStorageTb": {
          "description": "Output only. The total available DATA disk group size.",
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "dbNodeStorageSizeGb": {
          "format": "int32",
          "description": "Output only. The local node storage allocated in GBs.",
          "readOnly": true,
          "type": "integer"
        },
        "additionalStorageCount": {
          "description": "Output only. The requested number of additional storage servers for the Exadata Infrastructure.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "customerContacts": {
          "type": "array",
          "description": "Optional. The list of customer contacts.",
          "items": {
            "$ref": "CustomerContact"
          }
        },
        "ocid": {
          "description": "Output only. OCID of created infra. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle",
          "readOnly": true,
          "type": "string"
        },
        "maintenanceWindow": {
          "description": "Optional. Maintenance window for repair.",
          "$ref": "MaintenanceWindow"
        },
        "activatedStorageCount": {
          "description": "Output only. The requested number of additional storage servers activated for the Exadata Infrastructure.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "totalStorageSizeGb": {
          "type": "integer",
          "description": "Optional. The total storage allocated to the Exadata Infrastructure resource, in gigabytes (GB).",
          "format": "int32"
        },
        "availableStorageSizeGb": {
          "description": "Output only. The available storage can be allocated to the Exadata Infrastructure resource, in gigabytes (GB).",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "dataStorageSizeTb": {
          "type": "number",
          "description": "Output only. Size, in terabytes, of the DATA disk group.",
          "readOnly": true,
          "format": "double"
        },
        "shape": {
          "description": "Required. The shape of the Exadata Infrastructure. The shape determines the amount of CPU, storage, and memory resources allocated to the instance.",
          "type": "string"
        },
        "storageCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of Cloud Exadata storage servers for the Exadata Infrastructure."
        },
        "storageServerVersion": {
          "description": "Output only. The software version of the storage servers (cells) in the Exadata Infrastructure.",
          "readOnly": true,
          "type": "string"
        },
        "exascaleConfig": {
          "description": "Output only. The Exascale configuration for the Exadata Infrastructure.",
          "readOnly": true,
          "$ref": "ExascaleConfig"
        },
        "databaseServerType": {
          "description": "Output only. The database server type of the Exadata Infrastructure.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Various properties of Exadata Infrastructure."
    },
    "ExadbVmClusterStorageDetails": {
      "description": "The storage allocation for the exadbvmcluster, in gigabytes (GB).",
      "properties": {
        "sizeInGbsPerNode": {
          "format": "int32",
          "description": "Required. The storage allocation for the exadbvmcluster per node, in gigabytes (GB). This field is used to calculate the total storage allocation for the exadbvmcluster.",
          "type": "integer"
        }
      },
      "id": "ExadbVmClusterStorageDetails",
      "type": "object"
    },
    "DbServer": {
      "type": "object",
      "id": "DbServer",
      "properties": {
        "properties": {
          "description": "Optional. Various properties of the database server.",
          "$ref": "DbServerProperties"
        },
        "name": {
          "description": "Identifier. The name of the database server resource with the format: projects/{project}/locations/{location}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}/dbServers/{db_server}",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly name for this resource."
        }
      },
      "description": "Details of the database server resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbServer/"
    },
    "AutonomousDatabase": {
      "type": "object",
      "id": "AutonomousDatabase",
      "properties": {
        "labels": {
          "description": "Optional. The labels or tags associated with the Autonomous Database.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "odbSubnet": {
          "type": "string",
          "description": "Optional. Immutable. The name of the OdbSubnet associated with the Autonomous Database. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "sourceConfig": {
          "description": "Optional. Immutable. The source Autonomous Database configuration for the standby Autonomous Database. The source Autonomous Database is configured while creating the Peer Autonomous Database and can't be updated after creation.",
          "$ref": "SourceConfig"
        },
        "odbNetwork": {
          "description": "Optional. Immutable. The name of the OdbNetwork associated with the Autonomous Database. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet.",
          "type": "string"
        },
        "entitlementId": {
          "description": "Output only. The ID of the subscription entitlement associated with the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Optional. Immutable. The name of the VPC network used by the Autonomous Database in the following format: projects/{project}/global/networks/{network}"
        },
        "adminPasswordSecretVersion": {
          "description": "Optional. Immutable. The resource name of a secret version in Secret Manager which contains the database admin user's password. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "adminPassword": {
          "description": "Optional. Immutable. The password for the default ADMIN user. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "disasterRecoverySupportedLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. List of supported GCP region to clone the Autonomous Database for disaster recovery. Format: `project/{project}/locations/{location}`.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Autonomous Database resource in the following format: projects/{project}/locations/{region}/autonomousDatabases/{autonomous_database}"
        },
        "peerAutonomousDatabases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The peer Autonomous Database names of the given Autonomous Database.",
          "readOnly": true
        },
        "database": {
          "type": "string",
          "description": "Optional. Immutable. The name of the Autonomous Database. The database name must be unique in the project. The name must begin with a letter and can contain a maximum of 30 alphanumeric characters."
        },
        "displayName": {
          "description": "Optional. Immutable. The display name for the Autonomous Database. The name does not have to be unique within your project.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. The properties of the Autonomous Database.",
          "$ref": "AutonomousDatabaseProperties"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The date and time that the Autonomous Database was created.",
          "readOnly": true,
          "type": "string"
        },
        "cidr": {
          "type": "string",
          "description": "Optional. Immutable. The subnet CIDR range for the Autonomous Database."
        }
      },
      "description": "Details of the Autonomous Database resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabase/"
    },
    "CloudVmClusterProperties": {
      "description": "Various properties and settings associated with Exadata VM cluster.",
      "properties": {
        "shape": {
          "description": "Output only. Shape of VM Cluster.",
          "readOnly": true,
          "type": "string"
        },
        "scanIpIds": {
          "type": "array",
          "description": "Output only. OCIDs of scan IPs.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "clusterName": {
          "type": "string",
          "description": "Optional. OCI Cluster name."
        },
        "scanListenerPortTcp": {
          "format": "int32",
          "description": "Optional. SCAN listener port - TCP",
          "type": "integer"
        },
        "localBackupEnabled": {
          "description": "Optional. Use local backup.",
          "type": "boolean"
        },
        "dataStorageSizeTb": {
          "type": "number",
          "format": "double",
          "description": "Optional. The data disk group size to be allocated in TBs."
        },
        "cpuCoreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Number of enabled CPU cores."
        },
        "scanListenerPortTcpSsl": {
          "type": "integer",
          "description": "Optional. SCAN listener port - TLS",
          "format": "int32"
        },
        "dbNodeStorageSizeGb": {
          "description": "Optional. Local storage per VM.",
          "format": "int32",
          "type": "integer"
        },
        "giVersion": {
          "description": "Optional. Grid Infrastructure Version.",
          "type": "string"
        },
        "ocid": {
          "description": "Output only. Oracle Cloud Infrastructure ID of VM Cluster.",
          "readOnly": true,
          "type": "string"
        },
        "hostnamePrefix": {
          "type": "string",
          "description": "Optional. Prefix for VM cluster host names."
        },
        "computeModel": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified compute model.",
            "Abstract measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers.",
            "Physical measure of compute resources. OCPUs are based on the physical core of a processor."
          ],
          "description": "Output only. The compute model of the VM Cluster.",
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "COMPUTE_MODEL_ECPU",
            "COMPUTE_MODEL_OCPU"
          ]
        },
        "storageManagementType": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage management type.",
            "Automatic Storage Management.",
            "Exascale storage management."
          ],
          "description": "Output only. The storage management type of the VM Cluster.",
          "enum": [
            "STORAGE_MANAGEMENT_TYPE_UNSPECIFIED",
            "ASM",
            "EXASCALE"
          ]
        },
        "timeZone": {
          "description": "Optional. Time zone of VM Cluster to set. Defaults to UTC if not specified.",
          "$ref": "TimeZone"
        },
        "diagnosticsDataCollectionOptions": {
          "description": "Optional. Data collection options for diagnostics.",
          "$ref": "DataCollectionOptions"
        },
        "nodeCount": {
          "type": "integer",
          "description": "Optional. Number of database servers.",
          "format": "int32"
        },
        "scanDnsRecordId": {
          "description": "Output only. OCID of scan DNS record.",
          "readOnly": true,
          "type": "string"
        },
        "dbServerOcids": {
          "items": {
            "type": "string"
          },
          "description": "Optional. OCID of database servers.",
          "type": "array"
        },
        "hostname": {
          "description": "Output only. host name without domain. format: \"-\" with some suffix. ex: sp2-yi0xq where \"sp2\" is the hostname_prefix.",
          "readOnly": true,
          "type": "string"
        },
        "dnsListenerIp": {
          "type": "string",
          "description": "Output only. DNS listener IP.",
          "readOnly": true
        },
        "memorySizeGb": {
          "type": "integer",
          "description": "Optional. Memory allocated in GBs.",
          "format": "int32"
        },
        "diskRedundancy": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High - 3 way mirror.",
            "Normal - 2 way mirror."
          ],
          "enum": [
            "DISK_REDUNDANCY_UNSPECIFIED",
            "HIGH",
            "NORMAL"
          ],
          "description": "Optional. The type of redundancy."
        },
        "storageSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The storage allocation for the disk group, in gigabytes (GB).",
          "readOnly": true
        },
        "ocpuCount": {
          "format": "float",
          "description": "Optional. OCPU count per VM. Minimum is 0.1.",
          "type": "number"
        },
        "systemVersion": {
          "description": "Optional. Operating system version of the image.",
          "type": "string"
        },
        "licenseType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "License included part of offer",
            "Bring your own license"
          ],
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "description": "Required. License type of VM Cluster."
        },
        "compartmentId": {
          "type": "string",
          "description": "Output only. Compartment ID of cluster.",
          "readOnly": true
        },
        "sparseDiskgroupEnabled": {
          "type": "boolean",
          "description": "Optional. Use exadata sparse snapshots."
        },
        "domain": {
          "type": "string",
          "description": "Output only. Parent DNS domain where SCAN DNS and hosts names are qualified. ex: ocispdelegated.ocisp10jvnet.oraclevcn.com",
          "readOnly": true
        },
        "ociUrl": {
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in maintenance in progress state."
          ],
          "description": "Output only. State of the cluster.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ]
        },
        "scanDns": {
          "description": "Output only. SCAN DNS name. ex: sp2-yi0xq-scan.ocispdelegated.ocisp10jvnet.oraclevcn.com",
          "readOnly": true,
          "type": "string"
        },
        "sshPublicKeys": {
          "description": "Optional. SSH public keys to be stored with cluster.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CloudVmClusterProperties",
      "type": "object"
    },
    "StorageSizeDetails": {
      "properties": {
        "dataStorageSizeInGbs": {
          "description": "Output only. The data storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "recoStorageSizeInGbs": {
          "description": "Output only. The RECO/REDO storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The initial storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
      "type": "object",
      "id": "StorageSizeDetails"
    },
    "AmazonS3IcebergStorage": {
      "type": "object",
      "id": "AmazonS3IcebergStorage",
      "properties": {
        "accessKeyId": {
          "description": "Required. The access key ID of Amazon S3.",
          "type": "string"
        },
        "bucket": {
          "type": "string",
          "description": "Required. The bucket of Amazon S3."
        },
        "endpoint": {
          "type": "string",
          "description": "Optional. The endpoint of Amazon S3."
        },
        "region": {
          "description": "Required. The region of Amazon S3.",
          "type": "string"
        },
        "secretAccessKeySecret": {
          "description": "Optional. The secret access key of Amazon S3.",
          "type": "string"
        },
        "schemeType": {
          "description": "Required. The scheme type of Amazon S3.",
          "type": "string",
          "enumDescriptions": [
            "Scheme type not specified.",
            "S3 scheme.",
            "S3A scheme."
          ],
          "enum": [
            "SCHEME_TYPE_UNSPECIFIED",
            "S3",
            "S3A"
          ]
        }
      },
      "description": "The Amazon S3 Iceberg storage."
    },
    "GoldengateDeploymentLock": {
      "type": "object",
      "id": "GoldengateDeploymentLock",
      "properties": {
        "message": {
          "description": "Output only. The message.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of lock.",
          "enum": [
            "LOCK_TYPE_UNSPECIFIED",
            "FULL",
            "DELETE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The lock type is unspecified.",
            "The lock type is full.",
            "The lock type is delete."
          ]
        },
        "compartmentId": {
          "type": "string",
          "description": "Output only. The compartment id.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time created.",
          "readOnly": true,
          "type": "string"
        },
        "relatedResourceId": {
          "description": "Output only. The related resource id.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The lock of the GoldengateDeployment."
    },
    "ListEntitlementsResponse": {
      "description": "The response for `Entitlement.List`.",
      "properties": {
        "entitlements": {
          "type": "array",
          "description": "The list of Entitlements",
          "items": {
            "$ref": "Entitlement"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListEntitlementsResponse",
      "type": "object"
    },
    "ExadbVmClusterProperties": {
      "properties": {
        "sshPublicKeys": {
          "type": "array",
          "description": "Required. Immutable. The SSH public keys for the ExadbVmCluster.",
          "items": {
            "type": "string"
          }
        },
        "timeZone": {
          "description": "Optional. Immutable. The time zone of the ExadbVmCluster.",
          "$ref": "TimeZone"
        },
        "hostnamePrefix": {
          "type": "string",
          "description": "Required. Immutable. Prefix for VM cluster host names."
        },
        "enabledEcpuCountPerNode": {
          "type": "integer",
          "description": "Required. Immutable. The number of ECPUs enabled per node for an exadata vm cluster on exascale infrastructure.",
          "format": "int32"
        },
        "lifecycleState": {
          "description": "Output only. State of the cluster.",
          "enum": [
            "EXADB_VM_CLUSTER_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in maintenance in progress state."
          ]
        },
        "ociUri": {
          "type": "string",
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "readOnly": true
        },
        "exascaleDbStorageVault": {
          "type": "string",
          "description": "Required. Immutable. The name of ExascaleDbStorageVault associated with the ExadbVmCluster. It can refer to an existing ExascaleDbStorageVault. Or a new one can be created during the ExadbVmCluster creation (requires storage_vault_properties to be set). Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}"
        },
        "giVersion": {
          "description": "Output only. The Oracle Grid Infrastructure (GI) software version.",
          "readOnly": true,
          "type": "string"
        },
        "gridImageId": {
          "type": "string",
          "description": "Required. Immutable. Grid Infrastructure Version."
        },
        "additionalEcpuCountPerNode": {
          "type": "integer",
          "description": "Optional. Immutable. The number of additional ECPUs per node for an Exadata VM cluster on exascale infrastructure.",
          "format": "int32"
        },
        "shapeAttribute": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in smart storage.",
            "Indicates that the resource is in block storage."
          ],
          "enum": [
            "SHAPE_ATTRIBUTE_UNSPECIFIED",
            "SMART_STORAGE",
            "BLOCK_STORAGE"
          ],
          "description": "Required. Immutable. The shape attribute of the VM cluster. The type of Exascale storage used for Exadata VM cluster. The default is SMART_STORAGE which supports Oracle Database 23ai and later"
        },
        "memorySizeGb": {
          "type": "integer",
          "description": "Output only. Memory per VM (GB) (Read-only): Shows the amount of memory allocated to each VM. Memory is calculated based on 2.75 GB per Total ECPUs.",
          "readOnly": true,
          "format": "int32"
        },
        "licenseModel": {
          "description": "Optional. Immutable. The license type of the ExadbVmCluster.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Default is license included.",
            "Bring your own license."
          ],
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ]
        },
        "scanListenerPortTcp": {
          "type": "integer",
          "description": "Optional. Immutable. SCAN listener port - TCP",
          "format": "int32"
        },
        "vmFileSystemStorage": {
          "description": "Required. Immutable. Total storage details for the ExadbVmCluster.",
          "$ref": "ExadbVmClusterStorageDetails"
        },
        "clusterName": {
          "type": "string",
          "description": "Optional. Immutable. The cluster name for Exascale vm cluster. The cluster name must begin with an alphabetic character and may contain hyphens(-) but can not contain underscores(_). It should be not more than 11 characters and is not case sensitive. OCI Cluster name."
        },
        "hostname": {
          "description": "Output only. The hostname of the ExadbVmCluster.",
          "readOnly": true,
          "type": "string"
        },
        "nodeCount": {
          "description": "Required. The number of nodes/VMs in the ExadbVmCluster.",
          "format": "int32",
          "type": "integer"
        },
        "dataCollectionOptions": {
          "description": "Optional. Immutable. Indicates user preference for data collection options.",
          "$ref": "DataCollectionOptionsCommon"
        }
      },
      "description": "The properties of an ExadbVmCluster.",
      "type": "object",
      "id": "ExadbVmClusterProperties"
    },
    "GlueIcebergCatalog": {
      "id": "GlueIcebergCatalog",
      "type": "object",
      "description": "The Glue Iceberg catalog.",
      "properties": {
        "glueId": {
          "description": "Required. The catalog ID of Glue.",
          "type": "string"
        }
      }
    },
    "DbSystemProperties": {
      "properties": {
        "domain": {
          "description": "Optional. The host domain name of the DbSystem.",
          "type": "string"
        },
        "ocid": {
          "description": "Output only. OCID of the DbSystem.",
          "readOnly": true,
          "type": "string"
        },
        "lifecycleState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource has been migrated.",
            "Indicates that the resource is in maintenance in progress state.",
            "Indicates that the resource needs attention.",
            "Indicates that the resource is upgrading."
          ],
          "description": "Output only. State of the DbSystem.",
          "enum": [
            "DB_SYSTEM_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MIGRATED",
            "MAINTENANCE_IN_PROGRESS",
            "NEEDS_ATTENTION",
            "UPGRADING"
          ]
        },
        "sshPublicKeys": {
          "description": "Required. SSH public keys to be stored with the DbSystem.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "timeZone": {
          "description": "Optional. Time zone of the DbSystem.",
          "$ref": "TimeZone"
        },
        "dbHome": {
          "description": "Optional. Details for creating a Database Home.",
          "$ref": "DbHome"
        },
        "dataStorageSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The data storage size in GB that is currently available to DbSystems."
        },
        "hostnamePrefix": {
          "description": "Optional. Prefix for DB System host names.",
          "type": "string"
        },
        "computeModel": {
          "type": "string",
          "enumDescriptions": [
            "The compute model is unspecified.",
            "The compute model is virtual.",
            "The compute model is physical."
          ],
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "ECPU",
            "OCPU"
          ],
          "description": "Optional. The compute model of the DbSystem."
        },
        "dbSystemOptions": {
          "description": "Optional. The options for the DbSystem.",
          "$ref": "DbSystemOptions"
        },
        "hostname": {
          "type": "string",
          "description": "Output only. The hostname of the DbSystem.",
          "readOnly": true
        },
        "initialDataStorageSizeGb": {
          "description": "Required. The initial data storage size in GB.",
          "format": "int32",
          "type": "integer"
        },
        "privateIp": {
          "type": "string",
          "description": "Optional. The private IP address of the DbSystem."
        },
        "shape": {
          "description": "Required. Shape of DB System.",
          "type": "string"
        },
        "computeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The number of CPU cores to enable for the DbSystem."
        },
        "nodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of nodes in the DbSystem."
        },
        "recoStorageSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The reco/redo storage size in GB."
        },
        "dataCollectionOptions": {
          "description": "Optional. Data collection options for diagnostics.",
          "$ref": "DataCollectionOptionsDbSystem"
        },
        "memorySizeGb": {
          "description": "Optional. The memory size in GB.",
          "format": "int32",
          "type": "integer"
        },
        "licenseModel": {
          "description": "Required. The license model of the DbSystem.",
          "type": "string",
          "enumDescriptions": [
            "The license model is unspecified.",
            "The license model is included.",
            "The license model is bring your own license."
          ],
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ]
        },
        "databaseEdition": {
          "type": "string",
          "enumDescriptions": [
            "The database edition is unspecified.",
            "The database edition is Standard.",
            "The database edition is Enterprise.",
            "The database edition is Enterprise Edition."
          ],
          "enum": [
            "DB_SYSTEM_DATABASE_EDITION_UNSPECIFIED",
            "STANDARD_EDITION",
            "ENTERPRISE_EDITION",
            "ENTERPRISE_EDITION_HIGH_PERFORMANCE"
          ],
          "description": "Required. The database edition of the DbSystem."
        }
      },
      "description": "The properties of a DbSystem.",
      "type": "object",
      "id": "DbSystemProperties"
    },
    "DefinedTagValue": {
      "id": "DefinedTagValue",
      "type": "object",
      "description": "Wrapper message for the value of a defined tag.",
      "properties": {
        "tags": {
          "description": "The tags within the namespace.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "ExascaleDbStorageDetails": {
      "description": "The storage details of the ExascaleDbStorageVault.",
      "properties": {
        "totalSizeGbs": {
          "format": "int32",
          "description": "Required. The total storage allocation for the ExascaleDbStorageVault, in gigabytes (GB).",
          "type": "integer"
        },
        "availableSizeGbs": {
          "description": "Output only. The available storage capacity for the ExascaleDbStorageVault, in gigabytes (GB).",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ExascaleDbStorageDetails",
      "type": "object"
    },
    "AutonomousDatabaseConnectionUrls": {
      "type": "object",
      "id": "AutonomousDatabaseConnectionUrls",
      "properties": {
        "sqlDevWebUri": {
          "type": "string",
          "description": "Output only. The URL of the Oracle SQL Developer Web for the Autonomous Database.",
          "readOnly": true
        },
        "ordsUri": {
          "type": "string",
          "description": "Output only. The Oracle REST Data Services (ORDS) URL of the Web Access for the Autonomous Database.",
          "readOnly": true
        },
        "databaseTransformsUri": {
          "description": "Output only. The URL of the Database Transforms for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "machineLearningNotebookUri": {
          "description": "Output only. The URL of the Oracle Machine Learning (OML) Notebook for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "mongoDbUri": {
          "description": "Output only. The URL of the MongoDB API for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "graphStudioUri": {
          "description": "Output only. The URL of the Graph Studio for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "machineLearningUserManagementUri": {
          "type": "string",
          "description": "Output only. The URL of Machine Learning user management the Autonomous Database.",
          "readOnly": true
        },
        "apexUri": {
          "type": "string",
          "description": "Output only. Oracle Application Express (APEX) URL.",
          "readOnly": true
        }
      },
      "description": "The URLs for accessing Oracle Application Express (APEX) and SQL Developer Web with a browser from a Compute instance. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseConnectionUrls"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "percentComplete": {
          "description": "Output only. An estimated percentage of the operation that has been completed at a given moment of time, between 0 and 100.",
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. The status of the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoldengateMysqlConnectionProperties": {
      "description": "Properties of GoldengateMysqlConnection.",
      "properties": {
        "sslKeyFile": {
          "type": "string",
          "description": "Optional. Client Key - The base64 encoded content of a .pem or .crt file containing the client private key (for 2-way SSL)."
        },
        "additionalAttributes": {
          "type": "array",
          "items": {
            "$ref": "NameValuePair"
          },
          "description": "Optional. An array of name-value pair attribute entries. Used as additional parameters in connection string."
        },
        "database": {
          "type": "string",
          "description": "Optional. The name of the database."
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "description": "Optional. The port of an endpoint usually specified for a connection.",
          "type": "integer"
        },
        "dbSystemId": {
          "description": "Optional. The OCID of the database system being referenced.",
          "type": "string"
        },
        "sslCertFile": {
          "type": "string",
          "description": "Optional. Client Certificate - The base64 encoded content of a .pem or .crt file containing the client public key (for 2-way SSL)."
        },
        "sslMode": {
          "description": "Optional. SSL modes for MySQL.",
          "type": "string",
          "enumDescriptions": [
            "SSL mode not specified.",
            "SSL is disabled.",
            "SSL is preferred.",
            "SSL is required.",
            "SSL is required and certificate is verified.",
            "SSL is required and certificate and hostname are verified."
          ],
          "enum": [
            "SSL_MODE_UNSPECIFIED",
            "DISABLED",
            "PREFERRED",
            "REQUIRED",
            "VERIFY_CA",
            "VERIFY_IDENTITY"
          ]
        },
        "sslCrlFile": {
          "description": "Optional. The base64 encoded list of certificates revoked by the trusted certificate authorities (Trusted CA).",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "Optional. The name or address of a host."
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses to connect to MySQL. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "securityProtocol": {
          "description": "Optional. Security Type for MySQL.",
          "type": "string",
          "enumDescriptions": [
            "Security type not specified.",
            "Plain text communication.",
            "Transport Layer Security.",
            "Mutual Transport Layer Security."
          ],
          "enum": [
            "MYSQL_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS",
            "MTLS"
          ]
        },
        "sslCaFile": {
          "description": "Optional. Database Certificate - The base64 encoded content of a .pem or .crt file containing the server public key (for 1 and 2-way SSL).",
          "type": "string"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of MysqlConnection."
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses to connect to MySQL in plain text.",
          "type": "string"
        }
      },
      "id": "GoldengateMysqlConnectionProperties",
      "type": "object"
    },
[...]
