{
  "mtlsRootUrl": "https://oracledatabase.mtls.googleapis.com/",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/oracle/database/docs",
  "name": "oracledatabase",
  "protocol": "rest",
  "version_module": true,
  "basePath": "",
  "description": "The Oracle Database@Google Cloud API provides a set of APIs to manage Oracle database services, such as Exadata and Autonomous Databases.",
  "title": "Oracle Database@Google Cloud API",
  "fullyEncodeReservedExpansion": true,
  "id": "oracledatabase:v1",
  "ownerName": "Google",
  "rootUrl": "https://oracledatabase.googleapis.com/",
  "version": "v1",
  "schemas": {
    "DataCollectionOptionsCommon": {
      "type": "object",
      "description": "Data collection options for diagnostics. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/DataCollectionOptions",
      "properties": {
        "isIncidentLogsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether to enable incident logs and trace collection."
        },
        "isDiagnosticsEventsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether to enable data collection for diagnostics."
        },
        "isHealthMonitoringEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether to enable health monitoring."
        }
      },
      "id": "DataCollectionOptionsCommon"
    },
    "GoldengateMaintenanceConfig": {
      "id": "GoldengateMaintenanceConfig",
      "description": "The maintenance configuration of the GoldengateDeployment.",
      "properties": {
        "bundleReleaseUpgradePeriodDays": {
          "type": "integer",
          "description": "Optional. Defines auto upgrade period for bundle releases. Manually configured period cannot be longer than service defined period for bundle releases. This period must be shorter or equal to major release upgrade period. Not passing this field during create will equate to using the service default.",
          "format": "int32"
        },
        "securityPatchUpgradePeriodDays": {
          "description": "Optional. Defines auto upgrade period for releases with security fix. Manually configured period cannot be longer than service defined period for security releases. Not passing this field during create will equate to using the service default.",
          "type": "integer",
          "format": "int32"
        },
        "isInterimReleaseAutoUpgradeEnabled": {
          "description": "Optional. By default auto upgrade for interim releases are not enabled. If auto-upgrade is enabled for interim release, you have to specify interim_release_upgrade_period_days too.",
          "type": "boolean"
        },
        "interimReleaseUpgradePeriodDays": {
          "type": "integer",
          "description": "Optional. Defines auto upgrade period for interim releases. This period must be shorter or equal to bundle release upgrade period.",
          "format": "int32"
        },
        "majorReleaseUpgradePeriodDays": {
          "description": "Optional. Defines auto upgrade period for major releases. Manually configured period cannot be longer than service defined period for major releases. Not passing this field during create will equate to using the service default.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "StorageSizeDetails": {
      "id": "StorageSizeDetails",
      "type": "object",
      "description": "The initial storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
      "properties": {
        "dataStorageSizeInGbs": {
          "description": "Output only. The data storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "recoStorageSizeInGbs": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The RECO/REDO storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
          "type": "integer"
        }
      }
    },
    "MaintenanceWindow": {
      "description": "Maintenance window as defined by Oracle. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/MaintenanceWindow",
      "type": "object",
      "id": "MaintenanceWindow",
      "properties": {
        "preference": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Custom preference.",
            "No preference."
          ],
          "enum": [
            "MAINTENANCE_WINDOW_PREFERENCE_UNSPECIFIED",
            "CUSTOM_PREFERENCE",
            "NO_PREFERENCE"
          ],
          "description": "Optional. The maintenance window scheduling preference.",
          "type": "string"
        },
        "customActionTimeoutMins": {
          "description": "Optional. Determines the amount of time the system will wait before the start of each database server patching operation. Custom action timeout is in minutes and valid value is between 15 to 120 (inclusive).",
          "type": "integer",
          "format": "int32"
        },
        "patchingMode": {
          "type": "string",
          "description": "Optional. Cloud CloudExadataInfrastructure node patching method, either \"ROLLING\" or \"NONROLLING\". Default value is ROLLING.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Updates the Cloud Exadata database server hosts in a rolling fashion.",
            "The non-rolling maintenance method first updates your storage servers at the same time, then your database servers at the same time."
          ],
          "enum": [
            "PATCHING_MODE_UNSPECIFIED",
            "ROLLING",
            "NON_ROLLING"
          ]
        },
        "daysOfWeek": {
          "description": "Optional. Days during the week when maintenance should be performed.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "type": "string",
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          }
        },
        "hoursOfDay": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Optional. The window of hours during the day when maintenance should be performed. The window is a 4 hour slot. Valid values are: 0 - represents time slot 0:00 - 3:59 UTC 4 - represents time slot 4:00 - 7:59 UTC 8 - represents time slot 8:00 - 11:59 UTC 12 - represents time slot 12:00 - 15:59 UTC 16 - represents time slot 16:00 - 19:59 UTC 20 - represents time slot 20:00 - 23:59 UTC"
        },
        "leadTimeWeek": {
          "format": "int32",
          "description": "Optional. Lead time window allows user to set a lead time to prepare for a down time. The lead time is in weeks and valid value is between 1 to 4.",
          "type": "integer"
        },
        "months": {
          "items": {
            "enum": [
              "MONTH_UNSPECIFIED",
              "JANUARY",
              "FEBRUARY",
              "MARCH",
              "APRIL",
              "MAY",
              "JUNE",
              "JULY",
              "AUGUST",
              "SEPTEMBER",
              "OCTOBER",
              "NOVEMBER",
              "DECEMBER"
            ],
            "type": "string",
            "enumDescriptions": [
              "The unspecified month.",
              "The month of January.",
              "The month of February.",
              "The month of March.",
              "The month of April.",
              "The month of May.",
              "The month of June.",
              "The month of July.",
              "The month of August.",
              "The month of September.",
              "The month of October.",
              "The month of November.",
              "The month of December."
            ]
          },
          "type": "array",
          "description": "Optional. Months during the year when maintenance should be performed."
        },
        "isCustomActionTimeoutEnabled": {
          "type": "boolean",
          "description": "Optional. If true, enables the configuration of a custom action timeout (waiting period) between database server patching operations."
        },
        "weeksOfMonth": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Optional. Weeks during the month when maintenance should be performed. Weeks start on the 1st, 8th, 15th, and 22nd days of the month, and have a duration of 7 days. Weeks start and end based on calendar dates, not days of the week."
        }
      }
    },
    "TestGoldengateConnectionAssignmentRequest": {
      "type": "object",
      "id": "TestGoldengateConnectionAssignmentRequest",
      "properties": {
        "type": {
          "enum": [
            "TEST_TYPE_UNSPECIFIED",
            "DEFAULT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is unused.",
            "The default connection test."
          ],
          "description": "Optional. The type of the test of the assigned connection. The only type actually supported is DEFAULT."
        }
      },
      "description": "Request message for TestGoldengateConnectionAssignment."
    },
    "GoldengateMysqlConnectionProperties": {
      "type": "object",
      "properties": {
        "securityProtocol": {
          "description": "Optional. Security Type for MySQL.",
          "type": "string",
          "enumDescriptions": [
            "Security type not specified.",
            "Plain text communication.",
            "Transport Layer Security.",
            "Mutual Transport Layer Security."
          ],
          "enum": [
            "MYSQL_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS",
            "MTLS"
          ]
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password Oracle Goldengate uses to connect to MySQL in plain text."
        },
        "sslMode": {
          "enum": [
            "SSL_MODE_UNSPECIFIED",
            "DISABLED",
            "PREFERRED",
            "REQUIRED",
            "VERIFY_CA",
            "VERIFY_IDENTITY"
          ],
          "enumDescriptions": [
            "SSL mode not specified.",
            "SSL is disabled.",
            "SSL is preferred.",
            "SSL is required.",
            "SSL is required and certificate is verified.",
            "SSL is required and certificate and hostname are verified."
          ],
          "description": "Optional. SSL modes for MySQL.",
          "type": "string"
        },
        "port": {
          "description": "Optional. The port of an endpoint usually specified for a connection.",
          "type": "integer",
          "format": "int32"
        },
        "sslCrlFile": {
          "description": "Optional. The base64 encoded list of certificates revoked by the trusted certificate authorities (Trusted CA).",
          "type": "string"
        },
        "host": {
          "description": "Optional. The name or address of a host.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of MysqlConnection.",
          "type": "string"
        },
        "dbSystemId": {
          "type": "string",
          "description": "Optional. The OCID of the database system being referenced."
        },
        "sslCaFile": {
          "type": "string",
          "description": "Optional. Database Certificate - The base64 encoded content of a .pem or .crt file containing the server public key (for 1 and 2-way SSL)."
        },
        "sslKeyFile": {
          "description": "Optional. Client Key - The base64 encoded content of a .pem or .crt file containing the client private key (for 2-way SSL).",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses to connect to MySQL. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "sslCertFile": {
          "type": "string",
          "description": "Optional. Client Certificate - The base64 encoded content of a .pem or .crt file containing the client public key (for 2-way SSL)."
        },
        "additionalAttributes": {
          "description": "Optional. An array of name-value pair attribute entries. Used as additional parameters in connection string.",
          "type": "array",
          "items": {
            "$ref": "NameValuePair"
          }
        },
        "username": {
          "type": "string",
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology."
        },
        "database": {
          "type": "string",
          "description": "Optional. The name of the database."
        }
      },
      "id": "GoldengateMysqlConnectionProperties",
      "description": "Properties of GoldengateMysqlConnection."
    },
    "OdbNetwork": {
      "type": "object",
      "id": "OdbNetwork",
      "description": "Represents OdbNetwork resource.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels or tags associated with the resource."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The date and time that the OdbNetwork was created.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in failed state."
          ],
          "description": "Output only. State of the ODB Network.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "TERMINATING",
            "FAILED"
          ]
        },
        "name": {
          "description": "Identifier. The name of the OdbNetwork resource in the following format: projects/{project}/locations/{region}/odbNetworks/{odb_network}",
          "type": "string"
        },
        "entitlementId": {
          "description": "Output only. The ID of the subscription entitlement associated with the OdbNetwork.",
          "type": "string",
          "readOnly": true
        },
        "network": {
          "type": "string",
          "description": "Required. The name of the VPC network in the following format: projects/{project}/global/networks/{network}"
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where OdbNetwork is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        }
      }
    },
    "DbServer": {
      "id": "DbServer",
      "description": "Details of the database server resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbServer/",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "DbServerProperties",
          "description": "Optional. Various properties of the database server."
        },
        "displayName": {
          "description": "Optional. User friendly name for this resource.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the database server resource with the format: projects/{project}/locations/{location}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}/dbServers/{db_server}"
        }
      }
    },
    "GoldengateOracleConnectionProperties": {
      "properties": {
        "authenticationMode": {
          "type": "string",
          "enumDescriptions": [
            "Authentication mode not specified.",
            "TLS authentication mode.",
            "MTLS authentication mode."
          ],
          "description": "Optional. Authentication mode.",
          "enum": [
            "ORACLE_AUTHENTICATION_MODE_UNSPECIFIED",
            "TLS",
            "MTLS"
          ]
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses in plain text.",
          "type": "string"
        },
        "sessionMode": {
          "type": "string",
          "description": "Optional. The mode of the database connection session to be established by the data client.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is using direct session mode.",
            "Indicates that the resource is using redirect session mode."
          ],
          "enum": [
            "SESSION_MODE_UNSPECIFIED",
            "DIRECT",
            "REDIRECT"
          ]
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type."
        },
        "username": {
          "type": "string",
          "description": "Optional. The username Oracle Goldengate uses to connect."
        },
        "gcpOracleDatabaseId": {
          "description": "Optional. Autonomous AI Database instance id of database in Oracle Database @ Google Cloud. If gcp_oracle_database_id is provided, connection_string must be empty. Format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}",
          "type": "string"
        },
        "connectionString": {
          "type": "string",
          "description": "Optional. Connect descriptor or Easy Connect Naming method used to connect to a database."
        },
        "walletFile": {
          "description": "Optional. The wallet contents Oracle Goldengate uses to make connections to a database. This attribute is expected to be base64 encoded.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The properties of Goldengate Oracle Database Connection.",
      "id": "GoldengateOracleConnectionProperties"
    },
    "DeploymentDiagnosticData": {
      "type": "object",
      "id": "DeploymentDiagnosticData",
      "description": "The deployment diagnostic data.",
      "properties": {
        "diagnosticStartTime": {
          "readOnly": true,
          "description": "Output only. The time diagnostic start.",
          "format": "google-datetime",
          "type": "string"
        },
        "namespace": {
          "readOnly": true,
          "description": "Output only. The namespace name.",
          "type": "string"
        },
        "bucket": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The bucket name."
        },
        "object": {
          "type": "string",
          "description": "Output only. The object name.",
          "readOnly": true
        },
        "diagnosticState": {
          "readOnly": true,
          "description": "Output only. The diagnostic state.",
          "enumDescriptions": [
            "The diagnostic state is unspecified.",
            "The diagnostic is in progress.",
            "The diagnostic completed successfully.",
            "The diagnostic failed."
          ],
          "enum": [
            "DIAGNOSTIC_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string"
        },
        "diagnosticEndTime": {
          "readOnly": true,
          "description": "Output only. The time diagnostic end.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListCloudVmClustersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to fetch the next page of results.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "items": {
            "type": "string"
          }
        },
        "cloudVmClusters": {
          "items": {
            "$ref": "CloudVmCluster"
          },
          "type": "array",
          "description": "The list of VM Clusters."
        }
      },
      "description": "The response for `CloudVmCluster.List`.",
      "id": "ListCloudVmClustersResponse",
      "type": "object"
    },
    "PluggableDatabaseConnectionStrings": {
      "type": "object",
      "id": "PluggableDatabaseConnectionStrings",
      "description": "The connection strings used to connect to the Oracle Database.",
      "properties": {
        "pdbDefault": {
          "type": "string",
          "description": "Optional. The default connection string to use to connect to the pluggable database."
        },
        "allConnectionStrings": {
          "type": "object",
          "description": "Optional. All connection strings to use to connect to the pluggable database.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pdbIpDefault": {
          "description": "Optional. The default connection string to use to connect to the pluggable database using IP.",
          "type": "string"
        }
      }
    },
    "GoldengateAmazonRedshiftConnectionProperties": {
      "properties": {
        "technologyType": {
          "description": "Optional. The technology type of AmazonRedshiftConnection.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses for Amazon Redshift connection in plain text.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology.",
          "type": "string"
        },
        "connectionUrl": {
          "description": "Optional. Connection URL. e.g.: 'jdbc:redshift://aws-redshift-instance.aaaaaaaaaaaa.us-east-2.redshift.amazonaws.com:5439/mydb'",
          "type": "string"
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Amazon Redshift connection. Format: projects/{project}/secrets/{secret}/versions/{version}."
        }
      },
      "description": "The properties of GoldengateAmazonRedshiftConnection.",
      "type": "object",
      "id": "GoldengateAmazonRedshiftConnectionProperties"
    },
    "GoldengateDeploymentLock": {
      "description": "The lock of the GoldengateDeployment.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. The type of lock.",
          "enumDescriptions": [
            "The lock type is unspecified.",
            "The lock type is full.",
            "The lock type is delete."
          ],
          "readOnly": true,
          "enum": [
            "LOCK_TYPE_UNSPECIFIED",
            "FULL",
            "DELETE"
          ],
          "type": "string"
        },
        "message": {
          "description": "Output only. The message.",
          "readOnly": true,
          "type": "string"
        },
        "relatedResourceId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The related resource id."
        },
        "compartmentId": {
          "type": "string",
          "description": "Output only. The compartment id.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time created."
        }
      },
      "id": "GoldengateDeploymentLock"
    },
    "ListGoldengateDeploymentVersionsResponse": {
      "id": "ListGoldengateDeploymentVersionsResponse",
      "type": "object",
      "properties": {
        "goldengateDeploymentVersions": {
          "description": "The list of GoldengateDeploymentVersion",
          "type": "array",
          "items": {
            "$ref": "GoldengateDeploymentVersion"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Message for response to listing GoldengateDeploymentVersions"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "GoldengateAzureDataLakeStorageConnectionProperties": {
      "type": "object",
      "properties": {
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of AzureDataLakeStorageConnection."
        },
        "accountKeySecret": {
          "type": "string",
          "description": "Optional. Azure storage account key. This property is required when 'authentication_type' is set to 'SHARED_KEY'."
        },
        "authenticationType": {
          "enumDescriptions": [
            "Authentication type not specified.",
            "Shared key authentication.",
            "Shared access signature authentication.",
            "Azure active directory authentication."
          ],
          "enum": [
            "AUTHENTICATION_TYPE_UNSPECIFIED",
            "SHARED_KEY",
            "SHARED_ACCESS_SIGNATURE",
            "AZURE_ACTIVE_DIRECTORY"
          ],
          "description": "Optional. Authentication mechanism to access Azure Data Lake Storage.",
          "type": "string"
        },
        "sasTokenSecret": {
          "description": "Optional. Credential that uses a shared access signature (SAS) to authenticate to an Azure Service.",
          "type": "string"
        },
        "clientSecret": {
          "type": "string",
          "description": "Optional. Azure client secret (aka application password) for authentication."
        },
        "account": {
          "type": "string",
          "description": "Optional. Sets the Azure storage account name."
        },
        "clientId": {
          "description": "Optional. Azure client ID of the application. This property is required when 'authentication_type' is set to 'AZURE_ACTIVE_DIRECTORY'.",
          "type": "string"
        },
        "azureAuthorityHost": {
          "description": "Optional. The endpoint used for authentication with Microsoft Entra ID (formerly Azure Active Directory). Default value: https://login.microsoftonline.com",
          "type": "string"
        },
        "endpoint": {
          "description": "Optional. Azure Storage service endpoint. e.g: https://test.blob.core.windows.net",
          "type": "string"
        },
        "azureTenantId": {
          "type": "string",
          "description": "Optional. Azure tenant ID of the application. This property is required when 'authentication_type' is set to 'AZURE_ACTIVE_DIRECTORY'."
        }
      },
      "id": "GoldengateAzureDataLakeStorageConnectionProperties",
      "description": "The properties of GoldengateAzureDataLakeStorageConnection."
    },
    "GoldengatePlacement": {
      "type": "object",
      "properties": {
        "availabilityDomain": {
          "description": "Output only. The availability domain.",
          "readOnly": true,
          "type": "string"
        },
        "faultDomain": {
          "description": "Output only. The fault domain.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The placement of the GoldengateDeployment.",
      "id": "GoldengatePlacement"
    },
    "CloudVmCluster": {
      "type": "object",
      "description": "Details of the Cloud VM Cluster resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/CloudVmCluster/",
      "id": "CloudVmCluster",
      "properties": {
        "properties": {
          "description": "Optional. Various properties of the VM Cluster.",
          "$ref": "CloudVmClusterProperties"
        },
        "cidr": {
          "type": "string",
          "description": "Optional. Network settings. CIDR to use for cluster IP allocation."
        },
        "backupOdbSubnet": {
          "type": "string",
          "description": "Optional. The name of the backup OdbSubnet associated with the VM Cluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "network": {
          "description": "Optional. The name of the VPC network. Format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the VM Cluster resource with the format: projects/{project}/locations/{region}/cloudVmClusters/{cloud_vm_cluster}",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The date and time that the VM cluster was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "odbSubnet": {
          "description": "Optional. The name of the OdbSubnet associated with the VM Cluster for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "exadataInfrastructure": {
          "description": "Required. The name of the Exadata Infrastructure resource on which VM cluster resource is created, in the following format: projects/{project}/locations/{region}/cloudExadataInfrastuctures/{cloud_extradata_infrastructure}",
          "type": "string"
        },
        "exascaleDbStorageVault": {
          "description": "Optional. The name of ExascaleDbStorageVault associated with the VM Cluster. Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels or tags associated with the VM Cluster.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identityConnector": {
          "description": "Output only. The identity connector details which will allow OCI to securely access the resources in the customer project.",
          "$ref": "IdentityConnector",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. User friendly name for this resource.",
          "type": "string"
        },
        "gcpOracleZone": {
          "type": "string",
          "description": "Output only. The GCP Oracle zone where Oracle CloudVmCluster is hosted. This will be the same as the gcp_oracle_zone of the CloudExadataInfrastructure. Example: us-east4-b-r2.",
          "readOnly": true
        },
        "odbNetwork": {
          "description": "Optional. The name of the OdbNetwork associated with the VM Cluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the odb_subnet and backup_odb_subnet.",
          "type": "string"
        },
        "backupSubnetCidr": {
          "description": "Optional. CIDR range of the backup subnet.",
          "type": "string"
        }
      }
    },
    "AllConnectionStrings": {
      "id": "AllConnectionStrings",
      "description": "A list of all connection strings that can be used to connect to the Autonomous Database.",
      "properties": {
        "high": {
          "type": "string",
          "description": "Output only. The database service provides the highest level of resources to each SQL statement.",
          "readOnly": true
        },
        "low": {
          "description": "Output only. The database service provides the least level of resources to each SQL statement.",
          "readOnly": true,
          "type": "string"
        },
        "medium": {
          "readOnly": true,
          "description": "Output only. The database service provides a lower level of resources to each SQL statement.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MinorVersion": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the MinorVersion resource with the format: projects/{project}/locations/{region}/giVersions/{gi_version}/minorVersions/{minor_version}"
        },
        "gridImageId": {
          "description": "Optional. The ID of the Grid Image.",
          "type": "string"
        },
        "version": {
          "description": "Optional. The valid Oracle grid infrastructure software version.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MinorVersion",
      "description": "MinorVersion represents a minor version of a GI. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/GiMinorVersionSummary/"
    },
    "RestoreAutonomousDatabaseRequest": {
      "description": "The request for `AutonomousDatabase.Restore`.",
      "id": "RestoreAutonomousDatabaseRequest",
      "properties": {
        "restoreTime": {
          "description": "Required. The time and date to restore the database to.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoldengateHdfsConnectionProperties": {
      "id": "GoldengateHdfsConnectionProperties",
      "properties": {
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of HdfsConnection."
        },
        "coreSiteXml": {
          "type": "string",
          "description": "Optional. The content of the Hadoop Distributed File System configuration file (core-site.xml)."
        }
      },
      "type": "object",
      "description": "The properties of GoldengateHdfsConnection."
    },
    "GoldengateGroupToRolesMapping": {
      "description": "The group to roles mapping of the GoldengateDeployment.",
      "id": "GoldengateGroupToRolesMapping",
      "properties": {
        "userGroupId": {
          "description": "Output only. The user group id.",
          "type": "string",
          "readOnly": true
        },
        "securityGroupId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The security group id."
        },
        "operatorGroupId": {
          "readOnly": true,
          "description": "Output only. The operator group id.",
          "type": "string"
        },
        "administratorGroupId": {
          "description": "Output only. The administrator group id.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "DatabaseManagementConfig": {
      "description": "The configuration of the Database Management service.",
      "properties": {
        "managementType": {
          "readOnly": true,
          "enumDescriptions": [
            "The type is not specified.",
            "Basic Database Management.",
            "Advanced Database Management."
          ],
          "type": "string",
          "description": "Output only. The Database Management type.",
          "enum": [
            "MANAGEMENT_TYPE_UNSPECIFIED",
            "BASIC",
            "ADVANCED"
          ]
        },
        "managementState": {
          "description": "Output only. The status of the Database Management service.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "DISABLED",
            "UPDATING",
            "FAILED_ENABLING",
            "FAILED_DISABLING",
            "FAILED_UPDATING"
          ],
          "enumDescriptions": [
            "The status is not specified.",
            "The Database Management service is enabling.",
            "The Database Management service is enabled.",
            "The Database Management service is disabling.",
            "The Database Management service is disabled.",
            "The Database Management service is updating.",
            "The Database Management service failed to enable.",
            "The Database Management service failed to disable.",
            "The Database Management service failed to update."
          ]
        }
      },
      "type": "object",
      "id": "DatabaseManagementConfig"
    },
    "AutonomousDatabase": {
      "description": "Details of the Autonomous Database resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabase/",
      "properties": {
        "network": {
          "type": "string",
          "description": "Optional. Immutable. The name of the VPC network used by the Autonomous Database in the following format: projects/{project}/global/networks/{network}"
        },
        "adminPassword": {
          "type": "string",
          "description": "Optional. Immutable. The password for the default ADMIN user. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated."
        },
        "cidr": {
          "description": "Optional. Immutable. The subnet CIDR range for the Autonomous Database.",
          "type": "string"
        },
        "database": {
          "type": "string",
          "description": "Optional. Immutable. The name of the Autonomous Database. The database name must be unique in the project. The name must begin with a letter and can contain a maximum of 30 alphanumeric characters."
        },
        "peerAutonomousDatabases": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The peer Autonomous Database names of the given Autonomous Database."
        },
        "entitlementId": {
          "description": "Output only. The ID of the subscription entitlement associated with the Autonomous Database.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Autonomous Database resource in the following format: projects/{project}/locations/{region}/autonomousDatabases/{autonomous_database}"
        },
        "odbNetwork": {
          "description": "Optional. Immutable. The name of the OdbNetwork associated with the Autonomous Database. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Immutable. The display name for the Autonomous Database. The name does not have to be unique within your project."
        },
        "adminPasswordSecretVersion": {
          "type": "string",
          "description": "Optional. Immutable. The resource name of a secret version in Secret Manager which contains the database admin user's password. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated."
        },
        "createTime": {
          "description": "Output only. The date and time that the Autonomous Database was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "odbSubnet": {
          "description": "Optional. Immutable. The name of the OdbSubnet associated with the Autonomous Database. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "sourceConfig": {
          "$ref": "SourceConfig",
          "description": "Optional. Immutable. The source Autonomous Database configuration for the standby Autonomous Database. The source Autonomous Database is configured while creating the Peer Autonomous Database and can't be updated after creation."
        },
        "disasterRecoverySupportedLocations": {
          "description": "Output only. List of supported GCP region to clone the Autonomous Database for disaster recovery. Format: `project/{project}/locations/{location}`.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels or tags associated with the Autonomous Database."
        },
        "properties": {
          "description": "Optional. The properties of the Autonomous Database.",
          "$ref": "AutonomousDatabaseProperties"
        }
      },
      "id": "AutonomousDatabase",
      "type": "object"
    },
    "GoldengateOggDeployment": {
      "properties": {
        "passwordSecretId": {
          "description": "Output only. The password secret id of the GoldengateDeployment.",
          "type": "string",
          "readOnly": true
        },
        "credentialStore": {
          "type": "string",
          "description": "Output only. The credential store of the GoldengateDeployment.",
          "enumDescriptions": [
            "The credential store is unspecified.",
            "The credential store is Goldengate.",
            "The credential store is IAM."
          ],
          "enum": [
            "CREDENTIAL_STORE_UNSPECIFIED",
            "GOLDENGATE",
            "IAM"
          ],
          "readOnly": true
        },
        "adminPasswordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The Goldengate deployment console password secret version."
        },
        "adminUsername": {
          "type": "string",
          "description": "Required. The Goldengate deployment console username."
        },
        "certificate": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The certificate of the GoldengateDeployment."
        },
        "groupRolesMapping": {
          "description": "Output only. The group to roles mapping of the GoldengateDeployment.",
          "$ref": "GoldengateGroupToRolesMapping",
          "readOnly": true
        },
        "deployment": {
          "type": "string",
          "description": "Required. The name given to the Goldengate service deployment. The name must be 1 to 32 characters long, must contain only alphanumeric characters and must start with a letter."
        },
        "identityDomainId": {
          "type": "string",
          "description": "Output only. The identity domain id of the GoldengateDeployment.",
          "readOnly": true
        },
        "oggVersion": {
          "type": "string",
          "description": "Optional. Version of OGG"
        },
        "adminPassword": {
          "type": "string",
          "description": "Optional. The Goldengate deployment console password in plain text."
        }
      },
      "description": "The Ogg data of the GoldengateDeployment.",
      "id": "GoldengateOggDeployment",
      "type": "object"
    },
    "GoldengateDeploymentProperties": {
      "description": "Properties of GoldengateDeployment.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the GoldengateDeployment was updated."
        },
        "isPublic": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the GoldengateDeployment is public."
        },
        "isLatestVersion": {
          "description": "Output only. Whether the GoldengateDeployment is of the latest version.",
          "type": "boolean",
          "readOnly": true
        },
        "upgradeRequiredTime": {
          "description": "Output only. The time upgrade required of the GoldengateDeployment.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "placements": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoldengatePlacement"
          },
          "description": "Output only. The placements of the GoldengateDeployment."
        },
        "description": {
          "description": "Optional. The description of the GoldengateDeployment.",
          "type": "string"
        },
        "loadBalancerId": {
          "description": "Output only. The load balancer id of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "roleChangeTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the role of the GoldengateDeployment was changed.",
          "type": "string"
        },
        "storageUtilizationBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The storage utilization in bytes of the GoldengateDeployment."
        },
        "privateIpAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The private ip address of the GoldengateDeployment."
        },
        "deploymentBackupId": {
          "type": "string",
          "description": "Output only. The deployment backup id of the GoldengateDeployment.",
          "readOnly": true
        },
        "maintenanceWindow": {
          "$ref": "GoldengateMaintenanceWindow",
          "description": "Optional. The maintenance window of the GoldengateDeployment."
        },
        "lastBackupScheduleTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time last backup scheduled of the GoldengateDeployment.",
          "format": "google-datetime"
        },
        "deploymentUrl": {
          "readOnly": true,
          "description": "Output only. The deployment url of the GoldengateDeployment.",
          "type": "string"
        },
        "oggVersionSupportEndTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time ogg version supported until of the GoldengateDeployment.",
          "readOnly": true
        },
        "deploymentType": {
          "description": "Required. A valid Goldengate Deployment type. For a list of supported types, use the `ListGoldengateDeploymentTypes` operation.",
          "type": "string"
        },
        "oggData": {
          "$ref": "GoldengateOggDeployment",
          "description": "Required. The ogg data of the GoldengateDeployment."
        },
        "nextMaintenanceTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time of next maintenance of the GoldengateDeployment.",
          "readOnly": true
        },
        "licenseModel": {
          "enumDescriptions": [
            "The license model is unspecified.",
            "The license model is included.",
            "The license model is bring your own license."
          ],
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "type": "string",
          "description": "Optional. The Oracle license model that applies to a Deployment."
        },
        "loadBalancerSubnetId": {
          "readOnly": true,
          "description": "Output only. The load balancer subnet id of the GoldengateDeployment.",
          "type": "string"
        },
        "isAutoScalingEnabled": {
          "description": "Optional. Indicates if auto scaling is enabled for the Deployment's CPU core count.",
          "type": "boolean"
        },
        "cpuCoreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The Minimum number of OCPUs to be made available for this Deployment."
        },
        "healthy": {
          "description": "Output only. Whether the GoldengateDeployment is healthy.",
          "readOnly": true,
          "type": "boolean"
        },
        "lifecycleDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The lifecycle details of the GoldengateDeployment."
        },
        "ocid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. OCID of the GoldengateDeployment."
        },
        "backupSchedule": {
          "$ref": "GoldengateBackupSchedule",
          "readOnly": true,
          "description": "Output only. The backup schedule of the GoldengateDeployment."
        },
        "nextBackupScheduleTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time next backup scheduled of the GoldengateDeployment.",
          "readOnly": true
        },
        "deploymentRole": {
          "enum": [
            "GOLDENGATE_DEPLOYMENT_ROLE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "STANDBY"
          ],
          "description": "Output only. The deployment role of the GoldengateDeployment.",
          "readOnly": true,
          "enumDescriptions": [
            "The deployment role type is unspecified.",
            "The deployment role type is primary.",
            "The deployment role type is standby."
          ],
          "type": "string"
        },
        "isStorageUtilizationLimitExceeded": {
          "description": "Output only. Whether storage utilization limit is exceeded of the GoldengateDeployment.",
          "type": "boolean",
          "readOnly": true
        },
        "category": {
          "enum": [
            "GOLDENGATE_DEPLOYMENT_CATEGORY_UNSPECIFIED",
            "DATA_REPLICATION",
            "DATA_TRANSFORMS"
          ],
          "enumDescriptions": [
            "The category is unspecified.",
            "The deployment is data replication.",
            "The deployment is data transforms."
          ],
          "description": "Output only. The category of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "maintenanceConfig": {
          "$ref": "GoldengateMaintenanceConfig",
          "description": "Optional. The maintenance configuration of the GoldengateDeployment."
        },
        "nextMaintenanceDescription": {
          "readOnly": true,
          "description": "Output only. The next maintenance description of the GoldengateDeployment.",
          "type": "string"
        },
        "publicIpAddress": {
          "description": "Output only. The public ip address of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "fqdn": {
          "description": "Output only. The Fully Qualified Domain Name of the GoldengateDeployment.",
          "type": "string",
          "readOnly": true
        },
        "nextMaintenanceActionType": {
          "type": "string",
          "description": "Output only. The next maintenance action type of the GoldengateDeployment.",
          "readOnly": true,
          "enum": [
            "NEXT_MAINTENANCE_ACTION_TYPE_UNSPECIFIED",
            "UPGRADE"
          ],
          "enumDescriptions": [
            "The next maintenance action type is unspecified.",
            "The next maintenance action type is upgrade."
          ]
        },
        "ingressIps": {
          "items": {
            "$ref": "IngressIp"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The ingress ips of the GoldengateDeployment."
        },
        "locks": {
          "description": "Output only. The locks of the GoldengateDeployment.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoldengateDeploymentLock"
          }
        },
        "lifecycleState": {
          "description": "Output only. State of the GoldengateDeployment.",
          "enum": [
            "GOLDENGATE_DEPLOYMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "DELETED",
            "FAILED",
            "NEEDS_ATTENTION",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "WAITING"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "The deployment is being created.",
            "The deployment is being updated.",
            "The deployment is active.",
            "The deployment is inactive.",
            "The deployment is being deleted.",
            "The deployment is deleted.",
            "The deployment failed.",
            "The deployment needs attention.",
            "The deployment is in progress.",
            "The deployment is canceling.",
            "The deployment is canceled.",
            "The deployment succeeded.",
            "The deployment is waiting."
          ],
          "readOnly": true,
          "type": "string"
        },
        "lifecycleSubState": {
          "description": "Output only. The lifecycle sub-state of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "GOLDENGATE_DEPLOYMENT_LIFECYCLE_SUB_STATE_UNSPECIFIED",
            "RECOVERING",
            "STARTING",
            "STOPPING",
            "MOVING",
            "UPGRADING",
            "RESTORING",
            "BACKING_UP",
            "ROLLING_BACK"
          ],
          "enumDescriptions": [
            "The lifecycle sub-state is unspecified.",
            "The deployment is recovering.",
            "The deployment is starting.",
            "The deployment is stopping.",
            "The deployment is moving.",
            "The deployment is upgrading.",
            "The deployment is restoring.",
            "The deployment is backing up.",
            "The deployment is rolling back."
          ]
        },
        "environmentType": {
          "type": "string",
          "description": "Optional. The environment type of the GoldengateDeployment."
        },
        "deploymentDiagnosticData": {
          "readOnly": true,
          "$ref": "DeploymentDiagnosticData",
          "description": "Output only. The deployment diagnostic data of the GoldengateDeployment."
        },
        "nsgIds": {
          "description": "Output only. The nsg ids of the GoldengateDeployment.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "id": "GoldengateDeploymentProperties",
      "type": "object"
    },
    "DbSystemInitialStorageSizeProperties": {
      "properties": {
        "shapeType": {
          "description": "Output only. VM shape platform type",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified shape type.",
            "Standard X86."
          ],
          "enum": [
            "SHAPE_TYPE_UNSPECIFIED",
            "STANDARD_X86"
          ]
        },
        "storageSizeDetails": {
          "type": "array",
          "description": "Output only. List of storage disk details.",
          "items": {
            "$ref": "StorageSizeDetails"
          },
          "readOnly": true
        },
        "launchFromBackupStorageSizeDetails": {
          "readOnly": true,
          "description": "Output only. List of storage disk details available for launches from backup.",
          "type": "array",
          "items": {
            "$ref": "StorageSizeDetails"
          }
        },
        "storageManagement": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage management.",
            "Automatic Storage Management.",
            "Logical Volume Management."
          ],
          "description": "Output only. The storage option used in DB system.",
          "enum": [
            "STORAGE_MANAGEMENT_UNSPECIFIED",
            "ASM",
            "LVM"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The properties of a DbSystem initial storage size summary.",
      "id": "DbSystemInitialStorageSizeProperties"
    },
    "RestIcebergCatalog": {
      "properties": {
        "uri": {
          "description": "Required. The REST uri.",
          "type": "string"
        },
        "properties": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the configuration file containing additional properties for the REST catalog."
        }
      },
      "id": "RestIcebergCatalog",
      "type": "object",
      "description": "The REST Iceberg catalog."
    },
    "ListGiVersionsResponse": {
      "description": "The response for `GiVersion.List`.",
      "id": "ListGiVersionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "giVersions": {
          "description": "The list of Oracle Grid Infrastructure (GI) versions.",
          "items": {
            "$ref": "GiVersion"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ScheduledOperationDetails": {
      "id": "ScheduledOperationDetails",
      "description": "Details of scheduled operation. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/ScheduledOperationDetails",
      "type": "object",
      "properties": {
        "stopTime": {
          "$ref": "TimeOfDay",
          "readOnly": true,
          "description": "Output only. Auto stop time."
        },
        "dayOfWeek": {
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Output only. Day of week.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. Auto start time.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "CloudVmClusterProperties": {
      "properties": {
        "dnsListenerIp": {
          "readOnly": true,
          "description": "Output only. DNS listener IP.",
          "type": "string"
        },
        "storageSizeGb": {
          "format": "int32",
          "description": "Output only. The storage allocation for the disk group, in gigabytes (GB).",
          "readOnly": true,
          "type": "integer"
        },
        "computeModel": {
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "COMPUTE_MODEL_ECPU",
            "COMPUTE_MODEL_OCPU"
          ],
          "enumDescriptions": [
            "Unspecified compute model.",
            "Abstract measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers.",
            "Physical measure of compute resources. OCPUs are based on the physical core of a processor."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The compute model of the VM Cluster."
        },
        "ocpuCount": {
          "format": "float",
          "description": "Optional. OCPU count per VM. Minimum is 0.1.",
          "type": "number"
        },
        "diagnosticsDataCollectionOptions": {
          "description": "Optional. Data collection options for diagnostics.",
          "$ref": "DataCollectionOptions"
        },
        "hostname": {
          "description": "Output only. host name without domain. format: \"-\" with some suffix. ex: sp2-yi0xq where \"sp2\" is the hostname_prefix.",
          "readOnly": true,
          "type": "string"
        },
        "ocid": {
          "type": "string",
          "description": "Output only. Oracle Cloud Infrastructure ID of VM Cluster.",
          "readOnly": true
        },
        "storageManagementType": {
          "readOnly": true,
          "enum": [
            "STORAGE_MANAGEMENT_TYPE_UNSPECIFIED",
            "ASM",
            "EXASCALE"
          ],
          "enumDescriptions": [
            "Unspecified storage management type.",
            "Automatic Storage Management.",
            "Exascale storage management."
          ],
          "description": "Output only. The storage management type of the VM Cluster.",
          "type": "string"
        },
        "clusterName": {
          "type": "string",
          "description": "Optional. OCI Cluster name."
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in maintenance in progress state."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the cluster.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ]
        },
        "sparseDiskgroupEnabled": {
          "description": "Optional. Use exadata sparse snapshots.",
          "type": "boolean"
        },
        "localBackupEnabled": {
          "description": "Optional. Use local backup.",
          "type": "boolean"
        },
        "vmBackupStorageType": {
          "enumDescriptions": [
            "Unspecified storage type.",
            "Local DB server storage.",
            "Exascale storage."
          ],
          "description": "Optional. Specifies whether VM backups are stored on local DB server storage or Exascale storage.",
          "enum": [
            "VM_BACKUP_STORAGE_TYPE_UNSPECIFIED",
            "VM_BACKUP_STORAGE_TYPE_LOCAL",
            "VM_BACKUP_STORAGE_TYPE_EXASCALE"
          ],
          "type": "string"
        },
        "scanIpIds": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. OCIDs of scan IPs.",
          "items": {
            "type": "string"
          }
        },
        "systemVersion": {
          "description": "Optional. Operating system version of the image.",
          "type": "string"
        },
        "memorySizeGb": {
          "description": "Optional. Memory allocated in GBs.",
          "type": "integer",
          "format": "int32"
        },
        "scanListenerPortTcpSsl": {
          "description": "Optional. SCAN listener port - TLS",
          "format": "int32",
          "type": "integer"
        },
        "scanDnsRecordId": {
          "description": "Output only. OCID of scan DNS record.",
          "type": "string",
          "readOnly": true
        },
        "nodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Number of database servers."
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Optional. Time zone of VM Cluster to set. Defaults to UTC if not specified."
        },
        "dbServerOcids": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. OCID of database servers."
        },
        "licenseType": {
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "description": "Required. License type of VM Cluster.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "License included part of offer",
            "Bring your own license"
          ]
        },
        "shape": {
          "description": "Output only. Shape of VM Cluster.",
          "readOnly": true,
          "type": "string"
        },
        "scanDns": {
          "description": "Output only. SCAN DNS name. ex: sp2-yi0xq-scan.ocispdelegated.ocisp10jvnet.oraclevcn.com",
          "type": "string",
          "readOnly": true
        },
        "hostnamePrefix": {
          "type": "string",
          "description": "Optional. Prefix for VM cluster host names."
        },
        "sshPublicKeys": {
          "description": "Optional. SSH public keys to be stored with cluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "scanListenerPortTcp": {
          "format": "int32",
          "description": "Optional. SCAN listener port - TCP",
          "type": "integer"
        },
        "giVersion": {
          "description": "Optional. Grid Infrastructure Version.",
          "type": "string"
        },
        "vmFileSystemStorageType": {
          "description": "Optional. Specifies whether VM file system storage / VM images are stored on local DB server storage or Exascale storage.",
          "type": "string",
          "enum": [
            "VM_FILE_SYSTEM_STORAGE_TYPE_UNSPECIFIED",
            "VM_FILE_SYSTEM_STORAGE_TYPE_LOCAL",
            "VM_FILE_SYSTEM_STORAGE_TYPE_EXASCALE"
          ],
          "enumDescriptions": [
            "Unspecified storage type.",
            "Local DB server storage.",
            "Exascale storage."
          ]
        },
        "compartmentId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Compartment ID of cluster."
        },
        "diskRedundancy": {
          "enum": [
            "DISK_REDUNDANCY_UNSPECIFIED",
            "HIGH",
            "NORMAL"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "High - 3 way mirror.",
            "Normal - 2 way mirror."
          ],
          "type": "string",
          "description": "Optional. The type of redundancy."
        },
        "ociUrl": {
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "type": "string",
          "readOnly": true
        },
        "domain": {
          "description": "Output only. Parent DNS domain where SCAN DNS and hosts names are qualified. ex: ocispdelegated.ocisp10jvnet.oraclevcn.com",
          "readOnly": true,
          "type": "string"
        },
        "dbNodeStorageSizeGb": {
          "description": "Optional. Local storage per VM.",
          "type": "integer",
          "format": "int32"
        },
        "cpuCoreCount": {
          "description": "Required. Number of enabled CPU cores.",
          "format": "int32",
          "type": "integer"
        },
        "dataStorageSizeTb": {
          "format": "double",
          "description": "Optional. The data disk group size to be allocated in TBs.",
          "type": "number"
        }
      },
      "description": "Various properties and settings associated with Exadata VM cluster.",
      "id": "CloudVmClusterProperties",
      "type": "object"
    },
    "GoldengateKafkaConnectionProperties": {
      "description": "The properties of GoldengateKafkaConnection.",
      "id": "GoldengateKafkaConnectionProperties",
      "properties": {
        "technologyType": {
          "description": "Optional. The technology type of KafkaConnection.",
          "type": "string"
        },
        "producerPropertiesFile": {
          "description": "Optional. The base64 encoded content of the producer.properties file.",
          "type": "string"
        },
        "securityProtocol": {
          "type": "string",
          "description": "Optional. Security Type for Kafka.",
          "enumDescriptions": [
            "Security type not specified.",
            "SSL security protocol.",
            "SASL SSL security protocol.",
            "Plaintext security protocol.",
            "SASL Plaintext security protocol."
          ],
          "enum": [
            "KAFKA_SECURITY_PROTOCOL_UNSPECIFIED",
            "SSL",
            "SASL_SSL",
            "PLAINTEXT",
            "SASL_PLAINTEXT"
          ]
        },
        "keyStorePasswordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the KeyStore password. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "useResourcePrincipal": {
          "description": "Optional. Specifies that the user intends to authenticate to the instance using a resource principal. Applicable only for OCI Streaming connections.",
          "type": "boolean"
        },
        "keyStoreFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the KeyStore file."
        },
        "clusterId": {
          "description": "Optional. The OCID of the Kafka cluster being referenced from OCI Streaming with Apache Kafka.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology.",
          "type": "string"
        },
        "trustStorePassword": {
          "description": "Optional. Input only. The TrustStore password in plain text.",
          "type": "string"
        },
        "trustStoreFile": {
          "description": "Optional. The base64 encoded content of the TrustStore file.",
          "type": "string"
        },
        "keyStorePassword": {
          "type": "string",
          "description": "Optional. Input only. The KeyStore password in plain text."
        },
        "sslKeyPassword": {
          "description": "Optional. Input only. The password for the cert inside of the KeyStore in plain text.",
          "type": "string"
        },
        "bootstrapServers": {
          "items": {
            "$ref": "KafkaBootstrapServer"
          },
          "type": "array",
          "description": "Optional. Kafka bootstrap. Equivalent of bootstrap.servers configuration property in Kafka: list of KafkaBootstrapServer objects specified by host/port. Used for establishing the initial connection to the Kafka cluster. Example: \"server1.example.com:9092,server2.example.com:9092\""
        },
        "streamPoolId": {
          "description": "Optional. The OCID of the stream pool being referenced.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password for Kafka basic/SASL auth in plain text."
        },
        "trustStorePasswordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the TrustStore password. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "sslKeyPasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password for the cert inside of the KeyStore. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "consumerPropertiesFile": {
          "description": "Optional. The base64 encoded content of the consumer.properties file.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password for Kafka basic/SASL auth. Format: projects/{project}/secrets/{secret}/versions/{version}."
        }
      },
      "type": "object"
    },
    "DbBackupConfig": {
      "properties": {
        "autoIncrementalBackupWindow": {
          "enum": [
            "BACKUP_WINDOW_UNSPECIFIED",
            "SLOT_ONE",
            "SLOT_TWO",
            "SLOT_THREE",
            "SLOT_FOUR",
            "SLOT_FIVE",
            "SLOT_SIX",
            "SLOT_SEVEN",
            "SLOT_EIGHT",
            "SLOT_NINE",
            "SLOT_TEN",
            "SLOT_ELEVEN",
            "SLOT_TWELVE"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "12:00 AM - 2:00 AM",
            "2:00 AM - 4:00 AM",
            "4:00 AM - 6:00 AM",
            "6:00 AM - 8:00 AM",
            "8:00 AM - 10:00 AM",
            "10:00 AM - 12:00 PM",
            "12:00 PM - 2:00 PM",
            "2:00 PM - 4:00 PM",
            "4:00 PM - 6:00 PM",
            "6:00 PM - 8:00 PM",
            "8:00 PM - 10:00 PM",
            "10:00 PM - 12:00 AM"
          ],
          "description": "Optional. The window in which the incremental backup should be performed on the database. If no value is provided, the default is anytime except the auto full backup day.",
          "type": "string"
        },
        "backupDeletionPolicy": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Keeps the backup for predefined time i.e. 72 hours and then delete permanently.",
            "Keeps the backups as per the policy defined for database backups."
          ],
          "type": "string",
          "description": "Optional. This defines when the backups will be deleted after Database termination.",
          "enum": [
            "BACKUP_DELETION_POLICY_UNSPECIFIED",
            "DELETE_IMMEDIATELY",
            "DELETE_AFTER_RETENTION_PERIOD"
          ]
        },
        "backupDestinationDetails": {
          "description": "Optional. Details of the database backup destinations.",
          "items": {
            "$ref": "BackupDestinationDetails"
          },
          "type": "array"
        },
        "autoBackupEnabled": {
          "description": "Optional. If set to true, enables automatic backups on the database.",
          "type": "boolean"
        },
        "retentionPeriodDays": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of days an automatic backup is retained before being automatically deleted. This value determines the earliest point in time to which a database can be restored. Min: 1, Max: 60."
        },
        "autoFullBackupWindow": {
          "enumDescriptions": [
            "Default unspecified value.",
            "12:00 AM - 2:00 AM",
            "2:00 AM - 4:00 AM",
            "4:00 AM - 6:00 AM",
            "6:00 AM - 8:00 AM",
            "8:00 AM - 10:00 AM",
            "10:00 AM - 12:00 PM",
            "12:00 PM - 2:00 PM",
            "2:00 PM - 4:00 PM",
            "4:00 PM - 6:00 PM",
            "6:00 PM - 8:00 PM",
            "8:00 PM - 10:00 PM",
            "10:00 PM - 12:00 AM"
          ],
          "description": "Optional. The window in which the full backup should be performed on the database. If no value is provided, the default is anytime.",
          "enum": [
            "BACKUP_WINDOW_UNSPECIFIED",
            "SLOT_ONE",
            "SLOT_TWO",
            "SLOT_THREE",
            "SLOT_FOUR",
            "SLOT_FIVE",
            "SLOT_SIX",
            "SLOT_SEVEN",
            "SLOT_EIGHT",
            "SLOT_NINE",
            "SLOT_TEN",
            "SLOT_ELEVEN",
            "SLOT_TWELVE"
          ],
          "type": "string"
        },
        "autoFullBackupDay": {
          "type": "string",
          "description": "Optional. The day of the week on which the full backup should be performed on the database. If no value is provided, it will default to Sunday.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        }
      },
      "description": "Backup Options for the Database.",
      "id": "DbBackupConfig",
      "type": "object"
    },
    "ExascaleDbStorageVaultProperties": {
      "description": "The properties of the ExascaleDbStorageVault. next ID: 12",
      "id": "ExascaleDbStorageVaultProperties",
      "properties": {
        "vmClusterCount": {
          "description": "Output only. The number of VM clusters associated with the ExascaleDbStorageVault.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "additionalFlashCachePercent": {
          "type": "integer",
          "description": "Optional. The size of additional flash cache in percentage of high capacity database storage.",
          "format": "int32"
        },
        "timeZone": {
          "description": "Output only. The time zone of the ExascaleDbStorageVault.",
          "readOnly": true,
          "$ref": "TimeZone"
        },
        "attachedShapeAttributes": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The shape attributes of the VM clusters attached to the ExascaleDbStorageVault.",
          "items": {
            "enumDescriptions": [
              "Default unspecified value.",
              "Indicates that the resource is in smart storage.",
              "Indicates that the resource is in block storage."
            ],
            "type": "string",
            "enum": [
              "SHAPE_ATTRIBUTE_UNSPECIFIED",
              "SMART_STORAGE",
              "BLOCK_STORAGE"
            ]
          }
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ],
          "description": "Output only. The state of the ExascaleDbStorageVault.",
          "enumDescriptions": [
            "The state of the ExascaleDbStorageVault is unspecified.",
            "The ExascaleDbStorageVault is being provisioned.",
            "The ExascaleDbStorageVault is available.",
            "The ExascaleDbStorageVault is being updated.",
            "The ExascaleDbStorageVault is being deleted.",
            "The ExascaleDbStorageVault has been deleted.",
            "The ExascaleDbStorageVault has failed."
          ]
        },
        "vmClusterIds": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of VM cluster OCIDs associated with the ExascaleDbStorageVault.",
          "type": "array",
          "readOnly": true
        },
        "exascaleDbStorageDetails": {
          "$ref": "ExascaleDbStorageDetails",
          "description": "Required. The storage details of the ExascaleDbStorageVault."
        },
        "ocid": {
          "type": "string",
          "description": "Output only. The OCID for the ExascaleDbStorageVault.",
          "readOnly": true
        },
        "ociUri": {
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "type": "string",
          "readOnly": true
        },
        "availableShapeAttributes": {
          "items": {
            "enum": [
              "SHAPE_ATTRIBUTE_UNSPECIFIED",
              "SMART_STORAGE",
              "BLOCK_STORAGE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default unspecified value.",
              "Indicates that the resource is in smart storage.",
              "Indicates that the resource is in block storage."
            ]
          },
          "type": "array",
          "description": "Output only. The shape attributes available for the VM clusters to be attached to the ExascaleDbStorageVault.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the ExascaleDbStorageVault."
        }
      },
      "type": "object"
    },
    "DbSystemProperties": {
      "description": "The properties of a DbSystem.",
      "properties": {
        "domain": {
          "description": "Optional. The host domain name of the DbSystem.",
          "type": "string"
        },
        "recoStorageSizeGb": {
          "description": "Optional. The reco/redo storage size in GB. The value for recovery storage size is based on the available data storage size.",
          "format": "int32",
          "type": "integer"
        },
        "hostnamePrefix": {
          "type": "string",
          "description": "Optional. Prefix for DB System host names."
        },
        "dataCollectionOptions": {
          "$ref": "DataCollectionOptionsDbSystem",
          "description": "Optional. Data collection options for diagnostics."
        },
        "licenseModel": {
          "description": "Required. The license model of the DbSystem.",
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The license model is unspecified.",
            "The license model is included.",
            "The license model is bring your own license."
          ]
        },
        "initialDataStorageSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The initial data storage size in GB."
        },
        "databaseEdition": {
          "enum": [
            "DB_SYSTEM_DATABASE_EDITION_UNSPECIFIED",
            "STANDARD_EDITION",
            "ENTERPRISE_EDITION",
            "ENTERPRISE_EDITION_HIGH_PERFORMANCE"
          ],
          "enumDescriptions": [
            "The database edition is unspecified.",
            "The database edition is Standard.",
            "The database edition is Enterprise.",
            "The database edition is Enterprise Edition."
          ],
          "description": "Required. The database edition of the DbSystem.",
          "type": "string"
        },
        "dbHome": {
          "$ref": "DbHome",
          "description": "Optional. Details for creating a Database Home."
        },
        "computeModel": {
          "type": "string",
          "enumDescriptions": [
            "The compute model is unspecified.",
            "The compute model is virtual.",
            "Deprecated: This option is not supported. Please use ECPU instead. The compute model is physical."
          ],
          "description": "Optional. The compute model of the DbSystem.",
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "ECPU",
            "OCPU"
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ]
        },
        "dbSystemOptions": {
          "description": "Optional. The options for the DbSystem.",
          "$ref": "DbSystemOptions"
        },
        "privateIp": {
          "description": "Optional. The private IP address of the DbSystem.",
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. Time zone of the DbSystem.",
          "$ref": "TimeZone"
        },
        "dataStorageSizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The data storage size in GB that is currently available to DbSystems. The value is same as initial_data_storage_size_gb. This can be modified from OCI console."
        },
        "ocid": {
          "description": "Output only. OCID of the DbSystem.",
          "type": "string",
          "readOnly": true
        },
        "computeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The number of CPU cores to enable for the DbSystem."
        },
        "hostname": {
          "readOnly": true,
          "description": "Output only. The hostname of the DbSystem.",
          "type": "string"
        },
        "sshPublicKeys": {
          "description": "Required. SSH public keys to be stored with the DbSystem.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "shape": {
          "description": "Required. Shape of DB System.",
          "type": "string"
        },
        "lifecycleState": {
          "type": "string",
          "description": "Output only. State of the DbSystem.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource has been migrated.",
            "Indicates that the resource is in maintenance in progress state.",
            "Indicates that the resource needs attention.",
            "Indicates that the resource is upgrading."
          ],
          "enum": [
            "DB_SYSTEM_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MIGRATED",
            "MAINTENANCE_IN_PROGRESS",
            "NEEDS_ATTENTION",
            "UPGRADING"
          ],
          "readOnly": true
        },
        "nodeCount": {
          "description": "Optional. The number of nodes to launch for a virtual machine DbSystem. By default this will be set to 1.",
          "format": "int32",
          "type": "integer"
        },
        "memorySizeGb": {
          "description": "Optional. The memory size in GB. This value can not be set and is automatically calculated based on the number of ECPUs allocated to the DbSystem.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "DbSystemProperties"
    },
    "IcebergStorage": {
      "properties": {
        "googleCloudStorageIcebergStorage": {
          "$ref": "GoogleCloudStorageIcebergStorage",
          "description": "The Google Cloud Storage Iceberg storage."
        },
        "amazonS3IcebergStorage": {
          "description": "The Amazon S3 Iceberg storage.",
          "$ref": "AmazonS3IcebergStorage"
        },
        "azureDataLakeStorageIcebergStorage": {
          "$ref": "AzureDataLakeStorageIcebergStorage",
          "description": "The Azure Data Lake Storage Iceberg storage."
        },
        "storageType": {
          "enumDescriptions": [
            "Storage type not specified.",
            "Amazon S3 storage.",
            "Google Cloud Storage storage.",
            "Azure Data Lake Storage storage."
          ],
          "description": "Required. The type of Iceberg storage.",
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "AMAZON_S3",
            "GOOGLE_CLOUD_STORAGE",
            "AZURE_DATA_LAKE_STORAGE"
          ],
          "type": "string"
        }
      },
      "id": "IcebergStorage",
      "type": "object",
      "description": "The Iceberg storage details."
    },
    "PluggableDatabase": {
      "id": "PluggableDatabase",
      "properties": {
        "ociUrl": {
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "readOnly": true,
          "type": "string"
        },
        "properties": {
          "description": "Optional. The properties of the PluggableDatabase.",
          "$ref": "PluggableDatabaseProperties"
        },
        "createTime": {
          "description": "Output only. The date and time that the PluggableDatabase was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the PluggableDatabase resource in the following format: projects/{project}/locations/{region}/pluggableDatabases/{pluggable_database}"
        }
      },
      "description": "The PluggableDatabase resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/PluggableDatabase/",
      "type": "object"
    },
    "DbHome": {
      "type": "object",
      "properties": {
        "isUnifiedAuditingEnabled": {
          "description": "Optional. Whether unified auditing is enabled for the Database Home.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Optional. The display name for the Database Home. The name does not have to be unique within your project.",
          "type": "string"
        },
        "database": {
          "description": "Required. The Database resource.",
          "$ref": "Database"
        },
        "dbVersion": {
          "description": "Required. A valid Oracle Database version. For a list of supported versions, use the ListDbVersions operation.",
          "type": "string"
        }
      },
      "id": "DbHome",
      "description": "Details of the Database Home resource."
    },
    "StartAutonomousDatabaseRequest": {
      "properties": {},
      "id": "StartAutonomousDatabaseRequest",
      "description": "The request for `AutonomousDatabase.Start`.",
      "type": "object"
    },
    "ListGoldengateConnectionAssignmentsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array"
        },
        "goldengateConnectionAssignments": {
          "description": "The list of GoldengateConnectionAssignments.",
          "type": "array",
          "items": {
            "$ref": "GoldengateConnectionAssignment"
          }
        }
      },
      "id": "ListGoldengateConnectionAssignmentsResponse",
      "type": "object",
      "description": "Response message for listing GoldengateConnectionAssignments."
    },
    "AutonomousDatabaseProperties": {
      "description": "The properties of an Autonomous Database.",
      "properties": {
        "arePrimaryAllowlistedIpsUsed": {
          "readOnly": true,
          "description": "Output only. This field indicates the status of Data Guard and Access control for the Autonomous Database. The field's value is null if Data Guard is disabled or Access Control is disabled. The field's value is TRUE if both Data Guard and Access Control are enabled, and the Autonomous Database is using primary IP access control list (ACL) for standby. The field's value is FALSE if both Data Guard and Access Control are enabled, and the Autonomous Database is using a different IP access control list (ACL) for standby compared to primary.",
          "type": "boolean"
        },
        "isAutoScalingEnabled": {
          "type": "boolean",
          "description": "Optional. Immutable. This field indicates if auto scaling is enabled for the Autonomous Database CPU core count."
        },
        "lifecycleDetails": {
          "type": "string",
          "description": "Output only. The details of the current lifestyle state of the Autonomous Database.",
          "readOnly": true
        },
        "ociUrl": {
          "type": "string",
          "description": "Output only. The Oracle Cloud Infrastructure link for the Autonomous Database.",
          "readOnly": true
        },
        "encryptionKey": {
          "description": "Optional. The encryption key used to encrypt the Autonomous Database. Updating this field will add a new entry in the `encryption_key_history_entries` field with the former version.",
          "$ref": "EncryptionKey"
        },
        "privateEndpointIp": {
          "description": "Optional. Immutable. The private endpoint IP address for the Autonomous Database.",
          "type": "string"
        },
        "allowlistedIps": {
          "description": "Optional. Immutable. The list of allowlisted IP addresses for the Autonomous Database.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "maintenanceScheduleType": {
          "enumDescriptions": [
            "Default unspecified value.",
            "An EARLY maintenance schedule patches the database before the regular scheduled maintenance.",
            "A REGULAR maintenance schedule follows the normal maintenance cycle."
          ],
          "type": "string",
          "description": "Optional. Immutable. The maintenance schedule of the Autonomous Database.",
          "enum": [
            "MAINTENANCE_SCHEDULE_TYPE_UNSPECIFIED",
            "EARLY",
            "REGULAR"
          ]
        },
        "localAdgAutoFailoverMaxDataLossLimit": {
          "description": "Output only. Deprecated: Please use `local_adg_auto_failover_max_data_loss_limit_duration` instead. This field indicates the maximum data loss limit for an Autonomous Database, in seconds.",
          "readOnly": true,
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "mtlsConnectionRequired": {
          "description": "Optional. Immutable. This field specifies if the Autonomous Database requires mTLS connections.",
          "type": "boolean"
        },
        "localStandbyDb": {
          "description": "Output only. The details of the Autonomous Data Guard standby database.",
          "$ref": "AutonomousDatabaseStandbySummary",
          "readOnly": true
        },
        "maintenanceBeginTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The date and time when maintenance will begin."
        },
        "supportedCloneRegions": {
          "description": "Output only. The list of available regions that can be used to create a clone for the Autonomous Database.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "nCharacterSet": {
          "type": "string",
          "description": "Optional. Immutable. The national character set for the Autonomous Database. The default is AL16UTF16."
        },
        "refreshableClone": {
          "description": "Optional. Indicates if the Autonomous Database is a refreshable clone. This field is used in update flow to connect / disconnect a refreshable clone from its source database.",
          "type": "boolean"
        },
        "privateEndpointLabel": {
          "description": "Optional. Immutable. The private endpoint label for the Autonomous Database.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the Autonomous Database is in provisioning state.",
            "Indicates that the Autonomous Database is in available state.",
            "Indicates that the Autonomous Database is in stopping state.",
            "Indicates that the Autonomous Database is in stopped state.",
            "Indicates that the Autonomous Database is in starting state.",
            "Indicates that the Autonomous Database is in terminating state.",
            "Indicates that the Autonomous Database is in terminated state.",
            "Indicates that the Autonomous Database is in unavailable state.",
            "Indicates that the Autonomous Database restore is in progress.",
            "Indicates that the Autonomous Database failed to restore.",
            "Indicates that the Autonomous Database backup is in progress.",
            "Indicates that the Autonomous Database scale is in progress.",
            "Indicates that the Autonomous Database is available but needs attention state.",
            "Indicates that the Autonomous Database is in updating state.",
[...]
