{
  "canonicalName": "Oracle Database",
  "baseUrl": "https://oracledatabase.googleapis.com/",
  "version": "v1",
  "endpoints": [
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://oracledatabase.asia-northeast2.rep.googleapis.com/"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://oracledatabase.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://oracledatabase.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://oracledatabase.australia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://oracledatabase.europe-west8.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://oracledatabase.northamerica-northeast2.rep.googleapis.com/"
    }
  ],
  "revision": "20260629",
  "version_module": true,
  "name": "oracledatabase",
  "mtlsRootUrl": "https://oracledatabase.mtls.googleapis.com/",
  "id": "oracledatabase:v1",
  "discoveryVersion": "v1",
  "schemas": {
    "TimeZone": {
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "DbNode": {
      "id": "DbNode",
      "description": "Details of the database node resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbNode/",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the database node resource in the following format: projects/{project}/locations/{location}/cloudVmClusters/{cloud_vm_cluster}/dbNodes/{db_node}"
        },
        "properties": {
          "description": "Optional. Various properties of the database node.",
          "$ref": "DbNodeProperties"
        }
      },
      "type": "object"
    },
    "DefinedTagValue": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "description": "The tags within the namespace.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "DefinedTagValue",
      "description": "Wrapper message for the value of a defined tag."
    },
    "GoldengateAzureSynapseAnalyticsConnectionProperties": {
      "id": "GoldengateAzureSynapseAnalyticsConnectionProperties",
      "description": "The properties of GoldengateAzureSynapseAnalyticsConnection.",
      "type": "object",
      "properties": {
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Azure Synapse Analytics connection. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "technologyType": {
          "description": "Optional. The technology type of AzureSynapseAnalyticsConnection.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses for Azure Synapse Analytics connection in plain text.",
          "type": "string"
        },
        "connectionString": {
          "description": "Optional. JDBC connection string. e.g.: 'jdbc:sqlserver://.sql.azuresynapse.net:1433;database=;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.sql.azuresynapse.net;loginTimeout=300;'",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology."
        }
      }
    },
    "ExascaleDbStorageDetails": {
      "id": "ExascaleDbStorageDetails",
      "description": "The storage details of the ExascaleDbStorageVault.",
      "type": "object",
      "properties": {
        "availableSizeGbs": {
          "description": "Output only. The available storage capacity for the ExascaleDbStorageVault, in gigabytes (GB).",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "totalSizeGbs": {
          "format": "int32",
          "description": "Required. The total storage allocation for the ExascaleDbStorageVault, in gigabytes (GB).",
          "type": "integer"
        }
      }
    },
    "CloudAccountDetails": {
      "id": "CloudAccountDetails",
      "description": "Details of the OCI Cloud Account.",
      "type": "object",
      "properties": {
        "linkExistingAccountUri": {
          "readOnly": true,
          "description": "Output only. URL to link an existing account.",
          "type": "string"
        },
        "accountCreationUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URL to create a new account and link."
        },
        "cloudAccount": {
          "type": "string",
          "description": "Output only. OCI account name.",
          "readOnly": true
        },
        "cloudAccountHomeRegion": {
          "readOnly": true,
          "description": "Output only. OCI account home region.",
          "type": "string"
        }
      }
    },
    "AzureDataLakeStorageIcebergStorage": {
      "properties": {
        "container": {
          "description": "Required. The container of Azure Data Lake Storage.",
          "type": "string"
        },
        "endpoint": {
          "description": "Optional. The endpoint of Azure Data Lake Storage.",
          "type": "string"
        },
        "azureAccount": {
          "type": "string",
          "description": "Required. The account of Azure Data Lake Storage."
        },
        "accountKeySecret": {
          "description": "Optional. The account key of Azure Data Lake Storage.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AzureDataLakeStorageIcebergStorage",
      "description": "The Azure Data Lake Storage Iceberg storage."
    },
    "StartAutonomousDatabaseRequest": {
      "properties": {},
      "type": "object",
      "id": "StartAutonomousDatabaseRequest",
      "description": "The request for `AutonomousDatabase.Start`."
    },
    "AutonomousDatabase": {
      "properties": {
        "properties": {
          "$ref": "AutonomousDatabaseProperties",
          "description": "Optional. The properties of the Autonomous Database."
        },
        "database": {
          "description": "Optional. Immutable. The name of the Autonomous Database. The database name must be unique in the project. The name must begin with a letter and can contain a maximum of 30 alphanumeric characters.",
          "type": "string"
        },
        "odbNetwork": {
          "type": "string",
          "description": "Optional. Immutable. The name of the OdbNetwork associated with the Autonomous Database. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet."
        },
        "network": {
          "description": "Optional. Immutable. The name of the VPC network used by the Autonomous Database in the following format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The date and time that the Autonomous Database was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "adminPassword": {
          "type": "string",
          "description": "Optional. Immutable. The password for the default ADMIN user. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated."
        },
        "peerAutonomousDatabases": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The peer Autonomous Database names of the given Autonomous Database.",
          "items": {
            "type": "string"
          }
        },
        "entitlementId": {
          "description": "Output only. The ID of the subscription entitlement associated with the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "adminPasswordSecretVersion": {
          "description": "Optional. Immutable. The resource name of a secret version in Secret Manager which contains the database admin user's password. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "cidr": {
          "description": "Optional. Immutable. The subnet CIDR range for the Autonomous Database.",
          "type": "string"
        },
        "sourceConfig": {
          "description": "Optional. Immutable. The source Autonomous Database configuration for the standby Autonomous Database. The source Autonomous Database is configured while creating the Peer Autonomous Database and can't be updated after creation.",
          "$ref": "SourceConfig"
        },
        "odbSubnet": {
          "description": "Optional. Immutable. The name of the OdbSubnet associated with the Autonomous Database. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "disasterRecoverySupportedLocations": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of supported GCP region to clone the Autonomous Database for disaster recovery. Format: `project/{project}/locations/{location}`.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Autonomous Database resource in the following format: projects/{project}/locations/{region}/autonomousDatabases/{autonomous_database}"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Immutable. The display name for the Autonomous Database. The name does not have to be unique within your project."
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels or tags associated with the Autonomous Database.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "AutonomousDatabase",
      "description": "Details of the Autonomous Database resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabase/"
    },
    "CloudExadataInfrastructure": {
      "id": "CloudExadataInfrastructure",
      "description": "Represents CloudExadataInfrastructure resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/CloudExadataInfrastructure/",
      "properties": {
        "name": {
          "description": "Identifier. The name of the Exadata Infrastructure resource with the format: projects/{project}/locations/{region}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly name for this resource.",
          "type": "string"
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle Exadata Infrastructure is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. Various properties of the infra.",
          "$ref": "CloudExadataInfrastructureProperties"
        },
        "createTime": {
          "description": "Output only. The date and time that the Exadata Infrastructure was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "entitlementId": {
          "readOnly": true,
          "description": "Output only. Entitlement ID of the private offer against which this infrastructure resource is provisioned.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels or tags associated with the resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoldengateGenericConnectionProperties": {
      "type": "object",
      "properties": {
        "technologyType": {
          "description": "Optional. The technology type.",
          "type": "string"
        },
        "host": {
          "description": "Optional. The host of the GenericConnection.",
          "type": "string"
        }
      },
      "id": "GoldengateGenericConnectionProperties",
      "description": "The properties of GoldengateGenericConnectionProperties."
    },
    "DatabaseConnectionStringProfile": {
      "id": "DatabaseConnectionStringProfile",
      "description": "The connection string profile to allow clients to group. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/DatabaseConnectionStringProfile",
      "properties": {
        "isRegional": {
          "readOnly": true,
          "description": "Output only. This field indicates if the connection string is regional and is only applicable for cross-region Data Guard.",
          "type": "boolean"
        },
        "protocol": {
          "readOnly": true,
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "TCP",
            "TCPS"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Tcp",
            "Tcps"
          ],
          "description": "Output only. The protocol being used by the connection.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Output only. The value of the connection string.",
          "readOnly": true
        },
        "consumerGroup": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "High consumer group.",
            "Medium consumer group.",
            "Low consumer group.",
            "TP consumer group.",
            "TPURGENT consumer group."
          ],
          "description": "Output only. The current consumer group being used by the connection.",
          "readOnly": true,
          "enum": [
            "CONSUMER_GROUP_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "TP",
            "TPURGENT"
          ]
        },
        "hostFormat": {
          "readOnly": true,
          "enum": [
            "HOST_FORMAT_UNSPECIFIED",
            "FQDN",
            "IP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "FQDN",
            "IP"
          ],
          "description": "Output only. The host name format being currently used in connection string."
        },
        "sessionMode": {
          "type": "string",
          "description": "Output only. The current session mode of the connection.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Direct",
            "Indirect"
          ],
          "readOnly": true,
          "enum": [
            "SESSION_MODE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT"
          ]
        },
        "syntaxFormat": {
          "readOnly": true,
          "enum": [
            "SYNTAX_FORMAT_UNSPECIFIED",
            "LONG",
            "EZCONNECT",
            "EZCONNECTPLUS"
          ],
          "description": "Output only. The syntax of the connection string.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Long",
            "Ezconnect",
            "Ezconnectplus"
          ],
          "type": "string"
        },
        "tlsAuthentication": {
          "readOnly": true,
          "enum": [
            "TLS_AUTHENTICATION_UNSPECIFIED",
            "SERVER",
            "MUTUAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Server",
            "Mutual"
          ],
          "description": "Output only. This field indicates the TLS authentication type of the connection."
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name for the database connection.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoldengateDeploymentVersion": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the Goldengate Deployment Version resource with the format: projects/{project}/locations/{location}/goldengateDeploymentVersions/{goldengate_deployment_version}",
          "type": "string"
        },
        "ocid": {
          "type": "string",
          "description": "Output only. The deployment version ocid of the Goldengate Deployment Version resource.",
          "readOnly": true
        },
        "properties": {
          "readOnly": true,
          "description": "Output only. The technology type of the Goldengate Deployment Version resource.",
          "$ref": "GoldengateDeploymentVersionProperties"
        }
      },
      "id": "GoldengateDeploymentVersion",
      "description": "Details of the Goldengate Deployment Version resource."
    },
    "ListDbSystemInitialStorageSizesResponse": {
      "type": "object",
      "properties": {
        "dbSystemInitialStorageSizes": {
          "description": "The list of DbSystemInitialStorageSizes.",
          "items": {
            "$ref": "DbSystemInitialStorageSize"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListDbSystemInitialStorageSizesResponse",
      "description": "The response for `DbSystemInitialStorageSizes.List`."
    },
    "ExadbVmClusterProperties": {
      "type": "object",
      "properties": {
        "licenseModel": {
          "description": "Optional. Immutable. The license type of the ExadbVmCluster.",
          "enumDescriptions": [
            "Unspecified.",
            "Default is license included.",
            "Bring your own license."
          ],
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. Immutable. The time zone of the ExadbVmCluster.",
          "$ref": "TimeZone"
        },
        "memorySizeGb": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Memory per VM (GB) (Read-only): Shows the amount of memory allocated to each VM. Memory is calculated based on 2.75 GB per Total ECPUs."
        },
        "hostname": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The hostname of the ExadbVmCluster."
        },
        "dataCollectionOptions": {
          "$ref": "DataCollectionOptionsCommon",
          "description": "Optional. Immutable. Indicates user preference for data collection options."
        },
        "additionalEcpuCountPerNode": {
          "description": "Optional. Immutable. The number of additional ECPUs per node for an Exadata VM cluster on exascale infrastructure.",
          "format": "int32",
          "type": "integer"
        },
        "clusterName": {
          "description": "Optional. Immutable. The cluster name for Exascale vm cluster. The cluster name must begin with an alphabetic character and may contain hyphens(-) but can not contain underscores(_). It should be not more than 11 characters and is not case sensitive. OCI Cluster name.",
          "type": "string"
        },
        "vmFileSystemStorage": {
          "$ref": "ExadbVmClusterStorageDetails",
          "description": "Required. Immutable. Total storage details for the ExadbVmCluster."
        },
        "ociUri": {
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "readOnly": true,
          "type": "string"
        },
        "giVersion": {
          "description": "Output only. The Oracle Grid Infrastructure (GI) software version.",
          "readOnly": true,
          "type": "string"
        },
        "shapeAttribute": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in smart storage.",
            "Indicates that the resource is in block storage."
          ],
          "enum": [
            "SHAPE_ATTRIBUTE_UNSPECIFIED",
            "SMART_STORAGE",
            "BLOCK_STORAGE"
          ],
          "description": "Required. Immutable. The shape attribute of the VM cluster. The type of Exascale storage used for Exadata VM cluster. The default is SMART_STORAGE which supports Oracle Database 23ai and later",
          "type": "string"
        },
        "hostnamePrefix": {
          "description": "Required. Immutable. Prefix for VM cluster host names.",
          "type": "string"
        },
        "nodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The number of nodes/VMs in the ExadbVmCluster."
        },
        "scanListenerPortTcp": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Immutable. SCAN listener port - TCP"
        },
        "gridImageId": {
          "type": "string",
          "description": "Required. Immutable. Grid Infrastructure Version."
        },
        "lifecycleState": {
          "readOnly": true,
          "enum": [
            "EXADB_VM_CLUSTER_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in maintenance in progress state."
          ],
          "description": "Output only. State of the cluster."
        },
        "enabledEcpuCountPerNode": {
          "description": "Required. Immutable. The number of ECPUs enabled per node for an exadata vm cluster on exascale infrastructure.",
          "format": "int32",
          "type": "integer"
        },
        "exascaleDbStorageVault": {
          "type": "string",
          "description": "Required. Immutable. The name of ExascaleDbStorageVault associated with the ExadbVmCluster. It can refer to an existing ExascaleDbStorageVault. Or a new one can be created during the ExadbVmCluster creation (requires storage_vault_properties to be set). Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}"
        },
        "sshPublicKeys": {
          "type": "array",
          "description": "Required. Immutable. The SSH public keys for the ExadbVmCluster.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ExadbVmClusterProperties",
      "description": "The properties of an ExadbVmCluster."
    },
    "GoldengateConnectionType": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Goldengate Connection Type resource with the format: projects/{project}/locations/{region}/goldengateConnectionTypes/{goldengate_connection_type}"
        },
        "connectionType": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Goldengate Connection Type category is GOLDENGATE.",
            "Goldengate Connection Type category is KAFKA.",
            "Goldengate Connection Type category is KAFKA_SCHEMA_REGISTRY.",
            "Goldengate Connection Type category is MYSQL.",
            "Goldengate Connection Type category is JAVA_MESSAGE_SERVICE.",
            "Goldengate Connection Type category is MICROSOFT_SQLSERVER.",
            "Goldengate Connection Type category is OCI_OBJECT_STORAGE.",
            "Goldengate Connection Type category is ORACLE.",
            "Goldengate Connection Type category is AZURE_DATA_LAKE_STORAGE.",
            "Goldengate Connection Type category is POSTGRESQL.",
            "Goldengate Connection Type category is AZURE_SYNAPSE_ANALYTICS.",
            "Goldengate Connection Type category is SNOWFLAKE.",
            "Goldengate Connection Type category is AMAZON_S3.",
            "Goldengate Connection Type category is HDFS.",
            "Goldengate Connection Type category is ORACLE_AI_DATA_PLATFORM.",
            "Goldengate Connection Type category is ORACLE_NOSQL.",
            "Goldengate Connection Type category is MONGODB.",
            "Goldengate Connection Type category is AMAZON_KINESIS.",
            "Goldengate Connection Type category is AMAZON_REDSHIFT.",
            "Goldengate Connection Type category is DB2.",
            "Goldengate Connection Type category is REDIS.",
            "Goldengate Connection Type category is ELASTICSEARCH.",
            "Goldengate Connection Type category is GENERIC.",
            "Goldengate Connection Type category is GOOGLE_CLOUD_STORAGE.",
            "Goldengate Connection Type category is GOOGLE_BIGQUERY.",
            "Goldengate Connection Type category is DATABRICKS.",
            "Goldengate Connection Type category is GOOGLE_PUBSUB.",
            "Goldengate Connection Type category is MICROSOFT_FABRIC.",
            "Goldengate Connection Type category is ICEBERG."
          ],
          "description": "Output only. The connection type of the Goldengate Connection Type resource.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "GOLDENGATE",
            "KAFKA",
            "KAFKA_SCHEMA_REGISTRY",
            "MYSQL",
            "JAVA_MESSAGE_SERVICE",
            "MICROSOFT_SQLSERVER",
            "OCI_OBJECT_STORAGE",
            "ORACLE",
            "AZURE_DATA_LAKE_STORAGE",
            "POSTGRESQL",
            "AZURE_SYNAPSE_ANALYTICS",
            "SNOWFLAKE",
            "AMAZON_S3",
            "HDFS",
            "ORACLE_AI_DATA_PLATFORM",
            "ORACLE_NOSQL",
            "MONGODB",
            "AMAZON_KINESIS",
            "AMAZON_REDSHIFT",
            "DB2",
            "REDIS",
            "ELASTICSEARCH",
            "GENERIC",
            "GOOGLE_CLOUD_STORAGE",
            "GOOGLE_BIGQUERY",
            "DATABRICKS",
            "GOOGLE_PUBSUB",
            "MICROSOFT_FABRIC",
            "ICEBERG"
          ]
        },
        "technologyTypes": {
          "readOnly": true,
          "description": "Output only. The technology type of the Goldengate Connection Type resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoldengateConnectionType",
      "description": "Details of the Goldengate Connection Type resource."
    },
    "LocationMetadata": {
      "properties": {
        "gcpOracleZones": {
          "description": "Output only. Google Cloud Platform Oracle zones in a location.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "id": "LocationMetadata",
      "description": "Metadata for a given Location."
    },
    "DbNodeProperties": {
      "id": "DbNodeProperties",
      "description": "Various properties and settings associated with Db node.",
      "properties": {
        "ocid": {
          "type": "string",
          "description": "Output only. OCID of database node.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The date and time that the database node was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "dbServerOcid": {
          "type": "string",
          "description": "Optional. Database server OCID."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ],
          "type": "string",
          "description": "Output only. State of the database node.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in stopping state.",
            "Indicates that the resource is in stopped state.",
            "Indicates that the resource is in starting state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state."
          ]
        },
        "ocpuCount": {
          "description": "Optional. OCPU count per database node.",
          "format": "int32",
          "type": "integer"
        },
        "memorySizeGb": {
          "type": "integer",
          "description": "Memory allocated in GBs.",
          "format": "int32"
        },
        "hostname": {
          "type": "string",
          "description": "Optional. DNS"
        },
        "totalCpuCoreCount": {
          "format": "int32",
          "description": "Total CPU core count of the database node.",
          "type": "integer"
        },
        "dbNodeStorageSizeGb": {
          "format": "int32",
          "description": "Optional. Local storage per database node.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "DbSystemInitialStorageSizeProperties": {
      "type": "object",
      "properties": {
        "launchFromBackupStorageSizeDetails": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of storage disk details available for launches from backup.",
          "items": {
            "$ref": "StorageSizeDetails"
          }
        },
        "storageSizeDetails": {
          "type": "array",
          "description": "Output only. List of storage disk details.",
          "items": {
            "$ref": "StorageSizeDetails"
          },
          "readOnly": true
        },
        "storageManagement": {
          "readOnly": true,
          "enum": [
            "STORAGE_MANAGEMENT_UNSPECIFIED",
            "ASM",
            "LVM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage management.",
            "Automatic Storage Management.",
            "Logical Volume Management."
          ],
          "description": "Output only. The storage option used in DB system."
        },
        "shapeType": {
          "readOnly": true,
          "enum": [
            "SHAPE_TYPE_UNSPECIFIED",
            "STANDARD_X86"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified shape type.",
            "Standard X86."
          ],
          "description": "Output only. VM shape platform type"
        }
      },
      "id": "DbSystemInitialStorageSizeProperties",
      "description": "The properties of a DbSystem initial storage size summary."
    },
    "ListGoldengateConnectionAssignmentsResponse": {
      "properties": {
        "unreachable": {
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "goldengateConnectionAssignments": {
          "description": "The list of GoldengateConnectionAssignments.",
          "items": {
            "$ref": "GoldengateConnectionAssignment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListGoldengateConnectionAssignmentsResponse",
      "description": "Response message for listing GoldengateConnectionAssignments."
    },
    "AutonomousDatabaseStandbySummary": {
      "id": "AutonomousDatabaseStandbySummary",
      "description": "Autonomous Data Guard standby database details. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseStandbySummary",
      "properties": {
        "dataGuardRoleChangedTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The date and time the Autonomous Data Guard role was switched for the standby Autonomous Database.",
          "type": "string"
        },
        "lifecycleDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The additional details about the current lifecycle state of the Autonomous Database."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "TERMINATING",
            "TERMINATED",
            "UNAVAILABLE",
            "RESTORE_IN_PROGRESS",
            "RESTORE_FAILED",
            "BACKUP_IN_PROGRESS",
            "SCALE_IN_PROGRESS",
            "AVAILABLE_NEEDS_ATTENTION",
            "UPDATING",
            "MAINTENANCE_IN_PROGRESS",
            "RESTARTING",
            "RECREATING",
            "ROLE_CHANGE_IN_PROGRESS",
            "UPGRADING",
            "INACCESSIBLE",
            "STANDBY"
          ],
          "type": "string",
          "description": "Output only. The current lifecycle state of the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the Autonomous Database is in provisioning state.",
            "Indicates that the Autonomous Database is in available state.",
            "Indicates that the Autonomous Database is in stopping state.",
            "Indicates that the Autonomous Database is in stopped state.",
            "Indicates that the Autonomous Database is in starting state.",
            "Indicates that the Autonomous Database is in terminating state.",
            "Indicates that the Autonomous Database is in terminated state.",
            "Indicates that the Autonomous Database is in unavailable state.",
            "Indicates that the Autonomous Database restore is in progress.",
            "Indicates that the Autonomous Database failed to restore.",
            "Indicates that the Autonomous Database backup is in progress.",
            "Indicates that the Autonomous Database scale is in progress.",
            "Indicates that the Autonomous Database is available but needs attention state.",
            "Indicates that the Autonomous Database is in updating state.",
            "Indicates that the Autonomous Database's maintenance is in progress state.",
            "Indicates that the Autonomous Database is in restarting state.",
            "Indicates that the Autonomous Database is in recreating state.",
            "Indicates that the Autonomous Database's role change is in progress state.",
            "Indicates that the Autonomous Database is in upgrading state.",
            "Indicates that the Autonomous Database is in inaccessible state.",
            "Indicates that the Autonomous Database is in standby state."
          ]
        },
        "disasterRecoveryRoleChangedTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The date and time the Disaster Recovery role was switched for the standby Autonomous Database."
        },
        "lagTimeDuration": {
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. The amount of time, in seconds, that the data of the standby database lags in comparison to the data of the primary database.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoldengateMicrosoftSqlserverConnectionProperties": {
      "id": "GoldengateMicrosoftSqlserverConnectionProperties",
      "description": "The properties of GoldengateMicrosoftSqlserverConnection.",
      "properties": {
        "additionalAttributes": {
          "type": "array",
          "description": "Optional. An array of name-value pair attribute entries. Used as additional parameters in connection string.",
          "items": {
            "$ref": "NameValuePair"
          }
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Microsoft SQL Server connection. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "host": {
          "description": "Optional. The name or address of a host.",
          "type": "string"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of MicrosoftSqlserverConnection."
        },
        "serverCertificateValidationRequired": {
          "type": "boolean",
          "description": "Optional. If set to true, the driver validates the certificate that is sent by the database server."
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses for Microsoft SQL Server connection in plain text.",
          "type": "string"
        },
        "database": {
          "type": "string",
          "description": "Optional. The name of the database."
        },
        "port": {
          "type": "integer",
          "description": "Optional. The port of an endpoint usually specified for a connection.",
          "format": "int32"
        },
        "sslCaFile": {
          "type": "string",
          "description": "Optional. Database Certificate - The base64 encoded content of a .pem or .crt file containing the server public key (for 1-way SSL)."
        },
        "username": {
          "type": "string",
          "description": "Optional. The username Oracle Goldengate uses to connect to the Microsoft SQL Server."
        },
        "securityProtocol": {
          "type": "string",
          "enumDescriptions": [
            "Security type not specified.",
            "Plain text communication.",
            "Transport Layer Security."
          ],
          "enum": [
            "MICROSOFT_SQLSERVER_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS"
          ],
          "description": "Optional. Security Type for Microsoft SQL Server."
        }
      },
      "type": "object"
    },
    "GoldengateMicrosoftFabricConnectionProperties": {
      "properties": {
        "technologyType": {
          "description": "Optional. The technology type of MicrosoftFabricConnection.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "Optional. Azure client ID of the application."
        },
        "tenantId": {
          "description": "Optional. Azure tenant ID of the application.",
          "type": "string"
        },
        "endpoint": {
          "description": "Optional. Optional Microsoft Fabric service endpoint. Default value: https://onelake.dfs.fabric.microsoft.com",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. Client secret associated with the client id.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoldengateMicrosoftFabricConnectionProperties",
      "description": "The properties of GoldengateMicrosoftFabricConnection."
    },
    "GoldengateConnection": {
      "type": "object",
      "properties": {
        "properties": {
          "description": "Required. The properties of the GoldengateConnection.",
          "$ref": "GoldengateConnectionProperties"
        },
        "createTime": {
          "description": "Output only. The date and time that the GoldengateConnection was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "entitlementId": {
          "readOnly": true,
          "description": "Output only. The ID of the subscription entitlement associated with the GoldengateConnection.",
          "type": "string"
        },
        "odbSubnet": {
          "type": "string",
          "description": "Optional. The name of the OdbSubnet associated with the GoldengateConnection for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "ociUrl": {
          "type": "string",
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The name of the GoldengateConnection resource in the following format: projects/{project}/locations/{region}/goldengateConnections/{goldengate_connection}",
          "type": "string"
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle GoldengateConnection is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels or tags associated with the GoldengateConnection.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "odbNetwork": {
          "type": "string",
          "description": "Optional. The name of the OdbNetwork associated with the GoldengateConnection. The format is projects/{project}/locations/{location}/odbNetworks/{odb_network}. It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet."
        }
      },
      "id": "GoldengateConnection",
      "description": "Details of the GoldengateConnection resource."
    },
    "AutonomousDatabaseBackupProperties": {
      "id": "AutonomousDatabaseBackupProperties",
      "description": "Properties of the Autonomous Database Backup resource.",
      "type": "object",
      "properties": {
        "retentionPeriodDays": {
          "description": "Optional. Retention period in days for the backup.",
          "format": "int32",
          "type": "integer"
        },
        "compartmentId": {
          "type": "string",
          "description": "Output only. The OCID of the compartment.",
          "readOnly": true
        },
        "lifecycleState": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DELETED",
            "FAILED",
            "UPDATING"
          ],
          "description": "Output only. The lifecycle state of the backup.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in creating state.",
            "Indicates that the resource is in active state.",
            "Indicates that the resource is in deleting state.",
            "Indicates that the resource is in deleted state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in updating state."
          ],
          "type": "string"
        },
        "availableTillTime": {
          "type": "string",
          "description": "Output only. Timestamp until when the backup will be available.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "type": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Incremental backups.",
            "Full backups.",
            "Long term backups."
          ],
          "description": "Output only. The type of the backup.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL",
            "LONG_TERM"
          ]
        },
        "isLongTermBackup": {
          "description": "Output only. Indicates if the backup is long term backup.",
          "readOnly": true,
          "type": "boolean"
        },
        "isRestorable": {
          "description": "Output only. Indicates if the backup can be used to restore the Autonomous Database.",
          "readOnly": true,
          "type": "boolean"
        },
        "kmsKeyVersionId": {
          "description": "Optional. The OCID of the key container version that is used in database transparent data encryption (TDE) operations KMS Key can have multiple key versions. If none is specified, the current key version (latest) of the Key Id is used for the operation. Autonomous Database Serverless does not use key versions, hence is not applicable for Autonomous Database Serverless instances.",
          "type": "string"
        },
        "sizeTb": {
          "readOnly": true,
          "format": "float",
          "description": "Output only. The backup size in terabytes.",
          "type": "number"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. The date and time the backup started.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "isAutomaticBackup": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates if the backup is automatic or user initiated."
        },
        "lifecycleDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the current lifecycle state."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The date and time the backup completed."
        },
        "keyStoreId": {
          "type": "string",
          "description": "Optional. The OCID of the key store of Oracle Vault."
        },
        "dbVersion": {
          "type": "string",
          "description": "Output only. A valid Oracle Database version for Autonomous Database.",
          "readOnly": true
        },
        "ocid": {
          "type": "string",
          "description": "Output only. OCID of the Autonomous Database backup. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle",
          "readOnly": true
        },
        "vaultId": {
          "description": "Optional. The OCID of the vault.",
          "type": "string"
        },
        "databaseSizeTb": {
          "readOnly": true,
          "format": "float",
          "description": "Output only. The quantity of data in the database, in terabytes.",
          "type": "number"
        },
        "keyStoreWallet": {
          "type": "string",
          "description": "Optional. The wallet name for Oracle Key Vault."
        },
        "kmsKeyId": {
          "description": "Optional. The OCID of the key container that is used as the master encryption key in database transparent data encryption (TDE) operations.",
          "type": "string"
        }
      }
    },
    "GoldengateDeploymentEnvironment": {
      "properties": {
        "category": {
          "readOnly": true,
          "enum": [
            "DEPLOYMENT_CATEGORY_UNSPECIFIED",
            "DATA_REPLICATION_CATEGORY",
            "DATA_TRANSFORMS_CATEGORY"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Goldengate Deployment Environment category is DATA_REPLICATION_CATEGORY.",
            "Goldengate Deployment Environment category is DATA_TRANSFORMS_CATEGORY."
          ],
          "description": "Output only. The category of the Goldengate Deployment Environment resource.",
          "type": "string"
        },
        "minCpuCoreCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The min CPU core count of the Goldengate Deployment Environment resource."
        },
        "name": {
          "description": "Identifier. The name of the Goldengate Deployment Environment resource with the format: projects/{project}/locations/{location}/goldengateDeploymentEnvironments/{goldengate_deployment_environment}",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the Goldengate Deployment Environment resource."
        },
        "memoryGbPerCpuCore": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The memory per CPU core in GBs of the Goldengate Deployment Environment resource."
        },
        "networkBandwidthGbpsPerCpuCore": {
          "type": "integer",
          "description": "Output only. The network bandwidth per CPU core in Gbps of the Goldengate Deployment Environment resource.",
          "readOnly": true,
          "format": "int32"
        },
        "environmentType": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Goldengate Deployment Environment type is PRODUCTION.",
            "Goldengate Deployment Environment type is DEVELOPMENT_OR_TESTING."
          ],
          "description": "Output only. The environment type of the Goldengate Deployment Environment resource.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "DEPLOYMENT_ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "DEVELOPMENT_OR_TESTING"
          ]
        },
        "autoScalingEnabled": {
          "description": "Output only. Whether auto scaling is enabled by default for the Goldengate Deployment Environment resource.",
          "readOnly": true,
          "type": "boolean"
        },
        "maxCpuCoreCount": {
          "type": "integer",
          "description": "Output only. The max CPU core count of the Goldengate Deployment Environment resource.",
          "readOnly": true,
          "format": "int32"
        },
        "defaultCpuCoreCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The default CPU core count of the Goldengate Deployment Environment resource."
        },
        "storageUsageLimitGbPerCpuCore": {
          "description": "Output only. The storage usage limit per CPU core in GBs of the Goldengate Deployment Environment resource.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoldengateDeploymentEnvironment",
      "description": "Details of the Goldengate Deployment Environment resource."
    },
    "DeploymentDiagnosticData": {
      "type": "object",
      "properties": {
        "diagnosticState": {
          "enumDescriptions": [
            "The diagnostic state is unspecified.",
            "The diagnostic is in progress.",
            "The diagnostic completed successfully.",
            "The diagnostic failed."
          ],
          "description": "Output only. The diagnostic state.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "DIAGNOSTIC_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "diagnosticEndTime": {
          "description": "Output only. The time diagnostic end.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "diagnosticStartTime": {
          "type": "string",
          "description": "Output only. The time diagnostic start.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "object": {
          "description": "Output only. The object name.",
          "readOnly": true,
          "type": "string"
        },
        "bucket": {
          "description": "Output only. The bucket name.",
          "readOnly": true,
          "type": "string"
        },
        "namespace": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The namespace name."
        }
      },
      "id": "DeploymentDiagnosticData",
      "description": "The deployment diagnostic data."
    },
    "ListDatabasesResponse": {
      "properties": {
        "databases": {
          "type": "array",
          "description": "The list of Databases.",
          "items": {
            "$ref": "Database"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object",
      "id": "ListDatabasesResponse",
      "description": "The response for `Database.List`."
    },
    "Database": {
      "id": "Database",
      "description": "Details of the Database resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/Database/",
      "properties": {
        "adminPasswordSecretVersion": {
          "description": "Optional. The resource name of a secret version in Secret Manager which contains the database admin user's password. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "characterSet": {
          "description": "Optional. The character set for the database. The default is AL32UTF8.",
          "type": "string"
        },
        "ncharacterSet": {
          "type": "string",
          "description": "Optional. The national character set for the database. The default is AL16UTF16."
        },
        "dbHomeName": {
          "type": "string",
          "description": "Optional. The name of the DbHome resource associated with the Database."
        },
        "opsInsightsStatus": {
          "readOnly": true,
          "enum": [
            "OPERATIONS_INSIGHTS_STATUS_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the operations insights are being enabled.",
            "Indicates that the operations insights are enabled.",
            "Indicates that the operations insights are being disabled.",
            "Indicates that the operations insights are not enabled.",
            "Indicates that the operations insights failed to enable.",
            "Indicates that the operations insights failed to disable."
          ],
          "description": "Output only. The Status of Operations Insights for this Database."
        },
        "adminPassword": {
          "description": "Optional. The password for the default ADMIN user. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The date and time that the Database was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "pluggableDatabaseName": {
          "description": "Optional. The pluggable database associated with the Database. The name must begin with an alphabetic character and can contain a maximum of thirty alphanumeric characters.",
          "type": "string"
        },
        "tdeWalletPassword": {
          "description": "Optional. The TDE wallet password for the database. Note: Only one of `tde_wallet_password_secret_version` or `tde_wallet_password` can be populated.",
          "type": "string"
        },
        "pluggableDatabaseId": {
          "type": "string",
          "description": "Optional. The ID of the pluggable database associated with the Database. The ID must be unique within the project and location."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Database resource in the following format: projects/{project}/locations/{region}/databases/{database}"
        },
        "gcpOracleZone": {
          "description": "Output only. The GCP Oracle zone where the Database is created.",
          "readOnly": true,
          "type": "string"
        },
        "tdeWalletPasswordSecretVersion": {
          "type": "string",
          "description": "Optional. The resource name of a secret version in Secret Manager which contains the TDE wallet password for the database. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `tde_wallet_password_secret_version` or `tde_wallet_password` can be populated."
        },
        "dbUniqueName": {
          "type": "string",
          "description": "Optional. The DB_UNIQUE_NAME of the Oracle Database being backed up."
        },
        "properties": {
          "$ref": "DatabaseProperties",
          "description": "Optional. The properties of the Database."
        },
        "ociUrl": {
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "readOnly": true,
          "type": "string"
        },
        "dbName": {
          "type": "string",
          "description": "Optional. The database name. The name must begin with an alphabetic character and can contain a maximum of eight alphanumeric characters. Special characters are not permitted."
        },
        "databaseId": {
          "description": "Optional. The database ID of the Database.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AmazonS3IcebergStorage": {
      "id": "AmazonS3IcebergStorage",
      "description": "The Amazon S3 Iceberg storage.",
      "properties": {
        "region": {
          "description": "Required. The region of Amazon S3.",
          "type": "string"
        },
        "endpoint": {
          "description": "Optional. The endpoint of Amazon S3.",
          "type": "string"
        },
        "schemeType": {
          "type": "string",
          "enumDescriptions": [
            "Scheme type not specified.",
            "S3 scheme.",
            "S3A scheme."
          ],
          "enum": [
            "SCHEME_TYPE_UNSPECIFIED",
            "S3",
            "S3A"
          ],
          "description": "Required. The scheme type of Amazon S3."
        },
        "bucket": {
          "description": "Required. The bucket of Amazon S3.",
          "type": "string"
        },
        "secretAccessKeySecret": {
          "description": "Optional. The secret access key of Amazon S3.",
          "type": "string"
        },
        "accessKeyId": {
          "type": "string",
          "description": "Required. The access key ID of Amazon S3."
        }
      },
      "type": "object"
    },
    "MinorVersion": {
      "type": "object",
      "properties": {
        "gridImageId": {
          "type": "string",
          "description": "Optional. The ID of the Grid Image."
        },
        "version": {
          "description": "Optional. The valid Oracle grid infrastructure software version.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the MinorVersion resource with the format: projects/{project}/locations/{region}/giVersions/{gi_version}/minorVersions/{minor_version}",
          "type": "string"
        }
      },
      "id": "MinorVersion",
      "description": "MinorVersion represents a minor version of a GI. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/GiMinorVersionSummary/"
    },
    "DbBackupConfig": {
      "properties": {
        "autoBackupEnabled": {
          "description": "Optional. If set to true, enables automatic backups on the database.",
          "type": "boolean"
        },
        "backupDestinationDetails": {
          "type": "array",
          "description": "Optional. Details of the database backup destinations.",
          "items": {
            "$ref": "BackupDestinationDetails"
          }
        },
        "backupDeletionPolicy": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Keeps the backup for predefined time i.e. 72 hours and then delete permanently.",
            "Keeps the backups as per the policy defined for database backups."
          ],
          "enum": [
            "BACKUP_DELETION_POLICY_UNSPECIFIED",
            "DELETE_IMMEDIATELY",
            "DELETE_AFTER_RETENTION_PERIOD"
          ],
          "description": "Optional. This defines when the backups will be deleted after Database termination.",
          "type": "string"
        },
        "autoIncrementalBackupWindow": {
          "description": "Optional. The window in which the incremental backup should be performed on the database. If no value is provided, the default is anytime except the auto full backup day.",
          "enumDescriptions": [
            "Default unspecified value.",
            "12:00 AM - 2:00 AM",
            "2:00 AM - 4:00 AM",
            "4:00 AM - 6:00 AM",
            "6:00 AM - 8:00 AM",
            "8:00 AM - 10:00 AM",
            "10:00 AM - 12:00 PM",
            "12:00 PM - 2:00 PM",
            "2:00 PM - 4:00 PM",
            "4:00 PM - 6:00 PM",
            "6:00 PM - 8:00 PM",
            "8:00 PM - 10:00 PM",
            "10:00 PM - 12:00 AM"
          ],
          "enum": [
            "BACKUP_WINDOW_UNSPECIFIED",
            "SLOT_ONE",
            "SLOT_TWO",
            "SLOT_THREE",
            "SLOT_FOUR",
            "SLOT_FIVE",
            "SLOT_SIX",
            "SLOT_SEVEN",
            "SLOT_EIGHT",
            "SLOT_NINE",
            "SLOT_TEN",
            "SLOT_ELEVEN",
            "SLOT_TWELVE"
          ],
          "type": "string"
        },
        "autoFullBackupWindow": {
          "description": "Optional. The window in which the full backup should be performed on the database. If no value is provided, the default is anytime.",
          "enumDescriptions": [
            "Default unspecified value.",
            "12:00 AM - 2:00 AM",
            "2:00 AM - 4:00 AM",
            "4:00 AM - 6:00 AM",
            "6:00 AM - 8:00 AM",
            "8:00 AM - 10:00 AM",
            "10:00 AM - 12:00 PM",
            "12:00 PM - 2:00 PM",
            "2:00 PM - 4:00 PM",
            "4:00 PM - 6:00 PM",
            "6:00 PM - 8:00 PM",
            "8:00 PM - 10:00 PM",
            "10:00 PM - 12:00 AM"
          ],
          "enum": [
            "BACKUP_WINDOW_UNSPECIFIED",
            "SLOT_ONE",
            "SLOT_TWO",
            "SLOT_THREE",
            "SLOT_FOUR",
            "SLOT_FIVE",
            "SLOT_SIX",
            "SLOT_SEVEN",
            "SLOT_EIGHT",
            "SLOT_NINE",
            "SLOT_TEN",
            "SLOT_ELEVEN",
            "SLOT_TWELVE"
          ],
          "type": "string"
        },
        "retentionPeriodDays": {
          "format": "int32",
          "description": "Optional. The number of days an automatic backup is retained before being automatically deleted. This value determines the earliest point in time to which a database can be restored. Min: 1, Max: 60.",
          "type": "integer"
        },
        "autoFullBackupDay": {
          "type": "string",
          "description": "Optional. The day of the week on which the full backup should be performed on the database. If no value is provided, it will default to Sunday.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      },
      "type": "object",
      "id": "DbBackupConfig",
      "description": "Backup Options for the Database."
    },
    "IdentityConnector": {
      "id": "IdentityConnector",
      "description": "The identity connector details which will allow OCI to securely access the resources in the customer project.",
      "properties": {
        "serviceAgentEmail": {
          "description": "Output only. A google managed service account on which customers can grant roles to access resources in the customer project. Example: `p176944527254-55-75119d87fd8f@gcp-sa-oci.iam.gserviceaccount.com`",
          "readOnly": true,
          "type": "string"
        },
        "connectionState": {
          "type": "string",
          "description": "Output only. The connection state of the identity connector.",
          "enumDescriptions": [
            "Default unspecified value.",
            "The identity pool connection is connected.",
            "The identity pool connection is partially connected.",
            "The identity pool connection is disconnected.",
            "The identity pool connection is in an unknown state."
          ],
          "readOnly": true,
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "CONNECTED",
            "PARTIALLY_CONNECTED",
            "DISCONNECTED",
            "UNKNOWN"
          ]
        }
      },
      "type": "object"
    },
    "AutonomousDatabaseCharacterSet": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the Autonomous Database Character Set resource in the following format: projects/{project}/locations/{region}/autonomousDatabaseCharacterSets/{autonomous_database_character_set}",
          "type": "string"
        },
        "characterSetType": {
          "description": "Output only. The character set type for the Autonomous Database.",
          "enumDescriptions": [
            "Character set type is not specified.",
            "Character set type is set to database.",
            "Character set type is set to national."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "CHARACTER_SET_TYPE_UNSPECIFIED",
            "DATABASE",
            "NATIONAL"
          ]
        },
        "characterSet": {
          "type": "string",
          "description": "Output only. The character set name for the Autonomous Database which is the ID in the resource name.",
          "readOnly": true
        }
      },
      "id": "AutonomousDatabaseCharacterSet",
      "description": "Details of the Autonomous Database character set resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabaseCharacterSets/"
    },
    "ConfigureExascaleCloudExadataInfrastructureRequest": {
      "id": "ConfigureExascaleCloudExadataInfrastructureRequest",
      "description": "The request for `CloudExadataInfrastructure.ConfigureExascale`.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional ID to identify the request."
        },
        "totalStorageSizeGb": {
          "format": "int32",
          "description": "Required. The total storage to be allocated to Exascale in GBs.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ListEntitlementsResponse": {
      "id": "ListEntitlementsResponse",
      "description": "The response for `Entitlement.List`.",
      "type": "object",
      "properties": {
        "entitlements": {
          "type": "array",
          "description": "The list of Entitlements",
          "items": {
            "$ref": "Entitlement"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "CloudVmClusterProperties": {
      "properties": {
        "scanDns": {
          "type": "string",
          "description": "Output only. SCAN DNS name. ex: sp2-yi0xq-scan.ocispdelegated.ocisp10jvnet.oraclevcn.com",
          "readOnly": true
        },
        "scanListenerPortTcpSsl": {
          "description": "Optional. SCAN listener port - TLS",
          "format": "int32",
          "type": "integer"
        },
        "ociUrl": {
          "readOnly": true,
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "type": "string"
        },
        "compartmentId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Compartment ID of cluster."
        },
        "scanListenerPortTcp": {
          "format": "int32",
          "description": "Optional. SCAN listener port - TCP",
          "type": "integer"
        },
        "nodeCount": {
          "type": "integer",
          "description": "Optional. Number of database servers.",
          "format": "int32"
        },
        "ocpuCount": {
          "description": "Optional. OCPU count per VM. Minimum is 0.1.",
          "format": "float",
          "type": "number"
        },
        "diagnosticsDataCollectionOptions": {
          "description": "Optional. Data collection options for diagnostics.",
          "$ref": "DataCollectionOptions"
        },
        "sshPublicKeys": {
          "type": "array",
          "description": "Optional. SSH public keys to be stored with cluster.",
          "items": {
            "type": "string"
          }
        },
        "shape": {
          "type": "string",
          "description": "Output only. Shape of VM Cluster.",
          "readOnly": true
        },
        "licenseType": {
          "type": "string",
          "description": "Required. License type of VM Cluster.",
          "enumDescriptions": [
            "Unspecified",
            "License included part of offer",
            "Bring your own license"
          ],
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ]
        },
        "scanDnsRecordId": {
          "type": "string",
          "description": "Output only. OCID of scan DNS record.",
          "readOnly": true
        },
        "scanIpIds": {
          "type": "array",
          "description": "Output only. OCIDs of scan IPs.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "hostname": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. host name without domain. format: \"-\" with some suffix. ex: sp2-yi0xq where \"sp2\" is the hostname_prefix."
        },
        "memorySizeGb": {
          "description": "Optional. Memory allocated in GBs.",
          "format": "int32",
          "type": "integer"
        },
        "cpuCoreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Number of enabled CPU cores."
        },
        "storageManagementType": {
          "readOnly": true,
          "enum": [
            "STORAGE_MANAGEMENT_TYPE_UNSPECIFIED",
            "ASM",
            "EXASCALE"
          ],
          "type": "string",
          "description": "Output only. The storage management type of the VM Cluster.",
          "enumDescriptions": [
            "Unspecified storage management type.",
            "Automatic Storage Management.",
            "Exascale storage management."
          ]
        },
        "giVersion": {
          "type": "string",
          "description": "Optional. Grid Infrastructure Version."
        },
        "domain": {
          "type": "string",
          "description": "Output only. Parent DNS domain where SCAN DNS and hosts names are qualified. ex: ocispdelegated.ocisp10jvnet.oraclevcn.com",
          "readOnly": true
        },
        "computeModel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified compute model.",
            "Abstract measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers.",
            "Physical measure of compute resources. OCPUs are based on the physical core of a processor."
          ],
          "description": "Output only. The compute model of the VM Cluster.",
          "readOnly": true,
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "COMPUTE_MODEL_ECPU",
            "COMPUTE_MODEL_OCPU"
          ]
        },
        "diskRedundancy": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High - 3 way mirror.",
            "Normal - 2 way mirror."
          ],
          "enum": [
            "DISK_REDUNDANCY_UNSPECIFIED",
            "HIGH",
            "NORMAL"
          ],
          "description": "Optional. The type of redundancy."
        },
        "dataStorageSizeTb": {
          "type": "number",
          "description": "Optional. The data disk group size to be allocated in TBs.",
          "format": "double"
        },
        "systemVersion": {
          "description": "Optional. Operating system version of the image.",
          "type": "string"
        },
        "dbNodeStorageSizeGb": {
          "format": "int32",
          "description": "Optional. Local storage per VM.",
          "type": "integer"
        },
        "sparseDiskgroupEnabled": {
          "description": "Optional. Use exadata sparse snapshots.",
          "type": "boolean"
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Optional. Time zone of VM Cluster to set. Defaults to UTC if not specified."
        },
        "dnsListenerIp": {
          "type": "string",
          "description": "Output only. DNS listener IP.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in maintenance in progress state."
          ],
          "description": "Output only. State of the cluster.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ]
        },
        "hostnamePrefix": {
          "description": "Optional. Prefix for VM cluster host names.",
          "type": "string"
        },
        "dbServerOcids": {
          "type": "array",
          "description": "Optional. OCID of database servers.",
          "items": {
            "type": "string"
          }
        },
        "storageSizeGb": {
          "description": "Output only. The storage allocation for the disk group, in gigabytes (GB).",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "localBackupEnabled": {
          "description": "Optional. Use local backup.",
          "type": "boolean"
        },
        "ocid": {
          "type": "string",
          "description": "Output only. Oracle Cloud Infrastructure ID of VM Cluster.",
          "readOnly": true
        },
        "clusterName": {
          "description": "Optional. OCI Cluster name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudVmClusterProperties",
      "description": "Various properties and settings associated with Exadata VM cluster."
    },
    "GoldengateGroupToRolesMapping": {
      "properties": {
        "securityGroupId": {
          "readOnly": true,
          "description": "Output only. The security group id.",
          "type": "string"
        },
        "operatorGroupId": {
          "type": "string",
          "description": "Output only. The operator group id.",
          "readOnly": true
        },
        "administratorGroupId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The administrator group id."
        },
        "userGroupId": {
          "readOnly": true,
          "description": "Output only. The user group id.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoldengateGroupToRolesMapping",
      "description": "The group to roles mapping of the GoldengateDeployment."
    },
    "SourceConfig": {
      "id": "SourceConfig",
      "description": "The source configuration for the standby Autonomous Database.",
      "properties": {
        "autonomousDatabase": {
          "type": "string",
          "description": "Optional. The name of the primary Autonomous Database that is used to create a Peer Autonomous Database from a source."
        },
        "autoRefreshStartTime": {
          "format": "google-datetime",
          "description": "Optional. The date and time that auto-refreshing will begin for an Autonomous Database refreshable clone. This value controls only the start time for the first refresh operation.",
          "type": "string"
        },
        "autonomousDatabaseBackup": {
          "type": "string",
          "description": "Optional. The name of the Autonomous Database Backup resource with the format: projects/{project}/locations/{region}/autonomousDatabaseBackups/{autonomous_database_backup} Required when source_type is BACKUP_FROM_ID."
        },
        "refreshableMode": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Automatic refresh.",
            "Manual refresh."
          ],
          "enum": [
            "REFRESHABLE_MODE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "Optional. The refresh mode of the clone.",
          "type": "string"
        },
        "autoRefreshPointLagSeconds": {
          "format": "int32",
          "description": "Optional. The time, in seconds, the data of the automatic refreshable clone lags the primary database at the point of refresh.",
          "type": "integer"
        },
        "cloneType": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Creates a new database with the source database's data and metadata.",
            "Creates a new database that includes all the source database schema metadata, but none of the source database data."
          ],
          "enum": [
            "CLONE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA"
          ],
          "description": "Optional. The clone type of the Autonomous Database. This field is only applicable in case of cloning"
        },
        "backupTime": {
          "type": "string",
          "description": "Optional. The timestamp specified for the point-in-time clone of the source Autonomous Database. This field is only applicable in case of BACKUP_FROM_TIMESTAMP source type and when use_latest_available_backup is false.",
          "format": "google-datetime"
        },
        "autoRefreshFrequencySeconds": {
          "format": "int32",
          "description": "Optional. The frequency in seconds a refreshable clone is refreshed after auto-refresh is enabled.",
          "type": "integer"
        },
        "sourceType": {
          "description": "Optional. The source type of the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Clone database from an existing database specified in autonomous_database field.",
            "Create a cross-region disaster recovery peer adb from an existing adb.",
            "Create a refreshable clone from an existing database specified in autonomous_database field.",
            "Create clone from the backup resource.",
            "Create clone from backup specified by backup_time field, or use latest available backup if use_latest_available_backup is true. The autonomous_database field must specify the source database to clone from."
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "CLONE_DATABASE",
            "CROSS_REGION_DISASTER_RECOVERY",
            "CLONE_TO_REFRESHABLE",
            "BACKUP_FROM_ID",
            "BACKUP_FROM_TIMESTAMP"
          ],
          "type": "string"
        },
        "useLatestAvailableBackup": {
          "type": "boolean",
          "description": "Optional. Clone from latest available backup timestamp. This field is only applicable in case of BACKUP_FROM_TIMESTAMP source type."
        },
        "automaticBackupsReplicationEnabled": {
          "type": "boolean",
          "description": "Optional. This field specifies if the replication of automatic backups is enabled when creating a Data Guard."
        }
      },
      "type": "object"
    },
    "RestartAutonomousDatabaseRequest": {
      "type": "object",
      "properties": {},
      "id": "RestartAutonomousDatabaseRequest",
      "description": "The request for `AutonomousDatabase.Restart`."
    },
    "GoldengateRedisConnectionProperties": {
      "id": "GoldengateRedisConnectionProperties",
      "description": "The properties of GoldengateRedisConnection.",
      "properties": {
        "servers": {
          "type": "string",
          "description": "Optional. Comma separated list of Redis server addresses, specified as host:port entries, where :port is optional. If port is not specified, it defaults to 6379. Example: \"server1.example.com:6379,server2.example.com:6379\""
        },
        "securityProtocol": {
          "enumDescriptions": [
            "Security protocol not specified.",
            "Plain text communication.",
            "Transport Layer Security.",
            "Mutual Transport Layer Security."
          ],
          "enum": [
            "REDIS_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS",
            "MTLS"
          ],
          "description": "Optional. Security protocol for Redis.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Redis connection. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses for Redis connection in plain text.",
          "type": "string"
        },
        "redisClusterId": {
          "description": "Optional. The OCID of the Redis cluster.",
          "type": "string"
        },
        "trustStoreFile": {
          "description": "Optional. The base64 encoded content of the TrustStore file.",
          "type": "string"
        },
        "authenticationType": {
          "description": "Optional. Authentication type for Redis.",
          "enumDescriptions": [
            "Authentication type not specified.",
            "No authentication.",
            "Basic authentication."
          ],
          "enum": [
            "REDIS_AUTHENTICATION_TYPE_UNSPECIFIED",
            "NONE",
            "BASIC"
          ],
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology."
        },
        "keyStoreFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the KeyStore file."
        },
        "trustStorePassword": {
          "type": "string",
          "description": "Optional. Input only. The TrustStore password in plain text."
        },
        "technologyType": {
          "description": "Optional. The technology type of RedisConnection.",
          "type": "string"
        },
        "keyStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the KeyStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "trustStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the TrustStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "keyStorePassword": {
          "description": "Optional. Input only. The KeyStore password in plain text.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoldengatePlacement": {
      "properties": {
        "availabilityDomain": {
          "type": "string",
          "description": "Output only. The availability domain.",
          "readOnly": true
        },
        "faultDomain": {
          "type": "string",
          "description": "Output only. The fault domain.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoldengatePlacement",
      "description": "The placement of the GoldengateDeployment."
    },
    "GoldengateOracleConnectionProperties": {
      "id": "GoldengateOracleConnectionProperties",
      "description": "The properties of Goldengate Oracle Database Connection.",
      "properties": {
        "username": {
          "type": "string",
          "description": "Optional. The username Oracle Goldengate uses to connect."
        },
        "sessionMode": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is using direct session mode.",
            "Indicates that the resource is using redirect session mode."
          ],
          "enum": [
            "SESSION_MODE_UNSPECIFIED",
            "DIRECT",
            "REDIRECT"
          ],
          "description": "Optional. The mode of the database connection session to be established by the data client.",
          "type": "string"
        },
        "authenticationMode": {
          "type": "string",
          "description": "Optional. Authentication mode.",
          "enumDescriptions": [
            "Authentication mode not specified.",
            "TLS authentication mode.",
            "MTLS authentication mode."
          ],
          "enum": [
            "ORACLE_AUTHENTICATION_MODE_UNSPECIFIED",
            "TLS",
            "MTLS"
          ]
        },
        "connectionString": {
          "description": "Optional. Connect descriptor or Easy Connect Naming method used to connect to a database.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses in plain text.",
          "type": "string"
        },
        "gcpOracleDatabaseId": {
          "type": "string",
          "description": "Optional. Autonomous AI Database instance id of database in Oracle Database @ Google Cloud. If gcp_oracle_database_id is provided, connection_string must be empty. Format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}"
        },
        "walletFile": {
          "type": "string",
          "description": "Optional. The wallet contents Oracle Goldengate uses to make connections to a database. This attribute is expected to be base64 encoded."
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type."
        }
      },
      "type": "object"
    },
    "ListPluggableDatabasesResponse": {
      "properties": {
        "pluggableDatabases": {
          "description": "The list of PluggableDatabases.",
          "items": {
            "$ref": "PluggableDatabase"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object",
      "id": "ListPluggableDatabasesResponse",
      "description": "The response for `PluggableDatabase.List`."
    },
    "AllConnectionStrings": {
      "id": "AllConnectionStrings",
      "description": "A list of all connection strings that can be used to connect to the Autonomous Database.",
      "properties": {
        "high": {
          "readOnly": true,
          "description": "Output only. The database service provides the highest level of resources to each SQL statement.",
          "type": "string"
        },
        "low": {
          "description": "Output only. The database service provides the least level of resources to each SQL statement.",
          "readOnly": true,
          "type": "string"
        },
        "medium": {
          "readOnly": true,
          "description": "Output only. The database service provides a lower level of resources to each SQL statement.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TestGoldengateConnectionAssignmentResponse": {
      "type": "object",
      "properties": {
        "error": {
          "description": "Error details if test connection failed.",
          "$ref": "TestConnectionAssignmentError"
        },
        "errors": {
          "description": "List of test connection assignment error objects.",
          "items": {
            "$ref": "TestConnectionAssignmentError"
          },
          "type": "array"
        },
        "resultType": {
          "description": "Type of the result i.e. Success, Failure or Timeout.",
          "enumDescriptions": [
            "Result type is unspecified.",
            "Test connection succeeded.",
            "Test connection failed.",
            "Test connection timed out."
          ],
          "enum": [
            "RESULT_TYPE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "TIMED_OUT"
          ],
          "type": "string"
        }
      },
      "id": "TestGoldengateConnectionAssignmentResponse",
      "description": "The result of the connectivity test performed between the Goldengate deployment and the associated database / service."
    },
    "Operation": {
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoldengateHdfsConnectionProperties": {
      "properties": {
        "coreSiteXml": {
          "type": "string",
          "description": "Optional. The content of the Hadoop Distributed File System configuration file (core-site.xml)."
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of HdfsConnection."
        }
      },
      "type": "object",
      "id": "GoldengateHdfsConnectionProperties",
      "description": "The properties of GoldengateHdfsConnection."
    },
    "GoldengateAmazonRedshiftConnectionProperties": {
      "id": "GoldengateAmazonRedshiftConnectionProperties",
      "description": "The properties of GoldengateAmazonRedshiftConnection.",
      "type": "object",
      "properties": {
        "technologyType": {
          "description": "Optional. The technology type of AmazonRedshiftConnection.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Amazon Redshift connection. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology.",
          "type": "string"
        },
        "connectionUrl": {
          "type": "string",
          "description": "Optional. Connection URL. e.g.: 'jdbc:redshift://aws-redshift-instance.aaaaaaaaaaaa.us-east-2.redshift.amazonaws.com:5439/mydb'"
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password Oracle Goldengate uses for Amazon Redshift connection in plain text."
        }
      }
    },
    "ListGoldengateDeploymentTypesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. The resource names of locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "goldengateDeploymentTypes": {
          "type": "array",
          "description": "The list of GoldengateDeploymentType",
          "items": {
            "$ref": "GoldengateDeploymentType"
          }
        }
      },
      "type": "object",
      "id": "ListGoldengateDeploymentTypesResponse",
      "description": "Message for response to listing GoldengateDeploymentTypes"
    },
    "AutonomousDatabaseRefreshableClones": {
      "id": "AutonomousDatabaseRefreshableClones",
      "description": "Response message for getting the Autonomous Database refreshable clones.",
      "properties": {
        "autonomousDatabaseRefreshableClones": {
          "description": "The list of Autonomous Database refreshable clones.",
          "items": {
            "$ref": "AutonomousDatabaseRefreshableClone"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoldengateDeploymentProperties": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The description of the GoldengateDeployment.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time the GoldengateDeployment was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "nsgIds": {
          "description": "Output only. The nsg ids of the GoldengateDeployment.",
          "items": {
            "type": "string"
          },
[...]
