{
  "canonicalName": "Oracle Database",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "endpointUrl": "https://oracledatabase.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://oracledatabase.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://oracledatabase.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://oracledatabase.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://oracledatabase.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://oracledatabase.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    }
  ],
  "revision": "20260629",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    }
  },
  "version_module": true,
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "autonomousDatabaseBackups": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListAutonomousDatabaseBackupsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabaseBackups",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent value for ListAutonomousDatabaseBackups in the following format: projects/{project}/locations/{location}.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An expression for filtering the results of the request. Only the **autonomous_database_id** field is supported in the following format: `autonomous_database_id=\"{autonomous_database_id}\"`. The accepted values must be a valid Autonomous Database ID, limited to the naming restrictions of the ID: ^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$). The ID must start with a letter, end with a letter or a number, and be a maximum of 63 characters.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 Autonomous DB Backups will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists the long-term and automatic backups of an Autonomous Database.",
                  "id": "oracledatabase.projects.locations.autonomousDatabaseBackups.list",
                  "path": "v1/{+parent}/autonomousDatabaseBackups"
                }
              }
            },
            "cloudExadataInfrastructures": {
              "methods": {
                "create": {
                  "id": "oracledatabase.projects.locations.cloudExadataInfrastructures.create",
                  "path": "v1/{+parent}/cloudExadataInfrastructures",
                  "parameters": {
                    "cloudExadataInfrastructureId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID of the Exadata Infrastructure to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent value for CloudExadataInfrastructure in the following format: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "CloudExadataInfrastructure"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new Exadata Infrastructure in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudExadataInfrastructures",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudExadataInfrastructures/{cloudExadataInfrastructuresId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the Cloud Exadata Infrastructure in the following format: projects/{project}/locations/{location}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudExadataInfrastructures/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, all VM clusters for this Exadata Infrastructure will be deleted. An Exadata Infrastructure can only be deleted once all its VM clusters have been deleted.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a single Exadata Infrastructure.",
                  "id": "oracledatabase.projects.locations.cloudExadataInfrastructures.delete",
                  "path": "v1/{+name}"
                },
                "get": {
                  "id": "oracledatabase.projects.locations.cloudExadataInfrastructures.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the Cloud Exadata Infrastructure in the following format: projects/{project}/locations/{location}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudExadataInfrastructures/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets details of a single Exadata Infrastructure.",
                  "response": {
                    "$ref": "CloudExadataInfrastructure"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudExadataInfrastructures/{cloudExadataInfrastructuresId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "configureExascale": {
                  "httpMethod": "POST",
                  "description": "Configures Exascale for a single Exadata Infrastructure.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the Cloud Exadata Infrastructure in the following format: projects/{project}/locations/{location}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudExadataInfrastructures/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "ConfigureExascaleCloudExadataInfrastructureRequest"
                  },
                  "path": "v1/{+name}:configureExascale",
                  "id": "oracledatabase.projects.locations.cloudExadataInfrastructures.configureExascale",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudExadataInfrastructures/{cloudExadataInfrastructuresId}:configureExascale",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListCloudExadataInfrastructuresResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudExadataInfrastructures",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent value for CloudExadataInfrastructure in the following format: projects/{project}/locations/{location}."
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. An expression for ordering the results of the request.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 Exadata infrastructures will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An expression for filtering the results of the request."
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists Exadata Infrastructures in a given project and location.",
                  "id": "oracledatabase.projects.locations.cloudExadataInfrastructures.list",
                  "path": "v1/{+parent}/cloudExadataInfrastructures"
                }
              },
              "resources": {
                "dbServers": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum number of items to return. If unspecified, a maximum of 50 db servers will be returned. The maximum value is 1000; values above 1000 will be reset to 1000."
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/cloudExadataInfrastructures/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent value for database server in the following format: projects/{project}/locations/{location}/cloudExadataInfrastructures/{cloudExadataInfrastructure}."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A token identifying a page of results the server should return."
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Lists the database servers of an Exadata Infrastructure instance.",
                      "id": "oracledatabase.projects.locations.cloudExadataInfrastructures.dbServers.list",
                      "path": "v1/{+parent}/dbServers",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListDbServersResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudExadataInfrastructures/{cloudExadataInfrastructuresId}/dbServers"
                    }
                  }
                }
              }
            },
            "databases": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/databases/{databasesId}",
                  "response": {
                    "$ref": "Database"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "oracledatabase.projects.locations.databases.get",
                  "httpMethod": "GET",
                  "description": "Gets details of a single Database.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the Database resource in the following format: projects/{project}/locations/{region}/databases/{database}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/databases/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListDatabasesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/databases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "oracledatabase.projects.locations.databases.list",
                  "path": "v1/{+parent}/databases",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name in the following format: projects/{project}/locations/{region}",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying the requested page of results to return. All fields except the filter should remain the same as in the request that provided this page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. An expression for filtering the results of the request. list for container databases is supported only with a valid dbSystem (full resource name) filter in this format: `dbSystem=\"projects/{project}/locations/{location}/dbSystems/{dbSystemId}\"`",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of items to return. If unspecified, a maximum of 50 Databases will be returned. The maximum value is 1000; values above 1000 will be reset to 1000."
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists all the Databases for the given project, location and DbSystem."
                }
              }
            },
            "autonomousDatabases": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "AutonomousDatabase"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "oracledatabase.projects.locations.autonomousDatabases.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets the details of a single Autonomous Database."
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "oracledatabase.projects.locations.autonomousDatabases.create",
                  "path": "v1/{+parent}/autonomousDatabases",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the parent in the following format: projects/{project}/locations/{location}.",
                      "type": "string"
                    },
                    "autonomousDatabaseId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID of the Autonomous Database to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number."
                    },
                    "requestId": {
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "AutonomousDatabase"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new Autonomous Database in a given project and location."
                },
                "switchover": {
                  "httpMethod": "POST",
                  "description": "Initiates a switchover of specified autonomous database to the associated peer database.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "SwitchoverAutonomousDatabaseRequest"
                  },
                  "path": "v1/{+name}:switchover",
                  "id": "oracledatabase.projects.locations.autonomousDatabases.switchover",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:switchover",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "failover": {
                  "id": "oracledatabase.projects.locations.autonomousDatabases.failover",
                  "path": "v1/{+name}:failover",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "FailoverAutonomousDatabaseRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Initiates a failover to target autonomous database from the associated primary database.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:failover",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "oracledatabase.projects.locations.autonomousDatabases.delete",
                  "httpMethod": "DELETE",
                  "description": "Deletes a single Autonomous Database.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the resource in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "required": true
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  }
                },
                "list": {
                  "id": "oracledatabase.projects.locations.autonomousDatabases.list",
                  "path": "v1/{+parent}/autonomousDatabases",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent value for the Autonomous Database in the following format: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. An expression for ordering the results of the request.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 Autonomous Database will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An expression for filtering the results of the request."
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists the Autonomous Databases in a given project and location.",
                  "response": {
                    "$ref": "ListAutonomousDatabasesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "restore": {
                  "path": "v1/{+name}:restore",
                  "id": "oracledatabase.projects.locations.autonomousDatabases.restore",
                  "httpMethod": "POST",
                  "description": "Restores a single Autonomous Database.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "RestoreAutonomousDatabaseRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:restore",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "restart": {
                  "httpMethod": "POST",
                  "description": "Restarts an Autonomous Database.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "RestartAutonomousDatabaseRequest"
                  },
                  "path": "v1/{+name}:restart",
                  "id": "oracledatabase.projects.locations.autonomousDatabases.restart",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:restart",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "generateWallet": {
                  "response": {
                    "$ref": "GenerateAutonomousDatabaseWalletResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:generateWallet",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "oracledatabase.projects.locations.autonomousDatabases.generateWallet",
                  "path": "v1/{+name}:generateWallet",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GenerateAutonomousDatabaseWalletRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Generates a wallet for an Autonomous Database."
                },
                "refresh": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:refresh",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Refreshes the refreshable clone of an Autonomous Database.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the AutonomousDatabase resource. Format: projects/{project}/location/{location}/autonomousDatabases/{autonomous_database}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "RefreshAutonomousDatabaseRequest"
                  },
                  "path": "v1/{+name}:refresh",
                  "id": "oracledatabase.projects.locations.autonomousDatabases.refresh"
                },
                "stop": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:stop",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "StopAutonomousDatabaseRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Stops an Autonomous Database.",
                  "id": "oracledatabase.projects.locations.autonomousDatabases.stop",
                  "path": "v1/{+name}:stop"
                },
                "start": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:start",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "oracledatabase.projects.locations.autonomousDatabases.start",
                  "path": "v1/{+name}:start",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "StartAutonomousDatabaseRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Starts an Autonomous Database."
                },
                "getRefreshableClones": {
                  "response": {
                    "$ref": "AutonomousDatabaseRefreshableClones"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:getRefreshableClones",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "oracledatabase.projects.locations.autonomousDatabases.getRefreshableClones",
                  "path": "v1/{+name}:getRefreshableClones",
                  "parameters": {
                    "name": {
                      "description": "Required. The Autonomous Database resource whose refreshable clones are to be listed. Format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets the refreshable clones for a given Autonomous Database."
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "oracledatabase.projects.locations.autonomousDatabases.patch",
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Exadata resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query"
                    },
                    "name": {
                      "description": "Identifier. The name of the Autonomous Database resource in the following format: projects/{project}/locations/{region}/autonomousDatabases/{autonomous_database}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "request": {
                    "$ref": "AutonomousDatabase"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates the parameters of a single Autonomous Database."
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource."
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "oracledatabase.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "oracledatabase.projects.locations.operations.list",
                  "path": "v1/{+name}/operations",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "oracledatabase.projects.locations.operations.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1/{+name}:cancel",
                  "id": "oracledatabase.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "goldengateDeployments": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets details of a single GoldengateDeployment.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the GoldengateDeployment in the following format: projects/{project}/locations/{location}/goldengateDeployments/{goldengate_deployment}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/goldengateDeployments/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "oracledatabase.projects.locations.goldengateDeployments.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateDeployments/{goldengateDeploymentsId}",
                  "response": {
                    "$ref": "GoldengateDeployment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateDeployments",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/goldengateDeployments",
                  "id": "oracledatabase.projects.locations.goldengateDeployments.create",
                  "httpMethod": "POST",
                  "description": "Creates a new GoldengateDeployment in a given project and location.",
                  "parameters": {
                    "goldengateDeploymentId": {
                      "type": "string",
                      "description": "Required. The ID of the GoldengateDeployment to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The value for parent of the GoldengateDeployment in the following format: projects/{project}/locations/{location}.",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "GoldengateDeployment"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the GoldengateDeployment in the following format: projects/{project}/locations/{location}/goldengateDeployments/{goldengate_deployment}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/goldengateDeployments/[^/]+$",
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a single GoldengateDeployment.",
                  "id": "oracledatabase.projects.locations.goldengateDeployments.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateDeployments/{goldengateDeploymentsId}"
                },
                "list": {
                  "response": {
                    "$ref": "ListGoldengateDeploymentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateDeployments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "oracledatabase.projects.locations.goldengateDeployments.list",
                  "path": "v1/{+parent}/goldengateDeployments",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous ListGoldengateDeployments call. Provide this to retrieve the subsequent page.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An expression for filtering the results of the request."
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent value for GoldengateDeployments in the following format: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "orderBy": {
                      "description": "Optional. An expression for ordering the results of the request.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 GoldengateDeployments will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists all the GoldengateDeployments for the given project and location."
                },
                "stop": {
                  "id": "oracledatabase.projects.locations.goldengateDeployments.stop",
                  "path": "v1/{+name}:stop",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/goldengateDeployments/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the Goldengate Deployment in the following format: projects/{project}/locations/{location}/goldengateDeployments/{goldengate_deployment}."
                    }
                  },
                  "request": {
                    "$ref": "StopGoldengateDeploymentRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Stops a single GoldengateDeployment.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateDeployments/{goldengateDeploymentsId}:stop",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "start": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateDeployments/{goldengateDeploymentsId}:start",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "oracledatabase.projects.locations.goldengateDeployments.start",
                  "path": "v1/{+name}:start",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/goldengateDeployments/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the Goldengate Deployment in the following format: projects/{project}/locations/{location}/goldengateDeployments/{goldengate_deployment}.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "StartGoldengateDeploymentRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Starts a single GoldengateDeployment."
                }
              }
            },
            "odbNetworks": {
              "resources": {
                "odbSubnets": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the OdbSubnet in the following format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/odbNetworks/[^/]+/odbSubnets/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Gets details of a single ODB Subnet.",
                      "id": "oracledatabase.projects.locations.odbNetworks.odbSubnets.get",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "OdbSubnet"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/odbNetworks/{odbNetworksId}/odbSubnets/{odbSubnetsId}"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists all the ODB Subnets in a given ODB Network.",
                      "parameters": {
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. An expression for ordering the results of the request.",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/odbNetworks/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent value for the OdbSubnet in the following format: projects/{project}/locations/{location}/odbNetworks/{odb_network}.",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of items to return. If unspecified, at most 50 ODB Networks will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. An expression for filtering the results of the request.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A token identifying a page of results the server should return."
                        }
                      },
                      "path": "v1/{+parent}/odbSubnets",
                      "id": "oracledatabase.projects.locations.odbNetworks.odbSubnets.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/odbNetworks/{odbNetworksId}/odbSubnets",
                      "response": {
                        "$ref": "ListOdbSubnetsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "id": "oracledatabase.projects.locations.odbNetworks.odbSubnets.create",
                      "path": "v1/{+parent}/odbSubnets",
                      "parameters": {
                        "odbSubnetId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The ID of the OdbSubnet to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number."
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/odbNetworks/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent value for the OdbSubnet in the following format: projects/{project}/locations/{location}/odbNetworks/{odb_network}.",
                          "required": true
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "OdbSubnet"
                      },
                      "httpMethod": "POST",
                      "description": "Creates a new ODB Subnet in a given ODB Network.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/odbNetworks/{odbNetworksId}/odbSubnets",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "description": "Deletes a single ODB Subnet.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/odbNetworks/[^/]+/odbSubnets/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the resource in the following format: projects/{project}/locations/{region}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}.",
                          "required": true
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "oracledatabase.projects.locations.odbNetworks.odbSubnets.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/odbNetworks/{odbNetworksId}/odbSubnets/{odbSubnetsId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/odbNetworks",
                  "response": {
                    "$ref": "ListOdbNetworksResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/odbNetworks",
                  "id": "oracledatabase.projects.locations.odbNetworks.list",
                  "httpMethod": "GET",
                  "description": "Lists the ODB Networks in a given project and location.",
                  "parameters": {
                    "filter": {
                      "description": "Optional. An expression for filtering the results of the request.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. An expression for ordering the results of the request.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent value for the ODB Network in the following format: projects/{project}/locations/{location}."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 ODB Networks will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "OdbNetwork"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/odbNetworks/{odbNetworksId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/odbNetworks/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the OdbNetwork in the following format: projects/{project}/locations/{location}/odbNetworks/{odb_network}.",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets details of a single ODB Network.",
                  "id": "oracledatabase.projects.locations.odbNetworks.get",
                  "path": "v1/{+name}"
                },
                "create": {
                  "httpMethod": "POST",
                  "description": "Creates a new ODB Network in a given project and location.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent value for the OdbNetwork in the following format: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "odbNetworkId": {
                      "location": "query",
                      "description": "Required. The ID of the OdbNetwork to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "OdbNetwork"
                  },
                  "path": "v1/{+parent}/odbNetworks",
                  "id": "oracledatabase.projects.locations.odbNetworks.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/odbNetworks",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the resource in the following format: projects/{project}/locations/{location}/odbNetworks/{odb_network}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/odbNetworks/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a single ODB Network.",
                  "id": "oracledatabase.projects.locations.odbNetworks.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/odbNetworks/{odbNetworksId}"
                }
              }
            },
            "dbSystems": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystems/{dbSystemsId}",
                  "response": {
                    "$ref": "DbSystem"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets details of a single DbSystem.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the DbSystem in the following format: projects/{project}/locations/{location}/dbSystems/{db_system}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbSystems/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "oracledatabase.projects.locations.dbSystems.get"
                },
                "list": {
                  "path": "v1/{+parent}/dbSystems",
                  "id": "oracledatabase.projects.locations.dbSystems.list",
                  "httpMethod": "GET",
                  "description": "Lists all the DbSystems for the given project and location.",
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. An expression for ordering the results of the request.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent value for DbSystems in the following format: projects/{project}/locations/{location}.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 DbSystems will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An expression for filtering the results of the request."
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystems",
                  "response": {
                    "$ref": "ListDbSystemsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystems",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "oracledatabase.projects.locations.dbSystems.create",
                  "path": "v1/{+parent}/dbSystems",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The value for parent of the DbSystem in the following format: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "dbSystemId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID of the DbSystem to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number."
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "DbSystem"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new DbSystem in a given project and location."
                },
                "delete": {
                  "path": "v1/{+name}",
                  "id": "oracledatabase.projects.locations.dbSystems.delete",
                  "httpMethod": "DELETE",
                  "description": "Deletes a single DbSystem.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbSystems/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the DbSystem in the following format: projects/{project}/locations/{location}/dbSystems/{db_system}.",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystems/{dbSystemsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "dbSystemShapes": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystemShapes",
                  "response": {
                    "$ref": "ListDbSystemShapesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists the database system shapes available for the project and location.",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 database system shapes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "parent": {
                      "description": "Required. The parent value for Database System Shapes in the following format: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An expression for filtering the results of the request. Only the gcp_oracle_zone_id field is supported in this format: `gcp_oracle_zone_id=\"{gcp_oracle_zone_id}\"`.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/dbSystemShapes",
                  "id": "oracledatabase.projects.locations.dbSystemShapes.list"
                }
              }
            },
            "goldengateConnections": {
              "methods": {
                "get": {
                  "id": "oracledatabase.projects.locations.goldengateConnections.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/goldengateConnections/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the GoldengateConnection in the following format: projects/{project}/locations/{location}/goldengateConnections/{goldengate_connection}."
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets details of a single GoldengateConnection.",
                  "response": {
                    "$ref": "GoldengateConnection"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateConnections/{goldengateConnectionsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateConnections",
                  "response": {
                    "$ref": "ListGoldengateConnectionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists all the GoldengateConnections for the given project and location.",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous ListGoldengateConnections call. Provide this to retrieve the subsequent page."
                    },
                    "orderBy": {
                      "description": "Optional. An expression for ordering the results of the request.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent value for GoldengateConnections in the following format: projects/{project}/locations/{location}.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 GoldengateConnections will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "path": "v1/{+parent}/goldengateConnections",
                  "id": "oracledatabase.projects.locations.goldengateConnections.list"
                },
                "create": {
                  "id": "oracledatabase.projects.locations.goldengateConnections.create",
                  "path": "v1/{+parent}/goldengateConnections",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The value for parent of the GoldengateConnection in the following format: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "goldengateConnectionId": {
                      "description": "Required. The ID of the GoldengateConnection to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoldengateConnection"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new GoldengateConnection in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateConnections",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateConnections/{goldengateConnectionsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes a single GoldengateConnection.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/goldengateConnections/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the GoldengateConnection in the following format: projects/{project}/locations/{location}/goldengateConnections/{goldengate_connection}."
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "oracledatabase.projects.locations.goldengateConnections.delete"
                }
              }
            },
            "cloudVmClusters": {
              "resources": {
                "dbNodes": {
                  "methods": {
                    "list": {
                      "id": "oracledatabase.projects.locations.cloudVmClusters.dbNodes.list",
                      "path": "v1/{+parent}/dbNodes",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/cloudVmClusters/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent value for database node in the following format: projects/{project}/locations/{location}/cloudVmClusters/{cloudVmCluster}. .",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the node should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum number of items to return. If unspecified, at most 50 db nodes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Lists the database nodes of a VM Cluster.",
                      "response": {
                        "$ref": "ListDbNodesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudVmClusters/{cloudVmClustersId}/dbNodes",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
[...]
