{
  "version": "v1",
  "description": "The Oracle Database@Google Cloud API provides a set of APIs to manage Oracle database services, such as Exadata and Autonomous Databases.",
  "id": "oracledatabase:v1",
  "ownerDomain": "google.com",
  "basePath": "",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/oracle/database/docs",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://oracledatabase.googleapis.com/",
  "revision": "20260722",
  "endpoints": [
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://oracledatabase.asia-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://oracledatabase.asia-south2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://oracledatabase.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "location": "australia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://oracledatabase.australia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://oracledatabase.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://oracledatabase.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    }
  ],
  "canonicalName": "Oracle Database",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "baseUrl": "https://oracledatabase.googleapis.com/",
  "schemas": {
    "DbHome": {
      "id": "DbHome",
      "description": "Details of the Database Home resource.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. The display name for the Database Home. The name does not have to be unique within your project.",
          "type": "string"
        },
        "dbVersion": {
          "description": "Required. A valid Oracle Database version. For a list of supported versions, use the ListDbVersions operation.",
          "type": "string"
        },
        "database": {
          "description": "Required. The Database resource.",
          "$ref": "Database"
        },
        "isUnifiedAuditingEnabled": {
          "description": "Optional. Whether unified auditing is enabled for the Database Home.",
          "type": "boolean"
        }
      }
    },
    "GoldengateJavaMessageServiceConnectionProperties": {
      "id": "GoldengateJavaMessageServiceConnectionProperties",
      "description": "The properties of GoldengateJavaMessageServiceConnection.",
      "type": "object",
      "properties": {
        "jndiSecurityPrincipal": {
          "description": "Optional. Specifies the identity of the principal (user) to be authenticated.",
          "type": "string"
        },
        "keyStorePassword": {
          "description": "Optional. Input only. The KeyStore password in plain text.",
          "type": "string"
        },
        "authenticationType": {
          "description": "Optional. Authentication type for Java Message Service.",
          "type": "string",
          "enum": [
            "JMS_AUTHENTICATION_TYPE_UNSPECIFIED",
            "NONE",
            "BASIC"
          ],
          "enumDescriptions": [
            "Authentication type not specified.",
            "No authentication.",
            "Basic authentication."
          ]
        },
        "connectionFactory": {
          "description": "Optional. The Java class implementing javax.jms.ConnectionFactory interface supplied by the JMS provider.",
          "type": "string"
        },
        "sslKeyPasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password for the cert inside of the KeyStore. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "trustStoreFile": {
          "description": "Optional. The base64 encoded content of the TrustStore file.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses to connect the associated Java Message Service. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "trustStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the TrustStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "connectionUrl": {
          "description": "Optional. Connection URL of the Java Message Service, specifying the protocol, host, and port. e.g.: 'mq://myjms.host.domain:7676'",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses to connect the Java Message Service in plain text.",
          "type": "string"
        },
        "trustStorePassword": {
          "description": "Optional. Input only. The TrustStore password in plain text.",
          "type": "string"
        },
        "keyStoreFile": {
          "description": "Optional. The base64 encoded content of the KeyStore file.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of JavaMessageServiceConnection.",
          "type": "string"
        },
        "securityProtocol": {
          "enumDescriptions": [
            "Security protocol not specified.",
            "Plain text communication.",
            "Transport Layer Security.",
            "Mutual Transport Layer Security."
          ],
          "description": "Optional. Security protocol for Java Message Service.",
          "type": "string",
          "enum": [
            "JMS_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS",
            "MTLS"
          ]
        },
        "jndiProviderUrl": {
          "description": "Optional. The URL that Java Message Service will use to contact the JNDI provider. e.g.: 'tcp://myjms.host.domain:61616?jms.prefetchPolicy.all=1000'",
          "type": "string"
        },
        "jndiConnectionFactory": {
          "description": "Optional. The Connection Factory can be looked up using this name. e.g.: 'ConnectionFactory'",
          "type": "string"
        },
        "keyStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the KeyStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "jndiInitialContextFactory": {
          "description": "Optional. The implementation of javax.naming.spi.InitialContextFactory interface used to obtain initial naming context.",
          "type": "string"
        },
        "sslKeyPassword": {
          "description": "Optional. Input only. The password for the cert inside of the KeyStore in plain text.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect to the Java Message Service.",
          "type": "string"
        },
        "useJndi": {
          "description": "Optional. If set to true, Java Naming and Directory Interface (JNDI) properties should be provided.",
          "type": "boolean"
        },
        "jndiSecurityCredentialsSecret": {
          "description": "Optional. The password associated to the principal.",
          "type": "string"
        }
      }
    },
    "DbSystemOptions": {
      "id": "DbSystemOptions",
      "description": "Details of the DbSystem Options.",
      "type": "object",
      "properties": {
        "storageManagement": {
          "description": "Optional. The storage option used in DB system.",
          "type": "string",
          "enum": [
            "STORAGE_MANAGEMENT_UNSPECIFIED",
            "ASM",
            "LVM"
          ],
          "enumDescriptions": [
            "The storage management is unspecified.",
            "Automatic storage management. This option is not supported. Only LVM is supported.",
            "Logical Volume management."
          ]
        }
      }
    },
    "GoldengateGenericConnectionProperties": {
      "id": "GoldengateGenericConnectionProperties",
      "description": "The properties of GoldengateGenericConnectionProperties.",
      "type": "object",
      "properties": {
        "technologyType": {
          "description": "Optional. The technology type.",
          "type": "string"
        },
        "host": {
          "description": "Optional. The host of the GenericConnection.",
          "type": "string"
        }
      }
    },
    "ListGiVersionsResponse": {
      "id": "ListGiVersionsResponse",
      "description": "The response for `GiVersion.List`.",
      "type": "object",
      "properties": {
        "giVersions": {
          "items": {
            "$ref": "GiVersion"
          },
          "description": "The list of Oracle Grid Infrastructure (GI) versions.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "DbVersion": {
      "id": "DbVersion",
      "description": "A valid Oracle Database version.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of the DbVersion resource in the following format: projects/{project}/locations/{region}/dbVersions/{db_version}",
          "readOnly": true,
          "type": "string"
        },
        "properties": {
          "description": "Output only. The properties of the DbVersion.",
          "readOnly": true,
          "$ref": "DbVersionProperties"
        }
      }
    },
    "DbVersionProperties": {
      "id": "DbVersionProperties",
      "description": "The properties of a DbVersion.",
      "type": "object",
      "properties": {
        "isUpgradeSupported": {
          "description": "Output only. True if this version of the Oracle Database software is supported for Upgrade.",
          "readOnly": true,
          "type": "boolean"
        },
        "version": {
          "description": "Output only. A valid Oracle Database version.",
          "readOnly": true,
          "type": "string"
        },
        "supportsPdb": {
          "description": "Output only. True if this version of the Oracle Database software supports pluggable databases.",
          "readOnly": true,
          "type": "boolean"
        },
        "isLatestForMajorVersion": {
          "description": "Output only. True if this version of the Oracle Database software is the latest version for a release.",
          "readOnly": true,
          "type": "boolean"
        },
        "isPreviewDbVersion": {
          "description": "Output only. True if this version of the Oracle Database software is the preview version.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "ListMinorVersionsResponse": {
      "id": "ListMinorVersionsResponse",
      "description": "The response for `MinorVersion.List`.",
      "type": "object",
      "properties": {
        "minorVersions": {
          "description": "The list of MinorVersions.",
          "type": "array",
          "items": {
            "$ref": "MinorVersion"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "AutonomousDatabaseCharacterSet": {
      "id": "AutonomousDatabaseCharacterSet",
      "description": "Details of the Autonomous Database character set resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabaseCharacterSets/",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the Autonomous Database Character Set resource in the following format: projects/{project}/locations/{region}/autonomousDatabaseCharacterSets/{autonomous_database_character_set}",
          "type": "string"
        },
        "characterSet": {
          "description": "Output only. The character set name for the Autonomous Database which is the ID in the resource name.",
          "readOnly": true,
          "type": "string"
        },
        "characterSetType": {
          "description": "Output only. The character set type for the Autonomous Database.",
          "readOnly": true,
          "enumDescriptions": [
            "Character set type is not specified.",
            "Character set type is set to database.",
            "Character set type is set to national."
          ],
          "type": "string",
          "enum": [
            "CHARACTER_SET_TYPE_UNSPECIFIED",
            "DATABASE",
            "NATIONAL"
          ]
        }
      }
    },
    "RestIcebergCatalog": {
      "id": "RestIcebergCatalog",
      "description": "The REST Iceberg catalog.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. The REST uri.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. The base64 encoded content of the configuration file containing additional properties for the REST catalog.",
          "type": "string"
        }
      }
    },
    "ExascaleConfig": {
      "id": "ExascaleConfig",
      "description": "Details of the Exascale configuration for the Exadata Infrastructure.",
      "type": "object",
      "properties": {
        "totalStorageSizeGb": {
          "description": "Output only. Total storage size needed for Exascale in GBs.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "availableStorageSizeGb": {
          "description": "Output only. Available storage size for Exascale in GBs.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TimeZone": {
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      }
    },
    "DbSystemInitialStorageSizeProperties": {
      "id": "DbSystemInitialStorageSizeProperties",
      "description": "The properties of a DbSystem initial storage size summary.",
      "type": "object",
      "properties": {
        "launchFromBackupStorageSizeDetails": {
          "items": {
            "$ref": "StorageSizeDetails"
          },
          "description": "Output only. List of storage disk details available for launches from backup.",
          "readOnly": true,
          "type": "array"
        },
        "storageManagement": {
          "type": "string",
          "enum": [
            "STORAGE_MANAGEMENT_UNSPECIFIED",
            "ASM",
            "LVM"
          ],
          "enumDescriptions": [
            "Unspecified storage management.",
            "Automatic Storage Management.",
            "Logical Volume Management."
          ],
          "description": "Output only. The storage option used in DB system.",
          "readOnly": true
        },
        "storageSizeDetails": {
          "items": {
            "$ref": "StorageSizeDetails"
          },
          "description": "Output only. List of storage disk details.",
          "readOnly": true,
          "type": "array"
        },
        "shapeType": {
          "type": "string",
          "enum": [
            "SHAPE_TYPE_UNSPECIFIED",
            "STANDARD_X86"
          ],
          "enumDescriptions": [
            "Unspecified shape type.",
            "Standard X86."
          ],
          "description": "Output only. VM shape platform type",
          "readOnly": true
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      }
    },
    "ListGoldengateConnectionTypesResponse": {
      "id": "ListGoldengateConnectionTypesResponse",
      "description": "Message for response to listing GoldengateConnectionTypes",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        },
        "goldengateConnectionTypes": {
          "description": "The list of GoldengateConnectionType",
          "type": "array",
          "items": {
            "$ref": "GoldengateConnectionType"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoldengateDeploymentVersionProperties": {
      "id": "GoldengateDeploymentVersionProperties",
      "description": "Properties of GoldengateDeploymentVersion.",
      "type": "object",
      "properties": {
        "supportEndTime": {
          "description": "Output only. The support end time of the Goldengate Deployment Version resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "securityFix": {
          "description": "Optional. Whether the Goldengate Deployment Version resource is a security fix.",
          "type": "boolean"
        },
        "deploymentType": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_TYPE_UNSPECIFIED",
            "OGG",
            "DATABASE_ORACLE",
            "BIGDATA",
            "DATABASE_MICROSOFT_SQLSERVER",
            "DATABASE_MYSQL",
            "DATABASE_POSTGRESQL",
            "DATABASE_DB2ZOS",
            "DATABASE_DB2I",
            "GGSA",
            "DATA_TRANSFORMS"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Goldengate Deployment Type category is OGG.",
            "Goldengate Deployment Type category is DATABASE_ORACLE.",
            "Goldengate Deployment Type category is BIGDATA.",
            "Goldengate Deployment Type category is DATABASE_MICROSOFT_SQLSERVER.",
            "Goldengate Deployment Type category is DATABASE_MYSQL.",
            "Goldengate Deployment Type category is DATABASE_POSTGRESQL.",
            "Goldengate Deployment Type category is DATABASE_DB2ZOS.",
            "Goldengate Deployment Type category is DATABASE_DB2I.",
            "Goldengate Deployment Type category is GGSA.",
            "Goldengate Deployment Type category is DATA_TRANSFORMS."
          ],
          "description": "Output only. The deployment type of the Goldengate Deployment Version resource.",
          "readOnly": true
        },
        "oggVersion": {
          "description": "Output only. The OGG version of the Goldengate Deployment Version resource.",
          "readOnly": true,
          "type": "string"
        },
        "releaseTime": {
          "description": "Output only. The release time of the Goldengate Deployment Version resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "releaseType": {
          "description": "Output only. The release type of the Goldengate Deployment Version resource.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Goldengate Deployment Version release type is MAJOR.",
            "Goldengate Deployment Version release type is BUNDLE.",
            "Goldengate Deployment Version release type is MINOR."
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_RELEASE_TYPE_UNSPECIFIED",
            "MAJOR",
            "BUNDLE",
            "MINOR"
          ]
        }
      }
    },
    "AutonomousDatabaseRefreshableClone": {
      "id": "AutonomousDatabaseRefreshableClone",
      "description": "An Autonomous Database refreshable clone",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The GCP resource name of the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "region": {
          "description": "Output only. The Google Cloud region where the refreshable clone exists.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "StorageSizeDetails": {
      "id": "StorageSizeDetails",
      "description": "The initial storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
      "type": "object",
      "properties": {
        "dataStorageSizeInGbs": {
          "description": "Output only. The data storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "recoStorageSizeInGbs": {
          "description": "Output only. The RECO/REDO storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "StartGoldengateDeploymentRequest": {
      "id": "StartGoldengateDeploymentRequest",
      "description": "The request for `GoldengateDeployment.Start`.",
      "type": "object",
      "properties": {}
    },
    "GoldengatePlacement": {
      "id": "GoldengatePlacement",
      "description": "The placement of the GoldengateDeployment.",
      "type": "object",
      "properties": {
        "availabilityDomain": {
          "description": "Output only. The availability domain.",
          "readOnly": true,
          "type": "string"
        },
        "faultDomain": {
          "description": "Output only. The fault domain.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "IdentityConnector": {
      "id": "IdentityConnector",
      "description": "The identity connector details which will allow OCI to securely access the resources in the customer project.",
      "type": "object",
      "properties": {
        "serviceAgentEmail": {
          "description": "Output only. A google managed service account on which customers can grant roles to access resources in the customer project. Example: `p176944527254-55-75119d87fd8f@gcp-sa-oci.iam.gserviceaccount.com`",
          "readOnly": true,
          "type": "string"
        },
        "connectionState": {
          "type": "string",
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "CONNECTED",
            "PARTIALLY_CONNECTED",
            "DISCONNECTED",
            "UNKNOWN"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "The identity pool connection is connected.",
            "The identity pool connection is partially connected.",
            "The identity pool connection is disconnected.",
            "The identity pool connection is in an unknown state."
          ],
          "description": "Output only. The connection state of the identity connector.",
          "readOnly": true
        }
      }
    },
    "PluggableDatabaseNodeLevelDetails": {
      "id": "PluggableDatabaseNodeLevelDetails",
      "description": "The Pluggable Database Node Level Details.",
      "type": "object",
      "properties": {
        "pluggableDatabaseId": {
          "description": "Required. The OCID of the Pluggable Database.",
          "type": "string"
        },
        "nodeName": {
          "description": "Required. The Node name of the Database home.",
          "type": "string"
        },
        "openMode": {
          "enumDescriptions": [
            "The open mode is unspecified.",
            "The pluggable database is opened in read-only mode.",
            "The pluggable database is opened in read-write mode.",
            "The pluggable database is mounted.",
            "The pluggable database is migrated."
          ],
          "description": "Required. The mode that the pluggable database is in to open it.",
          "type": "string",
          "enum": [
            "PLUGGABLE_DATABASE_OPEN_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "MOUNTED",
            "MIGRATE"
          ]
        }
      }
    },
    "DataCollectionOptions": {
      "id": "DataCollectionOptions",
      "description": "Data collection options for diagnostics.",
      "type": "object",
      "properties": {
        "healthMonitoringEnabled": {
          "description": "Optional. Indicates whether health monitoring is enabled for the VM cluster",
          "type": "boolean"
        },
        "diagnosticsEventsEnabled": {
          "description": "Optional. Indicates whether diagnostic collection is enabled for the VM cluster",
          "type": "boolean"
        },
        "incidentLogsEnabled": {
          "description": "Optional. Indicates whether incident logs and trace collection are enabled for the VM cluster",
          "type": "boolean"
        }
      }
    },
    "GoldengateDatabricksConnectionProperties": {
      "id": "GoldengateDatabricksConnectionProperties",
      "description": "The properties of GoldengateDatabricksConnection.",
      "type": "object",
      "properties": {
        "technologyType": {
          "description": "Optional. The technology type of DatabricksConnection.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password used to connect to Databricks in plain text.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password used to connect to Databricks. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "authenticationType": {
          "enumDescriptions": [
            "Authentication type not specified.",
            "Personal access token authentication.",
            "OAuth M2M authentication."
          ],
          "description": "Optional. Authentication type for Databricks.",
          "type": "string",
          "enum": [
            "DATABRICKS_AUTHENTICATION_TYPE_UNSPECIFIED",
            "PERSONAL_ACCESS_TOKEN",
            "OAUTH_M2M"
          ]
        },
        "connectionUrl": {
          "description": "Optional. Connection URL. e.g.: 'jdbc:databricks://adb-33934.4.azuredatabricks.net:443/default;transportMode=http;ssl=1;httpPath=sql/protocolv1/o/3393########44/0##3-7-hlrb'",
          "type": "string"
        },
        "storageCredential": {
          "description": "Optional. External storage credential name to access files on object storage such as ADLS Gen2, S3 or Cloud Storage.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. OAuth client secret, only applicable for authentication_type == OAUTH_M2M",
          "type": "string"
        },
        "clientId": {
          "description": "Optional. OAuth client id, only applicable for authentication_type == OAUTH_M2M",
          "type": "string"
        }
      }
    },
    "GenerateAutonomousDatabaseWalletRequest": {
      "id": "GenerateAutonomousDatabaseWalletRequest",
      "description": "The request for `AutonomousDatabase.GenerateWallet`.",
      "type": "object",
      "properties": {
        "isRegional": {
          "description": "Optional. True when requesting regional connection strings in PDB connect info, applicable to cross-region Data Guard only.",
          "type": "boolean"
        },
        "password": {
          "description": "Required. The password used to encrypt the keys inside the wallet. The password must be a minimum of 8 characters.",
          "type": "string"
        },
        "type": {
          "description": "Optional. The type of wallet generation for the Autonomous Database. The default value is SINGLE.",
          "type": "string",
          "enum": [
            "GENERATE_TYPE_UNSPECIFIED",
            "ALL",
            "SINGLE"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Used to generate wallet for all databases in the region.",
            "Used to generate wallet for a single database."
          ]
        }
      }
    },
    "ListExadbVmClustersResponse": {
      "id": "ListExadbVmClustersResponse",
      "description": "The response for `ExadbVmCluster.List`.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "exadbVmClusters": {
          "items": {
            "$ref": "ExadbVmCluster"
          },
          "description": "The list of ExadbVmClusters.",
          "type": "array"
        }
      }
    },
    "GoldengateGoldengateConnectionProperties": {
      "id": "GoldengateGoldengateConnectionProperties",
      "description": "The properties of GoldengateGoldengateConnectionProperties.",
      "type": "object",
      "properties": {
        "technologyType": {
          "description": "Optional. The technology type.",
          "type": "string"
        },
        "host": {
          "description": "Optional. The host of the GoldengateConnection.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username credential.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password used to connect to the Oracle Goldengate in plain text.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password used to connect to the Oracle Goldengate. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "port": {
          "description": "Optional. The port of the GoldengateConnection.",
          "type": "integer",
          "format": "int32"
        },
        "goldengateDeploymentId": {
          "description": "Optional. The name of the GoldengateDeployment associated with the GoldengateConnection. Format: projects/{project}/locations/{location}/goldengateDeployments/{goldengate_deployment}",
          "type": "string"
        }
      }
    },
    "TestGoldengateConnectionAssignmentResponse": {
      "id": "TestGoldengateConnectionAssignmentResponse",
      "description": "The result of the connectivity test performed between the Goldengate deployment and the associated database / service.",
      "type": "object",
      "properties": {
        "errors": {
          "description": "List of test connection assignment error objects.",
          "type": "array",
          "items": {
            "$ref": "TestConnectionAssignmentError"
          }
        },
        "resultType": {
          "description": "Type of the result i.e. Success, Failure or Timeout.",
          "type": "string",
          "enum": [
            "RESULT_TYPE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "TIMED_OUT"
          ],
          "enumDescriptions": [
            "Result type is unspecified.",
            "Test connection succeeded.",
            "Test connection failed.",
            "Test connection timed out."
          ]
        },
        "error": {
          "description": "Error details if test connection failed.",
          "$ref": "TestConnectionAssignmentError"
        }
      }
    },
    "GoldengateBackupSchedule": {
      "id": "GoldengateBackupSchedule",
      "description": "The backup schedule of the GoldengateDeployment.",
      "type": "object",
      "properties": {
        "compartmentId": {
          "description": "Output only. The compartment id.",
          "readOnly": true,
          "type": "string"
        },
        "namespace": {
          "description": "Output only. The namespace name.",
          "readOnly": true,
          "type": "string"
        },
        "backupScheduledTime": {
          "description": "Output only. The timestamp of when the backup was scheduled.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "bucket": {
          "description": "Output only. The bucket name.",
          "readOnly": true,
          "type": "string"
        },
        "metadataOnly": {
          "description": "Output only. If metadata only.",
          "readOnly": true,
          "type": "boolean"
        },
        "frequencyBackupScheduled": {
          "description": "Output only. The frequency backup scheduled.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "FREQUENCY_BACKUP_SCHEDULED_UNSPECIFIED",
            "DAILY",
            "WEEKLY",
            "MONTHLY"
          ],
          "enumDescriptions": [
            "The frequency backup scheduled is unspecified.",
            "The frequency backup scheduled is daily.",
            "The frequency backup scheduled is weekly.",
            "The frequency backup scheduled is monthly."
          ]
        }
      }
    },
    "DbNode": {
      "id": "DbNode",
      "description": "Details of the database node resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbNode/",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the database node resource in the following format: projects/{project}/locations/{location}/cloudVmClusters/{cloud_vm_cluster}/dbNodes/{db_node}",
          "type": "string"
        },
        "properties": {
          "description": "Optional. Various properties of the database node.",
          "$ref": "DbNodeProperties"
        }
      }
    },
    "Database": {
      "id": "Database",
      "description": "Details of the Database resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/Database/",
      "type": "object",
      "properties": {
        "tdeWalletPasswordSecretVersion": {
          "description": "Optional. The resource name of a secret version in Secret Manager which contains the TDE wallet password for the database. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `tde_wallet_password_secret_version` or `tde_wallet_password` can be populated.",
          "type": "string"
        },
        "adminPasswordSecretVersion": {
          "description": "Optional. The resource name of a secret version in Secret Manager which contains the database admin user's password. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "pluggableDatabaseName": {
          "description": "Optional. The pluggable database associated with the Database. The name must begin with an alphabetic character and can contain a maximum of thirty alphanumeric characters.",
          "type": "string"
        },
        "properties": {
          "$ref": "DatabaseProperties",
          "description": "Optional. The properties of the Database."
        },
        "name": {
          "description": "Identifier. The name of the Database resource in the following format: projects/{project}/locations/{region}/databases/{database}",
          "type": "string"
        },
        "gcpOracleZone": {
          "description": "Output only. The GCP Oracle zone where the Database is created.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The date and time that the Database was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "tdeWalletPassword": {
          "description": "Optional. The TDE wallet password for the database. Note: Only one of `tde_wallet_password_secret_version` or `tde_wallet_password` can be populated.",
          "type": "string"
        },
        "adminPassword": {
          "description": "Optional. The password for the default ADMIN user. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "pluggableDatabaseId": {
          "description": "Optional. The ID of the pluggable database associated with the Database. The ID must be unique within the project and location.",
          "type": "string"
        },
        "ncharacterSet": {
          "description": "Optional. The national character set for the database. The default is AL16UTF16.",
          "type": "string"
        },
        "dbName": {
          "description": "Optional. The database name. The name must begin with an alphabetic character and can contain a maximum of eight alphanumeric characters. Special characters are not permitted.",
          "type": "string"
        },
        "opsInsightsStatus": {
          "description": "Output only. The Status of Operations Insights for this Database.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the operations insights are being enabled.",
            "Indicates that the operations insights are enabled.",
            "Indicates that the operations insights are being disabled.",
            "Indicates that the operations insights are not enabled.",
            "Indicates that the operations insights failed to enable.",
            "Indicates that the operations insights failed to disable."
          ],
          "type": "string",
          "enum": [
            "OPERATIONS_INSIGHTS_STATUS_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ]
        },
        "databaseId": {
          "description": "Optional. The database ID of the Database.",
          "type": "string"
        },
        "dbUniqueName": {
          "description": "Optional. The DB_UNIQUE_NAME of the Oracle Database being backed up.",
          "type": "string"
        },
        "characterSet": {
          "description": "Optional. The character set for the database. The default is AL32UTF8.",
          "type": "string"
        },
        "dbHomeName": {
          "description": "Optional. The name of the DbHome resource associated with the Database.",
          "type": "string"
        },
        "ociUrl": {
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoldengateGroupToRolesMapping": {
      "id": "GoldengateGroupToRolesMapping",
      "description": "The group to roles mapping of the GoldengateDeployment.",
      "type": "object",
      "properties": {
        "operatorGroupId": {
          "description": "Output only. The operator group id.",
          "readOnly": true,
          "type": "string"
        },
        "userGroupId": {
          "description": "Output only. The user group id.",
          "readOnly": true,
          "type": "string"
        },
        "securityGroupId": {
          "description": "Output only. The security group id.",
          "readOnly": true,
          "type": "string"
        },
        "administratorGroupId": {
          "description": "Output only. The administrator group id.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoldengateMongodbConnectionProperties": {
      "id": "GoldengateMongodbConnectionProperties",
      "description": "The properties of GoldengateMongodbConnection.",
      "type": "object",
      "properties": {
        "tlsCertificateKeyFilePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the Client Certificate key file password in Secret Manager. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect to the database.",
          "type": "string"
        },
        "databaseId": {
          "description": "Optional. The OCID of the Oracle Autonomous Json Database.",
          "type": "string"
        },
        "tlsCaFile": {
          "description": "Optional. Database Certificate - The base64 encoded content of a .pem file, containing the server public key (for 1 and 2-way SSL).",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses to connect the Mongodb connection. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of MongodbConnection.",
          "type": "string"
        },
        "securityProtocol": {
          "enumDescriptions": [
            "Security type not specified.",
            "Plain text communication.",
            "Transport Layer Security.",
            "Mutual Transport Layer Security."
          ],
          "description": "Optional. Security Type for MongoDB.",
          "type": "string",
          "enum": [
            "MONGODB_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS",
            "MTLS"
          ]
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses to connect the Mongodb connection in plain text.",
          "type": "string"
        },
        "connectionString": {
          "description": "Optional. MongoDB connection string. e.g.: 'mongodb://mongodb0.example.com:27017/recordsrecords'",
          "type": "string"
        },
        "tlsCertificateKeyFile": {
          "description": "Optional. Client Certificate - The base64 encoded content of a .pem file, containing the client public key (for 2-way SSL).",
          "type": "string"
        },
        "tlsCertificateKeyFilePassword": {
          "description": "Optional. Input only. The Client Certificate key file password in plain text.",
          "type": "string"
        }
      }
    },
    "PluggableDatabase": {
      "id": "PluggableDatabase",
      "description": "The PluggableDatabase resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/PluggableDatabase/",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Optional. The properties of the PluggableDatabase.",
          "$ref": "PluggableDatabaseProperties"
        },
        "ociUrl": {
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The date and time that the PluggableDatabase was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The name of the PluggableDatabase resource in the following format: projects/{project}/locations/{region}/pluggableDatabases/{pluggable_database}",
          "type": "string"
        }
      }
    },
    "EncryptionKey": {
      "id": "EncryptionKey",
      "description": "The encryption key used to encrypt the Autonomous Database.",
      "type": "object",
      "properties": {
        "provider": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Google Managed KMS key, if selected, please provide the KMS key name.",
            "Oracle Managed."
          ],
          "description": "Optional. The provider of the encryption key.",
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GOOGLE_MANAGED",
            "ORACLE_MANAGED"
          ]
        },
        "kmsKey": {
          "description": "Optional. The KMS key used to encrypt the Autonomous Database. This field is required if the provider is GOOGLE_MANAGED. The name of the KMS key resource in the following format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`.",
          "type": "string"
        }
      }
    },
    "GoldengateMicrosoftFabricConnectionProperties": {
      "id": "GoldengateMicrosoftFabricConnectionProperties",
      "description": "The properties of GoldengateMicrosoftFabricConnection.",
      "type": "object",
      "properties": {
        "clientSecret": {
          "description": "Optional. Client secret associated with the client id.",
          "type": "string"
        },
        "clientId": {
          "description": "Optional. Azure client ID of the application.",
          "type": "string"
        },
        "endpoint": {
          "description": "Optional. Optional Microsoft Fabric service endpoint. Default value: https://onelake.dfs.fabric.microsoft.com",
          "type": "string"
        },
        "tenantId": {
          "description": "Optional. Azure tenant ID of the application.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of MicrosoftFabricConnection.",
          "type": "string"
        }
      }
    },
    "PluggableDatabaseConnectionStrings": {
      "id": "PluggableDatabaseConnectionStrings",
      "description": "The connection strings used to connect to the Oracle Database.",
      "type": "object",
      "properties": {
        "allConnectionStrings": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. All connection strings to use to connect to the pluggable database.",
          "type": "object"
        },
        "pdbIpDefault": {
          "description": "Optional. The default connection string to use to connect to the pluggable database using IP.",
          "type": "string"
        },
        "pdbDefault": {
          "description": "Optional. The default connection string to use to connect to the pluggable database.",
          "type": "string"
        }
      }
    },
    "CloudExadataInfrastructure": {
      "id": "CloudExadataInfrastructure",
      "description": "Represents CloudExadataInfrastructure resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/CloudExadataInfrastructure/",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the Exadata Infrastructure resource with the format: projects/{project}/locations/{region}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels or tags associated with the resource.",
          "type": "object"
        },
        "createTime": {
          "description": "Output only. The date and time that the Exadata Infrastructure was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. User friendly name for this resource.",
          "type": "string"
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle Exadata Infrastructure is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. Various properties of the infra.",
          "$ref": "CloudExadataInfrastructureProperties"
        },
        "entitlementId": {
          "description": "Output only. Entitlement ID of the private offer against which this infrastructure resource is provisioned.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoldengateMaintenanceWindow": {
      "id": "GoldengateMaintenanceWindow",
      "description": "The maintenance window of the GoldengateDeployment.",
      "type": "object",
      "properties": {
        "day": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Required. Days of the week.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "startHour": {
          "description": "Required. Start hour for maintenance period. Hour is in UTC.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListExascaleDbStorageVaultsResponse": {
      "id": "ListExascaleDbStorageVaultsResponse",
      "description": "The response for `ExascaleDbStorageVault.List`.",
      "type": "object",
      "properties": {
        "exascaleDbStorageVaults": {
          "items": {
            "$ref": "ExascaleDbStorageVault"
          },
          "description": "The ExascaleDbStorageVaults.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. If present, the next page token can be provided to a subsequent ListExascaleDbStorageVaults call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array"
        }
      }
    },
    "AutonomousDatabaseConnectionStrings": {
      "id": "AutonomousDatabaseConnectionStrings",
      "description": "The connection string used to connect to the Autonomous Database. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseConnectionStrings",
      "type": "object",
      "properties": {
        "high": {
          "description": "Output only. The database service provides the highest level of resources to each SQL statement.",
          "readOnly": true,
          "type": "string"
        },
        "dedicated": {
          "description": "Output only. The database service provides the least level of resources to each SQL statement, but supports the most number of concurrent SQL statements.",
          "readOnly": true,
          "type": "string"
        },
        "medium": {
          "description": "Output only. The database service provides a lower level of resources to each SQL statement.",
          "readOnly": true,
          "type": "string"
        },
        "allConnectionStrings": {
          "$ref": "AllConnectionStrings",
          "description": "Output only. Returns all connection strings that can be used to connect to the Autonomous Database.",
          "readOnly": true
        },
        "low": {
          "description": "Output only. The database service provides the least level of resources to each SQL statement.",
          "readOnly": true,
          "type": "string"
        },
        "profiles": {
          "items": {
            "$ref": "DatabaseConnectionStringProfile"
          },
          "description": "Output only. A list of connection string profiles to allow clients to group, filter, and select values based on the structured metadata.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "AutonomousDatabaseConnectionUrls": {
      "id": "AutonomousDatabaseConnectionUrls",
      "description": "The URLs for accessing Oracle Application Express (APEX) and SQL Developer Web with a browser from a Compute instance. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseConnectionUrls",
      "type": "object",
      "properties": {
        "ordsUri": {
          "description": "Output only. The Oracle REST Data Services (ORDS) URL of the Web Access for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "graphStudioUri": {
          "description": "Output only. The URL of the Graph Studio for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "databaseTransformsUri": {
          "description": "Output only. The URL of the Database Transforms for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "mongoDbUri": {
          "description": "Output only. The URL of the MongoDB API for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "sqlDevWebUri": {
          "description": "Output only. The URL of the Oracle SQL Developer Web for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "apexUri": {
          "description": "Output only. Oracle Application Express (APEX) URL.",
          "readOnly": true,
          "type": "string"
        },
        "machineLearningNotebookUri": {
          "description": "Output only. The URL of the Oracle Machine Learning (OML) Notebook for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "machineLearningUserManagementUri": {
          "description": "Output only. The URL of Machine Learning user management the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "OdbNetwork": {
      "id": "OdbNetwork",
      "description": "Represents OdbNetwork resource.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The date and time that the OdbNetwork was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The name of the OdbNetwork resource in the following format: projects/{project}/locations/{region}/odbNetworks/{odb_network}",
          "type": "string"
        },
        "network": {
          "description": "Required. The name of the VPC network in the following format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels or tags associated with the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "TERMINATING",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in failed state."
          ],
          "description": "Output only. State of the ODB Network.",
          "readOnly": true
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where OdbNetwork is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "entitlementId": {
          "description": "Output only. The ID of the subscription entitlement associated with the OdbNetwork.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SourceConfig": {
      "id": "SourceConfig",
      "description": "The source configuration for the standby Autonomous Database.",
      "type": "object",
      "properties": {
        "cloneType": {
          "description": "Optional. The clone type of the Autonomous Database. This field is only applicable in case of cloning",
          "type": "string",
          "enum": [
            "CLONE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Creates a new database with the source database's data and metadata.",
            "Creates a new database that includes all the source database schema metadata, but none of the source database data."
          ]
        },
        "autonomousDatabase": {
          "description": "Optional. The name of the primary Autonomous Database that is used to create a Peer Autonomous Database from a source.",
          "type": "string"
        },
        "sourceType": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Clone database from an existing database specified in autonomous_database field.",
            "Create a cross-region disaster recovery peer adb from an existing adb.",
            "Create a refreshable clone from an existing database specified in autonomous_database field.",
            "Create clone from the backup resource.",
            "Create clone from backup specified by backup_time field, or use latest available backup if use_latest_available_backup is true. The autonomous_database field must specify the source database to clone from."
          ],
          "description": "Optional. The source type of the Autonomous Database.",
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "CLONE_DATABASE",
            "CROSS_REGION_DISASTER_RECOVERY",
            "CLONE_TO_REFRESHABLE",
            "BACKUP_FROM_ID",
            "BACKUP_FROM_TIMESTAMP"
          ]
        },
        "autonomousDatabaseBackup": {
          "description": "Optional. The name of the Autonomous Database Backup resource with the format: projects/{project}/locations/{region}/autonomousDatabaseBackups/{autonomous_database_backup} Required when source_type is BACKUP_FROM_ID.",
          "type": "string"
        },
        "useLatestAvailableBackup": {
          "description": "Optional. Clone from latest available backup timestamp. This field is only applicable in case of BACKUP_FROM_TIMESTAMP source type.",
          "type": "boolean"
        },
        "backupTime": {
          "description": "Optional. The timestamp specified for the point-in-time clone of the source Autonomous Database. This field is only applicable in case of BACKUP_FROM_TIMESTAMP source type and when use_latest_available_backup is false.",
          "type": "string",
          "format": "google-datetime"
        },
        "refreshableMode": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Automatic refresh.",
            "Manual refresh."
          ],
          "description": "Optional. The refresh mode of the clone.",
          "type": "string",
          "enum": [
            "REFRESHABLE_MODE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ]
        },
        "autoRefreshFrequencySeconds": {
          "description": "Optional. The frequency in seconds a refreshable clone is refreshed after auto-refresh is enabled.",
          "type": "integer",
          "format": "int32"
        },
        "autoRefreshStartTime": {
          "description": "Optional. The date and time that auto-refreshing will begin for an Autonomous Database refreshable clone. This value controls only the start time for the first refresh operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "automaticBackupsReplicationEnabled": {
          "description": "Optional. This field specifies if the replication of automatic backups is enabled when creating a Data Guard.",
          "type": "boolean"
        },
        "autoRefreshPointLagSeconds": {
          "description": "Optional. The time, in seconds, the data of the automatic refreshable clone lags the primary database at the point of refresh.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoldengateIcebergConnectionProperties": {
      "id": "GoldengateIcebergConnectionProperties",
      "description": "The properties of GoldengateIcebergConnection.",
      "type": "object",
      "properties": {
        "storage": {
          "$ref": "IcebergStorage",
          "description": "Required. The Iceberg storage."
        },
        "technologyType": {
          "description": "Required. The technology type of Iceberg connection.",
          "type": "string"
        },
        "catalog": {
          "$ref": "IcebergCatalog",
          "description": "Required. The Iceberg catalog."
        }
      }
    },
    "ListEntitlementsResponse": {
      "id": "ListEntitlementsResponse",
      "description": "The response for `Entitlement.List`.",
      "type": "object",
      "properties": {
        "entitlements": {
          "description": "The list of Entitlements",
          "type": "array",
          "items": {
            "$ref": "Entitlement"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "GoldengateDeploymentProperties": {
      "id": "GoldengateDeploymentProperties",
      "description": "Properties of GoldengateDeployment.",
      "type": "object",
      "properties": {
        "lifecycleSubState": {
          "enumDescriptions": [
            "The lifecycle sub-state is unspecified.",
            "The deployment is recovering.",
            "The deployment is starting.",
            "The deployment is stopping.",
            "The deployment is moving.",
            "The deployment is upgrading.",
            "The deployment is restoring.",
            "The deployment is backing up.",
            "The deployment is rolling back."
          ],
          "type": "string",
          "enum": [
            "GOLDENGATE_DEPLOYMENT_LIFECYCLE_SUB_STATE_UNSPECIFIED",
            "RECOVERING",
            "STARTING",
            "STOPPING",
            "MOVING",
            "UPGRADING",
            "RESTORING",
            "BACKING_UP",
            "ROLLING_BACK"
          ],
          "description": "Output only. The lifecycle sub-state of the GoldengateDeployment.",
          "readOnly": true
        },
        "locks": {
          "description": "Output only. The locks of the GoldengateDeployment.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoldengateDeploymentLock"
          }
        },
        "licenseModel": {
          "enumDescriptions": [
            "The license model is unspecified.",
            "The license model is included.",
            "The license model is bring your own license."
          ],
          "description": "Optional. The Oracle license model that applies to a Deployment.",
          "type": "string",
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ]
        },
        "lifecycleDetails": {
          "description": "Output only. The lifecycle details of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "fqdn": {
          "description": "Output only. The Fully Qualified Domain Name of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "deploymentUrl": {
          "description": "Output only. The deployment url of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "oggVersionSupportEndTime": {
          "description": "Output only. The time ogg version supported until of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "loadBalancerId": {
          "description": "Output only. The load balancer id of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "category": {
          "description": "Output only. The category of the GoldengateDeployment.",
          "readOnly": true,
          "enumDescriptions": [
            "The category is unspecified.",
            "The deployment is data replication.",
            "The deployment is data transforms."
          ],
          "type": "string",
          "enum": [
            "GOLDENGATE_DEPLOYMENT_CATEGORY_UNSPECIFIED",
            "DATA_REPLICATION",
            "DATA_TRANSFORMS"
          ]
        },
        "publicIpAddress": {
          "description": "Output only. The public ip address of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "storageUtilizationBytes": {
          "description": "Output only. The storage utilization in bytes of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "isStorageUtilizationLimitExceeded": {
          "description": "Output only. Whether storage utilization limit is exceeded of the GoldengateDeployment.",
          "readOnly": true,
          "type": "boolean"
        },
        "loadBalancerSubnetId": {
          "description": "Output only. The load balancer subnet id of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "lastBackupScheduleTime": {
          "description": "Output only. The time last backup scheduled of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "cpuCoreCount": {
          "description": "Optional. The Minimum number of OCPUs to be made available for this Deployment.",
          "type": "integer",
          "format": "int32"
        },
        "maintenanceWindow": {
          "description": "Optional. The maintenance window of the GoldengateDeployment.",
          "$ref": "GoldengateMaintenanceWindow"
        },
        "nextMaintenanceTime": {
          "description": "Output only. The time of next maintenance of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "maintenanceConfig": {
          "$ref": "GoldengateMaintenanceConfig",
          "description": "Optional. The maintenance configuration of the GoldengateDeployment."
        },
        "updateTime": {
          "description": "Output only. The time the GoldengateDeployment was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "lifecycleState": {
          "enumDescriptions": [
            "Default unspecified value.",
            "The deployment is being created.",
            "The deployment is being updated.",
            "The deployment is active.",
            "The deployment is inactive.",
            "The deployment is being deleted.",
            "The deployment is deleted.",
            "The deployment failed.",
            "The deployment needs attention.",
            "The deployment is in progress.",
            "The deployment is canceling.",
            "The deployment is canceled.",
            "The deployment succeeded.",
            "The deployment is waiting."
          ],
          "type": "string",
          "enum": [
            "GOLDENGATE_DEPLOYMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "DELETED",
            "FAILED",
            "NEEDS_ATTENTION",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "WAITING"
          ],
          "description": "Output only. State of the GoldengateDeployment.",
          "readOnly": true
        },
        "nextMaintenanceActionType": {
          "type": "string",
          "enum": [
            "NEXT_MAINTENANCE_ACTION_TYPE_UNSPECIFIED",
            "UPGRADE"
          ],
          "enumDescriptions": [
            "The next maintenance action type is unspecified.",
            "The next maintenance action type is upgrade."
          ],
          "description": "Output only. The next maintenance action type of the GoldengateDeployment.",
          "readOnly": true
        },
        "privateIpAddress": {
          "description": "Output only. The private ip address of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "isLatestVersion": {
          "description": "Output only. Whether the GoldengateDeployment is of the latest version.",
          "readOnly": true,
          "type": "boolean"
        },
        "roleChangeTime": {
          "description": "Output only. The time when the role of the GoldengateDeployment was changed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "healthy": {
          "description": "Output only. Whether the GoldengateDeployment is healthy.",
          "readOnly": true,
          "type": "boolean"
        },
        "deploymentRole": {
          "description": "Output only. The deployment role of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "GOLDENGATE_DEPLOYMENT_ROLE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "STANDBY"
          ],
          "enumDescriptions": [
            "The deployment role type is unspecified.",
            "The deployment role type is primary.",
            "The deployment role type is standby."
          ]
        },
        "description": {
          "description": "Optional. The description of the GoldengateDeployment.",
          "type": "string"
        },
        "nextBackupScheduleTime": {
          "description": "Output only. The time next backup scheduled of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deploymentDiagnosticData": {
          "description": "Output only. The deployment diagnostic data of the GoldengateDeployment.",
          "readOnly": true,
          "$ref": "DeploymentDiagnosticData"
        },
        "ingressIps": {
          "description": "Output only. The ingress ips of the GoldengateDeployment.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "IngressIp"
          }
        },
        "nextMaintenanceDescription": {
          "description": "Output only. The next maintenance description of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "deploymentType": {
          "description": "Required. A valid Goldengate Deployment type. For a list of supported types, use the `ListGoldengateDeploymentTypes` operation.",
          "type": "string"
        },
        "oggData": {
          "$ref": "GoldengateOggDeployment",
          "description": "Required. The ogg data of the GoldengateDeployment."
        },
        "upgradeRequiredTime": {
          "description": "Output only. The time upgrade required of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "isAutoScalingEnabled": {
          "description": "Optional. Indicates if auto scaling is enabled for the Deployment's CPU core count.",
          "type": "boolean"
        },
        "backupSchedule": {
          "$ref": "GoldengateBackupSchedule",
          "description": "Output only. The backup schedule of the GoldengateDeployment.",
          "readOnly": true
        },
        "isPublic": {
          "description": "Output only. Whether the GoldengateDeployment is public.",
          "readOnly": true,
          "type": "boolean"
        },
        "environmentType": {
          "description": "Optional. The environment type of the GoldengateDeployment.",
          "type": "string"
        },
        "nsgIds": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The nsg ids of the GoldengateDeployment.",
          "readOnly": true,
          "type": "array"
        },
        "deploymentBackupId": {
          "description": "Output only. The deployment backup id of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "placements": {
          "items": {
            "$ref": "GoldengatePlacement"
          },
          "description": "Output only. The placements of the GoldengateDeployment.",
          "readOnly": true,
          "type": "array"
        },
        "ocid": {
          "description": "Output only. OCID of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoldengateAmazonS3ConnectionProperties": {
      "id": "GoldengateAmazonS3ConnectionProperties",
      "description": "The properties of GoldengateAmazonS3Connection.",
      "type": "object",
      "properties": {
        "secretAccessKeySecret": {
          "description": "Optional. Secret access key to access the Amazon S3 bucket.",
          "type": "string"
        },
        "accessKeyId": {
          "description": "Optional. Access key ID to access the Amazon S3 bucket.",
          "type": "string"
        },
        "endpoint": {
          "description": "Optional. The Amazon Endpoint for S3.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of AmazonS3Connection.",
          "type": "string"
        },
        "region": {
          "description": "Optional. The name of the AWS region where the bucket is created.",
          "type": "string"
        }
      }
    },
    "AutonomousDatabaseBackupProperties": {
      "id": "AutonomousDatabaseBackupProperties",
      "description": "Properties of the Autonomous Database Backup resource.",
      "type": "object",
      "properties": {
        "lifecycleDetails": {
          "description": "Output only. Additional information about the current lifecycle state.",
          "readOnly": true,
          "type": "string"
        },
        "retentionPeriodDays": {
          "description": "Optional. Retention period in days for the backup.",
          "type": "integer",
          "format": "int32"
        },
        "availableTillTime": {
          "description": "Output only. Timestamp until when the backup will be available.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sizeTb": {
          "description": "Output only. The backup size in terabytes.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "isRestorable": {
          "description": "Output only. Indicates if the backup can be used to restore the Autonomous Database.",
          "readOnly": true,
          "type": "boolean"
        },
        "startTime": {
          "description": "Output only. The date and time the backup started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "keyStoreWallet": {
          "description": "Optional. The wallet name for Oracle Key Vault.",
          "type": "string"
        },
        "isLongTermBackup": {
          "description": "Output only. Indicates if the backup is long term backup.",
          "readOnly": true,
          "type": "boolean"
        },
        "kmsKeyId": {
          "description": "Optional. The OCID of the key container that is used as the master encryption key in database transparent data encryption (TDE) operations.",
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of the backup.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL",
            "LONG_TERM"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Incremental backups.",
            "Full backups.",
            "Long term backups."
          ]
        },
        "vaultId": {
          "description": "Optional. The OCID of the vault.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The date and time the backup completed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "ocid": {
          "description": "Output only. OCID of the Autonomous Database backup. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle",
          "readOnly": true,
          "type": "string"
        },
        "keyStoreId": {
          "description": "Optional. The OCID of the key store of Oracle Vault.",
          "type": "string"
        },
        "isAutomaticBackup": {
          "description": "Output only. Indicates if the backup is automatic or user initiated.",
          "readOnly": true,
          "type": "boolean"
        },
        "lifecycleState": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in creating state.",
            "Indicates that the resource is in active state.",
            "Indicates that the resource is in deleting state.",
            "Indicates that the resource is in deleted state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in updating state."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DELETED",
            "FAILED",
            "UPDATING"
          ],
          "description": "Output only. The lifecycle state of the backup.",
          "readOnly": true
        },
        "compartmentId": {
          "description": "Output only. The OCID of the compartment.",
          "readOnly": true,
          "type": "string"
        },
        "databaseSizeTb": {
          "description": "Output only. The quantity of data in the database, in terabytes.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "dbVersion": {
          "description": "Output only. A valid Oracle Database version for Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "kmsKeyVersionId": {
          "description": "Optional. The OCID of the key container version that is used in database transparent data encryption (TDE) operations KMS Key can have multiple key versions. If none is specified, the current key version (latest) of the Key Id is used for the operation. Autonomous Database Serverless does not use key versions, hence is not applicable for Autonomous Database Serverless instances.",
          "type": "string"
        }
      }
    },
    "DataCollectionOptionsCommon": {
      "id": "DataCollectionOptionsCommon",
      "description": "Data collection options for diagnostics. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/DataCollectionOptions",
      "type": "object",
      "properties": {
        "isHealthMonitoringEnabled": {
          "description": "Optional. Indicates whether to enable health monitoring.",
          "type": "boolean"
        },
        "isDiagnosticsEventsEnabled": {
          "description": "Optional. Indicates whether to enable data collection for diagnostics.",
          "type": "boolean"
        },
        "isIncidentLogsEnabled": {
          "description": "Optional. Indicates whether to enable incident logs and trace collection.",
          "type": "boolean"
        }
      }
    },
    "ListGoldengateConnectionAssignmentsResponse": {
      "id": "ListGoldengateConnectionAssignmentsResponse",
      "description": "Response message for listing GoldengateConnectionAssignments.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "goldengateConnectionAssignments": {
          "items": {
            "$ref": "GoldengateConnectionAssignment"
          },
          "description": "The list of GoldengateConnectionAssignments.",
          "type": "array"
        }
      }
    },
    "ListAutonomousDbVersionsResponse": {
      "id": "ListAutonomousDbVersionsResponse",
      "description": "The response for `AutonomousDbVersion.List`.",
      "type": "object",
      "properties": {
        "autonomousDbVersions": {
          "description": "The list of Autonomous Database versions.",
          "type": "array",
          "items": {
            "$ref": "AutonomousDbVersion"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "GoldengateMaintenanceConfig": {
      "id": "GoldengateMaintenanceConfig",
      "description": "The maintenance configuration of the GoldengateDeployment.",
      "type": "object",
      "properties": {
        "securityPatchUpgradePeriodDays": {
          "description": "Optional. Defines auto upgrade period for releases with security fix. Manually configured period cannot be longer than service defined period for security releases. Not passing this field during create will equate to using the service default.",
          "type": "integer",
          "format": "int32"
        },
        "bundleReleaseUpgradePeriodDays": {
          "description": "Optional. Defines auto upgrade period for bundle releases. Manually configured period cannot be longer than service defined period for bundle releases. This period must be shorter or equal to major release upgrade period. Not passing this field during create will equate to using the service default.",
          "type": "integer",
          "format": "int32"
        },
        "interimReleaseUpgradePeriodDays": {
          "description": "Optional. Defines auto upgrade period for interim releases. This period must be shorter or equal to bundle release upgrade period.",
          "type": "integer",
          "format": "int32"
        },
        "majorReleaseUpgradePeriodDays": {
          "description": "Optional. Defines auto upgrade period for major releases. Manually configured period cannot be longer than service defined period for major releases. Not passing this field during create will equate to using the service default.",
          "type": "integer",
          "format": "int32"
        },
        "isInterimReleaseAutoUpgradeEnabled": {
          "description": "Optional. By default auto upgrade for interim releases are not enabled. If auto-upgrade is enabled for interim release, you have to specify interim_release_upgrade_period_days too.",
          "type": "boolean"
        }
      }
    },
    "TestGoldengateConnectionAssignmentRequest": {
      "id": "TestGoldengateConnectionAssignmentRequest",
      "description": "Request message for TestGoldengateConnectionAssignment.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Optional. The type of the test of the assigned connection. The only type actually supported is DEFAULT.",
          "type": "string",
          "enum": [
            "TEST_TYPE_UNSPECIFIED",
            "DEFAULT"
          ],
          "enumDescriptions": [
            "The default value. This value is unused.",
            "The default connection test."
          ]
        }
      }
    },
    "GoldengateKafkaSchemaRegistryConnectionProperties": {
      "id": "GoldengateKafkaSchemaRegistryConnectionProperties",
      "description": "The properties of GoldengateKafkaSchemaRegistryConnection.",
      "type": "object",
      "properties": {
        "sslKeyPassword": {
          "description": "Optional. Input only. The password for the cert inside the KeyStore in plain text.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username to access Schema Registry using basic authentication. This value is injected into 'schema.registry.basic.auth.user.info=user:password' configuration property.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password to access Schema Registry in plain text.",
          "type": "string"
        },
        "trustStorePassword": {
          "description": "Optional. Input only. The TrustStore password in plain text.",
          "type": "string"
        },
        "keyStoreFile": {
          "description": "Optional. The base64 encoded content of the KeyStore file.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of KafkaSchemaRegistryConnection.",
          "type": "string"
        },
        "keyStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the KeyStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password to access Schema Registry using basic authentication. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "trustStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the TrustStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "keyStorePassword": {
          "description": "Optional. Input only. The KeyStore password in plain text.",
          "type": "string"
        },
        "url": {
          "description": "Optional. Kafka Schema Registry URL. e.g.: 'https://server1.us.oracle.com:8081'",
          "type": "string"
        },
        "authenticationType": {
          "description": "Optional. Used authentication mechanism to access Schema Registry.",
          "type": "string",
          "enum": [
            "AUTHENTICATION_TYPE_UNSPECIFIED",
            "NONE",
            "BASIC",
            "MUTUAL"
          ],
          "enumDescriptions": [
            "Authentication type not specified.",
            "No authentication.",
            "Basic authentication.",
            "Mutual authentication."
          ]
        },
        "sslKeyPasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password for the cert inside the KeyStore. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "trustStoreFile": {
          "description": "Optional. The base64 encoded content of the TrustStore file.",
          "type": "string"
        }
      }
    },
    "ListPluggableDatabasesResponse": {
      "id": "ListPluggableDatabasesResponse",
      "description": "The response for `PluggableDatabase.List`.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "pluggableDatabases": {
          "items": {
            "$ref": "PluggableDatabase"
          },
          "description": "The list of PluggableDatabases.",
          "type": "array"
        }
      }
    },
    "ExadbVmClusterStorageDetails": {
      "id": "ExadbVmClusterStorageDetails",
      "description": "The storage allocation for the exadbvmcluster, in gigabytes (GB).",
      "type": "object",
      "properties": {
        "sizeInGbsPerNode": {
          "description": "Required. The storage allocation for the exadbvmcluster per node, in gigabytes (GB). This field is used to calculate the total storage allocation for the exadbvmcluster.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AutonomousDbVersion": {
      "id": "AutonomousDbVersion",
      "description": "Details of the Autonomous Database version. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDbVersionSummary/",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the Autonomous Database Version resource with the format: projects/{project}/locations/{region}/autonomousDbVersions/{autonomous_db_version}",
          "type": "string"
        },
        "version": {
          "description": "Output only. An Oracle Database version for Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "dbWorkload": {
          "description": "Output only. The Autonomous Database workload type.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Autonomous Transaction Processing database.",
            "Autonomous Data Warehouse database.",
            "Autonomous JSON Database.",
            "Autonomous Database with the Oracle APEX Application Development workload type."
          ],
          "type": "string",
          "enum": [
            "DB_WORKLOAD_UNSPECIFIED",
            "OLTP",
            "DW",
            "AJD",
            "APEX"
          ]
        },
        "workloadUri": {
          "description": "Output only. A URL that points to a detailed description of the Autonomous Database version.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DeploymentDiagnosticData": {
      "id": "DeploymentDiagnosticData",
      "description": "The deployment diagnostic data.",
      "type": "object",
      "properties": {
        "diagnosticEndTime": {
          "description": "Output only. The time diagnostic end.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "object": {
          "description": "Output only. The object name.",
          "readOnly": true,
          "type": "string"
        },
        "bucket": {
          "description": "Output only. The bucket name.",
          "readOnly": true,
          "type": "string"
        },
        "diagnosticState": {
          "type": "string",
          "enum": [
            "DIAGNOSTIC_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The diagnostic state is unspecified.",
            "The diagnostic is in progress.",
            "The diagnostic completed successfully.",
            "The diagnostic failed."
          ],
          "description": "Output only. The diagnostic state.",
          "readOnly": true
        },
        "namespace": {
          "description": "Output only. The namespace name.",
          "readOnly": true,
          "type": "string"
        },
        "diagnosticStartTime": {
          "description": "Output only. The time diagnostic start.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "DbBackupConfig": {
      "id": "DbBackupConfig",
      "description": "Backup Options for the Database.",
      "type": "object",
      "properties": {
        "retentionPeriodDays": {
          "description": "Optional. The number of days an automatic backup is retained before being automatically deleted. This value determines the earliest point in time to which a database can be restored. Min: 1, Max: 60.",
          "type": "integer",
          "format": "int32"
        },
        "autoFullBackupWindow": {
          "enumDescriptions": [
            "Default unspecified value.",
            "12:00 AM - 2:00 AM",
            "2:00 AM - 4:00 AM",
            "4:00 AM - 6:00 AM",
            "6:00 AM - 8:00 AM",
            "8:00 AM - 10:00 AM",
            "10:00 AM - 12:00 PM",
            "12:00 PM - 2:00 PM",
            "2:00 PM - 4:00 PM",
            "4:00 PM - 6:00 PM",
            "6:00 PM - 8:00 PM",
            "8:00 PM - 10:00 PM",
            "10:00 PM - 12:00 AM"
          ],
          "description": "Optional. The window in which the full backup should be performed on the database. If no value is provided, the default is anytime.",
          "type": "string",
          "enum": [
            "BACKUP_WINDOW_UNSPECIFIED",
            "SLOT_ONE",
            "SLOT_TWO",
            "SLOT_THREE",
            "SLOT_FOUR",
            "SLOT_FIVE",
            "SLOT_SIX",
            "SLOT_SEVEN",
            "SLOT_EIGHT",
            "SLOT_NINE",
            "SLOT_TEN",
            "SLOT_ELEVEN",
            "SLOT_TWELVE"
          ]
        },
        "autoBackupEnabled": {
          "description": "Optional. If set to true, enables automatic backups on the database.",
          "type": "boolean"
        },
        "backupDeletionPolicy": {
          "description": "Optional. This defines when the backups will be deleted after Database termination.",
          "type": "string",
          "enum": [
            "BACKUP_DELETION_POLICY_UNSPECIFIED",
            "DELETE_IMMEDIATELY",
            "DELETE_AFTER_RETENTION_PERIOD"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Keeps the backup for predefined time i.e. 72 hours and then delete permanently.",
            "Keeps the backups as per the policy defined for database backups."
          ]
        },
        "autoFullBackupDay": {
          "description": "Optional. The day of the week on which the full backup should be performed on the database. If no value is provided, it will default to Sunday.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "backupDestinationDetails": {
          "description": "Optional. Details of the database backup destinations.",
          "type": "array",
          "items": {
            "$ref": "BackupDestinationDetails"
          }
        },
        "autoIncrementalBackupWindow": {
          "enumDescriptions": [
            "Default unspecified value.",
            "12:00 AM - 2:00 AM",
            "2:00 AM - 4:00 AM",
            "4:00 AM - 6:00 AM",
            "6:00 AM - 8:00 AM",
            "8:00 AM - 10:00 AM",
            "10:00 AM - 12:00 PM",
            "12:00 PM - 2:00 PM",
            "2:00 PM - 4:00 PM",
            "4:00 PM - 6:00 PM",
            "6:00 PM - 8:00 PM",
            "8:00 PM - 10:00 PM",
            "10:00 PM - 12:00 AM"
          ],
          "description": "Optional. The window in which the incremental backup should be performed on the database. If no value is provided, the default is anytime except the auto full backup day.",
          "type": "string",
          "enum": [
            "BACKUP_WINDOW_UNSPECIFIED",
            "SLOT_ONE",
            "SLOT_TWO",
            "SLOT_THREE",
            "SLOT_FOUR",
            "SLOT_FIVE",
            "SLOT_SIX",
            "SLOT_SEVEN",
            "SLOT_EIGHT",
            "SLOT_NINE",
            "SLOT_TEN",
            "SLOT_ELEVEN",
            "SLOT_TWELVE"
          ]
        }
      }
    },
    "ListDbSystemInitialStorageSizesResponse": {
      "id": "ListDbSystemInitialStorageSizesResponse",
      "description": "The response for `DbSystemInitialStorageSizes.List`.",
      "type": "object",
      "properties": {
[...]
