{
  "servicePath": "",
  "title": "Oracle Database@Google Cloud API",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/oracle/database/docs",
  "id": "oracledatabase:v1",
  "version": "v1",
  "baseUrl": "https://oracledatabase.googleapis.com/",
  "endpoints": [
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://oracledatabase.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://oracledatabase.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://oracledatabase.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://oracledatabase.australia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://oracledatabase.europe-west8.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://oracledatabase.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    }
  ],
  "canonicalName": "Oracle Database",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "discoveryVersion": "v1",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://oracledatabase.mtls.googleapis.com/",
  "revision": "20260910",
  "description": "The Oracle Database@Google Cloud API provides a set of APIs to manage Oracle database services, such as Exadata and Autonomous Databases.",
  "schemas": {
    "GoldengateKafkaSchemaRegistryConnectionProperties": {
      "id": "GoldengateKafkaSchemaRegistryConnectionProperties",
      "type": "object",
      "properties": {
        "trustStorePassword": {
          "type": "string",
          "description": "Optional. Input only. The TrustStore password in plain text."
        },
        "authenticationType": {
          "type": "string",
          "enum": [
            "AUTHENTICATION_TYPE_UNSPECIFIED",
            "NONE",
            "BASIC",
            "MUTUAL"
          ],
          "description": "Optional. Used authentication mechanism to access Schema Registry.",
          "enumDescriptions": [
            "Authentication type not specified.",
            "No authentication.",
            "Basic authentication.",
            "Mutual authentication."
          ]
        },
        "trustStoreFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the TrustStore file."
        },
        "sslKeyPassword": {
          "type": "string",
          "description": "Optional. Input only. The password for the cert inside the KeyStore in plain text."
        },
        "password": {
          "description": "Optional. Input only. The password to access Schema Registry in plain text.",
          "type": "string"
        },
        "url": {
          "description": "Optional. Kafka Schema Registry URL. e.g.: 'https://server1.us.oracle.com:8081'",
          "type": "string"
        },
        "trustStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the TrustStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username to access Schema Registry using basic authentication. This value is injected into 'schema.registry.basic.auth.user.info=user:password' configuration property.",
          "type": "string"
        },
        "keyStoreFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the KeyStore file."
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password to access Schema Registry using basic authentication. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "keyStorePassword": {
          "description": "Optional. Input only. The KeyStore password in plain text.",
          "type": "string"
        },
        "sslKeyPasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password for the cert inside the KeyStore. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "keyStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the KeyStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of KafkaSchemaRegistryConnection."
        }
      },
      "description": "The properties of GoldengateKafkaSchemaRegistryConnection."
    },
    "GoldengateGoogleBigQueryConnectionProperties": {
      "type": "object",
      "properties": {
        "technologyType": {
          "description": "Optional. The technology type.",
          "type": "string"
        },
        "serviceAccountKeyFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the service account key file containing the credentials required to use Google BigQuery."
        }
      },
      "id": "GoldengateGoogleBigQueryConnectionProperties",
      "description": "The properties of GoldengateGoogleBigQueryConnectionProperties."
    },
    "RefreshAutonomousDatabaseRequest": {
      "properties": {
        "refreshCutoffTime": {
          "type": "string",
          "description": "Required. The timestamp to which the Autonomous Database refreshable clone will be refreshed. Changes made in the primary database after this timestamp are not part of the data refresh.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Request message for RefreshAutonomousDatabase method.",
      "id": "RefreshAutonomousDatabaseRequest"
    },
    "ListOdbNetworksResponse": {
      "properties": {
        "odbNetworks": {
          "type": "array",
          "description": "The list of ODB Networks.",
          "items": {
            "$ref": "OdbNetwork"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object",
      "id": "ListOdbNetworksResponse",
      "description": "The response for `OdbNetwork.List`."
    },
    "SwitchoverAutonomousDatabaseRequest": {
      "properties": {
        "peerAutonomousDatabase": {
          "type": "string",
          "description": "Optional. The peer database name to switch over to. Required for cross-region standby, and must be omitted for in-region Data Guard."
        }
      },
      "type": "object",
      "description": "The request for `OracleDatabase.SwitchoverAutonomousDatabase`.",
      "id": "SwitchoverAutonomousDatabaseRequest"
    },
    "ListDbServersResponse": {
      "description": "The response for `DbServer.List`.",
      "id": "ListDbServersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "dbServers": {
          "type": "array",
          "items": {
            "$ref": "DbServer"
          },
          "description": "The list of database servers."
        }
      },
      "type": "object"
    },
    "ListExascaleDbStorageVaultsResponse": {
      "id": "ListExascaleDbStorageVaultsResponse",
      "description": "The response for `ExascaleDbStorageVault.List`.",
      "type": "object",
      "properties": {
        "exascaleDbStorageVaults": {
          "type": "array",
          "items": {
            "$ref": "ExascaleDbStorageVault"
          },
          "description": "The ExascaleDbStorageVaults."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. If present, the next page token can be provided to a subsequent ListExascaleDbStorageVaults call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoldengateBackupSchedule": {
      "type": "object",
      "properties": {
        "compartmentId": {
          "readOnly": true,
          "description": "Output only. The compartment id.",
          "type": "string"
        },
        "backupScheduledTime": {
          "type": "string",
          "description": "Output only. The timestamp of when the backup was scheduled.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "frequencyBackupScheduled": {
          "enumDescriptions": [
            "The frequency backup scheduled is unspecified.",
            "The frequency backup scheduled is daily.",
            "The frequency backup scheduled is weekly.",
            "The frequency backup scheduled is monthly."
          ],
          "description": "Output only. The frequency backup scheduled.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "FREQUENCY_BACKUP_SCHEDULED_UNSPECIFIED",
            "DAILY",
            "WEEKLY",
            "MONTHLY"
          ]
        },
        "namespace": {
          "type": "string",
          "description": "Output only. The namespace name.",
          "readOnly": true
        },
        "bucket": {
          "description": "Output only. The bucket name.",
          "readOnly": true,
          "type": "string"
        },
        "metadataOnly": {
          "description": "Output only. If metadata only.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "The backup schedule of the GoldengateDeployment.",
      "id": "GoldengateBackupSchedule"
    },
    "ListDatabaseCharacterSetsResponse": {
      "id": "ListDatabaseCharacterSetsResponse",
      "properties": {
        "databaseCharacterSets": {
          "items": {
            "$ref": "DatabaseCharacterSet"
          },
          "type": "array",
          "description": "The list of DatabaseCharacterSets."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "The response for `DatabaseCharacterSet.List`.",
      "type": "object"
    },
    "ListDbSystemShapesResponse": {
      "description": "The response for `DbSystemShape.List`.",
      "id": "ListDbSystemShapesResponse",
      "properties": {
        "dbSystemShapes": {
          "description": "The list of Database System shapes.",
          "items": {
            "$ref": "DbSystemShape"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object"
    },
    "CustomerContact": {
      "properties": {
        "email": {
          "description": "Required. The email address used by Oracle to send notifications regarding databases and infrastructure.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CustomerContact",
      "description": "The CustomerContact reference as defined by Oracle. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/CustomerContact"
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "TimeZone",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Location"
    },
    "CloudExadataInfrastructureProperties": {
      "id": "CloudExadataInfrastructureProperties",
      "type": "object",
      "description": "Various properties of Exadata Infrastructure.",
      "properties": {
        "storageServerType": {
          "type": "string",
          "description": "Optional. The storage server type of the Exadata Infrastructure."
        },
        "nextSecurityMaintenanceRunTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the next security maintenance run will occur.",
          "type": "string"
        },
        "nextMaintenanceRunId": {
          "description": "Output only. The OCID of the next maintenance run.",
          "readOnly": true,
          "type": "string"
        },
        "nextMaintenanceRunTime": {
          "readOnly": true,
          "description": "Output only. The time when the next maintenance run will occur.",
          "type": "string",
          "format": "google-datetime"
        },
        "additionalStorageCount": {
          "type": "integer",
          "description": "Output only. The requested number of additional storage servers for the Exadata Infrastructure.",
          "format": "int32",
          "readOnly": true
        },
        "availableStorageSizeGb": {
          "description": "Output only. The available storage can be allocated to the Exadata Infrastructure resource, in gigabytes (GB).",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "exascaleConfig": {
          "$ref": "ExascaleConfig",
          "readOnly": true,
          "description": "Output only. The Exascale configuration for the Exadata Infrastructure."
        },
        "storageServerVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The software version of the storage servers (cells) in the Exadata Infrastructure."
        },
        "cpuCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of enabled CPU cores.",
          "format": "int32"
        },
        "ociUrl": {
          "type": "string",
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "readOnly": true
        },
        "ocid": {
          "readOnly": true,
          "description": "Output only. OCID of created infra. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle",
          "type": "string"
        },
        "maxDbNodeStorageSizeGb": {
          "format": "int32",
          "description": "Output only. The total local node storage available in GBs.",
          "type": "integer",
          "readOnly": true
        },
        "computeCount": {
          "type": "integer",
          "description": "Optional. The number of compute servers for the Exadata Infrastructure.",
          "format": "int32"
        },
        "monthlyDbServerVersion": {
          "type": "string",
          "description": "Output only. The monthly software version of the database servers (dom0) in the Exadata Infrastructure. Example: 20.1.15",
          "readOnly": true
        },
        "maintenanceWindow": {
          "description": "Optional. Maintenance window for repair.",
          "$ref": "MaintenanceWindow"
        },
        "memorySizeGb": {
          "format": "int32",
          "description": "Output only. The memory allocated in GBs.",
          "readOnly": true,
          "type": "integer"
        },
        "storageCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of Cloud Exadata storage servers for the Exadata Infrastructure."
        },
        "dataStorageSizeTb": {
          "format": "double",
          "readOnly": true,
          "type": "number",
          "description": "Output only. Size, in terabytes, of the DATA disk group."
        },
        "databaseServerType": {
          "description": "Optional. The database server type of the Exadata Infrastructure.",
          "type": "string"
        },
        "customerContacts": {
          "items": {
            "$ref": "CustomerContact"
          },
          "description": "Optional. The list of customer contacts.",
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified value.",
            "The Exadata Infrastructure is being provisioned.",
            "The Exadata Infrastructure is available for use.",
            "The Exadata Infrastructure is being updated.",
            "The Exadata Infrastructure is being terminated.",
            "The Exadata Infrastructure is terminated.",
            "The Exadata Infrastructure is in failed state.",
            "The Exadata Infrastructure is in maintenance."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ],
          "readOnly": true,
          "description": "Output only. The current lifecycle state of the Exadata Infrastructure."
        },
        "maxMemoryGb": {
          "description": "Output only. The total memory available in GBs.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "maxDataStorageTb": {
          "type": "number",
          "format": "double",
          "description": "Output only. The total available DATA disk group size.",
          "readOnly": true
        },
        "computeModel": {
          "type": "string",
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "COMPUTE_MODEL_ECPU",
            "COMPUTE_MODEL_OCPU"
          ],
          "description": "Output only. The compute model of the Exadata Infrastructure.",
          "enumDescriptions": [
            "Unspecified compute model.",
            "Abstract measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers.",
            "Physical measure of compute resources. OCPUs are based on the physical core of a processor."
          ],
          "readOnly": true
        },
        "shape": {
          "type": "string",
          "description": "Required. The shape of the Exadata Infrastructure. The shape determines the amount of CPU, storage, and memory resources allocated to the instance."
        },
        "monthlyStorageServerVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The monthly software version of the storage servers (cells) in the Exadata Infrastructure. Example: 20.1.15"
        },
        "maxCpuCount": {
          "description": "Output only. The total number of CPU cores available.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "dbServerVersion": {
          "description": "Output only. The software version of the database servers (dom0) in the Exadata Infrastructure.",
          "type": "string",
          "readOnly": true
        },
        "totalStorageSizeGb": {
          "type": "integer",
          "description": "Optional. The total storage allocated to the Exadata Infrastructure resource, in gigabytes (GB).",
          "format": "int32"
        },
        "dbNodeStorageSizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The local node storage allocated in GBs.",
          "readOnly": true
        },
        "activatedStorageCount": {
          "description": "Output only. The requested number of additional storage servers activated for the Exadata Infrastructure.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CloudVmCluster": {
      "id": "CloudVmCluster",
      "description": "Details of the Cloud VM Cluster resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/CloudVmCluster/",
      "type": "object",
      "properties": {
        "gcpOracleZone": {
          "type": "string",
          "description": "Output only. The GCP Oracle zone where Oracle CloudVmCluster is hosted. This will be the same as the gcp_oracle_zone of the CloudExadataInfrastructure. Example: us-east4-b-r2.",
          "readOnly": true
        },
        "odbNetwork": {
          "description": "Optional. The name of the OdbNetwork associated with the VM Cluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the odb_subnet and backup_odb_subnet.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the VM Cluster resource with the format: projects/{project}/locations/{region}/cloudVmClusters/{cloud_vm_cluster}"
        },
        "identityConnector": {
          "readOnly": true,
          "description": "Output only. The identity connector details which will allow OCI to securely access the resources in the customer project.",
          "$ref": "IdentityConnector"
        },
        "exascaleDbStorageVault": {
          "type": "string",
          "description": "Optional. The name of ExascaleDbStorageVault associated with the VM Cluster. Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}"
        },
        "backupOdbSubnet": {
          "description": "Optional. The name of the backup OdbSubnet associated with the VM Cluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels or tags associated with the VM Cluster.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "cidr": {
          "type": "string",
          "description": "Optional. Network settings. CIDR to use for cluster IP allocation."
        },
        "odbSubnet": {
          "description": "Optional. The name of the OdbSubnet associated with the VM Cluster for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "properties": {
          "description": "Optional. Various properties of the VM Cluster.",
          "$ref": "CloudVmClusterProperties"
        },
        "displayName": {
          "description": "Optional. User friendly name for this resource.",
          "type": "string"
        },
        "backupSubnetCidr": {
          "description": "Optional. CIDR range of the backup subnet.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Optional. The name of the VPC network. Format: projects/{project}/global/networks/{network}"
        },
        "exadataInfrastructure": {
          "description": "Required. The name of the Exadata Infrastructure resource on which VM cluster resource is created, in the following format: projects/{project}/locations/{region}/cloudExadataInfrastuctures/{cloud_extradata_infrastructure}",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The date and time that the VM cluster was created.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ListAutonomousDatabaseBackupsResponse": {
      "id": "ListAutonomousDatabaseBackupsResponse",
      "description": "The response for `AutonomousDatabaseBackup.List`.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "autonomousDatabaseBackups": {
          "items": {
            "$ref": "AutonomousDatabaseBackup"
          },
          "description": "The list of Autonomous Database Backups.",
          "type": "array"
        }
      }
    },
    "AutonomousDatabaseProperties": {
      "properties": {
        "isStorageAutoScalingEnabled": {
          "description": "Optional. Immutable. This field indicates if auto scaling is enabled for the Autonomous Database storage.",
          "type": "boolean"
        },
        "privateEndpointIp": {
          "type": "string",
          "description": "Optional. Immutable. The private endpoint IP address for the Autonomous Database."
        },
        "refreshableMode": {
          "enumDescriptions": [
            "The default unspecified value.",
            "AUTOMATIC indicates that the cloned database is automatically refreshed with data from the source Autonomous Database.",
            "MANUAL indicates that the cloned database is manually refreshed with data from the source Autonomous Database."
          ],
          "readOnly": true,
          "description": "Output only. The refresh mode of the cloned Autonomous Database.",
          "type": "string",
          "enum": [
            "REFRESHABLE_MODE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ]
        },
        "operationsInsightsState": {
          "type": "string",
          "enum": [
            "OPERATIONS_INSIGHTS_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "readOnly": true,
          "description": "Output only. This field indicates the state of Operations Insights for the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Enabling status for operation insights.",
            "Enabled status for operation insights.",
            "Disabling status for operation insights.",
            "Not Enabled status for operation insights.",
            "Failed enabling status for operation insights.",
            "Failed disabling status for operation insights."
          ]
        },
        "maintenanceEndTime": {
          "description": "Output only. The date and time when maintenance will end.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "usedDataStorageSizeTbs": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The storage space used by Autonomous Database, in gigabytes."
        },
        "nextLongTermBackupTime": {
          "description": "Output only. The long term backup schedule of the Autonomous Database.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "customerContacts": {
          "items": {
            "$ref": "CustomerContact"
          },
          "description": "Optional. Immutable. The list of customer contacts.",
          "type": "array"
        },
        "nCharacterSet": {
          "type": "string",
          "description": "Optional. Immutable. The national character set for the Autonomous Database. The default is AL16UTF16."
        },
        "totalAutoBackupStorageSizeGbs": {
          "description": "Output only. The storage space used by automatic backups of Autonomous Database, in gigabytes.",
          "type": "number",
          "readOnly": true,
          "format": "float"
        },
        "lifecycleDetails": {
          "type": "string",
          "description": "Output only. The details of the current lifestyle state of the Autonomous Database.",
          "readOnly": true
        },
        "databaseManagementState": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Enabling Database Management state",
            "Enabled Database Management state",
            "Disabling Database Management state",
            "Not Enabled Database Management state",
            "Failed enabling Database Management state",
            "Failed disabling Database Management state"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "DATABASE_MANAGEMENT_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "description": "Output only. The current state of database management for the Autonomous Database."
        },
        "isAutoScalingEnabled": {
          "type": "boolean",
          "description": "Optional. Immutable. This field indicates if auto scaling is enabled for the Autonomous Database CPU core count."
        },
        "failedDataRecoveryDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. This field indicates the number of seconds of data loss during a Data Guard failover.",
          "readOnly": true
        },
        "vaultId": {
          "description": "Optional. Immutable. The ID of the Oracle Cloud Infrastructure vault.",
          "type": "string"
        },
        "localStandbyDb": {
          "$ref": "AutonomousDatabaseStandbySummary",
          "readOnly": true,
          "description": "Output only. The details of the Autonomous Data Guard standby database."
        },
        "isLocalDataGuardEnabled": {
          "type": "boolean",
          "deprecated": true,
          "description": "Output only. Deprecated: Please use `local_data_guard_enabled` instead. This field indicates whether the Autonomous Database has local (in-region) Data Guard enabled.",
          "readOnly": true
        },
        "arePrimaryAllowlistedIpsUsed": {
          "readOnly": true,
          "description": "Output only. This field indicates the status of Data Guard and Access control for the Autonomous Database. The field's value is null if Data Guard is disabled or Access Control is disabled. The field's value is TRUE if both Data Guard and Access Control are enabled, and the Autonomous Database is using primary IP access control list (ACL) for standby. The field's value is FALSE if both Data Guard and Access Control are enabled, and the Autonomous Database is using a different IP access control list (ACL) for standby compared to primary.",
          "type": "boolean"
        },
        "licenseType": {
          "enumDescriptions": [
            "Unspecified",
            "License included part of offer",
            "Bring your own license"
          ],
          "description": "Required. Immutable. The license type used for the Autonomous Database.",
          "type": "string",
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ]
        },
        "localDataGuardEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether the Autonomous Database has a local (in-region) standby database. Not applicable to cross-region Data Guard or dedicated Exadata infrastructure."
        },
        "serviceAgentEmail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An Oracle-managed Google Cloud service account on which customers can grant roles to access resources in the customer project."
        },
        "allocatedStorageSizeTb": {
          "description": "Output only. The amount of storage currently allocated for the database tables and billed for, rounded up in terabytes.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "allowlistedIps": {
          "description": "Optional. Immutable. The list of allowlisted IP addresses for the Autonomous Database.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "memoryPerOracleComputeUnitGbs": {
          "description": "Output only. The amount of memory enabled per ECPU, in gigabytes.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "permissionLevel": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Restricted mode allows access only by admin users.",
            "Normal access."
          ],
          "type": "string",
          "enum": [
            "PERMISSION_LEVEL_UNSPECIFIED",
            "RESTRICTED",
            "UNRESTRICTED"
          ],
          "description": "Output only. The permission level of the Autonomous Database.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "TERMINATING",
            "TERMINATED",
            "UNAVAILABLE",
            "RESTORE_IN_PROGRESS",
            "RESTORE_FAILED",
            "BACKUP_IN_PROGRESS",
            "SCALE_IN_PROGRESS",
            "AVAILABLE_NEEDS_ATTENTION",
            "UPDATING",
            "MAINTENANCE_IN_PROGRESS",
            "RESTARTING",
            "RECREATING",
            "ROLE_CHANGE_IN_PROGRESS",
            "UPGRADING",
            "INACCESSIBLE",
            "STANDBY"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the Autonomous Database is in provisioning state.",
            "Indicates that the Autonomous Database is in available state.",
            "Indicates that the Autonomous Database is in stopping state.",
            "Indicates that the Autonomous Database is in stopped state.",
            "Indicates that the Autonomous Database is in starting state.",
            "Indicates that the Autonomous Database is in terminating state.",
            "Indicates that the Autonomous Database is in terminated state.",
            "Indicates that the Autonomous Database is in unavailable state.",
            "Indicates that the Autonomous Database restore is in progress.",
            "Indicates that the Autonomous Database failed to restore.",
            "Indicates that the Autonomous Database backup is in progress.",
            "Indicates that the Autonomous Database scale is in progress.",
            "Indicates that the Autonomous Database is available but needs attention state.",
            "Indicates that the Autonomous Database is in updating state.",
            "Indicates that the Autonomous Database's maintenance is in progress state.",
            "Indicates that the Autonomous Database is in restarting state.",
            "Indicates that the Autonomous Database is in recreating state.",
            "Indicates that the Autonomous Database's role change is in progress state.",
            "Indicates that the Autonomous Database is in upgrading state.",
            "Indicates that the Autonomous Database is in inaccessible state.",
            "Indicates that the Autonomous Database is in standby state."
          ],
          "description": "Output only. The current lifecycle state of the Autonomous Database."
        },
        "dbWorkload": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Autonomous Transaction Processing database.",
            "Autonomous Data Warehouse database.",
            "Autonomous JSON Database.",
            "Autonomous Database with the Oracle APEX Application Development workload type."
          ],
          "description": "Required. Immutable. The workload type of the Autonomous Database.",
          "type": "string",
          "enum": [
            "DB_WORKLOAD_UNSPECIFIED",
            "OLTP",
            "DW",
            "AJD",
            "APEX"
          ]
        },
        "maintenanceBeginTime": {
          "description": "Output only. The date and time when maintenance will begin.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "cpuCoreCount": {
          "description": "Optional. Immutable. The number of CPU cores to be made available to the database.",
          "format": "int32",
          "type": "integer"
        },
        "ocid": {
          "description": "Output only. OCID of the Autonomous Database. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle",
          "readOnly": true,
          "type": "string"
        },
        "encryptionKey": {
          "$ref": "EncryptionKey",
          "description": "Optional. The encryption key used to encrypt the Autonomous Database. Updating this field will add a new entry in the `encryption_key_history_entries` field with the former version."
        },
        "openMode": {
          "description": "Output only. This field indicates the current mode of the Autonomous Database.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Read Only Mode",
            "Read Write Mode"
          ],
          "type": "string",
          "enum": [
            "OPEN_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ]
        },
        "dataStorageSizeGb": {
          "type": "integer",
          "description": "Optional. Immutable. The size of the data stored in the database, in gigabytes.",
          "format": "int32"
        },
        "secretId": {
          "type": "string",
          "description": "Optional. Immutable. The ID of the Oracle Cloud Infrastructure vault secret."
        },
        "dataStorageSizeTb": {
          "format": "int32",
          "description": "Optional. Immutable. The size of the data stored in the database, in terabytes.",
          "type": "integer"
        },
        "ociUrl": {
          "readOnly": true,
          "description": "Output only. The Oracle Cloud Infrastructure link for the Autonomous Database.",
          "type": "string"
        },
        "refreshableClone": {
          "type": "boolean",
          "description": "Optional. Indicates if the Autonomous Database is a refreshable clone. This field is used in update flow to connect / disconnect a refreshable clone from its source database."
        },
        "memoryTableGbs": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The memory assigned to in-memory tables in an Autonomous Database."
        },
        "localAdgAutoFailoverMaxDataLossLimitDuration": {
          "type": "integer",
          "description": "Optional. This field indicates the maximum data loss limit for an Autonomous Database, in seconds.",
          "format": "int32"
        },
        "backupRetentionPeriodDays": {
          "type": "integer",
          "description": "Optional. Immutable. The retention period for the Autonomous Database. This field is specified in days, can range from 1 day to 60 days, and has a default value of 60 days.",
          "format": "int32"
        },
        "dataGuardRoleChangedTime": {
          "type": "string",
          "description": "Output only. The date and time the Autonomous Data Guard role was changed for the standby Autonomous Database.",
          "format": "google-datetime",
          "readOnly": true
        },
        "mtlsConnectionRequired": {
          "description": "Optional. Immutable. This field specifies if the Autonomous Database requires mTLS connections.",
          "type": "boolean"
        },
        "scheduledOperationDetails": {
          "items": {
            "$ref": "ScheduledOperationDetails"
          },
          "readOnly": true,
          "description": "Output only. The list and details of the scheduled operations of the Autonomous Database.",
          "type": "array"
        },
        "refreshableState": {
          "description": "Output only. The refresh State of the clone.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Refreshing",
            "Not refreshed"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "REFRESHABLE_STATE_UNSPECIFIED",
            "REFRESHING",
            "NOT_REFRESHING"
          ]
        },
        "apexDetails": {
          "description": "Output only. The details for the Oracle APEX Application Development.",
          "$ref": "AutonomousDatabaseApex",
          "readOnly": true
        },
        "characterSet": {
          "description": "Optional. Immutable. The character set for the Autonomous Database. The default is AL32UTF8.",
          "type": "string"
        },
        "encryptionKeyHistoryEntries": {
          "items": {
            "$ref": "EncryptionKeyHistoryEntry"
          },
          "description": "Output only. The history of the encryption keys used to encrypt the Autonomous Database.",
          "readOnly": true,
          "type": "array"
        },
        "localDisasterRecoveryType": {
          "type": "string",
          "enum": [
            "LOCAL_DISASTER_RECOVERY_TYPE_UNSPECIFIED",
            "ADG",
            "BACKUP_BASED",
            "NOT_AVAILABLE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Autonomous Data Guard recovery.",
            "Backup based recovery.",
            "Local disaster recovery is not available."
          ],
          "description": "Output only. This field indicates the local disaster recovery (DR) type of an Autonomous Database."
        },
        "actualUsedDataStorageSizeTb": {
          "readOnly": true,
          "description": "Output only. The amount of storage currently being used for user and system data, in terabytes.",
          "format": "double",
          "type": "number"
        },
        "disasterRecoveryRoleChangedTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The date and time the Disaster Recovery role was changed for the standby Autonomous Database."
        },
        "supportedCloneRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The list of available regions that can be used to create a clone for the Autonomous Database."
        },
        "maintenanceScheduleType": {
          "description": "Optional. Immutable. The maintenance schedule of the Autonomous Database.",
          "type": "string",
          "enum": [
            "MAINTENANCE_SCHEDULE_TYPE_UNSPECIFIED",
            "EARLY",
            "REGULAR"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "An EARLY maintenance schedule patches the database before the regular scheduled maintenance.",
            "A REGULAR maintenance schedule follows the normal maintenance cycle."
          ]
        },
        "connectionStrings": {
          "readOnly": true,
          "description": "Output only. The connection strings used to connect to an Autonomous Database.",
          "$ref": "AutonomousDatabaseConnectionStrings"
        },
        "connectionUrls": {
          "description": "Output only. The Oracle Connection URLs for an Autonomous Database.",
          "$ref": "AutonomousDatabaseConnectionUrls",
          "readOnly": true
        },
        "privateEndpoint": {
          "description": "Output only. The private endpoint for the Autonomous Database.",
          "type": "string",
          "readOnly": true
        },
        "peerDbIds": {
          "description": "Output only. The list of OCIDs of standby databases located in Autonomous Data Guard remote regions that are associated with the source database.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "computeCount": {
          "description": "Optional. Immutable. The number of compute servers for the Autonomous Database.",
          "type": "number",
          "format": "float"
        },
        "sqlWebDeveloperUrl": {
          "readOnly": true,
          "description": "Output only. The SQL Web Developer URL for the Autonomous Database.",
          "type": "string"
        },
        "autonomousContainerDatabaseId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Autonomous Container Database OCID."
        },
        "dataSafeState": {
          "type": "string",
          "enum": [
            "DATA_SAFE_STATE_UNSPECIFIED",
            "REGISTERING",
            "REGISTERED",
            "DEREGISTERING",
            "NOT_REGISTERED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Registering data safe state.",
            "Registered data safe state.",
            "Deregistering data safe state.",
            "Not registered data safe state.",
            "Failed data safe state."
          ],
          "readOnly": true,
          "description": "Output only. The current state of the Data Safe registration for the Autonomous Database."
        },
        "dbEdition": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Standard Database Edition",
            "Enterprise Database Edition"
          ],
          "type": "string",
          "enum": [
            "DATABASE_EDITION_UNSPECIFIED",
            "STANDARD_EDITION",
            "ENTERPRISE_EDITION"
          ],
          "description": "Optional. Immutable. The edition of the Autonomous Databases."
        },
        "availableUpgradeVersions": {
          "description": "Output only. The list of available Oracle Database upgrade versions for an Autonomous Database.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "dbVersion": {
          "type": "string",
          "description": "Optional. Immutable. The Oracle Database version for the Autonomous Database."
        },
        "localAdgAutoFailoverMaxDataLossLimit": {
          "deprecated": true,
          "type": "integer",
          "description": "Output only. Deprecated: Please use `local_adg_auto_failover_max_data_loss_limit_duration` instead. This field indicates the maximum data loss limit for an Autonomous Database, in seconds.",
          "readOnly": true,
          "format": "int32"
        },
        "privateEndpointLabel": {
          "type": "string",
          "description": "Optional. Immutable. The private endpoint label for the Autonomous Database."
        },
        "role": {
          "description": "Output only. The Data Guard role of the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Primary role",
            "Standby role",
            "Disabled standby role",
            "Backup copy role",
            "Snapshot standby role"
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "STANDBY",
            "DISABLED_STANDBY",
            "BACKUP_COPY",
            "SNAPSHOT_STANDBY"
          ],
          "readOnly": true
        }
      },
      "id": "AutonomousDatabaseProperties",
      "type": "object",
      "description": "The properties of an Autonomous Database."
    },
    "ListAutonomousDbVersionsResponse": {
      "properties": {
        "autonomousDbVersions": {
          "description": "The list of Autonomous Database versions.",
          "type": "array",
          "items": {
            "$ref": "AutonomousDbVersion"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response for `AutonomousDbVersion.List`.",
      "id": "ListAutonomousDbVersionsResponse"
    },
    "ExascaleDbStorageDetails": {
      "type": "object",
      "description": "The storage details of the ExascaleDbStorageVault.",
      "properties": {
        "availableSizeGbs": {
          "type": "integer",
          "description": "Output only. The available storage capacity for the ExascaleDbStorageVault, in gigabytes (GB).",
          "format": "int32",
          "readOnly": true
        },
        "totalSizeGbs": {
          "format": "int32",
          "description": "Required. The total storage allocation for the ExascaleDbStorageVault, in gigabytes (GB).",
          "type": "integer"
        }
      },
      "id": "ExascaleDbStorageDetails"
    },
    "DbSystemInitialStorageSize": {
      "id": "DbSystemInitialStorageSize",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "properties": {
          "description": "Output only. The properties of the DbSystem initial storage size summary.",
          "readOnly": true,
          "$ref": "DbSystemInitialStorageSizeProperties"
        }
      },
      "description": "Summary of the DbSystem initial storage size."
    },
    "GoldengateConnectionAssignment": {
      "id": "GoldengateConnectionAssignment",
      "description": "Represents the metadata of a Goldengate Connection Assignment.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "GoldengateConnectionAssignmentProperties",
          "description": "Required. The properties of the GoldengateConnectionAssignment."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the GoldengateConnectionAssignment resource in the following format: projects/{project}/locations/{region}/goldengateConnectionAssignments/{goldengate_connection_assignment}"
        },
        "labels": {
          "description": "Optional. The labels or tags associated with the GoldengateConnectionAssignment.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "description": "Output only. The time when the connection assignment was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. The display name for the GoldengateConnectionAssignment.",
          "type": "string"
        },
        "entitlementId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The OCID of the entitlement linked to this resource."
        }
      }
    },
    "ListGoldengateDeploymentsResponse": {
      "description": "The response for `GoldengateDeployment.List`.",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Optional. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "goldengateDeployments": {
          "description": "The list of GoldengateDeployments.",
          "items": {
            "$ref": "GoldengateDeployment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListGoldengateDeploymentsResponse"
    },
    "AutonomousDatabaseBackupProperties": {
      "properties": {
        "compartmentId": {
          "description": "Output only. The OCID of the compartment.",
          "type": "string",
          "readOnly": true
        },
        "isRestorable": {
          "description": "Output only. Indicates if the backup can be used to restore the Autonomous Database.",
          "readOnly": true,
          "type": "boolean"
        },
        "kmsKeyVersionId": {
          "description": "Optional. The OCID of the key container version that is used in database transparent data encryption (TDE) operations KMS Key can have multiple key versions. If none is specified, the current key version (latest) of the Key Id is used for the operation. Autonomous Database Serverless does not use key versions, hence is not applicable for Autonomous Database Serverless instances.",
          "type": "string"
        },
        "availableTillTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp until when the backup will be available.",
          "readOnly": true,
          "type": "string"
        },
        "isLongTermBackup": {
          "type": "boolean",
          "description": "Output only. Indicates if the backup is long term backup.",
          "readOnly": true
        },
        "isAutomaticBackup": {
          "description": "Output only. Indicates if the backup is automatic or user initiated.",
          "readOnly": true,
          "type": "boolean"
        },
        "keyStoreId": {
          "description": "Optional. The OCID of the key store of Oracle Vault.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The date and time the backup completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "databaseSizeTb": {
          "format": "float",
          "description": "Output only. The quantity of data in the database, in terabytes.",
          "type": "number",
          "readOnly": true
        },
        "retentionPeriodDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Retention period in days for the backup."
        },
        "kmsKeyId": {
          "description": "Optional. The OCID of the key container that is used as the master encryption key in database transparent data encryption (TDE) operations.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL",
            "LONG_TERM"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Incremental backups.",
            "Full backups.",
            "Long term backups."
          ],
          "description": "Output only. The type of the backup.",
          "readOnly": true
        },
        "keyStoreWallet": {
          "type": "string",
          "description": "Optional. The wallet name for Oracle Key Vault."
        },
        "lifecycleState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DELETED",
            "FAILED",
            "UPDATING"
          ],
          "description": "Output only. The lifecycle state of the backup.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in creating state.",
            "Indicates that the resource is in active state.",
            "Indicates that the resource is in deleting state.",
            "Indicates that the resource is in deleted state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in updating state."
          ]
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The date and time the backup started."
        },
        "ocid": {
          "type": "string",
          "description": "Output only. OCID of the Autonomous Database backup. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle",
          "readOnly": true
        },
        "sizeTb": {
          "format": "float",
          "type": "number",
          "description": "Output only. The backup size in terabytes.",
          "readOnly": true
        },
        "dbVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A valid Oracle Database version for Autonomous Database."
        },
        "lifecycleDetails": {
          "description": "Output only. Additional information about the current lifecycle state.",
          "readOnly": true,
          "type": "string"
        },
        "vaultId": {
          "type": "string",
          "description": "Optional. The OCID of the vault."
        }
      },
      "type": "object",
      "description": "Properties of the Autonomous Database Backup resource.",
      "id": "AutonomousDatabaseBackupProperties"
    },
    "GoldengateConnection": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the GoldengateConnection resource in the following format: projects/{project}/locations/{region}/goldengateConnections/{goldengate_connection}",
          "type": "string"
        },
        "entitlementId": {
          "description": "Output only. The ID of the subscription entitlement associated with the GoldengateConnection.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels or tags associated with the GoldengateConnection.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "gcpOracleZone": {
          "type": "string",
          "description": "Optional. The GCP Oracle zone where Oracle GoldengateConnection is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability."
        },
        "ociUrl": {
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "readOnly": true,
          "type": "string"
        },
        "odbNetwork": {
          "description": "Optional. The name of the OdbNetwork associated with the GoldengateConnection. The format is projects/{project}/locations/{location}/odbNetworks/{odb_network}. It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The date and time that the GoldengateConnection was created.",
          "type": "string",
          "readOnly": true
        },
        "odbSubnet": {
          "type": "string",
          "description": "Optional. The name of the OdbSubnet associated with the GoldengateConnection for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "properties": {
          "$ref": "GoldengateConnectionProperties",
          "description": "Required. The properties of the GoldengateConnection."
        }
      },
      "id": "GoldengateConnection",
      "description": "Details of the GoldengateConnection resource."
    },
    "ListGoldengateDeploymentEnvironmentsResponse": {
      "type": "object",
      "id": "ListGoldengateDeploymentEnvironmentsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "goldengateDeploymentEnvironments": {
          "description": "The list of GoldengateDeploymentEnvironment",
          "items": {
            "$ref": "GoldengateDeploymentEnvironment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If this field is empty, there are no subsequent pages."
        }
      },
      "description": "Message for response to listing GoldengateDeploymentEnvironments"
    },
    "AutonomousDatabaseCharacterSet": {
      "id": "AutonomousDatabaseCharacterSet",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Autonomous Database Character Set resource in the following format: projects/{project}/locations/{region}/autonomousDatabaseCharacterSets/{autonomous_database_character_set}"
        },
        "characterSet": {
          "readOnly": true,
          "description": "Output only. The character set name for the Autonomous Database which is the ID in the resource name.",
          "type": "string"
        },
        "characterSetType": {
          "description": "Output only. The character set type for the Autonomous Database.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "CHARACTER_SET_TYPE_UNSPECIFIED",
            "DATABASE",
            "NATIONAL"
          ],
          "enumDescriptions": [
            "Character set type is not specified.",
            "Character set type is set to database.",
            "Character set type is set to national."
          ]
        }
      },
      "description": "Details of the Autonomous Database character set resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabaseCharacterSets/"
    },
    "NameValuePair": {
      "description": "A name-value pair representing an attribute entry usable in a list of attributes.",
      "id": "NameValuePair",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The value of the property entry.",
          "type": "string"
        },
        "key": {
          "description": "Required. The name of the property entry.",
          "type": "string"
        }
      }
    },
    "ListCloudVmClustersResponse": {
      "description": "The response for `CloudVmCluster.List`.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'."
        },
        "cloudVmClusters": {
          "items": {
            "$ref": "CloudVmCluster"
          },
          "description": "The list of VM Clusters.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to fetch the next page of results.",
          "type": "string"
        }
      },
      "id": "ListCloudVmClustersResponse",
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "percentComplete": {
          "type": "number",
          "format": "double",
          "description": "Output only. An estimated percentage of the operation that has been completed at a given moment of time, between 0 and 100.",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. The status of the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata"
    },
    "GoogleCloudStorageIcebergStorage": {
      "properties": {
        "serviceAccountKeyFile": {
          "description": "Optional. The base64 encoded content of the service account key file of Google Cloud Storage.",
          "type": "string"
        },
        "bucket": {
          "type": "string",
          "description": "Required. The bucket of Google Cloud Storage."
        },
        "projectId": {
          "type": "string",
          "description": "Required. The project ID of Google Cloud Storage."
        }
      },
      "description": "The Google Cloud Storage Iceberg storage.",
      "type": "object",
      "id": "GoogleCloudStorageIcebergStorage"
    },
    "ListGoldengateConnectionAssignmentsResponse": {
      "id": "ListGoldengateConnectionAssignmentsResponse",
      "properties": {
        "unreachable": {
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "goldengateConnectionAssignments": {
          "type": "array",
          "description": "The list of GoldengateConnectionAssignments.",
          "items": {
            "$ref": "GoldengateConnectionAssignment"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for listing GoldengateConnectionAssignments.",
      "type": "object"
    },
    "TimeOfDay": {
      "type": "object",
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "nanos": {
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32"
        },
        "minutes": {
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32"
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        }
      }
    },
    "ListDbVersionsResponse": {
      "description": "The response for `DbVersions.List`.",
      "type": "object",
      "id": "ListDbVersionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "dbVersions": {
          "items": {
            "$ref": "DbVersion"
          },
          "type": "array",
          "description": "The list of DbVersions."
        }
      }
    },
    "IcebergCatalog": {
      "id": "IcebergCatalog",
      "description": "The Iceberg catalog details.",
      "type": "object",
      "properties": {
        "restIcebergCatalog": {
          "$ref": "RestIcebergCatalog",
          "description": "The REST Iceberg catalog."
        },
        "nessieIcebergCatalog": {
          "description": "The Nessie Iceberg catalog.",
          "$ref": "NessieIcebergCatalog"
        },
        "polarisIcebergCatalog": {
          "$ref": "PolarisIcebergCatalog",
          "description": "The Polaris Iceberg catalog."
        },
        "catalogType": {
          "type": "string",
          "enum": [
            "CATALOG_TYPE_UNSPECIFIED",
            "GLUE",
            "HADOOP",
            "NESSIE",
            "POLARIS",
            "REST"
          ],
          "description": "Required. The type of Iceberg catalog.",
          "enumDescriptions": [
            "Catalog type not specified.",
            "Glue catalog.",
            "Hadoop catalog.",
            "Nessie catalog.",
            "Polaris catalog.",
            "REST catalog."
          ]
        },
        "glueIcebergCatalog": {
          "description": "The Glue Iceberg catalog.",
          "$ref": "GlueIcebergCatalog"
        }
      }
    },
    "RestartAutonomousDatabaseRequest": {
      "description": "The request for `AutonomousDatabase.Restart`.",
      "type": "object",
      "properties": {},
      "id": "RestartAutonomousDatabaseRequest"
    },
    "GoldengateAmazonRedshiftConnectionProperties": {
      "description": "The properties of GoldengateAmazonRedshiftConnection.",
      "id": "GoldengateAmazonRedshiftConnectionProperties",
      "properties": {
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses for Amazon Redshift connection in plain text.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology."
        },
        "connectionUrl": {
          "description": "Optional. Connection URL. e.g.: 'jdbc:redshift://aws-redshift-instance.aaaaaaaaaaaa.us-east-2.redshift.amazonaws.com:5439/mydb'",
          "type": "string"
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Amazon Redshift connection. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "technologyType": {
          "description": "Optional. The technology type of AmazonRedshiftConnection.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DbSystemOptions": {
      "properties": {
        "storageManagement": {
          "description": "Optional. The storage option used in DB system.",
          "type": "string",
          "enum": [
            "STORAGE_MANAGEMENT_UNSPECIFIED",
            "ASM",
            "LVM"
          ],
          "enumDescriptions": [
            "The storage management is unspecified.",
            "Automatic storage management. This option is not supported. Only LVM is supported.",
            "Logical Volume management."
          ]
        }
      },
      "id": "DbSystemOptions",
      "type": "object",
      "description": "Details of the DbSystem Options."
    },
    "StorageSizeDetails": {
      "description": "The initial storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
      "type": "object",
      "properties": {
        "dataStorageSizeInGbs": {
          "format": "int32",
          "description": "Output only. The data storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
          "type": "integer",
          "readOnly": true
        },
        "recoStorageSizeInGbs": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The RECO/REDO storage size, in gigabytes, that is applicable for virtual machine DBSystem."
        }
      },
      "id": "StorageSizeDetails"
    },
    "DbSystemInitialStorageSizeProperties": {
      "id": "DbSystemInitialStorageSizeProperties",
      "properties": {
        "storageManagement": {
          "description": "Output only. The storage option used in DB system.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STORAGE_MANAGEMENT_UNSPECIFIED",
            "ASM",
            "LVM"
          ],
          "enumDescriptions": [
            "Unspecified storage management.",
            "Automatic Storage Management.",
            "Logical Volume Management."
          ]
        },
        "launchFromBackupStorageSizeDetails": {
          "items": {
            "$ref": "StorageSizeDetails"
          },
          "type": "array",
          "description": "Output only. List of storage disk details available for launches from backup.",
          "readOnly": true
        },
        "storageSizeDetails": {
          "description": "Output only. List of storage disk details.",
          "items": {
            "$ref": "StorageSizeDetails"
          },
          "readOnly": true,
          "type": "array"
        },
        "shapeType": {
          "type": "string",
          "enum": [
            "SHAPE_TYPE_UNSPECIFIED",
            "STANDARD_X86"
          ],
          "enumDescriptions": [
            "Unspecified shape type.",
            "Standard X86."
          ],
          "readOnly": true,
          "description": "Output only. VM shape platform type"
        }
      },
      "type": "object",
      "description": "The properties of a DbSystem initial storage size summary."
    },
    "NessieIcebergCatalog": {
      "description": "The Nessie Iceberg catalog.",
      "id": "NessieIcebergCatalog",
      "properties": {
        "branch": {
          "type": "string",
          "description": "Required. The Nessie branch."
        },
        "uri": {
          "type": "string",
          "description": "Required. The Nessie uri."
        }
      },
      "type": "object"
    },
    "AutonomousDatabaseStandbySummary": {
      "type": "object",
      "properties": {
        "dataGuardRoleChangedTime": {
          "readOnly": true,
          "description": "Output only. The date and time the Autonomous Data Guard role was switched for the standby Autonomous Database.",
          "type": "string",
          "format": "google-datetime"
        },
        "lagTimeDuration": {
          "readOnly": true,
          "description": "Output only. The amount of time, in seconds, that the data of the standby database lags in comparison to the data of the primary database.",
          "type": "string",
          "format": "google-duration"
        },
        "lifecycleDetails": {
          "description": "Output only. The additional details about the current lifecycle state of the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the Autonomous Database is in provisioning state.",
            "Indicates that the Autonomous Database is in available state.",
            "Indicates that the Autonomous Database is in stopping state.",
            "Indicates that the Autonomous Database is in stopped state.",
            "Indicates that the Autonomous Database is in starting state.",
            "Indicates that the Autonomous Database is in terminating state.",
            "Indicates that the Autonomous Database is in terminated state.",
            "Indicates that the Autonomous Database is in unavailable state.",
            "Indicates that the Autonomous Database restore is in progress.",
            "Indicates that the Autonomous Database failed to restore.",
            "Indicates that the Autonomous Database backup is in progress.",
            "Indicates that the Autonomous Database scale is in progress.",
            "Indicates that the Autonomous Database is available but needs attention state.",
            "Indicates that the Autonomous Database is in updating state.",
            "Indicates that the Autonomous Database's maintenance is in progress state.",
            "Indicates that the Autonomous Database is in restarting state.",
            "Indicates that the Autonomous Database is in recreating state.",
            "Indicates that the Autonomous Database's role change is in progress state.",
            "Indicates that the Autonomous Database is in upgrading state.",
            "Indicates that the Autonomous Database is in inaccessible state.",
            "Indicates that the Autonomous Database is in standby state."
          ],
          "description": "Output only. The current lifecycle state of the Autonomous Database.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "TERMINATING",
            "TERMINATED",
            "UNAVAILABLE",
            "RESTORE_IN_PROGRESS",
            "RESTORE_FAILED",
            "BACKUP_IN_PROGRESS",
            "SCALE_IN_PROGRESS",
            "AVAILABLE_NEEDS_ATTENTION",
            "UPDATING",
            "MAINTENANCE_IN_PROGRESS",
            "RESTARTING",
            "RECREATING",
            "ROLE_CHANGE_IN_PROGRESS",
            "UPGRADING",
            "INACCESSIBLE",
            "STANDBY"
          ],
          "readOnly": true
        },
        "disasterRecoveryRoleChangedTime": {
          "description": "Output only. The date and time the Disaster Recovery role was switched for the standby Autonomous Database.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "AutonomousDatabaseStandbySummary",
      "description": "Autonomous Data Guard standby database details. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseStandbySummary"
    },
    "GoldengatePlacement": {
      "id": "GoldengatePlacement",
      "properties": {
        "availabilityDomain": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The availability domain."
        },
        "faultDomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fault domain."
        }
      },
      "type": "object",
      "description": "The placement of the GoldengateDeployment."
    },
    "GoldengateMysqlConnectionProperties": {
      "id": "GoldengateMysqlConnectionProperties",
      "properties": {
        "additionalAttributes": {
          "items": {
            "$ref": "NameValuePair"
          },
          "type": "array",
          "description": "Optional. An array of name-value pair attribute entries. Used as additional parameters in connection string."
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of MysqlConnection."
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password Oracle Goldengate uses to connect to MySQL in plain text."
        },
        "securityProtocol": {
          "enumDescriptions": [
            "Security type not specified.",
            "Plain text communication.",
            "Transport Layer Security.",
            "Mutual Transport Layer Security."
          ],
          "type": "string",
          "enum": [
            "MYSQL_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS",
            "MTLS"
          ],
          "description": "Optional. Security Type for MySQL."
        },
        "sslCrlFile": {
          "type": "string",
          "description": "Optional. The base64 encoded list of certificates revoked by the trusted certificate authorities (Trusted CA)."
        },
        "sslCaFile": {
          "description": "Optional. Database Certificate - The base64 encoded content of a .pem or .crt file containing the server public key (for 1 and 2-way SSL).",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The port of an endpoint usually specified for a connection."
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses to connect to MySQL. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "sslKeyFile": {
          "type": "string",
          "description": "Optional. Client Key - The base64 encoded content of a .pem or .crt file containing the client private key (for 2-way SSL)."
        },
        "dbSystemId": {
          "description": "Optional. The OCID of the database system being referenced.",
          "type": "string"
        },
        "database": {
          "type": "string",
          "description": "Optional. The name of the database."
        },
        "host": {
          "type": "string",
          "description": "Optional. The name or address of a host."
        },
        "sslCertFile": {
          "type": "string",
          "description": "Optional. Client Certificate - The base64 encoded content of a .pem or .crt file containing the client public key (for 2-way SSL)."
        },
        "sslMode": {
          "enumDescriptions": [
            "SSL mode not specified.",
            "SSL is disabled.",
            "SSL is preferred.",
            "SSL is required.",
            "SSL is required and certificate is verified.",
            "SSL is required and certificate and hostname are verified."
          ],
          "description": "Optional. SSL modes for MySQL.",
          "type": "string",
          "enum": [
            "SSL_MODE_UNSPECIFIED",
            "DISABLED",
            "PREFERRED",
            "REQUIRED",
            "VERIFY_CA",
            "VERIFY_IDENTITY"
          ]
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Properties of GoldengateMysqlConnection."
    },
    "StopAutonomousDatabaseRequest": {
      "properties": {},
      "id": "StopAutonomousDatabaseRequest",
      "description": "The request for `AutonomousDatabase.Stop`.",
      "type": "object"
    },
    "GoldengateGoogleCloudStorageConnectionProperties": {
      "properties": {
        "serviceAccountKeyFile": {
          "description": "Optional. The base64 encoded content of the service account key file containing the credentials required to use Google Cloud Storage.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type.",
          "type": "string"
        }
      },
      "description": "The properties of GoldengateGoogleCloudStorageConnectionProperties.",
      "type": "object",
      "id": "GoldengateGoogleCloudStorageConnectionProperties"
    },
    "GoldengateJavaMessageServiceConnectionProperties": {
      "type": "object",
      "description": "The properties of GoldengateJavaMessageServiceConnection.",
      "properties": {
        "keyStorePassword": {
          "type": "string",
          "description": "Optional. Input only. The KeyStore password in plain text."
        },
        "securityProtocol": {
          "description": "Optional. Security protocol for Java Message Service.",
          "enumDescriptions": [
            "Security protocol not specified.",
            "Plain text communication.",
            "Transport Layer Security.",
            "Mutual Transport Layer Security."
          ],
          "type": "string",
          "enum": [
            "JMS_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS",
            "MTLS"
          ]
        },
        "sslKeyPasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password for the cert inside of the KeyStore. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "trustStorePassword": {
          "type": "string",
          "description": "Optional. Input only. The TrustStore password in plain text."
        },
        "authenticationType": {
          "description": "Optional. Authentication type for Java Message Service.",
          "type": "string",
          "enum": [
            "JMS_AUTHENTICATION_TYPE_UNSPECIFIED",
            "NONE",
            "BASIC"
          ],
          "enumDescriptions": [
            "Authentication type not specified.",
            "No authentication.",
            "Basic authentication."
          ]
        },
        "jndiSecurityCredentialsSecret": {
          "type": "string",
          "description": "Optional. The password associated to the principal."
        },
        "useJndi": {
          "type": "boolean",
          "description": "Optional. If set to true, Java Naming and Directory Interface (JNDI) properties should be provided."
        },
        "technologyType": {
          "description": "Optional. The technology type of JavaMessageServiceConnection.",
          "type": "string"
        },
        "keyStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the KeyStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "jndiConnectionFactory": {
          "description": "Optional. The Connection Factory can be looked up using this name. e.g.: 'ConnectionFactory'",
          "type": "string"
        },
        "connectionUrl": {
          "description": "Optional. Connection URL of the Java Message Service, specifying the protocol, host, and port. e.g.: 'mq://myjms.host.domain:7676'",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password Oracle Goldengate uses to connect the Java Message Service in plain text."
        },
        "connectionFactory": {
          "type": "string",
          "description": "Optional. The Java class implementing javax.jms.ConnectionFactory interface supplied by the JMS provider."
        },
        "jndiSecurityPrincipal": {
          "description": "Optional. Specifies the identity of the principal (user) to be authenticated.",
          "type": "string"
        },
        "keyStoreFile": {
          "description": "Optional. The base64 encoded content of the KeyStore file.",
          "type": "string"
        },
        "jndiProviderUrl": {
          "description": "Optional. The URL that Java Message Service will use to contact the JNDI provider. e.g.: 'tcp://myjms.host.domain:61616?jms.prefetchPolicy.all=1000'",
          "type": "string"
        },
        "trustStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the TrustStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Optional. The username Oracle Goldengate uses to connect to the Java Message Service."
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses to connect the associated Java Message Service. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "jndiInitialContextFactory": {
          "type": "string",
          "description": "Optional. The implementation of javax.naming.spi.InitialContextFactory interface used to obtain initial naming context."
        },
        "trustStoreFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the TrustStore file."
        },
        "sslKeyPassword": {
          "type": "string",
          "description": "Optional. Input only. The password for the cert inside of the KeyStore in plain text."
        }
      },
      "id": "GoldengateJavaMessageServiceConnectionProperties"
    },
    "ListAutonomousDatabaseCharacterSetsResponse": {
      "properties": {
        "autonomousDatabaseCharacterSets": {
          "description": "The list of Autonomous Database Character Sets.",
          "items": {
            "$ref": "AutonomousDatabaseCharacterSet"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListAutonomousDatabaseCharacterSetsResponse",
      "description": "The response for `AutonomousDatabaseCharacterSet.List`.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GoldengateMaintenanceWindow": {
      "description": "The maintenance window of the GoldengateDeployment.",
      "id": "GoldengateMaintenanceWindow",
      "type": "object",
      "properties": {
        "day": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Required. Days of the week."
        },
        "startHour": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Start hour for maintenance period. Hour is in UTC."
        }
      }
    },
    "PluggableDatabaseConnectionStrings": {
      "id": "PluggableDatabaseConnectionStrings",
      "type": "object",
      "description": "The connection strings used to connect to the Oracle Database.",
      "properties": {
        "pdbIpDefault": {
          "type": "string",
          "description": "Optional. The default connection string to use to connect to the pluggable database using IP."
        },
        "allConnectionStrings": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. All connection strings to use to connect to the pluggable database."
        },
        "pdbDefault": {
          "description": "Optional. The default connection string to use to connect to the pluggable database.",
          "type": "string"
        }
      }
    },
    "RemoveVirtualMachineExadbVmClusterRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "hostnames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of host names of db nodes to be removed from the ExadbVmCluster."
        }
      },
      "type": "object",
[...]
