{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "id": "osconfig:v2beta",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/compute/docs/osconfig/rest",
  "version_module": true,
  "schemas": {
    "OSPolicyResourceFileGcs": {
      "properties": {
        "generation": {
          "description": "Generation number of the Cloud Storage object.",
          "type": "string",
          "format": "int64"
        },
        "bucket": {
          "type": "string",
          "description": "Required. Bucket of the Cloud Storage object."
        },
        "object": {
          "type": "string",
          "description": "Required. Name of the Cloud Storage object."
        }
      },
      "id": "OSPolicyResourceFileGcs",
      "type": "object",
      "description": "Specifies a file available as a Cloud Storage Object."
    },
    "GoogleCloudOsconfigV2beta__PolicyOrchestrator": {
      "id": "GoogleCloudOsconfigV2beta__PolicyOrchestrator",
      "type": "object",
      "description": "A policy orchestrator manages project-level and zone-level policy resources, such as OS policy assignments. It provides methods to create, update, and delete these resources across projects and locations at scale. The policy orchestrator operates as a continuous loop. In each iteration, the orchestrator identifies the set of resources to be modified and progressively applies changes. If the set of resources changes over time (for example, if you add new projects), subsequent iterations address those changes. The orchestrator can either upsert or delete policy resources. For more details, see the `action` and `orchestrated_resource` fields. The policy orchestrator does not manage the lifecycle of the resources it creates. Each iteration is independent and, besides Cloud Logging, the orchestrator retains only a minimal history of past actions. Deleting the orchestrator does not affect previously created resources; these resources remain in their current state. Similarly, removing projects from the orchestrator's scope does not affect existing resources.",
      "properties": {
        "reconciling": {
          "description": "Output only. Set to true, if there are ongoing changes being applied by the orchestrator.",
          "readOnly": true,
          "type": "boolean"
        },
        "orchestrationState": {
          "description": "Output only. State of the orchestration.",
          "readOnly": true,
          "$ref": "GoogleCloudOsconfigV2beta_PolicyOrchestrator_OrchestrationState"
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true,
          "type": "string"
        },
        "orchestratedResource": {
          "$ref": "GoogleCloudOsconfigV2beta__OrchestratedResource",
          "description": "Required. Resource to be orchestrated by the policy orchestrator."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. In the following format: * `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`"
        },
        "state": {
          "description": "Optional. State of the orchestrator. Can be updated to change orchestrator behaviour. Allowed values: - `ACTIVE` - orchestrator is actively looking for actions to be taken. - `STOPPED` - orchestrator won't make any changes. Note: There might be more states added in the future. We use string here instead of an enum, to avoid the need of propagating new states to all the client code.",
          "type": "string"
        },
        "orchestrationScope": {
          "description": "Optional. Defines scope for the orchestration, in context of the enclosing PolicyOrchestrator resource. Scope is expanded into a list of pairs, in which the rollout action will take place. Expansion starts with a Folder resource parenting the PolicyOrchestrator resource: - All the descendant projects are listed. - List of project is cross joined with a list of all available zones. - Resulting list of pairs is filtered according to the selectors.",
          "$ref": "GoogleCloudOsconfigV2beta__OrchestrationScope"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. Freeform text describing the purpose of the resource."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the policy orchestrator resource was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "action": {
          "description": "Required. Action to be done by the orchestrator in `projects/{project_id}/zones/{zone_id}` locations defined by the `orchestration_scope`. Allowed values: - `UPSERT` - Orchestrator will create or update target resources. - `DELETE` - Orchestrator will delete target resources, if they exist",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the policy orchestrator resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "FixedOrPercent": {
      "properties": {
        "fixed": {
          "description": "Specifies a fixed value.",
          "type": "integer",
          "format": "int32"
        },
        "percent": {
          "description": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value.",
      "id": "FixedOrPercent",
      "type": "object"
    },
    "GoogleCloudOsconfigV2beta__OrchestrationScope": {
      "id": "GoogleCloudOsconfigV2beta__OrchestrationScope",
      "type": "object",
      "description": "Defines a set of selectors which drive which resources are in scope of policy orchestration.",
      "properties": {
        "selectors": {
          "type": "array",
          "description": "Optional. Selectors of the orchestration scope. There is a logical AND between each selector defined. When there is no explicit `ResourceHierarchySelector` selector specified, the scope is by default bounded to the parent of the policy orchestrator resource.",
          "items": {
            "$ref": "GoogleCloudOsconfigV2beta_OrchestrationScope_Selector"
          }
        }
      }
    },
    "OSPolicyResourceRepositoryResource": {
      "id": "OSPolicyResourceRepositoryResource",
      "type": "object",
      "description": "A resource that manages a package repository.",
      "properties": {
        "yum": {
          "$ref": "OSPolicyResourceRepositoryResourceYumRepository",
          "description": "A Yum Repository."
        },
        "zypper": {
          "description": "A Zypper Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceZypperRepository"
        },
        "goo": {
          "$ref": "OSPolicyResourceRepositoryResourceGooRepository",
          "description": "A Goo Repository."
        },
        "apt": {
          "description": "An Apt Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceAptRepository"
        }
      }
    },
    "OSPolicyResourceRepositoryResourceAptRepository": {
      "id": "OSPolicyResourceRepositoryResourceAptRepository",
      "type": "object",
      "description": "Represents a single apt package repository. These will be added to a repo file that will be managed at `/etc/apt/sources.list.d/google_osconfig.list`.",
      "properties": {
        "components": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of components for this repository. Must contain at least one item."
        },
        "gpgKey": {
          "description": "URI of the key file for this repository. The agent maintains a keyring at `/etc/apt/trusted.gpg.d/osconfig_agent_managed.gpg`.",
          "type": "string"
        },
        "distribution": {
          "description": "Required. Distribution of this repository.",
          "type": "string"
        },
        "archiveType": {
          "description": "Required. Type of archive files in this repository.",
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Deb indicates that the archive contains binary files.",
            "Deb-src indicates that the archive contains source files."
          ],
          "type": "string",
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "DEB",
            "DEB_SRC"
          ]
        },
        "uri": {
          "type": "string",
          "description": "Required. URI for this repository."
        }
      }
    },
    "StatusProto": {
      "description": "Wire-format for a Status object",
      "id": "StatusProto",
      "type": "object",
      "properties": {
        "space": {
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs",
          "type": "string"
        },
        "message": {
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;",
          "type": "string"
        },
        "canonicalCode": {
          "type": "integer",
          "format": "int32",
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;"
        },
        "messageSet": {
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;",
          "$ref": "MessageSet"
        }
      }
    },
    "GoogleCloudOsconfigV2beta_PolicyOrchestrator_OrchestrationState": {
      "description": "Describes the state of the orchestration process.",
      "id": "GoogleCloudOsconfigV2beta_PolicyOrchestrator_OrchestrationState",
      "type": "object",
      "properties": {
        "previousIterationState": {
          "description": "Output only. Previous Wave iteration state.",
          "readOnly": true,
          "$ref": "GoogleCloudOsconfigV2beta_PolicyOrchestrator_IterationState"
        },
        "currentIterationState": {
          "description": "Output only. Current Wave iteration state.",
          "readOnly": true,
          "$ref": "GoogleCloudOsconfigV2beta_PolicyOrchestrator_IterationState"
        }
      }
    },
    "OSPolicyResourceFile": {
      "description": "A remote or local file.",
      "id": "OSPolicyResourceFile",
      "type": "object",
      "properties": {
        "allowInsecure": {
          "description": "Defaults to false. When false, files are subject to validations based on the file type: Remote: A checksum must be specified. Cloud Storage: An object generation number must be specified.",
          "type": "boolean"
        },
        "gcs": {
          "description": "A Cloud Storage object.",
          "$ref": "OSPolicyResourceFileGcs"
        },
        "localPath": {
          "type": "string",
          "description": "A local path within the VM to use."
        },
        "remote": {
          "description": "A generic remote file.",
          "$ref": "OSPolicyResourceFileRemote"
        }
      }
    },
    "OSPolicyResourcePackageResourceDeb": {
      "properties": {
        "pullDeps": {
          "description": "Whether dependencies should also be installed. - install when false: `dpkg -i package` - install when true: `apt-get update && apt-get -y install package.deb`",
          "type": "boolean"
        },
        "source": {
          "description": "Required. A deb package.",
          "$ref": "OSPolicyResourceFile"
        }
      },
      "id": "OSPolicyResourcePackageResourceDeb",
      "type": "object",
      "description": "A deb package file. dpkg packages only support INSTALLED state."
    },
    "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata": {
      "properties": {
        "apiMethod": {
          "description": "The OS policy assignment API method.",
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "type": "string",
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ]
        },
        "rolloutState": {
          "description": "State of the rollout",
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "type": "string",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ]
        },
        "rolloutUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Rollout update time"
        },
        "rolloutStartTime": {
          "description": "Rollout start time",
          "type": "string",
          "format": "google-datetime"
        },
        "osPolicyAssignment": {
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata",
      "type": "object",
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations."
    },
    "OSPolicyResourcePackageResource": {
      "properties": {
        "deb": {
          "description": "A deb package file.",
          "$ref": "OSPolicyResourcePackageResourceDeb"
        },
        "desiredState": {
          "type": "string",
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "REMOVED"
          ],
          "description": "Required. The desired state the agent should maintain for this package.",
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Ensure that the package is installed.",
            "The agent ensures that the package is not installed and uninstalls it if detected."
          ]
        },
        "zypper": {
          "$ref": "OSPolicyResourcePackageResourceZypper",
          "description": "A package managed by Zypper."
        },
        "msi": {
          "$ref": "OSPolicyResourcePackageResourceMSI",
          "description": "An MSI package."
        },
        "apt": {
          "description": "A package managed by Apt.",
          "$ref": "OSPolicyResourcePackageResourceAPT"
        },
        "rpm": {
          "$ref": "OSPolicyResourcePackageResourceRPM",
          "description": "An rpm package file."
        },
        "googet": {
          "description": "A package managed by GooGet.",
          "$ref": "OSPolicyResourcePackageResourceGooGet"
        },
        "yum": {
          "$ref": "OSPolicyResourcePackageResourceYUM",
          "description": "A package managed by YUM."
        }
      },
      "id": "OSPolicyResourcePackageResource",
      "type": "object",
      "description": "A resource that manages a system package."
    },
    "OSPolicyResourceFileResource": {
      "id": "OSPolicyResourceFileResource",
      "type": "object",
      "description": "A resource that manages the state of a file.",
      "properties": {
        "content": {
          "type": "string",
          "description": "A file with this content. The size of the content is limited to 32KiB."
        },
        "state": {
          "description": "Required. Desired state of the file.",
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Ensure file at path is present.",
            "Ensure file at path is absent.",
            "Ensure the contents of the file at path matches. If the file does not exist it will be created."
          ],
          "type": "string",
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "PRESENT",
            "ABSENT",
            "CONTENTS_MATCH"
          ]
        },
        "file": {
          "description": "A remote or local source.",
          "$ref": "OSPolicyResourceFile"
        },
        "permissions": {
          "description": "Consists of three octal digits which represent, in order, the permissions of the owner, group, and other users for the file (similarly to the numeric mode used in the linux chmod utility). Each digit represents a three bit number with the 4 bit corresponding to the read permissions, the 2 bit corresponds to the write bit, and the one bit corresponds to the execute permission. Default behavior is 755. Below are some examples of permissions and their associated values: read, write, and execute: 7 read and execute: 5 read and write: 6 read only: 4",
          "type": "string"
        },
        "path": {
          "description": "Required. The absolute path of the file within the VM.",
          "type": "string"
        }
      }
    },
    "OSPolicyResourceExecResource": {
      "description": "A resource that allows executing scripts on the VM. The `ExecResource` has 2 stages: `validate` and `enforce` and both stages accept a script as an argument to execute. When the `ExecResource` is applied by the agent, it first executes the script in the `validate` stage. The `validate` stage can signal that the `ExecResource` is already in the desired state by returning an exit code of `100`. If the `ExecResource` is not in the desired state, it should return an exit code of `101`. Any other exit code returned by this stage is considered an error. If the `ExecResource` is not in the desired state based on the exit code from the `validate` stage, the agent proceeds to execute the script from the `enforce` stage. If the `ExecResource` is already in the desired state, the `enforce` stage will not be run. Similar to `validate` stage, the `enforce` stage should return an exit code of `100` to indicate that the resource in now in its desired state. Any other exit code is considered an error. NOTE: An exit code of `100` was chosen over `0` (and `101` vs `1`) to have an explicit indicator of `in desired state`, `not in desired state` and errors. Because, for example, Powershell will always return an exit code of `0` unless an `exit` statement is provided in the script. So, for reasons of consistency and being explicit, exit codes `100` and `101` were chosen.",
      "id": "OSPolicyResourceExecResource",
      "type": "object",
      "properties": {
        "enforce": {
          "$ref": "OSPolicyResourceExecResourceExec",
          "description": "What to run to bring this resource into the desired state. An exit code of 100 indicates \"success\", any other exit code indicates a failure running enforce."
        },
        "validate": {
          "$ref": "OSPolicyResourceExecResourceExec",
          "description": "Required. What to run to validate this resource is in the desired state. An exit code of 100 indicates \"in desired state\", and exit code of 101 indicates \"not in desired state\". Any other exit code indicates a failure running validate."
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "GoogleCloudOsconfigV2beta_OrchestrationScope_ResourceHierarchySelector": {
      "properties": {
        "includedProjects": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Names of the projects in scope. Format: `projects/{project_number}`"
        },
        "includedFolders": {
          "type": "array",
          "description": "Optional. Names of the folders in scope. Format: `folders/{folder_id}`",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudOsconfigV2beta_OrchestrationScope_ResourceHierarchySelector",
      "type": "object",
      "description": "Selector containing Cloud Resource Manager resource hierarchy nodes."
    },
    "OSPolicy": {
      "id": "OSPolicy",
      "type": "object",
      "description": "An OS policy defines the desired state configuration for a VM.",
      "properties": {
        "resourceGroups": {
          "type": "array",
          "description": "Required. List of resource groups for the policy. For a particular VM, resource groups are evaluated in the order specified and the first resource group that is applicable is selected and the rest are ignored. If none of the resource groups are applicable for a VM, the VM is considered to be non-compliant w.r.t this policy. This behavior can be toggled by the flag `allow_no_resource_group_match`",
          "items": {
            "$ref": "OSPolicyResourceGroup"
          }
        },
        "description": {
          "type": "string",
          "description": "Policy description. Length of the description is limited to 1024 characters."
        },
        "id": {
          "type": "string",
          "description": "Required. The id of the OS policy with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the assignment."
        },
        "mode": {
          "description": "Required. Policy mode",
          "enumDescriptions": [
            "Invalid mode",
            "This mode checks if the configuration resources in the policy are in their desired state. No actions are performed if they are not in the desired state. This mode is used for reporting purposes.",
            "This mode checks if the configuration resources in the policy are in their desired state, and if not, enforces the desired state."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "VALIDATION",
            "ENFORCEMENT"
          ]
        },
        "allowNoResourceGroupMatch": {
          "description": "This flag determines the OS policy compliance status when none of the resource groups within the policy are applicable for a VM. Set this value to `true` if the policy needs to be reported as compliant even if the policy has nothing to validate or enforce.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudOsconfigV2beta__OrchestratedResource": {
      "properties": {
        "osPolicyAssignmentV1Payload": {
          "$ref": "OSPolicyAssignment",
          "description": "Optional. OSPolicyAssignment resource to be created, updated or deleted. Name field is ignored and replace with a generated value. With this field set, orchestrator will perform actions on `project/{project}/locations/{zone}/osPolicyAssignments/{resource_id}` resources, where `project` and `zone` pairs come from the expanded scope, and `resource_id` comes from the `resource_id` field of orchestrator resource."
        },
        "id": {
          "type": "string",
          "description": "Optional. ID of the resource to be used while generating set of affected resources. For UPSERT action the value is auto-generated during PolicyOrchestrator creation when not set. When the value is set it should following next restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project. For DELETE action, ID must be specified explicitly during PolicyOrchestrator creation."
        }
      },
      "description": "Represents a resource that is being orchestrated by the policy orchestrator.",
      "id": "GoogleCloudOsconfigV2beta__OrchestratedResource",
      "type": "object"
    },
    "OSPolicyResourceRepositoryResourceGooRepository": {
      "properties": {
        "name": {
          "description": "Required. The name of the repository.",
          "type": "string"
        },
        "url": {
          "description": "Required. The url of the repository.",
          "type": "string"
        }
      },
      "description": "Represents a Goo package repository. These are added to a repo file that is managed at `C:/ProgramData/GooGet/repos/google_osconfig.repo`.",
      "id": "OSPolicyResourceRepositoryResourceGooRepository",
      "type": "object"
    },
    "OSPolicyResourcePackageResourceZypper": {
      "description": "A package managed by Zypper. - install: `zypper -y install package` - remove: `zypper -y rm package`",
      "id": "OSPolicyResourcePackageResourceZypper",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Package name."
        }
      }
    },
    "OSPolicyAssignmentLabelSet": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels are identified by key/value pairs in this map. A VM should contain all the key/value pairs specified in this map to be selected.",
          "type": "object"
        }
      },
      "id": "OSPolicyAssignmentLabelSet",
      "type": "object",
      "description": "Message representing label set. * A label is a key value pair set for a VM. * A LabelSet is a set of labels. * Labels within a LabelSet are ANDed. In other words, a LabelSet is applicable for a VM only if it matches all the labels in the LabelSet. * Example: A LabelSet with 2 labels: `env=prod` and `type=webserver` will only be applicable for those VMs with both labels present."
    },
    "OSPolicyResourcePackageResourceAPT": {
      "properties": {
        "name": {
          "description": "Required. Package name.",
          "type": "string"
        }
      },
      "description": "A package managed by APT. - install: `apt-get update && apt-get -y install [name]` - remove: `apt-get -y remove [name]`",
      "id": "OSPolicyResourcePackageResourceAPT",
      "type": "object"
    },
    "OSPolicyResourcePackageResourceMSI": {
      "id": "OSPolicyResourcePackageResourceMSI",
      "type": "object",
      "description": "An MSI package. MSI packages only support INSTALLED state.",
      "properties": {
        "properties": {
          "type": "array",
          "description": "Additional properties to use during installation. This should be in the format of Property=Setting. Appended to the defaults of `ACTION=INSTALL REBOOT=ReallySuppress`.",
          "items": {
            "type": "string"
          }
        },
        "source": {
          "$ref": "OSPolicyResourceFile",
          "description": "Required. The MSI package."
        }
      }
    },
    "MessageSet": {
      "id": "MessageSet",
      "type": "object",
      "description": "This is proto2's version of MessageSet. DEPRECATED: DO NOT USE FOR NEW FIELDS. If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use `Any` instead. MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2. This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments.",
      "deprecated": true,
      "properties": {}
    },
    "GoogleCloudOsconfigV2beta__OperationMetadata": {
      "id": "GoogleCloudOsconfigV2beta__OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        }
      }
    },
    "OSPolicyAssignmentOperationMetadata": {
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations.",
      "id": "OSPolicyAssignmentOperationMetadata",
      "type": "object",
      "properties": {
        "osPolicyAssignment": {
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
          "type": "string"
        },
        "rolloutStartTime": {
          "description": "Rollout start time",
          "type": "string",
          "format": "google-datetime"
        },
        "rolloutState": {
          "type": "string",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "description": "State of the rollout",
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ]
        },
        "rolloutUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Rollout update time"
        },
        "apiMethod": {
          "type": "string",
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "description": "The OS policy assignment API method.",
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ]
        }
      }
    },
    "Status": {
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudOsconfigV2beta_OrchestrationScope_LocationSelector": {
      "properties": {
        "includedLocations": {
          "description": "Optional. Names of the locations in scope. Format: `us-central1-a`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudOsconfigV2beta_OrchestrationScope_LocationSelector",
      "type": "object",
      "description": "Selector containing locations in scope."
    },
    "OSPolicyResourceExecResourceExec": {
      "description": "A file or script to execute.",
      "id": "OSPolicyResourceExecResourceExec",
      "type": "object",
      "properties": {
        "script": {
          "description": "An inline script. The size of the script is limited to 32KiB.",
          "type": "string"
        },
        "interpreter": {
          "type": "string",
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "NONE",
            "SHELL",
            "POWERSHELL"
          ],
          "description": "Required. The script interpreter to use.",
          "enumDescriptions": [
            "Invalid value, the request will return validation error.",
            "If an interpreter is not specified, the source is executed directly. This execution, without an interpreter, only succeeds for executables and scripts that have shebang lines.",
            "Indicates that the script runs with `/bin/sh` on Linux and `cmd.exe` on Windows.",
            "Indicates that the script runs with PowerShell."
          ]
        },
        "file": {
          "$ref": "OSPolicyResourceFile",
          "description": "A remote or local file."
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional arguments to pass to the source during execution."
        },
        "outputFilePath": {
          "type": "string",
          "description": "Only recorded for enforce Exec. Path to an output file (that is created by this Exec) whose content will be recorded in OSPolicyResourceCompliance after a successful run. Absence or failure to read this file will result in this ExecResource being non-compliant. Output file size is limited to 500K bytes."
        }
      }
    },
    "OSPolicyAssignmentRollout": {
      "properties": {
        "minWaitDuration": {
          "description": "Required. This determines the minimum duration of time to wait after the configuration changes are applied through the current rollout. A VM continues to count towards the `disruption_budget` at least until this duration of time has passed after configuration changes are applied.",
          "type": "string",
          "format": "google-duration"
        },
        "disruptionBudget": {
          "$ref": "FixedOrPercent",
          "description": "Required. The maximum number (or percentage) of VMs per zone to disrupt at any given moment."
        }
      },
      "description": "Message to configure the rollout at the zonal level for the OS policy assignment.",
      "id": "OSPolicyAssignmentRollout",
      "type": "object"
    },
    "OSPolicyResourcePackageResourceGooGet": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Package name."
        }
      },
      "description": "A package managed by GooGet. - install: `googet -noconfirm install package` - remove: `googet -noconfirm remove package`",
      "id": "OSPolicyResourcePackageResourceGooGet",
      "type": "object"
    },
    "OSPolicyInventoryFilter": {
      "properties": {
        "osShortName": {
          "description": "Required. The OS short name",
          "type": "string"
        },
        "osVersion": {
          "type": "string",
          "description": "The OS version Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*` An empty string matches all OS versions."
        }
      },
      "description": "Filtering criteria to select VMs based on inventory details.",
      "id": "OSPolicyInventoryFilter",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "OSPolicyAssignmentInstanceFilterInventory": {
      "id": "OSPolicyAssignmentInstanceFilterInventory",
      "type": "object",
      "description": "VM inventory details.",
      "properties": {
        "osVersion": {
          "type": "string",
          "description": "The OS version Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*` An empty string matches all OS versions."
        },
        "osShortName": {
          "type": "string",
          "description": "Required. The OS short name"
        }
      }
    },
    "GoogleCloudOsconfigV2__OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "GoogleCloudOsconfigV2__OperationMetadata",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        }
      }
    },
    "OSPolicyResourceFileRemote": {
      "id": "OSPolicyResourceFileRemote",
      "type": "object",
      "description": "Specifies a file available via some URI.",
      "properties": {
        "sha256Checksum": {
          "description": "SHA256 checksum of the remote file.",
          "type": "string"
        },
        "uri": {
          "description": "Required. URI from which to fetch the object. It should contain both the protocol and path following the format `{protocol}://{location}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudOsconfigV2beta_OrchestrationScope_Selector": {
      "description": "Selector for the resources in scope of orchestration.",
      "id": "GoogleCloudOsconfigV2beta_OrchestrationScope_Selector",
      "type": "object",
      "properties": {
        "locationSelector": {
          "$ref": "GoogleCloudOsconfigV2beta_OrchestrationScope_LocationSelector",
          "description": "Selector for selecting locations."
        },
        "resourceHierarchySelector": {
          "$ref": "GoogleCloudOsconfigV2beta_OrchestrationScope_ResourceHierarchySelector",
          "description": "Selector for selecting resource hierarchy."
        }
      }
    },
    "OSPolicyResourcePackageResourceRPM": {
      "description": "An RPM package file. RPM packages only support INSTALLED state.",
      "id": "OSPolicyResourcePackageResourceRPM",
      "type": "object",
      "properties": {
        "source": {
          "description": "Required. An rpm package.",
          "$ref": "OSPolicyResourceFile"
        },
        "pullDeps": {
          "type": "boolean",
          "description": "Whether dependencies should also be installed. - install when false: `rpm --upgrade --replacepkgs package.rpm` - install when true: `yum -y install package.rpm` or `zypper -y install package.rpm`"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "OSPolicyResourceRepositoryResourceYumRepository": {
      "properties": {
        "id": {
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the yum config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for resource conflicts.",
          "type": "string"
        },
        "baseUrl": {
          "description": "Required. The location of the repository directory.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the repository.",
          "type": "string"
        },
        "gpgKeys": {
          "type": "array",
          "description": "URIs of GPG keys.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "OSPolicyResourceRepositoryResourceYumRepository",
      "type": "object",
      "description": "Represents a single yum package repository. These are added to a repo file that is managed at `/etc/yum.repos.d/google_osconfig.repo`."
    },
    "GoogleCloudOsconfigV2beta__ListPolicyOrchestratorsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "policyOrchestrators": {
          "items": {
            "$ref": "GoogleCloudOsconfigV2beta__PolicyOrchestrator"
          },
          "type": "array",
          "description": "The policy orchestrators for the specified parent resource."
        }
      },
      "description": "Response for the list policy orchestrator resources.",
      "id": "GoogleCloudOsconfigV2beta__ListPolicyOrchestratorsResponse",
      "type": "object"
    },
    "OSPolicyAssignment": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "The etag for this OS policy assignment. If this is provided on update, it must match the server's etag."
        },
        "rolloutState": {
          "description": "Output only. OS policy assignment rollout state",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Resource name. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}` This field is ignored when you create an OS policy assignment."
        },
        "instanceFilter": {
          "$ref": "OSPolicyAssignmentInstanceFilter",
          "description": "Required. Filter to select VMs."
        },
        "osPolicies": {
          "items": {
            "$ref": "OSPolicy"
          },
          "type": "array",
          "description": "Required. List of OS policies to be applied to the VMs."
        },
        "revisionId": {
          "description": "Output only. The assignment revision ID A new revision is committed whenever a rollout is triggered for a OS policy assignment",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Indicates that reconciliation is in progress for the revision. This value is `true` when the `rollout_state` is one of: * IN_PROGRESS * CANCELLING",
          "readOnly": true
        },
        "rollout": {
          "description": "Required. Rollout to deploy the OS policy assignment. A rollout is triggered in the following situations: 1) OSPolicyAssignment is created. 2) OSPolicyAssignment is updated and the update contains changes to one of the following fields: - instance_filter - os_policies 3) OSPolicyAssignment is deleted.",
          "$ref": "OSPolicyAssignmentRollout"
        },
        "deleted": {
          "description": "Output only. Indicates that this revision deletes the OS policy assignment.",
          "readOnly": true,
          "type": "boolean"
        },
        "baseline": {
          "description": "Output only. Indicates that this revision has been successfully rolled out in this zone and new VMs will be assigned OS policies from this revision. For a given OS policy assignment, there is only one revision with a value of `true` for this field.",
          "readOnly": true,
          "type": "boolean"
        },
        "uid": {
          "type": "string",
          "description": "Output only. Server generated unique id for the OS policy assignment resource.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "OS policy assignment description. Length of the description is limited to 1024 characters."
        },
        "revisionCreateTime": {
          "description": "Output only. The timestamp that the revision was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "OS policy assignment is an API resource that is used to apply a set of OS policies to a dynamically targeted group of Compute Engine VM instances. An OS policy is used to define the desired state configuration for a Compute Engine VM instance through a set of configuration resources that provide capabilities such as installing or removing software packages, or executing a script. For more information about the OS policy resource definitions and examples, see [OS policy and OS policy assignment](https://cloud.google.com/compute/docs/os-configuration-management/working-with-os-policies).",
      "id": "OSPolicyAssignment",
      "type": "object"
    },
    "OSPolicyResourceGroup": {
      "id": "OSPolicyResourceGroup",
      "type": "object",
      "description": "Resource groups provide a mechanism to group OS policy resources. Resource groups enable OS policy authors to create a single OS policy to be applied to VMs running different operating Systems. When the OS policy is applied to a target VM, the appropriate resource group within the OS policy is selected based on the `OSFilter` specified within the resource group.",
      "properties": {
        "inventoryFilters": {
          "type": "array",
          "description": "List of inventory filters for the resource group. The resources in this resource group are applied to the target VM if it satisfies at least one of the following inventory filters. For example, to apply this resource group to VMs running either `RHEL` or `CentOS` operating systems, specify 2 items for the list with following values: inventory_filters[0].os_short_name='rhel' and inventory_filters[1].os_short_name='centos' If the list is empty, this resource group will be applied to the target VM unconditionally.",
          "items": {
            "$ref": "OSPolicyInventoryFilter"
          }
        },
        "resources": {
          "items": {
            "$ref": "OSPolicyResource"
          },
          "type": "array",
          "description": "Required. List of resources configured for this resource group. The resources are executed in the exact order specified here."
        }
      }
    },
    "OSPolicyAssignmentInstanceFilter": {
      "properties": {
        "exclusionLabels": {
          "items": {
            "$ref": "OSPolicyAssignmentLabelSet"
          },
          "description": "List of label sets used for VM exclusion. If the list has more than one label set, the VM is excluded if any of the label sets are applicable for the VM.",
          "type": "array"
        },
        "all": {
          "type": "boolean",
          "description": "Target all VMs in the project. If true, no other criteria is permitted."
        },
        "inclusionLabels": {
          "description": "List of label sets used for VM inclusion. If the list has more than one `LabelSet`, the VM is included if any of the label sets are applicable for the VM.",
          "type": "array",
          "items": {
            "$ref": "OSPolicyAssignmentLabelSet"
          }
        },
        "inventories": {
          "type": "array",
          "description": "List of inventories to select VMs. A VM is selected if its inventory data matches at least one of the following inventories.",
          "items": {
            "$ref": "OSPolicyAssignmentInstanceFilterInventory"
          }
        }
      },
      "id": "OSPolicyAssignmentInstanceFilter",
      "type": "object",
      "description": "Filters to select target VMs for an assignment. If more than one filter criteria is specified below, a VM will be selected if and only if it satisfies all of them."
    },
    "OSPolicyResource": {
      "properties": {
        "exec": {
          "description": "Exec resource",
          "$ref": "OSPolicyResourceExecResource"
        },
        "file": {
          "description": "File resource",
          "$ref": "OSPolicyResourceFileResource"
        },
        "id": {
          "type": "string",
          "description": "Required. The id of the resource with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the OS policy."
        },
        "pkg": {
          "description": "Package resource",
          "$ref": "OSPolicyResourcePackageResource"
        },
        "repository": {
          "$ref": "OSPolicyResourceRepositoryResource",
          "description": "Package repository resource"
        }
      },
      "id": "OSPolicyResource",
      "type": "object",
      "description": "An OS policy resource is used to define the desired state configuration and provides a specific functionality like installing/removing packages, executing a script etc. The system ensures that resources are always in their desired state by taking necessary actions if they have drifted from their desired state."
    },
    "OSPolicyResourcePackageResourceYUM": {
      "id": "OSPolicyResourcePackageResourceYUM",
      "type": "object",
      "description": "A package managed by YUM. - install: `yum -y install package` - remove: `yum -y remove package`",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Package name."
        }
      }
    },
    "GoogleCloudOsconfigV2beta_PolicyOrchestrator_IterationState": {
      "id": "GoogleCloudOsconfigV2beta_PolicyOrchestrator_IterationState",
      "type": "object",
      "description": "Describes the state of a single iteration of the orchestrator.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Iteration is in progress.",
            "Iteration completed, with all actions being successful.",
            "Iteration completed, with failures.",
            "Iteration was explicitly cancelled.",
            "Impossible to determine current state of the iteration."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "COMPLETED",
            "FAILED",
            "CANCELLED",
            "UNKNOWN"
          ],
          "description": "Output only. State of the iteration.",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "description": "Output only. Error thrown in the wave iteration.",
          "readOnly": true,
          "$ref": "Status"
        },
        "progress": {
          "type": "number",
          "format": "float",
          "description": "Output only. An estimated percentage of the progress. Number between 0 and 100.",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Start time of the wave iteration.",
          "readOnly": true
        },
        "iterationId": {
          "type": "string",
          "description": "Output only. Unique identifier of the iteration.",
          "readOnly": true
        },
        "performedActions": {
          "description": "Output only. Overall number of actions done by the orchestrator so far.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "failedActions": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of orchestration actions which failed so far. For more details, query the Cloud Logs.",
          "readOnly": true
        },
        "finishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Finish time of the wave iteration.",
          "readOnly": true
        }
      }
    },
    "OSPolicyResourceRepositoryResourceZypperRepository": {
      "properties": {
        "displayName": {
          "description": "The display name of the repository.",
          "type": "string"
        },
        "gpgKeys": {
          "type": "array",
          "description": "URIs of GPG keys.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the zypper config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for GuestPolicy conflicts.",
          "type": "string"
        },
        "baseUrl": {
          "type": "string",
          "description": "Required. The location of the repository directory."
        }
      },
      "description": "Represents a single zypper package repository. These are added to a repo file that is managed at `/etc/zypp/repos.d/google_osconfig.repo`.",
      "id": "OSPolicyResourceRepositoryResourceZypperRepository",
      "type": "object"
    }
  },
  "mtlsRootUrl": "https://osconfig.mtls.googleapis.com/",
  "rootUrl": "https://osconfig.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version": "v2beta",
  "resources": {
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2beta/{+name}",
                  "id": "osconfig.folders.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta/folders/{foldersId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2beta/{+name}/operations",
                  "flatPath": "v2beta/folders/{foldersId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "osconfig.folders.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "flatPath": "v2beta/folders/{foldersId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "osconfig.folders.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2beta/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  }
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2beta/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "osconfig.folders.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta/folders/{foldersId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                }
              }
            },
            "global": {
              "resources": {
                "policyOrchestrators": {
                  "methods": {
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the resource to be deleted.",
                          "type": "string",
                          "pattern": "^folders/[^/]+/locations/global/policyOrchestrators/[^/]+$"
                        },
                        "etag": {
                          "type": "string",
                          "description": "Optional. The current etag of the policy orchestrator. If an etag is provided and does not match the current etag of the policy orchestrator, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query"
                        }
                      },
                      "path": "v2beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2beta/folders/{foldersId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "httpMethod": "DELETE",
                      "description": "Deletes an existing policy orchestrator resource, parented by a folder.",
                      "id": "osconfig.folders.locations.global.policyOrchestrators.delete",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^folders/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name."
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2beta__PolicyOrchestrator"
                      },
                      "path": "v2beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "osconfig.folders.locations.global.policyOrchestrators.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2beta/folders/{foldersId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "httpMethod": "GET",
                      "description": "Retrieves an existing policy orchestrator, parented by a folder."
                    },
                    "list": {
                      "id": "osconfig.folders.locations.global.policyOrchestrators.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2beta/folders/{foldersId}/locations/global/policyOrchestrators",
                      "httpMethod": "GET",
                      "description": "Lists the policy orchestrators under the given parent folder resource.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2beta/{+parent}/policyOrchestrators",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent resource name.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^folders/[^/]+/locations/global$"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filtering results",
                          "location": "query"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Hint for how to order the results",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2beta__ListPolicyOrchestratorsResponse"
                      }
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2beta/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "description": "Immutable. Identifier. In the following format: * `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^folders/[^/]+/locations/global/policyOrchestrators/[^/]+$"
                        },
                        "updateMask": {
                          "description": "Optional. The list of fields to merge into the existing policy orchestrator. A special [\"*\"] field mask can be used to simply replace the entire resource. Otherwise, for all paths referenced in the mask, following merge rules are used: * output only fields are ignored, * primitive fields are replaced, * repeated fields are replaced, * map fields are merged key by key, * message fields are cleared if not set in the request, otherwise they are merged recursively (in particular - message fields set to an empty message has no side effects) If field mask (or its paths) is not specified, it is automatically inferred from the request using following rules: * primitive fields are listed, if set to a non-default value (as there is no way to distinguish between default and unset value), * map and repeated fields are listed, * `google.protobuf.Any` fields are listed, * other message fields are traversed recursively. Note: implicit mask does not allow clearing fields.",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2beta__PolicyOrchestrator"
                      },
                      "flatPath": "v2beta/folders/{foldersId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "httpMethod": "PATCH",
                      "description": "Updates an existing policy orchestrator, parented by a folder.",
                      "id": "osconfig.folders.locations.global.policyOrchestrators.patch",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "policyOrchestratorId": {
                          "description": "Required. The logical identifier of the policy orchestrator, with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the parent.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent resource name in the form of: * `organizations/{organization_id}/locations/global` * `folders/{folder_id}/locations/global` * `projects/{project_id_or_number}/locations/global`",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^folders/[^/]+/locations/global$"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2beta__PolicyOrchestrator"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2beta/{+parent}/policyOrchestrators",
                      "flatPath": "v2beta/folders/{foldersId}/locations/global/policyOrchestrators",
                      "httpMethod": "POST",
                      "description": "Creates a new policy orchestrator under the given folder resource. `name` field of the given orchestrator are ignored and instead replaced by a product of `parent` and `policy_orchestrator_id`. Orchestrator state field might be only set to `ACTIVE`, `STOPPED` or omitted (in which case, the created resource will be in `ACTIVE` state anyway).",
                      "id": "osconfig.folders.locations.global.policyOrchestrators.create",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "global": {
              "resources": {
                "policyOrchestrators": {
                  "methods": {
                    "delete": {
                      "path": "v2beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "description": "Required. Name of the resource to be deleted.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/policyOrchestrators/[^/]+$"
                        },
                        "etag": {
                          "type": "string",
                          "description": "Optional. The current etag of the policy orchestrator. If an etag is provided and does not match the current etag of the policy orchestrator, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query"
                        }
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "httpMethod": "DELETE",
                      "description": "Deletes an existing policy orchestrator resource, parented by a project.",
                      "id": "osconfig.projects.locations.global.policyOrchestrators.delete",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2beta__PolicyOrchestrator"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/policyOrchestrators/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2beta/{+name}",
                      "flatPath": "v2beta/projects/{projectsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "httpMethod": "GET",
                      "description": "Retrieves an existing policy orchestrator, parented by a project.",
                      "id": "osconfig.projects.locations.global.policyOrchestrators.get",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "flatPath": "v2beta/projects/{projectsId}/locations/global/policyOrchestrators",
                      "httpMethod": "GET",
                      "description": "Lists the policy orchestrators under the given parent project resource.",
                      "id": "osconfig.projects.locations.global.policyOrchestrators.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2beta__ListPolicyOrchestratorsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/global$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent resource name.",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filtering results",
                          "type": "string"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Hint for how to order the results"
                        }
                      },
                      "path": "v2beta/{+parent}/policyOrchestrators",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2beta__PolicyOrchestrator"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Immutable. Identifier. In the following format: * `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`",
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "Optional. The list of fields to merge into the existing policy orchestrator. A special [\"*\"] field mask can be used to simply replace the entire resource. Otherwise, for all paths referenced in the mask, following merge rules are used: * output only fields are ignored, * primitive fields are replaced, * repeated fields are replaced, * map fields are merged key by key, * message fields are cleared if not set in the request, otherwise they are merged recursively (in particular - message fields set to an empty message has no side effects) If field mask (or its paths) is not specified, it is automatically inferred from the request using following rules: * primitive fields are listed, if set to a non-default value (as there is no way to distinguish between default and unset value), * map and repeated fields are listed, * `google.protobuf.Any` fields are listed, * other message fields are traversed recursively. Note: implicit mask does not allow clearing fields.",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v2beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "osconfig.projects.locations.global.policyOrchestrators.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "httpMethod": "PATCH",
                      "description": "Updates an existing policy orchestrator, parented by a project."
                    },
                    "create": {
                      "flatPath": "v2beta/projects/{projectsId}/locations/global/policyOrchestrators",
                      "httpMethod": "POST",
                      "description": "Creates a new policy orchestrator under the given project resource. `name` field of the given orchestrator are ignored and instead replaced by a product of `parent` and `policy_orchestrator_id`. Orchestrator state field might be only set to `ACTIVE`, `STOPPED` or omitted (in which case, the created resource will be in `ACTIVE` state anyway).",
                      "id": "osconfig.projects.locations.global.policyOrchestrators.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2beta/{+parent}/policyOrchestrators",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2beta__PolicyOrchestrator"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "policyOrchestratorId": {
                          "location": "query",
                          "description": "Required. The logical identifier of the policy orchestrator, with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the parent.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/global$",
                          "type": "string",
                          "description": "Required. The parent resource name in the form of: * `organizations/{organization_id}/locations/global` * `folders/{folder_id}/locations/global` * `projects/{project_id_or_number}/locations/global`",
                          "location": "path",
                          "required": true
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        }
                      }
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "osconfig.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "path": "v2beta/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "id": "osconfig.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2beta/{+name}/operations",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "delete": {
                  "id": "osconfig.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2beta/{+name}"
                },
                "cancel": {
                  "path": "v2beta/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "osconfig.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
[...]
