{
  "description": "OS management tools that can be used for patch management, patch compliance, and configuration management on VM instances.",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://osconfig.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "baseUrl": "https://osconfig.googleapis.com/",
  "documentationLink": "https://cloud.google.com/compute/docs/osconfig/rest",
  "canonicalName": "OS Config",
  "name": "osconfig",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "title": "OS Config API",
  "protocol": "rest",
  "mtlsRootUrl": "https://osconfig.mtls.googleapis.com/",
  "basePath": "",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "endpointUrl": "https://osconfig.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.asia-east1.rep.googleapis.com/"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.asia-east2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://osconfig.asia-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://osconfig.asia-northeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.asia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast2",
      "endpointUrl": "https://osconfig.asia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.asia-southeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://osconfig.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-central2",
      "endpointUrl": "https://osconfig.europe-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "location": "europe-north2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.europe-north2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-southwest1",
      "endpointUrl": "https://osconfig.europe-southwest1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "location": "europe-west10",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.europe-west10.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.europe-west15.rep.googleapis.com/",
      "location": "europe-west15",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://osconfig.europe-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://osconfig.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west6",
      "endpointUrl": "https://osconfig.europe-west6.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://osconfig.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.me-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://osconfig.me-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://osconfig.me-west1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-south1",
      "endpointUrl": "https://osconfig.northamerica-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://osconfig.southamerica-west1.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central6",
      "endpointUrl": "https://osconfig.us-central6.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.us-east4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://osconfig.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://osconfig.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.us-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    }
  ],
  "id": "osconfig:v1",
  "version_module": true,
  "revision": "20260618",
  "version": "v1",
  "schemas": {
    "WeekDayOfMonth": {
      "id": "WeekDayOfMonth",
      "description": "Represents one week day in a month. An example is \"the 4th Sunday\".",
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "description": "Required. A day of the week.",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "dayOffset": {
          "description": "Optional. Represents the number of days before or after the given week day of month that the patch deployment is scheduled for. For example if `week_ordinal` and `day_of_week` values point to the second Tuesday of the month and the `day_offset` value is set to `3`, patch deployment takes place three days after the second Tuesday of the month. If this value is negative, for example -5, patches are deployed five days before the second Tuesday of the month. Allowed values are in range [-30, 30].",
          "type": "integer",
          "format": "int32"
        },
        "weekOrdinal": {
          "description": "Required. Week number in a month. 1-4 indicates the 1st to 4th week of the month. -1 indicates the last week of the month.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudOsconfigV2__OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        }
      },
      "id": "GoogleCloudOsconfigV2__OperationMetadata"
    },
    "ResumePatchDeploymentRequest": {
      "description": "A request message for resuming a patch deployment.",
      "type": "object",
      "properties": {},
      "id": "ResumePatchDeploymentRequest"
    },
    "OSPolicyAssignment": {
      "description": "OS policy assignment is an API resource that is used to apply a set of OS policies to a dynamically targeted group of Compute Engine VM instances. An OS policy is used to define the desired state configuration for a Compute Engine VM instance through a set of configuration resources that provide capabilities such as installing or removing software packages, or executing a script. For more information about the OS policy resource definitions and examples, see [OS policy and OS policy assignment](https://cloud.google.com/compute/docs/os-configuration-management/working-with-os-policies).",
      "type": "object",
      "properties": {
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Indicates that reconciliation is in progress for the revision. This value is `true` when the `rollout_state` is one of: * IN_PROGRESS * CANCELLING",
          "type": "boolean"
        },
        "name": {
          "description": "Resource name. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}` This field is ignored when you create an OS policy assignment.",
          "type": "string"
        },
        "osPolicies": {
          "items": {
            "$ref": "OSPolicy"
          },
          "description": "Required. List of OS policies to be applied to the VMs.",
          "type": "array"
        },
        "baseline": {
          "description": "Output only. Indicates that this revision has been successfully rolled out in this zone and new VMs will be assigned OS policies from this revision. For a given OS policy assignment, there is only one revision with a value of `true` for this field.",
          "type": "boolean",
          "readOnly": true
        },
        "deleted": {
          "readOnly": true,
          "description": "Output only. Indicates that this revision deletes the OS policy assignment.",
          "type": "boolean"
        },
        "rollout": {
          "description": "Required. Rollout to deploy the OS policy assignment. A rollout is triggered in the following situations: 1) OSPolicyAssignment is created. 2) OSPolicyAssignment is updated and the update contains changes to one of the following fields: - instance_filter - os_policies 3) OSPolicyAssignment is deleted.",
          "$ref": "OSPolicyAssignmentRollout"
        },
        "revisionId": {
          "description": "Output only. The assignment revision ID A new revision is committed whenever a rollout is triggered for a OS policy assignment",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "OS policy assignment description. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "revisionCreateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp that the revision was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "instanceFilter": {
          "$ref": "OSPolicyAssignmentInstanceFilter",
          "description": "Required. Filter to select VMs."
        },
        "etag": {
          "description": "The etag for this OS policy assignment. If this is provided on update, it must match the server's etag.",
          "type": "string"
        },
        "rolloutState": {
          "readOnly": true,
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "description": "Output only. OS policy assignment rollout state",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Server generated unique id for the OS policy assignment resource.",
          "type": "string"
        }
      },
      "id": "OSPolicyAssignment"
    },
    "OSPolicyResourceExecResourceExec": {
      "description": "A file or script to execute.",
      "type": "object",
      "properties": {
        "interpreter": {
          "description": "Required. The script interpreter to use.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value, the request will return validation error.",
            "If an interpreter is not specified, the source is executed directly. This execution, without an interpreter, only succeeds for executables and scripts that have shebang lines.",
            "Indicates that the script runs with `/bin/sh` on Linux and `cmd.exe` on Windows.",
            "Indicates that the script runs with PowerShell."
          ],
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "NONE",
            "SHELL",
            "POWERSHELL"
          ]
        },
        "script": {
          "description": "An inline script. The size of the script is limited to 32KiB.",
          "type": "string"
        },
        "args": {
          "description": "Optional arguments to pass to the source during execution.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "file": {
          "description": "A remote or local file.",
          "$ref": "OSPolicyResourceFile"
        },
        "outputFilePath": {
          "description": "Only recorded for enforce Exec. Path to an output file (that is created by this Exec) whose content will be recorded in OSPolicyResourceCompliance after a successful run. Absence or failure to read this file will result in this ExecResource being non-compliant. Output file size is limited to 500K bytes.",
          "type": "string"
        }
      },
      "id": "OSPolicyResourceExecResourceExec"
    },
    "InventoryWindowsUpdatePackage": {
      "description": "Details related to a Windows Update package. Field data and names are taken from Windows Update API IUpdate Interface: https://docs.microsoft.com/en-us/windows/win32/api/_wua/ Descriptive fields like title, and description are localized based on the locale of the VM being updated.",
      "type": "object",
      "properties": {
        "description": {
          "description": "The localized description of the update package.",
          "type": "string"
        },
        "kbArticleIds": {
          "items": {
            "type": "string"
          },
          "description": "A collection of Microsoft Knowledge Base article IDs that are associated with the update package.",
          "type": "array"
        },
        "lastDeploymentChangeTime": {
          "description": "The last published date of the update, in (UTC) date and time.",
          "type": "string",
          "format": "google-datetime"
        },
        "moreInfoUrls": {
          "items": {
            "type": "string"
          },
          "description": "A collection of URLs that provide more information about the update package.",
          "type": "array"
        },
        "supportUrl": {
          "description": "A hyperlink to the language-specific support information for the update.",
          "type": "string"
        },
        "updateId": {
          "description": "Gets the identifier of an update package. Stays the same across revisions.",
          "type": "string"
        },
        "categories": {
          "items": {
            "$ref": "InventoryWindowsUpdatePackageWindowsUpdateCategory"
          },
          "description": "The categories that are associated with this update package.",
          "type": "array"
        },
        "revisionNumber": {
          "description": "The revision number of this update package.",
          "type": "integer",
          "format": "int32"
        },
        "title": {
          "description": "The localized title of the update package.",
          "type": "string"
        }
      },
      "id": "InventoryWindowsUpdatePackage"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Status"
    },
    "PatchInstanceFilter": {
      "description": "A filter to target VM instances for patching. The targeted VMs must meet all criteria specified. So if both labels and zones are specified, the patch job targets only VMs with those labels and in those zones.",
      "type": "object",
      "properties": {
        "instances": {
          "description": "Targets any of the VM instances specified. Instances are specified by their URI in the form `zones/[ZONE]/instances/[INSTANCE_NAME]`, `projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`, or `https://www.googleapis.com/compute/v1/projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instanceNamePrefixes": {
          "description": "Targets VMs whose name starts with one of these prefixes. Similar to labels, this is another way to group VMs when targeting configs, for example prefix=\"prod-\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "zones": {
          "description": "Targets VM instances in ANY of these zones. Leave empty to target VM instances in any zone.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "all": {
          "description": "Target all VM instances in the project. If true, no other criteria is permitted.",
          "type": "boolean"
        },
        "groupLabels": {
          "description": "Targets VM instances matching ANY of these GroupLabels. This allows targeting of disparate groups of VM instances.",
          "type": "array",
          "items": {
            "$ref": "PatchInstanceFilterGroupLabel"
          }
        }
      },
      "id": "PatchInstanceFilter"
    },
    "YumSettings": {
      "id": "YumSettings",
      "description": "Yum patching is performed by executing `yum update`. Additional options can be set to control how this is executed. Note that not all settings are supported on all platforms.",
      "type": "object",
      "properties": {
        "minimal": {
          "description": "Will cause patch to run `yum update-minimal` instead.",
          "type": "boolean"
        },
        "exclusivePackages": {
          "items": {
            "type": "string"
          },
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field must not be specified with any other patch configuration fields.",
          "type": "array"
        },
        "security": {
          "description": "Adds the `--security` flag to `yum update`. Not supported on all platforms.",
          "type": "boolean"
        },
        "excludes": {
          "description": "List of packages to exclude from update. These packages are excluded by using the yum `--exclude` flag.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "WeeklySchedule": {
      "description": "Represents a weekly schedule.",
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Required. Day of the week.",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        }
      },
      "id": "WeeklySchedule"
    },
    "PatchConfig": {
      "id": "PatchConfig",
      "description": "Patch configuration specifications. Contains details on how to apply the patch(es) to a VM instance.",
      "type": "object",
      "properties": {
        "preStep": {
          "description": "The `ExecStep` to run before the patch update.",
          "$ref": "ExecStep"
        },
        "goo": {
          "$ref": "GooSettings",
          "description": "Goo update settings. Use this setting to override the default `goo` patch rules."
        },
        "postStep": {
          "description": "The `ExecStep` to run after the patch update.",
          "$ref": "ExecStep"
        },
        "yum": {
          "description": "Yum update settings. Use this setting to override the default `yum` patch rules.",
          "$ref": "YumSettings"
        },
        "rebootConfig": {
          "enum": [
            "REBOOT_CONFIG_UNSPECIFIED",
            "DEFAULT",
            "ALWAYS",
            "NEVER"
          ],
          "description": "Post-patch reboot settings.",
          "type": "string",
          "enumDescriptions": [
            "The default behavior is DEFAULT.",
            "The agent decides if a reboot is necessary by checking signals such as registry keys on Windows or `/var/run/reboot-required` on APT based systems. On RPM based systems, a set of core system package install times are compared with system boot time.",
            "Always reboot the machine after the update completes.",
            "Never reboot the machine after the update completes."
          ]
        },
        "apt": {
          "description": "Apt update settings. Use this setting to override the default `apt` patch rules.",
          "$ref": "AptSettings"
        },
        "migInstancesAllowed": {
          "description": "Allows the patch job to run on Managed instance groups (MIGs).",
          "type": "boolean"
        },
        "skipUnpatchableVms": {
          "description": "Optional. Enables enhanced reporting for the patch job: 1. The patch job skips instances that cannot be patched and reports them as `SKIPPED`. An instance cannot be patched for two reasons: 1. The instance runs Container-Optimized OS (COS), which cannot be patched. 2. The instance is part of a managed instance group (MIG), and patching MIG instances is disabled in the patch job's configuration (PatchConfig.migInstancesAllowed is `false`). 2. The patch job is reported as `SUCCEEDED` if it completes without errors, even if some instances are `SKIPPED`. 3. The patch job is reported as `COMPLETED_WITH_INACTIVE_VMS` if it completes without errors, but does not patch instances that are `INACTIVE`.",
          "type": "boolean"
        },
        "zypper": {
          "description": "Zypper update settings. Use this setting to override the default `zypper` patch rules.",
          "$ref": "ZypperSettings"
        },
        "windowsUpdate": {
          "description": "Windows update settings. Use this override the default windows patch rules.",
          "$ref": "WindowsUpdateSettings"
        }
      }
    },
    "PatchJob": {
      "id": "PatchJob",
      "description": "A high level representation of a patch job that is either in progress or has completed. Instance details are not included in the job. To paginate through instance details, use `ListPatchJobInstanceDetails`. For more information about patch jobs, see [Creating patch jobs](https://cloud.google.com/compute/docs/os-patch-management/create-patch-job).",
      "type": "object",
      "properties": {
        "name": {
          "description": "Unique identifier for this patch job in the form `projects/*/patchJobs/*`",
          "type": "string"
        },
        "createTime": {
          "description": "Time this patch job was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "errorMessage": {
          "description": "If this patch job failed, this message provides information about the failure.",
          "type": "string"
        },
        "percentComplete": {
          "description": "Reflects the overall progress of the patch job in the range of 0.0 being no progress to 100.0 being complete.",
          "type": "number",
          "format": "double"
        },
        "displayName": {
          "description": "Display name for this patch job. This is not a unique identifier.",
          "type": "string"
        },
        "duration": {
          "description": "Duration of the patch job. After the duration ends, the patch job times out.",
          "type": "string",
          "format": "google-duration"
        },
        "description": {
          "description": "Description of the patch job. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "updateTime": {
          "description": "Last time this patch job was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "rollout": {
          "$ref": "PatchRollout",
          "description": "Rollout strategy being applied."
        },
        "patchConfig": {
          "description": "Patch configuration being applied.",
          "$ref": "PatchConfig"
        },
        "instanceFilter": {
          "description": "Instances to patch.",
          "$ref": "PatchInstanceFilter"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "INSTANCE_LOOKUP",
            "PATCHING",
            "SUCCEEDED",
            "COMPLETED_WITH_INACTIVE_VMS",
            "COMPLETED_WITH_ERRORS",
            "CANCELED",
            "TIMED_OUT"
          ],
          "description": "The current state of the PatchJob.",
          "type": "string",
          "enumDescriptions": [
            "State must be specified.",
            "The patch job was successfully initiated.",
            "The patch job is looking up instances to run the patch on.",
            "Instances are being patched.",
            "Patch job completed successfully.",
            "The patch job completed without errors, but some instances were inactive and therefore not patched.",
            "Patch job completed but there were errors.",
            "The patch job was canceled.",
            "The patch job timed out."
          ]
        },
        "dryRun": {
          "description": "If this patch job is a dry run, the agent reports that it has finished without running any updates on the VM instance.",
          "type": "boolean"
        },
        "patchDeployment": {
          "readOnly": true,
          "description": "Output only. Name of the patch deployment that created this patch job.",
          "type": "string"
        },
        "instanceDetailsSummary": {
          "$ref": "PatchJobInstanceDetailsSummary",
          "description": "Summary of instance details."
        }
      }
    },
    "InventoryZypperPatch": {
      "id": "InventoryZypperPatch",
      "description": "Details related to a Zypper Patch.",
      "type": "object",
      "properties": {
        "patchName": {
          "description": "The name of the patch.",
          "type": "string"
        },
        "category": {
          "description": "The category of the patch.",
          "type": "string"
        },
        "summary": {
          "description": "Any summary information provided about this patch.",
          "type": "string"
        },
        "severity": {
          "description": "The severity specified for this patch",
          "type": "string"
        }
      }
    },
    "VulnerabilityReportVulnerability": {
      "description": "A vulnerability affecting the VM instance.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "The timestamp for when the vulnerability was last modified.",
          "type": "string",
          "format": "google-datetime"
        },
        "details": {
          "description": "Contains metadata as per the upstream feed of the operating system and NVD.",
          "$ref": "VulnerabilityReportVulnerabilityDetails"
        },
        "installedInventoryItemIds": {
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "description": "Corresponds to the `INSTALLED_PACKAGE` inventory item on the VM. This field displays the inventory items affected by this vulnerability. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. For some distros, this field may be empty.",
          "type": "array"
        },
        "items": {
          "description": "List of items affected by the vulnerability.",
          "type": "array",
          "items": {
            "$ref": "VulnerabilityReportVulnerabilityItem"
          }
        },
        "availableInventoryItemIds": {
          "description": "Corresponds to the `AVAILABLE_PACKAGE` inventory item on the VM. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. If there is no available fix, the field is empty. The `inventory_item` value specifies the latest `SoftwarePackage` available to the VM that fixes the vulnerability.",
          "type": "array",
          "deprecated": true,
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "The timestamp for when the vulnerability was first detected.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "VulnerabilityReportVulnerability"
    },
    "GoogleCloudOsconfigV2beta__OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleCloudOsconfigV2beta__OperationMetadata"
    },
    "ListPatchJobInstanceDetailsResponse": {
      "id": "ListPatchJobInstanceDetailsResponse",
      "description": "A response message for listing the instances details for a patch job.",
      "type": "object",
      "properties": {
        "patchJobInstanceDetails": {
          "items": {
            "$ref": "PatchJobInstanceDetails"
          },
          "description": "A list of instance status.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of results.",
          "type": "string"
        }
      }
    },
    "Inventory": {
      "id": "Inventory",
      "description": "This API resource represents the available inventory data for a Compute Engine virtual machine (VM) instance at a given point in time. You can use this API resource to determine the inventory data of your VM. For more information, see [Information provided by OS inventory management](https://cloud.google.com/compute/docs/instances/os-inventory-management#data-collected).",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp of the last reported inventory for the VM.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The `Inventory` API resource name. Format: `projects/{project_number}/locations/{location}/instances/{instance_id}/inventory`",
          "type": "string"
        },
        "osInfo": {
          "$ref": "InventoryOsInfo",
          "description": "Base level operating system information for the VM."
        },
        "items": {
          "description": "Inventory items related to the VM keyed by an opaque unique identifier for each inventory item. The identifier is unique to each distinct and addressable inventory item and will change, when there is a new package version.",
          "type": "object",
          "additionalProperties": {
            "$ref": "InventoryItem"
          }
        }
      }
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "OSPolicyResourceRepositoryResource": {
      "id": "OSPolicyResourceRepositoryResource",
      "description": "A resource that manages a package repository.",
      "type": "object",
      "properties": {
        "yum": {
          "description": "A Yum Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceYumRepository"
        },
        "zypper": {
          "$ref": "OSPolicyResourceRepositoryResourceZypperRepository",
          "description": "A Zypper Repository."
        },
        "goo": {
          "description": "A Goo Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceGooRepository"
        },
        "apt": {
          "$ref": "OSPolicyResourceRepositoryResourceAptRepository",
          "description": "An Apt Repository."
        }
      }
    },
    "PatchDeployment": {
      "id": "PatchDeployment",
      "description": "Patch deployments are configurations that individual patch jobs use to complete a patch. These configurations include instance filter, package repository settings, and a schedule. For more information about creating and managing patch deployments, see [Scheduling patch jobs](https://cloud.google.com/compute/docs/os-patch-management/schedule-patch-jobs).",
      "type": "object",
      "properties": {
        "recurringSchedule": {
          "$ref": "RecurringSchedule",
          "description": "Required. Schedule recurring executions."
        },
        "patchConfig": {
          "description": "Optional. Patch configuration that is applied.",
          "$ref": "PatchConfig"
        },
        "name": {
          "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time the patch deployment was created. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "instanceFilter": {
          "description": "Required. VM instances to patch.",
          "$ref": "PatchInstanceFilter"
        },
        "duration": {
          "description": "Optional. Duration of the patch. After the duration ends, the patch times out.",
          "type": "string",
          "format": "google-duration"
        },
        "lastExecuteTime": {
          "description": "Output only. The last time a patch job was started by this deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "oneTimeSchedule": {
          "$ref": "OneTimeSchedule",
          "description": "Required. Schedule a one-time execution."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Active value means that patch deployment generates Patch Jobs.",
            "Paused value means that patch deployment does not generate Patch jobs. Requires user action to move in and out from this state."
          ],
          "description": "Output only. Current state of the patch deployment.",
          "type": "string"
        },
        "rollout": {
          "description": "Optional. Rollout strategy of the patch job.",
          "$ref": "PatchRollout"
        },
        "description": {
          "description": "Optional. Description of the patch deployment. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time the patch deployment was last updated. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "OSPolicyResourceFileRemote": {
      "description": "Specifies a file available via some URI.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. URI from which to fetch the object. It should contain both the protocol and path following the format `{protocol}://{location}`.",
          "type": "string"
        },
        "sha256Checksum": {
          "description": "SHA256 checksum of the remote file.",
          "type": "string"
        }
      },
      "id": "OSPolicyResourceFileRemote"
    },
    "OSPolicyResourceExecResource": {
      "description": "A resource that allows executing scripts on the VM. The `ExecResource` has 2 stages: `validate` and `enforce` and both stages accept a script as an argument to execute. When the `ExecResource` is applied by the agent, it first executes the script in the `validate` stage. The `validate` stage can signal that the `ExecResource` is already in the desired state by returning an exit code of `100`. If the `ExecResource` is not in the desired state, it should return an exit code of `101`. Any other exit code returned by this stage is considered an error. If the `ExecResource` is not in the desired state based on the exit code from the `validate` stage, the agent proceeds to execute the script from the `enforce` stage. If the `ExecResource` is already in the desired state, the `enforce` stage will not be run. Similar to `validate` stage, the `enforce` stage should return an exit code of `100` to indicate that the resource in now in its desired state. Any other exit code is considered an error. NOTE: An exit code of `100` was chosen over `0` (and `101` vs `1`) to have an explicit indicator of `in desired state`, `not in desired state` and errors. Because, for example, Powershell will always return an exit code of `0` unless an `exit` statement is provided in the script. So, for reasons of consistency and being explicit, exit codes `100` and `101` were chosen.",
      "type": "object",
      "properties": {
        "validate": {
          "description": "Required. What to run to validate this resource is in the desired state. An exit code of 100 indicates \"in desired state\", and exit code of 101 indicates \"not in desired state\". Any other exit code indicates a failure running validate.",
          "$ref": "OSPolicyResourceExecResourceExec"
        },
        "enforce": {
          "$ref": "OSPolicyResourceExecResourceExec",
          "description": "What to run to bring this resource into the desired state. An exit code of 100 indicates \"success\", any other exit code indicates a failure running enforce."
        }
      },
      "id": "OSPolicyResourceExecResource"
    },
    "OSPolicyResourceFile": {
      "description": "A remote or local file.",
      "type": "object",
      "properties": {
        "gcs": {
          "description": "A Cloud Storage object.",
          "$ref": "OSPolicyResourceFileGcs"
        },
        "allowInsecure": {
          "description": "Defaults to false. When false, files are subject to validations based on the file type: Remote: A checksum must be specified. Cloud Storage: An object generation number must be specified.",
          "type": "boolean"
        },
        "localPath": {
          "description": "A local path within the VM to use.",
          "type": "string"
        },
        "remote": {
          "$ref": "OSPolicyResourceFileRemote",
          "description": "A generic remote file."
        }
      },
      "id": "OSPolicyResourceFile"
    },
    "PatchRollout": {
      "id": "PatchRollout",
      "description": "Patch rollout configuration specifications. Contains details on the concurrency control when applying patch(es) to all targeted VMs.",
      "type": "object",
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "ZONE_BY_ZONE",
            "CONCURRENT_ZONES"
          ],
          "description": "Mode of the patch rollout.",
          "type": "string",
          "enumDescriptions": [
            "Mode must be specified.",
            "Patches are applied one zone at a time. The patch job begins in the region with the lowest number of targeted VMs. Within the region, patching begins in the zone with the lowest number of targeted VMs. If multiple regions (or zones within a region) have the same number of targeted VMs, a tie-breaker is achieved by sorting the regions or zones in alphabetical order.",
            "Patches are applied to VMs in all zones at the same time."
          ]
        },
        "disruptionBudget": {
          "description": "The maximum number (or percentage) of VMs per zone to disrupt at any given moment. The number of VMs calculated from multiplying the percentage by the total number of VMs in a zone is rounded up. During patching, a VM is considered disrupted from the time the agent is notified to begin until patching has completed. This disruption time includes the time to complete reboot and any post-patch steps. A VM contributes to the disruption budget if its patching operation fails either when applying the patches, running pre or post patch steps, or if it fails to respond with a success notification before timing out. VMs that are not running or do not have an active agent do not count toward this disruption budget. For zone-by-zone rollouts, if the disruption budget in a zone is exceeded, the patch job stops, because continuing to the next zone requires completion of the patch process in the previous zone. For example, if the disruption budget has a fixed value of `10`, and 8 VMs fail to patch in the current zone, the patch job continues to patch 2 VMs at a time until the zone is completed. When that zone is completed successfully, patching begins with 10 VMs at a time in the next zone. If 10 VMs in the next zone fail to patch, the patch job stops.",
          "$ref": "FixedOrPercent"
        }
      }
    },
    "OSPolicyResourceRepositoryResourceZypperRepository": {
      "id": "OSPolicyResourceRepositoryResourceZypperRepository",
      "description": "Represents a single zypper package repository. These are added to a repo file that is managed at `/etc/zypp/repos.d/google_osconfig.repo`.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the zypper config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for GuestPolicy conflicts.",
          "type": "string"
        },
        "baseUrl": {
          "description": "Required. The location of the repository directory.",
          "type": "string"
        },
        "gpgKeys": {
          "description": "URIs of GPG keys.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The display name of the repository.",
          "type": "string"
        }
      }
    },
    "GooSettings": {
      "id": "GooSettings",
      "description": "Googet patching is performed by running `googet update`.",
      "type": "object",
      "properties": {}
    },
    "AptSettings": {
      "description": "Apt patching is completed by executing `apt-get update && apt-get upgrade`. Additional options can be set to control how this is executed.",
      "type": "object",
      "properties": {
        "excludes": {
          "description": "List of packages to exclude from update. These packages will be excluded",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exclusivePackages": {
          "items": {
            "type": "string"
          },
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field cannot be specified with any other patch configuration fields.",
          "type": "array"
        },
        "type": {
          "description": "By changing the type to DIST, the patching is performed using `apt-get dist-upgrade` instead.",
          "type": "string",
          "enumDescriptions": [
            "By default, upgrade will be performed.",
            "Runs `apt-get dist-upgrade`.",
            "Runs `apt-get upgrade`."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DIST",
            "UPGRADE"
          ]
        }
      },
      "id": "AptSettings"
    },
    "VulnerabilityReportVulnerabilityItem": {
      "description": "OS inventory item that is affected by a vulnerability or fixed as a result of a vulnerability.",
      "type": "object",
      "properties": {
        "installedInventoryItemId": {
          "description": "Corresponds to the `INSTALLED_PACKAGE` inventory item on the VM. This field displays the inventory items affected by this vulnerability. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. For some operating systems, this field might be empty.",
          "type": "string"
        },
        "upstreamFix": {
          "description": "The upstream OS patch, packages or KB that fixes the vulnerability.",
          "type": "string"
        },
        "availableInventoryItemId": {
          "description": "Corresponds to the `AVAILABLE_PACKAGE` inventory item on the VM. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. If there is no available fix, the field is empty. The `inventory_item` value specifies the latest `SoftwarePackage` available to the VM that fixes the vulnerability.",
          "type": "string"
        },
        "fixedCpeUri": {
          "description": "The recommended [CPE URI](https://cpe.mitre.org/specification/) update that contains a fix for this vulnerability.",
          "type": "string"
        }
      },
      "id": "VulnerabilityReportVulnerabilityItem"
    },
    "InventoryOsInfo": {
      "id": "InventoryOsInfo",
      "description": "Operating system information for the VM.",
      "type": "object",
      "properties": {
        "longName": {
          "description": "The operating system long name. For example 'Debian GNU/Linux 9' or 'Microsoft Window Server 2019 Datacenter'.",
          "type": "string"
        },
        "version": {
          "description": "The version of the operating system.",
          "type": "string"
        },
        "kernelVersion": {
          "description": "The kernel version of the operating system.",
          "type": "string"
        },
        "hostname": {
          "description": "The VM hostname.",
          "type": "string"
        },
        "architecture": {
          "description": "The system architecture of the operating system.",
          "type": "string"
        },
        "kernelRelease": {
          "description": "The kernel release of the operating system.",
          "type": "string"
        },
        "osconfigAgentVersion": {
          "description": "The current version of the OS Config agent running on the VM.",
          "type": "string"
        },
        "shortName": {
          "description": "The operating system short name. For example, 'windows' or 'debian'.",
          "type": "string"
        }
      }
    },
    "ListInventoriesResponse": {
      "description": "A response message for listing inventory data for all VMs in a specified location.",
      "type": "object",
      "properties": {
        "inventories": {
          "items": {
            "$ref": "Inventory"
          },
          "description": "List of inventory objects.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of inventory objects.",
          "type": "string"
        }
      },
      "id": "ListInventoriesResponse"
    },
    "OSPolicyAssignmentInstanceFilter": {
      "description": "Filters to select target VMs for an assignment. If more than one filter criteria is specified below, a VM will be selected if and only if it satisfies all of them.",
      "type": "object",
      "properties": {
        "inclusionLabels": {
          "items": {
            "$ref": "OSPolicyAssignmentLabelSet"
          },
          "description": "List of label sets used for VM inclusion. If the list has more than one `LabelSet`, the VM is included if any of the label sets are applicable for the VM.",
          "type": "array"
        },
        "exclusionLabels": {
          "description": "List of label sets used for VM exclusion. If the list has more than one label set, the VM is excluded if any of the label sets are applicable for the VM.",
          "type": "array",
          "items": {
            "$ref": "OSPolicyAssignmentLabelSet"
          }
        },
        "all": {
          "description": "Target all VMs in the project. If true, no other criteria is permitted.",
          "type": "boolean"
        },
        "inventories": {
          "items": {
            "$ref": "OSPolicyAssignmentInstanceFilterInventory"
          },
          "description": "List of inventories to select VMs. A VM is selected if its inventory data matches at least one of the following inventories.",
          "type": "array"
        }
      },
      "id": "OSPolicyAssignmentInstanceFilter"
    },
    "FixedOrPercent": {
      "description": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value.",
      "type": "object",
      "properties": {
        "fixed": {
          "description": "Specifies a fixed value.",
          "type": "integer",
          "format": "int32"
        },
        "percent": {
          "description": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "FixedOrPercent"
    },
    "OneTimeSchedule": {
      "id": "OneTimeSchedule",
      "description": "Sets the time for a one time patch deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
      "type": "object",
      "properties": {
        "executeTime": {
          "description": "Required. The desired patch job execution time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ExecutePatchJobRequest": {
      "id": "ExecutePatchJobRequest",
      "description": "A request message to initiate patching across Compute Engine instances.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the patch job. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "instanceFilter": {
          "description": "Required. Instances to patch, either explicitly or filtered by some criteria such as zone or labels.",
          "$ref": "PatchInstanceFilter"
        },
        "displayName": {
          "description": "Display name for this patch job. This does not have to be unique.",
          "type": "string"
        },
        "rollout": {
          "description": "Rollout strategy of the patch job.",
          "$ref": "PatchRollout"
        },
        "duration": {
          "description": "Duration of the patch job. After the duration ends, the patch job times out.",
          "type": "string",
          "format": "google-duration"
        },
        "dryRun": {
          "description": "If this patch is a dry-run only, instances are contacted but will do nothing.",
          "type": "boolean"
        },
        "patchConfig": {
          "$ref": "PatchConfig",
          "description": "Patch configuration being applied. If omitted, instances are patched using the default configurations."
        }
      }
    },
    "OSPolicy": {
      "description": "An OS policy defines the desired state configuration for a VM.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Policy description. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "mode": {
          "description": "Required. Policy mode",
          "type": "string",
          "enumDescriptions": [
            "Invalid mode",
            "This mode checks if the configuration resources in the policy are in their desired state. No actions are performed if they are not in the desired state. This mode is used for reporting purposes.",
            "This mode checks if the configuration resources in the policy are in their desired state, and if not, enforces the desired state."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "VALIDATION",
            "ENFORCEMENT"
          ]
        },
        "resourceGroups": {
          "description": "Required. List of resource groups for the policy. For a particular VM, resource groups are evaluated in the order specified and the first resource group that is applicable is selected and the rest are ignored. If none of the resource groups are applicable for a VM, the VM is considered to be non-compliant w.r.t this policy. This behavior can be toggled by the flag `allow_no_resource_group_match`",
          "type": "array",
          "items": {
            "$ref": "OSPolicyResourceGroup"
          }
        },
        "id": {
          "description": "Required. The id of the OS policy with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the assignment.",
          "type": "string"
        },
        "allowNoResourceGroupMatch": {
          "description": "This flag determines the OS policy compliance status when none of the resource groups within the policy are applicable for a VM. Set this value to `true` if the policy needs to be reported as compliant even if the policy has nothing to validate or enforce.",
          "type": "boolean"
        }
      },
      "id": "OSPolicy"
    },
    "CancelPatchJobRequest": {
      "id": "CancelPatchJobRequest",
      "description": "Message for canceling a patch job.",
      "type": "object",
      "properties": {}
    },
    "InventoryItem": {
      "id": "InventoryItem",
      "description": "A single piece of inventory on a VM.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Identifier for this item, unique across items for this VM.",
          "type": "string"
        },
        "createTime": {
          "description": "When this inventory item was first detected.",
          "type": "string",
          "format": "google-datetime"
        },
        "availablePackage": {
          "$ref": "InventorySoftwarePackage",
          "description": "Software package available to be installed on the VM instance."
        },
        "originType": {
          "description": "The origin of this inventory item.",
          "type": "string",
          "enumDescriptions": [
            "Invalid. An origin type must be specified.",
            "This inventory item was discovered as the result of the agent reporting inventory via the reporting API."
          ],
          "enum": [
            "ORIGIN_TYPE_UNSPECIFIED",
            "INVENTORY_REPORT"
          ]
        },
        "updateTime": {
          "description": "When this inventory item was last modified.",
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "description": "The specific type of inventory, correlating to its specific details.",
          "type": "string",
          "enumDescriptions": [
            "Invalid. A type must be specified.",
            "This represents a package that is installed on the VM.",
            "This represents an update that is available for a package."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INSTALLED_PACKAGE",
            "AVAILABLE_PACKAGE"
          ]
        },
        "installedPackage": {
          "$ref": "InventorySoftwarePackage",
          "description": "Software package present on the VM instance."
        }
      }
    },
    "InventoryWindowsQuickFixEngineeringPackage": {
      "id": "InventoryWindowsQuickFixEngineeringPackage",
      "description": "Information related to a Quick Fix Engineering package. Fields are taken from Windows QuickFixEngineering Interface and match the source names: https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-quickfixengineering",
      "type": "object",
      "properties": {
        "caption": {
          "description": "A short textual description of the QFE update.",
          "type": "string"
        },
        "description": {
          "description": "A textual description of the QFE update.",
          "type": "string"
        },
        "installTime": {
          "description": "Date that the QFE update was installed. Mapped from installed_on field.",
          "type": "string",
          "format": "google-datetime"
        },
        "hotFixId": {
          "description": "Unique identifier associated with a particular QFE update.",
          "type": "string"
        }
      }
    },
    "ListOSPolicyAssignmentReportsResponse": {
      "id": "ListOSPolicyAssignmentReportsResponse",
      "description": "A response message for listing OS Policy assignment reports including the page of results and page token.",
      "type": "object",
      "properties": {
        "osPolicyAssignmentReports": {
          "description": "List of OS policy assignment reports.",
          "type": "array",
          "items": {
            "$ref": "OSPolicyAssignmentReport"
          }
        },
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of OS policy assignment report objects.",
          "type": "string"
        }
      }
    },
    "OSPolicyResourcePackageResourceRPM": {
      "id": "OSPolicyResourcePackageResourceRPM",
      "description": "An RPM package file. RPM packages only support INSTALLED state.",
      "type": "object",
      "properties": {
        "source": {
          "description": "Required. An rpm package.",
          "$ref": "OSPolicyResourceFile"
        },
        "pullDeps": {
          "description": "Whether dependencies should also be installed. - install when false: `rpm --upgrade --replacepkgs package.rpm` - install when true: `yum -y install package.rpm` or `zypper -y install package.rpm`",
          "type": "boolean"
        }
      }
    },
    "OSPolicyResourceGroup": {
      "id": "OSPolicyResourceGroup",
      "description": "Resource groups provide a mechanism to group OS policy resources. Resource groups enable OS policy authors to create a single OS policy to be applied to VMs running different operating Systems. When the OS policy is applied to a target VM, the appropriate resource group within the OS policy is selected based on the `OSFilter` specified within the resource group.",
      "type": "object",
      "properties": {
        "resources": {
          "items": {
            "$ref": "OSPolicyResource"
          },
          "description": "Required. List of resources configured for this resource group. The resources are executed in the exact order specified here.",
          "type": "array"
        },
        "inventoryFilters": {
          "items": {
            "$ref": "OSPolicyInventoryFilter"
          },
          "description": "List of inventory filters for the resource group. The resources in this resource group are applied to the target VM if it satisfies at least one of the following inventory filters. For example, to apply this resource group to VMs running either `RHEL` or `CentOS` operating systems, specify 2 items for the list with following values: inventory_filters[0].os_short_name='rhel' and inventory_filters[1].os_short_name='centos' If the list is empty, this resource group will be applied to the target VM unconditionally.",
          "type": "array"
        }
      }
    },
    "StatusProto": {
      "description": "Wire-format for a Status object",
      "type": "object",
      "properties": {
        "message": {
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;",
          "type": "string"
        },
        "space": {
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs",
          "type": "string"
        },
        "code": {
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;",
          "type": "integer",
          "format": "int32"
        },
        "canonicalCode": {
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;",
          "type": "integer",
          "format": "int32"
        },
        "messageSet": {
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;",
          "$ref": "MessageSet"
        }
      },
      "id": "StatusProto"
    },
    "OSPolicyResourceFileGcs": {
      "id": "OSPolicyResourceFileGcs",
      "description": "Specifies a file available as a Cloud Storage Object.",
      "type": "object",
      "properties": {
        "bucket": {
          "description": "Required. Bucket of the Cloud Storage object.",
          "type": "string"
        },
        "object": {
          "description": "Required. Name of the Cloud Storage object.",
          "type": "string"
        },
        "generation": {
          "description": "Generation number of the Cloud Storage object.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "OSPolicyInventoryFilter": {
      "description": "Filtering criteria to select VMs based on inventory details.",
      "type": "object",
      "properties": {
        "osShortName": {
          "description": "Required. The OS short name",
          "type": "string"
        },
        "osVersion": {
          "description": "The OS version Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*` An empty string matches all OS versions.",
          "type": "string"
        }
      },
      "id": "OSPolicyInventoryFilter"
    },
    "PausePatchDeploymentRequest": {
      "id": "PausePatchDeploymentRequest",
      "description": "A request message for pausing a patch deployment.",
      "type": "object",
      "properties": {}
    },
    "InventoryWindowsApplication": {
      "description": "Contains information about a Windows application that is retrieved from the Windows Registry. For more information about these fields, see: https://docs.microsoft.com/en-us/windows/win32/msi/uninstall-registry-key",
      "type": "object",
      "properties": {
        "installDate": {
          "description": "The last time this product received service. The value of this property is replaced each time a patch is applied or removed from the product or the command-line option is used to repair the product.",
          "$ref": "Date"
        },
        "displayName": {
          "description": "The name of the application or product.",
          "type": "string"
        },
        "displayVersion": {
          "description": "The version of the product or application in string format.",
          "type": "string"
        },
        "publisher": {
          "description": "The name of the manufacturer for the product or application.",
          "type": "string"
        },
        "helpLink": {
          "description": "The internet address for technical support.",
          "type": "string"
        }
      },
      "id": "InventoryWindowsApplication"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "ExecStep": {
      "id": "ExecStep",
      "description": "A step that runs an executable for a PatchJob.",
      "type": "object",
      "properties": {
        "linuxExecStepConfig": {
          "description": "The ExecStepConfig for all Linux VMs targeted by the PatchJob.",
          "$ref": "ExecStepConfig"
        },
        "windowsExecStepConfig": {
          "description": "The ExecStepConfig for all Windows VMs targeted by the PatchJob.",
          "$ref": "ExecStepConfig"
        }
      }
    },
    "ProjectFeatureSettings": {
      "id": "ProjectFeatureSettings",
      "description": "ProjectFeatureSettings represents the VM Manager feature settings in a project. For more information, see Enable full VM Manager functionality.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Immutable. Name specifies the URL for the ProjectFeatureSettings resource: projects/project_id/locations/global/projectFeatureSettings.",
          "type": "string"
        },
        "patchAndConfigFeatureSet": {
          "description": "Set PatchAndConfigFeatureSet for the project.",
          "type": "string",
          "enumDescriptions": [
            "Not specified placeholder",
            "Enables only the basic set of VM Manager features in the project.",
            "Enables all VM Manager features in the project."
          ],
          "enum": [
            "PATCH_AND_CONFIG_FEATURE_SET_UNSPECIFIED",
            "OSCONFIG_B",
            "OSCONFIG_C"
          ]
        }
      }
    },
    "OSPolicyResourcePackageResource": {
      "id": "OSPolicyResourcePackageResource",
      "description": "A resource that manages a system package.",
      "type": "object",
      "properties": {
        "apt": {
          "description": "A package managed by Apt.",
          "$ref": "OSPolicyResourcePackageResourceAPT"
        },
        "rpm": {
          "description": "An rpm package file.",
          "$ref": "OSPolicyResourcePackageResourceRPM"
        },
        "deb": {
          "$ref": "OSPolicyResourcePackageResourceDeb",
          "description": "A deb package file."
        },
        "desiredState": {
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "REMOVED"
          ],
          "description": "Required. The desired state the agent should maintain for this package.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Ensure that the package is installed.",
            "The agent ensures that the package is not installed and uninstalls it if detected."
          ]
        },
        "googet": {
          "$ref": "OSPolicyResourcePackageResourceGooGet",
          "description": "A package managed by GooGet."
        },
        "msi": {
          "$ref": "OSPolicyResourcePackageResourceMSI",
          "description": "An MSI package."
        },
        "yum": {
          "description": "A package managed by YUM.",
          "$ref": "OSPolicyResourcePackageResourceYUM"
        },
        "zypper": {
          "$ref": "OSPolicyResourcePackageResourceZypper",
          "description": "A package managed by Zypper."
        }
      }
    },
    "OSPolicyResource": {
      "id": "OSPolicyResource",
      "description": "An OS policy resource is used to define the desired state configuration and provides a specific functionality like installing/removing packages, executing a script etc. The system ensures that resources are always in their desired state by taking necessary actions if they have drifted from their desired state.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. The id of the resource with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the OS policy.",
          "type": "string"
        },
        "exec": {
          "$ref": "OSPolicyResourceExecResource",
          "description": "Exec resource"
        },
        "file": {
          "$ref": "OSPolicyResourceFileResource",
          "description": "File resource"
        },
        "repository": {
          "$ref": "OSPolicyResourceRepositoryResource",
          "description": "Package repository resource"
        },
        "pkg": {
          "$ref": "OSPolicyResourcePackageResource",
          "description": "Package resource"
        }
      }
    },
    "OSPolicyAssignmentLabelSet": {
      "id": "OSPolicyAssignmentLabelSet",
      "description": "Message representing label set. * A label is a key value pair set for a VM. * A LabelSet is a set of labels. * Labels within a LabelSet are ANDed. In other words, a LabelSet is applicable for a VM only if it matches all the labels in the LabelSet. * Example: A LabelSet with 2 labels: `env=prod` and `type=webserver` will only be applicable for those VMs with both labels present.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Labels are identified by key/value pairs in this map. A VM should contain all the key/value pairs specified in this map to be selected.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ListPatchJobsResponse": {
      "id": "ListPatchJobsResponse",
      "description": "A response message for listing patch jobs.",
      "type": "object",
      "properties": {
        "patchJobs": {
          "items": {
            "$ref": "PatchJob"
          },
          "description": "The list of patch jobs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of results.",
          "type": "string"
        }
      }
    },
    "OSPolicyResourcePackageResourceDeb": {
      "description": "A deb package file. dpkg packages only support INSTALLED state.",
      "type": "object",
      "properties": {
        "source": {
          "description": "Required. A deb package.",
          "$ref": "OSPolicyResourceFile"
        },
        "pullDeps": {
          "description": "Whether dependencies should also be installed. - install when false: `dpkg -i package` - install when true: `apt-get update && apt-get -y install package.deb`",
          "type": "boolean"
        }
      },
      "id": "OSPolicyResourcePackageResourceDeb"
    },
    "RecurringSchedule": {
      "id": "RecurringSchedule",
      "description": "Sets the time for recurring patch deployments.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Optional. The end time at which a recurring patch deployment schedule is no longer active.",
          "type": "string",
          "format": "google-datetime"
        },
        "frequency": {
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY",
            "DAILY"
          ],
          "description": "Required. The frequency unit of this recurring schedule.",
          "type": "string",
          "enumDescriptions": [
            "Invalid. A frequency must be specified.",
            "Indicates that the frequency of recurrence should be expressed in terms of weeks.",
            "Indicates that the frequency of recurrence should be expressed in terms of months.",
            "Indicates that the frequency of recurrence should be expressed in terms of days."
          ]
        },
        "nextExecuteTime": {
          "description": "Output only. The time the next patch job is scheduled to run.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "timeOfDay": {
          "description": "Required. Time of the day to run a recurring deployment.",
          "$ref": "TimeOfDay"
        },
        "timeZone": {
          "description": "Required. Defines the time zone that `time_of_day` is relative to. The rules for daylight saving time are determined by the chosen time zone.",
          "$ref": "TimeZone"
        },
        "monthly": {
          "$ref": "MonthlySchedule",
          "description": "Required. Schedule with monthly executions."
        },
        "startTime": {
          "description": "Optional. The time that the recurring schedule becomes effective. Defaults to `create_time` of the patch deployment.",
          "type": "string",
          "format": "google-datetime"
        },
        "weekly": {
          "description": "Required. Schedule with weekly executions.",
          "$ref": "WeeklySchedule"
        },
        "lastExecuteTime": {
          "readOnly": true,
          "description": "Output only. The time the last patch job ran successfully.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "OSPolicyResourceRepositoryResourceAptRepository": {
      "description": "Represents a single apt package repository. These will be added to a repo file that will be managed at `/etc/apt/sources.list.d/google_osconfig.list`.",
      "type": "object",
      "properties": {
        "archiveType": {
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "DEB",
            "DEB_SRC"
          ],
          "description": "Required. Type of archive files in this repository.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Deb indicates that the archive contains binary files.",
            "Deb-src indicates that the archive contains source files."
          ]
        },
        "uri": {
          "description": "Required. URI for this repository.",
          "type": "string"
        },
        "components": {
          "description": "Required. List of components for this repository. Must contain at least one item.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gpgKey": {
          "description": "URI of the key file for this repository. The agent maintains a keyring at `/etc/apt/trusted.gpg.d/osconfig_agent_managed.gpg`.",
          "type": "string"
        },
        "distribution": {
          "description": "Required. Distribution of this repository.",
          "type": "string"
        }
      },
      "id": "OSPolicyResourceRepositoryResourceAptRepository"
    },
    "OSPolicyResourceRepositoryResourceGooRepository": {
      "description": "Represents a Goo package repository. These are added to a repo file that is managed at `C:/ProgramData/GooGet/repos/google_osconfig.repo`.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the repository.",
          "type": "string"
        },
        "url": {
          "description": "Required. The url of the repository.",
          "type": "string"
        }
      },
      "id": "OSPolicyResourceRepositoryResourceGooRepository"
    },
    "VulnerabilityReportVulnerabilityDetailsReference": {
      "id": "VulnerabilityReportVulnerabilityDetailsReference",
      "description": "A reference for this vulnerability.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The url of the reference.",
          "type": "string"
        },
        "source": {
          "description": "The source of the reference e.g. NVD.",
          "type": "string"
        }
      }
    },
    "OSPolicyAssignmentReport": {
      "description": "A report of the OS policy assignment status for a given instance.",
      "type": "object",
      "properties": {
        "lastRunId": {
          "description": "Unique identifier of the last attempted run to apply the OS policies associated with this assignment on the VM. This ID is logged by the OS Config agent while applying the OS policies associated with this assignment on the VM. NOTE: If the service is unable to successfully connect to the agent for this run, then this id will not be available in the agent logs.",
          "type": "string"
        },
        "instance": {
          "description": "The Compute Engine VM instance name.",
          "type": "string"
        },
        "updateTime": {
          "description": "Timestamp for when the report was last generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "osPolicyCompliances": {
          "description": "Compliance data for each `OSPolicy` that is applied to the VM.",
          "type": "array",
          "items": {
            "$ref": "OSPolicyAssignmentReportOSPolicyCompliance"
          }
        },
        "name": {
          "description": "The `OSPolicyAssignmentReport` API resource name. Format: `projects/{project_number}/locations/{location}/instances/{instance_id}/osPolicyAssignments/{os_policy_assignment_id}/report`",
          "type": "string"
        },
        "osPolicyAssignment": {
          "description": "Reference to the `OSPolicyAssignment` API resource that the `OSPolicy` belongs to. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
          "type": "string"
        }
      },
      "id": "OSPolicyAssignmentReport"
    },
    "CVSSv3": {
      "description": "Common Vulnerability Scoring System version 3. For details, see https://www.first.org/cvss/specification-document",
      "type": "object",
      "properties": {
        "exploitabilityScore": {
          "description": "The Exploitability sub-score equation is derived from the Base Exploitability metrics. https://www.first.org/cvss/specification-document#2-1-Exploitability-Metrics",
          "type": "number",
          "format": "float"
        },
        "confidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "description": "This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ]
        },
        "baseScore": {
          "description": "The base score is a function of the base metric scores. https://www.first.org/cvss/specification-document#Base-Metrics",
          "type": "number",
          "format": "float"
        },
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "description": "The Scope metric captures whether a vulnerability in one vulnerable component impacts resources in components beyond its security scope.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "An exploited vulnerability can only affect resources managed by the same security authority.",
            "An exploited vulnerability can affect resources beyond the security scope managed by the security authority of the vulnerable component."
          ]
        },
        "impactScore": {
          "description": "The Impact sub-score equation is derived from the Base Impact metrics.",
          "type": "number",
          "format": "float"
        },
        "privilegesRequired": {
          "description": "This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "The attacker is unauthorized prior to attack, and therefore does not require any access to settings or files of the vulnerable system to carry out an attack.",
            "The attacker requires privileges that provide basic user capabilities that could normally affect only settings and files owned by a user. Alternatively, an attacker with Low privileges has the ability to access only non-sensitive resources.",
            "The attacker requires privileges that provide significant (e.g., administrative) control over the vulnerable component allowing access to component-wide settings and files."
          ],
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "userInteraction": {
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "description": "This metric captures the requirement for a human user, other than the attacker, to participate in the successful compromise of the vulnerable component.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable system can be exploited without interaction from any user.",
            "Successful exploitation of this vulnerability requires a user to take some action before the vulnerability can be exploited."
          ]
        },
        "attackVector": {
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "description": "This metric reflects the context by which vulnerability exploitation is possible.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable component is bound to the network stack and the set of possible attackers extends beyond the other options listed below, up to and including the entire Internet.",
            "The vulnerable component is bound to the network stack, but the attack is limited at the protocol level to a logically adjacent topology.",
            "The vulnerable component is not bound to the network stack and the attacker's path is via read/write/execute capabilities.",
            "The attack requires the attacker to physically touch or manipulate the vulnerable component."
          ]
        },
        "availabilityImpact": {
          "description": "This metric measures the impact to the availability of the impacted component resulting from a successfully exploited vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "attackComplexity": {
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "description": "This metric describes the conditions beyond the attacker's control that must exist in order to exploit the vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "Specialized access conditions or extenuating circumstances do not exist. An attacker can expect repeatable success when attacking the vulnerable component.",
            "A successful attack depends on conditions beyond the attacker's control. That is, a successful attack cannot be accomplished at will, but requires the attacker to invest in some measurable amount of effort in preparation or execution against the vulnerable component before a successful attack can be expected."
          ]
        },
        "integrityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "description": "This metric measures the impact to integrity of a successfully exploited vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ]
        }
      },
      "id": "CVSSv3"
    },
    "VulnerabilityReportVulnerabilityDetails": {
      "id": "VulnerabilityReportVulnerabilityDetails",
      "description": "Contains metadata information for the vulnerability. This information is collected from the upstream feed of the operating system.",
      "type": "object",
      "properties": {
        "cvssV2Score": {
          "description": "The CVSS V2 score of this vulnerability. CVSS V2 score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity.",
          "type": "number",
          "format": "float"
        },
        "severity": {
          "description": "Assigned severity/impact ranking from the distro.",
          "type": "string"
        },
        "description": {
          "description": "The note or description describing the vulnerability from the distro.",
          "type": "string"
        },
        "references": {
          "items": {
            "$ref": "VulnerabilityReportVulnerabilityDetailsReference"
          },
          "description": "Corresponds to the references attached to the `VulnerabilityDetails`.",
          "type": "array"
        },
        "cvssV3": {
          "$ref": "CVSSv3",
          "description": "The full description of the CVSSv3 for this vulnerability from NVD."
        },
        "cve": {
          "description": "The CVE of the vulnerability. CVE cannot be empty and the combination of should be unique across vulnerabilities for a VM.",
          "type": "string"
        }
      }
    },
    "OSPolicyResourcePackageResourceYUM": {
      "description": "A package managed by YUM. - install: `yum -y install package` - remove: `yum -y remove package`",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Package name.",
          "type": "string"
        }
      },
      "id": "OSPolicyResourcePackageResourceYUM"
    },
    "OSPolicyResourcePackageResourceGooGet": {
      "id": "OSPolicyResourcePackageResourceGooGet",
      "description": "A package managed by GooGet. - install: `googet -noconfirm install package` - remove: `googet -noconfirm remove package`",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Package name.",
          "type": "string"
        }
      }
    },
    "MessageSet": {
[...]
