{
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://oslogin.mtls.googleapis.com/",
  "batchPath": "batch",
  "schemas": {
    "SignSshPublicKeyResponse": {
      "id": "SignSshPublicKeyResponse",
      "description": "The response message for signing an SSH public key.",
      "type": "object",
      "properties": {
        "signedSshPublicKey": {
          "description": "The signed SSH public key to use in the SSH handshake.",
          "type": "string"
        }
      }
    },
    "SignSshPublicKeyRequest": {
      "properties": {
        "computeInstance": {
          "description": "The Compute instance to sign the SSH public key for. Expected format: projects/{project}/zones/{zone}/instances/{numeric_instance_id}",
          "type": "string"
        },
        "cloudRunResource": {
          "description": "Optional. The Cloud Run resource to sign the SSH public key for. Expected formats: - `projects/{project}/locations/{location}/services/{service}` - `projects/{project}/locations/{location}/workerPools/{worker_pool}` - `projects/{project}/locations/{location}/jobs/{job}` - `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        },
        "sshPublicKey": {
          "description": "Required. The SSH public key to sign.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. The service account for the instance. If the instance in question does not have a service account, this field should be left empty. If the wrong service account is provided, this operation will return a signed certificate that will not be accepted by the VM.",
          "type": "string"
        },
        "appEngineInstance": {
          "description": "The App Engine instance to sign the SSH public key for. Expected format: apps/{app}/services/{service}/versions/{version}/instances/{instance}",
          "type": "string"
        }
      },
      "description": "A request message for signing an SSH public key.",
      "type": "object",
      "id": "SignSshPublicKeyRequest"
    },
    "LoginProfile": {
      "id": "LoginProfile",
      "properties": {
        "name": {
          "description": "Required. A unique user ID.",
          "type": "string"
        },
        "posixAccounts": {
          "items": {
            "$ref": "PosixAccount"
          },
          "description": "The list of POSIX accounts associated with the user.",
          "type": "array"
        },
        "sshPublicKeys": {
          "description": "A map from SSH public key fingerprint to the associated key object.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SshPublicKey"
          }
        }
      },
      "description": "The user profile information used for logging in to a virtual machine on Google Compute Engine.",
      "type": "object"
    },
    "SshPublicKey": {
      "properties": {
        "key": {
          "description": "Required. Public key text in SSH format, defined by [RFC4253](https://www.ietf.org/rfc/rfc4253.txt) section 6.6.",
          "type": "string"
        },
        "expirationTimeUsec": {
          "description": "An expiration time in microseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Output only. The canonical resource name.",
          "readOnly": true,
          "type": "string"
        },
        "fingerprint": {
          "description": "Output only. The SHA-256 fingerprint of the SSH public key.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The SSH public key information associated with a Google account.",
      "type": "object",
      "id": "SshPublicKey"
    },
    "PosixAccount": {
      "properties": {
        "systemId": {
          "description": "System identifier for which account the username or uid applies to. By default, the empty value is used.",
          "type": "string"
        },
        "primary": {
          "description": "Only one POSIX account can be marked as primary.",
          "type": "boolean"
        },
        "uid": {
          "description": "The user ID.",
          "type": "string",
          "format": "int64"
        },
        "shell": {
          "description": "The path to the logic shell for this account.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The canonical resource name.",
          "readOnly": true,
          "type": "string"
        },
        "homeDirectory": {
          "description": "The path to the home directory for this account.",
          "type": "string"
        },
        "username": {
          "description": "The username of the POSIX account.",
          "type": "string"
        },
        "operatingSystemType": {
          "enumDescriptions": [
            "The operating system type associated with the user account information is unspecified.",
            "Linux user account information.",
            "Windows user account information."
          ],
          "enum": [
            "OPERATING_SYSTEM_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS"
          ],
          "description": "The operating system type where this account applies.",
          "type": "string"
        },
        "gid": {
          "description": "The default group ID.",
          "type": "string",
          "format": "int64"
        },
        "gecos": {
          "description": "The GECOS (user information) entry for this account.",
          "type": "string"
        },
        "accountId": {
          "description": "Output only. A POSIX account identifier.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The POSIX account information associated with a Google account.",
      "type": "object",
      "id": "PosixAccount"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ImportSshPublicKeyResponse": {
      "description": "A response message for importing an SSH public key.",
      "type": "object",
      "properties": {
        "loginProfile": {
          "description": "The login profile information for the user.",
          "$ref": "LoginProfile"
        },
        "details": {
          "description": "Detailed information about import results.",
          "type": "string"
        }
      },
      "id": "ImportSshPublicKeyResponse"
    },
    "ProvisionPosixAccountRequest": {
      "properties": {
        "regions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The regions to wait for a POSIX account to be written to before returning a response. If unspecified, defaults to all regions. Regions are listed at https://cloud.google.com/about/locations#region.",
          "type": "array"
        }
      },
      "description": "A request message for creating a POSIX account entry.",
      "type": "object",
      "id": "ProvisionPosixAccountRequest"
    }
  },
  "documentationLink": "https://cloud.google.com/compute/docs/oslogin/",
  "name": "oslogin",
  "baseUrl": "https://oslogin.googleapis.com/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "canonicalName": "Cloud OS Login",
  "rootUrl": "https://oslogin.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/compute.readonly": {
          "description": "View your Google Compute Engine resources"
        }
      }
    }
  },
  "basePath": "",
  "id": "oslogin:v1",
  "description": "You can use OS Login to manage access to your VM instances using IAM roles.",
  "revision": "20260816",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "servicePath": "",
  "version": "v1",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "signSshPublicKey": {
              "id": "oslogin.projects.locations.signSshPublicKey",
              "request": {
                "$ref": "SignSshPublicKeyRequest"
              },
              "response": {
                "$ref": "SignSshPublicKeyResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:signSshPublicKey",
              "httpMethod": "POST",
              "description": "Signs an SSH public key for a user to authenticate to a virtual machine on Google Compute Engine.",
              "path": "v1/{+parent}:signSshPublicKey",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Required. The parent for the signing request. Format: projects/{project}/locations/{location}",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "users": {
      "resources": {
        "sshPublicKeys": {
          "methods": {
            "create": {
              "response": {
                "$ref": "SshPublicKey"
              },
              "id": "oslogin.users.sshPublicKeys.create",
              "request": {
                "$ref": "SshPublicKey"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The unique ID for the user in format `users/{user}`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^users/[^/]+$"
                }
              },
              "flatPath": "v1/users/{usersId}/sshPublicKeys",
              "httpMethod": "POST",
              "description": "Create an SSH public key",
              "path": "v1/{+parent}/sshPublicKeys",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/users/{usersId}/sshPublicKeys/{sshPublicKeysId}",
              "httpMethod": "PATCH",
              "description": "Updates an SSH public key and returns the profile information. This method supports patch semantics.",
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "description": "Optional. Mask to control which fields get updated. Updates all if not present.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^users/[^/]+/sshPublicKeys/[^/]+$",
                  "required": true,
                  "description": "Required. The fingerprint of the public key to update. Public keys are identified by their SHA-256 fingerprint. The fingerprint of the public key is in format `users/{user}/sshPublicKeys/{fingerprint}`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "id": "oslogin.users.sshPublicKeys.patch",
              "request": {
                "$ref": "SshPublicKey"
              },
              "response": {
                "$ref": "SshPublicKey"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameters": {
                "name": {
                  "pattern": "^users/[^/]+/sshPublicKeys/[^/]+$",
                  "description": "Required. The fingerprint of the public key to update. Public keys are identified by their SHA-256 fingerprint. The fingerprint of the public key is in format `users/{user}/sshPublicKeys/{fingerprint}`.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/users/{usersId}/sshPublicKeys/{sshPublicKeysId}",
              "httpMethod": "DELETE",
              "description": "Deletes an SSH public key.",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "oslogin.users.sshPublicKeys.delete"
            },
            "get": {
              "response": {
                "$ref": "SshPublicKey"
              },
              "id": "oslogin.users.sshPublicKeys.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The fingerprint of the public key to retrieve. Public keys are identified by their SHA-256 fingerprint. The fingerprint of the public key is in format `users/{user}/sshPublicKeys/{fingerprint}`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^users/[^/]+/sshPublicKeys/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/users/{usersId}/sshPublicKeys/{sshPublicKeysId}",
              "httpMethod": "GET",
              "description": "Retrieves an SSH public key.",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "projects": {
          "methods": {
            "provisionPosixAccount": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The unique ID for the user in format `users/{user}/projects/{project}`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^users/[^/]+/projects/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/users/{usersId}/projects/{projectsId}",
              "httpMethod": "POST",
              "description": "Adds a POSIX account and returns the profile information. Default POSIX account information is set when no username and UID exist as part of the login profile.",
              "id": "oslogin.users.projects.provisionPosixAccount",
              "request": {
                "$ref": "ProvisionPosixAccountRequest"
              },
              "response": {
                "$ref": "PosixAccount"
              }
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "id": "oslogin.users.projects.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameters": {
                "name": {
                  "description": "Required. A reference to the POSIX account to update. POSIX accounts are identified by the project ID they are associated with. A reference to the POSIX account is in format `users/{user}/projects/{project}`.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^users/[^/]+/projects/[^/]+$"
                }
              },
              "flatPath": "v1/users/{usersId}/projects/{projectsId}",
              "httpMethod": "DELETE",
              "description": "Deletes a POSIX account.",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      },
      "methods": {
        "getLoginProfile": {
          "id": "oslogin.users.getLoginProfile",
          "response": {
            "$ref": "LoginProfile"
          },
          "parameters": {
            "name": {
              "pattern": "^users/[^/]+$",
              "description": "Required. The unique ID for the user in format `users/{user}`.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "projectId": {
              "description": "Required. The project ID of the Google Cloud Platform project.",
              "location": "query",
              "type": "string"
            },
            "systemId": {
              "description": "Optional. A system ID for filtering the results of the request.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}/loginProfile",
          "flatPath": "v1/users/{usersId}/loginProfile",
          "httpMethod": "GET",
          "description": "Retrieves the profile information used for logging in to a virtual machine on Google Compute Engine."
        },
        "importSshPublicKey": {
          "response": {
            "$ref": "ImportSshPublicKeyResponse"
          },
          "id": "oslogin.users.importSshPublicKey",
          "request": {
            "$ref": "SshPublicKey"
          },
          "flatPath": "v1/users/{usersId}:importSshPublicKey",
          "httpMethod": "POST",
          "description": "Adds an SSH public key and returns the profile information. Default POSIX account information is set when no username and UID exist as part of the login profile.",
          "path": "v1/{+parent}:importSshPublicKey",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameters": {
            "regions": {
              "description": "Optional. The regions to which to assert that the key was written. If unspecified, defaults to all regions. Regions are listed at https://cloud.google.com/about/locations#region.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "parent": {
              "required": true,
              "description": "Required. The unique ID for the user in format `users/{user}`.",
              "location": "path",
              "type": "string",
              "pattern": "^users/[^/]+$"
            },
            "projectId": {
              "description": "The project ID of the Google Cloud Platform project.",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "title": "Cloud OS Login API"
}