{
  "baseUrl": "https://pagespeedonline.googleapis.com/",
  "id": "pagespeedonline:v5",
  "batchPath": "batch",
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "name": "pagespeedonline",
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "httpMethod": "GET",
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "parameterOrder": [
            "url"
          ],
          "scopes": [
            "openid"
          ],
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "path": "pagespeedonline/v5/runPagespeed",
          "parameters": {
            "strategy": {
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ],
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ],
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default"
            },
            "utm_campaign": {
              "description": "Campaign name for analytics.",
              "location": "query",
              "type": "string"
            },
            "utm_source": {
              "type": "string",
              "description": "Campaign source for analytics.",
              "location": "query"
            },
            "url": {
              "location": "query",
              "type": "string",
              "pattern": "(?i)(url:|origin:)?http(s)?://.*",
              "description": "Required. The URL to fetch and analyze",
              "required": true
            },
            "category": {
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO",
                "AGENTIC_BROWSING"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines.",
                "Agentic Browsing, category pertaining to a website's ability to be rendered by an agentic browsing system."
              ],
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run",
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false,
                false
              ],
              "repeated": true
            },
            "locale": {
              "type": "string",
              "description": "The locale used to localize formatted results",
              "location": "query",
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?"
            },
            "captchaToken": {
              "description": "The captcha token passed when filling out a captcha.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "pagespeedonline.pagespeedapi.runpagespeed"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "version_module": true,
  "ownerDomain": "google.com",
  "canonicalName": "Pagespeed Insights",
  "protocol": "rest",
  "basePath": "",
  "servicePath": "",
  "schemas": {
    "PagespeedApiLoadingExperienceV5": {
      "id": "PagespeedApiLoadingExperienceV5",
      "type": "object",
      "properties": {
        "initial_url": {
          "type": "string",
          "description": "The requested URL, which may differ from the resolved \"id\"."
        },
        "origin_fallback": {
          "description": "True if the result is an origin fallback from a page, false otherwise.",
          "type": "boolean"
        },
        "overall_category": {
          "description": "The human readable speed \"category\" of the id.",
          "type": "string"
        },
        "id": {
          "description": "The url, pattern or origin which the metrics are on.",
          "type": "string"
        },
        "metrics": {
          "type": "object",
          "description": "The map of .",
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          }
        }
      },
      "description": "The CrUX loading experience object that contains CrUX data breakdowns."
    },
    "CategoryGroupV5": {
      "id": "CategoryGroupV5",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of what the category is grouping",
          "type": "string"
        },
        "title": {
          "description": "The human readable title of the group",
          "type": "string"
        }
      },
      "description": "Message containing a category"
    },
    "LighthouseResultV5": {
      "description": "The Lighthouse result object.",
      "id": "LighthouseResultV5",
      "type": "object",
      "properties": {
        "finalDisplayedUrl": {
          "description": "URL displayed on the page after Lighthouse finishes.",
          "type": "string"
        },
        "fetchTime": {
          "type": "string",
          "description": "The time that this run was fetched."
        },
        "audits": {
          "description": "Map of audits in the LHR.",
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          },
          "type": "object"
        },
        "timing": {
          "description": "Timing information for this LHR.",
          "$ref": "Timing"
        },
        "categories": {
          "description": "Map of categories in the LHR.",
          "$ref": "Categories"
        },
        "userAgent": {
          "type": "string",
          "description": "The user agent that was used to run this LHR."
        },
        "finalUrl": {
          "type": "string",
          "description": "The final resolved url that was audited."
        },
        "lighthouseVersion": {
          "type": "string",
          "description": "The lighthouse version that was used to generate this LHR."
        },
        "categoryGroups": {
          "description": "Map of category groups in the LHR.",
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          },
          "type": "object"
        },
        "environment": {
          "description": "Environment settings that were used when making this LHR.",
          "$ref": "Environment"
        },
        "runWarnings": {
          "type": "array",
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`.",
          "items": {
            "type": "any"
          }
        },
        "requestedUrl": {
          "type": "string",
          "description": "The original requested url."
        },
        "mainDocumentUrl": {
          "type": "string",
          "description": "URL of the main document request of the final navigation."
        },
        "entities": {
          "items": {
            "$ref": "LhrEntity"
          },
          "type": "array",
          "description": "Entity classification data."
        },
        "i18n": {
          "description": "The internationalization strings that are required to render the LHR.",
          "$ref": "I18n"
        },
        "fullPageScreenshot": {
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results.",
          "type": "any"
        },
        "runtimeError": {
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded.",
          "$ref": "RuntimeError"
        },
        "configSettings": {
          "description": "The configuration settings for this LHR.",
          "$ref": "ConfigSettings"
        },
        "stackPacks": {
          "items": {
            "$ref": "StackPack"
          },
          "description": "The Stack Pack advice strings.",
          "type": "array"
        }
      }
    },
    "MetricSavings": {
      "description": "The metric savings of the audit.",
      "id": "MetricSavings",
      "type": "object",
      "properties": {
        "INP": {
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric.",
          "format": "double"
        },
        "LCP": {
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric.",
          "format": "double"
        },
        "CLS": {
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric.",
          "format": "double"
        },
        "TBT": {
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric.",
          "format": "double"
        },
        "FCP": {
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric.",
          "format": "double"
        }
      }
    },
    "Categories": {
      "description": "The categories in a Lighthouse run.",
      "id": "Categories",
      "type": "object",
      "properties": {
        "seo": {
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "agentic-browsing": {
          "description": "The agentic browsing category, containing all agentic browsing related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "accessibility": {
          "description": "The accessibility category, containing all accessibility related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "best-practices": {
          "description": "The best practices category, containing all best practices related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "pwa": {
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release.",
          "deprecated": true,
          "$ref": "LighthouseCategoryV5"
        },
        "performance": {
          "description": "The performance category, containing all performance related audits.",
          "$ref": "LighthouseCategoryV5"
        }
      }
    },
    "LhrEntity": {
      "description": "Message containing an Entity.",
      "id": "LhrEntity",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the entity."
        },
        "isUnrecognized": {
          "description": "Optional. An optional flag indicating if the entity is not recognized.",
          "type": "boolean"
        },
        "origins": {
          "type": "array",
          "description": "Required. A list of URL origin strings that belong to this entity.",
          "items": {
            "type": "string"
          }
        },
        "homepage": {
          "description": "Optional. An optional homepage URL of the entity.",
          "type": "string"
        },
        "isFirstParty": {
          "type": "boolean",
          "description": "Optional. An optional flag indicating if the entity is the first party."
        },
        "category": {
          "description": "Optional. An optional category name for the entity.",
          "type": "string"
        }
      }
    },
    "StackPack": {
      "description": "Message containing Stack Pack information.",
      "id": "StackPack",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The stack pack id."
        },
        "descriptions": {
          "description": "The stack pack advice strings.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "title": {
          "description": "The stack pack title.",
          "type": "string"
        },
        "iconDataURL": {
          "description": "The stack pack icon data uri.",
          "type": "string"
        }
      }
    },
    "LighthouseCategoryV5": {
      "description": "A Lighthouse category.",
      "id": "LighthouseCategoryV5",
      "type": "object",
      "properties": {
        "id": {
          "description": "The string identifier of the category.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The human-friendly name of the category."
        },
        "manualDescription": {
          "description": "A description for the manual audits in the category.",
          "type": "string"
        },
        "auditRefs": {
          "items": {
            "$ref": "AuditRefs"
          },
          "description": "An array of references to all the audit members of this category.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "A more detailed description of the category and its importance."
        },
        "categoryScoreDisplayMode": {
          "enumDescriptions": [
            "Default UNDEFINED category.",
            "Display the score as a standard circular gauge (default)",
            "Display the score as a fraction, e.g. \"3/5\""
          ],
          "enum": [
            "CATEGORY_SCORE_DISPLAY_MODE_UNSPECIFIED",
            "GAUGE",
            "FRACTION"
          ],
          "type": "string",
          "description": "Optional. How the category score should be displayed (e.g. as a fraction)."
        },
        "score": {
          "type": "any",
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)"
        }
      }
    },
    "AuditRefs": {
      "description": "A light reference to an audit by id, used to group and weight audits in a given category.",
      "id": "AuditRefs",
      "type": "object",
      "properties": {
        "acronym": {
          "description": "The conventional acronym for the audit/metric.",
          "type": "string"
        },
        "group": {
          "type": "string",
          "description": "The category group that the audit belongs to (optional)."
        },
        "id": {
          "description": "The audit ref id.",
          "type": "string"
        },
        "relevantAudits": {
          "description": "Any audit IDs closely relevant to this one.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "weight": {
          "type": "number",
          "description": "The weight this audit's score has on the overall category score.",
          "format": "double"
        }
      }
    },
    "Environment": {
      "id": "Environment",
      "type": "object",
      "properties": {
        "hostUserAgent": {
          "description": "The user agent string of the version of Chrome used.",
          "type": "string"
        },
        "benchmarkIndex": {
          "type": "number",
          "description": "The benchmark index number that indicates rough device class.",
          "format": "double"
        },
        "networkUserAgent": {
          "description": "The user agent string that was sent over the network.",
          "type": "string"
        },
        "credits": {
          "type": "object",
          "description": "The version of libraries with which these results were generated. Ex: axe-core.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Message containing environment configuration for a Lighthouse run."
    },
    "Timing": {
      "description": "Message containing the performance timing data for the Lighthouse run.",
      "id": "Timing",
      "type": "object",
      "properties": {
        "total": {
          "type": "number",
          "description": "The total duration of Lighthouse's run.",
          "format": "double"
        }
      }
    },
    "I18n": {
      "description": "Message containing the i18n data for the LHR - Version 1.",
      "id": "I18n",
      "type": "object",
      "properties": {
        "rendererFormattedStrings": {
          "description": "Internationalized strings that are formatted to the locale in configSettings.",
          "$ref": "RendererFormattedStrings"
        }
      }
    },
    "PagespeedApiPagespeedResponseV5": {
      "description": "The Pagespeed API response object.",
      "id": "PagespeedApiPagespeedResponseV5",
      "type": "object",
      "properties": {
        "lighthouseResult": {
          "description": "Lighthouse response for the audit url as an object.",
          "$ref": "LighthouseResultV5"
        },
        "version": {
          "description": "The version of PageSpeed used to generate these results.",
          "$ref": "PagespeedVersion"
        },
        "kind": {
          "description": "Kind of result.",
          "type": "string"
        },
        "captchaResult": {
          "type": "string",
          "description": "The captcha verify result"
        },
        "loadingExperience": {
          "description": "Metrics of end users' page loading experience.",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "id": {
          "type": "string",
          "description": "Canonicalized and final URL for the document, after following page redirects (if any)."
        },
        "analysisUTCTimestamp": {
          "description": "The UTC timestamp of this analysis.",
          "type": "string"
        },
        "originLoadingExperience": {
          "description": "Metrics of the aggregated page loading experience of the origin",
          "$ref": "PagespeedApiLoadingExperienceV5"
        }
      }
    },
    "RuntimeError": {
      "id": "RuntimeError",
      "type": "object",
      "properties": {
        "code": {
          "description": "The enumerated Lighthouse Error code.",
          "type": "string"
        },
        "message": {
          "description": "A human readable message explaining the error code.",
          "type": "string"
        }
      },
      "description": "Message containing a runtime error config."
    },
    "ConfigSettings": {
      "description": "Message containing the configuration settings for the Lighthouse run.",
      "id": "ConfigSettings",
      "type": "object",
      "properties": {
        "locale": {
          "type": "string",
          "description": "The locale setting."
        },
        "channel": {
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module.",
          "type": "string"
        },
        "emulatedFormFactor": {
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead.",
          "type": "string",
          "deprecated": true
        },
        "onlyCategories": {
          "description": "List of categories of audits the run should conduct.",
          "type": "any"
        },
        "formFactor": {
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop.",
          "type": "string"
        }
      }
    },
    "LighthouseAuditResultV5": {
      "description": "An audit's result object in a Lighthouse result.",
      "id": "LighthouseAuditResultV5",
      "type": "object",
      "properties": {
        "warnings": {
          "description": "Possible warnings that occurred in the audit, can be null.",
          "type": "any"
        },
        "displayValue": {
          "description": "The value that should be displayed on the UI for this audit.",
          "type": "string"
        },
        "metricSavings": {
          "description": "The metric savings of the audit.",
          "$ref": "MetricSavings"
        },
        "scoreDisplayMode": {
          "type": "string",
          "description": "The enumerated score display mode."
        },
        "numericValue": {
          "type": "number",
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present.",
          "format": "double"
        },
        "numericUnit": {
          "description": "The unit of the numeric_value field. Used to format the numeric value for display.",
          "type": "string"
        },
        "score": {
          "type": "any",
          "description": "The score of the audit, can be null."
        },
        "details": {
          "type": "object",
          "description": "Freeform details section of the audit.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "id": {
          "type": "string",
          "description": "The audit's id."
        },
        "explanation": {
          "type": "string",
          "description": "An explanation of the errors in the audit."
        },
        "title": {
          "type": "string",
          "description": "The human readable title."
        },
        "errorMessage": {
          "type": "string",
          "description": "An error message from a thrown error inside the audit."
        },
        "description": {
          "description": "The description of the audit.",
          "type": "string"
        }
      }
    },
    "RendererFormattedStrings": {
      "description": "Message holding the formatted strings used in the renderer.",
      "id": "RendererFormattedStrings",
      "type": "object",
      "properties": {
        "errorMissingAuditInfo": {
          "description": "The error string shown next to an erroring audit.",
          "type": "string"
        },
        "dropdownSaveJSON": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file."
        },
        "lsPerformanceCategoryDescription": {
          "type": "string",
          "description": "The disclaimer shown under performance explaining that the network can vary."
        },
        "showRelevantAudits": {
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric.",
          "type": "string"
        },
        "varianceDisclaimer": {
          "type": "string",
          "description": "The disclaimer shown below a performance metric value."
        },
        "dropdownPrintSummary": {
          "type": "string",
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog."
        },
        "runtimeSettingsUANetwork": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run."
        },
        "runtimeMobileEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device."
        },
        "footerIssue": {
          "type": "string",
          "description": "Label for button to create an issue against the Lighthouse GitHub project."
        },
        "runtimeSettingsCPUThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any."
        },
        "viewTreemapLabel": {
          "description": "Label for a button that opens the Treemap App",
          "type": "string"
        },
        "runtimeSettingsTitle": {
          "type": "string",
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time."
        },
        "throttlingProvided": {
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling.",
          "type": "string"
        },
        "scorescaleLabel": {
          "type": "string",
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100)."
        },
        "runtimeNoEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when no device emulation is set."
        },
        "runtimeSettingsChannel": {
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc).",
          "type": "string"
        },
        "runtimeSettingsUA": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse."
        },
        "calculatorLink": {
          "type": "string",
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics."
        },
        "errorLabel": {
          "type": "string",
          "description": "The label shown next to an audit or metric that has had an error."
        },
        "runtimeSettingsDevice": {
          "type": "string",
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc."
        },
        "dropdownSaveGist": {
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist.",
          "type": "string"
        },
        "opportunitySavingsColumnLabel": {
          "type": "string",
          "description": "The heading for the estimated page load savings of opportunity audits."
        },
        "manualAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that were not computerd in the run.",
          "type": "string"
        },
        "dropdownSaveHTML": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file."
        },
        "crcLongestDurationLabel": {
          "type": "string",
          "description": "The label for values shown in the summary of critical request chains."
        },
        "runtimeDesktopEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor."
        },
        "toplevelWarningsMessage": {
          "description": "The label shown preceding important warnings that may have invalidated an entire report.",
          "type": "string"
        },
        "runtimeSettingsBenchmark": {
          "type": "string",
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783."
        },
        "runtimeSettingsNetworkThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any."
        },
        "runtimeSettingsAxeVersion": {
          "description": "Label for a row in a table that shows the version of the Axe library used",
          "type": "string"
        },
        "crcInitialNavigation": {
          "type": "string",
          "description": "The label for the initial request in a critical request chain."
        },
        "thirdPartyResourcesLabel": {
          "description": "This label is for a filter checkbox above a table of items",
          "type": "string"
        },
        "dropdownPrintExpanded": {
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog.",
          "type": "string"
        },
        "dropdownViewer": {
          "type": "string",
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application."
        },
        "auditGroupExpandTooltip": {
          "description": "The tooltip text on an expandable chevron icon.",
          "type": "string"
        },
        "runtimeSettingsFetchTime": {
          "type": "string",
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC."
        },
        "labDataTitle": {
          "type": "string",
          "description": "The title of the lab data performance category."
        },
        "runtimeSettingsUrl": {
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run.",
          "type": "string"
        },
        "opportunityResourceColumnLabel": {
          "type": "string",
          "description": "The heading for the estimated page load savings opportunity of an audit."
        },
        "warningHeader": {
          "description": "The label shown above a bulleted list of warnings.",
          "type": "string"
        },
        "snippetExpandButtonLabel": {
          "description": "The label for the button to show all lines of a snippet",
          "type": "string"
        },
        "notApplicableAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that do not apply to a page.",
          "type": "string"
        },
        "snippetCollapseButtonLabel": {
          "description": "The label for the button to show only a few lines of a snippet",
          "type": "string"
        },
        "warningAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that have warnings",
          "type": "string"
        },
        "dropdownCopyJSON": {
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard.",
          "type": "string"
        },
        "passedAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that are passing."
        },
        "runtimeUnknown": {
          "type": "string",
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value."
        },
        "dropdownDarkTheme": {
          "type": "string",
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes."
        }
      }
    },
    "UserPageLoadMetricV5": {
      "id": "UserPageLoadMetricV5",
      "type": "object",
      "properties": {
        "distributions": {
          "items": {
            "$ref": "Bucket"
          },
          "type": "array",
          "description": "Metric distributions. Proportions should sum up to 1."
        },
        "metricId": {
          "type": "string",
          "description": "Identifies the type of the metric."
        },
        "category": {
          "type": "string",
          "description": "The category of the specific time metric."
        },
        "median": {
          "description": "The median number of the metric, in millisecond.",
          "format": "int32",
          "type": "integer"
        },
        "percentile": {
          "type": "integer",
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90.",
          "format": "int32"
        },
        "formFactor": {
          "description": "Identifies the form factor of the metric being collected.",
          "type": "string"
        }
      },
      "description": "A CrUX metric object for a single metric and form factor."
    },
    "Bucket": {
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond.",
      "id": "Bucket",
      "type": "object",
      "properties": {
        "max": {
          "description": "Upper bound for a bucket's range.",
          "format": "int32",
          "type": "integer"
        },
        "proportion": {
          "description": "The proportion of data in this bucket.",
          "format": "double",
          "type": "number"
        },
        "min": {
          "description": "Lower bound for a bucket's range.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "PagespeedVersion": {
      "id": "PagespeedVersion",
      "type": "object",
      "properties": {
        "major": {
          "description": "The major version number of PageSpeed used to generate these results.",
          "type": "string"
        },
        "minor": {
          "type": "string",
          "description": "The minor version number of PageSpeed used to generate these results."
        }
      },
      "description": "The Pagespeed Version object."
    }
  },
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "title": "PageSpeed Insights API",
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "ownerName": "Google",
  "version": "v5",
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "revision": "20260814"
}