{
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260731",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "name": "pagespeedonline",
  "basePath": "",
  "servicePath": "",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "baseUrl": "https://pagespeedonline.googleapis.com/",
  "schemas": {
    "RuntimeError": {
      "properties": {
        "code": {
          "description": "The enumerated Lighthouse Error code.",
          "type": "string"
        },
        "message": {
          "description": "A human readable message explaining the error code.",
          "type": "string"
        }
      },
      "id": "RuntimeError",
      "type": "object",
      "description": "Message containing a runtime error config."
    },
    "Timing": {
      "properties": {
        "total": {
          "type": "number",
          "format": "double",
          "description": "The total duration of Lighthouse's run."
        }
      },
      "description": "Message containing the performance timing data for the Lighthouse run.",
      "id": "Timing",
      "type": "object"
    },
    "RendererFormattedStrings": {
      "id": "RendererFormattedStrings",
      "type": "object",
      "description": "Message holding the formatted strings used in the renderer.",
      "properties": {
        "runtimeSettingsTitle": {
          "type": "string",
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time."
        },
        "runtimeSettingsUrl": {
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run.",
          "type": "string"
        },
        "varianceDisclaimer": {
          "type": "string",
          "description": "The disclaimer shown below a performance metric value."
        },
        "runtimeSettingsDevice": {
          "type": "string",
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc."
        },
        "dropdownPrintSummary": {
          "type": "string",
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog."
        },
        "crcLongestDurationLabel": {
          "type": "string",
          "description": "The label for values shown in the summary of critical request chains."
        },
        "dropdownSaveHTML": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file."
        },
        "lsPerformanceCategoryDescription": {
          "description": "The disclaimer shown under performance explaining that the network can vary.",
          "type": "string"
        },
        "dropdownPrintExpanded": {
          "type": "string",
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog."
        },
        "opportunityResourceColumnLabel": {
          "type": "string",
          "description": "The heading for the estimated page load savings opportunity of an audit."
        },
        "errorLabel": {
          "description": "The label shown next to an audit or metric that has had an error.",
          "type": "string"
        },
        "labDataTitle": {
          "type": "string",
          "description": "The title of the lab data performance category."
        },
        "dropdownDarkTheme": {
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes.",
          "type": "string"
        },
        "runtimeDesktopEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor."
        },
        "runtimeSettingsAxeVersion": {
          "description": "Label for a row in a table that shows the version of the Axe library used",
          "type": "string"
        },
        "opportunitySavingsColumnLabel": {
          "type": "string",
          "description": "The heading for the estimated page load savings of opportunity audits."
        },
        "runtimeSettingsUA": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse."
        },
        "throttlingProvided": {
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling.",
          "type": "string"
        },
        "dropdownSaveGist": {
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist.",
          "type": "string"
        },
        "thirdPartyResourcesLabel": {
          "type": "string",
          "description": "This label is for a filter checkbox above a table of items"
        },
        "viewTreemapLabel": {
          "description": "Label for a button that opens the Treemap App",
          "type": "string"
        },
        "errorMissingAuditInfo": {
          "type": "string",
          "description": "The error string shown next to an erroring audit."
        },
        "scorescaleLabel": {
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100).",
          "type": "string"
        },
        "warningAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that have warnings",
          "type": "string"
        },
        "runtimeUnknown": {
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value.",
          "type": "string"
        },
        "runtimeSettingsChannel": {
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc).",
          "type": "string"
        },
        "snippetExpandButtonLabel": {
          "description": "The label for the button to show all lines of a snippet",
          "type": "string"
        },
        "runtimeMobileEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device.",
          "type": "string"
        },
        "dropdownCopyJSON": {
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard.",
          "type": "string"
        },
        "runtimeSettingsNetworkThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any."
        },
        "manualAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that were not computerd in the run.",
          "type": "string"
        },
        "crcInitialNavigation": {
          "description": "The label for the initial request in a critical request chain.",
          "type": "string"
        },
        "footerIssue": {
          "type": "string",
          "description": "Label for button to create an issue against the Lighthouse GitHub project."
        },
        "runtimeSettingsCPUThrottling": {
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any.",
          "type": "string"
        },
        "warningHeader": {
          "type": "string",
          "description": "The label shown above a bulleted list of warnings."
        },
        "snippetCollapseButtonLabel": {
          "description": "The label for the button to show only a few lines of a snippet",
          "type": "string"
        },
        "dropdownSaveJSON": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file."
        },
        "runtimeNoEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when no device emulation is set."
        },
        "notApplicableAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that do not apply to a page."
        },
        "showRelevantAudits": {
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric.",
          "type": "string"
        },
        "auditGroupExpandTooltip": {
          "type": "string",
          "description": "The tooltip text on an expandable chevron icon."
        },
        "runtimeSettingsBenchmark": {
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783.",
          "type": "string"
        },
        "runtimeSettingsFetchTime": {
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC.",
          "type": "string"
        },
        "dropdownViewer": {
          "type": "string",
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application."
        },
        "runtimeSettingsUANetwork": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run."
        },
        "passedAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that are passing."
        },
        "calculatorLink": {
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics.",
          "type": "string"
        },
        "toplevelWarningsMessage": {
          "type": "string",
          "description": "The label shown preceding important warnings that may have invalidated an entire report."
        }
      }
    },
    "Environment": {
      "id": "Environment",
      "type": "object",
      "description": "Message containing environment configuration for a Lighthouse run.",
      "properties": {
        "credits": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The version of libraries with which these results were generated. Ex: axe-core."
        },
        "benchmarkIndex": {
          "description": "The benchmark index number that indicates rough device class.",
          "type": "number",
          "format": "double"
        },
        "hostUserAgent": {
          "type": "string",
          "description": "The user agent string of the version of Chrome used."
        },
        "networkUserAgent": {
          "description": "The user agent string that was sent over the network.",
          "type": "string"
        }
      }
    },
    "LighthouseResultV5": {
      "description": "The Lighthouse result object.",
      "id": "LighthouseResultV5",
      "type": "object",
      "properties": {
        "requestedUrl": {
          "type": "string",
          "description": "The original requested url."
        },
        "lighthouseVersion": {
          "description": "The lighthouse version that was used to generate this LHR.",
          "type": "string"
        },
        "timing": {
          "description": "Timing information for this LHR.",
          "$ref": "Timing"
        },
        "audits": {
          "type": "object",
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          },
          "description": "Map of audits in the LHR."
        },
        "finalUrl": {
          "type": "string",
          "description": "The final resolved url that was audited."
        },
        "categoryGroups": {
          "description": "Map of category groups in the LHR.",
          "type": "object",
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          }
        },
        "finalDisplayedUrl": {
          "type": "string",
          "description": "URL displayed on the page after Lighthouse finishes."
        },
        "runtimeError": {
          "$ref": "RuntimeError",
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded."
        },
        "fullPageScreenshot": {
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results.",
          "type": "any"
        },
        "userAgent": {
          "type": "string",
          "description": "The user agent that was used to run this LHR."
        },
        "categories": {
          "$ref": "Categories",
          "description": "Map of categories in the LHR."
        },
        "fetchTime": {
          "type": "string",
          "description": "The time that this run was fetched."
        },
        "environment": {
          "$ref": "Environment",
          "description": "Environment settings that were used when making this LHR."
        },
        "i18n": {
          "$ref": "I18n",
          "description": "The internationalization strings that are required to render the LHR."
        },
        "stackPacks": {
          "description": "The Stack Pack advice strings.",
          "type": "array",
          "items": {
            "$ref": "StackPack"
          }
        },
        "mainDocumentUrl": {
          "type": "string",
          "description": "URL of the main document request of the final navigation."
        },
        "configSettings": {
          "description": "The configuration settings for this LHR.",
          "$ref": "ConfigSettings"
        },
        "runWarnings": {
          "items": {
            "type": "any"
          },
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`.",
          "type": "array"
        },
        "entities": {
          "items": {
            "$ref": "LhrEntity"
          },
          "description": "Entity classification data.",
          "type": "array"
        }
      }
    },
    "MetricSavings": {
      "description": "The metric savings of the audit.",
      "id": "MetricSavings",
      "type": "object",
      "properties": {
        "CLS": {
          "type": "number",
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric."
        },
        "INP": {
          "type": "number",
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric."
        },
        "LCP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric.",
          "type": "number",
          "format": "double"
        },
        "FCP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric.",
          "type": "number",
          "format": "double"
        },
        "TBT": {
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "LhrEntity": {
      "id": "LhrEntity",
      "type": "object",
      "description": "Message containing an Entity.",
      "properties": {
        "category": {
          "type": "string",
          "description": "Optional. An optional category name for the entity."
        },
        "isFirstParty": {
          "description": "Optional. An optional flag indicating if the entity is the first party.",
          "type": "boolean"
        },
        "homepage": {
          "type": "string",
          "description": "Optional. An optional homepage URL of the entity."
        },
        "origins": {
          "type": "array",
          "description": "Required. A list of URL origin strings that belong to this entity.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the entity."
        },
        "isUnrecognized": {
          "description": "Optional. An optional flag indicating if the entity is not recognized.",
          "type": "boolean"
        }
      }
    },
    "LighthouseCategoryV5": {
      "properties": {
        "auditRefs": {
          "description": "An array of references to all the audit members of this category.",
          "type": "array",
          "items": {
            "$ref": "AuditRefs"
          }
        },
        "score": {
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)",
          "type": "any"
        },
        "categoryScoreDisplayMode": {
          "enumDescriptions": [
            "Default UNDEFINED category.",
            "Display the score as a standard circular gauge (default)",
            "Display the score as a fraction, e.g. \"3/5\""
          ],
          "type": "string",
          "description": "Optional. How the category score should be displayed (e.g. as a fraction).",
          "enum": [
            "CATEGORY_SCORE_DISPLAY_MODE_UNSPECIFIED",
            "GAUGE",
            "FRACTION"
          ]
        },
        "description": {
          "description": "A more detailed description of the category and its importance.",
          "type": "string"
        },
        "manualDescription": {
          "description": "A description for the manual audits in the category.",
          "type": "string"
        },
        "id": {
          "description": "The string identifier of the category.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The human-friendly name of the category."
        }
      },
      "description": "A Lighthouse category.",
      "id": "LighthouseCategoryV5",
      "type": "object"
    },
    "ConfigSettings": {
      "description": "Message containing the configuration settings for the Lighthouse run.",
      "id": "ConfigSettings",
      "type": "object",
      "properties": {
        "formFactor": {
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop.",
          "type": "string"
        },
        "channel": {
          "type": "string",
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module."
        },
        "onlyCategories": {
          "description": "List of categories of audits the run should conduct.",
          "type": "any"
        },
        "emulatedFormFactor": {
          "deprecated": true,
          "type": "string",
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead."
        },
        "locale": {
          "type": "string",
          "description": "The locale setting."
        }
      }
    },
    "UserPageLoadMetricV5": {
      "properties": {
        "formFactor": {
          "type": "string",
          "description": "Identifies the form factor of the metric being collected."
        },
        "percentile": {
          "type": "integer",
          "format": "int32",
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90."
        },
        "category": {
          "type": "string",
          "description": "The category of the specific time metric."
        },
        "metricId": {
          "description": "Identifies the type of the metric.",
          "type": "string"
        },
        "median": {
          "type": "integer",
          "format": "int32",
          "description": "The median number of the metric, in millisecond."
        },
        "distributions": {
          "description": "Metric distributions. Proportions should sum up to 1.",
          "type": "array",
          "items": {
            "$ref": "Bucket"
          }
        }
      },
      "id": "UserPageLoadMetricV5",
      "type": "object",
      "description": "A CrUX metric object for a single metric and form factor."
    },
    "I18n": {
      "properties": {
        "rendererFormattedStrings": {
          "$ref": "RendererFormattedStrings",
          "description": "Internationalized strings that are formatted to the locale in configSettings."
        }
      },
      "description": "Message containing the i18n data for the LHR - Version 1.",
      "id": "I18n",
      "type": "object"
    },
    "LighthouseAuditResultV5": {
      "properties": {
        "title": {
          "description": "The human readable title.",
          "type": "string"
        },
        "score": {
          "type": "any",
          "description": "The score of the audit, can be null."
        },
        "explanation": {
          "description": "An explanation of the errors in the audit.",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "An error message from a thrown error inside the audit."
        },
        "scoreDisplayMode": {
          "description": "The enumerated score display mode.",
          "type": "string"
        },
        "numericValue": {
          "type": "number",
          "format": "double",
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present."
        },
        "displayValue": {
          "description": "The value that should be displayed on the UI for this audit.",
          "type": "string"
        },
        "details": {
          "description": "Freeform details section of the audit.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "metricSavings": {
          "description": "The metric savings of the audit.",
          "$ref": "MetricSavings"
        },
        "id": {
          "type": "string",
          "description": "The audit's id."
        },
        "description": {
          "description": "The description of the audit.",
          "type": "string"
        },
        "numericUnit": {
          "type": "string",
          "description": "The unit of the numeric_value field. Used to format the numeric value for display."
        },
        "warnings": {
          "type": "any",
          "description": "Possible warnings that occurred in the audit, can be null."
        }
      },
      "id": "LighthouseAuditResultV5",
      "type": "object",
      "description": "An audit's result object in a Lighthouse result."
    },
    "PagespeedApiPagespeedResponseV5": {
      "id": "PagespeedApiPagespeedResponseV5",
      "type": "object",
      "description": "The Pagespeed API response object.",
      "properties": {
        "version": {
          "$ref": "PagespeedVersion",
          "description": "The version of PageSpeed used to generate these results."
        },
        "lighthouseResult": {
          "description": "Lighthouse response for the audit url as an object.",
          "$ref": "LighthouseResultV5"
        },
        "originLoadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of the aggregated page loading experience of the origin"
        },
        "analysisUTCTimestamp": {
          "description": "The UTC timestamp of this analysis.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Kind of result."
        },
        "captchaResult": {
          "description": "The captcha verify result",
          "type": "string"
        },
        "loadingExperience": {
          "description": "Metrics of end users' page loading experience.",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "id": {
          "description": "Canonicalized and final URL for the document, after following page redirects (if any).",
          "type": "string"
        }
      }
    },
    "PagespeedApiLoadingExperienceV5": {
      "id": "PagespeedApiLoadingExperienceV5",
      "type": "object",
      "description": "The CrUX loading experience object that contains CrUX data breakdowns.",
      "properties": {
        "id": {
          "description": "The url, pattern or origin which the metrics are on.",
          "type": "string"
        },
        "metrics": {
          "type": "object",
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          },
          "description": "The map of ."
        },
        "initial_url": {
          "description": "The requested URL, which may differ from the resolved \"id\".",
          "type": "string"
        },
        "overall_category": {
          "description": "The human readable speed \"category\" of the id.",
          "type": "string"
        },
        "origin_fallback": {
          "description": "True if the result is an origin fallback from a page, false otherwise.",
          "type": "boolean"
        }
      }
    },
    "StackPack": {
      "description": "Message containing Stack Pack information.",
      "id": "StackPack",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The stack pack id."
        },
        "title": {
          "type": "string",
          "description": "The stack pack title."
        },
        "descriptions": {
          "description": "The stack pack advice strings.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "iconDataURL": {
          "type": "string",
          "description": "The stack pack icon data uri."
        }
      }
    },
    "CategoryGroupV5": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The human readable title of the group"
        },
        "description": {
          "description": "The description of what the category is grouping",
          "type": "string"
        }
      },
      "id": "CategoryGroupV5",
      "type": "object",
      "description": "Message containing a category"
    },
    "PagespeedVersion": {
      "id": "PagespeedVersion",
      "type": "object",
      "description": "The Pagespeed Version object.",
      "properties": {
        "major": {
          "description": "The major version number of PageSpeed used to generate these results.",
          "type": "string"
        },
        "minor": {
          "description": "The minor version number of PageSpeed used to generate these results.",
          "type": "string"
        }
      }
    },
    "Bucket": {
      "properties": {
        "max": {
          "description": "Upper bound for a bucket's range.",
          "type": "integer",
          "format": "int32"
        },
        "proportion": {
          "type": "number",
          "format": "double",
          "description": "The proportion of data in this bucket."
        },
        "min": {
          "description": "Lower bound for a bucket's range.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond.",
      "id": "Bucket",
      "type": "object"
    },
    "Categories": {
      "properties": {
        "seo": {
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "performance": {
          "$ref": "LighthouseCategoryV5",
          "description": "The performance category, containing all performance related audits."
        },
        "accessibility": {
          "$ref": "LighthouseCategoryV5",
          "description": "The accessibility category, containing all accessibility related audits."
        },
        "agentic-browsing": {
          "$ref": "LighthouseCategoryV5",
          "description": "The agentic browsing category, containing all agentic browsing related audits."
        },
        "best-practices": {
          "description": "The best practices category, containing all best practices related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "pwa": {
          "$ref": "LighthouseCategoryV5",
          "deprecated": true,
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release."
        }
      },
      "description": "The categories in a Lighthouse run.",
      "id": "Categories",
      "type": "object"
    },
    "AuditRefs": {
      "id": "AuditRefs",
      "type": "object",
      "description": "A light reference to an audit by id, used to group and weight audits in a given category.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The audit ref id."
        },
        "acronym": {
          "type": "string",
          "description": "The conventional acronym for the audit/metric."
        },
        "weight": {
          "description": "The weight this audit's score has on the overall category score.",
          "type": "number",
          "format": "double"
        },
        "relevantAudits": {
          "type": "array",
          "description": "Any audit IDs closely relevant to this one.",
          "items": {
            "type": "string"
          }
        },
        "group": {
          "description": "The category group that the audit belongs to (optional).",
          "type": "string"
        }
      }
    }
  },
  "id": "pagespeedonline:v5",
  "canonicalName": "Pagespeed Insights",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "version": "v5",
  "title": "PageSpeed Insights API",
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "parameters": {
            "category": {
              "type": "string",
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO",
                "AGENTIC_BROWSING"
              ],
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false,
                false
              ],
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines.",
                "Agentic Browsing, category pertaining to a website's ability to be rendered by an agentic browsing system."
              ],
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run",
              "location": "query",
              "repeated": true
            },
            "utm_source": {
              "description": "Campaign source for analytics.",
              "location": "query",
              "type": "string"
            },
            "captchaToken": {
              "type": "string",
              "description": "The captcha token passed when filling out a captcha.",
              "location": "query"
            },
            "strategy": {
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default",
              "location": "query",
              "type": "string",
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ],
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ]
            },
            "utm_campaign": {
              "description": "Campaign name for analytics.",
              "location": "query",
              "type": "string"
            },
            "url": {
              "type": "string",
              "description": "Required. The URL to fetch and analyze",
              "location": "query",
              "pattern": "(?i)(url:|origin:)?http(s)?://.*",
              "required": true
            },
            "locale": {
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?",
              "type": "string",
              "description": "The locale used to localize formatted results",
              "location": "query"
            }
          },
          "path": "pagespeedonline/v5/runPagespeed",
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "httpMethod": "GET",
          "scopes": [
            "openid"
          ],
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "id": "pagespeedonline.pagespeedapi.runpagespeed",
          "parameterOrder": [
            "url"
          ]
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. "
}