{
  "batchPath": "batch",
  "baseUrl": "https://pagespeedonline.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "name": "pagespeedonline",
  "basePath": "",
  "ownerDomain": "google.com",
  "revision": "20260904",
  "title": "PageSpeed Insights API",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "parameterOrder": [
            "url"
          ],
          "scopes": [
            "openid"
          ],
          "id": "pagespeedonline.pagespeedapi.runpagespeed",
          "parameters": {
            "category": {
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO",
                "AGENTIC_BROWSING"
              ],
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run",
              "type": "string",
              "repeated": true,
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines.",
                "Agentic Browsing, category pertaining to a website's ability to be rendered by an agentic browsing system."
              ],
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false,
                false
              ],
              "location": "query"
            },
            "utm_source": {
              "location": "query",
              "description": "Campaign source for analytics.",
              "type": "string"
            },
            "url": {
              "location": "query",
              "description": "Required. The URL to fetch and analyze",
              "required": true,
              "pattern": "(?i)(url:|origin:)?http(s)?://.*",
              "type": "string"
            },
            "captchaToken": {
              "type": "string",
              "description": "The captcha token passed when filling out a captcha.",
              "location": "query"
            },
            "utm_campaign": {
              "type": "string",
              "description": "Campaign name for analytics.",
              "location": "query"
            },
            "locale": {
              "description": "The locale used to localize formatted results",
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?",
              "type": "string",
              "location": "query"
            },
            "strategy": {
              "type": "string",
              "location": "query",
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ],
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ],
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default"
            }
          },
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "httpMethod": "GET",
          "path": "pagespeedonline/v5/runPagespeed"
        }
      }
    }
  },
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "protocol": "rest",
  "version": "v5",
  "id": "pagespeedonline:v5",
  "canonicalName": "Pagespeed Insights",
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "schemas": {
    "Timing": {
      "id": "Timing",
      "properties": {
        "total": {
          "type": "number",
          "description": "The total duration of Lighthouse's run.",
          "format": "double"
        }
      },
      "description": "Message containing the performance timing data for the Lighthouse run.",
      "type": "object"
    },
    "PagespeedVersion": {
      "id": "PagespeedVersion",
      "type": "object",
      "description": "The Pagespeed Version object.",
      "properties": {
        "major": {
          "description": "The major version number of PageSpeed used to generate these results.",
          "type": "string"
        },
        "minor": {
          "description": "The minor version number of PageSpeed used to generate these results.",
          "type": "string"
        }
      }
    },
    "Bucket": {
      "type": "object",
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond.",
      "properties": {
        "max": {
          "description": "Upper bound for a bucket's range.",
          "type": "integer",
          "format": "int32"
        },
        "min": {
          "description": "Lower bound for a bucket's range.",
          "type": "integer",
          "format": "int32"
        },
        "proportion": {
          "description": "The proportion of data in this bucket.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "Bucket"
    },
    "Environment": {
      "description": "Message containing environment configuration for a Lighthouse run.",
      "id": "Environment",
      "type": "object",
      "properties": {
        "networkUserAgent": {
          "type": "string",
          "description": "The user agent string that was sent over the network."
        },
        "hostUserAgent": {
          "type": "string",
          "description": "The user agent string of the version of Chrome used."
        },
        "credits": {
          "description": "The version of libraries with which these results were generated. Ex: axe-core.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "benchmarkIndex": {
          "format": "double",
          "type": "number",
          "description": "The benchmark index number that indicates rough device class."
        }
      }
    },
    "PagespeedApiPagespeedResponseV5": {
      "type": "object",
      "properties": {
        "captchaResult": {
          "description": "The captcha verify result",
          "type": "string"
        },
        "version": {
          "$ref": "PagespeedVersion",
          "description": "The version of PageSpeed used to generate these results."
        },
        "lighthouseResult": {
          "description": "Lighthouse response for the audit url as an object.",
          "$ref": "LighthouseResultV5"
        },
        "id": {
          "type": "string",
          "description": "Canonicalized and final URL for the document, after following page redirects (if any)."
        },
        "analysisUTCTimestamp": {
          "description": "The UTC timestamp of this analysis.",
          "type": "string"
        },
        "loadingExperience": {
          "description": "Metrics of end users' page loading experience.",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "kind": {
          "description": "Kind of result.",
          "type": "string"
        },
        "originLoadingExperience": {
          "description": "Metrics of the aggregated page loading experience of the origin",
          "$ref": "PagespeedApiLoadingExperienceV5"
        }
      },
      "description": "The Pagespeed API response object.",
      "id": "PagespeedApiPagespeedResponseV5"
    },
    "PagespeedApiLoadingExperienceV5": {
      "id": "PagespeedApiLoadingExperienceV5",
      "type": "object",
      "properties": {
        "metrics": {
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          },
          "type": "object",
          "description": "The map of ."
        },
        "overall_category": {
          "description": "The human readable speed \"category\" of the id.",
          "type": "string"
        },
        "origin_fallback": {
          "description": "True if the result is an origin fallback from a page, false otherwise.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "The url, pattern or origin which the metrics are on."
        },
        "initial_url": {
          "type": "string",
          "description": "The requested URL, which may differ from the resolved \"id\"."
        }
      },
      "description": "The CrUX loading experience object that contains CrUX data breakdowns."
    },
    "LhrEntity": {
      "id": "LhrEntity",
      "description": "Message containing an Entity.",
      "type": "object",
      "properties": {
        "isUnrecognized": {
          "description": "Optional. An optional flag indicating if the entity is not recognized.",
          "type": "boolean"
        },
        "origins": {
          "description": "Required. A list of URL origin strings that belong to this entity.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the entity."
        },
        "isFirstParty": {
          "description": "Optional. An optional flag indicating if the entity is the first party.",
          "type": "boolean"
        },
        "homepage": {
          "type": "string",
          "description": "Optional. An optional homepage URL of the entity."
        },
        "category": {
          "description": "Optional. An optional category name for the entity.",
          "type": "string"
        }
      }
    },
    "I18n": {
      "id": "I18n",
      "description": "Message containing the i18n data for the LHR - Version 1.",
      "properties": {
        "rendererFormattedStrings": {
          "$ref": "RendererFormattedStrings",
          "description": "Internationalized strings that are formatted to the locale in configSettings."
        }
      },
      "type": "object"
    },
    "MetricSavings": {
      "properties": {
        "LCP": {
          "format": "double",
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric."
        },
        "FCP": {
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric.",
          "type": "number"
        },
        "CLS": {
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric.",
          "type": "number",
          "format": "double"
        },
        "TBT": {
          "type": "number",
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric."
        },
        "INP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "The metric savings of the audit.",
      "type": "object",
      "id": "MetricSavings"
    },
    "RuntimeError": {
      "properties": {
        "code": {
          "description": "The enumerated Lighthouse Error code.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "A human readable message explaining the error code."
        }
      },
      "id": "RuntimeError",
      "description": "Message containing a runtime error config.",
      "type": "object"
    },
    "RendererFormattedStrings": {
      "id": "RendererFormattedStrings",
      "properties": {
        "runtimeDesktopEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor.",
          "type": "string"
        },
        "passedAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that are passing.",
          "type": "string"
        },
        "snippetExpandButtonLabel": {
          "description": "The label for the button to show all lines of a snippet",
          "type": "string"
        },
        "runtimeSettingsDevice": {
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc.",
          "type": "string"
        },
        "opportunitySavingsColumnLabel": {
          "description": "The heading for the estimated page load savings of opportunity audits.",
          "type": "string"
        },
        "dropdownCopyJSON": {
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard.",
          "type": "string"
        },
        "varianceDisclaimer": {
          "description": "The disclaimer shown below a performance metric value.",
          "type": "string"
        },
        "runtimeSettingsNetworkThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any."
        },
        "crcInitialNavigation": {
          "description": "The label for the initial request in a critical request chain.",
          "type": "string"
        },
        "lsPerformanceCategoryDescription": {
          "type": "string",
          "description": "The disclaimer shown under performance explaining that the network can vary."
        },
        "errorLabel": {
          "type": "string",
          "description": "The label shown next to an audit or metric that has had an error."
        },
        "calculatorLink": {
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics.",
          "type": "string"
        },
        "runtimeUnknown": {
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value.",
          "type": "string"
        },
        "runtimeMobileEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device.",
          "type": "string"
        },
        "viewTreemapLabel": {
          "description": "Label for a button that opens the Treemap App",
          "type": "string"
        },
        "throttlingProvided": {
          "type": "string",
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling."
        },
        "footerIssue": {
          "description": "Label for button to create an issue against the Lighthouse GitHub project.",
          "type": "string"
        },
        "auditGroupExpandTooltip": {
          "description": "The tooltip text on an expandable chevron icon.",
          "type": "string"
        },
        "crcLongestDurationLabel": {
          "type": "string",
          "description": "The label for values shown in the summary of critical request chains."
        },
        "runtimeNoEmulation": {
          "description": "Descriptive explanation for emulation setting when no device emulation is set.",
          "type": "string"
        },
        "runtimeSettingsUrl": {
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run.",
          "type": "string"
        },
        "showRelevantAudits": {
          "type": "string",
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric."
        },
        "thirdPartyResourcesLabel": {
          "type": "string",
          "description": "This label is for a filter checkbox above a table of items"
        },
        "dropdownSaveGist": {
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist.",
          "type": "string"
        },
        "snippetCollapseButtonLabel": {
          "description": "The label for the button to show only a few lines of a snippet",
          "type": "string"
        },
        "warningAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that have warnings"
        },
        "dropdownDarkTheme": {
          "type": "string",
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes."
        },
        "dropdownViewer": {
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application.",
          "type": "string"
        },
        "runtimeSettingsCPUThrottling": {
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any.",
          "type": "string"
        },
        "labDataTitle": {
          "type": "string",
          "description": "The title of the lab data performance category."
        },
        "toplevelWarningsMessage": {
          "description": "The label shown preceding important warnings that may have invalidated an entire report.",
          "type": "string"
        },
        "notApplicableAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that do not apply to a page."
        },
        "dropdownSaveJSON": {
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file.",
          "type": "string"
        },
        "manualAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that were not computerd in the run."
        },
        "runtimeSettingsFetchTime": {
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC.",
          "type": "string"
        },
        "runtimeSettingsUANetwork": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run."
        },
        "errorMissingAuditInfo": {
          "type": "string",
          "description": "The error string shown next to an erroring audit."
        },
        "warningHeader": {
          "description": "The label shown above a bulleted list of warnings.",
          "type": "string"
        },
        "runtimeSettingsTitle": {
          "type": "string",
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time."
        },
        "runtimeSettingsUA": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse."
        },
        "dropdownPrintExpanded": {
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog.",
          "type": "string"
        },
        "opportunityResourceColumnLabel": {
          "description": "The heading for the estimated page load savings opportunity of an audit.",
          "type": "string"
        },
        "runtimeSettingsChannel": {
          "type": "string",
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc)."
        },
        "runtimeSettingsAxeVersion": {
          "type": "string",
          "description": "Label for a row in a table that shows the version of the Axe library used"
        },
        "runtimeSettingsBenchmark": {
          "type": "string",
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783."
        },
        "dropdownSaveHTML": {
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file.",
          "type": "string"
        },
        "scorescaleLabel": {
          "type": "string",
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100)."
        },
        "dropdownPrintSummary": {
          "type": "string",
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog."
        }
      },
      "type": "object",
      "description": "Message holding the formatted strings used in the renderer."
    },
    "AuditRefs": {
      "properties": {
        "weight": {
          "format": "double",
          "type": "number",
          "description": "The weight this audit's score has on the overall category score."
        },
        "relevantAudits": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Any audit IDs closely relevant to this one."
        },
        "group": {
          "type": "string",
          "description": "The category group that the audit belongs to (optional)."
        },
        "id": {
          "type": "string",
          "description": "The audit ref id."
        },
        "acronym": {
          "description": "The conventional acronym for the audit/metric.",
          "type": "string"
        }
      },
      "description": "A light reference to an audit by id, used to group and weight audits in a given category.",
      "type": "object",
      "id": "AuditRefs"
    },
    "LighthouseAuditResultV5": {
      "id": "LighthouseAuditResultV5",
      "description": "An audit's result object in a Lighthouse result.",
      "type": "object",
      "properties": {
        "numericValue": {
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present.",
          "type": "number",
          "format": "double"
        },
        "title": {
          "description": "The human readable title.",
          "type": "string"
        },
        "score": {
          "type": "any",
          "description": "The score of the audit, can be null."
        },
        "explanation": {
          "description": "An explanation of the errors in the audit.",
          "type": "string"
        },
        "numericUnit": {
          "description": "The unit of the numeric_value field. Used to format the numeric value for display.",
          "type": "string"
        },
        "details": {
          "type": "object",
          "description": "Freeform details section of the audit.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "displayValue": {
          "description": "The value that should be displayed on the UI for this audit.",
          "type": "string"
        },
        "metricSavings": {
          "description": "The metric savings of the audit.",
          "$ref": "MetricSavings"
        },
        "warnings": {
          "description": "Possible warnings that occurred in the audit, can be null.",
          "type": "any"
        },
        "scoreDisplayMode": {
          "description": "The enumerated score display mode.",
          "type": "string"
        },
        "errorMessage": {
          "description": "An error message from a thrown error inside the audit.",
          "type": "string"
        },
        "description": {
          "description": "The description of the audit.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The audit's id."
        }
      }
    },
    "LighthouseResultV5": {
      "properties": {
        "runWarnings": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`."
        },
        "stackPacks": {
          "items": {
            "$ref": "StackPack"
          },
          "type": "array",
          "description": "The Stack Pack advice strings."
        },
        "runtimeError": {
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded.",
          "$ref": "RuntimeError"
        },
        "audits": {
          "description": "Map of audits in the LHR.",
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          },
          "type": "object"
        },
        "categoryGroups": {
          "description": "Map of category groups in the LHR.",
          "type": "object",
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          }
        },
        "fetchTime": {
          "description": "The time that this run was fetched.",
          "type": "string"
        },
        "categories": {
          "$ref": "Categories",
          "description": "Map of categories in the LHR."
        },
        "configSettings": {
          "description": "The configuration settings for this LHR.",
          "$ref": "ConfigSettings"
        },
        "lighthouseVersion": {
          "type": "string",
          "description": "The lighthouse version that was used to generate this LHR."
        },
        "requestedUrl": {
          "type": "string",
          "description": "The original requested url."
        },
        "finalDisplayedUrl": {
          "description": "URL displayed on the page after Lighthouse finishes.",
          "type": "string"
        },
        "fullPageScreenshot": {
          "type": "any",
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results."
        },
        "entities": {
          "type": "array",
          "description": "Entity classification data.",
          "items": {
            "$ref": "LhrEntity"
          }
        },
        "environment": {
          "$ref": "Environment",
          "description": "Environment settings that were used when making this LHR."
        },
        "userAgent": {
          "type": "string",
          "description": "The user agent that was used to run this LHR."
        },
        "finalUrl": {
          "description": "The final resolved url that was audited.",
          "type": "string"
        },
        "mainDocumentUrl": {
          "description": "URL of the main document request of the final navigation.",
          "type": "string"
        },
        "i18n": {
          "$ref": "I18n",
          "description": "The internationalization strings that are required to render the LHR."
        },
        "timing": {
          "$ref": "Timing",
          "description": "Timing information for this LHR."
        }
      },
      "type": "object",
      "description": "The Lighthouse result object.",
      "id": "LighthouseResultV5"
    },
    "Categories": {
      "type": "object",
      "properties": {
        "best-practices": {
          "description": "The best practices category, containing all best practices related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "seo": {
          "$ref": "LighthouseCategoryV5",
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits."
        },
        "accessibility": {
          "description": "The accessibility category, containing all accessibility related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "agentic-browsing": {
          "description": "The agentic browsing category, containing all agentic browsing related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "performance": {
          "description": "The performance category, containing all performance related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "pwa": {
          "deprecated": true,
          "$ref": "LighthouseCategoryV5",
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release."
        }
      },
      "id": "Categories",
      "description": "The categories in a Lighthouse run."
    },
    "UserPageLoadMetricV5": {
      "description": "A CrUX metric object for a single metric and form factor.",
      "properties": {
        "metricId": {
          "type": "string",
          "description": "Identifies the type of the metric."
        },
        "category": {
          "type": "string",
          "description": "The category of the specific time metric."
        },
        "formFactor": {
          "type": "string",
          "description": "Identifies the form factor of the metric being collected."
        },
        "percentile": {
          "type": "integer",
          "format": "int32",
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90."
        },
        "median": {
          "format": "int32",
          "type": "integer",
          "description": "The median number of the metric, in millisecond."
        },
        "distributions": {
          "type": "array",
          "description": "Metric distributions. Proportions should sum up to 1.",
          "items": {
            "$ref": "Bucket"
          }
        }
      },
      "type": "object",
      "id": "UserPageLoadMetricV5"
    },
    "StackPack": {
      "description": "Message containing Stack Pack information.",
      "properties": {
        "id": {
          "description": "The stack pack id.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The stack pack title."
        },
        "iconDataURL": {
          "type": "string",
          "description": "The stack pack icon data uri."
        },
        "descriptions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The stack pack advice strings."
        }
      },
      "id": "StackPack",
      "type": "object"
    },
    "ConfigSettings": {
      "description": "Message containing the configuration settings for the Lighthouse run.",
      "properties": {
        "formFactor": {
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop.",
          "type": "string"
        },
        "onlyCategories": {
          "description": "List of categories of audits the run should conduct.",
          "type": "any"
        },
        "emulatedFormFactor": {
          "type": "string",
          "deprecated": true,
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead."
        },
        "locale": {
          "description": "The locale setting.",
          "type": "string"
        },
        "channel": {
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module.",
          "type": "string"
        }
      },
      "id": "ConfigSettings",
      "type": "object"
    },
    "CategoryGroupV5": {
      "description": "Message containing a category",
      "type": "object",
      "properties": {
        "title": {
          "description": "The human readable title of the group",
          "type": "string"
        },
        "description": {
          "description": "The description of what the category is grouping",
          "type": "string"
        }
      },
      "id": "CategoryGroupV5"
    },
    "LighthouseCategoryV5": {
      "type": "object",
      "id": "LighthouseCategoryV5",
      "description": "A Lighthouse category.",
      "properties": {
        "categoryScoreDisplayMode": {
          "type": "string",
          "description": "Optional. How the category score should be displayed (e.g. as a fraction).",
          "enumDescriptions": [
            "Default UNDEFINED category.",
            "Display the score as a standard circular gauge (default)",
            "Display the score as a fraction, e.g. \"3/5\""
          ],
          "enum": [
            "CATEGORY_SCORE_DISPLAY_MODE_UNSPECIFIED",
            "GAUGE",
            "FRACTION"
          ]
        },
        "id": {
          "type": "string",
          "description": "The string identifier of the category."
        },
        "manualDescription": {
          "description": "A description for the manual audits in the category.",
          "type": "string"
        },
        "auditRefs": {
          "description": "An array of references to all the audit members of this category.",
          "type": "array",
          "items": {
            "$ref": "AuditRefs"
          }
        },
        "score": {
          "type": "any",
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)"
        },
        "title": {
          "type": "string",
          "description": "The human-friendly name of the category."
        },
        "description": {
          "type": "string",
          "description": "A more detailed description of the category and its importance."
        }
      }
    }
  },
  "version_module": true,
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about"
}