{
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "kind": "discovery#restDescription",
  "version_module": true,
  "id": "pagespeedonline:v5",
  "title": "PageSpeed Insights API",
  "servicePath": "",
  "version": "v5",
  "revision": "20260904",
  "batchPath": "batch",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "schemas": {
    "Environment": {
      "properties": {
        "credits": {
          "description": "The version of libraries with which these results were generated. Ex: axe-core.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "hostUserAgent": {
          "description": "The user agent string of the version of Chrome used.",
          "type": "string"
        },
        "benchmarkIndex": {
          "type": "number",
          "format": "double",
          "description": "The benchmark index number that indicates rough device class."
        },
        "networkUserAgent": {
          "description": "The user agent string that was sent over the network.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Environment",
      "description": "Message containing environment configuration for a Lighthouse run."
    },
    "StackPack": {
      "description": "Message containing Stack Pack information.",
      "properties": {
        "iconDataURL": {
          "type": "string",
          "description": "The stack pack icon data uri."
        },
        "id": {
          "type": "string",
          "description": "The stack pack id."
        },
        "title": {
          "description": "The stack pack title.",
          "type": "string"
        },
        "descriptions": {
          "description": "The stack pack advice strings.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "StackPack"
    },
    "LhrEntity": {
      "type": "object",
      "description": "Message containing an Entity.",
      "id": "LhrEntity",
      "properties": {
        "category": {
          "description": "Optional. An optional category name for the entity.",
          "type": "string"
        },
        "origins": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. A list of URL origin strings that belong to this entity."
        },
        "name": {
          "description": "Required. Name of the entity.",
          "type": "string"
        },
        "isFirstParty": {
          "description": "Optional. An optional flag indicating if the entity is the first party.",
          "type": "boolean"
        },
        "isUnrecognized": {
          "type": "boolean",
          "description": "Optional. An optional flag indicating if the entity is not recognized."
        },
        "homepage": {
          "type": "string",
          "description": "Optional. An optional homepage URL of the entity."
        }
      }
    },
    "LighthouseResultV5": {
      "description": "The Lighthouse result object.",
      "type": "object",
      "id": "LighthouseResultV5",
      "properties": {
        "stackPacks": {
          "type": "array",
          "description": "The Stack Pack advice strings.",
          "items": {
            "$ref": "StackPack"
          }
        },
        "requestedUrl": {
          "type": "string",
          "description": "The original requested url."
        },
        "audits": {
          "description": "Map of audits in the LHR.",
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          },
          "type": "object"
        },
        "timing": {
          "description": "Timing information for this LHR.",
          "$ref": "Timing"
        },
        "fullPageScreenshot": {
          "type": "any",
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results."
        },
        "categoryGroups": {
          "description": "Map of category groups in the LHR.",
          "type": "object",
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          }
        },
        "runWarnings": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`."
        },
        "lighthouseVersion": {
          "description": "The lighthouse version that was used to generate this LHR.",
          "type": "string"
        },
        "entities": {
          "type": "array",
          "description": "Entity classification data.",
          "items": {
            "$ref": "LhrEntity"
          }
        },
        "i18n": {
          "$ref": "I18n",
          "description": "The internationalization strings that are required to render the LHR."
        },
        "finalUrl": {
          "description": "The final resolved url that was audited.",
          "type": "string"
        },
        "categories": {
          "$ref": "Categories",
          "description": "Map of categories in the LHR."
        },
        "fetchTime": {
          "type": "string",
          "description": "The time that this run was fetched."
        },
        "configSettings": {
          "$ref": "ConfigSettings",
          "description": "The configuration settings for this LHR."
        },
        "mainDocumentUrl": {
          "description": "URL of the main document request of the final navigation.",
          "type": "string"
        },
        "userAgent": {
          "type": "string",
          "description": "The user agent that was used to run this LHR."
        },
        "environment": {
          "description": "Environment settings that were used when making this LHR.",
          "$ref": "Environment"
        },
        "finalDisplayedUrl": {
          "type": "string",
          "description": "URL displayed on the page after Lighthouse finishes."
        },
        "runtimeError": {
          "$ref": "RuntimeError",
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded."
        }
      }
    },
    "LighthouseCategoryV5": {
      "properties": {
        "description": {
          "description": "A more detailed description of the category and its importance.",
          "type": "string"
        },
        "categoryScoreDisplayMode": {
          "description": "Optional. How the category score should be displayed (e.g. as a fraction).",
          "type": "string",
          "enum": [
            "CATEGORY_SCORE_DISPLAY_MODE_UNSPECIFIED",
            "GAUGE",
            "FRACTION"
          ],
          "enumDescriptions": [
            "Default UNDEFINED category.",
            "Display the score as a standard circular gauge (default)",
            "Display the score as a fraction, e.g. \"3/5\""
          ]
        },
        "title": {
          "description": "The human-friendly name of the category.",
          "type": "string"
        },
        "score": {
          "type": "any",
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)"
        },
        "auditRefs": {
          "type": "array",
          "description": "An array of references to all the audit members of this category.",
          "items": {
            "$ref": "AuditRefs"
          }
        },
        "manualDescription": {
          "type": "string",
          "description": "A description for the manual audits in the category."
        },
        "id": {
          "description": "The string identifier of the category.",
          "type": "string"
        }
      },
      "id": "LighthouseCategoryV5",
      "description": "A Lighthouse category.",
      "type": "object"
    },
    "MetricSavings": {
      "id": "MetricSavings",
      "type": "object",
      "description": "The metric savings of the audit.",
      "properties": {
        "CLS": {
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric.",
          "type": "number",
          "format": "double"
        },
        "TBT": {
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric.",
          "format": "double",
          "type": "number"
        },
        "LCP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric.",
          "type": "number",
          "format": "double"
        },
        "FCP": {
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric.",
          "type": "number"
        },
        "INP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "UserPageLoadMetricV5": {
      "description": "A CrUX metric object for a single metric and form factor.",
      "id": "UserPageLoadMetricV5",
      "properties": {
        "metricId": {
          "type": "string",
          "description": "Identifies the type of the metric."
        },
        "formFactor": {
          "type": "string",
          "description": "Identifies the form factor of the metric being collected."
        },
        "category": {
          "description": "The category of the specific time metric.",
          "type": "string"
        },
        "distributions": {
          "type": "array",
          "items": {
            "$ref": "Bucket"
          },
          "description": "Metric distributions. Proportions should sum up to 1."
        },
        "median": {
          "type": "integer",
          "description": "The median number of the metric, in millisecond.",
          "format": "int32"
        },
        "percentile": {
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "PagespeedApiLoadingExperienceV5": {
      "description": "The CrUX loading experience object that contains CrUX data breakdowns.",
      "id": "PagespeedApiLoadingExperienceV5",
      "type": "object",
      "properties": {
        "overall_category": {
          "description": "The human readable speed \"category\" of the id.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The url, pattern or origin which the metrics are on."
        },
        "origin_fallback": {
          "description": "True if the result is an origin fallback from a page, false otherwise.",
          "type": "boolean"
        },
        "initial_url": {
          "description": "The requested URL, which may differ from the resolved \"id\".",
          "type": "string"
        },
        "metrics": {
          "description": "The map of .",
          "type": "object",
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          }
        }
      }
    },
    "LighthouseAuditResultV5": {
      "id": "LighthouseAuditResultV5",
      "properties": {
        "details": {
          "description": "Freeform details section of the audit.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "id": {
          "description": "The audit's id.",
          "type": "string"
        },
        "numericUnit": {
          "description": "The unit of the numeric_value field. Used to format the numeric value for display.",
          "type": "string"
        },
        "warnings": {
          "type": "any",
          "description": "Possible warnings that occurred in the audit, can be null."
        },
        "description": {
          "type": "string",
          "description": "The description of the audit."
        },
        "score": {
          "description": "The score of the audit, can be null.",
          "type": "any"
        },
        "errorMessage": {
          "description": "An error message from a thrown error inside the audit.",
          "type": "string"
        },
        "metricSavings": {
          "description": "The metric savings of the audit.",
          "$ref": "MetricSavings"
        },
        "title": {
          "description": "The human readable title.",
          "type": "string"
        },
        "scoreDisplayMode": {
          "description": "The enumerated score display mode.",
          "type": "string"
        },
        "displayValue": {
          "description": "The value that should be displayed on the UI for this audit.",
          "type": "string"
        },
        "numericValue": {
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present.",
          "type": "number",
          "format": "double"
        },
        "explanation": {
          "description": "An explanation of the errors in the audit.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An audit's result object in a Lighthouse result."
    },
    "CategoryGroupV5": {
      "properties": {
        "title": {
          "description": "The human readable title of the group",
          "type": "string"
        },
        "description": {
          "description": "The description of what the category is grouping",
          "type": "string"
        }
      },
      "description": "Message containing a category",
      "id": "CategoryGroupV5",
      "type": "object"
    },
    "ConfigSettings": {
      "properties": {
        "locale": {
          "type": "string",
          "description": "The locale setting."
        },
        "emulatedFormFactor": {
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead.",
          "deprecated": true,
          "type": "string"
        },
        "onlyCategories": {
          "type": "any",
          "description": "List of categories of audits the run should conduct."
        },
        "channel": {
          "type": "string",
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module."
        },
        "formFactor": {
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop.",
          "type": "string"
        }
      },
      "id": "ConfigSettings",
      "description": "Message containing the configuration settings for the Lighthouse run.",
      "type": "object"
    },
    "PagespeedApiPagespeedResponseV5": {
      "id": "PagespeedApiPagespeedResponseV5",
      "type": "object",
      "description": "The Pagespeed API response object.",
      "properties": {
        "id": {
          "description": "Canonicalized and final URL for the document, after following page redirects (if any).",
          "type": "string"
        },
        "originLoadingExperience": {
          "description": "Metrics of the aggregated page loading experience of the origin",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "kind": {
          "description": "Kind of result.",
          "type": "string"
        },
        "version": {
          "description": "The version of PageSpeed used to generate these results.",
          "$ref": "PagespeedVersion"
        },
        "analysisUTCTimestamp": {
          "type": "string",
          "description": "The UTC timestamp of this analysis."
        },
        "captchaResult": {
          "description": "The captcha verify result",
          "type": "string"
        },
        "loadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of end users' page loading experience."
        },
        "lighthouseResult": {
          "description": "Lighthouse response for the audit url as an object.",
          "$ref": "LighthouseResultV5"
        }
      }
    },
    "RuntimeError": {
      "description": "Message containing a runtime error config.",
      "properties": {
        "message": {
          "description": "A human readable message explaining the error code.",
          "type": "string"
        },
        "code": {
          "description": "The enumerated Lighthouse Error code.",
          "type": "string"
        }
      },
      "id": "RuntimeError",
      "type": "object"
    },
    "Bucket": {
      "properties": {
        "min": {
          "format": "int32",
          "type": "integer",
          "description": "Lower bound for a bucket's range."
        },
        "max": {
          "type": "integer",
          "format": "int32",
          "description": "Upper bound for a bucket's range."
        },
        "proportion": {
          "description": "The proportion of data in this bucket.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond.",
      "type": "object",
      "id": "Bucket"
    },
    "RendererFormattedStrings": {
      "properties": {
        "runtimeSettingsUrl": {
          "type": "string",
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run."
        },
        "toplevelWarningsMessage": {
          "type": "string",
          "description": "The label shown preceding important warnings that may have invalidated an entire report."
        },
        "runtimeSettingsCPUThrottling": {
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any.",
          "type": "string"
        },
        "lsPerformanceCategoryDescription": {
          "description": "The disclaimer shown under performance explaining that the network can vary.",
          "type": "string"
        },
        "dropdownCopyJSON": {
          "type": "string",
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard."
        },
        "warningHeader": {
          "description": "The label shown above a bulleted list of warnings.",
          "type": "string"
        },
        "footerIssue": {
          "type": "string",
          "description": "Label for button to create an issue against the Lighthouse GitHub project."
        },
        "snippetCollapseButtonLabel": {
          "type": "string",
          "description": "The label for the button to show only a few lines of a snippet"
        },
        "scorescaleLabel": {
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100).",
          "type": "string"
        },
        "labDataTitle": {
          "type": "string",
          "description": "The title of the lab data performance category."
        },
        "warningAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that have warnings"
        },
        "dropdownPrintExpanded": {
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog.",
          "type": "string"
        },
        "opportunityResourceColumnLabel": {
          "description": "The heading for the estimated page load savings opportunity of an audit.",
          "type": "string"
        },
        "crcInitialNavigation": {
          "description": "The label for the initial request in a critical request chain.",
          "type": "string"
        },
        "notApplicableAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that do not apply to a page.",
          "type": "string"
        },
        "showRelevantAudits": {
          "type": "string",
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric."
        },
        "errorLabel": {
          "description": "The label shown next to an audit or metric that has had an error.",
          "type": "string"
        },
        "calculatorLink": {
          "type": "string",
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics."
        },
        "runtimeSettingsNetworkThrottling": {
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any.",
          "type": "string"
        },
        "runtimeSettingsTitle": {
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time.",
          "type": "string"
        },
        "dropdownViewer": {
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application.",
          "type": "string"
        },
        "runtimeDesktopEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor."
        },
        "varianceDisclaimer": {
          "type": "string",
          "description": "The disclaimer shown below a performance metric value."
        },
        "dropdownDarkTheme": {
          "type": "string",
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes."
        },
        "throttlingProvided": {
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling.",
          "type": "string"
        },
        "errorMissingAuditInfo": {
          "description": "The error string shown next to an erroring audit.",
          "type": "string"
        },
        "runtimeSettingsUA": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse."
        },
        "runtimeSettingsFetchTime": {
          "type": "string",
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC."
        },
        "dropdownSaveHTML": {
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file.",
          "type": "string"
        },
        "opportunitySavingsColumnLabel": {
          "type": "string",
          "description": "The heading for the estimated page load savings of opportunity audits."
        },
        "runtimeSettingsAxeVersion": {
          "type": "string",
          "description": "Label for a row in a table that shows the version of the Axe library used"
        },
        "runtimeMobileEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device."
        },
        "runtimeSettingsDevice": {
          "type": "string",
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc."
        },
        "runtimeUnknown": {
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value.",
          "type": "string"
        },
        "runtimeSettingsBenchmark": {
          "type": "string",
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783."
        },
        "dropdownSaveJSON": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file."
        },
        "passedAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that are passing."
        },
        "snippetExpandButtonLabel": {
          "description": "The label for the button to show all lines of a snippet",
          "type": "string"
        },
        "auditGroupExpandTooltip": {
          "type": "string",
          "description": "The tooltip text on an expandable chevron icon."
        },
        "thirdPartyResourcesLabel": {
          "type": "string",
          "description": "This label is for a filter checkbox above a table of items"
        },
        "viewTreemapLabel": {
          "description": "Label for a button that opens the Treemap App",
          "type": "string"
        },
        "crcLongestDurationLabel": {
          "type": "string",
          "description": "The label for values shown in the summary of critical request chains."
        },
        "runtimeNoEmulation": {
          "description": "Descriptive explanation for emulation setting when no device emulation is set.",
          "type": "string"
        },
        "dropdownSaveGist": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist."
        },
        "manualAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that were not computerd in the run.",
          "type": "string"
        },
        "runtimeSettingsChannel": {
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc).",
          "type": "string"
        },
        "dropdownPrintSummary": {
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog.",
          "type": "string"
        },
        "runtimeSettingsUANetwork": {
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message holding the formatted strings used in the renderer.",
      "id": "RendererFormattedStrings"
    },
    "I18n": {
      "description": "Message containing the i18n data for the LHR - Version 1.",
      "id": "I18n",
      "properties": {
        "rendererFormattedStrings": {
          "description": "Internationalized strings that are formatted to the locale in configSettings.",
          "$ref": "RendererFormattedStrings"
        }
      },
      "type": "object"
    },
    "Categories": {
      "description": "The categories in a Lighthouse run.",
      "type": "object",
      "id": "Categories",
      "properties": {
        "performance": {
          "description": "The performance category, containing all performance related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "pwa": {
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release.",
          "$ref": "LighthouseCategoryV5",
          "deprecated": true
        },
        "seo": {
          "$ref": "LighthouseCategoryV5",
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits."
        },
        "agentic-browsing": {
          "$ref": "LighthouseCategoryV5",
          "description": "The agentic browsing category, containing all agentic browsing related audits."
        },
        "accessibility": {
          "description": "The accessibility category, containing all accessibility related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "best-practices": {
          "$ref": "LighthouseCategoryV5",
          "description": "The best practices category, containing all best practices related audits."
        }
      }
    },
    "Timing": {
      "description": "Message containing the performance timing data for the Lighthouse run.",
      "id": "Timing",
      "type": "object",
      "properties": {
        "total": {
          "description": "The total duration of Lighthouse's run.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "PagespeedVersion": {
      "properties": {
        "major": {
          "type": "string",
          "description": "The major version number of PageSpeed used to generate these results."
        },
        "minor": {
          "type": "string",
          "description": "The minor version number of PageSpeed used to generate these results."
        }
      },
      "id": "PagespeedVersion",
      "type": "object",
      "description": "The Pagespeed Version object."
    },
    "AuditRefs": {
      "type": "object",
      "properties": {
        "acronym": {
          "type": "string",
          "description": "The conventional acronym for the audit/metric."
        },
        "id": {
          "type": "string",
          "description": "The audit ref id."
        },
        "weight": {
          "type": "number",
          "format": "double",
          "description": "The weight this audit's score has on the overall category score."
        },
        "group": {
          "type": "string",
          "description": "The category group that the audit belongs to (optional)."
        },
        "relevantAudits": {
          "description": "Any audit IDs closely relevant to this one.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A light reference to an audit by id, used to group and weight audits in a given category.",
      "id": "AuditRefs"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "canonicalName": "Pagespeed Insights",
  "ownerName": "Google",
  "basePath": "",
  "protocol": "rest",
  "name": "pagespeedonline",
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "scopes": [
            "openid"
          ],
          "httpMethod": "GET",
          "id": "pagespeedonline.pagespeedapi.runpagespeed",
          "parameterOrder": [
            "url"
          ],
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "path": "pagespeedonline/v5/runPagespeed",
          "parameters": {
            "category": {
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO",
                "AGENTIC_BROWSING"
              ],
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines.",
                "Agentic Browsing, category pertaining to a website's ability to be rendered by an agentic browsing system."
              ],
              "type": "string",
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run",
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false,
                false
              ]
            },
            "strategy": {
              "location": "query",
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default",
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ],
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ],
              "type": "string"
            },
            "captchaToken": {
              "description": "The captcha token passed when filling out a captcha.",
              "location": "query",
              "type": "string"
            },
            "url": {
              "type": "string",
              "location": "query",
              "required": true,
              "pattern": "(?i)(url:|origin:)?http(s)?://.*",
              "description": "Required. The URL to fetch and analyze"
            },
            "utm_campaign": {
              "description": "Campaign name for analytics.",
              "type": "string",
              "location": "query"
            },
            "utm_source": {
              "description": "Campaign source for analytics.",
              "location": "query",
              "type": "string"
            },
            "locale": {
              "location": "query",
              "type": "string",
              "description": "The locale used to localize formatted results",
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?"
            }
          }
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://pagespeedonline.googleapis.com/"
}