{
  "canonicalName": "Pagespeed Insights",
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "basePath": "",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "baseUrl": "https://pagespeedonline.googleapis.com/",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "id": "pagespeedonline:v5",
  "name": "pagespeedonline",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "path": "pagespeedonline/v5/runPagespeed",
          "id": "pagespeedonline.pagespeedapi.runpagespeed",
          "httpMethod": "GET",
          "parameters": {
            "category": {
              "location": "query",
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO",
                "AGENTIC_BROWSING"
              ],
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines.",
                "Agentic Browsing, category pertaining to a website's ability to be rendered by an agentic browsing system."
              ],
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run",
              "type": "string",
              "repeated": true,
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false,
                false
              ]
            },
            "locale": {
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?",
              "description": "The locale used to localize formatted results",
              "type": "string",
              "location": "query"
            },
            "strategy": {
              "type": "string",
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ],
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ],
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default",
              "location": "query"
            },
            "utm_campaign": {
              "description": "Campaign name for analytics.",
              "location": "query",
              "type": "string"
            },
            "url": {
              "type": "string",
              "location": "query",
              "description": "Required. The URL to fetch and analyze",
              "pattern": "(?i)(url:|origin:)?http(s)?://.*",
              "required": true
            },
            "utm_source": {
              "type": "string",
              "description": "Campaign source for analytics.",
              "location": "query"
            },
            "captchaToken": {
              "description": "The captcha token passed when filling out a captcha.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "parameterOrder": [
            "url"
          ],
          "scopes": [
            "openid"
          ],
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          }
        }
      }
    }
  },
  "title": "PageSpeed Insights API",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260819",
  "version_module": true,
  "servicePath": "",
  "version": "v5",
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "schemas": {
    "PagespeedApiLoadingExperienceV5": {
      "description": "The CrUX loading experience object that contains CrUX data breakdowns.",
      "type": "object",
      "id": "PagespeedApiLoadingExperienceV5",
      "properties": {
        "metrics": {
          "type": "object",
          "description": "The map of .",
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          }
        },
        "initial_url": {
          "description": "The requested URL, which may differ from the resolved \"id\".",
          "type": "string"
        },
        "id": {
          "description": "The url, pattern or origin which the metrics are on.",
          "type": "string"
        },
        "origin_fallback": {
          "type": "boolean",
          "description": "True if the result is an origin fallback from a page, false otherwise."
        },
        "overall_category": {
          "description": "The human readable speed \"category\" of the id.",
          "type": "string"
        }
      }
    },
    "LighthouseCategoryV5": {
      "description": "A Lighthouse category.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A more detailed description of the category and its importance."
        },
        "title": {
          "description": "The human-friendly name of the category.",
          "type": "string"
        },
        "score": {
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)",
          "type": "any"
        },
        "manualDescription": {
          "type": "string",
          "description": "A description for the manual audits in the category."
        },
        "id": {
          "description": "The string identifier of the category.",
          "type": "string"
        },
        "auditRefs": {
          "description": "An array of references to all the audit members of this category.",
          "type": "array",
          "items": {
            "$ref": "AuditRefs"
          }
        },
        "categoryScoreDisplayMode": {
          "type": "string",
          "enum": [
            "CATEGORY_SCORE_DISPLAY_MODE_UNSPECIFIED",
            "GAUGE",
            "FRACTION"
          ],
          "enumDescriptions": [
            "Default UNDEFINED category.",
            "Display the score as a standard circular gauge (default)",
            "Display the score as a fraction, e.g. \"3/5\""
          ],
          "description": "Optional. How the category score should be displayed (e.g. as a fraction)."
        }
      },
      "id": "LighthouseCategoryV5"
    },
    "CategoryGroupV5": {
      "id": "CategoryGroupV5",
      "description": "Message containing a category",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of what the category is grouping",
          "type": "string"
        },
        "title": {
          "description": "The human readable title of the group",
          "type": "string"
        }
      }
    },
    "AuditRefs": {
      "description": "A light reference to an audit by id, used to group and weight audits in a given category.",
      "id": "AuditRefs",
      "type": "object",
      "properties": {
        "group": {
          "type": "string",
          "description": "The category group that the audit belongs to (optional)."
        },
        "acronym": {
          "type": "string",
          "description": "The conventional acronym for the audit/metric."
        },
        "relevantAudits": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Any audit IDs closely relevant to this one."
        },
        "id": {
          "description": "The audit ref id.",
          "type": "string"
        },
        "weight": {
          "description": "The weight this audit's score has on the overall category score.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ConfigSettings": {
      "type": "object",
      "description": "Message containing the configuration settings for the Lighthouse run.",
      "properties": {
        "locale": {
          "type": "string",
          "description": "The locale setting."
        },
        "onlyCategories": {
          "description": "List of categories of audits the run should conduct.",
          "type": "any"
        },
        "emulatedFormFactor": {
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead.",
          "deprecated": true,
          "type": "string"
        },
        "formFactor": {
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop.",
          "type": "string"
        },
        "channel": {
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module.",
          "type": "string"
        }
      },
      "id": "ConfigSettings"
    },
    "UserPageLoadMetricV5": {
      "id": "UserPageLoadMetricV5",
      "description": "A CrUX metric object for a single metric and form factor.",
      "properties": {
        "category": {
          "type": "string",
          "description": "The category of the specific time metric."
        },
        "metricId": {
          "description": "Identifies the type of the metric.",
          "type": "string"
        },
        "percentile": {
          "format": "int32",
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90.",
          "type": "integer"
        },
        "distributions": {
          "type": "array",
          "items": {
            "$ref": "Bucket"
          },
          "description": "Metric distributions. Proportions should sum up to 1."
        },
        "formFactor": {
          "description": "Identifies the form factor of the metric being collected.",
          "type": "string"
        },
        "median": {
          "format": "int32",
          "description": "The median number of the metric, in millisecond.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "LighthouseResultV5": {
      "type": "object",
      "properties": {
        "requestedUrl": {
          "type": "string",
          "description": "The original requested url."
        },
        "audits": {
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          },
          "description": "Map of audits in the LHR.",
          "type": "object"
        },
        "environment": {
          "$ref": "Environment",
          "description": "Environment settings that were used when making this LHR."
        },
        "fullPageScreenshot": {
          "type": "any",
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results."
        },
        "finalUrl": {
          "type": "string",
          "description": "The final resolved url that was audited."
        },
        "fetchTime": {
          "type": "string",
          "description": "The time that this run was fetched."
        },
        "i18n": {
          "$ref": "I18n",
          "description": "The internationalization strings that are required to render the LHR."
        },
        "stackPacks": {
          "type": "array",
          "description": "The Stack Pack advice strings.",
          "items": {
            "$ref": "StackPack"
          }
        },
        "configSettings": {
          "$ref": "ConfigSettings",
          "description": "The configuration settings for this LHR."
        },
        "categoryGroups": {
          "type": "object",
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          },
          "description": "Map of category groups in the LHR."
        },
        "lighthouseVersion": {
          "type": "string",
          "description": "The lighthouse version that was used to generate this LHR."
        },
        "entities": {
          "items": {
            "$ref": "LhrEntity"
          },
          "type": "array",
          "description": "Entity classification data."
        },
        "userAgent": {
          "description": "The user agent that was used to run this LHR.",
          "type": "string"
        },
        "finalDisplayedUrl": {
          "type": "string",
          "description": "URL displayed on the page after Lighthouse finishes."
        },
        "runWarnings": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`."
        },
        "runtimeError": {
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded.",
          "$ref": "RuntimeError"
        },
        "mainDocumentUrl": {
          "type": "string",
          "description": "URL of the main document request of the final navigation."
        },
        "timing": {
          "$ref": "Timing",
          "description": "Timing information for this LHR."
        },
        "categories": {
          "description": "Map of categories in the LHR.",
          "$ref": "Categories"
        }
      },
      "id": "LighthouseResultV5",
      "description": "The Lighthouse result object."
    },
    "PagespeedApiPagespeedResponseV5": {
      "id": "PagespeedApiPagespeedResponseV5",
      "description": "The Pagespeed API response object.",
      "type": "object",
      "properties": {
        "originLoadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of the aggregated page loading experience of the origin"
        },
        "captchaResult": {
          "type": "string",
          "description": "The captcha verify result"
        },
        "analysisUTCTimestamp": {
          "type": "string",
          "description": "The UTC timestamp of this analysis."
        },
        "lighthouseResult": {
          "$ref": "LighthouseResultV5",
          "description": "Lighthouse response for the audit url as an object."
        },
        "kind": {
          "type": "string",
          "description": "Kind of result."
        },
        "version": {
          "$ref": "PagespeedVersion",
          "description": "The version of PageSpeed used to generate these results."
        },
        "loadingExperience": {
          "description": "Metrics of end users' page loading experience.",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "id": {
          "description": "Canonicalized and final URL for the document, after following page redirects (if any).",
          "type": "string"
        }
      }
    },
    "RendererFormattedStrings": {
      "properties": {
        "runtimeSettingsTitle": {
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time.",
          "type": "string"
        },
        "dropdownSaveGist": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist."
        },
        "snippetExpandButtonLabel": {
          "type": "string",
          "description": "The label for the button to show all lines of a snippet"
        },
        "runtimeSettingsCPUThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any."
        },
        "throttlingProvided": {
          "type": "string",
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling."
        },
        "runtimeSettingsBenchmark": {
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783.",
          "type": "string"
        },
        "warningHeader": {
          "description": "The label shown above a bulleted list of warnings.",
          "type": "string"
        },
        "runtimeSettingsUA": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse."
        },
        "varianceDisclaimer": {
          "type": "string",
          "description": "The disclaimer shown below a performance metric value."
        },
        "crcInitialNavigation": {
          "description": "The label for the initial request in a critical request chain.",
          "type": "string"
        },
        "labDataTitle": {
          "type": "string",
          "description": "The title of the lab data performance category."
        },
        "runtimeNoEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when no device emulation is set."
        },
        "runtimeSettingsNetworkThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any."
        },
        "runtimeSettingsChannel": {
          "type": "string",
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc)."
        },
        "dropdownDarkTheme": {
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes.",
          "type": "string"
        },
        "dropdownPrintExpanded": {
          "type": "string",
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog."
        },
        "snippetCollapseButtonLabel": {
          "type": "string",
          "description": "The label for the button to show only a few lines of a snippet"
        },
        "errorLabel": {
          "description": "The label shown next to an audit or metric that has had an error.",
          "type": "string"
        },
        "crcLongestDurationLabel": {
          "description": "The label for values shown in the summary of critical request chains.",
          "type": "string"
        },
        "opportunitySavingsColumnLabel": {
          "description": "The heading for the estimated page load savings of opportunity audits.",
          "type": "string"
        },
        "viewTreemapLabel": {
          "type": "string",
          "description": "Label for a button that opens the Treemap App"
        },
        "runtimeMobileEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device."
        },
        "errorMissingAuditInfo": {
          "description": "The error string shown next to an erroring audit.",
          "type": "string"
        },
        "auditGroupExpandTooltip": {
          "type": "string",
          "description": "The tooltip text on an expandable chevron icon."
        },
        "warningAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that have warnings"
        },
        "runtimeUnknown": {
          "type": "string",
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value."
        },
        "showRelevantAudits": {
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric.",
          "type": "string"
        },
        "dropdownSaveHTML": {
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file.",
          "type": "string"
        },
        "dropdownPrintSummary": {
          "type": "string",
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog."
        },
        "footerIssue": {
          "type": "string",
          "description": "Label for button to create an issue against the Lighthouse GitHub project."
        },
        "opportunityResourceColumnLabel": {
          "description": "The heading for the estimated page load savings opportunity of an audit.",
          "type": "string"
        },
        "runtimeSettingsAxeVersion": {
          "type": "string",
          "description": "Label for a row in a table that shows the version of the Axe library used"
        },
        "runtimeSettingsFetchTime": {
          "type": "string",
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC."
        },
        "runtimeSettingsUANetwork": {
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run.",
          "type": "string"
        },
        "runtimeDesktopEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor.",
          "type": "string"
        },
        "thirdPartyResourcesLabel": {
          "description": "This label is for a filter checkbox above a table of items",
          "type": "string"
        },
        "dropdownCopyJSON": {
          "type": "string",
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard."
        },
        "runtimeSettingsDevice": {
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc.",
          "type": "string"
        },
        "runtimeSettingsUrl": {
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run.",
          "type": "string"
        },
        "passedAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that are passing.",
          "type": "string"
        },
        "lsPerformanceCategoryDescription": {
          "type": "string",
          "description": "The disclaimer shown under performance explaining that the network can vary."
        },
        "notApplicableAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that do not apply to a page.",
          "type": "string"
        },
        "calculatorLink": {
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics.",
          "type": "string"
        },
        "toplevelWarningsMessage": {
          "type": "string",
          "description": "The label shown preceding important warnings that may have invalidated an entire report."
        },
        "manualAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that were not computerd in the run.",
          "type": "string"
        },
        "dropdownSaveJSON": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file."
        },
        "dropdownViewer": {
          "type": "string",
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application."
        },
        "scorescaleLabel": {
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RendererFormattedStrings",
      "description": "Message holding the formatted strings used in the renderer."
    },
    "MetricSavings": {
      "properties": {
        "LCP": {
          "format": "double",
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric."
        },
        "INP": {
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric.",
          "type": "number"
        },
        "CLS": {
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric.",
          "type": "number",
          "format": "double"
        },
        "TBT": {
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric.",
          "format": "double"
        },
        "FCP": {
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric.",
          "type": "number"
        }
      },
      "type": "object",
      "id": "MetricSavings",
      "description": "The metric savings of the audit."
    },
    "LighthouseAuditResultV5": {
      "properties": {
        "numericValue": {
          "format": "double",
          "type": "number",
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present."
        },
        "details": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Freeform details section of the audit.",
          "type": "object"
        },
        "metricSavings": {
          "description": "The metric savings of the audit.",
          "$ref": "MetricSavings"
        },
        "id": {
          "description": "The audit's id.",
          "type": "string"
        },
        "scoreDisplayMode": {
          "type": "string",
          "description": "The enumerated score display mode."
        },
        "errorMessage": {
          "type": "string",
          "description": "An error message from a thrown error inside the audit."
        },
        "warnings": {
          "type": "any",
          "description": "Possible warnings that occurred in the audit, can be null."
        },
        "description": {
          "description": "The description of the audit.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The human readable title."
        },
        "score": {
          "description": "The score of the audit, can be null.",
          "type": "any"
        },
        "displayValue": {
          "type": "string",
          "description": "The value that should be displayed on the UI for this audit."
        },
        "explanation": {
          "description": "An explanation of the errors in the audit.",
          "type": "string"
        },
        "numericUnit": {
          "type": "string",
          "description": "The unit of the numeric_value field. Used to format the numeric value for display."
        }
      },
      "description": "An audit's result object in a Lighthouse result.",
      "type": "object",
      "id": "LighthouseAuditResultV5"
    },
    "Bucket": {
      "type": "object",
      "properties": {
        "proportion": {
          "description": "The proportion of data in this bucket.",
          "format": "double",
          "type": "number"
        },
        "max": {
          "type": "integer",
          "format": "int32",
          "description": "Upper bound for a bucket's range."
        },
        "min": {
          "description": "Lower bound for a bucket's range.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Bucket",
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond."
    },
    "LhrEntity": {
      "type": "object",
      "description": "Message containing an Entity.",
      "properties": {
        "homepage": {
          "description": "Optional. An optional homepage URL of the entity.",
          "type": "string"
        },
        "origins": {
          "description": "Required. A list of URL origin strings that belong to this entity.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isFirstParty": {
          "description": "Optional. An optional flag indicating if the entity is the first party.",
          "type": "boolean"
        },
        "isUnrecognized": {
          "type": "boolean",
          "description": "Optional. An optional flag indicating if the entity is not recognized."
        },
        "category": {
          "description": "Optional. An optional category name for the entity.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the entity."
        }
      },
      "id": "LhrEntity"
    },
    "Categories": {
      "description": "The categories in a Lighthouse run.",
      "type": "object",
      "id": "Categories",
      "properties": {
        "best-practices": {
          "description": "The best practices category, containing all best practices related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "pwa": {
          "$ref": "LighthouseCategoryV5",
          "deprecated": true,
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release."
        },
        "agentic-browsing": {
          "$ref": "LighthouseCategoryV5",
          "description": "The agentic browsing category, containing all agentic browsing related audits."
        },
        "accessibility": {
          "description": "The accessibility category, containing all accessibility related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "performance": {
          "$ref": "LighthouseCategoryV5",
          "description": "The performance category, containing all performance related audits."
        },
        "seo": {
          "$ref": "LighthouseCategoryV5",
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits."
        }
      }
    },
    "RuntimeError": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The enumerated Lighthouse Error code."
        },
        "message": {
          "description": "A human readable message explaining the error code.",
          "type": "string"
        }
      },
      "description": "Message containing a runtime error config.",
      "id": "RuntimeError"
    },
    "Timing": {
      "properties": {
        "total": {
          "description": "The total duration of Lighthouse's run.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "Timing",
      "description": "Message containing the performance timing data for the Lighthouse run.",
      "type": "object"
    },
    "Environment": {
      "properties": {
        "networkUserAgent": {
          "description": "The user agent string that was sent over the network.",
          "type": "string"
        },
        "hostUserAgent": {
          "description": "The user agent string of the version of Chrome used.",
          "type": "string"
        },
        "benchmarkIndex": {
          "format": "double",
          "description": "The benchmark index number that indicates rough device class.",
          "type": "number"
        },
        "credits": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The version of libraries with which these results were generated. Ex: axe-core."
        }
      },
      "type": "object",
      "description": "Message containing environment configuration for a Lighthouse run.",
      "id": "Environment"
    },
    "PagespeedVersion": {
      "type": "object",
      "id": "PagespeedVersion",
      "description": "The Pagespeed Version object.",
      "properties": {
        "minor": {
          "description": "The minor version number of PageSpeed used to generate these results.",
          "type": "string"
        },
        "major": {
          "type": "string",
          "description": "The major version number of PageSpeed used to generate these results."
        }
      }
    },
    "StackPack": {
      "properties": {
        "iconDataURL": {
          "description": "The stack pack icon data uri.",
          "type": "string"
        },
        "id": {
          "description": "The stack pack id.",
          "type": "string"
        },
        "title": {
          "description": "The stack pack title.",
          "type": "string"
        },
        "descriptions": {
          "type": "object",
          "description": "The stack pack advice strings.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "StackPack",
      "description": "Message containing Stack Pack information."
    },
    "I18n": {
      "type": "object",
      "description": "Message containing the i18n data for the LHR - Version 1.",
      "id": "I18n",
      "properties": {
        "rendererFormattedStrings": {
          "description": "Internationalized strings that are formatted to the locale in configSettings.",
          "$ref": "RendererFormattedStrings"
        }
      }
    }
  },
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "ownerDomain": "google.com"
}