{
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "revision": "20260803",
  "baseUrl": "https://pagespeedonline.googleapis.com/",
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "httpMethod": "GET",
          "path": "pagespeedonline/v5/runPagespeed",
          "parameters": {
            "strategy": {
              "type": "string",
              "location": "query",
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default",
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ],
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ]
            },
            "utm_source": {
              "location": "query",
              "type": "string",
              "description": "Campaign source for analytics."
            },
            "captchaToken": {
              "location": "query",
              "type": "string",
              "description": "The captcha token passed when filling out a captcha."
            },
            "url": {
              "type": "string",
              "location": "query",
              "description": "Required. The URL to fetch and analyze",
              "required": true,
              "pattern": "(?i)(url:|origin:)?http(s)?://.*"
            },
            "category": {
              "location": "query",
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false,
                false
              ],
              "type": "string",
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines.",
                "Agentic Browsing, category pertaining to a website's ability to be rendered by an agentic browsing system."
              ],
              "repeated": true,
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO",
                "AGENTIC_BROWSING"
              ],
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run"
            },
            "utm_campaign": {
              "location": "query",
              "description": "Campaign name for analytics.",
              "type": "string"
            },
            "locale": {
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?",
              "location": "query",
              "description": "The locale used to localize formatted results",
              "type": "string"
            }
          },
          "scopes": [
            "openid"
          ],
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "id": "pagespeedonline.pagespeedapi.runpagespeed",
          "parameterOrder": [
            "url"
          ]
        }
      }
    }
  },
  "version_module": true,
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "kind": "discovery#restDescription",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "protocol": "rest",
  "canonicalName": "Pagespeed Insights",
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "LighthouseCategoryV5": {
      "id": "LighthouseCategoryV5",
      "description": "A Lighthouse category.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The string identifier of the category.",
          "type": "string"
        },
        "categoryScoreDisplayMode": {
          "description": "Optional. How the category score should be displayed (e.g. as a fraction).",
          "type": "string",
          "enumDescriptions": [
            "Default UNDEFINED category.",
            "Display the score as a standard circular gauge (default)",
            "Display the score as a fraction, e.g. \"3/5\""
          ],
          "enum": [
            "CATEGORY_SCORE_DISPLAY_MODE_UNSPECIFIED",
            "GAUGE",
            "FRACTION"
          ]
        },
        "auditRefs": {
          "type": "array",
          "description": "An array of references to all the audit members of this category.",
          "items": {
            "$ref": "AuditRefs"
          }
        },
        "score": {
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)",
          "type": "any"
        },
        "title": {
          "type": "string",
          "description": "The human-friendly name of the category."
        },
        "description": {
          "description": "A more detailed description of the category and its importance.",
          "type": "string"
        },
        "manualDescription": {
          "description": "A description for the manual audits in the category.",
          "type": "string"
        }
      }
    },
    "Environment": {
      "id": "Environment",
      "type": "object",
      "properties": {
        "credits": {
          "type": "object",
          "description": "The version of libraries with which these results were generated. Ex: axe-core.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkUserAgent": {
          "description": "The user agent string that was sent over the network.",
          "type": "string"
        },
        "hostUserAgent": {
          "type": "string",
          "description": "The user agent string of the version of Chrome used."
        },
        "benchmarkIndex": {
          "type": "number",
          "description": "The benchmark index number that indicates rough device class.",
          "format": "double"
        }
      },
      "description": "Message containing environment configuration for a Lighthouse run."
    },
    "PagespeedApiPagespeedResponseV5": {
      "type": "object",
      "properties": {
        "loadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of end users' page loading experience."
        },
        "kind": {
          "description": "Kind of result.",
          "type": "string"
        },
        "captchaResult": {
          "type": "string",
          "description": "The captcha verify result"
        },
        "id": {
          "type": "string",
          "description": "Canonicalized and final URL for the document, after following page redirects (if any)."
        },
        "version": {
          "description": "The version of PageSpeed used to generate these results.",
          "$ref": "PagespeedVersion"
        },
        "originLoadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of the aggregated page loading experience of the origin"
        },
        "lighthouseResult": {
          "$ref": "LighthouseResultV5",
          "description": "Lighthouse response for the audit url as an object."
        },
        "analysisUTCTimestamp": {
          "type": "string",
          "description": "The UTC timestamp of this analysis."
        }
      },
      "description": "The Pagespeed API response object.",
      "id": "PagespeedApiPagespeedResponseV5"
    },
    "Categories": {
      "id": "Categories",
      "type": "object",
      "properties": {
        "seo": {
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "best-practices": {
          "$ref": "LighthouseCategoryV5",
          "description": "The best practices category, containing all best practices related audits."
        },
        "accessibility": {
          "$ref": "LighthouseCategoryV5",
          "description": "The accessibility category, containing all accessibility related audits."
        },
        "agentic-browsing": {
          "$ref": "LighthouseCategoryV5",
          "description": "The agentic browsing category, containing all agentic browsing related audits."
        },
        "performance": {
          "$ref": "LighthouseCategoryV5",
          "description": "The performance category, containing all performance related audits."
        },
        "pwa": {
          "deprecated": true,
          "$ref": "LighthouseCategoryV5",
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release."
        }
      },
      "description": "The categories in a Lighthouse run."
    },
    "PagespeedApiLoadingExperienceV5": {
      "type": "object",
      "properties": {
        "origin_fallback": {
          "description": "True if the result is an origin fallback from a page, false otherwise.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "The url, pattern or origin which the metrics are on."
        },
        "overall_category": {
          "type": "string",
          "description": "The human readable speed \"category\" of the id."
        },
        "metrics": {
          "description": "The map of .",
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          },
          "type": "object"
        },
        "initial_url": {
          "description": "The requested URL, which may differ from the resolved \"id\".",
          "type": "string"
        }
      },
      "description": "The CrUX loading experience object that contains CrUX data breakdowns.",
      "id": "PagespeedApiLoadingExperienceV5"
    },
    "UserPageLoadMetricV5": {
      "id": "UserPageLoadMetricV5",
      "type": "object",
      "properties": {
        "metricId": {
          "description": "Identifies the type of the metric.",
          "type": "string"
        },
        "percentile": {
          "type": "integer",
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90.",
          "format": "int32"
        },
        "distributions": {
          "type": "array",
          "description": "Metric distributions. Proportions should sum up to 1.",
          "items": {
            "$ref": "Bucket"
          }
        },
        "formFactor": {
          "description": "Identifies the form factor of the metric being collected.",
          "type": "string"
        },
        "median": {
          "description": "The median number of the metric, in millisecond.",
          "type": "integer",
          "format": "int32"
        },
        "category": {
          "description": "The category of the specific time metric.",
          "type": "string"
        }
      },
      "description": "A CrUX metric object for a single metric and form factor."
    },
    "AuditRefs": {
      "id": "AuditRefs",
      "type": "object",
      "properties": {
        "group": {
          "description": "The category group that the audit belongs to (optional).",
          "type": "string"
        },
        "acronym": {
          "description": "The conventional acronym for the audit/metric.",
          "type": "string"
        },
        "weight": {
          "type": "number",
          "description": "The weight this audit's score has on the overall category score.",
          "format": "double"
        },
        "id": {
          "description": "The audit ref id.",
          "type": "string"
        },
        "relevantAudits": {
          "type": "array",
          "description": "Any audit IDs closely relevant to this one.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A light reference to an audit by id, used to group and weight audits in a given category."
    },
    "StackPack": {
      "type": "object",
      "properties": {
        "title": {
          "description": "The stack pack title.",
          "type": "string"
        },
        "descriptions": {
          "description": "The stack pack advice strings.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "id": {
          "description": "The stack pack id.",
          "type": "string"
        },
        "iconDataURL": {
          "type": "string",
          "description": "The stack pack icon data uri."
        }
      },
      "description": "Message containing Stack Pack information.",
      "id": "StackPack"
    },
    "RendererFormattedStrings": {
      "id": "RendererFormattedStrings",
      "type": "object",
      "properties": {
        "runtimeDesktopEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor."
        },
        "labDataTitle": {
          "description": "The title of the lab data performance category.",
          "type": "string"
        },
        "runtimeSettingsCPUThrottling": {
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any.",
          "type": "string"
        },
        "warningHeader": {
          "type": "string",
          "description": "The label shown above a bulleted list of warnings."
        },
        "throttlingProvided": {
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling.",
          "type": "string"
        },
        "opportunitySavingsColumnLabel": {
          "description": "The heading for the estimated page load savings of opportunity audits.",
          "type": "string"
        },
        "dropdownPrintExpanded": {
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog.",
          "type": "string"
        },
        "dropdownPrintSummary": {
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog.",
          "type": "string"
        },
        "runtimeSettingsNetworkThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any."
        },
        "snippetExpandButtonLabel": {
          "description": "The label for the button to show all lines of a snippet",
          "type": "string"
        },
        "calculatorLink": {
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics.",
          "type": "string"
        },
        "dropdownCopyJSON": {
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard.",
          "type": "string"
        },
        "passedAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that are passing."
        },
        "dropdownViewer": {
          "type": "string",
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application."
        },
        "runtimeSettingsAxeVersion": {
          "type": "string",
          "description": "Label for a row in a table that shows the version of the Axe library used"
        },
        "errorLabel": {
          "description": "The label shown next to an audit or metric that has had an error.",
          "type": "string"
        },
        "thirdPartyResourcesLabel": {
          "type": "string",
          "description": "This label is for a filter checkbox above a table of items"
        },
        "crcLongestDurationLabel": {
          "description": "The label for values shown in the summary of critical request chains.",
          "type": "string"
        },
        "runtimeNoEmulation": {
          "description": "Descriptive explanation for emulation setting when no device emulation is set.",
          "type": "string"
        },
        "crcInitialNavigation": {
          "type": "string",
          "description": "The label for the initial request in a critical request chain."
        },
        "toplevelWarningsMessage": {
          "description": "The label shown preceding important warnings that may have invalidated an entire report.",
          "type": "string"
        },
        "runtimeSettingsUANetwork": {
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run.",
          "type": "string"
        },
        "errorMissingAuditInfo": {
          "type": "string",
          "description": "The error string shown next to an erroring audit."
        },
        "runtimeSettingsTitle": {
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time.",
          "type": "string"
        },
        "dropdownSaveGist": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist."
        },
        "opportunityResourceColumnLabel": {
          "description": "The heading for the estimated page load savings opportunity of an audit.",
          "type": "string"
        },
        "scorescaleLabel": {
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100).",
          "type": "string"
        },
        "runtimeSettingsFetchTime": {
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC.",
          "type": "string"
        },
        "dropdownSaveHTML": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file."
        },
        "lsPerformanceCategoryDescription": {
          "description": "The disclaimer shown under performance explaining that the network can vary.",
          "type": "string"
        },
        "showRelevantAudits": {
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric.",
          "type": "string"
        },
        "dropdownDarkTheme": {
          "type": "string",
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes."
        },
        "runtimeSettingsChannel": {
          "type": "string",
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc)."
        },
        "runtimeSettingsDevice": {
          "type": "string",
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc."
        },
        "runtimeUnknown": {
          "type": "string",
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value."
        },
        "warningAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that have warnings"
        },
        "runtimeMobileEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device.",
          "type": "string"
        },
        "manualAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that were not computerd in the run."
        },
        "auditGroupExpandTooltip": {
          "type": "string",
          "description": "The tooltip text on an expandable chevron icon."
        },
        "runtimeSettingsBenchmark": {
          "type": "string",
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783."
        },
        "footerIssue": {
          "type": "string",
          "description": "Label for button to create an issue against the Lighthouse GitHub project."
        },
        "dropdownSaveJSON": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file."
        },
        "varianceDisclaimer": {
          "type": "string",
          "description": "The disclaimer shown below a performance metric value."
        },
        "runtimeSettingsUA": {
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse.",
          "type": "string"
        },
        "runtimeSettingsUrl": {
          "type": "string",
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run."
        },
        "viewTreemapLabel": {
          "type": "string",
          "description": "Label for a button that opens the Treemap App"
        },
        "notApplicableAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that do not apply to a page."
        },
        "snippetCollapseButtonLabel": {
          "description": "The label for the button to show only a few lines of a snippet",
          "type": "string"
        }
      },
      "description": "Message holding the formatted strings used in the renderer."
    },
    "MetricSavings": {
      "id": "MetricSavings",
      "description": "The metric savings of the audit.",
      "type": "object",
      "properties": {
        "LCP": {
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric.",
          "type": "number"
        },
        "TBT": {
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric.",
          "type": "number",
          "format": "double"
        },
        "CLS": {
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric.",
          "type": "number"
        },
        "INP": {
          "format": "double",
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric."
        },
        "FCP": {
          "format": "double",
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric."
        }
      }
    },
    "LhrEntity": {
      "id": "LhrEntity",
      "description": "Message containing an Entity.",
      "type": "object",
      "properties": {
        "homepage": {
          "type": "string",
          "description": "Optional. An optional homepage URL of the entity."
        },
        "isUnrecognized": {
          "description": "Optional. An optional flag indicating if the entity is not recognized.",
          "type": "boolean"
        },
        "name": {
          "description": "Required. Name of the entity.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "Optional. An optional category name for the entity."
        },
        "origins": {
          "description": "Required. A list of URL origin strings that belong to this entity.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isFirstParty": {
          "type": "boolean",
          "description": "Optional. An optional flag indicating if the entity is the first party."
        }
      }
    },
    "Bucket": {
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond.",
      "type": "object",
      "properties": {
        "max": {
          "format": "int32",
          "type": "integer",
          "description": "Upper bound for a bucket's range."
        },
        "proportion": {
          "format": "double",
          "type": "number",
          "description": "The proportion of data in this bucket."
        },
        "min": {
          "format": "int32",
          "type": "integer",
          "description": "Lower bound for a bucket's range."
        }
      },
      "id": "Bucket"
    },
    "I18n": {
      "description": "Message containing the i18n data for the LHR - Version 1.",
      "type": "object",
      "properties": {
        "rendererFormattedStrings": {
          "$ref": "RendererFormattedStrings",
          "description": "Internationalized strings that are formatted to the locale in configSettings."
        }
      },
      "id": "I18n"
    },
    "PagespeedVersion": {
      "description": "The Pagespeed Version object.",
      "type": "object",
      "properties": {
        "major": {
          "description": "The major version number of PageSpeed used to generate these results.",
          "type": "string"
        },
        "minor": {
          "type": "string",
          "description": "The minor version number of PageSpeed used to generate these results."
        }
      },
      "id": "PagespeedVersion"
    },
    "RuntimeError": {
      "id": "RuntimeError",
      "description": "Message containing a runtime error config.",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A human readable message explaining the error code."
        },
        "code": {
          "type": "string",
          "description": "The enumerated Lighthouse Error code."
        }
      }
    },
    "CategoryGroupV5": {
      "id": "CategoryGroupV5",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of what the category is grouping",
          "type": "string"
        },
        "title": {
          "description": "The human readable title of the group",
          "type": "string"
        }
      },
      "description": "Message containing a category"
    },
    "LighthouseResultV5": {
      "type": "object",
      "properties": {
        "stackPacks": {
          "items": {
            "$ref": "StackPack"
          },
          "type": "array",
          "description": "The Stack Pack advice strings."
        },
        "requestedUrl": {
          "type": "string",
          "description": "The original requested url."
        },
        "audits": {
          "description": "Map of audits in the LHR.",
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          },
          "type": "object"
        },
        "runWarnings": {
          "items": {
            "type": "any"
          },
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`.",
          "type": "array"
        },
        "environment": {
          "$ref": "Environment",
          "description": "Environment settings that were used when making this LHR."
        },
        "finalDisplayedUrl": {
          "type": "string",
          "description": "URL displayed on the page after Lighthouse finishes."
        },
        "configSettings": {
          "description": "The configuration settings for this LHR.",
          "$ref": "ConfigSettings"
        },
        "fullPageScreenshot": {
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results.",
          "type": "any"
        },
        "userAgent": {
          "description": "The user agent that was used to run this LHR.",
          "type": "string"
        },
        "timing": {
          "description": "Timing information for this LHR.",
          "$ref": "Timing"
        },
        "lighthouseVersion": {
          "type": "string",
          "description": "The lighthouse version that was used to generate this LHR."
        },
        "categories": {
          "description": "Map of categories in the LHR.",
          "$ref": "Categories"
        },
        "categoryGroups": {
          "description": "Map of category groups in the LHR.",
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          },
          "type": "object"
        },
        "i18n": {
          "description": "The internationalization strings that are required to render the LHR.",
          "$ref": "I18n"
        },
        "finalUrl": {
          "description": "The final resolved url that was audited.",
          "type": "string"
        },
        "runtimeError": {
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded.",
          "$ref": "RuntimeError"
        },
        "entities": {
          "items": {
            "$ref": "LhrEntity"
          },
          "description": "Entity classification data.",
          "type": "array"
        },
        "fetchTime": {
          "description": "The time that this run was fetched.",
          "type": "string"
        },
        "mainDocumentUrl": {
          "type": "string",
          "description": "URL of the main document request of the final navigation."
        }
      },
      "description": "The Lighthouse result object.",
      "id": "LighthouseResultV5"
    },
    "LighthouseAuditResultV5": {
      "description": "An audit's result object in a Lighthouse result.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the audit."
        },
        "displayValue": {
          "type": "string",
          "description": "The value that should be displayed on the UI for this audit."
        },
        "score": {
          "description": "The score of the audit, can be null.",
          "type": "any"
        },
        "details": {
          "description": "Freeform details section of the audit.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "metricSavings": {
          "$ref": "MetricSavings",
          "description": "The metric savings of the audit."
        },
        "scoreDisplayMode": {
          "description": "The enumerated score display mode.",
          "type": "string"
        },
        "title": {
          "description": "The human readable title.",
          "type": "string"
        },
        "explanation": {
          "description": "An explanation of the errors in the audit.",
          "type": "string"
        },
        "errorMessage": {
          "description": "An error message from a thrown error inside the audit.",
          "type": "string"
        },
        "warnings": {
          "type": "any",
          "description": "Possible warnings that occurred in the audit, can be null."
        },
        "numericUnit": {
          "type": "string",
          "description": "The unit of the numeric_value field. Used to format the numeric value for display."
        },
        "id": {
          "description": "The audit's id.",
          "type": "string"
        },
        "numericValue": {
          "format": "double",
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present.",
          "type": "number"
        }
      },
      "id": "LighthouseAuditResultV5"
    },
    "ConfigSettings": {
      "id": "ConfigSettings",
      "description": "Message containing the configuration settings for the Lighthouse run.",
      "type": "object",
      "properties": {
        "onlyCategories": {
          "description": "List of categories of audits the run should conduct.",
          "type": "any"
        },
        "emulatedFormFactor": {
          "deprecated": true,
          "type": "string",
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead."
        },
        "formFactor": {
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop.",
          "type": "string"
        },
        "locale": {
          "description": "The locale setting.",
          "type": "string"
        },
        "channel": {
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module.",
          "type": "string"
        }
      }
    },
    "Timing": {
      "id": "Timing",
      "description": "Message containing the performance timing data for the Lighthouse run.",
      "type": "object",
      "properties": {
        "total": {
          "type": "number",
          "description": "The total duration of Lighthouse's run.",
          "format": "double"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "title": "PageSpeed Insights API",
  "ownerName": "Google",
  "version": "v5",
  "basePath": "",
  "name": "pagespeedonline",
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "id": "pagespeedonline:v5"
}