{
  "title": "PageSpeed Insights API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "basePath": "",
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "version": "v5",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "name": "pagespeedonline",
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "canonicalName": "Pagespeed Insights",
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "path": "pagespeedonline/v5/runPagespeed",
          "httpMethod": "GET",
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "parameters": {
            "utm_campaign": {
              "location": "query",
              "description": "Campaign name for analytics.",
              "type": "string"
            },
            "captchaToken": {
              "description": "The captcha token passed when filling out a captcha.",
              "location": "query",
              "type": "string"
            },
            "category": {
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false,
                false
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO",
                "AGENTIC_BROWSING"
              ],
              "repeated": true,
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines.",
                "Agentic Browsing, category pertaining to a website's ability to be rendered by an agentic browsing system."
              ],
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run"
            },
            "strategy": {
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ],
              "type": "string",
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ],
              "location": "query",
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default"
            },
            "utm_source": {
              "description": "Campaign source for analytics.",
              "location": "query",
              "type": "string"
            },
            "locale": {
              "location": "query",
              "description": "The locale used to localize formatted results",
              "type": "string",
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?"
            },
            "url": {
              "type": "string",
              "pattern": "(?i)(url:|origin:)?http(s)?://.*",
              "description": "Required. The URL to fetch and analyze",
              "required": true,
              "location": "query"
            }
          },
          "parameterOrder": [
            "url"
          ],
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "scopes": [
            "openid"
          ],
          "id": "pagespeedonline.pagespeedapi.runpagespeed"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "ownerName": "Google",
  "id": "pagespeedonline:v5",
  "baseUrl": "https://pagespeedonline.googleapis.com/",
  "revision": "20260904",
  "servicePath": "",
  "discoveryVersion": "v1",
  "schemas": {
    "LhrEntity": {
      "description": "Message containing an Entity.",
      "id": "LhrEntity",
      "type": "object",
      "properties": {
        "isFirstParty": {
          "type": "boolean",
          "description": "Optional. An optional flag indicating if the entity is the first party."
        },
        "isUnrecognized": {
          "type": "boolean",
          "description": "Optional. An optional flag indicating if the entity is not recognized."
        },
        "name": {
          "description": "Required. Name of the entity.",
          "type": "string"
        },
        "homepage": {
          "description": "Optional. An optional homepage URL of the entity.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "Optional. An optional category name for the entity."
        },
        "origins": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of URL origin strings that belong to this entity.",
          "type": "array"
        }
      }
    },
    "PagespeedApiPagespeedResponseV5": {
      "type": "object",
      "id": "PagespeedApiPagespeedResponseV5",
      "description": "The Pagespeed API response object.",
      "properties": {
        "analysisUTCTimestamp": {
          "type": "string",
          "description": "The UTC timestamp of this analysis."
        },
        "id": {
          "description": "Canonicalized and final URL for the document, after following page redirects (if any).",
          "type": "string"
        },
        "originLoadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of the aggregated page loading experience of the origin"
        },
        "loadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of end users' page loading experience."
        },
        "kind": {
          "type": "string",
          "description": "Kind of result."
        },
        "lighthouseResult": {
          "$ref": "LighthouseResultV5",
          "description": "Lighthouse response for the audit url as an object."
        },
        "version": {
          "$ref": "PagespeedVersion",
          "description": "The version of PageSpeed used to generate these results."
        },
        "captchaResult": {
          "description": "The captcha verify result",
          "type": "string"
        }
      }
    },
    "Bucket": {
      "properties": {
        "max": {
          "description": "Upper bound for a bucket's range.",
          "type": "integer",
          "format": "int32"
        },
        "min": {
          "format": "int32",
          "description": "Lower bound for a bucket's range.",
          "type": "integer"
        },
        "proportion": {
          "description": "The proportion of data in this bucket.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "Bucket",
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond."
    },
    "StackPack": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The stack pack title."
        },
        "id": {
          "type": "string",
          "description": "The stack pack id."
        },
        "descriptions": {
          "description": "The stack pack advice strings.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "iconDataURL": {
          "type": "string",
          "description": "The stack pack icon data uri."
        }
      },
      "id": "StackPack",
      "description": "Message containing Stack Pack information.",
      "type": "object"
    },
    "RendererFormattedStrings": {
      "properties": {
        "varianceDisclaimer": {
          "type": "string",
          "description": "The disclaimer shown below a performance metric value."
        },
        "runtimeSettingsCPUThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any."
        },
        "snippetExpandButtonLabel": {
          "description": "The label for the button to show all lines of a snippet",
          "type": "string"
        },
        "showRelevantAudits": {
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric.",
          "type": "string"
        },
        "footerIssue": {
          "description": "Label for button to create an issue against the Lighthouse GitHub project.",
          "type": "string"
        },
        "runtimeSettingsFetchTime": {
          "type": "string",
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC."
        },
        "runtimeSettingsUrl": {
          "type": "string",
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run."
        },
        "runtimeSettingsTitle": {
          "type": "string",
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time."
        },
        "labDataTitle": {
          "description": "The title of the lab data performance category.",
          "type": "string"
        },
        "auditGroupExpandTooltip": {
          "description": "The tooltip text on an expandable chevron icon.",
          "type": "string"
        },
        "toplevelWarningsMessage": {
          "type": "string",
          "description": "The label shown preceding important warnings that may have invalidated an entire report."
        },
        "crcLongestDurationLabel": {
          "description": "The label for values shown in the summary of critical request chains.",
          "type": "string"
        },
        "dropdownSaveJSON": {
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file.",
          "type": "string"
        },
        "dropdownSaveHTML": {
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file.",
          "type": "string"
        },
        "throttlingProvided": {
          "type": "string",
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling."
        },
        "calculatorLink": {
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics.",
          "type": "string"
        },
        "runtimeSettingsDevice": {
          "type": "string",
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc."
        },
        "dropdownSaveGist": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist."
        },
        "passedAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that are passing."
        },
        "runtimeSettingsChannel": {
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc).",
          "type": "string"
        },
        "runtimeSettingsAxeVersion": {
          "description": "Label for a row in a table that shows the version of the Axe library used",
          "type": "string"
        },
        "dropdownViewer": {
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application.",
          "type": "string"
        },
        "runtimeMobileEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device."
        },
        "dropdownPrintSummary": {
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog.",
          "type": "string"
        },
        "errorLabel": {
          "type": "string",
          "description": "The label shown next to an audit or metric that has had an error."
        },
        "lsPerformanceCategoryDescription": {
          "description": "The disclaimer shown under performance explaining that the network can vary.",
          "type": "string"
        },
        "runtimeDesktopEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor.",
          "type": "string"
        },
        "runtimeSettingsUA": {
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse.",
          "type": "string"
        },
        "crcInitialNavigation": {
          "type": "string",
          "description": "The label for the initial request in a critical request chain."
        },
        "runtimeSettingsNetworkThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any."
        },
        "runtimeNoEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when no device emulation is set."
        },
        "warningHeader": {
          "description": "The label shown above a bulleted list of warnings.",
          "type": "string"
        },
        "notApplicableAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that do not apply to a page."
        },
        "thirdPartyResourcesLabel": {
          "type": "string",
          "description": "This label is for a filter checkbox above a table of items"
        },
        "runtimeSettingsUANetwork": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run."
        },
        "dropdownPrintExpanded": {
          "type": "string",
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog."
        },
        "warningAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that have warnings"
        },
        "runtimeUnknown": {
          "type": "string",
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value."
        },
        "errorMissingAuditInfo": {
          "description": "The error string shown next to an erroring audit.",
          "type": "string"
        },
        "opportunityResourceColumnLabel": {
          "description": "The heading for the estimated page load savings opportunity of an audit.",
          "type": "string"
        },
        "opportunitySavingsColumnLabel": {
          "description": "The heading for the estimated page load savings of opportunity audits.",
          "type": "string"
        },
        "snippetCollapseButtonLabel": {
          "description": "The label for the button to show only a few lines of a snippet",
          "type": "string"
        },
        "dropdownCopyJSON": {
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard.",
          "type": "string"
        },
        "runtimeSettingsBenchmark": {
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783.",
          "type": "string"
        },
        "manualAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that were not computerd in the run.",
          "type": "string"
        },
        "viewTreemapLabel": {
          "description": "Label for a button that opens the Treemap App",
          "type": "string"
        },
        "scorescaleLabel": {
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100).",
          "type": "string"
        },
        "dropdownDarkTheme": {
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes.",
          "type": "string"
        }
      },
      "id": "RendererFormattedStrings",
      "description": "Message holding the formatted strings used in the renderer.",
      "type": "object"
    },
    "I18n": {
      "type": "object",
      "description": "Message containing the i18n data for the LHR - Version 1.",
      "properties": {
        "rendererFormattedStrings": {
          "description": "Internationalized strings that are formatted to the locale in configSettings.",
          "$ref": "RendererFormattedStrings"
        }
      },
      "id": "I18n"
    },
    "LighthouseCategoryV5": {
      "description": "A Lighthouse category.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A more detailed description of the category and its importance."
        },
        "categoryScoreDisplayMode": {
          "enumDescriptions": [
            "Default UNDEFINED category.",
            "Display the score as a standard circular gauge (default)",
            "Display the score as a fraction, e.g. \"3/5\""
          ],
          "type": "string",
          "description": "Optional. How the category score should be displayed (e.g. as a fraction).",
          "enum": [
            "CATEGORY_SCORE_DISPLAY_MODE_UNSPECIFIED",
            "GAUGE",
            "FRACTION"
          ]
        },
        "manualDescription": {
          "type": "string",
          "description": "A description for the manual audits in the category."
        },
        "auditRefs": {
          "description": "An array of references to all the audit members of this category.",
          "items": {
            "$ref": "AuditRefs"
          },
          "type": "array"
        },
        "score": {
          "type": "any",
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)"
        },
        "id": {
          "description": "The string identifier of the category.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The human-friendly name of the category."
        }
      },
      "id": "LighthouseCategoryV5"
    },
    "Timing": {
      "properties": {
        "total": {
          "type": "number",
          "format": "double",
          "description": "The total duration of Lighthouse's run."
        }
      },
      "id": "Timing",
      "type": "object",
      "description": "Message containing the performance timing data for the Lighthouse run."
    },
    "ConfigSettings": {
      "description": "Message containing the configuration settings for the Lighthouse run.",
      "id": "ConfigSettings",
      "properties": {
        "channel": {
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module.",
          "type": "string"
        },
        "locale": {
          "type": "string",
          "description": "The locale setting."
        },
        "formFactor": {
          "type": "string",
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop."
        },
        "onlyCategories": {
          "type": "any",
          "description": "List of categories of audits the run should conduct."
        },
        "emulatedFormFactor": {
          "deprecated": true,
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuditRefs": {
      "id": "AuditRefs",
      "properties": {
        "relevantAudits": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Any audit IDs closely relevant to this one."
        },
        "weight": {
          "format": "double",
          "type": "number",
          "description": "The weight this audit's score has on the overall category score."
        },
        "id": {
          "type": "string",
          "description": "The audit ref id."
        },
        "group": {
          "description": "The category group that the audit belongs to (optional).",
          "type": "string"
        },
        "acronym": {
          "type": "string",
          "description": "The conventional acronym for the audit/metric."
        }
      },
      "type": "object",
      "description": "A light reference to an audit by id, used to group and weight audits in a given category."
    },
    "Environment": {
      "type": "object",
      "description": "Message containing environment configuration for a Lighthouse run.",
      "properties": {
        "credits": {
          "description": "The version of libraries with which these results were generated. Ex: axe-core.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "benchmarkIndex": {
          "format": "double",
          "description": "The benchmark index number that indicates rough device class.",
          "type": "number"
        },
        "networkUserAgent": {
          "type": "string",
          "description": "The user agent string that was sent over the network."
        },
        "hostUserAgent": {
          "type": "string",
          "description": "The user agent string of the version of Chrome used."
        }
      },
      "id": "Environment"
    },
    "Categories": {
      "description": "The categories in a Lighthouse run.",
      "id": "Categories",
      "type": "object",
      "properties": {
        "performance": {
          "description": "The performance category, containing all performance related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "pwa": {
          "$ref": "LighthouseCategoryV5",
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release.",
          "deprecated": true
        },
        "accessibility": {
          "description": "The accessibility category, containing all accessibility related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "agentic-browsing": {
          "description": "The agentic browsing category, containing all agentic browsing related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "best-practices": {
          "description": "The best practices category, containing all best practices related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "seo": {
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits.",
          "$ref": "LighthouseCategoryV5"
        }
      }
    },
    "RuntimeError": {
      "description": "Message containing a runtime error config.",
      "properties": {
        "code": {
          "description": "The enumerated Lighthouse Error code.",
          "type": "string"
        },
        "message": {
          "description": "A human readable message explaining the error code.",
          "type": "string"
        }
      },
      "id": "RuntimeError",
      "type": "object"
    },
    "LighthouseAuditResultV5": {
      "type": "object",
      "description": "An audit's result object in a Lighthouse result.",
      "properties": {
        "errorMessage": {
          "description": "An error message from a thrown error inside the audit.",
          "type": "string"
        },
        "score": {
          "description": "The score of the audit, can be null.",
          "type": "any"
        },
        "description": {
          "type": "string",
          "description": "The description of the audit."
        },
        "details": {
          "description": "Freeform details section of the audit.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "scoreDisplayMode": {
          "type": "string",
          "description": "The enumerated score display mode."
        },
        "numericUnit": {
          "description": "The unit of the numeric_value field. Used to format the numeric value for display.",
          "type": "string"
        },
        "explanation": {
          "type": "string",
          "description": "An explanation of the errors in the audit."
        },
        "warnings": {
          "type": "any",
          "description": "Possible warnings that occurred in the audit, can be null."
        },
        "id": {
          "type": "string",
          "description": "The audit's id."
        },
        "numericValue": {
          "type": "number",
          "format": "double",
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present."
        },
        "title": {
          "description": "The human readable title.",
          "type": "string"
        },
        "metricSavings": {
          "$ref": "MetricSavings",
          "description": "The metric savings of the audit."
        },
        "displayValue": {
          "type": "string",
          "description": "The value that should be displayed on the UI for this audit."
        }
      },
      "id": "LighthouseAuditResultV5"
    },
    "LighthouseResultV5": {
      "description": "The Lighthouse result object.",
      "type": "object",
      "properties": {
        "audits": {
          "description": "Map of audits in the LHR.",
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          },
          "type": "object"
        },
        "finalDisplayedUrl": {
          "description": "URL displayed on the page after Lighthouse finishes.",
          "type": "string"
        },
        "userAgent": {
          "description": "The user agent that was used to run this LHR.",
          "type": "string"
        },
        "i18n": {
          "$ref": "I18n",
          "description": "The internationalization strings that are required to render the LHR."
        },
        "mainDocumentUrl": {
          "type": "string",
          "description": "URL of the main document request of the final navigation."
        },
        "lighthouseVersion": {
          "description": "The lighthouse version that was used to generate this LHR.",
          "type": "string"
        },
        "runWarnings": {
          "type": "array",
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`.",
          "items": {
            "type": "any"
          }
        },
        "environment": {
          "description": "Environment settings that were used when making this LHR.",
          "$ref": "Environment"
        },
        "fullPageScreenshot": {
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results.",
          "type": "any"
        },
        "fetchTime": {
          "type": "string",
          "description": "The time that this run was fetched."
        },
        "categoryGroups": {
          "type": "object",
          "description": "Map of category groups in the LHR.",
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          }
        },
        "timing": {
          "$ref": "Timing",
          "description": "Timing information for this LHR."
        },
        "stackPacks": {
          "description": "The Stack Pack advice strings.",
          "type": "array",
          "items": {
            "$ref": "StackPack"
          }
        },
        "entities": {
          "items": {
            "$ref": "LhrEntity"
          },
          "description": "Entity classification data.",
          "type": "array"
        },
        "requestedUrl": {
          "description": "The original requested url.",
          "type": "string"
        },
        "finalUrl": {
          "description": "The final resolved url that was audited.",
          "type": "string"
        },
        "runtimeError": {
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded.",
          "$ref": "RuntimeError"
        },
        "configSettings": {
          "description": "The configuration settings for this LHR.",
          "$ref": "ConfigSettings"
        },
        "categories": {
          "description": "Map of categories in the LHR.",
          "$ref": "Categories"
        }
      },
      "id": "LighthouseResultV5"
    },
    "PagespeedApiLoadingExperienceV5": {
      "id": "PagespeedApiLoadingExperienceV5",
      "properties": {
        "metrics": {
          "description": "The map of .",
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          },
          "type": "object"
        },
        "origin_fallback": {
          "type": "boolean",
          "description": "True if the result is an origin fallback from a page, false otherwise."
        },
        "id": {
          "description": "The url, pattern or origin which the metrics are on.",
          "type": "string"
        },
        "initial_url": {
          "description": "The requested URL, which may differ from the resolved \"id\".",
          "type": "string"
        },
        "overall_category": {
          "type": "string",
          "description": "The human readable speed \"category\" of the id."
        }
      },
      "description": "The CrUX loading experience object that contains CrUX data breakdowns.",
      "type": "object"
    },
    "PagespeedVersion": {
      "properties": {
        "minor": {
          "description": "The minor version number of PageSpeed used to generate these results.",
          "type": "string"
        },
        "major": {
          "type": "string",
          "description": "The major version number of PageSpeed used to generate these results."
        }
      },
      "description": "The Pagespeed Version object.",
      "id": "PagespeedVersion",
      "type": "object"
    },
    "CategoryGroupV5": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of what the category is grouping"
        },
        "title": {
          "type": "string",
          "description": "The human readable title of the group"
        }
      },
      "description": "Message containing a category",
      "id": "CategoryGroupV5"
    },
    "UserPageLoadMetricV5": {
      "type": "object",
      "properties": {
        "percentile": {
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90.",
          "type": "integer",
          "format": "int32"
        },
        "median": {
          "type": "integer",
          "format": "int32",
          "description": "The median number of the metric, in millisecond."
        },
        "metricId": {
          "description": "Identifies the type of the metric.",
          "type": "string"
        },
        "formFactor": {
          "description": "Identifies the form factor of the metric being collected.",
          "type": "string"
        },
        "distributions": {
          "items": {
            "$ref": "Bucket"
          },
          "description": "Metric distributions. Proportions should sum up to 1.",
          "type": "array"
        },
        "category": {
          "description": "The category of the specific time metric.",
          "type": "string"
        }
      },
      "description": "A CrUX metric object for a single metric and form factor.",
      "id": "UserPageLoadMetricV5"
    },
    "MetricSavings": {
      "type": "object",
      "id": "MetricSavings",
      "description": "The metric savings of the audit.",
      "properties": {
        "TBT": {
          "format": "double",
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric."
        },
        "INP": {
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric.",
          "type": "number"
        },
        "LCP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric.",
          "type": "number",
          "format": "double"
        },
        "FCP": {
          "format": "double",
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric."
        },
        "CLS": {
          "type": "number",
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric."
        }
      }
    }
  },
  "version_module": true
}