{
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "parameterOrder": [
            "url"
          ],
          "id": "pagespeedonline.pagespeedapi.runpagespeed",
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "scopes": [
            "openid"
          ],
          "parameters": {
            "strategy": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ],
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ],
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default"
            },
            "url": {
              "pattern": "(?i)(url:|origin:)?http(s)?://.*",
              "required": true,
              "type": "string",
              "location": "query",
              "description": "Required. The URL to fetch and analyze"
            },
            "utm_source": {
              "location": "query",
              "description": "Campaign source for analytics.",
              "type": "string"
            },
            "locale": {
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?",
              "type": "string",
              "description": "The locale used to localize formatted results",
              "location": "query"
            },
            "utm_campaign": {
              "type": "string",
              "location": "query",
              "description": "Campaign name for analytics."
            },
            "category": {
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false,
                false
              ],
              "type": "string",
              "repeated": true,
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines.",
                "Agentic Browsing, category pertaining to a website's ability to be rendered by an agentic browsing system."
              ],
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run",
              "location": "query",
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO",
                "AGENTIC_BROWSING"
              ]
            },
            "captchaToken": {
              "type": "string",
              "location": "query",
              "description": "The captcha token passed when filling out a captcha."
            }
          },
          "path": "pagespeedonline/v5/runPagespeed",
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "httpMethod": "GET"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "servicePath": "",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "baseUrl": "https://pagespeedonline.googleapis.com/",
  "title": "PageSpeed Insights API",
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "batchPath": "batch",
  "schemas": {
    "PagespeedApiLoadingExperienceV5": {
      "description": "The CrUX loading experience object that contains CrUX data breakdowns.",
      "id": "PagespeedApiLoadingExperienceV5",
      "properties": {
        "initial_url": {
          "type": "string",
          "description": "The requested URL, which may differ from the resolved \"id\"."
        },
        "overall_category": {
          "type": "string",
          "description": "The human readable speed \"category\" of the id."
        },
        "id": {
          "type": "string",
          "description": "The url, pattern or origin which the metrics are on."
        },
        "metrics": {
          "type": "object",
          "description": "The map of .",
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          }
        },
        "origin_fallback": {
          "type": "boolean",
          "description": "True if the result is an origin fallback from a page, false otherwise."
        }
      },
      "type": "object"
    },
    "PagespeedApiPagespeedResponseV5": {
      "description": "The Pagespeed API response object.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Canonicalized and final URL for the document, after following page redirects (if any)."
        },
        "captchaResult": {
          "type": "string",
          "description": "The captcha verify result"
        },
        "lighthouseResult": {
          "$ref": "LighthouseResultV5",
          "description": "Lighthouse response for the audit url as an object."
        },
        "originLoadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of the aggregated page loading experience of the origin"
        },
        "kind": {
          "description": "Kind of result.",
          "type": "string"
        },
        "analysisUTCTimestamp": {
          "type": "string",
          "description": "The UTC timestamp of this analysis."
        },
        "loadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of end users' page loading experience."
        },
        "version": {
          "$ref": "PagespeedVersion",
          "description": "The version of PageSpeed used to generate these results."
        }
      },
      "id": "PagespeedApiPagespeedResponseV5"
    },
    "Timing": {
      "description": "Message containing the performance timing data for the Lighthouse run.",
      "type": "object",
      "properties": {
        "total": {
          "type": "number",
          "format": "double",
          "description": "The total duration of Lighthouse's run."
        }
      },
      "id": "Timing"
    },
    "LighthouseResultV5": {
      "description": "The Lighthouse result object.",
      "type": "object",
      "properties": {
        "finalDisplayedUrl": {
          "description": "URL displayed on the page after Lighthouse finishes.",
          "type": "string"
        },
        "runWarnings": {
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "fetchTime": {
          "type": "string",
          "description": "The time that this run was fetched."
        },
        "timing": {
          "$ref": "Timing",
          "description": "Timing information for this LHR."
        },
        "i18n": {
          "description": "The internationalization strings that are required to render the LHR.",
          "$ref": "I18n"
        },
        "stackPacks": {
          "type": "array",
          "items": {
            "$ref": "StackPack"
          },
          "description": "The Stack Pack advice strings."
        },
        "configSettings": {
          "$ref": "ConfigSettings",
          "description": "The configuration settings for this LHR."
        },
        "lighthouseVersion": {
          "type": "string",
          "description": "The lighthouse version that was used to generate this LHR."
        },
        "categories": {
          "$ref": "Categories",
          "description": "Map of categories in the LHR."
        },
        "requestedUrl": {
          "type": "string",
          "description": "The original requested url."
        },
        "environment": {
          "$ref": "Environment",
          "description": "Environment settings that were used when making this LHR."
        },
        "categoryGroups": {
          "type": "object",
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          },
          "description": "Map of category groups in the LHR."
        },
        "mainDocumentUrl": {
          "type": "string",
          "description": "URL of the main document request of the final navigation."
        },
        "userAgent": {
          "type": "string",
          "description": "The user agent that was used to run this LHR."
        },
        "runtimeError": {
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded.",
          "$ref": "RuntimeError"
        },
        "fullPageScreenshot": {
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results.",
          "type": "any"
        },
        "audits": {
          "description": "Map of audits in the LHR.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          }
        },
        "entities": {
          "items": {
            "$ref": "LhrEntity"
          },
          "type": "array",
          "description": "Entity classification data."
        },
        "finalUrl": {
          "type": "string",
          "description": "The final resolved url that was audited."
        }
      },
      "id": "LighthouseResultV5"
    },
    "PagespeedVersion": {
      "description": "The Pagespeed Version object.",
      "properties": {
        "minor": {
          "type": "string",
          "description": "The minor version number of PageSpeed used to generate these results."
        },
        "major": {
          "description": "The major version number of PageSpeed used to generate these results.",
          "type": "string"
        }
      },
      "id": "PagespeedVersion",
      "type": "object"
    },
    "LighthouseCategoryV5": {
      "properties": {
        "score": {
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)",
          "type": "any"
        },
        "title": {
          "description": "The human-friendly name of the category.",
          "type": "string"
        },
        "description": {
          "description": "A more detailed description of the category and its importance.",
          "type": "string"
        },
        "auditRefs": {
          "items": {
            "$ref": "AuditRefs"
          },
          "description": "An array of references to all the audit members of this category.",
          "type": "array"
        },
        "id": {
          "description": "The string identifier of the category.",
          "type": "string"
        },
        "categoryScoreDisplayMode": {
          "description": "Optional. How the category score should be displayed (e.g. as a fraction).",
          "type": "string",
          "enumDescriptions": [
            "Default UNDEFINED category.",
            "Display the score as a standard circular gauge (default)",
            "Display the score as a fraction, e.g. \"3/5\""
          ],
          "enum": [
            "CATEGORY_SCORE_DISPLAY_MODE_UNSPECIFIED",
            "GAUGE",
            "FRACTION"
          ]
        },
        "manualDescription": {
          "type": "string",
          "description": "A description for the manual audits in the category."
        }
      },
      "description": "A Lighthouse category.",
      "id": "LighthouseCategoryV5",
      "type": "object"
    },
    "RendererFormattedStrings": {
      "description": "Message holding the formatted strings used in the renderer.",
      "properties": {
        "passedAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that are passing."
        },
        "runtimeDesktopEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor."
        },
        "runtimeSettingsTitle": {
          "type": "string",
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time."
        },
        "notApplicableAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that do not apply to a page."
        },
        "dropdownPrintSummary": {
          "type": "string",
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog."
        },
        "snippetCollapseButtonLabel": {
          "type": "string",
          "description": "The label for the button to show only a few lines of a snippet"
        },
        "runtimeSettingsUrl": {
          "type": "string",
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run."
        },
        "dropdownSaveJSON": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file."
        },
        "runtimeNoEmulation": {
          "description": "Descriptive explanation for emulation setting when no device emulation is set.",
          "type": "string"
        },
        "runtimeSettingsChannel": {
          "type": "string",
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc)."
        },
        "opportunityResourceColumnLabel": {
          "type": "string",
          "description": "The heading for the estimated page load savings opportunity of an audit."
        },
        "runtimeMobileEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device."
        },
        "thirdPartyResourcesLabel": {
          "description": "This label is for a filter checkbox above a table of items",
          "type": "string"
        },
        "runtimeSettingsCPUThrottling": {
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any.",
          "type": "string"
        },
        "auditGroupExpandTooltip": {
          "description": "The tooltip text on an expandable chevron icon.",
          "type": "string"
        },
        "scorescaleLabel": {
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100).",
          "type": "string"
        },
        "dropdownCopyJSON": {
          "type": "string",
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard."
        },
        "showRelevantAudits": {
          "type": "string",
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric."
        },
        "runtimeSettingsBenchmark": {
          "type": "string",
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783."
        },
        "toplevelWarningsMessage": {
          "type": "string",
          "description": "The label shown preceding important warnings that may have invalidated an entire report."
        },
        "runtimeSettingsDevice": {
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc.",
          "type": "string"
        },
        "runtimeSettingsUA": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse."
        },
        "crcLongestDurationLabel": {
          "description": "The label for values shown in the summary of critical request chains.",
          "type": "string"
        },
        "errorLabel": {
          "description": "The label shown next to an audit or metric that has had an error.",
          "type": "string"
        },
        "errorMissingAuditInfo": {
          "description": "The error string shown next to an erroring audit.",
          "type": "string"
        },
        "opportunitySavingsColumnLabel": {
          "type": "string",
          "description": "The heading for the estimated page load savings of opportunity audits."
        },
        "dropdownDarkTheme": {
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes.",
          "type": "string"
        },
        "dropdownSaveHTML": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file."
        },
        "labDataTitle": {
          "type": "string",
          "description": "The title of the lab data performance category."
        },
        "footerIssue": {
          "description": "Label for button to create an issue against the Lighthouse GitHub project.",
          "type": "string"
        },
        "viewTreemapLabel": {
          "description": "Label for a button that opens the Treemap App",
          "type": "string"
        },
        "runtimeSettingsFetchTime": {
          "type": "string",
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC."
        },
        "dropdownSaveGist": {
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist.",
          "type": "string"
        },
        "throttlingProvided": {
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling.",
          "type": "string"
        },
        "runtimeSettingsAxeVersion": {
          "description": "Label for a row in a table that shows the version of the Axe library used",
          "type": "string"
        },
        "runtimeUnknown": {
          "type": "string",
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value."
        },
        "manualAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that were not computerd in the run.",
          "type": "string"
        },
        "runtimeSettingsUANetwork": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run."
        },
        "calculatorLink": {
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics.",
          "type": "string"
        },
        "warningHeader": {
          "description": "The label shown above a bulleted list of warnings.",
          "type": "string"
        },
        "crcInitialNavigation": {
          "description": "The label for the initial request in a critical request chain.",
          "type": "string"
        },
        "varianceDisclaimer": {
          "description": "The disclaimer shown below a performance metric value.",
          "type": "string"
        },
        "runtimeSettingsNetworkThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any."
        },
        "dropdownViewer": {
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application.",
          "type": "string"
        },
        "lsPerformanceCategoryDescription": {
          "description": "The disclaimer shown under performance explaining that the network can vary.",
          "type": "string"
        },
        "warningAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that have warnings"
        },
        "dropdownPrintExpanded": {
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog.",
          "type": "string"
        },
        "snippetExpandButtonLabel": {
          "description": "The label for the button to show all lines of a snippet",
          "type": "string"
        }
      },
      "id": "RendererFormattedStrings",
      "type": "object"
    },
    "StackPack": {
      "type": "object",
      "description": "Message containing Stack Pack information.",
      "id": "StackPack",
      "properties": {
        "id": {
          "description": "The stack pack id.",
          "type": "string"
        },
        "descriptions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The stack pack advice strings."
        },
        "title": {
          "type": "string",
          "description": "The stack pack title."
        },
        "iconDataURL": {
          "description": "The stack pack icon data uri.",
          "type": "string"
        }
      }
    },
    "LhrEntity": {
      "properties": {
        "homepage": {
          "description": "Optional. An optional homepage URL of the entity.",
          "type": "string"
        },
        "origins": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of URL origin strings that belong to this entity.",
          "type": "array"
        },
        "isUnrecognized": {
          "description": "Optional. An optional flag indicating if the entity is not recognized.",
          "type": "boolean"
        },
        "isFirstParty": {
          "type": "boolean",
          "description": "Optional. An optional flag indicating if the entity is the first party."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the entity."
        },
        "category": {
          "description": "Optional. An optional category name for the entity.",
          "type": "string"
        }
      },
      "description": "Message containing an Entity.",
      "id": "LhrEntity",
      "type": "object"
    },
    "RuntimeError": {
      "properties": {
        "code": {
          "type": "string",
          "description": "The enumerated Lighthouse Error code."
        },
        "message": {
          "description": "A human readable message explaining the error code.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message containing a runtime error config.",
      "id": "RuntimeError"
    },
    "Environment": {
      "description": "Message containing environment configuration for a Lighthouse run.",
      "properties": {
        "credits": {
          "description": "The version of libraries with which these results were generated. Ex: axe-core.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "benchmarkIndex": {
          "description": "The benchmark index number that indicates rough device class.",
          "format": "double",
          "type": "number"
        },
        "networkUserAgent": {
          "type": "string",
          "description": "The user agent string that was sent over the network."
        },
        "hostUserAgent": {
          "type": "string",
          "description": "The user agent string of the version of Chrome used."
        }
      },
      "id": "Environment",
      "type": "object"
    },
    "Bucket": {
      "id": "Bucket",
      "properties": {
        "min": {
          "format": "int32",
          "type": "integer",
          "description": "Lower bound for a bucket's range."
        },
        "max": {
          "format": "int32",
          "description": "Upper bound for a bucket's range.",
          "type": "integer"
        },
        "proportion": {
          "format": "double",
          "type": "number",
          "description": "The proportion of data in this bucket."
        }
      },
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond.",
      "type": "object"
    },
    "MetricSavings": {
      "id": "MetricSavings",
      "type": "object",
      "properties": {
        "TBT": {
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric.",
          "type": "number"
        },
        "INP": {
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric.",
          "format": "double"
        },
        "FCP": {
          "format": "double",
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric."
        },
        "CLS": {
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric.",
          "format": "double"
        },
        "LCP": {
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric.",
          "type": "number"
        }
      },
      "description": "The metric savings of the audit."
    },
    "UserPageLoadMetricV5": {
      "type": "object",
      "id": "UserPageLoadMetricV5",
      "description": "A CrUX metric object for a single metric and form factor.",
      "properties": {
        "category": {
          "type": "string",
          "description": "The category of the specific time metric."
        },
        "distributions": {
          "type": "array",
          "description": "Metric distributions. Proportions should sum up to 1.",
          "items": {
            "$ref": "Bucket"
          }
        },
        "percentile": {
          "format": "int32",
          "type": "integer",
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90."
        },
        "median": {
          "description": "The median number of the metric, in millisecond.",
          "format": "int32",
          "type": "integer"
        },
        "metricId": {
          "type": "string",
          "description": "Identifies the type of the metric."
        },
        "formFactor": {
          "description": "Identifies the form factor of the metric being collected.",
          "type": "string"
        }
      }
    },
    "Categories": {
      "description": "The categories in a Lighthouse run.",
      "properties": {
        "seo": {
          "$ref": "LighthouseCategoryV5",
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits."
        },
        "performance": {
          "$ref": "LighthouseCategoryV5",
          "description": "The performance category, containing all performance related audits."
        },
        "pwa": {
          "deprecated": true,
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release.",
          "$ref": "LighthouseCategoryV5"
        },
        "accessibility": {
          "description": "The accessibility category, containing all accessibility related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "agentic-browsing": {
          "$ref": "LighthouseCategoryV5",
          "description": "The agentic browsing category, containing all agentic browsing related audits."
        },
        "best-practices": {
          "$ref": "LighthouseCategoryV5",
          "description": "The best practices category, containing all best practices related audits."
        }
      },
      "type": "object",
      "id": "Categories"
    },
    "CategoryGroupV5": {
      "id": "CategoryGroupV5",
      "description": "Message containing a category",
      "properties": {
        "title": {
          "type": "string",
          "description": "The human readable title of the group"
        },
        "description": {
          "description": "The description of what the category is grouping",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuditRefs": {
      "description": "A light reference to an audit by id, used to group and weight audits in a given category.",
      "type": "object",
      "id": "AuditRefs",
      "properties": {
        "relevantAudits": {
          "items": {
            "type": "string"
          },
          "description": "Any audit IDs closely relevant to this one.",
          "type": "array"
        },
        "weight": {
          "type": "number",
          "description": "The weight this audit's score has on the overall category score.",
          "format": "double"
        },
        "group": {
          "type": "string",
          "description": "The category group that the audit belongs to (optional)."
        },
        "id": {
          "description": "The audit ref id.",
          "type": "string"
        },
        "acronym": {
          "type": "string",
          "description": "The conventional acronym for the audit/metric."
        }
      }
    },
    "I18n": {
      "type": "object",
      "properties": {
        "rendererFormattedStrings": {
          "description": "Internationalized strings that are formatted to the locale in configSettings.",
          "$ref": "RendererFormattedStrings"
        }
      },
      "id": "I18n",
      "description": "Message containing the i18n data for the LHR - Version 1."
    },
    "LighthouseAuditResultV5": {
      "id": "LighthouseAuditResultV5",
      "properties": {
        "displayValue": {
          "description": "The value that should be displayed on the UI for this audit.",
          "type": "string"
        },
        "scoreDisplayMode": {
          "type": "string",
          "description": "The enumerated score display mode."
        },
        "details": {
          "description": "Freeform details section of the audit.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "score": {
          "description": "The score of the audit, can be null.",
          "type": "any"
        },
        "numericUnit": {
          "description": "The unit of the numeric_value field. Used to format the numeric value for display.",
          "type": "string"
        },
        "numericValue": {
          "type": "number",
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present.",
          "format": "double"
        },
        "errorMessage": {
          "description": "An error message from a thrown error inside the audit.",
          "type": "string"
        },
        "description": {
          "description": "The description of the audit.",
          "type": "string"
        },
        "id": {
          "description": "The audit's id.",
          "type": "string"
        },
        "metricSavings": {
          "description": "The metric savings of the audit.",
          "$ref": "MetricSavings"
        },
        "warnings": {
          "description": "Possible warnings that occurred in the audit, can be null.",
          "type": "any"
        },
        "title": {
          "description": "The human readable title.",
          "type": "string"
        },
        "explanation": {
          "description": "An explanation of the errors in the audit.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An audit's result object in a Lighthouse result."
    },
    "ConfigSettings": {
      "id": "ConfigSettings",
      "properties": {
        "locale": {
          "description": "The locale setting.",
          "type": "string"
        },
        "emulatedFormFactor": {
          "deprecated": true,
          "type": "string",
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead."
        },
        "channel": {
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module.",
          "type": "string"
        },
        "formFactor": {
          "type": "string",
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop."
        },
        "onlyCategories": {
          "description": "List of categories of audits the run should conduct.",
          "type": "any"
        }
      },
      "description": "Message containing the configuration settings for the Lighthouse run.",
      "type": "object"
    }
  },
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "kind": "discovery#restDescription",
  "revision": "20260825",
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "ownerDomain": "google.com",
  "canonicalName": "Pagespeed Insights",
  "version_module": true,
  "name": "pagespeedonline",
  "version": "v5",
  "id": "pagespeedonline:v5"
}