{
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "scopes": [
            "openid"
          ],
          "parameters": {
            "strategy": {
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default",
              "location": "query",
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ],
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ],
              "type": "string"
            },
            "url": {
              "type": "string",
              "location": "query",
              "pattern": "(?i)(url:|origin:)?http(s)?://.*",
              "description": "Required. The URL to fetch and analyze",
              "required": true
            },
            "locale": {
              "location": "query",
              "description": "The locale used to localize formatted results",
              "type": "string",
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?"
            },
            "category": {
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run",
              "type": "string",
              "repeated": true,
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines.",
                "Agentic Browsing, category pertaining to a website's ability to be rendered by an agentic browsing system."
              ],
              "location": "query",
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false,
                false
              ],
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO",
                "AGENTIC_BROWSING"
              ]
            },
            "utm_source": {
              "description": "Campaign source for analytics.",
              "type": "string",
              "location": "query"
            },
            "utm_campaign": {
              "location": "query",
              "type": "string",
              "description": "Campaign name for analytics."
            },
            "captchaToken": {
              "description": "The captcha token passed when filling out a captcha.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "id": "pagespeedonline.pagespeedapi.runpagespeed",
          "path": "pagespeedonline/v5/runPagespeed",
          "parameterOrder": [
            "url"
          ]
        }
      }
    }
  },
  "version": "v5",
  "canonicalName": "Pagespeed Insights",
  "basePath": "",
  "title": "PageSpeed Insights API",
  "version_module": true,
  "discoveryVersion": "v1",
  "schemas": {
    "AuditRefs": {
      "properties": {
        "group": {
          "type": "string",
          "description": "The category group that the audit belongs to (optional)."
        },
        "id": {
          "type": "string",
          "description": "The audit ref id."
        },
        "weight": {
          "description": "The weight this audit's score has on the overall category score.",
          "type": "number",
          "format": "double"
        },
        "relevantAudits": {
          "description": "Any audit IDs closely relevant to this one.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "acronym": {
          "type": "string",
          "description": "The conventional acronym for the audit/metric."
        }
      },
      "id": "AuditRefs",
      "type": "object",
      "description": "A light reference to an audit by id, used to group and weight audits in a given category."
    },
    "Categories": {
      "type": "object",
      "id": "Categories",
      "properties": {
        "best-practices": {
          "$ref": "LighthouseCategoryV5",
          "description": "The best practices category, containing all best practices related audits."
        },
        "pwa": {
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release.",
          "$ref": "LighthouseCategoryV5",
          "deprecated": true
        },
        "agentic-browsing": {
          "$ref": "LighthouseCategoryV5",
          "description": "The agentic browsing category, containing all agentic browsing related audits."
        },
        "performance": {
          "description": "The performance category, containing all performance related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "accessibility": {
          "$ref": "LighthouseCategoryV5",
          "description": "The accessibility category, containing all accessibility related audits."
        },
        "seo": {
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits.",
          "$ref": "LighthouseCategoryV5"
        }
      },
      "description": "The categories in a Lighthouse run."
    },
    "LighthouseAuditResultV5": {
      "description": "An audit's result object in a Lighthouse result.",
      "properties": {
        "errorMessage": {
          "description": "An error message from a thrown error inside the audit.",
          "type": "string"
        },
        "displayValue": {
          "description": "The value that should be displayed on the UI for this audit.",
          "type": "string"
        },
        "details": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Freeform details section of the audit."
        },
        "explanation": {
          "description": "An explanation of the errors in the audit.",
          "type": "string"
        },
        "id": {
          "description": "The audit's id.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The human readable title."
        },
        "warnings": {
          "description": "Possible warnings that occurred in the audit, can be null.",
          "type": "any"
        },
        "numericUnit": {
          "description": "The unit of the numeric_value field. Used to format the numeric value for display.",
          "type": "string"
        },
        "score": {
          "description": "The score of the audit, can be null.",
          "type": "any"
        },
        "numericValue": {
          "format": "double",
          "type": "number",
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present."
        },
        "description": {
          "description": "The description of the audit.",
          "type": "string"
        },
        "metricSavings": {
          "$ref": "MetricSavings",
          "description": "The metric savings of the audit."
        },
        "scoreDisplayMode": {
          "type": "string",
          "description": "The enumerated score display mode."
        }
      },
      "type": "object",
      "id": "LighthouseAuditResultV5"
    },
    "LhrEntity": {
      "id": "LhrEntity",
      "description": "Message containing an Entity.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the entity."
        },
        "category": {
          "description": "Optional. An optional category name for the entity.",
          "type": "string"
        },
        "isFirstParty": {
          "type": "boolean",
          "description": "Optional. An optional flag indicating if the entity is the first party."
        },
        "origins": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of URL origin strings that belong to this entity."
        },
        "homepage": {
          "description": "Optional. An optional homepage URL of the entity.",
          "type": "string"
        },
        "isUnrecognized": {
          "type": "boolean",
          "description": "Optional. An optional flag indicating if the entity is not recognized."
        }
      }
    },
    "PagespeedApiPagespeedResponseV5": {
      "type": "object",
      "id": "PagespeedApiPagespeedResponseV5",
      "description": "The Pagespeed API response object.",
      "properties": {
        "lighthouseResult": {
          "$ref": "LighthouseResultV5",
          "description": "Lighthouse response for the audit url as an object."
        },
        "captchaResult": {
          "description": "The captcha verify result",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Canonicalized and final URL for the document, after following page redirects (if any)."
        },
        "loadingExperience": {
          "description": "Metrics of end users' page loading experience.",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "kind": {
          "type": "string",
          "description": "Kind of result."
        },
        "analysisUTCTimestamp": {
          "description": "The UTC timestamp of this analysis.",
          "type": "string"
        },
        "version": {
          "$ref": "PagespeedVersion",
          "description": "The version of PageSpeed used to generate these results."
        },
        "originLoadingExperience": {
          "description": "Metrics of the aggregated page loading experience of the origin",
          "$ref": "PagespeedApiLoadingExperienceV5"
        }
      }
    },
    "PagespeedApiLoadingExperienceV5": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The url, pattern or origin which the metrics are on."
        },
        "metrics": {
          "description": "The map of .",
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          },
          "type": "object"
        },
        "overall_category": {
          "description": "The human readable speed \"category\" of the id.",
          "type": "string"
        },
        "origin_fallback": {
          "type": "boolean",
          "description": "True if the result is an origin fallback from a page, false otherwise."
        },
        "initial_url": {
          "type": "string",
          "description": "The requested URL, which may differ from the resolved \"id\"."
        }
      },
      "description": "The CrUX loading experience object that contains CrUX data breakdowns.",
      "id": "PagespeedApiLoadingExperienceV5"
    },
    "Environment": {
      "id": "Environment",
      "properties": {
        "networkUserAgent": {
          "description": "The user agent string that was sent over the network.",
          "type": "string"
        },
        "hostUserAgent": {
          "type": "string",
          "description": "The user agent string of the version of Chrome used."
        },
        "credits": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The version of libraries with which these results were generated. Ex: axe-core."
        },
        "benchmarkIndex": {
          "description": "The benchmark index number that indicates rough device class.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Message containing environment configuration for a Lighthouse run.",
      "type": "object"
    },
    "CategoryGroupV5": {
      "type": "object",
      "description": "Message containing a category",
      "properties": {
        "description": {
          "description": "The description of what the category is grouping",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The human readable title of the group"
        }
      },
      "id": "CategoryGroupV5"
    },
    "UserPageLoadMetricV5": {
      "properties": {
        "distributions": {
          "type": "array",
          "items": {
            "$ref": "Bucket"
          },
          "description": "Metric distributions. Proportions should sum up to 1."
        },
        "median": {
          "type": "integer",
          "description": "The median number of the metric, in millisecond.",
          "format": "int32"
        },
        "percentile": {
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90.",
          "type": "integer",
          "format": "int32"
        },
        "metricId": {
          "description": "Identifies the type of the metric.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "The category of the specific time metric."
        },
        "formFactor": {
          "type": "string",
          "description": "Identifies the form factor of the metric being collected."
        }
      },
      "type": "object",
      "id": "UserPageLoadMetricV5",
      "description": "A CrUX metric object for a single metric and form factor."
    },
    "StackPack": {
      "properties": {
        "title": {
          "description": "The stack pack title.",
          "type": "string"
        },
        "id": {
          "description": "The stack pack id.",
          "type": "string"
        },
        "descriptions": {
          "description": "The stack pack advice strings.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "iconDataURL": {
          "description": "The stack pack icon data uri.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StackPack",
      "description": "Message containing Stack Pack information."
    },
    "I18n": {
      "description": "Message containing the i18n data for the LHR - Version 1.",
      "id": "I18n",
      "properties": {
        "rendererFormattedStrings": {
          "$ref": "RendererFormattedStrings",
          "description": "Internationalized strings that are formatted to the locale in configSettings."
        }
      },
      "type": "object"
    },
    "ConfigSettings": {
      "type": "object",
      "properties": {
        "onlyCategories": {
          "description": "List of categories of audits the run should conduct.",
          "type": "any"
        },
        "formFactor": {
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop.",
          "type": "string"
        },
        "locale": {
          "description": "The locale setting.",
          "type": "string"
        },
        "channel": {
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module.",
          "type": "string"
        },
        "emulatedFormFactor": {
          "deprecated": true,
          "type": "string",
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead."
        }
      },
      "id": "ConfigSettings",
      "description": "Message containing the configuration settings for the Lighthouse run."
    },
    "PagespeedVersion": {
      "description": "The Pagespeed Version object.",
      "id": "PagespeedVersion",
      "properties": {
        "minor": {
          "description": "The minor version number of PageSpeed used to generate these results.",
          "type": "string"
        },
        "major": {
          "type": "string",
          "description": "The major version number of PageSpeed used to generate these results."
        }
      },
      "type": "object"
    },
    "RuntimeError": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A human readable message explaining the error code."
        },
        "code": {
          "description": "The enumerated Lighthouse Error code.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message containing a runtime error config.",
      "id": "RuntimeError"
    },
    "LighthouseResultV5": {
      "description": "The Lighthouse result object.",
      "type": "object",
      "id": "LighthouseResultV5",
      "properties": {
        "userAgent": {
          "description": "The user agent that was used to run this LHR.",
          "type": "string"
        },
        "fetchTime": {
          "type": "string",
          "description": "The time that this run was fetched."
        },
        "finalDisplayedUrl": {
          "type": "string",
          "description": "URL displayed on the page after Lighthouse finishes."
        },
        "lighthouseVersion": {
          "type": "string",
          "description": "The lighthouse version that was used to generate this LHR."
        },
        "requestedUrl": {
          "type": "string",
          "description": "The original requested url."
        },
        "fullPageScreenshot": {
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results.",
          "type": "any"
        },
        "categoryGroups": {
          "type": "object",
          "description": "Map of category groups in the LHR.",
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          }
        },
        "runWarnings": {
          "items": {
            "type": "any"
          },
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`.",
          "type": "array"
        },
        "i18n": {
          "$ref": "I18n",
          "description": "The internationalization strings that are required to render the LHR."
        },
        "stackPacks": {
          "items": {
            "$ref": "StackPack"
          },
          "type": "array",
          "description": "The Stack Pack advice strings."
        },
        "mainDocumentUrl": {
          "type": "string",
          "description": "URL of the main document request of the final navigation."
        },
        "runtimeError": {
          "$ref": "RuntimeError",
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded."
        },
        "categories": {
          "$ref": "Categories",
          "description": "Map of categories in the LHR."
        },
        "timing": {
          "description": "Timing information for this LHR.",
          "$ref": "Timing"
        },
        "environment": {
          "$ref": "Environment",
          "description": "Environment settings that were used when making this LHR."
        },
        "audits": {
          "description": "Map of audits in the LHR.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          }
        },
        "finalUrl": {
          "type": "string",
          "description": "The final resolved url that was audited."
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "LhrEntity"
          },
          "description": "Entity classification data."
        },
        "configSettings": {
          "description": "The configuration settings for this LHR.",
          "$ref": "ConfigSettings"
        }
      }
    },
    "Bucket": {
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond.",
      "type": "object",
      "properties": {
        "proportion": {
          "format": "double",
          "type": "number",
          "description": "The proportion of data in this bucket."
        },
        "min": {
          "type": "integer",
          "format": "int32",
          "description": "Lower bound for a bucket's range."
        },
        "max": {
          "format": "int32",
          "type": "integer",
          "description": "Upper bound for a bucket's range."
        }
      },
      "id": "Bucket"
    },
    "MetricSavings": {
      "description": "The metric savings of the audit.",
      "id": "MetricSavings",
      "properties": {
        "FCP": {
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric.",
          "type": "number"
        },
        "INP": {
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric.",
          "type": "number"
        },
        "LCP": {
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric.",
          "type": "number"
        },
        "CLS": {
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric.",
          "type": "number",
          "format": "double"
        },
        "TBT": {
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "RendererFormattedStrings": {
      "description": "Message holding the formatted strings used in the renderer.",
      "id": "RendererFormattedStrings",
      "type": "object",
      "properties": {
        "runtimeSettingsUANetwork": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run."
        },
        "runtimeSettingsFetchTime": {
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC.",
          "type": "string"
        },
        "scorescaleLabel": {
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100).",
          "type": "string"
        },
        "varianceDisclaimer": {
          "description": "The disclaimer shown below a performance metric value.",
          "type": "string"
        },
        "runtimeDesktopEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor."
        },
        "dropdownSaveHTML": {
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file.",
          "type": "string"
        },
        "thirdPartyResourcesLabel": {
          "type": "string",
          "description": "This label is for a filter checkbox above a table of items"
        },
        "dropdownCopyJSON": {
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard.",
          "type": "string"
        },
        "dropdownViewer": {
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application.",
          "type": "string"
        },
        "runtimeSettingsChannel": {
          "type": "string",
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc)."
        },
        "warningHeader": {
          "type": "string",
          "description": "The label shown above a bulleted list of warnings."
        },
        "footerIssue": {
          "description": "Label for button to create an issue against the Lighthouse GitHub project.",
          "type": "string"
        },
        "crcLongestDurationLabel": {
          "type": "string",
          "description": "The label for values shown in the summary of critical request chains."
        },
        "showRelevantAudits": {
          "type": "string",
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric."
        },
        "runtimeSettingsNetworkThrottling": {
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any.",
          "type": "string"
        },
        "errorLabel": {
          "description": "The label shown next to an audit or metric that has had an error.",
          "type": "string"
        },
        "snippetExpandButtonLabel": {
          "type": "string",
          "description": "The label for the button to show all lines of a snippet"
        },
        "auditGroupExpandTooltip": {
          "description": "The tooltip text on an expandable chevron icon.",
          "type": "string"
        },
        "runtimeSettingsDevice": {
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc.",
          "type": "string"
        },
        "dropdownPrintExpanded": {
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog.",
          "type": "string"
        },
        "errorMissingAuditInfo": {
          "description": "The error string shown next to an erroring audit.",
          "type": "string"
        },
        "manualAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that were not computerd in the run."
        },
        "dropdownSaveJSON": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file."
        },
        "lsPerformanceCategoryDescription": {
          "type": "string",
          "description": "The disclaimer shown under performance explaining that the network can vary."
        },
        "opportunitySavingsColumnLabel": {
          "type": "string",
          "description": "The heading for the estimated page load savings of opportunity audits."
        },
        "labDataTitle": {
          "description": "The title of the lab data performance category.",
          "type": "string"
        },
        "warningAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that have warnings",
          "type": "string"
        },
        "notApplicableAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that do not apply to a page."
        },
        "runtimeSettingsUrl": {
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run.",
          "type": "string"
        },
        "dropdownPrintSummary": {
          "type": "string",
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog."
        },
        "runtimeMobileEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device.",
          "type": "string"
        },
        "crcInitialNavigation": {
          "description": "The label for the initial request in a critical request chain.",
          "type": "string"
        },
        "toplevelWarningsMessage": {
          "type": "string",
          "description": "The label shown preceding important warnings that may have invalidated an entire report."
        },
        "passedAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that are passing.",
          "type": "string"
        },
        "runtimeNoEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when no device emulation is set."
        },
        "runtimeSettingsBenchmark": {
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783.",
          "type": "string"
        },
        "runtimeSettingsTitle": {
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time.",
          "type": "string"
        },
        "calculatorLink": {
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics.",
          "type": "string"
        },
        "runtimeSettingsCPUThrottling": {
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any.",
          "type": "string"
        },
        "snippetCollapseButtonLabel": {
          "type": "string",
          "description": "The label for the button to show only a few lines of a snippet"
        },
        "dropdownDarkTheme": {
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes.",
          "type": "string"
        },
        "runtimeSettingsUA": {
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse.",
          "type": "string"
        },
        "runtimeUnknown": {
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value.",
          "type": "string"
        },
        "runtimeSettingsAxeVersion": {
          "type": "string",
          "description": "Label for a row in a table that shows the version of the Axe library used"
        },
        "dropdownSaveGist": {
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist.",
          "type": "string"
        },
        "throttlingProvided": {
          "type": "string",
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling."
        },
        "opportunityResourceColumnLabel": {
          "description": "The heading for the estimated page load savings opportunity of an audit.",
          "type": "string"
        },
        "viewTreemapLabel": {
          "type": "string",
          "description": "Label for a button that opens the Treemap App"
        }
      }
    },
    "Timing": {
      "id": "Timing",
      "type": "object",
      "description": "Message containing the performance timing data for the Lighthouse run.",
      "properties": {
        "total": {
          "description": "The total duration of Lighthouse's run.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "LighthouseCategoryV5": {
      "description": "A Lighthouse category.",
      "properties": {
        "score": {
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)",
          "type": "any"
        },
        "categoryScoreDisplayMode": {
          "description": "Optional. How the category score should be displayed (e.g. as a fraction).",
          "type": "string",
          "enumDescriptions": [
            "Default UNDEFINED category.",
            "Display the score as a standard circular gauge (default)",
            "Display the score as a fraction, e.g. \"3/5\""
          ],
          "enum": [
            "CATEGORY_SCORE_DISPLAY_MODE_UNSPECIFIED",
            "GAUGE",
            "FRACTION"
          ]
        },
        "description": {
          "type": "string",
          "description": "A more detailed description of the category and its importance."
        },
        "id": {
          "type": "string",
          "description": "The string identifier of the category."
        },
        "auditRefs": {
          "items": {
            "$ref": "AuditRefs"
          },
          "type": "array",
          "description": "An array of references to all the audit members of this category."
        },
        "manualDescription": {
          "description": "A description for the manual audits in the category.",
          "type": "string"
        },
        "title": {
          "description": "The human-friendly name of the category.",
          "type": "string"
        }
      },
      "id": "LighthouseCategoryV5",
      "type": "object"
    }
  },
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "revision": "20260904",
  "baseUrl": "https://pagespeedonline.googleapis.com/",
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "name": "pagespeedonline",
  "ownerDomain": "google.com",
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "protocol": "rest",
  "id": "pagespeedonline:v5",
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about"
}