{
  "version_module": true,
  "protocol": "rest",
  "batchPath": "batch",
  "revision": "20260904",
  "basePath": "",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "version": "v5",
  "title": "PageSpeed Insights API",
  "kind": "discovery#restDescription",
  "name": "pagespeedonline",
  "schemas": {
    "RuntimeError": {
      "properties": {
        "message": {
          "description": "A human readable message explaining the error code.",
          "type": "string"
        },
        "code": {
          "description": "The enumerated Lighthouse Error code.",
          "type": "string"
        }
      },
      "id": "RuntimeError",
      "description": "Message containing a runtime error config.",
      "type": "object"
    },
    "PagespeedVersion": {
      "id": "PagespeedVersion",
      "properties": {
        "major": {
          "type": "string",
          "description": "The major version number of PageSpeed used to generate these results."
        },
        "minor": {
          "description": "The minor version number of PageSpeed used to generate these results.",
          "type": "string"
        }
      },
      "description": "The Pagespeed Version object.",
      "type": "object"
    },
    "Bucket": {
      "properties": {
        "min": {
          "description": "Lower bound for a bucket's range.",
          "format": "int32",
          "type": "integer"
        },
        "max": {
          "type": "integer",
          "description": "Upper bound for a bucket's range.",
          "format": "int32"
        },
        "proportion": {
          "description": "The proportion of data in this bucket.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond.",
      "id": "Bucket",
      "type": "object"
    },
    "StackPack": {
      "id": "StackPack",
      "properties": {
        "iconDataURL": {
          "description": "The stack pack icon data uri.",
          "type": "string"
        },
        "descriptions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The stack pack advice strings."
        },
        "title": {
          "description": "The stack pack title.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The stack pack id."
        }
      },
      "type": "object",
      "description": "Message containing Stack Pack information."
    },
    "Categories": {
      "properties": {
        "pwa": {
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release.",
          "$ref": "LighthouseCategoryV5",
          "deprecated": true
        },
        "accessibility": {
          "description": "The accessibility category, containing all accessibility related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "performance": {
          "$ref": "LighthouseCategoryV5",
          "description": "The performance category, containing all performance related audits."
        },
        "best-practices": {
          "$ref": "LighthouseCategoryV5",
          "description": "The best practices category, containing all best practices related audits."
        },
        "agentic-browsing": {
          "description": "The agentic browsing category, containing all agentic browsing related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "seo": {
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits.",
          "$ref": "LighthouseCategoryV5"
        }
      },
      "id": "Categories",
      "description": "The categories in a Lighthouse run.",
      "type": "object"
    },
    "I18n": {
      "properties": {
        "rendererFormattedStrings": {
          "description": "Internationalized strings that are formatted to the locale in configSettings.",
          "$ref": "RendererFormattedStrings"
        }
      },
      "id": "I18n",
      "type": "object",
      "description": "Message containing the i18n data for the LHR - Version 1."
    },
    "LighthouseResultV5": {
      "id": "LighthouseResultV5",
      "type": "object",
      "properties": {
        "entities": {
          "items": {
            "$ref": "LhrEntity"
          },
          "description": "Entity classification data.",
          "type": "array"
        },
        "requestedUrl": {
          "description": "The original requested url.",
          "type": "string"
        },
        "categoryGroups": {
          "description": "Map of category groups in the LHR.",
          "type": "object",
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          }
        },
        "stackPacks": {
          "items": {
            "$ref": "StackPack"
          },
          "type": "array",
          "description": "The Stack Pack advice strings."
        },
        "fetchTime": {
          "description": "The time that this run was fetched.",
          "type": "string"
        },
        "userAgent": {
          "description": "The user agent that was used to run this LHR.",
          "type": "string"
        },
        "fullPageScreenshot": {
          "type": "any",
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results."
        },
        "i18n": {
          "$ref": "I18n",
          "description": "The internationalization strings that are required to render the LHR."
        },
        "runtimeError": {
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded.",
          "$ref": "RuntimeError"
        },
        "timing": {
          "$ref": "Timing",
          "description": "Timing information for this LHR."
        },
        "configSettings": {
          "description": "The configuration settings for this LHR.",
          "$ref": "ConfigSettings"
        },
        "lighthouseVersion": {
          "type": "string",
          "description": "The lighthouse version that was used to generate this LHR."
        },
        "categories": {
          "description": "Map of categories in the LHR.",
          "$ref": "Categories"
        },
        "runWarnings": {
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`.",
          "items": {
            "type": "any"
          },
          "type": "array"
        },
        "environment": {
          "description": "Environment settings that were used when making this LHR.",
          "$ref": "Environment"
        },
        "finalUrl": {
          "description": "The final resolved url that was audited.",
          "type": "string"
        },
        "mainDocumentUrl": {
          "type": "string",
          "description": "URL of the main document request of the final navigation."
        },
        "finalDisplayedUrl": {
          "type": "string",
          "description": "URL displayed on the page after Lighthouse finishes."
        },
        "audits": {
          "description": "Map of audits in the LHR.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          }
        }
      },
      "description": "The Lighthouse result object."
    },
    "PagespeedApiPagespeedResponseV5": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Kind of result."
        },
        "captchaResult": {
          "description": "The captcha verify result",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Canonicalized and final URL for the document, after following page redirects (if any)."
        },
        "originLoadingExperience": {
          "description": "Metrics of the aggregated page loading experience of the origin",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "analysisUTCTimestamp": {
          "type": "string",
          "description": "The UTC timestamp of this analysis."
        },
        "lighthouseResult": {
          "description": "Lighthouse response for the audit url as an object.",
          "$ref": "LighthouseResultV5"
        },
        "version": {
          "$ref": "PagespeedVersion",
          "description": "The version of PageSpeed used to generate these results."
        },
        "loadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of end users' page loading experience."
        }
      },
      "description": "The Pagespeed API response object.",
      "id": "PagespeedApiPagespeedResponseV5"
    },
    "LighthouseAuditResultV5": {
      "description": "An audit's result object in a Lighthouse result.",
      "type": "object",
      "id": "LighthouseAuditResultV5",
      "properties": {
        "numericValue": {
          "format": "double",
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present.",
          "type": "number"
        },
        "score": {
          "description": "The score of the audit, can be null.",
          "type": "any"
        },
        "details": {
          "type": "object",
          "description": "Freeform details section of the audit.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "metricSavings": {
          "description": "The metric savings of the audit.",
          "$ref": "MetricSavings"
        },
        "title": {
          "description": "The human readable title.",
          "type": "string"
        },
        "warnings": {
          "description": "Possible warnings that occurred in the audit, can be null.",
          "type": "any"
        },
        "explanation": {
          "type": "string",
          "description": "An explanation of the errors in the audit."
        },
        "description": {
          "description": "The description of the audit.",
          "type": "string"
        },
        "id": {
          "description": "The audit's id.",
          "type": "string"
        },
        "errorMessage": {
          "description": "An error message from a thrown error inside the audit.",
          "type": "string"
        },
        "numericUnit": {
          "type": "string",
          "description": "The unit of the numeric_value field. Used to format the numeric value for display."
        },
        "scoreDisplayMode": {
          "description": "The enumerated score display mode.",
          "type": "string"
        },
        "displayValue": {
          "description": "The value that should be displayed on the UI for this audit.",
          "type": "string"
        }
      }
    },
    "ConfigSettings": {
      "description": "Message containing the configuration settings for the Lighthouse run.",
      "type": "object",
      "properties": {
        "channel": {
          "type": "string",
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module."
        },
        "formFactor": {
          "type": "string",
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop."
        },
        "emulatedFormFactor": {
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead.",
          "deprecated": true,
          "type": "string"
        },
        "onlyCategories": {
          "description": "List of categories of audits the run should conduct.",
          "type": "any"
        },
        "locale": {
          "description": "The locale setting.",
          "type": "string"
        }
      },
      "id": "ConfigSettings"
    },
    "Environment": {
      "type": "object",
      "id": "Environment",
      "description": "Message containing environment configuration for a Lighthouse run.",
      "properties": {
        "hostUserAgent": {
          "description": "The user agent string of the version of Chrome used.",
          "type": "string"
        },
        "networkUserAgent": {
          "description": "The user agent string that was sent over the network.",
          "type": "string"
        },
        "benchmarkIndex": {
          "description": "The benchmark index number that indicates rough device class.",
          "type": "number",
          "format": "double"
        },
        "credits": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The version of libraries with which these results were generated. Ex: axe-core.",
          "type": "object"
        }
      }
    },
    "UserPageLoadMetricV5": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "The category of the specific time metric."
        },
        "percentile": {
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90.",
          "format": "int32",
          "type": "integer"
        },
        "median": {
          "type": "integer",
          "description": "The median number of the metric, in millisecond.",
          "format": "int32"
        },
        "metricId": {
          "description": "Identifies the type of the metric.",
          "type": "string"
        },
        "formFactor": {
          "type": "string",
          "description": "Identifies the form factor of the metric being collected."
        },
        "distributions": {
          "items": {
            "$ref": "Bucket"
          },
          "type": "array",
          "description": "Metric distributions. Proportions should sum up to 1."
        }
      },
      "description": "A CrUX metric object for a single metric and form factor.",
      "id": "UserPageLoadMetricV5"
    },
    "MetricSavings": {
      "type": "object",
      "id": "MetricSavings",
      "properties": {
        "LCP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric.",
          "type": "number",
          "format": "double"
        },
        "TBT": {
          "format": "double",
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric."
        },
        "FCP": {
          "format": "double",
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric."
        },
        "CLS": {
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric.",
          "type": "number",
          "format": "double"
        },
        "INP": {
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric.",
          "format": "double"
        }
      },
      "description": "The metric savings of the audit."
    },
    "Timing": {
      "properties": {
        "total": {
          "type": "number",
          "format": "double",
          "description": "The total duration of Lighthouse's run."
        }
      },
      "type": "object",
      "description": "Message containing the performance timing data for the Lighthouse run.",
      "id": "Timing"
    },
    "LhrEntity": {
      "type": "object",
      "description": "Message containing an Entity.",
      "id": "LhrEntity",
      "properties": {
        "isFirstParty": {
          "description": "Optional. An optional flag indicating if the entity is the first party.",
          "type": "boolean"
        },
        "origins": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of URL origin strings that belong to this entity.",
          "type": "array"
        },
        "homepage": {
          "description": "Optional. An optional homepage URL of the entity.",
          "type": "string"
        },
        "category": {
          "description": "Optional. An optional category name for the entity.",
          "type": "string"
        },
        "isUnrecognized": {
          "description": "Optional. An optional flag indicating if the entity is not recognized.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the entity."
        }
      }
    },
    "AuditRefs": {
      "description": "A light reference to an audit by id, used to group and weight audits in a given category.",
      "id": "AuditRefs",
      "properties": {
        "relevantAudits": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Any audit IDs closely relevant to this one."
        },
        "group": {
          "type": "string",
          "description": "The category group that the audit belongs to (optional)."
        },
        "weight": {
          "type": "number",
          "format": "double",
          "description": "The weight this audit's score has on the overall category score."
        },
        "acronym": {
          "description": "The conventional acronym for the audit/metric.",
          "type": "string"
        },
        "id": {
          "description": "The audit ref id.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RendererFormattedStrings": {
      "properties": {
        "runtimeDesktopEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor."
        },
        "runtimeSettingsAxeVersion": {
          "description": "Label for a row in a table that shows the version of the Axe library used",
          "type": "string"
        },
        "thirdPartyResourcesLabel": {
          "type": "string",
          "description": "This label is for a filter checkbox above a table of items"
        },
        "scorescaleLabel": {
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100).",
          "type": "string"
        },
        "footerIssue": {
          "description": "Label for button to create an issue against the Lighthouse GitHub project.",
          "type": "string"
        },
        "passedAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that are passing."
        },
        "crcInitialNavigation": {
          "description": "The label for the initial request in a critical request chain.",
          "type": "string"
        },
        "errorMissingAuditInfo": {
          "type": "string",
          "description": "The error string shown next to an erroring audit."
        },
        "notApplicableAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that do not apply to a page."
        },
        "dropdownCopyJSON": {
          "type": "string",
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard."
        },
        "varianceDisclaimer": {
          "type": "string",
          "description": "The disclaimer shown below a performance metric value."
        },
        "runtimeMobileEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device.",
          "type": "string"
        },
        "dropdownViewer": {
          "type": "string",
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application."
        },
        "warningHeader": {
          "description": "The label shown above a bulleted list of warnings.",
          "type": "string"
        },
        "warningAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that have warnings",
          "type": "string"
        },
        "showRelevantAudits": {
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric.",
          "type": "string"
        },
        "dropdownSaveJSON": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file."
        },
        "runtimeSettingsNetworkThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any."
        },
        "toplevelWarningsMessage": {
          "type": "string",
          "description": "The label shown preceding important warnings that may have invalidated an entire report."
        },
        "runtimeSettingsUA": {
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse.",
          "type": "string"
        },
        "runtimeSettingsBenchmark": {
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783.",
          "type": "string"
        },
        "runtimeSettingsFetchTime": {
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC.",
          "type": "string"
        },
        "crcLongestDurationLabel": {
          "type": "string",
          "description": "The label for values shown in the summary of critical request chains."
        },
        "runtimeSettingsDevice": {
          "type": "string",
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc."
        },
        "runtimeSettingsCPUThrottling": {
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any.",
          "type": "string"
        },
        "opportunitySavingsColumnLabel": {
          "type": "string",
          "description": "The heading for the estimated page load savings of opportunity audits."
        },
        "runtimeNoEmulation": {
          "description": "Descriptive explanation for emulation setting when no device emulation is set.",
          "type": "string"
        },
        "runtimeSettingsUrl": {
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run.",
          "type": "string"
        },
        "labDataTitle": {
          "description": "The title of the lab data performance category.",
          "type": "string"
        },
        "snippetCollapseButtonLabel": {
          "type": "string",
          "description": "The label for the button to show only a few lines of a snippet"
        },
        "dropdownPrintExpanded": {
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog.",
          "type": "string"
        },
        "calculatorLink": {
          "type": "string",
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics."
        },
        "snippetExpandButtonLabel": {
          "type": "string",
          "description": "The label for the button to show all lines of a snippet"
        },
        "dropdownSaveHTML": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file."
        },
        "viewTreemapLabel": {
          "description": "Label for a button that opens the Treemap App",
          "type": "string"
        },
        "runtimeSettingsTitle": {
          "type": "string",
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time."
        },
        "opportunityResourceColumnLabel": {
          "description": "The heading for the estimated page load savings opportunity of an audit.",
          "type": "string"
        },
        "dropdownDarkTheme": {
          "type": "string",
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes."
        },
        "runtimeSettingsChannel": {
          "type": "string",
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc)."
        },
        "lsPerformanceCategoryDescription": {
          "description": "The disclaimer shown under performance explaining that the network can vary.",
          "type": "string"
        },
        "auditGroupExpandTooltip": {
          "description": "The tooltip text on an expandable chevron icon.",
          "type": "string"
        },
        "runtimeSettingsUANetwork": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run."
        },
        "dropdownPrintSummary": {
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog.",
          "type": "string"
        },
        "manualAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that were not computerd in the run."
        },
        "dropdownSaveGist": {
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist.",
          "type": "string"
        },
        "errorLabel": {
          "description": "The label shown next to an audit or metric that has had an error.",
          "type": "string"
        },
        "throttlingProvided": {
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling.",
          "type": "string"
        },
        "runtimeUnknown": {
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value.",
          "type": "string"
        }
      },
      "description": "Message holding the formatted strings used in the renderer.",
      "type": "object",
      "id": "RendererFormattedStrings"
    },
    "CategoryGroupV5": {
      "id": "CategoryGroupV5",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of what the category is grouping"
        },
        "title": {
          "type": "string",
          "description": "The human readable title of the group"
        }
      },
      "description": "Message containing a category"
    },
    "PagespeedApiLoadingExperienceV5": {
      "properties": {
        "overall_category": {
          "type": "string",
          "description": "The human readable speed \"category\" of the id."
        },
        "id": {
          "description": "The url, pattern or origin which the metrics are on.",
          "type": "string"
        },
        "metrics": {
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          },
          "description": "The map of .",
          "type": "object"
        },
        "initial_url": {
          "description": "The requested URL, which may differ from the resolved \"id\".",
          "type": "string"
        },
        "origin_fallback": {
          "type": "boolean",
          "description": "True if the result is an origin fallback from a page, false otherwise."
        }
      },
      "type": "object",
      "description": "The CrUX loading experience object that contains CrUX data breakdowns.",
      "id": "PagespeedApiLoadingExperienceV5"
    },
    "LighthouseCategoryV5": {
      "id": "LighthouseCategoryV5",
      "type": "object",
      "properties": {
        "description": {
          "description": "A more detailed description of the category and its importance.",
          "type": "string"
        },
        "categoryScoreDisplayMode": {
          "type": "string",
          "enumDescriptions": [
            "Default UNDEFINED category.",
            "Display the score as a standard circular gauge (default)",
            "Display the score as a fraction, e.g. \"3/5\""
          ],
          "description": "Optional. How the category score should be displayed (e.g. as a fraction).",
          "enum": [
            "CATEGORY_SCORE_DISPLAY_MODE_UNSPECIFIED",
            "GAUGE",
            "FRACTION"
          ]
        },
        "title": {
          "description": "The human-friendly name of the category.",
          "type": "string"
        },
        "score": {
          "type": "any",
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)"
        },
        "id": {
          "type": "string",
          "description": "The string identifier of the category."
        },
        "manualDescription": {
          "description": "A description for the manual audits in the category.",
          "type": "string"
        },
        "auditRefs": {
          "type": "array",
          "items": {
            "$ref": "AuditRefs"
          },
          "description": "An array of references to all the audit members of this category."
        }
      },
      "description": "A Lighthouse category."
    }
  },
  "canonicalName": "Pagespeed Insights",
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "baseUrl": "https://pagespeedonline.googleapis.com/",
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "id": "pagespeedonline.pagespeedapi.runpagespeed",
          "path": "pagespeedonline/v5/runPagespeed",
          "parameterOrder": [
            "url"
          ],
          "parameters": {
            "locale": {
              "description": "The locale used to localize formatted results",
              "location": "query",
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?",
              "type": "string"
            },
            "utm_source": {
              "description": "Campaign source for analytics.",
              "type": "string",
              "location": "query"
            },
            "utm_campaign": {
              "location": "query",
              "description": "Campaign name for analytics.",
              "type": "string"
            },
            "category": {
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false,
                false
              ],
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines.",
                "Agentic Browsing, category pertaining to a website's ability to be rendered by an agentic browsing system."
              ],
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run",
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO",
                "AGENTIC_BROWSING"
              ]
            },
            "strategy": {
              "type": "string",
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default",
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ],
              "location": "query",
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ]
            },
            "url": {
              "type": "string",
              "description": "Required. The URL to fetch and analyze",
              "location": "query",
              "required": true,
              "pattern": "(?i)(url:|origin:)?http(s)?://.*"
            },
            "captchaToken": {
              "type": "string",
              "location": "query",
              "description": "The captcha token passed when filling out a captcha."
            }
          },
          "scopes": [
            "openid"
          ],
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "httpMethod": "GET"
        }
      }
    }
  },
  "id": "pagespeedonline:v5",
  "servicePath": ""
}