{
  "revision": "20260930",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "id": "pagespeedonline:v5",
  "canonicalName": "Pagespeed Insights",
  "batchPath": "batch",
  "baseUrl": "https://pagespeedonline.googleapis.com/",
  "ownerName": "Google",
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "version": "v5",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "discoveryVersion": "v1",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "RendererFormattedStrings": {
      "id": "RendererFormattedStrings",
      "properties": {
        "scorescaleLabel": {
          "type": "string",
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100)."
        },
        "runtimeNoEmulation": {
          "description": "Descriptive explanation for emulation setting when no device emulation is set.",
          "type": "string"
        },
        "labDataTitle": {
          "description": "The title of the lab data performance category.",
          "type": "string"
        },
        "toplevelWarningsMessage": {
          "type": "string",
          "description": "The label shown preceding important warnings that may have invalidated an entire report."
        },
        "lsPerformanceCategoryDescription": {
          "type": "string",
          "description": "The disclaimer shown under performance explaining that the network can vary."
        },
        "runtimeSettingsUrl": {
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run.",
          "type": "string"
        },
        "runtimeSettingsChannel": {
          "type": "string",
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc)."
        },
        "runtimeSettingsTitle": {
          "type": "string",
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time."
        },
        "dropdownSaveHTML": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file."
        },
        "runtimeSettingsUA": {
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse.",
          "type": "string"
        },
        "runtimeSettingsBenchmark": {
          "type": "string",
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783."
        },
        "auditGroupExpandTooltip": {
          "description": "The tooltip text on an expandable chevron icon.",
          "type": "string"
        },
        "errorLabel": {
          "type": "string",
          "description": "The label shown next to an audit or metric that has had an error."
        },
        "warningHeader": {
          "type": "string",
          "description": "The label shown above a bulleted list of warnings."
        },
        "calculatorLink": {
          "type": "string",
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics."
        },
        "dropdownPrintExpanded": {
          "type": "string",
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog."
        },
        "runtimeMobileEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device."
        },
        "footerIssue": {
          "type": "string",
          "description": "Label for button to create an issue against the Lighthouse GitHub project."
        },
        "runtimeSettingsDevice": {
          "type": "string",
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc."
        },
        "dropdownSaveJSON": {
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file.",
          "type": "string"
        },
        "runtimeSettingsNetworkThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any."
        },
        "dropdownCopyJSON": {
          "type": "string",
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard."
        },
        "dropdownPrintSummary": {
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog.",
          "type": "string"
        },
        "runtimeSettingsUANetwork": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run."
        },
        "snippetExpandButtonLabel": {
          "description": "The label for the button to show all lines of a snippet",
          "type": "string"
        },
        "runtimeDesktopEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor.",
          "type": "string"
        },
        "notApplicableAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that do not apply to a page."
        },
        "throttlingProvided": {
          "type": "string",
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling."
        },
        "viewTreemapLabel": {
          "type": "string",
          "description": "Label for a button that opens the Treemap App"
        },
        "crcLongestDurationLabel": {
          "description": "The label for values shown in the summary of critical request chains.",
          "type": "string"
        },
        "passedAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that are passing."
        },
        "dropdownViewer": {
          "type": "string",
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application."
        },
        "dropdownDarkTheme": {
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes.",
          "type": "string"
        },
        "warningAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that have warnings",
          "type": "string"
        },
        "varianceDisclaimer": {
          "type": "string",
          "description": "The disclaimer shown below a performance metric value."
        },
        "runtimeUnknown": {
          "type": "string",
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value."
        },
        "dropdownSaveGist": {
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist.",
          "type": "string"
        },
        "opportunityResourceColumnLabel": {
          "description": "The heading for the estimated page load savings opportunity of an audit.",
          "type": "string"
        },
        "opportunitySavingsColumnLabel": {
          "description": "The heading for the estimated page load savings of opportunity audits.",
          "type": "string"
        },
        "runtimeSettingsFetchTime": {
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC.",
          "type": "string"
        },
        "runtimeSettingsCPUThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any."
        },
        "errorMissingAuditInfo": {
          "description": "The error string shown next to an erroring audit.",
          "type": "string"
        },
        "manualAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that were not computerd in the run."
        },
        "runtimeSettingsAxeVersion": {
          "description": "Label for a row in a table that shows the version of the Axe library used",
          "type": "string"
        },
        "snippetCollapseButtonLabel": {
          "description": "The label for the button to show only a few lines of a snippet",
          "type": "string"
        },
        "thirdPartyResourcesLabel": {
          "type": "string",
          "description": "This label is for a filter checkbox above a table of items"
        },
        "crcInitialNavigation": {
          "type": "string",
          "description": "The label for the initial request in a critical request chain."
        },
        "showRelevantAudits": {
          "type": "string",
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric."
        }
      },
      "type": "object",
      "description": "Message holding the formatted strings used in the renderer."
    },
    "LighthouseResultV5": {
      "id": "LighthouseResultV5",
      "description": "The Lighthouse result object.",
      "type": "object",
      "properties": {
        "entities": {
          "type": "array",
          "description": "Entity classification data.",
          "items": {
            "$ref": "LhrEntity"
          }
        },
        "runtimeError": {
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded.",
          "$ref": "RuntimeError"
        },
        "configSettings": {
          "$ref": "ConfigSettings",
          "description": "The configuration settings for this LHR."
        },
        "lighthouseVersion": {
          "description": "The lighthouse version that was used to generate this LHR.",
          "type": "string"
        },
        "fetchTime": {
          "type": "string",
          "description": "The time that this run was fetched."
        },
        "finalUrl": {
          "description": "The final resolved url that was audited.",
          "type": "string"
        },
        "mainDocumentUrl": {
          "description": "URL of the main document request of the final navigation.",
          "type": "string"
        },
        "requestedUrl": {
          "type": "string",
          "description": "The original requested url."
        },
        "userAgent": {
          "description": "The user agent that was used to run this LHR.",
          "type": "string"
        },
        "categoryGroups": {
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          },
          "description": "Map of category groups in the LHR.",
          "type": "object"
        },
        "environment": {
          "description": "Environment settings that were used when making this LHR.",
          "$ref": "Environment"
        },
        "stackPacks": {
          "items": {
            "$ref": "StackPack"
          },
          "description": "The Stack Pack advice strings.",
          "type": "array"
        },
        "runWarnings": {
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`.",
          "items": {
            "type": "any"
          },
          "type": "array"
        },
        "timing": {
          "description": "Timing information for this LHR.",
          "$ref": "Timing"
        },
        "finalDisplayedUrl": {
          "description": "URL displayed on the page after Lighthouse finishes.",
          "type": "string"
        },
        "categories": {
          "description": "Map of categories in the LHR.",
          "$ref": "Categories"
        },
        "fullPageScreenshot": {
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results.",
          "type": "any"
        },
        "audits": {
          "type": "object",
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          },
          "description": "Map of audits in the LHR."
        },
        "i18n": {
          "$ref": "I18n",
          "description": "The internationalization strings that are required to render the LHR."
        }
      }
    },
    "Environment": {
      "properties": {
        "networkUserAgent": {
          "type": "string",
          "description": "The user agent string that was sent over the network."
        },
        "credits": {
          "description": "The version of libraries with which these results were generated. Ex: axe-core.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "hostUserAgent": {
          "type": "string",
          "description": "The user agent string of the version of Chrome used."
        },
        "benchmarkIndex": {
          "format": "double",
          "type": "number",
          "description": "The benchmark index number that indicates rough device class."
        }
      },
      "type": "object",
      "description": "Message containing environment configuration for a Lighthouse run.",
      "id": "Environment"
    },
    "I18n": {
      "properties": {
        "rendererFormattedStrings": {
          "$ref": "RendererFormattedStrings",
          "description": "Internationalized strings that are formatted to the locale in configSettings."
        }
      },
      "id": "I18n",
      "type": "object",
      "description": "Message containing the i18n data for the LHR - Version 1."
    },
    "PagespeedApiPagespeedResponseV5": {
      "properties": {
        "analysisUTCTimestamp": {
          "type": "string",
          "description": "The UTC timestamp of this analysis."
        },
        "version": {
          "description": "The version of PageSpeed used to generate these results.",
          "$ref": "PagespeedVersion"
        },
        "lighthouseResult": {
          "description": "Lighthouse response for the audit url as an object.",
          "$ref": "LighthouseResultV5"
        },
        "originLoadingExperience": {
          "description": "Metrics of the aggregated page loading experience of the origin",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "kind": {
          "type": "string",
          "description": "Kind of result."
        },
        "captchaResult": {
          "type": "string",
          "description": "The captcha verify result"
        },
        "id": {
          "description": "Canonicalized and final URL for the document, after following page redirects (if any).",
          "type": "string"
        },
        "loadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of end users' page loading experience."
        }
      },
      "type": "object",
      "description": "The Pagespeed API response object.",
      "id": "PagespeedApiPagespeedResponseV5"
    },
    "PagespeedApiLoadingExperienceV5": {
      "description": "The CrUX loading experience object that contains CrUX data breakdowns.",
      "properties": {
        "origin_fallback": {
          "type": "boolean",
          "description": "True if the result is an origin fallback from a page, false otherwise."
        },
        "overall_category": {
          "description": "The human readable speed \"category\" of the id.",
          "type": "string"
        },
        "id": {
          "description": "The url, pattern or origin which the metrics are on.",
          "type": "string"
        },
        "initial_url": {
          "description": "The requested URL, which may differ from the resolved \"id\".",
          "type": "string"
        },
        "metrics": {
          "description": "The map of .",
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          },
          "type": "object"
        }
      },
      "id": "PagespeedApiLoadingExperienceV5",
      "type": "object"
    },
    "Bucket": {
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond.",
      "id": "Bucket",
      "properties": {
        "min": {
          "description": "Lower bound for a bucket's range.",
          "format": "int32",
          "type": "integer"
        },
        "proportion": {
          "type": "number",
          "description": "The proportion of data in this bucket.",
          "format": "double"
        },
        "max": {
          "format": "int32",
          "type": "integer",
          "description": "Upper bound for a bucket's range."
        }
      },
      "type": "object"
    },
    "MetricSavings": {
      "description": "The metric savings of the audit.",
      "type": "object",
      "properties": {
        "CLS": {
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric.",
          "format": "double"
        },
        "TBT": {
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric.",
          "type": "number",
          "format": "double"
        },
        "INP": {
          "format": "double",
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric."
        },
        "FCP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric.",
          "format": "double",
          "type": "number"
        },
        "LCP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "MetricSavings"
    },
    "CategoryGroupV5": {
      "id": "CategoryGroupV5",
      "properties": {
        "description": {
          "description": "The description of what the category is grouping",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The human readable title of the group"
        }
      },
      "type": "object",
      "description": "Message containing a category"
    },
    "StackPack": {
      "type": "object",
      "id": "StackPack",
      "description": "Message containing Stack Pack information.",
      "properties": {
        "descriptions": {
          "description": "The stack pack advice strings.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "id": {
          "type": "string",
          "description": "The stack pack id."
        },
        "iconDataURL": {
          "description": "The stack pack icon data uri.",
          "type": "string"
        },
        "title": {
          "description": "The stack pack title.",
          "type": "string"
        }
      }
    },
    "RuntimeError": {
      "description": "Message containing a runtime error config.",
      "properties": {
        "message": {
          "description": "A human readable message explaining the error code.",
          "type": "string"
        },
        "code": {
          "description": "The enumerated Lighthouse Error code.",
          "type": "string"
        }
      },
      "id": "RuntimeError",
      "type": "object"
    },
    "AuditRefs": {
      "type": "object",
      "description": "A light reference to an audit by id, used to group and weight audits in a given category.",
      "properties": {
        "id": {
          "description": "The audit ref id.",
          "type": "string"
        },
        "weight": {
          "format": "double",
          "type": "number",
          "description": "The weight this audit's score has on the overall category score."
        },
        "acronym": {
          "type": "string",
          "description": "The conventional acronym for the audit/metric."
        },
        "group": {
          "type": "string",
          "description": "The category group that the audit belongs to (optional)."
        },
        "relevantAudits": {
          "items": {
            "type": "string"
          },
          "description": "Any audit IDs closely relevant to this one.",
          "type": "array"
        }
      },
      "id": "AuditRefs"
    },
    "LhrEntity": {
      "description": "Message containing an Entity.",
      "type": "object",
      "id": "LhrEntity",
      "properties": {
        "origins": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of URL origin strings that belong to this entity.",
          "type": "array"
        },
        "name": {
          "description": "Required. Name of the entity.",
          "type": "string"
        },
        "category": {
          "description": "Optional. An optional category name for the entity.",
          "type": "string"
        },
        "isUnrecognized": {
          "type": "boolean",
          "description": "Optional. An optional flag indicating if the entity is not recognized."
        },
        "isFirstParty": {
          "description": "Optional. An optional flag indicating if the entity is the first party.",
          "type": "boolean"
        },
        "homepage": {
          "type": "string",
          "description": "Optional. An optional homepage URL of the entity."
        }
      }
    },
    "Timing": {
      "id": "Timing",
      "description": "Message containing the performance timing data for the Lighthouse run.",
      "properties": {
        "total": {
          "format": "double",
          "description": "The total duration of Lighthouse's run.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "PagespeedVersion": {
      "description": "The Pagespeed Version object.",
      "id": "PagespeedVersion",
      "properties": {
        "major": {
          "type": "string",
          "description": "The major version number of PageSpeed used to generate these results."
        },
        "minor": {
          "description": "The minor version number of PageSpeed used to generate these results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LighthouseAuditResultV5": {
      "properties": {
        "details": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Freeform details section of the audit.",
          "type": "object"
        },
        "numericUnit": {
          "description": "The unit of the numeric_value field. Used to format the numeric value for display.",
          "type": "string"
        },
        "explanation": {
          "type": "string",
          "description": "An explanation of the errors in the audit."
        },
        "title": {
          "description": "The human readable title.",
          "type": "string"
        },
        "warnings": {
          "description": "Possible warnings that occurred in the audit, can be null.",
          "type": "any"
        },
        "displayValue": {
          "type": "string",
          "description": "The value that should be displayed on the UI for this audit."
        },
        "description": {
          "description": "The description of the audit.",
          "type": "string"
        },
        "scoreDisplayMode": {
          "type": "string",
          "description": "The enumerated score display mode."
        },
        "errorMessage": {
          "description": "An error message from a thrown error inside the audit.",
          "type": "string"
        },
        "id": {
          "description": "The audit's id.",
          "type": "string"
        },
        "numericValue": {
          "format": "double",
          "type": "number",
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present."
        },
        "score": {
          "description": "The score of the audit, can be null.",
          "type": "any"
        },
        "metricSavings": {
          "$ref": "MetricSavings",
          "description": "The metric savings of the audit."
        }
      },
      "description": "An audit's result object in a Lighthouse result.",
      "id": "LighthouseAuditResultV5",
      "type": "object"
    },
    "UserPageLoadMetricV5": {
      "properties": {
        "metricId": {
          "type": "string",
          "description": "Identifies the type of the metric."
        },
        "formFactor": {
          "type": "string",
          "description": "Identifies the form factor of the metric being collected."
        },
        "distributions": {
          "description": "Metric distributions. Proportions should sum up to 1.",
          "type": "array",
          "items": {
            "$ref": "Bucket"
          }
        },
        "category": {
          "description": "The category of the specific time metric.",
          "type": "string"
        },
        "median": {
          "type": "integer",
          "description": "The median number of the metric, in millisecond.",
          "format": "int32"
        },
        "percentile": {
          "format": "int32",
          "type": "integer",
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90."
        }
      },
      "description": "A CrUX metric object for a single metric and form factor.",
      "id": "UserPageLoadMetricV5",
      "type": "object"
    },
    "LighthouseCategoryV5": {
      "type": "object",
      "id": "LighthouseCategoryV5",
      "properties": {
        "title": {
          "description": "The human-friendly name of the category.",
          "type": "string"
        },
        "auditRefs": {
          "items": {
            "$ref": "AuditRefs"
          },
          "type": "array",
          "description": "An array of references to all the audit members of this category."
        },
        "score": {
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)",
          "type": "any"
        },
        "description": {
          "type": "string",
          "description": "A more detailed description of the category and its importance."
        },
        "categoryScoreDisplayMode": {
          "enumDescriptions": [
            "Default UNDEFINED category.",
            "Display the score as a standard circular gauge (default)",
            "Display the score as a fraction, e.g. \"3/5\""
          ],
          "type": "string",
          "enum": [
            "CATEGORY_SCORE_DISPLAY_MODE_UNSPECIFIED",
            "GAUGE",
            "FRACTION"
          ],
          "description": "Optional. How the category score should be displayed (e.g. as a fraction)."
        },
        "manualDescription": {
          "description": "A description for the manual audits in the category.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The string identifier of the category."
        }
      },
      "description": "A Lighthouse category."
    },
    "ConfigSettings": {
      "id": "ConfigSettings",
      "description": "Message containing the configuration settings for the Lighthouse run.",
      "type": "object",
      "properties": {
        "formFactor": {
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop.",
          "type": "string"
        },
        "onlyCategories": {
          "description": "List of categories of audits the run should conduct.",
          "type": "any"
        },
        "emulatedFormFactor": {
          "deprecated": true,
          "type": "string",
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead."
        },
        "locale": {
          "type": "string",
          "description": "The locale setting."
        },
        "channel": {
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module.",
          "type": "string"
        }
      }
    },
    "Categories": {
      "type": "object",
      "id": "Categories",
      "description": "The categories in a Lighthouse run.",
      "properties": {
        "performance": {
          "$ref": "LighthouseCategoryV5",
          "description": "The performance category, containing all performance related audits."
        },
        "accessibility": {
          "description": "The accessibility category, containing all accessibility related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "pwa": {
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release.",
          "deprecated": true,
          "$ref": "LighthouseCategoryV5"
        },
        "agentic-browsing": {
          "$ref": "LighthouseCategoryV5",
          "description": "The agentic browsing category, containing all agentic browsing related audits."
        },
        "seo": {
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "best-practices": {
          "description": "The best practices category, containing all best practices related audits.",
          "$ref": "LighthouseCategoryV5"
        }
      }
    }
  },
  "name": "pagespeedonline",
  "title": "PageSpeed Insights API",
  "ownerDomain": "google.com",
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "servicePath": "",
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "parameterOrder": [
            "url"
          ],
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "httpMethod": "GET",
          "scopes": [
            "openid"
          ],
          "id": "pagespeedonline.pagespeedapi.runpagespeed",
          "parameters": {
            "category": {
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines.",
                "Agentic Browsing, category pertaining to a website's ability to be rendered by an agentic browsing system."
              ],
              "repeated": true,
              "type": "string",
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run",
              "location": "query",
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO",
                "AGENTIC_BROWSING"
              ],
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false,
                false
              ]
            },
            "strategy": {
              "location": "query",
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ],
              "type": "string",
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ],
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default"
            },
            "utm_source": {
              "location": "query",
              "type": "string",
              "description": "Campaign source for analytics."
            },
            "utm_campaign": {
              "location": "query",
              "description": "Campaign name for analytics.",
              "type": "string"
            },
            "captchaToken": {
              "type": "string",
              "location": "query",
              "description": "The captcha token passed when filling out a captcha."
            },
            "url": {
              "description": "Required. The URL to fetch and analyze",
              "pattern": "(?i)(url:|origin:)?http(s)?://.*",
              "type": "string",
              "location": "query",
              "required": true
            },
            "locale": {
              "type": "string",
              "location": "query",
              "description": "The locale used to localize formatted results",
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?"
            }
          },
          "path": "pagespeedonline/v5/runPagespeed",
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          }
        }
      }
    }
  }
}