{
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "version": "v5",
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "ownerDomain": "google.com",
  "servicePath": "",
  "version_module": true,
  "revision": "20260624",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "id": "pagespeedonline:v5",
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "id": "pagespeedonline.pagespeedapi.runpagespeed",
          "parameterOrder": [
            "url"
          ],
          "parameters": {
            "url": {
              "description": "Required. The URL to fetch and analyze",
              "pattern": "(?i)(url:|origin:)?http(s)?://.*",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "strategy": {
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default",
              "location": "query",
              "type": "string",
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ],
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ]
            },
            "captchaToken": {
              "description": "The captcha token passed when filling out a captcha.",
              "location": "query",
              "type": "string"
            },
            "utm_campaign": {
              "location": "query",
              "type": "string",
              "description": "Campaign name for analytics."
            },
            "category": {
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run",
              "repeated": true,
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines.",
                "Agentic Browsing, category pertaining to a website's ability to be rendered by an agentic browsing system."
              ],
              "location": "query",
              "type": "string",
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false,
                false
              ],
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO",
                "AGENTIC_BROWSING"
              ]
            },
            "locale": {
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?",
              "description": "The locale used to localize formatted results",
              "location": "query",
              "type": "string"
            },
            "utm_source": {
              "location": "query",
              "type": "string",
              "description": "Campaign source for analytics."
            }
          },
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "httpMethod": "GET",
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "scopes": [
            "openid"
          ],
          "path": "pagespeedonline/v5/runPagespeed"
        }
      }
    }
  },
  "batchPath": "batch",
  "basePath": "",
  "name": "pagespeedonline",
  "canonicalName": "Pagespeed Insights",
  "ownerName": "Google",
  "title": "PageSpeed Insights API",
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "schemas": {
    "Environment": {
      "id": "Environment",
      "type": "object",
      "properties": {
        "networkUserAgent": {
          "description": "The user agent string that was sent over the network.",
          "type": "string"
        },
        "credits": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The version of libraries with which these results were generated. Ex: axe-core."
        },
        "hostUserAgent": {
          "type": "string",
          "description": "The user agent string of the version of Chrome used."
        },
        "benchmarkIndex": {
          "type": "number",
          "format": "double",
          "description": "The benchmark index number that indicates rough device class."
        }
      },
      "description": "Message containing environment configuration for a Lighthouse run."
    },
    "ConfigSettings": {
      "description": "Message containing the configuration settings for the Lighthouse run.",
      "id": "ConfigSettings",
      "type": "object",
      "properties": {
        "locale": {
          "description": "The locale setting.",
          "type": "string"
        },
        "formFactor": {
          "type": "string",
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop."
        },
        "channel": {
          "type": "string",
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module."
        },
        "emulatedFormFactor": {
          "type": "string",
          "deprecated": true,
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead."
        },
        "onlyCategories": {
          "type": "any",
          "description": "List of categories of audits the run should conduct."
        }
      }
    },
    "I18n": {
      "id": "I18n",
      "type": "object",
      "properties": {
        "rendererFormattedStrings": {
          "description": "Internationalized strings that are formatted to the locale in configSettings.",
          "$ref": "RendererFormattedStrings"
        }
      },
      "description": "Message containing the i18n data for the LHR - Version 1."
    },
    "RendererFormattedStrings": {
      "id": "RendererFormattedStrings",
      "type": "object",
      "properties": {
        "dropdownSaveJSON": {
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file.",
          "type": "string"
        },
        "runtimeUnknown": {
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value.",
          "type": "string"
        },
        "dropdownViewer": {
          "type": "string",
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application."
        },
        "dropdownPrintExpanded": {
          "type": "string",
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog."
        },
        "calculatorLink": {
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics.",
          "type": "string"
        },
        "dropdownDarkTheme": {
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes.",
          "type": "string"
        },
        "dropdownCopyJSON": {
          "type": "string",
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard."
        },
        "opportunityResourceColumnLabel": {
          "type": "string",
          "description": "The heading for the estimated page load savings opportunity of an audit."
        },
        "runtimeSettingsUA": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse."
        },
        "runtimeSettingsBenchmark": {
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783.",
          "type": "string"
        },
        "showRelevantAudits": {
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric.",
          "type": "string"
        },
        "runtimeSettingsChannel": {
          "type": "string",
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc)."
        },
        "lsPerformanceCategoryDescription": {
          "type": "string",
          "description": "The disclaimer shown under performance explaining that the network can vary."
        },
        "runtimeSettingsAxeVersion": {
          "description": "Label for a row in a table that shows the version of the Axe library used",
          "type": "string"
        },
        "warningAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that have warnings"
        },
        "runtimeNoEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when no device emulation is set."
        },
        "scorescaleLabel": {
          "type": "string",
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100)."
        },
        "snippetCollapseButtonLabel": {
          "description": "The label for the button to show only a few lines of a snippet",
          "type": "string"
        },
        "errorLabel": {
          "type": "string",
          "description": "The label shown next to an audit or metric that has had an error."
        },
        "runtimeSettingsFetchTime": {
          "type": "string",
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC."
        },
        "notApplicableAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that do not apply to a page."
        },
        "runtimeSettingsUANetwork": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run."
        },
        "dropdownSaveGist": {
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist.",
          "type": "string"
        },
        "runtimeDesktopEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor.",
          "type": "string"
        },
        "opportunitySavingsColumnLabel": {
          "description": "The heading for the estimated page load savings of opportunity audits.",
          "type": "string"
        },
        "labDataTitle": {
          "type": "string",
          "description": "The title of the lab data performance category."
        },
        "warningHeader": {
          "type": "string",
          "description": "The label shown above a bulleted list of warnings."
        },
        "crcLongestDurationLabel": {
          "description": "The label for values shown in the summary of critical request chains.",
          "type": "string"
        },
        "runtimeSettingsCPUThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any."
        },
        "errorMissingAuditInfo": {
          "description": "The error string shown next to an erroring audit.",
          "type": "string"
        },
        "toplevelWarningsMessage": {
          "description": "The label shown preceding important warnings that may have invalidated an entire report.",
          "type": "string"
        },
        "footerIssue": {
          "description": "Label for button to create an issue against the Lighthouse GitHub project.",
          "type": "string"
        },
        "manualAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that were not computerd in the run.",
          "type": "string"
        },
        "runtimeMobileEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device.",
          "type": "string"
        },
        "throttlingProvided": {
          "type": "string",
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling."
        },
        "runtimeSettingsUrl": {
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run.",
          "type": "string"
        },
        "passedAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that are passing."
        },
        "snippetExpandButtonLabel": {
          "type": "string",
          "description": "The label for the button to show all lines of a snippet"
        },
        "dropdownSaveHTML": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file."
        },
        "runtimeSettingsDevice": {
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc.",
          "type": "string"
        },
        "varianceDisclaimer": {
          "type": "string",
          "description": "The disclaimer shown below a performance metric value."
        },
        "auditGroupExpandTooltip": {
          "description": "The tooltip text on an expandable chevron icon.",
          "type": "string"
        },
        "dropdownPrintSummary": {
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog.",
          "type": "string"
        },
        "runtimeSettingsTitle": {
          "type": "string",
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time."
        },
        "viewTreemapLabel": {
          "type": "string",
          "description": "Label for a button that opens the Treemap App"
        },
        "crcInitialNavigation": {
          "description": "The label for the initial request in a critical request chain.",
          "type": "string"
        },
        "thirdPartyResourcesLabel": {
          "description": "This label is for a filter checkbox above a table of items",
          "type": "string"
        },
        "runtimeSettingsNetworkThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any."
        }
      },
      "description": "Message holding the formatted strings used in the renderer."
    },
    "RuntimeError": {
      "description": "Message containing a runtime error config.",
      "id": "RuntimeError",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The enumerated Lighthouse Error code."
        },
        "message": {
          "type": "string",
          "description": "A human readable message explaining the error code."
        }
      }
    },
    "CategoryGroupV5": {
      "description": "Message containing a category",
      "id": "CategoryGroupV5",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of what the category is grouping",
          "type": "string"
        },
        "title": {
          "description": "The human readable title of the group",
          "type": "string"
        }
      }
    },
    "PagespeedApiPagespeedResponseV5": {
      "id": "PagespeedApiPagespeedResponseV5",
      "type": "object",
      "properties": {
        "loadingExperience": {
          "description": "Metrics of end users' page loading experience.",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "lighthouseResult": {
          "description": "Lighthouse response for the audit url as an object.",
          "$ref": "LighthouseResultV5"
        },
        "captchaResult": {
          "description": "The captcha verify result",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Kind of result."
        },
        "id": {
          "description": "Canonicalized and final URL for the document, after following page redirects (if any).",
          "type": "string"
        },
        "version": {
          "description": "The version of PageSpeed used to generate these results.",
          "$ref": "PagespeedVersion"
        },
        "originLoadingExperience": {
          "description": "Metrics of the aggregated page loading experience of the origin",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "analysisUTCTimestamp": {
          "description": "The UTC timestamp of this analysis.",
          "type": "string"
        }
      },
      "description": "The Pagespeed API response object."
    },
    "PagespeedApiLoadingExperienceV5": {
      "description": "The CrUX loading experience object that contains CrUX data breakdowns.",
      "id": "PagespeedApiLoadingExperienceV5",
      "type": "object",
      "properties": {
        "id": {
          "description": "The url, pattern or origin which the metrics are on.",
          "type": "string"
        },
        "origin_fallback": {
          "description": "True if the result is an origin fallback from a page, false otherwise.",
          "type": "boolean"
        },
        "initial_url": {
          "type": "string",
          "description": "The requested URL, which may differ from the resolved \"id\"."
        },
        "metrics": {
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          },
          "description": "The map of .",
          "type": "object"
        },
        "overall_category": {
          "type": "string",
          "description": "The human readable speed \"category\" of the id."
        }
      }
    },
    "LighthouseCategoryV5": {
      "id": "LighthouseCategoryV5",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A more detailed description of the category and its importance."
        },
        "manualDescription": {
          "description": "A description for the manual audits in the category.",
          "type": "string"
        },
        "score": {
          "type": "any",
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)"
        },
        "id": {
          "description": "The string identifier of the category.",
          "type": "string"
        },
        "auditRefs": {
          "description": "An array of references to all the audit members of this category.",
          "type": "array",
          "items": {
            "$ref": "AuditRefs"
          }
        },
        "title": {
          "description": "The human-friendly name of the category.",
          "type": "string"
        }
      },
      "description": "A Lighthouse category."
    },
    "LhrEntity": {
      "id": "LhrEntity",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "Optional. An optional category name for the entity."
        },
        "isFirstParty": {
          "description": "Optional. An optional flag indicating if the entity is the first party.",
          "type": "boolean"
        },
        "origins": {
          "description": "Required. A list of URL origin strings that belong to this entity.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the entity."
        },
        "homepage": {
          "type": "string",
          "description": "Optional. An optional homepage URL of the entity."
        },
        "isUnrecognized": {
          "type": "boolean",
          "description": "Optional. An optional flag indicating if the entity is not recognized."
        }
      },
      "description": "Message containing an Entity."
    },
    "Bucket": {
      "id": "Bucket",
      "type": "object",
      "properties": {
        "max": {
          "type": "integer",
          "format": "int32",
          "description": "Upper bound for a bucket's range."
        },
        "proportion": {
          "type": "number",
          "format": "double",
          "description": "The proportion of data in this bucket."
        },
        "min": {
          "type": "integer",
          "format": "int32",
          "description": "Lower bound for a bucket's range."
        }
      },
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond."
    },
    "LighthouseAuditResultV5": {
      "description": "An audit's result object in a Lighthouse result.",
      "id": "LighthouseAuditResultV5",
      "type": "object",
      "properties": {
        "explanation": {
          "description": "An explanation of the errors in the audit.",
          "type": "string"
        },
        "numericUnit": {
          "description": "The unit of the numeric_value field. Used to format the numeric value for display.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The audit's id."
        },
        "errorMessage": {
          "type": "string",
          "description": "An error message from a thrown error inside the audit."
        },
        "numericValue": {
          "type": "number",
          "format": "double",
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present."
        },
        "scoreDisplayMode": {
          "description": "The enumerated score display mode.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The human readable title."
        },
        "score": {
          "description": "The score of the audit, can be null.",
          "type": "any"
        },
        "description": {
          "description": "The description of the audit.",
          "type": "string"
        },
        "warnings": {
          "description": "Possible warnings that occurred in the audit, can be null.",
          "type": "any"
        },
        "metricSavings": {
          "description": "The metric savings of the audit.",
          "$ref": "MetricSavings"
        },
        "details": {
          "type": "object",
          "description": "Freeform details section of the audit.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "displayValue": {
          "description": "The value that should be displayed on the UI for this audit.",
          "type": "string"
        }
      }
    },
    "Categories": {
      "id": "Categories",
      "type": "object",
      "properties": {
        "agentic-browsing": {
          "description": "The agentic browsing category, containing all agentic browsing related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "best-practices": {
          "description": "The best practices category, containing all best practices related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "seo": {
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "accessibility": {
          "description": "The accessibility category, containing all accessibility related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "pwa": {
          "deprecated": true,
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release.",
          "$ref": "LighthouseCategoryV5"
        },
        "performance": {
          "description": "The performance category, containing all performance related audits.",
          "$ref": "LighthouseCategoryV5"
        }
      },
      "description": "The categories in a Lighthouse run."
    },
    "MetricSavings": {
      "id": "MetricSavings",
      "type": "object",
      "properties": {
        "FCP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric.",
          "type": "number",
          "format": "double"
        },
        "CLS": {
          "type": "number",
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric."
        },
        "INP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric.",
          "type": "number",
          "format": "double"
        },
        "TBT": {
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric.",
          "type": "number",
          "format": "double"
        },
        "LCP": {
          "type": "number",
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric."
        }
      },
      "description": "The metric savings of the audit."
    },
    "PagespeedVersion": {
      "description": "The Pagespeed Version object.",
      "id": "PagespeedVersion",
      "type": "object",
      "properties": {
        "major": {
          "description": "The major version number of PageSpeed used to generate these results.",
          "type": "string"
        },
        "minor": {
          "description": "The minor version number of PageSpeed used to generate these results.",
          "type": "string"
        }
      }
    },
    "AuditRefs": {
      "id": "AuditRefs",
      "type": "object",
      "properties": {
        "group": {
          "type": "string",
          "description": "The category group that the audit belongs to (optional)."
        },
        "id": {
          "description": "The audit ref id.",
          "type": "string"
        },
        "weight": {
          "type": "number",
          "format": "double",
          "description": "The weight this audit's score has on the overall category score."
        },
        "relevantAudits": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Any audit IDs closely relevant to this one."
        },
        "acronym": {
          "description": "The conventional acronym for the audit/metric.",
          "type": "string"
        }
      },
      "description": "A light reference to an audit by id, used to group and weight audits in a given category."
    },
    "UserPageLoadMetricV5": {
      "description": "A CrUX metric object for a single metric and form factor.",
      "id": "UserPageLoadMetricV5",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "The category of the specific time metric."
        },
        "formFactor": {
          "description": "Identifies the form factor of the metric being collected.",
          "type": "string"
        },
        "percentile": {
          "type": "integer",
          "format": "int32",
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90."
        },
        "median": {
          "description": "The median number of the metric, in millisecond.",
          "type": "integer",
          "format": "int32"
        },
        "metricId": {
          "description": "Identifies the type of the metric.",
          "type": "string"
        },
        "distributions": {
          "type": "array",
          "items": {
            "$ref": "Bucket"
          },
          "description": "Metric distributions. Proportions should sum up to 1."
        }
      }
    },
    "LighthouseResultV5": {
      "id": "LighthouseResultV5",
      "type": "object",
      "properties": {
        "mainDocumentUrl": {
          "type": "string",
          "description": "URL of the main document request of the final navigation."
        },
        "runWarnings": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`."
        },
        "runtimeError": {
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded.",
          "$ref": "RuntimeError"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "LhrEntity"
          },
          "description": "Entity classification data."
        },
        "categories": {
          "description": "Map of categories in the LHR.",
          "$ref": "Categories"
        },
        "finalUrl": {
          "description": "The final resolved url that was audited.",
          "type": "string"
        },
        "categoryGroups": {
          "type": "object",
          "description": "Map of category groups in the LHR.",
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          }
        },
        "fetchTime": {
          "description": "The time that this run was fetched.",
          "type": "string"
        },
        "finalDisplayedUrl": {
          "type": "string",
          "description": "URL displayed on the page after Lighthouse finishes."
        },
        "timing": {
          "description": "Timing information for this LHR.",
          "$ref": "Timing"
        },
        "configSettings": {
          "description": "The configuration settings for this LHR.",
          "$ref": "ConfigSettings"
        },
        "environment": {
          "description": "Environment settings that were used when making this LHR.",
          "$ref": "Environment"
        },
        "lighthouseVersion": {
          "type": "string",
          "description": "The lighthouse version that was used to generate this LHR."
        },
        "userAgent": {
          "description": "The user agent that was used to run this LHR.",
          "type": "string"
        },
        "requestedUrl": {
          "description": "The original requested url.",
          "type": "string"
        },
        "audits": {
          "type": "object",
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          },
          "description": "Map of audits in the LHR."
        },
        "stackPacks": {
          "type": "array",
          "items": {
            "$ref": "StackPack"
          },
          "description": "The Stack Pack advice strings."
        },
        "i18n": {
          "description": "The internationalization strings that are required to render the LHR.",
          "$ref": "I18n"
        },
        "fullPageScreenshot": {
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results.",
          "type": "any"
        }
      },
      "description": "The Lighthouse result object."
    },
    "Timing": {
      "description": "Message containing the performance timing data for the Lighthouse run.",
      "id": "Timing",
      "type": "object",
      "properties": {
        "total": {
          "description": "The total duration of Lighthouse's run.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "StackPack": {
      "id": "StackPack",
      "type": "object",
      "properties": {
        "title": {
          "description": "The stack pack title.",
          "type": "string"
        },
        "iconDataURL": {
          "description": "The stack pack icon data uri.",
          "type": "string"
        },
        "descriptions": {
          "description": "The stack pack advice strings.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "id": {
          "type": "string",
          "description": "The stack pack id."
        }
      },
      "description": "Message containing Stack Pack information."
    }
  },
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "baseUrl": "https://pagespeedonline.googleapis.com/"
}