{
  "ownerDomain": "google.com",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/secret-manager/parameter-manager/docs/overview",
  "description": "Parameter Manager is a single source of truth to store, access and manage the lifecycle of your workload parameters. Parameter Manager aims to make management of sensitive application parameters effortless for customers without diminishing focus on security.",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "rootUrl": "https://parametermanager.googleapis.com/",
  "ownerName": "Google",
  "id": "parametermanager:v1",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "canonicalName": "Parameter Manager",
  "revision": "20260629",
  "version_module": true,
  "endpoints": [
    {
      "endpointUrl": "https://parametermanager.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "title": "Parameter Manager API",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ParameterVersionPayload": {
      "description": "Message for storing a ParameterVersion resource's payload data",
      "properties": {
        "data": {
          "description": "Required. bytes data for storing payload.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ParameterVersionPayload"
    },
    "ListTemplateVersionsResponse": {
      "description": "Message for response to listing TemplateVersions",
      "properties": {
        "templateVersions": {
          "type": "array",
          "items": {
            "$ref": "TemplateVersion"
          },
          "description": "The list of TemplateVersions"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached."
        }
      },
      "type": "object",
      "id": "ListTemplateVersionsResponse"
    },
    "Location": {
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "ListParametersResponse": {
      "id": "ListParametersResponse",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The list of Parameters"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Message for response to listing Parameters"
    },
    "TemplateVersionPayload": {
      "id": "TemplateVersionPayload",
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "description": "Required. bytes data for storing payload.",
          "format": "byte"
        }
      },
      "description": "Message for storing a TemplateVersion resource's payload data"
    },
    "ResourcePolicyMember": {
      "properties": {
        "iamPolicyUidPrincipal": {
          "description": "Output only. IAM policy binding member referring to a Google Cloud resource by system-assigned unique identifier (https://google.aip.dev/148#uid). If a resource is deleted and recreated with the same name, the binding will not be applicable to the new resource Example: `principal://parametermanager.googleapis.com/projects/12345/uid/locations/us-central1-a/parameters/a918fed5`",
          "readOnly": true,
          "type": "string"
        },
        "iamPolicyNamePrincipal": {
          "description": "Output only. IAM policy binding member referring to a Google Cloud resource by user-assigned name (https://google.aip.dev/122). If a resource is deleted and recreated with the same name, the binding will be applicable to the new resource. Example: `principal://parametermanager.googleapis.com/projects/12345/name/locations/us-central1-a/parameters/my-parameter`",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Output-only policy member strings of a Google Cloud resource's built-in identity.",
      "id": "ResourcePolicyMember",
      "type": "object"
    },
    "Template": {
      "type": "object",
      "id": "Template",
      "description": "Message describing Template resource",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the Template in the format `projects/*/locations/*/templates/*`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Update time stamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "format": {
          "type": "string",
          "description": "Optional. Specifies the format of a Template.",
          "enumDescriptions": [
            "The default / unset value. The API will default to the YAML format.",
            "YAML format.",
            "JSON format."
          ],
          "enum": [
            "TEMPLATE_FORMAT_UNSPECIFIED",
            "TEMPLATE_FORMAT_YAML",
            "TEMPLATE_FORMAT_JSON"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create time stamp",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs"
        }
      }
    },
    "ListTemplatesResponse": {
      "description": "Message for response to listing Templates",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached."
        },
        "templates": {
          "type": "array",
          "items": {
            "$ref": "Template"
          },
          "description": "The list of Templates"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListTemplatesResponse"
    },
    "ListParameterVersionsResponse": {
      "description": "Message for response to listing ParameterVersions",
      "properties": {
        "parameterVersions": {
          "description": "The list of ParameterVersions",
          "type": "array",
          "items": {
            "$ref": "ParameterVersion"
          }
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListParameterVersionsResponse"
    },
    "ParameterVersion": {
      "properties": {
        "disabled": {
          "description": "Optional. Disabled boolean to determine if a ParameterVersion acts as a metadata only resource (payload is never returned if disabled is true). If true any calls will always default to BASIC view even if the user explicitly passes FULL view as part of the request. A render call on a disabled resource fails with an error. Default value is False.",
          "type": "boolean"
        },
        "payload": {
          "description": "Required. Immutable. Payload content of a ParameterVersion resource. This is only returned when the request provides the View value of FULL (default for GET request).",
          "$ref": "ParameterVersionPayload"
        },
        "name": {
          "description": "Identifier. [Output only] The resource name of the ParameterVersion in the format `projects/*/locations/*/parameters/*/versions/*`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Create time stamp",
          "format": "google-datetime"
        },
        "kmsKeyVersion": {
          "description": "Optional. Output only. [Output only] The resource name of the KMS key version used to encrypt the ParameterVersion payload. This field is populated only if the Parameter resource has customer managed encryption key (CMEK) configured.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Message describing ParameterVersion resource",
      "id": "ParameterVersion",
      "type": "object"
    },
    "RenderParameterVersionResponse": {
      "description": "Message describing RenderParameterVersionResponse resource",
      "properties": {
        "parameterVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource identifier of a ParameterVersion in the format `projects/*/locations/*/parameters/*/versions/*`."
        },
        "payload": {
          "description": "Payload content of a ParameterVersion resource.",
          "$ref": "ParameterVersionPayload"
        },
        "renderedPayload": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server generated rendered version of the user provided payload data (ParameterVersionPayload) which has substitutions of all (if any) references to a SecretManager SecretVersion resources. This substitution only works for a Parameter which is in JSON or YAML format.",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "RenderParameterVersionResponse"
    },
    "Parameter": {
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs"
        },
        "name": {
          "description": "Identifier. [Output only] The resource name of the Parameter in the format `projects/*/locations/*/parameters/*`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "format": {
          "description": "Optional. Specifies the format of a Parameter.",
          "enumDescriptions": [
            "The default / unset value. The API will default to the UNFORMATTED format.",
            "Unformatted.",
            "YAML format.",
            "JSON format."
          ],
          "enum": [
            "PARAMETER_FORMAT_UNSPECIFIED",
            "UNFORMATTED",
            "YAML",
            "JSON"
          ],
          "type": "string"
        },
        "policyMember": {
          "description": "Output only. [Output-only] policy member strings of a Google Cloud resource.",
          "readOnly": true,
          "$ref": "ResourcePolicyMember"
        },
        "kmsKey": {
          "description": "Optional. Customer managed encryption key (CMEK) to use for encrypting the Parameter Versions. If not set, the default Google-managed encryption key will be used. Cloud KMS CryptoKeys must reside in the same location as the Parameter. The expected format is `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Create time stamp",
          "format": "google-datetime"
        }
      },
      "description": "Message describing Parameter resource",
      "id": "Parameter",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "RenderTemplateVersionResponse": {
      "description": "Message describing RenderTemplateVersionResponse resource",
      "properties": {
        "renderedPayload": {
          "description": "Output only. Server generated rendered version of the user provided payload data (TemplateVersionPayload) which has all the variables resolved using the provided parameter version.",
          "format": "byte",
          "readOnly": true,
          "type": "string"
        },
        "parameterVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the ParameterVersion used to render the template version in the format `projects/*/locations/*/parameters/*/versions/*`."
        },
        "payload": {
          "description": "Payload content of a TemplateVersion resource.",
          "$ref": "TemplateVersionPayload"
        },
        "templateVersion": {
          "description": "Resource identifier of a TemplateVersion in the format `projects/*/locations/*/templates/*/versions/*`.",
          "type": "string"
        },
        "templateFormat": {
          "enum": [
            "TEMPLATE_FORMAT_UNSPECIFIED",
            "TEMPLATE_FORMAT_YAML",
            "TEMPLATE_FORMAT_JSON"
          ],
          "description": "Output only. Format of the template version.",
          "enumDescriptions": [
            "The default / unset value. The API will default to the YAML format.",
            "YAML format.",
            "JSON format."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "RenderTemplateVersionResponse"
    },
    "TemplateVersion": {
      "description": "Message describing TemplateVersion resource",
      "properties": {
        "disabled": {
          "description": "Optional. Disabled boolean to determine if a TemplateVersion acts as a metadata only resource (payload is never returned if disabled is true).",
          "type": "boolean"
        },
        "payload": {
          "description": "Required. Immutable. Payload content of a TemplateVersion resource.",
          "$ref": "TemplateVersionPayload"
        },
        "name": {
          "description": "Identifier. The resource name of the TemplateVersion in the format `projects/*/locations/*/templates/*/versions/*`.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Update time stamp",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. Create time stamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "TemplateVersion"
    }
  },
  "servicePath": "",
  "name": "parametermanager",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "parameters": {
              "resources": {
                "versions": {
                  "methods": {
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "ParameterVersion"
                      },
                      "id": "parametermanager.projects.locations.parameters.versions.patch",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+/versions/[^/]+$",
                          "required": true,
                          "description": "Identifier. [Output only] The resource name of the ParameterVersion in the format `projects/*/locations/*/parameters/*/versions/*`.",
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the ParameterVersion resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A mutable field will be overwritten if it is in the mask. If the user does not provide a mask then all mutable fields present in the request will be overwritten.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "ParameterVersion"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions/{versionsId}",
                      "description": "Updates a single ParameterVersion."
                    },
                    "list": {
                      "response": {
                        "$ref": "ListParameterVersionsResponse"
                      },
                      "path": "v1/{+parent}/versions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists ParameterVersions in a given project, location, and parameter.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions",
                      "id": "parametermanager.projects.locations.parameters.versions.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Hint for how to order the results",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent value for ListParameterVersionsRequest in the format `projects/*/locations/*/parameters/*`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListParameterVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListParameterVersions` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filtering results",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "description": "Gets details of a single ParameterVersion.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions/{versionsId}",
                      "id": "parametermanager.projects.locations.parameters.versions.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+/versions/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the resource in the format `projects/*/locations/*/parameters/*/versions/*`.",
                          "location": "path",
                          "type": "string"
                        },
                        "view": {
                          "enum": [
                            "VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "type": "string",
                          "description": "Optional. View of the ParameterVersion. In the default FULL view, all metadata & payload associated with the ParameterVersion will be returned.",
                          "location": "query",
                          "enumDescriptions": [
                            "The default / unset value. The API will default to the FULL view.",
                            "Include only the metadata for the resource.",
                            "Include metadata & other relevant payload data as well. This is the default view."
                          ]
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "ParameterVersion"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "path": "v1/{+parent}/versions",
                      "response": {
                        "$ref": "ParameterVersion"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new ParameterVersion in a given project, location, and parameter.",
                      "request": {
                        "$ref": "ParameterVersion"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions",
                      "id": "parametermanager.projects.locations.parameters.versions.create",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. Value for parent in the format `projects/*/locations/*/parameters/*`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$",
                          "required": true
                        },
                        "parameterVersionId": {
                          "description": "Required. Id of the ParameterVersion resource",
                          "location": "query",
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "id": "parametermanager.projects.locations.parameters.versions.delete",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource in the format `projects/*/locations/*/parameters/*/versions/*`.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+/versions/[^/]+$",
                          "required": true
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a single ParameterVersion.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions/{versionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "render": {
                      "path": "v1/{+name}:render",
                      "response": {
                        "$ref": "RenderParameterVersionResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions/{versionsId}:render",
                      "description": "Gets rendered version of a ParameterVersion.",
                      "id": "parametermanager.projects.locations.parameters.versions.render",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+/versions/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the resource",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/parameters",
                  "response": {
                    "$ref": "ListParametersResponse"
                  },
                  "id": "parametermanager.projects.locations.parameters.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListParametersRequest in the format `projects/*/locations/*`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListParameters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListParameters` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filtering results",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Parameters in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}",
                  "description": "Gets details of a single Parameter.",
                  "id": "parametermanager.projects.locations.parameters.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the resource in the format `projects/*/locations/*/parameters/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Parameter"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "id": "parametermanager.projects.locations.parameters.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. Value for parent in the format `projects/*/locations/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "parameterId": {
                      "description": "Required. Id of the Parameter resource",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new Parameter in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters",
                  "request": {
                    "$ref": "Parameter"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Parameter"
                  },
                  "path": "v1/{+parent}/parameters"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single Parameter.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}",
                  "id": "parametermanager.projects.locations.parameters.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the resource in the format `projects/*/locations/*/parameters/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "id": "parametermanager.projects.locations.parameters.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "Identifier. [Output only] The resource name of the Parameter in the format `projects/*/locations/*/parameters/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Parameter resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A mutable field will be overwritten if it is in the mask. If the user does not provide a mask then all mutable fields present in the request will be overwritten.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a single Parameter.",
                  "request": {
                    "$ref": "Parameter"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Parameter"
                  }
                }
              }
            },
            "templates": {
              "methods": {
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Template"
                  },
                  "id": "parametermanager.projects.locations.templates.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                      "required": true,
                      "description": "Identifier. The resource name of the Template in the format `projects/*/locations/*/templates/*`.",
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Template resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A mutable field will be overwritten if it is in the mask. If the user does not provide a mask then all mutable fields present in the request will be overwritten.",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a single Template.",
                  "request": {
                    "$ref": "Template"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/templates",
                  "response": {
                    "$ref": "ListTemplatesResponse"
                  },
                  "id": "parametermanager.projects.locations.templates.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filtering results",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListTemplates` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTemplates` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. Parent value for ListTemplatesRequest in the format `projects/*/locations/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Templates in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}",
                  "description": "Gets details of a single Template.",
                  "id": "parametermanager.projects.locations.templates.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the resource in the format `projects/*/locations/*/templates/*`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Template"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "path": "v1/{+parent}/templates",
                  "response": {
                    "$ref": "Template"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Template"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates",
                  "description": "Creates a new Template in a given project and location.",
                  "id": "parametermanager.projects.locations.templates.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Value for parent in the format `projects/*/locations/*`.",
                      "location": "path"
                    },
                    "templateId": {
                      "description": "Required. Id of the Template resource",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "parametermanager.projects.locations.templates.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource in the format `projects/*/locations/*/templates/*`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single Template.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  }
                }
              },
              "resources": {
                "versions": {
                  "methods": {
                    "render": {
                      "description": "Gets rendered version of a TemplateVersion.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}/versions/{versionsId}:render",
                      "id": "parametermanager.projects.locations.templates.versions.render",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+/versions/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the resource",
                          "location": "path",
                          "type": "string"
                        },
                        "parameterVersion": {
                          "description": "Required. Parameter version used to render the template version.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "RenderTemplateVersionResponse"
                      },
                      "path": "v1/{+name}:render",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/versions",
                      "response": {
                        "$ref": "ListTemplateVersionsResponse"
                      },
                      "id": "parametermanager.projects.locations.templates.versions.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filtering results",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. Parent value for ListTemplateVersionsRequest in the format `projects/*/locations/*/templates/*`.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                          "required": true
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Hint for how to order the results",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListTemplateVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTemplateVersions` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists TemplateVersions in a given project, location, and template.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}/versions"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "TemplateVersion"
                      },
                      "id": "parametermanager.projects.locations.templates.versions.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource in the format `projects/*/locations/*/templates/*/versions/*`.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+/versions/[^/]+$",
                          "required": true
                        },
                        "view": {
                          "description": "Optional. Specifies the view of the TemplateVersion to return. In the default FULL view, all metadata & payload associated with the TemplateVersion will be returned.",
                          "location": "query",
                          "enumDescriptions": [
                            "The default / unset value. The API will default to the FULL view.",
                            "Include only the metadata for the resource.",
                            "Include metadata & other relevant payload data as well. This is the default view."
                          ],
                          "type": "string",
                          "enum": [
                            "VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}/versions/{versionsId}",
                      "description": "Gets details of a single TemplateVersion."
                    },
                    "create": {
                      "description": "Creates a new TemplateVersion in a given project, location, and template.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}/versions",
                      "request": {
                        "$ref": "TemplateVersion"
                      },
                      "id": "parametermanager.projects.locations.templates.versions.create",
                      "httpMethod": "POST",
                      "parameters": {
                        "templateVersionId": {
                          "type": "string",
                          "description": "Required. Id of the TemplateVersion resource",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. Value for parent in the format `projects/*/locations/*/templates/*`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                          "required": true
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "TemplateVersion"
                      },
                      "path": "v1/{+parent}/versions",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "id": "parametermanager.projects.locations.templates.versions.delete",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource in the format `projects/*/locations/*/templates/*/versions/*`.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+/versions/[^/]+$",
                          "required": true
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}/versions/{versionsId}",
                      "description": "Deletes a single TemplateVersion.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/{+name}"
                    },
                    "patch": {
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "TemplateVersion"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "TemplateVersion"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}/versions/{versionsId}",
                      "description": "Updates a single TemplateVersion.",
                      "id": "parametermanager.projects.locations.templates.versions.patch",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "description": "Identifier. The resource name of the TemplateVersion in the format `projects/*/locations/*/templates/*/versions/*`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+/versions/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the TemplateVersion resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A mutable field will be overwritten if it is in the mask. If the user does not provide a mask then all mutable fields present in the request will be overwritten.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "parametermanager.projects.locations.list",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "path": "v1/{+name}",
              "id": "parametermanager.projects.locations.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Resource name for the location.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://parametermanager.googleapis.com/",
  "version": "v1",
  "mtlsRootUrl": "https://parametermanager.mtls.googleapis.com/"
}