{
  "protocol": "rest",
  "title": "Payments Reseller Subscription API",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://paymentsresellersubscription.googleapis.com/",
  "ownerName": "Google",
  "canonicalName": "Payments Reseller Subscription",
  "baseUrl": "https://paymentsresellersubscription.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "description": "",
  "mtlsRootUrl": "https://paymentsresellersubscription.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260820",
  "id": "paymentsresellersubscription:v1",
  "schemas": {
    "SubscriptionLineItemOneTimeRecurrenceDetails": {
      "description": "Details for a ONE_TIME recurrence line item.",
      "type": "object",
      "properties": {
        "servicePeriod": {
          "description": "Output only. The service period of the ONE_TIME line item.",
          "readOnly": true,
          "$ref": "ServicePeriod"
        }
      },
      "id": "SubscriptionLineItemOneTimeRecurrenceDetails"
    },
    "ProductPriceConfig": {
      "description": "Configs the prices in an available region.",
      "type": "object",
      "properties": {
        "regionCode": {
          "readOnly": true,
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\".",
          "type": "string"
        },
        "amount": {
          "description": "Output only. The price in the region.",
          "$ref": "Amount",
          "readOnly": true
        }
      },
      "id": "ProductPriceConfig"
    },
    "ProductBundleDetailsBundleElement": {
      "description": "The individual product that is included in the bundle.",
      "type": "object",
      "properties": {
        "product": {
          "type": "string",
          "readOnly": true,
          "description": "Required. Output only. Product resource name that identifies the bundle element. The format is 'partners/{partner_id}/products/{product_id}'."
        }
      },
      "id": "ProductBundleDetailsBundleElement"
    },
    "CancelSubscriptionRequest": {
      "properties": {
        "cancellationReason": {
          "description": "Specifies the reason for the cancellation.",
          "enumDescriptions": [
            "Reason is unspecified. Should not be used.",
            "Fraudulent transaction.",
            "Buyer's remorse.",
            "Accidental purchase.",
            "Payment is past due.",
            "Used for notification only, do not use in Cancel API. User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Used for notification only, do not use in Cancel API. Cancellation due to an unrecoverable system error.",
            "Used for notification only, do not use in Cancel API. The subscription is cancelled by Google automatically since it is no longer valid.",
            "Cancellation due to a billing system switch.",
            "Other reason."
          ],
          "type": "string",
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_SYSTEM_ERROR",
            "CANCELLATION_REASON_SYSTEM_CANCEL",
            "CANCELLATION_REASON_BILLING_SYSTEM_SWITCH",
            "CANCELLATION_REASON_OTHER"
          ]
        },
        "cancelImmediately": {
          "type": "boolean",
          "description": "Optional. If true, Google will cancel the subscription immediately, and may or may not (based on the contract) issue a prorated refund for the remainder of the billing cycle. Otherwise, Google defers the cancellation at renewal_time, and will not issue a refund. - YouTube subscriptions must use this option currently. However, the user will still have access to the subscription until the end of the billing cycle."
        }
      },
      "description": "Request to cancel a subscription.",
      "type": "object",
      "id": "CancelSubscriptionRequest"
    },
    "IntentPayloadIntentOptions": {
      "id": "IntentPayloadIntentOptions",
      "properties": {
        "enableOfferOverride": {
          "description": "Optional. If true, Google may use a different product and promotion id from the ones in the `create_intent` based on the user's eligibility. Only applicable for certain YouTube free trial offers.",
          "type": "boolean"
        }
      },
      "description": "The options for the intent.",
      "type": "object"
    },
    "PromotionIntroductoryPricingDetailsIntroductoryPricingSpec": {
      "properties": {
        "regionCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\"."
        },
        "discountAmount": {
          "description": "Output only. The discount amount. The value is positive.",
          "readOnly": true,
          "$ref": "Amount"
        },
        "recurrenceCount": {
          "readOnly": true,
          "description": "Output only. The duration of an introductory offer in billing cycles.",
          "type": "integer",
          "format": "int32"
        },
        "discountRatioMicros": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The discount percentage in micros. For example, 50,000 represents 5%.",
          "format": "int64"
        }
      },
      "id": "PromotionIntroductoryPricingDetailsIntroductoryPricingSpec",
      "description": "The duration of an introductory pricing promotion.",
      "type": "object"
    },
    "SubscriptionCancellationDetails": {
      "id": "SubscriptionCancellationDetails",
      "type": "object",
      "description": "Describes the details of a cancelled or cancelling subscription.",
      "properties": {
        "reason": {
          "readOnly": true,
          "enumDescriptions": [
            "Reason is unspecified. Should not be used.",
            "Fraudulent transaction.",
            "Buyer's remorse.",
            "Accidental purchase.",
            "Payment is past due.",
            "Used for notification only, do not use in Cancel API. User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Used for notification only, do not use in Cancel API. Cancellation due to an unrecoverable system error.",
            "Used for notification only, do not use in Cancel API. The subscription is cancelled by Google automatically since it is no longer valid.",
            "Cancellation due to a billing system switch.",
            "Other reason."
          ],
          "description": "Output only. The reason of the cancellation.",
          "type": "string",
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_SYSTEM_ERROR",
            "CANCELLATION_REASON_SYSTEM_CANCEL",
            "CANCELLATION_REASON_BILLING_SYSTEM_SWITCH",
            "CANCELLATION_REASON_OTHER"
          ]
        }
      }
    },
    "Extension": {
      "description": "Describes the details of an extension request.",
      "id": "Extension",
      "properties": {
        "partnerUserToken": {
          "type": "string",
          "description": "Required. Identifier of the end-user in partner’s system."
        },
        "duration": {
          "description": "Required. Specifies the period of access the subscription should grant.",
          "$ref": "Duration"
        }
      },
      "type": "object"
    },
    "FiniteBillingCycleDetails": {
      "description": "Details for a subscription line item with finite billing cycles.",
      "type": "object",
      "id": "FiniteBillingCycleDetails",
      "properties": {
        "billingCycleCountLimit": {
          "format": "int64",
          "type": "string",
          "description": "The number of a subscription line item billing cycles after which billing will stop automatically."
        }
      }
    },
    "ResumeSubscriptionResponse": {
      "id": "ResumeSubscriptionResponse",
      "properties": {
        "subscription": {
          "$ref": "Subscription",
          "description": "The resumed subscription resource."
        }
      },
      "type": "object",
      "description": "Response that contains the resumed subscription."
    },
    "YoutubePayload": {
      "description": "Payload specific to Youtube products.",
      "type": "object",
      "properties": {
        "accessEndTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The access expiration time for this line item."
        },
        "partnerPlanType": {
          "type": "string",
          "enum": [
            "PARTNER_PLAN_TYPE_UNSPECIFIED",
            "PARTNER_PLAN_TYPE_STANDALONE",
            "PARTNER_PLAN_TYPE_HARD_BUNDLE",
            "PARTNER_PLAN_TYPE_SOFT_BUNDLE"
          ],
          "description": "Optional. Specifies the plan type offered to the end user by the partner.",
          "enumDescriptions": [
            "Unspecified. Should not use, reserved as an invalid value.",
            "This item is offered as a standalone product to the user.",
            "This item is bundled with another partner offering, the item is provisioned at purchase time.",
            "This item is bundled with another partner offering, the item is provisioned after puchase, when the user opts in this Google service."
          ]
        },
        "partnerEligibilityIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of eligibility_ids which are applicable for the line item."
        }
      },
      "id": "YoutubePayload"
    },
    "GoogleHomePayload": {
      "type": "object",
      "id": "GoogleHomePayload",
      "properties": {
        "attachedToGoogleStructure": {
          "description": "Output only. This identifies whether the subscription is attached to a Google Home structure.",
          "readOnly": true,
          "type": "boolean"
        },
        "partnerStructureId": {
          "description": "Optional. This identifies the structure ID on partner side that the subscription should be applied to. Only required when the partner requires structure mapping.",
          "type": "string"
        },
        "googleStructureId": {
          "type": "string",
          "description": "Optional. Structure identifier on Google side."
        }
      },
      "description": "Payload specific for Google Home products."
    },
    "ExtendSubscriptionRequest": {
      "properties": {
        "extension": {
          "description": "Required. Specifies details of the extension. Currently, the duration of the extension must be exactly one billing cycle of the original subscription.",
          "$ref": "Extension"
        },
        "requestId": {
          "description": "Required. Restricted to 36 ASCII characters. A random UUID is recommended. The idempotency key for the request. The ID generation logic is controlled by the partner. request_id should be the same as on retries of the same request. A different request_id must be used for a extension of a different cycle.",
          "type": "string"
        }
      },
      "description": "Request message for extending a Subscription resource. A new recurrence will be made based on the subscription schedule defined by the original product.",
      "type": "object",
      "id": "ExtendSubscriptionRequest"
    },
    "FindEligiblePromotionsResponse": {
      "id": "FindEligiblePromotionsResponse",
      "description": "Response containing the found promotions for the current user.",
      "properties": {
        "promotions": {
          "description": "The promotions for the current user.",
          "type": "array",
          "items": {
            "$ref": "Promotion"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProductPayload": {
      "description": "Specifies product specific payload.",
      "type": "object",
      "properties": {
        "googleOnePayload": {
          "description": "Product-specific payloads. Payload specific to Google One products.",
          "$ref": "GoogleOnePayload"
        },
        "googleHomePayload": {
          "$ref": "GoogleHomePayload",
          "description": "Payload specific to Google Home products."
        },
        "youtubePayload": {
          "description": "Payload specific to Youtube products.",
          "$ref": "YoutubePayload"
        }
      },
      "id": "ProductPayload"
    },
    "GoogleTypeLocalizedText": {
      "type": "object",
      "description": "Localized variant of a text in a particular language.",
      "id": "GoogleTypeLocalizedText",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "text": {
          "type": "string",
          "description": "Localized string in the language corresponding to language_code below."
        }
      }
    },
    "Product": {
      "type": "object",
      "description": "A Product resource that defines a subscription service that can be resold.",
      "id": "Product",
      "properties": {
        "titles": {
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Localized human readable name of the product."
        },
        "finiteBillingCycleDetails": {
          "description": "Optional. Details for a subscription line item with finite billing cycles. If unset, the line item will be charged indefinitely.",
          "$ref": "FiniteBillingCycleDetails"
        },
        "regionCodes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\" Please refer to: https://en.wikipedia.org/wiki/ISO_3166-1"
        },
        "name": {
          "description": "Identifier. Response only. Resource name of the product. It will have the format of \"partners/{partner_id}/products/{product_id}\"",
          "type": "string"
        },
        "priceConfigs": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ProductPriceConfig"
          },
          "description": "Output only. Price configs for the product in the available regions."
        },
        "bundleDetails": {
          "readOnly": true,
          "description": "Output only. Specifies the details for a bundle product.",
          "$ref": "ProductBundleDetails"
        },
        "productType": {
          "type": "string",
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_SUBSCRIPTION",
            "PRODUCT_TYPE_BUNDLE_SUBSCRIPTION"
          ],
          "readOnly": true,
          "description": "Output only. Specifies the type of the product.",
          "enumDescriptions": [
            "Unspecified. It's reserved as an unexpected value, should not be used.",
            "The product is a subscription.",
            "The product is a bundled subscription plan, which includes multiple subscription elements."
          ]
        },
        "subscriptionBillingCycleDuration": {
          "description": "Output only. Specifies the length of the billing cycle of the subscription.",
          "$ref": "Duration",
          "readOnly": true
        }
      }
    },
    "CycleOptions": {
      "properties": {
        "initialCycleDuration": {
          "description": "Optional. The duration of the initial cycle. Only `DAY` is supported. If set, Google will start the subscription with this initial cycle duration starting at the request time (see available methods below). A prorated charge will be applied. This option is available to the following methods: - partners.subscriptions.provision - partners.subscriptions.resume - partners.userSessions.generate ",
          "$ref": "Duration"
        }
      },
      "type": "object",
      "description": "The cycle options when starting and resuming a subscription.",
      "id": "CycleOptions"
    },
    "Promotion": {
      "type": "object",
      "id": "Promotion",
      "properties": {
        "titles": {
          "description": "Output only. Localized human readable name of the promotion.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          }
        },
        "freeTrialDuration": {
          "description": "Optional. Specifies the duration of the free trial of the subscription when promotion_type is PROMOTION_TYPE_FREE_TRIAL",
          "$ref": "Duration"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Specifies the end time (exclusive) of the period that the promotion is available in. If unset, the promotion is available indefinitely."
        },
        "applicableProducts": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The product ids this promotion can be applied to.",
          "type": "array"
        },
        "regionCodes": {
          "readOnly": true,
          "description": "Output only. 2-letter ISO region code where the promotion is available in. Ex. \"US\" Please refer to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "startTime": {
          "description": "Optional. Specifies the start time (inclusive) of the period that the promotion is available in.",
          "type": "string",
          "format": "google-datetime"
        },
        "promotionType": {
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "type": "string",
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ],
          "description": "Output only. Specifies the type of the promotion.",
          "readOnly": true
        },
        "introductoryPricingDetails": {
          "description": "Optional. Specifies the introductory pricing details when the promotion_type is PROMOTION_TYPE_INTRODUCTORY_PRICING.",
          "$ref": "PromotionIntroductoryPricingDetails"
        },
        "name": {
          "description": "Identifier. Response only. Resource name of the subscription promotion. It will have the format of \"partners/{partner_id}/promotion/{promotion_id}\"",
          "type": "string"
        }
      },
      "description": "A Promotion resource that defines a promotion for a subscription that can be resold."
    },
    "GenerateUserSessionResponse": {
      "description": "Response that contains the details for generated user session.",
      "type": "object",
      "properties": {
        "userSession": {
          "description": "The generated user session. The token size is proportional to the size of the intent payload.",
          "$ref": "UserSession"
        }
      },
      "id": "GenerateUserSessionResponse"
    },
    "ServicePeriod": {
      "properties": {
        "endTime": {
          "description": "Optional. The end time of the service period. Time is exclusive.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Required. The start time of the service period. Time is inclusive.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "ServicePeriod",
      "description": "A description of what time period or moment in time the product or service is being delivered over."
    },
    "IntentPayload": {
      "id": "IntentPayload",
      "properties": {
        "createIntent": {
          "$ref": "CreateSubscriptionIntent",
          "description": "The request to create a subscription."
        },
        "entitleIntent": {
          "description": "The request to entitle a subscription.",
          "$ref": "EntitleSubscriptionIntent"
        },
        "intentOptions": {
          "description": "Optional. The additional features for the intent.",
          "$ref": "IntentPayloadIntentOptions"
        }
      },
      "description": "The payload that describes the user intent.",
      "type": "object"
    },
    "SubscriptionLineItemBundleDetailsBundleElementDetails": {
      "description": "The details for an element in the hard bundle.",
      "properties": {
        "product": {
          "description": "Output only. Product resource name that identifies the bundle element. The format is 'partners/{partner_id}/products/{product_id}'.",
          "type": "string",
          "readOnly": true
        },
        "userAccountLinkedTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when this product is linked to an end user.",
          "format": "google-datetime"
        }
      },
      "id": "SubscriptionLineItemBundleDetailsBundleElementDetails",
      "type": "object"
    },
    "ExtendSubscriptionResponse": {
      "description": "Response that contains the timestamps after the extension.",
      "id": "ExtendSubscriptionResponse",
      "type": "object",
      "properties": {
        "freeTrialEndTime": {
          "description": "End of the free trial period, in ISO 8061 format. UTC timezone. Example, \"freeTrialEndTime\":\"2019-08-31T17:28:54.564Z\" This time will be set the same as initial subscription creation time if no free trial period is offered to the partner.",
          "type": "string",
          "format": "google-datetime"
        },
        "renewalTime": {
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\"",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "cycleEndTime": {
          "format": "google-datetime",
          "description": "The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. Example, \"cycleEndTime\":\"2019-08-31T17:28:54.564Z\"",
          "type": "string"
        }
      }
    },
    "SubscriptionLineItemBundleDetails": {
      "type": "object",
      "description": "The bundle details for a line item corresponding to a hard bundle.",
      "properties": {
        "bundleElementDetails": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "SubscriptionLineItemBundleDetailsBundleElementDetails"
          },
          "description": "Output only. The details for each element in the hard bundle."
        }
      },
      "id": "SubscriptionLineItemBundleDetails"
    },
    "UndoCancelSubscriptionResponse": {
      "properties": {
        "subscription": {
          "$ref": "Subscription",
          "description": "The updated subscription resource."
        }
      },
      "id": "UndoCancelSubscriptionResponse",
      "type": "object",
      "description": "Response that contains the updated subscription resource."
    },
    "EntitleSubscriptionRequestLineItemEntitlementDetails": {
      "type": "object",
      "id": "EntitleSubscriptionRequestLineItemEntitlementDetails",
      "properties": {
        "products": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Only applicable if the line item corresponds to a hard bundle. Product resource names that identify the bundle elements to be entitled in the line item. If unspecified, all bundle elements will be entitled. The format is 'partners/{partner_id}/products/{product_id}'."
        },
        "lineItemIndex": {
          "description": "Required. The index of the line item to be entitled.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The details of the line item to be entitled."
    },
    "ListPromotionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "promotions": {
          "items": {
            "$ref": "Promotion"
          },
          "description": "The promotions for the specified partner.",
          "type": "array"
        }
      },
      "id": "ListPromotionsResponse",
      "description": "Response that contains the promotions.",
      "type": "object"
    },
    "EntitleSubscriptionResponse": {
      "id": "EntitleSubscriptionResponse",
      "description": "Response that contains the entitled subscription resource.",
      "type": "object",
      "properties": {
        "subscription": {
          "$ref": "Subscription",
          "description": "The subscription that has user linked to it."
        }
      }
    },
    "Duration": {
      "properties": {
        "count": {
          "description": "number of duration units to be included.",
          "format": "int32",
          "type": "integer"
        },
        "unit": {
          "enumDescriptions": [
            "Default value, reserved as an invalid or an unexpected value.",
            "Unit of a calendar month.",
            "Unit of a day.",
            "Unit of an hour. It is used for testing."
          ],
          "description": "The unit used for the duration",
          "type": "string",
          "enum": [
            "UNIT_UNSPECIFIED",
            "MONTH",
            "DAY",
            "HOUR"
          ]
        }
      },
      "id": "Duration",
      "description": "Describes the length of a period of a time.",
      "type": "object"
    },
    "SubscriptionLineItem": {
      "type": "object",
      "description": "Individual line item definition of a subscription.",
      "properties": {
        "oneTimeRecurrenceDetails": {
          "$ref": "SubscriptionLineItemOneTimeRecurrenceDetails",
          "description": "Output only. Details only set for a ONE_TIME recurrence line item.",
          "readOnly": true
        },
        "productPayload": {
          "description": "Optional. Product specific payload for this line item.",
          "$ref": "ProductPayload"
        },
        "finiteBillingCycleDetails": {
          "$ref": "FiniteBillingCycleDetails",
          "description": "Optional. Details for a subscription line item with finite billing cycles. If unset, the line item will be charged indefinitely. Used only with LINE_ITEM_RECURRENCE_TYPE_PERIODIC."
        },
        "product": {
          "description": "Required. Product resource name that identifies the product associated with this line item. The format is 'partners/{partner_id}/products/{product_id}'.",
          "type": "string"
        },
        "amount": {
          "$ref": "Amount",
          "description": "Output only. The price of the product/service in this line item. The amount could be the wholesale price, or it can include a cost of sale based on the contract.",
          "readOnly": true
        },
        "recurrenceType": {
          "enumDescriptions": [
            "The line item recurrence type is unspecified.",
            "The line item recurs periodically.",
            "The line item does not recur in the future."
          ],
          "description": "Output only. The recurrence type of the line item.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "LINE_ITEM_RECURRENCE_TYPE_UNSPECIFIED",
            "LINE_ITEM_RECURRENCE_TYPE_PERIODIC",
            "LINE_ITEM_RECURRENCE_TYPE_ONE_TIME"
          ]
        },
        "lineItemIndex": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. A unique index of the subscription line item."
        },
        "bundleDetails": {
          "description": "Output only. The bundle details for the line item. Only populated if the line item corresponds to a hard bundle.",
          "$ref": "SubscriptionLineItemBundleDetails",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Resource name of the line item. Format: partners/{partner}/subscriptions/{subscription}/lineItems/{lineItem}",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the line item.",
          "enumDescriptions": [
            "Unspecified state.",
            "The line item is in ACTIVE state. If the subscription is cancelled or suspended, the line item will not be charged even if the line item is active.",
            "The line item is in INACTIVE state.",
            "The line item is new, and is not activated or charged yet.",
            "The line item is being activated in order to be charged. If a free trial applies to the line item, the line item is pending a prorated charge at the end of the free trial period, as indicated by `line_item_free_trial_end_time`.",
            "The line item is being deactivated, and a prorated refund in being processed.",
            "The line item is scheduled to be deactivated at the end of the current cycle.",
            "Line item is being charged off-cycle."
          ],
          "type": "string",
          "enum": [
            "LINE_ITEM_STATE_UNSPECIFIED",
            "LINE_ITEM_STATE_ACTIVE",
            "LINE_ITEM_STATE_INACTIVE",
            "LINE_ITEM_STATE_NEW",
            "LINE_ITEM_STATE_ACTIVATING",
            "LINE_ITEM_STATE_DEACTIVATING",
            "LINE_ITEM_STATE_WAITING_TO_DEACTIVATE",
            "LINE_ITEM_STATE_OFF_CYCLE_CHARGING"
          ],
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description of this line item.",
          "type": "string"
        },
        "lineItemPromotionSpecs": {
          "items": {
            "$ref": "SubscriptionPromotionSpec"
          },
          "description": "Optional. The promotions applied on the line item. It can be: - an introductory pricing promotion. - a free trial promotion. This feature is not enabled. If used, the request will be rejected. When used as input in Create or Provision API, specify its resource name only.",
          "type": "array"
        },
        "lineItemFreeTrialEndTime": {
          "readOnly": true,
          "description": "Output only. The free trial end time will be populated after the line item is successfully processed. End time of the line item free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "SubscriptionLineItem"
    },
    "GenerateUserSessionRequest": {
      "description": "Request to generate a user session.",
      "id": "GenerateUserSessionRequest",
      "type": "object",
      "properties": {
        "intentPayload": {
          "$ref": "IntentPayload",
          "description": "The user intent to generate the user session."
        }
      }
    },
    "Subscription": {
      "properties": {
        "processingState": {
          "type": "string",
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PROCESSING_STATE_CANCELLING",
            "PROCESSING_STATE_RECURRING",
            "PROCESSING_STATE_RESUMING",
            "PROCESSING_STATE_SUSPENDING"
          ],
          "description": "Output only. Describes the processing state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).",
          "enumDescriptions": [
            "The processing state is unspecified.",
            "The subscription is being cancelled.",
            "The subscription is recurring.",
            "The subscription is being resumed.",
            "The subscription is being suspended."
          ],
          "readOnly": true
        },
        "serviceLocation": {
          "description": "Required. The location that the service is provided as indicated by the partner.",
          "$ref": "Location"
        },
        "lineItems": {
          "type": "array",
          "description": "Required. The line items of the subscription.",
          "items": {
            "$ref": "SubscriptionLineItem"
          }
        },
        "partnerUserToken": {
          "type": "string",
          "description": "Required. Identifier of the end-user in partner’s system. The value is restricted to 63 ASCII characters at the maximum."
        },
        "promotionSpecs": {
          "description": "Optional. Subscription-level promotions. Only free trial is supported on this level. It determines the first renewal time of the subscription to be the end of the free trial period. Specify the promotion resource name only when used as input.",
          "type": "array",
          "items": {
            "$ref": "SubscriptionPromotionSpec"
          }
        },
        "promotions": {
          "description": "Optional. Deprecated: consider using the top-level `promotion_specs` as the input. Optional. Resource name that identifies one or more promotions that can be applied on the product. A typical promotion for a subscription is Free trial. The format will be 'partners/{partner_id}/promotions/{promotion_id}'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. System generated timestamp when the subscription is most recently updated. UTC timezone.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "endUserEntitled": {
          "type": "boolean",
          "description": "Output only. Indicates if the subscription is entitled to the end user.",
          "readOnly": true
        },
        "migrationDetails": {
          "readOnly": true,
          "description": "Output only. Describes the details of the migrated subscription. Only populated if this subscription is migrated from another system.",
          "$ref": "SubscriptionMigrationDetails"
        },
        "products": {
          "description": "Optional. Deprecated: consider using `line_items` as the input. Required. Resource name that identifies the purchased products. The format will be 'partners/{partner_id}/products/{product_id}'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "upgradeDowngradeDetails": {
          "$ref": "SubscriptionUpgradeDowngradeDetails",
          "description": "Optional. Details about the previous subscription that this new subscription upgrades/downgrades from. Only populated if this subscription is an upgrade/downgrade from another subscription."
        },
        "freeTrialEndTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. End of the free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. System generated timestamp when the subscription is created. UTC timezone.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the subscription. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\". This is available for authorizeAddon, but otherwise is response only."
        },
        "cycleEndTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. For example: \"2019-08-31T17:28:54.564Z\"",
          "format": "google-datetime"
        },
        "purchaseTime": {
          "description": "Optional. The timestamp when the user transaction was made with the Partner. Specify for the case of \"bundle with choice\", and it must be before the provision_time (when the user makes a selection).",
          "format": "google-datetime",
          "type": "string"
        },
        "redirectUri": {
          "readOnly": true,
          "description": "Output only. The place where partners should redirect the end-user to after creation. This field might also be populated when creation failed. However, Partners should always prepare a default URL to redirect the user in case this field is empty.",
          "type": "string"
        },
        "cancellationDetails": {
          "$ref": "SubscriptionCancellationDetails",
          "readOnly": true,
          "description": "Output only. Describes the details of a cancelled subscription. Only applicable to subscription of state `STATE_CANCELLED`."
        },
        "renewalTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\"",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified.",
            "The subscription is created, a state before it is moved to STATE_ACTIVE.",
            "The subscription is active.",
            "The subscription is cancelled. This is the final state of the subscription, as it can no longer be modified or reactivated.",
            "The subscription is in grace period. It can happen: 1) in manual extend mode, the subscription is not extended by the partner at the end of current cycle. 2) for outbound authorization enabled partners, a renewal purchase order is rejected.",
            "The subscription is waiting to be cancelled by the next recurrence cycle.",
            "The subscription is suspended."
          ],
          "readOnly": true,
          "description": "Output only. Describes the state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_CREATED",
            "STATE_ACTIVE",
            "STATE_CANCELLED",
            "STATE_IN_GRACE_PERIOD",
            "STATE_CANCEL_AT_END_OF_CYCLE",
            "STATE_SUSPENDED"
          ]
        }
      },
      "type": "object",
      "description": "Acts as a central billing entity between an external partner and Google. Google services use the subscription state to grant or revoke the user's service entitlement. Note: The subscription state might not perfectly align with the user's service entitlement. Some services might continue providing access until the current cycle ends, even if the subscription is immediately canceled. Consult the relevant contract or product policy for specific details.",
      "id": "Subscription"
    },
    "SubscriptionMigrationDetails": {
      "description": "Describes the details of the migrated subscription.",
      "type": "object",
      "properties": {
        "legacyCreationTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The creation time of the migrated subscription in the legacy system."
        },
        "migratedSubscriptionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The migrated subscription id in the legacy system."
        }
      },
      "id": "SubscriptionMigrationDetails"
    },
    "CancelSubscriptionResponse": {
      "id": "CancelSubscriptionResponse",
      "properties": {
        "subscription": {
          "$ref": "Subscription",
          "description": "The cancelled subscription resource."
        }
      },
      "description": "Response that contains the cancelled subscription resource.",
      "type": "object"
    },
    "CreateSubscriptionIntent": {
      "id": "CreateSubscriptionIntent",
      "type": "object",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one."
        },
        "parent": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use the `parent` field in `GenerateUserSessionRequest` instead. The parent resource name, which is the identifier of the partner.",
          "type": "string"
        },
        "subscription": {
          "description": "Required. The Subscription to be created.",
          "$ref": "Subscription"
        },
        "cycleOptions": {
          "$ref": "CycleOptions",
          "description": "Optional. The cycle options for the subscription."
        }
      },
      "description": "Intent message for creating a Subscription resource."
    },
    "ProductBundleDetails": {
      "id": "ProductBundleDetails",
      "description": "Details for a bundle product.",
      "type": "object",
      "properties": {
        "bundleElements": {
          "description": "The individual products that are included in the bundle.",
          "type": "array",
          "items": {
            "$ref": "ProductBundleDetailsBundleElement"
          }
        },
        "entitlementMode": {
          "description": "The entitlement mode of the bundle product.",
          "type": "string",
          "enum": [
            "ENTITLEMENT_MODE_UNSPECIFIED",
            "ENTITLEMENT_MODE_FULL",
            "ENTITLEMENT_MODE_INCREMENTAL"
          ],
          "enumDescriptions": [
            "Unspecified. It's reserved as an unexpected value, should not be used.",
            "All the bundle elements must be fully activated in a single request.",
            "The bundle elements could be incrementally activated."
          ]
        }
      }
    },
    "EntitleSubscriptionRequest": {
      "properties": {
        "lineItemEntitlementDetails": {
          "type": "array",
          "description": "Optional. The line items to be entitled. If unspecified, all line items will be entitled.",
          "items": {
            "$ref": "EntitleSubscriptionRequestLineItemEntitlementDetails"
          }
        }
      },
      "id": "EntitleSubscriptionRequest",
      "type": "object",
      "description": "Partner request for entitling the previously provisioned subscription to an end user. The end user identity is inferred from the request OAuth context."
    },
    "SuspendSubscriptionRequest": {
      "description": "Request to suspend a subscription.",
      "type": "object",
      "properties": {
        "suspendMode": {
          "enumDescriptions": [
            "The default value. Suspend the subscription, and the subscription will stay suspended indefinitely.",
            "Suspend the subscription, and the subscription will be auto cancelled after the grace period. Contract terms dictate how long the grace period is.",
            "Suspend the subscription, and the subscription will be auto cancelled after the retention period. Contract terms dictate how long the retention period is."
          ],
          "type": "string",
          "enum": [
            "SUSPEND_MODE_UNSPECIFIED",
            "SUSPEND_MODE_CANCEL_AFTER_GRACE_PERIOD",
            "SUSPEND_MODE_CANCEL_AFTER_RETENTION_PERIOD"
          ],
          "description": "Optional. The mode to suspend the subscription. It's required for partners to specify the suspend mode, whether suspend immediately and indefinitely, or cancel the subscription after grace_period_millis or auto_cancel_duration_millis if it's not resumed."
        }
      },
      "id": "SuspendSubscriptionRequest"
    },
    "Amount": {
      "id": "Amount",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Required. Currency codes in accordance with [ISO-4217 Currency Codes] (https://en.wikipedia.org/wiki/ISO_4217). For example, USD."
        },
        "amountMicros": {
          "description": "Required. Amount in micros (1_000_000 micros = 1 currency unit)",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Describes the amount unit including the currency code."
    },
    "UserSession": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "description": "Output only. The encrypted token of the user session, including the information of the user's intent and request. This token should be provided when redirecting the user to Google.",
          "readOnly": true
        },
        "expireTime": {
          "description": "Output only. The time at which the user session expires.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Contains a short-lived token containing information required to interact with the Google Payments Reseller Platform via web endpoints. - Generate a user session token dynamically for an authenticated user. Do not share a token directly with a user in an unauthenticated context, such as SMS or email. - You can regenerate new session tokens repeatedly for the same `generate` request if necessary, regardless of whether previous tokens have expired. Multiple sessions will not result in duplicate fulfillments because the `subscription ID` guarantees uniqueness. For more integration details, see the [Google Managed Signup](/payments/reseller/subscription/reference/index/User.Signup.Integration/Google.Managed.Signup) documentation.",
      "id": "UserSession"
    },
    "SubscriptionUpgradeDowngradeDetails": {
      "type": "object",
      "id": "SubscriptionUpgradeDowngradeDetails",
      "properties": {
        "previousSubscriptionId": {
          "description": "Required. The previous subscription id to be replaced. The format can be one of the following: 1. `subscription_id`: the old subscription id under the same partner_id. 2. `partners/{partner_id}/subscriptions/{subscription_id}`. A different partner_id is allowed. But they must be under the same partner group.",
          "type": "string"
        },
        "billingCycleSpec": {
          "enumDescriptions": [
            "Billing cycle spec is not specified.",
            "The billing cycle of the new subscription starts immediately but aligns with the previous subscription it upgrades or downgrades from. First cycle of the new subscription will be prorated.",
            "The billing cycle of the new subscription starts immediately.",
            "The new subscription will have the same `renewalTime` as the previous subscription, while the previous subscription is scheduled for cancellation at that same time."
          ],
          "description": "Required. Specifies the billing cycle spec for the new upgraded/downgraded subscription.",
          "type": "string",
          "enum": [
            "BILLING_CYCLE_SPEC_UNSPECIFIED",
            "BILLING_CYCLE_SPEC_ALIGN_WITH_PREVIOUS_SUBSCRIPTION",
            "BILLING_CYCLE_SPEC_START_IMMEDIATELY",
            "BILLING_CYCLE_SPEC_DEFERRED_TO_NEXT_RECURRENCE"
          ]
        }
      },
      "description": "Details about the previous subscription that this new subscription upgrades/downgrades from."
    },
    "SuspendSubscriptionResponse": {
      "type": "object",
      "description": "Response that contains the suspended subscription.",
      "id": "SuspendSubscriptionResponse",
      "properties": {
        "subscription": {
          "$ref": "Subscription",
          "description": "The suspended subscription resource."
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "Describes a location of an end user.",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "2-letter ISO region code for current content region. Ex. “US” Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1"
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code this location refers to. Ex. \"94043\""
        }
      },
      "type": "object"
    },
    "FindEligiblePromotionsRequest": {
      "description": "Request to find eligible promotions for the current user.",
      "id": "FindEligiblePromotionsRequest",
      "type": "object",
      "properties": {
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 promotions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `FindEligiblePromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FindEligiblePromotions` must match the call that provided the page token.",
          "type": "string"
        },
        "filter": {
          "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: 1. Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) 2. Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` 3. Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`",
          "type": "string"
        }
      }
    },
    "PromotionIntroductoryPricingDetails": {
      "id": "PromotionIntroductoryPricingDetails",
      "properties": {
        "introductoryPricingSpecs": {
          "items": {
            "$ref": "PromotionIntroductoryPricingDetailsIntroductoryPricingSpec"
          },
          "description": "Output only. Specifies the introductory pricing periods.",
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The details of a introductory pricing promotion."
    },
    "ResumeSubscriptionRequest": {
      "id": "ResumeSubscriptionRequest",
      "description": "Request to resume a suspended subscription.",
      "properties": {
        "cycleOptions": {
          "$ref": "CycleOptions",
          "description": "Optional. The cycle options for the subscription."
        },
        "resumeMode": {
          "type": "string",
          "enum": [
            "RESUME_MODE_UNSPECIFIED",
            "RESUME_MODE_CYCLE_OPTIONS",
            "RESUME_MODE_RESTORE_EXISTING_BILLING_SCHEDULE",
            "RESUME_MODE_IMMEDIATE_NEW_CYCLE"
          ],
          "description": "Required. The mode to resume the subscription.",
          "enumDescriptions": [
            "Reserved for invalid or unexpected value. Do not use.",
            "Resume the subscription using the input from `cycle_options`.",
            "Resume the subscription with the existing billing schedule. The subscription's next renewal time must still be in the future for this mode to be applicable.",
            "Resume the subscription and start a new billing cycle immediately, resulting in a new charge."
          ]
        }
      },
      "type": "object"
    },
    "GoogleOnePayload": {
      "properties": {
        "offering": {
          "enumDescriptions": [
            "The type of partner offering is unspecified.",
            "Google One product purchased as a Value added service in addition to existing partner's products. Customer pays additional amount for Google One product.",
            "Google One product purchased by itself by customer as a value add service. Customer pays additional amount for Google One product.",
            "Product purchased as part of a hard bundle where Google One was included with the bundle. Google One pricing is included in the bundle.",
            "Purchased as part of a bundle where Google One was provided as an option. Google One pricing is included in the bundle."
          ],
          "description": "The type of offering the subscription was sold by the partner. e.g. VAS.",
          "type": "string",
          "enum": [
            "OFFERING_UNSPECIFIED",
            "OFFERING_VAS_BUNDLE",
            "OFFERING_VAS_STANDALONE",
            "OFFERING_HARD_BUNDLE",
            "OFFERING_SOFT_BUNDLE"
          ]
        },
        "storeId": {
          "description": "The identifier for the partner store where the subscription was sold.",
          "type": "string"
        },
        "campaigns": {
          "description": "Campaign attributed to sales of this subscription.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "salesChannel": {
          "type": "string",
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "CHANNEL_RETAIL",
            "CHANNEL_ONLINE_WEB",
            "CHANNEL_ONLINE_ANDROID_APP",
            "CHANNEL_ONLINE_IOS_APP"
          ],
          "description": "The type of sales channel through which the subscription was sold.",
          "enumDescriptions": [
            "The channel type is unspecified.",
            "Sold at store.",
            "Sold through partner website.",
            "Sold through partner android app.",
            "Sold through partner iOS app."
          ]
        }
      },
      "id": "GoogleOnePayload",
      "description": "Payload specific to Google One products.",
      "type": "object"
    },
    "ListProductsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "products": {
          "description": "The products for the specified partner.",
          "type": "array",
          "items": {
            "$ref": "Product"
          }
        }
      },
      "id": "ListProductsResponse",
      "description": "Response that contains the products.",
      "type": "object"
    },
    "EntitleSubscriptionIntent": {
      "properties": {
        "name": {
          "description": "Required. The name of the subscription resource that is entitled to the current end user. It is in the format of \"partners/{partner_id}/subscriptions/{subscriptionId}\".",
          "type": "string"
        }
      },
      "description": "Intent for entitling the previously provisioned subscription to an end user.",
      "type": "object",
      "id": "EntitleSubscriptionIntent"
    },
    "SubscriptionPromotionSpec": {
      "id": "SubscriptionPromotionSpec",
      "type": "object",
      "description": "Describes the spec for one promotion.",
      "properties": {
        "type": {
          "description": "Output only. The type of the promotion for the spec.",
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ]
        },
        "freeTrialDuration": {
          "description": "Output only. The duration of the free trial if the promotion is of type FREE_TRIAL.",
          "$ref": "Duration",
          "readOnly": true
        },
        "promotion": {
          "type": "string",
          "description": "Required. Promotion resource name that identifies a promotion. The format is 'partners/{partner_id}/promotions/{promotion_id}'."
        },
        "introductoryPricingDetails": {
          "readOnly": true,
          "description": "Output only. The details of the introductory pricing spec if the promotion is of type INTRODUCTORY_PRICING.",
          "$ref": "PromotionIntroductoryPricingDetails"
        }
      }
    },
    "UndoCancelSubscriptionRequest": {
      "id": "UndoCancelSubscriptionRequest",
      "properties": {},
      "type": "object",
      "description": "Request to revoke a cancellation request."
    }
  },
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/sdm.service": {
          "description": "See and/or control the devices that you selected"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/payments/reseller/subscription/",
  "name": "paymentsresellersubscription",
  "resources": {
    "partners": {
      "resources": {
        "subscriptions": {
          "resources": {
            "lineItems": {
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. The list of fields to update. Only a limited set of fields can be updated. The allowed fields are the following: - `product_payload.googleHomePayload.googleStructureId`"
                    },
                    "name": {
                      "pattern": "^partners/[^/]+/subscriptions/[^/]+/lineItems/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Identifier. Resource name of the line item. Format: partners/{partner}/subscriptions/{subscription}/lineItems/{lineItem}"
                    }
                  },
                  "description": "Updates a line item of a subscription. It should be authenticated with a service account.",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "SubscriptionLineItem"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/sdm.service"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}/lineItems/{lineItemsId}",
                  "id": "paymentsresellersubscription.partners.subscriptions.lineItems.patch",
                  "response": {
                    "$ref": "SubscriptionLineItem"
                  }
                }
              }
            }
          },
          "methods": {
            "cancel": {
              "id": "paymentsresellersubscription.partners.subscriptions.cancel",
              "request": {
                "$ref": "CancelSubscriptionRequest"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the subscription resource to be cancelled. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "location": "path",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "Cancels a subscription service either immediately or by the end of the current billing cycle for their customers. It should be called directly by the partner using service accounts.",
              "response": {
                "$ref": "CancelSubscriptionResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:cancel",
              "path": "v1/{+name}:cancel"
            },
            "extend": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the subscription resource to be extended. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\".",
                  "location": "path",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "description": "[Opt-in only] Most partners should be on auto-extend by default. Extends a subscription service for their customers on an ongoing basis for the subscription to remain active and renewable. It should be called directly by the partner using service accounts.",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:extend",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:extend",
              "id": "paymentsresellersubscription.partners.subscriptions.extend",
              "response": {
                "$ref": "ExtendSubscriptionResponse"
              },
              "request": {
                "$ref": "ExtendSubscriptionRequest"
              }
            },
            "resume": {
              "description": "Resumes a suspended subscription. The new billing cycle will start at the time of the request. It should be called directly by the partner using service accounts.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription resource to be resumed. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\""
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "ResumeSubscriptionResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "path": "v1/{+name}:resume",
              "request": {
                "$ref": "ResumeSubscriptionRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:resume",
              "id": "paymentsresellersubscription.partners.subscriptions.resume"
            },
            "suspend": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:suspend",
              "request": {
                "$ref": "SuspendSubscriptionRequest"
              },
              "response": {
                "$ref": "SuspendSubscriptionResponse"
              },
              "parameters": {
                "name": {
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the subscription resource to be suspended. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "paymentsresellersubscription.partners.subscriptions.suspend",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:suspend",
              "description": "Suspends a subscription. Contract terms may dictate if a prorated refund will be issued upon suspension. It should be called directly by the partner using service accounts."
            },
            "undoCancel": {
              "request": {
                "$ref": "UndoCancelSubscriptionRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:undoCancel",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "httpMethod": "POST",
              "id": "paymentsresellersubscription.partners.subscriptions.undoCancel",
              "response": {
                "$ref": "UndoCancelSubscriptionResponse"
              },
              "parameters": {
                "name": {
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription resource whose pending cancellation needs to be undone. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:undoCancel",
              "description": "Currently, it is used by **Google One, Play Pass** partners. Revokes the pending cancellation of a subscription, which is currently in `STATE_CANCEL_AT_END_OF_CYCLE` state. If the subscription is already cancelled, the request will fail. It should be called directly by the partner using service accounts."
            },
            "entitle": {
              "path": "v1/{+name}:entitle",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the subscription resource that is entitled to the current end user. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "EntitleSubscriptionResponse"
              },
              "request": {
                "$ref": "EntitleSubscriptionRequest"
              },
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:entitle",
              "httpMethod": "POST",
              "description": "Entitles a previously provisioned subscription to the current end user. The end user identity is inferred from the authorized credential of the request. This API must be authorized by the end user using OAuth.",
              "id": "paymentsresellersubscription.partners.subscriptions.entitle"
            },
            "create": {
              "description": "Used by partners to create a subscription for their customers. The created subscription is associated with the end user inferred from the end user credentials. This API must be authorized by the end user using OAuth.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "response": {
                "$ref": "Subscription"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/subscriptions",
              "request": {
                "$ref": "Subscription"
              },
              "parameters": {
                "subscriptionId": {
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription with the same ID already exists, the creation fails with an `ALREADY_EXISTS` error.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\".",
                  "pattern": "^partners/[^/]+$"
                }
              },
              "id": "paymentsresellersubscription.partners.subscriptions.create"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "description": "Gets a subscription by id. It should be called directly by the partner using service accounts.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the subscription resource to retrieve. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\""
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Subscription"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.get",
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}",
              "path": "v1/{+name}"
            },
            "provision": {
              "path": "v1/{+parent}/subscriptions:provision",
              "response": {
                "$ref": "Subscription"
              },
              "flatPath": "v1/partners/{partnersId}/subscriptions:provision",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\".",
                  "location": "path",
                  "required": true
                },
                "cycleOptions.initialCycleDuration.unit": {
                  "type": "string",
                  "enum": [
                    "UNIT_UNSPECIFIED",
                    "MONTH",
                    "DAY",
                    "HOUR"
                  ],
                  "description": "The unit used for the duration",
                  "location": "query",
                  "enumDescriptions": [
                    "Default value, reserved as an invalid or an unexpected value.",
                    "Unit of a calendar month.",
                    "Unit of a day.",
                    "Unit of an hour. It is used for testing."
                  ]
                },
                "subscriptionId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription with the same ID already exists, the creation fails with an `ALREADY_EXISTS` error."
                },
                "cycleOptions.initialCycleDuration.count": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "number of duration units to be included."
                }
              },
              "httpMethod": "POST",
              "description": "Used by partners to provision a subscription for their customers. This creates a subscription without associating it with the end user account. EntitleSubscription must be called separately using OAuth in order for the end user account to be associated with the subscription. It should be called directly by the partner using service accounts.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Subscription"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.provision",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ]
            }
          }
        },
        "promotions": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/promotions",
              "response": {
                "$ref": "ListPromotionsResponse"
              },
              "path": "v1/{+parent}/promotions",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 promotions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "required": true,
                  "type": "string",
                  "pattern": "^partners/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token."
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: 1. Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) 2. Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` 3. Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`",
                  "type": "string"
                }
              },
              "description": "Currently, it doesn't support **YouTube** promotions. Retrieves the promotions, such as free trial, that can be used by the partner. It should be authenticated with a service account.",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "id": "paymentsresellersubscription.partners.promotions.list",
              "httpMethod": "GET"
            },
            "findEligible": {
              "path": "v1/{+parent}/promotions:findEligible",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/promotions:findEligible",
              "response": {
                "$ref": "FindEligiblePromotionsResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^partners/[^/]+$"
                }
              },
              "description": "Currently, it is only enabled for **YouTube**. Finds eligible promotions for the current user. The API requires user authorization via OAuth. The bare minimum oauth scope `openid` is sufficient, which will skip the consent screen.",
              "id": "paymentsresellersubscription.partners.promotions.findEligible",
              "request": {
                "$ref": "FindEligiblePromotionsRequest"
              },
              "httpMethod": "POST"
            }
          }
        },
        "products": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/products",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "type": "string",
                  "pattern": "^partners/[^/]+$"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Specifies the filters for the product results. The syntax is defined in https://google.aip.dev/160 with the following caveats: 1. Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) 2. Only the following fields are supported: - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` 3. Unless explicitly mentioned above, other features are not supported. Example: `regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of products to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProducts` must match the call that provided the page token."
                }
              },
              "response": {
                "$ref": "ListProductsResponse"
              },
              "description": "Currently, it doesn't support **YouTube** products. Retrieves the products that can be resold by the partner. It should be authenticated with a service account.",
              "id": "paymentsresellersubscription.partners.products.list",
              "httpMethod": "GET",
              "flatPath": "v1/partners/{partnersId}/products"
            }
          }
        },
        "userSessions": {
          "methods": {
            "generate": {
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "pattern": "^partners/[^/]+$"
                }
              },
              "request": {
                "$ref": "GenerateUserSessionRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "response": {
                "$ref": "GenerateUserSessionResponse"
              },
              "httpMethod": "POST",
              "description": "This API replaces user authorized OAuth consent based APIs (Create, Entitle). Issues a timed session token for the given user intent. You can use the session token to redirect the user to Google to finish the signup flow. You can re-generate new session token repeatedly for the same request if necessary, regardless of the previous tokens being expired or not. By default, the session token is valid for 1 hour.",
              "path": "v1/{+parent}/userSessions:generate",
              "flatPath": "v1/partners/{partnersId}/userSessions:generate",
              "id": "paymentsresellersubscription.partners.userSessions.generate",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "version": "v1",
  "servicePath": ""
}