{
  "discoveryVersion": "v1",
  "name": "paymentsresellersubscription",
  "ownerName": "Google",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "resources": {
    "partners": {
      "resources": {
        "userSessions": {
          "methods": {
            "generate": {
              "request": {
                "$ref": "GenerateUserSessionRequest"
              },
              "id": "paymentsresellersubscription.partners.userSessions.generate",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "flatPath": "v1/partners/{partnersId}/userSessions:generate",
              "httpMethod": "POST",
              "response": {
                "$ref": "GenerateUserSessionResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "pattern": "^partners/[^/]+$"
                }
              },
              "path": "v1/{+parent}/userSessions:generate",
              "description": "This API replaces user authorized OAuth consent based APIs (Create, Entitle). Issues a timed session token for the given user intent. You can use the session token to redirect the user to Google to finish the signup flow. You can re-generate new session token repeatedly for the same request if necessary, regardless of the previous tokens being expired or not. By default, the session token is valid for 1 hour.",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "subscriptions": {
          "methods": {
            "create": {
              "path": "v1/{+parent}/subscriptions",
              "description": "Used by partners to create a subscription for their customers. The created subscription is associated with the end user inferred from the end user credentials. This API must be authorized by the end user using OAuth.",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\".",
                  "pattern": "^partners/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "subscriptionId": {
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription with the same ID already exists, the creation fails with an `ALREADY_EXISTS` error.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "paymentsresellersubscription.partners.subscriptions.create",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "request": {
                "$ref": "Subscription"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Subscription"
              },
              "flatPath": "v1/partners/{partnersId}/subscriptions"
            },
            "undoCancel": {
              "httpMethod": "POST",
              "response": {
                "$ref": "UndoCancelSubscriptionResponse"
              },
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:undoCancel",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "id": "paymentsresellersubscription.partners.subscriptions.undoCancel",
              "request": {
                "$ref": "UndoCancelSubscriptionRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Currently, it is used by **Google One, Play Pass** partners. Revokes the pending cancellation of a subscription, which is currently in `STATE_CANCEL_AT_END_OF_CYCLE` state. If the subscription is already cancelled, the request will fail. It should be called directly by the partner using service accounts.",
              "path": "v1/{+name}:undoCancel",
              "parameters": {
                "name": {
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription resource whose pending cancellation needs to be undone. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "provision": {
              "id": "paymentsresellersubscription.partners.subscriptions.provision",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "request": {
                "$ref": "Subscription"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Subscription"
              },
              "flatPath": "v1/partners/{partnersId}/subscriptions:provision",
              "path": "v1/{+parent}/subscriptions:provision",
              "description": "Used by partners to provision a subscription for their customers. This creates a subscription without associating it with the end user account. EntitleSubscription must be called separately using OAuth in order for the end user account to be associated with the subscription. It should be called directly by the partner using service accounts.",
              "parameters": {
                "subscriptionId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription with the same ID already exists, the creation fails with an `ALREADY_EXISTS` error."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\"."
                },
                "cycleOptions.initialCycleDuration.unit": {
                  "enumDescriptions": [
                    "Default value, reserved as an invalid or an unexpected value.",
                    "Unit of a calendar month.",
                    "Unit of a day.",
                    "Unit of an hour. It is used for testing."
                  ],
                  "location": "query",
                  "description": "The unit used for the duration",
                  "enum": [
                    "UNIT_UNSPECIFIED",
                    "MONTH",
                    "DAY",
                    "HOUR"
                  ],
                  "type": "string"
                },
                "cycleOptions.initialCycleDuration.count": {
                  "description": "number of duration units to be included.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "extend": {
              "parameterOrder": [
                "name"
              ],
              "description": "[Opt-in only] Most partners should be on auto-extend by default. Extends a subscription service for their customers on an ongoing basis for the subscription to remain active and renewable. It should be called directly by the partner using service accounts.",
              "path": "v1/{+name}:extend",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription resource to be extended. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"."
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "ExtendSubscriptionResponse"
              },
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:extend",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "id": "paymentsresellersubscription.partners.subscriptions.extend",
              "request": {
                "$ref": "ExtendSubscriptionRequest"
              }
            },
            "resume": {
              "path": "v1/{+name}:resume",
              "description": "Resumes a suspended subscription. The new billing cycle will start at the time of the request. It should be called directly by the partner using service accounts.",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription resource to be resumed. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "paymentsresellersubscription.partners.subscriptions.resume",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "request": {
                "$ref": "ResumeSubscriptionRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "ResumeSubscriptionResponse"
              },
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:resume"
            },
            "cancel": {
              "request": {
                "$ref": "CancelSubscriptionRequest"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:cancel",
              "httpMethod": "POST",
              "response": {
                "$ref": "CancelSubscriptionResponse"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription resource to be cancelled. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+name}:cancel",
              "description": "Cancels a subscription service either immediately or by the end of the current billing cycle for their customers. It should be called directly by the partner using service accounts.",
              "parameterOrder": [
                "name"
              ]
            },
            "entitle": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:entitle",
              "description": "Entitles a previously provisioned subscription to the current end user. The end user identity is inferred from the authorized credential of the request. This API must be authorized by the end user using OAuth.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription resource that is entitled to the current end user. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\""
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "EntitleSubscriptionResponse"
              },
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:entitle",
              "id": "paymentsresellersubscription.partners.subscriptions.entitle",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "request": {
                "$ref": "EntitleSubscriptionRequest"
              }
            },
            "get": {
              "id": "paymentsresellersubscription.partners.subscriptions.get",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Subscription"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription resource to retrieve. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "description": "Gets a subscription by id. It should be called directly by the partner using service accounts.",
              "parameterOrder": [
                "name"
              ]
            },
            "suspend": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The name of the subscription resource to be suspended. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+name}:suspend",
              "description": "Suspends a subscription. Contract terms may dictate if a prorated refund will be issued upon suspension. It should be called directly by the partner using service accounts.",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SuspendSubscriptionRequest"
              },
              "id": "paymentsresellersubscription.partners.subscriptions.suspend",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}:suspend",
              "httpMethod": "POST",
              "response": {
                "$ref": "SuspendSubscriptionResponse"
              }
            }
          },
          "resources": {
            "lineItems": {
              "methods": {
                "patch": {
                  "flatPath": "v1/partners/{partnersId}/subscriptions/{subscriptionsId}/lineItems/{lineItemsId}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "SubscriptionLineItem"
                  },
                  "request": {
                    "$ref": "SubscriptionLineItem"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/sdm.service"
                  ],
                  "id": "paymentsresellersubscription.partners.subscriptions.lineItems.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. The list of fields to update. Only a limited set of fields can be updated. The allowed fields are the following: - `product_payload.googleHomePayload.googleStructureId`"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^partners/[^/]+/subscriptions/[^/]+/lineItems/[^/]+$",
                      "description": "Identifier. Resource name of the line item. Format: partners/{partner}/subscriptions/{subscription}/lineItems/{lineItem}"
                    }
                  },
                  "description": "Updates a line item of a subscription. It should be authenticated with a service account.",
                  "path": "v1/{+name}"
                }
              }
            }
          }
        },
        "products": {
          "methods": {
            "list": {
              "flatPath": "v1/partners/{partnersId}/products",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListProductsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "id": "paymentsresellersubscription.partners.products.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of products to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProducts` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. Specifies the filters for the product results. The syntax is defined in https://google.aip.dev/160 with the following caveats: 1. Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) 2. Only the following fields are supported: - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` 3. Unless explicitly mentioned above, other features are not supported. Example: `regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Currently, it doesn't support **YouTube** products. Retrieves the products that can be resold by the partner. It should be authenticated with a service account.",
              "path": "v1/{+parent}/products"
            }
          }
        },
        "promotions": {
          "methods": {
            "list": {
              "description": "Currently, it doesn't support **YouTube** promotions. Retrieves the promotions, such as free trial, that can be used by the partner. It should be authenticated with a service account.",
              "path": "v1/{+parent}/promotions",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "pattern": "^partners/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 promotions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: 1. Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) 2. Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` 3. Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "id": "paymentsresellersubscription.partners.promotions.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListPromotionsResponse"
              },
              "flatPath": "v1/partners/{partnersId}/promotions"
            },
            "findEligible": {
              "request": {
                "$ref": "FindEligiblePromotionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "id": "paymentsresellersubscription.partners.promotions.findEligible",
              "flatPath": "v1/partners/{partnersId}/promotions:findEligible",
              "httpMethod": "POST",
              "response": {
                "$ref": "FindEligiblePromotionsResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "pattern": "^partners/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Currently, it is only enabled for **YouTube**. Finds eligible promotions for the current user. The API requires user authorization via OAuth. The bare minimum oauth scope `openid` is sufficient, which will skip the consent screen.",
              "path": "v1/{+parent}/promotions:findEligible",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    }
  },
  "schemas": {
    "SubscriptionLineItemBundleDetails": {
      "type": "object",
      "id": "SubscriptionLineItemBundleDetails",
      "properties": {
        "bundleElementDetails": {
          "type": "array",
          "description": "Output only. The details for each element in the hard bundle.",
          "readOnly": true,
          "items": {
            "$ref": "SubscriptionLineItemBundleDetailsBundleElementDetails"
          }
        }
      },
      "description": "The bundle details for a line item corresponding to a hard bundle."
    },
    "ProductPriceConfig": {
      "type": "object",
      "id": "ProductPriceConfig",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\".",
          "readOnly": true
        },
        "amount": {
          "description": "Output only. The price in the region.",
          "readOnly": true,
          "$ref": "Amount"
        }
      },
      "description": "Configs the prices in an available region."
    },
    "GoogleHomePayload": {
      "id": "GoogleHomePayload",
      "properties": {
        "partnerStructureId": {
          "type": "string",
          "description": "Optional. This identifies the structure ID on partner side that the subscription should be applied to. Only required when the partner requires structure mapping."
        },
        "googleStructureId": {
          "description": "Optional. Structure identifier on Google side.",
          "type": "string"
        },
        "attachedToGoogleStructure": {
          "type": "boolean",
          "description": "Output only. This identifies whether the subscription is attached to a Google Home structure.",
          "readOnly": true
        }
      },
      "description": "Payload specific for Google Home products.",
      "type": "object"
    },
    "Extension": {
      "id": "Extension",
      "properties": {
        "duration": {
          "description": "Required. Specifies the period of access the subscription should grant.",
          "$ref": "Duration"
        },
        "partnerUserToken": {
          "description": "Required. Identifier of the end-user in partner’s system.",
          "type": "string"
        }
      },
      "description": "Describes the details of an extension request.",
      "type": "object"
    },
    "ExtendSubscriptionResponse": {
      "description": "Response that contains the timestamps after the extension.",
      "id": "ExtendSubscriptionResponse",
      "properties": {
        "renewalTime": {
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\"",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "cycleEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. Example, \"cycleEndTime\":\"2019-08-31T17:28:54.564Z\""
        },
        "freeTrialEndTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End of the free trial period, in ISO 8061 format. UTC timezone. Example, \"freeTrialEndTime\":\"2019-08-31T17:28:54.564Z\" This time will be set the same as initial subscription creation time if no free trial period is offered to the partner."
        }
      },
      "type": "object"
    },
    "PromotionIntroductoryPricingDetailsIntroductoryPricingSpec": {
      "id": "PromotionIntroductoryPricingDetailsIntroductoryPricingSpec",
      "properties": {
        "discountRatioMicros": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The discount percentage in micros. For example, 50,000 represents 5%.",
          "readOnly": true
        },
        "regionCode": {
          "type": "string",
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\".",
          "readOnly": true
        },
        "recurrenceCount": {
          "description": "Output only. The duration of an introductory offer in billing cycles.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "discountAmount": {
          "description": "Output only. The discount amount. The value is positive.",
          "readOnly": true,
          "$ref": "Amount"
        }
      },
      "description": "The duration of an introductory pricing promotion.",
      "type": "object"
    },
    "PromotionIntroductoryPricingDetails": {
      "id": "PromotionIntroductoryPricingDetails",
      "properties": {
        "introductoryPricingSpecs": {
          "type": "array",
          "description": "Output only. Specifies the introductory pricing periods.",
          "readOnly": true,
          "items": {
            "$ref": "PromotionIntroductoryPricingDetailsIntroductoryPricingSpec"
          }
        }
      },
      "description": "The details of a introductory pricing promotion.",
      "type": "object"
    },
    "Subscription": {
      "type": "object",
      "description": "Acts as a central billing entity between an external partner and Google. Google services use the subscription state to grant or revoke the user's service entitlement. Note: The subscription state might not perfectly align with the user's service entitlement. Some services might continue providing access until the current cycle ends, even if the subscription is immediately canceled. Consult the relevant contract or product policy for specific details.",
      "id": "Subscription",
      "properties": {
        "updateTime": {
          "description": "Output only. System generated timestamp when the subscription is most recently updated. UTC timezone.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "serviceLocation": {
          "description": "Required. The location that the service is provided as indicated by the partner.",
          "$ref": "Location"
        },
        "redirectUri": {
          "type": "string",
          "description": "Output only. The place where partners should redirect the end-user to after creation. This field might also be populated when creation failed. However, Partners should always prepare a default URL to redirect the user in case this field is empty.",
          "readOnly": true
        },
        "endUserEntitled": {
          "type": "boolean",
          "description": "Output only. Indicates if the subscription is entitled to the end user.",
          "readOnly": true
        },
        "cycleEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. For example: \"2019-08-31T17:28:54.564Z\"",
          "readOnly": true
        },
        "promotionSpecs": {
          "type": "array",
          "items": {
            "$ref": "SubscriptionPromotionSpec"
          },
          "description": "Optional. Subscription-level promotions. Only free trial is supported on this level. It determines the first renewal time of the subscription to be the end of the free trial period. Specify the promotion resource name only when used as input."
        },
        "freeTrialEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. End of the free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "readOnly": true
        },
        "products": {
          "description": "Optional. Deprecated: consider using `line_items` as the input. Required. Resource name that identifies the purchased products. The format will be 'partners/{partner_id}/products/{product_id}'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lineItems": {
          "type": "array",
          "items": {
            "$ref": "SubscriptionLineItem"
          },
          "description": "Required. The line items of the subscription."
        },
        "createTime": {
          "description": "Output only. System generated timestamp when the subscription is created. UTC timezone.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_CREATED",
            "STATE_ACTIVE",
            "STATE_CANCELLED",
            "STATE_IN_GRACE_PERIOD",
            "STATE_CANCEL_AT_END_OF_CYCLE",
            "STATE_SUSPENDED"
          ],
          "description": "Output only. Describes the state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The subscription is created, a state before it is moved to STATE_ACTIVE.",
            "The subscription is active.",
            "The subscription is cancelled. This is the final state of the subscription, as it can no longer be modified or reactivated.",
            "The subscription is in grace period. It can happen: 1) in manual extend mode, the subscription is not extended by the partner at the end of current cycle. 2) for outbound authorization enabled partners, a renewal purchase order is rejected.",
            "The subscription is waiting to be cancelled by the next recurrence cycle.",
            "The subscription is suspended."
          ]
        },
        "cancellationDetails": {
          "description": "Output only. Describes the details of a cancelled subscription. Only applicable to subscription of state `STATE_CANCELLED`.",
          "readOnly": true,
          "$ref": "SubscriptionCancellationDetails"
        },
        "migrationDetails": {
          "description": "Output only. Describes the details of the migrated subscription. Only populated if this subscription is migrated from another system.",
          "readOnly": true,
          "$ref": "SubscriptionMigrationDetails"
        },
        "upgradeDowngradeDetails": {
          "description": "Optional. Details about the previous subscription that this new subscription upgrades/downgrades from. Only populated if this subscription is an upgrade/downgrade from another subscription.",
          "$ref": "SubscriptionUpgradeDowngradeDetails"
        },
        "partnerUserToken": {
          "type": "string",
          "description": "Required. Identifier of the end-user in partner’s system. The value is restricted to 63 ASCII characters at the maximum."
        },
        "purchaseTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The timestamp when the user transaction was made with the Partner. Specify for the case of \"bundle with choice\", and it must be before the provision_time (when the user makes a selection)."
        },
        "renewalTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\"",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Resource name of the subscription. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\". This is available for authorizeAddon, but otherwise is response only.",
          "type": "string"
        },
        "promotions": {
          "description": "Optional. Deprecated: consider using the top-level `promotion_specs` as the input. Optional. Resource name that identifies one or more promotions that can be applied on the product. A typical promotion for a subscription is Free trial. The format will be 'partners/{partner_id}/promotions/{promotion_id}'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "processingState": {
          "type": "string",
          "description": "Output only. Describes the processing state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).",
          "readOnly": true,
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PROCESSING_STATE_CANCELLING",
            "PROCESSING_STATE_RECURRING",
            "PROCESSING_STATE_RESUMING",
            "PROCESSING_STATE_SUSPENDING"
          ],
          "enumDescriptions": [
            "The processing state is unspecified.",
            "The subscription is being cancelled.",
            "The subscription is recurring.",
            "The subscription is being resumed.",
            "The subscription is being suspended."
          ]
        }
      }
    },
    "FindEligiblePromotionsRequest": {
      "description": "Request to find eligible promotions for the current user.",
      "id": "FindEligiblePromotionsRequest",
      "properties": {
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 promotions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous `FindEligiblePromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FindEligiblePromotions` must match the call that provided the page token."
        },
        "filter": {
          "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: 1. Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) 2. Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` 3. Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Promotion": {
      "type": "object",
      "description": "A Promotion resource that defines a promotion for a subscription that can be resold.",
      "id": "Promotion",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Specifies the end time (exclusive) of the period that the promotion is available in. If unset, the promotion is available indefinitely."
        },
        "titles": {
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          },
          "description": "Output only. Localized human readable name of the promotion.",
          "readOnly": true,
          "type": "array"
        },
        "freeTrialDuration": {
          "description": "Optional. Specifies the duration of the free trial of the subscription when promotion_type is PROMOTION_TYPE_FREE_TRIAL",
          "$ref": "Duration"
        },
        "applicableProducts": {
          "description": "Output only. The product ids this promotion can be applied to.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "introductoryPricingDetails": {
          "description": "Optional. Specifies the introductory pricing details when the promotion_type is PROMOTION_TYPE_INTRODUCTORY_PRICING.",
          "$ref": "PromotionIntroductoryPricingDetails"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Response only. Resource name of the subscription promotion. It will have the format of \"partners/{partner_id}/promotion/{promotion_id}\""
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Specifies the start time (inclusive) of the period that the promotion is available in."
        },
        "regionCodes": {
          "type": "array",
          "description": "Output only. 2-letter ISO region code where the promotion is available in. Ex. \"US\" Please refer to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "promotionType": {
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "type": "string",
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ],
          "description": "Output only. Specifies the type of the promotion.",
          "readOnly": true
        }
      }
    },
    "SubscriptionPromotionSpec": {
      "id": "SubscriptionPromotionSpec",
      "properties": {
        "introductoryPricingDetails": {
          "description": "Output only. The details of the introductory pricing spec if the promotion is of type INTRODUCTORY_PRICING.",
          "readOnly": true,
          "$ref": "PromotionIntroductoryPricingDetails"
        },
        "freeTrialDuration": {
          "description": "Output only. The duration of the free trial if the promotion is of type FREE_TRIAL.",
          "readOnly": true,
          "$ref": "Duration"
        },
        "promotion": {
          "description": "Required. Promotion resource name that identifies a promotion. The format is 'partners/{partner_id}/promotions/{promotion_id}'.",
          "type": "string"
        },
        "type": {
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ],
          "description": "Output only. The type of the promotion for the spec.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ]
        }
      },
      "description": "Describes the spec for one promotion.",
      "type": "object"
    },
    "ProductPayload": {
      "description": "Specifies product specific payload.",
      "id": "ProductPayload",
      "properties": {
        "youtubePayload": {
          "description": "Payload specific to Youtube products.",
          "$ref": "YoutubePayload"
        },
        "googleHomePayload": {
          "description": "Payload specific to Google Home products.",
          "$ref": "GoogleHomePayload"
        },
        "googleOnePayload": {
          "description": "Product-specific payloads. Payload specific to Google One products.",
          "$ref": "GoogleOnePayload"
        }
      },
      "type": "object"
    },
    "ListPromotionsResponse": {
      "type": "object",
      "description": "Response that contains the promotions.",
      "id": "ListPromotionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "promotions": {
          "type": "array",
          "description": "The promotions for the specified partner.",
          "items": {
            "$ref": "Promotion"
          }
        }
      }
    },
    "GenerateUserSessionResponse": {
      "description": "Response that contains the details for generated user session.",
      "id": "GenerateUserSessionResponse",
      "properties": {
        "userSession": {
          "description": "The generated user session. The token size is proportional to the size of the intent payload.",
          "$ref": "UserSession"
        }
      },
      "type": "object"
    },
    "SubscriptionCancellationDetails": {
      "id": "SubscriptionCancellationDetails",
      "properties": {
        "reason": {
          "enumDescriptions": [
            "Reason is unspecified. Should not be used.",
            "Fraudulent transaction.",
            "Buyer's remorse.",
            "Accidental purchase.",
            "Payment is past due.",
            "Used for notification only, do not use in Cancel API. User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Used for notification only, do not use in Cancel API. Cancellation due to an unrecoverable system error.",
            "Used for notification only, do not use in Cancel API. The subscription is cancelled by Google automatically since it is no longer valid.",
            "Cancellation due to a billing system switch.",
            "Other reason."
          ],
          "type": "string",
          "description": "Output only. The reason of the cancellation.",
          "readOnly": true,
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_SYSTEM_ERROR",
            "CANCELLATION_REASON_SYSTEM_CANCEL",
            "CANCELLATION_REASON_BILLING_SYSTEM_SWITCH",
            "CANCELLATION_REASON_OTHER"
          ]
        }
      },
      "description": "Describes the details of a cancelled or cancelling subscription.",
      "type": "object"
    },
    "ResumeSubscriptionResponse": {
      "type": "object",
      "description": "Response that contains the resumed subscription.",
      "id": "ResumeSubscriptionResponse",
      "properties": {
        "subscription": {
          "description": "The resumed subscription resource.",
          "$ref": "Subscription"
        }
      }
    },
    "ProductBundleDetailsBundleElement": {
      "id": "ProductBundleDetailsBundleElement",
      "properties": {
        "product": {
          "type": "string",
          "description": "Required. Output only. Product resource name that identifies the bundle element. The format is 'partners/{partner_id}/products/{product_id}'.",
          "readOnly": true
        }
      },
      "description": "The individual product that is included in the bundle.",
      "type": "object"
    },
    "IntentPayload": {
      "type": "object",
      "description": "The payload that describes the user intent.",
      "id": "IntentPayload",
      "properties": {
        "createIntent": {
          "description": "The request to create a subscription.",
          "$ref": "CreateSubscriptionIntent"
        },
        "entitleIntent": {
          "description": "The request to entitle a subscription.",
          "$ref": "EntitleSubscriptionIntent"
        },
        "intentOptions": {
          "description": "Optional. The additional features for the intent.",
          "$ref": "IntentPayloadIntentOptions"
        }
      }
    },
    "SubscriptionLineItem": {
      "description": "Individual line item definition of a subscription.",
      "id": "SubscriptionLineItem",
      "properties": {
        "lineItemPromotionSpecs": {
          "type": "array",
          "description": "Optional. The promotions applied on the line item. It can be: - an introductory pricing promotion. - a free trial promotion. This feature is not enabled. If used, the request will be rejected. When used as input in Create or Provision API, specify its resource name only.",
          "items": {
            "$ref": "SubscriptionPromotionSpec"
          }
        },
        "productPayload": {
          "description": "Optional. Product specific payload for this line item.",
          "$ref": "ProductPayload"
        },
        "amount": {
          "description": "Output only. The price of the product/service in this line item. The amount could be the wholesale price, or it can include a cost of sale based on the contract.",
          "readOnly": true,
          "$ref": "Amount"
        },
        "finiteBillingCycleDetails": {
          "description": "Optional. Details for a subscription line item with finite billing cycles. If unset, the line item will be charged indefinitely. Used only with LINE_ITEM_RECURRENCE_TYPE_PERIODIC.",
          "$ref": "FiniteBillingCycleDetails"
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of this line item.",
          "readOnly": true
        },
        "recurrenceType": {
          "enumDescriptions": [
            "The line item recurrence type is unspecified.",
            "The line item recurs periodically.",
            "The line item does not recur in the future."
          ],
          "type": "string",
          "description": "Output only. The recurrence type of the line item.",
          "readOnly": true,
          "enum": [
            "LINE_ITEM_RECURRENCE_TYPE_UNSPECIFIED",
            "LINE_ITEM_RECURRENCE_TYPE_PERIODIC",
            "LINE_ITEM_RECURRENCE_TYPE_ONE_TIME"
          ]
        },
        "lineItemFreeTrialEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The free trial end time will be populated after the line item is successfully processed. End time of the line item free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "readOnly": true
        },
        "bundleDetails": {
          "description": "Output only. The bundle details for the line item. Only populated if the line item corresponds to a hard bundle.",
          "readOnly": true,
          "$ref": "SubscriptionLineItemBundleDetails"
        },
        "name": {
          "description": "Identifier. Resource name of the line item. Format: partners/{partner}/subscriptions/{subscription}/lineItems/{lineItem}",
          "type": "string"
        },
        "lineItemIndex": {
          "description": "Output only. A unique index of the subscription line item.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "oneTimeRecurrenceDetails": {
          "description": "Output only. Details only set for a ONE_TIME recurrence line item.",
          "readOnly": true,
          "$ref": "SubscriptionLineItemOneTimeRecurrenceDetails"
        },
        "state": {
          "type": "string",
          "enum": [
            "LINE_ITEM_STATE_UNSPECIFIED",
            "LINE_ITEM_STATE_ACTIVE",
            "LINE_ITEM_STATE_INACTIVE",
            "LINE_ITEM_STATE_NEW",
            "LINE_ITEM_STATE_ACTIVATING",
            "LINE_ITEM_STATE_DEACTIVATING",
            "LINE_ITEM_STATE_WAITING_TO_DEACTIVATE",
            "LINE_ITEM_STATE_OFF_CYCLE_CHARGING"
          ],
          "description": "Output only. The state of the line item.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The line item is in ACTIVE state. If the subscription is cancelled or suspended, the line item will not be charged even if the line item is active.",
            "The line item is in INACTIVE state.",
            "The line item is new, and is not activated or charged yet.",
            "The line item is being activated in order to be charged. If a free trial applies to the line item, the line item is pending a prorated charge at the end of the free trial period, as indicated by `line_item_free_trial_end_time`.",
            "The line item is being deactivated, and a prorated refund in being processed.",
            "The line item is scheduled to be deactivated at the end of the current cycle.",
            "Line item is being charged off-cycle."
          ]
        },
        "product": {
          "type": "string",
          "description": "Required. Product resource name that identifies the product associated with this line item. The format is 'partners/{partner_id}/products/{product_id}'."
        }
      },
      "type": "object"
    },
    "SubscriptionLineItemOneTimeRecurrenceDetails": {
      "type": "object",
      "description": "Details for a ONE_TIME recurrence line item.",
      "id": "SubscriptionLineItemOneTimeRecurrenceDetails",
      "properties": {
        "servicePeriod": {
          "description": "Output only. The service period of the ONE_TIME line item.",
          "readOnly": true,
          "$ref": "ServicePeriod"
        }
      }
    },
    "ExtendSubscriptionRequest": {
      "type": "object",
      "id": "ExtendSubscriptionRequest",
      "properties": {
        "requestId": {
          "description": "Required. Restricted to 36 ASCII characters. A random UUID is recommended. The idempotency key for the request. The ID generation logic is controlled by the partner. request_id should be the same as on retries of the same request. A different request_id must be used for a extension of a different cycle.",
          "type": "string"
        },
        "extension": {
          "description": "Required. Specifies details of the extension. Currently, the duration of the extension must be exactly one billing cycle of the original subscription.",
          "$ref": "Extension"
        }
      },
      "description": "Request message for extending a Subscription resource. A new recurrence will be made based on the subscription schedule defined by the original product."
    },
    "IntentPayloadIntentOptions": {
      "type": "object",
      "description": "The options for the intent.",
      "id": "IntentPayloadIntentOptions",
      "properties": {
        "enableOfferOverride": {
          "type": "boolean",
          "description": "Optional. If true, Google may use a different product and promotion id from the ones in the `create_intent` based on the user's eligibility. Only applicable for certain YouTube free trial offers."
        }
      }
    },
    "GenerateUserSessionRequest": {
      "type": "object",
      "id": "GenerateUserSessionRequest",
      "properties": {
        "intentPayload": {
          "description": "The user intent to generate the user session.",
          "$ref": "IntentPayload"
        }
      },
      "description": "Request to generate a user session."
    },
    "SuspendSubscriptionRequest": {
      "type": "object",
      "description": "Request to suspend a subscription.",
      "id": "SuspendSubscriptionRequest",
      "properties": {
        "suspendMode": {
          "enumDescriptions": [
            "The default value. Suspend the subscription, and the subscription will stay suspended indefinitely.",
            "Suspend the subscription, and the subscription will be auto cancelled after the grace period. Contract terms dictate how long the grace period is.",
            "Suspend the subscription, and the subscription will be auto cancelled after the retention period. Contract terms dictate how long the retention period is."
          ],
          "type": "string",
          "description": "Optional. The mode to suspend the subscription. It's required for partners to specify the suspend mode, whether suspend immediately and indefinitely, or cancel the subscription after grace_period_millis or auto_cancel_duration_millis if it's not resumed.",
          "enum": [
            "SUSPEND_MODE_UNSPECIFIED",
            "SUSPEND_MODE_CANCEL_AFTER_GRACE_PERIOD",
            "SUSPEND_MODE_CANCEL_AFTER_RETENTION_PERIOD"
          ]
        }
      }
    },
    "EntitleSubscriptionResponse": {
      "type": "object",
      "id": "EntitleSubscriptionResponse",
      "properties": {
        "subscription": {
          "description": "The subscription that has user linked to it.",
          "$ref": "Subscription"
        }
      },
      "description": "Response that contains the entitled subscription resource."
    },
    "CycleOptions": {
      "description": "The cycle options when starting and resuming a subscription.",
      "id": "CycleOptions",
      "properties": {
        "initialCycleDuration": {
          "description": "Optional. The duration of the initial cycle. Only `DAY` is supported. If set, Google will start the subscription with this initial cycle duration starting at the request time (see available methods below). A prorated charge will be applied. This option is available to the following methods: - partners.subscriptions.provision - partners.subscriptions.resume - partners.userSessions.generate ",
          "$ref": "Duration"
        }
      },
      "type": "object"
    },
    "SubscriptionUpgradeDowngradeDetails": {
      "id": "SubscriptionUpgradeDowngradeDetails",
      "properties": {
        "previousSubscriptionId": {
          "type": "string",
          "description": "Required. The previous subscription id to be replaced. The format can be one of the following: 1. `subscription_id`: the old subscription id under the same partner_id. 2. `partners/{partner_id}/subscriptions/{subscription_id}`. A different partner_id is allowed. But they must be under the same partner group."
        },
        "billingCycleSpec": {
          "enumDescriptions": [
            "Billing cycle spec is not specified.",
            "The billing cycle of the new subscription starts immediately but aligns with the previous subscription it upgrades or downgrades from. First cycle of the new subscription will be prorated.",
            "The billing cycle of the new subscription starts immediately.",
            "The new subscription will have the same `renewalTime` as the previous subscription, while the previous subscription is scheduled for cancellation at that same time."
          ],
          "type": "string",
          "description": "Required. Specifies the billing cycle spec for the new upgraded/downgraded subscription.",
          "enum": [
            "BILLING_CYCLE_SPEC_UNSPECIFIED",
            "BILLING_CYCLE_SPEC_ALIGN_WITH_PREVIOUS_SUBSCRIPTION",
            "BILLING_CYCLE_SPEC_START_IMMEDIATELY",
            "BILLING_CYCLE_SPEC_DEFERRED_TO_NEXT_RECURRENCE"
          ]
        }
      },
      "description": "Details about the previous subscription that this new subscription upgrades/downgrades from.",
      "type": "object"
    },
    "FiniteBillingCycleDetails": {
      "type": "object",
      "description": "Details for a subscription line item with finite billing cycles.",
      "id": "FiniteBillingCycleDetails",
      "properties": {
        "billingCycleCountLimit": {
          "description": "The number of a subscription line item billing cycles after which billing will stop automatically.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleOnePayload": {
      "type": "object",
      "description": "Payload specific to Google One products.",
      "id": "GoogleOnePayload",
      "properties": {
        "salesChannel": {
          "type": "string",
          "enumDescriptions": [
            "The channel type is unspecified.",
            "Sold at store.",
            "Sold through partner website.",
            "Sold through partner android app.",
            "Sold through partner iOS app."
          ],
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "CHANNEL_RETAIL",
            "CHANNEL_ONLINE_WEB",
            "CHANNEL_ONLINE_ANDROID_APP",
            "CHANNEL_ONLINE_IOS_APP"
          ],
          "description": "The type of sales channel through which the subscription was sold."
        },
        "offering": {
          "description": "The type of offering the subscription was sold by the partner. e.g. VAS.",
          "enum": [
            "OFFERING_UNSPECIFIED",
            "OFFERING_VAS_BUNDLE",
            "OFFERING_VAS_STANDALONE",
            "OFFERING_HARD_BUNDLE",
            "OFFERING_SOFT_BUNDLE"
          ],
          "enumDescriptions": [
            "The type of partner offering is unspecified.",
            "Google One product purchased as a Value added service in addition to existing partner's products. Customer pays additional amount for Google One product.",
            "Google One product purchased by itself by customer as a value add service. Customer pays additional amount for Google One product.",
            "Product purchased as part of a hard bundle where Google One was included with the bundle. Google One pricing is included in the bundle.",
            "Purchased as part of a bundle where Google One was provided as an option. Google One pricing is included in the bundle."
          ],
          "type": "string"
        },
        "campaigns": {
          "description": "Campaign attributed to sales of this subscription.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "storeId": {
          "description": "The identifier for the partner store where the subscription was sold.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "2-letter ISO region code for current content region. Ex. “US” Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1"
        },
        "postalCode": {
          "description": "The postal code this location refers to. Ex. \"94043\"",
          "type": "string"
        }
      },
      "description": "Describes a location of an end user.",
      "type": "object"
    },
    "Product": {
      "type": "object",
      "description": "A Product resource that defines a subscription service that can be resold.",
      "id": "Product",
      "properties": {
        "priceConfigs": {
          "items": {
            "$ref": "ProductPriceConfig"
          },
          "description": "Output only. Price configs for the product in the available regions.",
          "readOnly": true,
          "type": "array"
        },
        "productType": {
          "description": "Output only. Specifies the type of the product.",
          "readOnly": true,
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_SUBSCRIPTION",
            "PRODUCT_TYPE_BUNDLE_SUBSCRIPTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. It's reserved as an unexpected value, should not be used.",
            "The product is a subscription.",
            "The product is a bundled subscription plan, which includes multiple subscription elements."
          ]
        },
        "titles": {
          "type": "array",
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          },
          "description": "Output only. Localized human readable name of the product.",
          "readOnly": true
        },
        "subscriptionBillingCycleDuration": {
          "description": "Output only. Specifies the length of the billing cycle of the subscription.",
          "readOnly": true,
          "$ref": "Duration"
        },
        "bundleDetails": {
          "description": "Output only. Specifies the details for a bundle product.",
          "readOnly": true,
          "$ref": "ProductBundleDetails"
        },
        "name": {
          "description": "Identifier. Response only. Resource name of the product. It will have the format of \"partners/{partner_id}/products/{product_id}\"",
          "type": "string"
        },
        "finiteBillingCycleDetails": {
          "description": "Optional. Details for a subscription line item with finite billing cycles. If unset, the line item will be charged indefinitely.",
          "$ref": "FiniteBillingCycleDetails"
        },
        "regionCodes": {
          "type": "array",
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\" Please refer to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ResumeSubscriptionRequest": {
      "type": "object",
      "id": "ResumeSubscriptionRequest",
      "properties": {
        "cycleOptions": {
          "description": "Optional. The cycle options for the subscription.",
          "$ref": "CycleOptions"
        },
        "resumeMode": {
          "enumDescriptions": [
            "Reserved for invalid or unexpected value. Do not use.",
            "Resume the subscription using the input from `cycle_options`.",
            "Resume the subscription with the existing billing schedule. The subscription's next renewal time must still be in the future for this mode to be applicable.",
            "Resume the subscription and start a new billing cycle immediately, resulting in a new charge."
          ],
          "type": "string",
          "description": "Required. The mode to resume the subscription.",
          "enum": [
            "RESUME_MODE_UNSPECIFIED",
            "RESUME_MODE_CYCLE_OPTIONS",
            "RESUME_MODE_RESTORE_EXISTING_BILLING_SCHEDULE",
            "RESUME_MODE_IMMEDIATE_NEW_CYCLE"
          ]
        }
      },
      "description": "Request to resume a suspended subscription."
    },
    "SubscriptionMigrationDetails": {
      "id": "SubscriptionMigrationDetails",
      "properties": {
        "migratedSubscriptionId": {
          "type": "string",
          "description": "Output only. The migrated subscription id in the legacy system.",
          "readOnly": true
        }
      },
      "description": "Describes the details of the migrated subscription.",
      "type": "object"
    },
    "ListProductsResponse": {
      "id": "ListProductsResponse",
      "properties": {
        "products": {
          "description": "The products for the specified partner.",
          "items": {
            "$ref": "Product"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response that contains the products.",
      "type": "object"
    },
    "GoogleTypeLocalizedText": {
      "type": "object",
      "id": "GoogleTypeLocalizedText",
      "properties": {
        "languageCode": {
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "text": {
          "description": "Localized string in the language corresponding to language_code below.",
          "type": "string"
        }
      },
      "description": "Localized variant of a text in a particular language."
    },
    "UserSession": {
      "id": "UserSession",
      "properties": {
        "token": {
          "description": "Output only. The encrypted token of the user session, including the information of the user's intent and request. This token should be provided when redirecting the user to Google.",
          "readOnly": true,
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. The time at which the user session expires.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Contains a short-lived token containing information required to interact with the Google Payments Reseller Platform via web endpoints. - Generate a user session token dynamically for an authenticated user. Do not share a token directly with a user in an unauthenticated context, such as SMS or email. - You can regenerate new session tokens repeatedly for the same `generate` request if necessary, regardless of whether previous tokens have expired. Multiple sessions will not result in duplicate fulfillments because the `subscription ID` guarantees uniqueness. For more integration details, see the [Google Managed Signup](/payments/reseller/subscription/reference/index/User.Signup.Integration/Google.Managed.Signup) documentation.",
      "type": "object"
    },
    "FindEligiblePromotionsResponse": {
      "description": "Response containing the found promotions for the current user.",
      "id": "FindEligiblePromotionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "promotions": {
          "type": "array",
          "items": {
            "$ref": "Promotion"
          },
          "description": "The promotions for the current user."
        }
      },
      "type": "object"
    },
    "CancelSubscriptionRequest": {
      "description": "Request to cancel a subscription.",
      "id": "CancelSubscriptionRequest",
      "properties": {
        "cancellationReason": {
          "type": "string",
          "enumDescriptions": [
            "Reason is unspecified. Should not be used.",
            "Fraudulent transaction.",
            "Buyer's remorse.",
            "Accidental purchase.",
            "Payment is past due.",
            "Used for notification only, do not use in Cancel API. User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Used for notification only, do not use in Cancel API. Cancellation due to an unrecoverable system error.",
            "Used for notification only, do not use in Cancel API. The subscription is cancelled by Google automatically since it is no longer valid.",
            "Cancellation due to a billing system switch.",
            "Other reason."
          ],
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_SYSTEM_ERROR",
            "CANCELLATION_REASON_SYSTEM_CANCEL",
            "CANCELLATION_REASON_BILLING_SYSTEM_SWITCH",
            "CANCELLATION_REASON_OTHER"
          ],
          "description": "Specifies the reason for the cancellation."
        },
        "cancelImmediately": {
          "description": "Optional. If true, Google will cancel the subscription immediately, and may or may not (based on the contract) issue a prorated refund for the remainder of the billing cycle. Otherwise, Google defers the cancellation at renewal_time, and will not issue a refund. - YouTube subscriptions must use this option currently. However, the user will still have access to the subscription until the end of the billing cycle.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "EntitleSubscriptionRequestLineItemEntitlementDetails": {
      "type": "object",
      "id": "EntitleSubscriptionRequestLineItemEntitlementDetails",
      "properties": {
        "lineItemIndex": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The index of the line item to be entitled."
        },
        "products": {
          "type": "array",
          "description": "Optional. Only applicable if the line item corresponds to a hard bundle. Product resource names that identify the bundle elements to be entitled in the line item. If unspecified, all bundle elements will be entitled. The format is 'partners/{partner_id}/products/{product_id}'.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The details of the line item to be entitled."
    },
    "ProductBundleDetails": {
      "type": "object",
      "description": "Details for a bundle product.",
      "id": "ProductBundleDetails",
      "properties": {
        "entitlementMode": {
          "description": "The entitlement mode of the bundle product.",
          "enum": [
            "ENTITLEMENT_MODE_UNSPECIFIED",
            "ENTITLEMENT_MODE_FULL",
            "ENTITLEMENT_MODE_INCREMENTAL"
          ],
          "enumDescriptions": [
            "Unspecified. It's reserved as an unexpected value, should not be used.",
            "All the bundle elements must be fully activated in a single request.",
            "The bundle elements could be incrementally activated."
          ],
          "type": "string"
        },
        "bundleElements": {
          "items": {
            "$ref": "ProductBundleDetailsBundleElement"
          },
          "description": "The individual products that are included in the bundle.",
          "type": "array"
        }
      }
    },
    "UndoCancelSubscriptionRequest": {
      "id": "UndoCancelSubscriptionRequest",
      "properties": {},
      "description": "Request to revoke a cancellation request.",
      "type": "object"
    },
    "Duration": {
      "type": "object",
      "id": "Duration",
      "properties": {
        "unit": {
          "type": "string",
          "enumDescriptions": [
            "Default value, reserved as an invalid or an unexpected value.",
            "Unit of a calendar month.",
            "Unit of a day.",
            "Unit of an hour. It is used for testing."
          ],
          "enum": [
            "UNIT_UNSPECIFIED",
            "MONTH",
            "DAY",
            "HOUR"
          ],
          "description": "The unit used for the duration"
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "number of duration units to be included."
        }
      },
      "description": "Describes the length of a period of a time."
    },
    "EntitleSubscriptionIntent": {
      "type": "object",
      "description": "Intent for entitling the previously provisioned subscription to an end user.",
      "id": "EntitleSubscriptionIntent",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the subscription resource that is entitled to the current end user. It is in the format of \"partners/{partner_id}/subscriptions/{subscriptionId}\"."
        }
      }
    },
    "SuspendSubscriptionResponse": {
      "id": "SuspendSubscriptionResponse",
      "properties": {
        "subscription": {
          "description": "The suspended subscription resource.",
          "$ref": "Subscription"
        }
      },
      "description": "Response that contains the suspended subscription.",
      "type": "object"
    },
    "UndoCancelSubscriptionResponse": {
      "type": "object",
      "id": "UndoCancelSubscriptionResponse",
      "properties": {
        "subscription": {
          "description": "The updated subscription resource.",
          "$ref": "Subscription"
        }
      },
      "description": "Response that contains the updated subscription resource."
    },
    "Amount": {
      "description": "Describes the amount unit including the currency code.",
      "id": "Amount",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Required. Currency codes in accordance with [ISO-4217 Currency Codes] (https://en.wikipedia.org/wiki/ISO_4217). For example, USD."
        },
        "amountMicros": {
          "type": "string",
          "format": "int64",
          "description": "Required. Amount in micros (1_000_000 micros = 1 currency unit)"
        }
      },
      "type": "object"
    },
    "EntitleSubscriptionRequest": {
      "type": "object",
      "description": "Partner request for entitling the previously provisioned subscription to an end user. The end user identity is inferred from the request OAuth context.",
      "id": "EntitleSubscriptionRequest",
      "properties": {
        "lineItemEntitlementDetails": {
          "items": {
            "$ref": "EntitleSubscriptionRequestLineItemEntitlementDetails"
          },
          "description": "Optional. The line items to be entitled. If unspecified, all line items will be entitled.",
          "type": "array"
        }
      }
    },
    "CancelSubscriptionResponse": {
      "type": "object",
      "description": "Response that contains the cancelled subscription resource.",
      "id": "CancelSubscriptionResponse",
      "properties": {
        "subscription": {
          "description": "The cancelled subscription resource.",
          "$ref": "Subscription"
        }
      }
    },
    "CreateSubscriptionIntent": {
      "type": "object",
      "description": "Intent message for creating a Subscription resource.",
      "id": "CreateSubscriptionIntent",
      "properties": {
        "parent": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated: Use the `parent` field in `GenerateUserSessionRequest` instead. The parent resource name, which is the identifier of the partner."
        },
        "subscription": {
          "description": "Required. The Subscription to be created.",
          "$ref": "Subscription"
        },
        "subscriptionId": {
          "type": "string",
          "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one."
        },
        "cycleOptions": {
          "description": "Optional. The cycle options for the subscription.",
          "$ref": "CycleOptions"
        }
      }
    },
    "SubscriptionLineItemBundleDetailsBundleElementDetails": {
      "type": "object",
      "id": "SubscriptionLineItemBundleDetailsBundleElementDetails",
      "properties": {
        "userAccountLinkedTime": {
          "description": "Output only. The time when this product is linked to an end user.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "product": {
          "description": "Output only. Product resource name that identifies the bundle element. The format is 'partners/{partner_id}/products/{product_id}'.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The details for an element in the hard bundle."
    },
    "ServicePeriod": {
      "description": "A description of what time period or moment in time the product or service is being delivered over.",
      "id": "ServicePeriod",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The start time of the service period. Time is inclusive."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The end time of the service period. Time is exclusive."
        }
      },
      "type": "object"
    },
    "YoutubePayload": {
      "type": "object",
      "description": "Payload specific to Youtube products.",
      "id": "YoutubePayload",
      "properties": {
        "accessEndTime": {
          "description": "Output only. The access expiration time for this line item.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "partnerEligibilityIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of eligibility_ids which are applicable for the line item."
        },
        "partnerPlanType": {
          "description": "Optional. Specifies the plan type offered to the end user by the partner.",
          "enum": [
            "PARTNER_PLAN_TYPE_UNSPECIFIED",
            "PARTNER_PLAN_TYPE_STANDALONE",
            "PARTNER_PLAN_TYPE_HARD_BUNDLE",
            "PARTNER_PLAN_TYPE_SOFT_BUNDLE"
          ],
          "enumDescriptions": [
            "Unspecified. Should not use, reserved as an invalid value.",
            "This item is offered as a standalone product to the user.",
            "This item is bundled with another partner offering, the item is provisioned at purchase time.",
            "This item is bundled with another partner offering, the item is provisioned after puchase, when the user opts in this Google service."
          ],
          "type": "string"
        }
      }
    }
  },
  "baseUrl": "https://paymentsresellersubscription.googleapis.com/",
  "documentationLink": "https://developers.google.com/payments/reseller/subscription/",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "title": "Payments Reseller Subscription API",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/sdm.service": {
          "description": "See and/or control the devices that you selected"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "basePath": "",
  "revision": "20260722",
  "description": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Payments Reseller Subscription",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "rootUrl": "https://paymentsresellersubscription.googleapis.com/",
  "version": "v1",
  "id": "paymentsresellersubscription:v1",
  "mtlsRootUrl": "https://paymentsresellersubscription.mtls.googleapis.com/"
}