{
  "name": "people",
  "ownerName": "Google",
  "basePath": "",
  "baseUrl": "https://people.googleapis.com/",
  "documentationLink": "https://developers.google.com/people/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/contacts.other.readonly": {
          "description": "See and download contact info automatically saved in your \"Other contacts\""
        },
        "https://www.googleapis.com/auth/contacts.readonly": {
          "description": "See and download your contacts"
        },
        "https://www.googleapis.com/auth/directory.readonly": {
          "description": "See and download your organization's Google Workspace directory"
        },
        "https://www.googleapis.com/auth/user.phonenumbers.read": {
          "description": "See and download your personal phone numbers"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/contacts": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/user.gender.read": {
          "description": "See your gender"
        },
        "https://www.googleapis.com/auth/user.organization.read": {
          "description": "See your education, work history and org info"
        },
        "https://www.googleapis.com/auth/userinfo.profile": {
          "description": "See your personal info, including any personal info you've made publicly available"
        },
        "https://www.googleapis.com/auth/user.addresses.read": {
          "description": "View your street addresses"
        },
        "https://www.googleapis.com/auth/user.birthday.read": {
          "description": "See and download your exact date of birth"
        },
        "https://www.googleapis.com/auth/user.emails.read": {
          "description": "See and download all of your Google Account email addresses"
        }
      }
    }
  },
  "batchPath": "batch",
  "canonicalName": "People Service",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "People API",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://people.mtls.googleapis.com/",
  "protocol": "rest",
  "servicePath": "",
  "rootUrl": "https://people.googleapis.com/",
  "id": "people:v1",
  "version": "v1",
  "discoveryVersion": "v1",
  "revision": "20260629",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "description": "Provides access to information about profiles and contacts.",
  "version_module": true,
  "ownerDomain": "google.com",
  "resources": {
    "otherContacts": {
      "methods": {
        "list": {
          "parameters": {
            "readMask": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. What values are valid depend on what ReadSourceType is used. If READ_SOURCE_TYPE_CONTACT is used, valid values are: * emailAddresses * metadata * names * phoneNumbers * photos If READ_SOURCE_TYPE_PROFILE is used, valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `otherContacts.list` must match the first call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "requestSyncToken": {
              "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `otherContacts.list`.",
              "location": "query",
              "type": "boolean"
            },
            "sources": {
              "repeated": true,
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set. Possible values for this field are: * READ_SOURCE_TYPE_CONTACT * READ_SOURCE_TYPE_CONTACT,READ_SOURCE_TYPE_PROFILE Specifying READ_SOURCE_TYPE_PROFILE without specifying READ_SOURCE_TYPE_CONTACT is not permitted.",
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            },
            "pageSize": {
              "description": "Optional. The number of \"Other contacts\" to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "syncToken": {
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `otherContacts.list` must match the first call that provided the sync token. More details about sync behavior at `otherContacts.list`.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "v1/otherContacts",
          "response": {
            "$ref": "ListOtherContactsResponse"
          },
          "id": "people.otherContacts.list",
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "parameterOrder": [],
          "description": "List all \"Other contacts\", that is contacts that are not in a contact group. \"Other contacts\" are typically auto created contacts from interactions. Sync tokens expire 7 days after the full sync. A request with an expired sync token will get an error with an [google.rpc.ErrorInfo](https://cloud.google.com/apis/design/errors#error_info) with reason \"EXPIRED_SYNC_TOKEN\". In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's other contacts that have changed](/people/v1/other-contacts#list_the_users_other_contacts_that_have_changed).",
          "flatPath": "v1/otherContacts"
        },
        "search": {
          "response": {
            "$ref": "SearchResponse"
          },
          "id": "people.otherContacts.search",
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "parameterOrder": [],
          "description": "Provides a list of contacts in the authenticated user's other contacts that matches the search query. The query matches on a contact's `names`, `emailAddresses`, and `phoneNumbers` fields that are from the OTHER_CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/other-contacts#search_the_users_other_contacts",
          "flatPath": "v1/otherContacts:search",
          "parameters": {
            "pageSize": {
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "readMask": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * emailAddresses * metadata * names * phoneNumbers",
              "location": "query"
            },
            "query": {
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\".",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "v1/otherContacts:search"
        },
        "copyOtherContactToMyContactsGroup": {
          "response": {
            "$ref": "Person"
          },
          "id": "people.otherContacts.copyOtherContactToMyContactsGroup",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Copies an \"Other contact\" to a new contact in the user's \"myContacts\" group Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "flatPath": "v1/otherContacts/{otherContactsId}:copyOtherContactToMyContactsGroup",
          "parameters": {
            "resourceName": {
              "pattern": "^otherContacts/[^/]+$",
              "description": "Required. The resource name of the \"Other contact\" to copy.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "CopyOtherContactToMyContactsGroupRequest"
          },
          "path": "v1/{+resourceName}:copyOtherContactToMyContactsGroup"
        }
      }
    },
    "contactGroups": {
      "methods": {
        "batchGet": {
          "httpMethod": "GET",
          "parameters": {
            "groupFields": {
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "resourceNames": {
              "description": "Required. The resource names of the contact groups to get. There is a maximum of 200 resource names.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "maxMembers": {
              "description": "Optional. Specifies the maximum number of members to return for each group. Defaults to 0 if not set, which will return zero members.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "path": "v1/contactGroups:batchGet",
          "id": "people.contactGroups.batchGet",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "response": {
            "$ref": "BatchGetContactGroupsResponse"
          },
          "flatPath": "v1/contactGroups:batchGet",
          "parameterOrder": [],
          "description": "Get a list of contact groups owned by the authenticated user by specifying a list of contact group resource names."
        },
        "create": {
          "response": {
            "$ref": "ContactGroup"
          },
          "id": "people.contactGroups.create",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameterOrder": [],
          "description": "Create a new contact group owned by the authenticated user. Created contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "flatPath": "v1/contactGroups",
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "CreateContactGroupRequest"
          },
          "path": "v1/contactGroups"
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "groupFields": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "location": "query"
            },
            "resourceName": {
              "description": "Required. The resource name of the contact group to get.",
              "location": "path",
              "pattern": "^contactGroups/[^/]+$",
              "required": true,
              "type": "string"
            },
            "maxMembers": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. Specifies the maximum number of members to return. Defaults to 0 if not set, which will return zero members.",
              "location": "query"
            }
          },
          "path": "v1/{+resourceName}",
          "id": "people.contactGroups.get",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "response": {
            "$ref": "ContactGroup"
          },
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Get a specific contact group owned by the authenticated user by specifying a contact group resource name."
        },
        "delete": {
          "id": "people.contactGroups.delete",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Delete an existing contact group owned by the authenticated user by specifying a contact group resource name. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "httpMethod": "DELETE",
          "parameters": {
            "resourceName": {
              "description": "Required. The resource name of the contact group to delete.",
              "location": "path",
              "pattern": "^contactGroups/[^/]+$",
              "required": true,
              "type": "string"
            },
            "deleteContacts": {
              "description": "Optional. Set to true to also delete the contacts in the specified group.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "v1/{+resourceName}"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of resources to return. Valid values are between 1 and 1000, inclusive. Defaults to 30 if not set or set to 0.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "syncToken": {
              "description": "Optional. A sync token, returned by a previous call to `contactgroups.list`. Only resources changed since the sync token was created will be returned.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. The next_page_token value returned from a previous call to [ListContactGroups](/people/api/rest/v1/contactgroups/list). Requests the next page of resources.",
              "location": "query"
            },
            "groupFields": {
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "path": "v1/contactGroups",
          "id": "people.contactGroups.list",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "response": {
            "$ref": "ListContactGroupsResponse"
          },
          "flatPath": "v1/contactGroups",
          "parameterOrder": [],
          "description": "List all contact groups owned by the authenticated user. Members of the contact groups are not populated."
        },
        "update": {
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Update the name of an existing contact group owned by the authenticated user. Updated contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "response": {
            "$ref": "ContactGroup"
          },
          "id": "people.contactGroups.update",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "request": {
            "$ref": "UpdateContactGroupRequest"
          },
          "path": "v1/{+resourceName}",
          "parameters": {
            "resourceName": {
              "required": true,
              "type": "string",
              "pattern": "^contactGroups/[^/]+$",
              "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
              "location": "path"
            }
          },
          "httpMethod": "PUT"
        }
      },
      "resources": {
        "members": {
          "methods": {
            "modify": {
              "flatPath": "v1/contactGroups/{contactGroupsId}/members:modify",
              "parameterOrder": [
                "resourceName"
              ],
              "description": "Modify the members of a contact group owned by the authenticated user. The only system contact groups that can have members added are `contactGroups/myContacts` and `contactGroups/starred`. Other system contact groups are deprecated and can only have contacts removed.",
              "id": "people.contactGroups.members.modify",
              "scopes": [
                "https://www.googleapis.com/auth/contacts"
              ],
              "response": {
                "$ref": "ModifyContactGroupMembersResponse"
              },
              "path": "v1/{+resourceName}/members:modify",
              "request": {
                "$ref": "ModifyContactGroupMembersRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "resourceName": {
                  "description": "Required. The resource name of the contact group to modify.",
                  "location": "path",
                  "pattern": "^contactGroups/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "people": {
      "resources": {
        "connections": {
          "methods": {
            "list": {
              "path": "v1/{+resourceName}/connections",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The number of connections to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "personFields": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
                  "location": "query"
                },
                "sources": {
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
                  "location": "query",
                  "enumDescriptions": [
                    "Unspecified.",
                    "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                    "Returns SourceType.CONTACT.",
                    "Returns SourceType.DOMAIN_CONTACT.",
                    "Returns SourceType.OTHER_CONTACT."
                  ],
                  "enum": [
                    "READ_SOURCE_TYPE_UNSPECIFIED",
                    "READ_SOURCE_TYPE_PROFILE",
                    "READ_SOURCE_TYPE_CONTACT",
                    "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                    "READ_SOURCE_TYPE_OTHER_CONTACT"
                  ]
                },
                "requestSyncToken": {
                  "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.connections.list`.",
                  "location": "query",
                  "type": "boolean"
                },
                "sortOrder": {
                  "enum": [
                    "LAST_MODIFIED_ASCENDING",
                    "LAST_MODIFIED_DESCENDING",
                    "FIRST_NAME_ASCENDING",
                    "LAST_NAME_ASCENDING"
                  ],
                  "description": "Optional. The order in which the connections should be sorted. Defaults to `LAST_MODIFIED_ASCENDING`.",
                  "location": "query",
                  "enumDescriptions": [
                    "Sort people by when they were changed; older entries first.",
                    "Sort people by when they were changed; newer entries first.",
                    "Sort people by first name.",
                    "Sort people by last name."
                  ],
                  "type": "string"
                },
                "syncToken": {
                  "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.connections.list` must match the first call that provided the sync token. More details about sync behavior at `people.connections.list`.",
                  "location": "query",
                  "type": "string"
                },
                "requestMask.includeField": {
                  "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "resourceName": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name to return connections for. Only `people/me` is valid.",
                  "location": "path",
                  "pattern": "^people/[^/]+$"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.connections.list` must match the first call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "resourceName"
              ],
              "description": "Provides a list of the authenticated user's contacts. Sync tokens expire 7 days after the full sync. A request with an expired sync token will get an error with an [google.rpc.ErrorInfo](https://cloud.google.com/apis/design/errors#error_info) with reason \"EXPIRED_SYNC_TOKEN\". In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's contacts that have changed](/people/v1/contacts#list_the_users_contacts_that_have_changed).",
              "flatPath": "v1/people/{peopleId}/connections",
              "response": {
                "$ref": "ListConnectionsResponse"
              },
              "id": "people.people.connections.list",
              "scopes": [
                "https://www.googleapis.com/auth/contacts",
                "https://www.googleapis.com/auth/contacts.readonly"
              ]
            }
          }
        }
      },
      "methods": {
        "get": {
          "response": {
            "$ref": "Person"
          },
          "id": "people.people.get",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Provides information about a person by specifying a resource name. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
          "flatPath": "v1/people/{peopleId}",
          "parameters": {
            "requestMask.includeField": {
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "personFields": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "Required. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query"
            },
            "sources": {
              "type": "string",
              "repeated": true,
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_PROFILE and READ_SOURCE_TYPE_CONTACT if not set.",
              "location": "query",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            },
            "resourceName": {
              "required": true,
              "type": "string",
              "pattern": "^people/[^/]+$",
              "description": "Required. The resource name of the person to provide information about. - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "path": "v1/{+resourceName}"
        },
        "batchDeleteContacts": {
          "path": "v1/people:batchDeleteContacts",
          "request": {
            "$ref": "BatchDeleteContactsRequest"
          },
          "parameters": {},
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Delete a batch of contacts. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "flatPath": "v1/people:batchDeleteContacts",
          "response": {
            "$ref": "Empty"
          },
          "id": "people.people.batchDeleteContacts",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ]
        },
        "searchContacts": {
          "id": "people.people.searchContacts",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "response": {
            "$ref": "SearchResponse"
          },
          "flatPath": "v1/people:searchContacts",
          "parameterOrder": [],
          "description": "Provides a list of contacts in the authenticated user's grouped contacts that matches the search query. The query matches on a contact's `names`, `nickNames`, `emailAddresses`, `phoneNumbers`, and `organizations` fields that are from the CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/contacts#search_the_users_contacts",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30.",
              "location": "query"
            },
            "readMask": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "query": {
              "type": "string",
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\".",
              "location": "query"
            },
            "sources": {
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set.",
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "repeated": true,
              "type": "string"
            }
          },
          "path": "v1/people:searchContacts"
        },
        "listDirectoryPeople": {
          "id": "people.people.listDirectoryPeople",
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ],
          "response": {
            "$ref": "ListDirectoryPeopleResponse"
          },
          "flatPath": "v1/people:listDirectoryPeople",
          "parameterOrder": [],
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the directory people that have changed](/people/v1/directory#list_the_directory_people_that_have_changed).",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "readMask": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "requestSyncToken": {
              "description": "Optional. Whether the response should return `next_sync_token`. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.listDirectoryPeople`.",
              "location": "query",
              "type": "boolean"
            },
            "sources": {
              "repeated": true,
              "type": "string",
              "description": "Required. Directory sources to return.",
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "Google Workspace domain shared contact.",
                "Google Workspace domain profile."
              ],
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ]
            },
            "mergeSources": {
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ],
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "location": "query",
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ],
              "type": "string",
              "repeated": true
            },
            "pageSize": {
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "syncToken": {
              "type": "string",
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the sync token. More details about sync behavior at `people.listDirectoryPeople`.",
              "location": "query"
            }
          },
          "path": "v1/people:listDirectoryPeople"
        },
        "batchUpdateContacts": {
          "path": "v1/people:batchUpdateContacts",
          "request": {
            "$ref": "BatchUpdateContactsRequest"
          },
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v1/people:batchUpdateContacts",
          "parameterOrder": [],
          "description": "Update a batch of contacts and return a map of resource names to PersonResponses for the updated contacts. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "id": "people.people.batchUpdateContacts",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "BatchUpdateContactsResponse"
          }
        },
        "deleteContact": {
          "httpMethod": "DELETE",
          "parameters": {
            "resourceName": {
              "required": true,
              "type": "string",
              "description": "Required. The resource name of the contact to delete.",
              "location": "path",
              "pattern": "^people/[^/]+$"
            }
          },
          "path": "v1/{+resourceName}:deleteContact",
          "id": "people.people.deleteContact",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/people/{peopleId}:deleteContact",
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Delete a contact person. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures."
        },
        "searchDirectoryPeople": {
          "parameterOrder": [],
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory that match the search query.",
          "flatPath": "v1/people:searchDirectoryPeople",
          "response": {
            "$ref": "SearchDirectoryPeopleResponse"
          },
          "id": "people.people.searchDirectoryPeople",
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ],
          "path": "v1/people:searchDirectoryPeople",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchDirectoryPeople` must match the first call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "readMask": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "query": {
              "description": "Required. Prefix query that matches fields in the person. Does NOT use the read_mask for determining what fields to match.",
              "location": "query",
              "type": "string"
            },
            "sources": {
              "repeated": true,
              "type": "string",
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ],
              "description": "Required. Directory sources to return.",
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "Google Workspace domain shared contact.",
                "Google Workspace domain profile."
              ]
            },
            "mergeSources": {
              "repeated": true,
              "type": "string",
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ],
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ]
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 500, inclusive. Defaults to 100 if not set or set to 0.",
              "location": "query"
            }
          },
          "httpMethod": "GET"
        },
        "deleteContactPhoto": {
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Delete a contact's photo. Mutate requests for the same user should be done sequentially to avoid // lock contention.",
          "flatPath": "v1/people/{peopleId}:deleteContactPhoto",
          "response": {
            "$ref": "DeleteContactPhotoResponse"
          },
          "id": "people.people.deleteContactPhoto",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "path": "v1/{+resourceName}:deleteContactPhoto",
          "parameters": {
            "personFields": {
              "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "sources": {
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "repeated": true,
              "type": "string"
            },
            "resourceName": {
              "required": true,
              "type": "string",
              "pattern": "^people/[^/]+$",
              "description": "Required. The resource name of the contact whose photo will be deleted.",
              "location": "path"
            }
          },
          "httpMethod": "DELETE"
        },
        "batchCreateContacts": {
          "path": "v1/people:batchCreateContacts",
          "request": {
            "$ref": "BatchCreateContactsRequest"
          },
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v1/people:batchCreateContacts",
          "parameterOrder": [],
          "description": "Create a batch of new contacts and return the PersonResponses for the newly Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "id": "people.people.batchCreateContacts",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "BatchCreateContactsResponse"
          }
        },
        "updateContactPhoto": {
          "flatPath": "v1/people/{peopleId}:updateContactPhoto",
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Update a contact's photo. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "id": "people.people.updateContactPhoto",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "UpdateContactPhotoResponse"
          },
          "request": {
            "$ref": "UpdateContactPhotoRequest"
          },
          "path": "v1/{+resourceName}:updateContactPhoto",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceName": {
              "required": true,
              "type": "string",
              "pattern": "^people/[^/]+$",
              "description": "Required. Person resource name",
              "location": "path"
            }
          }
        },
        "getBatchGet": {
          "response": {
            "$ref": "GetPeopleResponse"
          },
          "id": "people.people.getBatchGet",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "parameterOrder": [],
          "description": "Provides information about a list of specific people by specifying a list of requested resource names. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
          "flatPath": "v1/people:batchGet",
          "parameters": {
            "resourceNames": {
              "description": "Required. The resource names of the people to provide information about. It's repeatable. The URL query parameter should be resourceNames=<name1>&resourceNames=<name2>&... - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`. There is a maximum of 200 resource names.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "personFields": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query"
            },
            "sources": {
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "requestMask.includeField": {
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "httpMethod": "GET",
          "path": "v1/people:batchGet"
        },
        "updateContact": {
          "parameters": {
            "personFields": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query"
            },
            "sources": {
              "type": "string",
              "repeated": true,
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "location": "query",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            },
            "updatePersonFields": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All updated fields will be replaced. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined",
              "location": "query"
            },
            "resourceName": {
              "required": true,
              "type": "string",
              "pattern": "^people/[^/]+$",
              "description": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`.",
              "location": "path"
            }
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Person"
          },
          "path": "v1/{+resourceName}:updateContact",
          "response": {
            "$ref": "Person"
          },
          "id": "people.people.updateContact",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Update contact data for an existing contact person. Any non-contact data will not be modified. Any non-contact data in the person to update will be ignored. All fields specified in the `update_mask` will be replaced. The server returns a 400 error if `person.metadata.sources` is not specified for the contact to be updated or if there is no contact source. The server returns a 400 error with reason `\"failedPrecondition\"` if `person.metadata.sources.etag` is different than the contact's etag, which indicates the contact has changed since its data was read. Clients should get the latest person and merge their updates into the latest person. If making sequential updates to the same person, the etag from the `updateContact` response should be used to avoid failures. The server returns a 400 error if `memberships` are being updated and there are no contact group memberships specified on the person. The server returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "flatPath": "v1/people/{peopleId}:updateContact"
        },
        "createContact": {
          "flatPath": "v1/people:createContact",
          "parameterOrder": [],
          "description": "Create a new contact and return the person resource for that contact. The request returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "id": "people.people.createContact",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "Person"
          },
          "path": "v1/people:createContact",
          "request": {
            "$ref": "Person"
          },
          "httpMethod": "POST",
          "parameters": {
            "personFields": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query"
            },
            "sources": {
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "repeated": true,
              "type": "string"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "CalendarUrl": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the calendar URL. The type can be custom or one of these predefined values: * `home` * `freeBusy` * `work`"
        },
        "url": {
          "type": "string",
          "description": "The calendar URL."
        },
        "formattedType": {
          "description": "Output only. The type of the calendar URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the calendar URL.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "CalendarUrl",
      "description": "A person's calendar URL."
    },
    "Membership": {
      "description": "A person's membership in a group. Only contact group memberships can be modified.",
      "id": "Membership",
      "type": "object",
      "properties": {
        "contactGroupMembership": {
          "description": "The contact group membership.",
          "$ref": "ContactGroupMembership"
        },
        "domainMembership": {
          "description": "Output only. The domain membership.",
          "readOnly": true,
          "$ref": "DomainMembership"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the membership."
        }
      }
    },
    "CreateContactGroupRequest": {
      "type": "object",
      "properties": {
        "contactGroup": {
          "description": "Required. The contact group to create.",
          "$ref": "ContactGroup"
        },
        "readGroupFields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * metadata * name"
        }
      },
      "id": "CreateContactGroupRequest",
      "description": "A request to create a new contact group."
    },
    "ModifyContactGroupMembersResponse": {
      "type": "object",
      "properties": {
        "canNotRemoveLastContactGroupResourceNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The contact people resource names that cannot be removed from their last contact group."
        },
        "notFoundResourceNames": {
          "description": "The contact people resource names that were not found.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ModifyContactGroupMembersResponse",
      "description": "The response to a modify contact group members request."
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ProfileMetadata": {
      "id": "ProfileMetadata",
      "type": "object",
      "properties": {
        "userTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The user type is not known.",
              "The user is a Google user.",
              "The user is a Currents user.",
              "The user is a Google Workspace user."
            ],
            "type": "string",
            "enum": [
              "USER_TYPE_UNKNOWN",
              "GOOGLE_USER",
              "GPLUS_USER",
              "GOOGLE_APPS_USER"
            ]
          },
          "description": "Output only. The user types.",
          "readOnly": true
        },
        "objectType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ],
          "description": "Output only. The profile object type."
        }
      },
      "description": "The metadata about a profile."
    },
    "BraggingRights": {
      "description": "**DEPRECATED**: No data will be returned A person's bragging rights.",
      "id": "BraggingRights",
      "deprecated": true,
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the bragging rights.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The bragging rights; for example, `climbed mount everest`.",
          "type": "string"
        }
      }
    },
    "CoverPhoto": {
      "description": "A person's cover photo. A large image shown on the person's profile page that represents who they are or what they care about.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the cover photo.",
          "$ref": "FieldMetadata"
        },
        "url": {
          "type": "string",
          "description": "The URL of the cover photo."
        },
        "default": {
          "description": "True if the cover photo is the default cover photo; false if the cover photo is a user-provided cover photo.",
          "type": "boolean"
        }
      },
      "id": "CoverPhoto"
    },
    "Location": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The free-form value of the location.",
          "type": "string"
        },
        "deskCode": {
          "type": "string",
          "description": "The individual desk location."
        },
        "type": {
          "type": "string",
          "description": "The type of the location. The type can be custom or one of these predefined values: * `desk` * `grewUp`"
        },
        "floor": {
          "description": "The floor name or number.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the location."
        },
        "floorSection": {
          "type": "string",
          "description": "The floor section in `floor_name`."
        },
        "buildingId": {
          "description": "The building identifier.",
          "type": "string"
        },
        "current": {
          "description": "Whether the location is the current location.",
          "type": "boolean"
        }
      },
      "id": "Location",
      "description": "A person's location."
    },
    "CopyOtherContactToMyContactsGroupRequest": {
      "type": "object",
      "properties": {
        "readMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to the copy mask with metadata and membership fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
        },
        "copyMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields are copied into the new contact. Valid values are: * emailAddresses * names * phoneNumbers"
        },
        "sources": {
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ],
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
        }
      },
      "id": "CopyOtherContactToMyContactsGroupRequest",
      "description": "A request to copy an \"Other contact\" to my contacts group."
    },
    "ImClient": {
      "id": "ImClient",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the IM client."
        },
        "username": {
          "type": "string",
          "description": "The user name used in the IM client."
        },
        "protocol": {
          "type": "string",
          "description": "The protocol of the IM client. The protocol can be custom or one of these predefined values: * `aim` * `msn` * `yahoo` * `skype` * `qq` * `googleTalk` * `icq` * `jabber` * `netMeeting`"
        },
        "formattedProtocol": {
          "description": "Output only. The protocol of the IM client formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the IM client translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the IM client. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        }
      },
      "description": "A person's instant messaging client."
    },
    "RelationshipInterest": {
      "id": "RelationshipInterest",
      "deprecated": true,
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The kind of relationship the person is looking for. The value can be custom or one of these predefined values: * `friend` * `date` * `relationship` * `networking`"
        },
        "formattedValue": {
          "description": "Output only. The value of the relationship interest translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relationship interest."
        }
      },
      "description": "**DEPRECATED**: No data will be returned A person's relationship interest ."
    },
    "Source": {
      "description": "The source of a field.",
      "id": "Source",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ACCOUNT",
            "PROFILE",
            "DOMAIN_PROFILE",
            "CONTACT",
            "OTHER_CONTACT",
            "DOMAIN_CONTACT"
          ],
          "type": "string",
          "description": "The source type.",
          "enumDescriptions": [
            "Unspecified.",
            "[Google Account](https://accounts.google.com).",
            "[Google profile](https://profiles.google.com). You can view the profile at [https://profiles.google.com/](https://profiles.google.com/){id}, where {id} is the source id.",
            "[Google Workspace domain profile](https://support.google.com/a/answer/1628008).",
            "[Google contact](https://contacts.google.com). You can view the contact at [https://contact.google.com/](https://contact.google.com/){id}, where {id} is the source id.",
            "[Google \"Other contact\"](https://contacts.google.com/other).",
            "[Google Workspace domain shared contact](https://support.google.com/a/answer/9281635)."
          ]
        },
        "id": {
          "type": "string",
          "description": "The unique identifier within the source type generated by the server."
        },
        "updateTime": {
          "description": "Output only. **Only populated in `person.metadata.sources`.** Last update timestamp of this source.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "profileMetadata": {
          "$ref": "ProfileMetadata",
          "description": "Output only. **Only populated in `person.metadata.sources`.** Metadata about a source of type PROFILE.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "**Only populated in `person.metadata.sources`.** The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the source. Used for web cache validation."
        }
      }
    },
    "Locale": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The well-formed [IETF BCP 47](https://tools.ietf.org/html/bcp47) language tag representing the locale.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the locale.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "Locale",
      "description": "A person's locale preference."
    },
    "ListContactGroupsResponse": {
      "id": "ListContactGroupsResponse",
      "type": "object",
      "properties": {
        "contactGroups": {
          "description": "The list of contact groups. Members of the contact groups are not populated.",
          "type": "array",
          "items": {
            "$ref": "ContactGroup"
          }
        },
        "nextPageToken": {
          "description": "The token that can be used to retrieve the next page of results.",
          "type": "string"
        },
        "totalItems": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of items in the list without pagination."
        },
        "nextSyncToken": {
          "description": "The token that can be used to retrieve changes since the last request.",
          "type": "string"
        }
      },
      "description": "The response to a list contact groups request."
    },
    "UpdateContactGroupRequest": {
      "type": "object",
      "properties": {
        "updateGroupFields": {
          "description": "Optional. A field mask to restrict which fields on the group are updated. Multiple fields can be specified by separating them with commas. Defaults to `name` if not set or set to empty. Updated fields are replaced. Valid values are: * clientData * name",
          "type": "string",
          "format": "google-fieldmask"
        },
        "contactGroup": {
          "description": "Required. The contact group to update.",
          "$ref": "ContactGroup"
        },
        "readGroupFields": {
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "UpdateContactGroupRequest",
      "description": "A request to update an existing user contact group. All updated fields will be replaced."
    },
    "Residence": {
      "description": "**DEPRECATED**: Please use `person.locations` instead. A person's past or current residence.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The address of the residence.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the residence.",
          "$ref": "FieldMetadata"
        },
        "current": {
          "description": "True if the residence is the person's current residence; false if the residence is a past residence.",
          "type": "boolean"
        }
      },
      "id": "Residence",
      "deprecated": true
    },
    "Url": {
      "id": "Url",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the URL. The type can be custom or one of these predefined values: * `home` * `work` * `blog` * `profile` * `homePage` * `ftp` * `reservations` * `appInstallPage`: website for a Currents application. * `other`",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The URL."
        },
        "formattedType": {
          "description": "Output only. The type of the URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the URL."
        }
      },
      "description": "A person's associated URLs."
    },
    "ClientData": {
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the client data.",
          "$ref": "FieldMetadata"
        },
        "key": {
          "type": "string",
          "description": "The client specified key of the client data."
        },
        "value": {
          "type": "string",
          "description": "The client specified value of the client data."
        }
      },
      "id": "ClientData"
    },
    "ContactToCreate": {
      "description": "A wrapper that contains the person data to populate a newly created source.",
      "type": "object",
      "properties": {
        "contactPerson": {
          "$ref": "Person",
          "description": "Required. The person data to populate a newly created source."
        }
      },
      "id": "ContactToCreate"
    },
    "Skill": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the skill.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The skill; for example, `underwater basket weaving`.",
          "type": "string"
        }
      },
      "id": "Skill",
      "description": "A skill that the person has."
    },
    "ContactGroup": {
      "description": "A contact group.",
      "id": "ContactGroup",
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`."
        },
        "groupType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "USER_CONTACT_GROUP",
            "SYSTEM_CONTACT_GROUP"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "User defined contact group.",
            "System defined contact group."
          ],
          "description": "Output only. The contact group type."
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "metadata": {
          "description": "Output only. Metadata about the contact group.",
          "readOnly": true,
          "$ref": "ContactGroupMetadata"
        },
        "memberResourceNames": {
          "description": "Output only. The list of contact person resource names that are members of the contact group. The field is only populated for GET requests and will only return as many members as `maxMembers` in the get request.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "formattedName": {
          "description": "Output only. The name translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale for system groups names. Group names set by the owner are the same as name.",
          "readOnly": true,
          "type": "string"
        },
        "clientData": {
          "description": "The group's client data.",
          "type": "array",
          "items": {
            "$ref": "GroupClientData"
          }
        },
        "name": {
          "description": "The contact group name set by the group owner or a system provided name for system groups. For [`contactGroups.create`](/people/api/rest/v1/contactGroups/create) or [`contactGroups.update`](/people/api/rest/v1/contactGroups/update) the name must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error.",
          "type": "string"
        },
        "memberCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The total number of contacts in the group irrespective of max members in specified in the request.",
          "readOnly": true
        }
      }
    },
    "Tagline": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The tagline."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the tagline."
        }
      },
      "id": "Tagline",
      "deprecated": true,
      "description": "**DEPRECATED**: No data will be returned A brief one-line description of the person."
    },
    "GetPeopleResponse": {
      "description": "The response to a get request for a list of people by resource name.",
      "id": "GetPeopleResponse",
      "type": "object",
      "properties": {
        "responses": {
          "items": {
            "$ref": "PersonResponse"
          },
          "type": "array",
          "description": "The response for each requested resource name."
        }
      }
    },
    "MiscKeyword": {
      "description": "A person's miscellaneous keyword.",
      "id": "MiscKeyword",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the miscellaneous keyword."
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the miscellaneous keyword translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the miscellaneous keyword."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "OUTLOOK_BILLING_INFORMATION",
            "OUTLOOK_DIRECTORY_SERVER",
            "OUTLOOK_KEYWORD",
            "OUTLOOK_MILEAGE",
            "OUTLOOK_PRIORITY",
            "OUTLOOK_SENSITIVITY",
            "OUTLOOK_SUBJECT",
            "OUTLOOK_USER",
            "HOME",
            "WORK",
            "OTHER"
          ],
          "type": "string",
          "description": "The miscellaneous keyword type.",
          "enumDescriptions": [
            "Unspecified.",
            "Outlook field for billing information.",
            "Outlook field for directory server.",
            "Outlook field for keyword.",
            "Outlook field for mileage.",
            "Outlook field for priority.",
            "Outlook field for sensitivity.",
            "Outlook field for subject.",
            "Outlook field for user.",
            "Home.",
            "Work.",
            "Other."
          ]
        }
      }
    },
    "FileAs": {
      "id": "FileAs",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the file-as.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "type": "string",
          "description": "The file-as value"
        }
      },
      "description": "The name that should be used to sort the person in a list."
    },
    "AgeRangeType": {
      "description": "A person's age range.",
      "type": "object",
      "properties": {
        "ageRange": {
          "type": "string",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "description": "The age range."
        },
        "metadata": {
          "description": "Metadata about the age range.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "AgeRangeType"
    },
    "ListDirectoryPeopleResponse": {
      "description": "The response to a request for the authenticated user's domain directory.",
      "id": "ListDirectoryPeopleResponse",
      "type": "object",
      "properties": {
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token.",
          "type": "string"
        },
        "people": {
          "items": {
            "$ref": "Person"
          },
          "type": "array",
          "description": "The list of people in the domain directory."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Event": {
      "description": "An event related to the person.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the event. The type can be custom or one of these predefined values: * `anniversary` * `other`"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the event."
        },
        "date": {
          "$ref": "Date",
          "description": "The date of the event."
        }
      },
      "id": "Event"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "SearchDirectoryPeopleResponse": {
      "description": "The response to a request for people in the authenticated user's domain directory that match the specified query.",
      "id": "SearchDirectoryPeopleResponse",
      "type": "object",
      "properties": {
        "people": {
          "type": "array",
          "items": {
            "$ref": "Person"
          },
          "description": "The list of people in the domain directory that match the query."
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of items in the list without pagination."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "PhoneNumber": {
      "description": "A person's phone number.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the phone number. The type can be custom or one of these predefined values: * `home` * `work` * `mobile` * `homeFax` * `workFax` * `otherFax` * `pager` * `workMobile` * `workPager` * `main` * `googleVoice` * `other`",
          "type": "string"
        },
        "value": {
          "description": "The phone number.",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the phone number translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "canonicalForm": {
          "description": "Output only. The canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf) form of the phone number.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the phone number.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "PhoneNumber"
    },
    "RelationshipStatus": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The relationship status. The value can be custom or one of these predefined values: * `single` * `inARelationship` * `engaged` * `married` * `itsComplicated` * `openRelationship` * `widowed` * `inDomesticPartnership` * `inCivilUnion`"
        },
        "formattedValue": {
          "description": "Output only. The value of the relationship status translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the relationship status.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "RelationshipStatus",
      "deprecated": true,
      "description": "**DEPRECATED**: No data will be returned A person's relationship status."
    },
    "BatchGetContactGroupsResponse": {
      "id": "BatchGetContactGroupsResponse",
      "type": "object",
      "properties": {
        "responses": {
          "description": "The list of responses for each requested contact group resource.",
          "type": "array",
          "items": {
            "$ref": "ContactGroupResponse"
          }
        }
      },
      "description": "The response to a batch get contact groups request."
    },
    "Birthday": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the birthday.",
          "$ref": "FieldMetadata"
        },
        "date": {
          "description": "The structured date of the birthday.",
          "$ref": "Date"
        },
        "text": {
          "description": "Prefer to use the `date` field if set. A free-form string representing the user's birthday. This value is not validated.",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "Birthday",
      "description": "A person's birthday. At least one of the `date` and `text` fields are specified. The `date` and `text` fields typically represent the same date, but are not guaranteed to. Clients should always set the `date` field when mutating birthdays."
    },
    "BatchUpdateContactsResponse": {
      "type": "object",
      "properties": {
        "updateResult": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PersonResponse"
          },
          "description": "A map of resource names to the contacts that were updated, unless the request `read_mask` is empty."
        }
      },
      "id": "BatchUpdateContactsResponse",
      "description": "If not successful, returns BatchUpdateContactsErrorDetails, a list of errors corresponding to each contact. The response to a request to update a batch of contacts."
    },
    "ExternalId": {
      "description": "An identifier from an external entity related to the person.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of the external ID.",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the external ID."
        },
        "type": {
          "type": "string",
          "description": "The type of the external ID. The type can be custom or one of these predefined values: * `account` * `customer` * `loginId` * `network` * `organization`"
        }
      },
      "id": "ExternalId"
    },
    "SipAddress": {
[...]
