{
  "baseUrl": "https://people.googleapis.com/",
  "discoveryVersion": "v1",
  "version_module": true,
  "kind": "discovery#restDescription",
  "description": "Provides access to information about profiles and contacts.",
  "rootUrl": "https://people.googleapis.com/",
  "canonicalName": "People Service",
  "resources": {
    "people": {
      "resources": {
        "connections": {
          "methods": {
            "list": {
              "id": "people.people.connections.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/contacts",
                "https://www.googleapis.com/auth/contacts.readonly"
              ],
              "description": "Provides a list of the authenticated user's contacts. Sync tokens expire 7 days after the full sync. A request with an expired sync token will get an error with an [google.rpc.ErrorInfo](https://cloud.google.com/apis/design/errors#error_info) with reason \"EXPIRED_SYNC_TOKEN\". In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's contacts that have changed](/people/v1/contacts#list_the_users_contacts_that_have_changed).",
              "response": {
                "$ref": "ListConnectionsResponse"
              },
              "parameterOrder": [
                "resourceName"
              ],
              "parameters": {
                "resourceName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name to return connections for. Only `people/me` is valid.",
                  "pattern": "^people/[^/]+$"
                },
                "sources": {
                  "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
                  "enumDescriptions": [
                    "Unspecified.",
                    "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                    "Returns SourceType.CONTACT.",
                    "Returns SourceType.DOMAIN_CONTACT.",
                    "Returns SourceType.OTHER_CONTACT."
                  ],
                  "type": "string",
                  "repeated": true,
                  "location": "query",
                  "enum": [
                    "READ_SOURCE_TYPE_UNSPECIFIED",
                    "READ_SOURCE_TYPE_PROFILE",
                    "READ_SOURCE_TYPE_CONTACT",
                    "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                    "READ_SOURCE_TYPE_OTHER_CONTACT"
                  ]
                },
                "personFields": {
                  "location": "query",
                  "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "requestSyncToken": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.connections.list`."
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.connections.list` must match the first call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "sortOrder": {
                  "enumDescriptions": [
                    "Sort people by when they were changed; older entries first.",
                    "Sort people by when they were changed; newer entries first.",
                    "Sort people by first name.",
                    "Sort people by last name."
                  ],
                  "description": "Optional. The order in which the connections should be sorted. Defaults to `LAST_MODIFIED_ASCENDING`.",
                  "enum": [
                    "LAST_MODIFIED_ASCENDING",
                    "LAST_MODIFIED_DESCENDING",
                    "FIRST_NAME_ASCENDING",
                    "LAST_NAME_ASCENDING"
                  ],
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The number of connections to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0."
                },
                "syncToken": {
                  "type": "string",
                  "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.connections.list` must match the first call that provided the sync token. More details about sync behavior at `people.connections.list`.",
                  "location": "query"
                },
                "requestMask.includeField": {
                  "type": "string",
                  "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "flatPath": "v1/people/{peopleId}/connections",
              "path": "v1/{+resourceName}/connections"
            }
          }
        }
      },
      "methods": {
        "listDirectoryPeople": {
          "path": "v1/people:listDirectoryPeople",
          "response": {
            "$ref": "ListDirectoryPeopleResponse"
          },
          "parameterOrder": [],
          "id": "people.people.listDirectoryPeople",
          "parameters": {
            "syncToken": {
              "type": "string",
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the sync token. More details about sync behavior at `people.listDirectoryPeople`.",
              "location": "query"
            },
            "requestSyncToken": {
              "type": "boolean",
              "description": "Optional. Whether the response should return `next_sync_token`. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.listDirectoryPeople`.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the page token."
            },
            "sources": {
              "description": "Required. Directory sources to return.",
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ],
              "repeated": true,
              "enumDescriptions": [
                "Unspecified.",
                "Google Workspace domain shared contact.",
                "Google Workspace domain profile."
              ],
              "location": "query",
              "type": "string"
            },
            "mergeSources": {
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ],
              "type": "string",
              "location": "query",
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "repeated": true,
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ]
            },
            "readMask": {
              "location": "query",
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "format": "google-fieldmask"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ],
          "flatPath": "v1/people:listDirectoryPeople",
          "httpMethod": "GET",
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the directory people that have changed](/people/v1/directory#list_the_directory_people_that_have_changed)."
        },
        "get": {
          "path": "v1/{+resourceName}",
          "httpMethod": "GET",
          "parameters": {
            "sources": {
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_PROFILE and READ_SOURCE_TYPE_CONTACT if not set.",
              "repeated": true,
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            },
            "resourceName": {
              "pattern": "^people/[^/]+$",
              "type": "string",
              "description": "Required. The resource name of the person to provide information about. - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`.",
              "location": "path",
              "required": true
            },
            "requestMask.includeField": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`."
            },
            "personFields": {
              "description": "Required. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "flatPath": "v1/people/{peopleId}",
          "description": "Provides information about a person by specifying a resource name. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
          "response": {
            "$ref": "Person"
          },
          "id": "people.people.get"
        },
        "searchContacts": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "id": "people.people.searchContacts",
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v1/people:searchContacts",
          "flatPath": "v1/people:searchContacts",
          "parameters": {
            "query": {
              "location": "query",
              "type": "string",
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\"."
            },
            "sources": {
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set.",
              "repeated": true,
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30."
            },
            "readMask": {
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Provides a list of contacts in the authenticated user's grouped contacts that matches the search query. The query matches on a contact's `names`, `nickNames`, `emailAddresses`, `phoneNumbers`, and `organizations` fields that are from the CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/contacts#search_the_users_contacts",
          "response": {
            "$ref": "SearchResponse"
          }
        },
        "createContact": {
          "request": {
            "$ref": "Person"
          },
          "httpMethod": "POST",
          "description": "Create a new contact and return the person resource for that contact. The request returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameters": {
            "personFields": {
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "type": "string"
            },
            "sources": {
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "repeated": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Person"
          },
          "parameterOrder": [],
          "flatPath": "v1/people:createContact",
          "path": "v1/people:createContact",
          "id": "people.people.createContact"
        },
        "getBatchGet": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "parameterOrder": [],
          "parameters": {
            "resourceNames": {
              "repeated": true,
              "description": "Required. The resource names of the people to provide information about. It's repeatable. The URL query parameter should be resourceNames=<name1>&resourceNames=<name2>&... - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`. There is a maximum of 200 resource names.",
              "location": "query",
              "type": "string"
            },
            "sources": {
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "repeated": true
            },
            "requestMask.includeField": {
              "format": "google-fieldmask",
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
              "location": "query",
              "type": "string"
            },
            "personFields": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "path": "v1/people:batchGet",
          "httpMethod": "GET",
          "flatPath": "v1/people:batchGet",
          "id": "people.people.getBatchGet",
          "response": {
            "$ref": "GetPeopleResponse"
          },
          "description": "Provides information about a list of specific people by specifying a list of requested resource names. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified."
        },
        "batchCreateContacts": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameterOrder": [],
          "id": "people.people.batchCreateContacts",
          "description": "Create a batch of new contacts and return the PersonResponses for the newly Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "request": {
            "$ref": "BatchCreateContactsRequest"
          },
          "path": "v1/people:batchCreateContacts",
          "parameters": {},
          "response": {
            "$ref": "BatchCreateContactsResponse"
          },
          "httpMethod": "POST",
          "flatPath": "v1/people:batchCreateContacts"
        },
        "batchUpdateContacts": {
          "response": {
            "$ref": "BatchUpdateContactsResponse"
          },
          "flatPath": "v1/people:batchUpdateContacts",
          "id": "people.people.batchUpdateContacts",
          "httpMethod": "POST",
          "description": "Update a batch of contacts and return a map of resource names to PersonResponses for the updated contacts. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "request": {
            "$ref": "BatchUpdateContactsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "path": "v1/people:batchUpdateContacts",
          "parameterOrder": [],
          "parameters": {}
        },
        "deleteContact": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "id": "people.people.deleteContact",
          "path": "v1/{+resourceName}:deleteContact",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "resourceName": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^people/[^/]+$",
              "description": "Required. The resource name of the contact to delete."
            }
          },
          "flatPath": "v1/people/{peopleId}:deleteContact",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Delete a contact person. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures."
        },
        "updateContactPhoto": {
          "path": "v1/{+resourceName}:updateContactPhoto",
          "id": "people.people.updateContactPhoto",
          "parameterOrder": [
            "resourceName"
          ],
          "request": {
            "$ref": "UpdateContactPhotoRequest"
          },
          "response": {
            "$ref": "UpdateContactPhotoResponse"
          },
          "description": "Update a contact's photo. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "flatPath": "v1/people/{peopleId}:updateContactPhoto",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameters": {
            "resourceName": {
              "pattern": "^people/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Person resource name",
              "type": "string"
            }
          },
          "httpMethod": "PATCH"
        },
        "deleteContactPhoto": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "id": "people.people.deleteContactPhoto",
          "response": {
            "$ref": "DeleteContactPhotoResponse"
          },
          "httpMethod": "DELETE",
          "flatPath": "v1/people/{peopleId}:deleteContactPhoto",
          "description": "Delete a contact's photo. Mutate requests for the same user should be done sequentially to avoid // lock contention.",
          "path": "v1/{+resourceName}:deleteContactPhoto",
          "parameters": {
            "resourceName": {
              "type": "string",
              "pattern": "^people/[^/]+$",
              "description": "Required. The resource name of the contact whose photo will be deleted.",
              "location": "path",
              "required": true
            },
            "personFields": {
              "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            },
            "sources": {
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceName"
          ]
        },
        "updateContact": {
          "description": "Update contact data for an existing contact person. Any non-contact data will not be modified. Any non-contact data in the person to update will be ignored. All fields specified in the `update_mask` will be replaced. The server returns a 400 error if `person.metadata.sources` is not specified for the contact to be updated or if there is no contact source. The server returns a 400 error with reason `\"failedPrecondition\"` if `person.metadata.sources.etag` is different than the contact's etag, which indicates the contact has changed since its data was read. Clients should get the latest person and merge their updates into the latest person. If making sequential updates to the same person, the etag from the `updateContact` response should be used to avoid failures. The server returns a 400 error if `memberships` are being updated and there are no contact group memberships specified on the person. The server returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "flatPath": "v1/people/{peopleId}:updateContact",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Person"
          },
          "response": {
            "$ref": "Person"
          },
          "path": "v1/{+resourceName}:updateContact",
          "id": "people.people.updateContact",
          "parameters": {
            "updatePersonFields": {
              "location": "query",
              "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All updated fields will be replaced. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined",
              "format": "google-fieldmask",
              "type": "string"
            },
            "personFields": {
              "type": "string",
              "description": "Optional. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "format": "google-fieldmask",
              "location": "query"
            },
            "resourceName": {
              "description": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`.",
              "pattern": "^people/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sources": {
              "repeated": true,
              "type": "string",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameterOrder": [
            "resourceName"
          ]
        },
        "searchDirectoryPeople": {
          "response": {
            "$ref": "SearchDirectoryPeopleResponse"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchDirectoryPeople` must match the first call that provided the page token."
            },
            "query": {
              "description": "Required. Prefix query that matches fields in the person. Does NOT use the read_mask for determining what fields to match.",
              "type": "string",
              "location": "query"
            },
            "sources": {
              "enumDescriptions": [
                "Unspecified.",
                "Google Workspace domain shared contact.",
                "Google Workspace domain profile."
              ],
              "type": "string",
              "description": "Required. Directory sources to return.",
              "repeated": true,
              "location": "query",
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ]
            },
            "readMask": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 500, inclusive. Defaults to 100 if not set or set to 0."
            },
            "mergeSources": {
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ],
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ],
              "repeated": true,
              "type": "string"
            }
          },
          "flatPath": "v1/people:searchDirectoryPeople",
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ],
          "parameterOrder": [],
          "id": "people.people.searchDirectoryPeople",
          "httpMethod": "GET",
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory that match the search query.",
          "path": "v1/people:searchDirectoryPeople"
        },
        "batchDeleteContacts": {
          "flatPath": "v1/people:batchDeleteContacts",
          "parameters": {},
          "id": "people.people.batchDeleteContacts",
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/people:batchDeleteContacts",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "request": {
            "$ref": "BatchDeleteContactsRequest"
          },
          "description": "Delete a batch of contacts. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "parameterOrder": []
        }
      }
    },
    "otherContacts": {
      "methods": {
        "copyOtherContactToMyContactsGroup": {
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "description": "Copies an \"Other contact\" to a new contact in the user's \"myContacts\" group Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "response": {
            "$ref": "Person"
          },
          "parameters": {
            "resourceName": {
              "pattern": "^otherContacts/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The resource name of the \"Other contact\" to copy.",
              "type": "string"
            }
          },
          "path": "v1/{+resourceName}:copyOtherContactToMyContactsGroup",
          "request": {
            "$ref": "CopyOtherContactToMyContactsGroupRequest"
          },
          "flatPath": "v1/otherContacts/{otherContactsId}:copyOtherContactToMyContactsGroup",
          "id": "people.otherContacts.copyOtherContactToMyContactsGroup",
          "httpMethod": "POST"
        },
        "list": {
          "id": "people.otherContacts.list",
          "response": {
            "$ref": "ListOtherContactsResponse"
          },
          "flatPath": "v1/otherContacts",
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v1/otherContacts",
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "parameters": {
            "sources": {
              "repeated": true,
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set. Possible values for this field are: * READ_SOURCE_TYPE_CONTACT * READ_SOURCE_TYPE_CONTACT,READ_SOURCE_TYPE_PROFILE Specifying READ_SOURCE_TYPE_PROFILE without specifying READ_SOURCE_TYPE_CONTACT is not permitted."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `otherContacts.list` must match the first call that provided the page token."
            },
            "syncToken": {
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `otherContacts.list` must match the first call that provided the sync token. More details about sync behavior at `otherContacts.list`.",
              "location": "query",
              "type": "string"
            },
            "requestSyncToken": {
              "type": "boolean",
              "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `otherContacts.list`.",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. The number of \"Other contacts\" to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "readMask": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. What values are valid depend on what ReadSourceType is used. If READ_SOURCE_TYPE_CONTACT is used, valid values are: * emailAddresses * metadata * names * phoneNumbers * photos If READ_SOURCE_TYPE_PROFILE is used, valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "description": "List all \"Other contacts\", that is contacts that are not in a contact group. \"Other contacts\" are typically auto created contacts from interactions. Sync tokens expire 7 days after the full sync. A request with an expired sync token will get an error with an [google.rpc.ErrorInfo](https://cloud.google.com/apis/design/errors#error_info) with reason \"EXPIRED_SYNC_TOKEN\". In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's other contacts that have changed](/people/v1/other-contacts#list_the_users_other_contacts_that_have_changed)."
        },
        "search": {
          "path": "v1/otherContacts:search",
          "httpMethod": "GET",
          "flatPath": "v1/otherContacts:search",
          "parameters": {
            "query": {
              "location": "query",
              "type": "string",
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\"."
            },
            "pageSize": {
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "readMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * emailAddresses * metadata * names * phoneNumbers"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "response": {
            "$ref": "SearchResponse"
          },
          "id": "people.otherContacts.search",
          "description": "Provides a list of contacts in the authenticated user's other contacts that matches the search query. The query matches on a contact's `names`, `emailAddresses`, and `phoneNumbers` fields that are from the OTHER_CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/other-contacts#search_the_users_other_contacts",
          "parameterOrder": []
        }
      }
    },
    "contactGroups": {
      "methods": {
        "list": {
          "id": "people.contactGroups.list",
          "httpMethod": "GET",
          "parameters": {
            "groupFields": {
              "type": "string",
              "location": "query",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "format": "google-fieldmask"
            },
            "pageSize": {
              "description": "Optional. The maximum number of resources to return. Valid values are between 1 and 1000, inclusive. Defaults to 30 if not set or set to 0.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. The next_page_token value returned from a previous call to [ListContactGroups](/people/api/rest/v1/contactgroups/list). Requests the next page of resources.",
              "location": "query"
            },
            "syncToken": {
              "description": "Optional. A sync token, returned by a previous call to `contactgroups.list`. Only resources changed since the sync token was created will be returned.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/contactGroups",
          "description": "List all contact groups owned by the authenticated user. Members of the contact groups are not populated.",
          "flatPath": "v1/contactGroups",
          "response": {
            "$ref": "ListContactGroupsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "parameterOrder": []
        },
        "get": {
          "parameters": {
            "resourceName": {
              "description": "Required. The resource name of the contact group to get.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^contactGroups/[^/]+$"
            },
            "groupFields": {
              "type": "string",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "location": "query",
              "format": "google-fieldmask"
            },
            "maxMembers": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Optional. Specifies the maximum number of members to return. Defaults to 0 if not set, which will return zero members."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceName"
          ],
          "path": "v1/{+resourceName}",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "description": "Get a specific contact group owned by the authenticated user by specifying a contact group resource name.",
          "response": {
            "$ref": "ContactGroup"
          },
          "id": "people.contactGroups.get"
        },
        "batchGet": {
          "parameterOrder": [],
          "path": "v1/contactGroups:batchGet",
          "flatPath": "v1/contactGroups:batchGet",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "id": "people.contactGroups.batchGet",
          "response": {
            "$ref": "BatchGetContactGroupsResponse"
          },
          "description": "Get a list of contact groups owned by the authenticated user by specifying a list of contact group resource names.",
          "httpMethod": "GET",
          "parameters": {
            "groupFields": {
              "location": "query",
              "type": "string",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "format": "google-fieldmask"
            },
            "maxMembers": {
              "description": "Optional. Specifies the maximum number of members to return for each group. Defaults to 0 if not set, which will return zero members.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "resourceNames": {
              "location": "query",
              "description": "Required. The resource names of the contact groups to get. There is a maximum of 200 resource names.",
              "type": "string",
              "repeated": true
            }
          }
        },
        "create": {
          "description": "Create a new contact group owned by the authenticated user. Created contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "flatPath": "v1/contactGroups",
          "request": {
            "$ref": "CreateContactGroupRequest"
          },
          "response": {
            "$ref": "ContactGroup"
          },
          "httpMethod": "POST",
          "path": "v1/contactGroups",
          "parameterOrder": [],
          "parameters": {},
          "id": "people.contactGroups.create"
        },
        "delete": {
          "description": "Delete an existing contact group owned by the authenticated user by specifying a contact group resource name. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "parameterOrder": [
            "resourceName"
          ],
          "id": "people.contactGroups.delete",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "path": "v1/{+resourceName}",
          "parameters": {
            "resourceName": {
              "description": "Required. The resource name of the contact group to delete.",
              "pattern": "^contactGroups/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "deleteContacts": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Set to true to also delete the contacts in the specified group."
            }
          },
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/contactGroups/{contactGroupsId}"
        },
        "update": {
          "parameterOrder": [
            "resourceName"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameters": {
            "resourceName": {
              "type": "string",
              "pattern": "^contactGroups/[^/]+$",
              "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
              "location": "path",
              "required": true
            }
          },
          "description": "Update the name of an existing contact group owned by the authenticated user. Updated contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "id": "people.contactGroups.update",
          "request": {
            "$ref": "UpdateContactGroupRequest"
          },
          "response": {
            "$ref": "ContactGroup"
          },
          "path": "v1/{+resourceName}",
          "flatPath": "v1/contactGroups/{contactGroupsId}"
        }
      },
      "resources": {
        "members": {
          "methods": {
            "modify": {
              "parameters": {
                "resourceName": {
                  "location": "path",
                  "required": true,
                  "pattern": "^contactGroups/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the contact group to modify."
                }
              },
              "description": "Modify the members of a contact group owned by the authenticated user. The only system contact groups that can have members added are `contactGroups/myContacts` and `contactGroups/starred`. Other system contact groups are deprecated and can only have contacts removed.",
              "parameterOrder": [
                "resourceName"
              ],
              "request": {
                "$ref": "ModifyContactGroupMembersRequest"
              },
              "id": "people.contactGroups.members.modify",
              "path": "v1/{+resourceName}/members:modify",
              "httpMethod": "POST",
              "response": {
                "$ref": "ModifyContactGroupMembersResponse"
              },
              "flatPath": "v1/contactGroups/{contactGroupsId}/members:modify",
              "scopes": [
                "https://www.googleapis.com/auth/contacts"
              ]
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "ownerName": "Google",
  "revision": "20260923",
  "schemas": {
    "BatchCreateContactsRequest": {
      "type": "object",
      "id": "BatchCreateContactsRequest",
      "properties": {
        "sources": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ],
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ]
          },
          "type": "array",
          "description": "Optional. A mask of what source types to return in the post mutate read. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
        },
        "contacts": {
          "description": "Required. The contact to create. Allows up to 200 contacts in a single request.",
          "items": {
            "$ref": "ContactToCreate"
          },
          "type": "array"
        },
        "readMask": {
          "description": "Required. A field mask to restrict which fields on each person are returned in the response. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "description": "A request to create a batch of contacts."
    },
    "MiscKeyword": {
      "description": "A person's miscellaneous keyword.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the miscellaneous keyword.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "Outlook field for billing information.",
            "Outlook field for directory server.",
            "Outlook field for keyword.",
            "Outlook field for mileage.",
            "Outlook field for priority.",
            "Outlook field for sensitivity.",
            "Outlook field for subject.",
            "Outlook field for user.",
            "Home.",
            "Work.",
            "Other."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "OUTLOOK_BILLING_INFORMATION",
            "OUTLOOK_DIRECTORY_SERVER",
            "OUTLOOK_KEYWORD",
            "OUTLOOK_MILEAGE",
            "OUTLOOK_PRIORITY",
            "OUTLOOK_SENSITIVITY",
            "OUTLOOK_SUBJECT",
            "OUTLOOK_USER",
            "HOME",
            "WORK",
            "OTHER"
          ],
          "type": "string",
          "description": "The miscellaneous keyword type."
        },
        "value": {
          "type": "string",
          "description": "The value of the miscellaneous keyword."
        },
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the miscellaneous keyword translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        }
      },
      "id": "MiscKeyword"
    },
    "Url": {
      "description": "A person's associated URLs.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the URL. The type can be custom or one of these predefined values: * `home` * `work` * `blog` * `profile` * `homePage` * `ftp` * `reservations` * `appInstallPage`: website for a Currents application. * `other`",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the URL.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The URL.",
          "type": "string"
        },
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        }
      },
      "id": "Url"
    },
    "CopyOtherContactToMyContactsGroupRequest": {
      "id": "CopyOtherContactToMyContactsGroupRequest",
      "properties": {
        "sources": {
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ],
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ],
            "type": "string"
          },
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "type": "array"
        },
        "copyMask": {
          "description": "Required. A field mask to restrict which fields are copied into the new contact. Valid values are: * emailAddresses * names * phoneNumbers",
          "format": "google-fieldmask",
          "type": "string"
        },
        "readMask": {
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to the copy mask with metadata and membership fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "format": "google-fieldmask"
        }
      },
      "type": "object",
      "description": "A request to copy an \"Other contact\" to my contacts group."
    },
    "PersonResponse": {
      "id": "PersonResponse",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The person."
        },
        "requestedResourceName": {
          "description": "The original requested resource name. May be different than the resource name on the returned person. The resource name can change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or a profile URL.",
          "type": "string"
        },
        "httpStatusCode": {
          "deprecated": true,
          "format": "int32",
          "description": "**DEPRECATED** (Please use status instead) [HTTP 1.1 status code] (http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html).",
          "type": "integer"
        },
        "status": {
          "description": "The status of the response.",
          "$ref": "Status"
        }
      },
      "description": "The response for a single person",
      "type": "object"
    },
    "ContactGroupResponse": {
      "type": "object",
      "description": "The response for a specific contact group.",
      "id": "ContactGroupResponse",
      "properties": {
        "requestedResourceName": {
          "type": "string",
          "description": "The original requested resource name."
        },
        "contactGroup": {
          "$ref": "ContactGroup",
          "description": "The contact group."
        },
        "status": {
          "description": "The status of the response.",
          "$ref": "Status"
        }
      }
    },
    "Location": {
      "type": "object",
      "description": "A person's location.",
      "id": "Location",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the location. The type can be custom or one of these predefined values: * `desk` * `grewUp`"
        },
        "deskCode": {
          "type": "string",
          "description": "The individual desk location."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the location."
        },
        "current": {
          "type": "boolean",
          "description": "Whether the location is the current location."
        },
        "floorSection": {
          "type": "string",
          "description": "The floor section in `floor_name`."
        },
        "value": {
          "description": "The free-form value of the location.",
          "type": "string"
        },
        "floor": {
          "description": "The floor name or number.",
          "type": "string"
        },
        "buildingId": {
          "description": "The building identifier.",
          "type": "string"
        }
      }
    },
    "SipAddress": {
      "properties": {
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the SIP address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "description": "The SIP address in the [RFC 3261 19.1](https://tools.ietf.org/html/rfc3261#section-19.1) SIP URI format."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the SIP address."
        },
        "type": {
          "type": "string",
          "description": "The type of the SIP address. The type can be custom or or one of these predefined values: * `home` * `work` * `mobile` * `other`"
        }
      },
      "description": "A person's SIP address. Session Initial Protocol addresses are used for VoIP communications to make voice or video calls over the internet.",
      "id": "SipAddress",
      "type": "object"
    },
    "DeleteContactPhotoResponse": {
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The updated person, if person_fields is set in the DeleteContactPhotoRequest; otherwise this will be unset."
        }
      },
      "id": "DeleteContactPhotoResponse",
      "description": "The response for deleting a contact's photo.",
      "type": "object"
    },
    "Occupation": {
      "id": "Occupation",
      "properties": {
        "value": {
          "description": "The occupation; for example, `carpenter`.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the occupation."
        }
      },
      "type": "object",
      "description": "A person's occupation."
    },
    "ProfileMetadata": {
      "id": "ProfileMetadata",
      "type": "object",
      "properties": {
        "userTypes": {
          "description": "Output only. The user types.",
          "readOnly": true,
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The user type is not known.",
              "The user is a Google user.",
              "The user is a Currents user.",
              "The user is a Google Workspace user."
            ],
            "type": "string",
            "enum": [
              "USER_TYPE_UNKNOWN",
              "GOOGLE_USER",
              "GPLUS_USER",
              "GOOGLE_APPS_USER"
            ]
          }
        },
        "objectType": {
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ],
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "readOnly": true,
          "description": "Output only. The profile object type.",
          "type": "string"
        }
      },
      "description": "The metadata about a profile."
    },
    "ListOtherContactsResponse": {
      "description": "The response to a request for the authenticated user's \"Other contacts\".",
      "id": "ListOtherContactsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token."
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of other contacts in the list without pagination.",
          "format": "int32"
        },
        "otherContacts": {
          "description": "The list of \"Other contacts\" returned as Person resources. \"Other contacts\" support a limited subset of fields. See ListOtherContactsRequest.request_mask for more detailed information.",
          "items": {
            "$ref": "Person"
          },
          "type": "array"
        }
      }
    },
    "UserDefined": {
      "id": "UserDefined",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the user defined data."
        },
        "key": {
          "type": "string",
          "description": "The end user specified key of the user defined data."
        },
        "value": {
          "description": "The end user specified value of the user defined data.",
          "type": "string"
        }
      },
      "description": "Arbitrary user data that is populated by the end users.",
      "type": "object"
    },
    "ContactToCreate": {
      "properties": {
        "contactPerson": {
          "$ref": "Person",
          "description": "Required. The person data to populate a newly created source."
        }
      },
      "id": "ContactToCreate",
      "type": "object",
      "description": "A wrapper that contains the person data to populate a newly created source."
    },
    "ListDirectoryPeopleResponse": {
      "properties": {
        "people": {
          "items": {
            "$ref": "Person"
          },
          "description": "The list of people in the domain directory.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token.",
          "type": "string"
        }
      },
      "description": "The response to a request for the authenticated user's domain directory.",
      "type": "object",
      "id": "ListDirectoryPeopleResponse"
    },
    "SearchDirectoryPeopleResponse": {
      "properties": {
        "people": {
          "description": "The list of people in the domain directory that match the query.",
          "items": {
            "$ref": "Person"
          },
          "type": "array"
        },
        "totalSize": {
          "description": "The total number of items in the list without pagination.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SearchDirectoryPeopleResponse",
      "description": "The response to a request for people in the authenticated user's domain directory that match the specified query."
    },
    "FileAs": {
      "description": "The name that should be used to sort the person in a list.",
      "properties": {
        "value": {
          "description": "The file-as value",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the file-as.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "FileAs",
      "type": "object"
    },
    "CalendarUrl": {
      "type": "object",
      "id": "CalendarUrl",
      "properties": {
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the calendar URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "metadata": {
          "description": "Metadata about the calendar URL.",
          "$ref": "FieldMetadata"
        },
        "url": {
          "description": "The calendar URL.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the calendar URL. The type can be custom or one of these predefined values: * `home` * `freeBusy` * `work`"
        }
      },
      "description": "A person's calendar URL."
    },
    "PersonMetadata": {
      "properties": {
        "previousResourceNames": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Any former resource names this person has had. Populated only for `people.connections.list` requests that include a sync token. The resource name may change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or profile URL.",
          "type": "array"
        },
        "deleted": {
          "readOnly": true,
          "description": "Output only. True if the person resource has been deleted. Populated only for `people.connections.list` and `otherContacts.list` sync requests.",
          "type": "boolean"
        },
        "linkedPeopleResourceNames": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Resource names of people linked to this resource."
        },
        "objectType": {
          "description": "Output only. **DEPRECATED** (Please use `person.metadata.sources.profileMetadata.objectType` instead) The type of the person object.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ],
          "deprecated": true,
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ]
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "description": "The sources of data for the person.",
          "type": "array"
        }
      },
      "description": "The metadata about a person.",
      "id": "PersonMetadata",
      "type": "object"
    },
    "ContactGroupMembership": {
      "description": "A Google contact group membership.",
      "id": "ContactGroupMembership",
      "type": "object",
      "properties": {
        "contactGroupResourceName": {
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`. Only contact_group_resource_name can be used for modifying memberships. Any contact group membership can be removed, but only user group or \"myContacts\" or \"starred\" system groups memberships can be added. A contact must always have at least one contact group membership.",
          "type": "string"
        },
        "contactGroupId": {
          "readOnly": true,
          "deprecated": true,
          "type": "string",
          "description": "Output only. The contact group ID for the contact group membership."
        }
      }
    },
    "ImClient": {
      "description": "A person's instant messaging client.",
      "type": "object",
      "properties": {
        "protocol": {
          "description": "The protocol of the IM client. The protocol can be custom or one of these predefined values: * `aim` * `msn` * `yahoo` * `skype` * `qq` * `googleTalk` * `icq` * `jabber` * `netMeeting`",
          "type": "string"
        },
        "formattedProtocol": {
          "description": "Output only. The protocol of the IM client formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "The type of the IM client. The type can be custom or one of these predefined values: * `home` * `work` * `other`",
          "type": "string"
        },
        "formattedType": {
          "readOnly": true,
          "description": "Output only. The type of the IM client translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "username": {
          "description": "The user name used in the IM client.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the IM client."
        }
      },
      "id": "ImClient"
    },
    "Gender": {
      "properties": {
        "metadata": {
          "description": "Metadata about the gender.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "type": "string",
          "description": "The gender for the person. The gender can be custom or one of these predefined values: * `male` * `female` * `unspecified`"
        },
        "formattedValue": {
          "type": "string",
          "description": "Output only. The value of the gender translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale. Unspecified or custom value are not localized.",
          "readOnly": true
        },
        "addressMeAs": {
          "description": "Free form text field for pronouns that should be used to address the person. Common values are: * `he`/`him` * `she`/`her` * `they`/`them`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A person's gender.",
      "id": "Gender"
    },
    "PhoneNumber": {
      "description": "A person's phone number.",
      "properties": {
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the phone number translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "value": {
          "description": "The phone number.",
          "type": "string"
        },
        "canonicalForm": {
          "description": "Output only. The canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf) form of the phone number.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the phone number."
        },
        "type": {
          "description": "The type of the phone number. The type can be custom or one of these predefined values: * `home` * `work` * `mobile` * `homeFax` * `workFax` * `otherFax` * `pager` * `workMobile` * `workPager` * `main` * `googleVoice` * `other`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PhoneNumber"
    },
    "FieldMetadata": {
      "description": "Metadata about a field.",
      "type": "object",
      "id": "FieldMetadata",
      "properties": {
        "sourcePrimary": {
          "type": "boolean",
          "description": "True if the field is the primary field for the source. Each source must have at most one field with `source_primary` set to true."
        },
        "verified": {
          "description": "Output only. True if the field is verified; false if the field is unverified. A verified field is typically a name, email address, phone number, or website that has been confirmed to be owned by the person.",
          "readOnly": true,
          "type": "boolean"
        },
        "source": {
          "$ref": "Source",
          "description": "The source of the field."
        },
        "primary": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if the field is the primary field for all sources in the person. Each person will have at most one field with `primary` set to true."
        }
      }
    },
    "EmailAddress": {
      "description": "A person's email address.",
      "id": "EmailAddress",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the email address. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        },
        "formattedType": {
          "description": "Output only. The type of the email address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "The email address.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the email address.",
          "$ref": "FieldMetadata"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the email."
        }
      },
      "type": "object"
    },
    "Interest": {
      "description": "One of the person's interests.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The interest; for example, `stargazing`."
        },
        "metadata": {
          "description": "Metadata about the interest.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "Interest",
      "type": "object"
    },
    "GetPeopleResponse": {
      "properties": {
        "responses": {
          "items": {
            "$ref": "PersonResponse"
          },
          "description": "The response for each requested resource name.",
          "type": "array"
        }
      },
      "description": "The response to a get request for a list of people by resource name.",
      "type": "object",
      "id": "GetPeopleResponse"
    },
    "Name": {
      "type": "object",
      "id": "Name",
      "description": "A person's name. If the name is a mononym, the family name is empty.",
      "properties": {
        "honorificSuffix": {
          "type": "string",
          "description": "The honorific suffixes, such as `Jr.`"
        },
        "phoneticFullName": {
          "type": "string",
          "description": "The full name spelled as it sounds."
        },
        "phoneticMiddleName": {
          "description": "The middle name(s) spelled as they sound.",
          "type": "string"
        },
        "phoneticHonorificPrefix": {
          "type": "string",
          "description": "The honorific prefixes spelled as they sound."
        },
        "middleName": {
          "description": "The middle name(s).",
          "type": "string"
        },
        "displayNameLastFirst": {
          "description": "Output only. The display name with the last name first formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header.",
          "readOnly": true,
          "type": "string"
        },
        "unstructuredName": {
          "type": "string",
          "description": "The free form name value."
        },
        "metadata": {
          "description": "Metadata about the name.",
          "$ref": "FieldMetadata"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header."
        },
        "honorificPrefix": {
          "description": "The honorific prefixes, such as `Mrs.` or `Dr.`",
          "type": "string"
        },
        "givenName": {
          "type": "string",
          "description": "The given name."
        },
        "familyName": {
          "description": "The family name.",
          "type": "string"
        },
        "phoneticGivenName": {
          "type": "string",
          "description": "The given name spelled as it sounds."
        },
        "phoneticHonorificSuffix": {
          "description": "The honorific suffixes spelled as they sound.",
          "type": "string"
        },
        "phoneticFamilyName": {
          "description": "The family name spelled as it sounds.",
          "type": "string"
        }
      }
    },
    "Person": {
      "id": "Person",
      "properties": {
        "ageRange": {
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "description": "Output only. **DEPRECATED** (Please use `person.ageRanges` instead) The person's age range.",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "readOnly": true,
          "type": "string"
        },
        "relationshipInterests": {
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship interests.",
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "RelationshipInterest"
          },
          "readOnly": true
        },
        "skills": {
          "items": {
            "$ref": "Skill"
          },
          "description": "The person's skills.",
          "type": "array"
        },
        "residences": {
          "items": {
            "$ref": "Residence"
          },
          "type": "array",
          "description": "**DEPRECATED**: (Please use `person.locations` instead) The person's residences.",
          "deprecated": true
        },
        "metadata": {
          "$ref": "PersonMetadata",
          "readOnly": true,
          "description": "Output only. Metadata about the person."
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "genders": {
          "items": {
            "$ref": "Gender"
          },
          "description": "The person's genders. This field is a singleton for contact sources.",
          "type": "array"
        },
        "userDefined": {
          "type": "array",
          "items": {
            "$ref": "UserDefined"
          },
          "description": "The person's user defined data."
        },
        "imClients": {
          "type": "array",
          "description": "The person's instant messaging clients.",
          "items": {
            "$ref": "ImClient"
          }
        },
        "clientData": {
          "description": "The person's client data.",
          "items": {
            "$ref": "ClientData"
          },
          "type": "array"
        },
        "relationshipStatuses": {
          "deprecated": true,
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship statuses.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RelationshipStatus"
          }
        },
        "biographies": {
          "description": "The person's biographies. This field is a singleton for contact sources.",
          "items": {
            "$ref": "Biography"
          },
          "type": "array"
        },
        "organizations": {
          "items": {
            "$ref": "Organization"
          },
          "type": "array",
          "description": "The person's past or current organizations."
        },
        "addresses": {
          "items": {
            "$ref": "Address"
          },
          "description": "The person's street addresses.",
          "type": "array"
        },
        "sipAddresses": {
          "type": "array",
          "description": "The person's SIP addresses.",
          "items": {
            "$ref": "SipAddress"
          }
        },
        "interests": {
          "description": "The person's interests.",
          "items": {
            "$ref": "Interest"
          },
          "type": "array"
        },
        "urls": {
          "type": "array",
          "description": "The person's associated URLs.",
          "items": {
            "$ref": "Url"
          }
        },
        "braggingRights": {
          "items": {
            "$ref": "BraggingRights"
          },
          "description": "**DEPRECATED**: No data will be returned The person's bragging rights.",
          "deprecated": true,
          "type": "array"
        },
        "miscKeywords": {
          "type": "array",
          "description": "The person's miscellaneous keywords.",
          "items": {
            "$ref": "MiscKeyword"
          }
        },
        "locales": {
          "items": {
            "$ref": "Locale"
          },
          "description": "The person's locale preferences.",
          "type": "array"
        },
        "relations": {
          "items": {
            "$ref": "Relation"
          },
          "description": "The person's relations.",
          "type": "array"
        },
        "calendarUrls": {
          "type": "array",
          "description": "The person's calendar URLs.",
          "items": {
            "$ref": "CalendarUrl"
          }
        },
        "externalIds": {
          "description": "The person's external IDs.",
          "items": {
            "$ref": "ExternalId"
          },
          "type": "array"
        },
        "coverPhotos": {
          "items": {
            "$ref": "CoverPhoto"
          },
          "readOnly": true,
          "description": "Output only. The person's cover photos.",
          "type": "array"
        },
        "memberships": {
          "description": "The person's group memberships.",
          "items": {
            "$ref": "Membership"
          },
          "type": "array"
        },
        "ageRanges": {
          "type": "array",
          "description": "Output only. The person's age ranges.",
          "items": {
            "$ref": "AgeRangeType"
          },
          "readOnly": true
        },
        "photos": {
          "items": {
            "$ref": "Photo"
          },
          "description": "Output only. The person's photos.",
          "readOnly": true,
          "type": "array"
        },
        "birthdays": {
          "items": {
            "$ref": "Birthday"
          },
          "type": "array",
          "description": "The person's birthdays. This field is a singleton for contact sources."
        },
        "names": {
          "description": "The person's names. This field is a singleton for contact sources.",
          "items": {
            "$ref": "Name"
          },
          "type": "array"
        },
        "phoneNumbers": {
          "type": "array",
          "items": {
            "$ref": "PhoneNumber"
          },
          "description": "The person's phone numbers. For `people.connections.list` and `otherContacts.list` the number of phone numbers is limited to 100. If a Person has more phone numbers the entire set can be obtained by calling GetPeople."
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`."
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "The person's locations."
        },
        "events": {
          "description": "The person's events.",
          "type": "array",
          "items": {
            "$ref": "Event"
          }
        },
        "emailAddresses": {
          "items": {
            "$ref": "EmailAddress"
          },
          "description": "The person's email addresses. For `people.connections.list` and `otherContacts.list` the number of email addresses is limited to 100. If a Person has more email addresses the entire set can be obtained by calling GetPeople.",
          "type": "array"
        },
        "occupations": {
          "type": "array",
          "description": "The person's occupations.",
          "items": {
            "$ref": "Occupation"
          }
        },
        "fileAses": {
          "items": {
            "$ref": "FileAs"
          },
          "type": "array",
          "description": "The person's file-ases."
        },
        "nicknames": {
          "items": {
            "$ref": "Nickname"
          },
          "type": "array",
          "description": "The person's nicknames."
        },
        "taglines": {
          "type": "array",
          "description": "Output only. **DEPRECATED**: No data will be returned The person's taglines.",
          "readOnly": true,
          "items": {
            "$ref": "Tagline"
          },
          "deprecated": true
        }
      },
      "description": "Information about a person merged from various data sources such as the authenticated user's contacts and profile data. Most fields can have multiple items. The items in a field have no guaranteed order, but each non-empty field is guaranteed to have exactly one field with `metadata.primary` set to true.",
      "type": "object"
    },
    "Biography": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The short biography."
        },
        "contentType": {
          "enumDescriptions": [
            "Unspecified.",
            "Plain text.",
            "HTML text."
          ],
          "description": "The content type of the biography.",
          "type": "string",
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "TEXT_PLAIN",
            "TEXT_HTML"
          ]
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the biography."
        }
      },
      "id": "Biography",
      "type": "object",
      "description": "A person's short biography."
    },
    "Relation": {
      "properties": {
        "type": {
          "description": "The person's relation to the other person. The type can be custom or one of these predefined values: * `spouse` * `child` * `mother` * `father` * `parent` * `brother` * `sister` * `friend` * `relative` * `domesticPartner` * `manager` * `assistant` * `referredBy` * `partner`",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the relation translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the relation.",
          "$ref": "FieldMetadata"
        },
        "person": {
          "description": "The name of the other person this relation refers to.",
          "type": "string"
        }
      },
      "description": "A person's relation to another person.",
      "id": "Relation",
      "type": "object"
    },
    "ClientData": {
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed.",
[...]
