{
  "protocol": "rest",
  "baseUrl": "https://people.googleapis.com/",
  "name": "people",
  "batchPath": "batch",
  "description": "Provides access to information about profiles and contacts.",
  "discoveryVersion": "v1",
  "resources": {
    "otherContacts": {
      "methods": {
        "list": {
          "description": "List all \"Other contacts\", that is contacts that are not in a contact group. \"Other contacts\" are typically auto created contacts from interactions. Sync tokens expire 7 days after the full sync. A request with an expired sync token will get an error with an [google.rpc.ErrorInfo](https://cloud.google.com/apis/design/errors#error_info) with reason \"EXPIRED_SYNC_TOKEN\". In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's other contacts that have changed](/people/v1/other-contacts#list_the_users_other_contacts_that_have_changed).",
          "id": "people.otherContacts.list",
          "flatPath": "v1/otherContacts",
          "path": "v1/otherContacts",
          "response": {
            "$ref": "ListOtherContactsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "Optional. The number of \"Other contacts\" to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
              "format": "int32",
              "location": "query"
            },
            "requestSyncToken": {
              "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `otherContacts.list`.",
              "type": "boolean",
              "location": "query"
            },
            "readMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. What values are valid depend on what ReadSourceType is used. If READ_SOURCE_TYPE_CONTACT is used, valid values are: * emailAddresses * metadata * names * phoneNumbers * photos If READ_SOURCE_TYPE_PROFILE is used, valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `otherContacts.list` must match the first call that provided the page token."
            },
            "sources": {
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "location": "query",
              "repeated": true,
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set. Possible values for this field are: * READ_SOURCE_TYPE_CONTACT * READ_SOURCE_TYPE_CONTACT,READ_SOURCE_TYPE_PROFILE Specifying READ_SOURCE_TYPE_PROFILE without specifying READ_SOURCE_TYPE_CONTACT is not permitted.",
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            },
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `otherContacts.list` must match the first call that provided the sync token. More details about sync behavior at `otherContacts.list`."
            }
          }
        },
        "search": {
          "parameters": {
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30.",
              "format": "int32"
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\"."
            },
            "readMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * emailAddresses * metadata * names * phoneNumbers"
            }
          },
          "id": "people.otherContacts.search",
          "httpMethod": "GET",
          "response": {
            "$ref": "SearchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "description": "Provides a list of contacts in the authenticated user's other contacts that matches the search query. The query matches on a contact's `names`, `emailAddresses`, and `phoneNumbers` fields that are from the OTHER_CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/other-contacts#search_the_users_other_contacts",
          "parameterOrder": [],
          "flatPath": "v1/otherContacts:search",
          "path": "v1/otherContacts:search"
        },
        "copyOtherContactToMyContactsGroup": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "description": "Copies an \"Other contact\" to a new contact in the user's \"myContacts\" group Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "parameterOrder": [
            "resourceName"
          ],
          "response": {
            "$ref": "Person"
          },
          "path": "v1/{+resourceName}:copyOtherContactToMyContactsGroup",
          "httpMethod": "POST",
          "id": "people.otherContacts.copyOtherContactToMyContactsGroup",
          "request": {
            "$ref": "CopyOtherContactToMyContactsGroupRequest"
          },
          "parameters": {
            "resourceName": {
              "description": "Required. The resource name of the \"Other contact\" to copy.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^otherContacts/[^/]+$"
            }
          },
          "flatPath": "v1/otherContacts/{otherContactsId}:copyOtherContactToMyContactsGroup"
        }
      }
    },
    "contactGroups": {
      "methods": {
        "batchGet": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "parameters": {
            "resourceNames": {
              "repeated": true,
              "description": "Required. The resource names of the contact groups to get. There is a maximum of 200 resource names.",
              "type": "string",
              "location": "query"
            },
            "groupFields": {
              "type": "string",
              "location": "query",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "format": "google-fieldmask"
            },
            "maxMembers": {
              "location": "query",
              "format": "int32",
              "description": "Optional. Specifies the maximum number of members to return for each group. Defaults to 0 if not set, which will return zero members.",
              "type": "integer"
            }
          },
          "flatPath": "v1/contactGroups:batchGet",
          "path": "v1/contactGroups:batchGet",
          "response": {
            "$ref": "BatchGetContactGroupsResponse"
          },
          "description": "Get a list of contact groups owned by the authenticated user by specifying a list of contact group resource names.",
          "id": "people.contactGroups.batchGet"
        },
        "update": {
          "response": {
            "$ref": "ContactGroup"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "description": "Update the name of an existing contact group owned by the authenticated user. Updated contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "parameters": {
            "resourceName": {
              "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
              "type": "string",
              "pattern": "^contactGroups/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "path": "v1/{+resourceName}",
          "request": {
            "$ref": "UpdateContactGroupRequest"
          },
          "id": "people.contactGroups.update",
          "httpMethod": "PUT"
        },
        "create": {
          "parameterOrder": [],
          "description": "Create a new contact group owned by the authenticated user. Created contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "response": {
            "$ref": "ContactGroup"
          },
          "id": "people.contactGroups.create",
          "flatPath": "v1/contactGroups",
          "request": {
            "$ref": "CreateContactGroupRequest"
          },
          "httpMethod": "POST",
          "path": "v1/contactGroups",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameters": {}
        },
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "id": "people.contactGroups.get",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "path": "v1/{+resourceName}",
          "parameters": {
            "groupFields": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "type": "string"
            },
            "maxMembers": {
              "location": "query",
              "type": "integer",
              "description": "Optional. Specifies the maximum number of members to return. Defaults to 0 if not set, which will return zero members.",
              "format": "int32"
            },
            "resourceName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The resource name of the contact group to get.",
              "pattern": "^contactGroups/[^/]+$"
            }
          },
          "description": "Get a specific contact group owned by the authenticated user by specifying a contact group resource name.",
          "response": {
            "$ref": "ContactGroup"
          },
          "parameterOrder": [
            "resourceName"
          ]
        },
        "delete": {
          "path": "v1/{+resourceName}",
          "parameterOrder": [
            "resourceName"
          ],
          "id": "people.contactGroups.delete",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameters": {
            "resourceName": {
              "description": "Required. The resource name of the contact group to delete.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^contactGroups/[^/]+$"
            },
            "deleteContacts": {
              "description": "Optional. Set to true to also delete the contacts in the specified group.",
              "location": "query",
              "type": "boolean"
            }
          },
          "description": "Delete an existing contact group owned by the authenticated user by specifying a contact group resource name. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE"
        },
        "list": {
          "parameters": {
            "syncToken": {
              "type": "string",
              "description": "Optional. A sync token, returned by a previous call to `contactgroups.list`. Only resources changed since the sync token was created will be returned.",
              "location": "query"
            },
            "groupFields": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name"
            },
            "pageToken": {
              "description": "Optional. The next_page_token value returned from a previous call to [ListContactGroups](/people/api/rest/v1/contactgroups/list). Requests the next page of resources.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of resources to return. Valid values are between 1 and 1000, inclusive. Defaults to 30 if not set or set to 0.",
              "type": "integer"
            }
          },
          "id": "people.contactGroups.list",
          "flatPath": "v1/contactGroups",
          "httpMethod": "GET",
          "path": "v1/contactGroups",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "ListContactGroupsResponse"
          },
          "description": "List all contact groups owned by the authenticated user. Members of the contact groups are not populated."
        }
      },
      "resources": {
        "members": {
          "methods": {
            "modify": {
              "id": "people.contactGroups.members.modify",
              "httpMethod": "POST",
              "parameterOrder": [
                "resourceName"
              ],
              "parameters": {
                "resourceName": {
                  "pattern": "^contactGroups/[^/]+$",
                  "description": "Required. The resource name of the contact group to modify.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Modify the members of a contact group owned by the authenticated user. The only system contact groups that can have members added are `contactGroups/myContacts` and `contactGroups/starred`. Other system contact groups are deprecated and can only have contacts removed.",
              "flatPath": "v1/contactGroups/{contactGroupsId}/members:modify",
              "request": {
                "$ref": "ModifyContactGroupMembersRequest"
              },
              "response": {
                "$ref": "ModifyContactGroupMembersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/contacts"
              ],
              "path": "v1/{+resourceName}/members:modify"
            }
          }
        }
      }
    },
    "people": {
      "methods": {
        "getBatchGet": {
          "id": "people.people.getBatchGet",
          "parameters": {
            "sources": {
              "repeated": true,
              "location": "query",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "type": "string"
            },
            "requestMask.includeField": {
              "type": "string",
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
              "format": "google-fieldmask",
              "location": "query"
            },
            "resourceNames": {
              "repeated": true,
              "type": "string",
              "description": "Required. The resource names of the people to provide information about. It's repeatable. The URL query parameter should be resourceNames=<name1>&resourceNames=<name2>&... - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`. There is a maximum of 200 resource names.",
              "location": "query"
            },
            "personFields": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "description": "Provides information about a list of specific people by specifying a list of requested resource names. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "GetPeopleResponse"
          },
          "flatPath": "v1/people:batchGet",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "path": "v1/people:batchGet"
        },
        "createContact": {
          "id": "people.people.createContact",
          "parameterOrder": [],
          "request": {
            "$ref": "Person"
          },
          "parameters": {
            "sources": {
              "location": "query",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "repeated": true,
              "type": "string"
            },
            "personFields": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query"
            }
          },
          "description": "Create a new contact and return the person resource for that contact. The request returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "response": {
            "$ref": "Person"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "path": "v1/people:createContact",
          "flatPath": "v1/people:createContact"
        },
        "updateContact": {
          "description": "Update contact data for an existing contact person. Any non-contact data will not be modified. Any non-contact data in the person to update will be ignored. All fields specified in the `update_mask` will be replaced. The server returns a 400 error if `person.metadata.sources` is not specified for the contact to be updated or if there is no contact source. The server returns a 400 error with reason `\"failedPrecondition\"` if `person.metadata.sources.etag` is different than the contact's etag, which indicates the contact has changed since its data was read. Clients should get the latest person and merge their updates into the latest person. If making sequential updates to the same person, the etag from the `updateContact` response should be used to avoid failures. The server returns a 400 error if `memberships` are being updated and there are no contact group memberships specified on the person. The server returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "id": "people.people.updateContact",
          "flatPath": "v1/people/{peopleId}:updateContact",
          "response": {
            "$ref": "Person"
          },
          "parameters": {
            "resourceName": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^people/[^/]+$",
              "description": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`."
            },
            "sources": {
              "repeated": true,
              "type": "string",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "location": "query",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            },
            "updatePersonFields": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All updated fields will be replaced. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined"
            },
            "personFields": {
              "description": "Optional. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "path": "v1/{+resourceName}:updateContact",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Person"
          },
          "parameterOrder": [
            "resourceName"
          ]
        },
        "searchContacts": {
          "httpMethod": "GET",
          "response": {
            "$ref": "SearchResponse"
          },
          "parameters": {
            "readMask": {
              "location": "query",
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "format": "google-fieldmask"
            },
            "query": {
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\".",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "sources": {
              "repeated": true,
              "type": "string",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set.",
              "location": "query",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            }
          },
          "description": "Provides a list of contacts in the authenticated user's grouped contacts that matches the search query. The query matches on a contact's `names`, `nickNames`, `emailAddresses`, `phoneNumbers`, and `organizations` fields that are from the CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/contacts#search_the_users_contacts",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "id": "people.people.searchContacts",
          "parameterOrder": [],
          "flatPath": "v1/people:searchContacts",
          "path": "v1/people:searchContacts"
        },
        "deleteContactPhoto": {
          "response": {
            "$ref": "DeleteContactPhotoResponse"
          },
          "id": "people.people.deleteContactPhoto",
          "description": "Delete a contact's photo. Mutate requests for the same user should be done sequentially to avoid // lock contention.",
          "flatPath": "v1/people/{peopleId}:deleteContactPhoto",
          "parameters": {
            "resourceName": {
              "description": "Required. The resource name of the contact whose photo will be deleted.",
              "type": "string",
              "pattern": "^people/[^/]+$",
              "location": "path",
              "required": true
            },
            "personFields": {
              "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "sources": {
              "type": "string",
              "repeated": true,
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "location": "query"
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "httpMethod": "DELETE",
          "path": "v1/{+resourceName}:deleteContactPhoto",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ]
        },
        "updateContactPhoto": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceName"
          ],
          "response": {
            "$ref": "UpdateContactPhotoResponse"
          },
          "parameters": {
            "resourceName": {
              "pattern": "^people/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Person resource name",
              "type": "string"
            }
          },
          "path": "v1/{+resourceName}:updateContactPhoto",
          "id": "people.people.updateContactPhoto",
          "request": {
            "$ref": "UpdateContactPhotoRequest"
          },
          "flatPath": "v1/people/{peopleId}:updateContactPhoto",
          "description": "Update a contact's photo. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures."
        },
        "searchDirectoryPeople": {
          "parameterOrder": [],
          "id": "people.people.searchDirectoryPeople",
          "httpMethod": "GET",
          "flatPath": "v1/people:searchDirectoryPeople",
          "path": "v1/people:searchDirectoryPeople",
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory that match the search query.",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchDirectoryPeople` must match the first call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "readMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            },
            "mergeSources": {
              "type": "string",
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ],
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ]
            },
            "sources": {
              "location": "query",
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ],
              "repeated": true,
              "description": "Required. Directory sources to return.",
              "type": "string",
              "enumDescriptions": [
                "Unspecified.",
                "Google Workspace domain shared contact.",
                "Google Workspace domain profile."
              ]
            },
            "pageSize": {
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 500, inclusive. Defaults to 100 if not set or set to 0.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "query": {
              "type": "string",
              "location": "query",
              "description": "Required. Prefix query that matches fields in the person. Does NOT use the read_mask for determining what fields to match."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ],
          "response": {
            "$ref": "SearchDirectoryPeopleResponse"
          }
        },
        "deleteContact": {
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "flatPath": "v1/people/{peopleId}:deleteContact",
          "description": "Delete a contact person. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "path": "v1/{+resourceName}:deleteContact",
          "id": "people.people.deleteContact",
          "parameters": {
            "resourceName": {
              "description": "Required. The resource name of the contact to delete.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^people/[^/]+$"
            }
          }
        },
        "batchUpdateContacts": {
          "parameterOrder": [],
          "flatPath": "v1/people:batchUpdateContacts",
          "parameters": {},
          "path": "v1/people:batchUpdateContacts",
          "id": "people.people.batchUpdateContacts",
          "request": {
            "$ref": "BatchUpdateContactsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "httpMethod": "POST",
          "description": "Update a batch of contacts and return a map of resource names to PersonResponses for the updated contacts. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "response": {
            "$ref": "BatchUpdateContactsResponse"
          }
        },
        "batchDeleteContacts": {
          "flatPath": "v1/people:batchDeleteContacts",
          "parameters": {},
          "parameterOrder": [],
          "description": "Delete a batch of contacts. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "path": "v1/people:batchDeleteContacts",
          "httpMethod": "POST",
          "id": "people.people.batchDeleteContacts",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "request": {
            "$ref": "BatchDeleteContactsRequest"
          }
        },
        "listDirectoryPeople": {
          "parameterOrder": [],
          "flatPath": "v1/people:listDirectoryPeople",
          "id": "people.people.listDirectoryPeople",
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the directory people that have changed](/people/v1/directory#list_the_directory_people_that_have_changed).",
          "path": "v1/people:listDirectoryPeople",
          "response": {
            "$ref": "ListDirectoryPeopleResponse"
          },
          "parameters": {
            "sources": {
              "type": "string",
              "enumDescriptions": [
                "Unspecified.",
                "Google Workspace domain shared contact.",
                "Google Workspace domain profile."
              ],
              "repeated": true,
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ],
              "description": "Required. Directory sources to return.",
              "location": "query"
            },
            "requestSyncToken": {
              "location": "query",
              "description": "Optional. Whether the response should return `next_sync_token`. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.listDirectoryPeople`.",
              "type": "boolean"
            },
            "readMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            },
            "pageSize": {
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "mergeSources": {
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ],
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ],
              "repeated": true,
              "type": "string"
            },
            "syncToken": {
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the sync token. More details about sync behavior at `people.listDirectoryPeople`.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ],
          "httpMethod": "GET"
        },
        "batchCreateContacts": {
          "path": "v1/people:batchCreateContacts",
          "parameterOrder": [],
          "id": "people.people.batchCreateContacts",
          "flatPath": "v1/people:batchCreateContacts",
          "request": {
            "$ref": "BatchCreateContactsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameters": {},
          "description": "Create a batch of new contacts and return the PersonResponses for the newly Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "response": {
            "$ref": "BatchCreateContactsResponse"
          },
          "httpMethod": "POST"
        },
        "get": {
          "flatPath": "v1/people/{peopleId}",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "id": "people.people.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Person"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "path": "v1/{+resourceName}",
          "parameters": {
            "resourceName": {
              "pattern": "^people/[^/]+$",
              "description": "Required. The resource name of the person to provide information about. - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "requestMask.includeField": {
              "location": "query",
              "type": "string",
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
              "format": "google-fieldmask"
            },
            "sources": {
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_PROFILE and READ_SOURCE_TYPE_CONTACT if not set.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "personFields": {
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Provides information about a person by specifying a resource name. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified."
        }
      },
      "resources": {
        "connections": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "people.people.connections.list",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The number of connections to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "requestMask.includeField": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`."
                },
                "requestSyncToken": {
                  "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.connections.list`.",
                  "type": "boolean",
                  "location": "query"
                },
                "resourceName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^people/[^/]+$",
                  "description": "Required. The resource name to return connections for. Only `people/me` is valid."
                },
                "personFields": {
                  "type": "string",
                  "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "sortOrder": {
                  "enumDescriptions": [
                    "Sort people by when they were changed; older entries first.",
                    "Sort people by when they were changed; newer entries first.",
                    "Sort people by first name.",
                    "Sort people by last name."
                  ],
                  "enum": [
                    "LAST_MODIFIED_ASCENDING",
                    "LAST_MODIFIED_DESCENDING",
                    "FIRST_NAME_ASCENDING",
                    "LAST_NAME_ASCENDING"
                  ],
                  "description": "Optional. The order in which the connections should be sorted. Defaults to `LAST_MODIFIED_ASCENDING`.",
                  "type": "string",
                  "location": "query"
                },
                "sources": {
                  "enum": [
                    "READ_SOURCE_TYPE_UNSPECIFIED",
                    "READ_SOURCE_TYPE_PROFILE",
                    "READ_SOURCE_TYPE_CONTACT",
                    "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                    "READ_SOURCE_TYPE_OTHER_CONTACT"
                  ],
                  "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Unspecified.",
                    "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                    "Returns SourceType.CONTACT.",
                    "Returns SourceType.DOMAIN_CONTACT.",
                    "Returns SourceType.OTHER_CONTACT."
                  ],
                  "repeated": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.connections.list` must match the first call that provided the page token."
                },
                "syncToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.connections.list` must match the first call that provided the sync token. More details about sync behavior at `people.connections.list`."
                }
              },
              "response": {
                "$ref": "ListConnectionsResponse"
              },
              "parameterOrder": [
                "resourceName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/contacts",
                "https://www.googleapis.com/auth/contacts.readonly"
              ],
              "flatPath": "v1/people/{peopleId}/connections",
              "description": "Provides a list of the authenticated user's contacts. Sync tokens expire 7 days after the full sync. A request with an expired sync token will get an error with an [google.rpc.ErrorInfo](https://cloud.google.com/apis/design/errors#error_info) with reason \"EXPIRED_SYNC_TOKEN\". In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's contacts that have changed](/people/v1/contacts#list_the_users_contacts_that_have_changed).",
              "path": "v1/{+resourceName}/connections"
            }
          }
        }
      }
    }
  },
  "id": "people:v1",
  "mtlsRootUrl": "https://people.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/people/",
  "revision": "20260819",
  "canonicalName": "People Service",
  "ownerName": "Google",
  "version_module": true,
  "version": "v1",
  "rootUrl": "https://people.googleapis.com/",
  "schemas": {
    "DeleteContactPhotoResponse": {
      "type": "object",
      "id": "DeleteContactPhotoResponse",
      "description": "The response for deleting a contact's photo.",
      "properties": {
        "person": {
          "description": "The updated person, if person_fields is set in the DeleteContactPhotoRequest; otherwise this will be unset.",
          "$ref": "Person"
        }
      }
    },
    "ContactGroup": {
      "properties": {
        "clientData": {
          "items": {
            "$ref": "GroupClientData"
          },
          "type": "array",
          "description": "The group's client data."
        },
        "formattedName": {
          "readOnly": true,
          "description": "Output only. The name translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale for system groups names. Group names set by the owner are the same as name.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The contact group name set by the group owner or a system provided name for system groups. For [`contactGroups.create`](/people/api/rest/v1/contactGroups/create) or [`contactGroups.update`](/people/api/rest/v1/contactGroups/update) the name must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error."
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`."
        },
        "memberCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The total number of contacts in the group irrespective of max members in specified in the request.",
          "format": "int32"
        },
        "memberResourceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The list of contact person resource names that are members of the contact group. The field is only populated for GET requests and will only return as many members as `maxMembers` in the get request."
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "metadata": {
          "$ref": "ContactGroupMetadata",
          "readOnly": true,
          "description": "Output only. Metadata about the contact group."
        },
        "groupType": {
          "enumDescriptions": [
            "Unspecified.",
            "User defined contact group.",
            "System defined contact group."
          ],
          "readOnly": true,
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "USER_CONTACT_GROUP",
            "SYSTEM_CONTACT_GROUP"
          ],
          "description": "Output only. The contact group type.",
          "type": "string"
        }
      },
      "id": "ContactGroup",
      "type": "object",
      "description": "A contact group."
    },
    "Event": {
      "type": "object",
      "id": "Event",
      "properties": {
        "formattedType": {
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        },
        "date": {
          "$ref": "Date",
          "description": "The date of the event."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the event."
        },
        "type": {
          "type": "string",
          "description": "The type of the event. The type can be custom or one of these predefined values: * `anniversary` * `other`"
        }
      },
      "description": "An event related to the person."
    },
    "CalendarUrl": {
      "properties": {
        "url": {
          "type": "string",
          "description": "The calendar URL."
        },
        "type": {
          "description": "The type of the calendar URL. The type can be custom or one of these predefined values: * `home` * `freeBusy` * `work`",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the calendar URL."
        },
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the calendar URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        }
      },
      "type": "object",
      "id": "CalendarUrl",
      "description": "A person's calendar URL."
    },
    "DomainMembership": {
      "description": "A Google Workspace Domain membership.",
      "id": "DomainMembership",
      "type": "object",
      "properties": {
        "inViewerDomain": {
          "description": "True if the person is in the viewer's Google Workspace domain.",
          "type": "boolean"
        }
      }
    },
    "BatchCreateContactsRequest": {
      "type": "object",
      "description": "A request to create a batch of contacts.",
      "properties": {
        "contacts": {
          "description": "Required. The contact to create. Allows up to 200 contacts in a single request.",
          "type": "array",
          "items": {
            "$ref": "ContactToCreate"
          }
        },
        "readMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields on each person are returned in the response. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
        },
        "sources": {
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ],
            "type": "string",
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ]
          },
          "type": "array",
          "description": "Optional. A mask of what source types to return in the post mutate read. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
        }
      },
      "id": "BatchCreateContactsRequest"
    },
    "SearchResult": {
      "id": "SearchResult",
      "properties": {
        "person": {
          "description": "The matched Person.",
          "$ref": "Person"
        }
      },
      "type": "object",
      "description": "A result of a search query."
    },
    "Nickname": {
      "description": "A person's nickname.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the nickname.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The nickname.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            true,
            false,
            true
          ],
          "enumDescriptions": [
            "Generic nickname.",
            "Maiden name or birth family name. Used when the person's family name has changed as a result of marriage.",
            "Initials.",
            "Google+ profile nickname.",
            "A professional affiliation or other name; for example, `Dr. Smith.`",
            "Alternate name person is known by.",
            "A shorter version of the person's name."
          ],
          "description": "The type of the nickname.",
          "enum": [
            "DEFAULT",
            "MAIDEN_NAME",
            "INITIALS",
            "GPLUS",
            "OTHER_NAME",
            "ALTERNATE_NAME",
            "SHORT_NAME"
          ]
        }
      },
      "id": "Nickname"
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      }
    },
    "Person": {
      "type": "object",
      "properties": {
        "nicknames": {
          "description": "The person's nicknames.",
          "items": {
            "$ref": "Nickname"
          },
          "type": "array"
        },
        "addresses": {
          "items": {
            "$ref": "Address"
          },
          "type": "array",
          "description": "The person's street addresses."
        },
        "locations": {
          "description": "The person's locations.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "biographies": {
          "description": "The person's biographies. This field is a singleton for contact sources.",
          "type": "array",
          "items": {
            "$ref": "Biography"
          }
        },
        "calendarUrls": {
          "type": "array",
          "description": "The person's calendar URLs.",
          "items": {
            "$ref": "CalendarUrl"
          }
        },
        "locales": {
          "items": {
            "$ref": "Locale"
          },
          "type": "array",
          "description": "The person's locale preferences."
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`."
        },
        "genders": {
          "description": "The person's genders. This field is a singleton for contact sources.",
          "type": "array",
          "items": {
            "$ref": "Gender"
          }
        },
        "ageRange": {
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "description": "Output only. **DEPRECATED** (Please use `person.ageRanges` instead) The person's age range.",
          "readOnly": true,
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ]
        },
        "emailAddresses": {
          "type": "array",
          "description": "The person's email addresses. For `people.connections.list` and `otherContacts.list` the number of email addresses is limited to 100. If a Person has more email addresses the entire set can be obtained by calling GetPeople.",
          "items": {
            "$ref": "EmailAddress"
          }
        },
        "residences": {
          "deprecated": true,
          "type": "array",
          "description": "**DEPRECATED**: (Please use `person.locations` instead) The person's residences.",
          "items": {
            "$ref": "Residence"
          }
        },
        "occupations": {
          "items": {
            "$ref": "Occupation"
          },
          "type": "array",
          "description": "The person's occupations."
        },
        "fileAses": {
          "description": "The person's file-ases.",
          "type": "array",
          "items": {
            "$ref": "FileAs"
          }
        },
        "braggingRights": {
          "items": {
            "$ref": "BraggingRights"
          },
          "description": "**DEPRECATED**: No data will be returned The person's bragging rights.",
          "type": "array",
          "deprecated": true
        },
        "relationshipInterests": {
          "deprecated": true,
          "type": "array",
          "readOnly": true,
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship interests.",
          "items": {
            "$ref": "RelationshipInterest"
          }
        },
        "photos": {
          "type": "array",
          "description": "Output only. The person's photos.",
          "items": {
            "$ref": "Photo"
          },
          "readOnly": true
        },
        "interests": {
          "description": "The person's interests.",
          "type": "array",
          "items": {
            "$ref": "Interest"
          }
        },
        "coverPhotos": {
          "description": "Output only. The person's cover photos.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CoverPhoto"
          }
        },
        "metadata": {
          "readOnly": true,
          "description": "Output only. Metadata about the person.",
          "$ref": "PersonMetadata"
        },
        "organizations": {
          "items": {
            "$ref": "Organization"
          },
          "description": "The person's past or current organizations.",
          "type": "array"
        },
        "urls": {
          "type": "array",
          "items": {
            "$ref": "Url"
          },
          "description": "The person's associated URLs."
        },
        "relationshipStatuses": {
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship statuses.",
          "deprecated": true,
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RelationshipStatus"
          }
        },
        "relations": {
          "items": {
            "$ref": "Relation"
          },
          "description": "The person's relations.",
          "type": "array"
        },
        "clientData": {
          "type": "array",
          "items": {
            "$ref": "ClientData"
          },
          "description": "The person's client data."
        },
        "taglines": {
          "deprecated": true,
          "items": {
            "$ref": "Tagline"
          },
          "description": "Output only. **DEPRECATED**: No data will be returned The person's taglines.",
          "readOnly": true,
          "type": "array"
        },
        "ageRanges": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AgeRangeType"
          },
          "description": "Output only. The person's age ranges."
        },
        "miscKeywords": {
          "type": "array",
          "description": "The person's miscellaneous keywords.",
          "items": {
            "$ref": "MiscKeyword"
          }
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "birthdays": {
          "description": "The person's birthdays. This field is a singleton for contact sources.",
          "type": "array",
          "items": {
            "$ref": "Birthday"
          }
        },
        "externalIds": {
          "type": "array",
          "items": {
            "$ref": "ExternalId"
          },
          "description": "The person's external IDs."
        },
        "phoneNumbers": {
          "type": "array",
          "items": {
            "$ref": "PhoneNumber"
          },
          "description": "The person's phone numbers. For `people.connections.list` and `otherContacts.list` the number of phone numbers is limited to 100. If a Person has more phone numbers the entire set can be obtained by calling GetPeople."
        },
        "skills": {
          "description": "The person's skills.",
          "items": {
            "$ref": "Skill"
          },
          "type": "array"
        },
        "imClients": {
          "description": "The person's instant messaging clients.",
          "type": "array",
          "items": {
            "$ref": "ImClient"
          }
        },
        "events": {
          "type": "array",
          "description": "The person's events.",
          "items": {
            "$ref": "Event"
          }
        },
        "sipAddresses": {
          "description": "The person's SIP addresses.",
          "items": {
            "$ref": "SipAddress"
          },
          "type": "array"
        },
        "userDefined": {
          "type": "array",
          "description": "The person's user defined data.",
          "items": {
            "$ref": "UserDefined"
          }
        },
        "memberships": {
          "items": {
            "$ref": "Membership"
          },
          "type": "array",
          "description": "The person's group memberships."
        },
        "names": {
          "items": {
            "$ref": "Name"
          },
          "type": "array",
          "description": "The person's names. This field is a singleton for contact sources."
        }
      },
      "description": "Information about a person merged from various data sources such as the authenticated user's contacts and profile data. Most fields can have multiple items. The items in a field have no guaranteed order, but each non-empty field is guaranteed to have exactly one field with `metadata.primary` set to true.",
      "id": "Person"
    },
    "UpdateContactGroupRequest": {
      "properties": {
        "readGroupFields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name"
        },
        "updateGroupFields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. A field mask to restrict which fields on the group are updated. Multiple fields can be specified by separating them with commas. Defaults to `name` if not set or set to empty. Updated fields are replaced. Valid values are: * clientData * name"
        },
        "contactGroup": {
          "description": "Required. The contact group to update.",
          "$ref": "ContactGroup"
        }
      },
      "description": "A request to update an existing user contact group. All updated fields will be replaced.",
      "type": "object",
      "id": "UpdateContactGroupRequest"
    },
    "Location": {
      "description": "A person's location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the location. The type can be custom or one of these predefined values: * `desk` * `grewUp`",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the location.",
          "$ref": "FieldMetadata"
        },
        "floorSection": {
          "type": "string",
          "description": "The floor section in `floor_name`."
        },
        "value": {
          "description": "The free-form value of the location.",
          "type": "string"
        },
        "deskCode": {
          "description": "The individual desk location.",
          "type": "string"
        },
        "floor": {
          "description": "The floor name or number.",
          "type": "string"
        },
        "current": {
          "description": "Whether the location is the current location.",
          "type": "boolean"
        },
        "buildingId": {
          "type": "string",
          "description": "The building identifier."
        }
      }
    },
    "ExternalId": {
      "type": "object",
      "id": "ExternalId",
      "properties": {
        "metadata": {
          "description": "Metadata about the external ID.",
          "$ref": "FieldMetadata"
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "value": {
          "description": "The value of the external ID.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the external ID. The type can be custom or one of these predefined values: * `account` * `customer` * `loginId` * `network` * `organization`"
        }
      },
      "description": "An identifier from an external entity related to the person."
    },
    "MiscKeyword": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the miscellaneous keyword."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "OUTLOOK_BILLING_INFORMATION",
            "OUTLOOK_DIRECTORY_SERVER",
            "OUTLOOK_KEYWORD",
            "OUTLOOK_MILEAGE",
            "OUTLOOK_PRIORITY",
            "OUTLOOK_SENSITIVITY",
            "OUTLOOK_SUBJECT",
            "OUTLOOK_USER",
            "HOME",
            "WORK",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Outlook field for billing information.",
            "Outlook field for directory server.",
            "Outlook field for keyword.",
            "Outlook field for mileage.",
            "Outlook field for priority.",
            "Outlook field for sensitivity.",
            "Outlook field for subject.",
            "Outlook field for user.",
            "Home.",
            "Work.",
            "Other."
          ],
          "description": "The miscellaneous keyword type."
        },
        "value": {
          "description": "The value of the miscellaneous keyword.",
          "type": "string"
        },
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the miscellaneous keyword translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        }
      },
      "description": "A person's miscellaneous keyword.",
      "id": "MiscKeyword"
    },
    "CreateContactGroupRequest": {
      "type": "object",
      "id": "CreateContactGroupRequest",
      "properties": {
        "contactGroup": {
          "$ref": "ContactGroup",
          "description": "Required. The contact group to create."
        },
        "readGroupFields": {
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * metadata * name",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "description": "A request to create a new contact group."
    },
    "Occupation": {
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the occupation."
        },
        "value": {
          "type": "string",
          "description": "The occupation; for example, `carpenter`."
        }
      },
      "type": "object",
      "description": "A person's occupation.",
      "id": "Occupation"
    },
    "ContactGroupResponse": {
      "id": "ContactGroupResponse",
      "properties": {
        "contactGroup": {
          "description": "The contact group.",
          "$ref": "ContactGroup"
        },
        "status": {
          "description": "The status of the response.",
          "$ref": "Status"
        },
        "requestedResourceName": {
          "type": "string",
          "description": "The original requested resource name."
        }
      },
      "type": "object",
      "description": "The response for a specific contact group."
    },
    "Address": {
      "type": "object",
      "description": "A person's physical address. May be a P.O. box or street address. All fields are optional.",
      "properties": {
        "country": {
          "type": "string",
          "description": "The country of the address."
        },
        "city": {
          "type": "string",
          "description": "The city of the address."
        },
        "extendedAddress": {
          "description": "The extended address of the address; for example, the apartment number.",
          "type": "string"
        },
        "countryCode": {
          "description": "The [ISO 3166-1 alpha-2](http://www.iso.org/iso/country_codes.htm) country code of the address.",
          "type": "string"
        },
        "streetAddress": {
          "description": "The street address.",
          "type": "string"
        },
        "formattedType": {
          "readOnly": true,
          "description": "Output only. The type of the address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "formattedValue": {
          "type": "string",
          "description": "The unstructured value of the address. If this is not set by the user it will be automatically constructed from structured values."
        },
        "poBox": {
          "type": "string",
          "description": "The P.O. box of the address."
        },
        "type": {
          "type": "string",
          "description": "The type of the address. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the address."
        },
        "region": {
          "type": "string",
          "description": "The region of the address; for example, the state or province."
        },
        "postalCode": {
          "description": "The postal code of the address.",
          "type": "string"
        }
      },
      "id": "Address"
    },
    "UpdateContactPhotoRequest": {
      "description": "A request to update an existing contact's photo. All requests must have a valid photo format: JPEG or PNG.",
      "type": "object",
      "properties": {
        "sources": {
          "items": {
            "type": "string",
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ]
          },
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "type": "array"
        },
        "personFields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
        },
        "photoBytes": {
          "type": "string",
          "description": "Required. Raw photo bytes",
          "format": "byte"
        }
      },
      "id": "UpdateContactPhotoRequest"
    },
    "Skill": {
      "properties": {
        "value": {
          "description": "The skill; for example, `underwater basket weaving`.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the skill."
        }
      },
      "type": "object",
      "id": "Skill",
      "description": "A skill that the person has."
    },
    "GetPeopleResponse": {
      "description": "The response to a get request for a list of people by resource name.",
      "id": "GetPeopleResponse",
      "properties": {
        "responses": {
          "items": {
            "$ref": "PersonResponse"
          },
          "description": "The response for each requested resource name.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Organization": {
      "description": "A person's past or current organization. Overlapping date ranges are permitted.",
      "id": "Organization",
      "properties": {
        "location": {
          "description": "The location of the organization office the person works at.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The person's job title at the organization."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the organization."
        },
        "phoneticName": {
          "description": "The phonetic name of the organization.",
          "type": "string"
        },
        "symbol": {
          "description": "The symbol associated with the organization; for example, a stock ticker symbol, abbreviation, or acronym.",
          "type": "string"
        },
        "department": {
          "type": "string",
          "description": "The person's department at the organization."
        },
        "current": {
          "type": "boolean",
          "description": "True if the organization is the person's current organization; false if the organization is a past organization."
        },
        "jobDescription": {
          "description": "The person's job description at the organization.",
          "type": "string"
        },
        "fullTimeEquivalentMillipercent": {
          "description": "The person's full-time equivalent millipercent within the organization (100000 = 100%).",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string",
          "description": "The type of the organization. The type can be custom or one of these predefined values: * `work` * `school`"
        },
        "domain": {
          "type": "string",
          "description": "The domain name associated with the organization; for example, `google.com`."
        },
        "startDate": {
          "description": "The start date when the person joined the organization.",
          "$ref": "Date"
        },
        "name": {
          "description": "The name of the organization.",
          "type": "string"
        },
        "endDate": {
          "description": "The end date when the person left the organization.",
          "$ref": "Date"
        },
        "formattedType": {
          "description": "Output only. The type of the organization translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "costCenter": {
          "description": "The person's cost center at the organization.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "RelationshipInterest": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The kind of relationship the person is looking for. The value can be custom or one of these predefined values: * `friend` * `date` * `relationship` * `networking`"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relationship interest."
        },
        "formattedValue": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The value of the relationship interest translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header."
        }
      },
      "description": "**DEPRECATED**: No data will be returned A person's relationship interest .",
      "deprecated": true,
      "id": "RelationshipInterest",
      "type": "object"
    },
    "PhoneNumber": {
      "type": "object",
      "description": "A person's phone number.",
      "id": "PhoneNumber",
      "properties": {
        "metadata": {
          "description": "Metadata about the phone number.",
          "$ref": "FieldMetadata"
        },
        "canonicalForm": {
          "type": "string",
          "description": "Output only. The canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf) form of the phone number.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the phone number. The type can be custom or one of these predefined values: * `home` * `work` * `mobile` * `homeFax` * `workFax` * `otherFax` * `pager` * `workMobile` * `workPager` * `main` * `googleVoice` * `other`"
        },
        "value": {
          "description": "The phone number.",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the phone number translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Birthday": {
      "id": "Birthday",
      "description": "A person's birthday. At least one of the `date` and `text` fields are specified. The `date` and `text` fields typically represent the same date, but are not guaranteed to. Clients should always set the `date` field when mutating birthdays.",
      "properties": {
        "text": {
          "type": "string",
          "deprecated": true,
          "description": "Prefer to use the `date` field if set. A free-form string representing the user's birthday. This value is not validated."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the birthday."
        },
        "date": {
          "description": "The structured date of the birthday.",
          "$ref": "Date"
        }
      },
      "type": "object"
    },
    "SearchResponse": {
      "properties": {
        "results": {
          "description": "The results of the request.",
          "items": {
            "$ref": "SearchResult"
          },
          "type": "array"
        }
      },
      "id": "SearchResponse",
      "type": "object",
      "description": "The response to a search request for the authenticated user, given a query."
    },
    "Url": {
      "type": "object",
      "id": "Url",
      "description": "A person's associated URLs.",
      "properties": {
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "type": {
          "description": "The type of the URL. The type can be custom or one of these predefined values: * `home` * `work` * `blog` * `profile` * `homePage` * `ftp` * `reservations` * `appInstallPage`: website for a Currents application. * `other`",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The URL."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the URL."
        }
      }
    },
    "Relation": {
      "description": "A person's relation to another person.",
      "id": "Relation",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relation."
        },
        "person": {
          "description": "The name of the other person this relation refers to.",
          "type": "string"
        },
        "type": {
          "description": "The person's relation to the other person. The type can be custom or one of these predefined values: * `spouse` * `child` * `mother` * `father` * `parent` * `brother` * `sister` * `friend` * `relative` * `domesticPartner` * `manager` * `assistant` * `referredBy` * `partner`",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
[...]
