{
  "ownerDomain": "google.com",
  "version_module": true,
  "discoveryVersion": "v1",
  "version": "v1",
  "ownerName": "Google",
  "basePath": "",
  "title": "People API",
  "description": "Provides access to information about profiles and contacts.",
  "batchPath": "batch",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/user.addresses.read": {
          "description": "View your street addresses"
        },
        "https://www.googleapis.com/auth/contacts": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/user.phonenumbers.read": {
          "description": "See and download your personal phone numbers"
        },
        "https://www.googleapis.com/auth/user.emails.read": {
          "description": "See and download all of your Google Account email addresses"
        },
        "https://www.googleapis.com/auth/user.birthday.read": {
          "description": "See and download your exact date of birth"
        },
        "https://www.googleapis.com/auth/contacts.other.readonly": {
          "description": "See and download contact info automatically saved in your \"Other contacts\""
        },
        "https://www.googleapis.com/auth/user.gender.read": {
          "description": "See your gender"
        },
        "https://www.googleapis.com/auth/userinfo.profile": {
          "description": "See your personal info, including any personal info you've made publicly available"
        },
        "https://www.googleapis.com/auth/directory.readonly": {
          "description": "See and download your organization's Google Workspace directory"
        },
        "https://www.googleapis.com/auth/contacts.readonly": {
          "description": "See and download your contacts"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/user.organization.read": {
          "description": "See your education, work history and org info"
        }
      }
    }
  },
  "revision": "20260819",
  "documentationLink": "https://developers.google.com/people/",
  "id": "people:v1",
  "mtlsRootUrl": "https://people.mtls.googleapis.com/",
  "protocol": "rest",
  "rootUrl": "https://people.googleapis.com/",
  "canonicalName": "People Service",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "schemas": {
    "ClientData": {
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed.",
      "id": "ClientData",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the client data.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The client specified value of the client data.",
          "type": "string"
        },
        "key": {
          "description": "The client specified key of the client data.",
          "type": "string"
        }
      }
    },
    "Gender": {
      "properties": {
        "formattedValue": {
          "description": "Output only. The value of the gender translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale. Unspecified or custom value are not localized.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "The gender for the person. The gender can be custom or one of these predefined values: * `male` * `female` * `unspecified`",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the gender.",
          "$ref": "FieldMetadata"
        },
        "addressMeAs": {
          "description": "Free form text field for pronouns that should be used to address the person. Common values are: * `he`/`him` * `she`/`her` * `they`/`them`",
          "type": "string"
        }
      },
      "description": "A person's gender.",
      "type": "object",
      "id": "Gender"
    },
    "BatchUpdateContactsResponse": {
      "type": "object",
      "properties": {
        "updateResult": {
          "additionalProperties": {
            "$ref": "PersonResponse"
          },
          "type": "object",
          "description": "A map of resource names to the contacts that were updated, unless the request `read_mask` is empty."
        }
      },
      "id": "BatchUpdateContactsResponse",
      "description": "If not successful, returns BatchUpdateContactsErrorDetails, a list of errors corresponding to each contact. The response to a request to update a batch of contacts."
    },
    "Tagline": {
      "id": "Tagline",
      "deprecated": true,
      "type": "object",
      "description": "**DEPRECATED**: No data will be returned A brief one-line description of the person.",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the tagline."
        },
        "value": {
          "description": "The tagline.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the location."
        },
        "floor": {
          "type": "string",
          "description": "The floor name or number."
        },
        "value": {
          "description": "The free-form value of the location.",
          "type": "string"
        },
        "type": {
          "description": "The type of the location. The type can be custom or one of these predefined values: * `desk` * `grewUp`",
          "type": "string"
        },
        "current": {
          "description": "Whether the location is the current location.",
          "type": "boolean"
        },
        "floorSection": {
          "type": "string",
          "description": "The floor section in `floor_name`."
        },
        "deskCode": {
          "description": "The individual desk location.",
          "type": "string"
        },
        "buildingId": {
          "description": "The building identifier.",
          "type": "string"
        }
      },
      "description": "A person's location."
    },
    "DeleteContactPhotoResponse": {
      "description": "The response for deleting a contact's photo.",
      "type": "object",
      "id": "DeleteContactPhotoResponse",
      "properties": {
        "person": {
          "description": "The updated person, if person_fields is set in the DeleteContactPhotoRequest; otherwise this will be unset.",
          "$ref": "Person"
        }
      }
    },
    "EmailAddress": {
      "id": "EmailAddress",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the email address. The type can be custom or one of these predefined values: * `home` * `work` * `other`",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the email address."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the email."
        },
        "formattedType": {
          "description": "Output only. The type of the email address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The email address."
        }
      },
      "description": "A person's email address."
    },
    "SearchResponse": {
      "description": "The response to a search request for the authenticated user, given a query.",
      "properties": {
        "results": {
          "description": "The results of the request.",
          "type": "array",
          "items": {
            "$ref": "SearchResult"
          }
        }
      },
      "type": "object",
      "id": "SearchResponse"
    },
    "SearchDirectoryPeopleResponse": {
      "type": "object",
      "description": "The response to a request for people in the authenticated user's domain directory that match the specified query.",
      "properties": {
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of items in the list without pagination."
        },
        "people": {
          "items": {
            "$ref": "Person"
          },
          "type": "array",
          "description": "The list of people in the domain directory that match the query."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "SearchDirectoryPeopleResponse"
    },
    "Event": {
      "id": "Event",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the event. The type can be custom or one of these predefined values: * `anniversary` * `other`",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "date": {
          "description": "The date of the event.",
          "$ref": "Date"
        },
        "metadata": {
          "description": "Metadata about the event.",
          "$ref": "FieldMetadata"
        }
      },
      "description": "An event related to the person."
    },
    "Photo": {
      "description": "A person's photo. A picture shown next to the person's name to help others recognize the person.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL of the photo. You can change the desired size by appending a query parameter `sz={size}` at the end of the url, where {size} is the size in pixels. Example: https://lh3.googleusercontent.com/-T_wVWLlmg7w/AAAAAAAAAAI/AAAAAAAABa8/00gzXvDBYqw/s100/photo.jpg?sz=50",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the photo.",
          "$ref": "FieldMetadata"
        },
        "default": {
          "type": "boolean",
          "description": "True if the photo is a default photo; false if the photo is a user-provided photo."
        }
      },
      "id": "Photo"
    },
    "ImClient": {
      "id": "ImClient",
      "type": "object",
      "description": "A person's instant messaging client.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the IM client. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        },
        "formattedType": {
          "readOnly": true,
          "description": "Output only. The type of the IM client translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "protocol": {
          "type": "string",
          "description": "The protocol of the IM client. The protocol can be custom or one of these predefined values: * `aim` * `msn` * `yahoo` * `skype` * `qq` * `googleTalk` * `icq` * `jabber` * `netMeeting`"
        },
        "metadata": {
          "description": "Metadata about the IM client.",
          "$ref": "FieldMetadata"
        },
        "formattedProtocol": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The protocol of the IM client formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "username": {
          "type": "string",
          "description": "The user name used in the IM client."
        }
      }
    },
    "UserDefined": {
      "id": "UserDefined",
      "properties": {
        "metadata": {
          "description": "Metadata about the user defined data.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "type": "string",
          "description": "The end user specified value of the user defined data."
        },
        "key": {
          "description": "The end user specified key of the user defined data.",
          "type": "string"
        }
      },
      "description": "Arbitrary user data that is populated by the end users.",
      "type": "object"
    },
    "BatchDeleteContactsRequest": {
      "id": "BatchDeleteContactsRequest",
      "type": "object",
      "properties": {
        "resourceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The resource names of the contact to delete. It's repeatable. Allows up to 500 resource names in a single request."
        }
      },
      "description": "A request to delete a batch of existing contacts."
    },
    "Membership": {
      "description": "A person's membership in a group. Only contact group memberships can be modified.",
      "type": "object",
      "properties": {
        "contactGroupMembership": {
          "$ref": "ContactGroupMembership",
          "description": "The contact group membership."
        },
        "metadata": {
          "description": "Metadata about the membership.",
          "$ref": "FieldMetadata"
        },
        "domainMembership": {
          "$ref": "DomainMembership",
          "readOnly": true,
          "description": "Output only. The domain membership."
        }
      },
      "id": "Membership"
    },
    "BatchCreateContactsResponse": {
      "id": "BatchCreateContactsResponse",
      "type": "object",
      "description": "If not successful, returns BatchCreateContactsErrorDetails which contains a list of errors for each invalid contact. The response to a request to create a batch of contacts.",
      "properties": {
        "createdPeople": {
          "description": "The contacts that were created, unless the request `read_mask` is empty.",
          "items": {
            "$ref": "PersonResponse"
          },
          "type": "array"
        }
      }
    },
    "FieldMetadata": {
      "type": "object",
      "properties": {
        "sourcePrimary": {
          "description": "True if the field is the primary field for the source. Each source must have at most one field with `source_primary` set to true.",
          "type": "boolean"
        },
        "verified": {
          "description": "Output only. True if the field is verified; false if the field is unverified. A verified field is typically a name, email address, phone number, or website that has been confirmed to be owned by the person.",
          "type": "boolean",
          "readOnly": true
        },
        "source": {
          "$ref": "Source",
          "description": "The source of the field."
        },
        "primary": {
          "description": "Output only. True if the field is the primary field for all sources in the person. Each person will have at most one field with `primary` set to true.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "FieldMetadata",
      "description": "Metadata about a field."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object"
    },
    "AgeRangeType": {
      "properties": {
        "ageRange": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "description": "The age range.",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ]
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the age range."
        }
      },
      "id": "AgeRangeType",
      "description": "A person's age range.",
      "type": "object"
    },
    "ContactGroupMembership": {
      "properties": {
        "contactGroupResourceName": {
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`. Only contact_group_resource_name can be used for modifying memberships. Any contact group membership can be removed, but only user group or \"myContacts\" or \"starred\" system groups memberships can be added. A contact must always have at least one contact group membership.",
          "type": "string"
        },
        "contactGroupId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The contact group ID for the contact group membership.",
          "deprecated": true
        }
      },
      "description": "A Google contact group membership.",
      "id": "ContactGroupMembership",
      "type": "object"
    },
    "Name": {
      "description": "A person's name. If the name is a mononym, the family name is empty.",
      "id": "Name",
      "type": "object",
      "properties": {
        "honorificSuffix": {
          "type": "string",
          "description": "The honorific suffixes, such as `Jr.`"
        },
        "metadata": {
          "description": "Metadata about the name.",
          "$ref": "FieldMetadata"
        },
        "phoneticFullName": {
          "description": "The full name spelled as it sounds.",
          "type": "string"
        },
        "displayNameLastFirst": {
          "description": "Output only. The display name with the last name first formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header.",
          "type": "string",
          "readOnly": true
        },
        "unstructuredName": {
          "description": "The free form name value.",
          "type": "string"
        },
        "familyName": {
          "description": "The family name.",
          "type": "string"
        },
        "middleName": {
          "description": "The middle name(s).",
          "type": "string"
        },
        "givenName": {
          "type": "string",
          "description": "The given name."
        },
        "phoneticGivenName": {
          "type": "string",
          "description": "The given name spelled as it sounds."
        },
        "phoneticHonorificPrefix": {
          "type": "string",
          "description": "The honorific prefixes spelled as they sound."
        },
        "phoneticFamilyName": {
          "type": "string",
          "description": "The family name spelled as it sounds."
        },
        "honorificPrefix": {
          "type": "string",
          "description": "The honorific prefixes, such as `Mrs.` or `Dr.`"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header."
        },
        "phoneticHonorificSuffix": {
          "type": "string",
          "description": "The honorific suffixes spelled as they sound."
        },
        "phoneticMiddleName": {
          "description": "The middle name(s) spelled as they sound.",
          "type": "string"
        }
      }
    },
    "UpdateContactPhotoRequest": {
      "id": "UpdateContactPhotoRequest",
      "properties": {
        "personFields": {
          "format": "google-fieldmask",
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "type": "string"
        },
        "photoBytes": {
          "description": "Required. Raw photo bytes",
          "format": "byte",
          "type": "string"
        },
        "sources": {
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ],
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ],
            "type": "string"
          },
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A request to update an existing contact's photo. All requests must have a valid photo format: JPEG or PNG."
    },
    "BatchGetContactGroupsResponse": {
      "type": "object",
      "properties": {
        "responses": {
          "description": "The list of responses for each requested contact group resource.",
          "type": "array",
          "items": {
            "$ref": "ContactGroupResponse"
          }
        }
      },
      "id": "BatchGetContactGroupsResponse",
      "description": "The response to a batch get contact groups request."
    },
    "CoverPhoto": {
      "id": "CoverPhoto",
      "properties": {
        "default": {
          "type": "boolean",
          "description": "True if the cover photo is the default cover photo; false if the cover photo is a user-provided cover photo."
        },
        "url": {
          "description": "The URL of the cover photo.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the cover photo."
        }
      },
      "description": "A person's cover photo. A large image shown on the person's profile page that represents who they are or what they care about.",
      "type": "object"
    },
    "PersonMetadata": {
      "id": "PersonMetadata",
      "type": "object",
      "description": "The metadata about a person.",
      "properties": {
        "previousResourceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Any former resource names this person has had. Populated only for `people.connections.list` requests that include a sync token. The resource name may change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or profile URL.",
          "readOnly": true
        },
        "objectType": {
          "deprecated": true,
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "readOnly": true,
          "description": "Output only. **DEPRECATED** (Please use `person.metadata.sources.profileMetadata.objectType` instead) The type of the person object.",
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ],
          "type": "string"
        },
        "linkedPeopleResourceNames": {
          "description": "Output only. Resource names of people linked to this resource.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "sources": {
          "description": "The sources of data for the person.",
          "items": {
            "$ref": "Source"
          },
          "type": "array"
        },
        "deleted": {
          "readOnly": true,
          "description": "Output only. True if the person resource has been deleted. Populated only for `people.connections.list` and `otherContacts.list` sync requests.",
          "type": "boolean"
        }
      }
    },
    "ContactGroup": {
      "id": "ContactGroup",
      "description": "A contact group.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation."
        },
        "memberCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The total number of contacts in the group irrespective of max members in specified in the request.",
          "readOnly": true
        },
        "memberResourceNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of contact person resource names that are members of the contact group. The field is only populated for GET requests and will only return as many members as `maxMembers` in the get request.",
          "readOnly": true
        },
        "groupType": {
          "enumDescriptions": [
            "Unspecified.",
            "User defined contact group.",
            "System defined contact group."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "USER_CONTACT_GROUP",
            "SYSTEM_CONTACT_GROUP"
          ],
          "description": "Output only. The contact group type."
        },
        "formattedName": {
          "readOnly": true,
          "description": "Output only. The name translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale for system groups names. Group names set by the owner are the same as name.",
          "type": "string"
        },
        "clientData": {
          "type": "array",
          "items": {
            "$ref": "GroupClientData"
          },
          "description": "The group's client data."
        },
        "resourceName": {
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The contact group name set by the group owner or a system provided name for system groups. For [`contactGroups.create`](/people/api/rest/v1/contactGroups/create) or [`contactGroups.update`](/people/api/rest/v1/contactGroups/update) the name must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error."
        },
        "metadata": {
          "$ref": "ContactGroupMetadata",
          "readOnly": true,
          "description": "Output only. Metadata about the contact group."
        }
      },
      "type": "object"
    },
    "PhoneNumber": {
      "id": "PhoneNumber",
      "description": "A person's phone number.",
      "type": "object",
      "properties": {
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the phone number translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "metadata": {
          "description": "Metadata about the phone number.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "type": "string",
          "description": "The phone number."
        },
        "canonicalForm": {
          "readOnly": true,
          "description": "Output only. The canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf) form of the phone number.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the phone number. The type can be custom or one of these predefined values: * `home` * `work` * `mobile` * `homeFax` * `workFax` * `otherFax` * `pager` * `workMobile` * `workPager` * `main` * `googleVoice` * `other`"
        }
      }
    },
    "Source": {
      "type": "object",
      "description": "The source of a field.",
      "id": "Source",
      "properties": {
        "updateTime": {
          "description": "Output only. **Only populated in `person.metadata.sources`.** Last update timestamp of this source.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "profileMetadata": {
          "$ref": "ProfileMetadata",
          "readOnly": true,
          "description": "Output only. **Only populated in `person.metadata.sources`.** Metadata about a source of type PROFILE."
        },
        "etag": {
          "description": "**Only populated in `person.metadata.sources`.** The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the source. Used for web cache validation.",
          "type": "string"
        },
        "id": {
          "description": "The unique identifier within the source type generated by the server.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "[Google Account](https://accounts.google.com).",
            "[Google profile](https://profiles.google.com). You can view the profile at [https://profiles.google.com/](https://profiles.google.com/){id}, where {id} is the source id.",
            "[Google Workspace domain profile](https://support.google.com/a/answer/1628008).",
            "[Google contact](https://contacts.google.com). You can view the contact at [https://contact.google.com/](https://contact.google.com/){id}, where {id} is the source id.",
            "[Google \"Other contact\"](https://contacts.google.com/other).",
            "[Google Workspace domain shared contact](https://support.google.com/a/answer/9281635)."
          ],
          "description": "The source type.",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ACCOUNT",
            "PROFILE",
            "DOMAIN_PROFILE",
            "CONTACT",
            "OTHER_CONTACT",
            "DOMAIN_CONTACT"
          ]
        }
      }
    },
    "ContactGroupResponse": {
      "properties": {
        "requestedResourceName": {
          "description": "The original requested resource name.",
          "type": "string"
        },
        "contactGroup": {
          "description": "The contact group.",
          "$ref": "ContactGroup"
        },
        "status": {
          "description": "The status of the response.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "description": "The response for a specific contact group.",
      "id": "ContactGroupResponse"
    },
    "ContactToCreate": {
      "description": "A wrapper that contains the person data to populate a newly created source.",
      "type": "object",
      "id": "ContactToCreate",
      "properties": {
        "contactPerson": {
          "$ref": "Person",
          "description": "Required. The person data to populate a newly created source."
        }
      }
    },
    "RelationshipStatus": {
      "properties": {
        "formattedValue": {
          "description": "Output only. The value of the relationship status translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "The relationship status. The value can be custom or one of these predefined values: * `single` * `inARelationship` * `engaged` * `married` * `itsComplicated` * `openRelationship` * `widowed` * `inDomesticPartnership` * `inCivilUnion`",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relationship status."
        }
      },
      "id": "RelationshipStatus",
      "deprecated": true,
      "type": "object",
      "description": "**DEPRECATED**: No data will be returned A person's relationship status."
    },
    "BatchUpdateContactsRequest": {
      "type": "object",
      "description": "A request to update a batch of contacts.",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All specified fields will be replaced, or cleared if left empty for each person. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined",
          "format": "google-fieldmask"
        },
        "readMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
        },
        "sources": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ],
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ]
          },
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
        },
        "contacts": {
          "additionalProperties": {
            "$ref": "Person"
          },
          "type": "object",
          "description": "Required. A map of resource names to the person data to be updated. Allows up to 200 contacts in a single request."
        }
      },
      "id": "BatchUpdateContactsRequest"
    },
    "SipAddress": {
      "properties": {
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the SIP address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "value": {
          "description": "The SIP address in the [RFC 3261 19.1](https://tools.ietf.org/html/rfc3261#section-19.1) SIP URI format.",
          "type": "string"
        },
        "type": {
          "description": "The type of the SIP address. The type can be custom or or one of these predefined values: * `home` * `work` * `mobile` * `other`",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the SIP address.",
          "$ref": "FieldMetadata"
        }
      },
      "type": "object",
      "id": "SipAddress",
      "description": "A person's SIP address. Session Initial Protocol addresses are used for VoIP communications to make voice or video calls over the internet."
    },
    "ModifyContactGroupMembersResponse": {
      "properties": {
        "notFoundResourceNames": {
          "description": "The contact people resource names that were not found.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "canNotRemoveLastContactGroupResourceNames": {
          "description": "The contact people resource names that cannot be removed from their last contact group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response to a modify contact group members request.",
      "id": "ModifyContactGroupMembersResponse",
      "type": "object"
    },
    "Biography": {
      "id": "Biography",
      "properties": {
        "contentType": {
          "enumDescriptions": [
            "Unspecified.",
            "Plain text.",
            "HTML text."
          ],
          "type": "string",
          "description": "The content type of the biography.",
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "TEXT_PLAIN",
            "TEXT_HTML"
          ]
        },
        "value": {
          "description": "The short biography.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the biography."
        }
      },
      "description": "A person's short biography.",
      "type": "object"
    },
    "BraggingRights": {
      "deprecated": true,
      "type": "object",
      "description": "**DEPRECATED**: No data will be returned A person's bragging rights.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The bragging rights; for example, `climbed mount everest`."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the bragging rights."
        }
      },
      "id": "BraggingRights"
    },
    "ModifyContactGroupMembersRequest": {
      "id": "ModifyContactGroupMembersRequest",
      "description": "A request to modify an existing contact group's members. Contacts can be removed from any group but they can only be added to a user group or \"myContacts\" or \"starred\" system groups.",
      "type": "object",
      "properties": {
        "resourceNamesToAdd": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The resource names of the contact people to add in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000."
        },
        "resourceNamesToRemove": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The resource names of the contact people to remove in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000.",
          "type": "array"
        }
      }
    },
    "ListOtherContactsResponse": {
      "description": "The response to a request for the authenticated user's \"Other contacts\".",
      "properties": {
        "otherContacts": {
          "type": "array",
          "items": {
            "$ref": "Person"
          },
          "description": "The list of \"Other contacts\" returned as Person resources. \"Other contacts\" support a limited subset of fields. See ListOtherContactsRequest.request_mask for more detailed information."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token."
        },
        "totalSize": {
          "description": "The total number of other contacts in the list without pagination.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ListOtherContactsResponse",
      "type": "object"
    },
    "Interest": {
      "type": "object",
      "id": "Interest",
      "properties": {
        "value": {
          "description": "The interest; for example, `stargazing`.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the interest.",
          "$ref": "FieldMetadata"
        }
      },
      "description": "One of the person's interests."
    },
    "CalendarUrl": {
      "description": "A person's calendar URL.",
      "id": "CalendarUrl",
      "type": "object",
      "properties": {
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the calendar URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "metadata": {
          "description": "Metadata about the calendar URL.",
          "$ref": "FieldMetadata"
        },
        "url": {
          "description": "The calendar URL.",
          "type": "string"
        },
        "type": {
          "description": "The type of the calendar URL. The type can be custom or one of these predefined values: * `home` * `freeBusy` * `work`",
          "type": "string"
        }
      }
    },
    "SearchResult": {
      "description": "A result of a search query.",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The matched Person."
        }
      },
      "id": "SearchResult",
      "type": "object"
    },
    "PersonResponse": {
      "description": "The response for a single person",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The person."
        },
        "requestedResourceName": {
          "description": "The original requested resource name. May be different than the resource name on the returned person. The resource name can change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or a profile URL.",
          "type": "string"
        },
        "status": {
          "description": "The status of the response.",
          "$ref": "Status"
        },
        "httpStatusCode": {
          "format": "int32",
          "type": "integer",
          "deprecated": true,
          "description": "**DEPRECATED** (Please use status instead) [HTTP 1.1 status code] (http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html)."
        }
      },
      "id": "PersonResponse",
      "type": "object"
    },
    "BatchCreateContactsRequest": {
      "type": "object",
      "id": "BatchCreateContactsRequest",
      "description": "A request to create a batch of contacts.",
      "properties": {
        "readMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields on each person are returned in the response. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
        },
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "ContactToCreate"
          },
          "description": "Required. The contact to create. Allows up to 200 contacts in a single request."
        },
        "sources": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ],
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ]
          },
          "type": "array",
          "description": "Optional. A mask of what source types to return in the post mutate read. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
        }
      }
    },
    "ListConnectionsResponse": {
      "description": "The response to a request for the authenticated user's connections.",
      "properties": {
        "nextSyncToken": {
          "type": "string",
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token. When the response is paginated, only the last page will contain `nextSyncToken`."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalPeople": {
          "description": "**DEPRECATED** (Please use totalItems) The total number of people in the list without pagination.",
          "format": "int32",
          "type": "integer",
          "deprecated": true
        },
        "connections": {
          "description": "The list of people that the requestor is connected to.",
          "type": "array",
          "items": {
            "$ref": "Person"
          }
        },
        "totalItems": {
          "description": "The total number of items in the list without pagination.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "ListConnectionsResponse"
    },
    "CreateContactGroupRequest": {
      "description": "A request to create a new contact group.",
      "type": "object",
      "properties": {
        "contactGroup": {
          "description": "Required. The contact group to create.",
          "$ref": "ContactGroup"
        },
        "readGroupFields": {
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * metadata * name",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "CreateContactGroupRequest"
    },
    "Skill": {
      "type": "object",
      "id": "Skill",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the skill."
        },
        "value": {
          "description": "The skill; for example, `underwater basket weaving`.",
          "type": "string"
        }
      },
      "description": "A skill that the person has."
    },
    "ProfileMetadata": {
      "type": "object",
      "description": "The metadata about a profile.",
      "properties": {
        "userTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The user type is not known.",
              "The user is a Google user.",
              "The user is a Currents user.",
              "The user is a Google Workspace user."
            ],
            "enum": [
              "USER_TYPE_UNKNOWN",
              "GOOGLE_USER",
              "GPLUS_USER",
              "GOOGLE_APPS_USER"
            ]
          },
          "description": "Output only. The user types.",
          "readOnly": true,
          "type": "array"
        },
        "objectType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ],
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "type": "string",
          "description": "Output only. The profile object type."
        }
      },
      "id": "ProfileMetadata"
    },
    "Nickname": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The nickname.",
          "type": "string"
        },
        "type": {
          "description": "The type of the nickname.",
          "enumDescriptions": [
            "Generic nickname.",
            "Maiden name or birth family name. Used when the person's family name has changed as a result of marriage.",
            "Initials.",
            "Google+ profile nickname.",
            "A professional affiliation or other name; for example, `Dr. Smith.`",
            "Alternate name person is known by.",
            "A shorter version of the person's name."
          ],
          "type": "string",
          "enum": [
            "DEFAULT",
            "MAIDEN_NAME",
            "INITIALS",
            "GPLUS",
            "OTHER_NAME",
            "ALTERNATE_NAME",
            "SHORT_NAME"
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            true,
            false,
            true
          ]
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the nickname."
        }
      },
      "id": "Nickname",
      "description": "A person's nickname."
    },
    "ListContactGroupsResponse": {
      "description": "The response to a list contact groups request.",
      "type": "object",
      "properties": {
        "totalItems": {
          "format": "int32",
          "description": "The total number of items in the list without pagination.",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "The token that can be used to retrieve the next page of results.",
          "type": "string"
        },
        "contactGroups": {
          "type": "array",
          "items": {
            "$ref": "ContactGroup"
          },
          "description": "The list of contact groups. Members of the contact groups are not populated."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "The token that can be used to retrieve changes since the last request."
        }
      },
      "id": "ListContactGroupsResponse"
    },
    "CopyOtherContactToMyContactsGroupRequest": {
      "id": "CopyOtherContactToMyContactsGroupRequest",
      "description": "A request to copy an \"Other contact\" to my contacts group.",
      "type": "object",
      "properties": {
        "copyMask": {
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields are copied into the new contact. Valid values are: * emailAddresses * names * phoneNumbers",
          "type": "string"
        },
        "readMask": {
          "format": "google-fieldmask",
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to the copy mask with metadata and membership fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ]
          },
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
        }
      }
    },
    "ListDirectoryPeopleResponse": {
      "properties": {
        "people": {
          "description": "The list of people in the domain directory.",
          "items": {
            "$ref": "Person"
          },
          "type": "array"
        },
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response to a request for the authenticated user's domain directory.",
      "id": "ListDirectoryPeopleResponse"
    },
    "ContactGroupMetadata": {
      "type": "object",
      "id": "ContactGroupMetadata",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the group was last updated.",
          "readOnly": true
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. True if the contact group resource has been deleted. Populated only for [`ListContactGroups`](/people/api/rest/v1/contactgroups/list) requests that include a sync token.",
          "readOnly": true
        }
      },
      "description": "The metadata about a contact group."
    },
    "GroupClientData": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The client specified value of the client data."
        },
        "key": {
          "description": "The client specified key of the client data.",
          "type": "string"
        }
      },
      "id": "GroupClientData",
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed."
    },
    "RelationshipInterest": {
      "id": "RelationshipInterest",
      "properties": {
        "value": {
          "description": "The kind of relationship the person is looking for. The value can be custom or one of these predefined values: * `friend` * `date` * `relationship` * `networking`",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relationship interest."
        },
        "formattedValue": {
          "description": "Output only. The value of the relationship interest translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "**DEPRECATED**: No data will be returned A person's relationship interest .",
      "type": "object",
      "deprecated": true
    },
    "Residence": {
      "type": "object",
      "description": "**DEPRECATED**: Please use `person.locations` instead. A person's past or current residence.",
      "id": "Residence",
      "deprecated": true,
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the residence."
        },
        "value": {
          "type": "string",
          "description": "The address of the residence."
        },
        "current": {
          "type": "boolean",
          "description": "True if the residence is the person's current residence; false if the residence is a past residence."
        }
      }
    },
    "GetPeopleResponse": {
      "type": "object",
      "properties": {
        "responses": {
          "items": {
            "$ref": "PersonResponse"
          },
          "description": "The response for each requested resource name.",
          "type": "array"
        }
      },
      "description": "The response to a get request for a list of people by resource name.",
      "id": "GetPeopleResponse"
    },
    "Person": {
      "properties": {
        "taglines": {
          "type": "array",
          "deprecated": true,
          "description": "Output only. **DEPRECATED**: No data will be returned The person's taglines.",
          "items": {
            "$ref": "Tagline"
          },
          "readOnly": true
        },
        "genders": {
          "items": {
            "$ref": "Gender"
          },
          "type": "array",
          "description": "The person's genders. This field is a singleton for contact sources."
        },
        "metadata": {
          "readOnly": true,
          "description": "Output only. Metadata about the person.",
          "$ref": "PersonMetadata"
        },
        "biographies": {
          "items": {
            "$ref": "Biography"
          },
          "description": "The person's biographies. This field is a singleton for contact sources.",
          "type": "array"
        },
        "occupations": {
          "description": "The person's occupations.",
          "type": "array",
          "items": {
            "$ref": "Occupation"
          }
        },
        "residences": {
          "type": "array",
          "items": {
            "$ref": "Residence"
          },
          "deprecated": true,
          "description": "**DEPRECATED**: (Please use `person.locations` instead) The person's residences."
        },
        "ageRange": {
          "deprecated": true,
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. **DEPRECATED** (Please use `person.ageRanges` instead) The person's age range."
        },
        "photos": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The person's photos.",
          "items": {
            "$ref": "Photo"
          }
        },
        "sipAddresses": {
          "items": {
            "$ref": "SipAddress"
          },
          "type": "array",
          "description": "The person's SIP addresses."
        },
        "interests": {
          "items": {
            "$ref": "Interest"
          },
          "type": "array",
          "description": "The person's interests."
        },
        "urls": {
          "items": {
            "$ref": "Url"
          },
          "description": "The person's associated URLs.",
          "type": "array"
        },
        "userDefined": {
          "type": "array",
          "items": {
            "$ref": "UserDefined"
          },
          "description": "The person's user defined data."
        },
        "miscKeywords": {
          "items": {
            "$ref": "MiscKeyword"
          },
          "description": "The person's miscellaneous keywords.",
          "type": "array"
        },
        "ageRanges": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The person's age ranges.",
          "items": {
            "$ref": "AgeRangeType"
          }
        },
        "clientData": {
          "items": {
            "$ref": "ClientData"
          },
          "type": "array",
          "description": "The person's client data."
        },
        "calendarUrls": {
          "type": "array",
          "description": "The person's calendar URLs.",
          "items": {
            "$ref": "CalendarUrl"
          }
        },
        "locales": {
          "items": {
            "$ref": "Locale"
          },
          "description": "The person's locale preferences.",
          "type": "array"
        },
        "skills": {
          "type": "array",
          "items": {
            "$ref": "Skill"
          },
          "description": "The person's skills."
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`."
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "The person's locations."
        },
        "birthdays": {
          "description": "The person's birthdays. This field is a singleton for contact sources.",
          "items": {
            "$ref": "Birthday"
          },
          "type": "array"
        },
        "names": {
          "type": "array",
          "description": "The person's names. This field is a singleton for contact sources.",
          "items": {
            "$ref": "Name"
          }
        },
        "relationshipInterests": {
          "items": {
            "$ref": "RelationshipInterest"
          },
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship interests.",
          "type": "array",
          "readOnly": true,
          "deprecated": true
        },
        "nicknames": {
          "description": "The person's nicknames.",
          "items": {
            "$ref": "Nickname"
          },
          "type": "array"
        },
        "events": {
          "items": {
            "$ref": "Event"
          },
          "description": "The person's events.",
          "type": "array"
        },
        "relations": {
          "type": "array",
          "description": "The person's relations.",
          "items": {
            "$ref": "Relation"
          }
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "memberships": {
          "type": "array",
          "items": {
            "$ref": "Membership"
          },
          "description": "The person's group memberships."
        },
        "addresses": {
          "items": {
            "$ref": "Address"
          },
          "type": "array",
          "description": "The person's street addresses."
        },
        "braggingRights": {
          "type": "array",
          "description": "**DEPRECATED**: No data will be returned The person's bragging rights.",
          "deprecated": true,
          "items": {
            "$ref": "BraggingRights"
          }
        },
        "emailAddresses": {
          "description": "The person's email addresses. For `people.connections.list` and `otherContacts.list` the number of email addresses is limited to 100. If a Person has more email addresses the entire set can be obtained by calling GetPeople.",
          "type": "array",
          "items": {
            "$ref": "EmailAddress"
          }
        },
        "phoneNumbers": {
          "description": "The person's phone numbers. For `people.connections.list` and `otherContacts.list` the number of phone numbers is limited to 100. If a Person has more phone numbers the entire set can be obtained by calling GetPeople.",
          "type": "array",
          "items": {
            "$ref": "PhoneNumber"
          }
        },
        "externalIds": {
          "items": {
            "$ref": "ExternalId"
          },
          "type": "array",
          "description": "The person's external IDs."
        },
        "imClients": {
          "description": "The person's instant messaging clients.",
          "type": "array",
          "items": {
            "$ref": "ImClient"
          }
        },
        "relationshipStatuses": {
          "items": {
            "$ref": "RelationshipStatus"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship statuses.",
          "deprecated": true
        },
        "coverPhotos": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CoverPhoto"
          },
          "description": "Output only. The person's cover photos."
        },
        "organizations": {
          "type": "array",
          "items": {
            "$ref": "Organization"
          },
          "description": "The person's past or current organizations."
        },
        "fileAses": {
          "type": "array",
          "description": "The person's file-ases.",
          "items": {
            "$ref": "FileAs"
          }
        }
      },
      "description": "Information about a person merged from various data sources such as the authenticated user's contacts and profile data. Most fields can have multiple items. The items in a field have no guaranteed order, but each non-empty field is guaranteed to have exactly one field with `metadata.primary` set to true.",
      "id": "Person",
      "type": "object"
    },
    "MiscKeyword": {
      "type": "object",
      "id": "MiscKeyword",
      "properties": {
        "type": {
          "description": "The miscellaneous keyword type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "OUTLOOK_BILLING_INFORMATION",
            "OUTLOOK_DIRECTORY_SERVER",
            "OUTLOOK_KEYWORD",
            "OUTLOOK_MILEAGE",
            "OUTLOOK_PRIORITY",
            "OUTLOOK_SENSITIVITY",
            "OUTLOOK_SUBJECT",
            "OUTLOOK_USER",
            "HOME",
            "WORK",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Outlook field for billing information.",
            "Outlook field for directory server.",
            "Outlook field for keyword.",
            "Outlook field for mileage.",
            "Outlook field for priority.",
            "Outlook field for sensitivity.",
            "Outlook field for subject.",
            "Outlook field for user.",
            "Home.",
            "Work.",
            "Other."
          ]
        },
        "metadata": {
          "description": "Metadata about the miscellaneous keyword.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The value of the miscellaneous keyword.",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the miscellaneous keyword translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        }
      },
      "description": "A person's miscellaneous keyword."
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "FileAs": {
      "type": "object",
      "id": "FileAs",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the file-as."
        },
        "value": {
          "description": "The file-as value",
          "type": "string"
        }
      },
      "description": "The name that should be used to sort the person in a list."
    },
    "ExternalId": {
      "properties": {
        "value": {
          "description": "The value of the external ID.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the external ID."
        },
        "formattedType": {
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the external ID. The type can be custom or one of these predefined values: * `account` * `customer` * `loginId` * `network` * `organization`",
          "type": "string"
        }
      },
      "id": "ExternalId",
      "description": "An identifier from an external entity related to the person.",
      "type": "object"
    },
    "Birthday": {
      "type": "object",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "The structured date of the birthday."
        },
        "text": {
          "description": "Prefer to use the `date` field if set. A free-form string representing the user's birthday. This value is not validated.",
          "type": "string",
          "deprecated": true
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the birthday."
        }
      },
      "id": "Birthday",
      "description": "A person's birthday. At least one of the `date` and `text` fields are specified. The `date` and `text` fields typically represent the same date, but are not guaranteed to. Clients should always set the `date` field when mutating birthdays."
    },
    "Occupation": {
      "id": "Occupation",
      "type": "object",
      "properties": {
        "value": {
          "description": "The occupation; for example, `carpenter`.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the occupation."
        }
      },
      "description": "A person's occupation."
    },
    "Locale": {
      "id": "Locale",
      "properties": {
        "metadata": {
          "description": "Metadata about the locale.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "type": "string",
          "description": "The well-formed [IETF BCP 47](https://tools.ietf.org/html/bcp47) language tag representing the locale."
        }
      },
      "description": "A person's locale preference.",
      "type": "object"
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "Organization": {
      "description": "A person's past or current organization. Overlapping date ranges are permitted.",
      "type": "object",
      "id": "Organization",
      "properties": {
        "phoneticName": {
          "description": "The phonetic name of the organization.",
          "type": "string"
        },
        "name": {
          "description": "The name of the organization.",
          "type": "string"
        },
        "location": {
          "description": "The location of the organization office the person works at.",
          "type": "string"
        },
        "symbol": {
          "description": "The symbol associated with the organization; for example, a stock ticker symbol, abbreviation, or acronym.",
          "type": "string"
        },
        "endDate": {
          "$ref": "Date",
          "description": "The end date when the person left the organization."
        },
        "jobDescription": {
          "type": "string",
          "description": "The person's job description at the organization."
        },
        "department": {
          "description": "The person's department at the organization.",
          "type": "string"
        },
        "title": {
          "description": "The person's job title at the organization.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "The domain name associated with the organization; for example, `google.com`."
        },
        "current": {
          "description": "True if the organization is the person's current organization; false if the organization is a past organization.",
          "type": "boolean"
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date when the person joined the organization."
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the organization translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "type": {
          "description": "The type of the organization. The type can be custom or one of these predefined values: * `work` * `school`",
          "type": "string"
        },
        "costCenter": {
          "type": "string",
          "description": "The person's cost center at the organization."
        },
        "fullTimeEquivalentMillipercent": {
          "type": "integer",
          "description": "The person's full-time equivalent millipercent within the organization (100000 = 100%).",
          "format": "int32"
        },
        "metadata": {
          "description": "Metadata about the organization.",
          "$ref": "FieldMetadata"
        }
      }
    },
    "Url": {
      "id": "Url",
      "type": "object",
      "properties": {
        "value": {
          "description": "The URL.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the URL.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "type": "string",
          "description": "The type of the URL. The type can be custom or one of these predefined values: * `home` * `work` * `blog` * `profile` * `homePage` * `ftp` * `reservations` * `appInstallPage`: website for a Currents application. * `other`"
        },
        "formattedType": {
          "description": "Output only. The type of the URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A person's associated URLs."
    },
    "Relation": {
      "id": "Relation",
      "properties": {
        "person": {
          "type": "string",
          "description": "The name of the other person this relation refers to."
        },
        "type": {
          "type": "string",
          "description": "The person's relation to the other person. The type can be custom or one of these predefined values: * `spouse` * `child` * `mother` * `father` * `parent` * `brother` * `sister` * `friend` * `relative` * `domesticPartner` * `manager` * `assistant` * `referredBy` * `partner`"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relation."
        },
        "formattedType": {
          "description": "Output only. The type of the relation translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A person's relation to another person.",
      "type": "object"
    },
    "UpdateContactPhotoResponse": {
      "properties": {
        "person": {
          "description": "The updated person, if person_fields is set in the UpdateContactPhotoRequest; otherwise this will be unset.",
          "$ref": "Person"
        }
      },
      "id": "UpdateContactPhotoResponse",
      "description": "The response for updating a contact's photo.",
      "type": "object"
    },
    "Address": {
      "description": "A person's physical address. May be a P.O. box or street address. All fields are optional.",
      "id": "Address",
      "type": "object",
      "properties": {
        "city": {
          "description": "The city of the address.",
          "type": "string"
        },
        "countryCode": {
          "type": "string",
          "description": "The [ISO 3166-1 alpha-2](http://www.iso.org/iso/country_codes.htm) country code of the address."
        },
        "formattedValue": {
          "type": "string",
          "description": "The unstructured value of the address. If this is not set by the user it will be automatically constructed from structured values."
        },
        "region": {
          "description": "The region of the address; for example, the state or province.",
          "type": "string"
        },
        "extendedAddress": {
          "description": "The extended address of the address; for example, the apartment number.",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code of the address."
        },
        "streetAddress": {
          "type": "string",
          "description": "The street address."
        },
        "type": {
          "type": "string",
          "description": "The type of the address. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        },
        "metadata": {
          "description": "Metadata about the address.",
          "$ref": "FieldMetadata"
        },
        "formattedType": {
          "description": "Output only. The type of the address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "poBox": {
          "type": "string",
          "description": "The P.O. box of the address."
        },
        "country": {
          "type": "string",
          "description": "The country of the address."
        }
      }
    },
    "UpdateContactGroupRequest": {
      "type": "object",
      "description": "A request to update an existing user contact group. All updated fields will be replaced.",
      "id": "UpdateContactGroupRequest",
      "properties": {
        "readGroupFields": {
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
          "format": "google-fieldmask",
          "type": "string"
        },
        "updateGroupFields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. A field mask to restrict which fields on the group are updated. Multiple fields can be specified by separating them with commas. Defaults to `name` if not set or set to empty. Updated fields are replaced. Valid values are: * clientData * name"
        },
        "contactGroup": {
          "description": "Required. The contact group to update.",
          "$ref": "ContactGroup"
        }
      }
    },
    "DomainMembership": {
      "type": "object",
      "properties": {
        "inViewerDomain": {
          "description": "True if the person is in the viewer's Google Workspace domain.",
          "type": "boolean"
        }
      },
      "id": "DomainMembership",
      "description": "A Google Workspace Domain membership."
    }
  },
  "baseUrl": "https://people.googleapis.com/",
  "resources": {
    "contactGroups": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "path": "v1/{+resourceName}",
          "parameters": {
            "groupFields": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "location": "query"
            },
            "maxMembers": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Optional. Specifies the maximum number of members to return. Defaults to 0 if not set, which will return zero members."
            },
            "resourceName": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The resource name of the contact group to get.",
              "pattern": "^contactGroups/[^/]+$"
            }
          },
          "description": "Get a specific contact group owned by the authenticated user by specifying a contact group resource name.",
          "id": "people.contactGroups.get",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "parameterOrder": [
            "resourceName"
          ],
          "response": {
            "$ref": "ContactGroup"
          },
          "httpMethod": "GET"
        },
        "delete": {
          "httpMethod": "DELETE",
          "description": "Delete an existing contact group owned by the authenticated user by specifying a contact group resource name. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "path": "v1/{+resourceName}",
          "parameters": {
            "resourceName": {
              "pattern": "^contactGroups/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The resource name of the contact group to delete."
            },
            "deleteContacts": {
              "description": "Optional. Set to true to also delete the contacts in the specified group.",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "id": "people.contactGroups.delete"
        },
        "list": {
          "response": {
            "$ref": "ListContactGroupsResponse"
          },
          "parameters": {
            "groupFields": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. The next_page_token value returned from a previous call to [ListContactGroups](/people/api/rest/v1/contactgroups/list). Requests the next page of resources.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Optional. The maximum number of resources to return. Valid values are between 1 and 1000, inclusive. Defaults to 30 if not set or set to 0.",
              "format": "int32"
            },
            "syncToken": {
              "type": "string",
              "description": "Optional. A sync token, returned by a previous call to `contactgroups.list`. Only resources changed since the sync token was created will be returned.",
              "location": "query"
            }
          },
          "id": "people.contactGroups.list",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "flatPath": "v1/contactGroups",
          "httpMethod": "GET",
          "path": "v1/contactGroups",
          "parameterOrder": [],
          "description": "List all contact groups owned by the authenticated user. Members of the contact groups are not populated."
        },
        "batchGet": {
          "path": "v1/contactGroups:batchGet",
          "description": "Get a list of contact groups owned by the authenticated user by specifying a list of contact group resource names.",
          "parameters": {
            "groupFields": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name"
            },
            "resourceNames": {
              "type": "string",
              "description": "Required. The resource names of the contact groups to get. There is a maximum of 200 resource names.",
              "location": "query",
              "repeated": true
            },
            "maxMembers": {
              "location": "query",
              "format": "int32",
              "description": "Optional. Specifies the maximum number of members to return for each group. Defaults to 0 if not set, which will return zero members.",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "BatchGetContactGroupsResponse"
          },
          "id": "people.contactGroups.batchGet",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "flatPath": "v1/contactGroups:batchGet",
          "parameterOrder": [],
          "httpMethod": "GET"
        },
        "create": {
          "id": "people.contactGroups.create",
          "httpMethod": "POST",
          "description": "Create a new contact group owned by the authenticated user. Created contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "parameterOrder": [],
          "request": {
            "$ref": "CreateContactGroupRequest"
          },
          "path": "v1/contactGroups",
          "flatPath": "v1/contactGroups",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "ContactGroup"
          }
        },
        "update": {
          "response": {
            "$ref": "ContactGroup"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "request": {
            "$ref": "UpdateContactGroupRequest"
          },
          "description": "Update the name of an existing contact group owned by the authenticated user. Updated contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "httpMethod": "PUT",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "id": "people.contactGroups.update",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameters": {
            "resourceName": {
              "type": "string",
              "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
              "required": true,
              "pattern": "^contactGroups/[^/]+$",
              "location": "path"
            }
          },
          "path": "v1/{+resourceName}"
        }
      },
      "resources": {
        "members": {
          "methods": {
            "modify": {
              "scopes": [
                "https://www.googleapis.com/auth/contacts"
              ],
              "description": "Modify the members of a contact group owned by the authenticated user. The only system contact groups that can have members added are `contactGroups/myContacts` and `contactGroups/starred`. Other system contact groups are deprecated and can only have contacts removed.",
              "httpMethod": "POST",
              "id": "people.contactGroups.members.modify",
              "flatPath": "v1/contactGroups/{contactGroupsId}/members:modify",
              "request": {
                "$ref": "ModifyContactGroupMembersRequest"
              },
              "parameterOrder": [
                "resourceName"
              ],
              "parameters": {
                "resourceName": {
                  "description": "Required. The resource name of the contact group to modify.",
                  "type": "string",
                  "pattern": "^contactGroups/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1/{+resourceName}/members:modify",
              "response": {
                "$ref": "ModifyContactGroupMembersResponse"
              }
            }
          }
        }
      }
    },
    "people": {
      "methods": {
        "updateContact": {
          "path": "v1/{+resourceName}:updateContact",
          "response": {
            "$ref": "Person"
          },
          "request": {
            "$ref": "Person"
          },
          "parameters": {
            "updatePersonFields": {
              "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All updated fields will be replaced. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "resourceName": {
              "location": "path",
              "description": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`.",
              "pattern": "^people/[^/]+$",
              "required": true,
              "type": "string"
            },
            "personFields": {
              "type": "string",
              "description": "Optional. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "format": "google-fieldmask"
            },
            "sources": {
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
            }
          },
          "flatPath": "v1/people/{peopleId}:updateContact",
          "id": "people.people.updateContact",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
[...]
