{
  "discoveryVersion": "v1",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/user.birthday.read": {
          "description": "See and download your exact date of birth"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/contacts": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/userinfo.profile": {
          "description": "See your personal info, including any personal info you've made publicly available"
        },
        "https://www.googleapis.com/auth/user.organization.read": {
          "description": "See your education, work history and org info"
        },
        "https://www.googleapis.com/auth/directory.readonly": {
          "description": "See and download your organization's Google Workspace directory"
        },
        "https://www.googleapis.com/auth/user.gender.read": {
          "description": "See your gender"
        },
        "https://www.googleapis.com/auth/user.addresses.read": {
          "description": "View your street addresses"
        },
        "https://www.googleapis.com/auth/contacts.other.readonly": {
          "description": "See and download contact info automatically saved in your \"Other contacts\""
        },
        "https://www.googleapis.com/auth/user.phonenumbers.read": {
          "description": "See and download your personal phone numbers"
        },
        "https://www.googleapis.com/auth/user.emails.read": {
          "description": "See and download all of your Google Account email addresses"
        },
        "https://www.googleapis.com/auth/contacts.readonly": {
          "description": "See and download your contacts"
        }
      }
    }
  },
  "canonicalName": "People Service",
  "ownerDomain": "google.com",
  "description": "Provides access to information about profiles and contacts.",
  "batchPath": "batch",
  "baseUrl": "https://people.googleapis.com/",
  "kind": "discovery#restDescription",
  "id": "people:v1",
  "ownerName": "Google",
  "servicePath": "",
  "basePath": "",
  "name": "people",
  "version_module": true,
  "protocol": "rest",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "title": "People API",
  "rootUrl": "https://people.googleapis.com/",
  "schemas": {
    "CreateContactGroupRequest": {
      "description": "A request to create a new contact group.",
      "properties": {
        "contactGroup": {
          "$ref": "ContactGroup",
          "description": "Required. The contact group to create."
        },
        "readGroupFields": {
          "format": "google-fieldmask",
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * metadata * name",
          "type": "string"
        }
      },
      "id": "CreateContactGroupRequest",
      "type": "object"
    },
    "ClientData": {
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the client data."
        },
        "value": {
          "description": "The client specified value of the client data.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "The client specified key of the client data."
        }
      },
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed.",
      "id": "ClientData",
      "type": "object"
    },
    "UpdateContactGroupRequest": {
      "id": "UpdateContactGroupRequest",
      "properties": {
        "contactGroup": {
          "description": "Required. The contact group to update.",
          "$ref": "ContactGroup"
        },
        "updateGroupFields": {
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the group are updated. Multiple fields can be specified by separating them with commas. Defaults to `name` if not set or set to empty. Updated fields are replaced. Valid values are: * clientData * name",
          "format": "google-fieldmask"
        },
        "readGroupFields": {
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "description": "A request to update an existing user contact group. All updated fields will be replaced.",
      "type": "object"
    },
    "ContactGroup": {
      "description": "A contact group.",
      "id": "ContactGroup",
      "properties": {
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "groupType": {
          "description": "Output only. The contact group type.",
          "readOnly": true,
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "USER_CONTACT_GROUP",
            "SYSTEM_CONTACT_GROUP"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "User defined contact group.",
            "System defined contact group."
          ],
          "type": "string"
        },
        "clientData": {
          "description": "The group's client data.",
          "type": "array",
          "items": {
            "$ref": "GroupClientData"
          }
        },
        "memberResourceNames": {
          "description": "Output only. The list of contact person resource names that are members of the contact group. The field is only populated for GET requests and will only return as many members as `maxMembers` in the get request.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "name": {
          "description": "The contact group name set by the group owner or a system provided name for system groups. For [`contactGroups.create`](/people/api/rest/v1/contactGroups/create) or [`contactGroups.update`](/people/api/rest/v1/contactGroups/update) the name must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error.",
          "type": "string"
        },
        "metadata": {
          "description": "Output only. Metadata about the contact group.",
          "readOnly": true,
          "$ref": "ContactGroupMetadata"
        },
        "memberCount": {
          "readOnly": true,
          "description": "Output only. The total number of contacts in the group irrespective of max members in specified in the request.",
          "format": "int32",
          "type": "integer"
        },
        "formattedName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale for system groups names. Group names set by the owner are the same as name."
        },
        "resourceName": {
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContactGroupResponse": {
      "type": "object",
      "id": "ContactGroupResponse",
      "properties": {
        "requestedResourceName": {
          "type": "string",
          "description": "The original requested resource name."
        },
        "status": {
          "$ref": "Status",
          "description": "The status of the response."
        },
        "contactGroup": {
          "description": "The contact group.",
          "$ref": "ContactGroup"
        }
      },
      "description": "The response for a specific contact group."
    },
    "SipAddress": {
      "description": "A person's SIP address. Session Initial Protocol addresses are used for VoIP communications to make voice or video calls over the internet.",
      "properties": {
        "type": {
          "description": "The type of the SIP address. The type can be custom or or one of these predefined values: * `home` * `work` * `mobile` * `other`",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the SIP address."
        },
        "value": {
          "description": "The SIP address in the [RFC 3261 19.1](https://tools.ietf.org/html/rfc3261#section-19.1) SIP URI format.",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the SIP address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "SipAddress"
    },
    "BatchDeleteContactsRequest": {
      "description": "A request to delete a batch of existing contacts.",
      "id": "BatchDeleteContactsRequest",
      "properties": {
        "resourceNames": {
          "type": "array",
          "description": "Required. The resource names of the contact to delete. It's repeatable. Allows up to 500 resource names in a single request.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "EmailAddress": {
      "properties": {
        "type": {
          "description": "The type of the email address. The type can be custom or one of these predefined values: * `home` * `work` * `other`",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the email address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the email address."
        },
        "value": {
          "type": "string",
          "description": "The email address."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the email."
        }
      },
      "type": "object",
      "description": "A person's email address.",
      "id": "EmailAddress"
    },
    "Address": {
      "type": "object",
      "id": "Address",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the address. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        },
        "metadata": {
          "description": "Metadata about the address.",
          "$ref": "FieldMetadata"
        },
        "streetAddress": {
          "description": "The street address.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code of the address.",
          "type": "string"
        },
        "city": {
          "description": "The city of the address.",
          "type": "string"
        },
        "extendedAddress": {
          "description": "The extended address of the address; for example, the apartment number.",
          "type": "string"
        },
        "countryCode": {
          "type": "string",
          "description": "The [ISO 3166-1 alpha-2](http://www.iso.org/iso/country_codes.htm) country code of the address."
        },
        "formattedType": {
          "description": "Output only. The type of the address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        },
        "formattedValue": {
          "description": "The unstructured value of the address. If this is not set by the user it will be automatically constructed from structured values.",
          "type": "string"
        },
        "poBox": {
          "type": "string",
          "description": "The P.O. box of the address."
        },
        "region": {
          "description": "The region of the address; for example, the state or province.",
          "type": "string"
        },
        "country": {
          "type": "string",
          "description": "The country of the address."
        }
      },
      "description": "A person's physical address. May be a P.O. box or street address. All fields are optional."
    },
    "UpdateContactPhotoResponse": {
      "type": "object",
      "id": "UpdateContactPhotoResponse",
      "description": "The response for updating a contact's photo.",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The updated person, if person_fields is set in the UpdateContactPhotoRequest; otherwise this will be unset."
        }
      }
    },
    "ListOtherContactsResponse": {
      "description": "The response to a request for the authenticated user's \"Other contacts\".",
      "id": "ListOtherContactsResponse",
      "type": "object",
      "properties": {
        "nextSyncToken": {
          "type": "string",
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token."
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of other contacts in the list without pagination."
        },
        "otherContacts": {
          "items": {
            "$ref": "Person"
          },
          "type": "array",
          "description": "The list of \"Other contacts\" returned as Person resources. \"Other contacts\" support a limited subset of fields. See ListOtherContactsRequest.request_mask for more detailed information."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "PersonResponse": {
      "properties": {
        "httpStatusCode": {
          "description": "**DEPRECATED** (Please use status instead) [HTTP 1.1 status code] (http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html).",
          "format": "int32",
          "type": "integer",
          "deprecated": true
        },
        "status": {
          "$ref": "Status",
          "description": "The status of the response."
        },
        "requestedResourceName": {
          "description": "The original requested resource name. May be different than the resource name on the returned person. The resource name can change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or a profile URL.",
          "type": "string"
        },
        "person": {
          "description": "The person.",
          "$ref": "Person"
        }
      },
      "type": "object",
      "description": "The response for a single person",
      "id": "PersonResponse"
    },
    "ImClient": {
      "properties": {
        "protocol": {
          "type": "string",
          "description": "The protocol of the IM client. The protocol can be custom or one of these predefined values: * `aim` * `msn` * `yahoo` * `skype` * `qq` * `googleTalk` * `icq` * `jabber` * `netMeeting`"
        },
        "formattedProtocol": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The protocol of the IM client formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the IM client translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "username": {
          "type": "string",
          "description": "The user name used in the IM client."
        },
        "type": {
          "type": "string",
          "description": "The type of the IM client. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the IM client."
        }
      },
      "id": "ImClient",
      "type": "object",
      "description": "A person's instant messaging client."
    },
    "BatchCreateContactsRequest": {
      "id": "BatchCreateContactsRequest",
      "type": "object",
      "description": "A request to create a batch of contacts.",
      "properties": {
        "contacts": {
          "type": "array",
          "description": "Required. The contact to create. Allows up to 200 contacts in a single request.",
          "items": {
            "$ref": "ContactToCreate"
          }
        },
        "readMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. A field mask to restrict which fields on each person are returned in the response. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
        },
        "sources": {
          "type": "array",
          "items": {
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ]
          },
          "description": "Optional. A mask of what source types to return in the post mutate read. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
        }
      }
    },
    "BatchGetContactGroupsResponse": {
      "type": "object",
      "properties": {
        "responses": {
          "description": "The list of responses for each requested contact group resource.",
          "items": {
            "$ref": "ContactGroupResponse"
          },
          "type": "array"
        }
      },
      "id": "BatchGetContactGroupsResponse",
      "description": "The response to a batch get contact groups request."
    },
    "Locale": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The well-formed [IETF BCP 47](https://tools.ietf.org/html/bcp47) language tag representing the locale.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the locale."
        }
      },
      "id": "Locale",
      "description": "A person's locale preference."
    },
    "ListConnectionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "totalPeople": {
          "deprecated": true,
          "type": "integer",
          "format": "int32",
          "description": "**DEPRECATED** (Please use totalItems) The total number of people in the list without pagination."
        },
        "totalItems": {
          "type": "integer",
          "description": "The total number of items in the list without pagination.",
          "format": "int32"
        },
        "connections": {
          "type": "array",
          "description": "The list of people that the requestor is connected to.",
          "items": {
            "$ref": "Person"
          }
        },
        "nextSyncToken": {
          "type": "string",
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token. When the response is paginated, only the last page will contain `nextSyncToken`."
        }
      },
      "description": "The response to a request for the authenticated user's connections.",
      "type": "object",
      "id": "ListConnectionsResponse"
    },
    "AgeRangeType": {
      "properties": {
        "metadata": {
          "description": "Metadata about the age range.",
          "$ref": "FieldMetadata"
        },
        "ageRange": {
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "description": "The age range.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ]
        }
      },
      "description": "A person's age range.",
      "id": "AgeRangeType",
      "type": "object"
    },
    "Skill": {
      "id": "Skill",
      "properties": {
        "value": {
          "description": "The skill; for example, `underwater basket weaving`.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the skill."
        }
      },
      "type": "object",
      "description": "A skill that the person has."
    },
    "GroupClientData": {
      "id": "GroupClientData",
      "type": "object",
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed.",
      "properties": {
        "value": {
          "description": "The client specified value of the client data.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "The client specified key of the client data."
        }
      }
    },
    "RelationshipInterest": {
      "description": "**DEPRECATED**: No data will be returned A person's relationship interest .",
      "deprecated": true,
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relationship interest."
        },
        "formattedValue": {
          "description": "Output only. The value of the relationship interest translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "The kind of relationship the person is looking for. The value can be custom or one of these predefined values: * `friend` * `date` * `relationship` * `networking`",
          "type": "string"
        }
      },
      "id": "RelationshipInterest",
      "type": "object"
    },
    "ListContactGroupsResponse": {
      "id": "ListContactGroupsResponse",
      "type": "object",
      "properties": {
        "nextSyncToken": {
          "type": "string",
          "description": "The token that can be used to retrieve changes since the last request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used to retrieve the next page of results."
        },
        "contactGroups": {
          "items": {
            "$ref": "ContactGroup"
          },
          "description": "The list of contact groups. Members of the contact groups are not populated.",
          "type": "array"
        },
        "totalItems": {
          "description": "The total number of items in the list without pagination.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The response to a list contact groups request."
    },
    "PersonMetadata": {
      "type": "object",
      "id": "PersonMetadata",
      "description": "The metadata about a person.",
      "properties": {
        "sources": {
          "type": "array",
          "description": "The sources of data for the person.",
          "items": {
            "$ref": "Source"
          }
        },
        "objectType": {
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ],
          "description": "Output only. **DEPRECATED** (Please use `person.metadata.sources.profileMetadata.objectType` instead) The type of the person object.",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "deprecated": true,
          "readOnly": true,
          "type": "string"
        },
        "deleted": {
          "description": "Output only. True if the person resource has been deleted. Populated only for `people.connections.list` and `otherContacts.list` sync requests.",
          "readOnly": true,
          "type": "boolean"
        },
        "linkedPeopleResourceNames": {
          "readOnly": true,
          "description": "Output only. Resource names of people linked to this resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "previousResourceNames": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Any former resource names this person has had. Populated only for `people.connections.list` requests that include a sync token. The resource name may change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or profile URL.",
          "type": "array"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Status"
    },
    "Organization": {
      "id": "Organization",
      "type": "object",
      "properties": {
        "symbol": {
          "description": "The symbol associated with the organization; for example, a stock ticker symbol, abbreviation, or acronym.",
          "type": "string"
        },
        "domain": {
          "description": "The domain name associated with the organization; for example, `google.com`.",
          "type": "string"
        },
        "department": {
          "type": "string",
          "description": "The person's department at the organization."
        },
        "current": {
          "description": "True if the organization is the person's current organization; false if the organization is a past organization.",
          "type": "boolean"
        },
        "endDate": {
          "$ref": "Date",
          "description": "The end date when the person left the organization."
        },
        "name": {
          "type": "string",
          "description": "The name of the organization."
        },
        "type": {
          "description": "The type of the organization. The type can be custom or one of these predefined values: * `work` * `school`",
          "type": "string"
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date when the person joined the organization."
        },
        "costCenter": {
          "type": "string",
          "description": "The person's cost center at the organization."
        },
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the organization translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "phoneticName": {
          "type": "string",
          "description": "The phonetic name of the organization."
        },
        "location": {
          "description": "The location of the organization office the person works at.",
          "type": "string"
        },
        "jobDescription": {
          "type": "string",
          "description": "The person's job description at the organization."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the organization."
        },
        "fullTimeEquivalentMillipercent": {
          "type": "integer",
          "description": "The person's full-time equivalent millipercent within the organization (100000 = 100%).",
          "format": "int32"
        },
        "title": {
          "type": "string",
          "description": "The person's job title at the organization."
        }
      },
      "description": "A person's past or current organization. Overlapping date ranges are permitted."
    },
    "BatchUpdateContactsRequest": {
      "id": "BatchUpdateContactsRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All specified fields will be replaced, or cleared if left empty for each person. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined"
        },
        "sources": {
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ],
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "contacts": {
          "additionalProperties": {
            "$ref": "Person"
          },
          "description": "Required. A map of resource names to the person data to be updated. Allows up to 200 contacts in a single request.",
          "type": "object"
        },
        "readMask": {
          "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "description": "A request to update a batch of contacts."
    },
    "Url": {
      "id": "Url",
      "description": "A person's associated URLs.",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the URL."
        },
        "value": {
          "description": "The URL.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the URL. The type can be custom or one of these predefined values: * `home` * `work` * `blog` * `profile` * `homePage` * `ftp` * `reservations` * `appInstallPage`: website for a Currents application. * `other`"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListDirectoryPeopleResponse": {
      "properties": {
        "people": {
          "items": {
            "$ref": "Person"
          },
          "description": "The list of people in the domain directory.",
          "type": "array"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response to a request for the authenticated user's domain directory.",
      "id": "ListDirectoryPeopleResponse"
    },
    "CopyOtherContactToMyContactsGroupRequest": {
      "description": "A request to copy an \"Other contact\" to my contacts group.",
      "properties": {
        "readMask": {
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to the copy mask with metadata and membership fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "format": "google-fieldmask"
        },
        "copyMask": {
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields are copied into the new contact. Valid values are: * emailAddresses * names * phoneNumbers",
          "type": "string"
        },
        "sources": {
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ],
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ],
            "type": "string"
          }
        }
      },
      "id": "CopyOtherContactToMyContactsGroupRequest",
      "type": "object"
    },
    "FieldMetadata": {
      "properties": {
        "sourcePrimary": {
          "description": "True if the field is the primary field for the source. Each source must have at most one field with `source_primary` set to true.",
          "type": "boolean"
        },
        "verified": {
          "description": "Output only. True if the field is verified; false if the field is unverified. A verified field is typically a name, email address, phone number, or website that has been confirmed to be owned by the person.",
          "type": "boolean",
          "readOnly": true
        },
        "source": {
          "$ref": "Source",
          "description": "The source of the field."
        },
        "primary": {
          "readOnly": true,
          "description": "Output only. True if the field is the primary field for all sources in the person. Each person will have at most one field with `primary` set to true.",
          "type": "boolean"
        }
      },
      "description": "Metadata about a field.",
      "type": "object",
      "id": "FieldMetadata"
    },
    "Relation": {
      "id": "Relation",
      "description": "A person's relation to another person.",
      "properties": {
        "type": {
          "description": "The person's relation to the other person. The type can be custom or one of these predefined values: * `spouse` * `child` * `mother` * `father` * `parent` * `brother` * `sister` * `friend` * `relative` * `domesticPartner` * `manager` * `assistant` * `referredBy` * `partner`",
          "type": "string"
        },
        "person": {
          "type": "string",
          "description": "The name of the other person this relation refers to."
        },
        "metadata": {
          "description": "Metadata about the relation.",
          "$ref": "FieldMetadata"
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the relation translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header."
        }
      },
      "type": "object"
    },
    "SearchResponse": {
      "id": "SearchResponse",
      "properties": {
        "results": {
          "description": "The results of the request.",
          "items": {
            "$ref": "SearchResult"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response to a search request for the authenticated user, given a query."
    },
    "RelationshipStatus": {
      "deprecated": true,
      "properties": {
        "formattedValue": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The value of the relationship status translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relationship status."
        },
        "value": {
          "description": "The relationship status. The value can be custom or one of these predefined values: * `single` * `inARelationship` * `engaged` * `married` * `itsComplicated` * `openRelationship` * `widowed` * `inDomesticPartnership` * `inCivilUnion`",
          "type": "string"
        }
      },
      "description": "**DEPRECATED**: No data will be returned A person's relationship status.",
      "id": "RelationshipStatus",
      "type": "object"
    },
    "Tagline": {
      "id": "Tagline",
      "type": "object",
      "description": "**DEPRECATED**: No data will be returned A brief one-line description of the person.",
      "deprecated": true,
      "properties": {
        "value": {
          "description": "The tagline.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the tagline."
        }
      }
    },
    "FileAs": {
      "id": "FileAs",
      "properties": {
        "metadata": {
          "description": "Metadata about the file-as.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "type": "string",
          "description": "The file-as value"
        }
      },
      "description": "The name that should be used to sort the person in a list.",
      "type": "object"
    },
    "Nickname": {
      "id": "Nickname",
      "properties": {
        "value": {
          "type": "string",
          "description": "The nickname."
        },
        "metadata": {
          "description": "Metadata about the nickname.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "enum": [
            "DEFAULT",
            "MAIDEN_NAME",
            "INITIALS",
            "GPLUS",
            "OTHER_NAME",
            "ALTERNATE_NAME",
            "SHORT_NAME"
          ],
          "type": "string",
          "enumDescriptions": [
            "Generic nickname.",
            "Maiden name or birth family name. Used when the person's family name has changed as a result of marriage.",
            "Initials.",
            "Google+ profile nickname.",
            "A professional affiliation or other name; for example, `Dr. Smith.`",
            "Alternate name person is known by.",
            "A shorter version of the person's name."
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            true,
            false,
            true
          ],
          "description": "The type of the nickname."
        }
      },
      "type": "object",
      "description": "A person's nickname."
    },
    "Membership": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the membership.",
          "$ref": "FieldMetadata"
        },
        "domainMembership": {
          "readOnly": true,
          "description": "Output only. The domain membership.",
          "$ref": "DomainMembership"
        },
        "contactGroupMembership": {
          "$ref": "ContactGroupMembership",
          "description": "The contact group membership."
        }
      },
      "description": "A person's membership in a group. Only contact group memberships can be modified.",
      "id": "Membership"
    },
    "Occupation": {
      "id": "Occupation",
      "type": "object",
      "description": "A person's occupation.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The occupation; for example, `carpenter`."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the occupation."
        }
      }
    },
    "ContactToCreate": {
      "id": "ContactToCreate",
      "type": "object",
      "properties": {
        "contactPerson": {
          "description": "Required. The person data to populate a newly created source.",
          "$ref": "Person"
        }
      },
      "description": "A wrapper that contains the person data to populate a newly created source."
    },
    "SearchResult": {
      "type": "object",
      "description": "A result of a search query.",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The matched Person."
        }
      },
      "id": "SearchResult"
    },
    "ContactGroupMembership": {
      "type": "object",
      "description": "A Google contact group membership.",
      "id": "ContactGroupMembership",
      "properties": {
        "contactGroupResourceName": {
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`. Only contact_group_resource_name can be used for modifying memberships. Any contact group membership can be removed, but only user group or \"myContacts\" or \"starred\" system groups memberships can be added. A contact must always have at least one contact group membership.",
          "type": "string"
        },
        "contactGroupId": {
          "deprecated": true,
          "type": "string",
          "description": "Output only. The contact group ID for the contact group membership.",
          "readOnly": true
        }
      }
    },
    "ContactGroupMetadata": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the group was last updated.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if the contact group resource has been deleted. Populated only for [`ListContactGroups`](/people/api/rest/v1/contactgroups/list) requests that include a sync token."
        }
      },
      "type": "object",
      "id": "ContactGroupMetadata",
      "description": "The metadata about a contact group."
    },
    "ExternalId": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the external ID. The type can be custom or one of these predefined values: * `account` * `customer` * `loginId` * `network` * `organization`"
        },
        "metadata": {
          "description": "Metadata about the external ID.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The value of the external ID.",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "An identifier from an external entity related to the person.",
      "id": "ExternalId"
    },
    "GetPeopleResponse": {
      "id": "GetPeopleResponse",
      "properties": {
        "responses": {
          "items": {
            "$ref": "PersonResponse"
          },
          "type": "array",
          "description": "The response for each requested resource name."
        }
      },
      "description": "The response to a get request for a list of people by resource name.",
      "type": "object"
    },
    "Interest": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The interest; for example, `stargazing`."
        },
        "metadata": {
          "description": "Metadata about the interest.",
          "$ref": "FieldMetadata"
        }
      },
      "type": "object",
      "id": "Interest",
      "description": "One of the person's interests."
    },
    "Source": {
      "description": "The source of a field.",
      "type": "object",
      "id": "Source",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier within the source type generated by the server."
        },
        "etag": {
          "type": "string",
          "description": "**Only populated in `person.metadata.sources`.** The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the source. Used for web cache validation."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. **Only populated in `person.metadata.sources`.** Last update timestamp of this source."
        },
        "profileMetadata": {
          "description": "Output only. **Only populated in `person.metadata.sources`.** Metadata about a source of type PROFILE.",
          "$ref": "ProfileMetadata",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The source type.",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ACCOUNT",
            "PROFILE",
            "DOMAIN_PROFILE",
            "CONTACT",
            "OTHER_CONTACT",
            "DOMAIN_CONTACT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "[Google Account](https://accounts.google.com).",
            "[Google profile](https://profiles.google.com). You can view the profile at [https://profiles.google.com/](https://profiles.google.com/){id}, where {id} is the source id.",
            "[Google Workspace domain profile](https://support.google.com/a/answer/1628008).",
            "[Google contact](https://contacts.google.com). You can view the contact at [https://contact.google.com/](https://contact.google.com/){id}, where {id} is the source id.",
            "[Google \"Other contact\"](https://contacts.google.com/other).",
            "[Google Workspace domain shared contact](https://support.google.com/a/answer/9281635)."
          ]
        }
      }
    },
    "Gender": {
      "type": "object",
      "properties": {
        "formattedValue": {
          "description": "Output only. The value of the gender translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale. Unspecified or custom value are not localized.",
          "type": "string",
          "readOnly": true
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the gender."
        },
        "value": {
          "type": "string",
          "description": "The gender for the person. The gender can be custom or one of these predefined values: * `male` * `female` * `unspecified`"
        },
        "addressMeAs": {
          "type": "string",
          "description": "Free form text field for pronouns that should be used to address the person. Common values are: * `he`/`him` * `she`/`her` * `they`/`them`"
        }
      },
      "id": "Gender",
      "description": "A person's gender."
    },
    "DeleteContactPhotoResponse": {
      "description": "The response for deleting a contact's photo.",
      "id": "DeleteContactPhotoResponse",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The updated person, if person_fields is set in the DeleteContactPhotoRequest; otherwise this will be unset."
        }
      },
      "type": "object"
    },
    "MiscKeyword": {
      "type": "object",
      "description": "A person's miscellaneous keyword.",
      "properties": {
        "value": {
          "description": "The value of the miscellaneous keyword.",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the miscellaneous keyword translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "metadata": {
          "description": "Metadata about the miscellaneous keyword.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Outlook field for billing information.",
            "Outlook field for directory server.",
            "Outlook field for keyword.",
            "Outlook field for mileage.",
            "Outlook field for priority.",
            "Outlook field for sensitivity.",
            "Outlook field for subject.",
            "Outlook field for user.",
            "Home.",
            "Work.",
            "Other."
          ],
          "description": "The miscellaneous keyword type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "OUTLOOK_BILLING_INFORMATION",
            "OUTLOOK_DIRECTORY_SERVER",
            "OUTLOOK_KEYWORD",
            "OUTLOOK_MILEAGE",
            "OUTLOOK_PRIORITY",
            "OUTLOOK_SENSITIVITY",
            "OUTLOOK_SUBJECT",
            "OUTLOOK_USER",
            "HOME",
            "WORK",
            "OTHER"
          ]
        }
      },
      "id": "MiscKeyword"
    },
    "Biography": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the biography.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The short biography.",
          "type": "string"
        },
        "contentType": {
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "TEXT_PLAIN",
            "TEXT_HTML"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Plain text.",
            "HTML text."
          ],
          "description": "The content type of the biography.",
          "type": "string"
        }
      },
      "id": "Biography",
      "description": "A person's short biography."
    },
    "Birthday": {
      "properties": {
        "text": {
          "deprecated": true,
          "description": "Prefer to use the `date` field if set. A free-form string representing the user's birthday. This value is not validated.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the birthday."
        },
        "date": {
          "description": "The structured date of the birthday.",
          "$ref": "Date"
        }
      },
      "id": "Birthday",
      "type": "object",
      "description": "A person's birthday. At least one of the `date` and `text` fields are specified. The `date` and `text` fields typically represent the same date, but are not guaranteed to. Clients should always set the `date` field when mutating birthdays."
    },
    "Location": {
      "type": "object",
      "description": "A person's location.",
      "id": "Location",
      "properties": {
        "value": {
          "description": "The free-form value of the location.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the location."
        },
        "deskCode": {
          "description": "The individual desk location.",
          "type": "string"
        },
        "current": {
          "description": "Whether the location is the current location.",
          "type": "boolean"
        },
        "type": {
          "description": "The type of the location. The type can be custom or one of these predefined values: * `desk` * `grewUp`",
          "type": "string"
        },
        "floor": {
          "type": "string",
          "description": "The floor name or number."
        },
        "floorSection": {
          "description": "The floor section in `floor_name`.",
          "type": "string"
        },
        "buildingId": {
          "type": "string",
          "description": "The building identifier."
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "SearchDirectoryPeopleResponse": {
      "type": "object",
      "id": "SearchDirectoryPeopleResponse",
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "The total number of items in the list without pagination.",
          "type": "integer"
        },
        "people": {
          "description": "The list of people in the domain directory that match the query.",
          "items": {
            "$ref": "Person"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The response to a request for people in the authenticated user's domain directory that match the specified query."
    },
    "Name": {
      "properties": {
        "middleName": {
          "description": "The middle name(s).",
          "type": "string"
        },
        "unstructuredName": {
          "description": "The free form name value.",
          "type": "string"
        },
        "phoneticHonorificPrefix": {
          "type": "string",
          "description": "The honorific prefixes spelled as they sound."
        },
        "givenName": {
          "description": "The given name.",
          "type": "string"
        },
        "familyName": {
          "description": "The family name.",
          "type": "string"
        },
        "phoneticMiddleName": {
          "description": "The middle name(s) spelled as they sound.",
          "type": "string"
        },
        "phoneticFamilyName": {
          "type": "string",
          "description": "The family name spelled as it sounds."
        },
        "phoneticGivenName": {
          "description": "The given name spelled as it sounds.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the name."
        },
        "displayName": {
          "description": "Output only. The display name formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header.",
          "readOnly": true,
          "type": "string"
        },
        "phoneticHonorificSuffix": {
          "description": "The honorific suffixes spelled as they sound.",
          "type": "string"
        },
        "phoneticFullName": {
          "description": "The full name spelled as it sounds.",
          "type": "string"
        },
        "displayNameLastFirst": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name with the last name first formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header."
        },
        "honorificPrefix": {
          "description": "The honorific prefixes, such as `Mrs.` or `Dr.`",
          "type": "string"
        },
        "honorificSuffix": {
          "description": "The honorific suffixes, such as `Jr.`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A person's name. If the name is a mononym, the family name is empty.",
      "id": "Name"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      },
      "type": "object",
      "id": "Date"
    },
    "DomainMembership": {
      "id": "DomainMembership",
      "type": "object",
      "properties": {
        "inViewerDomain": {
          "type": "boolean",
          "description": "True if the person is in the viewer's Google Workspace domain."
        }
      },
      "description": "A Google Workspace Domain membership."
    },
    "Person": {
      "properties": {
        "coverPhotos": {
          "type": "array",
          "items": {
            "$ref": "CoverPhoto"
          },
          "readOnly": true,
          "description": "Output only. The person's cover photos."
        },
        "miscKeywords": {
          "items": {
            "$ref": "MiscKeyword"
          },
          "type": "array",
          "description": "The person's miscellaneous keywords."
        },
        "metadata": {
          "readOnly": true,
          "description": "Output only. Metadata about the person.",
          "$ref": "PersonMetadata"
        },
        "addresses": {
          "type": "array",
          "description": "The person's street addresses.",
          "items": {
            "$ref": "Address"
          }
        },
        "externalIds": {
          "description": "The person's external IDs.",
          "type": "array",
          "items": {
            "$ref": "ExternalId"
          }
        },
        "residences": {
          "deprecated": true,
          "items": {
            "$ref": "Residence"
          },
          "description": "**DEPRECATED**: (Please use `person.locations` instead) The person's residences.",
          "type": "array"
        },
        "birthdays": {
          "type": "array",
          "items": {
            "$ref": "Birthday"
          },
          "description": "The person's birthdays. This field is a singleton for contact sources."
        },
        "events": {
          "type": "array",
          "description": "The person's events.",
          "items": {
            "$ref": "Event"
          }
        },
        "phoneNumbers": {
          "description": "The person's phone numbers. For `people.connections.list` and `otherContacts.list` the number of phone numbers is limited to 100. If a Person has more phone numbers the entire set can be obtained by calling GetPeople.",
          "type": "array",
          "items": {
            "$ref": "PhoneNumber"
          }
        },
        "relationshipStatuses": {
          "deprecated": true,
          "items": {
            "$ref": "RelationshipStatus"
          },
          "type": "array",
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship statuses.",
          "readOnly": true
        },
        "relations": {
          "items": {
            "$ref": "Relation"
          },
          "description": "The person's relations.",
          "type": "array"
        },
        "genders": {
          "type": "array",
          "items": {
            "$ref": "Gender"
          },
          "description": "The person's genders. This field is a singleton for contact sources."
        },
        "nicknames": {
          "description": "The person's nicknames.",
          "type": "array",
          "items": {
            "$ref": "Nickname"
          }
        },
        "urls": {
          "description": "The person's associated URLs.",
          "type": "array",
          "items": {
            "$ref": "Url"
          }
        },
        "memberships": {
          "description": "The person's group memberships.",
          "items": {
            "$ref": "Membership"
          },
          "type": "array"
        },
        "photos": {
          "items": {
            "$ref": "Photo"
          },
          "description": "Output only. The person's photos.",
          "readOnly": true,
          "type": "array"
        },
        "skills": {
          "type": "array",
          "description": "The person's skills.",
          "items": {
            "$ref": "Skill"
          }
        },
        "calendarUrls": {
          "items": {
            "$ref": "CalendarUrl"
          },
          "description": "The person's calendar URLs.",
          "type": "array"
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`."
        },
        "ageRanges": {
          "description": "Output only. The person's age ranges.",
          "readOnly": true,
          "items": {
            "$ref": "AgeRangeType"
          },
          "type": "array"
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "ageRange": {
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "description": "Output only. **DEPRECATED** (Please use `person.ageRanges` instead) The person's age range.",
          "deprecated": true,
          "type": "string",
          "readOnly": true,
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ]
        },
        "interests": {
          "type": "array",
          "description": "The person's interests.",
          "items": {
            "$ref": "Interest"
          }
        },
        "relationshipInterests": {
          "type": "array",
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship interests.",
          "items": {
            "$ref": "RelationshipInterest"
          },
          "deprecated": true,
          "readOnly": true
        },
        "organizations": {
          "type": "array",
          "items": {
            "$ref": "Organization"
          },
          "description": "The person's past or current organizations."
        },
        "clientData": {
          "items": {
            "$ref": "ClientData"
          },
          "type": "array",
          "description": "The person's client data."
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "The person's locations.",
          "type": "array"
        },
        "names": {
          "type": "array",
          "items": {
            "$ref": "Name"
          },
          "description": "The person's names. This field is a singleton for contact sources."
        },
        "biographies": {
          "type": "array",
          "items": {
            "$ref": "Biography"
          },
          "description": "The person's biographies. This field is a singleton for contact sources."
        },
        "fileAses": {
          "type": "array",
          "description": "The person's file-ases.",
          "items": {
            "$ref": "FileAs"
          }
        },
        "imClients": {
          "items": {
            "$ref": "ImClient"
          },
          "type": "array",
          "description": "The person's instant messaging clients."
        },
        "locales": {
          "description": "The person's locale preferences.",
          "type": "array",
          "items": {
            "$ref": "Locale"
          }
        },
        "userDefined": {
          "description": "The person's user defined data.",
          "items": {
            "$ref": "UserDefined"
          },
          "type": "array"
        },
        "sipAddresses": {
          "type": "array",
          "description": "The person's SIP addresses.",
          "items": {
            "$ref": "SipAddress"
          }
        },
        "braggingRights": {
          "deprecated": true,
          "type": "array",
          "description": "**DEPRECATED**: No data will be returned The person's bragging rights.",
          "items": {
            "$ref": "BraggingRights"
          }
        },
        "occupations": {
          "items": {
            "$ref": "Occupation"
          },
          "description": "The person's occupations.",
          "type": "array"
        },
        "emailAddresses": {
          "description": "The person's email addresses. For `people.connections.list` and `otherContacts.list` the number of email addresses is limited to 100. If a Person has more email addresses the entire set can be obtained by calling GetPeople.",
          "items": {
            "$ref": "EmailAddress"
          },
          "type": "array"
        },
        "taglines": {
          "type": "array",
          "deprecated": true,
          "description": "Output only. **DEPRECATED**: No data will be returned The person's taglines.",
          "items": {
            "$ref": "Tagline"
          },
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Person",
      "description": "Information about a person merged from various data sources such as the authenticated user's contacts and profile data. Most fields can have multiple items. The items in a field have no guaranteed order, but each non-empty field is guaranteed to have exactly one field with `metadata.primary` set to true."
    },
    "ProfileMetadata": {
      "description": "The metadata about a profile.",
      "properties": {
        "objectType": {
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ],
          "readOnly": true,
          "description": "Output only. The profile object type.",
          "type": "string",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ]
        },
        "userTypes": {
          "items": {
            "enum": [
              "USER_TYPE_UNKNOWN",
              "GOOGLE_USER",
              "GPLUS_USER",
              "GOOGLE_APPS_USER"
            ],
            "enumDescriptions": [
              "The user type is not known.",
              "The user is a Google user.",
              "The user is a Currents user.",
              "The user is a Google Workspace user."
            ],
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The user types."
        }
      },
      "id": "ProfileMetadata",
      "type": "object"
    },
    "BatchUpdateContactsResponse": {
      "properties": {
        "updateResult": {
          "description": "A map of resource names to the contacts that were updated, unless the request `read_mask` is empty.",
          "type": "object",
          "additionalProperties": {
            "$ref": "PersonResponse"
          }
        }
      },
      "type": "object",
      "id": "BatchUpdateContactsResponse",
      "description": "If not successful, returns BatchUpdateContactsErrorDetails, a list of errors corresponding to each contact. The response to a request to update a batch of contacts."
    },
    "CalendarUrl": {
      "description": "A person's calendar URL.",
      "id": "CalendarUrl",
      "properties": {
        "metadata": {
          "description": "Metadata about the calendar URL.",
          "$ref": "FieldMetadata"
        },
        "url": {
          "type": "string",
          "description": "The calendar URL."
        },
        "type": {
          "type": "string",
          "description": "The type of the calendar URL. The type can be custom or one of these predefined values: * `home` * `freeBusy` * `work`"
        },
        "formattedType": {
          "description": "Output only. The type of the calendar URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "Residence": {
      "description": "**DEPRECATED**: Please use `person.locations` instead. A person's past or current residence.",
      "type": "object",
      "deprecated": true,
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the residence."
        },
        "value": {
          "type": "string",
          "description": "The address of the residence."
        },
        "current": {
          "description": "True if the residence is the person's current residence; false if the residence is a past residence.",
          "type": "boolean"
        }
      },
      "id": "Residence"
    },
    "UserDefined": {
      "type": "object",
      "id": "UserDefined",
      "properties": {
        "value": {
          "type": "string",
          "description": "The end user specified value of the user defined data."
        },
        "metadata": {
          "description": "Metadata about the user defined data.",
          "$ref": "FieldMetadata"
        },
        "key": {
          "description": "The end user specified key of the user defined data.",
          "type": "string"
        }
      },
      "description": "Arbitrary user data that is populated by the end users."
    },
    "UpdateContactPhotoRequest": {
      "id": "UpdateContactPhotoRequest",
      "properties": {
        "photoBytes": {
          "description": "Required. Raw photo bytes",
          "type": "string",
          "format": "byte"
        },
        "sources": {
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ],
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
        },
        "personFields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
        }
      },
      "type": "object",
      "description": "A request to update an existing contact's photo. All requests must have a valid photo format: JPEG or PNG."
    },
    "BraggingRights": {
      "type": "object",
      "description": "**DEPRECATED**: No data will be returned A person's bragging rights.",
      "id": "BraggingRights",
      "deprecated": true,
      "properties": {
        "metadata": {
          "description": "Metadata about the bragging rights.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The bragging rights; for example, `climbed mount everest`.",
          "type": "string"
        }
      }
    },
    "ModifyContactGroupMembersResponse": {
      "id": "ModifyContactGroupMembersResponse",
      "properties": {
        "notFoundResourceNames": {
          "type": "array",
          "description": "The contact people resource names that were not found.",
          "items": {
            "type": "string"
          }
        },
        "canNotRemoveLastContactGroupResourceNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The contact people resource names that cannot be removed from their last contact group."
        }
      },
      "description": "The response to a modify contact group members request.",
      "type": "object"
    },
    "CoverPhoto": {
      "properties": {
        "default": {
          "description": "True if the cover photo is the default cover photo; false if the cover photo is a user-provided cover photo.",
          "type": "boolean"
        },
        "url": {
          "description": "The URL of the cover photo.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the cover photo."
        }
      },
      "description": "A person's cover photo. A large image shown on the person's profile page that represents who they are or what they care about.",
      "id": "CoverPhoto",
      "type": "object"
    },
    "BatchCreateContactsResponse": {
      "properties": {
        "createdPeople": {
          "type": "array",
          "description": "The contacts that were created, unless the request `read_mask` is empty.",
          "items": {
            "$ref": "PersonResponse"
          }
        }
      },
      "description": "If not successful, returns BatchCreateContactsErrorDetails which contains a list of errors for each invalid contact. The response to a request to create a batch of contacts.",
      "type": "object",
      "id": "BatchCreateContactsResponse"
    },
    "Event": {
      "description": "An event related to the person.",
      "id": "Event",
      "properties": {
        "metadata": {
          "description": "Metadata about the event.",
          "$ref": "FieldMetadata"
        },
        "date": {
          "description": "The date of the event.",
          "$ref": "Date"
        },
        "type": {
          "type": "string",
          "description": "The type of the event. The type can be custom or one of these predefined values: * `anniversary` * `other`"
        },
        "formattedType": {
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ModifyContactGroupMembersRequest": {
      "id": "ModifyContactGroupMembersRequest",
      "type": "object",
      "description": "A request to modify an existing contact group's members. Contacts can be removed from any group but they can only be added to a user group or \"myContacts\" or \"starred\" system groups.",
      "properties": {
        "resourceNamesToAdd": {
          "description": "Optional. The resource names of the contact people to add in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resourceNamesToRemove": {
          "description": "Optional. The resource names of the contact people to remove in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "PhoneNumber": {
      "description": "A person's phone number.",
      "type": "object",
      "properties": {
        "canonicalForm": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf) form of the phone number."
        },
        "value": {
          "description": "The phone number.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the phone number.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "description": "The type of the phone number. The type can be custom or one of these predefined values: * `home` * `work` * `mobile` * `homeFax` * `workFax` * `otherFax` * `pager` * `workMobile` * `workPager` * `main` * `googleVoice` * `other`",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the phone number translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "PhoneNumber"
    },
    "Photo": {
      "properties": {
        "url": {
          "description": "The URL of the photo. You can change the desired size by appending a query parameter `sz={size}` at the end of the url, where {size} is the size in pixels. Example: https://lh3.googleusercontent.com/-T_wVWLlmg7w/AAAAAAAAAAI/AAAAAAAABa8/00gzXvDBYqw/s100/photo.jpg?sz=50",
          "type": "string"
        },
        "default": {
          "description": "True if the photo is a default photo; false if the photo is a user-provided photo.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Metadata about the photo.",
          "$ref": "FieldMetadata"
        }
      },
      "description": "A person's photo. A picture shown next to the person's name to help others recognize the person.",
      "type": "object",
      "id": "Photo"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/people/",
  "mtlsRootUrl": "https://people.mtls.googleapis.com/",
  "resources": {
    "contactGroups": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "path": "v1/{+resourceName}",
          "id": "people.contactGroups.get",
          "parameters": {
            "maxMembers": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Optional. Specifies the maximum number of members to return. Defaults to 0 if not set, which will return zero members."
            },
            "resourceName": {
              "required": true,
              "location": "path",
              "description": "Required. The resource name of the contact group to get.",
              "pattern": "^contactGroups/[^/]+$",
              "type": "string"
            },
            "groupFields": {
              "type": "string",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ContactGroup"
          },
          "description": "Get a specific contact group owned by the authenticated user by specifying a contact group resource name.",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "parameterOrder": [
            "resourceName"
          ],
          "flatPath": "v1/contactGroups/{contactGroupsId}"
        },
        "list": {
          "flatPath": "v1/contactGroups",
          "description": "List all contact groups owned by the authenticated user. Members of the contact groups are not populated.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. The next_page_token value returned from a previous call to [ListContactGroups](/people/api/rest/v1/contactgroups/list). Requests the next page of resources."
            },
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A sync token, returned by a previous call to `contactgroups.list`. Only resources changed since the sync token was created will be returned."
            },
            "pageSize": {
              "description": "Optional. The maximum number of resources to return. Valid values are between 1 and 1000, inclusive. Defaults to 30 if not set or set to 0.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "groupFields": {
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "parameterOrder": [],
          "path": "v1/contactGroups",
          "response": {
            "$ref": "ListContactGroupsResponse"
          },
          "id": "people.contactGroups.list"
        },
        "create": {
          "parameters": {},
          "request": {
            "$ref": "CreateContactGroupRequest"
          },
          "httpMethod": "POST",
          "id": "people.contactGroups.create",
          "flatPath": "v1/contactGroups",
          "description": "Create a new contact group owned by the authenticated user. Created contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "path": "v1/contactGroups",
          "response": {
            "$ref": "ContactGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameterOrder": []
        },
        "batchGet": {
          "flatPath": "v1/contactGroups:batchGet",
          "id": "people.contactGroups.batchGet",
          "description": "Get a list of contact groups owned by the authenticated user by specifying a list of contact group resource names.",
          "path": "v1/contactGroups:batchGet",
          "response": {
            "$ref": "BatchGetContactGroupsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "parameters": {
            "maxMembers": {
              "type": "integer",
              "location": "query",
              "description": "Optional. Specifies the maximum number of members to return for each group. Defaults to 0 if not set, which will return zero members.",
              "format": "int32"
            },
            "resourceNames": {
              "type": "string",
              "description": "Required. The resource names of the contact groups to get. There is a maximum of 200 resource names.",
              "location": "query",
              "repeated": true
            },
            "groupFields": {
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          }
        },
        "delete": {
          "parameters": {
            "deleteContacts": {
              "location": "query",
              "description": "Optional. Set to true to also delete the contacts in the specified group.",
              "type": "boolean"
            },
            "resourceName": {
              "type": "string",
              "description": "Required. The resource name of the contact group to delete.",
              "required": true,
              "pattern": "^contactGroups/[^/]+$",
              "location": "path"
            }
          },
          "id": "people.contactGroups.delete",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Delete an existing contact group owned by the authenticated user by specifying a contact group resource name. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "path": "v1/{+resourceName}"
        },
        "update": {
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Update the name of an existing contact group owned by the authenticated user. Updated contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "id": "people.contactGroups.update",
          "request": {
            "$ref": "UpdateContactGroupRequest"
          },
          "path": "v1/{+resourceName}",
          "response": {
            "$ref": "ContactGroup"
          },
          "httpMethod": "PUT",
          "parameters": {
            "resourceName": {
              "required": true,
              "pattern": "^contactGroups/[^/]+$",
              "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ]
        }
      },
      "resources": {
        "members": {
          "methods": {
            "modify": {
              "path": "v1/{+resourceName}/members:modify",
              "flatPath": "v1/contactGroups/{contactGroupsId}/members:modify",
              "description": "Modify the members of a contact group owned by the authenticated user. The only system contact groups that can have members added are `contactGroups/myContacts` and `contactGroups/starred`. Other system contact groups are deprecated and can only have contacts removed.",
              "id": "people.contactGroups.members.modify",
              "request": {
                "$ref": "ModifyContactGroupMembersRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/contacts"
              ],
              "parameterOrder": [
                "resourceName"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "ModifyContactGroupMembersResponse"
              },
              "parameters": {
                "resourceName": {
                  "type": "string",
                  "pattern": "^contactGroups/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the contact group to modify."
                }
              }
            }
          }
        }
      }
    },
    "people": {
      "methods": {
        "batchUpdateContacts": {
          "response": {
            "$ref": "BatchUpdateContactsResponse"
          },
          "parameterOrder": [],
          "description": "Update a batch of contacts and return a map of resource names to PersonResponses for the updated contacts. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "id": "people.people.batchUpdateContacts",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "request": {
            "$ref": "BatchUpdateContactsRequest"
          },
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "v1/people:batchUpdateContacts",
          "path": "v1/people:batchUpdateContacts"
        },
        "batchDeleteContacts": {
          "id": "people.people.batchDeleteContacts",
          "httpMethod": "POST",
          "flatPath": "v1/people:batchDeleteContacts",
          "request": {
            "$ref": "BatchDeleteContactsRequest"
          },
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "description": "Delete a batch of contacts. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "path": "v1/people:batchDeleteContacts",
          "response": {
            "$ref": "Empty"
          }
        },
        "searchContacts": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "description": "Provides a list of contacts in the authenticated user's grouped contacts that matches the search query. The query matches on a contact's `names`, `nickNames`, `emailAddresses`, `phoneNumbers`, and `organizations` fields that are from the CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/contacts#search_the_users_contacts",
          "path": "v1/people:searchContacts",
          "id": "people.people.searchContacts",
          "response": {
            "$ref": "SearchResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "query": {
              "location": "query",
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\".",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30.",
              "format": "int32",
              "location": "query"
            },
            "readMask": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "type": "string"
            },
            "sources": {
              "enum": [
[...]
