{
  "baseUrl": "https://people.googleapis.com/",
  "version": "v1",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "version_module": true,
  "batchPath": "batch",
  "revision": "20260909",
  "documentationLink": "https://developers.google.com/people/",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "description": "Provides access to information about profiles and contacts.",
  "basePath": "",
  "rootUrl": "https://people.googleapis.com/",
  "mtlsRootUrl": "https://people.mtls.googleapis.com/",
  "canonicalName": "People Service",
  "schemas": {
    "FieldMetadata": {
      "description": "Metadata about a field.",
      "properties": {
        "primary": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if the field is the primary field for all sources in the person. Each person will have at most one field with `primary` set to true."
        },
        "verified": {
          "readOnly": true,
          "description": "Output only. True if the field is verified; false if the field is unverified. A verified field is typically a name, email address, phone number, or website that has been confirmed to be owned by the person.",
          "type": "boolean"
        },
        "source": {
          "$ref": "Source",
          "description": "The source of the field."
        },
        "sourcePrimary": {
          "type": "boolean",
          "description": "True if the field is the primary field for the source. Each source must have at most one field with `source_primary` set to true."
        }
      },
      "type": "object",
      "id": "FieldMetadata"
    },
    "Url": {
      "type": "object",
      "description": "A person's associated URLs.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the URL. The type can be custom or one of these predefined values: * `home` * `work` * `blog` * `profile` * `homePage` * `ftp` * `reservations` * `appInstallPage`: website for a Currents application. * `other`"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the URL."
        },
        "value": {
          "description": "The URL.",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Url"
    },
    "ListOtherContactsResponse": {
      "id": "ListOtherContactsResponse",
      "properties": {
        "totalSize": {
          "description": "The total number of other contacts in the list without pagination.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token.",
          "type": "string"
        },
        "otherContacts": {
          "type": "array",
          "items": {
            "$ref": "Person"
          },
          "description": "The list of \"Other contacts\" returned as Person resources. \"Other contacts\" support a limited subset of fields. See ListOtherContactsRequest.request_mask for more detailed information."
        }
      },
      "description": "The response to a request for the authenticated user's \"Other contacts\".",
      "type": "object"
    },
    "Nickname": {
      "id": "Nickname",
      "properties": {
        "type": {
          "enum": [
            "DEFAULT",
            "MAIDEN_NAME",
            "INITIALS",
            "GPLUS",
            "OTHER_NAME",
            "ALTERNATE_NAME",
            "SHORT_NAME"
          ],
          "enumDescriptions": [
            "Generic nickname.",
            "Maiden name or birth family name. Used when the person's family name has changed as a result of marriage.",
            "Initials.",
            "Google+ profile nickname.",
            "A professional affiliation or other name; for example, `Dr. Smith.`",
            "Alternate name person is known by.",
            "A shorter version of the person's name."
          ],
          "type": "string",
          "description": "The type of the nickname.",
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            true,
            false,
            true
          ]
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the nickname."
        },
        "value": {
          "type": "string",
          "description": "The nickname."
        }
      },
      "description": "A person's nickname.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "DomainMembership": {
      "description": "A Google Workspace Domain membership.",
      "type": "object",
      "properties": {
        "inViewerDomain": {
          "description": "True if the person is in the viewer's Google Workspace domain.",
          "type": "boolean"
        }
      },
      "id": "DomainMembership"
    },
    "Gender": {
      "type": "object",
      "description": "A person's gender.",
      "id": "Gender",
      "properties": {
        "formattedValue": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The value of the gender translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale. Unspecified or custom value are not localized."
        },
        "value": {
          "type": "string",
          "description": "The gender for the person. The gender can be custom or one of these predefined values: * `male` * `female` * `unspecified`"
        },
        "metadata": {
          "description": "Metadata about the gender.",
          "$ref": "FieldMetadata"
        },
        "addressMeAs": {
          "type": "string",
          "description": "Free form text field for pronouns that should be used to address the person. Common values are: * `he`/`him` * `she`/`her` * `they`/`them`"
        }
      }
    },
    "Locale": {
      "id": "Locale",
      "description": "A person's locale preference.",
      "properties": {
        "value": {
          "description": "The well-formed [IETF BCP 47](https://tools.ietf.org/html/bcp47) language tag representing the locale.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the locale."
        }
      },
      "type": "object"
    },
    "CopyOtherContactToMyContactsGroupRequest": {
      "type": "object",
      "description": "A request to copy an \"Other contact\" to my contacts group.",
      "properties": {
        "copyMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. A field mask to restrict which fields are copied into the new contact. Valid values are: * emailAddresses * names * phoneNumbers"
        },
        "sources": {
          "items": {
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
        },
        "readMask": {
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to the copy mask with metadata and membership fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "CopyOtherContactToMyContactsGroupRequest"
    },
    "BatchCreateContactsResponse": {
      "type": "object",
      "description": "If not successful, returns BatchCreateContactsErrorDetails which contains a list of errors for each invalid contact. The response to a request to create a batch of contacts.",
      "properties": {
        "createdPeople": {
          "type": "array",
          "description": "The contacts that were created, unless the request `read_mask` is empty.",
          "items": {
            "$ref": "PersonResponse"
          }
        }
      },
      "id": "BatchCreateContactsResponse"
    },
    "GroupClientData": {
      "id": "GroupClientData",
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The client specified value of the client data.",
          "type": "string"
        },
        "key": {
          "description": "The client specified key of the client data.",
          "type": "string"
        }
      }
    },
    "Name": {
      "id": "Name",
      "description": "A person's name. If the name is a mononym, the family name is empty.",
      "type": "object",
      "properties": {
        "givenName": {
          "type": "string",
          "description": "The given name."
        },
        "phoneticHonorificPrefix": {
          "description": "The honorific prefixes spelled as they sound.",
          "type": "string"
        },
        "honorificSuffix": {
          "description": "The honorific suffixes, such as `Jr.`",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the name.",
          "$ref": "FieldMetadata"
        },
        "honorificPrefix": {
          "description": "The honorific prefixes, such as `Mrs.` or `Dr.`",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The display name formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header.",
          "type": "string",
          "readOnly": true
        },
        "phoneticHonorificSuffix": {
          "description": "The honorific suffixes spelled as they sound.",
          "type": "string"
        },
        "middleName": {
          "description": "The middle name(s).",
          "type": "string"
        },
        "phoneticGivenName": {
          "description": "The given name spelled as it sounds.",
          "type": "string"
        },
        "familyName": {
          "description": "The family name.",
          "type": "string"
        },
        "unstructuredName": {
          "description": "The free form name value.",
          "type": "string"
        },
        "phoneticMiddleName": {
          "description": "The middle name(s) spelled as they sound.",
          "type": "string"
        },
        "phoneticFullName": {
          "description": "The full name spelled as it sounds.",
          "type": "string"
        },
        "phoneticFamilyName": {
          "type": "string",
          "description": "The family name spelled as it sounds."
        },
        "displayNameLastFirst": {
          "description": "Output only. The display name with the last name first formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UpdateContactPhotoResponse": {
      "id": "UpdateContactPhotoResponse",
      "type": "object",
      "description": "The response for updating a contact's photo.",
      "properties": {
        "person": {
          "description": "The updated person, if person_fields is set in the UpdateContactPhotoRequest; otherwise this will be unset.",
          "$ref": "Person"
        }
      }
    },
    "Location": {
      "id": "Location",
      "properties": {
        "deskCode": {
          "type": "string",
          "description": "The individual desk location."
        },
        "value": {
          "type": "string",
          "description": "The free-form value of the location."
        },
        "buildingId": {
          "description": "The building identifier.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the location."
        },
        "type": {
          "type": "string",
          "description": "The type of the location. The type can be custom or one of these predefined values: * `desk` * `grewUp`"
        },
        "floor": {
          "description": "The floor name or number.",
          "type": "string"
        },
        "current": {
          "type": "boolean",
          "description": "Whether the location is the current location."
        },
        "floorSection": {
          "description": "The floor section in `floor_name`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A person's location."
    },
    "ContactGroupMetadata": {
      "type": "object",
      "id": "ContactGroupMetadata",
      "description": "The metadata about a contact group.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the group was last updated.",
          "format": "google-datetime"
        },
        "deleted": {
          "readOnly": true,
          "description": "Output only. True if the contact group resource has been deleted. Populated only for [`ListContactGroups`](/people/api/rest/v1/contactgroups/list) requests that include a sync token.",
          "type": "boolean"
        }
      }
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Membership": {
      "id": "Membership",
      "description": "A person's membership in a group. Only contact group memberships can be modified.",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the membership."
        },
        "domainMembership": {
          "$ref": "DomainMembership",
          "readOnly": true,
          "description": "Output only. The domain membership."
        },
        "contactGroupMembership": {
          "description": "The contact group membership.",
          "$ref": "ContactGroupMembership"
        }
      },
      "type": "object"
    },
    "UpdateContactPhotoRequest": {
      "description": "A request to update an existing contact's photo. All requests must have a valid photo format: JPEG or PNG.",
      "properties": {
        "personFields": {
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "type": "string",
          "format": "google-fieldmask"
        },
        "photoBytes": {
          "type": "string",
          "format": "byte",
          "description": "Required. Raw photo bytes"
        },
        "sources": {
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "type": "array",
          "items": {
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ]
          }
        }
      },
      "id": "UpdateContactPhotoRequest",
      "type": "object"
    },
    "BraggingRights": {
      "deprecated": true,
      "id": "BraggingRights",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the bragging rights."
        },
        "value": {
          "description": "The bragging rights; for example, `climbed mount everest`.",
          "type": "string"
        }
      },
      "description": "**DEPRECATED**: No data will be returned A person's bragging rights."
    },
    "GetPeopleResponse": {
      "properties": {
        "responses": {
          "description": "The response for each requested resource name.",
          "items": {
            "$ref": "PersonResponse"
          },
          "type": "array"
        }
      },
      "description": "The response to a get request for a list of people by resource name.",
      "type": "object",
      "id": "GetPeopleResponse"
    },
    "Date": {
      "properties": {
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "id": "Date"
    },
    "SearchResult": {
      "id": "SearchResult",
      "type": "object",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The matched Person."
        }
      },
      "description": "A result of a search query."
    },
    "ProfileMetadata": {
      "description": "The metadata about a profile.",
      "properties": {
        "userTypes": {
          "items": {
            "type": "string",
            "enum": [
              "USER_TYPE_UNKNOWN",
              "GOOGLE_USER",
              "GPLUS_USER",
              "GOOGLE_APPS_USER"
            ],
            "enumDescriptions": [
              "The user type is not known.",
              "The user is a Google user.",
              "The user is a Currents user.",
              "The user is a Google Workspace user."
            ]
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The user types."
        },
        "objectType": {
          "readOnly": true,
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "type": "string",
          "description": "Output only. The profile object type.",
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ]
        }
      },
      "type": "object",
      "id": "ProfileMetadata"
    },
    "Relation": {
      "properties": {
        "person": {
          "description": "The name of the other person this relation refers to.",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the relation translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The person's relation to the other person. The type can be custom or one of these predefined values: * `spouse` * `child` * `mother` * `father` * `parent` * `brother` * `sister` * `friend` * `relative` * `domesticPartner` * `manager` * `assistant` * `referredBy` * `partner`",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relation."
        }
      },
      "id": "Relation",
      "description": "A person's relation to another person.",
      "type": "object"
    },
    "RelationshipStatus": {
      "description": "**DEPRECATED**: No data will be returned A person's relationship status.",
      "type": "object",
      "deprecated": true,
      "id": "RelationshipStatus",
      "properties": {
        "formattedValue": {
          "readOnly": true,
          "description": "Output only. The value of the relationship status translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "value": {
          "description": "The relationship status. The value can be custom or one of these predefined values: * `single` * `inARelationship` * `engaged` * `married` * `itsComplicated` * `openRelationship` * `widowed` * `inDomesticPartnership` * `inCivilUnion`",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the relationship status.",
          "$ref": "FieldMetadata"
        }
      }
    },
    "Residence": {
      "properties": {
        "current": {
          "description": "True if the residence is the person's current residence; false if the residence is a past residence.",
          "type": "boolean"
        },
        "value": {
          "description": "The address of the residence.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the residence."
        }
      },
      "description": "**DEPRECATED**: Please use `person.locations` instead. A person's past or current residence.",
      "id": "Residence",
      "deprecated": true,
      "type": "object"
    },
    "Event": {
      "id": "Event",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the event. The type can be custom or one of these predefined values: * `anniversary` * `other`",
          "type": "string"
        },
        "formattedType": {
          "readOnly": true,
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the event.",
          "$ref": "FieldMetadata"
        },
        "date": {
          "description": "The date of the event.",
          "$ref": "Date"
        }
      },
      "description": "An event related to the person."
    },
    "ModifyContactGroupMembersResponse": {
      "description": "The response to a modify contact group members request.",
      "properties": {
        "notFoundResourceNames": {
          "items": {
            "type": "string"
          },
          "description": "The contact people resource names that were not found.",
          "type": "array"
        },
        "canNotRemoveLastContactGroupResourceNames": {
          "type": "array",
          "description": "The contact people resource names that cannot be removed from their last contact group.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ModifyContactGroupMembersResponse"
    },
    "ListContactGroupsResponse": {
      "type": "object",
      "id": "ListContactGroupsResponse",
      "properties": {
        "contactGroups": {
          "type": "array",
          "description": "The list of contact groups. Members of the contact groups are not populated.",
          "items": {
            "$ref": "ContactGroup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used to retrieve the next page of results."
        },
        "nextSyncToken": {
          "description": "The token that can be used to retrieve changes since the last request.",
          "type": "string"
        },
        "totalItems": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of items in the list without pagination."
        }
      },
      "description": "The response to a list contact groups request."
    },
    "BatchGetContactGroupsResponse": {
      "id": "BatchGetContactGroupsResponse",
      "type": "object",
      "properties": {
        "responses": {
          "description": "The list of responses for each requested contact group resource.",
          "items": {
            "$ref": "ContactGroupResponse"
          },
          "type": "array"
        }
      },
      "description": "The response to a batch get contact groups request."
    },
    "UpdateContactGroupRequest": {
      "description": "A request to update an existing user contact group. All updated fields will be replaced.",
      "properties": {
        "updateGroupFields": {
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the group are updated. Multiple fields can be specified by separating them with commas. Defaults to `name` if not set or set to empty. Updated fields are replaced. Valid values are: * clientData * name",
          "format": "google-fieldmask"
        },
        "readGroupFields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name"
        },
        "contactGroup": {
          "description": "Required. The contact group to update.",
          "$ref": "ContactGroup"
        }
      },
      "type": "object",
      "id": "UpdateContactGroupRequest"
    },
    "Interest": {
      "type": "object",
      "description": "One of the person's interests.",
      "id": "Interest",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the interest."
        },
        "value": {
          "description": "The interest; for example, `stargazing`.",
          "type": "string"
        }
      }
    },
    "Source": {
      "id": "Source",
      "description": "The source of a field.",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. **Only populated in `person.metadata.sources`.** Last update timestamp of this source.",
          "format": "google-datetime",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "[Google Account](https://accounts.google.com).",
            "[Google profile](https://profiles.google.com). You can view the profile at [https://profiles.google.com/](https://profiles.google.com/){id}, where {id} is the source id.",
            "[Google Workspace domain profile](https://support.google.com/a/answer/1628008).",
            "[Google contact](https://contacts.google.com). You can view the contact at [https://contact.google.com/](https://contact.google.com/){id}, where {id} is the source id.",
            "[Google \"Other contact\"](https://contacts.google.com/other).",
            "[Google Workspace domain shared contact](https://support.google.com/a/answer/9281635)."
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ACCOUNT",
            "PROFILE",
            "DOMAIN_PROFILE",
            "CONTACT",
            "OTHER_CONTACT",
            "DOMAIN_CONTACT"
          ],
          "type": "string",
          "description": "The source type."
        },
        "id": {
          "type": "string",
          "description": "The unique identifier within the source type generated by the server."
        },
        "etag": {
          "description": "**Only populated in `person.metadata.sources`.** The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the source. Used for web cache validation.",
          "type": "string"
        },
        "profileMetadata": {
          "description": "Output only. **Only populated in `person.metadata.sources`.** Metadata about a source of type PROFILE.",
          "readOnly": true,
          "$ref": "ProfileMetadata"
        }
      }
    },
    "ListDirectoryPeopleResponse": {
      "description": "The response to a request for the authenticated user's domain directory.",
      "type": "object",
      "id": "ListDirectoryPeopleResponse",
      "properties": {
        "people": {
          "type": "array",
          "description": "The list of people in the domain directory.",
          "items": {
            "$ref": "Person"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token."
        }
      }
    },
    "SearchResponse": {
      "description": "The response to a search request for the authenticated user, given a query.",
      "type": "object",
      "id": "SearchResponse",
      "properties": {
        "results": {
          "items": {
            "$ref": "SearchResult"
          },
          "type": "array",
          "description": "The results of the request."
        }
      }
    },
    "DeleteContactPhotoResponse": {
      "id": "DeleteContactPhotoResponse",
      "type": "object",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The updated person, if person_fields is set in the DeleteContactPhotoRequest; otherwise this will be unset."
        }
      },
      "description": "The response for deleting a contact's photo."
    },
    "Birthday": {
      "properties": {
        "text": {
          "deprecated": true,
          "description": "Prefer to use the `date` field if set. A free-form string representing the user's birthday. This value is not validated.",
          "type": "string"
        },
        "date": {
          "$ref": "Date",
          "description": "The structured date of the birthday."
        },
        "metadata": {
          "description": "Metadata about the birthday.",
          "$ref": "FieldMetadata"
        }
      },
      "description": "A person's birthday. At least one of the `date` and `text` fields are specified. The `date` and `text` fields typically represent the same date, but are not guaranteed to. Clients should always set the `date` field when mutating birthdays.",
      "id": "Birthday",
      "type": "object"
    },
    "AgeRangeType": {
      "type": "object",
      "description": "A person's age range.",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the age range."
        },
        "ageRange": {
          "description": "The age range.",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ]
        }
      },
      "id": "AgeRangeType"
    },
    "BatchCreateContactsRequest": {
      "type": "object",
      "properties": {
        "readMask": {
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields on each person are returned in the response. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "type": "string"
        },
        "sources": {
          "description": "Optional. A mask of what source types to return in the post mutate read. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ],
            "type": "string",
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ]
          },
          "type": "array"
        },
        "contacts": {
          "description": "Required. The contact to create. Allows up to 200 contacts in a single request.",
          "items": {
            "$ref": "ContactToCreate"
          },
          "type": "array"
        }
      },
      "description": "A request to create a batch of contacts.",
      "id": "BatchCreateContactsRequest"
    },
    "ExternalId": {
      "id": "ExternalId",
      "description": "An identifier from an external entity related to the person.",
      "properties": {
        "type": {
          "description": "The type of the external ID. The type can be custom or one of these predefined values: * `account` * `customer` * `loginId` * `network` * `organization`",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "value": {
          "description": "The value of the external ID.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the external ID.",
          "$ref": "FieldMetadata"
        }
      },
      "type": "object"
    },
    "FileAs": {
      "description": "The name that should be used to sort the person in a list.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The file-as value"
        },
        "metadata": {
          "description": "Metadata about the file-as.",
          "$ref": "FieldMetadata"
        }
      },
      "type": "object",
      "id": "FileAs"
    },
    "PersonMetadata": {
      "description": "The metadata about a person.",
      "type": "object",
      "id": "PersonMetadata",
      "properties": {
        "previousResourceNames": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Any former resource names this person has had. Populated only for `people.connections.list` requests that include a sync token. The resource name may change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or profile URL.",
          "items": {
            "type": "string"
          }
        },
        "objectType": {
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ],
          "deprecated": true,
          "type": "string",
          "readOnly": true,
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "description": "Output only. **DEPRECATED** (Please use `person.metadata.sources.profileMetadata.objectType` instead) The type of the person object."
        },
        "deleted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if the person resource has been deleted. Populated only for `people.connections.list` and `otherContacts.list` sync requests."
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array",
          "description": "The sources of data for the person."
        },
        "linkedPeopleResourceNames": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Resource names of people linked to this resource.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Person": {
      "id": "Person",
      "properties": {
        "residences": {
          "deprecated": true,
          "description": "**DEPRECATED**: (Please use `person.locations` instead) The person's residences.",
          "type": "array",
          "items": {
            "$ref": "Residence"
          }
        },
        "fileAses": {
          "description": "The person's file-ases.",
          "type": "array",
          "items": {
            "$ref": "FileAs"
          }
        },
        "relationshipStatuses": {
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship statuses.",
          "items": {
            "$ref": "RelationshipStatus"
          },
          "readOnly": true,
          "deprecated": true,
          "type": "array"
        },
        "braggingRights": {
          "deprecated": true,
          "description": "**DEPRECATED**: No data will be returned The person's bragging rights.",
          "items": {
            "$ref": "BraggingRights"
          },
          "type": "array"
        },
        "userDefined": {
          "type": "array",
          "description": "The person's user defined data.",
          "items": {
            "$ref": "UserDefined"
          }
        },
        "taglines": {
          "items": {
            "$ref": "Tagline"
          },
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. **DEPRECATED**: No data will be returned The person's taglines.",
          "type": "array"
        },
        "phoneNumbers": {
          "type": "array",
          "items": {
            "$ref": "PhoneNumber"
          },
          "description": "The person's phone numbers. For `people.connections.list` and `otherContacts.list` the number of phone numbers is limited to 100. If a Person has more phone numbers the entire set can be obtained by calling GetPeople."
        },
        "photos": {
          "description": "Output only. The person's photos.",
          "items": {
            "$ref": "Photo"
          },
          "type": "array",
          "readOnly": true
        },
        "sipAddresses": {
          "items": {
            "$ref": "SipAddress"
          },
          "description": "The person's SIP addresses.",
          "type": "array"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "The person's locations."
        },
        "organizations": {
          "type": "array",
          "items": {
            "$ref": "Organization"
          },
          "description": "The person's past or current organizations."
        },
        "relationshipInterests": {
          "type": "array",
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship interests.",
          "readOnly": true,
          "deprecated": true,
          "items": {
            "$ref": "RelationshipInterest"
          }
        },
        "genders": {
          "items": {
            "$ref": "Gender"
          },
          "type": "array",
          "description": "The person's genders. This field is a singleton for contact sources."
        },
        "addresses": {
          "description": "The person's street addresses.",
          "items": {
            "$ref": "Address"
          },
          "type": "array"
        },
        "ageRange": {
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "description": "Output only. **DEPRECATED** (Please use `person.ageRanges` instead) The person's age range.",
          "readOnly": true
        },
        "ageRanges": {
          "description": "Output only. The person's age ranges.",
          "items": {
            "$ref": "AgeRangeType"
          },
          "type": "array",
          "readOnly": true
        },
        "nicknames": {
          "description": "The person's nicknames.",
          "type": "array",
          "items": {
            "$ref": "Nickname"
          }
        },
        "occupations": {
          "items": {
            "$ref": "Occupation"
          },
          "description": "The person's occupations.",
          "type": "array"
        },
        "coverPhotos": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The person's cover photos.",
          "items": {
            "$ref": "CoverPhoto"
          }
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "urls": {
          "items": {
            "$ref": "Url"
          },
          "description": "The person's associated URLs.",
          "type": "array"
        },
        "birthdays": {
          "description": "The person's birthdays. This field is a singleton for contact sources.",
          "type": "array",
          "items": {
            "$ref": "Birthday"
          }
        },
        "resourceName": {
          "description": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`.",
          "type": "string"
        },
        "biographies": {
          "items": {
            "$ref": "Biography"
          },
          "description": "The person's biographies. This field is a singleton for contact sources.",
          "type": "array"
        },
        "clientData": {
          "items": {
            "$ref": "ClientData"
          },
          "type": "array",
          "description": "The person's client data."
        },
        "calendarUrls": {
          "items": {
            "$ref": "CalendarUrl"
          },
          "type": "array",
          "description": "The person's calendar URLs."
        },
        "names": {
          "items": {
            "$ref": "Name"
          },
          "description": "The person's names. This field is a singleton for contact sources.",
          "type": "array"
        },
        "interests": {
          "items": {
            "$ref": "Interest"
          },
          "description": "The person's interests.",
          "type": "array"
        },
        "relations": {
          "description": "The person's relations.",
          "type": "array",
          "items": {
            "$ref": "Relation"
          }
        },
        "events": {
          "items": {
            "$ref": "Event"
          },
          "type": "array",
          "description": "The person's events."
        },
        "memberships": {
          "items": {
            "$ref": "Membership"
          },
          "type": "array",
          "description": "The person's group memberships."
        },
        "externalIds": {
          "items": {
            "$ref": "ExternalId"
          },
          "type": "array",
          "description": "The person's external IDs."
        },
        "imClients": {
          "type": "array",
          "items": {
            "$ref": "ImClient"
          },
          "description": "The person's instant messaging clients."
        },
        "metadata": {
          "$ref": "PersonMetadata",
          "readOnly": true,
          "description": "Output only. Metadata about the person."
        },
        "locales": {
          "items": {
            "$ref": "Locale"
          },
          "type": "array",
          "description": "The person's locale preferences."
        },
        "miscKeywords": {
          "type": "array",
          "items": {
            "$ref": "MiscKeyword"
          },
          "description": "The person's miscellaneous keywords."
        },
        "emailAddresses": {
          "type": "array",
          "items": {
            "$ref": "EmailAddress"
          },
          "description": "The person's email addresses. For `people.connections.list` and `otherContacts.list` the number of email addresses is limited to 100. If a Person has more email addresses the entire set can be obtained by calling GetPeople."
        },
        "skills": {
          "description": "The person's skills.",
          "type": "array",
          "items": {
            "$ref": "Skill"
          }
        }
      },
      "description": "Information about a person merged from various data sources such as the authenticated user's contacts and profile data. Most fields can have multiple items. The items in a field have no guaranteed order, but each non-empty field is guaranteed to have exactly one field with `metadata.primary` set to true.",
      "type": "object"
    },
    "PersonResponse": {
      "description": "The response for a single person",
      "properties": {
        "requestedResourceName": {
          "type": "string",
          "description": "The original requested resource name. May be different than the resource name on the returned person. The resource name can change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or a profile URL."
        },
        "person": {
          "description": "The person.",
          "$ref": "Person"
        },
        "status": {
          "description": "The status of the response.",
          "$ref": "Status"
        },
        "httpStatusCode": {
          "description": "**DEPRECATED** (Please use status instead) [HTTP 1.1 status code] (http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html).",
          "type": "integer",
          "format": "int32",
          "deprecated": true
        }
      },
      "type": "object",
      "id": "PersonResponse"
    },
    "Skill": {
      "description": "A skill that the person has.",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the skill."
        },
        "value": {
          "type": "string",
          "description": "The skill; for example, `underwater basket weaving`."
        }
      },
      "id": "Skill",
      "type": "object"
    },
    "CoverPhoto": {
      "id": "CoverPhoto",
      "properties": {
        "metadata": {
          "description": "Metadata about the cover photo.",
          "$ref": "FieldMetadata"
        },
        "default": {
          "type": "boolean",
          "description": "True if the cover photo is the default cover photo; false if the cover photo is a user-provided cover photo."
        },
        "url": {
          "description": "The URL of the cover photo.",
          "type": "string"
        }
      },
      "description": "A person's cover photo. A large image shown on the person's profile page that represents who they are or what they care about.",
      "type": "object"
    },
    "MiscKeyword": {
      "description": "A person's miscellaneous keyword.",
      "id": "MiscKeyword",
      "properties": {
        "value": {
          "description": "The value of the miscellaneous keyword.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "OUTLOOK_BILLING_INFORMATION",
            "OUTLOOK_DIRECTORY_SERVER",
            "OUTLOOK_KEYWORD",
            "OUTLOOK_MILEAGE",
            "OUTLOOK_PRIORITY",
            "OUTLOOK_SENSITIVITY",
            "OUTLOOK_SUBJECT",
            "OUTLOOK_USER",
            "HOME",
            "WORK",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Outlook field for billing information.",
            "Outlook field for directory server.",
            "Outlook field for keyword.",
            "Outlook field for mileage.",
            "Outlook field for priority.",
            "Outlook field for sensitivity.",
            "Outlook field for subject.",
            "Outlook field for user.",
            "Home.",
            "Work.",
            "Other."
          ],
          "description": "The miscellaneous keyword type.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the miscellaneous keyword."
        },
        "formattedType": {
          "description": "Output only. The type of the miscellaneous keyword translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Biography": {
      "properties": {
        "contentType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Plain text.",
            "HTML text."
          ],
          "description": "The content type of the biography.",
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "TEXT_PLAIN",
            "TEXT_HTML"
          ]
        },
        "value": {
          "description": "The short biography.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the biography."
        }
      },
      "description": "A person's short biography.",
      "id": "Biography",
      "type": "object"
    },
    "BatchUpdateContactsResponse": {
      "type": "object",
      "id": "BatchUpdateContactsResponse",
      "description": "If not successful, returns BatchUpdateContactsErrorDetails, a list of errors corresponding to each contact. The response to a request to update a batch of contacts.",
      "properties": {
        "updateResult": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PersonResponse"
          },
          "description": "A map of resource names to the contacts that were updated, unless the request `read_mask` is empty."
        }
      }
    },
    "ContactToCreate": {
      "type": "object",
      "id": "ContactToCreate",
      "description": "A wrapper that contains the person data to populate a newly created source.",
      "properties": {
        "contactPerson": {
          "description": "Required. The person data to populate a newly created source.",
          "$ref": "Person"
        }
      }
    },
    "ModifyContactGroupMembersRequest": {
      "id": "ModifyContactGroupMembersRequest",
      "properties": {
        "resourceNamesToRemove": {
          "type": "array",
          "description": "Optional. The resource names of the contact people to remove in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000.",
          "items": {
            "type": "string"
          }
        },
        "resourceNamesToAdd": {
          "description": "Optional. The resource names of the contact people to add in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A request to modify an existing contact group's members. Contacts can be removed from any group but they can only be added to a user group or \"myContacts\" or \"starred\" system groups.",
      "type": "object"
    },
    "BatchUpdateContactsRequest": {
      "properties": {
        "contacts": {
          "additionalProperties": {
            "$ref": "Person"
          },
          "type": "object",
          "description": "Required. A map of resource names to the person data to be updated. Allows up to 200 contacts in a single request."
        },
        "sources": {
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "type": "array",
          "items": {
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ],
            "type": "string"
          }
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All specified fields will be replaced, or cleared if left empty for each person. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined",
          "type": "string"
        },
        "readMask": {
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A request to update a batch of contacts.",
      "id": "BatchUpdateContactsRequest"
    },
    "CreateContactGroupRequest": {
      "id": "CreateContactGroupRequest",
      "properties": {
        "readGroupFields": {
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * metadata * name",
          "format": "google-fieldmask",
          "type": "string"
        },
        "contactGroup": {
          "$ref": "ContactGroup",
          "description": "Required. The contact group to create."
        }
      },
      "description": "A request to create a new contact group.",
      "type": "object"
    },
    "Tagline": {
      "id": "Tagline",
      "description": "**DEPRECATED**: No data will be returned A brief one-line description of the person.",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the tagline."
        },
        "value": {
          "type": "string",
          "description": "The tagline."
        }
      },
      "deprecated": true,
      "type": "object"
    },
    "SipAddress": {
      "description": "A person's SIP address. Session Initial Protocol addresses are used for VoIP communications to make voice or video calls over the internet.",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the SIP address."
        },
        "value": {
          "type": "string",
          "description": "The SIP address in the [RFC 3261 19.1](https://tools.ietf.org/html/rfc3261#section-19.1) SIP URI format."
        },
        "type": {
          "description": "The type of the SIP address. The type can be custom or or one of these predefined values: * `home` * `work` * `mobile` * `other`",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the SIP address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "SipAddress"
    },
    "BatchDeleteContactsRequest": {
      "id": "BatchDeleteContactsRequest",
      "properties": {
        "resourceNames": {
          "description": "Required. The resource names of the contact to delete. It's repeatable. Allows up to 500 resource names in a single request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A request to delete a batch of existing contacts.",
      "type": "object"
    },
    "UserDefined": {
      "type": "object",
      "properties": {
        "key": {
          "description": "The end user specified key of the user defined data.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the user defined data.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The end user specified value of the user defined data.",
          "type": "string"
        }
      },
      "id": "UserDefined",
      "description": "Arbitrary user data that is populated by the end users."
    },
    "ContactGroupResponse": {
      "properties": {
        "requestedResourceName": {
          "description": "The original requested resource name.",
          "type": "string"
        },
        "contactGroup": {
          "description": "The contact group.",
          "$ref": "ContactGroup"
        },
        "status": {
          "description": "The status of the response.",
          "$ref": "Status"
        }
      },
      "id": "ContactGroupResponse",
      "description": "The response for a specific contact group.",
      "type": "object"
    },
    "RelationshipInterest": {
      "properties": {
        "value": {
          "description": "The kind of relationship the person is looking for. The value can be custom or one of these predefined values: * `friend` * `date` * `relationship` * `networking`",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the relationship interest.",
          "$ref": "FieldMetadata"
        },
        "formattedValue": {
          "description": "Output only. The value of the relationship interest translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "RelationshipInterest",
      "type": "object",
      "description": "**DEPRECATED**: No data will be returned A person's relationship interest .",
      "deprecated": true
    },
    "Photo": {
      "type": "object",
      "id": "Photo",
      "description": "A person's photo. A picture shown next to the person's name to help others recognize the person.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the photo. You can change the desired size by appending a query parameter `sz={size}` at the end of the url, where {size} is the size in pixels. Example: https://lh3.googleusercontent.com/-T_wVWLlmg7w/AAAAAAAAAAI/AAAAAAAABa8/00gzXvDBYqw/s100/photo.jpg?sz=50"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the photo."
        },
        "default": {
          "description": "True if the photo is a default photo; false if the photo is a user-provided photo.",
          "type": "boolean"
        }
      }
    },
    "Address": {
      "type": "object",
      "properties": {
        "extendedAddress": {
          "type": "string",
          "description": "The extended address of the address; for example, the apartment number."
        },
        "countryCode": {
          "description": "The [ISO 3166-1 alpha-2](http://www.iso.org/iso/country_codes.htm) country code of the address.",
          "type": "string"
        },
        "formattedValue": {
          "type": "string",
          "description": "The unstructured value of the address. If this is not set by the user it will be automatically constructed from structured values."
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code of the address."
        },
        "streetAddress": {
          "description": "The street address.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the address.",
          "$ref": "FieldMetadata"
        },
        "city": {
          "type": "string",
          "description": "The city of the address."
        },
        "formattedType": {
          "readOnly": true,
          "description": "Output only. The type of the address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "country": {
          "description": "The country of the address.",
          "type": "string"
        },
        "region": {
          "description": "The region of the address; for example, the state or province.",
          "type": "string"
        },
        "type": {
          "description": "The type of the address. The type can be custom or one of these predefined values: * `home` * `work` * `other`",
          "type": "string"
        },
        "poBox": {
          "description": "The P.O. box of the address.",
          "type": "string"
        }
      },
      "id": "Address",
      "description": "A person's physical address. May be a P.O. box or street address. All fields are optional."
    },
    "SearchDirectoryPeopleResponse": {
      "id": "SearchDirectoryPeopleResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "people": {
          "items": {
            "$ref": "Person"
          },
          "type": "array",
          "description": "The list of people in the domain directory that match the query."
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of items in the list without pagination.",
          "format": "int32"
        }
      },
      "description": "The response to a request for people in the authenticated user's domain directory that match the specified query.",
      "type": "object"
    },
    "ImClient": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the IM client. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the IM client."
        },
        "formattedProtocol": {
          "type": "string",
          "description": "Output only. The protocol of the IM client formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "protocol": {
          "type": "string",
          "description": "The protocol of the IM client. The protocol can be custom or one of these predefined values: * `aim` * `msn` * `yahoo` * `skype` * `qq` * `googleTalk` * `icq` * `jabber` * `netMeeting`"
        },
        "username": {
          "description": "The user name used in the IM client.",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the IM client translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        }
      },
      "id": "ImClient",
      "description": "A person's instant messaging client.",
      "type": "object"
    },
    "CalendarUrl": {
      "properties": {
        "url": {
          "description": "The calendar URL.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the calendar URL.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "description": "The type of the calendar URL. The type can be custom or one of these predefined values: * `home` * `freeBusy` * `work`",
          "type": "string"
        },
        "formattedType": {
          "readOnly": true,
          "description": "Output only. The type of the calendar URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        }
      },
      "description": "A person's calendar URL.",
      "type": "object",
      "id": "CalendarUrl"
    },
    "Organization": {
      "description": "A person's past or current organization. Overlapping date ranges are permitted.",
      "properties": {
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the organization translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "phoneticName": {
          "description": "The phonetic name of the organization.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the organization.",
          "$ref": "FieldMetadata"
        },
        "title": {
          "description": "The person's job title at the organization.",
          "type": "string"
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date when the person joined the organization."
        },
        "jobDescription": {
          "description": "The person's job description at the organization.",
          "type": "string"
        },
        "endDate": {
          "description": "The end date when the person left the organization.",
          "$ref": "Date"
        },
        "costCenter": {
          "type": "string",
          "description": "The person's cost center at the organization."
        },
        "current": {
          "description": "True if the organization is the person's current organization; false if the organization is a past organization.",
          "type": "boolean"
        },
        "domain": {
          "description": "The domain name associated with the organization; for example, `google.com`.",
          "type": "string"
        },
        "department": {
          "description": "The person's department at the organization.",
          "type": "string"
        },
        "symbol": {
          "description": "The symbol associated with the organization; for example, a stock ticker symbol, abbreviation, or acronym.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the organization."
        },
        "type": {
          "type": "string",
          "description": "The type of the organization. The type can be custom or one of these predefined values: * `work` * `school`"
        },
        "fullTimeEquivalentMillipercent": {
          "description": "The person's full-time equivalent millipercent within the organization (100000 = 100%).",
          "type": "integer",
          "format": "int32"
        },
        "location": {
          "type": "string",
          "description": "The location of the organization office the person works at."
        }
      },
      "id": "Organization",
      "type": "object"
    },
    "ListConnectionsResponse": {
      "type": "object",
      "id": "ListConnectionsResponse",
      "properties": {
        "totalItems": {
          "type": "integer",
          "description": "The total number of items in the list without pagination.",
          "format": "int32"
        },
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token. When the response is paginated, only the last page will contain `nextSyncToken`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "Person"
          },
          "description": "The list of people that the requestor is connected to."
        },
        "totalPeople": {
          "format": "int32",
          "type": "integer",
          "description": "**DEPRECATED** (Please use totalItems) The total number of people in the list without pagination.",
          "deprecated": true
        }
      },
      "description": "The response to a request for the authenticated user's connections."
    },
    "Occupation": {
      "id": "Occupation",
      "description": "A person's occupation.",
      "properties": {
        "metadata": {
          "description": "Metadata about the occupation.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "type": "string",
          "description": "The occupation; for example, `carpenter`."
        }
      },
      "type": "object"
    },
    "ContactGroup": {
      "type": "object",
      "description": "A contact group.",
      "id": "ContactGroup",
      "properties": {
        "memberResourceNames": {
          "description": "Output only. The list of contact person resource names that are members of the contact group. The field is only populated for GET requests and will only return as many members as `maxMembers` in the get request.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Output only. Metadata about the contact group.",
          "readOnly": true,
          "$ref": "ContactGroupMetadata"
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "clientData": {
          "description": "The group's client data.",
          "type": "array",
          "items": {
            "$ref": "GroupClientData"
          }
        },
        "resourceName": {
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
          "type": "string"
        },
        "name": {
          "description": "The contact group name set by the group owner or a system provided name for system groups. For [`contactGroups.create`](/people/api/rest/v1/contactGroups/create) or [`contactGroups.update`](/people/api/rest/v1/contactGroups/update) the name must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error.",
          "type": "string"
        },
        "groupType": {
          "description": "Output only. The contact group type.",
          "readOnly": true,
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "USER_CONTACT_GROUP",
            "SYSTEM_CONTACT_GROUP"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "User defined contact group.",
            "System defined contact group."
          ],
          "type": "string"
        },
        "memberCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The total number of contacts in the group irrespective of max members in specified in the request.",
          "type": "integer"
        },
        "formattedName": {
          "readOnly": true,
          "description": "Output only. The name translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale for system groups names. Group names set by the owner are the same as name.",
          "type": "string"
        }
      }
    },
    "EmailAddress": {
      "type": "object",
      "description": "A person's email address.",
      "id": "EmailAddress",
      "properties": {
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the email address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the email."
        },
        "metadata": {
          "description": "Metadata about the email address.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "type": "string",
          "description": "The type of the email address. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        },
        "value": {
          "description": "The email address.",
          "type": "string"
        }
      }
    },
    "ContactGroupMembership": {
      "properties": {
        "contactGroupId": {
          "deprecated": true,
          "readOnly": true,
          "type": "string",
          "description": "Output only. The contact group ID for the contact group membership."
        },
        "contactGroupResourceName": {
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`. Only contact_group_resource_name can be used for modifying memberships. Any contact group membership can be removed, but only user group or \"myContacts\" or \"starred\" system groups memberships can be added. A contact must always have at least one contact group membership.",
          "type": "string"
        }
      },
      "id": "ContactGroupMembership",
      "type": "object",
      "description": "A Google contact group membership."
    },
    "ClientData": {
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed.",
      "properties": {
        "value": {
          "description": "The client specified value of the client data.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the client data."
        },
        "key": {
          "type": "string",
          "description": "The client specified key of the client data."
        }
      },
      "type": "object",
      "id": "ClientData"
    },
    "PhoneNumber": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the phone number. The type can be custom or one of these predefined values: * `home` * `work` * `mobile` * `homeFax` * `workFax` * `otherFax` * `pager` * `workMobile` * `workPager` * `main` * `googleVoice` * `other`"
        },
        "canonicalForm": {
          "description": "Output only. The canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf) form of the phone number.",
          "type": "string",
          "readOnly": true
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the phone number."
        },
        "formattedType": {
          "readOnly": true,
          "description": "Output only. The type of the phone number translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "value": {
          "description": "The phone number.",
          "type": "string"
        }
      },
      "id": "PhoneNumber",
      "description": "A person's phone number.",
      "type": "object"
    }
  },
  "ownerDomain": "google.com",
  "resources": {
    "contactGroups": {
      "methods": {
        "delete": {
          "id": "people.contactGroups.delete",
          "parameters": {
            "resourceName": {
              "location": "path",
              "description": "Required. The resource name of the contact group to delete.",
              "pattern": "^contactGroups/[^/]+$",
              "type": "string",
              "required": true
            },
            "deleteContacts": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Set to true to also delete the contacts in the specified group."
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/{+resourceName}",
          "description": "Delete an existing contact group owned by the authenticated user by specifying a contact group resource name. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "httpMethod": "DELETE"
        },
        "get": {
          "path": "v1/{+resourceName}",
          "parameters": {
            "groupFields": {
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "resourceName": {
              "type": "string",
              "pattern": "^contactGroups/[^/]+$",
              "required": true,
              "description": "Required. The resource name of the contact group to get.",
              "location": "path"
            },
            "maxMembers": {
              "location": "query",
              "type": "integer",
              "description": "Optional. Specifies the maximum number of members to return. Defaults to 0 if not set, which will return zero members.",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Get a specific contact group owned by the authenticated user by specifying a contact group resource name.",
          "id": "people.contactGroups.get",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "response": {
            "$ref": "ContactGroup"
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "List all contact groups owned by the authenticated user. Members of the contact groups are not populated.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Optional. The next_page_token value returned from a previous call to [ListContactGroups](/people/api/rest/v1/contactgroups/list). Requests the next page of resources.",
              "type": "string"
            },
            "syncToken": {
              "type": "string",
              "description": "Optional. A sync token, returned by a previous call to `contactgroups.list`. Only resources changed since the sync token was created will be returned.",
              "location": "query"
            },
            "groupFields": {
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. The maximum number of resources to return. Valid values are between 1 and 1000, inclusive. Defaults to 30 if not set or set to 0.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "id": "people.contactGroups.list",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "path": "v1/contactGroups",
          "flatPath": "v1/contactGroups",
          "response": {
            "$ref": "ListContactGroupsResponse"
          }
        },
        "create": {
          "flatPath": "v1/contactGroups",
          "response": {
            "$ref": "ContactGroup"
          },
          "id": "people.contactGroups.create",
          "httpMethod": "POST",
          "path": "v1/contactGroups",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "request": {
            "$ref": "CreateContactGroupRequest"
          },
          "description": "Create a new contact group owned by the authenticated user. Created contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "parameters": {},
          "parameterOrder": []
        },
        "batchGet": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "description": "Get a list of contact groups owned by the authenticated user by specifying a list of contact group resource names.",
          "parameterOrder": [],
          "path": "v1/contactGroups:batchGet",
          "httpMethod": "GET",
          "id": "people.contactGroups.batchGet",
          "parameters": {
            "resourceNames": {
              "description": "Required. The resource names of the contact groups to get. There is a maximum of 200 resource names.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "maxMembers": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Optional. Specifies the maximum number of members to return for each group. Defaults to 0 if not set, which will return zero members."
            },
            "groupFields": {
              "location": "query",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "v1/contactGroups:batchGet",
          "response": {
            "$ref": "BatchGetContactGroupsResponse"
          }
        },
        "update": {
          "parameters": {
            "resourceName": {
              "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
              "location": "path",
              "pattern": "^contactGroups/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "description": "Update the name of an existing contact group owned by the authenticated user. Updated contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "parameterOrder": [
            "resourceName"
          ],
          "path": "v1/{+resourceName}",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "request": {
            "$ref": "UpdateContactGroupRequest"
          },
          "httpMethod": "PUT",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "response": {
            "$ref": "ContactGroup"
          },
          "id": "people.contactGroups.update"
        }
      },
      "resources": {
        "members": {
          "methods": {
            "modify": {
              "parameters": {
                "resourceName": {
                  "description": "Required. The resource name of the contact group to modify.",
                  "required": true,
                  "type": "string",
                  "pattern": "^contactGroups/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/contacts"
              ],
              "path": "v1/{+resourceName}/members:modify",
              "httpMethod": "POST",
              "id": "people.contactGroups.members.modify",
              "description": "Modify the members of a contact group owned by the authenticated user. The only system contact groups that can have members added are `contactGroups/myContacts` and `contactGroups/starred`. Other system contact groups are deprecated and can only have contacts removed.",
              "flatPath": "v1/contactGroups/{contactGroupsId}/members:modify",
              "response": {
                "$ref": "ModifyContactGroupMembersResponse"
              },
              "request": {
                "$ref": "ModifyContactGroupMembersRequest"
              },
              "parameterOrder": [
                "resourceName"
              ]
            }
          }
        }
      }
    },
    "people": {
      "methods": {
        "batchDeleteContacts": {
          "flatPath": "v1/people:batchDeleteContacts",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {},
          "parameterOrder": [],
          "path": "v1/people:batchDeleteContacts",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "description": "Delete a batch of contacts. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "request": {
            "$ref": "BatchDeleteContactsRequest"
          },
          "id": "people.people.batchDeleteContacts"
        },
        "deleteContactPhoto": {
          "parameterOrder": [
            "resourceName"
          ],
          "parameters": {
            "resourceName": {
              "pattern": "^people/[^/]+$",
              "location": "path",
              "description": "Required. The resource name of the contact whose photo will be deleted.",
              "type": "string",
              "required": true
            },
            "sources": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            },
            "personFields": {
              "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/{+resourceName}:deleteContactPhoto",
          "id": "people.people.deleteContactPhoto",
          "flatPath": "v1/people/{peopleId}:deleteContactPhoto",
          "response": {
            "$ref": "DeleteContactPhotoResponse"
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "description": "Delete a contact's photo. Mutate requests for the same user should be done sequentially to avoid // lock contention."
        },
        "searchContacts": {
          "httpMethod": "GET",
          "path": "v1/people:searchContacts",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "id": "people.people.searchContacts",
          "description": "Provides a list of contacts in the authenticated user's grouped contacts that matches the search query. The query matches on a contact's `names`, `nickNames`, `emailAddresses`, `phoneNumbers`, and `organizations` fields that are from the CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/contacts#search_the_users_contacts",
          "parameters": {
            "query": {
              "type": "string",
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\".",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30."
            },
            "sources": {
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set.",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "repeated": true
            },
[...]
