{
  "id": "places:v1",
  "baseUrl": "https://places.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://places.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/maps-platform.places.getphotomedia": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.getphotomedia"
        },
        "https://www.googleapis.com/auth/maps-platform.places": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places"
        },
        "https://www.googleapis.com/auth/maps-platform.places.nearbysearch": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.nearbysearch"
        },
        "https://www.googleapis.com/auth/maps-platform.places.details": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.details"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/maps-platform.places.textsearch": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.textsearch"
        },
        "https://www.googleapis.com/auth/maps-platform.places.autocomplete": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.autocomplete"
        }
      }
    }
  },
  "protocol": "rest",
  "schemas": {
    "GoogleTypeTimeZone": {
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      },
      "id": "GoogleTypeTimeZone"
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionPlacePrediction": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionPlacePrediction",
      "type": "object",
      "description": "Prediction results for a Place Autocomplete prediction.",
      "properties": {
        "text": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText",
          "description": "Contains the human-readable name for the returned result. For establishment results, this is usually the business name and address. `text` is recommended for developers who wish to show a single UI element. Developers who wish to show two separate, but related, UI elements may want to use `structured_format` instead. They are two different ways to represent a Place prediction. Users should not try to parse `structured_format` into `text` or vice versa. This text may be different from the `display_name` returned by GetPlace. May be in mixed languages if the request `input` and `language_code` are in different languages or if the Place does not have a translation from the local language to `language_code`."
        },
        "types": {
          "description": "List of types that apply to this Place from Table A or Table B in https://developers.google.com/maps/documentation/places/web-service/place-types. A type is a categorization of a Place. Places with shared types will share similar characteristics.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "place": {
          "type": "string",
          "description": "The resource name of the suggested Place. This name can be used in other APIs that accept Place names."
        },
        "distanceMeters": {
          "format": "int32",
          "type": "integer",
          "description": "The length of the geodesic in meters from `origin` if `origin` is specified. Certain predictions such as routes may not populate this field."
        },
        "structuredFormat": {
          "description": "A breakdown of the Place prediction into main text containing the name of the Place and secondary text containing additional disambiguating features (such as a city or region). `structured_format` is recommended for developers who wish to show two separate, but related, UI elements. Developers who wish to show a single UI element may want to use `text` instead. They are two different ways to represent a Place prediction. Users should not try to parse `structured_format` into `text` or vice versa.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat"
        },
        "placeId": {
          "description": "The unique identifier of the suggested Place. This identifier can be used in other APIs that accept Place IDs.",
          "type": "string"
        }
      }
    },
    "GoogleMapsPlacesV1Place": {
      "description": "All the information representing a Place.",
      "properties": {
        "internationalPhoneNumber": {
          "description": "A human-readable phone number for the place, in international format.",
          "type": "string"
        },
        "editorialSummary": {
          "description": "Contains a summary of the place. A summary is comprised of a textual overview, and also includes the language code for these if applicable. Summary text must be presented as-is and can not be modified or altered.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "takeout": {
          "type": "boolean",
          "description": "Specifies if the business supports takeout."
        },
        "neighborhoodSummary": {
          "description": "A summary of points of interest near the place.",
          "$ref": "GoogleMapsPlacesV1PlaceNeighborhoodSummary"
        },
        "openingDate": {
          "description": "The date this place will open in the future. This field is only populated if the business status is FUTURE_OPENING.",
          "$ref": "GoogleTypeDate"
        },
        "servesBreakfast": {
          "description": "Specifies if the place serves breakfast.",
          "type": "boolean"
        },
        "servesWine": {
          "type": "boolean",
          "description": "Specifies if the place serves wine."
        },
        "evChargeAmenitySummary": {
          "$ref": "GoogleMapsPlacesV1PlaceEvChargeAmenitySummary",
          "description": "The summary of amenities near the EV charging station."
        },
        "location": {
          "$ref": "GoogleTypeLatLng",
          "description": "The position of this place."
        },
        "generativeSummary": {
          "$ref": "GoogleMapsPlacesV1PlaceGenerativeSummary",
          "description": "AI-generated summary of the place."
        },
        "priceRange": {
          "$ref": "GoogleMapsPlacesV1PriceRange",
          "description": "The price range associated with a Place."
        },
        "delivery": {
          "description": "Specifies if the business supports delivery.",
          "type": "boolean"
        },
        "currentOpeningHours": {
          "description": "The hours of operation for the next seven days (including today) incorporating any special opening hours. The time period starts at midnight on the date of the request and ends at 11:59 pm six days later. If the actual opening hours are outside of this range, the opening hours will be truncated. For example, if a place is open from 10pm yesterday to 6am today, the opening hours will be truncated to 12am today to 6am today. This field includes the special_days subfield of all hours, set for dates that have exceptional hours.",
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
        },
        "movedPlaceId": {
          "type": "string",
          "description": "If this Place is permanently closed and has moved to a new Place, this field contains the new Place's place ID. If this Place moved multiple times, this field will represent the first moved Place. This field will not be populated if this Place has not moved."
        },
        "shortFormattedAddress": {
          "description": "A short, human-readable address for this place.",
          "type": "string"
        },
        "goodForWatchingSports": {
          "type": "boolean",
          "description": "Place is suitable for watching sports."
        },
        "name": {
          "type": "string",
          "description": "This Place's resource name, in `places/{place_id}` format. Can be used to look up the Place."
        },
        "userRatingCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of reviews (with or without text) for this place."
        },
        "regularSecondaryOpeningHours": {
          "type": "array",
          "description": "Contains an array of entries for information about regular secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          }
        },
        "allowsDogs": {
          "type": "boolean",
          "description": "Place allows dogs."
        },
        "attributions": {
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAttribution"
          },
          "description": "A set of data provider that must be shown with this result.",
          "type": "array"
        },
        "currentSecondaryOpeningHours": {
          "description": "Contains an array of entries for the next seven days including information about secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place. This field includes the special_days subfield of all hours, set for dates that have exceptional hours.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          }
        },
        "websiteUri": {
          "description": "The authoritative website for this place, e.g. a business' homepage. Note that for places that are part of a chain (e.g. an IKEA store), this will usually be the website for the individual store, not the overall chain.",
          "type": "string"
        },
        "goodForGroups": {
          "description": "Place accommodates groups.",
          "type": "boolean"
        },
        "googleMapsTypeLabel": {
          "description": "The type label of the place on Google Maps, localized to the request language if applicable, for example, \"Restaurant\", \"Cafe\", \"Airport\", etc. The type label may be different from the primary type display name and may not be a supported type in [Places API Place Types table](https://developers.google.com/maps/documentation/places/web-service/place-types).",
          "$ref": "GoogleTypeLocalizedText"
        },
        "viewport": {
          "description": "A viewport suitable for displaying the place on an average-sized map. This viewport should not be used as the physical boundary or the service area of the business.",
          "$ref": "GoogleGeoTypeViewport"
        },
        "menuForChildren": {
          "description": "Place has a children's menu.",
          "type": "boolean"
        },
        "primaryType": {
          "description": "The primary type of the given result. This type must be one of the Places API supported types. For example, \"restaurant\", \"cafe\", \"airport\", etc. A place can only have a single primary type. For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types. The primary type may be missing if the place's primary type is not a supported type. When a primary type is present, it is always one of the types in the `types` field.",
          "type": "string"
        },
        "priceLevel": {
          "description": "Price level of the place.",
          "type": "string",
          "enum": [
            "PRICE_LEVEL_UNSPECIFIED",
            "PRICE_LEVEL_FREE",
            "PRICE_LEVEL_INEXPENSIVE",
            "PRICE_LEVEL_MODERATE",
            "PRICE_LEVEL_EXPENSIVE",
            "PRICE_LEVEL_VERY_EXPENSIVE"
          ],
          "enumDescriptions": [
            "Place price level is unspecified or unknown.",
            "Place provides free services.",
            "Place provides inexpensive services.",
            "Place provides moderately priced services.",
            "Place provides expensive services.",
            "Place provides very expensive services."
          ]
        },
        "servesDinner": {
          "description": "Specifies if the place serves dinner.",
          "type": "boolean"
        },
        "businessStatus": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The establishment is operational, not necessarily open now.",
            "The establishment is temporarily closed.",
            "The establishment is permanently closed.",
            "The establishment will open in the future."
          ],
          "description": "The business status for the place.",
          "type": "string",
          "enum": [
            "BUSINESS_STATUS_UNSPECIFIED",
            "OPERATIONAL",
            "CLOSED_TEMPORARILY",
            "CLOSED_PERMANENTLY",
            "FUTURE_OPENING"
          ]
        },
        "outdoorSeating": {
          "description": "Place provides outdoor seating.",
          "type": "boolean"
        },
        "servesCoffee": {
          "type": "boolean",
          "description": "Place serves coffee."
        },
        "restroom": {
          "description": "Place has restroom.",
          "type": "boolean"
        },
        "timeZone": {
          "$ref": "GoogleTypeTimeZone",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "googleMapsLinks": {
          "description": "Links to trigger different Google Maps actions.",
          "$ref": "GoogleMapsPlacesV1PlaceGoogleMapsLinks"
        },
        "primaryTypeDisplayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The display name of the primary type, localized to the request language if applicable. For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types. The primary type may be missing if the place's primary type is not a supported type."
        },
        "id": {
          "type": "string",
          "description": "The unique identifier of a place."
        },
        "addressComponents": {
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAddressComponent"
          },
          "type": "array",
          "description": "Repeated components for each locality level. Note the following facts about the address_components[] array: - The array of address components may contain more components than the formatted_address. - The array does not necessarily include all the political entities that contain an address, apart from those included in the formatted_address. To retrieve all the political entities that contain a specific address, you should use reverse geocoding, passing the latitude/longitude of the address as a parameter to the request. - The format of the response is not guaranteed to remain the same between requests. In particular, the number of address_components varies based on the address requested and can change over time for the same address. A component can change position in the array. The type of the component can change. A particular component may be missing in a later response."
        },
        "dineIn": {
          "description": "Specifies if the business supports indoor or outdoor seating options.",
          "type": "boolean"
        },
        "addressDescriptor": {
          "$ref": "GoogleMapsPlacesV1AddressDescriptor",
          "description": "The address descriptor of the place. Address descriptors include additional information that help describe a location using landmarks and areas. See address descriptor regional coverage in https://developers.google.com/maps/documentation/geocoding/address-descriptors/coverage."
        },
        "evChargeOptions": {
          "$ref": "GoogleMapsPlacesV1EVChargeOptions",
          "description": "Information of ev charging options."
        },
        "movedPlace": {
          "type": "string",
          "description": "If this Place is permanently closed and has moved to a new Place, this field contains the new Place's resource name, in `places/{place_id}` format. If this Place moved multiple times, this field will represent the first moved place. This field will not be populated if this Place has not moved."
        },
        "regularOpeningHours": {
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours",
          "description": "The regular hours are the hours of operation for a place on a typical schedule. Note that if a place is always open (24 hours), the `close` field will not be set. Clients can rely on always open (24 hours) being represented as an [`open`](https://developers.google.com/maps/documentation/places/web-service/reference/rest/v1/places#Period) period containing [`day`](https://developers.google.com/maps/documentation/places/web-service/reference/rest/v1/places#Point) with value `0`, [`hour`](https://developers.google.com/maps/documentation/places/web-service/reference/rest/v1/places#Point) with value `0`, and [`minute`](https://developers.google.com/maps/documentation/places/web-service/reference/rest/v1/places#Point) with value `0`."
        },
        "reviews": {
          "items": {
            "$ref": "GoogleMapsPlacesV1Review"
          },
          "description": "List of reviews about this place, sorted by relevance. A maximum of 5 reviews can be returned.",
          "type": "array"
        },
        "reservable": {
          "description": "Specifies if the place supports reservations.",
          "type": "boolean"
        },
        "utcOffsetMinutes": {
          "format": "int32",
          "description": "Number of minutes this place's timezone is currently offset from UTC. This is expressed in minutes to support timezones that are offset by fractions of an hour, e.g. X hours and 15 minutes.",
          "type": "integer"
        },
        "fuelOptions": {
          "description": "The most recent information about fuel options in a gas station. This information is updated regularly.",
          "$ref": "GoogleMapsPlacesV1FuelOptions"
        },
        "accessibilityOptions": {
          "$ref": "GoogleMapsPlacesV1PlaceAccessibilityOptions",
          "description": "Information about the accessibility options a place offers."
        },
        "rating": {
          "type": "number",
          "description": "A rating between 1.0 and 5.0, based on user reviews of this place.",
          "format": "double"
        },
        "curbsidePickup": {
          "description": "Specifies if the business supports curbside pickup.",
          "type": "boolean"
        },
        "nationalPhoneNumber": {
          "type": "string",
          "description": "A human-readable phone number for the place, in national format."
        },
        "types": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A set of type tags for this result. For example, \"political\" and \"locality\". For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types"
        },
        "googleMapsUri": {
          "description": "A URL providing more information about this place.",
          "type": "string"
        },
        "liveMusic": {
          "description": "Place provides live music.",
          "type": "boolean"
        },
        "servesLunch": {
          "description": "Specifies if the place serves lunch.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The localized name of the place, suitable as a short human-readable description. For example, \"Google Sydney\", \"Starbucks\", \"Pyrmont\", etc.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "servesDessert": {
          "description": "Place serves dessert.",
          "type": "boolean"
        },
        "photos": {
          "type": "array",
          "description": "Information (including references) about photos of this place. A maximum of 10 photos can be returned.",
          "items": {
            "$ref": "GoogleMapsPlacesV1Photo"
          }
        },
        "adrFormatAddress": {
          "type": "string",
          "description": "The place's address in adr microformat: http://microformats.org/wiki/adr."
        },
        "servesBrunch": {
          "type": "boolean",
          "description": "Specifies if the place serves brunch."
        },
        "goodForChildren": {
          "type": "boolean",
          "description": "Place is good for children."
        },
        "pureServiceAreaBusiness": {
          "description": "Indicates whether the place is a pure service area business. Pure service area business is a business that visits or delivers to customers directly but does not serve customers at their business address. For example, businesses like cleaning services or plumbers. Those businesses may not have a physical address or location on Google Maps.",
          "type": "boolean"
        },
        "iconMaskBaseUri": {
          "description": "A truncated URL to an icon mask. User can access different icon type by appending type suffix to the end (eg, \".svg\" or \".png\").",
          "type": "string"
        },
        "subDestinations": {
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceSubDestination"
          },
          "type": "array",
          "description": "A list of sub-destinations related to the place."
        },
        "containingPlaces": {
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceContainingPlace"
          },
          "type": "array",
          "description": "List of places in which the current place is located."
        },
        "consumerAlert": {
          "$ref": "GoogleMapsPlacesV1PlaceConsumerAlert",
          "description": "The consumer alert message for the place when we detect suspicious review activity on a business or a business violates our policies."
        },
        "parkingOptions": {
          "description": "Options of parking provided by the place.",
          "$ref": "GoogleMapsPlacesV1PlaceParkingOptions"
        },
        "postalAddress": {
          "description": "The address in postal address format.",
          "$ref": "GoogleTypePostalAddress"
        },
        "servesBeer": {
          "description": "Specifies if the place serves beer.",
          "type": "boolean"
        },
        "servesCocktails": {
          "type": "boolean",
          "description": "Place serves cocktails."
        },
        "servesVegetarianFood": {
          "description": "Specifies if the place serves vegetarian food.",
          "type": "boolean"
        },
        "formattedAddress": {
          "description": "A full, human-readable address for this place.",
          "type": "string"
        },
        "iconBackgroundColor": {
          "description": "Background color for icon_mask in hex format, e.g. #909CE1.",
          "type": "string"
        },
        "transitStation": {
          "$ref": "GoogleMapsPlacesV1TransitStation",
          "description": "The transit station information for the place."
        },
        "plusCode": {
          "$ref": "GoogleMapsPlacesV1PlacePlusCode",
          "description": "Plus code of the place location lat/long."
        },
        "reviewSummary": {
          "description": "AI-generated summary of the place using user reviews.",
          "$ref": "GoogleMapsPlacesV1PlaceReviewSummary"
        },
        "paymentOptions": {
          "description": "Payment options the place accepts. If a payment option data is not available, the payment option field will be unset.",
          "$ref": "GoogleMapsPlacesV1PlacePaymentOptions"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1Place"
    },
    "GoogleMapsPlacesV1AddressDescriptorArea": {
      "type": "object",
      "description": "Area information and the area's relationship with the target location. Areas includes precise sublocality, neighborhoods, and large compounds that are useful for describing a location.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The area's resource name."
        },
        "placeId": {
          "type": "string",
          "description": "The area's place id."
        },
        "displayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The area's display name."
        },
        "containment": {
          "type": "string",
          "enum": [
            "CONTAINMENT_UNSPECIFIED",
            "WITHIN",
            "OUTSKIRTS",
            "NEAR"
          ],
          "description": "Defines the spatial relationship between the target location and the area.",
          "enumDescriptions": [
            "The containment is unspecified.",
            "The target location is within the area region, close to the center.",
            "The target location is within the area region, close to the edge.",
            "The target location is outside the area region, but close by."
          ]
        }
      },
      "id": "GoogleMapsPlacesV1AddressDescriptorArea"
    },
    "GoogleMapsPlacesV1PlaceEvChargeAmenitySummary": {
      "type": "object",
      "description": "The summary of amenities near the EV charging station. This only applies to places with type `electric_vehicle_charging_station`. The `overview` field is guaranteed to be provided while the other fields are optional.",
      "properties": {
        "overview": {
          "description": "An overview of the available amenities. This is guaranteed to be provided.",
          "$ref": "GoogleMapsPlacesV1ContentBlock"
        },
        "coffee": {
          "$ref": "GoogleMapsPlacesV1ContentBlock",
          "description": "A summary of the nearby coffee options."
        },
        "restaurant": {
          "$ref": "GoogleMapsPlacesV1ContentBlock",
          "description": "A summary of the nearby restaurants."
        },
        "store": {
          "$ref": "GoogleMapsPlacesV1ContentBlock",
          "description": "A summary of the nearby stores."
        },
        "flagContentUri": {
          "type": "string",
          "description": "A link where users can flag a problem with the summary."
        },
        "disclosureText": {
          "description": "The AI disclosure message \"Summarized with Gemini\" (and its localized variants). This will be in the language specified in the request if available.",
          "$ref": "GoogleTypeLocalizedText"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceEvChargeAmenitySummary"
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationBias": {
      "description": "The region to search. This location serves as a bias which means results around given location might be returned.",
      "properties": {
        "circle": {
          "$ref": "GoogleMapsPlacesV1Circle",
          "description": "A circle defined by center point and radius."
        },
        "rectangle": {
          "$ref": "GoogleGeoTypeViewport",
          "description": "A rectangle box defined by northeast and southwest corner. `rectangle.high()` must be the northeast point of the rectangle viewport. `rectangle.low()` must be the southwest point of the rectangle viewport. `rectangle.low().latitude()` cannot be greater than `rectangle.high().latitude()`. This will result in an empty latitude range. A rectangle viewport cannot be wider than 180 degrees."
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationBias"
    },
    "GoogleMapsPlacesV1PlaceContainingPlace": {
      "type": "object",
      "description": "Info about the place in which this place is located.",
      "properties": {
        "name": {
          "description": "The resource name of the place in which this place is located.",
          "type": "string"
        },
        "id": {
          "description": "The place id of the place in which this place is located.",
          "type": "string"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceContainingPlace"
    },
    "GoogleMapsPlacesV1RouteModifiers": {
      "id": "GoogleMapsPlacesV1RouteModifiers",
      "description": "Encapsulates a set of optional conditions to satisfy when calculating the routes.",
      "properties": {
        "avoidTolls": {
          "type": "boolean",
          "description": "Optional. When set to true, avoids toll roads where reasonable, giving preference to routes not containing toll roads. Applies only to the `DRIVE` and `TWO_WHEELER` `TravelMode`."
        },
        "avoidHighways": {
          "description": "Optional. When set to true, avoids highways where reasonable, giving preference to routes not containing highways. Applies only to the `DRIVE` and `TWO_WHEELER` `TravelMode`.",
          "type": "boolean"
        },
        "avoidFerries": {
          "type": "boolean",
          "description": "Optional. When set to true, avoids ferries where reasonable, giving preference to routes not containing ferries. Applies only to the `DRIVE` and `TWO_WHEELER` `TravelMode`."
        },
        "avoidIndoor": {
          "description": "Optional. When set to true, avoids navigating indoors where reasonable, giving preference to routes not containing indoor navigation. Applies only to the `WALK` `TravelMode`.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchTextRequestSearchAlongRouteParameters": {
      "id": "GoogleMapsPlacesV1SearchTextRequestSearchAlongRouteParameters",
      "description": "Specifies a precalculated polyline from the [Routes API](https://developers.google.com/maps/documentation/routes) defining the route to search. Searching along a route is similar to using the `locationBias` or `locationRestriction` request option to bias the search results. However, while the `locationBias` and `locationRestriction` options let you specify a region to bias the search results, this option lets you bias the results along a trip route. Results are not guaranteed to be along the route provided, but rather are ranked within the search area defined by the polyline and, optionally, by the `locationBias` or `locationRestriction` based on minimal detour times from origin to destination. The results might be along an alternate route, especially if the provided polyline does not define an optimal route from origin to destination.",
      "properties": {
        "polyline": {
          "description": "Required. The route polyline.",
          "$ref": "GoogleMapsPlacesV1Polyline"
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchTextRequestEVOptions": {
      "type": "object",
      "description": "Searchable EV options of a place search request.",
      "properties": {
        "minimumChargingRateKw": {
          "format": "double",
          "description": "Optional. Minimum required charging rate in kilowatts. A place with a charging rate less than the specified rate is filtered out.",
          "type": "number"
        },
        "connectorTypes": {
          "items": {
            "type": "string",
            "enum": [
              "EV_CONNECTOR_TYPE_UNSPECIFIED",
              "EV_CONNECTOR_TYPE_OTHER",
              "EV_CONNECTOR_TYPE_J1772",
              "EV_CONNECTOR_TYPE_TYPE_2",
              "EV_CONNECTOR_TYPE_CHADEMO",
              "EV_CONNECTOR_TYPE_CCS_COMBO_1",
              "EV_CONNECTOR_TYPE_CCS_COMBO_2",
              "EV_CONNECTOR_TYPE_TESLA",
              "EV_CONNECTOR_TYPE_UNSPECIFIED_GB_T",
              "EV_CONNECTOR_TYPE_UNSPECIFIED_WALL_OUTLET",
              "EV_CONNECTOR_TYPE_NACS"
            ],
            "enumDescriptions": [
              "Unspecified connector.",
              "Other connector types.",
              "J1772 type 1 connector.",
              "IEC 62196 type 2 connector. Often referred to as MENNEKES.",
              "CHAdeMO type connector.",
              "Combined Charging System (AC and DC). Based on SAE. Type-1 J-1772 connector",
              "Combined Charging System (AC and DC). Based on Type-2 Mennekes connector",
              "The generic TESLA connector. This is NACS in the North America but can be non-NACS in other parts of the world (e.g. CCS Combo 2 (CCS2) or GB/T). This value is less representative of an actual connector type, and more represents the ability to charge a Tesla brand vehicle at a Tesla owned charging station.",
              "GB/T type corresponds to the GB/T standard in China. This type covers all GB_T types.",
              "Unspecified wall outlet.",
              "The North American Charging System (NACS), standardized as SAE J3400."
            ]
          },
          "description": "Optional. The list of preferred EV connector types. A place that does not support any of the listed connector types is filtered out.",
          "type": "array"
        }
      },
      "id": "GoogleMapsPlacesV1SearchTextRequestEVOptions"
    },
    "GoogleMapsPlacesV1ContextualContentJustification": {
      "id": "GoogleMapsPlacesV1ContextualContentJustification",
      "description": "Justifications for the place. Justifications answers the question of why a place could interest an end user.",
      "properties": {
        "reviewJustification": {
          "$ref": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustification"
        },
        "businessAvailabilityAttributesJustification": {
          "$ref": "GoogleMapsPlacesV1ContextualContentJustificationBusinessAvailabilityAttributesJustification"
        }
      },
      "type": "object"
    },
    "GoogleGeoTypeViewport": {
      "id": "GoogleGeoTypeViewport",
      "type": "object",
      "description": "A latitude-longitude viewport, represented as two diagonally opposite `low` and `high` points. A viewport is considered a closed region, i.e. it includes its boundary. The latitude bounds must range between -90 to 90 degrees inclusive, and the longitude bounds must range between -180 to 180 degrees inclusive. Various cases include: - If `low` = `high`, the viewport consists of that single point. - If `low.longitude` > `high.longitude`, the longitude range is inverted (the viewport crosses the 180 degree longitude line). - If `low.longitude` = -180 degrees and `high.longitude` = 180 degrees, the viewport includes all longitudes. - If `low.longitude` = 180 degrees and `high.longitude` = -180 degrees, the longitude range is empty. - If `low.latitude` > `high.latitude`, the latitude range is empty. Both `low` and `high` must be populated, and the represented box cannot be empty (as specified by the definitions above). An empty viewport will result in an error. For example, this viewport fully encloses New York City: { \"low\": { \"latitude\": 40.477398, \"longitude\": -74.259087 }, \"high\": { \"latitude\": 40.91618, \"longitude\": -73.70018 } }",
      "properties": {
        "low": {
          "$ref": "GoogleTypeLatLng",
          "description": "Required. The low point of the viewport."
        },
        "high": {
          "description": "Required. The high point of the viewport.",
          "$ref": "GoogleTypeLatLng"
        }
      }
    },
    "GoogleMapsPlacesV1AutocompletePlacesRequest": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesRequest",
      "description": "Request proto for AutocompletePlaces.",
      "properties": {
        "regionCode": {
          "description": "Optional. The region code, specified as a CLDR two-character region code. This affects address formatting, result ranking, and may influence what results are returned. This does not restrict results to the specified region. To restrict results to a region, use `region_code_restriction`.",
          "type": "string"
        },
        "inputOffset": {
          "type": "integer",
          "description": "Optional. A zero-based Unicode character offset of `input` indicating the cursor position in `input`. The cursor position may influence what predictions are returned. If empty, defaults to the length of `input`.",
          "format": "int32"
        },
        "includePureServiceAreaBusinesses": {
          "description": "Optional. Include pure service area businesses if the field is set to true. Pure service area business is a business that visits or delivers to customers directly but does not serve customers at their business address. For example, businesses like cleaning services or plumbers. Those businesses do not have a physical address or location on Google Maps. Places will not return fields including `location`, `plus_code`, and other location related fields for these businesses.",
          "type": "boolean"
        },
        "sessionToken": {
          "description": "Optional. A string which identifies an Autocomplete session for billing purposes. Must be a URL and filename safe base64 string with at most 36 ASCII characters in length. Otherwise an INVALID_ARGUMENT error is returned. The session begins when the user starts typing a query, and concludes when they select a place and a call to Place Details or Address Validation is made. Each session can have multiple queries, followed by one Place Details or Address Validation request. The credentials used for each request within a session must belong to the same Google Cloud Console project. Once a session has concluded, the token is no longer valid; your app must generate a fresh token for each session. If the `session_token` parameter is omitted, or if you reuse a session token, the session is charged as if no session token was provided (each request is billed separately). We recommend the following guidelines: * Use session tokens for all Place Autocomplete calls. * Generate a fresh token for each session. Using a version 4 UUID is recommended. * Ensure that the credentials used for all Place Autocomplete, Place Details, and Address Validation requests within a session belong to the same Cloud Console project. * Be sure to pass a unique session token for each new session. Using the same token for more than one session will result in each request being billed individually.",
          "type": "string"
        },
        "locationRestriction": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction",
          "description": "Optional. Restrict results to a specified location. At most one of `location_bias` or `location_restriction` should be set. If neither are set, the results will be biased by IP address, meaning the IP address will be mapped to an imprecise location and used as a biasing signal."
        },
        "includedPrimaryTypes": {
          "type": "array",
          "description": "Optional. Included primary Place type (for example, \"restaurant\" or \"gas_station\") in Place Types (https://developers.google.com/maps/documentation/places/web-service/place-types), or only `(regions)`, or only `(cities)`. A Place is only returned if its primary type is included in this list. Up to 5 values can be specified. If no types are specified, all Place types are returned.",
          "items": {
            "type": "string"
          }
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The language in which to return results. Defaults to en-US. The results may be in mixed languages if the language used in `input` is different from `language_code` or if the returned Place does not have a translation from the local language to `language_code`."
        },
        "includeQueryPredictions": {
          "description": "Optional. If true, the response will include both Place and query predictions. Otherwise the response will only return Place predictions.",
          "type": "boolean"
        },
        "locationBias": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationBias",
          "description": "Optional. Bias results to a specified location. At most one of `location_bias` or `location_restriction` should be set. If neither are set, the results will be biased by IP address, meaning the IP address will be mapped to an imprecise location and used as a biasing signal."
        },
        "input": {
          "description": "Required. The text string on which to search.",
          "type": "string"
        },
        "includedRegionCodes": {
          "type": "array",
          "description": "Optional. Only include results in the specified regions, specified as up to 15 CLDR two-character region codes. An empty set will not restrict the results. If both `location_restriction` and `included_region_codes` are set, the results will be located in the area of intersection.",
          "items": {
            "type": "string"
          }
        },
        "origin": {
          "$ref": "GoogleTypeLatLng",
          "description": "Optional. The origin point from which to calculate geodesic distance to the destination (returned as `distance_meters`). If this value is omitted, geodesic distance will not be returned."
        },
        "includeFutureOpeningBusinesses": {
          "description": "Optional. If true, include businesses that are not yet open but will open in the future.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceParkingOptions": {
      "id": "GoogleMapsPlacesV1PlaceParkingOptions",
      "type": "object",
      "description": "Information about parking options for the place. A parking lot could support more than one option at the same time.",
      "properties": {
        "freeStreetParking": {
          "type": "boolean",
          "description": "Place offers free street parking."
        },
        "freeParkingLot": {
          "description": "Place offers free parking lots.",
          "type": "boolean"
        },
        "paidParkingLot": {
          "description": "Place offers paid parking lots.",
          "type": "boolean"
        },
        "paidGarageParking": {
          "description": "Place offers paid garage parking.",
          "type": "boolean"
        },
        "freeGarageParking": {
          "type": "boolean",
          "description": "Place offers free garage parking."
        },
        "paidStreetParking": {
          "type": "boolean",
          "description": "Place offers paid street parking."
        },
        "valetParking": {
          "type": "boolean",
          "description": "Place offers valet parking."
        }
      }
    },
    "GoogleMapsPlacesV1PlaceAddressComponent": {
      "id": "GoogleMapsPlacesV1PlaceAddressComponent",
      "type": "object",
      "description": "The structured components that form the formatted address, if this information is available.",
      "properties": {
        "longText": {
          "type": "string",
          "description": "The full text description or name of the address component. For example, an address component for the country Australia may have a long_name of \"Australia\"."
        },
        "shortText": {
          "description": "An abbreviated textual name for the address component, if available. For example, an address component for the country of Australia may have a short_name of \"AU\".",
          "type": "string"
        },
        "types": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "An array indicating the type(s) of the address component."
        },
        "languageCode": {
          "type": "string",
          "description": "The language used to format this components, in CLDR notation."
        }
      }
    },
    "GoogleMapsPlacesV1AddressDescriptor": {
      "type": "object",
      "description": "A relational description of a location. Includes a ranked set of nearby landmarks and precise containing areas and their relationship to the target location.",
      "properties": {
        "areas": {
          "description": "A ranked list of containing or adjacent areas. The most recognizable and precise areas are ranked first.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1AddressDescriptorArea"
          }
        },
        "landmarks": {
          "description": "A ranked list of nearby landmarks. The most recognizable and nearby landmarks are ranked first.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1AddressDescriptorLandmark"
          }
        }
      },
      "id": "GoogleMapsPlacesV1AddressDescriptor"
    },
    "GoogleMapsPlacesV1TransitAgency": {
      "id": "GoogleMapsPlacesV1TransitAgency",
      "description": "Represents a transit agency.",
      "properties": {
        "lines": {
          "description": "The transit lines that are served by this agency.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1TransitLine"
          }
        },
        "url": {
          "type": "string",
          "description": "The URL of the agency's homepage."
        },
        "icon": {
          "$ref": "GoogleMapsPlacesV1TransitIcon",
          "description": "Icon identifier for localized branded icon of a transit system (e.g. London Underground) which should be used instead of TransitLine.vehicle_icon in the UI."
        },
        "displayName": {
          "description": "Agency name (e.g. \"VTA\") in the requested language.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "fareUrl": {
          "type": "string",
          "description": "The URL of the agency's fare details page."
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedTextHighlightedTextRange": {
      "type": "object",
      "description": "The range of highlighted text.",
      "properties": {
        "startIndex": {
          "format": "int32",
          "type": "integer"
        },
        "endIndex": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedTextHighlightedTextRange"
    },
    "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedText": {
      "type": "object",
      "description": "The text highlighted by the justification. This is a subset of the review itself. The exact word to highlight is marked by the HighlightedTextRange. There could be several words in the text being highlighted.",
      "properties": {
        "text": {
          "type": "string"
        },
        "highlightedTextRanges": {
          "items": {
            "$ref": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedTextHighlightedTextRange"
          },
          "description": "The list of the ranges of the highlighted text.",
          "type": "array"
        }
      },
      "id": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedText"
    },
    "GoogleTypeLatLng": {
      "type": "object",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "properties": {
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleTypeLatLng"
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestion": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestion",
      "description": "An Autocomplete suggestion result.",
      "properties": {
        "placePrediction": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionPlacePrediction",
          "description": "A prediction for a Place."
        },
        "queryPrediction": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionQueryPrediction",
          "description": "A prediction for a query."
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceReviewSummary": {
      "id": "GoogleMapsPlacesV1PlaceReviewSummary",
      "description": "AI-generated summary of the place using user reviews.",
      "properties": {
        "text": {
          "description": "The summary of user reviews.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "reviewsUri": {
          "description": "A link to show reviews of this place on Google Maps.",
          "type": "string"
        },
        "disclosureText": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The AI disclosure message \"Summarized with Gemini\" (and its localized variants). This will be in the language specified in the request if available."
        },
        "flagContentUri": {
          "description": "A link where users can flag a problem with the summary.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1FuelOptionsFuelPrice": {
      "description": "Fuel price information for a given type.",
      "properties": {
        "price": {
          "$ref": "GoogleTypeMoney",
          "description": "The price of the fuel."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified fuel type.",
            "Diesel fuel.",
            "Diesel plus fuel.",
            "Regular unleaded.",
            "Midgrade.",
            "Premium.",
            "SP 91.",
            "SP 91 E10.",
            "SP 92.",
            "SP 95.",
            "SP95 E10.",
            "SP 98.",
            "SP 99.",
            "SP 100.",
            "Liquefied Petroleum Gas.",
            "E 80.",
            "E 85.",
            "E 100.",
            "Methane.",
            "Bio-diesel.",
            "Truck diesel."
          ],
          "type": "string",
          "enum": [
            "FUEL_TYPE_UNSPECIFIED",
            "DIESEL",
            "DIESEL_PLUS",
            "REGULAR_UNLEADED",
            "MIDGRADE",
            "PREMIUM",
            "SP91",
            "SP91_E10",
            "SP92",
            "SP95",
            "SP95_E10",
            "SP98",
            "SP99",
            "SP100",
            "LPG",
            "E80",
            "E85",
            "E100",
            "METHANE",
            "BIO_DIESEL",
            "TRUCK_DIESEL"
          ],
          "description": "The type of fuel."
        },
        "updateTime": {
          "type": "string",
          "description": "The time the fuel price was last updated.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1FuelOptionsFuelPrice"
    },
    "GoogleMapsPlacesV1PlacePaymentOptions": {
      "id": "GoogleMapsPlacesV1PlacePaymentOptions",
      "type": "object",
      "description": "Payment options the place accepts.",
      "properties": {
        "acceptsCreditCards": {
          "description": "Place accepts credit cards as payment.",
          "type": "boolean"
        },
        "acceptsCashOnly": {
          "description": "Place accepts cash only as payment. Places with this attribute may still accept other payment methods.",
          "type": "boolean"
        },
        "acceptsDebitCards": {
          "description": "Place accepts debit cards as payment.",
          "type": "boolean"
        },
        "acceptsNfc": {
          "description": "Place accepts NFC payments.",
          "type": "boolean"
        }
      }
    },
    "GoogleMapsPlacesV1Circle": {
      "type": "object",
      "description": "Circle with a LatLng as center and radius.",
      "properties": {
        "radius": {
          "format": "double",
          "type": "number",
          "description": "Required. Radius measured in meters. The radius must be within [0.0, 50000.0]."
        },
        "center": {
          "$ref": "GoogleTypeLatLng",
          "description": "Required. Center latitude and longitude. The range of latitude must be within [-90.0, 90.0]. The range of the longitude must be within [-180.0, 180.0]."
        }
      },
      "id": "GoogleMapsPlacesV1Circle"
    },
    "GoogleMapsPlacesV1FuelOptions": {
      "id": "GoogleMapsPlacesV1FuelOptions",
      "description": "The most recent information about fuel options in a gas station. This information is updated regularly.",
      "properties": {
        "fuelPrices": {
          "description": "The last known fuel price for each type of fuel this station has. There is one entry per fuel type this station has. Order is not important.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1FuelOptionsFuelPrice"
          }
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText": {
      "description": "Text representing a Place or query prediction. The text may be used as is or formatted.",
      "properties": {
        "matches": {
          "items": {
            "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRange"
          },
          "description": "A list of string ranges identifying where the input request matched in `text`. The ranges can be used to format specific parts of `text`. The substrings may not be exact matches of `input` if the matching was determined by criteria other than string matching (for example, spell corrections or transliterations). These values are Unicode character offsets of `text`. The ranges are guaranteed to be ordered in increasing offset values.",
          "type": "array"
        },
        "text": {
          "description": "Text that may be used as is or formatted with `matches`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText"
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat",
      "description": "Contains a breakdown of a Place or query prediction into main text and secondary text. For Place predictions, the main text contains the specific name of the Place. For query predictions, the main text contains the query. The secondary text contains additional disambiguating features (such as a city or region) to further identify the Place or refine the query.",
      "properties": {
        "secondaryText": {
          "description": "Represents additional disambiguating features (such as a city or region) to further identify the Place or refine the query.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText"
        },
        "mainText": {
          "description": "Represents the name of the Place or query.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText"
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceSubDestination": {
      "description": "Sub-destinations are specific places associated with a main place. These provide more specific destinations for users who are searching within a large or complex place, like an airport, national park, university, or stadium. For example, sub-destinations at an airport might include associated terminals and parking lots. Sub-destinations return the place ID and place resource name, which can be used in subsequent Place Details (New) requests to fetch richer details, including the sub-destination's display name and location.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the sub-destination."
        },
        "id": {
          "type": "string",
          "description": "The place id of the sub-destination."
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceSubDestination"
    },
    "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation": {
      "description": "EV charging information grouped by [type, max_charge_rate_kw]. Shows EV charge aggregation of connectors that have the same type and max charge rate in kw.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified connector.",
            "Other connector types.",
            "J1772 type 1 connector.",
            "IEC 62196 type 2 connector. Often referred to as MENNEKES.",
            "CHAdeMO type connector.",
            "Combined Charging System (AC and DC). Based on SAE. Type-1 J-1772 connector",
            "Combined Charging System (AC and DC). Based on Type-2 Mennekes connector",
            "The generic TESLA connector. This is NACS in the North America but can be non-NACS in other parts of the world (e.g. CCS Combo 2 (CCS2) or GB/T). This value is less representative of an actual connector type, and more represents the ability to charge a Tesla brand vehicle at a Tesla owned charging station.",
            "GB/T type corresponds to the GB/T standard in China. This type covers all GB_T types.",
            "Unspecified wall outlet.",
            "The North American Charging System (NACS), standardized as SAE J3400."
          ],
          "type": "string",
          "enum": [
            "EV_CONNECTOR_TYPE_UNSPECIFIED",
            "EV_CONNECTOR_TYPE_OTHER",
            "EV_CONNECTOR_TYPE_J1772",
            "EV_CONNECTOR_TYPE_TYPE_2",
            "EV_CONNECTOR_TYPE_CHADEMO",
            "EV_CONNECTOR_TYPE_CCS_COMBO_1",
            "EV_CONNECTOR_TYPE_CCS_COMBO_2",
            "EV_CONNECTOR_TYPE_TESLA",
            "EV_CONNECTOR_TYPE_UNSPECIFIED_GB_T",
            "EV_CONNECTOR_TYPE_UNSPECIFIED_WALL_OUTLET",
            "EV_CONNECTOR_TYPE_NACS"
          ],
          "description": "The connector type of this aggregation."
        },
        "availableCount": {
          "type": "integer",
          "description": "Number of connectors in this aggregation that are currently available.",
          "format": "int32"
        },
        "availabilityLastUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp when the connector availability information in this aggregation was last updated."
        },
        "count": {
          "description": "Number of connectors in this aggregation.",
          "type": "integer",
          "format": "int32"
        },
        "outOfServiceCount": {
          "type": "integer",
          "description": "Number of connectors in this aggregation that are currently out of service.",
          "format": "int32"
        },
        "maxChargeRateKw": {
          "format": "double",
          "type": "number",
          "description": "The static max charging rate in kw of each connector in the aggregation."
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation"
    },
    "GoogleMapsPlacesV1SearchTextRequest": {
      "id": "GoogleMapsPlacesV1SearchTextRequest",
      "type": "object",
      "description": "Request proto for SearchText. ",
      "properties": {
        "locationRestriction": {
          "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned. Cannot be set along with location_bias.",
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction"
        },
        "minRating": {
          "type": "number",
          "description": "Filter out results whose average user rating is strictly less than this limit. A valid value must be a float between 0 and 5 (inclusively) at a 0.5 cadence i.e. [0, 0.5, 1.0, ... , 5.0] inclusively. The input rating will round up to the nearest 0.5(ceiling). For instance, a rating of 0.6 will eliminate all results with a less than 1.0 rating.",
          "format": "double"
        },
        "maxResultCount": {
          "format": "int32",
          "description": "Deprecated: Use `page_size` instead. The maximum number of results per page that can be returned. If the number of available results is larger than `max_result_count`, a `next_page_token` is returned which can be passed to `page_token` to get the next page of results in subsequent requests. If 0 or no value is provided, a default of 20 is used. The maximum value is 20; values above 20 will be coerced to 20. Negative values will return an INVALID_ARGUMENT error. If both `max_result_count` and `page_size` are specified, `max_result_count` will be ignored.",
          "deprecated": true,
          "type": "integer"
        },
        "priceLevels": {
          "items": {
            "enumDescriptions": [
              "Place price level is unspecified or unknown.",
              "Place provides free services.",
              "Place provides inexpensive services.",
              "Place provides moderately priced services.",
              "Place provides expensive services.",
              "Place provides very expensive services."
            ],
            "type": "string",
            "enum": [
              "PRICE_LEVEL_UNSPECIFIED",
              "PRICE_LEVEL_FREE",
              "PRICE_LEVEL_INEXPENSIVE",
              "PRICE_LEVEL_MODERATE",
              "PRICE_LEVEL_EXPENSIVE",
              "PRICE_LEVEL_VERY_EXPENSIVE"
            ]
          },
          "description": "Used to restrict the search to places that are marked as certain price levels. Users can choose any combinations of price levels. Default to select all price levels.",
          "type": "array"
        },
        "regionCode": {
          "type": "string",
          "description": "The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html. Note that 3-digit region codes are not currently supported."
        },
        "searchAlongRouteParameters": {
          "$ref": "GoogleMapsPlacesV1SearchTextRequestSearchAlongRouteParameters",
          "description": "Optional. Additional parameters proto for searching along a route."
        },
        "includePureServiceAreaBusinesses": {
          "description": "Optional. Include pure service area businesses if the field is set to true. Pure service area business is a business that visits or delivers to customers directly but does not serve customers at their business address. For example, businesses like cleaning services or plumbers. Those businesses do not have a physical address or location on Google Maps. Places will not return fields including `location`, `plus_code`, and other location related fields for these businesses.",
          "type": "boolean"
        },
        "openNow": {
          "description": "Used to restrict the search to places that are currently open. The default is false.",
          "type": "boolean"
        },
        "routingParameters": {
          "description": "Optional. Additional parameters for routing to results.",
          "$ref": "GoogleMapsPlacesV1RoutingParameters"
        },
        "includedType": {
          "description": "The requested place type. Full list of types supported: https://developers.google.com/maps/documentation/places/web-service/place-types. Only support one included type.",
          "type": "string"
        },
        "strictTypeFiltering": {
          "type": "boolean",
          "description": "Used to set strict type filtering for included_type. If set to true, only results of the same type will be returned. Default to false."
        },
        "includeFutureOpeningBusinesses": {
          "description": "Optional. If true, include businesses that are not yet open but will open in the future.",
          "type": "boolean"
        },
        "evOptions": {
          "description": "Optional. Set the searchable EV options of a place search request.",
          "$ref": "GoogleMapsPlacesV1SearchTextRequestEVOptions"
        },
        "rankPreference": {
          "type": "string",
          "enum": [
            "RANK_PREFERENCE_UNSPECIFIED",
            "DISTANCE",
            "RELEVANCE"
          ],
          "description": "How results will be ranked in the response.",
          "enumDescriptions": [
            "For a categorical query such as \"Restaurants in New York City\", RELEVANCE is the default. For non-categorical queries such as \"Mountain View, CA\" we recommend that you leave rankPreference unset.",
            "Ranks results by distance.",
            "Ranks results by relevance. Sort order determined by normal ranking stack."
          ]
        },
        "locationBias": {
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationBias",
          "description": "The region to search. This location serves as a bias which means results around given location might be returned. Cannot be set along with location_restriction."
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of results per page that can be returned. If the number of available results is larger than `page_size`, a `next_page_token` is returned which can be passed to `page_token` to get the next page of results in subsequent requests. If 0 or no value is provided, a default of 20 is used. The maximum value is 20; values above 20 will be set to 20. Negative values will return an INVALID_ARGUMENT error. If both `max_result_count` and `page_size` are specified, `max_result_count` will be ignored.",
          "type": "integer"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous TextSearch call. Provide this to retrieve the subsequent page. When paginating, all parameters other than `page_token`, `page_size`, and `max_result_count` provided to TextSearch must match the initial call that provided the page token. Otherwise an INVALID_ARGUMENT error is returned."
        },
        "languageCode": {
          "type": "string",
          "description": "Place details will be displayed with the preferred language if available. If the language code is unspecified or unrecognized, place details of any language may be returned, with a preference for English if such details exist. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport."
        },
        "textQuery": {
          "type": "string",
          "description": "Required. The text query for textual search."
        }
      }
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRange": {
      "type": "object",
      "description": "Identifies a substring within a given text.",
      "properties": {
        "endOffset": {
          "description": "Zero-based offset of the last Unicode character (exclusive).",
          "type": "integer",
          "format": "int32"
        },
        "startOffset": {
          "description": "Zero-based offset of the first Unicode character of the string (inclusive).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRange"
    },
    "GoogleMapsPlacesV1PlaceNeighborhoodSummary": {
      "id": "GoogleMapsPlacesV1PlaceNeighborhoodSummary",
      "description": "A summary of points of interest near the place.",
      "properties": {
        "disclosureText": {
          "description": "The AI disclosure message \"Summarized with Gemini\" (and its localized variants). This will be in the language specified in the request if available.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "flagContentUri": {
          "type": "string",
          "description": "A link where users can flag a problem with the summary."
        },
        "overview": {
          "$ref": "GoogleMapsPlacesV1ContentBlock",
          "description": "An overview summary of the neighborhood."
        },
        "description": {
          "description": "A detailed description of the neighborhood.",
          "$ref": "GoogleMapsPlacesV1ContentBlock"
        }
      },
      "type": "object"
    },
    "GoogleTypeLocalizedText": {
      "id": "GoogleTypeLocalizedText",
      "description": "Localized variant of a text in a particular language.",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "text": {
          "type": "string",
          "description": "Localized string in the language corresponding to language_code below."
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchNearbyRequest": {
      "description": "Request proto for Search Nearby. ",
      "properties": {
        "rankPreference": {
          "enumDescriptions": [
            "RankPreference value not set. Will use rank by POPULARITY by default.",
            "Ranks results by distance.",
            "Ranks results by popularity."
          ],
          "description": "How results will be ranked in the response.",
          "type": "string",
          "enum": [
            "RANK_PREFERENCE_UNSPECIFIED",
            "DISTANCE",
            "POPULARITY"
          ]
        },
        "languageCode": {
          "description": "Place details will be displayed with the preferred language if available. If the language code is unspecified or unrecognized, place details of any language may be returned, with a preference for English if such details exist. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html. Note that 3-digit region codes are not currently supported."
        },
        "includedPrimaryTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Included primary Place type (e.g. \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. A place can only have a single primary type from the supported types table associated with it. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If there are any conflicting primary types, i.e. a type appears in both included_primary_types and excluded_primary_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\"."
        },
        "includedTypes": {
          "description": "Included Place type (eg, \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If there are any conflicting types, i.e. a type appears in both included_types and excluded_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludedPrimaryTypes": {
          "type": "array",
          "description": "Excluded primary Place type (e.g. \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If there are any conflicting primary types, i.e. a type appears in both included_primary_types and excluded_primary_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\".",
          "items": {
            "type": "string"
          }
        },
        "routingParameters": {
          "$ref": "GoogleMapsPlacesV1RoutingParameters",
          "description": "Optional. Parameters that affect the routing to the search results."
        },
        "excludedTypes": {
          "description": "Excluded Place type (eg, \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If the client provides both included_types (e.g. restaurant) and excluded_types (e.g. cafe), then the response should include places that are restaurant but not cafe. The response includes places that match at least one of the included_types and none of the excluded_types. If there are any conflicting types, i.e. a type appears in both included_types and excluded_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "includeFutureOpeningBusinesses": {
          "description": "Optional. If true, include businesses that are not yet open but will open in the future.",
          "type": "boolean"
        },
        "maxResultCount": {
          "description": "Maximum number of results to return. It must be between 1 and 20 (default), inclusively. If the number is unset, it falls back to the upper limit. If the number is set to negative or exceeds the upper limit, an INVALID_ARGUMENT error is returned.",
          "type": "integer",
          "format": "int32"
        },
        "locationRestriction": {
          "description": "Required. The region to search.",
          "$ref": "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchNearbyRequest"
    },
    "GoogleMapsPlacesV1TransitStop": {
      "id": "GoogleMapsPlacesV1TransitStop",
      "description": "Represents a transit stop within a station. This is a specific location where passengers board and alight transit vehicles, such as a platform or bus bay. This is distinct from a `Departure`, which is an event of a vehicle leaving a stop at a specific time.",
      "properties": {
        "stopCode": {
          "description": "Human readable identifier of the stop, used by transit agencies to distinguish stops with the same name.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "id": {
          "type": "string",
          "description": "The id of the transit stop that can be used to uniquely identify the stop among other transit stops in the same transit station. This identifier is not guaranteed to be stable across different responses."
        },
        "displayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The name of the stop."
        },
        "platformCode": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The platform code represented by this stop. It can be formatted in any way. (eg: \"2\", \"Platform 2\", \"2-4\", or \"1x\")."
        },
        "signageText": {
          "description": "The verbatim text written on the signboard for this platform, e.g. \"Towards Central\" or \"East side & Brooklyn\". When `platform_code` is absent, this field is potentially the only identifier for the platform; however, both `platform_code` and `signage_text` may be set simultaneously.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "location": {
          "description": "The stop's location.",
          "$ref": "GoogleTypeLatLng"
        },
        "wheelchairAccessibleEntrance": {
          "type": "boolean",
          "description": "Wheelchair accessibility of this stop. This field indicates whether there is an accessible path from outside the station to the stop. It does not indicate whether it is possible to board a vehicle from the stop."
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceGoogleMapsLinks": {
      "id": "GoogleMapsPlacesV1PlaceGoogleMapsLinks",
      "description": "Links to trigger different Google Maps actions.",
      "properties": {
        "reviewsUri": {
          "description": "A link to show reviews of this place on Google Maps.",
          "type": "string"
        },
        "photosUri": {
          "type": "string",
          "description": "A link to show photos of this place on Google Maps."
        },
        "placeUri": {
          "description": "A link to show this place.",
          "type": "string"
        },
        "writeAReviewUri": {
          "type": "string",
          "description": "A link to write a review for this place on Google Maps."
        },
        "directionsUri": {
          "description": "A link to show the directions to the place. The link only populates the destination location and uses the default travel mode `DRIVE`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1Polyline": {
      "id": "GoogleMapsPlacesV1Polyline",
      "description": "A route polyline. Only supports an [encoded polyline](https://developers.google.com/maps/documentation/utilities/polylinealgorithm), which can be passed as a string and includes compression with minimal lossiness. This is the Routes API default output.",
      "properties": {
        "encodedPolyline": {
          "type": "string",
          "description": "An [encoded polyline](https://developers.google.com/maps/documentation/utilities/polylinealgorithm), as returned by the [Routes API by default](https://developers.google.com/maps/documentation/routes/reference/rest/v2/TopLevel/computeRoutes#polylineencoding). See the [encoder](https://developers.google.com/maps/documentation/utilities/polylineutility) and [decoder](https://developers.google.com/maps/documentation/routes/polylinedecoder) tools."
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1PriceRange": {
      "id": "GoogleMapsPlacesV1PriceRange",
      "type": "object",
      "description": "The price range associated with a Place. `end_price` could be unset, which indicates a range without upper bound (e.g. \"More than $100\").",
      "properties": {
        "endPrice": {
          "description": "The high end of the price range (exclusive). Price should be lower than this amount.",
          "$ref": "GoogleTypeMoney"
        },
        "startPrice": {
          "description": "The low end of the price range (inclusive). Price should be at or above this amount.",
          "$ref": "GoogleTypeMoney"
        }
      }
    },
    "GoogleMapsPlacesV1RoutingSummary": {
      "id": "GoogleMapsPlacesV1RoutingSummary",
      "type": "object",
      "description": "The duration and distance from the routing origin to a place in the response, and a second leg from that place to the destination, if requested. **Note:** Adding `routingSummaries` in the field mask without also including either the `routingParameters.origin` parameter or the `searchAlongRouteParameters.polyline.encodedPolyline` parameter in the request causes an error.",
      "properties": {
        "directionsUri": {
          "description": "A link to show directions on Google Maps using the waypoints from the given routing summary. The route generated by this link is not guaranteed to be the same as the route used to generate the routing summary. The link uses information provided in the request, from fields including `routingParameters` and `searchAlongRouteParameters` when applicable, to generate the directions link.",
          "type": "string"
        },
        "legs": {
          "description": "The legs of the trip. When you calculate travel duration and distance from a set origin, `legs` contains a single leg containing the duration and distance from the origin to the destination. When you do a search along route, `legs` contains two legs: one from the origin to place, and one from the place to the destination.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1RoutingSummaryLeg"
          }
        }
      }
    },
    "GoogleMapsPlacesV1TransitStation": {
      "type": "object",
      "description": "Represents transit-specific information for a place.",
      "properties": {
        "stops": {
          "type": "array",
          "description": "Transit stops at this station.",
          "items": {
            "$ref": "GoogleMapsPlacesV1TransitStop"
          }
        },
        "displayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The name of the station in the local language."
        },
        "agencies": {
          "description": "The transit agencies that serve this station.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1TransitAgency"
          }
        }
      },
      "id": "GoogleMapsPlacesV1TransitStation"
    },
    "GoogleMapsPlacesV1SearchTextResponse": {
      "description": "Response proto for SearchText. ",
      "properties": {
        "contextualContents": {
          "items": {
            "$ref": "GoogleMapsPlacesV1ContextualContent"
          },
          "type": "array",
          "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. A list of contextual contents where each entry associates to the corresponding place in the same index in the places field. The contents that are relevant to the `text_query` in the request are preferred. If the contextual content is not available for one of the places, it will return non-contextual content. It will be empty only when the content is unavailable for this place. This list will have as many entries as the list of places if requested."
        },
        "searchUri": {
          "type": "string",
          "description": "A link allows the user to search with the same text query as specified in the request on Google Maps."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted or empty, there are no subsequent pages.",
          "type": "string"
        },
        "places": {
          "items": {
            "$ref": "GoogleMapsPlacesV1Place"
          },
          "description": "A list of places that meet the user's text search criteria.",
          "type": "array"
        },
        "routingSummaries": {
          "items": {
            "$ref": "GoogleMapsPlacesV1RoutingSummary"
          },
          "type": "array",
          "description": "A list of routing summaries where each entry associates to the corresponding place in the same index in the `places` field. If the routing summary is not available for one of the places, it will contain an empty entry. This list will have as many entries as the list of places if requested."
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchTextResponse"
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      }
    },
    "GoogleMapsPlacesV1ContextualContentJustificationReviewJustification": {
      "id": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustification",
      "type": "object",
      "description": "User review justifications. This highlights a section of the user review that would interest an end user. For instance, if the search query is \"firewood pizza\", the review justification highlights the text relevant to the search query.",
      "properties": {
        "review": {
          "$ref": "GoogleMapsPlacesV1Review",
          "description": "The review that the highlighted text is generated from."
        },
        "highlightedText": {
          "$ref": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedText"
        }
      }
    },
    "GoogleMapsPlacesV1PlaceConsumerAlertDetailsLink": {
      "description": "The link to show together with the description to provide more information.",
      "properties": {
        "title": {
          "description": "The title to show for the link.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "The uri of the link."
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceConsumerAlertDetailsLink"
    },
    "GoogleMapsPlacesV1RoutingSummaryLeg": {
      "description": "A leg is a single portion of a journey from one location to another.",
      "properties": {
        "duration": {
          "format": "google-duration",
          "description": "The time it takes to complete this leg of the trip.",
          "type": "string"
        },
        "distanceMeters": {
          "format": "int32",
          "type": "integer",
          "description": "The distance of this leg of the trip."
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1RoutingSummaryLeg"
    },
    "GoogleMapsPlacesV1PlaceOpeningHours": {
      "description": "Information about business hour of the place.",
      "properties": {
        "openNow": {
          "type": "boolean",
          "description": "Whether the opening hours period is currently active. For regular opening hours and current opening hours, this field means whether the place is open. For secondary opening hours and current secondary opening hours, this field means whether the secondary hours of this place is active."
        },
        "periods": {
          "description": "The periods that this place is open during the week. The periods are in chronological order, in the place-local timezone. An empty (but not absent) value indicates a place that is never open, e.g. because it is closed temporarily for renovations. The starting day of `periods` is NOT fixed and should not be assumed to be Sunday. The API determines the start day based on a variety of factors. For example, for a 24/7 business, the first period may begin on the day of the request. For other businesses, it might be the first day of the week that they are open. NOTE: The ordering of the `periods` array is independent of the ordering of the `weekday_descriptions` array. Do not assume they will begin on the same day.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod"
          }
        },
        "weekdayDescriptions": {
          "type": "array",
          "description": "Localized strings describing the opening hours of this place, one string for each day of the week. NOTE: The order of the days and the start of the week is determined by the locale (language and region). The ordering of the `periods` array is independent of the ordering of the `weekday_descriptions` array. Do not assume they will begin on the same day. Will be empty if the hours are unknown or could not be converted to localized text. Example: \"Sun: 18:00–06:00\"",
          "items": {
            "type": "string"
          }
        },
        "specialDays": {
          "description": "Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day. Set for current_opening_hours and current_secondary_opening_hours if there are exceptional hours.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay"
          }
        },
        "nextCloseTime": {
          "format": "google-datetime",
          "description": "The next time the current opening hours period ends up to 7 days in the future. This field is only populated if the opening hours period is active at the time of serving the request.",
          "type": "string"
        },
        "secondaryHoursType": {
          "description": "A type string used to identify the type of secondary hours.",
          "type": "string",
          "enum": [
            "SECONDARY_HOURS_TYPE_UNSPECIFIED",
            "DRIVE_THROUGH",
            "HAPPY_HOUR",
            "DELIVERY",
            "TAKEOUT",
            "KITCHEN",
            "BREAKFAST",
            "LUNCH",
            "DINNER",
            "BRUNCH",
            "PICKUP",
            "ACCESS",
            "SENIOR_HOURS",
            "ONLINE_SERVICE_HOURS"
          ],
          "enumDescriptions": [
            "Default value when secondary hour type is not specified.",
            "The drive-through hour for banks, restaurants, or pharmacies.",
            "The happy hour.",
            "The delivery hour.",
            "The takeout hour.",
            "The kitchen hour.",
            "The breakfast hour.",
            "The lunch hour.",
            "The dinner hour.",
            "The brunch hour.",
            "The pickup hour.",
            "The access hours for storage places.",
            "The special hours for seniors.",
            "The online service hours."
          ]
        },
        "nextOpenTime": {
          "format": "google-datetime",
          "description": "The next time the current opening hours period starts up to 7 days in the future. This field is only populated if the opening hours period is not active at the time of serving the request.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceOpeningHours"
    },
    "GoogleMapsPlacesV1PlaceConsumerAlert": {
      "id": "GoogleMapsPlacesV1PlaceConsumerAlert",
      "type": "object",
      "description": "The consumer alert message for the place when we detect suspicious review activity on a business or a business violates our policies.",
      "properties": {
        "overview": {
          "description": "The overview of the consumer alert message.",
          "type": "string"
        },
        "details": {
          "$ref": "GoogleMapsPlacesV1PlaceConsumerAlertDetails",
          "description": "The details of the consumer alert message."
        },
        "languageCode": {
          "description": "The language code of the consumer alert message. This is a BCP 47 language code.",
          "type": "string"
        }
      }
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionQueryPrediction": {
      "type": "object",
      "description": "Prediction results for a Query Autocomplete prediction.",
      "properties": {
        "structuredFormat": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat",
          "description": "A breakdown of the query prediction into main text containing the query and secondary text containing additional disambiguating features (such as a city or region). `structured_format` is recommended for developers who wish to show two separate, but related, UI elements. Developers who wish to show a single UI element may want to use `text` instead. They are two different ways to represent a query prediction. Users should not try to parse `structured_format` into `text` or vice versa."
        },
        "text": {
          "description": "The predicted text. This text does not represent a Place, but rather a text query that could be used in a search endpoint (for example, Text Search). `text` is recommended for developers who wish to show a single UI element. Developers who wish to show two separate, but related, UI elements may want to use `structured_format` instead. They are two different ways to represent a query prediction. Users should not try to parse `structured_format` into `text` or vice versa. May be in mixed languages if the request `input` and `language_code` are in different languages or if part of the query does not have a translation from the local language to `language_code`.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText"
        }
      },
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionQueryPrediction"
    },
    "GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction",
      "description": "The region to search. The results will be restricted to the specified region.",
      "properties": {
        "circle": {
          "$ref": "GoogleMapsPlacesV1Circle",
          "description": "A circle defined by a center point and radius."
        },
        "rectangle": {
          "$ref": "GoogleGeoTypeViewport",
          "description": "A viewport defined by a northeast and a southwest corner."
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceGenerativeSummary": {
      "type": "object",
      "description": "AI-generated summary of the place.",
      "properties": {
        "disclosureText": {
          "description": "The AI disclosure message \"Summarized with Gemini\" (and its localized variants). This will be in the language specified in the request if available.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "overviewFlagContentUri": {
          "type": "string",
          "description": "A link where users can flag a problem with the overview summary."
        },
        "overview": {
          "description": "The overview of the place.",
          "$ref": "GoogleTypeLocalizedText"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceGenerativeSummary"
    },
    "GoogleMapsPlacesV1ContentBlock": {
      "id": "GoogleMapsPlacesV1ContentBlock",
      "description": "A block of content that can be served individually.",
      "properties": {
        "content": {
          "description": "Content related to the topic.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "referencedPlaces": {
          "type": "array",
          "description": "The list of resource names of the referenced places. This name can be used in other APIs that accept Place resource names.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponse": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponse",
      "description": "Response proto for AutocompletePlaces.",
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestion"
          },
          "description": "Contains a list of suggestions, ordered in descending order of relevance.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction": {
      "description": "The region to search.",
      "properties": {
        "circle": {
          "$ref": "GoogleMapsPlacesV1Circle",
          "description": "A circle defined by center point and radius."
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction"
    },
    "GoogleMapsPlacesV1PlacePlusCode": {
      "id": "GoogleMapsPlacesV1PlacePlusCode",
[...]
