{
  "batchPath": "batch",
  "rootUrl": "https://places.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "ownerDomain": "google.com",
  "id": "places:v1",
  "description": "",
  "documentationLink": "https://mapsplatform.google.com/maps-products/#places-section",
  "mtlsRootUrl": "https://places.mtls.googleapis.com/",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/maps-platform.places.getphotomedia": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.getphotomedia"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/maps-platform.places.autocomplete": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.autocomplete"
        },
        "https://www.googleapis.com/auth/maps-platform.places.details": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.details"
        },
        "https://www.googleapis.com/auth/maps-platform.places": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places"
        },
        "https://www.googleapis.com/auth/maps-platform.places.textsearch": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.textsearch"
        },
        "https://www.googleapis.com/auth/maps-platform.places.nearbysearch": {
          "description": "Private Service: https://www.googleapis.com/auth/maps-platform.places.nearbysearch"
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "revision": "20260916",
  "name": "places",
  "basePath": "",
  "discoveryVersion": "v1",
  "version_module": true,
  "version": "v1",
  "resources": {
    "places": {
      "resources": {
        "photos": {
          "methods": {
            "getMedia": {
              "id": "places.places.photos.getMedia",
              "flatPath": "v1/places/{placesId}/photos/{photosId}/media",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/maps-platform.places",
                "https://www.googleapis.com/auth/maps-platform.places.getphotomedia"
              ],
              "parameters": {
                "maxWidthPx": {
                  "description": "Optional. Specifies the maximum desired width, in pixels, of the image. If the image is smaller than the values specified, the original image will be returned. If the image is larger in either dimension, it will be scaled to match the smaller of the two dimensions, restricted to its original aspect ratio. Both the max_height_px and max_width_px properties accept an integer between 1 and 4800, inclusively. If the value is not within the allowed range, an INVALID_ARGUMENT error will be returned. At least one of max_height_px or max_width_px needs to be specified. If neither max_height_px nor max_width_px is specified, an INVALID_ARGUMENT error will be returned.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "pattern": "^places/[^/]+/photos/[^/]+/media$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of a photo media in the format: `places/{place_id}/photos/{photo_reference}/media`. The resource name of a photo as returned in a Place object's `photos.name` field comes with the format `places/{place_id}/photos/{photo_reference}`. You need to append `/media` at the end of the photo resource to get the photo media resource name."
                },
                "skipHttpRedirect": {
                  "description": "Optional. If set, skip the default HTTP redirect behavior and render a text format (for example, in JSON format for HTTP use case) response. If not set, an HTTP redirect will be issued to redirect the call to the image media. This option is ignored for non-HTTP requests.",
                  "type": "boolean",
                  "location": "query"
                },
                "maxHeightPx": {
                  "description": "Optional. Specifies the maximum desired height, in pixels, of the image. If the image is smaller than the values specified, the original image will be returned. If the image is larger in either dimension, it will be scaled to match the smaller of the two dimensions, restricted to its original aspect ratio. Both the max_height_px and max_width_px properties accept an integer between 1 and 4800, inclusively. If the value is not within the allowed range, an INVALID_ARGUMENT error will be returned. At least one of max_height_px or max_width_px needs to be specified. If neither max_height_px nor max_width_px is specified, an INVALID_ARGUMENT error will be returned.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Get a photo media with a photo reference string.",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleMapsPlacesV1PhotoMedia"
              }
            }
          }
        }
      },
      "methods": {
        "searchNearby": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.nearbysearch"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleMapsPlacesV1SearchNearbyRequest"
          },
          "response": {
            "$ref": "GoogleMapsPlacesV1SearchNearbyResponse"
          },
          "description": "Search for places near locations.",
          "id": "places.places.searchNearby",
          "flatPath": "v1/places:searchNearby",
          "httpMethod": "POST",
          "path": "v1/places:searchNearby"
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/places/{placesId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.details"
          ],
          "description": "Get the details of a place based on its resource name, which is a string in the `places/{place_id}` format.",
          "response": {
            "$ref": "GoogleMapsPlacesV1Place"
          },
          "id": "places.places.get",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Required. The resource name of a place, in the `places/{place_id}` format.",
              "required": true,
              "pattern": "^places/[^/]+$"
            },
            "sessionToken": {
              "location": "query",
              "description": "Optional. A string which identifies an Autocomplete session for billing purposes. Must be a URL and filename safe base64 string with at most 36 ASCII characters in length. Otherwise an INVALID_ARGUMENT error is returned. The session begins when the user starts typing a query, and concludes when they select a place and a call to Place Details or Address Validation is made. Each session can have multiple queries, followed by one Place Details or Address Validation request. The credentials used for each request within a session must belong to the same Google Cloud Console project. Once a session has concluded, the token is no longer valid; your app must generate a fresh token for each session. If the `session_token` parameter is omitted, or if you reuse a session token, the session is charged as if no session token was provided (each request is billed separately). We recommend the following guidelines: * Use session tokens for all Place Autocomplete calls. * Generate a fresh token for each session. Using a version 4 UUID is recommended. * Ensure that the credentials used for all Place Autocomplete, Place Details, and Address Validation requests within a session belong to the same Cloud Console project. * Be sure to pass a unique session token for each new session. Using the same token for more than one session will result in each request being billed individually.",
              "type": "string"
            },
            "regionCode": {
              "location": "query",
              "type": "string",
              "description": "Optional. The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html. Note that 3-digit region codes are not currently supported."
            },
            "languageCode": {
              "description": "Optional. Place details will be displayed with the preferred language if available. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "v1/{+name}"
        },
        "searchText": {
          "flatPath": "v1/places:searchText",
          "description": "Text query based place search.",
          "parameters": {},
          "path": "v1/places:searchText",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.textsearch"
          ],
          "response": {
            "$ref": "GoogleMapsPlacesV1SearchTextResponse"
          },
          "id": "places.places.searchText",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleMapsPlacesV1SearchTextRequest"
          }
        },
        "autocomplete": {
          "request": {
            "$ref": "GoogleMapsPlacesV1AutocompletePlacesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.autocomplete"
          ],
          "path": "v1/places:autocomplete",
          "flatPath": "v1/places:autocomplete",
          "parameters": {},
          "id": "places.places.autocomplete",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponse"
          },
          "description": "Returns predictions for the given input.",
          "parameterOrder": []
        }
      }
    }
  },
  "baseUrl": "https://places.googleapis.com/",
  "schemas": {
    "GoogleMapsPlacesV1PlaceEvChargeAmenitySummary": {
      "id": "GoogleMapsPlacesV1PlaceEvChargeAmenitySummary",
      "properties": {
        "coffee": {
          "$ref": "GoogleMapsPlacesV1ContentBlock",
          "description": "A summary of the nearby coffee options."
        },
        "flagContentUri": {
          "description": "A link where users can flag a problem with the summary.",
          "type": "string"
        },
        "disclosureText": {
          "description": "The AI disclosure message \"Summarized with Gemini\" (and its localized variants). This will be in the language specified in the request if available.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "store": {
          "description": "A summary of the nearby stores.",
          "$ref": "GoogleMapsPlacesV1ContentBlock"
        },
        "restaurant": {
          "$ref": "GoogleMapsPlacesV1ContentBlock",
          "description": "A summary of the nearby restaurants."
        },
        "overview": {
          "$ref": "GoogleMapsPlacesV1ContentBlock",
          "description": "An overview of the available amenities. This is guaranteed to be provided."
        }
      },
      "type": "object",
      "description": "The summary of amenities near the EV charging station. This only applies to places with type `electric_vehicle_charging_station`. The `overview` field is guaranteed to be provided while the other fields are optional."
    },
    "GoogleMapsPlacesV1PlaceConsumerAlertDetails": {
      "properties": {
        "title": {
          "description": "The title to show together with the description.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the consumer alert message."
        },
        "aboutLink": {
          "description": "The link to show together with the description to provide more information.",
          "$ref": "GoogleMapsPlacesV1PlaceConsumerAlertDetailsLink"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceConsumerAlertDetails",
      "description": "The details of the consumer alert message."
    },
    "GoogleMapsPlacesV1Photo": {
      "description": "Information about a photo of a place.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. A reference representing this place photo which may be used to look up this place photo again (also called the API \"resource\" name: `places/{place_id}/photos/{photo}`)."
        },
        "heightPx": {
          "description": "The maximum available height, in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "googleMapsUri": {
          "description": "A link to show the photo on Google Maps.",
          "type": "string"
        },
        "authorAttributions": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1AuthorAttribution"
          },
          "description": "This photo's authors."
        },
        "flagContentUri": {
          "description": "A link where users can flag a problem with the photo.",
          "type": "string"
        },
        "widthPx": {
          "type": "integer",
          "description": "The maximum available width, in pixels.",
          "format": "int32"
        }
      },
      "id": "GoogleMapsPlacesV1Photo"
    },
    "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction": {
      "description": "The region to search.",
      "properties": {
        "circle": {
          "description": "A circle defined by center point and radius.",
          "$ref": "GoogleMapsPlacesV1Circle"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction"
    },
    "GoogleMapsPlacesV1PlacePlusCode": {
      "properties": {
        "compoundCode": {
          "description": "Place's compound code, such as \"33GV+HQ, Ramberg, Norway\", containing the suffix of the global code and replacing the prefix with a formatted name of a reference entity.",
          "type": "string"
        },
        "globalCode": {
          "description": "Place's global (full) code, such as \"9FWM33GV+HQ\", representing an 1/8000 by 1/8000 degree area (~14 by 14 meters).",
          "type": "string"
        }
      },
      "id": "GoogleMapsPlacesV1PlacePlusCode",
      "type": "object",
      "description": "Plus code (http://plus.codes) is a location reference with two formats: global code defining a 14mx14m (1/8000th of a degree) or smaller rectangle, and compound code, replacing the prefix with a reference location."
    },
    "GoogleMapsPlacesV1ContextualContent": {
      "description": "Content that is contextual to the place query.",
      "id": "GoogleMapsPlacesV1ContextualContent",
      "properties": {
        "justifications": {
          "description": "Justifications for the place.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1ContextualContentJustification"
          }
        },
        "photos": {
          "type": "array",
          "description": "Information (including references) about photos of this place, contextual to the place query.",
          "items": {
            "$ref": "GoogleMapsPlacesV1Photo"
          }
        },
        "reviews": {
          "description": "List of reviews about this place, contextual to the place query.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1Review"
          }
        }
      },
      "type": "object"
    },
    "GoogleTypeTimeZone": {
      "id": "GoogleTypeTimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceGenerativeSummary": {
      "type": "object",
      "description": "AI-generated summary of the place.",
      "id": "GoogleMapsPlacesV1PlaceGenerativeSummary",
      "properties": {
        "disclosureText": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The AI disclosure message \"Summarized with Gemini\" (and its localized variants). This will be in the language specified in the request if available."
        },
        "overviewFlagContentUri": {
          "description": "A link where users can flag a problem with the overview summary.",
          "type": "string"
        },
        "overview": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The overview of the place."
        }
      }
    },
    "GoogleMapsPlacesV1Polyline": {
      "id": "GoogleMapsPlacesV1Polyline",
      "description": "A route polyline. Only supports an [encoded polyline](https://developers.google.com/maps/documentation/utilities/polylinealgorithm), which can be passed as a string and includes compression with minimal lossiness. This is the Routes API default output.",
      "type": "object",
      "properties": {
        "encodedPolyline": {
          "type": "string",
          "description": "An [encoded polyline](https://developers.google.com/maps/documentation/utilities/polylinealgorithm), as returned by the [Routes API by default](https://developers.google.com/maps/documentation/routes/reference/rest/v2/TopLevel/computeRoutes#polylineencoding). See the [encoder](https://developers.google.com/maps/documentation/utilities/polylineutility) and [decoder](https://developers.google.com/maps/documentation/routes/polylinedecoder) tools."
        }
      }
    },
    "GoogleMapsPlacesV1PlaceParkingOptions": {
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceParkingOptions",
      "properties": {
        "paidGarageParking": {
          "type": "boolean",
          "description": "Place offers paid garage parking."
        },
        "freeStreetParking": {
          "description": "Place offers free street parking.",
          "type": "boolean"
        },
        "freeParkingLot": {
          "description": "Place offers free parking lots.",
          "type": "boolean"
        },
        "valetParking": {
          "type": "boolean",
          "description": "Place offers valet parking."
        },
        "paidStreetParking": {
          "description": "Place offers paid street parking.",
          "type": "boolean"
        },
        "freeGarageParking": {
          "description": "Place offers free garage parking.",
          "type": "boolean"
        },
        "paidParkingLot": {
          "description": "Place offers paid parking lots.",
          "type": "boolean"
        }
      },
      "description": "Information about parking options for the place. A parking lot could support more than one option at the same time."
    },
    "GoogleMapsPlacesV1SearchTextResponse": {
      "id": "GoogleMapsPlacesV1SearchTextResponse",
      "properties": {
        "places": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1Place"
          },
          "description": "A list of places that meet the user's text search criteria."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted or empty, there are no subsequent pages."
        },
        "contextualContents": {
          "type": "array",
          "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. A list of contextual contents where each entry associates to the corresponding place in the same index in the places field. The contents that are relevant to the `text_query` in the request are preferred. If the contextual content is not available for one of the places, it will return non-contextual content. It will be empty only when the content is unavailable for this place. This list will have as many entries as the list of places if requested.",
          "items": {
            "$ref": "GoogleMapsPlacesV1ContextualContent"
          }
        },
        "searchUri": {
          "description": "A link allows the user to search with the same text query as specified in the request on Google Maps.",
          "type": "string"
        },
        "routingSummaries": {
          "description": "A list of routing summaries where each entry associates to the corresponding place in the same index in the `places` field. If the routing summary is not available for one of the places, it will contain an empty entry. This list will have as many entries as the list of places if requested.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1RoutingSummary"
          }
        }
      },
      "description": "Response proto for SearchText. ",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceNeighborhoodSummary": {
      "id": "GoogleMapsPlacesV1PlaceNeighborhoodSummary",
      "description": "A summary of points of interest near the place.",
      "properties": {
        "flagContentUri": {
          "type": "string",
          "description": "A link where users can flag a problem with the summary."
        },
        "description": {
          "description": "A detailed description of the neighborhood.",
          "$ref": "GoogleMapsPlacesV1ContentBlock"
        },
        "disclosureText": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The AI disclosure message \"Summarized with Gemini\" (and its localized variants). This will be in the language specified in the request if available."
        },
        "overview": {
          "description": "An overview summary of the neighborhood.",
          "$ref": "GoogleMapsPlacesV1ContentBlock"
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1FuelOptionsFuelPrice": {
      "description": "Fuel price information for a given type.",
      "id": "GoogleMapsPlacesV1FuelOptionsFuelPrice",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "The time the fuel price was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "price": {
          "$ref": "GoogleTypeMoney",
          "description": "The price of the fuel."
        },
        "type": {
          "type": "string",
          "enum": [
            "FUEL_TYPE_UNSPECIFIED",
            "DIESEL",
            "DIESEL_PLUS",
            "REGULAR_UNLEADED",
            "MIDGRADE",
            "PREMIUM",
            "SP91",
            "SP91_E10",
            "SP92",
            "SP95",
            "SP95_E10",
            "SP98",
            "SP99",
            "SP100",
            "LPG",
            "E80",
            "E85",
            "E100",
            "METHANE",
            "BIO_DIESEL",
            "TRUCK_DIESEL"
          ],
          "description": "The type of fuel.",
          "enumDescriptions": [
            "Unspecified fuel type.",
            "Diesel fuel.",
            "Diesel plus fuel.",
            "Regular unleaded.",
            "Midgrade.",
            "Premium.",
            "SP 91.",
            "SP 91 E10.",
            "SP 92.",
            "SP 95.",
            "SP95 E10.",
            "SP 98.",
            "SP 99.",
            "SP 100.",
            "Liquefied Petroleum Gas.",
            "E 80.",
            "E 85.",
            "E 100.",
            "Methane.",
            "Bio-diesel.",
            "Truck diesel."
          ]
        }
      }
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat",
      "description": "Contains a breakdown of a Place or query prediction into main text and secondary text. For Place predictions, the main text contains the specific name of the Place. For query predictions, the main text contains the query. The secondary text contains additional disambiguating features (such as a city or region) to further identify the Place or refine the query.",
      "type": "object",
      "properties": {
        "secondaryText": {
          "description": "Represents additional disambiguating features (such as a city or region) to further identify the Place or refine the query.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText"
        },
        "mainText": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText",
          "description": "Represents the name of the Place or query."
        }
      }
    },
    "GoogleMapsPlacesV1PlaceSubDestination": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the sub-destination.",
          "type": "string"
        },
        "id": {
          "description": "The place id of the sub-destination.",
          "type": "string"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceSubDestination",
      "description": "Sub-destinations are specific places associated with a main place. These provide more specific destinations for users who are searching within a large or complex place, like an airport, national park, university, or stadium. For example, sub-destinations at an airport might include associated terminals and parking lots. Sub-destinations return the place ID and place resource name, which can be used in subsequent Place Details (New) requests to fetch richer details, including the sub-destination's display name and location."
    },
    "GoogleMapsPlacesV1RoutingSummary": {
      "properties": {
        "legs": {
          "type": "array",
          "description": "The legs of the trip. When you calculate travel duration and distance from a set origin, `legs` contains a single leg containing the duration and distance from the origin to the destination. When you do a search along route, `legs` contains two legs: one from the origin to place, and one from the place to the destination.",
          "items": {
            "$ref": "GoogleMapsPlacesV1RoutingSummaryLeg"
          }
        },
        "directionsUri": {
          "description": "A link to show directions on Google Maps using the waypoints from the given routing summary. The route generated by this link is not guaranteed to be the same as the route used to generate the routing summary. The link uses information provided in the request, from fields including `routingParameters` and `searchAlongRouteParameters` when applicable, to generate the directions link.",
          "type": "string"
        }
      },
      "description": "The duration and distance from the routing origin to a place in the response, and a second leg from that place to the destination, if requested. **Note:** Adding `routingSummaries` in the field mask without also including either the `routingParameters.origin` parameter or the `searchAlongRouteParameters.polyline.encodedPolyline` parameter in the request causes an error.",
      "type": "object",
      "id": "GoogleMapsPlacesV1RoutingSummary"
    },
    "GoogleMapsPlacesV1TransitStop": {
      "properties": {
        "platformCode": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The platform code represented by this stop. It can be formatted in any way. (eg: \"2\", \"Platform 2\", \"2-4\", or \"1x\")."
        },
        "id": {
          "description": "The id of the transit stop that can be used to uniquely identify the stop among other transit stops in the same transit station. This identifier is not guaranteed to be stable across different responses.",
          "type": "string"
        },
        "location": {
          "description": "The stop's location.",
          "$ref": "GoogleTypeLatLng"
        },
        "signageText": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The verbatim text written on the signboard for this platform, e.g. \"Towards Central\" or \"East side & Brooklyn\". When `platform_code` is absent, this field is potentially the only identifier for the platform; however, both `platform_code` and `signage_text` may be set simultaneously."
        },
        "displayName": {
          "description": "The name of the stop.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "wheelchairAccessibleEntrance": {
          "type": "boolean",
          "description": "Wheelchair accessibility of this stop. This field indicates whether there is an accessible path from outside the station to the stop. It does not indicate whether it is possible to board a vehicle from the stop."
        },
        "stopCode": {
          "description": "Human readable identifier of the stop, used by transit agencies to distinguish stops with the same name.",
          "$ref": "GoogleTypeLocalizedText"
        }
      },
      "description": "Represents a transit stop within a station. This is a specific location where passengers board and alight transit vehicles, such as a platform or bus bay. This is distinct from a `Departure`, which is an event of a vehicle leaving a stop at a specific time.",
      "id": "GoogleMapsPlacesV1TransitStop",
      "type": "object"
    },
    "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedText": {
      "description": "The text highlighted by the justification. This is a subset of the review itself. The exact word to highlight is marked by the HighlightedTextRange. There could be several words in the text being highlighted.",
      "type": "object",
      "properties": {
        "highlightedTextRanges": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedTextHighlightedTextRange"
          },
          "description": "The list of the ranges of the highlighted text."
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedText"
    },
    "GoogleMapsPlacesV1PlaceAccessibilityOptions": {
      "description": "Information about the accessibility options a place offers.",
      "properties": {
        "wheelchairAccessibleEntrance": {
          "type": "boolean",
          "description": "Places has wheelchair accessible entrance."
        },
        "wheelchairAccessibleSeating": {
          "type": "boolean",
          "description": "Place has wheelchair accessible seating."
        },
        "wheelchairAccessibleParking": {
          "type": "boolean",
          "description": "Place offers wheelchair accessible parking."
        },
        "wheelchairAccessibleRestroom": {
          "description": "Place has wheelchair accessible restroom.",
          "type": "boolean"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceAccessibilityOptions",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlacePaymentOptions": {
      "id": "GoogleMapsPlacesV1PlacePaymentOptions",
      "description": "Payment options the place accepts.",
      "type": "object",
      "properties": {
        "acceptsCreditCards": {
          "type": "boolean",
          "description": "Place accepts credit cards as payment."
        },
        "acceptsCashOnly": {
          "description": "Place accepts cash only as payment. Places with this attribute may still accept other payment methods.",
          "type": "boolean"
        },
        "acceptsNfc": {
          "description": "Place accepts NFC payments.",
          "type": "boolean"
        },
        "acceptsDebitCards": {
          "type": "boolean",
          "description": "Place accepts debit cards as payment."
        }
      }
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursPeriod": {
      "description": "A period the place remains in open_now status.",
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod",
      "properties": {
        "close": {
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint",
          "description": "The time that the place starts to be closed."
        },
        "open": {
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint",
          "description": "The time that the place starts to be open."
        }
      }
    },
    "GoogleMapsPlacesV1PlaceConsumerAlertDetailsLink": {
      "properties": {
        "title": {
          "description": "The title to show for the link.",
          "type": "string"
        },
        "uri": {
          "description": "The uri of the link.",
          "type": "string"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceConsumerAlertDetailsLink",
      "description": "The link to show together with the description to provide more information.",
      "type": "object"
    },
    "GoogleMapsPlacesV1RoutingParameters": {
      "id": "GoogleMapsPlacesV1RoutingParameters",
      "type": "object",
      "properties": {
        "routeModifiers": {
          "description": "Optional. The route modifiers.",
          "$ref": "GoogleMapsPlacesV1RouteModifiers"
        },
        "routingPreference": {
          "type": "string",
          "enum": [
            "ROUTING_PREFERENCE_UNSPECIFIED",
            "TRAFFIC_UNAWARE",
            "TRAFFIC_AWARE",
            "TRAFFIC_AWARE_OPTIMAL"
          ],
          "description": "Optional. Specifies how to compute the routing summaries. The server attempts to use the selected routing preference to compute the route. The traffic aware routing preference is only available for the `DRIVE` or `TWO_WHEELER` `travelMode`.",
          "enumDescriptions": [
            "No routing preference specified. Default to `TRAFFIC_UNAWARE`.",
            "Computes routes without taking live traffic conditions into consideration. Suitable when traffic conditions don't matter or are not applicable. Using this value produces the lowest latency. Note: For `TravelMode` `DRIVE` and `TWO_WHEELER`, the route and duration chosen are based on road network and average time-independent traffic conditions, not current road conditions. Consequently, routes may include roads that are temporarily closed. Results for a given request may vary over time due to changes in the road network, updated average traffic conditions, and the distributed nature of the service. Results may also vary between nearly-equivalent routes at any time or frequency.",
            "Calculates routes taking live traffic conditions into consideration. In contrast to `TRAFFIC_AWARE_OPTIMAL`, some optimizations are applied to significantly reduce latency.",
            "Calculates the routes taking live traffic conditions into consideration, without applying most performance optimizations. Using this value produces the highest latency."
          ]
        },
        "origin": {
          "$ref": "GoogleTypeLatLng",
          "description": "Optional. An explicit routing origin that overrides the origin defined in the polyline. By default, the polyline origin is used."
        },
        "travelMode": {
          "enumDescriptions": [
            "No travel mode specified. Defaults to `DRIVE`.",
            "Travel by passenger car.",
            "Travel by bicycle. Not supported with `search_along_route_parameters`.",
            "Travel by walking. Not supported with `search_along_route_parameters`.",
            "Motorized two wheeled vehicles of all kinds such as scooters and motorcycles. Note that this is distinct from the `BICYCLE` travel mode which covers human-powered transport. Not supported with `search_along_route_parameters`. Only supported in those countries listed at [Countries and regions supported for two-wheeled vehicles](https://developers.google.com/maps/documentation/routes/coverage-two-wheeled)."
          ],
          "description": "Optional. The travel mode.",
          "type": "string",
          "enum": [
            "TRAVEL_MODE_UNSPECIFIED",
            "DRIVE",
            "BICYCLE",
            "WALK",
            "TWO_WHEELER"
          ]
        }
      },
      "description": "Parameters to configure the routing calculations to the places in the response, both along a route (where result ranking will be influenced) and for calculating travel times on results."
    },
    "GoogleMapsPlacesV1AddressDescriptorLandmark": {
      "properties": {
        "straightLineDistanceMeters": {
          "format": "float",
          "description": "The straight line distance, in meters, between the center point of the target and the center point of the landmark. In some situations, this value can be longer than `travel_distance_meters`.",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "The landmark's resource name."
        },
        "types": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A set of type tags for this landmark. For a complete list of possible values, see https://developers.google.com/maps/documentation/places/web-service/place-types."
        },
        "spatialRelationship": {
          "description": "Defines the spatial relationship between the target location and the landmark.",
          "type": "string",
          "enum": [
            "NEAR",
            "WITHIN",
            "BESIDE",
            "ACROSS_THE_ROAD",
            "DOWN_THE_ROAD",
            "AROUND_THE_CORNER",
            "BEHIND"
          ],
          "enumDescriptions": [
            "This is the default relationship when nothing more specific below applies.",
            "The landmark has a spatial geometry and the target is within its bounds.",
            "The target is directly adjacent to the landmark.",
            "The target is directly opposite the landmark on the other side of the road.",
            "On the same route as the landmark but not besides or across.",
            "Not on the same route as the landmark but a single turn away.",
            "Close to the landmark's structure but further away from its street entrances."
          ]
        },
        "placeId": {
          "description": "The landmark's place id.",
          "type": "string"
        },
        "travelDistanceMeters": {
          "type": "number",
          "description": "The travel distance, in meters, along the road network from the target to the landmark, if known. This value does not take into account the mode of transportation, such as walking, driving, or biking.",
          "format": "float"
        },
        "displayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The landmark's display name."
        }
      },
      "description": "Basic landmark information and the landmark's relationship with the target location. Landmarks are prominent places that can be used to describe a location.",
      "id": "GoogleMapsPlacesV1AddressDescriptorLandmark",
      "type": "object"
    },
    "GoogleMapsPlacesV1ContextualContentJustificationBusinessAvailabilityAttributesJustification": {
      "id": "GoogleMapsPlacesV1ContextualContentJustificationBusinessAvailabilityAttributesJustification",
      "type": "object",
      "description": "BusinessAvailabilityAttributes justifications. This shows some attributes a business has that could interest an end user.",
      "properties": {
        "delivery": {
          "type": "boolean",
          "description": "If a place provides delivery."
        },
        "takeout": {
          "description": "If a place provides takeout.",
          "type": "boolean"
        },
        "dineIn": {
          "type": "boolean",
          "description": "If a place provides dine-in."
        }
      }
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationRestriction": {
      "properties": {
        "rectangle": {
          "$ref": "GoogleGeoTypeViewport",
          "description": "A rectangle box defined by northeast and southwest corner. `rectangle.high()` must be the northeast point of the rectangle viewport. `rectangle.low()` must be the southwest point of the rectangle viewport. `rectangle.low().latitude()` cannot be greater than `rectangle.high().latitude()`. This will result in an empty latitude range. A rectangle viewport cannot be wider than 180 degrees."
        }
      },
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction",
      "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned.",
      "type": "object"
    },
    "GoogleMapsPlacesV1ContentBlock": {
      "properties": {
        "referencedPlaces": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of resource names of the referenced places. This name can be used in other APIs that accept Place resource names."
        },
        "content": {
          "description": "Content related to the topic.",
          "$ref": "GoogleTypeLocalizedText"
        }
      },
      "id": "GoogleMapsPlacesV1ContentBlock",
      "type": "object",
      "description": "A block of content that can be served individually."
    },
    "GoogleMapsPlacesV1Review": {
      "properties": {
        "originalText": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The review text in its original language."
        },
        "name": {
          "description": "A reference representing this place review which may be used to look up this place review again (also called the API \"resource\" name: `places/{place_id}/reviews/{review}`).",
          "type": "string"
        },
        "relativePublishTimeDescription": {
          "description": "A string of formatted recent time, expressing the review time relative to the current time in a form appropriate for the language and country.",
          "type": "string"
        },
        "visitDate": {
          "$ref": "GoogleTypeDate",
          "description": "The date when the author visited the place. This is truncated to the year and month of the visit."
        },
        "rating": {
          "description": "A number between 1.0 and 5.0, also called the number of stars.",
          "type": "number",
          "format": "double"
        },
        "text": {
          "description": "The localized text of the review.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "flagContentUri": {
          "description": "A link where users can flag a problem with the review.",
          "type": "string"
        },
        "authorAttribution": {
          "$ref": "GoogleMapsPlacesV1AuthorAttribution",
          "description": "This review's author."
        },
        "googleMapsUri": {
          "type": "string",
          "description": "A link to show the review on Google Maps."
        },
        "publishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp for the review."
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1Review",
      "description": "Information about a review of a place."
    },
    "GoogleMapsPlacesV1Circle": {
      "type": "object",
      "description": "Circle with a LatLng as center and radius.",
      "properties": {
        "center": {
          "$ref": "GoogleTypeLatLng",
          "description": "Required. Center latitude and longitude. The range of latitude must be within [-90.0, 90.0]. The range of the longitude must be within [-180.0, 180.0]."
        },
        "radius": {
          "format": "double",
          "description": "Required. Radius measured in meters. The radius must be within [0.0, 50000.0].",
          "type": "number"
        }
      },
      "id": "GoogleMapsPlacesV1Circle"
    },
    "GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction": {
      "properties": {
        "circle": {
          "description": "A circle defined by a center point and radius.",
          "$ref": "GoogleMapsPlacesV1Circle"
        },
        "rectangle": {
          "description": "A viewport defined by a northeast and a southwest corner.",
          "$ref": "GoogleGeoTypeViewport"
        }
      },
      "id": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction",
      "type": "object",
      "description": "The region to search. The results will be restricted to the specified region."
    },
    "GoogleMapsPlacesV1ContextualContentJustification": {
      "description": "Justifications for the place. Justifications answers the question of why a place could interest an end user.",
      "id": "GoogleMapsPlacesV1ContextualContentJustification",
      "properties": {
        "businessAvailabilityAttributesJustification": {
          "$ref": "GoogleMapsPlacesV1ContextualContentJustificationBusinessAvailabilityAttributesJustification"
        },
        "reviewJustification": {
          "$ref": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustification"
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint": {
      "properties": {
        "hour": {
          "description": "The hour in 24 hour format. Ranges from 0 to 23.",
          "type": "integer",
          "format": "int32"
        },
        "minute": {
          "description": "The minute. Ranges from 0 to 59.",
          "type": "integer",
          "format": "int32"
        },
        "truncated": {
          "type": "boolean",
          "description": "Whether or not this endpoint was truncated. Truncation occurs when the real hours are outside the times we are willing to return hours between, so we truncate the hours back to these boundaries. This ensures that at most 24 * 7 hours from midnight of the day of the request are returned."
        },
        "date": {
          "description": "Date in the local timezone for the place.",
          "$ref": "GoogleTypeDate"
        },
        "day": {
          "type": "integer",
          "description": "A day of the week, as an integer in the range 0-6. 0 is Sunday, 1 is Monday, etc.",
          "format": "int32"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint",
      "type": "object",
      "description": "Status changing points."
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleMapsPlacesV1RouteModifiers": {
      "id": "GoogleMapsPlacesV1RouteModifiers",
      "type": "object",
      "description": "Encapsulates a set of optional conditions to satisfy when calculating the routes.",
      "properties": {
        "avoidIndoor": {
          "type": "boolean",
          "description": "Optional. When set to true, avoids navigating indoors where reasonable, giving preference to routes not containing indoor navigation. Applies only to the `WALK` `TravelMode`."
        },
        "avoidHighways": {
          "type": "boolean",
          "description": "Optional. When set to true, avoids highways where reasonable, giving preference to routes not containing highways. Applies only to the `DRIVE` and `TWO_WHEELER` `TravelMode`."
        },
        "avoidTolls": {
          "type": "boolean",
          "description": "Optional. When set to true, avoids toll roads where reasonable, giving preference to routes not containing toll roads. Applies only to the `DRIVE` and `TWO_WHEELER` `TravelMode`."
        },
        "avoidFerries": {
          "description": "Optional. When set to true, avoids ferries where reasonable, giving preference to routes not containing ferries. Applies only to the `DRIVE` and `TWO_WHEELER` `TravelMode`.",
          "type": "boolean"
        }
      }
    },
    "GoogleMapsPlacesV1PlaceGoogleMapsLinks": {
      "properties": {
        "writeAReviewUri": {
          "description": "A link to write a review for this place on Google Maps.",
          "type": "string"
        },
        "placeUri": {
          "description": "A link to show this place.",
          "type": "string"
        },
        "directionsUri": {
          "description": "A link to show the directions to the place. The link only populates the destination location and uses the default travel mode `DRIVE`.",
          "type": "string"
        },
        "reviewsUri": {
          "description": "A link to show reviews of this place on Google Maps.",
          "type": "string"
        },
        "photosUri": {
          "description": "A link to show photos of this place on Google Maps.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Links to trigger different Google Maps actions.",
      "id": "GoogleMapsPlacesV1PlaceGoogleMapsLinks"
    },
    "GoogleMapsPlacesV1PlaceReviewSummary": {
      "properties": {
        "flagContentUri": {
          "description": "A link where users can flag a problem with the summary.",
          "type": "string"
        },
        "reviewsUri": {
          "description": "A link to show reviews of this place on Google Maps.",
          "type": "string"
        },
        "text": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The summary of user reviews."
        },
        "disclosureText": {
          "description": "The AI disclosure message \"Summarized with Gemini\" (and its localized variants). This will be in the language specified in the request if available.",
          "$ref": "GoogleTypeLocalizedText"
        }
      },
      "description": "AI-generated summary of the place using user reviews.",
      "id": "GoogleMapsPlacesV1PlaceReviewSummary",
      "type": "object"
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText": {
      "properties": {
        "text": {
          "description": "Text that may be used as is or formatted with `matches`.",
          "type": "string"
        },
        "matches": {
          "items": {
            "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRange"
          },
          "description": "A list of string ranges identifying where the input request matched in `text`. The ranges can be used to format specific parts of `text`. The substrings may not be exact matches of `input` if the matching was determined by criteria other than string matching (for example, spell corrections or transliterations). These values are Unicode character offsets of `text`. The ranges are guaranteed to be ordered in increasing offset values.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText",
      "description": "Text representing a Place or query prediction. The text may be used as is or formatted."
    },
    "GoogleMapsPlacesV1RoutingSummaryLeg": {
      "description": "A leg is a single portion of a journey from one location to another.",
      "id": "GoogleMapsPlacesV1RoutingSummaryLeg",
      "type": "object",
      "properties": {
        "duration": {
          "description": "The time it takes to complete this leg of the trip.",
          "format": "google-duration",
          "type": "string"
        },
        "distanceMeters": {
          "format": "int32",
          "type": "integer",
          "description": "The distance of this leg of the trip."
        }
      }
    },
    "GoogleMapsPlacesV1PlaceConsumerAlert": {
      "properties": {
        "details": {
          "description": "The details of the consumer alert message.",
          "$ref": "GoogleMapsPlacesV1PlaceConsumerAlertDetails"
        },
        "languageCode": {
          "description": "The language code of the consumer alert message. This is a BCP 47 language code.",
          "type": "string"
        },
        "overview": {
          "description": "The overview of the consumer alert message.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceConsumerAlert",
      "description": "The consumer alert message for the place when we detect suspicious review activity on a business or a business violates our policies."
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionPlacePrediction": {
      "properties": {
        "structuredFormat": {
          "description": "A breakdown of the Place prediction into main text containing the name of the Place and secondary text containing additional disambiguating features (such as a city or region). `structured_format` is recommended for developers who wish to show two separate, but related, UI elements. Developers who wish to show a single UI element may want to use `text` instead. They are two different ways to represent a Place prediction. Users should not try to parse `structured_format` into `text` or vice versa.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat"
        },
        "place": {
          "description": "The resource name of the suggested Place. This name can be used in other APIs that accept Place names.",
          "type": "string"
        },
        "types": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of types that apply to this Place from Table A or Table B in https://developers.google.com/maps/documentation/places/web-service/place-types. A type is a categorization of a Place. Places with shared types will share similar characteristics."
        },
        "distanceMeters": {
          "format": "int32",
          "type": "integer",
          "description": "The length of the geodesic in meters from `origin` if `origin` is specified. Certain predictions such as routes may not populate this field."
        },
        "text": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText",
          "description": "Contains the human-readable name for the returned result. For establishment results, this is usually the business name and address. `text` is recommended for developers who wish to show a single UI element. Developers who wish to show two separate, but related, UI elements may want to use `structured_format` instead. They are two different ways to represent a Place prediction. Users should not try to parse `structured_format` into `text` or vice versa. This text may be different from the `display_name` returned by GetPlace. May be in mixed languages if the request `input` and `language_code` are in different languages or if the Place does not have a translation from the local language to `language_code`."
        },
        "placeId": {
          "type": "string",
          "description": "The unique identifier of the suggested Place. This identifier can be used in other APIs that accept Place IDs."
        }
      },
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionPlacePrediction",
      "type": "object",
      "description": "Prediction results for a Place Autocomplete prediction."
    },
    "GoogleMapsPlacesV1TransitAgency": {
      "type": "object",
      "id": "GoogleMapsPlacesV1TransitAgency",
      "properties": {
        "url": {
          "description": "The URL of the agency's homepage.",
          "type": "string"
        },
        "lines": {
          "type": "array",
          "description": "The transit lines that are served by this agency.",
          "items": {
            "$ref": "GoogleMapsPlacesV1TransitLine"
          }
        },
        "fareUrl": {
          "type": "string",
          "description": "The URL of the agency's fare details page."
        },
        "icon": {
          "$ref": "GoogleMapsPlacesV1TransitIcon",
          "description": "Icon identifier for localized branded icon of a transit system (e.g. London Underground) which should be used instead of TransitLine.vehicle_icon in the UI."
        },
        "displayName": {
          "description": "Agency name (e.g. \"VTA\") in the requested language.",
          "$ref": "GoogleTypeLocalizedText"
        }
      },
      "description": "Represents a transit agency."
    },
    "GoogleMapsPlacesV1TransitStation": {
      "description": "Represents transit-specific information for a place.",
      "properties": {
        "displayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The name of the station in the local language."
        },
        "agencies": {
          "description": "The transit agencies that serve this station.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1TransitAgency"
          }
        },
        "stops": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1TransitStop"
          },
          "description": "Transit stops at this station."
        }
      },
      "id": "GoogleMapsPlacesV1TransitStation",
      "type": "object"
    },
    "GoogleTypeLatLng": {
      "type": "object",
      "id": "GoogleTypeLatLng",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "properties": {
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double",
          "type": "number"
        },
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedTextHighlightedTextRange": {
      "type": "object",
      "properties": {
        "endIndex": {
          "format": "int32",
          "type": "integer"
        },
        "startIndex": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The range of highlighted text.",
      "id": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedTextHighlightedTextRange"
    },
    "GoogleMapsPlacesV1SearchTextRequestEVOptions": {
      "type": "object",
      "description": "Searchable EV options of a place search request.",
      "properties": {
        "minimumChargingRateKw": {
          "format": "double",
          "type": "number",
          "description": "Optional. Minimum required charging rate in kilowatts. A place with a charging rate less than the specified rate is filtered out."
        },
        "connectorTypes": {
          "items": {
            "enumDescriptions": [
              "Unspecified connector.",
              "Other connector types.",
              "J1772 type 1 connector.",
              "IEC 62196 type 2 connector. Often referred to as MENNEKES.",
              "CHAdeMO type connector.",
              "Combined Charging System (AC and DC). Based on SAE. Type-1 J-1772 connector",
              "Combined Charging System (AC and DC). Based on Type-2 Mennekes connector",
              "The generic TESLA connector. This is NACS in the North America but can be non-NACS in other parts of the world (e.g. CCS Combo 2 (CCS2) or GB/T). This value is less representative of an actual connector type, and more represents the ability to charge a Tesla brand vehicle at a Tesla owned charging station.",
              "GB/T type corresponds to the GB/T standard in China. This type covers all GB_T types.",
              "Unspecified wall outlet.",
              "The North American Charging System (NACS), standardized as SAE J3400."
            ],
            "type": "string",
            "enum": [
              "EV_CONNECTOR_TYPE_UNSPECIFIED",
              "EV_CONNECTOR_TYPE_OTHER",
              "EV_CONNECTOR_TYPE_J1772",
              "EV_CONNECTOR_TYPE_TYPE_2",
              "EV_CONNECTOR_TYPE_CHADEMO",
              "EV_CONNECTOR_TYPE_CCS_COMBO_1",
              "EV_CONNECTOR_TYPE_CCS_COMBO_2",
              "EV_CONNECTOR_TYPE_TESLA",
              "EV_CONNECTOR_TYPE_UNSPECIFIED_GB_T",
              "EV_CONNECTOR_TYPE_UNSPECIFIED_WALL_OUTLET",
              "EV_CONNECTOR_TYPE_NACS"
            ]
          },
          "type": "array",
          "description": "Optional. The list of preferred EV connector types. A place that does not support any of the listed connector types is filtered out."
        }
      },
      "id": "GoogleMapsPlacesV1SearchTextRequestEVOptions"
    },
    "GoogleMapsPlacesV1PlaceNavigationPoint": {
      "description": "A navigation point is a location next to a road where navigation can end.",
      "type": "object",
      "properties": {
        "navigationPointToken": {
          "description": "A token that can be used to identify this navigation point.",
          "type": "string"
        },
        "location": {
          "$ref": "GoogleTypeLatLng",
          "description": "A point next to the road segment where navigation should end. The point is intentionally slightly offset from the road's centerline to clearly mark the side of the road where the place is located."
        },
        "travelModes": {
          "type": "array",
          "description": "Travel modes that are appropriate for this navigation point.",
          "items": {
            "enumDescriptions": [
              "Not used.",
              "Suitable for driving.",
              "Suitable for walking."
            ],
            "type": "string",
            "enum": [
              "TRAVEL_MODE_UNSPECIFIED",
              "DRIVE",
              "WALK"
            ]
          }
        },
        "displayName": {
          "description": "The display name of this navigation point. For example, \"5th Ave\" or \"Gate B\".",
          "$ref": "GoogleTypeLocalizedText"
        },
        "usages": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "USAGE_UNSPECIFIED",
              "DROPOFF",
              "PICKUP",
              "PARKING"
            ],
            "enumDescriptions": [
              "Not used.",
              "Suitable for dropping off a passenger. For example, a rideshare drop off location.",
              "Suitable for picking up a passenger. For example, a rideshare pick up location.",
              "Suitable for parking. For example, within a parking lot."
            ]
          },
          "description": "Lists `usages` supported by this navigation point. If empty, it does not necessarily mean its usage is restricted in any way. All navigation points can be used for general navigation."
        }
      },
      "id": "GoogleMapsPlacesV1PlaceNavigationPoint"
    },
    "GoogleGeoTypeViewport": {
      "id": "GoogleGeoTypeViewport",
      "type": "object",
      "properties": {
        "low": {
          "$ref": "GoogleTypeLatLng",
          "description": "Required. The low point of the viewport."
        },
        "high": {
          "description": "Required. The high point of the viewport.",
          "$ref": "GoogleTypeLatLng"
        }
      },
      "description": "A latitude-longitude viewport, represented as two diagonally opposite `low` and `high` points. A viewport is considered a closed region, i.e. it includes its boundary. The latitude bounds must range between -90 to 90 degrees inclusive, and the longitude bounds must range between -180 to 180 degrees inclusive. Various cases include: - If `low` = `high`, the viewport consists of that single point. - If `low.longitude` > `high.longitude`, the longitude range is inverted (the viewport crosses the 180 degree longitude line). - If `low.longitude` = -180 degrees and `high.longitude` = 180 degrees, the viewport includes all longitudes. - If `low.longitude` = 180 degrees and `high.longitude` = -180 degrees, the longitude range is empty. - If `low.latitude` > `high.latitude`, the latitude range is empty. Both `low` and `high` must be populated, and the represented box cannot be empty (as specified by the definitions above). An empty viewport will result in an error. For example, this viewport fully encloses New York City: { \"low\": { \"latitude\": 40.477398, \"longitude\": -74.259087 }, \"high\": { \"latitude\": 40.91618, \"longitude\": -73.70018 } }"
    },
    "GoogleMapsPlacesV1PhotoMedia": {
      "properties": {
        "photoUri": {
          "description": "A short-lived uri that can be used to render the photo.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of a photo media in the format: `places/{place_id}/photos/{photo_reference}/media`.",
          "type": "string"
        }
      },
      "description": "A photo media from Places API.",
      "type": "object",
      "id": "GoogleMapsPlacesV1PhotoMedia"
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRange": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRange",
      "type": "object",
      "properties": {
        "startOffset": {
          "format": "int32",
          "type": "integer",
          "description": "Zero-based offset of the first Unicode character of the string (inclusive)."
        },
        "endOffset": {
          "format": "int32",
          "type": "integer",
          "description": "Zero-based offset of the last Unicode character (exclusive)."
        }
      },
      "description": "Identifies a substring within a given text."
    },
    "GoogleTypeLocalizedText": {
      "description": "Localized variant of a text in a particular language.",
      "type": "object",
      "id": "GoogleTypeLocalizedText",
      "properties": {
        "text": {
          "description": "Localized string in the language corresponding to language_code below.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        }
      }
    },
    "GoogleMapsPlacesV1FuelOptions": {
      "id": "GoogleMapsPlacesV1FuelOptions",
      "description": "The most recent information about fuel options in a gas station. This information is updated regularly.",
      "type": "object",
      "properties": {
        "fuelPrices": {
          "items": {
            "$ref": "GoogleMapsPlacesV1FuelOptionsFuelPrice"
          },
          "description": "The last known fuel price for each type of fuel this station has. There is one entry per fuel type this station has. Order is not important.",
          "type": "array"
        }
      }
    },
    "GoogleMapsPlacesV1AutocompletePlacesRequest": {
      "description": "Request proto for AutocompletePlaces.",
      "properties": {
        "includeFutureOpeningBusinesses": {
          "description": "Optional. If true, include businesses that are not yet open but will open in the future.",
          "type": "boolean"
        },
        "locationBias": {
          "description": "Optional. Bias results to a specified location. At most one of `location_bias` or `location_restriction` should be set. If neither are set, the results will be biased by IP address, meaning the IP address will be mapped to an imprecise location and used as a biasing signal.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationBias"
        },
        "includedRegionCodes": {
          "description": "Optional. Only include results in the specified regions, specified as up to 15 CLDR two-character region codes. An empty set will not restrict the results. If both `location_restriction` and `included_region_codes` are set, the results will be located in the area of intersection.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The language in which to return results. Defaults to en-US. The results may be in mixed languages if the language used in `input` is different from `language_code` or if the returned Place does not have a translation from the local language to `language_code`."
        },
        "inputOffset": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. A zero-based Unicode character offset of `input` indicating the cursor position in `input`. The cursor position may influence what predictions are returned. If empty, defaults to the length of `input`."
        },
        "regionCode": {
          "type": "string",
          "description": "Optional. The region code, specified as a CLDR two-character region code. This affects address formatting, result ranking, and may influence what results are returned. This does not restrict results to the specified region. To restrict results to a region, use `region_code_restriction`."
        },
        "includedPrimaryTypes": {
          "type": "array",
          "description": "Optional. Included primary Place type (for example, \"restaurant\" or \"gas_station\") in Place Types (https://developers.google.com/maps/documentation/places/web-service/place-types), or only `(regions)`, or only `(cities)`. A Place is only returned if its primary type is included in this list. Up to 5 values can be specified. If no types are specified, all Place types are returned.",
          "items": {
            "type": "string"
          }
        },
        "includePureServiceAreaBusinesses": {
          "type": "boolean",
          "description": "Optional. Include pure service area businesses if the field is set to true. Pure service area business is a business that visits or delivers to customers directly but does not serve customers at their business address. For example, businesses like cleaning services or plumbers. Those businesses do not have a physical address or location on Google Maps. Places will not return fields including `location`, `plus_code`, and other location related fields for these businesses."
        },
        "sessionToken": {
          "description": "Optional. A string which identifies an Autocomplete session for billing purposes. Must be a URL and filename safe base64 string with at most 36 ASCII characters in length. Otherwise an INVALID_ARGUMENT error is returned. The session begins when the user starts typing a query, and concludes when they select a place and a call to Place Details or Address Validation is made. Each session can have multiple queries, followed by one Place Details or Address Validation request. The credentials used for each request within a session must belong to the same Google Cloud Console project. Once a session has concluded, the token is no longer valid; your app must generate a fresh token for each session. If the `session_token` parameter is omitted, or if you reuse a session token, the session is charged as if no session token was provided (each request is billed separately). We recommend the following guidelines: * Use session tokens for all Place Autocomplete calls. * Generate a fresh token for each session. Using a version 4 UUID is recommended. * Ensure that the credentials used for all Place Autocomplete, Place Details, and Address Validation requests within a session belong to the same Cloud Console project. * Be sure to pass a unique session token for each new session. Using the same token for more than one session will result in each request being billed individually.",
          "type": "string"
        },
        "input": {
          "type": "string",
          "description": "Required. The text string on which to search."
        },
        "includeQueryPredictions": {
          "type": "boolean",
          "description": "Optional. If true, the response will include both Place and query predictions. Otherwise the response will only return Place predictions."
        },
        "locationRestriction": {
          "description": "Optional. Restrict results to a specified location. At most one of `location_bias` or `location_restriction` should be set. If neither are set, the results will be biased by IP address, meaning the IP address will be mapped to an imprecise location and used as a biasing signal.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction"
        },
        "origin": {
          "$ref": "GoogleTypeLatLng",
          "description": "Optional. The origin point from which to calculate geodesic distance to the destination (returned as `distance_meters`). If this value is omitted, geodesic distance will not be returned."
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1AutocompletePlacesRequest"
    },
    "GoogleMapsPlacesV1PlaceAttribution": {
      "properties": {
        "provider": {
          "description": "Name of the Place's data provider.",
          "type": "string"
        },
        "providerUri": {
          "description": "URI to the Place's data provider.",
          "type": "string"
        }
      },
      "description": "Information about data providers of this place.",
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceAttribution"
    },
    "GoogleTypePostalAddress": {
      "properties": {
        "addressLines": {
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "organization": {
          "type": "string",
          "description": "Optional. The name of the organization at the address."
        },
        "postalCode": {
          "type": "string",
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States)."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
        },
        "locality": {
          "type": "string",
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`."
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated."
        },
        "recipients": {
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "revision": {
          "type": "integer",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "format": "int32"
        },
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district."
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire).",
          "type": "string"
        }
      },
      "id": "GoogleTypePostalAddress",
      "type": "object",
      "description": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478."
    },
    "GoogleMapsPlacesV1AutocompletePlacesRequestLocationBias": {
      "description": "The region to search. The results may be biased around the specified region.",
      "properties": {
        "circle": {
          "$ref": "GoogleMapsPlacesV1Circle",
          "description": "A circle defined by a center point and radius."
        },
        "rectangle": {
          "description": "A viewport defined by a northeast and a southwest corner.",
          "$ref": "GoogleGeoTypeViewport"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationBias"
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestion": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestion",
      "description": "An Autocomplete suggestion result.",
      "type": "object",
      "properties": {
        "queryPrediction": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionQueryPrediction",
          "description": "A prediction for a query."
        },
        "placePrediction": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionPlacePrediction",
          "description": "A prediction for a Place."
        }
      }
    },
    "GoogleTypeMoney": {
      "properties": {
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      },
      "type": "object",
      "id": "GoogleTypeMoney",
      "description": "Represents an amount of money with its currency type."
    },
    "GoogleMapsPlacesV1PlaceEntrance": {
      "properties": {
        "tags": {
          "description": "A list of tags that describe the entrance.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TAG_UNSPECIFIED",
              "PREFERRED"
            ],
            "enumDescriptions": [
              "Not used.",
              "The entrance likely provides physical access to the primary place in the returned destination. A place can have multiple preferred entrances. If an entrance does not have this tag, it means the entrance is physically on the same building as the primary place, but does not necessarily provide access to the place. For example, if the primary place is a restaurant in a strip mall, the \"PREFERRED\" entrances will be the ones that likely lead into the restaurant itself, while the other returned entrances will be other entrances for the building, such as entrances into other restaurants in the strip mall. If the primary place is a building itself, the `PREFERRED` entrances will be the ones that lead into the \"main\" part of the building. For example, in a shopping center the `PREFERRED` entrances will be the ones that allow access to the main foyer area, but if an entrance only provides access to a store on the side of the building, it won't be a `PREFERRED` entrance. Note: a `PREFERRED` entrance might not provide access to the primary place, and a non-`PREFERRED` entrance might provide access to the primary place."
            ]
          }
        },
        "location": {
          "description": "The location of the entrance.",
          "$ref": "GoogleTypeLatLng"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceEntrance",
      "type": "object",
      "description": "An entrance is a single latitude/longitude coordinate pair that defines the location of an entry and exit point for a place."
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponse": {
      "type": "object",
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponse",
      "description": "Response proto for AutocompletePlaces.",
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestion"
          },
          "description": "Contains a list of suggestions, ordered in descending order of relevance."
        }
      }
    },
    "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation": {
      "description": "EV charging information grouped by [type, max_charge_rate_kw]. Shows EV charge aggregation of connectors that have the same type and max charge rate in kw.",
      "id": "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation",
      "type": "object",
      "properties": {
        "availableCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of connectors in this aggregation that are currently available."
        },
        "outOfServiceCount": {
          "description": "Number of connectors in this aggregation that are currently out of service.",
          "type": "integer",
          "format": "int32"
        },
        "count": {
          "format": "int32",
          "type": "integer",
          "description": "Number of connectors in this aggregation."
        },
        "type": {
          "type": "string",
          "enum": [
            "EV_CONNECTOR_TYPE_UNSPECIFIED",
            "EV_CONNECTOR_TYPE_OTHER",
            "EV_CONNECTOR_TYPE_J1772",
            "EV_CONNECTOR_TYPE_TYPE_2",
            "EV_CONNECTOR_TYPE_CHADEMO",
            "EV_CONNECTOR_TYPE_CCS_COMBO_1",
            "EV_CONNECTOR_TYPE_CCS_COMBO_2",
            "EV_CONNECTOR_TYPE_TESLA",
            "EV_CONNECTOR_TYPE_UNSPECIFIED_GB_T",
            "EV_CONNECTOR_TYPE_UNSPECIFIED_WALL_OUTLET",
            "EV_CONNECTOR_TYPE_NACS"
          ],
          "description": "The connector type of this aggregation.",
          "enumDescriptions": [
            "Unspecified connector.",
            "Other connector types.",
            "J1772 type 1 connector.",
            "IEC 62196 type 2 connector. Often referred to as MENNEKES.",
            "CHAdeMO type connector.",
            "Combined Charging System (AC and DC). Based on SAE. Type-1 J-1772 connector",
            "Combined Charging System (AC and DC). Based on Type-2 Mennekes connector",
            "The generic TESLA connector. This is NACS in the North America but can be non-NACS in other parts of the world (e.g. CCS Combo 2 (CCS2) or GB/T). This value is less representative of an actual connector type, and more represents the ability to charge a Tesla brand vehicle at a Tesla owned charging station.",
            "GB/T type corresponds to the GB/T standard in China. This type covers all GB_T types.",
            "Unspecified wall outlet.",
            "The North American Charging System (NACS), standardized as SAE J3400."
          ]
        },
        "availabilityLastUpdateTime": {
          "description": "The timestamp when the connector availability information in this aggregation was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "maxChargeRateKw": {
          "type": "number",
          "description": "The static max charging rate in kw of each connector in the aggregation.",
          "format": "double"
        }
      }
    },
    "GoogleMapsPlacesV1AddressDescriptor": {
      "id": "GoogleMapsPlacesV1AddressDescriptor",
      "properties": {
        "landmarks": {
          "items": {
            "$ref": "GoogleMapsPlacesV1AddressDescriptorLandmark"
          },
          "type": "array",
          "description": "A ranked list of nearby landmarks. The most recognizable and nearby landmarks are ranked first."
        },
        "areas": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1AddressDescriptorArea"
          },
          "description": "A ranked list of containing or adjacent areas. The most recognizable and precise areas are ranked first."
        }
      },
      "description": "A relational description of a location. Includes a ranked set of nearby landmarks and precise containing areas and their relationship to the target location.",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay": {
      "type": "object",
      "description": "Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day.",
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay",
      "properties": {
        "date": {
          "description": "The date of this special day.",
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionQueryPrediction": {
      "type": "object",
      "description": "Prediction results for a Query Autocomplete prediction.",
      "properties": {
        "text": {
          "description": "The predicted text. This text does not represent a Place, but rather a text query that could be used in a search endpoint (for example, Text Search). `text` is recommended for developers who wish to show a single UI element. Developers who wish to show two separate, but related, UI elements may want to use `structured_format` instead. They are two different ways to represent a query prediction. Users should not try to parse `structured_format` into `text` or vice versa. May be in mixed languages if the request `input` and `language_code` are in different languages or if part of the query does not have a translation from the local language to `language_code`.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText"
        },
        "structuredFormat": {
          "description": "A breakdown of the query prediction into main text containing the query and secondary text containing additional disambiguating features (such as a city or region). `structured_format` is recommended for developers who wish to show two separate, but related, UI elements. Developers who wish to show a single UI element may want to use `text` instead. They are two different ways to represent a query prediction. Users should not try to parse `structured_format` into `text` or vice versa.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat"
        }
      },
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionQueryPrediction"
    },
    "GoogleMapsPlacesV1EVChargeOptions": {
      "type": "object",
      "properties": {
        "connectorAggregation": {
          "type": "array",
          "description": "A list of EV charging connector aggregations that contain connectors of the same type and same charge rate.",
          "items": {
            "$ref": "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation"
          }
        },
        "connectorCount": {
          "description": "Number of connectors at this station. However, because some ports can have multiple connectors but only be able to charge one car at a time (e.g.) the number of connectors may be greater than the total number of cars which can charge simultaneously.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleMapsPlacesV1EVChargeOptions",
      "description": "Information about the EV Charge Station hosted in Place. Terminology follows https://afdc.energy.gov/fuels/electricity_infrastructure.html One port could charge one car at a time. One port has one or more connectors. One station has one or more ports."
    },
    "GoogleMapsPlacesV1Place": {
      "description": "All the information representing a Place.",
      "type": "object",
      "properties": {
        "formattedAddress": {
          "description": "A full, human-readable address for this place.",
          "type": "string"
        },
        "googleMapsTypeLabel": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The type label of the place on Google Maps, localized to the request language if applicable, for example, \"Restaurant\", \"Cafe\", \"Airport\", etc. The type label may be different from the primary type display name and may not be a supported type in [Places API Place Types table](https://developers.google.com/maps/documentation/places/web-service/place-types)."
        },
        "movedPlaceId": {
          "type": "string",
          "description": "If this Place is permanently closed and has moved to a new Place, this field contains the new Place's place ID. If this Place moved multiple times, this field will represent the first moved Place. This field will not be populated if this Place has not moved."
        },
        "evChargeOptions": {
          "description": "Information of ev charging options.",
          "$ref": "GoogleMapsPlacesV1EVChargeOptions"
        },
        "viewport": {
          "$ref": "GoogleGeoTypeViewport",
          "description": "A viewport suitable for displaying the place on an average-sized map. This viewport should not be used as the physical boundary or the service area of the business."
        },
        "consumerAlert": {
          "$ref": "GoogleMapsPlacesV1PlaceConsumerAlert",
          "description": "The consumer alert message for the place when we detect suspicious review activity on a business or a business violates our policies."
        },
        "shortFormattedAddress": {
          "type": "string",
          "description": "A short, human-readable address for this place."
        },
        "fuelOptions": {
          "$ref": "GoogleMapsPlacesV1FuelOptions",
          "description": "The most recent information about fuel options in a gas station. This information is updated regularly."
        },
        "primaryTypeDisplayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The display name of the primary type, localized to the request language if applicable. For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types. The primary type may be missing if the place's primary type is not a supported type."
        },
        "openingDate": {
          "$ref": "GoogleTypeDate",
          "description": "The date this place will open in the future. This field is only populated if the business status is FUTURE_OPENING."
        },
        "displayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The localized name of the place, suitable as a short human-readable description. For example, \"Google Sydney\", \"Starbucks\", \"Pyrmont\", etc."
        },
        "id": {
[...]
