{
  "description": "The Play Integrity API helps you check that you're interacting with your genuine app on a genuine Android device powered by Google Play services. The Play Integrity API has replaced SafetyNet Attestation and Android Device Verification.",
  "revision": "20260826",
  "basePath": "",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playintegrity": {
          "description": "Private Service: https://www.googleapis.com/auth/playintegrity"
        }
      }
    }
  },
  "rootUrl": "https://playintegrity.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v1",
  "resources": {
    "deviceRecall": {
      "methods": {
        "write": {
          "response": {
            "$ref": "WriteDeviceRecallResponse"
          },
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Required. Package name of the app the attached integrity token belongs to.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Writes recall bits for the device where Play Integrity API token is obtained. The endpoint is available to select Play partners in an early access program (EAP).",
          "path": "v1/{+packageName}/deviceRecall:write",
          "id": "playintegrity.deviceRecall.write",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "request": {
            "$ref": "WriteDeviceRecallRequest"
          },
          "flatPath": "v1/{v1Id}/deviceRecall:write"
        }
      }
    },
    "v1": {
      "methods": {
        "decodePcIntegrityToken": {
          "description": "Decodes the PC integrity token and returns the PC token payload.",
          "request": {
            "$ref": "DecodePcIntegrityTokenRequest"
          },
          "id": "playintegrity.decodePcIntegrityToken",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "flatPath": "v1/{v1Id}:decodePcIntegrityToken",
          "parameters": {
            "packageName": {
              "pattern": "^[^/]+$",
              "description": "Package name of the app the attached integrity token belongs to.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "response": {
            "$ref": "DecodePcIntegrityTokenResponse"
          },
          "httpMethod": "POST",
          "path": "v1/{+packageName}:decodePcIntegrityToken"
        },
        "decodeIntegrityToken": {
          "request": {
            "$ref": "DecodeIntegrityTokenRequest"
          },
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "parameters": {
            "packageName": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": " Package name of the app the attached integrity token belongs to."
            }
          },
          "description": "Decodes the integrity token and returns the token payload.",
          "id": "playintegrity.decodeIntegrityToken",
          "flatPath": "v1/{v1Id}:decodeIntegrityToken",
          "response": {
            "$ref": "DecodeIntegrityTokenResponse"
          },
          "httpMethod": "POST",
          "path": "v1/{+packageName}:decodeIntegrityToken"
        }
      }
    }
  },
  "servicePath": "",
  "documentationLink": "https://developer.android.com/google/play/integrity",
  "version_module": true,
  "baseUrl": "https://playintegrity.googleapis.com/",
  "title": "Google Play Integrity API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://playintegrity.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "id": "playintegrity:v1",
  "name": "playintegrity",
  "canonicalName": "Play Integrity",
  "ownerName": "Google",
  "protocol": "rest",
  "batchPath": "batch",
  "schemas": {
    "DeviceRecall": {
      "description": "Contains the recall bits per device set by the developer.",
      "properties": {
        "values": {
          "description": "Required. Contains the recall bits values.",
          "$ref": "Values"
        },
        "writeDates": {
          "$ref": "WriteDates",
          "description": "Required. Contains the recall bits write dates."
        }
      },
      "id": "DeviceRecall",
      "type": "object"
    },
    "AccountDetails": {
      "type": "object",
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "id": "AccountDetails",
      "properties": {
        "accountActivity": {
          "$ref": "AccountActivity",
          "description": "(Restricted Access) Details about the account activity for the user in the scope.",
          "deprecated": true
        },
        "appLicensingVerdict": {
          "type": "string",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar or the application was not a known Play version."
          ],
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ]
        }
      }
    },
    "DeviceAttributes": {
      "type": "object",
      "description": "Contains information about the device for which the integrity token was generated, e.g. Android SDK version.",
      "properties": {
        "sdkVersion": {
          "description": "Android SDK version of the device, as defined in the public Android documentation: https://developer.android.com/reference/android/os/Build.VERSION_CODES. It won't be set if a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "DeviceAttributes"
    },
    "RecentDeviceActivity": {
      "type": "object",
      "id": "RecentDeviceActivity",
      "properties": {
        "deviceActivityLevel": {
          "enumDescriptions": [
            "Device activity level has not been set.",
            "Device activity level has not been evaluated.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details."
          ],
          "type": "string",
          "description": "Required. Indicates the activity level of the device.",
          "enum": [
            "DEVICE_ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "LEVEL_1",
            "LEVEL_2",
            "LEVEL_3",
            "LEVEL_4"
          ]
        }
      },
      "description": "Recent device activity can help developers identify devices that have exhibited hyperactive attestation activity, which could be a sign of an attack or token farming."
    },
    "TestingDetails": {
      "description": "Contains additional information generated for testing responses.",
      "properties": {
        "isTestingResponse": {
          "type": "boolean",
          "description": "Required. Indicates that the information contained in this payload is a testing response that is statically overridden for a tester."
        }
      },
      "id": "TestingDetails",
      "type": "object"
    },
    "AccountActivity": {
      "deprecated": true,
      "type": "object",
      "id": "AccountActivity",
      "properties": {
        "activityLevel": {
          "enumDescriptions": [
            "Activity level has not been set.",
            "Account activity level is not evaluated.",
            "Unusual activity for at least one of the user accounts on the device.",
            "Insufficient activity to verify the user account on the device.",
            "Typical activity for the user account or accounts on the device.",
            "Typical for the user account or accounts on the device, with harder to replicate signals."
          ],
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "UNUSUAL",
            "UNKNOWN",
            "TYPICAL_BASIC",
            "TYPICAL_STRONG"
          ],
          "description": "Required. Indicates the activity level of the account."
        }
      },
      "description": "(Restricted Access) Contains a signal helping apps differentiating between likely genuine and likely non-genuine user traffic."
    },
    "PcAccountDetails": {
      "id": "PcAccountDetails",
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "properties": {
        "appLicensingVerdict": {
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed."
          ],
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "type": "string",
          "description": "Required. Details about the licensing status of the user for the app in the scope."
        }
      },
      "type": "object"
    },
    "DecodeIntegrityTokenRequest": {
      "id": "DecodeIntegrityTokenRequest",
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to decode the integrity token."
    },
    "DecodeIntegrityTokenResponse": {
      "description": "Response containing the decoded integrity payload.",
      "properties": {
        "tokenPayloadExternal": {
          "description": "Plain token payload generated from the decoded integrity token.",
          "$ref": "TokenPayloadExternal"
        }
      },
      "id": "DecodeIntegrityTokenResponse",
      "type": "object"
    },
    "DecodePcIntegrityTokenRequest": {
      "description": "Request to decode the PC integrity token.",
      "properties": {
        "integrityToken": {
          "type": "string",
          "description": "Encoded integrity token."
        }
      },
      "id": "DecodePcIntegrityTokenRequest",
      "type": "object"
    },
    "WriteDeviceRecallRequest": {
      "properties": {
        "newValues": {
          "$ref": "Values",
          "description": "Required. The new values for the device recall bits to be written."
        },
        "integrityToken": {
          "description": "Required. Integrity token obtained from calling Play Integrity API.",
          "type": "string"
        }
      },
      "description": "Request to write device recall bits.",
      "id": "WriteDeviceRecallRequest",
      "type": "object"
    },
    "PcRequestDetails": {
      "id": "PcRequestDetails",
      "type": "object",
      "description": "Contains the integrity request information.",
      "properties": {
        "requestHash": {
          "description": "Request hash that was provided in the request.",
          "type": "string"
        },
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Timestamp, of the integrity application request."
        },
        "requestPackageName": {
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity.",
          "type": "string"
        }
      }
    },
    "PcDeviceIntegrity": {
      "id": "PcDeviceIntegrity",
      "type": "object",
      "properties": {
        "deviceRecognitionVerdict": {
          "type": "array",
          "description": "Details about the integrity of the device the app is running on.",
          "items": {
            "enumDescriptions": [
              "Unspecified device integrity.",
              "App is running on Windows Device with Google Desktop Services."
            ],
            "enum": [
              "DEVICE_RECOGNITION_VERDICT_UNSPECIFIED",
              "MEETS_PC_INTEGRITY"
            ],
            "type": "string"
          }
        }
      },
      "description": "Contains the device attestation information."
    },
    "TokenPayloadExternal": {
      "type": "object",
      "properties": {
        "requestDetails": {
          "$ref": "RequestDetails",
          "description": "Required. Details about the integrity request."
        },
        "deviceIntegrity": {
          "description": "Required. Details about the device integrity.",
          "$ref": "DeviceIntegrity"
        },
        "appIntegrity": {
          "description": "Required. Details about the application integrity.",
          "$ref": "AppIntegrity"
        },
        "testingDetails": {
          "$ref": "TestingDetails",
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status."
        },
        "accountDetails": {
          "description": "Required. Details about the Play Store account.",
          "$ref": "AccountDetails"
        },
        "environmentDetails": {
          "$ref": "EnvironmentDetails",
          "description": "Details of the environment Play Integrity API runs in."
        }
      },
      "id": "TokenPayloadExternal",
      "description": "Contains basic app information and integrity signals like device attestation and licensing details."
    },
    "DeviceIntegrity": {
      "id": "DeviceIntegrity",
      "type": "object",
      "description": "Contains the device attestation information.",
      "properties": {
        "deviceAttributes": {
          "$ref": "DeviceAttributes",
          "description": "Attributes of the device where the integrity token was generated."
        },
        "legacyDeviceRecognitionVerdict": {
          "type": "array",
          "description": "Contains legacy details about the integrity of the device the app is running on. Only for devices with Android version T or higher and only for apps opted in to the new verdicts. Only available during the transition period to the new verdicts system and will be removed afterwards.",
          "items": {
            "type": "string",
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ]
          }
        },
        "recentDeviceActivity": {
          "$ref": "RecentDeviceActivity",
          "description": "Details about the device activity of the device the app is running on."
        },
        "deviceRecall": {
          "$ref": "DeviceRecall",
          "description": "Details about the device recall bits set by the developer."
        },
        "deviceRecognitionVerdict": {
          "description": "Details about the integrity of the device the app is running on.",
          "items": {
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "PcTestingDetails": {
      "description": "Contains additional information generated for testing responses.",
      "properties": {
        "isTestingResponse": {
          "description": "Indicates that the information contained in this payload is a testing response that is statically overridden for a tester.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "PcTestingDetails"
    },
    "WriteDates": {
      "id": "WriteDates",
      "description": "Contains the recall bits write dates.",
      "properties": {
        "yyyymmThird": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the third bit. Note that this value won't be set if the third bit is false."
        },
        "yyyymmSecond": {
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the second bit. Note that this value won't be set if the second bit is false.",
          "type": "integer",
          "format": "int32"
        },
        "yyyymmFirst": {
          "type": "integer",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the first bit. Note that this value won't be set if the first bit is false.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "EnvironmentDetails": {
      "id": "EnvironmentDetails",
      "type": "object",
      "description": "Contains information about the environment Play Integrity API runs in, e.g. Play Protect verdict.",
      "properties": {
        "appAccessRiskVerdict": {
          "$ref": "AppAccessRiskVerdict",
          "description": "The evaluation of the App Access Risk verdicts."
        },
        "playProtectVerdict": {
          "description": "The evaluation of Play Protect verdict.",
          "enum": [
            "PLAY_PROTECT_VERDICT_UNSPECIFIED",
            "UNEVALUATED",
            "NO_ISSUES",
            "NO_DATA",
            "MEDIUM_RISK",
            "HIGH_RISK",
            "POSSIBLE_RISK"
          ],
          "enumDescriptions": [
            "Play Protect verdict has not been set.",
            "Play Protect state was not evaluated. Device may not be trusted.",
            "Play Protect is on and no issues found.",
            "Play Protect is on but no scan has been performed yet. The device or Play Store app may have been reset.",
            "Play Protect is on and warnings found.",
            "Play Protect is on and high severity issues found.",
            "Play Protect is turned off. Turn on Play Protect."
          ],
          "type": "string"
        }
      }
    },
    "WriteDeviceRecallResponse": {
      "type": "object",
      "description": "Response for the Write Device Recall action. Currently empty.",
      "properties": {},
      "id": "WriteDeviceRecallResponse"
    },
    "PcTokenPayloadExternal": {
      "id": "PcTokenPayloadExternal",
      "type": "object",
      "description": "Contains PC device attestation details.",
      "properties": {
        "accountDetails": {
          "$ref": "PcAccountDetails",
          "description": "Details about the account information such as the licensing status."
        },
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "PcRequestDetails"
        },
        "deviceIntegrity": {
          "description": "Required. Details about the device integrity.",
          "$ref": "PcDeviceIntegrity"
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "PcTestingDetails"
        }
      }
    },
    "AppIntegrity": {
      "id": "AppIntegrity",
      "properties": {
        "appRecognitionVerdict": {
          "enum": [
            "UNKNOWN",
            "PLAY_RECOGNIZED",
            "UNRECOGNIZED_VERSION",
            "UNEVALUATED"
          ],
          "description": "Required. Details about the app recognition verdict",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate app integrity",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Application integrity was not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
          ],
          "type": "string"
        },
        "versionCode": {
          "format": "int64",
          "description": "Version code of the application. Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "string"
        },
        "packageName": {
          "description": "Package name of the application under attestation. Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "string"
        },
        "certificateSha256Digest": {
          "items": {
            "type": "string"
          },
          "description": "The SHA256 hash of the requesting app's signing certificates (base64 web-safe encoded). Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "array"
        }
      },
      "description": "Contains the application integrity information.",
      "type": "object"
    },
    "Values": {
      "id": "Values",
      "description": "Contains the recall bits values.",
      "properties": {
        "bitFirst": {
          "type": "boolean",
          "description": "Required. First recall bit value."
        },
        "bitThird": {
          "description": "Required. Third recall bit value.",
          "type": "boolean"
        },
        "bitSecond": {
          "description": "Required. Second recall bit value.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DecodePcIntegrityTokenResponse": {
      "type": "object",
      "properties": {
        "tokenPayloadExternal": {
          "description": "Plain token payload generated from the decoded integrity token.",
          "$ref": "PcTokenPayloadExternal"
        }
      },
      "id": "DecodePcIntegrityTokenResponse",
      "description": "Response containing the decoded PC integrity payload."
    },
    "RequestDetails": {
      "id": "RequestDetails",
      "description": "Contains the integrity request information.",
      "properties": {
        "requestHash": {
          "type": "string",
          "description": "Request hash that was provided in the request."
        },
        "nonce": {
          "type": "string",
          "description": "Nonce that was provided in the request (which is base64 web-safe no-wrap)."
        },
        "requestPackageName": {
          "type": "string",
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity. For details on application integrity, check application_integrity."
        },
        "timestampMillis": {
          "type": "string",
          "format": "int64",
          "description": "Required. Timestamp, in milliseconds, of the integrity application request."
        }
      },
      "type": "object"
    },
    "AppAccessRiskVerdict": {
      "id": "AppAccessRiskVerdict",
      "properties": {
        "appsDetected": {
          "description": "List of detected app types signalled for App Access Risk.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Apps detected is unspecified.",
              "One or more apps is installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to display overlays over the requesting app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to control the device, such as a remote support app.",
              "One or more unknown apps is installed, that were not installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to display overlays over the requesting app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to control the device, such as a remote support app."
            ],
            "enum": [
              "APPS_DETECTED_UNSPECIFIED",
              "KNOWN_INSTALLED",
              "KNOWN_CAPTURING",
              "KNOWN_OVERLAYS",
              "KNOWN_CONTROLLING",
              "UNKNOWN_INSTALLED",
              "UNKNOWN_CAPTURING",
              "UNKNOWN_OVERLAYS",
              "UNKNOWN_CONTROLLING"
            ]
          }
        }
      },
      "description": "Contains signals about others apps on the device which could be used to access or control the requesting app.",
      "type": "object"
    }
  },
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  }
}