{
  "canonicalName": "Play Integrity",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "v1": {
      "methods": {
        "decodeIntegrityToken": {
          "flatPath": "v1/{v1Id}:decodeIntegrityToken",
          "parameters": {
            "packageName": {
              "required": true,
              "description": " Package name of the app the attached integrity token belongs to.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "DecodeIntegrityTokenResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName"
          ],
          "description": "Decodes the integrity token and returns the token payload.",
          "id": "playintegrity.decodeIntegrityToken",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "path": "v1/{+packageName}:decodeIntegrityToken",
          "request": {
            "$ref": "DecodeIntegrityTokenRequest"
          }
        },
        "decodePcIntegrityToken": {
          "id": "playintegrity.decodePcIntegrityToken",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName"
          ],
          "description": "Decodes the PC integrity token and returns the PC token payload.",
          "parameters": {
            "packageName": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Package name of the app the attached integrity token belongs to.",
              "required": true
            }
          },
          "response": {
            "$ref": "DecodePcIntegrityTokenResponse"
          },
          "flatPath": "v1/{v1Id}:decodePcIntegrityToken",
          "request": {
            "$ref": "DecodePcIntegrityTokenRequest"
          },
          "path": "v1/{+packageName}:decodePcIntegrityToken"
        }
      }
    },
    "deviceRecall": {
      "methods": {
        "write": {
          "flatPath": "v1/{v1Id}/deviceRecall:write",
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName"
          ],
          "description": "Writes recall bits for the device where Play Integrity API token is obtained. The endpoint is available to select Play partners in an early access program (EAP).",
          "parameters": {
            "packageName": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. Package name of the app the attached integrity token belongs to.",
              "required": true
            }
          },
          "response": {
            "$ref": "WriteDeviceRecallResponse"
          },
          "id": "playintegrity.deviceRecall.write",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "path": "v1/{+packageName}/deviceRecall:write",
          "request": {
            "$ref": "WriteDeviceRecallRequest"
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://playintegrity.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "playintegrity",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playintegrity": {
          "description": "Private Service: https://www.googleapis.com/auth/playintegrity"
        }
      }
    }
  },
  "revision": "20260811",
  "ownerDomain": "google.com",
  "rootUrl": "https://playintegrity.googleapis.com/",
  "servicePath": "",
  "basePath": "",
  "discoveryVersion": "v1",
  "schemas": {
    "Values": {
      "type": "object",
      "id": "Values",
      "description": "Contains the recall bits values.",
      "properties": {
        "bitThird": {
          "description": "Required. Third recall bit value.",
          "type": "boolean"
        },
        "bitFirst": {
          "description": "Required. First recall bit value.",
          "type": "boolean"
        },
        "bitSecond": {
          "description": "Required. Second recall bit value.",
          "type": "boolean"
        }
      }
    },
    "DecodePcIntegrityTokenResponse": {
      "type": "object",
      "id": "DecodePcIntegrityTokenResponse",
      "description": "Response containing the decoded PC integrity payload.",
      "properties": {
        "tokenPayloadExternal": {
          "description": "Plain token payload generated from the decoded integrity token.",
          "$ref": "PcTokenPayloadExternal"
        }
      }
    },
    "DeviceIntegrity": {
      "description": "Contains the device attestation information.",
      "properties": {
        "deviceRecognitionVerdict": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ]
          },
          "description": "Details about the integrity of the device the app is running on."
        },
        "recentDeviceActivity": {
          "description": "Details about the device activity of the device the app is running on.",
          "$ref": "RecentDeviceActivity"
        },
        "legacyDeviceRecognitionVerdict": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ]
          },
          "description": "Contains legacy details about the integrity of the device the app is running on. Only for devices with Android version T or higher and only for apps opted in to the new verdicts. Only available during the transition period to the new verdicts system and will be removed afterwards."
        },
        "deviceAttributes": {
          "description": "Attributes of the device where the integrity token was generated.",
          "$ref": "DeviceAttributes"
        },
        "deviceRecall": {
          "description": "Details about the device recall bits set by the developer.",
          "$ref": "DeviceRecall"
        }
      },
      "type": "object",
      "id": "DeviceIntegrity"
    },
    "EnvironmentDetails": {
      "description": "Contains information about the environment Play Integrity API runs in, e.g. Play Protect verdict.",
      "properties": {
        "playProtectVerdict": {
          "description": "The evaluation of Play Protect verdict.",
          "enumDescriptions": [
            "Play Protect verdict has not been set.",
            "Play Protect state was not evaluated. Device may not be trusted.",
            "Play Protect is on and no issues found.",
            "Play Protect is on but no scan has been performed yet. The device or Play Store app may have been reset.",
            "Play Protect is on and warnings found.",
            "Play Protect is on and high severity issues found.",
            "Play Protect is turned off. Turn on Play Protect."
          ],
          "type": "string",
          "enum": [
            "PLAY_PROTECT_VERDICT_UNSPECIFIED",
            "UNEVALUATED",
            "NO_ISSUES",
            "NO_DATA",
            "MEDIUM_RISK",
            "HIGH_RISK",
            "POSSIBLE_RISK"
          ]
        },
        "appAccessRiskVerdict": {
          "description": "The evaluation of the App Access Risk verdicts.",
          "$ref": "AppAccessRiskVerdict"
        }
      },
      "id": "EnvironmentDetails",
      "type": "object"
    },
    "DeviceRecall": {
      "id": "DeviceRecall",
      "type": "object",
      "description": "Contains the recall bits per device set by the developer.",
      "properties": {
        "values": {
          "description": "Required. Contains the recall bits values.",
          "$ref": "Values"
        },
        "writeDates": {
          "description": "Required. Contains the recall bits write dates.",
          "$ref": "WriteDates"
        }
      }
    },
    "AccountActivity": {
      "id": "AccountActivity",
      "deprecated": true,
      "description": "(Restricted Access) Contains a signal helping apps differentiating between likely genuine and likely non-genuine user traffic.",
      "type": "object",
      "properties": {
        "activityLevel": {
          "description": "Required. Indicates the activity level of the account.",
          "enumDescriptions": [
            "Activity level has not been set.",
            "Account activity level is not evaluated.",
            "Unusual activity for at least one of the user accounts on the device.",
            "Insufficient activity to verify the user account on the device.",
            "Typical activity for the user account or accounts on the device.",
            "Typical for the user account or accounts on the device, with harder to replicate signals."
          ],
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "UNUSUAL",
            "UNKNOWN",
            "TYPICAL_BASIC",
            "TYPICAL_STRONG"
          ]
        }
      }
    },
    "PcTokenPayloadExternal": {
      "description": "Contains PC device attestation details.",
      "properties": {
        "accountDetails": {
          "description": "Details about the account information such as the licensing status.",
          "$ref": "PcAccountDetails"
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "PcTestingDetails"
        },
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "PcRequestDetails"
        },
        "deviceIntegrity": {
          "description": "Required. Details about the device integrity.",
          "$ref": "PcDeviceIntegrity"
        }
      },
      "id": "PcTokenPayloadExternal",
      "type": "object"
    },
    "AppAccessRiskVerdict": {
      "description": "Contains signals about others apps on the device which could be used to access or control the requesting app.",
      "properties": {
        "appsDetected": {
          "description": "List of detected app types signalled for App Access Risk.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Apps detected is unspecified.",
              "One or more apps is installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to display overlays over the requesting app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to control the device, such as a remote support app.",
              "One or more unknown apps is installed, that were not installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to display overlays over the requesting app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to control the device, such as a remote support app."
            ],
            "type": "string",
            "enum": [
              "APPS_DETECTED_UNSPECIFIED",
              "KNOWN_INSTALLED",
              "KNOWN_CAPTURING",
              "KNOWN_OVERLAYS",
              "KNOWN_CONTROLLING",
              "UNKNOWN_INSTALLED",
              "UNKNOWN_CAPTURING",
              "UNKNOWN_OVERLAYS",
              "UNKNOWN_CONTROLLING"
            ]
          }
        }
      },
      "type": "object",
      "id": "AppAccessRiskVerdict"
    },
    "PcDeviceIntegrity": {
      "id": "PcDeviceIntegrity",
      "type": "object",
      "description": "Contains the device attestation information.",
      "properties": {
        "deviceRecognitionVerdict": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified device integrity.",
              "App is running on Windows Device with Google Desktop Services."
            ],
            "type": "string",
            "enum": [
              "DEVICE_RECOGNITION_VERDICT_UNSPECIFIED",
              "MEETS_PC_INTEGRITY"
            ]
          },
          "description": "Details about the integrity of the device the app is running on."
        }
      }
    },
    "PcAccountDetails": {
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "properties": {
        "appLicensingVerdict": {
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ]
        }
      },
      "type": "object",
      "id": "PcAccountDetails"
    },
    "DecodeIntegrityTokenRequest": {
      "description": "Request to decode the integrity token.",
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DecodeIntegrityTokenRequest"
    },
    "RequestDetails": {
      "id": "RequestDetails",
      "type": "object",
      "description": "Contains the integrity request information.",
      "properties": {
        "requestPackageName": {
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity. For details on application integrity, check application_integrity.",
          "type": "string"
        },
        "timestampMillis": {
          "description": "Required. Timestamp, in milliseconds, of the integrity application request.",
          "type": "string",
          "format": "int64"
        },
        "requestHash": {
          "description": "Request hash that was provided in the request.",
          "type": "string"
        },
        "nonce": {
          "description": "Nonce that was provided in the request (which is base64 web-safe no-wrap).",
          "type": "string"
        }
      }
    },
    "DeviceAttributes": {
      "description": "Contains information about the device for which the integrity token was generated, e.g. Android SDK version.",
      "properties": {
        "sdkVersion": {
          "description": "Android SDK version of the device, as defined in the public Android documentation: https://developer.android.com/reference/android/os/Build.VERSION_CODES. It won't be set if a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "DeviceAttributes",
      "type": "object"
    },
    "RecentDeviceActivity": {
      "type": "object",
      "id": "RecentDeviceActivity",
      "description": "Recent device activity can help developers identify devices that have exhibited hyperactive attestation activity, which could be a sign of an attack or token farming.",
      "properties": {
        "deviceActivityLevel": {
          "type": "string",
          "enum": [
            "DEVICE_ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "LEVEL_1",
            "LEVEL_2",
            "LEVEL_3",
            "LEVEL_4"
          ],
          "description": "Required. Indicates the activity level of the device.",
          "enumDescriptions": [
            "Device activity level has not been set.",
            "Device activity level has not been evaluated.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details."
          ]
        }
      }
    },
    "PcRequestDetails": {
      "description": "Contains the integrity request information.",
      "properties": {
        "requestHash": {
          "description": "Request hash that was provided in the request.",
          "type": "string"
        },
        "requestPackageName": {
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity.",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Timestamp, of the integrity application request."
        }
      },
      "type": "object",
      "id": "PcRequestDetails"
    },
    "TestingDetails": {
      "type": "object",
      "id": "TestingDetails",
      "description": "Contains additional information generated for testing responses.",
      "properties": {
        "isTestingResponse": {
          "description": "Required. Indicates that the information contained in this payload is a testing response that is statically overridden for a tester.",
          "type": "boolean"
        }
      }
    },
    "AppIntegrity": {
      "id": "AppIntegrity",
      "type": "object",
      "description": "Contains the application integrity information.",
      "properties": {
        "packageName": {
          "description": "Package name of the application under attestation. Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "string"
        },
        "certificateSha256Digest": {
          "description": "The SHA256 hash of the requesting app's signing certificates (base64 web-safe encoded). Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appRecognitionVerdict": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PLAY_RECOGNIZED",
            "UNRECOGNIZED_VERSION",
            "UNEVALUATED"
          ],
          "description": "Required. Details about the app recognition verdict",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate app integrity",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Application integrity was not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
          ]
        },
        "versionCode": {
          "type": "string",
          "format": "int64",
          "description": "Version code of the application. Set iff app_recognition_verdict != UNEVALUATED."
        }
      }
    },
    "WriteDeviceRecallResponse": {
      "id": "WriteDeviceRecallResponse",
      "type": "object",
      "description": "Response for the Write Device Recall action. Currently empty.",
      "properties": {}
    },
    "DecodePcIntegrityTokenRequest": {
      "id": "DecodePcIntegrityTokenRequest",
      "type": "object",
      "description": "Request to decode the PC integrity token.",
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      }
    },
    "WriteDates": {
      "type": "object",
      "id": "WriteDates",
      "description": "Contains the recall bits write dates.",
      "properties": {
        "yyyymmSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the second bit. Note that this value won't be set if the second bit is false."
        },
        "yyyymmFirst": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the first bit. Note that this value won't be set if the first bit is false."
        },
        "yyyymmThird": {
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the third bit. Note that this value won't be set if the third bit is false.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AccountDetails": {
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "properties": {
        "appLicensingVerdict": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar or the application was not a known Play version."
          ]
        },
        "accountActivity": {
          "description": "(Restricted Access) Details about the account activity for the user in the scope.",
          "deprecated": true,
          "$ref": "AccountActivity"
        }
      },
      "id": "AccountDetails",
      "type": "object"
    },
    "DecodeIntegrityTokenResponse": {
      "description": "Response containing the decoded integrity payload.",
      "properties": {
        "tokenPayloadExternal": {
          "description": "Plain token payload generated from the decoded integrity token.",
          "$ref": "TokenPayloadExternal"
        }
      },
      "id": "DecodeIntegrityTokenResponse",
      "type": "object"
    },
    "TokenPayloadExternal": {
      "id": "TokenPayloadExternal",
      "type": "object",
      "description": "Contains basic app information and integrity signals like device attestation and licensing details.",
      "properties": {
        "appIntegrity": {
          "description": "Required. Details about the application integrity.",
          "$ref": "AppIntegrity"
        },
        "accountDetails": {
          "description": "Required. Details about the Play Store account.",
          "$ref": "AccountDetails"
        },
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "RequestDetails"
        },
        "deviceIntegrity": {
          "description": "Required. Details about the device integrity.",
          "$ref": "DeviceIntegrity"
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "TestingDetails"
        },
        "environmentDetails": {
          "description": "Details of the environment Play Integrity API runs in.",
          "$ref": "EnvironmentDetails"
        }
      }
    },
    "WriteDeviceRecallRequest": {
      "description": "Request to write device recall bits.",
      "properties": {
        "integrityToken": {
          "description": "Required. Integrity token obtained from calling Play Integrity API.",
          "type": "string"
        },
        "newValues": {
          "description": "Required. The new values for the device recall bits to be written.",
          "$ref": "Values"
        }
      },
      "id": "WriteDeviceRecallRequest",
      "type": "object"
    },
    "PcTestingDetails": {
      "description": "Contains additional information generated for testing responses.",
      "properties": {
        "isTestingResponse": {
          "description": "Indicates that the information contained in this payload is a testing response that is statically overridden for a tester.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "PcTestingDetails"
    }
  },
  "title": "Google Play Integrity API",
  "protocol": "rest",
  "ownerName": "Google",
  "version_module": true,
  "documentationLink": "https://developer.android.com/google/play/integrity",
  "version": "v1",
  "id": "playintegrity:v1",
  "description": "The Play Integrity API helps you check that you're interacting with your genuine app on a genuine Android device powered by Google Play services. The Play Integrity API has replaced SafetyNet Attestation and Android Device Verification.",
  "baseUrl": "https://playintegrity.googleapis.com/",
  "batchPath": "batch"
}