{
  "kind": "discovery#restDescription",
  "baseUrl": "https://playintegrity.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "The Play Integrity API helps you check that you're interacting with your genuine app on a genuine Android device powered by Google Play services. The Play Integrity API has replaced SafetyNet Attestation and Android Device Verification.",
  "version": "v1",
  "discoveryVersion": "v1",
  "rootUrl": "https://playintegrity.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playintegrity": {
          "description": "Private Service: https://www.googleapis.com/auth/playintegrity"
        }
      }
    }
  },
  "canonicalName": "Play Integrity",
  "servicePath": "",
  "basePath": "",
  "id": "playintegrity:v1",
  "batchPath": "batch",
  "schemas": {
    "RecentDeviceActivity": {
      "description": "Recent device activity can help developers identify devices that have exhibited hyperactive attestation activity, which could be a sign of an attack or token farming.",
      "properties": {
        "deviceActivityLevel": {
          "type": "string",
          "description": "Required. Indicates the activity level of the device.",
          "enumDescriptions": [
            "Device activity level has not been set.",
            "Device activity level has not been evaluated.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details."
          ],
          "enum": [
            "DEVICE_ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "LEVEL_1",
            "LEVEL_2",
            "LEVEL_3",
            "LEVEL_4"
          ]
        }
      },
      "id": "RecentDeviceActivity",
      "type": "object"
    },
    "WriteDeviceRecallRequest": {
      "id": "WriteDeviceRecallRequest",
      "properties": {
        "newValues": {
          "$ref": "Values",
          "description": "Required. The new values for the device recall bits to be written."
        },
        "integrityToken": {
          "description": "Required. Integrity token obtained from calling Play Integrity API.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to write device recall bits."
    },
    "AppAccessRiskVerdict": {
      "description": "Contains signals about others apps on the device which could be used to access or control the requesting app.",
      "properties": {
        "appsDetected": {
          "description": "List of detected app types signalled for App Access Risk.",
          "type": "array",
          "items": {
            "enum": [
              "APPS_DETECTED_UNSPECIFIED",
              "KNOWN_INSTALLED",
              "KNOWN_CAPTURING",
              "KNOWN_OVERLAYS",
              "KNOWN_CONTROLLING",
              "UNKNOWN_INSTALLED",
              "UNKNOWN_CAPTURING",
              "UNKNOWN_OVERLAYS",
              "UNKNOWN_CONTROLLING"
            ],
            "type": "string",
            "enumDescriptions": [
              "Apps detected is unspecified.",
              "One or more apps is installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to display overlays over the requesting app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to control the device, such as a remote support app.",
              "One or more unknown apps is installed, that were not installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to display overlays over the requesting app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to control the device, such as a remote support app."
            ]
          }
        }
      },
      "id": "AppAccessRiskVerdict",
      "type": "object"
    },
    "AccountDetails": {
      "properties": {
        "appLicensingVerdict": {
          "type": "string",
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar or the application was not a known Play version."
          ]
        },
        "accountActivity": {
          "$ref": "AccountActivity",
          "deprecated": true,
          "description": "(Restricted Access) Details about the account activity for the user in the scope."
        }
      },
      "id": "AccountDetails",
      "type": "object",
      "description": "Contains the account information such as the licensing status for the user in the scope."
    },
    "PcTokenPayloadExternal": {
      "properties": {
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "PcRequestDetails"
        },
        "accountDetails": {
          "$ref": "PcAccountDetails",
          "description": "Details about the account information such as the licensing status."
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "PcTestingDetails"
        },
        "deviceIntegrity": {
          "description": "Required. Details about the device integrity.",
          "$ref": "PcDeviceIntegrity"
        }
      },
      "description": "Contains PC device attestation details.",
      "type": "object",
      "id": "PcTokenPayloadExternal"
    },
    "DecodeIntegrityTokenResponse": {
      "type": "object",
      "description": "Response containing the decoded integrity payload.",
      "properties": {
        "tokenPayloadExternal": {
          "$ref": "TokenPayloadExternal",
          "description": "Plain token payload generated from the decoded integrity token."
        }
      },
      "id": "DecodeIntegrityTokenResponse"
    },
    "AppIntegrity": {
      "type": "object",
      "description": "Contains the application integrity information.",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Package name of the application under attestation. Set iff app_recognition_verdict != UNEVALUATED."
        },
        "appRecognitionVerdict": {
          "type": "string",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate app integrity",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Application integrity was not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
          ],
          "enum": [
            "UNKNOWN",
            "PLAY_RECOGNIZED",
            "UNRECOGNIZED_VERSION",
            "UNEVALUATED"
          ],
          "description": "Required. Details about the app recognition verdict"
        },
        "certificateSha256Digest": {
          "items": {
            "type": "string"
          },
          "description": "The SHA256 hash of the requesting app's signing certificates (base64 web-safe encoded). Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "array"
        },
        "versionCode": {
          "format": "int64",
          "description": "Version code of the application. Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "string"
        }
      },
      "id": "AppIntegrity"
    },
    "AccountActivity": {
      "id": "AccountActivity",
      "type": "object",
      "deprecated": true,
      "description": "(Restricted Access) Contains a signal helping apps differentiating between likely genuine and likely non-genuine user traffic.",
      "properties": {
        "activityLevel": {
          "type": "string",
          "description": "Required. Indicates the activity level of the account.",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "UNUSUAL",
            "UNKNOWN",
            "TYPICAL_BASIC",
            "TYPICAL_STRONG"
          ],
          "enumDescriptions": [
            "Activity level has not been set.",
            "Account activity level is not evaluated.",
            "Unusual activity for at least one of the user accounts on the device.",
            "Insufficient activity to verify the user account on the device.",
            "Typical activity for the user account or accounts on the device.",
            "Typical for the user account or accounts on the device, with harder to replicate signals."
          ]
        }
      }
    },
    "WriteDates": {
      "description": "Contains the recall bits write dates.",
      "properties": {
        "yyyymmFirst": {
          "type": "integer",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the first bit. Note that this value won't be set if the first bit is false.",
          "format": "int32"
        },
        "yyyymmThird": {
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the third bit. Note that this value won't be set if the third bit is false.",
          "type": "integer",
          "format": "int32"
        },
        "yyyymmSecond": {
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the second bit. Note that this value won't be set if the second bit is false.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "WriteDates"
    },
    "Values": {
      "properties": {
        "bitSecond": {
          "description": "Required. Second recall bit value.",
          "type": "boolean"
        },
        "bitFirst": {
          "type": "boolean",
          "description": "Required. First recall bit value."
        },
        "bitThird": {
          "description": "Required. Third recall bit value.",
          "type": "boolean"
        }
      },
      "id": "Values",
      "description": "Contains the recall bits values.",
      "type": "object"
    },
    "DecodePcIntegrityTokenResponse": {
      "type": "object",
      "properties": {
        "tokenPayloadExternal": {
          "$ref": "PcTokenPayloadExternal",
          "description": "Plain token payload generated from the decoded integrity token."
        }
      },
      "description": "Response containing the decoded PC integrity payload.",
      "id": "DecodePcIntegrityTokenResponse"
    },
    "PcTestingDetails": {
      "properties": {
        "isTestingResponse": {
          "description": "Indicates that the information contained in this payload is a testing response that is statically overridden for a tester.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Contains additional information generated for testing responses.",
      "id": "PcTestingDetails"
    },
    "DeviceRecall": {
      "id": "DeviceRecall",
      "properties": {
        "writeDates": {
          "$ref": "WriteDates",
          "description": "Required. Contains the recall bits write dates."
        },
        "values": {
          "$ref": "Values",
          "description": "Required. Contains the recall bits values."
        }
      },
      "description": "Contains the recall bits per device set by the developer.",
      "type": "object"
    },
    "TokenPayloadExternal": {
      "id": "TokenPayloadExternal",
      "type": "object",
      "properties": {
        "environmentDetails": {
          "description": "Details of the environment Play Integrity API runs in.",
          "$ref": "EnvironmentDetails"
        },
        "accountDetails": {
          "description": "Required. Details about the Play Store account.",
          "$ref": "AccountDetails"
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "TestingDetails"
        },
        "requestDetails": {
          "$ref": "RequestDetails",
          "description": "Required. Details about the integrity request."
        },
        "appIntegrity": {
          "description": "Required. Details about the application integrity.",
          "$ref": "AppIntegrity"
        },
        "deviceIntegrity": {
          "$ref": "DeviceIntegrity",
          "description": "Required. Details about the device integrity."
        }
      },
      "description": "Contains basic app information and integrity signals like device attestation and licensing details."
    },
    "DecodePcIntegrityTokenRequest": {
      "description": "Request to decode the PC integrity token.",
      "type": "object",
      "id": "DecodePcIntegrityTokenRequest",
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      }
    },
    "PcRequestDetails": {
      "id": "PcRequestDetails",
      "description": "Contains the integrity request information.",
      "properties": {
        "requestPackageName": {
          "type": "string",
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity."
        },
        "requestTime": {
          "type": "string",
          "description": "Required. Timestamp, of the integrity application request.",
          "format": "google-datetime"
        },
        "requestHash": {
          "type": "string",
          "description": "Request hash that was provided in the request."
        }
      },
      "type": "object"
    },
    "RequestDetails": {
      "type": "object",
      "properties": {
        "timestampMillis": {
          "format": "int64",
          "description": "Required. Timestamp, in milliseconds, of the integrity application request.",
          "type": "string"
        },
        "nonce": {
          "type": "string",
          "description": "Nonce that was provided in the request (which is base64 web-safe no-wrap)."
        },
        "requestHash": {
          "type": "string",
          "description": "Request hash that was provided in the request."
        },
        "requestPackageName": {
          "type": "string",
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity. For details on application integrity, check application_integrity."
        }
      },
      "description": "Contains the integrity request information.",
      "id": "RequestDetails"
    },
    "WriteDeviceRecallResponse": {
      "description": "Response for the Write Device Recall action. Currently empty.",
      "type": "object",
      "properties": {},
      "id": "WriteDeviceRecallResponse"
    },
    "TestingDetails": {
      "description": "Contains additional information generated for testing responses.",
      "id": "TestingDetails",
      "type": "object",
      "properties": {
        "isTestingResponse": {
          "description": "Required. Indicates that the information contained in this payload is a testing response that is statically overridden for a tester.",
          "type": "boolean"
        }
      }
    },
    "PcDeviceIntegrity": {
      "description": "Contains the device attestation information.",
      "properties": {
        "deviceRecognitionVerdict": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified device integrity.",
              "App is running on Windows Device with Google Desktop Services."
            ],
            "enum": [
              "DEVICE_RECOGNITION_VERDICT_UNSPECIFIED",
              "MEETS_PC_INTEGRITY"
            ],
            "type": "string"
          },
          "description": "Details about the integrity of the device the app is running on."
        }
      },
      "id": "PcDeviceIntegrity",
      "type": "object"
    },
    "DeviceIntegrity": {
      "type": "object",
      "description": "Contains the device attestation information.",
      "properties": {
        "legacyDeviceRecognitionVerdict": {
          "description": "Contains legacy details about the integrity of the device the app is running on. Only for devices with Android version T or higher and only for apps opted in to the new verdicts. Only available during the transition period to the new verdicts system and will be removed afterwards.",
          "items": {
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "deviceRecognitionVerdict": {
          "description": "Details about the integrity of the device the app is running on.",
          "type": "array",
          "items": {
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "type": "string"
          }
        },
        "recentDeviceActivity": {
          "$ref": "RecentDeviceActivity",
          "description": "Details about the device activity of the device the app is running on."
        },
        "deviceAttributes": {
          "$ref": "DeviceAttributes",
          "description": "Attributes of the device where the integrity token was generated."
        },
        "deviceRecall": {
          "$ref": "DeviceRecall",
          "description": "Details about the device recall bits set by the developer."
        }
      },
      "id": "DeviceIntegrity"
    },
    "PcAccountDetails": {
      "id": "PcAccountDetails",
      "properties": {
        "appLicensingVerdict": {
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed."
          ],
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "type": "string"
        }
      },
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "type": "object"
    },
    "DecodeIntegrityTokenRequest": {
      "type": "object",
      "description": "Request to decode the integrity token.",
      "properties": {
        "integrityToken": {
          "type": "string",
          "description": "Encoded integrity token."
        }
      },
      "id": "DecodeIntegrityTokenRequest"
    },
    "EnvironmentDetails": {
      "type": "object",
      "id": "EnvironmentDetails",
      "properties": {
        "locationSpoofingRiskVerdict": {
          "items": {
            "enum": [
              "LOCATION_SPOOFING_RISK_VERDICT_UNSPECIFIED",
              "LOW_RISK_DEVICE",
              "LOW_RISK_NETWORK",
              "MEDIUM_RISK_DEVICE",
              "MEDIUM_RISK_NETWORK",
              "HIGH_RISK_DEVICE",
              "HIGH_RISK_NETWORK"
            ],
            "type": "string",
            "enumDescriptions": [
              "Catch-all for unrecognized enum values.",
              "Device-related spoofing was evaluated, and no issues were detected.",
              "Network-related spoofing was evaluated, and no issues were detected.",
              "Potential device-related spoofing was detected.",
              "Potential network-related spoofing was detected.",
              "Likely device-related spoofing was detected.",
              "Likely network-related spoofing was detected."
            ]
          },
          "description": "The evaluation of the Location Spoofing Risk verdict.",
          "type": "array"
        },
        "playProtectVerdict": {
          "enum": [
            "PLAY_PROTECT_VERDICT_UNSPECIFIED",
            "UNEVALUATED",
            "NO_ISSUES",
            "NO_DATA",
            "MEDIUM_RISK",
            "HIGH_RISK",
            "POSSIBLE_RISK"
          ],
          "enumDescriptions": [
            "Play Protect verdict has not been set.",
            "Play Protect state was not evaluated. Device may not be trusted.",
            "Play Protect is on and no issues found.",
            "Play Protect is on but no scan has been performed yet. The device or Play Store app may have been reset.",
            "Play Protect is on and warnings found.",
            "Play Protect is on and high severity issues found.",
            "Play Protect is turned off. Turn on Play Protect."
          ],
          "description": "The evaluation of Play Protect verdict.",
          "type": "string"
        },
        "appAccessRiskVerdict": {
          "description": "The evaluation of the App Access Risk verdicts.",
          "$ref": "AppAccessRiskVerdict"
        }
      },
      "description": "Contains information about the environment Play Integrity API runs in, e.g. Play Protect verdict."
    },
    "DeviceAttributes": {
      "id": "DeviceAttributes",
      "description": "Contains information about the device for which the integrity token was generated, e.g. Android SDK version.",
      "properties": {
        "sdkVersion": {
          "format": "int32",
          "description": "Android SDK version of the device, as defined in the public Android documentation: https://developer.android.com/reference/android/os/Build.VERSION_CODES. It won't be set if a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar.",
          "type": "integer"
        }
      },
      "type": "object"
    }
  },
  "ownerName": "Google",
  "protocol": "rest",
  "documentationLink": "https://developer.android.com/google/play/integrity",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "name": "playintegrity",
  "ownerDomain": "google.com",
  "title": "Google Play Integrity API",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "revision": "20260917",
  "resources": {
    "deviceRecall": {
      "methods": {
        "write": {
          "flatPath": "v1/{v1Id}/deviceRecall:write",
          "response": {
            "$ref": "WriteDeviceRecallResponse"
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "playintegrity.deviceRecall.write",
          "httpMethod": "POST",
          "request": {
            "$ref": "WriteDeviceRecallRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "description": "Writes recall bits for the device where Play Integrity API token is obtained. The endpoint is available to select Play partners in an early access program (EAP).",
          "path": "v1/{+packageName}/deviceRecall:write",
          "parameters": {
            "packageName": {
              "description": "Required. Package name of the app the attached integrity token belongs to.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          }
        }
      }
    },
    "v1": {
      "methods": {
        "decodeIntegrityToken": {
          "request": {
            "$ref": "DecodeIntegrityTokenRequest"
          },
          "path": "v1/{+packageName}:decodeIntegrityToken",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "parameters": {
            "packageName": {
              "description": " Package name of the app the attached integrity token belongs to.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "DecodeIntegrityTokenResponse"
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "playintegrity.decodeIntegrityToken",
          "description": "Decodes the integrity token and returns the token payload.",
          "flatPath": "v1/{v1Id}:decodeIntegrityToken",
          "httpMethod": "POST"
        },
        "decodePcIntegrityToken": {
          "response": {
            "$ref": "DecodePcIntegrityTokenResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "v1/{v1Id}:decodePcIntegrityToken",
          "id": "playintegrity.decodePcIntegrityToken",
          "request": {
            "$ref": "DecodePcIntegrityTokenRequest"
          },
          "httpMethod": "POST",
          "path": "v1/{+packageName}:decodePcIntegrityToken",
          "description": "Decodes the PC integrity token and returns the PC token payload.",
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Package name of the app the attached integrity token belongs to.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://playintegrity.mtls.googleapis.com/"
}