{
  "kind": "discovery#restDescription",
  "baseUrl": "https://playintegrity.googleapis.com/",
  "version_module": true,
  "servicePath": "",
  "protocol": "rest",
  "id": "playintegrity:v1",
  "batchPath": "batch",
  "title": "Google Play Integrity API",
  "discoveryVersion": "v1",
  "revision": "20260715",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Play Integrity",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playintegrity": {
          "description": "Private Service: https://www.googleapis.com/auth/playintegrity"
        }
      }
    }
  },
  "basePath": "",
  "schemas": {
    "AccountDetails": {
      "type": "object",
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "properties": {
        "accountActivity": {
          "deprecated": true,
          "$ref": "AccountActivity",
          "description": "(Restricted Access) Details about the account activity for the user in the scope."
        },
        "appLicensingVerdict": {
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar or the application was not a known Play version."
          ],
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "type": "string"
        }
      },
      "id": "AccountDetails"
    },
    "WriteDates": {
      "type": "object",
      "description": "Contains the recall bits write dates.",
      "properties": {
        "yyyymmSecond": {
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the second bit. Note that this value won't be set if the second bit is false.",
          "format": "int32",
          "type": "integer"
        },
        "yyyymmThird": {
          "type": "integer",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the third bit. Note that this value won't be set if the third bit is false.",
          "format": "int32"
        },
        "yyyymmFirst": {
          "type": "integer",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the first bit. Note that this value won't be set if the first bit is false.",
          "format": "int32"
        }
      },
      "id": "WriteDates"
    },
    "WriteDeviceRecallRequest": {
      "id": "WriteDeviceRecallRequest",
      "type": "object",
      "description": "Request to write device recall bits.",
      "properties": {
        "newValues": {
          "description": "Required. The new values for the device recall bits to be written.",
          "$ref": "Values"
        },
        "integrityToken": {
          "type": "string",
          "description": "Required. Integrity token obtained from calling Play Integrity API."
        }
      }
    },
    "AccountActivity": {
      "id": "AccountActivity",
      "deprecated": true,
      "type": "object",
      "description": "(Restricted Access) Contains a signal helping apps differentiating between likely genuine and likely non-genuine user traffic.",
      "properties": {
        "activityLevel": {
          "description": "Required. Indicates the activity level of the account.",
          "type": "string",
          "enumDescriptions": [
            "Activity level has not been set.",
            "Account activity level is not evaluated.",
            "Unusual activity for at least one of the user accounts on the device.",
            "Insufficient activity to verify the user account on the device.",
            "Typical activity for the user account or accounts on the device.",
            "Typical for the user account or accounts on the device, with harder to replicate signals."
          ],
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "UNUSUAL",
            "UNKNOWN",
            "TYPICAL_BASIC",
            "TYPICAL_STRONG"
          ]
        }
      }
    },
    "TestingDetails": {
      "type": "object",
      "description": "Contains additional information generated for testing responses.",
      "properties": {
        "isTestingResponse": {
          "description": "Required. Indicates that the information contained in this payload is a testing response that is statically overridden for a tester.",
          "type": "boolean"
        }
      },
      "id": "TestingDetails"
    },
    "PcAccountDetails": {
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "properties": {
        "appLicensingVerdict": {
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "type": "string",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed."
          ],
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ]
        }
      },
      "type": "object",
      "id": "PcAccountDetails"
    },
    "EnvironmentDetails": {
      "id": "EnvironmentDetails",
      "description": "Contains information about the environment Play Integrity API runs in, e.g. Play Protect verdict.",
      "properties": {
        "playProtectVerdict": {
          "enumDescriptions": [
            "Play Protect verdict has not been set.",
            "Play Protect state was not evaluated. Device may not be trusted.",
            "Play Protect is on and no issues found.",
            "Play Protect is on but no scan has been performed yet. The device or Play Store app may have been reset.",
            "Play Protect is on and warnings found.",
            "Play Protect is on and high severity issues found.",
            "Play Protect is turned off. Turn on Play Protect."
          ],
          "enum": [
            "PLAY_PROTECT_VERDICT_UNSPECIFIED",
            "UNEVALUATED",
            "NO_ISSUES",
            "NO_DATA",
            "MEDIUM_RISK",
            "HIGH_RISK",
            "POSSIBLE_RISK"
          ],
          "description": "The evaluation of Play Protect verdict.",
          "type": "string"
        },
        "appAccessRiskVerdict": {
          "$ref": "AppAccessRiskVerdict",
          "description": "The evaluation of the App Access Risk verdicts."
        }
      },
      "type": "object"
    },
    "PcTestingDetails": {
      "id": "PcTestingDetails",
      "description": "Contains additional information generated for testing responses.",
      "properties": {
        "isTestingResponse": {
          "type": "boolean",
          "description": "Indicates that the information contained in this payload is a testing response that is statically overridden for a tester."
        }
      },
      "type": "object"
    },
    "DecodeIntegrityTokenRequest": {
      "id": "DecodeIntegrityTokenRequest",
      "description": "Request to decode the integrity token.",
      "properties": {
        "integrityToken": {
          "type": "string",
          "description": "Encoded integrity token."
        }
      },
      "type": "object"
    },
    "TokenPayloadExternal": {
      "description": "Contains basic app information and integrity signals like device attestation and licensing details.",
      "properties": {
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "TestingDetails"
        },
        "environmentDetails": {
          "$ref": "EnvironmentDetails",
          "description": "Details of the environment Play Integrity API runs in."
        },
        "accountDetails": {
          "$ref": "AccountDetails",
          "description": "Required. Details about the Play Store account."
        },
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "RequestDetails"
        },
        "deviceIntegrity": {
          "$ref": "DeviceIntegrity",
          "description": "Required. Details about the device integrity."
        },
        "appIntegrity": {
          "$ref": "AppIntegrity",
          "description": "Required. Details about the application integrity."
        }
      },
      "type": "object",
      "id": "TokenPayloadExternal"
    },
    "PcRequestDetails": {
      "type": "object",
      "description": "Contains the integrity request information.",
      "properties": {
        "requestPackageName": {
          "type": "string",
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity."
        },
        "requestTime": {
          "type": "string",
          "description": "Required. Timestamp, of the integrity application request.",
          "format": "google-datetime"
        },
        "requestHash": {
          "type": "string",
          "description": "Request hash that was provided in the request."
        }
      },
      "id": "PcRequestDetails"
    },
    "DecodeIntegrityTokenResponse": {
      "id": "DecodeIntegrityTokenResponse",
      "description": "Response containing the decoded integrity payload.",
      "properties": {
        "tokenPayloadExternal": {
          "$ref": "TokenPayloadExternal",
          "description": "Plain token payload generated from the decoded integrity token."
        }
      },
      "type": "object"
    },
    "AppAccessRiskVerdict": {
      "type": "object",
      "description": "Contains signals about others apps on the device which could be used to access or control the requesting app.",
      "properties": {
        "appsDetected": {
          "type": "array",
          "description": "List of detected app types signalled for App Access Risk.",
          "items": {
            "enumDescriptions": [
              "Apps detected is unspecified.",
              "One or more apps is installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to display overlays over the requesting app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to control the device, such as a remote support app.",
              "One or more unknown apps is installed, that were not installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to display overlays over the requesting app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to control the device, such as a remote support app."
            ],
            "enum": [
              "APPS_DETECTED_UNSPECIFIED",
              "KNOWN_INSTALLED",
              "KNOWN_CAPTURING",
              "KNOWN_OVERLAYS",
              "KNOWN_CONTROLLING",
              "UNKNOWN_INSTALLED",
              "UNKNOWN_CAPTURING",
              "UNKNOWN_OVERLAYS",
              "UNKNOWN_CONTROLLING"
            ],
            "type": "string"
          }
        }
      },
      "id": "AppAccessRiskVerdict"
    },
    "DecodePcIntegrityTokenResponse": {
      "type": "object",
      "description": "Response containing the decoded PC integrity payload.",
      "properties": {
        "tokenPayloadExternal": {
          "$ref": "PcTokenPayloadExternal",
          "description": "Plain token payload generated from the decoded integrity token."
        }
      },
      "id": "DecodePcIntegrityTokenResponse"
    },
    "DeviceIntegrity": {
      "description": "Contains the device attestation information.",
      "properties": {
        "recentDeviceActivity": {
          "$ref": "RecentDeviceActivity",
          "description": "Details about the device activity of the device the app is running on."
        },
        "deviceRecognitionVerdict": {
          "description": "Details about the integrity of the device the app is running on.",
          "items": {
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "deviceRecall": {
          "$ref": "DeviceRecall",
          "description": "Details about the device recall bits set by the developer."
        },
        "deviceAttributes": {
          "$ref": "DeviceAttributes",
          "description": "Attributes of the device where the integrity token was generated."
        },
        "legacyDeviceRecognitionVerdict": {
          "type": "array",
          "description": "Contains legacy details about the integrity of the device the app is running on. Only for devices with Android version T or higher and only for apps opted in to the new verdicts. Only available during the transition period to the new verdicts system and will be removed afterwards.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ]
          }
        }
      },
      "type": "object",
      "id": "DeviceIntegrity"
    },
    "WriteDeviceRecallResponse": {
      "id": "WriteDeviceRecallResponse",
      "description": "Response for the Write Device Recall action. Currently empty.",
      "properties": {},
      "type": "object"
    },
    "DeviceAttributes": {
      "id": "DeviceAttributes",
      "type": "object",
      "description": "Contains information about the device for which the integrity token was generated, e.g. Android SDK version.",
      "properties": {
        "sdkVersion": {
          "description": "Android SDK version of the device, as defined in the public Android documentation: https://developer.android.com/reference/android/os/Build.VERSION_CODES. It won't be set if a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "RequestDetails": {
      "description": "Contains the integrity request information.",
      "properties": {
        "nonce": {
          "description": "Nonce that was provided in the request (which is base64 web-safe no-wrap).",
          "type": "string"
        },
        "timestampMillis": {
          "description": "Required. Timestamp, in milliseconds, of the integrity application request.",
          "format": "int64",
          "type": "string"
        },
        "requestHash": {
          "type": "string",
          "description": "Request hash that was provided in the request."
        },
        "requestPackageName": {
          "type": "string",
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity. For details on application integrity, check application_integrity."
        }
      },
      "type": "object",
      "id": "RequestDetails"
    },
    "AppIntegrity": {
      "description": "Contains the application integrity information.",
      "properties": {
        "appRecognitionVerdict": {
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate app integrity",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Application integrity was not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
          ],
          "enum": [
            "UNKNOWN",
            "PLAY_RECOGNIZED",
            "UNRECOGNIZED_VERSION",
            "UNEVALUATED"
          ],
          "type": "string",
          "description": "Required. Details about the app recognition verdict"
        },
        "packageName": {
          "type": "string",
          "description": "Package name of the application under attestation. Set iff app_recognition_verdict != UNEVALUATED."
        },
        "certificateSha256Digest": {
          "type": "array",
          "description": "The SHA256 hash of the requesting app's signing certificates (base64 web-safe encoded). Set iff app_recognition_verdict != UNEVALUATED.",
          "items": {
            "type": "string"
          }
        },
        "versionCode": {
          "description": "Version code of the application. Set iff app_recognition_verdict != UNEVALUATED.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AppIntegrity"
    },
    "DeviceRecall": {
      "id": "DeviceRecall",
      "type": "object",
      "description": "Contains the recall bits per device set by the developer.",
      "properties": {
        "values": {
          "description": "Required. Contains the recall bits values.",
          "$ref": "Values"
        },
        "writeDates": {
          "$ref": "WriteDates",
          "description": "Required. Contains the recall bits write dates."
        }
      }
    },
    "PcDeviceIntegrity": {
      "id": "PcDeviceIntegrity",
      "type": "object",
      "description": "Contains the device attestation information.",
      "properties": {
        "deviceRecognitionVerdict": {
          "description": "Details about the integrity of the device the app is running on.",
          "items": {
            "enumDescriptions": [
              "Unspecified device integrity.",
              "App is running on Windows Device with Google Desktop Services."
            ],
            "enum": [
              "DEVICE_RECOGNITION_VERDICT_UNSPECIFIED",
              "MEETS_PC_INTEGRITY"
            ],
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "PcTokenPayloadExternal": {
      "id": "PcTokenPayloadExternal",
      "type": "object",
      "description": "Contains PC device attestation details.",
      "properties": {
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "PcTestingDetails"
        },
        "accountDetails": {
          "$ref": "PcAccountDetails",
          "description": "Details about the account information such as the licensing status."
        },
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "PcRequestDetails"
        },
        "deviceIntegrity": {
          "$ref": "PcDeviceIntegrity",
          "description": "Required. Details about the device integrity."
        }
      }
    },
    "RecentDeviceActivity": {
      "id": "RecentDeviceActivity",
      "type": "object",
      "description": "Recent device activity can help developers identify devices that have exhibited hyperactive attestation activity, which could be a sign of an attack or token farming.",
      "properties": {
        "deviceActivityLevel": {
          "enumDescriptions": [
            "Device activity level has not been set.",
            "Device activity level has not been evaluated.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details."
          ],
          "enum": [
            "DEVICE_ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "LEVEL_1",
            "LEVEL_2",
            "LEVEL_3",
            "LEVEL_4"
          ],
          "type": "string",
          "description": "Required. Indicates the activity level of the device."
        }
      }
    },
    "Values": {
      "id": "Values",
      "type": "object",
      "description": "Contains the recall bits values.",
      "properties": {
        "bitFirst": {
          "description": "Required. First recall bit value.",
          "type": "boolean"
        },
        "bitSecond": {
          "description": "Required. Second recall bit value.",
          "type": "boolean"
        },
        "bitThird": {
          "type": "boolean",
          "description": "Required. Third recall bit value."
        }
      }
    },
    "DecodePcIntegrityTokenRequest": {
      "id": "DecodePcIntegrityTokenRequest",
      "type": "object",
      "description": "Request to decode the PC integrity token.",
      "properties": {
        "integrityToken": {
          "type": "string",
          "description": "Encoded integrity token."
        }
      }
    }
  },
  "description": "The Play Integrity API helps you check that you're interacting with your genuine app on a genuine Android device powered by Google Play services. The Play Integrity API has replaced SafetyNet Attestation and Android Device Verification.",
  "ownerName": "Google",
  "mtlsRootUrl": "https://playintegrity.mtls.googleapis.com/",
  "documentationLink": "https://developer.android.com/google/play/integrity",
  "rootUrl": "https://playintegrity.googleapis.com/",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "name": "playintegrity",
  "resources": {
    "v1": {
      "methods": {
        "decodeIntegrityToken": {
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "response": {
            "$ref": "DecodeIntegrityTokenResponse"
          },
          "description": "Decodes the integrity token and returns the token payload.",
          "parameterOrder": [
            "packageName"
          ],
          "id": "playintegrity.decodeIntegrityToken",
          "request": {
            "$ref": "DecodeIntegrityTokenRequest"
          },
          "path": "v1/{+packageName}:decodeIntegrityToken",
          "parameters": {
            "packageName": {
              "description": " Package name of the app the attached integrity token belongs to.",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1/{v1Id}:decodeIntegrityToken",
          "httpMethod": "POST"
        },
        "decodePcIntegrityToken": {
          "flatPath": "v1/{v1Id}:decodePcIntegrityToken",
          "httpMethod": "POST",
          "path": "v1/{+packageName}:decodePcIntegrityToken",
          "parameters": {
            "packageName": {
              "required": true,
              "location": "path",
              "description": "Package name of the app the attached integrity token belongs to.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "id": "playintegrity.decodePcIntegrityToken",
          "request": {
            "$ref": "DecodePcIntegrityTokenRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "parameterOrder": [
            "packageName"
          ],
          "response": {
            "$ref": "DecodePcIntegrityTokenResponse"
          },
          "description": "Decodes the PC integrity token and returns the PC token payload."
        }
      }
    },
    "deviceRecall": {
      "methods": {
        "write": {
          "path": "v1/{+packageName}/deviceRecall:write",
          "parameters": {
            "packageName": {
              "description": "Required. Package name of the app the attached integrity token belongs to.",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1/{v1Id}/deviceRecall:write",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "parameterOrder": [
            "packageName"
          ],
          "response": {
            "$ref": "WriteDeviceRecallResponse"
          },
          "description": "Writes recall bits for the device where Play Integrity API token is obtained. The endpoint is available to select Play partners in an early access program (EAP).",
          "id": "playintegrity.deviceRecall.write",
          "request": {
            "$ref": "WriteDeviceRecallRequest"
          }
        }
      }
    }
  },
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com"
}