{
  "name": "playintegrity",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "resources": {
    "v1": {
      "methods": {
        "decodePcIntegrityToken": {
          "response": {
            "$ref": "DecodePcIntegrityTokenResponse"
          },
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "v1/{v1Id}:decodePcIntegrityToken",
          "path": "v1/{+packageName}:decodePcIntegrityToken",
          "request": {
            "$ref": "DecodePcIntegrityTokenRequest"
          },
          "description": "Decodes the PC integrity token and returns the PC token payload.",
          "id": "playintegrity.decodePcIntegrityToken",
          "parameters": {
            "packageName": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "description": "Package name of the app the attached integrity token belongs to.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "httpMethod": "POST"
        },
        "decodeIntegrityToken": {
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "request": {
            "$ref": "DecodeIntegrityTokenRequest"
          },
          "parameters": {
            "packageName": {
              "location": "path",
              "description": " Package name of the app the attached integrity token belongs to.",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "v1/{v1Id}:decodeIntegrityToken",
          "id": "playintegrity.decodeIntegrityToken",
          "httpMethod": "POST",
          "response": {
            "$ref": "DecodeIntegrityTokenResponse"
          },
          "description": "Decodes the integrity token and returns the token payload.",
          "path": "v1/{+packageName}:decodeIntegrityToken"
        }
      }
    },
    "deviceRecall": {
      "methods": {
        "write": {
          "description": "Writes recall bits for the device where Play Integrity API token is obtained. The endpoint is available to select Play partners in an early access program (EAP).",
          "request": {
            "$ref": "WriteDeviceRecallRequest"
          },
          "parameterOrder": [
            "packageName"
          ],
          "path": "v1/{+packageName}/deviceRecall:write",
          "id": "playintegrity.deviceRecall.write",
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "description": "Required. Package name of the app the attached integrity token belongs to.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "response": {
            "$ref": "WriteDeviceRecallResponse"
          },
          "flatPath": "v1/{v1Id}/deviceRecall:write"
        }
      }
    }
  },
  "rootUrl": "https://playintegrity.googleapis.com/",
  "ownerName": "Google",
  "id": "playintegrity:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playintegrity": {
          "description": "Private Service: https://www.googleapis.com/auth/playintegrity"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "revision": "20260910",
  "batchPath": "batch",
  "basePath": "",
  "canonicalName": "Play Integrity",
  "discoveryVersion": "v1",
  "description": "The Play Integrity API helps you check that you're interacting with your genuine app on a genuine Android device powered by Google Play services. The Play Integrity API has replaced SafetyNet Attestation and Android Device Verification.",
  "version_module": true,
  "mtlsRootUrl": "https://playintegrity.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://playintegrity.googleapis.com/",
  "documentationLink": "https://developer.android.com/google/play/integrity",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "schemas": {
    "PcRequestDetails": {
      "properties": {
        "requestHash": {
          "description": "Request hash that was provided in the request.",
          "type": "string"
        },
        "requestPackageName": {
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity.",
          "type": "string"
        },
        "requestTime": {
          "description": "Required. Timestamp, of the integrity application request.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "PcRequestDetails",
      "type": "object",
      "description": "Contains the integrity request information."
    },
    "AccountActivity": {
      "deprecated": true,
      "type": "object",
      "description": "(Restricted Access) Contains a signal helping apps differentiating between likely genuine and likely non-genuine user traffic.",
      "properties": {
        "activityLevel": {
          "description": "Required. Indicates the activity level of the account.",
          "type": "string",
          "enumDescriptions": [
            "Activity level has not been set.",
            "Account activity level is not evaluated.",
            "Unusual activity for at least one of the user accounts on the device.",
            "Insufficient activity to verify the user account on the device.",
            "Typical activity for the user account or accounts on the device.",
            "Typical for the user account or accounts on the device, with harder to replicate signals."
          ],
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "UNUSUAL",
            "UNKNOWN",
            "TYPICAL_BASIC",
            "TYPICAL_STRONG"
          ]
        }
      },
      "id": "AccountActivity"
    },
    "DecodeIntegrityTokenResponse": {
      "id": "DecodeIntegrityTokenResponse",
      "description": "Response containing the decoded integrity payload.",
      "properties": {
        "tokenPayloadExternal": {
          "$ref": "TokenPayloadExternal",
          "description": "Plain token payload generated from the decoded integrity token."
        }
      },
      "type": "object"
    },
    "EnvironmentDetails": {
      "description": "Contains information about the environment Play Integrity API runs in, e.g. Play Protect verdict.",
      "properties": {
        "playProtectVerdict": {
          "enum": [
            "PLAY_PROTECT_VERDICT_UNSPECIFIED",
            "UNEVALUATED",
            "NO_ISSUES",
            "NO_DATA",
            "MEDIUM_RISK",
            "HIGH_RISK",
            "POSSIBLE_RISK"
          ],
          "enumDescriptions": [
            "Play Protect verdict has not been set.",
            "Play Protect state was not evaluated. Device may not be trusted.",
            "Play Protect is on and no issues found.",
            "Play Protect is on but no scan has been performed yet. The device or Play Store app may have been reset.",
            "Play Protect is on and warnings found.",
            "Play Protect is on and high severity issues found.",
            "Play Protect is turned off. Turn on Play Protect."
          ],
          "type": "string",
          "description": "The evaluation of Play Protect verdict."
        },
        "locationSpoofingRiskVerdict": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Catch-all for unrecognized enum values.",
              "Device-related spoofing was evaluated, and no issues were detected.",
              "Network-related spoofing was evaluated, and no issues were detected.",
              "Potential device-related spoofing was detected.",
              "Potential network-related spoofing was detected.",
              "Likely device-related spoofing was detected.",
              "Likely network-related spoofing was detected."
            ],
            "enum": [
              "LOCATION_SPOOFING_RISK_VERDICT_UNSPECIFIED",
              "LOW_RISK_DEVICE",
              "LOW_RISK_NETWORK",
              "MEDIUM_RISK_DEVICE",
              "MEDIUM_RISK_NETWORK",
              "HIGH_RISK_DEVICE",
              "HIGH_RISK_NETWORK"
            ]
          },
          "description": "The evaluation of the Location Spoofing Risk verdict.",
          "type": "array"
        },
        "appAccessRiskVerdict": {
          "description": "The evaluation of the App Access Risk verdicts.",
          "$ref": "AppAccessRiskVerdict"
        }
      },
      "type": "object",
      "id": "EnvironmentDetails"
    },
    "DecodePcIntegrityTokenResponse": {
      "properties": {
        "tokenPayloadExternal": {
          "$ref": "PcTokenPayloadExternal",
          "description": "Plain token payload generated from the decoded integrity token."
        }
      },
      "description": "Response containing the decoded PC integrity payload.",
      "id": "DecodePcIntegrityTokenResponse",
      "type": "object"
    },
    "TestingDetails": {
      "id": "TestingDetails",
      "type": "object",
      "description": "Contains additional information generated for testing responses.",
      "properties": {
        "isTestingResponse": {
          "description": "Required. Indicates that the information contained in this payload is a testing response that is statically overridden for a tester.",
          "type": "boolean"
        }
      }
    },
    "Values": {
      "properties": {
        "bitSecond": {
          "type": "boolean",
          "description": "Required. Second recall bit value."
        },
        "bitFirst": {
          "type": "boolean",
          "description": "Required. First recall bit value."
        },
        "bitThird": {
          "description": "Required. Third recall bit value.",
          "type": "boolean"
        }
      },
      "id": "Values",
      "description": "Contains the recall bits values.",
      "type": "object"
    },
    "PcTokenPayloadExternal": {
      "properties": {
        "accountDetails": {
          "description": "Details about the account information such as the licensing status.",
          "$ref": "PcAccountDetails"
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "PcTestingDetails"
        },
        "deviceIntegrity": {
          "description": "Required. Details about the device integrity.",
          "$ref": "PcDeviceIntegrity"
        },
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "PcRequestDetails"
        }
      },
      "type": "object",
      "id": "PcTokenPayloadExternal",
      "description": "Contains PC device attestation details."
    },
    "WriteDeviceRecallRequest": {
      "properties": {
        "integrityToken": {
          "description": "Required. Integrity token obtained from calling Play Integrity API.",
          "type": "string"
        },
        "newValues": {
          "$ref": "Values",
          "description": "Required. The new values for the device recall bits to be written."
        }
      },
      "id": "WriteDeviceRecallRequest",
      "type": "object",
      "description": "Request to write device recall bits."
    },
    "AccountDetails": {
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "id": "AccountDetails",
      "type": "object",
      "properties": {
        "accountActivity": {
          "deprecated": true,
          "$ref": "AccountActivity",
          "description": "(Restricted Access) Details about the account activity for the user in the scope."
        },
        "appLicensingVerdict": {
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar or the application was not a known Play version."
          ],
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "type": "string"
        }
      }
    },
    "WriteDates": {
      "properties": {
        "yyyymmThird": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the third bit. Note that this value won't be set if the third bit is false."
        },
        "yyyymmSecond": {
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the second bit. Note that this value won't be set if the second bit is false.",
          "format": "int32",
          "type": "integer"
        },
        "yyyymmFirst": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the first bit. Note that this value won't be set if the first bit is false."
        }
      },
      "type": "object",
      "description": "Contains the recall bits write dates.",
      "id": "WriteDates"
    },
    "DeviceIntegrity": {
      "id": "DeviceIntegrity",
      "type": "object",
      "description": "Contains the device attestation information.",
      "properties": {
        "legacyDeviceRecognitionVerdict": {
          "description": "Contains legacy details about the integrity of the device the app is running on. Only for devices with Android version T or higher and only for apps opted in to the new verdicts. Only available during the transition period to the new verdicts system and will be removed afterwards.",
          "items": {
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "deviceAttributes": {
          "description": "Attributes of the device where the integrity token was generated.",
          "$ref": "DeviceAttributes"
        },
        "deviceRecognitionVerdict": {
          "type": "array",
          "description": "Details about the integrity of the device the app is running on.",
          "items": {
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "type": "string",
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ]
          }
        },
        "deviceRecall": {
          "description": "Details about the device recall bits set by the developer.",
          "$ref": "DeviceRecall"
        },
        "recentDeviceActivity": {
          "$ref": "RecentDeviceActivity",
          "description": "Details about the device activity of the device the app is running on."
        }
      }
    },
    "WriteDeviceRecallResponse": {
      "id": "WriteDeviceRecallResponse",
      "properties": {},
      "description": "Response for the Write Device Recall action. Currently empty.",
      "type": "object"
    },
    "PcDeviceIntegrity": {
      "description": "Contains the device attestation information.",
      "type": "object",
      "properties": {
        "deviceRecognitionVerdict": {
          "type": "array",
          "items": {
            "enum": [
              "DEVICE_RECOGNITION_VERDICT_UNSPECIFIED",
              "MEETS_PC_INTEGRITY"
            ],
            "enumDescriptions": [
              "Unspecified device integrity.",
              "App is running on Windows Device with Google Desktop Services."
            ],
            "type": "string"
          },
          "description": "Details about the integrity of the device the app is running on."
        }
      },
      "id": "PcDeviceIntegrity"
    },
    "PcAccountDetails": {
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "properties": {
        "appLicensingVerdict": {
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed."
          ]
        }
      },
      "id": "PcAccountDetails",
      "type": "object"
    },
    "DecodeIntegrityTokenRequest": {
      "id": "DecodeIntegrityTokenRequest",
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to decode the integrity token."
    },
    "DeviceRecall": {
      "description": "Contains the recall bits per device set by the developer.",
      "id": "DeviceRecall",
      "properties": {
        "writeDates": {
          "description": "Required. Contains the recall bits write dates.",
          "$ref": "WriteDates"
        },
        "values": {
          "$ref": "Values",
          "description": "Required. Contains the recall bits values."
        }
      },
      "type": "object"
    },
    "AppAccessRiskVerdict": {
      "id": "AppAccessRiskVerdict",
      "description": "Contains signals about others apps on the device which could be used to access or control the requesting app.",
      "properties": {
        "appsDetected": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Apps detected is unspecified.",
              "One or more apps is installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to display overlays over the requesting app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to control the device, such as a remote support app.",
              "One or more unknown apps is installed, that were not installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to display overlays over the requesting app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to control the device, such as a remote support app."
            ],
            "enum": [
              "APPS_DETECTED_UNSPECIFIED",
              "KNOWN_INSTALLED",
              "KNOWN_CAPTURING",
              "KNOWN_OVERLAYS",
              "KNOWN_CONTROLLING",
              "UNKNOWN_INSTALLED",
              "UNKNOWN_CAPTURING",
              "UNKNOWN_OVERLAYS",
              "UNKNOWN_CONTROLLING"
            ]
          },
          "description": "List of detected app types signalled for App Access Risk."
        }
      },
      "type": "object"
    },
    "RecentDeviceActivity": {
      "description": "Recent device activity can help developers identify devices that have exhibited hyperactive attestation activity, which could be a sign of an attack or token farming.",
      "properties": {
        "deviceActivityLevel": {
          "description": "Required. Indicates the activity level of the device.",
          "enum": [
            "DEVICE_ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "LEVEL_1",
            "LEVEL_2",
            "LEVEL_3",
            "LEVEL_4"
          ],
          "enumDescriptions": [
            "Device activity level has not been set.",
            "Device activity level has not been evaluated.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "RecentDeviceActivity"
    },
    "RequestDetails": {
      "type": "object",
      "properties": {
        "requestPackageName": {
          "type": "string",
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity. For details on application integrity, check application_integrity."
        },
        "nonce": {
          "description": "Nonce that was provided in the request (which is base64 web-safe no-wrap).",
          "type": "string"
        },
        "timestampMillis": {
          "type": "string",
          "description": "Required. Timestamp, in milliseconds, of the integrity application request.",
          "format": "int64"
        },
        "requestHash": {
          "description": "Request hash that was provided in the request.",
          "type": "string"
        }
      },
      "description": "Contains the integrity request information.",
      "id": "RequestDetails"
    },
    "AppIntegrity": {
      "properties": {
        "versionCode": {
          "format": "int64",
          "description": "Version code of the application. Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "string"
        },
        "appRecognitionVerdict": {
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate app integrity",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Application integrity was not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PLAY_RECOGNIZED",
            "UNRECOGNIZED_VERSION",
            "UNEVALUATED"
          ],
          "description": "Required. Details about the app recognition verdict"
        },
        "certificateSha256Digest": {
          "description": "The SHA256 hash of the requesting app's signing certificates (base64 web-safe encoded). Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "packageName": {
          "description": "Package name of the application under attestation. Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains the application integrity information.",
      "id": "AppIntegrity"
    },
    "DecodePcIntegrityTokenRequest": {
      "id": "DecodePcIntegrityTokenRequest",
      "type": "object",
      "description": "Request to decode the PC integrity token.",
      "properties": {
        "integrityToken": {
          "type": "string",
          "description": "Encoded integrity token."
        }
      }
    },
    "PcTestingDetails": {
      "id": "PcTestingDetails",
      "description": "Contains additional information generated for testing responses.",
      "type": "object",
      "properties": {
        "isTestingResponse": {
          "type": "boolean",
          "description": "Indicates that the information contained in this payload is a testing response that is statically overridden for a tester."
        }
      }
    },
    "DeviceAttributes": {
      "id": "DeviceAttributes",
      "properties": {
        "sdkVersion": {
          "description": "Android SDK version of the device, as defined in the public Android documentation: https://developer.android.com/reference/android/os/Build.VERSION_CODES. It won't be set if a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Contains information about the device for which the integrity token was generated, e.g. Android SDK version.",
      "type": "object"
    },
    "TokenPayloadExternal": {
      "id": "TokenPayloadExternal",
      "type": "object",
      "properties": {
        "environmentDetails": {
          "$ref": "EnvironmentDetails",
          "description": "Details of the environment Play Integrity API runs in."
        },
        "appIntegrity": {
          "$ref": "AppIntegrity",
          "description": "Required. Details about the application integrity."
        },
        "deviceIntegrity": {
          "$ref": "DeviceIntegrity",
          "description": "Required. Details about the device integrity."
        },
        "accountDetails": {
          "description": "Required. Details about the Play Store account.",
          "$ref": "AccountDetails"
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "TestingDetails"
        },
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "RequestDetails"
        }
      },
      "description": "Contains basic app information and integrity signals like device attestation and licensing details."
    }
  },
  "servicePath": "",
  "version": "v1",
  "kind": "discovery#restDescription",
  "title": "Google Play Integrity API"
}