{
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "protocol": "rest",
  "description": "The Play Integrity API helps you check that you're interacting with your genuine app on a genuine Android device powered by Google Play services. The Play Integrity API has replaced SafetyNet Attestation and Android Device Verification.",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://playintegrity.googleapis.com/",
  "kind": "discovery#restDescription",
  "schemas": {
    "AppAccessRiskVerdict": {
      "id": "AppAccessRiskVerdict",
      "type": "object",
      "properties": {
        "appsDetected": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Apps detected is unspecified.",
              "One or more apps is installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to display overlays over the requesting app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to control the device, such as a remote support app.",
              "One or more unknown apps is installed, that were not installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to display overlays over the requesting app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to control the device, such as a remote support app."
            ],
            "enum": [
              "APPS_DETECTED_UNSPECIFIED",
              "KNOWN_INSTALLED",
              "KNOWN_CAPTURING",
              "KNOWN_OVERLAYS",
              "KNOWN_CONTROLLING",
              "UNKNOWN_INSTALLED",
              "UNKNOWN_CAPTURING",
              "UNKNOWN_OVERLAYS",
              "UNKNOWN_CONTROLLING"
            ],
            "type": "string"
          },
          "description": "List of detected app types signalled for App Access Risk."
        }
      },
      "description": "Contains signals about others apps on the device which could be used to access or control the requesting app."
    },
    "TokenPayloadExternal": {
      "id": "TokenPayloadExternal",
      "type": "object",
      "properties": {
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "RequestDetails"
        },
        "deviceIntegrity": {
          "description": "Required. Details about the device integrity.",
          "$ref": "DeviceIntegrity"
        },
        "accountDetails": {
          "description": "Required. Details about the Play Store account.",
          "$ref": "AccountDetails"
        },
        "appIntegrity": {
          "description": "Required. Details about the application integrity.",
          "$ref": "AppIntegrity"
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "TestingDetails"
        },
        "environmentDetails": {
          "description": "Details of the environment Play Integrity API runs in.",
          "$ref": "EnvironmentDetails"
        }
      },
      "description": "Contains basic app information and integrity signals like device attestation and licensing details."
    },
    "AccountActivity": {
      "deprecated": true,
      "description": "(Restricted Access) Contains a signal helping apps differentiating between likely genuine and likely non-genuine user traffic.",
      "type": "object",
      "properties": {
        "activityLevel": {
          "description": "Required. Indicates the activity level of the account.",
          "enumDescriptions": [
            "Activity level has not been set.",
            "Account activity level is not evaluated.",
            "Unusual activity for at least one of the user accounts on the device.",
            "Insufficient activity to verify the user account on the device.",
            "Typical activity for the user account or accounts on the device.",
            "Typical for the user account or accounts on the device, with harder to replicate signals."
          ],
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "UNUSUAL",
            "UNKNOWN",
            "TYPICAL_BASIC",
            "TYPICAL_STRONG"
          ],
          "type": "string"
        }
      },
      "id": "AccountActivity"
    },
    "DecodeIntegrityTokenRequest": {
      "id": "DecodeIntegrityTokenRequest",
      "description": "Request to decode the integrity token.",
      "type": "object",
      "properties": {
        "integrityToken": {
          "type": "string",
          "description": "Encoded integrity token."
        }
      }
    },
    "PcDeviceIntegrity": {
      "id": "PcDeviceIntegrity",
      "description": "Contains the device attestation information.",
      "type": "object",
      "properties": {
        "deviceRecognitionVerdict": {
          "description": "Details about the integrity of the device the app is running on.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified device integrity.",
              "App is running on Windows Device with Google Desktop Services."
            ],
            "enum": [
              "DEVICE_RECOGNITION_VERDICT_UNSPECIFIED",
              "MEETS_PC_INTEGRITY"
            ]
          }
        }
      }
    },
    "RequestDetails": {
      "type": "object",
      "properties": {
        "requestPackageName": {
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity. For details on application integrity, check application_integrity.",
          "type": "string"
        },
        "nonce": {
          "type": "string",
          "description": "Nonce that was provided in the request (which is base64 web-safe no-wrap)."
        },
        "timestampMillis": {
          "description": "Required. Timestamp, in milliseconds, of the integrity application request.",
          "type": "string",
          "format": "int64"
        },
        "requestHash": {
          "description": "Request hash that was provided in the request.",
          "type": "string"
        }
      },
      "description": "Contains the integrity request information.",
      "id": "RequestDetails"
    },
    "DeviceRecall": {
      "id": "DeviceRecall",
      "description": "Contains the recall bits per device set by the developer.",
      "type": "object",
      "properties": {
        "values": {
          "description": "Required. Contains the recall bits values.",
          "$ref": "Values"
        },
        "writeDates": {
          "description": "Required. Contains the recall bits write dates.",
          "$ref": "WriteDates"
        }
      }
    },
    "DeviceAttributes": {
      "description": "Contains information about the device for which the integrity token was generated, e.g. Android SDK version.",
      "type": "object",
      "properties": {
        "sdkVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Android SDK version of the device, as defined in the public Android documentation: https://developer.android.com/reference/android/os/Build.VERSION_CODES. It won't be set if a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
        }
      },
      "id": "DeviceAttributes"
    },
    "WriteDeviceRecallResponse": {
      "type": "object",
      "properties": {},
      "description": "Response for the Write Device Recall action. Currently empty.",
      "id": "WriteDeviceRecallResponse"
    },
    "DecodeIntegrityTokenResponse": {
      "type": "object",
      "properties": {
        "tokenPayloadExternal": {
          "description": "Plain token payload generated from the decoded integrity token.",
          "$ref": "TokenPayloadExternal"
        }
      },
      "description": "Response containing the decoded integrity payload.",
      "id": "DecodeIntegrityTokenResponse"
    },
    "RecentDeviceActivity": {
      "type": "object",
      "properties": {
        "deviceActivityLevel": {
          "type": "string",
          "description": "Required. Indicates the activity level of the device.",
          "enumDescriptions": [
            "Device activity level has not been set.",
            "Device activity level has not been evaluated.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details."
          ],
          "enum": [
            "DEVICE_ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "LEVEL_1",
            "LEVEL_2",
            "LEVEL_3",
            "LEVEL_4"
          ]
        }
      },
      "description": "Recent device activity can help developers identify devices that have exhibited hyperactive attestation activity, which could be a sign of an attack or token farming.",
      "id": "RecentDeviceActivity"
    },
    "AccountDetails": {
      "id": "AccountDetails",
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "type": "object",
      "properties": {
        "accountActivity": {
          "$ref": "AccountActivity",
          "description": "(Restricted Access) Details about the account activity for the user in the scope.",
          "deprecated": true
        },
        "appLicensingVerdict": {
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar or the application was not a known Play version."
          ],
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "type": "string"
        }
      }
    },
    "PcTokenPayloadExternal": {
      "id": "PcTokenPayloadExternal",
      "type": "object",
      "properties": {
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "PcRequestDetails"
        },
        "deviceIntegrity": {
          "description": "Required. Details about the device integrity.",
          "$ref": "PcDeviceIntegrity"
        },
        "accountDetails": {
          "description": "Details about the account information such as the licensing status.",
          "$ref": "PcAccountDetails"
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "PcTestingDetails"
        }
      },
      "description": "Contains PC device attestation details."
    },
    "PcRequestDetails": {
      "id": "PcRequestDetails",
      "type": "object",
      "properties": {
        "requestTime": {
          "description": "Required. Timestamp, of the integrity application request.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestHash": {
          "description": "Request hash that was provided in the request.",
          "type": "string"
        },
        "requestPackageName": {
          "type": "string",
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity."
        }
      },
      "description": "Contains the integrity request information."
    },
    "DecodePcIntegrityTokenResponse": {
      "description": "Response containing the decoded PC integrity payload.",
      "type": "object",
      "properties": {
        "tokenPayloadExternal": {
          "description": "Plain token payload generated from the decoded integrity token.",
          "$ref": "PcTokenPayloadExternal"
        }
      },
      "id": "DecodePcIntegrityTokenResponse"
    },
    "DeviceIntegrity": {
      "id": "DeviceIntegrity",
      "type": "object",
      "properties": {
        "deviceRecall": {
          "description": "Details about the device recall bits set by the developer.",
          "$ref": "DeviceRecall"
        },
        "legacyDeviceRecognitionVerdict": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ]
          },
          "description": "Contains legacy details about the integrity of the device the app is running on. Only for devices with Android version T or higher and only for apps opted in to the new verdicts. Only available during the transition period to the new verdicts system and will be removed afterwards."
        },
        "recentDeviceActivity": {
          "description": "Details about the device activity of the device the app is running on.",
          "$ref": "RecentDeviceActivity"
        },
        "deviceRecognitionVerdict": {
          "description": "Details about the integrity of the device the app is running on.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ]
          }
        },
        "deviceAttributes": {
          "description": "Attributes of the device where the integrity token was generated.",
          "$ref": "DeviceAttributes"
        }
      },
      "description": "Contains the device attestation information."
    },
    "DecodePcIntegrityTokenRequest": {
      "id": "DecodePcIntegrityTokenRequest",
      "type": "object",
      "properties": {
        "integrityToken": {
          "type": "string",
          "description": "Encoded integrity token."
        }
      },
      "description": "Request to decode the PC integrity token."
    },
    "AppIntegrity": {
      "id": "AppIntegrity",
      "description": "Contains the application integrity information.",
      "type": "object",
      "properties": {
        "packageName": {
          "description": "Package name of the application under attestation. Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "string"
        },
        "certificateSha256Digest": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The SHA256 hash of the requesting app's signing certificates (base64 web-safe encoded). Set iff app_recognition_verdict != UNEVALUATED."
        },
        "versionCode": {
          "type": "string",
          "format": "int64",
          "description": "Version code of the application. Set iff app_recognition_verdict != UNEVALUATED."
        },
        "appRecognitionVerdict": {
          "type": "string",
          "description": "Required. Details about the app recognition verdict",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate app integrity",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Application integrity was not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
          ],
          "enum": [
            "UNKNOWN",
            "PLAY_RECOGNIZED",
            "UNRECOGNIZED_VERSION",
            "UNEVALUATED"
          ]
        }
      }
    },
    "WriteDeviceRecallRequest": {
      "description": "Request to write device recall bits.",
      "type": "object",
      "properties": {
        "integrityToken": {
          "type": "string",
          "description": "Required. Integrity token obtained from calling Play Integrity API."
        },
        "newValues": {
          "description": "Required. The new values for the device recall bits to be written.",
          "$ref": "Values"
        }
      },
      "id": "WriteDeviceRecallRequest"
    },
    "EnvironmentDetails": {
      "id": "EnvironmentDetails",
      "description": "Contains information about the environment Play Integrity API runs in, e.g. Play Protect verdict.",
      "type": "object",
      "properties": {
        "playProtectVerdict": {
          "type": "string",
          "description": "The evaluation of Play Protect verdict.",
          "enumDescriptions": [
            "Play Protect verdict has not been set.",
            "Play Protect state was not evaluated. Device may not be trusted.",
            "Play Protect is on and no issues found.",
            "Play Protect is on but no scan has been performed yet. The device or Play Store app may have been reset.",
            "Play Protect is on and warnings found.",
            "Play Protect is on and high severity issues found.",
            "Play Protect is turned off. Turn on Play Protect."
          ],
          "enum": [
            "PLAY_PROTECT_VERDICT_UNSPECIFIED",
            "UNEVALUATED",
            "NO_ISSUES",
            "NO_DATA",
            "MEDIUM_RISK",
            "HIGH_RISK",
            "POSSIBLE_RISK"
          ]
        },
        "appAccessRiskVerdict": {
          "description": "The evaluation of the App Access Risk verdicts.",
          "$ref": "AppAccessRiskVerdict"
        }
      }
    },
    "Values": {
      "id": "Values",
      "type": "object",
      "properties": {
        "bitFirst": {
          "description": "Required. First recall bit value.",
          "type": "boolean"
        },
        "bitSecond": {
          "description": "Required. Second recall bit value.",
          "type": "boolean"
        },
        "bitThird": {
          "description": "Required. Third recall bit value.",
          "type": "boolean"
        }
      },
      "description": "Contains the recall bits values."
    },
    "PcAccountDetails": {
      "type": "object",
      "properties": {
        "appLicensingVerdict": {
          "type": "string",
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed."
          ],
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ]
        }
      },
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "id": "PcAccountDetails"
    },
    "WriteDates": {
      "description": "Contains the recall bits write dates.",
      "type": "object",
      "properties": {
        "yyyymmSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the second bit. Note that this value won't be set if the second bit is false."
        },
        "yyyymmFirst": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the first bit. Note that this value won't be set if the first bit is false."
        },
        "yyyymmThird": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the third bit. Note that this value won't be set if the third bit is false."
        }
      },
      "id": "WriteDates"
    },
    "TestingDetails": {
      "type": "object",
      "properties": {
        "isTestingResponse": {
          "description": "Required. Indicates that the information contained in this payload is a testing response that is statically overridden for a tester.",
          "type": "boolean"
        }
      },
      "description": "Contains additional information generated for testing responses.",
      "id": "TestingDetails"
    },
    "PcTestingDetails": {
      "id": "PcTestingDetails",
      "description": "Contains additional information generated for testing responses.",
      "type": "object",
      "properties": {
        "isTestingResponse": {
          "description": "Indicates that the information contained in this payload is a testing response that is statically overridden for a tester.",
          "type": "boolean"
        }
      }
    }
  },
  "rootUrl": "https://playintegrity.googleapis.com/",
  "resources": {
    "v1": {
      "methods": {
        "decodeIntegrityToken": {
          "request": {
            "$ref": "DecodeIntegrityTokenRequest"
          },
          "path": "v1/{+packageName}:decodeIntegrityToken",
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "packageName": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": " Package name of the app the attached integrity token belongs to.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "DecodeIntegrityTokenResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "description": "Decodes the integrity token and returns the token payload.",
          "httpMethod": "POST",
          "id": "playintegrity.decodeIntegrityToken",
          "flatPath": "v1/{v1Id}:decodeIntegrityToken"
        },
        "decodePcIntegrityToken": {
          "id": "playintegrity.decodePcIntegrityToken",
          "flatPath": "v1/{v1Id}:decodePcIntegrityToken",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "description": "Decodes the PC integrity token and returns the PC token payload.",
          "httpMethod": "POST",
          "response": {
            "$ref": "DecodePcIntegrityTokenResponse"
          },
          "path": "v1/{+packageName}:decodePcIntegrityToken",
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "packageName": {
              "description": "Package name of the app the attached integrity token belongs to.",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "request": {
            "$ref": "DecodePcIntegrityTokenRequest"
          }
        }
      }
    },
    "deviceRecall": {
      "methods": {
        "write": {
          "parameters": {
            "packageName": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Package name of the app the attached integrity token belongs to."
            }
          },
          "path": "v1/{+packageName}/deviceRecall:write",
          "parameterOrder": [
            "packageName"
          ],
          "request": {
            "$ref": "WriteDeviceRecallRequest"
          },
          "flatPath": "v1/{v1Id}/deviceRecall:write",
          "id": "playintegrity.deviceRecall.write",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "description": "Writes recall bits for the device where Play Integrity API token is obtained. The endpoint is available to select Play partners in an early access program (EAP).",
          "response": {
            "$ref": "WriteDeviceRecallResponse"
          }
        }
      }
    }
  },
  "servicePath": "",
  "id": "playintegrity:v1",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playintegrity": {
          "description": "Private Service: https://www.googleapis.com/auth/playintegrity"
        }
      }
    }
  },
  "canonicalName": "Play Integrity",
  "title": "Google Play Integrity API",
  "mtlsRootUrl": "https://playintegrity.mtls.googleapis.com/",
  "revision": "20260730",
  "version": "v1",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developer.android.com/google/play/integrity",
  "name": "playintegrity",
  "basePath": ""
}