{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://playintegrity.mtls.googleapis.com/",
  "documentationLink": "https://developer.android.com/google/play/integrity",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "protocol": "rest",
  "version": "v1",
  "description": "The Play Integrity API helps you check that you're interacting with your genuine app on a genuine Android device powered by Google Play services. The Play Integrity API has replaced SafetyNet Attestation and Android Device Verification.",
  "kind": "discovery#restDescription",
  "version_module": true,
  "title": "Google Play Integrity API",
  "id": "playintegrity:v1",
  "revision": "20260611",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playintegrity": {
          "description": "Private Service: https://www.googleapis.com/auth/playintegrity"
        }
      }
    }
  },
  "baseUrl": "https://playintegrity.googleapis.com/",
  "canonicalName": "Play Integrity",
  "name": "playintegrity",
  "resources": {
    "v1": {
      "methods": {
        "decodeIntegrityToken": {
          "path": "v1/{+packageName}:decodeIntegrityToken",
          "flatPath": "v1/{v1Id}:decodeIntegrityToken",
          "response": {
            "$ref": "DecodeIntegrityTokenResponse"
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "playintegrity.decodeIntegrityToken",
          "request": {
            "$ref": "DecodeIntegrityTokenRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "location": "path",
              "description": " Package name of the app the attached integrity token belongs to.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Decodes the integrity token and returns the token payload."
        },
        "decodePcIntegrityToken": {
          "response": {
            "$ref": "DecodePcIntegrityTokenResponse"
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "playintegrity.decodePcIntegrityToken",
          "path": "v1/{+packageName}:decodePcIntegrityToken",
          "flatPath": "v1/{v1Id}:decodePcIntegrityToken",
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "location": "path",
              "description": "Package name of the app the attached integrity token belongs to.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Decodes the PC integrity token and returns the PC token payload.",
          "request": {
            "$ref": "DecodePcIntegrityTokenRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ]
        }
      }
    },
    "deviceRecall": {
      "methods": {
        "write": {
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "location": "path",
              "description": "Required. Package name of the app the attached integrity token belongs to.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Writes recall bits for the device where Play Integrity API token is obtained. The endpoint is available to select Play partners in an early access program (EAP).",
          "request": {
            "$ref": "WriteDeviceRecallRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "parameterOrder": [
            "packageName"
          ],
          "id": "playintegrity.deviceRecall.write",
          "response": {
            "$ref": "WriteDeviceRecallResponse"
          },
          "flatPath": "v1/{v1Id}/deviceRecall:write",
          "path": "v1/{+packageName}/deviceRecall:write"
        }
      }
    }
  },
  "schemas": {
    "TokenPayloadExternal": {
      "id": "TokenPayloadExternal",
      "type": "object",
      "properties": {
        "environmentDetails": {
          "$ref": "EnvironmentDetails",
          "description": "Details of the environment Play Integrity API runs in."
        },
        "testingDetails": {
          "$ref": "TestingDetails",
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status."
        },
        "appIntegrity": {
          "$ref": "AppIntegrity",
          "description": "Required. Details about the application integrity."
        },
        "accountDetails": {
          "description": "Required. Details about the Play Store account.",
          "$ref": "AccountDetails"
        },
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "RequestDetails"
        },
        "deviceIntegrity": {
          "$ref": "DeviceIntegrity",
          "description": "Required. Details about the device integrity."
        }
      },
      "description": "Contains basic app information and integrity signals like device attestation and licensing details."
    },
    "RecentDeviceActivity": {
      "type": "object",
      "properties": {
        "deviceActivityLevel": {
          "description": "Required. Indicates the activity level of the device.",
          "enum": [
            "DEVICE_ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "LEVEL_1",
            "LEVEL_2",
            "LEVEL_3",
            "LEVEL_4"
          ],
          "enumDescriptions": [
            "Device activity level has not been set.",
            "Device activity level has not been evaluated.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details."
          ],
          "type": "string"
        }
      },
      "id": "RecentDeviceActivity",
      "description": "Recent device activity can help developers identify devices that have exhibited hyperactive attestation activity, which could be a sign of an attack or token farming."
    },
    "PcAccountDetails": {
      "id": "PcAccountDetails",
      "type": "object",
      "properties": {
        "appLicensingVerdict": {
          "type": "string",
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed."
          ]
        }
      },
      "description": "Contains the account information such as the licensing status for the user in the scope."
    },
    "WriteDeviceRecallResponse": {
      "description": "Response for the Write Device Recall action. Currently empty.",
      "id": "WriteDeviceRecallResponse",
      "type": "object",
      "properties": {}
    },
    "WriteDeviceRecallRequest": {
      "description": "Request to write device recall bits.",
      "id": "WriteDeviceRecallRequest",
      "type": "object",
      "properties": {
        "integrityToken": {
          "description": "Required. Integrity token obtained from calling Play Integrity API.",
          "type": "string"
        },
        "newValues": {
          "description": "Required. The new values for the device recall bits to be written.",
          "$ref": "Values"
        }
      }
    },
    "DecodeIntegrityTokenRequest": {
      "description": "Request to decode the integrity token.",
      "id": "DecodeIntegrityTokenRequest",
      "type": "object",
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      }
    },
    "EnvironmentDetails": {
      "type": "object",
      "properties": {
        "playProtectVerdict": {
          "type": "string",
          "description": "The evaluation of Play Protect verdict.",
          "enum": [
            "PLAY_PROTECT_VERDICT_UNSPECIFIED",
            "UNEVALUATED",
            "NO_ISSUES",
            "NO_DATA",
            "MEDIUM_RISK",
            "HIGH_RISK",
            "POSSIBLE_RISK"
          ],
          "enumDescriptions": [
            "Play Protect verdict has not been set.",
            "Play Protect state was not evaluated. Device may not be trusted.",
            "Play Protect is on and no issues found.",
            "Play Protect is on but no scan has been performed yet. The device or Play Store app may have been reset.",
            "Play Protect is on and warnings found.",
            "Play Protect is on and high severity issues found.",
            "Play Protect is turned off. Turn on Play Protect."
          ]
        },
        "appAccessRiskVerdict": {
          "$ref": "AppAccessRiskVerdict",
          "description": "The evaluation of the App Access Risk verdicts."
        }
      },
      "id": "EnvironmentDetails",
      "description": "Contains information about the environment Play Integrity API runs in, e.g. Play Protect verdict."
    },
    "AppAccessRiskVerdict": {
      "description": "Contains signals about others apps on the device which could be used to access or control the requesting app.",
      "id": "AppAccessRiskVerdict",
      "type": "object",
      "properties": {
        "appsDetected": {
          "description": "List of detected app types signalled for App Access Risk.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Apps detected is unspecified.",
              "One or more apps is installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to display overlays over the requesting app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to control the device, such as a remote support app.",
              "One or more unknown apps is installed, that were not installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to display overlays over the requesting app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to control the device, such as a remote support app."
            ],
            "enum": [
              "APPS_DETECTED_UNSPECIFIED",
              "KNOWN_INSTALLED",
              "KNOWN_CAPTURING",
              "KNOWN_OVERLAYS",
              "KNOWN_CONTROLLING",
              "UNKNOWN_INSTALLED",
              "UNKNOWN_CAPTURING",
              "UNKNOWN_OVERLAYS",
              "UNKNOWN_CONTROLLING"
            ]
          },
          "type": "array"
        }
      }
    },
    "PcDeviceIntegrity": {
      "id": "PcDeviceIntegrity",
      "type": "object",
      "properties": {
        "deviceRecognitionVerdict": {
          "type": "array",
          "description": "Details about the integrity of the device the app is running on.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified device integrity.",
              "App is running on Windows Device with Google Desktop Services."
            ],
            "enum": [
              "DEVICE_RECOGNITION_VERDICT_UNSPECIFIED",
              "MEETS_PC_INTEGRITY"
            ]
          }
        }
      },
      "description": "Contains the device attestation information."
    },
    "AccountActivity": {
      "id": "AccountActivity",
      "description": "(Restricted Access) Contains a signal helping apps differentiating between likely genuine and likely non-genuine user traffic.",
      "deprecated": true,
      "type": "object",
      "properties": {
        "activityLevel": {
          "enumDescriptions": [
            "Activity level has not been set.",
            "Account activity level is not evaluated.",
            "Unusual activity for at least one of the user accounts on the device.",
            "Insufficient activity to verify the user account on the device.",
            "Typical activity for the user account or accounts on the device.",
            "Typical for the user account or accounts on the device, with harder to replicate signals."
          ],
          "description": "Required. Indicates the activity level of the account.",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "UNUSUAL",
            "UNKNOWN",
            "TYPICAL_BASIC",
            "TYPICAL_STRONG"
          ],
          "type": "string"
        }
      }
    },
    "DeviceRecall": {
      "description": "Contains the recall bits per device set by the developer.",
      "type": "object",
      "properties": {
        "values": {
          "$ref": "Values",
          "description": "Required. Contains the recall bits values."
        },
        "writeDates": {
          "$ref": "WriteDates",
          "description": "Required. Contains the recall bits write dates."
        }
      },
      "id": "DeviceRecall"
    },
    "Values": {
      "description": "Contains the recall bits values.",
      "id": "Values",
      "type": "object",
      "properties": {
        "bitSecond": {
          "type": "boolean",
          "description": "Required. Second recall bit value."
        },
        "bitThird": {
          "description": "Required. Third recall bit value.",
          "type": "boolean"
        },
        "bitFirst": {
          "description": "Required. First recall bit value.",
          "type": "boolean"
        }
      }
    },
    "DecodePcIntegrityTokenRequest": {
      "id": "DecodePcIntegrityTokenRequest",
      "type": "object",
      "properties": {
        "integrityToken": {
          "type": "string",
          "description": "Encoded integrity token."
        }
      },
      "description": "Request to decode the PC integrity token."
    },
    "AccountDetails": {
      "type": "object",
      "properties": {
        "appLicensingVerdict": {
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar or the application was not a known Play version."
          ],
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "type": "string"
        },
        "accountActivity": {
          "$ref": "AccountActivity",
          "deprecated": true,
          "description": "(Restricted Access) Details about the account activity for the user in the scope."
        }
      },
      "id": "AccountDetails",
      "description": "Contains the account information such as the licensing status for the user in the scope."
    },
    "RequestDetails": {
      "id": "RequestDetails",
      "type": "object",
      "properties": {
        "requestPackageName": {
          "type": "string",
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity. For details on application integrity, check application_integrity."
        },
        "nonce": {
          "type": "string",
          "description": "Nonce that was provided in the request (which is base64 web-safe no-wrap)."
        },
        "timestampMillis": {
          "type": "string",
          "description": "Required. Timestamp, in milliseconds, of the integrity application request.",
          "format": "int64"
        },
        "requestHash": {
          "description": "Request hash that was provided in the request.",
          "type": "string"
        }
      },
      "description": "Contains the integrity request information."
    },
    "PcTokenPayloadExternal": {
      "description": "Contains PC device attestation details.",
      "type": "object",
      "properties": {
        "accountDetails": {
          "description": "Details about the account information such as the licensing status.",
          "$ref": "PcAccountDetails"
        },
        "testingDetails": {
          "$ref": "PcTestingDetails",
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status."
        },
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "PcRequestDetails"
        },
        "deviceIntegrity": {
          "description": "Required. Details about the device integrity.",
          "$ref": "PcDeviceIntegrity"
        }
      },
      "id": "PcTokenPayloadExternal"
    },
    "DecodePcIntegrityTokenResponse": {
      "description": "Response containing the decoded PC integrity payload.",
      "type": "object",
      "properties": {
        "tokenPayloadExternal": {
          "description": "Plain token payload generated from the decoded integrity token.",
          "$ref": "PcTokenPayloadExternal"
        }
      },
      "id": "DecodePcIntegrityTokenResponse"
    },
    "TestingDetails": {
      "id": "TestingDetails",
      "type": "object",
      "properties": {
        "isTestingResponse": {
          "type": "boolean",
          "description": "Required. Indicates that the information contained in this payload is a testing response that is statically overridden for a tester."
        }
      },
      "description": "Contains additional information generated for testing responses."
    },
    "DeviceAttributes": {
      "description": "Contains information about the device for which the integrity token was generated, e.g. Android SDK version.",
      "type": "object",
      "properties": {
        "sdkVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Android SDK version of the device, as defined in the public Android documentation: https://developer.android.com/reference/android/os/Build.VERSION_CODES. It won't be set if a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
        }
      },
      "id": "DeviceAttributes"
    },
    "WriteDates": {
      "description": "Contains the recall bits write dates.",
      "type": "object",
      "properties": {
        "yyyymmFirst": {
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the first bit. Note that this value won't be set if the first bit is false.",
          "format": "int32",
          "type": "integer"
        },
        "yyyymmSecond": {
          "type": "integer",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the second bit. Note that this value won't be set if the second bit is false.",
          "format": "int32"
        },
        "yyyymmThird": {
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the third bit. Note that this value won't be set if the third bit is false.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "WriteDates"
    },
    "PcTestingDetails": {
      "description": "Contains additional information generated for testing responses.",
      "type": "object",
      "properties": {
        "isTestingResponse": {
          "type": "boolean",
          "description": "Indicates that the information contained in this payload is a testing response that is statically overridden for a tester."
        }
      },
      "id": "PcTestingDetails"
    },
    "AppIntegrity": {
      "id": "AppIntegrity",
      "type": "object",
      "properties": {
        "appRecognitionVerdict": {
          "type": "string",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate app integrity",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Application integrity was not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
          ],
          "description": "Required. Details about the app recognition verdict",
          "enum": [
            "UNKNOWN",
            "PLAY_RECOGNIZED",
            "UNRECOGNIZED_VERSION",
            "UNEVALUATED"
          ]
        },
        "versionCode": {
          "type": "string",
          "description": "Version code of the application. Set iff app_recognition_verdict != UNEVALUATED.",
          "format": "int64"
        },
        "packageName": {
          "description": "Package name of the application under attestation. Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "string"
        },
        "certificateSha256Digest": {
          "type": "array",
          "description": "The SHA256 hash of the requesting app's signing certificates (base64 web-safe encoded). Set iff app_recognition_verdict != UNEVALUATED.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Contains the application integrity information."
    },
    "DecodeIntegrityTokenResponse": {
      "id": "DecodeIntegrityTokenResponse",
      "type": "object",
      "properties": {
        "tokenPayloadExternal": {
          "$ref": "TokenPayloadExternal",
          "description": "Plain token payload generated from the decoded integrity token."
        }
      },
      "description": "Response containing the decoded integrity payload."
    },
    "DeviceIntegrity": {
      "description": "Contains the device attestation information.",
      "type": "object",
      "properties": {
        "deviceAttributes": {
          "$ref": "DeviceAttributes",
          "description": "Attributes of the device where the integrity token was generated."
        },
        "deviceRecall": {
          "$ref": "DeviceRecall",
          "description": "Details about the device recall bits set by the developer."
        },
        "deviceRecognitionVerdict": {
          "type": "array",
          "description": "Details about the integrity of the device the app is running on.",
          "items": {
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "type": "string"
          }
        },
        "recentDeviceActivity": {
          "$ref": "RecentDeviceActivity",
          "description": "Details about the device activity of the device the app is running on."
        },
        "legacyDeviceRecognitionVerdict": {
          "type": "array",
          "description": "Contains legacy details about the integrity of the device the app is running on. Only for devices with Android version T or higher and only for apps opted in to the new verdicts. Only available during the transition period to the new verdicts system and will be removed afterwards.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ]
          }
        }
      },
      "id": "DeviceIntegrity"
    },
    "PcRequestDetails": {
      "type": "object",
      "properties": {
        "requestHash": {
          "type": "string",
          "description": "Request hash that was provided in the request."
        },
        "requestPackageName": {
          "type": "string",
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity."
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Timestamp, of the integrity application request."
        }
      },
      "id": "PcRequestDetails",
      "description": "Contains the integrity request information."
    }
  },
  "batchPath": "batch",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "ownerDomain": "google.com",
  "servicePath": "",
  "rootUrl": "https://playintegrity.googleapis.com/"
}