{
  "version_module": true,
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://policyanalyzer.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "protocol": "rest",
  "description": "",
  "batchPath": "batch",
  "rootUrl": "https://policyanalyzer.googleapis.com/",
  "basePath": "",
  "servicePath": "",
  "baseUrl": "https://policyanalyzer.googleapis.com/",
  "canonicalName": "Policy Analyzer",
  "schemas": {
    "GoogleCloudPolicyanalyzerV1Activity": {
      "id": "GoogleCloudPolicyanalyzerV1Activity",
      "properties": {
        "fullResourceName": {
          "type": "string",
          "description": "The full resource name that identifies the resource. For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names."
        },
        "activityType": {
          "type": "string",
          "description": "The type of the activity."
        },
        "observationPeriod": {
          "description": "The data observation period to build the activity.",
          "$ref": "GoogleCloudPolicyanalyzerV1ObservationPeriod"
        },
        "activity": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "A struct of custom fields to explain the activity.",
          "type": "object"
        }
      },
      "description": "Represents Activity on a GCP resource over specific observation period.",
      "type": "object"
    },
    "GoogleCloudPolicyanalyzerV1ObservationPeriod": {
      "id": "GoogleCloudPolicyanalyzerV1ObservationPeriod",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The observation start time. The time in this timestamp is always `07:00:00Z`."
        },
        "endTime": {
          "description": "The observation end time. The time in this timestamp is always `07:00:00Z`.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Represents data observation period."
    },
    "GoogleCloudPolicyanalyzerV1QueryActivityResponse": {
      "id": "GoogleCloudPolicyanalyzerV1QueryActivityResponse",
      "properties": {
        "activities": {
          "description": "The set of activities that match the filter included in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPolicyanalyzerV1Activity"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `nextPageToken` is included. To get the next set of results, call this method again using the value of `nextPageToken` as `pageToken`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response to the `QueryActivity` method."
    }
  },
  "documentationLink": "https://www.google.com",
  "version": "v1",
  "id": "policyanalyzer:v1",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "name": "policyanalyzer",
  "revision": "20260705",
  "title": "Policy Analyzer API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "activityTypes": {
              "resources": {
                "activities": {
                  "methods": {
                    "query": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/activities:query",
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filter expression to restrict the activities returned. For serviceAccountLastAuthentication activities, supported filters are: - `activities.full_resource_name {=} [STRING]` - `activities.fullResourceName {=} [STRING]` where `[STRING]` is the full resource name of the service account. For serviceAccountKeyLastAuthentication activities, supported filters are: - `activities.full_resource_name {=} [STRING]` - `activities.fullResourceName {=} [STRING]` where `[STRING]` is the full resource name of the service account key.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: `projects/[PROJECT_ID|PROJECT_NUMBER]/locations/[LOCATION]/activityTypes/[ACTIVITY_TYPE]` LOCATION here refers to Google Cloud Locations: https://cloud.google.com/about/locations/",
                          "pattern": "^projects/[^/]+/locations/[^/]+/activityTypes/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. `pageToken` must be the value of `nextPageToken` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of results to return from this request. Max limit is 1000. Non-positive values are ignored. The presence of `nextPageToken` in the response indicates that more results might be available.",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Queries policy activities on Google Cloud resources.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activityTypes/{activityTypesId}/activities:query",
                      "id": "policyanalyzer.projects.locations.activityTypes.activities.query",
                      "response": {
                        "$ref": "GoogleCloudPolicyanalyzerV1QueryActivityResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "activityTypes": {
              "resources": {
                "activities": {
                  "methods": {
                    "query": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/activities:query",
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter expression to restrict the activities returned. For serviceAccountLastAuthentication activities, supported filters are: - `activities.full_resource_name {=} [STRING]` - `activities.fullResourceName {=} [STRING]` where `[STRING]` is the full resource name of the service account. For serviceAccountKeyLastAuthentication activities, supported filters are: - `activities.full_resource_name {=} [STRING]` - `activities.fullResourceName {=} [STRING]` where `[STRING]` is the full resource name of the service account key.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: `projects/[PROJECT_ID|PROJECT_NUMBER]/locations/[LOCATION]/activityTypes/[ACTIVITY_TYPE]` LOCATION here refers to Google Cloud Locations: https://cloud.google.com/about/locations/",
                          "pattern": "^folders/[^/]+/locations/[^/]+/activityTypes/[^/]+$",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. `pageToken` must be the value of `nextPageToken` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of results to return from this request. Max limit is 1000. Non-positive values are ignored. The presence of `nextPageToken` in the response indicates that more results might be available.",
                          "location": "query"
                        }
                      },
                      "id": "policyanalyzer.folders.locations.activityTypes.activities.query",
                      "response": {
                        "$ref": "GoogleCloudPolicyanalyzerV1QueryActivityResponse"
                      },
                      "description": "Queries policy activities on Google Cloud resources.",
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/activityTypes/{activityTypesId}/activities:query"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "activityTypes": {
              "resources": {
                "activities": {
                  "methods": {
                    "query": {
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/activityTypes/{activityTypesId}/activities:query",
                      "description": "Queries policy activities on Google Cloud resources.",
                      "response": {
                        "$ref": "GoogleCloudPolicyanalyzerV1QueryActivityResponse"
                      },
                      "id": "policyanalyzer.organizations.locations.activityTypes.activities.query",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The maximum number of results to return from this request. Max limit is 1000. Non-positive values are ignored. The presence of `nextPageToken` in the response indicates that more results might be available.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. `pageToken` must be the value of `nextPageToken` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: `projects/[PROJECT_ID|PROJECT_NUMBER]/locations/[LOCATION]/activityTypes/[ACTIVITY_TYPE]` LOCATION here refers to Google Cloud Locations: https://cloud.google.com/about/locations/",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/activityTypes/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filter expression to restrict the activities returned. For serviceAccountLastAuthentication activities, supported filters are: - `activities.full_resource_name {=} [STRING]` - `activities.fullResourceName {=} [STRING]` where `[STRING]` is the full resource name of the service account. For serviceAccountKeyLastAuthentication activities, supported filters are: - `activities.full_resource_name {=} [STRING]` - `activities.fullResourceName {=} [STRING]` where `[STRING]` is the full resource name of the service account key.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/activities:query",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}