{
  "baseUrl": "https://prod-tt-sasportal.googleapis.com/",
  "documentationLink": "https://developers.google.com/spectrum-access-system/",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "",
  "canonicalName": "SAS Portal Testing",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "SasPortalDeployment": {
      "id": "SasPortalDeployment",
      "properties": {
        "frns": {
          "description": "Output only. The FCC Registration Numbers (FRNs) copied from its direct parent.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Output only. Resource name.",
          "readOnly": true,
          "type": "string"
        },
        "sasUserIds": {
          "type": "array",
          "description": "User ID used by the devices belonging to this deployment. Each deployment should be associated with one unique user ID.",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The deployment's display name.",
          "type": "string"
        }
      },
      "description": "The Deployment.",
      "type": "object"
    },
    "SasPortalAssignment": {
      "type": "object",
      "id": "SasPortalAssignment",
      "properties": {
        "role": {
          "description": "Required. Role that is assigned to `members`.",
          "type": "string"
        },
        "members": {
          "description": "The identities the role is assigned to. It can have the following values: * `{user_email}`: An email address that represents a specific Google account. For example: `alice@gmail.com`. * `{group_email}`: An email address that represents a Google group. For example, `viewers@gmail.com`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Associates `members` with a `role`."
    },
    "SasPortalMigrateOrganizationResponse": {
      "type": "object",
      "description": "Response for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization].",
      "id": "SasPortalMigrateOrganizationResponse",
      "properties": {
        "deploymentAssociation": {
          "description": "Optional. A list of deployment association that were created for the migration, or current associations if they already exist.",
          "items": {
            "$ref": "SasPortalDeploymentAssociation"
          },
          "type": "array"
        }
      }
    },
    "SasPortalTestPermissionsRequest": {
      "id": "SasPortalTestPermissionsRequest",
      "properties": {
        "resource": {
          "description": "Required. The resource for which the permissions are being requested.",
          "type": "string"
        },
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestPermissions` method.",
      "type": "object"
    },
    "SasPortalCreateSignedDeviceRequest": {
      "type": "object",
      "id": "SasPortalCreateSignedDeviceRequest",
      "properties": {
        "encodedDevice": {
          "format": "byte",
          "type": "string",
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set."
        },
        "installerId": {
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      },
      "description": "Request for CreateSignedDevice."
    },
    "SasPortalStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "SasPortalStatus",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SasPortalDpaMoveList": {
      "description": "An entry in a DPA's move list.",
      "id": "SasPortalDpaMoveList",
      "properties": {
        "dpaId": {
          "description": "The ID of the DPA.",
          "type": "string"
        },
        "frequencyRange": {
          "description": "The frequency range that the move list affects.",
          "$ref": "SasPortalFrequencyRange"
        }
      },
      "type": "object"
    },
    "SasPortalMigrateOrganizationRequest": {
      "type": "object",
      "description": "Request for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization]. GCP Project, Organization Info, and caller's GAIA ID should be retrieved from the RPC handler, and used to check authorization on SAS Portal organization and to create GCP Projects.",
      "id": "SasPortalMigrateOrganizationRequest",
      "properties": {
        "organizationId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Id of the SAS organization to be migrated."
        }
      }
    },
    "SasPortalListGcpProjectDeploymentsResponse": {
      "type": "object",
      "id": "SasPortalListGcpProjectDeploymentsResponse",
      "properties": {
        "deployments": {
          "description": "Optional. Deployments associated with the GCP project",
          "items": {
            "$ref": "SasPortalGcpProjectDeployment"
          },
          "type": "array"
        }
      },
      "description": "Response for [ListGcpProjectDeployments]."
    },
    "SasPortalValidateInstallerRequest": {
      "type": "object",
      "description": "Request for ValidateInstaller.",
      "id": "SasPortalValidateInstallerRequest",
      "properties": {
        "secret": {
          "description": "Required. Secret returned by the GenerateSecret.",
          "type": "string"
        },
        "installerId": {
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        },
        "encodedSecret": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must include a \"secret\" claim whose value is the secret.",
          "type": "string"
        }
      }
    },
    "SasPortalGetPolicyRequest": {
      "id": "SasPortalGetPolicyRequest",
      "properties": {
        "resource": {
          "description": "Required. The resource for which the policy is being requested.",
          "type": "string"
        }
      },
      "description": "Request message for `GetPolicy` method.",
      "type": "object"
    },
    "SasPortalListLegacyOrganizationsResponse": {
      "type": "object",
      "id": "SasPortalListLegacyOrganizationsResponse",
      "properties": {
        "organizations": {
          "type": "array",
          "description": "Optional. Legacy SAS organizations.",
          "items": {
            "$ref": "SasPortalOrganization"
          }
        }
      },
      "description": "Response for [ListLegacyOrganizations]. [spectrum.sas.portal.v1alpha1.Provisioning.ListLegacyOrganizations]."
    },
    "SasPortalMoveDeviceRequest": {
      "description": "Request for MoveDevice.",
      "id": "SasPortalMoveDeviceRequest",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the device under.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SasPortalSetupSasAnalyticsMetadata": {
      "id": "SasPortalSetupSasAnalyticsMetadata",
      "properties": {},
      "description": "Metadata returned by the long running operation for the SetupSasAnalytics rpc.",
      "type": "object"
    },
    "SasPortalCustomer": {
      "type": "object",
      "description": "Entity representing a SAS customer.",
      "id": "SasPortalCustomer",
      "properties": {
        "displayName": {
          "description": "Required. Name of the organization that the customer entity represents.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the customer.",
          "type": "string"
        },
        "sasUserIds": {
          "items": {
            "type": "string"
          },
          "description": "User IDs used by the devices belonging to this customer.",
          "type": "array"
        }
      }
    },
    "SasPortalValidateInstallerResponse": {
      "type": "object",
      "id": "SasPortalValidateInstallerResponse",
      "properties": {},
      "description": "Response for ValidateInstaller."
    },
    "SasPortalOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "SasPortalOperation",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "SasPortalStatus"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "SasPortalDeviceMetadata": {
      "id": "SasPortalDeviceMetadata",
      "properties": {
        "commonChannelGroup": {
          "description": "Common Channel Group (CCG). A group of CBSDs in the same ICG requesting a common primary channel assignment. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "nrqzValidation": {
          "$ref": "SasPortalNrqzValidation",
          "readOnly": true,
          "description": "Output only. National Radio Quiet Zone validation info."
        },
        "nrqzValidated": {
          "description": "Output only. Set to `true` if a CPI has validated that they have coordinated with the National Quiet Zone office.",
          "readOnly": true,
          "type": "boolean",
          "deprecated": true
        },
        "interferenceCoordinationGroup": {
          "description": "Interference Coordination Group (ICG). A group of CBSDs that manage their own interference with the group. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "antennaModel": {
          "description": "If populated, the Antenna Model Pattern to use. Format is: `RecordCreatorId:PatternId`",
          "type": "string"
        }
      },
      "description": "Device data overridable by both SAS Portal and registration requests.",
      "type": "object"
    },
    "SasPortalChannelWithScore": {
      "description": "The channel with score.",
      "id": "SasPortalChannelWithScore",
      "properties": {
        "frequencyRange": {
          "description": "The frequency range of the channel.",
          "$ref": "SasPortalFrequencyRange"
        },
        "score": {
          "format": "double",
          "type": "number",
          "description": "The channel score, normalized to be in the range [0,100]."
        }
      },
      "type": "object"
    },
    "SasPortalProvisionDeploymentRequest": {
      "type": "object",
      "description": "Request for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment]. GCP Project, Organization Info, and caller’s GAIA ID should be retrieved from the RPC handler, and used as inputs to create a new SAS organization (if not exists) and a new SAS deployment.",
      "id": "SasPortalProvisionDeploymentRequest",
      "properties": {
        "organizationId": {
          "description": "Optional. If this field is set then a new deployment will be created under the organization specified by this id.",
          "type": "string",
          "format": "int64"
        },
        "newOrganizationDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Organization needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        },
        "newDeploymentDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Deployment needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        }
      }
    },
    "SasPortalPolicy": {
      "id": "SasPortalPolicy",
      "properties": {
        "assignments": {
          "type": "array",
          "description": "List of assignments",
          "items": {
            "$ref": "SasPortalAssignment"
          }
        },
        "etag": {
          "description": "The etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to GetPolicy, and systems are expected to put that etag in the request to SetPolicy to ensure that their change will be applied to the same version of the policy. If no etag is provided in the call to GetPolicy, then the existing policy is overwritten blindly.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "Defines an access control policy to the resources.",
      "type": "object"
    },
    "SasPortalListDevicesResponse": {
      "id": "SasPortalListDevicesResponse",
      "properties": {
        "devices": {
          "description": "The devices that match the request.",
          "items": {
            "$ref": "SasPortalDevice"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDevices that indicates from where listing should continue. If the field is missing or empty, it means there is no more devices.",
          "type": "string"
        }
      },
      "description": "Response for ListDevices.",
      "type": "object"
    },
    "SasPortalOrganization": {
      "type": "object",
      "id": "SasPortalOrganization",
      "properties": {
        "displayName": {
          "description": "Name of organization",
          "type": "string"
        },
        "id": {
          "description": "Id of organization",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Organization details."
    },
    "SasPortalNrqzValidation": {
      "id": "SasPortalNrqzValidation",
      "properties": {
        "caseId": {
          "description": "Validation case ID.",
          "type": "string"
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "Device latitude that's associated with the validation."
        },
        "cpiId": {
          "description": "CPI who signed the validation.",
          "type": "string"
        },
        "longitude": {
          "description": "Device longitude that's associated with the validation.",
          "type": "number",
          "format": "double"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Draft state.",
            "Final state."
          ],
          "description": "State of the NRQZ validation info."
        }
      },
      "description": "Information about National Radio Quiet Zone validation.",
      "type": "object"
    },
    "SasPortalSignDeviceRequest": {
      "type": "object",
      "description": "Request for SignDevice.",
      "id": "SasPortalSignDeviceRequest",
      "properties": {
        "device": {
          "description": "Required. The device to sign. The device fields name, fcc_id and serial_number must be set. The user_id field must be set.",
          "$ref": "SasPortalDevice"
        }
      }
    },
    "SasPortalListCustomersResponse": {
      "description": "Response for `ListCustomers`.",
      "id": "SasPortalListCustomersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListCustomers that indicates from where listing should continue. If the field is missing or empty, it means there are no more customers.",
          "type": "string"
        },
        "customers": {
          "items": {
            "$ref": "SasPortalCustomer"
          },
          "description": "The list of customers that match the request.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "SasPortalDeviceGrant": {
      "type": "object",
      "id": "SasPortalDeviceGrant",
      "properties": {
        "frequencyRange": {
          "description": "The transmission frequency range.",
          "$ref": "SasPortalFrequencyRange"
        },
        "suspensionReason": {
          "description": "If the grant is suspended, the reason(s) for suspension.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "channelType": {
          "description": "Type of channel used.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "CHANNEL_TYPE_GAA",
            "CHANNEL_TYPE_PAL"
          ]
        },
        "lastHeartbeatTransmitExpireTime": {
          "description": "The transmit expiration time of the last heartbeat.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "GRANT_STATE_UNSPECIFIED",
            "GRANT_STATE_GRANTED",
            "GRANT_STATE_TERMINATED",
            "GRANT_STATE_SUSPENDED",
            "GRANT_STATE_AUTHORIZED",
            "GRANT_STATE_EXPIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "The grant has been granted but the device is not heartbeating on it.",
            "The grant has been terminated by the SAS.",
            "The grant has been suspended by the SAS.",
            "The device is currently transmitting.",
            "The grant has expired."
          ],
          "description": "State of the grant."
        },
        "grantId": {
          "description": "Grant Id.",
          "type": "string"
        },
        "maxEirp": {
          "format": "double",
          "type": "number",
          "description": "Maximum Equivalent Isotropically Radiated Power (EIRP) permitted by the grant. The maximum EIRP is in units of dBm/MHz. The value of `maxEirp` represents the average (RMS) EIRP that would be measured by the procedure defined in FCC part 96.41(e)(3)."
        },
        "moveList": {
          "type": "array",
          "items": {
            "$ref": "SasPortalDpaMoveList"
          },
          "description": "The DPA move lists on which this grant appears."
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The expiration time of the grant."
        }
      },
      "description": "Device grant. It is an authorization provided by the Spectrum Access System to a device to transmit using specified operating parameters after a successful heartbeat by the device."
    },
    "SasPortalProvisionDeploymentResponse": {
      "description": "Response for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment].",
      "id": "SasPortalProvisionDeploymentResponse",
      "properties": {
        "errorMessage": {
          "description": "Optional. Optional error message if the provisioning request is not successful.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SasPortalDevice": {
      "id": "SasPortalDevice",
      "properties": {
        "name": {
          "description": "Output only. The resource path name.",
          "type": "string"
        },
        "fccId": {
          "description": "The FCC identifier of the device. Refer to https://www.fcc.gov/oet/ea/fccid for FccID format. Accept underscores and periods because some test-SAS customers use them.",
          "type": "string"
        },
        "activeConfig": {
          "description": "Output only. Current configuration of the device as registered to the SAS.",
          "$ref": "SasPortalDeviceConfig"
        },
        "deviceMetadata": {
          "description": "Device parameters that can be overridden by both SAS Portal and SAS registration requests.",
          "$ref": "SasPortalDeviceMetadata"
        },
        "grants": {
          "description": "Output only. Grants held by the device.",
          "items": {
            "$ref": "SasPortalDeviceGrant"
          },
          "type": "array"
        },
        "preloadedConfig": {
          "description": "Configuration of the device, as specified via SAS Portal API.",
          "$ref": "SasPortalDeviceConfig"
        },
        "grantRangeAllowlists": {
          "items": {
            "$ref": "SasPortalFrequencyRange"
          },
          "description": "Only ranges that are within the allowlists are available for new grants.",
          "type": "array"
        },
        "state": {
          "description": "Output only. Device state.",
          "enumDescriptions": [
            "Unspecified state.",
            "Device created in the SAS Portal, however, not yet registered with SAS.",
            "Device registered with SAS.",
            "Device de-registered with SAS."
          ],
          "type": "string",
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "RESERVED",
            "REGISTERED",
            "DEREGISTERED"
          ]
        },
        "currentChannels": {
          "items": {
            "$ref": "SasPortalChannelWithScore"
          },
          "deprecated": true,
          "type": "array",
          "readOnly": true,
          "description": "Output only. Current channels with scores."
        },
        "serialNumber": {
          "description": "A serial number assigned to the device by the device manufacturer.",
          "type": "string"
        },
        "displayName": {
          "description": "Device display name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SasPortalGcpProjectDeployment": {
      "id": "SasPortalGcpProjectDeployment",
      "properties": {
        "hasEnabledAnalytics": {
          "description": "Whether SAS analytics has been enabled.",
          "type": "boolean"
        },
        "deployment": {
          "description": "Deployment associated with the GCP project.",
          "$ref": "SasPortalDeployment"
        }
      },
      "description": "Deployment associated with the GCP project. Includes whether SAS analytics has been enabled or not.",
      "type": "object"
    },
    "SasPortalListNodesResponse": {
      "type": "object",
      "id": "SasPortalListNodesResponse",
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "SasPortalNode"
          },
          "description": "The nodes that match the request."
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListNodes that indicates from where listing should continue. If the field is missing or empty, it means there is no more nodes.",
          "type": "string"
        }
      },
      "description": "Response for ListNodes."
    },
    "SasPortalGenerateSecretResponse": {
      "type": "object",
      "id": "SasPortalGenerateSecretResponse",
      "properties": {
        "secret": {
          "description": "The secret generated by the string and used by ValidateInstaller.",
          "type": "string"
        }
      },
      "description": "Response for GenerateSecret."
    },
    "SasPortalSetupSasAnalyticsResponse": {
      "type": "object",
      "id": "SasPortalSetupSasAnalyticsResponse",
      "properties": {},
      "description": "Response returned by the long running operation for the SetupSasAnalytics rpc."
    },
    "SasPortalInstallationParams": {
      "description": "Information about the device installation parameters.",
      "id": "SasPortalInstallationParams",
      "properties": {
        "heightType": {
          "description": "Specifies how the height is measured.",
          "enumDescriptions": [
            "Unspecified height type.",
            "AGL height is measured relative to the ground level.",
            "AMSL height is measured relative to the mean sea level."
          ],
          "type": "string",
          "enum": [
            "HEIGHT_TYPE_UNSPECIFIED",
            "HEIGHT_TYPE_AGL",
            "HEIGHT_TYPE_AMSL"
          ]
        },
        "height": {
          "type": "number",
          "format": "double",
          "description": "Device antenna height in meters. When the `heightType` parameter value is \"AGL\", the antenna height should be given relative to ground level. When the `heightType` parameter value is \"AMSL\", it is given with respect to WGS84 datum."
        },
        "indoorDeployment": {
          "description": "Whether the device antenna is indoor or not. `true`: indoor. `false`: outdoor.",
          "type": "boolean"
        },
        "antennaBeamwidth": {
          "description": "3-dB antenna beamwidth of the antenna in the horizontal-plane in degrees. This parameter is an unsigned integer having a value between 0 and 360 (degrees) inclusive; it is optional for Category A devices and conditional for Category B devices.",
          "type": "integer",
          "format": "int32"
        },
        "verticalAccuracy": {
          "description": "A positive number in meters to indicate accuracy of the device antenna vertical location. This optional parameter should only be present if its value is less than the FCC requirement of 3 meters.",
          "type": "number",
          "format": "double"
        },
        "eirpCapability": {
          "format": "int32",
          "type": "integer",
          "description": "This parameter is the maximum device EIRP in units of dBm/10MHz and is an integer with a value between -127 and +47 (dBm/10 MHz) inclusive. If not included, SAS interprets it as maximum allowable EIRP in units of dBm/10MHz for device category."
        },
        "antennaModel": {
          "description": "If an external antenna is used, the antenna model is optionally provided in this field. The string has a maximum length of 128 octets.",
          "type": "string"
        },
        "antennaGain": {
          "type": "number",
          "format": "double",
          "description": "Peak antenna gain in dBi. This parameter is a double with a value between -127 and +128 (dBi) inclusive. Part of Release 2 to support floating-point value"
        },
        "horizontalAccuracy": {
          "description": "A positive number in meters to indicate accuracy of the device antenna horizontal location. This optional parameter should only be present if its value is less than the FCC requirement of 50 meters.",
          "type": "number",
          "format": "double"
        },
        "antennaDowntilt": {
          "description": "Antenna downtilt in degrees and is an integer with a value between -90 and +90 inclusive; a negative value means the antenna is tilted up (above horizontal). This parameter is optional for Category A devices and conditional for Category B devices.",
          "type": "integer",
          "format": "int32"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "Longitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -180.000000 to +180.000000. Positive values represent longitudes east of the prime meridian; negative values west of the prime meridian."
        },
        "latitude": {
          "description": "Latitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -90.000000 to +90.000000. Positive values represent latitudes north of the equator; negative values south of the equator.",
          "format": "double",
          "type": "number"
        },
        "antennaAzimuth": {
          "format": "int32",
          "type": "integer",
          "description": "Boresight direction of the horizontal plane of the antenna in degrees with respect to true north. The value of this parameter is an integer with a value between 0 and 359 inclusive. A value of 0 degrees means true north; a value of 90 degrees means east. This parameter is optional for Category A devices and conditional for Category B devices."
        },
        "cpeCbsdIndication": {
          "description": "If present, this parameter specifies whether the CBSD is a CPE-CBSD or not.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "SasPortalFrequencyRange": {
      "type": "object",
      "id": "SasPortalFrequencyRange",
      "properties": {
        "lowFrequencyMhz": {
          "type": "number",
          "format": "double",
          "description": "The lowest frequency of the frequency range in MHz."
        },
        "highFrequencyMhz": {
          "type": "number",
          "format": "double",
          "description": "The highest frequency of the frequency range in MHz."
        }
      },
      "description": "Frequency range from `low_frequency` to `high_frequency`."
    },
    "SasPortalMoveDeploymentRequest": {
      "type": "object",
      "id": "SasPortalMoveDeploymentRequest",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the deployment under.",
          "type": "string"
        }
      },
      "description": "Request for MoveDeployment."
    },
    "SasPortalDeploymentAssociation": {
      "type": "object",
      "description": "Association between a gcp project and a SAS user id.",
      "id": "SasPortalDeploymentAssociation",
      "properties": {
        "userId": {
          "description": "User id of the deployment.",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "GCP project id of the associated project.",
          "type": "string"
        }
      }
    },
    "SasPortalDeviceAirInterface": {
      "id": "SasPortalDeviceAirInterface",
      "properties": {
        "radioTechnology": {
          "description": "Conditional. This field specifies the radio access technology that is used for the CBSD.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RADIO_TECHNOLOGY_UNSPECIFIED",
            "E_UTRA",
            "CAMBIUM_NETWORKS",
            "FOUR_G_BBW_SAA_1",
            "NR",
            "DOODLE_CBRS",
            "CW",
            "REDLINE",
            "TARANA_WIRELESS",
            "FAROS"
          ]
        },
        "supportedSpec": {
          "description": "Optional. This field is related to the `radioTechnology` and provides the air interface specification that the CBSD is compliant with at the time of registration.",
          "type": "string"
        }
      },
      "description": "Information about the device's air interface.",
      "type": "object"
    },
    "SasPortalSetPolicyRequest": {
      "id": "SasPortalSetPolicyRequest",
      "properties": {
        "policy": {
          "description": "Required. The policy to be applied to the `resource`.",
          "$ref": "SasPortalPolicy"
        },
        "disableNotification": {
          "description": "Optional. Set the field as `true` to disable the onboarding notification.",
          "type": "boolean"
        },
        "resource": {
          "description": "Required. The resource for which the policy is being specified. This policy replaces any existing policy.",
          "type": "string"
        }
      },
      "description": "Request message for `SetPolicy` method.",
      "type": "object"
    },
    "SasPortalGenerateSecretRequest": {
      "type": "object",
      "description": "Request for GenerateSecret.",
      "id": "SasPortalGenerateSecretRequest",
      "properties": {}
    },
    "SasPortalMoveNodeRequest": {
      "type": "object",
      "id": "SasPortalMoveNodeRequest",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the node under.",
          "type": "string"
        }
      },
      "description": "Request for MoveNode."
    },
    "SasPortalMigrateOrganizationMetadata": {
      "type": "object",
      "description": "Long-running operation metadata message returned by the MigrateOrganization.",
      "id": "SasPortalMigrateOrganizationMetadata",
      "properties": {
        "operationState": {
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_PENDING",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED"
          ],
          "description": "Output only. Current operation state",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Pending (Not started).",
            "In-progress.",
            "Done successfully.",
            "Done with errors."
          ]
        }
      }
    },
    "SasPortalUpdateSignedDeviceRequest": {
      "description": "Request for UpdateSignedDevice.",
      "id": "SasPortalUpdateSignedDeviceRequest",
      "properties": {
        "encodedDevice": {
          "description": "Required. The JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "format": "byte",
          "type": "string"
        },
        "installerId": {
          "description": "Required. Unique installer ID (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SasPortalDeviceConfig": {
      "type": "object",
      "description": "Information about the device configuration.",
      "id": "SasPortalDeviceConfig",
      "properties": {
        "userId": {
          "description": "The identifier of a device user.",
          "type": "string"
        },
        "isSigned": {
          "description": "Output only. Whether the configuration has been signed by a CPI.",
          "type": "boolean"
        },
        "airInterface": {
          "description": "Information about this device's air interface.",
          "$ref": "SasPortalDeviceAirInterface"
        },
        "callSign": {
          "description": "The call sign of the device operator.",
          "type": "string"
        },
        "installationParams": {
          "description": "Installation parameters for the device.",
          "$ref": "SasPortalInstallationParams"
        },
        "state": {
          "type": "string",
          "enum": [
            "DEVICE_CONFIG_STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "description": "State of the configuration.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "model": {
          "description": "Information about this device model.",
          "$ref": "SasPortalDeviceModel"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time the device configuration was edited."
        },
        "measurementCapabilities": {
          "type": "array",
          "description": "Measurement reporting capabilities of the device.",
          "items": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "MEASUREMENT_CAPABILITY_UNSPECIFIED",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITH_GRANT",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITHOUT_GRANT"
            ]
          }
        },
        "category": {
          "description": "FCC category of the device.",
          "enumDescriptions": [
            "Unspecified device category.",
            "Category A.",
            "Category B."
          ],
          "type": "string",
          "enum": [
            "DEVICE_CATEGORY_UNSPECIFIED",
            "DEVICE_CATEGORY_A",
            "DEVICE_CATEGORY_B"
          ]
        }
      }
    },
    "SasPortalSetupSasAnalyticsRequest": {
      "id": "SasPortalSetupSasAnalyticsRequest",
      "properties": {
        "userId": {
          "description": "Optional. User id to setup analytics for, if not provided the user id associated with the project is used. optional",
          "type": "string"
        }
      },
      "description": "Request for the SetupSasAnalytics rpc.",
      "type": "object"
    },
    "SasPortalListDeploymentsResponse": {
      "type": "object",
      "description": "Response for ListDeployments.",
      "id": "SasPortalListDeploymentsResponse",
      "properties": {
        "deployments": {
          "items": {
            "$ref": "SasPortalDeployment"
          },
          "description": "The deployments that match the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDeployments that indicates from where listing should continue. If the field is missing or empty, it means there are no more deployments.",
          "type": "string"
        }
      }
    },
    "SasPortalEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "SasPortalEmpty",
      "properties": {},
      "type": "object"
    },
    "SasPortalTestPermissionsResponse": {
      "type": "object",
      "id": "SasPortalTestPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A set of permissions that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestPermissions` method."
    },
    "SasPortalDeviceModel": {
      "type": "object",
      "description": "Information about the model of the device.",
      "id": "SasPortalDeviceModel",
      "properties": {
        "softwareVersion": {
          "description": "The software version of the device.",
          "type": "string"
        },
        "firmwareVersion": {
          "description": "The firmware version of the device.",
          "type": "string"
        },
        "name": {
          "description": "The name of the device model.",
          "type": "string"
        },
        "hardwareVersion": {
          "description": "The hardware version of the device.",
          "type": "string"
        },
        "vendor": {
          "description": "The name of the device vendor.",
          "type": "string"
        }
      }
    },
    "SasPortalNode": {
      "description": "The Node.",
      "id": "SasPortalNode",
      "properties": {
        "name": {
          "description": "Output only. Resource name.",
          "type": "string"
        },
        "sasUserIds": {
          "description": "User ids used by the devices belonging to this node.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "description": "The node's display name.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "resources": {
    "nodes": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the node.",
              "location": "path",
              "pattern": "^nodes/[^/]+$"
            }
          },
          "path": "v1alpha1/{+name}",
          "response": {
            "$ref": "SasPortalNode"
          },
          "httpMethod": "GET",
          "id": "prod_tt_sasportal.nodes.get",
          "flatPath": "v1alpha1/nodes/{nodesId}",
          "description": "Returns a requested node."
        }
      },
      "resources": {
        "deployments": {
          "methods": {
            "move": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "description": "Required. The name of the deployment to move.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "path": "v1alpha1/{+name}:move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "httpMethod": "POST",
              "description": "Moves a deployment under another node or customer.",
              "id": "prod_tt_sasportal.nodes.deployments.move",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}:move"
            },
            "delete": {
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "path": "v1alpha1/{+name}",
              "id": "prod_tt_sasportal.nodes.deployments.delete",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "description": "Deletes a deployment.",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "description": "Required. The name of the deployment.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "id": "prod_tt_sasportal.nodes.deployments.patch",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "description": "Updates an existing deployment.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "location": "path",
                  "description": "Output only. Resource name."
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "id": "prod_tt_sasportal.nodes.deployments.get",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "description": "Returns a requested deployment.",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the deployment."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "list": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^nodes/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of deployments to return in the response."
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "prod_tt_sasportal.nodes.deployments.list",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments",
              "description": "Lists deployments.",
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              },
              "path": "v1alpha1/{+parent}/deployments"
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "create": {
                  "path": "v1alpha1/{+parent}/devices",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "httpMethod": "POST",
                  "id": "prod_tt_sasportal.nodes.deployments.devices.create",
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices",
                  "description": "Creates a device under a node or customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the parent resource.",
                      "location": "path",
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "SasPortalDevice"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "path": "v1alpha1/{+parent}/devices",
                  "description": "Lists devices under a node or customer.",
                  "id": "prod_tt_sasportal.nodes.deployments.devices.list",
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the parent resource."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "createSigned": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "prod_tt_sasportal.nodes.deployments.devices.createSigned",
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices:createSigned",
                  "description": "Creates a signed device under a node or customer.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "path": "v1alpha1/{+parent}/devices:createSigned"
                }
              }
            }
          }
        },
        "devices": {
          "methods": {
            "move": {
              "id": "prod_tt_sasportal.nodes.devices.move",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:move",
              "description": "Moves a device under another node or customer.",
              "httpMethod": "POST",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "path": "v1alpha1/{+name}:move",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the device to move.",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "delete": {
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "path": "v1alpha1/{+name}",
              "description": "Deletes a device.",
              "id": "prod_tt_sasportal.nodes.devices.delete",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "description": "Updates a device.",
              "id": "prod_tt_sasportal.nodes.devices.patch",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Output only. The resource path name.",
                  "location": "path",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Fields to be updated."
                }
              },
              "request": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the parent resource.",
                  "location": "path",
                  "pattern": "^nodes/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "path": "v1alpha1/{+parent}/devices",
              "description": "Lists devices under a node or customer.",
              "id": "prod_tt_sasportal.nodes.devices.list",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices",
              "httpMethod": "GET"
            },
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^nodes/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the parent resource.",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Creates a device under a node or customer.",
              "id": "prod_tt_sasportal.nodes.devices.create",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices",
              "httpMethod": "POST",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+parent}/devices"
            },
            "get": {
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "GET",
              "description": "Gets details about a device.",
              "id": "prod_tt_sasportal.nodes.devices.get",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the device.",
                  "type": "string",
                  "required": true
                }
              }
            },
            "signDevice": {
              "id": "prod_tt_sasportal.nodes.devices.signDevice",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:signDevice",
              "description": "Signs a device.",
              "httpMethod": "POST",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "path": "v1alpha1/{+name}:signDevice",
              "parameters": {
                "name": {
                  "description": "Output only. The resource path name.",
                  "location": "path",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "createSigned": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+parent}/devices:createSigned",
              "id": "prod_tt_sasportal.nodes.devices.createSigned",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices:createSigned",
              "description": "Creates a signed device under a node or customer.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the parent resource.",
                  "location": "path",
                  "pattern": "^nodes/[^/]+$"
                }
              },
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "updateSigned": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+name}:updateSigned",
              "description": "Updates a signed device.",
              "id": "prod_tt_sasportal.nodes.devices.updateSigned",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:updateSigned",
              "httpMethod": "PATCH"
            }
          }
        },
        "nodes": {
          "methods": {
            "list": {
              "path": "v1alpha1/{+parent}/nodes",
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "httpMethod": "GET",
              "description": "Lists nodes.",
              "id": "prod_tt_sasportal.nodes.nodes.list",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "pattern": "^nodes/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of nodes to return in the response.",
                  "location": "query"
                }
              }
            },
            "create": {
              "response": {
                "$ref": "SasPortalNode"
              },
              "path": "v1alpha1/{+parent}/nodes",
              "description": "Creates a new node.",
              "id": "prod_tt_sasportal.nodes.nodes.create",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^nodes/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent resource name where the node is to be created."
                }
              },
              "request": {
                "$ref": "SasPortalNode"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "move": {
              "response": {
                "$ref": "SasPortalOperation"
              },
              "path": "v1alpha1/{+name}:move",
              "description": "Moves a node under another node or customer.",
              "id": "prod_tt_sasportal.nodes.nodes.move",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}:move",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "description": "Required. The name of the node to move.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the node.",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                }
              },
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "httpMethod": "DELETE",
              "description": "Deletes a node.",
              "id": "prod_tt_sasportal.nodes.nodes.delete",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}"
            },
            "patch": {
              "id": "prod_tt_sasportal.nodes.nodes.patch",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "description": "Updates an existing node.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "SasPortalNode"
              },
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "description": "Output only. Resource name.",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "SasPortalNode"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the node.",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalNode"
              },
              "path": "v1alpha1/{+name}",
              "description": "Returns a requested node.",
              "id": "prod_tt_sasportal.nodes.nodes.get",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "list": {
                  "path": "v1alpha1/{+parent}/devices",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "httpMethod": "GET",
                  "id": "prod_tt_sasportal.nodes.nodes.devices.list",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices",
                  "description": "Lists devices under a node or customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "createSigned": {
                  "parameters": {
                    "parent": {
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "prod_tt_sasportal.nodes.nodes.devices.createSigned",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices:createSigned",
                  "description": "Creates a signed device under a node or customer.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "path": "v1alpha1/{+parent}/devices:createSigned"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "httpMethod": "POST",
                  "id": "prod_tt_sasportal.nodes.nodes.devices.create",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices",
                  "description": "Creates a device under a node or customer.",
                  "path": "v1alpha1/{+parent}/devices",
                  "response": {
                    "$ref": "SasPortalDevice"
                  }
                }
              }
            },
            "nodes": {
              "methods": {
                "create": {
                  "path": "v1alpha1/{+parent}/nodes",
                  "response": {
                    "$ref": "SasPortalNode"
                  },
                  "httpMethod": "POST",
                  "id": "prod_tt_sasportal.nodes.nodes.nodes.create",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/nodes",
                  "description": "Creates a new node.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "description": "Required. The parent resource name where the node is to be created.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "SasPortalNode"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered."
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name, for example, \"nodes/1\"."
                    },
                    "pageSize": {
                      "description": "The maximum number of nodes to return in the response.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  },
                  "path": "v1alpha1/{+parent}/nodes",
                  "description": "Lists nodes.",
                  "id": "prod_tt_sasportal.nodes.nodes.nodes.list",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/nodes",
                  "httpMethod": "GET"
                }
              }
            },
            "deployments": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "description": "Creates a new deployment.",
                  "id": "prod_tt_sasportal.nodes.nodes.deployments.create",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/deployments",
                  "path": "v1alpha1/{+parent}/deployments",
                  "response": {
                    "$ref": "SasPortalDeployment"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name where the deployment is to be created.",
                      "location": "path",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "SasPortalDeployment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                },
                "list": {
                  "path": "v1alpha1/{+parent}/deployments",
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "prod_tt_sasportal.nodes.nodes.deployments.list",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/deployments",
                  "description": "Lists deployments.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                      "location": "path",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                    },
                    "pageSize": {
                      "description": "The maximum number of deployments to return in the response.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "installer": {
      "methods": {
        "generateSecret": {
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "SasPortalGenerateSecretRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "httpMethod": "POST",
          "description": "Generates a secret to be used with the ValidateInstaller.",
          "id": "prod_tt_sasportal.installer.generateSecret",
          "flatPath": "v1alpha1/installer:generateSecret",
          "path": "v1alpha1/installer:generateSecret",
          "response": {
            "$ref": "SasPortalGenerateSecretResponse"
          }
        },
        "validate": {
          "parameters": {},
          "request": {
            "$ref": "SasPortalValidateInstallerRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "prod_tt_sasportal.installer.validate",
          "flatPath": "v1alpha1/installer:validate",
          "description": "Validates the identity of a Certified Professional Installer (CPI).",
          "httpMethod": "POST",
          "response": {
            "$ref": "SasPortalValidateInstallerResponse"
          },
          "path": "v1alpha1/installer:validate"
        }
      }
    },
    "deployments": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the deployment.",
              "location": "path",
              "pattern": "^deployments/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SasPortalDeployment"
          },
          "path": "v1alpha1/{+name}",
          "description": "Returns a requested deployment.",
          "id": "prod_tt_sasportal.deployments.get",
          "flatPath": "v1alpha1/deployments/{deploymentsId}",
          "httpMethod": "GET"
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "updateSigned": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the device to update."
                }
              },
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+name}:updateSigned",
              "id": "prod_tt_sasportal.deployments.devices.updateSigned",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:updateSigned",
              "description": "Updates a signed device.",
              "httpMethod": "PATCH"
            },
            "move": {
              "path": "v1alpha1/{+name}:move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "httpMethod": "POST",
              "description": "Moves a device under another node or customer.",
              "id": "prod_tt_sasportal.deployments.devices.move",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the device to move.",
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$"
                }
              },
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the device."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "prod_tt_sasportal.deployments.devices.get",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "description": "Gets details about a device.",
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+name}"
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "prod_tt_sasportal.deployments.devices.delete",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "description": "Deletes a device.",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the device.",
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "patch": {
              "id": "prod_tt_sasportal.deployments.devices.patch",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "description": "Updates a device.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Output only. The resource path name."
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "signDevice": {
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "path": "v1alpha1/{+name}:signDevice",
              "id": "prod_tt_sasportal.deployments.devices.signDevice",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:signDevice",
              "description": "Signs a device.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "description": "Output only. The resource path name.",
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "policies": {
      "methods": {
        "get": {
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "id": "prod_tt_sasportal.policies.get",
          "flatPath": "v1alpha1/policies:get",
          "httpMethod": "POST",
          "response": {
            "$ref": "SasPortalPolicy"
          },
          "path": "v1alpha1/policies:get",
          "parameters": {},
          "request": {
            "$ref": "SasPortalGetPolicyRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ]
        },
        "set": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameters": {},
          "request": {
            "$ref": "SasPortalSetPolicyRequest"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "SasPortalPolicy"
          },
          "path": "v1alpha1/policies:set",
          "id": "prod_tt_sasportal.policies.set",
          "flatPath": "v1alpha1/policies:set",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "httpMethod": "POST"
        },
        "test": {
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "SasPortalTestPermissionsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "httpMethod": "POST",
          "id": "prod_tt_sasportal.policies.test",
          "flatPath": "v1alpha1/policies:test",
          "description": "Returns permissions that a caller has on the specified resource.",
          "path": "v1alpha1/policies:test",
          "response": {
            "$ref": "SasPortalTestPermissionsResponse"
          }
        }
      }
    },
    "customers": {
      "methods": {
        "patch": {
          "id": "prod_tt_sasportal.customers.patch",
          "flatPath": "v1alpha1/customers/{customersId}",
          "description": "Updates an existing customer.",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "path": "v1alpha1/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Output only. Resource name of the customer.",
              "location": "path",
              "pattern": "^customers/[^/]+$"
            },
            "updateMask": {
              "description": "Fields to be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "request": {
            "$ref": "SasPortalCustomer"
          },
[...]
