{
  "ownerDomain": "google.com",
  "protocol": "rest",
  "description": "",
  "name": "prod_tt_sasportal",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/spectrum-access-system/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sasportal": {
          "description": "Read, create, update, and delete your SAS Portal data."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "SasPortalCustomer": {
      "id": "SasPortalCustomer",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the customer.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Name of the organization that the customer entity represents.",
          "type": "string"
        },
        "sasUserIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "User IDs used by the devices belonging to this customer."
        }
      },
      "description": "Entity representing a SAS customer."
    },
    "SasPortalDpaMoveList": {
      "description": "An entry in a DPA's move list.",
      "id": "SasPortalDpaMoveList",
      "type": "object",
      "properties": {
        "dpaId": {
          "description": "The ID of the DPA.",
          "type": "string"
        },
        "frequencyRange": {
          "description": "The frequency range that the move list affects.",
          "$ref": "SasPortalFrequencyRange"
        }
      }
    },
    "SasPortalGenerateSecretResponse": {
      "description": "Response for GenerateSecret.",
      "id": "SasPortalGenerateSecretResponse",
      "type": "object",
      "properties": {
        "secret": {
          "description": "The secret generated by the string and used by ValidateInstaller.",
          "type": "string"
        }
      }
    },
    "SasPortalUpdateSignedDeviceRequest": {
      "description": "Request for UpdateSignedDevice.",
      "id": "SasPortalUpdateSignedDeviceRequest",
      "type": "object",
      "properties": {
        "encodedDevice": {
          "description": "Required. The JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "format": "byte",
          "type": "string"
        },
        "installerId": {
          "description": "Required. Unique installer ID (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      }
    },
    "SasPortalDeviceAirInterface": {
      "properties": {
        "supportedSpec": {
          "description": "Optional. This field is related to the `radioTechnology` and provides the air interface specification that the CBSD is compliant with at the time of registration.",
          "type": "string"
        },
        "radioTechnology": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RADIO_TECHNOLOGY_UNSPECIFIED",
            "E_UTRA",
            "CAMBIUM_NETWORKS",
            "FOUR_G_BBW_SAA_1",
            "NR",
            "DOODLE_CBRS",
            "CW",
            "REDLINE",
            "TARANA_WIRELESS",
            "FAROS"
          ],
          "description": "Conditional. This field specifies the radio access technology that is used for the CBSD."
        }
      },
      "id": "SasPortalDeviceAirInterface",
      "type": "object",
      "description": "Information about the device's air interface."
    },
    "SasPortalDeviceGrant": {
      "id": "SasPortalDeviceGrant",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "GRANT_STATE_UNSPECIFIED",
            "GRANT_STATE_GRANTED",
            "GRANT_STATE_TERMINATED",
            "GRANT_STATE_SUSPENDED",
            "GRANT_STATE_AUTHORIZED",
            "GRANT_STATE_EXPIRED"
          ],
          "enumDescriptions": [
            "",
            "The grant has been granted but the device is not heartbeating on it.",
            "The grant has been terminated by the SAS.",
            "The grant has been suspended by the SAS.",
            "The device is currently transmitting.",
            "The grant has expired."
          ],
          "description": "State of the grant."
        },
        "suspensionReason": {
          "description": "If the grant is suspended, the reason(s) for suspension.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "frequencyRange": {
          "description": "The transmission frequency range.",
          "$ref": "SasPortalFrequencyRange"
        },
        "lastHeartbeatTransmitExpireTime": {
          "type": "string",
          "description": "The transmit expiration time of the last heartbeat.",
          "format": "google-datetime"
        },
        "moveList": {
          "items": {
            "$ref": "SasPortalDpaMoveList"
          },
          "type": "array",
          "description": "The DPA move lists on which this grant appears."
        },
        "grantId": {
          "description": "Grant Id.",
          "type": "string"
        },
        "maxEirp": {
          "format": "double",
          "description": "Maximum Equivalent Isotropically Radiated Power (EIRP) permitted by the grant. The maximum EIRP is in units of dBm/MHz. The value of `maxEirp` represents the average (RMS) EIRP that would be measured by the procedure defined in FCC part 96.41(e)(3).",
          "type": "number"
        },
        "channelType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "CHANNEL_TYPE_GAA",
            "CHANNEL_TYPE_PAL"
          ],
          "description": "Type of channel used."
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "The expiration time of the grant.",
          "type": "string"
        }
      },
      "description": "Device grant. It is an authorization provided by the Spectrum Access System to a device to transmit using specified operating parameters after a successful heartbeat by the device."
    },
    "SasPortalTestPermissionsResponse": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A set of permissions that the caller is allowed."
        }
      },
      "id": "SasPortalTestPermissionsResponse",
      "type": "object",
      "description": "Response message for `TestPermissions` method."
    },
    "SasPortalMigrateOrganizationMetadata": {
      "properties": {
        "operationState": {
          "readOnly": true,
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_PENDING",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED"
          ],
          "description": "Output only. Current operation state",
          "enumDescriptions": [
            "Unspecified.",
            "Pending (Not started).",
            "In-progress.",
            "Done successfully.",
            "Done with errors."
          ],
          "type": "string"
        }
      },
      "id": "SasPortalMigrateOrganizationMetadata",
      "type": "object",
      "description": "Long-running operation metadata message returned by the MigrateOrganization."
    },
    "SasPortalInstallationParams": {
      "id": "SasPortalInstallationParams",
      "type": "object",
      "properties": {
        "antennaDowntilt": {
          "type": "integer",
          "description": "Antenna downtilt in degrees and is an integer with a value between -90 and +90 inclusive; a negative value means the antenna is tilted up (above horizontal). This parameter is optional for Category A devices and conditional for Category B devices.",
          "format": "int32"
        },
        "antennaBeamwidth": {
          "description": "3-dB antenna beamwidth of the antenna in the horizontal-plane in degrees. This parameter is an unsigned integer having a value between 0 and 360 (degrees) inclusive; it is optional for Category A devices and conditional for Category B devices.",
          "format": "int32",
          "type": "integer"
        },
        "indoorDeployment": {
          "description": "Whether the device antenna is indoor or not. `true`: indoor. `false`: outdoor.",
          "type": "boolean"
        },
        "antennaAzimuth": {
          "description": "Boresight direction of the horizontal plane of the antenna in degrees with respect to true north. The value of this parameter is an integer with a value between 0 and 359 inclusive. A value of 0 degrees means true north; a value of 90 degrees means east. This parameter is optional for Category A devices and conditional for Category B devices.",
          "format": "int32",
          "type": "integer"
        },
        "eirpCapability": {
          "description": "This parameter is the maximum device EIRP in units of dBm/10MHz and is an integer with a value between -127 and +47 (dBm/10 MHz) inclusive. If not included, SAS interprets it as maximum allowable EIRP in units of dBm/10MHz for device category.",
          "format": "int32",
          "type": "integer"
        },
        "antennaModel": {
          "description": "If an external antenna is used, the antenna model is optionally provided in this field. The string has a maximum length of 128 octets.",
          "type": "string"
        },
        "antennaGain": {
          "type": "number",
          "format": "double",
          "description": "Peak antenna gain in dBi. This parameter is a double with a value between -127 and +128 (dBi) inclusive. Part of Release 2 to support floating-point value"
        },
        "height": {
          "type": "number",
          "format": "double",
          "description": "Device antenna height in meters. When the `heightType` parameter value is \"AGL\", the antenna height should be given relative to ground level. When the `heightType` parameter value is \"AMSL\", it is given with respect to WGS84 datum."
        },
        "verticalAccuracy": {
          "format": "double",
          "description": "A positive number in meters to indicate accuracy of the device antenna vertical location. This optional parameter should only be present if its value is less than the FCC requirement of 3 meters.",
          "type": "number"
        },
        "cpeCbsdIndication": {
          "description": "If present, this parameter specifies whether the CBSD is a CPE-CBSD or not.",
          "type": "boolean"
        },
        "latitude": {
          "description": "Latitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -90.000000 to +90.000000. Positive values represent latitudes north of the equator; negative values south of the equator.",
          "format": "double",
          "type": "number"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "Longitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -180.000000 to +180.000000. Positive values represent longitudes east of the prime meridian; negative values west of the prime meridian."
        },
        "horizontalAccuracy": {
          "format": "double",
          "description": "A positive number in meters to indicate accuracy of the device antenna horizontal location. This optional parameter should only be present if its value is less than the FCC requirement of 50 meters.",
          "type": "number"
        },
        "heightType": {
          "description": "Specifies how the height is measured.",
          "type": "string",
          "enum": [
            "HEIGHT_TYPE_UNSPECIFIED",
            "HEIGHT_TYPE_AGL",
            "HEIGHT_TYPE_AMSL"
          ],
          "enumDescriptions": [
            "Unspecified height type.",
            "AGL height is measured relative to the ground level.",
            "AMSL height is measured relative to the mean sea level."
          ]
        }
      },
      "description": "Information about the device installation parameters."
    },
    "SasPortalTestPermissionsRequest": {
      "properties": {
        "resource": {
          "description": "Required. The resource for which the permissions are being requested.",
          "type": "string"
        },
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`."
        }
      },
      "id": "SasPortalTestPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestPermissions` method."
    },
    "SasPortalDevice": {
      "properties": {
        "name": {
          "description": "Output only. The resource path name.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "RESERVED",
            "REGISTERED",
            "DEREGISTERED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Device created in the SAS Portal, however, not yet registered with SAS.",
            "Device registered with SAS.",
            "Device de-registered with SAS."
          ],
          "description": "Output only. Device state."
        },
        "deviceMetadata": {
          "description": "Device parameters that can be overridden by both SAS Portal and SAS registration requests.",
          "$ref": "SasPortalDeviceMetadata"
        },
        "serialNumber": {
          "description": "A serial number assigned to the device by the device manufacturer.",
          "type": "string"
        },
        "preloadedConfig": {
          "description": "Configuration of the device, as specified via SAS Portal API.",
          "$ref": "SasPortalDeviceConfig"
        },
        "activeConfig": {
          "description": "Output only. Current configuration of the device as registered to the SAS.",
          "$ref": "SasPortalDeviceConfig"
        },
        "fccId": {
          "description": "The FCC identifier of the device. Refer to https://www.fcc.gov/oet/ea/fccid for FccID format. Accept underscores and periods because some test-SAS customers use them.",
          "type": "string"
        },
        "grants": {
          "items": {
            "$ref": "SasPortalDeviceGrant"
          },
          "type": "array",
          "description": "Output only. Grants held by the device."
        },
        "currentChannels": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "SasPortalChannelWithScore"
          },
          "description": "Output only. Current channels with scores.",
          "readOnly": true
        },
        "grantRangeAllowlists": {
          "items": {
            "$ref": "SasPortalFrequencyRange"
          },
          "type": "array",
          "description": "Only ranges that are within the allowlists are available for new grants."
        },
        "displayName": {
          "description": "Device display name.",
          "type": "string"
        }
      },
      "id": "SasPortalDevice",
      "type": "object"
    },
    "SasPortalValidateInstallerResponse": {
      "description": "Response for ValidateInstaller.",
      "properties": {},
      "id": "SasPortalValidateInstallerResponse",
      "type": "object"
    },
    "SasPortalListCustomersResponse": {
      "description": "Response for `ListCustomers`.",
      "id": "SasPortalListCustomersResponse",
      "type": "object",
      "properties": {
        "customers": {
          "items": {
            "$ref": "SasPortalCustomer"
          },
          "type": "array",
          "description": "The list of customers that match the request."
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListCustomers that indicates from where listing should continue. If the field is missing or empty, it means there are no more customers.",
          "type": "string"
        }
      }
    },
    "SasPortalMigrateOrganizationRequest": {
      "description": "Request for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization]. GCP Project, Organization Info, and caller's GAIA ID should be retrieved from the RPC handler, and used to check authorization on SAS Portal organization and to create GCP Projects.",
      "id": "SasPortalMigrateOrganizationRequest",
      "type": "object",
      "properties": {
        "organizationId": {
          "format": "int64",
          "description": "Required. Id of the SAS organization to be migrated.",
          "type": "string"
        }
      }
    },
    "SasPortalGetPolicyRequest": {
      "properties": {
        "resource": {
          "description": "Required. The resource for which the policy is being requested.",
          "type": "string"
        }
      },
      "id": "SasPortalGetPolicyRequest",
      "type": "object",
      "description": "Request message for `GetPolicy` method."
    },
    "SasPortalProvisionDeploymentRequest": {
      "description": "Request for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment]. GCP Project, Organization Info, and caller’s GAIA ID should be retrieved from the RPC handler, and used as inputs to create a new SAS organization (if not exists) and a new SAS deployment.",
      "id": "SasPortalProvisionDeploymentRequest",
      "type": "object",
      "properties": {
        "newOrganizationDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Organization needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        },
        "newDeploymentDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Deployment needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        },
        "organizationId": {
          "type": "string",
          "format": "int64",
          "description": "Optional. If this field is set then a new deployment will be created under the organization specified by this id."
        }
      }
    },
    "SasPortalChannelWithScore": {
      "id": "SasPortalChannelWithScore",
      "type": "object",
      "properties": {
        "frequencyRange": {
          "description": "The frequency range of the channel.",
          "$ref": "SasPortalFrequencyRange"
        },
        "score": {
          "description": "The channel score, normalized to be in the range [0,100].",
          "format": "double",
          "type": "number"
        }
      },
      "description": "The channel with score."
    },
    "SasPortalListDeploymentsResponse": {
      "id": "SasPortalListDeploymentsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDeployments that indicates from where listing should continue. If the field is missing or empty, it means there are no more deployments.",
          "type": "string"
        },
        "deployments": {
          "items": {
            "$ref": "SasPortalDeployment"
          },
          "type": "array",
          "description": "The deployments that match the request."
        }
      },
      "description": "Response for ListDeployments."
    },
    "SasPortalSetupSasAnalyticsMetadata": {
      "properties": {},
      "id": "SasPortalSetupSasAnalyticsMetadata",
      "type": "object",
      "description": "Metadata returned by the long running operation for the SetupSasAnalytics rpc."
    },
    "SasPortalMoveNodeRequest": {
      "description": "Request for MoveNode.",
      "id": "SasPortalMoveNodeRequest",
      "type": "object",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the node under.",
          "type": "string"
        }
      }
    },
    "SasPortalPolicy": {
      "description": "Defines an access control policy to the resources.",
      "properties": {
        "assignments": {
          "items": {
            "$ref": "SasPortalAssignment"
          },
          "type": "array",
          "description": "List of assignments"
        },
        "etag": {
          "format": "byte",
          "description": "The etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to GetPolicy, and systems are expected to put that etag in the request to SetPolicy to ensure that their change will be applied to the same version of the policy. If no etag is provided in the call to GetPolicy, then the existing policy is overwritten blindly.",
          "type": "string"
        }
      },
      "id": "SasPortalPolicy",
      "type": "object"
    },
    "SasPortalStatus": {
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "id": "SasPortalStatus",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "SasPortalMoveDeviceRequest": {
      "description": "Request for MoveDevice.",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the device under.",
          "type": "string"
        }
      },
      "id": "SasPortalMoveDeviceRequest",
      "type": "object"
    },
    "SasPortalListLegacyOrganizationsResponse": {
      "id": "SasPortalListLegacyOrganizationsResponse",
      "type": "object",
      "properties": {
        "organizations": {
          "description": "Optional. Legacy SAS organizations.",
          "items": {
            "$ref": "SasPortalOrganization"
          },
          "type": "array"
        }
      },
      "description": "Response for [ListLegacyOrganizations]. [spectrum.sas.portal.v1alpha1.Provisioning.ListLegacyOrganizations]."
    },
    "SasPortalDeviceConfig": {
      "properties": {
        "measurementCapabilities": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "MEASUREMENT_CAPABILITY_UNSPECIFIED",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITH_GRANT",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITHOUT_GRANT"
            ]
          },
          "description": "Measurement reporting capabilities of the device."
        },
        "callSign": {
          "description": "The call sign of the device operator.",
          "type": "string"
        },
        "airInterface": {
          "description": "Information about this device's air interface.",
          "$ref": "SasPortalDeviceAirInterface"
        },
        "userId": {
          "description": "The identifier of a device user.",
          "type": "string"
        },
        "isSigned": {
          "description": "Output only. Whether the configuration has been signed by a CPI.",
          "type": "boolean"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last time the device configuration was edited.",
          "type": "string"
        },
        "category": {
          "description": "FCC category of the device.",
          "type": "string",
          "enum": [
            "DEVICE_CATEGORY_UNSPECIFIED",
            "DEVICE_CATEGORY_A",
            "DEVICE_CATEGORY_B"
          ],
          "enumDescriptions": [
            "Unspecified device category.",
            "Category A.",
            "Category B."
          ]
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DEVICE_CONFIG_STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "description": "State of the configuration."
        },
        "installationParams": {
          "description": "Installation parameters for the device.",
          "$ref": "SasPortalInstallationParams"
        },
        "model": {
          "description": "Information about this device model.",
          "$ref": "SasPortalDeviceModel"
        }
      },
      "id": "SasPortalDeviceConfig",
      "type": "object",
      "description": "Information about the device configuration."
    },
    "SasPortalSetPolicyRequest": {
      "description": "Request message for `SetPolicy` method.",
      "id": "SasPortalSetPolicyRequest",
      "type": "object",
      "properties": {
        "disableNotification": {
          "description": "Optional. Set the field as `true` to disable the onboarding notification.",
          "type": "boolean"
        },
        "resource": {
          "description": "Required. The resource for which the policy is being specified. This policy replaces any existing policy.",
          "type": "string"
        },
        "policy": {
          "description": "Required. The policy to be applied to the `resource`.",
          "$ref": "SasPortalPolicy"
        }
      }
    },
    "SasPortalAssignment": {
      "properties": {
        "members": {
          "description": "The identities the role is assigned to. It can have the following values: * `{user_email}`: An email address that represents a specific Google account. For example: `alice@gmail.com`. * `{group_email}`: An email address that represents a Google group. For example, `viewers@gmail.com`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Required. Role that is assigned to `members`.",
          "type": "string"
        }
      },
      "id": "SasPortalAssignment",
      "type": "object",
      "description": "Associates `members` with a `role`."
    },
    "SasPortalOperation": {
      "id": "SasPortalOperation",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "SasPortalStatus"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "SasPortalListGcpProjectDeploymentsResponse": {
      "id": "SasPortalListGcpProjectDeploymentsResponse",
      "type": "object",
      "properties": {
        "deployments": {
          "description": "Optional. Deployments associated with the GCP project",
          "items": {
            "$ref": "SasPortalGcpProjectDeployment"
          },
          "type": "array"
        }
      },
      "description": "Response for [ListGcpProjectDeployments]."
    },
    "SasPortalListNodesResponse": {
      "properties": {
        "nodes": {
          "items": {
            "$ref": "SasPortalNode"
          },
          "type": "array",
          "description": "The nodes that match the request."
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListNodes that indicates from where listing should continue. If the field is missing or empty, it means there is no more nodes.",
          "type": "string"
        }
      },
      "id": "SasPortalListNodesResponse",
      "type": "object",
      "description": "Response for ListNodes."
    },
    "SasPortalDeployment": {
      "description": "The Deployment.",
      "id": "SasPortalDeployment",
      "type": "object",
      "properties": {
        "frns": {
          "description": "Output only. The FCC Registration Numbers (FRNs) copied from its direct parent.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "displayName": {
          "description": "The deployment's display name.",
          "type": "string"
        },
        "sasUserIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "User ID used by the devices belonging to this deployment. Each deployment should be associated with one unique user ID."
        },
        "name": {
          "description": "Output only. Resource name.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SasPortalNrqzValidation": {
      "properties": {
        "caseId": {
          "description": "Validation case ID.",
          "type": "string"
        },
        "state": {
          "description": "State of the NRQZ validation info.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Draft state.",
            "Final state."
          ]
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "Device latitude that's associated with the validation."
        },
        "cpiId": {
          "description": "CPI who signed the validation.",
          "type": "string"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "Device longitude that's associated with the validation."
        }
      },
      "id": "SasPortalNrqzValidation",
      "type": "object",
      "description": "Information about National Radio Quiet Zone validation."
    },
    "SasPortalSetupSasAnalyticsRequest": {
      "description": "Request for the SetupSasAnalytics rpc.",
      "properties": {
        "userId": {
          "description": "Optional. User id to setup analytics for, if not provided the user id associated with the project is used. optional",
          "type": "string"
        }
      },
      "id": "SasPortalSetupSasAnalyticsRequest",
      "type": "object"
    },
    "SasPortalValidateInstallerRequest": {
      "description": "Request for ValidateInstaller.",
      "properties": {
        "secret": {
          "description": "Required. Secret returned by the GenerateSecret.",
          "type": "string"
        },
        "encodedSecret": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must include a \"secret\" claim whose value is the secret.",
          "type": "string"
        },
        "installerId": {
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      },
      "id": "SasPortalValidateInstallerRequest",
      "type": "object"
    },
    "SasPortalSignDeviceRequest": {
      "id": "SasPortalSignDeviceRequest",
      "type": "object",
      "properties": {
        "device": {
          "description": "Required. The device to sign. The device fields name, fcc_id and serial_number must be set. The user_id field must be set.",
          "$ref": "SasPortalDevice"
        }
      },
      "description": "Request for SignDevice."
    },
    "SasPortalDeviceMetadata": {
      "properties": {
        "interferenceCoordinationGroup": {
          "description": "Interference Coordination Group (ICG). A group of CBSDs that manage their own interference with the group. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "antennaModel": {
          "description": "If populated, the Antenna Model Pattern to use. Format is: `RecordCreatorId:PatternId`",
          "type": "string"
        },
        "nrqzValidation": {
          "readOnly": true,
          "$ref": "SasPortalNrqzValidation",
          "description": "Output only. National Radio Quiet Zone validation info."
        },
        "nrqzValidated": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Set to `true` if a CPI has validated that they have coordinated with the National Quiet Zone office.",
          "deprecated": true
        },
        "commonChannelGroup": {
          "description": "Common Channel Group (CCG). A group of CBSDs in the same ICG requesting a common primary channel assignment. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        }
      },
      "id": "SasPortalDeviceMetadata",
      "type": "object",
      "description": "Device data overridable by both SAS Portal and registration requests."
    },
    "SasPortalCreateSignedDeviceRequest": {
      "properties": {
        "encodedDevice": {
          "type": "string",
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "format": "byte"
        },
        "installerId": {
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      },
      "id": "SasPortalCreateSignedDeviceRequest",
      "type": "object",
      "description": "Request for CreateSignedDevice."
    },
    "SasPortalMigrateOrganizationResponse": {
      "properties": {
        "deploymentAssociation": {
          "type": "array",
          "items": {
            "$ref": "SasPortalDeploymentAssociation"
          },
          "description": "Optional. A list of deployment association that were created for the migration, or current associations if they already exist."
        }
      },
      "id": "SasPortalMigrateOrganizationResponse",
      "type": "object",
      "description": "Response for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization]."
    },
    "SasPortalGenerateSecretRequest": {
      "id": "SasPortalGenerateSecretRequest",
      "type": "object",
      "properties": {},
      "description": "Request for GenerateSecret."
    },
    "SasPortalGcpProjectDeployment": {
      "description": "Deployment associated with the GCP project. Includes whether SAS analytics has been enabled or not.",
      "properties": {
        "hasEnabledAnalytics": {
          "description": "Whether SAS analytics has been enabled.",
          "type": "boolean"
        },
        "deployment": {
          "description": "Deployment associated with the GCP project.",
          "$ref": "SasPortalDeployment"
        }
      },
      "id": "SasPortalGcpProjectDeployment",
      "type": "object"
    },
    "SasPortalNode": {
      "description": "The Node.",
      "id": "SasPortalNode",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name.",
          "type": "string"
        },
        "displayName": {
          "description": "The node's display name.",
          "type": "string"
        },
        "sasUserIds": {
          "description": "User ids used by the devices belonging to this node.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SasPortalDeviceModel": {
      "id": "SasPortalDeviceModel",
      "type": "object",
      "properties": {
        "vendor": {
          "description": "The name of the device vendor.",
          "type": "string"
        },
        "hardwareVersion": {
          "description": "The hardware version of the device.",
          "type": "string"
        },
        "name": {
          "description": "The name of the device model.",
          "type": "string"
        },
        "firmwareVersion": {
          "description": "The firmware version of the device.",
          "type": "string"
        },
        "softwareVersion": {
          "description": "The software version of the device.",
          "type": "string"
        }
      },
      "description": "Information about the model of the device."
    },
    "SasPortalListDevicesResponse": {
      "description": "Response for ListDevices.",
      "id": "SasPortalListDevicesResponse",
      "type": "object",
      "properties": {
        "devices": {
          "description": "The devices that match the request.",
          "items": {
            "$ref": "SasPortalDevice"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDevices that indicates from where listing should continue. If the field is missing or empty, it means there is no more devices.",
          "type": "string"
        }
      }
    },
    "SasPortalFrequencyRange": {
      "id": "SasPortalFrequencyRange",
      "type": "object",
      "properties": {
        "highFrequencyMhz": {
          "type": "number",
          "format": "double",
          "description": "The highest frequency of the frequency range in MHz."
        },
        "lowFrequencyMhz": {
          "type": "number",
          "description": "The lowest frequency of the frequency range in MHz.",
          "format": "double"
        }
      },
      "description": "Frequency range from `low_frequency` to `high_frequency`."
    },
    "SasPortalMoveDeploymentRequest": {
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the deployment under.",
          "type": "string"
        }
      },
      "id": "SasPortalMoveDeploymentRequest",
      "type": "object",
      "description": "Request for MoveDeployment."
    },
    "SasPortalDeploymentAssociation": {
      "description": "Association between a gcp project and a SAS user id.",
      "properties": {
        "userId": {
          "description": "User id of the deployment.",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "GCP project id of the associated project.",
          "type": "string"
        }
      },
      "id": "SasPortalDeploymentAssociation",
      "type": "object"
    },
    "SasPortalProvisionDeploymentResponse": {
      "id": "SasPortalProvisionDeploymentResponse",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "Optional. Optional error message if the provisioning request is not successful.",
          "type": "string"
        }
      },
      "description": "Response for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment]."
    },
    "SasPortalEmpty": {
      "id": "SasPortalEmpty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "SasPortalSetupSasAnalyticsResponse": {
      "description": "Response returned by the long running operation for the SetupSasAnalytics rpc.",
      "properties": {},
      "id": "SasPortalSetupSasAnalyticsResponse",
      "type": "object"
    },
    "SasPortalOrganization": {
      "id": "SasPortalOrganization",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of organization",
          "format": "int64"
        },
        "displayName": {
          "description": "Name of organization",
          "type": "string"
        }
      },
      "description": "Organization details."
    }
  },
  "title": "SAS Portal API (Testing)",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260607",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "version": "v1alpha1",
  "batchPath": "batch",
  "id": "prod_tt_sasportal:v1alpha1",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "policies": {
      "methods": {
        "test": {
          "path": "v1alpha1/policies:test",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "SasPortalTestPermissionsRequest"
          },
          "description": "Returns permissions that a caller has on the specified resource.",
          "httpMethod": "POST",
          "response": {
            "$ref": "SasPortalTestPermissionsResponse"
          },
          "id": "prod_tt_sasportal.policies.test",
          "flatPath": "v1alpha1/policies:test",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ]
        },
        "set": {
          "id": "prod_tt_sasportal.policies.set",
          "flatPath": "v1alpha1/policies:set",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "response": {
            "$ref": "SasPortalPolicy"
          },
          "request": {
            "$ref": "SasPortalSetPolicyRequest"
          },
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "httpMethod": "POST",
          "path": "v1alpha1/policies:set",
          "parameters": {},
          "parameterOrder": []
        },
        "get": {
          "parameters": {},
          "parameterOrder": [],
          "path": "v1alpha1/policies:get",
          "httpMethod": "POST",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "request": {
            "$ref": "SasPortalGetPolicyRequest"
          },
          "response": {
            "$ref": "SasPortalPolicy"
          },
          "flatPath": "v1alpha1/policies:get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "prod_tt_sasportal.policies.get"
        }
      }
    },
    "deployments": {
      "methods": {
        "get": {
          "response": {
            "$ref": "SasPortalDeployment"
          },
          "flatPath": "v1alpha1/deployments/{deploymentsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "prod_tt_sasportal.deployments.get",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^deployments/[^/]+$",
              "description": "Required. The name of the deployment.",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha1/{+name}",
          "httpMethod": "GET",
          "description": "Returns a requested deployment."
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "move": {
              "response": {
                "$ref": "SasPortalOperation"
              },
              "id": "prod_tt_sasportal.deployments.devices.move",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}:move",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the device to move.",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "description": "Moves a device under another node or customer.",
              "httpMethod": "POST"
            },
            "patch": {
              "parameters": {
                "name": {
                  "description": "Output only. The resource path name.",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "PATCH",
              "description": "Updates a device.",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "prod_tt_sasportal.deployments.devices.patch"
            },
            "get": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "prod_tt_sasportal.deployments.devices.get",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the device.",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets details about a device.",
              "httpMethod": "GET"
            },
            "updateSigned": {
              "description": "Updates a signed device.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "path": "v1alpha1/{+name}:updateSigned",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device to update.",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "prod_tt_sasportal.deployments.devices.updateSigned",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:updateSigned",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              }
            },
            "signDevice": {
              "id": "prod_tt_sasportal.deployments.devices.signDevice",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:signDevice",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "description": "Signs a device.",
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "path": "v1alpha1/{+name}:signDevice",
              "parameters": {
                "name": {
                  "description": "Output only. The resource path name.",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "id": "prod_tt_sasportal.deployments.devices.delete",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a device.",
              "httpMethod": "DELETE"
            }
          }
        }
      }
    },
    "customers": {
      "methods": {
        "migrateOrganization": {
          "parameters": {},
          "parameterOrder": [],
          "path": "v1alpha1/customers:migrateOrganization",
          "request": {
            "$ref": "SasPortalMigrateOrganizationRequest"
          },
          "httpMethod": "POST",
          "description": "Migrates a SAS organization to the cloud. This will create GCP projects for each deployment and associate them. The SAS Organization is linked to the gcp project that called the command. go/sas-legacy-customer-migration",
          "response": {
            "$ref": "SasPortalOperation"
          },
          "flatPath": "v1alpha1/customers:migrateOrganization",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "prod_tt_sasportal.customers.migrateOrganization"
        },
        "patch": {
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "id": "prod_tt_sasportal.customers.patch",
          "flatPath": "v1alpha1/customers/{customersId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "path": "v1alpha1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^customers/[^/]+$",
              "description": "Output only. Resource name of the customer.",
              "required": true
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "Fields to be updated."
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "SasPortalCustomer"
          },
          "description": "Updates an existing customer.",
          "httpMethod": "PATCH"
        },
        "listLegacyOrganizations": {
          "response": {
            "$ref": "SasPortalListLegacyOrganizationsResponse"
          },
          "id": "prod_tt_sasportal.customers.listLegacyOrganizations",
          "flatPath": "v1alpha1/customers:listLegacyOrganizations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "path": "v1alpha1/customers:listLegacyOrganizations",
          "parameters": {},
          "parameterOrder": [],
          "description": "Returns a list of legacy organizations.",
          "httpMethod": "GET"
        },
        "get": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^customers/[^/]+$",
              "description": "Required. The name of the customer.",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha1/{+name}",
          "httpMethod": "GET",
          "description": "Returns a requested customer.",
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "flatPath": "v1alpha1/customers/{customersId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "prod_tt_sasportal.customers.get"
        },
        "list": {
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of customers to return in the response.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A pagination token returned from a previous call to ListCustomers that indicates where this listing should continue from."
            }
          },
          "parameterOrder": [],
          "path": "v1alpha1/customers",
          "httpMethod": "GET",
          "description": "Returns a list of requested customers.",
          "response": {
            "$ref": "SasPortalListCustomersResponse"
          },
          "flatPath": "v1alpha1/customers",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "prod_tt_sasportal.customers.list"
        },
        "setupSasAnalytics": {
          "path": "v1alpha1/customers:setupSasAnalytics",
          "parameters": {},
          "parameterOrder": [],
          "description": "Setups the a GCP Project to receive SAS Analytics messages via GCP Pub/Sub with a subscription to BigQuery. All the Pub/Sub topics and BigQuery tables are created automatically as part of this service.",
          "httpMethod": "POST",
          "request": {
            "$ref": "SasPortalSetupSasAnalyticsRequest"
          },
          "response": {
            "$ref": "SasPortalOperation"
          },
          "id": "prod_tt_sasportal.customers.setupSasAnalytics",
          "flatPath": "v1alpha1/customers:setupSasAnalytics",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ]
        },
        "listGcpProjectDeployments": {
          "path": "v1alpha1/customers:listGcpProjectDeployments",
          "parameters": {},
          "parameterOrder": [],
          "description": "Returns a list of SAS deployments associated with current GCP project. Includes whether SAS analytics has been enabled or not.",
          "httpMethod": "GET",
          "response": {
            "$ref": "SasPortalListGcpProjectDeploymentsResponse"
          },
          "id": "prod_tt_sasportal.customers.listGcpProjectDeployments",
          "flatPath": "v1alpha1/customers:listGcpProjectDeployments",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ]
        },
        "provisionDeployment": {
          "description": "Creates a new SAS deployment through the GCP workflow. Creates a SAS organization if an organization match is not found.",
          "httpMethod": "POST",
          "request": {
            "$ref": "SasPortalProvisionDeploymentRequest"
          },
          "path": "v1alpha1/customers:provisionDeployment",
          "parameters": {},
          "parameterOrder": [],
          "id": "prod_tt_sasportal.customers.provisionDeployment",
          "flatPath": "v1alpha1/customers:provisionDeployment",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "response": {
            "$ref": "SasPortalProvisionDeploymentResponse"
          }
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "createSigned": {
              "flatPath": "v1alpha1/customers/{customersId}/devices:createSigned",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "prod_tt_sasportal.customers.devices.createSigned",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "POST",
              "description": "Creates a signed device under a node or customer.",
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The name of the parent resource.",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/devices:createSigned"
            },
            "delete": {
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "id": "prod_tt_sasportal.customers.devices.delete",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device.",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a device.",
              "httpMethod": "DELETE"
            },
            "list": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The name of the parent resource.",
                  "required": true
                },
                "pageSize": {
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from."
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/devices",
              "httpMethod": "GET",
              "description": "Lists devices under a node or customer.",
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "prod_tt_sasportal.customers.devices.list"
            },
            "updateSigned": {
              "path": "v1alpha1/{+name}:updateSigned",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the device to update.",
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "description": "Updates a signed device.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "prod_tt_sasportal.customers.devices.updateSigned",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:updateSigned",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "signDevice": {
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "id": "prod_tt_sasportal.customers.devices.signDevice",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:signDevice",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}:signDevice",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Output only. The resource path name.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "description": "Signs a device.",
              "httpMethod": "POST"
            },
            "patch": {
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Output only. The resource path name.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Fields to be updated.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a device.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "prod_tt_sasportal.customers.devices.patch",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "move": {
              "httpMethod": "POST",
              "description": "Moves a device under another node or customer.",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the device to move.",
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}:move",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "prod_tt_sasportal.customers.devices.move",
              "response": {
                "$ref": "SasPortalOperation"
              }
            },
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The name of the parent resource.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/devices",
              "httpMethod": "POST",
              "description": "Creates a device under a node or customer.",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "prod_tt_sasportal.customers.devices.create"
            },
            "get": {
              "response": {
                "$ref": "SasPortalDevice"
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "prod_tt_sasportal.customers.devices.get",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET",
              "description": "Gets details about a device."
            }
          }
        },
        "nodes": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes a node.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "description": "Required. The name of the node.",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "prod_tt_sasportal.customers.nodes.delete",
              "response": {
                "$ref": "SasPortalEmpty"
              }
            },
            "create": {
              "response": {
                "$ref": "SasPortalNode"
              },
              "id": "prod_tt_sasportal.customers.nodes.create",
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/nodes",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name where the node is to be created.",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new node.",
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalNode"
              }
            },
            "get": {
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "description": "Required. The name of the node.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Returns a requested node.",
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalNode"
              },
              "id": "prod_tt_sasportal.customers.nodes.get",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "list": {
              "id": "prod_tt_sasportal.customers.nodes.list",
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "description": "Lists nodes.",
              "httpMethod": "GET",
              "path": "v1alpha1/{+parent}/nodes",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "required": true
                },
                "pageSize": {
                  "description": "The maximum number of nodes to return in the response.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from."
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "response": {
                "$ref": "SasPortalNode"
              },
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "prod_tt_sasportal.customers.nodes.patch",
              "parameters": {
                "name": {
                  "description": "Output only. Resource name.",
                  "required": true,
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "request": {
                "$ref": "SasPortalNode"
              },
              "httpMethod": "PATCH",
              "description": "Updates an existing node."
            },
            "move": {
              "path": "v1alpha1/{+name}:move",
              "parameters": {
                "name": {
                  "description": "Required. The name of the node to move.",
                  "required": true,
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Moves a node under another node or customer.",
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "response": {
                "$ref": "SasPortalOperation"
              },
              "id": "prod_tt_sasportal.customers.nodes.move",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}:move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "description": "Creates a device under a node or customer.",
                  "httpMethod": "POST",
                  "path": "v1alpha1/{+parent}/devices",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "prod_tt_sasportal.customers.nodes.devices.create",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  }
                },
                "createSigned": {
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "description": "Creates a signed device under a node or customer.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "id": "prod_tt_sasportal.customers.nodes.devices.createSigned",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices:createSigned",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                },
                "list": {
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "prod_tt_sasportal.customers.nodes.devices.list",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists devices under a node or customer.",
                  "parameters": {
                    "filter": {
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/devices"
                }
              }
            },
            "nodes": {
              "methods": {
                "create": {
                  "description": "Creates a new node.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalNode"
                  },
                  "path": "v1alpha1/{+parent}/nodes",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The parent resource name where the node is to be created.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "prod_tt_sasportal.customers.nodes.nodes.create",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalNode"
                  }
                },
                "list": {
                  "path": "v1alpha1/{+parent}/nodes",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name, for example, \"nodes/1\".",
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of nodes to return in the response.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists nodes.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  },
                  "id": "prod_tt_sasportal.customers.nodes.nodes.list",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                }
              }
            },
            "deployments": {
              "methods": {
                "create": {
                  "path": "v1alpha1/{+parent}/deployments",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The parent resource name where the deployment is to be created.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new deployment.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalDeployment"
                  },
                  "response": {
                    "$ref": "SasPortalDeployment"
                  },
                  "id": "prod_tt_sasportal.customers.nodes.deployments.create",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                },
                "list": {
                  "description": "Lists deployments.",
                  "httpMethod": "GET",
                  "path": "v1alpha1/{+parent}/deployments",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of deployments to return in the response.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "prod_tt_sasportal.customers.nodes.deployments.list",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  }
                }
              }
            }
          }
        },
        "deployments": {
          "methods": {
            "create": {
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "prod_tt_sasportal.customers.deployments.create",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The parent resource name where the deployment is to be created.",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/deployments",
              "httpMethod": "POST",
              "description": "Creates a new deployment.",
              "request": {
                "$ref": "SasPortalDeployment"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "description": "Required. The name of the deployment.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET",
              "description": "Returns a requested deployment.",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "prod_tt_sasportal.customers.deployments.get"
            },
            "list": {
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "prod_tt_sasportal.customers.deployments.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                },
                "filter": {
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of deployments to return in the response.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/deployments",
              "httpMethod": "GET",
              "description": "Lists deployments."
            },
            "patch": {
              "id": "prod_tt_sasportal.customers.deployments.patch",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "description": "Updates an existing deployment.",
              "httpMethod": "PATCH",
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "description": "Output only. Resource name.",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "description": "Fields to be updated.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "move": {
              "description": "Moves a deployment under another node or customer.",
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "path": "v1alpha1/{+name}:move",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "description": "Required. The name of the deployment to move.",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "prod_tt_sasportal.customers.deployments.move",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}:move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalOperation"
              }
            },
            "delete": {
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the deployment.",
                  "required": true,
                  "pattern": "^customers/[^/]+/deployments/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a deployment.",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "id": "prod_tt_sasportal.customers.deployments.delete",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "create": {
                  "id": "prod_tt_sasportal.customers.deployments.devices.create",
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "description": "Creates a device under a node or customer.",
                  "httpMethod": "POST",
                  "path": "v1alpha1/{+parent}/devices",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "required": true
[...]
