{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1alpha1",
  "canonicalName": "SAS Portal Testing",
  "ownerName": "Google",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "description": "",
  "baseUrl": "https://prod-tt-sasportal.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sasportal": {
          "description": "Read, create, update, and delete your SAS Portal data."
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/spectrum-access-system/",
  "schemas": {
    "SasPortalNode": {
      "description": "The Node.",
      "type": "object",
      "id": "SasPortalNode",
      "properties": {
        "sasUserIds": {
          "description": "User ids used by the devices belonging to this node.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Output only. Resource name.",
          "type": "string"
        },
        "displayName": {
          "description": "The node's display name.",
          "type": "string"
        }
      }
    },
    "SasPortalStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "SasPortalStatus",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "SasPortalMigrateOrganizationMetadata": {
      "description": "Long-running operation metadata message returned by the MigrateOrganization.",
      "type": "object",
      "id": "SasPortalMigrateOrganizationMetadata",
      "properties": {
        "operationState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Pending (Not started).",
            "In-progress.",
            "Done successfully.",
            "Done with errors."
          ],
          "description": "Output only. Current operation state",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_PENDING",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED"
          ]
        }
      }
    },
    "SasPortalProvisionDeploymentRequest": {
      "id": "SasPortalProvisionDeploymentRequest",
      "description": "Request for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment]. GCP Project, Organization Info, and caller’s GAIA ID should be retrieved from the RPC handler, and used as inputs to create a new SAS organization (if not exists) and a new SAS deployment.",
      "type": "object",
      "properties": {
        "newOrganizationDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Organization needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        },
        "newDeploymentDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Deployment needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        },
        "organizationId": {
          "description": "Optional. If this field is set then a new deployment will be created under the organization specified by this id.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SasPortalDeviceConfig": {
      "description": "Information about the device configuration.",
      "type": "object",
      "id": "SasPortalDeviceConfig",
      "properties": {
        "category": {
          "enumDescriptions": [
            "Unspecified device category.",
            "Category A.",
            "Category B."
          ],
          "description": "FCC category of the device.",
          "type": "string",
          "enum": [
            "DEVICE_CATEGORY_UNSPECIFIED",
            "DEVICE_CATEGORY_A",
            "DEVICE_CATEGORY_B"
          ]
        },
        "installationParams": {
          "description": "Installation parameters for the device.",
          "$ref": "SasPortalInstallationParams"
        },
        "updateTime": {
          "description": "Output only. The last time the device configuration was edited.",
          "type": "string",
          "format": "google-datetime"
        },
        "userId": {
          "description": "The identifier of a device user.",
          "type": "string"
        },
        "callSign": {
          "description": "The call sign of the device operator.",
          "type": "string"
        },
        "model": {
          "description": "Information about this device model.",
          "$ref": "SasPortalDeviceModel"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "State of the configuration.",
          "type": "string",
          "enum": [
            "DEVICE_CONFIG_STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ]
        },
        "measurementCapabilities": {
          "description": "Measurement reporting capabilities of the device.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "MEASUREMENT_CAPABILITY_UNSPECIFIED",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITH_GRANT",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITHOUT_GRANT"
            ]
          }
        },
        "airInterface": {
          "description": "Information about this device's air interface.",
          "$ref": "SasPortalDeviceAirInterface"
        },
        "isSigned": {
          "description": "Output only. Whether the configuration has been signed by a CPI.",
          "type": "boolean"
        }
      }
    },
    "SasPortalListCustomersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListCustomers that indicates from where listing should continue. If the field is missing or empty, it means there are no more customers.",
          "type": "string"
        },
        "customers": {
          "description": "The list of customers that match the request.",
          "type": "array",
          "items": {
            "$ref": "SasPortalCustomer"
          }
        }
      },
      "id": "SasPortalListCustomersResponse",
      "description": "Response for `ListCustomers`.",
      "type": "object"
    },
    "SasPortalMigrateOrganizationRequest": {
      "properties": {
        "organizationId": {
          "description": "Required. Id of the SAS organization to be migrated.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "SasPortalMigrateOrganizationRequest",
      "description": "Request for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization]. GCP Project, Organization Info, and caller's GAIA ID should be retrieved from the RPC handler, and used to check authorization on SAS Portal organization and to create GCP Projects.",
      "type": "object"
    },
    "SasPortalValidateInstallerResponse": {
      "properties": {},
      "id": "SasPortalValidateInstallerResponse",
      "description": "Response for ValidateInstaller.",
      "type": "object"
    },
    "SasPortalPolicy": {
      "description": "Defines an access control policy to the resources.",
      "type": "object",
      "id": "SasPortalPolicy",
      "properties": {
        "etag": {
          "description": "The etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to GetPolicy, and systems are expected to put that etag in the request to SetPolicy to ensure that their change will be applied to the same version of the policy. If no etag is provided in the call to GetPolicy, then the existing policy is overwritten blindly.",
          "type": "string",
          "format": "byte"
        },
        "assignments": {
          "description": "List of assignments",
          "type": "array",
          "items": {
            "$ref": "SasPortalAssignment"
          }
        }
      }
    },
    "SasPortalUpdateSignedDeviceRequest": {
      "description": "Request for UpdateSignedDevice.",
      "type": "object",
      "id": "SasPortalUpdateSignedDeviceRequest",
      "properties": {
        "encodedDevice": {
          "description": "Required. The JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "type": "string",
          "format": "byte"
        },
        "installerId": {
          "description": "Required. Unique installer ID (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      }
    },
    "SasPortalMigrateOrganizationResponse": {
      "properties": {
        "deploymentAssociation": {
          "description": "Optional. A list of deployment association that were created for the migration, or current associations if they already exist.",
          "type": "array",
          "items": {
            "$ref": "SasPortalDeploymentAssociation"
          }
        }
      },
      "description": "Response for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization].",
      "type": "object",
      "id": "SasPortalMigrateOrganizationResponse"
    },
    "SasPortalDeviceGrant": {
      "id": "SasPortalDeviceGrant",
      "description": "Device grant. It is an authorization provided by the Spectrum Access System to a device to transmit using specified operating parameters after a successful heartbeat by the device.",
      "type": "object",
      "properties": {
        "moveList": {
          "items": {
            "$ref": "SasPortalDpaMoveList"
          },
          "description": "The DPA move lists on which this grant appears.",
          "type": "array"
        },
        "grantId": {
          "description": "Grant Id.",
          "type": "string"
        },
        "frequencyRange": {
          "description": "The transmission frequency range.",
          "$ref": "SasPortalFrequencyRange"
        },
        "state": {
          "description": "State of the grant.",
          "type": "string",
          "enum": [
            "GRANT_STATE_UNSPECIFIED",
            "GRANT_STATE_GRANTED",
            "GRANT_STATE_TERMINATED",
            "GRANT_STATE_SUSPENDED",
            "GRANT_STATE_AUTHORIZED",
            "GRANT_STATE_EXPIRED"
          ],
          "enumDescriptions": [
            "",
            "The grant has been granted but the device is not heartbeating on it.",
            "The grant has been terminated by the SAS.",
            "The grant has been suspended by the SAS.",
            "The device is currently transmitting.",
            "The grant has expired."
          ]
        },
        "suspensionReason": {
          "items": {
            "type": "string"
          },
          "description": "If the grant is suspended, the reason(s) for suspension.",
          "type": "array"
        },
        "channelType": {
          "description": "Type of channel used.",
          "type": "string",
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "CHANNEL_TYPE_GAA",
            "CHANNEL_TYPE_PAL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "lastHeartbeatTransmitExpireTime": {
          "description": "The transmit expiration time of the last heartbeat.",
          "type": "string",
          "format": "google-datetime"
        },
        "maxEirp": {
          "description": "Maximum Equivalent Isotropically Radiated Power (EIRP) permitted by the grant. The maximum EIRP is in units of dBm/MHz. The value of `maxEirp` represents the average (RMS) EIRP that would be measured by the procedure defined in FCC part 96.41(e)(3).",
          "type": "number",
          "format": "double"
        },
        "expireTime": {
          "description": "The expiration time of the grant.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SasPortalSignDeviceRequest": {
      "properties": {
        "device": {
          "description": "Required. The device to sign. The device fields name, fcc_id and serial_number must be set. The user_id field must be set.",
          "$ref": "SasPortalDevice"
        }
      },
      "id": "SasPortalSignDeviceRequest",
      "description": "Request for SignDevice.",
      "type": "object"
    },
    "SasPortalTestPermissionsRequest": {
      "id": "SasPortalTestPermissionsRequest",
      "description": "Request message for `TestPermissions` method.",
      "type": "object",
      "properties": {
        "resource": {
          "description": "Required. The resource for which the permissions are being requested.",
          "type": "string"
        },
        "permissions": {
          "description": "The set of permissions to check for the `resource`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SasPortalGenerateSecretRequest": {
      "properties": {},
      "id": "SasPortalGenerateSecretRequest",
      "description": "Request for GenerateSecret.",
      "type": "object"
    },
    "SasPortalCreateSignedDeviceRequest": {
      "description": "Request for CreateSignedDevice.",
      "type": "object",
      "id": "SasPortalCreateSignedDeviceRequest",
      "properties": {
        "encodedDevice": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "type": "string",
          "format": "byte"
        },
        "installerId": {
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      }
    },
    "SasPortalDpaMoveList": {
      "properties": {
        "frequencyRange": {
          "description": "The frequency range that the move list affects.",
          "$ref": "SasPortalFrequencyRange"
        },
        "dpaId": {
          "description": "The ID of the DPA.",
          "type": "string"
        }
      },
      "description": "An entry in a DPA's move list.",
      "type": "object",
      "id": "SasPortalDpaMoveList"
    },
    "SasPortalListDeploymentsResponse": {
      "properties": {
        "deployments": {
          "description": "The deployments that match the request.",
          "type": "array",
          "items": {
            "$ref": "SasPortalDeployment"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDeployments that indicates from where listing should continue. If the field is missing or empty, it means there are no more deployments.",
          "type": "string"
        }
      },
      "id": "SasPortalListDeploymentsResponse",
      "description": "Response for ListDeployments.",
      "type": "object"
    },
    "SasPortalDeviceMetadata": {
      "id": "SasPortalDeviceMetadata",
      "description": "Device data overridable by both SAS Portal and registration requests.",
      "type": "object",
      "properties": {
        "nrqzValidated": {
          "description": "Output only. Set to `true` if a CPI has validated that they have coordinated with the National Quiet Zone office.",
          "type": "boolean",
          "readOnly": true,
          "deprecated": true
        },
        "interferenceCoordinationGroup": {
          "description": "Interference Coordination Group (ICG). A group of CBSDs that manage their own interference with the group. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "commonChannelGroup": {
          "description": "Common Channel Group (CCG). A group of CBSDs in the same ICG requesting a common primary channel assignment. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "antennaModel": {
          "description": "If populated, the Antenna Model Pattern to use. Format is: `RecordCreatorId:PatternId`",
          "type": "string"
        },
        "nrqzValidation": {
          "description": "Output only. National Radio Quiet Zone validation info.",
          "readOnly": true,
          "$ref": "SasPortalNrqzValidation"
        }
      }
    },
    "SasPortalDeployment": {
      "properties": {
        "name": {
          "description": "Output only. Resource name.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "The deployment's display name.",
          "type": "string"
        },
        "sasUserIds": {
          "items": {
            "type": "string"
          },
          "description": "User ID used by the devices belonging to this deployment. Each deployment should be associated with one unique user ID.",
          "type": "array"
        },
        "frns": {
          "readOnly": true,
          "description": "Output only. The FCC Registration Numbers (FRNs) copied from its direct parent.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SasPortalDeployment",
      "description": "The Deployment.",
      "type": "object"
    },
    "SasPortalDeviceModel": {
      "id": "SasPortalDeviceModel",
      "description": "Information about the model of the device.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the device model.",
          "type": "string"
        },
        "hardwareVersion": {
          "description": "The hardware version of the device.",
          "type": "string"
        },
        "firmwareVersion": {
          "description": "The firmware version of the device.",
          "type": "string"
        },
        "vendor": {
          "description": "The name of the device vendor.",
          "type": "string"
        },
        "softwareVersion": {
          "description": "The software version of the device.",
          "type": "string"
        }
      }
    },
    "SasPortalDeviceAirInterface": {
      "id": "SasPortalDeviceAirInterface",
      "description": "Information about the device's air interface.",
      "type": "object",
      "properties": {
        "supportedSpec": {
          "description": "Optional. This field is related to the `radioTechnology` and provides the air interface specification that the CBSD is compliant with at the time of registration.",
          "type": "string"
        },
        "radioTechnology": {
          "description": "Conditional. This field specifies the radio access technology that is used for the CBSD.",
          "type": "string",
          "enum": [
            "RADIO_TECHNOLOGY_UNSPECIFIED",
            "E_UTRA",
            "CAMBIUM_NETWORKS",
            "FOUR_G_BBW_SAA_1",
            "NR",
            "DOODLE_CBRS",
            "CW",
            "REDLINE",
            "TARANA_WIRELESS",
            "FAROS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "SasPortalChannelWithScore": {
      "description": "The channel with score.",
      "type": "object",
      "id": "SasPortalChannelWithScore",
      "properties": {
        "frequencyRange": {
          "description": "The frequency range of the channel.",
          "$ref": "SasPortalFrequencyRange"
        },
        "score": {
          "description": "The channel score, normalized to be in the range [0,100].",
          "type": "number",
          "format": "double"
        }
      }
    },
    "SasPortalDeploymentAssociation": {
      "properties": {
        "userId": {
          "description": "User id of the deployment.",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "GCP project id of the associated project.",
          "type": "string"
        }
      },
      "description": "Association between a gcp project and a SAS user id.",
      "type": "object",
      "id": "SasPortalDeploymentAssociation"
    },
    "SasPortalGenerateSecretResponse": {
      "properties": {
        "secret": {
          "description": "The secret generated by the string and used by ValidateInstaller.",
          "type": "string"
        }
      },
      "id": "SasPortalGenerateSecretResponse",
      "description": "Response for GenerateSecret.",
      "type": "object"
    },
    "SasPortalGcpProjectDeployment": {
      "description": "Deployment associated with the GCP project. Includes whether SAS analytics has been enabled or not.",
      "type": "object",
      "id": "SasPortalGcpProjectDeployment",
      "properties": {
        "hasEnabledAnalytics": {
          "description": "Whether SAS analytics has been enabled.",
          "type": "boolean"
        },
        "deployment": {
          "description": "Deployment associated with the GCP project.",
          "$ref": "SasPortalDeployment"
        }
      }
    },
    "SasPortalNrqzValidation": {
      "id": "SasPortalNrqzValidation",
      "description": "Information about National Radio Quiet Zone validation.",
      "type": "object",
      "properties": {
        "longitude": {
          "description": "Device longitude that's associated with the validation.",
          "type": "number",
          "format": "double"
        },
        "caseId": {
          "description": "Validation case ID.",
          "type": "string"
        },
        "state": {
          "description": "State of the NRQZ validation info.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Draft state.",
            "Final state."
          ]
        },
        "latitude": {
          "description": "Device latitude that's associated with the validation.",
          "type": "number",
          "format": "double"
        },
        "cpiId": {
          "description": "CPI who signed the validation.",
          "type": "string"
        }
      }
    },
    "SasPortalListDevicesResponse": {
      "description": "Response for ListDevices.",
      "type": "object",
      "id": "SasPortalListDevicesResponse",
      "properties": {
        "devices": {
          "items": {
            "$ref": "SasPortalDevice"
          },
          "description": "The devices that match the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDevices that indicates from where listing should continue. If the field is missing or empty, it means there is no more devices.",
          "type": "string"
        }
      }
    },
    "SasPortalListLegacyOrganizationsResponse": {
      "id": "SasPortalListLegacyOrganizationsResponse",
      "description": "Response for [ListLegacyOrganizations]. [spectrum.sas.portal.v1alpha1.Provisioning.ListLegacyOrganizations].",
      "type": "object",
      "properties": {
        "organizations": {
          "items": {
            "$ref": "SasPortalOrganization"
          },
          "description": "Optional. Legacy SAS organizations.",
          "type": "array"
        }
      }
    },
    "SasPortalGetPolicyRequest": {
      "properties": {
        "resource": {
          "description": "Required. The resource for which the policy is being requested.",
          "type": "string"
        }
      },
      "id": "SasPortalGetPolicyRequest",
      "description": "Request message for `GetPolicy` method.",
      "type": "object"
    },
    "SasPortalMoveNodeRequest": {
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the node under.",
          "type": "string"
        }
      },
      "id": "SasPortalMoveNodeRequest",
      "description": "Request for MoveNode.",
      "type": "object"
    },
    "SasPortalValidateInstallerRequest": {
      "properties": {
        "installerId": {
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        },
        "encodedSecret": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must include a \"secret\" claim whose value is the secret.",
          "type": "string"
        },
        "secret": {
          "description": "Required. Secret returned by the GenerateSecret.",
          "type": "string"
        }
      },
      "description": "Request for ValidateInstaller.",
      "type": "object",
      "id": "SasPortalValidateInstallerRequest"
    },
    "SasPortalSetupSasAnalyticsResponse": {
      "properties": {},
      "id": "SasPortalSetupSasAnalyticsResponse",
      "description": "Response returned by the long running operation for the SetupSasAnalytics rpc.",
      "type": "object"
    },
    "SasPortalDevice": {
      "properties": {
        "displayName": {
          "description": "Device display name.",
          "type": "string"
        },
        "serialNumber": {
          "description": "A serial number assigned to the device by the device manufacturer.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource path name.",
          "type": "string"
        },
        "grants": {
          "description": "Output only. Grants held by the device.",
          "type": "array",
          "items": {
            "$ref": "SasPortalDeviceGrant"
          }
        },
        "preloadedConfig": {
          "description": "Configuration of the device, as specified via SAS Portal API.",
          "$ref": "SasPortalDeviceConfig"
        },
        "activeConfig": {
          "description": "Output only. Current configuration of the device as registered to the SAS.",
          "$ref": "SasPortalDeviceConfig"
        },
        "grantRangeAllowlists": {
          "description": "Only ranges that are within the allowlists are available for new grants.",
          "type": "array",
          "items": {
            "$ref": "SasPortalFrequencyRange"
          }
        },
        "fccId": {
          "description": "The FCC identifier of the device. Refer to https://www.fcc.gov/oet/ea/fccid for FccID format. Accept underscores and periods because some test-SAS customers use them.",
          "type": "string"
        },
        "deviceMetadata": {
          "description": "Device parameters that can be overridden by both SAS Portal and SAS registration requests.",
          "$ref": "SasPortalDeviceMetadata"
        },
        "currentChannels": {
          "deprecated": true,
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "SasPortalChannelWithScore"
          },
          "description": "Output only. Current channels with scores."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Device created in the SAS Portal, however, not yet registered with SAS.",
            "Device registered with SAS.",
            "Device de-registered with SAS."
          ],
          "description": "Output only. Device state.",
          "type": "string",
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "RESERVED",
            "REGISTERED",
            "DEREGISTERED"
          ]
        }
      },
      "id": "SasPortalDevice",
      "type": "object"
    },
    "SasPortalFrequencyRange": {
      "id": "SasPortalFrequencyRange",
      "description": "Frequency range from `low_frequency` to `high_frequency`.",
      "type": "object",
      "properties": {
        "lowFrequencyMhz": {
          "description": "The lowest frequency of the frequency range in MHz.",
          "type": "number",
          "format": "double"
        },
        "highFrequencyMhz": {
          "description": "The highest frequency of the frequency range in MHz.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "SasPortalSetupSasAnalyticsMetadata": {
      "description": "Metadata returned by the long running operation for the SetupSasAnalytics rpc.",
      "type": "object",
      "id": "SasPortalSetupSasAnalyticsMetadata",
      "properties": {}
    },
    "SasPortalProvisionDeploymentResponse": {
      "properties": {
        "errorMessage": {
          "description": "Optional. Optional error message if the provisioning request is not successful.",
          "type": "string"
        }
      },
      "description": "Response for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment].",
      "type": "object",
      "id": "SasPortalProvisionDeploymentResponse"
    },
    "SasPortalOperation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "SasPortalStatus"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "id": "SasPortalOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "SasPortalOrganization": {
      "id": "SasPortalOrganization",
      "description": "Organization details.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of organization",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "description": "Name of organization",
          "type": "string"
        }
      }
    },
    "SasPortalSetupSasAnalyticsRequest": {
      "description": "Request for the SetupSasAnalytics rpc.",
      "type": "object",
      "id": "SasPortalSetupSasAnalyticsRequest",
      "properties": {
        "userId": {
          "description": "Optional. User id to setup analytics for, if not provided the user id associated with the project is used. optional",
          "type": "string"
        }
      }
    },
    "SasPortalListGcpProjectDeploymentsResponse": {
      "id": "SasPortalListGcpProjectDeploymentsResponse",
      "description": "Response for [ListGcpProjectDeployments].",
      "type": "object",
      "properties": {
        "deployments": {
          "description": "Optional. Deployments associated with the GCP project",
          "type": "array",
          "items": {
            "$ref": "SasPortalGcpProjectDeployment"
          }
        }
      }
    },
    "SasPortalSetPolicyRequest": {
      "properties": {
        "policy": {
          "description": "Required. The policy to be applied to the `resource`.",
          "$ref": "SasPortalPolicy"
        },
        "disableNotification": {
          "description": "Optional. Set the field as `true` to disable the onboarding notification.",
          "type": "boolean"
        },
        "resource": {
          "description": "Required. The resource for which the policy is being specified. This policy replaces any existing policy.",
          "type": "string"
        }
      },
      "description": "Request message for `SetPolicy` method.",
      "type": "object",
      "id": "SasPortalSetPolicyRequest"
    },
    "SasPortalMoveDeviceRequest": {
      "description": "Request for MoveDevice.",
      "type": "object",
      "id": "SasPortalMoveDeviceRequest",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the device under.",
          "type": "string"
        }
      }
    },
    "SasPortalCustomer": {
      "description": "Entity representing a SAS customer.",
      "type": "object",
      "id": "SasPortalCustomer",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the customer.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Name of the organization that the customer entity represents.",
          "type": "string"
        },
        "sasUserIds": {
          "description": "User IDs used by the devices belonging to this customer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SasPortalInstallationParams": {
      "id": "SasPortalInstallationParams",
      "description": "Information about the device installation parameters.",
      "type": "object",
      "properties": {
        "antennaBeamwidth": {
          "description": "3-dB antenna beamwidth of the antenna in the horizontal-plane in degrees. This parameter is an unsigned integer having a value between 0 and 360 (degrees) inclusive; it is optional for Category A devices and conditional for Category B devices.",
          "type": "integer",
          "format": "int32"
        },
        "cpeCbsdIndication": {
          "description": "If present, this parameter specifies whether the CBSD is a CPE-CBSD or not.",
          "type": "boolean"
        },
        "antennaModel": {
          "description": "If an external antenna is used, the antenna model is optionally provided in this field. The string has a maximum length of 128 octets.",
          "type": "string"
        },
        "height": {
          "description": "Device antenna height in meters. When the `heightType` parameter value is \"AGL\", the antenna height should be given relative to ground level. When the `heightType` parameter value is \"AMSL\", it is given with respect to WGS84 datum.",
          "type": "number",
          "format": "double"
        },
        "heightType": {
          "enumDescriptions": [
            "Unspecified height type.",
            "AGL height is measured relative to the ground level.",
            "AMSL height is measured relative to the mean sea level."
          ],
          "description": "Specifies how the height is measured.",
          "type": "string",
          "enum": [
            "HEIGHT_TYPE_UNSPECIFIED",
            "HEIGHT_TYPE_AGL",
            "HEIGHT_TYPE_AMSL"
          ]
        },
        "antennaAzimuth": {
          "description": "Boresight direction of the horizontal plane of the antenna in degrees with respect to true north. The value of this parameter is an integer with a value between 0 and 359 inclusive. A value of 0 degrees means true north; a value of 90 degrees means east. This parameter is optional for Category A devices and conditional for Category B devices.",
          "type": "integer",
          "format": "int32"
        },
        "longitude": {
          "description": "Longitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -180.000000 to +180.000000. Positive values represent longitudes east of the prime meridian; negative values west of the prime meridian.",
          "type": "number",
          "format": "double"
        },
        "antennaGain": {
          "description": "Peak antenna gain in dBi. This parameter is a double with a value between -127 and +128 (dBi) inclusive. Part of Release 2 to support floating-point value",
          "type": "number",
          "format": "double"
        },
        "indoorDeployment": {
          "description": "Whether the device antenna is indoor or not. `true`: indoor. `false`: outdoor.",
          "type": "boolean"
        },
        "antennaDowntilt": {
          "description": "Antenna downtilt in degrees and is an integer with a value between -90 and +90 inclusive; a negative value means the antenna is tilted up (above horizontal). This parameter is optional for Category A devices and conditional for Category B devices.",
          "type": "integer",
          "format": "int32"
        },
        "verticalAccuracy": {
          "description": "A positive number in meters to indicate accuracy of the device antenna vertical location. This optional parameter should only be present if its value is less than the FCC requirement of 3 meters.",
          "type": "number",
          "format": "double"
        },
        "horizontalAccuracy": {
          "description": "A positive number in meters to indicate accuracy of the device antenna horizontal location. This optional parameter should only be present if its value is less than the FCC requirement of 50 meters.",
          "type": "number",
          "format": "double"
        },
        "latitude": {
          "description": "Latitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -90.000000 to +90.000000. Positive values represent latitudes north of the equator; negative values south of the equator.",
          "type": "number",
          "format": "double"
        },
        "eirpCapability": {
          "description": "This parameter is the maximum device EIRP in units of dBm/10MHz and is an integer with a value between -127 and +47 (dBm/10 MHz) inclusive. If not included, SAS interprets it as maximum allowable EIRP in units of dBm/10MHz for device category.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SasPortalEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "SasPortalEmpty"
    },
    "SasPortalTestPermissionsResponse": {
      "id": "SasPortalTestPermissionsResponse",
      "description": "Response message for `TestPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A set of permissions that the caller is allowed.",
          "type": "array"
        }
      }
    },
    "SasPortalMoveDeploymentRequest": {
      "id": "SasPortalMoveDeploymentRequest",
      "description": "Request for MoveDeployment.",
      "type": "object",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the deployment under.",
          "type": "string"
        }
      }
    },
    "SasPortalListNodesResponse": {
      "properties": {
        "nodes": {
          "description": "The nodes that match the request.",
          "type": "array",
          "items": {
            "$ref": "SasPortalNode"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListNodes that indicates from where listing should continue. If the field is missing or empty, it means there is no more nodes.",
          "type": "string"
        }
      },
      "id": "SasPortalListNodesResponse",
      "description": "Response for ListNodes.",
      "type": "object"
    },
    "SasPortalAssignment": {
      "properties": {
        "role": {
          "description": "Required. Role that is assigned to `members`.",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "The identities the role is assigned to. It can have the following values: * `{user_email}`: An email address that represents a specific Google account. For example: `alice@gmail.com`. * `{group_email}`: An email address that represents a Google group. For example, `viewers@gmail.com`.",
          "type": "array"
        }
      },
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "id": "SasPortalAssignment"
    }
  },
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "name": "prod_tt_sasportal",
  "revision": "20260728",
  "version_module": true,
  "rootUrl": "https://prod-tt-sasportal.googleapis.com/",
  "resources": {
    "customers": {
      "methods": {
        "get": {
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "httpMethod": "GET",
          "path": "v1alpha1/{+name}",
          "flatPath": "v1alpha1/customers/{customersId}",
          "description": "Returns a requested customer.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^customers/[^/]+$",
              "location": "path",
              "description": "Required. The name of the customer.",
              "type": "string"
            }
          },
          "id": "prod_tt_sasportal.customers.get",
          "parameterOrder": [
            "name"
          ]
        },
        "listLegacyOrganizations": {
          "response": {
            "$ref": "SasPortalListLegacyOrganizationsResponse"
          },
          "httpMethod": "GET",
          "path": "v1alpha1/customers:listLegacyOrganizations",
          "flatPath": "v1alpha1/customers:listLegacyOrganizations",
          "description": "Returns a list of legacy organizations.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameters": {},
          "id": "prod_tt_sasportal.customers.listLegacyOrganizations",
          "parameterOrder": []
        },
        "provisionDeployment": {
          "path": "v1alpha1/customers:provisionDeployment",
          "flatPath": "v1alpha1/customers:provisionDeployment",
          "description": "Creates a new SAS deployment through the GCP workflow. Creates a SAS organization if an organization match is not found.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameters": {},
          "response": {
            "$ref": "SasPortalProvisionDeploymentResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "SasPortalProvisionDeploymentRequest"
          },
          "id": "prod_tt_sasportal.customers.provisionDeployment",
          "parameterOrder": []
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "SasPortalListCustomersResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "path": "v1alpha1/customers",
          "flatPath": "v1alpha1/customers",
          "description": "Returns a list of requested customers.",
          "parameters": {
            "pageSize": {
              "description": "The maximum number of customers to return in the response.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "A pagination token returned from a previous call to ListCustomers that indicates where this listing should continue from.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "prod_tt_sasportal.customers.list",
          "parameterOrder": []
        },
        "setupSasAnalytics": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "path": "v1alpha1/customers:setupSasAnalytics",
          "flatPath": "v1alpha1/customers:setupSasAnalytics",
          "description": "Setups the a GCP Project to receive SAS Analytics messages via GCP Pub/Sub with a subscription to BigQuery. All the Pub/Sub topics and BigQuery tables are created automatically as part of this service.",
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "SasPortalSetupSasAnalyticsRequest"
          },
          "response": {
            "$ref": "SasPortalOperation"
          },
          "id": "prod_tt_sasportal.customers.setupSasAnalytics",
          "parameterOrder": []
        },
        "patch": {
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^customers/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Output only. Resource name of the customer."
            },
            "updateMask": {
              "location": "query",
              "description": "Fields to be updated.",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "path": "v1alpha1/{+name}",
          "flatPath": "v1alpha1/customers/{customersId}",
          "description": "Updates an existing customer.",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "SasPortalCustomer"
          },
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "prod_tt_sasportal.customers.patch"
        },
        "migrateOrganization": {
          "parameterOrder": [],
          "id": "prod_tt_sasportal.customers.migrateOrganization",
          "response": {
            "$ref": "SasPortalOperation"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "SasPortalMigrateOrganizationRequest"
          },
          "parameters": {},
          "path": "v1alpha1/customers:migrateOrganization",
          "flatPath": "v1alpha1/customers:migrateOrganization",
          "description": "Migrates a SAS organization to the cloud. This will create GCP projects for each deployment and associate them. The SAS Organization is linked to the gcp project that called the command. go/sas-legacy-customer-migration",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ]
        },
        "listGcpProjectDeployments": {
          "parameterOrder": [],
          "id": "prod_tt_sasportal.customers.listGcpProjectDeployments",
          "parameters": {},
          "path": "v1alpha1/customers:listGcpProjectDeployments",
          "flatPath": "v1alpha1/customers:listGcpProjectDeployments",
          "description": "Returns a list of SAS deployments associated with current GCP project. Includes whether SAS analytics has been enabled or not.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "response": {
            "$ref": "SasPortalListGcpProjectDeploymentsResponse"
          },
          "httpMethod": "GET"
        }
      },
      "resources": {
        "nodes": {
          "resources": {
            "devices": {
              "methods": {
                "createSigned": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices:createSigned",
                  "description": "Creates a signed device under a node or customer.",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the parent resource.",
                      "type": "string"
                    }
                  },
                  "id": "prod_tt_sasportal.customers.nodes.devices.createSigned",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "prod_tt_sasportal.customers.nodes.devices.list",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1alpha1/{+parent}/devices",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "description": "Lists devices under a node or customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "prod_tt_sasportal.customers.nodes.devices.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the parent resource.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/devices",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "description": "Creates a device under a node or customer.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  }
                }
              }
            },
            "nodes": {
              "methods": {
                "list": {
                  "id": "prod_tt_sasportal.customers.nodes.nodes.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/nodes",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "description": "Lists nodes.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name, for example, \"nodes/1\"."
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of nodes to return in the response.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name where the node is to be created."
                    }
                  },
                  "path": "v1alpha1/{+parent}/nodes",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "description": "Creates a new node.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalNode"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalNode"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "prod_tt_sasportal.customers.nodes.nodes.create"
                }
              }
            },
            "deployments": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "prod_tt_sasportal.customers.nodes.deployments.create",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name where the deployment is to be created."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/deployments",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "description": "Creates a new deployment.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalDeployment"
                  },
                  "response": {
                    "$ref": "SasPortalDeployment"
                  }
                },
                "list": {
                  "id": "prod_tt_sasportal.customers.nodes.deployments.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/deployments",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "description": "Lists deployments.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of deployments to return in the response.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  },
                  "httpMethod": "GET"
                }
              }
            }
          },
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "prod_tt_sasportal.customers.nodes.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the node."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "description": "Returns a requested node.",
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalNode"
              }
            },
            "create": {
              "id": "prod_tt_sasportal.customers.nodes.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/nodes",
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "description": "Creates a new node.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent resource name where the node is to be created.",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalNode"
              },
              "response": {
                "$ref": "SasPortalNode"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "prod_tt_sasportal.customers.nodes.list",
              "parameters": {
                "filter": {
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of nodes to return in the response.",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/nodes",
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "description": "Lists nodes.",
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalListNodesResponse"
              }
            },
            "move": {
              "id": "prod_tt_sasportal.customers.nodes.move",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}:move",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}:move",
              "description": "Moves a node under another node or customer.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the node to move.",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "response": {
                "$ref": "SasPortalOperation"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "description": "Deletes a node.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the node.",
                  "required": true,
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "id": "prod_tt_sasportal.customers.nodes.delete",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "id": "prod_tt_sasportal.customers.nodes.patch",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "SasPortalNode"
              },
              "response": {
                "$ref": "SasPortalNode"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "description": "Updates an existing node.",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Output only. Resource name.",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Fields to be updated.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              }
            }
          }
        },
        "deployments": {
          "methods": {
            "create": {
              "id": "prod_tt_sasportal.customers.deployments.create",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/deployments",
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "description": "Creates a new deployment.",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource name where the deployment is to be created.",
                  "type": "string"
                }
              }
            },
            "list": {
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of deployments to return in the response.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/deployments",
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "description": "Lists deployments.",
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "prod_tt_sasportal.customers.deployments.list"
            },
            "move": {
              "parameterOrder": [
                "name"
              ],
              "id": "prod_tt_sasportal.customers.deployments.move",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the deployment to move.",
                  "required": true,
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1alpha1/{+name}:move",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}:move",
              "description": "Moves a deployment under another node or customer.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "delete": {
              "id": "prod_tt_sasportal.customers.deployments.delete",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "httpMethod": "DELETE",
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "description": "Deletes a deployment.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the deployment.",
                  "type": "string"
                }
              }
            },
            "patch": {
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "location": "path",
                  "description": "Output only. Resource name."
                },
                "updateMask": {
                  "location": "query",
                  "description": "Fields to be updated.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "description": "Updates an existing deployment.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "prod_tt_sasportal.customers.deployments.patch"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "description": "Returns a requested deployment.",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the deployment.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "id": "prod_tt_sasportal.customers.deployments.get",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "createSigned": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "prod_tt_sasportal.customers.deployments.devices.createSigned",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices:createSigned",
                  "description": "Creates a signed device under a node or customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                },
                "list": {
                  "id": "prod_tt_sasportal.customers.deployments.devices.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/devices",
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "description": "Lists devices under a node or customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the parent resource."
                    }
                  },
                  "path": "v1alpha1/{+parent}/devices",
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "description": "Creates a device under a node or customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "prod_tt_sasportal.customers.deployments.devices.create"
                }
              }
            }
          }
        },
        "devices": {
          "methods": {
            "signDevice": {
              "id": "prod_tt_sasportal.customers.devices.signDevice",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}:signDevice",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:signDevice",
              "description": "Signs a device.",
              "parameters": {
                "name": {
                  "description": "Output only. The resource path name.",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalEmpty"
              }
            },
            "createSigned": {
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the parent resource.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/devices:createSigned",
              "flatPath": "v1alpha1/customers/{customersId}/devices:createSigned",
              "description": "Creates a signed device under a node or customer.",
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "prod_tt_sasportal.customers.devices.createSigned"
            },
            "updateSigned": {
              "id": "prod_tt_sasportal.customers.devices.updateSigned",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}:updateSigned",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:updateSigned",
              "description": "Updates a signed device.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the device to update.",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "description": "Deletes a device.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the device.",
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "id": "prod_tt_sasportal.customers.devices.delete",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "id": "prod_tt_sasportal.customers.devices.patch",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Output only. The resource path name.",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Fields to be updated.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "description": "Updates a device.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "response": {
                "$ref": "SasPortalDevice"
              }
            },
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the parent resource.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/devices",
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "description": "Creates a device under a node or customer.",
              "parameterOrder": [
                "parent"
              ],
              "id": "prod_tt_sasportal.customers.devices.create"
            },
            "list": {
              "path": "v1alpha1/{+parent}/devices",
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "description": "Lists devices under a node or customer.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the parent resource.",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "httpMethod": "GET",
              "id": "prod_tt_sasportal.customers.devices.list",
              "parameterOrder": [
                "parent"
              ]
            },
            "move": {
              "path": "v1alpha1/{+name}:move",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:move",
              "description": "Moves a device under another node or customer.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the device to move.",
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SasPortalOperation"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "id": "prod_tt_sasportal.customers.devices.move",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the device.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "description": "Gets details about a device.",
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "prod_tt_sasportal.customers.devices.get"
            }
          }
        }
      }
    },
    "nodes": {
      "resources": {
        "nodes": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the node."
                }
              },
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "description": "Deletes a node.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "prod_tt_sasportal.nodes.nodes.delete"
            },
            "patch": {
              "parameters": {
                "name": {
                  "description": "Output only. Resource name.",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Fields to be updated.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "description": "Updates an existing node.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "SasPortalNode"
              },
              "response": {
                "$ref": "SasPortalNode"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "prod_tt_sasportal.nodes.nodes.patch"
            },
            "list": {
              "id": "prod_tt_sasportal.nodes.nodes.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+parent}/nodes",
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
              "description": "Lists nodes.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of nodes to return in the response.",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^nodes/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent resource name, for example, \"nodes/1\"."
[...]
