{
  "title": "Cloud Pub/Sub API",
  "ownerName": "Google",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://pubsub.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://pubsub.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://pubsub.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://pubsub.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://pubsub.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://pubsub.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://pubsub.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://pubsub.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://pubsub.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://pubsub.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://pubsub.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://pubsub.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://pubsub.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://pubsub.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://pubsub.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://pubsub.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://pubsub.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://pubsub.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://pubsub.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://pubsub.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://pubsub.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://pubsub.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://pubsub.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://pubsub.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://pubsub.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "endpointUrl": "https://pubsub.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://pubsub.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://pubsub.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://pubsub.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://pubsub.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://pubsub.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://pubsub.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://pubsub.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://pubsub.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://pubsub.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://pubsub.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "basePath": "",
  "rootUrl": "https://pubsub.googleapis.com/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "Provides reliable, many-to-many, asynchronous messaging between applications. ",
  "kind": "discovery#restDescription",
  "name": "pubsub",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/pubsub": {
          "description": "View and manage Pub/Sub topics and subscriptions"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://pubsub.mtls.googleapis.com/",
  "resources": {
    "subscriptions": {
      "methods": {
        "pullBatch": {
          "parameterOrder": [],
          "path": "v1beta1a/subscriptions/pullBatch",
          "flatPath": "v1beta1a/subscriptions/pullBatch",
          "description": "Pulls messages from the server. Returns an empty list if there are no messages available in the backlog. The system is free to return UNAVAILABLE if there are too many pull requests outstanding for the given subscription.",
          "id": "pubsub.subscriptions.pullBatch",
          "httpMethod": "POST",
          "request": {
            "$ref": "PullBatchRequest"
          },
          "response": {
            "$ref": "PullBatchResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "modifyAckDeadline": {
          "request": {
            "$ref": "ModifyAckDeadlineRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "POST",
          "id": "pubsub.subscriptions.modifyAckDeadline",
          "parameterOrder": [],
          "parameters": {},
          "description": "Modifies the Ack deadline for a message received from a pull request.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/subscriptions/modifyAckDeadline",
          "path": "v1beta1a/subscriptions/modifyAckDeadline"
        },
        "modifyPushConfig": {
          "parameters": {},
          "request": {
            "$ref": "ModifyPushConfigRequest"
          },
          "parameterOrder": [],
          "flatPath": "v1beta1a/subscriptions/modifyPushConfig",
          "id": "pubsub.subscriptions.modifyPushConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Empty"
          },
          "description": "Modifies the PushConfig for a specified subscription. This method can be used to suspend the flow of messages to an endpoint by clearing the PushConfig field in the request. Messages will be accumulated for delivery even if no push configuration is defined or while the configuration is modified.",
          "path": "v1beta1a/subscriptions/modifyPushConfig"
        },
        "acknowledge": {
          "path": "v1beta1a/subscriptions/acknowledge",
          "parameters": {},
          "flatPath": "v1beta1a/subscriptions/acknowledge",
          "id": "pubsub.subscriptions.acknowledge",
          "description": "Acknowledges a particular received message: the Pub/Sub system can remove the given message from the subscription. Acknowledging a message whose Ack deadline has expired may succeed, but the message could have been already redelivered. Acknowledging a message more than once will not result in an error. This is only used for messages received via pull.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "request": {
            "$ref": "AcknowledgeRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "pubsub.subscriptions.delete",
          "path": "v1beta1a/subscriptions/{+subscription}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "description": "Deletes an existing subscription. All pending messages in the subscription are immediately dropped. Calls to Pull after deletion will return NOT_FOUND.",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "subscription": {
              "required": true,
              "pattern": "^.*$",
              "type": "string",
              "location": "path",
              "description": "The subscription to delete."
            }
          },
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "parameterOrder": [
            "subscription"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "path": "v1beta1a/subscriptions",
          "flatPath": "v1beta1a/subscriptions",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The value obtained in the last ListSubscriptionsResponse for continuation.",
              "type": "string"
            },
            "query": {
              "description": "A valid label query expression.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of subscriptions to return.",
              "location": "query",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "ListSubscriptionsResponse"
          },
          "parameterOrder": [],
          "id": "pubsub.subscriptions.list",
          "httpMethod": "GET",
          "description": "Lists matching subscriptions."
        },
        "pull": {
          "flatPath": "v1beta1a/subscriptions/pull",
          "parameters": {},
          "id": "pubsub.subscriptions.pull",
          "parameterOrder": [],
          "description": "Pulls a single message from the server. If return_immediately is true, and no messages are available in the subscription, this method returns FAILED_PRECONDITION. The system is free to return an UNAVAILABLE error if no messages are available in a reasonable amount of time (to reduce system load).",
          "path": "v1beta1a/subscriptions/pull",
          "request": {
            "$ref": "PullRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "PullResponse"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "description": "Gets the configuration details of a subscription.",
          "path": "v1beta1a/subscriptions/{+subscription}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Subscription"
          },
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "id": "pubsub.subscriptions.get",
          "parameterOrder": [
            "subscription"
          ],
          "parameters": {
            "subscription": {
              "location": "path",
              "pattern": "^.*$",
              "type": "string",
              "description": "The name of the subscription to get.",
              "required": true
            }
          }
        },
        "create": {
          "path": "v1beta1a/subscriptions",
          "response": {
            "$ref": "Subscription"
          },
          "request": {
            "$ref": "Subscription"
          },
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "httpMethod": "POST",
          "description": "Creates a subscription on a given topic for a given subscriber. If the subscription already exists, returns ALREADY_EXISTS. If the corresponding topic doesn't exist, returns NOT_FOUND. If the name is not provided in the request, the server will assign a random name for this subscription on the same project as the topic.",
          "flatPath": "v1beta1a/subscriptions",
          "id": "pubsub.subscriptions.create"
        }
      }
    },
    "topics": {
      "methods": {
        "publish": {
          "path": "v1beta1a/topics/publish",
          "response": {
            "$ref": "Empty"
          },
          "description": "Adds a message to the topic. Returns NOT_FOUND if the topic does not exist.",
          "httpMethod": "POST",
          "request": {
            "$ref": "PublishRequest"
          },
          "parameterOrder": [],
          "id": "pubsub.topics.publish",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {},
          "flatPath": "v1beta1a/topics/publish"
        },
        "get": {
          "parameters": {
            "topic": {
              "location": "path",
              "type": "string",
              "pattern": "^.*$",
              "description": "The name of the topic to get.",
              "required": true
            }
          },
          "description": "Gets the configuration of a topic. Since the topic only has the name attribute, this method is only useful to check the existence of a topic. If other attributes are added in the future, they will be returned here.",
          "flatPath": "v1beta1a/topics/{topicsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "id": "pubsub.topics.get",
          "httpMethod": "GET",
          "path": "v1beta1a/topics/{+topic}",
          "parameterOrder": [
            "topic"
          ],
          "response": {
            "$ref": "Topic"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "response": {
            "$ref": "ListTopicsResponse"
          },
          "httpMethod": "GET",
          "id": "pubsub.topics.list",
          "path": "v1beta1a/topics",
          "parameters": {
            "pageToken": {
              "description": "The value obtained in the last ListTopicsResponse for continuation.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of topics to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "query": {
              "description": "A valid label query expression.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1beta1a/topics",
          "description": "Lists matching topics.",
          "parameterOrder": []
        },
        "create": {
          "httpMethod": "POST",
          "response": {
            "$ref": "Topic"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "id": "pubsub.topics.create",
          "description": "Creates the given topic with the given name.",
          "parameterOrder": [],
          "flatPath": "v1beta1a/topics",
          "parameters": {},
          "path": "v1beta1a/topics",
          "request": {
            "$ref": "Topic"
          }
        },
        "delete": {
          "path": "v1beta1a/topics/{+topic}",
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "topic"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {
            "topic": {
              "required": true,
              "type": "string",
              "pattern": "^.*$",
              "location": "path",
              "description": "Name of the topic to delete."
            }
          },
          "id": "pubsub.topics.delete",
          "description": "Deletes the topic with the given name. Returns NOT_FOUND if the topic does not exist. After a topic is deleted, a new topic may be created with the same name.",
          "flatPath": "v1beta1a/topics/{topicsId}"
        },
        "publishBatch": {
          "id": "pubsub.topics.publishBatch",
          "flatPath": "v1beta1a/topics/publishBatch",
          "parameters": {},
          "request": {
            "$ref": "PublishBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [],
          "description": "Adds one or more messages to the topic. Returns NOT_FOUND if the topic does not exist.",
          "response": {
            "$ref": "PublishBatchResponse"
          },
          "path": "v1beta1a/topics/publishBatch",
          "httpMethod": "POST"
        }
      }
    }
  },
  "revision": "20260924",
  "schemas": {
    "PublishBatchResponse": {
      "properties": {
        "messageIds": {
          "description": "The server-assigned ID of each published message, in the same order as the messages in the request. IDs are guaranteed to be unique within the topic.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response for the PublishBatch method.",
      "id": "PublishBatchResponse",
      "type": "object"
    },
    "PubsubEvent": {
      "id": "PubsubEvent",
      "type": "object",
      "description": "An event indicating a received message or truncation event.",
      "properties": {
        "message": {
          "$ref": "PubsubMessage",
          "description": "A received message."
        },
        "deleted": {
          "description": "Indicates that this subscription has been deleted. (Note that pull subscribers will always receive NOT_FOUND in response in their pull request on the subscription, rather than seeing this boolean.)",
          "type": "boolean"
        },
        "subscription": {
          "description": "The subscription that received the event.",
          "type": "string"
        },
        "truncated": {
          "description": "Indicates that this subscription has been truncated.",
          "type": "boolean"
        }
      }
    },
    "AcknowledgeRequest": {
      "type": "object",
      "properties": {
        "ackId": {
          "items": {
            "type": "string"
          },
          "description": "The acknowledgment ID for the message being acknowledged. This was returned by the Pub/Sub system in the Pull response.",
          "type": "array"
        },
        "subscription": {
          "description": "The subscription whose message is being acknowledged.",
          "type": "string"
        }
      },
      "id": "AcknowledgeRequest",
      "description": "Request for the Acknowledge method."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "An empty message that you can re-use to avoid defining duplicated empty messages in your project. A typical example is to use it as argument or the return value of a service API. For instance: service Foo { rpc Bar (proto2.Empty) returns (proto2.Empty) { }; }; BEGIN GOOGLE-INTERNAL The difference between this one and net/rpc/empty-message.proto is that 1) The generated message here is in proto2 C++ API. 2) The proto2.Empty has minimum dependencies (no message_set or net/rpc dependencies) END GOOGLE-INTERNAL",
      "properties": {}
    },
    "PullResponse": {
      "id": "PullResponse",
      "description": "Either a PubsubMessage or a truncation event. One of these two must be populated.",
      "type": "object",
      "properties": {
        "ackId": {
          "description": "This ID must be used to acknowledge the received event or message.",
          "type": "string"
        },
        "pubsubEvent": {
          "description": "A pubsub message or truncation event.",
          "$ref": "PubsubEvent"
        }
      }
    },
    "PubsubMessage": {
      "properties": {
        "label": {
          "items": {
            "$ref": "Label"
          },
          "type": "array",
          "description": "Optional list of labels for this message. Keys in this collection must be unique."
        },
        "publishTime": {
          "description": "The time at which the message was published. The time is milliseconds since the UNIX epoch.",
          "type": "string",
          "format": "int64"
        },
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The message payload."
        },
        "messageId": {
          "description": "ID of this message assigned by the server at publication time. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a PubsubMessage via a Pull call or a push delivery. It must not be populated by a publisher in a Publish call.",
          "type": "string"
        }
      },
      "description": "A message data and its labels.",
      "type": "object",
      "id": "PubsubMessage"
    },
    "PublishOperation": {
      "description": "Telemetry about a `Publish` operation which may or may not be common across individual RPCs.",
      "id": "PublishOperation",
      "properties": {
        "publishStartTime": {
          "format": "google-datetime",
          "description": "Optional. Time at which the `publish()` call was initiated in the client library, meaning across all RPC retry attempts, see [grpc retries](https://grpc.io/docs/guides/retry/). Provides a sense of the end-to-end publish duration from the client perspective, across retries.",
          "type": "string"
        },
        "hedgedAttemptCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. If the publisher client is using publish hedging, provides the attempt count for the hedge (starting at 1). A value of 0 indicates that the request was not hedged."
        }
      },
      "type": "object"
    },
    "PushConfig": {
      "id": "PushConfig",
      "properties": {
        "pushEndpoint": {
          "type": "string",
          "description": "A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use \"https://example.com/push\"."
        }
      },
      "type": "object",
      "description": "Configuration for a push delivery endpoint."
    },
    "PubsubClientTelemetry": {
      "description": "Client-side telemetry about Pub/Sub requests, useful for debugging purposes. If the client opts to provide this information, it will be passed as a serialized proto in the `x-goog-pubsub-client-telemetry` header.",
      "type": "object",
      "id": "PubsubClientTelemetry",
      "properties": {
        "publishOperation": {
          "description": "Optional. Telemetry about a `Publish` operation.",
          "$ref": "PublishOperation"
        }
      }
    },
    "PublishBatchRequest": {
      "properties": {
        "topic": {
          "description": "The messages in the request will be published on this topic.",
          "type": "string"
        },
        "messages": {
          "type": "array",
          "description": "The messages to publish.",
          "items": {
            "$ref": "PubsubMessage"
          }
        }
      },
      "id": "PublishBatchRequest",
      "description": "Request for the PublishBatch method.",
      "type": "object"
    },
    "PullBatchResponse": {
      "properties": {
        "pullResponses": {
          "description": "Received Pub/Sub messages or status events. The Pub/Sub system will return zero messages if there are no more messages available in the backlog. The Pub/Sub system may return fewer than the max_events requested even if there are more messages available in the backlog.",
          "items": {
            "$ref": "PullResponse"
          },
          "type": "array"
        }
      },
      "id": "PullBatchResponse",
      "description": "Response for the PullBatch method.",
      "type": "object"
    },
    "ModifyAckDeadlineRequest": {
      "id": "ModifyAckDeadlineRequest",
      "description": "Request for the ModifyAckDeadline method.",
      "properties": {
        "ackId": {
          "description": "The acknowledgment ID. Either this or ack_ids must be populated, not both.",
          "type": "string",
          "deprecated": true
        },
        "ackIds": {
          "type": "array",
          "description": "List of acknowledgment IDs. Either this field or ack_id should be populated, not both.",
          "items": {
            "type": "string"
          }
        },
        "ackDeadlineSeconds": {
          "format": "int32",
          "description": "The new ack deadline with respect to the time this request was sent to the Pub/Sub system. Must be >= 0. For example, if the value is 10, the new ack deadline will expire 10 seconds after the ModifyAckDeadline call was made. Specifying zero may immediately make the message available for another pull request.",
          "type": "integer"
        },
        "subscription": {
          "description": "Next Index: 5 The name of the subscription from which messages are being pulled.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Subscription": {
      "id": "Subscription",
      "description": "A subscription resource.",
      "properties": {
        "topic": {
          "description": "The name of the topic from which this subscription is receiving messages.",
          "type": "string"
        },
        "pushConfig": {
          "description": "If push delivery is used with this subscription, this field is used to configure it.",
          "$ref": "PushConfig"
        },
        "name": {
          "description": "Name of the subscription.",
          "type": "string"
        },
        "ackDeadlineSeconds": {
          "type": "integer",
          "description": "For either push or pull delivery, the value is the maximum time after a subscriber receives a message before the subscriber should acknowledge or Nack the message. If the Ack deadline for a message passes without an Ack or a Nack, the Pub/Sub system will eventually redeliver the message. If a subscriber acknowledges after the deadline, the Pub/Sub system may accept the Ack, but it is possible that the message has been already delivered again. Multiple Acks to the message are allowed and will succeed. For push delivery, this value is used to set the request timeout for the call to the push endpoint. For pull delivery, this value is used as the initial value for the Ack deadline. It may be overridden for each message using its corresponding ack_id with ModifyAckDeadline. While a message is outstanding (i.e. it has been delivered to a pull subscriber and the subscriber has not yet Acked or Nacked), the Pub/Sub system will not deliver that message to another pull subscriber (on a best-effort basis).",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ModifyPushConfigRequest": {
      "type": "object",
      "description": "Request for the ModifyPushConfig method.",
      "id": "ModifyPushConfigRequest",
      "properties": {
        "pushConfig": {
          "$ref": "PushConfig",
          "description": "An empty push_config indicates that the Pub/Sub system should pause pushing messages from the given subscription."
        },
        "subscription": {
          "description": "The name of the subscription.",
          "type": "string"
        }
      }
    },
    "PullRequest": {
      "properties": {
        "returnImmediately": {
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning FAILED_PRECONDITION. The client may cancel the request if it does not wish to wait any longer for the response.",
          "type": "boolean"
        },
        "subscription": {
          "type": "string",
          "description": "The subscription from which a message should be pulled."
        }
      },
      "id": "PullRequest",
      "description": "Request for the Pull method.",
      "type": "object"
    },
    "ListTopicsResponse": {
      "properties": {
        "topic": {
          "type": "array",
          "items": {
            "$ref": "Topic"
          },
          "description": "The resulting topics."
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there are more topics that match the request, and this value should be passed to the next ListTopicsRequest to continue.",
          "type": "string"
        }
      },
      "id": "ListTopicsResponse",
      "description": "Response for the ListTopics method.",
      "type": "object"
    },
    "Topic": {
      "type": "object",
      "description": "A topic resource.",
      "id": "Topic",
      "properties": {
        "name": {
          "description": "Name of the topic.",
          "type": "string"
        }
      }
    },
    "ListSubscriptionsResponse": {
      "id": "ListSubscriptionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If not empty, indicates that there are more subscriptions that match the request and this value should be passed to the next ListSubscriptionsRequest to continue.",
          "type": "string"
        },
        "subscription": {
          "items": {
            "$ref": "Subscription"
          },
          "type": "array",
          "description": "The subscriptions that match the request."
        }
      },
      "description": "Response for the ListSubscriptions method."
    },
    "Label": {
      "description": "A key-value pair applied to a given object.",
      "id": "Label",
      "properties": {
        "key": {
          "description": "The key of a label is a syntactically valid URL (as per RFC 1738) with the \"scheme\" and initial slashes omitted and with the additional restrictions noted below. Each key should be globally unique. The \"host\" portion is called the \"namespace\" and is not necessarily resolvable to a network endpoint. Instead, the namespace indicates what system or entity defines the semantics of the label. Namespaces do not restrict the set of objects to which a label may be associated. Keys are defined by the following grammar: key = hostname \"/\" kpath kpath = ksegment *[ \"/\" ksegment ] ksegment = alphadigit | *[ alphadigit | \"-\" | \"_\" | \".\" ] where \"hostname\" and \"alphadigit\" are defined as in RFC 1738. Example key: spanner.google.com/universe",
          "type": "string"
        },
        "strValue": {
          "description": "A string value.",
          "type": "string"
        },
        "numValue": {
          "format": "int64",
          "description": "An integer value.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PublishRequest": {
      "type": "object",
      "id": "PublishRequest",
      "description": "Request for the Publish method.",
      "properties": {
        "topic": {
          "type": "string",
          "description": "The message in the request will be published on this topic."
        },
        "message": {
          "$ref": "PubsubMessage",
          "description": "The message to publish."
        }
      }
    },
    "PullBatchRequest": {
      "description": "Request for the PullBatch method.",
      "properties": {
        "maxEvents": {
          "format": "int32",
          "description": "The maximum number of PubsubEvents returned for this request. The Pub/Sub system may return fewer than the number of events specified.",
          "type": "integer"
        },
        "returnImmediately": {
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning no messages. The client may cancel the request if it does not wish to wait any longer for the response.",
          "type": "boolean"
        },
        "subscription": {
          "type": "string",
          "description": "The subscription from which messages should be pulled."
        }
      },
      "type": "object",
      "id": "PullBatchRequest"
    }
  },
  "id": "pubsub:v1beta1a",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "servicePath": "",
  "canonicalName": "Pubsub",
  "documentationLink": "https://cloud.google.com/pubsub/docs",
  "ownerDomain": "google.com",
  "version": "v1beta1a",
  "baseUrl": "https://pubsub.googleapis.com/",
  "batchPath": "batch"
}