{
  "discoveryVersion": "v1",
  "name": "pubsublite",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "title": "Pub/Sub Lite API",
  "id": "pubsublite:v1",
  "mtlsRootUrl": "https://pubsublite.mtls.googleapis.com/",
  "version_module": true,
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "schemas": {
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "target": {
          "description": "Resource path for the target of the operation. For example, targets of seeks are subscription resources, structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
          "type": "string"
        },
        "endTime": {
          "description": "The time the operation finished running. Not set if the operation has not completed.",
          "format": "google-datetime",
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "Name of the verb executed by the operation."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time the operation was created.",
          "type": "string"
        }
      },
      "description": "Metadata for long running operations.",
      "id": "OperationMetadata"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ComputeMessageStatsResponse": {
      "type": "object",
      "properties": {
        "messageCount": {
          "format": "int64",
          "description": "The count of messages.",
          "type": "string"
        },
        "messageBytes": {
          "type": "string",
          "description": "The number of quota bytes accounted to these messages.",
          "format": "int64"
        },
        "minimumPublishTime": {
          "format": "google-datetime",
          "description": "The minimum publish timestamp across these messages. Note that publish timestamps within a partition are not guaranteed to be non-decreasing. The timestamp will be unset if there are no messages.",
          "type": "string"
        },
        "minimumEventTime": {
          "type": "string",
          "description": "The minimum event timestamp across these messages. For the purposes of this computation, if a message does not have an event time, we use the publish time. The timestamp will be unset if there are no messages.",
          "format": "google-datetime"
        }
      },
      "id": "ComputeMessageStatsResponse",
      "description": "Response containing stats for messages in the requested topic and partition."
    },
    "SeekSubscriptionResponse": {
      "type": "object",
      "properties": {},
      "id": "SeekSubscriptionResponse",
      "description": "Response for SeekSubscription long running operation."
    },
    "Operation": {
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    },
    "ComputeHeadCursorResponse": {
      "id": "ComputeHeadCursorResponse",
      "properties": {
        "headCursor": {
          "description": "The head cursor.",
          "$ref": "Cursor"
        }
      },
      "description": "Response containing the head cursor for the requested topic and partition.",
      "type": "object"
    },
    "TopicPartitions": {
      "type": "object",
      "description": "Response for GetTopicPartitions.",
      "id": "TopicPartitions",
      "properties": {
        "partitionCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of partitions in the topic."
        }
      }
    },
    "PartitionCursor": {
      "id": "PartitionCursor",
      "description": "A pair of a Cursor and the partition it is for.",
      "properties": {
        "partition": {
          "type": "string",
          "format": "int64",
          "description": "The partition this is for."
        },
        "cursor": {
          "description": "The value of the cursor.",
          "$ref": "Cursor"
        }
      },
      "type": "object"
    },
    "DeliveryConfig": {
      "properties": {
        "deliveryRequirement": {
          "description": "The DeliveryRequirement for this subscription.",
          "type": "string",
          "enum": [
            "DELIVERY_REQUIREMENT_UNSPECIFIED",
            "DELIVER_IMMEDIATELY",
            "DELIVER_AFTER_STORED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The server does not wait for a published message to be successfully written to storage before delivering it to subscribers.",
            "The server will not deliver a published message to subscribers until the message has been successfully written to storage. This will result in higher end-to-end latency, but consistent delivery."
          ]
        }
      },
      "id": "DeliveryConfig",
      "type": "object",
      "description": "The settings for a subscription's message delivery."
    },
    "ComputeHeadCursorRequest": {
      "description": "Compute the current head cursor for a partition.",
      "type": "object",
      "id": "ComputeHeadCursorRequest",
      "properties": {
        "partition": {
          "type": "string",
          "description": "Required. The partition for which we should compute the head cursor.",
          "format": "int64"
        }
      }
    },
    "ReservationConfig": {
      "properties": {
        "throughputReservation": {
          "type": "string",
          "description": "The Reservation to use for this topic's throughput capacity. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}"
        }
      },
      "type": "object",
      "id": "ReservationConfig",
      "description": "The settings for this topic's Reservation usage."
    },
    "CommitCursorRequest": {
      "description": "Request for CommitCursor.",
      "properties": {
        "partition": {
          "format": "int64",
          "type": "string",
          "description": "The partition for which to update the cursor. Partitions are zero indexed, so `partition` must be in the range [0, topic.num_partitions)."
        },
        "cursor": {
          "description": "The new value for the committed cursor.",
          "$ref": "Cursor"
        }
      },
      "id": "CommitCursorRequest",
      "type": "object"
    },
    "Subscription": {
      "id": "Subscription",
      "type": "object",
      "description": "Metadata about a subscription resource.",
      "properties": {
        "topic": {
          "description": "The name of the topic this subscription is attached to. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
          "type": "string"
        },
        "exportConfig": {
          "$ref": "ExportConfig",
          "description": "If present, messages are automatically written from the Pub/Sub Lite topic associated with this subscription to a destination."
        },
        "deliveryConfig": {
          "description": "The settings for this subscription's message delivery.",
          "$ref": "DeliveryConfig"
        },
        "name": {
          "description": "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
          "type": "string"
        }
      }
    },
    "Cursor": {
      "type": "object",
      "properties": {
        "offset": {
          "description": "The offset of a message within a topic partition. Must be greater than or equal 0.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Cursor",
      "description": "A cursor that describes the position of a message within a topic partition."
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListReservationsResponse": {
      "description": "Response for ListReservations.",
      "type": "object",
      "properties": {
        "reservations": {
          "description": "The list of reservation in the requested parent. The order of the reservations is unspecified.",
          "items": {
            "$ref": "Reservation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      },
      "id": "ListReservationsResponse"
    },
    "ComputeTimeCursorResponse": {
      "id": "ComputeTimeCursorResponse",
      "properties": {
        "cursor": {
          "$ref": "Cursor",
          "description": "If present, the cursor references the first message with time greater than or equal to the specified target time. If such a message cannot be found, the cursor will be unset (i.e. `cursor` is not present)."
        }
      },
      "type": "object",
      "description": "Response containing the cursor corresponding to a publish or event time in a topic partition."
    },
    "Reservation": {
      "id": "Reservation",
      "description": "Metadata about a reservation resource.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the reservation. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}"
        },
        "throughputCapacity": {
          "format": "int64",
          "description": "The reserved throughput capacity. Every unit of throughput capacity is equivalent to 1 MiB/s of published messages or 2 MiB/s of subscribed messages. Any topics which are declared as using capacity from a Reservation will consume resources from this reservation instead of being charged individually.",
          "type": "string"
        }
      }
    },
    "ExportConfig": {
      "description": "Configuration for a Pub/Sub Lite subscription that writes messages to a destination. User subscriber clients must not connect to this subscription.",
      "id": "ExportConfig",
      "type": "object",
      "properties": {
        "currentState": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Messages are being exported.",
            "Exporting messages is suspended.",
            "Messages cannot be exported due to permission denied errors. Output only.",
            "Messages cannot be exported due to missing resources. Output only."
          ],
          "type": "string",
          "description": "Output only. The current state of the export, which may be different to the desired state due to errors. This field is output only."
        },
        "desiredState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Messages are being exported.",
            "Exporting messages is suspended.",
            "Messages cannot be exported due to permission denied errors. Output only.",
            "Messages cannot be exported due to missing resources. Output only."
          ],
          "type": "string",
          "description": "The desired state of this export. Setting this to values other than `ACTIVE` and `PAUSED` will result in an error."
        },
        "deadLetterTopic": {
          "description": "Optional. The name of an optional Pub/Sub Lite topic to publish messages that can not be exported to the destination. For example, the message can not be published to the Pub/Sub service because it does not satisfy the constraints documented at https://cloud.google.com/pubsub/docs/publisher. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}. Must be within the same project and location as the subscription. The topic may be changed or removed.",
          "type": "string"
        },
        "pubsubConfig": {
          "$ref": "PubSubConfig",
          "description": "Messages are automatically written from the Pub/Sub Lite topic associated with this subscription to a Pub/Sub topic."
        }
      }
    },
    "ListPartitionCursorsResponse": {
      "id": "ListPartitionCursorsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "partitionCursors": {
          "type": "array",
          "items": {
            "$ref": "PartitionCursor"
          },
          "description": "The partition cursors from this request."
        }
      },
      "description": "Response for ListPartitionCursors"
    },
    "RetentionConfig": {
      "properties": {
        "perPartitionBytes": {
          "type": "string",
          "description": "The provisioned storage, in bytes, per partition. If the number of bytes stored in any of the topic's partitions grows beyond this value, older messages will be dropped to make room for newer ones, regardless of the value of `period`.",
          "format": "int64"
        },
        "period": {
          "format": "google-duration",
          "description": "How long a published message is retained. If unset, messages will be retained as long as the bytes retained for each partition is below `per_partition_bytes`.",
          "type": "string"
        }
      },
      "id": "RetentionConfig",
      "description": "The settings for a topic's message retention.",
      "type": "object"
    },
    "CommitCursorResponse": {
      "type": "object",
      "properties": {},
      "id": "CommitCursorResponse",
      "description": "Response for CommitCursor."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "SeekSubscriptionRequest": {
      "type": "object",
      "id": "SeekSubscriptionRequest",
      "description": "Request for SeekSubscription.",
      "properties": {
        "timeTarget": {
          "description": "Seek to the first message whose publish or event time is greater than or equal to the specified query time. If no such message can be located, will seek to the end of the message backlog.",
          "$ref": "TimeTarget"
        },
        "namedTarget": {
          "enumDescriptions": [
            "Unspecified named target. Do not use.",
            "Seek to the oldest retained message.",
            "Seek past all recently published messages, skipping the entire message backlog."
          ],
          "type": "string",
          "description": "Seek to a named position with respect to the message backlog.",
          "enum": [
            "NAMED_TARGET_UNSPECIFIED",
            "TAIL",
            "HEAD"
          ]
        }
      }
    },
    "ListReservationTopicsResponse": {
      "type": "object",
      "id": "ListReservationTopicsResponse",
      "properties": {
        "topics": {
          "description": "The names of topics attached to the reservation. The order of the topics is unspecified.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "description": "Response for ListReservationTopics."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "PartitionConfig": {
      "properties": {
        "count": {
          "description": "The number of partitions in the topic. Must be at least 1. Once a topic has been created the number of partitions can be increased but not decreased. Message ordering is not guaranteed across a topic resize. For more information see https://cloud.google.com/pubsub/lite/docs/topics#scaling_capacity",
          "type": "string",
          "format": "int64"
        },
        "capacity": {
          "description": "The capacity configuration.",
          "$ref": "Capacity"
        },
        "scale": {
          "format": "int32",
          "type": "integer",
          "description": "DEPRECATED: Use capacity instead which can express a superset of configurations. Every partition in the topic is allocated throughput equivalent to `scale` times the standard partition throughput (4 MiB/s). This is also reflected in the cost of this topic; a topic with `scale` of 2 and count of 10 is charged for 20 partitions. This value must be in the range [1,4].",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "The settings for a topic's partitions.",
      "id": "PartitionConfig"
    },
    "Capacity": {
      "type": "object",
      "id": "Capacity",
      "description": "The throughput capacity configuration for each partition.",
      "properties": {
        "subscribeMibPerSec": {
          "description": "Subscribe throughput capacity per partition in MiB/s. Must be >= 4 and <= 32.",
          "type": "integer",
          "format": "int32"
        },
        "publishMibPerSec": {
          "type": "integer",
          "description": "Publish throughput capacity per partition in MiB/s. Must be >= 4 and <= 16.",
          "format": "int32"
        }
      }
    },
    "ListTopicSubscriptionsResponse": {
      "id": "ListTopicSubscriptionsResponse",
      "description": "Response for ListTopicSubscriptions.",
      "properties": {
        "subscriptions": {
          "description": "The names of subscriptions attached to the topic. The order of the subscriptions is unspecified.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Topic": {
      "type": "object",
      "properties": {
        "partitionConfig": {
          "description": "The settings for this topic's partitions.",
          "$ref": "PartitionConfig"
        },
        "reservationConfig": {
          "description": "The settings for this topic's Reservation usage.",
          "$ref": "ReservationConfig"
        },
        "name": {
          "description": "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
          "type": "string"
        },
        "retentionConfig": {
          "description": "The settings for this topic's message retention.",
          "$ref": "RetentionConfig"
        }
      },
      "id": "Topic",
      "description": "Metadata about a topic resource."
    },
    "ComputeTimeCursorRequest": {
      "type": "object",
      "description": "Compute the corresponding cursor for a publish or event time in a topic partition.",
      "id": "ComputeTimeCursorRequest",
      "properties": {
        "target": {
          "description": "Required. The target publish or event time. Specifying a future time will return an unset cursor.",
          "$ref": "TimeTarget"
        },
        "partition": {
          "description": "Required. The partition for which we should compute the cursor.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "TimeTarget": {
      "id": "TimeTarget",
      "type": "object",
      "description": "A target publish or event time. Can be used for seeking to or retrieving the corresponding cursor.",
      "properties": {
        "publishTime": {
          "type": "string",
          "description": "Request the cursor of the first message with publish time greater than or equal to `publish_time`. All messages thereafter are guaranteed to have publish times >= `publish_time`.",
          "format": "google-datetime"
        },
        "eventTime": {
          "description": "Request the cursor of the first message with event time greater than or equal to `event_time`. If messages are missing an event time, the publish time is used as a fallback. As event times are user supplied, subsequent messages may have event times less than `event_time` and should be filtered by the client, if necessary.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ComputeMessageStatsRequest": {
      "id": "ComputeMessageStatsRequest",
      "type": "object",
      "description": "Compute statistics about a range of messages in a given topic and partition.",
      "properties": {
        "startCursor": {
          "description": "The inclusive start of the range.",
          "$ref": "Cursor"
        },
        "endCursor": {
          "description": "The exclusive end of the range. The range is empty if end_cursor <= start_cursor. Specifying a start_cursor before the first message and an end_cursor after the last message will retrieve all messages.",
          "$ref": "Cursor"
        },
        "partition": {
          "description": "Required. The partition for which we should compute message stats.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "PubSubConfig": {
      "type": "object",
      "properties": {
        "topic": {
          "type": "string",
          "description": "The name of the Pub/Sub topic. Structured like: projects/{project_number}/topics/{topic_id}. The topic may be changed."
        }
      },
      "description": "Configuration for exporting to a Pub/Sub topic.",
      "id": "PubSubConfig"
    },
    "ListSubscriptionsResponse": {
      "id": "ListSubscriptionsResponse",
      "properties": {
        "subscriptions": {
          "items": {
            "$ref": "Subscription"
          },
          "type": "array",
          "description": "The list of subscriptions in the requested parent. The order of the subscriptions is unspecified."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "description": "Response for ListSubscriptions.",
      "type": "object"
    },
    "ListTopicsResponse": {
      "type": "object",
      "properties": {
        "topics": {
          "type": "array",
          "description": "The list of topic in the requested parent. The order of the topics is unspecified.",
          "items": {
            "$ref": "Topic"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "description": "Response for ListTopics.",
      "id": "ListTopicsResponse"
    }
  },
  "batchPath": "batch",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://pubsublite.googleapis.com/",
  "documentationLink": "https://cloud.google.com/pubsub/lite/docs",
  "description": "",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "canonicalName": "PubsubLite",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://pubsublite.googleapis.com/",
  "revision": "20260828",
  "servicePath": "",
  "resources": {
    "cursor": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "subscriptions": {
                  "resources": {
                    "cursors": {
                      "methods": {
                        "list": {
                          "httpMethod": "GET",
                          "path": "v1/cursor/{+parent}/cursors",
                          "response": {
                            "$ref": "ListPartitionCursorsResponse"
                          },
                          "flatPath": "v1/cursor/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}/cursors",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "description": "Required. The subscription for which to retrieve cursors. Structured like `projects/{project_number}/locations/{location}/subscriptions/{subscription_id}`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                              "location": "path"
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "description": "The maximum number of cursors to return. The service may return fewer than this value. If unset or zero, all cursors for the parent will be returned.",
                              "location": "query"
                            },
                            "pageToken": {
                              "description": "A page token, received from a previous `ListPartitionCursors` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPartitionCursors` must match the call that provided the page token.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "pubsublite.cursor.projects.locations.subscriptions.cursors.list",
                          "description": "Returns all committed cursor information for a subscription.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "commitCursor": {
                      "request": {
                        "$ref": "CommitCursorRequest"
                      },
                      "flatPath": "v1/cursor/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:commitCursor",
                      "path": "v1/cursor/{+subscription}:commitCursor",
                      "id": "pubsublite.cursor.projects.locations.subscriptions.commitCursor",
                      "parameters": {
                        "subscription": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "description": "The subscription for which to update the cursor.",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "subscription"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "description": "Updates the committed cursor.",
                      "response": {
                        "$ref": "CommitCursorResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "admin": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "operations": {
                  "methods": {
                    "delete": {
                      "httpMethod": "DELETE",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "required": true,
                          "description": "The name of the operation resource to be deleted.",
                          "type": "string"
                        }
                      },
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "path": "v1/admin/{+name}",
                      "id": "pubsublite.admin.projects.locations.operations.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "cancel": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "description": "The name of the operation resource to be cancelled.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "path": "v1/admin/{+name}:cancel",
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "id": "pubsublite.admin.projects.locations.operations.cancel",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/admin/{+name}",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                      "id": "pubsublite.admin.projects.locations.operations.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The name of the operation resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                    },
                    "list": {
                      "id": "pubsublite.admin.projects.locations.operations.list",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "The standard list page size.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "filter": {
                          "location": "query",
                          "description": "The standard list filter.",
                          "type": "string"
                        },
                        "name": {
                          "description": "The name of the operation's parent resource.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "required": true
                        },
                        "returnPartialSuccess": {
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/admin/{+name}/operations",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListOperationsResponse"
                      }
                    }
                  }
                },
                "topics": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns the list of topics for the given project.",
                      "response": {
                        "$ref": "ListTopicsResponse"
                      },
                      "path": "v1/admin/{+parent}/topics",
                      "id": "pubsublite.admin.projects.locations.topics.list",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent whose topics are to be listed. Structured like `projects/{project_number}/locations/{location}`."
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the parent will be returned."
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopics` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "description": "Creates a new topic.",
                      "path": "v1/admin/{+parent}/topics",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.create",
                      "response": {
                        "$ref": "Topic"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Topic"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics",
                      "parameters": {
                        "topicId": {
                          "type": "string",
                          "description": "Required. The ID to use for the topic, which will become the final component of the topic's name. This value is structured like: `my-topic-name`.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent location in which to create the topic. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the topic to delete.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "pubsublite.admin.projects.locations.topics.delete",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes the specified topic.",
                      "path": "v1/admin/{+name}"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "path": "v1/admin/{+name}",
                      "description": "Returns the topic configuration.",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the topic whose configuration to return.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Topic"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "description": "Updates properties of the specified topic.",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Topic"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "path": "v1/admin/{+name}",
                      "parameters": {
                        "name": {
                          "description": "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Required. A mask specifying the topic fields to change.",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "response": {
                        "$ref": "Topic"
                      },
                      "id": "pubsublite.admin.projects.locations.topics.patch"
                    },
                    "getPartitions": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "TopicPartitions"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}/partitions",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "description": "Required. The topic whose partition information to return.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.topics.getPartitions",
                      "description": "Returns the partition information for the requested topic.",
                      "path": "v1/admin/{+name}/partitions"
                    }
                  },
                  "resources": {
                    "subscriptions": {
                      "methods": {
                        "list": {
                          "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}/subscriptions",
                          "description": "Lists the subscriptions attached to the specified topic.",
                          "id": "pubsublite.admin.projects.locations.topics.subscriptions.list",
                          "httpMethod": "GET",
                          "path": "v1/admin/{+name}/subscriptions",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "A page token, received from a previous `ListTopicSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopicSubscriptions` must match the call that provided the page token."
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the given topic will be returned.",
                              "type": "integer"
                            },
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                              "description": "Required. The name of the topic whose subscriptions to list.",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "ListTopicSubscriptionsResponse"
                          }
                        }
                      }
                    }
                  }
                },
                "reservations": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations",
                      "id": "pubsublite.admin.projects.locations.reservations.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListReservationsResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of reservations to return. The service may return fewer than this value. If unset or zero, all reservations for the parent will be returned.",
                          "format": "int32"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent whose reservations are to be listed. Structured like `projects/{project_number}/locations/{location}`."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A page token, received from a previous `ListReservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReservations` must match the call that provided the page token."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/admin/{+parent}/reservations",
                      "description": "Returns the list of reservations for the given project."
                    },
                    "patch": {
                      "request": {
                        "$ref": "Reservation"
                      },
                      "response": {
                        "$ref": "Reservation"
                      },
                      "description": "Updates properties of the specified reservation.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "id": "pubsublite.admin.projects.locations.reservations.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/admin/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "required": true,
                          "description": "The name of the reservation. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}"
                        },
                        "updateMask": {
                          "location": "query",
                          "description": "Required. A mask specifying the reservation fields to change.",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}"
                    },
                    "create": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations",
                      "request": {
                        "$ref": "Reservation"
                      },
                      "description": "Creates a new reservation.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "reservationId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The ID to use for the reservation, which will become the final component of the reservation's name. This value is structured like: `my-reservation-name`."
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "description": "Required. The parent location in which to create the reservation. Structured like `projects/{project_number}/locations/{location}`."
                        }
                      },
                      "path": "v1/admin/{+parent}/reservations",
                      "response": {
                        "$ref": "Reservation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.reservations.create",
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "id": "pubsublite.admin.projects.locations.reservations.delete",
                      "path": "v1/admin/{+name}",
                      "httpMethod": "DELETE",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the reservation to delete. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes the specified reservation.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "description": "Returns the reservation configuration.",
                      "id": "pubsublite.admin.projects.locations.reservations.get",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "path": "v1/admin/{+name}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Reservation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the reservation whose configuration to return. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  },
                  "resources": {
                    "topics": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "ListReservationTopicsResponse"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "pubsublite.admin.projects.locations.reservations.topics.list",
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "Required. The name of the reservation whose topics to list. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "A page token, received from a previous `ListReservationTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReservationTopics` must match the call that provided the page token.",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32",
                              "description": "The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the given reservation will be returned."
                            }
                          },
                          "description": "Lists the topics attached to the specified reservation.",
                          "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/topics",
                          "path": "v1/admin/{+name}/topics"
                        }
                      }
                    }
                  }
                },
                "subscriptions": {
                  "methods": {
                    "list": {
                      "path": "v1/admin/{+parent}/subscriptions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListSubscriptionsResponse"
                      },
                      "id": "pubsublite.admin.projects.locations.subscriptions.list",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent whose subscriptions are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the parent will be returned."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A page token, received from a previous `ListSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptions` must match the call that provided the page token."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions",
                      "description": "Returns the list of subscriptions for the given project."
                    },
                    "seek": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/admin/{+name}:seek",
                      "description": "Performs an out-of-band seek for a subscription to a specified target, which may be timestamps or named positions within the message backlog. Seek translates these targets to cursors for each partition and orchestrates subscribers to start consuming messages from these seek cursors. If an operation is returned, the seek has been registered and subscribers will eventually receive messages from the seek cursors (i.e. eventual consistency), as long as they are using a minimum supported client library version and not a system that tracks cursors independently of Pub/Sub Lite (e.g. Apache Beam, Dataflow, Spark). The seek operation will fail for unsupported clients. If clients would like to know when subscribers react to the seek (or not), they can poll the operation. The seek operation will succeed and complete once subscribers are ready to receive messages from the seek cursors for all partitions of the topic. This means that the seek operation will not complete until all subscribers come online. If the previous seek operation has not yet completed, it will be aborted and the new invocation of seek will supersede it.",
                      "request": {
                        "$ref": "SeekSubscriptionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:seek",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the subscription to seek.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.subscriptions.seek",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "description": "Creates a new subscription.",
                      "response": {
                        "$ref": "Subscription"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "description": "Required. The parent location in which to create the subscription. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true
                        },
                        "skipBacklog": {
                          "type": "boolean",
                          "description": "If true, the newly created subscription will only receive messages published after the subscription was created. Otherwise, the entire message backlog will be received on the subscription. Defaults to false.",
                          "location": "query"
                        },
                        "subscriptionId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The ID to use for the subscription, which will become the final component of the subscription's name. This value is structured like: `my-sub-name`."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "pubsublite.admin.projects.locations.subscriptions.create",
                      "path": "v1/admin/{+parent}/subscriptions",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Subscription"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions"
                    },
                    "delete": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "id": "pubsublite.admin.projects.locations.subscriptions.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the subscription to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "path": "v1/admin/{+name}",
                      "description": "Deletes the specified subscription.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "patch": {
                      "id": "pubsublite.admin.projects.locations.subscriptions.patch",
                      "path": "v1/admin/{+name}",
                      "description": "Updates properties of the specified subscription.",
                      "request": {
                        "$ref": "Subscription"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "response": {
                        "$ref": "Subscription"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Required. A mask specifying the subscription fields to change.",
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Subscription"
                      },
                      "id": "pubsublite.admin.projects.locations.subscriptions.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/admin/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "description": "Required. The name of the subscription whose configuration to return.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Returns the subscription configuration.",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "topicStats": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "topics": {
                  "methods": {
                    "computeHeadCursor": {
                      "description": "Compute the head cursor for the partition. The head cursor's offset is guaranteed to be less than or equal to all messages which have not yet been acknowledged as published, and greater than the offset of any message whose publish has already been acknowledged. It is zero if there have never been messages in the partition.",
                      "parameterOrder": [
                        "topic"
                      ],
                      "parameters": {
                        "topic": {
                          "type": "string",
                          "description": "Required. The topic for which we should compute the head cursor.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "ComputeHeadCursorRequest"
                      },
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeHeadCursor",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "ComputeHeadCursorResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.topicStats.projects.locations.topics.computeHeadCursor",
                      "path": "v1/topicStats/{+topic}:computeHeadCursor"
                    },
                    "computeMessageStats": {
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeMessageStats",
                      "id": "pubsublite.topicStats.projects.locations.topics.computeMessageStats",
                      "httpMethod": "POST",
                      "description": "Compute statistics about a range of messages in a given topic and partition.",
                      "parameters": {
                        "topic": {
                          "required": true,
                          "description": "Required. The topic for which we should compute message stats.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "ComputeMessageStatsRequest"
                      },
                      "path": "v1/topicStats/{+topic}:computeMessageStats",
                      "response": {
                        "$ref": "ComputeMessageStatsResponse"
                      },
                      "parameterOrder": [
                        "topic"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "computeTimeCursor": {
                      "request": {
                        "$ref": "ComputeTimeCursorRequest"
                      },
                      "parameterOrder": [
                        "topic"
                      ],
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeTimeCursor",
                      "path": "v1/topicStats/{+topic}:computeTimeCursor",
                      "parameters": {
                        "topic": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The topic for which we should compute the cursor.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "ComputeTimeCursorResponse"
                      },
                      "id": "pubsublite.topicStats.projects.locations.topics.computeTimeCursor",
                      "description": "Compute the corresponding cursor for a publish or event time in a topic partition.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}