{
  "batchPath": "batch",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/pubsub/docs",
  "title": "Cloud Pub/Sub API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "version": "v1beta1a",
  "schemas": {
    "ModifyPushConfigRequest": {
      "id": "ModifyPushConfigRequest",
      "type": "object",
      "description": "Request for the ModifyPushConfig method.",
      "properties": {
        "pushConfig": {
          "description": "An empty push_config indicates that the Pub/Sub system should pause pushing messages from the given subscription.",
          "$ref": "PushConfig"
        },
        "subscription": {
          "description": "The name of the subscription.",
          "type": "string"
        }
      }
    },
    "PullBatchResponse": {
      "properties": {
        "pullResponses": {
          "type": "array",
          "items": {
            "$ref": "PullResponse"
          },
          "description": "Received Pub/Sub messages or status events. The Pub/Sub system will return zero messages if there are no more messages available in the backlog. The Pub/Sub system may return fewer than the max_events requested even if there are more messages available in the backlog."
        }
      },
      "id": "PullBatchResponse",
      "description": "Response for the PullBatch method.",
      "type": "object"
    },
    "ListSubscriptionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there are more subscriptions that match the request and this value should be passed to the next ListSubscriptionsRequest to continue."
        },
        "subscription": {
          "type": "array",
          "description": "The subscriptions that match the request.",
          "items": {
            "$ref": "Subscription"
          }
        }
      },
      "type": "object",
      "description": "Response for the ListSubscriptions method.",
      "id": "ListSubscriptionsResponse"
    },
    "PullRequest": {
      "id": "PullRequest",
      "description": "Request for the Pull method.",
      "properties": {
        "subscription": {
          "type": "string",
          "description": "The subscription from which a message should be pulled."
        },
        "returnImmediately": {
          "type": "boolean",
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning FAILED_PRECONDITION. The client may cancel the request if it does not wish to wait any longer for the response."
        }
      },
      "type": "object"
    },
    "PullResponse": {
      "properties": {
        "ackId": {
          "description": "This ID must be used to acknowledge the received event or message.",
          "type": "string"
        },
        "pubsubEvent": {
          "$ref": "PubsubEvent",
          "description": "A pubsub message or truncation event."
        }
      },
      "description": "Either a PubsubMessage or a truncation event. One of these two must be populated.",
      "type": "object",
      "id": "PullResponse"
    },
    "Topic": {
      "description": "A topic resource.",
      "properties": {
        "name": {
          "description": "Name of the topic.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Topic"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "An empty message that you can re-use to avoid defining duplicated empty messages in your project. A typical example is to use it as argument or the return value of a service API. For instance: service Foo { rpc Bar (proto2.Empty) returns (proto2.Empty) { }; }; BEGIN GOOGLE-INTERNAL The difference between this one and net/rpc/empty-message.proto is that 1) The generated message here is in proto2 C++ API. 2) The proto2.Empty has minimum dependencies (no message_set or net/rpc dependencies) END GOOGLE-INTERNAL"
    },
    "ListTopicsResponse": {
      "id": "ListTopicsResponse",
      "description": "Response for the ListTopics method.",
      "type": "object",
      "properties": {
        "topic": {
          "description": "The resulting topics.",
          "items": {
            "$ref": "Topic"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there are more topics that match the request, and this value should be passed to the next ListTopicsRequest to continue.",
          "type": "string"
        }
      }
    },
    "PubsubMessage": {
      "description": "A message data and its labels.",
      "id": "PubsubMessage",
      "type": "object",
      "properties": {
        "messageId": {
          "description": "ID of this message assigned by the server at publication time. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a PubsubMessage via a Pull call or a push delivery. It must not be populated by a publisher in a Publish call.",
          "type": "string"
        },
        "label": {
          "type": "array",
          "description": "Optional list of labels for this message. Keys in this collection must be unique.",
          "items": {
            "$ref": "Label"
          }
        },
        "data": {
          "type": "string",
          "description": "The message payload.",
          "format": "byte"
        },
        "publishTime": {
          "format": "int64",
          "description": "The time at which the message was published. The time is milliseconds since the UNIX epoch.",
          "type": "string"
        }
      }
    },
    "PublishRequest": {
      "type": "object",
      "id": "PublishRequest",
      "description": "Request for the Publish method.",
      "properties": {
        "message": {
          "$ref": "PubsubMessage",
          "description": "The message to publish."
        },
        "topic": {
          "type": "string",
          "description": "The message in the request will be published on this topic."
        }
      }
    },
    "PublishBatchResponse": {
      "properties": {
        "messageIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The server-assigned ID of each published message, in the same order as the messages in the request. IDs are guaranteed to be unique within the topic."
        }
      },
      "id": "PublishBatchResponse",
      "type": "object",
      "description": "Response for the PublishBatch method."
    },
    "PushConfig": {
      "description": "Configuration for a push delivery endpoint.",
      "id": "PushConfig",
      "type": "object",
      "properties": {
        "pushEndpoint": {
          "description": "A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use \"https://example.com/push\".",
          "type": "string"
        }
      }
    },
    "ModifyAckDeadlineRequest": {
      "properties": {
        "subscription": {
          "type": "string",
          "description": "Next Index: 5 The name of the subscription from which messages are being pulled."
        },
        "ackId": {
          "type": "string",
          "deprecated": true,
          "description": "The acknowledgment ID. Either this or ack_ids must be populated, not both."
        },
        "ackIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of acknowledgment IDs. Either this field or ack_id should be populated, not both."
        },
        "ackDeadlineSeconds": {
          "format": "int32",
          "description": "The new ack deadline with respect to the time this request was sent to the Pub/Sub system. Must be >= 0. For example, if the value is 10, the new ack deadline will expire 10 seconds after the ModifyAckDeadline call was made. Specifying zero may immediately make the message available for another pull request.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Request for the ModifyAckDeadline method.",
      "id": "ModifyAckDeadlineRequest"
    },
    "PullBatchRequest": {
      "id": "PullBatchRequest",
      "type": "object",
      "description": "Request for the PullBatch method.",
      "properties": {
        "subscription": {
          "description": "The subscription from which messages should be pulled.",
          "type": "string"
        },
        "maxEvents": {
          "format": "int32",
          "description": "The maximum number of PubsubEvents returned for this request. The Pub/Sub system may return fewer than the number of events specified.",
          "type": "integer"
        },
        "returnImmediately": {
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning no messages. The client may cancel the request if it does not wish to wait any longer for the response.",
          "type": "boolean"
        }
      }
    },
    "PublishBatchRequest": {
      "type": "object",
      "properties": {
        "topic": {
          "type": "string",
          "description": "The messages in the request will be published on this topic."
        },
        "messages": {
          "items": {
            "$ref": "PubsubMessage"
          },
          "description": "The messages to publish.",
          "type": "array"
        }
      },
      "description": "Request for the PublishBatch method.",
      "id": "PublishBatchRequest"
    },
    "Label": {
      "type": "object",
      "description": "A key-value pair applied to a given object.",
      "properties": {
        "numValue": {
          "type": "string",
          "description": "An integer value.",
          "format": "int64"
        },
        "strValue": {
          "description": "A string value.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "The key of a label is a syntactically valid URL (as per RFC 1738) with the \"scheme\" and initial slashes omitted and with the additional restrictions noted below. Each key should be globally unique. The \"host\" portion is called the \"namespace\" and is not necessarily resolvable to a network endpoint. Instead, the namespace indicates what system or entity defines the semantics of the label. Namespaces do not restrict the set of objects to which a label may be associated. Keys are defined by the following grammar: key = hostname \"/\" kpath kpath = ksegment *[ \"/\" ksegment ] ksegment = alphadigit | *[ alphadigit | \"-\" | \"_\" | \".\" ] where \"hostname\" and \"alphadigit\" are defined as in RFC 1738. Example key: spanner.google.com/universe"
        }
      },
      "id": "Label"
    },
    "AcknowledgeRequest": {
      "description": "Request for the Acknowledge method.",
      "id": "AcknowledgeRequest",
      "type": "object",
      "properties": {
        "subscription": {
          "type": "string",
          "description": "The subscription whose message is being acknowledged."
        },
        "ackId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The acknowledgment ID for the message being acknowledged. This was returned by the Pub/Sub system in the Pull response."
        }
      }
    },
    "Subscription": {
      "description": "A subscription resource.",
      "properties": {
        "pushConfig": {
          "$ref": "PushConfig",
          "description": "If push delivery is used with this subscription, this field is used to configure it."
        },
        "topic": {
          "description": "The name of the topic from which this subscription is receiving messages.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the subscription."
        },
        "ackDeadlineSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "For either push or pull delivery, the value is the maximum time after a subscriber receives a message before the subscriber should acknowledge or Nack the message. If the Ack deadline for a message passes without an Ack or a Nack, the Pub/Sub system will eventually redeliver the message. If a subscriber acknowledges after the deadline, the Pub/Sub system may accept the Ack, but it is possible that the message has been already delivered again. Multiple Acks to the message are allowed and will succeed. For push delivery, this value is used to set the request timeout for the call to the push endpoint. For pull delivery, this value is used as the initial value for the Ack deadline. It may be overridden for each message using its corresponding ack_id with ModifyAckDeadline. While a message is outstanding (i.e. it has been delivered to a pull subscriber and the subscriber has not yet Acked or Nacked), the Pub/Sub system will not deliver that message to another pull subscriber (on a best-effort basis)."
        }
      },
      "type": "object",
      "id": "Subscription"
    },
    "PubsubEvent": {
      "id": "PubsubEvent",
      "description": "An event indicating a received message or truncation event.",
      "type": "object",
      "properties": {
        "subscription": {
          "description": "The subscription that received the event.",
          "type": "string"
        },
        "message": {
          "$ref": "PubsubMessage",
          "description": "A received message."
        },
        "truncated": {
          "type": "boolean",
          "description": "Indicates that this subscription has been truncated."
        },
        "deleted": {
          "type": "boolean",
          "description": "Indicates that this subscription has been deleted. (Note that pull subscribers will always receive NOT_FOUND in response in their pull request on the subscription, rather than seeing this boolean.)"
        }
      }
    }
  },
  "resources": {
    "subscriptions": {
      "methods": {
        "pullBatch": {
          "id": "pubsub.subscriptions.pullBatch",
          "request": {
            "$ref": "PullBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [],
          "path": "v1beta1a/subscriptions/pullBatch",
          "parameters": {},
          "description": "Pulls messages from the server. Returns an empty list if there are no messages available in the backlog. The system is free to return UNAVAILABLE if there are too many pull requests outstanding for the given subscription.",
          "response": {
            "$ref": "PullBatchResponse"
          },
          "flatPath": "v1beta1a/subscriptions/pullBatch",
          "httpMethod": "POST"
        },
        "list": {
          "path": "v1beta1a/subscriptions",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "description": "Lists matching subscriptions.",
          "id": "pubsub.subscriptions.list",
          "response": {
            "$ref": "ListSubscriptionsResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "query": {
              "description": "A valid label query expression.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The value obtained in the last ListSubscriptionsResponse for continuation.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of subscriptions to return.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "flatPath": "v1beta1a/subscriptions"
        },
        "create": {
          "parameters": {},
          "parameterOrder": [],
          "id": "pubsub.subscriptions.create",
          "httpMethod": "POST",
          "path": "v1beta1a/subscriptions",
          "description": "Creates a subscription on a given topic for a given subscriber. If the subscription already exists, returns ALREADY_EXISTS. If the corresponding topic doesn't exist, returns NOT_FOUND. If the name is not provided in the request, the server will assign a random name for this subscription on the same project as the topic.",
          "request": {
            "$ref": "Subscription"
          },
          "response": {
            "$ref": "Subscription"
          },
          "flatPath": "v1beta1a/subscriptions",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "acknowledge": {
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1beta1a/subscriptions/acknowledge",
          "parameterOrder": [],
          "description": "Acknowledges a particular received message: the Pub/Sub system can remove the given message from the subscription. Acknowledging a message whose Ack deadline has expired may succeed, but the message could have been already redelivered. Acknowledging a message more than once will not result in an error. This is only used for messages received via pull.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "request": {
            "$ref": "AcknowledgeRequest"
          },
          "parameters": {},
          "path": "v1beta1a/subscriptions/acknowledge",
          "id": "pubsub.subscriptions.acknowledge"
        },
        "pull": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [],
          "id": "pubsub.subscriptions.pull",
          "parameters": {},
          "request": {
            "$ref": "PullRequest"
          },
          "description": "Pulls a single message from the server. If return_immediately is true, and no messages are available in the subscription, this method returns FAILED_PRECONDITION. The system is free to return an UNAVAILABLE error if no messages are available in a reasonable amount of time (to reduce system load).",
          "response": {
            "$ref": "PullResponse"
          },
          "flatPath": "v1beta1a/subscriptions/pull",
          "httpMethod": "POST",
          "path": "v1beta1a/subscriptions/pull"
        },
        "modifyPushConfig": {
          "id": "pubsub.subscriptions.modifyPushConfig",
          "description": "Modifies the PushConfig for a specified subscription. This method can be used to suspend the flow of messages to an endpoint by clearing the PushConfig field in the request. Messages will be accumulated for delivery even if no push configuration is defined or while the configuration is modified.",
          "parameterOrder": [],
          "path": "v1beta1a/subscriptions/modifyPushConfig",
          "flatPath": "v1beta1a/subscriptions/modifyPushConfig",
          "parameters": {},
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "response": {
            "$ref": "Empty"
          },
          "request": {
            "$ref": "ModifyPushConfigRequest"
          }
        },
        "delete": {
          "description": "Deletes an existing subscription. All pending messages in the subscription are immediately dropped. Calls to Pull after deletion will return NOT_FOUND.",
          "path": "v1beta1a/subscriptions/{+subscription}",
          "parameterOrder": [
            "subscription"
          ],
          "id": "pubsub.subscriptions.delete",
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "parameters": {
            "subscription": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^.*$",
              "description": "The subscription to delete."
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "response": {
            "$ref": "Empty"
          }
        },
        "get": {
          "response": {
            "$ref": "Subscription"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "description": "Gets the configuration details of a subscription.",
          "parameterOrder": [
            "subscription"
          ],
          "httpMethod": "GET",
          "path": "v1beta1a/subscriptions/{+subscription}",
          "id": "pubsub.subscriptions.get",
          "parameters": {
            "subscription": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The name of the subscription to get.",
              "pattern": "^.*$"
            }
          }
        },
        "modifyAckDeadline": {
          "parameters": {},
          "httpMethod": "POST",
          "id": "pubsub.subscriptions.modifyAckDeadline",
          "path": "v1beta1a/subscriptions/modifyAckDeadline",
          "description": "Modifies the Ack deadline for a message received from a pull request.",
          "request": {
            "$ref": "ModifyAckDeadlineRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [],
          "flatPath": "v1beta1a/subscriptions/modifyAckDeadline",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        }
      }
    },
    "topics": {
      "methods": {
        "create": {
          "description": "Creates the given topic with the given name.",
          "httpMethod": "POST",
          "flatPath": "v1beta1a/topics",
          "id": "pubsub.topics.create",
          "request": {
            "$ref": "Topic"
          },
          "parameters": {},
          "response": {
            "$ref": "Topic"
          },
          "parameterOrder": [],
          "path": "v1beta1a/topics",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "publish": {
          "id": "pubsub.topics.publish",
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1beta1a/topics/publish",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "description": "Adds a message to the topic. Returns NOT_FOUND if the topic does not exist.",
          "request": {
            "$ref": "PublishRequest"
          },
          "path": "v1beta1a/topics/publish"
        },
        "list": {
          "flatPath": "v1beta1a/topics",
          "httpMethod": "GET",
          "description": "Lists matching topics.",
          "path": "v1beta1a/topics",
          "parameters": {
            "query": {
              "type": "string",
              "description": "A valid label query expression.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The value obtained in the last ListTopicsResponse for continuation.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Maximum number of topics to return.",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "ListTopicsResponse"
          },
          "id": "pubsub.topics.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        },
        "publishBatch": {
          "description": "Adds one or more messages to the topic. Returns NOT_FOUND if the topic does not exist.",
          "id": "pubsub.topics.publishBatch",
          "parameterOrder": [],
          "request": {
            "$ref": "PublishBatchRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "PublishBatchResponse"
          },
          "path": "v1beta1a/topics/publishBatch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {},
          "flatPath": "v1beta1a/topics/publishBatch"
        },
        "get": {
          "description": "Gets the configuration of a topic. Since the topic only has the name attribute, this method is only useful to check the existence of a topic. If other attributes are added in the future, they will be returned here.",
          "id": "pubsub.topics.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {
            "topic": {
              "pattern": "^.*$",
              "type": "string",
              "required": true,
              "description": "The name of the topic to get.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Topic"
          },
          "path": "v1beta1a/topics/{+topic}",
          "flatPath": "v1beta1a/topics/{topicsId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "topic"
          ]
        },
        "delete": {
          "flatPath": "v1beta1a/topics/{topicsId}",
          "description": "Deletes the topic with the given name. Returns NOT_FOUND if the topic does not exist. After a topic is deleted, a new topic may be created with the same name.",
          "id": "pubsub.topics.delete",
          "path": "v1beta1a/topics/{+topic}",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "topic"
          ],
          "parameters": {
            "topic": {
              "pattern": "^.*$",
              "description": "Name of the topic to delete.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ]
        }
      }
    }
  },
  "servicePath": "",
  "revision": "20260908",
  "canonicalName": "Pubsub",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://pubsub.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://pubsub.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://pubsub.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://pubsub.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://pubsub.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://pubsub.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://pubsub.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://pubsub.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://pubsub.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://pubsub.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://pubsub.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://pubsub.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://pubsub.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://pubsub.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://pubsub.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://pubsub.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://pubsub.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://pubsub.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://pubsub.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://pubsub.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://pubsub.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://pubsub.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://pubsub.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://pubsub.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "endpointUrl": "https://pubsub.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://pubsub.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://pubsub.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://pubsub.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://pubsub.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://pubsub.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://pubsub.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://pubsub.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://pubsub.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://pubsub.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://pubsub.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "ownerDomain": "google.com",
  "protocol": "rest",
  "description": "Provides reliable, many-to-many, asynchronous messaging between applications. ",
  "basePath": "",
  "baseUrl": "https://pubsub.googleapis.com/",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://pubsub.googleapis.com/",
  "id": "pubsub:v1beta1a",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/pubsub": {
          "description": "View and manage Pub/Sub topics and subscriptions"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "pubsub",
  "mtlsRootUrl": "https://pubsub.mtls.googleapis.com/"
}