{
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/pubsub/lite/docs",
  "schemas": {
    "ListReservationTopicsResponse": {
      "description": "Response for ListReservationTopics.",
      "properties": {
        "topics": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of topics attached to the reservation. The order of the topics is unspecified."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      },
      "type": "object",
      "id": "ListReservationTopicsResponse"
    },
    "ExportConfig": {
      "id": "ExportConfig",
      "type": "object",
      "description": "Configuration for a Pub/Sub Lite subscription that writes messages to a destination. User subscriber clients must not connect to this subscription.",
      "properties": {
        "pubsubConfig": {
          "description": "Messages are automatically written from the Pub/Sub Lite topic associated with this subscription to a Pub/Sub topic.",
          "$ref": "PubSubConfig"
        },
        "desiredState": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Messages are being exported.",
            "Exporting messages is suspended.",
            "Messages cannot be exported due to permission denied errors. Output only.",
            "Messages cannot be exported due to missing resources. Output only."
          ],
          "description": "The desired state of this export. Setting this to values other than `ACTIVE` and `PAUSED` will result in an error.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ]
        },
        "currentState": {
          "description": "Output only. The current state of the export, which may be different to the desired state due to errors. This field is output only.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Messages are being exported.",
            "Exporting messages is suspended.",
            "Messages cannot be exported due to permission denied errors. Output only.",
            "Messages cannot be exported due to missing resources. Output only."
          ]
        },
        "deadLetterTopic": {
          "description": "Optional. The name of an optional Pub/Sub Lite topic to publish messages that can not be exported to the destination. For example, the message can not be published to the Pub/Sub service because it does not satisfy the constraints documented at https://cloud.google.com/pubsub/docs/publisher. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}. Must be within the same project and location as the subscription. The topic may be changed or removed.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse"
    },
    "TopicPartitions": {
      "type": "object",
      "description": "Response for GetTopicPartitions.",
      "properties": {
        "partitionCount": {
          "format": "int64",
          "description": "The number of partitions in the topic.",
          "type": "string"
        }
      },
      "id": "TopicPartitions"
    },
    "CommitCursorResponse": {
      "id": "CommitCursorResponse",
      "type": "object",
      "description": "Response for CommitCursor.",
      "properties": {}
    },
    "RetentionConfig": {
      "description": "The settings for a topic's message retention.",
      "properties": {
        "period": {
          "type": "string",
          "description": "How long a published message is retained. If unset, messages will be retained as long as the bytes retained for each partition is below `per_partition_bytes`.",
          "format": "google-duration"
        },
        "perPartitionBytes": {
          "format": "int64",
          "type": "string",
          "description": "The provisioned storage, in bytes, per partition. If the number of bytes stored in any of the topic's partitions grows beyond this value, older messages will be dropped to make room for newer ones, regardless of the value of `period`."
        }
      },
      "type": "object",
      "id": "RetentionConfig"
    },
    "ListReservationsResponse": {
      "description": "Response for ListReservations.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "reservations": {
          "description": "The list of reservation in the requested parent. The order of the reservations is unspecified.",
          "type": "array",
          "items": {
            "$ref": "Reservation"
          }
        }
      },
      "type": "object",
      "id": "ListReservationsResponse"
    },
    "ListPartitionCursorsResponse": {
      "id": "ListPartitionCursorsResponse",
      "type": "object",
      "description": "Response for ListPartitionCursors",
      "properties": {
        "partitionCursors": {
          "type": "array",
          "items": {
            "$ref": "PartitionCursor"
          },
          "description": "The partition cursors from this request."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "CommitCursorRequest": {
      "id": "CommitCursorRequest",
      "type": "object",
      "description": "Request for CommitCursor.",
      "properties": {
        "partition": {
          "description": "The partition for which to update the cursor. Partitions are zero indexed, so `partition` must be in the range [0, topic.num_partitions).",
          "type": "string",
          "format": "int64"
        },
        "cursor": {
          "description": "The new value for the committed cursor.",
          "$ref": "Cursor"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "ComputeHeadCursorResponse": {
      "type": "object",
      "description": "Response containing the head cursor for the requested topic and partition.",
      "properties": {
        "headCursor": {
          "description": "The head cursor.",
          "$ref": "Cursor"
        }
      },
      "id": "ComputeHeadCursorResponse"
    },
    "ComputeTimeCursorRequest": {
      "description": "Compute the corresponding cursor for a publish or event time in a topic partition.",
      "properties": {
        "target": {
          "description": "Required. The target publish or event time. Specifying a future time will return an unset cursor.",
          "$ref": "TimeTarget"
        },
        "partition": {
          "description": "Required. The partition for which we should compute the cursor.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "ComputeTimeCursorRequest"
    },
    "PartitionCursor": {
      "type": "object",
      "description": "A pair of a Cursor and the partition it is for.",
      "properties": {
        "partition": {
          "format": "int64",
          "description": "The partition this is for.",
          "type": "string"
        },
        "cursor": {
          "description": "The value of the cursor.",
          "$ref": "Cursor"
        }
      },
      "id": "PartitionCursor"
    },
    "ReservationConfig": {
      "description": "The settings for this topic's Reservation usage.",
      "properties": {
        "throughputReservation": {
          "type": "string",
          "description": "The Reservation to use for this topic's throughput capacity. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}"
        }
      },
      "type": "object",
      "id": "ReservationConfig"
    },
    "ComputeTimeCursorResponse": {
      "id": "ComputeTimeCursorResponse",
      "type": "object",
      "description": "Response containing the cursor corresponding to a publish or event time in a topic partition.",
      "properties": {
        "cursor": {
          "description": "If present, the cursor references the first message with time greater than or equal to the specified target time. If such a message cannot be found, the cursor will be unset (i.e. `cursor` is not present).",
          "$ref": "Cursor"
        }
      }
    },
    "PartitionConfig": {
      "id": "PartitionConfig",
      "description": "The settings for a topic's partitions.",
      "properties": {
        "count": {
          "format": "int64",
          "description": "The number of partitions in the topic. Must be at least 1. Once a topic has been created the number of partitions can be increased but not decreased. Message ordering is not guaranteed across a topic resize. For more information see https://cloud.google.com/pubsub/lite/docs/topics#scaling_capacity",
          "type": "string"
        },
        "scale": {
          "type": "integer",
          "description": "DEPRECATED: Use capacity instead which can express a superset of configurations. Every partition in the topic is allocated throughput equivalent to `scale` times the standard partition throughput (4 MiB/s). This is also reflected in the cost of this topic; a topic with `scale` of 2 and count of 10 is charged for 20 partitions. This value must be in the range [1,4].",
          "deprecated": true,
          "format": "int32"
        },
        "capacity": {
          "description": "The capacity configuration.",
          "$ref": "Capacity"
        }
      },
      "type": "object"
    },
    "Reservation": {
      "id": "Reservation",
      "type": "object",
      "description": "Metadata about a reservation resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the reservation. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}"
        },
        "throughputCapacity": {
          "description": "The reserved throughput capacity. Every unit of throughput capacity is equivalent to 1 MiB/s of published messages or 2 MiB/s of subscribed messages. Any topics which are declared as using capacity from a Reservation will consume resources from this reservation instead of being charged individually.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "SeekSubscriptionRequest": {
      "description": "Request for SeekSubscription.",
      "properties": {
        "namedTarget": {
          "enum": [
            "NAMED_TARGET_UNSPECIFIED",
            "TAIL",
            "HEAD"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified named target. Do not use.",
            "Seek to the oldest retained message.",
            "Seek past all recently published messages, skipping the entire message backlog."
          ],
          "description": "Seek to a named position with respect to the message backlog."
        },
        "timeTarget": {
          "description": "Seek to the first message whose publish or event time is greater than or equal to the specified query time. If no such message can be located, will seek to the end of the message backlog.",
          "$ref": "TimeTarget"
        }
      },
      "type": "object",
      "id": "SeekSubscriptionRequest"
    },
    "TimeTarget": {
      "description": "A target publish or event time. Can be used for seeking to or retrieving the corresponding cursor.",
      "properties": {
        "publishTime": {
          "description": "Request the cursor of the first message with publish time greater than or equal to `publish_time`. All messages thereafter are guaranteed to have publish times >= `publish_time`.",
          "type": "string",
          "format": "google-datetime"
        },
        "eventTime": {
          "description": "Request the cursor of the first message with event time greater than or equal to `event_time`. If messages are missing an event time, the publish time is used as a fallback. As event times are user supplied, subsequent messages may have event times less than `event_time` and should be filtered by the client, if necessary.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "TimeTarget"
    },
    "ComputeMessageStatsResponse": {
      "id": "ComputeMessageStatsResponse",
      "description": "Response containing stats for messages in the requested topic and partition.",
      "properties": {
        "messageBytes": {
          "type": "string",
          "description": "The number of quota bytes accounted to these messages.",
          "format": "int64"
        },
        "minimumPublishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The minimum publish timestamp across these messages. Note that publish timestamps within a partition are not guaranteed to be non-decreasing. The timestamp will be unset if there are no messages."
        },
        "minimumEventTime": {
          "type": "string",
          "description": "The minimum event timestamp across these messages. For the purposes of this computation, if a message does not have an event time, we use the publish time. The timestamp will be unset if there are no messages.",
          "format": "google-datetime"
        },
        "messageCount": {
          "format": "int64",
          "type": "string",
          "description": "The count of messages."
        }
      },
      "type": "object"
    },
    "Topic": {
      "description": "Metadata about a topic resource.",
      "properties": {
        "retentionConfig": {
          "description": "The settings for this topic's message retention.",
          "$ref": "RetentionConfig"
        },
        "reservationConfig": {
          "description": "The settings for this topic's Reservation usage.",
          "$ref": "ReservationConfig"
        },
        "name": {
          "description": "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
          "type": "string"
        },
        "partitionConfig": {
          "description": "The settings for this topic's partitions.",
          "$ref": "PartitionConfig"
        }
      },
      "type": "object",
      "id": "Topic"
    },
    "DeliveryConfig": {
      "id": "DeliveryConfig",
      "type": "object",
      "description": "The settings for a subscription's message delivery.",
      "properties": {
        "deliveryRequirement": {
          "enum": [
            "DELIVERY_REQUIREMENT_UNSPECIFIED",
            "DELIVER_IMMEDIATELY",
            "DELIVER_AFTER_STORED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The server does not wait for a published message to be successfully written to storage before delivering it to subscribers.",
            "The server will not deliver a published message to subscribers until the message has been successfully written to storage. This will result in higher end-to-end latency, but consistent delivery."
          ],
          "description": "The DeliveryRequirement for this subscription."
        }
      }
    },
    "ComputeHeadCursorRequest": {
      "description": "Compute the current head cursor for a partition.",
      "properties": {
        "partition": {
          "type": "string",
          "description": "Required. The partition for which we should compute the head cursor.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "ComputeHeadCursorRequest"
    },
    "Cursor": {
      "type": "object",
      "description": "A cursor that describes the position of a message within a topic partition.",
      "properties": {
        "offset": {
          "type": "string",
          "description": "The offset of a message within a topic partition. Must be greater than or equal 0.",
          "format": "int64"
        }
      },
      "id": "Cursor"
    },
    "Subscription": {
      "type": "object",
      "description": "Metadata about a subscription resource.",
      "properties": {
        "deliveryConfig": {
          "description": "The settings for this subscription's message delivery.",
          "$ref": "DeliveryConfig"
        },
        "exportConfig": {
          "description": "If present, messages are automatically written from the Pub/Sub Lite topic associated with this subscription to a destination.",
          "$ref": "ExportConfig"
        },
        "topic": {
          "type": "string",
          "description": "The name of the topic this subscription is attached to. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}"
        },
        "name": {
          "description": "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
          "type": "string"
        }
      },
      "id": "Subscription"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "id": "Status"
    },
    "Capacity": {
      "type": "object",
      "description": "The throughput capacity configuration for each partition.",
      "properties": {
        "publishMibPerSec": {
          "description": "Publish throughput capacity per partition in MiB/s. Must be >= 4 and <= 16.",
          "type": "integer",
          "format": "int32"
        },
        "subscribeMibPerSec": {
          "type": "integer",
          "description": "Subscribe throughput capacity per partition in MiB/s. Must be >= 4 and <= 32.",
          "format": "int32"
        }
      },
      "id": "Capacity"
    },
    "PubSubConfig": {
      "type": "object",
      "description": "Configuration for exporting to a Pub/Sub topic.",
      "properties": {
        "topic": {
          "description": "The name of the Pub/Sub topic. Structured like: projects/{project_number}/topics/{topic_id}. The topic may be changed.",
          "type": "string"
        }
      },
      "id": "PubSubConfig"
    },
    "ListTopicsResponse": {
      "description": "Response for ListTopics.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        },
        "topics": {
          "description": "The list of topic in the requested parent. The order of the topics is unspecified.",
          "type": "array",
          "items": {
            "$ref": "Topic"
          }
        }
      },
      "type": "object",
      "id": "ListTopicsResponse"
    },
    "SeekSubscriptionResponse": {
      "id": "SeekSubscriptionResponse",
      "description": "Response for SeekSubscription long running operation.",
      "properties": {},
      "type": "object"
    },
    "ListSubscriptionsResponse": {
      "type": "object",
      "description": "Response for ListSubscriptions.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        },
        "subscriptions": {
          "type": "array",
          "items": {
            "$ref": "Subscription"
          },
          "description": "The list of subscriptions in the requested parent. The order of the subscriptions is unspecified."
        }
      },
      "id": "ListSubscriptionsResponse"
    },
    "ComputeMessageStatsRequest": {
      "description": "Compute statistics about a range of messages in a given topic and partition.",
      "properties": {
        "startCursor": {
          "description": "The inclusive start of the range.",
          "$ref": "Cursor"
        },
        "endCursor": {
          "description": "The exclusive end of the range. The range is empty if end_cursor <= start_cursor. Specifying a start_cursor before the first message and an end_cursor after the last message will retrieve all messages.",
          "$ref": "Cursor"
        },
        "partition": {
          "description": "Required. The partition for which we should compute message stats.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "ComputeMessageStatsRequest"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Metadata for long running operations.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "The time the operation was created.",
          "type": "string"
        },
        "target": {
          "description": "Resource path for the target of the operation. For example, targets of seeks are subscription resources, structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "Name of the verb executed by the operation."
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running. Not set if the operation has not completed.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ListTopicSubscriptionsResponse": {
      "type": "object",
      "description": "Response for ListTopicSubscriptions.",
      "properties": {
        "subscriptions": {
          "description": "The names of subscriptions attached to the topic. The order of the subscriptions is unspecified.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "id": "ListTopicSubscriptionsResponse"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    }
  },
  "basePath": "",
  "ownerName": "Google",
  "id": "pubsublite:v1",
  "canonicalName": "PubsubLite",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://pubsublite.googleapis.com/",
  "revision": "20260605",
  "baseUrl": "https://pubsublite.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Pub/Sub Lite API",
  "protocol": "rest",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "mtlsRootUrl": "https://pubsublite.mtls.googleapis.com/",
  "version_module": true,
  "resources": {
    "admin": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "topics": {
                  "methods": {
                    "delete": {
                      "id": "pubsublite.admin.projects.locations.topics.delete",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes the specified topic.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/admin/{+name}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the topic to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "path": "v1/admin/{+parent}/topics",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the parent will be returned.",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent whose topics are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous `ListTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopics` must match the call that provided the page token.",
                          "location": "query"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.topics.list",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics",
                      "response": {
                        "$ref": "ListTopicsResponse"
                      },
                      "description": "Returns the list of topics for the given project.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "create": {
                      "path": "v1/admin/{+parent}/topics",
                      "httpMethod": "POST",
                      "parameters": {
                        "topicId": {
                          "description": "Required. The ID to use for the topic, which will become the final component of the topic's name. This value is structured like: `my-topic-name`.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent location in which to create the topic. Structured like `projects/{project_number}/locations/{location}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "Topic"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.create",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics",
                      "response": {
                        "$ref": "Topic"
                      },
                      "description": "Creates a new topic."
                    },
                    "get": {
                      "path": "v1/admin/{+name}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the topic whose configuration to return.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.get",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "response": {
                        "$ref": "Topic"
                      },
                      "description": "Returns the topic configuration."
                    },
                    "getPartitions": {
                      "response": {
                        "$ref": "TopicPartitions"
                      },
                      "description": "Returns the partition information for the requested topic.",
                      "id": "pubsublite.admin.projects.locations.topics.getPartitions",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}/partitions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The topic whose partition information to return.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "v1/admin/{+name}/partitions",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "path": "v1/admin/{+name}",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "Topic"
                      },
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Required. A mask specifying the topic fields to change."
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.patch",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "response": {
                        "$ref": "Topic"
                      },
                      "description": "Updates properties of the specified topic."
                    }
                  },
                  "resources": {
                    "subscriptions": {
                      "methods": {
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "ListTopicSubscriptionsResponse"
                          },
                          "description": "Lists the subscriptions attached to the specified topic.",
                          "id": "pubsublite.admin.projects.locations.topics.subscriptions.list",
                          "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}/subscriptions",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. The name of the topic whose subscriptions to list.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                              "type": "string",
                              "required": true
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "A page token, received from a previous `ListTopicSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopicSubscriptions` must match the call that provided the page token.",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "type": "integer",
                              "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the given topic will be returned."
                            }
                          },
                          "path": "v1/admin/{+name}/subscriptions",
                          "httpMethod": "GET"
                        }
                      }
                    }
                  }
                },
                "subscriptions": {
                  "methods": {
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Subscription"
                      },
                      "description": "Creates a new subscription.",
                      "id": "pubsublite.admin.projects.locations.subscriptions.create",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions",
                      "request": {
                        "$ref": "Subscription"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent location in which to create the subscription. Structured like `projects/{project_number}/locations/{location}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "skipBacklog": {
                          "location": "query",
                          "type": "boolean",
                          "description": "If true, the newly created subscription will only receive messages published after the subscription was created. Otherwise, the entire message backlog will be received on the subscription. Defaults to false."
                        },
                        "subscriptionId": {
                          "type": "string",
                          "description": "Required. The ID to use for the subscription, which will become the final component of the subscription's name. This value is structured like: `my-sub-name`.",
                          "location": "query"
                        }
                      },
                      "path": "v1/admin/{+parent}/subscriptions",
                      "httpMethod": "POST"
                    },
                    "get": {
                      "id": "pubsublite.admin.projects.locations.subscriptions.get",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "response": {
                        "$ref": "Subscription"
                      },
                      "description": "Returns the subscription configuration.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/admin/{+name}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the subscription whose configuration to return.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "required": true
                        }
                      }
                    },
                    "patch": {
                      "id": "pubsublite.admin.projects.locations.subscriptions.patch",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "response": {
                        "$ref": "Subscription"
                      },
                      "description": "Updates properties of the specified subscription.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/admin/{+name}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "description": "Required. A mask specifying the subscription fields to change.",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "description": "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "Subscription"
                      }
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the subscription to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "path": "v1/admin/{+name}",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes the specified subscription.",
                      "id": "pubsublite.admin.projects.locations.subscriptions.delete",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the parent will be returned."
                        },
                        "parent": {
                          "description": "Required. The parent whose subscriptions are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A page token, received from a previous `ListSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptions` must match the call that provided the page token."
                        }
                      },
                      "path": "v1/admin/{+parent}/subscriptions",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListSubscriptionsResponse"
                      },
                      "description": "Returns the list of subscriptions for the given project.",
                      "id": "pubsublite.admin.projects.locations.subscriptions.list",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "seek": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.subscriptions.seek",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:seek",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Performs an out-of-band seek for a subscription to a specified target, which may be timestamps or named positions within the message backlog. Seek translates these targets to cursors for each partition and orchestrates subscribers to start consuming messages from these seek cursors. If an operation is returned, the seek has been registered and subscribers will eventually receive messages from the seek cursors (i.e. eventual consistency), as long as they are using a minimum supported client library version and not a system that tracks cursors independently of Pub/Sub Lite (e.g. Apache Beam, Dataflow, Spark). The seek operation will fail for unsupported clients. If clients would like to know when subscribers react to the seek (or not), they can poll the operation. The seek operation will succeed and complete once subscribers are ready to receive messages from the seek cursors for all partitions of the topic. This means that the seek operation will not complete until all subscribers come online. If the previous seek operation has not yet completed, it will be aborted and the new invocation of seek will supersede it.",
                      "path": "v1/admin/{+name}:seek",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the subscription to seek.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "SeekSubscriptionRequest"
                      }
                    }
                  }
                },
                "reservations": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.reservations.get",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "response": {
                        "$ref": "Reservation"
                      },
                      "description": "Returns the reservation configuration.",
                      "path": "v1/admin/{+name}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the reservation whose configuration to return. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$"
                        }
                      }
                    },
                    "patch": {
                      "request": {
                        "$ref": "Reservation"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "The name of the reservation. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Required. A mask specifying the reservation fields to change.",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "path": "v1/admin/{+name}",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Reservation"
                      },
                      "description": "Updates properties of the specified reservation.",
                      "id": "pubsublite.admin.projects.locations.reservations.patch",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}"
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Reservation"
                      },
                      "description": "Creates a new reservation.",
                      "id": "pubsublite.admin.projects.locations.reservations.create",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations",
                      "parameters": {
                        "reservationId": {
                          "description": "Required. The ID to use for the reservation, which will become the final component of the reservation's name. This value is structured like: `my-reservation-name`.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent location in which to create the reservation. Structured like `projects/{project_number}/locations/{location}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "Reservation"
                      },
                      "path": "v1/admin/{+parent}/reservations",
                      "httpMethod": "POST"
                    },
                    "list": {
                      "response": {
                        "$ref": "ListReservationsResponse"
                      },
                      "description": "Returns the list of reservations for the given project.",
                      "id": "pubsublite.admin.projects.locations.reservations.list",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous `ListReservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReservations` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent whose reservations are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of reservations to return. The service may return fewer than this value. If unset or zero, all reservations for the parent will be returned.",
                          "type": "integer"
                        }
                      },
                      "path": "v1/admin/{+parent}/reservations",
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes the specified reservation.",
                      "id": "pubsublite.admin.projects.locations.reservations.delete",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the reservation to delete. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "v1/admin/{+name}",
                      "httpMethod": "DELETE"
                    }
                  },
                  "resources": {
                    "topics": {
                      "methods": {
                        "list": {
                          "id": "pubsublite.admin.projects.locations.reservations.topics.list",
                          "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/topics",
                          "response": {
                            "$ref": "ListReservationTopicsResponse"
                          },
                          "description": "Lists the topics attached to the specified reservation.",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/admin/{+name}/topics",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. The name of the reservation whose topics to list. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                              "required": true,
                              "location": "path"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "A page token, received from a previous `ListReservationTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReservationTopics` must match the call that provided the page token.",
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "description": "The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the given reservation will be returned.",
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "get": {
                      "path": "v1/admin/{+name}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "The name of the operation resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.operations.get",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                    },
                    "list": {
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "id": "pubsublite.admin.projects.locations.operations.list",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "The name of the operation's parent resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "The standard list page size."
                        },
                        "returnPartialSuccess": {
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The standard list page token.",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "description": "The standard list filter.",
                          "type": "string"
                        }
                      },
                      "path": "v1/admin/{+name}/operations",
                      "httpMethod": "GET"
                    },
                    "cancel": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "id": "pubsublite.admin.projects.locations.operations.cancel",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "The name of the operation resource to be cancelled.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "path": "v1/admin/{+name}:cancel",
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "path": "v1/admin/{+name}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "The name of the operation resource to be deleted.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.operations.delete",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "cursor": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "subscriptions": {
                  "methods": {
                    "commitCursor": {
                      "path": "v1/cursor/{+subscription}:commitCursor",
                      "httpMethod": "POST",
                      "parameters": {
                        "subscription": {
                          "type": "string",
                          "description": "The subscription for which to update the cursor.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "CommitCursorRequest"
                      },
                      "id": "pubsublite.cursor.projects.locations.subscriptions.commitCursor",
                      "flatPath": "v1/cursor/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:commitCursor",
                      "response": {
                        "$ref": "CommitCursorResponse"
                      },
                      "description": "Updates the committed cursor.",
                      "parameterOrder": [
                        "subscription"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  },
                  "resources": {
                    "cursors": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "ListPartitionCursorsResponse"
                          },
                          "description": "Returns all committed cursor information for a subscription.",
                          "id": "pubsublite.cursor.projects.locations.subscriptions.cursors.list",
                          "flatPath": "v1/cursor/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}/cursors",
                          "parameters": {
                            "pageSize": {
                              "description": "The maximum number of cursors to return. The service may return fewer than this value. If unset or zero, all cursors for the parent will be returned.",
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "description": "Required. The subscription for which to retrieve cursors. Structured like `projects/{project_number}/locations/{location}/subscriptions/{subscription_id}`.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                              "type": "string",
                              "required": true
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A page token, received from a previous `ListPartitionCursors` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPartitionCursors` must match the call that provided the page token.",
                              "location": "query"
                            }
                          },
                          "path": "v1/cursor/{+parent}/cursors",
                          "httpMethod": "GET"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "topicStats": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "topics": {
                  "methods": {
                    "computeTimeCursor": {
                      "path": "v1/topicStats/{+topic}:computeTimeCursor",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ComputeTimeCursorRequest"
                      },
                      "parameters": {
                        "topic": {
                          "required": true,
                          "description": "Required. The topic for which we should compute the cursor.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "pubsublite.topicStats.projects.locations.topics.computeTimeCursor",
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeTimeCursor",
                      "response": {
                        "$ref": "ComputeTimeCursorResponse"
                      },
                      "description": "Compute the corresponding cursor for a publish or event time in a topic partition.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "topic"
                      ]
                    },
                    "computeHeadCursor": {
                      "path": "v1/topicStats/{+topic}:computeHeadCursor",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ComputeHeadCursorRequest"
                      },
                      "parameters": {
                        "topic": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The topic for which we should compute the head cursor.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "pubsublite.topicStats.projects.locations.topics.computeHeadCursor",
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeHeadCursor",
                      "response": {
                        "$ref": "ComputeHeadCursorResponse"
                      },
                      "description": "Compute the head cursor for the partition. The head cursor's offset is guaranteed to be less than or equal to all messages which have not yet been acknowledged as published, and greater than the offset of any message whose publish has already been acknowledged. It is zero if there have never been messages in the partition.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "topic"
                      ]
                    },
                    "computeMessageStats": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "topic"
                      ],
                      "id": "pubsublite.topicStats.projects.locations.topics.computeMessageStats",
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeMessageStats",
                      "response": {
                        "$ref": "ComputeMessageStatsResponse"
                      },
                      "description": "Compute statistics about a range of messages in a given topic and partition.",
                      "path": "v1/topicStats/{+topic}:computeMessageStats",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ComputeMessageStatsRequest"
                      },
                      "parameters": {
                        "topic": {
                          "type": "string",
                          "description": "Required. The topic for which we should compute message stats.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v1",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "name": "pubsublite",
  "batchPath": "batch",
  "servicePath": ""
}