{
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/pubsub/lite/docs",
  "name": "pubsublite",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "baseUrl": "https://pubsublite.googleapis.com/",
  "canonicalName": "PubsubLite",
  "version_module": true,
  "revision": "20260731",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Pub/Sub Lite API",
  "discoveryVersion": "v1",
  "resources": {
    "topicStats": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "topics": {
                  "methods": {
                    "computeTimeCursor": {
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeTimeCursor",
                      "request": {
                        "$ref": "ComputeTimeCursorRequest"
                      },
                      "description": "Compute the corresponding cursor for a publish or event time in a topic partition.",
                      "id": "pubsublite.topicStats.projects.locations.topics.computeTimeCursor",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "topic"
                      ],
                      "response": {
                        "$ref": "ComputeTimeCursorResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "topic": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The topic for which we should compute the cursor.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$"
                        }
                      },
                      "path": "v1/topicStats/{+topic}:computeTimeCursor"
                    },
                    "computeMessageStats": {
                      "parameterOrder": [
                        "topic"
                      ],
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeMessageStats",
                      "request": {
                        "$ref": "ComputeMessageStatsRequest"
                      },
                      "description": "Compute statistics about a range of messages in a given topic and partition.",
                      "id": "pubsublite.topicStats.projects.locations.topics.computeMessageStats",
                      "httpMethod": "POST",
                      "parameters": {
                        "topic": {
                          "description": "Required. The topic for which we should compute message stats.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1/topicStats/{+topic}:computeMessageStats",
                      "response": {
                        "$ref": "ComputeMessageStatsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "computeHeadCursor": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ComputeHeadCursorResponse"
                      },
                      "parameters": {
                        "topic": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "location": "path",
                          "description": "Required. The topic for which we should compute the head cursor.",
                          "required": true
                        }
                      },
                      "path": "v1/topicStats/{+topic}:computeHeadCursor",
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeHeadCursor",
                      "request": {
                        "$ref": "ComputeHeadCursorRequest"
                      },
                      "description": "Compute the head cursor for the partition. The head cursor's offset is guaranteed to be less than or equal to all messages which have not yet been acknowledged as published, and greater than the offset of any message whose publish has already been acknowledged. It is zero if there have never been messages in the partition.",
                      "id": "pubsublite.topicStats.projects.locations.topics.computeHeadCursor",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "topic"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "cursor": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "subscriptions": {
                  "methods": {
                    "commitCursor": {
                      "parameterOrder": [
                        "subscription"
                      ],
                      "flatPath": "v1/cursor/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:commitCursor",
                      "request": {
                        "$ref": "CommitCursorRequest"
                      },
                      "description": "Updates the committed cursor.",
                      "id": "pubsublite.cursor.projects.locations.subscriptions.commitCursor",
                      "httpMethod": "POST",
                      "parameters": {
                        "subscription": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "location": "path",
                          "description": "The subscription for which to update the cursor.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/cursor/{+subscription}:commitCursor",
                      "response": {
                        "$ref": "CommitCursorResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  },
                  "resources": {
                    "cursors": {
                      "methods": {
                        "list": {
                          "flatPath": "v1/cursor/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}/cursors",
                          "description": "Returns all committed cursor information for a subscription.",
                          "id": "pubsublite.cursor.projects.locations.subscriptions.cursors.list",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "ListPartitionCursorsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "description": "Required. The subscription for which to retrieve cursors. Structured like `projects/{project_number}/locations/{location}/subscriptions/{subscription_id}`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "description": "The maximum number of cursors to return. The service may return fewer than this value. If unset or zero, all cursors for the parent will be returned.",
                              "type": "integer"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "A page token, received from a previous `ListPartitionCursors` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPartitionCursors` must match the call that provided the page token.",
                              "type": "string"
                            }
                          },
                          "path": "v1/cursor/{+parent}/cursors"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "admin": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "reservations": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListReservationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/admin/{+parent}/reservations",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent whose reservations are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+$"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of reservations to return. The service may return fewer than this value. If unset or zero, all reservations for the parent will be returned.",
                          "type": "integer",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListReservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReservations` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.reservations.list",
                      "httpMethod": "GET",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations",
                      "description": "Returns the list of reservations for the given project.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "path": "v1/admin/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the reservation to delete. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.reservations.delete",
                      "httpMethod": "DELETE",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "description": "Deletes the specified reservation."
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.reservations.patch",
                      "httpMethod": "PATCH",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "request": {
                        "$ref": "Reservation"
                      },
                      "description": "Updates properties of the specified reservation.",
                      "path": "v1/admin/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "location": "path",
                          "description": "The name of the reservation. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "required": true
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Required. A mask specifying the reservation fields to change.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Reservation"
                      }
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent location in which to create the reservation. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true,
                          "type": "string"
                        },
                        "reservationId": {
                          "description": "Required. The ID to use for the reservation, which will become the final component of the reservation's name. This value is structured like: `my-reservation-name`.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1/admin/{+parent}/reservations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Reservation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations",
                      "request": {
                        "$ref": "Reservation"
                      },
                      "description": "Creates a new reservation.",
                      "id": "pubsublite.admin.projects.locations.reservations.create",
                      "httpMethod": "POST"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Reservation"
                      },
                      "path": "v1/admin/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the reservation whose configuration to return. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.reservations.get",
                      "httpMethod": "GET",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "description": "Returns the reservation configuration.",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  },
                  "resources": {
                    "topics": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "pubsublite.admin.projects.locations.reservations.topics.list",
                          "httpMethod": "GET",
                          "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/topics",
                          "description": "Lists the topics attached to the specified reservation.",
                          "path": "v1/admin/{+name}/topics",
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the reservation whose topics to list. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the given reservation will be returned.",
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "A page token, received from a previous `ListReservationTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReservationTopics` must match the call that provided the page token.",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "ListReservationTopicsResponse"
                          }
                        }
                      }
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "list": {
                      "path": "v1/admin/{+name}/operations",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "The standard list page size.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The standard list page token.",
                          "type": "string"
                        },
                        "returnPartialSuccess": {
                          "location": "query",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "type": "boolean"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "description": "The name of the operation's parent resource.",
                          "required": true,
                          "location": "path"
                        },
                        "filter": {
                          "description": "The standard list filter.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.operations.list",
                      "httpMethod": "GET",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.operations.get",
                      "httpMethod": "GET",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "path": "v1/admin/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "The name of the operation resource.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "cancel": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "The name of the operation resource to be cancelled.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1/admin/{+name}:cancel",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "id": "pubsublite.admin.projects.locations.operations.cancel",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "The name of the operation resource to be deleted.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1/admin/{+name}",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "id": "pubsublite.admin.projects.locations.operations.delete",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "topics": {
                  "methods": {
                    "patch": {
                      "id": "pubsublite.admin.projects.locations.topics.patch",
                      "httpMethod": "PATCH",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "request": {
                        "$ref": "Topic"
                      },
                      "description": "Updates properties of the specified topic.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Topic"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/admin/{+name}",
                      "parameters": {
                        "name": {
                          "description": "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "description": "Required. A mask specifying the topic fields to change.",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      }
                    },
                    "create": {
                      "response": {
                        "$ref": "Topic"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/admin/{+parent}/topics",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent location in which to create the topic. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true
                        },
                        "topicId": {
                          "location": "query",
                          "description": "Required. The ID to use for the topic, which will become the final component of the topic's name. This value is structured like: `my-topic-name`.",
                          "type": "string"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.topics.create",
                      "httpMethod": "POST",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics",
                      "request": {
                        "$ref": "Topic"
                      },
                      "description": "Creates a new topic.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.get",
                      "httpMethod": "GET",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "description": "Returns the topic configuration.",
                      "path": "v1/admin/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the topic whose configuration to return.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Topic"
                      }
                    },
                    "getPartitions": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "TopicPartitions"
                      },
                      "path": "v1/admin/{+name}/partitions",
                      "parameters": {
                        "name": {
                          "description": "Required. The topic whose partition information to return.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.topics.getPartitions",
                      "httpMethod": "GET",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}/partitions",
                      "description": "Returns the partition information for the requested topic.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "ListTopicsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/admin/{+parent}/topics",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent whose topics are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+$"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the parent will be returned.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A page token, received from a previous `ListTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopics` must match the call that provided the page token.",
                          "type": "string"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.topics.list",
                      "httpMethod": "GET",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics",
                      "description": "Returns the list of topics for the given project.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.delete",
                      "httpMethod": "DELETE",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "description": "Deletes the specified topic.",
                      "path": "v1/admin/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the topic to delete.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      }
                    }
                  },
                  "resources": {
                    "subscriptions": {
                      "methods": {
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "ListTopicSubscriptionsResponse"
                          },
                          "path": "v1/admin/{+name}/subscriptions",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. The name of the topic whose subscriptions to list.",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$"
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the given topic will be returned.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "pageToken": {
                              "description": "A page token, received from a previous `ListTopicSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopicSubscriptions` must match the call that provided the page token.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "id": "pubsublite.admin.projects.locations.topics.subscriptions.list",
                          "httpMethod": "GET",
                          "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}/subscriptions",
                          "description": "Lists the subscriptions attached to the specified topic.",
                          "parameterOrder": [
                            "name"
                          ]
                        }
                      }
                    }
                  }
                },
                "subscriptions": {
                  "methods": {
                    "create": {
                      "id": "pubsublite.admin.projects.locations.subscriptions.create",
                      "httpMethod": "POST",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions",
                      "request": {
                        "$ref": "Subscription"
                      },
                      "description": "Creates a new subscription.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Subscription"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/admin/{+parent}/subscriptions",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent location in which to create the subscription. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+$"
                        },
                        "subscriptionId": {
                          "location": "query",
                          "description": "Required. The ID to use for the subscription, which will become the final component of the subscription's name. This value is structured like: `my-sub-name`.",
                          "type": "string"
                        },
                        "skipBacklog": {
                          "location": "query",
                          "description": "If true, the newly created subscription will only receive messages published after the subscription was created. Otherwise, the entire message backlog will be received on the subscription. Defaults to false.",
                          "type": "boolean"
                        }
                      }
                    },
                    "get": {
                      "id": "pubsublite.admin.projects.locations.subscriptions.get",
                      "httpMethod": "GET",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "description": "Returns the subscription configuration.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Subscription"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/admin/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the subscription whose configuration to return.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "seek": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/admin/{+name}:seek",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the subscription to seek.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.subscriptions.seek",
                      "httpMethod": "POST",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:seek",
                      "request": {
                        "$ref": "SeekSubscriptionRequest"
                      },
                      "description": "Performs an out-of-band seek for a subscription to a specified target, which may be timestamps or named positions within the message backlog. Seek translates these targets to cursors for each partition and orchestrates subscribers to start consuming messages from these seek cursors. If an operation is returned, the seek has been registered and subscribers will eventually receive messages from the seek cursors (i.e. eventual consistency), as long as they are using a minimum supported client library version and not a system that tracks cursors independently of Pub/Sub Lite (e.g. Apache Beam, Dataflow, Spark). The seek operation will fail for unsupported clients. If clients would like to know when subscribers react to the seek (or not), they can poll the operation. The seek operation will succeed and complete once subscribers are ready to receive messages from the seek cursors for all partitions of the topic. This means that the seek operation will not complete until all subscribers come online. If the previous seek operation has not yet completed, it will be aborted and the new invocation of seek will supersede it.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.subscriptions.patch",
                      "httpMethod": "PATCH",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "request": {
                        "$ref": "Subscription"
                      },
                      "description": "Updates properties of the specified subscription.",
                      "path": "v1/admin/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "description": "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Required. A mask specifying the subscription fields to change.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Subscription"
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "ListSubscriptionsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the parent will be returned.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptions` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "description": "Required. The parent whose subscriptions are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v1/admin/{+parent}/subscriptions",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions",
                      "description": "Returns the list of subscriptions for the given project.",
                      "id": "pubsublite.admin.projects.locations.subscriptions.list",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "description": "Deletes the specified subscription.",
                      "id": "pubsublite.admin.projects.locations.subscriptions.delete",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the subscription to delete.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1/admin/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "description": "",
  "mtlsRootUrl": "https://pubsublite.mtls.googleapis.com/",
  "version": "v1",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "schemas": {
    "Operation": {
      "id": "Operation",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "ListSubscriptionsResponse": {
      "description": "Response for ListSubscriptions.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "subscriptions": {
          "description": "The list of subscriptions in the requested parent. The order of the subscriptions is unspecified.",
          "type": "array",
          "items": {
            "$ref": "Subscription"
          }
        }
      },
      "id": "ListSubscriptionsResponse"
    },
    "DeliveryConfig": {
      "description": "The settings for a subscription's message delivery.",
      "type": "object",
      "id": "DeliveryConfig",
      "properties": {
        "deliveryRequirement": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The server does not wait for a published message to be successfully written to storage before delivering it to subscribers.",
            "The server will not deliver a published message to subscribers until the message has been successfully written to storage. This will result in higher end-to-end latency, but consistent delivery."
          ],
          "description": "The DeliveryRequirement for this subscription.",
          "type": "string",
          "enum": [
            "DELIVERY_REQUIREMENT_UNSPECIFIED",
            "DELIVER_IMMEDIATELY",
            "DELIVER_AFTER_STORED"
          ]
        }
      }
    },
    "TimeTarget": {
      "id": "TimeTarget",
      "properties": {
        "publishTime": {
          "format": "google-datetime",
          "description": "Request the cursor of the first message with publish time greater than or equal to `publish_time`. All messages thereafter are guaranteed to have publish times >= `publish_time`.",
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Request the cursor of the first message with event time greater than or equal to `event_time`. If messages are missing an event time, the publish time is used as a fallback. As event times are user supplied, subsequent messages may have event times less than `event_time` and should be filtered by the client, if necessary.",
          "type": "string"
        }
      },
      "description": "A target publish or event time. Can be used for seeking to or retrieving the corresponding cursor.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "ListReservationsResponse": {
      "description": "Response for ListReservations.",
      "type": "object",
      "id": "ListReservationsResponse",
      "properties": {
        "reservations": {
          "description": "The list of reservation in the requested parent. The order of the reservations is unspecified.",
          "type": "array",
          "items": {
            "$ref": "Reservation"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      }
    },
    "ComputeMessageStatsResponse": {
      "description": "Response containing stats for messages in the requested topic and partition.",
      "type": "object",
      "id": "ComputeMessageStatsResponse",
      "properties": {
        "minimumEventTime": {
          "description": "The minimum event timestamp across these messages. For the purposes of this computation, if a message does not have an event time, we use the publish time. The timestamp will be unset if there are no messages.",
          "type": "string",
          "format": "google-datetime"
        },
        "messageCount": {
          "format": "int64",
          "description": "The count of messages.",
          "type": "string"
        },
        "messageBytes": {
          "description": "The number of quota bytes accounted to these messages.",
          "type": "string",
          "format": "int64"
        },
        "minimumPublishTime": {
          "format": "google-datetime",
          "description": "The minimum publish timestamp across these messages. Note that publish timestamps within a partition are not guaranteed to be non-decreasing. The timestamp will be unset if there are no messages.",
          "type": "string"
        }
      }
    },
    "PartitionConfig": {
      "id": "PartitionConfig",
      "properties": {
        "count": {
          "format": "int64",
          "description": "The number of partitions in the topic. Must be at least 1. Once a topic has been created the number of partitions can be increased but not decreased. Message ordering is not guaranteed across a topic resize. For more information see https://cloud.google.com/pubsub/lite/docs/topics#scaling_capacity",
          "type": "string"
        },
        "scale": {
          "description": "DEPRECATED: Use capacity instead which can express a superset of configurations. Every partition in the topic is allocated throughput equivalent to `scale` times the standard partition throughput (4 MiB/s). This is also reflected in the cost of this topic; a topic with `scale` of 2 and count of 10 is charged for 20 partitions. This value must be in the range [1,4].",
          "type": "integer",
          "deprecated": true,
          "format": "int32"
        },
        "capacity": {
          "description": "The capacity configuration.",
          "$ref": "Capacity"
        }
      },
      "description": "The settings for a topic's partitions.",
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Metadata for long running operations.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "createTime": {
          "description": "The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation finished running. Not set if the operation has not completed.",
          "type": "string"
        },
        "target": {
          "description": "Resource path for the target of the operation. For example, targets of seeks are subscription resources, structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
          "type": "string"
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        }
      }
    },
    "TopicPartitions": {
      "description": "Response for GetTopicPartitions.",
      "type": "object",
      "properties": {
        "partitionCount": {
          "description": "The number of partitions in the topic.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "TopicPartitions"
    },
    "ComputeTimeCursorResponse": {
      "id": "ComputeTimeCursorResponse",
      "properties": {
        "cursor": {
          "description": "If present, the cursor references the first message with time greater than or equal to the specified target time. If such a message cannot be found, the cursor will be unset (i.e. `cursor` is not present).",
          "$ref": "Cursor"
        }
      },
      "description": "Response containing the cursor corresponding to a publish or event time in a topic partition.",
      "type": "object"
    },
    "PubSubConfig": {
      "id": "PubSubConfig",
      "properties": {
        "topic": {
          "description": "The name of the Pub/Sub topic. Structured like: projects/{project_number}/topics/{topic_id}. The topic may be changed.",
          "type": "string"
        }
      },
      "description": "Configuration for exporting to a Pub/Sub topic.",
      "type": "object"
    },
    "Cursor": {
      "properties": {
        "offset": {
          "description": "The offset of a message within a topic partition. Must be greater than or equal 0.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Cursor",
      "description": "A cursor that describes the position of a message within a topic partition.",
      "type": "object"
    },
    "ListTopicsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "topics": {
          "description": "The list of topic in the requested parent. The order of the topics is unspecified.",
          "type": "array",
          "items": {
            "$ref": "Topic"
          }
        }
      },
      "id": "ListTopicsResponse",
      "description": "Response for ListTopics.",
      "type": "object"
    },
    "Reservation": {
      "id": "Reservation",
      "properties": {
        "name": {
          "description": "The name of the reservation. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
          "type": "string"
        },
        "throughputCapacity": {
          "format": "int64",
          "description": "The reserved throughput capacity. Every unit of throughput capacity is equivalent to 1 MiB/s of published messages or 2 MiB/s of subscribed messages. Any topics which are declared as using capacity from a Reservation will consume resources from this reservation instead of being charged individually.",
          "type": "string"
        }
      },
      "description": "Metadata about a reservation resource.",
      "type": "object"
    },
    "SeekSubscriptionResponse": {
      "description": "Response for SeekSubscription long running operation.",
      "type": "object",
      "id": "SeekSubscriptionResponse",
      "properties": {}
    },
    "ListReservationTopicsResponse": {
      "properties": {
        "topics": {
          "description": "The names of topics attached to the reservation. The order of the topics is unspecified.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "id": "ListReservationTopicsResponse",
      "description": "Response for ListReservationTopics.",
      "type": "object"
    },
    "Capacity": {
      "id": "Capacity",
      "properties": {
        "publishMibPerSec": {
          "format": "int32",
          "description": "Publish throughput capacity per partition in MiB/s. Must be >= 4 and <= 16.",
          "type": "integer"
        },
        "subscribeMibPerSec": {
          "description": "Subscribe throughput capacity per partition in MiB/s. Must be >= 4 and <= 32.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The throughput capacity configuration for each partition.",
      "type": "object"
    },
    "Subscription": {
      "description": "Metadata about a subscription resource.",
      "type": "object",
      "id": "Subscription",
      "properties": {
        "name": {
          "description": "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
          "type": "string"
        },
        "topic": {
          "description": "The name of the topic this subscription is attached to. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
          "type": "string"
        },
        "deliveryConfig": {
          "description": "The settings for this subscription's message delivery.",
          "$ref": "DeliveryConfig"
        },
        "exportConfig": {
          "description": "If present, messages are automatically written from the Pub/Sub Lite topic associated with this subscription to a destination.",
          "$ref": "ExportConfig"
        }
      }
    },
    "SeekSubscriptionRequest": {
      "description": "Request for SeekSubscription.",
      "type": "object",
      "id": "SeekSubscriptionRequest",
      "properties": {
        "timeTarget": {
          "description": "Seek to the first message whose publish or event time is greater than or equal to the specified query time. If no such message can be located, will seek to the end of the message backlog.",
          "$ref": "TimeTarget"
        },
        "namedTarget": {
          "enumDescriptions": [
            "Unspecified named target. Do not use.",
            "Seek to the oldest retained message.",
            "Seek past all recently published messages, skipping the entire message backlog."
          ],
          "description": "Seek to a named position with respect to the message backlog.",
          "type": "string",
          "enum": [
            "NAMED_TARGET_UNSPECIFIED",
            "TAIL",
            "HEAD"
          ]
        }
      }
    },
    "ListPartitionCursorsResponse": {
      "id": "ListPartitionCursorsResponse",
      "properties": {
        "partitionCursors": {
          "description": "The partition cursors from this request.",
          "type": "array",
          "items": {
            "$ref": "PartitionCursor"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response for ListPartitionCursors",
      "type": "object"
    },
    "ComputeHeadCursorResponse": {
      "id": "ComputeHeadCursorResponse",
      "properties": {
        "headCursor": {
          "description": "The head cursor.",
          "$ref": "Cursor"
        }
      },
      "description": "Response containing the head cursor for the requested topic and partition.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse"
    },
    "Topic": {
      "properties": {
        "retentionConfig": {
          "description": "The settings for this topic's message retention.",
          "$ref": "RetentionConfig"
        },
        "reservationConfig": {
          "description": "The settings for this topic's Reservation usage.",
          "$ref": "ReservationConfig"
        },
        "partitionConfig": {
          "description": "The settings for this topic's partitions.",
          "$ref": "PartitionConfig"
        },
        "name": {
          "description": "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
          "type": "string"
        }
      },
      "id": "Topic",
      "description": "Metadata about a topic resource.",
      "type": "object"
    },
    "ComputeTimeCursorRequest": {
      "id": "ComputeTimeCursorRequest",
      "properties": {
        "partition": {
          "format": "int64",
          "description": "Required. The partition for which we should compute the cursor.",
          "type": "string"
        },
        "target": {
          "description": "Required. The target publish or event time. Specifying a future time will return an unset cursor.",
          "$ref": "TimeTarget"
        }
      },
      "description": "Compute the corresponding cursor for a publish or event time in a topic partition.",
      "type": "object"
    },
    "RetentionConfig": {
      "id": "RetentionConfig",
      "properties": {
        "perPartitionBytes": {
          "description": "The provisioned storage, in bytes, per partition. If the number of bytes stored in any of the topic's partitions grows beyond this value, older messages will be dropped to make room for newer ones, regardless of the value of `period`.",
          "type": "string",
          "format": "int64"
        },
        "period": {
          "format": "google-duration",
          "description": "How long a published message is retained. If unset, messages will be retained as long as the bytes retained for each partition is below `per_partition_bytes`.",
          "type": "string"
        }
      },
      "description": "The settings for a topic's message retention.",
      "type": "object"
    },
    "ListTopicSubscriptionsResponse": {
      "description": "Response for ListTopicSubscriptions.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "subscriptions": {
          "description": "The names of subscriptions attached to the topic. The order of the subscriptions is unspecified.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListTopicSubscriptionsResponse"
    },
    "ReservationConfig": {
      "description": "The settings for this topic's Reservation usage.",
      "type": "object",
      "properties": {
        "throughputReservation": {
          "description": "The Reservation to use for this topic's throughput capacity. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
          "type": "string"
        }
      },
      "id": "ReservationConfig"
    },
    "PartitionCursor": {
      "properties": {
        "cursor": {
          "description": "The value of the cursor.",
          "$ref": "Cursor"
        },
        "partition": {
          "description": "The partition this is for.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "PartitionCursor",
      "description": "A pair of a Cursor and the partition it is for.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "ComputeMessageStatsRequest": {
      "description": "Compute statistics about a range of messages in a given topic and partition.",
      "type": "object",
      "properties": {
        "partition": {
          "format": "int64",
          "description": "Required. The partition for which we should compute message stats.",
          "type": "string"
        },
        "startCursor": {
          "description": "The inclusive start of the range.",
          "$ref": "Cursor"
        },
        "endCursor": {
          "description": "The exclusive end of the range. The range is empty if end_cursor <= start_cursor. Specifying a start_cursor before the first message and an end_cursor after the last message will retrieve all messages.",
          "$ref": "Cursor"
        }
      },
      "id": "ComputeMessageStatsRequest"
    },
    "CommitCursorRequest": {
      "properties": {
        "cursor": {
          "description": "The new value for the committed cursor.",
          "$ref": "Cursor"
        },
        "partition": {
          "description": "The partition for which to update the cursor. Partitions are zero indexed, so `partition` must be in the range [0, topic.num_partitions).",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "CommitCursorRequest",
      "description": "Request for CommitCursor.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "ExportConfig": {
      "description": "Configuration for a Pub/Sub Lite subscription that writes messages to a destination. User subscriber clients must not connect to this subscription.",
      "type": "object",
      "id": "ExportConfig",
      "properties": {
        "desiredState": {
          "description": "The desired state of this export. Setting this to values other than `ACTIVE` and `PAUSED` will result in an error.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Messages are being exported.",
            "Exporting messages is suspended.",
            "Messages cannot be exported due to permission denied errors. Output only.",
            "Messages cannot be exported due to missing resources. Output only."
          ]
        },
        "deadLetterTopic": {
          "description": "Optional. The name of an optional Pub/Sub Lite topic to publish messages that can not be exported to the destination. For example, the message can not be published to the Pub/Sub service because it does not satisfy the constraints documented at https://cloud.google.com/pubsub/docs/publisher. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}. Must be within the same project and location as the subscription. The topic may be changed or removed.",
          "type": "string"
        },
        "currentState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Messages are being exported.",
            "Exporting messages is suspended.",
            "Messages cannot be exported due to permission denied errors. Output only.",
            "Messages cannot be exported due to missing resources. Output only."
          ],
          "description": "Output only. The current state of the export, which may be different to the desired state due to errors. This field is output only.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "readOnly": true,
          "type": "string"
        },
        "pubsubConfig": {
          "description": "Messages are automatically written from the Pub/Sub Lite topic associated with this subscription to a Pub/Sub topic.",
          "$ref": "PubSubConfig"
        }
      }
    },
    "ComputeHeadCursorRequest": {
      "description": "Compute the current head cursor for a partition.",
      "type": "object",
      "id": "ComputeHeadCursorRequest",
      "properties": {
        "partition": {
          "format": "int64",
          "description": "Required. The partition for which we should compute the head cursor.",
          "type": "string"
        }
      }
    },
    "CommitCursorResponse": {
      "id": "CommitCursorResponse",
      "properties": {},
      "description": "Response for CommitCursor.",
      "type": "object"
    }
  },
  "basePath": "",
  "id": "pubsublite:v1",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "batchPath": "batch",
  "rootUrl": "https://pubsublite.googleapis.com/"
}