{
  "ownerName": "Google",
  "basePath": "",
  "canonicalName": "PubsubLite",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "description": "",
  "title": "Pub/Sub Lite API",
  "discoveryVersion": "v1",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "revision": "20260731",
  "resources": {
    "cursor": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "subscriptions": {
                  "resources": {
                    "cursors": {
                      "methods": {
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "description": "The maximum number of cursors to return. The service may return fewer than this value. If unset or zero, all cursors for the parent will be returned.",
                              "location": "query",
                              "format": "int32"
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The subscription for which to retrieve cursors. Structured like `projects/{project_number}/locations/{location}/subscriptions/{subscription_id}`.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "A page token, received from a previous `ListPartitionCursors` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPartitionCursors` must match the call that provided the page token.",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/cursor/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}/cursors",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "ListPartitionCursorsResponse"
                          },
                          "id": "pubsublite.cursor.projects.locations.subscriptions.cursors.list",
                          "httpMethod": "GET",
                          "description": "Returns all committed cursor information for a subscription.",
                          "path": "v1/cursor/{+parent}/cursors"
                        }
                      }
                    }
                  },
                  "methods": {
                    "commitCursor": {
                      "id": "pubsublite.cursor.projects.locations.subscriptions.commitCursor",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "CommitCursorRequest"
                      },
                      "description": "Updates the committed cursor.",
                      "path": "v1/cursor/{+subscription}:commitCursor",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "subscription": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "description": "The subscription for which to update the cursor.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1/cursor/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:commitCursor",
                      "parameterOrder": [
                        "subscription"
                      ],
                      "response": {
                        "$ref": "CommitCursorResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "admin": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "subscriptions": {
                  "methods": {
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Required. A mask specifying the subscription fields to change.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Subscription"
                      },
                      "id": "pubsublite.admin.projects.locations.subscriptions.patch",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "Subscription"
                      },
                      "description": "Updates properties of the specified subscription.",
                      "path": "v1/admin/{+name}"
                    },
                    "seek": {
                      "path": "v1/admin/{+name}:seek",
                      "id": "pubsublite.admin.projects.locations.subscriptions.seek",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "SeekSubscriptionRequest"
                      },
                      "description": "Performs an out-of-band seek for a subscription to a specified target, which may be timestamps or named positions within the message backlog. Seek translates these targets to cursors for each partition and orchestrates subscribers to start consuming messages from these seek cursors. If an operation is returned, the seek has been registered and subscribers will eventually receive messages from the seek cursors (i.e. eventual consistency), as long as they are using a minimum supported client library version and not a system that tracks cursors independently of Pub/Sub Lite (e.g. Apache Beam, Dataflow, Spark). The seek operation will fail for unsupported clients. If clients would like to know when subscribers react to the seek (or not), they can poll the operation. The seek operation will succeed and complete once subscribers are ready to receive messages from the seek cursors for all partitions of the topic. This means that the seek operation will not complete until all subscribers come online. If the previous seek operation has not yet completed, it will be aborted and the new invocation of seek will supersede it.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:seek",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the subscription to seek."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "path": "v1/admin/{+parent}/subscriptions",
                      "description": "Creates a new subscription.",
                      "id": "pubsublite.admin.projects.locations.subscriptions.create",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Subscription"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Subscription"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "skipBacklog": {
                          "location": "query",
                          "type": "boolean",
                          "description": "If true, the newly created subscription will only receive messages published after the subscription was created. Otherwise, the entire message backlog will be received on the subscription. Defaults to false."
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent location in which to create the subscription. Structured like `projects/{project_number}/locations/{location}`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+$"
                        },
                        "subscriptionId": {
                          "location": "query",
                          "description": "Required. The ID to use for the subscription, which will become the final component of the subscription's name. This value is structured like: `my-sub-name`.",
                          "type": "string"
                        }
                      }
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Subscription"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the subscription whose configuration to return.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/admin/{+name}",
                      "description": "Returns the subscription configuration.",
                      "id": "pubsublite.admin.projects.locations.subscriptions.get",
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "description": "Required. The name of the subscription to delete.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1/admin/{+name}",
                      "id": "pubsublite.admin.projects.locations.subscriptions.delete",
                      "httpMethod": "DELETE",
                      "description": "Deletes the specified subscription."
                    },
                    "list": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListSubscriptionsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous `ListSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptions` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent whose subscriptions are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+$"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the parent will be returned.",
                          "type": "integer"
                        }
                      },
                      "path": "v1/admin/{+parent}/subscriptions",
                      "description": "Returns the list of subscriptions for the given project.",
                      "id": "pubsublite.admin.projects.locations.subscriptions.list",
                      "httpMethod": "GET"
                    }
                  }
                },
                "reservations": {
                  "resources": {
                    "topics": {
                      "methods": {
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "description": "The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the given reservation will be returned.",
                              "type": "integer"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "A page token, received from a previous `ListReservationTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReservationTopics` must match the call that provided the page token."
                            },
                            "name": {
                              "type": "string",
                              "description": "Required. The name of the reservation whose topics to list. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$"
                            }
                          },
                          "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/topics",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "ListReservationTopicsResponse"
                          },
                          "description": "Lists the topics attached to the specified reservation.",
                          "id": "pubsublite.admin.projects.locations.reservations.topics.list",
                          "httpMethod": "GET",
                          "path": "v1/admin/{+name}/topics"
                        }
                      }
                    }
                  },
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "A page token, received from a previous `ListReservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReservations` must match the call that provided the page token.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent whose reservations are to be listed. Structured like `projects/{project_number}/locations/{location}`."
                        },
                        "pageSize": {
                          "description": "The maximum number of reservations to return. The service may return fewer than this value. If unset or zero, all reservations for the parent will be returned.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListReservationsResponse"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations",
                      "description": "Returns the list of reservations for the given project.",
                      "id": "pubsublite.admin.projects.locations.reservations.list",
                      "httpMethod": "GET",
                      "path": "v1/admin/{+parent}/reservations"
                    },
                    "patch": {
                      "path": "v1/admin/{+name}",
                      "description": "Updates properties of the specified reservation.",
                      "id": "pubsublite.admin.projects.locations.reservations.patch",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "Reservation"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Reservation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "type": "string",
                          "description": "The name of the reservation. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "location": "path",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Required. A mask specifying the reservation fields to change.",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "description": "Required. The name of the reservation to delete. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "pubsublite.admin.projects.locations.reservations.delete",
                      "httpMethod": "DELETE",
                      "description": "Deletes the specified reservation.",
                      "path": "v1/admin/{+name}"
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent location in which to create the reservation. Structured like `projects/{project_number}/locations/{location}`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+$"
                        },
                        "reservationId": {
                          "type": "string",
                          "description": "Required. The ID to use for the reservation, which will become the final component of the reservation's name. This value is structured like: `my-reservation-name`.",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Reservation"
                      },
                      "description": "Creates a new reservation.",
                      "id": "pubsublite.admin.projects.locations.reservations.create",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Reservation"
                      },
                      "path": "v1/admin/{+parent}/reservations"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the reservation whose configuration to return. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Reservation"
                      },
                      "id": "pubsublite.admin.projects.locations.reservations.get",
                      "httpMethod": "GET",
                      "description": "Returns the reservation configuration.",
                      "path": "v1/admin/{+name}"
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "filter": {
                          "description": "The standard list filter.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        },
                        "returnPartialSuccess": {
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "description": "The name of the operation's parent resource.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "The standard list page size."
                        }
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "id": "pubsublite.admin.projects.locations.operations.list",
                      "httpMethod": "GET",
                      "path": "v1/admin/{+name}/operations"
                    },
                    "cancel": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "type": "string",
                          "description": "The name of the operation resource to be cancelled.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/admin/{+name}:cancel",
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "id": "pubsublite.admin.projects.locations.operations.cancel",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "CancelOperationRequest"
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The name of the operation resource to be deleted."
                        }
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "pubsublite.admin.projects.locations.operations.delete",
                      "httpMethod": "DELETE",
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "path": "v1/admin/{+name}"
                    },
                    "get": {
                      "path": "v1/admin/{+name}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "id": "pubsublite.admin.projects.locations.operations.get",
                      "httpMethod": "GET",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "The name of the operation resource.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                        }
                      }
                    }
                  }
                },
                "topics": {
                  "resources": {
                    "subscriptions": {
                      "methods": {
                        "list": {
                          "path": "v1/admin/{+name}/subscriptions",
                          "description": "Lists the subscriptions attached to the specified topic.",
                          "id": "pubsublite.admin.projects.locations.topics.subscriptions.list",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "ListTopicSubscriptionsResponse"
                          },
                          "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}/subscriptions",
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "description": "A page token, received from a previous `ListTopicSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopicSubscriptions` must match the call that provided the page token.",
                              "type": "string"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The name of the topic whose subscriptions to list."
                            },
                            "pageSize": {
                              "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the given topic will be returned.",
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "list": {
                      "description": "Returns the list of topics for the given project.",
                      "id": "pubsublite.admin.projects.locations.topics.list",
                      "httpMethod": "GET",
                      "path": "v1/admin/{+parent}/topics",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous `ListTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopics` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent whose topics are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+$"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the parent will be returned.",
                          "type": "integer"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListTopicsResponse"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics"
                    },
                    "delete": {
                      "path": "v1/admin/{+name}",
                      "description": "Deletes the specified topic.",
                      "id": "pubsublite.admin.projects.locations.topics.delete",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the topic to delete.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent location in which to create the topic. Structured like `projects/{project_number}/locations/{location}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+$"
                        },
                        "topicId": {
                          "type": "string",
                          "description": "Required. The ID to use for the topic, which will become the final component of the topic's name. This value is structured like: `my-topic-name`.",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Topic"
                      },
                      "id": "pubsublite.admin.projects.locations.topics.create",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Topic"
                      },
                      "description": "Creates a new topic.",
                      "path": "v1/admin/{+parent}/topics"
                    },
                    "get": {
                      "description": "Returns the topic configuration.",
                      "id": "pubsublite.admin.projects.locations.topics.get",
                      "httpMethod": "GET",
                      "path": "v1/admin/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the topic whose configuration to return.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Topic"
                      }
                    },
                    "getPartitions": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}/partitions",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "TopicPartitions"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The topic whose partition information to return.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$"
                        }
                      },
                      "path": "v1/admin/{+name}/partitions",
                      "id": "pubsublite.admin.projects.locations.topics.getPartitions",
                      "httpMethod": "GET",
                      "description": "Returns the partition information for the requested topic."
                    },
                    "patch": {
                      "description": "Updates properties of the specified topic.",
                      "id": "pubsublite.admin.projects.locations.topics.patch",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "Topic"
                      },
                      "path": "v1/admin/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}"
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Required. A mask specifying the topic fields to change.",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Topic"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "topicStats": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "topics": {
                  "methods": {
                    "computeMessageStats": {
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeMessageStats",
                      "parameterOrder": [
                        "topic"
                      ],
                      "response": {
                        "$ref": "ComputeMessageStatsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "topic": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The topic for which we should compute message stats.",
                          "type": "string"
                        }
                      },
                      "path": "v1/topicStats/{+topic}:computeMessageStats",
                      "id": "pubsublite.topicStats.projects.locations.topics.computeMessageStats",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ComputeMessageStatsRequest"
                      },
                      "description": "Compute statistics about a range of messages in a given topic and partition."
                    },
                    "computeHeadCursor": {
                      "id": "pubsublite.topicStats.projects.locations.topics.computeHeadCursor",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ComputeHeadCursorRequest"
                      },
                      "description": "Compute the head cursor for the partition. The head cursor's offset is guaranteed to be less than or equal to all messages which have not yet been acknowledged as published, and greater than the offset of any message whose publish has already been acknowledged. It is zero if there have never been messages in the partition.",
                      "path": "v1/topicStats/{+topic}:computeHeadCursor",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "topic": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The topic for which we should compute the head cursor."
                        }
                      },
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeHeadCursor",
                      "parameterOrder": [
                        "topic"
                      ],
                      "response": {
                        "$ref": "ComputeHeadCursorResponse"
                      }
                    },
                    "computeTimeCursor": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "topic": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The topic for which we should compute the cursor.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$"
                        }
                      },
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeTimeCursor",
                      "parameterOrder": [
                        "topic"
                      ],
                      "response": {
                        "$ref": "ComputeTimeCursorResponse"
                      },
                      "id": "pubsublite.topicStats.projects.locations.topics.computeTimeCursor",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ComputeTimeCursorRequest"
                      },
                      "description": "Compute the corresponding cursor for a publish or event time in a topic partition.",
                      "path": "v1/topicStats/{+topic}:computeTimeCursor"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://pubsublite.mtls.googleapis.com/",
  "schemas": {
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "ComputeTimeCursorRequest": {
      "properties": {
        "partition": {
          "format": "int64",
          "description": "Required. The partition for which we should compute the cursor.",
          "type": "string"
        },
        "target": {
          "description": "Required. The target publish or event time. Specifying a future time will return an unset cursor.",
          "$ref": "TimeTarget"
        }
      },
      "id": "ComputeTimeCursorRequest",
      "type": "object",
      "description": "Compute the corresponding cursor for a publish or event time in a topic partition."
    },
    "TimeTarget": {
      "properties": {
        "publishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Request the cursor of the first message with publish time greater than or equal to `publish_time`. All messages thereafter are guaranteed to have publish times >= `publish_time`."
        },
        "eventTime": {
          "type": "string",
          "description": "Request the cursor of the first message with event time greater than or equal to `event_time`. If messages are missing an event time, the publish time is used as a fallback. As event times are user supplied, subsequent messages may have event times less than `event_time` and should be filtered by the client, if necessary.",
          "format": "google-datetime"
        }
      },
      "description": "A target publish or event time. Can be used for seeking to or retrieving the corresponding cursor.",
      "id": "TimeTarget",
      "type": "object"
    },
    "ComputeMessageStatsRequest": {
      "properties": {
        "partition": {
          "type": "string",
          "description": "Required. The partition for which we should compute message stats.",
          "format": "int64"
        },
        "endCursor": {
          "description": "The exclusive end of the range. The range is empty if end_cursor <= start_cursor. Specifying a start_cursor before the first message and an end_cursor after the last message will retrieve all messages.",
          "$ref": "Cursor"
        },
        "startCursor": {
          "description": "The inclusive start of the range.",
          "$ref": "Cursor"
        }
      },
      "description": "Compute statistics about a range of messages in a given topic and partition.",
      "id": "ComputeMessageStatsRequest",
      "type": "object"
    },
    "RetentionConfig": {
      "properties": {
        "perPartitionBytes": {
          "description": "The provisioned storage, in bytes, per partition. If the number of bytes stored in any of the topic's partitions grows beyond this value, older messages will be dropped to make room for newer ones, regardless of the value of `period`.",
          "type": "string",
          "format": "int64"
        },
        "period": {
          "format": "google-duration",
          "type": "string",
          "description": "How long a published message is retained. If unset, messages will be retained as long as the bytes retained for each partition is below `per_partition_bytes`."
        }
      },
      "description": "The settings for a topic's message retention.",
      "id": "RetentionConfig",
      "type": "object"
    },
    "ExportConfig": {
      "id": "ExportConfig",
      "type": "object",
      "description": "Configuration for a Pub/Sub Lite subscription that writes messages to a destination. User subscriber clients must not connect to this subscription.",
      "properties": {
        "currentState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Messages are being exported.",
            "Exporting messages is suspended.",
            "Messages cannot be exported due to permission denied errors. Output only.",
            "Messages cannot be exported due to missing resources. Output only."
          ],
          "description": "Output only. The current state of the export, which may be different to the desired state due to errors. This field is output only.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "type": "string"
        },
        "desiredState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Messages are being exported.",
            "Exporting messages is suspended.",
            "Messages cannot be exported due to permission denied errors. Output only.",
            "Messages cannot be exported due to missing resources. Output only."
          ],
          "description": "The desired state of this export. Setting this to values other than `ACTIVE` and `PAUSED` will result in an error.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "type": "string"
        },
        "pubsubConfig": {
          "description": "Messages are automatically written from the Pub/Sub Lite topic associated with this subscription to a Pub/Sub topic.",
          "$ref": "PubSubConfig"
        },
        "deadLetterTopic": {
          "type": "string",
          "description": "Optional. The name of an optional Pub/Sub Lite topic to publish messages that can not be exported to the destination. For example, the message can not be published to the Pub/Sub service because it does not satisfy the constraints documented at https://cloud.google.com/pubsub/docs/publisher. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}. Must be within the same project and location as the subscription. The topic may be changed or removed."
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "The time the operation was created.",
          "type": "string"
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation finished running. Not set if the operation has not completed."
        },
        "target": {
          "description": "Resource path for the target of the operation. For example, targets of seeks are subscription resources, structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
          "type": "string"
        }
      },
      "description": "Metadata for long running operations.",
      "id": "OperationMetadata",
      "type": "object"
    },
    "ReservationConfig": {
      "properties": {
        "throughputReservation": {
          "type": "string",
          "description": "The Reservation to use for this topic's throughput capacity. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}"
        }
      },
      "id": "ReservationConfig",
      "type": "object",
      "description": "The settings for this topic's Reservation usage."
    },
    "ComputeHeadCursorResponse": {
      "description": "Response containing the head cursor for the requested topic and partition.",
      "id": "ComputeHeadCursorResponse",
      "type": "object",
      "properties": {
        "headCursor": {
          "$ref": "Cursor",
          "description": "The head cursor."
        }
      }
    },
    "CommitCursorRequest": {
      "id": "CommitCursorRequest",
      "type": "object",
      "description": "Request for CommitCursor.",
      "properties": {
        "cursor": {
          "description": "The new value for the committed cursor.",
          "$ref": "Cursor"
        },
        "partition": {
          "format": "int64",
          "description": "The partition for which to update the cursor. Partitions are zero indexed, so `partition` must be in the range [0, topic.num_partitions).",
          "type": "string"
        }
      }
    },
    "PartitionConfig": {
      "id": "PartitionConfig",
      "type": "object",
      "description": "The settings for a topic's partitions.",
      "properties": {
        "scale": {
          "description": "DEPRECATED: Use capacity instead which can express a superset of configurations. Every partition in the topic is allocated throughput equivalent to `scale` times the standard partition throughput (4 MiB/s). This is also reflected in the cost of this topic; a topic with `scale` of 2 and count of 10 is charged for 20 partitions. This value must be in the range [1,4].",
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "capacity": {
          "$ref": "Capacity",
          "description": "The capacity configuration."
        },
        "count": {
          "format": "int64",
          "description": "The number of partitions in the topic. Must be at least 1. Once a topic has been created the number of partitions can be increased but not decreased. Message ordering is not guaranteed across a topic resize. For more information see https://cloud.google.com/pubsub/lite/docs/topics#scaling_capacity",
          "type": "string"
        }
      }
    },
    "Capacity": {
      "id": "Capacity",
      "type": "object",
      "description": "The throughput capacity configuration for each partition.",
      "properties": {
        "subscribeMibPerSec": {
          "format": "int32",
          "type": "integer",
          "description": "Subscribe throughput capacity per partition in MiB/s. Must be >= 4 and <= 32."
        },
        "publishMibPerSec": {
          "format": "int32",
          "type": "integer",
          "description": "Publish throughput capacity per partition in MiB/s. Must be >= 4 and <= 16."
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "ComputeTimeCursorResponse": {
      "properties": {
        "cursor": {
          "$ref": "Cursor",
          "description": "If present, the cursor references the first message with time greater than or equal to the specified target time. If such a message cannot be found, the cursor will be unset (i.e. `cursor` is not present)."
        }
      },
      "description": "Response containing the cursor corresponding to a publish or event time in a topic partition.",
      "id": "ComputeTimeCursorResponse",
      "type": "object"
    },
    "CommitCursorResponse": {
      "properties": {},
      "id": "CommitCursorResponse",
      "type": "object",
      "description": "Response for CommitCursor."
    },
    "ComputeHeadCursorRequest": {
      "description": "Compute the current head cursor for a partition.",
      "id": "ComputeHeadCursorRequest",
      "type": "object",
      "properties": {
        "partition": {
          "format": "int64",
          "type": "string",
          "description": "Required. The partition for which we should compute the head cursor."
        }
      }
    },
    "DeliveryConfig": {
      "properties": {
        "deliveryRequirement": {
          "type": "string",
          "description": "The DeliveryRequirement for this subscription.",
          "enum": [
            "DELIVERY_REQUIREMENT_UNSPECIFIED",
            "DELIVER_IMMEDIATELY",
            "DELIVER_AFTER_STORED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The server does not wait for a published message to be successfully written to storage before delivering it to subscribers.",
            "The server will not deliver a published message to subscribers until the message has been successfully written to storage. This will result in higher end-to-end latency, but consistent delivery."
          ]
        }
      },
      "id": "DeliveryConfig",
      "type": "object",
      "description": "The settings for a subscription's message delivery."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "ListTopicSubscriptionsResponse": {
      "properties": {
        "subscriptions": {
          "items": {
            "type": "string"
          },
          "description": "The names of subscriptions attached to the topic. The order of the subscriptions is unspecified.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      },
      "description": "Response for ListTopicSubscriptions.",
      "id": "ListTopicSubscriptionsResponse",
      "type": "object"
    },
    "PartitionCursor": {
      "description": "A pair of a Cursor and the partition it is for.",
      "id": "PartitionCursor",
      "type": "object",
      "properties": {
        "partition": {
          "description": "The partition this is for.",
          "type": "string",
          "format": "int64"
        },
        "cursor": {
          "$ref": "Cursor",
          "description": "The value of the cursor."
        }
      }
    },
    "ListSubscriptionsResponse": {
      "description": "Response for ListSubscriptions.",
      "id": "ListSubscriptionsResponse",
      "type": "object",
      "properties": {
        "subscriptions": {
          "type": "array",
          "description": "The list of subscriptions in the requested parent. The order of the subscriptions is unspecified.",
          "items": {
            "$ref": "Subscription"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ListReservationsResponse": {
      "properties": {
        "reservations": {
          "description": "The list of reservation in the requested parent. The order of the reservations is unspecified.",
          "type": "array",
          "items": {
            "$ref": "Reservation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      },
      "description": "Response for ListReservations.",
      "id": "ListReservationsResponse",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "SeekSubscriptionRequest": {
      "properties": {
        "namedTarget": {
          "type": "string",
          "description": "Seek to a named position with respect to the message backlog.",
          "enum": [
            "NAMED_TARGET_UNSPECIFIED",
            "TAIL",
            "HEAD"
          ],
          "enumDescriptions": [
            "Unspecified named target. Do not use.",
            "Seek to the oldest retained message.",
            "Seek past all recently published messages, skipping the entire message backlog."
          ]
        },
        "timeTarget": {
          "$ref": "TimeTarget",
          "description": "Seek to the first message whose publish or event time is greater than or equal to the specified query time. If no such message can be located, will seek to the end of the message backlog."
        }
      },
      "description": "Request for SeekSubscription.",
      "id": "SeekSubscriptionRequest",
      "type": "object"
    },
    "SeekSubscriptionResponse": {
      "properties": {},
      "description": "Response for SeekSubscription long running operation.",
      "id": "SeekSubscriptionResponse",
      "type": "object"
    },
    "TopicPartitions": {
      "id": "TopicPartitions",
      "type": "object",
      "description": "Response for GetTopicPartitions.",
      "properties": {
        "partitionCount": {
          "format": "int64",
          "description": "The number of partitions in the topic.",
          "type": "string"
        }
      }
    },
    "ListTopicsResponse": {
      "properties": {
        "topics": {
          "type": "array",
          "description": "The list of topic in the requested parent. The order of the topics is unspecified.",
          "items": {
            "$ref": "Topic"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "description": "Response for ListTopics.",
      "id": "ListTopicsResponse",
      "type": "object"
    },
    "Topic": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}"
        },
        "reservationConfig": {
          "$ref": "ReservationConfig",
          "description": "The settings for this topic's Reservation usage."
        },
        "retentionConfig": {
          "description": "The settings for this topic's message retention.",
          "$ref": "RetentionConfig"
        },
        "partitionConfig": {
          "$ref": "PartitionConfig",
          "description": "The settings for this topic's partitions."
        }
      },
      "id": "Topic",
      "type": "object",
      "description": "Metadata about a topic resource."
    },
    "Cursor": {
      "properties": {
        "offset": {
          "format": "int64",
          "type": "string",
          "description": "The offset of a message within a topic partition. Must be greater than or equal 0."
        }
      },
      "description": "A cursor that describes the position of a message within a topic partition.",
      "id": "Cursor",
      "type": "object"
    },
    "ListPartitionCursorsResponse": {
      "properties": {
        "partitionCursors": {
          "items": {
            "$ref": "PartitionCursor"
          },
          "description": "The partition cursors from this request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListPartitionCursorsResponse",
      "type": "object",
      "description": "Response for ListPartitionCursors"
    },
    "ListReservationTopicsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        },
        "topics": {
          "type": "array",
          "description": "The names of topics attached to the reservation. The order of the topics is unspecified.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response for ListReservationTopics.",
      "id": "ListReservationTopicsResponse",
      "type": "object"
    },
    "Subscription": {
      "properties": {
        "deliveryConfig": {
          "description": "The settings for this subscription's message delivery.",
          "$ref": "DeliveryConfig"
        },
        "topic": {
          "type": "string",
          "description": "The name of the topic this subscription is attached to. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}"
        },
        "name": {
          "type": "string",
          "description": "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}"
        },
        "exportConfig": {
          "description": "If present, messages are automatically written from the Pub/Sub Lite topic associated with this subscription to a destination.",
          "$ref": "ExportConfig"
        }
      },
      "description": "Metadata about a subscription resource.",
      "id": "Subscription",
      "type": "object"
    },
    "ComputeMessageStatsResponse": {
      "properties": {
        "messageBytes": {
          "format": "int64",
          "description": "The number of quota bytes accounted to these messages.",
          "type": "string"
        },
        "minimumEventTime": {
          "description": "The minimum event timestamp across these messages. For the purposes of this computation, if a message does not have an event time, we use the publish time. The timestamp will be unset if there are no messages.",
          "type": "string",
          "format": "google-datetime"
        },
        "minimumPublishTime": {
          "type": "string",
          "description": "The minimum publish timestamp across these messages. Note that publish timestamps within a partition are not guaranteed to be non-decreasing. The timestamp will be unset if there are no messages.",
          "format": "google-datetime"
        },
        "messageCount": {
          "format": "int64",
          "type": "string",
          "description": "The count of messages."
        }
      },
      "description": "Response containing stats for messages in the requested topic and partition.",
      "id": "ComputeMessageStatsResponse",
      "type": "object"
    },
    "PubSubConfig": {
      "properties": {
        "topic": {
          "description": "The name of the Pub/Sub topic. Structured like: projects/{project_number}/topics/{topic_id}. The topic may be changed.",
          "type": "string"
        }
      },
      "id": "PubSubConfig",
      "type": "object",
      "description": "Configuration for exporting to a Pub/Sub topic."
    },
    "Reservation": {
      "properties": {
        "name": {
          "description": "The name of the reservation. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
          "type": "string"
        },
        "throughputCapacity": {
          "format": "int64",
          "type": "string",
          "description": "The reserved throughput capacity. Every unit of throughput capacity is equivalent to 1 MiB/s of published messages or 2 MiB/s of subscribed messages. Any topics which are declared as using capacity from a Reservation will consume resources from this reservation instead of being charged individually."
        }
      },
      "description": "Metadata about a reservation resource.",
      "id": "Reservation",
      "type": "object"
    }
  },
  "kind": "discovery#restDescription",
  "version": "v1",
  "batchPath": "batch",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/pubsub/lite/docs",
  "name": "pubsublite",
  "rootUrl": "https://pubsublite.googleapis.com/",
  "protocol": "rest",
  "baseUrl": "https://pubsublite.googleapis.com/",
  "id": "pubsublite:v1"
}