{
  "servicePath": "",
  "id": "pubsublite:v1",
  "baseUrl": "https://pubsublite.googleapis.com/",
  "batchPath": "batch",
  "mtlsRootUrl": "https://pubsublite.mtls.googleapis.com/",
  "name": "pubsublite",
  "version_module": true,
  "title": "Pub/Sub Lite API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/pubsub/lite/docs",
  "discoveryVersion": "v1",
  "canonicalName": "PubsubLite",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "protocol": "rest",
  "schemas": {
    "PubSubConfig": {
      "properties": {
        "topic": {
          "description": "The name of the Pub/Sub topic. Structured like: projects/{project_number}/topics/{topic_id}. The topic may be changed.",
          "type": "string"
        }
      },
      "description": "Configuration for exporting to a Pub/Sub topic.",
      "type": "object",
      "id": "PubSubConfig"
    },
    "CommitCursorRequest": {
      "description": "Request for CommitCursor.",
      "type": "object",
      "properties": {
        "partition": {
          "description": "The partition for which to update the cursor. Partitions are zero indexed, so `partition` must be in the range [0, topic.num_partitions).",
          "type": "string",
          "format": "int64"
        },
        "cursor": {
          "description": "The new value for the committed cursor.",
          "$ref": "Cursor"
        }
      },
      "id": "CommitCursorRequest"
    },
    "PartitionCursor": {
      "description": "A pair of a Cursor and the partition it is for.",
      "type": "object",
      "properties": {
        "partition": {
          "format": "int64",
          "description": "The partition this is for.",
          "type": "string"
        },
        "cursor": {
          "description": "The value of the cursor.",
          "$ref": "Cursor"
        }
      },
      "id": "PartitionCursor"
    },
    "ListTopicsResponse": {
      "id": "ListTopicsResponse",
      "description": "Response for ListTopics.",
      "type": "object",
      "properties": {
        "topics": {
          "description": "The list of topic in the requested parent. The order of the topics is unspecified.",
          "type": "array",
          "items": {
            "$ref": "Topic"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      }
    },
    "Capacity": {
      "id": "Capacity",
      "properties": {
        "subscribeMibPerSec": {
          "format": "int32",
          "description": "Subscribe throughput capacity per partition in MiB/s. Must be >= 4 and <= 32.",
          "type": "integer"
        },
        "publishMibPerSec": {
          "description": "Publish throughput capacity per partition in MiB/s. Must be >= 4 and <= 16.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The throughput capacity configuration for each partition.",
      "type": "object"
    },
    "ExportConfig": {
      "id": "ExportConfig",
      "properties": {
        "desiredState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Messages are being exported.",
            "Exporting messages is suspended.",
            "Messages cannot be exported due to permission denied errors. Output only.",
            "Messages cannot be exported due to missing resources. Output only."
          ],
          "description": "The desired state of this export. Setting this to values other than `ACTIVE` and `PAUSED` will result in an error.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ]
        },
        "currentState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "description": "Output only. The current state of the export, which may be different to the desired state due to errors. This field is output only.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Messages are being exported.",
            "Exporting messages is suspended.",
            "Messages cannot be exported due to permission denied errors. Output only.",
            "Messages cannot be exported due to missing resources. Output only."
          ]
        },
        "deadLetterTopic": {
          "description": "Optional. The name of an optional Pub/Sub Lite topic to publish messages that can not be exported to the destination. For example, the message can not be published to the Pub/Sub service because it does not satisfy the constraints documented at https://cloud.google.com/pubsub/docs/publisher. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}. Must be within the same project and location as the subscription. The topic may be changed or removed.",
          "type": "string"
        },
        "pubsubConfig": {
          "description": "Messages are automatically written from the Pub/Sub Lite topic associated with this subscription to a Pub/Sub topic.",
          "$ref": "PubSubConfig"
        }
      },
      "description": "Configuration for a Pub/Sub Lite subscription that writes messages to a destination. User subscriber clients must not connect to this subscription.",
      "type": "object"
    },
    "Topic": {
      "description": "Metadata about a topic resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
          "type": "string"
        },
        "reservationConfig": {
          "$ref": "ReservationConfig",
          "description": "The settings for this topic's Reservation usage."
        },
        "partitionConfig": {
          "$ref": "PartitionConfig",
          "description": "The settings for this topic's partitions."
        },
        "retentionConfig": {
          "description": "The settings for this topic's message retention.",
          "$ref": "RetentionConfig"
        }
      },
      "id": "Topic"
    },
    "ListTopicSubscriptionsResponse": {
      "properties": {
        "subscriptions": {
          "items": {
            "type": "string"
          },
          "description": "The names of subscriptions attached to the topic. The order of the subscriptions is unspecified.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "description": "Response for ListTopicSubscriptions.",
      "type": "object",
      "id": "ListTopicSubscriptionsResponse"
    },
    "ListReservationsResponse": {
      "description": "Response for ListReservations.",
      "type": "object",
      "properties": {
        "reservations": {
          "description": "The list of reservation in the requested parent. The order of the reservations is unspecified.",
          "type": "array",
          "items": {
            "$ref": "Reservation"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "id": "ListReservationsResponse"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "RetentionConfig": {
      "description": "The settings for a topic's message retention.",
      "type": "object",
      "properties": {
        "perPartitionBytes": {
          "format": "int64",
          "description": "The provisioned storage, in bytes, per partition. If the number of bytes stored in any of the topic's partitions grows beyond this value, older messages will be dropped to make room for newer ones, regardless of the value of `period`.",
          "type": "string"
        },
        "period": {
          "format": "google-duration",
          "description": "How long a published message is retained. If unset, messages will be retained as long as the bytes retained for each partition is below `per_partition_bytes`.",
          "type": "string"
        }
      },
      "id": "RetentionConfig"
    },
    "ListPartitionCursorsResponse": {
      "id": "ListPartitionCursorsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "partitionCursors": {
          "description": "The partition cursors from this request.",
          "type": "array",
          "items": {
            "$ref": "PartitionCursor"
          }
        }
      },
      "description": "Response for ListPartitionCursors",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation"
    },
    "DeliveryConfig": {
      "id": "DeliveryConfig",
      "properties": {
        "deliveryRequirement": {
          "enum": [
            "DELIVERY_REQUIREMENT_UNSPECIFIED",
            "DELIVER_IMMEDIATELY",
            "DELIVER_AFTER_STORED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The server does not wait for a published message to be successfully written to storage before delivering it to subscribers.",
            "The server will not deliver a published message to subscribers until the message has been successfully written to storage. This will result in higher end-to-end latency, but consistent delivery."
          ],
          "description": "The DeliveryRequirement for this subscription.",
          "type": "string"
        }
      },
      "description": "The settings for a subscription's message delivery.",
      "type": "object"
    },
    "SeekSubscriptionRequest": {
      "properties": {
        "namedTarget": {
          "enum": [
            "NAMED_TARGET_UNSPECIFIED",
            "TAIL",
            "HEAD"
          ],
          "description": "Seek to a named position with respect to the message backlog.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified named target. Do not use.",
            "Seek to the oldest retained message.",
            "Seek past all recently published messages, skipping the entire message backlog."
          ]
        },
        "timeTarget": {
          "description": "Seek to the first message whose publish or event time is greater than or equal to the specified query time. If no such message can be located, will seek to the end of the message backlog.",
          "$ref": "TimeTarget"
        }
      },
      "description": "Request for SeekSubscription.",
      "type": "object",
      "id": "SeekSubscriptionRequest"
    },
    "Subscription": {
      "id": "Subscription",
      "properties": {
        "deliveryConfig": {
          "description": "The settings for this subscription's message delivery.",
          "$ref": "DeliveryConfig"
        },
        "name": {
          "description": "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
          "type": "string"
        },
        "topic": {
          "description": "The name of the topic this subscription is attached to. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
          "type": "string"
        },
        "exportConfig": {
          "$ref": "ExportConfig",
          "description": "If present, messages are automatically written from the Pub/Sub Lite topic associated with this subscription to a destination."
        }
      },
      "description": "Metadata about a subscription resource.",
      "type": "object"
    },
    "ComputeTimeCursorResponse": {
      "id": "ComputeTimeCursorResponse",
      "description": "Response containing the cursor corresponding to a publish or event time in a topic partition.",
      "type": "object",
      "properties": {
        "cursor": {
          "$ref": "Cursor",
          "description": "If present, the cursor references the first message with time greater than or equal to the specified target time. If such a message cannot be found, the cursor will be unset (i.e. `cursor` is not present)."
        }
      }
    },
    "TopicPartitions": {
      "properties": {
        "partitionCount": {
          "format": "int64",
          "description": "The number of partitions in the topic.",
          "type": "string"
        }
      },
      "description": "Response for GetTopicPartitions.",
      "type": "object",
      "id": "TopicPartitions"
    },
    "Reservation": {
      "id": "Reservation",
      "properties": {
        "name": {
          "description": "The name of the reservation. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
          "type": "string"
        },
        "throughputCapacity": {
          "format": "int64",
          "description": "The reserved throughput capacity. Every unit of throughput capacity is equivalent to 1 MiB/s of published messages or 2 MiB/s of subscribed messages. Any topics which are declared as using capacity from a Reservation will consume resources from this reservation instead of being charged individually.",
          "type": "string"
        }
      },
      "description": "Metadata about a reservation resource.",
      "type": "object"
    },
    "ReservationConfig": {
      "description": "The settings for this topic's Reservation usage.",
      "type": "object",
      "properties": {
        "throughputReservation": {
          "description": "The Reservation to use for this topic's throughput capacity. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
          "type": "string"
        }
      },
      "id": "ReservationConfig"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "TimeTarget": {
      "description": "A target publish or event time. Can be used for seeking to or retrieving the corresponding cursor.",
      "type": "object",
      "properties": {
        "eventTime": {
          "description": "Request the cursor of the first message with event time greater than or equal to `event_time`. If messages are missing an event time, the publish time is used as a fallback. As event times are user supplied, subsequent messages may have event times less than `event_time` and should be filtered by the client, if necessary.",
          "type": "string",
          "format": "google-datetime"
        },
        "publishTime": {
          "description": "Request the cursor of the first message with publish time greater than or equal to `publish_time`. All messages thereafter are guaranteed to have publish times >= `publish_time`.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "TimeTarget"
    },
    "ListSubscriptionsResponse": {
      "properties": {
        "subscriptions": {
          "items": {
            "$ref": "Subscription"
          },
          "description": "The list of subscriptions in the requested parent. The order of the subscriptions is unspecified.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "description": "Response for ListSubscriptions.",
      "type": "object",
      "id": "ListSubscriptionsResponse"
    },
    "ComputeMessageStatsRequest": {
      "description": "Compute statistics about a range of messages in a given topic and partition.",
      "type": "object",
      "properties": {
        "partition": {
          "description": "Required. The partition for which we should compute message stats.",
          "type": "string",
          "format": "int64"
        },
        "startCursor": {
          "$ref": "Cursor",
          "description": "The inclusive start of the range."
        },
        "endCursor": {
          "description": "The exclusive end of the range. The range is empty if end_cursor <= start_cursor. Specifying a start_cursor before the first message and an end_cursor after the last message will retrieve all messages.",
          "$ref": "Cursor"
        }
      },
      "id": "ComputeMessageStatsRequest"
    },
    "CommitCursorResponse": {
      "properties": {},
      "description": "Response for CommitCursor.",
      "type": "object",
      "id": "CommitCursorResponse"
    },
    "ComputeTimeCursorRequest": {
      "id": "ComputeTimeCursorRequest",
      "description": "Compute the corresponding cursor for a publish or event time in a topic partition.",
      "type": "object",
      "properties": {
        "partition": {
          "description": "Required. The partition for which we should compute the cursor.",
          "type": "string",
          "format": "int64"
        },
        "target": {
          "description": "Required. The target publish or event time. Specifying a future time will return an unset cursor.",
          "$ref": "TimeTarget"
        }
      }
    },
    "ComputeHeadCursorResponse": {
      "id": "ComputeHeadCursorResponse",
      "properties": {
        "headCursor": {
          "$ref": "Cursor",
          "description": "The head cursor."
        }
      },
      "description": "Response containing the head cursor for the requested topic and partition.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Metadata for long running operations.",
      "type": "object",
      "properties": {
        "target": {
          "description": "Resource path for the target of the operation. For example, targets of seeks are subscription resources, structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time the operation was created.",
          "type": "string"
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "description": "The time the operation finished running. Not set if the operation has not completed.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Cursor": {
      "properties": {
        "offset": {
          "description": "The offset of a message within a topic partition. Must be greater than or equal 0.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A cursor that describes the position of a message within a topic partition.",
      "type": "object",
      "id": "Cursor"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "PartitionConfig": {
      "properties": {
        "scale": {
          "description": "DEPRECATED: Use capacity instead which can express a superset of configurations. Every partition in the topic is allocated throughput equivalent to `scale` times the standard partition throughput (4 MiB/s). This is also reflected in the cost of this topic; a topic with `scale` of 2 and count of 10 is charged for 20 partitions. This value must be in the range [1,4].",
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "count": {
          "description": "The number of partitions in the topic. Must be at least 1. Once a topic has been created the number of partitions can be increased but not decreased. Message ordering is not guaranteed across a topic resize. For more information see https://cloud.google.com/pubsub/lite/docs/topics#scaling_capacity",
          "type": "string",
          "format": "int64"
        },
        "capacity": {
          "$ref": "Capacity",
          "description": "The capacity configuration."
        }
      },
      "description": "The settings for a topic's partitions.",
      "type": "object",
      "id": "PartitionConfig"
    },
    "ComputeMessageStatsResponse": {
      "id": "ComputeMessageStatsResponse",
      "properties": {
        "minimumPublishTime": {
          "description": "The minimum publish timestamp across these messages. Note that publish timestamps within a partition are not guaranteed to be non-decreasing. The timestamp will be unset if there are no messages.",
          "type": "string",
          "format": "google-datetime"
        },
        "minimumEventTime": {
          "format": "google-datetime",
          "description": "The minimum event timestamp across these messages. For the purposes of this computation, if a message does not have an event time, we use the publish time. The timestamp will be unset if there are no messages.",
          "type": "string"
        },
        "messageCount": {
          "description": "The count of messages.",
          "type": "string",
          "format": "int64"
        },
        "messageBytes": {
          "format": "int64",
          "description": "The number of quota bytes accounted to these messages.",
          "type": "string"
        }
      },
      "description": "Response containing stats for messages in the requested topic and partition.",
      "type": "object"
    },
    "ComputeHeadCursorRequest": {
      "description": "Compute the current head cursor for a partition.",
      "type": "object",
      "properties": {
        "partition": {
          "description": "Required. The partition for which we should compute the head cursor.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ComputeHeadCursorRequest"
    },
    "ListReservationTopicsResponse": {
      "id": "ListReservationTopicsResponse",
      "properties": {
        "topics": {
          "items": {
            "type": "string"
          },
          "description": "The names of topics attached to the reservation. The order of the topics is unspecified.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "description": "Response for ListReservationTopics.",
      "type": "object"
    },
    "SeekSubscriptionResponse": {
      "id": "SeekSubscriptionResponse",
      "properties": {},
      "description": "Response for SeekSubscription long running operation.",
      "type": "object"
    }
  },
  "revision": "20260731",
  "kind": "discovery#restDescription",
  "resources": {
    "admin": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "reservations": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations",
                      "description": "Returns the list of reservations for the given project.",
                      "response": {
                        "$ref": "ListReservationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.reservations.list",
                      "path": "v1/admin/{+parent}/reservations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent whose reservations are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "description": "The maximum number of reservations to return. The service may return fewer than this value. If unset or zero, all reservations for the parent will be returned.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListReservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReservations` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        }
                      }
                    },
                    "patch": {
                      "description": "Updates properties of the specified reservation.",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "request": {
                        "$ref": "Reservation"
                      },
                      "response": {
                        "$ref": "Reservation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.reservations.patch",
                      "path": "v1/admin/{+name}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "description": "The name of the reservation. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Required. A mask specifying the reservation fields to change.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the reservation to delete. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.reservations.delete",
                      "path": "v1/admin/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes the specified reservation.",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}"
                    },
                    "get": {
                      "description": "Returns the reservation configuration.",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "description": "Required. The name of the reservation whose configuration to return. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.reservations.get",
                      "path": "v1/admin/{+name}",
                      "response": {
                        "$ref": "Reservation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "description": "Required. The parent location in which to create the reservation. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true,
                          "type": "string"
                        },
                        "reservationId": {
                          "description": "Required. The ID to use for the reservation, which will become the final component of the reservation's name. This value is structured like: `my-reservation-name`.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.reservations.create",
                      "path": "v1/admin/{+parent}/reservations",
                      "response": {
                        "$ref": "Reservation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Reservation"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations",
                      "description": "Creates a new reservation."
                    }
                  },
                  "resources": {
                    "topics": {
                      "methods": {
                        "list": {
                          "description": "Lists the topics attached to the specified reservation.",
                          "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/topics",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "description": "A page token, received from a previous `ListReservationTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReservationTopics` must match the call that provided the page token.",
                              "type": "string"
                            },
                            "name": {
                              "description": "Required. The name of the reservation whose topics to list. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                              "location": "path"
                            },
                            "pageSize": {
                              "description": "The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the given reservation will be returned.",
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "pubsublite.admin.projects.locations.reservations.topics.list",
                          "path": "v1/admin/{+name}/topics",
                          "response": {
                            "$ref": "ListReservationTopicsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  }
                },
                "topics": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListTopicsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.list",
                      "path": "v1/admin/{+parent}/topics",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "description": "Required. The parent whose topics are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the parent will be returned.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopics` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics",
                      "description": "Returns the list of topics for the given project."
                    },
                    "patch": {
                      "response": {
                        "$ref": "Topic"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "description": "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "Required. A mask specifying the topic fields to change.",
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.topics.patch",
                      "path": "v1/admin/{+name}",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "description": "Updates properties of the specified topic.",
                      "request": {
                        "$ref": "Topic"
                      }
                    },
                    "create": {
                      "request": {
                        "$ref": "Topic"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics",
                      "description": "Creates a new topic.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "topicId": {
                          "location": "query",
                          "description": "Required. The ID to use for the topic, which will become the final component of the topic's name. This value is structured like: `my-topic-name`.",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent location in which to create the topic. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.topics.create",
                      "path": "v1/admin/{+parent}/topics",
                      "response": {
                        "$ref": "Topic"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "response": {
                        "$ref": "Topic"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the topic whose configuration to return.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.topics.get",
                      "path": "v1/admin/{+name}",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "description": "Returns the topic configuration."
                    },
                    "getPartitions": {
                      "response": {
                        "$ref": "TopicPartitions"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "description": "Required. The topic whose partition information to return.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.getPartitions",
                      "path": "v1/admin/{+name}/partitions",
                      "description": "Returns the partition information for the requested topic.",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}/partitions"
                    },
                    "delete": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "description": "Deletes the specified topic.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.delete",
                      "path": "v1/admin/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "description": "Required. The name of the topic to delete.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    }
                  },
                  "resources": {
                    "subscriptions": {
                      "methods": {
                        "list": {
                          "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}/subscriptions",
                          "description": "Lists the subscriptions attached to the specified topic.",
                          "id": "pubsublite.admin.projects.locations.topics.subscriptions.list",
                          "path": "v1/admin/{+name}/subscriptions",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. The name of the topic whose subscriptions to list.",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$"
                            },
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the given topic will be returned.",
                              "type": "integer"
                            },
                            "pageToken": {
                              "description": "A page token, received from a previous `ListTopicSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopicSubscriptions` must match the call that provided the page token.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "response": {
                            "$ref": "ListTopicSubscriptionsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "delete": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "id": "pubsublite.admin.projects.locations.operations.delete",
                      "path": "v1/admin/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource to be deleted.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.operations.list",
                      "path": "v1/admin/{+name}/operations",
                      "httpMethod": "GET",
                      "parameters": {
                        "filter": {
                          "description": "The standard list filter.",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "description": "The name of the operation's parent resource.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+$"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The standard list page size.",
                          "type": "integer"
                        },
                        "returnPartialSuccess": {
                          "location": "query",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "type": "boolean"
                        },
                        "pageToken": {
                          "description": "The standard list page token.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations"
                    },
                    "cancel": {
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource to be cancelled.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.operations.cancel",
                      "path": "v1/admin/{+name}:cancel",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.operations.get",
                      "path": "v1/admin/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "The name of the operation resource.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                        }
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                    }
                  }
                },
                "subscriptions": {
                  "methods": {
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "description": "Required. The name of the subscription to delete.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.subscriptions.delete",
                      "path": "v1/admin/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "description": "Deletes the specified subscription."
                    },
                    "seek": {
                      "id": "pubsublite.admin.projects.locations.subscriptions.seek",
                      "path": "v1/admin/{+name}:seek",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "description": "Required. The name of the subscription to seek.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "SeekSubscriptionRequest"
                      },
                      "description": "Performs an out-of-band seek for a subscription to a specified target, which may be timestamps or named positions within the message backlog. Seek translates these targets to cursors for each partition and orchestrates subscribers to start consuming messages from these seek cursors. If an operation is returned, the seek has been registered and subscribers will eventually receive messages from the seek cursors (i.e. eventual consistency), as long as they are using a minimum supported client library version and not a system that tracks cursors independently of Pub/Sub Lite (e.g. Apache Beam, Dataflow, Spark). The seek operation will fail for unsupported clients. If clients would like to know when subscribers react to the seek (or not), they can poll the operation. The seek operation will succeed and complete once subscribers are ready to receive messages from the seek cursors for all partitions of the topic. This means that the seek operation will not complete until all subscribers come online. If the previous seek operation has not yet completed, it will be aborted and the new invocation of seek will supersede it.",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:seek"
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "skipBacklog": {
                          "description": "If true, the newly created subscription will only receive messages published after the subscription was created. Otherwise, the entire message backlog will be received on the subscription. Defaults to false.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "description": "Required. The parent location in which to create the subscription. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true,
                          "type": "string"
                        },
                        "subscriptionId": {
                          "description": "Required. The ID to use for the subscription, which will become the final component of the subscription's name. This value is structured like: `my-sub-name`.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.subscriptions.create",
                      "path": "v1/admin/{+parent}/subscriptions",
                      "response": {
                        "$ref": "Subscription"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Subscription"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions",
                      "description": "Creates a new subscription."
                    },
                    "get": {
                      "description": "Returns the subscription configuration.",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "description": "Required. The name of the subscription whose configuration to return.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.subscriptions.get",
                      "path": "v1/admin/{+name}",
                      "response": {
                        "$ref": "Subscription"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "ListSubscriptionsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "description": "Required. The parent whose subscriptions are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the parent will be returned.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptions` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "id": "pubsublite.admin.projects.locations.subscriptions.list",
                      "path": "v1/admin/{+parent}/subscriptions",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions",
                      "description": "Returns the list of subscriptions for the given project."
                    },
                    "patch": {
                      "id": "pubsublite.admin.projects.locations.subscriptions.patch",
                      "path": "v1/admin/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "description": "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "location": "path"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Required. A mask specifying the subscription fields to change.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Subscription"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Subscription"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "description": "Updates properties of the specified subscription."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "cursor": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "subscriptions": {
                  "methods": {
                    "commitCursor": {
                      "id": "pubsublite.cursor.projects.locations.subscriptions.commitCursor",
                      "path": "v1/cursor/{+subscription}:commitCursor",
                      "httpMethod": "POST",
                      "parameters": {
                        "subscription": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "description": "The subscription for which to update the cursor.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "subscription"
                      ],
                      "response": {
                        "$ref": "CommitCursorResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "CommitCursorRequest"
                      },
                      "description": "Updates the committed cursor.",
                      "flatPath": "v1/cursor/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:commitCursor"
                    }
                  },
                  "resources": {
                    "cursors": {
                      "methods": {
                        "list": {
                          "id": "pubsublite.cursor.projects.locations.subscriptions.cursors.list",
                          "path": "v1/cursor/{+parent}/cursors",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageToken": {
                              "description": "A page token, received from a previous `ListPartitionCursors` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPartitionCursors` must match the call that provided the page token.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "description": "Required. The subscription for which to retrieve cursors. Structured like `projects/{project_number}/locations/{location}/subscriptions/{subscription_id}`.",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$"
                            },
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "description": "The maximum number of cursors to return. The service may return fewer than this value. If unset or zero, all cursors for the parent will be returned.",
                              "type": "integer"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "ListPartitionCursorsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Returns all committed cursor information for a subscription.",
                          "flatPath": "v1/cursor/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}/cursors"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "topicStats": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "topics": {
                  "methods": {
                    "computeMessageStats": {
                      "httpMethod": "POST",
                      "parameters": {
                        "topic": {
                          "description": "Required. The topic for which we should compute message stats.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "topic"
                      ],
                      "id": "pubsublite.topicStats.projects.locations.topics.computeMessageStats",
                      "path": "v1/topicStats/{+topic}:computeMessageStats",
                      "response": {
                        "$ref": "ComputeMessageStatsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "ComputeMessageStatsRequest"
                      },
                      "description": "Compute statistics about a range of messages in a given topic and partition.",
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeMessageStats"
                    },
                    "computeHeadCursor": {
                      "request": {
                        "$ref": "ComputeHeadCursorRequest"
                      },
                      "description": "Compute the head cursor for the partition. The head cursor's offset is guaranteed to be less than or equal to all messages which have not yet been acknowledged as published, and greater than the offset of any message whose publish has already been acknowledged. It is zero if there have never been messages in the partition.",
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeHeadCursor",
                      "httpMethod": "POST",
                      "parameters": {
                        "topic": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "description": "Required. The topic for which we should compute the head cursor.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "topic"
                      ],
                      "id": "pubsublite.topicStats.projects.locations.topics.computeHeadCursor",
                      "path": "v1/topicStats/{+topic}:computeHeadCursor",
                      "response": {
                        "$ref": "ComputeHeadCursorResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "computeTimeCursor": {
                      "response": {
                        "$ref": "ComputeTimeCursorResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "topic": {
                          "description": "Required. The topic for which we should compute the cursor.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "topic"
                      ],
                      "id": "pubsublite.topicStats.projects.locations.topics.computeTimeCursor",
                      "path": "v1/topicStats/{+topic}:computeTimeCursor",
                      "description": "Compute the corresponding cursor for a publish or event time in a topic partition.",
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeTimeCursor",
                      "request": {
                        "$ref": "ComputeTimeCursorRequest"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "description": "",
  "version": "v1",
  "ownerName": "Google",
  "rootUrl": "https://pubsublite.googleapis.com/"
}