{
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "version_module": true,
  "discoveryVersion": "v1",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    }
  },
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "ownerDomain": "google.com",
  "revision": "20260922",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview",
  "canonicalName": "Subscription Linking",
  "id": "readerrevenuesubscriptionlinking:v1",
  "ownerName": "Google",
  "servicePath": "",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "readerrevenuesubscriptionlinking",
  "title": "Reader Revenue Subscription Linking API",
  "resources": {
    "publications": {
      "resources": {
        "-": {
          "resources": {
            "readers": {
              "resources": {
                "entitlements": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/publications/-/readers/{readersId}/entitlements",
                      "httpMethod": "GET",
                      "id": "readerrevenuesubscriptionlinking.publications.-.readers.entitlements.list",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum number of entitlements to return. The service may return fewer than this value. If unspecified, at most 50 entitlements will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListReaderEntitlements` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReaderEntitlements` must match the call that provided the page token.",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^publications/-/readers/[^/]+$",
                          "description": "Required. The parent reader scope. Format: \"publications/-/readers/{reader_id}\""
                        }
                      },
                      "response": {
                        "$ref": "ListReaderEntitlementsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/entitlements",
                      "description": "Lists reader entitlements across parent publications via wildcard. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist."
                    }
                  }
                }
              }
            }
          }
        },
        "readers": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Reader"
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.get",
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist.",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "required": true,
                  "type": "string",
                  "pattern": "^publications/[^/]+/readers/[^/]+$"
                }
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "httpMethod": "GET"
            },
            "getEntitlements": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "location": "path",
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
                  "type": "string"
                }
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "parameterOrder": [
                "name"
              ],
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements",
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "httpMethod": "GET"
            },
            "updateEntitlements": {
              "httpMethod": "PATCH",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Output only. The resource name of the singleton.",
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Optional. The list of fields to update. Defaults to all fields."
                }
              },
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "request": {
                "$ref": "ReaderEntitlements"
              }
            },
            "delete": {
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "DeleteReaderResponse"
              },
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "force": {
                  "type": "boolean",
                  "description": "If set to true, any entitlements under the reader will also be purged.",
                  "location": "query"
                }
              },
              "httpMethod": "DELETE",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "parameterOrder": [
                "name"
              ],
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete"
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "schemas": {
    "ListReaderEntitlementsResponse": {
      "id": "ListReaderEntitlementsResponse",
      "description": "Response containing the aggregated collection of matching ReaderEntitlements objects.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "readerEntitlements": {
          "items": {
            "$ref": "ReaderEntitlements"
          },
          "type": "array",
          "description": "The collection of ReaderEntitlements found across the scoped child publications. Every element's `name` field will contain the canonical sub-publication path, never the wildcard dash."
        }
      }
    },
    "ReaderEntitlements": {
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the singleton.",
          "type": "string"
        },
        "entitlements": {
          "description": "All of the entitlements for a publication reader.",
          "type": "array",
          "items": {
            "$ref": "Entitlement"
          }
        }
      },
      "type": "object",
      "id": "ReaderEntitlements",
      "description": "A singleton containing all of a reader's entitlements for a publication."
    },
    "Entitlement": {
      "properties": {
        "subscriptionToken": {
          "type": "string",
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google."
        },
        "expireTime": {
          "type": "string",
          "description": "Optional. Expiration time of the entitlement. If unset, the entitlement does not expire (indefinite entitlement). We need to support indefinite entitlements for platform publishers. dd: go/rrm-sl-notedotcom Entitlements that have expired over 30 days will be purged.",
          "format": "google-datetime"
        },
        "productId": {
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\"",
          "type": "string"
        },
        "detail": {
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Entitlement",
      "description": "A single entitlement for a publication reader"
    },
    "Reader": {
      "id": "Reader",
      "type": "object",
      "description": "A reader of a publication.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id.",
          "readOnly": true
        },
        "ppid": {
          "readOnly": true,
          "description": "Output only. The publisher provided id of the reader.",
          "type": "string"
        },
        "originatingPublicationId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from."
        },
        "publicationId": {
          "description": "Output only. The SwG publication id that the reader has linked their subscription to.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time the publication reader was created and associated with a Google user.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DeleteReaderResponse": {
      "type": "object",
      "id": "DeleteReaderResponse",
      "properties": {},
      "description": "Response to deleting a reader of a publication."
    }
  },
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "version": "v1",
  "batchPath": "batch"
}