{
  "schemas": {
    "ReaderEntitlements": {
      "id": "ReaderEntitlements",
      "description": "A singleton containing all of a reader's entitlements for a publication.",
      "properties": {
        "entitlements": {
          "items": {
            "$ref": "Entitlement"
          },
          "type": "array",
          "description": "All of the entitlements for a publication reader."
        },
        "name": {
          "description": "Output only. The resource name of the singleton.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Entitlement": {
      "description": "A single entitlement for a publication reader",
      "id": "Entitlement",
      "properties": {
        "detail": {
          "type": "string",
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit."
        },
        "subscriptionToken": {
          "type": "string",
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google."
        },
        "expireTime": {
          "description": "Optional. Expiration time of the entitlement. If unset, the entitlement does not expire (indefinite entitlement). We need to support indefinite entitlements for platform publishers. dd: go/rrm-sl-notedotcom Entitlements that have expired over 30 days will be purged.",
          "type": "string",
          "format": "google-datetime"
        },
        "productId": {
          "type": "string",
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\""
        }
      },
      "type": "object"
    },
    "Reader": {
      "properties": {
        "name": {
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id.",
          "readOnly": true,
          "type": "string"
        },
        "publicationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SwG publication id that the reader has linked their subscription to."
        },
        "ppid": {
          "type": "string",
          "description": "Output only. The publisher provided id of the reader.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time the publication reader was created and associated with a Google user.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "originatingPublicationId": {
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Reader",
      "description": "A reader of a publication.",
      "type": "object"
    },
    "DeleteReaderResponse": {
      "id": "DeleteReaderResponse",
      "type": "object",
      "properties": {},
      "description": "Response to deleting a reader of a publication."
    }
  },
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "version": "v1",
  "canonicalName": "Subscription Linking",
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "batchPath": "batch",
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "id": "readerrevenuesubscriptionlinking:v1",
  "name": "readerrevenuesubscriptionlinking",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "parameters": {
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview",
  "resources": {
    "publications": {
      "resources": {
        "readers": {
          "methods": {
            "updateEntitlements": {
              "httpMethod": "PATCH",
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "request": {
                "$ref": "ReaderEntitlements"
              },
              "parameters": {
                "name": {
                  "description": "Output only. The resource name of the singleton.",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "description": "Optional. The list of fields to update. Defaults to all fields.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              }
            },
            "getEntitlements": {
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "httpMethod": "GET",
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ReaderEntitlements"
              }
            },
            "delete": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "type": "string",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+$"
                },
                "force": {
                  "description": "If set to true, any entitlements under the reader will also be purged.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present.",
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete",
              "response": {
                "$ref": "DeleteReaderResponse"
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "httpMethod": "DELETE"
            },
            "get": {
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}"
                }
              },
              "response": {
                "$ref": "Reader"
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.get",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist."
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "basePath": "",
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "revision": "20260819",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "title": "Reader Revenue Subscription Linking API",
  "servicePath": ""
}