{
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "discoveryVersion": "v1",
  "name": "readerrevenuesubscriptionlinking",
  "ownerDomain": "google.com",
  "title": "Reader Revenue Subscription Linking API",
  "version_module": true,
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "version": "v1",
  "canonicalName": "Subscription Linking",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "publications": {
      "resources": {
        "readers": {
          "methods": {
            "getEntitlements": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "path": "v1/{+name}",
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements"
            },
            "get": {
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist.",
              "id": "readerrevenuesubscriptionlinking.publications.readers.get",
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Reader"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}"
            },
            "updateEntitlements": {
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "description": "Output only. The resource name of the singleton.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Optional. The list of fields to update. Defaults to all fields.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "ReaderEntitlements"
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "path": "v1/{+name}"
            },
            "delete": {
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present.",
              "parameters": {
                "force": {
                  "type": "boolean",
                  "description": "If set to true, any entitlements under the reader will also be purged.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}"
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "response": {
                "$ref": "DeleteReaderResponse"
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview",
  "revision": "20260827",
  "id": "readerrevenuesubscriptionlinking:v1",
  "basePath": "",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "schemas": {
    "ReaderEntitlements": {
      "id": "ReaderEntitlements",
      "description": "A singleton containing all of a reader's entitlements for a publication.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the singleton.",
          "readOnly": true,
          "type": "string"
        },
        "entitlements": {
          "items": {
            "$ref": "Entitlement"
          },
          "description": "All of the entitlements for a publication reader.",
          "type": "array"
        }
      }
    },
    "Reader": {
      "properties": {
        "publicationId": {
          "type": "string",
          "description": "Output only. The SwG publication id that the reader has linked their subscription to.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the publication reader was created and associated with a Google user.",
          "readOnly": true
        },
        "ppid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The publisher provided id of the reader."
        },
        "originatingPublicationId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from."
        },
        "name": {
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Reader",
      "type": "object",
      "description": "A reader of a publication."
    },
    "DeleteReaderResponse": {
      "description": "Response to deleting a reader of a publication.",
      "id": "DeleteReaderResponse",
      "type": "object",
      "properties": {}
    },
    "Entitlement": {
      "properties": {
        "productId": {
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\"",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Optional. Expiration time of the entitlement. If unset, the entitlement does not expire (indefinite entitlement). We need to support indefinite entitlements for platform publishers. dd: go/rrm-sl-notedotcom Entitlements that have expired over 30 days will be purged.",
          "type": "string"
        },
        "detail": {
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit.",
          "type": "string"
        },
        "subscriptionToken": {
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google.",
          "type": "string"
        }
      },
      "id": "Entitlement",
      "type": "object",
      "description": "A single entitlement for a publication reader"
    }
  },
  "description": "readerrevenuesubscriptionlinking.googleapis.com API."
}