{
  "kind": "discovery#restDescription",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "title": "Reader Revenue Subscription Linking API",
  "revision": "20260621",
  "batchPath": "batch",
  "version": "v1",
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "id": "readerrevenuesubscriptionlinking:v1",
  "name": "readerrevenuesubscriptionlinking",
  "version_module": true,
  "ownerName": "Google",
  "schemas": {
    "Reader": {
      "type": "object",
      "id": "Reader",
      "description": "A reader of a publication.",
      "properties": {
        "publicationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SwG publication id that the reader has linked their subscription to."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the publication reader was created and associated with a Google user.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id.",
          "readOnly": true,
          "type": "string"
        },
        "originatingPublicationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from."
        },
        "ppid": {
          "description": "Output only. The publisher provided id of the reader.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DeleteReaderResponse": {
      "type": "object",
      "id": "DeleteReaderResponse",
      "description": "Response to deleting a reader of a publication.",
      "properties": {}
    },
    "ReaderEntitlements": {
      "type": "object",
      "properties": {
        "entitlements": {
          "type": "array",
          "items": {
            "$ref": "Entitlement"
          },
          "description": "All of the entitlements for a publication reader."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the singleton."
        }
      },
      "id": "ReaderEntitlements",
      "description": "A singleton containing all of a reader's entitlements for a publication."
    },
    "Entitlement": {
      "type": "object",
      "id": "Entitlement",
      "description": "A single entitlement for a publication reader",
      "properties": {
        "productId": {
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\"",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "Required. Expiration time of the entitlement. Entitlements that have expired over 30 days will be purged. The max expire_time is 398 days from now().",
          "format": "google-datetime"
        },
        "subscriptionToken": {
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google.",
          "type": "string"
        },
        "detail": {
          "type": "string",
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit."
        }
      }
    }
  },
  "protocol": "rest",
  "basePath": "",
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "canonicalName": "Subscription Linking",
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "publications": {
      "resources": {
        "readers": {
          "methods": {
            "get": {
              "id": "readerrevenuesubscriptionlinking.publications.readers.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "location": "path",
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "httpMethod": "GET",
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Reader"
              }
            },
            "delete": {
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "location": "path"
                },
                "force": {
                  "description": "If set to true, any entitlements under the reader will also be purged.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present.",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "DeleteReaderResponse"
              },
              "path": "v1/{+name}"
            },
            "updateEntitlements": {
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "httpMethod": "PATCH",
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "parameters": {
                "name": {
                  "description": "Output only. The resource name of the singleton.",
                  "location": "path",
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. The list of fields to update. Defaults to all fields.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "ReaderEntitlements"
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "path": "v1/{+name}",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "parameterOrder": [
                "name"
              ]
            },
            "getEntitlements": {
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "path": "v1/{+name}",
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements"
                }
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/"
}