{
  "protocol": "rest",
  "canonicalName": "Subscription Linking",
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "revision": "20260823",
  "resources": {
    "publications": {
      "resources": {
        "readers": {
          "methods": {
            "updateEntitlements": {
              "request": {
                "$ref": "ReaderEntitlements"
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "path": "v1/{+name}",
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Output only. The resource name of the singleton.",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The list of fields to update. Defaults to all fields."
                }
              }
            },
            "delete": {
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present.",
              "parameters": {
                "force": {
                  "description": "If set to true, any entitlements under the reader will also be purged.",
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "required": true,
                  "type": "string",
                  "pattern": "^publications/[^/]+/readers/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "DeleteReaderResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete"
            },
            "getEntitlements": {
              "path": "v1/{+name}",
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements",
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
                  "type": "string",
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$"
                }
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "location": "path",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Reader"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist.",
              "httpMethod": "GET",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "id": "readerrevenuesubscriptionlinking.publications.readers.get",
              "path": "v1/{+name}"
            }
          }
        }
      }
    }
  },
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "version": "v1",
  "title": "Reader Revenue Subscription Linking API",
  "ownerDomain": "google.com",
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "schemas": {
    "ReaderEntitlements": {
      "type": "object",
      "description": "A singleton containing all of a reader's entitlements for a publication.",
      "id": "ReaderEntitlements",
      "properties": {
        "entitlements": {
          "items": {
            "$ref": "Entitlement"
          },
          "type": "array",
          "description": "All of the entitlements for a publication reader."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the singleton.",
          "type": "string"
        }
      }
    },
    "DeleteReaderResponse": {
      "properties": {},
      "type": "object",
      "id": "DeleteReaderResponse",
      "description": "Response to deleting a reader of a publication."
    },
    "Reader": {
      "description": "A reader of a publication.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id.",
          "readOnly": true
        },
        "originatingPublicationId": {
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from.",
          "type": "string",
          "readOnly": true
        },
        "publicationId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The SwG publication id that the reader has linked their subscription to."
        },
        "ppid": {
          "description": "Output only. The publisher provided id of the reader.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time the publication reader was created and associated with a Google user.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "Reader"
    },
    "Entitlement": {
      "properties": {
        "productId": {
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\"",
          "type": "string"
        },
        "subscriptionToken": {
          "type": "string",
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google."
        },
        "detail": {
          "type": "string",
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit."
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Optional. Expiration time of the entitlement. If unset, the entitlement does not expire (indefinite entitlement). We need to support indefinite entitlements for platform publishers. dd: go/rrm-sl-notedotcom Entitlements that have expired over 30 days will be purged.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A single entitlement for a publication reader",
      "id": "Entitlement"
    }
  },
  "name": "readerrevenuesubscriptionlinking",
  "id": "readerrevenuesubscriptionlinking:v1",
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "version_module": true,
  "basePath": "",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/"
}