{
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "servicePath": "",
  "resources": {
    "publications": {
      "resources": {
        "readers": {
          "methods": {
            "getEntitlements": {
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements",
              "path": "v1/{+name}",
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "httpMethod": "GET",
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
                  "type": "string",
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "readerrevenuesubscriptionlinking.publications.readers.get",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Reader"
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "httpMethod": "GET",
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist.",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "type": "string"
                },
                "force": {
                  "location": "query",
                  "type": "boolean",
                  "description": "If set to true, any entitlements under the reader will also be purged."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "response": {
                "$ref": "DeleteReaderResponse"
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete"
            },
            "updateEntitlements": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "request": {
                "$ref": "ReaderEntitlements"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "type": "string",
                  "description": "Output only. The resource name of the singleton."
                },
                "updateMask": {
                  "type": "string",
                  "description": "Optional. The list of fields to update. Defaults to all fields.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "httpMethod": "PATCH"
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "batchPath": "batch",
  "protocol": "rest",
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "id": "readerrevenuesubscriptionlinking:v1",
  "name": "readerrevenuesubscriptionlinking",
  "version": "v1",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "canonicalName": "Subscription Linking",
  "title": "Reader Revenue Subscription Linking API",
  "kind": "discovery#restDescription",
  "schemas": {
    "DeleteReaderResponse": {
      "type": "object",
      "description": "Response to deleting a reader of a publication.",
      "id": "DeleteReaderResponse",
      "properties": {}
    },
    "ReaderEntitlements": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the singleton."
        },
        "entitlements": {
          "type": "array",
          "description": "All of the entitlements for a publication reader.",
          "items": {
            "$ref": "Entitlement"
          }
        }
      },
      "id": "ReaderEntitlements",
      "description": "A singleton containing all of a reader's entitlements for a publication.",
      "type": "object"
    },
    "Entitlement": {
      "type": "object",
      "description": "A single entitlement for a publication reader",
      "id": "Entitlement",
      "properties": {
        "productId": {
          "type": "string",
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\""
        },
        "detail": {
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit.",
          "type": "string"
        },
        "expireTime": {
          "description": "Optional. Expiration time of the entitlement. If unset, the entitlement does not expire (indefinite entitlement). We need to support indefinite entitlements for platform publishers. dd: go/rrm-sl-notedotcom Entitlements that have expired over 30 days will be purged.",
          "type": "string",
          "format": "google-datetime"
        },
        "subscriptionToken": {
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google.",
          "type": "string"
        }
      }
    },
    "Reader": {
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id.",
          "type": "string"
        },
        "ppid": {
          "description": "Output only. The publisher provided id of the reader.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time the publication reader was created and associated with a Google user.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "originatingPublicationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from."
        },
        "publicationId": {
          "readOnly": true,
          "description": "Output only. The SwG publication id that the reader has linked their subscription to.",
          "type": "string"
        }
      },
      "id": "Reader",
      "description": "A reader of a publication.",
      "type": "object"
    }
  },
  "revision": "20260719"
}