{
  "revision": "20260907",
  "protocol": "rest",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "canonicalName": "Subscription Linking",
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview",
  "version_module": true,
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "name": "readerrevenuesubscriptionlinking",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "basePath": "",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "id": "readerrevenuesubscriptionlinking:v1",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "resources": {
    "publications": {
      "resources": {
        "readers": {
          "methods": {
            "get": {
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Reader"
              },
              "path": "v1/{+name}",
              "id": "readerrevenuesubscriptionlinking.publications.readers.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}"
                }
              },
              "httpMethod": "GET",
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist."
            },
            "updateEntitlements": {
              "path": "v1/{+name}",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. The resource name of the singleton.",
                  "location": "path",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Optional. The list of fields to update. Defaults to all fields.",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "ReaderEntitlements"
              },
              "httpMethod": "PATCH"
            },
            "getEntitlements": {
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "type": "string",
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "httpMethod": "GET",
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist."
            },
            "delete": {
              "httpMethod": "DELETE",
              "response": {
                "$ref": "DeleteReaderResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "force": {
                  "location": "query",
                  "description": "If set to true, any entitlements under the reader will also be purged.",
                  "type": "boolean"
                }
              },
              "path": "v1/{+name}",
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present."
            }
          }
        }
      }
    }
  },
  "title": "Reader Revenue Subscription Linking API",
  "schemas": {
    "ReaderEntitlements": {
      "properties": {
        "name": {
          "description": "Output only. The resource name of the singleton.",
          "type": "string",
          "readOnly": true
        },
        "entitlements": {
          "description": "All of the entitlements for a publication reader.",
          "items": {
            "$ref": "Entitlement"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ReaderEntitlements",
      "description": "A singleton containing all of a reader's entitlements for a publication."
    },
    "DeleteReaderResponse": {
      "type": "object",
      "properties": {},
      "description": "Response to deleting a reader of a publication.",
      "id": "DeleteReaderResponse"
    },
    "Reader": {
      "properties": {
        "originatingPublicationId": {
          "type": "string",
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id.",
          "readOnly": true,
          "type": "string"
        },
        "ppid": {
          "type": "string",
          "description": "Output only. The publisher provided id of the reader.",
          "readOnly": true
        },
        "publicationId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The SwG publication id that the reader has linked their subscription to."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time the publication reader was created and associated with a Google user.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A reader of a publication.",
      "id": "Reader"
    },
    "Entitlement": {
      "properties": {
        "productId": {
          "type": "string",
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\""
        },
        "detail": {
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit.",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Expiration time of the entitlement. If unset, the entitlement does not expire (indefinite entitlement). We need to support indefinite entitlements for platform publishers. dd: go/rrm-sl-notedotcom Entitlements that have expired over 30 days will be purged."
        },
        "subscriptionToken": {
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google.",
          "type": "string"
        }
      },
      "id": "Entitlement",
      "description": "A single entitlement for a publication reader",
      "type": "object"
    }
  }
}