{
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview",
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "name": "readerrevenuesubscriptionlinking",
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "basePath": "",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "title": "Reader Revenue Subscription Linking API",
  "discoveryVersion": "v1",
  "id": "readerrevenuesubscriptionlinking:v1",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "schemas": {
    "ReaderEntitlements": {
      "description": "A singleton containing all of a reader's entitlements for a publication.",
      "properties": {
        "entitlements": {
          "items": {
            "$ref": "Entitlement"
          },
          "description": "All of the entitlements for a publication reader.",
          "type": "array"
        },
        "name": {
          "description": "Output only. The resource name of the singleton.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ReaderEntitlements",
      "type": "object"
    },
    "Reader": {
      "properties": {
        "publicationId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The SwG publication id that the reader has linked their subscription to."
        },
        "name": {
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id.",
          "type": "string",
          "readOnly": true
        },
        "ppid": {
          "readOnly": true,
          "description": "Output only. The publisher provided id of the reader.",
          "type": "string"
        },
        "originatingPublicationId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time the publication reader was created and associated with a Google user.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Reader",
      "type": "object",
      "description": "A reader of a publication."
    },
    "DeleteReaderResponse": {
      "properties": {},
      "id": "DeleteReaderResponse",
      "description": "Response to deleting a reader of a publication.",
      "type": "object"
    },
    "Entitlement": {
      "id": "Entitlement",
      "description": "A single entitlement for a publication reader",
      "properties": {
        "detail": {
          "type": "string",
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit."
        },
        "subscriptionToken": {
          "type": "string",
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google."
        },
        "expireTime": {
          "type": "string",
          "description": "Optional. Expiration time of the entitlement. If unset, the entitlement does not expire (indefinite entitlement). We need to support indefinite entitlements for platform publishers. dd: go/rrm-sl-notedotcom Entitlements that have expired over 30 days will be purged.",
          "format": "google-datetime"
        },
        "productId": {
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\"",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "canonicalName": "Subscription Linking",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "version": "v1",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "resources": {
    "publications": {
      "resources": {
        "readers": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present.",
              "response": {
                "$ref": "DeleteReaderResponse"
              },
              "parameters": {
                "force": {
                  "description": "If set to true, any entitlements under the reader will also be purged.",
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete"
            },
            "getEntitlements": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
                  "required": true,
                  "type": "string",
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements",
              "httpMethod": "GET",
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "updateEntitlements": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Optional. The list of fields to update. Defaults to all fields.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "location": "path",
                  "type": "string",
                  "description": "Output only. The resource name of the singleton.",
                  "required": true
                }
              },
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "request": {
                "$ref": "ReaderEntitlements"
              },
              "httpMethod": "PATCH"
            },
            "get": {
              "id": "readerrevenuesubscriptionlinking.publications.readers.get",
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist.",
              "httpMethod": "GET",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "Reader"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "location": "path",
                  "pattern": "^publications/[^/]+/readers/[^/]+$"
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260827",
  "protocol": "rest"
}