{
  "name": "readerrevenuesubscriptionlinking",
  "version_module": true,
  "version": "v1",
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "schemas": {
    "DeleteReaderResponse": {
      "id": "DeleteReaderResponse",
      "description": "Response to deleting a reader of a publication.",
      "properties": {},
      "type": "object"
    },
    "Entitlement": {
      "id": "Entitlement",
      "description": "A single entitlement for a publication reader",
      "properties": {
        "subscriptionToken": {
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google.",
          "type": "string"
        },
        "productId": {
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\"",
          "type": "string"
        },
        "expireTime": {
          "description": "Required. Expiration time of the entitlement. Entitlements that have expired over 30 days will be purged. The max expire_time is 398 days from now().",
          "type": "string",
          "format": "google-datetime"
        },
        "detail": {
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Reader": {
      "id": "Reader",
      "description": "A reader of a publication.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id.",
          "readOnly": true,
          "type": "string"
        },
        "originatingPublicationId": {
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the publication reader was created and associated with a Google user.",
          "readOnly": true
        },
        "publicationId": {
          "description": "Output only. The SwG publication id that the reader has linked their subscription to.",
          "readOnly": true,
          "type": "string"
        },
        "ppid": {
          "description": "Output only. The publisher provided id of the reader.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReaderEntitlements": {
      "type": "object",
      "id": "ReaderEntitlements",
      "description": "A singleton containing all of a reader's entitlements for a publication.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the singleton.",
          "readOnly": true,
          "type": "string"
        },
        "entitlements": {
          "items": {
            "$ref": "Entitlement"
          },
          "description": "All of the entitlements for a publication reader.",
          "type": "array"
        }
      }
    }
  },
  "servicePath": "",
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "id": "readerrevenuesubscriptionlinking:v1",
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview",
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "ownerName": "Google",
  "resources": {
    "publications": {
      "resources": {
        "readers": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "readerrevenuesubscriptionlinking.publications.readers.get",
              "path": "v1/{+name}",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "response": {
                "$ref": "Reader"
              },
              "httpMethod": "GET",
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist."
            },
            "getEntitlements": {
              "httpMethod": "GET",
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "path": "v1/{+name}",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements"
            },
            "updateEntitlements": {
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "httpMethod": "PATCH",
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "request": {
                "$ref": "ReaderEntitlements"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "location": "path",
                  "description": "Output only. The resource name of the singleton.",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Optional. The list of fields to update. Defaults to all fields."
                }
              }
            },
            "delete": {
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete",
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}"
                },
                "force": {
                  "description": "If set to true, any entitlements under the reader will also be purged.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present.",
              "response": {
                "$ref": "DeleteReaderResponse"
              },
              "path": "v1/{+name}",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}"
            }
          }
        }
      }
    }
  },
  "revision": "20260706",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "canonicalName": "Subscription Linking",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "title": "Reader Revenue Subscription Linking API"
}