{
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "batchPath": "batch",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "readerrevenuesubscriptionlinking",
  "canonicalName": "Subscription Linking",
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "id": "readerrevenuesubscriptionlinking:v1",
  "version": "v1",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "title": "Reader Revenue Subscription Linking API",
  "schemas": {
    "Reader": {
      "type": "object",
      "id": "Reader",
      "properties": {
        "ppid": {
          "description": "Output only. The publisher provided id of the reader.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the publication reader was created and associated with a Google user."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id."
        },
        "originatingPublicationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from."
        },
        "publicationId": {
          "description": "Output only. The SwG publication id that the reader has linked their subscription to.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A reader of a publication."
    },
    "DeleteReaderResponse": {
      "description": "Response to deleting a reader of a publication.",
      "id": "DeleteReaderResponse",
      "properties": {},
      "type": "object"
    },
    "ReaderEntitlements": {
      "description": "A singleton containing all of a reader's entitlements for a publication.",
      "id": "ReaderEntitlements",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the singleton."
        },
        "entitlements": {
          "type": "array",
          "description": "All of the entitlements for a publication reader.",
          "items": {
            "$ref": "Entitlement"
          }
        }
      },
      "type": "object"
    },
    "Entitlement": {
      "description": "A single entitlement for a publication reader",
      "type": "object",
      "id": "Entitlement",
      "properties": {
        "subscriptionToken": {
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google.",
          "type": "string"
        },
        "detail": {
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit.",
          "type": "string"
        },
        "productId": {
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\"",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Expiration time of the entitlement. If unset, the entitlement does not expire (indefinite entitlement). We need to support indefinite entitlements for platform publishers. dd: go/rrm-sl-notedotcom Entitlements that have expired over 30 days will be purged."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "version_module": true,
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20260805",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview",
  "basePath": "",
  "resources": {
    "publications": {
      "resources": {
        "readers": {
          "methods": {
            "get": {
              "id": "readerrevenuesubscriptionlinking.publications.readers.get",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "response": {
                "$ref": "Reader"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist."
            },
            "delete": {
              "response": {
                "$ref": "DeleteReaderResponse"
              },
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present.",
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "type": "string"
                },
                "force": {
                  "type": "boolean",
                  "description": "If set to true, any entitlements under the reader will also be purged.",
                  "location": "query"
                }
              }
            },
            "updateEntitlements": {
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "description": "Output only. The resource name of the singleton.",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Optional. The list of fields to update. Defaults to all fields.",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "path": "v1/{+name}",
              "request": {
                "$ref": "ReaderEntitlements"
              }
            },
            "getEntitlements": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "type": "string",
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "ReaderEntitlements"
              }
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/"
}