{
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "ownerName": "Google",
  "revision": "20260928",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "schemas": {
    "Reader": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time the publication reader was created and associated with a Google user.",
          "readOnly": true,
          "type": "string"
        },
        "publicationId": {
          "type": "string",
          "description": "Output only. The SwG publication id that the reader has linked their subscription to.",
          "readOnly": true
        },
        "ppid": {
          "type": "string",
          "description": "Output only. The publisher provided id of the reader.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id."
        },
        "originatingPublicationId": {
          "readOnly": true,
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from.",
          "type": "string"
        }
      },
      "description": "A reader of a publication.",
      "type": "object",
      "id": "Reader"
    },
    "Entitlement": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\""
        },
        "subscriptionToken": {
          "type": "string",
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google."
        },
        "detail": {
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit.",
          "type": "string"
        },
        "expireTime": {
          "description": "Optional. Expiration time of the entitlement. If unset, the entitlement does not expire (indefinite entitlement). We need to support indefinite entitlements for platform publishers. dd: go/rrm-sl-notedotcom Entitlements that have expired over 30 days will be purged.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Entitlement",
      "description": "A single entitlement for a publication reader"
    },
    "ReaderEntitlements": {
      "type": "object",
      "id": "ReaderEntitlements",
      "description": "A singleton containing all of a reader's entitlements for a publication.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the singleton.",
          "readOnly": true,
          "type": "string"
        },
        "entitlements": {
          "type": "array",
          "items": {
            "$ref": "Entitlement"
          },
          "description": "All of the entitlements for a publication reader."
        }
      }
    },
    "ListReaderEntitlementsResponse": {
      "properties": {
        "readerEntitlements": {
          "items": {
            "$ref": "ReaderEntitlements"
          },
          "description": "The collection of ReaderEntitlements found across the scoped child publications. Every element's `name` field will contain the canonical sub-publication path, never the wildcard dash.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response containing the aggregated collection of matching ReaderEntitlements objects.",
      "id": "ListReaderEntitlementsResponse",
      "type": "object"
    },
    "DeleteReaderResponse": {
      "description": "Response to deleting a reader of a publication.",
      "type": "object",
      "id": "DeleteReaderResponse",
      "properties": {}
    }
  },
  "discoveryVersion": "v1",
  "id": "readerrevenuesubscriptionlinking:v1",
  "version_module": true,
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "title": "Reader Revenue Subscription Linking API",
  "resources": {
    "publications": {
      "resources": {
        "-": {
          "resources": {
            "readers": {
              "resources": {
                "entitlements": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "parent": {
                          "pattern": "^publications/-/readers/[^/]+$",
                          "required": true,
                          "description": "Required. The parent reader scope. Format: \"publications/-/readers/{reader_id}\"",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The maximum number of entitlements to return. The service may return fewer than this value. If unspecified, at most 50 entitlements will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListReaderEntitlements` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReaderEntitlements` must match the call that provided the page token.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/entitlements",
                      "description": "Lists reader entitlements across parent publications via wildcard. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
                      "flatPath": "v1/publications/-/readers/{readersId}/entitlements",
                      "response": {
                        "$ref": "ListReaderEntitlementsResponse"
                      },
                      "id": "readerrevenuesubscriptionlinking.publications.-.readers.entitlements.list"
                    }
                  }
                }
              }
            }
          }
        },
        "readers": {
          "methods": {
            "getEntitlements": {
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "type": "string"
                }
              },
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist."
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete",
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present.",
              "path": "v1/{+name}",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "type": "string",
                  "location": "path"
                },
                "force": {
                  "location": "query",
                  "description": "If set to true, any entitlements under the reader will also be purged.",
                  "type": "boolean"
                }
              },
              "httpMethod": "DELETE",
              "response": {
                "$ref": "DeleteReaderResponse"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist.",
              "response": {
                "$ref": "Reader"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "id": "readerrevenuesubscriptionlinking.publications.readers.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "required": true
                }
              }
            },
            "updateEntitlements": {
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "description": "Optional. The list of fields to update. Defaults to all fields.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "description": "Output only. The resource name of the singleton.",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "PATCH",
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "request": {
                "$ref": "ReaderEntitlements"
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements"
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "servicePath": "",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "name": "readerrevenuesubscriptionlinking",
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "canonicalName": "Subscription Linking",
  "version": "v1",
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview"
}