{
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://readerrevenuesubscriptionlinking.mtls.googleapis.com/",
  "canonicalName": "Subscription Linking",
  "title": "Reader Revenue Subscription Linking API",
  "baseUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://readerrevenuesubscriptionlinking.googleapis.com/",
  "schemas": {
    "Reader": {
      "id": "Reader",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the publication reader was created and associated with a Google user.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id.",
          "readOnly": true,
          "type": "string"
        },
        "ppid": {
          "readOnly": true,
          "description": "Output only. The publisher provided id of the reader.",
          "type": "string"
        },
        "publicationId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The SwG publication id that the reader has linked their subscription to."
        },
        "originatingPublicationId": {
          "readOnly": true,
          "description": "Output only. The SwG publication id that the reader's subscription linking was originating from.",
          "type": "string"
        }
      },
      "description": "A reader of a publication."
    },
    "ReaderEntitlements": {
      "id": "ReaderEntitlements",
      "description": "A singleton containing all of a reader's entitlements for a publication.",
      "properties": {
        "entitlements": {
          "type": "array",
          "description": "All of the entitlements for a publication reader.",
          "items": {
            "$ref": "Entitlement"
          }
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the singleton."
        }
      },
      "type": "object"
    },
    "DeleteReaderResponse": {
      "type": "object",
      "id": "DeleteReaderResponse",
      "description": "Response to deleting a reader of a publication.",
      "properties": {}
    },
    "Entitlement": {
      "description": "A single entitlement for a publication reader",
      "properties": {
        "subscriptionToken": {
          "type": "string",
          "description": "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google."
        },
        "productId": {
          "description": "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\"",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Optional. Expiration time of the entitlement. If unset, the entitlement does not expire (indefinite entitlement). We need to support indefinite entitlements for platform publishers. dd: go/rrm-sl-notedotcom Entitlements that have expired over 30 days will be purged.",
          "type": "string"
        },
        "detail": {
          "type": "string",
          "description": "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit."
        }
      },
      "id": "Entitlement",
      "type": "object"
    }
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/news/subscribe/subscription-linking/overview",
  "description": "readerrevenuesubscriptionlinking.googleapis.com API.",
  "protocol": "rest",
  "version_module": true,
  "batchPath": "batch",
  "id": "readerrevenuesubscriptionlinking:v1",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "servicePath": "",
  "resources": {
    "publications": {
      "resources": {
        "readers": {
          "methods": {
            "updateEntitlements": {
              "httpMethod": "PATCH",
              "description": "Updates the reader entitlements for a publication reader. The entire reader entitlements will be overwritten by the new reader entitlements in the payload, like a PUT. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "request": {
                "$ref": "ReaderEntitlements"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ReaderEntitlements"
              },
              "path": "v1/{+name}",
              "id": "readerrevenuesubscriptionlinking.publications.readers.updateEntitlements",
              "parameters": {
                "updateMask": {
                  "description": "Optional. The list of fields to update. Defaults to all fields.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "description": "Output only. The resource name of the singleton.",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "type": "string"
                }
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements"
            },
            "getEntitlements": {
              "httpMethod": "GET",
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}/entitlements",
              "id": "readerrevenuesubscriptionlinking.publications.readers.getEntitlements",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^publications/[^/]+/readers/[^/]+/entitlements$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the reader entitlements to retrieve. Format: publications/{publication_id}/readers/{reader_id}/entitlements",
                  "location": "path"
                }
              },
              "description": "Gets the reader entitlements for a publication reader. - Returns PERMISSION_DENIED if the caller does not have access. - Returns NOT_FOUND if the reader does not exist.",
              "response": {
                "$ref": "ReaderEntitlements"
              }
            },
            "delete": {
              "id": "readerrevenuesubscriptionlinking.publications.readers.delete",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "force": {
                  "description": "If set to true, any entitlements under the reader will also be purged.",
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "location": "path",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "DeleteReaderResponse"
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "description": "Removes a publication reader, effectively severing the association with a Google user. If `force` is set to true, any entitlements for this reader will also be deleted. (Otherwise, the request will only work if the reader has no entitlements.) - If the reader does not exist, return NOT_FOUND. - Return FAILED_PRECONDITION if the force field is false (or unset) and entitlements are present."
            },
            "get": {
              "description": "Gets a reader of a publication. Returns NOT_FOUND if the reader does not exist.",
              "path": "v1/{+name}",
              "id": "readerrevenuesubscriptionlinking.publications.readers.get",
              "response": {
                "$ref": "Reader"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the reader. Format: publications/{publication_id}/readers/{ppid}",
                  "required": true,
                  "pattern": "^publications/[^/]+/readers/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1/publications/{publicationsId}/readers/{readersId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "name": "readerrevenuesubscriptionlinking",
  "kind": "discovery#restDescription",
  "version": "v1",
  "revision": "20260819"
}